[2020-04-23 16:51] #7319 closed

[2020-04-23 16:54] tcnghia commented on #6520
Yes, this looks like a one-time setup during install, so no need to do it per Revision.  Which is also great because no code change, and users that dislike the restriction could easily remove it themselves (and potentially replaced with something else to their liking).

[2020-04-23 19:18] dprotaso commented on #7291
Hey sorry missed the notification - put it in the 0.15.x milestone given @padlar's PR

[2020-04-23 22:30] robscott opened #7701 "Add Support for EndpointSlices"
/area networking
/kind feature

## Describe the feature
It would be great if Knative could support [EndpointSlices](https://kubernetes.io/docs/concepts/services-networking/endpoint-slices/). This is a new Kubernetes resource that provides a scalable and extensible alternative to Endpoints. Although there may be more cases where this pattern is used, I've noticed that Knative [manually creates Endp

[2020-04-23 22:32] tcnghia commented on #7701
cc @vagababov @markusthoemmes

[2020-04-23 22:38] vagababov commented on #7701
/assign

It's quite interesting that this was the exact question I asked in Barcelona during the presentation  of the API (what will happen to the APIs that manually create endpoints) and it was completely ignored by the presenters :-)

[2020-04-23 22:40] vagababov commented on #7701
Now to the actual problem at hand, @robscott ,
do we basically have to create both endpoints and endpointslices mirroring the contents?

[2020-04-23 22:47] robscott commented on #7701
@vagababov Yep, that's what would be needed. We're also looking into ways we can mirror custom Endpoints to EndpointSlices automatically, but any automatic approach will be imperfect. As an example, EndpointSlices have topology fields that can't be derived from Endpoints resources. On the other hand, if you're not interested in anything specific with EndpointSlices, this potential automatic mirror

[2020-04-23 23:05] vagababov commented on #7701
Yeah, I am not sure we have any use for topology just yet. Might be interesting in future with NLS work or to pick activators from the same zone as nodes, etc, but right now, just copy of IP addresses.

[2020-04-23 23:22] #7685 closed

[2020-04-24 06:26] vagababov commented on #7046
I am not sure if this is worth it.
Endpointslices with topology information applied seems like a _better_ solution and can be done in SKS.
I'll keep this around for a few days while I ponder, but I am leaning towards closing this.

[2020-04-24 06:54] markusthoemmes commented on #7701
I wondered about this too, especially looking at #7260. We could have a more efficient solution there, not relying on subset ordering in the endpoints object if we had an endpointslice just for the activator IPs potentially.

It's only beta in 1.17 though, what's the availability of the API currently?

[2020-04-24 12:01] #5894 closed

[2020-04-24 12:35] duglin opened #7708 "Allow for custom URL schemes"
## In what area(s)?
/area networking

## Describe the feature

Today the ksvc.Status.url value uses "http" as the scheme. It would be nice if the admin could influence this, similar to how they can control the shape of the "path" of the URL via domainTemplate.

So, even if the system can support more than one (http and https), the preferred value that appears within the Status section might need t

[2020-04-24 13:19] julz opened #7711 "Decouple autoscaling configuration from KSvc/Revisions/ConfigMap"
## Problem

Right now if I want to customise my autoscaling properties (target, initialScale, containerConcurrency, burst capacity etc) I have to either do it independently for each ksvc/revision (understanding all the various knobs) or hope my cluster administrator made good default choices. Which is sometimes ok - cluster admins are nice and smart people. But! They can only specify global defaul

[2020-04-24 13:32] markusthoemmes commented on #7708
We have similar need. On Openshift, we front each Knative Ingress with an "Openshift Route", which sets up ingress and whatnot and forwards that into Kourier (as an example) to cater for Knative's routing needs.

The capabilities are basically external to Knative as the Openshift Route is responsible for supporting HTTPS for example, which it does OOTB.

[2020-04-24 16:47] robscott commented on #7701
The API itself is enabled by default in 1.17, the controller is enabled by default in 1.18, and kube-proxy is not configured to use EndpointSlices by default yet in any version. For now this will only come up for users that intentionally enable the `EndpointSliceProxying` feature gate in 1.18 or `EndpointSlice` in feature gate on kube-proxy in 1.16-1.17. As I've looked into this further, it looks

[2020-04-24 17:26] vagababov commented on #7701
Let's keep it anyway, even if no integration will be required anyway. Since as Markus noted we might have some interesting usages for slices ourselves.

[2020-04-24 17:26] vagababov commented on #7701
Thanks for the help, Rob.

[2020-04-24 17:32] vagababov commented on #7711
I had similar concerns as well, but didn't think much along the solutions, so thanks for that! :)

One way I looked at it _profiles_ in the cli/ui, where you can specify canned configurations and CLI/UI knows how to apply them when you specify `class=webapp`. Probably also less work codewise :-)

[2020-04-24 18:03] tshak commented on #6114
I just ran into this as well if anyone needs help reproducing. If it matters, my AKS cluster is using Managed Identities and the pods use the Service Principal to pull images. Deploying using a bare `Deployment` works fine on the cluster. With a `ksvc` it failed to pull the image until I applied the `registriesSkippingTagResolving`as described above.  I don't think that we need anything specific t

[2020-04-24 18:09] ZhiminXiang opened #7719 "Support Ingress mutual TLS within Auto TLS feature"
<!--
## In what area(s)?
Remove the '> ' to select

## Describe the feature
I hear some users would like to use auto TLS together with ingress mutual TLS.
Currently we do not make auto TLS work with ingress mutual TLS because we don't provide an API for users to provide their CA certificate for verifying the client certificates.

I think we probably want to an API for users to bring their own CA c

[2020-04-24 21:06] ZhiminXiang commented on #7308
This issue has been fixed by https://github.com/knative/net-certmanager/pull/6

[2020-04-24 21:06] #7308 closed

[2020-04-24 22:21] tcnghia commented on #6114
@jonjohnsonjr @mattmoor is this a GGCR bug?

@tshak AFAIK the way a `Deployment` pulls an image is similar to Knative with `registriesSkippingTagResolving`.  Without `registriesSkippingTagResolving`, Knative will perform an additional step of resolving the tag to pin the Revision to a particular image digest.

[2020-04-24 22:42] mattmoor commented on #6114
cc @n3wscott who is using AKS for dev.

[2020-04-24 22:57] n3wscott commented on #6114
I have not run into this. I have a private registry but I subscribed the cluster to the registry and that seems to have worked.

One issue I did run into was ko was not working well with the api and I had to add a bucket to the ko path, like: `KO_DOCKER_REPO=n3wscott.azurecr.io/kn ko apply -f ./config`

[2020-04-24 23:33] vagababov opened #7723 "Fast Scale To 0 e2e test is quite flaky"
I am not sure what's going on there, but it became quite flaky recently.
The logging is insufficient so far.
https://github.com/knative/serving/pull/7706 — helped ruling out subsetting as the new issue.

/assign

[2020-04-24 23:37] vagababov commented on #7723
So for this run: https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_serving/7717/pull-knative-serving-integration-tests/1253790186274295808

It seems that the first time we wanted to scale to 0 was `21:15:22.856`.
And next time was `21:15:40.X`
And nothing really happened in between
And at `21:15:40.266` the actual fast scale down logic is triggered with telling `in proxy mode for

[2020-04-24 23:39] vagababov commented on #7723
On my cluster I ran the test for ~100 times with 100% degree of success. So I have to presume it's the noisy neighbour problem of sorts.

[2020-04-25 13:07] laststem opened #7725 "helloworld-go example not working.."
## Ask your question here:

**[Environment]**
istio: 1.4.3
knative: 0.14
cluster: docker-for-mac

**[Situation]**
1. Already installed istio
2. install [serving component](https://knative.dev/docs/install/any-kubernetes-cluster/#installing-the-serving-component)
3. install networking layer
[code]
4. run helloworld-go example
[code]

How can i solve this?

[2020-04-25 13:39] tshak commented on #6114
@n3wscott I'm not using `ko`. I should have clarified that I'm pulling from the Azure Container Registry. My cluster is secured using a [Managed Identity](https://docs.microsoft.com/en-us/azure/aks/use-managed-identity), so I'm not specifying any image pull secrets anywhere.

[2020-04-25 17:10] vagababov commented on #7725
Let's start with
`kubectl get all`
If you have other stuff, just keep the ones with `helloworld` in the name.

[2020-04-25 17:18] laststem commented on #7725
[code]
here it is

[2020-04-25 19:32] vagababov commented on #7725
It seems you're missing ingress, sks and podautoscaler resources.
Though the revision seems ready as do route and service itself.

what does
`kubectl get ingress,sks,podautoscaler all` return?

[2020-04-26 04:31] laststem commented on #7725
[code]

Is it related to the above network problem?

[2020-04-26 17:27] vagababov commented on #7725
No this all looks healthy. I think the problem is with Istio. Knative seems to have created and scaled to 0 all your pods, but I don't see any unexpected states.

[2020-04-27 01:02] nak3 commented on #7725
Yeah, I also suspect Istio. Could you please share your Gateway and VirtualService?

[code]

Additionally, can you try to enable access log on istio-ingressgateway(envoy)? Your `curl` reached out `server: istio-envoy` so I guess we can get the log. You can configure it by:

[code]

BEFORE:

[code]

AFTTER:

[code]

Then, please restart istio-ingressgatewy (delete istio-ingressgatewy pods).

You sh

[2020-04-27 06:12] markusthoemmes commented on #6634
This is fixed via https://github.com/knative/pkg/pull/1013

[2020-04-27 06:12] #6634 closed

[2020-04-27 12:03] knative-test-reporter-robot opened #7727 "[flaky] test/e2e.TestMinScale"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestMinScale
* **Repository name**: serving

[2020-04-27 12:53] andrew-su commented on #6642
/remove-lifecycle stale

[2020-04-27 12:59] andrew-su commented on #6375
/close

[2020-04-27 12:59] #6375 closed

[2020-04-27 13:45] xvzf opened #7728 "Support for PHP Stack"
## In what area(s)?
Remove the '> ' to select
/area API

Other classifications:

/kind spec
-->

## Describe the feature
Revisiting #3384, I'd like to feature request the support for multiple containers per pod in order to allow e.g. running a PHP stack consisting of `php-fpm` and `nginx` as concrete use case.

I know this can be circumvented by a kind of complex json patch injected by a `Mutating

[2020-04-27 14:05] markusthoemmes commented on #7728
We continued the discussion in https://github.com/knative/serving/issues/5822 and multi-container support is in the works referring that. Do you mind mentioning your use-case there?

[2020-04-27 14:22] xvzf commented on #5822
Related to https://github.com/knative/serving/issues/7728

@evankanderson Here's a production use case for multiple containers in one Pod (in addition to metric exporters etc):

Maintaining e.g. an PHP stack with `php-fpm` and `nginx`.

I know this can be circumvented by a kind of complex json patch injected by a `MutatingAdmissionWebhook` but I don't see why Knative would limit on this.

[code]

[2020-04-27 14:23] xvzf commented on #7728
Updated the mentioned issue!

[2020-04-27 16:25] vagababov commented on #7727
cc @tanzeeb
I think it's a setup failure of sorts since pods never scaled to more than `3` and we wanted `4`, but can you please verify?

[2020-04-27 16:48] markusthoemmes commented on #7260
Doing this now isn't really worth the effort as we're saving very little for quite a lot of complexity. Closing for now and maybe revisiting as part of slices.

/close

[2020-04-27 16:48] #7260 closed

[2020-04-27 19:04] vagababov commented on #7046
/close
Will deal with it when endpoint slices are beta/ga.

[2020-04-27 19:04] #7046 closed

[2020-04-28 00:21] vagababov commented on #6653
/close
This should be stable now

[2020-04-28 00:21] #6653 closed

[2020-04-28 01:19] nmnellis commented on #7533
temporary workaround is to add the filter to the ingressgateway but you can run into collision issues if multiple versions of the application are deployed

[code]

[2020-04-28 07:08] richard2006 opened #7741 "Update ksvc caused the IngressNotConfigured after upgraded to 0.13.x"
## In what area(s)?
/area networking

## What version of Knative?

## Expected Behavior
Upgrade from 0.11.0 to 0.13.2, I found the ksvcs works fine. But when i update the ksvc to new revision, i found the ksvs status is Unknown.
[code]

And the ingress reason is Uninitialized
[code]
## Actual Behavior
Update the ksvc to new revision works fine after upgrade from 0.11.0 to 0.13.2
## Steps to Reprod

[2020-04-28 08:03] nak3 opened #7742 "Ksvc fails to create VirtualService in all-numeric namespace"
## In what area(s)?

/area networking

## What version of Knative?

[code]

## Expected Behavior

- Ksvc become `READY` in all-numeric namespace or this should be known limitation with default domainTemplate?

## Actual Behavior

- Ksvc does not become Ready.

[code]

## Steps to Reproduce the Problem

#### 1. Use default domainTemplate

[code]

#### 2. Create namespace with all-numeric.

[code]

[2020-04-28 09:45] nak3 commented on #7568
I have worked on docs update, but the `*-operator.yaml` is not compatible between v1.5.1 and v1.5.2 due to https://github.com/istio/istio/issues/22095.

TL;DR
We used the workaround on v1.5.1 to add dummy selector:

https://github.com/knative/serving/blob/cac3287054faf4bc657725674912f2d1a8e842e2/third_party/istio-1.5.1/istio-ci-mesh-operator.yaml#L81-L88

But v1.5.2 fails with following error for

[2020-04-28 14:34] mpetason commented on #6520
The networkpolicy will be applied for default but it doesn't cover other namespaces. We have a couple options that I can think of, please feel free to add any others I might not have thought of.

1. Use this during the original setup and cover the default namespace. Add documentation explaining how this works and recommend that the user applies it to other namespaces.

2. Apply the networkpolicy p

[2020-04-28 14:43] laststem commented on #7725
[code]

Oh, istio config `accessLogFile: "/dev/stdout"` already applied.

please see istio ingress gateway logs below
[code]

[2020-04-28 15:10] julz opened #7748 "KIngress Host Rewrite Support"
Github issue for [KIngress Host Rewrite Support](https://docs.google.com/document/d/1xK-g55kFdRRpYsiHyesmYWKURWi1sJlIWxMwkRmlyuM) proposal

## Description

KIngress should support host rewriting. This would allow (after further work to expose some user-facing chrome) nice use cases such as:

- Vanity URLs: backing one’s “vanityismy.name” domain with a knative service. Today this would require cust

[2020-04-28 16:29] vagababov commented on #4421
/remove-lifecycle stale
/good-first-issue

[2020-04-28 16:30] vagababov commented on #6593
/remove-lifecycle stale
cc @tcnghia anyone driving  this?

[2020-04-28 16:33] vagababov commented on #7741
/cc @JRBANCEL
Is this the issue you fixed recently?

[2020-04-28 16:51] thiagosantosleite commented on #3687
Any plans for support multiple and custom domains for the same ksvc?

[2020-04-28 17:30] JRBANCEL commented on #7741
Yes, see https://github.com/knative/net-istio/pull/71

[2020-04-29 01:03] danehans commented on #6593
@vagababov the service-apis project is still working on traffic splitting support. The project has been focused on more pressing issues, but it's our intent to make progress with traffic splitting in the near future.

[2020-04-29 02:37] nak3 commented on #7725
Thank you. Just in case, your curl command was wrong in this time. You should use the command like:

[code]

You used it correctly in the first report so I guess it is same result, but please check access log in ingressgateway pod with the correct request.

If the correct curl gave you the same access log, could you test with following Istio's sample pod?

#### 1. Deploy httpbin svc

[code]

####

[2020-04-29 05:14] chizhg opened #7755 "Stop releasing serving.yaml"
## What version of Knative?

nightly release

## Expected Behavior

Serving can be installed and started correctly

## Actual Behavior

Getting an error in install serving with kubectl 1.18

## Steps to Reproduce the Problem

1. Create a GKE cluster with Istio addon enabled
2. Run `kubectl apply -f https://storage.googleapis.com/knative-nightly/serving/latest/serving.yaml --selector knative.dev/cr

[2020-04-29 12:05] knative-test-reporter-robot opened #7762 "[flaky] test/conformance/ingress.TestRetry/period=3,attempts=2"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestRetry/period=3,attempts=2
* **Repository name**: serving

[2020-04-29 12:05] knative-test-reporter-robot opened #7763 "[flaky] test/conformance/ingress.TestRetry/period=9,attempts=9"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestRetry/period=9,attempts=9
* **Repository name**: serving

[2020-04-29 12:05] knative-test-reporter-robot opened #7764 "[flaky] test/conformance/ingress.TestRetry/period=5,attempts=4"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestRetry/period=5,attempts=4
* **Repository name**: serving

[2020-04-29 12:05] knative-test-reporter-robot opened #7765 "[flaky] test/conformance/ingress.TestRetry/period=11,attempts=11"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestRetry/period=11,attempts=11
* **Repository name**: serving

[2020-04-29 12:05] knative-test-reporter-robot opened #7766 "[flaky] test/conformance/ingress.TestRetry/period=8,attempts=7"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestRetry/period=8,attempts=7
* **Repository name**: serving

[2020-04-29 12:05] knative-test-reporter-robot opened #7767 "[flaky] test/conformance/ingress.TestRetry/period=5,attempts=5"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestRetry/period=5,attempts=5
* **Repository name**: serving

[2020-04-29 12:05] knative-test-reporter-robot opened #7768 "[flaky] test/conformance/ingress.TestRetry/period=6,attempts=5"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestRetry/period=6,attempts=5
* **Repository name**: serving

[2020-04-29 12:05] knative-test-reporter-robot opened #7769 "[flaky] test/conformance/ingress.TestRetry/period=10,attempts=9"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestRetry/period=10,attempts=9
* **Repository name**: serving

[2020-04-29 12:05] knative-test-reporter-robot opened #7770 "[flaky] test/conformance/ingress.TestRetry/period=9,attempts=8"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestRetry/period=9,attempts=8
* **Repository name**: serving

[2020-04-29 12:05] knative-test-reporter-robot opened #7771 "[flaky] test/conformance/ingress.TestRetry/period=10,attempts=10"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestRetry/period=10,attempts=10
* **Repository name**: serving

[2020-04-29 12:05] knative-test-reporter-robot opened #7772 "[flaky] test/conformance/ingress.TestRetry/period=2,attempts=1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestRetry/period=2,attempts=1
* **Repository name**: serving

[2020-04-29 12:05] knative-test-reporter-robot opened #7773 "[flaky] test/conformance/ingress.TestRetry/period=2,attempts=2"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestRetry/period=2,attempts=2
* **Repository name**: serving

[2020-04-29 14:22] laststem commented on #7725
thanks. @nak3

using `curl -H "Host: hello..." http://localhost` is work.
but it was failed first time, and i didnt change any settings.

Anyway, thanks. I can follow next knative topic

[2020-04-29 14:22] #7725 closed

[2020-04-29 15:06] mattmoor commented on #7755
We publish `serving-crds.yaml`, which we should be using in place of this selector with `kubectl`.

The labels in here now mainly exist to enable `ko` (which handles things properly) to filter the objects it is resolving.

Want to switch over any places that are using this selector?

[2020-04-29 16:43] chizhg commented on #7755
Thanks! I tried installing `https://storage.googleapis.com/knative-nightly/serving/latest/serving-crds.yaml` and `https://storage.googleapis.com/knative-nightly/serving/latest/serving-core.yaml` with `kubectl` 1.18, and it works.

One more question, are we planning to deprecate `serving.yaml`? Shall we delete it since it cannot  be installed with `kubectl` 1.18 (and I assume for the above versions

[2020-04-29 16:50] chaodaiG commented on #7755
@mattmoor , does this mean starting kubectl 1.18 `--selector` will not work properly for `ko`?

[2020-04-29 22:59] #1185 closed

[2020-04-29 23:34] vagababov commented on #7723
#7782
Should fix this
/close

[2020-04-29 23:34] #7723 closed

[2020-04-30 00:16] salanki commented on #6549
+1 on this. Causing me major pain.

[2020-04-30 03:54] mattmoor commented on #7755
`ko` should intercept and handle this just fine, please let me know if you see otherwise.

[2020-04-30 04:52] salanki opened #7790 "DestinationRules don't seem to take effect"
/area networking
## What version of Knative?
KNative: 0.13.0
Istio: 1.4.7

## Expected Behavior

A DestinationRule matching a revision service name should apply it's policies. The traffic is coming from the KNative Ingress Gateway.

## Actual Behavior

Nothing happens, it seems as the DestinationRule is not applied at all.

My theory is that the issue is related to https://stackoverflow.com/questi

[2020-04-30 05:00] ZhiminXiang commented on #7790
@salanki Could you try Istio 1.5 and see if it works?

@nak3 I am wondering if this issue is similar with https://github.com/istio/istio/issues/17837 which may have been resolved in Istio 1.5 .

[2020-04-30 05:04] salanki commented on #7790
Yes, that was mentioned to me on Slack. Regretfully I don't have an avenue to deploy Istio 1.5 right now as they have pretty much dropped Helm support, which means quite a lot of refactoring on my end to use `istioctl`. If someone already has Knative up with Istio 1.5 I would appreciate a test.

[2020-04-30 05:12] salanki opened #7791 "Set Istio VirtualService timeout to the revision timeout"
/area networking

## Describe the feature
Currently, the Istio `VirtualService` gets created with a timeout of `max-revision-timeout-seconds` from the config. This is a bit awkward, as it can lead to error-amplification when KSVC `timeoutSeconds` is set much lower than this.

Assume `timeoutSeconds` is set to 60, but config `max-revision-timeout-seconds` is left to the default 600.

When a request

[2020-04-30 05:27] salanki opened #7792 "Activator Load Balancing worse than Istio Default"
/area networking

## What version of Knative?

KNative: 0.13.0
Istio: 1.4.7

## Expected Behavior

With Activator in the path, I would expect load balancing to be better given that it operates on a least connection basis than Istios default round-robin.

## Actual Behavior

I am observing the opposite in my setup, with periods that Pods are processing no requests while others get too many.

I have

[2020-04-30 05:48] vagababov commented on #7792
I presume you mean `target-burst-capacity`?

Activator LB is not operating on LeastLoaded basis. It operates at "first pod with capacity", which means some pods are loaded more than others (with CC=1 it should matter less, since either a pod gets a request or it doesn't). At the time this was the only approach that worked for any CC.

How many activators do you have? That also affects the algorith

[2020-04-30 05:53] salanki commented on #7792
Yes, that's what I meant, edited. I only have one activator, so that should not be the issue. Given that CC is 1, it should be the same as least load, since it won't send out a request to any Pod unless it has free capacity, which it only does if it has 0 current requests. Or am I misunderstanding the algorithm? I am tracking https://github.com/knative/serving/issues/7664, which seems veered towar

[2020-04-30 05:57] vagababov commented on #7792
So I cannot understand much looking at your graphs.
You're looking at latency stddev, rather than at some percentile.
The main thing we optimize for is for lack of queueing (which usually translates into better latency at p95-p99).

[2020-04-30 05:58] vagababov commented on #7792
Also it seems to look at stddev per pod? How does the distribution on the client side look like?

[2020-04-30 06:05] salanki commented on #7792
Here is a graph of the 90th and 95 percentile taken from the request side. The blue annotations denote when Activator is enabled and disabled.

![Screen Shot 2020-04-30 at 02 04 28](https://user-images.githubusercontent.com/192223/80677479-f3472c00-8a86-11ea-9332-47dfbee2c5e8.png)

[2020-04-30 06:10] vagababov commented on #7792
That shouldn't be the case.
Would yo mind sharing the Activator logs around this time?

Also seeing the revision being the same. Are you changing config map value or you edit the revision directly?

[2020-04-30 06:13] salanki commented on #7792
I am changing the config map values. Will get you activator logs, thank you!

[2020-04-30 06:34] vagababov commented on #7792
Also we export from QP a "QueueDepth" metric, do you see queueing in that metric as well?

[2020-04-30 06:51] markusthoemmes commented on #7792
Do you have the mesh enabled in istio? If mesh is enabled, the activator can't do it's magic because Istio mesh doesn't allow for pod addressability. It'd fallback to random, essentially.

[2020-04-30 11:53] richard2006 commented on #7741
Got it, thanks

[2020-04-30 12:04] knative-test-reporter-robot opened #7793 "[flaky] 1.02% tests failed in repo serving on 2020-04-30 10:11:15 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.02% tests failed in repo serving on 2020-04-30 10:11:15 +0000 UTC
* **Repository name**: serving

[2020-04-30 13:46] nak3 commented on #7790
It think https://github.com/istio/istio/issues/17837 is not related to this issue. In fact I tested it with Istio v1.5 but the destination rule did not take effect on knative's ExternalName service. (I also confirmed that the destination rule works with K8S's ExternalName service.)

I will test https://stackoverflow.com/questions/54197734/istio-destination-rule-subsets-not-working/54209833#5420983

[2020-04-30 16:02] vagababov opened #7796 "Activator Should Respect Revision timeout"
Currently it doesn't.
We rely on QP to do the due diligence. But it's not always correct (possible).
Consider
- infinite timeout on client
- CC=1
- maxScale=5
- 5 in flight requests
- 6th request arrives.

Activator will hold it **forever**. We do not want that.
So, Activator has also to respect that timeout.

What should be done?
1. https://github.com/knative/serving/blob/master/pkg/queue/timeout

[2020-04-30 16:06] mgencur opened #7797 "Leader-elected mode not enabled for existing controllers"
When leader election is enabled at runtime in the `config-leader-election` ConfigMap the existing pods do not apply these settings. They continue running in the normal mode and later when more pods are started for a controller and the new leader is elected this original controller keeps reconciling knative resources, together with any new leader
This leads to race conditions. The user has to manua

[2020-04-30 16:30] salanki commented on #7792
How do you define mesh enabled with Istio. I do not run the sidecars. My Istio Helm values are here, for reference: https://gist.github.com/salanki/4d139b039ed9654254c2abe8ab8707d0

[2020-04-30 16:43] salanki commented on #7792
@vagababov: Weird, I don't have the `queue_depth` metric. What I have is `revision_request_count`, `revision_request_latencies` (sum,count,bucket) , and the `revision_app` counterparts of those.

[2020-04-30 17:01] vagababov commented on #7797
While this is unfortunate, this is a major change in mode of operation of the system and I guess asking for a restart is reasonable (I think directly switching to HA mode would be a bit hard to implement). Also related to Matt's latest doc.
/cc @mattmoor @pmorie

[2020-04-30 17:06] vagababov commented on #7792
Hmm, it seems it's not in the graphana config.
I remember clearly adding it... I wonder if someone removed it. let me check.

[2020-04-30 17:43] salanki commented on #7792
It's not in my Prometheus database, if it was only missing from some Grafana dashboard it would be an easy fix!

[2020-04-30 17:51] vagababov commented on #7792
Yeah, I see it's not in the graphana. You can curl the pods at `:9091` port directly (not ideal), but if you see values `2+` it might be something to investigate. If you don't then it's not queueing...

[2020-04-30 17:52] salanki commented on #7792
It is not in prometheus, it is not exposed on `:9091`, I already checked.

[2020-04-30 17:56] shashwathi commented on #7796
/assign @shashwathi
/assign @andrew-su

[2020-04-30 18:47] vagababov commented on #7792
That's super strange.
This is output of mine:
[code]

[2020-04-30 20:03] salanki commented on #7792
It is because the breaker is not initialized on my container, because:
[code]

That I don't understand at all. The Pod has `autoscaling.knative.dev/target: 1`

[2020-04-30 20:11] vagababov commented on #7792
Target is Soft limit. You need container concurrency to have hard limit.
That's the reason why activator load balancing is not working for you as
well.

On Thu, Apr 30, 2020 at 1:03 PM Peter Salanki <notifications@github.com>
wrote:

[2020-04-30 20:12] salanki commented on #7792
It seems as my `containerConcurrency` is set to 0 (ie. default). My assumption was that activator would go off `autoscaling.knative.dev/target`, however this seems to be the wrong assumption.

[2020-04-30 20:12] vagababov commented on #7792
We have fresh docs https://knative.dev/development/serving/configuring-autoscaling/

[2020-04-30 20:14] tcnghia commented on #7791
queue-proxy currently enforces the Revision timeout (see https://github.com/knative/serving/pull/2522).

Victor opened to enforce Revision timeout in Activator https://github.com/knative/serving/issues/7796

[2020-04-30 20:29] salanki commented on #7791
Yes, I understand that `queue-proxy` enforces it, but when `queue-proxy` sends back the 502, Istio will retry it based on it having `retryOn` 5xx and a timeout of 600s.

[2020-04-30 20:30] tcnghia commented on #7790
@nak3 does a DestinationRule work with the Revision service though?

Previously I have seen it working with Revision service, but that may have been before we switched to using a headless Service.

[2020-04-30 20:32] salanki commented on #7791
https://github.com/knative/serving/blob/af63abe0d4aaf9ef9999dd46dc8e933d59b980b3/pkg/apis/networking/v1alpha1/ingress_defaults.go#L75

[2020-04-30 20:33] tcnghia commented on #7791
I see, we could reopen #2201 and plumb through the timeout here

https://github.com/knative/serving/blob/master/pkg/reconciler/route/resources/ingress.go#L206

[2020-04-30 20:33] salanki commented on #7792
This clearly seems to be it. Thank you and I appreciate all the help

[2020-04-30 20:33] #7792 closed

[2020-04-30 20:36] salanki commented on #7791
If I don't lower the max timeout in the configmap to the same as my individual revision timeout, the behavior I am getting is pretty bad when the revision times out:

![Screen Shot 2020-04-30 at 16 35 04](https://user-images.githubusercontent.com/192223/80756528-ae5fdb80-8b00-11ea-8261-483912844618.png)

[2020-04-30 20:46] mattmoor commented on #7797
TBH, my preference would be to get enough mileage through the leader election code that we can just enable it by default and remove that moving part.

[2020-04-30 20:48] tcnghia commented on #2201
It seems that configuring Timeout based on destination is still not feasible in Envoy (https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route_components.proto#route-routeaction) so it is very unlikely that we can get this working at the Ingress for any of our implementation.

[2020-04-30 20:55] tcnghia commented on #6549
Now that we have a prober, let's remove the 5xx from our retry list here.

If we see more error masking we will consider removing the retry altogether then.

[2020-04-30 20:58] tcnghia commented on #7791
The main reason that timeout is handled in queue-proxy and activator is that in traffic splitting cases, we can't enforce timeout based on the destination.

We could, however, set the timeout to the max(revisionTimeouts) and it would help cases like yours where all Revisions in a traffic split shares the same timeout setting.

[2020-04-30 21:17] mgencur commented on #7797
We could start with a PR that enables it by default, uses just one pod for every controller (same as now) and runs all test suites in this mode except for HA tests where it would be enough to spin up a new pod which would automatically run in leader-election mode.

[2020-04-30 21:57] tcnghia commented on #6549
On second thought, I think may be dropping Retry out of KIngress is the right thing to do.  Several reasons:
(1) What Retry does is highly dependable on the Retriable status code.  These may be hard to express in a implementation-agnostic way.  Without defining what is retriable, Retry doesn't really have a meaning.
(2) If Retry are only for TCP errors, we may leave that to the implementation to c

[2020-05-01 01:06] mattmoor commented on #6549
if we're gonna make a change that needs bake time, let's get it in ASAP.

[2020-05-01 01:06] vagababov commented on #5978
![image](https://user-images.githubusercontent.com/764767/80772954-45329500-8b0d-11ea-8c75-6bd934ce524b.png)
The preview of the latency gains we're getting from direct pod scraping.

[2020-05-01 02:26] tcnghia commented on #7264
@zhanggbj seems this is no longer an issue for you?

Feel free to reopen if it still is.

[2020-05-01 02:26] #7264 closed

[2020-05-01 02:27] tcnghia commented on #6891
Hi now that https://github.com/istio/istio/issues/17837  is addressed, can you please try again with Istio 1.5?

[2020-05-01 02:29] tcnghia commented on #6793
Knative 0.13 and 0.14 has more lenient prober https://github.com/knative/serving/pull/6962  .

Can you please try again with 0.14?

[2020-05-01 02:30] tcnghia commented on #6529
/assign @JRBANCEL

[2020-05-01 02:33] tcnghia commented on #6367
Given that our Knative API doesn't expose Retry, I think going down the path of defining a RetryOn policy that works across different implementations may be a bit overkill for us.

Instead may be we should just avoid using Retry through KIngress, and let the implementation chooses what to do here, or exposing configurations at the implementation level.

[2020-05-01 07:00] markusthoemmes commented on #5978
Well that‘s indeed worth it! Great stuff!

[2020-05-01 07:36] salanki commented on #7792
Thank you for helping me narrow that down @vagababov. My KSVCs are created by KFserving, and I didn't realize that they were not setting the `containerConcurrency`, only the annotation.

The activator does it's job better than anticipated, please see some before and after screenshots here.

**Before**
![Screen Shot 2020-05-01 at 03 31 35](https://user-images.githubusercontent.com/192223/80790363-a

[2020-05-01 12:01] #5937 closed

[2020-05-01 12:01] #6129 closed

[2020-05-01 12:01] #6125 closed

[2020-05-01 12:05] knative-test-reporter-robot opened #7805 "[flaky] test/e2e.TestSvcToSvcViaActivator"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSvcToSvcViaActivator
* **Repository name**: serving

[2020-05-01 12:05] #6945 closed

[2020-05-01 12:05] knative-test-reporter-robot opened #7806 "[flaky] test/e2e.TestSvcToSvcViaActivator/both-enabled"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSvcToSvcViaActivator/both-enabled
* **Repository name**: serving

[2020-05-01 12:05] knative-test-reporter-robot opened #7807 "[flaky] test/conformance/ingress.TestPercentage"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestPercentage
* **Repository name**: serving

[2020-05-01 16:41] vagababov commented on #7792
Glad could help!

[2020-05-01 16:49] vagababov commented on #5978
Fixed the actual measurements, still looks good: https://github.com/knative/serving/pull/7804#issuecomment-622465303

[2020-05-01 18:21] salanki commented on #810
Fixed by https://github.com/knative/serving/commit/3a06cfdeb5b0c5d9e9b3252562d644a702eb18a5

[2020-05-01 20:49] yuzisun opened #7813 "Knative service getting IngressNotConfigured error when scale to 30 istio ingress pods"
/area networking

## What version of Knative?

0.12.1

## Expected Behavior

Knative services should be in ready state after scaling to 30 Istio ingress pods and 50 services in the cluster. Note that we run istio ingress gateway as daemonset.

## Actual Behavior

Knative service can not get into ready state and stuck on `IngressNotConfgured` error
[code]

## Steps to Reproduce the Problem

Scale i

[2020-05-01 21:08] vagababov commented on #7813
/cc @tcnghia @JRBANCEL
Can it be because prober as well?

[2020-05-01 21:42] JRBANCEL commented on #7813
Looking
/assign

[2020-05-01 22:59] JRBANCEL commented on #7813
Using the logs provided offline, I found out that a lot of probing is being done: ~4k unique requests, result of ~50 Knative Services and ~30 Envoy Pods.
Given that we use the k8s workqueue with the [default rate limiter](https://github.com/knative/serving/blob/master/pkg/network/status/status.go#L137) which is [10 QPS](https://github.com/knative/serving/blob/1c4f17699e1ad05938791f6913b6a38abfc015

[2020-05-02 02:45] yuzisun commented on #6081
@nak3 thanks! I will try to find the equivalent config.

[2020-05-02 03:15] nak3 commented on #7790
The DestinationRule works with `-private` service. For revision nameservce,  it is difficult to confirm as the revision name service does not work the direct curl access due to another error `Error getting active endpoint: revision.serving.knative.dev "" not found`.

For named ports, I confirmed that the presence of ports makes different behavior. (Note that the name convention seems not matter, b

[2020-05-02 12:03] knative-test-reporter-robot opened #7818 "[flaky] test/conformance/api/v1.TestContainerExitingMsg/http"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestContainerExitingMsg/http
* **Repository name**: serving

[2020-05-02 12:03] #7550 closed

[2020-05-02 12:03] knative-test-reporter-robot opened #7819 "[flaky] test/e2e.TestCallToPublicService"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestCallToPublicService
* **Repository name**: serving

[2020-05-02 12:03] knative-test-reporter-robot opened #7820 "[flaky] test/e2e.TestSvcToSvcViaActivator/b-disabled"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSvcToSvcViaActivator/b-disabled
* **Repository name**: serving

[2020-05-02 12:03] #7551 closed

[2020-05-02 12:03] #7764 closed

[2020-05-02 12:03] #7239 closed

[2020-05-02 12:03] #7768 closed

[2020-05-02 12:03] knative-test-reporter-robot opened #7821 "[flaky] test/conformance/api/v1alpha1.TestAnnotationPropagation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestAnnotationPropagation
* **Repository name**: serving

[2020-05-02 12:03] #7773 closed

[2020-05-02 12:03] #7772 closed

[2020-05-02 12:03] #7767 closed

[2020-05-02 12:03] #7552 closed

[2020-05-02 12:03] knative-test-reporter-robot opened #7822 "[flaky] test/conformance/runtime.TestProbeRuntime/httpGet"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestProbeRuntime/httpGet
* **Repository name**: serving

[2020-05-02 12:03] #7770 closed

[2020-05-02 12:04] #7765 closed

[2020-05-02 12:04] knative-test-reporter-robot opened #7823 "[flaky] test/conformance/runtime.TestProbeRuntime"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestProbeRuntime
* **Repository name**: serving

[2020-05-02 17:40] vagababov commented on #6409
We'll no longer ship monitoring bundle. So I guess this is moot point now.
/close

[2020-05-02 17:40] #6409 closed

[2020-05-02 21:32] yuzisun commented on #6081
@nak3 tried following rule with deprecated RBAC, it does not seem to work not sure if it is a istio bug
[code]

[2020-05-03 00:01] #5126 closed

[2020-05-03 00:01] #6147 closed

[2020-05-03 05:02] ZhiminXiang commented on #7312
This issue was fixed by https://github.com/knative/serving/pull/7810

[2020-05-03 05:02] #7312 closed

[2020-05-03 07:19] nak3 opened #7825 "TestServiceValidationWithInvalidPodSpec always fails on mesh mode"
This issue is caused by Istio's setting. But opened this ticket because the test is always failing so need to fix somehow.

## In what area(s)?

/area test-and-release

## What version of Knative?

Build on fcba76930a908d1f4725392690966e1aec19a73a

## Steps to Reproduce the Problem

Please refer to the result of in mesh mode:

- [1.5-mesh](https://testgrid.knative.dev/serving#istio-1.5-mesh&includ

[2020-05-03 12:03] knative-test-reporter-robot opened #7826 "[flaky] test/scale.TestScaleToN"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN
* **Repository name**: serving

[2020-05-03 12:03] knative-test-reporter-robot opened #7827 "[flaky] test/scale.TestScaleToN/scale-10"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-10
* **Repository name**: serving

[2020-05-04 11:55] yuzisun commented on #7813
@JRBANCEL Is there any reason we need to call `AddRateLimited` instead of `Add` here? For the initial enqueue I feel we can call `Add` and for retries with failed probes we should call `AddRateLimited`, WDYT?
https://github.com/knative/serving/blob/master/pkg/network/status/status.go#L255

[2020-05-04 12:01] #5307 closed

[2020-05-04 12:01] #6080 closed

[2020-05-04 12:04] #7422 closed

[2020-05-04 12:04] #7237 closed

[2020-05-04 12:04] #7823 closed

[2020-05-04 12:04] #7763 closed

[2020-05-04 12:04] #7251 closed

[2020-05-04 12:04] #7769 closed

[2020-05-04 12:04] #7766 closed

[2020-05-04 12:05] knative-test-reporter-robot opened #7834 "[flaky] test/e2e.TestDestroyPodWithRequests"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDestroyPodWithRequests
* **Repository name**: serving

[2020-05-04 12:05] #7762 closed

[2020-05-04 12:05] #7822 closed

[2020-05-04 12:05] knative-test-reporter-robot opened #7835 "[flaky] test/conformance/runtime.TestShouldHaveStdinEOF"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestShouldHaveStdinEOF
* **Repository name**: serving

[2020-05-04 12:05] #7549 closed

[2020-05-04 12:05] #7421 closed

[2020-05-04 12:05] #7818 closed

[2020-05-04 12:05] #7771 closed

[2020-05-04 12:05] knative-test-reporter-robot opened #7836 "[flaky] test/conformance/api/v1alpha1.TestServiceGenerateName"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestServiceGenerateName
* **Repository name**: serving

[2020-05-04 12:05] #7820 closed

[2020-05-04 16:15] dprotaso commented on #6516
hey @hpandeycodeit let us know if you're still able to work on this issue. Otherwise feel free to unassign yourself to give someone else the opportunity

[2020-05-04 17:09] hpandeycodeit commented on #6516
sorry about that. I have unassigned myself from this issue.

[2020-05-04 19:34] tshak commented on #7265
I would prefer an opt-in label instead of the current opt-out annotation e.g.
 `networking.internal.knative.dev/nsCert: true`

For backwards compatibility this will need a configMap  item like `autoAddNsCert` which defaults to `true`

[2020-05-04 20:05] tcnghia commented on #6549
https://github.com/knative/serving/pull/7842 is in for baking.  If no regression is found we will keep #7842 for v0.15

[2020-05-04 20:11] dprotaso commented on #7825
cc @whaught

[2020-05-04 21:46] JRBANCEL commented on #7813
We could do that because probing is also throttled by the fact that there are only 15 worker goroutines, but I wonder if it would be useful since the first probing call is unlikely to succeed since we are most likely faster than Istio + Envoy.

It would be worth investigating being smarter. For example, if we know Istio + Envoy takes X ms to apply the new configuration, there is no need probing be

[2020-05-04 22:17] ZhiminXiang opened #7844 "Auto TLS HTTP01 challenge fail"
## What version of Knative?

From the test grid (https://testgrid.knative.dev/serving#contour-latest), Auto TLS HTTP01 consistently fails with Contour.

Contour already follows the Ingress conformance (https://testgrid.knative.dev/net-contour#continuous). Auto TLS should work with Contour.

[2020-05-04 22:34] vagababov commented on #3961
/unassign
/close

[2020-05-04 22:34] #3961 closed

[2020-05-04 22:34] vagababov commented on #5978
This is now complete, I think. I might go over the code and cleanup some stuff, but I think this is ultimately done.
/close

[2020-05-04 22:34] #5978 closed

[2020-05-04 23:40] #7446 closed

[2020-05-05 00:14] vagababov commented on #7596
The FT document, approved at WG meeting April 15 (https://docs.google.com/document/d/1l5KkaFV7Xa0w8VrnU5bC0XuizuhmZW3wuMJ4x92mDTo/preview)

[2020-05-05 00:56] ZhiminXiang commented on #7310
This is fixed by https://github.com/knative/net-certmanager/pull/16

[2020-05-05 00:56] #7310 closed

[2020-05-05 02:16] duglin commented on #6549
@tcnghia thanks!!

[2020-05-05 06:10] vagababov opened #7848 "Deprecate CM setting of `tick-interval`."
This is one of the most obscure autoscaler settings and we've never seen any questions related to it. Besides a lot of things in the AS depend on this being 2s (e.g. we sample metrics at 2x frequency).
Remove once 0.15 is cut.

/area autoscale
/assign

[2020-05-05 08:43] markusthoemmes commented on #5304
This is done as of d1c1e34f1f32c69eb1f27238e668418596cb210c and was part of the 0.14 release.

[2020-05-05 08:43] #5304 closed

[2020-05-05 12:03] knative-test-reporter-robot opened #7852 "[flaky] pkg/reconciler/revision.TestNewRevisionCallsSyncHandler"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/revision.TestNewRevisionCallsSyncHandler
* **Repository name**: serving

[2020-05-05 12:03] #7827 closed

[2020-05-05 12:04] #7826 closed

[2020-05-05 12:04] #6670 closed

[2020-05-05 12:04] #7806 closed

[2020-05-05 12:04] #7805 closed

[2020-05-06 02:58] #7593 closed

[2020-05-06 12:03] #7067 closed

[2020-05-06 12:03] #7835 closed

[2020-05-06 12:03] #7834 closed

[2020-05-06 12:03] #7836 closed

[2020-05-06 12:03] #7821 closed

[2020-05-06 12:03] #7064 closed

[2020-05-06 16:32] vagababov commented on #5403
/remove-lifecycle stale

[2020-05-06 17:07] mpetason commented on #6520
Another option - one NetworkPolicy per namespace. When creating a new revision check if a networkpolicy is setup for the namespace, if there isn't one then create a new one.

[2020-05-06 22:50] yanweiguo commented on #5403
/assign

[2020-05-07 01:45] JRBANCEL commented on #7556
@mattmoor any thoughts on this?

[2020-05-07 01:49] nak3 opened #7871 "Ingress Conformance Tracking & Doc"
/area networking

Our current documentation does not make clear how well a KIngress implementation integrates with Knative. We should establish:

1. clear criterias for being Alpha/Beta/Stable.
1. surface indicators in our Knative documentation to help users aware of how conformant different KIngress implementations are.

Proposal Doc: https://docs.google.com/document/d/1-oFais46gcPyaYYXiTxjWgok97

[2020-05-07 02:48] mattmoor commented on #7556
That is a bit odd, but the `NotOwned` behavior is intentional.  For the most part this isn't really a problem due to our use of suffixes, but the main source of collisions is the placeholder service we use for routes so that the cluster local address works out to `name.ns.svc.cluster.local`.

They should be able to use foreground deletion to force the cascade eagerly.

I'm not sure if there are an

[2020-05-07 02:48] mattmoor commented on #7556
cc @dprotaso

[2020-05-07 03:34] #7844 closed

[2020-05-07 09:45] robertpanzer commented on #7320
I stumbled over a similar issue not using native but with the Istio client.
Galley seems to be validating only certain, known properties.
And the generated code istio/api fails on the serialization.
As a workaround I disabled this validation before using the client:
[code]
(And the same for all other watched resource types)

[2020-05-07 12:03] #7852 closed

[2020-05-07 12:03] #7571 closed

[2020-05-07 12:03] knative-test-reporter-robot opened #7874 "[flaky] test/upgrade.TestProbe"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestProbe
* **Repository name**: serving

[2020-05-07 16:28] dprotaso opened #7881 "Future of /var/log"
@JRBANCEL From the WG meeting discussion a suggested approach could be:

1. Make /var/log optional in the runtime contract
2. Instead of dropping support in the upstream we change the behaviour to:
2.1 When /var/log collection is enabled by the operator we keep the same behaviour as is
2.2 When /var/log collection is disabled by the operator we _do not_ mount the read/writable /var/log volume
2.2

[2020-05-08 12:03] knative-test-reporter-robot opened #7888 "[flaky] 4.75% tests failed in repo serving on 2020-05-08 10:11:22 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 4.75% tests failed in repo serving on 2020-05-08 10:11:22 +0000 UTC
* **Repository name**: serving

[2020-05-08 14:47] #7658 closed

[2020-05-08 20:59] vagababov opened #7895 "Ignore TBC for CC=0? Or not?"
_This is a theoretical issue so far_

Currently we do not do any smart load balancing and queuing for revisions that have CC=0.

- Since CC=0, Activator does not queue at all:
  - so no actual burst protection for those revisions
- Since CC=0, Activator just forwards requests to a random pod
  - same algorithm as iptables/k8s service load balacing

But instead we proxy everything through activator

[2020-05-09 00:12] vagababov commented on #6632
/close

[2020-05-09 00:12] #6632 closed

[2020-05-09 09:57] julz commented on #7881
does 2.2 mean that an operator changing this setting would cause images that work on one knative installation to fail on another?

[2020-05-09 12:03] #6946 closed

[2020-05-09 12:03] #7819 closed

[2020-05-09 12:03] #7673 closed

[2020-05-09 12:03] #7369 closed

[2020-05-09 13:14] dprotaso commented on #7881
Yeah JR pointed this out here: https://github.com/knative/serving/pull/7751#issuecomment-622011842

This is up for discussion so hence why I made the issue.

For context the motivation for this is we’re dropping support/removing the monitoring bundle

[2020-05-09 13:51] julz commented on #7881
Right just checking my understanding. I understand making the monitoring bundle optional, I guess I’m missing some context on why it’s not possible to disable it without changing which images work. Obviously if you don’t deploy the bundle you won’t see logs etc, but couldn’t we keep the image contract the same?

[2020-05-09 14:08] dprotaso commented on #7881
To support the log collection we currently always mount our own empty volume at /var/log - that overrides the image content at that mount point. So some images don’t work regardless if you collect the logs or not. ie. nginx

I don't know what’s preferred by the community at this point. So I’ve been raising awareness.

[2020-05-09 14:16] julz commented on #7881
Right, I guess it just seems like two orthogonal things:

1. Monitoring bundle disabling - doesn’t require changing image contract when that changes, we can just not collect the logs
1. Supporting images with /var/log already in them - could be an orthogonal per-revision parameter which would work _whether or not_ the monitoring bundle were deployed (so images with that set/not set work consistent

[2020-05-09 14:20] julz commented on #7881
(I could also see us changing the global default to be not collecting/mounting and then letting people explicitly say if they want us to collect from /var/log, I just think it seems like if the contract changes depending on an operator rather than per-revision setting that makes it not really much of a contract :))

[2020-05-09 15:35] mattmoor commented on #7895
As discussed in slack, I agree that the benefit today is minimal-to-non-existent, but I also don't think we're in the end-state.  In principle, we hook in the activator to buffer excess load while additional capacity is brought up, but for CC=0 we only do that today when scaled to zero.  I could see us buffering a subset of requests at CC=0 under additional circumstances with NLS.

One additional

[2020-05-10 00:01] #3447 closed

[2020-05-10 00:11] chizhg commented on #2644
/remove-lifecycle rotten

On Sat, May 9, 2020, 5:01 PM Knative Housekeeping Robot <
notifications@github.com> wrote:

[2020-05-10 00:26] duglin commented on #4736
@mattmoor (or anyone) can I get this reopened? I missed the lifecycle messages.

[2020-05-10 00:48] vagababov commented on #4736
/reopen

[2020-05-10 01:22] duglin commented on #4736
@vagababov thanks!

[2020-05-10 12:03] #7874 closed

[2020-05-10 16:42] zhanggbj opened #7903 "Failed to create a ksvc due to autoscaler performance"
## What version of Knative?

## Expected Behavior

created 100 knative services sequentially successfully

## Actual Behavior

[code]

Started with ksvc #90, kn service creation faild with `waiting for a Revision to become ready`.The reason is Knative cannot create KPA at this time, we can see the status is queued.
[code]

While this period,  from the resource metrics for Autoscaler, it perhaps du

[2020-05-11 00:01] #6205 closed

[2020-05-11 06:33] markusthoemmes commented on #7903
Thanks for reporting this. Can you specify exactly how many revisions are active in the system when the problem occurs? The report says "90" but then the reproducer says "create hundreds of services" so it'd be nice to get an exact number on the amount of revisions needed to cause this.

The autoscaler does not (yet) support HA no. The autoscaling WG has it on their agenda/roadmap but... it's not

[2020-05-11 08:16] zhanggbj commented on #7903
Discussed with @markusthoemmes in #autoscaler channel, here's a brief summary

1. When the issue occurred, there're 400+ revision in total. Before I create 100 service with 1 revision and --min-scale=1, there're already 200+ service there.

2. If no HA support yet, I'll **bump the CPU limit** first and see how it goes.

3. @markusthoemmes mentioned "I'll throw better scale testing on the WGs roadm

[2020-05-11 09:51] larssuanet opened #7906 "Cluster-local-endpoint not working while ksvc is ready"
I am using the `cluster-local-gateway` to deploy my applications. When deploying the sample application, the `ksvc` becomes ready, but a cURL on the endpoint returns a 404.

## What version of Knative?

0.14.0

## Expected Behavior

After deploying the sample application using the `cluster-local-gateway`, I expect to be able to get a HTTP 200 response when I cURL the endpoint from inside the clust

[2020-05-11 12:03] knative-test-reporter-robot opened #7908 "[flaky] test/e2e.TestServiceToServiceCall"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestServiceToServiceCall
* **Repository name**: serving

[2020-05-11 12:03] #7566 closed

[2020-05-11 12:55] nak3 commented on #7906
Hi @larssuanet One quick question.

There is a doc to install cluster local gateway here - [Updating your install to use cluster local gateway](https://knative.dev/docs/install/installing-istio/), but you wanted to use the "custom" ingress gateway for the cluster-local-gateway?
If no, could you please try to install cluster-local-gateway with the steps in the doc above?

Actually the example in th

[2020-05-11 14:11] larssuanet commented on #7906
Hi @nak3 , thanks for your reply.

I tried that guide first, but I had some trouble spawning the cluster-local-gateway.

Since I am using the `istio-ingressgateway` for some of my other applications, I could not disable it. After applying the helm template as described in the guide, leaving out the lines
[code]
the cluster-local-gateway does not spawn. That's why I created the cluster-local gatewa

[2020-05-11 16:38] julz commented on #7895
my 2c are largely in line with @mattmoor's - we have really great benchmarks that tell us that all the optimisations we made for CC>0 are necessary to avoid queuing. The obvious corollary is that for CC=0 (which is probably the most common case right now, given the warnings about CC>0 in our docs, and is certainly the default case) we will still have a lot of queuing unless we can find ways to app

[2020-05-11 17:29] julz opened #7910 "Allow setting global default for containerConcurrency in autoscaler CM"
## Describe the feature

Operators should be allowed to set a global default for ContainerConcurrency in the autoscaler config map. This would be important, for example, where the default resource limits are small and the default behaviour could lead to a lot of burst traffic hitting a container that can't handle it with CC=0.

As a data point, Google Cloud Run's knative-compatible hosted service

[2020-05-11 22:16] vagababov commented on #7796
Hi,
any updates on this one?

[2020-05-11 22:24] JRBANCEL commented on #7881
From our internal data, I can tell you this is feature is barely enabled.

It would make sense to not mount the emptyDir volume when collection is not enabled, but as mentioned earlier it is very risky because enabling it could potentially break **existing** Knative services (it is a global setting, it doesn't follow any orchestration or deployment strategy).

[2020-05-11 23:10] andrew-su commented on #7796
You can see the changes: https://github.com/andrew-su/knative-serving/tree/issues/7796

[2020-05-11 23:43] yanweiguo commented on #7596
/lgtm

[2020-05-12 02:18] vagababov commented on #7910
/close
https://github.com/knative/serving/blob/master/config/core/configmaps/defaults.yaml#L83 — this is already implemented
😊

[2020-05-12 02:18] #7910 closed

[2020-05-12 05:51] vagababov commented on #7895
Well `right now we do random which is going to end up with queuing more vs even round robin`  with CC=0 there's no queueing, but _if it were_ yeah. Though random is what the users would get otherwise in no mesh scenario (k8s service LB is iptables, hence random).

[2020-05-12 07:40] julz commented on #7895
“with CC=0 theres no queuing” - there’s no queuing in knative. To be clear (which I wasn’t above :)) I’m assuming here since CC=0 is our default a lot of apps that aren’t highly multithreaded will be deployed with CC=0, and therefore will queue/be overloaded (in the app, not knative).

[2020-05-12 08:20] julz commented on #7910
Huh, our docs written a week ago are wrong then!

"The hard limit has no global setting and is only specifiable per-revision."

https://github.com/knative/docs/blob/master/docs/serving/configuring-autoscaling.md#hard-limit-containerconcurrency

[2020-05-12 08:41] markusthoemmes commented on #7910
Yeah I didn't even know about it :joy:. @vagababov sent a patch to the docs I think.

[2020-05-12 08:44] julz commented on #7910
oops we might've raced then! https://github.com/knative/docs/pull/2448

[2020-05-12 08:47] julz commented on #7910
kind of sad that this one is in config-defaults whereas things like class (which iirc also default after revision creation) are in config-autoscaler. oh well.

[2020-05-12 08:49] markusthoemmes commented on #7910
Yeah it's a little contentious as containerconcurrency isn't strictly an autoscaler setting.

[2020-05-12 08:59] julz opened #7915 "For discussion: we should default CC to a non-zero value"
Currently we default containerConcurrency to 0 and recommend in the docs people don't use CC > 0 unless they know they need it. This has the advantage of avoiding unnecessarily imposing queuing on something that could have easily handled the load (e.g. a web app in a large container on a non-busy host machine), but may be a pretty unfortunate default - for example - for resource constrained enviro

[2020-05-12 09:07] julz opened #7916 "Add setting to prevent users setting CC=0"
There is a `container-concurrency-max-limit` config map property that allows an operator to set a maximum allowed container concurrency level (https://github.com/knative/serving/blob/master/config/core/configmaps/defaults.yaml#L90).

However even with this set a user can still set `containerConcurrency` to 0, which means unbounded concurrency. An operator that wants to prevent users setting very h

[2020-05-12 09:15] markusthoemmes commented on #7916
Why not `container-concurrency-min-limit` as a dual of the max limit?

[2020-05-12 09:19] julz commented on #7916
I quite like the symmetry of that @markusthoemmes but tbh Im not sure if I can think of a use case where an operator wants to set a minimum concurrency (as opposed to preventing 0=infinity).

In fact I think `container-concurrency-min-limit`, if we added it, would be an orthogonal feature: for example you may want to set a `container-concurrency-min-limit` of 5 (say) but _allow_ infinite concurren

[2020-05-12 09:50] markusthoemmes commented on #7916
Gotcha, yeah that makes sense.

[2020-05-12 12:00] #7741 closed

[2020-05-12 12:03] knative-test-reporter-robot opened #7920 "[flaky] 3.85% tests failed in repo serving on 2020-05-12 10:10:46 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 3.85% tests failed in repo serving on 2020-05-12 10:10:46 +0000 UTC
* **Repository name**: serving

[2020-05-12 14:23] vagababov commented on #7916
I think this should be more along the lines of initial scale where we prohibit 0 as a special case.

[2020-05-12 14:25] julz commented on #7916
I'll PR this unless someone shouts that they hate the idea

/assign @julz

[2020-05-12 15:07] FWiesner opened #7923 "securityContext not working on Pod level as expected"
## In what area(s)?
/area API

## What version of Knative?
0.13.x

## Expected Behavior
https://knative.dev/docs/serving/spec/knative-api-specification-1.0/ specifies that on containers you could specify a `securityContext` with `runAsUser`. While this works with individual containers, it will not work when used outside of the `containers` section to set defaults for all containers

## Actual Beha

[2020-05-12 15:10] FWiesner commented on #7923
/label area/API

[2020-05-12 15:12] FWiesner commented on #7923
/area API

[2020-05-12 15:16] FWiesner opened #7924 "please support more parts of securityContext"
## In what area(s)?
/area API

## Describe the feature
https://knative.dev/docs/serving/spec/knative-api-specification-1.0/ allows you using `runAsUser` from the containers' `securityContext`, but none of the other fields.

When running Knative services have to access shared volumes, this is not enough. When your shared volumes rely on proper group membership, then `runAsGroup` and `fsGroup` would

[2020-05-12 15:38] richterdavid opened #7925 "add security policy"
Add a security policy as described here:

https://help.github.com/en/github/managing-security-vulnerabilities/adding-a-security-policy-to-your-repository

[2020-05-12 15:39] richterdavid commented on #7925
/assign me

[2020-05-12 15:39] richterdavid commented on #7925
/assign richterdavid

[2020-05-12 15:48] dprotaso commented on #7924
Hey @FWiesner thanks for the issue

Just to capture more context can you comment on how you plan on using these fields?

For example:
- are you trying to run certain images that expect certain gid/uids
- if you're trying to follow a best practice - what is it?
- etc.

[2020-05-12 15:57] somaya10 opened #7926 "Istio-ingressgateway crashes due to OOM"
## What version of Knative?
0.13.0

## Expected Behavior

The istio-ingressgateway pods do not keep restarting due to OOM

## Actual Behavior

Istio-ingressgateway pods have many restarts and the `istio-proxy` container keeps fluctuating between healthy and killed due to OOM.
[code]
The istio-ingressgateway pod shows status as
[code]
The Requests and limits set `istio-proxy` container on the istio

[2020-05-12 16:12] vagababov commented on #7926
This looks like Istio question and probably better asked there?

[2020-05-12 21:10] dprotaso opened #7929 "e2e test documentation should use v1 APIs"
[test/adding_tests.md](https://github.com/knative/serving/blob/da5ee7d50befbc68ea13b1dac51f296b94b71809/test/adding_tests.md) shows examples using the v1alpha1 APIs but should be using `v1` APIs

[2020-05-13 07:32] somaya10 commented on #7926
@vagababov We did get a bunch of possible things we could try out with Istio as mentioned in the `Additional Info` channel, but since we are only using Istio via knative we were wondering on how to test these out?
For example: We could remove the `retry option` but knative would reconcile it almost immediately.

[2020-05-13 10:58] sneko opened #7933 "Impossible to make websockets working on Knative with Google Cloud Run on GKE"
## What version of Knative?

GKE Cluster: v0.11.0-gke.9
According to https://cloud.google.com/run/docs/gke/release-notes the Knative should be at least: v0.5.0

## Expected Behavior

Having inbound websockets to work.

## Actual Behavior

Always getting this error when connecting:
[code]

It simply does not work on my cluster "Google Cloud Run on GKE".

I know that it cannot work with Cloud Run fu

[2020-05-13 12:02] knative-test-reporter-robot opened #7936 "[flaky] pkg/reconciler/serverlessservice.TestGlobalResyncOnActivatorChange"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/serverlessservice.TestGlobalResyncOnActivatorChange
* **Repository name**: serving

[2020-05-13 12:02] knative-test-reporter-robot opened #7937 "[flaky] pkg/reconciler/autoscaling/kpa.TestControllerUpdateError"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/autoscaling/kpa.TestControllerUpdateError
* **Repository name**: serving

[2020-05-13 12:04] Shashankft9 opened #7938 "Support for mentioning runtime and function handler"
## In what area(s)?
/area build
/kind spec

## Describe the feature
Hi, I have also posted this issue on knative/eventing, but since this is more on the side of deployment of the function, I will write it down here as well.

Wouldn't it be better if during function deployement we can simply provide the code (could be go code), mention the runtime in which the code has been written and the handler

[2020-05-13 16:00] vagababov commented on #7926
Actually retries are removed at head and will be in 0.15
/cc @tcnghia @ZhiminXiang
for more insights

[2020-05-13 16:10] vagababov commented on #7933
There are e2e tests executed constantly for CR. So in _general_ they work.

/cc @tcnghia

@sneko  503 might mean many things: problems with ingress setup, internal knative/cr issues.

When you deploy your service is it getting ready? `kubctl get ksvc <svc name> -oyaml` — can you paste the result here?
What is the _exact_ error text that comes with 503?

[2020-05-13 16:17] ZhiminXiang commented on #7933
1. Did you use Cloud Run on GKE or install Knative by yourself on GKE cluster?
2. If you use Cloud Run on GKE, could you check the log of istio-proxy container of pod istio-ingress-XXXX under gke-system namespace, and see if there is any related error log?
3. If you install Knative by yourself, could you check the log of istio-proxy container of pod istio-ingressgateway-XXX under istio-system name

[2020-05-13 17:08] richterdavid commented on #1910
/remove-lifecycle rotten

[2020-05-13 19:09] vagababov commented on #7937
Looks like `waitInformers` never terminated...

[2020-05-13 19:47] FWiesner commented on #7924
Hey @dprotaso here's my scenario

When you have shared volumes and those volumes need to be accessed by multiple different services in read/write mode, you would normally want to make sure that proper file system permissions are automatically enforced. An example could be a volume to write application audit trails.

When that volume gets mounted, you would then want to tell the service about the g

[2020-05-13 20:41] ZhiminXiang commented on #7926
As @vagababov mentioned, we removed retry.
@somaya10 Could you try deploying Knative from HEAD and see if it resolves your issue?

[2020-05-13 21:19] coryrc commented on #7755
@mattmoor @vagababov

[2020-05-14 01:18] coryrc commented on #7755
Or, rename `serving-crds.yaml` -> `serving.yaml`?

[2020-05-14 04:45] mattmoor commented on #7755
We shouldn't rename anything.  We should confirm that `knative/docs` doesn't reference serving.yaml anymore and then I think we can stop releasing it.

Let's make sure this gets called out in the release notes with why and how folks can effectively recreate it.

[2020-05-14 04:55] coryrc commented on #7755
/retitle Stop releasing serving.yaml
See previous comment on action items

[2020-05-14 08:15] somaya10 commented on #7926
@ZhiminXiang
Thanks for the info, unfortunately we are on 0.13, and the move to 0.15.x might be a big jump for us. Do you know of any workarounds that we could try?

[2020-05-14 08:20] markusthoemmes commented on #7926
Are you certain that the retries and gRPC is the culprit here? Are the gRPC streams in the logs actually streams from "customer" load, or are they maybe even just the streams envoy opens to load its config?

[2020-05-14 09:21] #7916 closed

[2020-05-14 09:46] somaya10 commented on #7926
I did find an issue where [Envoy has memory leak with bi-directional GRPC Streams](https://github.com/envoyproxy/envoy/issues/8857)

Could you point us in a direction of how to locate the OOM better, customer traffic is just guessing, we're not sure who or what opened them.

[2020-05-14 10:18] markusthoemmes commented on #7926
@somaya10 that's why @vagababov pointed at Istio above. This honestly doesn't look like it's related to Knative at all. If it's the retries than I fear your only bet is to move to the 0.15 line or we'd need to backport the change. We should confirm first though that it's even fixing this issue and then dig deeper into the repercussions this change might have on existing users.

You'll definitely n

[2020-05-14 11:28] sneko commented on #7933
@vagababov I have no more detail about the error. Maybe I don't look at the right place? But the error I mentioned is in the browser console but also when looking at the Chrome network section:
![image](https://user-images.githubusercontent.com/8195958/81928029-e547ee00-95e4-11ea-8bec-c7f823d95b94.png)

Yes the service is ready, I'm able to access the example UI, that's just the websocket connecti

[2020-05-14 12:00] markusthoemmes commented on #7903
@zhanggbj it might also make sense to try the behavior at HEAD. We've improved the scrape performance a lot.

[2020-05-14 12:03] knative-test-reporter-robot opened #7950 "[flaky] pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/newprod.net"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/newprod.net
* **Repository name**: serving

[2020-05-14 12:03] #7908 closed

[2020-05-14 12:03] knative-test-reporter-robot opened #7951 "[flaky] pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/mytestdomain.com"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/mytestdomain.com
* **Repository name**: serving

[2020-05-14 14:51] julz commented on #5829
bumping this up: seems like we're relying on users to set `QueueSideCarResourcePercentageAnnotation`, if not set then we set a default cpu request but no mem request/limit and no cpu limit (https://github.com/knative/serving/blob/master/pkg/reconciler/revision/resources/queue.go#L83).

This means the scheduler won't be accounting for all the queue proxies when scheduling pods, which - unless Im mi

[2020-05-14 14:57] markusthoemmes commented on #5829
FWIW, we're hitting issues here too when using LimitRanges. If we're adding a setting here, let's please make sure one can completely unset the default too.

In fact: **Should** the default already be... nothing? Feels weird that we're setting a default request on the queue-proxy but not on the user container :thinking:

[2020-05-14 14:59] julz commented on #5829
I think the problem is there's currently no default, but ResourceQuota/LimitRange _require_ the Queue Proxy to have it set. So there's no way for any of the samples to work out of the box on a namespace with ResourceQuota/LimitRange set unless the user adds this annotation.

[2020-05-14 15:05] markusthoemmes commented on #5829
Should this be surfaced to the API WG maybe? Work out a small proposal how better integration with LimitRange etc. looks like?

[2020-05-14 15:10] julz commented on #5829
yeah that might make sense, I can experiment a bit with current behaviour then bring up at next api wg meeting

[2020-05-14 16:12] vagababov commented on #7933
Something tells me that the 503 comes from the app.
Can you add logging to your `/ws` handler to log something before it reaches WS handler, to see if reaches the handler. If it does, then the problem is within the app.

[2020-05-14 16:29] julz opened #7955 "Support ephemeral-storage request/limit defaults"
## Describe the feature

We [support defaults](https://github.com/knative/serving/blob/master/config/core/configmaps/defaults.yaml#L54) for `requests.{cpu|memory}` and `limits.{cpu|memory}` (via https://github.com/knative/serving/pull/3912). We should also support defaults for `{requests|limits}.ephemeral-storage`. This will be good for fans of not running out of disk space.

[2020-05-14 19:29] mattmoor commented on #5829
/remove-lifecycle stale

Yeah I don't like what we have now, I think the current value is another thing that dates back to the early VPA work, the annotation (and clamping) is newer, but I think this whole area could use some focused investigation and effort.

I think @vagababov also suspected this as a source of 5xx under higher load (e.g. ~60k QPS)

I'd love to see someone deeply investigate the

[2020-05-15 00:23] vagababov commented on #6857
/assign @JRBANCEL
/remove-lifecycle stale

[2020-05-15 00:23] vagababov commented on #6857
JR, you might want to dedupe, if there's a different issue you're using.

[2020-05-15 00:27] vagababov commented on #3425
/remove-lifecycle stale

[2020-05-15 12:02] #7936 closed

[2020-05-15 12:02] #7937 closed

[2020-05-15 12:02] knative-test-reporter-robot opened #7959 "[flaky] pkg/reconciler/route.TestUpdateDomainConfigMap/newdefault.net"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestUpdateDomainConfigMap/newdefault.net
* **Repository name**: serving

[2020-05-16 00:01] #6173 closed

[2020-05-17 00:01] #6238 closed

[2020-05-17 01:48] dprotaso commented on #7924
Sorta related question:

At this time Knative OSS only supports configmap, secret & projected volumes. Are you circumventing that?

[2020-05-17 01:57] dprotaso commented on #7881
Funny enough the [test image](https://github.com/knative/serving/tree/master/test/test_images/varlog) I added breaks when removing the mount since `/var/log` isn't part of the image.

To @julz's point maybe the end state here is a per-revision annotation that adds the volume mount.

[2020-05-17 02:00] dprotaso commented on #6784
/remove-lifecycle stale

[2020-05-17 12:01] #5002 closed

[2020-05-17 12:01] #6251 closed

[2020-05-17 18:21] #7929 closed

[2020-05-17 18:49] dprotaso commented on #4060
/remove-lifecycle stale

[2020-05-17 18:52] dprotaso commented on #4060
There's another class where we want to reserve some environment variables as internal.

Thus they may be on the pod but shouldn't be consumed by users

ie. https://github.com/knative/serving/pull/7882/files

[2020-05-18 05:42] Shashankft9 commented on #7938
@vagababov hi, could you please have a look at this? If I didn't mention the feature clearly I can reiterate over it.

[2020-05-18 11:05] Morriz commented on #6080
/reopen

[2020-05-18 11:14] Morriz opened #7974 "activator throttler try errors"
/area autoscale

## What version of Knative?
0.14

## Expected Behavior

No errors from activator

## Actual Behavior

Activator errors similar to #6080:
[code]

## Steps to Reproduce the Problem

Create a knative service with annotation `autoscaling.knative.dev/minScale: "1"` and deploy.
Wait till it's up and then remove the annotation.

[2020-05-18 11:23] markusthoemmes commented on #7974
Hey thanks for reporting.
I don't quite follow your reproducer, what do you do exactly? The error seems to indicate an arborted request.

[2020-05-18 12:00] Morriz commented on #7974
I just redeployed the ksvc and followed the steps above, but now it works as intended...don't know why it got stuck before. I am working a lot on upgrades with istio stuff and restarting pods here and there is necesssary it seems. Closing. Tnx for the quick reply :)

[2020-05-18 12:00] #7974 closed

[2020-05-18 12:05] markusthoemmes commented on #6877
I guess this one is solved anyway.

[2020-05-18 12:05] #6877 closed

[2020-05-18 14:06] julz commented on #3997
/reopen
/remove-lifecycle rotten

[Cri-o now supports this](https://github.com/cri-o/cri-o/issues/2157#issuecomment-621417592) so we should be able to fix [the todo](https://github.com/knative/serving/blob/cc022d6c2cf628bff90cc99694b4e441246fee61/pkg/reconciler/revision/resolve.go#L120).

[2020-05-18 15:05] mpetason commented on #6520
I'll be working on the one network policy per namespace idea for now. The PR is WIP currently.

[2020-05-18 15:44] bbrowning commented on #6520
A big -1 on adding default NetworkPolicy objects out of the box.

In my experience, it's quite hard to come up with an appropriate NetworkPolicy out of the box that won't have unwanted side-effects. Today, with us shipping no NetworkPolicy objects, users can install their own if they want a Knative Service to be isolated from specific other namespaces, specific other pods, or so on.

In the linked

[2020-05-18 16:00] vagababov commented on #7938
Not sure I am the right person for this.
/cc @mattmoor @dprotaso

[2020-05-18 16:01] markusthoemmes commented on #7938
I think this is along the lines of DevEx improvements that the Functions WG proposal has looked at?

[2020-05-18 20:11] vagababov commented on #7596
This is done via ConfigMaps.

[2020-05-18 20:53] ahmetb commented on #7596
Thanks! My use case for this was to keep Java services (which take longer to boot) around longer. That’s why per-Revision granularity would be most preferable to the majority of the audience for this knob. I guess I can live with the global CM setting as well, but it kinda defeats the purpose of having this feature in the first place.

[2020-05-19 01:16] mattmoor commented on #7938
Yeah, it's possible to achieve this experience on top of Knative Serving without Serving itself directly owning the build process.  By dealing in containers we enable all of the container-level auditing mechanisms to "just work" with Knative.

I deploy containers to knative all the time without a dockerfile using github.com/google/ko, you can use buildpacks.io, and I suspect many folks will use Do

[2020-05-19 01:16] #7938 closed

[2020-05-19 06:55] Shashankft9 commented on #7938
@mattmoor @markusthoemmes the idea is to provide a capability to deploy a function through a simple CRD kind: Function, which when applied goes on to apply the kind: Service in serving.knative.dev/v1, and also provides a way to configure changes to the k8s resources that are in turn created because of the kind: Service (deployments, configmaps etc) without actually going to manually edit the deplo

[2020-05-19 12:01] #2929 closed

[2020-05-19 12:03] #7950 closed

[2020-05-19 12:03] #7565 closed

[2020-05-19 12:03] #7644 closed

[2020-05-19 13:29] yashbhutwala commented on #2929
/reopen
/remove-lifecycle rotten

[2020-05-19 15:49] mpetason commented on #6520
@bbrowning I agree, it will be more difficult to control traffic. Maybe we can get more feedback on how we want to approach this. It was suggested that we document this but also that maybe we are proactive and force it.

If we document it then we could have a sample network policy that will block all traffic except for what is destined for queue-proxy.

I'm open to anything. I'm looking for issues

[2020-05-19 16:13] vagababov commented on #7938
/cc @mikehelmick

[2020-05-19 16:27] mattmoor commented on #7938
Right, the "Function" group that Markus mentioned was exploring something along those lines.  I believe that there are quite a few recordings of folks demonstrating this sort of higher-level experience on top of Knative, but we couldn't drive sufficient consensus around a single approach to bring those ideas into Knative's core.

[2020-05-19 16:43] vagababov commented on #5076
/remove-lifecycle rotten
/reopen
/lifecycle-frozen

[2020-05-19 16:45] vagababov commented on #4937
/cc @whaught
Weston, is this something you're doing now with gen reconciler?

[2020-05-19 16:47] whaught commented on #4937
/assign

[2020-05-19 16:49] whaught commented on #4937
Yes this is an issue I am aiming to solve.

The precursor is in /pkg with https://github.com/knative/pkg/issues/1226

[2020-05-19 17:18] JRBANCEL commented on #7813
/close

[2020-05-19 17:18] #7813 closed

[2020-05-19 17:32] vagababov commented on #5076
/cc @dprotaso

[2020-05-19 17:44] yanweiguo opened #7998 "Make KPA autoscaler highly available"
## Describe the feature

Allow autoscaler running with replicas to avoid single point of failure. This is extend work of https://github.com/knative/pkg/issues/1181.

Currently there's only one autoscaler pod receiving metrics from activators, scraping metrics from revision pods, calculating and making autoscaling decision, reconciling KPA and Metric objects. The goal is to have multiple replicas o

[2020-05-19 17:44] yanweiguo commented on #7998
/assign

[2020-05-19 17:47] dprotaso commented on #5076
related doc: https://docs.google.com/document/d/1tDPP43xSMIFdnw0D8msAXY9P6fEG5x9CG3kRhjpJh-4/edit#heading=h.dxlthq7ppqhh

[2020-05-19 18:35] mdemirhan commented on #2929
@vagababov @markusthoemmes is this something Autoscaling WG tracking and want to keep open?

[2020-05-19 19:03] vagababov commented on #2929
Currently it's not on our charter.

[2020-05-19 22:58] whaught opened #8004 "IsReady should take ObservedGeneration into account"
## Describe the feature

We've created the KRShaped interface to ensure API resources all conform to the common duck type fields (TypeMeta, ObjectMeta, and a duck Status), and we've used this logic to ensure we are properly updating ObservedGeneration when we reconcile a resource.

Currently IsReady is implemented for many of the API shapes. We should consider codifying that into the interface and

[2020-05-19 22:59] whaught commented on #8004
/assign

[2020-05-20 02:05] ZhiminXiang commented on #7933
/area networking

[2020-05-20 02:09] tcnghia opened #8005 "Implement an oncall rotation for Knative"
## Describe the feature
As proposed in https://docs.google.com/document/d/1woxDpdw6TrwwF-Y987OYVUFrSgGpyBiR3U8ehf0BX9o/edit  , we would like to implement a rotation to spread the load of user supports & fighting test flakiness.

This bug track the implementation of the linked proposal.

[2020-05-20 02:24] ZhiminXiang commented on #7906
@larssuanet I have several quick questions:
1. do you have Istio sidecar injected within your helloworld pods and your origin pods?
2. Could you share your VirtualService helloworld-go-ingress yaml result with
`kubectl get vs helloworld-go-ingress -oyaml`
3. are you able to send request to helloworld service from outside of your cluster?

[2020-05-20 02:25] ZhiminXiang commented on #7933
/assign @ZhiminXiang

[2020-05-20 02:47] bbrowning commented on #6520
Perhaps @mikehelmick or someone else can elaborate on why a user shouldn't be able to bypass the queue-proxy. Is it a concern around bad actors? Accidental misuse of Serving? Conformance and exposed API of Serving? Is there a legitimate reason someone may want to bypass the queue-proxy? That kind of information would help determine whether this is something we can ignore, something we should docum

[2020-05-20 03:27] vagababov commented on #6520
The main problem is that we can't properly scale if there's traffic going past QP.

[2020-05-20 04:49] #7162 closed

[2020-05-20 06:38] r-kotagudem opened #8006 "istio authentication policy causes knative activator healthcheck probes to fail"
Expected Behavior
Trying to apply envoy external authorization filter to knative service.
To be able to authorize requests consistently with envoy ext_authz filter delegating policy evaludation by open policy agent grpc server.

Actual Behavior
deploy a knative service, which runs fine.
apply below envoy filter using target/label selector
wait for pod to scale to zero, then the service is no longe

[2020-05-20 09:34] tshak commented on #7576
I just wanted to confirm that I can reproduce this on version `0.14.0` installed using the release manifests. As part of cluster creation we apply a set of manifests which includes the Serving manifests as well as a couple of test kservices. These kservices never become ready. As a workaround we delete the kservices and re-apply them.

[2020-05-20 11:53] duglin commented on #6520
FWIW, knowing that everything goes thru the QP is helpful to ensure that we can do pre & post message processing if needed w/o asking the user to do anything special in their code - or even be aware of it. This gives us a place to add hooks to do some additional infrastructure logic (ie. magic) for the user in our attempt to make their life easier.

[2020-05-20 12:01] #2611 closed

[2020-05-20 12:03] knative-test-reporter-robot opened #8009 "[flaky] 2.54% tests failed in repo serving on 2020-05-20 10:01:23 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 2.54% tests failed in repo serving on 2020-05-20 10:01:23 +0000 UTC
* **Repository name**: serving

[2020-05-20 14:26] julz opened #8012 "Feature Proposal: Allow operators to set defaults for Queue Proxy resources"
Background issue: https://github.com/knative/serving/issues/5829

Feature Proposal: https://docs.google.com/document/d/1aGW61WYrGYQsSyiUrDeq8EdoQeIChZnrsanO6Wnp1is/

Tl;dr:

We should allow operators to set default Queue Proxy {cpu/mem/storage}.{requests/limits} via config map. This would not be as good as doing VPA for the QP, but VPA is currently hard to combine with HPA/KPA-based autoscaling (a

[2020-05-20 14:37] julz commented on #5829
OK, to get us started on this I spun up a [basic proposal for operator-set defaults req/limits](https://github.com/knative/serving/issues/8012) and added to API WG meeting agenda.

[2020-05-20 16:39] ZhiminXiang opened #8015 "[net-certmanager]: removal net-certmanager YAML from serving bundle"
Once we set up regular process of importing net-certmanager YAML into serving, we can remove it from the bundle.

[2020-05-20 17:01] vagababov commented on #7596
Docs: https://github.com/knative/docs/pull/2478

[2020-05-20 17:07] vagababov commented on #8006
/cc @tcnghia @JRBANCEL @ZhiminXiang

[2020-05-20 17:16] tcnghia opened #8016 "Our release artifact contains no nightly version label"
## What version of Knative?
< 0.15

## Expected Behavior
We shouldn't see nightly version label in release artifacts.

## Actual Behavior
We do.

## Steps to Reproduce the Problem

[2020-05-20 17:16] tcnghia commented on #8016
/cc @markusthoemmes @ZhiminXiang

[2020-05-20 19:38] JRBANCEL commented on #8006
`envoy filter configuratoin is applied to individual knative service using name selector/label selector.`

I am assuming from the provided filter that the selector is `name = example-app`.

I am not sure how this works in the first place since Knative uses `app` label, but the `serving.knative.dev/service` should be used instead.

In any case, I am not sure what this filter is supposed to do but i

[2020-05-21 00:01] #6274 closed

[2020-05-21 11:18] r-kotagudem commented on #8006
This is istio sidecar(envoy proxy). filter is extension of envoy proxy which intercepts the requests and delegate authorizatoin decision to external server.

I have used label  still see same issue.

tried label app: example-app
tried label serving.knative.dev/service: example-app.

I noticed it only applies after initial pod is up. once it goes down. filter no longer applies and can no longer con

[2020-05-21 12:03] knative-test-reporter-robot opened #8019 "[flaky] 1.65% tests failed in repo serving on 2020-05-21 10:01:23 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.65% tests failed in repo serving on 2020-05-21 10:01:23 +0000 UTC
* **Repository name**: serving

[2020-05-21 13:22] Shashankft9 commented on #7938
So, will there be anything on these lines in the future?

Also, it would be really helpful if someone can address my third highligh/question: "Could you perhaps refer me to some example where a serverless function (from knative-serving) has been invoked using a trigger (from knative-eventing). Example I have seen in knative-eventing like this: https://knative.dev/docs/serving/samples/hello-world/h

[2020-05-21 13:48] Shashankft9 opened #8021 "Applications that we can deploy through knative serving"
## Ask your question here:
I understand that we can deploy apps that have a handler() in them to execute some logic whenever there is a request on '/'.
I want to know about other domains where I can use knative-serving, for example: I have couple of CRD controllers running in my cluster, is there a way I can deploy these CRD controllers using this knative-serving concept? Use case being: whenever

[2020-05-21 15:19] yuzisun commented on #7813
@JRBANCEL should we still increase the QPS rate limiting?

[2020-05-21 17:43] vagababov commented on #8006
Basically what you mean is that istio does not reapply the filter once the revision scales back from 0?

[2020-05-21 17:59] bbrowning commented on #6520
I agree that for scaling purposes, the primary traffic needs to flow through the queue-proxy. And, it does today. A user has to intentionally try to bypass the internal or external URL of their Knative Service and directly hit a Knative Revision pod to bypass the queue-proxy.

The open question is whether we should prohibit users from being able to do that. You have to specifically go out of your

[2020-05-21 23:31] tcnghia opened #8032 "TestUpdate is very flaky, needs investigation"
## What version of Knative?
v0.15

## Actual Behavior

TestUpdate is very flaky, so we temporarily Skip() it.

## Expected Behavior
We should fix the flake and reinstate the test.

## Steps to Reproduce the Problem

[2020-05-21 23:59] #7596 closed

[2020-05-22 03:29] r-kotagudem commented on #8006
Yes exactly

[2020-05-22 03:29] r-kotagudem commented on #8006
Yes exactly

[2020-05-22 10:06] Shashankft9 commented on #8021
Got my answers through slack, so closing this.

if anyone hops onto this use case, you can go to these projects:
https://github.com/AmitKumarDas/metac
https://github.com/GoogleCloudPlatform/metacontroller

[2020-05-22 10:06] #8021 closed

[2020-05-22 11:13] Shashankft9 opened #8038 "Using image from an insecure private docker registry"
/area build

## What version of Knative?
 v0.14.0

## Expected Behavior

while ksvc creation, tag resolution should have been disabled for my insecure private registry

## Actual Behavior

I am getting this error:
`Revision "mapper-wqsfn" failed with message: Unable to fetch image "mgmt.xxxx.com/mapper7": failed to resolve image to digest: failed to fetch image information: Get https://mgmt.xxxx.c

[2020-05-22 12:01] #3884 closed

[2020-05-22 12:03] knative-test-reporter-robot opened #8039 "[flaky] 2.31% tests failed in repo serving on 2020-05-22 10:01:23 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 2.31% tests failed in repo serving on 2020-05-22 10:01:23 +0000 UTC
* **Repository name**: serving

[2020-05-22 13:43] sneko commented on #7933
@vagababov , the https://github.com/mchmarny/knative-ws-example sample has some broken dependencies. I tried to update the code/deps to make it working with the additional logs you asked but I didn't succeeded yet 😢

Sorry for not being able to provide more information for now. But... you think the 503 comes from the app:
* The https://github.com/mchmarny/knative-ws-example sample has been tested

[2020-05-22 14:33] sneko commented on #7933
@vagababov , just to add another information,

in https://github.com/mchmarny/knative-ws-example/issues/2 I described I was able to use my own GraphQL API (with websockets) by doing a `port-forward` directly on the pod within Google Cloud Run on GKE.

Just your thinking about the problem comes from the app. I tried the same with the known sample by doing:
```kubectl port-forward -n demo kws-gn7sc-

[2020-05-22 16:26] tcnghia commented on #7320
I see.  We should probably disable the same in our usage of Istio client.

[2020-05-22 17:15] vagababov commented on #7933
We have integration tests https://github.com/knative/serving/blob/master/test/e2e/websocket_test.go
Would you care to run it against your cluster?

Otherwise I will need to find some time to try Mark's example

[2020-05-22 18:06] sneko commented on #7933
I'm definitely willing to try it but I encoutered some troubles to test:

1. I upgraded Go to v1.14
2. Read https://github.com/knative/serving/blob/master/test/README.md#running-end-to-end-tests and https://github.com/knative/serving/blob/master/test/README.md#environment-requirements to see if something important is needed
3. Run `go get -u k8s.io/test-infra/kubetest` as described (even if not su

[2020-05-22 18:20] beemarie commented on #6516
I can take a peek at this one.

[2020-05-22 18:20] beemarie commented on #6516
/assign @beemarie

[2020-05-22 18:37] vagababov commented on #7933
or you can just do `go test ./test/e2e/. -run=TestWebsocket -v -tags="e2e"` from the root.

[2020-05-22 18:38] vagababov commented on #7933
You also need to upload the test image using ./test/upload-test-images.sh  (though you might want to delete all the other images, that you don't need later).

[2020-05-22 19:39] sneko commented on #7933
Thank you for pointing about uploading test images.

When running the test command `go test -v -tags=e2e -count=1 ./test/e2e -run ^TestWebSocket$` I get:
[code]

So conclusion, yes the e2e test is working.

Since both Mark's example and my own Websocket API has the 503 error without sharing any common library to make the server, I'm wondering:
* what the e2e tests really do to connect to the Knati

[2020-05-22 19:59] vagababov commented on #7933
Sounds good, please keep us posted. 503 usually indicates some istio programming problem.
But may be we have a bug that we haven't hit before :)

[2020-05-22 20:05] sneko commented on #7933
I just tested his example, and I'm also getting the 503 issue:
[code]

So... I'm totally lost haha! At least it seems it's not from Knative and the 3 applications tested.

If you could give a try to the `service.yaml` from https://github.com/knative-sample/websocket-chat onto a "Cloud Run on GKE" cluster I would really appreciate. Just to know if something if wrong with me.

Note that to make my i

[2020-05-22 20:26] ZhiminXiang commented on #7933
@sneko Could you try to delete your DomainMapping and try websocket again?
I will try those two websocket examples during the weekends.

[2020-05-22 21:39] sneko commented on #7933
@ZhiminXiang , if I don't use the DomainMapping, how I can reach my services? Since I'm on Cloud Run on GKE (not the fully-managed one), I don't have generated URL by default to route to my services.

[2020-05-22 21:45] ZhiminXiang commented on #7933
@sneko you can use the domain like `xip.io` as your default custom domain for all your Knative Services. Those domains are publicly accessible.
See doc https://cloud.google.com/run/docs/gke/default-domain

[2020-05-22 21:54] vagababov commented on #7933
I works for me:
[code]
Obviously it's 400 since I just requested regular http, but nonetheless the routing works

[2020-05-22 21:57] sneko commented on #7933
Good news for me too @ZhiminXiang @vagababov , just tried it! It works with the "Websocket Chat" example with a custom `websocket-chat.demo.XXXXXXX.xip.io`.

So the issue seems to come from "adding a service domain mapping".

Strange... hmmmm

[2020-05-22 22:00] ZhiminXiang commented on #7933
Thanks @sneko @vagababov for the confirmation. I will investigate DomainMapping from Google side.

[2020-05-23 00:25] nmnellis opened #8047 "Scrape Application Metrics"
/area monitoring

## What version of Knative?

 0.14.x

## Expected Behavior

we would like to scrape the application pod for its http prometheus metrics (on separate port because we use grpc) but if we add the extra port we get the error `More than one container port is set: spec.template.spec.containers[0].ports Only a single port is allowed`

Is there a way to expose application custom promethe

[2020-05-23 00:42] vagababov commented on #8047
If you need something to work, then you can just expose your second port and then add a manual k8s service with the same selector but looking at the 9092 port.

[2020-05-23 01:08] nmnellis commented on #8047
I want to scrape each pod individually but thanks for the workaround

[2020-05-23 12:03] knative-test-reporter-robot opened #8052 "[flaky] 2.44% tests failed in repo serving on 2020-05-23 10:01:23 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 2.44% tests failed in repo serving on 2020-05-23 10:01:23 +0000 UTC
* **Repository name**: serving

[2020-05-23 19:43] JRBANCEL opened #8054 "Increase the QPS limit in networking probing"
## Describe the feature
See https://github.com/knative/serving/issues/7813#issuecomment-622602581

/assign

[2020-05-24 02:06] vagababov commented on #5534
/remove-lifecycle rotten
/remove-lifecycle stale

[2020-05-24 10:06] jjangga0214 commented on #6571
/remove-lifecycle rotten

[2020-05-24 12:03] #7959 closed

[2020-05-24 12:03] knative-test-reporter-robot opened #8056 "[flaky] pkg/reconciler/route.TestUpdateDomainConfigMap/example.com"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestUpdateDomainConfigMap/example.com
* **Repository name**: serving

[2020-05-25 00:12] yuzisun opened #8057 "performance issue of p95 latency for a simple python service"
/area networking

## Ask your question here:
Benchmarking a simple python service which processes 1-2ms consistently, sending 10qps to 10 replicas of the service, the p95 latency is always 45-60ms and there is a blackhole of 40-50ms for 5% of the requests showing on distributed tracing graph, wondering what could be the issue.
[code]
[code]
<img width="1562" alt="Screen Shot 2020-05-24 at 8 32 48

[2020-05-25 00:13] yuzisun commented on #8057
/cc @tcnghia @vagababov

[2020-05-25 00:31] yuzisun commented on #8057
found the corresponding trace id logging in queue proxy which shows 2.9ms, so likely this is networking issue?
[code]

[2020-05-25 06:09] markusthoemmes commented on #8057
`autoscaling.knative.dev/target: "2"` and `containerConcurrency: 0` seems odd. Is there a limit to how many requests your app can handle in parallel?

[2020-05-25 12:01] #6338 closed

[2020-05-25 12:03] knative-test-reporter-robot opened #8058 "[flaky] test/ha.TestActivatorHAGraceful"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/ha.TestActivatorHAGraceful
* **Repository name**: serving

[2020-05-25 12:03] #7642 closed

[2020-05-25 12:03] #7641 closed

[2020-05-25 12:32] yuzisun commented on #8057
I set `--workers=2` so there are 2 python processes in the container which can process 2 requests at a time. I am suspecting some networking issues now between gateway and queue-proxy as I can see the timestamps that server receives the package almost after 50ms.

[code]

[2020-05-25 13:34] nak3 commented on #7568
@howardjohn The doc for Istio 1.5 is merged now https://github.com/knative/docs/pull/2458.

But there are still a few minor issues in Istio 1.5+. Could someone from Istio team take a look at them?
https://github.com/istio/istio/issues/23485
https://github.com/istio/istio/issues/24061

[2020-05-25 15:07] #7000 closed

[2020-05-25 16:09] zhanggbj opened #8063 "No revision lated metrics of Serving as described in Knative doc"
## Ask your question here:
Hi all, I have two quick questions about Serving **Metrics**, while following the guide to access Serving metrics https://knative.dev/docs/serving/debugging-performance-issues/, using Knative 0.13,

1. There's no revision related metrics, through in grafana dashboard definition it uses **revision_request_xxxxx**, is this expected? Or the serving doc is out of date?

2. I

[2020-05-25 16:18] yuzisun commented on #8057
I think this is same issue as  https://github.com/knative/serving/issues/7349.
@pradithya it seems that even with the cpu upper bound(500m) sometimes it still throttles right ?

[2020-05-25 16:38] markusthoemmes commented on #8057
If you have only 2 workers though, it might make sense to set `containerConcurrency` (hard limit) rather than the target (which only influences autoscaling recommendations). With such a low CC, you'll probably also want the activator to be in the path most of the time to be somewhat smart about loadbalancing.

[2020-05-25 16:55] yuzisun commented on #8057
I tried that it does not make much difference, also I am testing with very low qps like sending one at a time, so random load balancing should also work.

I think we have concluded that it is queue-proxy resource limit issue,  it is getting throttled sometimes.
[code]
The queue proxy limits are
[code]

Also I created my own service which directly sends to user container and bypassing queue-proxy
[

[2020-05-25 17:34] yuzisun commented on #7349
@pradithya how do you verify if the OS has that kernel fix?

[2020-05-25 18:00] vagababov commented on #8009
/close
there are newer ones

[2020-05-25 18:01] vagababov commented on #8019
/close
there are newer ones

[2020-05-25 18:01] #8009 closed

[2020-05-25 18:01] #8019 closed

[2020-05-25 18:01] vagababov commented on #8039
/close
there are newer ones

[2020-05-25 18:01] #8039 closed

[2020-05-25 18:01] vagababov commented on #7920
/close
there are newer ones

[2020-05-25 18:01] #7920 closed

[2020-05-25 18:01] vagababov commented on #7888
/close
there are newer ones

[2020-05-25 18:01] vagababov commented on #7793
/close
there are newer ones

[2020-05-25 18:01] #7888 closed

[2020-05-25 18:01] #7793 closed

[2020-05-25 18:02] vagababov commented on #7662
Also #8032

[2020-05-25 18:31] yuzisun commented on #8057
I have fixed the issue by setting resource request == limit for `queue-proxy` with 1cpu and 500Mi. Previously the pod is marked as `burstable` and now it is `guaranteed`.
[code]

After that the performance is comparable to directly hitting user container
[code]

[2020-05-25 18:33] yuzisun commented on #8057
/cc @julz

[2020-05-25 20:40] yuzisun commented on #5829
FYI, we are hitting a critical tail latency issue even for a very simple use case with low qps https://github.com/knative/serving/issues/8057

[2020-05-25 21:00] yuzisun commented on #8057
according to https://kubernetes.io/blog/2018/07/24/feature-highlight-cpu-manager/, All burstable, BestEffort and Guaranteed with non-integer CPU containers run in a shared CPU pool.

[2020-05-25 22:58] r-kotagudem commented on #8006
When knative scales pods to zero, The traffic for an idle application is redirected to Activator
Activator buffers incoming requeststriggers the Autoscalerredirects requests to the application after it has been scaled up. However activator does healthcheck probe on new knative pod before it is marked available.

healthcheck fails since origin authentication is applied on the health check, which

[2020-05-25 23:11] nak3 commented on #7568
I'm closing this ticket as installation doc was updated.

/close

[2020-05-25 23:11] #7568 closed

[2020-05-25 23:28] itsmurugappan commented on #8006
@r-kotagudem path you need to whitelist  if you are on knative 0.14 version is "/healthz".

[2020-05-25 23:35] r-kotagudem commented on #8006
knative-0.13

[2020-05-25 23:35] r-kotagudem commented on #8006
knative-0.13

[2020-05-25 23:35] itsmurugappan commented on #8006
then it is "/_internal/knative/activator/probe"

[2020-05-25 23:36] r-kotagudem commented on #8006
thanks, will try that and let you know. appreciate the quick reply

[2020-05-26 00:01] #4865 closed

[2020-05-26 04:18] pradithya commented on #7349
@yuzisun  I checked it against this release notes: https://cloud.google.com/container-optimized-os/docs/release-notes

[2020-05-26 04:50] pradithya commented on #8057
@yuzisun Yes, it is throttled from time to time and causing tail latency to suffer. I had to increase queue-proxy cpu request boundary from 100m to 200m to minimize this. However, I noticed some model having larger payload still get throttled. Thus, I believe optimizing queue-proxy is also important.

[2020-05-26 05:35] markusthoemmes opened #8066 "Debug TestActivatorHAGraceful and stabilize it"
We kind of optimistically added `TestActivatorHAGraceful` assuming it should always pass. It doesn't. The test will be skipped but we should really look at what's wrong there and triage if the activator really can't be gracefully shutdown without losing traffic occasionally.

[2020-05-26 05:37] markusthoemmes commented on #8066
Failures:

https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-nightly-release/1264124221420736512

https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-nightly-release/1264124221420736512

[2020-05-26 05:45] markusthoemmes commented on #5980
I looked at this and I don't think it doesn't make a ton of sense after all. The activators push metrics whenever they feel like it, though mostly on a 1 second timer. With many activators in the system this gets really weird, because we'd try to scale on every ping from each activator mostly actually creating more busy work and making the scaling less correct.

All in all: It doesn't feel worth i

[2020-05-26 05:45] #5980 closed

[2020-05-26 05:49] r-kotagudem commented on #8006
It worked, thanks

[2020-05-26 05:49] #8006 closed

[2020-05-26 07:18] Shashankft9 commented on #8038
Closing this issue since it got resolved on slack.
Problem being with my configmap, I was not updating the values correctly. If you happen to land on the same problem, check the logs of the `controller` pod in the `knative-serving` ns and check whether the configmap `config-deployment` is being updated with your added values.

[2020-05-26 07:18] #8038 closed

[2020-05-26 08:38] julz opened #8068 "Disable QP Metrics reporting if TBC=-1"
Since we don't ever scrape if TBC=-1 (after https://github.com/knative/serving/issues/7324, https://github.com/knative/serving/pull/7431), there's really no need for QP to be serving that endpoint or doing any stats collection/calculation. It's not a ton of cycles to save, but it's partly in the request path and seems like the leaner we can make QP the better.

/assign @markusthoemmes @vagababov t

[2020-05-26 09:19] markusthoemmes commented on #8068
It would be great to quanitfy what the cost of this actually is. I agree in principle that it's "the leaner the better", but if the metric collection itself can be improved I'd prefer that over ripping it out on certain paths.

[2020-05-26 09:32] julz commented on #8068
Yeah, some sort of benchmark would certainly not hurt, I'll look at adding one. I think I'd argue though that since this is in request path almost _any_ extra cpu time is too much (especially since I think we'd want to give QP as minimal a cpu req/limit as possible)

[2020-05-26 09:45] markusthoemmes commented on #8068
I agree with the sentiment, I feel like this is enough of an edge-case to add more scrutiny to it though. You'll need to plumb the TBC setting into the queue-proxy for instance. Further, these values are super useful for debugging issues with the activator loadbalancing so we probably would have to figure out a way around that too.

Then of course there are cases where ideally you'd like to do thi

[2020-05-26 09:53] julz commented on #8068
Did a quick sniff test [here](https://github.com/knative/serving/compare/master...julz:fewproxy?expand=1), not a ton but also certainly not nothing (and this doesn't include the prometheus stuff since I no-oped that function, and it's just the serial case where there's no channel contention), and again this is on request path.

[code]

I think debuggability is easy enough to solve with a debug fla

[2020-05-26 10:02] markusthoemmes commented on #8068
Interesting! Thanks for throwing that together so quickly!

I do agree that it's on the request path and whatnot and thus shall be made as quick as possible. What I want to prevent though, is us getting into a situation where we have to say "Oh, you're not running with TBC=-1? Well, better give that queue-proxy 50m more CPU or it's going to suck".

Does that make sense at all?

[2020-05-26 10:04] julz commented on #8068
oops, just realised we already have a benchmark for proxyHandler, updated with numbers from adapting that:

[code]

[2020-05-26 10:12] julz commented on #8068
I hear you, but honestly I think the difference between TBC=-1 and not is already pretty significant in myriad ways. And this isn't an enormous difference that's going to confuse things, it's a little win. If we can avoid doing things on the request path, we should, and I don't think users will find it unexpected that if activator is always in path anyway we don't bother collecting and reporting m

[2020-05-26 10:14] markusthoemmes commented on #8068
I think I'm sold!

Thought about the suggestion above regarding keying off of the request headers vs. a plumbed in setting? That way, all workloads going via activator would benefit here, regardless of the TBC setting.

[2020-05-26 10:19] julz commented on #8068
ooh no I missed that line, that's a very interesting thought. I'm trying to think if there's an edge case where that doesn't work as we swap activator in/out of the path, but I guess almost by definition since we ignore them anyway there isn't? 🤔

[2020-05-26 10:36] markusthoemmes commented on #8068
Right, we ignore them anyway :man_shrugging: and they are marked by the activator so we know for each request if it's relevant or not.

[2020-05-26 12:05] #7503 closed

[2020-05-26 12:05] knative-test-reporter-robot opened #8070 "[flaky] test/conformance/ingress.TestPreSplitSetHeaders"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestPreSplitSetHeaders
* **Repository name**: serving

[2020-05-26 12:05] knative-test-reporter-robot opened #8071 "[flaky] test/conformance/ingress.TestPath"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestPath
* **Repository name**: serving

[2020-05-26 12:05] knative-test-reporter-robot opened #8072 "[flaky] test/conformance/ingress.TestBasicsHTTP2"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestBasicsHTTP2
* **Repository name**: serving

[2020-05-26 12:07] markusthoemmes commented on #6258
/remove-lifecycle stale

Might wanna go look at this in 0.16 again.

[2020-05-26 12:21] markusthoemmes commented on #3886
It has landed neither in 0.15 nor in 0.16. @taragu do you think you'll land this in 0.16?

[2020-05-26 12:35] duglin commented on #4665
@vagababov should we keep this one alive?

/cc @julz

[2020-05-26 14:03] julz commented on #8068
just for completion, benchmarks with metrics disabled by header rather than env, very similar numbers 👍:

[code]

[2020-05-26 14:14] markusthoemmes commented on #8068
Cool! I'll defer the debugging concern to @vagababov if I may? He's much more involved in these kinda debugging needs than I am currently.

[2020-05-26 14:16] julz commented on #8068
yeah, I think the key question is whether we'd be OK with a config to enable the Proxied metrics just for debugging (or at least a config to opt out of reporting them, which I think we'd want to set for production workloads)

[2020-05-26 14:32] markusthoemmes commented on #8068
Maybe it's not even a concern anymore and we can live without them period :shrug: :joy:.

BTW: Are these metrics currently only part of autoscaling or are we also surfacing them to users via the app metric endpoints? I think we don't but just doublechecking.

[2020-05-26 16:22] vagababov commented on #8068
I also thing that users might be directly scraping those for dashboards and such (and we might as well) -- since we have per pod dashboards.

[2020-05-26 16:23] vagababov commented on #8068
The other thing, is that the users might go and directly edit the TBC on the revision annotation, which will simply break everything (since we won't redeploy QP with new env vars).

[2020-05-26 16:26] vagababov commented on #4665
/remove-lifecycle stale
/lifecycle frozen
Yes we should keep this.

[2020-05-26 16:26] vagababov commented on #4665
Actually
/assign
Let me see what I can do here

[2020-05-26 16:35] markusthoemmes commented on #8068
We've settled on per request decisions (based on the activator header being there) anyway, which wouldn't break in the latter case.

[2020-05-26 16:45] vagababov commented on #8068
It'll still break dashaboards and such...
🤷

[2020-05-26 17:33] JRBANCEL commented on #8057
Is this related to this kernel issue: https://kccncna19.sched.com/event/Uae1/throttling-new-developments-in-application-performance-with-cpu-limits-dave-chiluk-indeed?

[2020-05-26 17:47] pradithya commented on #8057
Yes, I suspect it's due to that issue

[2020-05-26 19:11] vagababov commented on #8068
I think in slack we converged to optional flag driven.

[2020-05-26 19:40] whaught opened #8077 "Integrate DryRun Validation with Feature Flags"
## Describe the feature

Allow vendors to enable the DryRun validation of podspec if the feature is configured.

Existing gate is an enablement annotation here: https://github.com/knative/serving/blob/e88e1d6b8eeb8f6d48974082b33fcc3b17a44c41/pkg/webhook/validate_service.go#L52

[2020-05-26 19:40] whaught commented on #8077
/assign

[2020-05-26 20:27] tcnghia commented on #7933
cc @julz

We may want to take a look at this for our vanity-domain work as well.

[2020-05-26 22:01] stockhausenj commented on #7320
@tcnghia
Is this a fix that you could create PR for quickly? I am interested in pursuing a PR but I am a bit new to this project and Go. Despite the learning curve I am willing to give it a go.

[2020-05-27 01:27] ReggieCarey commented on #2142
Greetings,  I'm new to Knative but I'm running into this issue as well.  If Knative is attempting to enforce some structure to a container in order to run, then it has stepped beyond its area of concern.  Why should my service be limited to writing logs to /var/log and why is this not spelled out somewhere in the docs.  If this has something to do with fluentd as suggested in the comments, then ho

[2020-05-27 08:37] markusthoemmes commented on #4098
This is being worked on in #7682. Pulling into the milestone.

[2020-05-27 08:38] markusthoemmes commented on #2930
/assign @yanweiguo

[2020-05-27 08:41] markusthoemmes commented on #3895
This has come up in the operator WG tangentially but needs to be run across the entire project: Do we want to stick to ConfigMaps for configuration or do we want a more typed approach using CRDs like `AutoscalerConfiguration`?

[2020-05-27 08:43] markusthoemmes commented on #4589
Is there anything actionable in here @duglin?

[2020-05-27 08:44] markusthoemmes commented on #5040
@mattmoor any idea where we stand with this? I assume we need a new driver?

[2020-05-27 08:45] markusthoemmes commented on #5403
@yanweiguo is this something you're still working on?

[2020-05-27 08:46] markusthoemmes commented on #6258
/assign

I'll look at firing up a PoC for this that we can benchmark.

[2020-05-27 08:48] markusthoemmes commented on #6529
@JRBANCEL anything left to do here?

[2020-05-27 08:51] markusthoemmes commented on #6550
Is there a design doc that describes why we **need** to do this somewhere? I'd like to challenge this once more I think :sweat_smile:

[2020-05-27 08:57] markusthoemmes commented on #7998
I think this is a duplicate of #2930 ?

[2020-05-27 09:01] markusthoemmes commented on #3134
I'm leaning towards closing this as we haven't talked about it in ages and nobody asked about it in ages. Feel free to reopen if you disagree.

[2020-05-27 09:01] #3134 closed

[2020-05-27 10:37] #7825 closed

[2020-05-27 11:37] #7410 closed

[2020-05-27 12:12] duglin commented on #4589
@markusthoemmes I'm not sure. Where did things land? How does someone today ask for things to scale down "immediately" ?

[2020-05-27 12:29] markusthoemmes commented on #6803
Talked to @savitaashture and @taragu. They are fine if I hand this to @dsimansk :)

/assign @dsimansk

[2020-05-27 14:17] farzinsarvaramini opened #8092 "Controller pod crashed after adding proxy"
## What version of Knative?

## Expected Behavior

I am using Knative as part of Kubeflow. I tried to set the proxy in controller deployment according to the documents [link](https://knative.dev/docs/serving/tag-resolution/). After I set the proxy the controller pod crashes. Here's my controller deployment.yaml:
[code]
## Actual Behavior

The controller pod crashes.

## Steps to Reproduce the Prob

[2020-05-27 14:45] markusthoemmes commented on #8092
Any logs in the controller container hinting at why it crashes? Is the controller container failing or the proxy container?

[2020-05-27 14:56] farzinsarvaramini commented on #8092
The controller container is crashing. Here's the log for it:
Error reading/parsing logging configuration:Get https://10.43.0.:4143/api/v1/namespaces/knative-serving/configmaps/config-logging: net/http: TLS handshake timeout

[2020-05-27 15:02] markusthoemmes commented on #8092
Oh that looks like an artifact of the controller coming up quicker than the proxy or something. Knative 0.11 is quite old. I think we meanwhile retry fetching that configMap. Is updating Knative an option?

[2020-05-27 15:56] mpetason commented on #6520
So what do we want to do about this? Should I add this to a serving meeting agenda to go over? It's not an urgent issue but it seems like there has been more discussion around it recently.

[2020-05-27 16:01] vagababov commented on #8092
also IP address looks botched.

[2020-05-27 16:05] nak3 opened #8095 "Should upgrade test run against all KIngress?"
## In what area(s)?

/area networking
/area test-and-release

## Describe the feature

As per title, we always use net-istio for the upgrade test(`e2e-upgrade-tests.sh`). It does not  support to run it against Kourier or other Ingress solutions actually.

So I would like to request to run `e2e-upgrade-tests.sh` against other Ingress providers and see the status in [test grid](https://testgrid.knat

[2020-05-27 16:07] farzinsarvaramini commented on #8092
That was a typo when I was writing the comment. I edited that and IP looks fine

[2020-05-27 16:08] farzinsarvaramini commented on #8092
I will probably try to update Knative.

[2020-05-27 16:39] nak3 commented on #8095
The background of this request is that downstream (using net-kourier) frequently fails on `TestProbe` executed by `go_test_e2e -tags=preupgrade -timeout=20m ./test/upgrade`. We are still not sure about the root cause, but I think the test results __could__ be different among KIngresses as their Ingress reconciliation logic is different.

[2020-05-27 16:40] vagababov commented on #7664
/assign

[2020-05-27 16:41] jchesterpivotal commented on #7711
I'm a fan of this change. I got reader feedback that the mix of ConfigMaps and annotations was very confusing.

[2020-05-27 16:49] vagababov commented on #7155
/close
Outdated

[2020-05-27 16:49] #7155 closed

[2020-05-27 16:49] dprotaso commented on #7291
/assign @padlar

Given the PR is being worked on

[2020-05-27 16:50] vagababov commented on #6788
This can be extended using ProgressDeadline flag.
/close

[2020-05-27 16:50] #6788 closed

[2020-05-27 17:08] vagababov commented on #7998
Yeah I think can be duped.

[2020-05-27 17:21] yanweiguo commented on #7998
/close

Use #2930 instead.

[2020-05-27 17:21] #7998 closed

[2020-05-27 17:26] mattmoor commented on #7955
Didn't even realize this existed, has it been there forever, or was it added (relatively) recently?

[2020-05-27 17:31] julz commented on #7955
looks like it's been available as beta since 1.10. https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#local-ephemeral-storage.

Guess question is how concerned we are that it's technically beta (it's on by default in e.g. GCP: https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/).

[2020-05-27 17:52] JRBANCEL commented on #6529
No, let's close it.
/close

[2020-05-27 17:52] #6529 closed

[2020-05-27 18:08] ZhiminXiang opened #8097 "Conformance test for Ingress header match"
## Describe the feature
In the feature of [tag header based routing](https://docs.google.com/document/d/12t_3NE4EqvW_l0hfVlQcAGKkwkAM56tTn2wN_JtHbSQ/edit?ts=5e7d8607#), we introduce a new field "Headers" into Kingress API in order to support this feature.

We need to add a conformance test for testing this new field.

/cc @tanzeeb @igsong

[2020-05-27 18:08] ZhiminXiang commented on #8097
/area networking

[2020-05-27 18:10] ZhiminXiang opened #8098 "E2E test for tag header based routing"
## Describe the feature

Once we finish the implementation of [tag header based routing](https://docs.google.com/document/d/12t_3NE4EqvW_l0hfVlQcAGKkwkAM56tTn2wN_JtHbSQ/edit?ts=5e7d8607#), we need to have an E2E test for this feature.

[2020-05-27 19:12] vagababov commented on #4589
There was one more improvement I had in mind, that would scale the initial pod much much faster, basically right at the stable window interval, but it would not work because of the status mess between Revision and PA. Until it's resolved there's nothing more we can do.
I'd just close this out.

[2020-05-27 19:15] vagababov commented on #4417
I think we still want this
/remove-lifecycle stale

[2020-05-27 22:07] JRBANCEL commented on #4417
Yes, this could be behind a feature flag.
I'll take a look after I add support for Downward API.

[2020-05-27 23:43] #7320 closed

[2020-05-28 03:16] dprotaso commented on #6006
/reopen
/remove-lifecycle rotten

[2020-05-28 03:17] dprotaso commented on #6226
/reopen
/remove-lifecycle rotten

[2020-05-28 03:34] coryrc commented on #6604
/unassign
/kind good-first-issue

[2020-05-28 03:34] coryrc commented on #6604
/remove-lifecycle stale

[2020-05-28 03:35] coryrc commented on #6264
#6978 solves this
Anyone interested in doing this would do well to study the work that went into that PR.
/unassign
/remove-lifecycle rotten

[2020-05-28 03:36] coryrc commented on #6226
#6978 has a solution to this.
/unassign

[2020-05-28 03:58] coryrc commented on #6006
There's a fix in #6978 for anyone who wants to break it out.
/unassign
/kind good-first-issue

[2020-05-28 04:04] coryrc commented on #4421
Memory limit should be stored in https://github.com/knative/serving/blob/master/test/e2e_constants.go like other test constants.
glhf
/unassign

[2020-05-28 06:00] ZhiminXiang commented on #8098
/area networking

[2020-05-28 06:09] ZhiminXiang commented on #3687
@thiagosantosleite Yes. I think with @julz 's work for DomainMapping, multiple and custom domains  will be supported.

[2020-05-28 06:13] ZhiminXiang commented on #5430
I think the rule of using `networking.internal.knative.dev` or `networking.knative.dev` is:
1. if annotations or labels are set by Knative controller and not aimed to be modified by users, we should use `networking.internal.knative.dev`
2. if the annotations or labels are "API" for users to configure, then we should use `networking.knative.dev`

[2020-05-28 12:03] knative-test-reporter-robot opened #8109 "[flaky] test/conformance/api/v1alpha1.TestRouteCreation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestRouteCreation
* **Repository name**: serving

[2020-05-28 12:03] #8072 closed

[2020-05-28 12:03] #8070 closed

[2020-05-28 12:03] #8071 closed

[2020-05-28 12:03] knative-test-reporter-robot opened #8110 "[flaky] test/conformance/certificate/http01.TestHTTP01Challenge"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/certificate/http01.TestHTTP01Challenge
* **Repository name**: serving

[2020-05-28 12:03] knative-test-reporter-robot opened #8111 "[flaky] test/conformance/api/v1alpha1.TestRunLatestService"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestRunLatestService
* **Repository name**: serving

[2020-05-28 12:03] knative-test-reporter-robot opened #8112 "[flaky] test/conformance/api/v1.TestCustomResourcesLimits"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestCustomResourcesLimits
* **Repository name**: serving

[2020-05-28 12:03] #7807 closed

[2020-05-28 12:34] markusthoemmes opened #8114 "Replace ConfigMaps with Config CRDs"
## In what area(s)?
/area API

## Describe the feature

Currently, all of our configuration relies on well known ConfigMaps placed next to our control plane. The components pick up the config in those ConfigMaps through an informer on ConfigMaps and they then parse the `map[string]string` typed data into a struct which is then used by the individual components.

This is all nice and it works in pr

[2020-05-28 15:13] taragu opened #8120 "DaemonSet Metric Scraper"
/area autoscale

## Describe the feature
Feature track: https://docs.google.com/document/d/193qj0-93rsCDxWYFmk74U9LwyKIHjdhPjro3maBTqIE/edit#

Right now, with mesh not enabled, we scrape enough number of pods to achieve 95% confidence interval coverage. As the number of pods gets larger, we are scraping smaller and smaller percentage of pods (e.g. with 100 pods, we only scrape 14 of them). We prop

[2020-05-28 15:13] taragu commented on #8120
/assign

[2020-05-28 17:18] vagababov commented on #6773
/close

[2020-05-28 17:18] vagababov commented on #7144
/close

[2020-05-28 17:18] #6773 closed

[2020-05-28 17:18] #7144 closed

[2020-05-28 18:24] vaikas commented on #8114
+1 for exploring this. In our Alternate Brokers, we were expecting some Brokers to implement their own CRD for having their configurations specified in a type safe way:
https://docs.google.com/document/d/1pBLkMptwbdEHUgjn1K5Obf7Xe-G9PFGChQcDCZE9vMQ/edit

Idea being that if you just wanted to have a ConfigMap that you're using for your config, cool, no extra steps, but This is probably something th

[2020-05-28 20:48] n3wscott commented on #8114
kinda sounds like the knative operator co?

[2020-05-29 00:01] #6381 closed

[2020-05-29 06:05] markusthoemmes commented on #8114
@n3wscott more or less. The operator API surface is potentially a bit bigger than "just" the plain configuration for various components (see the image specification and other things that directly affects the shape of the deployments as they are created).

It would probably inline the types I'm alluding to here and it might even be worthwhile exploring to have all configuration be triggered directl

[2020-05-29 07:41] tshak opened #8128 ""Failed to remove route label" error when immutable fields have changed"
/area API
## What version of Knative?
0.14.0

## Expected Behavior
Route label should be removed after revision is no longer routed to

## Actual Behavior

Route label persists. The following event is logged:

[code]

## Steps to Reproduce the Problem

The below steps are reconstructed based on changes to our cluster leading up to the error.

0) `config-defaults` should not have any `revision-*` r

[2020-05-29 08:59] tshak commented on #8128
I believe that the culprit is: https://github.com/knative/pkg/blob/9d7c06b6ab647bcb2e414e90d740b26915917cbf/webhook/resourcesemantics/defaulting/defaulting.go#L257

It would seem that we would only want to set defaults on creation, not on updating.  Caveat:  I'm not sufficiently familiar with this code to appreciate the ramifications of my suggestion here.

[2020-05-29 12:03] knative-test-reporter-robot opened #8132 "[flaky] test/conformance/ingress.TestIngressTLS/verify_HTTPS"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressTLS/verify_HTTPS
* **Repository name**: serving

[2020-05-29 12:03] knative-test-reporter-robot opened #8133 "[flaky] test/conformance/ingress.TestIngressTLS"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressTLS
* **Repository name**: serving

[2020-05-29 12:03] julz commented on #8114
Big fan of this.

An extra reason this would be nice: right now we have a lot of individual properties (particularly in defaults.yaml) for doing things like setting default resource limits/requests. There's a fair few use cases where there'd be other fields of pod/container that we'd like to let operators set, without leaking in to the ksvc contract (for example, pod affinity, anti-affinity, runti

[2020-05-29 14:04] lionelvillard commented on #8114
+1 on exploring the idea of making configuration files as part of Knative APIs.

I'm not sure all configuration files are API worthy, for instance config-logging exposes implementation details like zap, unless we call it `zaploggings.config.knative.dev`.

[2020-05-29 18:54] evankanderson commented on #8114
Question ([based on @n3wscott 's comment](https://github.com/knative/serving/issues/8114#issuecomment-635599746):

Do we need to create new COs for this configuration, or should we teach the code that currently watches ConfigMaps to instead watch the operator CO if present?

Pros:
* **UX**: Fewer new objects -- avoids the Istio proliferation of types
* **Code/Reliability**: Avoids a copy-here-to-t

[2020-05-29 18:56] evankanderson commented on #8114
Additional question (which probably applies today anyway):

What happens if there are multiple COs for this configuration? Is there some sort of hierarchy (global in `kn-serving`, then per-namespace), or is only a single CO for each supported, possibly a cluster-level CO?

[2020-05-29 20:22] markusthoemmes commented on #8114
@evankanderson yeah the operator relationship seems to be something to explore here. @jcrossley3 and @bbrowning brought up a similar point.

I touched on the multiple CO thing a little bit above. I'd imagine us starting with a global config that the components watch for in their own namespace. We could then in a next step explore per-namespace configuration too.

[2020-05-30 02:21] mattmoor opened #8139 "HA Webhook"
/area API

## Describe the feature

This entails pulling in the upstream work in knative/pkg to enable the webhook to perform leader election, and testing that in the context of Serving.

[details](https://docs.google.com/document/d/1i_QHjQO2T3SNv49xjZLWlivcc0UvZN1Tbw2NKxThkyM/edit)

[2020-05-30 02:24] mattmoor commented on #8139
/assign

[2020-05-30 12:03] #8111 closed

[2020-05-30 12:03] #8110 closed

[2020-05-30 12:03] #8109 closed

[2020-05-30 12:03] #8112 closed

[2020-05-30 17:02] mattmoor commented on #5040
Yeah, it needs a new driver.  I was hoping @vagababov would tackle it 😉

[2020-05-31 12:03] #8132 closed

[2020-05-31 12:03] #8133 closed

[2020-05-31 17:53] vagababov commented on #5040
Ugh :) docs docs docs :)

[2020-06-01 08:46] sneko commented on #7933
@ZhiminXiang any news on that?

On my side I have an issue, I'm not sure it's related to the workaround we discussed above.

In short, before all above messages I was using auto-TLS to generate certificates. But since I enabled reaching the cluster through custom URLs (`${service}.${namespace}.domain.com`) to unlock the main issue, my services that were using DomainMapping were no longer accessibl

[2020-06-01 14:12] beemarie commented on #6516
looking for a little more information on understanding what the issue is here/how to recreate. If I run the test from knative/serving, i see that it passes:

[code]

I see @mattmoor recommended using mink for recreating -- is that required? I see mink doesn't actually have any tests, so would I run them from knative/serving instead?   Thanks!

[2020-06-01 14:30] mattmoor commented on #6516
@beemarie You need to move serving into a different namespace to reproduce this.  I believe our e2e tests are setup to do this, but they also set an environment variable that keeps conformance working.  If you unset that environment variable for conformance, things should blow up.

[2020-06-01 14:30] mattmoor commented on #6516
cc @houshengbo who did that work IIRC

[2020-06-01 14:52] sneko commented on #7933
Note that this conflict put almost all my services in an unstable state with an infinite loader:
![image](https://user-images.githubusercontent.com/8195958/83421094-d7d59500-a427-11ea-8b20-03ab2ee0bca2.png)

**It implies my CI/CD is no longer able to deploy new versions since old ones are stuck.** That was not happening before.

I don't understand what I'm doing wrong, I'm just using basic Cloud R

[2020-06-01 16:33] mattmoor opened #8147 "High CPU usage for idle queue-proxy"
/area API
/area networking

## What version of Knative?

I believe all.

## Expected Behavior

When a ksvc is idle `kubectl top pod --container` shows near-zero QP usage.

## Actual Behavior

I see 40m-50m CPU usage pretty constantly:

[code]

I believe that this is generally masked by the fact that we scale idle pods to zero, but we should fix this.

## Steps to Reproduce the Problem

Deploy a si

[2020-06-01 16:45] mattmoor commented on #8147
@vagababov and I enabled profiling, and nothing showed up, but the working theory was that this was actually due to the fact that we rewrite probes as exec probes on the user container (for sub-second evaluation to speed cold-starts), and by default we have at least a TCP probe.

The default `periodSeconds` is `1`, but we respect this when specified, so if I specify `60` this becomes:

[code]

If

[2020-06-01 16:46] mattmoor commented on #8147
I'm going to prepare a PR with this set to 10s and we can `/retest` it to death :)

[2020-06-01 16:55] julz commented on #8147
yeah.. to state the obvious tho, sounds like the downside there (iiuc) is we'd likely have to up how long we wait in the PreStop handler before shutting down to make sure the routes have gone away before we exit => (even) longer time the user has to wait for an idle pod to go away and stop being charged for. @duglin won't be happy ;)

wonder why we use an ExecAction here rather than a HTTPGetActio

[2020-06-01 16:57] julz commented on #8147
unless /retest says it's fine in which case it's fine :-D. But it still might be nice to do a http get and avoid the kernel activity a process spawn will involve if we can.

[2020-06-01 17:06] mattmoor commented on #8147
@julz it allows us to probe sub-second for faster cold-starts.

[2020-06-01 17:08] julz commented on #8147
I'm not following why a GET on the QP wouldn't also be able to do that?

[2020-06-01 17:09] mattmoor commented on #8147
The field is `periodSeconds` 😞

[2020-06-01 17:11] julz commented on #8147
yes but why couldn't a GET handler in the QP do the exact same logic as the exec-ed handler does (i.e. retry the actual endpoint for up to 10 seconds until success)?

[2020-06-01 17:17] mattmoor commented on #8147
We looked at that, it takes time for the queue-proxy itself to come up, which created a 1s floor.  Definitely open to clever alternatives 😉

[2020-06-01 17:21] julz commented on #8147
hm, one very simple alternative would be to start listening just for health checks (potentially on another port) right after startup? Did we try that already?

[2020-06-01 17:48] mattmoor opened #8151 "queue proxy should distinguish shutting down from not ready yet"
/area API
/area networking

## Describe the feature

This came up digging into https://github.com/knative/serving/issues/8147

It seems like the intent of the high-frequency of probing was to speed shutdowns: https://github.com/knative/serving/blob/e0b4b30c6461a43dc64a39e5a17cdac860436e26/pkg/reconciler/revision/resources/queue.go#L151-L155

However, we don't distinguish between "not yet ready" an

[2020-06-01 17:57] mattmoor commented on #8151
/kind good-first-issue

[2020-06-01 18:35] dprotaso commented on #8147
We should use `startupProbe` for the initial sub second probing - and switch to cheaper liveness/readiness probe afterwards

[2020-06-01 18:39] dprotaso commented on #8147
It's now available to us given our min K8s version is [1.16](https://v1-16.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.16/)

[2020-06-01 18:42] mattmoor commented on #8147
The problem is that our main reason for high-frequency probing is actually scale-down vs. scale up.

We already solve high-frequency failure retries internal to the exec probe, so the high-frequency of the outer probing is so that we can lame duck faster.

[2020-06-01 18:43] julz commented on #8147
looks like startupProbe was alpha in 1.16, beta as of [1.18](https://github.com/kubernetes/kubernetes/pull/83437). Are we ok relying on a beta feature?

[2020-06-01 18:47] julz commented on #8147
true @mattmoor but I think what @dprotaso is saying is we can do the exec probing only on startup (when we need to do it because of the 0 initial delay racing with the http server not being ready), then after that we can switch to a HTTPGet probe. It's true that that probe needn't be as frequent as it is now, but still seems like it's worth avoiding process spawns even if they're every 10s rather

[2020-06-01 19:16] tcnghia opened #8152 "Find a go-mod compatible way to run Ingress conformance tests in net-* repo"
## Describe the feature
Currently if we use go 1.14 in go.mod we will be missing all Ingress conformance tests.

There are a few ways to work around, like  https://github.com/knative/serving/pull/8150 and https://github.com/knative/net-istio/pull/101 .  Alternatively our test code could checkout code from knative/serving (or soon to be knative/networking) and run the tests there.

We should decide

[2020-06-01 19:18] tcnghia commented on #8152
I think the approach in #8150 is pretty clean & simple.  A few drawbacks:
- May confuse test writers that tests aren't using *_test.go naming.
- New tests will be manually listed.

cc @mattmoor @dprotaso

[2020-06-01 19:19] tcnghia commented on #8152
Approach based on knative/net-istio#101 is also workable.  We could change it to only copy the tests and import tests' vendor in the `test/e2e-commons.sh` logic to avoid dirtying the main code.

[2020-06-01 19:53] tcnghia opened #8153 "Upgrade tests are always using the nightly release of net-istio"
## What version of Knative?
< 0.15.

## Expected Behavior
Upgrade tests should use a knative.dev/net-istio version that is consistent with knative.dev/serving.

## Actual Behavior
However in https://github.com/knative/serving/pull/8140 we discovered that upgrade tests are always using net-istio from nightly.

## Steps to Reproduce the Problem

[2020-06-01 19:56] tcnghia commented on #8153
One way to improve this is to use the third_party/net-istio.yaml from the tagged release version of knative/serving.  For examples https://raw.githubusercontent.com/knative/serving/v0.15.0/third_party/net-istio.yaml .  This approach will always guaranteed to start with a combination of knative/serving and knative/net-istio that was checked in.

Alternatively, we could to always install the latest

[2020-06-01 19:56] tcnghia commented on #8153
Since we want to be as close to the users as possible in our testing, we should go with the second approach (install the latest release of net-istio whenever we install the latest release of serving)

[2020-06-01 19:57] tcnghia commented on #8153
cc @chizhg

[2020-06-01 20:10] tcnghia commented on #8152
We chose to adopt https://github.com/knative/serving/pull/8150 since it simplifies things from downstread (net-* repos).

[2020-06-01 20:16] chizhg commented on #8153
/assign

[2020-06-01 20:18] tcnghia commented on #8151
/assign @rafaeltello

[2020-06-01 20:19] tcnghia commented on #8152
/assign @dprotaso

[2020-06-01 20:32] mattmoor commented on #8147
I see, yeah I think that'd be an interesting balance to strike (when we can).  I'm open to exploring that.

I think beta K8s features are probably fine once they are beta in our minimum k8s version, so we likely can't adopt this quite yet.

[2020-06-01 20:41] julz commented on #8147
maybe we could feature flag it and mark it as something you should only enable in 1.18+ (since the fallback of just doing continual execprobes will still work, just at a performance cost, with that disabled)? Or are we a hard no on alpha features even behind a feature flag?

[2020-06-01 21:47] JRBANCEL opened #8156 "Use Istio VirtualService status"
## Describe the feature
Istio now has Alpha support for VirtualService status: https://istio.io/docs/reference/config/config-status/

This issue is to track the investigation, prototyping and implementation of KIngress status using VirtualService status instead of probing.

/cc @tcnghia @therealmitchconnors

[2020-06-01 22:13] #7495 closed

[2020-06-01 22:42] mattmoor commented on #8147
Without a good way to test it, I'm reluctant to add it.

[2020-06-01 23:20] #8147 closed

[2020-06-02 00:01] #6410 closed

[2020-06-02 00:14] nak3 commented on #8156
This is related (duplicated) to https://github.com/knative/net-istio/issues/124.
It is better to open both tickets here and net-istio?

[2020-06-02 01:34] tcnghia commented on #8156
Should be in net-istio as I think this doesn't affect any code in serving.

[2020-06-02 01:50] JRBANCEL commented on #8156
My bad.
/close

[2020-06-02 01:50] #8156 closed

[2020-06-02 01:53] tanzeeb commented on #8097
/assign

[2020-06-02 03:27] vagababov commented on #6410
This was actually done here: https://github.com/knative/serving/pull/7946

[2020-06-02 07:16] julz commented on #8147
yeah fair point about the inability to test it - shame :(

[2020-06-02 09:42] markusthoemmes commented on #8153
@tcnghia tbh I'd rather go with the checked in third_party version to have control over what gets tested when. If not, we should ditch the third_party file entirely and always rely on the latest release from net-istio.

[2020-06-02 10:13] #7955 closed

[2020-06-02 12:03] #7951 closed

[2020-06-02 12:13] des-esseintes opened #8160 "Session affinity / sticky sessions / cookie based traffic splitting"
## Ask your question here:

Hello, wonderful Knative community!
Thanks for all your effort, I'm a new user who's fascinated by the project you've created.
However, I could not find answer to the question: is it possible to use cookies when splitting traffic to be sure that the same user will always be directed to the same revision?
I know this feature exists in bare Istio, Gloo, ..., but could not

[2020-06-02 12:40] des-esseintes opened #8161 "Stale resources garbage collection"
Hello!

My 2nd question for today, hope I'm  not getting   too annoying here :)

So, I was playing around with Knative, and found out that there is a lot of unused resources left, and the number is constantly growing  with new deploys.

For example:

[code]
and so on (Upstreams are courtesy of Gloo I assume)
The question is: are there any best practices for keeping the envyronment clean?
It's not

[2020-06-02 13:00] markusthoemmes commented on #8161
If your Knative Services are "stale", then you should probably just delete it. A ton of ksvc and revisions shouldn't be an issue at all though, in principle, as the applications themselves should just scale to 0 and thus not consume any resources at all.

[2020-06-02 16:08] des-esseintes commented on #8161
Services are fine, my biggest concern was Revisions and other stuff like that. I know GCP's CloudRun allows 1k of them (if I'm correct), then deletes the old, unused ones automatically

[2020-06-02 16:19] tanzeeb commented on #8097
/project 41

[2020-06-02 16:20] tanzeeb commented on #8098
/project 41

[2020-06-02 16:24] tcnghia commented on #8098
@mattmoor it seems the Milestone Maintainers membership isn't enough to use /project?

/project

[2020-06-02 16:28] vagababov commented on #8098
I was able to just use the cog

[2020-06-02 16:31] tcnghia commented on #8098
/project "Networking: Routing Based on Tag Header" add

[2020-06-02 16:32] tcnghia commented on #8098
/project "Networking: Routing Based on Tag Header" "To do"

[2020-06-02 16:37] tcnghia commented on #8098
@tanzeeb can you try again with `/project "Networking: Routing Based on Tag Header" "To do"`?

thanks

[2020-06-02 16:40] tanzeeb commented on #8098
/project "Networking: Routing Based on Tag Header" "To do"

[2020-06-02 16:41] vagababov commented on #8161
The hosted CloudRun might have. The CloudRun GKE addon does not enforce limits.

[2020-06-02 16:45] vagababov commented on #8160
/cc @tcnghia @ZhiminXiang @nak3

[2020-06-02 17:11] evankanderson commented on #2142
I think #6147 suggests that we should stop doing this (mounting an emptyDir to `/var/log`). This was based on a reading of https://github.com/knative/serving/blob/master/docs/runtime-contract.md#default-filesystems which is not quite what was intended. (i.e. the difference between `mkdir -p -m 1777 /var/log` and replacing `/var/log` with an empty directory.

[2020-06-02 17:41] evankanderson commented on #7938
Hi @Shashankft9 ,

One of the principles that we've attempted to hew to in the design of Knative is to build independent pieces which can be orchestrated to work together. At the last community days, I gave a demo of using [`ImageBinding` from project Riff](https://github.com/projectriff/bindings#imagebinding) together with [`kpack` from Pivotal](https://github.com/pivotal/kpack) to automatically

[2020-06-02 18:04] markusthoemmes opened #8164 "State of our HPA/custom-scaler support"
**Disclaimer:** This came up while we discussed implementation choices for the scalability of our custom-metrics API. Proceed with caution.

**Disclaimer 2:** Whatever the outcome of this discussion is, it needs to be validated with actual user data.

---

For autoscalers, we currently support KPA (Knative Pod Autoscaler), HPA (K8s Horizontal Pod Autoscaler) and, in theory, custom autoscalers.

We

[2020-06-02 18:05] mattmoor commented on #8164
cc @julz

[2020-06-02 18:11] mattmoor commented on #8164
Yeah, this limitation has always made shipping this by default a non-starter.  It's why we didn't in Cloud Run.  This also presents problems co-existing with things like KEDA, which feels like a much more realistic use of the scale-to-zero support in HPA (pull-based doesn't need to worry as much about dataplane hand-offs).

[2020-06-02 18:12] evankanderson commented on #7881
One other option would be to perform a `mkdir -p 1777 /var/log` inside the container filesystem. I'm not sure if this is something that queue-proxy should do, or it if would be better to be a separate e.g. DaemonSet.

[2020-06-02 18:16] evankanderson commented on #6857
Is this closed by #7897, or is this a separate issue?

[2020-06-02 19:29] #8152 closed

[2020-06-02 20:10] Shashankft9 commented on #7938
@evankanderson  yes, I see how this architecture can work, but still I'd say it can prove to be a tightly coupled system between these tools (or other tools like these) which could be better off when provided natively through knative - only to improve the developer/user experience.

Also, many a times it could be easier to directly use a func handler and runtime architecture. Where in the handler

[2020-06-02 20:13] #8153 closed

[2020-06-02 21:28] #8054 closed

[2020-06-02 22:30] vagababov commented on #5068
/reopen
This does not currently work because the ordering of the handles is such that probes and healthchecks are already handled by the time LW is involved.

/assign vagababov yanweiguo
I'll fix the code and @yanweiguo is going to introduce a e2e test for this.

[2020-06-02 22:41] danehans commented on #6593
Can someone from the Knative community provide feedback on [this comment](https://docs.google.com/document/d/1JcxqvBVdJ1k9J5Cy-6uvs-iZSfFwFxt3pY73kM9wW1E/edit?disco=AAAAGfWXHo0)? cc: @bbrowning @evankanderson @tcnghia

[2020-06-03 00:17] Cynocracy opened #8171 "Add unit test for DEVELOPMENT.md workflow"
/area test-and-release

Other classifications:
/kind good-first-issue

## Describe the feature

We document today that developers can use `ko apply -f config/` when working on Knative. However, our integration tests use very different ko commands, and thus it is easy for our integration tests to be green when the developer workflow is broken. This has bit us once before (see https://github.com/kna

[2020-06-03 00:18] Cynocracy commented on #8171
I'm considering picking this up, but don't necessarily have the bandwidth. If someone is interested, just reply here and I'll know to stop prototyping :)

[2020-06-03 05:33] ZhuangYuZY commented on #7926
@markusthoemmes and @vagababov I saw knative 0.15, if we install the version, the retry will be removed from virtual service, right ? Thank you.

[2020-06-03 08:30] julz commented on #8164
wrt the thrust of this - totally agree: in the end we've built and are maintaining a lot of stuff _just in case_ someone wants to use it in HPA or a custom autoscaler, and there's not much evidence that anyone actually has or does. So this is a very good question to ask.

One concern I have with the _broader_ question of dropping or lessening support for those custom autoscalers/HPA is I think tha

[2020-06-03 08:41] markusthoemmes commented on #8164
Yeah, the issues are certainly somewhat local to the custom-metrics server. I agree we probably don't want to remove the ability for HPA support in general (i.e. for CPU or other metrics) and the ability to bring your own via our `class` extension. I think those pieces can stay intact just fine.

[2020-06-03 10:13] zhanggbj commented on #7926
@ZhiminXiang @markusthoemmes @vagababov
Actually there isn't too much workload in our env, especially compared with istio [performance and scalability](https://istio.io/docs/ops/deployment/performance-and-scalability/).

One big difference in our env is that we're using **Istio secret discovery service** and about 500 hundred for **https entries and secret** there. Is it possible that these will l

[2020-06-03 10:23] ZhuangYuZY commented on #7926
Another issue I think may relate is  https://github.com/istio/istio/issues/20958.  More SDS secret loaded, more memory may needed. I think we can do a test for it. Thank you.

[2020-06-03 10:25] markusthoemmes commented on #7926
The retries have been dropped in https://github.com/knative/serving/pull/7842. As for the other issues, I really don't think that Knative is the right place to ask those questions unless it's Knative misusing Istio in some way.

[2020-06-03 10:32] markusthoemmes commented on #912
@dprotaso this comment suggests that's not possible today https://github.com/kubernetes-sigs/kubebuilder/issues/1140#issuecomment-571798871

[2020-06-03 10:40] markusthoemmes commented on #912
Aaaand some more relevant issues:
- [Allow use of $ref in in CRD validation schema](https://github.com/kubernetes/kubernetes/issues/62872)
- [Large CRDs go over size limits (e.g. those with embedded podspecs)](https://github.com/kubernetes/kubernetes/issues/82292)

[2020-06-03 12:03] knative-test-reporter-robot opened #8175 "[flaky] test/conformance/ingress.TestIngressConformance/dispatch/percentage"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressConformance/dispatch/percentage
* **Repository name**: serving

[2020-06-03 12:03] knative-test-reporter-robot opened #8176 "[flaky] _build_tests.Verify_CodeGen"
### Auto-generated issue tracking flakiness of test
* **Test name**: _build_tests.Verify_CodeGen
* **Repository name**: serving

[2020-06-03 12:03] knative-test-reporter-robot opened #8177 "[flaky] _build_tests.Build_Go"
### Auto-generated issue tracking flakiness of test
* **Test name**: _build_tests.Build_Go
* **Repository name**: serving

[2020-06-03 12:03] knative-test-reporter-robot opened #8178 "[flaky] test/conformance/ingress.TestIngressConformance/visibility/split"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressConformance/visibility/split
* **Repository name**: serving

[2020-06-03 13:20] duglin commented on #8164
The concept of a custom auto-scaler is nice, but how realistic is that w/o other code changes - similar to what I think @markusthoemmes was talking about when he mentioned that networking might be impacted as well.

Looking at the async case Julz mentioned that we've been looking at... the design of that is probably going to impact the auto-scaler, the activator (load-balancing), and metrics scrap

[2020-06-03 13:41] des-esseintes commented on #8161
So, do you think it's ok to keep this kind of stuff in the cluster?
Imagine a big cluster with a lot of apps, each of them deployed numerous times, and running for a long perriod of time. Won't it cause any troubles? I don't know myself, just wondering. If you say it's fine, then we can close the issue :)
Thanks for your answers!

[2020-06-03 15:01] andrew-su opened #8184 "Add Domain and Realm CRDs for kingress visibility"
Related Issue: https://github.com/knative/serving/issues/6642
/area networking
/project "Networking: KIngress Visibility Setting" "To do"

## Describe the feature
Create a new CRD for Domain
Create a new CRD for Realm

The work included with this should be have the following validations:
- `Domain`:
  - Must specify `IngressClass`
  - Must specify at least 1 load balancer
- `Realm`:
  - At least e

[2020-06-03 15:06] andrew-su opened #8185 "Update label validation for expanding kingress"
Related Issue: https://github.com/knative/serving/issues/6642
/area networking
/project "Networking: KIngress Visibility Setting" "To do"

## Describe the feature
The validation for `kservice` and `route` should be relaxed to allow specifying a `realm` as a visibility.

[2020-06-03 15:14] andrew-su opened #8186 "Route reconciler should use the realm's domain information to create kingress resource"
Related Issue: https://github.com/knative/serving/issues/6642
/area networking
/project "Networking: KIngress Visibility Setting" "To do"

## Describe the feature
Update the route reconciler to use the information provided by the realm's domain object to create the kingress resource.

[2020-06-03 15:16] tcnghia commented on #8184
/project "Networking: KIngress Visibility Setting" "To do"

[2020-06-03 15:17] tcnghia commented on #8185
/project "Networking: KIngress Visibility Setting" "To do"

[2020-06-03 15:17] tcnghia commented on #8186
/project "Networking: KIngress Visibility Setting" "To do"

[2020-06-03 16:01] andrew-su commented on #8184
/assign @andrew-su
/assign @shashwathi

[2020-06-03 16:01] andrew-su commented on #8185
/assign @andrew-su
/assign @shashwathi

[2020-06-03 16:01] andrew-su commented on #8186
/assign @andrew-su
/assign @shashwathi

[2020-06-03 16:23] markusthoemmes commented on #3368
This is done.

[2020-06-03 16:24] markusthoemmes commented on #2860
Is this done @mattmoor @tcnghia? I think our install docs do the right things now.

[2020-06-03 16:26] markusthoemmes commented on #3997
I can have a look at our supported Openshift versions to see if this would now work as expected.

/assign

[2020-06-03 16:31] #5480 closed

[2020-06-03 16:32] vagababov commented on #2201
I thought we removed retries?
Can we retire this one?

[2020-06-03 16:33] vagababov commented on #3425
Weston,
can we close this out, or you still do something in this space?

[2020-06-03 16:36] vagababov commented on #2761
This is kind of impossible, since we're using the same ports during scale from 0 and activator needs to listen on the same ports (the whole SKS thing works only because ports match).

[2020-06-03 16:37] whaught commented on #3425
/close

Sure. I have https://github.com/knative/serving/issues/8077 filed for the next step

[2020-06-03 16:37] #3425 closed

[2020-06-03 16:41] vagababov commented on #4283
@tanzeeb
You still look at this? With 1.5 or 1.6 can we do it?
/remove-lifecycle stale

[2020-06-03 16:42] vagababov commented on #6269
/remove-lifecycle stale

[2020-06-03 16:44] markusthoemmes commented on #7197
Shouldn't we install the controllers needed for each of those bits next to knative, i.e. in `knative-serving`? Is there an issue with that at all? The operator certainly will go that route.

[2020-06-03 16:44] vagababov commented on #8161
There are GC settings. Which collect all resources. It might be that in CRfA you cannot modify those (it might be one of those managed configmaps), but in Knative in general you can be as scrappy as you want and retire old revisions and all associated revisions.

[2020-06-03 16:45] richterdavid commented on #2201
I have a half-done PR for this in progress...

[2020-06-03 16:45] markusthoemmes commented on #7186
Sounds just about right. I think there's nothing left to do here.

[2020-06-03 16:45] #7186 closed

[2020-06-03 16:45] #7159 closed

[2020-06-03 16:47] vagababov commented on #2201
@tcnghia
What's the status there :)

[2020-06-03 16:47] whaught commented on #4937
/close

[2020-06-03 16:47] #4937 closed

[2020-06-03 16:47] markusthoemmes commented on #7079
Since it's not reproducable, I suppose this is done? @hbagdi please reopen if you disagree.

[2020-06-03 16:47] #7079 closed

[2020-06-03 16:48] markusthoemmes commented on #6984
@dprotaso are we ready to knock this one off for 0.16?

[2020-06-03 16:59] markusthoemmes commented on #5573
We're actually adding features to this potentially, to enable downstream implementations to run the tests with relaxed retry behavior. We can probably close this one soon.

[2020-06-03 17:01] markusthoemmes commented on #5664
I though about this the other day too. Should we do a defaulting cycle at the beginning of each reconciler and write back to the API if the defaulting resulted in a diff?

/cc @mattmoor @dprotaso

[2020-06-03 17:12] #6864 closed

[2020-06-03 17:14] markusthoemmes commented on #8177
This is already fixed.

[2020-06-03 17:15] markusthoemmes commented on #8176
Fixed.

[2020-06-03 17:37] beriberikix commented on #6492
Thanks for the feedback!

My _very_ naive understanding of how the activator and autoscaler works is that it is (logically) built around assumptions of HTTP. An alternative strategy to proxying every protocol would be some sort of extension mechanism that would put the responsibility on the protocol implementor to implement, similar to the direction Envoy is going with WebAssembly (albeit I'm not

[2020-06-03 18:51] dprotaso commented on #6984
If we do we effectively bump our min k8s version to 1.16.9. Do all providers have that version available?

Quick skim it looks like EKS doesn't?

[2020-06-03 18:52] dprotaso commented on #6984
I don't have strong opinions here

[2020-06-03 19:03] dprotaso commented on #6583
almost - I realized there's a few stragglers - but I'm waiting for my `go.mod` 1.14 changes to land otherwise i'm rebasing ∞ times

[2020-06-03 19:27] richterdavid commented on #2761
/unassign

[2020-06-03 19:43] JRBANCEL commented on #6269
This will be obsolete once we use Istio VirtualService status instead of probing.

[2020-06-03 23:11] yanweiguo commented on #8063
There should be revision related metrics. I just verified that it works as expected using Knative 0.14. BTW, knative-monitoring component is deprecated.

No. You can curl `<pod_ip>:9090/metrics` (for queue-proxy) or `<pod_ip>:9091/metrics` (for other components) to get the metrics.

[2020-06-04 00:03] ReggieCarey commented on #3809
/reopen
/remove-lifecycle rotten

It would be extremely beneficial to be able to disable /var/log overwriting.  This problem appears to break any app using nginx to front a service.  There are tons of them out there.

Sidecars are fine.  But DO NOT modify my containers.  This steps outside of Knative area of concern.   Knative should serve up an untouched container.

Logging is far down the list o

[2020-06-04 01:20] JRBANCEL commented on #3809
/reopen
/remove-lifecycle rotten

There were discussions about removing this feature since as you mentioned it really is out of scope of Knative.

/cc @dprotaso

[2020-06-04 01:33] mattmoor commented on #5664
Reconcilers shouldn't modify their own resources spec.

[2020-06-04 03:59] edenbuaa opened #8190 "Can the knative autoscaling feature support GPU sharing?"
I want to know if the pods can share one GPU resource in the case of autoscaling. thanks.

[2020-06-04 07:16] Yaoda77 commented on #8038
Hi,@Shashankft9 :

I think I got the same problem when updating configmap. I tried to update configmap with the command
[code]
But it can be seen from the controller logs that
the configmap reverts to the original version everytime after being edited.

the logs looks like
[code]

Do you have any idea about this problem? How did you update your configmap?

I'm looking forward to your reply,

Thank

[2020-06-04 08:52] Shashankft9 commented on #8038
hey @Yaoda77 can you show your edited configmap here?

[2020-06-04 08:55] Shashankft9 commented on #8038
I am imagining the issue with your configmap is that - the `RegistriesSkippingTagResolving` key is inside `_example` key. You can simply remove the `_example` key and align the `RegistriesSkippingTagResolving`key properly and apply the configmap, should work!

[2020-06-04 09:04] Yaoda77 commented on #8038
Yes, it works! Thank you for your help!

[2020-06-04 09:17] nak3 opened #8193 "Use Istio 1.5 for e2e test's default Istio"
/area networking
/area test-and-release

## Describe the feature

As Istio 1.4 is EOL on [June 5th](https://istio.io/news/support/announcing-1.4-eol/), we should use Istio 1.5 instead of 1.4 for e2e test.

One big concern is that istio 1.5 is not stable if running it with in parallel. Current 1.5 test adds the `-parallel 1` option:

https://github.com/knative/serving/blob/59ae7d0fbe5b43de8fcfbed53

[2020-06-04 09:21] nak3 commented on #8193
/cc @tcnghia @ZhiminXiang

I have tried to remove `-parallel 1` in https://github.com/knative/serving/pull/7738, but it is failing with `503` error and still not sure the root cause.
I believe that it is caused by Istio issue, but cannot find the critical evidence to bring up it for Istio community.

[2020-06-04 09:25] markusthoemmes commented on #5403
We discussed this briefly in the Autoscaling meeting and wondered if there's even something actionable here. I doubt there is, the only bit of validation we *could* do is to check that the keys are correct if the `knative.dev` domain is used but... meh.

[2020-06-04 09:29] markusthoemmes commented on #8190
Could you elaborate on the use-case a bit please?

The autoscaler doesn't know about GPU resources currently at all.

[2020-06-04 09:34] markusthoemmes commented on #7848
This is done.

[2020-06-04 09:34] #7848 closed

[2020-06-04 09:54] markusthoemmes commented on #7755
We've called out in the last release that we're ditching `serving.yaml`, maybe we should bite this off for 0.16 then @mattmoor?

Assembling a proposal PR.

/assign

[2020-06-04 09:57] markusthoemmes commented on #7728
I'll close this as a dup then :).

[2020-06-04 09:57] #7728 closed

[2020-06-04 09:58] markusthoemmes commented on #7742
Seems like we could at least do a better job surfacing the error?

[2020-06-04 10:00] markusthoemmes commented on #7557
@dongdan39 is your issue resolved?

[2020-06-04 10:04] markusthoemmes commented on #7554
Interesting, this looks like that same service existed before but with a `ClusterIP` type :thinking:

[2020-06-04 10:05] markusthoemmes commented on #7512
@nak3 your comment indicates that this is solved on our end. Can you confirm that @felix-meissner?

[2020-06-04 10:09] #7311 closed

[2020-06-04 10:10] markusthoemmes commented on #7290
@vagababov you've done quite a bit here lately. Is this done to your content?

[2020-06-04 10:37] felix-meissner commented on #7512
Yes thank you :)

[2020-06-04 10:37] #7512 closed

[2020-06-04 11:40] markusthoemmes commented on #7797
Any objections on enabling this by default for all components now?

[2020-06-04 12:03] knative-test-reporter-robot opened #8197 "[flaky] test/conformance/api/v1beta1.TestContainerErrorMsg"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestContainerErrorMsg
* **Repository name**: serving

[2020-06-04 13:43] des-esseintes commented on #8161
i could find this sentence in older version of the documentation:  'Keep in mind that non-routeable revisions may be garbage collected, which enables Knative to reclaim the resources.'
it  pretty much answers my original question.
thanks!

[2020-06-04 13:43] #8161 closed

[2020-06-04 15:31] edenbuaa commented on #8190
@markusthoemmes Suppose that I have only one gpu resource for mode inference serving, I want to know if the pods can sharing the gpu resouce when pod scale up

[2020-06-04 18:09] markusthoemmes commented on #2201
Is Envoy's timeout a time-to-first-byte timeout? Will it keep Websocket connections intact forever?

[2020-06-04 19:25] mgencur commented on #7797
Linking the other issue that is related: https://github.com/knative/pkg/issues/1319 It will affect implementation significantly.

[2020-06-04 19:38] mgencur commented on #7797
The first impl is here: https://github.com/knative/serving/pull/8205 . We should consider  knative/pkg#1319 before merging it.

[2020-06-04 19:47] vagababov commented on #8190
What do you mean by `if the pods can sharing the gpu resouce when pod scale up`? Can different pod share the same node GPU? Can they? Or limit that?

[2020-06-04 19:48] vagababov commented on #7290
yeah
should be ok
/close

[2020-06-04 19:48] #7290 closed

[2020-06-04 21:13] #8151 closed

[2020-06-04 21:20] ZhiminXiang commented on #8193
I think we can start with running tests sequentially and making sure it works, and add parallelism. WDYT?

[2020-06-04 23:52] mattmoor opened #8208 "More aggressive Revision GC settings"
## In what area(s)?
/area API
/kind spec

## Describe the feature

An issue was recently raised around the volume of Revisions that are produced (and retained) in tight edit loops (think: fsnotify).

Today we have 3 knobs that control the GC of Revisions:
1. The minimum depth of revisions to retain (`stale-revision-minimum-generations `),
2. The minimum duration of time to keep a Revision (`stale-

[2020-06-04 23:56] evankanderson commented on #8208
The `fsnotify` case where "deploy" is basically being used in the development inner-loop is interesting.

A few different approaches:

1. Reduce the number of revisions via more aggressive GC. We probably want to keep (at a minimum) all *working* revisions since the one assigned traffic, as well as the *most recent* failed deployment (for debugging).

1. More aggressively collapse Revisions older

[2020-06-05 00:02] richterdavid commented on #2201
The docs say "Timeout for HTTP requests.", and don't specify behavior further.
https://istio.io/docs/reference/config/networking/virtual-service/#HTTPRoute

I would guess that this ends up being a 504 error, which is what I'm seeing in some of the broken integration tests, which is documented here:
https://tools.ietf.org/html/rfc7231#section-6.6.5
I would guess that this is time-to-last-byte.

If

[2020-06-05 00:07] whaught commented on #7143
/remove-lifecycle stale

[2020-06-05 01:26] ZhiminXiang commented on #8160
@des-esseintes currently Knative does not support session affinity / sticky sessions/ cookie based routing.
To workaround this, you could try to add your own resources (e.g. VirtualService for Istio) to route traffic to revision services based on your requirements.

[2020-06-05 02:10] edenbuaa commented on #8190
@vagababov yes , actually I mean that:  Can the GPU load multiple models in different pods in the autoscaling case.

[2020-06-05 02:16] mattmoor commented on #7755
works for me

[2020-06-05 02:35] tcnghia opened #8210 "Test knative/serving with Istio 1.6 and remove 1.4"
## Describe the feature
Now that Istio 1.6 is out and 1.4 is deprecated, we should start testing 1.6 and stop testing with 1.4.

[2020-06-05 02:42] nak3 opened #8211 "Updating ConfigMap always fail due to "_example" modified error"
##  Description

- When updating config-map, it always fail with error `validation failed: "_example" modified, you likely wanted to create an unindented configuration`.
- I know https://github.com/knative/serving/pull/8123 validates the `_example` field, but it fails even though __non-__`_example` block field with correct indent.
- The e2e script updates the config-map but passed, so it looks lik

[2020-06-05 03:45] vagababov commented on #8211
I reproduce it easily.
I think there's difference in the two strings the parsers generate (because those are two different YAML parsers). I think a few spaces here and there or a \n is all that matters.

[2020-06-05 03:52] vagababov commented on #8211
Ok, found it
/assign

[2020-06-05 04:33] tanzeeb commented on #4283
@rafaeltello is looking at it now

/assign @rafaeltello

[2020-06-05 05:17] yanweiguo commented on #5403
Do we have any contract of what the format a value of autoscaler type should be? Knative supports `kpa.autoscaling.knative.dev` and `kpa.autoscaling.knative.dev`. Per @markusthoemmes 's comment above, it looks we reserve `knative.dev` domain/suffix.

If we have, we can add verification for the format.

Another bit we can do, as #5560 proposed, is to add a new PA and Rev status condition, say `Auto

[2020-06-05 06:34] markusthoemmes commented on #8211
Ugh, sorry for missing this. My first version checked for this but I lost that in rewriting it to a go tool. My bad :angel:

[2020-06-05 07:49] MIBc commented on #8139
I have a question.
If webhook performs leader election. Does k8s apiserver always query the master webhook ?

[2020-06-05 11:47] des-esseintes commented on #8160
i see, thanks, @ZhiminXiang! any plans to make this 'native' to Knative? :)
just wondering.

[2020-06-05 12:04] #8178 closed

[2020-06-05 12:04] #8175 closed

[2020-06-05 15:20] dprotaso commented on #6582
We've bumped our min version as part of the 0.15 release to K8s 1.16

[2020-06-05 15:20] #6582 closed

[2020-06-05 15:21] dprotaso commented on #6583
Currently list of outstanding repos

- [ ] https://github.com/knative/net-contour/pull/139
- [ ] knative/net-istio
- [ ] knative/net-courier
- [ ] knative/net-http01
- [ ] knative/net-certmanager
- [ ] knative/test-infra
- [ ] knative/client
- [ ] https://github.com/knative/client-contrib/pull/36
- [ ] knative/caching
- [ ] knative/operator
- [ ] knative/networking

[2020-06-05 16:09] evankanderson commented on #5739
Ooh, @jjzeng-seattle and I are close on this, I think.

[2020-06-05 17:07] #8211 closed

[2020-06-05 17:22] richterdavid commented on #2201
I'd appreciate suggestions where and how to make changes to the documentation, samples, and end-to-end/integration tests for this feature.

[2020-06-05 17:40] vagababov commented on #2201
For docs: https://github.com/knative/docs/tree/master/docs/serving. Networking doesn't seem to have its own directory now, but rather assortment of files (cc @tcnghia )
Samples are in the same place under `samples`. Though I don't think we have many feature specific samples. Might be a good start (cc @mattmoor )

For e2e, given it's a CM change there are two ways:
- patch the CM in the e2e test (w

[2020-06-05 18:04] decewei opened #8220 "Can't resolve dev.local host name"
## What version of Knative?

## Expected Behavior

use image container in microk8s.ctr with dev.local

## Actual Behavior

Can't pull image. Can't resolve host name dev.local

## Steps to Reproduce the Problem

- microk8s 1.15
- docker tag IMAGEID dev.local/name:local
- export image to tar
- microk8s.ctr image import image.tar
- deploy a pod that use container image dev.local/name:local

[2020-06-05 18:10] vagababov commented on #8211
Mainly I think it's because we're using two different yaml parsers :| which is always inviting trouble in subtle differences :)

[2020-06-05 18:12] vagababov commented on #8139
Webhooks need master election for the reconcilers therein.
For validation/defaulting/mutation/etc they are equal for API server and it talks via K8s service.

[2020-06-05 18:52] JRBANCEL commented on #6857
#7897 addresses most of it.
I still want to add some documentation about what the flags are, how they are used and their lifecycle.

[2020-06-05 19:02] JRBANCEL commented on #7881
Are you suggesting to always create (and keep if it already exists) `/var/log`?
This solves the issue mentioned by @dprotaso above, but doesn't address the fact that enabling/disabling `/var/log` collection could still break thing since mounting an `emptyDir` erases the content of the folder where it is mounted and some images (e.g. `nginx`) break because they expect files to be present in that fo

[2020-06-05 20:39] mattmoor commented on #8139
If you were to run a webhook that handled "lease" resources, then there is a dependency cycle, but for anything else I think we'd be fine.

[2020-06-05 21:45] #7755 closed

[2020-06-05 23:58] yanweiguo commented on #5403
Verification has been added for class with `.knative.dev` suffix.

As for the new status, we already have `Ready`. If a PA is not ready, then it hasn't been reconciled yet by a autoscaler controller. Adding a new status called `AutoscalerReconciled` seems not necessary.

Close this now. Feel free to reopen if there's more action items we can do.

/close

[2020-06-05 23:58] #5403 closed

[2020-06-06 05:19] tcnghia opened #8228 "Setup Prow tests for knative/networking"

[2020-06-06 05:19] tcnghia opened #8229 "Bootstrap knative/networking e2e test using net-istio nightly"

[2020-06-06 05:20] tcnghia commented on #7482
/close

[2020-06-06 05:20] #7482 closed

[2020-06-06 05:33] #8228 closed

[2020-06-06 08:56] nak3 commented on #8210
Here is the task list.

- [ ] Use Istio 1.5 for default e2e `/pull-knative-serving-integration-tests`. (by https://github.com/knative/serving/issues/8193)
- [ ] Add Istio 1.6. (by https://github.com/knative/serving/issues/8193)
- [ ] Update test-infra to run Istio 1.6 instead of Istio 1.4 for `/test pull-knative-serving-istio-1.4-{no-}mesh`
- [ ] Remove Istio 1.4 completely.

[2020-06-06 12:02] knative-test-reporter-robot opened #8231 "[flaky] test/conformance/api/v1alpha1.TestRevisionTimeout/when_scaling_up_from_0_and_it_writes_first_byte_before_timeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestRevisionTimeout/when_scaling_up_from_0_and_it_writes_first_byte_before_timeout
* **Repository name**: serving

[2020-06-06 13:01] nak3 commented on #8193
Yes, sounds good.

I am now changing the default Istio version to 1.5 without parallel test in https://github.com/knative/serving/pull/8214 as Istio 1.4 is EOL.

[2020-06-06 13:30] munjalpatel commented on #8211
Hello,

I am running into this issue while trying to configure the domain as described here:
https://knative.dev/development/install/installing-istio/

How do I proceed forward?

[2020-06-06 17:40] vagababov commented on #8211
Did you update your serving?

[2020-06-06 21:35] munjalpatel commented on #8211
I am using the vision 0.15 as documented on the knative docs site. Since this is fairly new, I am sure I am not using the latest version. Which version should I be upgrading to?

[2020-06-06 23:28] tcnghia commented on #8193
@nak3 Does increasing the resources help?

[2020-06-06 23:28] tcnghia commented on #8229
/area networking
/area test-and-release

[2020-06-07 00:31] nak3 commented on #8193
I tried to increase the resource once before, but let me try it again. I am running it https://github.com/knative/serving/pull/7738.

[2020-06-07 01:28] nak3 commented on #8193
@tcnghia Increasing the resources did not help unfortunately :cry:  Here is [the log](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_serving/7738/pull-knative-serving-istio-1.5-no-mesh/1269426620368687104) in https://github.com/knative/serving/pull/7738

Even though the resources are increased by two times, it still fails due to SLI.

[code]

[2020-06-07 12:03] knative-test-reporter-robot opened #8233 "[flaky] pkg/reconciler/route.TestUpdateDomainConfigMap/prod-domain.com"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestUpdateDomainConfigMap/prod-domain.com
* **Repository name**: serving

[2020-06-07 12:03] knative-test-reporter-robot opened #8234 "[flaky] pkg/activator/net.TestRevisionWatcher/clusterIP_slow_ready,_no_pod_addressability"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestRevisionWatcher/clusterIP_slow_ready,_no_pod_addressability
* **Repository name**: serving

[2020-06-07 17:00] tcnghia opened #8235 "Use networking APIs from knative/networking"
/area networking
/area api

For https://github.com/knative/serving/projects/40, we moved out out the networking types (KIngress, KCert, SKS) into their own repository knative.dev/networking.

Now we need to consume those from knative.dev/networking and remove them from knative.dev/serving.

[2020-06-08 03:24] zhanggbj commented on #7926
I verified in our env, the high MEM consuming is due to Istio SDS,  Istio ingressgateway consumes about 1 G MEM with following configurations

- Knative 0.13
- Istio 1.4.7
- Gateway https entries and Secret 500+

**After I deleted secret and Gateway SDS from 500+ to 100+, MEM decreased to 200+M, much more reasonable.**

<img width="1339" alt="Screen Shot 2020-06-07 at 23 08 01" src="https://user-i

[2020-06-08 05:45] ZhiminXiang commented on #7926
@zhanggbj Istio ingress SDS is changed a bit in Istio 1.5. It is NOT ran as a sidecar of Istio ingress pod in Istio 1.5. Instead, it is ran as a goroutine of istio-proxy.
Could you try Istio 1.5, and see if the ingress SDS change in Istio 1.5 will solve your problem?

[2020-06-08 05:55] zhanggbj commented on #7926
@ZhiminXiang Good to know and YES we're planning to upgrade to Istio 1.5 which has SDS enabled by default, and try if this problem still exists. Will update here later.

[2020-06-08 06:33] markusthoemmes commented on #8220
The image shouldn't need to be pulled at all. Have you imported the image into microk8s using https://microk8s.io/docs/registry-images?

[2020-06-08 08:42] decewei commented on #8220
Yes I did.

[code]

I tried with ImagePullPolicy: Never. That just say `ErrImageNeverPull`. If I remove it, it says `ImagePullBackOff`.

Here's my yaml:
[code]
An example from KFServing.

[2020-06-08 08:56] markusthoemmes commented on #8220
Can you share the exact error messages please? I'd especially be interested if the container image gets passed down into the deployment as-is.

[2020-06-08 11:02] sravankumar777 opened #8243 "Networking Istio pod memory usage increases in step size of around 100Mib"
## What version of Knative?
v0.14.0

## Actual Behavior
We deployed knative-serving v0.14.0 over Kubernetes Cluster with Istio as Service Mesh.
Observed memory usage for networking-istio pod shows sudden increase & does not get back to original state.

## Steps to Reproduce the Problem
1. Deploy knative-serving with v0.14.0 with Istio as service mesh.
2. Monitor memory usage for networking-istio p

[2020-06-08 12:04] #8231 closed

[2020-06-08 12:04] knative-test-reporter-robot opened #8245 "[flaky] test/conformance/api/v1alpha1.TestAnnotationPropagation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestAnnotationPropagation
* **Repository name**: serving

[2020-06-08 12:04] knative-test-reporter-robot opened #8246 "[flaky] test/conformance/runtime.TestMustEnvVars"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestMustEnvVars
* **Repository name**: serving

[2020-06-08 12:04] knative-test-reporter-robot opened #8247 "[flaky] test/e2e.TestWebSocketViaActivator"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestWebSocketViaActivator
* **Repository name**: serving

[2020-06-08 12:04] knative-test-reporter-robot opened #8248 "[flaky] test/conformance/runtime.TestShouldRunAsUserContainerDefault"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestShouldRunAsUserContainerDefault
* **Repository name**: serving

[2020-06-08 12:04] knative-test-reporter-robot opened #8249 "[flaky] test/e2e.TestGRPCUnaryPingViaActivator"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestGRPCUnaryPingViaActivator
* **Repository name**: serving

[2020-06-08 12:04] knative-test-reporter-robot opened #8250 "[flaky] test/conformance/api/v1beta1.TestBlueGreenRoute"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestBlueGreenRoute
* **Repository name**: serving

[2020-06-08 12:04] knative-test-reporter-robot opened #8251 "[flaky] test/e2e.TestGRPCStreamingPing"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestGRPCStreamingPing
* **Repository name**: serving

[2020-06-08 12:04] knative-test-reporter-robot opened #8252 "[flaky] test/conformance/api/v1beta1.TestRevisionTimeout/when_scaling_up_from_0_and_does_not_exceed_timeout_seconds"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestRevisionTimeout/when_scaling_up_from_0_and_does_not_exceed_timeout_seconds
* **Repository name**: serving

[2020-06-08 13:14] julz opened #8253 "Let's selectively destroy the selective destruction code path for now?"
## Describe the feature

We have [a feature flag](https://github.com/knative/serving/blob/02d01b626c714307a4c8f66a26bad1da9c8d8243/pkg/autoscaler/config/config.go#L93) and some code for [selective pod destruction](https://github.com/knative/serving/issues/3886) but we recently [agreed to de-prioritise](https://github.com/knative/serving/issues/3886#issuecomment-633990364) this feature track for no

[2020-06-08 13:17] markusthoemmes commented on #8253
/me is in favor of removing the existing code if there's no other use for it.

[2020-06-08 15:55] vagababov commented on #8253
Love removing code
:) I can start right away

[2020-06-08 16:10] vagababov commented on #8243
Does the increase correspond to some event in the cluster?

[2020-06-08 16:36] tcnghia commented on #7309
/close
This is done

[2020-06-08 16:36] #7309 closed

[2020-06-08 16:42] whaught commented on #8004
/close

[2020-06-08 16:42] #8004 closed

[2020-06-08 18:35] vagababov commented on #8252
And this as well: https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_serving/8239/pull-knative-serving-integration-tests/1270049930030878723
/assign @andrew-su @shashwathi

[2020-06-08 19:38] andrew-su commented on #8252
The first error from your link seems to be unable to send a request to etcd:
[code]

The second failure from the link seems to be webhook connection issue:
[code]

[2020-06-08 20:47] #8252 closed

[2020-06-08 21:34] #8235 closed

[2020-06-08 22:00] decewei commented on #8220
The revision of inference service
[code]
------
The pod log
[code]
------
The deployment description
[code]
-----
And the knative controller log:
[controller.log](https://github.com/knative/serving/files/4748832/controller.log)

Not very familiar with all services. Tried my best to gather some info.

[2020-06-08 23:12] dprotaso commented on #6583
woo it's done

[2020-06-08 23:12] #6583 closed

[2020-06-09 00:01] #6477 closed

[2020-06-09 00:01] #6482 closed

[2020-06-09 00:01] #6484 closed

[2020-06-09 00:13] nak3 commented on #6543
/remove-lifecycle stale

[2020-06-09 00:46] sravankumar777 commented on #8243
No major events happened during this change in memory usage of networking-istio pod.
However, we do have approximately 300+ namespaces.
Was not able to retrieve all events from different namespaces.

[2020-06-09 05:37] ZhiminXiang commented on #8098
/assign

[2020-06-09 08:51] zhanggbj commented on #8063
@yanweiguo Thanks for your reply!
I'm running Knative 0.13 and will upgrade to 0.15 to take a look. So I close it. Thanks!

[2020-06-09 12:01] #2644 closed

[2020-06-09 12:03] #7030 closed

[2020-06-09 12:03] #8234 closed

[2020-06-09 12:39] nak3 commented on #7207
/remove-lifecycle stale

Still no e2e tests for `httpProtocol` yet. and actually some KIngress (except net-istio) does not support this option AFAIK.

[2020-06-09 12:40] nak3 commented on #5990
/remove-lifecycle stale

[2020-06-09 14:00] julz commented on #7300
I wonder if now that we have the nice config map parsing library in pkg we could make this change in a backwards compatible way without a completely unreasonable amount of pain 🤔. It's only going to worse if we don't so I vote we bite the bullet, fwiw.

Hyphens ftw ;).

[2020-06-09 14:08] duglin commented on #4736
/reopen

[2020-06-09 14:41] #8012 closed

[2020-06-09 14:50] nicks opened #8273 "documentation has invalid config map"
/area API
/kind doc

## Expected Behavior

This doc
https://knative.dev/docs/serving/tag-resolution/

has this ConfigMap

[code]

When I apply this config map to my cluster, I get this error:

[code]

## Actual Behavior
I would expect examples on the knative documentation site to work out of the box

[2020-06-09 15:03] nicks commented on #6971
Would it be possible to make this a NORMAL event instead of a WARNING event? or at least, only make it a WARNING event after some reasonable time threshold has passed

[2020-06-09 17:34] vagababov commented on #8273
Thanks for the report.
Filed https://github.com/knative/docs/issues/2565
/close

[2020-06-09 17:34] #8273 closed

[2020-06-09 17:38] nicks commented on #8273
thanks!

[2020-06-09 22:32] vagababov commented on #7895
Now that we're doig actually non random load balancing, it starts to make sense to keep the behavior as is.

[2020-06-10 00:56] nak3 commented on #8243
In that case, I think it is difficult to determine root cause with current info.
Is it possible to collect memory profiles by enabling `profiling.enable` and then compare the data before the issue with after one?

https://github.com/knative/serving/blob/ff6a680fa7c1b9e119fcaecb6ee112ff647d60ca/config/core/configmaps/observability.yaml#L113

[2020-06-10 02:16] #5068 closed

[2020-06-10 05:30] TiewKH opened #8278 "Pods from old revisions not disappearing with HPA autoscaler"
/area autoscale

## Ask your question here:
When I deploy new revisions using the HPA autoscaler, the pods for the old revisions which are also using the HPA autoscaler does not disappear.

This is not the case with KPA as I noticed the old revisions disappearing if I use KPA.

Is this an expected behaviour, and if so what should I do to remove the pods from the old revisions other than deleting t

[2020-06-10 05:43] vagababov commented on #8278
HPA autoscaler does not support scale to 0. So 1 pod remains.

Can we ask why do you use HPA rather than KPA?

[2020-06-10 07:13] TiewKH commented on #8278
We wanted to scale based on CPU usage rather than RPS.
Currently, there's no way to remove pods from old revisions that are using HPA?

[2020-06-10 08:37] sravankumar777 commented on #7195
/remove-lifecycle stale

[2020-06-10 12:03] knative-test-reporter-robot opened #8280 "[flaky] pkg/reconciler/revision.TestNewRevisionCallsSyncHandler"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/revision.TestNewRevisionCallsSyncHandler
* **Repository name**: serving

[2020-06-10 19:09] Shashankft9 opened #8287 "Prometheus metric to count the total number of requests routed to the instances of a deployment/configuration"
/area autoscale
/area monitoring
/area networking

## Describe the feature
Currently there are metrics called `request_count` and `app_request_count` which are exposed by queue-proxy on port 9091 which give us the count of requests that hit that particular pod, that is, once the pod scales down to 0 this count again starts from 0 since it is on pod-basis, these are the labels for these metrics: ht

[2020-06-10 19:41] ghost opened #8288 "Add port spec in probes"
## In what area(s)?
Remove the '> ' to select

Other classifications:

-->

## Describe the feature

Currently we can add host, httpHeaders, path, scheme under HTTPGetAction.If possible can we add port also .
something like this
[code]

[2020-06-10 19:49] #8287 closed, assigned to nobody

[2020-06-10 20:57] #8280 closed, assigned to nobody

[2020-06-11 07:10] TiewKH commented on #8278
Okay, I got confused with the terminology between RPS and concurrency, my bad.
Thank you for the information. Guess I'll just delete the old revisions to get rid of the pods.

[2020-06-11 07:10] #8278 closed

[2020-06-11 12:04] knative-test-reporter-robot opened #8294 "[flaky] test/conformance/api/v1beta1.TestRevisionTimeout/when_pods_already_exist,_and_it_does_exceed_timeout_seconds"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestRevisionTimeout/when_pods_already_exist,_and_it_does_exceed_timeout_seconds
* **Repository name**: serving

[2020-06-11 12:04] knative-test-reporter-robot opened #8295 "[flaky] test/upgrade.TestProbe"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestProbe
* **Repository name**: serving

[2020-06-11 15:54] evankanderson commented on #8005
/assign @tcnghia

[2020-06-11 20:32] #8077 closed

[2020-06-12 10:12] zhanggbj commented on #7903
@markusthoemmes
Yes, we're upgrading to Knative 0.15 to take a look.

[2020-06-12 19:16] JRBANCEL commented on #8288
/area API
Why would the probe port be different than the inbound port?
See the [runtime contract](https://github.com/knative/serving/blob/master/docs/runtime-contract.md#meta-requests):

[2020-06-12 20:40] dprotaso commented on #7240
/remove-lifecycle stale

[2020-06-13 00:13] mattmoor commented on #5254
/remove-lifecycle stale

[2020-06-13 00:43] Cynocracy opened #8313 "default-domain (and likely all kubeclient patches of configmaps) broken by example checksumming"
/area API
/area test-and-release

/kind good-first-issue

## What version of Knative?
master

## Expected Behavior

Modifying the data field of a configmap using a kubeclient should succeed.

## Actual Behavior

Modifying the data field of a configmap appears to normalize multiple newlines. Specifically, I see a modification of config-domain changing the _example section from

####################

[2020-06-13 00:58] vagababov commented on #8313
/cc @markusthoemmes

[2020-06-14 12:03] knative-test-reporter-robot opened #8314 "[flaky] test/e2e/autotls.TestAutoTLS/HTTP01/Tag_route"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/autotls.TestAutoTLS/HTTP01/Tag_route
* **Repository name**: serving

[2020-06-15 07:03] aurorazl opened #8320 "Is arm64 platform supported?"
Is arm64 suppoerted now?I can't find any components of arm64 version in dockerhub. Ialso try to run the same component's image in arm64 platform,and init linux error was raise!

[2020-06-15 09:00] ysjjovo opened #8322 "Reinstall knative failed"
## What version of Knative?
0.15.0

## Expected Behavior

ReInstall knative successfully!

## Actual Behavior

Failed!

## Steps to Reproduce the Problem

- Install k8s(1.15.1) with kubeadm
- Install knative(0.15.0)successfully with this [tutorial](https://knative.dev/docs/install/any-kubernetes-cluster/)
- UnInstall knative and istio with command ```kubectl delete ns knative-serving istio-system

[2020-06-15 09:32] ysjjovo opened #8323 "Install knative in bare metal cluster failed"
## What version of Knative?
0.15.0
## Expected Behavior

Install success!

## Actual Behavior

Failed!

## Steps to Reproduce the Problem
```kubectl apply -f serving-crds.yaml && kubectl apply -f serving-core.yaml``` got error below.

[code]
Command ```kubectl get po -A``` output below.
[code]
Command ```kubectl logs -n knative-serving   activator-5d89f69d68-2m788``` output below.
[code]
Last line

[2020-06-15 12:01] #6003 closed

[2020-06-15 12:01] #6207 closed

[2020-06-15 12:03] #8294 closed

[2020-06-15 12:03] knative-test-reporter-robot opened #8327 "[flaky] test/conformance/api/v1.TestRouteAndConfigGenerateName"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestRouteAndConfigGenerateName
* **Repository name**: serving

[2020-06-15 13:13] larssuanet opened #8329 "Cluster-local-gateway in configmap-domain does not work as expected."
## In what area(s)?
/area networking

## What version of Knative?

0.11.1

## Expected Behavior

I am trying to deploy the helloworld-go sample application using the `cluster-local-gateway`. When I use the label `serving.knative.dev/visibility`: `cluster-local` it works, but when I set the default domain to `svc.cluster.local` in `config-domain` it does not. I am using Istio 1.3.1.

## Actual Beha

[2020-06-15 13:30] nak3 commented on #8329
Hi @larssuanet Thank you for opening this.

Unfortunately it is a known issue on Knative 0.12 or before. It was reported by https://github.com/knative/serving/issues/6702 and fixed by https://github.com/knative/serving/commit/b0c2013b48e86d9ebefb5f5a9c773d0c1cee1c0f.
It seems that v0.13.0 or later fixed it so could you please update your Knative version?

[2020-06-15 13:49] larssuanet commented on #8329
Hi @nak3,

Thanks for the quick response. I upgraded to v0.13.0 and got it to work. Thanks!

[2020-06-15 13:49] #8329 closed

[2020-06-15 16:48] vagababov commented on #8323
Do you have the logs for webhook as well?

[2020-06-15 16:53] vagababov commented on #8323
I know how to unstuck you, but we probably need to stop crashing if logging CM isn't there.
To fix the process:
1. delete the webhook deployments (knative-serving/{webhook,istio-webhook}.
2. delete the  `validatingwebhookconfigurations.admissionregistration.k8s.io` {config.webhook.istio.networking.internal.knative.dev,config.webhook.serving.knative.dev}
3. apply the CM
4. apply knative

[2020-06-15 17:05] #8327 closed

[2020-06-15 19:56] mattmoor commented on #8323
the order things are being applied in that output is inconsistent with the contents of `serving-core.yaml` in our most recent release (at least).

The webhook configurations are the last resources we create, so the config-foo resources should have already been created before the webhooks are registered.

[2020-06-15 20:42] Vad1mo opened #8335 "Document not up to date 404 error on example"
In the documentation on https://knative.dev/docs/serving/using-auto-tls/ this example is not up to date?

`kubectl apply -f https://raw.githubusercontent.com/knative/docs/master/docs/serving/samples/autoscale-go/service.yaml`

`error: unable to read URL "https://raw.githubusercontent.com/knative/docs/master/docs/serving/samples/autoscale-go/service.yaml", server reported 404 Not Found, status code

[2020-06-15 23:26] Cynocracy commented on #8313
/reopen

[2020-06-15 23:27] Cynocracy commented on #8313
/assign Cynocracy

[2020-06-15 23:56] #8313 closed

[2020-06-16 04:56] eddiewang commented on #7035
seeing the same here. anyone got past this bug?

[2020-06-16 09:58] ysjjovo commented on #8323
Thanks for you suggestion!I delete webooks with following commands.
[code]
Then apply knative succeed!

[2020-06-16 10:01] ysjjovo commented on #8323
Thanks for your reply.You're right.It's my fault to uninstall knative with command ```kubectl delete ns knative-serving```.I should use command ```kubectl delete -f serving-core.yaml``` instead!

[2020-06-16 10:01] #8323 closed

[2020-06-16 10:03] ysjjovo commented on #8322
Same as [#8323](https://github.com/knative/serving/issues/8323)

[2020-06-16 10:03] #8322 closed

[2020-06-16 12:04] knative-test-reporter-robot opened #8340 "[flaky] test/upgrade.TestServicePreUpgradeAndScaleToZero"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServicePreUpgradeAndScaleToZero
* **Repository name**: serving

[2020-06-16 12:30] #3997 closed

[2020-06-16 12:48] matzew commented on #7195
I noticed a recent bump on the settings in this PR:

https://github.com/knative/serving/pull/8048/files

[2020-06-16 16:03] vagababov commented on #7195
That should manifest as just bigger baseline, though. It should now have the seesaw pattern.

[2020-06-16 16:48] whaught commented on #8208
/assign

[2020-06-16 16:54] anishpravin commented on #8288
livenessProbe:
      httpGet:
        path: /healthz
        port: 8080
        httpHeaders:
        - name: Custom-Header
          value: Awesome
      initialDelaySeconds: 3
      periodSeconds: 3

As the above one is the default liveness-probes setting,I am looking to have exactly same thing to add it in the knative.is that possibel? @JRBANCEL

[2020-06-16 19:06] ysjjovo opened #8346 "Knative Installation stuck on istio"
## What version of Knative?
0.15.0

## Expected Behavior

Install success.

## Actual Behavior

Failed!

## Steps to Reproduce the Problem
- Apply 'serving-crds.yaml' & 'serving-core.yaml' successfully
- Run following commands.
[code]
Then I try to find out which resource causes timeout.
[code]
Error occurd at applying resource 'EnvoyFilter'.It's content below.
[code]
Environment info
[code]

[2020-06-17 03:17] ysjjovo commented on #8346
It's my fault,I didn't  install dns component.

[2020-06-17 04:14] nak3 commented on #8320
It is not supported for now.

As https://github.com/knative/serving/issues/2517 also discussed, I think we will not support it until `ko` support multi-platform which is tracked by https://github.com/google/ko/issues/6.

[2020-06-17 06:05] ZhiminXiang commented on #5573
I feel removing the usage of `RetryingRouteInconsistency` function in our conformance/e2e test is like enforcing more strict conformance for Route/Ingress.
Maybe we could follow the existing [process of expanding Kingress](https://docs.google.com/document/d/1BpfL-2hCGoPB2dVDNsuXjF37wPqaNghxOcQsQOq8V_g/edit#heading=h.n8a530nnrb) to gradually remove this function, which could give enough time for do