[2018-12-21 22:05] jessiezcc commented on #2782
/area test-and-release

[2018-12-21 22:36] dgerd commented on #1573
/unassign

I have not made progress on this. Going to unassign for now.

[2018-12-21 22:43] dgerd commented on #2678
I added some logging and attempted to reproduce this at HEAD by creating a runLatest Service and then deleting the service. I tried multiple times waiting: immediately after, after a few seconds, and after a few minutes. I have yet to reproduce this.

I am using kubectl apply -f to create and kubectl delete -f to delete the service. I will try throwing traffic at it before deleting to see if that

[2018-12-21 22:50] jonjohnsonjr commented on #2479
I believe this was fixed by https://github.com/google/go-containerregistry/pull/330

[2018-12-21 22:50] jonjohnsonjr commented on #2479
/assign @adrcunha

[2018-12-21 22:59] #976 closed

[2018-12-21 22:59] #2332 closed

[2018-12-21 23:41] tcnghia opened #2783 "Label changes to KService not propagated to Route or Configuration"
## Expected Behavior
When labels are applied or removed from a KService, such changes will propagate to its child Route and Configuration.

## Actual Behavior
No propagation happens.

## Steps to Reproduce the Problem

1. Create KService.
2. Apply labels.
3. Watch that they don't propagate.

[2018-12-22 00:05] #611 closed

[2018-12-22 00:14] mattmoor commented on #2019
According to @mdemirhan this is done.

[2018-12-22 00:15] #2019 closed

[2018-12-22 00:17] tcnghia opened #2784 "Need integration tests for cluster local Route feature"
## Expected Behavior
We have integration tests to make sure cluster local Routes are:
* Accessible within the cluster.
* Not accessible outside the cluster.

## Actual Behavior
We don't.

## Steps to Reproduce the Problem

## Additional Info
https://github.com/knative/serving/issues/587

[2018-12-22 00:21] jonjohnsonjr opened #2786 "upgrade tests: add probe to generate load across versions"
Currently, the upgrade tests don't send any traffic to the cluster during the install/upgrade/downgrade. They do the upgrade, wait for ready, then start sending traffic.

It would be interesting to have a background prober that sends traffic to the cluster during the entire process and records any failures. We shouldn't have a data plane outage during control plane upgrades, but we almost certainl

[2018-12-22 01:57] #2127 closed

[2018-12-22 02:33] srinivashegde86 commented on #2782
Dupe of https://github.com/knative/test-infra/issues/335

[2018-12-22 02:33] #2782 closed

[2018-12-22 04:33] adrcunha commented on #2479
@jonjohnsonjr the newest `ko` doesn't throw "error processing import paths" anymore, but the E2E tests are failing consistently with

[code]

e.g. https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/2745/pull-knative-serving-integration-tests/1076297323824287744/

Any clues?

[2018-12-22 05:33] VeerMuchandi commented on #2480
@markusthoemmes I tried with -c 250 as well. It does not work consistently. It scaled up to 3 pods for the first time. When I stopped and restarted the load, it stopped working.

[2018-12-22 05:47] VeerMuchandi commented on #2480
@markusthoemmes: Here is what I found. It scales up for the first time. If you terminate the siege, it scales down to 1.  The last pod remains there for a little while (default is about 6 mins I think). During this time autoscaling doesn't work whatever the workload may be. Then once the last pod terminates, the autoscaling works again. I hope this info is good to detect what is going on.

[2018-12-22 07:30] tcnghia commented on #2479
@adrcunha this can be fixed by retrying.  It's a race condition of kubectl.

[2018-12-22 08:02] tcnghia commented on #2786
We don't separate control plane and data plane during upgrades.  An example is ingress pods, which are certainly not in the control plane.  There are other Istio components that may impact control plane as well.

On Knative side, activator is mostly data plane.

I think it's worth turning on the route prober that @ZhiminXiang created, but until we separate upgrade/installation to only affect contr

[2018-12-22 13:48] srinivashegde86 commented on #2479
We should add the retry even to our current prow job setup. I sometimes see this error during the current e2e setup as well.

[2018-12-26 16:00] dgerd commented on #2773
Is status truncated out of your comment above, or was it actually empty? If it is empty likely something is going wrong in the controller.

Are you able to access the controller logs with the command below? If so are there any notable errors or warnings you see?
[code]

[2018-12-26 16:10] dgerd commented on #2748
This issue looks to be related to #2443 and cut right before #2685 was committed. Has this still been observed?

I don't see any failures on https://testgrid.knative.dev/knative-serving#continuous since the test changed.

[2018-12-26 16:14] dgerd commented on #2757
@mdemirhan The error in the logs was discussed briefly on the observability slack, and you mentioned you were looking into it. Do you have any further thoughts on this?

[2018-12-26 16:48] vvraskin commented on #2748
I haven't observed any failures since that time - could be it is indeed fixed. I will close the issue for now.

[2018-12-26 16:48] #2748 closed

[2018-12-26 18:40] nrshrivatsan commented on #1991
@mattmoor  ACK for theImage-size and skill-growth relationship.

However given KNATIVE is catching fire big-time. I would assume wise-er user-base would emerge is a short time and we might have smarter _IMAGE-maintainers_ (if I may) who could _min-ify_ these larger images.

_RFC_

[2018-12-26 21:32] srinivashegde86 opened #2799 "The continous serving-0.2 job is failing"
/area test-and-release
/kind bug

Prow: https://prow.knative.dev/?job=ci-knative-serving-0.2-continuous

Results:
https://storage.googleapis.com/knative-prow/logs/ci-knative-serving-0.2-continuous/1077840363672047616/build-log.txt

Error:
W1226 08:41:42.148] 2018/12/26 08:41:42 error processing import paths in "config/config-controller.yaml": error loading image: Cannot connect to the Docker daemo

[2018-12-26 21:32] srinivashegde86 commented on #2799
/assign @adrcunha

[2018-12-27 00:39] mdemirhan commented on #2757
I didn't get a chance to look into this and would love it if someone can take this investigation from my hands ;)

[2018-12-27 00:41] mdemirhan commented on #2480
@markusthoemmes Is this something you will be looking into? I took this issue to myself to find an actual owner and was wondering if that is you :)

[2018-12-27 06:16] gongzili456 opened #2800 "Custom full domain style"
## Expected Behavior
{route}.{my-domain}

## Actual Behavior
{route}.{namespace}.{default-domain}

## Additional Info

The fully qualified domain name for a route by default is {route}.{namespace}.{default-domain}, but I don't need the namespace part.

[2018-12-27 08:07] gongzili456 commented on #2800
Thx, I got it.

[2018-12-27 08:07] #2800 closed

[2018-12-27 13:01] saurabh1284 commented on #1773
@tcnghia , I am also getting the same issue.. any luck or work-around ?

[2018-12-27 14:14] saurabh1284 opened #2804 "Pods are going into CrashLoopBackOff state as Readiness probe failed."
## Expected Behavior
Running "Hello World - Python sample" and followed link https://github.com/knative/docs/tree/master/serving/samples/helloworld-python
Service should be accessible and in terms python app should run.

## Actual Behavior
pods are going in CrashLoopBackOff. 2 out of 3 came in running, but 3rd goes into CrashLoopBackOff.

-> kubectl get pods
NAME

[2018-12-27 15:02] srinivashegde86 commented on #2799
This happens in https://github.com/knative/test-infra/tree/master/scripts/release.sh and affects all the repos that use it.

We are using ko.local and that uses the local docker daemon in `ko resolve config/` which I think is not setup.

[2018-12-27 18:12] evankanderson commented on #2639
`--prune` should also work with the `--all` flag to completely pave over the namespace. This only works if we have a single YAML/set of YAML which completely defines the namespace contents and no objects in other namespaces.

[2018-12-27 19:46] evankanderson commented on #2102
Sorry, missed this during Thanksgiving and only got back to triage now.

Do `/sys/fs/cgroup/memory/memory.limit_in_bytes` and `/sys/fs/cgroup/cpu/cpu.cfs_quota_us` work for CPU and memory limits? This information is reflected by the kernel and is therefore:

1. Available "natively" whether or not the workload is being run under kubernetes.
2. Updated continuously if the resources available are cha

[2018-12-27 19:47] tcnghia commented on #1773
@andrewrynhard @saurabh1284 do you see readinessProbe failing in the beginning of the container lifetime, or all the time?  It is normal to see a few initial probes failing during container startups.

[2018-12-27 20:11] andrewrynhard commented on #1773
@tcnghia all the time. But I have recently used the `lite/slim` install and it works.

[2018-12-27 22:44] evankanderson commented on #2142
(sorry for the delay)

Unfortunately, I think this is the best we can do right now with Kubernetes.

Ideally, we could bind-mount and share an `emptyDir` for `/var/log` and have it overlay with the existing docker image, but it doesn't appear that there are any kubernetes-level controls to support this type of overlay. This might be reasonably requested in the [fluentd-kubernetes-plugin upstream r

[2018-12-27 22:44] #2142 closed

[2018-12-28 03:54] gongzili456 opened #2805 "knative-ingressgateway port 80: Connection refused"
## Expected Behavior
curl -D- http://10.233.56.118 -H 'Host: helloworld-go.default.example.com'
Hello Go Sample v1

## Actual Behavior
curl -D- http://10.233.56.118 -H 'Host: helloworld-go.default.example.com'
curl: (7) Failed to connect to 10.233.56.118 port 80: Connection refused

## Additional Info

version: 0.2.3

[code]

[code]

[2018-12-28 07:10] adrcunha commented on #2799
Docker in a Prow job is setup by the dind preset, which is already there. However, it requires privileged mode to run, otherwise the initialization will silently fail (!).

[2018-12-28 08:00] saurabh1284 commented on #1773
@tcnghia all the time.. @andrewrynhard can you give details on how do you used lite/slim install ?

[2018-12-28 08:52] zxDiscovery opened #2806 "The case Orchestrating a source-to-URL deployment on Kubernetes dosen't work"
## Expected Behavior
Follow the step of [Orchestrating a source-to-URL deployment on Kubernetes](https://github.com/knative/docs/tree/master/serving/samples/source-to-url-go), the case can run normally.

## Actual Behavior
The pod `app-from-source-00001-q2k2b` initialization failed.
[code]
Knative-build and knative-serving are all run normally.

## Steps to Reproduce the Problem

The steps is foll

[2018-12-28 14:57] andrewrynhard commented on #1773
@saurabh1284 I used the `istio-lean.yaml` from https://github.com/knative/serving/releases.

[2018-12-28 16:38] #2799 closed

[2018-12-29 00:17] dgerd commented on #2805
Looking at your ksvc output it looks like the Revision is not ready to serve traffic. You should be able to see more information on the current Revision status and what may be going wrong from the commands below. You should also be able to look at the Deployment and Pods created from the Revision for more information.

[code]

I was not able to reproduce this issue with v0.2.3 on GKE. If nothing o

[2018-12-29 00:54] vishvananda opened #2812 "activator stuck in busy loop"
## Expected Behavior

Knative uses minimal cpu while idle.

## Actual Behavior

Knative has two processes busy looping

## Steps to Reproduce the Problem

1. Install minikube + istio + knative according to the documentation: https://github.com/knative/docs/blob/master/install/Knative-with-Minikube.md
2. note that after the install a lot of cpu is being used.
3. minikube ssh
4. top <press P to sort

[2018-12-30 08:46] adrcunha commented on #2479
I'm not convinced that this is a race condition of kubectl. The E2E tests failed 3 times in a row for the same reason. It doesn't happen with the older version of ko, as you can see in the CI flow.

[2018-12-30 08:52] adrcunha commented on #2479
Actually, this is the real culprit:

[code]

[2018-12-30 18:57] adrcunha commented on #2479
#2745 confirmed that the issues was fixed by google/go-containerregistry#330.

[2018-12-31 12:39] lukas-lansky opened #2814 "Istio installation permission issue at GKE when following documentation"
## Expected Behavior

Going through https://github.com/knative/docs/blob/master/install/Knative-with-GKE.md should get me a nice new cluster with functional Knative.

## Actual Behavior

The Istio installation step results with:

[code]

## Steps to Reproduce the Problem

1. `gcloud projects create knat-test --set-as-default`
2. `gcloud services enable cloudapis.googleapis.com container.googleapis

[2018-12-31 20:45] dgerd opened #2819 "Service Creation in Release Mode"
## Current Behavior

A Service in Release Mode currently takes revision name(s) as input to the Spec to determine where to route traffic. However, since the service is responsible for creating the configuration there is a bootstrapping problem. A revision name is not known until the service creates it, but a revision name is required to create a Service in this mode.

To get around this restrictio

[2018-12-31 20:46] dgerd commented on #2819
/milestone Serving 0.4

[2019-01-02 09:51] markusthoemmes commented on #2783
In a different context we discussed a label propagation method for Revisions and eventually ended up saying that the revisionTemplate is the place for those to go to.

It does make sense to me to propagate the labels in this case though, as the KService acts kinda like an aggregation of Configuration and Route. Are all labels to be propagated or do we need to narrow that down?

[2019-01-02 10:01] markusthoemmes commented on #2732
/assign

[2019-01-02 14:19] mattmoor commented on #2720
cc @greghaynes

Do they get GC'd?

[2019-01-02 16:12] dprotaso commented on #643
Here's a backwards compatible strategy for adopting CRD status subresource with the aim of eventually dropping the generation bumping that's occurring in the webhook.

### Phase 1 - Serving 0.3

#### Changes

Enable status subresource on all CRDs

- This causes the API server to start bumping a resource's `metadata.generation` (this is actually the default in K8s 1.13 I believe).

- Our controller

[2019-01-02 16:47] greghaynes commented on #2720
Yes, the configuration controller should GC revisions not referenced by a route after `stale-revision-create-delay` (default 24h) - @carusology do you mean that it wasn't GC'd quickly or did you verify somehow that this 24h GC wasn't happening?

It seems like the desired behavior here is for minScale to not apply for non-routed revisions in order to more quickly delete the deployment for a revisio

[2019-01-02 16:54] greghaynes commented on #2720
I think if theres desire for faster deleting of deployments (to free up resources taken by minScale) we could try and come up with a more responsive GC system for revisions...

[2019-01-02 17:20] dprotaso commented on #1439
@adrcunha can we re-open this to track when it's fixed.

ie. it affected this recent PR https://github.com/knative/docs/pull/667

[2019-01-02 18:42] #2781 closed

[2019-01-02 18:47] tcnghia commented on #2812
/kind networking

@vishvananda can you please include some logs from activator when seeing this behavior?  thanks

[2019-01-02 18:53] carusology commented on #2720
@greghaynes

It isn't getting GC'd at all. I still have an old revision with an active deployment from December 17th (~2 weeks ago). The version deployed after it was using the `runLatest` container configuration, so this lingering revision behavior surprised me.

If you follow [the repro steps](https://github.com/knative/serving/issues/2720#issue-391123604) from @nicolaferraro, the Kubernetes dep

[2019-01-02 19:01] carusology commented on #2720
Yes, exactly. Though I think you're talking about less than 24h and the reporters of this issue are talking about less than never.

There's an interesting conversation [here](https://github.com/knative/serving/issues/1656#issuecomment-407325636) about this potentially having issues if a kNative service is not intended to receive traffic, but instead be the source of it. If something were to be sca

[2019-01-02 21:45] tcnghia commented on #2783
I think since all labels are propagated in the creation of Route and Config, it makes sense for all labels to be propagated in subsequent updates too.

Currently it seems that labels changes from Config aren't propagated to Revisions, but that is a separate issue.

[2019-01-02 21:46] tcnghia commented on #2783
/assign

[2019-01-03 04:48] vishvananda commented on #2812
I got the logs from the pod but it didn't log any error or repetitive message. Is there some way to get more detailed logs? I suppose I could try to grab a stack trace.

[2019-01-03 10:27] jponge opened #2835 "Provide Docker for Mac integration test""
/kind bug

## Expected Behavior

When I deploy a knative service and it scales down to 0, new pods should be respawned when issuing new requests.

## Actual Behavior

Requests time out and no pod is being created.

## Steps to Reproduce the Problem

1. Use Docker for Mac with Kubernetes
2. Install Knative as advised in https://github.com/knative/docs/blob/master/install/Knative-with-Docker-for-Mac

[2019-01-03 10:33] jponge opened #2836 "Cannot use local images in Docker for Mac"
/kind question
/kind bug

## Expected Behavior

When using KNative deployed to a Docker for Mac Kubernetes cluster, locally built images should be available for creating knative/serving containers.

## Actual Behavior

Local images cannot be pulled, I have to push images to an external registry (e.g., docker.io) and then reference them from my service YAML.

## Steps to Reproduce the Problem

1. I

[2019-01-03 11:56] dgageot commented on #2835
Same for me.

[code]

[code]

[code]

[2019-01-03 12:00] markusthoemmes commented on #2836
Hm, interesting. I think I use local images exclusively. Are you using `ko.local` as a "registry" (are you using `ko` at all?).

IIRC knative has some special behavior if you're registry contains `.local`

[2019-01-03 12:01] markusthoemmes commented on #2835
Is this using a released version or HEAD?

The instructions worked for v0.2.x. The newest version might need an update since the ingressgateway stuff has changed a little.

[2019-01-03 12:04] dgageot commented on #2835
For me, this is with v0.2.3

[2019-01-03 12:14] jponge commented on #2836
What is `ko.local` / `ko`?

[2019-01-03 12:14] jponge commented on #2835
Same here, o.2.3

[2019-01-03 15:08] mattmoor commented on #2836
It sounds like you need to disable tag to digest resolution on your install for whatever registry you have them tagged with.

[2019-01-03 15:09] mattmoor commented on #2836
If you build the images locally with one of [these](https://github.com/knative/serving/blob/6e58358927c4d111b2f39ae1e7c22a8b8cd459aa/config/config-controller.yaml#L28) domains, then you shouldn't need to change anything.

[2019-01-03 15:10] mattmoor commented on #2835
/area networking

[2019-01-03 15:33] markusthoemmes commented on #1509
@tcnghia I'm pretty sure it does! I tried a TCP readiness probe when writing the test for a failing container. Needed to switch to a HTTP based probe for it to be effective.

[2019-01-03 15:54] mattmoor commented on #2806
cc @ImJasonH

This looks like a Build problem, can you add `--all-containers` to: `kubectl  logs -f app-from-source-00001-q2k2b` ?

[2019-01-03 16:11] dgageot opened #2840 "Port conflict (31400) on Docker for Mac"
I'm following the instructions [here](https://github.com/knative/docs/blob/master/install/Knative-with-Docker-for-Mac.md) to install Knative Serving on Docker for Mac.

### Expected
I expect `knative-ingressgateway` service to be exposed on `localhost`, on port `80`.
Most of the time, it's not.

### Actual
I found out that's because `knative-ingressgateway` and `istio-ingressgateway` both want to

[2019-01-03 16:30] mattmoor commented on #2840
cc @tcnghia
/area networking
/kind bug

[2019-01-03 16:32] mattmoor commented on #2805
/area networking
/kind bug
/kind question

@gongzili456 do you have any more information?

[2019-01-03 16:35] mattmoor commented on #2804
/king bug
/area networking

The relevant bit seems to be:
[code]

[2019-01-03 17:07] dprotaso commented on #1131
I'm going to close this issue as this isn't necessarily applicable at this time.

#### Long explanation
The controller pod runs with a single service account so it's not really possible to restrict this account to only update object statuses. This is because we have this 'monolith' process that reconciles & creates many objects (ie. services, configs, revisions, routes).

At this point I don't thi

[2019-01-03 17:07] #1131 closed

[2019-01-03 17:49] mattmoor commented on #2767
/area monitoring
/remove-area networking
/remove-area api

I'd like to see this as a monitoring e2e test.  We have metrics that expose reconcile counts, and we should be able to provide a bound on this during e2e tests.

[2019-01-03 17:50] mattmoor commented on #2778
cc @ImJasonH @jonjohnsonjr

[2019-01-03 17:52] mattmoor commented on #2720
Putting in v1 because they should at least be subject to GC.

[2019-01-03 17:55] greghaynes commented on #2720
Agreed. I'm on holiday until Jan 9 but if no one has looked at it by then I'll have a look.

[2019-01-03 17:55] jonjohnsonjr commented on #2778
We probably want to add something similar to this to `update-deps.sh`: https://github.com/google/go-containerregistry/blob/ed4be12360d0a967907a25201322302a10fb76b6/scripts/update-deps.sh#L28-L30

[2019-01-03 18:03] vishvananda commented on #2812
I reran the installation on osx using vmwarefusion and it did not reproduce this time. I have another example running using backend=none on an ubuntu vm. This time there are three broken activators. Here are the logs from one of the busy-looping activators:
[code]
I Sent SIGABRT to the process to collect a stack trace. I got the following:
[code]

[2019-01-03 18:08] vishvananda commented on #2812
note that in this case killing the process sometimes fixes it but sometimes it comes back and starts chewing cpu again

[2019-01-03 18:53] #2715 closed

[2019-01-03 19:00] tcnghia commented on #1509
Thanks @markusthoemmes

In that case having sidecar injection will cause TCP health check to be meaningless for the user container.  We should document this behavior so users won't be surprised.

/cc @evankanderson

[2019-01-03 19:14] erain commented on #2778
Thanks @jonjohnsonjr for the info!

I sent PR #2842 . However when I actually executed `./hack/update-deps.sh` I got some errors... Will learn some dep and get those broken symlinks removed in the same PR in a second commit as well.

[2019-01-03 19:47] dgerd commented on #2430
/assign vagababov

[2019-01-03 19:47] dgerd commented on #2430
/unassign

[2019-01-03 19:52] dprotaso opened #2843 "Do a pass over pkg/reconciler/testing"
It's been a while and there are opportunities for some cleanup
https://github.com/knative/serving/tree/master/pkg/reconciler/testing

Especially after https://github.com/knative/serving/pull/2829 lands

[2019-01-03 20:57] #2783 closed

[2019-01-03 22:32] tcnghia commented on #2840
We are deprecating `knative-ingressgateway` in 0.3.x, which will be cut shortly.  After that only `istio-ingressgateway` is needed so  https://github.com/docker/for-mac/issues/3438 won't be a problem?

/remove-kind bug
since this is really a bug of docker for mac https://github.com/docker/for-mac/issues/3438, as Kubernetes in general don't forbid different services to use same port.  We already ma

[2019-01-03 22:38] tcnghia commented on #2835
@dgageot is it possible for you to try removing `istio-ingressgateway` service and try again?  may be this is the same issue as https://github.com/knative/serving/issues/2835 .

[2019-01-03 22:47] tcnghia commented on #2804
Failing the first two readiness probes are not uncommon.  Also, *readinessProbe* failures don't trigger restarts (https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#when-should-you-use-liveness-or-readiness-probes).  Something else is happening here, either *livenessProve* failing or container exiting abnormally.  I don't think see a message regarding *livenessProbe* here, so I susp

[2019-01-03 22:48] tcnghia commented on #2804
/remove-area networking
/kind bug

[2019-01-03 22:51] tcnghia commented on #2779
@ffahri check out https://github.com/knative/docs/blob/master/serving/samples/build-private-repo-go/README.md

[2019-01-03 22:52] tcnghia commented on #2761
In recent PR @yanweiguo added port 9090, which should be handled similarly.

[2019-01-03 22:57] tcnghia commented on #2735
Is this only a problem with traffic split, or a problem with early routing in general?

[2019-01-03 23:02] tcnghia commented on #2605
/assign

[2019-01-03 23:10] tcnghia commented on #2598
@andrewrynhard the readiness probe in this case has not failed after the first 3m, so it is correct that pod is ready.  It is still a long time to pass readiness though.

Can you please try out the steps to further diagnose the issue  https://github.com/knative/serving/blob/master/docs/debugging/application-debugging-guide.md#check-clusteringressistio-routing

[2019-01-03 23:11] tcnghia commented on #2421
I believe the problem of ungraceful shutdown is fixed, at least in the Istio template that we provided.

[2019-01-03 23:11] #2421 closed

[2019-01-03 23:18] evankanderson commented on #1509
Ugh... that's a good point. If Istio is intercepting all calls (including local kubelet calls) to the user container, then the kubelet won't be able to determine health without collusion from the sidecar, including via TCP probes.

https://istio.io/help/faq/security/#k8s-health-checks and https://github.com/istio/istio/issues/2628 don't seem to paint a rosy picture.

It seems like it should be pos

[2019-01-03 23:47] tcnghia commented on #1448
Activator has changed significantly and only reporting stats, so without retrying requests we can no longer activate revisions.

(in fact retrying is the only other thing that activator does beside sending stats)

[2019-01-03 23:47] #1448 closed

[2019-01-03 23:47] tcnghia commented on #707
dup of #2539

[2019-01-03 23:47] #707 closed

[2019-01-03 23:50] tcnghia commented on #98
https://github.com/knative/serving/issues/2127 partially addressed this issue by allow some Route to be excluded from Ingress.

[2019-01-03 23:53] tcnghia commented on #2761
@dgerd can this issue be closed now that we don't allow conflict?  may be a different issue is to randomize ports to give users more flexibility on what ports they can use.

[2019-01-03 23:54] #2779 closed

[2019-01-03 23:55] tcnghia commented on #2804
/kind doc

This may be a specific problem to the Python sample container since we haven't seen a similar report of other samples seeing container abnormal exit.

[2019-01-04 00:12] dgerd commented on #2761
This is the later. This is to randomize ports to give users more flexibility on the ports they choose.

[2019-01-04 01:18] zxDiscovery commented on #2806
The current issue can't be reproduce, so close this. Thank you for your reply. @mattmoor

[2019-01-04 01:18] #2806 closed

[2019-01-04 11:30] vvraskin commented on #1573
/assign
I'm going to follow up on this one once the https://github.com/knative/serving/pull/2653 gets in.

fyi @dgerd

[2019-01-04 11:51] markusthoemmes commented on #2443
TestGlobalResyncOnConfigMapUpdate/Update_Fluentd_Image has a data race:

[code]

TestGlobalResyncOnUpdateDomainConfigMap/newprod.net has one as well:

[code]

I'm going to continue to dig.

[2019-01-04 16:15] markusthoemmes opened #2849 "revision.TestReconcile is unstable"
See:

[code]

Happened in https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-nightly-release/1077474453656440833

[2019-01-04 16:21] markusthoemmes opened #2850 "TestScaleTo50 is still unstable"
Examples:

- https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1080886938103189504
- https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1081098330995429376

[2019-01-04 16:54] mattmoor commented on #643
Moving to 0.4 for the next phase of the work.

/milestone 0.4

[2019-01-04 16:55] mattmoor commented on #643
/milestone Serving 0.4

[2019-01-04 16:58] markusthoemmes commented on #2849
This makes very little sense to me.

`table_test.go:71` creates a new revision object as a kind of constant. It's only there to compare it against the outcome and that reference shouldn't even enter the controller ever.

[2019-01-04 17:36] #2443 closed

[2019-01-04 17:36] #2462 closed

[2019-01-04 18:14] vaikas-google opened #2851 "Sample API Usage page is a bit confusing"
/kind doc

## Expected Behavior
Sample API documentation that works

## Actual Behavior
Sample API documentation page here:
https://github.com/knative/serving/blob/master/docs/spec/normative_examples.md#4-deploy-a-revision-from-source

talks about knative tool that doesn't exist and users find it confusing. It would seem clearer to update to use a kubectl example files rather than the tool itself.

[2019-01-04 19:09] dprotaso commented on #2849
Can you include a perma link to the line number. Then it’ll be stable
On Fri, Jan 4, 2019 at 11:58 Markus Thömmes <notifications@github.com>
wrote:

[2019-01-04 23:04] tcnghia opened #2856 "Activator to perform health checks before forwarding real requests"
## Expected Behavior
We can handle POST request without needing to retries them.  We minimize the unneeded GET retries.

If activator performs health check before forwarding requests we could potentially fix the POST attempt to one, and also reduce a lot of GET retries (of real requests).

## Actual Behavior
Currently activator doesn't perform health checks before forwarding requests.  This means

[2019-01-04 23:52] tcnghia opened #2857 "Activator needs a readinessProbe for itself"
## Expected Behavior
Activator deployment should have a readinessProbe so that traffic won't be sent to activator pod before it's ready.

## Actual Behavior
It does not.

[2019-01-04 23:52] tcnghia commented on #2857
/cc @markusthoemmes I suspect this may also contribute to some of intermittent 503s.

[2019-01-05 00:08] tcnghia opened #2858 "Changing Deployment selector in #2818 breaks upgrade"
## Expected Behavior
Deployment selector aren't allowed to change in apps/v1 (see https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#selector)

It would also be nice for upgrade test to be able to detect this.

## Actual Behavior
When upgrading to 0.2.x to HEAD our controller will keep failing to update the deployment due to selector changes.

[2019-01-05 00:09] tcnghia commented on #2858
/cc @dprotaso

[2019-01-05 00:09] tcnghia commented on #2858
/cc @jonjohnsonjr

[2019-01-05 00:30] dprotaso commented on #2858
I have a guard for this here:

https://github.com/knative/serving/blob/62b91839e0c87a38a14214993f53156268f94b9c/pkg/reconciler/v1alpha1/revision/cruds.go#L68

So I’m curious how to trigger this bug
On Fri, Jan 4, 2019 at 19:09 Nghia Tran <notifications@github.com> wrote:

[2019-01-05 00:58] RotatingFans commented on #2814
Just encountered this error. When creating the clusterrolebinding, make sure the user is EXACTLY as it appears in the user field for the error. This fixed it for me.

[2019-01-05 10:30] vvraskin commented on #2856
Referring to the Get retries, do you mean this peace of code? https://github.com/knative/serving/blob/master/pkg/activator/revision.go
It will be replaced by Revision informer soonish as part of https://github.com/knative/serving/issues/1573

[2019-01-05 10:39] vvraskin commented on #2857
@tcnghia Did you see activator being restarted or you are referring to a fresh start?

it would be interesting to check out the logs in case of the restart

[2019-01-05 18:40] richtera opened #2859 "Manually changing cluster size causes major problems."
## Expected Behavior
When manually resizing the containing kubernetes cluster it should just resize.

## Actual Behavior
The deployments kind of "freak out". Basically what happens is that all deployments that have to switch the initial cluster node will get activated only to then scale back to 0. This will happen for each version that's currently deployed. This will cause autoscaling to kick in a

[2019-01-06 04:32] Fryuni commented on #2258
I think there will be less friction for developers if it uses just:
1. User's explicit yaml.
1. Default port.

And that default port could be changed during the installation (only then so it would no break everything), normally set to 8080.
This way for those who use 8080 most times there will be no changes from what we have now, but for those who use another port more (like the company I work, we

[2019-01-06 04:48] mattmoor commented on #2430
tl;dr I believe that this is related to some intermittent flakes that we see.

I believe @vagababov was able to reproduce this with sleeps in the Route controller, but here's an example from our continuous CI that I think may be related to this: https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1081339923912462336

[2019-01-07 02:19] mattmoor commented on #1277
@mdemirhan is this done?

[2019-01-07 02:44] mattmoor commented on #2464
Uninvestigated two month old CI failure...  We should reopen with something fresher, if it still repros.

[2019-01-07 02:55] mattmoor commented on #912
Related: https://github.com/kubernetes/kubernetes/issues/59154

[2019-01-07 02:57] mattmoor commented on #1560
cc @vagababov

I was talking about this idea several weeks ago.  If you have interest in pursuing this in 0.4, I can pull it in.

[2019-01-07 03:56] james-callahan opened #2860 "Using gateways other than Istio"
I was reading through KNative and saw at https://github.com/knative/serving/tree/master/pkg/reconciler/v1alpha1/route#underlying-implementation-using-istio :

I'd like to see such a spec and see if a [Kong](https://github.com/Kong/kong/) based implementation is possible. Where could/should we start?

[2019-01-07 07:52] markusthoemmes commented on #2849
@dprotaso sure thing, done!

[2019-01-07 07:56] markusthoemmes opened #2861 "TestRunLatestService is flaky"
**TestRunLatestService** is the flakiest test in our current continuous CI board.

Examples:

- https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1082125205318406144
- https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1082034608876294144
- https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/10819

[2019-01-07 11:39] markusthoemmes commented on #1625
This should be done modulo having an HPA pointing at the activator service.

[2019-01-07 14:50] mattmoor commented on #1625
What metric do you anticipate scaling it on?

[2019-01-07 15:04] markusthoemmes commented on #1625
Good question, I'd guess CPU should be sufficient to start with. I have no data on that though.

[2019-01-07 19:48] dgerd commented on #1976
Related: #2267

[2019-01-07 23:32] evankanderson commented on #2258
Dan convinced me that using EXPOSE is dangerous, because it is inherited
from parent Dockerfiles (but the command might be changed so that nothing
is listening there) in such a way that this is just as likely to cause
grief as delight. In particular, a base image author can inadvertently
break downstream images by changing the EXPOSE fields on a new image to add
or remove entries. (Adding an entry

[2019-01-08 00:51] dgerd commented on #2258
/close

It sounds like we have agreement to not proceed on EXPOSE. Going to go ahead and close this issue.

I would like to treat customizing the cluster-wide default as a new issue rather than keeping this one open. The remaining functionality from this issue was implemented in #2642.

[2019-01-08 00:51] #2258 closed

[2019-01-08 04:32] mattmoor commented on #2860
Assuming the featureset of Kong is sufficient, you can implement a controller for our ClusterIngress controller that configures things.

We have a networking WG that meets on Thursdays at 9am PST, which would be the perfect setting to engage interactively on this and learn more.  Also consider #networking on slack.knative.dev.

I'd personally love to see a second implementation of our networking a

[2019-01-08 04:36] mattmoor commented on #2859
What version of things are you running?

I'm not sure what the "initial cluster node" is, can you clarify?  Perhaps this happens when the autoscaler pod is restarted?

cc @josephburnett @markusthoemmes @k4leung4

[2019-01-08 04:36] james-callahan commented on #2860
Could you enumerate the feature-set required?
If something is missing today I can always try and get it onto our roadmap for future releases.

Is there documentation for this?

I'm located in Australia, so that's 4am for me. I can ask some of my colleagues in closer time zones...

[2019-01-08 04:37] mattmoor commented on #2858
Does anyone have a consistent repro for this?

[2019-01-08 04:37] mattmoor commented on #2858
cc @dgerd

[2019-01-08 04:52] mattmoor commented on #2465
I have to go back weeks to see a failure in the autoscale up down test (where everything isn't failing).  I'm going to close this until we see it come back.

[2019-01-08 04:52] #2465 closed

[2019-01-08 04:53] mattmoor commented on #2347
I'm fine with this.  Can we land this in 0.4?

[2019-01-08 04:58] mattmoor commented on #1590
@tcnghia Should we include this in 0.4?

[2019-01-08 04:58] mattmoor commented on #1278
@ImJasonH we should move this issue to Build / Pipelines.

[2019-01-08 05:01] mattmoor commented on #1340
@shashwathi Are you still interested in tackling this or should I find a new owner?

/milestone 0.4

[2019-01-08 05:03] mattmoor commented on #1340
/milestone Serving 0.4

[2019-01-08 05:04] mattmoor commented on #1479
@steren is this still problematic or can we close?

[2019-01-08 05:08] mattmoor commented on #706
/milestone Serving 0.4

[2019-01-08 05:08] mattmoor commented on #273
@mdemirhan Can we close this?

[2019-01-08 05:11] mattmoor commented on #647
@mdemirhan Is there someone that can drive this in 0.4?

[2019-01-08 05:12] mattmoor commented on #1573
@vvraskin I'm going to put this into 0.4 then

/milestone Serving 0.4

[2019-01-08 05:15] steren commented on #1479
I think users will expect to call the internet.

[2019-01-08 05:15] mattmoor commented on #1981
@jessiezcc @srinivashegde86 should this be in 0.4?

[2019-01-08 05:17] mattmoor commented on #1185
@tcnghia @ZhiminXiang we should think about whether we need additional CRDs as part of our public API surface for this soon.

[2019-01-08 05:19] mattmoor commented on #2720
@josephburnett if it's cool with you I'm going to mark this as 0.4 scope, assuming @greghaynes has cycles to tackle it?

/milestone Serving 0.4

[2019-01-08 05:44] mattmoor commented on #647
I'd love for this to cover: https://github.com/knative/serving/issues/2767

[2019-01-08 07:05] markusthoemmes commented on #2861
Having looked through the code and read through the linked issue, I'm confident you're right @mattmoor.

[2019-01-08 07:16] markusthoemmes commented on #2859
It sounds plausible that this could be caused by an autoscaler restart. We have little to no test-coverage on these restarting scenarios, but I think we can now revive the tests that @josephburnett started once, since we no longer run e2e and conformance tests in parallel.

[2019-01-08 07:31] markusthoemmes commented on #2856
@vvraskin this is about retrying GET HTTP requests to the user application, because we wait for network programming. It's not about retries towards the kubernetes API.

[2019-01-08 07:32] markusthoemmes commented on #1981
@mattmoor I believe this is done even. The numbers are here https://testgrid.knative.dev/knative-serving#performance&sort-by-failures=

[2019-01-08 09:26] zxDiscovery opened #2868 "The autoscaler doesn't created 5 pods in Autoscale Sample"
## Expected Behavior
In [Autoscale Sample](https://github.com/knative/docs/tree/master/serving/samples/autoscale-go), the system has a default target concurrency of 100.0 but we used 10 for our service. We loaded the service with 50 concurrent requests so the autoscaler created 5 pods (50 concurrent requests / target of 10 = 5 pods)

## Actual Behavior
On my knative environment, there is only one

[2019-01-08 10:09] markusthoemmes commented on #2868
@zxDiscovery Could you specify which version of Knative you're using? I think the annotation based concurrency setting is not yet in a released version. You can try to set `containerConcurrency` to 10 on your revision to verify that this is the issue.

[2019-01-08 13:44] markusthoemmes opened #2869 "Continuous build's test results are no longer reported."
See:

![image](https://user-images.githubusercontent.com/1289147/50834264-dea3c980-1353-11e9-89c5-1818fc91c642.png)

## Additional Info

This might have something to do with:

[code]

The tests seem to fail to uninstall knative there. Does that prevent collection of test data?

[2019-01-08 14:37] richtera commented on #2859
Possibly. What I was thinking is that during deployment it initializes and instance of the deployment pod to make sure it runs and then scales it back to zero. What I was thinking is that at the time things are scaled back it tries to move the pod to another node going though the deployment cycle of 1 and then 0. But my assessment can be wrong. All I saw is that I had 3 nodes of unused deployments

[2019-01-08 15:00] greghaynes commented on #2720
I do!

/assign greghaynes

[2019-01-08 17:58] vagababov commented on #2861
I concur.
/assign

[2019-01-08 18:14] srinivashegde86 commented on #2869
Looks like we changed the test names and they are now showing up at the bottom. We are also showing all the individual tests now, which we were not doing before.

I updated test-infra yesterday, which uses a new tests parser and probably has this unintended side-effect.

[2019-01-08 18:17] markusthoemmes commented on #2869
@srinivashegde86 ah, got it. That makes sense. I think we can close this then?

[2019-01-08 18:33] srinivashegde86 commented on #2869
Yup.

[2019-01-08 18:33] #2869 closed

[2019-01-08 18:36] mattmoor commented on #2858
I don't think we have a repro for this, so I'm going to close this, unless someone has one.

[2019-01-08 18:36] #2858 closed

[2019-01-08 21:54] mattmoor commented on #2668
cc @yanweiguo

[2019-01-08 22:04] dgerd commented on #2757
Steps to reproduce

1. Checkout Knative Serving from upstream/release-0.3 ( 4d198db8 )
2. Deploy Istio ( https://github.com/knative/serving/blob/master/DEVELOPMENT.md#deploy-istio )
3. Deploy Knative Serving with logging and monitoring backends ( https://github.com/knative/serving/blob/master/DEVELOPMENT.md#deploy-knative-serving )
4. Create a new Configuration/Route `ko apply -f test/test_images/

[2019-01-08 22:17] vagababov opened #2876 "Simplify the traffic.go"
## Proposal
Currently the route/traffic/traffic.go is quite complex, but it doesn't have to be so, since we only permit a single revision for a target, so the whole flattening process can be rewritten with fewer lines.

- simplify the data structures
- simplify the algorithms
- remove the unnecessary code
- fix the linter errors with stutter named structures

[2019-01-08 22:17] vagababov commented on #2876
/assign
/milestone 0.4

[2019-01-08 22:18] vagababov commented on #2876
/milestone Serving 0.4

[2019-01-08 22:21] tcnghia commented on #2876
/milestone Serving 0.4

[2019-01-09 03:13] zxDiscovery commented on #2868
It works after set `containerConcurrency` to 10. So close this issue. Thanks @markusthoemmes

[2019-01-09 03:13] #2868 closed

[2019-01-09 05:01] mattmoor commented on #2850
FWIW, I'd like to get us running this at ~150 in 0.4

[2019-01-09 05:05] mattmoor commented on #1340
/assign

[2019-01-09 05:08] mattmoor commented on #1299
/assign

[2019-01-09 05:17] mattmoor commented on #1299
This is the API I want: https://godoc.org/k8s.io/apimachinery/pkg/apis/meta/v1#IsControlledBy

[2019-01-09 05:56] zxDiscovery commented on #2868
@markusthoemmes  Why we need to set `containerConcurrency` to  10 in new version.  The value is still 100 in release version.

[2019-01-09 14:52] PMarci opened #2878 "Cannot install Knative serving"
## Expected Behavior

I can install knative on my local Minikube cluster by following the docs.

## Actual Behavior

I cannot install knative, the pods for serving never get to a Running state.

## Steps to Reproduce the Problem

1. Start minikube
[code]
2. appy istio CRDs yaml (after coming across knative/serving#2195)
[code]
3. wait some time as advised
4. apply istio.yaml
[code]
5. after severa

[2019-01-09 15:30] vagababov commented on #2878
Looks like DNS problem of sorts?
Can you pull the image directly from your machine?
Can you ping gcr.io if you ssh to the pod?

[2019-01-09 16:05] rsmitty opened #2879 "Duplicate "images.caching.internal.knative.dev" resources"
I'm trying to deploy knative-serving with kustomize. In doing so, I've noticed that there are duplicate CRDs shipped for `images.caching.internal.knative.dev`. In looking around the code, it seems like this manifest is getting pulled in vendors (at `vendor/github.com/knative/caching/config/image.yaml`, via `config/300-imagecache.yaml` symlink), as well as through the third_party directories inside

[2019-01-09 17:17] PMarci commented on #2878
Since I posted the issue I stopped the minikube machine and after starting it again with the same args it seems istio can no longer start successfully. This is the current state of the pods:
[code]

I am quite new to Kubernetes in general, so at first I wasn't sure what you're referring to, so I might be be doing something wrong. I didn't know which istio pod might have a shell binary, so I tried

[2019-01-09 17:24] PMarci commented on #2878
Running  `docker pull istio/pilot:1.0.2` after the eval command returns
[code]
Which clears up some of my questions at the bottom. I guess this is the result of my shell using docker on the minikube machine.

[2019-01-09 17:39] bbrowning commented on #2266
If you reference the internal registry via a suffix that ends in `.local` - such as `registry.myproject.svc.cluster.local`, replacing the first two parts there with the actual service name and namespace, I believe that would that trigger the logic in go-containerregistry to connect via HTTP instead of HTTPS?

[2019-01-09 17:48] berndtj commented on #2266
You can certainly push to an internal insecure register that way, but if you want to actually schedule that container, you need to use the cluster IP of the registry/image as the node/host cannot resolve the service name.

[2019-01-09 18:35] markusthoemmes commented on #2735
/assign

@tcnghia I'll add more info, I'll start working on it

[2019-01-09 20:11] #2732 closed

[2019-01-09 22:16] jonjohnsonjr commented on #2517
FWIW @seth-priya has been making progress on building knative for ppc here: https://github.com/knative/build/issues/514

We can make this significantly easier, though.

Filed a bug to track some of that work here: https://github.com/google/go-containerregistry/issues/333

[2019-01-10 05:13] mattmoor commented on #2678
So I can see this in the scale test (at least cranked up to 150 as I have it right now), e.g.
[code]

Interpreting from the suffixes, these pods came from distinct ReplicaSets, and the main way that would happen would be if we created a second deployment while the pods from the first were still tearing down.

[2019-01-10 05:18] chrrrles commented on #2812
Scaling the knative-serving/activator deployment to 0 and then back to 3 solves the CPU usage problem -- I am not familiar enough with knative to know where to start debugging, and some tips/pointers would be appreciated. :)

[2019-01-10 13:39] PMarci commented on #2878
Today I put my setup commands into a script for convenience and ran it once on a fresh minikube machine, after having deleted `~/.minikube` as well. All istio pods started up within 5m. After having confirmed that knative still can't be installed, on the next round of `minikube stop && minikube delete && ./startup.sh` this was the state of the istio pods:
[code]
running `kubectl -n istio-system de

[2019-01-10 17:05] vvraskin opened #2885 "Make sure non-unit tests are run against the correct Ingress endpoint on Minikube"
## Expected Behavior
I'm able to run non-unit tests on my local minikube deployment.
## Actual Behavior
The tests are failing due to the fact that Istio uses a non-standard http port on minikube.
## Steps to Reproduce the Problem

1. Deploy serving on minikube  - https://github.com/knative/docs/blob/master/install/Knative-with-Minikube.md
2. Create the namespace
[code]
3. Publish the docker images

[2019-01-10 19:19] tcnghia commented on #2878
This looks similar to https://github.com/docker/for-mac/issues/1317

[2019-01-10 20:09] evankanderson commented on #98
If we're willing to document the names of the created Istio VirtualServices and require the customer to configure Istio (or whatever their network router is), then something like the following policy configuration for Istio should work; the first object is cluster-wide, the second is namespace-wide, and the last two perform the actual access grant.

This would need to be tested and documented, at

[2019-01-10 20:40] bbrowning commented on #2132
Anecdotally, the CPU usage of an otherwise idle minikube or minishift with Knative installed doesn't seem much different.

[2019-01-11 09:18] markusthoemmes opened #2890 "TestScaleToX hangs"
Even after fixing the race condition, this test still seems to intermittently fail for no good reason. The Route probers seem to never start and even if all services sign off as "done", the test doesn't seem to recognize that properly.

See https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1083393565708521472 for an example of everything going okay, but the signa

[2019-01-11 14:30] vvraskin commented on #2885
/assign
/milestone 0.4

[2019-01-11 17:41] lukas-lansky commented on #2814
@RotatingFans Yes, thanks a lot, that was it. `gcloud config get-value core/account` returns account in lower case, clusterrolebinding depends on it being the same case as original. I can reproduce the original issue with current documentation for version 0.3.0, but the issue disapears when I replace `--user=$(gcloud config get-value core/account)` with the proper value manually.

@Fryuni Thanks,

[2019-01-11 23:50] tcnghia opened #2897 "Pods stuck a long time in Terminating"
## Expected Behavior
Pods terminate timely, within default termination grace period of 30 seconds.

## Actual Behavior
Pods seems to be stuck in Terminating for minutes after Revision is deleted or scaled to 0.  This may be related to #2867 .

We could roll back #2867 but better solution should allow accommodating longer timeouts without affecting pod termination when there is no request.

## Step

[2019-01-12 15:42] mattmoor commented on #2890
Interestingly I have yet to see this and I've been running this at 150 for the past couple days intermittently.

[2019-01-12 15:46] mattmoor commented on #2879
We no longer have a release bundle that includes both build and serving, both of which need this CRD installed.

I assume this works using kustomize on Build and Serving 0.3 separately?

[2019-01-12 15:52] mattmoor commented on #2878
Looks like there are clearly outbound networking problems from minikube.  @dlorenc who's the best PoC these days?

[2019-01-12 15:55] mattmoor commented on #2850
I noticed that the Istio ingressgateway lacks `readinessProbe`, which is likely a part of the issue when we allow that to scale horizontally (we don't in the e2e tests though).  @tcnghia this seems like a hole, can you follow up with Istio about fixing this for 1.1?  I dug around their repo a bit and couldn't figure out how the yamls are produced...

[2019-01-12 15:56] mattmoor commented on #2850
I have also noticed that things seem significantly less stable with the mesh enabled.

[2019-01-12 15:56] mattmoor commented on #2805
closing without more info.

[2019-01-12 15:56] #2805 closed

[2019-01-12 16:15] mattmoor opened #2900 "Revision readiness event fires prematurely"
See the comment here for a bit of context: https://github.com/knative/serving/pull/2882#discussion_r246708351

[This](https://github.com/knative/serving/blob/02d3c9b657fdefe76690a1d5751ae0b2c4e414ae/pkg/reconciler/v1alpha1/revision/reconcile_resources.go#L212-L214) is where we fire the event (similar event [here](https://github.com/knative/serving/blob/02d3c9b657fdefe76690a1d5751ae0b2c4e414ae/pkg/

[2019-01-12 16:37] mattmoor opened #2901 "HPA autoscaling broken in 0.3.0 / at HEAD"
It looks like the HPA class autoscaling may have been broken when we switched to using CRD subresources.  I'm speculating based off of the fact that we didn't switch the table test to use `WantStatusUpdates`, a vague recollection that normal status updates start failing when this is enabled, and a recollection that we don't have an HPA e2e test.

When we have a fix for this, we can cherrypick it i

[2019-01-12 16:57] #1340 closed

[2019-01-12 17:11] mattmoor commented on #2611
This seems to have gotten lower.  150 now pretty consistently fails (without sidecars) on my cluster.

[2019-01-12 17:37] mattmoor opened #2902 "Our e2e tests should use functional options shared with unit tests"
We should refactor the e2e testing to share the functional options used by the unit tests so that we have a shared collection of mutations we can apply for testing.

Here's an example block where we augment a service with a `resources` stanza: https://github.com/knative/serving/blob/51b74ba2b78b96fa4b7db3181b4a1c84c2758168/test/crd.go#L180-L188

[2019-01-12 17:38] mattmoor commented on #2850
I believe the Service that *we* stand up also lacks a `readinessProbe`.  I will try to see what that does to things now.  cc @tcnghia

/me hangs head in shame.

[2019-01-12 17:40] mattmoor commented on #2850
ah, wait I just noticed this:
[code]

So that may not be accurate.

[2019-01-12 17:41] mattmoor commented on #2850
Yeah we're not.  We need to refactor this code to make better use of `Options` either way, since as-is it is impossible to pass the readiness probe in through the test.

[2019-01-13 02:11] mattmoor commented on #2897
I believe this is because we set the termination grace period here based on the timeout, so the default timeout of 5 minutes means it takes 5 minutes to tear down the pod: https://github.com/knative/serving/blob/78591b3a19eb5ae4267a75610d41652986a2fcec/pkg/reconciler/v1alpha1/revision/resources/deploy.go#L147

[2019-01-13 03:51] mattmoor commented on #2850
I think the crux of this is that the prober is essentially a go routine leak.  We basically never tell it to stop probing.  I think the simplest change would be to change [this](https://github.com/knative/serving/blob/02d3c9b657fdefe76690a1d5751ae0b2c4e414ae/test/e2e/scale_test.go#L129) to push the error onto `errCh` instead of calling `t.Fatalf`.

[2019-01-13 05:11] mattmoor commented on #2850
Ok, so with some tweaks to the test, I've managed to get 2 runs in a row to `PASS` after pretty consistently failing.  I think that the tl;dr is that I made at least one (probably several if I counted) bad assumptions about how some of our test libraries work, and probably several of my own logic errors when writing the test.

So far, I've encountered only one real issue picking this apart: Istio'

[2019-01-13 05:16] mattmoor commented on #2850
cc @tcnghia

Oh yeah, and this is with a replicated ingress gateway without the mesh (but with a `tcpSocket` readiness probe), so in theory this is still subject to delays in the propagation of network programming.

[2019-01-13 05:30] mattmoor commented on #2850
Let's make this official... 😛

/assign

[2019-01-14 02:10] mattmoor commented on #1997
Given the Istio 1.1 cut date, I think this is out for 0.4 too 😦

[2019-01-14 07:37] markusthoemmes commented on #2897
I'd have to doublecheck this, but could the reason be that some container is not correctly acting on a SIGTERM? I assumed that the termination grace is only... well... a grace. We should verify that all 3 containers are properly shutdown when we expect them too.

[2019-01-14 15:03] wtam2018 commented on #2902
I'm interested in working on this issue.

[2019-01-14 19:02] josephburnett commented on #2901
Dang!  I didn't think we needed an E2E test for this because we had unit tests.  I'll see if I can get something together today to cherry pick into 0.3.

[2019-01-14 19:46] #2778 closed

[2019-01-14 20:04] dprotaso commented on #2901
FYI - `UpdateStatus` is being invoked

https://github.com/knative/serving/blob/9a74c670ef9a3890955111a04e8791f03ff84795/pkg/reconciler/v1alpha1/autoscaling/hpa/hpa.go#L198

Tested here:

https://github.com/knative/serving/blob/9a74c670ef9a3890955111a04e8791f03ff84795/pkg/reconciler/v1alpha1/autoscaling/hpa/hpa_test.go#L49-L51

I wouldn't expected `UpdateStatus` to be invoked on the K8s HPA in this

[2019-01-14 21:42] josephburnett commented on #2901
@mattmoor, what makes you think that HPA integration is broken?  Works at head:

[code]

[2019-01-14 23:08] josephburnett opened #2909 "Window annotation"
## Desired Behavior

I am able to adjust the KPA autoscaler concurrency target with the `autoscaling.knative.dev/target` annotation.  I should be able to also adjust the window of the autoscaler with `autoscaling.knative.dev/window`.

[2019-01-14 23:09] josephburnett commented on #2204
We will be scraping the metrics directly (#2203), so as to not take on a Prometheus dependency for autoscaling.

[2019-01-14 23:09] #2204 closed

[2019-01-15 00:10] tcnghia opened #2912 "queue-proxy /heatlth to perform TCP connect to user container"
## Expected Behavior
We have a default TCP readiness probe for user container.

## Actual Behavior
Since user-container may be proxied by Istio proxy, TCP probes only connect to Istio proxy instead.

If queue-proxy's /health endpoint also perform TCP connect to user container then we can perform readiness check for user-container through queue-proxy.

## Additional Info

[2019-01-15 00:12] tcnghia commented on #2912
/assign @markusthoemmes

Thanks a lot.

[2019-01-15 16:30] markusthoemmes opened #2916 "Advanced HTTP/2 support"
# HTTP/2 support in Knative

PR #2539 introduced the basic ability to use a Knative Service with HTTP/2. There have been numerous discussions on how to "properly" support HTTP/2 (and other stream based protocols) in Knative. This will focus on the different aspects of HTTP/2 only and how we could implement it to the benefit of our users. Some of this might also be applicable to other protocols suc

[2019-01-15 16:54] white-cloud opened #2917 "Empty host URL"
Hello,

I'm trying the Helloworld-python example  in Knative, the issue that i.m having right now is that i can't get the Host URL so i can call my function,
I used the following command:
kubectl get ksvc helloworld-python  --output=custom-columns=NAME:.metadata.name,DOMAIN:.status.domain
NAME                DOMAIN
helloworld-python   <none>
The output is empty!!!! i tried to deploy Knative as wel

[2019-01-15 16:59] rsmitty commented on #2879
Yep, you are totally right. I was trying from 0.2.3 🤦‍♂️ . Thanks for the sanity check, I'll give it a show with 0.3.

[2019-01-15 16:59] #2879 closed

[2019-01-15 17:55] josephburnett commented on #2901
@mattmoor or @dprotaso have you been able to reproduce this?  I have not.

[2019-01-15 22:22] sbezverk commented on #2605
@mattmoor any chance you could share steps to reproduce the error you were seeing? I would like to look into this issue but need steps to repro it.

[2019-01-15 22:46] tcnghia commented on #2605
I believe this is a race condition that is a bit hard to trigger.  However,  if we don't use GenerateName and use the Route's UUID in naming the ClusterIngress we will not have an issue.

[2019-01-16 00:15] ZhiminXiang opened #2921 "Istio mTLS broke scraping of Prometheus"
/area monitoring
/area networking

## Expected Behavior
After enabling Istio mTLS, Prometheus should still be able to scrape metrics from the pods with Istio sidecar injected.

## Actual Behavior
After enabling Istio mTLS, Prometheus fails to scrape metrics from the pods with Istio sidecar injected.

## Steps to Reproduce the Problem

1. Set up Knative cluster without turning on mTLS.
2. Set up Pr

[2019-01-16 06:56] markusthoemmes commented on #2849
Happened again and still leaves me puzzled what's going on.

https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1085386699430694912

[2019-01-16 08:40] vvraskin commented on #2917
@white-cloud could you please specify:
1. version of Kubernetes you are using
2. version of knative-serving you are using
3. the output of `kubectl get ksvc helloworld-python`

[2019-01-16 09:10] markusthoemmes commented on #2917
@white-cloud As per the release notes of 0.3, knative now depends on Kubernetes 1.11. That's likely where you're issues are coming from.

[2019-01-16 09:34] white-cloud commented on #2917
@vvraskin  Thank you again for your reply, i just noticed now , im going to upgrade to 1.11 and let you knoz if i will have the same issue.

Another question please related to the configuration of the application created using Knative ,if i want for example to configure my helloworld example with a specific memory size and CPU how could i do that.
As well in case of i want to desactivate the autos

[2019-01-16 09:44] markusthoemmes commented on #2917
@white-cloud

As for how to fix the number of instances, please refer to: https://github.com/knative/serving/tree/master/docs/scaling. I'm not sure if setting min and max to the very same value works, but that's as far as you'll get.

Resources can be defined like on any ordinary container. You can refer to: https://github.com/knative/serving/blob/master/docs/spec/spec.md#container

[2019-01-16 09:56] white-cloud commented on #2917
Thank you @markusthoemmes  for your answers, i appreciate it.

[2019-01-16 10:01] white-cloud commented on #2917
Hey again @markusthoemmes ,
I upgrated my cluster;
 kubectl version
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.6", GitCommit:"b1d75deca493a24a2f87eb1efde1a569e52fc8d9", GitTreeState:"clean", BuildDate:"2018-12-16T04:39:52Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.6", GitCommit:"b1

[2019-01-16 10:21] white-cloud commented on #2917
Hello @markusthoemmes , it works now. :)

[2019-01-16 11:53] chrrrles commented on #2812
Just an update - I am not having this issue outside of Minishift -- No problems so far using knative on a local container-based installation of Openshift

[2019-01-16 21:51] #2890 closed

[2019-01-17 05:41] mattmoor commented on #2901
Gah, it is indeed using `UpdateStatus`.  I was throw by [this](https://github.com/knative/serving/blob/b51a3703a1e559a34846b2c7e5ab7f069b8a1921/pkg/reconciler/v1alpha1/autoscaling/hpa/hpa_test.go#L81-L83), which `I mistook to be an update of our `hpa` _class_ `PodAutoscaler`.

Sorry for the false alarm while I was MIA, my bad.

[2019-01-17 05:41] #2901 closed

[2019-01-17 05:47] mathspanda commented on #2900
I would work on this issue.

[2019-01-17 07:34] markusthoemmes commented on #2849
Sadly not fixed yet :(

https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1085749086486794240

/reopen

[2019-01-17 21:08] #2912 closed

[2019-01-17 21:23] josephburnett opened #2929 "Vertical Pod Autoscaling Beta"
# Design Proposal

## Background

The default autoscaling strategy for a Knative Revision is concurrency-based, meaning the Autoscaler tries to maintain a `target` number of requests in-flight on average for all pods.  The default concurrency `target` is [`100`](https://github.com/knative/serving/blob/b51a3703a1e559a34846b2c7e5ab7f069b8a1921/config/config-autoscaler.yaml#L41).  Knative also provid

[2019-01-17 21:38] josephburnett commented on #2916
I propose we allowed unlimited connections and controlled *streams* with a semaphore.  If we cross a concurrency threshold, we start booting connections with [GOAWAY](https://httpwg.org/specs/rfc7540.html#GOAWAY), starting with the smallest stream-count, until we go below the threshold again.  Setting max concurrency streams on every connection ensures we can always handle at least 1.

Something l

[2019-01-17 22:07] josephburnett commented on #2304
We've decided to scrape metrics off the Pods directly from the Autoscaler which @yanweiguo is working on in https://github.com/knative/serving/issues/2203.  Additionally, will be doing load testing of Knative Serving in general.  So I'm closing this issue as obsolete.

[2019-01-17 22:07] #2304 closed

[2019-01-17 22:10] josephburnett commented on #2080
This is fixed.  I have added the E2E pull request to the Robust E2E Tests project.

[2019-01-17 22:10] #2080 closed

[2019-01-17 22:10] josephburnett commented on #2078
This was fixed as part of https://github.com/knative/serving/issues/2080.

[2019-01-17 22:10] #2078 closed

[2019-01-17 22:13] josephburnett commented on #1625
We ran the Activator for a while with 3 replicas which was fine.  We scaled down to 1 again for more efficient resource usage.

TODO on this issue is 1) load test the Activator until it fails, noting the CPU and memory usage, then 2) setup an HPA pointing at the Activator (if CPU is the bottleneck).

[2019-01-17 22:17] josephburnett commented on #2380
We tried this and it wasn't as easy as we thought.  We need a way to clean up the old Activator resources.  And we need to make sure Revisions scaled to zero are updated to point to the new KBuffer service.

We also might replace the Activator with an ingress Envoy filter.  At this point, it's not worth renaming the Activator.

[2019-01-17 22:17] #2380 closed

[2019-01-17 23:27] josephburnett opened #2930 "Autoscaler High Availability"
# Design Proposal

The KPA-class Autoscaler implementation does a fair amount of data processing, in proportion to the number of Revisions and their relative scale.  It processes summary statistics from each Pod every 1 second and computes average concurrency for every Revision every 2 seconds.

The Autoscaler also plays a critical part in the data plane (even though it's part of the control plane

[2019-01-17 23:36] glyn commented on #2916
@josephburnett wrote:

How will this affect the streams which are rejected? Will GOAWAY surface as an error to the client (and perhaps require the application to provide retry logic) or will some component transparently redirect the rejected stream(s) to a new (or at least a different) connection?

[2019-01-17 23:42] greghaynes commented on #2916
Doing some reading envoy calls this 'connection pooling' and will merge all steams in to one connection to a backend: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/connection_pooling#http-2 - So if we did a GOAWAY we'd effectively be restarting all traffic to that app.

[2019-01-18 00:01] tanzeeb commented on #2916
Solution 2 is the current behavior _without_ #2539. Istio upgrades all connections to HTTP/2 under the hood, and downgrades to `http/1` where appropriate. It's not viable for gRPC, see [this chart](https://github.com/knative/serving/pull/2539#issuecomment-444585549) in #2539.

IMO the best solution would be to do what @greghaynes suggests and take advantage Envoy's connection pooling. We can do th

[2019-01-18 00:02] greghaynes commented on #2916
I'm noticing we should be explicit our LB setup here, partially due to the connection pooling stuff mentioned above but also there's a few ways to solve this. Here's what I'm thinking:

We use a HTTP/2 ingress/gateway (as opposed to raw tcp) which we assume may connection pool to its backends. For autoscaling purposes we measure streams as our unit of concurrency (as @josephburnett mentioned). We

[2019-01-18 02:13] mattmoor commented on #2929
This is better than how the VPA works today (AIUI), but I don't think that the PA controller should alter the Deployment (the Revision controller would simply undo it).  I think we should surface the recommendation in the PA's status and have the Revision controller incorporate the recommendation into the desired Deployment, which would prompt it to perform the update.

A couple of lingering conce

[2019-01-18 05:17] #1299 closed

[2019-01-18 06:42] markusthoemmes commented on #2916
Oh that envoy behavior is interesting indeed. Does that also mean that envoy can send requests coming in from the same stream to different backends? If that is the case, we might have no problem at all wrt. autoscaling etc. and can just apply the "usual" backpressure as @greghaynes mentioned. Essentially we're then entering the "Single" case I described above.

The whole writeup is based on the as

[2019-01-18 07:39] markusthoemmes commented on #2916
Doing a bit more digging and reading, the shutdown mechanism you describe @greghaynes seems to be implemented into the `Shutdown` logic of a http2 server. At least [connections already behave this way](https://github.com/golang/net/blob/master/http2/transport.go#L775).

[2019-01-18 12:21] markusthoemmes commented on #2897
/assign

[2019-01-18 15:41] josephburnett commented on #2916
@greghaynes https://github.com/knative/serving/issues/2916#issuecomment-455377633 sounds right.

@markusthoemmes another aspect of the design is how the Activator participates.  It must count streams for HTTP2 as well as connections for HTTP1.

[2019-01-18 16:48] #2849 closed

[2019-01-18 16:50] n3wscott opened #2940 "Race Condition installing Serving from release yaml"
/area API
/area test-and-release
/kind bug

## Expected Behavior
Serving installs clean every time.

## Actual Behavior

Install Serving with the following: `kubectl apply --filename https://github.com/knative/serving/releases/download/v0.3.0/serving.yaml`

And among the output are the following error lines:

[code]

## Steps to Reproduce the Problem

1. Have a clean cluster.
2. Install istio.
3.

[2019-01-18 17:14] rgregg opened #2941 "Surface webhook failures in Revision status"
I tried to create a new ksvc named "3ddemo". Everything appears to work correctly, but the revision never becomes active and all the statues on the revision are "Unknown".

[code]

Looking through the objects, we discovered that the kubernetes service doesn't get created, because kubernetes services must start and end with an alphabetic character:

[code]

However, this error doesn't get surfaced

[2019-01-18 17:17] rgregg opened #2942 "KService name validation should follow the k8s service restrictions"
Related to issue #2941, we shouldn't allow the names of ksvc objects to not meet the requirements of the underlying k8s service that gets created from the name of the ksvc. When creating or updating a ksvc, we should validate that the name meets the requirements:

[code]

[2019-01-18 18:39] vagababov commented on #2941
Note, that it might _end_ with a digit.

[2019-01-18 20:06] #2897 closed

[2019-01-19 00:12] mattmoor opened #2946 "Activation is unreliable at high load"
thanks to @tcnghia for helping triage / debug / troubleshoot

This was uncovered experimenting with the `TestScaleToN` test at varying loads, and manifested in a variety of ways.  My bad assumption in writing the test was that we'd (almost immediately) put it under load (either by probing for endpoint state or via the prober itself).  However, for whatever reason, we do end up seeing things gettin

[2019-01-19 00:51] mattmoor commented on #2946
cc @srinivashegde86 @alculquicondor

[2019-01-19 16:16] mattmoor opened #2949 "RFC: Deactivation with "positive hand-off""
### Background

Today we have a 30 second "sleep" after we report inactivity, but before we actually scale to zero.

This is a hacky workaround for a number of issues, including:
1. Our layering has Route implementing activation semantics, not Revision (🤞 for fixing in 0.5)
1. Unknown networking reprogramming time (Istio doesn't surface status, so 🤷‍♂️ )

**Why 30 seconds?  Seemed like the right a

[2019-01-19 16:45] mattmoor commented on #2611
So I believe we have two main issues:
1. Gateway replication without status is harmful (404s, 503s)
1. Deactivation without positive hand-off is harmful #2949, #2946)

We've already worked around `1.` in our e2e tests by patching the gateway(s) HPAs to `max: 1` .  However, I often bump into this locally when I forget to apply the same patch (or do it to the wrong gateway).  IMO we should incorpora

[2019-01-19 17:31] ZhiminXiang commented on #1767
I am working with Istio team to support this feature from Isito side so that we don't need to find a workaround in Knative.

Here is the design doc about this feature: https://docs.google.com/document/d/1agtVQADCk32mLwot8iygVGhHcP1Lna7G1Cne4Zwllgg/edit?ts=5bdb83da

Istio plans to include this feature in Istio 1.1 version.

[2019-01-20 13:49] markusthoemmes commented on #2949
A wrinkle is that in theory **all** proxies need to have been populated the updated network configuration. The proposed probing will only make sure that the autoscaler's configuration has been updated to point to the activator, which is probably much better than what we're looking at today, but will still not be 100% accurate to reflect the state of the rollout of the new configuration.

[2019-01-21 07:09] markusthoemmes opened #2951 "Initial queue-proxy websocket errors are confusing."
## Expected Behavior

The queue-proxy does not report any errors after startup if it can successfully connect to the autoscaler via a websocket connection.

## Actual Behavior

The queue-proxy almost always reports one or two failures because an event was tried to be sent before an initial connection was created.

## Steps to Reproduce the Problem

1. Deploy any application.
2. Check the queue-pro

[2019-01-21 09:44] glyn commented on #2916
I think that would break gRPC. Please can someone confirm that this will _not_ be the case.

[2019-01-21 10:12] markusthoemmes commented on #2916
@glyn maybe I expressed myself in the wrong way:

I meant: Can requests coming in from the same **connection** be sent to different backends (or in this case: streams from the same connection).

Would that keep gRPC semantics intact?

[2019-01-21 13:37] markusthoemmes commented on #2951
/assign

[2019-01-21 14:58] wtam2018 commented on #2318
/assign

[2019-01-21 14:59] wtam2018 commented on #2318
I'm interested working on this.

[2019-01-21 21:46] mattmoor opened #2954 "Race during Route readiness"
I've been running the scale test a lot lately, and I've found that at higher scales (more stuff deployed), it is much more common for us to timeout waiting for a Service to become "Ready".

I managed to capture an instance of this at low scale (following a large scale test) and the final state was:
[code]

I believe that the last state of the Configuration that the Route observes is one where the

[2019-01-22 08:05] DuncanDoyle commented on #2812
Same issue on Minishift (RHEL 7.5) on macOS.

[2019-01-22 08:14] markusthoemmes commented on #2812
Could you specify the Knative version used, I'll try to reproduce this. If you're all using 0.2.x, can you try to reproduce with 0.3 as well?

[2019-01-22 12:06] meteatamel opened #2958 "Traffic splitting configuration issues"
Scenario1: Assume, I have an existing revision (0001) and I want to create a new revision (0004) and traffic split between them. I need to have the following service.yaml:
[code]
This creates the new revision (00004) and starts splitting traffic between the two. Referring to a not-already-created revision is problematic for me because how do I know the new revision number (0004)?

Scenario2: Assum

[2019-01-22 12:53] mchmarny commented on #2958
+1. Being forced to predict the revision ID came up when I was originally doing the [blue/green demos](https://github.com/mchmarny/knative-demos/tree/master/blue-green-deploy). Splitting it into independant steps was the only "clean" way I was able to work around this (see [stage 2](https://github.com/mchmarny/knative-demos/blob/master/blue-green-deploy/stage2.yaml))

[2019-01-22 12:57] markusthoemmes commented on #2958
A proposal to fix Scenario 1 can be found here: https://github.com/knative/serving/issues/2819

[2019-01-22 14:46] evankanderson commented on #2958
For scenario 2, is `kubectl edit` and/or keeping the whole service definition (including `spec.configuration`) in source control an acceptable solution?

If not, would a CLI experience like `kn split $SERVICE 00001 00004 --percent 50` (hypothetical syntax) be acceptable?

[2019-01-22 14:55] akauppi commented on #2940
Second this. So new to Knative I hardly can provide help, yet.

[2019-01-22 17:46] sixolet commented on #2958
Re: scenario 2, the expectation is that you've created these revisions using the service, and you're not changing the configuration as you change the split (so you're not creating any new revisions).

[2019-01-22 19:55] greghaynes commented on #2659
/assign greghaynes

[2019-01-22 19:57] greghaynes opened #2961 "Immediately scale up from zero in autoscaler"
This is the other half of #2659 - When autoscaler gets a stat from the activator, if it is a scale-from-zero case, it should immediately attempt to do so.

[2019-01-22 19:57] greghaynes commented on #2961
/assign greghaynes

[2019-01-23 00:04] greghaynes commented on #2961
@josephburnett Can we get this added to milestone 0.4 and the cold-start project?

[2019-01-23 07:49] meteatamel commented on #2958
Re: scenario 2, 'kubectl edit' is probably an OK solution but I prefer to have YAML files for any state changes, so I can keep track of what I applied.

I understand that the expectation is not to change the `configuration` but there's nothing in the YAML definition that enforces that expectation. You can easily change the `configuration` and end up with another revision.

[2019-01-23 11:07] akauppi opened #2966 "Getting started with Knative 0.3.0 on GKE"
## Expected Behavior

I'd like to use the latest Knative version (0.3.0 currently), on GKE.

## Actual Behavior

The steps in the best tutorial I've found are based on 0.2.1 and aren't fully reproducable. I've made my own [knative-lab](https://github.com/akauppi/knative-lab) repo to describe the steps I've taken.

## Steps to Reproduce the Problem

1. Follow the story in https://github.com/akauppi

[2019-01-23 11:22] hideakiaoyagi commented on #2940
I encountered the event, too.
I think the cause of that event is that CustomResourceDefinition (CRD) is executed asynchronously.

If that event occurs, there are two temporary solutions:

1. After the error occurs, execute only the part that failed, that is, the following manifest:
[code]

2. Split the YAML file and run it after a while.

I hope that a fundamental solution will be presented.

[2019-01-23 12:13] markusthoemmes commented on #2966
Sorry, I can't quite grasp what the issue/the question is.

On the ingressgateways: `knative-ingressgateway` is deprecated and you should use `istio-ingressgateway` for any tutorials/docs going forward. The knative one will go away eventually.
Behaviorwise, both should be the same.

[2019-01-23 15:16] mattmoor opened #2968 "Use xip.io or nip.io by default"
I propose that we change the default domain from `example.com` to `<gateway-ip>.xip.io`, and clean up all of the test logic that papers over DNS that doesn't work.

Having "clickable" URLs by default seems like a low bar.

We should make this configurable so that folks can opt into alternate services like nip.io (or platform-provided mechanisms, or something better for certain geographies).

---

[2019-01-23 15:19] jsanda commented on #2949
@markusthoemmes has been discussing this with me. I am going to work on it.

/assign jsanda

[2019-01-23 16:03] #2735 closed

[2019-01-23 16:11] mattmoor commented on #2968
I don't like the prospect of N-way parties on our ConfigMap, I have another idea I need to write up.

[2019-01-23 17:23] cppforlife commented on #2968
be aware that occasionally dns fails to resolve for xip.io (we used it in cloudfoundry tests before but switched away) so this may introduce test flakes.

Sent from my iPhone

[2019-01-23 17:30] dgerd opened #2969 "Add conformance tests to ensure that OCI interface not exposed"
## Expected Behavior

OCI Interface is not exposed within a container as per https://github.com/knative/serving/blob/master/docs/runtime-contract.md#operations

## Actual Behavior

Likely not exposed, but we should add a test to validate we don't regress.

[2019-01-23 17:32] #2951 closed

[2019-01-23 17:33] dgerd opened #2970 "Add conformance tests to validate operation hooks are not configurable"
## Expected Behavior

An error is given when a container with OCI operation hooks are specified. https://github.com/knative/serving/blob/master/docs/runtime-contract.md#hooks

## Actual Behavior

Unknown

[2019-01-23 17:35] dgerd opened #2971 "Add conformance tests to validate stdin is redirected"
## Expected Behavior

As per the runtime contract stdin should be redirected to /dev/null for containers running on knative

https://github.com/knative/serving/blob/master/docs/runtime-contract.md#file-descriptors

## Actual Behavior

Unknown

[2019-01-23 17:51] dgerd opened #2972 "Add conformance test for probes failing at startup"
## Expected Behavior

When my container fails liveness or readiness probes during startup it gets marked as failed.
https://github.com/knative/serving/blob/master/docs/runtime-contract.md#deployment-probe

## Actual Behavior

We need a test to validate this behavior and ensure it does not regress.

[2019-01-23 17:54] dgerd opened #2973 "Add conformance tests to validate OCI devices are disallowed"
## Expected Behavior

Only default OCI devices are allowed by the knative runtime contract. We should error when a non-default device is requested.

https://github.com/knative/serving/blob/master/docs/runtime-contract.md#devices

## Actual Behavior

We need a conformance test to validate this behavior.

[2019-01-23 17:56] dgerd opened #2974 "Add conformance test for cgroup configuration"
## Expected Behavior

When I request resources for my revision I should have cgroup devices mounted read only in my container. The settings on these cgroup devices should match the resources I specified.

https://github.com/knative/serving/blob/master/docs/runtime-contract.md#control-groups

## Actual Behavior

We need tests to validate behavior and prevent regressions

[2019-01-23 17:57] markusthoemmes commented on #2972
See **TestContainerExitingMsg** for at least the readiness probe side of things.

[2019-01-23 17:58] dgerd opened #2975 "Add conformance tests to validate sysctl parameters"
## Expected Behavior

Sysctl parameters should not be editable from within a knative container.

https://github.com/knative/serving/blob/master/docs/runtime-contract.md#sysctl

## Actual Behavior

Need tests

[2019-01-23 18:03] dgerd opened #2976 "Improve conformance tests for filesystem checks"
We currently have filesystem conformance tests on /tmp and /var/log ( https://github.com/knative/serving/blob/master/test/conformance/runtime_contract_types.go )

We are missing filesystem tests on /dev/log as well as /etc/resolv.conf as per https://github.com/knative/serving/blob/master/docs/runtime-contract.md#default-filesystems

This issue is to add additional filesystem tests to close the gap

[2019-01-23 18:34] markusthoemmes opened #2977 "Bucketize autoscaling metrics by timeframe not by pod name."
# Current behavior

All metrics obtained by the autoscaler are bucketized by the pod that sent them. For each pod, a weight is calculated, stating how long it was active for the current autoscaling window. If a pod shuts down in the middle of the current window, its reported numbers will only be taken into account for 50%. The average concurrency for each pod is calculated over the _entire_ scalin

[2019-01-23 18:39] tcnghia commented on #2968
Instead of having ClusterIngress controllers changing the config-domain it may be better to have Route controller do that.

IP address is a field on ClusterIngress.Status.

One implication of this is that domain based ingress like AWS will not work.

[2019-01-23 20:16] jsanda commented on #2949
@mattmoor when/where should the autoscaler submit the probe request? Would the request be made instead of checking if the scale to zero grace period has elapsed?

[2019-01-23 20:50] #2430 closed

[2019-01-23 21:52] evankanderson opened #2978 "Post-install job to size cluster"
Related: #1003 #2859 #87

The sizing of various Istio and Knative resources is not always useful given the resource constraints of the cluster. For example, users have run into issues with Istio pilot requesting 3 x (500m CPU, 2GB RAM) in minikube, which is certainly overkill. On the other hand, this is probably a reasonable size for a 50 x 4 CPU production cluster (or even too small).

We should

[2019-01-23 22:04] vagababov commented on #2977
If you don't decay the values (linearly as we do, or exponentially), then would a probing/metric flake affect and generate a very uneven graph?

[2019-01-23 22:14] Justin2997 commented on #2978
I will try to code something for that but if there is someone more experiment that want to take it let me know.

[2019-01-23 22:17] k4leung4 commented on #2949
@jsanda I think you are right in that the probe would replace the scale to zero grace period has elapsed. Seems like the main purpose of scale to zero grace is to allow the activator to be ready before scaling down.

I was also interested in working on this issue, do you think we can split the effort or would this be more of a one person task?

[2019-01-23 22:58] tcnghia commented on #2978
/assign @Justin2997

Please feel free to reach out if you have any questions.

[2019-01-23 23:00] tcnghia commented on #2978
@Justin2997 you will need to follow the contributor guide to join Knative before I can assign issue to you.

[2019-01-23 23:07] evankanderson commented on #2949
Some random drive-by thoughts:

1. You really want to be able to probe the ingress gateways as well as the mesh, but if you're injected, you'll only be testing propagation to your sidecar. This may be sufficiently close, but getting multiple measurements from different sidecars/gateways might help narrow the window.
2. The one blessing/mitigation is that once you do decide to scale down, you'll ne

[2019-01-24 01:53] mattmoor opened #2985 "RFC: Towards more sophisticated domain mappings."
### Problem Statement
Our current story for configuring the domain name applied to a Route leaves a lot to be desired.  This applies at two levels:
1. The story for replacing `example.com` with `mattmoor.io` requires hand-editing of a ConfigMap with a non-trivial structure (error prone).
1. The above is also problematic for development / upgrades (see #2668)
1. There is no story for mapping domain

[2019-01-24 05:02] lvjing2 commented on #2930
I think there are 3 major problem we need to consider when there are more than one instance of autoscaler:
1. The stats from the same revision should send stat to the same autoscaler
2. Each instance of autoscaler aggregate the stats for a small and stable part of revisions.
3. Auto scale up or down of autoscaler should not cause the stats send to another instance of autoscaler if the previous one

[2019-01-24 07:19] markusthoemmes commented on #2949
@evankanderson The points you made about a lameduck should be addressed in our containers already. A pod will wait 20seconds flat + however long it takes to finish outstanding requests before shutting down.

[2019-01-24 07:36] markusthoemmes commented on #2977
@vagababov Yes and no. I think that's a matter of choosing the size of the timeframes appropriately. I thought about 2 seconds at least (since that's the autoscaler granularity anyway) we can even bump that up.

If there's still a flake, we wouldn't consider that pod as "being around" for that timeframe and calculate the average across the ones that actually sent metrics. This is then quite simila

[2019-01-24 07:44] markusthoemmes commented on #2977
That being said, it might make sense to wait until scraping is implemented since that might alleviate a lot of potential hassle related to the things you pointed out @vagababov

[2019-01-24 08:57] akauppi commented on #539
Since Istio is now on 1.x, I'd be curious to know if this issue is still relevant.

Learning Knative and skimming through the issues to get an idea of the maturity.

[2019-01-24 08:59] akauppi commented on #2966
My problems were likely caused by cluster configuration, and I got a working cluster now. Closing this.

[2019-01-24 08:59] #2966 closed

[2019-01-24 10:23] markusthoemmes commented on #2464
/reopen

This is still happening in seemingly random tests, suggesting a rather basic issue:

https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1087983811599273984

https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1087047642367660032

[2019-01-24 10:30] markusthoemmes commented on #2464
I'm fairly certain this is basically the inverse of the reason why we delay scale to zero:

Some of our tests (including these) only retry on 404s not on 503s (some other tests do). My guess is that in this case the service and the pods come up correctly, so the route is applied but the endpoints have yet to propagate properly. I'll open a PR to retry 503s as well.

[2019-01-24 12:12] mgencur opened #2987 "Make it easier to disable/choose which scale tests to run"
Currently, there are two variants of scaling tests in the E2E test suite (as of Jan 23, commit: https://github.com/knative/serving/commit/93745664dc4507b1bd7855d35388c37a9cb46f29#diff-b68facd3c72a0e868d95ff84017ad0f4):
* scale to 10
* scale to 50
* maybe more in the future?

We might want to run them in different environments with different resource limits and so it would be good to be able choose

[2019-01-24 13:44] markusthoemmes commented on #2464
I put out a PR to normalize what we do in the tests at least but I think we need to think about what we do to help our users not see this in production.

One possibility could be to do a polling like we planned for scale-to-zero (#2949) and only mark a route as `Ready` once that works properly. However, I think this condition can also happen when we switch from activator to the active revision wit

[2019-01-24 14:40] MarkKropf commented on #2814
There is another way to get the case-sensitive value with the existing configured environment variables.

`gcloud projects get-iam-policy $PROJECT | grep 'user:' | cut -d: -f2`

[2019-01-24 15:12] mattmoor commented on #2987
`-run=TestScaleToN/scale-50` works fine for me.  Bear in mind it's a regular expression, so `10` and `100` both match `.../scale-10` so you need a trailing `$`.

IIUC part of the plan for different environments is different build tags `// +build foo`, which would necessarily be different tests.

[2019-01-24 15:32] Justin2997 commented on #2978
@tcnghia I follow the contributor guide, but I do not meet all the requirement for now : https://github.com/kubernetes/community/blob/master/community-membership.md#requirements I will still work on this PR the best I can.

[2019-01-24 15:45] vvraskin opened #2988 "Requests are failing with 503s when scale from 0 to N"
## Expected Behavior
When there are no running pods and a burst of say 1K requests comes in - all requests respond with 200.
## Actual Behavior
A big portion of the requests responds with 503

## Steps to Reproduce the Problem

1. Deploy Knative with istio-sidecar proxy
2. Deploy a hello-world service
3. Wait until there are no pods running
4. Start 1K concurrent requests against the service
5. Ob

[2019-01-24 16:13] mgencur commented on #2987
Thanks, I'm still struggling with my use case though: I'd like to run all tests including scale-10 but except scale-50.

[2019-01-24 16:40] tcnghia commented on #2978
/cc @n3wscott

[2019-01-24 16:57] vaikas-google commented on #2985
sorry about formatting Yikes!

[2019-01-24 16:58] mattmoor commented on #2985
Oops, I was changing my random use of domains to be consistent and updated one I shouldn't.  I'll fix that now.

[2019-01-24 17:05] jsanda commented on #2949
@k4leung4 I am not familiar enough with the code base to say with confidence whether or not this is a one person task. I already started making changes in activator.go and in kpa_scaler.go. So far the changes do not seem very involved. I can try to push my work to a branch today. I have not looked too closely at the tests yet, but I suspect there will be a bit of work updating them. With all that

[2019-01-24 17:16] mattmoor commented on #2985
So one thread worth exploring, which @rgregg brought up is potentially just exposing all of the matching domains, at which point I think this becomes a cosmetic "which one goes in status?" question.

I think it's be helpful to work through in terms of a real example, so these applies in-order:
[code]

[code]

[code]

Is that right?  In an all day meeting, but will think on this.

[2019-01-24 17:41] vagababov commented on #2977
I guess, if we scrape and compute moving average (or alike) over sufficiently wide window, then even with sampling it should work, I guess?

[2019-01-24 17:59] ZhiminXiang commented on #539
@akauppi This issue is not solved yet. The fix of this issue will be included in Istio 1.1.

[2019-01-24 19:25] cppforlife commented on #2985
- any thoughts where TLS configuration would go, separate CRD or on DomainMapping CRD, etc.?

- im a bit concerned that cluster level CRDs take us farther from having multiple Knatives on a single cluster
  - potential solution: instead of cluster level CRDs we would nominate *one* namespace as "ultimate domain authority namespace" (either where knative is installed eg knative-serving by default,

[2019-01-24 19:54] vagababov commented on #2987
So `-test.run="scale-10"` flag to the go test should work just fine.
Alternatively, we can have a flag and pass it through to the binary for
arbitrary (defaulting to say 100).

On Thu, Jan 24, 2019 at 8:13 AM Martin Gencur <notifications@github.com>
wrote:

[2019-01-24 19:55] cdrage opened #2991 "x509 certificate errors when pulling image / deploying the example application"
<!--

/kind bug

## Expected Behavior

Successfully deploying the Go example application

## Actual Behavior

Unable to deploy the pod / x509 cert errors.

[code]

## Steps to Reproduce the Problem

1. Use the example application here: https://github.com/knative/docs/blob/master/install/getting-started-knative-app.md#configuring-your-deployment
2. kubectl get ksvc/helloworld-go

## Additional Info

[2019-01-24 19:55] cdrage commented on #2991
Not too sure if I was suppose to post this here or https://github.com/knative/docs

[2019-01-24 20:58] cdrage commented on #2598
I'm getting the exact same issue with the PHP example,

any pointers?

[code]

[2019-01-24 21:04] sixolet commented on #2985
Weirdly, `_` isn't allowed in k8s names, though `-` is, according to [K8s name api restrictions](https://kubernetes.io/docs/concepts/overview/working-with-objects/names/)

[2019-01-24 21:04] whaught commented on #2985
I'm not aware that '_' is a valid in a k8s name?

https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names

[2019-01-24 21:48] dgerd commented on #2974
/assign @dgerd

[2019-01-24 22:08] evankanderson commented on #2985
I think I'm -1 on this proposal -- it seems like it introduces a number of edge cases and complex logic in order to simplify "I want to serve a domain from a Service".

Mapping domain names (and URL paths on those domain names?) seems like a job for an API Gateway. [Istio](https://istio.io/docs/reference/config/istio.networking.v1alpha3/#HTTPRewrite), [Kong](https://docs.konghq.com/hub/kong-inc/re

[2019-01-24 23:07] sixolet commented on #2985
... so what you're saying is that we can have underscores, as long as we don't start or end with them?

[2019-01-25 00:10] evankanderson commented on #2985
qualified names are used for e.g. keys in labels and annotations, as well
as API group names.

I believe object names need to generally match IsDNS1123Subdomain, and
services and namespaces may need to match IsDNS1123Label, though I can't
point you to the apiserver code that enforces this.

On Thu, Jan 24, 2019 at 2:23 PM Matt Moore <notifications@github.com> wrote:

--
Evan Anderson <argent@googl

[2019-01-25 00:17] tcnghia commented on #2988
@vvraskin Does this happen if you send a lower number of requests (like 500)?

[2019-01-25 00:20] tcnghia commented on #2988
I suspect we may be hitting the maximum connection setting here https://istio.io/docs/reference/config/istio.networking.v1alpha3/#ConnectionPoolSettings-HTTPSettings

For activator we may have to increase this value, or probably add a more aggressive HPA to activator so it scales up quickly to avoid hitting the max connections.

[2019-01-25 00:37] yanweiguo opened #2994 "Use actual ready pods instead of observed pods for scaling rate"
## Expected Behavior
The scaling rate should be the ratio of desired pods versus actual ready pods, instead of observed pods. Observed pods includes lameducked pods, which are terminating.

When switching to scraping metrics, we can't get the correct observed pods if we sample. We have to use actual ready pods from K8S API anyway.

## Actual Behavior
The scaling rate is the ratio of desired pods v

[2019-01-25 00:37] yanweiguo commented on #2994
cc @josephburnett @k4leung4 @markusthoemmes

[2019-01-25 05:38] mattmoor commented on #2985
FYI @tcnghia tried `_` out, and it was rejected in this context too.

We could use `-.-.mattmoor.io` given the positional requirements of `-`, or leverage uppercase sentinels like `NAME.NAMESPACE.mattmoor.io`, but that's a bikeshed we can paint later.  I still need to respond to the great comments here, but I'll save that fun for tomorrow ;-)

[2019-01-25 05:40] mattmoor commented on #2985
The error he saw (for posterity):
[code]

[2019-01-25 07:03] markusthoemmes commented on #2987
I think @mgencur's use-case is: I want to run **all** tests, except the scale-50 test.

[2019-01-25 08:40] vvraskin commented on #2988
I was testing with 400 connections - it was fine.

Had a similar idea that we might be hitting the connection limit. But the number of connections never reaches it (we are by default on 1K connections per envoy proxy), and also when the limit is hit - the metric `upstream_cx_overflow` should be emitted  - which doesn't happen.

[2019-01-25 13:01] markusthoemmes commented on #2994
What do we need the scaling rate for in the end? Do we need it only for rate-limiting?

[2019-01-25 14:27] markusthoemmes opened #2998 "Installing the cluster to upgrade is flaky."
I saw this at least 3 times in the last 3 days:

[code]

We know this is an issue and we chose to not fix it until we finally ditch the knative-ingressgateway altogether I think? Should we retry when this occurs?

[2019-01-25 14:50] vvraskin opened #3000 "Add e2e service throughput test"
## Expected Behavior
There is an end-to-end verification/guarantee that Serving can handle N parallel requests in scale from 0 scenario.
## Actual Behavior
There is no such verification/guarantee.

## Additional Info
https://github.com/knative/serving/issues/2988 has some background - 503s were returned when the number of concurrent requests was ramped up to 1K.
The test would be useful to make su

[2019-01-25 15:00] vvraskin commented on #2885
Leave this open until https://github.com/knative/pkg/pull/143 lands

[2019-01-25 15:12] cdrage commented on #2598
@tcnghia

[code]

Exact same as my other issue here #2991

[2019-01-25 15:44] Justin2997 opened #3001 "Istio and Serving Job/Deployment running as root"
## Proposal
For security is best practice to remove every Deployment running as root that does not need it. I do not know really if some of the containers that are in root really need it.  We maybe can change de config in `ko` when building knative serving so that docker image do not default to USER 0.

There is the list of the container that runs as root in Knative v0.30 :

**Istio :**
- hyperkub

[2019-01-25 15:55] markusthoemmes commented on #2991
This looks a lot like a general issue in your environment (granted others are not failing). Can you try to access `curl https://gcr.io/v2/` from anywhere in your infrastructure to narrow things down? Is this a Kubernetes cluster from one of the big cloud providers or something "manual"?

[2019-01-25 16:00] cdrage commented on #2991
@markusthoemmes This is bare-metal with kubeadm running on Debian 9.

Curl'ing works perfectly fine on each node:

[code]

[2019-01-25 16:07] markusthoemmes commented on #2991
@cdrage does it also work without the `-k` 🙂 . It's kinda the point that we actually want certificate checks here.

[2019-01-25 16:13] cdrage commented on #2991
Woops. Yup. Same message everywhere:

[code]

Another interesting point is that pulling `gcr.io` images is absolutely fine, the ONLY part of the Kubernetes cluster that cannot pull it is... well... in knative containers.

For example, this is the description of pod "knative-serving/activator", showing that k8s successfully pulls the gcr.io images.

[code]

[2019-01-25 17:20] tcnghia commented on #3001
/cc @mattmoor do we have a larger issue / epic regarding restricting ACLs ?

[2019-01-25 17:21] tcnghia commented on #2991
/cc @jonjohnsonjr

Jon, does this look like an issue specific to images built with `ko`?

[2019-01-25 17:24] jonjohnsonjr commented on #2991
Quite possibly a bug in this PR loading an invalid cert somehow? https://github.com/knative/serving/pull/2481

[2019-01-25 17:39] vagababov commented on #2987
Yeah, golang regex doesn't do negative lookaheads :disappointed: unfortunately. I guess tags would help.

[2019-01-25 18:57] tcnghia opened #3002 "ClusterIngress not properly cleaned up"
## Expected Behavior
ClusterIngress are cleaned up after their owners are removed.

## Actual Behavior
We saw instances of leftover ClusterIngress.  (/cc @mattmoor @bradhoekstra)

## Steps to Reproduce the Problem

1.  Run e2e test, especially the scale test.
2.  Some ClusterIngress are left over.

## Additional Info
This is probably due to OwnerReferences not working well for cluster scoped resou

[2019-01-25 18:58] bradhoekstra commented on #3002
Duplicate of #2570

[2019-01-25 19:00] tcnghia commented on #2570
/label api

[2019-01-25 19:00] tcnghia commented on #3002
Closing since we had #2570

[2019-01-25 19:00] #3002 closed

[2019-01-25 19:18] srinivashegde86 opened #3003 "Observed concurrency Performance fails to parse response"
/area test-and-release

/kind bug

Sampe log:
https://storage.googleapis.com/knative-prow/logs/ci-knative-serving-performance/1088602638884278273/build-log.txt

stack trace:
I0125 01:14:59.740] 2019-01-25T01:14:59.740Z	error	TestObservedConcurrency	performance/observed_concurency_test.go:180	Failed to parse body
I0125 01:14:59.741] github.com/knative/serving/vendor/github.com/knative/pkg/test/logg

[2019-01-25 19:18] srinivashegde86 commented on #3003
/cc @markusthoemmes
/cc @mattmoor

[2019-01-25 19:25] srinivashegde86 opened #3004 "TestScale Performance test is failing"
/area test-and-release
/kind bug

Error:
scale_from_zero_test.go:154: Failed to create Ready service: Internal error occurred: admission webhook "webhook.serving.knative.dev" denied the request: mutation failed: Failed to parse image reference: spec.runLatest.configuration.revisionTemplate.spec.container.image
I0125 01:15:00.072]         image: "gcr.io/knative-boskos-16/kserving-e2e-img/gcr.io/kna

[2019-01-25 19:37] vagababov commented on #3004
Well, "gcr.io/knative-boskos-16/kserving-e2e-img/gcr.io/knative-boskos-16/kserving-e2e-img/helloworld:latest:latest" is obviously a wrong target...

[2019-01-25 19:40] cdrage commented on #2991
@tcnghia What'd be the best way to test that? Deploy `0.2.1` of knative and see what happens?

[2019-01-25 19:52] vagababov commented on #3004
I found the problem, where in the ScaleTest we call ImagePath, but then in crd.go LatestService calls ImagePath again, basically appending `:latest` twice.

[2019-01-25 19:54] vagababov commented on #3004
/assign @vagababov

[2019-01-25 20:02] cdrage commented on #2991
@tcnghia @jonjohnsonjr

After 3 days of trying to fix this error, I found out what it was...

I'll leave you guys with this wonderful picture:

![it was dns](https://i.imgur.com/3pqehzj.jpg)

In the end, DNS was setup incorrectly and it wasn't retrieving the correct ip(s) for gcr.io

[2019-01-25 20:36] mattmoor commented on #3004
Oh, this isn't my scale test 😅

Thanks @vagababov

/unassign

[2019-01-25 22:13] yanweiguo commented on #2994
According to my knowledge to current scaling algorithm, the answer is yes.

[2019-01-25 23:04] tanzeeb opened #3008 "Add conformance tests to validate h2c and http1 support"
Once #2539 is merged, containers will be able to receive HTTP/1.1 or HTTP/2.0 traffic, as per the [runtime contract](https://github.com/knative/serving/blob/master/docs/runtime-contract.md#protocols-and-ports).

We need conformance tests to validate that the protocol selection works.

[Manual Test Plan](https://github.com/knative/serving/pull/2539#issuecomment-459148556)

Note: In addition to send

[2019-01-25 23:36] tanzeeb opened #3010 "Add e2e tests to validate gRPC support"
Once #2539 is merged, we will have support for gRPC services. There are some non-obvious changes necessary to support gRPC requests over HTTP/2.

We need e2e tests for both unary and streaming gRPC requests to ensure future compatibility.

[Manual Test Plan](https://github.com/knative/serving/pull/2539#issuecomment-459148556)

Tip: https://github.com/evankanderson/sia by @evankanderson is a good r

[2019-01-26 00:04] mdscruggs opened #3012 "Metric scraping prevents scaling to zero"
## Expected Behavior

Deploying a service with minscale 0 and custom Prometheus metrics (at a /metrics endpoint) should scale to 0 if the only requests coming in are on /metrics.

## Actual Behavior

Said service does not scale to 0, and runs forever, presumably due to Prometheus metric scraping.

## Steps to Reproduce the Problem

1. Deploy a service with /metrics. Configure it to get scraped by

[2019-01-26 00:11] #3004 closed

[2019-01-26 00:15] tcnghia commented on #3012
/cc @k4leung4 @yanweiguo

[2019-01-26 00:33] tcnghia commented on #2998
Retry won't help since the port is already taken.  One thing we can do there is to ignore the failure, but I am not sure if it's very straight-forward (`kubectl apply` may ignore everything after that first failure).

I am removing this from HEAD so it will eliminate the failure in integration test (PRs pending).  In upgrade test we won't see the problem when install Knative HEAD.

If that brings

[2019-01-26 00:44] mdscruggs commented on #3012
Correct @yanweiguo

[2019-01-26 00:51] yanweiguo commented on #2994
The formulas to calculate the desired pods are
[code]
Let `scaling_rate = observed_concurrency_per_pod / target_concurrency_per_pod`, then
[code]
Set a limitation for scaling rate, then
[code]
where `observed_concurrency_per_pod` and `observed_pods` are from stats data, `target_concurrency_per_pod` and `max_scaling_rate` are from configuration.

However, the rate limiting should apply to actual cu

[2019-01-26 07:59] mgencur commented on #2987
My impression was that tags will tag all tests in a given file so it's not possible to exclude on of the tests in that file this way. Would it make sense to introduce the `-short` flag and with that flag run *all* e2e including scale-10 but excluding any scale test bigger than that? I.e. excluding scale-50 right now.
Maybe you have an opinion about tests that should fall into this `short` group? T

[2019-01-26 17:04] mattmoor commented on #2985
A fixed cert simply doesn't work for `_._.mattmoor.io` (or equiv), so at best it'd be selecting how a controller might do this behind the scenes.  I see this CRD as pure-data (sharded configuration) where the extent of processing / status is a stateful global validation.

The intent of this is to be data, so if we expect the configuration data itself to be partition-able, then yes.

My concern wit

[2019-01-27 16:54] markusthoemmes opened #3015 "pkg/activator.TestActiveEndpoint_Reserve_WaitsForReady is flaky."
As per title.

- https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1089463560603439104
- https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1089191770438242304
- https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1088980378057707520

[2019-01-27 20:09] vagababov commented on #3015
I tried to reproduce locally, but never happened (-count=100 all passed). I think it might the timeouts we're using there are too small (or we should switch to event driven approach, which is what I'd prefer). I can start with bigger timeouts to see if that helps.

[2019-01-27 20:30] vagababov commented on #3015
ooh, now I see. -count=X is meaningless here, since the data is persisted and process doesn't change.
We probably need to make our tests clean up after they run and finish.

[2019-01-27 20:52] vagababov commented on #3015
Ok, so when I run it as
`for i in {1..100}; go test .. -count=1...` I get failures randomly.
It seems that watch channel never replies.
Also we have difference between Watch timeout (60s) and test timeout (3s).
Though watch timeout is labeled `test only`.

[2019-01-27 21:56] vagababov commented on #3015
/me rambling
The test is quite poorly written.
Basically there are following paths:
1. The revision is already activated by the Update call when we read it and the test succeeds
2. The revision is not yet ready, but about to be written. So we read it, see it is not ready, start a watch. But the even is written before the watch starts, so never fires and the test times out.
3. 2, but watch actually

[2019-01-28 15:16] mattmoor commented on #2678
I added some logic in the revision controller to log when we see Revisions with a `DeletionTimestamp`, and running `N=100` a bunch, I'm not seeing my log statement.  The only other thing that comes to mind would be adding a delay to the queuing of Deployment deletion events using [this](https://godoc.org/k8s.io/client-go/util/workqueue#DelayingInterface).

[2019-01-28 16:36] mattmoor commented on #2954
/assign

[2019-01-28 17:11] mattmoor commented on #3001
We don't ship Istio, so that's between you and them.

For Knative, we can change this in the Deployments themselves trivially, I think.  Worth a try.

`ko` doesn't allow configuring this, but it should respect whatever the base image has configured.

[2019-01-28 17:30] #2954 closed

[2019-01-28 18:11] mattmoor commented on #2961
/milestone 0.4

[2019-01-28 18:15] mattmoor commented on #3008
I'd like to see tests for this before we call the functionality done.  Are you willing to take this on once #2539 lands?

[2019-01-28 18:15] mattmoor commented on #3010
I'd like to see tests for this before we call the functionality done.  Are you willing to take this on once #2539 lands?

[2019-01-28 18:16] mattmoor commented on #3008
/milestone "Serving 0.4"

[2019-01-28 18:17] mattmoor commented on #3010
/milestone "Serving 0.4"

[2019-01-28 18:17] mattmoor commented on #3008
/milestone Serving 0.4

[2019-01-28 18:17] mattmoor commented on #3010
/milestone Serving 0.4

[2019-01-28 18:21] mattmoor commented on #3003
/milestone Serving 0.4

[2019-01-28 18:40] josephburnett commented on #2720
Good that it's in milestone 0.4.

There are two issues here:

**Issue 1**: The revision should *definitely* be garbage collected normally, whether it has running pods or not.  This is a bug outright and should be fixed as part of this issue.

**Issue 2**: Should `minScale` not apply when a revision is not routable?  I don't think so.  Consider this scenario: what if you have an application that ne

[2019-01-28 18:46] srinivashegde86 commented on #1981
this is done and the results can be seen on testgrid

[2019-01-28 18:46] #1981 closed

[2019-01-28 18:47] srinivashegde86 commented on #1277
/unassign

[2019-01-28 18:47] srinivashegde86 commented on #1277
I havent looked into this yet.

[2019-01-28 19:08] mattmoor commented on #2998
@tcnghia Is there a Knative-specific issue here?  If not, let's pug this in the ice box.

[2019-01-28 19:10] mattmoor commented on #2988
Modulo the number of requests in the burst, this should be in scope for "Serving v1".

I think what's important for "v1" is knowing what our limit is, and documenting it.

We will continue to push this number up for the indefinite future :)

[2019-01-28 19:12] mattmoor commented on #2978
We need a story for how we do things like this in v1.  What the details look like need to be fleshed out.

[2019-01-28 19:13] josephburnett commented on #2930
@lvjing2 exactly.

My proposal above *should* satisfy these two requirements.  What do you think?

Only one Autoscaler will be handling each Revision (by winning the race to write its name on the PodAutoscaler).  When new Autoscalers are added, this doesn't disrupt the set of Revisions the previous Autoscalers are responsible for.  They will be less inclined to grab more because they will be close

[2019-01-28 19:18] josephburnett commented on #2929
Agree.

They will.  Maybe you missed this last sentence under the diagram:

[2019-01-28 19:18] mattmoor commented on #2929
_(doing some triage with @mdemirhan )_
Putting out of scope for "v1" with the guidance that we can chase this, but GAing this "feature" is separate (and perhaps beyond) GAing the core part of serving.

[2019-01-28 19:22] mattmoor commented on #2861
/close

[2019-01-28 19:22] #2861 closed

[2019-01-28 19:23] josephburnett commented on #2929
We need to back-propagate the VPA recommendations to the Deployment at lower rate than the recommendations are updated.  Just when it will be likely that the VPA webhook will fail / elect-not-to update Pods.  That is, after scale-to-zero.

[2019-01-28 19:43] josephburnett commented on #2994
Yes.  Just a safety heuristic.

This was previously accounted for by degrading the contribution of lameducked pods.  Is this no longer the case?

I believe we also want this change for your scraping work, because we will never know the correct number of existing, ready pods by scraping if we sample.  If so, that would be worth adding to the description.

[2019-01-28 19:46] mattmoor commented on #2942
/kind good-first-issue

[2019-01-28 19:48] Justin2997 commented on #3001
@mattmoor where can I find out about the Deployment process if I want to do a PR ? Thanks !

[2019-01-28 21:04] yanweiguo commented on #2994
Yes. Updated the description.

[2019-01-28 22:44] k4leung4 commented on #1927
/unassign

/assign @yanweiguo

[2019-01-29 00:01] mattmoor commented on #2942
/assign

[2019-01-29 00:29] srinivashegde86 opened #3020 "Performance tests nightly run is failing due to timeout"
/area test-and-release

/kind bug

Error log:
I0128 01:15:52.507] panic: test timed out after 5m0s

Sample log:
https://storage.googleapis.com/knative-prow/logs/ci-knative-serving-performance/1089689801877098497/build-log.txt

[2019-01-29 00:30] srinivashegde86 commented on #3020
We have a default timout of 5m and the test is failing at that time  https://github.com/knative/serving/blob/master/test/performance-tests.sh#L44

[2019-01-29 00:32] mattmoor commented on #2678
I'd initially thought this was us doing something obviously wrong, but given that `DeletionTimestamp` is unset when this happens this seems cosmetic and somewhat tough to fix.  Moving out of v1.

[2019-01-29 01:02] greghaynes commented on #2720
@nicolaferraro Sorry it took a bit, but I just attempted to reproduce the issue where your revision 1 was not getting GC'd after 24h and was unable to. A couple shots in the dark:
- Are you sure there are no other routes which refer to revision-00001 of your service?
- Do you know what version of knative you were using? GC has been around since 0.2.1.

If you are able to run from source heres how

[2019-01-29 01:09] #2876 closed

[2019-01-29 02:10] #2988 closed

[2019-01-29 02:10] srinivashegde86 opened #3021 "Performance test ScaleFrom050 is failing"
/area test-and-release
/kind bug

Error:
I0129 00:58:04.709] --- FAIL: TestScaleFromZero50 (222.65s)
I0129 00:58:04.709]     scale_from_zero_test.go:156: Failed waiting for deployment to scale to zero: timed out waiting for the condition

Build log:
https://storage.googleapis.com/knative-prow/pr-logs/pull/knative_serving/3017/pull-knative-serving-perf-tests/1090046025596407808/build-log.txt

[2019-01-29 02:10] srinivashegde86 commented on #3021
/cc @srinivashegde86
/assign @greghaynes

[2019-01-29 02:13] srinivashegde86 commented on #3021
#3017 skips this test to get the suite passing and can be removed once it starts passing.

This can be tested in PR by adding `/test pull-knative-serving-perf-tests`

[2019-01-29 03:57] mattmoor commented on #2570
We could handle this via a finalizer on Route, anything less feels like it would need a separate controller that's tantamount to implementing what we're expecting from K8s' GC today.

I think the flow would go something like:
1. Create the ClusterIngress
2. If the ClusterIngress exists, then add the Finalizer to our Route's metadata list.
3. When a Route has been marked for deletion with our Final

[2019-01-29 04:55] mattmoor opened #3025 "Improve error messages on missing Patch"
The error messages for missed `Patch` operations leave a lot to be desired.  We should display the stringified bytes, not their raw form:
[code]

[2019-01-29 05:44] #3015 closed

[2019-01-29 07:04] #2605 closed

[2019-01-29 13:20] jsanda commented on #2949
[WIP branch](https://github.com/jsanda/serving/tree/deactivation-handoff)

[2019-01-29 15:04] mattmoor commented on #2668
This is useful info: https://kubernetes.io/docs/concepts/overview/object-management-kubectl/declarative-config/#how-apply-calculates-differences-and-merges-changes

[2019-01-29 15:43] zanven42 commented on #2720
hi @greghaynes i am pretty new to kubernetes and knative, running on a small 4 node cluster and setup my first service in a ci/cd pipeline and quickly noticed my resources disappear as i slammed revisions out. This thread has been amazing to workout what is causing it and the solution. Would be great to have this highlighted more in documentation if it was possible, potentially in a FAQ. Might hel

[2019-01-29 16:07] #2659 closed

[2019-01-29 16:23] krancour opened #3026 "Requests don't make it through the activator on AKS"
## Expected Behavior

Requests that are served by the activator eventually receive the same response as if they'd been served directly by the target application.

## Actual Behavior

On AKS, requests that are served by the activator timeout without ever receiving a response.

## Steps to Reproduce the Problem

1. Follow [Knative Install on Azure Kubernetes Service (AKS)](https://github.com/knative

[2019-01-29 16:46] vagababov commented on #2720
There's also this configuration item "StaleRevisionMinimumGenerations", which it keeps N revisions even if they are stale. Perhaps it's set > 0?

[2019-01-29 17:05] carusology commented on #2720
@greghaynes

Ah, nice catch. I was running v0.2.0 in the instance where it never got cleaned up (or at least, not after 2+ weeks). I'm glad to know that upgrading to v0.2.1+ will at least set a 24h cap on the old revision finally scaling back to 0.

[2019-01-29 17:36] cdrage opened #3027 "MetalLB does not work with Knative (although it works with Istio)"
/area build
/area networking
/kind bug

## Expected Behavior

Expect to be able to deploy knative correctly.

## Actual Behavior

Unable to deploy knative (timeout errors);

[code]

## Steps to Reproduce the Problem

1. Deploy MetalLB
2. Deploy Istio
3. When you deploy Knative, the timeouts occur.

## Additional Info

I've got to add more information to this issue (I've got a flight to catch!), so

[2019-01-29 17:45] vaikas-google commented on #2570
do you have pointer to the PoC?

[2019-01-29 17:46] #2942 closed

[2019-01-29 19:05] k4leung4 commented on #2206
/assign @k4leung4

[2019-01-29 19:34] vagababov commented on #2819
/assign

Will follow the naming suggested here.

[2019-01-29 19:39] tcnghia commented on #1767
This depends on Istio 1.1 so I'd like to push to 0.5

[2019-01-29 21:12] mattmoor commented on #2570
Not pushed.  We talked offline, and found my problem.  Basically the problem is that our controllers don't deal well with finalizers in general.  My change made Route deal with this, but the reason things aren't going away is that the ClusterIngress conroller is racing to recreate resources as the Kubernetes resource is GCing them.

Will keep experimenting after I get out of meetings.

[2019-01-29 21:38] Justin2997 commented on #3001
UPDATE: I test for Istio and all the container need write access.

[2019-01-29 22:24] mattmoor commented on #2570
Success! Now to fix all the unit tests it breaks 🙄

[2019-01-29 22:58] vagababov commented on #2819
So "@x" is not a valid YAML token, unless quoted.

[2019-01-29 23:55] vagababov opened #3034 "WebHook does no validation of the `revision` values"
## Expected Behavior
you put junk into `revisions` list your request is rejected.

## Actual Behavior
anything is accepted.

## Steps to Reproduce the Problem

1. carve a release more service
2. set revisions to whatever you want
3. apply and get the service accepted.

## Additional Info
We should verify at least that the revision strings match k8s resource name format (insofar

[2019-01-29 23:55] vagababov commented on #3034
/milestone Serving 0.4

[2019-01-30 00:54] mattmoor commented on #2570
/assign

[2019-01-30 06:12] #2507 closed

[2019-01-30 14:18] cdrage commented on #3027
@iamShantanu101 Do you deploy this bare-metal / what VM's / are you on the cloud?

[2019-01-30 16:27] mattmoor commented on #2819
What if we just assert that `"latest"` is an invalid Revision name and use that?

[2019-01-30 16:53] tcnghia commented on #3027
@cdrage I am not familiar with installing Knative from a Makefile.  Can you please let me know which installation instructions you are using?  Which command writes these log lines

[code]

From these logs I assume some process is taking longer than 90 seconds.  Can you check for logs to see if we can identify which step this is?

[2019-01-30 17:24] iamShantanu101 commented on #3027
@cdrage It is bare metal. And I agree with @tcnghia regarding installing Knative via Makefile. I followed this guide - https://github.com/knative/docs/blob/master/install/Knative-with-any-k8s.md and it worked without any issues.

[2019-01-30 18:18] vagababov commented on #2819
`latest` feels like a very generic keyword.  `latest-revision`, perhaps/

[2019-01-30 18:23] cdrage commented on #3027
@tcnghia Oh woops. The Makefile is just for shortcuts for myself.

The actual instructions are below:

Installing MetalLB:
[code]

Istio:
[code]

Knative:
[code]

Which is the exact same as the instructions here: https://github.com/knative/docs/blob/master/install/Knative-with-any-k8s.md

The error that I get when I try to deploy knative (after MetalLB as well as Istio) is the following:

[code]

[2019-01-30 21:22] #2678 closed

[2019-01-30 22:00] mattmoor commented on #2668
So there are a handful of places we configure sidecars this way (not really knobs we expect folks turning) so these are good examples that we expect to fall into this last category.

[2019-01-30 23:58] #706 closed

[2019-01-30 23:58] #813 closed

[2019-01-31 00:01] tanzeeb commented on #3008
/assign

Assigning to myself, but if anyone else wants to give it a shot, please let me know.

[2019-01-31 00:01] tanzeeb commented on #3010
/assign

Assigning to myself, but if anyone else wants to give it a shot, please let me know.

[2019-01-31 00:45] tcnghia commented on #2709
/assign

[2019-01-31 00:54] tcnghia commented on #3027
@cdrage when you see these `failed calling webhook "pilot.validation.istio.io"` error, can you please print out the status of pods in `istio-system` namespace (i.e. `kubectl get pods -n istio-system`)?

I suspect that something prevents the Istio webhook pods from starting up.  My guess is resource... can you please confirm?

[2019-01-31 00:55] tcnghia commented on #3026
@krancour does this work using `istio-lean.yaml`?  Thanks

[2019-01-31 00:57] tcnghia commented on #2835
@jponge are you talking about Knative 0.3+?  So this is working for you now?

@dgageot can you please try with 0.3.x?

[2019-01-31 01:03] tcnghia commented on #2648
@kars7e There are many ways to customize the sidecar injector webhook of Istio to fit your use cases.  The version we provided https://github.com/knative/serving/tree/master/third_party/istio-1.0.2 is suitable for a quickstart, but for more advanced usecase of Istio users should be able to bring their own installation.

If you take a look at https://github.com/knative/serving/tree/master/third_par

[2019-01-31 01:05] tcnghia commented on #2598
@lizrice  can you please check if your issue is similar to @cdrage's #2991?  Thanks

[2019-01-31 01:07] vagababov commented on #3034
/assign

[2019-01-31 01:08] tcnghia commented on #1755
@sbezverk I believe you merged a PR that fixes this issue?

[2019-01-31 01:09] tcnghia commented on #1952
@enhendrickson hi, were you able to try out the fixes for  https://github.com/docker/for-mac/issues/2717  that I linked in the previous comment?

[2019-01-31 01:11] tcnghia commented on #2216
@blues-man Since we now released 0.3.0 and on our way to 0.4.x, can you please try out the latest bits to see if the problem still persits?

[2019-01-31 01:53] krancour commented on #3026
@tcnghia, not sure. Wasn't obvious to me that this was Istio related, so I didn't think to try that, but I'll give it a shot.

[2019-01-31 02:03] sbezverk commented on #1755
@tcnghia yep, that is correct

[2019-01-31 03:36] #1755 closed

[2019-01-31 03:36] tcnghia commented on #1755
@sbezverk thanks

[2019-01-31 04:42] mattmoor commented on #2668
Apparently for this to work, we have to be sure to exclude the `data: null` portion of the `ConfigMap` as well or `kubectl apply` will remove existing 🙄

[2019-01-31 05:42] mattmoor commented on #2668
/assign

[2019-01-31 05:47] mattmoor commented on #1642
@vagababov Are you going to try to tackle this?

[2019-01-31 06:00] mattmoor commented on #3025
I think I lumped this into one of my changes that landed today.

[2019-01-31 06:00] #3025 closed

[2019-01-31 06:03] vagababov commented on #1642
Let's talk tomorrow, I am not totally clear what has been agreed upon above.
From my cursory understanding we just set annotation in webhook with best-effort information provided by the k8s itself?

[2019-01-31 13:09] vvraskin commented on #1846
@josephburnett As discussed in the WG meeting, here are some recent measurements.

I've been running a similar test using [hey](https://github.com/rakyll/hey), played around with some parameters (container execution time and the number of parallel requests). And I was able to reproduce the problem with the latest master and remediate it with https://github.com/knative/serving/pull/2653. In my test

[2019-01-31 13:16] tcnghia commented on #2835
Docker for Mac is one of the environments that is difficult for us to have integration tests on (probably need to run on Mac server or someone's MacBook?), but testing on multiple K8s providers would be nice.

Currently we only have integration tests running on GKE.  I think Minikube may be another that we could run tests on.

/cc @adrcunha

[2019-01-31 14:43] tcnghia commented on #3027
Thanks @cdrage.  Looks like `istio-galley` is running, so there is something preventing connection to the Istio validation webhook.

My guess is that such connection issue prevents the creation of this Gateway https://github.com/knative/serving/blob/master/config/202-gateway.yaml .

Can you please try downloading that file and `kubectl apply -f 202-gateway.yaml` ?  Thanks

[2019-01-31 14:55] cdrage commented on #3027
@tcnghia Yup. I get a timeout directly with that file:

[code]

Downloading the file (curl) and applying it produces the same error

Thanks for helping me out so far!

[2019-01-31 14:57] vvraskin commented on #2648
Agree with @kars7e , it would be better to explicitly disable istio sidecar injection by default for all namespaces. One potential problem I see is the `kube-system` namespace, if the resources there will be recreated (in case of cluster version upgrade), the sidecar injection will kick off, which could cause the failures depicted above and might potentially break the cluster.
I could test it with

[2019-01-31 14:57] cdrage commented on #3027
And a more verbose output:

[code]

Could it be that MetalLB is blocking these connections?

I've found these issues with Istio + MetalLB issues but no resolution :(

https://github.com/google/metallb/issues/327
and
https://github.com/google/metallb/issues/330

[2019-01-31 17:06] mattmoor opened #3049 "use apimachinery sets"
API Machinery has a set abstraction, and I think we have a handful of places that roll their own or use `map[string]struct{}` directly, which is a bit of an eyesore.  We may have even rolled out own `set` type a few places.

We should clean this up and consistently use the set packages from here instead: https://godoc.org/k8s.io/apimachinery/pkg/util/sets

[2019-01-31 17:39] vagababov commented on #3049
/assign
I'll spend some good evening time to clean this up.

[2019-01-31 18:16] #3034 closed

[2019-01-31 18:22] ZhiminXiang commented on #1964
Here is the [design doc](https://docs.google.com/document/d/1oSYVdR9yhxNkYPoNU5lh4RN2K872U7JUszXsULokLVc/edit#heading=h.nz11v469rb73) about this feature.

I will break this issue into multiple smaller ones for implementation.

[2019-01-31 18:39] ZhiminXiang opened #3050 "Define `Certificate` CRD for Auto TLS"
## Expected Behavior
As part of work in https://github.com/knative/serving/issues/1964, we need to define a internal CRD `Certificate`  to make TLS provision more pluggable.

When a `Certificate` object is created, it is expected that the Certificate Controller requests a SSL certificate according to the information of the `Certificate` object.

## Actual Behavior
No such CRD

## Additional Info
F

[2019-01-31 19:08] ZhiminXiang opened #3051 "Implement the controller for `Certificate` CRD with cert-manager"
## Expected Behavior
As a part of work in https://github.com/knative/serving/issues/1964 and a followup work of https://github.com/knative/serving/issues/3050, we need to implement the controller to request an SSL certificate.

The default implementation is to integrate with [cert-manager](https://github.com/jetstack/cert-manager).

## Additional Info
Note that [LetsEncrypt](https://letsencrypt.or

[2019-01-31 19:21] ZhiminXiang opened #3052 "ClusterIngress controller reconciles ClusterIngressTLS"
## Expected Behavior
As part of work in https://github.com/knative/serving/issues/1964, ClusterIngress Controller needs to reconcile ClusterIngressTLS in order to configure TLS of Istio Gateway.

## Actual Behavior
Currently ClusterIngress Controller does not reconcile ClusterIngressTLS.

## Additional Info
This work may be blocked by Istio 1.1 release as the feature of dynamically loading certifi

[2019-01-31 20:19] tcnghia commented on #3027
That said, I think this may be a MetalLB / Istio bug, so I am going to close the issue.

[2019-01-31 20:19] #3027 closed

[2019-01-31 21:09] csantanapr commented on #2940
Users deploying on a clean cluster are hitting this, I just hit this problem.
Workaround for now is to run the command twice if you see the error `unable to recognize`
[code]
I think we should add a note to the install docs with the workaround in the mean time.
[code]

[2019-01-31 21:40] jonjohnsonjr commented on #1996
This issue touches on a few problems, one of which is that ECR doesn't automagically work with knative. I've written up a description of this problem here: https://github.com/google/go-containerregistry/issues/355

The fix for this would be upstream in kubernetes/kubernetes ideally. I don't use ECR, so it's hard for me to test, but if anyone on AWS is willing to pick this up, I'm happy to provide

[2019-02-01 00:47] yanweiguo opened #3058 "Keep locked scope as short as possible in autoscaler"
## Expected Behavior
`targetMutex` and `statsMutex` should lock scope as short as possible.

## Actual Behavior
`targetMutex` and `statsMutex` lock the whole `Scale` func.

[2019-02-01 00:47] yanweiguo commented on #3058
cc @vagababov

[2019-02-01 06:31] vagababov commented on #1642
/assign

[2019-02-01 18:37] hohaichi commented on #2976
/assign

I'm taking it as my first issue.

[2019-02-01 18:44] dgerd commented on #2976
Welcome to Knative! Let me know if you any questions on getting started on this issue.

The [DEVELOPMENT.md](https://github.com/knative/serving/blob/master/DEVELOPMENT.md) is helpful to get your environment for iterating.

You can see the current tests [here](https://github.com/knative/serving/blob/master/test/conformance/filesystem_perm_test.go) and the types [here](https://github.com/knative/ser

[2019-02-01 19:25] josephburnett opened #3064 "HPA scale-to-zero"
# Proposal

We can scale HPA-class Revisions to zero as well as KPA-class Revisions.  We just need to pay attention to whether the HPA-class Revision is receiving traffic and turn on/off the HPA autoscaler.

## Current Layering

Currently the KPA-class controller is split into a reconciler and a KPAMetrics implementation.  KPAMetrics is an in-memory resource which the reconciler creates, watches a

[2019-02-01 19:54] dgerd commented on #2975
/assign

[2019-02-01 21:30] mattmoor opened #3066 "Persist documentation in ConfigMaps"
With https://github.com/knative/serving/pull/3047 we will hollow out our ConfigMaps, including the sample data, and lots of useful comments.  When users `kubectl edit -nknative-serving config-foo` to configure something, they now get nothing at all.

I think that we should use a pattern like:
[code]

This would enable us to retain all of the useful documentation currently in our `config/config-*.y

[2019-02-01 21:33] dgerd commented on #2975
The /proc/sys filesystem is present and readable from the container with standard permissions on it (-rw-r--r--).

The best way to validate this is actually read-only seems to be looking at the mounts information in /proc/mounts and ensuring that a read-only filesystem is set. Enumerating and validating that each is unwritable does not seem to make sense here.

[2019-02-01 21:43] dgerd commented on #2267
/assign

[2019-02-01 21:56] dgerd commented on #2267
The legacy "X-Forwarded-For" and "X-Forwarded-Proto" headers seem to be set; however, the "Forwarded" header defined by MUST seems to be missing from the request when viewed by the "user-container".

https://github.com/knative/serving/blob/master/docs/runtime-contract.md#headers

Documentation from https://tools.ietf.org/html/rfc7239#page-4 seems to indicate that "Forwarded" is OPTIONAL and typica

[2019-02-01 22:03] Abd4llA opened #3067 "Unable to resolve helloworld-go svc on minikube"
## Expected Behavior
On minikube, after deploying helloworld-go , you should be able to lookup `helloworld-go` and `helloword-go.default.svc.cluster.local` from any pod inside the cluster. So this should succeed
[code]
## Actual Behavior
Deploying the following pod and exec into the pod
[code]
Using dig or nslookup for `helloworld-go` fails

<img width="1440" alt="screen shot 2019-02-02 at 17 54 2

[2019-02-02 15:01] #2668 closed

[2019-02-02 15:37] mattmoor commented on #2720
Skimming the updates in this thread, it looks like folks should be WAI, but that our docs need work.

@greghaynes since your assigned do you want to take a crack at it?

cc @josephburnett as this is also related to `minScale` annotations, and not really a GC problem.

[2019-02-02 15:41] mattmoor commented on #3067
I assume it isn't just a typo: `nslookup hellowrold-go` 😅

[2019-02-02 15:51] mattmoor commented on #3066
I've been playing with this and a hurdle is that `foo: |` isn't roundtripped well and you end up with
`foo: "bar\nbaz\n"` wrapping at 80 chars or so, which is much less readable.

Strangely other yaml test block directives `foo: >-` do seem to result in a `foo: |` 🤔

[2019-02-02 15:53] mattmoor commented on #3066
That's coming out of `ko`, K8s does seem to want to use `|` even for those cases.

[2019-02-02 16:12] mattmoor commented on #3066
Ok, so I debugger the `gopkg.in/yaml.v2` library a bit and this does what we want so long as we don't have trailing whitespace on any lines within the example block.

This should enable us to leave an `_example: |` block in that comes out nicely with the comments when a user `kubectl edit -nknative-serving config-foo`.

We should also be able to parse and validate the resulting example block (incl

[2019-02-02 16:53] Abd4llA commented on #3067
@mattmoor omg NO! The typo was in my poor faking a copy/paste at 1 am skills 😄 I rechecked just to make sure and attached a screenshot!

[2019-02-03 02:16] Abd4llA commented on #3067
seems to be an issue with CoreDNS. minikube `v0.33.1` iso on mac `https://storage.googleapis.com/minikube/iso/minikube-v0.33.1.iso` ships with CoreDNS `1.1.3` and after manually editing the deployment to latest CoreDNS `1.3.1` everything worked.

## Workaround
1. Edit CoreDNS deployment to latest CoreDNS
[code]
2. Change the coredns container image to `image: k8s.gcr.io/coredns:1.3.1`

[2019-02-03 14:44] yuzisun commented on #2720
I am running v0.2.3 and service has `minScale` annotation, but old revision stays more than 2 days and there is no traffic assigning to it.
[code]
[code]

[2019-02-03 16:35] mattmoor opened #3074 "Race in test shutdown leads to flakes."
There is a race in our Hook-based tests where we don't wait for the controller to completely shutdown and cease work before ending the test.  For me locally, the ClusterIngress testing is pretty consistently failing because of this race.

We start some work [here](https://github.com/knative/serving/blob/9faddd878c8bbed628bf8f5d655874eec22733af/pkg/reconciler/v1alpha1/clusteringress/clusteringress_

[2019-02-03 18:26] mattmoor opened #3077 "Revisions should wait for minScale replicas to report ready"
We discussed this in slack the other day, and I'm not sure an issue was opened to track it.

Basically the question was: if a Revision has `minScale: 50` then should we still report Ready when only a single endpoint has come up?

I think the answer was fairly unanimous that it should not be considered Ready.

[2019-02-04 01:31] mattmoor opened #3078 "Pipeline e2e doesn't clean up after itself"
Run the Pipeline e2e twice in a row.  You will see a "task already exists" failure.

cc @vdemeester

[2019-02-04 01:34] mattmoor opened #3079 "Performance testing should provision a larger cluster"
The logs I see have:
[code]

/assign @srinivashegde86

[2019-02-04 03:11] Abd4llA commented on #3067
Root cause found https://github.com/coredns/coredns/issues/2038 which seems to be fixed in CoreDNS v 1.2.0 and earliest healthy MiniKube is for Kubernetes 1.12. https://github.com/kubernetes/kubernetes/commit/989f6667d275c02e7dfebcc781f2360a07eedd15

[2019-02-04 08:12] markusthoemmes opened #3080 "Upgrade to istio 1.0.5 seems to cause heavy flakiness."
See this screenshot from testgrid:

![image](https://user-images.githubusercontent.com/1289147/52196658-f429e780-285c-11e9-8087-64ab732799d7.png)

The commit when the heavy flakiness started again is the upgrade to istio 1.0.5. I'll have a look if I find something obvious and propose a rollback if not.

/cc @tcnghia

[2019-02-04 08:19] markusthoemmes commented on #3080
An initial thought was, that our HPA adjustments to reduce failures somehow no longer apply to istio 1.0.5.

Quite the contrary is the case though. Istio themselves added the very same HPA policies upstream.

[2019-02-04 12:07] markusthoemmes commented on #2850
I feel like we should reopen this, as this is still our heaviest flake 😢

/reopen

[2019-02-04 14:02] markusthoemmes opened #3085 "TestGlobalResyncOnConfigMapUpdate is flaky"
* pkg/reconciler/v1alpha1/revision.TestGlobalResyncOnConfigMapUpdate/Disable_Fluentd
* pkg/reconciler/v1alpha1/revision.TestGlobalResyncOnConfigMapUpdate/Update_Fluentd_Image
* pkg/reconciler/v1alpha1/revision.TestGlobalResyncOnConfigMapUpdate/Update_QueueProxy_Image

Are flaking heavily again.

A few examples:

- https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous

[2019-02-04 15:10] mattmoor commented on #2850
Yeah, I was playing with this yesterday, thanks for reopening.

I resized my cluster to match what we use in e2e and ran e2e repeatedly without reproducing this yet.

I'm going to take a closer look at our commit history because it flared up after some of my recent changes (which reset the test history):

![image](https://user-images.githubusercontent.com/2442466/52216753-d607bb80-284b-11e9-883c-8

[2019-02-04 15:21] bradhoekstra opened #3086 "Move options from deploy_test to functional"
https://github.com/knative/serving/pull/3062#discussion_r253404331

_Originally posted by @markusthoemmes in https://github.com/knative/serving/pull/3062_

[2019-02-04 15:22] bradhoekstra commented on #3086
/assign @bradhoekstra

[2019-02-04 15:36] mattmoor commented on #2850
Kinda looks like Istio 1.0.5.

The wall of red flared up at ~4am on 2019/01/31 and 1.0.5 went in just before midnight.

I was discussing one failure with @tcnghia yesterday, where I happened to catch a super weird 5-6 minute delay on a Pod becoming ready, which would explain the "timed out waiting for N to become ready" failures.  This wasn't on `TestScaleToN/scale-50`, but I think the fact that t

[2019-02-04 15:40] mattmoor commented on #3080
See https://github.com/knative/serving/issues/2850#issuecomment-460293783 for one issue I noticed yesterday and was chatting with @tcnghia about.

[2019-02-04 17:04] mattmoor opened #3088 "HPA controller coverage too low"
It's 63% which fails any PR that touches it.

[2019-02-04 17:05] mattmoor opened #3089 "ClusterIngress controller needs better coverage"
clusteringress.go is 78% < 80% so it fails PRs that touch it.

cc @tcnghia @lichuqiang

[2019-02-04 17:10] mattmoor opened #3090 "Consider allowing "projected" volumes"
This came up in https://github.com/knative/serving/pull/3061 as another potential volume type to support.

More information [here](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#projectedvolumesource-v1-core) and [here](https://kubernetes.io/docs/tasks/configure-pod-container/configure-projected-volume-storage/).

It allows you to create a single combines volume from elements

[2019-02-04 18:10] #3080 closed

[2019-02-04 19:48] hpandeycodeit commented on #3090
@mattmoor I would like to work on this. Any pointers to start with?

[2019-02-04 21:49] vagababov commented on #3049
As part of https://github.com/knative/serving/issues/3049

[2019-02-05 00:40] #3066 closed

[2019-02-05 10:33] duglin opened #3096 "Move "build" into "revision" ?"
Right now Builds are placed into the Configuration, which means each revision/image is derived from that build definition. What if the next revision of the code requires a tweak to the build processes? What if that tweak needs to be associated with a change in how the image/container is run?

Has the idea of putting the build definition into the revision been discussed? It seems to me that any kin

[2019-02-05 10:45] markusthoemmes commented on #3096
In which way does the `build` field impact all revisions today? Just like the `revisionTemplate` the `build` field might change over time and a revision is stamped out with the current state of the `build` field + the current state of the `revisionTemplate` field.

However, the `revisionTemplate` can contain a `buildRef` to reference a specific build and prevent rebuilding.

Could you elaborate fu

[2019-02-05 11:33] duglin commented on #3096
Ah, I somehow missed the "buildRef" in the `revision.spec`- thanks for pointing me to that. I also didn't notice it in the RevisionTemplate, I was focused on the build definition being outside of the RevisionTemplate so my mind jumped to it being configuration-wide and not being versioned along side of the Revision.

I do wonder though if that's a bit confusing. If it's meant to be versioned the s

[2019-02-05 12:44] white-cloud commented on #107
Hello @josephburnett  please how did you setup the HPA autoscaling for example if i want to autoscale my function using minmemory 128 maxmemory 250  mincpu, maxcpu  and a target of 50% ??

Thank you

[2019-02-05 12:57] evankanderson commented on #2260
Looks like this might be resolved by #3061

[2019-02-05 15:35] sbezverk opened #3097 "Add test coverage for non-default cluster domain name"
## Expected Behavior

Serving should be tested with default and non-default domain name.

## Actual Behavior

Currently CI only tests serving  in a  k8s cluster with default domain name `cluster.local`. The testing should be extended to test serving with a non-default domain name example `test.com`.

[2019-02-05 17:09] tcnghia commented on #3089
/assign

[2019-02-05 22:14] dgerd commented on #2974
Fixed by #3065

[2019-02-05 22:14] #2974 closed

[2019-02-05 22:53] #1504 closed

[2019-02-05 22:53] #2260 closed

[2019-02-05 22:58] mattmoor commented on #2850
Going to kick this over to @tcnghia

The last several runs that failed had 1-2 request failures overall.

/assign @tcnghia
/unassign

[2019-02-06 02:34] mattmoor commented on #2720
@yuzisun that looks right to me.

`iaas-00001` won't go away until 24h after it's been removed from that block (it looks like it is being put there by a `release` mode Service)

[2019-02-06 05:01] jsanda commented on #2857
/assign I'd like to work on this.

[2019-02-06 07:06] markusthoemmes commented on #3077
Not getting to this in a short'ish timeframe. Unassigning for now, might come back later if nobody took it in the meantime

/unassign

[2019-02-06 14:43] jsanda commented on #2949
/status in-progress

The probe requests (in [my branch](https://github.com/jsanda/serving/tree/deactivation-handoff)) never reach the activator. @markusthoemmes was helping me debug and found that I need to be hitting the route. Since it is not necessarily a 1:1 mapping between route and revision it is unclear to me how to do this.

@mattmoor can you chime in?

[2019-02-06 15:46] blues-man commented on #2216
Hello @tcnghia, sure, I will test on OpenShift 3.11 k8s 1.11 with latest Knative

[2019-02-06 15:48] wtam2018 opened #3108 "Running kubectl apply istio partially succeeds the first tiime."
## Expected Behavior
Refer to https://github.com/knative/docs/blob/master/install/Knative-with-Minikube.md instruction to install knative.   Executing kubectl apply to install istio should success without error.
[code]
## Actual Behavior

The `kubectl apply` only partial succeeded.   The following errors are observed.  Running the 'kubectl apply` command again can work around the issue.
[code]
##

[2019-02-06 15:58] mattmoor commented on #2949
Chatted with @markusthoemmes offline, I think he's going to summarize that, but `tl;dr` we need revision managed activation for this to WAI, which makes me sad.  cc @imikushin

[2019-02-06 16:01] tanzeeb opened #3109 "Replace `LimitReadCloser` in Activator with `http.MaxBytesReader`"
The activator uses a custom `LimitReadCloser` (wrapped around a `io.LimitReader`) to [enforce max content length of a request body](https://github.com/knative/serving/blob/master/pkg/activator/handler/enforce_length_handler.go). The `net/http` package already has it's own implementation for exactly this purpose: [`MaxBytesReader`](https://golang.org/pkg/net/http/#MaxBytesReader).

We should, at mi

[2019-02-06 16:11] markusthoemmes commented on #2949
So the issue @jsanda and I encountered basically is this:

The entity we update to either point to a deployment or to the activator today is the ClusterIngress and thus part of the route mechanism. Routes to Revisions are n:m basically so there's no way for us to know which route to probe. On top of that, even if we found a route to probe there would be many routes, each with their own lifecycle.

[2019-02-06 16:51] markusthoemmes commented on #3108
We have a seperate `istio-crds.yaml` to solve this issue I think. Is this a matter of adjusting the documentation to reference that?

[2019-02-06 18:45] tcnghia commented on #2812
@vishvananda @DuncanDoyle  can you please try again with 0.3.0 ?

[2019-02-06 21:26] bbrowning commented on #3108
For now, yes - I believe we just need to adjust the docs.

[2019-02-06 21:28] dgerd opened #3112 ""Forwarded" header not set as specified in runtime contract"
The legacy "X-Forwarded-For" and "X-Forwarded-Proto" headers seem to be set; however, the "Forwarded" header defined by MUST seems to be missing from the request when viewed by the "user-container".

https://github.com/knative/serving/blob/master/docs/runtime-contract.md#headers

Documentation from https://tools.ietf.org/html/rfc7239#page-4 seems to indicate that "Forwarded" is OPTIONAL and typica

[2019-02-06 22:52] mattmoor commented on #1976
@dgerd Once you feel we have good coverage of the gaps in the Conformance project, let's close this in favor of those?

[2019-02-06 23:57] #2975 closed

[2019-02-07 04:45] #2266 closed

[2019-02-07 04:48] mattmoor commented on #2812
At this point, I think it's unlikely this will get fixed in 0.4 since we don't have a repro.

Rather than moving it out, I'm going to leave this and close it if we don't get a repro soon.

[2019-02-07 04:53] mattmoor commented on #2606
@josephburnett Any updates here?

[2019-02-07 04:54] mattmoor commented on #3008
@tanzeeb <2 weeks left in 0.4, any updates?

[2019-02-07 04:54] mattmoor commented on #3010
@tanzeeb <2 weeks left in 0.4, any updates?

[2019-02-07 05:31] mattmoor commented on #2784
/unassign @tcnghia
/assign

[2019-02-07 05:47] mattmoor commented on #3003
@markusthoemmes not sure why you were assigned this, but are you looking into it?

@srinivashegde86 is this actively failing?

[2019-02-07 06:28] jonjohnsonjr commented on #2266
@berndtj if your issue persists, please reopen this

[2019-02-07 06:47] jonjohnsonjr commented on #2087
Got a prototype of this running, but we need to support pulling schema 1 images, since some of the images referenced by the istio yamls are schema 1 (the quay ones).

[2019-02-07 07:27] markusthoemmes commented on #3003
@mattmoor yes I opened a PR to harden things around this and report better. See #3084. It's not actively failing but the hardening is good nonetheless.

[2019-02-07 18:21] jessiezcc opened #3123 "Serving API working group charter document"
/area API
/kind doc

## Expected Behavior
We should have a wg charter document to describe the overall vision, mission and scope for each wg, and  https://github.com/knative/docs/blob/master/community/WORKING-GROUPS.md should point readers to such doc.

I'm opening an issue for each wg to track this need.

## Actual Behavior
There is no high level intro for each wg on WORKING-GROUPS page.

[2019-02-07 18:23] jessiezcc opened #3125 "Autoscaling working group charter document"
/area autoscale
/kind doc

## Expected Behavior
We should have a wg charter document to describe the overall vision, mission and scope for each wg, and https://github.com/knative/docs/blob/master/community/WORKING-GROUPS.md should point readers to such doc.
I'm opening an issue for each wg to track this need.

## Actual Behavior
There is no high level intro for each wg on WORKING-GROUPS page.

[2019-02-07 18:24] jessiezcc opened #3126 "Networking working group charter document"
/area networking
/kind doc

## Expected Behavior
We should have a wg charter document to describe the overall vision, mission and scope for each wg, and https://github.com/knative/docs/blob/master/community/WORKING-GROUPS.md should point readers to such doc.
I'm opening an issue for each wg to track this need.

## Actual Behavior
There is no high level intro for each wg on WORKING-GROUPS page.

[2019-02-07 18:25] jessiezcc opened #3127 "Monitoring working group charter document"
/area monitoring
/kind doc

## Expected Behavior
We should have a wg charter document to describe the overall vision, mission and scope for each wg, and https://github.com/knative/docs/blob/master/community/WORKING-GROUPS.md should point readers to such doc.

I'm opening an issue for each wg to track this need.

## Actual Behavior
There is no high level intro for each wg on WORKING-GROUPS page.

[2019-02-07 19:09] mattmoor commented on #2773
I believe IKS just launched 1.13.  @duglin @greghaynes Are you aware of any issues with Knative and 1.13?

[2019-02-07 19:10] mdemirhan opened #3128 "Remove default Istio request logs and metrics from serving installation"
We generate twice the number of request logs and metrics with the default installation and that is causing extra load on the system. Instead, we should generate Istio YAML such that it doesn't include any metrics or request log definitions and we just install our own during serving installation.

## NOTE
If we remove default Istio metrics, some of the Istio dashboards will no longer work and those

[2019-02-07 19:11] greghaynes commented on #2773
Interesting, I have been deving using 1.13.2 locally for some time now and havent had any issues.

[2019-02-07 19:18] duglin commented on #2773
me neither, but let me try again on a fresh cluster

[2019-02-07 19:23] mattmoor commented on #3108
cc @RichieEscarez @samodell

This issue seems like it belongs in knative/docs, but I'm not sure if documenting how to install Istio is a feature or a bug :)

[2019-02-07 19:23] #3108 closed

[2019-02-07 19:24] duglin commented on #2773
Yep - just tried my little demo that uses build, serving and eventing on Kube 1.13.2 and it worked just fine.

[2019-02-07 19:25] mattmoor commented on #3067
Awesome, thanks!

[2019-02-07 19:26] duglin commented on #2773
.... in IKS

[2019-02-07 19:26] mattmoor commented on #3026
@krancour Any luck?

[2019-02-07 19:28] mattmoor commented on #2856
This feels like it fits with the class of probing we're doing for positive handoff.

[2019-02-07 19:34] mattmoor commented on #2721
This is covered well by Route, but not Service (today).

Let's consider this as part of the "Service v1" conversation.

[2019-02-07 21:05] dgerd commented on #2970
/assign

[2019-02-07 21:08] dgerd commented on #2970
It looks like the only way to configure hooks in Kubernetes is through the lifecycle section of the container spec. The nature of how these hooks get executed is an implementation detail between kubernetes and the runtime.

See https://kubernetes.io/docs/tasks/configure-pod-container/attach-handler-lifecycle-event/

To validate that operation hooks are not configurable within Knative we will want

[2019-02-07 22:29] dgerd commented on #2971
/assign

[2019-02-07 23:48] josephburnett opened #3132 "HPA on concurrency"
# Proposal

HPA-class PodAutoscalers should be able to scale on concurrency as well as CPU.  This requires exposing the Knative calculated concurrency metric as a K8s custom metric.  And creating a v2beta2 HPA with a pointer to the custom metric.  (v1 HPA does not support custom metrics).

The custom metrics server implementation can vary from provider-to-provider.  But we will probably want to co

[2019-02-07 23:58] josephburnett opened #3134 "HPA on custom metrics"
# Proposal

HPA-class PodAutoscalers should be able to autoscale on any custom metric emitted from the user-container.  For example, if the user serves JVM memory usage on a Promethus endpoint from their application container, they should be able to wire that up to a Kubernetes HPA with custom metrics.

For example, given this Service, Knative would create an HPA which points to the "average.memor

[2019-02-08 00:18] mattmoor commented on #2850
One thought I had today, which I haven't tried yet is installing the monitoring bundle as well.

Previously I'd installed Build, Pipelines, and the test Build controller to try and create resource contention on the 4 node cluster, but I forgot that the test cluster also installs the monitoring bundle.

[2019-02-08 01:05] krancour commented on #3026
@mattmoor, nope. :( Unfortunately, I haven't had time to dig into this yet.

[2019-02-08 01:26] mattmoor commented on #2885
I'm going to move this out of 0.4 due to the state of the PR :(

[2019-02-08 01:28] mattmoor commented on #3003
Awesome thanks

[2019-02-08 01:32] mattmoor commented on #2720
/unassign @greghaynes
/assign @josephburnett
/milestone Serving 0.5

As this isn't a GC bug, but a minScale documentation gap I'm moving to 0.5 and reassigning.

[2019-02-08 01:53] #2756 closed

[2019-02-08 02:09] #2784 closed

[2019-02-08 04:04] greghaynes opened #3137 "MD linting failing for serving due to pre-existing dead links"
We only run markdown linting when markdown files are editing. We also added dead link checking without verifying it would pass on the existing markdown files (which it does not). As a result pr's (such as https://github.com/knative/pkg/pull/143 and https://github.com/knative/serving/issues/2885) fail when they edit markdown files with pre-existing dead links.

[2019-02-08 04:04] #3137 closed

[2019-02-08 07:00] markusthoemmes commented on #2773
@abbi-gaurav could you check the `ReplicaSet` created by the revision to gain some more insights? In my experience, any issues launching pods will be captured there (memo to self: we should propagate that).

[2019-02-08 07:24] markusthoemmes opened #3138 "Add Ping/Pong handling to websocket connections."
## In what area(s)?

/area autoscale
/area networking

## Describe the feature

The activator's websocket connection can be unused for quite a while before new stats are being sent. If the connection breaks down in that time, stats might be lost because currently we wouldn't necessarily detect such a breakdown. [Ping/Pong messages](https://godoc.org/github.com/gorilla/websocket#hdr-Control_Message

[2019-02-08 16:49] #2987 closed

[2019-02-08 17:50] #3003 closed

[2019-02-08 18:52] jamesward commented on #3108
I ran:
[code]
Then:
[code]

And everything came up correctly this time.

[2019-02-08 23:29] #2994 closed

[2019-02-08 23:40] yanweiguo commented on #2930
I think we want to do autoscaling for HPA controller as well after we support scaling to 0 for HPA(#3064). We can also use the idea of this proposal for HPA-class PodAutoscaler.

[2019-02-09 00:15] #3058 closed

[2019-02-09 03:38] adrcunha opened #3150 "Latency metrics contain spurious entries"
## In what area(s)?

/area test-and-release

## What version of Knative?

HEAD

## Expected Behavior

No spurious metrics.

## Actual Behavior

Metrics "/", "/envvars" and "/filepath" are displayed in Testgrid:

![image](https://user-images.githubusercontent.com/35786489/52516030-0eefb980-2bd9-11e9-95d6-898a3ff03ab4.png)

## Steps to Reproduce the Problem

Check the Testgrid tab.

[2019-02-09 03:40] adrcunha commented on #3150
The spurious entries come from:

[code]

[2019-02-09 04:21] adrcunha commented on #3150
Looks like the metric names are the paths fetched by tests like `envvars_test.go` or `filesystem_perm_test.go`.

[2019-02-09 04:38] #3049 closed

[2019-02-09 04:38] adrcunha commented on #3150
Looks like opencensus is the culprit.

* metric is defined: https://github.com/knative/serving/blob/cc62102fe3b4f557638f2186a7837ca2f6ecfd4e/vendor/go.opencensus.io/plugin/ochttp/server.go#L113
* with name being the request path: https://github.com/knative/serving/blob/cc62102fe3b4f557638f2186a7837ca2f6ecfd4e/vendor/go.opencensus.io/plugin/ochttp/server.go#L95 (see https://github.com/knative/servi

[2019-02-09 04:48] adrcunha commented on #3150
Some possible solutions:
* ignore metric names too short during data aggregation
* ignore metric names starting with / during data aggregation (malformed name)
* add a prefix (discarded later) to metric names intended to be aggregated (e.g., `metric:WaitForRouteState`)
* apply some sort of filter to `ExportSpan` (see https://github.com/knative/pkg/blob/b670fe05a9a84f62b7b84b4bcaf18f415a1f200b/test

[2019-02-09 05:35] mattmoor opened #3151 "Activator should be sensitive to Revision concurrency."
## In what area(s)?

/area autoscale

/area networking

## Describe the feature

Today when the activator sees Revisions come up, it basically unloads its buffer of requests on the unsuspecting Pod(s), which moves the requests from the shared activator queue into the per-Pod queue-proxy.  Once these requests are queued by the queue-proxy, they must be services by the selected pod, so flooding almo

[2019-02-09 05:35] mattmoor commented on #3151
cc @k4leung4

[2019-02-09 20:55] mattmoor opened #3152 "Activator should not specify replicas"
## In what area(s)?

/area autoscale

/area networking

## What version of Knative?

HEAD

## Description of issue

By specifying a replica count [here](https://github.com/knative/serving/blob/fc052c80ea275ddc0a9c41959f318710eaa225ca/config/activator.yaml#L23) when the activator is horizontally scaled (for now only manually, but in the future via HPA) a subsequent `kubectl apply` of the yaml will

[2019-02-09 21:22] mattmoor opened #3153 "Autoscaler makes *really* bad decision when exiting "panic" mode"
## In what area(s)?

/area autoscale

## What version of Knative?

HEAD

## Expected Behavior

I would expect the calm(?) autoscaler to better respect the plans laid by the panic autoscaler.

## Actual Behavior

This screenshot paints a grim picture:
![image](https://user-images.githubusercontent.com/2442466/52526343-e95fc000-2c6b-11e9-8fae-6ced446b4419.png)

We're trying to hit 1000 pods, with on

[2019-02-10 00:20] mattmoor opened #3154 "TestTimeToServeLatency doesn't seem to work"
## In what area(s)?

/area test-and-release

## What version of Knative?

HEAD

## Description

The logs for the continuous build are filled with:

`I0209 01:11:48.141] 01:11:48 E http_client.go:660> Read error &{{0xc00060a880}} 35.185.199.132:80 0 : read tcp 10.60.16.186:39160->35.185.199.132:80: i/o timeout`

... as with my local run, but regardless the test completes with a `PASS`.

/assign @sr

[2019-02-10 10:35] vvraskin commented on #3151
@mattmoor If I understood the proposal correctly it seems that the neccessay bits for concurrency throttling are already there, e.g. https://github.com/knative/serving/blob/master/pkg/activator/throttler.go#L103.

And the rate limiting should be enabled by this PR: https://github.com/knative/serving/pull/3139

[2019-02-10 19:24] sebgoa opened #3155 "Configuration should GC Builds"
## In what area(s)?

/area API

 /area build

## Describe the feature

Currently a working Configuration could have an infinite number of builds. Just like Deployments have a `RevisionHistoryLimit` which removes ReplicaSets that go above this limit, it would be nice to have a `BuildHistoryLimit` so that we do not end up with an infinite number of builds for a working configuration.

Maybe we shoul

[2019-02-10 22:56] mattmoor commented on #3151
Perfect, thanks.

[2019-02-11 01:21] srinivashegde86 commented on #3150
I dont think metric name length should decide this. We can explore either ignoring names starting with / and/or adding a prefix.

Adding a prefix seems unnecessary for most metrics and may depend on the test?

[2019-02-11 02:14] #3020 closed

[2019-02-11 02:46] mattmoor commented on #3155
I would probably extend the GC logic that @greghaynes already added for this, if we don't intend to address it in the Build controller itself (cc @ImJasonH).

Here's my $0.02 on the logic...  I don't know why we'd want to keep Builds but GC Revisions, so a simple heuristic would be: Delete any Build not referenced by a Revision.

We already have a Revision generation depth that we keep (and logic

[2019-02-11 03:47] adrcunha commented on #3150
Your suggestions are conflicting.

A prefix tagging metrics is the easiest/quickest solution to this problem.

But actually I was hoping for a more clean solution, like having a separate logger for the metrics, so there's no mix-up. But I lack knowledge right now to say if it's feasible or not.

[2019-02-11 04:22] mattmoor commented on #2819
I believe this is done, so I'm going to close this out.

[2019-02-11 04:22] #2819 closed

[2019-02-11 06:41] markusthoemmes commented on #3151
This is a duplicate of #2381 and as @vvraskin already being worked on.

/close

[2019-02-11 06:41] #3151 closed

[2019-02-11 06:43] #3152 closed

[2019-02-11 08:08] sebgoa commented on #3155
I should explain a bit more what I am after.

Currently we are being hit by https://github.com/knative/build/issues/541 . This happens while we run e2e tests to our knative cluster using `tm` to deploy a service using gitlab scheduled pipelines:
https://gitlab.com/sebgoa/kdemo

Every time we create the service we set an environment variables to be a timestamp. This triggers creation of a new revis

[2019-02-11 09:17] #3088 closed

[2019-02-11 09:46] markusthoemmes commented on #3138
/assign

[2019-02-11 12:37] ravindranathakila commented on #1047
I'm having this problem @hanshengchiu. Did you encounter this **boss**? ;)

<img width="1280" alt="screenshot 2019-02-11 20 36 30" src="https://user-images.githubusercontent.com/1250044/52563561-bd476900-2e3c-11e9-99c4-bbc73347623d.png">

[2019-02-11 16:24] greghaynes commented on #3155
@sebgoa for the e2e test case I am not sure our current GC system would be useful as it runs based on the controller resync period which is 10h.

It would be great to get an idea of what build is planning here as I think it would be a poor UX for users to have multiple systems (and sets of config params) for GC of builds. I looked briefly at the build informer logic and I think we can put a label

[2019-02-11 16:35] mattmoor commented on #2812
I'm going to close this.  We can `/reopen` if a repro materializes.

[2019-02-11 16:35] #2812 closed

[2019-02-11 16:49] vvraskin opened #3165 "Consider the number of activators when throttling the requests"
## In what area(s)?

## Describe the feature
As per discussion in https://github.com/knative/serving/pull/3139.

Once we want to scale out the number of activators we need to make sure each activator is aware of the number of its own of replicas to prevent overflowing the user pods. For example instead of sending `Number of pods * ContainerConcurrency` requests we send `Number of pods * ContainerC

[2019-02-11 16:57] vvraskin opened #3166 "Respond with 429 instead of 503 in case of overflow?"
## In what area(s)?

## Describe the feature
The continuation of the discussion started by Matt as part of https://github.com/knative/serving/pull/3139.

Currently we return 503 in case of overflow from both Activator and user pods. I propose to leave it this way until we have the handling of the overflow of the user pods (the requests are redirected back to the activator).
After this is done we c

[2019-02-11 17:11] markusthoemmes commented on #3166
According to https://en.wikipedia.org/wiki/List_of_HTTP_status_codes 429 is a "Client Error". 503 is a "Server Error".

This was discussed somewhere (@jchesterpivotal had a strong opinion I think back then) which I can't find anymore, unfortunately.

IIRC the reasoning was as follows:

1. 429 is a status code indicating that a user has exceeded her quota (hence "client error").
2. 503 is a status

[2019-02-11 17:12] mattmoor commented on #2674
@tcnghia this is about creating a default `tcpProbe` of the user container.  cc @dgerd (as I think the runtime contract touches on this).

[2019-02-11 17:14] mattmoor commented on #3166
Thanks, that SGTM.  Do the 503s we return have an adequately descriptive string?

[2019-02-11 17:18] mattmoor commented on #2689
FWIW, this works if you configure this in `kubectl edit cm -nknative-serving config-domain`, I know @rgregg uses this all the time.  I suspect that's probably adequate for the vast majority of cases.

@tcnghia Do you know why `example.com.*` doesn't seem to work?

[2019-02-11 17:18] #2689 closed

[2019-02-11 17:22] mattmoor commented on #2636
We route traffic through the activator as part of a two-phased deactivation to ensure that traffic isn't dropped as we scale to zero.  We need better positive hand-off here, and we may start to use it as a shared buffer in cases of overload, but it's a necessary evil of scaling to zero.

I think this has been answered, so cleaning up the backlog.

[2019-02-11 17:22] #2636 closed

[2019-02-11 17:23] tcnghia commented on #2674
This is fixed now in 0.4.0, since queue-proxy health check also probes the user-container.  In addition to that we always configure health check for queue-proxy.

[2019-02-11 17:23] mattmoor commented on #2615
@greghaynes done.

[2019-02-11 17:27] jchesterpivotal commented on #3166
Yes, I think that was me. Returning 429 says nothing about the internal condition of the service, only that the client is considered to be misbehaving. You can hand a 429 to a client even if they are the only client and your cluster is a zillion times overprovisioned, because that's the policy you chose.

In both cases you should give `Retry-After`. For a 429 it's essentially signalling contractua

[2019-02-11 17:28] mattmoor commented on #2621
@evankanderson fixed this.

[2019-02-11 17:28] #2621 closed

[2019-02-11 17:33] mattmoor commented on #1439
@adrcunha any update?

[2019-02-11 17:34] mattmoor commented on #991
We should never delete images.

[2019-02-11 17:34] #991 closed

[2019-02-11 17:36] mattmoor commented on #2617
We have this now, though we can/should continue to improve it.

[2019-02-11 17:36] #2617 closed

[2019-02-11 17:39] mattmoor commented on #100
@evankanderson between the standard Kubernetes documentation and the forthcoming sample for Secrets + volumes, do we still need this?  Does the runtime contract need to document K8s service accounts?

[2019-02-11 17:40] mattmoor commented on #492
I actually think that this is covered by a number of our traffic splitting (and now "release" mode) tests.

[2019-02-11 17:40] #492 closed

[2019-02-11 17:41] mattmoor commented on #598
I'm going to close this.  We have a lot of knobs, and more come up as use cases present themselves.

[2019-02-11 17:42] #598 closed

[2019-02-11 17:43] mattmoor commented on #602
I believe @vvraskin is doing this now?

[2019-02-11 17:44] mattmoor commented on #816
I believe there were talks on this at Kubecon.  Maybe @mchmarny would want to put together a sample for the `knative/docs` repo, but that should be tracked there.

[2019-02-11 17:44] #816 closed

[2019-02-11 17:45] mattmoor commented on #971
We should do this by `v1` or not do it.

[2019-02-11 17:46] srinivashegde86 commented on #3150
Sorry, dont think I understand the problem completely here.

The problem is the metric name starts with `/` and opencensus parsing fails in these cases?

@dushyanthsc  If we use a new logger, the zipkin tracing will be broken?

[2019-02-11 17:47] mattmoor commented on #1361
We have one.

[2019-02-11 17:47] #1361 closed

[2019-02-11 17:48] mattmoor commented on #1379
I think we're moving to other mechanisms for performance and whatnot, so closing.

[2019-02-11 17:48] #1379 closed

[2019-02-11 17:56] mattmoor commented on #1276
Can you close this or milestone appropriately?

[2019-02-11 17:57] mattmoor commented on #2615
We should discuss ways to reverse the flow, if possible.

[2019-02-11 17:59] mattmoor commented on #2644
We should probably have some very limited tests presubmit, and the *ability* to run them, but we should not expect to run (expensive) performance testing on every commit to every PR.

[2019-02-11 18:00] adrcunha commented on #3150
No. The problem is that these "metrics" are logged by third-party code, and thus appear in our Testgrid tab. But they're unrelated, and thus shouldn't be parsed as (our) metrics.

[2019-02-11 18:00] dushyanthsc commented on #3150
Zipkin tracing would only depend on the Trace - ID being attached to the Http Header. It would not have any dependency on the logger.

I am trying to understand the advantages of the new logger. Even with the new logger would still need to have some mechanism to parse out spans whose names would be just `/` Unless we override `Handler.FormatSpanName` right?

[2019-02-11 18:01] mattmoor commented on #1139
I'm going to close this in favor of the broader issue around monitoring e2e tests.

[2019-02-11 18:01] #1139 closed

[2019-02-11 18:01] adrcunha commented on #3150
We don't care about names starting with `/`. These are not our metrics.

[2019-02-11 18:03] adrcunha commented on #3150
For example:

[code]

The only real metric for our dashboard is the first line. Lines 2 and 3 are garbage for us. But since we use a single, global trace, the traces on line 2 and 3 are (erroneously) formatted as our metrics and displayed in the dashboard.

[2019-02-11 18:04] adrcunha commented on #3150
More details about emitting metrics in https://github.com/knative/pkg/tree/master/test#emit-metrics

[2019-02-11 18:05] mattmoor commented on #1359
I believe we've shifted the way we're doing performance, and I'd rather have us track controller latencies via the prometheus metrics endpoint

[2019-02-11 18:05] #1359 closed

[2019-02-11 18:06] adrcunha commented on #1439
No.

[2019-02-11 18:17] mattmoor commented on #3109
Sounds like relatively easy cleanup.

[2019-02-11 18:26] srinivashegde86 commented on #3150
is this only related to the ochttp transport plugin? We added the support for this for looking at http headers. This was added to enable support for zipkin tracing nad maybe not needed to others?

We can probably add a formatename method that does this filtering or adds a filterable prefix? http://go/gh/census-instrumentation/opencensus-go/blob/master/plugin/ochttp/server.go#L72

[2019-02-11 18:27] dushyanthsc commented on #3150
Got it, for the third trace, it has to be started for zipkin tracing to work. So we would still need that. But you are right that trace need not be logged.

I would lean towards adding a prefix - in this way we control what gets logged and the `ExportSpan` only logs for specific prefix. Should we use a new logger @srinivashegde86 can comment on it.

[2019-02-11 18:28] srinivashegde86 commented on #2644
There is a job that we can run for presubmits `\test pull-knative-serving-perf-tests`. But, that does not run on every PR.

[2019-02-11 18:30] dushyanthsc commented on #3150
@srinivashegde86 that can be used to give the span a ignorable name, but logic to not log that trace has to be somewhere.

[2019-02-11 18:32] jchesterpivotal commented on #971
It's a small thing that saves so much hassle later on.

[2019-02-11 19:26] adrcunha commented on #3150
Congrats, you got a bug for yourself. :D

/assign @dushyanthsc

[2019-02-11 19:40] srinivashegde86 commented on #3150
I dont think adding a new logger will help here. Opencensus is logging this information using their logging mechanism and we are looking at STDOUT in the logs, so we will capture their logs as well.

Some kind of filtering/prefixing might be a better option.

[2019-02-11 23:29] mattmoor commented on #2958
One idea for this that we've been kicking around (I think @evankanderson started it) was to enable users to explicitly name Revisions via the embedded `metadata:` block under `configuration:`.

So for example, if I wanted to stage a new candidate I could post:
[code]

I believe that otherwise, using GitOps patterns (especially across multiple clusters, which may suffer generation-skew) could rapid

[2019-02-11 23:33] mattmoor commented on #3090
@hpandeycodeit Sorry, I missed your comment.  I'd read up on projected volumes and then come discuss it at the API WG meeting (see [here](https://github.com/knative/docs/blob/master/community/WORKING-GROUPS.md#api-core)) to make sure folks are generally on-board with it.

Then I'd follow the linked PR where I added Volumes and update the places affected by this.  The two places that come to mind a

[2019-02-11 23:37] mattmoor commented on #2102
I believe @dgerd is/has added conformance coverage of the cgroups stuff from the spec, which covers the resources block as @evankanderson listed above.

I still think that there is potential value in passing along "time remaining" to the process, but that this needs to be via a header due to the possibility of having lost some time to cold start or throttling due to concurrency model.

[2019-02-11 23:37] mattmoor commented on #2102
(as pointed out by @markusthoemmes above)

[2019-02-11 23:41] dushyanthsc commented on #3150
Just to make sure we are all the same page, here is the plan of change:

1. Define a constant in `knative/pkg/logging.go` - "ExportMetric-".
2. Update all locations where we are starting spans that we need to export by pre-pending the metric name with the constant defined in step 1.
 The places where we make this change include:
     - All `wait*` methods in `knative/serving/test/crd_checks.go`

[2019-02-11 23:46] mattmoor commented on #1973
Going to put this in `v1`, and we should consider this as part of the `v1` API discussion, but if/how we rename it TBD.

[2019-02-11 23:48] srinivashegde86 commented on #3150
This is custom exporter that logs the metric for us - https://github.com/knative/pkg/blob/master/test/logging/logging.go#L71

We can update this log to prefix with something like the `ExportMetric const` and then update our latency parser to check for this?

[2019-02-11 23:49] srinivashegde86 commented on #3154
We are using the default values for RequestTimeout and QPS, both of which are 0.

[2019-02-11 23:51] adrcunha commented on #3150
This is error-prone and implies more boilerplate code. Create a helper, update the documentation.

Won't work, the end result will be the same with just a more complicated way: you're still logging everything as a valid metric.

[2019-02-11 23:52] mattmoor commented on #648
With the ongoing discussion about inverting the relationship between Serving and Build, I think this is misplaced in our control plane and better handled by the Pipeline responsible for orchestrating the build and deploy in concert, or as metadata associated with the container in some external system.

Perhaps this can be passed down as a hint from the Pipeline in an annotation to enable a debugge

[2019-02-11 23:54] mattmoor commented on #1612
We should have an operator story for this, but ideally it would be driven by an operations WG.  Going to put into the ice box until we have a WG dedicated to this.

[2019-02-11 23:57] srinivashegde86 commented on #3150
Also https://github.com/knative/pkg/blob/master/test/kube_checks.go

[2019-02-11 23:59] mattmoor commented on #1137
Moving this into `v1` where we should spend some time reconsidering some of our condition types.

[2019-02-11 23:59] mattmoor commented on #1137
... as part of the "Serving API v1" track.

[2019-02-12 00:01] dushyanthsc commented on #3150
Ok, besides the approach to adding a helper and additional place in kube_checks. Should I make the changes?

[2019-02-12 00:03] steren commented on #648
The desired user experience is that a client can list the revisions of a given service and display which git commit each of them correspond to.

Ideally, this would be achieved with a single API call instead of joining the revision list with another resource.

[2019-02-12 00:06] mattmoor commented on #812
I haven't heard much contention in this space in a while, so I think that folks generally agree on the seams between these things.  If not, feel free to `/reopen`.

[2019-02-12 00:06] #812 closed

[2019-02-12 00:08] mattmoor commented on #616
This may be a case where we want an abstraction like `PodAutoscaler` or `ClusterIngress` between our high-level semantics and our implementation to enable vendors to more readily customize the implementation.  However, I don't think we want to support preserving patches, which sounds like a support nightmare 😲

[2019-02-12 00:08] #616 closed

[2019-02-12 00:10] mattmoor commented on #780
I'm gonna close this as I think we've gotten better at avoiding new debt here.  Maybe in the future automation will land that makes this easier.

[2019-02-12 00:10] #780 closed

[2019-02-12 00:11] mattmoor commented on #496
Going to move this into `v1` for consideration as part of the Serving `v1` API shape conversation.

[2019-02-12 00:22] mattmoor commented on #3155
I think the combination of a Build fix and the GC policy outlined above should more than cover this.  With a 10 hour resync period in the Build controller, it should be able to handle many many thousands of builds, and I'd guess something other than Build will fall over before it becomes a problem again.

[2019-02-12 00:31] #2674 closed

[2019-02-12 00:42] hohaichi commented on #2391
Hi,

Is this issue fixed or being worked on?  I'd like to take a stab at it if it is still an issue and nobody is working on.

[2019-02-12 00:45] jessiezcc commented on #779
we are planning to move conformance to its own repo with https://github.com/knative/test-infra/issues/444, we will do versioned conformance test releases with that.
/cc @dushyanthsc

[2019-02-12 01:02] mattmoor commented on #1976
I think the triage is largely done, but the items to address will span into 0.5.  Most of this work is tracked here: https://github.com/knative/serving/projects/20

[2019-02-12 01:40] mattmoor commented on #2850
Hmm, I don't see if/where we're installing monitoring for e2e testing.  Am I spacing out here @mdemirhan 😲

[2019-02-12 01:41] mattmoor commented on #2850
Yeah, looking at a recent run there are no pods in the `knative-monitoring` namespace in the post-test dump.

[2019-02-12 02:04] jsanda commented on #2391
I’m not working on it.

On Mon, Feb 11, 2019 at 7:42 PM Chi Ho <notifications@github.com> wrote:

[2019-02-12 02:41] srinivashegde86 commented on #2850
Yeah. Monitoring is only installed for perf tests and not e2e tests.

[2019-02-12 03:51] meteatamel commented on #2958
Definitely better than guessing

[2019-02-12 04:00] #2970 closed

[2019-02-12 08:24] odra opened #3174 "Use "AppendRandomString" function from knative/pkg"
/area test-and-release
/kind good-first-issue

## Expected Behavior

No errors - just remove the implementation of `AppendRandomString` and use the one implemented on knative/pkg (`test module`) once this PR gets merged: https://github.com/knative/pkg/pull/256

## Actual Behavior

No errors, see above item.

## Steps to Reproduce the Problem

No errors, see above item.

## Additional Info

https:/

[2019-02-12 11:13] hanshengchiu commented on #1047
No problem with executing the go example. But knative doesn't seem to work with gRPC yet. So I ended up using kubernetes+gRPC without knative.

[2019-02-12 11:49] markusthoemmes commented on #2900
/assign

[2019-02-12 12:17] DXist commented on #3064
There is similar [issue](https://github.com/kubernetes/kubernetes/issues/69687) in Kubernetes related to custom metrics like queue size. It's possible to reconsider the design if HPA would support scale-to-zero natively.

Personally I don't use knative and looking for ways to integrate scaling to zero in HPA.

[2019-02-12 14:12] ravindranathakila commented on #1047
I'm trying Linkerd. So far it's amazing. Will let you know if auto scaling
works.

On Tue, Feb 12, 2019, 19:14 hanshengchiu <notifications@github.com wrote:

[2019-02-12 15:34] mattmoor commented on #3085
/reopen

I think @jonjohnsonjr has this root caused 🎉

/assign @jonjohnsonjr

[2019-02-12 17:22] #2709 closed

[2019-02-12 17:22] wtam2018 commented on #2902
Getting back to it now.

[2019-02-12 18:05] #3109 closed

[2019-02-12 18:05] #2900 closed

[2019-02-12 18:42] mattmoor commented on #1927
Discussed in chat, we're going to move this to 0.5 so that it can bake a bit longer

[2019-02-12 18:59] #2381 closed

[2019-02-12 19:26] dprotaso opened #3182 "We should validate `generateName`"
## Describe the feature

We've enabled `generateName` again in this PR https://github.com/knative/serving/pull/3181

But there's no validation of `generatedName`. We could ensure `generateName` with a 'safe' suffix still is a DNS1035 label.

[2019-02-12 19:27] mattmoor opened #3183 "We need conformance test coverage of generateName"
## In what area(s)?

/area API

/area test-and-release

## Describe the feature

Folks should be able to use:
[code]

... to create services against the API with a guaranteed unique name.

We've broken this at least once via overly strong validation.

[2019-02-12 19:28] mattmoor commented on #3182
Also related: https://github.com/knative/serving/issues/3183

[2019-02-12 19:59] srinivashegde86 commented on #1126
we have a way for writing and displaying perf tests https://github.com/knative/serving/blob/master/test/performance/README.md

@markusthoemmes do we need something else here or we can close this?

[2019-02-12 20:02] mattmoor commented on #3154
🤦‍♂️ I was setting QPS, but a default timeout of zero is 👌

thanks for the quick fix.

[2019-02-12 20:08] tcnghia commented on #2391
@mattmoor is this still reproducible..?

[2019-02-12 20:10] tcnghia commented on #2857
/assign @jsanda

[2019-02-12 22:28] srinivashegde86 commented on #3079
@mattmoor do you think n1-standard-16 should work or we need a bigger machine than that?

[2019-02-12 22:50] hohaichi commented on #2391
I am unable to repro.  Following steps in https://github.com/knative/serving/issues/2391#issuecomment-435623668:
* Change the activator code to think the Revision is immediately ready: change condition at https://github.com/knative/serving/blob/479a27a32eb6b6988bd64d3c846acdb78faaf22c/pkg/activator/revision.go#L77 to false,
* Change the scale-down knobs (bottom two) in `config/config-autoscaler.ya

[2019-02-12 23:42] hohaichi commented on #2391
hmm... I reverted the experimental change in revision.go, redeployed serving, redeployed autoscale-go app, and the curl command still returned "no healthy upstream".  Is it a bug?

More details:
- curl right after the app redeployed:
$ time curl --header "Host: autoscale-go.default.example.com" "http://${IP_ADDRESS?}?sleep=100&prime=10000&bloat=5"
Allocated 5 Mb of memory.
The largest prime less t

[2019-02-13 00:10] #3085 closed

[2019-02-13 00:12] josephburnett commented on #3064
I think generalized HPA scale-to-zero is out of scope here.  You might look at https://github.com/deislabs/osiris which takes the same approach as Knative (injecting sidecars and watching request rates).

[2019-02-13 01:21] mattmoor commented on #1962
Putting into 0.5 as I expect us to start looking at this atop 1.13 in earnest and factoring the code so that we're ready to go when 1.14 lands.

[2019-02-13 02:52] #2623 closed

[2019-02-13 03:00] tanzeeb opened #3188 "gRPC streaming responses smaller than 4KB are buffered indefinitely"
## In what area(s)?

/area networking

## What version of Knative?

HEAD

## Expected Behavior

Streaming gRPC responses should be returned immediately.

## Actual Behavior

Streaming gRPC responses are held until a 4KB buffer is filled.

## Steps to Reproduce the Problem

Reported by @fbiville:

As suggested by @dprotaso last Friday, we tried again to deploy our https://github.com/fbiville/hello-

[2019-02-13 03:00] tanzeeb commented on #3188
/assign

[2019-02-13 07:12] markusthoemmes commented on #1126
We can close this!

[2019-02-13 07:12] #1126 closed

[2019-02-13 08:01] tcnghia commented on #2850
Since we have seen that these tests perform much better with sidecar turned off, I think these problems are Istio limitation.  I think we should lower the SLO for now (admitting the limitation), and revisit when Istio 1.1 is released.

I've sent https://github.com/knative/serving/pull/3191 to do so, once that is checked in I'd like to move this issue out to 0.5 or 0.6 even (since I am not sure whe

[2019-02-13 08:14] DXist commented on #3064
@josephburnett, thank you for the link!

[2019-02-13 09:19] markusthoemmes opened #3194 "TestActivationHandler_(Overflow|OverflowSeveralRevisions) are flaky."
## In what area(s)?

 /area test-and-release

## What version of Knative?

HEAD

## Description

I've seen both of these tests fail in different PRs

- https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/3192/pull-knative-serving-unit-tests/1095596530422779905/
- https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/3193/pull-knative-serving-unit

[2019-02-13 09:19] markusthoemmes commented on #3194
/assign

got some free cycles to have a look

[2019-02-13 11:55] markusthoemmes commented on #3138
Done via #3187

[2019-02-13 11:55] #3138 closed

[2019-02-13 12:54] fbiville commented on #3188
You can reproduce the issue easily with https://github.com/ericbottard/knative-grpc, by following the steps described in the README file.

[2019-02-13 15:38] mattmoor opened #3200 "DOCKER_REPO_OVERRIDE should be replaced by KO_DOCKER_REPO"
## In what area(s)?

/area test-and-release

Title says it all.  We should stop using this everywhere.

[2019-02-13 16:13] markusthoemmes commented on #3194
/reopen

Sadly my attempt only made it a bit better, but didn't fix it 100%

[2019-02-13 16:17] mattmoor opened #3201 "./test/upload-test-images.sh could be dramatically faster"
## In what area(s)?

/area test-and-release

## Describe the feature

Today this script serially runs `ko publish` on a list of import paths discovered with:
[code]

If this instead synthesized a trivial yaml file with these as absolute import paths (vs. relative) and piped it to `ko resolve` the upload would be dramatically faster.

[2019-02-13 16:35] buggtb opened #3202 "Knative on minikube none driver"
/area networking

Hi I'm interested in running Knative on minikube, but all the examples use a KVM or similar driver. Can you not run Knative Serving on bare metal?

Everything installs and runs according to the Knative on Minikube docs, but when you deploy something nothing spins up and there is no domain in the service.

Am I missing something? Or if it doesn't work, it should possibly be mentio

[2019-02-13 18:59] mattmoor commented on #3202
You could try asking in #minikube on Slack?

[2019-02-13 19:21] dgerd opened #3208 "Add Conformance test for user set headers"
## In what area(s)?

/area API
/area test-and-release

## Describe the feature

User set headers SHOULD be passed through to the user container for each request. This issue is to add a conformance test that sends a headers and validates that the set header appears in the response from the `runtime` test container.

This is a follow up to #3116 as it requires some additional changes to https://gith

[2019-02-13 19:21] dgerd commented on #3208
/assign @dgerd

[2019-02-13 19:27] dprotaso opened #3209 "Flakey unit test pkg/reconciler/v1alpha1/route TestNewRouteCallsSyncHandler"
## In what area(s)?

/area API

## What version of Knative?

## Expected Behavior

Unit tests aren't flakey

## Actual Behavior

Following unit test failed

https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/3204/pull-knative-serving-unit-tests/1095763002084298753/

## Steps to Reproduce the Problem

[2019-02-13 19:32] adrcunha commented on #3200
Not only `upload-test-images.sh`, but also the e2e tests, for consistency.
Serving's documentation still mentions and/or requires DOCKER_REPO_OVERRIDE:

[code]

[2019-02-13 20:00] srinivashegde86 commented on #3154
this test now passes - https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-performance/1095487939879636993?log#log

[2019-02-13 22:09] tcnghia opened #3210 "Revisit TestScaleTo50 SLO after Istio 1.1"
## In what area(s)?

/area networking
/area test-and-release

## Describe the feature
In https://github.com/knative/serving/issues/2850 we saw that our SLO can't be very high yet.  This appears to be an issue with the service mesh in Istio 1.0.x.  Since 1.1 will bring improvements, we should wait a little bit to switch to that, and increase the SLO.

## Related
https://github.com/knative/serving/i

[2019-02-13 22:12] tcnghia commented on #2850
I am closing this issue and track the SLO revision in #3210

[2019-02-13 22:24] #3008 closed

[2019-02-13 23:34] mdemirhan commented on #1244
I am ok splitting /var/log handling off of revision controller, but I am not sure if this is the right thing to use as a demonstration because this is part of our runtime contract (var/log and dev/log handling) and I believe it should be supported in all setups.

[2019-02-14 04:23] congliu01 commented on #818
Now that the [VolumeSubpathEnvExpansion](https://kubernetes.io/docs/concepts/storage/volumes/#using-subpath-with-expanded-environment-variables) feature is available as an Alpha feature, I think adding namespace and pod name in the subpath is the preferred option.

Please comment on this and I can create a PR.

[2019-02-14 04:38] #2976 closed

[2019-02-14 05:02] dprotaso commented on #818
Knative is a bit conservative and we don't adopt K8s alpha features. The
main reason is that providers of a hosted K8s don't typically turn on alpha
features for production clusters.

Hence why I'm waiting for VolumeSubpathEnvExpansion to become a beta feature

On Wed, 13 Feb 2019 at 23:23 Cong Liu <notifications@github.com> wrote:

[2019-02-14 06:19] mattmoor commented on #2972
@dgerd I think @markusthoemmes is right.  WDYT?

[2019-02-14 07:02] mattmoor commented on #2463
I don't recall having seen this in a while, so closing out as "not repro" likely due to fixes in istio we've picked up.

[2019-02-14 07:02] #2463 closed

[2019-02-14 07:10] markusthoemmes commented on #1952
To weigh in a bit: I use Docker-for-Mac for daily development and I've never seen one of these issues. @enhendrickson are you still seeing this?

[2019-02-14 07:32] #2961 closed

[2019-02-14 14:20] duglin opened #3217 "Unexpected build during a "release" upgrade"
/area API
/kind spec

## What version of Knative?
0.3.0

## Expected Behavior

See: https://github.com/duglin/helloworld#ab-testing   near the end of that section.

I switched my app from `runLatest` to `release` and in the process specified:
[code]
Notice that I'm "rolling forward" to an old version of my app. The roll-out and routing works just fine.  However, a revision 4 of my app was built an

[2019-02-14 14:29] Justin2997 opened #3218 "Using Ambassador as Gateway with Knative"
## In what area(s)?

 /area networking

## What version of Knative?

 0.2.x
 0.3.x

## Expected Behavior

I am trying to use Knative on my current infrastructure. I use Ambassador 0.50 as a Gateways and I setup Istio for the Service Mesh following this guide: https://www.getambassador.io/user-guide/with-istio/. That worked fine for normal Pod but Knative Serving Pod responds with 503 (`upstream co

[2019-02-14 14:31] markusthoemmes commented on #3217
So your patch is:

[code]

If you wouldn't touch the `configuration` part in there, you wouldn't get a new revision I think. Are you patching those to reflect the state of revision-00002?

[2019-02-14 15:09] mattmoor commented on #2835
I was asking about Docker-for-Mac problems in slack yesterday and @markusthoemmes indicated that he is using it without issue.

[2019-02-14 15:10] mattmoor commented on #2835
It also sounds like 0.3 resolved things, so I'm going to relabel this as a test-infrastructure feature request, but the Mac hardware requirement is going to make this tricky.

[2019-02-14 15:17] duglin commented on #3217
If I leave out the configuration, so the json looks like this:
[code]
then I get:
[code]

So I believe, configuration is basically required.  Or am I not following what you're saying?

[2019-02-14 15:21] markusthoemmes commented on #3217
My point is: In that update you'll only want to change the release related fields. The configuration part should not change in that update at all.

[2019-02-14 15:22] mattmoor commented on #2216
@blues-man Any update?  Still an issue?

This actually looks like something I see when the mesh is coming up.  The Activator crash loops a few times before the envoy proxy sorts out outbound networking 🙄

[2019-02-14 15:34] mattmoor commented on #1598
tl;dr I think I'm inclined to close this in favor of other issues.

Users can use `.svc.cluster.local` for (mostly) functioning DNS, including making services cluster-local.  We have a proposal to remove sub-Routes, which would make `.svc.cluster.local` totally work.  We have an open issue to try and enable/use a service(s) like `xip.io` by default.

The above combined with the subjectivity of DNS

[2019-02-14 15:34] #1598 closed

[2019-02-14 15:35] duglin commented on #3217
Not sure how to do that when I don't have a `release` field to modify. During this patch I'm not only introducing the "roll to v2" but also switching from `runLatest` to `release` and from my testing it appears that even patching it with:
[code]
to just make this "type of service" change w/o any config change, still causes a new build/deploy.

[2019-02-14 16:02] markusthoemmes commented on #2916
As noted in the last Autoscaling WG meeting:

Per HTTP/2 spec:

In essence that means: Streams do not have a longer lifecycle than a request/response pair. For autoscaling that means: We don't need to change anything.

The queue-proxy already measures concurrency based the request/response lifecycle. It is **not** based on connections or something thelike. When a request comes in, we increase the

[2019-02-14 16:13] dgerd commented on #2972
Yep. I think we will want to have pretty much the same test for liveness probes and we are then good to close.

[2019-02-14 16:30] dgerd opened #3223 "Add conformance test to validate runAsUser is as specified"
## In what area(s)?

/area API
/area test-and-release

## Describe the feature

This issue is to add a conformance test that validates the MUST, SHOULD, and SHALL statements of the user section ( https://github.com/knative/serving/blob/master/docs/runtime-contract.md#user ) in the runtime contract.

The test should validate that:

* When passing a valid runAsUser the container runs with that user.

[2019-02-14 16:56] #3194 closed

[2019-02-14 18:04] vagababov commented on #3217
Can't you just at this point do `kubectl edit ksvc <name>` and replace `runLatest ⇒ release`, insert the `revisions` and `rolloutPercent` fields and apply that?

[2019-02-14 18:10] mattmoor commented on #1573
Moving the work left to 0.5 so that we can bake alongside a new e2e test.

[2019-02-14 18:52] tcnghia opened #3224 "Update Istio templates to use 1.0.6"
## In what area(s)?

/area networking
/area test-and-release

## Describe the feature

Istio 1.0.6 is out.  We should investigate updating to 1.0.6.  Our last 1.0.5 update seemed to cause test flakes and was rolled back.

See:
https://istio.io/about/notes/1.0.6/
https://github.com/knative/serving/pull/3042
https://github.com/knative/serving/pull/3081

[2019-02-14 19:11] brandon-mabey commented on #3201
I can take a look at this.
/assign

[2019-02-14 19:23] dgerd commented on #3201
@brandon-mabey Since #3029 added yaml files for each test image you should be able to update the script to just do:

`ko apply -R -f test/test_images/`