[2021-06-23 20:44] evankanderson commented on #8857
@dprotaso

Is this still important (`/remove-triage needs-user-input`, `/triage accepted`, `/help`) or should we close it?

[2021-06-23 20:45] evankanderson commented on #9888
No further comments/repo. Closing until there's a repro case (feel free to reopen if you have one).

/close

[2021-06-23 20:45] #9888 closed

[2021-06-23 20:50] BenTheElder commented on #6895
I think the kind project would also be open to adding a pointer in https://kind.sigs.k8s.io/docs/user/private-registries/ for what to do when using knative, we do our best to cover this here but I don't personally work with private registries much. We have precedent in e.g. the ingress guides cross linking with upstream resources for other projects and maintaining minimal but hopefully helpful con

[2021-06-23 21:06] evankanderson commented on #6226
It looks like the specific request from https://github.com/knative/serving/issues/6226#issuecomment-675072415 is:

* Remove message checks from the conformance tests in [TestContainerErrorMsg and TestContainerExitingMsg](https://github.com/knative/serving/blob/main/test/conformance/api/v1/errorcondition_test.go), and move the message checks to the e2e tests instead of the conformance tests, since

[2021-06-23 21:07] evankanderson commented on #6226
/triage accepted

[2021-06-23 21:13] evankanderson commented on #6146
/close

Another reasonable test here would be to attempt to put the `knstream` application behind another forward or reverse proxy to see if it works (for example, Squid or nginx). If those other codebases are willing to pass the HTTP stream and Knative is not, then I think it's worth opening a new bug. Two hand-written binaries talking to each other which sometimes use an HTTP library and sometim

[2021-06-23 21:13] #6146 closed

[2021-06-23 21:14] evankanderson commented on #5990
Still looking for details on the source of that container image to be able to repro and debug. Suspicion is that it does not respond to SIGTERM when the kubelet sends the signal for shutdown.

[2021-06-23 21:15] evankanderson commented on #5913
It seems like the currently-suggested solution is to document how to configured containerd with stargz/estargz lazy loading.

/kind documentation
/help
/remove-triage needs-user-input
/triage accepted

[2021-06-23 21:15] evankanderson commented on #5913
/area documentation
/remove-area API

[2021-06-23 21:16] evankanderson commented on #5573
Is this solved by #11404? Can we close this as a dup of that?

[2021-06-23 21:17] evankanderson commented on #4736
Assuming that header-based tag routing will work here unless someone wants to chime in with a reason why it won't.

/close

[2021-06-23 21:22] evankanderson commented on #6895
I suspect that there are a half-dozen projects using `go-containertools` that would all benefit from private registries documentation, but Knative is one of the larger ones.

[2021-06-23 21:24] evankanderson commented on #4589
/help

Wondering if this is a `/good-first-issue` for someone familiar with autoscaling, as it sounds like it's converting a constant into a configuration variable, which is hopefully a good tour through the code but straightforward. If so, an autoscaling lead can `/remove-triage needs-user-input` and `/triage accepted` assuming that the idea is sound.

[2021-06-23 21:30] evankanderson opened #11585 "List of all enabled-by-default Annotations/Labels for autoscaling"
/area autoscaling
/kind documentation

# Ask
List of enabled by default Annotations & Labels related to autoscaling and their deprecation/support guarantees

# Context
Knative GA Requirements ->
- [Documenting Annotations/Labels](https://docs.google.com/document/d/1mC_nDpLIycqiBn5Om1tvbcY3yyAR3WUNXcHiyloEzhg/edit?ts=609d1aaf#heading=h.rfuit899h5eb)

After gathering the list, we can confirm if iden

[2021-06-23 21:33] evankanderson opened #11586 "List of all autoscaling related Configmap keys that impact behaviour"
/area autoscaling
/kind doc

# Ask
List of ConfigMap keys that are used to manage autoscaling configuration including the support policy.

# Context
Knative GA Requirements ->
- [Documenting ConfigMap fields](https://docs.google.com/document/d/1mC_nDpLIycqiBn5Om1tvbcY3yyAR3WUNXcHiyloEzhg/edit?ts=60cb80c1#heading=h.4uzygo1c6hqe)

After gathering the list, we can confirm if identified items are alre

[2021-06-23 21:34] evankanderson commented on #11586
/area autoscale

[2021-06-23 21:34] evankanderson commented on #11585
/area autoscale

[2021-06-23 21:35] evankanderson commented on #3895
I think this is covered by #11585 and #11586

/close

[2021-06-23 21:35] #3895 closed

[2021-06-23 21:37] evankanderson commented on #3587
/remove-triage needs-user-input
/triage accepted

/good-first-issue

[2021-06-23 21:59] evankanderson commented on #1178
/remove-triage needs-user-input
/triage accepted

[2021-06-23 22:01] evankanderson commented on #283
It seems like #5913 (document integration with estargz) might be a concrete conclusion.

Closing this unless someone decides to actively resolve the interesting kubernetes-related discussions above.

/close

[2021-06-23 22:01] #283 closed

[2021-06-23 22:11] evankanderson commented on #11308
I think @danieltahara 's case was for avoiding situations between 0 and (for example) 10. If you want to ensure that there minimum 10 replicas, I think the [`autoscaling.knative.dev/minScale` annotation](https://dev-knative.netlify.app/development/serving/autoscaling/scale-bounds/) should work for you.

With respect to the original bug report, it would be good to get a repro case and see how much

[2021-06-23 22:15] evankanderson commented on #11101
It looks like https://github.com/knative/pkg/pull/1914 was submitted Nov 17, and 0.20 (reported) was cut Jan 12, so it should have included the fix PR.

@Cynocracy -- have you been able to put together a repro case?

[2021-06-23 22:21] evankanderson commented on #10949
If there's no working container, maybe they don't want a KService yet?

I'm a bit cautious about both introducing a new state ("Placeholder") which filters into other components -- if I point an eventing Trigger at a Placeholder KSvc, what's the status of that Trigger? That probably depends on whether a placeholder KSvc is "Addressable" -- theoretically, it might be, but then it would have to resp

[2021-06-23 22:25] evankanderson commented on #10908
Does selecting an HPA and using that to scale the Revision address the original issue?

As mentioned earlier, autoscaling settings are part of the application's performance profile, so we probably don't want to make them generally mutable (because that makes rolling back to the autoscaling settings that _did_ work hard). The HPA resource would operate (co-operate) on the underlying Deployment to c

[2021-06-23 22:26] evankanderson commented on #10851
I'm going to guess here:

/good-first-issue
/help

/remove-triage needs-user-input
/triage accepted

[2021-06-23 22:27] evankanderson commented on #10822
Do either the contour annotations or the feature track document address your needs?

It sounds like maybe you're looking for something like the Contour mechanism I pointed out for net-istio?

[2021-06-23 22:29] evankanderson commented on #10776
/remove-triage needs-user-input
/triage accepted

@dprotaso @markusthoemmes might be able to help debug further

[2021-06-23 22:29] evankanderson commented on #10767
I'm going to close this since I'm not quite sure what the question is and it looks like there's been no followup in a few months

/close

[2021-06-23 22:29] #10767 closed

[2021-06-23 22:31] evankanderson commented on #10639
Closing this as it's been more than 90 days without additional feedback.

/close

[2021-06-23 22:31] #10639 closed

[2021-06-23 22:32] evankanderson commented on #10554
It looks like maybe this bug was outside knative (based on the nginx header).

I'm going to close barring more evidence that the problem was inside Knative.

/close

[2021-06-23 22:32] #10554 closed

[2021-06-23 22:34] evankanderson commented on #10470
It looks like there were two proposed solutions in the last two comments.

I'm going to close this issue barring further reports that the proposed solutions aren't working.

/close

[2021-06-23 22:34] #10470 closed

[2021-06-23 22:34] evankanderson commented on #10276
/remove-triage needs-user-input
/triage accepted

I think Markus worked on refactoring this.

[2021-06-23 22:38] evankanderson commented on #10259
@jonjohnsonjr it looks like you've been thinking about this. Any further comments?

There's also https://github.com/knative/serving/issues/6895 that looks related; not sure if it makes sense to consolidate the two threads.

[2021-06-23 22:41] dprotaso commented on #7240
/triage accepted

I think answering this questions is important

[2021-06-23 23:16] jonjohnsonjr commented on #10259
I don't think it makes sense to consolidate the two threads, but they might be resolved by the same effort.

Since I last checked, there does appear to be some activity in this general area, but I'm not personally invested in _this_ issue, so it's unlikely that I'll try to put together a solution.

Two potential paths forward, from browsing around a bit:

1. Look into using github.com/kubernetes/l

[2021-06-24 00:25] Cynocracy commented on #11101
Haven't :/ we can close this and reopen if it recurs

[2021-06-24 00:25] #11101 closed

[2021-06-24 01:21] evankanderson commented on #7240
/help

[2021-06-24 01:25] evankanderson commented on #8610
/help

[2021-06-24 01:43] duglin commented on #10908
if I'm understanding I'm not sure HPA would solve it because the use case I'm thinking about is one where the auto-scaler plays no role, the user is specifically choosing the number of instances.

[2021-06-24 01:53] duglin commented on #4736
/reopen
actually, allowing other headers is kind of important since we can't mandate that the user the inject Knative header into each message. This is why we may want to route based on some other header that's already flowing, like an auth header. Also, it would be nice to route to a non-tagged revision - similar to how % based routing doesn't need tagged either. Plus, if I'm remembering correctl

[2021-06-24 02:02] duglin commented on #6504
yes I believe it will live on even w/o requests

[2021-06-24 02:12] duglin commented on #8684
Yes I do think this is important because I find it very odd from a UX perspective that I can't stop something from running even if I say "delete".

[2021-06-24 04:04] baiyun123 commented on #11572
@impl I recreated the problem，
step 1.  kubectl create nginx-hello.yaml
apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: nginx-hello
  namespace: default
spec:
  template:
    spec:
      containers:
        - image: nginx:1.14.2
          ports:
            - containerPort: 80
step.2 update ksvc containers image to nginx:1.14.0,  use command kubectl edit ksvc nginx-hello
step.3

[2021-06-24 06:17] mgencur commented on #10276
@evankanderson I don't think @markusthoemmes worked on that. My attempt was here: https://github.com/knative/serving/pull/10961 but we decided with Markus to close it and keep the current state (please see the comments on the PR).

[2021-06-24 06:51] markusthoemmes commented on #10908
You could define a custom autoscaler for that, that allows users to muck with the Deployment's replicas directly.

[2021-06-24 06:57] markusthoemmes commented on #8114
/remove-lifecycle stale
/lifecycle frozen

I think we still want this.

[2021-06-24 06:58] markusthoemmes commented on #6593
/remove-lifecycle stale
/lifecycle frozen

[2021-06-24 07:01] markusthoemmes commented on #5076
/remove-lifecycle stale

[2021-06-24 07:04] markusthoemmes commented on #11308
Yes I'd expect us to hit 100 pods requested (deployed is another story :sweat_smile: ) almost immediately.

[2021-06-24 07:06] markusthoemmes commented on #11586
/many/all/ are documented (modulo https://github.com/knative/docs/pull/3819).

Support level will be defined in https://docs.google.com/spreadsheets/d/1ikT1toRwUIR0vPwP9D4mUIg1IOnLL6rOfZXMjXEyzJQ/edit#gid=0

[2021-06-24 07:07] markusthoemmes commented on #11585
All are documented.

Support level has been defined here https://docs.google.com/spreadsheets/d/1ikT1toRwUIR0vPwP9D4mUIg1IOnLL6rOfZXMjXEyzJQ/edit#gid=0. We need a way to reflect the support level in docs though. Poked on that but there wasn't any resolution yet.

[2021-06-24 07:08] markusthoemmes commented on #4589
The ongoing freeze proxy work will I think resolve the billing related problem here.

[2021-06-24 07:09] markusthoemmes commented on #5573
yep

/close

[2021-06-24 07:09] #5573 closed

[2021-06-24 08:52] pradithya commented on #11308
@evankanderson That's exactly what I think the ideal state too. So if the service is not serving traffic, the number of replicas should be 0. But if there is traffic it has to be at least x, where x can be configurable similar to `autoscaling.knative.dev/minScale`. This avoid scenario where my service has only 1 replica and could cause disruption if this replica become nonoperational due to for ex

[2021-06-24 10:29] mgencur opened #11588 "Allow for running conformance tests by users with reduced privileges"
## Describe the feature

It should be possible to run Conformance tests by users without cluster-admin permissions. This will be useful in restricted environments where the container runtime is managed by someone else or the end user is simply given reduced permissions. It should be possible to verify the basic functionality of Knative Serving even without cluster-admin permissions.

The current s

[2021-06-24 10:31] mgencur commented on #11588
One possible solution would be to use the cluster-admin user at the beginning to create the test ConfigMaps and test namespaces. Then create another user with reduced privileges (project admin) and use this user to run the actual tests.

[2021-06-24 10:54] csantanapr commented on #6895
@evankanderson

I agree to close this issue the actionable item would be that serving needs better docs to address the issue. I'm OK opening a new issue or moving this one to docs repo to improve the docs on private registries using my writeup as reference/input.

[2021-06-24 11:07] markusthoemmes commented on #11588
So if I understand correctly, this is mostly about the test's setup requiring elevated permissions? Seems like the gap is to allow running the test in an arbitrary namespace. The configmaps should be creatable for any user in that namespace imo. The chaosduck is optional anyway, so I'd just leave that out for "normal" conformance runs.

[2021-06-24 11:11] mgencur commented on #11588
Mostly about test setup, yeah. If we could choose which namespace to run tests in that would be good because it could be pre-created. Agree with leaving out chaosduck. But the logging and observability yamls change ConfigMaps in knative-serving namespace.

[2021-06-24 11:15] markusthoemmes commented on #11588
Oh I see. Those are entirely optional as well. They just configure the test system for CI so that we have enough debug information afterwards. The only configmaps **really** required should be https://github.com/knative/serving/blob/5fa60424aff4165f5685b2acfb54fb9b22b17b18/test/config/ytt/core/resources.yaml#L16-L33

[2021-06-24 12:09] knative-test-reporter-robot opened #11591 "[flaky] test/ha.TestDomainMappingHA"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/ha.TestDomainMappingHA
* **Repository name**: serving

[2021-06-24 12:09] knative-test-reporter-robot opened #11592 "[flaky] pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/newprod.net"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/newprod.net
* **Repository name**: serving

[2021-06-24 12:28] khaeghar commented on #11051
Hi, I do have a case I'd like to share.

In a project that I'm currently working on, we would like to have a microservice that could scale both with rps and events (Similar to how KEDA works).

For the HTTP part, we use Knative Serving, but for the Event part we would need something like KEDA, because Knative Eventing transforms the events in HTTP requests, and we need to mantain the kafka channel

[2021-06-24 14:19] dprotaso commented on #5076
/lifecycle frozen

[2021-06-24 14:29] mhenke1 opened #11596 "502 errors with Istio Mesh"
## What version of Knative?
v0.23.1

Istio version 1.9.1
Isti-Mesh enabled
`EnableMeshPodAddressability` enabled

## Expected Behavior

Services should return 200 for steady load.

## Actual Behavior
1% of request are returning 502

## Steps to Reproduce the Problem

After enabling Istio-Mesh with Knative, we are seeing lots of our requests failing with 502s . We have the strong suspicion that the

[2021-06-24 14:37] markusthoemmes commented on #11596
Please consider disabling `EnableMeshPodAddressability`. That stuff isn't even half-baked yet. It's probably horribly broken in fact.

[2021-06-24 14:38] markusthoemmes commented on #11596
That being said, do you have a `terminationGracePeriod` configured for your Istio deployment (compare with https://github.com/knative-sandbox/net-istio/blob/main/third_party/istio-stable/istio-ci-mesh.yaml for example).

[2021-06-24 14:42] mhenke1 commented on #11596
We have tested with several settings for `terminationDrainDuration` (I think you are referring to that)
but against our expectations we saw no consistent effect.

[2021-06-24 14:47] markusthoemmes commented on #11596
Interesting. Is there more info on the 502s? Any body returned? Any errors in queue-proxies or activators?

[2021-06-24 14:52] julz commented on #11596
Just to add here because it seems like important context: we haven't yet been able to reproduce the issue on a clean istio+knative deployment, so it's possible this is a configuration issue somewhere.

[2021-06-24 15:22] mhenke1 commented on #11596
@markusthoemmes @julz
We will retest with a more vanilla environment tomorrow and provide the messages you have asked for.
We will update here.

[2021-06-24 15:32] gyliu513 opened #11597 "Any guidance for how to turn a Kubernetes Deployment+Service to Knative Service"
## Ask your question here:

There is a very simple example here https://www.redhat.com/sysadmin/kubernetes-deployment-knative-service for how to turn a Kubernetes deployment into a Knative service, but does the Knative has any official document or guidance for how to do this? I think this is important for people leveraging knative to manage their Kubernetes resources. Thanks!

[2021-06-24 16:14] ZhiminXiang commented on #6474
/reopen

[2021-06-24 16:18] evankanderson commented on #11515
/triage needs-user-input

[2021-06-24 16:19] evankanderson commented on #11483
/kind API
/triage accepted

[2021-06-24 16:39] evankanderson commented on #11597
Hi @gyliu513 !

I think this is a docs question, but it's probably a great topic for docs.

In general, _if your Kubernetes workload is a good fit for Knative_, you should be able to remove a lot of your manifest to create a Knative Service. For whoever is working on turning this into documentation, here's a draft:

## Determining if your workload is a good fit for Knative:

* All work done is tri

[2021-06-24 16:40] evankanderson commented on #11597
(Note that all the labels, the container name, the replicas, and the Kubernetes Service can be removed)

[2021-06-24 20:43] dprotaso commented on #11548
Here's a pass - all the public networking ones are documented - will wrap up serving in a bit

### Networking

name | type |  source | doc
--- | --- | --- | ---
networking.knative.dev/ingress.class|annotation|[source](https://github.com/knative/networking/blob/0367556c91356787473432b9ed2401cdc1e7813a/pkg/apis/networking/register.go#L36)|https://dev-knative.netlify.app/docs/install/install-serving-

[2021-06-25 08:49] mgencur commented on #11122
As mentioned in https://github.com/knative/serving/issues/11588 this is a major issue for running Conformance tests as a regular user. Conformance tests don't query pods, endpoints, deployments from knative-serving namespace so introducing the flag for disabling the logstream actually allows for running those tests as a regular user.

[2021-06-25 08:51] markusthoemmes commented on #11122
I'd say go for it. As mentioned above, being able to disable the logstream is nice to have even without the RBAC issues.

[2021-06-25 09:56] julz commented on #11596
/triage needs-user-input

[2021-06-25 09:59] julz commented on #11586
/triage accepted

[2021-06-25 09:59] julz commented on #11585
/triage accepted

[2021-06-25 10:00] julz commented on #11548
/triage accepted

[2021-06-25 10:00] julz commented on #11547
/triage accepted

[2021-06-25 10:01] julz commented on #11535
/triage accepted

[2021-06-25 10:05] julz commented on #11532
/triage accepted
/help

[2021-06-25 10:12] julz commented on #11523
/triage accepted

FWIW I could see an argument for not deprecating this and instead documenting clearly the downsides and removing it from the main "installing with istio docs" (we could put it in an advanced section, "preventing access to Knative Services from outside the mesh" or something). Having said that I think if we ask Knative-dev (and -users?) and no-one wants it, or complains during the

[2021-06-25 10:15] julz commented on #11512
(With my triage hat on :)) Im not completely sure what the next action is for this issue. Are we intending to just document how to write a webhook (in which case we could move this issue to docs?), and/or are we intending to do work to make our web hooks and controllers more resilient to changing defaults?

[2021-06-25 11:28] julz commented on #11533
/triage accepted

[2021-06-25 11:30] julz commented on #11531
/area api
/kind spec
/triage accepted

[2021-06-25 11:32] julz commented on #11511
/area test-and-release
/good-first-issue
/triage accepted

[2021-06-25 11:34] julz commented on #11488
/area api
/triage accepted

[2021-06-25 11:35] julz commented on #11488
/area test-and-release

[2021-06-25 11:42] julz commented on #11448
@howardjohn are you able to consistently reproduce this on a clean kind cluster? If so could you let us know version of `kind` you're using, OS, any other info that may be helpful

/needs-user-input

[2021-06-25 11:43] julz commented on #11448
/triage needs-user-input

[2021-06-25 12:08] #11122 closed

[2021-06-25 12:11] #11582 closed

[2021-06-25 17:12] dprotaso commented on #11547
Here's a pass - all the public networking ones are documented - will wrap up serving in a bit

### Networking

name | type |  source | doc
--- | --- | --- | ---
networking.knative.dev/ingress.class|annotation|[source](https://github.com/knative/networking/blob/0367556c91356787473432b9ed2401cdc1e7813a/pkg/apis/networking/register.go#L36)|https://dev-knative.netlify.app/docs/install/install-serving-

[2021-06-26 10:47] JCzz opened #11605 "Kind Ingress not working with Knative: IngressNotConfigured"
Kind Ingress not working with Knative: It hangs in kubect get ksvc "IngressNotConfigured"

I have created the following cluster:

[code]

Looked at installing Ingress: https://kind.sigs.k8s.io/docs/user/ingress/#contour

Experimented with bout Conture and Kouier and bouth is not working with Kind Ingress setup - do you know why?

Installed using:
Loadbalencer: https://kind.sigs.k8s.io/docs/user/lo

[2021-06-26 11:31] #11605 closed

[2021-06-26 12:06] #11591 closed

[2021-06-26 23:36] JCzz commented on #11395
Hi @nak3

Sorry to write you again - I am running into the same issue running on (kind.sigs.k8s.io)KinD Cluster. If you can help, do you want me to create a new issue?

I have added to etc/host file and KinD is running on macos.

Thanks in advance

[2021-06-27 12:07] #11592 closed

[2021-06-28 04:15] nak3 commented on #8186
Expanding visibility should be covered by Ingress v2's Gateway&GatewayClass. I'm closing this issue and track by https://github.com/knative/serving/issues/6593.

[2021-06-28 04:15] #8186 closed

[2021-06-28 04:15] nak3 commented on #8185
Expanding visibility should be covered by Ingress v2's Gateway&GatewayClass. I'm closing this issue and track by https://github.com/knative/serving/issues/6593.

[2021-06-28 04:21] nak3 commented on #11286
Now, mesh test fails with [only `scale-200`](https://testgrid.k8s.io/r/knative-own-testgrid/serving#istio-latest-mesh). HA test and TestHPAAutoscaleUpDownUp fails sometime but it was also caused by `scale-200` test :sweat:  (It can be fixed by tweaking the test order as https://github.com/knative/serving/pull/11552).

Should we close this issue? Or keep open until `scale-200` test could be fixed?

[2021-06-28 08:30] julz commented on #11286
Personal opinion: I reckon since we now have consistently green tests (🎉🎉!) we should close this issue *but* we should create another one to track re-enabling the fill scale-200 (unless we already did obviously), because we do want to do that one way or another

[2021-06-28 13:59] dprotaso commented on #11286
testgrid still shows red for me - is there a new job?

https://testgrid.k8s.io/r/knative-own-testgrid/serving

[2021-06-29 00:31] lisamburns commented on #4307
@dprotaso  I'm a skaffold user, not a contributor, but that's a good question.

I think what you're suggesting is a different approach but let me attempt to clarify.
1. Skaffold approach (requires volume mounts and initContainers)
They are rewriting the start command to be "dlv exec /app", and the web container gets delv because an initContainer mounts it into a shared dir (i.e emptyDir).

2. Your

[2021-06-29 04:03] nak3 commented on #11286
The mesh test's failure is `scale-200`.

https://github.com/knative/test-infra/pull/2817 added `pull-knative-serving-istio-stable-mesh-short` but it is just for a manual trigger or updaate of `third_party/istio-latest/net-istio.yaml`.
Should we add or replace `stable-mesh-short` for the test grid?

[2021-06-30 04:00] realsarm commented on #4536
@hohaichi @dgerd I have this issue on gke. How did you upgrade ko?

[2021-06-30 12:08] knative-test-reporter-robot opened #11611 "[flaky] pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/test-domain.dev"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/test-domain.dev
* **Repository name**: serving

[2021-06-30 14:55] mhenke1 commented on #11596
We were able to run our tests with a Vanilla Knative 0.23.1 install on Istio 1.10.2
We are seeing the same rate of 502s as described above.

Interestingly we found out that we can remove all 502 errors by configuring Istio peer authentication as PERMISSIVE (in opposite to the STRICT setting we used before).

[2021-07-01 22:13] upodroid opened #11617 "Adopt `app.kubernetes.io` labels"
The yaml files need to be edited to apply the following labels to all k8s resources it creates as well as pod selectors:

[code]

Part of https://github.com/knative/community/issues/667

app and version labels will be deprecated at a later date.

[2021-07-01 22:13] upodroid commented on #11617
/assign @upodroid

[2021-07-02 02:09] shydefoo opened #11618 "Does Activator require istio-proxy to be injected?"
## Ask your question here:
Knative Serving requires a network layer that can be configured. In the case where Istio is chosen as the network layer, does the Activator require istio-proxy to be injected to carry out Knative Activator functions (ie, Probing queue-proxies, communicating with autoscaler) If not, what are the drawbacks of not having the istio-proxy injected that will impact Activator f

[2021-07-02 05:27] ZhiminXiang commented on #11618
Activator does not have to install istio-proxy as long as you don't use any mesh specific feature (e.g. mTLS of mesh).

But activator should work well with istio-proxy injected. What is the issue in your side?

[2021-07-02 11:08] salaboy opened #11621 "Support Headers in Lower and Upper case issues"
Currently, Knative can use headers to send traffic to different revisions, but unfortunately, the header seems to be supported only with upper case. For example, the header name is: `Knative-Serving-Tag`

As shown in:
https://knative.dev/docs/serving/samples/tag-header-based-routing/

Unfortunately, this doesn't play nice with some browsers like chrome which by default when they send a request tra

[2021-07-02 11:15] salaboy commented on #11621
I am validating that this is an actual problem.. I will close if I find the root cause of the issue.

[2021-07-02 11:26] julz commented on #11621
Hi @salaboy - HTTP header names are [not case sensitive](https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html) which means `Knative-Serving-Tag` and `knative-serving-tag` are the same according to the http spec. Tag-based routing is generally implemented by adding appropriate rules to the Ingress objects (e.g. Istio virtual service) etc, so it's possible one of these is incorrectly performing to

[2021-07-02 11:46] salaboy commented on #11621
@julz that is exactly what I am checking now. I have Knative installed with `Contour` so I will check with Kourier now and report back. The traffic percentage split was working with `Contour` so I thought that the tag-based splitting should work as well. And looking into the browsers it seems that they do funky stuff, so I wondered if in Knative headers are case-insensitive.

[2021-07-02 11:53] julz commented on #11621
Ok, Im going to remove the good-first-issue label for now (since we dont know if it's an issue yet :D) and add needs-user-input since this is waiting for confirmation of whether it's an issue (and if so on what ingresses)

/needs-user-input
/remove-kind good-first-issue
/remove-kind feature
/kind bug

[2021-07-02 11:53] julz commented on #11621
/triage needs-user-input

[2021-07-02 12:44] salaboy commented on #11621
There seems to be an issue with Contour then.. with Kourier is working, but I noticed that traffic splitting with Headers only work if the revision is created after applying the following patch to enable the feature:

[code]

Is that the expected behaviour?

[2021-07-02 12:52] julz commented on #11621
Yes I think so: the feature is [not enabled by default](https://github.com/knative/serving/blob/51bfe38f9d6d8c7a39c40c59d02843ab1e6d715b/config/core/configmaps/features.yaml#L128), so you have to enable it in order to use it.

[2021-07-02 12:54] salaboy commented on #11621
@julz that's correct.. but if you already created revisions and then you enable the feature, would you expect to apply the rules defined inside the `traffic` block? Because it seems to only work with revisions created after the feature is enabled.

[2021-07-02 12:55] julz commented on #11621
Im not sure we really define what's supposed to happen to existing revisions when the feature is turned on. I can certainly see an argument that we should re-reconcile existing revisions in this case so that things work, though.

[2021-07-02 13:00] julz commented on #11621
is it OK if I close this issue since I think the original behaviour is working as designed (other than perhaps a bug in contour), and we can open another to discuss whether enabling the tag header routing feature should apply to existing revisions?

[2021-07-02 13:06] salaboy commented on #11621
Yes let's close this one, I've created an issue in Contour to make sure that it gets solved in there: https://github.com/projectcontour/contour/issues/3859

[2021-07-02 13:06] #11621 closed

[2021-07-02 15:17] JCzz opened #11623 "Readiness probe failed - kinD cluster 6 CPU and 6GB mem"
Hi

Do you know why I get this in `kubectl get events`:

[code]

Running on KinD cluster on docker - sudo docker info:
[code]

[2021-07-02 21:29] JCzz opened #11624 "connection refused on ports 80, 443 - I challenge anyone to get Knative running onKinD using a real domain"
Following Knative [installation](https://knative.dev/docs/install/install-serving-with-yaml/) does not work on KinD Cluster.

You can verify it very easy, just run the script.

I am running with 6CPUs and 6GB memory.

# Env
[code]
[code]

FYI, if I do `docker run --rm -p 8080:80 <image>` on the same server I can hit that docker container - just to let you know the conneection to the server from do

[2021-07-02 21:43] julz commented on #11624
Hi @JCzz - have you set up DNS so that `<mydomain>.dev` resolves to your kind cluster? If not you may need to do that, or to follow one of the alternative options described in the [Configure DNS](https://dev-knative.netlify.app/development/admin/install/serving/install-serving-with-yaml/#configure-dns) section of the Install Guide.

[2021-07-03 07:40] JCzz commented on #11624
Hi @julz Thanks

Yes I already did that - see the script “ # Replace knative.example.com with your domain suffix”.

you can just run the script - I challenge you or anybody:-) it does not work.

[2021-07-03 08:01] julz commented on #11624
Hi @JCzz - the script above does not set up DNS. It only tells knative what domain name to use in URLs it produces -- knative itself cant set up a DNS name at your registrar to point to your cluster IP so that these domain names actually resolve to an IP: you need to do that separately.

The instructions for configuring DNS at your registrar are in the "Real DNS" section of [The Configuring DNS Se

[2021-07-03 08:14] julz commented on #11624
Perhaps you could include the output of "`dig <mydomain>`"? If DNS is set up properly at the DNS registry, this should show `<mydomain>` resolving to the external IP of your Kubernetes cluster.

[2021-07-03 08:19] JCzz commented on #11624
Hi again @julz

Thanks and please let me know if I a misunderstanding anything.

1. I have everything working with domain registra and nameservers - I have a simple docker run container running and working with real dns. See "FYI" under Env in my question.
2. From the "The Configuring DNS Section..." is this:
[code]
not the same as:
[code]

Yes I can I can dig my domain and everything is working i

[2021-07-03 08:46] julz commented on #11624
Could you show the output of `dig <mydomain>`, and confirm it matches the external IP of the kind cluster? Could you also verify that you have wildcard DNS set up (that is, foo.bar.<mydomain> resolves to the same ip.. please also include the output of `dig name.ns.<mydomain>` to confirm this). Thanks!

FWIW there's a full annotated script that shows real DNS set up (using sslip.io or nip.io) with

[2021-07-03 09:07] JCzz commented on #11624
Thanks

Yes, I have tried using sslip.io or nip.io. This one is working using sslip.io:
https://knative.dev/blog/1/01/01/how-to-set-up-a-local-knative-environment-with-kind-and-without-dns-headaches/

Have you see anyone running using a real domain - again I challenge you to get a setup working running KinD ;-)

dig `<mydomain>.dev  `

[code]

[2021-07-03 09:55] julz commented on #11624
I'm confused. What about sslip.io or nip.io are you saying is not a real domain? Those are both real domain names that just happen to return the IP in the subdomain. There is no difference from the perspective of Knative or Kind between `foo.1.2.3.4.sslip.io` and `foo.mydomain` assuming mydomain resolves to `1.2.3.4`.

This implies that your DNS is resolving to an address where port 8080 is resolv

[2021-07-03 11:21] JCzz commented on #11624
Nope I am just saying id does not work if you setup a custom domain. I can hit port 80 also with a docker container.

`curl -H"Host: helloworld-go.default.<mydomain>.dev" <ip address>` gives the same both on the server and remote.
`port 80: Connection refused`

Have you ever tried and got it working using a KinD cluster - please try out the script?

[2021-07-03 11:46] julz commented on #11624
The fact that the curl above does not work implies the problem is nothing to do with DNS: your cluster is not listening on port 80 on the IP address <mydomain.net> resolves to.

I just now installed a clean kind cluster following the instructions at https://github.com/csantanapr/knative-kind and successfully curled a service using DNS:

<img width="830" alt="image" src="https://user-images.githubu

[2021-07-03 11:52] julz commented on #11624
Looking at your script quickly, I think the problem is that you haven't exposed the Kourier ingress externally on port 80, that's Step 8 in the guide at https://github.com/csantanapr/knative-kind (I think this is needed because Kind doesn't have a LoadBalancer built in; without this step you would have to use the "Temporary DNS" method from the guide for kind).

[2021-07-03 11:58] Morriz commented on #11102
Why is this closed? This is breaking with the expectation to be able to restart nodes without problems. The current 80% means a minimum of 5 replicas is needed. Not nice to close this issue, as it is needed to provide a declarative way to configure knative settings via the operator config.

[2021-07-03 12:00] Morriz commented on #9990
why is this closed? Let me repeat my concerns here:

This is breaking with the expectation to be able to restart nodes without problems. The current (hardcoded!?)  80% means a minimum of 5 replicas is needed. We expect to be able to configure this via the operator config.

[2021-07-03 12:07] #11611 closed

[2021-07-03 12:07] Morriz opened #11625 "more operator config options needed: expose pdb config section in operator"
## Describe the feature

Basic k8s configuration is now hardcoded, like for `activator-pdb` and `webhook-pdb` PDBs. This is breaking with the users expectation to be able to restart nodes without problems. The current 80% means a minimum of 5 replicas is needed. Not nice to hardcode this. I would expect a declarative way to configure relevant settings via the operator config.

Now, to be complete,

[2021-07-03 12:14] nak3 commented on #11102
Hi @Morriz Yes, we should be able to configure it via operator config. And the issue is tracked in operator repo  https://github.com/knative/operator/issues/376 as you already know.

(And I personally wonder that we should set the pdb to `1` in release yaml, but  https://github.com/knative-sandbox/eventing-kafka/pull/703 has already started the discussion so we should follow it.)

[2021-07-03 12:18] julz commented on #11625
Hi @Morriz - you can use a variety of tools to customise the config knative ships by default, such as kustomize and ytt. Would one of these work for your use case?

We also provide a Knative Operator (http://GitHub.com/knative/operator) which has the [ability to override some settings](https://knative.dev/docs/install/operator/configuring-serving-cr/#override-system-deployments). Unfortunately the

[2021-07-03 19:27] JCzz commented on #11624
Thanks @julz
I will give it a try and let you know. Appreciate you info.

[2021-07-04 13:59] xinydev commented on #10783
/assign

[2021-07-04 16:32] Morriz commented on #11625
Operator is the way forward imo. We will wait until that lands and manually patch resources for now

[2021-07-04 17:52] julz commented on #11625
Great! I'll close this one since we have the issue tracked in the operator repo. Thanks!

/close

[2021-07-04 17:52] #11625 closed

[2021-07-05 05:24] shydefoo commented on #11618
Hi @ZhiminXiang thanks for the response. Initially, our Activator pod starts running, with 2/2 containers (activator, istio-proxy). After an undetermined amount of time, the pod status is not ready and the readiness probe for istio-proxy fails.
Kubelet logs show
[code]
istio-proxy logs show
[code]

The strange thing is that `:15020/healthz/ready` gives 200 response. Eventually Activator container

[2021-07-05 06:22] markusthoemmes commented on #11623
If the readiness probe failed thing is not continuously happening, it's benign. Which pod is that happening on?

The metric fetch errors are expected on KinD as it's not installing the machinery to collect CPU metrics out of the box. All our HPAs are based on that though, so they fail to actually do something useful, which is usually fine to ignore.

[2021-07-05 09:44] rhuss commented on #8160
/remove-lifecycle stale

[2021-07-05 13:46] #11423 closed

[2021-07-05 17:41] dprotaso commented on #11286
I guess I'm trying to answer the question:

If we _know_ scale-200 is going to fail should we use skip it for the mesh case and decide after whether it's possible to fix?

[2021-07-05 22:34] dprotaso commented on #11618
cc @nak3 @julz re: activator in mesh - have you seen anything like this before?

[2021-07-05 22:53] dprotaso commented on #10160
We're pulling in the latest patches now - https://github.com/knative-sandbox/net-istio/pull/699

[2021-07-06 05:47] markusthoemmes commented on #11094
/remove-lifecycle stale

[2021-07-06 05:54] markusthoemmes commented on #11113
@daganida88 is this still an issue? If so, could you please specify the Knative version in use?

[2021-07-06 09:37] almottier opened #11629 "Kata container is not working"
## What version of Knative?

v0.24.0

## Actual Behavior

It looks Kata container is no longer working with knative version >0.18.x.
queue-proxy container is not starting, maybe since you added some fields in `securityContext`.

[code]

In containerd logs:

[code]

## Steps to Reproduce the Problem

I am running it on Scaleway k8s cluster v1.20.7 with kata pre-installed.

[code]

My RuntimeClass:

[2021-07-06 17:37] dprotaso commented on #11617
note: we update the `devel` version name in our release scripts here

https://github.com/knative/serving/blob/main/hack/generate-yamls.sh#L78-L80

[2021-07-06 17:40] dprotaso commented on #11617
I suggest we leave the old labels intact - they're in use in various selectors (ie. webhooks). We'll probably want to remove them at a later release.

[2021-07-07 07:11] salaboy commented on #8949
/assign

[2021-07-07 07:56] salaboy commented on #8949
Ok, so I started looking at this issue (as my "good first issue"), please remember that I am new with the internals.
This is what I understood so far:

1) For the primary container (the one which specifies a containerPort) the readiness probe is cleared up (set to nil), because the queue proxy is going to execute the readynessprobe instead. And this is done here: https://github.com/knative/serving

[2021-07-07 08:29] skonto commented on #4417
@dprotaso using init containers to get models is an approach already used by Seldon (MLOPS) and others. Check [here](https://docs.seldon.io/projects/seldon-core/en/v1.6.0/servers/overview.html#init-containers) and [here](https://docs.seldon.io/projects/seldon-core/en/v1.6.0/examples/dvc.html?highlight=cache). So it is something not new in that domain.

They also support autoscaling via [HPA](https

[2021-07-07 09:02] zhaojizhuang commented on #11125
/close

[2021-07-07 09:03] #11125 closed

[2021-07-07 14:50] zhaojizhuang opened #11635 "support mem metrics in HPA"
## In what area(s)?

/area autoscale

## Describe the feature

Now only cpu is supported in  HPA class, we should support metrics `memory` in HPA

https://knative.dev/docs/serving/autoscaling/autoscaling-metrics/#setting-metrics-per-revision

[2021-07-07 14:52] zhaojizhuang commented on #11635
/area autoscale

[2021-07-07 15:40] #10814 closed

[2021-07-07 16:58] ZhiminXiang commented on #11618
I feel `error   failed scraping envoy metrics: error scraping http://localhost:15090/stats/prometheus: Get "http://localhost:15090/stats/prometheus": context deadline exceeded` is a red herring.

Is there any log in the envoy related to health check?

[2021-07-08 09:25] julz commented on #11126
/remove-lifecycle stale
/lifecycle frozen

We should eventually get round to doing this

[2021-07-08 12:01] kkwekkeboom commented on #10327
I hit this feature again today. Any thoughts on this discussion?

[2021-07-08 14:55] omerbensaadon opened #11640 "[1.0.Alpha] Conformance tests for: Service"
//TODO

[2021-07-08 15:53] salaboy commented on #8949
@dprotaso @evankanderson I've created a simple PR with a test showing that the probes are maintained if the validation is removed from the validation web hook. The question still remains, do we want the sidecar containers probes to be performed by the kubelet?

I feel that I am missing context here to make a decision on that. In my head it makes some sense to only manage the "serving" container. B

[2021-07-08 20:01] julz commented on #10765
/remove-lifecycle stale.
/reopen
/lifecycle frozen

[2021-07-09 12:06] knative-test-reporter-robot opened #11644 "[flaky] pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/mytestdomain.com"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/mytestdomain.com
* **Repository name**: serving

[2021-07-09 17:40] dprotaso commented on #11102
Hey @Morriz

So you're saying if you have a single replica of the activator restarting/deleting the underlying node won't cause a new activator pod to spin up on a new node? And this blocks the node restart?

[2021-07-10 00:18] sdhoward opened #11645 "Unable to distinguish service names longer than 32 characters in Envoy metric labels"
/area networking

## Summary

Either Knative or Emissary Ingress (f.k.a. Ambassador) is truncating Envoy Proxy cluster names to 32 characters, which interferes with my ability to measure a service's **requests per second**, which is my goal.

Knative itself is not restricting service names longer than 32 characters. I encode information in my service name such as customer ID and customer namespace

[2021-07-10 08:37] heroic opened #11647 "PHP App deployment"
## Ask your question here:

We are using knative serving to deploy a PHP app with apache. The common issue we are facing is managing session across pods. Since we can't have a volume attached to knative pods, what is the recommended approach?

[2021-07-11 17:21] JCzz opened #11650 "https Segmentation fault (core dumped) - on arm(Ubuntu and Apple silicon)"
Env:
kubectl version
[code]

Knative
`version 32`

Cluster: Kind version
`kind v0.11.1 go1.16.4 linux/arm64`

### without-dns-headaches

Just use this Knative doc: https://knative.dev/blog/1/01/01/how-to-set-up-a-local-knative-environment-with-kind-and-without-dns-headaches/

Use you own domain in step 3.
[code]

### Cert-Manager for https
Note: I am using Google Cloud DNS for the cloud-dns-key to

[2021-07-12 07:21] skonto commented on #4417
@dprotaso I will update the feature track based on latest comments and will start implementation asap. Some basic scenarios like emptyDir support should be there imho.

[2021-07-12 10:52] julz commented on #11650
Hi @JCzz - fwiw this error looks like a problem with your local set-up (I don't think there's anything we could do on the server-side that should validly cause your local curl command to segfault). Nevertheless it seems worth nothing this blog looks very old -- the Knative serving it attempts to install is 0.15 while the current Knative version is 0.24. For an easy set up on Kind with local DNS I'

[2021-07-12 12:07] knative-test-reporter-robot opened #11653 "[flaky] test/e2e.TestMinScale"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestMinScale
* **Repository name**: serving

[2021-07-12 12:07] #11644 closed

[2021-07-12 15:07] JCzz commented on #11650
Trust me, I have done them all.

Same Segmentation fault (core dumped) error for Knative 0.24.0 and Kourier 0.24.0

Thanks @julz it is not your fault

But show me anyone who has this(Knative) working outside a cloud provider - it is like it falls between projects, and no one has it all covered. Maybe it not suppose  to be possible. Sorry for my frustration, but I have ben betting a lot on Knative.

[2021-07-12 15:14] julz commented on #11650
out of interest, what happens if you visit `https://helloworld-go.default.<MyDomain>.dev` in a browser rather than via curl?

[2021-07-12 16:10] #11588 closed

[2021-07-12 18:19] JCzz commented on #11650
Good question

I looked at it earlier in Safari saying "Can't Open the Page", but just now I opened it in Firefox and opened Advanced:

[code]

[2021-07-12 19:06] JCzz commented on #11650
Hi @julz

Thank you so so so mush for asking that question :-) It got me digging into the certificate, and I must admit I am a bit embarrassed, because I then realised I was running on a staging certificate.

[2021-07-12 19:10] JCzz commented on #11650
Thanks @julz I will close this one

[2021-07-12 19:10] #11650 closed

[2021-07-12 19:18] #11395 closed

[2021-07-12 19:19] #11624 closed

[2021-07-12 21:51] #11511 closed

[2021-07-13 07:15] markusthoemmes commented on #11647
Recommended today would be to persist sessions to an external storage (read: a database) and connect to that from all your pods to fetch the respective state on demand.

[2021-07-13 07:18] markusthoemmes commented on #11645
This indeed sounds like an Emissary/Ambassador issue. Have you considered filing this there? @impl can you confirm?

[2021-07-13 07:24] markusthoemmes commented on #11629
Interesting! Unfortunately I don't have much experience nor a local setup to test against kata containers, but this sounds like something we'd want to fix for sure. Would it be possible for you to install Knative Serving from source to figure out which of the changes we did to queue-proxy would be the offender? The are a bit thin I fear.

[2021-07-13 07:44] markusthoemmes commented on #11515
Closing as duplicate.

[2021-07-13 07:44] #11515 closed

[2021-07-13 07:54] zhaojizhuang commented on #11635
/assign

[2021-07-13 08:25] heroic commented on #11647
This is kind of a problem. Today we are using redis to scale this by making PHP use redis as a session store. However, directly using file system would have been easier.

Database for sessions is a nightmare.

For now we've decided to stick to using redis for lack of any other way. Leaving this here for someone else in the future.

Thanks @markusthoemmes

[2021-07-13 08:25] #11647 closed

[2021-07-13 10:40] skonto opened #11664 "Add support for volume type EmptyDir"
## Describe the feature
This is a place holder for the feature track work described in the related [doc](https://docs.google.com/document/d/1M4ojQe_B-JXxFigJwjt80z6Rj_VlnBSv31oaekO0sXI/edit) and also targets EmptyDir feature only:

 - [ ] Add volume support for EmptyDir in KService
 - [ ] Add conformance tests
 - [ ] Add e2e tests
 - [ ] Update docs

/cc @julz @dprotaso @markusthoemmes

Related ti

[2021-07-13 12:38] JCzz commented on #11624
I went for Kourier on local installations :-)

[2021-07-13 12:41] JCzz commented on #11380
I can verify it is working now!

[2021-07-13 12:41] #11380 closed

[2021-07-13 12:42] JCzz commented on #11515
I can verify it is working now!

[2021-07-13 12:47] JCzz commented on #11623
Thanks for info @markusthoemmes

I moved on to kourier - less restriction smaller memory foodprint and it works

[2021-07-13 12:47] #11623 closed

[2021-07-13 13:55] markusthoemmes commented on #7078
@JCzz any reason to close this? I think the request was very valid still.

[2021-07-13 13:56] #7078 closed

[2021-07-13 14:34] dprotaso commented on #11664
Adding anything to the conformance would require going through the Trademark committee

[2021-07-13 14:37] dprotaso commented on #10738
EmptyDir support: https://github.com/knative/serving/issues/11664

[2021-07-13 16:16] fhuzero opened #11670 "Procedure for adding a new KIngress option to Knative Serving"
## Ask your question here:
I'm a contributor for Apache APISIX Ingress Controller (AIC), yet another ingress controller. And I'm working on adding support for KIngress. It would be great if AIC can be listed as one of the alternatives for KIngress implementation. I'm wondering how to demonstrate that AIC can serve as an alternative. Does AIC need to pass all conformance tests or e2e tests in _serv

[2021-07-13 17:33] Morriz commented on #11102
Yes, it is a flaw in k8s core iyam, as it does not orchestrate the eviction taking all the factors into account. So the user is left to always deploy 2 replicas for successful node restarts.

I believe logic should be added to k8s core that takes into account the context and uses the constructs it governs to scale up a replicaset temporarily to be able to evict pods and still meet availability req

[2021-07-13 17:35] Morriz commented on #11102
I asked about this on Stack Overflow some time ago: https://stackoverflow.com/questions/67217069/will-k8s-scale-a-pod-within-hpa-range-to-evict-it-and-meet-disruption-budget

[2021-07-13 19:28] houshym commented on #10160
I can confirm this issue exists in istio 1.9.6.  kubernetes version 1.20.7

[2021-07-13 20:23] sdhoward commented on #11645
Appreciate you taking a look. Since knative appears to create the CRs correctly, I agree. I opened https://github.com/emissary-ingress/emissary/issues/3600 now.

[code]

[2021-07-13 23:01] dprotaso commented on #10160
@houshym do you have the following annotation on your gateway?

https://github.com/knative-sandbox/net-istio/pull/636/files

[2021-07-13 23:03] houshym commented on #10160
@dprotaso I don't have. should I add it?

[2021-07-13 23:09] dprotaso commented on #10160
According to that PR having that label on the gateway (with istio 1.9.6) should activate that functionality which supposedly fixes the behaviour. Hence why I was saying that should fix the issue for Knative's installation.

[2021-07-13 23:13] dprotaso commented on #10160
Let me know if it doesn't - then maybe we should reach out to some Istio folks.

I think for now we can close this issue - I'm going to move it to the `net-istio` repo as this is specific to that

[2021-07-13 23:14] #10160 closed

[2021-07-14 00:49] nak3 commented on #7078
It is not alright to set `config-domain` configmap like this?

[code]

[2021-07-14 01:28] nak3 commented on #11670
Hi @fhuzero

That's great!
Ingress's conformance test is hosted in https://github.com/knative/networking/tree/main/test/conformance/ingress. Is it possible to run the conformance test? For example, Kourier runs the conformance test by adding github.com/knative/networking to the dependency as:

https://github.com/knative-sandbox/net-kourier/blob/e84708c34d89164b786a01ae8f7a65375bb8f29e/test/conform

[2021-07-14 02:43] SeibertronSS opened #11672 "An error occurred while configuring the corporate proxy"
## Ask your question here:
I try to use corporate proxy in the controller, but this caused the controller pod to Error.

|NAME|                                READY|   STATUS  |  RESTARTS |  AGE|
|----|----|----|----|----|
|activator-789bcb5644-gtrfm |         1/1|     Running|   0 |         60s|
|autoscaler-5888bf7697-495g2  |       1/1  |   Running |  0  |        60s|
|controller-85f5d9879d-tpnw

[2021-07-14 03:48] fhuzero commented on #11670
@nak3 Thanks for steps you suggested! Now AIC can run KIngress' conformance test as links you provided, with some test cases failed. Does AIC need to pass all tests in order to become an alternative for network layer of Knative Serving?

[2021-07-14 04:15] nak3 commented on #11670
No, passing 75% of tests is fine at the initial stage (Red label == alpha) https://github.com/knative/networking/blob/main/docs/conformance.md
Note, it says `Sends the PR against knative/networking to demonstrate the plugin meets the test requirement.` but the directory structure was changed so you don't need to send.
If it passes 75%, could you please try to send the doc PR?

[2021-07-14 07:50] markusthoemmes commented on #11672
How's the proxy setup? Presumably, you'll want to setup a NOPROXY value as well to prevent API requests from being sent to your proxy as well (assuming you only want to proxy traffic that egresses the cluster)

[2021-07-14 09:42] Niflhem opened #11673 "Enhance knative/serving observability use case, to expose the application metadata"
/area monitoring

## Describe the feature

As part of this enhancement request, I'd like to cover the following use cases:

- I want to be alerted by my monitoring system when there were created more than X instances of application (application represented by some unique value of annotation or label on the Pod)
- I want to use observability as the input to the AI based automation (commercial examp

[2021-07-14 10:44] SeibertronSS commented on #11672
That's what happened. Because I can’t use `https://hub.docker.com/` as my registry, I can only use the company's private registry, so I try to configure `HTTP_PROXY` and `HTTPS_PROXY`. I can only push the docker image to dockerhub.xxx.com (For reasons of confidentiality, I can't give the complete URL). I set  `HTTP_PROXY` to `http://dockerhub.xxx.com` and `HTTPS_PROXY` to `https://dockerhub.xxx.co

[2021-07-14 10:46] markusthoemmes commented on #11673
Copying from the PR as the discussion might be more suited here:

Have you considered the impact that the additional labels will have wrt. exploding the prometheus load? AFAIK, it creates a new timeseries for each individual label value and we've had trouble with that in the past. Is that a concern here?

[2021-07-14 10:48] markusthoemmes commented on #11672
Please try setting an additional `NOPROXY` env var to exclude the Kubernetes API from proxying.

Using the private registry is fine. Does it require an HTTP proxy setup though? If not, you should be able to "just" use the internal registry just as well.

[2021-07-14 11:10] Niflhem commented on #11673
It's true that every unique key-value label pairs represent a new time series in Prometheus. But I would consider labels and annotations that appear on pods to have low cardinality and remain mostly stable throughout `Service`'s lifecycle.
Could you please link to the issue you had with this in the past?

[2021-07-14 11:14] julz commented on #11673
I'm interested in why (and if) knative/autoscaler is the best place to do this. What're the advantages of building this in to knative (where it would only apply to ksvcs that happen to use the kpa autoscaler) rather than using existing tools (would https://github.com/kubernetes/kube-state-metrics work for this?) to reflect pod data from the k8s api server into Prometheus?

[2021-07-14 12:41] pgodowski commented on #11673
Fair ask @julz and thanks. Chiming in, as I was working with @Niflhem on this one.
While kube state metrics is a valid place to make this extension (and we will work with k8s community on that too), I have concerns about separation of duties. Specifically, some application monitoring solutions are isolated from the kube-state-metrics data, whereas those will be allowed to pull in data from 'applic

[2021-07-14 12:56] SeibertronSS commented on #11672
Thank you for your suggestion. After setting `NOPROXY`, my knative controller can already work normally. But this still doesn't solve my problem.
I want to publish a custom inference service through kubeflow, so I need to build a custom docker image. This is the yaml of the inference service.

[code]

After deploying the inference service, it displays false, and the error message is
[code]

The po

[2021-07-14 13:00] markusthoemmes commented on #11672
I'm sorry but I'm not quite yet parsing the context correctly I think.

Is `dockerhub.xxx.com/xxx/custom-model:v1` reachable from your cluster? If not, does it require an HTTP_PROXY to be setup correctly?

[2021-07-14 13:04] SeibertronSS commented on #11672
`dockerhub.xxx.com/xxx/custom-model:v1` is reachable from my cluster. I can use `docker pull` and `docker push` to pull and push image.

[2021-07-14 13:12] julz commented on #11673
I'm not sure I totally follow this distinction tbh. If the cluster administrator wants to expose pod level metrics to users can't they set up kube-state-metrics in the same way and at the same time they set up Knative? Fundamentally there's someone deploying Knative on the cluster, why doesn't this person set up Kube-state-metrics also? We could even document how to do this potentially.

I think t

[2021-07-14 13:17] markusthoemmes commented on #11673
Agreeing with @julz sentiment. The "instances of application (application represented by some unique value of annotation or label on the Pod)" portion also sets off some trip wire alert in my head that makes me think that we're breaking an abstraction layer here. Knative, imo, should only put the metadata on the metrics that it knows about.

[2021-07-14 14:29] pgodowski commented on #11673
The extended use case is not only about _actual_ number of instanced deployed, but also the number of _possible_ instances to be deployed, which is something that only autoscaler knows about.

This is valid point, thus again, we're speaking about knative's metadata to be exposed (metadata of `Revision`, not metadata of `Pod`). Hope it makes more sense now.

[2021-07-14 14:48] julz commented on #11673
Is there a specific example of a use case that could not be satisfied by pushing the desired and actual replicas (and labels) of the Deployment to prometheus via something like Kube-state-metrics or Sysdig? In particular it'd be useful to know if there are reasons the use case is unique to Knative and would not apply to an app deployed directly as a Deployment (or StatefulSet)?

I think the annota

[2021-07-14 16:13] fhuzero commented on #11670
Sure! I'll send the doc PR if it can be labeled as Red.

I have two questions about the calculation of passing rate.
1. How to calculate passing rate if there are sub-tests? I notice that some tests such as `TestIngressConformance/dispatch/path` (let me call it major tests) have many sub-tests like `TestIngressConformance/dispatch/path//foo` and `TestIngressConformance/dispatch/path//asdf`. Should

[2021-07-15 07:08] shydefoo commented on #11618
Yes, we suspected that the prometheus context deadline exceeded log is not related. I will close this issue and open up another one when we have more information about it. Currently, we have removed istio-proxy from our Activator pod and created PeerAuthentication CRs on our workloads to allow Activator to communicate with the queue-proxy container without using mtls.

[2021-07-15 07:08] #11618 closed

[2021-07-15 07:28] shydefoo opened #11681 "Queue proxy metric revision_request_latencies meaning"
## Ask your question here:
What does the queue proxy metric revision_request_latencies refer to? [here](https://knative.dev/docs/admin/collecting-metrics/serving-metrics/metrics/#queue-proxy)
Is it:
* Time taken from queue-proxy to user-container and back? ie time taken for user-container to provide a response from queue-proxy's perspective?
or
* Time taken from Activator to queue-proxy container

[2021-07-15 07:33] markusthoemmes commented on #11681
Since the queue-proxy surfaces it, I'd bet it's just the time spent in queue-proxy + user-container.

[2021-07-15 08:09] shydefoo commented on #11681
yes that's also my guess, which indicates that our container is performing inconsistently. The problem is that we don't observe this when just running a local docker container.

[2021-07-15 08:22] markusthoemmes commented on #11681
Very hard to judge why that might be the case without additional info. The most likely difference that comes to mind: Are you setting a `containerConcurrency` value? Are you setting resource requests/limits?

[2021-07-15 08:49] julz commented on #11681
I wonder if you're seeing a difference between `revision_request_latencies` and `revision_app_request_latencies`. From looking at the code the first gives you a number _before_ queuing takes place, while the latter gives you a number that only includes the time spent proxying to your actual application (so not include time spent waiting for a slot in the queue). In other words the first metric wou

[2021-07-15 11:42] salaboy opened #11686 "e2e tests cannot be run inCluster (for no clear reason)"
## What version of Knative?

0.24.x

## Expected Behavior

Tests should be able to be executed from outside the cluster of from inside the cluster, for automation purposes.

## Actual Behavior

The following line:
https://github.com/knative/serving/blob/main/vendor/knative.dev/pkg/test/e2e_flags.go#L56

Original file in common pkg: https://github.com/knative/pkg/blob/main/test/e2e_flags.go

Defaul

[2021-07-15 12:43] nak3 commented on #11670
Hi @fhuzero, we didn't decide the accurate rule for the calcuaration so please use the number (75%) as the rough estimate.

By the way, Apache APISIX is trying to implement Knative Ingress from now? We will have a plan to support [Gateway API](https://gateway-api.sigs.k8s.io/) in the future so _if_ you are still in the early stage, it might be better to consider the Gateway API support instead of

[2021-07-15 12:46] nak3 commented on #11670
And I started a discussion about the new Knative Ingress implementation doc section, please wait a moment even if you can send the doc PR :pray:

[2021-07-15 13:17] fhuzero commented on #11670
Thanks for answering my first question! Now the passing rate is around 70%.

Could you please shed some light on my second question? That is, what's the difference between a major test and its sub-tests? Why a major test shown as `FAIL` while all its sub-tests shown as `PASS`?

Yes, Apache APISIX is trying to implement Knative Ingress and I have already developed a draft version that passes some c

[2021-07-15 13:42] almottier commented on #11629
Hello @markusthoemmes, I installed knative from source. I noticed queue-proxy was running by commenting the drop capabilities in queue-proxy resources:

[code]

It looks it was an [kata's issue](https://github.com/kata-containers/kata-containers/issues/1913) with version 2.0.x, it is working with Capabilities after I upgraded kata to version 2.1.1.

Finally it was not a knative issue. Sorry :-)

[2021-07-15 15:01] nak3 commented on #11670
Hmm... For the second question, I am not sure why it shows "FAIL". I tested kourier on my local today but it shows "PASS" like this as expected.

[code]

If you need a help, could you share the code repo? I will try to run it on my local.

[2021-07-15 15:58] salaboy commented on #11686
Closing due PR merged!

[2021-07-15 15:58] #11686 closed

[2021-07-15 16:19] markusthoemmes commented on #11629
Well awesome! Thanks for clarifying and happy that it works again!

[2021-07-15 16:19] #11629 closed

[2021-07-15 16:20] fhuzero commented on #11670
I also tested Kourier earlier, which passed all tests. It indeed shows "PASS" for the visibility major test and its sub-tests.

So nice of you to offering help! I'll first double check whether my implementation has bugs before asking for your help. I also plan to write an instruction about how to run the conformance test for APISIX Ingress Controller. I still provide a [link](https://github.com/fh

[2021-07-15 20:12] dprotaso commented on #9957
We've dropped the stackdriver exporters here: https://github.com/knative/pkg/issues/2173

This has dropped the queue proxy size (on my Mac) from 50MB to 30MB - so a diff of 20MB (~40%).

There might be some additional gains to be made and I'll poke at this a bit more

[2021-07-16 02:07] nak3 commented on #11670
Yeah, it would be great if you could write the instruction. Also great if APISIX community host the ingress controller. I tested your repo with `./utils/setup.sh` and `test/e2e-kind.sh` but it didn't work well.

[2021-07-16 10:53] fhuzero commented on #11670
Thanks for spending time testing my repo! I have updated the instruction [here](https://github.com/fhuzero/apisix-ingress-controller/tree/feat/knative-support/test/conformance#conformance-test-for-apisix-ingress-controller). I've also created a PR [#598](https://github.com/apache/apisix-ingress-controller/pull/598) to merge the knative-support branch.

[2021-07-16 14:41] dprotaso commented on #9957
So there are still gains to be made by dropping `k8s.io/api/core/v1 & `k8s.io/api/apps/v1` but it requires a lot of reshuffling of packages and types.

Specifically the list is

1) Split up `knative.dev/networking/pkg`
1) Move `autoscaler/metric.Stat` to it's own package so it doesn't pull in any autoscaling APIs
1) Don't consume corev1.Probe in the queue proxy - but create a copy of it
1) Move `k

[2021-07-16 16:26] fbalicchia opened #11693 "Readiness Problem using handle exec probes in scale from zero"
/area autoscale

## What version of Knative?

## Expected Behavior
In the case from zero scale to N using Readiness handled by exec probes need wait that the pod is ready before providing response to the client  as it happens when we using http probes.

## Actual Behavior
Knative starts to provide response before the k8s readiness state of the container is correct only when using exec probes with

[2021-07-16 16:36] psschwei opened #11694 "Tracking issue for Container-Freezer"
Tracking issue for Container Freezer implementation

Link to feature tracking doc: https://docs.google.com/document/d/1QvVj81nagklVWXAQkp0yZPwBT_3cNLKURIjZob6Ioh8

Link to sandbox repo tracking issue: https://github.com/knative/community/issues/742

/area autoscale

/assign @psschwei

Alpha plan:

* [x] Add config to enable setting `concurrencyStateEndpoint`
* [x] #11831
* [x] #11832
* [x] #11833

[2021-07-16 16:38] julz commented on #11693
Context from debugging this a bit earlier:

Looks a lot like this is due to our optimisation in the activator which directly checks QP for readiness so we can forward the request before k8s has propagated readiness. Unfortunately exec probes execute directly in the user container (because QP _cant_ run an exec probe on the user container's behalf since it's in the wrong filesystem), so QP doesn't

[2021-07-18 13:07] siddharth-mitra commented on #3134
Has this feature ben incorporated?

[2021-07-19 00:16] impl commented on #11572
Hey @baiyun123,

I've been doing a bit of work on this and I have some relevant updates for you. First, I think that the way the mappings/weights are being generated is in fact correct, albeit somewhat unfortunate in this visual representation. Envoy processes weights additively, so routes with weights of, e.g., 5%, 10%, and 100% will be dispatched to 5%, 5%, and 90% of the time respectively. We c

[2021-07-19 06:42] navneet1075 opened #11695 "serving issue : queue proxy container unable to start"
## In what area(s)?
Remove the '> ' to select:

## Ask your question here:

the queue proxy container is unable to start with error :

[code]
this was not the case earlier and we were able to run it properly . it suddenly stopped working .

we use this image revision : https://console.cloud.google.com/gcr/images/knative-releases/GLOBAL/knative.dev/serving/cmd/queue@sha256:bba041b926e31e9d5da2cb799

[2021-07-19 07:39] julz commented on #11695
Hi @navneet1075 - there have been quite a few changes in knative since version 0.17, including ones that would help it run with more restrictive PodSecurityPolicy settings. Could you try to reproduce with a more recent version please?

[2021-07-19 09:00] julz commented on #3134
Hi @siddharth-mitra - I don't believe this feature was ever implemented (the issue was closed in May 2020 since there weren't many requests for the feature). The HPA autoscaler class in knative currently only supports "cpu" (and, when https://github.com/knative/serving/pull/11668 lands, "memory") as a metric

[2021-07-19 21:56] impl commented on #11572
Hi again @baiyun123,

You can try using the Docker image nfontes/emissary:pr-3622 for your Ambassador deployment, or build from the PR above (emissary-ingress/emissary#3622). It should fix the issue. If you have a moment, please let me know if it works for you.

Thanks!

[2021-07-19 22:36] impl commented on #11645
Hi @sdhoward,

This is indeed done on the Ambassador/Emissary side. For what it's worth, I believe Envoy restricts cluster names to 60 characters, so I don't think we can meet your 80 character goal in any case. For Emissary and Knative specifically, however, cluster names end up looking something like `cluster_<revision name>_<namespace>_<port>_<namespace>`, which, as you can imagine, easily exce

[2021-07-20 09:44] julz commented on #11121
/remove-lifecycle stale.
/triage accepted

[2021-07-20 09:52] julz commented on #11693
/assign

[2021-07-20 13:48] skonto commented on #10738
For emptyDir support we will need to update the spec about RW access (right now we set all volumes to read-only in revision defaults).

[2021-07-21 01:23] #9921 closed

[2021-07-21 10:49] navneet1075 commented on #11695
@julz thanks. the current issue was with upgrade of **runc** in our machine image . we reverted the changes and it works fine . . we are planning to update to knative 0.20 with kfserving 0.6 and istio 0.9 . Hope that fixes the issue . will close this for now and get back in case that also does not work.

[2021-07-21 12:54] #11695 closed

[2021-07-22 08:13] siddharth-mitra commented on #3134
Hi @julz  - Thank you for letting me know about the same.
Do you know of any workaround I could use to configure custom metrics to the HPA in the Knative environment?

[2021-07-22 12:07] #11653 closed

[2021-07-22 12:07] knative-test-reporter-robot opened #11708 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingTest
* **Repository name**: serving

[2021-07-22 16:05] evankanderson commented on #6176
Should this be a Knative feature, or an independent component that could work across Knative and non-Knative Pods?

[2021-07-22 18:32] yanweiguo opened #11710 "Conformance tests should only test against "MUST", "MUST NOT", and "REQUIRED" conditions"
## Describe the feature
Conformance tests should only test against "MUST", "MUST NOT", and "REQUIRED" conditions. "OPTIONAL", "RECOMMENCED" conditions should not be tested or used.

For example:
* Configuration Create/Update APIs should not be tested: https://github.com/knative/serving/blob/main/test/conformance/api/v1/configuration_test.go
* RECOMMENDED field container.imagePullPolice should not

[2021-07-22 18:49] dprotaso commented on #11710
[code]
The comment has more context why it's there -  is there a way to remove that explicit but still have our conformance tests pass on KinD?

[2021-07-22 18:57] yanweiguo commented on #11710
Using a flag?

[2021-07-22 19:00] dprotaso commented on #11710
We're actually running a registry in our kind e2e - I wonder if we even need that setting anymore

https://github.com/knative/serving/blob/3efd3d6e3574618ebabd20a8b7df60e8aaf918d5/.github/workflows/kind-e2e.yaml#L169-L180

[2021-07-22 23:22] duglin commented on #10908
Scenario from a customer:
- user creates a ksvc with --min-scale=200
- user runs out quota in their NS
- user has around 30 pods running, ksvc never gets into ready state
- user realizes what's going on and sets --min-scale to 1 (or zero) to try to recover
- nothing happens because there's no free space to create the "test pod" for the next revision
- user goes around Knative and uses kubectl to d

[2021-07-22 23:28] #11617 closed

[2021-07-23 00:57] csantanapr opened #11712 "problems with config validation webhook when installing kourier"
## What version of Knative?

0.24 but also replicated on 0.23

## Expected Behavior

Be able to continue installation after webhook pod is ready

## Actual Behavior

Instaling kourier right after serving core, waiting for webhook to be ready before continuing with kourier installation

## Steps to Reproduce the Problem

Configure a clean kubernetes cluster, I use kind with k8s 1.21.1
[code]
Then r

[2021-07-23 01:01] csantanapr commented on #11712
let me know if someone can't reproduce, it could be totally my network in my local machine.

[2021-07-23 02:25] csantanapr commented on #11712
I saw this in a kubernetes issue on webhook signaling too early that is ready when it fact is not https://github.com/kubernetes/kubernetes/issues/102013#issuecomment-849552899

[2021-07-23 04:57] shydefoo commented on #11681
@julz Not much difference, there. Most likely its our component that's causing this inconsistency. Closing this issue first.

[2021-07-23 04:57] #11681 closed

[2021-07-23 13:26] dprotaso commented on #9127
/unassign @evankanderson

[2021-07-23 13:42] psschwei commented on #9127
/assign

[2021-07-24 13:52] duglin opened #11717 "No indication of an error bubbled up to the ksvc"
Once deployed, and after scaled down to zero, if there's an error scaling back up then it appears that there's no error message shown to the user in the ksvc. Here's a sample flow:

- create a ksvc - image: duglin/bug - everything comes up ok
- let things scale down to zero
- delete duglin/bug
- curl the app and I get this:
[code]
I look at the status of the ksvc and I see:
[code]
- Notice no indi

[2021-07-25 12:07] #11708 closed

[2021-07-26 07:04] senthilnathan commented on #10926
One more observation: If we backup only the top level ksvc then the restore is successful, since knative controller creates the child resources.  The corresponding flag to be used with the 'velero backup' command is '--include-resources service.serving.knative.dev'.
However, usage of this flag is not going to help when we have a mixture of ksvcs and k8s services/deployments to be backed up.

[2021-07-26 12:06] knative-test-reporter-robot opened #11721 "[flaky] kubetest2.Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: kubetest2.Test
* **Repository name**: serving

[2021-07-26 14:03] jjayabal23 opened #11722 "Autoscaling to zero does not work in AKS"
/area autoscale

I have installed knative (v0.24.0) along with istio (v1.9.5) in an AKS cluster that uses KPA. I have deployed a hello-world-csharp knative service and I see that the pod doesn't auto scale to zero. The same setup works fine in a local kubernetes cluster. Also I see the following requests coming in to the pod every 30 seconds,

info: Microsoft.AspNetCore.Hosting.Diagnostics[1]

[2021-07-26 14:05] markusthoemmes commented on #11722
That looks like something in AKS is automatically trying to get metrics from whichever ports the pod surfaces. Do you have any monitoring machinery setup? The requests towards :8012 keep the pod alive.

[2021-07-26 14:08] jjayabal23 commented on #11722
Thank you. I had the same doubt. But I see no such requests when I do a normal kubernetes deployment of the same hello-world-csharp service. It happens only with knative service depoloyment.

I will check if there is any monitoring setup in my cluster.

[2021-07-26 14:58] jjayabal23 commented on #11722
Thank you so much. I had prometheus setup in the cluster that was scraping data preventing it from autoscaling to zero.

[2021-07-26 14:58] #11722 closed

[2021-07-26 18:58] msgurikar opened #11724 "Unable to run helloworld .NET sample as windows docker image"
## Ask your question here:
I have built hello world dotnet image locally as windows docker image and pushed into our azure container registry.
Here is our service yaml file
[code]
when we run this in Kubernetes as kubectl apply -f ./hello-net-win.yaml,
we get imagepull error
[code]
Here we have windows node.

when we check describe pod, we get below error
[code]
We are not able to pull gcr.io/knat

[2021-07-27 01:01] NirmalAnandKuzhandaivel opened #11725 "Autoscaler and activator does not kick off in minikube?"
## Ask your question here:

How do I resolve the error after installing locally in minikube?
`
{"severity":"EMERGENCY","timestamp":"2021-07-26T22:59:57.504296192Z","logger":"autoscaler","caller":"autoscaler/main.go:267","message":"Failed to generate Lease holder identify","commit":"c75484e","error":"POD_IP environment variable not set","stacktrace":"main.componentConfigAndIP\n\tknative.dev/serving

[2021-07-27 02:43] nak3 commented on #11725
Hi @NirmalAnandKuzhandaivel
The error message says `"POD_IP environment variable not set"` so could you please verify if `POD_IP` env value is defined in your activator or autoscaler deploymen/pod?
For example, you could see the value as:
[code]

It is defined in https://github.com/knative/serving/blob/main/config/core/deployments/activator.yaml#L67-L70 and so the pod and deployment should have it

[2021-07-27 05:20] markusthoemmes commented on #11239
/lifecycle frozen

[2021-07-27 17:52] dprotaso commented on #11724
Hi - we currently don't support windows containers. There's quite a lot of work to get it supported but haven't really seen the demand/ask.

Are you able to compile your app using .NET Core? -  I was under the impression that would run on Linux.

[2021-07-27 17:56] dprotaso commented on #11724
I'm going to close this out as we currently don't have plans to support windows in the near future.

[2021-07-27 17:56] #11724 closed

[2021-07-27 18:09] msgurikar commented on #11724
Yes. i am able to compile using .NET core and run it successfully on linux containers.

[2021-07-27 18:10] msgurikar commented on #11724
Oh ok. Thank you for confirmation. Just to confirm, KNative is NOT supported for windows containers?

[2021-07-27 22:43] msgurikar opened #11728 "AutoScale load balancing not happening in helloworld C# when we send multiple requests using C# client."
## Ask your question here:
i am trying to run helloworld-csharp example to check auto scaling, just altered code to return host name and pod ip address

app.UseEndpoints(endpoints =>
            {
                endpoints.MapGet("/", async context =>
                {
                    var target = Environment.GetEnvironmentVariable("TARGET") ?? "World";
                    await context.Respon

[2021-07-28 05:45] cheimu opened #11729 "The queue-proxy's memory slowly and constantly increases even if there is no request."
## What version of Knative?
0.23.0

## Expected Behavior
When there is no request sent to the pod, the memory usage of queue-proxy should be a constant or at least a stable value.

## Actual Behavior
When there is no request sent to the pod, the memory usage slowly increases. Specifically, the queue-proxy's memory is increasing. Don't know if it is a memory leak.
![5261627439879_ pic_hd](https://u

[2021-07-28 05:58] markusthoemmes commented on #11728
Can you please share the Service's settings (preferably YAML)? Most importantly, I'm looking for the `containerConcurrency` setting, which controls how many requests each pod is supposed to handle at a given time. See https://knative.dev/docs/serving/autoscaling/concurrency/. That'll greatly influence the way we loadbalance.

[2021-07-28 05:59] markusthoemmes commented on #11729
Interesting, we should definitely look into that. Is it converging at ~23megs or is it still rising?

[2021-07-28 06:03] cheimu commented on #11729
@markusthoemmes Still rising. I've turned on pprof and am watching the mem diff. Hope to find some details of it.

[2021-07-28 08:34] skonto commented on #11729
I can take a look.

[2021-07-28 08:34] julz commented on #11729
Just to ask the obvious question here: does step 1 of the reproduction steps imply that the problem does not occur if you don't set prometheus as the metrics backend? Does step 3 imply it only occurs if you actively poll metrics for the pod from prometheus? (Obviously asking because both of those narrow down where the leak might be quite significantly).

[2021-07-28 08:38] cheimu commented on #11729
@julz Hi Julian. Good quesiton. I have no idea about it. The only monitor I have and used is prometheus...

[2021-07-28 08:45] markusthoemmes commented on #11729
FWIW: I totally expect the leak to be in the prometheus realm. I should've spelled that out clearly I guess :joy: .

[2021-07-28 09:08] cheimu commented on #11729
I got confirmation from my sre team... they said their prometheus will definitely close the connections for each pull... It has been tested for couple years... Huh
I'm using pprof to check the heap usage, and they seems like pretty normal, but there is 17 goroutines got blocked
<img width="810" alt="wecom-temp-08754f1d0e6792fa2a7a9a5fc2e59822" src="https://user-images.githubusercontent.com/1305041

[2021-07-28 09:13] markusthoemmes commented on #11729
I might've phrased myself poorly: I totally expect the "problem" (if it is any) in the realm of our metric collection **inside** the queue-proxy (which is potentially related to either opencensus and/or prometheus libs).

Not sure the goroutines tell us anything here though. A heap profile would likely be more insightful.

[2021-07-28 10:35] skonto commented on #11673
Prometheus can do relabeling at the [service monitor level](https://github.com/prometheus-operator/prometheus-operator/issues/3246) and its [configuration level](https://albersdevelopment.net/2019/08/28/prometheus-adding-a-label-to-a-target/). Wondering if you tried it at all.

[2021-07-28 10:40] cheimu commented on #11729
I have disabled prometheus backend in config-observability, and found the memory of queue proxy is still rising, so probably is not the problem when pulling by prometheus?

![image](https://user-images.githubusercontent.com/13050415/127308899-9fdcbb77-0160-4d4a-b17d-ea6eb4b3e27d.png)

The PromQL for it is following picture
![image](https://user-images.githubusercontent.com/13050415/127309059-4898e

[2021-07-28 10:52] skonto commented on #11729
Could you let it run for a few hours and check if it stabilizes? For example we have soak tests downstream that run >12h. /cc @maschmid

[2021-07-28 10:56] cheimu commented on #11729
@skonto No problem

[2021-07-28 11:55] skonto commented on #4416
@dprotaso need any help on this?

[2021-07-28 12:05] knative-test-reporter-robot opened #11730 "[flaky] test/scale.TestScaleToN/scale-200/135-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/135-of-200
* **Repository name**: serving

[2021-07-28 13:59] msgurikar commented on #11728
Hi Mark,
Here is yaml file

apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: helloworld
spec:
  template:
    metadata:
      # This is the name of our new "Revision," it must follow the convention {service-name}-{revision-name}
      name: helloworld-latest
      annotations:
        autoscaling.knative.dev/class: kpa.autoscaling.knative.dev
        # Target 10 in-flight-request

[2021-07-28 14:16] markusthoemmes commented on #11728
Yeah, that's what I thought.You might want to think about setting `containerConcurrency: 10` or similar, since that'll be taken into account loadbalancing wise.

[2021-07-28 14:30] skonto commented on #10851
@julz you mind if I work on this?

[2021-07-28 14:34] julz commented on #10851
not at all!

/assign @dprotaso to make sure you're ok with the api (tldr a `MaxDurationSeconds` field which is the actual max request length, not just time to first byte).

/assign @skonto

[2021-07-28 14:41] skonto commented on #6176
Adding to what @evankanderson said,  @vagababov how this would be different compared to deleting an app pod (with zero grace) and having the related personas implement chaos testing.

[2021-07-28 14:43] skonto commented on #8366
@rccrdpccl do you think a feature track doc would help you get to development faster? I could help with that.

[2021-07-28 15:19] omerbensaadon opened #11732 "[1.0.Alpha] POC for Conformance Testing Intra-Cluster"
### Acceptance Criteria
[code]

[2021-07-28 15:24] omerbensaadon opened #11733 "[1.0.Alpha] POC for Conformance Testing against Cloud Run"
### Acceptance Criteria
[code]

[2021-07-28 15:27] omerbensaadon opened #11734 "[1.0.Alpha] Documentation for Conformance for Cloud Run"
### Acceptance Criteria
[code]

[2021-07-28 15:28] salaboy commented on #11733
/assign

[2021-07-28 15:28] salaboy commented on #11734
/assign

[2021-07-28 15:30] omerbensaadon opened #11735 "[1.0.Alpha] Review Serving Specs to Identify anything missing or undefined"
### Acceptance Criteria
[code]

[2021-07-28 15:31] howardjohn commented on #9045
Should this be re-opened?

You can test ipv6 and dual stack with the latest versions of `kind`

[2021-07-28 15:32] omerbensaadon opened #11736 "[1.0.Alpha] Review Serving Conformance Tests"
[code]

[code]

[2021-07-28 15:43] omerbensaadon opened #11737 "[1.0.Alpha] Introduce concept of Requirement Levels to Serving Conformance Tests"
### Acceptance Criteria
[code]

[2021-07-28 15:44] omerbensaadon opened #11738 "[1.0.Alpha] Conduct Audit of Requirement Levels in Serving Conformance Test"
### Acceptance Criteria
[code]

[2021-07-28 15:46] omerbensaadon commented on #11738
/assign @dprotaso

[2021-07-28 15:47] omerbensaadon commented on #11738
After you're done, reach out to @gabo1208 and see how he can help fill the gaps!

[2021-07-28 15:47] omerbensaadon commented on #11737
/assign @dprotaso

[2021-07-28 18:11] msgurikar commented on #11728
Thank you Mark. I tried this yaml

apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: helloworld
spec:
  template:
    metadata:
      # This is the name of our new "Revision," it must follow the convention {service-name}-{revision-name}
      name: helloworld-latest
      annotations:
        autoscaling.knative.dev/class: kpa.autoscaling.knative.dev
        # Target 10 in-flight-

[2021-07-28 18:13] vagababov commented on #11728
How do you send your thousand requests?

[2021-07-28 18:48] msgurikar commented on #11728
C# Httprequest code asynchronously

var algoGrpcAddress = "http://helloworld.qi-efp.13.66.84.164.sslip.io"

List allTasks = new List();
for (int i = 0; i < 1000; i++)
{
Console.WriteLine($"Before sending {DateTime.Now}");

                allTasks.Add(Task.Run(async () =>  {
                    HttpClient client = new HttpClient();
                    client.DefaultRequestHeaders.Accept.Clear();

[2021-07-28 19:32] dprotaso commented on #11724
Yeah - it's currently not supported.

Do you have workloads that only run on windows containers?

[2021-07-28 19:36] vagababov commented on #11728
I think you're not sending enough traffic to make it scale. Also we recommend vegeta. Try adding a delay in the test image, say `Sleep(500)` before returning. This should make it scale.

[2021-07-28 19:39] dprotaso commented on #10851
Yeah 👍

[2021-07-28 19:59] msgurikar commented on #11724
Thank you Dave.
Yes, we do have workloads to run only on windows containers.

Regards

[2021-07-28 20:14] #9127 closed

[2021-07-28 20:34] dprotaso commented on #11724
What kind of workloads are they? are you planning on porting them to .NET Core in the future?

[2021-07-28 21:27] yanweiguo commented on #11735
One thing,  knative serving Specs says the max of #Revision.Specs.container is 1 (I assume this means a MUST). However supporting multiple containers is a common feature and knative already supports it. I think we need to update the max.

[2021-07-28 21:28] yanweiguo commented on #11710
/assign

[2021-07-28 21:37] msgurikar commented on #11728
Ok. First on auto scaling, it started working after i uninstall hpa
kubectl delete -f https://github.com/knative/serving/releases/download/v0.24.0/serving-hpa.yaml

And, autoscale doesn't work when we have minScale to 1.
autoscaling.knative.dev/minScale: "1"

it started working after setting it to
autoscaling.knative.dev/minScale: "0"

once auto scaling started working, i tried reverting back my e

[2021-07-28 21:50] msgurikar commented on #11724
workloads are currently using .net framework, yes we need to port it to .net core, its whole lot of work.
we wanted to check so far what ever code we have, wrap into C# grpc service,  build as windows docker container and deploy to kubernetes cluster and try using KNative for auto scaling these grpc services based on the demand .

[2021-07-28 21:56] vagababov commented on #11728
I am not totally clear, what you mean by `autoscaling not working` — I should've asked that in the first place, I guess.
But, anyway, the logs are in namespace `knative-serving` and the pod is `autoscaler-x`. You can just `kubectl logs` to see the logs.

[2021-07-28 22:45] msgurikar commented on #11728
when i was having hpa and with
autoscaling.knative.dev/minScale: "1"
in my service.yaml file,

Even though i send the same above http requests without delay, there was only 1 pod instance created and all traffic going to that pod.
Once i removed hpa, then set
autoscaling.knative.dev/minScale: "0"
in my service.yaml,  above requests without delay, autoscale happened(it created number of pods equal

[2021-07-29 00:33] nak3 commented on #9045
Yes, I think this should be opened.

[2021-07-29 02:08] cheimu commented on #11729
@skonto It is still rising
![image](https://user-images.githubusercontent.com/13050415/127420503-d4d028f1-7dcd-4c37-967e-ed15acd61650.png)

[2021-07-29 03:32] cheimu commented on #11729
Is it probably because of golang itself. golang/go#42330 ...?

[2021-07-29 07:10] skonto commented on #11664
/assign @skonto

[2021-07-29 07:38] rccrdpccl commented on #8366
@skonto unfortunately I cannot continue this for the time being. Although I'd love to finish it, I don't want to hog on this issue, so feel free to close it or reassign it or whatever you think is best. In case I'll mange to get the time to continue this issue in the future, I will ping again.

[2021-07-29 08:06] cheimu commented on #11729
I recompiled queue only using golang 1.16 and here is a monitoring statistics for 2 hours. It seems like a little bit better. Don't know if they are related....
<img width="1239" alt="comparison" src="https://user-images.githubusercontent.com/13050415/127455123-b0b3feb2-9ce3-4229-82c4-af1dc5150299.png">
This happened to all of my test pods.
I will continuously run my tests for another 12 hours.

[2021-07-29 08:06] julz commented on #11078
/lifecycle frozen
/reopen
/remove-lifecycle stale

[2021-07-29 08:16] skonto commented on #8366
Thanks @rccrdpccl I will take a look to start the feature track at least.

[2021-07-29 12:54] jjayabal23 opened #11742 "Does knative supports Persistent Volume Claims"
/kind spec

## Ask your question here:
Does knative supports Persistent Volume Claims. I see that the API Spec does not have reference to PVC's (https://github.com/knative/specs/blob/main/specs/serving/knative-api-specification-1.0.md#detailed-resources--v1)

[2021-07-29 15:29] skonto commented on #11742
Right now this feature is not supported however there is wip. Support for emptyDir was added recently check [here](https://github.com/knative/serving/issues/11664). Next step is to add support for pvcs. Initially in the emptydir feature track doc pvcs were included but for making things simpler and think carefully security concerns we decided to capture pvcs design details in a separate doc.

[2021-07-29 15:44] jjayabal23 commented on #11742
Thank you so much.

[2021-07-29 15:44] #11742 closed

[2021-07-29 18:36] msgurikar commented on #11724
We have code not only C#, other which uses windows native calls, it would take long time to port it to linux.
We wanted to try and use our existing application to run windows docker container using KNative.

[2021-07-29 21:19] dboshardy opened #11745 "`domain-mapping` and `domainmapping-webhook` stuck in CrashLoopBackoff due to `version check failed`"
I'm trying to test out getting kfserving working on a private GKE cluster. I set it up using the recommended `kubectl apply`

[code]

Everything starts fine except for the aforementioned deployments.  Error logs for each look like this:

[code]

I've tried rebuilding the cluster and installing things in different orders. Most recently, I started getting this error as well when installing, but func

[2021-07-29 21:26] julz commented on #11745
Hi @dboshardy - this seems like potentially a question that might be better answered by the kfserving folks since I don't know exactly how their manifests are created, but do you happen to know what version of Knative that version of Kfserving is based on?

[2021-07-29 21:30] dboshardy commented on #11745
I am so sorry, I thought I was in that github project. Too many github tabs open. Apologies!  I will close and ask on their board.

I only know it requires KNative 1.16.0+.

[2021-07-29 21:30] #11745 closed

[2021-07-29 22:23] nealhu commented on #3587
Hey guys, I just made a PR for this issue, could someone take a look? https://github.com/knative/serving/pull/11746 Thank you!

[2021-07-30 01:36] nak3 commented on #11523
Thank you for the advice.  I started the ML thread in https://groups.google.com/g/knative-users/c/tU8-xKKZu5Q

[2021-07-30 02:13] cheimu commented on #11729
It seems like it got converged...
![image](https://user-images.githubusercontent.com/13050415/127589324-55b3c204-9723-4dab-840d-811c3f8172e6.png)
I got other pods with similar behavior as well. I'll let them run for another 12 hours to see the result.

[2021-07-30 02:29] nealhu commented on #9760
/assign

[2021-07-30 08:29] acodetailor opened #11748 "how the service-public ，service-private work ？"
## Ask your question here:

Q1：when create a ksvc , service-public and service-private will be create , when pod num is zero , data will send to activitor, util pod ready ,data send to pod。  when the pod ready , if the data will continue send to activitor ?  i`m  not find the code。

[2021-07-30 11:37] necatican commented on #10873
/assign

Hey,
I will try to tackle this one for my first contribution.

[2021-07-30 21:52] #3587 closed

[2021-07-31 12:06] #11730 closed

[2021-08-01 02:28] nealhu commented on #9760
Just made a PR https://github.com/knative/serving/pull/11751 for this. TestContainerErrorMsg fails when KO_DOCKER_REPO points to DockerHub, because DockerHub doesn't distinguish "the image doesn't exist" from "unauthorized to access the image". I suspect other registries might have a similar behavior, therefore I just allow the error message to contain the unauthorized error code and that fixes th

[2021-08-01 09:32] JesseStutler opened #11753 "How to let revision fetch image from insecure private registry?"
## In what area(s)?
/area build

## Ask your question here:
In China, we can't pull images from gcr.io, so we build a proxy container registry on a foreign area machine. We can pull images from the original way `gcr.io/knative-releases/knative.dev/serving/xxx` to `gcr.yyy.com/knative-releases/knative.dev/serving/xxx`. For personal reasons, right now we can just use HTTP to pull images from gcr.yyy

[2021-08-03 02:15] nealhu commented on #10852
Hey @julz I'd love to investigate into this issue. Assigning myself, but feel free to let me know if there is another plan already.

/assign

[2021-08-03 06:51] julz commented on #10852
We _may_ want to wait for https://github.com/knative/serving/issues/10851 to land before picking this one up to avoid potentially solving some of the same/similar problems twice

(Unless @skonto things they're independent enough to progress separately)

[2021-08-03 07:34] 2637309949 opened #11761 "how to connect with tls"
[code]

[2021-08-03 09:02] markusthoemmes commented on #11693
Agree that it's most likely due to our optimizations. Also agree that the most sensible way of fixing this is likely to disable the optimization for exec probes.

I've went checking a bit if it's simple to surface the container's status to the queue-proxy. However, the downward API doesn't support that and other means of obtaining the status (i.e. Kube API) won't actually be fast than just disabli

[2021-08-03 09:29] julz commented on #11761
Hi @2637309949 - could you please provide a bit more detail about your problem? The [bug report template](https://github.com/knative/serving/issues/new?assignees=&labels=kind%2Fbug&template=bug-report.md&title=) asks for some things that are helpful to debug: in particular Knative version, and Steps to Reproduce (i.e. how you are installing Knative) would be extremely helpful here.

/triage needs-

[2021-08-03 20:55] skonto commented on #10852
@julz my plan is to add a `case` here https://github.com/knative/serving/blob/main/pkg/http/handler/timeout.go#L87 so I can check for the max duration and if so return a timeout using the same logic used for the first byte one. Idle timeout could be done by reseting a timer each time there is write and failing if the timer expires without a write. Another option is to have a dedicated handler for

[2021-08-03 22:23] nealhu commented on #10852
Yes I agree we should sync on this, I did some investigation on this and here is some findings & thoughts:
1. The concept of idle varies on different protocols.
    - For HTTP 1.x, there is the keep alive setting. I.e.  the idle time between two HTTP requests. The connection gets closed/recycled if the time exceeds some threshold.
    - For HTTP 2, there is some healthcheck mechanism that sends pe

[2021-08-04 01:23] #8685 closed

[2021-08-04 01:54] csantanapr commented on #11712
I have not seeing the problem with the extra retry, please open a new issue if this happens again

[2021-08-04 19:25] #11635 closed

[2021-08-05 01:49] #11753 closed

[2021-08-05 05:59] cheimu commented on #7210
Highly Agree!
In my real case, for 1000 rps, queue_proxy will consume 500m CPU, which means in production, to guarantee stability of very busy and important services, the resources allocated to queue_proxy is at least 1 CPU, and this is only for 1000 rps. There are lots of services with very high rps, so as a sidecar that 1. enforces a concurrency level on the pod and 2. reports metrics we use to

[2021-08-05 08:43] #9760 closed

[2021-08-05 10:00] #11761 closed

[2021-08-05 23:10] mattmoor opened #11785 "Improve error message for configurable PodSpec fields"
/area API
/kind good-first-issue

## Describe the feature

For flagged fields like `kubernetes.podspec-fieldref` the validation should include the name of the feature flag to toggle in the error message it surfaces.  The validation logic is roughly here: https://github.com/knative/serving/blob/644798277d9fe6715e4f638281141356df46d7e1/pkg/apis/serving/k8s_validation.go#L246

[2021-08-06 01:27] nealhu commented on #10852
Hey @julz @skonto , I think we should settle on a plan. Based on the discussion above, I think the pending questions are:
1. What would be the defaults for these timeouts
2. Do we want to add timeout at to `http.Server` or use a similar logic as the first byte timeout handler
3. Do we want to add more timeout logic on top of the first byte timeout handler, or make each type of timeout a separate h

[2021-08-06 08:10] skonto commented on #10852
Agree on 1,2. For 3, regarding reusability I would refactor it if we need to reuse any of these handlers elsewhere.
Regarding testability I see these two timeouts as fixes/enhancements for `timeToFirstByteTimeoutHandler` and should be straightforward to expand the tests in `timeout_test.go`. Also makes sense to test combinations of the timeout settings at one place imho. If we use different handle

[2021-08-06 11:43] SeibertronSS opened #11786 "How to deploy a service that the image is pulled from the Harbor registry"
The image registry I use is Harbor private registry. I try to configure `ImagePullSecret` to enable the k8s cluster to access my Harbor registry. But this doesn't work. The error message is:
[code]

[2021-08-06 12:05] knative-test-reporter-robot opened #11787 "[flaky] pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/prod-domain.com"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/prod-domain.com
* **Repository name**: serving

[2021-08-07 01:52] SeibertronSS commented on #11753
I have a similar problem with you. I have a similar problem with you. Similarly, for some reasons, I need to use the Harbor private registry, but knative can‘t access my private registry. I try to ues `ImagePullSecret` and `HTTP PROXY`, but it doesn't work, I still get almost the same error. Is the configured `HTTP PROXY` not working? Have you found a solution?

The reason why the controller can't

[2021-08-08 02:57] JesseStutler commented on #11753
@SeibertronSS Not yet. Now I'm tring to build a HTTPS proxy, but still got some weird problems. If it still doesn't work, I will take your suggestions and use HTTP proxy next time.

[2021-08-08 12:06] knative-test-reporter-robot opened #11789 "[flaky] test/e2e/autotls.TestTLSDisabledWithAnnotation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/autotls.TestTLSDisabledWithAnnotation
* **Repository name**: serving

[2021-08-08 12:06] knative-test-reporter-robot opened #11790 "[flaky] test/e2e/autotls.TestDomainMappingAutoTLS"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/autotls.TestDomainMappingAutoTLS
* **Repository name**: serving

[2021-08-09 02:52] nealhu commented on #10852
Hey @julz I made a WIP PR and added some questions there, let's move the discussion there https://github.com/knative/serving/pull/11791

[2021-08-10 03:02] markwinter opened #11792 "One pod has much more CPU than other pods with RPS Autoscaling"
/area autoscale

## Ask your question here:

I am using KFServing which uses Knative Serving

I have 200 RPS autoscaling enabled and 2-16 replicas.

When load testing with 2500QPS, I notice that one pod will get max CPU while the rest of the pods are evenly distributed.
This causes bad tail-end performance.

If I delete the pod, the tail-end performance improves until the new pod spawns and gets t

[2021-08-10 03:18] moadi opened #11793 "How to ensure graceful termination of pods with KN serving"
## Ask your question here:

Hello,

We are currently using KN serving v0.24 (with Istio v1.10.2) in our development cluster where I'm trying to get graceful shutdown working for our Java services running in a Jetty servlet container. I have enabled graceful shutdown for Jetty and when I run with Istio sidecar injection disabled, I'm able to drain existing requests on pod shutdown gracefully.

Howe

[2021-08-10 05:35] markwinter commented on #11792
I tried using different resources and scaling and again one pod is getting much higher CPU usage than the rest

[code]

The following is while sending ~350QPS so there is still room to scale up

![image](https://user-images.githubusercontent.com/4998112/128813583-c803e146-7d14-457d-bd1b-05ed1f8f9543.png)

[2021-08-10 06:09] markwinter commented on #11792
Currently we are using an old version of Knative `serving.knative.dev/release=v0.14.3`

Maybe this is fixed in newer releases?

[2021-08-10 10:25] julz commented on #11792
Hi @markwinter - that release is certainly quite old, so it would indeed be helpful to try with a later release, if only because it would make debugging easier. I believe that in old releases (and in current release but only when containerConcurrency is less than 3) our load balancing preferred to send load to instances in-order when the activator was in the path (that is, it would fill up the fir

[2021-08-10 12:06] #11790 closed

[2021-08-10 12:06] #11721 closed

[2021-08-10 12:06] knative-test-reporter-robot opened #11795 "[flaky] test/conformance/api/v1.TestRouteCreation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestRouteCreation
* **Repository name**: serving

[2021-08-10 12:06] #11789 closed

[2021-08-10 18:04] yanweiguo opened #11796 "Conformance tests should not test against `latest` tag without specifying a revision in traffic target"
## Describe the feature

Sub-task of #11710.

[Serving api specification](https://github.com/knative/specs/blob/main/specs/serving/knative-api-specification-1.0.md) requires [trafficTarget.tag](https://github.com/knative/specs/blob/main/specs/serving/knative-api-specification-1.0.md#traffictarget) but doesn't mention additional behaviors for `latest` tag. The existing conformance test is testing t

[2021-08-10 18:05] yanweiguo commented on #11796
cc @dprotaso @salaboy

[2021-08-10 18:13] yanweiguo opened #11797 "Conformance tests should not depend on `serving.knative.dev/routingState` label"
## Describe the feature

Sub-task of #11710.

[Serving api specification](https://github.com/knative/specs/blob/main/specs/serving/knative-api-specification-1.0.md) doesn't require label with key `serving.knative.dev/routingState`. However existing conformance test depends on it to check whether the latest revision is ready for traffic: https://github.com/knative/serving/blob/main/test/v1/service.

[2021-08-10 18:13] yanweiguo commented on #11797
cc @dprotaso @salaboy

[2021-08-11 02:03] markwinter commented on #11792
When using `containerConcurrency` instead of a soft limit, the cpu usage seems more correct
![image](https://user-images.githubusercontent.com/4998112/128958356-1365bd95-11b8-416a-94a5-4f550a36047f.png)

[code]

Is it the case that `containerConcurrency is less than 3` doesn't take into account `containerConcurrency = 0` ?

[2021-08-11 04:23] markwinter commented on #11792
When using HPA the cpu is distributed normally too.

![image](https://user-images.githubusercontent.com/4998112/128969317-a4c9fb9d-eb71-4572-abff-a87d54df872c.png)

[code]

[2021-08-11 09:20] salaboy commented on #11797
@yanweiguo are you planning to create a PR for this? just for me to look into possible options to fix this

[2021-08-11 09:22] salaboy commented on #11796
@yanweiguo I am trying to understand the specific problem here.. is the problem that "latest" is defaulted and that's not in the spec? Would you think that it will be a problem to add that to the spec? In my opinion, having the "latest" default behaviour simplifies a lot the user experience.

[2021-08-11 15:15] dprotaso commented on #9045
/lifecycle frozen

[2021-08-11 17:06] yanweiguo commented on #11797
I'm not working on it right now. Feel free to pick it up.

[2021-08-11 17:12] yanweiguo commented on #11796
Yeah "latest" defaults to latest deployed revision. I agree this is helpful. However I'm not sure whether this default behavior should be required.

[2021-08-11 18:01] yanweiguo commented on #11796
I was wrong. It is not about `latest` tag but `latestRevision` field. The specs documents that `When provided latestRevision MUST be true if revisionName is empty, and it MUST be false when revisionName is non-empty.`. So it is intended behavior.

[2021-08-11 18:07] yanweiguo commented on #11796
The code is here: https://github.com/knative/serving/blob/main/pkg/apis/serving/v1/route_defaults.go#L56

[2021-08-11 18:07] #11796 closed

[2021-08-12 16:38] yanweiguo opened #11801 "Change all e2e tests flags to `hyphen-case`"
## Describe the feature

[`customdomain`](https://github.com/knative/serving/blob/main/test/e2e_flags.go#L53) and [`resolvabledomain`](https://github.com/knative/serving/blob/main/test/e2e_flags.go#L50) are not in hyphen case, which are not consistent with other flags..

[2021-08-12 22:07] yanweiguo commented on #11797
The reason why we compare this label is documented in the comment: ` Without this it might happen that the latest created revision is later overridden by a newer one and the following check for LatestReadyRevisionName would fail.`. It's introduced in https://github.com/knative/serving/pull/5956 to make upgrade tests.

However in conformance tests, we can can control and ensure there's only one new

[2021-08-13 01:34] nak3 commented on #11801
FYI: we had a similar discussion https://github.com/knative/networking/issues/214 before (and it was not solved.)

[2021-08-13 08:39] zouyee commented on #11786
`kubectl edit -n knative-serving cm config-deployment`

[2021-08-13 08:42] zouyee commented on #11786
https://knative.dev/docs/admin/serving/deployment/#skipping-tag-resolution

[2021-08-13 12:20] julz commented on #11786
Hi @SeibertronSS - Based on the error message it looks like the knative controller is not able to access the Harbor registry (the connection timed out). Perhaps you can check the networking in your environment to ensure that pods in the Knative-serving namespace can access the registry?

[2021-08-13 13:08] SeibertronSS commented on #11786
Hi @julz My network can access my registry, I can push or pull the image to it. I feel that knative can‘t resolve to my registry address, even if I configure `HTTP_PROXY` and `HTTPS_PROXY`.  The address of my registry is `http://dockerhub.xxx.com`, but knative resolves to `https://dockerhub.xxx.com/v2/`

[2021-08-13 13:14] SeibertronSS commented on #11786
Hi @zouyee, after I set `data.registriesSkippingTagResolving`, my knative-controller doen't work properly. The error message is
[code]

[code]

[2021-08-13 13:21] julz commented on #11786
Your Kubelet may be able to access the registry, but you may have NetworkPolicy in place that would prevent pods accessing it. Are you able to push and pull to the registry from a pod running inside the cluster?

It sounds from the above though like your registry is only running on http and not https, so is an insecure registry. Is this correct? If so it would be helpful to know how you configured

[2021-08-13 20:28] psschwei commented on #10001
Haven't been able to work on this, but will come back to it once I free up some.

[2021-08-15 01:22] #11205 closed

[2021-08-16 09:42] daisy-ycguo commented on #11448
I met with the same problem on Kubernetes 1.22. It used to work fine on Kubernetes 1.21.
@julz，could you check your Kubernetes version ?

[2021-08-16 10:09] vdemeester commented on #11448
This is also something happening on tektoncd/pipeline with 1.22 (OCP 4.9 nightly and even k8s 1.22 it seems)

[2021-08-16 10:35] julz commented on #11448
Created https://github.com/knative/serving/pull/11805 to get 1.22 in to CI and see if we can reproduce there.

[2021-08-16 11:08] jwcesign opened #11809 "when there is a image pulled, an error happened."
ENV:
I am trying to build a developing environment for knative, when I try the example service. I meet the error infomation below:
[code]

But the most import is, I pulled the image already.
[code]

how to fix this?

[2021-08-16 12:05] #11558 closed

[2021-08-16 12:53] nak3 commented on #11809
Hi @jwcesign
Knative does [tag resolution](https://knative.dev/development/developer/serving/tag-resolution/) and your knative app seems to fail that.

I think you could fix the issue by setting `registriesSkippingTagResolving` so could you tried it? Please also refer to this docs for the setting - [Skipping tag resolution](https://knative.dev/docs/admin/serving/deployment/#skipping-tag-resolution

[2021-08-17 01:56] jwcesign commented on #11809
@nak3 Thanks, I tried, here is what the config is：
first `kubectl edit configmap config-deployment -nknative-serving`
[code]
the validation error is:
[code]

then I edit again as bellows:
[code]

but it doesn't work.

[2021-08-17 02:14] nak3 commented on #11809
Thank you for the update. So did you fix the validation error by yourself? If not, please don't modify the block in `_example:` but just add `registriesSkippingTagResolving` as you added.
Also, could you please remove the space in `kind.local,ko.local,dev.local, gcr.io`? Please use `kind.local,ko.local,dev.local,gcr.io` instead.

And please let me know if you still hit exact same error with this o

[2021-08-17 03:03] jinxin-fu opened #11810 "How to use prometheus to find the application create by Knative automatically"
## Ask your question here:
when I create some service use Knative serving，How can I get the queue-proxy metric by prometheus automatically

[2021-08-17 06:07] jinxin-fu commented on #11810
In kubernetes 1.21.x . I use "kubectl apply -f https://raw.githubusercontent.com/knative/docs/master/docs/install/collecting-metrics/collector.yaml" to create collector, then I meet a error as follow
Error: cannot load configuration: error reading top level configuration sections: 1 error(s) decoding:

* 'service.extensions[0]' expected type 'string', got unconvertible type 'map[string]interface {

[2021-08-17 06:11] jwcesign opened #11811 ""ko apply --watch -Rf config/core/" sometimes cost too long time"
when I change the code and rebuild the img with `ko`, it work too slow, but in my test, the fist time not so slow.
[code]

so my question is: when from first time, the command `ko apply --watch -Rf config/core/` work fast, but after I reset and exec this command again, it will stop there very long time(I don't know whether it will continue)
Is there any way to make it faster?

[2021-08-17 06:33] jwcesign commented on #11811
or any way to know what is happening?

[2021-08-17 07:29] jwcesign commented on #11811
I dont know why, it looks like getting normal, working fast.

[2021-08-17 07:33] jwcesign opened #11813 "when exec `ko apply -Rf config/core/`, there is not the image of domain-mapping"
when I exec `ko apply -Rf config/core/`, here is the output:
[code]

I can find in the output log:
[code]

but when I exec `docker images` to check, there isn't this image. other works ok.
[code]
How to fix this?

[2021-08-17 07:35] #11811 closed

[2021-08-17 08:58] SeibertronSS commented on #11786
I install kubernetes through kubeadm, and I don't make additional settings for it. I just set the private registry in docker. I currently use `skip-tag` to solve the above problem.
Unfortunately, this registry is not managed by me, I can’t set HTTPS on it .

[2021-08-17 08:58] #11786 closed

[2021-08-17 08:58] #11672 closed

[2021-08-17 09:16] julz commented on #11813
This is very weird! Do you also see the domain mapping controller pod failing to start or it only the `docker images` output? (what does `kubectl get pods -nknative-serving` show?)

[2021-08-17 09:19] julz commented on #11813
Could you also confirm that you're running at HEAD of knative (what does `git rev-parse HEAD` say?)

[2021-08-17 09:32] jwcesign commented on #11813
`kubectl get pods` show  ImagePullBackOff, the error like(here is queue img)：
[code]

for `serving repo`, I just clone it. nothing did. Here is the output.
[code]

[2021-08-17 09:40] jwcesign commented on #11809
It works after delete the space, maybe it can be fixed?  the space shouldn't cause this confused question, in my opinion.

[2021-08-17 09:44] jinxin-fu commented on #11810
I use the yaml from Knative_doc(remove the service extensions in the configmap as  describe above),
of course I have config the config-observability as below:
[code]
But there is no metrics data when I visit the svc  otel-export:8889/metrics .  Am I Ignore any critical configuration , I didn't see relevant information on the offical website.

[2021-08-17 10:20] julz commented on #11813
It's a rather strange bug, so I wouldn't be surprised if this was the problem. It's possible deleting half-way could have got things in to an odd state where the sha is still there in docker (so `ko` doesn't try to recreate the image) but the image metadata isn't. This might be more of an issue to discuss with http://github.com/google/ko, though. It's possible `docker image prune -a` may clean up

[2021-08-17 10:59] jwcesign commented on #11813
@julz I will try `docker image prune -a` if I meet the situation again.

[2021-08-17 19:36] dprotaso opened #11821 "Migrating Route off Service.ExternalName"
### How does Knative use `Service.ExternalName`

We currently create an `ExternalName` service for each Knative Route. This results in a CNAME DNS record making the Route accessible within the cluster. This path supports all the desired traffic splitting features etc.

The `ExternalName` value is typically sourced from the `KIngress.Status.(Public|Private)LoadBalancer property`.  Current ingress i

[2021-08-17 19:37] dprotaso commented on #11821
/assign @dprotaso

I've been working on 2.1

[2021-08-17 19:40] julz commented on #11821
agree 2.1 feels like the most promising approach

[2021-08-17 19:52] evankanderson commented on #11821
2.1 feels fairly promising. I wanted to make one comment on the implementation:

It's possible to use subsetting here to reduce the number of IPs handed out for each Service, but (on further reflection), I think the single-IP approach is probably acceptable.

I agree that we should _also_ engage with the Gateway API to enable this sort of rewriting within a single Gateway; our current network data

[2021-08-18 01:57] jinxin-fu opened #11822 "In Knatvie 1.24.0 , how can I use opentelemery collector for Knative-components such as autoscaler/Activator"
## Ask your question here:
I follow the direct doc "Collecting Metrics with OpenTelemetry" and deploy otel deployment whit relevant service. Also I configure the config-observability:
[code]
I use a external service in NodePort mode to expose the service which I can visit it outside the cluster. But when I visit the otel-export:8889/metrics on the webside,  an empty page can be got . I wonder if s

[2021-08-18 07:58] jinxin-fu commented on #11822
maybe I shuold use
[code]
to config the config-observability but still get nothing from the opentelemetry-collector

The queue-proxy prints logs as follow:
[code]

[2021-08-18 08:41] jinxin-fu commented on #11822
/assign @evankanderson  Hi ， I am a software developer  using Knative  to construct a serverless-platform  . I have installed Knative 1.23.0 successful , now I need to use Prometheus or Thanos to monitor the whole system as well as the user-application(data from queue-proxy). I wonder if the key in the patch for config-observability should be "request-metrics-backend-destination" or "metrics.reque

[2021-08-18 11:32] markwinter commented on #11792
I actually experienced this with HPA autoscaling too. Two Pods had high CPU usage, while the other 33 replicas were equal.

I will check that it's not related to Locust load test at all.

[2021-08-18 12:07] knative-test-reporter-robot opened #11826 "[flaky] test/e2e.TestHPAAutoscaleUpDownUp"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestHPAAutoscaleUpDownUp
* **Repository name**: serving

[2021-08-19 01:41] #11813 closed

[2021-08-19 13:04] jwcesign opened #11829 "When using domainmapping, I need to route the request to the kourier, but not work for NodePort type kourier"
here is my test case:
[code]

here is my domaincliam and domainmapping:
[code]

when kourier is using `LoadBalancer`, it works good with curl command, but the ip is private. But for domainmapping, I need the public ip, so I used NodePod for kourier  for exposing, as bellow:
[code]

but when I check `svc` and `netstat`, the port not expose:
[code]

output of `netstat`
[code]

[2021-08-19 13:06] julz commented on #11829
Hi @jwcesign - Im not sure I quite follow why the same approach you took to set up DNS for regular Knative Services with kourier using LoadBalancer doesn't also work with DomainMapping. I don't think I'd expect you to need to change Kourier to use NodePort for DomainMapping to work.

[2021-08-19 13:10] jwcesign commented on #11829
But the domainmapping needs cluster ip, the cluster ip should be accessable from internet, so if LoadBalancer, the svc output is:

[2021-08-19 13:17] julz commented on #11829
it only needs cluster ip to the same extent regular Knative Services do. How are you currently access external Knative Services?

[2021-08-19 13:49] jwcesign commented on #11829
Oh, ok I understand.

[2021-08-19 13:50] #11829 closed

[2021-08-19 14:40] psschwei opened #11831 "Add handler to track request count on pod in queue proxy [Pod Freezer]"
Add a handler to track request counts to each kservice pod when the concurrencyStateEndpoint is set (i.e. != "")

(part of Pod Freezer feature track, see #11694 for more details)

/area autoscale
/assign

[2021-08-19 15:03] psschwei opened #11832 "Add call to endpoint [Pod Freezer]"
Add call to endpoint for when the request count for a pod scales to/from zero.

(part of Pod Freezer feature track, see #11694 for more details)

/area autoscale
/assign

[2021-08-19 15:16] psschwei opened #11833 "Add serviceAccountToken via projected volume when concurrency state endpoint set [Pod Freezer]"
Mount a projected volume to the queue-proxy container, containing a serviceAccountToken, when a concurrencyStateEndpoint is set. The concurrency state handler will use this token for authentication with the pod freezer service (running outside of QP).

(part of Pod Freezer feature track, see #11694 for more details)

/area autoscale
/assign

[2021-08-19 15:29] psschwei opened #11834 "Handling retries in Pod Freezer"
Currently, the concurrency state handler panics when a [pause](https://github.com/psschwei/serving/blob/freeze-endpoint/pkg/queue/concurrency_state.go#L60) or a [resume](https://github.com/psschwei/serving/blob/freeze-endpoint/pkg/queue/concurrency_state.go#L72) fails.

As discussed [here](https://github.com/knative/serving/pull/11802#discussion_r688478651), we want to improve what happens when th

[2021-08-19 16:24] psschwei opened #11835 "Create initial pod-freezer service"
Create initial service for pod freezer, using @julz 's [POC](https://github.com/julz/freeze-proxy/blob/master/cmd/daemon/main.go) as a starting point.

Work will be tracked in https://github.com/knative-sandbox/container-freezer/issues

(part of Pod Freezer feature track, see #11694 for more details)

/area autoscale
/assign

[2021-08-19 18:24] psschwei commented on #11717
I looked into this a little today, using Serving v0.25.0 and kourier networking layer on IKS.

A couple of notes:
- Curling the app after deleting the image didn't result in an error for me. Looks like the image was deployed back to the same node and so didn't need to repull the image. I tried five or six times, and each time was the same. Not sure if that's a feature or a bug.
- After deleting th

[2021-08-20 01:21] #11231 closed

[2021-08-20 08:04] charles-woshicai commented on #11785
/assign

[2021-08-20 08:36] markwinter commented on #11792
Sorry for any time spent looking at this issue.

We discovered we had a bad node causing the issues.

[2021-08-20 08:36] #11792 closed

[2021-08-20 12:05] julz commented on #11793
Hi @moadi - sorry for the slightly slow response on this! I'm afraid I think this question is probably one best answered by the Istio folks: the queue proxy has logic to ensure it gracefully shuts down only when all requests are drained, but I think you're right that currently Istio only allows an absolute drain time, with the downsides you describe -- my knowledge of Istio is much less than you'd

[2021-08-20 16:18] mattmoor opened #11842 "`serviceAccountName` validation uses helper backwards."
/area API
/kind good-first-issue

## What version of Knative?

HEAD

## Expected Behavior

This logic here:
https://github.com/knative/serving/blob/644798277d9fe6715e4f638281141356df46d7e1/pkg/apis/serving/k8s_validation.go#L333-L337

Should transpose the arguments: `apis.ErrInvalidValue(ps.ServiceAccountName, "serviceAccountName")`,  and should probably include the contents of the error messages

[2021-08-20 16:18] mattmoor commented on #11842
/good-first-issue

[2021-08-20 19:32] psschwei commented on #11835
Repo creation request: https://github.com/knative/community/issues/742

[2021-08-21 01:20] #11092 closed

[2021-08-21 08:21] salaboy opened #11844 "Emit CloudEvents (CD.foundation Events) For Knative Services"
## Describe the feature

It will be great to have CloudEvents being emitted when a new Service is up and ready to serve traffic and when the Service is Down and not available to serve traffic. CloudEvents should be also emitted when a new Revision of a Service is available.
This will help other tools to understand what is going on with the deployed services, enabling CloudEvent based monitoring to

[2021-08-21 10:51] vincent-pli commented on #11842
/assign

[2021-08-21 10:52] vincent-pli commented on #11842
I want to take a try, new for `knative serving`, thanks

[2021-08-21 12:06] #11826 closed

[2021-08-22 12:06] knative-test-reporter-robot opened #11846 "[flaky] test/e2e.TestMinScale"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestMinScale
* **Repository name**: serving

[2021-08-23 07:56] #11842 closed

[2021-08-23 12:06] #11258 closed

[2021-08-23 12:43] nak3 commented on #9045
kind supports IPv6 but it seems github actions still does not support IPv6 as per https://github.com/actions/virtual-environments/issues/668

Btw, https://github.com/knative/serving/pull/11843 will change the placeholder service to `clusterIP: None`. And it will set `ipFamilyPolicy: RequireDualStack`.

[2021-08-23 15:37] moadi commented on #11793
Hi @julz , thanks for getting back to me! You're right, we ended up solving this by following a couple of Istio threads around the same topic of graceful shutdown. As suggested by some of the folks there, we modified our Istio installation to patch the sidecar template and added a prestop hook that makes the envoy sidecar wait for the user-container to terminate. The queue-proxy handles draining t

[2021-08-23 15:37] #11793 closed

[2021-08-23 15:45] moadi opened #11852 "How to use gradual rollout of traffic feature"
## Ask your question here:

Hello,

Our current KN services are setup such that we route traffic to the latest revision as soon as it becomes ready. I believe this is the default behaviour as we aren't specifying anything for the traffic spec in our KN service yamls. I came across https://knative.dev/docs/developer/serving/rolling-out-latest-revision/ and wanted to set this annotation on one of ou

[2021-08-23 15:56] moadi commented on #11852
Apologies - this turned out to be a misconfiguration at our end. Working as documented now!

[2021-08-23 15:56] #11852 closed

[2021-08-23 16:19] vagababov commented on #11852
Great, I got worried for a second :)

[2021-08-23 16:21] jwcesign commented on #11809
so maybe I can change the code like this:
[code]

/assign nak3

[2021-08-23 21:34] liggitt commented on #11448
discussion with k8s api-machinery on the topic at https://kubernetes.slack.com/archives/C0EG7JC6T/p1629219036101100, wrapping up with:

[2021-08-23 21:46] lavalamp commented on #11448
Let me repeat the other thing I said, too: There's not much point in having a webhook disallow unknown fields -- the only time you'll see "not allowed" fields from the server is if the server has a different idea about what is allowed than the webhook does.

[2021-08-23 22:00] liggitt commented on #11448
based on the description in https://github.com/knative/serving/pull/11848

I think this was being used to prevent unknown fields from being persisted in scenarios where the webhook had a go type and the CRD did not define a schema

[2021-08-23 22:20] lavalamp commented on #11448
I see, that makes sense. Yes, if you're going to do that, I'd remove metadata prior to validating and parse that separately.

If space is preventing adding in schemas, you can save a bit of space by not using client side apply, and if absolutely necessary you can send proto-encoded objects to apiserver, which may save a little more.

[2021-08-23 22:29] julz commented on #11448
@liggitt that's exactly right. I think now we have schemas in Knative CRDs we can and should rely on those. Unfortunately Tekton doesn't have schemas yet (and we're worried the size of the needed schemas would exceed limits, based on previous investigations, but this needs revalidating).

[2021-08-23 23:44] nak3 commented on #11809
@jwcesign sorry for my late response. Please feel free to propose your change or open the issue in https://github.com/knative/pkg repo.
What I am unsure is that the pkg repo is a shared library so not sure how many projects are using and effected by the change.

[2021-08-23 23:53] cowbon commented on #11448
Based on the comments above

This is caused by `apiextensions.k8s.io/v1beta1 CustomResiurceDefinition` being unavailable in Kubernetes v1.22+ found in [net-istio.yaml](https://github.com/knative/net-istio/releases/download/v0.23.0/net-istio.yaml). Migrating to  apiextensions.k8s.io/v1 CustomResiurceDefinition` solves the issue.

[2021-08-24 01:25] jwcesign commented on #11809
OK, I open a issue here: https://github.com/knative/pkg/issues/2229

[2021-08-24 02:07] jinxin-fu opened #11854 "Can Opentelemetry Collector be used to collect informations from Knative-serving components in latest version(1.24.0)"
## Ask your question here:
Can Opentelemetry Collector be used to collect informations from Knative-serving components in latest version(1.24.0).

[2021-08-24 03:19] nealhu commented on #11532
Hey team, I'm interested in fixing this, as suggested earlier in the thread, I went to check the subsetting logic and I think there is an issue around https://github.com/knative/serving/blob/44f60331bbfd21eb6a2bb324812f401aabb2d3d4/pkg/activator/net/throttler.go#L371-L376
This means, when there is one pod and multiple activators, all activators will think they get the pod assigned to themselves. M

[2021-08-24 03:22] nak3 commented on #11809
Thank you. I close this issue.

[2021-08-24 03:22] #11809 closed

[2021-08-24 07:26] julz commented on #11532
@nealhu i think this is correct, but also (iiuc) intentional. When there is only one pod we don't want to subset it to a single activator because then if that activator happens to crash/get restarted we have an outage (rather than the request hitting another activator and succeeding). This is why we were thinking another solution might be that if a request hits the wrong activator it could forward

[2021-08-24 08:46] markusthoemmes commented on #11448
FWIW, so it doesn't get lost in translation: The hybrid solution (allowing unknown fields only in metadata) could look somewhat like this:

[code]

[2021-08-24 09:04] julz commented on #11448
could also do something along the lines of https://play.golang.org/p/ZYxKGepYVvGm maybe

[2021-08-24 09:56] julz commented on #11793
Thanks for the update @moadi - this may well help a future reader of these issues out!

[2021-08-24 10:28] julz commented on #11717
In regular Kubernetes deployments the ProgressDeadline would kick in and give you an error message (and terminal-state failure) in a case like this, but I think we avoid doing that because it's difficult to square with scale from zero where you don't expect a temporary failure to mean the service never scales up again (once it has passed initScale, anyway). So I think we want to bubble an error up

[2021-08-24 10:29] julz commented on #11717
/assign
/triage needs-user-input

[2021-08-24 17:26] #10764 closed

[2021-08-24 18:48] adriangudas opened #11862 "The importance of the Activator in autoscaling"
Hello folks,

knative version: 0.24

We’re seeing uneven traffic distribution between replicas in a 5-pod deployment in Knative Serving, for a service handling about 300-400 requests per second. For example, 2 out of the 3 pods will show 100 rps, while the other three will show 30 rps. Our minScale is set to 5, and we would expect to see a more even distribution of traffic between the 5 pods. Here

[2021-08-24 19:39] vagababov commented on #11862
So it is all governed by the `target-burst-capacity` and `target-utilization` settings — on the KSvc or in the config map. When ksvc has less spare capacity than TBC activator will be in the path, otherwise removed (and you can always have it in the path, or never for scaled up services tbc=-1 or 0 accordingly).

If you have a sudden burst of traffic if spare capacity drops below TBC level (defaul

[2021-08-24 21:01] dprotaso commented on #11821
If we plan on migrating to EndpointSlices with CNAME records in the future we should confirm ingresses support them. I would hope it's transparent but we should confirm.

ie. https://github.com/projectcontour/contour/issues/3950#issuecomment-904967484

[2021-08-25 00:10] duglin commented on #11717
I’d say one of the existing conditions. Using a Kube event is risky because those get gc’d after about an hour.

[2021-08-25 02:34] nealhu commented on #11532
Thanks @julz , just to expand a bit on what you said to make sure I understand, say there are 2 activators (A and B) and 1 pod:

If we don't subset (current behavior)
- Both A and B can send traffic to the pod
- If a client has a connection to the pod via A and A crashes, the client will reconnect to B and connect to the pod via B immediately

If we subset
- Say A can send traffic to the pod, B wo

[2021-08-25 07:16] julz commented on #10037
/assign

[2021-08-25 07:26] mqyang56 opened #11864 "Does serving support pod schedulerName and initContianer fileds?"
## Ask your question here:
Does serving support pod schedulerName and initContianer fileds?

[2021-08-25 12:29] nak3 commented on #11864
Hi @mqyang56
They are not supported for now. Here are the discussion thread:
https://github.com/knative/serving/issues/4307 (initContianer)
https://github.com/knative/serving/issues/10029 (schedulerName)
If you don't mind, could you please comment your use case in above issues?

[2021-08-25 12:48] mqyang56 commented on #11864
thx.

[2021-08-25 12:48] #11864 closed

[2021-08-25 15:01] julz commented on #11717
ok, looks like we [already have code](https://github.com/knative/serving/blob/d5d489c0babd5c9ae9a37d707c06df92d70711f5/pkg/reconciler/revision/reconcile_resources.go#L87) to propagate errors up in the case that things are crashing or resource are unavailable, but it doesn't handle unavailable images. I'm going to try extending this to handle image failures.

[2021-08-27 08:30] jainmanas13 opened #11877 "When Istio-injection is enabled in knative-serving, Activator/Autoscaler not able to connect to the pods of other namespace. (with Istio v1.9.x)"
## What version of Knative?

0.24.0

## Expected Behavior

Autoscaler should return 200 when it does GET on /metrics of pods of other namespace.

## Actual Behavior

When istio-injection is enabled in knative-serving namespace, Autoscaler is returns 502 when it does GET on /metrics of microservices and hence microservice's calls not working via Postman.
When istio-injection is disabled for Activat

[2021-08-28 00:34] #11286 closed

[2021-08-28 00:44] nak3 commented on #11286
`stable-mesh-short`  passes all test.
Removing/decreasing scale-200 for mesh was already proposed before but https://github.com/knative/serving/pull/5989 was not accepted.

[2021-08-30 07:01] shydefoo opened #11885 "Purpose of net-istio controller and net-istio webhook deployment"
## Ask your question here:
`net-istio.yaml` contains 2 deployments, `net-istio-controller` and `net-istio-webhook`

What is the purpose of each deployment?

My current understanding is knative has an Ingress CR that `net-istio-controller` will reconcile by creating istio `VirtualService` CRs, where does `net-istio-webhook` come into play here?

[2021-08-30 07:10] markusthoemmes commented on #11885
You're right, the controller reconciles Knative's Ingress into Istio API to configure the gateways correctly. The main type used is VirtualService.
The webhook applies a necessary label to all deployments created by Knative Serving. See https://github.com/knative-sandbox/net-istio/blob/main/pkg/defaults/deployment_defaults.go for its implementation.

[2021-08-30 08:10] shydefoo commented on #11885
Thanks @markusthoemmes, I see for the `net-istio-controller` deployment, there is the comment
[code]
For the `net-istio-webhook` deployment, is there any potential issue if it is **not** excluded from the service mesh?

[2021-08-30 08:26] markusthoemmes commented on #11885
webhooks may be finicky in the mesh because of their need to communicate with the K8s API. I'm not super knowledgeable on that though. You might want to move this to https://github.com/knative-sandbox/net-istio/

[2021-08-30 08:46] shydefoo commented on #11885
Sure, thanks!

[2021-08-30 08:46] #11885 closed

[2021-08-30 09:18] shydefoo commented on #11885
Ok upon closer inspection, there are `PeerAuthentication` CRs in `net-istio.yaml` which sets mtls to PERMISSIVE mode on the webhooks on port 8443. I had istio-proxy injected in the webhook deployments but the presence of these CRs were probably why things still worked fine.

[2021-08-30 12:28] jwcesign commented on #11834
### The design of Pod Freezer：
![image](https://user-images.githubusercontent.com/19745536/131338787-13dcf622-b934-43c9-ab35-2a51e4742b2a.png)

The works left:
1.	Retry logic when pause/resume fails.
1)	How to detect the failure.
I think there is two kinds of failure, 1 is the function call error for resume/pause, 2 is the function call is successful, but it does not really pause/resume the contai

[2021-08-30 14:51] msgurikar opened #11889 "KNative Grpc connection is getting disconnected for log running operations."
## Ask your question here:
I use KNative serving to autoscale our grpc application(grpc service), client is receiving below error when grpc service is running for more than 3 mins. How do i increase http timeout in Knative Istio for long running operations.

Thank you.

"grpc_message":"Stream removed","grpc_status":2}"),Status(StatusCode="Unknown", Detail="Stream removed", DebugException="Grpc.Cor

[2021-08-30 22:13] chmodrs opened #11892 "custom domain with context path"
Hi everyone,

I have been testing knative in my development eks cluster for my legacy application and i'm using the follow configuration:

**config-domain configmap:**

`mydomain.com: ""`

**config-network configmap**

[code]

and my knative service example:

[code]

and when i access the domain "myapp.mydomain.com" everythinng works!

But in production environment, the application that i would li

[2021-08-30 22:23] msgurikar commented on #11889
Here is the log of side car proxy.

{"severity":"ERROR","timestamp":"2021-08-30T22:19:04.699504541Z","logger":"queueproxy","caller":"network/error_handler.go:33","message":"error reverse proxying request; sockstat: sockets: used 18\nTCP: inuse 1 orphan 0 tw 61 alloc 402 mem 176\nUDP: inuse 0 mem 2\nUDPLITE: inuse 0\nRAW: inuse 0\nFRAG: inuse 0 memory 0\n","commit":"5ad15df","knative.dev/key":"qi-e

[2021-08-31 11:02] jwcesign commented on #11892
@chmodrs Maybe try this: https://knative.dev/docs/serving/samples/knative-routing-go/

[2021-08-31 13:42] psschwei commented on #11834
Yes, please!

[2021-08-31 14:14] jwcesign commented on #11834
So how about the design of retry? Have any other things I should consider about? @psschwei

[2021-08-31 19:02] #1178 closed

[2021-08-31 21:01] psschwei commented on #11834
A couple of minor tweaks to your image:

* the pod for the kservice should only have two containers, (1) queue-proxy, and (2) user-container
* related to previous point, there isn't a separate freeze-controller container (@julz 's POC had a freeze-proxy that ran alongside queue-proxy and the user container, but as part of this work that functionality has been implemented inside queue-proxy, for ex

[2021-08-31 21:26] psschwei commented on #11834
One question I have is what to do if a retry fails? I think we want to get a new pod up as soon as possible (especially if it's a resume request), but what's the best way to do that is still an open question, I think.

[2021-09-01 05:51] shydefoo commented on #11877
I just faced this issue as well. It seems like autoscaler is scraping the pods directly by ip address and so when `istio-proxy` is injected, there are no route configurations present in the istio-proxy's config to route the `/metrics` requests to the pods directly. Could someone confirm if this is correct?

[2021-09-01 06:21] jwcesign commented on #11834
I think there is two ways,
1. Recall the function again container-fridge.
2. Relaunch a pod.

I prefer the first approach.

[2021-09-01 09:33] jwcesign commented on #11834
BTW, why not combine queue-proxy with freeze-daemon together? Has any disadvantage? What I know is maybe unsafe.

[2021-09-01 09:38] julz commented on #11834
Yeah, freeze daemon needs elevated permissions (to directly talk to containerd/docker socket) which we wouldn't want a regular ksvc pod to have. Also this way is more pluggable and lets people do the hacky things they need to do (directly messing with containers outside of k8s etc) in their own daemonset rather than having those things inside QP 🤓.

[2021-09-01 11:19] julz opened #11895 "Allow explicitly opting in/out of mesh compatibility mode"
## Describe the feature

Would it be bad if... ;-)

We currently autodetect whether mesh mode is enabled and fall back to using ClusterIP if so. This check is heuristic and if we get it wrong we stay in mesh mode forever and have hard-to-debug worse performance (in activator this is through worse load balancing, in autoscaler it's through having to repeatedly sample pods for stats). Also the check

[2021-09-01 11:26] skonto commented on #11729
@cheimu is this still an issue? WDYTH?

[2021-09-01 11:39] markusthoemmes commented on #11895
I'm in favor. We already kind of introduced similar switching for my mesh-pod-addressability thingy (which sadly is still incomplete) and if nothing else this'd be a nice tool to be able to guarantee the activator/autoscaler are behaving one way or another.

[2021-09-01 12:41] chmodrs commented on #11892
@jwcesign I think that's right! I'll try to configure using this doc.

Thank you for your help!!

[2021-09-01 13:52] cheimu commented on #11729
Hi @skonto , after I recompiled it using golang 1.16, the memory didn't leak anymore.

[2021-09-01 15:59] markusthoemmes commented on #11834
One interesting angle to think about: What happens to the request when a resume fails? I think if we have a terminal failure in the resume call (i.e. even after retries stuff doesn't work) the request is lost and kinda has to be dropped to the floor, because retrying via the routers (either envoys or activators) actually causes excessive buffering (we've been there, I don't quite think it's an opt

[2021-09-01 16:54] ReggieCarey opened #11898 "knative serving fails to pull images - x509: certificate signed by unknown authority"
There appears to be a problem with how knative pulls images.  It does not utilize the same tools as kubernetes with respect to root certificate processing.  I'm behind a corporate firewall.  I'm running k8s version 1.21.  I have no problems pulling images for the rest of my cluster from external repositories.

I'm running with istio 1.9.0 in service mesh mode.

There were other issues filed in the

[2021-09-01 17:38] #11831 closed

[2021-09-02 06:21] jwcesign commented on #11834
For runC,the pause code is:
[code]

resume code is:
[code]

From my point of view, we only should think about `status != Paused `, other kinds of error is edge-cases, maybe can directly panic ?

[2021-09-02 06:51] markusthoemmes commented on #11898
Thanks for the report. You'll likely want to mount your Root CA into the controller to make it use them correctly. Documented here https://knative.dev/docs/developer/serving/tag-resolution/#custom-certificates.

[2021-09-02 07:34] Sidhardha95 commented on #11877
We have enabled debug logging  for envoy proxy and see below logs from activator istio-proxy side car :

`2021-09-02T06:49:28.449739Z     debug   envoy wasm      expr_evaluate value error: No value with name "upstream_peer" found in Activation
2021-09-02T06:49:28.449776Z     debug   envoy wasm      wasm log: [extensions/stats/plugin.cc:619]::report() metricKey cache hit , stat=16
2021-09-02T06:49:

[2021-09-02 17:39] psschwei opened #11904 "Pass serviceAccountToken to freezer service"
Refresh and pass the pod's serviceAccountToken as part of the call to concurrencyStateEndpoint.

(part of Pod Freezer feature track, see #11694 for more details)

/area autoscale
/assign

[2021-09-03 00:00] nainaz opened #11906 "All hops encrypted amongst internal and external services in Knative"
## Describe the feature
**User story**: As a user, I want all my traffic to be encrypted throughout the Serverless routing path, so that any data going over that path is not readable for anybody else and make my environment more secure.

**Business justification**: Currently containers running as Knative service must communicate using HTTP/1.1 without any encryption, and in case there is encryptio

[2021-09-03 01:21] nainaz commented on #11906
found a similar issue : adding it here : [](https://github.com/knative/serving/issues/11239)

[2021-09-03 07:57] skonto commented on #11729
@markusthoemmes since we use 1.16 in newest versions we can safely close this one?

[2021-09-03 07:59] cheimu commented on #11729
no problem

[2021-09-03 07:59] #11729 closed

[2021-09-03 12:06] knative-test-reporter-robot opened #11914 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingTest
* **Repository name**: serving

[2021-09-03 13:55] jwcesign commented on #11904
/assign jwcesign

[2021-09-03 13:57] jwcesign commented on #11834
/assign jwcesign

[2021-09-03 13:58] dprotaso opened #11916 "Service lets you point traffic at revisions it does not own"
## What version of Knative?
Repro'd with 0.25.1

## Expected Behavior

Update the traffic rules of a Service to point to another revision should fail

## Actual Behavior

The traffic rule is realized and hitting Service A will route traffic to a revision owned by a different Service

## Steps to Reproduce the Problem

[code]

[2021-09-03 15:16] n3wscott commented on #11906
Our answer for this has always been "sounds like you want to use istio". Is this really a Knative specific feature?

[2021-09-03 22:58] jonnylangefeld commented on #2721
I’m also interested in this functionality and don’t think this Use case is covered today. All tutorials/docs only show how you can manually change the traffic splitting, but there’s no built in automation that slowly changes traffic routing from 10% to 20% to 30% all the way to 100% to migrate traffic.

[2021-09-03 23:44] markusthoemmes commented on #2721
@jonnylangefeld check out https://knative.dev/docs/developer/serving/rolling-out-latest-revision/! It‘s experimental‘ish so feedback will be very appreciated!

[2021-09-05 11:49] jwcesign commented on #11834
So here is retry logic based on the talking, please check it. After @psschwei PR is merged, I will repush the code:

[2021-09-05 12:05] knative-test-reporter-robot opened #11921 "[flaky] test/e2e.TestSvcToSvcViaActivator/both-disabled"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSvcToSvcViaActivator/both-disabled
* **Repository name**: serving

[2021-09-05 12:05] knative-test-reporter-robot opened #11922 "[flaky] test/upgrade.TestServingUpgrades/UpgradeWith/ServingHead"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/UpgradeWith/ServingHead
* **Repository name**: serving

[2021-09-06 07:47] ediezh opened #11923 "knative marked revision as Failed immediately with k8s schedule error"
## What version of Knative?
0.23

## Expected Behavior

We have scale to 0 enabled in the cluster, whenever knative scales the server from 0 to 1, sometimes there is not enough node to launch the pod. In that case, knative immediately marks the revision as Failed and falls back to a previous revison.

[code]

## Actual Behavior

knative should wait for sometime for k8s to schedule the pod - we hav

[2021-09-06 08:14] markusthoemmes commented on #11923
Broader discussion on the same topic here: https://github.com/knative/serving/issues/9531.

[2021-09-06 08:18] julz commented on #11923
Hi @ediezh - you should be able to increase how long Knative will wait for a revision to reach initial readiness via the [progressDeadline](https://github.com/knative/serving/blob/2771c892e562f215e187b4d685c32eb4ab4e714d/config/core/configmaps/deployment.yaml#L55) setting; does this setting. Just to state the obvious, if you use a cluster autoscaler that takes a particularly long time to bring pod

[2021-09-06 08:36] salaboy opened #11924 "Service Resource List/Delete Conformance Tests"
/area API
/kind spec

## Describe the feature

Test Conformance for Service Resource Operations List and Delete.
The Specification described List and Delete as required Operations for Services (https://github.com/knative/specs/blob/main/specs/serving/knative-api-specification-1.0.md#service), but this is not currently tested in [`test/conformance/api/v1/service_test.go`](https://github.com/knative

[2021-09-06 08:50] antoineco commented on #11906
As long as this doesn't get extended to adding support for an ocean of access control schemes, authentication mechanisms, etc. (in other words, sticking with TLS encryption only) I think this could be manageable.

I didn't look into the details, but @slinkydeveloper did experiment with a fully-automated PKI in the context of `control-protocol` at https://github.com/knative-sandbox/control-protocol

[2021-09-06 08:54] julz opened #11926 "With default settings, a single request causes flipping activator in/out of path with min-scale=2"
# What happened?

This is kind of fun, but also causes legit problems (likely due to istio not handling stuff well under load, to be fair) for us that took a while to track down: with the default settings for TBC we move activator in/out of the path when spare capacity goes over/under 200 requests. 200 requests also happens to be the exact burst capacity of the system when you have 2 pods (e.g. mi

[2021-09-06 09:18] markusthoemmes commented on #11926
Funky!

I'm not opposed to default to `-1` in the future, though it'd be neat to quantify the impact that'd have on existing envs (which will be tough as it's very reliant on the workloads running). Maybe it's time to finally try to measure the activator's overhead?

Another observation: Should we change the default TBC to 0 if containerConcurrency is 0? Seems useless to have the activator in path

[2021-09-06 09:50] ediezh commented on #11923
@julz i did increase the progressDeadline to 1200s. But it doesn’t seem to work. Like I said in the description, the revision is marked as failed immediately, there doesn’t seem to be any waiting.

[2021-09-06 23:26] ediezh commented on #11923
This is not really the desired behavior I was expecting.

knative spins up both of the most recent revisions when there is not enough resource in k8s.
[code]

So both of the revisions are now pending. However in the kservice definition, the traffic was routed to another previous revision since both of these two recent revisions are NOT Ready.
[code]

This is quite confusing. I would expect the tra

[2021-09-07 08:56] skonto commented on #4579
@plsmaop I am working on the feature track doc, I am on this. A similar question was asked recently: https://github.com/knative/serving/issues/11742.

[2021-09-07 09:39] skonto commented on #11916
@dprotaso Would it be enough to validate that the service name is a prefix of the target in the traffic section of the service spec and do the check at the webhook service validation side?

[2021-09-07 09:50] skonto commented on #11916
@dprotaso I guess we can retrieve the traffic targets and see if they are owned by the service at the webhook validation side. WDYTH?

[2021-09-07 09:55] markusthoemmes commented on #11916
I don't think we can reliably do that without any false positives. A more lightweight approach might be to allow setting `ConfigurationName` and `RevisionName` at the same time (I think it's disallowed right now) and then always force `ConfigurationName = ServiceName` in the Service API, so cross-references would be impossible.

[2021-09-07 10:42] skonto commented on #11916
We still have an issue of how to link a revision to a configuration name in here in any case: https://github.com/knative/serving/blob/main/pkg/reconciler/route/route.go#L271. Ownerref maybe not a proof I agree.

[2021-09-07 11:16] skonto commented on #11810
@jinxin-fu I suspect this PR https://github.com/knative/docs/pull/4120 fixes this. Let's close this one if so.

[2021-09-07 11:29] jinxin-fu commented on #11810
Follow the direct by the official website of  Knative, The access to OpenTelemetry seems abnormal. As I describe in issue #11822 .

[2021-09-07 11:40] skonto commented on #11822
It seems that the configuration upstream does not have all the exporters needed.
Could you try this: https://github.com/skonto/test-otel/blob/main/local.yaml?
If that works we can update knative docs as a next step once more.

[2021-09-07 11:47] skonto commented on #11810
Ok I will try to get an example working to cover both tickets.

[2021-09-07 12:06] knative-test-reporter-robot opened #11939 "[flaky] pkg/http/handler.TestIdleTimeoutHandler/successful_writes_prevent_timeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/http/handler.TestIdleTimeoutHandler/successful_writes_prevent_timeout
* **Repository name**: serving

[2021-09-07 12:06] knative-test-reporter-robot opened #11940 "[flaky] pkg/reconciler/revision.TestRateLimitPerItem/Forget_clears_per-item_rate_limit"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/revision.TestRateLimitPerItem/Forget_clears_per-item_rate_limit
* **Repository name**: serving

[2021-09-07 12:06] knative-test-reporter-robot opened #11941 "[flaky] test/scale.TestScaleToN/scale-200/086-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/086-of-200
* **Repository name**: serving

[2021-09-07 12:29] skonto commented on #11822
@jinxin-fu I tried the latest config on minikube and I can verify that I see the metrics (using v0.25 following instructions here https://knative.dev/docs/admin/install/serving/install-serving-with-yaml with Kourier):

[code]
Triggered the service with:

[code]
http://localhost:8889/metrics shows for example:

![image](https://user-images.githubusercontent.com/7945591/132343823-ca98e2db-6724-4cd9-

[2021-09-07 13:51] #11924 closed

[2021-09-07 14:41] julz commented on #11051
hey @khaeghar - could you talk a bit more about _why_ you need to maintain the Kafka channel until the microservice receives the event, rather than letting things work via eventing's conversion of the events to HTTP POSTs? (Trying to get a sense of the use case / feature enabled by something like that, and why the regular flow would not enable that use case)

[2021-09-07 20:01] ZhiminXiang commented on #11448
Would like to confirm that: does this issue only happen on k8s 1.22? Is there any other k8s version that could also have this issue?

[2021-09-08 06:41] markusthoemmes opened #11944 "TestHPAAutoscaleUpDownUpMem is very flaky"
As per title. Opening this to track the skipped test to unblock CI. Instances of failure:

https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_serving/11942/pull-knative-serving-istio-stable-no-mesh/1435415170166820864
https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_serving/11938/pull-knative-serving-kourier-stable/1435445424927281152
https://prow.knative.dev/view

[2021-09-08 07:02] julz commented on #4557
I've been looking at this recently and this definitely feels like something where there's still significant room for improvement, especially in terms of propagating errors after the first scale-up, I'll write up a proposal (for some MVP part of this to get started, at least)

cc @duglin FYI because I know you're interested in this area and may have thoughts also

cc @dprotaso because I think you'v

[2021-09-08 07:27] julz commented on #11532
I think that's mostly correct, but I'm thinking less about the case where an activator crashes mid-request and more with activator crashes in general. Right now we always assign at least 2 activators to a revision because then it 1 crashes there's still another one available to accept requests. The downside of that is we need to subset and so we get non-ideal load balancing (because both activator

[2021-09-08 08:24] salaboy opened #11947 "Adding API conformance test for Revision get and list operations"
/area API
/kind spec

## Describe the feature

Test Conformance for Revision Resource Operations Get and List.
The Specification described Get and List as required Operations for Revisions (https://github.com/knative/specs/blob/main/specs/serving/knative-api-specification-1.0.md#revision), but this is not currently tested in `test/conformance/api/v1/revision_timeout_test.go`.

This issue is create

[2021-09-08 11:52] duglin commented on #4557
To add more fun... aside from errors that can be correlated back to some user action (e.g. deploying the ksvc, trying to scale up/down, ...) another flavor of issues are around cases where everything gets into a happy state but then something goes wrong. For example, permission to the image in the registry is revoked so only new pods fail.  Similar to an OOM issue, but a bit more (potentially) lon

[2021-09-08 12:07] #11921 closed

[2021-09-08 12:07] knative-test-reporter-robot opened #11954 "[flaky] test/ha.TestAutoscalerHPAHANewRevision"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/ha.TestAutoscalerHPAHANewRevision
* **Repository name**: serving

[2021-09-08 12:07] knative-test-reporter-robot opened #11955 "[flaky] test/e2e.TestHPAAutoscaleUpDownUpMem"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestHPAAutoscaleUpDownUpMem
* **Repository name**: serving

[2021-09-08 12:07] #11922 closed

[2021-09-08 15:57] markusthoemmes opened #11956 "Consider dropping the exec probe "optimization" for now"
/area autoscale

In order to "optimize" pod startup latencies, we've cooked up an exec-probe mode for the queue-proxy. In a nutshell, because probes in Kubernetes allow only for at least second-granularity (`periodSeconds` is the name of the field after all) we've created a binary that would run for 10minutes and probe the containers as quickly as we want. Said binary is launched as a `StartupProb

[2021-09-08 20:51] dprotaso commented on #11916
I think doing it as part of reconciliation would be the cheapest as the objects would be in the informer cache

[2021-09-09 02:51] jinxin-fu commented on #11822
First ， I upgrade Knative from v0.23 to the latest version V0.25.
I delete istio which I used in the cluster before and install kourier gateway as which you used in the example .
The yamls for otel-collector are the same as yours except the different namespace, and I have config the cm config-network/config-network.
 The only difference is that , I use kuberneter v1.24.0， not minikube.
I change th

[2021-09-09 04:02] jwcesign commented on #11834
![image](https://user-images.githubusercontent.com/19745536/132620217-7bc6c887-838f-4ca6-981c-05e253095c10.png)
Here is the error kinds I defined, So if in internalError(happened in QP), Just panic in QP process, it will relaunch the contianer.
If responseStatusConflictError, just forget it.
if responseExecError, the freeze-daemon should rm the contianer force, than k8s will relaunch the pod.

[2021-09-09 07:03] markusthoemmes commented on #11834
The queue-proxy should be able to initiate a self-destruct mechanism if there's a terminal error coming via the fridge. `os.Exit(1)` (or `logger.Fatal`) might do just that.

Sprinkling retries for certain situation on top of that is then strictly an optimization. The basic escape mechanism should be to drop the pod.

[2021-09-09 07:10] jwcesign commented on #11834
I do search about drop the pod, what I think is, integrate kube-client into fridge, then fridge will talk to kube-apiserver to let it drop the pod. But question here is, fridge needs high privilege.

[2021-09-09 07:12] markusthoemmes commented on #11834
Does the mechanism I described above not work? It should at the very least cause a restart of the pod I think?

[2021-09-09 07:15] jwcesign commented on #11834
If QP call `os.Exit(1)`, it will just relaunch a new QP container in the pod, not relaunch a new pod(user-container, QP container, pause container).

[2021-09-09 09:03] zhaojizhuang opened #11958 "Support the typical K8s suffixes for memory metrics when set HPA"
/area autoscale

## Describe the feature

As commented in PR https://github.com/knative/serving/pull/11668#discussion_r679103930

And the k8s suffixes is [here](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-memory)

[2021-09-09 09:40] shydefoo commented on #11877
@julz Hello, we have deployed v0.24.0 and see the same symptoms when activator has istio-proxy injected. This also results in the activator not being able to forward the requests to the pod.
I see that the above fix has been merged to the networking repo, but which knative serving release will this be a part of?

[2021-09-09 09:56] skonto commented on #4579
Feature track doc is [here](https://docs.google.com/document/d/1dba1JxwEr6ZWMHtrQI50Ht42aoqjbVNimChglaEKL9M/edit?usp=sharing), anyone interested pls review.

[2021-09-09 10:14] julz commented on #11877
Hi @shydefoo - it should be in the next release, which will be 0.26. If you'd like to try it earlier to see if it fixes the problem, it's in the nightly releases now (https://knative.dev/development/admin/install/serving/install-serving-with-yaml/).

[2021-09-09 10:43] shydefoo commented on #11877
Thanks @julz, I tried using the activator image `gcr.io/knative-nightly/knative.dev/serving/cmd/activator@sha256:78a7a0fcefdd78e623bd3fa45ed6d53303a02956824ddff4eef023ab0e8d50ff` from `https://storage.googleapis.com/knative-nightly/serving/latest/serving-core.yaml`, it seems to be resolved, although the logs show **503** error instead of **502** when performing the probe via the `/healthz` endpoin

[2021-09-09 11:48] skonto commented on #2025
Feature track doc is [here](https://docs.google.com/document/d/1dba1JxwEr6ZWMHtrQI50Ht42aoqjbVNimChglaEKL9M/edit?usp=sharing), anyone interested pls review.

[2021-09-09 12:07] #11941 closed

[2021-09-09 12:07] knative-test-reporter-robot opened #11964 "[flaky] pkg/http/handler.TestIdleTimeoutHandler/can_still_timeout_after_a_few_successful_writes"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/http/handler.TestIdleTimeoutHandler/can_still_timeout_after_a_few_successful_writes
* **Repository name**: serving

[2021-09-09 14:59] muthurajr opened #11966 "Upgrade from 0.23.1 to 0.24.1 - Renaming of net-nscert-controller"
I'm working on upgrading Knative serving from 0.23.1 to 0.24.1, and using namespace level certificates.

In 0.23.1, https://github.com/knative/serving/releases/download/v0.23.1/serving-nscert.yaml is used to deploy the required components.

In 0.24.1, https://github.com/knative/serving/releases/download/v0.24.1/serving-nscert.yaml is used to deploy the required components.

Seems like the deployme

[2021-09-09 15:52] nainaz commented on #11906
Hello Scott,
Sorry for the late reply.
My 2 cents.
Knative serving (scale to zero and in turn the operational efficiencies) is
very attractive, especially to Financial institutions , however, if we
cannot offer the basic TLS security requirements natively and force the use
of Mesh just for this use case. We increase the extra hop and overhead and
in turn add a con on using knative. One of the reas

[2021-09-09 19:34] evankanderson opened #11969 "Add controls to `serving-nscert` and enable at all times"
## Describe the feature

Currently, `serving-nscert` is a separate optional YAML which isn't well documented on the website. It requests a wildcard cert for every namespace in the kuberntes cluster. Users might not want to install this for the following reasons:
* It requires DNS integration
* It creates a certificate for _every_ namespace, including system-owned namespaces

Adding a small amounto

[2021-09-10 00:46] nak3 commented on #11966
Thank you for this report. It seems [release note](https://github.com/knative/serving/releases/tag/v0.24.1) missed the guide for nscert.

I think pruning the old resources by `--prune` would be fine. But @dprotaso @ZhiminXiang could you confirm it?

[2021-09-10 09:16] julz commented on #11877
Hi @shydefoo - sorry, Im not sure I'm totally following what you're asking so if I'm answering a completely different question than the one you're asking please feel free to ask again! I think what you're saying is things work correctly with the nightly release (yay! :)) but it's not clear why because you're seeing 503s as we expected even before the nightly? I'm not sure either, but my suspicion

[2021-09-10 09:19] salaboy opened #11971 "Adding Conformance Test for Routes Required Operations GET and LIST"
/area API
/kind spec

## Describe the feature

Test Conformance for Routes Resource Operations Get and List.
The Specification described Get and List as required Operations for Routes (https://github.com/knative/specs/blob/main/specs/serving/knative-api-specification-1.0.md#route), but this is not currently tested in `test/conformance/api/v1/route_test.go`.

**Important**: This test creates a Serv

[2021-09-10 10:25] shydefoo commented on #11877
Hi @julz, my bad for not being clear, yes to this. It works :D

I was just curious because [this](https://github.com/knative/networking/pull/494) pr just adds a `StatusBadGateway` to `IsPotentialMeshErrorResponse`. However, with v0.24.0, i was seeing 502, with nightly i was seeing 503, so i suspected that there might be some other changes as well.

[2021-09-10 11:08] skonto commented on #4307
Feature track doc [here](https://docs.google.com/document/d/11ybUbo2WX6zgSUpcaAzhbcW6nDyJgg_qHM2csPYeZ08/edit?usp=sharing), please feel free to review.

[2021-09-10 12:06] knative-test-reporter-robot opened #11977 "[flaky] kubetest2.Up"
### Auto-generated issue tracking flakiness of test
* **Test name**: kubetest2.Up
* **Repository name**: serving

[2021-09-10 12:06] #11940 closed

[2021-09-10 12:06] knative-test-reporter-robot opened #11978 "[flaky] pkg/reconciler/route.TestNewRouteCallsSyncHandler"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestNewRouteCallsSyncHandler
* **Repository name**: serving

[2021-09-10 12:06] #11954 closed

[2021-09-10 12:06] knative-test-reporter-robot opened #11979 "[flaky] pkg/reconciler/serverlessservice.TestGlobalResyncOnActivatorChange"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/serverlessservice.TestGlobalResyncOnActivatorChange
* **Repository name**: serving

[2021-09-10 13:11] evankanderson commented on #11586
It looks like https://github.com/knative/docs/pull/3819 has merged. Can this be closed?

[2021-09-10 15:27] #11797 closed

[2021-09-10 15:53] dprotaso opened #11980 "See if it's possible to drop `x-kubernetes-preserve-unknown-fields`"
_Originally posted by @dprotaso in https://github.com/knative/serving/issues/11848#issuecomment-916996278_

We should explore dropping `x-kubernetes-preserve-unknown-fields` and allowing unknown fields in our webhooks since the API server will do the validation for us.

[2021-09-10 15:54] dprotaso commented on #11980
/lifecycle frozen

[2021-09-10 16:31] markusthoemmes commented on #11980
Hm, aren't we still dropping unwanted fields through our webhook mask? The `preserve-unknown-fields` thing is only in place to allow for feature flagged fields to be passed. We could drop it, if we allow those in (which would make them appear in the schema, which is what we wanted to avoid with this).

I don't think one can pass more than what we allow via the masks today tho.

[2021-09-10 17:55] dprotaso commented on #11966
Yup - we missed that in the release notes - I'll update that now

You you can safely delete the old controller & service

ie.
[code]

[2021-09-10 18:03] dprotaso commented on #11966
Ok release notes are updated. Going to close out the issue.

[2021-09-10 18:03] #11966 closed

[2021-09-11 12:07] knative-test-reporter-robot opened #11982 "[flaky] pkg/reconciler/configuration.TestNewConfigurationCallsSyncHandler"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/configuration.TestNewConfigurationCallsSyncHandler
* **Repository name**: serving

[2021-09-12 12:07] knative-test-reporter-robot opened #11983 "[flaky] pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/mytestdomain.com"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/mytestdomain.com
* **Repository name**: serving

[2021-09-12 12:07] #11979 closed

[2021-09-13 05:55] nak3 commented on #11969
https://github.com/knative/serving/issues/7265 also discussed how to disable the nscert in system namespaces. The controller like Eventing's sugar controller is also one solution.

[2021-09-13 07:59] Sidhardha95 commented on #11877
With the above nightly image, we see calls reaching our pods.

What will be the ETA on the official release of knative 0.26 ?

[2021-09-13 11:23] skonto commented on #11822
Could you paste the collector logs?

[2021-09-13 11:25] #10873 closed

[2021-09-13 12:08] #11977 closed

[2021-09-13 14:19] #11956 closed

[2021-09-13 16:36] chmodrs commented on #11892
Hi everyone,

I made work using context path, using tip that @jwcesign posted here ;)

To help someone that have same question! I needed to configure virtual service using multiples context, like follow example:

`apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: route-example
  namespace: default
spec:
  # This is the gateway shared in knative service mesh.
  gateway

[2021-09-13 19:36] #11947 closed

[2021-09-14 01:38] msgurikar opened #11987 "Grpc Client not getting response for operations taking more than 5 minutes."
## Ask your question here:
I have deployed out grpc service using Knative for auto scaling. Everything works fine when grpc service takes less than 5 minutes to complete the request, when it takes more than 5 minutes, client/caller of grpc request doesnt get any response.

Here is our service.yaml file

apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: qi-efp-grpc
  namespace: qi-

[2021-09-14 02:26] dprotaso commented on #11448
1.22+ - but it should be resolved now

[2021-09-14 03:52] nealhu commented on #10852
Hey @julz @skonto , just made a PR to expose idle timeout to revision and higher levels, please take a look https://github.com/knative/serving/pull/11988
As mentioned in that PR description and in slack, we will need to discuss more on validation but I think that can be a different PR.

[2021-09-14 09:21] #11833 closed

[2021-09-14 11:23] BLasan commented on #11785
@charles-woshicai Are you working on this? I would like to open a PR if not @mattmoor

[2021-09-14 12:06] knative-test-reporter-robot opened #11992 "[flaky] kubetest2.Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: kubetest2.Test
* **Repository name**: serving

[2021-09-15 01:23] #11365 closed

[2021-09-15 02:20] nainaz commented on #11906
Hello folks,
We have started a feature track for this.
https://docs.google.com/document/d/1XE7UzgQlVVtAb7ULSqOyKCaIHtm8zMF35ainp1JmwyY/edit?resourcekey=0-e1MXRxQaalq-EHW46ZCCWg#heading=h.n8a530nnrb

Please feel free to add/edit and raise concerns in the doc.

Thank you,
Thank you,
-N

On Thu, 9 Sept 2021 at 11:51, Naina Singh ***@***.***> wrote:

[2021-09-15 03:26] jwcesign opened #11997 "Domainmapping support dir-path-based routing"
## Describe the feature

Recently it's quite little complex config route different dir-path to different `ksvc`, istio `VS` should be configured. such as https://github.com/knative/serving/issues/11892,
So I think it's better to config this with domainmapping, like bellows:
domaincliam.yaml
[code]

domainmapping.yaml
[code]

This feature maybe just can be done based on istio gateway. Still not dee

[2021-09-15 03:29] jwcesign commented on #11892
You are welcome! @chmodrs

[2021-09-15 03:40] mattmoor commented on #11997
I prototyped a separate resource for this when we were getting started with `DomainMapping`, which I called `Dispatcher`.  There is a little bit of a sketch in the team drive here: https://docs.google.com/document/d/1s5SS7XMupI37YQSXccPB2mcyNainjpEVhj-b8UEAfZ4/edit

I can probably find the branch where it lives if you care, but kingress does support path-based routing already today.

[2021-09-15 03:51] jwcesign commented on #11997
So what't the plan for "Dispatcher" feature?
I check the code of ingress `serving/vendor/knative.dev/networking/pkg/apis/networking/v1alpha1/ingress_types.go: HTTPIngressPath type`, it has path-based-rule, so u mean the code is useless now?

[2021-09-15 04:07] mattmoor commented on #11997
That code was added to support the paths needed for ACME HTTP01 challenges, so it's used by our various auto-TLS integrations.  So it works, but we don't expose a way for folks to configure it for themselves, yet.

AFAIK nobody is actively working on the `Dispatcher` concept, but I think it'd be a useful feature to complement `Service` and `DomainMapping` that lets folks compose a set of smaller s

[2021-09-15 04:40] shydefoo commented on #11877
@julz would you have any info of this? thanks :)

[2021-09-15 07:08] jwcesign commented on #11997
I check the doc, looks there is conflict with domainmapping?  because `domainmapping` has only one backend service, and `Dispatcher ` has many backend service. Maybe should combine them together?

[2021-09-15 08:14] julz commented on #11877
The next release should be out [6 days from now, on the 21st](https://github.com/knative/release#schedule)

[2021-09-15 15:20] julz commented on #11548
knative/docs#3819 is merged, so closing

/close

[2021-09-15 15:25] julz commented on #11586
Closing based on https://github.com/knative/docs/pull/3819 being merged and in general we have lots of great docs here

/close

[2021-09-15 15:25] #11586 closed

[2021-09-15 15:31] julz commented on #11547
@dprotaso is this one done? Looking to check off the row in the GA spreadsheet?

[2021-09-15 15:39] julz commented on #11585
@markusthoemmes any objection if I close this one off, I think it's good enough for purposes of GA, iiuc?

[2021-09-15 15:41] markusthoemmes commented on #11585
wfm

[2021-09-15 15:41] #11585 closed

[2021-09-15 17:05] mattmoor commented on #11997
The intent is to enable composition, but there was some discussion of combining them as well (back then).

I can't say I feel strongly (anymore, not that I have a vote anymore either!), but FWIW, regardless of how it manifests, I do think having path (and method/header) based routing would be yet-another killer feature for Knative, so if you take away anything from my Dispatcher digression, it sho

[2021-09-15 18:45] dprotaso commented on #11664
I created a PR
https://github.com/knative/specs/pull/72 to relax the conformance spec. Prior it restricted all volumes to be readonly. I've changed the language to defer the requirement to the volume's source.

[2021-09-15 19:36] #11971 closed

[2021-09-15 20:03] julz commented on #11997
I'm pretty +1 to landing something along the lines of Dispatcher also. Re: extending DomainMapping vs a separate Dispatcher etc.. I also find it a struggle to generate a strong opinion 😅. DomainMappings need the ClusterDomainClaim stuff to avoid collisions in the global namespace for domains, which might be a good reason to favour composition rather than extension to avoid Dispatcher having to wor

[2021-09-15 20:08] ZhiminXiang commented on #11997
my slight preference is to extend DomainMapping because of the existing ClusterDomainClaim mechanism as julz mentioned.

Looks like the gateway API supports path routing https://kubernetes.io/blog/2021/04/22/evolving-kubernetes-networking-with-the-gateway-api/#getting-hands-on-with-the-gateway-api. So Kingress should be good to add this feature. cc @nak3

[2021-09-15 21:04] mattmoor commented on #11997
@ZhiminXiang I think @julz was saying the opposite 😅  🤔

What I had in mind for the `Dispatcher` was to follow a similar convention to `Route` and to use a service in the namespace to give it `foo.bar.svc.clusterl.local` as the namespaced-"claim".  DomainMapping could then be composed with it to get vanity URLs.

Not sure if @n3wscott ever landed his sugar where you could simply annotate Addressab

[2021-09-15 21:14] julz commented on #11997
Yeah this was indeed the approach I was clumsily trying to express support for above :-)

[2021-09-15 22:50] dprotaso commented on #9067
cc @julz @markusthoemmes @evankanderson

As part of the spec work I went over the container security context and figured it was worth adding `RunAsGroup` to compliment `RunAsUser`

Here are the allowable fields - note `Capabilities` is masked to only allow dropping capabilities
https://github.com/knative/serving/blob/90638647258598ea07e120f645b50c368bd3729d/pkg/apis/serving/fieldmask.go#L612-L631

[2021-09-15 23:12] dprotaso commented on #9067
I think I'm content to leave PodSecurityContext disabled by default and close out this issue after the above PR.

Ideally we need finer grain control than Kubernetes currently offers. We ideally want distinct security contexts between our and the users containers and volumes.

[2021-09-15 23:34] dprotaso commented on #11548
@julz I don't think this is complete as the ask was to document the config maps on the website no?

[2021-09-16 03:16] jinxin-fu commented on #11822
I use kubeadmin and install the kubernetes 1.21.0 with default config,  I think there is no  network policies to restrict the communication between namespaces.

[code]

[2021-09-16 03:59] #11987 closed

[2021-09-16 04:03] msgurikar opened #12006 "Autoscale down pod termination takes long time on C++ grpc service."
## Ask your question here:
Hi,
We use KNative serving v24 to run our C++ application grpc service, autoscaling work fine based on number of grpc requests, during scale down of pod after the job is completed, termination of C++ grpc service pods takes long time, during this when we send request, we get error on client side due to request going to terminating pods.
Which Knative logs to check to see

[2021-09-16 04:05] msgurikar commented on #12006
Just to add, if i run my C++ grpc service outside KNative in Kubernetes yaml file, once i delete the deployment yaml file, pod terminates within 30 seconds.

[2021-09-16 06:51] markusthoemmes commented on #12006
Knative waits until the respective requests have finished. In the gRPC case, IIRC, that means that the gRPC connection must be completely gone for Knative to be fine to shut things down.
Have you tried to shut the gRPC connection down before you expect the pod to scale down? Just not sending events doesn't quite cut it, I believe.

[2021-09-16 08:31] julz commented on #11548
D'oh, you're right, I misread @markusthoemmes's comment.

[2021-09-16 08:34] jwcesign commented on #11997
Yes, very willing to drive this.
So what I understand is like this:
domainmapping.yaml
[code]

dispatcher.yaml
[code]

I understand right? @julz @mattmoor

[2021-09-16 12:05] knative-test-reporter-robot opened #12010 "[flaky] pkg/reconciler/metric.TestReconcileWithCollector"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/metric.TestReconcileWithCollector
* **Repository name**: serving

[2021-09-16 12:05] #11939 closed

[2021-09-16 14:59] msgurikar commented on #12006
Thank you for your reply. We don't shutdown grpc server, grpc service when its up, it continously wait for incoming requests, it gets shutdown when kubernetes terminates the pod.
// There is no shutdown handling in this code.
    void Run() {
        std::string server_address("0.0.0.0:8080");

        ServerBuilder builder;
        // Listen on the given address without any authentication mechani

[2021-09-16 15:03] markusthoemmes commented on #12006
Then Knative won't know the pod has actually finished it's work and hence won't forcefully shut the pod down before the terminationGracePeriod. You'll have to make it drop the connection on SIGTERM.

[2021-09-16 15:25] msgurikar commented on #12006
KNative starts terminating pods after scaleDownDelay duration once all the requests are processed, This is working correctly.

autoscaling.knative.dev/scaleDownDelay: "1m"

Once the pods are in terminating state, they will in terminating state till terminationGracePeriod before they are clean up. this is my issue, once the pods are in terminating state, they should clean up with 30s.

Same applica

[2021-09-16 16:40] mattmoor commented on #11997
It is beautiful! 👍

The neat thing about this is that as we build up more Addressable things, they can slot in where it'd currently mostly ksvc.

For example, in principal you could even layer Dispatcher resources if you wanted.

[2021-09-16 18:23] noahw3 opened #12011 "Running tasks, not web services"
## Ask your question here:

I've been playing around with Knative for the last several days and frankly I can't tell if it's a good use case for what I'm trying to do.

Fundamentally what I want to do is run an arbitrary image as a task. Start it up and run it to completion. I don't want to spin up a web server and respond to potentially many incoming requests, staying alive for an arbitrary amoun

[2021-09-17 07:39] #11895 closed

[2021-09-17 11:24] shydefoo opened #12014 "Autoscaling implementation flow"
## Ask your question here:
I would like to understand how the components are linked together before going a bit deeper into the actual implementation details in the code. Here's what i've gathered so far:
* Queue-proxy has a `http-autometric` port that I assume is being used by knative components, either `Activator` or `Autoscaler`.
* For each knative `revision` created, there is a `PodAutoscaler`

[2021-09-17 11:47] markusthoemmes commented on #12014
https://github.com/knative/serving/blob/main/docs/scaling/SYSTEM.md describes the scaling system as a whole and how different pieces work together. Let us know if you have more questions than are answered from that.

[2021-09-17 16:43] salaboy opened #12015 "Adding Conformance Test for Configuration Required Operations GET and LIST"
/area API
/kind spec

## Describe the feature

Test Conformance for Configs Resource Operations Get and List.
The Specification described Get and List as required Operations for Configurations (https://github.com/knative/specs/blob/main/specs/serving/knative-api-specification-1.0.md#configuration), but this is not currently tested in `test/conformance/api/v1/configuration_test.go`.

**Important**:

[2021-09-18 01:23] #11385 closed

[2021-09-18 06:48] #7925 closed

[2021-09-18 14:02] duglin opened #12017 "More helpful error on invalid port"
See: https://github.com/knative/serving/blob/583b182f1dfb062267517a28d7be586282e1e27c/pkg/apis/serving/k8s_validation.go#L567-L570  (I think)

When someone specifies "9090" as their ksvc's port number they'll see an error like this:
[code]
can we change this error so it's more helpful? Something like "9090 is reserved port, please use a different value" ?

/cc @julz

[2021-09-18 15:58] julz commented on #12017
/good-first-issue
/triage accepted

[2021-09-19 02:52] duglin commented on #12011
not 100% I'm following. You started off talking about how you wanted to start up a pod that doesn't have an http server, run a command, and then exit. But then you talk about auto-scaling and eventing - which would seem to imply an http server. Perhaps you could describe what you want w/o talking about knative semantics.

[2021-09-20 11:15] skonto opened #12024 "Tracking issue for adding init container support"
## Describe the feature
This is a placeholder for the feature track work described in the related [doc](https://docs.google.com/document/d/11ybUbo2WX6zgSUpcaAzhbcW6nDyJgg_qHM2csPYeZ08/edit?usp=sharing):

Alpha (disabled by default):
 - [x] Add initContainers support in KService
 - [x] Add e2e test
 - [x] Add to listed flags [here](https://knative.dev/docs/serving/feature-flags/).
 - [x] Support in

[2021-09-20 11:30] skonto commented on #12024
/assign @skonto

[2021-09-20 11:50] jonnylangefeld commented on #2721
Thanks @markusthoemmes for the pointer! Looks promising. Is the traffic shifting only time based? What if the new revision throws errors? Would the time based traffic shifting continue?

[2021-09-20 11:54] markusthoemmes commented on #2721
Yes, right now the amount of traffic shifted is only time based as it's main motivation at the time was to smooth over weird autoscaling ripple effects if a traffic shift is done very harshly.
Reacting to actual failures in the new revision and similar signals was out of scope for this specific piece. IIRC the line of thought at the time was, that such a rollout strategy would require higher-level

[2021-09-20 12:15] jonnylangefeld commented on #2721
Okay I see! Thanks for the summary.
I will take a look at [flagger](https://docs.flagger.app/) which takes metrics into account and works on custom resources. So technically it should be able to manipulate the traffic percentages on the `Service.serving.knative.dev/v1` resource.

[2021-09-20 12:16] markusthoemmes commented on #2721
Interesting! Please let us know how the experiment went, this sounds like a great integration use-case!

[2021-09-20 18:21] senthilnathan commented on #12017
/assign

[2021-09-20 19:42] noahw3 commented on #12011
Apologies, that's certainly not the most coherent thing I've ever written. After spending a couple days with knative and discovering that it was not at all what I was expecting I was quite frustrated in the moment.

What I thought I wanted/was expecting was a 1:1 mapping between events and pods. Every time an event comes in a new pod would be spun up, the specified process would be run, and then t

[2021-09-20 19:54] dprotaso commented on #11548
Here's the gc config map - https://github.com/knative/docs/pull/4266

[2021-09-21 15:26] mattmoor commented on #11997
I poked around on my fork a tiny bit, but no obvious branch names popped out at me (and unfortunately I have loads).

If anyone knows of a good way to string search an entire Git repo (all refs), I'm happy to try that 😁

[2021-09-21 16:12] evankanderson commented on #11239
This looks like it will be solved by #11906

/close

[2021-09-21 16:12] #11239 closed

[2021-09-21 16:13] evankanderson commented on #11906
There was additional discussion in #11239 that might be worth reading when considering the proposal.

[2021-09-21 16:34] psschwei commented on #11015
/assign

[2021-09-21 19:24] dprotaso commented on #11547
ok all outstanding PRs are done - going to close this off

[2021-09-21 19:24] #11547 closed

[2021-09-22 03:48] ZhiminXiang commented on #6373
/close

[2021-09-22 03:48] #6373 closed

[2021-09-22 11:33] #11832 closed

[2021-09-22 11:54] mbrancato opened #12032 "Cannot apply manifests - may not add resource with an already registered id"
Following the guide to [Install Serving with YAML](https://knative.dev/docs/admin/install/serving/install-serving-with-yaml/) and looking at the docs for what files are required for Serving shows that we need the `serving-crds.yaml` and `serving-core.yaml` files.

![image](https://user-images.githubusercontent.com/8493275/134338120-96703842-764f-4a21-a2c9-3ccab1aab0cb.png)

However, it appears at

[2021-09-22 14:19] julz commented on #12032
Hi @mbrancato - I'm wondering if this is might be a docs bug rather than a serving bug (if so I'll transfer it to the other repo), since as you've noted this works fine if folks using Kustomize use `serving-core.yaml` directly and skip `serving-crds.yaml` (the separate `serving-crds.yaml` is there to avoid an initial apply failing due to the CRDs not yet being registered when plain kubectl is used

[2021-09-22 18:14] #12017 closed

[2021-09-22 19:21] nader-ziada commented on #10783
/assign

[2021-09-22 21:58] evankanderson commented on #11969
I think having a namespace selector (either empty by default or matching some set of labels) would be good for both this and the sugar controller, so that admins can control the behavior in a central place.

[2021-09-22 22:27] mbrancato commented on #12032
In general, I don't think the same resource (including CRDs) should be defined twice in two separate files. The basic `kubectl apply` effectively ignores this, so I think it's hiding the impact.

The docs say that `serving-core.yaml` requires `serving-crds.yaml`, but that currently isn't true. I don't want to prescribe how you fix it, but there's no one answer. It will work without the `serving-cr

[2021-09-23 12:05] knative-test-reporter-robot opened #12041 "[flaky] pkg/reconciler/nscert.TestChangeDefaultDomain"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/nscert.TestChangeDefaultDomain
* **Repository name**: serving

[2021-09-23 14:23] dkoci opened #12042 "How to increase execution time"
Hi.
I would like to increase execution time for apps served by knative. Pods get terminated after 60 second of no-usage. I would like to increase the serving time to 300 seconds. There is timeoutSeconds: 300 in Service yaml, but pods get terminated after 60 seconds instead of 300 seconds.
I use Openshift knative serverless operator.

[2021-09-23 14:36] markusthoemmes commented on #12042
What's the actual use-case you're after? Do you want the pod to stick around longer or are you running background tasks outside of requests that aren't completing in your case?

The former can be configured via https://knative.dev/docs/serving/autoscaling/scale-bounds/#scale-down-delay. The latter would be an anti-pattern.

/area autoscale

[2021-09-23 14:48] dkoci commented on #12042
scaleDownDelay is exactly what I am looking for. Thank you.

[2021-09-23 15:47] #12015 closed

[2021-09-23 17:36] dprotaso commented on #9067
Closing this out as the PR has merged

[2021-09-23 17:36] #9067 closed

[2021-09-23 17:39] dprotaso commented on #10738
All the spec changes mentioned in this issue have corresponding PRs in `knative/specs`

[2021-09-23 17:39] #10738 closed

[2021-09-23 18:46] clin4 opened #12044 "knative 0.25 auto-TLS doesn't work for me"
## In what area(s)?

Other classifications:

## What version of Knative?

## Expected Behavior

I used the knative-serving 0.17, 0.19 & 0.21 before, I was able to use auto-TLS with http-01 challenge. Now I install the knative-serving 0.25 and want to enable the auto-TLS via following the knative-serving 0.25 documentation.

## Actual Behavior

1. There is no config-certmanager config map in the kn

[2021-09-23 19:56] dprotaso commented on #12044
If you want to use certmanager you'll want to install the `net-certmanager` plugin here https://github.com/knative-sandbox/net-certmanager

I'm curious if you installed the lighter weight net-http01 plugin which is a lighter weight plugin that only does http01. That would explain why there's not config-certmanager present

[2021-09-23 19:57] guodongli-google opened #12045 "Report a bug that mutates a not-used copy of a struct"
## What version of Knative?

## Expected Behavior

At: https://github.com/knative/serving/blob/main/pkg/testing/v1/service.go#L390,
the URL of each one in `targets`' should be updated to `domains.URL(domains.HTTPScheme, tt.Tag+".example.com")`.

## Actual Behavior

`targets` is of type `[]v1.TrafficTarget` whose elements will be copied by value since `TrafficTarget` is a struct. Here `tt` is a cop

[2021-09-23 19:58] dprotaso commented on #12044
Some docs are here: see 'TLS with cert-manager'
https://knative.dev/docs/admin/install/serving/install-serving-with-yaml/#install-optional-serving-extensions

[2021-09-23 20:45] clin4 commented on #12044
Thank you, Dave!
yes, somehow I miss this step to install net-certmanager this time. After use it everything works as expect!

[2021-09-23 20:45] #12044 closed

[2021-09-24 01:23] #11409 closed

[2021-09-24 01:23] #11340 closed

[2021-09-24 11:33] skycyan opened #12046 "Knative serving supports “Pod initcontainers”"
Can Knative serving add support for "initcontainers" function.
Very useful in some scenarios.

[2021-09-24 11:50] markusthoemmes commented on #12046
Duplicate of https://github.com/knative/serving/issues/12024

[2021-09-24 11:50] #12046 closed

[2021-09-24 17:43] tomasatdatabricks opened #12048 "Revision reported as READY when pods are crashlooping."
## Ask your question here:
Hi, when I deploy Knative service that is broken (pods won't start), the service (and revision) status reported by Knative is  **READY** even though the pods are **crashlooping**. In addition, the requests sent to that application hang for > 1 minute. I am using Knative v0.22.0.

questions:
 - Is this expected behavior?
 - Is this scenario being addressed by https://gith

[2021-09-25 11:31] duglin commented on #8684
/remove-lifecycle stale

[2021-09-26 09:04] jwcesign commented on #11997
/assign @jwcesign

[2021-09-26 09:05] jwcesign commented on #11997
List of works:

- [ ] Writing feature proposal

[2021-09-26 12:07] #12041 closed

[2021-09-26 12:07] knative-test-reporter-robot opened #12050 "[flaky] pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/test-domain.dev"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/test-domain.dev
* **Repository name**: serving

[2021-09-26 23:39] duglin commented on #12011
No, you have the right mental model. And some of the things that are "in the works" can help with some of what you're seeing. For example, I think the "freeze proxy" stuff that's being worked on should allow for pods to be "frozen" much sooner than what you're seeing for the scale-down time. However, as you mentioned, this doesn't really kill the pod so any state will still be there when it's unfr

[2021-09-27 08:41] cardil commented on #9544
/remove-lifecycle stale

[2021-09-27 09:34] markusthoemmes commented on #9544
My understanding of SinkBinding is, that it also carries a reconciler which could really change the Knative Service at any point, kind of breaking the immutability requirement of revisions if we were to somehow bypass the name check that lead to the initial report here.

IMO we have 2 options then:
1. Keep things the way they are and clearly document that SinkBinding is not supported for BYO revis

[2021-09-27 09:35] markusthoemmes commented on #9544
/area api

[2021-09-27 10:13] rhuss commented on #9544
+1 for dropping BYO revision names as they have more problems than they solve (and the client these days default to server-generated revision names anyway and don't leverage client-side revision names). See also the release notes of https://github.com/knative/client/releases/tag/v0.21.0 for some more arguments against BYO revision names.

[2021-09-27 12:30] duglin commented on #9544
I don't use BYO revision names much, but that's probably because I don't play with traffic splitting very often - beyond trivial demos. However, if we drop BYO support will that make it harder for people to setup and manage their traffic splitting? In particular, I often find it really annoying to work with systems that require me to create something, discover what I just created, and then use tha

[2021-09-27 13:02] rhuss commented on #9544
Actually, BYO as used by `kn` does not help you in this situation at all as the client chooses a random name for the revision on every update (which is even harder to predict). BYO names have tons of drawbacks, some of them are listed in these release notes https://github.com/knative/client/releases/tag/v0.21.0 . Another disadvantage is that you really depend on the state of your cluster when you

[2021-09-27 13:03] rhuss commented on #9544
I fail to see any advantage for BYO revision names, even for traffic splits it is not practical (as explained above).

[2021-09-27 15:25] jonnylangefeld commented on #2721
I did take a look at flagger and while it's pretty cool, it unfortunately doesn't work with `Service.serving.knative.dev/v1` as expected. Instead it watches deployments and whenever something changes (like a version tag), it runs an automatic traffic migration where it slowly shifts the traffic to the new version and rolls back if metrics show to many errors or too high latency for the new version

[2021-09-27 15:42] markusthoemmes commented on #2721
Sounds like it'd theoretically be possible to teach Flagger to talk Knative API as well though :thinking:. Looking at the top of https://docs.flagger.app/ it looks like we'd have to teach it to talk Knative Service/Knative Route API for it to be able to do the switcheroo. Since it already seems to implement the API of various other projects, it'd be interesting to go ask if they'd be game for a Kn