[2018-08-21 21:16] #1914 closed

[2018-08-21 21:39] adrcunha commented on #1869
@mattmoor any problems with adopting this?

[2018-08-21 23:04] #1395 closed

[2018-08-22 02:01] mattmoor opened #1918 "autoscaler_test should use errgroup"
This logic [here](https://github.com/knative/serving/blob/86c260d7260adad89c1a0a40560fe5596fe2ae4b/test/e2e/autoscale_test.go#L59) feels like it's what `errgroup` was built for.

[2018-08-22 12:44] mattmoor commented on #1869
We've been cutting our releases through the github UI, and its not clear to me whether this is possible in that context.  Maybe this is because I've been marking the releases "pre-release", which the help text notes is for software not intended for production use.  Either way, I'd love to hand this off to some sort of automation.

This doesn't say what annotated tags gets us?

[2018-08-22 12:45] mattmoor commented on #1219
Going to close this in favor of move the VPA stuff into the autoscaling controller.

[2018-08-22 12:45] #1219 closed

[2018-08-22 13:04] dprotaso opened #1920 "Clean up some of the Knative Github Team Details"
Few suggestions:
- rename 'Knative Users' to 'Knative Members' so it matches our [ROLES.md](https://github.com/knative/docs/blob/master/community/ROLES.md)
- 'Serving Maintainers' description mentions 'elafros'
- 'Pkg admins' -> 'Pkg Admins' for consistency (why not)

[2018-08-22 15:06] simingweng opened #1921 "istio-statsd-prom-bridge is in crashloopbackoff in Knative v0.1.1 deployment"
## Expected Behavior
Following the [v0.1.1 Knative installation guide](https://github.com/knative/docs/blob/master/install/Knative-with-Minikube.md), the step of installing Istio with command

`curl -L https://raw.githubusercontent.com/knative/serving/v0.1.1/third_party/istio-0.8.0/istio.yaml \
  | sed 's/LoadBalancer/NodePort/' \
  | kubectl apply -f -`

should bring up the the Istio pods

## Act

[2018-08-22 17:18] javier-b-perez commented on #1869
Seems like the only way to do annotated tags is by command line or REST api:
git tag -a v0.1.1 -m "knative/serving release 0.1.1"
git push origin v0.1.1
or
https://developer.github.com/v3/git/tags/

[2018-08-22 17:43] simingweng commented on #1921
/assign @mdemirhan

[2018-08-22 19:08] #1308 closed

[2018-08-22 19:14] mattmoor commented on #1921
cc @yanweiguo @tcnghia

[2018-08-22 19:57] #1617 closed

[2018-08-22 21:22] mattmoor opened #1926 "Drop ServingState from KPA"
The goal is to eliminate ServingState from the KPA specification, but the work (after [this](https://github.com/knative/serving/issues/1623) blocking work) is to make our autoscaling decisions stable enough that they can be the source of truth.

[2018-08-22 21:26] mattmoor opened #1927 "Remove the knowledge of where to publish metrics from Revision controller"
This covers the (waving hands) metrics pipeline where the queue-proxy in each Revision can publish a Prometheus-compatible metrics endpoint and (without further knowledge) the autoscaler can performantly act on that.

This would eliminate the need for the `queue-proxy` to *push* metrics itself, and eliminate the last piece of remaining knowledge about how the autoscaler implementation works.

[2018-08-22 21:27] mattmoor commented on #1655
I'm going to close this as I think this is largely complete now.

Regarding the follow-ups mentioned earlier:
 * Collecting metrics from activator: https://github.com/knative/serving/issues/1623
 * Move KPA to rely strictly on scale (drop KPA `ServingState`): https://github.com/knative/serving/issues/1926
 * Remove the metrics-push from `queue-proxy`: https://github.com/knative/serving/issues/1927

[2018-08-22 21:27] #1655 closed

[2018-08-22 23:41] mattmoor commented on #1598
I am receptive to this idea, but the assertion is somewhat context sensitive (e.g. it may resolve some places, not others, `.svc.cluster.local` is actually an interesting example of this, but not exactly what I was thinking).

/assign @tcnghia
/unassign @mattmoor

PS - our current resync period is 30s (IIRC, kubebuilder may have a longer cycle in eventing)

[2018-08-22 23:43] grantr commented on #1598
Default controller-runtime cycle is 10 hours and that's what eventing is using. Resync period is now configurable as of https://github.com/kubernetes-sigs/controller-runtime/pull/88.

[2018-08-23 00:05] mattmoor opened #1928 "Have the KPA controller ignore explicitly annotated KPAs"
[Here](https://github.com/knative/serving/blob/928d580756855f24d400104ad4d4cc628a8a841f/pkg/apis/autoscaling/register.go#L26) is where we define the constant for the KPA annotation key.  I suppose we also have to pick a name for `pkg/reconciler/v1alpha1/autoscaling`.  @josephburnett any thoughts?

The idea here (like K8s ingress) is to enable folks to configure the use of their own controller for

[2018-08-23 01:33] mattmoor commented on #1749
Given the objective of removing ServingState ASAP in favor of pure metric-driven KPA, I am going to close this.

In principle selectively defaulting to zero could then be achieved through a mutating webhook on the Deployment (filtered by our labels, guided by annotations) and (optionally) combined with a custom KPA implementation.

[2018-08-23 01:33] #1749 closed

[2018-08-23 01:35] mattmoor commented on #1656
These bounds should now be possible through a custom KPA implementation and annotations once [this](https://github.com/knative/serving/issues/1928) lands and assumptions about how metrics are pushed are removed from the Revision controller.  My inclination would be to close this in favor of those issues.  WDYT @josephburnett ?

[2018-08-23 01:36] mattmoor commented on #1596
this is done.

[2018-08-23 01:36] #1596 closed

[2018-08-23 01:36] mattmoor commented on #1554
This was done a while ago

[2018-08-23 01:36] #1554 closed

[2018-08-23 01:37] mattmoor commented on #1331
I believe I just removed this

[2018-08-23 01:37] #1331 closed

[2018-08-23 01:39] mattmoor commented on #1227
This would be part of implementing https://docs.google.com/presentation/d/1KxKAcIZyblkXbpdGVCgmzfDDIhqgUcwsa0zlABfvaXI/edit

[2018-08-23 01:41] mattmoor commented on #1186
@yolo3301 some not all.

IMO we should be able to add some limited mutation to each of these and tests should pass.

[2018-08-23 01:46] mattmoor commented on #1138
I think that surfacing `Ready` from each of these would be a huge step forward (maybe also with Reason?).  Age seems useful too.  I want to kill ServingState on Revision ASAP, so I'd drop that.

I think the rest seems like a good starting point to iterate from.

cc @evankanderson @vaikas-google @tcnghia @grantr @dprotaso @sixolet for more opinions.

[2018-08-23 03:38] cizixs opened #1931 "queue-proxy does not work with custom cluster domain"
/area autoscale
/area networking

/kind bug
/kind good-first-issue

Each pod needs a `queue-proxy` container which report metrics to `autoscaler` controller, so that revision can auto-scale according to user requests traffic.

For now, `queue-proxy` hardcoded `autoscaler` service doamin to `cluster.local` which is the default kubernetes cluster domain name. The related code:

https://github.com/kn

[2018-08-23 03:45] mattmoor opened #1932 "Move Header names to pkg/activator as constants"
[these](https://github.com/knative/serving/blob/928d580756855f24d400104ad4d4cc628a8a841f/pkg/reconciler/names.go#L31-L41)

[2018-08-23 08:47] markusthoemmes commented on #1843
Might soon be superseded by #1925

[2018-08-23 12:48] julz opened #1933 "KBuffer in 1-N case (and n-N case)"
# Problem

https://github.com/knative/serving/issues/1846 deals with potential poor performance when scaling from 0-N by having the whatever-we-end-up-calling-the-activator-kqueue-thing (from now on `wweuctaqt`) buffer requests until it thinks there're are enough pods scaled up to handle the request without queueing (we also use a NO_QUEUE header to effectively drive us to retry until we hit a fre

[2018-08-23 13:16] markusthoemmes commented on #1933
Thanks for the writeup @julz, I'll use KBuffer for simplicity 😛 .

A question towards solution 2:

A mesh in our case refers to a "set of uncoordinated routers", correct? I'm wondering in that case how these routers would figure out that it's "time to scale". Doesn't "fail to find a free pod" have the same time-complexity like described in Solution 1 (try each pod, play battleships).

[2018-08-23 16:35] rgregg opened #1934 "How to tell which version of knative is installed in a cluster?"
We need a way (other than looking at the sha1 hashes of the container images) to know which version of Knative is installed into a cluster. Ideally the build process would stamp a version/revision number somewhere, which would be easily accessible via kubectl / knative API.

## Expected Behavior
Use the API to determine which version of Knative is installed.

## Actual Behavior
No (easy) way to te

[2018-08-23 16:36] arvtiwar commented on #1932
/assign arvtiwar

[2018-08-23 17:57] evankanderson commented on #1138
"Age" is the existing property that's listed, I presume?

I think "Ready" or "Succeeded" condition would be ideal if available. If we have some way to track if a Revision is Active, that would be helpful, though I don't know what we have right now.

I don't know if we can get a useful image or arguments summary for a Revision; I suspect not at the moment. It would be cool if we could surface some

[2018-08-23 22:06] #1859 closed

[2018-08-24 13:40] dprotaso opened #1942 "Further Abstract Reconcilers"
### Problem
Continuing the discussion from: https://github.com/knative/pkg/pull/48#issuecomment-415421125

A reconciler at this time is responsible for taking some API object (Config, Revision etc.) and reconciling it's child objects. Afterwards the parent object's status is updated. The complexity of these components scales as the number children increase. The size of the table tests is a good si

[2018-08-24 14:12] markusthoemmes commented on #1942
From my (very limited) understanding of reconcilers that sounds like a very nice proposal to make a reconciler composable (in the functional sense). It'd make it fairly easy to pinpoint the exact method used to reconcile a specific entity without having to scroll through all of the code to find the bit I'm looking for. Testing each phase in isolation sounds like a nice feat as well! 👍

[2018-08-24 16:27] greghaynes commented on #1138
@evankanderson Correct re: Age.

Using annotations is a good idea - it should be easy to grab those fields as printercolumns.

[2018-08-24 21:09] jchesterpivotal commented on #1933
I think this is what 503 is for. A `Retry-After` header can seen as an estimate of load.

The "square-root staffing rule" suggests it's not quite this dire. As load increases, the amount of additional capacity required to meet that demand with acceptable odds of delay rises proportionally to the square root of the increase. Don't ask me to prove it, I am going on what I found surprising in the boo

[2018-08-24 21:58] pzmrzy commented on #1921
I also get same error when I install kNative with minikube and GKE(Master version
1.10.6-gke.2) by following the [GKE guild](https://github.com/knative/docs/blob/master/install/Knative-with-GKE.md)

[2018-08-24 22:05] #609 closed

[2018-08-24 22:05] #1707 closed

[2018-08-25 01:37] yunlzheng commented on #1921
https://github.com/knative/serving/blob/37c640555a3241ed707962ba6b29d6c7fe68f937/third_party/istio-0.8.0/istio.yaml#L2147

The statsd-prom-bridge args is wrong.

[code]

This should be

[code]

[2018-08-25 11:07] markusthoemmes commented on #1933
Interesting insights @jchesterpivotal. Reminds me to read more 😁.

I feel like our underlying problem is not really queueing-theory related though. The problem we have at hand is not "if we need to queue, how do we do that intelligently to serve our customers well". The problem is rather to make sure we are not queuing if there are still pods in the system for the given revision that are not used

[2018-08-26 14:38] sdake commented on #1921
The correct solution is to use what was tested with Istio 0.8.0 - which is statsd v0.6.0.  I'll correct this problem in the Istio 0.8 branch.  Apologies for the use of `:latest` tags, we are/have removed them from the upstream templating for Istio.

[2018-08-26 21:56] krancour opened #1951 "Proposal: Support for pod template (podspec)"
As an alternative to #1816, I want to suggest that perhaps Revisions should support pod template (PodSpec) as an alternative to a container template (ContainerSpec).

I think this has come up before and been shot down, with the reasoning having been that the desired model in Knative Serving is to keep things simple-- and that multi-container pods don't fit that mold.

While I respect that rational

[2018-08-27 09:29] julz commented on #1933
Right, for what it's worth the intuition I think I'm trying to poke around at in option (2) is _what if this isn't a queuing problem at all because whenever we would queue we scale instead?_.

Or, put back in queueing terms, what if you assign each customer to a queue using round robin / random routing, but if you try that three times (or whatever panic threshold is in your mesh) and you don't get

[2018-08-27 09:57] markusthoemmes commented on #1933
@julz yes, this is by the way exactly the model that OpenWhisk employs.

The one wrinkle I see in it is:

If your "mesh" consists of N routers and assuming a round-robin loadbalancing, you'll end up creating at least N pods to serve your load, even if it's quite a slow-requesting load. That brings the "routing problem" back to the table imo.

**Disclaimer:** I don't *really* know how istio works u

[2018-08-27 11:59] anuruddhal opened #1952 "kubectl throws `Unable to connect to the server: net/http: TLS handshake timeout`"
/kind bug

/area networking
/area test-and-release

## Expected Behavior
`kubectl` commands work as expected after knatice installation.

## Actual Behavior
`kubectl` commands throws `Unable to connect to the server: net/http: TLS handshake timeout` error.

## Steps to Reproduce the Problem

  1. Install the knative in a minikube cluster as per the guide. https://github.com/knative/docs/blob/maste

[2018-08-27 13:34] julz commented on #1933
Im not super sure I understand why that would be: it seems to me if you grant me the assumption that it's never right to queue when you could spin up a container (which _seems_ like it's probably correct in a serverless/faas environment) then it's always the correct decision to spin up a node if you need to to avoid queuing (literally by definition of that assumption). If that means you have N nod

[2018-08-27 14:41] markusthoemmes commented on #1933
I might've overlooked something: By saying "fails to find a free pod", does that mean that it tries to execute the request on some of the pods it knows, which might return a 503 immediately? And after you tried X-times, you're gonna give up and say: Gimme more?

If so, then yes, the problem becomes a "find a good heuristic for the O(n) search for a pod" problem.

I think what you're proposing is i

[2018-08-27 15:46] #1911 closed

[2018-08-27 17:13] josephburnett commented on #1656
Let's keep this open and just change the implementation to use annotations.

I still think that we should provide a mechanism to limit the KPA controller to a min and max number of pods.

[2018-08-27 17:40] zrss opened #1954 "istio-statsd-prom-bridge pod crash due to unknown short flag"
## Expected Behavior

istio-statsd-prom-bridge pod running

## Actual Behavior

istio-statsd-prom-bridge pod CrashLoopBackOff

## Steps to Reproduce the Problem

follow the guide in here [https://github.com/knative/docs/blob/master/install/Knative-with-any-k8s.md#installing-istio](https://github.com/knative/docs/blob/master/install/Knative-with-any-k8s.md#installing-istio)

and installed istio in

[2018-08-27 17:44] tcnghia commented on #1954
Duplicate of #1921, which @sdake  is fixing upstream in https://github.com/istio/istio/pull/8249 .

In general we don't make change directly to Istio generated by helm.  We are providing them as a quicker getting started experience for our users, not as a replacement for Istio provided manifests.

Since Knative 0.1.1 is compatible with Istio 1.0 we should be able to replace Istio 0.8 manifest ther

[2018-08-27 17:46] zrss commented on #1954
ops, sorry for a busy fix ... and I just wonder there is quite a naive issue ... i will close it

[2018-08-27 17:48] tcnghia commented on #1954
@zrss no problem.  thanks for fixing!

[2018-08-27 17:51] zrss commented on #1954
@tcnghia thanks for reply, but to a fresh guy, i just start from the knative guide, can we do some update to the docs ?

i just notice a guy also find that

[https://github.com/knative/docs/issues/358](https://github.com/knative/docs/issues/358)

[2018-08-27 17:54] tcnghia commented on #1954
@zrss yes, that's a good idea to update the doc to note the installation issue before @sdake's fix is merged.

[2018-08-27 19:42] tcnghia commented on #1921
@yanweiguo do you know how this will impact our monitoring components?  thanks

[2018-08-27 19:54] yanweiguo commented on #1921
@akyyy Yao, could you have a look for this?

[2018-08-27 20:08] josephburnett opened #1956 "Tune container-concurrency-target-percentage"
## Expected Behavior

Knative autoscaling `container-concurrency-target-percentage` should be based on empirical data.

## Actual Behavior

The current value of `0.7` (70% usage) is chosen based on general best-practice and anecdotal experience with serverless workloads (App Engine).  However it may not achieve optimal resource usage for different kinds of workloads (single-threaded functions, mul

[2018-08-27 20:21] josephburnett opened #1957 "Rename `model` as `concurrency` for autoscaler target"
Previously the autoscaler target was calculated based on concurrency model, so it's plumbed through as `model`.  #1917 replaces concurrency model with container concurrency.  The variable name `model` should likewise be replaced with `concurrency`.

[2018-08-27 21:16] vaikas-google commented on #283
I think this is great, I do wonder if it would be useful to have a status regardless, not necessarily to be depended on by anything, but to communicate any error conditions, or debug information, etc. I don't feel strongly about that however, just seems like a good thing to do.

[2018-08-27 23:17] tcnghia commented on #1345
Istio team suggests we go through the same analysis again, since many pod startup issues have been fixed in 1.0.x.

[2018-08-27 23:55] tcnghia commented on #1345
Using Istio 1.0.1 I only see 1-2 seconds for containers to get from Started to Ready.

[2018-08-27 23:58] tcnghia commented on #1345
In some cases I see `helloworld-go` reached Readiness in <4 seconds.

With caching of the `istio-proxy` and `istio-init` container image I expect us to consistently hit this.  @mattmoor  @josephburnett

[2018-08-27 23:58] #1345 closed

[2018-08-28 00:07] tcnghia commented on #1767
@galbacarys is it ok to assign this issue to you then?

[2018-08-28 02:04] mattmoor commented on #283
Sounds good.  I will add a status conforming to our conventions, but assert that this is purely diagnostic and that cache clients shouldn't expect readiness before asserting their own readiness.

[2018-08-28 09:40] jszroberto commented on #1918
@mattmoor may I pick this item?

[2018-08-28 10:29] voor commented on #1865
Isn't the intention that if you were to push a new revision using the same containers, you would then have the option to rollback to an earlier traffic split pattern if something were to go wrong?  So instead of editing a route to change traffic to 50/50, you should push a new revision with a 50/50 split, and if something were to go wrong you would then have the option to rollback to an earlier tr

[2018-08-28 11:02] markusthoemmes commented on #1918
I think you can @jszroberto.

/assign @jszroberto

[2018-08-28 11:39] erandiganepola opened #1958 "Can not configure "scale-to-zero-threshold" value locally and apply"
## Expected Behavior
I referred to this issue [#305](https://github.com/knative/serving/issues/305) and found the way how this configuration works ([config-autoscaler.yaml](https://github.com/knative/serving/blob/master/config/config-autoscaler.yaml#L72) and [autoscaler.go](https://github.com/knative/serving/blob/687a0f9012405b9923caa84b81751053aa240abb/pkg/autoscaler/autoscaler.go#L46)). Now I wa

[2018-08-28 14:50] mattmoor opened #1960 "Revision GC"
*Using this to replace https://github.com/knative/serving/issues/70 and clean up this history*

## Expected Behavior
We should retain a finite set of reachable `Revisions`.

## Actual Behavior
We retain all `Revisions`.

### In detail

Today as Revisions fall out of use they are scaled to zero *pods* reclaiming key resources.  However, inactive Revisions still have several Kubernetes resources (wh

[2018-08-28 14:50] mattmoor commented on #70
closing in favor of a better writeup with a clean history: https://github.com/knative/serving/issues/1960

[2018-08-28 14:50] #70 closed

[2018-08-28 14:55] mattmoor opened #1961 "Loosen Coupling with Build"
This is outlined more [here](https://docs.google.com/presentation/d/1KxKAcIZyblkXbpdGVCgmzfDDIhqgUcwsa0zlABfvaXI/edit#slide=id.g3cfcaa5c4d_0_124).

[2018-08-28 14:59] mattmoor opened #1962 "API Versioning Story"
Design our API versioning story for our progression to `v1beta1`, ... `v1`.

Some of this is contingent on featurework yet to land in K8s 1.12.

[2018-08-28 15:05] mattmoor commented on #1881
Going to close this without answers to the above.  Feel free to reopen, I'm just trying to keep dashboards cleaner for issue triage.

[2018-08-28 15:05] #1881 closed

[2018-08-28 15:11] tcnghia opened #1963 "Extract out `networking.internal.knative.dev.ClusterIngress`"
## Expected Behavior
We have `ClusterIngress` that cleanly separates out our Istio Gateway / VirtualService dependency.

## Actual Behavior
We are generating VirtualServices from our `Route` which has strong coupling with `Configuration`/`Revision`.

[2018-08-28 15:15] tcnghia opened #1964 "Domain & Cert automation"
## Expected Behavior
After standing up a Service in Knative serving we can serve HTTPS through a real domain.

## Actual Behavior
Users still need to go through a lot of manual setup steps to achieve that.

[2018-08-28 15:15] sdake commented on #1954
@tcnghia I'm unclear if Istio plans to release a 0.8.1 maintenance release.  If you plan to release a new knative artifact, this could be worked around in the helm template generation code by overriding the statsd image type.  LMK how you wish to proceed.

[2018-08-28 15:21] tcnghia commented on #1954
@sdake We can include 1.0.1 manifest in our instruction with Knative 0.1.1 (it works fine with 1.0.1).  If 1.0.x will have more attention from Istio team then that is probably better for our users anyway.  Plus I believe they will also benefit from performance improvements in 1.0.

@mattmoor ^

In the future I hope we won't include an `istio.yaml` as part of our release, but through another, indep

[2018-08-28 15:29] pivotal-nader-ziada commented on #1787
I also like the idea of packing a single environment variable with structured data instead of multiple environment variables. In cloudfoundry we do something similar with [`VCAP_APPLICATION`](https://docs.cloudfoundry.org/devguide/deploy-apps/environment-variable.html#VCAP-APPLICATION) variable. I would be open to doing a PR and get feedback from all of you.

[2018-08-28 16:07] greghaynes commented on #1960
This seems reasonable to me. One downside is we will be creating churn in our revision controller whenever we update this timestamp which, as mentioned, may be updated from more than 1 route. I don't think there's a good use case for a large number of routes pointing to a single revision so this is probably fine as long as the update frequency for lastPinned is longer than our current perioidic re

[2018-08-28 16:31] #1105 closed

[2018-08-28 18:25] tcnghia opened #1965 "Ignore Evictions in TestAutoscaleUpDownUp"
## Expected Behavior
TestAutoscaleUpDownUp ignores Evictions.

## Actual Behavior
Evicted pods, even after being killed, may still be shown when listing Pods.  For examples:

[code]
These pods were killed for more than 25 minutes ago yet still showed in listings.

As a result, if there are eviction during TestAutoscaleUpDownUp, the test will fail.  Evictions are not in our control so this makes th

[2018-08-28 21:33] tcnghia commented on #1921
It looks like this an Istio installation with `istio-statsd-prome-bridge` crashing doesn't affect Knative functionalities.

We should still fix the issue to avoid confusions from users.

[2018-08-28 21:34] tcnghia commented on #1954
It looks like this an Istio installation with istio-statsd-prome-bridge crashing doesn't affect Knative functionalities.

We should still fix the issue to avoid confusions from users.

[2018-08-28 23:50] josephburnett commented on #1846
Here is how we can play around with some of these different ideas:
1. patch #1967 or wait for it to land (pod scope metrics)
2. turn on `enable-pod-scope-metrics` in `config/config-autoscaler.yaml`
3. run an interesting load test: https://github.com/knative/docs/tree/master/serving/samples/autoscale-go
4. look at stacked pod metrics: https://github.com/knative/serving/blob/master/docs/telemetry.md

[2018-08-29 01:33] steren commented on #1865
@sixolet said:

This is not correct. When we introduced the `Service` object, the intent was not to prevent users from fine-grained control of the Route (see the problem statements of #412).

And as @mikehelmick commented in https://github.com/knative/serving/issues/412#issuecomment-377076191:

[2018-08-29 01:56] zrss commented on #1954
hi @tcnghia er, i just struggle in making my first knative app work ... to my point of view (though i am not familar with helm), but as u said, can we do some prune for istio if there has some useless components through helm template args

[2018-08-29 04:41] mikehelmick commented on #1865
Hello. Here I have a solution to the issues raised here.
I want to start by referring back to the original Service proposal, https://github.com/knative/serving/issues/412#issuecomment-377076191

In this, we discussed a future ``manual`` mode for service that allows the user to manipulate their associated ``Route`` and ``Configuration`` objects directly, without the ``Service`` controller continuin

[2018-08-29 16:11] #1965 closed

[2018-08-29 17:25] tcnghia opened #1969 "Investigate using `istio-ingressgateway` by default"
## Expected Behavior
Knative Serving installation does not need to install something in `istio-system` namespace.   Knative Serving does not have to keep up with changes in Envoy proxy images.

## Actual Behavior
We are installing an ELB `knative-ingressgateway` into `istio-system` namespace.  Also, we are using a copy of Istio ELB `istio-ingressgateway` which requires making sure it is up-to-date

[2018-08-29 17:45] evankanderson commented on #1794
To follow up on https://github.com/knative/serving/issues/1951#issuecomment-416532181, it would be good to call out the components of Knative today which would be useful to make available independently (i.e. is queue a useful sidecar, should it be rolled into Istio/Knative Routing Primitives?).

We're already looking at making both the autoscaler and log collection/monitoring able to work well sta

[2018-08-29 17:55] tcnghia commented on #1797
I am running with latest Knative using a 1000 QPS tests for 300 seconds, without sidecar injection, with currencyTarget=2 and see this break down of error rate:
* 300975 responses with HTTP 200
* 24 responses with  503, all of which has response body `overload`, indicating a rejection from our `queue-proxy` (which only allows a small number of requests to be queued).

I will run more tests with si

[2018-08-29 18:14] tcnghia commented on #1969
However for backward compatibility we probably want to keep providing `knative-ingressgateway` Service until the next release and update docs to transition away.

[2018-08-29 18:18] scothis commented on #1865
One thing that bugs me with the current Service is that the ConfigurationSpec can exist in multiple places.  This forces tool makers to hunt for where the configuration actually lives. It looks like that dichotomy lives on between the runLatest and release modes.

Is there a reason to keep the configuration in multiple places (aside from backwards compatibility) rather than pull the configuration

[2018-08-29 18:41] mikehelmick commented on #1865
This was originally included in RunLatest and Pinned to ensure that a service can be created and start serving with a single API call. Since for those modes, the Service is responsible for ensuring that the route and configuration stay in the correct state, we determined that the Service should have all necessary information to materialize the dependent objects since it is that controller's job to

[2018-08-29 19:12] zrss opened #1971 "Configuration is waiting for a Revision to become ready"
## Expected Behavior

i bootstrap a k8s 1.11 cluster in a Ubuntu 18.04.1 LTS vm through `local-up-cluster.sh` (and also install a one master and two nodes k8s 1.11.2 by kubeadm) and follow the startup demo here [https://github.com/knative/docs/blob/master/install/Knative-with-any-k8s.md](https://github.com/knative/docs/blob/master/install/Knative-with-any-k8s.md) to install knative and play with a

[2018-08-29 20:51] tcnghia commented on #1797
The throttling 503s (`503 overload`) will be reduced with new design in https://github.com/knative/serving/issues/1846.  Closing this bug as we are tracking this improvement in  https://github.com/knative/serving/issues/1846.

[2018-08-29 20:51] #1797 closed

[2018-08-29 20:57] tcnghia commented on #1370
I just ran an autoscaling load test and no longer observe Envoy proxy 503s even without the PreStop sleep we added in `istio-proxy`.  The only 503s we observe were from throttling of requests.

This may be from our recently added retries or improvements in Istio 1.0.1, or both.

[2018-08-29 20:57] #1370 closed

[2018-08-29 20:58] tcnghia commented on #898
I just ran an autoscaling load test and no longer observe Envoy proxy 503s even without the PreStop sleep we added in `istio-proxy`.  The only 503s we observe were from throttling of requests.

This may be from our recently added retries or improvements in Istio 1.0.1, or both.

[2018-08-29 20:58] #898 closed

[2018-08-29 21:00] tcnghia commented on #1773
Closing as based on the log here the readiness check only fails in the first 5-6 seconds, which is ok as pods take sometime to get to readiness.

This is getting better at HEAD since we are switching to Istio 1.0.1 which reduces the delay from Pod startup to Pod readiness.

[2018-08-29 21:00] #1773 closed

[2018-08-29 21:02] tcnghia commented on #1550
We added retries at several layers (Ingress, Activator) and don't observe this issue anymore.  We also upgraded to a more stable version of Istio (1.0.1).

Please feel free to open if the issue persists.

[2018-08-29 21:02] #1550 closed

[2018-08-29 21:02] tcnghia commented on #1539
We added retries at several layers (Ingress, Activator) and don't observe this issue anymore.  We also upgraded to a more stable version of Istio (1.0.1).

Please feel free to open if the issue persists.

[2018-08-29 21:02] #1539 closed

[2018-08-29 21:04] tcnghia commented on #1778
@DarioI can you please attach some controller log using the command I suggested above?  Thanks

[2018-08-29 21:04] #1778 closed

[2018-08-29 21:54] ahmetb commented on #1797
Thanks for taking time to take a look at this.

[2018-08-29 22:30] mikehelmick commented on #1865
That makes sense. This was originally bundled within the specific service mode, since we had planned ahead for service modes that might have more than one configuration, but as of now, I don't anticipate that we will need those modes.

I'm fine with moving the configuration out to the top level of the spec. We'll need to think about how to do this in a non-breaking way.

[2018-08-30 00:33] zrss commented on #1931
Duplicate of #1755 ?

[2018-08-30 09:38] zrss commented on #1971
finally i make ti work in a kubernetes 1.11.2 cluster which bootstrap by kubeadm (proxy is the major problem)

u should set http_proxy, https_proxy and no_proxy env in knative-serving controller yaml when u run knative behind a proxy

back to my problem it seems `revisions.serving.knative.dev` crd status should look like

[code]

and once we send a request, then it changes to

[code]

rathen then

[2018-08-30 17:26] SergeC commented on #1969
@tcnghia Since Knative is in alpha or beta stage it's common case if backward compatibility got broken. More important to keep fast development to get it to the production stage.

[2018-08-31 15:00] whaught opened #1973 "Rename traffic split 'name' to 'subdomain'"
## Spec Issue

When setting up a traffic split in a Route, we assign a traffic split a 'name'. We use this field to determine where revisions should serve by prepending the name as a subdomain of the route's URL.
However we do not use this in any other way to address the split as a named object or as an identifier.

It should be called 'subdomain' for clarity. That's what it does, that's what it i

[2018-08-31 15:27] tcnghia commented on #1227
This is now covered in #1961

[2018-08-31 15:27] #1227 closed

[2018-08-31 16:09] mikehelmick commented on #1973
related to release mode in #1865

[2018-09-05 13:47] mattmoor opened #1976 "Triage and address gaps vs. runtime contract"
This uber issue tracks triaging the delta between where we are today vs. the [runtime contract](https://github.com/knative/serving/blob/master/docs/runtime-contract.md), opening issues for those gaps, and driving them to completion.

[2018-09-05 13:47] mattmoor commented on #1976
... and adding conformance testing wherever possible!

[2018-09-05 14:16] evankanderson commented on #1973
For compatibility, we will probably need to keep both `name` and `subdomain` until we have the ability to transform CRDs between versions on the server side. (I think @jonjohnsonjr is tracking this, but it is unlikely before k8s 1.13.)

If we're okay with having both and enforcing (via webhook) that they don't diverge, this name change seems plausible to me. Would like @jonjohnsonjr or @mattmoor t

[2018-09-05 20:36] imikushin commented on #1656
/assign @imikushin

[2018-09-06 18:37] ahmetb opened #1979 "Istio 0.8.0 installation with knative-0.1.1 crashloops istio-statsd-prom-bridge"
/kind doc

Applying https://raw.githubusercontent.com/knative/serving/v0.1.1/third_party/istio-0.8.0/istio.yaml yields to a pod in istio-system to crashloop.

## Expected Behavior

`kubectl get pods -n istio-system` should show healthy pods.

## Actual Behavior

`istio-statsd-prom-bridge` pod is crashlooping

[code]

istio-stats-prom-bridge container shows logs:

[code]

I don't think it can recov

[2018-09-06 19:10] imikushin commented on #1656
Working on implementation anyway

[2018-09-06 23:45] srinivashegde86 opened #1981 "Add observed concurrency perf test results to testgrid"
/area test-and-release
/kind feature

There is a perf test defined at https://github.com/knative/serving/tree/master/test/performance/observed-concurrency. We need a daily run of this test and update the latency numbers emitted by it on testgrid dashboard

[2018-09-06 23:46] srinivashegde86 commented on #1981
/cc @markusthoemmes
/cc @jessiezcc

[2018-09-07 03:30] cizixs commented on #1981
Possbile duplicate: https://github.com/knative/serving/issues/1921

[2018-09-07 13:37] dprotaso opened #1984 "queue:TestBreakerRecover is flakey or breaker is racey"
## Expected Behavior
In `knative/serving/pkg/queue` running the following command should never fail

[code]

## Actual Behavior

I've seen tests fail in [prow here](https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/1983/pull-knative-serving-unit-tests/1038046832120303617/)  and locally
[code]
I've also seen the test deadlock.

If you send a SIGABRT signal to the test i

[2018-09-07 17:29] ahmetb opened #1986 "empty error message in status field is concerning"
/area API
/kind bug

## Expected Behavior

No errors in status.

## Actual Behavior

I just followed helloworld-go, came back the next day to take a look at `kubectl get service.serving.knative.dev -o=yaml` to see error message

          message: 'Revision "helloworld-go-00001" failed with message: "".'

in the `status` field. I think the error happened long time ago (yesterday) but the concernin

[2018-09-07 22:34] pzmrzy commented on #1986
I just follow the helloworld-go tutorial, the status is `True` for now
But yesterday I follow the python tutorial, and this morning I wrote a kotlin helloworld program. Both of them become error now.
[code]
[code]

[2018-09-07 22:51] pzmrzy commented on #1986
The go program is also become failed. It seems needn't to wait for very long time.

[2018-09-08 01:00] srinivashegde86 opened #1990 "We should return route domain for getRouteDomain() in route_test"
https://github.com/knative/serving/pull/1894 updated the getRouteDomain() method to poll for route state, but does not return domain.

https://github.com/knative/serving/blob/master/test/conformance/route_test.go#L130

[2018-09-08 01:00] srinivashegde86 commented on #1990
/kind bug

[2018-09-08 01:00] srinivashegde86 commented on #1990
/area test-and-release

[2018-09-08 01:02] #1990 closed

[2018-09-08 01:02] srinivashegde86 commented on #1990
looks like it gets defined in the function.

[2018-09-08 23:08] nrshrivatsan opened #1991 "knative serving - fault-domain awarness"
/kind feature
/area autoscale

## TL;DR
When `knative-serving` does continual autoscaling, ensure containers don't end up in same [fault-domains](https://kubernetes.io/blog/2017/03/advanced-scheduling-in-kubernetes/)

[2018-09-08 23:50] nrshrivatsan commented on #496
IMHO Resource-Quotas & kustomize overlays for pod-scaling should be fused as first-class citizens into knative-serving. @evankanderson

In my production workloads, we have encountered issues relating to `replicaset` conflicting with `quota` restriction.

[2018-09-10 14:11] dprotaso opened #1992 "Include metadata.resourceVersion when applying a PATCH to a CRD"
The [discussion on the k8s slack](https://kubernetes.slack.com/archives/C0EG7JC6T/p1536450416000100?thread_ts=1536378558.000100&cid=C0EG7JC6T
) made me realize we can safeguard PATCH operations.

## Expected Behavior
When performing a PATCH operation on a CRD we should include a `metadata.resourceVersion` field to ensure we're patching our expected version of the k8s object.

## Actual Behavior
Cu

[2018-09-10 15:19] mikehelmick commented on #1865
Hi @kameshsampath  - I think what you're suggesting is the same as what I'm suggesting, I just didn't fall it out with an example `route` object.

In the example Release mode that I posed the resulting Route object would look like this:

[code]

[2018-09-10 18:11] josephburnett commented on #1447
User-facing docs are part of the autoscale-sample: https://github.com/knative/docs/blob/master/serving/samples/autoscale-go/README.md#analysis

[2018-09-10 18:11] #1447 closed

[2018-09-10 18:16] josephburnett opened #1993 "Emit actual pod counts from autoscaler"
## Expected Behavior

The autoscaling dashboard should show the actual pod counts as recorded on the Deployment.

## Actual Behavior

However it is only showing the pod counts derived from the autoscaling metrics stream.

## Steps to Reproduce the Problem

  1. Deploy a new revision and send minor load
  2. View the autoscaling dashboard to see missing metrics (compare with what should be there: h

[2018-09-11 02:28] ahmetb opened #1995 "ksvc alias doesn't work in v0.1.1 as documented"
/area API
/kind bug

Moving https://github.com/knative/docs/issues/379 to here.

Docs say `kubectl get ksvc` works in knative v0.1.1 but it is not recognized.

Here's what I'm seeing

[code]

[2018-09-11 02:30] ahmetb commented on #1995
/assign @steren

[2018-09-11 02:34] steren commented on #1995
Short name shave been introduced in https://github.com/knative/serving/pull/1723 and [have been tested](https://github.com/knative/serving/issues/1588#issuecomment-410305595)

What is the date of your Knative installation? Can you confirm you are reproducing the issue from HEAD?

[2018-09-11 02:41] ahmetb commented on #1995
It's 4 days ago (Sep 6) I'm sure I followed the v0.1.1 instructions from this exact permalink of the docs: https://github.com/knative/docs/blob/eab66f7c86bb1b6c0ee570094565c9b081f5a4d2/install/Knative-with-GKE.md#whats-next

I get these images in my `knative-serving` namespace:

[code]

Similarly, someone else hit this too https://github.com/knative/docs/pull/383.

[2018-09-11 02:47] steren commented on #1995
My theory is that the feature works at HEAD but not in `v0.1.1`.

So I am not sure how Docs are supposed to be versionned: do they represent docs of a certain version? Or docs of the master branch?

[2018-09-11 02:57] ahmetb commented on #1995
Docs clearly install `kubectl apply -f https://github.com/knative/serving/releases/download/v0.1.1/release.yaml`.

Indeed, https://github.com/knative/serving/commit/401b1ba25e8187325a1ce7f6e431bc5fbf4ce8ec isn't in v0.1.1. 🐌

[2018-09-11 12:01] symfrog opened #1996 "The Knative Serving controller can not access the same set of private registries as the K8s cluster"
## Expected Behavior

The Knative Serving controller is able to access the same set of private registries as the K8s cluster.

## Actual Behavior

The Knative Serving Controller fails to authenticate itself to the same private registries as the K8s cluster.

## Steps to Reproduce the Problem

An example would be a Kops cluster that is able to access a private AWS ECR registry, while the Knative Se

[2018-09-11 13:57] mattmoor opened #1997 "Revision should manage activation"
In my opinion, the fact that today Route manages the deactivation of Revisions feels like a layering violation.

In more detail, activation is widely viewed as a feature of Revisions, but today the semantic boundary is that the Revision surfaces inactivity via `Active: False`, Route(s) referring to inactive Revisions then wire in the activator, and after a grace period the Revision (really KPA) sc

[2018-09-11 14:26] tcnghia commented on #1996
/cc @jonjohnsonjr @mattmoor

[2018-09-11 14:31] steren commented on #1995
I feel we should close this issue, and keep the documentation discussion in https://github.com/knative/docs/issues/379

From a Knative Serving perspective, there is no issue.

[2018-09-11 14:31] #1995 closed

[2018-09-11 16:31] evankanderson opened #1998 "Run Knative service on specific machine type"
**Copied from: https://issuetracker.google.com/issues/114402172**

# Question:

I'm evaluating https://cloud.google.com/knative/ for deploying a (non-tensorflow) machine learning inference script as a serverless function. Ideally it would be deployed on a GPU node, though a node with many CPU cores could work too. I understand it is currently impossible to use node pools or node selectors with Kna

[2018-09-11 16:32] evankanderson commented on #1998
If you are using GPUs, you should be able to use resource requests to indicate that your knative workers need a GPU, i.e. fill out "resources" in your container spec:

[code]

https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/#v1-8-onwards

This would work for the GPU case, but would not work for e.g. `cpu=ARM`, which I don't think is exposed as a resource type.

One caution (based on y

[2018-09-11 16:49] cppforlife commented on #1996
i imagine once knative build can "output" image digests this functionality would go away from knative serving's controller. is that correct?

[2018-09-11 17:35] mattmoor commented on #1996
Yes, but this same problem is shared by the support recently added to kaniko to support authenticating via cluster-identity.

[2018-09-11 18:48] dprotaso opened #1999 "Make the e2e autoscaler test knobs more apparent"
Context: https://github.com/knative/serving/pull/1989#discussion_r216375867

Knobs = correlated settings that affect whether the test succeeds

[2018-09-11 20:32] steuhs commented on #1401
@mattmoor is it still an issue? Can you provide the link to your PR that had the issue?

[2018-09-12 03:50] ZhiminXiang commented on #1767
I will also look into this issue since it may be needed by https://github.com/knative/serving/issues/1964

[2018-09-12 14:26] mgencur opened #2005 "e2e tests do not accept serving-specific flags"
## Expected Behavior
The e2e tests can be run with `-dockerrepo` flag.

## Actual Behavior
When running e2e tests with the latest master (8ed0d700 : Added constants for serving headers (#1953)) the flag is not accepted and the command throws this error: `flag provided but not defined: -dockerrepo`
I suppose this is caused by the fact that the common Flags which are now in the `knative/pkg` repo ar

[2018-09-12 15:02] mgencur commented on #2005
Alright, this needs a fix on two places. One place is already fixed: https://github.com/knative/pkg/commit/e7a4b0d534c73a30f3c92216d33456477e267286
The other place is https://github.com/knative/serving/blob/master/test/e2e_flags.go#L43 where `flag.Parse()` needs to be called. I think there's a pending PR to fix this but not 100% sure: https://github.com/knative/serving/pull/1855

[2018-09-12 15:45] vaikas-google commented on #1960
Seems like it would be nice for a user to be able to explicitly say, do not ever GC this revision.  I don't see that as a goal and just wondering if it should be.

[2018-09-12 16:05] dprotaso commented on #2005
@mgencur this PR was just merged in the last two hours that probably fixes your issue

https://github.com/knative/serving/pull/1983

Try again with the latest HEAD

[2018-09-12 16:50] mattmoor opened #2010 "Conformance test for container that fails to start."
If a container fails to come up, a Revision should not become ready.

We should define a sample that explicitly has and fails a readiness probe and ensure that when it is deployed it is never reported as `Ready: True` (or made the Configuration's `LatestReadyRevision`)

[2018-09-12 17:23] akyyy opened #2011 "Add service label to revisions"
/area API
/area monitoring
/kind question

## Expected Behavior
There is serving.knative.dev/service label in routes and configurations only.

## Actual Behavior
The revision pods don't have serving.knative.dev/service label.

## Additional Info
If we had this label in revision pods, then we could filter metrics using the service label.

[2018-09-12 17:27] #1999 closed

[2018-09-12 17:47] mikehelmick commented on #1865
@sixolet - Please update normative examples to reflect this.

[2018-09-12 18:52] srinivashegde86 opened #2012 "Running the perf test for observed concurrency throws a panic"
/area test-and-release
/kind bug

wrk -t 1 -c 5 -d 60s -s reporter.lua --latency -H "Host: observed-concurrency.default.example.com" "http://35.196.136.123/?timeout=1000"
Running 1m test @ http://35.196.136.123/?timeout=1000
  1 threads and 5 connections
PANIC: unprotected error in call to Lua API (reporter.lua:25: attempt to perform arithmetic on local 'n' (a nil value))

[2018-09-12 18:53] srinivashegde86 commented on #2012
/assign @markusthoemmes
/cc @josephburnett

[2018-09-12 18:54] srinivashegde86 commented on #2012
curl does work, but when running wrk it panics

curl -H "Host: observed-concurrency.default.example.com" "http://35.196.136.123"
1536778439789735970,1536778439789736325

[2018-09-12 19:02] srinivashegde86 commented on #1981
blocked on #2012

[2018-09-12 19:03] srinivashegde86 commented on #1981
@cizixs this issue to get the numbers from the perf tests on https://testgrid.knative.dev/knative-serving. That seems like a different issue

[2018-09-12 20:30] markusthoemmes commented on #2012
Meh. Sorry for the hazzle with the `wrk` script. I'll have a look!

On another note: I think at this point it might make sense to exchange the `wrk` "script" with @josephburnett's go load test driver like the one here: https://github.com/knative/docs/blob/master/serving/samples/autoscale-go/test/test.go

I'll try to fix the wrk thing anyway to unblock your work.

[2018-09-12 20:58] arvtiwar commented on #1928
/unassign

[2018-09-13 14:43] #837 closed

[2018-09-13 16:21] markusthoemmes opened #2016 "Too many pods are created when requests are short"
## Expected Behavior

When firing at the system with a fixed concurrency I expect that many containers to be created.

## Actual Behavior

When firing with very short requests, the system generates a lot of pods unnecessarily (seen 20 pods for a concurrency of 5)

## Steps to Reproduce the Problem
  1. Take this sample app as a base https://github.com/knative/docs/blob/master/install/getting-start

[2018-09-13 16:48] markusthoemmes commented on #2016
I think this is caused mainly because of the arbitrary bucket size of 100ms in this case.

Really what we try to achieve with the bucketing is: We want to avoid a single spike in concurrency to cause us to scale to very high numbers instantly. Or said differently: If the concurrency is not high for a sustained amount of time, we might not want to act on it immediately.

So these buckets divide the

[2018-09-13 16:53] trisberg opened #2018 "HPA for istio-pilot needs namespace specified"
## Expected Behavior

All components for Istio are installed in the istio-system namespace

## Actual Behavior

The `horizontalpodautoscaler.autoscaling/istio-pilot` component ends up in the default namespace

## Steps to Reproduce the Problem

  1. apply https://storage.googleapis.com/knative-releases/serving/latest/istio.yaml to a fresh cluster
  2. run `kubectl get all` and you'll se the HBA in

[2018-09-13 17:00] scothis commented on #2018
This is already fixed upstream https://github.com/istio/istio/pull/7763

[2018-09-13 17:02] trisberg commented on #2018
Should be fixed by https://github.com/knative/serving/pull/2002 then

[2018-09-13 17:46] akyyy opened #2019 "Add stackdriver exporter for metrics."
/area monitoring
/kind feature

## Expected Behavior
Add stackdriver exporter for opencensus, so we can export metrics to either prometheus or stackdriver.

## Actual Behavior
We can only export metrics to prometheus now.

[2018-09-13 18:06] cppforlife commented on #1794
shared google doc "Knative Serving: Container vs Pod Spec" with knative-dev@ google group.

[2018-09-13 18:09] #1787 closed

[2018-09-13 19:06] pivotal-nader-ziada opened #2021 "Conformance tests should test the propagation of labels between Service -> Configuration -> Revision"
## Expected Behavior

Conformance tests should test the propagation of labels between Service -> Configuration -> Revision.

for example the `Revision` object has the following labels:
 * `Configuration` name
 * `Service` name

and the `KPA` and `Deployment` objects have the following labels:
 * `Revision` name

and the `Route` object has the following labels:
 * `Service` name

These are just a f

[2018-09-13 19:08] adrcunha commented on #2005
This is a dupe of https://github.com/knative/pkg/issues/60

[2018-09-13 19:08] #2005 closed

[2018-09-13 20:18] arvtiwar commented on #1931
@cizixs can you please provide more context?

[2018-09-13 21:21] ZhiminXiang commented on #1767
I changed the replica of the Gateway deployment to 4, and added below rollingUpdate strategy:
[code]
which means we don't allow any pod becomes unavailable during the process of redeployment.

But I still got 2 request errors within 50 requests during the redeployment process (see below):
 1. `curl: (56) OpenSSL SSL_read: SSL_ERROR_SYSCALL, errno 104`
 2. `Failed to connect to httpbin.example.com

[2018-09-14 00:14] evankanderson commented on #1794
[Doc here](https://docs.google.com/document/d/1p42n_WwQc1Z3FsXr5ih4NnMY3PRzY15Ro2EU-mk_EuA/edit?ts=5b9aa556)

[2018-09-14 09:10] markusthoemmes commented on #2012
@srinivashegde86 got around to take a look. Unfortunately we need to set an environment variable with the specified concurrency (mentioned in PR #2023).

That should unblock the work here. As mentioned above, we should move to a go based loaddriver to make this easier to work with. We can do that midterm though I guess?

[2018-09-14 13:35] #2012 closed

[2018-09-14 14:46] mattmoor commented on #1960
@vaikas-google For a particular Revision, a workaround within this model would be to say:
[code]

I think a similar workaround would work for all Revisions if you were to configure an effectively infinite retention duration in the controller configmap.  We can always add an explicit toggle if folks ask.

[2018-09-14 15:00] mattmoor commented on #1876
Alternately we should remove it until we have e2e testing.

[2018-09-14 16:19] mattmoor commented on #2021
The Configuration inlines a RevisionTemplateSpec, which lets you specify labels for the Revision at the Service and Configuration levels.  I think you are suggesting that it should augment these with its own.

I think one problem we've seen with this is a race that occurs due to the Route labeling referenced Configurations and the Configuration stamping our a Revision.  Sometimes the Revision gets

[2018-09-14 17:11] mattmoor commented on #439
Just found out that riff is currently relying on this, so we should be sensitive to not breaking them.

cc @trisberg

[2018-09-14 17:12] tcnghia commented on #1767
Releated https://github.com/istio/istio/issues/7658

[2018-09-14 17:30] trisberg commented on #439
If we could add the annotation to the build `part` instead of the `revisionTemplate` then that would work fine for our purposes

[2018-09-14 17:39] pivotal-nader-ziada commented on #2021
I wanted to add a conformance test to check all these labels as suggested by @evankanderson in the Environment variables issue

[2018-09-14 18:34] mattmoor commented on #1960
Yeah, I think I like this for the liveness model.  I think we can explore a number of retention controls around knowing what we need.  Thanks, @mikehelmick

[2018-09-14 19:12] mattmoor commented on #1960
/assign @greghaynes

[2018-09-14 20:28] symfrog opened #2025 "PersistentVolumeClaim volumes should be allowed in the Revision spec"
## Expected Behavior

Volumes of type PersistentVolumeClaim (PVC) should be allowed to be defined and mounted in the Revision spec.

## Actual Behavior

The webhook validation rejects any volumeMounts defined in the container spec.

## Additional Info

PVC volumes are required to read/write external shared application data in many scenarios (e.g. NFS).

Mounting PVC volumes would not impact the st

[2018-09-14 21:04] vaikas-google commented on #1960
@mattmoor 100 years in the future seems like a workable workaround. Just want to make sure there's a way to pin a 'known-good-one' and make sure it stays in the system regardless of any other churn.

[2018-09-14 22:33] imikushin commented on #1961
So, to summarize:
- Configuration:`build` (which is currently a BuildSpec) becomes an Unstructured object with TypeMeta fields (`kind`, `apiVersion`), which can be a Build or any other object that creates a container image
- Revision: instead of `buildName` there will be `buildRef` which is an ObjectReference pointing to the "build" object created by applying the content of the Configuration `buil

[2018-09-14 23:44] evankanderson commented on #2021
It seems like we are copying labels from one level to another (for example, so that the Pods running user code know what Revision or Service they are part of).

This seems like useful functionality which users will depend on, so we should add it to our conformance testing. I noticed this while reviewing #1966, which effectively changes the set of Pod labels but doesn't result in a direct `spec` ch

[2018-09-14 23:59] #1992 closed

[2018-09-15 04:12] mattmoor commented on #2025
I'm adding this to the API WG backlog of things to discuss.

[2018-09-16 15:09] mattmoor opened #2030 "Include Active as one of the required dependents in the Revision ConditionSet"
It looks like if we include Active with the other conditions some tests fail.  Once @n3wscott's change lands we should try resolving this.  [Context](https://github.com/knative/serving/pull/2015/files/8b1867abae03a8806bebd31205617d4d6ca9cfa3#r217886768)

[2018-09-16 15:51] #1824 closed

[2018-09-16 20:33] mattmoor commented on #1961
Essentially yes, but because CRDs don't yet have a solid versioning story I think for the short term these will need to live side-by-side.

Generally for bigger things like this I like to break these things down into much smaller sub-problems and build towards it incrementally (I also am fairly aggressive about avoiding PR scope creep and breaking pieces off and sending them as separate PRs).  I f

[2018-09-17 09:38] salamani opened #2033 "Facing issue while running e2e-tests"
I am not able to run the e2e test cases from local environment.
I have attached the e2e-test command logs, pods of all namespaces and the describe of pod which is failing during the testcase execution.
Please let me know if any faced similar issues/ solution.

Select the appropriate areas for your issue:

/area test-and-release

Classify what kind of issue this is:

/kind question
/kind good-first

[2018-09-17 13:38] pivotal-nader-ziada commented on #2021
/assign @pivotal-nader-ziada

[2018-09-17 14:32] mattmoor commented on #1962
The near-term portion of this is going to be reviewed in the API WG on 2018/09/19.

It is also notable that we will probably table the rest of this work for a future milestone as Beta of the conversion webhook won't be until 1.14 at this point.

[2018-09-17 14:33] mattmoor commented on #1960
👍

We're going to review this in the API WG on 2018/09/19.

[2018-09-17 16:27] markusthoemmes opened #2037 "Provide an e2e test that asserts autoscaler stability"
Our autoscaler has unstable behavior today, especially when running short-lived requests (see #2016). We should provide an E2E test that runs a stable load over a longer period of time (say 1 minute) and asserts that the autoscaler creates only a well defined amount of pods, which should not be `> concurrency / container-concurrency-target + X` (where X is small enough to be acceptable)

[2018-09-17 17:57] jchesterpivotal commented on #2016
Is this a measure of utilisation? The ratio of time spent processing to time spent idle?

[2018-09-17 18:10] tcnghia commented on #1583
I think we could support both, and let customer decide on which behavior to choose from.

Part of the reasons why I want to fix this is to allow our traffic tests to be more robust.  Right now it needs to be aware of the serving state of Revision, but if we can handle traffic split for Inactive revision correct we won't need to do so.

Also, even if we pass the Route header we don't need to activa

[2018-09-17 19:11] #2030 closed

[2018-09-17 19:21] srinivashegde86 opened #2040 "Switch running observed concurrency perf test to using a go test load driver"
/area test-and-release
/kind feature
/kind good-first-issue

The observed concurrency perf test currently uses wrk to run the load, and then LUA script to parse the results. We need a golang based load generator and parse to run this test. Something like https://github.com/knative/docs/blob/master/serving/samples/autoscale-go/test/test.go

[2018-09-17 19:30] markusthoemmes commented on #2040
Thanks for opening this issue, I forgot to do so @srinivashegde86 👍

[2018-09-17 19:32] markusthoemmes commented on #2016
@jchesterpivotal yes exactly! But on top it also takes into account how much usage there was in parallel, which is the measurement I think we need.

For example: If we have 3 concurrent requests taking the whole second, we want to report a concurrency utilization of 3.

[2018-09-17 20:52] ZhiminXiang commented on #1767
I have verified that by using the cert-sync solution proposed in https://github.com/istio/istio/issues/7658#issuecomment-413220647, we could dynamically add host name and its certificate into gateway without affecting ongoing traffic.

It is better to have Istio team provide an official version if it is possible.

[2018-09-17 22:44] scothis opened #2043 "Activator leaks metrics publicly"
## Expected Behavior

When making a request to a deactive service /metrics, I expect the service to activate and handle the request.

## Actual Behavior

The activator's /metrics endpoint hijacks the request and returns it's own internal metrics

## Steps to Reproduce the Problem

1. create a service
2. wait for it to scale to zero
3. make a request to the service with the path `/metrics`
4. see t

[2018-09-17 23:44] mdemirhan opened #2045 "Add common controller metrics & corresponding dashboards"
Add metrics common to all controllers (such as queue depth, reconciliation success/failure/latency) and create corresponding dashboards for them.

[2018-09-17 23:44] mdemirhan commented on #2045
/cc @mattmoor

[2018-09-17 23:46] scothis opened #2046 "Activator can activate the wrong Service"
## Expected Behavior

The activator should activate the revision the request is intended for.

## Actual Behavior

The Route's VirtualSerivce [appends headers on to the request](https://github.com/knative/serving/blob/699d3436f583a2d48c75c456324de106335960fa/pkg/reconciler/v1alpha1/route/resources/virtual_service.go#L207-L211) (`knative-serving-revision`, `knative-serving-configuration` and `knati

[2018-09-18 06:45] stroebitzer commented on #1397
What about ServiceContext?

[2018-09-18 09:06] #1954 closed

[2018-09-18 12:27] zrss opened #2048 "Best practices for installing serving"
## Expected Behavior

install `serving` from chart (helm) ?

## Actual Behavior

currently, i can install the `serving` from a aggregated yaml (included serving and build yaml)

[https://github.com/knative/docs/blob/master/install/Knative-with-any-k8s.md#installing-knative-serving-and-build-components](https://github.com/knative/docs/blob/master/install/Knative-with-any-k8s.md#installing-knative-s

[2018-09-18 15:13] tcnghia commented on #2043
/cc @akyyy @josephburnett

[2018-09-18 17:57] akyyy commented on #2043
/cc @mdemirhan

[2018-09-18 18:02] mattmoor opened #2052 "Autoscaling e2e is extremely flaky"
You can see this here: https://testgrid.knative.dev/knative-serving#continuous

You can see this affecting our ability to land PRs that are testing nops here: https://github.com/knative/serving/pull/2035#issuecomment-422182124

[2018-09-18 18:03] mattmoor commented on #2052
cc @adrcunha @josephburnett

I am going to disable this for now.  Can one of you find someone to drive this to resolution?

[2018-09-18 19:06] josephburnett commented on #2052
/assign josephburnett@

I'll fix it.

[2018-09-18 22:05] josephburnett commented on #2052
The last 3 failures had nothing to do with autoscaling.  The revision just didn't come up: "The Route noodleburgarocetrr was not marked as Ready to serve traffic"

[[1](https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1042096392064995328)] [[2](https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1041990694773723136)] [[3](https:/

[2018-09-18 22:05] josephburnett commented on #2052
Testing on my own, fresh cluster synced to head, it has passed three times.

[2018-09-18 22:08] josephburnett commented on #2052
Failures are during setup: https://github.com/knative/serving/blob/ba2a12bad69a03e34583ed5da09608ce6f44b431/test/e2e/autoscale_test.go#L156

[2018-09-18 22:45] yanweiguo commented on #1795
Done in #1966.

[2018-09-18 22:45] #1795 closed

[2018-09-18 23:11] #2046 closed

[2018-09-19 17:03] mattmoor commented on #2025
I think this is going to get bumped a week.  We already have a packed agenda this week.

[2018-09-19 17:36] tcnghia opened #2061 "Route.Status.TrafficTarget should not have ConfigurationName set"
## Expected Behavior
Route.Status.TrafficTarget does not set ConfigurationName, according to https://github.com/knative/serving/blob/master/docs/spec/spec.md.

## Actual Behavior
Currently Route.Status.TrafficTarget has both RevisionName and ConfigurationName set.

## Steps to Reproduce the Problem

  1.  Create a valid Route with valid  Configuration TrafficTarget
  2.  See that both Configuratio

[2018-09-19 17:52] arvtiwar commented on #2061
/assign arvtiwar

[2018-09-19 18:03] dprotaso commented on #1960
I recall there were ideas of using RBAC to restrict the creation/modification of a revision by a user. Essentially, only a controller would have said ability.

Would these GC approaches still work? Is RBAC granular enough to allow updates to a revision's annotations from end-users?

[2018-09-19 18:42] solsson commented on #1996
Using a local (i.e self-hosted) registry, as opposed to a private (authenticated) one, I'd say that this issue isn't only about authentication. Possible solution 2 under "Additional Info" above won't suffice. Solution 1 will probably work, as it uses nodes' docker daemon, but as explained below we must use registry URLs that differ between build and serving.

Builds can push to the registry over a

[2018-09-19 20:04] josephburnett commented on #2052
@adrcunha, do you have any idea why this test would fail at setup?  Is the cluster underprovisioned?

[2018-09-19 20:05] mattmoor commented on #1960
@dprotaso good point

[2018-09-19 20:08] josephburnett commented on #2052
The route tests have generally been flakey: https://screenshot.googleplex.com/bRaHG7SA9yS.png and this test was failing in the same way.

They are looking much better now: https://screenshot.googleplex.com/RiUg12W0OJY.png so I would like to re-enable the autoscaling test.

My theory is that this flakiness didn't have anything to do with autoscaling.  And enabling it again, it will pass like the bl

[2018-09-19 20:31] mattmoor commented on #1960
Also, during the WG meeting review @evankanderson raised the good point that this doesn't discuss the potential option of leaning on OwnerReferences for GC.  This was something I'd considered, but failed to record and it's been evicted from my cache.  I sort of thought through this out loud during the meeting, but will try to record the logic here.

OwnerReferences are mainly useful for cascaded d

[2018-09-19 20:31] greghaynes commented on #1960
Given that we haven't implemented / decided on restricting revisions with rbac (correct?) maybe we can get by for now with a TODO/note in the code that if we restrict revision mutability we will need to expose a knob for users to control specific revision pinning via another resource (likely config). Seems a bit overthinking to work around that design before its decided on.

[2018-09-19 20:33] mattmoor commented on #1960
Yeah, let's keep moving ahead with the PR, but give folks a few days to comment before we merge it (even if we finish reviewing quickly).

[2018-09-19 21:53] mattmoor opened #2064 "Add `.status.imageDigest` to Revision"
The Revision controller already resolves tags to digests as part of reconciliation ([here](https://github.com/knative/serving/blob/279424145446338b96c4e5aad9a2700db6b0ea77/pkg/reconciler/v1alpha1/revision/cruds.go#L51)).

Instead of doing this strictly as part of `Revision -> Deployment` we should add this to the Revision's `Status` field as `ImageDigest`, and use this to populate the Deployment.

[2018-09-19 21:53] mattmoor commented on #2064
cc @mikehelmick @cooperneil @jackfhebert FYI

[2018-09-19 21:54] mattmoor commented on #2064
This should also update https://github.com/knative/serving/tree/master/docs/spec to reflect the addition of the new fields.

[2018-09-19 21:59] mattmoor commented on #2064
We should also add a conformance test for this.

[2018-09-19 22:07] adrcunha commented on #2052
I don't know if the cluster is underprovisioned. Running the test locally several times with a larger cluster setup should answer this questions, but last time I discussed this, the current size was enough for the e2e tests.

[2018-09-19 22:55] bobcatfish commented on #1921
So it seems like this still happens when you follow along with https://github.com/knative/docs/blob/master/install/Knative-with-GKE.md

![image](https://user-images.githubusercontent.com/432502/45786234-5e324f00-bc24-11e8-9b9e-3c4489c126fa.png)

[2018-09-20 00:38] imikushin commented on #1961
@mattmoor Would it make sense to use `buildRef` in Configuration (referencing a separate Build object) instead of having `build` field host an unstructured object (currently a BuildSpec)?

This change would remove the responsibility to create an unstructured object simplifying the controller without losing much.

If a build is in a separate section of a YAML file, it doesn't affect the `kubectl ap

[2018-09-20 16:02] arvtiwar commented on #2061
@tcnghia seems I am getting it, just to confirm "- configurationName: stock-configuration-example" in below route output is not needed as per  spec? https://github.com/knative/serving/blob/master/docs/spec/spec.md

  status:
    conditions:
    - lastTransitionTime: 2018-09-17T19:43:53Z
      status: "True"
      type: AllTrafficAssigned
    - lastTransitionTime: 2018-09-17T19:43:53Z
      status:

[2018-09-20 16:05] arvtiwar commented on #2061
Also in the spec "Route.Status.TrafficTarget" there is "name:..." field. what will be the value?

[2018-09-20 16:09] tcnghia commented on #2061
the Name field is for named traffic target, for example if we want `v1.route.namespace.example.com` to point at some pinned Revision.

In the example there according to the spec we don't want to show `configurationName` but only `revisionName`.

[2018-09-20 16:14] arvtiwar commented on #2061
thanks

[2018-09-20 20:09] mattmoor opened #2070 "Conformance test: Configuration metadata changes do not result in a new Revision"
If I only change the metadata of the Configuration (e.g. add/remove labels/annotations), a new Revision SHOULD NOT be created.

[2018-09-20 20:10] mattmoor opened #2071 "Conformance test: Changing a Configurations RevisionTemplateSpec's metadata creates Revision"
If I only change the metadata of the Configuration's RevisionTemplateSpec (e.g. add/remove labels/annotations), then a new Revision SHOULD be created.

[2018-09-20 20:16] mattmoor commented on #2064
/assign @dgerd

[2018-09-20 21:54] steuhs commented on #2010
@mattmoor do you have any reference to the docs/implementation of readiness probe? Where is "Ready: True" coming from?

[2018-09-20 23:49] #2021 closed

[2018-09-21 04:09] lichuqiang commented on #2071
How about filtering out this kind of events in the informer/handler level?
The only issue this way is we'll probably do not have related revision for each of the Configuration generations. But I don't think it a functional issue.

[2018-09-21 13:34] pivotal-nader-ziada commented on #2011
@akyyy the `Service` name label has been added to the `Revision` object as part PR #1966 to add environment variables inside the pod, and a conformance test has been added for labels in PR #2039

[relevant code here](https://github.com/knative/serving/blob/master/pkg/reconciler/v1alpha1/configuration/resources/revision.go#L45)

Please check if these changes resolve your issue. Thanks

[2018-09-21 14:36] mattmoor opened #2073 "Incorporate the detailed KPA flow into docs"
The diagrams linked [here](https://github.com/knative/serving/issues/1655#issuecomment-411221477) are super detailed.

[2018-09-21 18:57] mdemirhan commented on #2011
@pivotal-nader-ziada The PR addresses this issue - I validated this with the latest HEAD and we get the label correctly into pods. Thanks for the fix & heads up!

[2018-09-21 18:57] #2011 closed

[2018-09-21 20:39] #1401 closed

[2018-09-21 20:49] steuhs commented on #1466
@cjwagner do you know which golang git library kubernetes/test-infra uses?

[2018-09-21 20:54] steuhs commented on #1516
I'll close this bug since I don't see other people have concern over this

[2018-09-21 20:54] #1516 closed

[2018-09-21 20:55] #1524 closed

[2018-09-22 14:16] mattmoor opened #2076 "pkg/activator README is stale"
[This](https://github.com/knative/serving/blob/master/pkg/activator/README.md) talks about Ingress and RouteRules.  We should update it to reflect our current model.

[2018-09-22 14:16] mattmoor commented on #2076
/assign @tcnghia

This actually relates to what you are working on changing (again!) now.

[2018-09-24 17:56] tanzeeb commented on #2043
/assign

[2018-09-24 18:39] josephburnett opened #2078 "Scale from zero fails during scale-down grace period"
## Expected Behavior

Requests should always succeed, regardless of the scaling state of the Revision.

## Actual Behavior

Requests which arrive during the end of the grace period (after serving state is Reserve but before the Deployment is scaled to 0) time out.  Serving state is flipped to Active by the Activator, but gets flipped back to Reserve.

## Steps to Reproduce the Problem

  1. Set `s

[2018-09-24 20:02] sebgoa commented on #1996
I am curious to see who else faces this issue ?

https://github.com/knative/build/issues/3

Since it seems that we can push to a in-cluster repo but serving cannot pull

[2018-09-24 20:13] sebgoa commented on #1996
solution here actually: https://medium.com/@zhimin.wen/explore-knative-build-on-on-premise-kubernetes-cluster-ibm-cloud-private-b0e94e59ba9d

[2018-09-24 20:16] mattmoor opened #2079 "Add e2e testing for decoupled build"
Like [this](https://github.com/knative/serving/blob/3f00c39e289ed4bfb84019131651c2e4ea660ab5/test/e2e/build_test.go#L47-L52) we want coverage that we can perform builds via the more flexible specification.

cc @imikushin @ImJasonH

[2018-09-24 20:16] mattmoor commented on #2079
[Here's](https://github.com/knative/serving/pull/2065) the PR that enables this.

[2018-09-24 21:06] mdemirhan opened #2080 "Scale up from 0 doesn't happen after upgrades"
## Steps to Reproduce the Problem
  1. Create a new revision.
  2. Wait for revision to scale to 0.
  3. Upgrade the controllers (`ko apply -f config/`)
  4. Start sending traffic to the revision created at step 1.

All attempts to send traffic fail and the revision doesn't get scaled back up.

[2018-09-24 22:34] cjwagner commented on #1466
We don't use a specific golang git library throughout `kubernetes/test-infra`. I think most places just shell out to `git`.
Prow does have a [`git` client library](https://github.com/kubernetes/test-infra/tree/master/prow/git) written in golang that you can reference, but I don't think it will help with this problem.

You can handle this case by using more of the data that is provided when you lis

[2018-09-24 22:37] josephburnett commented on #2080
When broken, we get an initial recommendation of Active.  But subsequent recommendations of Reserve.

[code]

Normally we get consistent recommendations of Active.
[code]

[2018-09-24 22:39] josephburnett commented on #2080
This log lines comes from here: https://github.com/knative/serving/blob/2002f7c5213bfc34a2a866f2e65ccdd9def416ab/pkg/reconciler/v1alpha1/autoscaling/autoscaling.go#L212

So something is reconciling KPA serving state back to Reserve.

[2018-09-24 22:42] josephburnett commented on #2080
This looks like the "bouncing off zero" problem that @mattmoor was referring to here: https://github.com/knative/serving/blob/c3a95a733f195cce81922299059c3acfe27ce30b/pkg/reconciler/v1alpha1/autoscaling/autoscaling.go#L215 which was waiting on metrics forwarding from the activator to the autoscaler (#1623).

[2018-09-24 22:45] josephburnett commented on #2080
The core question is "how to prevent the activator and autoscaler from fighting over serving state?"

The solution when implementing the multi-tenant autoscaler was to have the autoscaling algorithm recommend 0 once, and only once.  So it won't try to scale to zero while the activator is trying to activate.  But that appears to be the mechanism causing this bouncing.

The desired solution is to ha

[2018-09-24 23:05] josephburnett commented on #2080
This reproduces for a while back (checked at #e5bbbad -- August 31st).

[2018-09-25 06:44] lichuqiang commented on #1963
/cc

[2018-09-25 17:12] mattmoor opened #2084 "Formalize Validation failures"
### Background

So today there are effectively two levels of validation that we perform.
1. **Context insensitive**: superficial resource-local validation at the resource level (e.g. required fields are specified, character restrictions, oneofs, ...)
2. **Context sensitive**: cross-object/cross-API validations (e.g. resource existence checks)

These checks are performed in the following contexts t

[2018-09-25 17:40] mattmoor commented on #2084
A few things I forgot to mention:
1. `Valid` also gives us a potential path for surfacing context-insensitive validation failures less synchronously (e.g. if folks don't want to run the webhook, or if we want to stop requiring one).  @evankanderson pointed out that this creates interesting complications for gauging conformance.

1. This sets us up to later revisit the guideline of: "don't run cont

[2018-09-25 18:32] #1774 closed

[2018-09-25 18:32] RichieEscarez commented on #1774
FYI: I am currently editing the "[serving/installing-logging-metrics-traces.md](https://github.com/knative/docs/blob/master/serving/installing-logging-metrics-traces.md)" topic in 'knative/docs' and will make the corresponding changes there too (ie. `kubectl get pods --namespace knative-monitoring --watch`)

[2018-09-25 20:10] cooperneil commented on #2084
I like the idea in general - it allows a client to distinguish between "this is an internal system error" vs "this is something a human can act on".

I wonder if some errors are a bit difficult to categorize though? Is the RevisionMissing error given in the example due to a user having manually deleted the lastReadyRevisionName (which the user can do something about)? Or is it due to a race condit

[2018-09-25 21:19] josephburnett commented on #2080
This bug has two root causes:
1. KPA reconciliation is short-circuiting when we have no metrics https://github.com/knative/serving/blob/91f0bde62eb2f75f3811f7fbfe002a537b50056e/pkg/reconciler/v1alpha1/autoscaling/kpa_scaler.go#L92  Even when we are given an activation signal via KPA ServingState=Active.
2. Autoscaler algorithm is recommending scale-to-zero when it doesn't have any metrics.  https:

[2018-09-25 21:54] josephburnett commented on #1963
@tcnghia, I would also expect that `ClusterIngress` would specify the desired queuing behavior for requests which exceed the capacity of the Revision or an individual Pod.  E.g. #1846.

@mattmoor, what do you think?

[2018-09-25 23:08] RichieEscarez commented on #1979
/assign @mattmoor

[2018-09-25 23:09] RichieEscarez commented on #1979
this is a duplicate issue with #1921

[2018-09-26 06:40] looperC opened #2086 "High concurrent requests will cause queue-proxy "cannot assign requested address" error"
/kind bug

## Expected Behavior
No errors in status.

## Actual Behavior
[code]

## Steps to Reproduce the Problem

  1. Deploy a deployment including queue-proxy sidecar and user-container(helloworld-go)
  2. Use wrk for stress testing(wrk -c20 -t10 -d60s --latency "http://${queueProxyAddress}:8012")

[2018-09-26 06:55] looperC commented on #2086
Looking at the code`serving/cmd/queue/main.go`, httpProxy's Transport uses http.DefaultTransport, and the default value of MaxIdleConnsPerHost is 2. After setting this value larger, this error did not appear again.
[code]

[2018-09-26 08:36] lichuqiang commented on #2086
As the queue container is quite workload-specific. maybe we should consider expose its config options to users.
In fact I'm wondering if we can support config per workload (similar to that the sidecar of istio, users can specify it in pod template, and config can be injected through webhook)

[2018-09-26 11:12] lichuqiang commented on #1969
/cc

[2018-09-26 17:31] tcnghia opened #2087 "Resolve Istio image tags into digests"
## Expected Behavior
Our provided Istio manifests should refer to digests and not tags.  We have seen cases where a moving tag (`latest`) causes changing behavior.

Our script https://github.com/knative/serving/blob/master/third_party/istio-1.0.2/download-istio.sh should just do `ko resolve` after running `helm`.

## Actual Behavior
We are using tags in the provided manifest.

## Steps to Reproduc

[2018-09-26 18:30] mattmoor commented on #2025
We discussed this a little bit today, but it seems you weren't in attendance.  I think it would be helpful to elaborate on the use case here a bit.  In particular, we can't just allow arbitrary PVCs, so how do we restrict the subset we allow to those with appropriate scalability characteristics.

We can revisit this once more details are added.  Please add this to the API Core WG Agenda at a time

[2018-09-26 20:54] tanzeeb commented on #1984
/assign

[2018-09-27 03:12] lichuqiang opened #2091 "Lack of basic lint check in CI"
## Expected Behavior

Currently we only have  functionality items like build, unit-test and e2e in CI, basic lint check items like gofmt, license check, spelling check are missing.

I would like to add scripts in "/bin" path to cover the things gradually, and add an item in CI for this eventually

/cc @mattmoor @evankanderson @vaikas-google @tcnghia for thoughts

[2018-09-27 03:13] lichuqiang commented on #2091
/assign

[2018-09-27 08:09] lichuqiang commented on #2091
maybe add the scripts to the existing "/hack" path?

[2018-09-27 08:18] vdemeester commented on #2091
@lichuqiang yes :+1:

[2018-09-27 08:56] lichuqiang commented on #2091
ping the productivity folks as well
@adrcunha @jessiezcc

[2018-09-27 15:05] zrss opened #2094 "Bad coding style about serving controller params"
## Expected Behavior

we can easily figure out where serving controller params come from

## Actual Behavior

flags are inited in go `init` func but `init` is in the bottom of the file

https://github.com/knative/serving/blob/243f9c72468aa50104b14c9e6ab8868b4c9cebcb/cmd/controller/main.go#L242-L245

OCD as i, send an PR to do a minor changes ...

[2018-09-27 16:47] adrcunha commented on #2091
Added my comments to your PR. The bulk of the scripts should go in `knative/test-infra`. License checking is already performed in the build tests. I don't want to block required tests on nits, so we need a good use case and checks before doing so. As nonblockers, I wonder how much value they would add to a PR...

[2018-09-27 17:06] lichuqiang commented on #2091
Ack, will consider to add the check in test-infra as shared tools, or prow plugins as required.

[2018-09-27 17:06] #2091 closed

[2018-09-27 18:01] adrcunha commented on #2091
Also note that Prow already has the lint plugin enabled, but it's not automatic (for details and rationale, see #346). You can comment `/lint` in any PR to run the go linter.

[2018-09-27 18:04] adrcunha commented on #196
This is https://github.com/knative/test-infra/issues/101.

[2018-09-27 18:04] #196 closed

[2018-09-27 18:46] trisberg opened #2096 "build from source knative-services get admission webhook error when deployed"
## Expected Behavior

The build-from-source-go sample deploys without errors

## Actual Behavior

Not able to deploy the sample due to admission webhook denying request

## Steps to Reproduce the Problem

  1. follow the instructions for the `source-to-url-go` sample
  2. deploy the YAML for the knative service
  3. note the following error:
      `Error from server (InternalError): error when cre

[2018-09-27 18:59] trisberg commented on #2096
/assign @mattmoor

[2018-09-27 19:13] tanzeeb commented on #1984
One possible cause is the race condition here in [`concurrentRequest` ](https://github.com/knative/serving/blob/master/pkg/queue/breaker_test.go#L124-L125):
[code]
Requests aren't guaranteed to be queued in the order that `concurrentRequest` is called, but other areas of the tests assume they are (eg. in `unlockAll`).

[2018-09-27 19:46] trisberg commented on #2096
it also happens with `serving/previous/v20180926-91f0bde/release.yaml` and that seems to be the first release with this issue

[2018-09-27 20:29] arvtiwar commented on #2061
I have implemented the fix but still fixing the test, can I push a PR by tomorrow. Is that ok?
Btw, kubectl ordering is not an issue as per Matt

[2018-09-27 20:31] arvtiwar commented on #2061
percent: 100
  status:
    conditions:
    - lastTransitionTime: 2018-09-25T20:20:49Z
      status: "True"
      type: AllTrafficAssigned
    - lastTransitionTime: 2018-09-25T20:20:49Z
      status: "True"
      type: Ready
    domain: helloworld-go.default.example.com
    domainInternal: helloworld-go.default.svc.cluster.local
    traffic:
    - percent: 100
      revisionName: helloworld-go-0000

[2018-09-27 20:46] tcnghia commented on #2061
@arvtiwar yes, that should be fine.  thanks for fixing.

yes, `kubectl` ordering won't be an issue.

[2018-09-27 21:13] #1931 closed

[2018-09-27 21:56] bbrowning commented on #1998
This is a great use-case for why we should allow resources in the ContainerSpec of Revisions.

[2018-09-27 23:28] bbrowning commented on #2096
It looks like a (perhaps unintended?) side-effect of merged PR #2065 is that Serving's webhook can't decode the Build portion of a ConfigurationSpec without a `kind` and `apiVersion` in there. I do see some logic in that PR that attempts to default to kind `Build` and apiVersion `build.knative.dev/v1alpha1` but that logic must not be in use when the serving webhook is decoding the request.
/cc @im

[2018-09-27 23:35] #1267 closed

[2018-09-27 23:35] #1495 closed

[2018-09-27 23:39] berndtj opened #2099 "Cannot set "resources" on a container revision spec"
/area API
/kind feature

## Expected Behavior

You should be able to specify the resources on a function from the revision spec.  This value would then override the default.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

  1. Create a revision spec (the below is part of a service spec):
[code]
  2. Submit revision/service
  3. spec is rejected: `must not set the field(s): spec.run

[2018-09-28 00:00] evankanderson commented on #2099
/remove-area autoscale
/remove-area build
/remove-area monitoring
/remove-area networking
/remove-area test-and-release
/remove-kind question
/remove-kind bug
/remove-kind process
/remove-kind cleanup

[2018-09-28 07:02] lichuqiang commented on #2025
I think users can have various scenarios that need pvcs, they may need remote storage for data persistence, and local volumes better access speed...
Or we'd suggest the workloads under control of knative to be stateless, and should not rely on persistent storage?

Besides pvc, I noticed quite a lot of fields in pod template are hardcoded:
we only support one container per pod, and one port per con

[2018-09-28 08:04] Leon-Liangming opened #2101 "Support set queue-proxy target port to app"
## Expected Behavior
user can set app's port which queue-proxy request

## Actual Behavior
queue-proxy send request to "http://localhost:8080", can't be set by user.
https://github.com/knative/serving/blob/master/cmd/queue/main.go#L233

	target, err := url.Parse("http://localhost:8080")
	if err != nil {
		logger.Fatal("Failed to parse localhost url", zap.Error(err))
	}

  1. user set a port name a

[2018-09-28 08:40] jszroberto commented on #2099
/assign @jszroberto

[2018-09-28 14:33] #2094 closed

[2018-09-28 14:48] mattmoor commented on #2096
Oh!  I was expecting the Build webhook to be rejecting this, but we are.  That's interesting.

[2018-09-28 14:49] mattmoor commented on #2096
I missed this, which added it to e2e:
https://github.com/knative/serving/pull/2065/files#diff-7efdfe6f34c6cdf200add02bd9755adbR49

It also looks like it's the wrong shape.

[2018-09-28 15:01] mattmoor commented on #2096
Ok, the problem here is the use of `unstructured.Unstructured` directly, which requires the inclusion of `kind` and `apiVersion`, which we definitely don't want.

I'll put something together today to deal with this, sorry for the breakage.

[2018-09-28 15:22] swalkowski opened #2102 "Runtime contract proposal: Inject memory and timeout values as env vars"
Use case:

Allow user's container access configuration values like timeout and memory so that the user can configure the runtime, client libraries, and outgoing calls correctly.

Examples:

* Configure GC to kick in at the right moment to avoid running out of memory, for example through `--max-old-space-size` flag in Node.js.
* Calculate the remaining time before hitting the timeout, to set approp

[2018-09-28 16:12] josephburnett opened #2103 "Scale-up deadzone after scaling to zero"
## Expected Behavior

A Revision should be able to scale from 0->1 immediately after scaling from 1->0.

## Actual Behavior

However it can take as long as 60 seconds because the Autoscaler counts the number of pods in service by the number of unique pod metrics it has in it's 60 seconds window.

## Steps to Reproduce the Problem

  1.  Scale a revision to zero.
  2.  Immediately send it traffic.

[2018-09-28 16:13] #2052 closed

[2018-09-28 16:54] mattmoor commented on #2096
This should be fixed in: https://github.com/knative/serving/pull/2104

[2018-09-28 17:42] berndtj opened #2105 ""apiVersion" not validated as required on build spec"
/area API
/kind bug

## Expected Behavior

The Unstructured build object should be validated for all keys that are required (including apiVersion).

## Actual Behavior

When creating a buildspec (as part of a configuration), the build is now ad Unstructured object.  This object requires a "kind" and "apiVersion" key, however only the "kind" is validated.  However, if a Unstructured build object is

[2018-09-28 19:00] bbrowning commented on #2096
Issue #2105 is related to this as well.

[2018-09-28 19:13] #2061 closed

[2018-09-28 19:28] bbrowning commented on #2033
/cc @jcrossley3 See the image pull errors at the end of this issue. Is there something @salamani missed when running the e2e tests on minikube locally?

[2018-09-28 19:34] bbrowning commented on #2037
I believe #2063 partially addresses this as it runs a consistent load for 60 seconds. I do not believe it checks for any specific pod counts other than greater than 1. Perhaps an additional, stricter check on the pod count for that existing test would accomplish this?

[2018-09-28 19:39] josephburnett commented on #2037
The place where the existing autoscale test (and #2063) come up short is testing specifically for stability (not running away in either direction).  The existing tests verifies that all the pieces are wired together (queue-proxy, autoscaler, activator, etc...) and we can scale up.  It doesn't verify that a consistent load yields a consistent number of pods.  Just that we go above 1.

In particular

[2018-09-28 19:41] josephburnett commented on #2037
Additionally, we should replace quantization with weighting as @markusthoemmes suggested in #2016.

[2018-09-28 19:43] josephburnett commented on #2052
Looks good so far:

![image](https://user-images.githubusercontent.com/1103629/46229913-09758f00-c31c-11e8-82d7-e9e8c840021c.png)

[2018-09-28 20:21] #2096 closed

[2018-09-28 20:54] pmorie opened #2107 "Consider allowing serving controllers to be run for a single namespace"
We should consider allowing the knative serving controllers to run constrained to a single namespace.

Potential benefits of doing this:

- Controllers may operate with a lower degree of RBAC permission (permissioned for a specific namespace as opposed to for the whole cluster)
- Impact of serving controller failures and bugs may be isolated to namespaces instead of affecting the whole cluster
- U

[2018-09-28 21:09] jcrossley3 commented on #2107
Definitely some benefits to this, but from the FaaS developer's perspective, we shift the cost of running the controller onto the user, i.e. he has to deploy the thing that runs his functions before he can run them. Also need to figure out whether that user is expected to install his own istio and knative eventing.

[2018-09-28 22:13] cforce commented on #1921
It is also reproducable with docker for windows edge

[2018-09-29 07:32] lichuqiang opened #2111 "leader selection for components like autoscaler and controller"
## Expected Behavior

Replicas of all of the components can be expanded to ensure robustness.

## Actual Behavior

Replicas of components like webhook can be safely expanded; but for components like autoscalers, when we have multiple instance, only one of them should be active at the same time.
Leader selection mechanism is needed to ensure this.

## Additional Info

I met an scaling issue in my d

[2018-09-30 14:05] mattmoor commented on #2105
I believe this is fixed.  These shouldn't be required.

[2018-09-30 14:05] #2105 closed

[2018-09-30 14:10] mattmoor opened #2115 "Route e2e tests have started to flake."
If you look at the continuous build, redness is up to as much as 50% overall:
https://testgrid.knative.dev/knative-serving#continuous

cc @adrcunha @jonjohnsonjr @tcnghia

[2018-09-30 18:00] adrcunha commented on #2115
/cc @josephburnett

The red blocks started appearing more frequently after the autoscale tests were re-enabled.

[2018-10-01 17:14] adrcunha opened #2121 "Knative teardown in E2E tests is flaky"
## Expected Behavior

Knative tears down cleanly during tests.

## Actual Behavior

Sometimes the following error causes the tear down to fail:

[code]

## Steps to Reproduce the Problem

  1. Run the E2E tests until the problem appears. :)

[2018-10-01 17:24] mattmoor opened #2122 "Add e2e testing for monitoring"
Until we have something here, my confidence in our monitoring stuff is pretty low.

[2018-10-01 17:34] lichuqiang commented on #2121
We can also see the information in the success tasks. e.g. https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/2116/pull-knative-serving-integration-tests/1046571503098793986/?log#log
So maybe it's not the root cause of  task failure?

But we should eliminate this noise anyway.

[2018-10-01 17:49] adrcunha commented on #2121
That's correct, it's noise. It won't cause the task to fail now that https://github.com/knative/test-infra/pull/158 is merged. Eliminating it would be indeed nice, as it can easily confuse people when looking at the logs.

[2018-10-01 20:22] markusthoemmes commented on #2016
/assign @markusthoemmes

[2018-10-01 20:38] mdemirhan commented on #1921
#1922 was submitted to fix this. Will prioritize getting that in soon.

[2018-10-01 21:48] scothis opened #2127 "Allow Knative Services to not be exposed via Ingress"
## Expected Behavior

It should be possible to create a Knative Service that is not exposed via Ingress. This could be an event driven function that is invoked internally and should never be exposed to the public.

The same surgical routing that the Route resource provides for canaries and blue/green deployments is still desired. The only expected difference is that traffic from outside the cluste

[2018-10-01 21:48] bbrowning commented on #2115
Looking at the logs from one of the flakes (like https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1046837632564203520?log#log) I see a clue as to what's going on:

`metric WaitForRevision/prodsjueapqy-00002/RevisionIsReady 1538421213696757170 1538421573776030395 6m0.079273225s`

`Reason:"ServiceTimeout", Message:"Timed out waiting for a service endpoint to becom

[2018-10-01 21:51] tcnghia commented on #2127
Thanks for opening this issue.  The same has been raised by many other users.  We should prioritize this.

[2018-10-01 21:52] bbrowning commented on #2115
What I said above is still somewhat relevant, but I only realized after the fact that the blue green test is timing out waiting after 6 minutes. I misinterpreted that timing to mean the Revision became ready after 6 minutes.

[2018-10-01 21:55] tcnghia commented on #2127
Since we are currently using Istio Gateway pods to avoid requiring Istio sidecar for making request to Route's internal domain, we can just simply drop the Route's VirtualService from the Gateway.

We probably will need to find another way to still expose the Route's internal domain for cluster local access without sidecar.

[2018-10-01 23:03] yanweiguo opened #2128 "Add metrics of commit id indicating what versions the Knative binaries were built from"
It will be helpful for debugging if we can map Knative binaries(docker images of controller, webhook, etc) to commit id.

The ideas here are

1. Link `.git/HEAD` into the `kodata/` directories of `./cmd/*`.
1. Export the commit from `kodata/` as an opencensus metric.

[2018-10-01 23:04] yanweiguo commented on #2128
cc @mattmoor @mdemirhan

[2018-10-01 23:33] bbrowning commented on #2115
When the flakes fail, there's always a timeout waiting for the revision to become ready in TestBlueGreenRoute. That test creates two Revisions. Sometimes the 1st Revision gets created successfully and the 2nd one times. And sometimes the 1st Revision times out. Even when the 1st Revision gets created successfully, it usually takes around a minute in the failed runs compared to a few seconds in the

[2018-10-02 07:12] jszroberto commented on #1918
PR was merged

/close

[2018-10-02 07:12] #1918 closed

[2018-10-02 14:27] mattmoor commented on #531
I am going to close this for now.  We should rely on RBAC until we need more.

[2018-10-02 14:27] #531 closed

[2018-10-02 14:31] mattmoor opened #2132 "Longer Resync Periods"
We should use longer resync periods in our controllers.  Having these set to 30s won't scale and potentially masks bugs where we may rely on a resync to achieve a correct result.

I believe controller-runtime defaults these to O(hours).

We should raise what we can and open smaller issues `// TODO(#1234)` for anything we cannot move now.

cc @dprotaso @grantr

[2018-10-02 14:41] mattmoor commented on #2132
We configure these [here](https://github.com/knative/serving/blob/cb2dc626b869f1d501823ab616885b8aceb37b57/cmd/controller/main.go#L126) and [here](https://github.com/knative/serving/blob/cb2dc626b869f1d501823ab616885b8aceb37b57/cmd/autoscaler/main.go#L131).

However, the latter certainly relies on the resync for the deactivation delay currently (we could perhaps leverage the ability to enqueue it

[2018-10-02 14:41] mattmoor commented on #2132
Note that this is what we use today, which does support delaying: https://godoc.org/github.com/nov1n/kubernetes/pkg/util/workqueue#RateLimitingInterface

[2018-10-02 15:10] maheshvra commented on #1816
I am happy to see this feature implemented. NodeSelector & Tolerations will be quite helpful to target nodes for function deployment in multi-cloud cluster.

[2018-10-02 15:10] markusthoemmes commented on #1843
This is done.

[2018-10-02 15:10] #1843 closed

[2018-10-02 20:11] grantr commented on #2132
controller-runtime defaults to 10 hours resync interval. https://github.com/kubernetes-sigs/controller-runtime/pull/88 has some info on the philosophy behind resync intervals. Tl;dr resync interval should only be non-default when there's non-watchable state to poll.

https://github.com/kubernetes-sigs/controller-runtime/pull/131 added delayed requeues to controller-runtime.

[2018-10-02 21:16] greghaynes opened #2136 "Allow for using a contiainer registry signed by a custom CA"
/area API
/kind feature

## Expected Behavior

As a user I may wish to use a container registry signed by a custom CA, such as a CA specific to my employer. I'd like to pass this CA as a configuration option to knative which then trusts registries signed by it.

## Actual Behavior

There is no configuration option to do this. Even if I configure my kubernetes to trust my custom CA and attempt to c

[2018-10-03 03:39] #1656 closed

[2018-10-03 08:13] glyn commented on #1958
This behaviour appears to be related to PR https://github.com/knative/serving/pull/1906 which introduced another autoscaler configuration property `scale-to-zero-grace-period` **and some restrictions on the permitted configuration values**. See these [comments](https://github.com/knative/serving/blob/dadc306974385898adb482d8cf13459407ccad0d/config/config-autoscaler.yaml#L77-L84):
[code]
(For the r

[2018-10-03 13:55] mattmoor commented on #2064
@ImJasonH No, we already resolve tag to digest using ggcr and k8schain when stamping out the Deployment, this just adjusts that.

Having the linked issue would let us drop that for cases with Build (and avoid the race), but that's out of scope for this.

[2018-10-03 14:48] markusthoemmes opened #2141 "Narrow queue depth causes very slow autoscaling"
## Expected Behavior

Starting at a Pod count of 1 and throwing 10 concurrent requests at the system, I expect to scale to 10 fairly quickly (assuming a maximum concurrency of 1).

## Actual Behavior

The system will first scale to 2, then to 4, then to 8, then to 10.

## Steps to Reproduce the Problem

  1. Deploy the observed-concurrency app (`ko apply -f test/performance/observed-concurrency/ap

[2018-10-03 14:48] markusthoemmes commented on #2141
/assign @markusthoemmes

[2018-10-03 14:50] markusthoemmes commented on #2141
I'd propose we bump the queue-depth until we have a sensible solution to handle the 503s internally without throwing them all back to the user. Otherwise Knative cannot handle traffic spikes sensibly from a users point of view and will scale much slower than it could from a systems point of view.

[2018-10-03 15:49] greghaynes opened #2142 "/var/log mount breaks some containers by default"
## Expected Behavior

I expect the following service definition to result in a working nginx deployment

[code]

## Actual Behavior

The user-container pod fails to start with the following error:

[code]

## Steps to Reproduce the Problem

  1. Define the above service
  2. Observe the failure in the user-container pod

## Additional Info

This is caused due to our mounting of /var/log for fluent

[2018-10-03 16:47] pmorie commented on #2107
Chatted with @mattmoor about this and he mentioned another closely related use-case, which is allowing all knative controllers to run in a single (arbitrary namespace). That goal likely has a heavy overlap with running controllers in an arbitrary namespace, scoped to work on only that namespace.

I originally thought I had made a good choice about opening this issue in serving, but after some thou

[2018-10-03 18:25] josephburnett opened #2145 "Stop scaling up if pods are crashlooping"
## Expected Behavior

If pods are crashlooping, they will never successfully process requests and scaling up will not help.  Autoscaling should cease scale up if pods are crashlooping.

## Actual Behavior

No such circuit breaker exists.

## Additional Info

Re: https://github.com/knative/serving/pull/2117#discussion_r222041885

[2018-10-03 18:31] greghaynes commented on #2136
/remove-area autoscale
/remove-area build
/remove-area monitoring
/remove-area networking
/remove-area test-and-release
/remove-kind bug
/remove-kind process
/remove-kind cleanup
/remove-kind question
/remove-kind spec

[2018-10-03 18:31] greghaynes commented on #2136
/remove-kind doc

[2018-10-03 19:12] lavalamp commented on #2064
(Unsolicited API review comment:) A resolved digest ought to go in spec, not status, since it is not reproducible by observing the environment.

[2018-10-03 19:49] #1984 closed

[2018-10-03 22:43] mattmoor commented on #1961
Couple gaps we still need to plug:
1. Validation of disallowed fields in `BuildRef` `ObjectReference`.
2. e2e test with test build type.
3. Spec updates
4. Ensure we pass-thru annotations to created builds

[2018-10-03 23:17] mattmoor commented on #1961
We should also address the TODO in MakeBuild that I forgot about to return errors instead of panicking!!! :(

[2018-10-04 09:16] jszroberto commented on #2136
I hit the same problem some days ago.

[2018-10-04 10:54] markusthoemmes commented on #1932
Done per #1953 I believe?

/close

[2018-10-04 10:54] #1932 closed

[2018-10-04 11:43] markusthoemmes commented on #770
@mikehelmick is this implemented via #1656?

[2018-10-04 12:07] markusthoemmes commented on #1750
@josephburnett is this done per #1854?

[2018-10-04 12:10] markusthoemmes commented on #1727
@akyyy any tests that come to your mind specifically for the stats reporter in the activator?

[2018-10-04 12:16] markusthoemmes commented on #1514
This has been fixed by #1807 and then again by #2137

/close

[2018-10-04 12:16] #1514 closed

[2018-10-04 12:53] glyn commented on #1750
I wasn't able to verify that the multitenant autoscaler's metrics show up in the dashboard. I believe @josephburnett may have looked into that?

[2018-10-04 14:27] mattmoor commented on #1927
Another interesting angle on this is "trust".

Push models need a way of establishing caller identity to determine whether the metrics pushed should be trusted.  The queue-proxy runs as part of the same Pod as the user container and shouldn't be trusted to report things correctly (also how do we lock down the metrics endpoint from receiving other stuff on-cluster?).

I wonder if the "right" balanc

[2018-10-04 14:52] jcrossley3 commented on #2033
Yes, @salamani you need to workaround minikube's lack of LoadBalancer support [1] and you need to tag your test images [2]

[1] https://github.com/knative/serving/blob/master/docs/creating-a-kubernetes-cluster.md#loadbalancer-support-in-minikube
[2] https://github.com/knative/serving/blob/master/test/README.md#using-a-docker-tag

[2018-10-04 15:07] tanzeeb commented on #1926
/assign @tanzeeb

[2018-10-04 15:59] #1623 closed

[2018-10-04 17:13] tcnghia commented on #1963
@josephburnett I'd like to start out from what we can do first.  I'd love to discuss more about the queuing  capacity needed and follow up with an improvement.

[2018-10-04 17:50] lichuqiang commented on #1963
Would like to pick up the reconciler tasks once we get the API merged

[2018-10-04 17:56] akyyy commented on #1727
This is about cmd/activator/main.go doesn't have unit tests.

[2018-10-04 19:13] tanzeeb commented on #1926
/unassign @tanzeeb

[2018-10-04 19:29] bbrowning commented on #1996
On the OpenShift side, we also run an in-cluster registry and are having these same challenges trying to get Knative Serving to pull from it. The workarounds listed in the original issue are some of what we've used (digest and registriesToSkip), but ideally we wouldn't have to resort to workarounds to get Knative Serving pull images from the in-cluster registry.

[2018-10-04 19:45] markusthoemmes commented on #1926
/assign @markusthoemmes

This is not necessarily the next step to take here but merely one of the final goals. I'll try to break out work items as soon as I have a clear picture of what needs to be done and get them added to the milestone.

[2018-10-04 20:16] bbrowning commented on #283
Now that the caching API is in and image.caching.internal.knative.dev are being created for Knative Services, what else do we need to do for this issue for the 0.2 release? Is there a specific implementation  (`warm-image` or another) we'd like to get in for 0.2?

From a security standpoint, caching the image for every Knative Service on every Node does make a class of attacks easier that focus on

[2018-10-04 20:19] josephburnett commented on #1856
I believe this is fixed by #2080.

[2018-10-04 20:19] #1856 closed

[2018-10-04 20:31] josephburnett opened #2154 "Test Autoscaler Limits"
## Expected Behavior

The Autoscaler should be able to handle hundreds of revisions with hundreds of pods without failing.

## Actual Behavior

We don't yet know the scale limits of the Autoscaler.  We should push the limits of the Autoscaler by increasing the number of pods it processes until failure.

## Known limitations

Currently the queue-proxy establishes a websocket to the Autoscaler and p

[2018-10-04 21:15] #1957 closed

[2018-10-04 21:22] josephburnett opened #2155 "Wait for pod startup to start scale-to-zero timer"
## Expected Behavior

Revisions do not become active until the first pod has successfully started and passed health checks.  Only after that should the Revision be eligible for scale-to-zero.

## Actual Behavior

The Autoscaler starts the scale-to-zero timer when the Revision is first created.  If the first pod hasn't started by the time the timer expires, then the Revision is scaled to zero and w

[2018-10-04 21:33] tanzeeb commented on #1624
/unassign @tanzeeb

[2018-10-04 21:33] tanzeeb commented on #1624
/unassign @tanzeeb

[2018-10-04 21:34] tanzeeb commented on #2155
/assign @tanzeeb

[2018-10-04 21:42] #1858 closed

[2018-10-04 22:28] mdemirhan opened #2156 "Split monitoring release from serving release"
## Expected Behavior
We should be able to deploy a serving release without any monitoring components.

## Actual Behavior
Monitoring gets deployed as part of serving release by default.

[2018-10-05 00:28] sixolet commented on #2064
The scary things about putting `imageDigest` on spec
* The ambiguity about whether it's meant to be populated by the client/user or the server (and then what it means when you populate both `image` and `imageDigest` if you're the client).
* The immutable nature of Revisions makes the server changing this field post-creation kind of sketch.

The counterargument to @lavalamp : If you can observe a c

[2018-10-05 06:45] #2103 closed

[2018-10-05 14:29] bbrowning commented on #2155
@tanzeeb Are you actively working on this? If not, I'm happy to take a stab at it.

[2018-10-05 14:30] mattmoor opened #2160 "Autoscaling e2e sometimes fails due to dropped requests"
When I was running e2e tests 10x for #2133 the only two failures were the autoscale test with:
[code]

We should root cause this and ensure we don't drop requests.

[2018-10-05 18:04] #1338 closed

[2018-10-05 18:04] #1462 closed

[2018-10-05 18:04] #1876 closed

[2018-10-05 18:45] bbrowning opened #2165 "Backport test-infra fixes to release-0.1 branch"
The release-0.1 branch can no longer run integration tests due to some changes in the prow config used by all branches. We need to backport enough from master to the release-0.1 branch so that integration tests can run there again and unblock PRs.

[2018-10-05 18:45] bbrowning commented on #2165
/assign bbrowning

[2018-10-05 20:51] josephburnett commented on #2080
I've been implementing an E2E test for this and discovered that it's still happening.

https://github.com/josephburnett/knative-serving/blob/87b664244f03c13a3166a0131f036b721ff755b3/test/e2e/autoscale_test.go#L315

The logs look like this:
[code]

[2018-10-05 20:52] imikushin commented on #1961
I believe this is good to close, once #2168 lands.

[2018-10-05 21:27] imikushin commented on #1961
/assign @imikushin

[2018-10-05 22:09] josephburnett commented on #2080
The change by @markusthoemmes (#2159) to move activation to the Autoscaler fixes this bug.

So I'll wait until he has checked in that change and then I'll check in my E2E tests for future detection.

[2018-10-06 02:08] mattmoor commented on #1625
Probing this a bit here: https://github.com/knative/serving/pull/2171

[2018-10-06 04:44] lichuqiang commented on #1963
/assign

[2018-10-06 14:58] mattmoor opened #2174 "duck.VerifyType is a nop in Serving"
We switched `duck.VerifyType` to return an `error` for use in test functions instead of inline and panicky.  This renders all of the checks in `knative/serving` useless the way they were previously written (and we seen to have pulled in a `knative/pkg` update).

We should move these into tests asap to get this validation back.

[2018-10-06 14:59] vdemeester commented on #2174
/assign

[2018-10-06 18:50] #2174 closed

[2018-10-08 03:59] zrss opened #2176 "Decoupling serving namespace instead of fixed knative-serving"
## Expected Behavior

knative-serving uses the value of namespace from env or cmd line and gets rid of fixed system.Namespace

## Actual Behavior

system.Namespace = knative-serving

## Additional Info

the value of namespace can be injected to the env of serving-controller deployment by

[code]

or

[code]

kindly ping @mattmoor @tcnghia @tanzeeb , WDYT

[2018-10-08 06:40] markusthoemmes commented on #1625
The autoscaling-metrics providing parts of the activator will need some slight adjustments I believe. They shouldn't provide metrics with the name `activator` but rather with their unique name and the checks in the autoscaler should be reflecting that. I'm happy to help out with that bit @mattmoor

[2018-10-08 06:52] lichuqiang commented on #2176
duplication to #2107?

[2018-10-08 06:55] zrss commented on #2176
thanks @lichuqiang

[2018-10-08 06:55] #2176 closed

[2018-10-08 06:55] zrss commented on #2107
cc

[2018-10-08 09:16] markusthoemmes commented on #2160
I'm seeing the same behavior while testing for #2159.

[2018-10-08 10:51] markusthoemmes commented on #2160
The errors thrown are exclusively 503s with the following response bodies:

[code]

[2018-10-08 11:45] symfrog commented on #2025
@mattmoor In the example use case of NFS volumes, it would be used to read/write external shared application data (e.g. images) in a similar way that the container could connect to a relational database, S3, DynamoDB etc. to read/write external shared application data.

The container itself would remain stateless with no local state and all state would be external.

I created a pull request a few

[2018-10-08 14:29] #1129 closed

[2018-10-08 15:01] zrss opened #2179 "where can i know which go version should i use to build serving"
## Expected Behavior

i should be aware of the go version that use to build *serving*

## Actual Behavior

https://github.com/knative/serving/blob/master/DEVELOPMENT.md#requirements doesn't mention the version of go, but actually i can successfully build *serving* with **go1.10.4** but without the luck in **go1.8.3**

[2018-10-08 16:27] josephburnett commented on #2160
@dushyanthsc this would be a good first use-case for your automated zipkin trace dump.  I would love to know where exactly these failures come from.

[2018-10-08 16:35] markusthoemmes commented on #2160
Oh yes! One more little piece of info I gathered:

The dropped requests are all fairly early in the cycle of requests (the test does ~900 requests). All failures I've seen included dropped requests where the requests have all happened before the 60th request.

I opened PR #2177 to add some debug information to the test.

[2018-10-08 18:03] #2141 closed

[2018-10-08 19:24] mdemirhan opened #2182 "Changes to config-domain should trigger a forced resync"
## Expected Behavior
When config-domain is updated, new revisions should automatically start using the new domain information and existing revisions should automatically be updated to use the new domain relatively quickly.

## Actual Behavior
Resync time was recently changed to 10 hours (from 30 seconds) and the feature was dependent on short resync time to fix the existing revisions' domain infor

[2018-10-08 19:54] mattmoor opened #2184 "Graduate pkg/reconciler/config to knative/pkg"
This package feels generic enough and the problem seems like one we'll hit anywhere we use `knative/pkg/configmap`.

[2018-10-08 19:59] mattmoor commented on #2182
Potentially related: https://github.com/knative/serving/issues/2184  cc @dprotaso

I think we want to have a natural way of expressing this via `knative/pkg/configmap` including through Dave's "store" work, the common parts of which should maybe "graduate" to `knative/pkg`?

[2018-10-08 21:44] mattmoor opened #2187 "Update Serving to Build 0.2"

[2018-10-08 22:07] mattmoor commented on #2160
I am definitely seeing (at least noticing) this more than I was.

I am going to put resolving this in 0.2 Scope (target: 11/1).

Can we find an owner to resolve this?

[2018-10-08 22:15] mattmoor commented on #283
@bbrowning So I think what I had in mind for 0.2 was to have the extension point in place, so I'm moving this into "Done" for 0.2.

Related to this are:
1. The [`WarmImage` PoC](https://github.com/mattmoor/warm-image/tree/poc-cache), which implements this in a fairly naive (but effective) manner for small clusters.
1. The [`Cachier` PoC](https://github.com/mattmoor/cachier#cachier), which leverage

[2018-10-08 22:30] mattmoor commented on #1997
I suspect that we want the networking abstractions to land first.

[2018-10-08 22:30] mattmoor commented on #1997
cc @tcnghia

[2018-10-09 01:58] zrss commented on #2107
hi everyone (@pmorie , @jcrossley3 , @mattmoor, @lichuqiang , and so on ... ) , do we have any process on this topic. i encounter the case that is a k8s (child) on k8s (parent) arch, and this leads to each k8s cluster (child) is in **a stand alone namespace**  of k8s (parent)

and there is a easy way do impl this through the k8s deployment NAMESPACE env injection as my previous issues mention [Dec

[2018-10-09 02:55] zrss opened #2188 "time to update client-go version"
## Expected Behavior

`client-go` is in a version ([https://github.com/kubernetes/client-go/commit/44530d33a7601800a3eec3ad159a38ac9bfafecc](https://github.com/kubernetes/client-go/commit/44530d33a7601800a3eec3ad159a38ac9bfafecc)) that has fixed the problem about `merge` config

## Actual Behavior

currently `client-go` in serving is `kubernetes-1.11.2` and i encounter a bug that start `knative-se

[2018-10-09 06:59] markusthoemmes commented on #2160
Some more information:

https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/2185/pull-knative-serving-integration-tests/1049542581295255553/

We're not returning 503's but 504(Gateway Timeout) now, which hints  at activation being too slow? (Given that change was merged yesterday)

[2018-10-09 07:59] markusthoemmes commented on #2160
Combing through data of this failed run: https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/2177/pull-knative-serving-integration-tests/1049557806530695168/

### autoscaler.log

[code]

Autoscaler scaled down at `2018-10-09T07:26:54.984Z`

### autoscaler.log

[code]

The autoscaler successfully scaled the revision to 2 pods at  `2018-10-09T07:27:18.582Z`

### activator.

[2018-10-09 08:20] vdemeester commented on #2188
Oh nice

/assign

[2018-10-09 08:31] zrss commented on #2188
thanks @vdemeester

to clarify

we init clientset in this way

https://github.com/knative/serving/blob/38c0d500fcd4a65b24b103b54bedf6dacc985170/cmd/controller/main.go#L80-L83

and the current version of client-go is `kubernetes-1.11.2`, specially the *mergo* in this client-go will merge slice by `append`

https://github.com/knative/serving/blob/38c0d500fcd4a65b24b103b54bedf6dacc985170/vendor/githu

[2018-10-09 08:36] vdemeester commented on #2188
@zrss yep, got it :angel: Updating k8s on `pkg` and preparing bumping it, mergo and fix that in there (and potentially on other knative repositories :wink:)

[2018-10-09 08:40] zrss commented on #2188
@vdemeester :laughing: nice job

[2018-10-09 09:02] vdemeester commented on #2188
(ah dang it, thought this would have been backport to 1.11.x, doesn't seem like it…)

[2018-10-09 09:49] zrss commented on #2188
er ... i check the client-go (tag: kubernetes-1.11.2), and it's mergo version is correct (an 4 years old version)

https://github.com/kubernetes/client-go/blob/1f13a808da65775f22cbf47862c4e5898d8f4ca1/Godeps/Godeps.json#L153-L156

(don't know why github can't show the pretty code, sometimes it doesn't work, anyone have meet this case ?)

The corresponding mergo commit hash is [https://github.com/i

[2018-10-09 09:52] vdemeester commented on #2188
@zrss yeah, I'm looking at what changes are  required for bumping to 1.12.1 and if it makes sense to bump it now

[2018-10-09 09:55] zrss commented on #2188
many thanks @vdemeester , i am the first time to deal with the go dep ... just like a nightmare

[2018-10-09 10:06] vdemeester commented on #2188
@zrss it definitely takes a bit of practice to master `golang/dep`.. hopefully, go modules will fix that when widely adopted :sweat_smile:

[2018-10-09 11:30] bbrowning commented on #283
I agree that just having this extension in place for 0.2 is a good start to explore further. And with Kubernetes 1.12's scheduler taking image locality into account by default (https://github.com/kubernetes/kubernetes/blob/9ba74cb5b5b9cfacbee98f61712603e0d973c8eb/CHANGELOG-1.12.md#sig-scheduling), that may influence the evolution for some of the caching implementations.

[2018-10-09 12:40] bbrowning commented on #2160
With regards to your last question, conformance and end-to-end tests are run in parallel. However I don't believe individual tests within the e2e suite are run in parallel with each other.

[2018-10-09 13:02] scothis commented on #1397
Speaking with a number of users at SpringOne about Knative, the name "Service" initially confuses just about everyone who has familiarity with Kubernetes. It is also causing confusion as new users join the working groups. This confusion is actively hostile to growing understanding amongst users who are new to Knative.

Short names help with the UX in kubectl, but don't help when discussing Knative

[2018-10-09 14:37] tanzeeb commented on #2155
@bbrowning yes, I'm actively working on it :-)

[2018-10-09 14:39] jchesterpivotal commented on #283
I'll be interested to watch the k8s locality-awareness evolving.

I have an instinct that precaching images falls loosely into the same problem category as autoscaling with automatic min/max selection: inventory with overage/underage costs.

Loosely, a cache hit is "in stock". A cache miss is a "stockout". The cost of a miss is "underage cost", the cost of keeping an item in the cache is "overage

[2018-10-09 14:44] mattmoor commented on #283
@jchesterpivotal which is why I expect we will see a variety of implementations that cater to operators who are comfortable with different cost/performance trade-offs :)

[2018-10-09 19:36] bbrowning opened #2195 "Installing bundled Istio frequently fails with "no matches for kind ...""
## Expected Behavior
`kubectl apply -f third_party/istio-1.0.2/istio.yaml`  should succeed without error.

## Actual Behavior
`kubectl apply -f third_party/istio-1.0.2/istio.yaml` often (but not always) spits out lots of errors.

## Steps to Reproduce the Problem

  1. `kubectl apply -f third_party/istio-1.0.2/istio.yaml`

## Additional Info

This doesn't happen all the time, but there appears to

[2018-10-09 21:46] josephburnett opened #2196 "PodAutoscaler Pluggability and HPA"
## Problem

Knative autoscaling should be pluggable at the bottom.  Currently only the KPA is supported.

![pluggable at the bottom](https://user-images.githubusercontent.com/1103629/46699439-a7940f80-cbce-11e8-852c-cfd0251e32c1.png)

([source](https://docs.google.com/presentation/d/10KWynvAJYuOEWy69VBa6bHJVCqIsz1TNdEKosNvcpPY/edit#slide=id.g3e6607ac1b_0_348))

## Proposal

### Summary of work

1.

[2018-10-09 22:10] imikushin commented on #1961
/close

[2018-10-09 22:10] #1961 closed

[2018-10-10 01:41] lichuqiang commented on #2196
/cc

[2018-10-10 02:59] steren commented on #2102
+1.
the use case of knowing for how long a request is able to execute is important for computation intensive workloads.

[2018-10-10 06:52] mbehrendt commented on #2102
good proposal.

Re `K_TIMEOUT_SEC` -- it might be more practical to provide the timestamp for when the execution is going to expire (vs. how much time is left). That wouldn't require to constantly update the env variable with them time left,  while still providing lots of flexibility to the developer (pls keep me honest if I misinterpreted the semantics you had in mind).

[2018-10-10 06:56] lichuqiang commented on #1755
Seems  istio/istio#6661 has just been addressed.
When our istio dependency is up-to-date to include the fix, it would be the time to revisit this :)

/assign

[2018-10-10 07:02] lichuqiang commented on #1755
Seems #2024 should have fix this for the knative side, we'll just need to wait for istio side support.

[2018-10-10 07:51] fatkun commented on #1755
@lichuqiang  #2024  just fix one place in knative, I have fixed the other with ugly code to adapt istio cluster.local. maybe wait istio side support custom domain and knative support custom domain too.

the other place include

[code]
and some virtualservice

[2018-10-10 08:30] markusthoemmes commented on #2102
One wrinkle might be the application of the actual timeout value in effect. We'll need to make sure that the request timeout we're setting is only applied after we actually enter the user pod. AFAIK Istio has a request timeout that is counted as soon as you enter the system via ingress. When we need to scale from 0 or even only need to scale to more Pods that timeout will start already and thus th

[2018-10-10 09:38] zrss opened #2199 "Kind of useless code in serving's queue"
## Expected Behavior

init `kubeClient` for somewhere to use

## Actual Behavior

https://github.com/knative/serving/blob/4cd7b6ced9883cd0d38e46a16d7928e52c20bb93/cmd/queue/main.go#L259-L267

i can't find where `kubeClient` be used

maybe a useless code ? send a PR to clean it

/assign

[2018-10-10 12:19] lichuqiang opened #2201 "expose timeout and retries configurations to users in Route"
## Expected Behavior
Users can config timeout and retry policy for HTTP requests in route resources.

## Actual Behavior
The config items are not exposed to end users.
As both newly introduced ClusterIngress and underlying VirtualService resources support timeout and retry configuration, I think it reasonable to expose them to end users.

/cc @tcnghia for thoughts

/assign

[2018-10-10 15:28] #2016 closed

[2018-10-10 16:06] josephburnett opened #2202 "Expose metrics from the queue-proxy"
## Current behavior

Currently the Revision controller injects an autoscaler metrics endpoint into the queue-proxy.  Then the queue-proxy establishes a connection to the autoscaler and begins pushing metrics

https://github.com/knative/serving/blob/c6d9dc9409114a831aacd6f59b727c90f5901064/cmd/queue/main.go#L271

## Desired behavior

In order to decouple the production of metrics from the consumpti

[2018-10-10 16:10] josephburnett opened #2203 "Autoscaler to scrape pods for metrics"
## Current behavior

Currently the autoscaler gets it's metrics directly from the queue-proxy.  (The queue pushes to the autoscaler).

## Desired behavior

Instead we want to collect pod metrics for a Prometheus endpoint on the pods (https://github.com/knative/serving/issues/2202).  Either by scraping with Prometheus or directly with the autoscaler.

Example: Prometheus scraping the activator

htt

[2018-10-10 16:15] josephburnett opened #2204 "Query Prometheus for average concurrency"
## Current behavior

Currently the autoscaler gets its metrics (average 6 and 60 second concurrency) directly from the queue-proxy.

## Desired behavior

Instead we want to query Prometheus for these metrics once they are being collected (https://github.com/knative/serving/issues/2203).

Example: querying Prometheus for http request counts

https://github.com/knative/serving/blob/c6d9dc9409114a831

[2018-10-10 16:16] josephburnett commented on #2204
Once this query is in place, we can remove the queue-proxy push pipeline.

[2018-10-10 16:18] josephburnett commented on #1928
The KPA implementation of the autoscaler, operating on concurrency (or qps), should respond to the annotation `autoscaling.knative.dev/class=kpa`.  See https://github.com/knative/serving/issues/2196 for the design.

[2018-10-10 16:22] josephburnett opened #2205 "Autoscaling reconciler for HPA"
## Current behavior

PodAutoscaler with the annotation `autoscaling.knative.dev/class=hpa` will be ignored.  Knative does not create a Kubernetes Horizontal Pod Autoscaler (HPA).

## Desired behavior

When the autoscaling class is `hpa` Knative serving should create an HPA scaling off the desired metric type (initially `cpu`).

## Implementation

We should create another, parallel reconciler which

[2018-10-10 16:26] josephburnett opened #2206 "HPA E2E test"
## Desired behavior

Once Knative is capable of scaling on CPU with the Kubernetes HPA (https://github.com/knative/serving/issues/2205) we must have an E2E test to verify everything is wired up correctly.

Example: a test that creates a Revision with the `autoscaling.knative.dev/class=hpa` and `autoscaling.knative.dev/cpuUtilizationPercentage` annotations and then verifies we can scale above 1 pod

[2018-10-10 18:08] greghaynes commented on #2107
I think this is a use case we need to support and is a great idea. A few questions:

- Due to the extra cost do we see it as necessary to also support the "shared control plane" use case as well? i.e. manage N namespaces from a single controller namespace. In the API meeting I got the feeling of yes we do but I wanted to make sure that gets called out.
- Do we see "Users can update knative at thei

[2018-10-10 18:38] mdemirhan commented on #361
@mattmoor changed the resync period to 10 hours from 30 seconds and that had a nice side effect of eliminating 99% of the logs :) We will get a burst of logs every 10 hours, but apart from that, we should only get logs when things change within the cluster. Let me know if that is sufficient and this issue can be closed.

[2018-10-10 18:40] mdemirhan commented on #364
Closing this issue as k8s autoscaler work group is going to use Prometheus scraping to collect metrics in a standard way and we are planning to align with k8s on this.

[2018-10-10 18:45] #382 closed

[2018-10-10 18:45] #383 closed

[2018-10-10 18:53] mdemirhan commented on #387
Closing this as we don't have any logging contracts at least yet.

[2018-10-10 18:53] #387 closed

[2018-10-10 18:53] mdemirhan commented on #388
Closing this as we don't have any metrics contracts at least yet.

[2018-10-10 18:53] #388 closed

[2018-10-10 18:54] mdemirhan commented on #468
Closing this as we don't have any tracing contracts at least yet.

[2018-10-10 18:54] #468 closed

[2018-10-10 18:55] mdemirhan commented on #482
Closing this in favor of individual backend integrations. We have partial stackdriver integration today and as there are requests, we can add support for more.

[2018-10-10 18:55] #482 closed

[2018-10-10 19:02] mdemirhan commented on #604
This is now fixed.

[2018-10-10 19:02] #604 closed

[2018-10-10 19:06] mdemirhan commented on #2122
This is a duplicate of #647

[2018-10-10 19:06] #2122 closed

[2018-10-10 19:31] #1284 closed

[2018-10-10 19:31] #1283 closed

[2018-10-10 19:31] #1282 closed

[2018-10-10 19:32] #1281 closed

[2018-10-10 19:33] mdemirhan commented on #1171
This is now done. We don't have two variants anymore.

[2018-10-10 19:33] #1171 closed

[2018-10-10 20:39] sixolet opened #2209 "Client conventions: Nonces associating changes with revisions"
I am interested in setting up a set of conventions for "good" knative clients to follow that will help users know what to expect from their actions.

Each convention should be motivated by a specific client use case, and must degrade gracefully in the presence of clients that do not follow it.

We can document these conventions in a new `docs/client-conventions.md` file.

## Expected Behavior

Cli

[2018-10-10 20:39] sixolet opened #2210 "Client conventions: Changing configuration without re-resolving an image tag"
I am interested in setting up a set of conventions for "good" knative clients to follow that will help users know what to expect from their actions.

Each convention should be motivated by a specific client use case, and must degrade gracefully in the presence of clients that do not follow it.

We can document these conventions in a new `docs/client-conventions.md` file.

## Expected Behavior

Whe

[2018-10-10 20:43] sixolet commented on #2210
Attn @mikehelmick @mattmoor @cppforlife

[2018-10-10 20:46] sixolet commented on #2210
And to document alternate solutions to this problem:

* **Client always deploys by digest**: Instead of using the server's resolution of the image digest, the client attempts to resolve the tag of the image to a digest before deploying; `container.image` would always contain a by-digest reference when set by an aware client. Requires the client to have the ability to authenticate to the image repo

[2018-10-10 22:25] mattmoor opened #2211 "Conformance test for single-threaded ConcurrencyModel"
We should have a conformance test that:
1. deploys a container in single-concurrency mode, which:
 * responds 5xx on multiple concurrent requests
 * responds 200 to each request after some delay (200ms should be sufficient)

2. Sends ~5 QPS to the target for 20-30s expecting only 200 responses.

[2018-10-10 23:41] mattmoor commented on #2160
/assign @markusthoemmes

I believe this has been resolved by the rollback and the changes in your roll forward, correct?

[2018-10-11 00:44] mdemirhan opened #2213 "Replace istio.sidecar.includeOutboundIPRanges with wildcard ServiceEntry"
Istio by default blocks any egress traffic and until recently, there was no good way to allow egress by default except allow listing IP ranges. To achieve that, we used config-network.yaml and configured each sidecar with a list of IPs to not intercept. This is problematic in many ways, including but not limited to:
* IP ranges of the cluster must be known - if the ranges are known only after clus

[2018-10-11 01:41] zrss commented on #2107
vote for this point too ~

[2018-10-11 01:55] lichuqiang commented on #2213
Glad to see that!
But seems currently a ServiceEntry can only be opened to certain ports (but not all ports), so will a ServiceEntry enabled to 80 be considered satisfactory?

[2018-10-11 04:40] mdemirhan commented on #2213
Thanks @lichuqiang. I asked the same question in that thread to Istio team. It seems like we need to open ports individually - we can do that for well known ports and make a feature request to Istio if it is not already supported.

Please keep in mind that we will need to wait until this feature is released. It is only in their HEAD at the moment. I asked an ETA on when this will be released. Let'

[2018-10-11 04:51] lichuqiang commented on #2213
Sure, will keep track of that, and revisit this when things are ready :)

[2018-10-11 06:03] markusthoemmes commented on #2160
@mattmoor correct

/close

[2018-10-11 06:03] #2160 closed

[2018-10-11 08:35] blues-man opened #2216 "queue-proxy container cannot connect to k8s master API"
I'm following [knative doc on OpenShift](https://github.com/knative/docs/blob/master/install/Knative-with-OpenShift.md), installation is OK following #421 but I cannot have activator working because it cannot connect to autoscaler which gave some error in ```queue-proxy``` container while trying to connect to k8s master ```dial tcp 172.30.0.1:443: connect: connection refused```:

[code]
My env is:

[2018-10-11 14:21] #1926 closed

[2018-10-11 15:22] tanzeeb commented on #2155
Just an update, not setting `lastRequestTime` doesn't quite work. Since `lastRequestTime` will default to a zero value, it accelerates the scale-to-zero timer. Will try out some other approaches.

[2018-10-11 15:36] markusthoemmes commented on #2155
@tanzeeb What about using a pointer and set it to `nil` (where `nil` will mean ignore the thing)

[2018-10-11 17:43] greghaynes commented on #2064
@sixolet The GC collection case is interesting. I think if we want revisions to be re-creatable after GC then we may as well leave the revision objects themselves around in a more lightweight form - maybe some kind of state: defunct which signals to the reconciler to cleanup all related resources to that revision.

That being said, I am not sure there's a really strong use case over just disabling

[2018-10-11 18:40] #2064 closed

[2018-10-11 20:17] greghaynes commented on #2209
Could a user address this use case by using the configuration generation and the revision annotaion configurationGeneration? i.e. `kubectl apply of service.yaml -oyaml`, check `spec.generation`, check for the status of the corresponding revision with annotation `serving.knative.dev/configurationGeneration=generation`.

[2018-10-11 20:57] greghaynes commented on #2210
I mentioned this in https://github.com/knative/serving/issues/2209 but if we carry over that idea of using generation as our nonce to here it should prevent the case of clients not setting a nonce (since we perform generation updating in the controller).  This should prevent having to handle multiple revisions when looking for a base revision as well as the potential configuration change clobberin

[2018-10-11 21:26] mdemirhan opened #2218 "Fluentd daemonset fails to install on k8s 1.11"
@tanzeeb reported the following failure on a 1.11 cluster:
`Error creating: pods “fluentd-ds-” is forbidden: pods with system-node-critical priorityClass is not permitted in monitoring namespace`

Seems like a new behavior in 1.11. Some relevant links:
https://github.com/kubernetes/kubernetes/issues/65557
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/

[2018-10-12 02:51] lichuqiang commented on #2218
SystemPriorityClasses (system-node-critical, system-cluster-critical) can only be used for system-namespace("kube-system") after the change: https://github.com/kubernetes/kubernetes/pull/65593

And there is an ongoing PR to add configuration to restrict namespaces that can use system priority classes https://github.com/kubernetes/kubernetes/pull/65643

[2018-10-12 03:05] lichuqiang commented on #2218
I think the main purpose of the change is to prevent the abuse of system priority classes.
It should be reasonable for us to construct our own priority classes for the components.

[2018-10-12 11:36] bbrowning commented on #2204
It came up in the latest Observability working group meeting that we would need to support multiple metrics sources here, such as StackDriver as an alternative to Prometheus. On the metrics publishing side, OpenCensus  And, I believe this would be the first time anything in the monitoring stack would be on the critical path for Knative functionality. We'd have to worry about scalability and HA con

[2018-10-12 14:51] tanzeeb commented on #2155
@markusthoemmes would it actually solve the bigger problem?

Based on my *very limited* understanding of how the autoscaler works, the `queueproxy` starts reporting stats immediately, which would mean even if we had a null value for `lastRequestTime` it would be overwritten very quickly.

I'm investigating delaying the `queueproxy`'s stat reporting until the pod is running, [somewhere around here]

[2018-10-12 15:04] indreshmishra commented on #1971
@zrss  how did you set proxy in serving controllers, can you please elaborate.

[2018-10-12 16:38] costinm commented on #2213
I don't think we should 'replace' - they have different uses and behaviors.
We do have both options, it is reasonable for the default to be the wildcard entry instead of blocking.
outboundIPRange was never the default - so no change needed.

[2018-10-12 17:00] sixolet commented on #2210
@greghaynes That will work if we make configurationGeneration a label rather than an annotation, and if we still use a client-set nonce to force creation of a new Revision when we *do* want to re-resolve the image tag.

[2018-10-12 17:29] greghaynes commented on #2209
Ah good point - we should add that as a label.

[2018-10-12 17:32] greghaynes opened #2222 "Add label for ConfigurationGeneration to revisions"
## Expected Behavior
I expect to be able to query for a revision for a specific configuration generation. One use case for this is to wait for a specific configuration update a user makes to reach a certain state, like [this](https://github.com/knative/serving/issues/2209)

## Actual Behavior
Currently we set an annotation of the configurationGeneration but annotations are not queryable.

[2018-10-12 18:16] zrss commented on #1971
@indreshmishra , hope u have found it out, i set the proxy in serving controller in this way

see the deployment.yaml of serving controller

https://github.com/knative/serving/blob/55c6c1defdd5eb30a65408ad5c5fc55ca2d79436/config/controller.yaml#L33-L43

and add kind of these envs to deployment.yaml (see here [define-an-environment-variable-for-a-container](https://kubernetes.io/docs/tasks/inject-d

[2018-10-12 21:16] mattmoor commented on #1962
Removing from 0.2 as I'm going to open/add issues for the portions we want before 0.2

[2018-10-12 21:19] mattmoor opened #2223 "Upgrade testing"
We should have testing that verifies that upgrading from our last release to HEAD works.

[2018-10-12 21:20] mattmoor opened #2224 "Downgrade testing"
We should have testing that verifies that downgrading from HEAD to our last release works.

@jonjohnsonjr to fill in caveats

[2018-10-12 21:56] jonjohnsonjr commented on #2224
Biggest caveat at the moment is that we disallow unknown JSON fields: https://github.com/knative/pkg/issues/128

This means that if we try to do a downgrade test, any fields we added in a later release will be rejected by the earlier release. I'm fixing that in pkg, but we should also backport a similar fix to the 0.1 release branch so we can do downgrade testing before 0.2 cuts.

[2018-10-12 22:58] steuhs opened #2226 "Some of the packages are having different names from the directory names"
## Expected Behavior
package name should agree with the directory names
"package controller"

## Actual Behavior
"package main"

## Steps to Reproduce the Problem
(This is just one of the example)
  1. open https://github.com/knative/serving/blob/master/cmd/controller/main.go
  2. look at the package name

## Additional Info
We should have some check & script to make sure the two names are always

[2018-10-12 23:10] steuhs commented on #2226
https://golang.org/doc/effective_go.html#package-names

[2018-10-13 00:10] mcdonamp commented on #1397
@scothis thanks for the additional data points.

On the third point:
 - We've considered `Service` to be a developer first primitive, if operators feel comfortable managing k8s resources directly I don't think that's a flaw in the API, just our attempt to provide for both groups in an easy way. The `Service` can be set to manual mode which allows for manipulation of those resources independent of

[2018-10-15 11:50] markusthoemmes commented on #695
@akyyy should the title be "Right size the activator"?

[2018-10-15 11:52] markusthoemmes opened #2229 "Activator stats should not assume a single replica."
## Expected Behavior

Multiple activators can exist and report metrics. Their metrics are aggregated.

## Actual Behavior

The key the activator sends metrics with is hardcoded. Multiple activators would override themselves and metrics are not aggregated across activators.

/assign @markusthoemmes

[2018-10-15 11:52] markusthoemmes commented on #2229
This blocks #695 currently.

[2018-10-15 16:16] lichuqiang commented on #2229
Agree that we should support multiple instances. But is it possible for the instances to run in stand-by pattern? like is described in https://github.com/knative/serving/issues/2111.

[2018-10-15 16:19] lichuqiang commented on #2229
Hmm, having multi instance work at the same time can provide better performance anyway.

[2018-10-15 17:28] #2226 closed

[2018-10-15 17:29] steuhs commented on #2226
I did a close examine, the disagreement comes either with main.go (which is expected) or vendor packages (which we probably don't want to change)

[2018-10-15 17:35] mdemirhan commented on #1921
This should be fixed now (#1922). Let me know if you hit issues.

[2018-10-15 17:48] akyyy commented on #695
@markusthoemmes Fixed. thanks!

[2018-10-15 17:49] mdemirhan commented on #1921
@tcnghia mentioned that we need to cut a new release. Reopening the issue and assigning to @adrcunha to cut a new release.

/assign @adrcunha

[2018-10-15 19:06] adrcunha commented on #1921
Synced with Mustafa, better cutting a new release.

/close

[2018-10-15 19:06] #1921 closed

[2018-10-15 19:29] jsanda opened #2231 "Validation for Service.Spec.Pinned is incorrect"
/area API
/kind bug
/kind spec

## Expected Behavior
When I try to create a pinned service, it appears that I can specify either Service.Spec.Pinned.RevisionName or Service.Spec.Pinned.Configuration; however, the validation check for PinnedType in service_validation.go fails.

## Actual Behavior
The validation check fails and returns a missing field error:

`
Internal error occurred: admission web

[2018-10-16 00:07] yanweiguo commented on #2128
A simpler approach is to add knative version information as a pod label. Then look up the commit id with version number from releases page: https://github.com/knative/serving/releases

[2018-10-16 02:47] jsanda commented on #2231
After some more testing I realize that this is not a bug. I modified that Validate function in service_validation.go such that the validation was turned off so that I could create a service that only had Service.Spec.Pinned.RevisionName or Service.Spec.Pinned.Configuration specified. Doing so resulted in other, post-validation errors.

It is still a bit counter intuitive to me though. If I specify

[2018-10-16 02:47] #2231 closed

[2018-10-16 14:38] trisberg opened #2234 "Activator headers getting forwarded prevent scaling from 0"
## Expected Behavior

Apps/functions always scale up from 0 when a new request arrives

## Actual Behavior

Due to renaming the header used by the Activator in PR #2051 this header now gets forwarded in the [eventing message bus](https://github.com/knative/eventing/blob/0195820b10a60d5595f15f602859527cbf0c1efb/pkg/buses/message.go#L31) and seems to interfere with the scaling up of the next app/fun

[2018-10-16 18:22] mdemirhan commented on #2128
I like the simpler approach more. A pod label, or even a dummy entry in the config maps should be fine. We can query the config map to get the information.

[2018-10-16 18:27] jsanda commented on #2071
I would like to work on this to get more familiar with the tests and the code base in general. I have a question though. I deployed [helloworld-go](https://github.com/knative/docs/tree/master/serving/samples/helloworld-go) with `kubectl apply -f service.yaml`. Next I tried updating the configuration with `kubectl edit configuration helloworld-go`. I added a label in the RevisionTemplateSpec. It re

[2018-10-16 18:50] dgerd commented on #1865
@mikehelmick - Wanted to get your thoughts on splitting out the two revisions into explicit fields rather than relying on ordering within a list.

Something like below:

[code]

[2018-10-16 18:57] #2199 closed

[2018-10-16 18:58] waterwoodsthu opened #2237 "Bug when logging.enable-var-log-collection is enabled: configmaps "fluentd-varlog-config" not found"
## Expected Behavior
After I change the `logging.enable-var-log-collection` to true in [config-observability.yaml](https://github.com/knative/serving/blob/master/config/config-observability.yaml) following the [Setting Up A Logging Plugin](https://github.com/knative/docs/blob/master/serving/setting-up-a-logging-plugin.md#Configuring) guide, the fluentd sidecar should be running for any new Knative

[2018-10-16 19:28] adrcunha opened #2239 "Playground release is broken"
## Expected Behavior

Playground is updated successfully.

## Actual Behavior

[code]

[2018-10-16 21:55] scothis commented on #2234
/assign @scothis

[2018-10-17 04:56] ZhiminXiang commented on #2201
For timeout, ideally we want to have timeout per [revision](https://github.com/knative/serving/blob/55c6c1defdd5eb30a65408ad5c5fc55ca2d79436/docs/spec/spec.md#revision). However, because of the [limitation of Istio/envoy](https://github.com/istio/istio/issues/6681), currently we are not able to exactly achieve this.

I have a pending (old) [PR](https://github.com/knative/serving/pull/1804) about u

[2018-10-17 06:47] markusthoemmes commented on #2229
@lichuqiang I think it's often preferable to run in multi-instance mode, as long as it requires little to no coordination between the instances (which it doesn't in this case). Besides stability, this also gives you horizontal scaleout and thus prevents bottlenecks.

[2018-10-17 07:15] lichuqiang commented on #2229
I can see that argument too.

What I state in #2111 is mainly a shared leader selection mechanism for potential usage.
It would be nice if components can avoid race condition to run in multi-instance mode.
But I think at least components like controller would need it. And not sure about that of autoscaler.

[2018-10-17 08:07] markusthoemmes commented on #2155
That does make sense, yes.

I think even if we just delay the setting of `lastRequestTime` until we actually receive metrics, we already gained something.

I agree that the stat reporting should get delayed until the user-container is up and running as well. No idea how to elegantly achieve this though without polling the user-container until it's up (should we attach to the liveness probe sent by

[2018-10-17 14:53] tcnghia commented on #2201
@jonjohnsonjr can advise about the current guideline on API versioning.

[2018-10-17 15:22] bbrowning commented on #2155
In doing a bit of research on this issue, I ran across the discussion at https://github.com/kubernetes/kubernetes/issues/65502 which is relevant here. That's a discussion of ensuring ordering around container startup and shutdown within a pod as it relates to Istio's sidecar, but it's also related to how we handle starting up and shutting down our queue proxy.

[2018-10-17 16:32] pmorie commented on #2107
It sounded like to me like that may be use-case in the long-term. We at Red Hat are more interested at this point in time in the use-case of the controllers scoped to a single namespace. IMO, this is probably a good tactical goal to work towards that is more actionable than controllers managing a set of namespaces. The goal of allowing the controllers to run scoped to a single namespace will provi

[2018-10-17 16:50] markusthoemmes opened #2246 "Scale to 0 based on metrics."
## Expected Behavior

A revision is scaled to 0 when the metrics indicate so (basically once all pods reported 0 for the whole stable-window period)

## Actual Behavior

A revision is scaled to 0 after an arbitrary idle-timeout.

## Additional Info

Scale to 0 is handled as a special case today, but does it need to be? In theory we'd scale to 0 automatically after all metrics for the defined windo

[2018-10-17 17:18] erain commented on #2196
/cc

[2018-10-17 18:11] mdemirhan commented on #483
Per the WG discussion last week, the WG is in favor of vendors maintaining and customizing the monitoring backends and we will not prioritize this work.

[2018-10-17 18:11] #483 closed

[2018-10-17 18:11] mdemirhan commented on #626
Per the WG discussion last week, the WG is in favor of vendors maintaining and customizing the monitoring backends and we will not prioritize this work.

[2018-10-17 18:11] #626 closed

[2018-10-17 18:11] mdemirhan commented on #481
Per the WG discussion last week, the WG is in favor of vendors maintaining and customizing the monitoring backends and we will not prioritize this work.

[2018-10-17 18:11] #481 closed

[2018-10-17 18:14] mdemirhan commented on #721
We will need to keep the service when "istio-lean" is installed. Istio lean no longer installs the sidecars and the routing depends on k8s services. Removing this information will remove critical debugging information from the logs and traces. Closing this issue. Feel free to reopen if you want to discuss further.

[2018-10-17 18:14] #721 closed

[2018-10-17 18:57] mdemirhan opened #2248 "Separate observability features from serving repo"
## Expected Behavior
Observability components should live in their own repo and be deployable with or without serving.

[2018-10-17 19:13] josephburnett opened #2249 "E2E test for requests during scale down"
We should verify that requests during and after the scale-down grace period do not fail.  And cause the autoscaler to scale back up again.

[2018-10-17 19:15] josephburnett opened #2250 "E2E autoscaler bounce under load"
We should verify that Revisions continue to serve under load when the autoscaler is recreated.

[2018-10-17 20:35] steuhs commented on #2010
@tcnghia It seems Matt is busy. Would you be able to help with my questions?

[2018-10-17 20:55] greghaynes commented on #2209
To summarize from slack: configGeneration breaks down when using services as configurations and service generations cant be guaranteed to match one another (so how would a user updating a service discover the corresponding config generation).

[2018-10-17 21:53] jonjohnsonjr commented on #2223
This is going to be annoying until we cut a release containing https://github.com/knative/serving/pull/1922 because the latest release doesn't install cleanly.

/cc @mdemirhan is it possible to cut 0.1.2?

It would also be nice to pick up https://github.com/knative/serving/pull/2252 for the downgrade tests.

[2018-10-17 22:45] mdemirhan commented on #2223
@tcnghia will help with cutting a 0.1.2 release.

Thanks @tcnghia !

[2018-10-18 01:15] mdemirhan opened #2255 "Zipkin install without Elasticsearch"
The Zipkin instance we setup requires Elasticsearch backend to operate. We should provide another option that sets up Zipkin with an in-memory store. That will allow us to make use of end-to-end tracing in development environments without the heavy weight Elasticsearch installation.

[2018-10-18 15:03] tcnghia commented on #2010
@steuhs `Ready=True` is from the Status of the Revision.  For example https://github.com/knative/serving/blob/master/test/conformance/blue_green_test.go#L221.

The ReadinessProbe is specified in the Service or Configuration by setting the Spec.Container.ReadinessProbe field like this https://github.com/knative/docs/blob/4e9fb40c9d0fb1ec75db895cd2ddee7fc066200a/serving/samples/traffic-splitting/upd

[2018-10-18 16:56] evankanderson opened #2258 "Set $PORT for containers"
(Copied from an earlier discussion about 2 months ago which didn't make it into an issue somehow.)

Our runtime spec says that the $PORT environment variable WILL indicate which port the environment will attempt to connect the container on. Ideally, all our customers would read our documentation and consume $PORT without needing any external assistance (flags, config, etc).

Unfortunately, our use

[2018-10-18 18:54] imikushin commented on #2184
/assign @imikushin

[2018-10-18 18:55] imikushin commented on #2184
/close

Fixed by knative/pkg#132

[2018-10-18 18:55] #2184 closed

[2018-10-19 00:46] steren commented on #1865
We performed user studies with this proposal.
One interesting suggestion from a participant was to use "candidate" instead of "next". I find the idea interesting, because indeed, we often talk about a "release candidate".

[2018-10-19 01:17] krancour commented on #1730
Fast forward a couple months and I'm troubleshooting this same issue again. It seems to me that a lot has changed since the v0.1.1 release (for instance-- the multi-tenant autoscaler), so I am deploying knative serving from the head of master using instructions from [DEVELOPMENT.md](https://github.com/knative/serving/blob/master/DEVELOPMENT.md).

Not too much has changes from a few months ago. I s

[2018-10-19 02:59] lvjing2 opened #2260 "Enable the ability to customize the mounted volume for user-container"
## Expected Behavior
We can define the volumeMounts in user-container

## Actual Behavior
We can't define the volumeMounts in user-container

## Additional Info
As the comment said, disable such field is to get rid of confliction with the auto generated by knative controller. https://github.com/knative/serving/blob/master/pkg/apis/serving/v1alpha1/revision_validation.go#L104-L106

But I check the

[2018-10-19 03:16] bbrowning commented on #2211
/assign

[2018-10-19 03:38] lichuqiang commented on #2260
duplication to #2025

[2018-10-19 04:15] lvjing2 commented on #2025
Hi, How is the progress about this feature now? blocked at the conflict of the PR?

[2018-10-19 04:17] lvjing2 commented on #2260
@lichuqiang OK, I will following this issue, and check the progess.  Thanks

[2018-10-19 06:54] lvjing2 commented on #2204
And if we can use the metric from prometheus, then we can also remove the websocket connect to autoscaler in activator.

[2018-10-19 11:53] lichuqiang opened #2262 "clusterIngress validation/defaulting dos not take effect"
## Expected Behavior

clusterIngress validation/defaulting take effect

## Actual Behavior
When working on the ClusterIngress plumbing issue, I found that validations/defaultings do not work on clusterIngress  resources.
Took a closer look at the code, it's due to two reasons:
1. ClusterIngress is not registered as handler in webhook: https://github.com/knative/serving/blob/master/cmd/webhook/main

[2018-10-19 12:05] lichuqiang commented on #2262
@tcnghia Sorry that I forgot remove unrelated labels on issue creation, pls help cleanup :)

[2018-10-19 14:42] kacole2 commented on #2195
@bbrowning I'm getting the same types of errors with v1.11.2. I made an adjusted installation document to quickly follow, but I need to run the helm install twice, let it fail, remove CRDs, install it a third time and works. https://gist.github.com/kacole2/f761dac381b13a2e1b4dc9904d7559fc#install-istio-with-sidecar-injector

[2018-10-19 14:47] krancour commented on #1730
Ok... a little bit of progress this morning...

I understand now that the `istio.sidecar.includeOutboundIPRanges` setting `config-network.yaml` in only affects the the `istio-proxy` for _revision_ pods. It has no bearing at all on the `istio-proxy` sidecar employed by the autoscaler-- configuration for that is elsewhere and likely needs a tweak to work well on AKS.

I'll keep looking.

[2018-10-19 15:05] krancour commented on #1730
Ok... so if I manipulate the `traffic.sidecar.istio.io/includeOutboundIPRanges` annotation on the `autoscaler` deployment's pod template directly to exclude `10.0.0.1` (which is where my apiserver is), things work.

Then I found this...

https://github.com/istio/istio/issues/8696

So it appears the root cause may lay within Istio and only manifests due to some idiosyncrasy of AKS.

[2018-10-19 15:21] tcnghia commented on #1730
@k8s-ci-robot  Thanks for reporting this.  This could be fixed by also adding a ServiceEntry for that IP address.  Is it a fixed IP address?  A related issue is https://github.com/istio/istio/issues/6146, which is recently fixed by adding a ServiceEntry "*" to allow egress traffic by default.

If you the latest code you could also try to run using `istio-lean.yaml` that does not have a sidecar inj

[2018-10-19 15:52] krancour commented on #1730
Hey @tcnghia

I considered that, but honestly struggled with that a bit... felt the docs for service entry didn't cover this scenario well.

In AKS, your kubernetes API server is always a `ClusterIP` at `10.0.0.1`, but it's endpoint is an off-cluster IP. I'm not clear if you had been suggesting a service entry for `10.0.0.1` or for the off-cluster IP. If I understand correctly, since the autoscale

[2018-10-19 16:09] tcnghia commented on #1730
Having the `istio-proxy` will enable request tracing (and other monitoring features).  In the past users usually are only able to control Istio sidecar injection at the cluster level, namespace level, or in the Pod that they create directly, so we have to put annotations in the Pods we create.

Going forward, Istio has mechanisms to allow users to control this even in Pods that they own but didn't

[2018-10-19 16:31] krancour commented on #1730
@tcnghia things seem to be working with `isto-lean.yaml`.

Can you confirm my understanding that at this point, the _only_ thing Istio is being used for is ingress through the `knative-ingressgateway` and subsequent routing via `virtualservice` to my pod(s), which are now _not_ running an `istio-proxy` sidecar?

[2018-10-19 16:37] krancour commented on #1730
@tcnghia actually... scaling works, but traffic doesn't make it through to my pods anymore after that change. Does the fact that the pods now lack an `istio-proxy` sidecar impair routing _from_ the ingress gateway to the pods?

[2018-10-19 16:37] krancour commented on #1730
[code]

[2018-10-19 16:51] berndtj opened #2266 "Cannot schedule container from internal registry (10.x.x.x)"
/area API
/kind bug

## Expected Behavior

Images built and hosted on internal (insecure) registries should be able to be scheduled.

## Actual Behavior

Images hosted on internal insecure registries which are referenced by cluster IP fail the container readiness pre-check as part of the revision status.  These images can actually be scheduled by kubernetes and should not fail the pre-check.

## S

[2018-10-19 17:00] squee1945 opened #2267 "Add conformance tests for request headers"
Please add conformance tests to ensure that request headers are present and correct according to https://github.com/knative/serving/blob/master/docs/runtime-contract.md#headers

[2018-10-19 17:01] srinivashegde86 commented on #2267
/area test-and-release
/cc @mattmoor
/cc @jessiezcc

[2018-10-19 17:41] tanzeeb commented on #2155
Yes, that definitely works. I tried the following as a proof of concept:
* added a 2 minute delay to the metrics reporting in `queueproxy`
* made `lastRequestTime` nullable, set it to the first `stat.Time` that comes in

This works, but isn't really a viable solution since the 2-minute delay is arbitrary.

Yup, finding the elegant solution is difficult. The [reconciler looks at the `endpoint` to s

[2018-10-19 17:51] bbrowning commented on #2195
@kacole2 In PR #2251 I have a fix for this where you first install the new `istio-crds.yaml` and then the `istio.yaml`. That PR isn't merged yet, and thus the docs aren't updated to use that new method yet. But, installing the CRDs first followed by the rest of Istio should resolve this.

[2018-10-19 17:56] bbrowning commented on #2165
A different approach was used to unblock the release-0.1 branch, but it fixes this issue.

[2018-10-19 17:56] #2165 closed

[2018-10-19 19:08] krancour commented on #1730
@tcnghia I must have worked my cluster into a dirty state that defied my efforts to start fresh.

Using a _new_ cluster, the following (more or less) yielded the desired results on AKS:

[code]

Neither knative serving components nor my own pods have `istio-proxy` sidecars. Autoscaling works as expected, with the caveat that on scale to/from zero, route updates seem to be very slow to take effect,

[2018-10-19 19:08] #1730 closed

[2018-10-19 19:50] krancour opened #2268 "config-network.yaml needs Azure updates"
The following is excerpted from `config/config-network.yaml`:

[code]

The service IP ranged noted for "Azure Container Service" could prove misleading...

ACS is deprecated (but available), so anyone currently utilizing a managed k8s cluster from Azure is more likely using AKS (Azure Kubernetes Service), which has a different range for service IPs (10.0.0.0/16). Complicating matters, there is als

[2018-10-19 19:51] krancour commented on #2268
/assign krancour

[2018-10-19 20:09] krancour opened #2270 "Installing on Azure docs should be updated to indicate known issues and workarounds"
Knative itself isn't implicated in these issues, but they should be noted so that they don't take users by surprise.

__Known issue:__ Istio prevents controllers that use an istio-proxy sidecar from talking to the apiserver: https://github.com/istio/istio/issues/8696
__Effect:__ Autoscaling doesn't work
__Workaround:__ Use `istio-lean.yaml` instead

__Known issue:__ Deploying/scaling workloads and

[2018-10-19 20:09] krancour commented on #2270
/assign krancour

[2018-10-19 20:46] jchesterpivotal commented on #2210
This is what I did when I wrote knative-service-resource earlier in the year, because I didn't feel any other alternative was reliable. I still don't.

I still feel that Serving should accept digests and only digests, because it can never have as much context as the person or system responsible for building and uploading the image.

[2018-10-19 21:45] tanzeeb commented on #2155
Actually, after thinking about it some more, we probably don't really want the `queueproxy` sidecar to load after the `user-container` is healthy. We only want to start reporting stats after the `user-container` is up, but the other rest of the request queuing functionality should be available as soon as possible.

[2018-10-19 22:15] #2268 closed

[2018-10-20 00:17] tliberman commented on #1865
@carolynknight87 and I conducted users studies with 7 developer participants who read through an explanation of release mode to better understand `current`, `latest`, `next`.  Of those three concepts, `current` and `latest` were well understood and participants grasped them immediately.  `next` was not as easily understood and two participants suggested “release candidate” would’ve been clearer.

[2018-10-20 03:11] lichuqiang opened #2273 "Update knative CRD status with "UpdateStatus" instead of "Update""
## Expected Behavior
Updating  knative CRD status with kube client with "UpdateStatus" .

## Actual Behavior
We are calling "Update" interface for status update.

## Additional Info

As described in https://github.com/knative/serving/pull/2189#discussion_r226693319, currently we are calling "Update" interface for CRD resources status update. And related codes are commented with "for CRD there's no

[2018-10-20 03:12] #2273 closed

[2018-10-20 03:12] lichuqiang opened #2274 "Update knative CRD status with "UpdateStatus" instead of "Update""
## Expected Behavior
Updating  knative CRD status with kube client with "UpdateStatus" .

## Actual Behavior
We are calling "Update" interface for status update.

## Additional Info

As described in https://github.com/knative/serving/pull/2189#discussion_r226693319, currently we are calling "Update" interface for CRD resources status update. And related codes are commented with "for CRD there's no

[2018-10-20 03:12] lichuqiang commented on #2274
/assign

[2018-10-20 09:32] zrss opened #2275 "Get logLevel from configMap at the first time instead of loading it from the local path"
## Expected Behavior

**Get** logLevel from configMap at the first time instead of loading it from the local path

## Actual Behavior

i am not sure that's the best practice to implement the dynamic log level in k8s env or not

currently we mount the logLevel configMap as a container path and load it immediately at the begin of components bootstrap

https://github.com/knative/serving/blob/c34b72d9

[2018-10-22 13:30] markusthoemmes commented on #2246
/assign

[2018-10-22 13:45] awgreene commented on #2258
I would be happy to work on this as my first issue.

[2018-10-22 14:21] markusthoemmes commented on #2246
One wrinkle here is the initial scale-to-1: How long do we want to keep that? We could default to the stable window's size there.

[2018-10-22 17:41] mattmoor commented on #1991
At one point (talking to Brian Grant) he indicated that the default Kubernetes scheduler used the heuristic of spreading workloads to different nodes based on the Pod's `restartPolicy` (`Always` = living thing, spread for reliability).

I'd brought this up because when bursting a workload up, this can actually be counterproductive because you pay for pull latency on the first N cold starts (cluste

[2018-10-22 19:59] dgerd opened #2276 "route status incorrect for two named traffic targets pointing to same revision"
/area api
/area networking
/kind bug

## Expected Behavior

For every traffic target in spec there should be a traffic target in status with a resolved revisionName.

Spec:
[code]

Status:
[code]

## Actual Behavior

If you create a route with multiple named traffic targets pointing to a same revision (using either configurationName or revisionName) one of them gets lost in translation to the stat

[2018-10-22 20:01] tcnghia commented on #2276
/assign @tcnghia

[2018-10-22 20:28] #2239 closed

[2018-10-22 21:32] #2182 closed

[2018-10-22 22:02] tcnghia commented on #2276
/remove-label area/API

[2018-10-22 22:03] tcnghia commented on #2276
/remove-label api

[2018-10-22 22:03] tcnghia commented on #2276
/remove-area api

[2018-10-23 01:33] mattmoor commented on #2195
tl;dr I am going to move this out of the 0.2 project.

As this pertains to Istio installation, which isn't a release artifact we want to be in the business of supporting, I am going to remove this from the 0.2 tracking project.

We can and should strive to make our onboarding process as simple as possible, including the setup of our dependencies (e.g. Istio), but what we're shipping is really `ser

[2018-10-23 01:58] lichuqiang opened #2279 "should make a copy before modifying cached resource from shared informer"
## Expected Behavior
controllers make a copy before modifying cached resource from shared informer

## Actual Behavior

Some of existing controllers did not make a copy before modifying cached resource from shared informer. e.g. https://github.com/knative/serving/blob/master/pkg/reconciler/v1alpha1/service/service.go#L223

Thus, if the informer is indeed shared between controllers, cache would get

[2018-10-23 02:52] #1869 closed

[2018-10-23 03:10] mattmoor commented on #2279
/kind good-first-issue

[2018-10-23 03:17] mattmoor opened #2281 "GlobalResync unit test is flaky"
Example failure from CI: https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/2280/pull-knative-serving-unit-tests/1054569454446317568/

[2018-10-23 03:21] mattmoor commented on #2279
Good catch, @lichuqiang !

[2018-10-23 03:29] mattmoor commented on #2279
@lichuqiang I have an idea for how we might cheaply defend against this in a general fashion.

Our Reconciler table tests take a list of `runtime.Object`s that they use to seed our listers (see [here](https://github.com/knative/serving/blob/8c68f1f9526cb016b793e3902e56fa9cbcaf829c/pkg/reconciler/testing/table.go#L40)).

We should walk this list before the test, and create a new list of copies by c

[2018-10-23 04:02] #2262 closed

[2018-10-23 04:08] mattmoor commented on #2224
Both of the linked changes have merged.  What's the likelihood of this landing by 11/1?

[2018-10-23 04:47] #2237 closed

[2018-10-23 04:54] lichuqiang commented on #2279
yeah, that makes sense!
Let me give it a shot :)

[2018-10-23 06:27] markusthoemmes opened #2282 "Autoscaling stats should contain namespace."
To be able to properly distinguish activator stats from "usual" pod stats, we check for the pod's name in the autoscaler. In addition to that, we should also check for the correct namespace to avoid naming collisions.

Alternatively, we can make the activator metrics distinguishable by other means.

[2018-10-23 07:10] markusthoemmes commented on #2281
For a bit added context:

[code]

The `updateStatus` method updates the route, I guess we need a DeepCopy somewhere?

[2018-10-23 11:04] #2229 closed

[2018-10-23 12:17] mattmoor commented on #695
In addition to configuring HPA for the activator, we should include in "right sizing" making sure that we have placed reasonable resource limits on the activator pods.

See: https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#resource-requests-and-limits-of-pod-and-container

[2018-10-23 13:19] mattmoor commented on #2025
I think this is essentially where we are on this.  If someone wants to come to the API WG to advocate for this, we can revisit, but until them I'm inclined to close the PR to keep the backlog clear.

In particular one of my concerns about this is that (given the out-of-band definition of the PVC) we can't allow some PVCs without allowing arbitrary PVCs and I'm fairly certain we don't want to allow

[2018-10-23 14:12] lichuqiang commented on #2279
Now I'm sure it works. I'll post a PR tomorrow.

[2018-10-23 15:50] #1680 closed

[2018-10-23 19:51] trisberg commented on #2255
/assign @trisberg

[2018-10-23 20:58] imikushin commented on #1991
@mattmoor What if we pre-pull the image when creating the revision?

[2018-10-23 21:20] #2281 closed

[2018-10-23 21:38] vaikas-google commented on #2274
Yes, it's still sort of kind of historic cruft, CRDs before didn't support the /status subresource. They recently (1.12?) started supporting this. So, all those codes should get changed when enough of the hosted k8s clusters support it. We should discuss what the bar is for determining when we can start relying on a behaviour given a cluster.
This also has some ramifications for existing clusters

[2018-10-23 21:48] yanweiguo opened #2290 "release.sh doesn't override existing output when executed multiple times"
When running release.sh for local testing multiple times, the output contains duplicated contexts.

## Expected Behavior
The output files should be re-created with no duplicated contexts.

## Actual Behavior
The script append the contexts to the end of existing output files.

## Steps to Reproduce the Problem

  1. Run ./hack/release.sh --skip-tests --notag-release --nopublish
  2. Run the same co

[2018-10-23 22:14] josephburnett opened #2291 "Istio reported request volume inaccurate at high scale"
## Expected Behavior

Metrics reported in the HTTP dashboard are close to the actual request volume served.

## Actual Behavior

The dashboard is all over the place, under and over reporting QPS.

## Steps to Reproduce the Problem

  1. Deploy the autoscale-go sample with `containerConcurrency=1` on an autoscaled cluster.
  2. Send 200 qps to the revision with `go run test/test.go --qps 200 --conc

[2018-10-23 22:53] alexkieling opened #2293 "Issue in "Getting Started with Knative App Deployment" guide"
## Expected Behavior

On step 3 of "Interacting with your app" section, the result should be:

[code]

## Actual Behavior

On step 3 of "Interacting with your app" section, the result was empty:

[code]

## Steps to Reproduce the Problem

  1. [Install oc client tool](https://www.okd.io/download.html) version v3.11.0+0cbc58b
  2. [Install Knative on OpenShift](https://github.com/knative/docs/blob/

[2018-10-23 23:01] adrcunha opened #2295 "Allow e2e tests to run against prebuilt Knative images"

[2018-10-24 00:12] josephburnett commented on #1750
There is an issue to track adding actual pod metrics to the dashboard.  This one can be considered done.

[2018-10-24 00:13] #1750 closed

[2018-10-24 01:50] #2071 closed

[2018-10-24 10:12] lvjing2 commented on #2136
@greghaynes Could you please share any log about failing to the CA? I met the error `x509: certificate signed by unknown authority` when reconcileDigest in knative/serving, is this same with yours?

[2018-10-24 10:54] glyn opened #2300 "serving.yaml should not include elastic search image"
## Expected Behavior

serving.yaml should not include the elastic search image since that is part of a monitoring feature. It should be moved to release.yaml.

## Actual Behavior

serving.yaml includes the elastic search image:

[code]

## Steps to Reproduce the Problem

  1. Inspect [serving.yaml](https://storage.googleapis.com/knative-releases/serving/latest/serving.yaml)

## Additional Info

Th

[2018-10-24 12:54] dprotaso commented on #2300
I believe, at this time, creating that object has no effect. There's nothing included in the serving release that takes actions on those objects.

Though @mattmoor is experimenting with those here:
- https://github.com/mattmoor/cachier
- https://github.com/mattmoor/warm-image

The other case when a non-Knative image could be pulled depends on what's in the `config-observability` ConfigMap. Specifi

[2018-10-24 13:03] dprotaso commented on #2300
There's a newer k8s feature in alpha that'll enable this in the future

See issue: https://github.com/knative/serving/issues/818

[2018-10-24 13:07] jszroberto commented on #2136
@lvjing2  that's the error I met

[2018-10-24 13:39] glyn commented on #2300
@dprotaso wrote:

The concern is indeed pulling down a third party image. Is it possible to guarantee that the property `logging.enable-var-log-collection` can never be set to `true`? While the image is in the release, there is always the possibility (e.g. if the knative/serving code changes) that the image will be used.

https://github.com/knative/serving/issues/818 would fix the current issue if

[2018-10-24 14:08] mattmoor commented on #2300
Correct, this is an extension point, and it's unclear whether we'd ever bundle an implementation, since caching has so many cost trade-offs.  That said, you can installing PoC implementations today that start acting on these resources and giving them substance.  I have a branch that does this on https://github.com/mattmoor/warm-image

[2018-10-24 14:42] tanzeeb commented on #2155
More updates:

* Tried to delay the stat reporting in `queueproxy` until the Pod was healthy, got permission errors (User \"system:serviceaccount:default:default\" cannot get pods in the namespace \"default\"). Adding more permissions feels like a last resort solution, went on to other approaches.

* Delayed the creation of the KPA until the revision reports `ContainerHealthy`. This works the firs

[2018-10-24 14:45] mattmoor commented on #2300
@glyn I'm trying to understand what it is you are after, and missing it.

If it's just separation of serving/monitoring concerns, then I'd go even further and suggest the injection itself belongs in a separate process (I think I opened an issue for this a while ago).

[2018-10-24 16:28] jldec commented on #2300
@mattmoor - the riff team is looking at distributing Knative in a form that customers can deploy on private k8s with the container images "relocated" into their own private docker registry.

We were hoping to avoid including the monitoring and tracing images in order to minimize the initial cost of OSL scanning etc, but the image was showing up anyway even when our (semi-automated) re-distribution

[2018-10-24 16:31] #695 closed

[2018-10-24 17:42] yanweiguo commented on #2300
#818 will fix the current issue because it aims to remove sidecar which runs the third party docker image.

[2018-10-24 17:53] #2211 closed

[2018-10-24 18:27] josephburnett opened #2304 "Load test metrics pipeline"
# Current behavior

Currently Pod connect to the Autoscaler directly to deliver metrics (1).  We would like to just expose a metrics endpoint on the pod and let another system collect them, to remove that knowledge from the pods.

![image](https://user-images.githubusercontent.com/1103629/47452255-a0e4cb00-d77e-11e8-9b3e-ae51d9631ae2.png)
([source](https://github.com/knative/serving/issues/2196))

[2018-10-24 20:48] mattmoor opened #2305 "TestUpdateRevisionTemplateSpecMetadata is flaky"
I believe #2253 introduced some flakiness because of optimistic concurrency racing to apply updates to the Service [here](https://github.com/knative/serving/pull/2253/files#diff-081fca8773e3fe17a04bc853427a740dR227)

I suspect the race is that we Update with new labels as the Service is going `LatestCreatedRevisionName -> LatestReadyRevisionName` and fails due to optimistic concurrency.

I think w

[2018-10-24 20:53] jsanda commented on #2305
/assign

[2018-10-24 21:04] #2276 closed

[2018-10-24 21:31] #2070 closed

[2018-10-24 22:47] #1960 closed

[2018-10-24 23:12] mattmoor commented on #2019
Going to bump this to 0.3 per a discussion with @mdemirhan

[2018-10-24 23:14] #2195 closed

[2018-10-24 23:19] mattmoor commented on #2224
Moving out of scope given the proximity of the 0.2 target date, this being not started, and Jon being OOTO.

It'd still be nice to have in 0.2, but not blocking.

[2018-10-24 23:33] bbrowning opened #2306 "TestSingleConcurrency is flake"
The recently added `TestSingleConcurrency` has flaked once in recent runs. After running it in a loop locally, I've been able to reproduce the flake. The test waits for the Revision to be ready but also needs to check for Route readiness and probe the route to ensure we receive at least 1 successful response before firing off the concurrent tests.

[2018-10-24 23:33] bbrowning commented on #2306
/assign

[2018-10-25 00:47] mattmoor commented on #2223
Given the proximity to the cut, and that I'm aware of no code for this, I'm moving this out to 0.3

[2018-10-25 01:33] lichuqiang commented on #2304
/cc

[2018-10-25 02:15] #2306 closed

[2018-10-25 05:59] nrshrivatsan commented on #1991
@mattmoor You did raise a smart point here. I do like your concept of _packing a Node full_ for obvious Cost reasons (for starters), from my Production workload Availability usually has bit us quite a bit... Nevertheless packing a node sounds Yum to all CIO's signing the Public cloud monthly checks ;-)

Just to play devil's advocate - Ideally "alpine" like immutable artifacts should be small in si

[2018-10-25 09:25] lvjing2 opened #2311 "Make sure the user-container shutdown gracefully"
## Expected Behavior
When autoscaler scale down the replica number of pod, then some pod will be terminated. Expectantly, the user-container shouldn't start to terminate until all it's request is finished.

## Actual Behavior
The user-container would start to terminate after 20s.
https://github.com/knative/serving/blob/master/cmd/queue/main.go#L57

## Additional Info
Actually, the delay about 20s

[2018-10-25 09:50] markusthoemmes commented on #2311
@lvjing2 Do you have a reproducer for this? In theory, the http server is supposed to shutdown gracefully, that is: it's supposed to only shutdown after all connections have shut down.

There is however a wrinkle here in that K8s has a graceful shutdown timeout of 30s by default (I think?). After that it will force kill the container and no graceful shutdown is possible. We had a discussion somewh

[2018-10-25 12:39] lichuqiang opened #2312 "expose webhook config to users"
## Expected Behavior
users have way to config webhook options.

## Actual Behavior
config is hardcoded [here](https://github.com/knative/serving/blob/master/cmd/webhook/main.go#L79) on webhook startup.

## Additional Info

In our prod env, containers are restricted to run as non root users only, so port 443 is unavailable.
We need way to config this.

Bonus: We have plan to deploy knative in "k8s

[2018-10-25 12:45] markusthoemmes opened #2313 "Run tests on the debug level."
## Expected Behavior

After a test has failed I have all the information at hand that I need to debug the system.

## Actual Behavior

The system only runs on info level and thus lacks granularity, which is often needed to debug nasty heisenbugs and seldom flakes.

## Additional Info

On top of this, it'd be useful if the logfiles from all system containers would be included seperately in the buil

[2018-10-25 12:53] markusthoemmes opened #2314 "Gracefully shut down websocket connections."
## Expected Behavior

When a pod is shut down, the websocket connection is closed in a controlled way, not leading to any issues on both sides.

## Actual Behavior

The connection is just thrown away, leading to an error message in the autoscaler:

[code]

## Steps to Reproduce the Problem

  1. Deploy an application into Knative
  2. Make it scale up
  3. Wait for it to scale down

[2018-10-25 13:22] markusthoemmes commented on #2314
/assign @awgreene

[2018-10-25 16:10] josephburnett opened #2318 "Verify revision identity before scale-up E2E test"
## Expected Behavior

The `AutoscaleUpDownUp` test should pass reliably.  In particular the first scale up should always work.

## Actual Behavior

There are periodic flakes in which scale-up just doesn't happen.

Sometimes there are multiple services deployed and some have multiple revisions.  It is not clear which revision is under test.  And we do not verify that we are hitting the exact revisi

[2018-10-25 17:20] #2234 closed

[2018-10-25 17:25] markusthoemmes opened #2319 "Simplify Request/Response headers in activator state passing."
Recently, the activator got an overhaul regarding the way it handles its retry/attempts headers. I proposed a potential simplification here: https://github.com/knative/serving/pull/2240#discussion_r227677960

This should make it possible to bring the logic down to one header again.

[2018-10-25 19:36] tcnghia opened #2321 "Integration tests can test Knative on many versions of our dependencies"
## Expected Behavior
CI can run across a variety of versions of our dependencies, like Istio or K8s to verify Knative compatibility with multiple K8s and Istio versions / settings.

## Actual Behavior
Currently our CI run tests for one single version of K8s and Istio.

[2018-10-25 19:37] tcnghia opened #2322 "Reconcile ClusterIngress' based on Ingress class annotation"
## Expected Behavior
ClusterIngress reconciler reconciles based on the class annotation.

## Actual Behavior
Currently always reconcile into Istio VirtualService.

[2018-10-25 22:19] #2255 closed

[2018-10-26 00:47] mattmoor commented on #1963
@tcnghia @lichuqiang Is there more work left here?  I think we've landed at least the scope I wanted for 0.2.

[2018-10-26 00:50] #1865 closed

[2018-10-26 00:51] mattmoor opened #2324 "Update knative/pkg"
/assign @mdemirhan

[2018-10-26 01:07] lichuqiang commented on #1963
We'll need to consider refactoring the ingress reconciler, hopefully to decouple it from the main controller.
But we can close this, and open a new PR to track that.

[2018-10-26 01:10] mattmoor commented on #1963
This was about building the abstraction, and not about decoupling Istio.

thanks again, @lichuqiang !!!!! 🎉

[2018-10-26 01:10] #1963 closed

[2018-10-26 01:15] lichuqiang commented on #2322
Cool! I was just planning to open an issue for this.

[2018-10-26 01:41] #2324 closed

[2018-10-26 02:00] fatkun commented on #2311
k8s has a graceful shutdown timeout of 30s by default. You can change it by POD's spec.terminationGracePeriodSeconds .
How to avoid istio-proxy container quit first, it seems istio recived TERM SIGNAL and quit fast, and the comming request are failed?

[2018-10-26 03:40] lvjing2 commented on #2311
@markusthoemmes @fatkun I need to test more, to make sure what is the root cause of my such problem.

[2018-10-26 06:36] markusthoemmes commented on #2319
/assign

[2018-10-26 07:11] markusthoemmes commented on #645
@mattmoor Can this be closed, since we deprecated ServingState in its entirety?

[2018-10-26 07:12] markusthoemmes commented on #1203
I think this can be closed, since no ServingState updates are done by now and the entire field is deprecated.

/close

[2018-10-26 07:12] #1203 closed

[2018-10-26 08:56] lvjing2 commented on #2311
@markusthoemmes  I test the gracefully shutdown for a web server, and I found it will terminate the request before it finished. The following is the reproduce steps:
1. I send a request to my spring boot web app by curl, the request handler which will sleep about 58s(little less than default time 60s).
[code]
2. Then I send a  SIGTERM signal to the tomcat by command kill.
3. I check the log of tom

[2018-10-26 09:48] fatkun commented on #2311
@lvjing2 I use wrk to test performance and see some error while pod is terminating.
I see istio-proxy quit fast, the log in kubelet shows queue-proxy preStop request failed, maybe due to istio-proxy exit (iptable redirect the traffic to istio). queue-proxy exit too.

The user-container is PID 1. If you are not register signal SIGTERM , it will ignore the signal SIGTERM(like the sample helloworld-g

[2018-10-26 10:51] lvjing2 commented on #2311
@fatkun The preStop request should no related with whether the istio-proxy is down or not, it needn't the iptable from istio. I can't understand how your queue-proxy preStop failed, and exit.

The user-container is a docker process, it support to handle the SIGTERM. And also my app in user-container is a spring boot web app with tomcat, it also contains the handler for the SIGTERM.  What's more, t

[2018-10-26 10:58] markusthoemmes commented on #2311
@lvjing2 what I meant initially, is that the queue-proxy will only quit after it handled all requests (the go http server does that by default IIRC).

Regarding the user container: Yes, I think we need to teach it to handle a graceful shutdown, or we need some kind of coordinated shutdown where the user-container receives the kill signal only after the queue-proxy decides its fine to exit now.

As

[2018-10-26 12:03] vvraskin opened #2328 "Allow service to have scale 0 right after creation"
/area autoscale
/area test-and-release
/kind feature
## Expected Behavior
When a new service is created the number of desired pods is 0.

## Actual Behavior
When a new service is created the number of desired pods is 1 by default.

## Steps to Reproduce the Problem

  1. `kubectl apply -f  helloworld-go.yml`
  2. `kubectl get deployment helloworld-go-00001-deployment`
  3. The number of desired po

[2018-10-26 12:04] fatkun commented on #2311
@lvjing2 In our cluster the delete command execute finish, the pod status is still Terminating.

here is kubelet logs
istio-proxy       containerID: docker://dd1bf2
queue-proxy   containerID: docker://c63abb
user-container containerID: docker://fc2ef1

after I delete the pod, istio-proxy and queue-proxy quit after 1second, and user-container quit after 30 secends

[code]

[2018-10-26 13:09] markusthoemmes commented on #2314
/assign

[2018-10-26 13:20] lvjing2 commented on #2311
@fatkun From your log, We can find that the queue-proxy and istio-proxy terminated immediately, and prestop hook is not work anymore since the queue-proxy started to terminated before the prestop works. I guess your app in user-container didn't handle the SIGTERM, so your app didn't start to terminal until it received STGKILL after 30s timeout.
From my test, my app could handle the SIGTERM, so it

[2018-10-26 14:35] vvraskin commented on #2328
/remove-label area/API

[2018-10-26 14:40] markusthoemmes commented on #2328
/remove-area API

[2018-10-26 14:45] vvraskin commented on #2328
/remove-area build
/remove-area monitoring
/remove-area networking
/remove-kind bug
/remove-kind cleanup
/remove-kind doc
/remove-kind good-first-issue
/remove-kind process
/remove-kind question
/remove-kind spec

[2018-10-26 15:13] dprotaso commented on #2314
This could potentially be due to the upstream [distroless base image](https://github.com/GoogleContainerTools/distroless/tree/master/base) running the process as PID 1.  Which implies signals are handled a bit differently.

This article highlights the problem:
https://engineeringblog.yelp.com/2016/01/dumb-init-an-init-for-docker.html

FYI @mattmoor

[2018-10-26 15:17] markusthoemmes commented on #2314
@dprotaso I opened a PR #2331 to at least fix the annoying logging. If we don't handle signals correctly (I'm familiar with the issue  you mentioned) that'd indeed be a bigger issue. I'll quickly try to get a glimpse if that's what's happening as well, thanks for the suggestion!

[2018-10-26 15:22] markusthoemmes commented on #2314
@dprotaso reproduced it quickly, the SIGTERM signal arrives just fine.

[2018-10-26 15:28] dprotaso commented on #2314
Did a little further reading - https://github.com/krallin/tini is packaged with Docker and there's an `--init` flag that will run an init process for you.

I'm guessing the `kubelet` does this for you

[2018-10-26 15:29] waterwoodsthu commented on #818
Re the "tail sidecar" approach: this will have the downside of doubling disk usage but is probably the easiest approach.

[2018-10-26 16:48] mattmoor opened #2332 "Triage ConfigMaps and add more global resyncs"
When our ConfigMaps influence the behavior of objects (e.g. the domain they serve on), a configmap change should trigger a reconciliation of all objects.  @imikushin added a nice utility for this (for the given example), but I suspect there are more instances where we will want to leverage this.

If we don't trigger a global resync on configmap changes, the updates can lag 10 hours until the next

[2018-10-26 17:21] waterwoodsthu commented on #822
If this is implemented, will the Fluentd daemonset collect /dev/log?

[2018-10-26 18:05] yanweiguo commented on #822
We need to configure the Fluentd daemonset if we want it to collect /dev/log

[2018-10-26 18:13] oyiptong opened #2334 "Runtime contract proposal: Inject runtime name as env var"
Use case:
Allow operators to have common infrastructure that changes behavior at start time based upon an execution environment identifier.

Example:
An operator may have some common setup to do on all knative infrastructure,  e.g. setting up GC settings based on available memory for a specific runtime.

This infrastructure needs to know what environment it's running in.

Proposal:

The env var wi

[2018-10-26 18:16] oyiptong commented on #2334
/cc @steren

[2018-10-26 19:07] lvjing2 commented on #2314
@dprotaso @markusthoemmes
From the log of @fatkun in #2311 , i copy and paste here also. we can find that both three contain(istio-proxy, queue-proxy, user-container) all received the SIGTERM, and start to terminate container. And we can also find that the queue-proxy and user-container try to start the preStop hook, but failed. After 1 second, the istio-proxy and queue-proxy are terminated.
So i

[2018-10-26 19:12] cppforlife opened #2335 "clusteringress should not have "Backend" key under splits"
/area API
/area networking
/kind bug

## Expected Behavior

new clusteringress spec should not contain "Backend" key as it is specified as `json:",inline"` in api definition.

## Actual Behavior

`Backend` shows up below.

[code]

go seems to allow json inlining if struct is embedded. problematic line:

https://github.com/knative/serving/blob/cda99cffb47d77aacbaaddf9c7e8532f6bfe1dd2/pkg/apis/netwo

[2018-10-26 19:25] josephburnett opened #2336 "Permission error install Istio at head"
## Expected Behavior

Installing according to [`DEVELOPMENT.md`](https://github.com/knative/serving/blob/62fc8eec96340d2695e5d479a8a24f194ddc4eb7/DEVELOPMENT.md) should work.

## Actual Behavior

I get a permission error when installing Istio:

[code]

## Steps to Reproduce the Problem

  1. Create a new cluster with `gcloud --quiet --project=joe-does-flex container clusters create   --cluster-ver

[2018-10-26 20:11] #2336 closed

[2018-10-26 21:02] tcnghia opened #2339 "`hack/release.sh` doesn't observe --no-tag-release"
## Expected Behavior
When I `--no-tag-release`, my images won't be tagged.

## Actual Behavior
I ran `./hack/release.sh --nopublish --notag-release --skip-tests --version 0.1.2` and saw some images being tagged.

## Steps to Reproduce the Problem

  1.  Run `./hack/release.sh --nopublish --notag-release --skip-tests --version <version>`

## Additional Info

[2018-10-26 21:02] tcnghia commented on #2339
/assign @adrcunha

[2018-10-27 00:33] #2305 closed

[2018-10-27 02:07] tcnghia commented on #2335
I inlined just to avoid unnecessary nesting like the yaml shown.  We should remove Backend key, and change to non-pointer type and it should be inlined correctlyvI think.

[2018-10-27 02:16] lichuqiang commented on #2335
I get your point. The split is supposed to be in the same level as that of `IngressBackend` in k8s Ingress resource, so no extra layer here.

Let me give this a fix.

/assign

[2018-10-27 04:33] fatkun commented on #2314
@lvjing2

k8s execute preStop hook first and wait the request finish, then send SIGTERM signal. (https://github.com/kubernetes/kubernetes/blob/a3eebe9a17a4b02bde42b5bd8944ffc6850411c7/pkg/kubelet/kuberuntime/kuberuntime_container.go#L568) The execute failed root cause maybe istio-proxy quit already. I have tested not inject istio, and see queue-proxy quit after 20 seconds.

[2018-10-27 06:46] lvjing2 commented on #2314
@fatkun Thank you for pointing this out to me. I think you are almost got the key of this problem.

it shows the kubelet using the endpoint to start the preStop hook from outside of the pod, so the request will pass to the istio-proxy, that's why the preStop hook can't send to queue-proxy when istio-proxy closed after received SIGTERM.

## why istio-proxy terminated so quickly?
The istio-proxy has

[2018-10-27 07:09] #2335 closed

[2018-10-27 08:32] lichuqiang commented on #1583
Agree to support both, things will not get worse as long as we keep backward compatibility.

[2018-10-27 08:35] lichuqiang commented on #1997
There is no doubt about the issue itself. But we might want to see https://github.com/knative/serving/issues/1583 land first?

[2018-10-27 09:03] lvjing2 commented on #2025
@mattmoor
Acctually, for my scenario, I need to allow the container to storage some resource(logs, cache, generated files) on the host, and we would create a agent on each host to upload those resource to remote storage platform regular.
and I think @saturnism 's scenario is also useful and also a common case for many developers..
At least, I think the /tmp folder should be free for users, we just

[2018-10-27 09:16] lvjing2 commented on #2260
@mattmoor
Acctually, for my scenario, I need to allow the container to storage some resource(logs, cache, generated files) on the host, and we would create a agent on each host to upload those resource to remote storage platform regular.
and I think @saturnism 's scenario in #2025  is also useful and also a common case for many developers..
At least, I think the /tmp folder should be free for user

[2018-10-29 04:01] lichuqiang opened #2343 "Controllers should handle delete events of child resources"
## Expected Behavior
A controller should be aware of deletion events from its child resources, and react accordingly.
Take route reconciler as an example, when placeholder service of a route got deleted mistakenly or deliberately, the reconciler should be aware of that and recreate the service automatically.

## Actual Behavior
Deleted child resource won't get recreate until controller get restart

[2018-10-29 04:01] lichuqiang commented on #2343
/assign

[2018-10-29 09:54] looperC opened #2344 "Why do autoscaler scale up and down base on the pods including terminating pods?"
/area autoscale
/kind question
/kind bug

## Expected Behavior
To scale up and down just bases on the running pods

## Actual Behavior
It bases on the pods including terminating pods

## Steps to Reproduce the Problem
  1. At first, there is only one pod running,  then we use wrk to stress test the user pod.
  2. It causes the increasing of number of the pods. Now There are 10 pods on the cluster.

[2018-10-29 11:00] lichuqiang commented on #2322
To achieve this, we need to decide its boundary:

1. In what way do we expect users to specify the class? add annotation to upper resources (kservice, route) and let reconcilers transmit the annotation into the ClusterIngress instances?

2. To what degree do we want to decouple the networking controllers (controller level or lower level)? Or are we open to new in-tree network programming implement

[2018-10-29 11:39] lichuqiang commented on #2344
/cc @josephburnett  @markusthoemmes

[2018-10-29 12:40] lvjing2 commented on #2344
@looperC Hi, I'd like to share something about this.
Firstly, I want to ask which version of knative did you run?
Since 10/5, the pod weight metric based on it's terminating time had been added into knative to calculate how many pod to scale from.
https://github.com/knative/serving/blob/master/pkg/autoscaler/autoscaler.go#L179,
It will decrease the weight of terminating pod as time going on.

So i

[2018-10-29 13:44] lvjing2 commented on #2344
@looperC First, I checked your branch had container such commit. And after discuss with @fatkun offline, we find that it is possibly cause by the problem that the queue-proxy is terminated too quickly without executing the preStop hook #2311 #2314 .
So there is no chance to send stat with `lameDuck=true` in https://github.com/knative/serving/blob/master/cmd/queue/main.go#L100

Which caused the pod

[2018-10-29 15:00] jeremiaswerner commented on #2037
/assign