[2019-04-23 21:19] dgerd commented on #3809
The fluentd sidecar is controlled by `logging.enable-var-log-collection` in `config-observability` and is defaulted to false.

Running fluentd as a side-car has the advantage of being able to process separate log streams from a single container versus just stdout/stderr. Processing these log files is done through a shared mounted volume. There is a proposal to move our sidecar usage to a daemon se

[2019-04-23 22:32] dgerd opened #3877 "Separate Runtime and API Conformance tests"
## In what area(s)?

 /area API

 /area test-and-release

## Describe the feature

The conformance tests for Serving currently all live in `test/conformance`. There are really two classes of tests in here that would be good to separate for readability and organization:

1.) API Tests - These tests run through user workflows of Knative objects using just the Knative API and an HTTP client. They val

[2019-04-23 22:34] #3865 closed

[2019-04-23 23:01] dgerd commented on #3826
The 600s timeout max seems to be based on the `10m` timeout ( https://github.com/knative/serving/blob/master/pkg/apis/networking/register.go#L72 ) that we use for configuring the Istio ClusterIngress and VirtualService.

If the timeout for the Knative Service was set higher than 600s the connection would be interrupted at these layers before the request completes.

It is not clear to me why we pic

[2019-04-23 23:21] dgerd commented on #3825
Our approach with the Kubernetes types we use in our API has been to selectively enable features that we have validated work well with Knative.

ConfigMaps and Secrets mounted through volumes has been a recent addition to our API ( https://github.com/knative/serving/pull/3061
 ), and this was likely disabled to reduce scope of the original feature.

@mattmoor Do you have any thoughts here?

[2019-04-23 23:42] rymonroe commented on #3751
I'm seeing this same error using istio 1.1.0 native Serving 0.5.
{"level":"error","ts":"2019-04-23T22:26:25.738Z","logger":"activator","caller":"handler/handler.go:70","msg":"Error while getting revision","knative.dev/controller":"activator","knative.dev/key":"/","error":"revision.serving.knative.dev \"\" not found","stacktrace":"github.com/knative/serving/pkg/activator/handler.(*ActivationHandler

[2019-04-24 00:40] #3857 closed

[2019-04-24 05:55] markusthoemmes commented on #3759
@nimakaviani that makes sense to me yeah! Please open a separate issue/request for that and focus it on that discussion. Thanks 🙂

[2019-04-24 06:07] cyx commented on #2985
Are there any updates and/or decisions that have been made in relation to this issue?

[2019-04-24 07:25] sebgoa commented on #818
fwiw, I do agree with the original comment that a fluentd sidecar is resource heavy. Sidecars are great, but I am really concerned they will affect the scalability and performance.

So +1 on using a daemonset.

[2019-04-24 07:29] sebgoa commented on #3809
I commented in #818 , I agree with the premise that sidecars are "resource heavy", specifically I think it will affect performance a lot (i.e cold start).

While running `nginx` might sound a bit demo'ish, I believe that being able to run simple scenarios like this should be doable out of the box.

I don't understand this statement:

To me the sidecar should definitely be an option that is configu

[2019-04-24 11:24] #2909 closed

[2019-04-24 12:01] knative-flaky-test-reporter-robot opened #3880 "[flaky] pkg/reconciler/route.TestRouteDomain"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestRouteDomain
* **Repository name**: serving

[2019-04-24 15:58] dgerd commented on #3809
Our options here seem like:

1. Always mount `/var/log/` into the user container (Current Behavior)
2. Mount `/var/log/` into user container only when fluentd sidecar is enabled
3. Never mount `/var/log/` into user container

Option 1 has the advantages of a consistent user experience regardless of which log collection method is used and getting an application to work in Knative is done upfront. T

[2019-04-24 16:36] greghaynes opened #3883 "doc for enabling tracing"
## In what area(s)?

## Describe the feature

We have support for detailed tracing in the activator and potentially elsewhere in the future. We should have a getting started type doc thats helps a dev get set up to view traces

[2019-04-24 16:42] greghaynes opened #3884 "track probe / endpoint wait metrics in scale from zero tests"
## In what area(s)?

/area test-and-release

## Describe the feature

In our scale from zero performance tests it would be very useful to track metrics of probe time / endpoint waiting time to see if we have regressions / improvements in dataplane configuration or our watching user pods become ready.

[2019-04-24 17:00] tcnghia opened #3885 "Activator to send requests directly to new Pod"
## In what area(s)?

/area autoscale
/area networking

## Describe the feature
Some times activator observes a O(second) delay after the activating Pod is fully ready.  This is because it may take seconds for a healthy Endpoint to be fully configured to take traffic for a ClusterIP Service.  While reducing the TCP handshake timeout in #3700 I notice that in some cases this could add 5-7 seconds.

[2019-04-24 17:12] vagababov commented on #3885
It'd be interesting to measure once we do #3870.

[2019-04-24 17:36] tcnghia commented on #3885
@vagababov this is often not affected by #3870 since the issue mostly manifests when we don't use Istio sidecar.  The Pod startup is way smaller (~2.5s) compared to the time spent waiting for ClusterIP -> Pod IP  link to be effective (0s - 5s).  When we disable the sidecar, setting or not doesn't change the request path.

[2019-04-24 18:09] srinivashegde86 commented on #3883
There is adoc about accessing traces - http://go/gh/knative/docs/blob/master/docs/serving/accessing-traces.md

We can probably expand on that.

[2019-04-24 18:42] nimakaviani opened #3886 "Autoscaler needs to be decisive about which Pods to kill when scaling down applications"
## In what area(s)?

/area autoscale

## Describe the feature

Following the conversations in https://github.com/knative/serving/issues/3759, we have noticed that knative app scale-down is done by changing the `replica` count on the application deployment. This delegates to k8s to choose the pods to kill which may result in suboptimal scale-down strategies.

To give an example, with instances A an

[2019-04-24 18:43] nimakaviani commented on #3886
/cc @duglin

[2019-04-24 18:43] nimakaviani commented on #3759
sure. created this and closing this issue: https://github.com/knative/serving/issues/3886

[2019-04-24 20:41] viktorbenei commented on #3825
Makes sense, thanks for the details @dgerd !

[2019-04-24 23:11] cppforlife commented on #3886
this is how k8s decides which pods to delete: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replicaset/replica_set.go#L684-L694

[2019-04-25 00:04] mdemirhan opened #3891 "Replace compiled metric exporters with OpenCensus agent"
/area monitoring

OpenCensus agent (https://opencensus.io/service/components/agent/) allows using a deamonset as a central exporter and removes the need for us to setup exporters in every component of our stack separately. Doing this our own way has the following disadvantages:
* All controllers need to call in to a common library in pkg repo to setup metrics exporters
* Common code in pkg needs t

[2019-04-25 00:52] duglin commented on #3886
a link to a similar discussion in K8s-land: kubernetes/kubernetes#45509

[2019-04-25 01:24] dushyanthsc opened #3892 "Update e2e tests to support configurable namespace."
Currently e2e tests are hard-coded to use "serving-tests" as the namespace here: https://github.com/knative/serving/blob/master/test/e2e_flags.go

This issue is created to add support to customize namespace.

## In what area(s)?

## What version of Knative?

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

[2019-04-25 01:24] dushyanthsc commented on #3892
/assign @coryrc

[2019-04-25 06:12] markusthoemmes commented on #3892
We might also need to include the "alternative namespace" in that equation. It's hard-coded to "serving-tests-alt" right now.

[2019-04-25 12:19] markusthoemmes commented on #3547
Is this still valid @yanweiguo @lvjing2? Seems like we want to either rephrase the feature or close as "won't fix"?

[2019-04-25 12:22] markusthoemmes opened #3895 "Create an actual API surface for Autoscaling"
A lot of our API surface for autoscaling is buried in a lot of annotations, that are forwarded from Revision to the PodAutoscaler and eventually read by the PodAutoscaler Reconciler. They are then translated into knobs on the HPA spec or taken into account in the KPA.

Using annotations effectively makes the API surface `map[string]string` though, which is naturally quite error-prone and hard to g

[2019-04-25 16:35] markusthoemmes opened #3897 "Explicitly state the drawbacks and gains of the mesh in Knative Serving"
Using a mesh in Knative has potential gains (mTLS, fine-granular tracing) and drawbacks (performance, scalability). It'd be great to have a writeup (potentially in the documentation) that explicitly states these things, quantifies them and gives the user a good understanding in which mode she might want to run Knative Serving in and what that means with regards to her experience.

I think that'd b

[2019-04-25 16:59] mdemirhan commented on #2757
We are not publishing our own metrics. I am assigning this work to myself to update our dashboards to use our own metrics rather than Istio metrics.

[2019-04-25 17:00] mdemirhan commented on #1278
Opened the following in build repo and closing this one: https://github.com/knative/build/issues/601

[2019-04-25 17:00] #1278 closed

[2019-04-25 17:04] mdemirhan opened #3898 "End to end traces from queue proxy"
/area monitoring

We used to rely on Istio proxy and Istio proxy was taking care of sending end to end traces to Zipkin/Jaeger. However; Istio proxy is now an optional thing and doesn't come enabled in all setups. We should evaluate sending end to end traces from queue proxy when Istio proxy is not enabled.

[2019-04-25 17:04] mdemirhan commented on #1286
Queue proxy now emits metrics and request logs. End to end traces are not part of it. Opened the following issue to track that: #3898

[2019-04-25 17:04] #1286 closed

[2019-04-25 17:05] mdemirhan commented on #1512
We now send our own metrics from queue proxy. I will update our dashboards to show these metrics rather than Istio generated metrics.

[2019-04-25 17:06] mdemirhan commented on #822
@dprotaso @yanweiguo @bsnchan Should I remove your names from the assignees field and let someone else pick this work up?

[2019-04-25 17:06] mdemirhan commented on #818
@dprotaso @yanweiguo @bsnchan Should I remove your names from the assignees field and let someone else pick this work up?

[2019-04-25 17:07] mdemirhan commented on #679
@yanweiguo Should I remove your name from the assignees field and let someone else pick this work up?

[2019-04-25 17:09] yanweiguo commented on #3547
Actually I'm thinking about what the intended behavior should be.

## Current behavior:
Labels are populated from revision to PA. Changes of PA labels have effect while changes of revision labels do not.

## Questions
1. When we talk about a revision is immutable, which part of revision is immutable? At least status can change.
1. Shall we populate labels back from PA to revision after PA changed?

[2019-04-25 17:09] mdemirhan commented on #2291
Dup of #1512 and #2757.

[2019-04-25 17:09] #2291 closed

[2019-04-25 17:11] yanweiguo commented on #822
Feel free to remove my name.

[2019-04-25 17:26] markusthoemmes commented on #3547
Annotations are propagated from the revisionTemplate -> Revision -> PA. While the ownership is in place, the revision will be rereconciled if the annotations are changed. Maybe we should not do that and allow the mutation of annotations on revisions out of band? @mattmoor confirmed today that only the Revision.Spec is immutable. Metadata is not.

[2019-04-25 21:09] #3128 closed

[2019-04-25 22:18] #3873 closed

[2019-04-26 02:55] yanweiguo commented on #3547
Then I think this request makes sense.

[2019-04-26 05:04] mattmoor commented on #1997
@vagababov I think where we are qualifies.  Let's close this now?

[2019-04-26 05:05] mattmoor commented on #643
@dprotaso Do you plan to do the 0.6 portion of this?

[2019-04-26 05:15] vagababov commented on #1997
once the global resync tests merge in,

[2019-04-26 06:04] arunk-s opened #3903 "Activator pod failing with `CrashLoopBackOff` on GKE"
## In what area(s)?

## What version of Knative?

## Expected Behavior
All pods in ns `knative-serving` on GKE are running.

## Actual Behavior
`activator-service` doesn't have minimum availabaility.
[code]
Describe on pod shows liveness and readiness probe is failing.
[code]
## Steps to Reproduce the Problem

1. Install knative on existing cluster with Istio installation (`version > 1.1` ) alread

[2019-04-26 06:20] markusthoemmes commented on #3903
This is very likely due to mTLS being enabled. We don't currently "officially" support mTLS in Istio. I think failing health probes is one of the known problems.

[2019-04-26 07:36] lvjing2 commented on #3547
@markusthoemmes @yanweiguo Hi, sorry for late. What I know about our reconciler is same as @mattmoor that only the spec is immutable, and the metadata is not. And I have already implemented this in our cluster, it helps a lot for us to update the min/max replicas without creating a new revision. so I am glad to apply this to out HEAD.

[2019-04-26 07:37] lvjing2 commented on #3547
/assign

[2019-04-26 07:59] modassarrana opened #3905 "My requirement is to handle 5 time request. 6th time onwards , if any request come it should throw the message"
Let me elaborate the problem statement.

User has send around 5 request for a service ( ex Ping ) . Next request if he raised again for same service i.e 6th time onwards. I should be able to throw an exception.

How to handle this scenario

[2019-04-26 09:22] lvjing2 commented on #3582
@yanweiguo I found that you already submit #3831 , and I think that's nice currently. But I think we still need to consider two things:
1. This may not allow user to customize the load balance policy of services in the future, actually we have no such user case i think.
2. The number of scrape probes will increase as the pod number grows, it will turn to be a performance upper bound for autoscaler

[2019-04-26 10:05] arunk-s commented on #3903
Can you suggest a way to confirm the same ?
Doing https://istio.io/help/faq/security/#check-policy isn't helping.
[code]

[2019-04-26 12:01] lvjing2 opened #3907 "Consider enable to set min|max replica to be zero in annotations"
## In what area(s)?
/area autoscale

## Ask your question here:
Currently, the webhook validation denied to set the annotation for min/max replica to zero in
https://github.com/knative/serving/blob/faa80ecce9e04ccb23bc17550bc91bee13be8aeb/pkg/apis/autoscaling/annotation_validation.go#L46
Should we loose it to support set to zero?

[2019-04-26 12:01] #3599 closed

[2019-04-26 12:10] markusthoemmes commented on #3907
I think we should. It's kinda redundant but then it also makes the defaults tangible. Don't see a reason to not do it.

[2019-04-26 12:58] lvjing2 commented on #3907
ok, I will do it.
/assign

[2019-04-26 14:01] mattmoor opened #3910 "Separate GC into it's own Reconciler"
## In what area(s)?

/area API

## Describe the feature

Today we GC Revisions as part of the Configuration controller, however, while the process is a logical reconciliation over Configurations this logic is separable from the main controller logic.

Let's split off its own Reconciler.

[2019-04-26 14:28] mattmoor commented on #3789
/assign

[2019-04-26 16:40] mattmoor commented on #3550
/assign

[2019-04-26 17:52] vagababov commented on #1997
Now we can close this one :)

[2019-04-26 17:52] vagababov commented on #1997
/close

[2019-04-26 17:52] #1997 closed

[2019-04-26 17:55] imikushin commented on #1997
Yay!

[2019-04-26 18:16] mattmoor commented on #3408
@sixolet @cppforlife  do you have thoughts on this?

[2019-04-26 18:22] mattmoor commented on #3620
@bbrowning Do you have cycles to tackle this in the next 1-2 weeks?

[2019-04-26 18:32] syedriko opened #3913 "[BUG] controller and networking/istio fall off main() on shutdown signal"
## What version of Knative?
HEAD

## Expected Behavior

On shutdown signal, controller and networking/istio shut down their embedded controllers and then return from main()

## Actual Behavior
controller and networking/istio fall off main() on shutdown signal giving embedded controllers no chance to shut down cleanly

## Steps to Reproduce the Problem
Start either controller, let initialize, ^C, w

[2019-04-26 20:12] mattmoor commented on #3155
We're removing Build from the Serving spec, so I'm going to close this as won't fix.

[2019-04-26 20:12] #3155 closed

[2019-04-26 20:14] mattmoor commented on #3096
Build's out of Serving v1beta1.

[2019-04-26 20:14] #3096 closed

[2019-04-26 20:18] mattmoor commented on #3384
While we've adopted the PodSpec shape in v1beta1, we don't plan to relax this in the v1 timeframe.

Sidecars can be injected around the Knative abstraction, like Istio does for the mesh, but we don't plan to let users bring their own.

[2019-04-26 20:18] #3384 closed

[2019-04-26 20:21] mattmoor commented on #2132
/assign @vagababov

Victor, can you clean this up in Autoscaling?

[2019-04-26 20:26] mattmoor commented on #2921
Is this fixed in 1.1?

[2019-04-26 20:28] mattmoor commented on #2721
The surface available at HEAD supports this in Service, which now simply inlines ConfigurationSpec and RouteSpec.  The knative/docs repo at HEAD reflects this, and this will all be in the 0.6 release.

[2019-04-26 20:30] mattmoor commented on #2213
I think we're looking at removing the need for this altogether.

@tcnghia can we close?

[2019-04-26 20:33] #2213 closed

[2019-04-26 20:34] polothy commented on #2721
Sorry, having trouble following your comment.  Is there a link to the doc/sample you mentioned?

[2019-04-26 20:35] ZhiminXiang commented on #2921
This is something we need to do in our side to make Knative Prometheus work with Isito mTLS as we don't use the Prometheus provided by Istio.

[2019-04-26 20:35] vagababov commented on #2132
Yep, with positive handoff.

[2019-04-26 20:37] mattmoor commented on #2851
We should consider moving this to the clients repo?  cc @sixolet

[2019-04-26 20:40] mattmoor commented on #2300
Resolving in favor of  #818`

[2019-04-26 20:40] #2300 closed

[2019-04-26 20:40] mattmoor commented on #1973
We've renamed this `tag` for v1beta1.

[2019-04-26 20:40] #1973 closed

[2019-04-26 20:41] mattmoor commented on #1962
Between lemonade in the short term and `apis.Convertible` and webhooks in the medium term, I think we have decent coverage here.

[2019-04-26 20:41] #1962 closed

[2019-04-26 20:42] mattmoor commented on #1244
Closing in favor of #818

[2019-04-26 20:42] #1244 closed

[2019-04-26 20:43] mattmoor commented on #818
What version of Kubernetes introduces the feature we need as Beta?

[2019-04-26 20:46] mattmoor commented on #1238
Fixed by: https://github.com/knative/serving/pull/3794

[2019-04-26 20:46] #1238 closed

[2019-04-26 20:47] mattmoor commented on #679
Closing as a duplicate of #818

[2019-04-26 20:47] #679 closed

[2019-04-26 20:48] mattmoor commented on #648
This no longer makes sense in Serving when we are not orchestrating the Builds (v1beta1), as the only way we'd access this information is via metadata associated with the container, which could just as easily existing in Serving client systems.

[2019-04-26 20:48] #648 closed

[2019-04-26 20:49] adrcunha commented on #1418
Closing in favor of https://github.com/knative/test-infra/issues/717

[2019-04-26 20:51] yanweiguo commented on #3582
Based on the Formula listed [here](https://select-statistics.co.uk/calculators/sample-size-calculator-population-mean/), given population variance of 100, the max sample size is 16 per second. We may need to tune the value of population variance. I'm fine with 16 QPS.

We want to do #2930 anyway.

[2019-04-26 20:52] mattmoor commented on #1846
With Revision managed activation (#1997) closed and the SKS API available to the KPA this is now plausible to do via the activator.

Anyone interested inpursuing this in 0.7?

[2019-04-26 20:56] #1418 closed

[2019-04-26 21:06] yanweiguo commented on #818
We need [VolumeSubpathEnvExpansion](https://kubernetes.io/docs/concepts/storage/volumes/#using-subpath-with-expanded-environment-variables) feature. Still alpha in 1.14.

[2019-04-26 21:32] mattmoor commented on #1409
I think that in terms of mechanics, the method I prefer the most would be to have the KPA put the SKS into PROXY mode (as I commented https://github.com/knative/serving/issues/1846).

I think the pertinent question then becomes: when should the activator be hooked into the request path?

Talking to @hohaichi about what's described here, queuing at the queue-proxy level (what he called "backlog") f

[2019-04-26 21:33] mattmoor commented on #1827
We won't be vendoring build for too much longer, since it's dropping from the v1beta1 API spec.

[2019-04-26 21:33] #1827 closed

[2019-04-26 21:34] mattmoor commented on #100
I'm going to close this, we can reopen if we think the facilities we make available are inadequate.

[2019-04-26 21:34] #100 closed

[2019-04-26 21:42] mattmoor commented on #971
I'm reaching out to the docs team, but I think my preference would be `knative.dev/serving` over `code.knative.dev/serving`... 🤷‍♂

[2019-04-26 21:45] mattmoor commented on #1397
The ship has sailed on renaming this.  Going to close this.

[2019-04-26 21:45] #1397 closed

[2019-04-26 21:46] mattmoor commented on #1898
done now

[2019-04-26 21:46] #1898 closed

[2019-04-26 21:53] mattmoor commented on #3026
Planning for 0.7, so I'll give this another ping :)

[2019-04-26 22:30] mattmoor commented on #3153
cc @markusthoemmes

I'm seeing this at HEAD again :(

[2019-04-26 22:34] mattmoor commented on #3165
@vvraskin Any chance you can look at this in 0.7?

[2019-04-26 22:35] dprotaso commented on #818
Yeah I’ve been waiting for it to be beta

On Fri, Apr 26, 2019 at 17:06 Yanwei Guo <notifications@github.com> wrote:

[2019-04-26 22:35] dprotaso commented on #1238
Isn’t the default ResponseHeaderTimeout
<https://github.com/golang/go/blob/release-branch.go1.12/src/net/http/transport.go#L218-L222>
still
an issue?

On Fri, Apr 26, 2019 at 16:46 Matt Moore <notifications@github.com> wrote:

[2019-04-26 22:35] jchesterpivotal commented on #971
I think `knative.dev/serving` would collide with anything else we wanted to put at that URL in future. `code.knative.dev/serving` less so.

[2019-04-26 22:37] mattmoor commented on #971
I think this is what "dibs" is for :)

[2019-04-26 22:38] jchesterpivotal commented on #971
I see it's the quick and the `500` around here.

[2019-04-26 22:39] ImJasonH commented on #971
Go import path redirection works by looking for a `<meta>` tag on the page when there's a special query parameter present. So `knative.dev/serving` could still serve other content to regular browser users without any problem.

See also: http://cloud.google.com/go which is also a valid Go import path: https://godoc.org/cloud.google.com/go

[2019-04-26 22:47] mattmoor commented on #3154
We need to fail on non-200

[2019-04-26 22:52] mattmoor commented on #3021
This seems quite stable

[2019-04-26 22:53] mattmoor commented on #2804
Do we have a repro for this issue?

[2019-04-26 22:57] mattmoor commented on #1411
I feel like this is largely an Istio problem.  We could perhaps have a page on advanced istio configuration, but this isn't a v1 blocker.

[2019-04-26 22:58] mattmoor commented on #2321
We do this for Istio now.  We should probably for K8s as well, but this isn't a v1 blocker.

[2019-04-26 23:06] mattmoor commented on #1479
This is an Istio problem fixed in 1.1

[2019-04-26 23:06] #1479 closed

[2019-04-26 23:09] vagababov commented on #3021
it is `t.Skip`. :|
/reopen

[2019-04-26 23:09] vagababov commented on #3021
I can retry with my new changes see if it works.

[2019-04-26 23:37] jonjohnsonjr commented on #3021
"I was looking at scale-50" -- @mattmoor 🤦‍♂

[2019-04-26 23:42] #1509 closed

[2019-04-27 01:47] mattmoor commented on #3482
I think I'm going to do a version of this that runs the official python image with `cmd` set to `python`, and a simply http server (e.g. [this](https://gist.github.com/davidbgk/b10113c3779b8388e96e6d0c44e03a74)) passed in via `-c`, possibly with pseudo-randomized text.

[2019-04-27 01:47] mattmoor commented on #3482
/assign

[2019-04-27 03:13] mattmoor commented on #3483
/assign

[2019-04-27 16:45] #3482 closed

[2019-04-27 17:07] #3483 closed

[2019-04-27 17:08] mattmoor commented on #2611
I don't think going beyond 200 services is a v1 requirement.

[2019-04-27 17:09] mattmoor commented on #2347
Moving process-related stuff out of v1

[2019-04-27 17:09] mattmoor commented on #2270
Reopen on the docs repo if you still plan to pursue this?

[2019-04-27 17:09] #2270 closed

[2019-04-27 17:12] mattmoor commented on #2128
I think that we want this as well, but given that we have options we shouldn't block v1 on it.

[2019-04-27 17:14] mattmoor commented on #1910
This ties into how we ship conformance and how we expect folks to run it (e.g. provide auth).  cc @dgerd

[2019-04-27 17:16] mattmoor commented on #969
I haven't heard any meaningful complaints about this with `ko`, so I'm going to move to the ice box as a nice-to-have for v1.

[2019-04-27 17:19] mattmoor commented on #3051
I believe we are going to treat TLS as a separate feature train from v1, so I'm inclined to move this out of v1.

cc @rgregg to confirm

[2019-04-27 20:18] mattmoor commented on #3903
cc @ZhiminXiang

[2019-04-27 20:20] mattmoor commented on #3905
This sounds like quota enforcement, which should be managed through some sort of service external to your Knative app since tracking that's very stateful.

[2019-04-27 20:20] #3905 closed

[2019-04-27 20:23] mattmoor commented on #3825
Yeah, that's right and this seems reasonable to me.

[2019-04-27 20:34] #3021 closed

[2019-04-27 21:41] mdemirhan commented on #3782
Activator already writes these metrics. Closing the issue.

[2019-04-27 22:27] #3825 closed

[2019-04-28 11:06] lvjing2 commented on #3582
100 means 100 pods per revision, or 100 active revisions? if there are thousands of active revisions with tens of pods, I think 16QPS totally is not enough. Yeah, anyway, #2930 is good, and I think it need to take this into consideration to set the upper limitation number of revisioms for each sharding.

[2019-04-28 12:03] duglin commented on #3384
@mattmoor could you elaborate a little on why this restriction is needed when, as you said, there are mechanisms that allow people to get the same net result, but not nearly as UX friendly.

[2019-04-28 12:35] lvjing2 commented on #2132
I just want to rise an issue about the resync period in autoscaler, and fortunately I found that you guys had already work on this.

[2019-04-28 13:33] mattmoor commented on #3670
The change to generate-yamls.sh is already done.  We need docs changes now.

[2019-04-28 14:42] mattmoor commented on #3670
@duglin We can still reference these files in-tree since they aren't "built".  However, I think the best place for this kind of thing is going to be: https://github.com/knative/docs/issues/1244

Sounds like we need a docs update to even cover installing these extras?

[2019-04-28 15:06] duglin commented on #3670
That sounds fine - as long as we don't lose the info and it's easy for downstream deployers to know what to do w/o a lot of discovery

[2019-04-28 16:13] mattmoor commented on #971
Thinking about this some more, this is probably going to require coordination with the Productivity WG and we'll probably spend a few weeks tracking down assorted glitches.  I don't want to risk the release by attempting this in the final weeks.

[2019-04-28 19:44] srinivashegde86 commented on #3453
This should be fixed by #3692

[2019-04-28 19:44] #3453 closed

[2019-04-28 20:43] mattmoor commented on #3153
I deployed the `autoscale-go` sample with `containerConcurrency: 80`.

After it scales to zero, I launch the load test:
[code]

While that ran, in a separate window I had `kubectl get deploy --watch` going, here's the output (annotated):
[code]

[2019-04-28 21:03] mattmoor commented on #3153
Here's a theory: are we sure that the activator Pod(s) are represented in each time bucket?

https://github.com/knative/serving/blob/95e6390a1153ebb8219b1c9b145c9b1239116d10/pkg/autoscaler/autoscaler.go#L80

[2019-04-28 21:16] mattmoor commented on #3153
It looks like the activator [reports](https://github.com/knative/serving/blob/d908a3d578071b412172bfad09360fb6ed711404/pkg/activator/handler/concurrency_reporter.go#L101) [every second](https://github.com/knative/serving/blob/fdbf5b24dbd19b86c5365444095384bf822348f4/cmd/activator/main.go#L278) in theory, and that we truncate buckets at a [2s window](https://github.com/knative/serving/blob/95e6390a

[2019-04-28 22:32] mattmoor commented on #3153
Ok, I instrumented this a bit and it looks like the problem may actually be the way we aggregate stats from the scraper.  The stats from the activator pods look perfectly fine, but the ones from the scraper all have the same `PodName`.  This means that all of the stats coming from the Pods get lumped together and they are all averaged to determine concurrency instead of being summed 😲 .

This mean

[2019-04-28 22:33] mattmoor commented on #3153
Here's what effectively turns our sum into an average: https://github.com/knative/serving/blob/95e6390a1153ebb8219b1c9b145c9b1239116d10/pkg/autoscaler/autoscaler.go#L90

[2019-04-28 22:40] mattmoor commented on #3153
I see that we try to compensate for this here: https://github.com/knative/serving/blob/95e6390a1153ebb8219b1c9b145c9b1239116d10/pkg/autoscaler/stats_scraper.go#L147-L150 (not sure why it isn't working)

[2019-04-29 02:51] mattmoor commented on #3153
Ok, so at least part of this is that wrk is ignoring my querystring.  Going to try with `hey` now.  🤦‍♂

[2019-04-29 03:16] mattmoor commented on #3153
With `hey` things look much better.  At `100ms` we jump to 7 replicas and stay there for the duration.  At `10ms` we jump to 7 replicas and after a while drop to 3-4 replicas (with some jitter).

I think we still have accounting problems when we're dealing with extraordinarily fast user-container requests, but this isn't as pervasive a problem as I had first imagined.  Too bad I wasted so much tim

[2019-04-29 06:14] markusthoemmes commented on #1846
@mattmoor I'd very much be, if I'm able to finish my pluggable autoscaler work in time for that. Leaving this unassigned until I *know* I'll have the cycles.

[2019-04-29 06:30] vvraskin commented on #3165
@mattmoor Unfortunately not, I changed the company recently and will not have enough cycles in the next weeks... :(

[2019-04-29 06:36] markusthoemmes commented on #3153
@mattmoor good observations, thanks.

The autoscaler currently works off of "system total" values for concurrency, meaning: It handles the values it gets as them being the total of the system.

The scraper doesn't care about which pod is reporting metrics, so it extrapolates the values it reads to be representative of the whole system. As we're doing sampling, some form of extrapolation will need

[2019-04-29 07:53] viktorbenei commented on #3825
Awesome, thank you!

[2019-04-29 12:18] #3702 closed

[2019-04-29 13:45] mattmoor commented on #3153
@markusthoemmes I just wonder if we'd have things this way if we were starting from scratch?  As a name `PodName` is very misleading in this context.

[2019-04-29 13:56] #3913 closed

[2019-04-29 15:41] satansk commented on #3910
Hi @mattmoor , I would like to pick it :)

[2019-04-29 16:14] RichieEscarez commented on #971
/cc @adrcunha

[2019-04-29 17:12] yanweiguo commented on #3582
100 means the concurrency variance of all pods per revision.

[2019-04-29 20:21] dprotaso commented on #643
Oh yeah

[2019-04-29 21:35] hohaichi commented on #1409
I think it is a good idea to switch to PROXY mode as the first step in scaling up.  It will help us not only to lower the latency, but also to measure cold requests separately from warm requests.

[2019-04-29 21:57] hohaichi commented on #3153
I think @yanweiguo is making scraping more accurate: https://github.com/knative/serving/pull/3831.

I also think that scaling up and scaling down should not be treated the same (as we do now).  Scaling up is to address reliability and it should be instantaneous.  Scaling down is to save costs, and it could be delayed or done gradually.  What do you think?

[2019-04-30 00:32] mattmoor commented on #971
This is where K8s serves this text: https://github.com/kubernetes/k8s.io/blob/master/k8s.io/configmap-nginx.yaml#L36-L49

[2019-04-30 01:00] mattmoor commented on #971
For Prow @fejta pointed me at https://github.com/kubernetes/test-infra/blob/b3a9e5ba03ff1d38d3dc3a0fae2880874de1db83/config/jobs/kubernetes/sig-gcp/sig-gcp-windows.yaml#L67-L72 for customizing how we import things.

[2019-04-30 03:58] mattmoor commented on #2757
Observability related, so moving out of v1.

[2019-04-30 04:12] mattmoor commented on #2946
@vagababov This is ultimately what prompted the creation of the Revision-managed activation issue.  We should have a test to stress out this path, and historically this has done the trick.

While removing the annotations wasn't the intended goal of this issue, it's the best way I'm aware of to stress things to highlight the issue at hand.  If you can come up with another way, great.  If not, I'd t

[2019-04-30 05:02] mattmoor commented on #3895
I look at these (and some of the config map settings) and think we should walk back as many of them as we can.  I'd much rather have us intentionally introduce knobs based on concrete user needs vs. speculatively exposing the knobs that you or I might turn to tune something.

Even `minScale` desensitizes folks to our cold-start problem, and I scold folks for using it.  Perhaps each time we reach f

[2019-04-30 05:06] mattmoor commented on #3681
The main place we support composition today is in Eventing, at a low-level through Channels/Subscriptions, and as a high-level through the new Broker/Trigger.

I'm not sure anyone has tried to stand up those samples on Knative, but there are a whole bunch in knative/docs to get started.

Hopefully that answers your question.

[2019-04-30 05:06] #3681 closed

[2019-04-30 05:12] mattmoor commented on #3687
I think we want the system-generated names here to be boring, which parallels the DNS for K8s services.

These boring names can then have 0-N interesting names associated with them on a separate lifecycle.

In Cloud Run we have a `DomainMapping` resource that effectively does this by creating an Istio VirtualService that rewrites the request to a vanity domain to the backing Route.  We can certain

[2019-04-30 05:14] mattmoor commented on #3674
This instance is going to go away once we stop supporting "just in time" Builds in Serving, so going to close this as WAI for now.

[2019-04-30 05:14] #3674 closed

[2019-04-30 05:19] mattmoor commented on #3577
Istio is often a significant chunk of this.  Our "lean" install helps, but can be further reduced.  If you have specific resource concerns about Knative components please let us know.

[2019-04-30 05:19] #3577 closed

[2019-04-30 05:20] mattmoor commented on #3565
Is this actually being looked at?

[2019-04-30 05:21] mattmoor commented on #3468
I believe this is done.

[2019-04-30 05:21] #3468 closed

[2019-04-30 05:21] mattmoor commented on #3534
@chaodaiG fixed this 🎉

[2019-04-30 05:21] #3534 closed

[2019-04-30 05:23] adrcunha commented on #3565
Probably not, and I think it's now obsolete. Closing this, feel free to reopen if you disagree.

[2019-04-30 05:23] #3565 closed

[2019-04-30 05:24] mattmoor commented on #3663
@jxadro This is somewhat the nature of declarative APIs.  One thing you can do it potentially synthesize a PATCH to simply change the revision names.  Not that we're moving away from "modes" and towards a more Route / Configuration-like experience in Service, but you should still be able to PATCH the traffic block without having to repost the ConfigurationSpec.

[2019-04-30 05:24] #3663 closed

[2019-04-30 05:35] mattmoor commented on #3633
knative/serving is fundamentally HTTP based, so it isn't going to "just work" with arbitrary container images.

Similar to how we see FaaS code-gen occurring at Build time, I can see a process for augmenting a STDIN/STDOUT container image to wrap it with an HTTP server similar to how Tekton rewrites the entrypoints of containers to invoke a binary they have overlaid to perform orchestration.

Simi

[2019-04-30 05:35] #3633 closed

[2019-04-30 05:36] mattmoor commented on #3662
cc @tcnghia

[2019-04-30 05:40] rhuss commented on #3408
+1 for an (optional) standard annotation. Optional, as it's set from the 'outside' and I'm not sure whether it's a good style to require mandatory, client-provided annotations.

An alternative would be a dedicated metadata field which would require to extend `ObjectMeta`. Not sure if this is something people want.

The third alternative would be to add to `spec:`. However, having client-provided m

[2019-04-30 05:42] mattmoor commented on #3826
How high are we talking?  15m? 30m? 10h? :)

We can consider raising this, but at some point extremely long sessions become a form of state, and we're not looking to support stateful workloads.  Above a certain point is also start to look a lot like we're abusing Serving as a batch system, which it is not.

[2019-04-30 05:44] mattmoor commented on #3751
cc @tcnghia it looks like maybe the headers aren't being injected?

[2019-04-30 09:32] matthew1534 commented on #3826
40m would cover our use cases. (although ∞ sounds exciting... 🙈)

I see your point however should Knative be forcing limits upon developers? - it seems that if a longer time has no ill effects regarding the underlying infrastructure then it should be the developers choice and instead maybe the Knative documentation should advise developers, rather than enforce, due to statefulness, batching, etc.,

[2019-04-30 13:44] mattmoor commented on #2086
I can actually reproduce this pretty consistently when I hit a low-latency user-container.

e.g. it's pretty consistent for me with:
[code]

I'll try to adjust these settings and see if it repros.

[2019-04-30 13:56] mattmoor commented on #2086
Looks like for the http path the queue-proxy's `httputil.ReverseProxy` uses the `http.DefaultTransport`, I'm going to try using our `network.AutoTransport`, which uses an HTTP transport with a higher count configured.

[2019-04-30 14:01] mattmoor commented on #2086
Didn't work as-is, I'll trying adding `MaxIdleConnsPerHost` and bumping the values to confirm the observation above.

[2019-04-30 14:09] mattmoor commented on #2086
Hmm, that didn't do it for me.  I'm going to revert my use of the `AutoTransport` and try the code above.  🤞

[2019-04-30 14:16] mattmoor commented on #2086
These settings don't fix my case :(

[2019-04-30 16:21] adrcunha opened #3947 "Build E2E tests are not running anymore"
https://github.com/knative/serving/pull/3828 moved them to a subdir, and they're not running anymore. For example, there's no TestPipeline in

https://storage.googleapis.com/knative-prow/logs/ci-knative-serving-continuous/1123225959470731264/build-log.txt

[2019-04-30 16:50] sixolet commented on #3408
I'd add a standard annotation for this!

[2019-04-30 17:16] tcnghia commented on #3751
I wonder if this is because of probe rewrite (for mTLS) causing the probe to hit activation handler.

[2019-04-30 17:37] jchesterpivotal commented on #3408
Isn't this what `User-Agent` is for?

[2019-04-30 17:45] steren commented on #3408
Based on our experience with Cloud Functions and Cloud Functions for Firebase, we learnt that user agents do not work well:

* When calling the API from a browser, the browser's user agent is captured, instead of capturing "Google Cloud Console" for example.
* We need this data to be stored as a property of the revision object, along with the `deployedBy`, to allow our developers to answer questio

[2019-04-30 17:54] jchesterpivotal commented on #3408
All fair. I'd still agitate for sensible `User-Agent` values, but I can accept them as separate from this issue. Identifying badly-behaved clients presenting themselves as `Go-http-client/1.1` or `Ruby` has a certain tooth-extractive feel to it that I resent.

[2019-04-30 18:52] #3947 closed

[2019-04-30 19:15] #3154 closed

[2019-04-30 21:42] andrew-su commented on #3419
As part of these changes, I started with the refactor as suggested but that quickly went down horribly as there were many places relying on the map referring to "defaultName" for the default route, which led to lots of different places failing. After fighting with that for a long while, I decided to just do the refactor later.. Going with as minimal change as I need to get the functionality workin

[2019-04-30 22:08] andrew-su commented on #3419
It was a typo... which caused it to attempt to create the same service twice thus failing early before updating cluster ingress. Thank you controller logs.

[2019-04-30 22:09] tcnghia commented on #3419
@andrew-su I think missing CI update would fail a bunch of e2e.  so hopefully fixing the typo will fix all those e2e failures?

[2019-05-01 03:54] andrew-su commented on #3419
The typo fixed a bunch of them but there's some issues with cluster-local visibility. Will take a look more tomorrow.

[2019-05-01 15:28] mattmoor commented on #3751
To clarify, are things failing or is this just a scary error message?

[2019-05-01 15:49] tcnghia commented on #3426
/assign tzununbekov

[2019-05-01 15:55] dgerd commented on #3826
I think the problem that Matt is trying to highlight is that as the time gets longer and longer it actually does effect the underlying infrastructure as it limits the types of operations that Knative can perform without risk of impact to the application. To honor the timeout and prevent premature connection termination we must wait for the all connections to drain to a Pod before killing it. This

[2019-05-01 16:10] objectiser opened #3959 "Activator tracing config"
## In what area(s)?

## Ask your question here:
Testing out the activator tracing feature from #2726 and was wondering if it would be better to move the config from `config/config-tracing.yaml` into `config/config-observability.yaml` under a `tracing.` prefix, e.g. `tracing.enabled`, `tracing.sample-rate`, etc.?

[2019-05-01 16:29] greghaynes opened #3961 "Offload request stat scraping to loadbalancer"
## In what area(s)?

Other classifications:

## Describe the feature

Currently we use the queue-proxy to perform request stat tracking and then scrape and extrapolate these sample values to determine average concurrent requests per pod. This has several pitfalls such as https://github.com/knative/serving/issues/3740, https://github.com/knative/serving/issues/2579, https://github.com/knative/servi

[2019-05-01 17:17] DavidLangworthy commented on #3903
I am running the same high level issue.  The pod log contains the following error.

`{"level":"error","ts":"2019-05-01T17:00:10.555Z","logger":"activator","caller":"activator/main.go:152","msg":"Failed to get k8s version","knative.dev/controller":"activator","error":"Get https://kube9-cba651c6.hcp.eastus.azmk8s.io:443/version?timeout=32s: EOF","stacktrace":"main.main.func1\n\t/go/src/github.com/kn

[2019-05-01 17:24] markusthoemmes commented on #3961
As discussed in Slack, the "nifty infinite accuracy" algorithm was used back when we had push-based metrics. With the metric system we have now I agree what you're describing makes sense. It's especially nice as it'd be a metric before even reaching the activator. We'd also theoretically get all revision data via one request vs. having to do x requests per revision as it currently stands.

Totally

[2019-05-01 17:31] DaspawnW commented on #3751
Hi @mattmoor,

for me this prevents activator to become healthy

[2019-05-01 17:37] DavidLangworthy commented on #3903
Deploying into a fresh cluster with version 0.4.0 does not clear up the issue.  autoscaler also exhibits problem in 0.4.0.

[2019-05-01 17:50] markusthoemmes commented on #3620
/assign

Picking this up to finish for 0.6.

[2019-05-01 17:55] markusthoemmes commented on #3620
I'd propose to add tests for:

1. Scale from 0 with sidecar disabled on revision
2. Service A (with sidecar) to Service B (without sidecar)
3. Service B (without sidecar) to Service A (with sidecar)

[2019-05-01 17:56] #3870 closed

[2019-05-01 18:08] mattmoor commented on #3408
+1 to different user agents, but that's probably not tenable for us to act on from within the webhook where the user-agent is likely Kubernetes.

Should we move this sort of thing to the Client repo moving forward?

[2019-05-01 18:09] mattmoor commented on #3620
thanks @markusthoemmes

[2019-05-01 18:24] jonjohnsonjr commented on #1683
Going to fix this (and some other issues) by just updating the documentation, thanks @zrss for the pointer.

See https://github.com/knative/docs/pull/1260

[2019-05-01 18:24] jonjohnsonjr commented on #1683
/close

[2019-05-01 18:24] #1683 closed

[2019-05-01 18:41] vagababov commented on #3751
Activator becoming healthy should be related to this. Since the stack trace is from a place where activator actually is serving the request. Is this a gRPC request?

[2019-05-01 18:48] vagababov commented on #3903
What if you ssh to the pod and curl the version information yourself from this master? Does that work?

[2019-05-01 19:37] beemarie opened #3963 "Example in development.md for config-network.yaml"
## In what area(s)?

## What version of Knative?

## Expected Behavior
Clear documentation for development.md setup

## Actual Behavior
As a first time user, I thought the explanation updating the config-network.yaml file for development environment could be clearer.  Maybe we can add an example in development.md about how the file should look, as well as updating the config-network.yaml from "cop

[2019-05-01 20:01] beemarie commented on #3898
I can start looking into this one.

[2019-05-01 20:08] grayside commented on #3408
Does the client repo set the expectations for unrelated client libraries?

[2019-05-01 21:46] markusthoemmes commented on #3961
Gnaaah. The edge-cases: What about service-to-service communication in a mesh setting? The ingressgateways wouldn‘t have the metrics and we‘re kinda back at square one.

One more thing for the „things where the mesh makes it potentially harder than it needs to be“ bucket.

[2019-05-01 23:01] vagababov commented on #3874
I experimented with this and interestingly enough the requests have no problem reaching Activator, when it listens on a single port. But it is a problem for Istio to forward the request downstream.

[2019-05-01 23:30] DavidLangworthy commented on #3903
I'll give it a try.  I need to spin up a fresh cluster.

[2019-05-02 00:12] #2946 closed

[2019-05-02 00:46] DavidLangworthy commented on #3903
I haven't been able to ssh into the pod.   The activator pod is constantly in CrashLoopBackoff so is not available.  I tried a couple of other pods, but did not find one with /bin/sh installed.

[2019-05-02 01:12] mattmoor commented on #3527
/assign

[2019-05-02 01:13] mattmoor commented on #3527
Hmm, this is specifically for HTTPS, so reassigning to @ZhiminXiang

/unassign
/assign @ZhiminXiang

[2019-05-02 01:14] mattmoor commented on #1590
/assign
/unassign @evankanderson

[2019-05-02 01:18] vagababov commented on #3903
You might need to make a different deployment of an image that curl in it. Not necessarily with knative. And then ssh or just `kubectl -it exec pod-name -- `curl https://kube9-cba651c6.hcp.eastus.azmk8s.io:443/version?timeout=32s`

[2019-05-02 10:00] objectiser opened #3975 "Activator tracing enabled causes context propagation issue"
## In what area(s)?

## What version of Knative?

## Expected Behavior

When activator tracing (implemented in https://github.com/knative/serving/pull/2726) is enabled, a single trace instance should be created per request.

## Actual Behavior

The request that involves the activator is split into two actual trace instances - one involving the `istio-ingressgateway` & `activator (istio-proxy)`, an

[2019-05-02 10:38] markusthoemmes opened #3977 "TickInterval not reconciled on configmap update"
## In what area(s)?

/area autoscale

## What version of Knative?

HEAD

## Expected Behavior

If the `TickInterval` is adjusted in the autoscaler configmap, I expect that setting to be applied to all running autoscalers.

## Actual Behavior

It's only set at initial creation of each autoscaler.

## Steps to Reproduce the Problem

1. Create a new revision
2. Observe the autoscaler tick in a fixed

[2019-05-02 14:04] JCzz opened #3978 "using cert-manager on gke"
Following this:
https://knative.dev/docs/serving/using-cert-manager-on-gcp/

What do we need to make it work - I suspect the reason for this not working is  regarding adding TXT record:

I would have expected that cert-manager to be able to update and validate certificates. If not then we need to add TXT and value - but how do you get the value?

If this is the case, will we need to update the TXT

[2019-05-02 14:24] #3907 closed

[2019-05-02 14:35] zetaron commented on #3751
Hey @mattmoor,

for us this error happens when a KNative Service is currently scaled to 0 and is in the process of "PodInitializing" resulting in 404 for requesting clients. So basically yes this makes things fail :(

We are on knative 0.5.2 with the related istio installed.

[2019-05-02 16:56] tcnghia opened #3982 "Remove cluster scoping of `ClusterIngress`"
## In what area(s)?

/area API
/area networking

## Describe the feature

The work done #1997 allows us to avoid traffic splitting to a different namespace in ClusterIngress and opens the possibility to remove the namespace scoping of ClusterIngress.  (Once we done that we can run Knative controllers to watch different namespaces, as well as restricting ACLs of Knative controllers to some specific

[2019-05-02 16:56] tcnghia commented on #3982
/assign @wtam2018

[2019-05-02 17:28] DavidLangworthy commented on #3903
I needed to add a -k option for https.  Then it returns a 401:

root@tcp-dep-5f689d758-gs56j:/# curl -k https://kube2-dns-283b9635.hcp.eastus.azmk8s.io:443/version
{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {

  },
  "status": "Failure",
  "message": "Unauthorized",
  "reason": "Unauthorized",
  "code": 401

[2019-05-02 17:43] vagababov commented on #3903
Well, it is something how your AKS cluster is setup and for some reason needs authentication from inside (may be the SA needs to be authorized?).

[2019-05-02 17:47] mattmoor commented on #818
1.14 alpha is way too far out.

@mdemirhan suggested that we just volume mount `/var/log` into a sidecar that we ship (lightweight) and stream the logs to the sidecar's STDOUT (replacing the huge sidecar we have today).

We could also potentially mount `/dev/stdout` or `/dev/stderr` into the sidecar (from the `user-container`) and write the stuff we see hit `/var/log` to `user-container`'s STDOUT.

[2019-05-02 17:57] DavidLangworthy commented on #3903
Thank you.  I'll ask on AKS.

[2019-05-02 18:06] dgerd commented on #2755
This is a duplicate of #3426. Closing.

[2019-05-02 18:06] #2755 closed

[2019-05-02 19:38] sebgoa opened #3983 "Not able to get working revisions"
I am struggling with some probable networking issues that seem to prevent services from running. The revisions do not get Ready.

I see a message like `Requests to the target are being buffered as resources are provisioned.`

and the following logs.

Describing the revisions shows:

[code]

Serving controller log shows:

[code]

[2019-05-02 20:31] vagababov commented on #3983
Well, I can see it reconciled in the end.
Can you do `kubectl get deployments ffff-rtzwz-deployment -oyaml` ?

[2019-05-02 20:45] sebgoa commented on #3983
[code]

[2019-05-02 21:10] dgerd opened #3984 "Move secret/configmap creation outside of conformance tests"
## In what area(s)?

/area API

/area test-and-release

## Describe the feature

Our `test/conformance/envpropagation_test.go` current uses the Kube client to create and clean-up configmaps and secrets as part of the test. This setup should ideally be done outside of the test similar to our setup of namespaces.

[2019-05-02 21:13] dgerd opened #3985 "Replace uses of environment image with runtime image"
## In what area(s)?

/area test-and-release

## Describe the feature

The runtime test image should have all of the necessary functionality to replace uses of the environment test image. This should allow us to clean up a bunch of test code, reduce the number of test images, and reduce duplication.

[2019-05-02 23:19] mdemirhan opened #3987 "Scale to zero is broken at HEAD when Istio 1.1 lean installation is used"
/area autoscale
/area networking
/assign @vagababov

@vagababov investigated my repro and found out the following:
* After 1 minute of inactivity, endpoint gets reprogrammed to point to activator
* Autoscaler probes however are still reaching to the queue proxy
* When the endpoint is curled within the cluster, it goes to the activator
* Restarting autoscaler pod fixed the problem

Our theory is th

[2019-05-03 00:05] tcnghia commented on #3987
So this was what I saw a few days ago when trying to turn on testing using istio-lean... All tests involved scale to 0 broke.

[2019-05-03 00:09] tcnghia commented on #3987
https://github.com/knative/serving/pull/3956

[2019-05-03 00:17] tcnghia commented on #3983
@sebgoa is the istio-sidecar-injector running?  It looks like the deployment/pod can't be created because the sidecar injector isn't reachable.

[2019-05-03 01:36] #3515 closed

[2019-05-03 02:14] #3554 closed

[2019-05-03 02:18] #3789 closed

[2019-05-03 02:18] #3782 closed

[2019-05-03 02:19] #3781 closed

[2019-05-03 06:46] markusthoemmes commented on #3759
@eallred-google Any reason to reopen this?

[2019-05-03 07:20] sebgoa opened #3991 "GKE cluster not scaling down due to istio-telemetry pod"
I am investigating why my GKE cluster running knative/istio is not scaling DOWN.

There was a spur of activity which made the cluster scale up, but now it does not scale down on its own.

There are reasons for the scale down not to occur:

https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-types-of-pods-can-prevent-ca-from-removing-a-node

The most straightforward

[2019-05-03 07:42] sebgoa commented on #3991
Prometheus and elasticsearch logging in `knative-monitoring` also have local storage

[2019-05-03 07:55] sebgoa commented on #3991
I had to drain the nodes manually. One drainage blocked on an istio pod ` kubectl delete pods cluster-local-gateway-7989595989-cpcpv -n istio-system`.

No clue why this `cluster-local-gateway-` pod blocked the draining.

[2019-05-03 07:57] sebgoa commented on #3991
Seems istio has PDB by defaults:

[code]

[2019-05-03 08:01] sebgoa commented on #3991
Scaling up the istio deployments to 2 replicas allows the node draining to finish.

[2019-05-03 08:15] #3959 closed

[2019-05-03 08:33] sebgoa commented on #3983
Yes, `istio-sidecar-injector` has an endpoint.

But two istio-pilot pods are in crashloop because they cannot reach the k8s master:

[code]

[2019-05-03 08:37] sebgoa commented on #3983
The `sidecar-injector` pod has errors:

[code]
where 10.27.240.1 is the clusterIP of the main kubernetes service

[2019-05-03 10:05] sebgoa commented on #3983
I disabled network policy (i.e Calico) and managed to upgrade the nodepool and master to 1.12.7.gke-10

All pods are running properly now.

but revisions show the original issue which triggered me to try to upgrade, i.e:

[code]

somehow, the "system" cannot download the image `functions:nodeinfo` from Docker hub

[2019-05-03 11:55] sebgoa commented on #3983
Figured it out :)

- My default service account had a secret for pulling docker hub images. After the recent docker hub hack I changed password. the secret was trying to authenticate to docker hub using the old password.

- this goose chase led me to upgrade the cluster and there I faced upgrade issues due to Calico. This manifested itself by istio injector pods not being able to reach the k8s mas

[2019-05-03 11:55] #3983 closed

[2019-05-03 12:12] markusthoemmes commented on #3803
Attempt to fix in #3992

[2019-05-03 13:21] mehdijoe commented on #839
Hey @josephburnett

Thank you for sharing your test results.

I'm curious to know if you have tested these scenarios and what was the result? Thanks

[2019-05-03 13:59] mattmoor commented on #3481
Moving what's left here to 0.7.

I believe the compromise @dgerd and I arrived at was to make these tests set things up outside of the test itself.  I'd recommend adding a secret / configmap to `test/config`, which gets `ko apply`'d.

[2019-05-03 14:14] #3514 closed

[2019-05-03 14:15] #3508 closed

[2019-05-03 14:16] #3506 closed

[2019-05-03 14:16] #3550 closed

[2019-05-03 14:16] #3629 closed

[2019-05-03 14:17] mattmoor commented on #3759
No, there was an accidental bulk reopen last night.  I'm closing them now

[2019-05-03 14:17] #3759 closed

[2019-05-03 14:22] mattmoor commented on #3751
Can you share the virtual service definition for this route?

I'm wondering whether you have an appendHeaders block like this:
[code]

[2019-05-03 14:41] mattmoor commented on #3626
Running this at HEAD worked for me:
[code]

Perhaps we're not setting TAG?

[2019-05-03 14:46] mattmoor commented on #3626
Looking at the latest nightly, the images are tagged, but these annotations are not being rewritten.
[code]

[2019-05-03 14:59] mattmoor commented on #3626
It looks like `TAG` is set right before the cal to `generate-yamls.sh`, but isn't exported, so the subprocess doesn't inherit it.

I believe we can fix this with a one-line `export TAG` before calling `generate-yamls.sh`

[2019-05-03 15:24] #3975 closed

[2019-05-03 16:07] mattmoor commented on #3408
I think `knative/clients` should own any sort of standardization/conventions for how clients interact with our APIs.

[2019-05-03 16:28] dgerd commented on #3481
I actually created two new issues here:

https://github.com/knative/serving/issues/3985
https://github.com/knative/serving/issues/3984

Lets go ahead and close this one and use the other two. I will add them to 0.7.

[2019-05-03 16:28] #3481 closed

[2019-05-03 16:51] #1590 closed

[2019-05-03 17:15] #3626 closed

[2019-05-03 17:29] tcnghia commented on #1238
/cc @vagababov

[2019-05-03 18:09] #3987 closed

[2019-05-03 18:32] mattmoor commented on #662
Besides that we pass a string through, there isn't really a great way to test this in scope for conformance.  @dgerd should we just close?

[2019-05-03 18:38] markusthoemmes opened #3997 "Manifest list resolution breaks CRI-O based clusters"
HEAD

## Expected Behavior

I expect all images to work on Knative.

## Actual Behavior

Images from a registry that supports multiple architectures (like Dockerhub.com) don't work.

## Steps to Reproduce the Problem

1. Get a CRI-O based cluster (like Openshift)
2. Run `TestCmdArgsService` (uses the python images)
3. It doesn't work.

## Relevant information

This is related to https://github.com

[2019-05-03 18:39] markusthoemmes commented on #3997
@jonjohnsonjr would it be a workable solution to provide a know to set the architecture to resolve (the default being to resolve the manifest list and letting the node handle the final resolution)?

I think that'd unblock CRI-O based clusters for now (we can almost certainly safely assume amd64/linux there) until that bug in CRI-O is fixed.

[2019-05-03 19:26] jonjohnsonjr commented on #3997
We can use `runtime.GOOS` and `runtime.GOARCH` to pull the image that matches the controller's system. This won't work for clusters that have heterogeneous nodes, e.g. a master on amd64/linux scheduling jobs on a bunch of raspberry pis. I don't see a better option until CRI-O is fixed, though.

[2019-05-03 19:45] markusthoemmes commented on #3997
@jonjohnsonjr what if we put a knob in front of that as proposed above?

[2019-05-03 19:48] jonjohnsonjr commented on #3997
What kind of knob are we thinking? Configmap? Environment variables?

[2019-05-03 19:50] jonjohnsonjr commented on #3997
I think https://github.com/knative/serving/pull/3998 is going to work in almost every case, so I'm reluctant to add a knob if we'll never need to use it.

[2019-05-03 19:52] jonjohnsonjr commented on #3997
This would also break schema 1 images, but I'm okay with that.

[2019-05-03 21:16] mdemirhan commented on #3898
/assign @beemarie

[2019-05-03 21:16] mdemirhan commented on #3898
@beemarie, you need to join to knative members before we can assign this to you.

[2019-05-03 21:38] tchupp commented on #3384
I have a use case where this would be quite useful.
Currently I am running a gRPC app with a sidecar container: (https://github.com/cloudendpoints/esp)
The sidecar handles authentication, rate limiting, etc
My current set up in K8s has these two containers running together in a single pod, with only the sidecar exposed. This keeps my gRPC app secure. Both containers are stateless, and could scale

[2019-05-03 23:44] hohaichi commented on #2859
This behavior sounds similar to #2705, which is fixed.  I verified by upgrading my GKE cluster, which bounces each node one at a time.  The revisions that were scaled down to 0 remain down.  Only the revisions that were up and running got restarted.  Please see below for the output.

[1]
$ kubectl get deployments
NAME                                             DESIRED   CURRENT   UP-TO-DATE   AVA

[2019-05-04 14:26] mattmoor commented on #818
/assign @JRBANCEL

Talked to @mdemirhan about JR picking this up in 0.7.

[2019-05-04 14:26] mattmoor commented on #647
/assign @JRBANCEL

Talked to @mdemirhan about JR picking this up in 0.7.

[2019-05-04 14:27] mattmoor commented on #647
Note: this might need breaking down, and possibly won't all land in 0.7

[2019-05-05 07:00] zachomedia commented on #3751
I also experienced this when I launched knative in my cluster with probe rewriting enabled (due to mTLS). After digging a bit, it turns out the healtcheck for activator relies on the `kube-probe/...` user agent (https://github.com/knative/serving/blob/master/pkg/network/network.go#L263). The istio-proxy sidecar wasn't forwarding along the user agent during a health check. With a custom istio-proxy

[2019-05-05 16:35] ZhiminXiang opened #4004 "Use one Certificate for a single domain"
## In what area(s)?

## Describe the feature
In auto-TLS feature, we use one `Certificate` for all of the domains of a Route, including major route domain and tag route domains.
This potentially add a requirement for Certificate provision solutions, which is the Certificate provision solutions need to support [SAN](https://www.ssl.com/faqs/what-is-a-san-certificate/). This is probably a strong req

[2019-05-06 14:29] #3963 closed

[2019-05-06 16:50] shashwathi commented on #3165
/assign

[2019-05-06 18:20] #476 closed

[2019-05-06 18:21] #92 closed

[2019-05-06 18:21] #96 closed

[2019-05-06 18:21] #210 closed

[2019-05-06 18:21] #316 closed

[2019-05-06 18:21] #322 closed

[2019-05-06 18:22] #551 closed

[2019-05-06 18:22] #558 closed

[2019-05-06 18:22] #995 closed

[2019-05-06 18:24] IgorRamalho opened #4013 "Service doesn't get the request if the Host header has port other than the defaults"
## In what area(s)?

## What version of Knative?

## Expected Behavior

After calling a service through a non-standard port, the deployment should be auto scaled to 1

## Actual Behavior

It returns a 404 error

## Steps to Reproduce the Problem

Set the `istio-ingressgateway` Service type to `NodePort` and try calling the service from outside the cluster by the node port (31390 by default for htt

[2019-05-06 18:27] #1076 closed

[2019-05-06 18:34] Fredy-Z opened #4014 "Apply default livenessProbe and readinessProbe to the user container"
## In what area(s)?

/area test-and-release

## Describe the feature
According to the second paragraph of [Meta Requests](https://github.com/knative/serving/blob/master/docs/runtime-contract.md#meta-requests) in Knative Runtime Contract, we should apply default `livenessProbe` and `readinessProbe` to the user container when they are not specified, and have them the following settings:
- `tcpSocket

[2019-05-06 18:36] markusthoemmes commented on #4014
In theory we have this (we don't do liveness probes though) implemented via the queue-proxy, which does this exact probe.

[2019-05-06 18:53] dgerd commented on #4014
QueueProxy Probe on Admin Interface: https://github.com/knative/serving/blob/1b6908c2ad16fbe7236d2727f6f8e9bd474a7d15/pkg/reconciler/revision/resources/queue.go#L63

QueueProxyHandler Setup on Admin Interface: https://github.com/knative/serving/blob/1b6908c2ad16fbe7236d2727f6f8e9bd474a7d15/cmd/queue/main.go#L201

Probe Handler: https://github.com/knative/serving/blob/1b6908c2ad16fbe7236d2727f6f8e9

[2019-05-06 18:54] markusthoemmes commented on #3620
We could argue that this is done (it's possible to opt-out now). What's missing is the e2e tests I mentioned above. @mattmoor want these to land in 0.6 as well or shall we close this and open a new issue for them?

[2019-05-06 18:57] dgerd commented on #4014
We do have something here. Some areas where this doesn't match well with the description:

1. LivenessProbe is not configured
2. "Platform-specific value" makes me think this is configuration; however, `periodSeconds` is hard-coded in the queueProxy
3. "Default" makes me think that user specified probes override this behavior, but instead they are applied concurrently.

[2019-05-06 20:02] mattmoor commented on #3751
Interesting, good find @zachomedia .  Do you know if it replaces it with another detectable user-agent today?

[2019-05-06 20:19] dprotaso commented on #643
/close

[2019-05-06 20:19] #643 closed

[2019-05-06 20:20] dprotaso commented on #643
it is done.

[2019-05-06 20:22] gioufop commented on #4013
I am exactly with the same problem.

[2019-05-06 20:46] zachomedia commented on #3751
@mattmoor Unfortunately, no - it's the standard Golang http user agent (`Go-http-client/...`)

[2019-05-06 20:55] mattmoor commented on #1933
Closing in favor of https://github.com/knative/serving/issues/1846

[2019-05-06 20:55] #1933 closed

[2019-05-06 21:04] mattmoor commented on #3751
We can [add headers](https://godoc.org/k8s.io/api/core/v1#HTTPGetAction) to the probes and look for that.  I don't have a good setup to verify this, if I whip up a build, can someone with a repro test it?

[2019-05-06 21:56] mattmoor commented on #3751
Can someone try adding the following to the activator deployment's probes?

[code]

I want to know if Istio with mTLS filters the headers appended by the kubelet as well.

[2019-05-06 22:04] mattmoor commented on #3751
To be clear: that isn't a permanent fix, since it avoids an important health check, but would let us confirm whether they are letting through headers.

[2019-05-06 22:18] zachomedia commented on #3751
@mattmoor Added the header and it does seem to work. With the header, the pod because ready. Without the header, the pod doesn't become ready and I see the error in the logs.

[2019-05-06 22:23] zachomedia commented on #3751
As further evidence, Istio adds the headers it to its list of probes:

`ISTIO_KUBE_APP_PROBERS:        {"/app-health/activator/livez":{"path":"/healthz","port":8080,"scheme":"HTTP","httpHeaders":[{"name":"k-network-probe","value":"activator"}]},"/app-health/activator/readyz":{"path":"/healthz","port":8080,"scheme":"HTTP","httpHeaders":[{"name":"k-network-probe","value":"activator"}]}}`

[2019-05-06 22:28] mattmoor commented on #3751
@zachomedia https://github.com/knative/serving/pull/4017 is a proper fix.  I can publish a build of that to try, if you'd like?

[2019-05-06 22:29] mattmoor commented on #3751
/assign

[2019-05-06 22:29] mattmoor commented on #3751
Yeah, it appears to add them here: https://github.com/istio/istio/blob/fabbba9aa68156697b2cdceb08987f39d4db4a23/pilot/cmd/pilot-agent/status/server.go#L215-L217

[2019-05-06 22:30] zachomedia commented on #3751
@mattmoor Sure, I can try it out

[2019-05-06 22:38] mattmoor commented on #3112
@dgerd Are you sure this doesn't require Istio / Envoy changes?

[2019-05-06 22:38] mattmoor commented on #3112
cc @tcnghia

[2019-05-06 22:51] #3751 closed

[2019-05-06 22:55] mattmoor commented on #3751
Try out: https://storage.googleapis.com/mattmoor-public/fix-3751.yaml

[2019-05-06 22:55] mattmoor commented on #3751
@vagababov already `/lgtm`'d it so, it'll also be in the next nightly.

[2019-05-06 22:56] dgerd commented on #3112
I am not sure at the moment the best place to enable this. There may be some settings in Istio/Envoy we can tweak to enable the header to be sent, or it may require code changes. We also should consider the no mesh scenario in which case the queue-proxy may be the best place to inject this header.

[2019-05-06 23:00] zachomedia commented on #3751
@mattmoor Applied it to my cluster and it works — pod got into the ready state without issue. Thanks!

[2019-05-07 01:57] #3052 closed

[2019-05-07 01:59] ZhiminXiang commented on #3052
This feature has been implemented by:
https://github.com/knative/serving/pull/3189
https://github.com/knative/serving/pull/3479
https://github.com/knative/serving/pull/3585

[2019-05-07 02:01] ZhiminXiang commented on #3527
Closed this issue as it has been solved in https://github.com/knative/serving/pull/3902

[2019-05-07 02:01] #3527 closed

[2019-05-07 02:28] yuzisun opened #4021 "Old revisions not in ready state are not GC'd despite there are routable revisions"
## In what area(s)?

 /area autoscale

## What version of Knative?

0.4.x

## Expected Behavior

Old revisions that are not in ready state should be GC'd since there are other routable revisions. The reason they are not GC'd is that the `lastPinned` annotation is not set on those pods since they are never routable, ideally the logic can be "you have any revision thats been routed therefore we also

[2019-05-07 02:56] #3670 closed

[2019-05-07 12:01] knative-flaky-test-reporter-robot opened #4025 "[flaky] test/e2e/build.TestBuildSpecAndServe"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/build.TestBuildSpecAndServe
* **Repository name**: serving

[2019-05-07 15:55] dgerd opened #4027 "Validate stdin, stdinOnce, and tty cannot be set in conformance tests"
## In what area(s)?

 /area API

/area test-and-release

## Describe the feature
We currently validate this in unit tests, but we should add conformance tests to https://github.com/knative/serving/blob/master/test/conformance/container_test.go as not having `terminal` is part of the [runtime contract process section](https://github.com/knative/serving/blob/master/docs/runtime-contract.md#process)

[2019-05-07 15:58] markusthoemmes opened #4028 "Add e2e test coverage for a partial mesh"
#3620 added the possibility to opt-out of the mesh on the revision pod side. That'd mean that potentially the system's pods (including the activator) have sidecars while the user pods don't. It also means that different revisions can have sidecars, while others don't.

We need these tests to make sure that neither permutation breaks.

1. Scale from 0 with sidecar disabled on revision
2. Service A

[2019-05-07 15:59] markusthoemmes commented on #3620
Opened a new issue for test coverage. Closing this.

/close

[2019-05-07 15:59] #3620 closed

[2019-05-07 16:12] vaikas-google opened #4029 "Preserve the original Host header when using Vanity Domains"
## In what area(s)?

## Describe the feature
When using vanity domains, say foo.example.com, this gets rewritte in the Host header as <service>.<namespace>.... and some frameworks or servers generate relative links based off the host header, so the links are wrong. We should preserve the Host header when doing the internal routing and restore it before sending to final destination.

[2019-05-07 16:25] mattmoor commented on #4029
We added what we need for this in 0.6, so let's try to squeeze it in before the cut.

What we do today is squirrel away the original host header in a separate header [here](https://github.com/knative/serving/blob/973873a2f33c23076711ab15ce48ab92b2b2bfd2/pkg/network/network.go#L48).

I think this amount to an existence check [here](https://github.com/knative/serving/blob/973873a2f33c23076711ab15ce4

[2019-05-07 16:27] mattmoor commented on #4029
As context, "vanity domains" refers to using a separate VirtualService on the ingress gateway to serve `www.mattmoor.io` by rewriting the request to `foo.bar.mattmoor.io`.  This would allow such cases to preserve the host header all the way through.

[2019-05-07 16:44] rosscdh opened #4031 "source to url example does not work https://knative.dev/docs/serving/samples/source-to-url-go/index.html"
## In what area(s)?

/area build

## What version of Knative?

0.5.2

## Expected Behavior

source to url would work but appears to be missing some config for the build aspect

## Actual Behavior

[code]

## Steps to Reproduce the Problem

apply with knative serving 0.5.2 and build 0.5.0

[code]

[2019-05-07 16:47] mattmoor commented on #4029
/assign

[2019-05-07 17:24] shashwathi commented on #3165
I tried to reproduce this issue in the following format.

sample app: `test/test_images/helloworld/helloworld.yaml`
traffic: `hey -z 5s -c 500 -host "route-example.default.example.com"  http://external_ip`

When the app is scaled to 0 instance and the burst of traffic is sent.

- In the default case of 1 activator instance, 5 pods are up and running to handle traffic.

[code]

- In case of 4 repli

[2019-05-07 17:48] #4029 closed

[2019-05-07 17:52] tanzeeb commented on #3276
The following Lua filter works with Istio 1.1:

[code]

Unfortunately, the obstacles mentioned [earlier](https://github.com/knative/serving/issues/3276#issuecomment-468111380) still applies. The Lua filter is not able to get route information from the virtual service.

[2019-05-07 17:54] markusthoemmes commented on #3165
@shashwathi The issue here is about the throttling behavior of the activator.

As an example, if you have a Revision with `containerConcurrency` = 10 and 0 pods, the activator will block all requests from hitting those pods. As soon as 1 pod becomes available, the activator allows exactly 10 requests to pass along. When the next pod comes up it allows 20 requests and so on. It makes sure to not ov

[2019-05-07 19:10] shashwathi commented on #3977
/assign

[2019-05-07 19:39] shashwathi commented on #3165
@markusthoemmes : Thank you for your comment.

I updated the helloworld application to `containerConcurrency: 10` and ran the following experiment.
traffic burst command: `hey -z 10s -c 500 -host "route-example.default.example.com"  http://external_ip`

Experiment with activator replicas 1, concurrency = 10

Run1:
Result: 46 pods

[code]

Run2:
Total pods: 30

[code]

Experiment 2 with activator r

[2019-05-07 19:40] shashwathi commented on #3977
/assign @andrew-su

[2019-05-07 20:05] mdemirhan commented on #818
An advantage of the lightweight sidecar doing tail and writing to stdout is that these logs will also be available in kubectl logs.

[2019-05-07 22:48] tanzeeb commented on #3165
@shashwathi @andrew-su

Can you confirm you did this with the `readinessCheck` in the helloworld application? Otherwise, the KPA will think the revision is ready, and deactivate the activator.

[2019-05-07 22:52] shashwathi commented on #3165
We removed the readiness check for this experiment. If we have handler that doesn't respond for 6s then readinesscheck will fail forever and never mark deployment as ready.

[2019-05-08 07:16] josephburnett commented on #3134
I don't think we need all those annotations. We can focus on pod metrics and leave object metrics unimplemented.  With that limitation, we would need the following annotations:

[code]

This adds only one new annotation, the `metricName`.  If someone needs access to the full HPA spec, they can implement a custom controller.

@markusthoemmes @kevinswiber what do you think?

[2019-05-08 07:32] rosscdh commented on #4031
Switched to development documentation which now provides the CRDs and permissions..

[2019-05-08 07:32] #4031 closed

[2019-05-08 08:36] yuxiaoba commented on #3903
I have met the same problem, have you solved this ?

[2019-05-08 14:27] mattmoor commented on #2804
Going to close without a clear repro given the age, please file a new issue if it recurs and you have a repro for it.

[2019-05-08 14:27] #2804 closed

[2019-05-08 14:33] mattmoor commented on #3308
A possible solution to this is to use an exec probe in the queue-proxy to probe itself, which can *hang*.

IIRC this has potential issues checking for mesh readiness, but I'm mulling a possible solution involving the downward API.

[2019-05-08 14:36] tanzeeb commented on #3308
/unassign

[2019-05-08 14:52] KaizenPikachu commented on #4031
@rosscdh Thank you for your answer.
On the development branch, pressing the "Learn how to use Knative to build apps from source code and then run those containers" button gives a broken link.
![image](https://user-images.githubusercontent.com/46486216/57384586-2c6cf900-71b1-11e9-9d1e-2d57d77c8610.png)

![image](https://user-images.githubusercontent.com/46486216/57384844-8cfc3600-71b1-11e9-8db6-a0e

[2019-05-08 15:29] mattmoor commented on #1625
We should also set up priority classes for critical components: https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/#example-priorityclass

[2019-05-08 15:31] mattmoor commented on #3308
tl;dr I think that we should probably find a way to make exec probes in the queue-proxy work, and block until they get what they want.

[2019-05-08 15:31] mattmoor commented on #3308
IDK that we need the downward API other than to workaround Istio, and we hopefully no longer need to workaround istio, which IIUC has its own readiness probes.

[2019-05-08 15:32] mattmoor commented on #2859
Sounds like this is resolved.  Feel free to open a new issue if it persists.

[2019-05-08 15:32] #2859 closed

[2019-05-08 15:32] mattmoor commented on #3355
Sounds done. 🎉

[2019-05-08 15:32] #3355 closed

[2019-05-08 15:34] mattmoor commented on #4027
/assign @tzununbekov

[2019-05-08 15:40] mattmoor commented on #2579
What's in there now looks like a hack to fix this issue for low container concurrency values:
[code]

I'd suggest that we solve this more consistently (as @mgencur suggests) and replace the above with:
[code]

[2019-05-08 16:20] greghaynes opened #4040 "10 second probe delay on activation"
## In what area(s)?

/area networking

## What version of Knative?

## Expected Behavior

I am seeing a fairly consistent 10s delay during pod probing. The probe request leaves the activator but never reaches the queue-proxy and remains open for almost exactly 10 seconds. Right before the request is forwarded to queue-proxy kubelet probes queue-proxy.

Best guess is this is something in k8s, possi

[2019-05-08 16:20] greghaynes commented on #4040
Some relevant logs from queue-proxy

[code]

[2019-05-08 16:30] tanzeeb commented on #3165
Isn't that what you want to guarantee that the requests go to the activator? Otherwise, subsequent requests will go directly to the revision instead of the activator.

[2019-05-08 16:38] vagababov commented on #4040
Do you have any logs from the activator for the same period of time?

On Wed, May 8, 2019 at 9:21 AM Gregory Haynes <notifications@github.com>
wrote:

[2019-05-08 16:42] greghaynes commented on #4040
This is from a different test but the only relevant line which is output is:

[code]

[2019-05-08 16:50] tcnghia commented on #1582
/cc @greghaynes

[2019-05-08 16:51] greghaynes commented on #4040
Very interestingly - I changed the queue-proxy probe timeout to 1s instead of 10s and it didnt have any effect...

[2019-05-08 16:52] vagababov commented on #4040
Perhaps: https://github.com/knative/serving/blob/784b4fbb0e2960677a3cdde21f4b66583eace844/pkg/network/transports.go#L48?

[2019-05-08 16:53] vagababov commented on #4040
we don't have any other transport timeouts which are 10s.

[2019-05-08 17:12] greghaynes commented on #4040
Same thing - not surprising as I think im not using TLS here...

[2019-05-08 17:29] dgerd commented on #3223
I don't think this is necessary to implement now. We should wait until we get requests from providers/operators.

The Kubernetes validation logic for user was added in the webhook along with the fieldmask. We are unblocked here to add a conformance test for invalid user ids preventing container startup.

#4035 updates the language from platform-default to container-defined default. This is our cur

[2019-05-08 17:31] dgerd commented on #2973
#4035 updates this to the wording suggested by Evan. We now need to implement the tests that check the presence of the default devices.

[2019-05-08 17:34] #4027 closed

[2019-05-08 19:41] greghaynes commented on #3885
/assign greghaynes

I am going to do this as part of probing nonReadyAddresses

[2019-05-08 20:34] dgerd commented on #4014
After discussion in the API working group meeting, this is my understanding of where we landed. Please correct if I missed something or misunderstood.

On the contract/specification side:

1. LivenessProbe should not be configured by default. This part of the statement should be removed from the runtime contract.

On the implementation side:

1. The default TCP probe behavior should be disabled wh

[2019-05-08 23:36] #2132 closed

[2019-05-08 23:36] #2949 closed

[2019-05-09 03:32] mattmoor commented on #3984
@tzununbekov that SGTM.  We don't really have good separation between `e2e`/`conformance` in `test/config`, but this seems like a fine short-term approach to me.  Are you interested in tackling this?

[2019-05-09 03:43] mattmoor commented on #3556
I spent a few minutes grepping the code base looking for stuff that might be affected by this and I'm not seeing anything.  Feel free to open with a specific example.

[2019-05-09 03:43] #3556 closed

[2019-05-09 03:51] tzununbekov commented on #3984
@mattmoor yep, I'd like to take this one

[2019-05-09 04:03] mattmoor commented on #3780
Anyone have a repro?

[2019-05-09 04:12] mattmoor commented on #3328
Similar to how we have a list of reserved paths (from runtime contract), which volumes may not collide with, we should have a set of reserved environment variables (from the runtime contract).

You can see the volume logic here: https://github.com/knative/serving/blob/a917fc6ffa97f9aa639a65e347af2084f2967e4e/pkg/apis/serving/k8s_validation.go#L40-L47

[2019-05-09 04:25] mattmoor commented on #3328
/assign

[2019-05-09 05:16] vagababov commented on #3780
I've seen it once. I think it requires special star-planet arrangement.

[2019-05-09 12:01] #4025 closed

[2019-05-09 12:02] knative-flaky-test-reporter-robot opened #4052 "[flaky] test/conformance.TestRouteCreation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestRouteCreation
* **Repository name**: serving

[2019-05-09 13:12] lvjing2 commented on #3961
Nice proposal, I had tried a similar approach in my cluster.
I implemented the 'nifty infinite concurrency algorithm' in the envoy sidecar, and report this to the mixer, then scrape the avg concurrency for the revision from mixer by one request, this can also reduce a lot of calculation in the autoscaler. it works, and also we don't need to consider service-to-service requests. But in fact, that t

[2019-05-09 14:28] lvjing2 opened #4054 "Discussion about merging such kind of similar datasource revision.Spec.ContainerConcurrency and the annotation 'autoscaling.knative.dev/target' into the anno"
## In what area(s)?
/area autoscale
/kind good-first-issue

## Describe
https://github.com/knative/serving/blob/f74e18c76a081a6389bf255c60e798ff15f33ec2/pkg/reconciler/revision/resources/queue.go#L134-L135
Current, the queueDepth in queue-proxy is set by the ContainerConcurrency when makeQueueContainer in reconcile , and the ContainerConcurrency comes from rev.Spec.ContainerConcurrency. But now in

[2019-05-09 14:37] markusthoemmes commented on #4054
I have a hard time understanding what's the goal here. Can you elaborate a bit please?

[2019-05-09 16:14] greghaynes commented on #3961
service to service certainly makes this more difficult. I've though about us forcing istio to hairpin all traffic through the LB if possible for performance reasons (our istio sidecar config can be fully static in this case), that might be a nice way to solve this too...

[2019-05-09 16:54] houshengbo opened #4057 "Activator unable to launch, running ko apply -f config/ for development environment"
## In what area(s)?

## What version of Knative?

## Expected Behavior

All the pods including activator launched, after running "ko apply -f config/"
.

## Actual Behavior

The activator can not be launched after I ran "ko apply -f config/". It was stuck in "CrashLoopBackOff". The log was:
[code]

## Steps to Reproduce the Problem

Docker version:
Docker Desktop, Community, Version 2.0.1.0 (30090

[2019-05-09 17:00] markusthoemmes commented on #4057
Are you running with istio installed and mesh enabled? Is the istio-proxy of the activator pod starting up successfully?

[2019-05-09 17:07] greghaynes commented on #4057
We've tracked this down to a failing istio install due to memory exhaustion, thanks!

[2019-05-09 17:25] ZhiminXiang opened #4058 "Support wildcard certificate for Auto TLS feature"
## In what area(s)?

 /area networking

## Describe the feature
Currently every time when creating a new Route/Knative Service, a new TLS certificate needs to be requested because the TLS certificate only supports the hosts of the Route. This is not efficient:
1. It could take 3-5 minutes to get a certificate.
2. It limits the number of Routes/Knative Services that could handle HTTPS connection be

[2019-05-09 17:26] ZhiminXiang commented on #4058
/cc @mattmoor @tcnghia @greghaynes

[2019-05-09 17:33] lvjing2 commented on #4054
@markusthoemmes sorry for submit this issue in a rush, I rewrite this now.

[2019-05-09 17:37] ZhiminXiang commented on #4058
Forgot to mention another related work item:
After we support wildcard certificate, Route controller should look for the wildcard certificate first, and fall back to the Route-level certificate if there is no available wildcard cert.

[2019-05-09 18:18] #3985 closed

[2019-05-09 18:41] #3328 closed

[2019-05-09 18:44] markusthoemmes commented on #4054
Hm, that's not accurate I think. The `/target` annotation is different from `containerConcurrency`. The target is a signal for the autoscaler, `containerConcurrency` is a hard limit of concurrency enforced at the queue-proxy.

In case there is no target set, we default it to be == containerConcurrency, but they are not the same. @joaedwar and @abrennan89  are working on documentation for these bit

[2019-05-09 19:05] houshengbo commented on #4057
Just submitted a PR resolving this issue, by adding more explanation in the development doc. I hope it will help the folks in future.

[2019-05-09 19:59] dgerd opened #4060 "Prefix system environment variables with KNATIVE_"
## In what area(s)?

/area API

## Describe the feature

We currently have three system environment variables that we prefix with `K_` such as `K_REVISION`, `K_CONFIGURATION`, and `K_SERVICE`. It is highly likely that there will be additional environment variables we want to add in the future (`K_ROUTE` anyone?). As we do not allow users to specify environment variables that match system environme

[2019-05-09 20:14] tanzeeb commented on #3312
Hey @wtam2018, are you working on this issue? If not, I wouldn't mind taking a look.

[2019-05-09 21:41] shashwathi commented on #3165
@tanzeeb : Thank you for that pointer. Totally missed that while testing. We updated the experiment to include `health` endpoint with no delay and `/` endpoint with 10 sec delay. Below is the readiness probe we used for `Helloworld` application experiment.

[code]

We noticed that 1 instance of activator results in only 200 responses whereas 4 instances of activator results is 5-10% of traffic in

[2019-05-09 22:21] shashwathi commented on #3977
@markusthoemmes : Can you provide further context on the autoscaler tick logs you are referring to?

On basic investigation I cant find any log statement that include tick interval value.

[2019-05-10 00:54] lvjing2 commented on #4054
Yeah, I see that, but I think the `/target` and `spec.containerConcurrency` is confusing currently . The hard upper limit in queue-proxy is (10+1)*`spec.containerConcurrency`, actual target in autoscaler in `min(/target, spec.containerConcurrency)`,  cause it can't sure whether the `/target` would be set bigger enough than the queue-proxy can handle, so it need to choose the min of them.

But if w

[2019-05-10 01:08] wtam2018 commented on #3312
I think @markusthoemmes  was working on it.

[2019-05-10 05:23] markusthoemmes commented on #4054
I disagree on this. `/target` is technically an implementation detail of the autoscaler and thus not part of the spec currently. `containerConcurrency` in it's enforcing measures very much is part of the spec (and tested via conformance tests).

[2019-05-10 05:36] markusthoemmes commented on #3977
@shashwathi sure, this is the place that needs to be reconciled: https://github.com/knative/serving/blob/6cabbbbc9ed6074a8d60bd9bd2ea0105becc51aa/pkg/autoscaler/multiscaler.go#L233-L234

[2019-05-10 05:39] markusthoemmes commented on #3312
I'm not. @tanzeeb I think you can go ahead.

[2019-05-10 06:09] ZhiminXiang opened #4066 "Need E2E test for Auto TLS feature"
## In what area(s)?

## Describe the feature
We need E2E test for Auto TLS feature. The following scenarios need to be tested:
1. Create a Route/Knative Service with tag name (i.e. subroute), both https://<major-dns-name> and https://<subroute-dns-name> work.
2. After wildcard certificates feature (https://github.com/knative/serving/issues/4058) is landed,  we need to test that for multiple Routes

[2019-05-10 06:10] ZhiminXiang commented on #4066
/cc @mattmoor @tcnghia

[2019-05-10 12:01] #3776 closed

[2019-05-10 12:01] #3801 closed

[2019-05-10 14:12] lionelvillard commented on #4057
same issue when running in minikube. 8G is not enough

[2019-05-10 16:39] #3984 closed

[2019-05-10 17:37] mdemirhan commented on #3898
I agree with that. It allows assigning issues to repo collaborators, but I dont know how you get to be a repo collaborator. @mchmarny @mattmoor any ideas?

[2019-05-10 17:42] tcnghia opened #4072 "Route report wrong Status when not getting ClusterIngress Status"
## In what area(s)?

/area API
/area networking

## What version of Knative?

HEAD

## Expected Behavior

When ClusterIngress doesn't have a Status, we should show Route.Ready.Reason to be "Failed to configure route ingress".

## Actual Behavior

We see RevisionMissing.

## Steps to Reproduce the Problem

Go through @bbrowning's https://github.com/bbrowning/knative-ambassador-ingress instruction,

[2019-05-10 21:07] andrew-su opened #4073 "Add E2E test for ensuring services in other namespaces don't get cleaned up when updating route"
/area networking
/area test-and-release
/kind good-first-issue

Updating route deleted service with the same name in another namespace. To ensure this doesn't happen again, we should add an e2e test.

See PR https://github.com/knative/serving/pull/4069 for more info.

[2019-05-10 21:14] tanzeeb commented on #3276
Interesting update: with SKS, http retries work very well:

Replacing [the current reverse proxy](https://github.com/knative/serving/blob/7ce9f5d754fa8f16e93c3f76e9aa5377b404a4cd/pkg/activator/handler/handler.go#L171):
[code]

with

[code]

gets us the exact same functionality.

Will send in a PR to discuss.

[2019-05-10 21:44] greghaynes commented on #4058
thanks for writing this up! I think @rmoe would like to take this on

[2019-05-10 22:11] #2973 closed

[2019-05-10 23:57] #3223 closed

[2019-05-11 01:53] lvjing2 commented on #4054
Eh, sorry, I still can't catch up what is the benefit we got by using two data source compare to one. What I can think up is that one in `/target` for autoscaler to calculate the desired scale, another in spec for activator and queue-proxy to enforce the concurrency, and not support dynamic modification at runtime. I think we can support the dynamic modification if we choose to using `/target` onl

[2019-05-11 12:01] #3803 closed

[2019-05-11 12:01] #4052 closed

[2019-05-11 15:09] alexellis opened #4075 "Secret mount path must be unique for secrets on containers"
## In what area(s)?

/area API

/kind spec

## What version of Knative?

0.5.x

## Expected Behavior

Ability to mount two secrets to the same mountPath as per a Kubernetes deployment object / spec.

## Actual Behavior

When creating a Serving definition with two secrets mounted to the same directory I saw this:

[code]

## Steps to Reproduce the Problem

[code]

Notes from @mattmoor

[code]

[2019-05-11 18:17] alexellis commented on #4075
Just heard from @lucasroesler that we are using projected volumes - https://kubernetes.io/docs/concepts/storage/volumes/#projected

[2019-05-11 19:11] mattmoor commented on #4075
This isn't our validation, this is the K8s Deployment resource rejecting the Deployment the Revision is passing it.  It sounds like we *should* be rejecting things with this message, as K8s Deployment does.

[code]

[2019-05-11 19:19] alexellis commented on #4075
Yes you're right. Did you see my note about the projected volumes?

[2019-05-11 19:21] mattmoor commented on #4075
This works:
[code]

We don't allow `subPath` through in 0.5, but we will in 0.6 (Tuesday).  I believe it would be relatively simple to add support for projected volumes; this came up when we were first letting volumes through and they seemed complex enough that we wanted to wait for a clear use case.

[Here's](https://github.com/knative/serving/issues/3090) the issue tracking that.  Let's use this

[2019-05-11 19:35] alexellis commented on #4075
Thanks that sounds promising. This is how we have implemented it for our CRD at present - https://github.com/openfaas-incubator/openfaas-operator/blob/master/pkg/controller/secrets.go#L19

The complexity is somewhat hidden from the user in our stack.yml / CRD entry - it's a case of declaring an array of secret names to be bound and then they are all mounted in `/var/openfaas/secrets/` as a convent

[2019-05-11 19:37] mattmoor commented on #4075
Yeah this works without knowing the list of keys in the secret:
[code]

[2019-05-11 19:38] mattmoor commented on #4075
I wonder how it deals with collisions across secrets.  Time to try :)

[2019-05-11 19:41] mattmoor commented on #4075
Looks like last one wins.

[2019-05-11 22:27] #4075 closed

[2019-05-12 01:26] lvjing2 commented on #3276
It is attractive to remote both activator and queue-proxy if we can, but it so then we will rely on the envoy sidecar too much, what should we do if we changed the sidecar?

[2019-05-13 08:29] magicLian opened #4081 "AKS pod activator CrashLoopBackOff"
I use the docs command

`kubectl apply --selector knative.dev/crd-install=true \
   --filename https://github.com/knative/serving/releases/download/v0.5.2/serving.yaml \
   --filename https://github.com/knative/build/releases/download/v0.5.0/build.yaml \
   --filename https://github.com/knative/eventing/releases/download/v0.5.0/release.yaml \
   --filename https://github.com/knative/eventing-sourc

[2019-05-13 14:16] joshrider commented on #4014
/assign @joshrider

[2019-05-13 14:53] tanzeeb commented on #3276
Yes, this is the discussion I want to provoke. Should we lean into Istio/Envoy and take advantage of all of its features, or do we decouple from Istio/Envoy and re-implement the features ourselves? There are pros and cons to both.

That being said, it's a bit too early to say we can replace both the `queue-proxy` and `activator`:
1. I've been playing with the Lua filters for a while, they seem pre

[2019-05-13 16:21] tanzeeb commented on #4072
/assign

[2019-05-13 16:45] dgerd opened #4083 "Improve Filesystem Conformance tests"
## In what area(s)?

/area test-and-release

## Describe the feature
Our filesystem conformance tests currently check for existence of files and mode bits where required. However, this check is not necessarily sufficient to ensure that the file is accessible to all compliant containers. We should extend this test to actually attempt to read/write files (where applicable) to ensure that nothing els

[2019-05-13 17:02] ZhiminXiang commented on #4004
Another reason we want to split the `Certificate` is that when using a single `Certificate`, the single `Certificate` status will be applied to the major Route and all of the subroutes. While when there is any change to one subroute, for example, deleting/adding a subroute, the `Certificate` will become not ready immediately because of the change of the `Certificate`'s host names. The not-ready st

[2019-05-13 21:26] tcnghia opened #4087 "Reconcile annotations from ksvc to Routes"
## In what area(s)?

/area API
/area networking

## What version of Knative?

HEAD

## Expected Behavior
Annotations should be copied from `ksvc` to it child `route`.

## Actual Behavior

They are not copied.

## Steps to Reproduce the Problem

* Create a ksvc.
* Add an annotation on the ksvc.
* Check the child Route to see that the annotation isn't copied.

[2019-05-13 23:22] vagababov commented on #4087
I think there's an open PR to that end.,

[2019-05-13 23:23] vagababov commented on #4087
Well I guess it's for deployment: https://github.com/knative/serving/pull/4001/files

[2019-05-13 23:30] vagababov commented on #4087
/assign
I'll take this for now.

[2019-05-13 23:31] vagababov commented on #4087
/milestone 0.7

[2019-05-13 23:31] vagababov commented on #4087
/milestone Serving 0.7

[2019-05-13 23:38] ZhiminXiang commented on #4004
/assign mysterytony@

[2019-05-14 04:30] ZhiminXiang commented on #3051
This is resolved by PR https://github.com/knative/serving/pull/3475.

[2019-05-14 04:30] #3051 closed

[2019-05-14 05:36] ZhiminXiang commented on #1964
Mark this as done as we have auto TLS land in Knative 0.6.

[2019-05-14 05:36] #1964 closed

[2019-05-14 15:44] andrew-su commented on #4073
/assign

[2019-05-14 20:46] jwlai opened #4095 "Helm to deploy Serverless Services?"
## In what area(s)?

## Ask your question here:
Just wanted to know if anyone has made templates with helm, to deploy to Knative. Not Knative itself but serverless functions that should be run on it.

[2019-05-14 20:48] kevinswiber commented on #3134
@josephburnett This is fine.  I'll have to add some defaults for the other fields.  I'm happy to be involved in the discussion for the next round of design on this, as well.  Piecing together a PR today.

[2019-05-14 21:49] dgerd commented on #2969
/assign @dgerd

[2019-05-15 02:45] duglin opened #4098 "Don't scale to 1 upon deploy"
## In what area(s)?
/area API
/area autoscale

Other classifications:
/kind good-first-issue
/kind spec

## Describe the feature

Right now when a new KnService is deployed it is automatically scaled up to one instance. I believe this is incorrect, it should be scaled to zero by default. For a couple of reasons:
- when not being used, w/o minScale > 0, services will scale to zero.... the service h

[2019-05-15 04:33] kbruner commented on #3903
It looks like recent commits in this repo are attempting to address the probe issues on Istio.  For those that need knative-serving 0.5.2 to work now, though:

Having the same issue on GKE, knative-serving 0.5.2, Istio 1.1.6.  As `mTLS` enforcement is an Istio best practice and likely true for many clusters that were already running on Istio for security reasons, and because Istio's own recommende

[2019-05-15 05:38] ZhiminXiang opened #4100 "Support http01 challenge for Auto TLS feature"
## In what area(s)?

 /area networking
 /kind proposal

## Describe the feature
Currently Auto TLS only supports DNS01 challenge when integrating with cert-manager.
It would be useful for Auto TLS to also support HTTP01 challenge because:
1. not all users have permission to get the credential of their DNS servers in order to fulfill the DNS01 challenge.
2. not all DNS server providers expose API t

[2019-05-15 06:01] ZhiminXiang commented on #1767
Now Istio supports this feature in Istio 1.1 and above.
See the [instructions](https://istio.io/docs/tasks/traffic-management/secure-ingress/sds/)

[2019-05-15 06:01] #1767 closed

[2019-05-15 06:07] markusthoemmes commented on #4098
This is referred to in the runtime contract as a [deployment probe](https://github.com/knative/serving/blob/master/docs/runtime-contract.md#deployment-probe). It's there to make sure your app is even viable and can start up in the first place.

We could enhance it and force scale down to 0 as soon as we see it becoming ready successfully. It served its purpose at this point.

[2019-05-15 08:10] #3582 closed

[2019-05-15 08:10] #3740 closed

[2019-05-15 16:11] #4057 closed

[2019-05-15 16:49] dgerd commented on #822
We should try to get this closed out in 0.7 on if this is something we plan to support for a v1 release, or update our runtime contract and provide logging guidance for other methods if this is something we think no longer makes sense.

[2019-05-15 16:50] dgerd commented on #3112
After discussion offline with @mattmoor, this may not be possible without modifying Istio / Envoy. However, pulling this into 0.7 to do the investigation into what it would take to enable this.

[2019-05-15 16:59] dgerd commented on #662
As per @mattmoor comment above. I agree here that really we are just looking that we can pass in a string. Closing.

[2019-05-15 16:59] #662 closed

[2019-05-15 17:15] dgerd commented on #822
Unassigning this issue as I don't believe anyone is working on it.

[2019-05-15 17:33] mdemirhan opened #4105 "Request latency buckets are not configured correctly"
Buckets start from 1 sec to 30 secs, which makes it such that 99% of the requests are under 1 second bucket and all of our percentiles appear as 1 second. We need better buckets to represent a typical request.

/area monitoring
/area networking

[2019-05-15 17:37] tanzeeb commented on #3112
/assign

[2019-05-15 17:39] markusthoemmes commented on #2579
The suggested change has already landed in f74e18c76a081a6389bf255c60e798ff15f33ec2. Are we good with that?

[2019-05-15 17:41] dprotaso commented on #822
@dgerd It'll be worth to dig into the original requirement (assuming a customer request) for `/dev/log` and if it's still relevant

[2019-05-15 17:44] mdemirhan commented on #4105
Ah, seems like this is already fixed! Closing the issue.

[2019-05-15 17:44] #4105 closed

[2019-05-15 18:27] duglin commented on #4098
Maybe... I can certainly see why it's done the way it is, but technically there could be lots of reasons why it won't start-up later in time too due to things changing in the env, and so I'm still thinking that treating the "deploy time" as special is probably not appropriate.

But, as I mentioned, giving the user the choice when money might be involved would be nice.

[2019-05-15 18:39] mattmoor commented on #2940
If this is from release yaml, then this issue probably is better suited for knative/docs?

[2019-05-15 19:02] duglin opened #4107 "Auto-scaling is reactionary"
## In what area(s)?
/area API
/area autoscale

/kind spec
/kind proposal

## What version of Knative?

0.5.x

## What's going on?

Here's the scenario:
- create a KnService and set its containerConcurrency to 1
- send a request to that KnService and let's say it takes about 30 seconds for that request to be processed
- during that time I send 3 other requests to the same KnService

What I've notic

[2019-05-15 19:49] n3wscott commented on #4107
What do you expect setting `containerConcurrency` to 1 to do?

[2019-05-15 19:54] mattmoor commented on #2579
I think so.

[2019-05-15 19:54] #2579 closed

[2019-05-15 20:04] duglin commented on #4107
Only allow one request per pod at a time, and when all are busy spin up another pod. Just normal auto-scaling stuff.

[2019-05-15 20:43] n3wscott commented on #2940
This is fixed with the new labels.

[2019-05-15 20:43] #2940 closed

[2019-05-15 21:05] vagababov commented on #4107
For this to work we'll need to update autoscaling to make SKS wire the
activator in when the current capacity is reached.
I think some of this work is planned (e.g. #1846).

On Wed, May 15, 2019 at 1:04 PM Doug Davis <notifications@github.com> wrote:

[2019-05-15 21:15] mdemirhan opened #4109 "Queue proxy metrics are not shown in dashboards"
/area monitoring

The new metrics exposed by queue proxy are not shown in Grafana dashboards. This is blocked on #4110 getting fixed first.

[2019-05-15 23:25] mdemirhan opened #4110 "Queue proxy metrics are not exposed to Prometheus"
/area monitoring

The new metrics exposed by queue proxy are not scrape-able by prometheus because the port serving for those metrics is not exposed as part of its pod spec.

[2019-05-16 06:38] markusthoemmes commented on #4107
Yes this is a duplicate of #1846 and #1409 I think.

[2019-05-16 06:46] markusthoemmes commented on #4107
As mentioned in the two referenced issues, this is not inherently a problem of a reactionary autoscaler (it works on an approximation of the current state as well btw) but rather an issue of where requests are buffered in case of an overload scenario.

Today, as you noted, we buffer everything locally in the queue-proxies, causing unbounded latency as mentioned in #1409 and as mentioned in your wr

[2019-05-16 11:50] duglin commented on #4107
Ah, I missed https://github.com/knative/serving/issues/1409 - and I think that's pretty much a direct match/dup so I'll close this one.  Excited to see how #1846 plays out  :-)

[2019-05-16 11:50] #4107 closed

[2019-05-16 17:18] hohaichi opened #4114 "Set up a Grafana dashboard for performance test results"
## In what area(s)?

/area monitoring

## Describe the feature

Currently performance test results are displayed in [testgrid](https://testgrid.knative.dev/knative-serving#performance), which is hard to read.  We want to display the results as graphs.

The new Grafana dashboard is planned to displayed both client-side and server-side metrics.  The key features we need are:
1. Easy to add/remove gr

[2019-05-16 17:19] hohaichi commented on #4114
/cc @srinivashegde86
/assign @srinivashegde86

[2019-05-16 17:26] hohaichi opened #4115 "Implement steady and bursty benchmarks"
## In what area(s)?

/area monitoring

/area test-and-release

## Describe the feature

Implement steady and bursty benchmarks as described in [[Public] Knative Serving Performance & Reliability](https://docs.google.com/document/d/1NS8fHMtROSv8pLxsVt0Q8FKxFPfrox9_msHeyh0uJaM/edit#heading=h.n9oqp9j1ulhg).  There are 9 cases: {steady, burst 0->N, burst N->2N} x {N=1, 100, 1000}.

[2019-05-16 17:27] hohaichi commented on #4115
/CC @srinivashegde86
/assign @hohaichi

[2019-05-16 17:33] hohaichi opened #4116 "Implement a metrics collection job"
## In what area(s)?

/area monitoring

/area test-and-release

## Describe the feature

Currently server metrics from performance tests are lost, because the test cluster is shutdown after each run.  We need a job to collect server metrics after each run and save them to the persistent storage (e.g., a GCS bucket or a database).  These data will be consumed by a dashboard to display graphs (#4114)

[2019-05-16 17:34] hohaichi commented on #4116
/CC @srinivashegde86
/CC @hohaichi

[2019-05-16 17:54] hohaichi opened #4117 "Add option for performance test to save metrics"
## In what area(s)?

/area monitoring

/area test-and-release

## Describe the feature

Currently the client-side metrics are shown in [testgrid](https://testgrid.knative.dev/knative-serving#performance).  We want them to be displayed in the performance dashboard (#4114).

This request is to add an option for the client to save metrics in the persistent storage that the dashboard will consume.

[2019-05-16 17:54] hohaichi commented on #4117
/CC @srinivashegde86
/CC @hohaichi

[2019-05-16 19:47] hohaichi opened #4118 "Enhance server-side metrics"
## In what area(s)?

/area monitoring

## Describe the feature

Currently we have request count and response time at server.  We want to refine them to distinguish (1) requests that are proxied (by the activator) from requests that come directly to the queue proxy, and (2) app (user containers) metrics from knative metrics (measured at the activator and queue-proxy).  The existing request count an

[2019-05-16 19:48] hohaichi commented on #4118
/CC @srinivashegde86
/assign @hohaichi

[2019-05-16 19:53] hohaichi opened #4119 "Run a simple performance presubmit test and display the result in PRs"
## In what area(s)?

/area test-and-release

## Describe the feature

We want to run a simple performance presubmit test and display the result in pull requests.  This is the first step to prevent performance regression.  Later, we may add more tests and detect/prevent performance regression by these results.

[2019-05-16 19:54] hohaichi commented on #4119
/assign @srinivashegde86
/CC @hohaichi

[2019-05-16 20:26] RichieEscarez opened #4120 "Remove cert-manager controller from default serving.yaml install"
## In what area(s)?

/area networking

## What version of Knative?

HEAD

## Expected Behavior

No new user blockers and optimal "first-touch" experience. Less "notes" and extra install related steps/info that are unnecessary for new users or others just wanting to "kick the tires"

## Actual Behavior

The Knative Serving installation requires a --selector flag during install to prevent the
cert-m

[2019-05-16 21:55] shashwathi commented on #3835
@vagababov : I was not able to reproduce this with `master`. Is this still relevant bug?

[2019-05-16 22:23] vagababov commented on #3835
This does not happen every time. And it might have been fixed by some other change.

[2019-05-17 00:27] tanzeeb commented on #3112
The RFC specifies some ways to [convert `x-forwarded-*` headers](https://tools.ietf.org/html/rfc7239#section-7.4), which we can implement in `queue-proxy` for now until Envoy supports this natively.

I'll take a stab at this.

[2019-05-17 03:24] JRBANCEL commented on #818
As discussed offline, this is not possible.
`/dev/stdout` is a symlink to `/proc/self/fd/1`. `/proc/self` is virtual and is different per process.

The same goal can be achieved by mounting the host `/proc` (to e.g. `/hostproc`) and the user-container `/var/log` into the sidecar.
The sidecar can figure out the PID of the user-container through `/hostproc` (not trivial though), and the sidecar can

[2019-05-17 16:09] markusthoemmes commented on #3132
I'm going to knick this off as part of the custom-metrics work I'm doing

/assign

[2019-05-17 16:09] markusthoemmes commented on #3287
Not working on this

/unassign

[2019-05-17 16:58] mdemirhan opened #4123 "Reserve a block of ports for knative-serving"
Today, we reserve a list of ports to use for Knative internal usage (queue-proxy ports such as 8012, 8013, 8022, 9090 and 9091 for example) and disallow user using these set of ports. However; this list is increasing over time and we will most likely reserve more ports in the future. Adding a new port in the future could break customers when they upgrade. A more preferable approach is to block a r

[2019-05-17 17:01] #3165 closed

[2019-05-17 18:00] #4110 closed

[2019-05-17 21:00] JRBANCEL commented on #818
@mattmoor, @yanweiguo, @mdemirhan please provide feedback.

Going with _solution 2_, here is the plan:
* mount host `/var/lib/kubelet/pods` to fluentd-ds daemon set
* remove fluentd sidecar injection logic from reconciler
* add logic to dynamically name the emptyDir volume mounted to `/var/log` in `user-container` `knative-varlog-ignore` if `EnableVarLogCollection` is false and `knative-varlog-col

[2019-05-17 21:35] kramvan1 opened #4125 "Images without specific version fail vulnerability scanning"
## In what area(s)?

- build

## What version of Knative?

- HEAD

## Expected Behavior

All images used should have a specific version to allow VA scanners to lock in and report issues specific to a version.   (:latest is also not valid)

## Actual Behavior

The following images in knative deployment don’t have a version.
- docker.io/openzipkin/zipkin:latest
- gcr.io/cloud-builders/gcs-fetcher
-

[2019-05-17 21:35] kramvan1 commented on #4125
cc @duglin

[2019-05-17 22:04] houshengbo commented on #4125
The image gcr.io/cloud-builders/gcs-fetcher does not even have tags available, expect latest
https://console.cloud.google.com/gcr/images/cloud-builders/GLOBAL/gcs-fetcher?gcrImageListsize=30.

[2019-05-17 23:31] dprotaso commented on #818
From what I recall the fluentd daemonset needs pod name and namespace in this path regex in order to tag these logs with the appropriate pod metadata (annotations/labels etc).

Is that still the case?

[2019-05-18 01:18] JRBANCEL commented on #818
Great question.
Right now, the k8s fluentd plugin relies on this [regex](https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter/blob/3cdd4b41e82604b3f1e5485f5d6a7351c007bcf2/lib/fluent/plugin/filter_kubernetes_metadata.rb#L51) to extract `pod_name`, `namespace`, `container_name` and `docker_id`. It is configurable.
`namespace` and `container_name` could be injected in the volume nam

[2019-05-18 03:44] mattmoor opened #4127 "Unbound variable running update-deps"
# In what area(s)?

/area test-and-release

## What version of Knative?

HEAD

## Expected Behavior

No errors.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

`./hack/update-deps.sh`

[2019-05-18 09:24] vagababov commented on #4125
1. Do we have helm charts as our deployment option? (https://github.com/knative/docs/issues/311, makes me feel that currently this is not the case)
2. Production deployments should use bespoke deployments, rather than what we have, which is more of a development setup, I think.

[2019-05-19 02:41] cometta opened #4130 "Does privileged container supported?"
My service.yaml look like below

[code]
I able to apply this yaml file successfully. However, when i try to mount using blobfuse for azure files, it just hangs. I able to run blobfuse using privileged on a docker on my development machine.

[2019-05-19 03:03] cometta commented on #3809
Hello @sebgoa, may I know is  securityContext: privileged: true a valid syntax?  [question](https://github.com/knative/serving/issues/4130)

[2019-05-19 12:01] knative-flaky-test-reporter-robot opened #4131 "[flaky] pkg/reconciler/revision.TestGlobalResyncOnConfigMapUpdateDeployment/Update_Istio_Outbound_IP_Ranges"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/revision.TestGlobalResyncOnConfigMapUpdateDeployment/Update_Istio_Outbound_IP_Ranges
* **Repository name**: serving

[2019-05-19 12:01] knative-flaky-test-reporter-robot opened #4132 "[flaky] pkg/reconciler/revision.TestGlobalResyncOnConfigMapUpdateDeployment"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/revision.TestGlobalResyncOnConfigMapUpdateDeployment
* **Repository name**: serving

[2019-05-20 06:47] sebgoa commented on #3809
Yes, because now a Container object can be used in a Service template.

See: https://github.com/knative/serving/blob/master/docs/spec/spec.md#service

[2019-05-20 06:59] yanweiguo commented on #818
`docker_id` is used for caching in `kubernetes_metadata` plugin. We can use pod id or pod name + namespace as identifier for caching.

The k8s feature we're waiting for is providing the ability to inject pod name to volume path.

Please see this [comment]() and [this] for details.

[2019-05-20 10:32] cometta commented on #3809
oh, i able to run apply in 0.52 but not in 0.6.0 . It throws below error
[code]

[2019-05-20 10:59] MrBokeh opened #4133 "HTTPS TLS issue"
## In what area(s)?
/area networking

## What version of Knative?
0.6.x

## Expected Behavior
If I follow the HTTPS TLS example it should work as is

## Actual Behavior
When I follow the example to generate and enable TLS this following error occur:
error: gateways.networking.istio.io "knative-ingress-gateway" is invalid

## Steps to Reproduce the Problem
1) Follow this example: https://github.com

[2019-05-20 14:25] vagababov commented on #1846
/assign

[2019-05-20 20:12] raushan2016 opened #4134 "Service deployment in namespace with resource quota fails due to missing request and limit on queue-proxy"
## In what area(s)?

## What version of Knative?

0.5.x
0.6.x

## Expected Behavior

User should be able to create knative service in namepsace's with resource quota

## Actual Behavior

Knative service creation fails, as the queue-proxy doesn't have default resource request and limit set. Currently it only has request.cpu set to 25m. The current work around is create a LimitRange in the namespace

[2019-05-20 23:03] #4127 closed

[2019-05-20 23:30] JRBANCEL commented on #818
Here is a solution to the tagging problem.

We define 3 volumes:
* knative-var-log: emptyDir (named `varlog` today)
* knative-internal: emptyDir
* pod-info: [downwardAPI](https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/)

An init container (or sidecar job to minimize startup time, ordering doesn't matter here) mounts `knative-internal` to `X` and

[2019-05-21 03:54] cometta commented on #4130
after apply below config, it works in 0.5.2.

[code]
However on 0.6 , i still get ``` Error from server (InternalError): error when creating "service.yaml": Internal error occurred: admission webhook "webhook.serving.knative.dev" denied the request: mutation failed: must not set the field(s): spec.runLatest.configuration.revisionTemplate.spec.container.securityContext.privileged```

[2019-05-21 06:12] edwardstudy commented on #496
Hi, guys. I am interested in this item and have an implementation for it. 😊

[2019-05-21 07:14] yanweiguo commented on #818
SGTM

[2019-05-21 14:35] cometta commented on #1479
I tried on istio 1.1.3 and KN 0.6, still get this error. I have a long running blocking http request. It runs more than 5 mins with Curl. Any advice on how to debug? For a short running http request, there is no such issue.

[2019-05-21 18:22] evankanderson commented on #496
Can you write up a summary of your solution? If you want to submit a PR
with a fix, feel free to do so as well, but much of the team is at Kubecon
Barcelona this week.

On Mon, May 20, 2019 at 11:12 PM Zida (Edward) <notifications@github.com>
wrote:

--
Evan Anderson <argent@google.com>

[2019-05-22 04:55] raushan2016 opened #4141 "Customizing Knative service's DNS name from the default behavior which is "{{.Name}}.{{.Namespace}}.{{.Domain}}""
## In what area(s)?

    /area API
   /area networking

  /kind proposal

## Describe the feature
Currently the Knative service's DNS name is based on the template defined in config-network.yaml which is
domainTemplate: "{{.Name}}.{{.Namespace}}.{{.Domain}}"
This expose the kubernetes internals like namespace to external user of the hosted service. Also there is no flexibility of making it configu

[2019-05-22 05:30] tzununbekov commented on #3877
I'd like to work on this one

[2019-05-22 06:25] nak3 opened #4143 "UpdateFailed logs from clusteringress mislead users without success logs"
## In what area(s)?

/area networking
/kind good-first-issue

## What version of Knative?

HEAD

## Actual Behavior

- When `config-domain` configmap was updated, event log from clusteringress sometimes tells us that `Failed to update status for ClusterIngress` and `please apply your changes to the latest version and try again` like:

[code]

- This error would be a timing issue and solved by cont

[2019-05-22 14:14] edwardstudy commented on #496
Hi, @evankanderson. I just submitted a PR https://github.com/knative/serving/pull/4136.

If I missed anything, just tell me anytime.

[2019-05-22 19:08] dushyanthsc opened #4147 "E2E:TestAutoscaleUpDownUp showing inconsistent behavior."
TestAutoscaleUpDownUp is showing an in-consistent behavior.

This was observed in the test-run: https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-istio-1.0.7-mesh/1131263295827742720

As it can be seen from the logs, we see a "PASS" result logged by "go test" which is immediately followed by panic log statement:

"panic: Log in goroutine after TestAutoscaleUpDownUp has comp

[2019-05-23 00:32] aaron-lerner opened #4149 "status.observedGeneration updates without updating the rest of status"
## In what area(s)?

/area API

## What version of Knative?

## Expected Behavior

After PUTting to a service on my node with a change, and then GETing the service, the `status.observedGeneration` should only update once the service has been updated.

## Actual Behavior

After PUTting and then GETing a service, the `status.obseredGeneration` has been incremented to match the `metadata.generation`,

[2019-05-23 01:50] dprotaso commented on #4149
`Status.ObservedGeneration` is meant to convey the version (`metadata.generation`) of the object that was 'reconciled' (aka. observed & acted upon) by the Knative controller.

Additional updates to the `Status.Conditions` are expected to _not_ change this `ObservedGeneration`. These conditions will probably change as things become realized (ie. things are deployed)

[2019-05-23 03:10] aaron-lerner commented on #4149
I see. So `Status.ObservedGeneration` changing just means that changes have at least started to be applied.

In that case, how can I know when my changes have been fully deployed and my object is now up to date? It seems I can't rely just on the `Ready` condition being `status: True` because my object may still be out of date and it may already be that when I first check. Do I need to additionally

[2019-05-23 07:24] #4143 closed

[2019-05-23 08:23] matthew1534 commented on #3826
Good points, hadn't thought of it from this angle.

Ultimately, it's the Knative team's call as you will all have the best understanding of the whole system, however, if there is any chance of getting to 40 mins that would be amazing (as I see it this time wouldn't allow proper long running stateful loads that can last hours, days, etc.)

I think part of the issue with the timeout is that it isn't

[2019-05-23 10:56] rgregg opened #4153 "Surface pod scheduling errors in service status"
## In what area(s)?
When using resource requests to specify requirements that are unobtainable in the cluster, no indication of why the service is not working is available on the service object. The only visibility to an error is that `ConfigurationsReady` and `Ready` are in the `Unknown` status.

## What version of Knative?

0.5.2

## Expected Behavior

Knative would provide a failure indication

[2019-05-23 10:59] rgregg commented on #4153
As an example, if you create a ksvc with a bad container image, you'll get an RevisionFailed message with the error text indicating that the image couldn't be fetched (not that the text of that error is great).

[2019-05-23 12:01] knative-flaky-test-reporter-robot opened #4154 "[flaky] test/conformance.TestUpdateConfigurationMetadata"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestUpdateConfigurationMetadata
* **Repository name**: serving

[2019-05-23 13:59] dprotaso commented on #4149
If you change a Knative Service this causes a new revision to roll out. This is reflected through the property `Status.LatestCreatedRevision`. It's not immediate - but eventual.

Once this revision is deployed you should see the property`Status.LatestReadyRevision` change to match the property above.

Currently, the Knative Service's Conditions don't reflect that things are 'deploying'.

[2019-05-23 15:38] rymonroe opened #4155 "Unable to pull images in 0.6 release"
## In what area(s)?

/area API
/area build

## What version of Knative?

0.6 Istio 1.1.6 installed with mutual TLS enabled.

## Expected Behavior

Hello World go example should pull image and run on k8s cluster.

## Actual Behavior
Service gets stuck in 'Revision Failed' and Revision reports "Unable to fetch image "<LocalRepo>/helloworld-go": unsupported MediaType: https://github.com/google/go-con

[2019-05-23 17:37] aaron-lerner commented on #4149
Just to make sure I fully understand, are the steps outlined below appropriate for determining if my object has finished updating?

1. Get the `Status.LatestCreatedRevisionName` and store it, let's say as `last_revision`.
2. Update my object
3. Poll my object until `Status.LatestCreatedRevisionName` has changed from `last_revision` at which point I know my changes are being deployed
4. Poll my obj

[2019-05-23 17:50] vagababov commented on #4149
I also think that the `service.Status.Ready == Unknown` with `TrafficNotMigrated` reason after the revision is created, but is not yet ready.

[2019-05-23 19:57] JRBANCEL commented on #647
What exactly do we want to achieve here? We can't test all the logging, metrics, tracing.

Should we define a couple of scenarios we want those tests to cover?
For example, we can have a test that sends a request to a Knative service and validates that queue-proxy has emitted a request log, that a trace exists for the request and that the count/latency metric has been emitted.

What else?

[2019-05-23 20:07] JRBANCEL commented on #4155
Looking at the [code](https://github.com/google/go-containerregistry/blob/master/pkg/v1/remote/descriptor.go#L112), this error means that the image uses Docker manifest schema v1, and it is not supported.

Are you using an old image, or generating one with an old version of Docker?

This issue is not specific to Knative.

[2019-05-23 20:45] sixolet commented on #4149
Aaron is correct that this is a bug. As soon as the object begins to be reconciled after the user changes spec, yes indeed `observedGeneration` should go to the current generation of the object, but also `Ready` should go `Unknown` at the same time.

The meaning of `Ready`, as agreed upon in Serving API meetings:
* Unknown — There are elements of spec that remain unrepresented in world yet, and we

[2019-05-23 21:54] sixolet commented on #4149
Attn @mattmoor

[2019-05-23 22:34] rymonroe commented on #4155
I'm building the image with docker 18.09.1 and have successfully tested same image with previous version 0.5.2. I think this may be caused by how I'm pushing the image which is what I'm looking into now.

[2019-05-24 03:28] vagababov commented on #4149
I think this is deliberate, since if revision fails to be created, service
itself remains ready.

On Thu, May 23, 2019 at 2:54 PM Naomi Seyfer <notifications@github.com>
wrote:

[2019-05-24 04:24] sixolet commented on #4149
If the revision fails to be created, the service should stop being ready. But the route should continue being ready.

[2019-05-24 12:01] knative-flaky-test-reporter-robot opened #4157 "[flaky] test/e2e.TestGRPCUnaryPingFromZero"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestGRPCUnaryPingFromZero
* **Repository name**: serving

[2019-05-24 12:01] knative-flaky-test-reporter-robot opened #4158 "[flaky] test/e2e.TestActivatorOverload"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestActivatorOverload
* **Repository name**: serving

[2019-05-24 13:23] dprotaso commented on #4149
I think it depends on the Service's `traffic` block. If it is defaulted (pointing to the latest ready revision of a configuration) then the Service's `Status.Ready` condition never changes. I can't recall if the last transition time changes.

[2019-05-24 20:12] vtereso opened #4159 "Downward API Release 0.7"
## KService Pod Templating
As mentioned [here](https://github.com/knative/serving/blob/4c568f9aec8e741f67b4625e6d53f2956724d1a6/pkg/apis/serving/v1beta1/revision_types.go#L78), "We cannot inline PodSpec until 0.7". However right below this, the RevisionSpec uses this PodSpec definition. Is this meant to say that the PodSpec will be replaced or "inlined" with corev1.PodSpec in 0.7? Otherwise, will

[2019-05-25 12:02] #4154 closed

[2019-05-26 12:01] #4158 closed

[2019-05-26 12:01] #4157 closed

[2019-05-26 23:00] kwyn commented on #3384
Another use case (as ill-advised as it may be) is for a screen shot service that has a container running headless chrome that another container abstracts a grpc endpoint for to create screen shots. So effectively there are two containers running. One running a chrome process (not exposed to the world) and another running a go process (exposed to the world).

I would also in the future want to run

[2019-05-27 20:37] #3077 closed

[2019-05-28 06:23] jroper opened #4167 "Knative monitoring broken with Istio 1.1"
Knative monitoring is incompatible with Istio 1.1 telemetry, for the following reasons:

* It uses the `source.service` attribute, which was [deprecated in Istio 1.0](https://archive.istio.io/v1.0/docs/reference/config/policy-and-telemetry/attribute-vocabulary/) and removed in [Istio 1.1](https://istio.io/docs/reference/config/policy-and-telemetry/attribute-vocabulary/).
* It uses the `destination

[2019-05-28 06:25] jroper commented on #3515
I've just raised #4167 because monitoring doesn't work on Istio 1.1.

[2019-05-28 06:39] jroper opened #4168 "Support Istio 1.2"
Istio 1.2 isn't released yet, so probably best to consider this early feedback on what will need to be done to upgrade to Istio 1.2. I've tried to run Knative with a build of Istio master, and so far found one issue.

The metrics CRD has been removed from Istio 1.2, and deprecated in Istio 1.1.3. This has been announced here:

https://discuss.istio.io/t/deprecation-notice-custom-mixer-adapter-crds

[2019-05-28 06:50] nak3 opened #4169 "Go panic when stale-revision-minimum-generations has minus value"
## In what area(s)?

/area API
/kind spec

## What version of Knative?

HEAD

## Expected Behavior

- controller should output validation error rather than go panic when `stale-revision-minimum-generations` has invalid value.

## Actual Behavior

- controller causes go panic when `stale-revision-minimum-generations` has invalid value.

## Steps to Reproduce the Problem

#### 1. Set `stale-revision

[2019-05-28 13:41] vtereso commented on #4159
@mattmoor Can you explain this comment?

[2019-05-28 13:43] mattmoor commented on #4141
In Cloud Run we have a resource called `DomainMapping` that serves the purpose of attaching vanity domains to resources.  There's nothing especially novel about it (just a VirtualService rewrite), but it would probably need some work to upstream (e.g. IMO it should take an addressable instead of a route name, so that it can work with our expanding landscape of abstractions).

One consideration is

[2019-05-28 14:09] jeffcai opened #4171 "Kibana UI not accessible"
## In what area(s)?

knative-monitoring kibana-logging deployment

## What version of Knative?

0.6.0

## Expected Behavior

access the url: http://xxx.xxx.xxx:5601 kibana UI will be shown, seems caused by the deployment with SERVER_BASEPATH configured

## Actual Behavior

redirected:  http://xxx.xxx.xxx:5601/api/v1/namespaces/knative-monitoring/services/kibana-logging/proxy/app/kibana, and compla

[2019-05-28 17:03] dprotaso commented on #4141
As a workaround for now see [knative-routing-go sample](https://github.com/knative/docs/tree/master/docs/serving/samples/knative-routing-go) which highlights how to use istio to expose the domain name you want.

[2019-05-28 17:43] mdemirhan opened #4172 "Allow customizing max allowed request timeout"
/area networking

Allow overriding the default timeout at https://github.com/knative/serving/blob/master/pkg/apis/networking/register.go#L82 via config-map. This is something we intend to override in our hosted product and need this capability.

[2019-05-28 19:04] sixolet opened #4173 "Does BYO revision name result in spurious deployment errors?"
## In what area(s)?

/area API

## Ask your question here:
Ensure that BYO revision name where you simultaneously

* change the name of the revision template in a service to have a name you bring
* reference that new name in the traffic block

Does NOT result in RoutesReady (or the Route's ready condition) briefly flashing to False before going Unknown and then True. This could happen if the Route

[2019-05-28 19:17] jonjohnsonjr commented on #4155
I had fixed this, but the fix breaks CRI-O: https://github.com/knative/serving/issues/3997

[2019-05-28 19:58] mattmoor commented on #4149
This surprises me.  I think updating `status.obseredGeneration` is fine, but I'm surprised that `ConfigurationsReady` and `RoutesReady` haven't become false because the Service controller would have posted updates to those resources, and it's unlikely they've returned to `Ready=True`.

[2019-05-28 21:35] dgerd commented on #4173
/assign @dgerd

I can pick this up and make sure our implementation looks good.

[2019-05-28 21:39] dgerd commented on #4172
This seems related to https://github.com/knative/serving/issues/3826

[2019-05-28 21:55] mdemirhan commented on #4172
@dgerd also mentioned that this might require us to do proper draining of connections when scaling down (need to check what we are doing now). We will also need post submit tests to ensure that long timeouts are honored correctly.

[2019-05-28 21:55] dgerd commented on #3826
Sorry for the slow reply. There is some work happening in this area (see related issue). In making the timeout we use for Istio configurable it unblocks making this larger.

[2019-05-28 21:58] #4169 closed

[2019-05-28 22:06] dgerd commented on #4159
The comment in the code refers to constraints in json serialization. The PodSpec is re-defined so that `omitempty` can be added to the json parsing logic on line 103. Adding `omitempty` allows clients to interact with multiple versions of knative without breaking. This comment is not related to the downward API.

That said we are beginning to take a closer look at the downward API and the best way

[2019-05-28 22:33] dgerd commented on #4130
`securityContext` was allowed in Knative to allow users to configure the `runAsUser` within the container. From 0.5 -> 0.6 we went from an incomplete blacklist of disallowed fields in Knative to a whitelist of fields we allow, have tests for, and believe that we can support. As part of this one time migration some fields were disabled and `privileged` was one of them. Given the permissiveness of t

[2019-05-28 23:43] vtereso commented on #4159
Ok, my misunderstanding as to the intent of `inline`, but that makes perfect sense. Your explanation of using the Knative specific Podspec seems to use circular logic (at least from my perspective) where it must allow `omitempty` to support old versions, but why was it ever replaced to begin with? Having a PodSpec without containers doesn't seem useful, but I'm sure there are reasons I guess. To c

[2019-05-29 00:09] jhanley-com commented on #848
If someone can modify your image or function, then there is nothing to stop them from just delaying an HTTP request/response to the max time limit.

[2019-05-29 01:15] yt3liu opened #4176 "Knative Serving"
## In what area(s)?

## What version of Knative?

## Expected Behavior

Knative serving install succeeds on first try

## Actual Behavior

There is intermittent failures for knative serving install on first run. The issue could be some part of the serving references the serving CRDs that are just created. Since it takes time for the CRDs to be effective, the failure can happen when the CRDs is not

[2019-05-29 06:07] markusthoemmes commented on #4172
@mdemirhan we should already be doing draining of requests, at least on the user-pod level. There's an E2E test checking that behavior.

[2019-05-29 10:56] RPing opened #4177 "How to deal with ServiceTimeout ?"
## In what area(s)?

/area networking

## Ask your question here:

In my GKE environment which enable Istio & CloudRun, a knative service revision showed the following message after running one day:
[code]
After delete the knative service and recreate the service, and works again.
What's the suggestions about dealing this situation ?

[2019-05-29 12:02] knative-flaky-test-reporter-robot opened #4178 "[flaky] test/e2e.TestAutoscaleUpDownUp"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleUpDownUp
* **Repository name**: serving

[2019-05-29 14:18] jchesterpivotal commented on #848
@jhanley-com you're right, but I think the key is that delaying the HTTP response will quickly show up in response time metrics. @markusthoemmes was pointing out that in the execution model, the request could be processed normally _and_ unobserved background work could continue without being connected to any request, until scale down occurs.

[2019-05-29 14:28] winmillwill commented on #3429
@tcnghia IIRC you said you had a POC that was related to this. Can you share any insight as to what you've tried and what does or doesn't work? I'd be interested to see if I can make any progress on this in my own time.

[2019-05-29 17:38] mattmoor commented on #4149
e.g. [here](https://github.com/knative/serving/blob/b72f3ee2af407dac19faa322e05cbc8dd63ff1ac/pkg/reconciler/service/service.go#L180-L181) where we "propagate" the configuration's status we don't check that the status reflects the current generation of desired state.

Route needs a similar change.

[2019-05-29 17:41] mattmoor commented on #4149
/assign

[2019-05-29 17:47] dprotaso commented on #4149
@mattmoor

https://github.com/knative/serving/blob/b72f3ee2af407dac19faa322e05cbc8dd63ff1ac/pkg/reconciler/configuration/configuration.go#L162-L168

[2019-05-29 18:22] sixolet opened #4182 "The easiest cluster to set up is routable."
## In what area(s)?

/area API

/area networking
/area test-and-release

## Describe the feature
When you make a new cluster, you need to do a dance that queries your istio ingressgateway to find your IP address to know where to talk to your new services. You can then curl your services with that IP address, as long as you set the right host header.

Right now in /config/postinstall there's a piec

[2019-05-29 19:09] mdemirhan commented on #4176
Are you following the installation steps as described at https://knative.dev/docs/install/? That should prevent the errors above since it installs CRDs in the first pass and then rest in the second pass.

[2019-05-29 19:12] mdemirhan commented on #4177
Can you copy/paste the output of `kubectl describe revision XXX`?

[2019-05-29 19:17] shashwathi commented on #4153
/assign

[2019-05-29 20:00] mdemirhan commented on #4172
Awesome, thanks @markusthoemmes. Closing this issue in favor of #3826 - my original intent was to allow overriding the max allowed timeout rather than the default one and #3826 is exactly that. I will assign that issue to myself and work on it.

[2019-05-29 20:00] #4172 closed

[2019-05-29 20:05] adrcunha commented on #4176
As Mustafa pointed out, the correct way of installing Knative is documented in https://knative.dev/docs/install/knative-with-gke/

Closing as WAI.

[2019-05-29 20:05] #4176 closed

[2019-05-29 21:14] rgregg commented on #4098
Without scaling the service to 1 during deployment, there are a number of failure conditions that we won't be able to detect at deployment time, and will postpone those to being discovered at runtime. That seems like a bad user experience.

What's the downside about creating an instance of the app initially?

[2019-05-29 21:22] rgregg opened #4183 "minScale should not apply to non-routable revisions"
This is a repost of #2720, except the request is that we actually actually fix the behavior and not just document that it works in a broken (unexpected) way.

There is a clear user expectation that when a revision is no longer reachable, the minScale attribute should not apply. There is significant confusion that setting minScale=1 will keep every previous revision of the service running until the

[2019-05-29 22:54] jonjohnsonjr commented on #4153
I hit a similar issue with ErrImagePull. If you deploy an invalid image, you can see that there is an ErrImagePull/ImagePullBackoff status on the pods, but that doesn't get propagated up through the deployment :/

[2019-05-30 00:24] shashwathi commented on #4153
Looking at the source code it appears that specific error case i.e., container execution has been terminated with non zero code is caught but no other is bubbled up. I will work on this and see if I can make this better

[2019-05-30 01:02] rakelkar commented on #4141
Not sure I understand this, can you help clarify (possibly with an example)?

[2019-05-30 03:49] mattmoor commented on #4149
@dprotaso not sure what you are highlighting there?

[2019-05-30 04:29] savitaashture commented on #4182
/assign

[2019-05-30 06:37] #4149 closed

[2019-05-30 08:06] nak3 opened #4186 "Revisions are not GCed when service was failed to deploy due to wrong configuration."
## In what area(s)?

/kind spec

## What version of Knative?

HEAD

## Actual Behavior

- `Revisions` are not GCed when failed to deploy.

## Steps to Reproduce the Problem

This is one of exampes.

#### 1. Set wrong limits and requests (e.g. `requests` > `limits`) by mistake

[code]

Here is the describe. As revision never becomes `Ready` status, `serving.knative.dev/lastPinned` was never assigne

[2019-05-30 08:46] RPing commented on #4177
hmm... I forget to retain the result when I type `kubectl describe revision XXX`
But I remember it shows nothing strange (to me).
I will paste output if the problem occurs again.

[2019-05-30 11:34] RPing commented on #4177
Today, the service showed another message that may relate to this question:
It shows `RevisionMissing` when type `kubectl get ksvc`, and the revision shown in LATESTCREATED & LATESTREADY (let's call it revision A) is different from the revision which latest & current route point to (let's call it revision B).
And `kubectl describe revision B`:
[code]
It also showed `ServiceTimeout` in Status.

[2019-05-30 11:44] duglin commented on #4098
In an environment where a customer only wants to be charged when their service is actually invoked, they're now going to be charged just because it was deployed, not invoked.

As I mentioned above, I think having some kind of `initialScale` type of flag (and we can bike-shed on whether it's default is 1 or 0) would solve this. At least then the user (or cloud provider) can choose.

[2019-05-30 12:02] #3880 closed

[2019-05-30 13:34] dprotaso commented on #4149
I thought the configuration ready status was not being marked unknown when creating a new revision. But I realize it's nested here:
https://github.com/knative/serving/blob/24d1491490ebbb2b9871f4a7660e97c756591910/pkg/apis/serving/v1alpha1/configuration_lifecycle.go#L79-L87

[2019-05-30 15:37] andrew-su commented on #3419
Let's say an operator changed the service's visibility label to cluster local. Is `ClusterIngressRule.Hosts` supposed to refer to the local address only or is it adding the `Visibility` key?

That should already be done, as the only time we modify the metadata is during creating.

[2019-05-30 15:55] zroubalik commented on #3689
/assign

[2019-05-30 16:02] zroubalik commented on #3689
I was looking at this issue and I am proposing [this](https://github.com/zroubalik/knative-serving/commit/dda4ae68d7a8cb454d970086566f5b4659e8f8fa) approach: generate the unique value from KnService UID and not just use a random number, since it would be regenerated with each change in the deployment and it that will cause changes in the domain name all the time.

There's one problem with this app

[2019-05-30 16:20] mbehrendt commented on #4098
adding to what @duglin wrote: If a customer wants to test whether what they deployed works, they'd just curl it. That would scaling from 0 to 1, and then immediately back to 0.

[2019-05-30 16:43] mattmoor commented on #971
FYI, we own `kn.dev`, just waiting for certs to roll out.

[2019-05-30 18:05] amrueda76 commented on #4130
@dgerd Can you verify if `metadata.name` was one of the decommissioned fields as a result of this change?

[2019-05-30 18:07] #4004 closed

[2019-05-30 18:38] dgerd opened #4190 "Feature Request: Support Downward API"
## In what area(s)?

/area API

## Describe the feature

There are many use-cases for knowing information about a particular revision from within the user container. In Knative today we supply a subset of information through automatically injected environment variables such as K_REVISION, K_SERVICE, and K_CONFIGURATION. However, there are two problems with this:

1. This information is incomplete.

[2019-05-30 18:40] dgerd commented on #4130
If you are referring to `metadata.name` within the `fieldRef` key then yes. This would also be one of those fields.

I have created an issue here ( https://github.com/knative/serving/issues/4190 ) for that, and hope to have a discussion about it at an upcoming API Working Group meeting. There are clearly many good use-cases for the downward API, but we need to figure out the best way to add this b

[2019-05-30 19:58] dgerd commented on #4159
The long story short is that from 0.5 to 0.6 we added our v1beta1 API alongside our existing v1alpha1 API. v1alpha1 supports Container and v1beta1 supports PodSpec. This means that you must specify one of Container OR PodSpec. As PodSpec is a OneOf type field it must be optional. As older clients do not understand the v1beta1 PodSpec it should be serialized as missing instead of `null` hence the n

[2019-05-30 20:36] jonjohnsonjr opened #4192 "Surface image pull errors in service status"
## In what area(s)?

/area API

## What version of Knative?

HEAD

## Expected Behavior

We should provide some indication that ImagePullBackoff is happening when trying to deploy a service.

## Actual Behavior

In the revision, everything is `Unknown` because we are deploying.

[code]

In the service, we are just waiting for the revision to become `Ready`.

Interestingly, we know that the deploym

[2019-05-30 20:36] jonjohnsonjr commented on #4192
cc @mattmoor seems like in general we're struggling to surface an error with pods due to the `!IsActivationRequired` check

[2019-05-30 20:39] jonjohnsonjr commented on #4192
/assign

[2019-05-30 21:22] dgerd commented on #4190
Related to: https://github.com/knative/serving/issues/3090

[2019-05-30 21:26] vtereso commented on #4159
Will do. Thanks for the replies.

[2019-05-30 21:26] #4159 closed

[2019-05-30 21:34] vtereso commented on #4190
Just to reinforce the need for some of these `likely valuable` fields, Knative eventing creates webhooks, which are namespace scoped so this variable needs to be `injected` in some manner.

[2019-05-30 23:53] mbehrendt commented on #848
thx @markusthoemmes -- this is a great topic.

In my mental model, the issue you're raising has some sub-aspects:
1) What determines the active, billable lifetime of an invocation, in today's blocking invocation model?
Given today's blocking-only, multi-threaded model, I think the user would be charged by all container capacity available from serving the first to serving the last request. If invoc

[2019-05-31 00:22] mdemirhan commented on #4177
CC @tcnghia @vagababov

[2019-05-31 00:35] jroper opened #4198 "Plugable deployers"
Continuing from #4152, discussing in an issue instead.

The idea behind making deployers plugable is to allow Knative to serve more than just plain functions. We (@lightbend) have implemented a proof of concept that allows Knative to serve commands for event sourced entities, where the side car manages the loading and persisting of events, and a gRPC protocol between it and the user function is us

[2019-05-31 01:25] #4125 closed

[2019-05-31 04:17] lvjing2 opened #4201 "Expose min/max/target/current replicas for autoscaler by metrics or PAs"
## Describe the feature
Currently we can't get the detail of autoscaler for a revision by kubectl get, so consider expose those out like
[code]

[2019-05-31 05:43] adrcunha opened #4202 "Add E2E tests for standard serving installation"
## In what area(s)?

/area test-and-release

## What version of Knative?

## Expected Behavior

Issues like https://github.com/knative/test-infra/issues/674 and https://testgrid.knative.dev/knative-serving won't happen.

## Actual Behavior

The issues above happened.

## Steps to Reproduce the Problem

See issues above.

[2019-05-31 07:30] #3977 closed

[2019-05-31 11:51] duglin opened #4204 "cluster-only service's URL might not be right"
## In what area(s)?
/area networking

## What version of Knative?
0.6.0

## Issue

I created an internal only service via:
[code]

I also modified by domainTemplate to use `-` instead of `.` between the service name and the domain name.

When I look at the `status` section of this service I see this (removed the noise):
[code]

First, some questions:
- why are there so many fields that appear to b

[2019-05-31 11:57] markusthoemmes commented on #4204
- Both `domain` and `domainInternal` are deprecated. I think you can just disregard them at this point.
- `address` implements the `Addressable` interface to provide interop with for example Knative Eventing.
- The URL contains the scheme to signify which scheme should be used to talk to the service. Not every service might support both HTTP and HTTPS. Services which have a provisioned cert for ex

[2019-05-31 12:19] duglin commented on #4204
@markusthoemmes thanks. Why do we need to include a scheme at all since it might not even support http?

[2019-05-31 12:44] ximbal opened #4205 "Call api from knative serverless function fails miserably, Ideas? Knative Gurus?"
We're new to Knative, going on the learning curve, we have a simple GoLang function that enables an Endpoint (GET) and as a result of this, it contacts a third party api to pass a json payload.

developer's computer ----> serverless function in knative -----> api endpoint on third party

The issue is that we are getting :

```Get https://jsonplaceholder.typicode.com/posts/1: read tcp X.X.X.X:50656

[2019-05-31 12:45] markusthoemmes commented on #4205
Which version of Istio are you running? Are you running istio in a mesh? Depending on Istio's version you might need to set the correct egress policy to allow your traffic to actually leave the cluster/mesh.

[2019-05-31 12:51] markusthoemmes commented on #4204
@duglin We require to support HTTP, don't we (today at least)? It makes it far easier for a client to decide which URL to hit.

[2019-05-31 13:05] duglin commented on #4204
Not sure - I'm assuming someone can setup their ingress to only accept https which means the http URL would be incorrect.  Would be odd to mandate an insecure connection.

[2019-05-31 13:09] markusthoemmes commented on #4204
You're talking about a non-knative managed ingress? That's certainly true, yes. I'll defer to @ZhiminXiang and @tcnghia who are far more knowledgeable on the HTTPS terrain than I am.

[2019-05-31 13:26] ximbal commented on #4205
Here:

Thanks for the help.

$ istioctl version
version.BuildInfo{Version:"1.1.7", GitRevision:"eec7a74473deee98cad0a996f41a32a47dd453c2", User:"root", Host:"341b3bf0-76ac-11e9-b644-0a580a2c0404", GolangVersion:"go1.10.4", DockerHub:"docker.io/istio", BuildStatus:"Clean", GitTag:"1.1.6-6-geec7a74"}

[2019-05-31 13:43] duglin opened #4206 "Potential confusion w.r.t. 'traffic.tag'"
## In what area(s)?

/area API
/kind spec

## Ask your question here:

using this yaml
[code]
I get an error in one of the conditions saying:
[code]
This is probably due to my use of `v1` on the `tag` field as well as a suffix on the revisionName.

However, w/o the `tag` in there when I try to curl `echo-v1-default...` I get a 404, which implies to me that I should be able to ask for a custom/revi

[2019-05-31 13:52] mattmoor commented on #4206
cc @tcnghia @andrew-su

[2019-05-31 14:48] andrew-su commented on #4206
After removing the `tag: v1` you should be able to access it via `echo.default...` if the domain template wasn't changed.

Yup, the `v1` on the revision name causes the revision reconciler to create an `echo-v1` service which then we try to create one based on `routename-tag` where routename is now `echo` because of the ksvc name. thus we get the conflict.

[2019-05-31 17:15] ximbal commented on #4205
I'll have a look at the egress policy, thanks for the head's up

[2019-05-31 18:24] mdemirhan commented on #3026
Closing due to lack of a response.

[2019-05-31 18:24] #3026 closed

[2019-05-31 18:27] mdemirhan commented on #3153
The remaining work here is to add tests to make sure that this won't regress in the future, right?

[2019-05-31 18:33] mdemirhan commented on #3312
@tanzeeb will you take this one?

[2019-05-31 18:34] mdemirhan commented on #3329
@srinivashegde86 @hohaichi any of you working on this?

[2019-05-31 18:36] duglin opened #4208 "Vanishing revisions"
## In what area(s)?
/area API
/area autoscale

## What version of Knative?
0.6.0
Running on IKS with istio-lean, not full istio.

## The issue

After I let a service rest and scale down, some revisions vanish and the service isn't accessible.

To reproduce, use this script:
[code]

What you should see, near the end, after all of the pods vanish is output like this:
[code]

The key things to notice

[2019-05-31 18:43] dgerd commented on #3484
We have runAsUser and the remaining fields have been masked in Knative 0.6. Closing this.

[2019-05-31 18:43] #3484 closed

[2019-05-31 20:16] mattmoor commented on #4208
What GC settings do you have?

[2019-05-31 21:04] mikehelmick commented on #3090
projected volumes w/ service account tokens would be very valuable to the security story for knative/eventing

https://github.com/knative/eventing/issues/705

[2019-05-31 22:20] arno-joule commented on #4205
Thanks @markusthoemmes you were right on we tested it and it works just fine

[2019-06-01 07:53] markusthoemmes commented on #4205
You‘re welcome!

/close

[2019-06-01 07:53] #4205 closed

[2019-06-01 10:05] duglin commented on #4208
just the defaults.

However, in trying to track down things I restarted my kn-serving controller and now I can't reproduce it using the above script because none of the pods (for any revision) scale down to zero.  And, to make it even weirder, when I rename my service `ttt` instead of `echo`, not only do things scale down properly but the original bug is gone - the revisions do not vanish.  I veri

[2019-06-01 10:16] duglin commented on #4208
Just to add more info, in case something jumps out at you:
- doing `kn service create echo --image duglin/echo` works - meaning the KnService is created, and initial pod is created, and then the pod is scaled down to zero after about 100 seconds
- however, creating it via:
[code]
  fails - meaning, the pod never scales downs.
- but removing the metadata and name fields does result it in working/sc

[2019-06-01 12:02] knative-flaky-test-reporter-robot opened #4212 "[flaky] test/e2e.TestServiceToServiceCallFromZero"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestServiceToServiceCallFromZero
* **Repository name**: serving

[2019-06-01 12:02] knative-flaky-test-reporter-robot opened #4213 "[flaky] pkg/reconciler/serverlessservice.TestGlobalResyncOnActivatorChange"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/serverlessservice.TestGlobalResyncOnActivatorChange
* **Repository name**: serving

[2019-06-01 13:45] duglin opened #4214 "add K_TAG to pod's env vars"
## In what area(s)?
/area API
/kind good-first-issue

## Describe the feature

Given:
[code]

Right now we inject these env vars into the pods:
[code]
it would be nice to also include:
[code]
in case the pod would like to know which route matched the incoming request

[2019-06-01 14:03] duglin opened #4215 "Default single traffic split`percent` to 100, not 0"
## In what area(s)?

/area API
/kind good-first-issue
/kind spec

## Describe the feature

Given:
[code]
we'll generate this error:
[code]
it would be nice if this particular usecase resulted in the system being smart enough to know that it must be "100", since this might be what newbies try when first playing with `traffic`.

While I'm not a fan of special-casing, it does seem reasonable to make

[2019-06-02 07:29] markusthoemmes commented on #4214
Isn‘t the service available both via the outer route and via tag? As such the service cannot know which route matched, does it? And what if more than one tag applies to a revision? Do we allow that?

[2019-06-02 08:32] markusthoemmes commented on #4215
I vaguely recall this having been a deliberate decision to make the defaulting less magic.

/cc @mattmoor

Matt will know more.

[2019-06-03 05:26] nak3 commented on #4021
This issue could be addressed by https://github.com/knative/serving/pull/4187

[2019-06-03 07:16] jinchihe commented on #2025
Hello @mattmoor and @symfrog ,

I noticed the issue has been closed as remaining out-of-scope for PVC supporting, personally that's import for on-premise cluster, currently that blocks kfserving to support PVCs (https://github.com/kubeflow/kfserving/issues/129). Is that plan to support that? Thanks a lot!

[2019-06-03 07:36] njuCZ opened #4217 "Revisions are not GCed under these cases"
## In what area(s)?
/area API
/kind process

## What version of Knative?

## Expected Behavior
revision should be GCed after stale time

## Actual Behavior
* Revisions are not GCed when failed to deploy
* Revisions are not GCed when there is no route referencing it from the time revision created

## Steps to Reproduce the Problem
* about the first case, please refer to [#4186](https://github.com/k

[2019-06-03 08:17] yu2003w opened #4218 "Failed to push images to private docker registry"
## In what area(s)?

/area build

## What version of Knative?

## Expected Behavior
knative serving deployed successfully

## Actual Behavior
Failed to push images to private docker registry with error indication "x509: certificate signed by unknown authority" and failed to deploy knative serving.

## Steps to Reproduce the Problem
1, setup k8s cluster
2, deployed private docker registry with self

[2019-06-03 10:44] rhuss commented on #3547
If there is a clear rule that metadata can be mutable, then I'm also all for not creating a new revision for a metadata change in a revision template. If you couldn't change that scaling meta-data on a revision you are doomed to delete that revision if you have minScale set and want to change that to 0. There would be no other way to scale down the revision (except by fiddling with the KPA resourc

[2019-06-03 14:15] mattmoor commented on #4215
cc @steren @sixolet who may also have thoughts.

I'm not sure the precedent of our internal API should bias this too much (it gets far less scrutiny).

The example also feels somewhat contrived, since the only substance to the traffic target is `tag: latest`, which feels vestigial in the single-target case where this applies.  If the traffic block were omitted entirely, we'd default a proper traff

[2019-06-03 14:32] #4186 closed

[2019-06-03 14:38] yu2003w opened #4224 "deploy logging and monitoring components failed when admission controller is enabled"
## In what area(s)?

/area monitoring
/kind proposal

## What version of Knative?

## Expected Behavior
install logging and monitoring backend succeeded whether admission controller is enabled or not.

## Actual Behavior
when admission controller is enabled, logging and monitoring backends installation failed.

## Steps to Reproduce the Problem
1, setup k8s cluster with admission controller enable

[2019-06-03 15:25] houshengbo opened #4225 "Istio version is not pinned to the latest 1.1.7"
We need to make sure we support Istio 1.1.17 as the latest version.

[2019-06-03 15:50] duglin commented on #4215
I didn't consider this contrived, rather a step-wise disclosure/learning exercise. For example, people might start out with:
[code]
and then they can be more explicit about things by specifying it as:
[code]
and that sets them up for the next stage of their learning, traffic splitting and A/B testing. Which really means expanding what they've just learned (the `traffic` section) to include more th

[2019-06-03 16:58] RPing commented on #4177
After investigating these events, it seems that these events occur after high rate traffic.
the question is here: How knative handling the throttling?

[2019-06-03 17:23] #4073 closed

[2019-06-03 17:51] JRBANCEL commented on #4218
This really is a ko issue, not a Knative issue.

I am not familiar with operating Docker registries, but since you are using a self-signed certificate, it is expected that the client won't trust your registry, isn't it?

Looking at `ko help apply`, there is a flag to disable the cert validation: `--insecure-skip-tls-verify`

[2019-06-03 18:02] vagababov commented on #4218
/close
File here, please: https://github.com/google/ko

[2019-06-03 18:03] #4218 closed

[2019-06-03 18:16] vagababov commented on #4215
In the sense that `less is more`, I think keeping it 0 and thus omitting
altogether is better. But that's IMO :)

On Mon, Jun 3, 2019 at 8:50 AM Doug Davis <notifications@github.com> wrote:

[2019-06-03 18:26] mdemirhan commented on #4116
@srinivashegde86 Is this something you are working on?

[2019-06-03 18:26] mdemirhan commented on #4115
@srinivashegde86 Is this something you are working on?

[2019-06-03 18:26] mdemirhan commented on #4117
@srinivashegde86 Is this something you are working on?

[2019-06-03 18:27] mdemirhan commented on #4118
@hohaichi Is this something you are working on?

[2019-06-03 18:31] mattmoor commented on #4214
Yeah, this isn't viable for a few reasons that come to mind:
1. I could assign multiple tags to a single revision
2. I could assign a tag to a revision after it's been deployed

There are also the layering concerns @markusthoemmes raises.

[2019-06-03 18:31] #4214 closed

[2019-06-03 18:47] mattmoor commented on #4204
This seems like a bug in the application of the domain template.  @duglin do you want to send a PR?

[2019-06-03 18:51] mattmoor commented on #4217
I believe this is fixed.

[2019-06-03 18:51] #4217 closed

[2019-06-03 18:52] steren commented on #4215
The current behavior is: "It's Ok to omit `traffic` altogether and when you do so, we will direct 100% to the latestReady. But when you set `traffic`, then you have to be explicit about what your traffic is."

As you say, we could redefine the behavior as: "if no `percent` is provided in a potential `traffic` section, we will direct 100% to the latest ready revision."

I am more in favor of the or

[2019-06-03 18:54] mattmoor commented on #4215
The reason I called this contrived is because I don't agree that this "sets them up" as you describe.  As soon as they add another entry, they will need `percent: 100` on this one.

[2019-06-03 18:55] mattmoor commented on #4133
cc @ZhiminXiang

[2019-06-03 19:08] RichieEscarez commented on #4120
/assign @tcnghia

[2019-06-03 19:35] ahmetb opened #4227 "spec.md a bit out of date about containerConcurrency"
/kind bug
/area api

If you read `spec.md` on this repo https://github.com/knative/serving/blob/117feffd19f581a247823e8815d59cea9e95c421/docs/spec/spec.md you'll see

[code]

but if you read the API reference docs https://knative.dev/docs/reference/serving-api/#Service it says

I think "system decides" vs "unlimited" are different things. Ideally should be well defined and documented so this servi

[2019-06-03 19:40] #3877 closed

[2019-06-03 19:42] duglin commented on #4204
need some guidance from @ZhiminXiang @tcnghia first on how things should look

[2019-06-03 20:24] andrew-su commented on #3419
Since we're being more specific about the visibility within each rule. `ClusterIngress.Visibility` no longer seems relevant.

[2019-06-03 20:37] klinux opened #4229 "Grafana Knative Serving - Revision HTTP Requests no graph"
I followed the installation documentation, but grafana dashboard don't plot graphs, in istio-telemetry I found these errors.

Someone has any idea why this happens?

Environment:
Rancher: v2.2.3
Kubernetes: v1.13.5
istio: 1.1.7
knative: v0.6.0

Obs.: All tests, deploy hellowword-go, call function works perfectly, only graphs still empty.

Thank you.

[2019-06-03 21:41] #4153 closed

[2019-06-04 06:10] nak3 opened #4234 "Vanishing revisions even when they are still referred from route"
## In what area(s)?

/kind spec

## What version of Knative?

## Steps to Reproduce the Problem

### 0. Make GC set very short to produce the issue easily (optional)

[code]

### 1. Create v1 service

[code]

[code]

### 2. Create v2 service

[code]

[code]

## Actual Behavior

`echo-v1` is vanished and service becomes `RevisionMissing` status.

[code]

revision (`echo-v1`) was vanished.

[code]

[2019-06-04 06:29] jroper commented on #4198
One comment made in #4152 is that there is a high amount of coupling between the autoscaler and the queue proxy with no well defined interface between them. I've just reached a point in our work on stateful serverless to be able to test autoscaling, and what I'm seeing for our work is that it looks like we'll have to write our own autoscaler, there are a lot of things that need to be taken into co

[2019-06-04 12:02] knative-flaky-test-reporter-robot opened #4239 "[flaky] pkg/reconciler/route.TestNewRouteCallsSyncHandler"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestNewRouteCallsSyncHandler
* **Repository name**: serving

[2019-06-04 12:02] #4213 closed

[2019-06-04 12:21] hohaichi commented on #4115
I'm working on this issue.

[2019-06-04 12:21] hohaichi commented on #4118
Yes, I'm working on it.

[2019-06-04 13:04] hohaichi commented on #3329
@srinivashegde86 and I do not target this in Q2.  It looks fit for Q3 target, where we plan to add more metrics for performance troubleshooting.  I agree with Srinivas (https://github.com/knative/serving/issues/3329#issuecomment-468451057) that a list of individual-metric requests is preferable.

[2019-06-04 13:09] hohaichi commented on #3153
Yes, adding tests is my plan for this issue.  I think the tests may be flaky though, as it is the nature of sampling.  The tests will help to assess how flaky it is and whether or not we need to adjust the scaling algorithm.

[2019-06-04 13:19] beemarie commented on #3898
Still working through this one -- I want the queue proxy to have access to the tracing config map, so that it can listen and make any required updates. (Similar to how this is done in the activator)

I don't have access to the config map, since it's in a different namespace:
`
E0603 21:47:22.819629       1 reflector.go:134] k8s.io/client-go/informers/factory.go:131: Failed to list *v1.ConfigMap: c

[2019-06-04 13:20] markusthoemmes commented on #3898
@beemarie to me at least it does. Accessing the configmap as you pointed out is no good as the pod would need elevated rights to do that.

[2019-06-04 17:42] A-And opened #4246 "Bundled Revision Grafana Dashboards not working"
## In what area(s)?

/area monitoring

/kind proposal

## What version of Knative?

## Expected Behavior

Bundled Knative Grafana dashboards work out of the box.

## Actual Behavior

Metrics graphs display as 0 or empty and mixer fails with the following error "Dimensions[source_k8s_service]'; unknown attribute source.service" and "Dimensions[destination_k8s_service]'; unknown attribute destinatio

[2019-06-04 18:23] klinux commented on #4246
Can you explain how to you get worked around?

Thank you

[2019-06-04 19:45] JRBANCEL commented on #4171
Remove:

Change the NodePort to LoadBalancer.

Then:

Returns:

Does this not work?

[2019-06-04 19:51] rgregg opened #4251 "Upgrade guide for Knative 0.6 -> 0.7 -> 0.x (alpha -> beta > v1)"
## In what area(s)?

With the upcoming migration from the v1alpha1 to v1beta1 to eventually v1 API, we should provide a migration guide that ensures Knative users are able to smoothly migrate into each of these API surfaces. I believe this means there are requirements around which Knative  versions can upgrade from one to the next in a non-breaking  way, and what actions must be performed in each

[2019-06-04 20:10] srinivashegde86 opened #4253 "TestScaleFromo50 is very flaky"
/area test-and-release

## Expected Behavior
Test to pass consistently

## Actual Behavior
Test fails most of the time

Testgrid link - https://testgrid.knative.dev/knative-serving#performance

Sample log:
https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-performance/1135712993292587008

Error:
scale_from_zero_test.go:215: Run 1: 40: the endpoint for Route "perftest-scalefr

[2019-06-04 20:10] srinivashegde86 commented on #4253
/cc @greghaynes

[2019-06-04 20:27] srinivashegde86 commented on #4253
probably due to https://github.com/knative/test-infra/issues/862

[2019-06-04 21:40] A-And commented on #4246
@klinux - changed the attribute names in the deployed Grafana dashboard to [ones available in Istio](https://github.com/knative/serving/blob/master/third_party/istio-1.1.3/istio.yaml). The dashboards are deployed with `knative-monitoring.yaml` so any changes in the configuration file are reflected in the deployment.

[2019-06-04 23:33] mattmoor commented on #4253
This almost never flakes in the continuous build or presubmit.

[2019-06-04 23:33] mattmoor commented on #4251
I feel like this should be in the docs repo?

[2019-06-04 23:34] mattmoor commented on #4251
cc @dgerd

[2019-06-04 23:41] mattmoor opened #4257 "We should support `name:` in corev1.Container"
## In what area(s)?

/area API
/kind proposal

## Describe the feature

One of the design goals of the new API shape was an easy migration from Kubernetes Deployment (assuming the workload meets our constraints).  However, an inconsistency we have here is that all of the Kubernetes app resources **require** `name:` in their `corev1.Container` specification, and **currently we disallow it**.

Moreo

[2019-06-04 23:42] mattmoor commented on #4257
cc @markusthoemmes

I know Markus hit this playing with a tool for migrating Deployments to Services.

[2019-06-04 23:43] mattmoor commented on #4257
cc @steren @dgerd @duglin @dprotaso @mikehelmick @cooperneil

adding a bunch of other potentially interested folks.

[2019-06-04 23:46] mattmoor commented on #4257
I added this to tomorrow's API WG agenda, which is otherwise sparse.

[2019-06-05 00:58] srinivashegde86 commented on #4253
This is the scaleFrom050 test, which is only a perf test and is only run in the nightly perf runs. This is not part of presubmit or continous runs.

We are trying to see how to add the perf presubmit runs, but not all perf tests will be run in those runs.

[2019-06-05 01:09] duglin commented on #4257
Not sure yet how I feel about this but I will say that coming from the K8s world, not being able to do things like `kubectl logs <pod-name>` w/o also specifying the container name was annoying, but it made it a little less painful to know that I can just blindly use `user-container` for the container name and always get what I was looking for.   And so with this I would have to figure out the name

[2019-06-05 01:36] mattmoor commented on #4257
@duglin I think that's true in part because you've been trained, and have memorized `user-container`.

I would hypothesize that users are significantly more likely to know what Service/Configuration they are looking at than they are to remember `user-container`.

Also, if I'm really after the logs for all of the pods in my service, then I currently need to know both names:
[code]

It would be far

[2019-06-05 03:20] jroper commented on #4229
This is a duplicate of #4167.

[2019-06-05 03:26] jroper commented on #4246
The attributes were actually deprecated in Istio 1.0, it breaks with Istio 1.1 because they were removed in 1.1. So, the fix to this issue should fix for both 1.0 and 1.1, so that it's not using deprecated attributes in Istio 1.0. Also, while you're looking at this, you should be aware of #4168, since when it comes to support Istio 1.2 (not yet released) there are several more breakages, including

[2019-06-05 08:07] matzew opened #4258 "[bug] rename webhook"
**Background:**

In knative-build, it's actually named `build-webhook`:  https://github.com/knative/build/blob/master/config/webhook.yaml#L18

But on both others, eventing and serving, it's just `webhook` ...
• https://github.com/knative/serving/blob/master/config/webhook.yaml#L18
• https://github.com/knative/eventing/blob/master/config/500-webhook.yaml#L18

**Problem:**

Now, when (for what ever

[2019-06-05 08:07] matzew commented on #4258
/assign @matzew

[2019-06-05 08:52] jeffcai commented on #4171
it works, what I meant is that by default if we need make it work, or something else considered by adding the config.

[2019-06-05 11:10] duglin commented on #4257
Most definitely!  :-) And it wasn't hard because the value was always the same - so I even have a bash function to do it for me: `knlog <start-of-pod-name>`.

Discussions like this are great reminders that the UX for people are often very different. For example, it never even dawned on me to use the label-selector thing you show - and what's funny is that my first thought when I saw it was "geez t

[2019-06-05 11:26] markusthoemmes commented on #4257
Hm, I'm too leaning towards just keeping it `user-container` per default. ServiceName can have other nasty side effects (what if my service is queue-proxy? 😁).

You're right though, it's an undocumented interface. Maybe we should add it to our contracts?

[2019-06-05 13:15] bradhoekstra commented on #3086
/unassign

[2019-06-05 14:33] mattmoor commented on #4257
One of the meta considerations here is that `kubectl logs` is effectively an anti-pattern.  It only works while the pods are still around, and (I believe) only for some truncated history at that, which is why the runtime contract talks so much about log collection.  e.g. if you use `/var/log`, or it scales to zero then `kubectl logs` won't help you.

Yeah, but it allows the alias `knlog <service n

[2019-06-05 15:00] josephlewis42 opened #4262 "How to temporarily stop serving?"
## In what area(s)?

/area autoscale
/area networking

## Ask your question here:

What's the process to temporarily stop a serving.Service from scaling at all without deleting it and removing all of its history?

An example: let's say there's a mistake in your cluster where kservice A is handling user traffic and is causing an amplification issue to kservice B which is wrecking your databases. We

[2019-06-05 15:04] k4leung4 commented on #2206
/unassign

[2019-06-05 15:11] duglin commented on #4257
yeah, I think defaulting to `user-container` but allowing people to override it if they have a good reason would work.

[2019-06-05 15:20] greghaynes commented on #4253
502 is interesting,  I wonder if we're hitting the backlog limit on one of our queue proxies? @markusthoemmes

[2019-06-05 15:21] markusthoemmes commented on #4262
The way to do is would be via a traffic split. You'd assign 0% traffic to the revision that wrecks things.

[2019-06-05 15:22] markusthoemmes commented on #2206
I'll do this as part of the pluggable autoscaler work anyway.

/assign

[2019-06-05 15:42] josephlewis42 commented on #4262
Awesome, thanks @markusthoemmes. One more follow-up if I may, will that also work if there's only one revision? Otherwise I guess we could push a dummy service as the first one that we can always fall back to in the event of an issue.

I'm hoping the percentages are true percentages rather than what I think Istio VirtualServices do which is proportion of the total values defined.

[2019-06-05 16:18] JRBANCEL commented on #4171
By default, Kibana shouldn't be publicly exposed and it is not exposed.
You can change that of course, but then you are responsible for the change.
What we provide by default works.

Anyway, this is outside of Knative scope, it is standard Kibana stuff.
I'll submit a PR to add a comment to  `third_party/config/monitoring/logging/elasticsearch/elasticsearch.yaml` about `SERVER_BASEPATH`.

[2019-06-05 16:21] adrcunha commented on #2581
I can't reproduce, so I'm considering this obsolete.

[code]

[2019-06-05 16:21] #2581 closed

[2019-06-05 16:21] steren commented on #4257
As long as it is not required, I think I am OK if it makes migration from Kubernetes easier (except if I am missing some undesired side effects)

[2019-06-05 16:22] adrcunha commented on #2482
This is done.

[2019-06-05 16:22] #2482 closed

[2019-06-05 16:22] adrcunha commented on #2347
@steuhs friendly ping.

[2019-06-05 16:26] vagababov commented on #4253
My guess is it's Istio... I had this test pass more or less reliably on a
regional cluster with 18 nodes :)

On Wed, Jun 5, 2019 at 8:20 AM Gregory Haynes <notifications@github.com>
wrote:

[2019-06-05 16:27] vagababov commented on #4262
I don't think that would work. The sum must be 100%.

On Wed, Jun 5, 2019 at 8:42 AM Joseph Lewis III <notifications@github.com>
wrote:

[2019-06-05 16:41] dgerd commented on #4257
I want to clarify this statement a bit as there is two definitions of required here. There is the requirement for a user to specify it and there is a requirement for all installations (and implementations) of the Knative API to accept the field.

I agree that requiring a user to specify name does not add much value and adds additional noise to the yaml. I like the idea of making it optional with a

[2019-06-05 17:03] dgerd commented on #4251
We should keep this here for visibility. We should also expand this to be tests that validate our assumptions and suggestions in the guide. I do agree though that the actual guide should land in knative/docs and not here.

[2019-06-05 17:21] mattmoor commented on #4257
cc @mdemirhan

[2019-06-05 17:25] steren commented on #4257
Yes, I meant required as in: Knative implementations should(must?) support it, but users are not required to use it.

Regarding logs: any way they can be annotated with the revision name? (maybe they are already). As a Knative user, I want to "see the logs for this revision", and not think about pods.

[2019-06-05 17:48] mattmoor commented on #4190
We should also discuss how this pertains to projected volumes: https://github.com/knative/serving/pull/4079

[2019-06-05 17:56] pmorie opened #4263 "Request: Publish test artifacts/images as release artifacts"
## In what area(s)?

/area API
/area test-and-release

/kind proposal

## Describe the feature

This request is to release the artifacts required to e2e serving as part of the knative serving release:

- Images used by the e2e tests
- An image containing e2e binary

The context for this request is to make it possible to test a deployed serving without having to build the binaries and artifacts you

[2019-06-05 18:04] adrcunha commented on #4263
/cc @adrcunha

[2019-06-05 19:13] greghaynes commented on #3809
This seems like a duplicate of https://github.com/knative/serving/issues/2142

[2019-06-05 19:32] duglin commented on #2260
Would it make sense to reopen this so we can discuss the generic PV usecase? While I understand not all volume types would work, this sounds like a generic Kube issue and not Knative. In that I mean, if there are certain PVs that can't work with K8s Deployments then since K8s would have the same constraints as Kn, I'm not sure why Kn would remove **all** generic PV support instead of just saying "

[2019-06-05 20:34] tanzeeb commented on #4072
@tcnghia should it still be "Ready=Unknown,Reason=..." or should I change it to "Ready=Failed,Reason=..." ?

[2019-06-05 20:56] vagababov commented on #1279
/unassign

punting for now

[2019-06-05 21:00] jonjohnsonjr opened #4266 "Test upgrading while scaled to zero"
We don't test that a revision scaled down to zero during an upgrade can come back up after upgrading.

/area autoscale
/area test-and-release
/kind good-first-issue

[2019-06-05 21:08] tcnghia commented on #4072
I think `Ready=Unknown` is more appropriate, since this may be a temporary error.

[2019-06-05 23:17] dgerd commented on #4130
I would like to discuss this (priviledged support) in the next API Working group meeting. It is 10:30am-11:00am Pacific on Wednesday 6/12.

@cometta if you are able to attend and talk more about your use-case that would be awesome. If the date doesn't work for you and you would like to attend we can bump to a future WG meeting.

[2019-06-06 00:25] JRBANCEL commented on #3809
Now (#4156) that there is no fluentd sidecar we could also get rid of the emptyDir.
@evankanderson & @dgerd mentionned that we should be able to read directly from the container content.

If there is no volume mounted to `/var/log`, its content is located at `/var/lib/docker/overlay2/<ID>/merged/var/log`. We could have a postStart hook create the following symlink (from within the container) `/kna

[2019-06-06 00:39] #818 closed

[2019-06-06 01:43] yu2003w commented on #4028
I will start working on this item.

[2019-06-06 02:30] Disturbing opened #4275 "RBAC / Namespace Protection with Serving"
## In what area(s)?

/area API
/area networking

## Ask your question here:

Right now any pod can call any pod with serving:

foo.*ns1*.cluster.local can send a message to foo.*ns2*.cluster.local

From my understanding, all of these domains are being routed to the gateway then forwarded to the new namespace. I would want to protect message should only be forwarded to the same namespace.

I attemp

[2019-06-06 03:35] yu2003w opened #4276 "e2e/TestMinScale failed due to lack of proper psp when admission controller is enabled"
## In what area(s)?

/area test-and-release

## What version of Knative?

## Expected Behavior
Run e2e test successfully with following command
go test -v -tags=e2e -count=1 -short ./test/e2e

## Actual Behavior
when running e2e/TestMinScale, it failed with following error.
[code]
Then check namespace serving-test and found pods failed to start due to lack of proper psp as admission controller is

[2019-06-06 06:04] jroper opened #4277 "Queue proxy -> user container traffic is going through envoy"
By default, Istio directs all inbound traffic on configured container ports through envoy, and it doesn't exclude traffic coming from localhost. This means that requests from the queue proxy to the user container are going through envoy. Apart from the performance hit this entails, the most visible consequence of this is that any traffic reported by Istio to Prometheus and displayed in Grafana is

[2019-06-06 06:35] jroper commented on #4277
Actually I'm not sure if this is true - I am definitely seeing 100 req/s when only generating a load of 50 req/s, but local debugging I can't see requests going through envoy when using curl (envoy adds response headers).

I think `"traffic.sidecar.istio.io/includeInboundPorts": "8012"` should still be added as an annotation, to prevent autoscaler and similar traffic from going through envoy, I tr

[2019-06-06 11:15] RPing opened #4279 "nil pointer dereference in reporter"
## In what area(s)?

## What version of Knative?

0.5.2

## Expected Behavior

no nil pointer dereference.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

I have two clusters, both knative serving version are 0.5.2.
First one install knative  by hand, and another enable CloudRun on GKE,
and both have the same error which a little bit annoying.
It seems that *PrometheusStatsReporter

[2019-06-06 12:02] knative-flaky-test-reporter-robot opened #4280 "[flaky] test/conformance/api.TestReleaseService"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api.TestReleaseService
* **Repository name**: serving

[2019-06-06 12:21] bbrowning commented on #4182
I see this as tangentially related to #3706, as both are about not making users poke at Istio bits to figure out how to get traffic to their Knative services. Long-term, the default-domain job is something that should instead live within https://github.com/knative/serving-operator once that gets bootstrapped.

@sixolet Is your specific request in this issue to just ensure the existing default-doma

[2019-06-06 13:48] yuxiaoba opened #4281 "Helloworld example get 503"
## What version of Knative?
Knative 0.6

## Expected Behavior
[code]

## Actual Behavior
[code]
## Steps to Reproduce the Problem
### Install Kubernetes 1.13
[code]
### Install Istio 1.1.3 by istio-lean.yaml
[code]
I have changed the type of `istio-ingressway` from `LoadBalancer` to `NodePort` because my cluster is not support `LoadBalancer`
### Install Knative 0.6
[code]

### Apply helloworld exa

[2019-06-06 13:49] yuxiaoba commented on #4281
The logs of istio
[code]

[2019-06-06 13:58] yuxiaoba commented on #4281
The logs of Knative serving controller
[code]

[2019-06-06 16:36] vagababov commented on #4281
`invalid: spec.externalName: Invalid value:
\"istio-ingressgateway.istio-system.svc.cluster.local.`
I think you have a trailing period there, which should not be there.

On Thu, Jun 6, 2019 at 6:58 AM yuxiaoba <notifications@github.com> wrote:

[2019-06-06 17:57] #4225 closed

[2019-06-06 18:07] rgregg opened #4283 "Support GRPC and HTTP2 without explicit port labeling"
## In what area(s)?

/area networking

## Describe the feature
Today to use GRPC or HTTP/2 for ingress into your service, you have to explicitly label the ports (see the GRPC sample: https://github.com/knative/docs/blob/master/docs/serving/samples/grpc-ping-go/sample.yaml)

However, the Runtime Contract states that the platform will perform automatic detection between HTTP/1.1, QUIC, and HTTP/2.

[2019-06-06 18:10] vagababov commented on #4279
`* PrometheusStatsReporter` does not have the nil value (0xc0001abc20 -- that's the receiver).
What is nil is the `Stat` struct.

[2019-06-06 18:18] vagababov commented on #4279
Looking at the code, this can only happen when the channel is closed, i.e. when queue-proxy is destroyed.
Here it's closed: https://github.com/knative/serving/blob/release-0.5/cmd/queue/main.go#L271
And here we never send nil: https://github.com/knative/serving/blob/release-0.5/pkg/queue/stats.go#L127
I'll fix it for the HEAD, but I don't think this merits backport.

[2019-06-06 18:19] vagababov commented on #4279
/assign

[2019-06-06 18:44] dgerd commented on #4283
I have a proposal out to update this in the runtime contract to reflect our current behavior. Discussion on it can be seen here: https://github.com/knative/serving/pull/4035/files#r283535192

I suggest the update to the contract as we do not have line of sight to implementing this as it has strong dependencies on features in Envoy and Istio which AFAIK are not being worked on. Some background on h

[2019-06-06 19:38] dgerd commented on #2969
This issue is essentially to ensure that the Docker socket (or OCI runtime equivalent) interface is not directly exposed to the container. After spending some time thinking about this issue it is not clear that there is a great way to consistently validate this in a test. The socket may be mounted as a file, available through a port, or exposed in many different ways based on container configurati

[2019-06-06 20:51] dgerd commented on #3208
I have the bandwidth again to pick this back up.

/assign @dgerd

[2019-06-06 21:37] #2786 closed

[2019-06-06 23:26] #4279 closed

[2019-06-06 23:54] yuxiaoba commented on #4281
@vagababov Thank you for your help，could you tell me how to remove the trailing period

[2019-06-06 23:58] tcnghia commented on #3419
@andrew-su ClusterIngress.Visibility could be a convenient fallback when a rule is missing its own Visibility setting.

[2019-06-07 00:38] #4266 closed

[2019-06-07 04:00] #4234 closed

[2019-06-07 04:04] mattmoor commented on #4257
/assign

[2019-06-07 12:02] #4131 closed

[2019-06-07 12:02] #3553 closed

[2019-06-07 12:02] #4132 closed

[2019-06-07 15:28] joshrider commented on #4014
@dgerd how do we want to handle `periodSeconds`?

As you mentioned above, the retry interval is currently hardcoded into the queue proxy (at a rate of 50ms). `periodSeconds` on the k8s probe object is an integer representing a number of seconds, so it seems like what we would display in the Revision spec will either be inaccurate (if we keep things as they are now) or much slower.

Assuming we wan

[2019-06-07 15:47] joshrider commented on #4014
/assign @shashwathi

[2019-06-07 16:32] vagababov commented on #4281
Do you have some customization on your knative deployment?

[2019-06-07 17:07] #4257 closed

[2019-06-07 17:29] poy commented on #3368
@mattmoor Now that K8s has moved to go modules, is this worth thinking about now?

[2019-06-07 17:35] mattmoor commented on #4206
/assign
I'm going to add a template for this naming, and maybe change it to `{{.Tag}}-{{.Name}}` by default, which skirts the problem because BYO-name must have `{{.Name}}-` as a prefix.

[2019-06-07 18:20] #3824 closed

[2019-06-07 18:41] houshengbo commented on #4281
Try running the command "kubectl get cm config-istio -n knative-serving -o yaml" to see the value for "gateway.knative-ingress-gateway". it should be set to "istio-ingressgateway.istio-system.svc.cluster.local".

if you install from source code: you can edit the value for "gateway.knative-ingress-gateway" in file config/config-istio.yaml.

However, where and how the kubernetes service is install?

[2019-06-07 22:35] #3090 closed

[2019-06-07 23:08] #3826 closed

[2019-06-08 03:14] #4206 closed

[2019-06-08 03:59] yuxiaoba commented on #4281
@houshengbo
[code]
It seems the value is normal.

I don's remember I have offered an existing domain name for services， how can I see this?

[2019-06-08 06:00] chaodaiG opened #4297 "Helloworld sample app instruction not working with nightly release"
## In what area(s)?

/area API

## What version of Knative?
nightly release

## Expected Behavior

Helloworld sample app instructions work with nightly release

## Actual Behavior

One of the steps failed:
`kubectl get ksvc helloworld-go --output=custom-columns=NAME:.metadata.name,DOMAIN:.status.domain` returned no DOMAIN

## Steps to Reproduce the Problem
1. Create GKE cluster with Istio Addon
1.

[2019-06-08 06:01] chaodaiG commented on #4297
This is likely caused by deprecation of `domain` in status from this PR: https://github.com/knative/serving/pull/4197

Question is how to fix instructions in docs?

[2019-06-08 12:02] #4280 closed

[2019-06-08 14:38] mattmoor opened #4298 "Intermittent flake in autostaling test."
## In what area(s)?

/area autoscale
/area test-and-release

## What version of Knative?

HEAD

## Expected Behavior

Test Passes

## Actual Behavior

[code]

## Steps to Reproduce the Problem

It's an intermittent flake (I saw it yesterday as well), so get a bit lucky.  I'd try to use the callstack above to narrow things down.  Seems like we're passing a logger to something that doesn't shut down

[2019-06-08 17:38] vagababov commented on #4298
This seems to be an extremely rare race condition.
https://github.com/knative/serving/blob/ee57bc225eeb96093d006ed401dbb9d92a1a7446/test/e2e/diagnose.go#L16 -- returns the stop channel which we close in the test (autoscale_test.go). And the test probes every 15s.
So if they align precisely there's a 50% (since select cases are chosen randomly) chance that we'll get this.

[2019-06-08 17:39] vagababov commented on #4298
Well, actually since this is in go routine and it takes some time to execute the checks.
we can introduce another channel to deal with it...

[2019-06-08 17:50] vagababov commented on #4298
/assign

[2019-06-08 21:53] #4298 closed

[2019-06-09 00:19] xpepermint commented on #4081
+1 on `knative 0.6.0`, `istio 1.1.8`, `Flannel` network fabric

[2019-06-09 02:01] xpepermint opened #4300 "Expose function to internet"
I'm following the guide [Using a Custom Domain](https://knative.dev/v0.5-docs/serving/using-a-custom-domain/) but I can not access my functions from a remote server. Do I need to configure an Ingress or something?

[2019-06-09 03:42] yu2003w opened #4301 "ContainerMissing in revision when application images are stored in private docker registry"
## In what area(s)?

/area API
/area networking

## What version of Knative?

## Expected Behavior
Application deployed via knative serving should started successfully.

## Actual Behavior
Application failed to start and revision reported error "ContainerMissing".
It seemed that knative serving failed to resolve docker registry address within k8s cluster.

[code]
Error information captured from co

[2019-06-09 03:58] vagababov opened #4302 "Autoscaler unit tests are not -count=2 abble"
/area autoscale
/area test-and-release

/kind good-first-issue

## What version of Knative?

HEAD

## Expected Behavior

You can run `go test ./pkg/autoscaler/. -count=2`

## Actual Behavior

Test fails because metrics are not being reset between runs.

## Steps to Reproduce the Problem

Execute  `go test ./pkg/autoscaler/. -count=2`

[2019-06-09 12:02] knative-flaky-test-reporter-robot opened #4305 "[flaky] test/conformance/api.TestRouteCreation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api.TestRouteCreation
* **Repository name**: serving

[2019-06-09 20:21] rakelkar opened #4307 "Support model download via INIT containers"
## In what area(s)?

 /area API

## Describe the feature
KFServing would like to enable data scientists to refer to ML models in a consistent way across ML Inference Hosts (like TFServing and TensorRT) without requiring the build of a derived container.

See discussion and proposed design doc at: https://github.com/kubeflow/kfserving/issues/148

This requires KNative support for:
1. An INIT contai

[2019-06-09 20:21] rakelkar commented on #4307
Not sure if area label is correct

[2019-06-09 20:21] rakelkar commented on #4307
@mattmoor

[2019-06-10 06:05] houshengbo opened #4309 "test/e2e-tests.sh failed: error during /var/folders/dv/xc31k8vx1gg1llvqd4k6z15h0000gn/T/get-kube191347849: exit status 22"
Download the latest source code, and run test/e2e-tests.sh. I received the following error:

[code]

It looks like there is a broken link for kubernetes-client-darwin-amd64.tar.gz at https://storage.googleapis.com/kubernetes-release-gke/release/v1.13.6-gke.5/kubernetes-client-darwin-amd64.tar.gz.

[2019-06-10 15:39] n3wscott opened #4310 "Consider using kelseyhightower.EnvConfig"
/kind good-first-issue
/kind proposal

## Describe the feature

In eventing we have been passing env vars around and instead of doing the `os.getEnv` thing, we have been using the [EnvConfig](github.com/kelseyhightower/envconfig) lib, see: https://github.com/knative/eventing/pull/1374/files#diff-4fb3ac9f29dd139a38cda1043566e569R46

It makes pulling env vars way better.

[2019-06-10 15:40] mattmoor commented on #4310
In particular, I had [this](https://github.com/knative/serving/blob/6e56283484a4e8bb1f82db42b5e49f7edc762a03/cmd/queue/main.go#L97) in mind.

[2019-06-10 17:22] jonjohnsonjr commented on #4301
You're hitting a limitation of our tag to digest resolution: https://knative.dev/docs/serving/tag-resolution/

The quickest fix would be to just disable it for your on-cluster registry, but ideally we'd like to get this working out of the box, if you have any ideas :smile:

See https://github.com/knative/serving/issues/1996 and https://github.com/triggermesh/knative-local-registry

[2019-06-10 20:50] emesx opened #4311 "Setting labels on a Service does not propagate to a (new) Revision"
## Expected Behavior

When I set labels on a Service, they get propagated to sub-resources like the new Revision.

## Actual Behavior

They are not propagated.

## Steps to Reproduce the Problem

Set labels on a Service instance (with a nonce label). Check the new Revision. The labels are not present there (only in the Service).

[2019-06-10 23:46] dgerd commented on #4311
The current behavior of this is:

* Service labels are propagated to Configuration and Route labels ( https://github.com/knative/serving/pull/2833 )
* Revision metadata (including labels) is populated from `configuration.spec.template.metadata` ( https://github.com/knative/serving/blob/master/pkg/reconciler/configuration/resources/revision.go#L31 )
    * Configuration, ConfigurationGeneration, and

[2019-06-10 23:56] ZhiminXiang opened #4312 "Split the global shared Gateway when Gateway reconcilation is turned on"
## In what area(s)?

## Describe the feature
Currently we install a single shared [Istio Gateway](https://github.com/knative/serving/blob/master/config/202-gateway.yaml), and reconcile it for all Ingresses when turning on Gateway reconcilation.
This model has following drawbacks:
1. We have multiple threads to do the reconcilation work. When reconciling a global resource, there will be a race cond

[2019-06-11 00:13] evankanderson commented on #2969
I'm fine with that solution.

On Thu, Jun 6, 2019 at 12:38 PM Dan Gerdesmeier <notifications@github.com>
wrote:

--
Evan Anderson <argent@google.com>

[2019-06-11 00:35] houshengbo opened #4331 "Clusterrolebinding is always removed by e2e-common.sh"
kubectl create clusterrolebinding cluster-admin-binding \
     --clusterrole=cluster-admin \
     --user=$(gcloud config get-value core/account)

The clusterrolebinding should be created before running the command ./test/e2e-tests.sh --run-tests, which means it is out of the scope of e2e-tests.sh to create this clusterrolebinding.
However, in the end of ./test/e2e-tests.sh, the clusterrolebinding

[2019-06-11 01:36] gyliu513 commented on #4309
@zxDiscovery can you help check?

[2019-06-11 07:01] tzununbekov commented on #4302
I'd like to work on this one, but I can't reproduce the issue: both `-count=1` and `-count=2` are passing successfully in my tests, debug output is identical for both iteration. @vagababov is it still relevant?

[2019-06-11 07:04] vagababov commented on #4302
Hm, may be I had a transient change that caused that...
/close
I'll reopen if I see that again.

[2019-06-11 07:04] #4302 closed

[2019-06-11 10:09] daisy-ycguo opened #4320 "fluentd doesn't forward logs to ELK because of "pattern not match""
## In what area(s)?

## What version of Knative?

## Expected Behavior

fluentd could forward logs to ELK and an index pattern with `logstash-*` in Kibana can be created.

## Actual Behavior

fluentd-ds reported many warnings e.g.
[code]

The index pattern with `logstash-*` in Kibana can not be created. The error reported by Kibana is `Unable to fetch mapping. Do you have indices matching the patt

[2019-06-11 11:50] #3236 closed

[2019-06-11 13:32] joshrider commented on #4014
I've run into some questions about how to translate a RevisionSpec's probes over into something we'd want to execute from the queue-proxy against the user-container.

`periodSeconds`, `successThreshold`, and `failureThreshold` do not cleanly map over to the way we do things now.

At present, our [hardcoded](https://github.com/knative/serving/blob/release-0.6/pkg/reconciler/revision/resources/queue