[2020-01-17 23:33] nimakaviani commented on #6550
with activators running as DS, one side benefit I am interested to see is to have the autoscaler directly scrape the activators for metrics and move on from sampling, so hopefully improved scaling decisions.

@markusthoemmes can you elaborate on the following?

do you mean the mix up between data plane vs control plane responsibilities? anything specific?

Also in the original proposal for Node Lo

[2020-01-17 23:35] vagababov commented on #6550
Activators currently push metrics to the Autoscaler. So there's no sampling right now.

[2020-01-17 23:38] nimakaviani commented on #6550
I mean the autoscaler scraping individual pod metrics endpoints. It is still a big part of making autoscaling decisions.

[2020-01-17 23:40] vagababov commented on #6550
Yeah, but making Activator a DS does not really help here, or I fail to see how.

[2020-01-18 00:00] nimakaviani commented on #6550
we do sampling partly because scale is a concern (i.e. the number of pods to scrape and the individual network roundtrips). With the activators running as DS, we can potentially drop collecting per pod metrics via scraping metric endpoints directly and collect stats on all the pods running on the same node in one swoop from the activator. so the effort involved in collecting metrics is bound by th

[2020-01-18 00:15] markusthoemmes commented on #6550
Sure, a hierarchical approach to metric collection could improve our situation, but then again that‘s somewhat orthogonal right? It doesn‘t need to be the activator either? We could contrive a component that runs on each node, scrapes all metrics and forwards them to the autoscaler or is scraped by the autoscaler. I wouldn‘t want to conflate that with NLS necessarily.

[2020-01-18 00:21] nimakaviani commented on #6550
yeah totally. Prior to this discussion, I was in fact thinking of putting a proposal together to exactly suggest that, ie to have a DS that does metrics collection and reporting on a per node basis. Since improvements in the activator have enabled it already to do most of that book keeping tho, enabling the DS activator to relay that info could be quite trivial. But like you said, it can be done c

[2020-01-18 12:02] knative-test-reporter-robot opened #6565 "[flaky] test/conformance/ingress.TestPathAndPercentageSplit"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestPathAndPercentageSplit
* **Repository name**: serving

[2020-01-19 06:15] MIBc commented on #6564
I would like to try.

[2020-01-19 08:47] markusthoemmes commented on #6564
/assign MIBc

[2020-01-19 10:46] nak3 opened #6568 "Migration of ingress.class does not work without recreating ingress manually"
## In what area(s)?

/area networking

## What version of Knative?

HEAD

## Expected Behavior

When ingress.class is updated by either annotation or config-network, ingress's annoation is updated without any operation.

## Actual Behavior

Ingress does not update the annotation, so migration of ingress.class does not work until recreating ingress manually.

## Steps to Reproduce the Problem

####

[2020-01-19 11:02] nak3 opened #6570 "VirtualService remains when migrating from Istio ingress to other ingress"
## In what area(s)?

/area networking

## What version of Knative?

HEAD

## Expected Behavior

When ingress.class in Ingress is updated from Istio to Kourier or others, VirtualService is not deleted.

## Actual Behavior

VirtualService is not cleaned up even when `ingress.class` in Ingress is updated.

## Steps to Reproduce the Problem

#### 1. Deploy any ksvc and check VirtualService is deployed

[2020-01-19 12:02] #6490 closed

[2020-01-19 13:53] richard2006 commented on #5829
I agree with @TheEvilCoder42 , can we support set queue requestCpu smaller，or even zero

[2020-01-19 19:27] markusthoemmes commented on #6568
Hmm interesting. I‘d actually think the current behavior is expected as the default is the default at creation time (I think). Globally resyncing all ingress if that option changes seems dangerous.

That being said this raises an interesting question: Can we even migrate from one ingress to another (as your other issue shows)

[2020-01-19 19:37] markusthoemmes commented on #913
I think we do this if tracing is enabled? The queue proxy is instrumented AFAIK.

[2020-01-19 19:38] markusthoemmes commented on #2312
I believe this is done as of 0.11 @mattmoor ?

[2020-01-19 20:06] mattmoor commented on #2312
As these are written now it is certainly a bit more case by case.  You can now tweak some stuff in the yaml, but otherwise customizations would simply be made by configuring the appropriate reconciler.

I think that we can let this go and open new issues for any specific customizations we may want.

/close

[2020-01-19 20:06] #2312 closed

[2020-01-19 20:20] vagababov commented on #5829
@TheEvilCoder42 50 running idle pods defeats the purpose of knative, i.e. scaling.
Annotation that we have does not specify the absolute value, but rather percentage, so you need `10`, rather than `10m`.

[2020-01-20 02:34] jjangga0214 opened #6571 "helm: Error: unable to build kubernetes objects from release manifest: unable to recognize "": no matches for kind "Image" in version "caching.internal.knative.dev/v1alpha1""
## Ask your question here:
Hi, I just made a helm chart with plain Serving manifest. And an error happens.

[code]

Do you know how this could be resolved with helm?

Regardless of anwser, thanks for a great project!

[2020-01-20 08:09] MIBc commented on #6550
I want to ask a question. All packets will go through activitor if we use `kpa`. Is there a highly available solution for activitor?

[2020-01-20 09:52] markusthoemmes commented on #6550
@MIBc

It's more nuanced than that but the activator can be scaled out already. Can you please move that question to Slack and/or a seperate Github issue to not derail this thread too much.

[2020-01-20 12:02] #6565 closed

[2020-01-20 12:23] markusthoemmes commented on #6568
FWIW my comment was regarding the config-network change not causing a global resync.

[2020-01-20 16:17] mattmoor commented on #6550
My main concern with conflating this with the activator is that it requires the activator to be running everywhere we might run a serving pod, otherwise we lose metrics.  Activator->DaemonSet would certainly be a step towards being able to do that, but we should weigh carefully whether we want to take the additional steps (I'm not for/against this, just trying to think through the implications to

[2020-01-20 16:28] markusthoemmes commented on #6550
Don't underestimate the power of meshes that don't allow podIP-connectivity! 👿

[2020-01-20 17:48] tshak commented on #6265
Update: After leaving the cluster running all day, the issue eventually came back. The workaround from above seems only reliable for preventing this from a consistent repro in a brand new install. Let me know if there's additional debug data needed.

[2020-01-20 18:28] mattmoor opened #6582 "Kubernetes 1.16 minimum version"
/area API
/area test-and-release
/kind process

## Describe the feature

This happens in knative/pkg, but opening this here to track.

This is in accordance with our Release Principles.

[2020-01-20 18:29] mattmoor opened #6583 "Upgrade to 1.17 client libraries"
/area API
/area test-and-release
/kind process

## Describe the feature

Happens in pkg, tracking this here.

This is blocked on: https://github.com/knative/serving/issues/6582

[2020-01-20 18:30] mattmoor opened #6584 "Switch to CRDs v1"
/area API
/kind process

## Describe the feature

Once https://github.com/knative/serving/issues/6582 happens, we should be able to adopt the `apiextensions.k8s.io/v1` `apiGroup`.

[2020-01-20 18:53] mattmoor commented on #6529
Coming into this conversation a bit cold on context, so forgive my hot take. :)

This seems like exactly what we want.  If the activator pods are having *persistent* issues then someone should be paged because the dataplane isn't functioning.

I'll offer the caveat that perhaps we need to fine tune our tolerance for failed probes, which IIRC is effectively the default today.  I think this is a mid

[2020-01-20 19:10] #6551 closed

[2020-01-20 23:41] nak3 commented on #6570
/assign

[2020-01-21 06:47] richard2006 opened #6588 "Failed to find and set latest ready revision"
## In what area(s)?

## What version of Knative?

## Expected Behavior

After delete the latest ready revision, and the service status will still be ready, like in 0.10.0 version

## Actual Behavior
After delete the latest ready revision, and the service status is Unknown
[code]

## Steps to Reproduce the Problem
1. Create helloworld-go ksvc
2. Update the ksvc to produce a new revision, and set th

[2020-01-21 06:57] markusthoemmes commented on #912
/remove-lifecycle rotten

I think this is still valuable.

[2020-01-21 10:49] nak3 commented on #6478
/kind proposal
/assign

@feclist No problem. I am adding the label and will look into this.

[2020-01-21 12:27] antoineco commented on #6346
Ref. #6488

[2020-01-21 14:43] mattmoor commented on #283
/remove-lifecycle rotten

The tentative plan here is to follow onto the subsetting and node-local scheduling work with something that does a trivial prefetch to ensure the node has the image.

[2020-01-21 17:32] JRBANCEL commented on #6529
Absolutely, but wouldn't it be cleaner to do this is `metrics` + `alerting` instead of failing the health probe and having k8s kill the container. Today, we can't distinguish between this behavior and Activator not starting, or crashing for example.

Yes, today the probe will fail if the WebSocket connection happens to not be ready at the exact time the probe is executed.

I agree, but on the othe

[2020-01-21 18:04] vagababov commented on #6529
I'd go with more spaced and more repeats.

[2020-01-21 19:48] #6570 closed

[2020-01-21 20:19] #6568 closed

[2020-01-21 20:47] taragu commented on #6588
/assign

[2020-01-21 21:35] bbrowning commented on #3706
/remove-lifecycle stale

Keeping this from rotting as it's something we should revisit for the best out-of-the-box user experience. And we want to ensure the ongoing ingress v2 work in the K8s community can satisfy this need.

[2020-01-21 22:32] tcnghia commented on #6376
Doc link https://docs.google.com/document/d/1BpfL-2hCGoPB2dVDNsuXjF37wPqaNghxOcQsQOq8V_g/edit?ts=5e276fc1#

[2020-01-21 23:21] danehans opened #6593 "Add Kubernetes service-apis (i.e. Ingress v2) Support"
## Describe the feature
Kubernetes [service-apis](https://github.com/kubernetes-sigs/service-apis) is under active development to create the next generation of Kubernetes service API's (i.e. Ingress). This proposal is for knative/serving to adopt these api's as they mature. In order for the service-apis to meet knative/serving requirements, please review the existing [use cases](https://docs.googl

[2020-01-21 23:22] danehans commented on #6593
/cc @bbrowning @smarterclayton

[2020-01-21 23:23] danehans commented on #6593
xref: https://github.com/knative/serving/issues/3706 since service-apis intends to meet Istio ingress requirements.

[2020-01-22 00:09] mattmoor commented on #647
/remove-lifecycle stale

We still need this :(

[2020-01-22 00:15] nak3 commented on #5725
/close

Anyway this issue can be closed and we can track https://github.com/knative/serving/issues/4438.
Currently mTLS is enabled though we need to fix an issue mentioned in https://github.com/knative/serving/pull/6245#issuecomment-568324952.

[2020-01-22 00:15] #5725 closed

[2020-01-22 01:37] coryrc commented on #6264
Example implementations:
https://github.com/coryrc/serving/blob/restructure-conformance/test/conformance/api/v1/errorcondition_test.go
https://github.com/coryrc/serving/blob/restructure-conformance/test/e2e/errorcondition_test.go
https://github.com/coryrc/serving/blob/restructure-conformance/test/scenarios/container_failures.go
https://github.com/coryrc/serving/blob/restructure-conformance/test/co

[2020-01-22 03:22] richard2006 commented on #6588
@taragu Thanks

[2020-01-22 06:27] #6564 closed

[2020-01-22 07:07] markusthoemmes commented on #5813
/close

This seems done.

[2020-01-22 07:07] #5813 closed

[2020-01-22 12:03] knative-test-reporter-robot opened #6598 "[flaky] pkg/activator/net.TestRevisionBackendManagerAddEndpoint"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestRevisionBackendManagerAddEndpoint
* **Repository name**: serving

[2020-01-22 12:03] knative-test-reporter-robot opened #6599 "[flaky] pkg/activator/net.TestRevisionBackendManagerAddEndpoint/add_slow_ready_http2"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestRevisionBackendManagerAddEndpoint/add_slow_ready_http2
* **Repository name**: serving

[2020-01-22 13:18] markusthoemmes commented on #3064
I looked into this a little bit today. While the work on K8s has landed, it's behind a feature flag and not yet considered beta. It's therefore disabled by default, see https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/#feature-gates-for-alpha-or-beta-features.

The initial contributor is poking upstream to move the ball forwards there. I'm not sure it's valuable for

[2020-01-22 14:53] rhuss opened #6602 "[flake] service create - "referenced revision not found""
## What version of Knative?

## Expected Behavior

The creation of a service should always work

## Actual Behavior

Sometimes (but not so seldom), in the client integration E2E tests we get the following error when creating a service:

[code]

which translate to a simple service `Create` call (and waiting on the `Ready` status to become true.

More details (including logs) can be found at https:/

[2020-01-22 18:18] sxmon commented on #6346
The problem still happens in v0.12.0

[2020-01-22 19:10] markusthoemmes commented on #912
The bug above seems fixed, is this worth another look?

[2020-01-22 21:21] tanzeeb commented on #6516
/assign @hpandeycodeit

[2020-01-22 21:25] coryrc opened #6604 "revision_timeout_test needs refactoring"
/assign

This test has a bunch of private functions which could just be calls to existing library functions that now take additional arguments. Need to get rid of the private functions.

[2020-01-23 03:53] #6558 closed

[2020-01-23 06:32] markusthoemmes commented on #5698
I think we‘ve fixed this multiple times already @nak3?

[2020-01-23 06:38] nak3 commented on #5698
/close

Yes, we can close. Thank you.

[2020-01-23 06:38] #5698 closed

[2020-01-23 07:21] markusthoemmes commented on #5573
/remove-lifecycle stale

This is still relevant

[2020-01-23 10:06] julz commented on #3415
/assign

[2020-01-23 12:03] knative-test-reporter-robot opened #6611 "[flaky] pkg/reconciler/ingress.TestReconcile/clean_up_VirtualServices_when_ingress_class_annotation_is_not_istio"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/ingress.TestReconcile/clean_up_VirtualServices_when_ingress_class_annotation_is_not_istio
* **Repository name**: serving

[2020-01-23 12:03] knative-test-reporter-robot opened #6612 "[flaky] pkg/reconciler/ingress.TestReconcile"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/ingress.TestReconcile
* **Repository name**: serving

[2020-01-23 15:29] vagababov commented on #4123
/remove-lifecycle rotten

[2020-01-23 15:30] vagababov commented on #3895
/remove-lifecycle rotten
eh, I'll keep this around

[2020-01-23 16:23] tanzeeb commented on #6549
Ideally, we **should not retry** user-generated (ie. from the KService) errors, but we **should retry** system-generated (ie. from Istio) errors.

Istio sometimes returns 502/503/504 errors when the network changes have not yet propagated (eg. when a service is scaled up from 0).

What if we swapped `5xx` with something like `gateway-error`?

https://github.com/knative/serving/blob/b4146e9e03b1584

[2020-01-23 18:31] tcnghia commented on #6593
/cc @vaikas

[2020-01-23 18:45] hpandeycodeit commented on #6516
@mattmoor

I am unable to build serving on my mac:

[code]

Is this because of missing  'stdlib.h' ?

[2020-01-23 21:02] shashwathi commented on #6362
/assign

[2020-01-23 21:25] tcnghia opened #6619 "TargetBurstCapacity needs documentation"
## Expected Behavior
TargetBurstCapacity setting and behavior is documented.

## Actual Behavior
I couldn't find documentation.

## Steps to Reproduce the Problem

1.
2.
3.

## Additional Info

/assign @vagababov

[2020-01-23 22:01] itsmurugappan commented on #5918
/reopen this issue to make the probe paths consistent.
https://github.com/knative/serving/pull/6505#issuecomment-577880681

[2020-01-23 22:23] tcnghia commented on #5918
We should follow up https://github.com/knative/serving/pull/6505 with making other probe paths consistent with what we used in https://github.com/knative/serving/pull/6505 .

[2020-01-24 12:02] #6599 closed

[2020-01-24 15:07] nak3 commented on #6478
I've verified the issue. And here is the quick summary:

#### Issue summary
* The current Serving does not work grpc-web.
* There are two missing configs EnvoyFilter and corsPolicy in VirtualService. (both are configured in the blog post @feclist mentioned.)
* After adding the two configs, [hello world example](https://github.com/grpc/grpc-web/tree/master/net/grpc/gateway/examples/helloworld) work

[2020-01-24 15:28] mattmoor commented on #4569
/lifecycle rotten

@ZhiminXiang We should have an e2e test for changing tags and making sure that pre-existing tags (and the main route!) don't drop traffic.

[2020-01-24 18:04] vagababov commented on #4705
I think we removed the `1000` limit (infinity breaker solved that). And the rest should not really matter.
/close

[2020-01-24 18:04] #4705 closed

[2020-01-24 18:06] vagababov commented on #6550
The load test results are [in](https://mako.dev/benchmark?benchmark_key=6297841731371008&~l=p99000&tmin=1579766400000&tmax=1579852800000&tag=tbc%3Dalways).
The spike is when I had both HA free-floating and daemon-set together.
It seems like those two don't play nicely together :(

[2020-01-24 18:06] vagababov commented on #5980
/assign @markusthoemmes

[2020-01-24 18:07] vagababov commented on #5979
@savitaashture where we are on this?

[2020-01-24 18:08] vagababov commented on #5534
/remove-lifecycle stale

[2020-01-24 18:09] vagababov commented on #5534
@tcnghia, are you going to do this? I think we recently talked about it?

[2020-01-24 18:09] vagababov commented on #5161
/remove-lifecycle stal

[2020-01-24 18:11] vagababov commented on #2497
I guess this is basically our NLS work.
Since we have issue/FT for that, I am going to close this one out.
/close

[2020-01-24 18:11] #2497 closed

[2020-01-24 18:46] shashwathi commented on #6363
/assign shashwathi

[2020-01-24 18:51] shashwathi commented on #6363
@tcnghia :
what is the need for `RouteNamespaceLabelKey` ? Virtual services listed specifically checks in ingress namespace.

[2020-01-24 19:13] JRBANCEL opened #6625 "`pod_name` and `container_name` fields have been removed in 1.16"
## What version of Knative?
HEAD

## Issue
In Kubernetes 1.16, the metrics fields `pod_name` and `container_name` are becoming `pod` and `container`. This means:
1) [pkg/metrics/key.go](https://github.com/knative/serving/blob/master/pkg/metrics/key.go#L34) needs to be updated to use the same fields
2) the Knative Grafana dashboards need to be updated
3) the Kubernetes Grafana dashboards need to be

[2020-01-24 20:20] dgerd commented on #6588
@richard2006 Out of curiosity what was the intention in deleting the latestReadyRevision here?

In your steps to reproduce above after you delete the new Revision an identical one will be recreated by the Configuration reconciler. You can see this in the events list:

`  Normal   Created             17m                  configuration-controller  Created Revision "helloworld-go-p2jfp"`

Interesting

[2020-01-24 21:51] dgerd commented on #5732
/remove-lifecycle stale
as there is an open PR referencing this issue.

[2020-01-25 01:05] vagababov commented on #3276
@tanzeeb  I think our general architecture gears towards keeping activators and enhancing their functionality.
If you're not really pursuing this — we should close it out.

[2020-01-25 12:02] #6150 closed

[2020-01-25 15:54] mattmoor commented on #1185
/lifecycle rotten

This would actually be a great feature to start running through our process for expanding the networking abstractions that @tcnghia is putting together.  This isn't really a "good first issue", but I think it probably is a "good first project" for some of our budding community members that have gotten some changes under their belt.  I'd be happy to help someone navigate the wate

[2020-01-25 16:07] mattmoor commented on #1185
Just to level set on my (rough) expectations of work involved:
 - KIngress needs to support Host rewrites, and we need KIngress conformance tests that the various implementations are encouraged to adopt (per the principles @tcnghia is working on),
 - I think we need a new CRD for associating a "vanity" domain with an Addressable, which means figuring out an Alpha/Beta/GA plan, including testing, d

[2020-01-25 16:12] mattmoor commented on #2107
/lifecycle rotten

I think that we are pretty close here.  Most Knative components can now run in arbitrary namespaces because of the `system.Namespace()` library/convention we have adopted everywhere.  I haven't hit a single problem with running in any namespace with github.com/mattmoor/mink, so I think that aspect of the problem is solved.

We also should have a way to tell the injected informer

[2020-01-25 21:00] #6488 closed

[2020-01-25 21:04] ZhiminXiang opened #6628 "Need an E2E test for Auto TLS to test changing tag of Route"
## Describe the feature
We need an E2E test for Auto TLS to test that when tag of Route is added or changed, the traffic of existing main Route or sub Routes would not be affected.

[2020-01-25 22:20] ZhiminXiang commented on #4569
Yes, we need this E2E test. Created a tracking issue for adding the E2E test https://github.com/knative/serving/issues/6628

Specifically for this issue, I guess you created a DNS A record which mapped your wildcard domain (e.g. *.example.com) to the ingress IP. If this is the case, the issue was likely because the DNS TXT record for fulfilling DNS challenge interfered the original DNS A record.

[2020-01-26 12:02] knative-test-reporter-robot opened #6632 "[flaky] test/e2e/autotls.TestPerKsvcCert_localCA"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/autotls.TestPerKsvcCert_localCA
* **Repository name**: serving

[2020-01-26 15:02] tshak commented on #6549
@tanzeeb  is right - IIRC `gateway-error` is a pretty typical transient network condition that should be retried. However, the current behavior of retrying 5xx blindly is very bad. In my testing the retries are happening for all HTTP methods. Imagine a `POST` request getting blindly retried! Even for GET's, which _should_ be idempotent, there could be cascading affects as mentioned earlier. I'm no

[2020-01-26 16:04] jansauer opened #6634 "CrashLoopBackOff due to 'Failed to get k8s version'"
## What version of Knative?

0.10.x

## Expected Behavior

'webhook' and 'activator' pods are in 'CrashLoopBackOff' and won't run.

## Actual Behavior

'webhook' and 'activator' pods should be in status running.

## Steps to Reproduce the Problem

Follow the [Knative Install using Gloo on a Kubernetes Cluster](https://knative.dev/docs/install/knative-with-gloo/) guide with a fresh cluster.

[code]

[2020-01-26 16:36] markusthoemmes commented on #6634
We use the `GitVersion` part to figure out what version you're using, see

https://github.com/knative/pkg/blob/5ff923b836abcbeb6ac3ff2784db0d5b5786ade2/version/version.go#L61

[code]

My guess would be that the build tag is throwing the parser off or something 🤔

[2020-01-26 16:46] markusthoemmes commented on #6634
Indeed, the semver parser is the culprit. We should upstream a fix. Meanwhile: Should we change our version comparison to be based on `Major + Minor + ".0"` maybe? That sounds safer and wouldn't be subject to such parsing errors.

[2020-01-27 11:00] markusthoemmes commented on #6634
Opened https://github.com/knative/pkg/pull/1012 and https://github.com/knative/pkg/pull/1013 respectively to solve this issue one way or the other.

[2020-01-27 14:38] jansauer commented on #6634
I managed to work around it be adding the following env var to the effected pods but fixing it upstream would be awesome.
[code]
@markusthoemmes  thx for the info about the used version string as setting the var to the git version and not the normal version string was the missing info the get it working.

[2020-01-27 14:57] tshak commented on #6489
This actually happens for any reason that the readiness probe fails (e.g. returning HTTP 500). I think that this is the same bug just with broader criteria, so I won't create a separate issue.

## What version of Knative?
0.12.0

##  Steps to Reproduce the Problem

1. Deploy an app with a valid readiness probe
2. Configure the app to always return an HTTP 500 on the readiness probe
3. Check the re

[2020-01-27 15:29] tshak commented on #6054
`minScale` (and `enable-to-zero` in `config-autoscale`) should be ignored for stale revisions. While the revisions should not yet be GC'd, I can't think of a valid scenario where we'd want the pods to stay alive. If there is a scenario that I'm missing, I'd expose this in `config-gc` e.g. `stale-revision-preserve-pods`, but I prefer the simpler approach of just removing the pods once a revision be

[2020-01-27 16:03] ufou opened #6639 "Cluster local knative service not reachable from behind public istio ingress gateway"
## Ask your question here:
I'm not sure if my description is 100% correct, but this is what I'm trying to achieve:

We have a couple of knative cluster local services both reachable from their cluster local addresses from within a pod in the same cluster

We also have some working public knative services.

We wish to add a new public URL which is bound to the knative-ingress-gateway that has a Vir

[2020-01-27 17:35] vagababov commented on #6489
Can you add the yaml you're using as well, please?

[2020-01-27 17:36] vagababov commented on #6639
So do you want to program knative to do this, or you have added your own virtual service to target these kservices?

[2020-01-27 18:12] tcnghia commented on #6639
This is doable, but instead of routing to `svc1.default.svc.cluster.local` you will need to route to `cluster-local-gateway.istio-system.svc.cluster.local` while rewriting your URL to `svc1.default.svc.cluster.local` .

An example looks like this https://github.com/knative/docs/blob/master/docs/serving/samples/knative-routing-go/routing.yaml#L15 (replacing `istio-ingressgateway` with `cluster-loca

[2020-01-27 18:20] tshak commented on #6489
Here is the Configuration yaml for one of the repros that I had. In this case the Reason is empty (I'll include the revision yaml too). Currently if I apply a similar Configuration the Reason is set to `Deploying`, so it doesn't appear consistent. What is definitely consistent a deployment's `ProgressDeadlineExceeded` not being propagated if the probe never succeeds.

`configuration.yaml`
[code]

[2020-01-27 18:24] vagababov commented on #6054
1. So if it's HPA, as I said we don't scale to 0.
2. If it's KPA, we have a notion of `reachable`. If there is no route targeting the revision it's `minScale` is ignored and the revision is scaled to 0.

[2020-01-27 18:26] vagababov commented on #6054
`enable-to-zero` is the setting you specify that you don't want things to go to zero and the whole functionality is off for everything. We could in theory apply same logic as for the `minScale`, but this is a separate issue. You can file a feature request and it might be done at some point.

[2020-01-27 21:41] andrew-su opened #6642 "Expanding KIngress Visibility Setting"
/area networking

In the current design of Knative routing, traffic enters the cluster through a public Load Balancer that perform traffic splitting to public KServices.  Traffic within the cluster needs to go through a private LoadBalancer to perform traffic splitting to private KServices.

While the meaning of cluster-internal traffic is relatively clear, the meaning of ‘external traffic’ has mu

[2020-01-27 21:43] andrew-su commented on #6642
Proposal: https://docs.google.com/document/d/1IT7LUj2p2FtIKA4cQr2qCLdvGsPv8LP4fMv2anY8iaQ/edit#

[2020-01-27 21:45] andrew-su commented on #6642
[Proposal](https://docs.google.com/document/d/1IT7LUj2p2FtIKA4cQr2qCLdvGsPv8LP4fMv2anY8iaQ)

[2020-01-27 21:46] andrew-su commented on #6642
/cc @tcnghia
/cc @shashwathi

[2020-01-27 22:50] dgerd commented on #6625
cc @mattmoor @mdemirhan

[2020-01-27 23:57] #5977 closed

[2020-01-28 00:01] xpepermint opened #6645 "How to use FUSE storage"
Here's a common definition of a deployment using Google Cloud Storage with `gcsfuse`:

[code]

How can I convert this to a common Knative `Service`? Things like `securityContext` and `lifecycle` don't seem to be supported.

[2020-01-28 01:09] JRBANCEL opened #6648 "Ingress Prober Ready -> NotReady- > Ready flip-flop"
## What version of Knative?
HEAD

## Expected Behavior
In an undisturbed cluster, the status of a Knative service is stable.

## Actual Behavior
Every 10h, the Knative service status goes from `Ready` to `NotReady` to `Ready`.
In the reconciliation step, the controller asks `status.Prober` if the `VirtualService` is `Ready`.
Two options:

* Prober has no knowledge of the VS: it starts the probing

[2020-01-28 02:09] anniefu commented on #6255
Revision request count metrics are taken from queue-proxy now per #4418. However, there was an issue with the Prometheus scrape config that was recently fixed a couple of weeks ago by #6526.

If you pick up the new changes it should work. Note that the Prometheus pods need to be restarted to pick up the ConfigMap changes.

[2020-01-28 02:15] ahmetb commented on #6255
@anniefu thanks.
/close

[2020-01-28 02:15] #6255 closed

[2020-01-28 03:30] ilackarms commented on #6642
Similar to istio, Gloo has a `Gateway` CRD which is used to configure bind addresses, TLS configuration, and other options. In the case of Istio, the requirements and assumptions on the `Gateway` layer (as well as other control plane configuration such as `corev1/service` for the proxy instances).

Knative makes a few assumptions about this layer which are not well-documented. It would be helpful

[2020-01-28 03:38] ilackarms commented on #6642
Something I'll add about the current implementation: outside of Knative, Gloo does not assume/hard-code references to specific proxies. Because of the assumption of the existence of an `external/internal` gateway in  knative (reflected by the `visibility` setting on the Kingress CRD), Gloo is implement this assumption, though it limits the possible reference architectures for a Gloo-knative setup.

[2020-01-28 05:45] vagababov commented on #6648
We do (1) in KPA — we send a single probe if it's successful we proceed, otherwise probe asyncronously. it might be something you can look at.
Alternatively, you also need to reconcile everything on VS changes, not only when deleted, right?

[2020-01-28 06:06] JRBANCEL commented on #6648
It is worth exploring, but I think it is more complex in this case because they are many probes (one per node per port per host) and we want to throttle those probes, so this could still result in a reconcile taking multiple seconds and it is proportional to the number of Envoy pods, so not good for scalability.

Right, this is already done today. The cache I am talking about if for a given **vers

[2020-01-28 07:56] gadelkareem opened #6652 "Pods are not scaling down based on CPU"
## In what area(s)?

Other classifications:

## Ask your question here:
I am running Knative on Minikube and using autoscale-go service to test:
[code]

The service scales up to around 14 pods but never scales down. Why?

[2020-01-28 08:05] markusthoemmes commented on #6652
CPU based autoscaling makes use of the HPA. You can look at the HPA's status to see what's happening there via `kubectl get hpa` and then pick the one that corresponds to your revision's name.

[2020-01-28 08:15] gadelkareem commented on #6652
I got the following:
[code]

[2020-01-28 10:00] tshak commented on #6054
Thank you for your patience @vagababov. I was confusing the default autoscaler (KPA) with HPA since they're both horizontal. I'm still reproducing the issue with KPA and `minScale=1`. It looks like the issue is due to my readiness probe failing. In this case, even with the revision is not reachable, the pod is still around. If you wish I can file a separate bug.

[2020-01-28 12:03] #6611 closed

[2020-01-28 12:03] knative-test-reporter-robot opened #6653 "[flaky] pkg/activator/net.TestRevisionBackendManagerAddEndpoint/slow_podIP"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestRevisionBackendManagerAddEndpoint/slow_podIP
* **Repository name**: serving

[2020-01-28 12:03] #6612 closed

[2020-01-28 12:12] ufou commented on #6639
@tcnghia / @vagababov thanks both for your responses! I had already tried the rewrite but I was referencing the Gateway cluster local gateway object in knative-serving instead of the svc cluster local object in istio-system! Thanks so much for this help!

[2020-01-28 12:12] #6639 closed

[2020-01-28 17:45] vagababov commented on #6054
I think there's already a bug for this that you commented on yesterday (#6489). If you think it's different from your issue, please file a new one.

[2020-01-28 19:29] ssmall commented on #4470
/unassign

I've drafted a [proposal](https://docs.google.com/document/d/1ys4Nxe2NvpU8uVEDOlOwudKOJyIlg0XGfZkXBnSMQ9A/edit?usp=sharing) for solving this problem and reviewed it with the Observability WG, but don't presently have bandwidth to take it on. Anybody else should feel free to pick it up.

[2020-01-28 19:37] wslyln commented on #4470
/assign wslyln

[2020-01-28 20:50] ZhiminXiang opened #6659 "E2E Test for Auto TLS with HTTP01 challenge"
## Describe the feature
We need E2E test for Auto TLS with HTTP01 challenge.

[2020-01-28 20:51] #6553 closed

[2020-01-28 20:53] ZhiminXiang opened #6660 "E2E test for per namespace cert provision of Auto TLS with self-signed CA"
## Describe the feature
We need E2E test for per namespace cert provision with self-signed CA.

[2020-01-28 20:59] ZhiminXiang opened #6661 "E2E test for per ksvc cert provision of Auto TLS with self-signed CA"
## Describe the feature
We need E2E test for per ksvc cert provision of Auto TLS with self-signed CA

[2020-01-28 23:06] coryrc commented on #4263
I don't think you need to build the product in order to build tests, do you?

[2020-01-28 23:42] dgerd commented on #6645
There is currently not a way to convert that deployment to a Knative Service. You are correct that `securityContext`, `lifecycle`, and `volumeMounts` are disallowed.

Changing from question to feature request.

[2020-01-29 01:21] coryrc commented on #4421
/remove-lifecycle rotten

[2020-01-29 03:36] MIBc opened #6666 "prometheus restart frequently"
## In what area(s)?
/area monitoring

## What version of Knative?
0.11.x
## Expected Behavior
prometheus  run normally.

## Actual Behavior
Prometheus restart frequently. May be every 5 min.
I think the memory limitation(just 1G) for prometheus is two small. I removed the memory limitation. Everything is OK.
So I suggest we can remove the limitation when install [prometheus](https://github.com/kna

[2020-01-29 03:38] MIBc commented on #6666
cc @yanweiguo

[2020-01-29 10:07] gadelkareem commented on #6652
Also if I remove the custom-metrics-server from the serving.yaml, will Knative switch automatically to the default metrics-server or I need to make changes in the annotations?

[2020-01-29 12:03] knative-test-reporter-robot opened #6669 "[flaky] test/e2e/istio.TestIstioProbing/unsupported_protocol_(GRPC)"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/istio.TestIstioProbing/unsupported_protocol_(GRPC)
* **Repository name**: serving

[2020-01-29 12:03] knative-test-reporter-robot opened #6670 "[flaky] test/e2e.TestFastScaleToZero"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestFastScaleToZero
* **Repository name**: serving

[2020-01-29 12:03] knative-test-reporter-robot opened #6671 "[flaky] test/e2e/istio.TestIstioProbing/HTTPS_non_standard_port"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/istio.TestIstioProbing/HTTPS_non_standard_port
* **Repository name**: serving

[2020-01-29 12:03] knative-test-reporter-robot opened #6672 "[flaky] test/e2e/istio.TestIstioProbing/HTTPS"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/istio.TestIstioProbing/HTTPS
* **Repository name**: serving

[2020-01-29 12:03] knative-test-reporter-robot opened #6673 "[flaky] test/e2e/istio.TestIstioProbing/unsupported_protocol_(TCP)"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/istio.TestIstioProbing/unsupported_protocol_(TCP)
* **Repository name**: serving

[2020-01-29 12:03] knative-test-reporter-robot opened #6674 "[flaky] test/e2e/istio.TestIstioProbing/unsupported_protocol_(Mongo)"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/istio.TestIstioProbing/unsupported_protocol_(Mongo)
* **Repository name**: serving

[2020-01-29 14:26] tshak commented on #6054
They would only be related if the reason that the pods are not removed because the revision state is not getting updated. I'll add a note to #6489 to validate that this happens when `minScale>=0`.

[2020-01-29 15:04] gadelkareem commented on #3134
Is it already possible to disable the custom-metrics-server and switch the class to https://github.com/kubernetes-sigs/metrics-server ?

[2020-01-29 18:39] vagababov opened #6680 "Permit only one probe from QP to UC at the same time."
Remove the '> ' to select
/area API
/area autoscale

## What version of Knative?

0.8+

## Expected Behavior

When many things probe QP the UC should not be overwhelmed with probes

## Actual Behavior

it is

## Steps to Reproduce the Problem

Scale activators to 15 instances and run Scale to 10 integration test

/assign @vagababov

[2020-01-29 19:19] shashwathi opened #6681 "GRPC traffic should load balance during autoscale"
## In what area(s)?
/area autoscale
/area networking

## What version of Knative?
0.11.x

## Expected Behavior
When pod autoscales with GRPC traffic, responses should be generated from more than one pod.

## Actual Behavior
Only the first pod responds to GRPC client.

## Steps to Reproduce the Problem
1. Update the GPRC example app to respond with `os.Hostname`
1. Bombard GPRC traffic to trigger a

[2020-01-29 19:28] vagababov commented on #6681
Once you establish gRPC connection it is bound to a single pod. You need to have several client side connections (https://grpc.io/blog/grpc_on_http2/)
The alternative is
- building grpc LB proxy (probably we don't want that)
- http2 LB?

[2020-01-29 19:32] shashwathi commented on #6681
@vagababov : In this PR every goroutine creates separate connection and they still connect to the first pod. https://github.com/knative/serving/pull/6618
Am I missing something here?

[2020-01-29 19:33] vagababov commented on #6681
Do you see pods actually scale?

[2020-01-29 19:35] shashwathi commented on #6681
Yes pods scale up and down with varying traffic. In [e2e test PR](https://github.com/knative/serving/pull/6618) I have added assertions to verify the same.

[2020-01-29 19:35] vagababov commented on #6681
But all the new connections go to the same pod?

[2020-01-29 19:36] shashwathi commented on #6681
Yes thats what I notice in the test

[2020-01-29 19:38] vagababov commented on #6681
What's your container concurrency or tbc settings?

[2020-01-29 19:41] vagababov commented on #6681
It's 6, it seems. Try with 1 and tbc=-1, I don't think we can really control how Istio would LB grpc traffic.

[2020-01-29 19:44] tanzeeb commented on #6681
I wonder if using the "grpc" port name will have an affect

[2020-01-29 20:01] coryrc commented on #4263
If, using docker-in-docker, we install the runtime test images to a private registry image: https://docs.docker.com/registry/deploying/

Could we then install that registry into Knative's cluster and use the images from there? Then the test would be self-contained.

[2020-01-29 22:22] vagababov commented on #3210
/reopen
This hasn't been done really (or no context is provided)

[2020-01-29 22:23] vagababov commented on #3210
/assign

[2020-01-29 23:24] #6648 closed

[2020-01-30 00:38] shashwathi commented on #6681
@vagababov : Updating to cc=1, tbc to -1 did not make any difference.

[2020-01-30 00:42] vagababov commented on #6681
That's interesting. I wonder if the gRPC subsystem reuses the connection internally.

[2020-01-30 00:45] shashwathi commented on #6681
@vagababov : @tanzeeb suspected the same. We looked into GPRC library and `grpc.Dial` should create a new conn from codebase. From cursory glance of codebase does not appear there is pooling , nor there is an option to create client without reusing connections

[2020-01-30 00:50] #3210 closed

[2020-01-30 02:06] nak3 commented on #6478
Just a small update.
[The usage in the blog](https://venilnoronha.io/seamless-cloud-native-apps-with-grpc-web-and-istio) adds envoy filter to side car. But it means we can use gRPC web only with mesh mode. For Knative, the access is always uses gateway, so we should add envoy filter to the Gateway instead of side car. I filed https://github.com/istio/istio/pull/20537 and will consider to add envoy

[2020-01-30 02:20] MIBc commented on #6625
Actually the field `pod` and `container` will be added in prometheus for queue-proxy and activitor metrics. I think changing name of `pod_name` and `contriner_name` are unnecessary. It will bring extra work.
I think the metrics are so far so good.

[2020-01-30 04:50] Uvindu96 opened #6687 "knative.dev/pkg/metrics/metrics.go:38:12: undefined: tag.MustNewKey"
## What version of Knative?

## Expected Behavior
I'm trying to build a Knative service spec using go lang, I have used the import "knative.dev/serving/pkg/apis/serving/v1" to import Knative modules to my project. This should allow me to create a Knative service spec.
my kantive version is (0.12)

## Actual Behavior
When i building the project with Knative modules, it gives me an error.

## Steps

[2020-01-30 04:57] vagababov commented on #6687
Knative doesn't work with go mod, I think.

You're missing opencensus  in your vendor directory (https://github.com/census-instrumentation/opencensus-go/blob/master/tag/key.go#L33).
I don't see this as a knative bug.
Feel free to re-open, if you think something else is wrong
/close

[2020-01-30 04:57] #6687 closed

[2020-01-30 08:13] gadelkareem commented on #6652
This happened both in minikube as well as on a multi node cluster so I guess it is a bug?

[2020-01-30 10:20] markusthoemmes commented on #6652
The CPU metrics should already be fetched via the "normal" metrics server I think. The custom-metrics API should not be at play here at all.

As we're passing stuff through to the actual HPA, I wonder what's up here though. It should be entirely in the hand of the HPA to scale things down 🤔

[2020-01-30 10:33] gadelkareem commented on #6652
so keep switching between custom-metrics and the metrics-server for CPU autoscaling and it easier does not work at all or scales up but cannot scale down. Does it work for you?

[2020-01-30 10:44] markusthoemmes commented on #6652
To be frank, I don't actually know! We definitely lack an E2E test for that :/.

[2020-01-30 12:03] #6598 closed

[2020-01-30 14:47] tanzeeb commented on #6681
Interesting

/assign @shashwathi @tanzeeb

[2020-01-30 19:25] DnPlas commented on #6353
Hi all, I'm hitting the exact same error, but for me it happens when trying to deploy the python example on an on-prem kubernetes cluster.
All pods on knative-* appear to be running, but when `kubectl apply -f service.yaml`, I get the following error msg:

`Error from server (InternalError): error when creating "service.yaml": Internal error occurred: failed calling webhook "webhook.serving.knativ

[2020-01-30 19:58] ZhiminXiang commented on #6628
Some thoughts about this test:
1. After the Knative Service is ready (https://github.com/knative/serving/blob/master/test/e2e/autotls/auto_tls_test.go#L77), we can start a background prober which keep probing the main Route, and check if there is any traffic loss to the main Route.

2. In the meantime, we give a main Route a `tag` name (https://github.com/knative/serving/blob/master/pkg/apis/servi

[2020-01-30 21:39] #6445 closed

[2020-01-31 07:21] duanshiqiang commented on #4029
Can I ask if the solution to resolve this issue is landed? I just tried with Knative 0.11 with Istio 1.4.3 and it seems the vanity host header is not preserved...

[2020-01-31 08:11] #6363 closed

[2020-01-31 14:48] mattmoor commented on #4029
@duanshiqiang Yes, but whatever rewrites the vanity domain needs to put the original Host header into `K-Original-Host` for it to be restored by the queue-proxy after routing decisions are made.

[code]

[2020-01-31 14:48] mattmoor commented on #4029
@duanshiqiang might I ask how you are setting up vanity domains?

[2020-01-31 14:49] mattmoor commented on #1185
Here's an important note when implementing this: https://github.com/knative/serving/issues/4029

[2020-01-31 15:25] tanzeeb commented on #6681
After taking a deeper look with @shashwathi, it looks like gRPC load balancing works fine. The test conditions in #6618 were sending all of the requests to the first pod before any of the other pods had a chance to come up.

[2020-01-31 16:46] shashwathi commented on #6681
We should add an e2e test that waits for the scaling to happen and then assert whether any incoming requests are load balanced across existing multiple instances.

[2020-01-31 17:03] mikehelmick opened #6698 "Inbound authorization for Service / Route"
/area API
/area networking

## Describe the feature

Allow users to specify pluggable authorization policies to control access to their knative services (and routes) on the data plane. A reference implementation should be provided that works with kubernetes service accounts.

[Full feature track proposal ](https://docs.google.com/document/d/1Nymrlp__dXKsp02Dpif0GN_Pskm6YXv6WjeF8trYzzk/edit?ts=5e26

[2020-01-31 17:32] vagababov commented on #6681
😄  and there I was worried

[2020-01-31 19:14] JRBANCEL commented on #6625
I am sure I understand what you are saying.
Are you saying that we will add the fields `pod` and `container` to the `queue-proxy` and `activator` metrics and keep adding the `pod_name` and `container_name` as well?
In this case, yes, we don't have to change the dashboards, but long term it is probably better to align with what k8s does.

[2020-01-31 20:48] tcnghia commented on #6681
@shashwathi @tanzeeb I see report of no-load-balancing when using gRPC streaming (new streams keep getting the same pod).  So when we add e2e test for  https://github.com/knative/serving/issues/6681#issuecomment-580813409 , I wonder if we can add coverage for streaming as well?  Thanks

[2020-01-31 23:16] tedsteen opened #6702 "Only assigning the domain svc.cluster.local puts services in state "Unknown""
## What version of Knative?

## Expected Behavior

Routes assigned the domain .svc.cluster.local should be deployed but not exposed to an Ingress with an external IP address.

## Actual Behavior

According to [docs](https://github.com/knative/serving/blob/master/install/CONFIG.md) this should work, but the service ends up in ready state "Unknown" with reason "IngressNotConfigured : Ingress has not

[2020-02-01 05:52] Kampe commented on #2921
/remove-lifecycle rotten

[2020-02-01 09:13] MIBc commented on #6702
I think it should be a domain which could be resloved by dns.
It seems like a k8s domain. I think it is useless.

[2020-02-01 09:42] nak3 commented on #6702
Although `svc.cluster.local` is useless for external gateway, Knative supports cluster-local-gateway so it should work fine with the config. Or, if we don't support it anymore, we should update the explanation in `config-domain` configmap.

The actual problem is that `spec.rules.visiblity` in KIngress should be set to `ClusterLocal` instead of `ExternalIP`, when the spec.rules.hosts is `.svc.clust

[2020-02-01 14:07] bvboca opened #6705 "Helloworld service failed with RevisionMissing and InternalError"
## Ask your question here:
Kubernetes: 1.16
Istio: 1.4.2
Knative: 0.12

I loaded the helloworld-go sample image to my local docker registry and tagged it as dev.local/helloworld-go.  I found the sample was failed with the following errors.

**Warning  InternalError  18m                service-controller  failed to reconcile Configuration: Operation cannot be fulfilled on configurations.serving.kna

[2020-02-02 13:12] MIBc commented on #6705
You can check revision status.

[2020-02-02 14:43] bvboca commented on #6705
I tried it agian. here's the log:

kubectl describe revision helloworld-go-1dot2-9bqdz
[code]

kubectl get deployments helloworld-go-1dot2-9bqdz-deployment  -o yaml

[code]

[2020-02-02 14:58] bvboca commented on #6705
kubectl logs deployment/controller -c controller -n knative-serving | grep "error"
[code]

[2020-02-03 06:39] markusthoemmes commented on #5934
@taragu are you still working on this? If so, please remove the stale status.

[2020-02-03 12:21] #5153 closed

[2020-02-03 15:10] taragu commented on #5934
/remove-lifecycle stale

[2020-02-03 15:19] bvboca commented on #6705
Also journalctl kubelete I found the following error, not sure if it's related to the problem.

[code]

[2020-02-03 17:16] dprotaso commented on #6035
/assign @dprotaso

[2020-02-03 19:24] vagababov commented on #6680
/close

[2020-02-03 19:24] #6680 closed

[2020-02-03 22:12] JRBANCEL commented on #6300
/assign

[2020-02-03 22:23] evankanderson commented on #6520
Requiring all containers to be conscious of network security seems like a problem, particularly if users end up reusing common containers (e.g. hugo for serving a website with the website layer added to a base hugo image).

[2020-02-03 23:04] shashwathi commented on #6362
@tcnghia :

what if user wants to create `route--mesh` object? Then `route` object VirtualService will clash with `route--mesh`  VirtualService. I am not sure if this is the right solution

[2020-02-04 01:17] JRBANCEL commented on #6300
First, TestGrid is misleading, when the test fails, it by timing out on `TestIstioProbing/unsupported_protocol_(Mongo)`.

Looking at `k8s.dump.txt` revealed that `knative-ingress-gateway` looks like this when this test case runs:
[code]
which doesn't match what the test is supposed to do.
The test is supposed to set the Gateway to only the `Mongo` entry: https://github.com/knative/serving/blob/385

[2020-02-04 01:19] tcnghia commented on #6362
Do we allow double dash for Route names?  If yes, may be we could add one more dash for every `---...-mesh` case?  I know it's quite ugly, and I don't like this either.

Using `GenerateName` (or random strings) makes things less deterministic, and also I think we will need to be careful, similar to that of `ChildName` in https://github.com/knative/serving/issues/6362#issuecomment-569351389: we wil

[2020-02-04 02:00] #6300 closed

[2020-02-04 02:12] bappr opened #6715 "Creating custom domain name dynamically"
## Ask your question here:

Based on this doc -> https://knative.dev/docs/serving/using-a-custom-domain/

I need to modify the config map to add custom domain names in Knative.
However,  my use case is more global because users can create on demand custom domain name on the platform.
Is it possible to do such thing? Maybe during creation of the kservice using annotations?

[2020-02-04 06:15] vagababov opened #6716 "Fix the min scale e2e test."
The e2e test for minScale currently checks the target scale by checking `spec.scale` of the deployment. Which is while a required condition, but it's not enough — we also need to verify that before the revision is marked ready the number of ready endpoints is also at least N.

## In what area(s)?
/area autoscale
/area test-and-release
/kind good-first-issue

/cc @markusthoemmes @tanzeeb

[2020-02-04 06:59] richard2006 opened #6717 "Change the Knative Service's autoscale config should not generate new revision"
## In what area(s)?
/area autoscale

## Describe the feature
After we deployed a service in production, we want to change the autoscale configuration like minSale,  and we change the `autoscaling.knative.dev/minScale`, but it will generate a new revision. And then we have to traffic to the new revision, indeed this will affect the online-service.
We hope change the autoscale configuration should n

[2020-02-04 07:16] richard2006 commented on #6588
@dgerd Yes, you're right. Using the Revision name will not  hit this bug.  But i hope we should fix this even not set the Revision name.

[2020-02-04 10:05] softshipper opened #6721 "Knative in production"
Hi folks

I would like to know, if Knative is production ready or not?

Thanks

[2020-02-04 11:03] MIBc commented on #6716
Let me try.

[2020-02-04 12:05] oceanweave commented on #6705
I meet the same problem. And try different version 0.9, 0.11, but make no sense. I also want to know how to slove the problem. THX.

[2020-02-04 14:49] enricofranco opened #6724 "Exposing Broker through Istio"
I am trying to expose a Broker through an Istio Virtual Service using a YAML like this one:

[code]

- The Broker is self-generated using annotations
- The Broker works as expected if i `curl` it from the internal Kubernetes network

It seems I can correctly reach the internal Broker if the request is wrong, and I get same responses obtain by performing internal `curl`:

- If I remove some Cloud E

[2020-02-04 17:31] vagababov commented on #6716
/assign @MIBc

[2020-02-04 17:34] vagababov commented on #6717
There are two ways to look at it:
1. the statement that we specify that `revision` is immutable.
2. the statement that `immutable` does not affect material serving properties.
Problem with (2) is that you need to enumerate all of the possible knobs and labels and annotations and make decision for all them, or it's kind of arbitrary... but 🤷‍♂
/cc @mattmoor @dgerd

[2020-02-04 17:50] vagababov commented on #6721
I would guess it depends on your definition of `production ready`.

[2020-02-04 18:00] dprotaso opened #6726 "Change the storage version to v1 types"
## Describe the feature
Once https://github.com/knative/serving/pull/6566 lands we should discuss changing the storage version to `v1` and the supporting machinery needed to help our end-users migrate the from one storage version to another

[2020-02-04 18:41] dgerd commented on #6588
I agree on fixing this, but I was curious on the use-case of deleting to see if we are missing a workflow that should be in our e2e tests or future API iterations.

[2020-02-04 18:53] #6034 closed

[2020-02-04 21:29] tcnghia opened #6727 "Route reconciler should not mix cluster local Ingress rules and external domain rules"
## What version of Knative?
HEAD

## Expected Behavior
Route controller should create an KIngress that separates the cluster-local Ingress rule from public KIngress rule.

## Actual Behavior
Many cluster local rules are mixed with public KIngress rule, and downstream Ingress controller has to special case the host name to do their own separation.

## Steps to Reproduce the Problem

/assign @tcnghi

[2020-02-04 23:33] JRBANCEL opened #6729 "CPU usage per revision in Grafana is 2x what is it really is"
## What version of Knative?
HEAD

## Expected Behavior
Given:
[code]
it is expected to see 651m in `Knative Serving - Scaling Debugging` > `Revision CPU Usage`:
![Grafana-1](https://user-images.githubusercontent.com/1249763/73796820-249fac80-4763-11ea-86dc-624e697bee86.png)

## Actual Behavior
The double is observed
![Grafana-0](https://user-images.githubusercontent.com/1249763/73796773-fde17600-4

[2020-02-05 01:46] knative-test-reporter-robot opened #6731 "[performance] Serving load testing"
### Auto-generated issue tracking performance regression
* **Repository name**: serving
* **Test name**: Serving load testing

[2020-02-05 02:56] richard2006 commented on #6717
If the autoscale configuration can reference the route,  we change the route in Knative service, it does not generate new revision.

[2020-02-05 05:59] vagababov opened #6733 "Autoscaler with minScale specified momentarily scaled below minScale"
## In what area(s)?
/area autoscale

## Expected Behavior

When minScale is specified for routable revisions KPA never scaled to below minScale.

## Actual Behavior

When a revision is just created with minScale (e.g. 5) there's a small gap between revision becoming ready and route shift, which means that a ready revision is not routable for short period of time. But it is enough for AS to scale d

[2020-02-05 06:46] softshipper commented on #6721
That is true. I am consider to use Knative in the production. My question to you is, would you use it in the production?
Thanks

[2020-02-05 06:54] vagababov commented on #6721
Me personally? -- Yes, but YMMV.

[2020-02-05 09:04] softshipper commented on #6721
The last question, are you using Knative in Production?

Thanks

[2020-02-05 12:03] #6671 closed

[2020-02-05 12:03] #6299 closed

[2020-02-05 12:03] #6296 closed

[2020-02-05 12:03] #6674 closed

[2020-02-05 12:03] #6298 closed

[2020-02-05 12:03] #6669 closed

[2020-02-05 12:03] #6673 closed

[2020-02-05 12:03] #6672 closed

[2020-02-05 12:04] #6301 closed

[2020-02-05 12:04] #6297 closed

[2020-02-05 12:18] MIBc opened #6736 "What is the activator behavior when a revision pod is activated"
## In what area(s)?

/area autoscale

/kind good-first-issue

## Ask your question here:
I have read the [doc](https://github.com/knative/serving/blob/master/docs/scaling/DEVELOPMENT.md) of scaling.
It said that when a revison pod was activated. The Istio route rule for the Revision pointed to the activated pod directly.
For v0.12.0, the Istio  rule is the virtualservice ?
I find that in the laste

[2020-02-05 13:30] markusthoemmes commented on #6736
This doc is vastly outdated and we'll hopefully replace it soon. I'm working on an updated version of the internals here: https://docs.google.com/document/d/1rrTlQ8adxKt1vQ2mMW1NpdSEVedua1a-HJ_Jxkq34s8/edit#

In a nutshell: We have a Kubernetes service in which we manually insert either the activator's IPs or the application's IPs.

We not only have the activator on the path when we're scaled to z

[2020-02-05 13:44] enricofranco commented on #6724
My mistake.

I forgot to rewrite the URL. Given that broker listens on path `/`, it is needed to add some lines to the YAML

[code]

[2020-02-05 13:44] #6724 closed

[2020-02-05 14:35] dprotaso commented on #6726
K8s has a tool to help with storage migration https://github.com/kubernetes-sigs/kube-storage-version-migrator

[2020-02-05 14:40] dprotaso commented on #6726
/kind cleanup

[2020-02-05 14:40] dprotaso commented on #6726
/area API

[2020-02-05 15:15] tanzeeb commented on #6733
Might be related to some of the edge cases @markusthoemmes identified here: https://github.com/knative/serving/pull/5147#discussion_r315249510

I'll take a look

/assign

[2020-02-05 15:20] tanzeeb commented on #6716
@MIBc some notes on the previous behaviour here: https://github.com/knative/serving/pull/5255

[2020-02-05 17:21] vagababov commented on #6721
No, but I support a GA product on top of knative for Google. In any case you need *more* datapoints :)

[2020-02-05 17:26] #5982 closed

[2020-02-05 18:23] #6702 closed

[2020-02-05 20:33] softshipper commented on #6721
what is a datapoints?

[2020-02-05 21:41] trshafer commented on #5739
/unassign

[2020-02-05 22:01] #6727 closed

[2020-02-05 22:48] shashwathi commented on #6362
Yes `--`, `---` and even `----` are all allowed in Route names.  So we cannot adopt dash naming solution for this problem

`ChildName` function is already used by both ingress and mesh VS name generation. I do not think that function will solve the name clash problem here.

Fair point. As per our discussion updating VS names to `route_name-ingress` and `route_name-mesh` (which is already the case)

[2020-02-05 23:29] JRBANCEL opened #6743 "Autoscaler scales up a ksvc for no good reasons"
## What version of Knative?
`v0.12.0-86-gbb1415ea8-dirty`
No ConfigMap was tweaked.

## Expected Behavior
I am working on reaching 1M QPS.
I have a simple Vegeta code that sends requests to the hello world example.
Every 30s, the QPS increase by 100.
Every 1k increase, the QPS is maintained for 2 minutes to evaluate stability.

I am expecting the `ksvc` to gradually scale, one pod at a time and th

[2020-02-05 23:34] vagababov commented on #6743
Since it's my doing, I'll try to fix it.
/assign

[2020-02-06 00:20] JRBANCEL commented on #6743
@vagababov, the code used to generate the load:
https://github.com/JRBANCEL/Experimental/blob/master/KnativeBenchmarking/cmd/vegeta/main.go

[2020-02-06 01:28] bvboca commented on #6705
Any one helps please？

[2020-02-06 02:00] MIBc commented on #6736
That is so cool.

[2020-02-06 04:46] zhangtbj opened #6747 "Improve the conformance test doc or script so that can run it separately"
Right now, in the test doc:
https://github.com/knative/serving/blob/master/test/README.md

It only said the requirement is:
[code]

But actually, there are many requirements that are defined in the e2e-tests.sh and e2e-common.sh

Such as install cert-manager, build test images, run different tests with different conditions.....

Now, I already have my cluster and install my Knative serving, I just

[2020-02-06 09:17] markusthoemmes opened #6749 "Add benchmarks for critical components and hot paths."
Knative intends to add as little overhead to pure HTTP as possible. As such, some of our components are exposed to the hot-path of just about each HTTP request coming into and flowing through the system.

We need benchmarks (both micro and macro) to be able to reason about the impact of changes we do and to be able to quickly iterate on different strategies to remove that overhead.

Off the top of

[2020-02-06 09:21] markusthoemmes commented on #5161
/kind good-first-issue
/good-first-issue

[2020-02-06 09:24] markusthoemmes commented on #5304
/kind good-first-issue
/good-first-issue

This is not super straightforward but I'm happy to mentor somebody who is willing to pick this up. We effectively need to surface changes to the status, which are done here: https://github.com/knative/serving/blob/f65d5a7bff2f212b2dde006483001a98cd7b06a2/pkg/autoscaler/collector.go#L286-L299 to the actual reconciler, so it'll put these Status onto the obje

[2020-02-06 09:24] markusthoemmes commented on #5304
/unassign @taragu

AFAIK you've been working on the first PR for this but you're no longer looking into this?

[2020-02-06 09:27] markusthoemmes commented on #5403
/remove-lifecycle stale

/kind good-first-issue
/good-first-issue

[2020-02-06 09:27] markusthoemmes commented on #5828
@romachalm any news?

[2020-02-06 09:34] markusthoemmes commented on #6258
/unassign

Not going to work on this right now. It likely needs a design document or even a feature track anyway as the changes to the activator might be non-trivial.

[2020-02-06 09:35] markusthoemmes commented on #6736
@MIBc it is, right? 😅

Is this issue solved/answered from your PoV?

[2020-02-06 09:36] markusthoemmes commented on #6716
/good-first-issue

[2020-02-06 09:37] markusthoemmes commented on #6516
/good-first-issue

[2020-02-06 09:39] richard2006 opened #6750 "queue-proxy restart cause the service unavailable"
## In what area(s)?
/area networking

## What version of Knative?

## Expected Behavior
Now the queue-proxy cosplay the request proxy role, when the user-container is normal, we should keep queue-proxy container running event if queue-proxy has panic error

## Actual Behavior
the queue-proxy container restart many times, while the user-container is running normally. It cause the service un
[code]

[2020-02-06 09:49] markusthoemmes commented on #6750
Do your logs have indication of why the handler panicked in the first place? The timeout handler is merely making sure that that behavior is kept the same. The real bug here should be the underlying handler panicking.

[2020-02-06 10:12] #5979 closed

[2020-02-06 11:16] romachalm commented on #5828
Hi, sorry for the late answer, missed the previous notifications.
I have reinstalled all my services from scratch. Since 0.10, I never had this issue again. The registry seems to be clean. So I will close the ticket.
Thanks for your help.

[2020-02-06 11:16] #5828 closed

[2020-02-06 11:24] richard2006 commented on #6750
Hi @markusthoemmes , i will try to get more log. But i‘m confused that in handler why `panic(p)` , this will cause the queue-proxy panic and restart

[2020-02-06 12:03] #6491 closed

[2020-02-06 12:03] #6292 closed

[2020-02-06 12:03] knative-test-reporter-robot opened #6752 "[flaky] test/conformance/api/v1alpha1.TestRouteCreation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestRouteCreation
* **Repository name**: serving

[2020-02-06 12:03] knative-test-reporter-robot opened #6753 "[flaky] test/e2e.TestGRPCAutoscaleUpDownUp"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestGRPCAutoscaleUpDownUp
* **Repository name**: serving

[2020-02-06 12:03] knative-test-reporter-robot opened #6754 "[flaky] test/e2e.TestWebSocketBlueGreenRoute"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestWebSocketBlueGreenRoute
* **Repository name**: serving

[2020-02-06 12:56] markusthoemmes commented on #6750
@richard2006 it only panics if the handler it wraps panics. In Java terms it doesn't catch the exception but rather throws it through. We don't want an arbitrary handler to hide issues, though it might be valuable to add a catchall handler that swallows and logs panics (maybe).

Still we need to find out what panicked in the first place.

[2020-02-06 13:13] MIBc commented on #6736
Yes. I will close the issue.

[2020-02-06 13:13] #6736 closed

[2020-02-06 14:07] MIBc commented on #6736
That means the activator would take off the path when my application is at steady state. Rright? @markusthoemmes

[2020-02-06 14:12] taragu commented on #5304
@markusthoemmes yep I'm no longer working on this

[2020-02-06 15:10] tanzeeb commented on #6516
@hpandeycodeit does `xcode-select --install` solve the problem?

[2020-02-06 15:45] markusthoemmes commented on #6549
We found a bug today that was likely covered up by retries from Istio. 🖐 for removing the retries on arbitrary 5xx and see what happens.

[2020-02-06 22:23] vagababov commented on #6550
So the actual implementation here is done, though it opened its own can of worms...
So I guess we can close it for now, and reopen if we decide to rollback the change

[2020-02-06 22:23] vagababov commented on #6550
/close

[2020-02-06 22:33] mattmoor opened #6763 "visibility test uses a fixed name"
/area networking
/assign @andrew-su

I see this at HEAD when I run `./test/conformance/ingress` multiple times:
[code]

cc @tcnghia

[2020-02-06 22:38] mattmoor commented on #6763
The problem is that this line doesn't use the "object name for test" helper:
[code]

[2020-02-06 22:54] mattmoor commented on #6763
I have a fix, I may as well send it.

[2020-02-06 23:29] #6763 closed

[2020-02-06 23:39] vagababov commented on #5161
Actually I looked at those.
They seem too entrenched. May be it's not the right time to remove those.
/close

[2020-02-06 23:39] #5161 closed

[2020-02-07 00:28] toVersus commented on #4549
/remove-lifecycle stale

[2020-02-07 01:05] #6362 closed

[2020-02-07 02:03] mattmoor commented on #4665
/remove-lifecycle rotten

[2020-02-07 02:25] mattmoor commented on #4665
So today we label the Revisions that are routable with the Route's label.  We key off of this label to establish whether or not to apply `minScale`.

What if we used this label as a second *virtual* key for aggregating metrics?  We would start to get a sense for the traffic flowing to a Route across the lifetime of many Revisions.

Now suppose that the Route also plumbed through the fraction of th

[2020-02-07 03:07] karanrk opened #6765 "Expose Grafana GUI outside my cluster"
## Ask your question here:

I followed port forward step and was able to view Grafana dashboard but only on localhost,
How can i expose it, is there a setting to change 127.0.0.1 to any?

[code]

[2020-02-07 05:00] vagababov commented on #4665
Basically, as I mentioned before, I want us to do the following
[code]

[2020-02-07 07:10] prary opened #6766 "helloworld-go IngressNotConfigured"
## In what area(s)?
Remove the '> ' to select:

## Ask your question here:
Trying to install knative-serving with contour. I ready have contour installed and exposed as internal service(not loadbalancer type).  While deploying simple helloworld application  I see ksvc readay state false and reason for it is IngressNotConfigured.

Since I am using already installed contour I feel problem is with co

[2020-02-07 07:52] markusthoemmes commented on #6766
This seems like you‘re lacking knative/net-contour from https://github.com/knative/net-contour. It‘s needed to adapt Knative‘s Ingress to Contour

[2020-02-07 08:03] prary commented on #6766
@markusthoemmes extremely thankful for your quick response. It would be great if you can elaborate bit more.

[2020-02-07 08:40] markusthoemmes commented on #6766
I‘d hope these docs are somewhat accurate 😂. https://knative.dev/docs/install/knative-with-contour/

Note the step applying a contour yaml from the 0.12 release.

[2020-02-07 12:03] prary commented on #6766
Hi @markusthoemmes I think we need to make slight modification to documentation by seperating ingress controller deployment which is present in ```https://raw.githubusercontent.com/knative/serving/v0.12.0/third_party/contour-latest/contour.yaml```(which I ignored since I had contour already installed).

So that user like me don't miss installing ```contour-ingress-controller```.
Btw thanks for you

[2020-02-07 13:55] MIBc commented on #6765
You can also visit grafana dashboard through the k8s nodeport service.

[2020-02-07 17:29] vagababov commented on #6550
/reopen
rolling back

[2020-02-07 18:25] vagababov opened #6772 "Add Unit Tests that verify stats reporting in autoscaler."
## In what area(s)?
/area autoscale
/area test-and-release

Other classifications:
/kind good-first-issue

Current unit tests for autoscaler do not verify that the autoscaler actually reported the metrics we expect it to.
A test (or set of tests) to verify that this works as expected is needed.

[2020-02-07 18:26] vagababov opened #6773 "[Umbrella] Activator Subsetting"
## In what area(s)?
/area autoscale
/area networking

## Describe the feature

We need to implement activator subsetting.
Currently the effectiveness of load balancing in the activator degrades with the ratio of activators to the user pods going up. With daemonset on 13 nodes a lot of CC=1 tests start flaking, since we cannot ensure queueing absence at the QP.

/assign

[2020-02-07 19:22] mpetason commented on #2761
I would like to take this and work on it as my first knative serving issue.

[2020-02-07 20:39] tcnghia commented on #6766
/cc @mattmoor

[2020-02-07 21:57] mdemirhan commented on #6549
@tanzeeb @tshak Documentation for `gateway-error` says the following:
[code]

[2020-02-07 22:06] shashwathi commented on #6367
/assign @shashwathi

[2020-02-07 22:18] mdemirhan commented on #2248
We are archiving observability repo. Closing this issue for the time being and if someone feels strongly about this, I recommend that we take this to the TOC and discuss where we draw the line on what lives in serving core vs. not.

[2020-02-07 23:42] chizhg commented on #5971
As the smoke-test is sometimes very flaky, we'll have to disable this test, see https://github.com/knative/test-infra/pull/1679. That means the monitoring can still be broken as there will be no presubmit tests. We need another solution to solve this issue.

/reopen

[2020-02-08 00:26] mattmoor commented on #6766
@prary sorry for the delay, just got out of talking to folks all day.  😅

So the next release of the docs does separate out Contour from our bridge controller.  We still need docs on how to properly configure things to work with a pre-installed Contour (https://github.com/knative/net-contour/issues/11) and I'd like to see us have better support for side-by-side installation (https://github.com/kna

[2020-02-08 02:53] salanki opened #6780 "SKS in proxy mode indefinitely, always triggers scale to zero"
## In what area(s)?
/area autoscale

## What version of Knative?
v0.12.0

## Expected Behavior

Config set to: `scale-to-zero-grace-period: "30m"`. Expected to scale to 0 after 30min of inactivity.

## Actual Behavior

Scale to zero happens immediately after traffic is removed. The reason the autoscale to zero happens is `Fast path scaling to 0, in proxy mode for: 56h24m28.032013499s`. It seems as

[2020-02-08 04:20] vagababov commented on #6780
This is all by design.
1. If your revision is backed by activator for at least `grace-period` of time we scale to 0 immediately. See:
`{"level":"info","ts":"2020-02-08T02:47:46.521Z","logger":"autoscaler.kpa-class-podautoscaler-controller","caller":"kpa/scaler.go:205","msg":"Fast path scaling to 0, in proxy mode for: 56h24m28.521630041s","commit":"bf0a848","knative.dev/controller":"kpa-class-podau

[2020-02-08 04:20] #6780 closed

[2020-02-08 06:39] salanki commented on #6780
Thanks for your quick reply Victor. I can't really say I understand how to apply what you are saying here to achieve my desired behavior of "keep one pod around until there has not been any requests for `scale-to-zero-grace-period`". Can you give me some pointers on how to make that work?

[2020-02-08 06:55] vagababov commented on #6780
That's what `stable-window` is for (we'll scale to 0 when no requests are made for that period of time). Though it also affects how we scaling things up and down..
Grace period is for ensuring the network programming has complete, i.e. in ideal world without mesh and instant network reprogramming it wouldn't be there at all.

Can you rather tell us, why do you have that requirement?

[2020-02-08 06:59] salanki commented on #6780
Ok, this makes more sense now. I am doing online inference with KFServe. Loading the model (16GB) takes rather long time (20 seconds). GPUs are expensive resources, so for rarely used models I'd like to scale to 0, however only if they haven't been used for a very long time.

[2020-02-08 07:20] vagababov commented on #6780
So, using the `stable-window` should be enough to control how long you want to  keep the revision around before it scales down to 0. Obviously if you want to keep it around much longer than the window for scaling (I can see you had 56 minutes up there) you might need some other control since having stable window for 56 minutes will kind of destroy autoscaling capabilities.

If you want to use the

[2020-02-08 09:10] MIBc commented on #6772
I can have a try.

[2020-02-08 10:26] MIBc commented on #6749
Do you mean we need write benchmark test for critical components' handler?

[2020-02-08 10:33] rhuss opened #6784 "Introduce a delay for transition of Ready condition from Unknown to False"
## Describe the feature

Please reconcile to a `ConditionReady` to `ConditionFalse` only when it's clear that multi-reconcile action fails overall. The use case is when a user creates a `Service` then multiple other dependency resources are created in parallel, like a `Route` and a `Revision`. However, the route can be only ready when the revision is ready, so there is the chance of a race. Curren

[2020-02-08 11:26] markusthoemmes commented on #6749
Mostly yes, the throttler isn‘t a handler though.

[2020-02-08 12:03] knative-test-reporter-robot opened #6785 "[flaky] pkg/reconciler/revision.TestNewRevisionCallsSyncHandler"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/revision.TestNewRevisionCallsSyncHandler
* **Repository name**: serving

[2020-02-08 12:03] #6754 closed

[2020-02-08 17:21] tshak commented on #6549
It's been a while since I've tested Istio virtual service configurations. There are network transient errors that occur particularly during a k8s deployment rollout and probably a knative scale up/down event. There were a couple of causes, but one was related to https://github.com/envoyproxy/envoy/issues/6726.

Any changes around retry should validate the following :

1) knative config updates and

[2020-02-08 21:35] vagababov commented on #6772
/assign @MIBc

[2020-02-09 08:44] nak3 opened #6787 "Failing to create Ksvc by kubectl after Conversion Webhook Support"
## In what area(s)?

/area API
/kind spec

## What version of Knative?

HEAD
(The issue started after 292b6149e01125fb6f9c8ff3ea9237378dfc50e4 )

## Expected Behavior

* Create Ksvc without validation error.

## Actual Behavior

* kubectl fails to create Ksvc with an error - `error: error validating "STDIN": error validating data: ValidationError(Service): unknown field "spec" in dev.knative.servi

[2020-02-09 12:03] #6753 closed

[2020-02-09 15:53] duglin commented on #4522
/remove-lifecycle stale

[2020-02-09 15:54] duglin commented on #4522
/remove-lifecycle rotten

[2020-02-09 16:31] tshak commented on #6265
FYI: The above workaround is still reliable on `0.11.1`. I just tested with `0.12.1` and the workaround no longer works. When investigating on `0.12.1` I noticed that sometimes when I stood up the cluster I got into the stuck `Unknown/Deploying` and sometimes I got into the `IngressNotConfigured` state as described in https://github.com/knative/serving/issues/6346. In both cases, this appears to b

[2020-02-09 21:44] duglin commented on #4997
I'm gonna close this as I think it's fixed - and if not we can reopen it

[2020-02-09 21:44] #4997 closed

[2020-02-10 03:42] vagababov commented on #5822
/remove-lifecycle stale

[2020-02-10 03:43] vagababov commented on #5822
/assing @markusthoemmes @savitaashture

[2020-02-10 03:43] vagababov commented on #5822
/assign @markusthoemmes @savitaashture

[2020-02-10 05:15] ahmetb commented on #5822
/lifecycle frozen

[2020-02-10 05:17] patrickshan opened #6788 "controller should wait revision a bit when all pods are Pending due to lack of compute resources"
/area autoscale

## What version of Knative?
0.12.1

## Expected Behavior

controller should wait new revision pods a bit for compute resources to be online before marking revision as `READY=FALSE` when there is no compute resource available for any new pods. New pods (under Pending state) for that revision will trigger a cluster-autoscaler scale-up and new compute resources will be online after a

[2020-02-10 05:40] vagababov commented on #6788
We are waiting: https://github.com/knative/serving/blob/master/pkg/reconciler/autoscaling/kpa/scaler.go#L165 this long for pods to show up.  Which is 130s.

[2020-02-10 07:39] markusthoemmes commented on #5809
So as it stands, 0.11 and 0.12 do not cause any trouble I presume? Can we close this?

[2020-02-10 10:50] patrickshan commented on #6788
@vagababov thanks for the quick response. Does the second case (only some of the new pods are running but not all of them) also wait the same period ? I would expect same behavior for those two cases as both of them are due to lack of compute resource.

[2020-02-10 11:56] mdemirhan commented on #5809
0.11 and 0.12 has the fixes and those should be used instead of 0.9 for this fix.

[2020-02-10 11:56] #5809 closed

[2020-02-10 12:02] knative-test-reporter-robot opened #6790 "[flaky] test/e2e/autotls.TestPerNamespaceCertLocalCA"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/autotls.TestPerNamespaceCertLocalCA
* **Repository name**: serving

[2020-02-10 12:02] #6785 closed

[2020-02-10 12:02] knative-test-reporter-robot opened #6791 "[flaky] pkg/reconciler/route.TestNewRouteCallsSyncHandler"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestNewRouteCallsSyncHandler
* **Repository name**: serving

[2020-02-10 12:39] josiemundi opened #6792 "Receive and serve Events on multiple ports"
## Ask your question here:

**Background:**

I have been experimenting with a scenario using Knative Eventing. As part of the scenario, we have an event source which receives events (via web socket) and sinks them to the broker. The broker then sends these events on to a Knative Serving service; a process initiated by our trigger. 

Currently, in the Knative documentation, the way to view and veri

[2020-02-10 13:04] krishnadurai opened #6793 "Deploying sample helloworld.go with Istio 1.3.1 (SDS on) results in route and knative service with status IngressNotConfigured"
## What version of Knative?

## Expected Behavior
The KNative service helloworld.go should deploy with READY status True.

## Actual Behavior
[code]

[code]

[code]

[code]

Inspite of the virtualservice being created for helloworld-go, the ingress fails with `Waiting for VirtualService to be ready`.

## Steps to Reproduce the Problem

Install KNative v0.11.1
Install Istio 1.3.1 with kustomize man

[2020-02-10 15:13] mattmoor commented on #2248
Already on the agenda.

[2020-02-10 15:14] mattmoor commented on #2248
/lifecycle rotten

[2020-02-10 15:14] mattmoor commented on #5254
See also: https://github.com/knative/serving/issues/2248

/lifecycle stale

Is there still interest in pursuing this?

[2020-02-10 15:33] taragu commented on #5934
I'm trying to construct the e2e test for creating a service with an image of a private registry. However, I'm running into a problem. It seems the only way to create a docker registry secret is with plain username and password (https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#-em-secret-docker-registry-em-), and we shouldn't have those information in any of our e2e tests or

[2020-02-10 15:40] markusthoemmes commented on #2248
/remove-lifecycle rotten

[2020-02-10 16:45] vagababov commented on #6788
I think so: https://github.com/knative/serving/blob/master/pkg/reconciler/autoscaling/kpa/kpa.go#L314
It is kept activating until minScale is satisfied.

[2020-02-10 16:46] vagababov commented on #6790
This seems to have failed twice recently
/assign @ZhiminXiang @rmoe

[2020-02-10 19:36] dprotaso commented on #6787
What's the Knative's Service CRD yaml? They should now have

https://github.com/knative/serving/blob/dd8cd0f23c120bd582db19b01407c6376091dafb/config/core/resources/service.yaml#L26-L34

[2020-02-10 19:39] dprotaso commented on #6787
How was K8s deployed? Or are you using EKS?

[2020-02-10 21:07] dprotaso commented on #6787
Looks like EKS doesn't have 1.15 - I'll try mini-kube 1.15.0

[2020-02-10 21:46] dprotaso commented on #6787
Confirmed the same error occurs on minikube 1.15.0.  It seems resolved with 1.15.1.

Looking at the [1.15.1 release notes](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.15.md#changelog-since-v1150
) it seems like it may be link to this fixed bug https://github.com/kubernetes/kubernetes/pull/79636

[2020-02-11 00:19] shashwathi commented on #6367
@tcnghia @mattmoor
I would like to work on this issue but I have some questions

How is the user expected to set retryable conditions on Kingress? Is it via annotations or is there a design doc for this?

Are we allowing all retryable conditions to be set via Kingress? I am asking this to understand if there are/is any specific conditions that user cannot opt out of.

what is the default set of co

[2020-02-11 00:43] mattmoor commented on #6367
I'm not sure customizing the semantics via KIngress is strictly necessary, but we need to be clear about what is/isn't retried, which right now feels kind of like "Do What I Mean (DWIM)", which is highly subjective.

[2020-02-11 00:45] nak3 commented on #6787
Thank you @dprotaso
Yes, I verified that k8s 1.15.1 solves the issue. So, should we bumps the minimum version to 1.15.1? I opened https://github.com/knative/pkg/pull/1070 for it.

[2020-02-11 01:37] nak3 commented on #6787
/close

closing as root cause was found and https://github.com/knative/pkg/pull/1070 was merged.

[2020-02-11 01:37] #6787 closed

[2020-02-11 06:53] #6729 closed

[2020-02-11 08:08] nak3 commented on #6793
@krishnadurai as per https://github.com/kubeflow/kfserving/issues/668#issuecomment-584201576, it seems that you are trying to fix it in your side. Please let us know if you need any help.

cc: @JRBANCEL

[2020-02-11 10:48] markusthoemmes opened #6803 "Refactor queue-proxy into testable units"
The queue-proxy's `main.go` file contains a lot of stuff currently and is hard to test. We should decompose the queue-proxy where possible and move separate bits into packages to be able to better test and benchmark parts of the queue-proxy. There is likely also potential for synergies between the queue-proxy and the activator.

Before somebody picks this up and send PRs: Let's please discuss what

[2020-02-11 12:44] krishnadurai commented on #6793
@nak3 Sorry to have not updated the status here.

We are looking for a way to whitelist the probe requests on our side. Our Istio gateway requests are filtered through an auth mechanism and whitelisting these requests will disable the Auth checks.

[2020-02-11 14:56] andrew-su commented on #6763
Thanks for fixing this, I was out on end of last week and missed your tag. It was all ready to be submitted! https://github.com/andrew-su/serving/commit/6627edffa440fbca488183d132e28d5a0ffc5a31

[2020-02-11 15:39] dprotaso opened #6808 "Queue Proxy Probe doesn't include an informative error message"
## What version of Knative?
HEAD

## Expected Behavior

When the readiness probe fails the event includes an informative message

## Actual Behavior

The probe's logger shouldn't dump logs to stdout as this is reserved for informing the user

`Readiness probe failed: {"level":"info","ts":"2020-02-11T14:27:52.903Z","caller":"logging/config.go:108","msg":"Successfully created the logger."}`

## Step

[2020-02-11 15:46] markusthoemmes commented on #6808
I agree. Let's move that block above again and just use a default `log.Fatalf(...)` instead of a proper logger for the `validateEnv` error handling.

/kind good-first-issue
/good-first-issue

[2020-02-11 16:12] AceHack commented on #6488
Anyway, you can roll this out to a version that supports Amazon EKS?  It's only at 1.14 currently, 1.15 is not available in EKS.

[2020-02-11 17:13] mdemirhan commented on #6549
I agree with the general principles, but I still don't know if there is a reliable way to tell if a request reached to the user container and failed there vs. failed at layers before the user container.

[2020-02-11 17:34] markusthoemmes commented on #6549
I think "connect-failure" should handle that in most of the cases, as it handles TCP layer based connection issues. Those should be safe to retry.

[2020-02-11 17:45] vagababov commented on #6808
There's a comment to `why` it is so. Do we want to ask the authors for why?

[2020-02-11 17:49] dprotaso commented on #6808
@vagababov which author you referring to?

[2020-02-11 17:56] vagababov commented on #6808
`/me rolls up sleeves and opens blame view`
recent change points to @nimakaviani  but he just relocated the code, which was I think added here
https://github.com/knative/serving/pull/4148, so @joshrider

[2020-02-11 17:58] dprotaso opened #6810 "Various test flakes are being caused by queue-proxy probing failing"
## What version of Knative?
HEAD

## Expected Behavior

Our e2e & conformance tests are flaky.  The queue-proxy probing is failing in these failures - but they shouldn't.

See a summary of failures in my PR: https://github.com/knative/serving/pull/6770#issuecomment-584763516

## Actual Behavior

Probing should succeed in these cases.

## Steps to Reproduce the Problem
🤷‍♂

[2020-02-11 18:01] markusthoemmes commented on #6808
The point is, we want the clear log output that Josh put in in the first place by not using the logger. That was broken by the move of the logic recently. We can just undo that move as described above.

[2020-02-11 18:05] dprotaso commented on #6808
Using the logger while the queue proxy is probing will result in json appearing in the k8s event which isn't user friendly

[code]

[2020-02-11 18:09] dprotaso commented on #6810
Related:
https://github.com/knative/serving/pull/6770#issuecomment-584761254

[2020-02-11 18:09] vagababov commented on #6808
eh, I see. IT's the opposite.

[2020-02-11 18:10] tshak commented on #6549
I recall requiring more than `connect-failure` in order to guarantee zero downtime. Sadly I don't have access to my tests nor the retry policy as it was a closed source project for a client that i no longer work for. It'd be nice to get someone from Istio to provide guidance as this is not really a knative specific issue. Maybe start by testing removing all of the retries and see what the current

[2020-02-11 18:26] vagababov commented on #6810
Copy the cases over, so one doesn't need to go to a pr :1st_place_medal:

commit|run|test failure|reason
--|--|--|--
[087743f](https://github.com/knative/serving/pull/6770/commits/087743f265a0d4ce355a9946ad73b4d8abd7341a)|[1227258872012476418](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_serving/6770/pull-knative-serving-integration-tests/1227258872012476418)|TestCallToPubli

[2020-02-11 19:38] dgerd commented on #6005
Unassigning as I have not got to this for awhile now.

[2020-02-11 21:21] dgerd commented on #6721
@softshipper I would recommend you take a read through the [Knative Serving "Stable" Scope](https://docs.google.com/document/d/149LMccHt-gFEG52XoauVG2f-crjMk3-biu-pJPQGxCo/edit?disco=AAAACKsQyYM&ts=5d65a758&usp_dm=false) document as it will provide a more detailed view into how we are thinking about "production ready" as a community. You will need to be a member of the [knative-users](https://grou

[2020-02-11 23:06] mpetason commented on #6537
I would like to pick this issue up.

[2020-02-11 23:06] mpetason commented on #6537
/assign mpetason

[2020-02-12 00:25] taragu opened #6816 "Migrate all e2e test serving clients from alpha to v1"
/area API
/area test-and-release

Other classifications:
/kind good-first-issue

## Describe the feature
Per https://github.com/knative/serving/pull/6640#discussion_r377974389 we should migrate all e2e test serving clients from v1alpha1 to v1 because all of our versions we are testing upgrades to/from should now support v1.

[2020-02-12 12:03] knative-test-reporter-robot opened #6819 "[flaky] test/e2e.TestMinScale"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestMinScale
* **Repository name**: serving

[2020-02-12 12:03] #6790 closed

[2020-02-12 12:03] #6791 closed

[2020-02-12 15:01] dprotaso commented on #6816
/assign @dprotaso

[2020-02-12 15:29] taragu commented on #6803
I'm interested in helping out. It would be great if we can discuss how we can decompose this so others can jump in as well.

[2020-02-12 16:24] savitaashture commented on #6803
thank you @taragu I agree :+1:
@markusthoemmes I am also interested

[2020-02-12 16:36] markusthoemmes commented on #4665
What makes this super complex is the N:M connection of routes and revisions. Any revision can be subject to N routes at any time and it's non-trivial (in our current system) to find out which how much traffic will be pointing to the new revision.

This decision is only fairly simple if we only have a revision stamped out by a service that only has a latestRevision: true route. In this case, we cou

[2020-02-12 16:37] mattmoor commented on #4665
Another option:  It would be possible for us to implement a `GradualRollout` CRD that mimics the rollout behavior of `latestRevision: true`.  Effectively:

[code]

Either `foo` or `bar` should default to the other.

[2020-02-12 17:15] mdemirhan commented on #2248
Closing this issue in favor of #5254 and adding more clarity to this as in #5254.

[2020-02-12 17:15] #2248 closed

[2020-02-12 17:17] mdemirhan commented on #5254
To add more clarity to this, this is issue is specifically for the config/monitoring folder in serving repo that installs Zipkin, Elastic Search, Grafana, Prometheus, etc., not for the code under pkg repo. Discussions for pkg repo is still in slack and if/when we have an agreement on that, I will file another issue to track that.

[2020-02-12 17:29] ryandawsonuk commented on #6793
Do the probes use the cluster-local-gateway? Is there a knative community call we (kubeflow contributors) could join and discuss this issue?

[2020-02-12 19:27] rhuss commented on #6784
Thanks for coming back on this issue. In the meantime we increased our debugging in case of an client E2E error, and it turns out that the issue is probably something completely different: Its not so much of a race, but an optimistic locking error when updating the `Configuration`.

You find the full log [here](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_client/659/pull-kna

[2020-02-12 20:48] ZhiminXiang commented on #6793
@krishnadurai could you share how the `Gateway` object looks like in the cluster?

[2020-02-12 21:35] yuzisun commented on #6793
@ZhiminXiang this is the gateway object and we point to this gateway in knative `config-istio` configmap.
`gateway.kubeflow.kubeflow-gateway: istio-ingressgateway.istio-system.svc.cluster.local`

[code]

[2020-02-12 21:38] dprotaso commented on #5913
/remove-lifecycle stale

[2020-02-12 22:14] pmorie opened #6827 "Test flakes: pkg/reconciler/autoscaling/kpa.TestControllerSynchronizesCreatesAndDeletes pkg/reconciler/serverlessservice.TestGlobalResyncOnActivatorChange"
Flaky tests found in CI:

[code]

/area test-and-release

/kind good-first-issue

## What version of Knative?

Master

## Steps to Reproduce the Problem

Appeared in [this build](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_serving/6824/pull-knative-serving-unit-tests/1227687648361975810)

[2020-02-12 22:52] JRBANCEL commented on #6793
I provided some more details [here](https://github.com/kubeflow/kfserving/issues/668#issuecomment-585458363).

[2020-02-12 23:59] JRBANCEL opened #6829 "Probe Envoy without using requests"
## Describe the feature
Today, Istio Envoy Pods are probed using a special requests (`"K-Network-Probe" == "probe"`).
This works well but breaks in the following scenarios:
- Istio Policy can block those requests: see https://github.com/knative/serving/issues/6793
  There is no way to filter policies on header content. Filtering on path is possible and we could `GET` a specific path, e.g. `/.well-

[2020-02-13 00:00] JRBANCEL commented on #6829
/assign

[2020-02-13 00:16] mattmoor commented on #6829
Are we sure this is a Pro and not a Con?

This is insufficient, you also need to verify that the endpoints referenced aren't empty.

[2020-02-13 00:25] JRBANCEL commented on #6829
It is to not have to deal with Istio Policies and Envoy filters.

It depends, either we want probing to:
1) _validate that the Envoy configuration is correct_: in this case going through the regular request path is required, but not sufficient. That's not what probing does today since as soon as one request succeeds (across protocol, across hosts), the Envoy Pod is considered ready.
2) _check if t

[2020-02-13 00:35] vagababov commented on #6827
I sent #6830 to fix the Global Reconciler flake, which is new, it seems.

TestControllerSynchronizesCreatesAndDeletes -- it seems is due to the changes @mattmoor did yesterday. I'll patch timing in that test

[code]

[2020-02-13 00:35] vagababov commented on #6827
/assign

[2020-02-13 01:03] ZhiminXiang opened #6831 "Auto TLS E2E test for using tag name"
## Describe the feature
We need an Auto TLS E2E test for the case of using tag name in the Route.
We should expect to see a tag specific Certificate is provisioned in this case.

[2020-02-13 01:04] trshafer opened #6832 "Support istio canonical service and revision"
## Describe the feature
Istio recently added support for canonical service and canonical revision: https://github.com/istio/istio/pull/20943.

Pods created by knative revisions should add these labels when istio is the ingress provider. These labels should not be added on the user when creating a ksvc or revision, but added on the deployment which will populate the labels on the pod.

[code]

Desi

[2020-02-13 01:10] ZhiminXiang commented on #6831
/project Networking: Auto TLS

[2020-02-13 01:18] chaodaiG commented on #6831
/project Networking: Auto TLS

[2020-02-13 01:18] mattmoor commented on #6831
/project Networking: Auto TLS

[2020-02-13 08:39] rhuss commented on #6602
We identified the cause as being an optimistic lock error when updating configurations --> https://github.com/knative/serving/issues/6784#issuecomment-585375913

So, closing this.

[2020-02-13 08:39] #6602 closed

[2020-02-13 08:41] rhuss commented on #6784
I'm creating a new issue for what we found.

Feel free to close this issue, if you think this kind of delay doesn't make sense.

[2020-02-13 08:57] rhuss opened #6837 "Concurrent modification error when creating a Service"
## What version of Knative?

0.12.0

## Expected Behavior

We would expect that the creation of a Service works without error

## Actual Behavior

Sometimes (not always), when creating a very simple service like with `kn service create hello --image gcr.io/knative-samples/helloworld-go` we end up with the following events for the created Knative Service:

[code]

This ends up in the following serv

[2020-02-13 08:58] rhuss commented on #6784
I carried over the issue to https://github.com/knative/serving/issues/6837

[2020-02-13 10:49] gadelkareem commented on #6255
@anniefu I am still facing the same problem with the latest release. `revision_request_count` has no metrics in Prometheus.

[2020-02-13 11:04] gadelkareem commented on #6255
it seems that the labels changed again
[code]

[2020-02-13 15:12] mattmoor commented on #2860
/remove-lifecycle rotten

[2020-02-13 15:12] mattmoor commented on #2860
We still need to document this.  I believe it's covered in some of the work @tcnghia has planned?

[2020-02-14 07:17] navidshaikh commented on #6837
Seeing following event as well with same error `    Message:                     Revision "hello-nxvfy-1" referenced in traffic not found.`

[code]
[client E2E logs](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_client/629/pull-knative-client-integration-tests-latest-release/1228205633073844225#1:build-log.txt%3A819)

[2020-02-14 14:06] itsmurugappan opened #6853 "Default configs not validated correctly"
## What version of Knative?

0.12

## Expected Behavior

This is value of my config defaults

[code]
* Scenario 1 - Creating service with time out 550 should result in an error.
* Scenario 2 - Creating service with time out 700 should result in the error ```admission webhook "webhook.serving.knative.dev" denied the request: validation failed: expected 0 <= 700 <= 500: spec.template.spec.timeoutSec

[2020-02-14 14:14] itsmurugappan commented on #6853
In the NewValidationAdmissionController I dont see the configs set in the context. https://github.com/knative/serving/blob/d161feb8979a6f44b950270f71faee45df70ea84/cmd/webhook/main.go#L105

In DefaultAdmissionController the configs are set in the context
https://github.com/knative/serving/blob/d161feb8979a6f44b950270f71faee45df70ea84/cmd/webhook/main.go#L79

I made the change to set the config in

[2020-02-14 15:05] mattmoor commented on #4665
So I was thinking about `GradualRoll`out last night, starting to throw together a PoC, and thinking about three things, which aren't easy as specified above:
1. How do you stop a rollout or rollback?
2. How do you traffic split over two configurations?

Honestly, the solution I liked best was to adopt the Route's `traffic:` block syntax directly:
[code]

The basic idea is that `revisionName` is re

[2020-02-14 15:32] jeffgriffith commented on #4417
@mattmoor Do I read this correctly that i cannot use ReadWriteMany PVCs at all in a Knative service? I have a simple uploader service that needs to deposit data in an Azure files pvc volume. I understand the desire for statefulness but I don't see this as different from inserting data into a database. The "persistence" isn't in the pod in either case.  Thanks for any insight. --jg

[2020-02-14 16:23] whaught commented on #3425
/assign

[2020-02-14 17:37] dprotaso commented on #6829
FYI - Pilot has an endpoint that tracks envoy configuration rollout - that might be worth experimenting with
https://istio.io/docs/reference/commands/istioctl/#istioctl-experimental-wait

[2020-02-14 18:11] vagababov commented on #4665
This has the same question as you noted above. What happens if I roll out one more revision while this one is in progress? Do we start cascading or jumping?

[2020-02-14 21:25] dgerd commented on #4665
This doesn't seem to solve your original question of "How do you stop a rollout or rollback?"

Having spent very limited time thinking about this.

1. I like the GradualRollout object. It feels very much like the K8s HPA and having a separate object acting upon an existing object is an easier mental model for me than an object mutating state within itself.
2. Acting upon metrics seems like the bes

[2020-02-14 22:08] ZhiminXiang commented on #6831
/assign @rmoe

[2020-02-14 22:26] dgerd opened #6857 "Knative Feature Gates"
## Describe the feature

Creating an issue from discussion in #scale-to-zero-on-deploy on Slack.

This feature request is to build something that allows us to have Feature Gates much like [Kubernetes Feature Gates](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/). The idea is to enable users to turn on Alpha features or turn off Beta features per Knative installati

[2020-02-14 23:55] vagababov commented on #6549
So today I have been debugging TestRevisionTimeout test.
For the tests that _should_ fail the timeout roundtrip lasts 26s (vs ~5) or 8s (vs ~2) -- since we retry 3 times and it seems there's actually a delay between the retries (from istio docs:
`The interval between retries (25ms+) is variable and determined automatically by Istio, preventing the called service from being overwhelmed with request

[2020-02-15 12:03] knative-test-reporter-robot opened #6860 "[flaky] pkg/reconciler/ingress.TestGlobalResyncOnUpdateGatewayConfigMap"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/ingress.TestGlobalResyncOnUpdateGatewayConfigMap
* **Repository name**: serving

[2020-02-15 12:03] knative-test-reporter-robot opened #6861 "[flaky] test/conformance/ingress.TestPostSplitSetHeaders"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestPostSplitSetHeaders
* **Repository name**: serving

[2020-02-15 17:49] ZhiminXiang opened #6862 "Run Auto TLS E2E tests separately"
## Describe the feature
Auto TLS E2E test needs special configurations when running it.
Currently we run Auto TLS E2E test together with other E2E tests, and run it in the last. This could be fragile especially if new E2E tests are added and possibly run after Auto TLS test in the future.

Create this issue to track the work about how to isolate the Auto TLS E2E test in a separate cluster if it is

[2020-02-15 20:16] mattmoor commented on #4417
I don't think we've figured out how to allow this in a way that doesn't have pointy edges that folks will stick themselves on.  I totally agree that the filesystem is a useful abstraction for write-many capable devices.

[2020-02-15 20:23] mattmoor commented on #4665
Sure it does, same as I would rollback today.  I post a `traffic` block with the `revisionName`s I want serving traffic while I fix things. 😉

[2020-02-16 08:01] MIBc commented on #6772
What kind of unit test do we need to verify metrics autoscaler reported. Such as `stable_request_concurrency` in `knative.dev/serving/pkg/autoscaler/scaling/metrics.go` ?

[2020-02-16 12:02] knative-test-reporter-robot opened #6863 "[flaky] pkg/reconciler/metric.TestReconcileWithCollector"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/metric.TestReconcileWithCollector
* **Repository name**: serving

[2020-02-16 12:02] knative-test-reporter-robot opened #6864 "[flaky] pkg/reconciler/metric.TestReconcileWithCollector/delete"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/metric.TestReconcileWithCollector/delete
* **Repository name**: serving

[2020-02-16 14:21] dprotaso opened #6866 "backfill tests - revision visibility tests"
## What version of Knative?

##  What happened

Investigate if there's a missing test case in the configuration controller. Specifically where a configuration has a visibility labels and revisions can be created. Also backfill the visibility test case in `apis/serving/v1/pkg` for the PR https://github.com/knative/serving/pull/6865

[2020-02-16 16:51] tshak commented on #6074
I'd go farther and say that, even though it's a breaking change, I'd set this to `false` and not even expose it as a setting. This setting's default in k8s is just for backward compat with the deprecated docker `--links` feature, something Knative users are probably not even aware of. It exposes things that we wouldn't want the apps to have access to (such as the IP addresses of other services in

[2020-02-16 20:15] vagababov commented on #6772
you call scale for various initial settings and verify that #pods, panic and stable concurrency and rps and excess burst capacity are all correctly reported.

[2020-02-17 00:48] duglin commented on #4060
/remove-lifecycle rotten

I like the idea of allowing people to make Kn values to their own env vars, but I still think there's value in having the KNATIVE_* ones too.

[2020-02-17 01:03] mattmoor opened #6868 "KIngress should disallow ServiceNamespace that differs from its own"
At present the validation just checks that it is specified: https://github.com/knative/serving/blob/ce240ab0f053673d0e445917cdf59a103a5f5993/pkg/apis/networking/v1alpha1/ingress_validation.go#L138-L140

One of the fundamental differences between ClusterIngress and Ingress was that the former allowed this and the latter should disallow this.

I noticed this by accident playing with custom HTTP01 ch

[2020-02-17 01:04] mattmoor commented on #6868
cc @tcnghia @wtam2018

[2020-02-17 01:25] duglin opened #6869 "service/revision labels are not verified on create - only updates"
## In what area(s)?

/area API

## What version of Knative?

v0.12

## Expected Behavior

I expected the `kn service create` to fail

## Actual Behavior

It worked, but then a subsequent update on a revision failed, complaining about something from the create.

## Steps to Reproduce the Problem

[code]

The first command should have failed with an error message similar to what is generated by the

[2020-02-17 01:28] mattmoor opened #6870 "IngressTLS is specified even before Certificate reports Ready."
/area networking

## What version of Knative?

HEAD

## Expected Behavior

KIngress doesn't specify `tls` section until the secret is created.

## Actual Behavior

With auto-TLS enabled, the KIngress adds the `tls:` block as soon as the Certificate is created, which may be before the Secret is actually created.  For HTTP01 challenges, this assumes that the KIngress implementation will serve HTTP w

[2020-02-17 01:32] mattmoor commented on #6870
This may simply entail moving https://github.com/knative/serving/blob/ce240ab0f053673d0e445917cdf59a103a5f5993/pkg/reconciler/route/route.go#L326 up inside the `if` block.

[2020-02-17 02:51] vagababov commented on #6869
can you reproduce it with kubectl apply command, i.e. whether this is _client_ specific error?

[2020-02-17 06:49] markusthoemmes commented on #6868
/good-first-issue

[2020-02-17 09:39] MIBc commented on #6868
I will do that.

[2020-02-17 10:31] MIBc commented on #6868
I want to try.

[2020-02-17 10:35] markusthoemmes commented on #6868
/assign @MIBc

[2020-02-17 10:53] Benson666 opened #6871 "Is Knative subject to US EAR？"
Is Knative subject to US EAR？Can an enterprise in Entity list obtain and use Knative，eg. Huawei？

[2020-02-17 12:03] #6861 closed

[2020-02-17 12:03] #6860 closed

[2020-02-17 12:03] knative-test-reporter-robot opened #6872 "[flaky] test/conformance/ingress.TestPercentage"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestPercentage
* **Repository name**: serving

[2020-02-17 12:05] duglin commented on #6869
hmmm I'm seeing different results today using HEAD than what I was seeing yesterday.  Gonna close until I can reproduce it....

[2020-02-17 12:05] #6869 closed

[2020-02-17 15:35] rhuss opened #6876 "Wrong revision is picked up for traffic target marked as "latest""
## What version of Knative?

## Expected Behavior

When deleting a revision and updating a service short after each other, it occurs that the revision that is deleted is picked for the latest traffic target

## Actual Behavior

In the client E2E we have a flake that looks like this

[code]

As you can see clearly, the revision that is just deleted is picked up again on the following update for the

[2020-02-17 16:53] mattmoor commented on #6876
/kind good-first-issue

[2020-02-17 16:58] chaodaiG commented on #6862
For presubmit test it's easy, just add one more leg like [upgrade test](https://github.com/knative/test-infra/blob/7897d2f21ebc3d3d1a92aec69828cc99e07dc2ee/config/prow/config_knative.yaml#L39)

For continuous runs it'll be slightly challenging, as it's not really fully supported, specifically the job is invoking [`presubmit-test.sh`](https://github.com/knative/serving/blob/master/test/presubmit-te

[2020-02-17 17:26] Morriz opened #6877 "why do deployments not refer to the provided image tags from the service manifest?"
In the generated knative service deployments the image tag is not the same as the one provided:

`bla/helloworld:1.1.1` becomes something like
`bla/helloworld@sha256:7d55ba75f61f9740324f17701c3a1837d6b8bf4dfe3a7dd13ae27c873bf3b195`

There is probably a reason behind this, but it is interfering with our fluxCD approach that allows us to target any deployment with annotations to redeploy the resourc

[2020-02-17 17:29] Morriz commented on #5480
/remove-lifecycle stale

[2020-02-17 17:33] mattmoor opened #6878 "Clean up `pkg/apis` dependencies"
/area API
## What version of Knative?

HEAD

## Expected Behavior

`./pkg/apis` (esp `serving`) should have relatively light dependencies.  In particular, I don't think that it should be reaching into `./pkg/reconciler`

## Actual Behavior

I believe @duglin discovered a dependency cycle trying to move the route visibility label into `serving`, so there's clearly some violations of this.

[2020-02-17 17:48] vagababov commented on #6871
This seems like a lawyer question, thus something tells me that directly emailing Steering Committee (knative-steering@googlegroups.com) is the right avenue to get the answer.

[2020-02-17 18:09] chizhg commented on #6862
Actually what you said for the continuous runs part is not correct. In the continuous runs, `presubmit-tests.sh` will run all the `e2e-*tests.sh` under the test folder, see https://github.com/knative/test-infra/blob/55f7a7b4c08c3064d99cda4d84eaad77b87671c8/scripts/presubmit-tests.sh#L272, and each test will run on its own cluster.

So after adding the leg (e.g. test/e2e-autotls-tests.sh`) for pres

[2020-02-17 20:10] vagababov commented on #6827
/close

[2020-02-17 20:10] #6827 closed

[2020-02-17 22:21] mattmoor commented on #6870
/assign
I have code that moves this and fixes up unit testing.

[2020-02-18 01:12] #6870 closed

[2020-02-18 07:27] markusthoemmes commented on #6877
This is to make the revision (and thus the deployment) immutable against changes to the tags. Imagine somebody using `:latest` and then pushing a new version of the image. New pods of the deployment might silently pick the new version up but it might not be compatible with the configuration you gave Knative.

Thus Knative resolves all images to a sha based version to make the reference immutable.

[2020-02-18 07:29] markusthoemmes commented on #5480
(copied from #6877:)

This is to make the revision (and thus the deployment) immutable against changes to the tags. Imagine somebody using :latest and then pushing a new version of the image. New pods of the deployment might silently pick the new version up but it might not be compatible with the configuration you gave Knative.

Thus Knative resolves all images to a sha based version to make the r

[2020-02-18 07:31] vagababov commented on #6878
/assign

[2020-02-18 07:36] markusthoemmes commented on #6876
Could this also be an issue where the informer isn't yet updated with the current deletion state of the revision? 🤔

[2020-02-18 07:51] Morriz commented on #6877
Awesome. Tnx

[2020-02-18 12:01] #2452 closed

[2020-02-18 12:01] #701 closed

[2020-02-18 12:01] #820 closed

[2020-02-18 12:01] #2517 closed

[2020-02-18 12:01] #1355 closed

[2020-02-18 12:03] knative-test-reporter-robot opened #6884 "[flaky] pkg/pool.TestParallelismWithErrors"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/pool.TestParallelismWithErrors
* **Repository name**: serving

[2020-02-18 12:03] #6863 closed

[2020-02-18 12:04] knative-test-reporter-robot opened #6885 "[flaky] pkg/pool.TestParallelismWithErrors/ten_workers"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/pool.TestParallelismWithErrors/ten_workers
* **Repository name**: serving

[2020-02-18 14:44] #6878 closed

[2020-02-18 14:45] mattmoor commented on #6876
I suspect that this is the state (briefly) when `metadata.generation = status.observedGeneration` for the first time because we've started work, but haven't yet cleared the `Ready=False` from the prior state from the ksvc.

[2020-02-18 15:27] bsnchan commented on #6871
Can I ask you to send an email to the OSS trademarks team at Google (knative-trademarks@googlegroups.com) and cc the Steering Committee (knative-steering@googlegroups.com) please?

[2020-02-18 15:31] mattmoor opened #6887 "Certificates use "internal" in class name"
## In what area(s)?
/area networking
/kind good-first-issue

## What version of Knative?

HEAD

## Expected Behavior

`cert-manager.networking.knative.dev`

## Actual Behavior

[code]

## Steps to Reproduce the Problem

Look in config-network

[2020-02-18 15:32] mattmoor commented on #6887
Docs will need updating as well.

[2020-02-18 16:36] chaodaiG commented on #6862
You're right, I was not aware of this, so continuous run should just work. I'm curious though why didn't we run into quota issue while creating several clusters within a single region

[2020-02-18 17:12] dprotaso commented on #6866
Closing as I misunderstood the problem in the PR

[2020-02-18 17:12] #6866 closed

[2020-02-18 20:59] mattmoor commented on #6862
It would be good to understand how we run this for other ingress as well.

[2020-02-18 21:19] tsiq-kylel opened #6891 "Hanging requests and 503 responses after scaling events"
## What version of Knative?

## What version of Istio?

## What version of Kubernetes?

## What version of Calico?

## Expected Behavior

When scaling pods with knative, we expect new pods to be accessible and serving traffic.

## Actual Behavior

We have noticed sporadic 503s / hanging requests when using Knative to dynamically scale our deployments. The issue seems exacerbated under heavy load t

[2020-02-18 21:25] vagababov commented on #6891
/cc @mattmoor @ZhiminXiang @tcnghia @markusthoemmes @nak3

[2020-02-19 00:01] #913 closed

[2020-02-19 00:01] #949 closed

[2020-02-19 00:01] #1174 closed

[2020-02-19 00:01] #889 closed

[2020-02-19 00:01] #3097 closed

[2020-02-19 00:01] #374 closed

[2020-02-19 00:01] #814 closed

[2020-02-19 00:01] #1796 closed

[2020-02-19 00:01] #1640 closed

[2020-02-19 00:57] nak3 commented on #6891
Thank you so much for the detailed report. As @tsiq-kylel already found, I also think it is same issue with https://github.com/istio/istio/issues/17837.

On Knative v0.11.0, we can re-create the issue manually by setting `autoscaling.knative.dev/minScale` annotation as below:

#### 1. Deploy any knative service
#### 2. Verify SKS is `Proxy` mode.

e.g
[code]

#### 3. Edit Ksvc and add `autoscaling

[2020-02-19 01:52] karlkfi opened #6895 "Kind + private GCR + Knative Revisions = UNAUTHORIZED"
**Knative Version**: 0.12.0

/area API
/area autoscale
/area networking

## Expected Behavior

Knative Serving ([Rest API Example](https://knative.dev/docs/serving/samples/rest-api-go/)) should be able to pull from a private Google Container Registry (GCR) when [using a GCP Service Account to authorize with GCR](https://kind.sigs.k8s.io/docs/user/private-registries/#use-a-service-account) on [kind

[2020-02-19 02:11] karlkfi commented on #6895
I'm betting this is related to why Cloud Run on GKE requires Workload Identity...

Knative Revisions probably tries to log into GCR using GCE instance metadata to retrieve the instance service account, and Workload Identity presents custom metadata and service accounts to each workload, while kind does neither and just configures the kubelet directly...

[2020-02-19 02:26] karlkfi commented on #6895
`digestResolver.Resolve` errors with `failed to fetch image information` after using `remote.WithAuthFromKeychain`:
https://github.com/knative/serving/blob/v0.12.0/pkg/reconciler/revision/resolve.go#L115-L118
https://github.com/google/go-containerregistry/blob/master/pkg/v1/remote/options.go#L100

It looks like it gets fed this `k8schain.Options`:
https://github.com/knative/serving/blob/master/pkg

[2020-02-19 02:32] #6868 closed

[2020-02-19 02:35] nak3 commented on #6887
Related to https://github.com/knative/serving/issues/5430
Not only cert-manager, but also many configs in [network.go](https://github.com/knative/serving/blob/89d45259bbc65a29f142d3c7d6179a86cc865477/pkg/network/network.go) and [registry.go](https://github.com/knative/serving/blob/89d45259bbc65a29f142d3c7d6179a86cc865477/pkg/apis/networking/register.go) are messed up with `networking.knative.dev`

[2020-02-19 02:47] karlkfi commented on #5934
You can use a GCR _json_key in a docker registry secret, but it will also be in clear text (it gets base64 encoded). To make docker use a _json_key you use `_json_key` as the username and the keyfile json as the password.
https://cloud.google.com/container-registry/docs/advanced-authentication#json-key

For an e2e test, tho, you'll probably want to deploy a local disposable private registry and ge

[2020-02-19 07:12] #6471 closed

[2020-02-19 12:00] #2534 closed

[2020-02-19 12:00] #3126 closed

[2020-02-19 12:00] #3127 closed

[2020-02-19 12:00] #3123 closed

[2020-02-19 12:00] #2128 closed

[2020-02-19 12:00] #2321 closed

[2020-02-19 15:57] mattmoor commented on #6832
This issue doesn't talk about **why** we would want to jump through hoops to get these labels on the Pods.

There are a whole bunch of implications and gotchas to this that we should discuss, but cart before horse.  Let's understand why we should have that discussion.

[2020-02-19 16:51] itsmurugappan commented on #6853
@mattmoor @dgerd does this analysis look good , can I send a PR ?

[2020-02-19 17:34] mattmoor commented on #6887
For Certificates this is a problem because it is in BOTH the annotation key and value 🤦‍♂

Perhaps we should fix more things, but we should get these fixed before auto-TLS can reach beta.

[2020-02-19 21:23] vagababov commented on #6772
@MIBc how is this progressing? This has given us trouble already and I'd like to be done before the rease cuts.

[2020-02-19 22:33] houshengbo opened #6903 "The function build_knative_from_source is called twice in e2e-upgrade-tests.sh"
## What version of Knative?

## Expected Behavior

We only need to call build_knative_from_source once to build YAMLs from source.
## Actual Behavior

The func build_knative_from_source is called twice in e2e-upgrade-tests.sh.

## Steps to Reproduce the Problem

[2020-02-20 03:30] vagababov opened #6909 "TestCallToPublicService is super flaky in CI"
## In what area(s)?
Remove the '> ' to select
/area test-and-release

/kind good-first-issue

E.g.
https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_serving/6907/pull-knative-serving-integration-tests/1230303146048229379
https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_serving/6907/pull-knative-serving-integration-tests/1230312962296647680

[2020-02-20 04:21] vagababov commented on #6909
Sorry somehow, the original message got all commented :)

[2020-02-20 10:06] MIBc commented on #6772
Sorry for delay fixing this issue. I have no idea how to get the metrics autoscaler report.

[2020-02-20 12:00] #969 closed

[2020-02-20 12:00] #2814 closed

[2020-02-20 12:00] #640 closed

[2020-02-20 12:00] #2767 closed

[2020-02-20 12:00] #535 closed

[2020-02-20 12:00] #2250 closed

[2020-02-20 12:00] #2154 closed

[2020-02-20 12:00] #2484 closed

[2020-02-20 12:03] #6885 closed

[2020-02-20 12:03] #6884 closed

[2020-02-20 12:39] gadelkareem opened #6911 "Cannot use service.default.svc.cluster.local DNS"
## In what area(s)?
Remove the '> ' to select:

Other classifications:

## Ask your question here:
I have a simple service
[code]
I am trying to call the service
[code]
so if I check the service I can see this
[code]

why can't I use hello-world-knative-example.default.svc.cluster.local?

[2020-02-20 13:22] navidshaikh opened #6913 "Service update returned true before deploying the revision"
## In what area(s)?

/area API

## What version of Knative?
nightly

## Expected Behavior
Update a service and if updated service's conditions returned true, newly created revision should be deployed and set in `Status.LatestReadyRevisionName`.

## Actual Behavior

In the client E2E we're seeing a flake, steps as follow:

[code]
In this synchronous service update, its expected to have a new revisi

[2020-02-20 13:25] taragu commented on #5934
@karlkfi thanks for your suggestion!
/unassign
I currently don't have the bandwidth for this. Anyone else please feel free to pick up this issue.

[2020-02-20 15:27] tsiq-kylel commented on #6891
Hi @nak3,

We were not able to reproduce the example you posted above. After editing the `ksvc` with the relevant annotation and changing the name, the service did indeed switch to `serve` mode. However, it only stayed in `serve` for a few seconds before switching back to `proxy`. Requests to the pod were successful.

When we tried changing `minScale` to 20, it stayed in `serve` for a much longer

[2020-02-20 15:41] ZhiminXiang opened #6917 "HTTP01 E2E test fails in the mesh mode"
## Expected Behavior

It should not fail.

## Actual Behavior

Seems like it consistently fails in the mesh mode:
https://testgrid.knative.dev/serving#istio-1.3-mesh
https://testgrid.knative.dev/serving#istio-1.4-mesh

[2020-02-20 15:41] ZhiminXiang commented on #6917
/assign @ZhiminXiang

[2020-02-20 17:11] taragu commented on #6876
Verified that #6592 fixes this problem

[2020-02-20 17:59] #6808 closed

[2020-02-20 18:15] vagababov commented on #6772
as we check all the other metrics. You can check any file that checks metrics (kpa_test.go has one at very bottom).

[2020-02-20 19:20] ZhiminXiang commented on #6887
I am not clear about in which case we can use "internal" and which case we cannot. I think `networking.internal.knative.dev` comes from the API group https://github.com/knative/serving/blob/a926087ab524b37e42b15222332af8c812adc614/pkg/apis/networking/register.go#L21. So I think in the key of labels and annotations, we should prefer networking.internal.knative.dev`

Specifically for this bug, we sh

[2020-02-20 19:32] mattmoor commented on #6887
The group name is intended for internal resources to wave people off from futzing with them around us (unless they know what they are doing!).  Annotations that users may use to configure Knative aren't internal plumbing, but API (albeit non-standard, thus not in spec)

[2020-02-20 21:24] taragu commented on #5148
/remove-lifecycle stale

[2020-02-20 22:20] angelafunk commented on #4868
https://cloud.google.com/run/docs/gke/troubleshooting#deployment_to_private_cluster_failure_failed_calling_webhook_error

Now on the official GCP documentation!

[2020-02-21 00:00] #848 closed

[2020-02-21 00:00] #1137 closed

[2020-02-21 00:00] #3399 closed

[2020-02-21 01:39] JRBANCEL opened #6934 "Istio Ingress controller reconcile the Gateways unconditionally on deletion"
## What version of Knative?
HEAD

## Expected Behavior
When an Ingress is deleted, the Gateways should be reconciled only if there are reconciled when the Ingress is reconciled ([i.e. when TLS is enabled](https://github.com/knative/serving/blob/master/pkg/reconciler/ingress/ingress.go#L209)). Or at least, it should leave the Gateways in the state they were in before the Ingress was created.

## Ac

[2020-02-21 01:45] duglin opened #6935 "minScale causes pods to be killed during deploy"
## In what area(s)?
/area autoscale

## What version of Knative?

v0.12.0

## Expected Behavior

minScale pods to be created and for them to stick around

## Actual Behavior

minScale pods are created, then 1/2 are killed and recreated almost immediately

## Steps to Reproduce the Problem

`kn service create echo --min-scale=10 --image duglin/echo --async && watch kubectl get pods`

or
[code]

You

[2020-02-21 03:35] vagababov commented on #6935
/close
Duplicate of https://github.com/knative/serving/issues/6733

[2020-02-21 03:48] ZhiminXiang commented on #6934
/assign @ZhiminXiang

[2020-02-21 04:29] mattmoor commented on #6853
@itsmurugappan 👋 Hey I think we may have met at Kubecon, your picture looks very familiar!

Yes!  I think your analysis is correct, I believe we need to add the same `store.ToContext` in the validation webhook that we have in the defaulting one.  This is likely my fault 🤦‍♂

[2020-02-21 04:41] itsmurugappan commented on #6853
@mattmoor :wave: . Yes we met during kubecon .
I will send the PR for this one thanks for reviewing.

[2020-02-21 05:49] mattmoor opened #6942 "Upgrade tests have an error they silently ignore"
/area test-and-release
/kind good-first-issue

## What version of Knative?

HEAD

## Expected Behavior

No errors

## Actual Behavior

[code]

[2020-02-21 05:49] mattmoor commented on #6942
cc @chizhg @chaodaiG

[2020-02-21 11:46] Uvindu96 commented on #6911
I faced the same issue few days ago when I try to call my backend knative service via ...default.svc.cluster.local it gives me an error.

[2020-02-21 12:00] #906 closed

[2020-02-21 12:00] #98 closed

[2020-02-21 12:00] #4446 closed

[2020-02-21 12:00] #4335 closed

[2020-02-21 12:00] #4224 closed

[2020-02-21 12:00] #4229 closed

[2020-02-21 12:00] #4258 closed

[2020-02-21 12:00] #4171 closed

[2020-02-21 12:00] #647 closed

[2020-02-21 12:03] knative-test-reporter-robot opened #6944 "[flaky] test/conformance/api/v1.TestRouteCreation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestRouteCreation
* **Repository name**: serving

[2020-02-21 12:03] knative-test-reporter-robot opened #6945 "[flaky] test/e2e/autotls.TestAutoTLS/HTTP01"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/autotls.TestAutoTLS/HTTP01
* **Repository name**: serving

[2020-02-21 12:03] knative-test-reporter-robot opened #6946 "[flaky] test/e2e/autotls.TestAutoTLS"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/autotls.TestAutoTLS
* **Repository name**: serving

[2020-02-21 12:35] duglin opened #6947 "Add K_NAMESPACE env var to pods"
## In what area(s)?

/area API

Other classifications:
/kind good-first-issue

## Describe the feature

While this actually isn't a Knative concern, it's more Kube, I think we can help users a bit by adding a `K_NAMESPACE` env var to the user's pod so that they'll know which namespace they're in. I might have missed it, but I couldn't find an existing env var (or any other way) for my KnService to

[2020-02-21 16:06] taragu commented on #6942
@mattmoor is the problem here `INGRESS_CLASS` should not be nil, meaning if it's not set, it should be set to istio by default?

[2020-02-21 17:49] vagababov commented on #6911
Where are you trying to call it from and how?

[2020-02-21 17:51] vagababov commented on #6947
https://github.com/knative/serving/blob/9565953e3827ee55971c2594acc551544b17dc6c/pkg/reconciler/revision/resources/queue.go#L249 -- will this one work?

[2020-02-21 18:00] mattmoor commented on #6942
We should probably find a way to make sure it's just set consistently (and make this fail if unset)

[2020-02-21 18:07] duglin commented on #6947
you got my hopes up :-)  that's on the queue proxy.

Do you mean I can pass it in as an env var when I create the service? Sure, but then I need to remember to do that and so does anyone else who uses my image. This just seems like an easy thing that we can share with the user since we already have the info.

[2020-02-21 18:12] vagababov commented on #6947
well I hoped env vars will be visible cross-process :|
In a sense this a change to the interface we promise, i.e. runtime contract: https://github.com/knative/serving/blob/master/docs/runtime-contract.md#process

[2020-02-21 18:54] #6772 closed

[2020-02-21 18:54] duglin commented on #6947
True - it would be one more in that table.

[2020-02-21 20:09] JRBANCEL commented on #6829
I looked at how `istioctl` works and it is a bit more complicated than simple HTTP requests on the Envoy admin port because the admin port is not exposed outside of the Pod, only on loopback.
`istioctl` uses `exec` on the Pod to extract information.
For example: https://github.com/istio/istio/blob/master/istioctl/pkg/kubernetes/client.go#L100

We can reuse this, but it is not exactly lightweight a

[2020-02-22 00:00] #4133 closed

[2020-02-22 00:00] #4198 closed

[2020-02-22 00:00] #4320 closed

[2020-02-22 00:00] #3897 closed

[2020-02-22 00:00] #3991 closed

[2020-02-22 02:57] Uvindu96 commented on #6911
I have my backend knative service in the default namespace, and I have my frontend service in another namespace. When I try to access my backend service cluster locally it gives me an error 500 can't connect to backend. I face this problem in Knative version 0.12 previously I tried the same use case with version 0.8 and it worked fine. I think the problem is with Istio.

[2020-02-22 03:06] Uvindu96 commented on #6911
I think It's looking for a service called cluster-local-gateway in the namespace istio-system.

`apiVersion: v1
kind: Service
metadata:
  name: cluster-local-gateway
  namespace: istio-system
  resourceVersion: "1579"
spec:
  ports:
    - name: status-port
      port: 15020
      protocol: TCP
      targetPort: 15020
    - name: http2
      port: 80
      protocol: TCP
      targetPort: 80
    - n

[2020-02-22 12:03] knative-test-reporter-robot opened #6963 "[flaky] pkg/activator/net.TestMultipleActivators"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestMultipleActivators
* **Repository name**: serving

[2020-02-22 12:03] knative-test-reporter-robot opened #6964 "[flaky] pkg/activator/handler.TestStats"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/handler.TestStats
* **Repository name**: serving

[2020-02-22 12:03] knative-test-reporter-robot opened #6965 "[flaky] pkg/activator/handler.TestStats/Multiple_pods_tick"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/handler.TestStats/Multiple_pods_tick
* **Repository name**: serving

[2020-02-22 12:03] knative-test-reporter-robot opened #6966 "[flaky] test/conformance/api/v1beta1.TestRouteCreation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestRouteCreation
* **Repository name**: serving

[2020-02-22 17:28] JCzz opened #6967 "Updating/installing Knative error"
Running:

[code]

Gives the following errors, do you know why:

[code]

[2020-02-22 18:33] chaodaiG commented on #5586
/remove-lifecycle rotten

[2020-02-22 18:33] chaodaiG commented on #5586
/assign

[2020-02-22 18:36] chaodaiG commented on #5586
This issue was actually fixed by https://github.com/knative/test-infra/pull/1727 by @chizhg , which updated ko to the revision which contains the fix in ko https://github.com/google/ko/pull/133 by @jonjohnsonjr

/close

[2020-02-22 18:36] #5586 closed

[2020-02-22 20:20] mattmoor opened #6970 "Migrate ingress to use class-based genreconciler"
## In what area(s)?
/area networking
/kind good-first-issue

## Describe the feature

Ingress should use the feature:
[code]

/assign @shashwathi

I'd like to see us land this before 0.13 cuts because the Istio reconciler is adding finalizers regardless of class annotation right now, which is problematic.

[2020-02-22 21:44] #6967 closed

[2020-02-22 21:45] JCzz commented on #6967
upgraded kubernetes

[2020-02-22 22:00] softshipper opened #6971 "failed to update Ingress: Operation cannot be fulfilled on ingresses.networking.internal.knative.dev "helloworld": the object has been modified; please apply your changes to the latest version and try again"
Hi all

After the helloworld-go is deployed, I've got:
[code]
Istio version is 1.4.5.

What am I doing wrong?

Thanks

[2020-02-22 22:04] JCzz opened #6972 "No routs, no pods - nothing"
Just following:
https://knative.dev/docs/serving/getting-started-knative-app/

Installed:
https://knative.dev/docs/install/knative-with-gke/

[code]

[2020-02-22 22:09] #6972 closed

[2020-02-22 22:25] JCzz commented on #6265
Same problem on v0.12.0

[2020-02-23 00:00] #3891 closed

[2020-02-23 00:00] #4534 closed

[2020-02-23 00:00] #4439 closed

[2020-02-23 00:00] #4554 closed

[2020-02-23 00:00] #4013 closed

[2020-02-23 09:22] JCzz commented on #6705
Please fix this

[2020-02-23 09:34] ysjjovo commented on #6265
Same problem on v0.11.0,k8s v.15.4(binary setup),centos7.7.1908.
but kubeadm(v1.17.0) works fine.

[2020-02-23 12:00] #404 closed

[2020-02-23 12:00] #2428 closed

[2020-02-23 12:00] #2485 closed

[2020-02-23 12:00] #2496 closed

[2020-02-23 12:00] #2843 closed

[2020-02-23 12:00] #1991 closed

[2020-02-23 12:00] #2727 closed

[2020-02-23 12:00] #2707 closed

[2020-02-23 12:00] #3012 closed

[2020-02-23 12:03] knative-test-reporter-robot opened #6974 "[flaky] test/e2e.TestAutoscaleUpCountPods/hpa"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleUpCountPods/hpa
* **Repository name**: serving

[2020-02-23 12:03] knative-test-reporter-robot opened #6975 "[flaky] test/e2e.TestAutoscaleUpCountPods"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleUpCountPods
* **Repository name**: serving

[2020-02-24 00:00] #3689 closed

[2020-02-24 00:00] #4635 closed

[2020-02-24 00:00] #4640 closed

[2020-02-24 00:00] #579 closed

[2020-02-24 04:11] sirius1024 commented on #5176
/close

[2020-02-24 04:11] #5176 closed

[2020-02-24 06:38] Uvindu96 commented on #6911
@vagababov can you please look into this..?

[2020-02-24 06:43] vagababov commented on #6911
cc @tcnghia

[2020-02-24 07:14] markusthoemmes commented on #5430
/remove-lifecycle rotten

[2020-02-24 07:50] dgerd commented on #4937
This has tumbled through the milestones and I have not been able to get to it so unassigning.

[2020-02-24 11:00] gadelkareem commented on #6911
@Uvindu96 I tried adding the service as you described but it did not help.
The problem is that I am using my own namespace for istio and knative and it seems that some service updates the external-ip of the main kservice after it is being created to link to a non-existing service `cluster-local-gateway.istio-system.svc.cluster.local`
[code]

[2020-02-24 12:00] #1942 closed

[2020-02-24 12:00] #3202 closed

[2020-02-24 12:00] #3125 closed

[2020-02-24 12:00] #2145 closed

[2020-02-24 12:00] #4535 closed

[2020-02-24 12:00] #3276 closed

[2020-02-24 14:06] JCzz opened #6980 "Doc bug: vv0.12.0"
Documentation:
https://knative.dev/docs/serving/using-auto-tls/
In section:
"Install networking-certmanager deployment"
it says:
`kubectl apply --filename https://github.com/knative/serving/releases/download/vv0.12.0/serving-cert-manager.yaml
`

Note the extra v in ...nload/**vv0.12.0**/serv...

Same goes for the section "Install networking-ns-cert component".

[2020-02-24 14:32] JCzz commented on #6510
I am looking for a way to enable SDS not using Helm?

[2020-02-24 14:40] MIBc commented on #6980
You can replace the url with https://github.com/knative/serving/releases/download/v0.12.0/serving-cert-manager.yaml

[2020-02-24 14:53] mattmoor commented on #1816
/remove-lifecycle stale

We need to figure out something here.

[2020-02-24 15:08] mattmoor opened #6984 "Re-enable generation check in postupgrade test"
## In what area(s)?
/area API
/area test-and-release
/kind good-first-issue

## Describe the feature

I'm planning to disable this check for the rest of 0.13:
https://github.com/knative/serving/blob/0bfeecd7cb285da82360a4705234fecc6abd87c8/test/upgrade/service_postupgrade_test.go#L46-L50

The problem is outlined [here](https://github.com/knative/serving/pull/6936#issuecomment-589918110) where Kube

[2020-02-24 15:11] mattmoor commented on #6984
I'll keep poking some folks as this seems like a possible Kubernetes bug, and if it bit Configuration we'd be stamping unexpected Revisions.

[2020-02-24 16:33] #6853 closed

[2020-02-24 17:25] DavidLangworthy commented on #1816
We (Azure ML) have implemented something that works orthogonally to KNative (and KF Serving) that does what we and several others have asked for.  It allows KNative services to be completely unaware of compute details.  An admin publishes a CR that creates an agent pool of the desired SKU.  This agent pool is associated with a namespace and anything that is published to that namespace is bound to

[2020-02-24 17:47] mattmoor commented on #6984
I opened the following upstream issue with a reduced repro case: https://github.com/kubernetes/kubernetes/issues/88473

[2020-02-24 18:00] vagababov commented on #2048
/reopen
I still think we want this

[2020-02-24 18:01] vagababov commented on #2048
/remove-lifecycle rotten
/remove-lifecycle stale

[2020-02-24 18:21] vagababov opened #6988 "Clarify and simplify code in activator concurr handler."
Here: https://github.com/knative/serving/blob/6ae7da3584d3125c285eed6797823b11835b9e6c/pkg/activator/handler/concurrency_reporter.go#L116 we are reporting `incomingRequestsPerKey[event.Key],`.

This implies in a sense, that compared to the previous line this can be something else than `1`.

We need to verify that it _cannot_ be anything than `1` and replace the map lookup by a constant.

This will

[2020-02-24 18:22] vagababov commented on #6988
/area autoscale

[2020-02-24 19:08] mpetason commented on #6537
I wasn't able to figure out how to link this to a PR in a different repository. This should be closed by - https://github.com/knative/pkg/pull/1101

[2020-02-24 19:11] mattmoor commented on #6537
/close

[2020-02-24 19:11] #6537 closed

[2020-02-24 19:18] JCzz commented on #6980
Thanks, that was what I did ;-)

[2020-02-24 19:27] mattmoor commented on #1816
I'd definitely like to understand more.  We've been trying to find the right balance between allowing leaky operator stuff into Developer-facing API and this is definitely one of the canonical fields that hits that.  There are other types of fields that face similar concerns (runtime class, dns policy), so I'm hoping we will be able to devise a general enough solution that we can knock off effecti

[2020-02-24 19:57] DavidLangworthy commented on #1816
I'd be happy to join a call.  What's the schedule?

[2020-02-24 21:02] mattmoor commented on #1816
Typically every Weds at 10:30 PST.

[2020-02-24 21:10] vagababov commented on #6988
After talking to Markus, this seems like an overkill.
I'll just do it.
/assign

[2020-02-24 21:13] mattmoor commented on #5624
This is only accessible to Googlers, and @dgerd is leaving us :(

cc @chizhg

[2020-02-24 21:41] shashwathi commented on #6970
@mattmoor : Did you mean this `networking.knative.dev/ingress.class` ?

[2020-02-24 21:47] ZhiminXiang opened #6990 "Make Auto TLS HTTP01 challenge work with Istio mTLS"
## Describe the feature
Currently Auto TLS does not work with Istio mTLS as the pod for serving HTTP01 challenge does not have sidecar injected.

We need to figure out how to inject sidecar for the HTTP01 pods in order to make it work with mTLS.

This is the reason why http01 E2E test failed in the mesh mode. https://testgrid.knative.dev/serving#istio-1.3-mesh&include-filter-by-regex=AutoTLS

/cc

[2020-02-24 22:10] vagababov opened #6991 "Activator Concurrency reporter swallows request count reports."
## In what area(s)?
/area autoscale
/kind bug

## What version of Knative?

Probably since 0.3

## Expected Behavior

Correct number of requests is reported.

## Actual Behavior

Incorrect number of requests is reported (1 vs X).

## Steps to Reproduce the Problem

0. Revision is scaled to 1 via minScale but no requests have happened for >1s, tbc=-1.
1. Request arrives at activator and we immediat

[2020-02-24 22:14] vagababov commented on #6988
/cc @markusthoemmes

[2020-02-24 22:16] mattmoor commented on #6970
yeah, I probably mixed it up.

[2020-02-24 22:26] vagababov commented on #6991
Note that `minScale=1` is kind of important here (not necessary, but easier to show the problem), because our cold starts are in ~4s region. Which means this is currently impossible for scaled to 0 revisions.

[2020-02-24 22:33] vagababov commented on #6991
An interesting integration test can be written for this, though I am unsure how to write it in a way that it wouldn't flake.
1. Run minScale=1 revision scaled on RPC with target=1 with fast image (autoscale go, helloworld)
2. Fire X requests
3. Observe incorrect scale up (perhaps no scaleup whatsoever).

[2020-02-24 22:58] tcnghia commented on #5918
/assign shreejad

[2020-02-24 23:08] karanrk opened #6994 "Container concurrency with Knative"
## Ask your question here:
How do I force Knative to use 1 container per pod per function invocation? I am using Knative with respect to FaaS domain.
I have already mentioned this in service spec

[code]
We observed for every 10 functions invoked we see 8/9 pods getting created, i am kinda curious to know why? i was expecting to see 10 pods for every 10 concurrent functions invoked.

[2020-02-24 23:15] vagababov commented on #6994
We currently don't really permit that. We reuse the pods, container concurrency enforces that no more than 1 request is being executed at a time, but it will queue and reuse the pod.

[2020-02-24 23:36] #6970 closed

[2020-02-24 23:41] chaodaiG opened #6996 "E2e test passed with error message containing "context cancelled""
## What version of Knative?

## Expected Behavior

e2e tests success with no error message

## Actual Behavior

e2e passed but contains suspicious error message:
[code]

## Steps to Reproduce the Problem
See this example: https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_serving/6993/pull-knative-serving-integration-tests/1232076731897090048

[2020-02-24 23:52] duglin commented on #6994
Not ideal, but if you set cc=1 and then exit() after each request I think you'll force the system to create a new pod each time

[2020-02-25 00:00] #895 closed

[2020-02-25 00:00] #2978 closed

[2020-02-25 00:00] #4732 closed

[2020-02-25 00:00] #4845 closed

[2020-02-25 00:00] #4979 closed

[2020-02-25 00:00] #4870 closed

[2020-02-25 00:00] #2107 closed

[2020-02-25 00:00] #4569 closed

[2020-02-25 00:11] vagababov commented on #5981
Done in:
#6172, #6203, #6425, #6132, #6931.

[2020-02-25 00:13] vagababov commented on #5981
Also: #6487, #6447, #6498

[2020-02-25 00:22] vagababov commented on #6994
Well this solution is _outside_ knative as a system :-)
Also programmed QP death — can do this for you as well, when it's ready.

[2020-02-25 01:43] mattmoor commented on #5918
Unless we have a strong case for 0.13, let's shoot for 0.14 here.

[2020-02-25 01:53] mattmoor commented on #6265
/assign @tcnghia

Assigning to Nghia as this affects our ability to smoke test with Istio, but if folks have an active repro of this, feel free to DM me on slack (`mattmoor`) as I'd love to be able to debug an active repro of the issue.

[2020-02-25 01:55] ZhiminXiang commented on #6917
It failed because in our mesh E2E tests, Istio mTLS is turned on. But the HTTP01 solver pod does not have sidecar injection. As a result, the HTTP01 challenge requests were not able to be routed to the solver.

Here is the fix: https://github.com/knative/serving/pull/6995

[2020-02-25 02:00] ZhiminXiang commented on #6659
It was fixed by https://github.com/knative/serving/pull/6651

[2020-02-25 02:00] #6659 closed

[2020-02-25 02:01] ZhiminXiang commented on #6660
fixed by https://github.com/knative/serving/pull/6631

[2020-02-25 02:01] #6660 closed

[2020-02-25 02:02] ZhiminXiang commented on #6934
fixed by https://github.com/knative/serving/pull/6937

[2020-02-25 02:03] ZhiminXiang commented on #4066
Close this issue as it has been fixed by
https://github.com/knative/serving/pull/6651

https://github.com/knative/serving/pull/6631

[2020-02-25 02:03] #4066 closed

[2020-02-25 02:54] ysjjovo commented on #6265
Same problem on v0.12.0,kubeadm(v.17.0),centos7.7.1908.
Some context info below
[code]
Revision describe info
[code]

[2020-02-25 03:32] mattmoor commented on #6265
It would be helpful to share `kubectl get knative-internal` too.  I'm happy to help debug if you can ping me on slack.

[2020-02-25 03:33] vagababov commented on #5918
0.14 is good.

[2020-02-25 04:23] mattmoor opened #7000 "Issue 7000"
Let's do another throwback issue like: https://github.com/knative/serving/issues/1000

Share your all-time favorite Knative issue, pull request, or anecdote.

[2020-02-25 04:46] mattmoor opened #7001 "Pick up upstream map functions"
## In what area(s)?
/area API

## Describe the feature

dedupe the map functions once we unlock knative/pkg for 0.14 and pick up: https://github.com/knative/pkg/pull/1126

/assign

[2020-02-25 05:03] dprotaso commented on #7000
:)
https://github.com/knative/serving/issues/1397

[2020-02-25 05:07] vagababov commented on #6743
The latest changes should have dealt with it.
@JRBANCEL can you verify you no longer see this when running Knative from HEAD?

[2020-02-25 05:07] vagababov commented on #6743
/close

[2020-02-25 05:07] #6743 closed

[2020-02-25 05:07] vagababov commented on #6716
@MIBc what's the status here?

[2020-02-25 05:08] vagababov commented on #6716
Do we consider it done?

[2020-02-25 05:12] vagababov commented on #6619
90% ready document: https://docs.google.com/document/d/1ubszZxikwe0O1JsA-Rjwdv3YA-rgHWKLI9WPAD083ig/edit

[2020-02-25 05:12] dprotaso commented on #7000
When the continuous attempts to improve cold starts results in you realizing it’s a steep hill to the top https://github.com/knative/serving/issues/4902

[2020-02-25 06:09] #6988 closed

[2020-02-25 06:44] vagababov commented on #6681
Is there anything to be done here or we can close this one out?

[2020-02-25 06:45] vagababov commented on #6258
To do this right, it probably depends on #6773.

[2020-02-25 06:45] vagababov commented on #5980
@markusthoemmes , will you be able to do this in 0.14?

[2020-02-25 06:47] vagababov commented on #6054
I think we've resolved here everything due to miunderstandings and unrelated bugs.
/close

[2020-02-25 06:47] #6054 closed

[2020-02-25 06:48] vagababov commented on #4665
Is anyone interested in this for 0.14 work? :)

[2020-02-25 06:49] vagababov commented on #3886
This hopefully should land in 0.14

[2020-02-25 07:31] markusthoemmes commented on #5980
Let's try!

[2020-02-25 09:06] ysjjovo commented on #6265
[code]

[2020-02-25 10:38] ysjjovo commented on #6265
I don't have an @google.com, @pivotal.io, or @redhat.com email address,my gmail is ysjjovo@gmail.com

[2020-02-25 11:14] Uvindu96 commented on #6911
@tcnghia  any idea..?

[2020-02-25 11:59] gadelkareem commented on #6911
I fixed it by modifying the config-istio, config-domain configmaps and switching the selector for the local gateway in the https://github.com/knative/serving/releases/download/v0.12.1/serving.yaml as following
[code]

Not 100% sure but the local gateway is kinda removed from Istio chart so the docs were not clear to me

[2020-02-25 12:01] #4340 closed

[2020-02-25 12:01] #4309 closed

[2020-02-25 12:01] #5030 closed

[2020-02-25 12:01] #4390 closed

[2020-02-25 12:01] #4945 closed

[2020-02-25 12:01] #4980 closed

[2020-02-25 12:01] #4992 closed

[2020-02-25 12:01] #5018 closed

[2020-02-25 12:01] #4579 closed

[2020-02-25 12:03] knative-test-reporter-robot opened #7003 "[flaky] test/e2e.TestCallToPublicService"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestCallToPublicService
* **Repository name**: serving

[2020-02-25 12:03] knative-test-reporter-robot opened #7004 "[flaky] test/e2e.TestCallToPublicService/external_address"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestCallToPublicService/external_address
* **Repository name**: serving

[2020-02-25 12:05] zhangtbj commented on #6346
Hi all,
Does anyone  try to install the latest master branch Knative serving with Istio 1.3.8 or 1.4.x ?

The Istio 1.2.2 works fine with the latest master branch of Knative serving, but when I switched the Istio to 1.3.8 or 1.4.x, all created ksvc became IngressNotConfigured status:
config-map-volume-jtcmrwak               http://config-map-volume-jtcmrwak.serving-tests.example.com

[2020-02-25 13:22] zhangtbj opened #7005 "Latest Knative serving master branch doesn't work well with Istio version 1.4.x"
Hi all,
Does anyone  try to install the latest master branch Knative serving with Istio `1.3.8` or `1.4.x` ?

The Istio 1.2.2 works fine with the latest master branch of Knative serving, but when I switched the Istio to 1.3.8 or 1.4.x, all created ksvc became IngressNotConfigured status:
[code]

But I can still access them well and the pods are running correctly:
[code]

I tried on both kube `1.15

[2020-02-25 13:49] nak3 commented on #7005
Hi @zhangtbj , Could you please check the `networking-istio` pod logs in `knative-serving` namespace? You should find the logs something like these:

[code]
That would be the initial step for the troubleshooting.
And if you have any istio's policy configuration like mTLS, JWT auth and so on, please let us know.

[2020-02-25 14:19] zhangtbj commented on #7005
Hi @nak3 ,

Thanks for your help!

I got many same errors in the logs of the `networking-istio` pod:
[code]

I tried to access this `echo.default.svc.cluster.local` in one of my pod, it fails:
[code]

And my svc status is:
[code]

But it works when I install Knative serving with older Istio version `1.2.2`.

Thanks a lot!

[2020-02-25 14:51] ZhiminXiang commented on #6887
/assign @ZhiminXiang

[2020-02-25 15:05] krancour commented on #1816
@DavidLangworthy

Something like this was discussed previously in this thread. I'd like to point out now, as I did then, that it's probably not a valid assumption that everything in the same namespace should always execute on the same type of node.

[2020-02-25 15:07] JCzz opened #7007 "knative tls & cert-manager: port 443: Connection refused"
Trying to setup `https` on Knative running on GKE.

Following this: **[Configuring HTTPS with cert-manager and Google Cloud DNS][1]**

And this: https://knative.dev/docs/serving/using-auto-tls/

`kubectl apply --filename https://github.com/knative/serving/releases/download/vv0.12.0/serving-cert-manager.yaml
`

`kubectl apply --filename https://github.com/knative/serving/releases/download/vv0.12.0/

[2020-02-25 15:14] duglin commented on #1816
Have a PoC that works via labels. Set the right label and it'll direct that Revision only to nodes that are tagged similarly/appropriately. How those nodes are created/tagged, access controlled to ensure only appropriate users can use them, are out none of the user's concerns.

[2020-02-25 15:49] shashwathi commented on #6681
@vagababov : @tcnghia had asked for e2e grpc test coverage. There is an outstanding PR for this #6778 . Please consider reviewing the PR

[2020-02-25 16:01] mattmoor commented on #6265
cc @vagababov KPA not becoming ready.

Anyone should be able to sign up with an invite from slack.knative.dev 🤔

[2020-02-25 16:07] duglin commented on #7005
Using the latest cluster-local stuff from:  https://github.com/knative/serving/blob/master/third_party/istio-1.4.4/istio-knative-extras.yaml  seems to work - so you may need to upgrade your install to use this version.

[2020-02-25 16:09] pmorie opened #7008 "Flaky test: pkg/activator/handler.TestStats/Scale-from-zero_sends_stat_go_tests.DataRaceAnalysis"
Test flake during PR build:

[code]

[Build link](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_serving/6683/pull-knative-serving-unit-tests/1232330264256974850)

## In what area(s)?
 /area test-and-release

## What version of Knative?

master

[2020-02-25 16:55] cyrildiagne opened #7010 "Timeout error when calling a long process"
## Ask your question here:

I have a service with 2 endpoints. One of these endpoints loads a large file the first time it's being called.
When I call the first endpoint, the service is scales to 1 and works great.
But then, when I call the 2nd endpoint that takes a while, it starts well and begins loading the file but after a while I get this error:

[code]
I've tried setting a few timeoutSeconds

[2020-02-25 17:03] tcnghia commented on #6346
/assign @tcnghia

[2020-02-25 17:34] vagababov commented on #7010
Sorry what do you mean by two endpoints here: you expose two ports or two URLs paths on your service?
I think default timeout is 300 seconds (unless you modified it on the service or system defaults).
If your file takes more than 300s to load it will timeout with the default settings.

[2020-02-25 18:00] vagababov commented on #6265
Can you post the logs from
[code]
If it's crashing or not starting the file should be short.

[2020-02-25 18:51] vagababov commented on #5980
:+1:

[2020-02-25 19:02] evankanderson commented on #4665
I’m wondering if this is actually two enhancements: one KPA enhancement, and one Route enhancement.

1. KPA should be able to figure out a [requests -> instances ratio] and [the current sum of traffic for a Route], and use that as a scaling target for the new Revision.
2. Route should be able to get a “capacity” number from a Revision, and apply the desired state only up to the capacity limit (whi

[2020-02-25 19:17] jchesterpivotal commented on #4665
As a general observation, safety is harder to achieve with a "push" system than a "pull" system, where replicas ask for requests rather than receiving them.

Estimating capacity is doable and rough estimates can be used to improve behaviour of a push-based system. A good reference is [this presentation](https://www.youtube.com/watch?v=6NdxUY1La2I) by @stevegury.

But you're still going to face [Ki

[2020-02-25 19:42] vagababov commented on #4665
@evankanderson , that has been my suggestion all along. We already know the capacity via all routes by virtue of knowing how much traffic is going to the existing revision over all possible routes.

Now, if we inject that information into new autoscaler object on creation, we can provide initial scale and start in panic mode to ensure no scaledown happens.

The problem is to figure out _which_ tra

[2020-02-25 19:55] shashwathi commented on #6412
/assign @andrew-su
/assign @shashwathi

[2020-02-25 19:55] dprotaso commented on #6035
After the doc change the only references that remain are

- `cmd/webhook/main.go` - used for conversion webhook
- `pkg/autoscaler/metrics/metrics_provider.go` - metrics provided with service metrics for v1alpha1 revisions

[2020-02-25 20:30] andrew-su commented on #6412
There is work related to this in flight for removing `istio.sidecar.includeOutboundIPRanges`
Issue: https://github.com/knative/serving/issues/6543
PR: https://github.com/knative/serving/pull/6597

/unassign @andrew-su
/unassign @shashwathi

[2020-02-25 20:44] evankanderson commented on #4665
Do we need to figure out which traffic goes where, or simply use the `max(spec, status)` information from the Route(s) contributing traffic to determine how much load could be assigned to a given Revision?

Note that this is not "optimal" from a resource-usage perspective, because you may end up committing resources to both the "source" and "destination" Revision when moving traffic between them,

[2020-02-25 20:56] cyrildiagne commented on #7010
Thanks a lot for the response @vagababov. My question wasn't clear indeed, by 2 endpoints I meant 2 urls paths are available on the service `/` and `/run`.
- `/` returns a string right away
- `/run` loads a large file before returning

The strange thing is that the error seems happens long before the 300s.

And in the published YAML, the only 2 configs that mention timeout are:
[code]

and

[code]

[2020-02-25 21:16] dprotaso commented on #6816
/milestone Serving 0.13.x

[2020-02-25 21:24] vagababov commented on #7010
If your first request succeeds it means it's ready, so readiness probe should not be of issue.
I wonder if we have other timeouts in the network path that shorten the context.
I think our ingress/VS setup uses the same 300s...
/cc @tcnghia

[2020-02-25 21:25] vagababov commented on #7010
Also, `error: "EOF"` kind of means the host closed the connection.
Do you set up any timeouts on the:
- client side
- inside the container?

[2020-02-25 21:41] andrew-su commented on #6991
/assign @andrew-su
/assign @shashwathi

[2020-02-25 21:46] vagababov commented on #4665
Mostly along those lines, but:

1. we need to make sure we don't scale down B, while the traffic shift is happening, since KPA is pretty aggressive. Hence my suggestion of starting new revision in panic mode. Or we can invent new mode of operation, of course.
2. The new revision is not necessarily should be scaled to 6 (in your example), but to `RevATotalCapacity/RevBTargetCapacity`, since CC/Targ

[2020-02-25 22:24] tcnghia commented on #6367
@mattmoor it is different from vendor to vendor, even among the Envoy-based impls.  may be removing retries altogether from KIngress would be a better way to achieve consistency and clarity here.

[2020-02-25 22:52] krancour commented on #1816
@duglin I'm missing something, I'm sure. It's not obvious to me how basing it on labels is effectively different than node selectors and tolerations.

The implementation details may be different between the two, sure, but isn't it true in both cases that the user requires a tacit recognition that their workload is dependent on a certain type of node and the user must also know the "magic incantati

[2020-02-25 23:21] duglin commented on #1816
Nope, you're right it's basically the same thing. Only difference is that the node selectors/toleration are hidden behind the label. Only reason i mentioned it is because some seemed concerned about complicating the UX with the kube-specific details.

[2020-02-26 00:01] #2528 closed

[2020-02-26 00:01] #3793 closed

[2020-02-26 00:01] #3883 closed

[2020-02-26 00:18] krancour commented on #1816
@duglin gotcha. Thanks.

Personally, I'd struggle to see that as an improvement only because node selectors and tolerations are configurations with fairly well-understood semantics behind them. By contrast, using labels for this would obfuscate behavior a bit by requiring special foreknowledge of how a given label affects placement.

[2020-02-26 01:02] duglin commented on #1816
I kind of view it similar to how we use annotation to control things like min/max scaling, and people seem ok with those. Only reason labels were used was because `kn` used `-l` for labels, where it doesn't support `-a` for annotation - so less typing :-)    But, if this became "a thing" then a dedicated `kn` flag that maps to annotation would work just as well.

[2020-02-26 01:22] evankanderson commented on #4665
With respect to 1, if we set KPA's target requested out of Kubernetes to:
[code]
I don't think we need to start in panic mode; we can start directly at what we think we need (i.e. 6 pods in this situation). Note that this requires deriving `observed-requests-per-container` for revision B based on data from revision A until we have enough information about B's behavior.

Good point that ContainerCo

[2020-02-26 01:45] ysjjovo commented on #6265
[code]

[2020-02-26 02:12] #6035 closed

[2020-02-26 02:33] zhangtbj commented on #7005
Thanks Doug's help!!!!

After change to the correct `cluster-local` yaml from:
https://travis.ibm.com/coligo/knative-serving/builds/26774289

It works now!

So next time, if we want to upgrade the Istio version, we need to watch the folder:
https://github.com/knative/serving/tree/master/third_party

To see which Istio version the community support.

And this is the script to generate the `cluster-

[2020-02-26 02:33] #7005 closed

[2020-02-26 02:56] krancour commented on #1816
@duglin ack.

I get it. But with annotations, I'm willing to bet that you frequently find yourself referencing docs for product x to find what annotation does what. I know I do. It is what it is, but is it optimal?

[2020-02-26 03:01] tcnghia commented on #7005
@zhangtbj in Istio 1.5 cluster local gateways can be installed using istioctl, so things will get a bit less confusing.

[2020-02-26 03:09] zhangtbj commented on #7005
Hi @tcnghia ,
Thanks for the info.

I installed the Istio by using helm.

About the Istio `1.5`, is that refined for helm way? Or do you prefer to install Istio by using istioctl in future?

[2020-02-26 03:28] vagababov commented on #4665
If we don't start in panic mode in 2s (AS reconcile period) it'll suggest scale less than 6 and immediately apply that. I think we need it. Obviously if we trick `observed-requests-per-container` to be a from revision A, we can avoid it. But I think starting in panic mode is more natural. But I guess that's debatable.

[2020-02-26 03:46] #3892 closed

[2020-02-26 03:46] #6109 closed

[2020-02-26 03:50] nak3 commented on #7005
Hi @zhangtbj We prefer to install istio by using istioctl in the future, though our branch may still use Helm on Istio 1.5. It depends on https://github.com/knative/serving/issues/6100.
Istio upstream decided to make Helm's installation deprecated so we have to do that anyway :sweat_smile:

https://preliminary.istio.io/docs/setup/install/helm/

[2020-02-26 04:29] ZhiminXiang commented on #6831
/project Networking: Auto TLS

[2020-02-26 04:30] vagababov commented on #6265
Yeah there's no crash here.
So this pod is still never ready?

[2020-02-26 04:42] zhangtbj commented on #7005
What a big change for us.....

Thanks for the info @nak3 !

One more question, Do you know when the Istio 1.5 will be published?

And will the Istio upgrade break the Knative serving function during the upgrade?
I am not sure if you have this kind of test, such as upgrade Istio from 1.3.x to 1.4.x :)

Thanks!

[2020-02-26 04:56] nak3 commented on #7005
We can find the release date of Istio 1.5 here - https://github.com/istio/istio/wiki/Istio-Release-1.5
And we will test serving w/ Istio 1.5 to avoid breaking the function as much as possible once 1.5 is released.

[2020-02-26 04:59] zhangtbj commented on #7005
Oh cool! Thanks again! @nak3

[2020-02-26 05:18] #7008 closed

[2020-02-26 05:42] ysjjovo commented on #6265
All pods are in running status.
[code]

[2020-02-26 05:53] vagababov commented on #6265
/cc @mattmoor
Matt, where did you see autoscaler not starting?

[2020-02-26 06:22] vagababov opened #7020 "Activator self identification driven by revision public service."
## In what area(s)?
/area autoscale

## Describe the feature

Currently Activator watches `activator` k8s service to determine its order in the list of activators before slicing algorithm can be executed.
This has to change for the subsetting, since SKS will select and determine which activators are going to be in charge of a given revision. Which means that activators need to get the list for ide

[2020-02-26 06:25] vagababov opened #7021 "Subsetting Algorithm Implementation"
/area autoscale

## Describe the feature

Activator Subsetting algorithm implementation. [Doc](https://docs.google.com/document/d/1nDBJbDUlnd6Zd7hcDxi7jqo1v_rK44lUVZf6UjGhHRw/preview).

/assign @vagababov

[2020-02-26 06:27] vagababov opened #7022 "SKS uses subsetting algorithm"
/area autoscale

## Describe the feature

Change SKS to proactively apply the subsetting algorithm and populate revision public service.

/assign @vagababov

[2020-02-26 06:40] vagababov commented on #6773
This is the umbrella bug.

[2020-02-26 06:42] vagababov commented on #6733
@tanzeeb do we consider this done? If so, can you close it?

[2020-02-26 06:49] vagababov commented on #6717
Practically speaking (though we discourage that) you can `kubectl edit rev revision-name` and update the annotations on the revision and this will change the autoscaling parameters without creating a new revision.

But this is a change to how the API for revision is defined and might require quite a few changes in the service/config/revision reconciler.

/cc @dprotaso
as the new API WGL.

[2020-02-26 06:51] vagababov commented on #6516
@hpandeycodeit, are you working on this or we need to find another person to work on this?

[2020-02-26 06:56] vagababov commented on #3415
@julz
What's remaining here?

[2020-02-26 08:17] julz commented on #3415
@vagababov - I think just waiting for @dgerd to approve on https://github.com/knative/serving/pull/6677

[2020-02-26 08:24] cyrildiagne commented on #7010
Thanks a lot @vagababov, you pointed me to the right direction.
I feel ashamed but the issue was simply that this specific app is started with gunicorn which has a default timeout of 30s.
So the issue had nothing to do with Knative, but I guess since the timeout error is handled by the queue-proxy, the stacktrace was leading me to believe it was related to Knative.
I can close the issue, thanks ag

[2020-02-26 08:24] #7010 closed

[2020-02-26 10:46] ysjjovo commented on #6265
I just tried another time,It worked!
Context info:kubeadm(k8s v1.17.0),knative v0.12.0.
Normal sample below
[code]
But it's still unknown status with another Environment:
k8s v1.17.3 (binary install)
detail info below:
[code]
Compare to normal sample,its service section lack for 'service/stock-service-example-first' and 'service/stock-service-example-first-private',Is there some problem with k8s i

[2020-02-26 11:24] duglin commented on #6733
using HEAD I'm still see the behavior I mentioned in #6935

[2020-02-26 12:03] knative-test-reporter-robot opened #7027 "[flaky] pkg/activator/handler.TestStats/Scale_to_two"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/handler.TestStats/Scale_to_two
* **Repository name**: serving

[2020-02-26 12:03] knative-test-reporter-robot opened #7028 "[flaky] pkg/activator/handler.TestStats/in'n_out"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/handler.TestStats/in'n_out
* **Repository name**: serving

[2020-02-26 12:03] knative-test-reporter-robot opened #7029 "[flaky] pkg/activator/handler.TestStats/Scale-from-zero_sends_stat"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/handler.TestStats/Scale-from-zero_sends_stat
* **Repository name**: serving

[2020-02-26 12:03] knative-test-reporter-robot opened #7030 "[flaky] _go_tests.DataRaceAnalysis"
### Auto-generated issue tracking flakiness of test
* **Test name**: _go_tests.DataRaceAnalysis
* **Repository name**: serving

[2020-02-26 14:00] tanzeeb commented on #6733
Not done yet, I've got a fix but it needs some cleaning it up. Should be
ready this week.

On Wed, Feb 26, 2020, 6:24 AM Doug Davis <notifications@github.com> wrote:

[2020-02-26 14:24] #7007 closed

[2020-02-26 14:42] mattmoor commented on #6265
I never said the autoscaler didn't start, I said the KPA didn't become ready.  In fact, the resource is never even initialized (from above):
[code]

[2020-02-26 15:40] JCzz opened #7035 "Enabling automatic TLS certificate provisioning - not working & SSL_ERROR_SYSCALL in connection"
Hi

I have a working ClusterIssuer(status: "True") and I am able to manually create a Certificate(status: "True").

I am trying to enable [Automatic TLS provision mode](https://github.com/knative/docs/blob/master/docs/serving/using-auto-tls.md#clusterissuer-for-dns-01-challenge).

Environment setup:

[code]

I have the following gateway:
[code]

And when applying:
[code]

I can(note: httpsRedirect

[2020-02-26 16:32] ysjjovo commented on #6265
Why KPA didn't become ready?

[2020-02-26 16:43] ysjjovo commented on #6265
I saw some abnormal messages in k8s binary installation environment.
Last 2th line says ' Cluster doesn't provide requestheader-client-ca-file'.Is there any impact?
[code]

[2020-02-26 18:09] rmoe commented on #6990
We can modify the PodTemplate for the HTTP01 solver pods. https://cert-manager.io/docs/reference/api-docs/#acme.cert-manager.io/v1alpha2.ACMEChallengeSolverHTTP01Ingress

[2020-02-26 18:09] rmoe commented on #6990
/assign

[2020-02-26 18:13] ZhiminXiang commented on #6990
I already have a PR for it: https://github.com/knative/serving/pull/6995

[2020-02-26 18:44] vagababov commented on #6733
OK, I am provisionally moving this to 0.14.

[2020-02-26 19:07] #6681 closed

[2020-02-26 19:13] vagababov commented on #6717
@richard2006 can you clarify what is the reason for stamping new revisions being a problem to you. I.e. what do you mean in `this will affect the online-service.`?

Is the problem that the traffic will abruptly switch to the new revision which is not provisioned enough or there are other problems?

If that is the only one that worries you, we have an issue (#4665) that we're trying to push forward

[2020-02-26 19:16] mattmoor commented on #6717
If you absolutely must avoid a new Revision, then the appropriate escape hatch is patching the Revision as Victor mentions.  Going through the Service/Configuration tells us you want a new Revision, and we should absolutely make that transition smoother than it is today.

[2020-02-26 19:18] vagababov commented on #7029
/close
should be fixed by #7009 and #7011.

[2020-02-26 19:18] #7029 closed

[2020-02-26 19:18] vagababov commented on #7029
/close
should be fixed by #7009 and #7011.

[2020-02-26 19:18] vagababov commented on #7028
/close
should be fixed by #7009 and #7011.

[2020-02-26 19:18] #7028 closed

[2020-02-26 19:18] vagababov commented on #7027
/close
should be fixed by #7009 and #7011.

[2020-02-26 19:18] #7027 closed

[2020-02-26 19:18] vagababov commented on #7030
/close
should be fixed by #7009 and #7011.

[2020-02-26 22:28] JRBANCEL commented on #4417
Bumping this issue because it something that most users I have met want to do.

True, but realistically we most likely will never be able to prevent users to shoot themselves in the foot. We have seen them bypass the limitations with WebHooks to inject sidecars, use the downward API and mount volumes anyway.

The binding pattern is really interesting but maybe too complicated for typical users who

[2020-02-26 23:10] mattmoor opened #7039 "Create knative/net-istio repository"
/assign mattmoor

Start from sample-controller, hollow things out and fix import paths, get basic Prow setup going with nightly releases, and enable branch protections.

[2020-02-26 23:12] mattmoor opened #7040 "Move istio KIngress to net-istio"
Mainly `pkg/reconciler/istio`.

We should also move things that are only used by this today, including:
 - `pkg/reconciler/accessor`

/assign tcnghia

[2020-02-26 23:13] mattmoor opened #7041 "Pull knative.dev/net-istio nightly into Serving"
Use this for e2e testing for Istio configurations.

Drop the redundant net-istio code.

[2020-02-26 23:15] mattmoor opened #7042 "Run `./test/conformance/ingress` against net-istio"
Get presubmit testing against `net-{foo}` including `./test/conformance/ingress`.

/assign tcnghia

[2020-02-26 23:16] mattmoor opened #7043 "Update knative/docs to reflect net-istio split"
artifacts will not come from knative.dev/net-istio

/assign tcnghia

[2020-02-26 23:17] mattmoor commented on #7040
Also move the istio-specific e2e tests

[2020-02-26 23:17] mattmoor opened #7044 "Create net-istio specific webhook"
We should use this for config-istio validation, and some of the new stuff Thomas has planned around canonical service labels.

[2020-02-26 23:19] mattmoor opened #7045 "Enable knobots for net-istio"
Hygeine legs and PKG updates

/assign mattmoor

[2020-02-26 23:47] ZhiminXiang commented on #6887
This issue was fixed by https://github.com/knative/serving/pull/7012

[2020-02-26 23:47] ZhiminXiang commented on #6887
/close

[2020-02-26 23:47] #6887 closed

[2020-02-26 23:47] ZhiminXiang commented on #6934
/close

[2020-02-26 23:47] #6934 closed

[2020-02-26 23:59] JRBANCEL commented on #6829
This is no possible to do efficiently and easily (see previous comment)
#6962 should be enough for most scenarios.
/close

[2020-02-26 23:59] #6829 closed

[2020-02-27 00:01] mdemirhan commented on #4417
As an example to what JR said above, both [Datadog](https://docs.datadoghq.com/developers/dogstatsd/unix_socket/?tab=docker) and New Relic use Unix domain sockets to collect metrics and exposing that is going to be important to support customers using these systems. In case of Datadog, the predominant way of using it is to deploy it as a Daemonset to the cluster and have customers and utilize UDS

[2020-02-27 00:34] vagababov opened #7046 "Improve Slicing in the post Activator Subsetting world"
## In what area(s)?
/area autoscale

## Describe the feature

When Activator Subsetting is implemented we should be able to improve the Activator Slicing algorithm where the Activator would always prefer the pods that are running on the _same_ node to the remote ones, if they have capacity.
When slicing matters (i.e. pod addressability is possible), this should lead to improved network latencies.

[2020-02-27 02:33] shashwathi commented on #6971
@softshipper  : can you provide more details for what version of knative , which networking implementation are you using?

[2020-02-27 02:33] shashwathi commented on #6971
/assign @shashwathi

[2020-02-27 04:51] itsmurugappan commented on #6625
I can work on this.

[2020-02-27 05:28] mattmoor commented on #4417
Yep, I agree.  I think my prior comment is likely easily misinterpreted as "No, we need to solve this problem", but my intent was simply to convey that this isn't a slam dunk, there are downsides/gotchas that we'll have to be sure to clearly document.

The position I've been advocating for is actually to expand the surface of PodSpec that we allow to enable the binding pattern to target Service (a

[2020-02-27 11:27] MIBc commented on #6716
I think we can close this issue.

[2020-02-27 11:50] arleif-dfactory opened #7052 "service http timeout setting"
## Ask your question here:
What settings are required to ensure that the queue-proxy doesn't timeout in 60 seconds?
My http requests timeout in 60 seconds and the queue-proxy has these error messages

`{"level":"error","ts":"2020-02-27T11:44:58.886Z","logger":"queueproxy","caller":"network/error_handler.go:31","msg":"error reverse proxying request; sockstat: sockets: used 375\nTCP: inuse 5 orphan

[2020-02-27 12:03] knative-test-reporter-robot opened #7053 "[flaky] test/conformance/runtime.TestProtocols/default"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestProtocols/default
* **Repository name**: serving

[2020-02-27 12:03] knative-test-reporter-robot opened #7054 "[flaky] test/conformance/api/v1.TestServiceWithTrafficSplit"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceWithTrafficSplit
* **Repository name**: serving

[2020-02-27 12:03] #7004 closed

[2020-02-27 12:03] knative-test-reporter-robot opened #7055 "[flaky] test/e2e.TestHelloWorld"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestHelloWorld
* **Repository name**: serving

[2020-02-27 12:03] knative-test-reporter-robot opened #7056 "[flaky] test/e2e.TestImagePullError"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestImagePullError
* **Repository name**: serving

[2020-02-27 12:03] knative-test-reporter-robot opened #7057 "[flaky] test/conformance/api/v1beta1.TestRevisionTimeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestRevisionTimeout
* **Repository name**: serving

[2020-02-27 12:03] knative-test-reporter-robot opened #7058 "[flaky] test/conformance/api/v1.TestService"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestService
* **Repository name**: serving

[2020-02-27 12:03] knative-test-reporter-robot opened #7059 "[flaky] test/e2e.TestMultipleNamespace"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestMultipleNamespace
* **Repository name**: serving

[2020-02-27 12:03] knative-test-reporter-robot opened #7060 "[flaky] test/conformance/api/v1alpha1.TestRevisionTimeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestRevisionTimeout
* **Repository name**: serving

[2020-02-27 12:03] knative-test-reporter-robot opened #7061 "[flaky] test/conformance/api/v1alpha1.TestRunLatestService"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestRunLatestService
* **Repository name**: serving

[2020-02-27 12:03] knative-test-reporter-robot opened #7062 "[flaky] test/conformance/api/v1alpha1.TestCustomResourcesLimits"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestCustomResourcesLimits
* **Repository name**: serving

[2020-02-27 12:03] knative-test-reporter-robot opened #7063 "[flaky] test/conformance/api/v1beta1.TestService"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestService
* **Repository name**: serving

[2020-02-27 12:03] knative-test-reporter-robot opened #7064 "[flaky] test/conformance/api/v1.TestContainerExitingMsg"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestContainerExitingMsg
* **Repository name**: serving

[2020-02-27 12:03] knative-test-reporter-robot opened #7065 "[flaky] test/conformance/api/v1.TestProjectedComplex"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestProjectedComplex
* **Repository name**: serving

[2020-02-27 12:03] knative-test-reporter-robot opened #7066 "[flaky] test/conformance/api/v1.TestSingleConcurrency"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestSingleConcurrency
* **Repository name**: serving

[2020-02-27 12:03] knative-test-reporter-robot opened #7067 "[flaky] test/conformance/api/v1.TestContainerExitingMsg/tcp"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestContainerExitingMsg/tcp
* **Repository name**: serving

[2020-02-27 12:04] knative-test-reporter-robot opened #7068 "[flaky] test/conformance/runtime.TestShouldHaveCgroupReadOnly"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestShouldHaveCgroupReadOnly
* **Repository name**: serving

[2020-02-27 12:04] knative-test-reporter-robot opened #7069 "[flaky] test/conformance/ingress.TestWebsocketSplit"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestWebsocketSplit
* **Repository name**: serving

[2020-02-27 12:04] knative-test-reporter-robot opened #7070 "[flaky] test/conformance/api/v1alpha1.TestReleaseService"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestReleaseService
* **Repository name**: serving

[2020-02-27 12:04] knative-test-reporter-robot opened #7071 "[flaky] test/conformance/runtime.TestShouldEnvVars"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestShouldEnvVars
* **Repository name**: serving

[2020-02-27 12:04] knative-test-reporter-robot opened #7072 "[flaky] test/conformance/api/v1beta1.TestProjectedConfigMapVolume"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestProjectedConfigMapVolume
* **Repository name**: serving

[2020-02-27 12:04] knative-test-reporter-robot opened #7073 "[flaky] test/conformance/api/v1.TestAnnotationPropagation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestAnnotationPropagation
* **Repository name**: serving

[2020-02-27 12:04] knative-test-reporter-robot opened #7074 "[flaky] test/conformance/api/v1alpha1.TestProjectedComplex"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestProjectedComplex
* **Repository name**: serving

[2020-02-27 12:04] knative-test-reporter-robot opened #7075 "[flaky] test/conformance/api/v1.TestUpdateConfigurationMetadata"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestUpdateConfigurationMetadata
* **Repository name**: serving

[2020-02-27 12:04] knative-test-reporter-robot opened #7076 "[flaky] test/conformance/runtime.TestProtocols"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestProtocols
* **Repository name**: serving

[2020-02-27 12:30] JCzz commented on #6346
I can confirm: this is still an issue on knative v0.12, Istio 1., k8s 1.15

[2020-02-27 12:40] zhangtbj commented on #6346
Hi @tcnghia and all,

I have solved by problem by using the latest `cluster-local` config in the thrid-party/istio-1.4.4 folder.

The solution is in the issue:
https://github.com/knative/serving/issues/7005

Thanks!

[2020-02-27 14:30] MIBc commented on #7052
You can try the env `REVISION_TIMEOUT_SECONDS`.

[2020-02-27 15:28] dprotaso opened #7077 "Clarify LatestReadyRevision semantics"
## Ask your question here:
From: https://github.com/knative/serving/pull/6592

Looking through the lineage of the changes around getting/setting the latest ready revision I'm curious if things would be simpler if we were to relax the need for the `LatestReadyRevision` to always roll forward. This seems to be a conclusion of the discussions [here](https://github.com/knative/serving/issues/5285#issu

[2020-02-27 15:31] dprotaso commented on #7077
@whaught's https://github.com/knative/serving/pull/6592#issuecomment-591665774

[2020-02-27 15:34] MIBc commented on #7052
you can  change  revision-timeout  in  configmap  config-develop.

[2020-02-27 17:03] JCzz opened #7078 "cluster-local-route - exposing a ksvc from cluster-local to public"
Reading [this](https://knative.dev/docs/serving/cluster-local-route/), you can change the ConfigMap config-domain to local domain.

Default is to expose ksvc, and if you then want the ksvc to be local you do:

`kubectl label kservice ${KSVC_NAME} serving.knative.dev/visibility=cluster-local`

What if you want to default to local, and only expose some specific ksvc?

I can think of a way, where you

[2020-02-27 17:49] vagababov commented on #6716
/close

[2020-02-27 17:49] #6716 closed

[2020-02-27 18:13] vagababov commented on #7052
60s is your client timeout.

[2020-02-27 19:03] hbagdi opened #7079 "Ingress resource is constantly being updated"
## In what area(s)?

 /area networking

## What version of Knative?

## Expected Behavior

Once a Knative service is created, a corresponding Knative Ingress resource is created. An Ingress controller satisfies the resource based on a create event. If any change is made to the Knative service which results in an update to Ingress resource, that's done by knative controllers, the update event is re

[2020-02-27 19:07] q1240725729 opened #7097 "i need help!!"
![image](https://user-images.githubusercontent.com/56433777/75477340-201f8a00-59d7-11ea-9a30-a72c143db6c8.png)
![image](https://user-images.githubusercontent.com/56433777/75477403-39c0d180-59d7-11ea-9041-8c87a3e0038a.png)
I don't know why it came back false

[2020-02-27 19:52] hbagdi commented on #7079
To add to this problem, status updates by any other controller are overwritten.

The controller I'm working on updates the LoadBalancer status successfully but that's overwritten by this notorious knative controller.

[2020-02-27 20:12] markusthoemmes commented on #7079
Is the networking-istio pod running in your cluster? If so: Are you annotating your Ingress with a class that's not istio so it wouldn't be picked up by it?

[2020-02-27 20:15] #6588 closed

[2020-02-27 20:15] #6876 closed

[2020-02-27 21:59] hbagdi commented on #7079
I don't have istio deployed in my cluster.
The ingress class is changed to `kong` and it is being picked up by Kong.

This behavior happens even if the ingress class is changed to something else entirely.

[2020-02-27 23:15] tcnghia commented on #6488
@mattmoor I'd like to backport https://github.com/knative/serving/pull/6509 in to v0.11 for @AceHack usage on EKS.  WDYT?

[2020-02-27 23:37] #7045 closed

[2020-02-27 23:43] mattmoor commented on #7039
I think that essentially all of this is done, verified here: https://github.com/knative/net-istio/pull/2

The main piece that remains it to enable nightly releases by creating `hack/release.sh`.  I copied the simpler one from Eventing in net-contour.  It should be enabled now, it will just fail until this script exists, but I'm reluctant to create the script until we have some configuration and co

[2020-02-27 23:53] #3415 closed

[2020-02-28 00:01] #4182 closed

[2020-02-28 00:26] mattmoor commented on #6488
@tcnghia SGTM, should we backport to 0.10 as well?  We support 4 versions.

[2020-02-28 00:27] mattmoor commented on #6488
(I'm not including 0.9 because by the time this cuts we'll have 0.13)

[2020-02-28 02:04] ysjjovo commented on #6265
Could someone help me out?

[2020-02-28 05:37] savitaashture commented on #6947
/assign

[2020-02-28 06:09] arleif-dfactory commented on #7052
Thanks for the replies. Pretty sure this is not a client timeout because I tried multiple clients and set their timeout.

According to the documentation timeoutSeconds: 500 in the KSvc should have been enough. In fact I can see the deployment adding the corresponding timeout to an environment variable of the `queue-proxy` ie
` - name: REVISION_TIMEOUT_SECONDS
    value: '500'
`
But looks like the

[2020-02-28 06:14] arleif-dfactory commented on #7052
Can't find config-develop, but tried this in config-default. Anyway the default is for revision-timeout is 300s and my connections are dropping at 60s

[2020-02-28 10:48] softputer opened #7087 "Requests will always go to activator rather than go to the pod service when there are pods already"
## What version of Knative?

## Expected Behavior
i have create a ksvc , after i run it after several times and there are pods running, Then the requests should not go to activator again. The request will go to the service with selectors.

## Actual Behavior

The requests will always go to activator.

## Steps to Reproduce the Problem
1、Just create a hello-world ksvc or any other service as the do

[2020-02-28 12:02] #6964 closed

[2020-02-28 12:02] knative-test-reporter-robot opened #7088 "[flaky] test/conformance/runtime.TestShouldHaveSysctlReadOnly"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestShouldHaveSysctlReadOnly
* **Repository name**: serving

[2020-02-28 12:03] knative-test-reporter-robot opened #7089 "[flaky] test/e2e.TestGRPCLoadBalancing"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestGRPCLoadBalancing
* **Repository name**: serving

[2020-02-28 12:03] knative-test-reporter-robot opened #7090 "[flaky] test/conformance/runtime.TestSecretsViaEnv/env"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestSecretsViaEnv/env
* **Repository name**: serving

[2020-02-28 12:03] knative-test-reporter-robot opened #7091 "[flaky] test/conformance/runtime.TestShouldRunAsUserContainerDefault"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestShouldRunAsUserContainerDefault
* **Repository name**: serving

[2020-02-28 12:03] knative-test-reporter-robot opened #7092 "[flaky] test/conformance/api/v1.TestSecretVolume"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestSecretVolume
* **Repository name**: serving

[2020-02-28 12:03] knative-test-reporter-robot opened #7093 "[flaky] test/conformance/api/v1beta1.TestBlueGreenRoute"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestBlueGreenRoute
* **Repository name**: serving

[2020-02-28 12:03] knative-test-reporter-robot opened #7094 "[flaky] test/conformance/runtime.TestSecretsViaEnv"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestSecretsViaEnv
* **Repository name**: serving

[2020-02-28 13:38] MIBc commented on #7087
The request pass through activator. This is the way it works.

[2020-02-28 14:34] mattmoor commented on #7097
Can you share `kubectl get knative,knative-internal` and probably `kubectl describe rev`?

[2020-02-28 14:40] q1240725729 commented on #7097
![image](https://user-images.githubusercontent.com/56433777/75557588-45fe6a80-5a7b-11ea-8b4f-f78187cb43f9.png)

[2020-02-28 14:40] q1240725729 commented on #7097
Name:         helloworld-java-spring-p2skv
Namespace:    default
Labels:       serving.knative.dev/configuration=helloworld-java-spring
              serving.knative.dev/configurationGeneration=1
              serving.knative.dev/service=helloworld-java-spring
Annotations:  serving.knative.dev/creator: kubernetes-admin
API Version:  serving.knative.dev/v1
Kind:         Revision
Metadata:
  Creatio

[2020-02-28 14:59] dprotaso commented on #7097
Don't we all :)

Yeah `RevisionMissing` reason on the Knative Service is a bit misleading since the revision is actually waiting to become ready.

You can `PodInitializing` is the reason why the revision hasn't been marked ready. It's worth looking at the Pod and it's statuses.

[2020-02-28 16:05] q1240725729 commented on #7097
![image](https://user-images.githubusercontent.com/56433777/75564452-24a37b80-5a87-11ea-8967-130d769161ad.png)

[2020-02-28 16:40] astoycos commented on #6792
I am in the same boat, I have written a [custom container source](https://github.com/astoycos/iotContainerSource) to connect Enmasse (A scalable K8s native messaging infrastructure) to Knative.  And to demonstrate the usefulness of this I put together a demo where I am simulating an IOT camera that is streaming video through Enmasse to a Knative service, which 1) Listens for incoming CEs containin

[2020-02-28 17:53] vagababov commented on #7097
You can try to `kubectl describe pod <the initializing pod>` to see if anything useful comes up. Possible things can be image can't be found (or cannot connect to the CR).

[2020-02-28 17:55] vagababov commented on #7087
This is by design.
There's targetBurstCapacity seting on revision/config-map which determines how much burst capacity your revision must have before activator will be removed from the request path.
Setting it to `0` will remove activator ASAP.

Can you tell us more why does it matter?

/remove-kind bug
/kind question

[2020-02-28 17:58] vagababov commented on #7052
If it's not your client, then it might be ingress or an intermediary proxy (as we have seen recently).
I am pretty sure QP respects the timeouts.
This is your error: `"context canceled"`, which means that the caller timed out.

[2020-02-28 17:59] vagababov commented on #6966
/cc @mgencur

[2020-02-28 18:02] dgerd commented on #4190
/reopen

[2020-02-29 02:07] JRBANCEL commented on #6625
/assign @itsmurugappan

[2020-02-29 04:01] MIBc commented on #7052
Does the http ReverseProxy have the timeout mechanism？

[2020-02-29 04:09] MIBc commented on #7052
Maybe you can check you app's log.

[2020-02-29 05:31] softputer commented on #7087
In the configmap of config-autoscaler, there is these comments:
`
# The target burst capacity specifies the size of burst in concurrent
    # requests that the system operator expects the system will receive.
    # Autoscaler will try to protect the system from queueing by introducing
    # Activator in the request path if the current spare capacity of the
    # service is less than this setting.

[2020-02-29 05:37] vagababov commented on #7087
Just editig the `_example` stanza won't help.
Can you post the whole CM?

[2020-02-29 06:52] softputer commented on #7087
this is the whole config-autoscaler cm.
`
 # The Revision ContainerConcurrency field specifies the maximum number
    # of requests the Container can handle at once. Container concurrency
    # target percentage is how much of that maximum to use in a stable
    # state. E.g. if a Revision specifies ContainerConcurrency of 10, then
    # the Autoscaler will try to maintain 7 concurrent connections

[2020-02-29 07:00] vagababov commented on #7087
Hm, that can't be. The metadata, etc, is missing.
Does the beginning look like:
[code]

[2020-02-29 07:05] softputer commented on #7087
yes , the begginng is like that :
`
apiVersion: v1
data:
  _example: |
     ...
`
i deployed the knative as the website said, so i should do some change?

[2020-02-29 07:09] vagababov commented on #7087
You're editing example, not the real config map.
You need to unindent the real values
[code]

[2020-02-29 07:09] vagababov commented on #7087
Can you tell us, why do you want to avoid Activator?

[2020-02-29 07:29] softputer commented on #7087
because if all requests will go through activator, it will be the bottleneck,right? so it will be much more
 efficient for the requests to go from the istio-gateway to the pods directly.

And there is thest words in the serving doc:
`
Once the first Pod comes up, all enqueued requests are proxied to that Pod. Concurrently, the Knative Serving control plane will update the Istio route rules to take

[2020-02-29 07:31] softputer commented on #7087
And after  `the Knative Serving control plane will update the Istio route rules to take the Activator back out of the serving path.`, the requests will be sent to 'helloworld-go-zsllv-private' k8s svc instead of 'helloworld-go-zsllv' k8s svc, right?

[2020-02-29 08:23] vagababov commented on #7087
- We might actually need to update that document, it is a bit dated. I'll take care of that.
- Now about efficiency: it largely depends on what do you use as your container concurrency.  If your container concurrency is large (>=10, based on our benchmarking) — you are correct it might be more efficient to go directly. Latency-wise about the same, but resource wise definitely better.
If it is smal

[2020-02-29 08:24] vagababov commented on #7087
I looked at (https://github.com/knative/serving/blob/master/docs/scaling/DEVELOPMENT.md) — it is super out of date.
@markusthoemmes is working on an updated version thereof.

[2020-02-29 08:50] softputer commented on #7087
and what is the purpose of `helloworld-go-zsllv-private` k8s svc?  As requests will not go through it , only endpoints of it changes?

[2020-02-29 12:03] #6872 closed

[2020-02-29 12:03] #7059 closed

[2020-02-29 12:03] #6944 closed

[2020-02-29 12:03] #7056 closed

[2020-02-29 12:03] #7068 closed

[2020-02-29 12:03] knative-test-reporter-robot opened #7099 "[flaky] pkg/reconciler/autoscaling/kpa.TestControllerSynchronizesCreatesAndDeletes"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/autoscaling/kpa.TestControllerSynchronizesCreatesAndDeletes
* **Repository name**: serving

[2020-02-29 12:03] #7075 closed

[2020-02-29 12:03] #7062 closed

[2020-02-29 12:03] #6386 closed

[2020-02-29 12:54] zouyee commented on #7097
[code]

[2020-02-29 14:14] #4610 closed

[2020-02-29 14:58] mattmoor commented on #4190
/remove-lifecycle rotten

[2020-02-29 14:59] mattmoor commented on #6947
We should use the standard K8s mechanism for this: https://github.com/knative/serving/issues/4190

[2020-02-29 14:59] #6947 closed

[2020-02-29 17:39] josiemundi commented on #6792
Hi @astoycos the iot container source looks cool! I'd like to try it out.

I managed to implement a working Knative Eventing scenario where I could get the cloudEvents received and separate http server on different ports. However, this is done by deploying my service as a native Kubernetes service rather than Knative service. Here is a link to the code and there are instructions:

https://github.c

[2020-02-29 19:30] vagababov commented on #7087
as the name suggests, it is used internally: metrics, during activation, etc.

[2020-02-29 20:40] mylokin opened #7101 "Support for {route}-{namespace}.{default-domain} URL pattern"
Hello, is there any way to change current `{route}.{namespace}.{default-domain}` custom domain url generation patter to `{route}-{namespace}.{default-domain}` (or any others without `.`)? It would make it possible to expose services using SSL certificates available by default on CDN providers such as CloudFlare.

[2020-02-29 21:34] duglin commented on #7101
Basically, you'll want to modify the `config-network` configMap in the knative-serving namespace to set `domainTemplate` value. See the info in that configMap for more details.

[2020-02-29 21:36] duglin commented on #6947
@mattmoor how can we get the value from in a pod today in an automated way?

[2020-02-29 22:18] dprotaso commented on #6810
This was bugging me so I did some digging on why the smoke tests were failing so regularly and by extension the continous ci tests (at least before this PR deleted them https://github.com/knative/serving/pull/7085)

`readiness probe returned not ready` is a red herring. This will always occur when we terminate the container under normal conditions since the probes continue after sending the `TERM`

[2020-02-29 23:21] awgneo commented on #6705
I have this problem in 12 and 12.1. Nothing in any of the above logs helps with resolving the problem.

[2020-03-01 00:19] duglin commented on #1816
I think it depends on how you're viewing the UX. On the one hand I totally agree that allowing people to extend the podSpec to include Tolerations and/or Node Selectors would be nice because then it's a nice migration path for existing Kube users.

The flip-side is that I'm not sure I would want to expose that via `kn`or even via the yaml as the "simplified" way to do things, it feels a bit too te