[2020-08-05 13:02] tshak opened #8922 "Revision stuck in "Unknown" state when Deployment Progressing is "false" (ProgressDeadlineExceeded)"
## What version of Knative?

## Expected Behavior

The Revision status should be:

Ready: `false`

Reason: `The deployment is no longer progressing`
(Ideally additional details as which container is not ready or ReadinessProbe failure)

## Actual Behavior

The Revision status is:

Ready: `Unknown`
Reason: `Deploying`

## Steps to Reproduce the Problem

1) Deploy a ksvc or kconfig with a Readiness

[2020-08-05 16:00] chasewalden commented on #7350
Additional follow-up: While using `concurrent` instead of `rps` does allow the connection to stay open, it seems that the service is still terminated after 10 minutes. For something like a chat server, this may not work (unless this is configurable per-service).

Is there documentation on the signals sent to the user-container, and when in the lifecycle they're sent? I'm thinking that for gRPC, th

[2020-08-05 17:06] mattmoor opened #8927 "Noisy log statement in ksvc reconciler"
## In what area(s)?
/area API
/area test-and-release

/kind good-first-issue

## What version of Knative?

HEAD

## Description

This logging will print even no-diff changes: https://github.com/knative/serving/blob/6d468256edf1ed235a75c539a5452d16b1f64f36/pkg/reconciler/service/service.go#L254-L259

I'd expect nothing logged when `specDiff` is empty.

cc @tcnghia @dprotaso @vagababov

[2020-08-05 17:12] vagababov commented on #8927
That's service reconciler :-)

[2020-08-05 17:28] vagababov commented on #7350
Yeah, this is an issue we're fixing (it was fixed and then rolled back). We need to solve this network timeout thingy once and for all.
/cc @mattmoor @tcnghia

[2020-08-05 17:29] vagababov commented on #7350
But yeah, I can see how gRPC is not suitable for RPS, probably we need some docs around that.

[2020-08-05 17:48] arturenault opened #8929 "Update documentation to install kubetest correctly (or move to kubetest2 when available)"
/area test-and-release
/kind doc

Our documentation explicitly states you should install kubetest using go get: https://github.com/knative/serving/tree/master/test#presubmit-tests.

Kubetest installation via go get is not supported; the team has stated that the correct way to install is via git clone/go install. However in the near future kubetest will be replaced with kubetest2, which will be go-

[2020-08-05 17:51] chasewalden commented on #7350
Agreed, at least not with server-sided streaming calls. Do you happen to know which version of serving had the rollback? Maybe I can temporarily downgrade our installation.

Also, if it was doable, client-sided streams could be measured with RPS by counting the message frames rather than GRPC calls. That might be difficult to measure though compared to standard HTTP2.

Just spitballing, but maybe

[2020-08-05 17:52] mattmoor commented on #7924
cc @julz @evankanderson

[2020-08-05 18:08] evankanderson commented on #7924
Looking at [PodSecurityContext](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#podsecuritycontext-v1-core), the following fields seem "harmless":

Field | Description
-- | --
`fsGroup` | A special supplemental group that applies to all containers in a pod. Some volume types allow the Kubelet to change the ownership of that volume to be owned by the pod: 1. The owning GID will

[2020-08-05 18:22] vagababov commented on #8921
No. If we probe activator endpoint we will get immediate success.
We need to probe revision public service. I replied to that end in the email thread as well.

/close.

[2020-08-05 18:33] julz commented on #7924
so: I don't know how much we care, but _technically_ I think this opens up some new security surface area. For example, if we allow `runAsUser` a user can now run as an arbitrary user id (including `0`). Now in a way this isn't a big deal because (a) they could do that before if they edited the image metadata (b) it should probably be blocked by a PodSecurityPolicy anyway, _but_ some users may hav

[2020-08-05 18:35] vagababov commented on #7350
It was never in a release. I think it was in knative/networking repository — @tcnghia might be more helpful to find it.

[2020-08-05 21:10] #8927 closed

[2020-08-05 22:49] vagababov commented on #8922
`ProgressDeadlineSeconds` is 300 in knative by default and can be changed in the CM.
But that aside, from the docs for progressing:

[code]
Which means in case of knative, when we scale the deployment down it becomes progressing=true again.

So in my test env with 20s progress timeout:
[code]

[2020-08-06 02:12] mattmoor commented on #7350
I'm not sure scaling based on frames makes sense because those frames cannot be distributed across additional replicas.

cc @evankanderson

[2020-08-06 02:18] #8791 closed

[2020-08-06 05:32] lauchokyip opened #8935 "In DEVELOPMENT.md, the guide to set up a new Kubernetes cluster does not link to the right place"
## In what area(s)?
DEVELOPMENT.md

## Ask your question here:
The link to [set up a new Kubernetes cluser](https://knative.dev/docs/install/) will be directed to **Installing Knative** which states

But on DEVELOPMENT.md it states

which cannot be found on the link provided

[2020-08-06 07:41] benja-wu commented on #8889
After clearing all resources in Knative-serving and removing this namespace, I had waited for several hours in case K8s haven't clean it entirely. Then I reinstall Knative-serving with version 0.16 today according to the [guideline](https://knative.dev/docs/install/any-kubernetes-cluster/) in official website.
But, the problem is still there and I had operated in Knative-serving with command `kube

[2020-08-06 12:03] #5972 closed

[2020-08-06 12:06] #8904 closed

[2020-08-06 12:06] knative-test-reporter-robot opened #8937 "[flaky] test/conformance/api/v1alpha1.TestCustomResourcesLimits"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestCustomResourcesLimits
* **Repository name**: serving

[2020-08-06 12:06] knative-test-reporter-robot opened #8938 "[flaky] test/conformance/api/v1.TestAnnotationPropagation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestAnnotationPropagation
* **Repository name**: serving

[2020-08-06 12:06] knative-test-reporter-robot opened #8939 "[flaky] test/conformance/api/v1.TestContainerExitingMsg/tcp"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestContainerExitingMsg/tcp
* **Repository name**: serving

[2020-08-06 12:06] #8903 closed

[2020-08-06 12:06] knative-test-reporter-robot opened #8940 "[flaky] test/conformance/api/v1.TestSecretVolume"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestSecretVolume
* **Repository name**: serving

[2020-08-06 12:06] knative-test-reporter-robot opened #8941 "[flaky] test/conformance/api/v1.TestProjectedSecretVolume"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestProjectedSecretVolume
* **Repository name**: serving

[2020-08-06 14:52] chasewalden commented on #7350
I agree to an extent. Yes, the frames cannot be distributed across multiple replicas but my thought was trying to spread the throughput (sum of client frames per second and server frames per second)

Without going too off topic, I played around with the idea a bit and had a few thoughts:

For example, Client A and B connect and are measured to have a throughput of 1000. If my target is 500, I shou

[2020-08-06 15:59] emaildanwilson commented on #8288
How is this supposed to work with multi-container if only one container can specify a port?

Without being able to specify a port in the probe configuration, it seems the only current option is to perform no readiness/liveness probes on containers that are not directly serving traffic.

Am I missing some other way to define this?

[2020-08-06 16:42] arturenault commented on #8627
/assign arturenault

Assigning this to myself as a first issue.

[2020-08-06 16:52] #8826 closed

[2020-08-06 17:46] #8922 closed

[2020-08-06 17:55] julz opened #8946 "Allow keeping last initScale instance around for debugging"
## Describe the feature

Spinning this out from @markusthoemmes' suggestion in https://github.com/knative/serving/pull/8933 before we forget it. In the case where something goes wrong and we never hit initialScale, we currently scale back down to zero. This is often fine, but sometimes a user would like to be able to investigate that pod to see what went wrong. One way they can do this is to bump

[2020-08-06 18:13] savitaashture commented on #8663
/assign

[2020-08-06 18:27] JRBANCEL commented on #8288
The container serving traffic could probe the other containers.
This doesn't seem right though.
@markusthoemmes do you have any though with this issue regarding multi-containers?

[2020-08-06 19:23] taragu commented on #4098
Closed via https://github.com/knative/serving/pull/8613
/close

[2020-08-06 19:23] #4098 closed

[2020-08-06 19:55] mattmoor commented on #8288
We rewrite the port for network probes of the user container regardless to test the full network path (and ensure the queue-proxy is up).  cc @tcnghia

Let's open something else for multi-container.

[2020-08-06 20:21] emaildanwilson opened #8949 "Allow sidecars to specify probe port"
Currently the API for container `livenessProbe` and `readinessProbe` doesn't allow port to be specified since `containerPort` is already provided. In a multi-container use case, `containerPort` can only be specified on one container which provides a clear way to identify the container and port which receives traffic. As a side effect, it's currently not possible to configure a sidecar container wi

[2020-08-06 22:50] tcnghia commented on #6562
Tests are moved as well. This is done.

/close

[2020-08-06 22:50] #6562 closed

[2020-08-07 03:58] #4312 closed

[2020-08-07 12:09] #8916 closed

[2020-08-07 12:09] #8902 closed

[2020-08-07 12:09] #8919 closed

[2020-08-07 12:09] #8920 closed

[2020-08-07 12:09] #8918 closed

[2020-08-07 12:44] skonto commented on #8114
@markusthoemmes @julz I can work on this.

[2020-08-07 13:16] markusthoemmes commented on #8114
This was touched on in the last ToC meeting as part of the work around making the Operator more visible. I think we should handle it as part of it and potentially explore how we could make the `KnativeServing` CRD more intrinsic to this repository. As such, this is currently not actionable code-wise but requires a proposal in conjunction with the proposal @Cynocracy is going to work out regarding

[2020-08-07 13:18] skonto commented on #8114
ok I can work on the proposal, who is will to help on that?

[2020-08-07 13:48] skonto opened #8959 "Secure the prometheus endpoint"
## Describe the feature
Serving exposes prometheus metrics in queue proxy (requests) and uses functionality from pkg [metrics](https://github.com/knative/pkg/blob/62f2560aa795d29ab6300641bc69540c69bdf98b/metrics/prometheus_exporter.go#L44) in order to create a prometheus exporter, that listens to a specific port by default. This is not protected in any way.
This is problematic for multi tenant use

[2020-08-07 17:29] arturenault commented on #2761
If this is impossible, should we close the issue? Or at least indicate that it requires a larger amount of work

[2020-08-07 17:57] arturenault commented on #7791
/assign me

picking this up as a first issue in the networking space

[2020-08-07 17:58] arturenault commented on #7791
/assign arturenault

(i guess me doesn't work 😛 )

[2020-08-07 21:58] #8627 closed

[2020-08-08 01:11] jjzeng-seattle opened #8970 "Tracking: Stackdriver metrics for queue-proxy are broken with the new routetag label."
## What version of Knative?

current master

## Expected Behavior

We should be able to see `knative.dev/internal/serving/revision/request_count` and `knative.dev/internal/serving/revision/request_count` on stackdriver metrics explorer.

## Actual Behavior
Those 2 metrics won't show up.

This PR https://github.com/knative/serving/pull/8103 added a new tag `tag` to the metric labels.  Stackdriver b

[2020-08-08 01:41] #8662 closed

[2020-08-08 05:15] #8737 closed

[2020-08-08 11:35] duglin opened #8971 "ksvc ready conditions go 'ready' too soon for initScale=0"
Enable init-scale-to-zero, then using this script:
[code]

You should see this in the output:
[code]
Notice the output from echo shows the revision name going from `echo-bxfdp-1` to `echo-dsvhs-2`. I believe this is a problem because the `kn service update` command should not have returned before the second revision was ready, meaning it became the primary/only revision. IOW, by the time the `kn s

[2020-08-08 11:42] julz commented on #8971
cc @taragu

[2020-08-08 12:07] #8781 closed

[2020-08-08 12:07] #8938 closed

[2020-08-08 12:07] #8937 closed

[2020-08-08 12:07] #8780 closed

[2020-08-08 19:37] mattmoor commented on #7350
We could potentially incorporate heuristics around frame rate into the activator's load balancing, sort of like how we've made the activator "smart" about container concurrency.  Essentially what we'd be saying is that not all requests are created equal, so a replica with 10 open streams could actually be less loaded than a replica with a single open stream that is very active.

@vagababov is the

[2020-08-09 00:13] #6112 closed

[2020-08-09 12:07] #7318 closed

[2020-08-09 12:07] knative-test-reporter-robot opened #8975 "[flaky] test/conformance/api/v1beta1.TestService"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestService
* **Repository name**: serving

[2020-08-09 12:07] knative-test-reporter-robot opened #8976 "[flaky] test/e2e.TestRouteVisibilityChanges/Route_visibility_changes_from_public_to_private_with_both_tagged_and_non-tagged_traffic"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestRouteVisibilityChanges/Route_visibility_changes_from_public_to_private_with_both_tagged_and_non-tagged_traffic
* **Repository name**: serving

[2020-08-09 12:07] knative-test-reporter-robot opened #8977 "[flaky] test/conformance/api/v1.TestServiceWithTrafficSplit"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceWithTrafficSplit
* **Repository name**: serving

[2020-08-09 12:07] knative-test-reporter-robot opened #8978 "[flaky] test/e2e/istio.TestClusterLocalAuthorization"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/istio.TestClusterLocalAuthorization
* **Repository name**: serving

[2020-08-09 12:07] knative-test-reporter-robot opened #8979 "[flaky] test/conformance/runtime.TestProtocols/h2c"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestProtocols/h2c
* **Repository name**: serving

[2020-08-09 12:07] knative-test-reporter-robot opened #8980 "[flaky] test/conformance/api/v1beta1.TestSingleConcurrency"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestSingleConcurrency
* **Repository name**: serving

[2020-08-09 12:07] knative-test-reporter-robot opened #8981 "[flaky] test/conformance/api/v1.TestService"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestService
* **Repository name**: serving

[2020-08-09 12:07] knative-test-reporter-robot opened #8982 "[flaky] test/conformance/api/v1beta1.TestRouteAndConfigGenerateName"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestRouteAndConfigGenerateName
* **Repository name**: serving

[2020-08-09 12:07] knative-test-reporter-robot opened #8983 "[flaky] test/conformance/api/v1beta1.TestSecretVolume"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestSecretVolume
* **Repository name**: serving

[2020-08-09 14:57] knative-test-reporter-robot opened #8985 "[performance] Serving load testing"
### Auto-generated issue tracking performance regression
* **Repository name**: serving
* **Test name**: Serving load testing

[2020-08-10 00:07] #7567 closed

[2020-08-10 10:44] taragu commented on #8971
/assign

[2020-08-10 12:09] knative-test-reporter-robot opened #8988 "[flaky] test/e2e.TestRPSBasedAutoscaleUpCountPods"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestRPSBasedAutoscaleUpCountPods
* **Repository name**: serving

[2020-08-10 12:10] knative-test-reporter-robot opened #8989 "[flaky] test/e2e.TestAutoscaleUpCountPods"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleUpCountPods
* **Repository name**: serving

[2020-08-10 12:10] knative-test-reporter-robot opened #8990 "[flaky] test/e2e.TestAutoscaleSustaining"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleSustaining
* **Repository name**: serving

[2020-08-10 13:53] beemarie commented on #4522
Following the process for feature request - created our feature proposal document which hopefully captures the decisions & direction so far:
https://docs.google.com/document/d/1a8f6mVlqQsr0VttWTRLcFT1PtnOHF9dKZXZEos9NSBA/edit?usp=sharing

[2020-08-10 16:18] skonto commented on #8959
@evankanderson @yanweiguo WDYTH?

[2020-08-10 16:25] evankanderson commented on #8959
I'd like to move a lot of this to the [opencensus collector](https://opencensus.io/service/components/collector/) or the equivalent OpenTelemetry component when available. This would change the pattern from a "pull" from potentially short-lived components to a "push" to a central component where ACLs and policy could be enforced. (The opencensus collector would also support more backends for metri

[2020-08-10 20:58] #8644 closed

[2020-08-10 22:19] tcnghia commented on #7791
/close

We now removed retry so the QP and activator timeout is exact. Closing the issue.

[2020-08-10 22:19] #7791 closed

[2020-08-11 02:05] vagababov opened #9000 "It's over 9000!"
subj :-)

[2020-08-11 02:06] mattmoor commented on #9000
![image](https://user-images.githubusercontent.com/2442466/89849098-999dd580-db3c-11ea-9879-8729d5cdeb85.png)

[2020-08-11 02:54] sniperking1234 commented on #1816
When will this feature be available?

[2020-08-11 03:00] mattmoor commented on #1816
in 0.17, which cuts a week from tomorrow.

[2020-08-11 03:44] tcnghia commented on #8896
/assign @JRBANCEL

[2020-08-11 03:52] tcnghia opened #9002 "Move /test/e2e/istio to net-istio repository"
## Describe the feature
Currently we have Istio specific tests in e2e/istio. We should move these to http://github.com/knative-sandbox/net-istio

[2020-08-11 05:27] vagababov commented on #8990
Looks like SLA slipped. This was before istio rollback.
I think we can close this one now
/close

[2020-08-11 05:31] vagababov commented on #8989
Ditto here. SLO problem probably due to istio.
/close

[2020-08-11 05:32] vagababov commented on #8988
SLO issues with istio
/close

[2020-08-11 05:32] #8988 closed

[2020-08-11 10:06] JCzz commented on #7350
Yes, this is still relevant - please let me know if you know of any documentation. Still I am planning on creating a controller to handle this, but not if there is anything within Knative to facilitate this.

[2020-08-11 12:07] knative-test-reporter-robot opened #9006 "[flaky] test/conformance/api/v1beta1.TestTranslation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestTranslation
* **Repository name**: serving

[2020-08-11 12:07] knative-test-reporter-robot opened #9007 "[flaky] test/conformance/api/v1beta1.TestContainerErrorMsg"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestContainerErrorMsg
* **Repository name**: serving

[2020-08-11 12:07] #8776 closed

[2020-08-11 12:07] knative-test-reporter-robot opened #9008 "[flaky] test/conformance/api/v1beta1.TestServiceBYOName"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestServiceBYOName
* **Repository name**: serving

[2020-08-11 12:07] knative-test-reporter-robot opened #9009 "[flaky] test/conformance/api/v1beta1.TestServiceGenerateName"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestServiceGenerateName
* **Repository name**: serving

[2020-08-11 12:07] knative-test-reporter-robot opened #9010 "[flaky] test/conformance/api/v1beta1.TestCustomResourcesLimits"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestCustomResourcesLimits
* **Repository name**: serving

[2020-08-11 12:07] knative-test-reporter-robot opened #9011 "[flaky] test/conformance/api/v1beta1.TestProjectedComplex"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestProjectedComplex
* **Repository name**: serving

[2020-08-11 12:07] knative-test-reporter-robot opened #9012 "[flaky] test/conformance/api/v1beta1.TestServiceWithTrafficSplit"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestServiceWithTrafficSplit
* **Repository name**: serving

[2020-08-11 12:07] #8655 closed

[2020-08-11 12:07] #8978 closed

[2020-08-11 12:07] #8976 closed

[2020-08-11 12:07] #8726 closed

[2020-08-11 12:21] #2921 closed

[2020-08-11 15:51] dprotaso commented on #6265
@jsargiot were you using a tool to deploy K8s? or manually?

[2020-08-11 17:42] jjzeng-seattle commented on #8970
After discussion with @igsong, we decided the changed the tag name to `route_tag`, since `tag` is too generic.

[2020-08-11 18:07] arturenault commented on #8871
To clarify; is the intent here to encapsulate the existing ConfigMaps (or just Features, since that's what's currently used) into a new store object that is exclusive to Labeler and Configuration?

If I understand correctly, rewriting the ConfigMaps themselves is out of scope for this particular issue.

[2020-08-11 19:37] dprotaso commented on #7924
`runUser` is already allowed by our runtime contract as a `MUST` requirement here:

https://github.com/knative/serving/blob/master/docs/runtime-contract.md#user

There's a conformance test for it here: https://github.com/knative/serving/blob/fcba76930a908d1f4725392690966e1aec19a73a/test/conformance/runtime/user_test.go#L35-L37

[2020-08-11 19:39] jsargiot commented on #6265
Manually.

Actually the missing admission controller was the `MutatingAdmissionWebhook`, I think this would've helped: https://github.com/knative/serving/pull/109, but it was removed at some point.

[2020-08-11 19:49] dprotaso commented on #7924
For enforcement that covers multiple products I'd expect cluster operators to use admission webhooks as a gate.

I think the use case we're missing is taking off the self products and running them on your cluster - these images may have a poorer security posture and thus you may want to set the following properties to ensure they are not running as root

`fsGroup`
`runAsGroup `
`runAsNonRoot`

[2020-08-11 23:28] mattmoor opened #9022 "conformance tests assume a particular URL construction"
/area API
/area test-and-release
/kind good-first-issue

## What version of Knative?

HEAD

## Expected Behavior

The URL should be looked up in the traffic block of the Service's status.

## Actual Behavior

The URL is constructed a particular way here: https://github.com/knative/serving/blob/d74ecbeb1071afaf0a9f77e4e55726e44a7272a6/test/conformance/api/v1alpha1/util.go#L55

This is likely a prob

[2020-08-12 01:47] mattmoor commented on #1178
Here's a great example fwiw: https://github.com/knative/serving/blob/20616d557b2afa33165c68ad7311b097f1068de3/test/conformance/api/v1/single_threaded_test.go#L54-L55

[2020-08-12 10:40] nak3 commented on #8935
Tn my understanding, current Knative should work with any Kubernetes (v1.16+) so you can set up a new Kubernetes as you like.
I think the link in the DEVELOPMENT.md should be replaced by https://kubernetes.io/docs/setup/.

[2020-08-12 12:06] #8692 closed

[2020-08-12 12:06] #8977 closed

[2020-08-12 12:07] knative-test-reporter-robot opened #9030 "[flaky] test/e2e.TestSubrouteVisibilityPublicToPrivate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSubrouteVisibilityPublicToPrivate
* **Repository name**: serving

[2020-08-12 12:07] #8546 closed

[2020-08-12 12:07] knative-test-reporter-robot opened #9031 "[flaky] test/conformance/runtime.TestConfigsViaEnv/env"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestConfigsViaEnv/env
* **Repository name**: serving

[2020-08-12 12:48] lauchokyip commented on #8935
Yes @nak3. Thank You.

[2020-08-12 14:11] runzexia opened #9035 "best practice for init with knative serving"
/area autoscale

## Ask your question here:

When we use kubernetes service, we use init container to perform db migration.
When we used knatvie service, we found that the init contianer greatly reduced the cold start speed. (Although db migration has been completed, it needs to go to check status).
I would like to ask if there is a more recommended method for init?

[2020-08-12 15:28] emaildanwilson commented on #8949
I can pick this up and work on a PR. before I do though...

Is there agreement that:
1. This should be fixed
2. The approach is to update the field mask to allow `livenessProbe` and `readinessProbe` to be defined on sidecar containers only.

cc @markusthoemmes

[2020-08-12 16:10] fvoznika commented on #5306
The recommendation from @JRBANCEL is to use [Feature Flags](https://docs.google.com/document/d/15BFfLXv8wNAAdDnEqKfKt5vOEDAfbGLLSWkZvmSwnG0/edit) to support RuntimeClass.

Here is an example that adds support for node selector and affinity: #8645

Can this issue be reopened?

[2020-08-12 17:16] dprotaso commented on #7924
Talked to @julz offline - we'll add this feature but gate it behind a feature flag in the short term.

Long term we'll want to sort out a few things
1) when to include this by default and remove the flag
2) when & how to add this as a requirement (level to be determined) to the runtime contract

[2020-08-12 18:23] AceHack opened #9037 "Developer Docs seems out of date"
https://github.com/knative/serving/blob/master/DEVELOPMENT.md

The first command does not work
`kukubectl apply -f ./third_party/istio-stable/istio-crds.yaml`
error: the path "./third_party/istio-stable/istio-crds.yaml" does not exist

[2020-08-12 19:36] vagababov commented on #7727
/assign

[2020-08-12 19:36] vagababov commented on #7727
I see some strange behavior

[2020-08-12 20:28] steren opened #9039 "Proposal: Revision attribute for instance session affinity"
/area API
/kind spec

# Summary

Add a Revision-level attribute to enable session affinity to container instances.

# Use cases:

* **Real time multi-player apps**: Libraries like socket.io default to long polling and upgrade to WebSockets if possible. When doing long polling or when needing to reconnect after loss of a WS connection, the library expects to reach the same server.

# Proposal

Intr

[2020-08-13 00:17] vagababov commented on #9000
/close
Thanks for playing.

[2020-08-13 00:18] #9000 closed

[2020-08-13 08:32] MIBc opened #9045 "Fali to create/update placeholder service when k8s open IPv4/IPv6 dual-stack feature"
/area API

## What version of Knative?
0.15.0
## Expected Behavior
serving controller can create/update placeholder service without errors

## Actual Behavior
If k8s open IPv4/IPv6 dual-stack feature. Knative will return error: "Service is invalid: spec.ipFamily: Required value"
We should a default ipFamily to prevent the error.

[2020-08-13 08:36] somaya10 opened #9046 "Provide ImagePullPolicy: Always on user-containers as default"
## In what area(s)?

Other classifications:

## Ask your question here:

We wanted to enforce the imagePullPolicy: Always for user-containers, to avoid a security vulnerability, when somehow a user is able to guess the image of another user that is present on the node. imagePullPolicy: Always, will make sure that its pulled in only when the user has correct credentials. Since knative doesnt provid

[2020-08-13 12:06] knative-test-reporter-robot opened #9047 "[flaky] .Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Test
* **Repository name**: serving

[2020-08-13 12:06] #8695 closed

[2020-08-13 12:06] #9010 closed

[2020-08-13 12:06] #8688 closed

[2020-08-13 12:06] #8983 closed

[2020-08-13 12:06] #9008 closed

[2020-08-13 12:06] #8750 closed

[2020-08-13 12:06] #8982 closed

[2020-08-13 12:07] #9011 closed

[2020-08-13 12:07] #8725 closed

[2020-08-13 12:07] #9007 closed

[2020-08-13 12:07] #8705 closed

[2020-08-13 12:07] #8650 closed

[2020-08-13 12:07] #9006 closed

[2020-08-13 13:16] IGassmann opened #9048 "Can't edit or delete service configuration due to initializer field"
## What version of Knative?

v0.14.0-gke.10

## Expected Behavior

`kubectl delete configuration service-name` should delete configuration, and `kubectl edit configuration service-name` should allow editing.

## Actual Behavior

Delete throws:

[code]

Edit throws:

[code]

## Steps to Reproduce the Problem

For an unknown reason, the knative service configuration has been added with the property

[2020-08-13 15:56] danehans commented on #6593
The Service APIs [HTTPRoute](https://github.com/kubernetes-sigs/service-apis/blob/master/apis/v1alpha1/httproute_types.go#L28-L59) type supports matching based on multiple hostnames. See [here](https://github.com/kubernetes-sigs/service-apis/tree/master/examples) for examples.

[2020-08-13 18:19] vagababov commented on #8917
Generic "could not create test" failure. Nothing specific to the test itself.

[2020-08-13 22:15] tcnghia commented on #8160
That is an interesting proposal @rhuss. Adding a response header is probably easy, but it does require expanding our runtime contract.

cc @mattmoor @evankanderson @dprotaso

[2020-08-14 05:51] ZhiminXiang commented on #7933
@sneko I was eventually able to figure out how to make websocket work with DomainMapping.
To make it work, you need to apply the following yaml
[code]

Here is the detailed explanation: https://stackoverflow.com/questions/63251231/google-cloud-run-custom-domains-do-not-work-with-web-sockets/63406952#63406952

[2020-08-14 05:56] ZhiminXiang commented on #7933
And for the issue in https://github.com/knative/serving/issues/7933#issuecomment-636706728 and https://github.com/knative/serving/issues/7933#issuecomment-636904467, I suspect it is not the problem of DomainMapping. Instead, it is the problem of the Knative Service that the DomainMapping points to as the Knative Service was not in the ready state.

Could you try to delete and recreate your knative

[2020-08-14 07:59] IGassmann commented on #9035
@runzexia how were you able to use an init container with a knative service?

[2020-08-14 08:39] #9035 closed

[2020-08-14 08:41] runzexia commented on #9035
@IGassmann sorry it seems ksvc could not use initContainer

[2020-08-14 12:06] #9030 closed

[2020-08-14 12:06] knative-test-reporter-robot opened #9061 "[flaky] test/conformance/api/v1.TestServiceCreateAndUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceCreateAndUpdate
* **Repository name**: serving

[2020-08-14 12:06] #9031 closed

[2020-08-14 12:06] #8877 closed

[2020-08-14 12:06] #8748 closed

[2020-08-14 12:06] #8940 closed

[2020-08-14 14:12] diegosucaria commented on #8801
Hello everyone!

I'm facing a similar situation, need to run jobs on containers (1 job = 1 container)...  My first thought was about Knative but I am not sure if it is the right tool for this...

My second thought is about using Kubernetes jobs but that means I maybe need to add some logic somewhere to make smart decisions to not trigger a lot of jobs that will starve and timeout due to resource u

[2020-08-14 19:12] dprotaso opened #9067 "Figure out the future of the security context feature flag"
This expands on https://github.com/knative/serving/issues/7924

Given that PR #9060 added a feature flag to unblock folks using EKS we should determine what we want to do long term.

tl;dr exposing the PodSecurityContext may give users control beyond their containers (ie. run user, group, fs group) and this could have unintended side-effects on our queue-proxy & potentially mesh sidecars

_Origina

[2020-08-14 20:48] #7924 closed

[2020-08-14 22:59] antoineco opened #9069 "Outdated Istio installation instructions for devs"
The `DEVELOPMENT.md` file contains installation instructions for Istio which are no longer valid after #8945

cc. @JRBANCEL

[2020-08-14 23:00] antoineco commented on #9069
/remove-label bug

[2020-08-14 23:01] antoineco commented on #9069
/remove-kind bug

[2020-08-15 00:13] ZhiminXiang commented on #9069
/assign

[2020-08-15 00:22] #7615 closed

[2020-08-15 09:24] xinydev opened #9071 "Collect logs for eventing components by fluent"
/area monitoring
## Ask your question here:
For now, we can not collect logs for eventing components by fluent, because the [config](https://github.com/knative/serving/blob/master/config/monitoring/logging/elasticsearch/100-fluentd-configmap.yaml#L32)
of logs path for fluent look like:

[code]

and the log files for eventing in /var/log/containers/* look like  :
[code]

so we need do some changes:

[2020-08-15 12:05] #8653 closed

[2020-08-15 15:13] mattmoor opened #9073 "Spammy logs from GC reconciler"
/area API
/kind good-first-issue

## What version of Knative?

HEAD

## What's the problem

This line is fairly spammy considering the GC reconciler will never update status:
[code]

cc @whaught

[2020-08-15 15:18] whaught commented on #9073
Note: this should be skipped for all non-observing reconcilers. I'd expect the same from Labeler.

Specifically with this set: https://github.com/knative/pkg/blob/a92c6821885812dd607ca385fae68bfd452e276a/controller/options.go#L37

[2020-08-15 15:22] mattmoor commented on #9073
Yeah, that's what surprised me, but I didn't want to get distracted and dig in, so I wrote it down.  thanks for the pointer!

[2020-08-15 15:51] #9073 closed

[2020-08-15 19:43] mattmoor opened #9074 "Services and Routes should implement our networking dataplane contract"
/area API
/area networking
/kind spec

## Background

Today in order to enable probing of our networking layer, we require all services referenced by a kingress resource to respond to requests with a `K-Network-Probe` header with the value they see in `K-Network-Hash`.

We provide [this](https://github.com/knative/networking/blob/master/pkg/probe_handler.go) utility to facilitate implementing this

[2020-08-15 19:53] mattmoor commented on #9074
_My idea for a solution follows, and will likely require expanding our header-dispatching capabilities and bringing them to "stable"._

tl;dr What if we had Route program `kingress` so that if `K-Network-Hash` is already injected, it sends the requests to the activator without injection?

Essentially we'd expand the exact-match capabilities of `kingress` to include "exists", and we'd preface the `

[2020-08-15 22:26] mattmoor commented on #9074
In face, I wonder if we can simply adjust the `InsertProbe` logic directly here: https://github.com/knative/networking/blob/1efd920b9839296b53badff34e5e219ae58c839a/pkg/ingress/ingress.go#L56-L59 🤔

[2020-08-15 22:29] mattmoor commented on #9074
I think this would also solve the open problem of probing for RewriteHost, which currently elides probing in [net-istio](https://github.com/knative-sandbox/net-istio/blob/f64ed34d3776a444372483dddc15a330c6c1ac53/pkg/reconciler/ingress/lister.go#L62-L67) due in part to this.

[2020-08-15 22:58] mattmoor commented on #9074
Another alternative to EXPANDING the `kingress` header-matching logic would be to change the probing logic as follows:
1. `InsertProbe` copies each rule and injects the `K-Network-Hash` header when the "exact match" header condition `K-Network-Hash: override` is met.
2. The probing logic prompts the injection by probing with `K-Network-Hash: override`.

This also enables composition because if the

[2020-08-16 11:59] duglin commented on #4060
/remove-lifecycle stale

[2020-08-16 12:07] #9061 closed

[2020-08-16 12:07] knative-test-reporter-robot opened #9075 "[flaky] pkg/reconciler/revision.TestGlobalResyncOnDefaultCMChange"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/revision.TestGlobalResyncOnDefaultCMChange
* **Repository name**: serving

[2020-08-16 14:30] mattmoor commented on #9074
FWIW, I think that everything that *might* be using this library has already implemented "exact match" header conditions, so this is a very tempting proposition 🤔

[2020-08-17 05:27] swvaibhav commented on #8801
@diegosucaria I have implemented kubernetes Job only and have a backend service that will deploy the jobs programmatically to kubernetes master. If the cluster doesn't have enough resources available then the job will go on hold state and when the resources are available, the job will be started.

Also, there watch services written to check the status of the jobs and if a job stays in a pending st

[2020-08-17 11:41] julz opened #9077 "LivenessProbe and ReadinessProbe should not be the same"
Today, we have LivenessProbe and ReadinessProbe set to exactly the same value for e.g. [activator](https://github.com/knative/serving/blob/995c90029adbf7b3d37ad31b394ebe2b76bec706/config/core/deployments/activator.yaml#L97) and [webhook](https://github.com/knative/serving/blob/6aa4596088a4f8f82b0aa02bc8615684cda91860/config/core/deployments/webhook.yaml#L97). This seems [likely to be wrong](https:

[2020-08-17 12:06] knative-test-reporter-robot opened #9078 "[flaky] pkg/reconciler/accessor/core.TestReconcileSecretCreate"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/accessor/core.TestReconcileSecretCreate
* **Repository name**: serving

[2020-08-17 14:34] diegosucaria commented on #8801
Thanks for the answer @swvaibhav. That is exactly what I end up doing yesterday.

I chose Kubernetes jobs over to Knative due to the need of full isolation between runs.

Thanks!

[2020-08-17 16:05] vagababov commented on #9077
The corollary is that if they're overloaded they might not be syncing caches and in case of activator probably making incorrect decisions about traffic, capacity etc.
For WH, though, this probably makes total sense.

[2020-08-17 18:59] mattmoor commented on #9077
Failing liveness probes prompts `SIGTERM -- (termination grace period) --> SIGKILL`.

When the SIGTERM is received, we start failing readiness probes, which prompts our endpoint to be removed and (after some period of not receiving any new connections) out http servers to drain.

I had a little throwaway application where I was playing with this in the early "webhook EOF" debugging, and I think we

[2020-08-17 19:01] mattmoor commented on #7906
@larssuanet any update on the information that @ZhiminXiang asked for?

[2020-08-17 19:06] mattmoor commented on #8016
Can you add a link to where you are seeing this?

[2020-08-17 19:07] mattmoor commented on #8016
Ah, this is a problem because of how we shipped net-istio?  I think we addressed this in 0.16, so can this be closed?

[2020-08-17 19:08] mattmoor commented on #8016
I'm looking at: https://github.com/knative/serving/releases/tag/v0.16.0 which doesn't have serving.yaml anymore (which used to blend the net-istio nightly drop)

[2020-08-17 19:10] mattmoor commented on #6571
`Image` is a CRD that is included in the `knative/serving` installation.  We occasionally see a race after applying new CRDs before instance of them can be applied, which is why we advocate that folks install the `serving-crds.yaml` before the subsequent steps.

If that's not it, then we probably need more information to help debug your problem.

[2020-08-17 19:11] mattmoor commented on #8032
This is no longer skipped or even run in this repo.

[2020-08-17 19:11] #8032 closed

[2020-08-17 19:11] mattmoor commented on #7662
moved out of the repo

[2020-08-17 19:11] #7662 closed

[2020-08-17 19:16] mattmoor commented on #8058
I haven't seen this flake in a while, and I think this is open because the test was renamed.

[2020-08-17 19:16] #8058 closed

[2020-08-17 19:21] mattmoor commented on #7926
Any updates on this?  I'd prefer to start tracking Istio issues in net-istio to keep the Serving backlog clear.

[2020-08-17 19:26] mattmoor commented on #7576
So the ACL issue was likely transient and a red herring, I think the more likely issue is that we have some sort of bad assumption about what defaulting has occurred and you managed to create resources before the defaulting webhook was active.

You can also see reconciliation errors for resources via `kubectl describe revision <name>` (switch to your favorite knative resource).

If we can confirm

[2020-08-17 19:27] mattmoor commented on #8052
This seems to have quieted down to me, but I am not sure what this issue is intending to track.

[2020-08-17 19:27] #8052 closed

[2020-08-17 19:37] mattmoor commented on #6226
I believe there is significant value in having the termination message of the container surfaced in the sub-condition's message as we scale things that are crashlooping down to zero (at which point that context is lost).

I'm not sure I'd go to the extreme that @duglin suggests, but I think that sub-conditions should be consistently useful across contexts and the termination message seems fundamen

[2020-08-17 19:38] mattmoor commented on #8057
IIUC this was resolved?  cc @vagababov

[2020-08-17 19:50] mattmoor commented on #8095
I'd like to be *able* to run it with any kingress, and I'd imagine the kourier folks would as well.

cc @tcnghia @dprotaso

[2020-08-17 19:56] mattmoor commented on #8092
Any update on this?  Did updating Knative resolve the issue?

[2020-08-17 19:57] mattmoor commented on #6264
This may also be relevant to the work @dprotaso has been looking into, but he's out for a few weeks.

[2020-08-17 19:57] mattmoor commented on #7643
Been a while...

[2020-08-17 19:57] #7643 closed

[2020-08-17 20:07] mattmoor commented on #7197
The monitoring bundle is deprecated and we plan to remove it.  I'd chalk this up as an instance of it lagging behind the rest of knative...

In general, we should make no assumptions about where the ingress we operate is running, as there's no requirement that it be fixed.  For example, Contour runs control/data planes in two namespaces `contour-{external,internal}` and the `net-contour` controlle

[2020-08-17 20:09] mattmoor commented on #7197
FWIW, I'm receptive to stronger guidance around consistency of how these things are deployed, I just don't want to conflate that with this strange leakage of implementation details.  Hopefully that makes sense.

I'm wondering if we can come up with a clear articulation of the goal and open a new issue to track in `knative/networking`?

/assign @tcnghia

[2020-08-17 20:11] vagababov commented on #8057
I think so.
/close

[2020-08-17 20:11] #8057 closed

[2020-08-17 20:11] mattmoor commented on #6543
/lifecycle frozen

[2020-08-17 20:12] Cynocracy commented on #7197
It would be nice, imo, if we were guaranteed each Operand 'owned' a namespace (or at the cluster scope, possibly a prefix/label?). With that and support for ns ref substitution transforms you can effectively late-bind namespaces and still satisfy x-operand deps.

[2020-08-17 20:13] mattmoor commented on #6543
if 6 months was .16 then 9 months is .18, which starts Tuesday!

@nak3 do you want to take this on?

[2020-08-17 20:17] mattmoor commented on #8171
Not sure there is a good way to do this with pure markdown.  If we used hugo then maybe we could `readfile` a bash script.

I'm not sure this is a good-first-issue without a plan.  If it's just removing the symlinks then 👍

[2020-08-17 20:24] mattmoor commented on #6492
HTTP Headers are also pretty fundamental to how we work today.  We inspect them for routing (e.g. Host), and mutate them to direct the activator to rehydrate the appropriate thing (K-Revision-Name).  We use them to probe network programming readiness (K-Network-Hash), and to achieve positive hand-off on the dataplane when scaling to zero (K-Network-Probe).  That's off the top of my head 😬

It woul

[2020-08-17 20:29] mattmoor commented on #7742
Based on the error it sounds like this is only an issue for TLDs?

In this case it's a problem because of our suffix-trimming logic (really in all kingress implementations), where we expose

`hello-example.1234.svc.cluster.local`, also as:
`hello-example.1234.svc`
`hello-example.1234`

However, it sounds like this last one is invalid.

We can fix this for all kingress implementations by updating:

[2020-08-17 20:29] mattmoor commented on #7742
/kind good-first-issue

[2020-08-17 20:33] mattmoor commented on #7197
I don't think we can offer that guarantee (if I understand your comment correctly).

Kourier could easily fully live in knative-serving (in [mink](https://github.com/mattmoor/mink) I run two contours in `mink-system` alongside everything from knative).  In this case no one thing "owns" the namespace.

Contour in the example above owns multiple namespaces.

[2020-08-17 20:39] mattmoor commented on #7881
Let's follow what we're doing for [service links](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/knative-dev/xYLXTxDSF78/dOSQ5TbXAwAJ)?

1. Create a flag to disable things, and socialize it (release notes, mailing list, tweeterz)
2. Wait; periodically reminding folks this is coming.
3. After a suitable period, flip the default on the flag.

If the plan is to wholly remove

[2020-08-17 20:41] Cynocracy commented on #7197
You understood it right, I believe.

Multiple namespaces seems fine, but why do you care about supporting multiple operands within the same namespace? In your Kourier example, is there any benefit to having Kourier in knative-serving? From an operational perspective, it's only confusing / grants less fine grained control.

[2020-08-17 20:43] Cynocracy commented on #7197
I could see an objection to thinking of networking as a 'separate operand' and more a necessary dependency of Serving, I suppose. In that case, the job of the Operator becomes dependency injection, in a sense.

[2020-08-17 20:44] mattmoor commented on #7207
/lifecycle frozen

[2020-08-17 20:49] mattmoor commented on #7207
IMO we should not be testing this as-is.  `net-foo` integrations should not be required to read `config-network` to properly function.

The order of operations here should be:
1. Add fields to `kingress` to express this same functionality,
2. Add conformance testing of these capabilities,
3. Wait a suitable period (per our docs on expanding kingress)
4. Change Route to read config-network and prog

[2020-08-17 20:55] mattmoor commented on #7197
@Cynocracy one use case that's come up before is being able to create single-namespace installations, where in addition to running everything in a single namespace, you also run it alongside the workload.  There are some gotchas around this with cluster-scoped resources (e.g. CRDs, webhooks), but that's orthogonal to sole-tenancy dataplanes.

[2020-08-17 20:56] mattmoor commented on #5990
/lifecycle frozen

[2020-08-17 21:02] mattmoor commented on #5990
I suspect that this would work just fine if the user container properly handled SIGTERM?

I'm not sure what source that image was built from or when, but I suspect it doesn't properly implement the K8s lifecycle.

[2020-08-17 21:03] mattmoor commented on #8210
Should this be tracked in net-istio now?

[2020-08-17 21:03] mattmoor commented on #7557
Been a while without comment, so I'm going to close this.  Please open a new issue if you still have problems.

[2020-08-17 21:03] #7557 closed

[2020-08-17 21:05] mattmoor commented on #7300
Another alternative is @markusthoemmes proposal to switch to CRDs.  Care to link that?

[2020-08-17 21:05] mattmoor commented on #7903
Any updates?  Is this still an issue with 0.15 or can we close this out?

[2020-08-17 21:07] mattmoor commented on #8357
Given that HPA autoscaler never supported scaling to zero, and we removed the metrics server integration (which might have let it), I am going to close this out.  If the KPA autoscaler doesn't meet your needs, I think we'd like to know about it.

[2020-08-17 21:07] #8357 closed

[2020-08-17 21:07] mattmoor commented on #6942
/lifecycle frozen

[2020-08-17 21:08] mattmoor commented on #6942
@chaodaiG can you confirm that https://github.com/knative/serving/pull/6961 fixed this?

[2020-08-17 21:10] mattmoor commented on #6909
I don't see the flakiness you are talking about anymore.

I'm going to close this since it's been quite a while without any real activity :)

[2020-08-17 21:10] #6909 closed

[2020-08-17 21:10] mattmoor commented on #6373
/lifecycle frozen

[2020-08-17 21:11] mattmoor commented on #7207
FYI, I opened this issue to track that when I was working on ingress conformance back in December: https://github.com/knative/serving/issues/6373

I'm going to close this in favor of that.

[2020-08-17 21:11] #7207 closed

[2020-08-17 21:13] mattmoor commented on #7154
/lifecycle frozen

@dprotaso I'd say `knative-serving-{foo}` would be reasonable.  Do you have a list of badly named resources or kinds we should triage?

[2020-08-17 21:14] mattmoor commented on #7078
/lifecycle frozen

@tcnghia does the realm proposal address this?

[2020-08-17 21:16] mattmoor commented on #6270
Transferring this to networking.

[2020-08-17 21:17] mattmoor commented on #6996
I've noticed this too, especially if you don't pass `-v`.  The source of this is something deeply nested inside of K8s library code, and it's unclear what we're calling that's causing it to emit these, but it's not something easily changed AFAIK.

Going to close this, but feel free to reopen if it's problematic for some reason.

[2020-08-17 21:17] #6996 closed

[2020-08-17 21:20] mattmoor commented on #8047
@evankanderson What is our forward-looking guidance here?

[2020-08-17 21:22] mattmoor commented on #6911
Sounds like this was resolved.

In my experience 9 times out of 10 when `foo.bar.svc.cluster.local` doesn't work, the cluster-local gateway with Istio is not installed (or busted).

[2020-08-17 21:22] #6911 closed

[2020-08-17 21:24] mattmoor commented on #7711
FWIW, I like the name profiles.

[2020-08-17 21:26] mattmoor commented on #8128
/kind good-first-issue

I think that you are correct and that we should only `SetDefaults` on Revision at creation (or we should discount defaulting in our immutability check).

[2020-08-17 21:44] mattmoor commented on #8559
I'm unfamiliar with micronaut, but every knative service (aka `ksvc`) exposes an ExternalName K8s service of the same name.

So for every ksvc "foo" in namespace "bar", there is also a K8s service "foo" in namespace "bar".

[2020-08-17 21:50] mattmoor commented on #8490
The linked PR fixes this and should land after the cut tomorrow.

[2020-08-17 21:50] mattmoor commented on #7240
/lifecycle frozen

[2020-08-17 21:51] mattmoor commented on #5934
/lifecycle frozen

[2020-08-17 21:56] mattmoor commented on #5934
They are ugly, but two options that work with GCR:
1. Use `_json_key` and an IAM role that just has read access to a specific bucket.
2. Use `_json_key` and an IAM role with NO access, but full from a bucket that's ACL'd with `allAuthenticatedUsers` (vs. `allUsers`).

[2020-08-17 21:57] mattmoor commented on #6903
/remove-lifecycle rotten

@houshengbo Why is this a problem?

[2020-08-17 22:01] ellistarn opened #9087 "Why doesn't Knative rely on the Horizontal Pod Autoscaler?"
It struct me recently that Knative could use the HPA API under the hood, similar to how it relies on Kubernetes Deployment and Service. As I understand it, you could simply implement a [custom-metrics-apiserver](https://github.com/kubernetes-sigs/custom-metrics-apiserver) that exposes request concurrency and then create a horizontal pod autoscaler resource for each ksvc resource. You would of cour

[2020-08-17 22:05] vagababov commented on #9087
There are quire a few reasons:
- it's very slow (reconciliations every 30s —— doesn't work with bursty traffic)
- you can only have 1 single custom metric endpoint per clsuter — not very cool either, if people already have that for different purpose
- didn't scale to zero until very recently and then again only with custom metrics.
- etc

[2020-08-17 22:07] mattmoor commented on #8365
/assign @yanweiguo

Any chance you could share a small repro with the app (ksvc, container) and load benchmark so we could try to reproduce?

[2020-08-17 22:08] ellistarn commented on #9087
1. Is there any reason you can't upstream your improvements to the HPA? How does knative achieve faster reconciliation? Events?
2. Wow this is bad! Have you discussed this with SIG Autoscaling at all? Seems like a fundamental deficiency
3. This is part of the v2 api, I assume?

Is it correct to say that you could've built on top of it, but upstreaming all those components would have significantly

[2020-08-17 22:08] mattmoor commented on #8390
/assign @vagababov @markusthoemmes

The discussion seems to be stalled after Doug's last question.  If we're not going to fix, can we close this?

[2020-08-17 22:13] mattmoor commented on #7915
To be clear, this default is configurable today here:
https://github.com/knative/serving/blob/595e171a86f289c02fd51574ebbbfadd7099fba5/config/core/configmaps/defaults.yaml#L92-L97

I believe this RFC is around whether we should change the default from `0` to something generous-but-bounded (e.g. `120`, or `80`), correct?

[2020-08-17 22:13] mattmoor commented on #7915
cc @dprotaso @evankanderson may have thoughts

[2020-08-17 22:16] mattmoor commented on #7449
re: `2.`

There is a parallel here to `ProgressDeadlineExceeded` for a K8s deployment, which I believe is a terminal condition until someone touches the Deployment again (similar to our situation).

[2020-08-17 22:20] mattmoor commented on #7449
re: `1.`

This would be a simpler proposition if the PodAutoscaler owned all of the pod-level health checks (I think we wanted to do this, but @jonjohnsonjr and @dgerd abandoned us).

There are some interesting implications to consider if we allow Revisions to become `Ready: False` after they've reached `Ready: True`.

For example, should `LatestReadyRevision` move to the previous ready revision?

[2020-08-17 22:22] ellistarn commented on #9087
Can you point me towards the documentation for this? AFAICT, the extension is per GVK, which should allow multiple:https://kubernetes.io/docs/tasks/extend-kubernetes/configure-aggregation-layer/

[2020-08-17 22:22] mattmoor commented on #7349
cc @vagababov @dprotaso

[2020-08-17 22:22] mattmoor commented on #7349
cc @julz

[2020-08-17 22:23] mattmoor commented on #8455
haven't seen this recently 🤔

[2020-08-17 22:23] #8455 closed

[2020-08-17 22:23] mattmoor commented on #8320
Gonna close this now, but feel free to open a new issue if you have any additional questions.

[2020-08-17 22:23] #8320 closed

[2020-08-17 22:25] mattmoor commented on #6081
/lifecycle frozen

Should we move this issue to net-istio @nak3 @tcnghia ?

[2020-08-17 22:27] mattmoor commented on #7140
Consolidating these under: https://github.com/knative/serving/issues/8471

[2020-08-17 22:27] #7140 closed

[2020-08-17 22:27] mattmoor commented on #8047
Consolidating these under: https://github.com/knative/serving/issues/8471

[2020-08-17 22:27] #8047 closed

[2020-08-17 22:29] mattmoor commented on #8471
I consolidated the issues so that we can track the request in terms of this issue.

What's the current status of this work?  I forget where we left things in the WG meeting, it was long enough ago 😬

[2020-08-17 22:29] mattmoor commented on #6642
@tcnghia should we track this in networking?  We can transfer issues there 😎

[2020-08-17 22:30] mattmoor commented on #7405
/lifecycle frozen

[2020-08-17 22:33] mattmoor commented on #8477
So the AI is to cherrypick this into `release-0.14` and `release-0.15`?

[2020-08-17 22:33] vagababov commented on #9087
It's more about this one: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/instrumentation/custom-metrics-api.md

My personal opinion is that generic solution like the one HPA provides comes with tradeoffs — be that speed, being nimble or other considerations.
This is a quite specific, purpose built solution that knows platform specific issues and can be optimized

[2020-08-17 22:39] mattmoor commented on #8477
The cherrypick PRs for the set of releases we'll support as of tomorrow are up.

[2020-08-17 22:40] vagababov commented on #8390
/assign @julz

I think the latest we all kind of agreed to is to add mode that uses `max` rather `avg` as a scaling decision point.

[2020-08-17 22:42] mattmoor commented on #8684
@duglin any more you wanted to discuss on this, or can we close it to clean up our backlog :)

[2020-08-17 22:43] mattmoor commented on #8610
cc @markusthoemmes @vagababov for thoughts

[2020-08-17 22:44] mattmoor commented on #8567
/kind good-first-issue

Making this configurable via an annotation would also make this much easier to test because it would mean we could test things without necessarily changing the SUT itself.

[2020-08-17 22:46] mattmoor commented on #7575
/lifecycle frozen

@duglin I haven't read through this in detail, but is this something you want to discuss at an upcoming API WG meeting?

[2020-08-17 22:49] mattmoor commented on #8685
Ping @duglin for question ☝️

[2020-08-17 22:51] mattmoor commented on #8562
cc @houshengbo for operator
cc @vaikas @grantr (since this likely also affects parts of eventing)

[2020-08-17 22:59] mattmoor commented on #8366
Just as an FYI (haven't read the whole thread), VPA was one of the examples specifically called out in the [Binding Pattern](https://docs.google.com/document/d/1t5WVrj2KQZ2u5s0LvIUtfHnSonBv5Vcv8Gl2k5NXrCQ/edit?ts=5dcedafb#heading=h.kqyo57uj6eem) doc's appendix as a problem area because it bypasses the higher-level abstractions (to its detriment).  I'd be curious if you've considered creating a "VP

[2020-08-17 23:02] mattmoor commented on #7195
Generally using things of unbounded arity in contexts like this is a "no no".  I feel like this came up recently with Tekton's use of PKG as well.  I'd be curious if simply removing that dimension from the metrics alleviates the problem?

cc @evankanderson

[2020-08-17 23:05] mattmoor commented on #7195
Looks like we have a PR: https://github.com/knative/pkg/pull/1464

[2020-08-17 23:21] ellistarn commented on #9087
Makes sense thank you!

[2020-08-17 23:27] vagababov commented on #8610
Actually it's the same as the @duglin issue we revisited earlier :)

[2020-08-17 23:30] nak3 commented on #6543
Yes, I do :smile: I will remove it 0.18 release. Thank you for the reminder.

/assign

[2020-08-17 23:39] nak3 commented on #6081
Umm... This is a question/issue like "It does not work when __deprecated__ istio RBAC". We already suggested that supported Istio RBAC(`AuthorizationPolicy`) should be used. It is also now documented how to use it in https://knative.dev/development/serving/istio-authorization/ as well.

@yuzisun Could you please update your Istio version and let us know if you hit any issue?

I am closing this tic

[2020-08-17 23:39] #6081 closed

[2020-08-18 00:50] nak3 commented on #9069
It was fixed by https://github.com/knative/serving/pull/9070.

/close

[2020-08-18 00:50] #9069 closed

[2020-08-18 00:50] nak3 commented on #9037
Thank you for this report. It was fixed by https://github.com/knative/serving/pull/9070.

/closes

[2020-08-18 00:50] nak3 commented on #9037
/close

[2020-08-18 00:50] #9037 closed

[2020-08-18 01:10] mattmoor commented on #8477
done

[2020-08-18 01:10] #8477 closed

[2020-08-18 01:13] mattmoor commented on #8610
Want to find it and dupe?

[2020-08-18 02:00] mattmoor commented on #9087
HPA is best suited for relatively simple cases that fit some general patterns.  Custom metrics could be a great way of expanding its scope, but IMO the restriction around a single external metrics server is a fatal flaw.  Us taking up the single slot would mean you couldn't install us alongside KEDA, which is very complementary to Knative (and is why no product manifestations ever shipped the inte

[2020-08-18 02:00] #9087 closed

[2020-08-18 02:04] mattmoor commented on #9071
The monitoring plugin/bundle was deprecated in [v0.14](https://github.com/knative/serving/releases/tag/v0.14.0), and our intention is to remove it, so I don't think we really want to be making functional changes here.

[2020-08-18 02:04] #9071 closed

[2020-08-18 02:05] mattmoor commented on #9002
/assign @nak3

[2020-08-18 02:06] mattmoor commented on #8935
@nak3 you did the hard part, want to send me a PR? 😉

/assign nak3

[2020-08-18 02:07] mattmoor commented on #8970
/assign @jjzeng-seattle

cc @evankanderson

Wasn't something rolled back for this?

[2020-08-18 02:08] mattmoor commented on #8959
/assign @skonto

Assigning for more info.

[2020-08-18 02:09] mattmoor commented on #8921
I think @vagababov meant to...

/close

[2020-08-18 02:09] #8921 closed

[2020-08-18 02:11] sniperking1234 opened #9090 "When creating ksvc, it is stuck in 'failed to resolve image to digest'"
/area autoscale

## Ask your question here:

When I created ksvc,there will be the following message in status.
[code]
This address(gcr.io)  is not accessible on the node. But I configured Docker to use a proxy server. Docker can pull the image normally, but ksvc can't work properly. Is there any way to solve this problem or add a proxy configuration?

[2020-08-18 02:13] mattmoor commented on #8812
@lee-zhg Any more info here?  otherwise we'll close on next pass.

[2020-08-18 02:17] mattmoor commented on #9090
We resolve tags to digests as part of creating our immutable revisions, and it looks like our controller process is unable to connect to GCR.  I'm curious what your networking setup is, but to unblock you can also disable tag resolution as documented here: https://knative.dev/docs/serving/tag-resolution/

[2020-08-18 02:18] mattmoor commented on #9090
If that unblocks you, please close this out.  Otherwise LMK if there's anything else I can help with.

[2020-08-18 02:31] mattmoor commented on #9048
What version of GKE?  Does this reproduce consistently for you?  If so what steps did you follow to hit it?

[2020-08-18 02:33] duglin commented on #8685
I believe it was the default: 70%

[2020-08-18 02:35] sniperking1234 commented on #9090
Skipping tag resolution works，thanks!

[2020-08-18 02:35] #9090 closed

[2020-08-18 02:39] duglin commented on #7575
Yep I think that would be a good idea - just let me know which week you think would good for it.

[2020-08-18 02:45] duglin commented on #8684
I'd like to keep this open since it's not clear to me that it's not a Knative problem to solve.  Or, at least until we have a Kube solution that we can offer to people.

[2020-08-18 03:00] mattmoor commented on #8684
Ok, I'm going to move it off the triage backlog so it doesn't keep getting poked.  Please circle back when it's ready for further discussion.

[2020-08-18 03:00] duglin commented on #7449
Q1: my question wasn't so much about how to fix the situation (e.g. roll back to an old revision), but instead more about how the user isn't told that something is wrong. Both are issues, but I'm more wondering about giving the user feedback first so they know there's something for them to investigate.  Trying to avoid them thinking their world is ok, when in fact it's falling apart around them  :

[2020-08-18 04:58] vagababov commented on #8685
Well, that's how TU works, right? If that one long running is there and your CC=1 and TU=70% there will be a second instance...

[2020-08-18 04:59] vagababov commented on #8390
/close
In favor #8610

[2020-08-18 04:59] #8390 closed

[2020-08-18 05:00] vagababov commented on #8610
Done.

[2020-08-18 05:48] navidshaikh commented on #8562
seeing this flake lately for the controller (against serving nightly)
[code]
[ref](https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_client/967/pull-knative-client-integration-tests/1295379353936334848#1:build-log.txt%3A936)

[2020-08-18 09:34] IGassmann commented on #9048
The GKE version is `1.16.11-gke.5`.

At some point, after many revisions being deployed and without any configuration change, it became impossible to deploy new revisions on the knative service through `gcloud run deploy...` and through the GCP console. The following error was being thrown on deployments:

[code]

I've then created a substitute knative service and deleted the faulty knative servic

[2020-08-18 10:49] duglin commented on #8390
@vagababov can you elaborate on why you think this is the same as #8610 ?

[2020-08-18 10:54] duglin commented on #8685
CC=5

[2020-08-18 10:58] julz commented on #8610
FWIW I think this isn't _totally_ the same as https://github.com/knative/serving/issues/8390. In https://github.com/knative/serving/issues/8390 @duglin is scraping at the correct rate, but the pockets of zero concurrency lead us to end up with less replicas than we actually need for peak load (because the simulated workload is a GitHub trigger firing multiple parallel events every 10 seconds or so

[2020-08-18 11:24] julz opened #9092 "Handle Bursty Load by optionally using "Max" rather than "Average" of buckets, or via an all-pod scale down retention window"
(note: edited since the first comment became the actual proposal here).

## Background

Currently we scale based on an average all of the "buckets" (1 second periods) over the previous window (60 seconds by default, I'll ignore panic for this discussion for simplicity, I don't think it changes anything important).

This works well in a web-app scenario where load is roughly constant (to be a bit m

[2020-08-18 11:36] julz commented on #7349
For reference of anyone coming to this issue:

 - Operator-configurable queue proxy request/limits are now available in [deployment.yaml](https://github.com/knative/serving/blob/master/config/core/configmaps/deployment.yaml#L51-L75) via https://github.com/knative/serving/pull/8195.
 - I _think_ when this was last discussed in API WG folks were hesitant to expose any more _user-facing_ configurabil

[2020-08-18 11:44] julz commented on #7711
@mattmoor me too, "Profiles" sounds good, although I _think_ we now see this as an extension of https://github.com/knative/serving/issues/8114 (tho part of me now sort-of thinks it might be a shame to block the lowish-hanging fruit of a Profile for autoscaling on the larger scale move of all the config maps to CRDs 🤔).

[2020-08-18 12:06] #8833 closed

[2020-08-18 12:06] #9075 closed

[2020-08-18 13:17] julz commented on #9092
thinking out loud, another potential approach here would be to implement something similar to the existing lastPodRetentionTime but for all pods, not just the last one. This would mean we don't scale down until we've observed a lower concurrency for at least N seconds. That way you can set the window so we correctly scale up for the burst (e.g. you could set a 1s window for a very bursty workload)

[2020-08-18 13:57] mattmoor commented on #9048
Is this using Cloud Run for Anthos?

cc @tcnghia @mdemirhan

[2020-08-18 14:14] duglin commented on #9092
Is there a way to avoid this? While there are some auto-scaling flags make sense for the ksvc owner to touch (e.g. cc because if their code just can't handle certain values we need a way to know that), but I'm not sure the user can know what kind of load (burst or not) will hit their ksvc. The actions that cause the load is often out of their control.

[2020-08-18 14:18] IGassmann commented on #9048
@mattmoor yes.

[2020-08-18 14:47] mattmoor commented on #9048
Ok, @mdemirhan and team support that product, and I'm not sure if they're doing something funny downstream that results in those fields.

cc @JRBANCEL @whaught @Cynocracy @ZhiminXiang @yanweiguo

[2020-08-18 15:07] julz commented on #9092
I _think_ the second idea above, of extending the existing `scale-to-zero-pod-retention-period` flag in to a (configurable, defaultable) all-pods retention period, so that we wouldn't scale down any pod until we've seen reduced concurrency for that number of seconds would be a way of handling bursty _and_ non-bursty loads without a new flag (other than the retention time flag, but that seems like

[2020-08-18 15:40] rccrdpccl commented on #8366
I have no access to the document linked above (Binding Pattern doc). @mattmoor Is there any way I could read that, so I can better evaluate the issue?

You recall correctly about VPA (infact it has not evolved much), however I see an issue with binding the recommended value to the `ksvc` directly instead of manipulating pods with admission controller (as VPA is doing): each change of resource poli

[2020-08-18 15:56] mattmoor commented on #8366
If you join the google group knative-dev (include a note!) you will get read/write access to the team drive/docs (incl. that doc).  I suspect the binding would want to tune how big a change is needed to prompt a rollout, but that itself IS the advantage: it's a rollout, not whack-a-pod.

Updating the ksvc actually isn't a rolling update, it would create a whole new revision and shift traffic over

[2020-08-18 16:14] vagababov commented on #9092
Well it stills requires some configuration, but @duglin I don't think there's a magic bullet exactly due to the fact that you mentioned — we cannot predict really all possible shapes of traffic, so there's no one size fits all .

[2020-08-18 16:15] vagababov commented on #9048
I think I saw this issue somewhere else recently...

[2020-08-18 16:27] evankanderson commented on #8047
I think our forward-looking guidance is that Knative isn't particularly doing anything "special" Kubernetes-wise, and metrics observation should be cluster-wide infrastructure (except that inbound scraping via Prometheus is a bit tricky, and users probably want to use the Prometheus push gateway or the OpenCensus Collector for application metrics).

[2020-08-18 16:27] evankanderson commented on #8471
I think our forward-looking guidance for metrics is that Knative isn't particularly doing anything "special" Kubernetes-wise, and metrics observation should be cluster-wide infrastructure (except that inbound scraping via Prometheus is a bit tricky, and users probably want to use the Prometheus push gateway or the OpenCensus Collector for application metrics).

[2020-08-18 16:28] vagababov commented on #8390
Since you see the behavior due to holes (no traffic). Which seems to correlate with that issue.
But @julz filed another one, which is more precise.

[2020-08-18 16:33] evankanderson commented on #8471
Note that the inbound scraping via Prometheus has the following challenges:

1. It may be hard to get the scape port exposed/authorized (this issue)
2. It may be hard to get an initial scrape at pod startup time, so some initial metric events might not be collected depending on how the metric is expressed.
2. It may be hard to coordinate final Prometheus metrics fetch with pod shutdown, which may

[2020-08-18 16:41] evankanderson commented on #8471
Amusingly, from the [Prometheus blog post about pull vs push](https://prometheus.io/blog/2016/07/23/pull-does-not-scale-or-does-it/#but-now-my-monitoring-needs-to-know-about-my-service-instances):

[2020-08-18 17:39] jeffgriffith commented on #8471
hi @evankanderson not sure i followed this. Knative Services are considered ephemeral in a way that most services are not? whether my ksvc comes and goes, it contains valuable (in the aggregate) internal information about its performance so i can't quite see why its metrics are somehow less valuable by definition. in my case, the service is long-lived i'd like to scrape it with a ServiceMonitor pe

[2020-08-18 19:50] jjzeng-seattle commented on #8970
Yes it's rolled back, and stackdriver metrics is working now.

I kept this open to track the progress, and will close this one when I rollback the "rollback" to put the routetag back.

I added "tracking" to the title.

[2020-08-18 22:49] ZhiminXiang commented on #9048
/assign

[2020-08-18 22:56] ZhiminXiang commented on #9048
@IGassmann
To make the debug easier, it would be great if you could share me your project name and cluster name. You can email me zhiminx@google.com or ping me through slack. Thanks!

[2020-08-18 23:04] Cynocracy commented on #7197
Gotcha. That makes sense, thanks.

In general, it would certainly be nice to have the Operator allow you to specify the namespace at the last moment, and ensure that things don't collide (or at least validate fail if they do).

Will have to think on it a bit.

[2020-08-18 23:28] ZhiminXiang commented on #9048
@IGassmann some followup questions:
1. Were you able to create new Knative Services through `gcloud run` or GCP console? Or did it just block you to modify the existing Configuration?
2. Did you upgrade your cluster from an older GKE version to `1.16.11-gke.5` or you just created the cluster with version `1.16.11-gke.5`?

[2020-08-19 04:20] beriberikix commented on #6492
Awesome, I would love to contribute to the such a project, especially with use cases.

I've been thinking a bunch about @markusthoemmes + @mattmoor's feedback and have some initial questions I think I need to answer. For example, is this an L7 or L4 problem? One goal of ours is to be able to serve non-HTTP L7 protocols via Knative, so at a high-level autoscaling/routing/revisions/etc. should be ha

[2020-08-19 04:23] beriberikix commented on #6492
P.S. - other networky projects are discussing UDP/TCP/non-HTTP (caveat: I'm the one asking about it!):

* [Ingress V2 (aka Gateways)](https://github.com/kubernetes-sigs/service-apis/pull/239#issuecomment-675431089)
* [SMI](https://github.com/servicemeshinterface/smi-spec/issues/156)

Why bring these up? You can imagine a scenario where one uses Gateways for egress, SMI for e/w and Knative for serv

[2020-08-19 08:21] IGassmann commented on #9048
@ZhiminXiang

1. I was able to create new knative services, but I wasn't able to deploy new revisions to the faulty knative service due to the [error mentioned above](https://github.com/knative/serving/issues/9048#issuecomment-675373001).

2. I upgraded the cluster from an older GKE version.

[2020-08-19 12:01] #6376 closed

[2020-08-19 12:07] #9078 closed

[2020-08-19 12:07] knative-test-reporter-robot opened #9102 "[flaky] .Up"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Up
* **Repository name**: serving

[2020-08-19 12:44] romachalm opened #9103 "`certificates.networking.internal.knative.dev` and `certificates.cert-manager.io` use same aliases"
## In what area(s)?

/area API

## What version of Knative?

0.17.0

## Expected Behavior

I have a cluster running with knative serving (installed with manifests) and cert-manager.
I have some wildcard certificates managed by cert-manager.
When I run `Kubectl get certificate`, I expect to have my cert-manager certificates

## Actual Behavior

Knative-serving installs CRD `certificates.networking.

[2020-08-19 13:15] nak3 commented on #9103
Hi @romachalm

You might miss it, but `certificates.networking.internal.knative.dev` has an alias `kcert` as:

https://github.com/knative/serving/blob/fa397f3e96b640b97dc3bdb7604ee8e99a19cda0/config/core/resources/certificate.yaml#L52-L53

We should have the `kcertificate` as well? :thinking:

/cc @ZhiminXiang

[2020-08-19 13:30] Morriz opened #9104 "has scaling from zero degraded in performance?"
In 0.12 it was around 8-10 secs. In 0.16 it's between 14-18 secs. Same stack same resources.

[2020-08-19 13:33] romachalm opened #9105 "Reconciled revisions in `ProgressDeadlineExceeded ` when upgrading from 0.16 to 0.17"
## In what area(s)?

/area autoscale

## What version of Knative?

0.17.0

## Expected Behavior

I have a cluster in 0.16 with some ksvc running on it. They were in `ready` state.
I have applied the 0.17 manifests on my cluster.

The deployed services should be ready after being reconciled.

## Actual Behavior

The reconciled revisions were not ready
[code]

with  the status conditions :
[code]

T

[2020-08-19 13:49] taragu commented on #9105
/assign

[2020-08-19 13:55] MIBc commented on #9077
Why LivenessProbe and ReadinessProbe should not be the same.? Can you give me an example?

[2020-08-19 14:08] julz commented on #9077
The tl;dr is Liveness Probes covert a temporary situation (overload), in to a permanent situation (killing a pod, forcing it to shutdown, paying a startup penalty while it comes back up during which time the load shifts to other replicas, potentially overloading them). Additionally, livenessProbes ignore PDBs, so they're pretty dangerous. Liveness Probes should generally only be used for actual de

[2020-08-19 14:18] romachalm commented on #9103
Hi @nak3,

Indeed, and `cert-manager` has `cert` as shortname.

But I found disturbing to have an alias we do not know which CRD it refers to.
I guess that if I install cert-manager after knative, `k get certificate` will list the cert-manager certificates.
So if we are unsure what the alias is referring to, the user experience may be impacted

[2020-08-19 15:39] nak3 opened #9109 "net-istio is not pinned in e2e scripts"
## In what area(s)?

/area networking
/area test-and-release

## What version of Knative?

HEAD

## Actual Behavior

Currently it tries to pin the commit here:

https://github.com/knative/serving/blob/fa397f3e96b640b97dc3bdb7604ee8e99a19cda0/test/e2e-common.sh#L195

but itis not working well.

For example, please see the build log in [istio-stable-no-mesh](https://prow.knative.dev/view/gcs/knative

[2020-08-19 15:39] nak3 commented on #9109
/assign @JRBANCEL

[2020-08-19 16:34] vagababov commented on #9104
No it has been strictly consistent. Especially in the ranges you're quoting.

[2020-08-19 17:17] vagababov commented on #9102
/close
This was boskos flare up.

[2020-08-19 17:17] #9102 closed

[2020-08-19 19:52] vagababov opened #9114 "Remove backward compatibility check in KPA"
Remove the check introduced here https://github.com/knative/serving/pull/9110 in KPA, since we don't expect 0.16-0.19 upgrades.

[2020-08-19 21:08] SwEngin commented on #8871
I would like to give this a go.

[2020-08-19 21:15] whaught commented on #8871
Correct. The configmaps have a struct that each reconciler creates and populates. I kind of lazily recycled an existing store for: https://github.com/knative/serving/pull/8850 but that's not usually the pattern.

Eg. Configuration references "knative.dev/serving/pkg/apis/config" as its config store.
However reconcilers like Route have their own: https://github.com/knative/serving/blob/master/pkg/r

[2020-08-20 00:44] #9105 closed

[2020-08-20 01:32] AceHack opened #9120 "imagePullPolicy: IfNotPresent does not work for private registries locally"
/area API
/kind process

## What version of Knative?
0.16.x

## Expected Behavior

If an image already exists in the cluster like docker for desktop or minikube and imagePullPolicy: IfNotPresent is set then the container for a knative service should start running.

## Actual Behavior

The revision fails with not authorized
│ Events:

[2020-08-20 01:34] mattmoor commented on #9074
cc @julz @tcnghia thoughts?  I want to try and patch this into networking to try it out.

[2020-08-20 02:54] mattmoor commented on #9074
So I tweaked the probing library to try this trick out, and redeployed net-contour:
[code]

[2020-08-20 08:28] cdlliuy opened #9121 "pod number decreased extremely when panic-window passed"
## In what area(s)?

## Ask your question here:
We are trying to test knative autoscaling with a simple helloworld Golang application, and trying to scale as much as possible pods with knative to check the behavior under extreme situation.

So, we set CC=10, and use vegeta to add workload with rate 3000/s (given it is helloworld,  the rate here is rps, not concurrency).
queue-proxy / user-containe

[2020-08-20 12:05] #7672 closed

[2020-08-20 12:06] knative-test-reporter-robot opened #9122 "[flaky] pkg/reconciler/route.TestUpdateDomainConfigMap/newdefault.net"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestUpdateDomainConfigMap/newdefault.net
* **Repository name**: serving

[2020-08-20 12:06] knative-test-reporter-robot opened #9123 "[flaky] pkg/reconciler/route.TestUpdateDomainConfigMap/example.com"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestUpdateDomainConfigMap/example.com
* **Repository name**: serving

[2020-08-20 12:31] sniperking1234 commented on #9120
Similar to the problem I encountered before. Knative controller needs to get image's digest to ensure the immutability of revision.
This document may be helpful. https://knative.dev/docs/serving/tag-resolution/
https://github.com/knative/serving/issues/9090

[2020-08-20 13:48] larssuanet commented on #7906
Thanks for the reminder @mattmoor.

I got the setup to work by following the [local gateway guide](https://knative.dev/docs/serving/cluster-local-route/) to the letter.
In my previous setup I tried to leave out
[code]
as I thought that would disable my ingressgateway (which it obviously didn't, as it did not overwrite those resources). Adding it to the installation worked for me.

As for your ques

[2020-08-20 13:50] mattmoor commented on #7748
/lifecycle frozen

[2020-08-20 16:28] vagababov commented on #9121
We already have that setting —  `max-scale-down-rate: "2.0"` in the config-autoscaling CM.
Also what target utilization (or container-concurrency-target-percentage CM value) are you using?

In general helloworld is kind of lousy application, since it has no real latency — I'd suggest you use autoscale test image, since you can control latency there (including normally distributed random value).

N

[2020-08-20 16:40] #9074 closed

[2020-08-20 17:04] antoineco opened #9127 "Serving webhook should not reject Pods' automountServiceAccountToken attribute"
## What version of Knative?

0.17

## Expected Behavior

A user can set `spec.template.spec.automountServiceAccountToken` in a Pod spec in order to opt-out of Kubenetes' default behaviour of mounting a ServiceAccount token in that Pod's containers.

## Actual Behavior

The validation webhook rejects non-nil values with

[code]

## Steps to Reproduce the Problem

Create a Service with `spec.templat

[2020-08-20 17:26] julz opened #9129 "HorizontalPodAutoscaler for Webhook"
## Describe the feature

We set up HPA for activator, it seems reasonable to do similarly for the webhook(s) (since it's a SPOF otherwise and I think we've seen it be cpu bound in the past).

cc @mattmoor

[2020-08-20 17:50] joshuawilson commented on #912
I'm working on a manually generated schema. I'll post a PR tomorrow. If you like it, then great. Either way, I need it for validation in the IDE.

[2020-08-20 18:02] mattmoor commented on #912
I'm putting this in 0.19, as I *think* dropping v1alpha1 and v1beta1 will unblock it, based on my understanding of the remaining issues.

[2020-08-20 18:05] mattmoor commented on #912
If someone familiar with the current state of the CRD generation could confirm that dropping v1alpha1 and v1beta1 allows it to work, that would be very helpful.

[2020-08-20 18:39] mattmoor commented on #8638
thanks for being on top of this, Dave!  I came to open this issue and it was already here 😍

[2020-08-20 18:43] mattmoor commented on #9129
cc @dprotaso @vagababov

/kind good-first-issue

I suspect that we will want to scale this based on CPU, since memory is likely to be based on informers which won't go down as this scaled horizontally.

[2020-08-20 18:44] mattmoor commented on #9127
cc @dprotaso

[2020-08-20 18:45] mattmoor commented on #8985
/assign @vagababov

[2020-08-20 18:49] mattmoor commented on #9104
@Morriz one thing to potentially look at is whether the number of K8s services (possibly lots of Revisions?) in your namespace has grown.  We noticed with "service links" that cold start deployment degrades as the number of services increases, and we create two services per Revision.

https://github.com/knative/serving/issues/8498

In recent versions of Knative, you can disable service links at th

[2020-08-20 18:50] mattmoor commented on #9104
If that doesn't resolve the issues you are seeing, would it be possible to try and produce a small repro case that we can try poking at, including more information about your environment (K8s version, provider, ...)

thanks again for reaching out.

[2020-08-20 18:56] mattmoor commented on #9120
Right, we want strong consistency of the version of images that replicas deploy, and historically image pull policy is fraught and tantamount to bad caching.  If you tag local images with `dev.local` or `ko.local` registry names, then we automatically bypass tag resolution today, alternately for your local setup you can disable tag resolution for your registry domain (though I wouldn't recommend i

[2020-08-20 18:56] #9120 closed

[2020-08-20 18:57] mattmoor commented on #9121
/assign @vagababov

can you confirm that those settings are documented on knative.dev?

[2020-08-20 18:59] mattmoor commented on #9103
/assign @ZhiminXiang

Yeah, this is an unfortunate collision.  Ideally K8s would provide a way to deprioritize our version here, since this is generally an internal abstraction.  Fortunately for most of our other collisions they are not CRDs, but built-ins so we didn't hit this problem.

[2020-08-20 18:59] mattmoor commented on #9077
/kind good-first-issue
/area API

[2020-08-20 19:10] vagababov commented on #9129
👍
Unless we invent bucket limiting informers :)

[2020-08-20 19:13] mattmoor commented on #9039
/area networking

cc @tcnghia @nak3 @ZhiminXiang
cc @evankanderson @dprotaso

I think it's probably prudent to defer API discussions to after we've nailed down the semantics.  We basically provide zero guarantees today that a Pod even continues to exist outside the bounds of a request.  There are also a wide variety of gotchas here:
1. What happens when a user is using `containerConcurrency` and t

[2020-08-20 19:14] mattmoor commented on #9067
/area API
/kind feature
/assign @dprotaso

[2020-08-20 19:16] mattmoor commented on #9045
/area API
/area networking

cc @tcnghia @nak3 @ZhiminXiang

[2020-08-20 19:17] mattmoor commented on #8985
/assign @vagababov

[2020-08-20 19:17] mattmoor commented on #9077
/kind good-first-issue
/area API

[2020-08-20 19:18] mattmoor commented on #9104
/area autoscaling

[2020-08-20 19:23] #8812 closed

[2020-08-20 19:24] mattmoor commented on #8801
Sounds like this is resolved.  Feel free to reopen if that's incorrect!
/close

[2020-08-20 19:24] #8801 closed

[2020-08-20 19:25] mattmoor commented on #8981
test renamed

[2020-08-20 19:25] #8981 closed

[2020-08-20 19:25] mattmoor commented on #8975
test renamed

[2020-08-20 19:25] #8975 closed

[2020-08-20 19:26] mattmoor commented on #7406
I believe this is done based on the linked PR.  @nak3 if not, please reopen.

[2020-08-20 19:28] mattmoor commented on #7554
/area networking
/assign @tcnghia @nak3 @ZhiminXiang

[2020-08-20 19:30] mattmoor commented on #7650
@markusthoemmes @vagababov @duglin Any resolution here?  Sounds like WAI to me?

[2020-08-20 19:34] mattmoor commented on #7181
I think there are two separate issues here.

I suspect that the ORIGINAL issue is that the default-domain job was injected with a sidecar, which blocked communication with the API server.  `Get https://10.0.0.1:443/api/v1/namespaces/knative-serving/configmaps/config-domain: dial tcp 10.0.0.1:443: connect: connection refused`

The other issue looks like maybe the default-domain Job's first replica

[2020-08-20 19:35] mattmoor commented on #6895
/lifecycle frozen

[2020-08-20 20:05] wlhee commented on #9039
My intuition: this is best effort affinity.

1. What happens when a user is using containerConcurrency and the pod they were hitting filled up?
Break the affinity

2. What happens when Pods are generally underutilized, do we allow folks to reconnect to pods we might scale down?
Break the affinity, return a different cookie

3. Given the way our activator-based load-balancing works (cc @vagababov)

[2020-08-20 20:07] vagababov commented on #7650
Yeah this is WAI. This is the deadline progress timer.

[2020-08-20 20:12] steren commented on #9039
Yep, I think I covered 1. and 2. in the proposal: _Of course If the instance is rebooted, unhealthy, overloaded or becomes unavailable when the number of instances has been scaled down, session affinity will be broken and further requests are then routed to a different instance._

[2020-08-20 20:23] vagababov commented on #3064
Given that HPA scales to zero only on custom metrics and we removed custom metric support should we just close this one out?

[2020-08-20 20:24] vagababov commented on #3687
/assign @julz
Is this done with the URL work you did?

[2020-08-20 20:25] Morriz commented on #9104
Tnx. I will try that tomorrow  and report back.

[2020-08-20 21:06] julz commented on #3687
we did some low-level work for this in KIngress, but the high-level user facing stuff still needs doing.

I have an early proposal draft for it here: https://docs.google.com/document/d/1yXSuKpQqZM5tczBFpPG8TGQoWSkvmoA17nPwDd1UxEI/edit# that I'm hoping to get in to a state to talk through at API WG (but it's not really ready yet, just thoughts on a page right now). I'll try to get it done by next w

[2020-08-20 21:53] #9123 closed

[2020-08-21 00:48] duglin commented on #7650
I'm still not clear on why whatever time-out we have for old revisions being removed doesn't apply to a bad revision?

If the revision never becomes ready, even if there's a route, there shouldn't be traffic going to it, right? So there should be no harm in terminating it.

[2020-08-21 01:54] AceHack commented on #9120
Thank you

[2020-08-21 02:03] mattmoor commented on #9039
My concern is the subjectivity of the semantics you're describing.  How do we know if an implementation implements this properly or regresses?  What's to stop me from claiming we do this today and just suck! 😉

I am guessing you're after Envoy's cookie semantics, which is already available in [Istio](https://istio.io/latest/docs/reference/config/networking/destination-rule/) and [Contour](https://

[2020-08-21 02:04] mattmoor commented on #9039
Oh, another important element that I forgot, which is pretty key to our expansion principles: Is this possible in Ingress v2?

[2020-08-21 02:09] cdlliuy commented on #9121
@vagababov  @mattmoor ,
The vegeta runs with constant load, not restarting every few minutes. .
yes, the `max-scale-down-rate` can control it.

But my two cents on this parameter:
1. the `max-scale-down-rate` is not a parameter that can be configured per application according to
https://github.com/knative/serving/blob/fde07b7db56b18a117ea36a5a0e978df427b1cff/pkg/apis/autoscaling/register.go
So, it

[2020-08-21 02:27] vagababov commented on #9121
It is exposed to end user.
We can definitely try to re-define it in other values or terms. I am not sure if anyone else is using it.
But under constant load I would expect constant number of pods.
The bencmarks we run: https://mako.dev/run?run_key=5981098943184896&~dp=1&~ap=1 (though unlimited CC) have pretty smooth profile once initial panic passes

[2020-08-21 03:21] cdlliuy commented on #9121
@vagababov ，how to expose to end-user?  I didn't find an annotation for it besides the configmap , also the documentation said
[code]
Yes,  I expect the constant number of pods as well.   Do you have cpu.limit for container for above  test?

[2020-08-21 03:46] vagababov commented on #9121
Users can change the CM value in user cluster, generally speaking.
No we're not setting it. But it can be a reason for your problems. If
you're setting it too low, then at some point the pods overheat and then
you have a scaling event.
Try upping cpu a bit and see if you get a constant behavior.

On Thu, Aug 20, 2020 at 8:21 PM ying <notifications@github.com> wrote:

[2020-08-21 04:00] cdlliuy commented on #9121
@vagababov ，changing from configmap is not efficient enough for us.   i.e. for a multi-tenancy cluster,  not all the cluster users has the authority to change CM of knative-serving namespace.

Yes, cpu limit is the problems for the overheat.   But it is a reality for some of the cluster settings..  So, I still think changing `max-scale-down-rate` per annotation will give the end user more choices.

[2020-08-21 04:21] vagababov commented on #9121
Not sure I follow? Even in a multitenant cluster you probably will permit users set the CPU/Mem limits — not all the apps are same. So this is a perfect example where load testing discovered insufficient resources in the app settings and updating CPU to a higher limit would be a very reasonable course of actions.

---
As far as new annotation: it feels we have way too many annotations. I think #77

[2020-08-21 04:27] #9109 closed

[2020-08-21 05:32] #6543 closed

[2020-08-21 06:02] julz commented on #9121
I think the delayWindow thing we've been talking about would be an easier-to-explain-to-a-user way of doing something like this (max-scale-down requires users to know the tick interval autoscaler is running on to properly use 😬). If we expose an extra flag to users, I'd personally argue more for that one.

[2020-08-21 06:15] cdlliuy commented on #9121
@julz , what is the delayWindow you are referring to?

[2020-08-21 06:35] julz commented on #9121
sorry @cdlliuy I should've added a link. It's the idea described in the first comment on https://github.com/knative/serving/issues/9092#issuecomment-675472759. I have a little PoC of it which seems to work OK at https://github.com/knative/serving/compare/master...julz:retentionbonus. The basic idea would be a `scale-down-delay` parameter that would allow a user/operator to say "wait N seconds befo

[2020-08-21 07:07] mgencur opened #9137 "Implement tests with plugable upgrade mechanism"
## Describe the feature
The current upgrade/downgrade tests are orchestrated from Bash. It runs pre-upgrade Golang tests, calls Bash functions to perform the upgrade, runs post-upgrade Golang tests, calls Bash functions for downgrade, runs post-downgrade Golang tests.

This is a proposal for changing the orchestration where the Golang test suite including pre-upgrade, post-upgrade and post-downgra

[2020-08-21 07:07] mgencur commented on #9137
/assign

[2020-08-21 07:19] cdlliuy commented on #9121
@vagababov ,   for cpu.limit,   k8s has an option to define limitrange for each namespace which can apply default cpu.limit when it is omit.  i.e. for queue-proxy.

In our cases, we provided a cpu.limit of queue-proxy to 100m ..

With below picture,  cc=0 , max-scale-down=1.05,  also the application is NOT helloworld anymore, instead it is an application with fixed sleep time 100ms.
![image](https

[2020-08-21 07:48] cdlliuy commented on #9121
@julz ,  if my understanding for  [master...julz:retentionbonus](https://github.com/knative/serving/compare/master...julz:retentionbonus)  is right,  you will use the `maximum observed concurrency` value as the observedConcurrency in the later autoscaling computation, so scale-down will be trigger slowly.

It may work in our cases when setting a long delay window.   I guess maybe 2* stable_window

[2020-08-21 07:52] julz commented on #9121
@cdlliuy pushed a new version to same branch that applies the delay to the desiredPodCount rather than the stable metric (i.e. it applies to the output of algorithm instead of the input). Think that'll work better here because it will account for panic pods properly.

[2020-08-21 08:23] julz opened #9138 "Consider adding PodDisruptionBudget for Activator, Webhook"
## Describe the feature

Webhook and Activator are SPOFs for the system. We [set up anti-affinity rules](https://github.com/knative/serving/blob/master/config/core/deployments/webhook.yaml#L39) for them, so _most_ of the time they end up on different nodes out of the box, but we're still relying on luck to prevent a rolling upgrade taking down all instances at the same time (e.g. if a rolling upgr

[2020-08-21 12:08] knative-test-reporter-robot opened #9139 "[flaky] test/e2e.TestRollbackBYOName"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestRollbackBYOName
* **Repository name**: serving

[2020-08-21 12:08] knative-test-reporter-robot opened #9140 "[flaky] test/e2e.TestSubrouteLocalSTS/fqdn"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSubrouteLocalSTS/fqdn
* **Repository name**: serving

[2020-08-21 12:08] knative-test-reporter-robot opened #9141 "[flaky] test/conformance/api/v1alpha1.TestAnnotationPropagation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestAnnotationPropagation
* **Repository name**: serving

[2020-08-21 12:08] knative-test-reporter-robot opened #9142 "[flaky] test/e2e.TestMultipleNamespace"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestMultipleNamespace
* **Repository name**: serving

[2020-08-21 12:08] knative-test-reporter-robot opened #9143 "[flaky] test/e2e.TestSvcToSvcViaActivator/both-disabled"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSvcToSvcViaActivator/both-disabled
* **Repository name**: serving

[2020-08-21 12:08] knative-test-reporter-robot opened #9144 "[flaky] pkg/activator/handler.TestMetricsReported"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/handler.TestMetricsReported
* **Repository name**: serving

[2020-08-21 12:08] knative-test-reporter-robot opened #9145 "[flaky] test/e2e.TestRequestLogs"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestRequestLogs
* **Repository name**: serving

[2020-08-21 12:08] knative-test-reporter-robot opened #9146 "[flaky] test/e2e.TestServiceToServiceCall/short"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestServiceToServiceCall/short
* **Repository name**: serving

[2020-08-21 12:08] knative-test-reporter-robot opened #9147 "[flaky] test/e2e.TestActivatorOverload"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestActivatorOverload
* **Repository name**: serving

[2020-08-21 19:50] #9142 closed, assigned to nobody

[2020-08-21 20:02] #9139 closed, assigned to nobody

[2020-08-23 02:24] nak3 opened #9155 "Clean up old serving.knative.dev/visibility label and use network.knative.dev/visibility label only"
## In what area(s)?

/area networking

## Describe the feature

This is a follow up ticket for https://github.com/knative/serving/pull/9013.
We migrate to `network.knative.dev/visibility` from `serving.knative.dev/visibility`.
`serving.knative.dev/visibility` will be deleted 9 months later.

/assign

[2020-08-23 03:47] lcax200000 opened #9156 "routing across Knative Services"
I use VirtualService to implement domain routing redirection.
![image](https://user-images.githubusercontent.com/9493082/90970827-22a10d80-e53c-11ea-90e6-4485ac9a786d.png)

But specifying uri does not work， just domain it worked.
![image](https://user-images.githubusercontent.com/9493082/90970855-862b3b00-e53c-11ea-8dcd-da4c61702fd7.png)

![image](https://user-images.githubusercontent.com/9493082/

[2020-08-23 12:08] knative-test-reporter-robot opened #9157 "[flaky] test/upgrade.TestInitialScalePostUpgrade"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestInitialScalePostUpgrade
* **Repository name**: serving

[2020-08-23 12:09] #9140 closed, assigned to nobody

[2020-08-23 12:09] knative-test-reporter-robot opened #9158 "[flaky] test/upgrade.TestProbe"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestProbe
* **Repository name**: serving

[2020-08-23 12:09] #9143 closed, assigned to nobody

[2020-08-23 12:09] #9144 closed, assigned to nobody

[2020-08-23 22:45] shreejad commented on #7742
/assign shreejad

[2020-08-24 04:16] ZhiminXiang commented on #9156
@lcax200000 could you please confirm if `curl <IP>/touxiang -HHost:touxiang-auth.example.com` works? I would like to make sure that your knative service accepts the requests with URI `/touxiang`.

[2020-08-24 07:25] lcax200000 commented on #9156
Yes it works
![image](https://user-images.githubusercontent.com/9493082/91015499-cd3d2d00-e61d-11ea-8c65-a403abb97cdc.png)

but it won't work

![image](https://user-images.githubusercontent.com/9493082/91015614-007fbc00-e61e-11ea-8467-854ce9ef0c56.png)

[2020-08-24 09:52] rawc0der opened #9160 "Deployment of KnativeServing Operator resource fails due to unknown "version" field"
## What version of Knative?

## Expected Behavior
We are using Kubernetes version: 1.16+ on google cloud.
Knative Operator should allow the creation KnativeServing custom resources from the standard CRD definition.

## Actual Behavior
Trying to deploy KnativeServing custom resource fails due to unknown "version" field.
The error message is:
` Error: Failed to render chart: exit status 1: Error: un

[2020-08-24 10:15] rccrdpccl commented on #8366
As far as I understand bindings and @mattmoor 's proposal, the proposed solution would consist in one VPA binding, one VPA object and one "PodSelector" (made up CRD described above in this thread, with the sole purpose of selecting pods throughout different revisions). For example:

[code]

[code]

[code]

The initial idea was that knative could create all those objects by itself, if we enabled so

[2020-08-24 12:00] jkarteek commented on #6549
@nak3 Is there any way to configure retries for a particular kservice?

[2020-08-24 12:11] knative-test-reporter-robot opened #9161 "[flaky] test/e2e/autotls.TestTls/http01/Tag_route"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/autotls.TestTls/http01/Tag_route
* **Repository name**: serving

[2020-08-24 12:43] chasewalden opened #9162 "Disable TLS termination on a single kservice"
/area networking

I'm trying to set up a KService in our cluster. We have enabled auto-TLS with cert-manager, but I have encountered an issue. The service I am building serves an HTTPS endpoint since. I have tried updating the knative-ingress-gateway to use PASSTHROUGH or AUTO_PASSTHROUGH, but to no avail. Is there a way to disable the TLS termination on only a single KSvc?

[2020-08-24 13:36] bernardoVale opened #9164 "Autoscaling only installation"
# In what area(s)?

/area autoscale

## Ask your question here:

Is it possible to install/use only knative auto-scaling? I have a custom homemade L7 Gateway that is directly exposed to the outside world via a LoadBalancer service. It serves HTTPS traffic and I can't put anything in front of it.

We saw some problems with Kubernetes HPA to handle spike traffic and started to investigate alternativ

[2020-08-24 13:57] SwEngin commented on #8871
@whaught just making sure before I submit my pull request so both configuration and labeler will have their own store which include only config-defaults and config-features anything I'm missing? that of course will replace the cfgmap "knative.dev/serving/pkg/apis/config" in both controllers

[2020-08-24 14:06] mattmoor commented on #8366
I would expect the subject of the binding to be the ksvc, not the VPA or Pods.

The binding itself would have a hard dependency on VPA, but the coupling with Serving is loose (neither needs to have a hard dependency on the other).

For examples, we have [SinkBinding](https://docs.google.com/document/d/1mBVFW5Yc_1olg-0p8gbcQDLeAETX7v_li9pZkGiGrb8/edit#heading=h.lnql658xmg9p) in `knative/eventing`,

[2020-08-24 14:41] whaught commented on #8871
That's correct! It should allow each reconciler to change independently over time (instead of sharing the api config) and matches what's been done with other controllers.

[2020-08-24 16:02] rccrdpccl commented on #8366
Oh, I obviously did not get the power of bindings. I think I see the light now! I'll have a stab at it with this model

[2020-08-24 16:06] chasewalden commented on #9162
/area networking

[2020-08-24 16:08] chasewalden commented on #8567
Would this feature help resolve #9162 ?

[2020-08-24 16:24] mattmoor commented on #8366
Yeah, if it helps to have a more synchronous convo, I'd be happy to chat in slack or hop on a call too.  Thanks for bearing with me 😅

[2020-08-24 16:52] vagababov commented on #9164
Unfortunately the knative autoscaling is intrinsically tied to the knative core objects — i.e it needs QueueProxy to provide metrics (or you need to teach it to scrape metrics from elsewhere). The discovery of what to scrape, etc.
In theory you _can_ do that, just it's not trivial.

[2020-08-24 17:11] tcnghia commented on #9162
cc @ZhiminXiang

[2020-08-24 18:12] vagababov commented on #9161
/assign @ZhiminXiang
This timed out

[2020-08-24 18:14] vagababov commented on #9160
cc @rusde

[2020-08-24 18:34] ZhiminXiang commented on #9162
@chasewalden

There are two things you need to do:
1. disable auto TLS for that ksvc (which is not yet supported)
2. use PASSTHROUGH

To eliminate the effect of auto TLS, could you try disabling globally first before applying PASSTHROUGH?

[2020-08-24 18:35] ZhiminXiang commented on #9160
cc @houshengbo

[2020-08-24 18:40] yanweiguo commented on #2930
The new feature track doc: https://docs.google.com/document/d/1FyjB1GIJW259nMaNOc7nlQVjvgAZHlQ-fD6tbfUsaz8/edit#heading=h.n8a530nnrb

[2020-08-24 18:41] ZhiminXiang commented on #9156
@lcax200000 from your screenshot, I don't see the case of `curl` with path `/touxiang` against host `touxiang-auth.example.com`.

So basically when you do the path based routing, the path `/touxiang` in your original URL `ws.com/touxiang` will be retained and passed to your application. So your application needs to be able to serve requests with path `/touxiang`.

[2020-08-24 19:21] chasewalden commented on #9162
@ZhiminXiang I've disabled global.autoTLS and modified the gateway to use passthrough, but the connection seems to perpetually hang.

Maybe I'm not configuring it correctly?

[code]

kservice
[code]

knative-ingress-gateway
[code]

https-service-ingress
[code]

[2020-08-24 20:11] ZhiminXiang commented on #8646
I noticed the warning `nodes did not have free ports for the requested pod ports` which seems like a k8s issue, not Knative one.

[2020-08-24 20:30] ZhiminXiang commented on #9046
This seems difficult under the current knative model as
1. changing the RevisionTemplate within Service seems like the only way to update the ImagePullPolicy
2. changing the RevisionTemplate will cause the change of revision name under the current model.

I am curious about your use case and why you don't want to create a new revision? You can make Knative Service always point to the latest revisi

[2020-08-24 20:34] ZhiminXiang commented on #9156
/area networking

[2020-08-24 20:35] ZhiminXiang commented on #9046
/area API

[2020-08-24 20:43] ZhiminXiang commented on #9162
It looks good to me in general. I am not sure if port `h2c` in Knative Service could be used here. Maybe try to remove `h2c`?

I also try this in my side, and see if I can reproduce it or not later.

[2020-08-24 20:45] chasewalden commented on #9162
Thank you!

I’ve tried with `http1` too and it seemed to not make a difference. I truly appreciate the quick responses and eagerness to help.

Chase

[2020-08-24 23:46] jkarteek opened #9169 "Retries on kservices"
/area networking

Now that the retry logic is changed to not retry #6549, is there any way to configure retries in knative services?

[2020-08-25 00:48] ZhiminXiang commented on #9161
The issue is that the certificate for one traffic target failed:
[code]

We probably want to retry the certificate for this error as it looks like transient.

[2020-08-25 01:49] #9156 closed

[2020-08-25 01:49] lcax200000 commented on #9156
yes , you are right

[2020-08-25 02:01] skyguard1 commented on #8646
Yes, i have solved this problem, thank

[2020-08-25 03:38] ZhiminXiang commented on #9169
AFAIK, there is no way to configure retries now. /cc @tcnghia

[2020-08-25 10:43] skonto commented on #8959
@evankanderson @mattmoor in my use case I need to secure the existing APIs assuming a pull model using Prometheus.
Current target is Openshift where Prometheus is used for gathering metrics via scraping.
I understand that moving things towards a push model with a "generic" collector would decouple knative metrics acquisition from any specific system and would be a better fit for short-lived logic.

[2020-08-25 12:08] romachalm commented on #9103
Indeed, that was more my focus about knative being able to override the aliases of another CRD.
`certificate` and `certificates` aliases should actually be removed from knative.

[2020-08-25 14:48] Morriz commented on #9104
Ok, we are now at 0.16 and links are turned off....still same slow 15 secs ;(

[2020-08-25 16:02] nthnca commented on #8570
I haven't had time to work on this. As a result unassigning myself for now to let others pick it up if they would like.

[2020-08-25 16:03] tcnghia commented on #6269
/assign @JRBANCEL

[2020-08-25 16:07] tcnghia commented on #9002
/area networking

[2020-08-25 16:07] tcnghia commented on #8959
cc @igorbelianski

[2020-08-25 16:24] vagababov commented on #9104
Can you instrument the image pull time? Since if anything it should much faster than 0.12...

[2020-08-25 16:27] jkarteek commented on #9169
Is this intentional for some reason? Or can we add retries in the kservice spec and ingress pick from that.

If we can ready to help with a pr to implement this.

[2020-08-25 16:36] vagababov commented on #9169
We had them by default, which caused unforseen consequences. I guess it might be ok to add them ad-hoc if they're specified in the route — but this will probably require a full feature track document, wg meetings, etc.

[2020-08-25 16:39] vagababov commented on #6134
I think we can close this one out.
If we pursue the original issue, we can recreate those again.
/close

[2020-08-25 16:39] #6134 closed

[2020-08-25 18:21] #8005 closed

[2020-08-25 20:01] jkarteek commented on #9169
One of the problems we are facing(and were looking into retries) is that, during upscaling, we are receiving traffic on the pods before the queue-proxy container is ready. This is causing 502's for a few seconds when a new pod comes up. Ideally the pods should only get traffic when all the containers are ready.

PS: We are using knative 0.16, istio 1.5 and have istio sidecar injection enabled.

[2020-08-25 20:06] vagababov commented on #9169
Tell us more about that.
Do you apps signal ready before they are actually ready? Since we don't forward traffic to the pods that don't report themselves as ready. I think in all modes of operation.

[2020-08-25 20:29] jkarteek commented on #9169
We setup the readiness probe to ping the base url by which time the app should be completely ready.

[code]

This is the readiness probe we setup. The app seems to be receiving traffic before the queue-proxy is ready and we also see some 502's when the container startsup. Also attaching a couple of images showing the container receiving traffic before queue-proxy is ready.

[Queue proxy](https://i

[2020-08-25 20:39] duglin commented on #6504
/lifecycle frozen

[2020-08-25 20:43] duglin commented on #4589
I'd like to keep this open because I don't think it's unreasonable to ask for something to scale down faster than 90 seconds. Even if we can't do it today it would be good to keep it as a nagging reminder to keep thinking about it.

/lifecycle frozen

[2020-08-25 20:44] vagababov commented on #9169
That's quite puzzling. Could you also show the the contents of the `k get svc <revision-name>` at that moment, when they fail?

[2020-08-25 20:46] vagababov commented on #4589
You seem to move in the opposite direction from @julz where he wants pods to stay longer alive 😄

[2020-08-25 20:52] julz commented on #4589
in fairness there's a difference between wanting to let users opt in to keeping pods warm and wanting to terminate as efficiently as possible when we actually are idle (the core problem is we have to charge users for those 90 seconds even when they didn't ask for them).

[2020-08-25 20:55] jkarteek commented on #9169
Yeah it is. Very likely something stupid from our side. PFA below the service at the time of failure:

[code]

[code]

[2020-08-25 20:58] vagababov commented on #9169
No I actually meant `svc revision-name` the k8s network Service object.

[2020-08-25 21:04] arturenault commented on #8567
I'll take this one.
/assign

[2020-08-25 21:08] vagababov commented on #4589
BTW, with proper settings it is not 90s - with tbc=-1 and short window it's more like 30s :)

Some of additional time of course can be changed (e.g. our drain timeout) — which currently fixed in pkg constant — could be a setting we pass to the QP.

[2020-08-25 21:14] jkarteek commented on #9169
Oh my bad. Will try to capture that next time when this happens.

I suspect this is whats is happening. Istio is forwading requests to the directly to the app before the queue-proxy is ready, which it is serving properly. Then when queue-proxy is up it is not able to connect to the app for a few seconds and returning 502. Below are the queue-proxy logs when it start up:

[code]
Don't quite underst

[2020-08-25 21:27] vagababov commented on #9169
🤷
it shouldn't. That's why I am asking for the k8s service info — it might show if somehow the pod is marked as ready in the networking layer.

[2020-08-26 00:16] duglin commented on #4589
Yup - as Julz said... this is simply about having the choices available. Then the admin, or user, can choose what they want. I'm sure the idea of terminating a pod after 50ms of idle time is not for everyone, but neither is 30, or 90, seconds. Knative should allow for both.

[2020-08-26 00:19] ZhiminXiang commented on #9162
@chasewalden I am not able to make PASSTHROUGH work at this moment.

1. I can deploy a Knative Service of HTTPS server to the cluster
3. I can send HTTPS requests from a pod inside the cluster to my application pod
3. I cannot send HTTPS request to the application from outside of the cluster.

Will investigate it further later.

[2020-08-26 01:21] ZhiminXiang commented on #9162
Thought about this again. I think Knative actually does not support the PASSTHROUGH case because the queue-proxy cannot serve HTTPS traffic.

The application is required to be able to serve HTTP traffic in our runtime contract: https://github.com/knative/serving/blob/master/docs/runtime-contract.md#protocols-and-ports

Therefore, your own certificates have to be installed at ingress.

[2020-08-26 01:33] #8935 closed

[2020-08-26 06:06] ZhiminXiang commented on #9045
We don't set ipFamily for all Knative-generated services. So we probably need to add it to all of those services.

I am thinking about reading `ipFamily` from a ConfigMap. the `ipFamily` is empty string by default, which means it will use cluster's primary IP family automatically (see [doc](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#servicespec-v1-core)). If users explici

[2020-08-26 09:55] chasewalden commented on #9162
Thanks @ZhiminXiang I'll see if I can make this service work in that case. The issue is that I am implementing a K8s Extension Server using [k8s.io/apiserver](godoc.org/k8s.io/apiserver), which no longer allows insecure serving. Maybe there is a workaround

[2020-08-26 12:09] #9161 closed

[2020-08-27 01:49] mattmoor commented on #9045
Is this something that could be defaulted and we could be taught to preserve?

Is there a way for us to start testing this?

[2020-08-27 10:05] MIBc commented on #9045
The ipFamily config may be a better way.
The service is k8s service.  I think we can not set a default vaule for it.

[2020-08-27 10:24] julz commented on #5829
Just for anyone searching here, operator-settable Queue Proxy requests/limits landed in https://github.com/knative/serving/pull/8195.

[2020-08-27 12:53] wohugb opened #9187 "when install fluent-ds the pods status CrashLoopBackOff and throw ConfigError"
the logs throw by the pods
[code]

[2020-08-27 13:38] abvijaykumar commented on #6634
HI Guyus what is the final fix for this? I am not getting it. I am having the same issue with knative-serving activator

Failed to get k8s version Get "https://10.96.0.1:443/version?timeout=32s"

[2020-08-27 14:32] aliok commented on #4736
Some user interest in this feature: https://stackoverflow.com/questions/63615721/knative-routing-based-on-custom-headers/63618289

[2020-08-27 14:36] mattmoor commented on #4736
/lifecycle frozen

This was sent to our mailing list as well.  I'm a little reluctant to creep ksvc too much vs. adding new resources that compose well with ksvc (and others) in the same way we're trying to do vanity domains.

I sketched some thoughts here over the weekend, and have a PoC that does (part of) this: https://docs.google.com/document/d/1Cp_h4MIRGt2Vy-EE0Yy5L5Y0wRNaMyp6SUq0TCi6XLM/edit

[2020-08-27 16:21] vagababov commented on #6634
Does it really take you 32s to make a call to the master?

[2020-08-27 17:01] mattmoor commented on #7903
@maximilien mentioned that @zhanggbj is on vacation right now (back next week) at #autoscaling today

[2020-08-27 18:16] arturenault opened #9192 "Annotation validation for networking.knative.dev/"
## Describe the feature
Currently we validate that users can't create resources with annotations with the `serving.knative.dev` prefix in the [`validateKnativeAnnotations`](https://github.com/knative/serving/blob/master/pkg/apis/serving/metadata_validation.go#L57). We currently don't appear to have any such validation for the `networking.knative.dev` prefix.

I see two useful things to get out of

[2020-08-27 18:19] arturenault commented on #9192
/kind good-first-issue
/area networking

[2020-08-27 18:19] arturenault commented on #9192
/area api

[2020-08-27 18:56] vagababov commented on #9192
Should this be in knative/networking repo instead?

[2020-08-27 19:40] arturenault commented on #9192
I don't think so as part of this validation could be shared for all the annotation prefixes. Also from what I can tell knative/networking owns the internal CRDs but this is concerning the public ones.

Happy to move it if I'm wrong or the community disagrees.

[2020-08-27 19:52] ZhiminXiang commented on #9192
Currently all `networking.knative.dev/` labels and annotations sit under knative/networking repo. IMO, adding a file like annotation_validation under knative/networking to host the validation logic seems make more sense.

We can use the import that validation file into knative/serving, and use it validate serving resources if needed.

[2020-08-27 19:54] arturenault commented on #9192
Ack, will move to the networking repo.

[2020-08-27 19:54] #9192 closed

[2020-08-27 21:57] ZhiminXiang commented on #9187
Could you please add more context about how you install fluent-ds?

[2020-08-28 03:42] #8830 closed

[2020-08-28 06:27] #8985 closed

[2020-08-28 07:14] aurorazl commented on #8320
Thanks you,it work!

[2020-08-28 09:35] #9160 closed

[2020-08-28 10:49] pjcubero commented on #4522
I have one integration with several knative services, every ksvc is connected with the next via inmemorychannel, imagine that the first ksvc sends a message via channel to the second ksvc, if this second ksvc is down, when this ksvc is up, the message will be processed by the second ksvc?

[2020-08-28 13:18] lionelvillard commented on #912
That's how we did it for eventing: https://github.com/knative/eventing/issues/3054. We used a tool developed by @Harwayne

[2020-08-28 13:54] mattmoor commented on #4522
@pjcubero yes it should be.  This particular issue isn't related to that sort of asynchronous processing.  If you have deeper questions about the in-memory channel's delivery/durability semantics, I'd suggest raising them in `knative/eventing`.

[2020-08-29 01:48] ZhiminXiang commented on #9103
I tried to rename `certificate` to `kcertificate` in the [singular](https://github.com/knative/serving/blob/fa397f3e96b640b97dc3bdb7604ee8e99a19cda0/config/core/resources/certificate.yaml#L48) field.

And then I found it is challenging to apply the new CRD to the existing clusters which have the old CRD as the field `singular` is immutable, which means we probably need to use Operator to delete th

[2020-08-29 02:34] #6891 closed

[2020-08-29 02:34] #6793 closed

[2020-08-29 05:52] wohugb commented on #9187
use this guide to install

https://knative.dev/docs/install/any-kubernetes-cluster/#installing-the-observability-plugin

[2020-08-29 12:09] knative-test-reporter-robot opened #9204 "[flaky] test/e2e/istio.TestIstioProbing/HTTP"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/istio.TestIstioProbing/HTTP
* **Repository name**: serving

[2020-08-29 12:09] knative-test-reporter-robot opened #9205 "[flaky] test/conformance/runtime.TestProtocols/default"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestProtocols/default
* **Repository name**: serving

[2020-08-29 12:09] knative-test-reporter-robot opened #9206 "[flaky] test/e2e.TestCallToPublicService/local_address"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestCallToPublicService/local_address
* **Repository name**: serving

[2020-08-29 12:09] knative-test-reporter-robot opened #9207 "[flaky] test/e2e.TestCallToPublicService/external_address"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestCallToPublicService/external_address
* **Repository name**: serving

[2020-08-29 12:09] knative-test-reporter-robot opened #9208 "[flaky] test/conformance/runtime.TestProtocols/http1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestProtocols/http1
* **Repository name**: serving

[2020-08-29 17:53] #9002 closed

[2020-08-31 04:16] mattmoor commented on #8498
Closing in favor of #8563

[2020-08-31 04:16] #8498 closed

[2020-08-31 04:17] mattmoor commented on #7533
@tcnghia @nak3 @ZhiminXiang  can we reopen this in net-istio?

[2020-08-31 04:18] mattmoor commented on #8066
@markusthoemmes is this done?

[2020-08-31 04:20] mattmoor commented on #8243
@tcnghia @ZhiminXiang @nak3 can we move this to net-istio?

[2020-08-31 04:20] mattmoor commented on #8193
@tcnghia @nak3 @ZhiminXiang Can we move this to net-istio?

[2020-08-31 04:21] ZhiminXiang commented on #7533
I opened one issue in net-istio https://github.com/knative-sandbox/net-istio/issues/253. So we can close this one?

[2020-08-31 04:28] mattmoor commented on #7533
Cool, let's use that to track.

[2020-08-31 04:28] #7533 closed

[2020-08-31 04:41] nak3 commented on #8193
Yes, I will open it in net-istio.

[2020-08-31 04:41] #8193 closed

[2020-08-31 04:42] nak3 commented on #8210
Yes, I will open it in net-istio.

[2020-08-31 04:42] #8210 closed

[2020-08-31 04:55] nak3 commented on #8243
Yes, this is net-istio specific issue. I moved this to https://github.com/knative-sandbox/net-istio/issues/255

[2020-08-31 04:55] #8243 closed

[2020-08-31 05:02] mattmoor opened #9216 "Fix `go vet` issue"
/area API
/area test-and-release

## What version of Knative?

HEAD

## Expected Behavior

`go vet ./pkg/...` is clean

## Actual Behavior

[code]

This is blocking us from picking up the Github actions (which currently include a `go vet` check).  The problem is that we inline types with conflicting definitions of `DeprecatedGeneration`.

cc @vagababov @markusthoemmes @dprotaso  for any brilliant

[2020-08-31 06:14] vagababov commented on #9216
Yeah I saw it before. But then I saw it was v1alpha1 and very fast stopped caring much :)

[2020-08-31 06:16] markusthoemmes commented on #8066
Negative, not done yet I believe.

[2020-08-31 08:42] markusthoemmes commented on #9216
/assign

I think we can "just" drop `DeprecatedGeneration` either from the structs completely, or leave them in the structs and just drop the json tags off of them. Nothing reads these values at this point anyway, at least not in Knative, and they have been deprecated for literal ages.

That said, dropping just the json tags is of course less invasive in that it'd keep the go structs intact (no br

[2020-08-31 12:08] knative-test-reporter-robot opened #9219 "[flaky] test/conformance/api/v1beta1.TestRevisionTimeout/when_pods_already_exist,_and_it_writes_first_byte_before_timeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestRevisionTimeout/when_pods_already_exist,_and_it_writes_first_byte_before_timeout
* **Repository name**: serving

[2020-08-31 12:08] knative-test-reporter-robot opened #9220 "[flaky] test/conformance/api/v1.TestCustomResourcesLimits"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestCustomResourcesLimits
* **Repository name**: serving

[2020-08-31 12:08] #9207 closed

[2020-08-31 12:08] knative-test-reporter-robot opened #9221 "[flaky] test/conformance/api/v1.TestSingleConcurrency"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestSingleConcurrency
* **Repository name**: serving

[2020-08-31 12:08] knative-test-reporter-robot opened #9222 "[flaky] test/conformance/api/v1.TestConfigMapVolume"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestConfigMapVolume
* **Repository name**: serving

[2020-08-31 12:09] #9206 closed

[2020-08-31 12:09] knative-test-reporter-robot opened #9223 "[flaky] test/conformance/runtime.TestMustHaveHeadersSet"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestMustHaveHeadersSet
* **Repository name**: serving

[2020-08-31 13:05] markusthoemmes commented on #9164
cc @julz who wanted to writeup the queue-proxy contract which would to some extent the contract needed for this too.

I don't think we're necessarily bound to Knative objects though. In theory we should only need a PodAutosscaler object, an Activator, the autoscaler and a deployment with the queue-proxy injected.

It's nothing we support as of today though.

[2020-08-31 13:32] markusthoemmes commented on #8068
Is this still relevant given we massively reduced the impact the reporting has on each request.

A quick and dirty run (commenting out the entire metric reporting for the "new" values):

[code]

[2020-08-31 13:36] mattmoor commented on #9216
I suppose it's the only thing with `DeprecatedGeneration`, hmm?

[2020-08-31 13:38] julz commented on #8068
maybe not! Somewhat ironically, since it might actually be easy-ish to do soon if we do end up removing the prometheus metric-scraping endpoint. I say we close this for now, there's clearly lower hanging fruit out there than this at this point.

[2020-08-31 13:43] #8068 closed

[2020-08-31 13:56] markusthoemmes commented on #9216
@mattmoor `DeprecatedGeneration` is present on all of our API types I believe.

[2020-08-31 14:00] markusthoemmes commented on #9216
Here's a quick preview on the amount of churn to entirely remove the fields: https://github.com/knative/serving/compare/master...markusthoemmes:remove-deprecated-generation.

[2020-08-31 14:02] mattmoor commented on #9216
Interesting... Github didn't show me your comment when I was reading Victor's 😅

We have it on all alpha types, but afaik that's it.

I just had a thought, which makes me believe it's potentially safe to remove this field: alpha isn't the storage version, and hasn't been for some time.  Up-conversion would have dropped this field, and Down-conversion wouldn't put it back.

Out of an abundance of c

[2020-08-31 14:05] markusthoemmes commented on #9216
@mattmoor if that's the case, we can also opt for the less intrusive option and just ditch the JSON tags. Since it's no storage version anymore, we should be safe with that anyway.

[2020-08-31 14:09] mattmoor commented on #9216
SGTM, that's also simplest if we need to rollback for whatever reason 😅

[2020-08-31 16:03] savitaashture commented on #8661
Hi @skonto

apologize  for the delay

IMO we can add testcase to cover multi-container as part of [this](https://github.com/knative/serving/blob/master/test/conformance/api/v1/service_test.go)

[2020-08-31 18:01] #9216 closed

[2020-08-31 19:29] #8971 closed

[2020-08-31 21:14] yanweiguo opened #9235 "Use Service URL to forward scaling metrics when there's mesh"
## Describe the feature

In #9233, we use IP address to forward metrics to other Autoscaler pod. This only works for a cluster without mesh. With mesh, we need to use Service URL for a bucket instead.

There's a problem to use Service URL. When somehow the own pod of a bucket changes and the old pod is still healthy, we update the the underlying IP address for that bucket Service. However it could

[2020-08-31 21:14] yanweiguo commented on #9235
/assign

[2020-08-31 21:19] vagababov opened #9236 "TestMetricsExport is super flaky"
metrics/resource_view_test.go - TestMetricsExport flakes most of the time.

/assign @jjzeng-seattle @evankanderson

here's a good example: https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_pkg/1666/pull-knative-pkg-unit-tests/1300475037081407489

[2020-08-31 21:32] ZhiminXiang opened #9238 "config-defaults ConfigMap should not show the default values of CPU and memory limit and request"
## What version of Knative?
HEAD

## Expected Behavior

revision-cpu-request, revision-memory-request, revision-cpu-limit, and revision-memory-limit should not have value within the `_example` of [config-defaults](https://github.com/knative/serving/blob/master/config/core/configmaps/defaults.yaml) ConfigMap as they are not actually set to revision by default.

## Actual Behavior

Those values are

[2020-08-31 23:16] yanweiguo opened #9241 "Non-quick mode doesn't work for assertAutoscaleUpToNumPods"
## What version of Knative?

master

## Expected Behavior

The `quick` parameter of `assertAutoscaleUpToNumPods` (  https://github.com/knative/serving/blob/master/test/e2e/autoscale.go#L340) should control whether to  check the whole given `duration`.

## Actual Behavior

The `quick` parameter is not used. As a result, `TestAutoscaleSustaining` ends earlier than intended (2 minutes). For example:

[2020-08-31 23:16] yanweiguo commented on #9241
cc @vagababov @markusthoemmes

[2020-08-31 23:30] yanweiguo commented on #9241
/assign

[2020-08-31 23:30] vagababov commented on #9241
https://github.com/knative/serving/pull/6618/files
It got removed here.

[2020-09-01 03:20] mattmoor opened #9245 "TestInitScaleZero is flaky"
/area API
/area autoscale
/area test-and-release

## What version of Knative?

HEAD

## Expected Behavior

Doesn't flake

## Actual Behavior

It flakes (e.g. [here](https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-contour-latest/1300595329564938240))

/assign @taragu

[2020-09-01 03:25] mattmoor commented on #9245
Here's another instance with Istio: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-continuous/1300554309741580288

[2020-09-01 07:21] zhanggbj commented on #7903
Hi @markusthoemmes , @mattmoor
Sorry for the late response. After the discussion above, we adjust Autoscaler capacity and reran some tests.
Here is the latest result I got, it got thousands of seconds for revision to get ready due to KPA as the containers got running soon.

In facts, If we run the test with internval=1s, the issue will come earlier.

## What version of Knative?

## Benchmark
- Too

[2020-09-01 07:26] markusthoemmes commented on #3886
What do we want to do with this now? It has been moved to the ice-box and all code has been reverted.

[2020-09-01 07:36] julz commented on #7903
I doubt this is the issue, but would be good to set requests and limits the same to rule out being on a heavily loaded node where we don't actually get the limits.

Could you also share cpu/mem usage of the autoscaler throughout the benchmark @zhanggbj?

[2020-09-01 10:33] savitaashture commented on #5822
Hi @steren

Apologize for the delay in reply

Here is the public doc https://docs.google.com/document/d/1XjIRnOGaq9UGllkZgYXQHuTQmhbECNAOk6TT6RNfJMw/edit?ts=5e25d093#heading=h.n8a530nnrb

And let us know if you need any information or any gaps which you feel need to be added to the doc we will take a look at those points.

Thank you

[2020-09-01 10:36] savitaashture commented on #5822
Right i agree with you we don't have a doc to give information like what all has been supported and how do we consider as `main` and `sidecar` container

we created an issue https://github.com/knative/serving/issues/8664 to address the documentation

But we have added some of those information in [design doc](https://docs.google.com/document/d/1XjIRnOGaq9UGllkZgYXQHuTQmhbECNAOk6TT6RNfJMw/edit?ts=5

[2020-09-01 10:57] savitaashture commented on #8641
This issue has been covered by different sub issues
So closing this

[2020-09-01 10:57] #8641 closed

[2020-09-01 11:26] savitaashture commented on #8661
/assign

[2020-09-01 12:08] knative-test-reporter-robot opened #9247 "[flaky] test/e2e.TestInitScaleZero"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestInitScaleZero
* **Repository name**: serving

[2020-09-01 16:05] Morriz commented on #3809
what is the status here? we are demoing our platform which is heavily relying on knative and all they stuble into is this problem, making our statement that "it just works by deploying a knative service" look foolish.

How can we be sure that containers are left untouched? This is unworkable

[2020-09-01 18:04] #9241 closed

[2020-09-01 20:31] JRBANCEL commented on #6857
This is done.
Plenty of flags have been added since. Doc is being added as well: https://github.com/knative/docs/pull/2791
/close

[2020-09-01 20:31] #6857 closed

[2020-09-01 22:40] #9077 closed

[2020-09-02 00:57] #9245 closed

[2020-09-02 01:52] JRBANCEL commented on #6269
We don't cancel once a probe succeeds since https://github.com/knative/serving/pull/8795. We wait for *all* probes to succeed.

Therefore, nothing needs to be done. All the host on all the ports will be probed.

[2020-09-02 01:59] JRBANCEL commented on #6269
/close

[2020-09-02 01:59] #6269 closed

[2020-09-02 04:04] #9247 closed

[2020-09-02 04:05] mattmoor commented on #9204
IIUC this moved out of the repo?

cc @nak3

[2020-09-02 04:07] mattmoor commented on #9046
This sounds like what you want? https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#alwayspullimages

[2020-09-02 04:08] nak3 commented on #9204
Yes, it was moved to net-istio 3days ago by https://github.com/knative/serving/commit/3f4af9469250f6435c0297191848de2f68c87653.
I am closing this issue.

[2020-09-02 04:08] #9204 closed

[2020-09-02 07:18] markusthoemmes commented on #6504
I think we should start thinking about this more holistically. This is also related to #4557 which is a broader issue about dealing with and surfacing pod issues past the first pod.

[2020-09-02 07:23] markusthoemmes commented on #6550
Moved this to the ice-box for now as I don't think it's been actively worked on. Is this still relevant (see comment about design doc describing the need).

If not, could/should we close this and reopen once we're starting to get at it?

[2020-09-02 07:24] markusthoemmes commented on #7796
@shashwathi @andrew-su are you still working on this?

[2020-09-02 07:25] markusthoemmes commented on #7077
This seems to have been forwarded since milestone 0.14. Anything actionable here?

[2020-09-02 07:28] markusthoemmes commented on #6837
This has been forwarded since 0.14. @rhuss @navidshaikh are you still seeing this?

[2020-09-02 07:30] navidshaikh commented on #6837
@markusthoemmes : nope, didnt see this lately.

[2020-09-02 07:41] markusthoemmes commented on #7241
/assign

[2020-09-02 07:43] rhuss commented on #6837
Me neither. I think we are good to close this and create a new issue in case this should come back.

[2020-09-02 07:43] #6837 closed

[2020-09-02 07:46] markusthoemmes commented on #4665
Moved to 0.18 as I believe @vagababov is actively working on this.

[2020-09-02 07:47] markusthoemmes commented on #6176
Y'all thought about it? :joy:

[2020-09-02 07:52] markusthoemmes commented on #8685
Yeah I don't think this is TU related. The system thinks that the pod running the request is already gone (as its terminating), so it makes sure that one pod is still alive.

The solution for this issue would be #3886 which has been downpriotized and backed out of the codebase.

[2020-09-02 08:17] skonto commented on #7291
@dprotaso @evankanderson I can work on this if @padlar is not on it.

[2020-09-02 08:23] padlar commented on #7291
I am not working on it. I didn't find time to fix the tests.

[2020-09-02 09:00] skonto commented on #7291
Thanks @padlar, @dprotaso @markusthoemmes if there is no objection I can be assigned to this.

[2020-09-02 09:17] markusthoemmes commented on #8684
We could add a finalizer to the revision and make it delete the deployment + forcefully kill all pods afterwards I believe. Imma try to prototype that to see just how ugly that'd be :sweat_smile:.

[2020-09-02 12:11] #9222 closed

[2020-09-02 12:11] #9223 closed

[2020-09-02 12:11] #8941 closed

[2020-09-02 12:11] #8778 closed

[2020-09-02 12:11] #9220 closed

[2020-09-02 12:11] #9221 closed

[2020-09-02 13:10] jeremiaswerner commented on #9046
@mattmoor @ZhiminXiang Thank you for attending to the issue.

We expose knative in a shared environment to different users and use RBAC, Netpol, PSP,... to isolate the user's from each other on a namespace level. That isolation breaks when a user pulls an image from a private registry to a shared worker node. If another user guesses the image name, the other user can start a container using the fi

[2020-09-02 13:48] LangQian commented on #9129
/assign

[2020-09-02 14:43] mattmoor commented on #8684
Haven't cracked the diff, but I think the issue remains.  I don't think there's any guarantee that the Revision will be tombstoned (triggering finalizers) right away.

[2020-09-02 14:48] julz commented on #8684
If we're hacking.. :D I think there's an approach that _doesnt_ have a race, which is to add a skipGracefullyShutdown annotation/label and project it in to the pod with the downward api. That propagates dynamically so if the QP watches it and short-circuits the server shut-down we'd do the right thing in (I think) all cases. There's no fighting with the controller because we don't do anything that

[2020-09-02 14:56] markusthoemmes commented on #8684
This signal does race with the deletion signal coming via the deployment being deleted though, I think? If the pod is deleted before the signal is in, it'd shut down gracefully.

[2020-09-02 14:59] julz commented on #8684
We could watch in a goroutine and immediately exit if we're mid-shutdown.

[2020-09-02 15:00] mattmoor opened #9272 "Consider making Configuration "Addressable""
/area API
/area networking
/kind good-first-issue

## Describe the feature

Today Service and Route are "addressable" meaning they have the following in their status:
[code]

This is consumed by Eventing constructs (e.g. trigger, subscription, sources) to determine where to deliver events, among potentially other things.  In these cases, we use an ExternalName service fronting the `kingress` inter

[2020-09-02 15:00] mattmoor commented on #9272
cc @markusthoemmes @evankanderson @vaikas @dprotaso @tcnghia

[2020-09-02 15:03] vaikas commented on #9272
Sorry, can you give little more context on the motivation for this? Or put another way, what's the problem this is trying to solve? Feel free to say, Ville, go get more coffee and I'll try again later :)

[2020-09-02 15:09] vaikas commented on #9272
oh. ok, you're saying, make Configuration addressable. Yea, why not? :)

[2020-09-02 15:19] mattmoor commented on #9272
At this point, it's mostly an architectural thought.

_(thinking out loud)_
Technically this would enable folks to use Configurations directly with Eventing, if they aren't relying on traffic splitting at all.  Performance-wise, this would bypass a hop through L7, so might be slightly faster.

I also wonder whether by removing the `kingress` layer, it makes it plausible to start thinking about non

[2020-09-02 15:31] richterdavid commented on #7925
Plan from discussion on #8530 :

1. an official policy in knative/community
2. a pointer to that policy in knative{,-sandbox}/.github (since someone's created .github since I originally suggested it)
3. optionally, one or more corresponding issue templates in knative{,-sandbox}/.github

[2020-09-02 16:17] vagababov commented on #7796
This is actually done
/close

[2020-09-02 16:17] #7796 closed

[2020-09-02 16:18] vagababov commented on #6176
@Cynocracy Jon? :)

[2020-09-02 16:21] julz opened #9273 "Bump to Go 1.15.2"
We should bump to Go 1.15.2 early in the release cycle so that it has time to bake.

[2020-09-02 16:27] ZhiminXiang opened #9274 "Need an E2E test for disabling auto TLS with annotation"
## Describe the feature
After the feature of disabling auto TLS with annotation is completed https://github.com/knative/serving/pull/9194, we need to set up the E2E test for it.

/cc @arturenault

[2020-09-02 16:28] ZhiminXiang commented on #9274
/area networking
/area test-and-release

[2020-09-02 17:24] vaikas commented on #9272
Yeah, I just misread what you said :) Sorry for the noise, as I said, yes, let's make it so :)

[2020-09-02 17:33] mattmoor commented on #3809
/lifecycle frozen

[2020-09-02 20:11] capri-xiyue opened #9275 "cluster-local-gateway can't be ready by following the DEVELOPMENT.md"
I tried to install istio by following the https://github.com/knative/serving/blob/master/DEVELOPMENT.md and https://github.com/knative/serving/blob/release-0.17/DEVELOPMENT.md.
However my cluster-local-gateway can't be ready and logs shows
`Envoy proxy is NOT ready: config not received from Pilot (is Pilot running?): cds updates: 0 successful, 1 rejected; lds updates: 1 successful, 0 rejected`

ht

[2020-09-02 20:12] capri-xiyue commented on #9275
fyi @ZhiminXiang

[2020-09-02 22:07] arturenault commented on #9274
/assign

I'll take this one since I worked on it. Good opportunity for me to learn about e2e tests too.

[2020-09-02 22:10] arturenault commented on #9274
Is it acceptable to bundle this verification into the existing `auto_tls_test.go`, or do we want a whole new test?

[2020-09-02 23:26] richterdavid commented on #7925
I'm splitting the issue templates out into https://github.com/knative/community/issues/259

[2020-09-03 01:15] mattmoor commented on #7143
This is done

[2020-09-03 01:15] #7143 closed

[2020-09-03 05:33] ZhiminXiang commented on #9238
/assign

[2020-09-03 09:21] MIBc commented on #8128
/assign

[2020-09-03 12:09] knative-test-reporter-robot opened #9285 "[flaky] pkg/reconciler/accessor/core.TestReconcileSecretUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/accessor/core.TestReconcileSecretUpdate
* **Repository name**: serving

[2020-09-03 15:59] ZhiminXiang commented on #9238
/close

[2020-09-03 15:59] #9238 closed

[2020-09-03 16:03] tcnghia commented on #7181
I think we already configured a retry for the Job, so the second issue should be resolved in a few retries.

[2020-09-03 16:08] tcnghia commented on #7554
This looks like some name collision where we have a Service with same name with the Route.

@tshak is this the case with your cluster? Do you have a Service named `helloworld` in your cluster before you create a `ksvc` named `helloworld`?

[2020-09-03 17:07] julz opened #9296 "Image Digest Timeout should be configurable"
## Describe the feature

We introduced a timeout for image digest resolution in https://github.com/knative/serving/pull/8724 but started with an arbitrary, super-generous 1 minute timeout. In our environment today we had an accidental DOS attack where 10 ksvcs were created with an invalid registry URL and blocked the reconciler, leading to failures to reconcile other services.

I think we should a

[2020-09-03 17:50] #9285 closed

[2020-09-03 21:38] duglin commented on #9272
This is about optimizing the path to @latest and avoiding any ingress traffic splitting, right?
If so, would other processing still take place? Such as any async support we're thinking of? Is the activator still (or not) in the path based on however the system is configured?  Just trying to make sure I grok it....

[2020-09-03 23:05] mattmoor commented on #9272
This would require the consumer of the addressable to reconfigure its dataplane when rollouts happen in the same way that Route does today.  So for example a trigger referencing this would observe the new URL and reconfigure things.

[2020-09-04 00:52] cdlliuy commented on #9296
Also， is that possible to make the reconciler thread number configurable as well? @julz ?

[2020-09-04 01:40] aurorazl opened #9303 "image build with ko publish ./cmd/xxx,but failed"
## Ask your question here:

My machine's os is amd64.

k8s version is 1.18.0-00.

Knative/serving branch of building image is release-0.15.

Install step:

kubectl apply --filename https://github.com/knative/serving/releases/download/v0.15.0/serving-crds.yaml
kubectl apply --filename https://github.com/knative/serving/releases/download/v0.15.0/serving-core.yaml
kubectl apply --filename https://git

[2020-09-04 06:33] markusthoemmes commented on #9272
@duglin anything that the Configuration (and by extension Revision) handle themselves would still be in-path. The entire scale-to/from-zero machinery and the activator are done in that realm so yes, all of that would still be there. I don't know enough about async to comment on that.

[2020-09-04 07:24] julz commented on #9296
/assign

[2020-09-04 07:31] markusthoemmes commented on #9296
I wonder if a configurable timeout is giving you any leverage though. Even fairly small timeouts are fairly easily DoSable I believe. Even 1s is already a long time for a reconcile loop.

Maybe we should instead bite the bullet and come up with a non-blocking scheme here?

[2020-09-04 07:51] julz commented on #9296
I think even if we pull it off reconcile it makes sense to limit how long someone can tie up a connection but.. yeah. I think I remember there was some reason (lost in slack history) we didn't do this before, does anyone remember why don't / have concerns if we do resolve in background?

[2020-09-04 09:01] julz commented on #9296
Agree we need to pull this off the reconcile thread as well.

It still seems valid to be able to configure how long a digest resolve can tie up a connection since even off the main thread we probably want a finite number of workers (and 1 minute is both way too generous, and at the same time at least plausibly necessary in some environments with slow networks), but agreed it's not really a solutio

[2020-09-04 09:42] skonto commented on #7923
@dprotaso @mattmoor I was thinking of picking up this, is this something we need to address?
Are there other parts of the spec that need fixes like this (assuming this is a bug)?

[2020-09-04 11:41] tshak commented on #7554
Within the namespace we do not create any `Service` objects. We saw this across many `ksvc`'s with very unique names, so this seems like an unlikely root cause.

[2020-09-04 12:03] #7241 closed

[2020-09-04 14:07] mattmoor commented on #9272
As a bit of historical context, prior to the modern SKS design for scale-to-zero, this would have been impossible due to the way we scaled things to zero (switching the activator in at the Route!).

As Markus says, now that the Revision (really SKS) handles manipulating the K8s Service it exposes directly, we are actually pretty close to being able to have directly Addressable Revisions (my caveat

[2020-09-04 14:20] mattmoor commented on #7923
/lifecycle frozen

cc @julz @evankanderson

I think the trick here is that setting it at the pod level then applies to the queue-proxy, which may(?) not work in all cases.  It might be worth thinking those cases through and hardening the queue-proxy against them (with e2e tests) before relaxing things at this level to match container.  This would also have implications for injected sidecars like i

[2020-09-04 14:32] mattmoor opened #9310 "Wrap the Reconciler context with a deadline"
/area API
/area autoscale
/area networking
/kind good-first-issue

## Describe the feature

Reconcilers process work off of a workqueue with ~2 threads.  To avoid starving[1] the things behind certain keys in the workqueue we should have a bound on the synchronous latency of `Reconcile()` and offload any work with unboundable latency to a library.

[code]

Ultimately, I'd like to see this function

[2020-09-04 14:36] mattmoor commented on #9310
cc @vdemeester (Tekton)

[2020-09-04 14:41] n3wscott commented on #9310
I bet you can bump that up to 5-10 threads. A deadline is a fine idea too.

[2020-09-04 14:44] mattmoor commented on #9310
@n3wscott In practice I have yet to see bumping the thread count matter typically because the latency is from `rest.Config` throttling, which is unaffected by more threads.  Essentially: 2 threads is already too much given how the user is holding the clients, so adding more doesn't help 😉

[2020-09-04 15:03] n3wscott commented on #9310
Ah yes fair point, forgot about call limits.

[2020-09-04 15:07] n3wscott commented on #9310
10 seconds seems like both a lot and way short. I think the other guideline we need to send out is do one thing per ref loop. If you plan to make 3 external calls, you are gonna have a bad time.

[2020-09-04 15:14] mattmoor commented on #9310
@n3wscott I disagree with that sentiment.  Doing one thing per `Reconcile()` call when you have multiple things to do makes things worse not better.  If you do one thing (properly), then you will be requeued anyways and (likely) do the next thing, so you haven't really saved yourself anything; however, by spreading this across multiple `Reconcile` calls you have potentially incurred multiple `Upda

[2020-09-04 15:20] mattmoor commented on #9310
Ack, it's intended as a starting point (see the comment about driving this down).  If/when things take 10s today things are pretty egregiously wrong already, but this gets a bound in place, which is the primary objective.

[2020-09-04 15:56] tcnghia commented on #7554
I wonder if you can share additional logging / events to see who created the `ClusterIP` Services. If it is an easy repro, can you describe how we can repro this on our side for a closer look?  Thanks

[2020-09-05 02:40] nak3 commented on #7554
Yes, the additional logging and reproducer (if possible) will be very helpful.

By the way, I wanted to mention that the `mesh mode` had a bug https://github.com/knative/serving/issues/8585 and it was fixed in https://github.com/knative/serving/commit/c35eec7832b726c1ece751f308ea8c3e4a732d4d (Knative v0.17). I wonder that @tshak is using mesh mode and hit this bug?

[2020-09-05 09:14] julz commented on #9067
https://github.com/kubernetes/enhancements/pull/1598 is quite interesting: landed recently in upstream and would - I think - remove the use case we had for being able to set fsGroup.

[2020-09-05 12:08] knative-test-reporter-robot opened #9311 "[flaky] pkg/reconciler/accessor/networking.TestReconcileCertificateCreate"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/accessor/networking.TestReconcileCertificateCreate
* **Repository name**: serving

[2020-09-05 13:48] vincent-pli opened #9312 "The implements for request routing"
## Ask your question here:
I read some article about the implements of auto-scaling, seems the `public` endpoint will be update based on the `private` endpoint when scale from 0 - 1, actually I do see the code:
https://github.com/knative/serving/blob/569509c2c2fa1847b57dd8efd109aac9b682a602/pkg/reconciler/serverlessservice/serverlessservice.go#L271

But I do not see it effective in my env:
Before:

[2020-09-05 20:29] vagababov commented on #9312
It depends on amount of traffic. If your revision does not receive enough traffic (TBC=200 by default) activator will always be in the path.

[2020-09-06 03:02] vincent-pli commented on #9312
@vagababov thanks a lot, I also found this: https://github.com/knative/serving/issues/7087

[2020-09-06 03:02] #9312 closed

[2020-09-06 13:56] MIBc commented on #9303
What ko cmd did you run?

[2020-09-07 12:00] skonto commented on #7923
@mattmoor there is a related discussion here https://github.com/kubernetes/kubernetes/issues/55435 for the sidecar containers.

[2020-09-07 12:08] knative-test-reporter-robot opened #9315 "[flaky] test/e2e.TestAutoscaleUpDownUp"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleUpDownUp
* **Repository name**: serving

[2020-09-07 12:08] knative-test-reporter-robot opened #9316 "[flaky] test/e2e.TestFastScaleToZero"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestFastScaleToZero
* **Repository name**: serving

[2020-09-07 12:08] #9311 closed

[2020-09-07 12:09] #9141 closed

[2020-09-07 12:09] knative-test-reporter-robot opened #9317 "[flaky] test/e2e.TestSubrouteLocalSTS/shortest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSubrouteLocalSTS/shortest
* **Repository name**: serving

[2020-09-07 12:09] knative-test-reporter-robot opened #9318 "[flaky] test/e2e.TestGRPCAutoscaleUpDownUp"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestGRPCAutoscaleUpDownUp
* **Repository name**: serving

[2020-09-07 12:09] knative-test-reporter-robot opened #9319 "[flaky] test/e2e.TestGRPCUnaryPingViaActivator"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestGRPCUnaryPingViaActivator
* **Repository name**: serving

[2020-09-07 12:09] knative-test-reporter-robot opened #9320 "[flaky] test/e2e.TestSvcToSvcViaActivator/a-disabled"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSvcToSvcViaActivator/a-disabled
* **Repository name**: serving

[2020-09-07 12:51] tshak commented on #7554
I can confirm that we do use `local-gateway.mesh: "mesh"` in `config-istio` and that we do not use the cluster-localgateway. I have a minikube instance that reproduces this  with the following base knative configuration: https://github.com/riser-platform/riser-server/tree/main/config/infra/knative.

I don't see much context in the logs. Here is a log entry from the controller:

[code]

[2020-09-07 21:49] SwEngin commented on #9310
Interested in this!

[2020-09-07 23:51] ericmillin opened #9326 "when `kn service create` fails, there is no container error message"
I originally opened the issue in client repo, but they said the error message comes from serving. https://github.com/knative/client/issues/998

### Bug report
When a service create fails, sometimes the revision container error is empty, i.e. `Container failed with: .`. E.g.,
[code]

`kn service describe example2` has the same problem.

### Expected behavior

Some sort of error message, ideally a h

[2020-09-08 16:54] whaught commented on #8871
/close

[2020-09-08 16:54] #8871 closed

[2020-09-08 23:25] #8208 closed

[2020-09-09 00:36] vaikas commented on #9310
Sometimes in practice however you are unable to make forward progress until the thing you do actually completes. So, if you create a new resource for example, you may need to get some state off of it and you're getting requeued because the owned resource you created becomes ready for example. But, yeah, in general you should make as much progress as you can.

[2020-09-09 01:39] mattmoor commented on #9310
Right, a good example of this is the network prober we use in serving, but that work should typically be done via a non-blocking idempotent library that calls back to requeue the key when the work completes.

[2020-09-09 04:12] cdlliuy commented on #9296
@julz  @markusthoemmes , not sure whether it is considerable to make the reconciler thread number configurable ?

[2020-09-09 10:23] maxiloEmmmm opened #9337 "Could not resolve host"
## Ask your question here:
in pod
![image](https://user-images.githubusercontent.com/16779121/92586819-582e5080-f2c9-11ea-861d-dce63d2202cf.png)

info:
kubectl get ksvc
![image](https://user-images.githubusercontent.com/16779121/92586864-69775d00-f2c9-11ea-96af-b0b99b5a3d00.png)
kubectl get svc
![image](https://user-images.githubusercontent.com/16779121/92586912-7ac06980-f2c9-11ea-9302-944622496d2

[2020-09-09 10:31] markusthoemmes commented on #9337
Are you trying to hit the service from another pod in a cluster local way? If so, I believe `dev-maxilo-t2.$THE_NAMESPACE` should work in your scenario.

[2020-09-09 10:36] maxiloEmmmm commented on #9337
[code]
![image](https://user-images.githubusercontent.com/16779121/92588243-464dad00-f2cb-11ea-9f5b-fac20015c3ef.png)

[2020-09-09 11:17] markusthoemmes commented on #9337
Do you have the cluster-local gateway installed? Wondering if this is a collapsed error.

[2020-09-09 11:22] tshak commented on #7554
I no longer see the issue in a `minikube` cluster after updating to `v0.17.2`. It may be a few weeks before I can upgrade a production cluster.

[2020-09-09 12:09] #9145 closed

[2020-09-09 12:09] #8777 closed

[2020-09-09 12:09] #9318 closed

[2020-09-09 12:09] #8687 closed

[2020-09-09 12:09] #9146 closed

[2020-09-09 12:09] #9317 closed

[2020-09-09 14:06] maxiloEmmmm commented on #9337
@markusthoemmes thx
install knative without eventing, eventing doc not view~

[2020-09-09 14:07] #9337 closed

[2020-09-09 17:15] julz opened #9345 "Autoscaler api group version is v1alpha1, should be v1"
## Describe the feature

Not really a big deal, but at some point since autoscaler is (I think!) v1 we should update the API group to v1 to match.

[2020-09-09 17:23] vagababov commented on #9345
It's internal API, so it does not really have to. But I am pretty sure we've mostly settled on the API, so we _can_ move it to beta and v1.

[2020-09-09 17:25] vagababov commented on #9345
Also this: https://github.com/knative/serving/issues/3895

[2020-09-09 17:51] maximilien commented on #912
Hi, all, also interested in this. Have a little history with Open APIs (née Swagger).

@joshuawilson did you end up submitting PR as you mentioned above?

[2020-09-09 17:56] maximilien commented on #912
I see there is a blocker: https://github.com/knative/serving/pull/3487#issuecomment-476781664

[2020-09-10 01:51] scothis opened #9350 "Expand YAML anchors in releases"
## Describe the feature

YAML anchors allow a portion of the document to be reused elsewhere with the doc. While useful to keep config DRY, the YAML ecosystem does not have uniform support. To avoid issues when using Knative releases, it would be nice for the anchors to be expanded in the release yaml.

Example https://github.com/knative/serving/blob/v0.17.2/config/core/resources/service.yaml#L27

[2020-09-10 12:39] julz opened #9355 "Activator endpoint probing can race with pre-stop hook"
(writing up some slack conversations).

**wordy version:** Activator has logic to probe the QP when it sees a pod go to notReady state, if the probe succeeds it will treat the pod as ready regardless of its status. This is particularly good at startup because it means we can see the pod is ready and start forwarding traffic _before_ etcd and the kubernetes Rube Goldberg machine have caught up. How

[2020-09-10 13:32] zhaojizhuang opened #9357 "When to support k8s 1.18"
## Ask your question here:

/area API      When to support k8s 1.18?

[2020-09-10 13:48] markusthoemmes commented on #9357
It's actively being worked on currently. See https://github.com/knative/pkg/issues/1280 and https://github.com/knative/pkg/pull/1428. I'll close this in favor of https://github.com/knative/pkg/issues/1280

[2020-09-10 13:48] #9357 closed

[2020-09-10 14:29] vagababov commented on #9355
for full picture -- we can ignore reprobing those but:

1. there's always race anyway -- you just moved it a bit
2. after second iteration of endpoints changing we already have no idea whether this was a new endpoints that's yet not ready or it's the one that became (sure we can try too bookkeep that, but think of activator restart/re-subsetting)

[2020-09-10 16:20] tcnghia commented on #7554
What version are you on now? Would it be beneficial for you if we cherry pick to an older version?

[2020-09-11 03:37] benja-wu commented on #8889
I found an interestring scenario in my knativing serving component:
In the activator's log, I saw it produced such error log every second:
[code]
And there was no such `demo8-gcrxn` revision in my environment, after I deleted the original activator's pod,  the failing cascading deleting problem gone with it. Quite strange here. But finally solved my problem.
Besides, I had also remove `knativing-m

[2020-09-11 03:37] #8889 closed

[2020-09-11 07:40] tshak commented on #7554
Production clusters are on Serving `v0.15.1`

[2020-09-11 12:09] markusthoemmes commented on #9355
We had a bit of a discussion in Slack today, so here are more datapoints:

When a pod is deleted (i.e. scaled down) it isn't actually moved into the `nonReady` addresses but rather removed from the endpoints completely without that intermediate step. (see https://github.com/kubernetes/kubernetes/blob/119c94214c8b11a9f585557bff49bef26faf88b1/pkg/controller/endpoint/endpoints_controller.go#L415-L418

[2020-09-11 14:55] tcnghia commented on #7554
@tshak  Would a cherrypick help you? It will still require an upgrade, so unless you prefer to stay on some v0.15.x version, then I don't think the benefit is large. Let us know.

[2020-09-11 16:04] vagababov commented on #9355
Yeah, and there's always a race due to informers not being instantenous anyway...

[2020-09-11 16:58] jonjohnsonjr commented on #912
I'm no longer working on this project, but the blocking issue was closed. I'm not sure if that fixes our issues, but you could try reviving that PR. It's a bunch of generated stuff but the relevant commits:

Add the tool:
https://github.com/knative/serving/pull/3487/commits/5cc1eeb6e30c89b6b7005b4fd3fe3923a4f208b3 and https://github.com/knative/serving/pull/3487/commits/9ca66a3c1a9027f6ba02df47ed1

[2020-09-11 18:32] vagababov opened #9373 "Traffic generation coalesces configNames into single target even if they have different tags"
But they should stay separate.

/assign

[2020-09-11 18:32] vagababov commented on #9373
/area networking

[2020-09-12 12:07] knative-test-reporter-robot opened #9376 "[flaky] test/conformance/api/v1alpha1.TestProjectedConfigMapVolume"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestProjectedConfigMapVolume
* **Repository name**: serving

[2020-09-12 12:08] knative-test-reporter-robot opened #9377 "[flaky] test/conformance/api/v1beta1.TestServiceCreateAndUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestServiceCreateAndUpdate
* **Repository name**: serving

[2020-09-12 12:08] knative-test-reporter-robot opened #9378 "[flaky] test/e2e.TestDestroyPodWithRequests"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDestroyPodWithRequests
* **Repository name**: serving

[2020-09-12 12:08] knative-test-reporter-robot opened #9379 "[flaky] test/conformance/runtime.TestShouldHaveHeadersSet"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestShouldHaveHeadersSet
* **Repository name**: serving

[2020-09-12 12:08] knative-test-reporter-robot opened #9380 "[flaky] test/conformance/runtime.TestShouldHaveSysctlReadOnly"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestShouldHaveSysctlReadOnly
* **Repository name**: serving

[2020-09-12 12:08] knative-test-reporter-robot opened #9381 "[flaky] test/conformance/runtime.TestCmdArgs"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestCmdArgs
* **Repository name**: serving

[2020-09-12 12:08] knative-test-reporter-robot opened #9382 "[flaky] test/conformance/api/v1alpha1.TestRevisionTimeout/when_pods_already_exist,_and_it_does_not_exceed_timeout_seconds"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestRevisionTimeout/when_pods_already_exist,_and_it_does_not_exceed_timeout_seconds
* **Repository name**: serving

[2020-09-12 12:08] knative-test-reporter-robot opened #9383 "[flaky] test/conformance/api/v1alpha1.TestBlueGreenRoute"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestBlueGreenRoute
* **Repository name**: serving

[2020-09-12 12:08] knative-test-reporter-robot opened #9384 "[flaky] test/conformance/api/v1alpha1.TestRunLatestServiceBYOName"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestRunLatestServiceBYOName
* **Repository name**: serving

[2020-09-13 04:44] #8128 closed

[2020-09-13 12:09] knative-test-reporter-robot opened #9388 "[flaky] test/conformance/api/v1alpha1.TestReleaseService"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestReleaseService
* **Repository name**: serving

[2020-09-14 07:13] #8066 closed

[2020-09-14 07:27] nak3 commented on #8184
Closing as this was done by https://github.com/knative/networking/pull/12.

[2020-09-14 07:27] #8184 closed

[2020-09-14 08:41] julz commented on #9355
yah, thinking about this there's a race, but given terminating pods immediately exit without hitting nonReady, I don't think it's nearly so important a race (and, selfishly, I don't think it's the race causing the problem I was initially investigating :D). I'm going to keep digging a little in to this code path, but gonna close this for now since I don't think this'd be a worthwhile change, given

[2020-09-14 08:41] #9355 closed

[2020-09-14 12:10] #9384 closed

[2020-09-14 12:10] #9219 closed

[2020-09-14 12:10] #8980 closed

[2020-09-14 12:10] #9009 closed

[2020-09-14 12:10] #9383 closed

[2020-09-14 12:10] #9382 closed

[2020-09-14 12:10] #9376 closed

[2020-09-14 12:10] #9380 closed

[2020-09-14 12:10] #9379 closed

[2020-09-14 12:10] #8783 closed

[2020-09-14 12:10] #9381 closed

[2020-09-14 16:43] tshak commented on #7554
Thanks for the consideration but this is not necessary as this is not a high severity issue and we plan on upgrading soon.

[2020-09-15 01:10] #6784 closed

[2020-09-15 04:11] tcnghia commented on #7554
/close

[2020-09-15 04:11] #7554 closed

[2020-09-15 08:55] markusthoemmes commented on #8628
Hmm, is this really something we want to do? Seems like there is very little drive to pick it up.

[2020-09-15 09:03] markusthoemmes commented on #6520
@bbrowning's standpoint seems reasonable to me. This is only an "attack vector" from inside the cluster itself. If you don't trust your network inside of the cluster, you'd have to go setup appropriate NetworkPolicies I suppose but I tend to agree that it's not generically an issue :thinking:

[2020-09-15 09:42] julz commented on #8628
I actually think it's pretty legit: most competitive platforms (afaik) limit the max concurrency you can ask for on an individual function-shaped-thing, to avoid people shooting themselves in the foot etc. I was mostly not picking it up because it's marked `good-first-issue` and I wanted to leave some nice easy issues around in autoscaler for any new folks to pick up.

[2020-09-15 12:10] knative-test-reporter-robot opened #9407 "[flaky] pkg/reconciler/autoscaling/kpa.TestControllerUpdateError"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/autoscaling/kpa.TestControllerUpdateError
* **Repository name**: serving

[2020-09-15 12:10] #9388 closed

[2020-09-15 13:27] pengcheng-cs opened #9409 "Queue-proxy more than 150m CPU usage with 200+ Ksvcs in K8s cluster"
## What version of Knative?

## Expected Behavior

Queue-proxy with less than 100m CPU usage, even with more than 200+ ksvcs in K8s cluster

## Actual Behavior

Our company uses Knative service as FAAS workload, now we have more than 200 ksvcs in K8s cluster. We find the queue-proxy CPU usage of pod grows up to **150m+** even this service has very little traffic, also some of them even cost more 3

[2020-09-15 13:33] markusthoemmes commented on #9409
Are the istio-proxies probing the queue-proxies continuously by any chance? Have you tried this with the fixes we rolled out in 0.16?

Apart from that, the only thing I could think of actually growing in size is the service links, but I don't think that'd cause ongoing CPU load.

[2020-09-15 13:57] #8868 closed

[2020-09-15 15:55] mattmoor commented on #8949
The workaround of proxying through the single exposed container doesn't work for exec probes, which are the defacto way of health checking GRPC services.

The point around the liveness probe restarting the container vs. the pod is another great point / problem with this suggested workaround.

My personal inclination would be to see us allow `{liveness,readiness}Probe` on sidecars.

cc @dprotaso @m

[2020-09-15 16:18] #7742 closed

[2020-09-15 16:56] emaildanwilson opened #9415 "Feature Request: Allow specifying hostAliases for Knative Services"
## Allow specifying hostAliases for Knative Services

In our environment we use hostAliases for a few different use cases and it would be nice to be able to provide the same functionality on knative.

## use case 1 - internal routing of external services when they are also hosted locally

When an externally facing service is also hosted locally, we prefer to connect to the local service directly b

[2020-09-15 16:59] vagababov commented on #8628
I was actually gonna do it, since I don't have time for big tasks now 😁

[2020-09-15 17:07] markusthoemmes commented on #8628
@taragu pinged me today, saying she wanted to do it if the issue is alright. @vagababov please doublecheck with her.

[2020-09-15 17:12] vagababov commented on #8628
Alright.

[2020-09-15 17:37] taragu commented on #8628
Yes I'm thinking about doing this as well. @vagababov is it alright if I pick this up?

[2020-09-15 19:40] vagababov commented on #8628
Sure.

[2020-09-15 20:10] taragu commented on #8628
Thanks! @vagababov
/assign

[2020-09-15 21:57] vagababov commented on #9409
+1
This is supposed to be fixed by now. Please try upgrading knative.

[2020-09-15 23:16] vagababov commented on #9407
Seems to have hung in `waitInformers()` call.
Probably something deadlocked in K8s test libraries or our synthetic informers.

[2020-09-15 23:16] vagababov commented on #9373
After more debugging this seems to be done correctly. Just for some reason takes much more time to reconcile 🤦

[2020-09-15 23:17] vagababov commented on #9373
/close

[2020-09-15 23:17] #9373 closed

[2020-09-16 01:29] nak3 commented on #5573
/remove-lifecycle stale

[2020-09-16 02:23] tcnghia opened #9420 "Istio installation should use a better `net-istio` install.sh version"
## What version of Knative?
HEAD

## Expected Behavior
We closely track `net-istio`'s `install-istio.sh` version.

## Actual Behavior
We are very far behind net-istio HEAD.

## Steps to Reproduce the Problem
See code here https://github.com/knative/serving/blob/5634539a7e8159e36ac84618756eff7cfa9469af/test/e2e-networking-library.sh#L23.

[2020-09-16 02:23] tcnghia commented on #9420
/area networking
cc @ZhiminXiang @nak3 @JRBANCEL

[2020-09-16 03:47] brianschardt commented on #6146
im running into this same exact issue, on google cloud run for Anthos.

[2020-09-16 04:09] vagababov commented on #6146
cc @ZhiminXiang

[2020-09-16 04:26] brianschardt commented on #7933
@ZhiminXiang i get this error when adding that to the cloud run yaml file

[code]
where do i add the code you mentioned?

[2020-09-16 04:40] ZhiminXiang commented on #7933
@brianschardt you just need to apply the yaml separately, i.e. running the following command
[code]

Let me know if it does not work.

[2020-09-16 04:41] ZhiminXiang commented on #7933
Note that this makes the websocket work with custom domain mapping. If you don't use custom domain mapping, websocket works with knative service directly.

[2020-09-16 04:54] brianschardt commented on #7933
@ZhiminXiang thanks i just saw that in the documentation. I was hoping there was a way to do this from the gcp web portal. Do you know if there is? sounds like there is not.

[2020-09-16 05:08] ZhiminXiang commented on #7933
@brianschardt currently there is no way from web UI. In the future, we should make the websocket out-of-box without manually applying it.

[2020-09-16 07:36] qibobo opened #9422 "When Endpoints changes, there may be connection refused error"
## What version of Knative?

## Actual Behavior

With curl to access the ksvc, sometimes it got error `dial tcp 172.30.234.214:8012: connect: connection refused`

## Steps to Reproduce the Problem

The script to reproduce it:

[code]

It may take several hours to reproduce the issue.
During the test, the requests to ksvc are always redirected by activator as SKS is always Proxy.
[code]
When the er

[2020-09-16 07:44] julz commented on #9422
can you confirm the version of `curl` that's being used? I was discussing this issue with @markusthoemmes a few days ago and he pointed me at https://github.com/curl/curl/issues/3750; the above very very cool investigation seems to strongly suggest that's not the problem, but would be good to rule it explicitly anyway.

cc @vagababov for ideas also

[2020-09-16 08:00] qibobo commented on #9422
@julz
[code]

[2020-09-16 09:35] julz commented on #9422
We've been noodling around on this in autoscaler channel on slack and we'd love if we could get profiling enabled on the activator here and see a goroutine dump when it gets in to this state. We're working on a theory that something is blocked in a channel somewhere, and a goroutine dump would be extremely helpful to track it down if so.

@qibobo would you be able to enable profiling on the activa

[2020-09-16 10:29] #7291 closed

[2020-09-16 11:03] qibobo commented on #9422
@julz
Sure. I will try to get the profile.

[2020-09-16 14:20] joshuawilson opened #9432 "Revision does not spin up when not enough resources"
## In what area(s)?
/area autoscale

## What version of Knative?
0.13.3

## Expected Behaviour
When you create a Service, I expect the Revision to be spun up and made available. If there are not enough resources, I expect that when the resources are added or made available that the stalled Revision will be spun up.

## Actual Behaviour
If there aren't enough resources then the Revision does NOT sp

[2020-09-16 14:23] markusthoemmes commented on #9432
The service will actually be spun up if capacity is added/freed up quick enough. Once we pass the progressDeadline of the deployment, we're scaling it down and call it a day though.

Being able to fix this would hinge on us being able to get a workable signal from K8s that capacity got available and we can retry.

[2020-09-16 14:26] LangQian commented on #9129
Hi @vagababov , I see you added PodDisruptionBudget for activator, do you know if we also need this for webhook? Thanks!

[2020-09-16 14:35] joshuawilson commented on #9432
My concern is that as a Cloud thing and being Serverless too, from a users point of view it should just work if I give it more resources.

I do understand that at a technical level this may be crazy hard to fix it at all.

If it can't be fixed then we might want to add it to the docs. But you all know better then I do if it could be fixed.

[2020-09-16 16:39] vagababov commented on #9432
@joshuawilson , so there's two cases:
one when it's scaled to 0 and when it's not.
When it's not — it will ultimately scale to desired scale, I think. When it is, as @markusthoemmes said, once progress deadline expires we just give up.
It is a setting though and you can raise it quite high.

[2020-09-16 16:39] vagababov commented on #9129
We do yes.

[2020-09-16 16:42] mattmoor commented on #9129
cc @tcnghia

I'd like to make sure there aren't problems with updates if the min scale is 1 when we add PDBs

[2020-09-16 16:43] vagababov commented on #9129
I did verify that with activator, I think. But we can test again.

[2020-09-16 17:18] vagababov commented on #9422
Well `# Create the stateful app and pass it the Redis IP` — **stateful** is already a warning bell with knative (I presume it's with knative) :)

But as discussed in slack, we've seen these before. Once you get the stacktrace, it'll be super useful to see where we block.
Dial in probe seems to be the apparent first choice and we might need a custom dialer for that, but let's wait and see.

[2020-09-16 17:27] joshuawilson commented on #9432
What I found it happened I start a new namespace and created a Service.

[2020-09-16 17:29] julz commented on #9422
yeah, it's an interesting question to see if we can reproduce this without the Redis in there, it doesn't seem _very_ likely to be related (especially given we've seen things like this before, and especially given the investigation in the thread) but if we could remove it that'd remove some noise

[2020-09-16 17:56] joshuawilson commented on #912
@maximilien I was out on vacation. I just submitted the PR.

[2020-09-16 20:36] dprotaso commented on #8490
woot

[2020-09-16 20:36] #8490 closed

[2020-09-17 05:23] JRBANCEL commented on #9420
We should include the commit hash when we release `net-istio.yaml`.
This way we could use it in `serving`.

[2020-09-17 05:32] travigd opened #9446 "Cap maximum pending pods"
## Describe the feature

It would be nice™ if there was some way to limit the number of pending pods on a per-service or per-revision basis. There are two ways I can see to do this: allow the autoscale rate to be configurable per-service instead of only globally, or add a new annotation that caps the maximum number of pending pods (this is my preference).

For motivation, I'm running a service wit

[2020-09-17 06:10] nak3 commented on #9275
It should be fixed by https://github.com/knative-sandbox/net-istio/issues/259.
@capri-xiyue Could you please test it again please? If you still hit the same issue, please let us know the profile (`istio-minimal.yaml` maybe?) you are using.

[2020-09-17 07:02] vagababov commented on #9446
You can change target utilization for the revision. Which will reduce significantly the number of pods we overprovision.

[2020-09-17 12:11] knative-test-reporter-robot opened #9450 "[flaky] test/scale.TestScaleToN/scale-200/135-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/135-of-200
* **Repository name**: serving

[2020-09-17 12:11] knative-test-reporter-robot opened #9451 "[flaky] test/conformance/api/v1alpha1.TestRunLatestService"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestRunLatestService
* **Repository name**: serving

[2020-09-17 12:11] knative-test-reporter-robot opened #9452 "[flaky] test/conformance/api/v1.TestServiceWithTrafficSplit"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceWithTrafficSplit
* **Repository name**: serving

[2020-09-17 12:11] knative-test-reporter-robot opened #9453 "[flaky] test/conformance/runtime.TestSecretsViaEnv/env"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestSecretsViaEnv/env
* **Repository name**: serving

[2020-09-17 12:11] #9407 closed

[2020-09-17 12:11] knative-test-reporter-robot opened #9454 "[flaky] test/conformance/runtime.TestSecretsViaEnv/envFrom"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestSecretsViaEnv/envFrom
* **Repository name**: serving

[2020-09-17 13:50] #9296 closed

[2020-09-17 17:26] capri-xiyue commented on #9275
Now I can't run `STABLE_VERSION=$(curl https://raw.githubusercontent.com/knative-sandbox/net-istio/master/third_party/istio-stable)`, it shows 404 not found

[2020-09-17 17:44] dprotaso commented on #7923
Note the original issue of supporting more pod security context features was done - https://github.com/knative/serving/pull/9060

I'd suggest moving matt's comment to https://github.com/knative/serving/issues/9067

[2020-09-17 17:45] dprotaso commented on #9067
From @mattmoor : https://github.com/knative/serving/issues/7923#issuecomment-687175682

[2020-09-17 17:46] dprotaso commented on #7923
closing in favour of moving the discussion to: https://github.com/knative/serving/issues/9067

[2020-09-17 17:46] #7923 closed

[2020-09-17 19:05] travigd commented on #9446
Based on the documentation, I don't think that helps when the hard limit for concurrency is 1.

[2020-09-17 19:14] dprotaso commented on #8160
I was under the impression tag header based routing only supports 'tags' that are explicitly marked in the Route.

[2020-09-17 19:17] vagababov commented on #9446
That is irrelevant. Target utilization is a different parameter.

[2020-09-17 19:44] dprotaso commented on #6264
I'm back
/assign @dprotaso

[2020-09-17 20:09] dprotaso commented on #7915
No strong opinions on my part since the default doesn't affect existing workloads.

[2020-09-17 20:19] dprotaso commented on #8638
/assign @dprotaso

[2020-09-17 21:30] travigd commented on #9446
Which parameter are you talking about exactly? I'm assuming `autoscaling.knative.dev/target`, which has the limitation above (that's the _soft_ limit).

Quote from https://knative.dev/docs/serving/autoscaling/concurrency/

[2020-09-17 21:36] vagababov commented on #9446
No, the docs site seems a bit outdated: https://github.com/knative/docs/blob/release-0.17/docs/serving/autoscaling/concurrency.md#target-utilization — is what I mean.

[2020-09-17 21:36] vagababov commented on #9446
I see the bug in the MD. Lemme fix it

[2020-09-17 21:46] travigd commented on #9446
Ah, yeah, thanks.

Unfortunately, I still don't think that helps in this scenario since that's designed to pro-actively autoscale, whereas I want to autoscale on a bit of a lag (e.g., I want a target utilization of slightly over 100% which isn't allowed).

[2020-09-17 21:48] vagababov commented on #9446
Also note that we scale over average over the window (though I guess there's panic involved if you're sending a burst). So if requests go and new ones come, it should average out to the necessary amount.

In the end this is one more reason to go faster toward `profiles` implementation cc @julz @markusthoemmes  — so that scale up/down rates can be set per-revision without the need for more annotati

[2020-09-17 22:01] travigd commented on #9446
Yep yep. So looks like this isn't something I can do right now, yeah?

That's not the end of the world, I can just set a manual max limit (probably around 10 for my use case) and adjust it over time if the average load increases.

Thanks for the help! :)

[2020-09-17 22:42] mattmoor commented on #8160
This is similar to: https://github.com/knative/serving/issues/9039

[2020-09-18 16:11] dprotaso opened #9477 "EKS tag to digest resolution with fine-grained IAM roles not working"
## Expected Behavior

From andeep in [slack](https://knative.slack.com/archives/CA4DNJ9A4/p1600359582161700):

See further discussion here: https://knative.slack.com/archives/CA4DNJ9A4/p1600359603162300

I believe he's using a fine-grained IAM role: https://aws.amazon.com/blogs/opensource/introducing-fine-grained-iam-roles-service-accounts/

## Actual Behavior

If our controller's service account

[2020-09-18 18:00] dprotaso commented on #9039
Given the failure modes I don't understand why you wouldn't want to move your session state persistence to some external service - ie. memcache, redis, apache gemfire

ie. if you're using spring there's tooling that abstracts this
https://spring.io/projects/spring-session-data-redis
https://spring.io/projects/spring-session-data-geode

[2020-09-18 18:03] dprotaso commented on #8160
Cross post my comment from #9039

@des-esseintes can you clarify why you want to hit a _specific_ revision. I'm assuming it has some in-memory session data.

[2020-09-18 18:25] #9274 closed

[2020-09-18 18:32] dprotaso commented on #7077
I was under the impression changes resulting from #8540 would mean that revisions once 'Ready=True' will never flip to 'False'

[2020-09-18 18:34] dprotaso commented on #7077
So I'm waiting for that to shake out

[2020-09-19 12:15] #9450 closed

[2020-09-19 12:15] #9452 closed

[2020-09-19 12:15] #9012 closed

[2020-09-19 12:15] #9454 closed

[2020-09-19 12:15] #9453 closed

[2020-09-19 12:15] knative-test-reporter-robot opened #9482 "[flaky] test/conformance/api/v1.TestServiceCreateAndUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceCreateAndUpdate
* **Repository name**: serving

[2020-09-20 12:11] knative-test-reporter-robot opened #9487 "[flaky] test/ha.TestActivatorHANonGraceful"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/ha.TestActivatorHANonGraceful
* **Repository name**: serving

[2020-09-21 12:11] knative-test-reporter-robot opened #9490 "[flaky] test/scale.TestScaleToN/scale-200/082-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/082-of-200
* **Repository name**: serving

[2020-09-21 14:33] dprotaso commented on #5913
/remove-lifecycle stale

[2020-09-21 15:07] dprotaso commented on #3809
@Morriz we'll phase out the behaviour that's breaking these containers -
https://github.com/knative/serving/issues/7881#issuecomment-675102293

tl;dr we will put it behind an operator feature flag and change the default after enough time and communication

[2020-09-21 15:08] dprotaso commented on #3809
/assign @dprotaso
/milestone 0.18.x

[2020-09-21 15:08] dprotaso commented on #7077
I'll move this to the icebox for now

[2020-09-21 15:09] dprotaso commented on #9273
note we should bump to 1.15.2 since there is a race fix in the testing package

[2020-09-21 15:15] julz commented on #9273
updated, thanks @dprotaso!

[2020-09-21 15:43] dprotaso opened #9494 "Caching Image CRD should use v1 CRD API"
It's still using v1beta1

https://github.com/knative/caching/blob/4cbe1f2b16ea46cd6e9515099d0876af14a37645/config/image.yaml#L15

[2020-09-21 15:44] dprotaso commented on #9494
/assign @dprotaso

[2020-09-21 15:54] pjcubero commented on #9494
With this yaml I have the same issue:

https://github.com/knative/net-istio/releases/download/v0.17.1/release.yaml

[2020-09-21 17:25] dprotaso commented on #9046
This surprises me - is your webhook open source and I can look at it?

[2020-09-21 17:25] dprotaso commented on #9046
Curious what are your future use cases re: webhook

[2020-09-21 17:33] dprotaso commented on #9272
A caveat here is garbage collection - if we make these resources addressable directly we don't have cues when they should be collected.

[2020-09-21 17:40] mattmoor commented on #9272
Technically anything referencing the older service names is out of sync, but ack.

[2020-09-21 17:43] vagababov commented on #9273
I've updated the GHA to 1.15.x.
So we can probably update codebase as well.

[2020-09-21 17:43] vagababov commented on #9273
/reopen

fat finger

[2020-09-21 18:46] dprotaso commented on #9273
we need prow to adopt go1.15 cc @chaodaiG

[2020-09-21 18:52] des-esseintes commented on #8160
hey @dprotaso
well for me it seemed quite obvious, but i might be wrong here.
image we have a web app, I, as a user, open it in a browser and hit versin 2 (new one), then I click a link and get to version 1 because of the randomness. then press 'back', but do not see the same page as version 1 is showing up again. etc etc

[2020-09-21 18:55] chaodaiG commented on #9273
/cc chizhg

[2020-09-21 19:31] dprotaso commented on #9046
Secondly, I did some digging it looks like the root cause of your problem is being addressed upstream here: https://github.com/kubernetes/kubernetes/pull/94899

[2020-09-21 19:38] dprotaso commented on #8160
If you made small changes to your v1 app would it pushed as a v3?

I'm trying to determine the the lifecycle of the web apps.

[2020-09-22 01:12] #5534 closed

[2020-09-22 06:01] markusthoemmes commented on #9046
Ack, this sounds a bit odd. I'd expect you to be able to intercept Service, Config and Revision and apply the default on the respective create and it should just work.

[2020-09-22 06:15] markusthoemmes commented on #6803
/assign @vagababov

[2020-09-22 08:45] somaya10 commented on #9046
@dprotaso Unfortunately the webhook is not is a public repo. But it is a [garden variety](https://medium.com/ovni/writing-a-very-basic-kubernetes-mutating-admission-webhook-398dbbcb63ec) mutating webhook, listening in on service creation and mutates if needed.

This is what we see when we try to Mutate the ImagePullPolicy at the ksvc level:

{*v1.RevisionTemplateSpec}.Spec.PodSpec.Containers[0].Im

[2020-09-22 08:59] markusthoemmes commented on #9046
@somaya10 Is this error happening when creating a fresh service or when updating a service?

[2020-09-22 09:13] somaya10 commented on #9046
@markusthoemmes To be honest the mutating webhook is set to intercept and mutate on both create and update. But during testing I only checked by creating a fresh service, I have no data/results from what happens when we try to mutate on an update.

[2020-09-22 10:45] markusthoemmes commented on #9409
@pengcheng-cs any news? Had a chance to try on a newer version?

[2020-09-22 12:12] #8979 closed

[2020-09-22 12:12] #9208 closed

[2020-09-22 12:13] #9205 closed

[2020-09-22 12:13] #9487 closed

[2020-09-22 13:36] markusthoemmes commented on #8114
I'm thinking about picking this up and playing it through with an example CRD (for autoscaling?) to see where we'd end up with this. Gonna write up a proposal for it too once that solidifies somewhat more.

/assign

[2020-09-22 18:23] pengcheng-cs commented on #9409
Still using Knative@0.14 now, but we are discussing about putting upgrading to Knative latest version in our dev plan, once we have done the upgration we will check the queue-proxy CPU usage again.

[2020-09-22 18:58] #9494 closed

[2020-09-22 19:20] antongri commented on #4307
Are there any news about this issue?

[2020-09-22 20:59] des-esseintes commented on #8160
@dprotaso hmmmm i dont think i understandwhat you mean... my example was made up, kind of, but i do believe this feature would be handy in some cases. for example (a different one): https://cloud.google.com/appengine/docs/flexible/python/using-websockets-and-session-affinity#session_affinity

[2020-09-22 23:31] vagababov opened #9531 "Autoscaling in Knative and in the Cluster"
Right now, when the cluster is full, Knative will try to deploy the revision for ProgressDeadline seconds (120s by default in Knative). If there are not enough resources and CAS does not do its job fast enough, the PD will expire and then Autoscaler will wait some 10s more and finally give up and scale to 0 basically marking the revision as failed.

@jonjohnsonjr added this clutch long ago to deal

[2020-09-23 06:05] markusthoemmes commented on #9531
Sounds fair enough. This should fix #9432

[2020-09-23 06:22] julz commented on #9531
I'm a little torn. Part of me thinks we should maintain the upstream "k8s-native" (ie very declarative but user hostile ;) behaviour and have ProgressDeadline not be terminal _at all_. Otherwise we act subtly differently from other k8s things which eventually converge when resources become available, in particular Deployment itself.

For example, why special case insufficient resources with more t

[2020-09-23 06:26] markusthoemmes commented on #9531
To be clear, I don't like a special cased "let's wait some longer" either. If we can get a signal from the deployment that stuff eventually moved forward though, I don't see why we wouldn't pick that up and make the revision succeed too :thinking:.

Retrying on a timer is obviously brittle but if the deployment eventually succeeds, we should get a reconcile event anyway, I think?

[2020-09-23 06:48] vagababov commented on #9531
Thing is we need to decide _when_ to keep waiting for Deployment to progress (i.e. we still need to read the pod statuses and find out the reason is insufficient resources).
If we do find out then we can keep trying achieving initial scale (forever? or some other timeout?)

[2020-09-23 06:49] julz commented on #9531
Ah, my reading of the above was we wait the extra X seconds _once_ if the we see insufficient resources. We could indeed wait infinitely for resources (just don't treat ProgressDeadlineExceeded as terminal if we see ResourcesUnavailable), though it still seems kind of odd that we wait infinitely for resources to become available but not, say, for a registry to come back, or for an image to become

[2020-09-23 07:15] markusthoemmes commented on #9531
That's sort of what I was getting at: If the deployment is able to recover any of those failure cases, why wouldn't we? I guess we're saying the same things @julz. And I ack that it should apply to all error scenarios the deployment can recover from itself.

The registry stuff is a little tougher I guess, given that we want to resolve the digest and it's unclear when we can retry that :thinking:.

[2020-09-23 07:16] julz commented on #9531
Ugh yeah I forgot about background resolve for image digests. I vote we pretend I never said images above and treat that as a different issue.

[2020-09-23 12:13] #8233 closed

[2020-09-23 12:13] #9490 closed

[2020-09-23 12:13] knative-test-reporter-robot opened #9534 "[flaky] test/scale.TestScaleToN/scale-200/147-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/147-of-200
* **Repository name**: serving

[2020-09-23 12:13] knative-test-reporter-robot opened #9535 "[flaky] test/conformance/api/v1alpha1.TestRouteCreation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestRouteCreation
* **Repository name**: serving

[2020-09-23 15:44] Iamlovingit opened #9541 "automatic tls not working"
/area networking
## What version of Knative?
v0.17

Hello every, I am a newer to Knative.
I was followed the [doc](https://knative.dev/docs/serving/using-auto-tls/) to test the auto tls, I choose the http-01 chalenge, every thiing is ok, but at the last, when I deploy a ksvc, there is an error
[code]
I do not know why this is `False`
[code]

this is the description:
[code]
is there anyone to help

[2020-09-23 15:58] Iamlovingit commented on #9541
@ZhiminXiang

[2020-09-23 16:17] ZhiminXiang commented on #9541
Usually we don't recommend to use xip.io as it is a shared domain that could easily hit the LetsEncrypt quota.
Could you share the details of
`kubectl get kcert -oyaml`
`kubectl get cert -oyaml`
and `kubectl get order -oyaml` ?

[2020-09-23 16:21] Iamlovingit commented on #9541
Thanks for your reply.
[code]

[code]

[code]

[2020-09-23 16:42] mattmoor commented on #8638
/assign

I want a piece of this one.

[2020-09-23 17:23] rhuss opened #9544 "SinkBinding doesn't work with KServices that uses BYO revision names"
**Describe the bug**

When using a  `SinkBinding` with a Knative Service as subject that uses BYO revision names (i.e. setting the revision name from the client), then no `K_SINK` environment variable is injected to the KService.

 **Expected behavior**

`K_SINK` should be injected to the Pod Template as a container env var regardless whether a Knative Service is configured for BYO revision names

[2020-09-23 19:02] vagababov commented on #9531
So in general, I'd rather keep the number of cases we consider extendable, possibly, infinitely in pending state fixed (rather the other way around). Since in general it requires intimate knowledge of whether deployment will retry some errors and won't others (crashing container, cannot pull image)?

[2020-09-23 19:17] jonjohnsonjr commented on #9531
For posterity, https://github.com/knative/serving/pull/5077 and https://github.com/knative/serving/pull/4614 are where the scale to zero and propagate deployment status changes were introduced.

There was some discussion about further changes to the condition lifecycle in comments on the PR. I haven't kept up with this project, so I'm not sure if they're still interesting to the conversation.

[2020-09-23 19:24] evankanderson commented on #8160
I've seen this request before and it's not unreasonable, but some of the outcomes are surprising no matter which design decision is chosen at *this* infrastructure level.

The general idea is that (for example) you might be serving JavaScript and HTML resource bundles that are matched, and you don't want to serve v237 javascript to a v238 client, or vice-versa.

1. One way to handle this would be

[2020-09-23 19:25] evankanderson commented on #8160
/assign @nak3 @ZhiminXiang

[2020-09-23 20:13] mattmoor commented on #8638
Before we close this out, we should ensure that there are no `serving.knative.dev/v1alpha1` references in docs too

cc @abrennan89

[2020-09-24 04:25] ZhiminXiang commented on #9541
The issue is you may have installed nscert controller which generates wildcard certificate per namespace and results in your ksvc picked up the wildcard cert. You can see this from the `dnsNames` of `spec`. The wildcard cert only works with DNS challenge which does not work with your http challenge configuration.

The way to solve it is to delete the nscert controller with `kubectl delete --filena

[2020-09-24 06:06] Iamlovingit commented on #9541
@ZhiminXiang Thanks for your help, I will try it soon.

[2020-09-24 07:41] rhuss commented on #8160
@dprotaso it's not really about _state_ but that you alway hit the same _version_ of your app once it has been selected with the first request. Think about canary releases where you want a user that hits the canary should stay with this version. Regardless of state hitting two different versions of your (web) app during a user interaction is definitely not what you want.

[2020-09-24 07:51] rhuss commented on #8160
Of course the client needs to decide what the _first_ request is, and then send back a revision tag that is honoured by the router to hit the same revision (not same pod of course) as long as the revision tag is present in the header. The revision tag is picked up from the response header ideally (imo). Also, the client decides when that "session" is over (e.g. when the user logs out).

Of course

[2020-09-24 09:33] markusthoemmes opened #9553 "Add an E2E test covering autoscaling using HPA"
We currently only test our autoscaling behavior for `concurrency` and `rps`. We should add an e2e test that also asserts we properly scale on `cpu` and `memory`.

The existing autoscale image has the necessary functions for that already (prime generation to consumpe CPU and memory bloating to consume memory).

We should add a test that sends a few requests to make sure the service eventually scale