[2022-08-04 08:12] #13135 closed

[2022-08-04 14:11] psschwei commented on #4416
I went back and looked at this on v1.6, and it looks like the quota errors are showing on both the revision and the service.

Revision:
[code]

Service:

[code]

Off the top of my head, not sure what exactly changed between 1.4 and 1.6 to get these in there, but in there they are :smile:

[2022-08-04 14:30] MarcHeimann opened #13185 "config-domain ConfigMap structure malformed"
I try to deploy Knative in an Infrastructure as code way using Kustomize, and are replacing cluster-specific information using Kustomize's replacements functionality.

I am running into the issue, that the ConfigMap config-domain field keys are not static as you would expect from a yaml definition.

In this particular case, the domain name is defined as the key rather than the value. That leads to

[2022-08-05 07:33] rhuss commented on #4416
ah, great. So I guess we could close this issue then ? Would be great to find out though when the fix went in ;-)

[2022-08-05 08:48] jwcesign commented on #12866
normal, after gc(30 seconds), it get's normal

[2022-08-05 08:48] #12866 closed

[2022-08-05 12:01] #13173 closed

[2022-08-05 14:26] psschwei commented on #4416
Checking on what the exact fix was... not showing in v1.5, so it was something in the last release

[2022-08-06 19:46] dprotaso commented on #10852
/unassign @nealhu
/assign @nader-ziada who's working on this

[2022-08-06 19:51] dprotaso commented on #13185
ConfigMaps is a mapping of  `string` => `string` so your recommendation wouldn't be accepted by Kubernetes API.

This sounds like an issue with Kustomize - I would open an issue with that project.

[2022-08-06 19:51] #13185 closed

[2022-08-07 01:29] #12828 closed

[2022-08-08 07:51] rhuss commented on #12876
@sj8d3e6602 that's indeed an interesting question. I'm not an autoscaling expert, but I thought that it is the queue-proxy that reports the metric of requests-in-flight to the autoscaler, as it is only the queue proxy knows about this data, especially when the activator is bypassed when the serving pods have enough burst capacity (see https://docs.google.com/document/d/1ypS1Tyim-1zojrtFaG8i5AqXmmx

[2022-08-08 09:57] ggaaooppeenngg opened #13193 "Is headless service supported in knative?"
## Describe the feature

Every ksvc has a service and a private service which consume the clusterIPs. What if the knative supports to change the services to headless to save the number of clusterIPs from being consumed, especially in the cluster with a limited number of service CIDR.

[2022-08-08 14:43] Richardmbs12 commented on #12483
/remove-lifecycle stale

[2022-08-08 21:03] tsiq-jkusz commented on #13097
Thanks for the information @dprotaso. After looking at those additional settings you mentioned, it seems that I can just keep `mesh-compatibility-mode` set to `auto` (the default) and Knative will attempt pod scraping, but fall back to service scraping, which generates the logs I am seeing. Is that correct?

[2022-08-08 21:21] dprotaso commented on #13097
Yup

[2022-08-08 21:28] tsiq-jkusz commented on #13097
Great, thanks. You are welcome to close this issue.

[2022-08-09 19:54] JonKusz commented on #13097
@dprotaso Thanks for the confirmation. I decided to set `mesh-compatibility-mode` to `enabled` which removed the errors, except for some intermittent `Failed to scrape metrics` like the following.

[code]

I believe metrics are collected every second, and I see this a couple times per minute, which makes me think it might be benign. Thoughts?

[2022-08-10 07:14] ddelange commented on #13075
News from the k8s front: https://github.com/kubernetes/kubernetes/issues/107598#issuecomment-1210060884

[2022-08-10 09:08] salaboy commented on #13024
@spaghettifunk give me a couple of more days.. I've been playing with Argo during my weekends.. so I want to have more context before jumping on how this can work out

[2022-08-10 17:11] jwcesign commented on #13145
Here is the test I did for the time cost with group services. https://github.com/jwcesign/group-service-acceleration

[2022-08-11 08:56] daisy-ycguo commented on #13002
@nader-ziada how is it going? I think we could request a server at [CNCF cluster](https://github.com/cncf/cluster) and host the performance dashboard there.

And I think the dashboard could be a part of kperf project. Maybe we can create an issue at kperf and track the progress there.

[2022-08-11 13:38] wuyafang opened #13199 "Why we need reserve PORT env for user-container?"
## Ask your question here:

hi, everyone. I find when I create ksvc, I can't set env as PORT, for its is a reserved enviroment key for user-container. But I wonder why we need to reserve the  PROT env in user-container spec. And why user-container need to know the PORT of its own？Maybe USER_PORT in queue-proxy container is enough.

[2022-08-11 14:19] psschwei opened #13200 "Support user namespaces in Serving"
## Describe the feature

Kubernetes v1.25 will add support for [user namespaces](https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/127-user-namespaces) as an alpha feature. This will improve security through increased pod to node/pod isolation and should also help with the multi-tenancy work stream.

For now, I'm proposing doing some initial exploratory work around what it would

[2022-08-11 15:19] rhuss opened #13201 "Theoretical maximum number of Knative Services for a single cluster"
## Ask your question here:

According to [Kubernetes Scalability thresholds](https://github.com/kubernetes/community/blob/master/sig-scalability/configs-and-limits/thresholds.md) there is an upper limit for the number of Kubernetes Services that is based on the maximum number of iptable entries on a node. Currently, this limit is at 10000 services (if I understand correctly, this is independent of

[2022-08-11 15:41] #12634 closed

[2022-08-11 15:42] jwcesign commented on #13182
I edit configmap like follows, it works:
[code]

[2022-08-11 15:52] rhuss commented on #13201
For reference, I found this very interesting [blog post](https://arthurchiao.art/blog/cracking-k8s-node-proxy/) which points to this presentation on how to [Scaling Kubernetes to Support 50000]( https://docs.google.com/presentation/d/1BaIAywY2qqeHtyGZtlyAp89JIZs59MZLKcFLxKE6LyM/edit#slide=id.p3). It uses [IPVS[(https://en.wikipedia.org/wiki/IP_Virtual_Server). No idea whether IPVS is supported by

[2022-08-11 15:56] psschwei commented on #13201
I think it is (though I don't have any experience with it): https://kubernetes.io/docs/concepts/services-networking/service/#proxy-mode-ipvs

[2022-08-11 16:08] xtaje commented on #13182
That will only work for Kourier, and is even more complex than the documented way of setting the default. The request is to make the default value "svc.cluster.local" as the API definition to avoid confusion.

[2022-08-11 17:15] nader-ziada commented on #13002
There is a community cluster in the knative project that is meant to host the influxdb and dashboard, currently working on it here https://github.com/knative/serving/pull/13192

[2022-08-11 21:06] mattmoor commented on #13182
FWIW +1.  Having the default be `example.com` means that you can't easily make it `svc.cluster.local` unless/until the default-domain job is run.

These days I generally just use `svc.cluster.local` and expose things with `DomainMapping`.

[2022-08-12 01:14] jwcesign commented on #13182
What I think is, we should allow let user use `{svc}.{namespace}.{domain}` or other templates to call service in cluster.

[2022-08-12 10:00] SaschaSchwarze0 opened #13204 "Revision reconciler always updates the Kubernetes Deployment"
I was hunting down a performance issue that we are seeing when Knative is reconciling all revisions, for example due to the controller being restarted or due global syncs.

The problem happens in the [`checkAndUpdateDeployment`](https://github.com/knative/serving/blob/v0.33.0/pkg/reconciler/revision/cruds.go#L65). The code there uses `MakeDeployment` like in the create case to setup the deployment

[2022-08-12 23:12] marcjimz commented on #4407
Just want to comment that this ended up being our solution, as we had tested our system to over 2000 ksvcs. Fortunately our entire service mesh didn't require the full service discovery so we limited the egress via sidecar definitions. But it's probably not scalable to keep increasing the resources on the activator pod so we're hoping in the future we can reduce the number of routes kept in the si

[2022-08-13 10:57] codershangfeng commented on #2598
I met the similar revision missing issue when go through the tutorial from: https://knative.dev/docs/getting-started/first-service/

The local env/cli in my local machine list as below:
kind: v0.14.0
knative-serving: v0.33.0
kubernetes: v1.23.3 (node image: kindest/node:v1.23.3)

The root reason is not clear to me after some debugging info.

Then, I reinstalled the local k8s cluster with `kind del

[2022-08-13 17:42] andrescaroc opened #13208 "Activator closing the connection when scaling from zero (nodes)"
## Ask your question here:
Hello, I think the activator is closing the connection without waiting for the revision timeout setting
- curling my ksvc, show the connection was closed at 60 seconds:
[code]
- activator shows the "context canceled" message:
[code]

### Context:
- knative running in a EKS Cluster
- `test-autoscaler-ksvc` use a `nodeSelector` for a specific AutoScaling NodeGroup (ASG)
-

[2022-08-14 12:01] knative-prow-updater-robot opened #13209 "[flaky] test/conformance/api/v1.TestRouteCreation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestRouteCreation
* **Repository name**: serving

[2022-08-14 12:01] knative-prow-updater-robot opened #13210 "[flaky] test/conformance/api/v1.TestServiceWithTrafficSplit"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceWithTrafficSplit
* **Repository name**: serving

[2022-08-14 16:03] jwcesign opened #13211 "When revision can't be scaled up from zero, the requests are cached in activator forever."
## Ask your question here:
### Actual behavior
When the pods can't be scaled up because of some reasons(img pull failed), all the requests will be cached in activator forever.

### Expect behavior
Should return internal server error  for some time if the revision can't be scaled up.

[2022-08-15 03:48] jwcesign commented on #13211
Maybe copy the timeout logic from queue-proxy into activator?

[2022-08-15 05:09] nak3 commented on #13182
+1. If no objections, I think it is alright to change the default and no big impact because any current users are supposed to change the `example.com`.

One disadvantage I come up with is that we cannot quickly veirfy the ksvc after the installation by `curl -H "Host: hello.default.example.com" ${LB_IP}`. But I guess it is trivial.

[2022-08-15 07:34] jwcesign commented on #13211
related to https://github.com/knative/serving/issues/13208

[2022-08-15 10:53] jwcesign commented on #13126
Can I take this? @dprotaso

[2022-08-15 14:34] dprotaso commented on #13126
Sure - the change will need to be done upstream in ggcr

https://github.com/google/go-containerregistry/blob/7196cf3dc436a7633687b0c83ba76318f70e26f2/pkg/authn/kubernetes/keychain.go#L273

/assign @jwcesign

[2022-08-15 14:47] dprotaso commented on #13126
I created an upstream issue and asked for input from the maintainers - https://github.com/google/go-containerregistry/issues/1431

[2022-08-15 14:59] dprotaso commented on #13126
@Wouter0100  another workaround is to specify the registry secret with the repository

ie. `registry.com/foo` and `registry.com/bar` can you try that?

[2022-08-16 12:01] psschwei commented on #12480
/lifecycle frozen

[2022-08-16 15:02] psschwei commented on #13208
When does the "context canceled" message show in the logs relative to when the curl command is made? Is it at roughly the same time, or is it 60s after when the curl command returns its error (or some other time)?

Also, fwiw off the top of my head I'm not sure what level of support scaling from zero *nodes* currently has in Knative or if there's an assumption that here's always a node that the ap

[2022-08-16 16:40] andrescaroc commented on #13208
The "context canceled" message in the logs is shown 60s after the curl command was executed, thus matching exactly the time when the curl command returns the error.

I understand that knative is not aware of the cluster-autoscaler. But I would expect that the activator respect the `revision-timeout-seconds: "300"` that is set in the `config-defaults`

[2022-08-16 16:45] psschwei commented on #13182
+1 from me. Based on a quick look, should just require an update to the [`DefaultDomain`](https://github.com/knative/serving/blob/45f7c054f69448695d4e9bc11f5a451b3c9f1eff/pkg/reconciler/route/config/domain.go#L36) and some tests that were expecting "example.com".

/triage accepted

[2022-08-16 17:03] psschwei commented on #13193
see also broader discussion around services in #13201

[2022-08-16 20:47] psschwei commented on #13204
For reference, here's the output of one of those logs after a reconcile

[code]

Not sure the best way to do so, but this seems like something we should fix if possible.

/triage accepted

[2022-08-16 21:39] psschwei commented on #13208
What I suspect may be happening is that if there is no available node when the request is made, then the activator shows no capacity and closes the context. (that's my initial hunch based on the info here). Which is why I made my initial comment about zero nodes -- if dropping to zero nodes isn't supported, then it may result in unexpected behavior of the kind you're seeing here.

Again, this is j

[2022-08-17 03:17] jwcesign commented on #13126
I think only change the logic in knative serving is better. Because if change `go-containerregistry`, the API return results will be changed:
[code]

[2022-08-17 03:56] ggaaooppeenngg commented on #13201
In some environments, the clusters are initialized with limit service CIDR besides the limit of iptables. The number of services is even smaller than 10000. If we support headless service, we can get rid of this kinds of limitations.

[2022-08-17 12:01] #13209 closed

[2022-08-17 12:01] #13210 closed

[2022-08-17 14:50] dprotaso commented on #13126
My only concern with that solution is that it'll enumerate over extra keychains excessively - and we've seen some keychains in the past be really slow (ie. 2s).

ie. https://github.com/google/go-containerregistry/blob/7196cf3dc436a7633687b0c83ba76318f70e26f2/pkg/authn/k8schain/k8schain.go#L98-L104

[code]

I think the workaround I mentioned above is fine while we figure out a way to solve this ups

[2022-08-18 08:00] RamyChaabane opened #13228 "User should be able to drop a path in the ingress level"
## Describe the feature
Hello there,

Today, to drop a path, you need to implement a route that returns `404 http code status` when invoking your Knative service on that path. If you have configured scale to zero feature, this behaviour is not optimal as your pod will scale and you will be waiting for a few seconds (cold start time + time till your pod is in runnig state) for your path to be dropp

[2022-08-18 19:17] dprotaso commented on #13099
@infonaresh do you have any more info?

[2022-08-18 19:24] gawsoftpl opened #13230 "During create new revision of model Return http code 0"
/kind bug

When I create new revision for model I received a lots http code 0 for high load (200 requests per second)

[code]
After install new revisions only 50% of pods received traffic for inference. Rest 50% has 0 traffic.

I dont know that this is a error for knative or istio?

When I delete all models, wait for delete all pods, create models from beginning. Everything works great.

**Model a

[2022-08-18 19:31] gawsoftpl commented on #13230
Resolved. When I create new revision I update only model 1 yaml.
When I update Transformer and Model 1 yaml everything works fine.

simple I add same label to both models
[code]

[2022-08-18 21:22] unzld commented on #12778
@skonto  @dprotaso  Has this been solved in later versions of Knative Serving?

[2022-08-19 12:02] knative-prow-updater-robot opened #13231 "[flaky] test/e2e.TestSvcToSvcViaActivator/both-enabled"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSvcToSvcViaActivator/both-enabled
* **Repository name**: serving

[2022-08-19 20:48] nader-ziada commented on #13230
do you see any error in the kserve logs?

[2022-08-20 00:02] #12571 closed

[2022-08-22 12:57] gawsoftpl commented on #13230
Error resolved. Error was because during high load I run new revision and change 100% traffic to new revision immediately. During this process server reach bottleneck. When I change deployment to Canary with 10% step everything works fine.

[2022-08-22 13:35] nader-ziada commented on #13230
thanks for the update, will close the issue for now and please feel free to reopen if you see the issue again

/close

[2022-08-22 14:43] daraghlowe commented on #12917
@kyue1005 where did you configure the fully qualified domain for the local gateway address? We're seeing a similar issue although we don't have sidecars in our environment.

[2022-08-23 16:30] daraghlowe opened #13247 "Scale issues over 1k ksvc with an external default domain"
## What version of Knative?

## Expected Behavior

We can use an external domain name as the default domain for our ksvc and it doesn't cause a deterioration in the amount of time it takes for the Ingress to become ready once we get to 1200 ksvc.

## Actual Behavior

We have a gke cluster with 1200 ksvc, and now when we create a new revision of any of the KSVC, we have to wait around 3 minutes (it

[2022-08-24 03:44] #12414 closed

[2022-08-24 04:11] mbrancato opened #13248 "High number of probe failures"
## In what area(s)?
/area networking

## What version of Knative?

## Expected Behavior

I'm not sure on the intent of this code, outside it seems to be probing pods to see if they are ready, but if a pod health probe returns a 503, there is no warning that should be logged here.

## Actual Behavior

It seems that in high-turnover scenarios, maybe a large number of pods are starting up, it seems t

[2022-08-24 07:27] tshak commented on #12980
We just ran into what is probably the same issue on Serving `1.3.2` and Operator `1.5.3` hosted in Azure (AKS). We had to perform a [cluster certificate rotation](https://docs.microsoft.com/en-us/azure/aks/certificate-rotation#manually-rotate-your-cluster-certificates). Afterwards all of the Knative Serving pods were in a `CrashLoopBackoff` due to invalid  certificates. We tried deleting all `-cer

[2022-08-24 07:32] nak3 commented on #13182
I guess we need the following steps to proceed this change.

1. Send a temporary PR to change the default domain.
   - Just to see how much work we need to do for this. As Paul mentioned, I think we need some tweak.
2. Send an announcement for serveless-dev@ and knative-users@ ML if there is any objections or concerns.
3. Merge the PR step-1 and change the default.

Please feel free to leave a com

[2022-08-25 03:46] nak3 commented on #13228
Thank you, Ramy!
I think we have some points to be discussed. For example, I am thinking something likes these:

For use-case:
- Is there anyone else who wants/wanted to have this feature? It is not possible to manage this somehow - like extra front-end proxy or something?
- It will be optimal but it just returns `404` error code. We should consider more practical design?
  - i.e - From the web br

[2022-08-25 14:20] nader-ziada commented on #13208
There is no activator timeout currently, I'm planning to work in that now that the Revision timeouts had some [changes in the latest release](https://github.com/knative/serving/pull/12970)

[2022-08-25 14:37] andrescaroc commented on #13208
@nader-ziada Thank you so much, that will help with my use-case!

[2022-08-27 13:50] a7i opened #13258 "GC Sync timed out"
## In what area(s)?
/area API

## What version of Knative?

## Expected Behavior
no issues with GC on serving CRs

## Actual Behavior
error logs from controller manager: unable to sync caches for garbage collector

## Steps to Reproduce the Problem
kube-controller-manager
[code]

[2022-08-27 13:51] a7i commented on #13258
/area API

[2022-08-27 14:36] jwcesign commented on #13199
cc @nader-ziada

[2022-08-27 14:37] jwcesign commented on #13211
cc @nader-ziada

[2022-08-27 18:45] nader-ziada commented on #13211
Working on a PR to add timeout to activator

[2022-08-28 12:01] #13231 closed

[2022-08-29 08:39] simonkrenger commented on #11997
/remove-lifecycle stale
/reopen

[2022-08-29 10:21] kyue1005 commented on #12917
@daraghlowe I update the config-istio as below
[code]

[2022-08-29 13:29] psschwei commented on #13208
@andrescaroc ok if we close this and track in #12728 ?

[2022-08-29 13:30] psschwei commented on #13211
@jwcesign the issue for adding the activator timeout is #12728 , ok if we close this one and track it there?

[2022-08-29 13:48] andrescaroc commented on #13208
@psschwei I suppose is ok, I hope the solution for that use case will also work for my use case. I'll let @nader-ziada decide if it is better to track both use-cases in that issue.

[2022-08-29 15:04] nader-ziada commented on #13199
I the env var name `PORT` is reserved by knative for the user container and there is validation to enforce that because the queue-proxy will be communicating with the user container using that port, you can however set the port on the queue-proxy if you want to

can you explain what issue you are having? can you possibly use a different env var name in your user application container? t

[2022-08-29 20:36] psschwei commented on #13182
#13259

[2022-08-30 12:02] knative-prow-updater-robot opened #13260 "[flaky] kubetest2.Up"
### Auto-generated issue tracking flakiness of test
* **Test name**: kubetest2.Up
* **Repository name**: serving

[2022-08-30 12:41] psschwei commented on #13260
Flakes were due to boskos issues that have since been resolved (will keep an eye out this week just to be safe)

[2022-08-30 12:46] psschwei commented on #13182
I'll tackle this next week if no one else picks it up before then

[2022-08-30 20:39] psschwei commented on #13247
related #13201

Out of curiosity, did you test this with a non-Istio networking layer? (no worries if not, I'll try with kourier later)

[2022-08-30 21:21] psschwei commented on #13248
You mentioned GKE, so assuming you're using Cloud Logging, would an [exclusion filter](https://cloud.google.com/logging/docs/routing/overview#exclusions) do what you're looking for? (I'm not super familiar with the product, so not sure what does/doesn't incur costs)

[2022-08-30 23:55] a7i opened #13262 "v1.Route request to convert CR from an invalid group/version: serving.knative.dev/v1alpha1"
## What version of Knative?
1.7.0

[code]

## Expected Behavior
To use the proper API version for Route

## Actual Behavior

[code]

## Steps to Reproduce the Problem

Installed knative-serving 1.7.0 (no upgrades -- clean install)
Tail the logs on knative-serving controller

[2022-08-30 23:59] a7i commented on #13262
[code]

[2022-08-31 01:31] #13211 closed

[2022-08-31 02:05] a7i commented on #13258
I can confirm that deleting Routes CRD requires removing the finalizers. Which after that, it gets removed and the GC error messages go away.

[2022-08-31 12:34] a7i commented on #13258
Turns out I had a ghost CR (v1alpha1) and the CRD was not serving v1alpha1 requests. I manually modified the Routes CR to allow requests over v1alpha and then delete it

[code]

[2022-08-31 12:34] #13258 closed

[2022-08-31 12:35] a7i commented on #13262
Turns out I had a ghost CR (v1alpha1) and the CRD was not serving v1alpha1 requests. I manually modified the Routes CR to allow requests over v1alpha and then delete it
[code]

[2022-08-31 12:35] #13262 closed

[2022-08-31 18:23] #12728 closed

[2022-08-31 18:27] nader-ziada commented on #13208
Activator now has timeout handler https://github.com/knative/serving/pull/13261

will close this issue as well

@andrescaroc please take a look and feel free to reopen

/close

[2022-08-31 18:27] #13208 closed

[2022-08-31 20:43] psschwei commented on #12940
/lifecycle frozen

[2022-09-01 01:12] wuyafang commented on #13199
` because the queue-proxy will be communicating with the user container using that port,`

Perhaps queue-proxy container will use USER_PORT  env， which is its own env var， instead of the PORT env in user-container？  I haven't figured out the role of env vars such as PORT in user-container. If it doesn't work, is it better not to keep it?

[2022-09-01 01:31] #12455 closed

[2022-09-01 14:37] pastjean opened #13270 "Allow KnativeService update to stay to same scale, eg: Initial-scale=previous"
/area autoscale

## Describe the feature
It would be nice to be able to update service without changing their current scale

Situation:

So we have a bunch of knative services ( > 1800 ). With all of them having scale to zero enabled. They all do have different different docker image but they do share code. It's common to update that shared code sometimes and update all those knative service.

- `

[2022-09-02 01:38] psschwei commented on #12989
Added to docs in https://github.com/knative/docs/issues/4997

[2022-09-02 01:38] #12989 closed

[2022-09-02 03:14] wyljpn opened #13271 "Allow user to change global metrics of autoscaling in ConfigMap: config-autoscaler"
## Describe the feature
Allow users to change global metrics of autoscaling in ConfigMap: config-autoscaler.

It seems that the global metric of autoscaling is **concurrency**, because global configurations about concurrency in ConfigMap: config-autoscaler work, e.g., container-concurrency-target-default and container-concurrency-target-percentage.
[code]

And the configuration about **rps**, requ

[2022-09-02 03:16] wyljpn commented on #13271
@psschwei

[2022-09-04 01:31] #12898 closed

[2022-09-04 13:41] jwcesign commented on #13126
related PR: https://github.com/google/go-containerregistry/pull/1446

[2022-09-05 12:01] knative-prow-updater-robot opened #13274 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/ProbeTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/ProbeTest
* **Repository name**: serving

[2022-09-05 12:01] knative-prow-updater-robot opened #13275 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest
* **Repository name**: serving

[2022-09-05 12:01] knative-prow-updater-robot opened #13276 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingTest
* **Repository name**: serving

[2022-09-05 13:07] daraghlowe commented on #13247
We did so some testing with Kourier and didn't see the same slowness while adding a new ksvc when we had more than 1k ksvc on the cluster, it took around 6 seconds to become ready. We did see that when we removed a ksvc from the cluster that the kourier controller would start to reconcile all of the ksvc and if you tried to add a new ksvc at that point, it would take a long time (around 10 minutes

[2022-09-06 02:20] wuyafang commented on #13199
cc @nader-ziada

[2022-09-06 12:32] #13260 closed

[2022-09-06 14:51] nader-ziada commented on #13199
@wuyafang I apologize, but I don't understand the issue very well, can you explain the scenario you are trying to accomplish and having trouble with?

[2022-09-06 19:34] gm2552 opened #13284 "Settings for a "conservative" panic mode with slow starting workloads."
/area autoscale

## Describe the feature

I have a reference application made up of multiple workloads/components where one workload sends out a batch events (possibly 1000s) periodically over a RabbitMQ exchange with a RabbitMQ Source listening on the other side. The RabbitMQ source subsequently routes the events to a “processor” workload.

The “processor” workload is a Java application and is co

[2022-09-06 19:41] nader-ziada commented on #13284
Investigating this issue

[2022-09-06 19:41] evankanderson commented on #13284
We should be able to reproduce this with just Serving:

1. A client which sends e.g. 200 requests to an app at once.
2. A go server which does a `sleep(delayFlag * time.Seconds)` before starting the HTTP server.

[2022-09-06 19:45] evankanderson commented on #13284
A few thoughts:

1. If we're currently scaled to zero, we don't know how long it takes to actually respond to an in-flight request. I don't know if we can start in this case with some sort of assumed time like 0.1s or 1s to respond to help escape panic mode.
2. In the scale-from-zero case, there's _no_ throughput until at least one pod is live, and we might not have an estimate on the time-from-ze

[2022-09-07 01:53] alanmoleapfive opened #13285 "Error: timeout: service 'hello' not ready after 600 seconds"
kn service create hello \

Creating service 'hello' in namespace 'default':

Error: timeout: service 'hello' not ready after 600 seconds
Run 'kn --help' for usage

kn version
Version:      v20220823-local-6d86bf75
Build Date:   2022-08-23 20:27:36
Git Revision: 6d86bf75
Supported APIs:
* Serving
  - serving.knative.dev/v1 (knative-serving v0.34.0)
* Eventing
  - sources.knative.dev/v1 (knative-eve

[2022-09-07 09:10] JCzz commented on #12870
Same here version 1.7, did you ever solve this  issue?

[2022-09-07 12:44] psschwei commented on #13285
From the ` kubectl get pod -A` output, it doesn't look like the Knative components are running on your cluster. How did you set up your cluster?

[2022-09-07 14:08] JonKusz commented on #13097
@dprotaso Just following up on this. Let me know if this might be a bug or I'm missing something.

[2022-09-07 15:37] girlpunk commented on #12870
Unfortunately not, which is a pity as knative looks like a good fit for my use case but fairly useless if it doesn't work.

[2022-09-07 17:37] psschwei commented on #12870
Assuming you followed all the steps [here](https://knative.dev/docs/serving/using-auto-tls/), right? And the cert-manager on your cluster is v1.0+?

[2022-09-07 18:09] evankanderson commented on #12691
/reopen

[2022-09-07 18:09] evankanderson commented on #12691
/remove-lifecycle stale

[2022-09-07 20:00] psschwei commented on #13182
Emailed announcement to [knative-dev](https://groups.google.com/g/knative-dev/c/umtha9Vdw0g) / [knative-users](https://groups.google.com/g/knative-users/c/icYo8oKryUE)

[2022-09-07 20:48] psschwei commented on #13145
Per today's WG discussion, next step is to reach out to the Flows WG / task force and see if there is any possible overlap with them.

FYI @rhuss @lionelvillard

[2022-09-07 22:48] lionelvillard commented on #13145
there is no more flows task force due to the lack of participation.

[2022-09-08 14:48] nader-ziada commented on #13284
I'm think something similar to `scale-down-delay` but for scaling up, so a user that has a slow service like this can set this `scale-up-delay` config to allow for some start up time before any scaling decisions are made, what do you all think?

adding @psschwei for feedback as well

[2022-09-08 16:33] psschwei commented on #13284
Thinking out loud, but would adding an initial delay on the readiness probe help here?

[2022-09-08 19:30] nader-ziada commented on #13284
I think this can help with the scaling up, but would give more errors when the readiness is not ready

[2022-09-09 01:30] #12840 closed

[2022-09-09 12:00] #13274 closed

[2022-09-09 12:00] #13275 closed

[2022-09-09 12:01] #13276 closed

[2022-09-09 21:03] WilliamDenniss commented on #12440
These warnings shouldn't affect operation for Knative, it's just Autopilot adjusting the resources to meet its requirements. Ideally resource requests would be set on all containers, but these defaults should still work.

When I tested this previously, the issue to me appeared to be the fact that Knative did not wait long at all for a pod to move from the Pending to ContainerCreating state. In any

[2022-09-09 21:50] girlpunk commented on #12870
I can confirm I have:
- knative-operator 1.7.0
- knative-serving 1.7.1
- kourier 1.7.0
- cert-manager 1.9.1
- knative configured with a custom domain, which has a wildcard A record set to knative's ingress IP
- cert-manager configured for HTTP-01 validations, and confirmed working with the haproxy ingress

I believe I may have located the source of the problem. Despite having configured the Cluste

[2022-09-09 21:57] psschwei commented on #13284
Played around with this a bit this afternoon using Serving v1.7.1 on minikube and https://github.com/psschwei/delayed (which is what @evankanderson recommended for reproducing), [`hey`](https://github.com/rakyll/hey) for load testing, i.e. `hey -n 1000 -c 100 -t 0 $(kn service describe delayed -ourl)`, scaling from zero each time:

| parameters | number of pods |
| --- | --- |
| -n 1000 -c 100 | 2

[2022-09-09 22:01] girlpunk commented on #12870
Looks like this is being caused by a permissions issue, is there a way to check the operator logs to see why policies aren't getting set up correctly?

[code]

[2022-09-09 22:24] evankanderson commented on #13284
You can use `maxScale` to avoid overshoot, but my $0.02 is that shouldn't be necessary.

(We should also improve event-sending components to try to do congestion control, but that's not necessarily feasible for e.g. container or cron sources)

[2022-09-10 12:07] girlpunk commented on #12870
Ok so found another issue that suggests the permissions need to be set up manually. Did that by setting up a custom role binding

[code]

Having done that, stuff is definitely getting further but certificates still aren't being correctly generated. I managed to find some log entries from the kourier controller that the solver services are missing, but no logs from anything else on trying/failing t

[2022-09-11 09:17] nak3 commented on #12870
How did you install net-certmanager? (Please note that cert-manager is different from Knative's net-certmanager).
operator does not have an option to install net-certmanager so you need to install it manually like the following command or `spec.additionalManifests` as described in https://github.com/knative/operator/issues/950.

[code]

[2022-09-11 12:38] girlpunk commented on #12870
From a kustomization.yaml file:
[code]

I can see that both the `net-certmanager-controller` and `net-certmanager-webhook` deployments exist and are running 1 pod each.

[2022-09-12 02:54] nak3 commented on #12870
Thank you. Hmm.... I tested the autoTLS if I can reproduce it or not but it works without any issue like permission. I am sharing the steps below I did, so could you double-check if there is any steps you missed? I think you are doing correct, though.

#### 1.Deploy operator

[code]

#### 2.Deploy knative serving

[code]

#### 3.Deploy net-certmanager

[code]

#### 4.Deploy cert-manager

[code]

N

[2022-09-12 03:05] nak3 commented on #12870
For the issue `config-certmanager` you mentioned above, the `config-certmanager`(including in `net-certmanager`) is not deployed by operator so you need to configure it directory rather than KnativeServing CR.

[2022-09-12 12:14] rhuss opened #13298 "Support for "restricted" pod security policy"
## Describe the feature

With Kubernetes 1.25 [Pod Security Admission](https://kubernetes.io/docs/concepts/security/pod-security-admission/) becomes a standard to enforce a particular [Pod Security Standard](https://kubernetes.io/docs/concepts/security/pod-security-standards/). For supporting the policy `restricted`, specific fields need to be provided in a Pod `.spec` (like dropping capabilities)

[2022-09-12 12:48] psschwei commented on #13028
/remove-lifecycle stale

[2022-09-12 14:54] evankanderson commented on #13298
I see a lot of violations for `kube-rbac-proxy`, which is not in our manifests, IIRC?

With that said, Kubernetes has annoying defaults, which means we need to explicitly fill in the following to be more secure than the default:

* `securityContext.capabilities.drop`
* `securityContext.seccompProfile` needs to be `RuntimeDefault` (not the default?!) or `Localhost`
* `securityContext.runAsNonRoot`

[2022-09-12 14:54] evankanderson commented on #13298
Also, that last default is finally beta in 1.25

[2022-09-12 15:12] rhuss commented on #13298
yeah, sorry. I picked the log files from our midstream CI, but I think the point is clear, and you already identified the three fields we probably all have to add manually to every Pod we are creating directly or indirectly.

[2022-09-12 15:18] evankanderson commented on #13298
We've done `runAsNonRoot` to most of our containers already, but not the other two, which I think were introduced more recently.

`seccompProfile` is the one that really kills me, but /shrug.

[2022-09-12 17:53] alexagriffith opened #13299 "Queue-proxy scrape prometheus metrics from containers in pod"
## Describe the feature

There is an issue with configuring multiple prometheus ports from a single pod. Currently, prometheus does not support this use case, and we would like to make a workaround so that we can scrape metrics from queue-proxy + another container in a single pod.

Background:
We are using knative with kserve. So right now, we have two containers in one pod - `queue-proxy` and the

[2022-09-12 20:11] girlpunk commented on #12870
Having manually deployed the `config-certmanager`, HTTP-01 verification still has the same issue though I can now get certificates using DNS-01 verification.

I'm also facing another problem getting this to work on a user-friendly domain instead of the `service.namespace.mydomain.tld` one. Specifically, the DomainMapping remains unready with a " Waiting for load balancer to be ready" message. Tryi

[2022-09-12 20:49] nader-ziada commented on #12691
/assign

[2022-09-13 14:22] dprotaso commented on #12691
FYI: https://github.com/kubernetes/kubernetes/issues/106697

[2022-09-14 02:48] jwcesign commented on #13299
What's the goal to scarp the metrcis from `kserve-container`?

[2022-09-14 07:57] DevSusu opened #13304 "Prometheus metrics not exported by default"
/area monitoring

## What version of Knative?

`1.7.1` (installed with https://github.com/knative/serving/releases/download/knative-v1.7.1/serving-core.yaml)

## Expected Behavior

* install knative-serving
* port-fowarded one of them to debug on prometheus metrics
* pods report metrics described in https://knative.dev/docs/serving/observability/metrics/serving-metrics/

## Actual Behavior

[code]

[2022-09-14 08:11] DevSusu commented on #13304
related issue: https://github.com/knative/eventing/issues/6509

[2022-09-14 08:21] DevSusu commented on #13304
resolved by editing configmap

[code]

[2022-09-14 08:27] DevSusu commented on #13304
I think we need to add below block to **setting up prometheus** part.

https://knative.dev/docs/serving/observability/metrics/collecting-metrics/#setting-up-prometheus

[code]

[2022-09-14 13:09] dprotaso commented on #12024
/reopen
/lifecycle frozen

[2022-09-14 13:27] psschwei opened #13308 "Kubernetes v1.25 deprecation tracking"
Opening this as an umbrella to track the various deprecations in k8s v1.25: https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-25

* ~CronJob~
* ~EndpointSlice~
* ~Event~
* HorizontalPodAutoscaler: https://github.com/knative/serving/issues/12806
* ~PodDisruptionBudget~
* PodSecurityPolicy: https://github.com/knative/serving/pull/13327
* ~RuntimeClass~

Note that not all of these

[2022-09-14 19:00] alexagriffith commented on #13299
We need to get latency metrics for each method in the `kserve-container`. This is really important for understanding where the bottleneck is, if there is one. For example - if a request in the `kserve-container` hits the pre_process, predict, and then post_process methods and the latency is super high, we currently have no visibility into which step is the bottleneck. Adding histogram metrics, for

[2022-09-14 19:54] #12538 closed

[2022-09-15 02:33] pablocael commented on #12830
Hey anyone addressed this? I also need to enable hostIPC for kserve usage with vgpu.

[2022-09-15 14:23] psschwei commented on #12830
Couple things to note here: with the move to Pod Security Standards in Kubernetes v1.25+, sharing host namespaces would be disallowed under non-"privileged" policies. It could also run into issues if we were to enable user namespaces in the future.

That said, it's probably worth discussing whether this is something to consider enabling (behind a feature gate). cc @dprotaso and @evankanderson for

[2022-09-15 14:41] evankanderson commented on #12830
/remove-lifecycle stale

This might be a reasonable Knative extension; it probably doesn't belong in the spec, as it may not be portable across all spec implementations.

If you want to add this, I'd put the validation relaxation behind an existing or new feature flag, particularly since it sounds like the implementation may still be in flux.

[2022-09-16 01:33] #12935 closed

[2022-09-16 11:10] sujitknandan commented on #12734
/reopen

[2022-09-16 15:31] nader-ziada commented on #10852
done as part of https://github.com/knative/serving/pull/12970

/close

[2022-09-16 15:31] #10852 closed

[2022-09-17 02:01] pablocael commented on #12830
Thanks for reopening this. I need this to be able to use vgpus in kserve, as it uses knative. Thanks again.

[2022-09-18 01:33] #12939 closed

[2022-09-18 01:33] #12924 closed

[2022-09-18 04:33] kahirokunn commented on #13182
This is confusing because the route is added to the external gateway even when using `svc.cluster.local`.

If you do this, it may be a good idea to modify the set to add the route to the internal gateway in the case of `svc.cluster.local`.

For example, if `networking.knative.dev/visibility=cluster-local` is not described, the route is added to the external gateway, but if it is described, the rou

[2022-09-18 10:31] rahul3002 commented on #12718
/reopen

[2022-09-18 10:32] rahul3002 commented on #12718
/remove-lifecycle stale.

[2022-09-19 01:48] jwcesign commented on #13299
I think this is not a common use case.

[2022-09-19 16:00] nader-ziada commented on #13002
http://34.170.87.98:443/d/HFw0qn74k/serving-performance-testing?from=1663269760987.5151&to=1663323727899.558&orgId=1

[2022-09-19 19:25] psschwei commented on #13002
asks for a username/password

[2022-09-19 19:40] nader-ziada commented on #13002
knative/knative

not sure how to make it public

[2022-09-19 20:33] nader-ziada commented on #12691
my observation is similar to Paul's comment above, the revision get set to `Ready False` right away and the pod waits for the 10 mins ProgressDeadline default to get cleaned up

and I wonder if this recent PR [Fix LatestReadyRevision semantics - it only advances forward](https://github.com/knative/serving/pull/13239) has fixed this edge case of how the configuration doesn't fail if the latest revi

[2022-09-19 22:13] alexagriffith commented on #13299
also, here is a thread in the knative slack channel that may be helpful relating to this issue. https://knative.slack.com/archives/C93E33SN8/p1662483290964459

[2022-09-20 09:57] jjayabal23 commented on #11069
Does knative have any plans to support csi drivers in the future?

[2022-09-20 11:19] sujitknandan opened #13316 "Load Balancing among service endpoints"
Knative Serving version v1.7

We are finding Request are not getting distributed to all available pods behind the service. This is happening both when activator is present/absent in the data path.

I need to know how the different actors is working in both mode when
Knative Service Setting (activator on only during start from zero)

metadata:
      annotations:
        autoscaling.knative.dev/targ

[2022-09-20 17:21] elukey commented on #12917
@kyue1005 Hi! Does the change above need a full restart of the istio-proxy on the target pods? (so like delete/respawn of the pod or similar)

[2022-09-21 10:45] MaharaJothi opened #13325 "Knative Serving service shows IngressNotConfigured and unable to access the application via Kong Ingress"
## Ask your question here:

I've set up Knative Serving in EKS cluster with Kong configured for Ingress gateway.
Below are the cluster details:
Kubernetes Version: 1.23
Knative Version: 1.7.1
Kong Version: 2.6.9

### Issue:
Followed [this](https://knative.dev/docs/install/yaml-install/serving/install-serving-with-yaml/#verify-the-installation) to set up Knative in EKS cluster and [this](https://kn

[2022-09-21 19:27] AngeloDanducci commented on #13123
/assign @AngeloDanducci

[2022-09-22 01:56] kahirokunn commented on #12387
I tried grpc-ping-go with knative serving 1.7.1.
https://github.com/knative/docs/tree/main/code-samples/serving/grpc-ping-go

I hit the exact same problem.
https://github.com/knative/serving/issues/12387#issuecomment-1140036536

[code]

[2022-09-22 06:28] nak3 commented on #13325
Hi @MaharaJothi Thank you for reporting this. But could you please open the issue against [kubernetes-ingress-controller](https://github.com/Kong/kubernetes-ingress-controller) instead of here?
Actually there is one similar issue has been reported https://github.com/Kong/kubernetes-ingress-controller/issues/2543

[2022-09-22 09:44] nak3 commented on #13325
I know only this one https://github.com/knative/serving/blob/main/docs/scaling/SYSTEM.md
If you are looking for another docs I think it might be better to ask in Knative Slack channel or https://github.com/knative/docs

[2022-09-22 10:05] skonto commented on #13308
Working on PodSecurityPolicy.

[2022-09-22 19:33] ddelange commented on #13075
Hi! 👋 Is there a way to get some additional eyes on the proposal? I'd love to learn about other ideas as well!

[2022-09-23 01:32] #12799 closed

[2022-09-23 05:17] MaharaJothi commented on #13325
According to [here](https://knative.dev/docs/serving/services/ingress-class/#using-the-ingress-class-annotation) , for using custom ingress class names, we need to use `networking.knative.dev/ingress-class=<ingress-type>` as annotation in Service yaml.

However, the `ingresses.networking.internal.knative.dev` definition has `networking.knative.dev/ingress.class: admin-kong` always.

Why is this di

[2022-09-23 07:46] ddelange commented on #12296
indeed, from `istio.yaml`, you first need to apply everything with `knative.dev/crd-install: "true"`, and then the rest...

[2022-09-23 09:07] matzew commented on #13308
@psschwei Is this somewhere tracked for `knative/pkg` as well?

[2022-09-23 12:44] psschwei commented on #13308
Good catch -- just created https://github.com/knative/pkg/issues/2598

[2022-09-23 14:33] jwcesign commented on #13145
Based on the meeting conclusion, I rewrite a new proposal to following these:
* Define knative service dependency with a higher abstraction layer.
* The implementation should be out of knative.
* The implementation should be compatible with eventing workflow.

Here is the new feature proposal: https://docs.google.com/document/d/1CmVsbQv6oWtJj3oo-gku0g3fiZRHd_ngumPxne8ESpY/edit?usp=sharing

cc @nad

[2022-09-23 18:04] ricardozanini commented on #13145
At least on Kogito side, we can map the possible "Group Services" based on the workflow definition functions. This way we can warm up the target services.

It would be nice to have an API on Knative side to map these relationships so that maybe the platform could warm up ahead.

[2022-09-23 20:57] psschwei opened #13331 "Queing requests with 2 ready pods and containerConcurrency=1, number of activators = 2"
## What version of Knative?

1.6.0

## Expected Behavior

On a service with `target-burst-capacity: -1` (activator always in path), and `containerConcurrency: 1`, I would expect that if I have a ready pod and a new request comes in, said ready pod would handle that request. In particular, if pod A is already handling a request (call it `r1`) and pod B is idle, I would expect an incoming request `r

[2022-09-23 20:57] psschwei commented on #13331
cc @norman465

[2022-09-24 01:45] jwcesign commented on #13145
If install the abstraction layer crd `ApplicationGraph`, there is related API to map these relationship.

[2022-09-24 02:17] krishadvani opened #13332 "Modify constant drain sleep duration of queue-proxy, to avoid request failures."
## In what area(s)?
/area networking

## Ask your question here:

According to https://github.com/knative/serving/blob/main/pkg/queue/sharedmain/main.go, the drainage timeout is 30 seconds for the sidecar, which seems to be a constant:

`drainSleepDuration = 30 * time.Second`

The problem is if the inflight request is persisted for more than 30 seconds, and the pod proceeds to terminate, it sends

[2022-09-25 12:01] #12995 closed

[2022-09-25 15:19] FTWH opened #13333 "404 Response by 'hey' but success with 'curl'"
## Ask your question here:
I follow with official tutorial to build my service helloworld-python on my kubernetes cluster.
I success to get my response with curl like:
[code]
and the response is:
[code]
But when I use a light weight workload generator tool named hey with:
[https://github.com/rakyll/hey](url)
[code]
the result is:
[code]

404 code shows it is not working correctly.

Could you pleas

[2022-09-26 08:08] jwcesign commented on #13333
U need to set Host by `hey -host "helloworld-python.default.example.com" xxxx`

[2022-09-26 08:46] #13333 closed

[2022-09-26 08:46] FTWH commented on #13333
Thank you!

[2022-09-26 12:50] ricardozanini commented on #13145
Well, from the perspective of a workflow engine running on top of Knative, I'd say that we can create the `ApplicationGraph` based on a workflow definition, yes.

These workflow engines can consume a well-defined API for `ApplicationGraph` and implement this use case.

[2022-09-26 14:24] nader-ziada commented on #13332
currently I don't think you can change the `drainSleepDuration`. It used to be 45s but got changed in this PR https://github.com/knative/serving/pull/11249 a while back, so I'm assuming there was a reason to put make it 30s, but maybe we can make it configurable and set a default of 30s

[2022-09-26 14:34] nader-ziada commented on #13331
for `containerConcurrency <= 3` the activator will use the `firstAvailable` policy for load balancing requests, so if the activator thinks podA still has capacity, it will send the new request to it?

Are you thinking we need to change the lb policy behaviour?

[2022-09-26 14:44] psschwei commented on #13332
Would [`revision-timeout-seconds`](https://knative.dev/docs/serving/configuration/config-defaults/#revision-timeout-seconds) help here? Draining takes place after the pod has received a TERM signal, so at that point you're kind of already assuming that the request is done...

Depending on how long-running the request is, the [async component](https://github.com/knative-sandbox/async-component) mig

[2022-09-26 16:36] psschwei commented on #13331
Think it may be more that we've found a corner case here... activator thinks podA has capacity, but podA is still handling a long-running request so actually it doesn't.

[2022-09-26 17:46] psschwei commented on #13075
Might be worth opening a thread on Slack in the [`#serving-api`](https://knative.slack.com/archives/CA4DNJ9A4) channel with a link to this issue.

[2022-09-26 17:46] nader-ziada commented on #13316
when the activator is in the path, here are the rules:
[code]

and when the activator is not in the path, it will depend on kube-proxy and if there is something else in networking layer used,

[2022-09-26 17:53] psschwei commented on #13182
Is this an issue in all cases when using `svc.cluster.local` or is it just due to setting it as the default domain? Assuming it's the latter, I don't think that's blocking here. cc @nak3

[2022-09-26 18:07] nader-ziada commented on #13075
conceptually I think its fine to use `PodDeletionCost `, but its clear to me from the proposal here when/how this annotation will be updated. Is it based on the requests a pod is handling? what is the cycle of updating?

[2022-09-26 18:17] sujitknandan commented on #13316
@nader-ziada how activator understands which pod is available according to firstAvailableLBPolicy. Does it watches the queue-proxy containers reported request queue length?

[2022-09-26 19:22] ddelange commented on #13075
great questions, definitely food for thought!

does KPA know rps per pod?

if yes, flow could look like:

- KPA has determined 3 pods will go down
- KPA sets a negative PodDeletionCost on the 3 pods with lowest rps
- KPA initiates scale-down, those 3 pods are killed

that way there would be minimal annotation writes, and there's no need for cleanup of 'stale annotations'

[2022-09-27 04:52] QuickWorkDeveloper commented on #13332
However, other components in the cluster, such as cluster autoscaler can terminate a machine without considering that there is an inflight request, which sends the SIGTERM to the pod, where this problem can occur. I don't think revision timeout would help here; however, we checked that this is placed at its default 300 seconds(5 minutes), so I don't believe any changes here would help.

Further, w

[2022-09-27 04:55] krishadvani commented on #13332
Other components in the cluster, such as cluster autoscaler can terminate a machine without considering that there is an inflight request, which sends the SIGTERM to the pod, where this problem can occur. I don't think revision timeout would help here; however, we checked that this is placed at its default 300 seconds(5 minutes), so I don't believe any changes here would help.

Further, we aim to

[2022-09-27 08:53] jwcesign commented on #13145
## Simulation
For better check the response time, I did one simulation code:
[code]

The test result is in following situation:
[code]

Without ApplicationGraph:

With ApplicationGraph:

So from the results: With ApplicationGraph, time cost is shorter and the response time distribution is better.

[2022-09-27 12:11] psschwei commented on #12797
/remove-lifecycle stale

[2022-09-27 12:34] nak3 commented on #13182
Sorry for the late response. In addition to Paul's comment, Could you elaborate on "the route is added to the external gateway even when using svc.cluster.local" ? I think I don't understand about it.

[2022-09-27 13:30] psschwei commented on #13332
Ok, just wanted to confirm that existing knobs wouldn't help here... I don't have a problem making it configurable.

[2022-09-27 13:32] nader-ziada commented on #13332
@krishadvani would you be interested in adding a PR for this change?

[2022-09-27 13:37] nader-ziada commented on #13316
yes, it checks how many requests are in flight compared with container concurrency to figure out if there is still capacity, so if you have container concurrency set to 1 and there is already one request in flight it should technically select the next pod

[2022-09-27 16:14] krishadvani commented on #13332
Yes, I shall post a PR shortly.

[2022-09-27 16:56] nader-ziada commented on #13308
As far as I can tell, the following items don't need any changes in the serving repo:

 - CronJob
 - EndpointSlice
 - Event
 - PodDisruptionBudget
 - RuntimeClass

[2022-09-27 16:57] psschwei commented on #12806
Thanks @nader-ziada !

/assign @nader-ziada

[2022-09-28 13:53] psschwei commented on #12078
This was fixed in #13239

[2022-09-28 13:53] #12078 closed

[2022-09-28 22:04] evankanderson commented on #13145
Do we understand why the histogram has the bumps it does?

[2022-09-29 01:31] #12977 closed

[2022-09-29 09:38] FTWH opened #13343 "How to get current nodeName inside Knative services?"
## Ask your question here:
In Kubernetes, if you want to get current nodeName inside a Pod, you could define env variables like:
[code]
But it does not work for Knative.
Is there any support for this feature in Knative Serving?
Thanks a lot for your help~

[2022-09-29 11:11] jwcesign commented on #13145
With `ApplicationGraph`:
[code]

[2022-09-29 12:20] jwcesign commented on #13343
cc @nader-ziada , should we support this kind of env configuration？

[2022-09-29 12:27] FTWH commented on #13343
Thank you for your attention! In my scene, the nodes have a moving property. The service I'm deploying needs to know which node it's running on to get the current geographic location.

[2022-09-29 13:33] abrennan89 commented on #9544
@rhuss if this is still relevant can you open a docs bug to add a note about this please?

[2022-09-30 07:09] #13325 closed

[2022-10-01 00:45] pksurferdad opened #13349 "Support Contour Envoy External Authorization"
## Describe the feature
Contour supports envoy's external authorization feature through the ExtensionService resource and it would a great add-on to knative serving to support this feature within its core configuration.

For example, support a contour knative config map that can define a default ExtensionService used by all knative services. Also support a service level annotation that disables th

[2022-10-01 12:02] knative-prow-updater-robot opened #13350 "[flaky] test/conformance/api/v1.TestServiceWithTrafficSplit"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceWithTrafficSplit
* **Repository name**: serving

[2022-10-02 06:54] jwcesign commented on #13349
cc @nak3

[2022-10-03 18:15] dalavayi commented on #13096
hi @ashrafguitoni, need some details reg the public and prive endpoint, we also have a similar scenario of requests waiting as the pod is not available

[2022-10-04 03:32] ashrafguitoni commented on #13096
Not sure I understand your statement perfectly. For me, I just had to use the URL I get when doing `kubectl get kservice` and not `kubectl get service`.

[2022-10-04 04:58] pradithya opened #13353 "gRPC Status in queue proxy metrics"
## Ask your question here:

Hi, I am exploring metrics exposed by queue-proxy for gRPC service. As of now, I noticed that in my current knative-serving (1.0.1) the gRPC status is not part of any metrics emitted by queue-proxy. `response_code` and `response_code_class` are there, however the value is always successful even for failing gRPC request.

For example, following query
[code]

Produces bel

[2022-10-04 08:26] SaschaSchwarze0 commented on #13204
Hi @psschwei, as I said in the description, I would be happy to help with the implementation. But, I also mentioned that I don't know what the preferred design here would be. If I would have enough self-confidence, I would have opened a PR and not an issue. So, what is your expection after above action ?

/assum psschwei

[2022-10-04 08:27] SaschaSchwarze0 commented on #13204
/assign psschwei

[2022-10-04 12:02] knative-prow-updater-robot opened #13354 "[flaky] test/e2e.TestResourceQuotaError"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestResourceQuotaError
* **Repository name**: serving

[2022-10-04 12:02] knative-prow-updater-robot opened #13355 "[flaky] test/conformance/api/v1.TestRouteCreation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestRouteCreation
* **Repository name**: serving

[2022-10-04 13:44] mbaynton commented on #13083
Voicing support for this issue because I think it's reasonable to expect websockets to work when using net-istio and DomainMappings. That is all that's needed to reproduce.

@georgyo

I have found through experimentation and through looking at the istio `VirtualService`s that if you use a DomainMapping, you unfortunately add an additional proxy hop to the data path. I don't know the reason for thi

[2022-10-04 15:38] nader-ziada commented on #13343
The `downward` api is not included in Knative spec because the Knative API spec tries not to assume it's built on K8s Pods only,

https://github.com/knative/specs/blob/main/specs/serving/knative-api-specification-1.0.md
https://github.com/knative/specs/blob/main/specs/serving/runtime-contract.md

but I believe you can use the  downward API to expose specific labels or annotations as files using a

[2022-10-04 21:49] Wouter0100 commented on #13045
I have had this just now as well.

[2022-10-04 21:50] Wouter0100 commented on #13045
I have had this just now as well.

/remove-lifecycle stale

[2022-10-04 23:48] tuan-ff commented on #12414
Hey @mbrancato, curious what fixed this problem, since the issue was closed? Thanks!

[2022-10-05 07:43] FTWH commented on #13343
@nader-ziada Thank you for your help! I have tried the downward API in knative service YAML file:
[code]
but it doesn't work. Could you please tell me how to use volume to show nodeName inside a Pod? Thanks!

[2022-10-05 09:15] jwcesign commented on #13126
`go-containerregistry` maintainer tries to work on abother approach, when finished, I will sync and add ut for this issue

[2022-10-05 09:52] cardil commented on #9544
/remove-lifecycle stale
/reopen

@abrennan89 Couldn't we just reuse this issue as doc one?

[2022-10-05 10:01] jwcesign commented on #13343
it has this kind of error?
[code]

my yaml
[code]
cc @FTWH

[2022-10-05 13:05] FTWH commented on #13343
@jwcesign yes, the error info is that!

[2022-10-05 13:26] psschwei commented on #12821
/remove-lifecycle stale

[2022-10-05 13:30] nader-ziada commented on #13343
looks like knative has a validation to not let you use the downward api

[2022-10-05 13:56] psschwei commented on #13343
There's a feature flag to enable the downward API:https://knative.dev/docs/serving/configuration/feature-flags/#kubernetes-downward-api

[2022-10-05 14:55] abrennan89 commented on #9544
@cardil if someone for serving is writing the docs then yeah that's fine, otherwise please close it and open an issue in the docs repo that provides specific details about what needs to change.

[2022-10-05 20:51] streamnsight opened #13359 "namespace-wildcard-cert-selector with empty object does not work"
/area networking
/kind spec

## What version of Knative?

knative-serving v1.2.5

## Expected Behavior
the doc for config-networking states:

[code]

especally:
[code]

## Actual Behavior

when using an empty object as suggested, I get a validation error:
[code]
I'm trying to use a specific label but it doesn't seem to work, however it is not clear what object is being looked up therefore it is no

[2022-10-06 13:02] psschwei commented on #12533
/remove-lifecycle stale

[2022-10-07 00:48] RileySeaburg commented on #13045
I'm getting this issue on GKE autopilot as well.

[2022-10-07 01:30] #12996 closed

[2022-10-07 11:04] skonto commented on #13359
cc @nak3

[2022-10-07 11:44] skonto commented on #13332
As a side note. Afaik once the SIGTERM is received and drain is called we keep sending back probe failures so eventually the pod will be removed from the related service and will get no more requests. If not mistaken we also reset the drainer timeout every time we receive a new request so at some point we get no more requests and we are waiting for the drain/quiet period to pass. I am not aware of

[2022-10-07 12:01] #13354 closed

[2022-10-07 12:01] #13355 closed

[2022-10-07 12:01] knative-prow-updater-robot opened #13371 "[flaky] test/upgrade.TestServingUpgrades/UpgradeWith/ServingHead"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/UpgradeWith/ServingHead
* **Repository name**: serving

[2022-10-07 12:03] skonto commented on #13332
As a side note. Afaik once the SIGTERM is received and drain is called we keep sending back probe failures so eventually the pod will be removed from the related service and will get no more requests. If not mistaken we also reset the drainer timeout every time we receive a new request so at some point we get no more requests and we are waiting for the drain/quiet period to pass. I am not aware of

[2022-10-07 20:34] #12806 closed

[2022-10-08 14:36] jwcesign commented on #13343
I did like this and it works for me:

[code]

[code]

ksvc yaml
[code]

check node name
[code]

check your knative version.  I use newest version

[2022-10-09 01:30] #12891 closed

[2022-10-10 12:02] #13371 closed

[2022-10-10 14:57] jwcesign commented on #13353
I will check this. /assign

[2022-10-10 19:21] skonto commented on #12438
@gunpuz hi sorry for the late reply. What feature are you looking for? PVC is available in [alpha stage](https://knative.dev/docs/serving/configuration/feature-flags/#kubernetes-persistentvolumeclaim-pvc).

[2022-10-10 19:28] gunpuz commented on #12438
Hi, good to know, seems like this PVC support that's in alpha stage is what i'm looking for. I will look into it later, thanks 👍  !

[2022-10-10 23:49] kahirokunn opened #13377 "queue-proxy required key QUEUE_SERVING_TLS_PORT missing value"
## What version of Knative?

0.24.2

## Expected Behavior

kservice starts up.

## Actual Behavior

queue-proxy gives the following error.

`queue-proxy required key QUEUE_SERVING_TLS_PORT missing value`

## Steps to Reproduce the Problem

just apply folllwing yaml.

[code]

[2022-10-11 01:14] nak3 commented on #13377
Thank you for opening the issue.

The version 0.24.2 is too old and we do not support it anymore. Is it possible to consider to upgrade your cluster?

For the issue, the `QUEUE_SERVING_TLS_PORT` was added in release v1.4  https://github.com/knative/serving/commit/6ec4509c73094850c3d517e1c8448aee0dab91cc and so I guess your cluster upgraded partially like controller or webhook only?

[2022-10-11 03:20] kahirokunn commented on #13377
@nak3 Thx!

I would like to run a gRPC application on kservice.

For example, the following code.

[code]

[code]

kservice log.

[code]

client log.

[code]

This error may fall under this issue.

https://github.com/knative/serving/issues/12387#issuecomment-1254413749

Does gRPC not work with knative's 1.0.0 series?

[2022-10-11 19:24] davidhadas opened #13379 "TLS+Token to support Security-Guard QPOpion"
/area security

## Describe the feature
Some OPOption(s) may require a token to authenticate their identity.
Some OPOption(s) may require a root ca certificate to authenticate the service they are using.
A specific example is Security-Guard which requires a token to be able to securely identify itself against the `guard-service` and a rooCA to identify that the service is indeed the guard-service

[2022-10-11 19:25] davidhadas commented on #13379
/assign @davidhadas

[2022-10-12 04:10] jwcesign commented on #13353
I check the code:
[code]
It will give all `200`, u can't group by this.

[2022-10-13 06:00] streamnsight commented on #13359
@nak3 any insight on why it doesn't work?

[2022-10-13 06:13] nak3 commented on #13359
Sorry I am not available until the end of Oct.

cc @evankanderson @dprotaso Do you have any idea?

[2022-10-13 12:01] knative-prow-updater-robot opened #13386 "[flaky] test/conformance/api/v1.TestAnnotationPropagation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestAnnotationPropagation
* **Repository name**: serving

[2022-10-14 16:36] Legion2 commented on #12969
I created an opentelemetry processor to truncate the service name, if somebody is interested:
[code]

[2022-10-14 18:42] ankit-db commented on #10037
Is there any update on support for startupProbe here?

[2022-10-14 19:41] psschwei commented on #10037
Nope, haven't had any cycles to devote to this.
/unassign

[2022-10-14 20:41] #13182 closed

[2022-10-15 12:01] knative-prow-updater-robot opened #13396 "[flaky] test/conformance/api/v1.TestBlueGreenRoute"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestBlueGreenRoute
* **Repository name**: serving

[2022-10-15 12:01] knative-prow-updater-robot opened #13397 "[flaky] pkg/reconciler/revision.TestGlobalResyncOnConfigMapUpdateDeployment"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/revision.TestGlobalResyncOnConfigMapUpdateDeployment
* **Repository name**: serving

[2022-10-16 12:01] #13386 closed

[2022-10-16 21:24] ddelange commented on #13075
Hi @nader-ziada and @psschwei 👋

Have you given this some thought? Did my comment clarify/raise more questions? Is it technically possible and, if yes, would that be an acceptable implementation approach?

I think this feature would bring a lot of value both in terms of cost savings and srevinv stability. I would love to see this get done, and ca. definitely also help get this implemented

[2022-10-17 01:31] #13043 closed

[2022-10-17 13:45] duglin commented on #8498
@mattmoor do you happen to remember if this issue was strictly due to K8s Services env vars being injected, or whether it would have happened even if the user defined the same number of env vars manually?

[2022-10-17 14:03] mattmoor commented on #8498
@duglin I'd guess it'd happen with either

[2022-10-17 14:14] psschwei commented on #13075
Not exactly -- we scrape metrics from a subset of pods and then return the average across those pods (see [here](https://github.com/knative/serving/blob/e95e99d6c188ef9d86327ca6d4afc72cfdc6cf86/pkg/autoscaler/metrics/stats_scraper.go#L244) for an example).

[2022-10-17 14:31] duglin commented on #8498
ok thanks

[2022-10-18 19:27] dfsdevops commented on #8211
I am on 1.7.2 and I can't figure out how to get around this issue. Whats the actual resolution here? I am trying to modify the ingress class and I cannot, not even if by deleting and recreating from the configMap. I'm not sure what it thinks I changed.

[2022-10-19 07:05] floralatin opened #13409 "Error: unable to read URL "https://github.com/knative/serving/releases/download/knative-v/serving-crds.yaml", server reported 404 Not Found, status code=40"
## What version of Knative?

## Actual Behavior
<img width="922" alt="knative" src="https://user-images.githubusercontent.com/16202568/196620550-fbf3556b-37c0-45fc-bc6e-2903ac83b11d.png">

## Steps to Reproduce the Problem

[2022-10-19 09:59] Futrime commented on #13409
Same problem

[2022-10-19 12:02] #13397 closed

[2022-10-19 12:02] #13396 closed

[2022-10-19 12:55] psschwei commented on #13409
See https://github.com/knative-sandbox/kn-plugin-quickstart/issues/354

[2022-10-19 12:55] #13409 closed

[2022-10-19 15:47] dprotaso commented on #13002
You can setup a domain name ie. perf.knative.dev and point it to your dashboard

https://github.com/knative/test-infra/blob/main/infra/gcp/dns/dns.tf

[2022-10-19 15:58] houshengbo opened #13410 "Serving at 1.8 did not pass the upgrade tests in knative operator"
The prow failed constantly for 1.8 serving.
https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_operator/1253/serving-upgrade-tests_operator_main/1582758038765309952

The upgrade tests were unable to launch the services for
[code]

[code]

Serving 1.7 can launch these services, but not 1.8.

[2022-10-19 17:58] tardieu commented on #8160
I have started working on a possible implementation of revision and session affinity for Knative Serving:
- short presentation on this topic: https://docs.google.com/presentation/d/1eqxyuLlAO9fAl2WbzNFLTkQv8DKgCeOUL7bx2Hye8H8/edit?usp=sharing
- github repo with motivation/description/demo: https://github.com/tardieu/affinity

This is very much a work in progress. Feedback welcome!

[2022-10-20 13:06] psschwei commented on #13075
Nothing jumps out, unfortunately...

[2022-10-20 15:21] nader-ziada commented on #13002
https://github.com/knative/test-infra/pull/3584

[2022-10-20 19:33] #13410 closed

[2022-10-21 13:25] phutaneVinayak opened #13412 "http request received status_code 502 and body as "EOF""
## Ask your question here:
When I perform my pod request with "sleepTime": "130001" (2 mins and 10 secs) to my Nodejs application running on Knative serving. I always got EOF as response with 502 status code after 2 mins

## Details
I have install knative serving on Minikube.
My knative serving version is version=1.7.2.
I am using istio as networking layer

NAME                          TYPE

[2022-10-21 15:05] phutaneVinayak commented on #12414
Hey @tuan-ff  did you find any updates or way to solve this issue.

I have create one issue: question for the same

here the my use case is:
https://github.com/knative/serving/issues/13412

[2022-10-21 16:10] dprotaso commented on #13002
Playing with the dashboard - it's a bit cumbersome.

Questions/thoughts

1. If I run the performance test on a PR how do I visualize the metrics for just that single run?
2. We need to label the axes and have better names for the lines in the graph
   - see ie. https://mako.dev/benchmark?benchmark_key=5143375149793280
   - I'm assuming there a way to just configure the dashboard to re-label the se

[2022-10-21 16:13] nader-ziada commented on #13002
thanks for the feedback, will investigate how to do these changes on the dashboard

[2022-10-21 16:31] dprotaso commented on #13002
Also wondering if there's a way to drop the interpolation between the successive runs - it seems a bit noisy

![Image](https://user-images.githubusercontent.com/18562/197244445-08a67fe5-1f28-416b-8573-e3a71606d690.png)

[2022-10-24 13:35] hecklawert commented on #13045
Same issue here. I installed it on K8s 1.22 using Knative Operator and I get the same error trying to deploy a Service.

[2022-10-24 14:13] dprotaso commented on #13045
Hey folks - can you post a gist link with logs.

Generally we've seen errors like this when the API server is under-provisioned. If you have a way to reproduce this that would be even better.

[2022-10-24 14:29] Wouter0100 commented on #13045
Thanks for responding, @dprotaso. That's also what I expected, but unfortunately I do not manage the deployment of the API server. We use Scaleway's managed control plane offering named Kapsule. Unfortunately no way to reproduce consistently.

Will get back to you with logs.

[2022-10-24 20:10] ddelange commented on #13075
So do I understand correctly: when the general purpose feature goes GA in kubernetes, the KPA could exploit it relatively easily? A until then it's relatively hard/time consuming?

[2022-10-24 21:12] CarlosDomingues opened #13414 "How can I wait until all containers in a pod are ready before serving traffic?"
**Context**

I have several applications which I'd like to secure using [oauth2proxy](https://github.com/oauth2-proxy/oauth2-proxy) as a sidecar. Config looks like:

[code]

That almost works, except `oauth2-proxy` becomes ready way before `my-app` is ready to serve traffic. Hence, for a few seconds, knative is serving traffic to the pod, but `oauth2-proxy` can't reach upstream and returns 502.

*

[2022-10-25 02:19] jwcesign commented on #13414
If u write your `oauth2-proxy` sidecar give positive response for readness probs after it get ready, I think it will works.
Like if `oauth2-proxy` can reach upstream then readness probs give `200` http code.

[2022-10-25 02:40] jwcesign commented on #10037
/assign

[2022-10-25 10:24] hecklawert commented on #13045
Thanks for your reply  @dprotaso . In my case, I don't have access to API as this is an EKS instance with one t3.medium worker node.

Here you can find the logs.
https://gist.github.com/hecklawert/93a20902bb1e8c9b0dd52fe896d43580

[2022-10-25 11:31] psschwei commented on #13153
/remove-lifecycle stale

[2022-10-25 11:48] psschwei commented on #13414
You can use a readiness probe

[2022-10-25 12:00] #13350 closed

[2022-10-25 12:00] knative-prow-updater-robot opened #13416 "[flaky] test/e2e.TestGRPCAutoscaleUpDownUp"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestGRPCAutoscaleUpDownUp
* **Repository name**: serving

[2022-10-25 15:17] #13153 closed

[2022-10-25 21:20] CarlosDomingues commented on #13414
I thought `readinessProbe` was not supported after trying to set it up on `my-app` and getting an error. Setting it up on `oauth2-proxy`, however, works. So can I conclude `readinessProbe` is supported as long as the container also has `containerPort` defined?

Anyway, I've tried using `readinessProbe` in two different ways:

- Using `/ping` as `path`: `/ping` always returns 200, so the problem of

[2022-10-25 23:03] CarlosDomingues commented on #13414
A coworker solved the puzzle with the following config:

[code]

Now `readinessProbe` only succeeds if both `oauth2-proxy` is ready AND upstream is reachable from `oauth2-proxy`.

That said, that could be much easier if `readinessProbe` was supported from all containers.

Thank you both for the suggestions!

[2022-10-25 23:03] #13414 closed

[2022-10-26 01:23] jwcesign commented on #13412
From the log, it looks like u config the timeout as 200 seconds, which is shorter than `2 mins and 10 secs`.
So maybe you can try set it as `3min` for `timeoutSeconds`.

[2022-10-26 09:43] jwcesign commented on #13412
Did ever try other type service, like nginx(which not sleep and response directly)？

[2022-10-26 12:02] knative-prow-updater-robot opened #13418 "[flaky] test/e2e.TestMinScale"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestMinScale
* **Repository name**: serving

[2022-10-26 14:53] jwcesign opened #13419 "After default domain change to `default.svc.cluster.local`, curl not works."
## What version of Knative?
v1.8.0

## Expected Behavior
curl will work

## Actual Behavior
![image](https://user-images.githubusercontent.com/19745536/198059664-1b249bb0-edbb-4706-98ea-b7e478aa179d.png)

## Steps to Reproduce the Problem
* Deploy newest serving and kourier,
* create one ksvc
* curl it with host

And I found the kingress visibility is cluster local:
[code]

[2022-10-26 15:25] dprotaso commented on #13419
I'm guessing you'll want to set an explicit domain if you want to curl it externally

/assign @psschwei for confirmation

[2022-10-26 15:29] jwcesign commented on #13419
Yes, need to set an explicit domain, but, that that's a break change

[2022-10-26 17:06] dprotaso commented on #8160
Hey @tardieu I posted some comments on the slides

tl;dr - you're proposal segways into `Actors` &`Scalable stateful services`. But I would consider that a non-goal for Knative.

Circling back, I think we should avoid pod/instance affinity as Matt has already pointed out problems with load balancing, autoscaler accounting etc. (https://github.com/knative/serving/issues/9039#issuecomment-677848875)

[2022-10-26 17:37] psschwei commented on #13419
Yeah, you'll need to set an explicit domain to access the service outside of the cluster (see #13182 for some discussion).

Something along the lines of the below in the test script should work to fix the freezer tests (untested):

[code]

[2022-10-26 17:46] tardieu commented on #8160
Thx for the comments. Revision affinity is the primary goal for this. I agree session affinity and container concurrency control do not play well together. Having said that there are cases where what we want is affinity and not container concurrency control. Knative already supports disabling concurrency control.

[2022-10-26 17:50] tardieu commented on #8160
I should explain stateful (and actors) better.Today Knative, even Knative Functions are stateful in the sense I can run a function for 15 minutes (borrowing the limit from Lamba) and have state persisted for that long (most likely...). What I am proposing is to make it possible to extend today's "pod is likely to survive 15 minute" feature from running single function invocation to running a serie

[2022-10-27 04:51] #13419 closed

[2022-10-27 08:14] hecklawert commented on #13045
I think I've found the problem. My instance of EKS was deployed with the prefix delegation enabled on the CNI plugin (I did this to have capacity for 110 pods per node instead of 17) using [this TF module as example](https://github.com/aws-ia/terraform-aws-eks-blueprints/tree/main/examples/ipv4-prefix-delegation).

Using an EKS without prefix delegation Knative is working as expected.

[2022-10-27 13:17] jwcesign commented on #10037
I read the docs and code, so the implement way shoud be:
implement a startup prob in qp like readiness prob and once it success, stop it and start readinessProb.

I understand right?

But it looks quite few benifit because it does not support exec prob.
cc @psschwei

[2022-10-27 13:35] psschwei commented on #10037
We had some discussion in #12565 (in particular, @dprotaso 's comment [here](https://github.com/knative/serving/pull/12565#issuecomment-1033880603)). I also pulled together [this doc](https://docs.google.com/document/d/1ODpaq-7ChhF7UeN7OSgekPlDrZXhT-3DZUVyl0SGRGQ/edit?skip_itp2_check=true) that covers some of the different scenarios Dave was alluding to.

[2022-10-28 08:37] slinkydeveloper commented on #8160
Hi everyone, I have a use case where I could really use this feature. I have a push based system which invokes knative services sending some state, and I would like to be able to implement some local cache for such state in every knative service. This state is inherently partitioned, meaning that I can have cache hits only if I hit the same containers.

To implement that, I had in mind something l

[2022-10-28 18:07] dprotaso commented on #8160
@slinkydeveloper why not just use a real cache/data store?

[2022-10-29 12:01] #13416 closed

[2022-10-31 12:17] tardieu commented on #8160
@dprotaso a distributed in-memory key-value map for instance can help alleviate the latency of a remote store pull (eg from S3) but does not help with in-cluster network latency if the platform does not support affinity as the cached data may reside in another pod/node. Beyond the latency of replicating/migrating the cached data intra-cluster there is also a memory pressure/management issue.

[2022-10-31 12:32] tardieu commented on #8160
@slinkydeveloper so you are ok keeping track of a cookie client-side in this use case, something like:
- send 1st request with _Enable Affinity_ header
- receive response including _affinity cookie_
- client persists cookie
- set header and send cookie on every subsequent request
- update persisted cookie after every request (as the selected container may change due to weak affinity)

In such a sc

[2022-10-31 12:38] tardieu commented on #8160
@dprotaso I also replied to your comments on the deck inline: https://docs.google.com/presentation/d/1eqxyuLlAO9fAl2WbzNFLTkQv8DKgCeOUL7bx2Hye8H8/edit?usp=sharing

[2022-11-02 00:23] paulorpdlmillicom commented on #11069
Why there is no support for CSI? Maybe this is a bug, because looking the API reference (https://knative.dev/docs/serving/reference/serving-api/#serving.knative.dev/v1.RevisionTemplateSpec), the RevisionTemplateSpec uses Kubernetes Core v1.PodSpec. This support multiple kinds of VolumeSource (https://pkg.go.dev/k8s.io/api@v0.25.2/core/v1#VolumeSource)

[2022-11-02 09:15] ryutoyasugi opened #13430 "Controller has no livenessProbe and readinessProbe"
## Ask your question here:
Is there a reason why there is no livenessProbe or readinessProbe in controller?

[2022-11-02 11:26] jwcesign commented on #12533
I prefer `Multi Activator Support` approach, if share actiator, some cve may influence muti-user

[2022-11-02 16:41] houshengbo opened #13433 "The domain name `svc.cluster.local` does not work, the current configuration does not allow two or more than two '.' delimiters"
## What version of Knative?

## Expected Behavior

The default domain name have changed from `example.com` to `svc.cluster.local`.
However, this new domain name does not work.
Even if you specify this domain name in the configmap `config-domain`, by setting `svc.cluster.local: |`, it will not work.

However, if you change the domain name into `svc.cluster: |` or `svc.local: |`, it works fine.

##

[2022-11-02 17:18] houshengbo commented on #13433
It is getting trickier.

The domain name has to contain only one dot in order to succeed.
However, once we launch a service with a good name like [example.com], we can then change domain name into svc1.cluster.local, and it works.
But when we change it to `svc.cluster.local`, it still does not work.

[2022-11-02 19:41] psschwei commented on #13433
I'm not able to reproduce the error with `svc.cluster.local`, having tried both on minikube and IBM Kubernetes Service

[2022-11-02 20:15] houshengbo commented on #13433
looks like `svc.cluster.local`  is only accessible inside the kubernetes cluster.

[2022-11-02 20:15] #13433 closed

[2022-11-03 12:01] knative-prow-updater-robot opened #13436 "[flaky] _build_tests.Verify_CodeGen"
### Auto-generated issue tracking flakiness of test
* **Test name**: _build_tests.Verify_CodeGen
* **Repository name**: serving

[2022-11-03 16:35] dprotaso opened #13439 "Fix G112: Potential Slowloris Attacks"
From linting https://github.com/knative/serving/pull/13438

<img width="898" alt="Screen Shot 2022-11-03 at 12 35 13 PM" src="https://user-images.githubusercontent.com/18562/199779910-fe09e479-5672-4a81-a2a6-8f636b437965.png">

[2022-11-04 12:01] knative-prow-updater-robot opened #13440 "[flaky] test/conformance/api/v1.TestServiceCreateAndUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceCreateAndUpdate
* **Repository name**: serving

[2022-11-05 05:21] dbblackdiamond opened #13443 "Can't get path-based routing with kong ingress controller to work"
Hi,

I have been trying to get path-based routing with kong ingress controller to work for a few days and no luck. Instead of accessing a knative service through the `http://{service name}.{namespace}.{domain}` url, I would like to access it through `http://{domain}/{service}`.

Here are the various versions in my environment:

- knative-serving: 1.8.0
- kong ingress controller: 2.7
- kubernetes:

[2022-11-06 17:36] skonto commented on #13204
Hi, maybe something similar to [this](https://stackoverflow.com/questions/56115197/how-to-idiomatically-fill-empty-fields-with-default-values-for-kubernetes-api-ob) could help here. I havent checked the details yet if defaulting first and then passing the dep obj cover all cases but could be a start.

[2022-11-07 12:02] #13436 closed

[2022-11-07 16:37] psschwei commented on #13443
Kong provides their own support for Knative, so you may want to try asking them directly: https://github.com/Kong/kubernetes-ingress-controller/

[2022-11-07 17:07] mbaynton opened #13447 "Autoscaler runs two leadership elector goroutines"
/area autoscale

## What version of Knative?
1.7.1

## Expected Behavior
One goroutine runs the leadership election renew loop. No errors are logged every ~10 seconds.

## Actual Behavior

Two identical leadership electors are started. Both read/modify/write the same lease at the same time to renew it every 10 seconds and one is rejected by k8s with `the object has been modified; please apply your

[2022-11-07 17:08] mbaynton commented on #13447
Profiling the goroutines, we have
[code]
and
[code]

[2022-11-07 20:30] mbrancato opened #13449 "Webhook YAML causes constant config drift (reopened)"
## In what area(s)?

/area build

## What version of Knative?

1.8.0

## Expected Behavior

The generated YAML for webhook rules is modified after apply, changing the defined spec and causing constant configuration drift. I've reopened this from #12474 which has been closed as fixed. I've confirmed this still happens in 1.8.0.

## Actual Behavior

As with before, webhook rules for `webhook.domainm

[2022-11-07 20:45] psschwei commented on #13449
Looking at the original issue, @dprotaso 's [rationale for closing](https://github.com/knative/serving/issues/12474#issuecomment-1167381877) was that "this drift is unfortunately unavoidable."

I think the recommendation in the original issue is probably still the same today: to look into your tooling's options to handle merges between what's declared and what's present on the API server.

[2022-11-07 21:26] mbrancato commented on #13449
Hi @psschwei

Again, to point out I've never run into other Kubernetes manifests or Helm charts that do this - my view is it is probably an anti-pattern to specify a spec as X in deploy and modify the spec to Y at runtime. If you want to do this, configure nothing for the rules in the manifest. For declarative configuration, sure, there are things that get set and even change at runtime, the solut

[2022-11-08 02:41] MrZLeo commented on #12978
Can you explain it in detail? I met the same question and I've already set proxy in my zsh and docker, but it still not working...

[2022-11-08 08:12] milank78git opened #13451 "Domainmapping with TLS 1.2 or more"
I have dommainmapping for my service on knative-serving 1.7.1

[code]
And I want add TLS with cipher
example

[code]

Unfortunately domainmapping ignores such settings.

How to configure because by default the error is in the security test url

BEAST (CVE-2011-3389)   TLS1: ECDHE-RSA-AES128-SHA AES128-SHA ECDHE-RSA-AES256-SHA AES256-SHA VULNERABLE -- but also supports higher protocols  TLSv1.1 TLS

[2022-11-08 10:14] skonto commented on #12073
/reopen

[2022-11-08 11:27] SaschaSchwarze0 commented on #13204
@skonto this idea sounds interesting. But, I don't know how this can work. Knative is a Kubernetes client and only has all the client code available. The registry that the Schema has to do defaulting does not contain a function for Deployments. Which makes sense given [`SetObjectDefaults_Deployment`](https://pkg.go.dev/k8s.io/kubernetes/pkg/apis/apps/v1#SetObjectDefaults_Deployment) is part of Kub

[2022-11-08 15:47] dprotaso commented on #13449
I'm going to close this out as it's working as we expect.

[2022-11-08 18:25] psschwei commented on #13451
What specific error are you seeing?

Assuming you've followed all the steps to use your own certificate: https://knative.dev/docs/serving/services/byo-certificate/

[2022-11-08 18:34] milank78git commented on #13451
If I run scan vulnerabilities  on url generate from domainmapping returns enabled TLS 1.0

How setup specific TLS and Ciphers

See
BEAST (https://github.com/advisories/GHSA-rhch-pcq2-7gp3) TLS1: ECDHE-RSA-AES128-SHA AES128-SHA ECDHE-RSA-AES256-SHA AES256-SHA VULNERABLE -- but also supports higher protocols TLSv1.1 TLSv1.2 (likely mitigated)

[2022-11-08 19:21] mbrancato commented on #13449
Hi @dprotaso

I still feel like there is a misunderstanding here. Modifying / mutating a resource is fine, but the anti-pattern here is defining your manifests as X and then letting the controller modify them at runtime to Y. I also feel you're referring to mutating resources as being an issue, which is not the issue here. The issue is defining keys and values in one place for install, and changin

[2022-11-08 19:21] mbrancato commented on #13449
/reopen

[2022-11-08 19:27] dprotaso commented on #13449
Context is here: https://github.com/knative/serving/issues/7576

If we remove the rules there's a window during install & upgrade that allows folks to create resources where the webhook isn't hooked up. This means the API server can accept Knative resources that are not valid.

So we have this initial seed of rules to prevent this race.

[2022-11-08 20:14] evankanderson commented on #13451
`net-kourier` recently adjusted their minimum TLS version to 1.2: https://github.com/knative-sandbox/net-kourier/pull/905

[Contour defaults to TLS 1.2](https://projectcontour.io/docs/v1.23.0/configuration/#tls-configuration)

Istio can be [configured with `minProtocolVersion` and `maxProtocolVersion`](https://istio.io/latest/docs/reference/config/networking/gateway/#ServerTLSSettings) in `spec.se

[2022-11-08 21:27] tardieu commented on #8160
Blog on sticky revisions: https://medium.com/@tardieu/sticky-revisions-for-knative-services-bf170709fd6a

[2022-11-08 21:39] dprotaso commented on #13447
Thanks for the PR.

cc @psschwei @nader-ziada for input as I don't have a super deep understanding here

It seems like running the two electors works because they both acquire/lose the lease together.

Unfortunately, I think the 'correct' fix is more involved because we don't really have a mechanism for two controllers of different resource types to share a single elector. Typically the mapping is

[2022-11-08 21:46] dprotaso commented on #13447
/triage accepted

[2022-11-08 22:36] #13379 closed

[2022-11-09 00:53] dprotaso commented on #13247
FYI someone from your team dug into this - here's a [slack thread](https://knative.slack.com/archives/C0186KU7STW/p1666017856230819). But thanks for posting an issue as it makes this discussion more accessible

Ingress Ready time is heavily dependent on the underlying networking layer - ie. istio/contour/kourier

ie.  contour had a regression https://github.com/projectcontour/contour/issues/4058 a

[2022-11-09 00:56] dprotaso commented on #13247
We also gate the Ingress being ready by probing proxies and ensuring the networking is rolled out. I'm curious if `zero initial scale set` is what's causing this to happen so quickly.

[2022-11-09 02:43] mbrancato commented on #13449
So the issue here is that before the webhook configuration is installed, a bad `ksvc` can be created. I understand this, but I'm not sure having these default rules is actually solving that specific problem.

For example, if you look at the process for install, the first step is to install knative CRDs. At that point, a bad `ksvc` can be created. So having rules here on the webhook isn't solving t

[2022-11-09 06:30] milank78git commented on #13451
I use istio 1.13.3

I know how to use the tls settings in the gateway see the first question  but I use domainmapping and I don't know how to define the tls version of the protocol for the correct domain when use domainmapping .

[2022-11-09 11:15] daraghlowe commented on #13247
Thanks @dprotaso

To add some details from that slack conversation, we did some further testing where we created a ksvc with the default domain as svc.cluster.local and then added a domain mapping with an external domain and waited for both to become ready and the there wasn't actually a noticeable difference between "default domain is svc.cluster.local + external domain mapping, and default domai

[2022-11-09 11:32] daraghlowe commented on #13247
I'm going to close this out as the problem appears to have been Istio related.

[2022-11-09 11:32] #13247 closed

[2022-11-09 14:38] dprotaso commented on #13449
We include admission webhooks as part of our installation yaml that will prevent resources being created until the webhook is up and updates the configuration.

https://github.com/knative/serving/blob/0511892b4b6b3fdf967991ba550d3730caca60e6/config/core/webhooks/resource-validation.yaml#L25-L28

What's missing in the config?

[2022-11-09 16:34] dprotaso commented on #11308
Going to close this out - e2e PR is open

[2022-11-09 16:34] #11308 closed

[2022-11-09 18:40] dprotaso commented on #13449
We split up the instructions like that so it doesn't trip up new users - our installation includes a CRD and an instance of that CRD (image resource)

https://github.com/knative/serving/blob/bd88e059b9050c49da4a03e0fc2a72d6eedea411/config/core/999-cache.yaml#L15-L27

You can get an error like

[code]

I'm going to close this off - this is behaving as we expect and I recommend looking into tooling

[2022-11-09 18:40] #13449 closed

[2022-11-09 19:23] dprotaso commented on #13247
Wow that's a big perf gain!

[2022-11-09 20:33] jrochette commented on #13057
I am facing the same issue. Is there a way to make the queue-proxy not drop the metric after maxage is reached?

[2022-11-10 00:14] christiansicari opened #13458 "Set a port where to reach knative-serving when it is exposed with NodePort"
I have currently deployed a Knative Infrastructure on a K3S local instance.
I started following this [guide](https://knative.dev/docs/install/operator/knative-with-operators/)
Then I edited the Kourier configuration as described [here](https://knative.dev/blog/articles/set-up-a-local-knative-environment-with-kind/) since I cannot use a LoadBalancer service but I need a NodePort.
Finally I exposed

[2022-11-10 01:38] psschwei commented on #13458
Depending on what your use case is, you could just use the Magic DNS option described here: https://knative.dev/docs/install/yaml-install/serving/install-serving-with-yaml/#configure-dns

[2022-11-10 02:19] christiansicari commented on #13458
I am using it but it doesn't allow to set the portOn Nov 9, 2022 6:38 PM, Paul Schweigert ***@***.***> wrote:
Depending on what your use case is, you could just use the Magic DNS option described here: https://knative.dev/docs/install/yaml-install/serving/install-serving-with-yaml/#configure-dns

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you au

[2022-11-10 13:13] psschwei commented on #13458
Why do you need to set the port?

[2022-11-10 16:25] christiansicari commented on #13458
1) Why not? I mean, if I am using Knative in a local cluster, I probably do not have a load balancer ingress, then exposing it with a NodePort could be the easiest solution
2) More practically, the "func invoke" does not work if you cannot set the right address
[code]

[2022-11-10 17:09] psschwei commented on #13458
You shouldn't need to set the port on the domain though...

Using the [quickstart plugin](https://knative.dev/docs/getting-started/quickstart-install/) on Kind, which also uses a NodePort instead of a load balancer:

[code]

My guess is there's something a bit off with your setup... is there a reason you're using k3s instead of kind/minikube with the quickstart plugin?

[2022-11-10 17:24] christiansicari commented on #13458
Yes, this is for research purpose, we need to have a distributed Cloud-Edge environment so we choose to use K3S, and we cannot trust on managed instances.
From your example, I see you have Knative exposed on port 80 I guess. So it's quite normal it works, I think

[2022-11-11 07:04] AkimitsuTosha opened #13459 "I want to see the time taken for a cold start in metrics"
## In what area(s)?
/area activator

## Describe the feature

situation:
I'd like to see a metric of cold start time, but currently knative doesn't have a metric of cold start time.

suggestion:

We would like to implement the difference between the time the activator received the request and the time it received the response to be included in the `request_latencies` metrics.

Corrections are as f

[2022-11-11 07:05] sidharthramesh commented on #12527
Can we please not mark this as stale?

[2022-11-11 07:05] sidharthramesh commented on #12527
/reopen

[2022-11-11 07:06] sidharthramesh commented on #12527
@DharsanB please reopen this?

[2022-11-11 07:06] DharsanB commented on #12527
/reopen

[2022-11-11 17:59] mbaynton commented on #13459
+1. I just hacked this into my org's deployment last week by watching the k8s deployments and reporting time between desired count going from 0 to 1+ and time the deployment achieves minimum availability. But it's a hack and you have to write your own service.

[2022-11-11 21:37] mbaynton commented on #13447
I'm starting to dig into this a bit more. I am starting to think that the architects of multi-replica autoscaler were primarily shooting for high availability, not high scalability, and as such let the metrics scraper / "the collector" run in every autoscaler against every queue-proxy. That's my read of the code so far anyway, will test that theory later.

[2022-11-12 01:23] dprotaso commented on #13447
Yeah -  https://github.com/knative/serving/issues/2930#issuecomment-679297688

[2022-11-12 12:01] knative-prow-updater-robot opened #13464 "[flaky] test/e2e.TestPodScheduleError"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestPodScheduleError
* **Repository name**: serving

[2022-11-14 08:05] jwcesign commented on #13447
I think there is no high scalability now for buckets' design

[2022-11-14 08:33] norman465 opened #13465 "The conformance test ContainerExitingMsg is very flaky and currently dependend on a custom progressDeadline"
The conformance test [ContainerExitingMsg](https://github.com/knative/serving/blob/aebc16c5671faf383e25c99af95530e3228e7e28/test/conformance/api/v1/errorcondition_test.go#L120 ) seems to be very flaky. From what I understand the test wants to hit [this code here](https://github.com/knative/serving/blob/aebc16c5671faf383e25c99af95530e3228e7e28/pkg/reconciler/revision/reconcile_resources.go#L83) to

[2022-11-15 01:55] dprotaso commented on #12527
/lifecycle frozen

[2022-11-15 01:56] dprotaso commented on #12527
/triage accepted

[2022-11-15 12:01] knative-prow-updater-robot opened #13470 "[flaky] test/upgrade.TestServingUpgrades/DowngradeWith/ServingLatestRelease"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/DowngradeWith/ServingLatestRelease
* **Repository name**: serving

[2022-11-15 12:48] daraghlowe opened #13471 "Seccomp profile in queue-proxy incompatible with gvisor"
## What version of Knative?

1.8.0

## Expected Behavior

Pods should be able to start on GKE nodes running gvisor.

## Actual Behavior

Gvisor refuses to allow the pods to start as a seccomp profile has been set, the following error is shown in events which refuses to allow the pod to start:

`Seccomp is not supported`

https://github.com/knative/serving/pull/13376 added the config below to queue

[2022-11-15 14:59] doddatpivotal opened #13472 "Provide HTTPS for cluster.local domains"
/area networking
/kind feature

## Expected Behavior
I would like to have an https based internal service?  I'm currently configured for HTTPS for standard external service, but as soon as I put the internal service annotation on my kservice, the exposed service turns to HTTP.

## Additional Info
In my particular use case, I have a 3rd party controller on my cluster that can be configured to call

[2022-11-15 22:26] evankanderson commented on #13359
Are you using a ClusterIssuer that supports DNS01 challenges?

[2022-11-15 23:01] streamnsight commented on #13359
@evankanderson yes, I am.
as pointed above, the challenge request generated is not for a `*.domain`, it is for the fully qualified subdomain, so it is in the request being made that there is an issue.
Does it work for you?

[2022-11-16 03:18] mbaynton commented on #13447
Testing this more, @dprotaso is correct. The metrics reconciler does make use of the leadership-aware context. In my PR, all autoscaler replicas will reconcile all metrics resources, a side-effect of which is starting a metrics scraper on them. In the latest release, only one autoscaler will reconcile a given metric.

We need a way to set up both controllers and reconcilers with the same leadershi

[2022-11-16 03:20] jwcesign commented on #13459
The workaround is using kperf to test the cold start time.
This feature would be nice if supported.

[2022-11-16 12:02] #13464 closed

[2022-11-16 21:14] tardieu opened #13476 "Include revision id and pod id in responses"
/area API
/kind feature

As a first step toward supporting revision affinity and/or session affinity (see #8160), we should report the ids of the revision and pod that processed a request to the client. This is also useful for debugging for instance to then pull logs from the corresponding pod.

Today, if we need this info, we are forced to implement the logic in the service itself as illustrated

[2022-11-17 08:54] tung-dao-dpk commented on #13083
For the one who needs a solution on AWS EKS using:
- knative v1.8.0
- istio v1.15.3

Below is the envoy filter you need to apply:
[code]

The snippet above is similar to this https://github.com/knative/serving/issues/7933#issuecomment-786139169, but I modified the `filter name` and `typed config` to the latest version.

This solution works for both `ws` and `wss`.

[2022-11-17 08:59] dao-duc-tung commented on #13083
For the one who needs a solution on AWS EKS using:
- knative v1.8.0
- istio v1.15.3

Below is the envoy filter you need to apply:
[code]

The snippet above is similar to this https://github.com/knative/serving/issues/7933#issuecomment-786139169, but I modified the `filter name` and `typed config` to the latest version.

This solution works for both `ws` and `wss`.

[2022-11-17 10:52] eladh opened #13478 "knative service create or func deploy resulting in Ingress has not yet been reconciled error"
## What version of Knative?

Version:      v1.8.1
Build Date:   2022-10-20 16:09:37
Git Revision: 1db36698
Supported APIs:
* Serving
  - serving.knative.dev/v1 (knative-serving v1.8.0)
* Eventing
  - sources.knative.dev/v1 (knative-eventing v1.8.0)
  - eventing.knative.dev/v1 (knative-eventing v1.8.0)

minikube version: v1.28.0
commit: 986b1ebd987211ed16f8cc10aed7d2c42fc8392

kubectl version
WARNI

[2022-11-17 11:09] ForcemCS opened #13483 "Serving ingresses.networking.internal.knative.dev status not Ready"
I deployed Serving, networking layer is istio according to the official [procedure,](https://knative.dev/docs/install/yaml-install/serving/install-serving-with-yaml/#install-the-knative-serving-component) the result is as follows，I wasn't able to find out the answer to my question
![1](https://user-images.githubusercontent.com/57245053/202430885-fc6a540b-f585-414d-a591-84b3d8f1ee1c.png)

root@mast

[2022-11-17 11:11] #13483 closed

[2022-11-17 11:18] ForcemCS opened #13484 "Serving configuring public Services on a node IP"
Serving configuring public Services on a node IP address (12.0.0.50), when I use curl -H "Host: helloworld-go.default.example.com" 12.0.0.50, no results are returned. The image below
![1](https://user-images.githubusercontent.com/57245053/202432685-1413dd5e-8b03-4cb2-a27a-e5a3b898ec0e.png)
root@master01:~/knative# cat helloworld-go.yaml
apiVersion: serving.knative.dev/v1
kind: Service
metadata:

[2022-11-17 14:04] psschwei commented on #13484
Both the kservice and the route are showing as "Uninitialized", so I'd start by checking there.

[2022-11-17 19:20] tonychue opened #13485 "Istio/opa external CUSTOM Authorization policy causes knative activator request time out"
Expected Behavior
Trying to apply opa external authorizer as separate pod using CUSTOM authorization policy
Activator request keeps timing out
see link - https://istio.io/latest/blog/2021/better-external-authz/

Want to be able to authorize request using opa and rego policy defined in a bundle server running in Azure storage account

Actual Behavior
deploy a knative service, which runs fine.
deplo

[2022-11-18 03:24] ForcemCS commented on #13484
The rest of the yaml files are at this [link](https://github.com/ForcemCS/KServing-Problem-solving)
![3](https://user-images.githubusercontent.com/57245053/202609587-9d5eef4b-6c5f-4bfd-8db4-a93a37290b87.png)

[2022-11-18 05:02] mbrancato commented on #13248
yes, we're using exclusion filters - I think it reduces the cost but I'm not entirely sure. I think in general it's good to expose these kinda of failures as metrics, and not print each one as a log.

My comment about the warning not being needed may have been glossed over. A pod being probed and failing to return success if not a warning for the activator (or queue proxy, really), it's working as

[2022-11-18 11:00] eladh commented on #13478
I

[2022-11-18 11:00] #13478 closed

[2022-11-18 12:02] #13470 closed

[2022-11-18 14:26] amarflybot opened #13486 "Build from Souce"
/area build

I need to build kNative serving images from Source on CentOS/RHEL 7. Could you please suggest where can I get the docker images for controller, auto-scaler, etc.. or if there are any tools so change the source image.

Regards

[2022-11-19 02:27] yuzisun opened #13487 "Old revision does not scale down when TargetBurstCapacity set to 0"
## What version of Knative?

 1.7.x

## Expected Behavior

After updating the knative service,  the previous revision should be scaled down once the new revision is in ready state no matter `targetBurstCapacity` is set or not.

## Actual Behavior

Both old and new revisions are running when `targetBurstCapacity` is set to 0 to remove the activator from the path. It works as expected when we do not

[2022-11-19 04:22] mbrancato opened #13488 "queue-proxy nil pointer dereference"
## What version of Knative?
1.8.0

## Expected Behavior

No panic

## Actual Behavior

[code]

## Steps to Reproduce the Problem

No really sure, I noticed this panic in my logs. Seems to happen during a pod startup.

[2022-11-19 17:17] dprotaso commented on #13487
/triage accepted

[2022-11-19 17:21] rhuss commented on #13201
/remove-lifecycle stale

[2022-11-19 19:41] dprotaso commented on #13443
Going to close this issue - I don't know the state of Kong's integration with Knative so like Paul mentioned I'd reach out to them

[2022-11-19 19:41] #13443 closed

[2022-11-21 11:00] TobiasGoerke commented on #13185
As you noticed, Kustomize doesn't support replacing keys but I needed my stage specific config in a ConfigMap regardless.
I came up with a somewhat creative solution I thought I'd share with you.
I'm using ConfigMap (may be generated through a ConfigMapGenerator) that contains my config. The key here to make this work with replacements is to replace the `config-domain`'s whole data field:

[code]

[2022-11-21 14:25] psschwei commented on #13486
For the queue-proxy, the security context is set in the code [here](https://github.com/knative/serving/blob/25222686cdcd19b7383be78126246864f678650d/pkg/reconciler/revision/resources/queue.go#L83-L93), and don't think there's a config to modify it.

It might be worth checking what user the distroless image runs as and use that for your custom image...

[2022-11-21 15:54] psschwei commented on #13487
Another interesting thing is that the _new_ pod is still running too... in general, we'd expect a pod not getting requests to scale down much sooner than that (under two minutes).

[2022-11-21 16:18] dprotaso commented on #13487
Bisected it to this PR - https://github.com/knative/serving/pull/12033

Looks like the autoscaler tries to probe that the activator is in the path but the request is not being directed to the 'probing logic'. So it's being forwarded to the user container and being counted as regular request.

So effectively in low-TBC (to be confirmed if this affects TBC>0) settings this prevents scaling to 0.

Th

[2022-11-21 16:24] streamnsight commented on #13359
@nak3 @evankanderson
any news on this? I'd like to hear someone confirm they are able to make it work and try to reproduce, because it doesn't work for me.

[2022-11-21 16:54] yuzisun commented on #13487
Thanks @dprotaso ! Would appreciate if you can help patch this to 1.7 release.

[2022-11-21 19:48] #13486 closed

[2022-11-21 20:55] psschwei commented on #13486
Awesome, glad it's working

[2022-11-22 09:18] MarcHeimann commented on #13185
Hey Tobias,

awesome, this indeed helps.

Cheers,
Marc

Von: Tobias Goerke ***@***.***>
Datum: Montag, 21. November 2022 um 12:00
An: knative/serving ***@***.***>
Cc: Marc Heimann ***@***.***>, Manual ***@***.***>
Betreff: Re: [knative/serving] config-domain ConfigMap structure malformed (Issue #13185)
Be aware: This email was created outside of Vanderlande. Be cautious of its contents and do not

[2022-11-22 18:36] dprotaso commented on #13487
Yeah - I'll be pulling this fix back to older releases (probably back to 1.5)

[2022-11-23 07:43] milank78git commented on #13451
My configuration knative custom gateway

[code]
----
[code]

And I have domanmapping with configuration

[code]

If test in bash  **nmap --script ssl-enum-ciphers -p 443 rest-dsl.test.example.com**

return  all tls version.
[code]

[2022-11-23 12:02] knative-prow-updater-robot opened #13498 "[flaky] test/e2e/domainmapping.TestBYOCertificate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/domainmapping.TestBYOCertificate
* **Repository name**: serving

[2022-11-23 16:10] #12932 closed

[2022-11-24 15:06] dprotaso commented on #13471
cc @skonto @evankanderson

[2022-11-24 15:07] #13487 closed

[2022-11-24 16:20] dprotaso commented on #13308
@psschwei anything left here?

[2022-11-24 16:41] dprotaso commented on #13471
@daraghlowe I'm assuming you're dropping the `seccompProfile` from the installation yamls correct?

[2022-11-24 16:49] dprotaso commented on #13471
I'm sorta inclined to roll this change back. Operators can enforce a `RuntimeDefault` seccomp for all workloads

https://kubernetes.io/docs/tutorials/security/seccomp/#enable-the-use-of-runtimedefault-as-the-default-seccomp-profile-for-all-workloads

[2022-11-24 16:57] dprotaso commented on #13471
/triage accepted

[2022-11-24 17:09] daraghlowe commented on #13471
We run the Knative control plane on a non gvisor node pool so we didn't have any issues upgrading. Our Knative services run on a gvisor node pool however so we only saw the problem with the queue-proxy container.

[2022-11-24 17:32] skonto commented on #13471
@dprotaso
My proposal would be:
a) rollback
b) make this configurable because people may want to add the profile only for Knative and not for all workloads.

[2022-11-24 19:15] dprotaso commented on #13471
I created a PR to address a)

I think b) would be covered by Evan's PR https://github.com/knative/serving/pull/13398

[2022-11-24 20:11] #13471 closed

[2022-11-24 20:42] dprotaso commented on #13487
@yuzisun Point releases should be out next Tuesday when the automation kicks off.

I'll post a nightly link when that becomes available if you care to verify the fix beforehand.

[2022-11-24 23:33] dprotaso commented on #13471
I wonder if we should remove the default profile in our control plane release yamls as well.

If someone is running the Knative control plane in gVisor or an earlier OpenShift release it will fail to upgrade.

I think the sensible thing is to wait till our k8s min version supports 1.25 to introduce these defaults. I'm assuming that's when they have an effect.

Though in the gVisor situation it'll

[2022-11-25 09:55] daraghlowe commented on #13471
Thanks for the fix @dprotaso

[2022-11-25 11:48] nak3 commented on #13471
Sorry for the interrupting.
Speaking of the installation yamls, Daragh does not hit any issue because of running on non gvisor node as per https://github.com/knative/serving/issues/13471#issuecomment-1326695720 but it is better to drop `seccompProfile`?

Otherwise, users have to remove it manually or they cannot drop it on the worst case if they install it via operator. At least, I  think that the

[2022-11-25 13:48] salamer opened #13511 "Why is minActivators a fixed value of 2 in KPA mode"
Hello, When I useing Knative serving. I found that every time knative serving will start at least 2 pods to provide services, I checked the code and found that this is a fixed value in KPA mode (`minActivators`) , not a configuration value.

I would like to ask, what is the reason for this? Is it possible to change this to be configurable?

and thank you for the reply, Knative is a great job!

[2022-11-25 15:20] tonychue commented on #13485
Found a workaround.
"activator","knative.dev/pod":"activator-dd544f9cc-rbqkf","knative.dev/key":"opa-knative/httpbinary-00001","curDests":
{"ready":"10.244.4.128:8012","notReady":""},"error":"unexpected status code: want [200], got 403"}
The activator probe keeps failing due to the opa policy constantly try to complete a health check as such it needs to confirm that the opa pods are healthy before

[2022-11-25 22:42] dprotaso opened #13512 "Remove the default seccompprofile.type in our control plane release yamls"
I wonder if we should remove the [seccomp] default profile in our control plane release yamls as well.

If someone is running the Knative control plane in gVisor or an earlier OpenShift release it will fail to upgrade.

I think the sensible thing is to wait till our k8s min version supports 1.25 to introduce these defaults. I'm assuming that's when they have an effect.

Though in the gVisor situat

[2022-11-25 22:42] dprotaso commented on #13471
Created a new issue

[2022-11-25 22:43] dprotaso commented on #13512
We should cherry pick this back before Tuesday's 1.8.1 release

[2022-11-26 07:16] salamer commented on #13511
the code position is here [https://github.com/knative/serving/blob/main/pkg/reconciler/autoscaling/kpa/kpa.go#L52](https://github.com/knative/serving/blob/main/pkg/reconciler/autoscaling/kpa/kpa.go#L52) and value would not be changed in any other place.

[2022-11-27 12:00] #13498 closed

[2022-11-28 03:10] milank78git commented on #13451
@psschwei Hi, Is there a way out with this configuration ?

[2022-11-28 03:22] xtaje opened #13513 "Knative routing of cluster local host names does not match k8s dns behavior"
## In what area(s)?
/area API
/area networking

## What version of Knative?

## Expected Behavior

Assume that the foobar service is deployed to the baz namespace, and we are trying to call foobar from another pod in the baz namespace.  Calls of the form `curl foobar` should work with knative, the same as with a normal k8s Service, which will automatically route to `foobar.baz`.

## Actual Behavio

[2022-11-28 15:34] psschwei commented on #13308
Nope, we're all done.

[2022-11-28 15:34] #13308 closed

[2022-11-28 15:45] dprotaso commented on #13512
Seeing how prolific this (many Knative repos and even their dependencies) it's not worth the hassle. Even if we make the changes end-users will have to customize yamls (ie. cert-manager) for this to work.

[2022-11-28 15:45] #13512 closed

[2022-11-28 15:46] dprotaso commented on #13471
From: https://github.com/knative/serving/issues/13512#issuecomment-1329324730

[2022-11-28 22:43] yuzisun commented on #13487
Thanks, will check tomorrow and verify the fix.

[2022-11-28 23:00] dprotaso commented on #13487
Nightly is here
https://gcsweb.knative.dev/gcs/knative-nightly/serving/previous/v20221127-b7492cc7e/

[2022-11-29 00:05] nak3 commented on #13451
Hi @milank78git What Istio version you are using? (Sorry if you mentioned it somewhere and I missed it.)
Although I wonder that we need to change the net-istio code which would generate an Istio Gateway, Istio should set the min TLS version when no `minProtocolVersion` is set.

[2022-11-29 06:59] ktsakalozos opened #13519 "Fail to deploy correctly on k8s v1.26 rc"
Enabling the knative via the operator on the 1.26-RC is failing. The K8s v1.26 release removes the
`autoscaling/v2beta2` API version of `HorizontalPodAutoscaler`, the `autoscaling/v2` should be used instead [1]. Enabling the knative addon (see repro steps below) results in `microk8s.kubectl describe -n knative-serving knativeserving.operator.knative.dev` showing the following warning:

[code]
Look

[2022-11-29 07:19] simonkrenger commented on #11997
/remove-lifecycle stale
/reopen

[2022-11-29 12:46] psschwei commented on #13519
Hmm, looks like we missed cherry-picking #13411 to the release... any way you could test with the [nightlies](https://gcsweb.knative.dev/gcs/knative-nightly/serving/previous/v20221129-bcef4be92/)?

[2022-11-30 00:49] dprotaso commented on #13519
This is merged:  https://github.com/knative/serving/pull/13521

Should be out in a 1.8.2 - fix next week

[2022-11-30 16:13] diarmuidie opened #13525 "503s During Activator Add/Remove from the Path and KSVC Scale Events"
## What version of Knative?

## Expected Behavior

Scaling events happen without 503s

## Actual Behavior

I'm observing a burst of 503s happen whenever the activator is added or removed from the path, or the KSVC scales up or down, or a new revision of an app is deployed i.e. something in the path between Istio and the Knative user container changes.

These 503s show up in Istio as `upstream_rese

[2022-11-30 17:15] dprotaso commented on #13525
Do you have more details about the Knative services that are experiencing 503s

ie. https://github.com/knative/serving/issues/11926

[2022-11-30 17:16] dprotaso commented on #13525
/triage needs-user-input