[2019-08-27 20:14] #5291 closed, assigned to vagababov

[2019-08-27 20:30] wilsonianb opened #5306 "Allow runtimeClassName and dnsPolicy in service template spec"
## In what area(s)?

/area API
/kind spec

## Describe the feature

Allow `runtimeClassName` and `dnsPolicy` fields in the service template spec (currently disallowed [here](https://github.com/knative/serving/blob/d2ea625894c4fc9fba2caeca88792f87e020408b/pkg/apis/serving/fieldmask.go#L151-L177)) in order to be able to run untrusted pods with knative.

Example:
[code]

### RuntimeClass

Different r

[2019-08-27 20:50] mdemirhan opened #5307 "Request metrics are not accurate with prometheus"
## In what area(s)?

/area monitoring

## What version of Knative?
All versions.

## Expected Behavior
Request metrics that are generated by queue-proxy are accurate.

## Actual Behavior
Due to the short lived nature of our pods, a pod could get destroyed before Prometheus had a chance to scrape the pod, which means that we will be missing data in our metrics.

[2019-08-27 22:11] #5302 closed, assigned to adrcunha

[2019-08-27 22:12] Morriz commented on #5111
An operator would certainly be welcome, and I'd rather wait for that. I separated the crds myself now and am pre-processing the files to inject them into a skeleton chart on the fly.

[2019-08-27 22:12] #5111 closed

[2019-08-27 23:52] yuzisun opened #5311 "knative ingress gateway not able to route request for port other than 80"
## In what area(s)?

 /area networking

## What version of Knative?

0.7.1

## Expected Behavior

when istio ingress gateway is on node port 31380, we should expect following curl to work since it is expected that host header is set to be the same as the authority URI especially when client is going through some proxy.

`curl -v -H "Host: hello.dsun.example.com:31380" http://hello.dsun.example.com

[2019-08-28 04:04] nak3 commented on #5243
/assign

[2019-08-28 05:42] nak3 opened #5315 "Support self signing Issuers and should be used by default when autoTLS is enabled"
## In what area(s)?

/area networking
/kind proposal

## Describe the feature

Currently autoTLS supports only ACME, CA issuer. But we would like to have one more [self-signing issuer](https://docs.cert-manager.io/en/latest/tasks/issuers/setup-selfsigned.html) with following motivations.

- It is the easiest configuration. (we would be able to use for simple e2e test https://github.com/knative/ser

[2019-08-28 05:42] nak3 commented on #5315
/assign

[2019-08-28 14:49] bvennam opened #5320 "Error creating zipkin endpoint and missing traces"
## In what area(s)?

 /area monitoring

## What version of Knative?

v0.8.0-130-gc49080b3-dirty

## Expected Behavior

No error messages in activator when zipkin endpoint is created as a result of configuration update.

## Actual Behavior
When tracing is enabled, the activator has the following error message:
{"level":"error","ts":"2019-08-28T13:40:11.650Z","logger":"activator-service","caller":"t

[2019-08-28 18:30] #5320 closed, assigned to nobody

[2019-08-28 21:19] mattmoor commented on #4902
I actually found a great visualization of this issue playing with observability of eventing across service invocations.  With a simple `foo` -> `bar` -> `baz` sequence through the broker:

![image](https://user-images.githubusercontent.com/2442466/63892866-80d4f800-c99d-11e9-864f-3a9afc845a76.png)

Note that despite the `throttler_try` being fairly small, the probes on `bar` and `baz` take until t

[2019-08-29 05:45] nak3 opened #5324 "server entry in Gateway is overwritten with same service name in different namespace"
## In what area(s)?

/area networking

## What version of Knative?

`v0.8.0-160-g526e09ed`

## Actual Behavior

- Gateway host for https is overwritten with same service name in different namespace.
- The port name in Istio gateway must be unique so knative also needs to create https servers with unique port name.

https://github.com/istio/istio/blob/837e386ea4db3819bad9dfc14d28278fc94cbee3/pkg/co

[2019-08-29 14:48] mattmoor opened #5327 "SKS goes to Serve mode when autoscaler restarts"
## In what area(s)?

/area autoscale

## What version of Knative?

HEAD

## Expected Behavior

SKS's stay in Proxy mode.

## Actual Behavior

All SKS immediately enter Serve mode:
[code]

NOTE: This won't succeed because the private service doesn't have endpoints, but we should fix it nonetheless.

## Steps to Reproduce the Problem

1. deploy a ksvc
2. wait for scale to zero
3. delete autoscaler p

[2019-08-29 15:43] mattmoor commented on #4902
If I hack the logic in the activator to use the first Pod IP to appear in the Endpoints backing the private service everything looks great:
![image](https://user-images.githubusercontent.com/2442466/63955049-f510a980-ca38-11e9-823b-a201aa5ef507.png)

So in theory this should be addressed by https://github.com/knative/serving/issues/3885

[2019-08-29 15:47] tcnghia commented on #4902
In theory, when using Istio sidecar, the proxies may be able to update their endpoints faster.  So once  #3885 is done we should be able to address the issue completely.

[2019-08-29 15:48] tcnghia commented on #4902
(at least the endpoint updates could be tuned without having to change the kubelet itself)

[2019-08-29 17:29] vagababov commented on #5327
We don't go to proxy mode is want=-1 and the revision _was already_ scaled to 0.
Fix is out soon...

[2019-08-29 21:45] weikinhuang commented on #4417
Would it be possible to add `emptyDir` as an allowed type as that would not have state, should not present a scaling problem, and have rw storage outside the docker overlay. Also having `emptyDir` and `medium: Memory` will allow users to create larger `tmpfs` mounts where write intensive operations can happen in memory and not disk, which could wear down SSDs on selfhosted instances and would be o

[2019-08-29 21:52] #5327 closed

[2019-08-30 05:12] nak3 opened #5331 "ClusterIngress should be cleaned up from source"
/area API
/area networking

Although https://github.com/knative/serving/issues/3982 is closed, there are many ClusterIngress in the source codes - e.g. https://github.com/knative/serving/blob/master/pkg/reconciler/clusteringress/clusteringress_test.go

I am opening this ticket to track it.

cc @wtam2018 @tcnghia

[2019-08-30 05:23] nak3 opened #5332 "Remove namespace check for ClusterIngress in gateway.go"
This ticket is blocked by https://github.com/knative/serving/issues/5331

/area API
/area networking

As there are many ClusterIngress in codes including unit tests currently, gateway code still needs to have a verification for ClusterIngress.
In particular, https://github.com/knative/serving/pull/5325 has the discussion as https://github.com/knative/serving/pull/5325/files#r319259771.

I am openi

[2019-08-30 05:23] nak3 commented on #5332
/assign

[2019-08-30 12:02] knative-test-reporter-robot opened #5335 "[flaky] test/scale.TestScaleToN"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN
* **Repository name**: serving

[2019-08-30 19:54] ZhiminXiang opened #5342 "Generate namespace controller specific yaml"
## In what area(s)?

## Describe the feature
After PR https://github.com/knative/serving/pull/4463/files is checked in, we need to modify [generate-yaml.sh](https://github.com/knative/serving/blob/bac5394a72222671f93dfcf67e777496d872eec2/hack/generate-yamls.sh) to not include networking-ns-cert.yaml into the core Serving yaml.
Instead, we should put it into a separate yaml (e.g. serving-namespace-

[2019-08-30 19:55] ZhiminXiang commented on #5342
/cc @rmoe

[2019-08-30 20:08] mattmoor commented on #4902
This is with @greghaynes change (https://github.com/knative/serving/pull/5011):
![image](https://user-images.githubusercontent.com/2442466/64048087-8d845800-cb25-11e9-8c59-177572d9de10.png)

Eventing flows through the broker feel significantly faster with this.  Nice work @greghaynes !

[2019-08-30 20:54] bbhuston commented on #4868
@mattmoor Sorry for the delayed response.  Was on an awesome vacation and was a little too lazy to check up on this.

Anyway, I reran the terraform/gke/knative setup that I posted above and then manually opened up port 8443 for the clusters master and worker node firewall rules.  And BOOM!  It works.  Thank you for the follow-up and please feel free to close this issue.

[2019-08-30 22:33] #5216 closed

[2019-08-31 12:02] knative-test-reporter-robot opened #5347 "[flaky] test/e2e.TestMultipleNamespace"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestMultipleNamespace
* **Repository name**: serving

[2019-08-31 12:02] knative-test-reporter-robot opened #5348 "[flaky] test/e2e.TestHelloWorld"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestHelloWorld
* **Repository name**: serving

[2019-08-31 12:02] knative-test-reporter-robot opened #5349 "[flaky] test/e2e.TestCallToPublicService"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestCallToPublicService
* **Repository name**: serving

[2019-08-31 12:02] knative-test-reporter-robot opened #5350 "[flaky] test/e2e.TestServiceToServiceCall/short"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestServiceToServiceCall/short
* **Repository name**: serving

[2019-08-31 12:02] knative-test-reporter-robot opened #5351 "[flaky] pkg/reconciler/route.TestRouteDomain"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestRouteDomain
* **Repository name**: serving

[2019-08-31 12:02] knative-test-reporter-robot opened #5352 "[flaky] test/e2e.TestAutoscaleUpCountPods"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleUpCountPods
* **Repository name**: serving

[2019-08-31 12:02] knative-test-reporter-robot opened #5353 "[flaky] test/e2e.TestServiceToServiceCall"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestServiceToServiceCall
* **Repository name**: serving

[2019-08-31 12:02] knative-test-reporter-robot opened #5354 "[flaky] test/e2e.TestAutoscaleUpCountPods/kpa"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleUpCountPods/kpa
* **Repository name**: serving

[2019-08-31 12:02] knative-test-reporter-robot opened #5355 "[flaky] test/e2e.TestServiceToServiceCallViaActivator/both-disabled"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestServiceToServiceCallViaActivator/both-disabled
* **Repository name**: serving

[2019-08-31 12:02] knative-test-reporter-robot opened #5356 "[flaky] test/e2e.TestPodScheduleError"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestPodScheduleError
* **Repository name**: serving

[2019-08-31 12:02] knative-test-reporter-robot opened #5357 "[flaky] pkg/autoscaler.TestMultiScalerScaling"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/autoscaler.TestMultiScalerScaling
* **Repository name**: serving

[2019-08-31 12:02] knative-test-reporter-robot opened #5358 "[flaky] test/e2e.TestAutoscaleUpCountPods/hpa"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleUpCountPods/hpa
* **Repository name**: serving

[2019-08-31 12:02] knative-test-reporter-robot opened #5359 "[flaky] test/e2e.TestServiceToServiceCall/shortest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestServiceToServiceCall/shortest
* **Repository name**: serving

[2019-08-31 12:02] knative-test-reporter-robot opened #5360 "[flaky] test/e2e.TestGRPCUnaryPingViaActivator"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestGRPCUnaryPingViaActivator
* **Repository name**: serving

[2019-08-31 12:02] knative-test-reporter-robot opened #5361 "[flaky] test/e2e.TestCallToPublicService/external_address"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestCallToPublicService/external_address
* **Repository name**: serving

[2019-09-01 14:09] wtam2018 commented on #5331
/assign

[2019-09-01 18:49] vagababov opened #5364 "Activator having problems during scale down"
## In what area(s)?

/area autoscale
/area networking

## Expected Behavior

1. Activator can sustain 1kQPS for autoscale-go at 100ms delay with a single instance.
2. So when we scale down from N replicas, no traffic should be dropped

## Actual Behavior

Traffic is dropped (503s) and noticeable increase in latency happens for a while
https://mako.dev/run?run_key=5233095783481344&&~a=1&~ae=1
or ht

[2019-09-02 02:01] #5324 closed

[2019-09-02 06:39] #3584 closed

[2019-09-02 12:02] #5354 closed

[2019-09-02 12:02] #5272 closed

[2019-09-02 12:02] #5269 closed

[2019-09-02 12:02] #5348 closed

[2019-09-02 12:02] #5347 closed

[2019-09-02 12:02] #5359 closed

[2019-09-02 12:02] knative-test-reporter-robot opened #5368 "[flaky] pkg/activator/net.TestThrottler/spread_podIP_load"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestThrottler/spread_podIP_load
* **Repository name**: serving

[2019-09-02 12:02] #4892 closed

[2019-09-02 12:02] knative-test-reporter-robot opened #5369 "[flaky] pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap
* **Repository name**: serving

[2019-09-02 12:02] #5271 closed

[2019-09-02 12:02] #5270 closed

[2019-09-02 12:02] knative-test-reporter-robot opened #5370 "[flaky] pkg/activator/net.TestThrottler"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestThrottler
* **Repository name**: serving

[2019-09-02 12:02] #5353 closed

[2019-09-02 12:02] #5356 closed

[2019-09-02 12:02] #5355 closed

[2019-09-02 12:02] #5350 closed

[2019-09-02 13:02] zcahana commented on #4865
This has been fixed in istio/istio#15950 (parent issue istio/istio#13106).

[2019-09-03 00:58] duglin commented on #4173
Is this still on-track for 0.9 ?

[2019-09-03 07:10] nak3 commented on #5295
I was concerened about CPU/Memory resources when the log was overflowed. So, I quickly collected the profile data with 100 services. (sorry it may be too small, but my personal cluster is limited :cold_sweat:)

####  Result
Memory: 22MiB to 33MiB
CPU:    0.02 to 0.08

![autoscaler](https://user-images.githubusercontent.com/2138339/64151018-736bb200-ce64-11e9-9cd0-6f00a8b62ae1.png)

As per above re

[2019-09-03 07:10] #5295 closed

[2019-09-03 12:02] #5357 closed

[2019-09-03 12:02] #5060 closed

[2019-09-03 17:04] taragu commented on #5304
@nak3 @jonjohnsonjr can I work on this issue?

[2019-09-03 18:03] dgerd commented on #4173
Yes.

I should have time later this week to work on this and get a PR out. If you (or someone) has time and wants to pick it up sooner I am happy to review.

[2019-09-03 20:58] JRBANCEL opened #5378 "Use functional options for spoof.New"
## In what area(s)?

/area test-and-release
/assign

## Describe the feature
https://github.com/knative/pkg/pull/620 introduces a race and a better way to provide customization of the http.Transport is to use the functional options pattern instead of requiring a http.Transport in the constructor.

[2019-09-04 00:16] mattmoor opened #5382 "Improve the error messages from our readiness probe validation"
## In what area(s)?

/area API

## What version of Knative?

HEAD

## Expected Behavior

When validating readiness probe fields, e.g. `failureThreshold` we should make clear that it is not wholly disallowed, but disallowed *when `periodSeconds` is zero* (and that either `periodSeconds` should be specified, or `failureThreshold` omitted).

## Actual Behavior

When `failureThreshold` is provided wit

[2019-09-04 05:26] mattmoor opened #5389 "TestCallToPublicService/external_address requires resolvable URLs"
## In what area(s)?

/area networking

## What version of Knative?

HEAD

## Expected Behavior

`TestCallToPublicService/external_address` should consistently pass without DNS set up.

## Actual Behavior

`TestCallToPublicService/external_address` flakes a lot because of `xip.io` flakes and fails outright when the DNS is misconfigured.

[2019-09-04 05:27] mattmoor commented on #5389
One potential solution to this would be to optionally provide the gateway IP address via an environment variable here: https://github.com/knative/serving/blob/582ccb4a46d5347b47fdc3e72c7e17731c2f79f9/test/e2e/service_to_service_test.go#L98-L99

... when the resolvable domain flag is not set.

[2019-09-04 05:28] mattmoor commented on #5389
This also requires an update to the image here: https://github.com/knative/serving/blob/582ccb4a46d5347b47fdc3e72c7e17731c2f79f9/test/test_images/httpproxy/httpproxy.go#L43-L44

[2019-09-04 05:29] mattmoor commented on #5389
/kind good-first-issue

[2019-09-04 05:32] mattmoor commented on #5389
cc @zsxking

[2019-09-04 05:57] #5382 closed

[2019-09-04 09:44] nak3 commented on #5304
Sure, no problem & thank you @taragu

Just in case, I think the status update within this gorountine https://github.com/knative/serving/blob/58e814a3b4d7d631ccf2215c532a3d8ba3f802dc/pkg/autoscaler/collector.go#L252 may need to be handled well, as it is running every 1 sec for every single revisions in the cluster + out side of reconciler. The behavior is different from other objects.

[2019-09-04 13:00] taragu commented on #5304
I see. Thanks for the pointers @nak3 !
/assign

[2019-09-04 18:16] chunlongliang-ibm opened #5393 "Need to recreate knative-ingress-gateway every couple hours"
I edit the following gateway yaml to enable TLS
kubectl edit gateway -n knative-serving knative-ingress-gateway -o yaml
by adding
    tls:
      mode: SIMPLE
      privateKey: /etc/istio/ingressgateway-certs/tls.key
      serverCertificate: /etc/istio/ingressgateway-certs/tls.crt

However, every couple hours, my configuration is erased, and back to default. I do NOT have any of following configura

[2019-09-04 21:42] ssmall commented on #4470
The recommendation to solve this issue is to redefine these metrics so that they can be expressed cumulatively instead of as a Gauge. Since changing the metrics type for existing metrics is a backwards-incompatible change, my proposal is to introduce 5 new cumulative metrics to replace the 5 existing autoscaler metrics.

[2019-09-04 21:45] vagababov commented on #4470
What is the sum of the pods over the time logically, though?  :)

[2019-09-04 22:38] ssmall commented on #4470
"Cumulative" doesn't necessarily mean "sum". We also have cumulative distributions.

Realistically, the semantics of the metrics are going to have to change subtly to work as cumulative. Examples: we could report "max_desired_pods" as the max number of desired pods over the last 60s. Or instead of reporting "panic_mode" as a boolean, we could report "panic_mode_time" as a cumulative counter of the

[2019-09-05 00:32] nak3 commented on #5172
Yes, I think that it is good idea to use non-global gateway. Nice idea @trshafer.
And I think https://github.com/knative/serving/issues/4312 will cover this RFE. cc @ZhiminXiang

[2019-09-05 01:03] nak3 commented on #4862
Closing as it is fixed by https://github.com/knative/serving/pull/5158

[2019-09-05 01:03] #4862 closed

[2019-09-05 01:50] nak3 commented on #5393
Did you deploy knative serving with serving-operator https://github.com/knative/serving-operator ?
serving-operator has the bugs, though I had confirmed it with old version.

[2019-09-05 03:11] chunlongliang-ibm commented on #5393
We did use knative eventing and serving operators

[2019-09-05 03:22] nak3 commented on #5393
Thank you. Can you confirm if following steps to produce the issue on your env?

#### 1. Modify Gateway

[code]

e.g.

BEFORE:

[code]

AFTER:

[code]

#### 2. Restart one of serving pods

e.g.
[code]

#### 3. Verify Gateway again

Modified Gateway is initialized.

If the issue on above step-3 happens, I am sure that you hit a operator's bug. So can you file the bug ticket against https://github.c

[2019-09-05 04:06] chunlongliang-ibm commented on #5393
Thanks! yes, those steps recreate the problem

[2019-09-05 04:23] chunlongliang-ibm commented on #5393
I opened issue https://github.com/knative/serving-operator/issues/160

[2019-09-05 05:00] nak3 commented on #5393
Thank you.

I believe that the operator has some(actually many) triggers to initialize the gateway as we saw https://github.com/knative/serving-operator/issues/160 as an example.
So, would you mind closing this issue here, and tracking https://github.com/knative/serving-operator/issues/160? I think you can re-open this issue if you have experienced the issue after https://github.com/knative/servin

[2019-09-05 10:48] savitaashture opened #5399 "Throw an error for autoscaling.knative.dev/window when provided class is hpa.autoscaling.knative.dev"
## In what area(s)?

/area API
/area autoscale

## Ask your question here:
https://github.com/knative/serving/blob/master/pkg/apis/autoscaling/register.go#L74 shows that only `kpa.autoscaling.knative.dev` class autoscaler supports `autoscaling.knative.dev/window` annotation.

**Current:**
service create successfully when `autoscaling.knative.dev/window` provided with `hpa` class
[code]

**Expected

[2019-09-05 12:02] #5203 closed

[2019-09-05 13:43] chunlongliang-ibm commented on #5393
Thanks!

[2019-09-05 13:43] #5393 closed

[2019-09-05 17:18] savitaashture opened #5403 "Invalid autoscaling.knative.dev/class annotation failed to create ksvc but with no reason in PA status"
## In what area(s)?

/area API
/area autoscale

## What version of Knative?

## Expected Behavior

1. Failure reason should be present in the PA status or while creating ksvc itself should fail based on webhook validation

## Actual Behavior

1. Created service with status info like below
[code]
2. PA with no status info for failure
[code]
[code]
3. Pod is up and running
[code]
**Application acces

[2019-09-05 17:34] savitaashture commented on #5403
@markusthoemmes @dgerd @vagababov

If value of `autoscaling.knative.dev/class` annotation is invalid
We can handle in two ways
1. Doing annotation validation during service creation
2. Showing the status with reason in PA status

Which one we can proceed
Any suggestion on this?

[2019-09-05 17:40] Justin2997 commented on #3001
Because of @bradhoekstra PR I think we can close that.

[2019-09-05 17:40] #3001 closed

[2019-09-05 17:44] vagababov commented on #5403
This should fail revision validation and revision should never be created,
I think.

On Thu, Sep 5, 2019 at 10:34 AM savitaashture <notifications@github.com>
wrote:

[2019-09-05 17:50] savitaashture commented on #5403
Yes if failed in revision validation than it should show up at the creation of service itself and it should not allow to create a service

[2019-09-05 18:03] dgerd commented on #5403
IIRC we had a similar issue with another annotation on the RevisionTemplate where we were validating it on Revision creation and exposing a not so friendly error. We fixed that issue by moving the validation up to the RevisionTemplate validation so it would hit on the webhook.

We should bias towards:
1. Error as early as possible -- Less chance the error could create problems or side-effects. Eas

[2019-09-05 19:03] assafsauer opened #5405 "shifting traffic not behaving as expected"
Ive noticed some strange behavior using route config.
I created route that shifts traffic 50/50 between to revisions.
I run continues GET requests and checked the "Revision HTTP requests" report on Grafana.
From some reason , I see that only app-from-source-00001 getting the traffic.

## Expected Behavior
HTTP requests should be load balanced 50/50%

## Actual Behavior
i see only HTTP requesr for

[2019-09-05 19:24] tcnghia commented on #5405
/area networking

@assafsauer can you please add Knative version?

Also, can you please attach output of `kubectl get ingresses.networking.internal.knative.dev -o yaml`, and `kubectl get virtualservice -o yaml`?  Thanks

[2019-09-05 19:29] tcnghia commented on #5403
What would define a valid value for `autoscaling.knative.dev/class`?  I believe the purpose is for extensions, which means we won't have a complete list of valid values without knowing the extensions.

In this case we could probably do something special if the value ends with `"knative.dev"` but the problem will still exist for typos like `foo.bar.native.dev`.

[2019-09-05 19:36] assafsauer commented on #5405
my installation is based PKS
 https://knative.dev/v0.3-docs/install/knative-with-pks/

note: to support PKS , i had to edit the Istio yaml to replace the nodeport with loadbalancer.

root@ubuntu:/home/viewadmin/knative# kubectl get virtualservice -o yaml
apiVersion: v1
items: []
kind: List
metadata:
  resourceVersion: ""
  selfLink: ""

root@ubuntu:/home/viewadmin/knative# kubectl get ingresses.ne

[2019-09-05 19:39] dgerd commented on #5403
At what point in time do we know the valid set, or do we only know if a particular value is valid by attempting to use it?

[2019-09-05 19:40] tcnghia commented on #5405
assafsauer:  the doc you link is a very old one... (Knative 0.3).

Can you try this instead https://knative.dev/docs/install/knative-with-pks/ ?

[2019-09-05 19:45] tcnghia commented on #5403
I don't know if we currently have a mechanism to know a valid set before hand.  At least in the case of the Ingress(`ingresses.networking.internal.knative.dev`) resource we do not ask the implementations to do anything beside reconcile and provide a Status update.

So... beside waiting for a while and fail when seeing no Status update I am not sure we currently have anything better.  @vagababov ca

[2019-09-05 20:38] vagababov commented on #5403
Well, I guess we can issue a warning in the log that the annotation points
to an unknown autoscaler class?

On Thu, Sep 5, 2019 at 12:45 PM Nghia Tran <notifications@github.com> wrote:

[2019-09-05 21:21] ahmetb commented on #4435
Also worth considering adding a more verbose error message around the tag resolver, like:

Otherwise it's really difficult for an end-user to debug why it's failing (despite image pull secrets are configured).

[2019-09-05 22:06] mattmoor commented on #4435
@ahmetb Can you open a separate issue so that feedback isn't lost when the concrete issue here is resolved?

[2019-09-05 22:36] dgerd opened #5406 "Filter `kubectl.kubernetes.io/last-applied-configuration` from annotation propagation"
## In what area(s)?

/area API

## What version of Knative?

0.8.x
HEAD

## Expected Behavior
kubectl.kubernetes.io/last-applied-configuration is only on the CRD object that I edited with kubectl

## Actual Behavior
We propagate annotations down to child objects. This is generically useful and we do it to allow setting useful annotations on child objects. For example, setting cluster visibility on

[2019-09-06 01:12] nak3 commented on #5406
@dgerd I was thinking that it was fixed by https://github.com/knative/serving/pull/5202. But it still exists?

[2019-09-06 03:54] dgerd commented on #5406
Looks like I might just need to sync to master again. Closing.

[2019-09-06 03:54] #5406 closed

[2019-09-06 04:37] ahmetb opened #5410 "Wrap the error from the registry with an explanatory message when image digest resolution failed"
/area API
/kind good-first-issue

When knative-serving controller fails to resolve the digest of an image, it directly returns the error message from Docker Registry API in the Revision error.  Example can be seen as #4435.

Therefore users can't tell why Revision is failing, and they will think it's the "image pull" failing so they will try to look at image pull secrets.

Consider adding a more v

[2019-09-06 04:50] assafsauer commented on #5405
HI ,

i upgraded my Knative to the new version but now it seems that  kind
"BuildTemplate" is not supported.
error: unable to recognize "kaniko.yaml": no matches for kind
"BuildTemplate" in version "build.knative.dev/v1alpha1"

oot@ubuntu:/home/viewadmin/knative# kubectl get deploy -n knative-serving
--label-columns=serving.knative.dev/release
NAME               READY     UP-TO-DATE   AVAILABLE

[2019-09-06 05:39] assafsauer commented on #5405
ahh ok.
i see that Knative Build is deprecated in favor of Tekton Pipelines.

On Fri, Sep 6, 2019 at 6:49 AM Assaf Sauer <as.sauer@gmail.com> wrote:

[2019-09-06 05:44] savitaashture commented on #5403
Adding a warning in the log is good only.
but i feel like it will be difficult for the user to see the logs and analyze to know what went wrong.

[2019-09-06 16:29] vagababov commented on #5403
Well we cannot outright fail in validation, since currently it does not know what extensions are there.

[2019-09-06 16:39] yanweiguo commented on #5364
Easier way to reproduce:

1. Setup [autoscale-go service](https://github.com/knative/docs/blob/master/docs/serving/samples/autoscale-go/service.yaml) with
[code]

1. Delete HPA for activator.

[code]

1. Scale activator pods count to 2.
[code]

1. Send traffic to autoscale-go service.
[code]

1. When the traffic is still on flight, scale activator pods count to 1.
[code]

1. When vegeta command co

[2019-09-06 17:07] yanweiguo commented on #5364
When the activator receives SIGTERM, it closes websocket connection to autoscaler which results in failed readiness check.

There's a few seconds delay between the activator pod turns into terminating status and its IP gets removed from endpoints. However, add a sleep for 2 minutes before we shutdown activator service doesn't help: https://github.com/knative/serving/blob/master/cmd/activator/main.

[2019-09-06 17:16] yanweiguo commented on #5364
There are 503 requests logs in `ingress-gateway` which were sent to terminating activator pods. No 503 request logs found in `istio-proxy` sidecar or `activator` container.

Turning on `ingress-gateway` debug logs, found some logs:
[code]

So the requests were sent to unhealthy pod which no longer accept traffic.

[2019-09-06 17:22] VPashkov commented on #5410
Hi!
Can I take this issue?

[2019-09-06 17:26] yanweiguo commented on #5364
If I disable Isito-proxy sidecar for activator and redo the steps, I got some failed requests with the following error instead of 503:
[code]

[2019-09-06 17:31] knative-test-reporter-robot opened #5416 "[flaky] pkg/activator/handler.TestActivationHandler/active_endpoint"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/handler.TestActivationHandler/active_endpoint
* **Repository name**: serving

[2019-09-06 17:43] ahmetb commented on #5410
Yeah, why not

[2019-09-06 17:49] VPashkov commented on #5410
Awesome. On it.

[2019-09-06 17:54] nimakaviani commented on #5410
/assign @VPashkov

[2019-09-06 18:04] #5217 closed

[2019-09-06 18:55] JRBANCEL opened #5419 "The way we use URLs in E2E tests is completely broken"
## In what area(s)?

/area networking
/area test-and-release

## What version of Knative?
HEAD

## Bug
The were various changes related to URL vs Domain in `request.go`:
* https://github.com/knative/pkg/pull/308
* https://github.com/knative/pkg/pull/558

Right now it is broken because url.Parse will not parse the Host if no scheme is provided. See https://golang.org/src/net/url/url.go#L469 `Trying

[2019-09-06 19:57] yanweiguo commented on #5364
If I expose activator service as LoadBalancer and send traffic to its external IP directly:

* No 503s with Isito-proxy sidecar.
* Still a few `request canceled` errors without Isito-proxy sidecar.

[2019-09-06 22:56] #4058 closed

[2019-09-07 07:40] nak3 opened #5425 "Metrics still does not have status field"
## In what area(s)?

/area API
/area autoscale
/kind spec

## What version of Knative?

 Output of git describe --dirty

[code]

NOTE, the build includes https://github.com/knative/serving/pull/5395.

## Expected Behavior

Metrics has status field.

## Actual Behavior

No status field in Metrics object.

## Steps to Reproduce the Problem

1. Deploy knative serving and any ksvc
2. Check metrics fie

[2019-09-07 12:02] knative-test-reporter-robot opened #5426 "[flaky] pkg/activator/net.TestThrottler/single_healthy_podIP"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestThrottler/single_healthy_podIP
* **Repository name**: serving

[2019-09-07 12:02] knative-test-reporter-robot opened #5427 "[flaky] test/scale.TestScaleToN/scale-10"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-10
* **Repository name**: serving

[2019-09-07 17:38] vagababov commented on #5425
I think you just needed to reopen the old one. But obvious it won't work... it never writes anything to the API server.

[2019-09-07 19:12] vagababov commented on #5304
/reopen
this is mostly not done.

[2019-09-07 21:01] nak3 commented on #5425
Yes, thank you. Closing this PR as https://github.com/knative/serving/issues/5304 is re-opened.

[2019-09-07 21:01] #5425 closed

[2019-09-08 07:04] toVersus opened #5429 "How can I expose my gPPC server metrics"
## In what area(s)?

/area API
/area monitoring
/kind spec

## Ask your question here:

I would like to expose my gPRC server metrics with [go-grpc-prometheus](https://github.com/grpc-ecosystem/go-grpc-prometheus) and scrape it from the outside of the Pod by using [Daemonset of Datadog agent](https://docs.datadoghq.com/agent/kubernetes/daemonset_setup/). IIUC, in this case I need to create HTTP se

[2019-09-08 08:17] nak3 opened #5430 "networking.knative.dev and networking.internal.knative.dev are messed up in label and annotation key"
## In what area(s)?

/area networking

## What version of Knative?

HEAD

## Actual Behavior

- Currently, label and annotation for networking config are used both `networking.knative.dev` and `networking.internal.knative.dev` for the key.
- It looks like no rule between `networking.knative.dev` and `networking.internal.knative.dev`, so it is easy to make a mistake.

## Expected Behavior

- Either

[2019-09-08 12:01] knative-test-reporter-robot opened #5431 "[flaky] test/e2e.TestGRPCStreamingPingViaActivator"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestGRPCStreamingPingViaActivator
* **Repository name**: serving

[2019-09-08 12:01] knative-test-reporter-robot opened #5432 "[flaky] test/e2e.TestTargetBurstCapacityMinusOne"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestTargetBurstCapacityMinusOne
* **Repository name**: serving

[2019-09-08 12:01] knative-test-reporter-robot opened #5433 "[flaky] pkg/activator/net.TestRevisionDeleted"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestRevisionDeleted
* **Repository name**: serving

[2019-09-08 12:01] knative-test-reporter-robot opened #5434 "[flaky] pkg/activator/net.TestCheckDests"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestCheckDests
* **Repository name**: serving

[2019-09-08 13:56] cliveseldon commented on #2940
I'm still seeing this error following the docs: https://knative.dev/docs/install/knative-with-any-k8s/

First run with
[code]

Needed to run twice. Was using a fresh Kind cluster.

[2019-09-08 15:31] csantanapr commented on #2940
Yes I hit this recently also, always need to run twice with a sleep between the runs

Using kind also

[2019-09-08 16:41] nimakaviani commented on #2940
relevant: https://github.com/kubernetes-sigs/kind/issues/762

we attributed it to resource convergence taking longer on kind.

[2019-09-09 02:33] mattmoor opened #5436 "load-test errors should open an issue"
## In what area(s)?

/area autoscale
/area test-and-release

## Describe the feature

We need something that will open issues when error rates here increase:
https://mako.dev/benchmark?benchmark_key=5352009922248704&~l=count&error-count=1&tseconds=86400&stacked=1&analysis=0&tag=tbc%3Dzero

cc @Fredy-Z

[2019-09-09 12:02] #5426 closed

[2019-09-09 12:02] knative-test-reporter-robot opened #5442 "[flaky] pkg/activator/net.TestRevisionWatcher/single_healthy_podIP"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestRevisionWatcher/single_healthy_podIP
* **Repository name**: serving

[2019-09-09 12:02] knative-test-reporter-robot opened #5443 "[flaky] pkg/activator/net.TestRevisionWatcher"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestRevisionWatcher
* **Repository name**: serving

[2019-09-09 12:03] knative-test-reporter-robot opened #5444 "[flaky] pkg/queue/readiness.TestKnHTTPSuccessWithThreshold"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/queue/readiness.TestKnHTTPSuccessWithThreshold
* **Repository name**: serving

[2019-09-09 16:41] greghaynes commented on #4902
woo! Closing this

/close

[2019-09-09 16:41] #4902 closed

[2019-09-09 16:42] greghaynes commented on #4902
Actually, If someone has perms feel free to do the honors :)

[2019-09-09 17:19] markusthoemmes commented on #3885
@greghaynes this one done then? 🙂

[2019-09-09 17:24] savitaashture opened #5451 "Latest created Revision shows old generation value"
## In what area(s)?

/area API

## What version of Knative?

**Description:** Updating to the existing service creates a new revision with old `generation` and `observedGeneration` value

## Expected Behavior

1. Create service
2. Update service
3. two revision exist
4. when we do

`kubectl get rev rev-name1 -o yaml`
**output**
[code]
`kubectl get rev rev-name2 -o yaml`
**output**
[code]

## Actua

[2019-09-09 17:24] vagababov opened #5452 "Remove the time.Sleep() in the tests affected by the workqueue termination problem"
## In what area(s)?

/area build
/area test-and-release

/kind good-first-issue
/kind process

We've added some time.Sleep's to make sure tests do not flake. A more holistic way should be by waiting in the `cancel()` for queue to process all the items and shut down.
Once it's done (https://github.com/knative/pkg/issues/650) all those sleeps should be killed off.

/assign @vagababov

[2019-09-09 17:25] vagababov commented on #3885
Should be done, I think :)

[2019-09-09 17:39] rusde opened #5453 "Do not create new revision if revision is unchanged"
## In what area(s)?
Revisions CRD

## Describe the feature

This is related to `kn` client [issue](https://github.com/knative/client/issues/398)

For service update request which does not change revision parameters, `serving` should not creating new revision.

[2019-09-09 17:43] JRBANCEL commented on #5451
`Metadata.Generation` and `Status.ObservedGeneration` are unrelated to the `Generation` field `kubectl get rev` shows.
`Metadata.Generation` and `Status.ObservedGeneration` are Kubernetes concepts that tell you what is the version of the CRD and what version has been reconciled. Since Knative Revisions are immutable, I would expect them to always be `1`.
`Generation` field comes from [labels](http

[2019-09-09 17:44] savitaashture commented on #5451
Even the resource created by revision such as `PodAutoscaler` have different value for `generation` and `observedGeneration`
ex:
[code]

So do we really need to take care of `generation` and `observedGeneration` ?

If at all we need than need to verify with all the objects and make sure `generation` and `observedGeneration` update with proper value

**proposal:**
All child object should get  `gene

[2019-09-09 17:50] savitaashture commented on #5451
@JRBANCEL Do you mean `Metadata.Generation` and `Status.ObservedGeneration` we don't have a controll on those?

Because i see resource created by revision such as **PodAutoscaler** have different value for generation and observedGeneration than revision
ex:
[code]

[2019-09-09 17:57] JRBANCEL commented on #5451
Pretty much.

When a new version of a CRD is pushed to Kubernetes, k8s will increment `Metadata.Generation`. We don't control this.

Then, the controller in charge of that CRD will be notified, reconcile the CRD (i.e. do whatever it has to do) and update `Status.ObservedGeneration`. We do control this, [example](https://github.com/knative/serving/blob/master/pkg/reconciler/revision/revision.go#L20

[2019-09-09 18:15] ZhiminXiang commented on #5076
We also need `MarkFooNotOwned` for the [case](https://github.com/knative/serving/blob/69624409671e245d1f67b05694e22637925c4de8/pkg/reconciler/service/service.go#L209) where Foo resource is not owned by the parent resource, and `MarkFooNotReconciled` for the case where `generation != observedGeneration`. We probably want to add these two functions into our standard.

[2019-09-09 19:34] faun opened #5457 "Prometheus in crash backoff loop due to excessive memory usage"
## In what area(s)?

 /area monitoring

## Ask your question here:

I have the [prometheus monitoring](https://knative.dev/docs/serving/installing-logging-metrics-traces/) observability plugin installed from the 0.8.0 release assets. The prometheus stateful set the pods are stuck in a `CrashLoopBackOff`. It appears that the pods are being killed due to an `OOMKilled` state. I tried increasing the

[2019-09-09 19:35] faun commented on #5457
/area monitoring

[2019-09-09 19:51] dgerd commented on #5451
@savitaashture So long as `serving.knative.dev/configurationGeneration` is on the Revision and is pointing to the configuration.Generation from which the Revision was created this seems to be working as expected.

Is there anything else here or is it okay to close this?

[2019-09-09 19:54] JRBANCEL commented on #5451
/close

[2019-09-09 19:54] #5451 closed

[2019-09-09 20:28] coryrc opened #5459 "Update testing image to have `kail` installed"
We try to install `kail` here:
https://github.com/knative/serving/blob/5407c07d2f247032ddcbebf2f6048eb73eb70857/test/e2e-common.sh#L344

but it should be pre-installed in the test image.

This tool is used to collect logs.

I need to
1. Update the test image
2. Publish updated test image
3. Update this code to not attempt to install kail

/assign

[2019-09-09 21:53] weikinhuang opened #5462 "Ingress should receive labels from Service/Route"
## In what area(s)?

/area networking

## What version of Knative?

0.8.1

## Expected Behavior

Adding labels like:

[code]

The label for environment should propagate to the ingress.

## Actual Behavior

The Ingress does not receive labels and annotations, currently it only passes through annotations.

`labels` are useful for writing/creating multiple ingress controllers that only select a subse

[2019-09-09 22:36] trshafer commented on #5189
/assign anniefu

[2019-09-09 22:36] adrcunha commented on #5459
It should be installed in prow-tests, yes. But the script should be updated to install it if necessary as well, since it's a required tool.

[2019-09-09 22:37] trshafer commented on #5172
/assign trshafer

[2019-09-09 23:32] yanweiguo opened #5465 "Consolidate queue-proxy probe handlers"
## In what area(s)?

/area API
/area networking
/kind proposal

## Describe the feature

Have a simple and concentrated handler in queue-proxy to handle probe requests.

Currently we have 3 handlers in queue-proxy:
https://github.com/knative/serving/blob/master/cmd/queue/main.go#L158
https://github.com/knative/serving/blob/master/cmd/queue/main.go#L501
https://github.com/knative/serving/blob/maste

[2019-09-10 00:08] nak3 commented on #5462
/assign

I think that makes sense. I guess that ClusterIngress could not get the label from Route, so Ingress, which is migrated from ClusterIngress, misses the label.

[2019-09-10 03:13] nak3 opened #5469 "Create shared `Route()` util func to create route in pkg/testing/v1alpha1/route.go"
## In what area(s)?

/area test-and-release

## Describe the feature

- Currently many unit tests creates Route object by itself.

e.g.
https://github.com/knative/serving/blob/80ec2f7fce8d9c4122357f39f210b55dbebf1931/pkg/reconciler/route/resources/ingress_test.go#L52-L66
https://github.com/knative/serving/blob/80ec2f7fce8d9c4122357f39f210b55dbebf1931/pkg/reconciler/route/reconcile_resources_test.g

[2019-09-10 04:59] #5389 closed

[2019-09-10 06:06] savitaashture commented on #5469
/assign

[2019-09-10 06:11] markusthoemmes commented on #5465
Sounds good, two comments:

1. The kubelet probe requests path would be used (or would have been used 🤔 ) if the user specified a custom http probe. As we run that probe ourselves now, that might indeed  be not needed anymore.
2. Ditching `/health` sounds good, we just need to make sure that quick retry mechanisms stay intact. We talked about moving that to a common place anyway so it's a welcome

[2019-09-10 06:57] savitaashture commented on #5453
@rusde
As per current working behavior serving wont create new revision until and unless there is change of values in the revisionTemplateSpec.

Even i did some test
1. Created service with `kn`
`kn service create mysvc --image savita3020/helloworld`
2. Updated using `kubectl patch`
[code]
No new revision created.

But i see using `kn` service update creating `revision` even no changes in the spec

[2019-09-10 07:29] simonpasquier commented on #5457
You can use the tsdb CLI to get more details about your metrics cardinality. The binary isn't packaged yet so you'll have to build it manually:

[code]

[2019-09-10 09:14] savitaashture commented on #5403
So in that case do we need to handle in status part?

[2019-09-10 16:05] #5452 closed

[2019-09-10 16:40] JRBANCEL commented on #5465
I don't know if you'll be able to coalesce the handlers to a single handler because some logic (Activator Probing & VirtualService/Gateway Probing) is used in both Activator and Queue Proxy, while some other logic (probing `user-container`) is not.

But you should be able to clean that up for sure.

[2019-09-10 21:14] munjal-patel opened #5480 "Keeping image version tags"
Currently Knative relies on the Docker image digest in order to deploy a new version of the service.

However, this makes it hard to quickly figure out which specific version of the service is deployed and running at any given time.

Is it possible to use actual image `semver` labels instead of the digest?
For example, `svc-xyz:0.0.1`, `svc-xyz:0.0.2`, etc.?

[2019-09-10 22:07] yanweiguo commented on #5465
Hi @joshrider @shashwathi, you implemented the Exec probe. WDYT here?

[2019-09-10 22:52] #5364 closed

[2019-09-11 01:21] #3885 closed

[2019-09-11 01:44] #4435 closed

[2019-09-11 12:02] knative-test-reporter-robot opened #5485 "[flaky] test/conformance/api/v1alpha1.TestContainerExitingMsg/http"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestContainerExitingMsg/http
* **Repository name**: serving

[2019-09-11 12:02] #5361 closed

[2019-09-11 12:02] #5434 closed

[2019-09-11 12:02] #5442 closed

[2019-09-11 12:02] #5433 closed

[2019-09-11 12:02] #5349 closed

[2019-09-11 12:02] knative-test-reporter-robot opened #5486 "[flaky] test/conformance/api/v1alpha1.TestContainerExitingMsg"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestContainerExitingMsg
* **Repository name**: serving

[2019-09-11 12:02] knative-test-reporter-robot opened #5487 "[flaky] test/conformance/api/v1alpha1.TestContainerExitingMsg/tcp"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestContainerExitingMsg/tcp
* **Repository name**: serving

[2019-09-11 14:50] joshrider commented on #5465
Sounds good to me. IIRC @markusthoemmes suggested something similar when the ExecProbe stuff was initially being done. Queue-proxy could definitely use some tidying up.

[2019-09-11 17:07] #5462 closed

[2019-09-11 17:27] romachalm opened #5495 "Upgrade to 0.8.1 : document that ingressgateway must accept traffic from internal network"
## In what area(s)?

/area networking

## What version of Knative?
0.8.1

## Expected Behavior
I had a knative cluster running in 0.7.1, together with istio 1.2.2, using the default istio ingressgateway.
I have upgraded to 0.8.1 by applying manifests `serving.yaml` and `serving-cert-manager.yaml`

As documention or release note do not mention breaking change, I have expected that my current ksvc k

[2019-09-11 17:47] vagababov commented on #5245
Can you patch https://github.com/knative/serving/pull/5491 into your client and see if this problem disappears?

[2019-09-11 23:33] #5342 closed

[2019-09-12 01:51] munjal-patel opened #5505 "Letsencrypt is not used to provision certificates"
Hello,

I have been following this (and everything leading to it) article to configure Letsencrypt based auto-tls on my cluster: https://knative.dev/docs/serving/using-auto-tls/

Certificates are being issued. However, the issuer is always `cert-manager.local` instead of `letsencrypt`

Here is my `clusterissuer`:
[code]

Here is the `certmanager` config:
[code]

Here is the `networking` config:
[c

[2019-09-12 05:44] tcnghia commented on #5430
/assign @ZhiminXiang

[2019-09-12 12:02] knative-test-reporter-robot opened #5507 "[flaky] pkg/reconciler/revision.TestGlobalResyncOnConfigMapUpdateDeployment/Update_Istio_Outbound_IP_Ranges"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/revision.TestGlobalResyncOnConfigMapUpdateDeployment/Update_Istio_Outbound_IP_Ranges
* **Repository name**: serving

[2019-09-12 12:02] knative-test-reporter-robot opened #5508 "[flaky] pkg/reconciler/revision.TestGlobalResyncOnConfigMapUpdateDeployment"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/revision.TestGlobalResyncOnConfigMapUpdateDeployment
* **Repository name**: serving

[2019-09-12 12:36] savitaashture opened #5509 "Activator crashes with no information in the log when installed with ko"
## In what area(s)?

/area API

/area networking

## What version of Knative?

master

## Expected Behavior

Reason of failure should be logged in activator pod

## Actual Behavior

No reason found for activator pod crashing

## Steps to Reproduce the Problem

**Env:** minikube
1. git clone https://github.com/knative/serving
2. ko apply -f config/
3. kubectl get pods
[code]
4. kubectl logs -f acti

[2019-09-12 19:19] akiro1015 opened #5514 "Readiness Probe Failed"
## In what area(s)?

/area build

## Ask your question here:
Hi guys, I'm trying to build a Node JS application using Knative serving. However the pods will start successfully but after few seconds it will terminate automatically. But when I try to access it again via curl command, it will automatically start again and terminate after few seconds.

**Please see the pods description below:**

Name:

[2019-09-12 20:42] JRBANCEL opened #5517 "Ready and Reason should always be the last fields displayed"
## In what area(s)?

/area API
/kind cleanup
/kind consistency

## What version of Knative?

HEAD

## Expected Behavior

In all Knative CRD, `Ready` and `Reason` are displayed by `kubectl` at the end.

## Actual Behavior

`podautoscalers.autoscaling.internal.knative.dev` is violating that rule.

[2019-09-13 03:24] #5514 closed, assigned to nobody

[2019-09-13 05:00] #5509 closed, assigned to nobody

[2019-09-13 09:16] juliendangers commented on #1816
We have the same mixed CPU/GPU use case than @DavidLangworthy.

And we also have some occasional workloads that require much more resources than our usual workloads. We'd like to use dedicated nodes for that, and take advantage of scale to 0 feature of knative, so cluster-autoscaler will spin a new node if a pod is scheduled (we don't care about starting time), and remove it once there's no more p

[2019-09-13 12:02] knative-test-reporter-robot opened #5527 "[flaky] pkg/activator/handler.TestActivationHandlerTraceSpans"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/handler.TestActivationHandlerTraceSpans
* **Repository name**: serving

[2019-09-13 12:02] #5360 closed

[2019-09-13 12:02] knative-test-reporter-robot opened #5528 "[flaky] pkg/activator/handler.TestActivationHandlerTraceSpans/zipkin_trace_enabled"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/handler.TestActivationHandlerTraceSpans/zipkin_trace_enabled
* **Repository name**: serving

[2019-09-13 12:02] #5486 closed

[2019-09-13 12:02] #5444 closed

[2019-09-13 12:02] #5487 closed

[2019-09-13 12:02] #5432 closed

[2019-09-13 12:02] #5485 closed

[2019-09-13 12:02] #4998 closed

[2019-09-13 13:47] mattmoor opened #5529 "Crash looping Revisions with minScale are not scaled to zero"
## In what area(s)?

/area autoscale

## What version of Knative?

HEAD

## Expected Behavior

We scale the revision that is crash looping to zero.

## Actual Behavior

We leave around the crash looping Revision (due to minScale).

## Steps to Reproduce the Problem

1. Deploy a Revision (with `autoscaling.knative.dev/minScale: "1"` that crashloops.
1. Deploy a new Revision that does not
1. The fir

[2019-09-13 13:56] mattmoor commented on #5529
I did some initial digging into this last night, mostly to figure out why the current logic breaks down.

The current failures are handled via the `CanFailActivation` call here, which times things out after O(minutes) of failing to become ready: https://github.com/knative/serving/blob/4168e6cfa1851e70a3b77b8f0a40995746491a0c/pkg/reconciler/autoscaling/kpa/scaler.go#L163-L166

However, this logic i

[2019-09-13 14:02] mattmoor commented on #5529
I'm going to try working a Revision readiness check into `2.` above.

[2019-09-13 14:17] mattmoor commented on #5529
/assign

[2019-09-13 15:44] #5529 closed

[2019-09-13 17:48] #5195 closed

[2019-09-13 18:15] vagababov opened #5534 "Setup load balancing, circuit breaking, etc rules for Route"
## In what area(s)?

/area networking

## Describe the feature
Istio has some control mechanisms to load balance requests, overload protection and what not using DestinationRule objects.

### LB
LB algorithm seems to be especially interesting, since if you look at [this spreadsheet](https://docs.google.com/spreadsheets/d/11IFSOx6zs04xS1aeCebtmnL3IG9M8nVZP2WFx0969Nk/edit?usp=drive_web&ouid=10704605

[2019-09-13 18:29] dprotaso commented on #5534
Related:
https://www.envoyproxy.io/docs/envoy/v1.11.1/intro/arch_overview/upstream/load_balancing/load_balancers.html#weighted-least-request

[2019-09-13 18:37] markusthoemmes commented on #5534
FWIW: Circuit breaking is sadly a bit lackluster as the limits are defined for the entire backend, not per upstream host.

[2019-09-13 18:52] vagababov commented on #5534
I don't think destination rule supports weighted least loaded :(

On Fri, Sep 13, 2019 at 11:38 AM Markus Thömmes <notifications@github.com>
wrote:

[2019-09-13 18:56] vagababov commented on #5509
It all depends on what crashes. I can try to find out where exactly that
happens, but it might be some Fatal call inside k8s libraries so we have no
control thereof.

On Thu, Sep 12, 2019 at 10:18 PM savitaashture <notifications@github.com>
wrote:

[2019-09-14 00:23] munjal-patel commented on #5505
@samelie just in case this helps you!

After cloning `https://github.com/jetstack/cert-manager` and tracing through the problem manually, I have figured it out.

Turns out Google Cloud does not like *re-use* of the `sa email`.

In my script above, I am re-using the same sa email every time I setup the cluster by deleting the old one and creating the new one.

[code]

Instead of that, I am doing th

[2019-09-14 02:54] nak3 opened #5538 "nscert fails to create wildcard certs when changing domain name with cert-manager v0.9.1"
## In what area(s)?

/area networking
/kind spec

## What version of Knative?

Build on 8e3c98329c7b983b351644b0b7d5697353ec4db0

## Steps to Reproduce the Problem

#### 1. Deploy ksvc with enabled autoTLS & nscert

#### 2. Change domain in config-domain cm

e.g:
[code]

## Actual Behavior

- Certificate is not READY due to `DuplicateSecretName`.

[code]

- certificates creates secret with the nam

[2019-09-14 08:27] tcnghia opened #5541 "We need an E2E test for killing Pod while queue-proxy is full of requests"
## In what area(s)?

/area networking
/area test-and-release

/kind good-first-issue

## Describe the feature
Similar to https://github.com/knative/serving/issues/2448, we will need to have a test where a Pod is killed while queue-proxy is full of requests.  Unlike #2448, here we want to detect that user-container to be able to finish off requests queued in the queue-proxy, instead of just being a

[2019-09-14 12:02] #4491 closed

[2019-09-14 12:02] #4406 closed

[2019-09-14 14:02] nak3 opened #5542 "activator pods does not shutdown with SIGTERM signal"
## What version of Knative?

Build on 8e3c98329c7b983b351644b0b7d5697353ec4db0

## Steps to Reproduce the Problem

#### 1. Delete activator pod

[code]

## Expected Behavior

- activator pod's websocket stops trying to connect autoscaler.
- activator pod prints logs for sure:

https://github.com/knative/serving/blob/8e3c98329c7b983b351644b0b7d5697353ec4db0/cmd/activator/main.go#L319

## Actual Beh

[2019-09-14 19:45] itsmurugappan commented on #4865
Where should we add this annotation ?

[2019-09-14 19:49] #5517 closed

[2019-09-14 22:40] vagababov commented on #5542
300s is the k8s grace period.
/cc @mattmoor
Matt can you look, this is probably after your latest changes.

[2019-09-15 06:50] vagababov commented on #5542
I am running at HEAD:
[code]

I don't reproduce the problem.

[2019-09-15 07:24] nak3 commented on #5542
Thank you for taking a look. I tested with current HEAD(a531cce492c4e6976d1330dc93b347deff082a7b), but it still fails.
Just in case, here is the full logs of activator.

<details>
<summary>full log of activator</summary>

[code]
</details>

[2019-09-15 12:02] #5197 closed

[2019-09-15 12:02] #5528 closed

[2019-09-15 12:02] #5527 closed

[2019-09-15 13:11] nak3 commented on #5542
If activator received the signal in main goroutine, it surely works fine. I verified following patch fixed the problem on my env.

https://github.com/nak3/serving/commit/c039c45b6ffe2e4421bea800006baef1efcaf7c1

With said that, the signal handler in sub goroutine (current code) should work fine, I believe. In fact, @vagababov's env works fine. Does this my env's problem...(?), though I am using `g

[2019-09-15 15:46] nak3 commented on #5542
I figured out what caused(related to) this problem. If I disabled istio sidecar injection for activator, the issue does not happen. Also, using istio with [prestop sleep](https://github.com/knative/serving/blob/master/third_party/istio-1.2.4/prestop-sleep.yaml.patch) configuration can avoid this issue.
It is still not 100% clear about the root cause, but just wanted to update this.

[2019-09-15 19:35] vagababov commented on #5542
Yeah, that was my suspicion as well, that it was something to do with istio
sideacars, perhaps same issue as with QP:
https://github.com/knative/serving/commit/a531cce492c4e6976d1330dc93b347deff082a7b

On Sun, Sep 15, 2019 at 8:46 AM Kenjiro Nakayama <notifications@github.com>
wrote:

[2019-09-15 22:19] munjal-patel opened #5549 "Knative service annotations are missing when deployed"
Hello,

We have a specific requirement around `domainTemplate`:
[code]

However, when I deploy this simple `helloworld-go` service:
[code]
The annotations do not seem to be applied to the service.
Here is the output of `kubectl get service helloworld-go -o json`:
[code]
Notice that the annotation `domain/namespace` is not present in the json dump.

[2019-09-16 02:09] #4173 closed

[2019-09-16 04:47] vagababov opened #5551 "Use URL for e2e and performance tests"
/area test-and-release

/kind good-first-issue

# Describe the feature

See https://github.com/knative/serving/issues/5030 for details.
We get the URL back, so use it to talk to the service. This is a clean up task in our e2e and performance tests.

[2019-09-16 05:04] savitaashture commented on #5509
@vagababov
In old code activator use to show log message when it crashes if we don't provide `types` as shown below
[code]

I see after this PR https://github.com/knative/serving/pull/5471/files#diff-928396b259f4f6fed95075b9312dbf7fR126 changes activator crashes in case of not providing types does not give any information in that logs.

There are changes related to `contexts`  not `k8s`

[2019-09-16 05:08] #5541 closed

[2019-09-16 06:19] markusthoemmes commented on #5549
You'll need to add the annotation to the `template` part of the spec. It works like a pod template.

[2019-09-16 10:10] yu2003w opened #5553 "Crds are not cleaned up by following doc section Clean up"
## In what area(s)?

## What version of Knative?

## Expected Behavior
knative-serving related stuff should be cleaned when running instruction in section [cleanup](https://github.com/knative/serving/blob/master/DEVELOPMENT.md#clean-up)

## Actual Behavior
After following section [cleanup](https://github.com/knative/serving/blob/master/DEVELOPMENT.md#clean-up), crds are not cleaned although deploy

[2019-09-16 10:34] markusthoemmes commented on #5553
Have you waited a bit for all things to eventually disappear?

[2019-09-16 11:42] iamejboy commented on #4865
Hi @itsmurugappan ,

Just add this to Knative Service yaml. This will be propagated through pod level.

e.g.

[code]

Regards,

[2019-09-16 12:02] knative-test-reporter-robot opened #5554 "[flaky] pkg/activator/net.TestRevisionBackendManagerAddEndpoint"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestRevisionBackendManagerAddEndpoint
* **Repository name**: serving

[2019-09-16 12:02] knative-test-reporter-robot opened #5555 "[flaky] pkg/activator/net.TestRevisionBackendManagerAddEndpoint/add_slow_healthy"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestRevisionBackendManagerAddEndpoint/add_slow_healthy
* **Repository name**: serving

[2019-09-16 14:23] yu2003w commented on #5553
yes,  I waited several minutes and ns of Knative-serving was also deleted.
I understood your point.
I will test again and wait for longer duration to see whether they could be deleted.

[2019-09-16 14:41] markusthoemmes commented on #5553
Oh actually. That command is indeed missing the specific config/v1beta1 command (and v1alpha1 for that matter as well should you have installed that).

[2019-09-16 15:08] itsmurugappan commented on #4865
Thanks a lot

[2019-09-16 21:33] JRBANCEL commented on #5551
Is this different from #5308 and #5503 ?

[2019-09-16 22:01] vagababov commented on #5551
Probably the same. Drive it in!

[2019-09-16 22:23] rmoe commented on #5538
It makes sense for the secret to have the same name as the cert. The main issue is that it's creating another cert instead of updating the DNS names on the existing one. This is happening because of the way the reconciler checks for an existing certificate.

[2019-09-17 07:03] yu2003w commented on #5553
Do you think we need to update the doc? In master branch, it's v1 now.

[2019-09-17 08:34] nak3 commented on #5538
Yes, I think that it would be better to update the DNS names on the existing certs instead of creating another one.
Shall I open the separated issue ticket for it?

(I believe that we need to fix current secret name from namespace issue first of all, as the secret name becomes too generic. e.g. - `default` ns's secrets name is `default`.)

[2019-09-17 12:02] knative-test-reporter-robot opened #5567 "[flaky] test/e2e.TestDestroyPodTimely"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDestroyPodTimely
* **Repository name**: serving

[2019-09-17 15:19] markusthoemmes opened #5573 "Remove `RetryingRouteInconsistency` from all E2E tests"
As per #1582 we technically should not need to retry our route state in E2E tests and wait for a success any more. In fact, the `RetryingRouteInconsistency` helper has been dumbed down to be a noop at this point.

However, currently this function provides a neat singular piece of code that can be [patched downstream](https://github.com/openshift/knative-serving/blob/master/openshift/patches/003-ro

[2019-09-17 19:03] JRBANCEL commented on #5551
/assign

[2019-09-17 21:28] vagababov commented on #4201
Actually we curently report `got/want` already.
So I am marking this as closed.
/close

[2019-09-17 21:28] #4201 closed

[2019-09-17 22:48] shashwathi commented on #5573
/assign

[2019-09-18 00:59] adrcunha commented on #5459
/reopen

[2019-09-18 05:20] tatsuhiro-t commented on #5235
#5252 didn't fix this completely.  `kubernetes.io/cluster-service: "true"` still exists in several manifests.

[2019-09-18 06:07] markusthoemmes commented on #5573
@shashwathi This issue is merely a tracking issue. As it says in the descripition, I'd really like to keep the helper in for a bit longer.

[2019-09-18 12:02] knative-test-reporter-robot opened #5582 "[flaky] 5.22% tests failed in repo serving on 2019-09-18 10:11:16 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 5.22% tests failed in repo serving on 2019-09-18 10:11:16 +0000 UTC
* **Repository name**: serving

[2019-09-18 14:04] chaodaiG commented on #5582
We know the root cause is docker registry issue
/close

[2019-09-18 14:04] #5582 closed

[2019-09-18 15:26] n3wscott commented on #5459
I have found [stern](https://github.com/wercker/stern) to be better than kail.

[2019-09-18 15:58] dgerd commented on #5180
Moving this to 0.10.x and updating the title to reflect correct version.

We should make sure to add docs around `KUBERNETES_MIN_VERSION` EnvVar as part of this change.

This is as proposed in [Knative Release Principles](https://docs.google.com/document/d/1GXDe6163lO8ohtLUMPCplbjm3OTpYo_4U8f9K1fgZPo).

[2019-09-18 16:02] dgerd commented on #4839
I am going to close this issue as we cannot reproduce after Knative is fully up and running.

@faun Feel free to reopen if you have new information or additional concerns here.

[2019-09-18 16:02] #4839 closed

[2019-09-18 16:10] dgerd commented on #5208
Closing in favor of #5285

[2019-09-18 16:10] #5208 closed

[2019-09-18 16:30] dprotaso commented on #5213
Closing as the [Knative Release Principles](https://docs.google.com/document/d/1GXDe6163lO8ohtLUMPCplbjm3OTpYo_4U8f9K1fgZPo/edit?hl=en#) outlines a strategy and timeline for API availability & conformance

[2019-09-18 16:30] #5213 closed

[2019-09-18 17:01] chaodaiG opened #5586 "generate-yamls.sh should fail fast if hitting docker repo issue"
## In what area(s)?

## Expected Behavior

[`generate-yamls.sh`](https://github.com/knative/serving/blob/master/hack/generate-yamls.sh) in [e2e test](https://github.com/knative/serving/blob/85b5f9d167d1270aa03e1eb9b07ab55049146715/test/e2e-common.sh#L123) should fail if there is any error building/publishing serving images

## Actual Behavior

When there is a 502 issue(like one caused by docker re

[2019-09-18 17:09] chaodaiG commented on #5586
Also filed a bug in ko: https://github.com/google/ko/issues/84

[2019-09-18 17:10] shashwathi commented on #5573
@markusthoemmes : I apologize. I read the first part of issue in hurry and assigned it.

[2019-09-18 18:56] #5419 closed

[2019-09-18 20:12] faun commented on #4839
Sounds good. I was able to delete the route by deleting the namespace and then manually removing the finalizer on the namespace. I then recreated the namespace and the resources within it.

[2019-09-18 20:51] rmoe commented on #5538
I don't think we need a separate issue for the reconciler change since it's the root cause of this problem. I'll have a fix for that shortly. I agree that the secret name should be fixed and your change looks fine to me.

[2019-09-19 01:03] #5180 closed

[2019-09-19 02:46] #5553 closed

[2019-09-19 04:07] mattmoor commented on #3820
This is unblocked

[2019-09-19 13:59] ktsakalozos opened #5599 "Cannot install v0.9.0 on K8s v1.16"
## In what area(s)?

/area monitoring
/area test-and-release

## What version of Knative?

## Expected Behavior

Applying the released monitoring.yaml manifest should work on K8s v1.16.
[code]

## Actual Behavior

The apiversion "extensions/v1beta1" for DaemonSet and Deployment have been removed. Should now be "apps/v1".

Here is how the deployment is failing:
[code]

## Steps to Reproduce the Pro

[2019-09-19 17:54] #3820 closed

[2019-09-19 17:55] vagababov commented on #5599
Those are all in third_party.
We need to update upstream versions (https://github.com/kubernetes/kube-state-metrics)

[2019-09-19 19:26] JRBANCEL commented on #5551
/close
It was done as part of #5503.

[2019-09-19 19:26] #5551 closed

[2019-09-19 19:27] JRBANCEL commented on #5378
Fixed by https://github.com/knative/pkg/pull/630.

[2019-09-19 19:27] #5378 closed

[2019-09-19 23:09] tcnghia commented on #5135
/close

[2019-09-19 23:10] #5135 closed

[2019-09-20 03:34] yu2003w commented on #5254
Has anybody started working on this item?
If not, I would like to take this.

[2019-09-20 04:04] nak3 opened #5611 "Enabling autoTLS create invalid certificate for cluster-local service"
## In what area(s)?

/area networking

## What version of Knative?

Build on 3d83df0412fd942ab0f3996cd41c55ca70c9aa06

## Steps to Reproduce the Problem

#### 1. Enable autoTLS

#### 2. Deploy Ksvc

#### 3. Add label `serving.knative.dev/visibility=cluster-local` to the service
[code]

## Actual Behavior

- AutoTLS creates the certificate for cluster-local service, which is invalid.
- Since the Is

[2019-09-20 04:34] tcnghia commented on #5534
For circuit breaking I have observed cases where default rate limit were applied causing us to be throttled.  I think this was during @mattmoor testing 15k QPS.

I'd love to see a case we handle 1M QPS, so we may have to bump this default rate limit.

[2019-09-20 04:37] tcnghia commented on #5495
I think we will need to further push our mesh tests to use mTLS strict mode (@nak3 has already brought the tests to use mTLS permissive mode).  That will ensure that we identify all the required auth setup.

[2019-09-20 04:38] tcnghia commented on #5542
/area networking

[2019-09-20 04:42] tcnghia commented on #5459
@n3wscott does the color coding affect text file output?  What do you like about stern?

[2019-09-20 04:43] tcnghia commented on #5405
@assafsauer is this still an issue?

[2019-09-20 04:49] tcnghia commented on #5146
/close

We return 502 with the error now.

[2019-09-20 04:49] #5146 closed

[2019-09-20 04:51] tcnghia commented on #4997
@duglin this may have been resolved now at 0.9.0/HEAD.  can you please try again to see if issue persists?

[2019-09-20 04:53] tcnghia commented on #4915
/close

Due to lack of information

[2019-09-20 04:53] #4915 closed

[2019-09-20 04:55] tcnghia commented on #4868
Thanks for confirming.

I think we'll need to update the doc with this information, since avoiding 443 is still a good path (avoiding privileged port)

/close

[2019-09-20 04:55] #4868 closed

[2019-09-20 04:59] tcnghia commented on #4040
/close

[2019-09-20 04:59] #4040 closed

[2019-09-20 05:07] tcnghia commented on #4438
This is done (thanks nak3@).

However we may also want to enable strict mode.

[2019-09-20 05:08] tcnghia commented on #4277
I don't think this can be proven.

I'll close this.  Please reopen if we can have a way to expose the problem.

/close

[2019-09-20 05:08] #4277 closed

[2019-09-20 05:11] tcnghia commented on #3793
@vagababov this is now done, right?

[2019-09-20 05:13] tcnghia commented on #3287
/close

We have scale/scale-N tests that aren't flakey now.

[2019-09-20 05:13] #3287 closed

[2019-09-20 05:13] tcnghia commented on #3210
/close

[2019-09-20 05:16] tcnghia commented on #2528
@markusthommes yeah, I think we can certainly attempt to remove the default retries now.

[2019-09-20 05:17] tcnghia commented on #2087
We no longer publish Istio's manifests

[2019-09-20 05:17] #2087 closed

[2019-09-20 05:18] tcnghia commented on #1411
/close

We no longer publish an Istio manifest

[2019-09-20 05:19] #1411 closed

[2019-09-20 05:20] tcnghia commented on #539
We're testing with mTLS now.

/close

[2019-09-20 05:20] #539 closed

[2019-09-20 05:31] vagababov commented on #3793
the work is done, but I don't think we have the test... At least I am not
sure how to properly write one so far :)

On Thu, Sep 19, 2019 at 10:11 PM Nghia Tran <notifications@github.com>
wrote:

[2019-09-20 12:02] knative-test-reporter-robot opened #5614 "[flaky] pkg/activator/net.TestThrottlerSuccesses"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestThrottlerSuccesses
* **Repository name**: serving

[2019-09-20 12:02] knative-test-reporter-robot opened #5615 "[flaky] pkg/activator/net.TestMultipleActivator"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestMultipleActivator
* **Repository name**: serving

[2019-09-20 12:02] knative-test-reporter-robot opened #5616 "[flaky] pkg/activator/net.TestRevisionWatcher/podIP_slow_ready_then_clusterIP"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestRevisionWatcher/podIP_slow_ready_then_clusterIP
* **Repository name**: serving

[2019-09-20 14:58] meteatamel opened #5619 "Updating a service to be private does not work"
## Expected Behavior
1. I create a public Knative service.
2. I added the cluster-local label to the Knative service.
3. Knative service becomes private.

## Actual Behavior
Knative service stays public.

## Steps to Reproduce the Problem

Sync to here: https://github.com/meteatamel/knative-tutorial/tree/master/serving/helloworld

kubectl apply -f service-v1.yaml
service.serving.knative.dev/hellow

[2019-09-20 16:10] JosepSampe commented on #4997
@duglin @tcnghia I can confirm the issue persists. I ran multiple experiments in a fresh k8s (1.15.3) cluster installation with Knative 0.9, and I'm still seeing sub-optimal request routing.

**Details:**
In each experiment I send a burst of 10 invocations to my app service (my app only sleeps during 15 seconds and finishes), and as you can see in the next plot, some requests are queued while othe

[2019-09-20 16:18] markusthoemmes commented on #4997
I think this is still expected. @vagababov has ideas/a plan to get this resolved in certain situations at least.

[2019-09-20 16:27] ZhiminXiang opened #5622 "Auto TLS should keep the HTTPS server configured by users"
## In what area(s)?
/area networking

## What version of Knative?

HEAD

## Expected Behavior
When users configure the default TLS server with port name `https`, we should keep it even when auto TLS feature is turned on.

## Actual Behavior
We remove it from Gateway by this line https://github.com/knative/serving/blob/9158928e6f516c43f69b389819e544aa16281161/pkg/reconciler/ingress/resources/gatewa

[2019-09-20 17:01] vagababov commented on #4997
Yeah, this should be _better_ now, but I am working on the more ultimate
solution.

On Fri, Sep 20, 2019 at 9:18 AM Markus Thömmes <notifications@github.com>
wrote:

[2019-09-20 17:56] dgerd opened #5624 "Add additional control plane benchmarks"
## In what area(s)?

/area API

## Describe the feature
Now that we have a benchmark portal ( https://mako.dev/project?name=Knative ) we should add additional metrics into our Knative controllers so that we can identify regressions and potential bottlenecks.

[2019-09-20 22:02] dgerd opened #5626 "User owned ConfigMap updates"
## In what area(s)?

/area API

## Describe the feature
I didn't see an existing issue during a search so creating a new one. Moving from a Future Topic in the API WG to an issue.

This issue is to define and document the behavior for updating user defined ConfigMaps in Knative Services.

[2019-09-21 11:38] nak3 opened #5630 "traffic.tag becomes mandatory field when traffic splitting is configured"
## In what area(s)?

/area API
/area networking
/kind spec

## What version of Knative?

Output of git describe --dirty

Build on top of c71820d9ec2598b1dedaa8b747730e7edb97e0c8

## Steps to Reproduce the Problem

### 1. Configure following traffic settings

[code]

## Actual Behavior

- Above configuration fails with following message.

[code]

(Entire logs)
[code]

## Expected Behavior

- tag is

[2019-09-21 18:37] Ciantic commented on #2940
This still happens with `kind`. Using istio 1.3.0 and knative 0.9, and kind v0.5.1. Should this bug report be re-opened or kubernetes-sigs/kind#762 ?

[2019-09-22 12:02] #5567 closed

[2019-09-22 12:02] knative-test-reporter-robot opened #5633 "[flaky] pkg/activator/net.TestRevisionBackendManagerAddEndpoint/add_slow_ready_http2"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestRevisionBackendManagerAddEndpoint/add_slow_ready_http2
* **Repository name**: serving

[2019-09-22 12:02] #5121 closed

[2019-09-22 12:02] #5616 closed

[2019-09-22 14:02] mattmoor opened #5634 "e2e tests for observability"
## In what area(s)?

/area monitoring
/area test-and-release

## Describe the feature

When I was digging into the Go memstats metrics, I discovered these e2e [tests](https://github.com/istio/istio/blob/c42fd349de1068325ee4b9fab816d0bf871e0cb9/tests/e2e/tests/dashboard/dashboard_test.go#L129) that Istio has.  These validate their dashboards, but also serve to validate that metrics are actually flo

[2019-09-22 15:38] nak3 opened #5635 "nscert tries to create wildcard certs even though certmanger is not setup and autoTLS is disabled"
## In what area(s)?

/area networking

## What version of Knative?

Build with 697401d6e25c41428c627b9b5eec27562012260f

## Steps to Reproduce the Problem

#### 1. Use default configuration for config-network and config-certmanager

The default means:
- `autoTLS` is disabled in config-network.
- `issuerRef` is not setup in config-certmanager.

#### 2. Create a new namespace

[code]

## Actual Beha

[2019-09-23 05:56] markusthoemmes commented on #5630
Related https://github.com/knative/serving/pull/5583

[2019-09-23 06:12] sirius1024 opened #5637 "Adds-on functions 'development should working with Knative SDK or CRD area of Kubernetes SDK?"
## In what area(s)?

/area API
/area test-and-release
/kind spec

## Ask your question here:
What are the suggestions for Knative Adds-on Development? I wanna build a Portal for Knative Adds-on like function computing, Should I write an SDK for Knative(API call) or just use Kubernetes SDK to operate CRDs?
BTW, I cannot access the API page for 0.8 & 0.9: [#1661](https://github.com/knative/docs/issu

[2019-09-23 12:02] knative-test-reporter-robot opened #5640 "[flaky] test/e2e.TestAutoscaleUpDownUp"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleUpDownUp
* **Repository name**: serving

[2019-09-23 12:02] knative-test-reporter-robot opened #5641 "[flaky] pkg/activator/net.TestMultipleActivators"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestMultipleActivators
* **Repository name**: serving

[2019-09-23 16:33] #5611 closed

[2019-09-23 19:59] JRBANCEL commented on #5619
Is this HEAD?
I can't repro.

[2019-09-23 23:44] nak3 commented on #5630
Yes, https://github.com/knative/serving/pull/5583 solved this problem.

Closing.

[2019-09-23 23:44] #5630 closed

[2019-09-24 00:07] #5635 closed

[2019-09-24 09:35] meteatamel commented on #5619
I was testing on Knative 0.8. It works fine on Knative 0.9. Thanks for confirmation!

[2019-09-24 09:35] #5619 closed

[2019-09-24 12:02] knative-test-reporter-robot opened #5651 "[flaky] pkg/activator/handler.TestActivationHandler/request_error"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/handler.TestActivationHandler/request_error
* **Repository name**: serving

[2019-09-24 14:56] tanzeeb opened #5654 "Investigate the Automatic Protocol Selection feature of Istio 1.3"
## In what area(s)?

/area API
/area networking

## Describe the feature

Istio 1.3 supports ["Automatic Protocol Selection"](https://istio.io/docs/ops/traffic-management/protocol-selection/#automatic-protocol-selection), meaning we might not have to specify container port names to support `http` and `http2'.

This issue is to track the investigation of that feature.

Notes:
* We will need to supp

[2019-09-24 15:04] beemarie commented on #3883
@greghaynes I added a little bit here: https://github.com/knative/docs/pull/1768 Do you have something more in mind?  I think we could also add something about stackdriver since it's supported now.

[2019-09-24 16:42] JRBANCEL commented on #5622
Is the name relevant here? You can change the name without any behavioral change.

[2019-09-24 16:56] ZhiminXiang commented on #5622
Yes, the name is relevant. We used to provide a default TLS server (https://github.com/knative/serving/blob/release-0.6/config/202-gateway.yaml#L20).

If users made any change to the default TLS server (including the port name, hosts, protocol, certificate config, etc), I think we should keep it as this is user's own configuration.

[2019-09-24 17:55] tcnghia opened #5656 "Enable Istio 1.3 in pull-knative-serving-istio-1.3-* test grids"
## In what area(s)?

/area networking
/area test-and-release

/kind process

## Describe the feature
Now that Istio 1.1 is EOL, we should replace the 1.1-* test grid with 1.3-* test grid.  Istio 1.3 is already checked in.

[2019-09-24 18:02] chaodaiG commented on #5656
/assign

[2019-09-24 18:26] coryrc commented on #5459
/close

[2019-09-24 18:26] #5459 closed

[2019-09-24 19:48] n3wscott commented on #5459
@tcnghia kail tends to corrupt my terminal, and the active watch stern does seems to work better.

[2019-09-24 20:13] dgerd commented on #5637
We currently generate [go clients](https://github.com/knative/serving/tree/master/pkg/client) from our [apis](https://github.com/knative/serving/tree/master/pkg/apis). You can find examples of using these clients in our [e2e tests](https://github.com/knative/serving/tree/master/test/e2e).

We also have a client repository and a client working group that has wrapped these into a more usable interfa

[2019-09-24 21:41] dgerd commented on #5549
Adding the annotation to the template part will not work in this case.
---

To be clear, you are creating a "Knative Service" (abbreviated as ksvc or kservice). Applying annotations to the Knative Service will only appear on the Knative Service and be propagated down to the Knative Route and Knative Configuration objects.

Your query is against the Kubernetes Service which is created and owned by

[2019-09-24 23:01] rusde opened #5664 "Revision stuck in Deploying phase if created before mutatingwebhookconfiguration is registered"
## In what area(s)?

## What version of Knative?
0.9

## Expected Behavior
ksvc revision should be ready

## Actual Behavior
ksvc revision is stuck in deploying phase

## Steps to Reproduce the Problem
If Knative service is deployed after all pods are ready and before `mutatingwebhookconfiguration` is created, the revision created does not get default autoscaling class. Hence never reconciled (Rac

[2019-09-24 23:01] rusde commented on #5664
/assign

[2019-09-25 01:07] sirius1024 commented on #5637
@dgerd Thank you for your response. For now, I'm working on Knative encapsulation stuff with go-client as you said and looks fine. Of course it will be happy if knative has its own SDK with strong types instead of map[string]interface{} in go-client CRD operators.

BTW, nice test cases ;/

[2019-09-25 01:33] patrickshan commented on #1816
Our use case for this is that some services request to run on a special type of cloud instances, like compute intensive workload to run on AWS c5 instances. currently we have different ASGs with different taints and different instance types. By using node selector and toleration, we could schedule those services to their dedicated node group.

[2019-09-25 12:02] knative-test-reporter-robot opened #5668 "[flaky] test/e2e.TestRouteVisibilityChanges/Route_visibility_changes_from_public_to_private_with_single_traffic"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestRouteVisibilityChanges/Route_visibility_changes_from_public_to_private_with_single_traffic
* **Repository name**: serving

[2019-09-25 12:02] knative-test-reporter-robot opened #5669 "[flaky] test/e2e.TestRouteVisibilityChanges/Route_visibility_changes_from_public_to_private_with_both_tagged_and_non-tagged_traffic"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestRouteVisibilityChanges/Route_visibility_changes_from_public_to_private_with_both_tagged_and_non-tagged_traffic
* **Repository name**: serving

[2019-09-25 12:02] #5640 closed

[2019-09-25 12:02] knative-test-reporter-robot opened #5670 "[flaky] test/e2e.TestRouteVisibilityChanges"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestRouteVisibilityChanges
* **Repository name**: serving

[2019-09-25 12:02] knative-test-reporter-robot opened #5671 "[flaky] test/e2e.TestRouteVisibilityChanges/Route_visibility_changes_from_public_to_private_with_tag_only"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestRouteVisibilityChanges/Route_visibility_changes_from_public_to_private_with_tag_only
* **Repository name**: serving

[2019-09-25 13:17] savitaashture opened #5672 "Allow Pod ReadinessGate(Pod ready++)"
## In what area(s)?

## Describe the feature

Currently we have Readiness probe which indicates whether the pod is ready to serve traffic.
but `ReadinessGate` helps to add extensibility to pod readiness.
Besides container readiness, external feedback can be injected into PodStatus and influence pod readiness.
**Reference:**
https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/00

[2019-09-25 14:09] #5672 closed

[2019-09-25 16:18] #5656 closed

[2019-09-25 16:29] chaodaiG commented on #5656
FYI @tcnghia , it's done and now we are running istio-1.3 instead of istio-1.1

[2019-09-25 19:53] dgerd opened #5679 "Fail Service creation if resource requests are higher than default resource limits"
## In what area(s)?

/area API

## Describe the feature

If you set either of the options below from `config-default` and then try to create a Service with Revision CPU _requests_ that are greater than the `config-default` limit the Service will be created, but will never become Ready. We should validate before applying this update to prevent the Service from entering into a potentially bad state.

[2019-09-25 19:59] dgerd commented on #5679
This problem actually extends past just defaults to any requests/limits that are set, but it is harder to avoid with defaults as you are not the one specifying both sets of values so it becomes less obvious.

Could potentially be solved one-of (like runAsUser validation today) or with #3425 as dry-run functionality should be available for 0.10.x releases and beyond.

[2019-09-26 06:36] tcnghia commented on #5656
Thanks a lot!

[2019-09-26 12:02] #5651 closed

[2019-09-26 12:02] knative-test-reporter-robot opened #5688 "[flaky] pkg/activator/net.TestRevisionBackendManagerAddEndpoint/slow_podIP_then_clusterIP"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestRevisionBackendManagerAddEndpoint/slow_podIP_then_clusterIP
* **Repository name**: serving

[2019-09-26 12:43] wtam2018 opened #5689 "We should deprecate "clusteringress.class" in favor of "ingress.class" in config-network"
Clusteringress has been deleted from cluster since 0.9, we should deprecate "clusteringress.class" in favor or "ingress.class".

## In what area(s)?

/area API

/area networking

## What version of Knative?

## Expected Behavior
We should document that clusteringress.class has been deprecated and ingress.class should be used instead.   clusteringress.class will be unsupported in future release.

[2019-09-26 12:43] wtam2018 commented on #5689
/assign

[2019-09-26 17:27] yanweiguo opened #5691 "Frequent errors when writing metrics to Stackdriver"
## In what area(s)?

 /area monitoring

## What version of Knative?

Master

## Expected Behavior

Metrics are written to Stackdriver successfully.

## Actual Behavior

A lot of following errors:
[code]

[2019-09-26 21:35] vagababov opened #5692 "Activator Load Balancing"
## In what area(s)?

/area autoscale
/area networking

## Describe the feature

As described in [document](https://docs.google.com/document/d/1Jdd8eu3cJRvCVkl8Y48Fg3fVY6Bpp7Tv8HshSg58dOg/edit#) (work in progress) we need to implement smarter load balancing.

This is part of the overarching NLS project as well as performance improvement work.

/assign @vagababov

- [x] Select activator personal ind

[2019-09-26 21:35] vagababov commented on #5692
/milestone Serving 0.10.x

[2019-09-27 07:20] nak3 opened #5698 "ingress prober does not work when istio-ingressgateway service has different targetport number"
## In what area(s)?

/area networking

## What version of Knative?

Build on top of 4beaf432ed724afd9dd45debf3a329ce97bb49c2

## Steps to Reproduce the Problem

#### 1. Deploy istio-ingressgateway with service which has different targetport number.
- For example, below has port `80` but the targetPort(endpoint) is `8080`.

[code]

[code]

#### 2.  Deploy any Ksvc

## Actual Behavior

- The service

[2019-09-27 11:27] ryandawsonuk opened #5700 "knative with existing ingress Gateway resource"
I've been trying to configure knative-serving to use [an existing Istio Gateway that is not the knative-ingress-gateway](https://github.com/kubeflow/kfserving/issues/371). I want to do this so that knative services can have shared auth with an existing setup. I don't want a [custom external ingress](https://knative.dev/docs/serving/setting-up-custom-ingress-gateway/), just to repoint knative at an

[2019-09-27 12:02] knative-test-reporter-robot opened #5701 "[flaky] pkg/activator/handler.TestActivationHandler/throttler_timeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/handler.TestActivationHandler/throttler_timeout
* **Repository name**: serving

[2019-09-27 12:02] #5669 closed

[2019-09-27 12:02] #5670 closed

[2019-09-27 12:02] #5668 closed

[2019-09-27 12:02] #5299 closed

[2019-09-27 12:02] #5671 closed

[2019-09-27 13:47] tcnghia commented on #5700
Currently you can choose another Gateway, but still in `knative-serving` namespace.

There is an existing feature request about supporting allowing Gateway from a different namespace.  We can make that happen in v0.10.

[2019-09-27 14:07] ryandawsonuk commented on #5700
@tcnghia Ah, https://github.com/knative/serving/issues/5172.  Yes that would provide me with what I'm looking for

[2019-09-27 17:42] Joon-L opened #5706 "Reference existing Gateway resource with the upcoming per-route Gateway splitting"
## In what area(s)?
/area networking

## Describe the feature
With the feature request for referencing existing ingress Gateway resource in different namespace #5700 and upcoming support for per-Route Gateway [#4312](https://github.com/knative/serving/issues/4312), users should be able to point Knative at an alternate existing istio Gateway resource for the per-Route Gateway.
This allows more fine

[2019-09-27 17:43] Joon-L commented on #5700
It would be really nice if referencing an existing ingress Gateway resource could also be supported with the coming work of splitting the Gateway per-route. [#4312](https://github.com/knative/serving/issues/4312) [#4909](https://github.com/knative/serving/pull/4909) @ZhiminXiang
I have raised a separate issue #5706. @rakelkar

[2019-09-27 18:02] rakelkar commented on #5706
Pre-created gateways per service is different from per service gateways created by knative. This is a more advanced asks (since normal knative users would not be expected to create gateways per service)... however as noted this enables auth configuration to be decoupled.

Alternative approaches would be:
1. Add support for all auth options to knative so it can create the appropriate per service ga

[2019-09-27 18:51] JRBANCEL commented on #5698
I am confused.
If your service `targetPort` is `8080`, it means Envoy is listening on `8080`, right?
Then probing `8080` is correct, no?

[2019-09-27 20:20] mattmoor commented on #4610
With HEAD we now get really nice synchronous rejections when a malformed configmap is sent:

[code]

This solves a BIG long-standing problem where malformed configs are quietly ignored (unless you examine controller logs) until the pod is restarted at which point it will crash 😬

Thank you @nimakaviani for digging in and solving the core of the problem here, I'm very happy with where we landed on

[2019-09-27 20:32] wtam2018 opened #5708 "Remove references to clusteringress in gloo.yaml"
Now that clusteringress has been removed in favor of ingress (namespaced).   We should clean up  references of clusteringress in gloo.yaml and any other gloo artifacts.

## In what area(s)?

/area networking

## What version of Knative?

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

[2019-09-28 10:56] nak3 opened #5711 "ReadinesProbe with exec probe never become ready"
## In what area(s)?

/kind spec

## What version of Knative?

Build on top of 3174fcedbabd3fb3e1e5bde3f2188049ed38e796

## Steps to Reproduce the Problem

#### 0. Deploy any Ksvc

#### 1. Set readiness probe with `exec` prober

(e.g)

[code]

## Actual Behavior

- Pod never beomes running.

[code]

- The queue-proxy continue to output `no probe found` (the error is not `exec probe not supported`).

[2019-09-28 17:37] #5331 closed

[2019-09-28 17:54] sumowrestler commented on #2940
Getting this issue even with the reported fix, failed in first pass:
[code]
resulted in:
[code]
simply ran again for it to succeed but would be awful if we can't make this deterministic.

[2019-09-29 00:54] nak3 commented on #5332
Closing this as it is removed by https://github.com/knative/serving/pull/5665/files#diff-cad42d1a0dbd779ec215f1003240d5cfL81

[2019-09-29 00:54] #5332 closed

[2019-09-29 01:14] #5637 closed

[2019-09-29 10:43] nak3 opened #5714 "pull/5665 creates zombie routes"
## In what area(s)?

/area API

## What version of Knative?

Build between 3174fcedbabd3fb3e1e5bde3f2188049ed38e796 and ec457adcb1466abfcbc1c0a069e60285e769d135

## Steps to Reproduce the Problem

#### 1. Install Knative serving before ec457adcb1466abfcbc1c0a069e60285e769d135 e.g 3174fcedbabd3fb3e1e5bde3f2188049ed38e796

[code]

#### 2. Deploy any Ksvc

[code]

#### 3. Update to ec457adcb1466abfcb

[2019-09-30 05:37] nak3 commented on #5698
@JRBANCEL Sorry for the confusion.
What I wanted to say was that the Host headr should not include the targetPort number.

`http.Request.URL` should have the targetPort as correctly assigned here:

https://github.com/knative/serving/blob/df65e57d6f3921e55463df1e2926f89a9d44b9c7/pkg/reconciler/ingress/status.go#L336

But `item.url` below, which is used for Host header, should not have the targetPor

[2019-09-30 09:11] markusthoemmes commented on #5698
The Host header will need to have the `port` (not `targetPort`) of the service as it is used for routing requests on the HTTP level I suppose?

[2019-09-30 10:09] nak3 commented on #5698
Yes, that is exactly. If Host Header has wrong port, we get `404`.

I have completed the PR https://github.com/knative/serving/pull/5697.

[2019-09-30 17:36] JRBANCEL commented on #5698
Ok, but it is not used for routing. The regex ends with `(?::\d{1,5})?$`, so does it matter?

[2019-09-30 19:48] shashwathi commented on #5679
/assign @shashwathi

[2019-09-30 20:56] markusthoemmes commented on #5698
I‘m confused. This regex describes a non-capturing group that matches a port? Are you saying it‘s irrelevant because it‘s uncaptured?

FWIW this is a real error today, it just so happens to be part of our downstream Istio implementation again.

[2019-09-30 21:06] JRBANCEL commented on #5698
No. I am saying it is irrelevant because the regex matches any port.
Requests with `Host: foo-bar.com:80`, `Host: foo-bar.com`, `foo-bar.com:567` are all matching the same VirtualService rule.

[2019-09-30 22:33] drnic commented on #4176
I'm getting this error on v0.9.0

[2019-09-30 22:33] tcnghia commented on #4182
@savitaashture I have a workaround for https://github.com/knative/serving/issues/4182#issuecomment-504607471  : we make the post-install job delete itself to allow ease of rerun.

In longer term we can use the TTL feature for K8s Job (which is currently alpha)

[2019-09-30 22:37] yanweiguo commented on #5465
The remain work for this issue is to coalesce the two handlers to a single handler in queue-proxy. As @JRBANCEL mentioned, one handler is shared by both queue-proxy and activator. It is not easy to do without introducing non-relative codes to activator. So I'll keep as they are currently.

[2019-09-30 22:37] #5465 closed

[2019-09-30 22:46] drnic commented on #2940
I'm getting this on GKE with istio 1.3.0 from third_party folder, and v0.9.0 serving.

[2019-09-30 22:56] drnic opened #5722 "v0.9 installation - no matches for kind "Image" in version "caching.internal.knative.dev/v1alpha1""
## In what area(s)?

## What version of Knative?

## Expected Behavior

Installation of istio/knative-serving should not show errors nor be required to be run twice to succeed.

## Actual Behavior

From the steps to reproduce below:

[code]

## Steps to Reproduce the Problem

[code]

## Related to issues

* #2940
* #4176

[2019-09-30 23:12] drnic commented on #5722
My workaround is to install CRDs twice if necessary:

[code]

[2019-10-01 01:25] JRBANCEL opened #5723 "Istio 1.3 Test Grid is unhealthy"
## In what area(s)?
/area test-and-release

## What version of Knative?
HEAD

See https://testgrid.knative.dev/serving#istio-1.3-mesh&width=20.

Looking at `TestServiceToServiceCallViaActivator`, `activator` (through `istio-proxy`) tries to reach Service A via HTTPS but Service A in `both-disabled` and `a-disabled` is listening for HTTP and doesn't have an `istio-proxy`. Therefore, there is a prot

[2019-10-01 02:22] tcnghia commented on #5723
/cc @nak3

[2019-10-01 02:53] tcnghia commented on #5723
If disabling mTLS fixes the test grid, let's do that first and file a known issue to track reenabling mTLS.  That way we won't let these failures hide incoming bugs.

[2019-10-01 03:15] nak3 commented on #5723
Sure, I will file the PR to disable mTLS. But perhaps we should disable it only on Istio 1.3, since 1.2 or earlier does not have the issue.

Actually, I disabled mTLS for the port (9090) used by activator/autoscaler, so I believe it worked Istio 1.2 as expected.
https://github.com/knative/serving/blob/master/test/config/mtls/destinationrule.yaml#L28-L34

[2019-10-01 03:32] nak3 opened #5725 "Enable mTLS with Istio 1.3 without error"
## In what area(s)?

/area networking

## What version of Knative?

HEAD (Istio 1.3 or later)

## Expected Behavior

- Enable mTLS with Istio 1.3 without error.

## Actual Behavior

- Failed to test when mTLS is enabled on Istio 1.3 - please refer to https://github.com/knative/serving/issues/5723
- Note, [the current mTLS settins work](https://github.com/knative/serving/tree/master/test/config/mtl

[2019-10-01 12:01] #5633 closed

[2019-10-01 14:01] savitaashture opened #5730 "service creation should fail when value of initialDelaySeconds is invalid"
## In what area(s)?

/area API

## What version of Knative?

master

## Expected Behavior
when given value of `initialDelaySeconds` of `readinessProbe` is invalid service creation should fail at the first step

## Actual Behavior
with invalid value of `initialDelaySeconds` service creation success but failed during deployment creation
[code]

[code]

## Steps to Reproduce the Problem
1. Create ser

[2019-10-01 14:34] savitaashture opened #5732 "failureThreshold and timeoutSeconds parameter should be optional as per k8s doc"
## In what area(s)?

/area API
/kind good-first-issue

## Describe the feature
Currently when create a service with below provided info
[code]

**Actual Output:**
[code]

**Expected Output:**
Should create service successfully because `failureThreshold` and `timeoutSeconds` are optional fields if don't specify should take the default values as per [doc](https://github.com/knative/serving/blob/mast

[2019-10-01 14:54] #5436 closed

[2019-10-01 15:37] jamesward opened #5734 "cluster-local visibility not working when using tags"
## In what area(s)?
/area networking

## What version of Knative?
0.9.x

## Expected Behavior
I set a service label:
[code]
The service should not be publicly available.

## Actual Behavior
But the service is still publicly accessible.

## Steps to Reproduce the Problem
[code]
Try to access the service publicly.

[2019-10-01 16:31] #5469 closed

[2019-10-01 16:31] #5599 closed

[2019-10-01 17:49] #5723 closed

[2019-10-01 18:08] andrew-su commented on #5679
By `dry-run` did you mean the `--server-dry-run` beta option?

We tried to run `server-dry-run` option on latest GKE (v1.14.6-gke.1) and saw that it fails with error for Pod resource:

[code]

We also tried it with [kind](https://github.com/kubernetes-sigs/kind) on kubernetes version `v1.15.3` and that seems to report correctly (no error when `server-dry-run` flag is passed).

When we tried this w

[2019-10-01 18:29] dgerd commented on #5410
Moving into 0.10.x.

@VPashkov , Do you have any update on this issue?

[2019-10-01 19:42] andrew-su commented on #5679
@dgerd

After rereading your initial post, we interpreted it as: The values specified in `config-default` should be the upper limit on what someone can define in their revision. Where if they specified a value larger than the default, they should get an error.

Is this what you meant?

[2019-10-01 20:06] dgerd commented on #5734
cc @tcnghia

[2019-10-01 20:22] dgerd commented on #5679
Not quite..

If you specify the following in the configmap:

[code]

and then try to create a Service like below it succeeds in creating, but never becomes Ready

[code]

This ie because the default adds the following to the resources block:

[code]

As per https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/resource-qos.md#requests-and-limits, `request <= limit

[2019-10-01 20:25] andrew-su commented on #5679
Thanks, that makes much more sense!

[2019-10-01 20:30] dgerd commented on #5679
To add a bit more. Kubernetes does this here:

https://github.com/kubernetes/kubernetes/blob/7f23a743e8c23ac6489340bbb34fa6f1d392db9d/pkg/apis/core/v1/validation/validation.go#L56

We can write the same or similar logic in our webhook. However, I expect this to not be the only place where we are falling short on validating the embedded K8s PodSpec object. This is where the `dry-run` option fits in

[2019-10-01 20:49] tcnghia commented on #5734
@jamesward can you please show how your Service looks?  If it is related to tag/subRoute I think it is fixed here https://github.com/knative/serving/pull/5655  .

[2019-10-01 20:54] tcnghia commented on #5734
cc @andrew-su

[2019-10-01 21:40] trshafer opened #5739 "Support publishing metrics to both stackdriver and prometheus simultaneously"
## In what area(s)?

/area monitoring

## Describe the feature

In the config-observability configmap, the user specifies either stackdriver or prometheus. It would be helpful to be able to publish in both channels.

[2019-10-01 21:42] trshafer commented on #5739
/assign jkh52

[2019-10-01 22:29] jamesward commented on #5734
yeah, this does seem to only be a problem when there are tags.  So probably related to #5655

[2019-10-01 23:16] tcnghia commented on #5734
/close

 #5655 fixed this issue.

[2019-10-02 05:44] assafsauer commented on #5405
Hi

Sorry for late reply,
No , no issue.

Many Thanks!
Assaf Sauer

On Fri, Sep 20, 2019 at 6:44 AM Nghia Tran <notifications@github.com> wrote:

[2019-10-02 17:45] #5156 closed

[2019-10-02 19:46] shashwathi commented on #5679
We are not entirely sure how much of work this effort would involve. In short term we could use the resource validation function from k8s core v1 API  package as you mentioned.

[2019-10-02 19:51] #5730 closed

[2019-10-02 22:05] JRBANCEL commented on #5335
/assign

[2019-10-02 22:17] JRBANCEL commented on #5335
Data samples:
---
https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-continuous/1174868571012993024

[code]
---
https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-continuous/1174566572937711616

[code]
---
https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-continuous/1173660559514537984

[code]
---
https://prow.knative.dev/view/gcs/knativ

[2019-10-02 23:47] grantr opened #5746 "Fatalw("...", err) logging pattern is invalid"
#3866 added a bunch of logging statements that look like this:

[code]

This is incorrect. Actually the `err` arg should be wrapped in a zap field:

[code]

The sugared logger makes this extremely difficult to detect. One has to inspect the log message produced to see that it's wrong. This has come up before in https://github.com/knative/pkg/issues/603 and https://github.com/knative/serving/pull/3

[2019-10-03 02:19] #5746 closed

[2019-10-03 22:40] JRBANCEL commented on #5335
During the test, `istio-pilot` uses a lot of CPU:

[code]
saturating the nodes on which it is running:

[code]

What I don't understand it how is this a problem since `istio-ingressgateway` has very generous CPU request (3 cores).

[2019-10-04 00:50] JRBANCEL opened #5751 "E2E are not resilient against KubeClient transient errors"
## In what area(s)?

/area test-and-release
/kind good-first-issue

## Describe the feature
It is not unexpected to experience transient issues connecting to the Kubernetes cluster. These errors shouldn't fail a test.

For example, [here](https://github.com/knative/serving/blob/master/test/v1/service.go#L213) if `client.Services.Get` returns an error, we fail the test. We sometimes see transient e

[2019-10-04 12:02] knative-test-reporter-robot opened #5752 "[flaky] pkg/autoscaler.TestMultiScalerOnlyCapacityChange"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/autoscaler.TestMultiScalerOnlyCapacityChange
* **Repository name**: serving

[2019-10-04 12:02] knative-test-reporter-robot opened #5753 "[flaky] pkg/activator/net.TestRevisionWatcher/one_healthy_one_unhealthy_podIP_then_2,_then_cluster"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestRevisionWatcher/one_healthy_one_unhealthy_podIP_then_2,_then_cluster
* **Repository name**: serving

[2019-10-04 16:21] dineshba opened #5755 "Run unit tests locally"
/area test-and-release

Classify what kind of issue this is:

/kind question
/kind bug

## Expected Behavior
1) git clone https://github.com/knative/serving.git && cd serving
2) go test ./... should be pass (as it is passing in CI)

## Actual Behavior
1) git clone url && cd serving
2) go test ./... is faling

Note: I am in correct GOPATH(`$(go env GOPATH)/src/github.com/knative.dev`) I tried after

[2019-10-04 16:27] vagababov commented on #5755
You're in the incorrect path.
Correct path would be: `$GOPATH/src/knative.dev`
/close

[2019-10-04 16:28] #5755 closed

[2019-10-04 17:29] dineshba commented on #5755
@vagababov Sorry my bad. Thanks for your inputs

[2019-10-04 17:48] assafsauer commented on #5405
Hi

The issue came at some point.
all the Grafana reports are working ok beside the revision HTTP request

![image](https://user-images.githubusercontent.com/22165556/66228462-c775ea80-e6df-11e9-965f-78410db517f2.png)

[2019-10-05 12:02] knative-test-reporter-robot opened #5757 "[flaky] 1.12% tests failed in repo serving on 2019-10-05 10:11:23 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.12% tests failed in repo serving on 2019-10-05 10:11:23 +0000 UTC
* **Repository name**: serving

[2019-10-06 12:01] knative-test-reporter-robot opened #5758 "[flaky] test/e2e.TestRPSBasedAutoscaleUpCountPods"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestRPSBasedAutoscaleUpCountPods
* **Repository name**: serving

[2019-10-06 12:01] knative-test-reporter-robot opened #5759 "[flaky] test/e2e.TestRPSBasedAutoscaleUpCountPods/hpa"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestRPSBasedAutoscaleUpCountPods/hpa
* **Repository name**: serving

[2019-10-06 12:01] #5431 closed

[2019-10-07 12:02] #5752 closed

[2019-10-07 13:18] VPashkov commented on #5410
Sorry for the long response.
I've been on vacation.
I have some progress, but not finished yet.

[2019-10-07 13:44] taragu commented on #5103
/assign

[2019-10-07 17:45] jkh52 commented on #5739
accept this issue

[2019-10-07 17:48] trshafer commented on #5739
/assign jkh52

[2019-10-07 18:13] ZhiminXiang commented on #5706
I think we could support two ways of Gateway configuration:

1. Leverage Knative Certificate CRD as a **standard** API to configure Knative Ingress TLS. This is not Istio specific method, and should be automatically applied to other Knative Ingress solutions, such as gloo.
Specifically, for Istio implementation, Knative fully controls and reconciles Gateway. Users should not be able to directly mo

[2019-10-08 00:19] Joon-L commented on #5706
@ZhiminXiang Makes sense. I think number 2 is valuable since it allows users to leverage all of Istio Gateway's auth options with Knative. There is no simple way to achieve this in the current state, but with this new feature, users can set up their per-service ingress in a more controlled way if they so desire.

[2019-10-08 01:16] JRBANCEL commented on #5335
Some Envoy always return 200, some change in the middle of the test from 200 to 503 NR.
Focusing on a specific Envoy (`istio-ingressgateway-6c6cbf558b-4gzwd`) that changes from 200 to 503, it looks specific to a route, other requests are fine:
[code]
The 503 from `istio-system/istio-ingressgateway-6c6cbf558b-4gzwd` are returned from `2019-10-07T14:26:52.434Z` to `2019-10-07T14:28:32.631Z`.

Also I

[2019-10-08 03:00] arisu1000 opened #5766 "How could I increase number of istio-ingressgateway pod for large traffic."
/area autoscale
/area networking

## Ask your question here:
I need number of istio-ingressgateway pod more than 1 because large traffic.
But document for install istio for knative, there is following comment.
`# Set gateway pods to 1 to sidestep eventual consistency / readiness problems.`
https://github.com/knative/docs/blob/master/docs/install/installing-istio.md
Is this issue still valid?
How c

[2019-10-08 03:24] nak3 commented on #5766
The comment (`Set gateway pods to 1 to sidestep eventual consistency / readiness problems.
`) seems not true. Actually the CI is testing with multiple pods as below.

https://github.com/knative/serving/blob/7d87f88c65981e1905429a02bb1942fe4b96d9f7/third_party/istio-1.3.0/istio.yaml#L3129-L3130

https://github.com/knative/serving/blob/7d87f88c65981e1905429a02bb1942fe4b96d9f7/third_party/istio-1.3.0

[2019-10-08 03:33] ZhiminXiang commented on #5766
This seems not true now.
@arisu1000 You can follow the example in the above comment to bind HPA to Istio ingress so that it could be autoscaled.

[2019-10-08 04:07] arisu1000 commented on #5766
@nak3 @ZhiminXiang Thank you for reply.

[2019-10-08 05:44] vagababov commented on #5766
Also there is probably relevant documentation on the Istio site.

On Mon, Oct 7, 2019 at 9:07 PM WonChon Jung <notifications@github.com>
wrote:

[2019-10-08 12:02] knative-test-reporter-robot opened #5769 "[flaky] pkg/activator/net.TestRevisionWatcher/podIP_slow_ready"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestRevisionWatcher/podIP_slow_ready
* **Repository name**: serving

[2019-10-08 12:02] #5614 closed

[2019-10-08 12:02] knative-test-reporter-robot opened #5770 "[flaky] pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/prod-domain.com"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/prod-domain.com
* **Repository name**: serving

[2019-10-08 16:16] skaslev commented on #5351
I looked into this flake and I can reproduce it almost every time on my machine with something like

`go test -cpu 1,2,4 -race -parallel 12 -count 10  ./pkg/reconciler/route/... > ~/err`

The race is in the `TestGlobalResyncOnUpdateDomainConfigMap` test. The test may complete before the informers (started by `StartInformers`) have stopped running. In this case `pkg/controller.(*Impl).EnqueueKey()`

[2019-10-08 16:20] chaodaiG commented on #5351
I think you can /assign before /reopen

[2019-10-08 16:23] skaslev commented on #5351
/assign
/reopen

Thank you  @chaodaiG !

[2019-10-08 16:25] chaodaiG commented on #5351
There might be an order, can you try /reopen again?

[2019-10-08 16:26] skaslev commented on #5351
/reopen

[2019-10-08 16:27] chaodaiG commented on #5351
weird
/reopen

[2019-10-08 16:27] vagababov commented on #5351
The solution that I wanted to implement but @mattmoor  did not support is to update Enqueue and Enqueue after to do
[code]

[2019-10-08 16:28] chaodaiG commented on #5351
@skaslev , are you part of knative org?

[2019-10-08 16:30] skaslev commented on #5351
@chaodaiG No, I'm not. I guess that explains it.

[2019-10-08 16:30] chaodaiG commented on #5351
Yep, that for sure is

[2019-10-08 16:46] wtam2018 commented on #5708
/assign

[2019-10-08 17:11] JRBANCEL commented on #5766
I updated the docs: https://github.com/knative/docs/pull/1871
/close

[2019-10-08 17:11] #5766 closed

[2019-10-08 17:14] JRBANCEL commented on #5335
What I am saying is that given that `istio-ingressgateway` requests 3 cores, if it needs CPU, it should get it, no matter what `istio-pilot` is doing (`istio-pilot` will get throttled).

I was wrong about the empty 503, looking at the logs, they seem to be 503 NR (NoRoute) which is different from when Envoy is overloaded.

[2019-10-08 19:46] knative-test-reporter-robot opened #5771 "[performance] Serving load testing"
### Auto-generated issue tracking performance regression
* **Repository name**: serving
* **Test name**: Serving load testing

[2019-10-08 20:08] #5689 closed

[2019-10-09 12:02] knative-test-reporter-robot opened #5776 "[flaky] pkg/autoscaler.TestMultiScalerScaling"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/autoscaler.TestMultiScalerScaling
* **Repository name**: serving

[2019-10-09 14:00] chaodaiG commented on #5351
/reopen
Looks like this is happening very infrequently in continuous runs, @skaslev , are you still investigating?

[2019-10-09 20:09] anniefu opened #5777 "Support exporting metrics to Stackdriver metrics in any environment"
## In what area(s)?

/area monitoring

## Describe the feature
Allow Knative serving components to send metrics to Stackdriver even when the Kubernetes cluster is not running on Google Cloud Platform (GCP).

This requires explicitly collecting the following Stackdriver metadata, which is normally provided by the GCP metadata server on GCP:

- GCP Project ID where metrics will be stored
- GCP Zone

[2019-10-09 20:10] anniefu commented on #5777
/assign anniefu

[2019-10-09 21:32] andrew-su opened #5778 "Flakey test for subroute visibility"
/area test-and-release
https://github.com/knative/serving/blob/master/test/e2e/subroutes_test.go#L162-L169

Depending on the testing system, it may finish the check before the changes are propagated causing it to not actually check the url being updated.

We were able to observe this by adding a short delay before it and then testing against 0.8.1.

For reference: https://knative.slack.com/archive

[2019-10-09 22:58] dgerd opened #5780 "Refactor Revision lifecycle functions"
## In what area(s)?

/area API

## Describe the feature

https://github.com/knative/serving/blob/master/pkg/apis/serving/v1alpha1/revision_lifecycle.go is up to 12 `Mark*` functions for manipulating the RevisionStatus. The number of functions here is starting to get unwieldy, and it is not immediately clear when to call a particular function and which ConditionType the function impacts. In additio

[2019-10-09 23:28] ssmall opened #5781 "e2e.TestAutoscaleSustaining flaky on istio-1.3-[no-]mesh"
/area test-and-release

TestAutoscaleSustaining is pretty flaky according to TestGrid for Istio 1.3 (no issues with Istio 1.2)

[TestGrid: istio-1.3-mesh](https://testgrid.knative.dev/serving#istio-1.3-mesh&include-filter-by-regex=.*TestAutoscaleSustaining.*)
[TestGrid: istio-1.3-no-mesh](https://testgrid.knative.dev/serving#istio-1.3-no-mesh&include-filter-by-regex=.*TestAutoscaleSustaining.*)

[2019-10-09 23:56] vagababov commented on #5781
/cc @JRBANCEL
JR, does this fall into your Envoy crashing investigation bucket?

[2019-10-10 00:10] JRBANCEL commented on #5781
This test fails because of random 503, it is consistent with the other tests failings with similar errors.
Hopefully this is because of the segfaults. Once we deploy the fix, we will know.

[2019-10-10 06:53] cheld commented on #2940
Problems still appears on Kubernetes v1.16.1 and Knative0.9. Fixed by rerun

[2019-10-10 08:21] ZhengYangTong commented on #4522
What @nimakaviani and @duglin described above is very like a typical FaaS (Function as a Service) mechanism. When we need to do some AI training, it's necessary to allow processing of async requests because it may take a long time to get the result.
Now I am going to migrate my FaaS onto Knative, so I am interested in this feature and especially the demo @nimakaviani had given. From my perspective

[2019-10-10 12:03] #5555 closed

[2019-10-10 16:35] vagababov commented on #4522
AI training seems more of an offline job, isn't it? So wouldn't just
standard k8s job be better suited for this?

On Thu, Oct 10, 2019 at 1:21 AM Zhengyang Tong <notifications@github.com>
wrote:

[2019-10-10 17:09] #4781 closed

[2019-10-10 17:26] tcnghia commented on #5706
@Joon-L I think we need to discuss more about https://github.com/knative/serving/pull/5786 at the working group.  I am not sure referring to Istio stuffs at Route level is good -- currently Route API doesn't have any reference to Istio, including annotations and labels.

Instead what we have been proposing is to allow a mapping from the visibility label value (sets at Route level) to Gateways (whe

[2019-10-10 18:45] nimakaviani commented on #4522
@ZhengYangTong here are some references to the resources you asked for. Like @vagababov mentioned, whether and how knative should support the async work is still an open question. But hopefully this will give you some ideas as to how the demo was implemented.

The demo video of the async work on top of knative serving: https://www.youtube.com/watch?v=ce70Tp8uQcE

Repo/branch for the modified knati

[2019-10-10 18:48] nimakaviani commented on #5780
I can take a stab at refactoring it.

[2019-10-11 03:06] ZhengYangTong commented on #4522
@vagababov Suppose you have trained a model and need to do something like regeneration testing, all you want then is just a scalable running application to receive requested parameters and give back response results, which may take a long time. Thus both sync and async requests should be handled properly in this case.
@nimakaviani Thank you very much.

[2019-10-11 04:49] wtam2018 commented on #5708
gloo.yaml is generated by gloo
/assign @ilackarms

[2019-10-11 10:15] skaslev commented on #5351
I'll send a PR for review shortly.

[2019-10-11 12:02] #5776 closed

[2019-10-11 17:35] duglin commented on #4522
+1 to @ZhengYangTong's comment. I wouldn't want someone who is creating a piece of code to have to think too much about whether the processing of each request will be short-lived or not, and based on that decision use Knative vs some K8s thingy. What if it starts out being short lived but over time some requests end up taking 15 minutes? Should they really need to change their deployment model or

[2019-10-11 17:44] vagababov commented on #4522
I asked from a slightly different point of view. You can do many things with knative, but it doesn't really mean you should ;-)

[2019-10-11 20:16] srinivashegde86 commented on #2633
We have the documentation on this already.

/close

[2019-10-11 20:16] #2633 closed

[2019-10-12 03:54] danielqsj commented on #5732
/assign

[2019-10-13 21:13] nak3 commented on #5781
I have gone through a couple of logs from 1.3-__mesh__ and just wanted to note something in common.

- The failure is because of getting `503` from some requests c.f - `error making requests for scale up: total = 63515, errors = 20, expected 0`
- The `503` happened on the connection from `istio-ingressgateway(istio-proxy)` to `activator`.
- When the issue happened, activator has multiple pods (mor

[2019-10-13 21:28] vagababov commented on #5781
@mattmoor  did work in that space and I think has fixed the activator termination part.

[2019-10-13 23:58] JRBANCEL commented on #5781
This is not related to the segfaults.
There are a handful bugs in 1.3.x that lead to high CPU usage being the root cause of the 503 NR errors.
These have been fixed in the upcoming 1.3.3 release. I tested the pre-release bits and it looked good.

[2019-10-14 12:02] #5688 closed

[2019-10-14 12:02] #5554 closed

[2019-10-14 17:35] tcnghia commented on #5781
We probably need a test similar to TestDestroyPodInFlight (and its siblings) to destroy activators to make sure this can be caught with certainty.

[2019-10-14 21:35] nicolaferraro opened #5802 "Services take minutes to be deployed on Minikube (v0.9.0)"
## In what area(s)?

/area autoscale

## What version of Knative?

0.9.0

## Expected Behavior

After deploying a Knative service, it should run in seconds. At least, the deployment should be created.

## Actual Behavior

Randomly services are started immediately, but most of the times they remain stuck for some minutes.

The service remains in status `REVISION MISSING`. A child revision is create

[2019-10-14 22:21] vagababov commented on #5802
/remove-label area/autoscale

[2019-10-14 22:21] vagababov commented on #5802
/remove-area area/autoscale

[2019-10-14 22:21] vagababov commented on #5802
/remove-area autoscale

[2019-10-14 22:22] vagababov commented on #5802
I do not think this is a knative issue, somehow.
How big is your minikube cluster? Is it provisioned with enough resources?

[2019-10-14 22:45] nicolaferraro commented on #5802
15GB RAM, 4 vCPU. I've run up to 5 services in parallel, brokers channels and other pods with no issues... it just takes minutes to get all those services up.

When I did the experiment above, there was only that service in the cluster (apart from knative pods themselves).

I've seen in other contexts some "Unschedulable" errors, but this is not the case.

[2019-10-14 23:44] chaodaiG commented on #4800
/close
Since the test was renamed by stripping `knative.dev/serving` from prefix

[2019-10-14 23:44] #4800 closed

[2019-10-14 23:44] chaodaiG commented on #4798
/close
Since the test was renamed by stripping `knative.dev/serving` from prefix

[2019-10-14 23:44] #4798 closed

[2019-10-14 23:44] chaodaiG commented on #4799
/close
Since the test was renamed by stripping `knative.dev/serving` from prefix

[2019-10-14 23:45] #4799 closed

[2019-10-14 23:45] chaodaiG commented on #4801
/close
Since the test was renamed by stripping `knative.dev/serving` from prefix

[2019-10-14 23:45] #4801 closed

[2019-10-14 23:45] chaodaiG commented on #4802
/close
Since the test was renamed by stripping `knative.dev/serving` from prefix

[2019-10-14 23:45] #4802 closed

[2019-10-14 23:45] chaodaiG commented on #4803
/close
Since the test was renamed by stripping `knative.dev/serving` from prefix

[2019-10-14 23:45] #4803 closed

[2019-10-14 23:45] chaodaiG commented on #4804
/close
Since the test was renamed by stripping `knative.dev/serving` from prefix

[2019-10-14 23:45] #4804 closed

[2019-10-14 23:45] chaodaiG commented on #4805
/close
Since the test was renamed by stripping `knative.dev/serving` from prefix

[2019-10-14 23:45] #4805 closed

[2019-10-14 23:45] chaodaiG commented on #4810
/close
Since the test was renamed by stripping `knative.dev/serving` from prefix

[2019-10-14 23:45] #4810 closed

[2019-10-14 23:46] chaodaiG commented on #4809
/close
Since the test was renamed by stripping `knative.dev/serving` from prefix

[2019-10-14 23:46] #4809 closed

[2019-10-14 23:46] chaodaiG commented on #4808
/close
Since the test was renamed by stripping `knative.dev/serving` from prefix

[2019-10-14 23:46] #4808 closed

[2019-10-14 23:46] chaodaiG commented on #4807
/close
Since the test was renamed by stripping `knative.dev/serving` from prefix

[2019-10-14 23:46] #4807 closed

[2019-10-14 23:46] chaodaiG commented on #4806
/close
Since the test was renamed by stripping `knative.dev/serving` from prefix

[2019-10-14 23:46] #4806 closed

[2019-10-15 00:57] nak3 opened #5806 "Add e2e test to destroy activator pod in flight"
## In what area(s)?

/area autoscale
/area networking
/area test-and-release
/kind proposal

## Describe the feature

We should have an e2e test for destorying activator pods in flight like TestDestroyPodInFlight.

ref. https://github.com/knative/serving/issues/5781#issuecomment-541814680

[2019-10-15 00:58] nak3 commented on #5806
/assign

[2019-10-15 01:29] nimakaviani commented on #5780
looks like lifecycle functions for other resources can also benefit from similar refactoring. once I have the first PR approved, I can refactor those functions as well.

[2019-10-15 05:55] vagababov commented on #5806
Before we start writing this, I'd like to understand what are we testing/measuring exactly?

[2019-10-15 06:06] dgerd commented on #5732
This seems to be coming up more often recently so we can potentially revisit the decision here, but this is purposeful. Knative Serving does not necessarily follow K8s defaults or validation.

We have chosen to deviate here to enable sub-second probing by default. K8s does not allow for setting a granularity less than 1 second, but we needed to go lower and we wanted this experience by default as

[2019-10-15 07:46] nak3 commented on #5806
I am thinking that we should two tests to test following scenarios.

1.  `TestDestroyPodWithRequests/activators`
When requests are in queue-proxy, the requests should return `200`, even if activator pods are restarted.

2. `TestDestroyPodInflight/activators`
When requests are processing in user-container,  the requests should return `200` even if activator pods are restarted.

[2019-10-15 13:29] andrew-su commented on #5778
/assign

[2019-10-15 13:44] duglin opened #5809 "Can't deploy v0.9.0 monitoring to kube 1.16"
## In what area(s)?

/area monitoring

## What version of Knative?

v0.9.0

## Expected Behavior

No errors

## Actual Behavior

## Steps to Reproduce the Problem

Just deploy monitoring.yaml to kube 1.16
It appears these are no longer in beta and are in apps/v1 now

[2019-10-15 15:11] pouledodue commented on #2860
@james-callahan hi what's the status on Kong+Knative?

[2019-10-15 17:06] vagababov commented on #5809
https://github.com/knative/serving/pull/5605/files fixed that at head.
I am not sure if we're going to backport it into 0.9 though.
/cc @mattmoor

[2019-10-15 17:06] vagababov commented on #5809
/cc @mdemirhan

[2019-10-15 17:10] duglin commented on #5809
I'd vote +1 to backporting since people will most likely want to use 0.9 with 1.16

[2019-10-15 17:13] duglin commented on #5809
Will close once that chat finishes since this is a dup of https://github.com/knative/serving/issues/5599

[2019-10-15 20:12] james-callahan commented on #2860
I left Kong last month; @subnetmarco might be able to answer?

[2019-10-15 21:30] jihuin commented on #5172
Hi, I can help with it.

[2019-10-15 21:31] trshafer commented on #5172
/assign jihuin

[2019-10-16 03:14] andyyin opened #5813 "The problem of autoscaler relying on concurrency"
## In what area(s)?

## What version of Knative?
v0.9.0 and all

## Ask your question here:
Low frequency calls, such as 1 request per second. Concurrency may always be zero, which will lead to frequent ServerlessService mode switching between proxy and serve, and may lead to frequent scaling to 0, and then scaling to 1, which eventually leads to unstable request processing time.

In this case, is

[2019-10-16 04:52] vagababov commented on #5813
And the question is?

[2019-10-16 05:33] andyyin commented on #5813
Low frequency calls, such as 1 request per second. Concurrency may always be zero, which will lead to frequent ServerlessService mode switching between proxy and serve, and may lead to frequent scaling to 0, and then scaling to 1, which eventually leads to unstable request processing time.

In this case, is it up to expectations? If not, how to solve it? Should we consider concurrency as well as r

[2019-10-16 05:54] vagababov commented on #5813
We also support RPS based autoscaling, though it's pretty alpha feature, though it probably won't solve your issue.
You may use wider stable window size, which will result in fewer scale to 0 cases (probably the best approach in this case).
If you know that most of the time you want at least one pod around, you can use minScale=1.

But yes, in general this is by design.

[2019-10-16 07:38] #5806 closed

[2019-10-16 12:01] knative-test-reporter-robot opened #5814 "[flaky] test/e2e.TestRPSBasedAutoscaleUpCountPods/kpa"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestRPSBasedAutoscaleUpCountPods/kpa
* **Repository name**: serving

[2019-10-16 12:01] knative-test-reporter-robot opened #5815 "[flaky] test/conformance/api/v1.TestServiceWithTrafficSplit"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceWithTrafficSplit
* **Repository name**: serving

[2019-10-16 12:02] knative-test-reporter-robot opened #5816 "[flaky] pkg/autoscaler.TestMetricCollectorError/Did_not_receive_stat_scraper_error"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/autoscaler.TestMetricCollectorError/Did_not_receive_stat_scraper_error
* **Repository name**: serving

[2019-10-16 12:02] knative-test-reporter-robot opened #5817 "[flaky] pkg/autoscaler.TestMetricCollectorError"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/autoscaler.TestMetricCollectorError
* **Repository name**: serving

[2019-10-16 12:02] knative-test-reporter-robot opened #5818 "[flaky] test/conformance/api/v1beta1.TestServiceWithTrafficSplit"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestServiceWithTrafficSplit
* **Repository name**: serving

[2019-10-16 13:09] nak3 commented on #5542
The failure of [TestDestroyPodWithRequests/activator w/ mesh](https://testgrid.knative.dev/serving#istio-1.3-mesh&include-filter-by-regex=.*TestDestroyPodWithRequests/activator.*) added by https://github.com/knative/serving/commit/1d263950f9f2fea85a4dd394948a029c328af9d9 seems due to this issue.

[2019-10-16 16:42] vagababov commented on #5542
I do not run with mesh.
/cc @tcnghia
Nghia, can there be some problems with this due to mesh? Or may be we just need to increase the timeouts we use in activator since mesh takes _longer than that_ to reconcile?

[2019-10-16 17:17] nimakaviani commented on #5076
@dgerd opened an issue and a proposal (#5780) on how to deal with condition types and marking resource status. PR #5804 already implements that proposal for revision lifecycle and I plan to continue the refactoring for other resource status markers as well.

[2019-10-16 17:26] nimakaviani commented on #5076
also this https://github.com/knative/serving/pull/5804#issuecomment-542805906 for cross referencing.

[2019-10-16 21:55] JRBANCEL commented on #5781
/close
Addressed by #5812
If there is indeed issues with Activator in the shutdown path, the new test will catch it.

[2019-10-16 21:55] #5781 closed

[2019-10-17 00:35] #5780 closed

[2019-10-17 04:19] nak3 opened #5821 "Revision should be snapshot-in-time of application code more strictly"
## In what area(s)?

/kind spec
/kind proposal

## Current problem

Knative resolves image tag to digest, but the revision has the image digest in `status` field, not `spec`. Because of that, if the image is updated and revision is reconciled, the image digest in revision is also updated. Hence, the deployment (application code) is not always immutable against the revision.

## Scenario of current

[2019-10-17 15:44] josephlewis42 opened #5822 "Support Sidecar Processes"
## In what area(s)?

/area API

/kind proposal

## Describe the feature

It would be useful to allow developers to run additional sidecar processes next to their application code. Examples:

* Abstraction layers like [dapr](https://github.com/dapr/dapr) or sidecars based on [Go CDK](https://gocloud.dev/)
* Cloud SQL proxy https://github.com/knative/serving/issues/4659
* BeyondCorp proxies to other

[2019-10-17 15:47] poy commented on #5822
For another piece of data, Cloud Foundry supports sidecars: http://v3-apidocs.cloudfoundry.org/version/release-candidate/#sidecars

[2019-10-17 23:38] yanweiguo commented on #5691
The problem here is that Stackdriver doesn't allow writing data of the same metric with same labels. Otherwise there will be race condition.

[2019-10-18 01:46] nak3 opened #5825 "TestDestroyPodWithRequests w/ mesh (Istio 1.3) is failing"
## In what area(s)?

/area autoscale
/area networking
/area test-and-release

## What version of Knative?

HEAD (w/ mesh Istio 1.3.3)

## Actual Behavior

- After https://github.com/knative/serving/commit/4dc01ef163639258fb4ec32bd30675c9cabf70d0, TestDestroyPodWithRequests is failing with Istio v1.3.
- It is reproducible on my local env.
- Please also refer to https://testgrid.knative.dev/serving#

[2019-10-18 02:39] vagababov commented on #5825
I'll take a look.
I found one issue with the state of the system as it is.
It _should_ not have affected this test, but you never know.

[2019-10-18 02:39] vagababov commented on #5825
/assign

[2019-10-18 03:29] #5825 closed

[2019-10-18 05:48] savitaashture commented on #5821
/assign

[2019-10-18 12:01] #5815 closed

[2019-10-18 12:01] knative-test-reporter-robot opened #5827 "[flaky] pkg/activator/handler.TestActivationHandler/overflow"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/handler.TestActivationHandler/overflow
* **Repository name**: serving

[2019-10-18 12:01] #5814 closed

[2019-10-18 12:01] #5816 closed

[2019-10-18 12:01] #5817 closed

[2019-10-18 12:37] romachalm opened #5828 "Duplicated k8s services for ksvc"
## In what area(s)?

/area autoscale

## What version of Knative?

0.9

## Expected Behavior

call to ksvc returns 200 status, and I see logs in activator.

## Actual Behavior

I receive an error 503 `upstream connect error or disconnect/reset before headers. reset reason: connection failure`. I cannot find any trace in `activator.`, as if it wasn't reached.

The ingress gateway sends the traffic

[2019-10-18 13:29] romachalm commented on #5828
I have just discovered the resource `knative-internal` and I also have some duplicated resources  :
[code]

The serverless service related to my very first service has this status :
```  Warning  UpdateFailed  15m (x20 over 54m)  serverlessservice-controller  InternalError: error retrieving deployment selector spec: error fetching Pod Scalable default/colored-canary-cwmnr-deployment: deployments.a

[2019-10-18 14:33] yuzliu opened #5829 "Can we set a default CPU/Memory Limit/Request for queue_proxy container"
## In what area(s)?

## Ask your question here:
Hi guys, is there a way for knative serving to set a default value for QueueSideCarResourcePercentageAnnotation: https://github.com/knative/serving/blob/ec457adcb1466abfcbc1c0a069e60285e769d135/pkg/apis/serving/register.go#L71 ?

We can not apply resourcequota to our k8s cluster because the queue_proxy container does not have both CPU/Memory Limit co

[2019-10-18 14:45] #5714 closed

[2019-10-18 17:26] JRBANCEL commented on #5828
Regarding the services and the endpoints, @vagababov is the best person to take a look.

[2019-10-18 18:23] vagababov commented on #5821
@savitaashture I think this might require a pass/talk at the WG meeting first.
/cc @dgerd

[2019-10-19 04:13] nak3 opened #5833 "scale.TestScaleToN/scale-10 is regarded as FAIL due to go test command's timeout"
## In what area(s)?

/area autoscale
/area test-and-release

## What version of Knative?

HEAD (w/ Istio 1.3.3)

## Expected Behavior

We would like to get timeout error with the timeout in test code rather than command's.

expected timeout is from here:
https://github.com/knative/serving/blob/7d2ae34b4958aaf23d3603d339dc235077001db6/test/scale/scale_test.go#L59

Current timeout gets the command's

[2019-10-20 12:01] #5827 closed

[2019-10-20 12:01] knative-test-reporter-robot opened #5837 "[flaky] pkg/reconciler/route.TestRouteDomain/Default"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestRouteDomain/Default
* **Repository name**: serving

[2019-10-20 18:43] #5542 closed

[2019-10-21 06:43] markusthoemmes commented on #5828
Have you updated from 0.7 to 0.9 directly or have you gone via 0.8? Most of our backwards compatible code assumes you follow all minor releases when upgrading.

[2019-10-21 07:03] romachalm commented on #5828
Indeed, we went from 0.7 to 0.9 skipping 0.8. So that's noted not to skip minor versions.

One question however : I have noticed that cloudrun went from 0.6 to 0.9 is I am not wrong.
Does that mean we have a risk to have this kind of issue on cloudrun ?

What is the correct way to clean the services' references that austoscaler keeps checking ?

[2019-10-21 07:30] SugandhaAgrawal commented on #5829
There exists https://github.com/knative/serving/pull/4151

[2019-10-21 09:49] Sota-Watanabe opened #5838 "Can't deploy helloworld-go on local cluster (./hack/local-cluster-up.sh )"
## In what area(s)?

 /area networking
 /area test-and-release

## Ask your question here:

[2019-10-21 09:49] #5838 closed

[2019-10-21 09:51] Sota-Watanabe opened #5839 "Can'"
## In what area(s)?

## Ask your question here:

[2019-10-21 09:52] #5839 closed

[2019-10-21 12:01] #5769 closed

[2019-10-21 12:01] #5443 closed

[2019-10-21 17:20] JRBANCEL commented on #5335
This test times out consistently in 1.3-mesh: https://testgrid.knative.dev/serving#istio-1.3-mesh&width=20

[2019-10-21 18:40] vagababov commented on #5828
Yes, if you don't follow specific version pattern CRGKE went from 0.6 to 0.9 (there's a way to go 0.6->0.8->0.9 if you pick your master versions right).

I think going 0.6->0.9 requires some downtime due to the ingress changes
/cc @trshafer @dgerd
Dan and Thomas can provide more context.

[2019-10-21 18:42] #5351 closed

[2019-10-21 19:15] vagababov commented on #5507
/close
Should be fixed by #5795.

[2019-10-21 19:15] #5507 closed

[2019-10-21 19:15] vagababov commented on #5508
/close
Should be fixed by #5795.

[2019-10-21 19:15] #5508 closed

[2019-10-21 19:15] vagababov commented on #5837
/close
Should be fixed by #5795.

[2019-10-21 19:15] #5837 closed

[2019-10-21 19:15] vagababov commented on #5020
/close
Should be fixed by #5795.

[2019-10-21 19:15] #5020 closed

[2019-10-21 19:15] vagababov commented on #5019
/close
Should be fixed by #5795.

[2019-10-21 19:15] #5019 closed

[2019-10-21 20:41] trshafer commented on #5828
There is a bit of downtime due to ingress changes, however the downtime is in the realm of < a few minutes. Not a permanent 503 and it should recover itself.

Is the issue only the one ksvc or every deployed ksvc? You could also try restarting istio-pilot. Sometimes I have seen pilot not picking up new changes.

[2019-10-21 21:42] #5691 closed

[2019-10-22 08:20] nak3 commented on #4631
@Joon-L @ZhiminXiang This is just a friendly reminder that I'm looking forward to this feature :smile:

[2019-10-22 09:20] romachalm commented on #5828
I had restarted the pilot. With no change unfortunately.
I keep having the autoscaler trying to contact an unexisting service (`error":"endpoints \"colored-canary-cwmnr-4psmg\" not found"`) and the other kservice in that situation keeps pointing at a deleted activator (`upstream connect error or disconnect/reset before headers. reset reason: connection failure`).
I have tried to delete the ksvc an

[2019-10-22 14:35] sebgoa opened #5845 "MutatingWebHookConfiguration disappears"
/area API

## What version of Knative?

0.9 release

## Expected Behavior

Stuff works ad vitam eternam

## Actual Behavior

Stuff stopped working without any apparent modifications either manual or automated

## Steps to Reproduce the Problem

Looks like the `mutatingwehbookconfiguration` had disappeared:

[code]

Per Matt's suggestion, deleted the webhook pod:

[code]

recreated the config:

[co

[2019-10-22 16:10] Joon-L commented on #4631
@nak3 Sorry for the delayed progress. I’ve paused on this issue as there was an ongoing design discussion to #4312 **split the Gateway per Route** and also support #5706 **custom Gateway reference per Route**. This provides an alternative solution to the manual certificate support and it also partially decouples Knative from the Istio Gateway CRD (basically Knative doesn't have to add annotations

[2019-10-22 20:24] JRBANCEL commented on #5335
Because pods takes more than 2m10s to be ready, the PA is marked as `TimedOut`, then scales the `Deployment` to 0 which kills the pod and then the `Revision` is stuck in `False/PodInitializing`.

[2019-10-22 22:19] yanweiguo opened #5850 "Move logging relative config from `config-observability` to `config-logging`"
## In what area(s)?

 /area API
/area monitoring

## Describe the feature
Currently we have following config maps:

[code]

While `config-logging` and config-tracing` are just about logging and tracing as the names suggest, `config-observability` includes both metrics and logging. We put helper functions for `config-observability` under `serving/pkg/metrics`. It's confusing and inconsistent.

I pr

[2019-10-23 01:26] nak3 commented on #5335
And interestingly the times out happens 100% after d030d95d8 (bump up Istio 1.3.3) https://testgrid.knative.dev/serving#istio-1.3-mesh&width=80

[2019-10-23 16:29] dgerd commented on #5845
@tcnghia, @vagababov, and I have done some investigation around this. As @bbrowning suggested on slack this appears to be a problem with our ownerReference.

The cluster-scoped `mutatingwehbookconfiguration` is owned by the webhook deployment. Sometimes when the K8s GC runs it does not find the parent and begins cleanup. The cleanup affects _all_ of the children of the webhook deployment which inc

[2019-10-23 17:36] dgerd commented on #5624
Moving to Serving 0.11.x. Not release blocking.

[2019-10-23 17:38] dgerd commented on #5410
@VPashkov Any progress update here?

[2019-10-23 17:41] dgerd commented on #5399
Not critical to 0.10.x, but lets see if we can get this in this week.

[2019-10-23 17:42] dgerd commented on #5285
Given the complexity of this change lets push to 0.11.x.

[2019-10-23 17:48] dgerd commented on #5103
@rgegg @taragu has implemented something here. Lets talk about how it solves the problem and if it is something we want to land.

[2019-10-23 17:50] vagababov commented on #5399
Truth be told, I am not sure if we really need this.
I see no big downside to this, but I don't see a real benefit either.

[2019-10-23 17:55] tcnghia commented on #5708
/assign @ilackarms

[2019-10-23 17:56] dgerd commented on #5040
/area networking

This is not going to land in 0.10.

@adrcunha @dgerd @vagababov @tcnghia Lets start a document and offline discussion on what we want to put together and how to get the information.

[2019-10-23 18:00] dgerd commented on #4557
Move to 0.11.

[2019-10-23 21:28] dgerd commented on #5822
Adding two earlier issues along the same lines as well as a document on the previous decision here to only support a single container with the goal of providing context.

Thanks for putting together a proposal and I think it would be great to discuss it further in a future API WG meeting.

https://github.com/knative/serving/issues/1794
https://github.com/knative/serving/issues/3384
https://docs.go

[2019-10-23 21:29] dgerd commented on #5809
This seems like an easy backport and something that has the potential to unblock a number of users. I would be in favor of this.

[2019-10-23 22:01] josephlewis42 commented on #5822
@dgerd I think that doc is private, would you be able to make it world readable?

Thanks!

[2019-10-24 02:18] yuzliu commented on #5829
Thank you guys for the reply! I do know that I can use this annotation but just wondering if knative can set a reasonable default value for users.

[2019-10-24 06:07] markusthoemmes commented on #5399
I might've screwed up a little on my first comment above: We actually **do** support /window for the HPA, if we're using metrics that are collected via our collector (for example concurrency or rps).

With that said, we'd only want to "forbid" this if we're using HPA + CPU, which is a really narrow use-case and I tend to agree with @vagababov that it has limited benefit.

[2019-10-24 06:10] markusthoemmes commented on #5172
I had a similar question on Slack yesterday. What if we don't configure these gateway services at all but instead fetch them via the label selector like we do for ingress status probing here https://github.com/knative/serving/blob/53822050c4d59be996172fdd50eb6b9ded7a4365/pkg/reconciler/ingress/status.go#L400-L412.

Any objections to going that way? The entire configuration feels kinda redundant to

[2019-10-24 06:38] savitaashture commented on #5399
Yes i agree :100: that there won't be any real benefit with respect to functionality

But being said should  forbid HPA+CPU when /window
even though its narrow use-case we need to validate in order to avoid confusion

confusion here i meant is if user give HPA + CPU and /window annotation everything works fine but there wont be any functionality effect with respect to /window then in that case it

[2019-10-24 09:20] skaslev opened #5864 "Data Race in activator.net.revisionWatcher"
This is caused by `revisionWatcher.run()` closing `rw.destsCh` when done running, while endpoints informer still hasn't finished and calls `revisionBackendsManager.endpointsUpdated` causing a panic for sending on a closed channel.

Ideally, channels should be closed from the writing side (not from `revisionWatcher.run()` which is on receiving end) or not closed at all.

/area autoscale

## What ve

[2019-10-24 11:05] skaslev commented on #5864
/remove-area autoscale
/area networking

[2019-10-24 13:52] mattmoor commented on #5711
/assign @nak3

[2019-10-24 13:55] mattmoor opened #5866 "Support standard imagePullSecrets"
## In what area(s)?

/area API

## Describe the feature

`imagePullSecrets` is a very standard way of specifying credentials for pulling container images on Kubernetes.  We should expand the supported subset of PodSpec to include this, updating the specification and conformance testing to match.

cc @dgerd

[2019-10-24 17:49] incfly commented on #539
Scanning through the issue, is there any additional thing you find blocking knative turning on mTLS?

[2019-10-24 20:41] sebgoa commented on #5845
Somehow one of our cluster seems to be in a state where this "race" happens quite a lot. The symptom is that revisions never become ready, and the pods that get created for each deployment never scale down to zero.

[2019-10-25 00:51] ZhiminXiang commented on #539
We still see test failures in the https://github.com/knative/serving/pull/5648 when turning on mTLS strict mode. Need more work to root cause those test failures.

[2019-10-25 03:20] #5864 closed

[2019-10-25 12:02] knative-test-reporter-robot opened #5872 "[flaky] test/upgrade.TestRunLatestServicePreUpgrade"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestRunLatestServicePreUpgrade
* **Repository name**: serving

[2019-10-25 13:39] toVersus commented on #4549
Hi, @jonjohnsonjr (cc. @mattmoor )

I encountered the following error while trying to deploy ksvcs on HEAD (995194b9504551469776da3bf71f45371b3948f8).

I know we dropped this ECR credential patch in #5570 along with bumping up K8s toolchains to v1.15. However, it seems not to get to work on my EKS cluster (v1.14.6). I wonder if we need a little bit more works on solving this problem.

- Update [K8

[2019-10-25 17:43] #5538 closed

[2019-10-25 17:49] jonjohnsonjr commented on #4549
I'm really confused by the #5570 diff. It looks like it changes the signature of LazyProvide back to a single parameter [here](https://github.com/knative/serving/pull/5570/files#diff-9031ac6d6d7253f7e11d9e9c92ad4640), but the ECR credential fix requires [this commit](https://github.com/kubernetes/kubernetes/commit/847cb24aa1960e86e9c7c160ce6b97bab0e9fdea#diff-82e3d28f25a0fa876c9517c8e8814ca4R50) w

[2019-10-25 20:06] ZhiminXiang commented on #4631
Alternatively, we can start working on the FIRST proposal in https://github.com/knative/serving/issues/5706#issuecomment-539138018 which leverages Knative Certificate for manual TLS provision.
We already have the https://github.com/knative/serving/pull/4463 checked in, which laid the foundation for that solution.

[2019-10-25 22:43] cyrildiagne commented on #1816
Does anyone knows how it works on GKE?

Because on GKE, if I specify an `nvidia.com/gpu: 1` resource spec in the template of my Knative service, the pods created by knative are automatically annotated with the appropriate `nvidia.com/gpu` toleration.

[2019-10-26 12:02] #5416 closed

[2019-10-26 12:02] #5701 closed

[2019-10-28 10:04] #5399 closed

[2019-10-28 12:02] #5427 closed

[2019-10-28 18:16] tcnghia opened #5890 "Investigate slow Revision startup when using Istio 1.3.3 & sidecar injection"
## In what area(s)?

/area autoscale
/area networking

## What version of Knative?
HEAD
v0.10

## Expected Behavior

Revision starts up successfully when using 100 ksvc.

## Actual Behavior

When running test-scale/scale-100 (deploying 100 `ksvc`), some Revisions took too long to start and were abandoned.

## Steps to Reproduce the Problem

Run `test-scale/scale-100` with Istio 1.3.3 and sidecar i

[2019-10-28 18:17] tcnghia commented on #5335
Since permanently failing tests won't be classified as flaky, I opened https://github.com/knative/serving/issues/5890 to track the 1.3.3-mesh scale-100 test separately.

[2019-10-28 22:23] dgerd opened #5894 "Replace Istio Install in DEVELOPMENT.md with Helm"
## In what area(s)?

/area networking
/area test-and-release

## Describe the feature
We currently recommend people to install Istio from YAMLs in the Knative project. This should instead have Istio installed using helm similar to https://knative.dev/docs/install/installing-istio/. The YAMLs in our project are generated from helm to enable integration testing without relying on another external so

[2019-10-28 23:48] dgerd commented on #5845
A fix for this has landed in 0.10. Going to keep this issue open for 0.11 as @mattmoor is taking a look at further improvements here.

[2019-10-28 23:50] dgerd commented on #5103
Actually tag @rgregg this time. Given how close this is to the release date I think we should delay this to land early in 0.11.

[2019-10-29 07:55] drpmma opened #5895 "Make TagTemplate independent from DomainTemplate"
## In what area(s)?

/area networking

TagTemplate should not depend on DomainTemplate. For example, if I want to customize my DomainTemplate as {{ index .Annotations "domain/test"}}.{{.Namespace}}.{{.Domain}}. Then the TagTemplate won't have any effect cause there is no "Name" field.

Like the code below, TagTemplate will render a string to Name fields in DomainTemplate.

https://github.com/knati

[2019-10-29 07:58] #5622 closed

[2019-10-29 14:03] mattmoor commented on #5692
We've eliminated errors from all the dataplane probes, but I believe have some tail latency to investigate in a couple scenarios.

[2019-10-29 14:05] mattmoor commented on #5829
What's unreasonable about the current value?

[2019-10-29 16:51] markusthoemmes opened #5900 "Remove redundant MetricsService."
## Problem statement

Currently, when we deploy a service that needs to get its metrics collected for autoscaling (using KPA or HPA with concurrency/RPS) we are creating 3 K8s services:

1. The "public" service, that contains either UserPod IPs or Activator IPs, depending on the state of the system.
2. The "private" service that only ever contains UserPod IPs.
3. The "metric" service that also onl

[2019-10-29 19:10] jamesward commented on #5734
I'm using 0.10.0 and still seeing the service accessible publicly.
[code]

[code]

[2019-10-29 19:51] DavidLangworthy commented on #1816
We have implemented an operator and webhook to manage resource allocation and some isolation.  It is not specific to KNative, but works fine with it.

[2019-10-29 20:21] vagababov commented on #5692
Yep, that's what I am working on.

[2019-10-29 20:27] #4083 closed

[2019-10-29 22:22] adrcunha opened #5901 "CI flow broken by #5782"
Root cause: running e2e-tests.sh without specifying Istio or Gloo causes neither one of them to be setup. Before #5782, Istio 1.2-latest would be installed by default.

/assign

[2019-10-30 01:11] #5901 closed

[2019-10-30 03:27] bappr commented on #5734
Confirmed as well, this issue is reproducible,  my routes are accessible.

[2019-10-30 12:01] knative-test-reporter-robot opened #5904 "[flaky] pkg/activator/handler.TestActivationHandler/request_error"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/handler.TestActivationHandler/request_error
* **Repository name**: serving

[2019-10-30 12:24] kubeway opened #5905 "Create and delete pods directly through the revision Controller"
## In what area(s)?

## Describe the feature
Now Autoscaler is implemented by operating Deployment, and Deployment can't judge which Pod has tasks to process and which Pods are idle when shrinking. So if you use Serving to manage a long-running task, it will cause kpa to delete the Pod that is executing the task when it shrinks. such as:
There are currently three Pods, but only one Pod is performi

[2019-10-30 12:31] markusthoemmes commented on #5905
Duplicate of https://github.com/knative/serving/issues/3886

/close

[2019-10-30 12:31] #5905 closed

[2019-10-30 12:38] kubeway opened #5906 "How to guarantee Pod serial processing request"
## In what area(s)?

## Ask your question here:

In performing some long-running tasks, in many cases, the Pod can only process one request concurrently. If a request comes in before the previous one, it can only wait for the previous task to finish before starting execution. The best way to do this is to hit the request directly onto the new Pod instead of hitting the old Pod. For example, this h

[2019-10-30 12:47] markusthoemmes commented on #5906
Have you tried running your services with `containerConcurrency: 1`? That's the setting that enforces serial processing of requests on the per-pod-level.

Now guaranteeing this across the system is a different and more difficult affair. You can for instance set the target burst capacity of your service to `-1`. That'll cause the activator to be in the request path at all times, which acts as a mor

[2019-10-30 14:34] vagababov commented on #5906
Note, for this to work correctly you need to also run
- 0.10
- not run with mesh,

[2019-10-30 16:00] #5833 closed

[2019-10-30 17:19] dgerd commented on #5822
@josephlewis42 Looks like it was shared with the knative-dev group. I have added read access for knative-users group as well.

You can find directions to join those groups here: https://knative.dev/community/

[2019-10-30 18:44] #4597 closed

[2019-10-30 19:26] tcnghia commented on #5734
/assign @andrew-su

[2019-10-30 20:34] tcnghia opened #5912 "TestGRPC* tests are relying on grpc-go library bug"
## In what area(s)?

/area networking
/area test-and-release

## What version of Knative?
All recent versions, including HEAD.

## Expected Behavior
TestGRPC* doesn't fail.

## Actual Behavior
TestGRPC* failed for newer version of grpc-go due to an upstream bug fix https://github.com/grpc/grpc-go/issues/2988#issuecomment-523684092 .  The test passed previously because it relies on HTTP being serve

[2019-10-30 20:34] tcnghia commented on #5912
/cc @tanzeeb
/cc @mattmoor

[2019-10-30 20:57] tanzeeb commented on #5912
/assign

[2019-10-30 21:23] dprotaso opened #5913 "Figure out how lazy loading container images can improve cold starts"
There's been lots of progress wrt. to lazy pulling container images and presenting them as filesystems to containers.

Work is happening in https://github.com/containerd/containerd/issues/3731 and the go team has [google/crfs](http://github.com/google/crfs)

CRFS requires users to pre-process the image which isn't ideal so I'd like to do it on the fly. Given all the prior art it may be possible to

[2019-10-30 21:23] dprotaso commented on #5913
/assign @dprotaso

[2019-10-31 01:12] dgerd opened #5914 "Log collection relies on default user-container name"
## In what area(s)?

/area monitoring

## What version of Knative?
0.6.0+

## Expected Behavior

Log collection works for my container

## Actual Behavior

Log collection configuration relies on the pattern: `/var/log/containers/*user-container-*.log` for discovering user container logs.

As #4289 introduced the ability to specify container names and change the default container name log collectio

[2019-10-31 07:15] nak3 commented on #5890
The problematic pods kept printing following error form istio-proxy, I started asking about it in https://github.com/istio/istio/issues/18046

`Envoy proxy is NOT ready: failed to get server info: failed retrieving Envoy stats: Get http://127.0.0.1:15000/server_info: net/http: request canceled (Client.Timeout exceeded while awaiting headers)`

I'm still not 100% sure if it fixes this problem, but

[2019-10-31 13:22] taragu commented on #5866
/assign

[2019-10-31 15:12] VPashkov commented on #5410
@dgerd I think I overestimated my ability to fix this bug.
Can you please assign it to somebody else?

[2019-10-31 15:13] vagababov commented on #5410
/unassign

[2019-10-31 17:37] JRBANCEL commented on #5914
Should we just capture the logs from all containers?
`path /var/log/containers/*.log`

[2019-10-31 19:31] ZhiminXiang commented on #4631
I just added a comment in the PR https://github.com/knative/serving/pull/5885#issuecomment-548532397

The main point of that comment is that the Knative Certificate manually provisioned by users need to have wildcard host that could cover the whole namespace in order to provide consistent experience btw manual cert and auto cert, and consistent experience btw Route and sub-Route.

/cc @Joon-L @tcn

[2019-10-31 20:51] ahmetb commented on #5822
Is this possibly a change of decision made in https://github.com/knative/serving/issues/3384#issuecomment-487188293 as RevisionSpecTemplate now has a `containers[]` field?

[2019-10-31 20:56] dgerd commented on #5822
That comment was made after RevisionSpecTemplate had `containers[]`.

The doc that @savitaashture put together explores exactly what changing that decision may look like.

[2019-10-31 22:13] itsmurugappan opened #5918 "Use better probe path than "/" for activator and KPA"
## kind of issue this is:

/kind question

Activator fails probe when istio end user authentication policy is applied.

## Expected Behavior

When istio end user authentication policy is applied for a service target (excluding /metrics and /healthz path), the service should respond back with "Origin authentication failed" if valid jwt is not provided.

## Actual Behavior

Activator fails probe and

[2019-11-01 06:06] yuxiaoba commented on #2495
Is there any way to get the cold-start timing collection from Prometheus now? @greghaynes

[2019-11-01 06:25] drpmma opened #5919 "Cannot connect to Queue-proxy Prometheus UserQueueMetricsPort, error "read: connection reset by peer""
## In what area(s)?

/area monitoring

## What version of Knative?

v0.10.0-dirty

with sidecar inject

## Expected Behavior

I should be able to connect to queue-proxy UserQueueMetricsPort 9091 to access request relevant metrics.

## Actual Behavior

Cannot access queue-proxy Prometheus metric UserQueueMetricsPort(9091), error  "read: connection reset by peer". Thus I cannot access request releva

[2019-11-01 08:37] yuxiaoba commented on #5126
I have meet the same problem.

[2019-11-01 08:51] yuxiaoba commented on #5126
I have meet the same problem.

# What version of Knative?
v0.10.0
------

## Expected Behavior
app service deployed successfully
----
## Actual Behavior
deploy a service with image in localhost registry(harbor.test.com) failed.
----

## Steps to Reproduce the Problem
1. write service.yaml
[code]
2. docker can pull the image
[code]
3.deploy app service.
`kubectl apply -f service.yaml`

4. failed
[c

[2019-11-01 09:20] yuxiaoba commented on #5126
I have skipped tag resolution by
[code]

[2019-11-01 10:47] markusthoemmes commented on #5410
/assign

[2019-11-01 11:32] arisu1000 opened #5921 "How to use additional domain and set tls for that domain?"
## In what area(s)?
/area networking

## Ask your question here:

For using additional domain except default(or custom) domain, how could I set config?

For example,
default domain : a.com
additional domain :
- b.com
- c.com

I can set a.com with tls.
For additional setting b.com and c.com with tls for specipic service in knative, what is that I to do?

[2019-11-01 12:01] #5904 closed

[2019-11-01 12:02] #5198 closed

[2019-11-01 14:45] beemarie opened #5922 "Activator restarts itself after crashing multiple times on startup"
## In what area(s)?

/area activator

## What version of Knative?

master
Output of git describe --dirty: v0.10.0-13-g4a9b2d302-dirty

## Expected Behavior
I would expect that the activator starts up without errors.

## Actual Behavior
Instead, the activator crashes multiple times with "CrashLoopBackOff" before eventually starting.

kubectl get pods -n knative-serving
NAME

[2019-11-01 14:45] beemarie commented on #5922
/assign

[2019-11-01 15:07] vagababov commented on #5922
Can you share logs or something?

[2019-11-01 15:36] beemarie commented on #5922
@vagababov - yep! Just added them to the description above.  I also opened a PR that should address this.

[2019-11-01 16:11] shashwathi commented on #5734
/assign @shashwathi

[2019-11-01 16:17] #5922 closed

[2019-11-01 17:10] #5410 closed

[2019-11-01 17:51] jonjohnsonjr commented on #5126
We haven't implemented that (yet?): https://github.com/google/go-containerregistry/issues/211

You can fix this by configuring custom certs: https://knative.dev/docs/serving/tag-resolution/#custom-certificates

[2019-11-01 18:20] shashwathi commented on #5734
Hi @jamesward

I could not reproduce this issue on 0.10.0 release. I tried the following steps
1. Deploy the below service
[code]

2. Connect to service `curl EXTERNAL_IP -H"Host:helloworld-go.default.EXTERNAL_IP.xip.io" -v `

[code]

3. Status of knative service object

[code]

1. Updated `cluster-local` label using  `kubectl label ksvc helloworld-go serving.knative.dev/visibility=cluster-local`

[2019-11-01 21:17] dgerd commented on #5921
Not sure I completely understand your question, but taking a stab an answer below. Let me know if you are looking for something else.

You can setup additional domains within the `config-domain` configmap within the `knative-serving` namespace. Keep in mind while editing the configmap the the example configuration provided is within the `_example` key. Real configuration will need to be moved up o

[2019-11-01 23:52] evialle opened #5925 "Setup Knative on Minikube: unable to recognize "STDIN": no matches for kind "Deployment" in version "extensions/v1beta1""
## In what area(s)?

 /area build

## What version of Knative?

0.3.x

## Expected Behavior

I'm setting Knative on Minikube, as described on https://knative.dev/v0.3-docs/install/knative-with-minikube/
The startup fails while deploying knative serving

## Actual Behavior

While applying:
- https://github.com/knative/serving/releases/download/v0.3.0/istio-crds.yaml
- https://github.com/knative/ser

[2019-11-02 05:15] vagababov commented on #5925
I am not sure we support 0.3 anymore. Can you try a more recent version? .10 is the current.

[2019-11-02 09:33] evialle commented on #5925
Thank you, Google sent me to an old version of the documentation when I searched for how to install knative on minikube!

[2019-11-02 09:33] #5925 closed

[2019-11-02 12:55] jamesward commented on #5734
To see this exhibited you need to have a traffic split in place.

[2019-11-03 16:16] nak3 opened #5929 "Pod name in artifacts/k8s.log.txt is not consistent with buid-log.txt and k8s.dump.txt"
TL;DR: In short, k8s.log.txt does not have correct pod logs in test grid.

k8s.dump.txt has `scale-to-n-scale-10-0-fwxgxqlo` in the log.
build-log.txt also has `scale-to-n-scale-10-0-fwxgxqlo` in the log.
__BUT__
k8s.log.txt has `scale-to-n-scale-10-0-afboppjo` in the log.

---
For example, download artifacts from https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-istio-1.2-no-

[2019-11-04 03:44] zhanggbj opened #5930 "Feature flag to enable/disable secure https access to Services"
Serving: https access to Services

## Describe the feature

By default, Knative Service will be deployed and accessed by http. However, in production, users usually need to access them by secure https. Fow now, Knative support to enable https connection but with some manual steps (https://knative.dev/development/serving/using-a-tls-cert). I'm thinking if we can add API about a feature flag to enab

[2019-11-04 08:43] drpmma commented on #5919
I read the code about setup prometheus metrics. And I found that the env Serving_Request_Metrics_Backend is not set by default. As a result, the user metric will not be set.

https://github.com/knative/serving/blob/fee536a1ea1e91386c622727fd08486216e62e9b/cmd/queue/main.go#L515-L527

https://github.com/knative/serving/blob/fee536a1ea1e91386c622727fd08486216e62e9b/pkg/metrics/config.go#L80-L82

Is

[2019-11-04 08:49] markusthoemmes commented on #5930
Have you seen AutoTLS support in https://knative.dev/development/serving/using-auto-tls/? Is something missing from that experience to solve your use-case?

[2019-11-04 09:15] zhanggbj commented on #5930
Hi @markusthoemmes ,

Yes, I have read that and I can config it manually, I'm thinking if it is possible to config it with one step or one cli, and I think it needs more support from Server API side,  e.g., I have got my certs and I just want to enable the secure https with a CLI like below, instead of updating the yaml files in the doc. What do you think? Thanks!
[code]

[2019-11-04 09:47] vagababov commented on #5930
1. It seems what you want is covered with configmaps
2. It also seems that what you propose lies in the cli/operator domain than the core serving. Considering that 0-touch implementations of autotls are platform specific, most likely - it even more hints that it should be outside of core serving m

[2019-11-04 11:05] vagababov commented on #5929
This looks like it was from a different run?

[2019-11-04 11:05] vagababov commented on #5929
Can we find another testgrid result that has other logs files with that pod name?

[2019-11-04 12:21] arisu1000 commented on #5921
@dgerd Thank you.
I could set multiple domain in my knative cluster by your reply.

Now, I want to set tls cert to b.com, c.com. How can I set tls for other domain more than default domain a.com?

[2019-11-04 16:39] taragu opened #5934 "Add e2e test for creating a service with ImagePullSecrets"
/area API
/area test-and-release

As part of #5866, we need to add an e2e test for creating a service with ImagePullSecrets after https://github.com/knative/serving/pull/5917 is merged.

/assign
FYI @dgerd

[2019-11-04 19:44] ZhiminXiang commented on #5921
If you want to do this manually, there are two ways:
1. Apply one cert for each domain, and configure the Gateway by following the instruction https://istio.io/docs/tasks/traffic-management/ingress/secure-ingress-sds/.

2. Apply a single cert for all of the domains you need, and then configure the Gateway by following the instruction https://github.com/knative/docs/blob/master/docs/serving/using-a

[2019-11-04 19:57] dgerd commented on #5921
@ZhiminXiang to clarify from your instructions, to do multiple manual certificates you would do step 1 in [Manually adding a TLS certificate](https://github.com/knative/docs/blob/master/docs/serving/using-a-tls-cert.md#manually-adding-a-tls-certificate) for each certificate, but for step 2 instead of having `hosts:` set to `"*"` you instead have multiple entries and the `hosts` set to your domains

[2019-11-04 21:15] ZhiminXiang commented on #5921
@dgerd Good question. It depends on what domains the certificate can cover, and if the cert can support wildcard.

Assume that the URL format of ksvc is the default (i.e. `<service-name>.<namespace>.<parent-domain>`.  And assume that `a.com` is for namespace `default-a`, and `b.com` is for namespace `default-b`.

1. Case one: if user can get wildcard cert:
For wildcard cert, the wildcard can only

[2019-11-04 23:58] nak3 commented on #5929
You want to see another example for this issue? ? If so, here is the one on istio-mesh-1.3.

wget https://storage.googleapis.com/knative-prow/logs/ci-knative-serving-istio-1.3-mesh/1191336900510617600/build-log.txt
wget https://storage.googleapis.com/knative-prow/logs/ci-knative-serving-istio-1.3-mesh/1191336900510617600/artifacts/k8s.log.txt

(build-log.txt) - `scale-to-n-scale-10-0-hayltgtb`
[co

[2019-11-05 00:01] vagababov commented on #5929
No, what I meant is: is there another run where the wrong key in this run is the right key in that other run?

[2019-11-05 00:50] nak3 commented on #5929
I've checked the previous test and next one from wrong test, but could not find it. With said, I realized that k8s.log.txt did not capture all logs, if we can believe the timestamp.

In build-log.txt on istio-mesh-1.3, it ran scale tests twice following timestamp:

[code]

The k8s.log.txt started entire log from `14:28:31` with following line.

[code]

[2019-11-05 09:06] bappr opened #5936 "Networking-istio pod: Failed to list *v1alpha3.Gateway"
## In what area(s)?

/area networking

## What version of Knative?

0.10.0

## Expected Behavior

No error.

## Actual Behavior
In `networking-istio` pod
[code]

**EDIT:**
This bug is actually quite serious because it's fucking up the pod (I have more than 1 gateway like below) and I get `IngressNotConfigured` for all my kservice. After changing the `mode` to `SIMPLE`, it works again.

## Steps to

[2019-11-05 11:46] skaslev commented on #5936
Looks like the `Gateway` yaml manifest fails to parse because it expects a string for `Mode`.

Can you try and see if changing it to

[code]

fixes the problem?

[2019-11-05 12:01] knative-test-reporter-robot opened #5937 "[flaky] pkg/activator/net.TestThrottlerWithError/second_request_timeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestThrottlerWithError/second_request_timeout
* **Repository name**: serving

[2019-11-05 12:02] knative-test-reporter-robot opened #5938 "[flaky] pkg/activator/net.TestThrottlerWithError"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestThrottlerWithError
* **Repository name**: serving

[2019-11-05 12:02] #5352 closed

[2019-11-05 12:02] #5358 closed

[2019-11-05 12:12] nak3 commented on #5200
This issue can be closed as https://github.com/knative/serving/pull/5201 was merged.

[2019-11-05 12:12] #5200 closed

[2019-11-05 13:22] zioproto opened #5940 "Upgrade from v0.9.0 to v0.10.0 fails on manifest monitoring-metrics-prometheus.yaml"
## What area

Upgrade, monitoring

/area monitoring
/kind process

## What version of Knative?

0.10.0

## Expected Behavior

`kubectl apply -f monitoring-metrics-prometheus.yaml` is applied without errors

## Actual Behavior

The command fails on the following error:
[code]

## Steps to Reproduce the Problem

Just apply the upgrade:
```kubectl apply -f https://github.com/knative/serving/releases/

[2019-11-05 13:24] zioproto commented on #5940
As a workaround delete the problematic `svc` before apply the new manifest:
```kubectl delete svc -n knative-monitoring kube-state-metrics```

[2019-11-05 17:38] shashwathi commented on #5734
I tried with traffic split as well but still not able to reproduce.

1. Following is the knative service definition

[code]

2. Route status

[code]

3. All the below requests to individual routes and overall route returned 200 response.

`curl http://EXTERNAL_IP -H"Host:helloworld-go.default.EXTERNAL_IP.xip.io" -vv`
`curl http://latest-helloworld-go.default.EXTERNAL_IP.xip.io -vv`
`curl http://cu

[2019-11-05 21:26] ahmetb opened #5946 "Out-of-the box TLS between cluster ingress and queue-proxy"
/kind proposal

Currently, if a Knative user wanted to enable TLS between the ClusterIngress and their Pod (i.e. in-cluster traffic), they would need to use something like Istio with mTLS enabled. However, not all Knative users use Istio, and not all Istio users enable mTLS.

To encrypt the traffic between the ClusterIngress and user Pod, the `queue-proxy` needs to serve traffic with a TLS certifi

[2019-11-05 22:04] #5778 closed

[2019-11-05 22:29] #5912 closed

[2019-11-05 22:57] ahmetb opened #5948 "External route stops working after a while (503 Service Unavailable)"
/area networking
/kind bug

tl;dr deployed KService stops working after a while, starts returning 503 from the gateway when invoked externally. cluster-local domain works fine. redeploying fixes the issue, only to be broken later again N hours.

## What version of Knative?

v0.9.0-gke.3, istio no-mesh mode

## Expected Behavior

I deploy a very basic KService like this

[code]

I query it like

[2019-11-05 23:08] vagababov commented on #5948
How do you check that traffic doesn't make it to the activator?
Are there any relevant logs out in the activator?

[2019-11-05 23:14] coryrc opened #5949 "Verbose logging not working"
## In what area(s)?

/area test-and-release

## What version of Knative?
0.10, but probably master

## Expected Behavior

--logverbose=true should cause verbose logging

## Actual Behavior

--logverbose=true does not seem to add any output

## Steps to Reproduce the Problem

go test  -v -tags=e2e -count=1 ./test/conformance/... -run ^TestSingleConcurrency$  --logverbose=true --resolvabledomain

Ad

[2019-11-05 23:15] coryrc commented on #5949
Probably a side effect of https://github.com/knative/serving/pull/5398/files

[2019-11-05 23:38] JRBANCEL commented on #5948
Because of an upgrade from 0.6 to 0.9, some orphan `VirtualService` were left in `knative-serving` leading to an invalid Envoy config (non-existing backend).

[2019-11-05 23:52] toVersus commented on #4549
I reverted back [1996.patch](https://github.com/knative/serving/blob/fdcec3ba90b4e875b2b171be35393db22a14bca2/hack/1996.patch) partially and it got to work fine as expected.

https://gist.github.com/toVersus/6a76477e6eb342499ea7242e5ed65a72

[2019-11-05 23:55] ahmetb opened #5950 "Require Ingress implementations to propagate Knative meta labels to their CRDs"
/area networking

It seems like Knative has certain labels such as

- serving.knative.dev/configuration
- serving.knative.dev/configurationGeneration
- serving.knative.dev/revision
- serving.knative.dev/service

These are propagated to many Kubernetes resources directly/indirectly created (such as `Pod`, `Service`, `Endpoint`, `ReplicaSet`, `Deployment`).

However, it seems like Cluster Ingress im

[2019-11-06 00:02] bappr commented on #5936
I am using the istio go-client to generate create my gateway in Kubernetes.
-> https://github.com/istio/client-go/blob/master/pkg/apis/networking/v1alpha3/types.gen.go#L93

Am I doing something wrong?

[2019-11-06 00:04] ahmetb commented on #5948
Indeed that was the problem. We can /close if direct upgrades are not supported (at least for now).

[2019-11-06 00:27] JRBANCEL commented on #5948
/close

[2019-11-06 00:27] #5948 closed

[2019-11-06 01:11] chizhg opened #5971 "Prevent monitoring release from being broken"
Monitoring nightly release job released a broken artifact on Nov. 4, 2019, which broke eventing e2e tests and blocked all PRs, since eventing is installing the latest monitoring release:
[code]

Though we don't have any e2e tests for monitoring, we can at least `kubectl apply -f ${MONITORING_YAML}` to make sure it can be installed.

There are two things we need to do for this task:
- [x] Similar a

[2019-11-06 06:43] nak3 commented on #5706
@ZhiminXiang I think that the first proosal in https://github.com/knative/serving/issues/5706#issuecomment-539138018 is great idea. Actually I am expecting that we make Knative's cert system pluggable like current nscert by based on standard KCert API.

[2019-11-06 09:43] skaslev commented on #5936
No, protobuf [JSON](https://developers.google.com/protocol-buffers/docs/proto3#json) encoder for enums is accepting both int values and enum names and Knative should do the same.

/assign

[2019-11-06 11:55] bappr opened #5953 "Custom service name"
## In what area(s)?

/area networking

## Ask your question here:

Hey guys,
At the moment, when creating a kservice, the service name used is the one of the kservice.
If I create a kservice "helloworld", I will have a service "helloworld".
Is it possible to custom it? I have a use case where I am watching all the "something-*" pod for my logs but the service does not contain the prefix "something

[2019-11-06 12:02] knative-test-reporter-robot opened #5954 "[flaky] test/conformance/api/v1beta1.TestCustomResourcesLimits"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestCustomResourcesLimits
* **Repository name**: serving

[2019-11-06 12:02] #5758 closed

[2019-11-06 12:02] #5759 closed

[2019-11-06 12:02] knative-test-reporter-robot opened #5955 "[flaky] test/conformance/api/v1alpha1.TestRevisionTimeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestRevisionTimeout
* **Repository name**: serving

[2019-11-06 14:44] vagababov commented on #5953
I think we currently don't support custom placeholder services.
While possible in theory I am not sure how much of a complexity/benefit ratio there is.
/cc @tcnghia

[2019-11-06 21:18] tanzeeb commented on #5654
Update: Haven't been able to get the functionality to work with `istio-lean`, will do some more research to confirm how to enable the functionality.

[2019-11-06 22:46] #5172 closed

[2019-11-06 23:09] coryrc commented on #5949
Confirmed the flag change was the issue by running the commit previous and the commit of that PR:

commit 219d07cf914c3ba2e1d1b96370dd522e51156b55
Author: chaodaiG <45011425+chaodaiG@users.noreply.github.com>
Date:   Fri Sep 6 11:30:05 2019 -0700

    Work with go1.13 by simply deleting explicit flag parsing (#5398)

    * Tests work with go1.13 by simply deleting explicit flag parsing

    * upda

[2019-11-06 23:30] josephlewis42 opened #5959 "How to preserve host information"
## In what area(s)?

/area networking

## Ask your question here:

In the [recommended way of doing path-based routing](https://knative.dev/docs/serving/samples/knative-routing-go/) the host header gets re-written and the request is redirected to be processed by Knative Serving. However this means that the service does not get the correct host header for the request. This can be problematic for a

[2019-11-07 01:53] duglin commented on #4997
howdy - what's the status of this one? I just tested with the latest and while the times I'm seeing are a bit higher than I would expect (~6 seconds instead of ~3 seconds for a new instance), it's no where near the 30 seconds I saw before. But, I'm wondering if I'm just getting lucky or did a "fix" go in for this?

[2019-11-07 03:50] bappr opened #5960 "Multiple istio ingress gateways supported?"
## In what area(s)?

/area networking

## Ask your question here:

Hey guys,
Are you planning to make possible the use of multiple ingress gateways?
I have my dev, staging and prod running in the same cluster at the moment, served by different ingress gateways.

Thanks,
Ben

[2019-11-07 04:11] nak3 commented on #5700
Hi @ryandawsonuk https://github.com/knative/serving/issues/5172 was closed via https://github.com/knative/serving/pull/5859 today. You can refer to the config example here https://github.com/knative/serving/blob/master/config/config-istio.yaml

Would you mind closing this report? Or if you have any further request/question, we are happy to hear that.

[2019-11-07 05:24] nak3 commented on #5929
Although I have checked recent logs https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-istio-1.3-mesh/1192273247656218624, it looks no problem at all. I am closing this for now as it would be an intermittent issue.

[2019-11-07 05:24] #5929 closed

[2019-11-07 05:28] ZhiminXiang commented on #5960
I am not sure how we can isolate dev, staging, and prod completely in a single cluster at this point. But one way which could provide some "isolation" is to make dev Knative Services use dev specific domain, staging Knative Services use staging specific domain, and prod Knative Services use prod specific domain.  You can achieve this by configuring `config-domain` ConfigMap (https://github.com/kna

[2019-11-07 05:52] #5960 closed

[2019-11-07 05:53] bappr commented on #5960
@ZhiminXiang thanks for the answer.
Yeah I thought about using the `config-domain` but really want to segregate my ingress gateways.

[2019-11-07 06:11] ZhiminXiang commented on #5959
Knative itself does not support "path" based routing. The [doc](https://knative.dev/docs/serving/samples/knative-routing-go/) you mentioned is about leveraging Istio to achieve this.

You can store your original host header in other header (e.g. X-Origin-Header) by using VS header options (https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#Headers-HeaderOperations). In you

[2019-11-07 07:43] vagababov commented on #4997
Are you at HEAD? With single activator/tbc=-1 you should be mostly on the ideal path.
With multiple activators it should be better but won't be ideal.

[2019-11-07 08:21] richard2006 opened #5964 "Configuration webhook invalid value 'lastModifier'"
## In what area(s)?

## What version of Knative?

## Expected Behavior

Use the different lastModifier to update the `traffic` works well as before.

## Actual Behavior
[code]

## Steps to Reproduce the Problem

Firstly, I created one Ksvc by `serving.knative.dev/creator: kubernetes-admin` and `serving.knative.dev/lastModifier: system:serviceaccount:default:pipeline-account`.
[code]

Then , I upda

[2019-11-07 08:36] zops commented on #5919
Current version（knative 0.10.0），After adding metrics.request-metrics-backend-destination, the problem can be solved.

# kubectl edit -n knative-serving cm config-observability
apiVersion: v1
data:
  metrics.request-metrics-backend-destination: prometheus
  _example: |
      ...

[2019-11-07 08:37] nak3 commented on #5894
I agree that we should instruct how to install Istio with Helm, but according to[ DEVELOPMENT.md](https://github.com/knative/serving/blob/11b23be56b0be4237b8aaf344e5fc87cc5b7d896/DEVELOPMENT.md),

the docs is for development environment to contribute to the project. So, I think that we do not need such a "kind" explanation but just a single note how we can customize Istio with Helm.

I have opened

[2019-11-07 08:37] markusthoemmes commented on #5964
/cc @savitaashture

[2019-11-07 09:33] ryandawsonuk commented on #5700
Cool, I guess this will be available in the next version (0.10 already happened so I guess 0.11?)

[2019-11-07 09:33] #5700 closed

[2019-11-07 09:45] #5692 closed

[2019-11-07 15:39] jamesward commented on #5734
Thanks for looking into this further.  What about:
`curl http://helloworld-go.default.EXTERNAL_IP.xip.io -vv`
or
`curl http://latest-helloworld-go.default.EXTERNAL_IP.xip.io -vv`

Will get the virtualservices output in a bit (sorry, on a plane).

[2019-11-07 15:59] josephlewis42 commented on #5959
@ZhiminXiang [this bug](https://github.com/knative/serving/issues/540) indicates that the doc I linked was a sufficient solution to the problem of Knative lacking support for various types of routing which is why I brought this up here.

Do you think it would be possible to base Knative Serving's routing on a different header as well as `Host`? For example, if my VirtualServices could rewrite the

[2019-11-07 16:19] tcnghia opened #5969 "Migrate to use istio/client-go"
## In what area(s)?

/area networking

## Describe the feature
We need to migrate to istio/client-go to avoid having to maintain our own client library for Istio.

[2019-11-07 19:14] anniefu opened #5972 "Long-lived observability service"
## In what area(s)?

/area monitoring

## Describe the feature
A long-lived service that hands emitting all metrics and traces for Knative to the selected backend. Knative controllers will push their metrics and traces to the service instead of to the selected backend.

### Current Issues
Knative controllers currently each emit their own metrics and traces directly to the selected metrics/tracing

[2019-11-07 19:57] #5771 closed

[2019-11-07 20:09] savitaashture commented on #5964
Thank you @richard2006 @markusthoemmes
I will have a look

[2019-11-07 22:39] poy commented on #3368
Has anyone given this any more thought?

[2019-11-07 22:41] mattmoor commented on #3368
The feedback I've been hearing on using them with K8s has been enormously negative, so I doubt anyone has seriously looked.

[2019-11-07 23:28] dgerd commented on #5894
My proposal/question here is: Why should Knative developers install project dependencies different than a Knative user trying out the project?

If consuming Istio is the same for developers and users then anything we do to make the experience better benefits both. In addition we are more likely to find bugs/problems in the process before a release.

[2019-11-07 23:33] dgerd commented on #5894
My understanding after talking with @tcnghia is that the `download-istio.sh` exists to reduce flakiness of our integration tests. Since helm is another external source that needs to be up and available it adds potential for flakiness.

Setting up a development cluster doesn't have those constraints and should probably just go straight to the helm source.

[2019-11-08 03:43] duglin commented on #4997
yup using HEAD. Using tbc=-1 and the default (200), I seem to get similar results... that being, the first instance takes about 3 seconds and the 2nd instances takes at least twice as long (usually around 8 seconds). I've updated the script with in the first comment - do you see similar results?

[2019-11-08 07:11] markusthoemmes commented on #4997
I don't quite parse your comment @duglin. What does "instance" refer to here? Per your script it seems like your latency is subject to the cold-start latency which might vary between clusters, nodes, phases of the moon. For the sake of this issue: Are your requests now no longer queued on pod1 but rather spread across two pods?

If so, at such a low signal (just two requests) I could see the autos

[2019-11-08 08:30] vagababov commented on #4997
Also, do you have mesh enabled by any chance?

On Thu, Nov 7, 2019 at 11:11 PM Markus Thömmes <notifications@github.com>
wrote:

[2019-11-08 09:58] drpmma commented on #5919
Thanks for your reply. I have already solved this problem. What I mean is that the metrics.request-metrics-backend-destination should better have a default value for the out-of-the-box request metric.

[2019-11-08 11:41] andyyin opened #5975 "How different PodAutoScaler configure RPS in Autoscale"
## In what area(s)?

#5141

`
switch pa.Metric() {
	case autoscaling.RPS:
		total = config.RPSTargetDefault
		tu = config.TargetUtilization
	default:
		// Concurrency is used by default
		total = float64(pa.Spec.ContainerConcurrency)
		// If containerConcurrency is 0 we'll always target the default.
		if total == 0 {
			total = config.ContainerConcurrencyTargetDefault
		}
		tu = config.ContainerCo

[2019-11-08 11:42] andyyin commented on #5975
@yanweiguo

[2019-11-08 12:02] #5955 closed

[2019-11-08 12:02] knative-test-reporter-robot opened #5976 "[flaky] pkg/activator/net.TestThrottlerWithError/both_requests_time_out"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestThrottlerWithError/both_requests_time_out
* **Repository name**: serving

[2019-11-08 12:02] #5954 closed

[2019-11-08 12:17] markusthoemmes commented on #5975
RPS is not subject to the `containerConcurrency` setting so in this case, we don't handle anything related to that in the RPS branch.

The diff of `ContainerConcurrencyTargetFraction` vs. `TargetUtilization` is simple that we're going to deprecate the former for the latter eventually. Semantically they are the same.

Does that answer your questions?

[2019-11-08 12:37] TheEvilCoder42 commented on #5829
@mattmoor Let there be 50 idling concurrent Pods running, that's already 25m x 50 = 1250m wasted CPU resource usage.

Sadly annotations like: `queue.sidecar.serving.knative.dev/requestCpu: "10m"` doesn't seem to work (and as I saw the min boundary is 25m but setting the annotation higher doesn't work either)

[2019-11-08 13:23] duglin commented on #4997
@markusthoemmes By "instance" I mean instance of the service - IOW "pod".  Yes the latency will vary between systems but ideally the time when curl'ing the 1st and 2nd instance should be basically the same - meaning "cold start time" + time of the GET. Or to put it into the order of the curl's... the 1st and 3rd curl should be the same, while the 2nd curl should be about 30 seconds since I told it

[2019-11-08 14:00] vagababov opened #5977 "Exclude young/new pods from load computations"
## In what area(s)?

/area autoscale
/kind proposal

## Describe the feature

When a new pod gets created due to scale-up it takes time for it be "filled" with requests.
Thus when we scrape the pods for concurrency on the next iteration it might even report 0 (depending on the timing).
Since we're collecting a sample of the pods this might skew the average concurrency down by enough margin that th

[2019-11-08 14:12] vagababov opened #5978 "Direct pod scraping in autoscaler."
## In what area(s)?

/area autoscale
/area networking
/kind proposal

## Describe the feature

Currently we scrape the revision pods using ClusterIP. Then we try to remove duplicates (i.e. re-scrape). Considering IPTables based load balancing is random, in theory this is an eternal loop.

Or, for example, we can exclude `young pods` from metric computation (see #5977) easily when we have the list

[2019-11-08 14:18] vagababov opened #5979 "Separate Autoscaling and Metric scraping/collection code"
## In what area(s)?

/area autoscale
/kind good-first-issue
/kind proposal

## Describe the feature

Currently the code for metrics scraping and the code for actual autoscaling is located in the same `pkg/autoscaler` directory. Which not only makes the package quite big, but also permits inadvertent knowledge separation violations and what not.
We should separate them into two subpackages `metrics

[2019-11-08 14:29] vagababov commented on #4997
From somewhere around current HEAD:
[code]

[2019-11-08 14:57] vagababov opened #5980 "Get rid of timer in the Autoscaler"
## In what area(s)?

/area autoscale
/kind proposal

## Describe the feature

Currently Autoscaler subsystem has two timers which run in more or less tight loop (1-2s).
- one is in the Metric collector to scrape the revision pods
- one is in the AutoScaler to compute the desired pod levels and current burst capacity.

But there is no real reason to have the loop in the Autoscaler if it can be poke

[2019-11-08 14:59] markusthoemmes commented on #5980
One important change we need to do that folds into this is preferably an `O(1)`, at least an `O(c)` implementation of our concurrency-over-window calculation. That should be done before we attempt this to avoid moving the unnecessary busywork elsewhere.

[2019-11-08 15:36] duglin commented on #4997
Is the 15 vs 8 is due to image download/caching? Can you run it a couple of time to try to avoid the image download times?  w/o image download, those 2 should be almost the same, right?  7 seconds seems like a big diff to me.

[2019-11-08 15:45] vagababov opened #5981 "O(1) RPS/Concurrency computations"
## In what area(s)?

/area autoscale
/kind proposal

## Describe the feature

Currently when we compute average concurrency or average RPS over the stable window in the autoscaler we basically iterate the buckets and sum them.
While the number of buckets is limited (60/2=30) by default, the stable window can be made quite large: hours, days... we don't have an upper limit right now (which might be

[2019-11-08 15:49] vagababov commented on #4997
Maybe if have time.
But back to the issue at hand. You see that there's no over >30s delay for the second request. Does this alleviate this issue?

Note, that we do not provide ideal/optimal load balancing for under non-trivial load some queueing is expected. Check the mako graph: https://mako.dev/run?run_key=5111330650456064&~ac1=1&scatter=1 -- most of the requests are completed without noticeabl

[2019-11-08 15:59] bbrowning opened #5982 "Add Kourier as an Ingress implementation option"
## In what area(s)?

/area networking
/area test-and-release

/kind proposal

## Describe the feature

https://github.com/3scale/kourier is an Envoy-based Knative Ingress implementation. From their README:

This proposal is to get Kourier added as an alternative Ingress option for Knative. Its primary goal is to be as small and lightweight of an Ingress implementation as possible specifically for

[2019-11-08 16:07] vagababov commented on #5980
See #5981 for prerequisites.

[2019-11-08 16:50] skaslev commented on #5969
/assign

[2019-11-08 17:15] yanweiguo commented on #5975
Yeah as @markusthoemmes said, `TargetUtilization` is going to replace `ContainerConcurrencyTargetFraction` for concurrency usage.

However I have questions: are we going to support multiple metrics for KPA? How do we support custom metrics autoscaling? We may have to change the knobs.

[2019-11-08 17:21] yanweiguo commented on #5978
The known issue for direct pod id scrapping is that when with Istio sidecar enabled in autoscaler, you can't talk to pod IP directly from autoscaler.

[2019-11-08 17:49] evankanderson commented on #5822
I'd like to also better understand how the two containers relate, and why two containers are better than two processes in one container.

1. What happens if one container dies and not the other?
2. One container will be scaled and driven by requests. If we turned off the CPU between requests, would that cause a problem?
3. Do you need any sort of shared disk/etc between the two processes?
4. How w

[2019-11-08 18:25] jonjohnsonjr commented on #4549
That makes sense. I think this is actually impossible to fix until https://github.com/kubernetes/kubernetes/issues/82396 is resolved. I can't update my dependency on kubernetes/kubernetes/pkg/credentialprovider upstream because go-containerregistry is using go modules, and kubernetes has intentionally broken anyone depending on packages under k/k/pkg by setting the go module version to v0.0.0. Try

[2019-11-08 18:39] #5285 closed

[2019-11-08 21:19] dgerd commented on #5822
* Application Dependencies - Applications can be written in multiple languages or the same language at multiple versions without concern of conflict (i.e. Python 2.7 and Python 3)
* Separate Build Processes - Easier to reason about single repository -> single build -> single container.
* Security Boundaries - Blast radius is smaller for compromise of a process separated by a container boundary
* R

[2019-11-09 01:00] andyyin commented on #5975
No, maybe I didn't explain it. I mean the current value (total and tu) of RPS is from `autoscaler.Config`. This configuration is a global configuration. All Revisons are the same value. How do I set different values ​​for different Revision settings?

[2019-11-09 01:01] andyyin commented on #5975
This is another question for me.

[2019-11-09 02:09] yanweiguo commented on #5975
You can use the following annotations on revision to override:
[code]

The override happens here: https://github.com/knative/serving/blob/7b6e76d526a4e9fd9d125445bf8596484632111b/pkg/reconciler/autoscaling/resources/target.go#L58

[2019-11-09 03:09] andyyin commented on #5975
I understand this, but `math.Min(target, annotationTarget*tu)` has a limit, meaning that the final value may not be `annotationTarget*tu`, but `config.RPSTargetDefault*config. TargetUtilization`.

[2019-11-09 12:42] nak3 opened #5986 "LivenessProbe with HTTP probes does not allow to scale down"
## In what area(s)?

/area autoscale

## What version of Knative?

Build on top of 7b6e76d526a4e9fd9d125445bf8596484632111b

## Expected Behavior

- Knative app scales down when no access.

## Actual Behavior

- Knative app does not scale down

## Steps to Reproduce the Problem

#### 1. Deploy app with livenessProbe.httpGet

e.g.

[code]

#### 2. Watch Running pod (and see pod will never scale dow

[2019-11-09 18:31] nimakaviani commented on #5950
to plug [kni](https://github.com/nimakaviani/knative-inspect), it follows owner references to figure out dependencies and generate a dependency tree like the following:

[code]

[2019-11-09 18:44] nimakaviani commented on #2495
@yuxiaoba not yet, the implementation is still experimental and hasn't been merged. If you are interested in the implementation, you can have a look here: https://github.com/nimakaviani/serving/tree/pod-tracing-redux

[2019-11-09 19:46] #5986 closed

[2019-11-09 21:19] ahmetb commented on #5950
Very interesting. Does it query all apigroups/types one by one with ownerReferences or is there an option to query all object with certain ownerReference?

[2019-11-11 00:50] nak3 opened #5990 "LivenessProbe failure does not restart the container properly"
## In what area(s)?

/area API
/kind spec

## What version of Knative?

Build on top of:
7b6e76d526a4e9fd9d125445bf8596484632111b
55556a8fe6aa77dbceea7e7a8f6820ebb96f31b8 (This change is related to Livenessprobe, but is not related to this.)

## Expected Behavior

- LivenessProbe restarts container after failureThreshold.

## Actual Behavior

- Although following event logs are produced, the conta

[2019-11-11 01:08] duglin commented on #4997
yup, as I said above

I'm just trying to make sure a 2nd issue isn't lurking.

[2019-11-11 06:55] savitaashture commented on #5964
Hi @richard2006
I need some more info

I tried to reproduce the problem
Steps:
1. Created ksvc
[code]
2. Updated ksvc traffic with another user by changing traffic part and it worked successfully
[code]

Can you please confirm that you are doing exactly the same steps or any other things
Thanks

[2019-11-11 07:22] savitaashture commented on #5821
@dgerd can we discuss about this in the coming WG meeting?

[2019-11-11 07:29] savitaashture commented on #5979
/assign

[2019-11-11 07:49] markusthoemmes commented on #5821
I'm not quite parsing the issue here. You're removing the revision and thus all information about the digest we picked at that point in time. Our code will generate a new revision. You're proposing that creating that new revision should have the same contents as the revision you just deleted?

As you mentioned, revisions are an immutable snapshot. If you're removing that snapshot though, I don't s