[2021-03-22 04:02] evankanderson commented on #8160
It sounded in https://github.com/knative/serving/issues/8160#issuecomment-664954239 like we might have a solution based on header-based tag routing:

Is this a matter of documenting this pattern at this point?

/kind documentation
/kind enhancement
/triage accepted

/good-first-issue

[2021-03-22 04:03] evankanderson commented on #8114
/kind cleanup

/triage accepted

[2021-03-22 04:04] evankanderson commented on #8095
Is this still an issue?

If so, is this something which should go into the networking implementations or the serving repo? It would be nice to have a property that we didn't need bidirectional import/testing dependencies between the repos.

/triage accepted

[2021-03-22 04:05] evankanderson commented on #8095
/remove-triage accepted
/triage needs-user-input

[2021-03-22 04:06] evankanderson commented on #7925
Also opened https://github.com/knative/community/pull/539 in case having a lot fewer words made it easier to get something into the repo.

I'm expecting that once we have those files in COMMUNITY.md, we may mirror/link to them from serving, eventing, etc.

/assign

/triage accepted

[2021-03-22 04:06] evankanderson commented on #7748
Anyone driving this? It seems like this is needed for DomainMapping, so I'm assuming it's making progress and is being tracked somewhere else.

/triage needs-user-input

[2021-03-22 04:08] evankanderson commented on #7711
/area API

/assign @julz

/triage accepted

[2021-03-22 04:09] evankanderson commented on #7708
/area API

Is this still needed? I've noticed that AutoTLS does switch the URL to HTTPS when HTTPS is working.

/triage needs-user-input

[2021-03-22 04:42] evankanderson commented on #7701
As I read the issue:

1. It's a no-op (and working post 1.19 with the mirroring controller)
2. There's no one currently working on anything here
3. We have some ideas in the future, but haven't written any of them down.

I think we should

/close

this issue, and open new ones when we have concrete proposals where using EndpointSlices directly might help.

[2021-03-22 05:04] evankanderson commented on #7650
To answer Doug's initial question:

There isn't actually a difference in behavior here; you're seeing a _timing_ difference based on `rev1` becoming ready faster. If you deploy a `rev1` which takes 110s to start up and become ready, and then deploy a `rev2` with a faster startup while `rev1` is starting, you'll see exactly the same behavior, which is that `rev1` gets 120s to figure out whether or

[2021-03-22 05:04] #7650 closed

[2021-03-22 05:06] evankanderson commented on #7576
/area API

/triage accepted

[2021-03-22 05:18] evankanderson commented on #7575
https://github.com/k8s-service-bindings/spec seems to have an example of the service-binding type pattern that Doug was talking about.

It seems like this issue has changed from "run some code before creating a Revision" to "be able to pause resource reconciliation for an arbitrary amount of time for specific resources". (I agree with julz and scothis that using ResourceQuota in combination with k

[2021-03-22 05:21] evankanderson commented on #10949
What would the `spec` for the Service look like? Would it own a Configuration? Would it be `Ready`? Would it create a Route? If so, what would the Route's `spec` look like?

Looking for @dprotaso or someone to chime in with next steps on either accepting this proposal or closing the issue.

/triage needs-user-input

(To mark that the next triager should follow up here)

[2021-03-22 05:26] evankanderson commented on #7556
/area API

I think this assumes that we're not working off a stale copy of the owning object, correct?

Not sure what code changes are required, or if this is something that a test/script could re-create on demand. Do we have any data on the frequency of these errors, and whether they (ever) resolve themselves? In particular, collecting the lost resource including the OwnerReference and checking t

[2021-03-22 05:29] evankanderson commented on #7405
It seems like DomainMapping _should_ work here (even if you end up needing to do some amount of manual mapping of domains). Is using the top-level `dug.example.com` domain prevented by design, or simply not working in the scenario you tried?

/triage needs-user-input
/area API

[2021-03-22 05:31] evankanderson commented on #7361
I believe that we enable controlling the Queue Proxy image to enable installation in environments where you might not have access (or want to pull from) `gcr.io`, not as intended extension point to replace the queue-proxy with your own image.

/close

[2021-03-22 05:31] evankanderson commented on #7324
/triage accepted

[2021-03-22 05:32] evankanderson commented on #7300
I think #8114 is probably the best chance to resolve this issue.

/area API

/close

[2021-03-22 05:34] evankanderson commented on #7265
/kind good-first-issue

(Since we have a template in eventing's sugar controller for doing this)

/triage accepted

[2021-03-22 05:34] evankanderson commented on #7240
/kind spec

/assign @dprotaso

Is there work to be done here still? This bug just had a birthday.

/triage needs-user-input

[2021-03-22 05:36] evankanderson commented on #7154
/kind cleanup
/area test-and-release

This bug is a year old. Are we still planning to do this?

Should this coordinate with the operations WG?

/triage needs-user-input

[2021-03-22 05:38] evankanderson commented on #7078
/area API

This is an interesting request -- basically, the ability to default to `cluster-local` visibility.

This is also related to the [KIngress visibility project](https://github.com/knative/serving/projects/43)

/triage accepted

[2021-03-22 05:41] evankanderson commented on #7077
@dprotaso

Anything left here to do? The last comment was:

I'm guessing the shake-out has happened. I'm going to

/close

this again and we can open a new bug if there are specific defects we find.

[2021-03-22 05:41] #7077 closed

[2021-03-22 05:48] evankanderson commented on #6895
Is there any more on this issue?

@csantanapr -- should we open a docs issue to import your https://github.com/csantanapr/knative-private-images into the Knative docs?

/triage needs-user-input

/kind documentation

[2021-03-22 06:00] evankanderson commented on #6705
Hi @Aashit-Sharma ,

It's not clear that all the issues are the same. If you're still running into problems, you might try the #serving-questions channel on https://knative.slack.dev, where you should be able to get interactive help and debugging for your specific issue.

The original error seems to be happening in a cluster where (possibly) the apiserver is under high load and/or there is a bug w

[2021-03-22 06:00] evankanderson commented on #6705
Since the original issue is for a 1-year-ago release, I'm going to

/close

this, but please feel free to open new issues and/or avail yourselves of the slack channel mentioned.

[2021-03-22 06:01] #6705 closed

[2021-03-22 06:02] evankanderson commented on #6593
/assign @nak3

Is this the right repo for tracking this? If it should go to another repo, you may want to @ the appropriate people when you move the bug over.

/triage needs-user-input

[2021-03-22 06:02] evankanderson commented on #6520
/assign

/triage accepted

[2021-03-22 06:04] evankanderson commented on #6504
Have we made any progress here?

It looks like Doug produced at least a partial template for re-creating this. Does the Pod hang around forever even if there are no more requests going to it and the request timeout has passed?

/triage needs-user-input

(So that next week's oncall reads the answers)

[2021-03-22 06:07] evankanderson commented on #6492
I don't see any active progress on a proposal here; one alternative mechanism for leveraging Knative for parts of the overall system (where it makes sense; I think autoscaling + gaming is probably not a good fit due to gaming services generally being stateful) is to build a $PROTOCOL-to-HTTP bridge, and then route the HTTP requests to Knative (or anywhere else, for that matter).

/close

[2021-03-22 06:07] #6492 closed

[2021-03-22 06:07] evankanderson commented on #6474
/assign @nak3

What remains to close this out? It seems like it's rotting here, so a checklist of the remaining items might help prevent that.

/triage assigned

[2021-03-22 06:07] evankanderson commented on #6474
/triage accepted

[2021-03-22 06:08] evankanderson commented on #6373
Is this still needed?

/assign @nak3

/remove-lifecycle frozen

(Because I think it's sat for 6 months with no attention, I think having it age out would be better than the unlife it's living.)

/triage accepted

[2021-03-22 06:10] evankanderson commented on #6264
Should this issue move to https://github.com/knative/specs now that there is a separate repository for conformance-related things (which can be versioned separately from Knative code itself)?

/triage accepted

[2021-03-22 06:14] evankanderson commented on #6226
What needs to be done here? Is this describing a specific case which should be codified in the spec (i.e. "If the user-container exits before becoming Ready when first started, the Revision's `Ready` state should be `False` and the Message should include at least the last 100 characters of the container output")?

Should this be moved to the https://github.com/knative/specs repo and let the confor

[2021-03-22 06:15] evankanderson commented on #6176
/good-first-issue

This seems like it might not be difficult to do.

/triage accepted

[2021-03-22 06:36] evankanderson commented on #6146
Looking at https://github.com/golang/go/issues/15527 and reviewing this thread, it seems like it may be possible to implement your own stream-up-and-down using HTTP.

Looking at the code in https://github.com/duglin/knstream/blob/master/stream.go#L23, however, this does not appear to be a valid HTTP case. In particular, the response does not appear to be an HTTP response, but a simple echoing of t

[2021-03-22 06:36] evankanderson commented on #6146
/kind spec
/remove-area API

[2021-03-22 06:37] ZhiminXiang commented on #6373
I have broke this issue into the smaller work items: https://github.com/knative/networking/issues?q=is%3Aissue+HTTP+Option+support

So I think we can close this one, and use the work items I pasted to track the work progress.

[2021-03-22 06:37] evankanderson commented on #6006
/triage accepted

Should this move to https://github.com/knative/specs ?

[2021-03-22 06:38] evankanderson commented on #5990
/triage needs-user-input

[2021-03-22 06:39] ZhiminXiang commented on #6474
I wrote a [proposal](https://docs.google.com/document/d/1L3Er41Y8PWI_pTP13QdV-YikMd6QqUkJu5XhKFfJwto/edit?resourcekey=0-EZNeRjkq9xLi4nXLFmWVHw) about the launch plan which contains the remaining work. The doc is under review.

[2021-03-22 06:42] evankanderson commented on #5934
One other thought (though this appears quite stale and maybe just needs to be killed?):

It might be possible to run a simple registry on-cluster using the https://hub.docker.com/_/registry image and a static private key?

/triage accepted

[2021-03-22 06:44] evankanderson commented on #5913
Not sure if any investigation is still happening on this?

If so, are there concrete next steps (or a project tracking "pie in the sky enhancements")? If we expect this to require specific cluster configuration, should this involve the operations WG and/or the docs WG? Do we expect this to be part of a simple developer workflow, or only for advanced administrators?

/triage needs-user-input

[2021-03-22 06:44] evankanderson commented on #5913
/area API

[2021-03-22 06:46] evankanderson commented on #5829
It looks like this is actually done?

/close

[2021-03-22 06:46] #5829 closed

[2021-03-22 06:52] evankanderson commented on #5822
I think this is complete; https://knative.dev/docs/serving/feature-flags/#multi-containers and https://knative.dev/docs/serving/samples/multi-container/index.html are the documentation, covered by #8664

/close

[2021-03-22 06:52] #5822 closed

[2021-03-22 06:54] evankanderson commented on #5573
/assign @markusthoemmes

[Close to a year ago](https://github.com/knative/serving/issues/5573#issuecomment-638326442), you said:

Is this done?

/triage needs-user-input

[2021-03-22 06:59] evankanderson commented on #283
Hello, 3 year old issue!

I know this is an exciting and dear-to-heart issue, but I'm wondering whether we expect keeping this issue open to actively change the status quo vs closing the issue and keeping a backlog of "things to explore to improve performance" in some other format like a markdown or Google document?

/triage needs-user-input
/area API
/area autoscale
/kind proposal

[2021-03-22 07:03] evankanderson commented on #912
/good-first-issue

It looks like #10003 just needs a little help across the finish line

/triage accepted

[2021-03-22 07:10] evankanderson commented on #1178
This probably either needs a target list or some other explicit criteria on when it can be closed.

/assign @dprotaso

/triage needs-user-input

[2021-03-22 07:18] evankanderson commented on #3587
/area API

Needs prioritization; it should be possible to feed through extra fields fairly easily, but [Dan pointed out that this may start to mix concerns](https://github.com/knative/serving/issues/3587#issuecomment-559261523). It looks like PriorityClass (used with `priorityClassName`) may provide an indirect lever for both `preemptionPolicy` and `priority`, which seems like it might address Dan

[2021-03-22 07:20] evankanderson commented on #3687
I think this is covered by DomainMappings at this point?

https://knative.dev/docs/serving/creating-domain-mappings/

/close

[2021-03-22 07:20] #3687 closed

[2021-03-22 07:22] evankanderson commented on #3895
Hello issue, you're almost 2 years old!

I think this either needs a concrete proposal (including spelling out the benefits in terms of reducing variation/repetition and enabling operators to provide more assistance to developers), or we should `/close` it and create a new issue when we're ready to address it.

/triage needs-user-input

[2021-03-22 07:23] evankanderson commented on #4060
Hi!

This issue has been open for 2 years. I don't think we've received a _user_ issue or bug report in that time.

Maybe it's time to close this?

/triage needs-user-input

[2021-03-22 07:26] evankanderson commented on #4190
It looks like this is stale, and we haven't seen requests for Volume Files at the moment, so I'm going to

/close

this issue, and we can open another issue later if we need more capabilities.

[2021-03-22 07:26] #4190 closed

[2021-03-22 07:30] evankanderson commented on #4307
/area API

@dprotaso -- It looks like multi-container did not enable init containers: https://github.com/knative/serving/blob/05f16c699a7da89fa96256c40d06f347b09bf4aa/pkg/apis/serving/fieldmask.go#L197

Thought on priority for this request?

/triage needs-user-input

[2021-03-22 07:32] evankanderson commented on #4416
/good-first-issue

It seems like this should be fairly easy to write a test for:

1. Enable ResourceQuota on a namespace
2. Deploy a Knative Service without resource requests
3. Check the status on the created Revision, which should fail (possibly after 2 minutes)

/triage accepted

[2021-03-22 07:35] evankanderson commented on #4417
It would be good to either document the principles here (e.g. avoid state storage and sharing between Pods as it's against the stateless design and tends to lead to awkward failure and scaling modes), and/or to make this a flag-guarded "default are safe, but you can unlock the hood and reach into the running engine if you must" list.

/triage accepted

[2021-03-22 07:37] evankanderson commented on #4522
Note that Knative services support a broad range of HTTP requests, including the entire HTTP query path space and multiple verbs.

I believe @beemarie is working on this in https://github.com/knative-sandbox/async-component; it might be worth looking at that for an overview of one design.

[2021-03-22 07:38] evankanderson commented on #4522
/triage accepted

/assign @beemarie

(We may want to close this in favor of directing people to the async-component repo)

[2021-03-22 07:39] julz commented on #10098
/assign @cdlliuy

[2021-03-22 07:41] evankanderson commented on #4557
It looks like we froze this 6 months ago.

It seems like the next step is probably a proposal similar to https://github.com/knative/serving/issues/4557#issuecomment-510059033

/triage accepted

[2021-03-22 07:43] evankanderson commented on #4589
It looks like this conversation trailed off 6 months ago, with no further work documented?

/remove-lifecycle frozen
/triage needs-user-input

[2021-03-22 07:44] julz commented on #7748
It's beta as of https://github.com/knative/networking/pull/334 so I guess we're just waiting for it to officially GA now.

[2021-03-22 07:49] evankanderson commented on #4736
Other than the request for the user to choose the request header, it seems like [Header-based Tag Routing](https://knative.dev/docs/serving/samples/tag-header-based-routing/) should be able to do this?

/triage needs-user-input

[2021-03-22 07:52] evankanderson commented on #5076
/assign @dprotaso

Can you update the issue with some idea of the remaining work? It seems like there are 5 issues and 8 PRs referenced in this issue, along with a checklist with no boxes checked.

/triage accepted
/remove-kind question
/kind cleanup

[2021-03-22 07:58] rccrdpccl commented on #8366
I apologize for not keeping you updated. I have done some work on this last year, https://github.com/rccrdpccl/vpa-binding/tree/first-release but it's not polished and is missing further development. (IIRC at the moment is implementing only my suggestion of VPA, but the original idea was to implement also the other proposal)

Unfortunately my priorities have shifted and I've been unable to carry o

[2021-03-22 08:25] rhuss commented on #8160
Yep, I think having this documented and maybe having a sample that shows how a simple javascript based web-client could leverage this technique would be very helpful.

[2021-03-22 08:26] rhuss commented on #8562
happy to close it and reopen it in case it should hurt us again.

[2021-03-22 08:26] #8562 closed

[2021-03-22 08:31] rhuss commented on #8629
It's kind of touching multiple areas. I'm not sure if the operator alone can perform everything, but I agree that operations is a good place for driving this discussion. Starting a feature track that would define the problem space and identify challenges would be helpful, too (but unfortunately I can't help here much to drive this because of time constraints, but happy to help and review things)

[2021-03-22 09:48] julz commented on #8610
Unfortunately not. What _sounds_ easy is actually a bit tricky because of how we do metric aggregation. Having said that it's possible the new pluggable aggregation stuff @vagababov has added may make this more tractable 🤔 .

[2021-03-22 10:43] skonto commented on #8471
@evankanderson should I finalize the doc? What is the plan?

[2021-03-22 10:59] skonto commented on #8959
@evankanderson not sure if network policies are good enough here in the multi-tenant scenario (using a service mesh) where multiple users of knative will try to access the metric endpoints check comment [here](https://github.com/openshift-knative/serverless-operator/pull/47#issuecomment-566539135). Probably depending on the solution users may need extra steps to add specific authorization policies

[2021-03-22 11:35] julz commented on #10765
I think we need to settle on what the right behaviour is here: hanging seems pretty wrong and unexpectedly different from k8s, but should we scale up (so, ignore non-ready pods for purposes of desired, at least eventually), terminate the pod (so effectively introduce an implicit liveness check), error out after timeout if nothing goes ready again, or just document that readiness probes are a real

[2021-03-22 11:37] skonto commented on #9553
/assign

[2021-03-22 12:09] knative-test-reporter-robot opened #11003 "[flaky] test/conformance/api/v1.TestServiceCreateAndUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceCreateAndUpdate
* **Repository name**: serving

[2021-03-22 12:09] knative-test-reporter-robot opened #11004 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest
* **Repository name**: serving

[2021-03-22 12:09] knative-test-reporter-robot opened #11005 "[flaky] .Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Test
* **Repository name**: serving

[2021-03-22 12:09] knative-test-reporter-robot opened #11006 "[flaky] test/e2e.TestDestroyPodInflight"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDestroyPodInflight
* **Repository name**: serving

[2021-03-22 17:25] vagababov commented on #9432
/unassign

[2021-03-22 17:26] vagababov commented on #10355
/unassign

[2021-03-22 17:26] vagababov commented on #10344
I think so. No activity.
/close

[2021-03-22 17:27] #10344 closed

[2021-03-22 17:27] vagababov commented on #9888
/unassign

[2021-03-22 17:28] vagababov commented on #6504
/unassign

[2021-03-22 18:04] #10973 closed

[2021-03-22 18:52] joshuawilson commented on #9432
@evankanderson I agree, the other has more detail. Closing this one.

[2021-03-22 18:52] #9432 closed

[2021-03-22 21:03] coryrc commented on #6264
Done.

[2021-03-22 21:03] #6264 closed

[2021-03-23 03:48] duglin commented on #4060
I still think it’s a good idea but it’s probably too late now

[2021-03-23 03:48] #4060 closed

[2021-03-23 03:52] duglin commented on #7361
I’d like to continue the discussion. I think the QP should be customizable.

[2021-03-23 07:46] ktock commented on #5913
Containerd supports stargz/eStargz-based lazy loading using Stargz Snapshotter plugin.

Configuration: https://github.com/containerd/stargz-snapshotter/blob/v0.5.0/docs/overview.md#stargz-snapshotter-proxy-plugin

[2021-03-23 12:08] knative-test-reporter-robot opened #11011 "[flaky] pkg/queue/health.TestHTTPProbeAutoHTTP2"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/queue/health.TestHTTPProbeAutoHTTP2
* **Repository name**: serving

[2021-03-23 12:08] knative-test-reporter-robot opened #11012 "[flaky] .Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Test
* **Repository name**: serving

[2021-03-23 16:19] evankanderson opened #11015 "Ensure that queue-proxy can only report statistics for its own Pod"
## Expected Behavior

The queue proxy can't report request / concurrency statistics for a Pod other than itself.

## Actual Behavior

(Unknown)

## Steps to Reproduce the Problem

Inspect code and verify that when autoscaler calls the queue proxy, all the statistics from the queue-proxy are associated with the Revision and Pod associated with the queue proxy.

## Additional Info

[2021-03-23 16:19] evankanderson commented on #11015
/triage accepted

[2021-03-23 16:19] evankanderson commented on #11015
/area autoscale
/kind documentation

[2021-03-23 16:22] evankanderson commented on #8959
/assign

I think that NetworkPolicy will work for this, I'm going to put together a PR in the next week or two

[2021-03-23 16:31] markusthoemmes commented on #8959
Is not enough FWIW. You'll have to allow access  from wherever the ingressgateway sits at a minimum too.

[2021-03-23 23:55] iamejboy commented on #10421
@evankanderson @itsmurugappan , still facing issue even having latest knative version. v0.21.0

[code]

[2021-03-23 23:56] iamejboy commented on #10906
@evankanderson @nak3 , still facing issue even having latest knative version. v0.21.0

[code]

[2021-03-24 00:40] iamejboy opened #11019 "Scraping of metrics fails with 500 Internal Server Error on v0.21.0"
## What version of Knative?

0.21.x

## Expected Behavior

Scraping of metrics to knative components should not fail.

## Actual Behavior

Returns 500 Internat error

[code]

## Steps to Reproduce the Problem

Keep running the knative cluster with workload.

[2021-03-24 02:05] itsmurugappan commented on #10421
as i have mentioned earlier, the fix is not available in 0.21.  Its available in knative/serving head, so should be part of 0.22

[2021-03-24 03:56] #10805 closed

[2021-03-24 07:50] zhangrongguo commented on #10547
Yes, I have solved this issue.

[2021-03-24 07:50] #10547 closed

[2021-03-24 12:08] #10826 closed

[2021-03-24 12:08] knative-test-reporter-robot opened #11023 "[flaky] .Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Test
* **Repository name**: serving

[2021-03-24 12:08] knative-test-reporter-robot opened #11024 "[flaky] pkg/queue/health.TestHTTPProbeAutoHTTP2"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/queue/health.TestHTTPProbeAutoHTTP2
* **Repository name**: serving

[2021-03-24 12:08] knative-test-reporter-robot opened #11025 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest
* **Repository name**: serving

[2021-03-24 12:08] knative-test-reporter-robot opened #11026 "[flaky] test/conformance/api/v1.TestServiceCreateAndUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceCreateAndUpdate
* **Repository name**: serving

[2021-03-24 15:15] cardil commented on #9544
I hit that one with kn 0.19 and serving 0.21. Maybe do reopen as you said @rhuss ?

/reopen
/remove-lifecycle stale

[2021-03-25 01:30] JRBANCEL commented on #10516
@skonto I am investigating an issue where I see a metric (e.g. `knative.dev/internal/serving/revision/request_count`) being emitted fine to Stackdriver, but at the same time I see the same metric being rejected because of it has a timestamp earlier than the latest timestamp reported for that metric.

So, it seems that the same metric is somehow exported twice and in the failing cases, the time win

[2021-03-25 06:04] nak3 commented on #10906
https://github.com/knative/pkg/commit/6c2f94a4d6a0328d63f5fa16f7890d8e4516a2d0 is still not include in v0.21.0. Let's wait for the fix until next release.

[2021-03-25 12:09] knative-test-reporter-robot opened #11032 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest
* **Repository name**: serving

[2021-03-25 12:09] knative-test-reporter-robot opened #11033 "[flaky] test/conformance/api/v1.TestServiceCreateAndUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceCreateAndUpdate
* **Repository name**: serving

[2021-03-25 12:09] knative-test-reporter-robot opened #11034 "[flaky] .Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Test
* **Repository name**: serving

[2021-03-26 19:33] ajaysg94 commented on #10767
@vagababov Thanks for commenting. My scenario is we have developed user based recommendation models. if there are 1000's of users, 1000's of models will be there. In real-time if 1000 users are coming at a time how do we serve them. Are 1000 containers needed to load the respective models. Also each users request should go only to the respective containers. Can the request routing be done with kna

[2021-03-27 12:09] knative-test-reporter-robot opened #11041 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest
* **Repository name**: serving

[2021-03-27 12:09] knative-test-reporter-robot opened #11042 "[flaky] .Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Test
* **Repository name**: serving

[2021-03-27 12:09] knative-test-reporter-robot opened #11043 "[flaky] test/conformance/api/v1.TestServiceCreateAndUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceCreateAndUpdate
* **Repository name**: serving

[2021-03-28 01:41] NovaHe commented on #11019
I think this is the same issue with #10421. you can try 0.22

[2021-03-28 12:09] knative-test-reporter-robot opened #11044 "[flaky] test/conformance/api/v1.TestServiceCreateAndUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceCreateAndUpdate
* **Repository name**: serving

[2021-03-28 12:09] knative-test-reporter-robot opened #11045 "[flaky] test/e2e.TestDestroyPodInflight"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDestroyPodInflight
* **Repository name**: serving

[2021-03-28 12:10] knative-test-reporter-robot opened #11046 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest
* **Repository name**: serving

[2021-03-28 12:10] knative-test-reporter-robot opened #11047 "[flaky] .Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Test
* **Repository name**: serving

[2021-03-28 12:10] knative-test-reporter-robot opened #11048 "[flaky] cmd/queue.TestProbeQueueNotReady"
### Auto-generated issue tracking flakiness of test
* **Test name**: cmd/queue.TestProbeQueueNotReady
* **Repository name**: serving

[2021-03-28 12:10] knative-test-reporter-robot opened #11049 "[flaky] test/e2e.TestMinScale"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestMinScale
* **Repository name**: serving

[2021-03-29 08:18] denny-lclin opened #11051 "Is there any plan for more metrics support for KPA/HPA?"
## Ask your question here:
According to [Custom metrics Docs](https://knative.dev/docs/serving/custom-metrics-api/) , it only mentions that custom metrics 'allows users to configure concurrency based scaling when using the Horizontal Pod Autoscaler'. Does Knative have plans for more support for custom/external metrics usage?
e.g Prometheus metrics can be used as 'External metrics' in HPA

[2021-03-29 08:43] markusthoemmes commented on #11051
The custom-metrics API is actually no longer supported by Knative. That docs page should be deleted.

As such, there are no plans to have more metrics currently.

Which ones would you have wanted to get? Any use-cases you can share?

[2021-03-29 09:46] #11048 closed

[2021-03-29 12:08] knative-test-reporter-robot opened #11058 "[flaky] cmd/queue.TestProbeQueueNotReady"
### Auto-generated issue tracking flakiness of test
* **Test name**: cmd/queue.TestProbeQueueNotReady
* **Repository name**: serving

[2021-03-29 12:08] knative-test-reporter-robot opened #11059 "[flaky] test/conformance/api/v1.TestServiceCreateAndUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceCreateAndUpdate
* **Repository name**: serving

[2021-03-29 12:08] knative-test-reporter-robot opened #11060 "[flaky] .Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Test
* **Repository name**: serving

[2021-03-29 20:05] benmoss opened #11064 "e2e tests do not wait for previous tests to finish cleaning up"
/area test-and-release

## What version of Knative?

v0.21.0-127-g69610eb27

## Expected Behavior

When one test finishes but before the next begins, all the resources that it created should have successfully deleted.

## Actual Behavior

Tests issue deletion requests but the resources continue to terminate in the background while subsequent tests run.

## Steps to Reproduce the Problem

Running t

[2021-03-29 20:05] dprotaso opened #11065 "consider allowing unknown fields in the webhooks"
Our upgrade/downgrade test is very good at catching inclusion of new fields

ie. from https://github.com/knative/serving/pull/11038#issuecomment-809655064_

To have downgrade tests passing I've see two approaches:

1. Work around this by adding fields in two releases. This approach poses challenges if we'd like to introduce a new field with a non-zero default value.
2. Relax this constraint and ac

[2021-03-29 20:09] dprotaso commented on #11065
A third more extreme option may be to take an official stance and not support downgrading - and remove the test.

[2021-03-29 20:54] dprotaso commented on #11065
I'm leaning towards option #1 keep the status quo - I think defaulting could be done after the fact

[2021-03-30 02:46] rileyhun opened #11069 "Compatibility with Secret Store CSI Driver?"
Hello all,

I need to pull in a secret from a vault (a.k.a. GoogleSecretManager), but KNative doesn't let me me create the necessary volume to facilitate that through [CSI](https://github.com/GoogleCloudPlatform/secrets-store-csi-driver-provider-gcp). Any ideas on how to do this?

For example, it should look something like this:
[code]

Error:
[code]

[2021-03-30 09:07] zhaojizhuang opened #11070 "domainmapping DomainAlreadyClaimed"
## What version of Knative?

## Expected Behavior
Domainmapping Ready

## Actual Behavior
when I create and delete domainmapping, then create it again, Ii will not become Ready forever

[code]

## Steps to Reproduce the Problem

- step 1. create domainmapping like https://knative.dev/docs/serving/creating-domain-mappings/#creating-a-domain-mapping
`kubectl apply -f domainmapping.yaml`

- step 2.

[2021-03-30 09:09] zhaojizhuang commented on #11070
@julz

[2021-03-30 09:10] zhaojizhuang commented on #11070
cc @julz @mattmoor @vagababov @markusthoemmes

[2021-03-30 09:15] julz commented on #11070
Hi @zhaojizhuang can you please try with the recent version of knative? There is no owner relationshipas of 0.21 (instead it uses the spec.namespace on the clusterdomainclaim to establish ownership, see https://github.com/knative/serving/pull/10503, https://github.com/knative/serving/pull/10537). If it occurs in the current recent knative version, please share the yaml of both the clusterdomaincla

[2021-03-30 09:20] zhaojizhuang commented on #11070
@julz ok, Let me reproduce with 0.21

[2021-03-30 12:12] knative-test-reporter-robot opened #11074 "[flaky] test/conformance/api/v1.TestServiceCreateAndUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceCreateAndUpdate
* **Repository name**: serving

[2021-03-30 12:12] knative-test-reporter-robot opened #11075 "[flaky] .Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Test
* **Repository name**: serving

[2021-03-30 13:02] zhaojizhuang commented on #11070
@julz I have tried with 0.21,This bug has been fixed! Thank you

[2021-03-30 14:00] somaya10 commented on #9046
### As per our latest tests on knative 0.20

We observed:
1. intercepting on Deployment level:
The mutating webhook mutates the deployment the 1st time to ImagePullPolicy:Always, but then receives more events for the same deployment:(sometimes 17, sometimes 25 more) the knative reconciler patches the deployment back to imagePullPolicy: IfNotPresent. Therefore this case is not ideal.

2. intercepti

[2021-03-30 14:01] markusthoemmes commented on #10973
I agree in principle @dprotaso. Both measures are important for different circumstances. There's no followup issue (yet) but the code currently says

[code]

Do we still want to open a tracker?

[2021-03-30 15:07] dprotaso commented on #10346
`preserveUnknownFields` for our CRDs was set to `false` in v0.13.0 and then we removed that field when we switch to using `apiextensions.k8s.io/v1`.

Now with `v1` the use of structural schema is required. You can opt out of pruning by adding `x-kubernetes-preserve-unknown-fields: true` to the `openAPIV3Schema`.

I don't see an action to be done on our part so I'm going to close out this issue.

[2021-03-30 15:07] #10346 closed

[2021-03-30 18:11] Cynocracy commented on #8970
Sorry, it did not. Let me do that while it's front of mind.

[2021-03-30 18:20] dprotaso opened #11078 "Drop aggressive readiness probe when we adopt K8s 1.21"
/area API

Drop aggressive readiness probe when we switch over to K8s 1.21

Location:
https://github.com/knative/serving/pull/10992/files#diff-ef4bfdf87fbddadf00a7f7c73687ad3f9a06775390d806542ea2bcf3281401fcR267

References:
https://github.com/knative/serving/issues/10973

[2021-03-30 18:20] dprotaso commented on #10973
Made the issue - should be good :)

[2021-03-31 07:23] yangyunfeng007 opened #11084 "Should we support custom PreStop"
User Container maybe send a response back very fast and do something asynchronously, so it needs a way to check the work done before k8s kill the pod. Should we support custom PreStop (HTTP/EXEC) for this?

[2021-03-31 07:27] markusthoemmes commented on #11084
Note that doing work outside of HTTP requests is not how Knative Serving works. **All** workloads must be part of ongoing HTTP requests. Hacking around that with a prestop hook might potentially be able to keep the pods alive for longer, but neglects the state the rest of the system thinks this pod is in.

If you're looking for async semantics, you might want to have a look at https://github.com/k

[2021-03-31 10:56] #11024 closed

[2021-03-31 10:56] #11025 closed

[2021-03-31 10:56] #11026 closed

[2021-03-31 10:56] #11041 closed

[2021-03-31 10:56] #11042 closed

[2021-03-31 10:56] #11043 closed

[2021-03-31 10:56] #11044 closed

[2021-03-31 10:56] #11045 closed

[2021-03-31 10:56] #11046 closed

[2021-03-31 10:56] #11047 closed

[2021-03-31 10:56] #11058 closed

[2021-03-31 10:56] #11059 closed

[2021-03-31 10:56] #11060 closed

[2021-03-31 10:56] #11075 closed

[2021-03-31 10:58] #10983 closed, assigned to nobody

[2021-03-31 10:58] #10995 closed

[2021-03-31 10:58] #11003 closed

[2021-03-31 10:58] #11005 closed

[2021-03-31 10:58] #11006 closed

[2021-03-31 10:58] #11011 closed

[2021-03-31 10:58] #11012 closed

[2021-03-31 10:59] #10891 closed

[2021-03-31 10:59] #10905 closed

[2021-03-31 10:59] #11004 closed

[2021-03-31 10:59] #11023 closed

[2021-03-31 12:08] knative-test-reporter-robot opened #11087 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingTest
* **Repository name**: serving

[2021-03-31 12:08] knative-test-reporter-robot opened #11088 "[flaky] test/e2e.TestDestroyPodInflight"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDestroyPodInflight
* **Repository name**: serving

[2021-03-31 12:08] knative-test-reporter-robot opened #11089 "[flaky] .Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Test
* **Repository name**: serving

[2021-03-31 12:08] knative-test-reporter-robot opened #11090 "[flaky] test/conformance/api/v1.TestServiceCreateAndUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceCreateAndUpdate
* **Repository name**: serving

[2021-03-31 12:14] #10492 closed

[2021-03-31 12:14] #11074 closed

[2021-03-31 12:14] #11089 closed

[2021-03-31 15:18] benmoss commented on #9888
I'm seeing this on a single service I created, when it scales up from 0 it sometimes gets into this failure state, let me see if I can make a reliable repro

[2021-03-31 18:41] dprotaso commented on #9046
I'm still confused why your defaulting webhook on the Knative service is failing? I've just prototyped one here and it worked as expected:

https://github.com/knative/serving/compare/main...dprotaso:always-pull-default?expand=1

It essentially defaults the pull policy and validates that it's set to `Always` on the `Service`.

I have a GitHub [project capturing issues](https://github.com/knative/se

[2021-03-31 19:54] markusthoemmes opened #11092 "Revisions might be underscaled on upgrade (and every deployment change)"
/area autoscale

## What version of Knative?

All

## Expected Behavior

On upgrade of Knative Serving, the traffic to my apps is never impacted.

## Actual Behavior

On upgrade, we get a new queue-proxy image. That change causes us to rollout a new deployment spec to all applications, getting them rolled via the usual Deployment mechanism. This also happens if global settings like `tracingEnabled

[2021-03-31 19:56] vagababov commented on #11092
/cc @yanweiguo

[2021-04-01 06:25] yangyunfeng007 commented on #11084
OK, thank you very much!  I think time-consuming things should be in another workflow. And we can try Knative Asynchronous Component.

[2021-04-01 06:25] #11084 closed

[2021-04-01 06:58] markusthoemmes opened #11094 "Allow applications to internalize the queue-proxy functionality"
/area autoscale
/area networking
/area API

Today, Knative launches a sidecar container called `queue-proxy` next to every application's pod. This sidecar is a reverse-proxy that is responsible to guarantee a few things in relation to Knative's machinery, like guaranteeing correct shutdown behavior, collecting and shipping metrics for the autoscaler and enforcing concurrency limits.

Would it be b

[2021-04-01 06:59] markusthoemmes commented on #11094
Another, slightly different angle, was discussed in #7210 for completeness.

[2021-04-01 07:25] markusthoemmes commented on #11094
/assign

Taking a whack at creating a prototype using our existing Golang code.

[2021-04-01 09:36] markusthoemmes commented on #11094
Here's a first whack we can use for experimentation: https://github.com/knative/serving/compare/main...markusthoemmes:qp-framework?expand=1. It's obviously horrible and incomplete, but might be just about enough to run through some testing to collect the data referenced above.

[2021-04-01 12:09] knative-test-reporter-robot opened #11097 "[flaky] .Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Test
* **Repository name**: serving

[2021-04-01 12:09] knative-test-reporter-robot opened #11098 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingTest
* **Repository name**: serving

[2021-04-01 12:09] knative-test-reporter-robot opened #11099 "[flaky] test/conformance/api/v1.TestServiceCreateAndUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceCreateAndUpdate
* **Repository name**: serving

[2021-04-01 15:23] dprotaso commented on #11065
Gonna to close this off - as I opened it to prompt a discussion but that didn't happen and I think the status quo is still the right approach.

[2021-04-01 15:23] #11065 closed

[2021-04-01 17:48] dprotaso commented on #10750
@shinigambit landed the API changes in order to add the functionality in the next release

[2021-04-01 18:25] Cynocracy opened #11101 "Lock release failure in v0.20.0"
## What version of Knative?
0.20

## Expected Behavior

Autoscaler is able to release lock automatically after some time.

## Actual Behavior

Autoscaler spins, unable to release lock, with the error

`Failed to release lock: Lease.coordination.k8s.io "autoscaler-bucket-00-of-01" is invalid: spec.leaseDurationSeconds: Invalid value: 0: must be greater than 0`

similar to

https://github.com/kubern

[2021-04-01 21:47] akshayuppal3 opened #11102 "can we cofigure pod disruption budget"
## In what area(s)?
 /area autoscale

## Ask your question here:
can we cofigure pod disruption budget for knative (https://kubernetes.io/docs/tasks/run-application/configure-pdb/)
. I saw this commit (https://github.com/knative/serving/pull/9444/commits/39bd9ef96f6b06861f35c3435143a5991bf74b8d#). Is it fixed min available to 80%  or is it flexible?

[2021-04-01 22:03] akshayuppal3 commented on #10656
it seem to apply anti affnity settings if I supply the following config:
[code]

 just in case anyone else faced this issue.. following was the deployment that worked
[code]

[2021-04-01 22:35] #10714 closed

[2021-04-01 23:53] duglin commented on #10614
Do we still need to wait given the other changes we made?

[2021-04-02 01:51] nak3 commented on #11102
Hi @akshayuppal3, it is not fixed value. You can configure it by modifying the yaml directory or edit it by `$ kubectl edit pdb -n knative-serving  activator-pdb`  after the installation.

[2021-04-02 04:17] dprotaso commented on #10614
Whoops forgot to close this one off - the changes should unblock you @duglin from re-adding back the UID labels

[2021-04-02 04:17] #10614 closed

[2021-04-02 12:10] knative-test-reporter-robot opened #11105 "[flaky] test/conformance/api/v1.TestServiceCreateAndUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceCreateAndUpdate
* **Repository name**: serving

[2021-04-02 12:10] knative-test-reporter-robot opened #11106 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest
* **Repository name**: serving

[2021-04-02 12:10] knative-test-reporter-robot opened #11107 "[flaky] .Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Test
* **Repository name**: serving

[2021-04-02 12:36] duglin commented on #11094
In cases where the user builds their own images we probably won't want to leverage this since we're trying to hide the knative infrastructure from the user. But, if we build the image for them... or if the user is comfortable with adding it themselves, then yes! I'm all in favor of exploring the option of allowing people to optimize things like this.

It seems to me though we should first agree th

[2021-04-03 08:12] charlesvictor25 commented on #7440
Please check your container port and service port. This is my pod setup:

....
spec:
      containers:
      - name: hello
        image: "nginx"
        ports:
        **- containerPort: 5000**

This is my service setup:

  ports:
  - protocol: TCP
    port: 60000
    **targetPort: 5000**

If your target port and container port don't match, you will get a curl: (7) connection refused error.

[2021-04-03 12:10] knative-test-reporter-robot opened #11109 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest
* **Repository name**: serving

[2021-04-04 07:17] chizhg commented on #11087
/close

[2021-04-04 07:17] #11087 closed

[2021-04-04 07:17] chizhg commented on #11090
/close

[2021-04-04 07:18] #11090 closed

[2021-04-04 07:18] chizhg commented on #11099
/close

[2021-04-04 07:18] #11099 closed

[2021-04-04 07:18] chizhg commented on #11106
/close

[2021-04-04 07:18] #11106 closed

[2021-04-04 07:18] chizhg commented on #11097
/close

[2021-04-04 07:18] #11097 closed

[2021-04-04 07:18] chizhg commented on #11109
/close

[2021-04-04 07:18] #11109 closed

[2021-04-04 07:38] knative-test-reporter-robot opened #11110 "[flaky] test/conformance/api/v1.TestServiceWithTrafficSplit"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceWithTrafficSplit
* **Repository name**: serving

[2021-04-04 07:38] knative-test-reporter-robot opened #11111 "[flaky] test/e2e.TestServiceToServiceCall/fqdn"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestServiceToServiceCall/fqdn
* **Repository name**: serving

[2021-04-04 07:38] knative-test-reporter-robot opened #11112 "[flaky] pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/newprod.net"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/newprod.net
* **Repository name**: serving

[2021-04-04 12:10] #11105 closed

[2021-04-05 07:11] daganida88 opened #11113 "Load balancing is not working as expected, and one pod receives all traffic"
## Ask your question here:

I have a revision with two pods running, where one pod receives all traffic and the other is not.
When I look at the queue proxu container I see the following errors:│ queue-proxy aggressive probe error:  dial tcp 127.0.0.1:9000: connect: connection refused
I am not sure if it is related or not, but I can't figure this out.
I am using KFServing version 0.5 with istio 1.

[2021-04-05 14:23] duglin commented on #8685
/remove-lifecycle stale
/reopen
still an issue IMO

[2021-04-05 15:37] vagababov commented on #11113
It's strange you're trying to probe port 9000, usually relegated to metrics. I think you should start with KFServing github/slack first?

[2021-04-05 17:45] dprotaso commented on #11064
Did you notice if the terminating resources interfering with other tests in any way?

[2021-04-05 18:56] benmoss commented on #11064
My hunch is that the terminating resources are using up memory and CPU, resulting in other tests timing out waiting for pod startups. I think it's particularly pronounced on smaller clusters, and maybe isn't as noticeable given the 4-node e2-standard-4 machines that get used by CI.

[2021-04-06 12:03] jakoberpf opened #11116 ""failed calling webhook" when deploying helloworld on eks with knative. What could be the issue?"
Hello Guys,

we have an issue deploying knative or better the helloworld example on our eks cluster using the operator v0.21.0.
The controller is the following error for a deployed helloword example.

`{"severity":"ERROR","timestamp":"2021-04-06T11:52:00.714785849Z","logger":"controller","caller":"controller/controller.go:540","message":"Reconcile error","commit":"b9576f5","knative.dev/pod":"contr

[2021-04-06 12:05] daganida88 commented on #11113
My triton server is listening on port 9000 (grpc)

[2021-04-06 12:07] markusthoemmes commented on #11116
I assume the `<namespace>` placeholder is actually something valid and the webhook is also deployed to that namespace? Are you using Istio with sidecar injection or something similar?

[2021-04-06 12:09] knative-test-reporter-robot opened #11117 "[flaky] 7.95% tests failed in repo serving on 2021-04-06 08:00:34 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 7.95% tests failed in repo serving on 2021-04-06 08:00:34 +0000 UTC
* **Repository name**: serving

[2021-04-06 12:42] jakoberpf commented on #11116
@markusthoemmes right, the placeholder is a valid namespace in reality. All knative components are deployed in the same namespace but the helloworld deployment is in another separate namespace. We have istio setup with sidecar and activate it by `istio-injection: enabled`. I didn't set the `PeerAuthentication`, but I guess this is required?

[2021-04-06 12:49] markusthoemmes commented on #11116
It shouldn't be required if you're not using mTLS modes. If you're doing that, https://knative.dev/docs/install/installing-istio/ might be helpful.

[2021-04-06 14:14] jakoberpf commented on #11116
Checked and we are not using mTLS. I also found a connected error in the operator pod --> `"error":"failed to apply non rbac manifest: Internal error occurred: failed calling webhook \"config.webhook.serving.knative.dev\"`.

Generally, these errors show that the controller cant access the webhook. But in the Webhook is see `"webhook. DefaultingWebhook","caller":"controller/controller.go:530","mess

[2021-04-06 14:43] arleif-dfactory commented on #10776
@mattmoor  Similar issue here
Using Contour, 10 buckets, 10 replicas on knative serving controllers, knative version 0.20.0, service links disabled, around 1300 ksvcs in the cluster
The Revisions get ready quickly but the Kvscs get stuck in "Waiting for Envoys to receive Endpoints data" and "Waiting for load balancer to be ready" states for 15 mins each at times.

Any tips on what to debug, and wh

[2021-04-06 15:09] #11064 closed

[2021-04-06 18:21] julz commented on #11094
This was very much the thinking behind wanting to [make the QP optional](https://github.com/knative/serving/issues/7210) and [document the contract](https://github.com/knative/serving/issues/7361) so very much +1 to this (and +1 to dug's comments too).

One thing I'd worry about with a library approach is how we'd manage versioning of things since it's hard to guarantee what api version each pod i

[2021-04-07 08:25] julz opened #11121 "Define (or document) appropriate NetworkPolicy/AuthorizationPolicy to prevent user access to autoscaler"
/area autoscale

## Describe the feature

Out of the box, the autoscaler listens for websocket connections so that activators can tell it about request metrics. Nothing, though (afaik), currently prevents a random user/pod sending data to this websocket, which might be exploited by malicious users to e.g. spuriously scale other user's pods. We assume operators will set up appropriate NetworkPolicy

[2021-04-07 08:36] skonto commented on #11121
This is part of the discussion for all the endpoints we have unprotected see #8959

[2021-04-07 08:42] julz commented on #11121
@skonto I linked to #8959 already in the description of this issue, but #8959 talks about locking down the "ksvc, QP etc". This is talking, OTOH, about the autoscaler, which is imo a rather more important issue since it allows scaling other user's pods, rather than just getting information about them.

Neither of the proposed solutions in #8959 would be the best solution to this issue (we should s

[2021-04-07 08:44] julz commented on #11121
(I do think it makes sense to have an epic tracking all unprotected endpoints, I just dont think piggy-backing on #8959 is a good way to do that. Maybe you could create a generic tracking issue for control plane network security in general and link both of these to it? Or maybe there is one already I missed?)

[2021-04-07 09:41] somaya10 commented on #9046
@dprotaso Hi Dave! Thanks for looking into this and adding the "failed to pull image" error to the non ideal failure mode list.

Regarding your first question:

Our validation webhook is similar to https://medium.com/ovni/writing-a-very-basic-kubernetes-mutating-admission-webhook-398dbbcb63ec- where we use the patch operation like

			patch := map[string]string{
 				"op":    "replace",
						"pat

[2021-04-07 09:42] skonto commented on #9553
it seems that we cannot have `kind` with hpa enabled check the status [here](https://github.com/kubernetes-sigs/kind/issues/2047#issuecomment-770588635). Since `kind` is used in our e2e setup this seems to be blocked.

[2021-04-07 10:22] markusthoemmes commented on #9553
We can ignore the test in `kind` though. The HPA should be available in the prow based setup.

[2021-04-07 10:33] markusthoemmes commented on #9046
@somaya10 can you share the code by any chance? Or a minified reproducer of it? You saying "Validation Webhook" makes me wonder whether you're using a Defaulting Webhook (which you should) or a Validation Webhook and whether there's an order-of-operations issue here.

The link you shared seems broken. Where is it applying these patches? To the in-flight object or via an API client?

[2021-04-07 11:07] mvinkler opened #11122 "Introduce a flag to turn off logstream during E2E tests run"
## Describe the feature
Please introduce a flag that will completely disable logstream during E2E tests, i.e. it won't execute these two lines in [e2e.go](https://github.com/knative/serving/blob/main/test/e2e/e2e.go#L66-L67)
[code]

Reason: a regular user on Openshift cannot get pods in the `knative-serving` namespace:
[code]

Right now, each e2e test calls `clients := Setup(t)`, for example see [

[2021-04-07 11:19] somaya10 commented on #9046
Hey @markusthoemmes apologies for the confusion, I updated my comment above and fixed the link. Github repo for the sample mutating webhook: https://github.com/alex-leonhardt/k8s-mutate-webhook

It is indeed a mutating/defaulting webhook that we are using. The actual mutation is done by a string in JSONPatch style, i.e. we don't _actually_ modify the object, but tell K8S how it should modify it, h

[2021-04-07 12:09] knative-test-reporter-robot opened #11124 "[flaky] 8.03% tests failed in repo serving on 2021-04-07 08:00:38 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 8.03% tests failed in repo serving on 2021-04-07 08:00:38 +0000 UTC
* **Repository name**: serving

[2021-04-07 12:12] mvinkler commented on #11122
Actually, there are multiple occurrences of `cancel := logstream.Start(t)` in the code. Can you all of them to the flag?

[2021-04-07 13:04] zhaojizhuang opened #11125 "should we support scale-to-zero-grace-period for per-revision"
## In what area(s)?
/area autoscale

should we support scale-to-zero-grace-period for per-revision?
like `scale-to-zero-pod-retention-period` https://knative.dev/docs/serving/autoscaling/scale-to-zero/#scale-to-zero-last-pod-retention-period

## Describe the feature

[2021-04-07 13:04] zhaojizhuang commented on #11125
cc @markusthoemmes @mattmoor

[2021-04-07 13:08] julz opened #11126 "Drop prometheus stat reporter from QP"
/area autoscale

## Describe the feature

tldr we should delete https://github.com/knative/serving/blob/main/pkg/queue/prometheus_stats_reporter.go since we've now been scraping via protobuf for several releases.

I think noone should be directly scraping this endpoint since they should instead be using the user metrics endpoint so this shouldn't make anyone unhappy, but I think I remember @vagaba

[2021-04-07 13:17] markusthoemmes commented on #11126
Should we make the metrics available via user-metrics in the same go? They are quite useful to plot I believe. Also pinging @skonto for input regarding dashboard breakage.

[2021-04-07 13:19] julz commented on #11126
ah, if some are not already available and are useful we should definitely do that (thats what I was pinging @vagababov to confirm)

[2021-04-07 13:23] markusthoemmes commented on #11125
The grace-period is considered a global setting because it pretty much expresses what time your networking plane takes to recompute and to make sure the activator is in-path.

Which use-case do you have in mind to make this available per revision?

[2021-04-07 13:24] skonto commented on #11126
@julz these metrics are scraped from many users (I know customers do) as they provide a number of metrics about queue_proxy.
If we remove this there will be no metrics coming from queue proxy what is the `user metrics endpoint` you are referring to?

[2021-04-07 13:29] markusthoemmes commented on #11126
There's a "normal" Prometheus server launched as part of the generic metric instrumentation machinery. It's listening on 9091. This reporter is specific to the autoscaler and listens on 9090. The task is to move all useful metrics to the on on 9091.

[2021-04-07 13:38] skonto commented on #11126
@markusthoemmes that makes sense the 9090 was meant for the autoscaler anyway but it has some useful information.

[2021-04-07 14:29] dprotaso commented on #11122
Do you not have permission to grant RBAC rules to the test runner?

There are other instances were we poke at the K8s resources in our e2e

[2021-04-07 14:46] #11117 closed

[2021-04-07 14:46] #11124 closed

[2021-04-07 14:48] dprotaso commented on #11116
It's the API server trying to communicate to the webhook that seems to be failing.

[2021-04-07 15:11] dprotaso commented on #11116
Is there anything from the webhook logs that would suggest any crashes?

Otherwise I wonder if you need to setup some networking rules in AWS for their API server to talk to the webhook.

[2021-04-07 15:16] jakoberpf commented on #11116
@dprotaso The webhook logs are clean. No errors or warnings. Defaulting- and ValidationWebhooks succeed. I'm kinda clueless.

[2021-04-07 15:48] #10750 closed

[2021-04-07 16:03] vagababov commented on #11122
👍
We're querying pods, endpoints, deployments etc — if you don't have permissions you'll fail the tests anyway.

[2021-04-07 16:42] mvinkler commented on #11122
I do not have permission to grant RBAC rules to the test runner.
There are 16 tests which query services, configmaps, etc. from namespaces I don't have access to (knative-serving, knative-serving-ingress). Other tests actually do pass.

[2021-04-07 17:13] dprotaso commented on #7154
/close

I think we dropped a bunch of roles and what we have now is prefixed with `knative-serving`

[2021-04-07 17:13] #7154 closed

[2021-04-07 17:17] dprotaso commented on #10656
Based on the yaml above this seems related to the operator. @evankanderson I can't transfer this issue to the operator repo are you able to?

[2021-04-07 17:17] dprotaso commented on #10656
/unassign
/assign @evankanderson

[2021-04-07 17:19] dprotaso commented on #10873
@BLasan hey just following up if this is something you're going to tackle for 0.23.x milestone?

[2021-04-07 17:21] dprotaso commented on #9857
/assign @dprotaso

[2021-04-07 17:22] dprotaso commented on #4416
/assign @dprotaso

[2021-04-07 17:22] dprotaso commented on #9326
/assign @dprotaso

[2021-04-07 18:12] evankanderson commented on #9046
Note that defaulting webhooks may be run more than once; I don't know if we're keeping some sort of local cache in the validator:

https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#reinvocation-policy
[code]

I thought that we had separated our defaulting and our validation, though, so that shouldn't affect the outcome.

[2021-04-07 18:14] evankanderson commented on #9046
... I wonder if this is happening for a `status` update to an existing object that was created before the ImagePullPolicy defaulter was created, where the defaulting hook is trying to update the `spec` when there are no other `spec` changes?

[2021-04-07 22:12] shinigambit commented on #9022
/assign

[2021-04-08 08:18] skonto commented on #9553
ok the github actions for e2e testing are based on kind so somehow we will need to avoid it, use a special tag?.

[2021-04-08 08:29] skonto commented on #11121
@julz ok I left a [comment](https://github.com/knative/serving/issues/8959#issuecomment-790635912) back then with this in mind yes makes sense to track them somewhere but this works for me as well. I agree autoscaler connections are high priority.

[2021-04-08 09:05] somaya10 commented on #9046
@evankanderson Our mutating webhook explicitly sets the reinvocationPolicy to never. As for your second comment, we from our side are not doing anything specific besides trying to change the imagePullPolicy with the mutating webhook. We are listening on the knative service creation/update events and intervening with the webhook there, then returning the patch for imagePullPolicy in `/spec/configur

[2021-04-08 12:08] knative-test-reporter-robot opened #11132 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest
* **Repository name**: serving

[2021-04-08 12:08] knative-test-reporter-robot opened #11133 "[flaky] .Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Test
* **Repository name**: serving

[2021-04-08 12:08] knative-test-reporter-robot opened #11134 "[flaky] test/conformance/api/v1.TestServiceCreateAndUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceCreateAndUpdate
* **Repository name**: serving

[2021-04-08 12:09] knative-test-reporter-robot opened #11135 "[flaky] test/e2e.TestMinScale"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestMinScale
* **Repository name**: serving

[2021-04-08 12:09] knative-test-reporter-robot opened #11136 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingTest
* **Repository name**: serving

[2021-04-08 12:09] knative-test-reporter-robot opened #11137 "[flaky] test/conformance/api/v1.TestServiceWithTrafficSplit"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceWithTrafficSplit
* **Repository name**: serving

[2021-04-08 15:02] dprotaso commented on #11116
I'll try to repro but I need to get an account from my work that might take a few days. I know folks have ran on EKS in the past without much trouble.

Can you:
1) open an issue with the operator https://github.com/knative/operator
    - I want to rule out it that it doesn't do anything that might affect the installation
2) open an issue with AWS to help determine why their API server can't connec

[2021-04-08 17:33] markusthoemmes commented on #11092
Turns out that this is even somewhat worse because the autoscaler gets skewed on an upgrade as well: As the deployment is heavily exchanging pods, the samples used to generate the data to scale on get skewed because pods that are shutting down won't be scraped anymore, but the new ready ones might not yet have seen any traffic so they are no representative. That causes the autoscaler to overshoot

[2021-04-08 20:45] dprotaso commented on #9046
I think BYO revision name just needs special handling in your webhook.

Thus you'd want to do the following in the general case when there are no names:
- on `CREATE` apply the defaults
- on `UPDATE` apply the defaults (this may create a new revision)
- on `CREATE` & `UPDATE` validate the field

When you have a BYO revision name then:
- on `CREATE` apply the defaults
- on `CREATE` validate
- on `U

[2021-04-09 12:08] knative-test-reporter-robot opened #11146 "[flaky] .Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Test
* **Repository name**: serving

[2021-04-09 12:08] knative-test-reporter-robot opened #11147 "[flaky] test/conformance/api/v1.TestServiceCreateAndUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceCreateAndUpdate
* **Repository name**: serving

[2021-04-09 12:08] knative-test-reporter-robot opened #11148 "[flaky] test/e2e.TestMinScale"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestMinScale
* **Repository name**: serving

[2021-04-09 18:17] dprotaso commented on #11116
So I was able to spin up Knative on EKS and get it working without the operator. I did this in a default VPC and made things public to the internet.

The one hiccup I encountered was my nodes couldn't communicate with the API server until I added this policy to the node's IAM role - https://docs.aws.amazon.com/eks/latest/userguide/cni-iam-role.html When the nodes couldn't communicate with the API

[2021-04-10 12:07] knative-test-reporter-robot opened #11150 "[flaky] .Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Test
* **Repository name**: serving

[2021-04-10 12:07] knative-test-reporter-robot opened #11151 "[flaky] test/conformance/api/v1.TestServiceWithTrafficSplit"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceWithTrafficSplit
* **Repository name**: serving

[2021-04-10 12:07] knative-test-reporter-robot opened #11152 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingTest
* **Repository name**: serving

[2021-04-11 12:08] knative-test-reporter-robot opened #11153 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingTest
* **Repository name**: serving

[2021-04-12 01:18] yuzisun opened #11154 "Autoscaler falls back to scrape service"
## What version of Knative?
0.17.x

## Expected Behavior

Autoscaler scrapes metrics using direct pod IP so it should not generate a ton of DNS traffic

## Actual Behavior

Autoscaler adds 10x traffic to coredns during pod autoscaling

## Steps to Reproduce the Problem

Generate high volume traffic to trigger the autoscaling for a knative service, coredns traffic went 10x more than normal and  aft

[2021-04-12 06:58] nak3 commented on #10160
It seems https://github.com/istio/istio/commit/ae8b0e2cf984f13224b35423edb52f25832ac616 did not fix the issue.
We still need to track https://github.com/istio/istio/issues/31084

[2021-04-12 12:09] knative-test-reporter-robot opened #11159 "[flaky] test/conformance/api/v1.TestServiceWithTrafficSplit"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceWithTrafficSplit
* **Repository name**: serving

[2021-04-12 12:09] knative-test-reporter-robot opened #11160 "[flaky] test/conformance/api/v1.TestServiceCreateAndUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceCreateAndUpdate
* **Repository name**: serving

[2021-04-13 11:08] dsimansk opened #11170 "Service scaled to zero ommits `actualReplicas, desiredReplicas` in status"
## What version of Knative?

## Expected Behavior

When Service is scaled to zero `actualReplicas, desiredReplicas` are set to `0` accordingly.

## Actual Behavior

When Service is scaled to zero `actualReplicas, desiredReplicas` are omitted from Status.

While working on client's issue https://github.com/knative/client/issues/842#issuecomment-815653787. I'd noticed the behaviour described above.

[2021-04-13 11:09] dsimansk commented on #11170
@dprotaso @shinigambit PTAL if it's actually a bug or rather desired behaviour. Thanks :)

[2021-04-13 12:08] knative-test-reporter-robot opened #11171 "[flaky] test/conformance/api/v1.TestServiceCreateAndUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceCreateAndUpdate
* **Repository name**: serving

[2021-04-13 18:55] dprotaso commented on #11170
The fields have `omitempty` on the fields so when they're not present you should assume the default of `0`.

[2021-04-14 05:06] #9022 closed

[2021-04-14 08:45] 1804010511 commented on #6634
what is the final fix for this

[2021-04-14 09:57] julz commented on #11154
Fixed in #11174.

[2021-04-14 09:57] #11154 closed

[2021-04-14 10:02] julz commented on #11170
I guess the question is whether we should _remove_ omitEmpty (or use a *int) so the client can be confident that if they're present, they should be displayed. FWIW I'm in favour of that, since I think exposing replica count should be optional from a spec perspective (a particular implementation might not want to expose replica count, e.g. if using pause/resume under the covers etc).

[2021-04-14 12:07] knative-test-reporter-robot opened #11183 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/ProbeTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/ProbeTest
* **Repository name**: serving

[2021-04-14 16:17] markusthoemmes commented on #11092
Discussed this with @julz in Slack for quite a bit, and we kinda concluded that the skew mentioned is somewhat inherent to how our current sampling approach works. In production systems, the worst that happens is that the revision will be overscaled, which isn't an issue for the workloads in that it wouldn't impact them. If it **is** an issue for people,  they can choose to put the activator alway

[2021-04-14 16:44] shinigambit commented on #7576
/assign

[2021-04-14 23:26] yovizzle commented on #4417
I have a use case where we're looking to use Knative to facilitate autoscaling of machine learning services that load large artifacts on demand. To illustrate, services that look something like the TensorFlow embedding projector [https://projector.tensorflow.org/](url) with a large embedding preloaded.

The k8s pod spec pattern we are currently using is an initContainer that copies artifacts from

[2021-04-15 02:07] dprotaso commented on #9713
FYI - CLI changes have landed https://github.com/knative/client/pull/1267

[2021-04-15 10:13] julz commented on #9713
thanks @dprotaso for the reminder (and @dsimansk for the work in client! :)), updated the task list -- guess we should finish the last docs and start thinking about moving this to beta!

[2021-04-15 12:08] knative-test-reporter-robot opened #11192 "[flaky] test/scale.TestScaleToN/scale-200/013-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/013-of-200
* **Repository name**: serving

[2021-04-15 12:08] knative-test-reporter-robot opened #11193 "[flaky] test/scale.TestScaleToN/scale-200/194-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/194-of-200
* **Repository name**: serving

[2021-04-15 12:08] knative-test-reporter-robot opened #11194 "[flaky] test/scale.TestScaleToN/scale-200/098-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/098-of-200
* **Repository name**: serving

[2021-04-15 12:09] knative-test-reporter-robot opened #11195 "[flaky] test/scale.TestScaleToN/scale-200/150-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/150-of-200
* **Repository name**: serving

[2021-04-15 12:09] knative-test-reporter-robot opened #11196 "[flaky] test/ha.TestDomainMappingHA"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/ha.TestDomainMappingHA
* **Repository name**: serving

[2021-04-15 12:09] knative-test-reporter-robot opened #11197 "[flaky] test/scale.TestScaleToN/scale-200/132-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/132-of-200
* **Repository name**: serving

[2021-04-15 12:09] knative-test-reporter-robot opened #11198 "[flaky] test/scale.TestScaleToN/scale-200/144-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/144-of-200
* **Repository name**: serving

[2021-04-15 12:09] knative-test-reporter-robot opened #11199 "[flaky] test/scale.TestScaleToN/scale-200/147-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/147-of-200
* **Repository name**: serving

[2021-04-15 12:09] knative-test-reporter-robot opened #11200 "[flaky] test/scale.TestScaleToN/scale-200/146-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/146-of-200
* **Repository name**: serving

[2021-04-15 12:09] knative-test-reporter-robot opened #11201 "[flaky] test/scale.TestScaleToN/scale-200/099-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/099-of-200
* **Repository name**: serving

[2021-04-15 17:06] dprotaso opened #11205 "Figure out if we can holistically remove istio specific ports in our services"
@dprotaso I did go check this and there wasn't a straightforward solution that stood out to me. Given we already have a mesh specific port on the Service, I wonder if this doesn't really makes it worse and whether we should investigate removing both of these ports separately?

_Originally posted by @markusthoemmes in https://github.com/knative/serving/issues/11063#issuecomment-820305344_

[2021-04-15 17:06] dprotaso commented on #11205
The investigation here being can something be done in _net-istio_ to remove these extra ports

[2021-04-16 01:45] NovaHe commented on #10783
I want to try it. /assign

[2021-04-16 01:48] NovaHe commented on #10783
/assign

[2021-04-16 11:05] jeanabraham opened #11211 "Error RevisionFailed when starting event_display service"
## Ask your question here:

Hi,

I have Knative Serving installed on my Openshift cluster, but running into the below error when I try to do this. Any ideas on what could be wrong? Thanks!

[code]

[2021-04-16 11:27] markusthoemmes commented on #11211
Looks like you're running into https://bugzilla.redhat.com/show_bug.cgi?id=1934177. Before this is fixed in Openshift, you'll want to make the image not be based on distroless or set a specific `runAsUser`

[2021-04-16 12:02] jeanabraham commented on #11211
Thanks, @markusthoemmes.

`kn service create event-display --image gcr.io/knative-releases/knative.dev/eventing-contrib/cmd/event_display --user 0` gets it working.
[code]

[2021-04-16 12:09] knative-test-reporter-robot opened #11212 "[flaky] 2.13% tests failed in repo serving on 2021-04-16 08:00:49 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 2.13% tests failed in repo serving on 2021-04-16 08:00:49 +0000 UTC
* **Repository name**: serving

[2021-04-16 12:16] #11211 closed

[2021-04-16 15:58] ionutscorta commented on #7359
Any support for this? I still can't get a pvc to work...

[2021-04-16 20:04] #10662 closed

[2021-04-17 12:08] knative-test-reporter-robot opened #11215 "[flaky] 2.47% tests failed in repo serving on 2021-04-17 08:00:33 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 2.47% tests failed in repo serving on 2021-04-17 08:00:33 +0000 UTC
* **Repository name**: serving

[2021-04-18 11:31] 7adietri commented on #4417
Similar to @yovizzle, I have a use case where we would like to use an init container to download static (but changing over time) files to a Pod on deployment, and `emptyDir` would be perfect for this. Otherwise I would also appreciate some documentation for how to use the mentioned workarounds.

[2021-04-18 12:08] knative-test-reporter-robot opened #11216 "[flaky] .Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Test
* **Repository name**: serving

[2021-04-19 09:34] markusthoemmes opened #11218 "minScale treatment races reachability check"
## In what area(s)?
/area autoscale

## What version of Knative?

All recent at least.

## Expected Behavior

`autoscaling.knative.dev/minScale` holds the respective scale of a revision after it becomes ready.

## Actual Behavior

We sometimes scale below the mark only to then scale up again.

Example failing test: https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_serving/11217/pu

[2021-04-19 12:11] knative-test-reporter-robot opened #11222 "[flaky] test/conformance/api/v1.TestServiceCreateAndUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceCreateAndUpdate
* **Repository name**: serving

[2021-04-19 12:11] knative-test-reporter-robot opened #11223 "[flaky] .Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Test
* **Repository name**: serving

[2021-04-19 12:15] #11132 closed

[2021-04-19 12:15] #11133 closed

[2021-04-19 12:15] #11134 closed

[2021-04-19 12:15] #11135 closed

[2021-04-19 12:15] #11136 closed

[2021-04-19 12:15] #11137 closed

[2021-04-19 12:15] #11146 closed

[2021-04-19 12:15] #11147 closed

[2021-04-19 12:15] #11148 closed

[2021-04-19 12:15] #11150 closed

[2021-04-19 12:16] #11107 closed

[2021-04-19 12:16] #11110 closed

[2021-04-19 12:16] #11151 closed

[2021-04-19 12:16] #11152 closed

[2021-04-19 12:16] #11153 closed

[2021-04-19 12:16] #11159 closed

[2021-04-19 12:16] #11160 closed

[2021-04-19 12:16] #11171 closed

[2021-04-19 12:16] #11183 closed

[2021-04-19 12:16] #11192 closed

[2021-04-19 12:16] #11193 closed

[2021-04-19 12:16] #11194 closed

[2021-04-19 12:16] #11195 closed

[2021-04-19 12:16] #11197 closed

[2021-04-19 12:16] #11198 closed

[2021-04-19 12:16] #11199 closed

[2021-04-19 12:16] #11200 closed

[2021-04-19 12:16] #11201 closed

[2021-04-19 12:16] #11212 closed

[2021-04-19 12:16] #11215 closed

[2021-04-19 12:16] #11216 closed

[2021-04-19 12:16] #11222 closed

[2021-04-19 12:16] #11223 closed

[2021-04-19 12:18] markusthoemmes commented on #11122
FWIW, I would find this handy for tests in general. When writing tests locally, I quite often comment out the logstream to be able to see my actual output.

[2021-04-19 12:27] julz commented on #4417
hi @7adietri - just out of interest to understand the use case fully, what are the primary reasons to want to do this with an initContainer and emptyDir rather than having the main user container download the files on startup before responding to requests?

[2021-04-19 12:33] julz commented on #11122
+1 to @markusthoemmes, its great we have the logstream, but the way it interleaves with test output does make it hard to read sometimes. Id personally love if we could make it easy to separate logstream and test output (maybe, e.g., thinking out loud, it could be optionally written to a file rather than interleaved?) but, failing that, making it easy to disable seems useful to me also (though of c

[2021-04-19 13:32] 7adietri commented on #4417
@julz Separation of concerns, mostly. The init container is using a cloud provider image and runs the provider's tool for downloading files from a bucket. The service/main container doesn't need to know about any of this, the files are "just there".

[2021-04-19 14:26] YoussB commented on #10530
/assign

[2021-04-19 14:27] YoussB commented on #10530
/assign @shinigambit

[2021-04-19 14:35] dprotaso commented on #11218
Is this accurate? The labeler walks the route's traffic block so I'd assume it wouldn't matter how the Route/Configuration is related.

[2021-04-19 14:41] markusthoemmes commented on #11218
I guess I meant to point out, that it's possible for a revision to never be touched by the labeler. For example if you create a Route + Config and specify specific revisions in the Route. The same goes for a Service I guess.

[2021-04-19 15:03] dprotaso commented on #11218
Am I missing something I feel like that's not the case cause the list of revisions/configs to label is built from the Route's spec & status

https://github.com/knative/serving/blob/ae54012f0e01c5352b3168c3d12ab6da5dfe70e3/pkg/reconciler/labeler/metasync.go#L39-L41

[2021-04-19 15:21] markusthoemmes commented on #11218
Right, so this list might miss Revisions, which then are in `RouteState = Pending` (which we would take as a signal to not scale down for minScale purposes) and they'd stay there forever.

[2021-04-19 15:30] jakoberpf commented on #11116
I can also confirm that in a clean eks the deployment works without problems. Seems that we have some kind of restriction to the API server somewhere. I will therefore close this.

Thx for the effort.

[2021-04-19 15:30] #11116 closed

[2021-04-19 15:31] dprotaso opened #11225 "TestScaleToN fails on GKE 1.19"
## What version of Knative?

HEAD

## Expected Behavior

TestScaleToN passes somewhat consistently

## Actual Behavior

TestScaleToN fails pretty consistently

## Steps to Reproduce the Problem

Delete the cluster version flag so it picks the latest which is 1.19
https://github.com/knative/serving/blob/d2ca2ebad4eb6cbac607d142e0de0ef5c64d3502/test/e2e-tests.sh#L42

[2021-04-19 15:35] dprotaso commented on #11225
from @peterfeifanchen last week - have there been any updates from the GKE on call folks?

cc @markusthoemmes @julz do you have cycles to poke at whether EndpointSlices is affecting the SKS?

[2021-04-19 15:48] markusthoemmes commented on #11225
We should be able to quickly test that, as EndpointSlices, I believe, still have a Feature Gate on them that we might be able to disable. I think they've been around for a while but only now does K8s' kube-proxy rely on them directly. It might be a total red-herring, just something I spotted as potentially invasive from the release notes.

[2021-04-19 16:21] peterfeifanchen commented on #11225
@yanweiguo is supporting this issue now and following up with GKE or the next oncall is @rusde for this week.

[2021-04-19 16:55] shinigambit commented on #10530
Current plan
- A new field called `tlsSecret` will be created on the domainmapping spec
- The reconciled kcert will NOT create a new secret but instead use the provided secret to configure the https endpoint
- If a `tls secret` that gets referenced by the domainmapping does not exist should it create a new secret with the given name or fail the domainmapping creation *
- Deletion of domainmapping

[2021-04-19 19:35] evankanderson commented on #4417
I have a concern around lifetimes and downloading content at init -- if the content changes, you could end up with a mix of content for an unknown duration as serving uses a mix of old and new Pods to handle requests until scaled down.

If there was a way to run the cloud provider image as a continuous sidecar, that would mitigate a lot of my concerns (rollback would still be harder, because there

[2021-04-19 20:03] 7adietri commented on #4417
@evankanderson In our case the URL changes with each content update and is part of the deployment manifest, so each content change causes a new deployment. Using different versions of the files until all Pods have been replaced is fine for us, and would probably be the same if they were continously downloaded into running Pods.

[2021-04-20 03:46] zhaojizhuang opened #11231 "We need to add another way to configure credentials for private image registry"
/kind doc

## Expected Behavior

Besides `default service account` , we should add another way to configure credentials  for private image registry in doc,
see
- https://github.com/knative/serving/issues/5866
- https://github.com/knative/serving/blob/e4c7848e2e347b8ee4dc66eb8272a280b270e5cd/vendor/k8s.io/api/core/v1/types.go#L3043

add to this page https://knative.dev/docs/serving/deploying/privat

[2021-04-20 08:16] dispensable commented on #10528
Facing same problem `PA is not yet backed by activator, cannot scale to zero` here, and eventually solved by change MTLS peer auth policy of istio from STRICT to PERMISSIVE.  The log `"msg":"Unable to read sockstat","error":"error roundtripping xxx EOF"` shows that policy blocked prober to read the service health status.

[2021-04-20 12:10] #11111 closed

[2021-04-20 12:11] #10586 closed

[2021-04-20 12:11] #11112 closed

[2021-04-20 15:40] markusthoemmes commented on #11218
Just reproduced the behavior of the labeler I described: Running the MinScale test and adding a 30s sleep to the labeler caused it to never see the first revision and thus never change it's routing state.

[2021-04-20 16:22] evankanderson commented on #11121
/assign

[2021-04-21 10:08] markusthoemmes opened #11239 "Encrypt traffic on the data-path "natively""
## In what area(s)?
/area networking

## Describe the feature

Currently, whenever we're asked on how the traffic inside of Knative can be secured, our default answer (I think) is: Use a service mesh and enable mTLS.

I guess that works in theory, but it has a ton of drawbacks coming with it. Among others: It forces the additional sidecar everywhere, which a) increases overhead and b) makes our da

[2021-04-21 11:40] markusthoemmes commented on #912
So, I've taken a whack at schema generation today, just to see where we stand. Opened https://github.com/knative/serving/pull/11243 so everybody can play with it easily.

To copy my remarks from the PR, here are the blockers we have today.

1. Our own URL type is making issues. Doing the same trick as I did with VolatileTime didn't solve the issue, but I haven't looked immensely deep. This current

[2021-04-21 11:44] julz commented on #912
I actually think if we could make it so we use the schema to validate the podSpec fields we don't allow we might actually end up with _less_ code than before, because we could drop our custom validation, potentially. If so then that starts to seem like a win, but I worry we'll run in to size/maintenance issues as we support more and more of the podSpec. Do I have a memory that when we tried this b

[2021-04-21 11:53] markusthoemmes commented on #912
The size limits were hit, because we served 3 versions of the APIs. The schema is copied across those versions. The current Service schema clocks in at 340K, which is not small but also not breaking anything yet.

[2021-04-21 13:48] dprotaso commented on #11092
This guarantees that the autoscaler replica count is the floor which I think is fine

With many active revisions `maxSurge` might result in a thundering herd problem. I'd suggest experiment with setting this to `1` so the rollout is very gradual and smoothed over time

[2021-04-21 13:55] markusthoemmes commented on #11092
@dprotaso I did exactly that at first, but the thundering herd isn't really held back by that. In effect, it's almost as quick as it is now because as soon as a pod went into `Terminating` the next healthy one will be removed.

Also note: The values today are `25%` in both settings.

[2021-04-21 14:06] markusthoemmes commented on #11092
@dprotaso correct. As also explained on the PR, this has very little implication on the actual timing of the rollout. But it **does** guarantee the floor is the autoscaling recommendation/

[2021-04-21 17:34] dprotaso commented on #10738
Related: https://github.com/knative/serving/issues/11170

[2021-04-22 02:28] zouyee commented on #6550
/cc

[2021-04-22 10:50] dsimansk commented on #11170
Thanks @julz for the more accurate summary. That's the problem I wasn't able to handle well on client's side.
Would it be feasible from the API perspective to remove `omitEmpty`?

[2021-04-22 13:08] skonto opened #11248 "Metrics cardinality is too high"
/area monitoring

When using Prometheus a standard [principle](https://www.robustperception.io/cardinality-is-key) is to have metrics with low cardinality but also as a key concept in [monitoring](https://cloud.google.com/monitoring/api/v3/metric-model#cardinality) in general. Low cardinality is a key design principle in [latest standards](https://github.com/open-telemetry/opentelemetry-specificat

[2021-04-22 19:25] kkwekkeboom opened #11251 "Digest resolution frequency may drain registry quota"
## Digest resolution frequency may drain registry quota
When submitting a knative service which has an issue with resolving the image digest (e.g. 401 or 404), the knative controller will keep polling the registry for the image `failed to resolve image to digest: GET https://eu.gcr.io/v2/...`. This happens several times per second per revision according to the logs. There were a couple of revision

[2021-04-23 06:53] markusthoemmes commented on #11251
There's currently no way to control how tag resolution works from the outside. However, our resolution **should** be rate limited. You can find the rate limiting setup here: https://github.com/knative/serving/blob/e97bc76f0c41d44c6041a79413a39886f4248813/pkg/reconciler/revision/background.go#L86 It'd be neat to find out if there's a different setup for that, that would fix the issue for you.

Look

[2021-04-23 09:54] kkwekkeboom commented on #11251
Thanks for the quick response! Indeed 5ms seems a bit aggressive, but that's the base rate. I'm not seeing an exponential backoff happening in the logs.

If I'm reading the code correctly the 10qps overall rate limit applies to digest resolution for all items, which means it can only contribute to 6k of the 50k GCR quota for 10 minutes or 864K of the 1M daily GCR quota (?)

[2021-04-23 10:01] julz commented on #11251
I actually think we didn't properly wire up the rate limiter yet. We started in https://github.com/knative/serving/pull/10237 so the rate limiting queue is there, but we're not properly using it (we always call Add, not AddRateLimited and we Forget after failure, for a start). I'm going to have a quick look at this.

/assign

[2021-04-23 12:08] knative-test-reporter-robot opened #11257 "[flaky] test/conformance/api/v1.TestRouteCreation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestRouteCreation
* **Repository name**: serving

[2021-04-23 17:16] markusthoemmes commented on #912
Made some good progress with adjusting some of the K8s tooling for our needs, which ultimately led me to https://github.com/knative/serving/pull/11244, which has a full schema for all of our types, filtered down by the surface we allow in PodSpec (+ feature flags, but we could drop those fields from the schema too if that's contentious).

If all agree, we could ship those schemas as a first step a

[2021-04-23 18:07] kkwekkeboom commented on #11251
According to google folks quota applies to all requests for GCR. It takes ~12 QPS per IP to hit that limit.

[2021-04-23 18:32] evankanderson commented on #912
My $0.02 in terms of feature-flagged fields supported in PodSpec would be to be maximal in the OpenAPI spec, and make sure we have documentation that certain fields may not be supported on all clusters. (Which is true anyway, since you could also have OPA policy or other admission webhooks enforcing limits.)

[2021-04-23 19:42] evankanderson commented on #11248
Is part of this that Prometheus doesn't have a native histogram mechanim?

In my experience, histograms (compared with mean/max) are very useful for understanding the frequency of outliers and (for example) bimodal distributions on events.

I'm slightly confused by this math:

webhook emits similar histogram metrics and depends on number of kinds and namespaces.

Are you suggesting 100 services _e

[2021-04-23 20:32] evankanderson commented on #10738
Note that `actualReplicas`, etc aren't actually in the spec at all for Revision: https://github.com/knative/specs/blob/main/specs/serving/knative-api-specification-1.0.md#spec-3

[2021-04-24 12:07] knative-test-reporter-robot opened #11258 "[flaky] pkg/reconciler/autoscaling/kpa.TestReconcileDeciderCreatesAndDeletes"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/autoscaling/kpa.TestReconcileDeciderCreatesAndDeletes
* **Repository name**: serving

[2021-04-25 00:17] dkozlov commented on #10917
I have the same issue but on AWS

[2021-04-25 19:53] skonto commented on #11248
@evankanderson
In our original issue we had: 17 (webhook buckets) * 54 (namespaces)* 32 (kinds) = 29376 time series which was a bit too much compared to the api server ones at that point in time.

There are buckets from different histograms eg reconciler. This is a rough estimation.
If you lower the cardinality here then it should not be a problem. The rule of thumb is not to have more than 10 dis

[2021-04-26 08:51] dkozlov commented on #4417
I have the same approach as @yovizzle. I am trying to keep machine learning model weights in separate container outside of serving container. By using initContainers I am copying the new model weights from the weights container to the unchanged serving container during the container startup through emptyDir volume mounts. To use knative without emptyDir I need to push my container with several gig

[2021-04-26 12:29] markusthoemmes commented on #912
Another updated from my side:

https://github.com/knative/serving/pull/11244 is now submittable as-is (modulo getting the pkg dependencies updated, which I'm waiting for the robot to do).

I've excluded the script from update-codegen.sh  from now, as there's a bit of trickery to be done with run_go_tool and I'd love to get our own fork of controller-tools going before we fix this all. A separate s

[2021-04-26 12:44] markusthoemmes commented on #912
Correction from the above: Switch 1 and 2 and do the networking change first to obsolete undoing stuff in vendor after generation.

[2021-04-26 15:20] dprotaso commented on #912
When does this break again? ie. if we add a v2 do we reach that limit?

[2021-04-26 15:23] markusthoemmes commented on #912
Good question! Actually, since we're now able to filter the PodSpec down to only the things we support, the Service CRD clocks in at a mere 104K. Assuming a 1M size limit in K8s (which is what a quick search yielded) we should be quite a way away from hitting any YAML size limits here.

[2021-04-26 23:48] yanweiguo commented on #11225
I can't reproduce the issue if I manually create a 1.19 cluster and manually run that test only:

[code]

From https://github.com/knative/serving/pull/11237, the test failed when waiting for the service to become ready. Sometimes it was `Waiting for load balancer to be ready` [1] and sometimes it was `is waiting for a Revision to become ready` [2].

[1] https://prow.knative.dev/view/gs/knative-pro

[2021-04-27 15:30] NovaHe commented on #10873
/assign

[2021-04-27 19:33] evankanderson commented on #11239
A few quick thoughts/answers:

1. It's probably desirable to separate the certificates for system components from components that run in the user (developer) namespace (i.e. different certs for ingress/activator than for queue-proxy). Components that run in a developer namespace should be assumed to be available to all workloads (Knative and otherwise) in that namespace.
   In addition, we have _t

[2021-04-28 14:03] afroehlicher commented on #4417
We also need the emptyDir support in order to make use of Knative. We're doing transformations of huge data volumes (potentially some GBs) where the intermediate results are stored in an embedded/local H2 database and retrieved via SQL.  Above a certain H2 cache size these results are stored on disc.

We want to introduce autoscaling via Knative and our application seems to fit the requirements: T

[2021-04-29 06:38] markusthoemmes commented on #5573
@evankanderson it's not and via https://github.com/knative/serving/issues/5573#issuecomment-645175855, I think I'll actually have to bring this up for the 1.0 work, as I think we're setting a somewhat unrealistically high bar for ingress conformance.

[2021-04-29 19:13] BLasan commented on #10814
@markusthoemmes would like to work on this

[2021-04-30 01:09] #912 closed

[2021-04-30 11:36] #11251 closed

[2021-04-30 12:08] #11049 closed

[2021-04-30 15:50] markusthoemmes commented on #11258
/assign

I broke this, I'll fix it.

[2021-04-30 18:21] yanweiguo commented on #11225
Ran scale tests before e2e and conformance tests. The scale tests passed and the failed tests are

[code]

The failure is relative to the tests order. Maybe caused by some memory issue?

[2021-04-30 18:43] dprotaso commented on #11225
The other dimension (that I've been meaning to test) is whether it's a combination of ingress/k8s version.

So later today I'll run these e2e tests with net-contour - https://github.com/knative/serving/pull/11226

[2021-04-30 19:50] dprotaso opened #11286 "Address istio mesh e2e mesh failures"
/area test-and-release
/area networking
/kind cleanup
/kind good-first-issue

## Expected Behavior

e2e tests pass when running our e2e tests with istio and the local gateway disabled (mesh only) with mTLS enabled (STRICT). At a minimum we should be _skipping tests_ we know that will fail when strict mTLS is enabled.

This also affects DomainMapping but that's being tracked by https://github.com/k

[2021-04-30 20:22] dprotaso commented on #11225
Changing the order didn't help my runs
 - https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_serving/11226/pull-knative-serving-istio-stable-no-mesh/1388215596763582464
 - https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_serving/11226/pull-knative-serving-istio-stable-no-mesh/1388199712330354688

[2021-04-30 21:11] yanweiguo commented on #11225
Flaky ¯\_(ツ)_/¯

[2021-05-03 12:11] knative-test-reporter-robot opened #11289 "[flaky] pkg/reconciler/revision.TestResolveInBackground/resolver_fails_one_image/iteration1"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/revision.TestResolveInBackground/resolver_fails_one_image/iteration1
* **Repository name**: serving

[2021-05-03 13:23] dprotaso commented on #11286
/assign @arturenault

[2021-05-03 18:31] csharpknife2002 commented on #10115
I encount the exactly same issue with knative 0.19 in OCP 4.6, in the end I restart the kourior pods which helps.

[2021-05-04 09:21] julz commented on #11289
/assign

[2021-05-04 10:32] BbolroC opened #11294 "Make the --ingressendpoint option configurable in test/e2e-test.sh"
## Ask your question here:

If a test cluster, against which the prow job runs, does not support a load balancer (e.g. KinD), it would be good to enable the test to be configured with the option `--ingressendpoint` via an environment variable as follows:

[code]

I am looking forward to any positive feedback on this.
Thank you very much.

[2021-05-04 12:10] knative-test-reporter-robot opened #11295 "[flaky] kubetest2.Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: kubetest2.Test
* **Repository name**: serving

[2021-05-04 12:17] markusthoemmes commented on #11258
Failure happened before the PR was merged. Should be good.

[2021-05-04 20:06] ustiugov opened #11297 "xip.io Magic DNS stopped working"
## What version of Knative?

## Expected Behavior

Knative should use a separate always-on DNS server instead of xip.io.

## Actual Behavior

Knative [docs](https://knative.dev/docs/install/install-serving-with-yaml/#install-a-networking-layer) suggests using Magic DNS for resolving function URLs. Particularly, the docs suggest applying a [manifest](https://github.com/knative/serving/releases/down

[2021-05-04 21:29] julz commented on #11297
Yup :(. What a pain. Opened #11298 to fix.

[2021-05-04 23:41] #11297 closed

[2021-05-05 15:47] #11289 closed

[2021-05-05 19:29] dprotaso commented on #11170
/assign @shinigambit to change it to `*int`

[2021-05-06 10:30] nak3 commented on #11294
Is it bad idea that we support the configuration by env value `INGRESS_ENDPOINT` instead the arg option `--ingressendpoint`?
Then we can configure the endpoint without above change.

It is not consistent that `CLUSTER_DOMAIN`, `GATEWAY_OVERRIDE` and `GATEWAY_NAMESPACE_OVERRIDE` are supported by env values but `--ingressendpoint` is arg option. Maybe there are some reasons that `--ingressendpoint`

[2021-05-06 12:00] BbolroC commented on #11294
Great! Thanks for the feedback. It sounds better to preserve the argument rather than the env.

[2021-05-06 12:09] knative-test-reporter-robot opened #11307 "[flaky] test/e2e/gc.TestRevisionGC"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/gc.TestRevisionGC
* **Repository name**: serving

[2021-05-06 13:38] BbolroC commented on #11294
@nak3 You meant this, right?

[code]

[2021-05-06 14:04] nak3 commented on #11294
Umm... I was thinking this change:

[code]

Then, you can run `e2e-tests.sh` without any change.

[code]

[2021-05-06 14:13] BbolroC commented on #11294
Ah, I got your point: no changes in `e2e-tests.sh`. It looks much clear and simple. I will go with this for the PR. Thank you.

[2021-05-06 14:13] #11294 closed

[2021-05-06 20:39] danieltahara opened #11308 "Is there a way to specify a minimum, non-zero scaling value while keeping scale-to-zero behavior?"
## In what area(s)?
/area autoscale

Other classifications:

## Ask your question here:

We have a few very "bursty" services that get zero traffic for a while and then get 100s of concurrent requests.

What I would like is to be able to do the following:
1. Enable scale-to-zero for that service
2. When the service has a non-zero scale, it is at least some minimum value (say, 10).

As far as I und

[2021-05-07 12:09] knative-test-reporter-robot opened #11313 "[flaky] test/e2e/tagheader.TestTagHeaderBasedRouting/send_request_with_correct_header"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/tagheader.TestTagHeaderBasedRouting/send_request_with_correct_header
* **Repository name**: serving

[2021-05-07 18:23] sdhoward opened #11314 "$PORT variable usage"
/area networking

## Ask your question here:

Is there a doc that clearly describes the use of the PORT environment variable? There's an [old issue](https://github.com/knative/serving/issues/2258#issue-371622171) and a [spec](https://github.com/knative/specs/blob/main/specs/serving/runtime-contract.md#network-environment) that mention it, but neither makes it clear which side should be setting it

[2021-05-08 02:42] nak3 commented on #11307
`Setting config-gc to immediate garbage collectionError from server (InternalError): Internal error occurred: failed calling webhook "config.webhook.net-certmanager.networking.internal.knative.dev": Post https://net-certmanager-webhook.fa21803d-a9d6-4a0d-8740-2149102cce16.svc:443/config-validation?timeout=30s: no endpoints available for service "net-certmanager-webhook"`

It failed to set `config-

[2021-05-08 02:59] nak3 commented on #11313
This is same with GC test. It failed to apply config-features.

`Setting feature tag-header-based-routing to EnabledError from server (InternalError): Internal error occurred: failed calling webhook "config.webhook.net-certmanager.networking.internal.knative.dev": Post https://net-certmanager-webhook.d4d994de-62f4-4d42-990c-836e2e991ce1.svc:443/config-validation?timeout=30s: no endpoints available

[2021-05-08 12:09] knative-test-reporter-robot opened #11316 "[flaky] test/e2e/initscale.TestInitScaleZero"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/initscale.TestInitScaleZero
* **Repository name**: serving

[2021-05-08 12:12] xclud opened #11317 "Digest resolution not working?"
/area build

I am using knative-serving along with tekton and kaniko. In a multi step `Task` my image is getting built and pushed to a private registry (yes, it supports api version 2) using kaniko. Then the next `step` runs a `kn` command to create a new `Revision` for the KService.

Unfortunately in the last step `kn` does resolve the digest and logs `Service 'develop' with latest revision 'deve

[2021-05-08 13:17] julz commented on #11317
Hi @xclud - I may be misunderstanding, but the message above sounds like the deploy succeeded, did you mean to say "doesn't resolve"? Could you post the full cli invocation and response (the whole thing, not just the last line), and also the output of "kubectl describe ksvc develop" please? It would also be helpful to know the knative version you are using.

Thanks!

[2021-05-08 14:06] xclud commented on #11317
@julz Thanks for the quick response. Yes the deployment is successful. Image is pushed successfully and kn works but it does not create a new Revision (due to the unchanged docker image !!!!?).

I am expecting revision `00004` but it remains on `00003`.

[code]

![](https://user-images.githubusercontent.com/12394889/117542038-18706200-b02c-11eb-9939-0f515d56e737.PNG)

![](https://user-images.githu

[2021-05-08 14:08] xclud commented on #11317
[code]

[code]

[2021-05-08 14:25] julz commented on #11317
Ah, I see. I think this may be working as intended: the local ksvc yaml is unchanged so the client didn't do anything (it does not check the digest, it only checks if the image name changed). There's a cli issue discussing changing this in https://github.com/knative/client/issues/398.

@rhuss may be able to share the best cli workflow to handle this case

/assign @rhuss

[2021-05-09 10:18] xclud commented on #11317
I came up with the idea of generating a UUID as an environment variable and pass it through the steps. My setup is:

[code]

But as in pseudo-code above, it prints `$(uuidgen)` but the desired output is `b4694733-1643-4967-9e0a-44dc3876d333`.

Do you have any recommendation or workaround this problem? Any other solution do you suggest?

[2021-05-09 12:08] knative-test-reporter-robot opened #11320 "[flaky] kubetest2.Up"
### Auto-generated issue tracking flakiness of test
* **Test name**: kubetest2.Up
* **Repository name**: serving

[2021-05-09 12:58] xclud commented on #11317
I ended up using the `checkout_sha` from the gitlab trigger. It is now:

[code]

Still i would like to know if the solution in my above comment is possible and how. Thanks.

[2021-05-09 16:41] vitobotta opened #11321 "Domain mapping and wildcard domains"
Hi! I am playing with knative currently but if I understand it correctly it is not currently possible to map wildcard custom domains to a service. Are there any workarounds for now? I am currently hosting a few apps packaged with Helm that allow their users to add custom domains, but each user site also gets a subdomain of a company domain. At the moment for these things I have a single ingress re

[2021-05-10 06:24] markusthoemmes commented on #11317
Using a stable sha is imo the definitive answer here. Is it possible for you to obtain the sha of the built image? You could then define the image as `http://repo/image@sha256:$IMAGE_SHA`, which would **always** work as expected and guarantees that you get that exact image in the deployment.

[2021-05-10 06:46] nak3 commented on #11286
@dprotaso @arturenault  The root cause is [`local-gateway.mesh: "mesh"`](https://github.com/knative-sandbox/net-istio/blob/main/third_party/istio-stable/istio-kind-mesh/config-istio.yaml#L11).

The option makes tests failed w/o sidecar injection. The failed tests disable sidecar as: https://github.com/knative/serving/blob/d30f0bd69bcf16afba6c9c5696b093149eb89489/test/e2e/service_to_service_test.go

[2021-05-10 06:47] markusthoemmes commented on #11314
Knative will set that variable for you. By default (no other port specified) it'll be 8080, if you define your own `containerPort` (as part of the Service YAML0, that port will be filled into that env variables. AFAIK, setting that env var yourself will fail validation.

The intention of the env var is, that you can write all your applications to listen on `$PORT` and that'll always work, regardle

[2021-05-10 07:11] markusthoemmes commented on #11308
Interesting! We don't support this currently as you've found out but it is and interesting thought.

Do you see too long of a delay in scaling up to the required scale in your workloads? If all requests come in at once, I'd expect us to scale to, say, 10 almost immediately. If you have a ramping workload, that'd be different of course.

[2021-05-10 07:26] xclud commented on #11317
I did try the imagedigestexporter tool. But the workflow looks odd to me and not very straightforward. Is there any other tool to get the sha of the image?

[2021-05-10 07:36] markusthoemmes commented on #11317
I bat-signalled some Tekton folks to comment on the image SHA thing. FWIW, your current approach with the Git SHA is fine as well most likely, if you expect the image produced from a specific commit to always be the same.

[2021-05-10 07:46] xclud commented on #11317
Thank you.

Yes this is the case and it works very well.

[2021-05-10 07:59] nikhil-thomas commented on #11317
@xclud @markusthoemmes

is Tekton Task's Results feature what you are looking for ? :)
https://tekton.dev/docs/pipelines/tasks/#emitting-results

[2021-05-10 08:09] xclud commented on #11317
I already tried the Task results. I get results but i don't know what to do next with the results. It seems the results are useful to pass data from Task-to-Task, not from Step-to-Step. Or am i getting it wrong?

[2021-05-10 08:49] nikhil-thomas commented on #11317
it should work in both cases.
if we are writing sha to `/tekton/results/<sha-result-name>` file, from one step,
then we can read the sha from another step from the same`/tekton/results/<sha-result-name>` file.

[2021-05-10 10:08] xclud commented on #11317
Thank you @nikhil-thomas. This solves my problem.

[2021-05-10 12:08] #11307 closed

[2021-05-10 12:08] #11257 closed

[2021-05-10 13:50] dprotaso commented on #11225
Here's an example where our webhooks are invoked twice but creating a resource still fails - even though the admission completes quickly

[2021-05-10 16:41] danieltahara commented on #11308
So I would need to set aside time to confirm the behavior in the scale-from-zero case (but maybe you might know just based on your understanding of the architecture), but in the "warm" case after a burst (where we scale back down to 1 for 15 minutes), we effectively get a cold start that's potentially even worse than the true cold case.

The situation in that case is that we have 1 pod sitting aro

[2021-05-10 16:45] markusthoemmes commented on #11308
Hmm, that sounds kind of odd though. The panic window is 6s by default, but that doesn't mean that scaling should only happen **after** 6s but that the amount of historic data the decision is based on is at most 6s old. As such, especially with an aggressive `containerConcurrency` setting, I would expect the workload to scale almost instantaneously.

It'd be awesome to get a reproducer for this be

[2021-05-10 16:55] danieltahara commented on #11308
Ah yep. 10% != 10s. And also duh, re: how the windowing works.

I doubt there's a "bug" here so much as a workload-specific thing (pattern, large docker image that doesn't seem to cache well). I definitely owe a repro if this is going to turn into a full-fledged feature request, but I did want to see if folks had encountered this or you could reason through the behavior offhand (or if there was a

[2021-05-10 21:27] yanweiguo commented on #11225
I'm not aware of how to tune the resources of the API server in GKE.

@chizhg @josephburnett do you happen to know?

[2021-05-11 00:26] #10247 closed

[2021-05-11 08:43] nak3 opened #11325 "gateway-api (ingress v2) support"
Description
---
Knative should support Gateway API istead of Knative Ingress. The Gateway support has a lot of advantages such as:
- Ingress providers can support Knative networking layer easily.
- Knative users do not need to deploy extra ingress controller.
- Knative developers can rely on Ingress providers' implementations for the networking area.

Some Related Issues
---
- [Ingress V2 alignmen

[2021-05-11 12:08] #11313 closed

[2021-05-11 12:08] knative-test-reporter-robot opened #11329 "[flaky] test/e2e.TestActivatorOverload"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestActivatorOverload
* **Repository name**: serving

[2021-05-11 16:02] psschwei commented on #10812
/assign @psschwei

[2021-05-11 16:03] #11170 closed

[2021-05-12 05:04] nak3 commented on #11325
Yes, I am thinking that we should introduce a configuration to choose ingressv2 or KIngress for a while. Specifically, we support an annotation `features.knative.dev/gateway-api` or configuration in config-features.

Then, route controller creates Gateway API but does not create KIngress (or delete KIngress if exists) when ksvc has the annotation. Conversely, route controller creates KIngress inst

[2021-05-12 10:09] RafalSkolasinski commented on #4307
We’d like to chip in here - this is one of the features that we'd love to see in knative at some point.

In the context of ML inference servers having support for init containers would make a lot of sense. Following comment of @evankanderson from [stackoverflow.com](https://stackoverflow.com/a/59797661)

If we assume that the workaround is to do the init container’s job on the main container start

[2021-05-12 10:57] markusthoemmes commented on #4307
I agree with the above. init containers don't violate the "statelessness" of a service and I guess the tradeoff with cold start latency is quite obvious. +1 on supporting it.

[2021-05-12 12:06] #11320 closed

[2021-05-12 14:00] #9553 closed

[2021-05-12 17:28] techBeck03 opened #11335 "TLS Gateway config does not persist"
## In what area(s)?
/area networking

## What version of Knative?

0.22.1

## Expected Behavior

`kubectl edit gateway knative-ingress-gateway --namespace knative-serving`

Adding TLS host entries per this [doc](https://knative.dev/docs/serving/using-a-tls-cert/#manually-adding-a-tls-certificate) and expect this config to persist.

## Actual Behavior

I'm following the documentation to manually co

[2021-05-13 00:13] nak3 commented on #11335
Thank you @techBeck03

I am sure that it is a knative operator's limitation (or bug(?)). Knative operator bundles the Gateway so it is reconciled. I think it is similar to https://github.com/knative/operator/issues/505.

/cc @houshengbo

[2021-05-13 08:20] arbogast opened #11337 "Revision state set to "ready" for unhealthy user-container"
## In what area(s)?
/area API
/area autoscale

## What version of Knative?

0.20.1

## Expected Behavior

Revision state set to "failed" after `progressDeadline` with error like `ProgressDeadlineExceeded`

## Actual Behavior

This happens not all the time, but still quite often. For unhealthy user-container - for example with application that listens on wrong port (let's say port 3000 when it shou

[2021-05-13 10:13] vaikas opened #11339 "Release lead can not approve serving prs"
As part of releasing 0.23, I created the necessary PR, but was unable to approve it:

https://github.com/knative/serving/pull/11338

@evankanderson I should be able to do this, yes?

[2021-05-13 10:38] 17733101396 opened #11340 "404 error when access a knative service without a namespace suffix"
## Ask your question here:
without namespace:
![image](https://user-images.githubusercontent.com/40567659/118114565-5994b780-b41a-11eb-8ef8-554350400134.png)
with namespace:
![image](https://user-images.githubusercontent.com/40567659/118114639-7335ff00-b41a-11eb-9f41-2fcad9148431.png)

[2021-05-13 10:45] julz commented on #11340
Hi @17733101396 - could you include details of the URL you expect to work? (obviously feel free to replace the hostname with example.com etc if it's private!)

This may well be behaving as expected -- it's necessary to provide the namespace since Ksvc names are not unique outside the namespace, so there would be no way to know which service to route to without the namespace. But if you can show th

[2021-05-13 10:52] 17733101396 commented on #11340
Can a service in the same namespace use the service name to access knaive service

[2021-05-13 12:20] techBeck03 commented on #11335
Thank you i was able to get this working using the `spec.additionalManifests` property in my `KnativeServing` definition pointing to a yaml file defining my `knative-ingress-gateway` definition which is where i defined my TLS hosts.  After that the TLS configuration has persisted.  Thank you again!

[2021-05-13 12:20] #11335 closed

[2021-05-13 12:51] dsimansk commented on #11170
@dprotaso @shinigambit works as expected on client's side. Thanks a lot!

[2021-05-14 04:00] 17733101396 commented on #7450
Whether the issue has been solved or not

[2021-05-14 12:06] knative-test-reporter-robot opened #11351 "[flaky] test/e2e.TestHPAAutoscaleUpDownUp"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestHPAAutoscaleUpDownUp
* **Repository name**: serving

[2021-05-14 14:29] jeremiaswerner opened #11352 "DomainMappings have a 63 character limitation for the domain and hostname introduced by labels on the Ingress resource"
## What version of Knative?

main

## Expected Behavior

I'd like to create a domain-mapping with a domain name longer than 63 characters.

## Actual Behavior

Basically, the domain-mapping is being created with the proper name, but the reconciliation of the domain-mapping fails with `IngressNotConfigured`. In the logs of the `domainmapping-controller` I can find the following error:

[code]

## S

[2021-05-14 14:34] julz commented on #11352
@nak3 looks like we landed this label in https://github.com/knative/serving/pull/10370, WDYT if we use a domain-mapping-uid label instead of domain mapping name to work around this?

[2021-05-14 14:53] evankanderson commented on #11339
It turns out when I did the migration, I didn't **add** the release leads to the top-level OWNERS files

[2021-05-14 19:25] dprotaso commented on #11225
Seems like GKE fixed something - things started passing today

1.19.8-gke.1600 - https://github.com/knative/serving/pull/11357 [prow PR history](https://prow.knative.dev/pr-history/?org=knative&repo=serving&pr=11357)
1.19.9-gke.1400 - https://github.com/knative/serving/pull/11354 [prow PR history](https://prow.knative.dev/pr-history/?org=knative&repo=serving&pr=11354)
1.19.9-gke.1900 - https://git

[2021-05-15 12:07] #11196 closed

[2021-05-16 01:42] nak3 commented on #11352
Yes, sounds good. I think domain-mapping-uid label is the best work around for this.

[2021-05-16 08:46] julz commented on #11352
/assign

[2021-05-16 12:06] #11351 closed

[2021-05-17 04:32] nak3 commented on #7450
No, it is not solved.

[2021-05-17 09:20] #11352 closed

[2021-05-17 12:00] iwita commented on #10814
Hello,
Could I try this one, as my first issue on Knative

[2021-05-17 12:05] markusthoemmes commented on #10814
Hey @BLasan and @iwita! Thanks for stepping up. We'll first need input from the API WG regarding whether or not this API change is okay.

Summoning @dprotaso

[2021-05-17 12:06] #10996 closed

[2021-05-17 15:23] JackSilk opened #11365 "Knative services responding with 502s, 503s, and 504s"
## Ask your question here:
I have been trying to use Knative Serving and Eventing for some of my microservices and for the most part it works fine. However I am finding that some percentage of my requests end up receiving 500-series HTTP error codes. More specifically, 502s, 503s and 504s. I haven't noticed anything in common in the times when I receive these errors.

For example, we're getting 50

[2021-05-17 18:16] psschwei commented on #10001
@piyushsingariya Are you still interested in working on this issue? If not, I'd like to tackle it.

[2021-05-17 18:18] piyushsingariya commented on #10001
Sure!

On Mon, 17 May 2021, 23:47 Paul Schweigert, ***@***.***>
wrote:

[2021-05-17 18:29] psschwei commented on #10001
/assign psschwei

[2021-05-18 16:40] dprotaso commented on #11225
Going to close - it seems like the 1.19 instability was related [konnectivity](https://cloud.google.com/kubernetes-engine/docs/release-notes#January_22_2021) which has been punted to GKE 1.20+

[2021-05-18 16:40] #11225 closed

[2021-05-18 17:10] evankanderson commented on #11339
I've sent PRs for most of of the `knative` repos, though a few are dependent on https://github.com/knative-sandbox/knobots/pull/86 to fix the automated syncing of `OWNERS_ALIASES` and `knative-sandbox-OWNERS_ALIASES`

[2021-05-18 21:06] duglin commented on #7450
When I look in my container, I see something like this:
[code]
I'm curious, why it doesn't use the first domain name and find the target service?

[2021-05-18 21:17] julz commented on #7450
@duglin I think the problem is we (activator, gateway) need the Host to include the namespace to know where to route the request to. The DNS will resolve, but it will resolve to the shared gateway, and if the Host header (which is unaffected by resolv.conf afaik - that's just dns) is just the short name, we can't know what pod to route to.

[2021-05-18 21:25] duglin commented on #7450
Ah ok that makes sense. Thanks. For some reason I was thinking that the resolv.conf went beyond just finding the right IP and would modify the outbound request appropriately with the domain name it found. Showing my minimal network background here :-)  thanks again

[2021-05-18 21:47] sdhoward commented on #11314
I was saying that you can't tell from the docs and you always have to come here and search gitlab issues to find it out. Would the developers of knative-serving please update the docs at https://knative.dev/docs/serving/?

[2021-05-18 22:03] julz commented on #7450
One interesting thought that just popped in to my head is if mesh is enabled I think we can get the namespace from the certificate via the x-forwarded-client-cert header so it _might_ be possible to do it that way, for mesh at least 🤔

[2021-05-19 12:28] duglin commented on #7450
How dare you give us a reason to look forward to having the mesh turned on!  :-)

[2021-05-19 12:28] markusthoemmes commented on #11314
/area api

Agree it belongs into the docs. It'd actually be a great first contribution if you'd like to help out! https://github.com/knative/docs/tree/main/docs/serving has the serving related documentation. Please let me know if you'd like to tackle that.

[2021-05-19 12:36] xclud opened #11372 "Using concept like Istio's virtualservice in Knative"
## In what area(s)?
/area networking

Other classifications:
/kind spec

## Ask your question here:
I need to route the requests to two different `Kservice`s based on the url subdirectory. It looks like:

/api => kservice-backend
/swagger => kservice-backend

/ => kservice-frontend

In Istio we can achieve this by the following yaml:

[code]

I have Knative installed on Istio. How can I achieve th

[2021-05-19 12:45] nak3 commented on #11372
Hi @xclud I believe that this docs https://knative.dev/docs/serving/samples/knative-routing-go/index.html has an example what you want to achieve. Could you please refer to it and let us know if there is anything unclear.

[2021-05-19 13:38] markusthoemmes opened #11373 "Traffic is briefly routed suboptimally when new Revision becomes ready"
## What version of Knative?

All

## Expected Behavior

Activator subsetting limits the amount of "stepping on each other" so even a large amount of activators makes the traffic buffer correctly even for a small amount of pods.

## Actual Behavior

Right after the service becomes ready (racy) the system might be routing traffic to **all** activators (since that's the default in abscence of an auto

[2021-05-19 14:01] markusthoemmes commented on #11373
Thinking about this a bit more, I'm wondering if we should instead do max(scaling.MinActivators, readyPods) so that on an autoscaler restart (which looses the decider information) we defensively set this number quite high for big deployments (it was all currently anyway) but still very low for the small deployments where this is actually an issue. Thoughts?

[2021-05-19 18:55] dprotaso opened #11376 "test/e2e/autotls: TestDomainMappingAutoTLS is being skipped unexpectedly"
## What version of Knative?

## Expected Behavior

The test runs

## Actual Behavior

The test is skipped because networking flags are passed preventing the serving test flags from being parsed

## Steps to Reproduce the Problem

[2021-05-19 19:41] xclud commented on #11372
@nak3 Thank you for your help. It works now.

To give a little feedback, With your reply i remembered i already know this sample and have followed it and everything was working fine. Second time setting up my cluster from scratch, I didn't remember the samples do exist and I did everything from my notes and they were all incomplete. I wish I could fine at least a link related to this sample in the

[2021-05-19 19:41] #11372 closed

[2021-05-20 06:57] skonto commented on #6176
/assign @skonto

[2021-05-20 08:42] #11376 closed

[2021-05-20 10:38] JCzz opened #11380 "Notification when supporting Apple M1 on any network layer"
I have now tried all the different network layers, and no of them support Apple M1. Different error on each respectfully network layer.

Any chance Knative will push for this support on any of the network layers - and then document it?

Overall it seems like the missing support for the most parts is within Envoy, which most of them is build on.
King-Ingress running NGINX also has issues.

Thanks a

[2021-05-20 11:04] markusthoemmes commented on #11380
As you correctly noted, this is mostly Envoy. All of our componentry should work just fine on any architecture (and images are built for "all" Golang supported architectures on release AFAIK as well).

[2021-05-20 12:07] #11098 closed

[2021-05-20 12:07] #11295 closed

[2021-05-20 15:41] dprotaso opened #11383 "Fix e2e flag issues"
It seems networking repo had a plan to migrate downstream flags to the networking repo.

https://github.com/knative/networking/blob/4a780203e35b272b6cc9739c0b1f183f80b0bc40/test/e2e_flags.go#L32

So we should migrate other ServingFlags to NetworkingFlags :thinking: It should be done by another PR though.

_Originally posted by @nak3 in https://github.com/knative/serving/issues/11377#issuecomment-8

[2021-05-20 19:11] dprotaso commented on #11101
Is this a dupe of https://github.com/knative/pkg/issues/1835 ?

That linked issue eventually references a PR that I cherrypicked - you just need to be on the right k8s patch version

[2021-05-20 19:23] dprotaso commented on #8970
@jjzeng-seattle can you confirm if this is still an issue?
https://github.com/knative/serving/pull/11079#issuecomment-843484434

[2021-05-20 20:39] dprotaso opened #11385 "Upgrade tests in release branch PRs only test bumps between the patch versions"
## What version of Knative?

## Expected Behavior

This PR https://github.com/knative/serving/pull/11347 was adding a change to the release-0.19 branch. I would expect the upgrade test to install the latest 0.18.x release first

## Actual Behavior

It installs 0.19.0 release

## Steps to Reproduce the Problem

Make a PR to a release branch

[2021-05-20 23:50] nak3 opened #11386 "TestGRPCStreamingPingViaActivator does not work with https option"
## In what area(s)?

/area networking
/area test-and-release

## What version of Knative?

HEAD(5b781288ec26104b4919e125463744312634d160)

## Expected Behavior

TestGRPCStreamingPingViaActivator should pass with `--https` option.

## Actual Behavior

- `PingStream()` always fails to create stream as:

[code]

- The same `PingStream()` called by `TestGRPCStreamingPing` can work without error.

## S

[2021-05-21 02:16] #10812 closed

[2021-05-21 07:23] lenalebt commented on #4417
Same here. I have an app that already is on Knative, and now need to move away from it just because I need an emptyDir mount. Roughly the same use-case as @7adietri - it's a swagger-ui showing a merged view of OpenAPI spec files. Rarely accessed, but when it is should be up2date. When starting, I fetch the swagger sources and merge them into one using swagger-cli & then serve the merged file. Shut

[2021-05-21 08:09] nak3 opened #11387 "TestWebSocket* does not pass with parallel"
## In what area(s)?

/area networking
/area test-and-release

As commented https://github.com/knative/serving/pull/11322/files#r636574573, e2e test with `--https` option does not work with `t.Parallel()` for TestWebSocket*.

Example log
https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_serving/11322/pull-knative-serving-https/1395322718584311808
https://prow.knative.dev/view/gs/kn

[2021-05-21 08:30] zhu733756 opened #11388 "Kserving: Cannot enable some config-features flags"
## In what area(s)?
 /area autoscale

## What version of Knative?

0.23.0

## Steps to Reproduce the Problem

1、Edit the configmap as following:
[code]
![image](https://user-images.githubusercontent.com/38685176/119106596-173e2c80-ba51-11eb-95ff-6b82a2122041.png)

2、Add annotations, edited into the following yaml, named `service.yaml`:
[code]

3 、Get error logs while applying the above yaml:
[code

[2021-05-21 08:35] zhu733756 commented on #11388
/area autoscale
/cc

[2021-05-21 08:36] julz commented on #11388
Hi @zhu733756 - could you include the full output of `kubectl -n knative-serving get cm config-features -oyaml` please?

[2021-05-21 08:38] zhu733756 commented on #11388
Thanks. I will paste here.
[code]

[2021-05-21 08:45] julz commented on #11388
This is quite a common problem -- you've edited the values inside the `_example` section, but that's just an example. Could you try adding the fields you want to modify directly under `data` instead? Here is an example of what a correct config might look like:

[code]

[2021-05-21 08:55] zhu733756 commented on #11388
@julz wow, thanks ! This is my mistake! I will try your configuration.

[2021-05-21 09:04] zhu733756 commented on #11388
By the way, the annotations in the yaml can be removed. Thanks to @julz . The yaml works for me when use your configuration.

[2021-05-21 09:04] #11388 closed

[2021-05-21 09:13] cheimu opened #11389 "Could autoscaler support multiple metrics simultaneously?"
/area autoscale
## Ask your question here:
When creating a service, I know I have to add `autoscaling.knative.dev/class` and `autoscaling.knative.dev/metric` in `Service.Spec.ConfigurationSpec.Template.ObjectMeta.Annotations`. However, since annotation field is a `map[string]string` and same key can only have one value. So my question is how could I support both hpa, and kpa at same time? I mean I

[2021-05-21 09:14] julz opened #11390 "Feature Flag config map does not validate changes to example section"
/area API

## What version of Knative?

main

## Expected Behavior

Editing the example section of the config-features cm should produce an error.

## Actual Behavior

No error. See also https://github.com/knative/serving/issues/11388 which should not have been possible.

## Steps to Reproduce the Problem

1. `kubectl edit cm config-features --namespace knative-serving`
2. Edit example section
3.

[2021-05-21 09:28] julz commented on #11390
/assign

[2021-05-21 09:33] cheimu commented on #11389
/area autoscale

[2021-05-21 11:02] #11390 closed

[2021-05-21 12:07] knative-test-reporter-robot opened #11393 "[flaky] test/ha.TestActivatorHANonGraceful"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/ha.TestActivatorHANonGraceful
* **Repository name**: serving

[2021-05-21 20:27] psschwei commented on #11383
May be relevant to #10001

For that issue, I was planning to add a new e2e flag to `pkg/`, but perhaps it would make more sense to combine everything in NetworkingFlags?

What do you think @julz @dprotaso @markusthoemmes ?

/assign psschwei

[2021-05-22 17:59] JCzz opened #11395 "Knative one year later, still getting https error SSL_ERROR_SYSCALL"
[code]
Running on Ubuntu 20.04

Installed:
`https://knative.dev/docs/install/install-serving-with-yaml/`

Tried all network layers - this one is running with kourier and cert-manager

I installed "networking-ns-cert" and using DNS01 - basically following:
`https://knative.dev/docs/install/install-serving-with-yaml/`

I do get my certificates created and I can curl -H "app.<ns>.mydomain.dev" http(n

[2021-05-22 18:00] JCzz commented on #7035
https://github.com/knative/serving/issues/11395#issue-898852584

[2021-05-22 18:11] JCzz commented on #11395
https://github.com/knative/serving/issues/7035

[2021-05-23 01:59] nak3 commented on #11386
I found that this issue also hits https://github.com/knative-sandbox/net-certmanager/issues/214.
Fixing (adding workaround) it in https://github.com/knative/serving/pull/11322

[2021-05-23 09:07] zhaojizhuang commented on #11389
@cheimu No, you can't,so far for now. For `rps` is controlled by autoscaller in Knative(CR:`KPA`), while `cpu` is controlled by autoscaller in k8s (CR:`HPA`,which will be created by autoscaller in Knative). They can’t work togather at the same time.(For example, HPA wants 3 replicas, but B wants 4 replicas. )

So, Unless you write your own autoscaller and your own annotations which is diferrent fr

[2021-05-23 12:06] #11393 closed

[2021-05-24 05:24] cheimu commented on #11389
@zhaojizhuang Thank you

[2021-05-24 05:24] #11389 closed

[2021-05-24 09:07] julz commented on #11395
Hi @JCzz - it looks like in the previous issue we were waiting for you to provide the information requested in https://github.com/knative/serving/issues/7035#issuecomment-647020334. If you could provide this information it would help us to narrow down the problem you're running in to and hopefully help us debug the issue. Thanks!

[2021-05-24 09:54] skonto commented on #4417
Hi, I am back on this, I am writing the feature track, will update.

[2021-05-24 12:59] Shashankft9 commented on #10267
Hey, I just noticed the label, is there any more info I could provide?

[2021-05-24 13:50] skonto commented on #4417
The ft doc for this can be found [here](https://docs.google.com/document/d/1M4ojQe_B-JXxFigJwjt80z6Rj_VlnBSv31oaekO0sXI/edit?usp=sharing), feel free to add comments (added in the knative team drive).
It is a draft version to get the discussion going and move things forward.

[2021-05-24 20:13] JCzz commented on #7035
Thanks @tcnghia and hi @eddiewang

Ahh cool, good to know regarding automatically port 443 automatically :-)

I do have networking-ns-cert installed and I am using DNS01 but it it the same for HTTP01

[code]

I am ready for more questions 👍 Thanks

[2021-05-25 11:08] #11373 closed

[2021-05-25 12:07] #11329 closed

[2021-05-25 12:34] markusthoemmes commented on #9727
I wonder if this is even still a bug :thinking:

[2021-05-25 13:02] markusthoemmes opened #11404 "Ingress conformance is too narrow for some potential implementations"
Our current Ingress implementations try very hard to make `Ready` **mean** ready, as in: Once the Ingress reports ready, a `curl` will succeed.

While this is quite cool, it often doesn't accurately reflect the reality. In many implementations (for example when DNS and/or eventually consistent routers are part of the routing path) we cannot guarantee such consistency, which renders the E2E suite u

[2021-05-25 13:03] markusthoemmes commented on #11404
/area networking
/area test-and-release

[2021-05-25 14:43] evankanderson commented on #8970
/unassign @jjzeng-seattle

Apparently JJ has left Google.

@Cynocracy @MontyCarter can you comment / confirm?

[2021-05-25 15:53] MontyCarter commented on #8970
Confirmed, JJ is no longer with Google.

[2021-05-25 17:05] JCzz commented on #11395
Hi @julz Thanks, I have added to #7035 and also see this issue for information.

[2021-05-25 22:02] jjm340 opened #11409 "is Knative usable outside of the "serverless" paradigm?"
I'm not sure this is the right place to ask this,  What I want out of Knative is the autoscaling based on request volume, but I already have an API skeleton that I like and don't want to modify that too much. I'm wondering if knative is barking up the wrong tree?

I tried to spin up a POC using my existing images to run on knative that are already running in k8, but are using the traditional `depl

[2021-05-26 01:44] nak3 commented on #11395
Hi @JCzz Thank you for the update.
For further debugging, could you please try to test `curl` from server side (not MacOS client)?
Here is the step I want to ask you to try.

#### 0. Make sure your ksvc has `https`.

(e.g.)
[code]

#### 1. Login to the seerver machine where k8s is running on

(Please ssh into your server machine.)

#### 2. Add `helloworld-go.default.mydomain.com` to `/etc/hosts`

[2021-05-26 01:47] peidaqi opened #11411 "Use local container image without docker hub account"
## Ask your question here:

Is it possible to use a local container image without a docker hub account for knative - basically use docker images without digest? In the documentation, it says:

To deploy a local container image, you need to disable image tag resolution by running the following command:

Set to dev.local/local-image when deploying local container images
docker tag local-image dev.lo

[2021-05-26 05:37] nak3 opened #11413 "Bump kind version to v0.11.0 & k8s-version to 1.19 to 1.21 in kind-e2e.yaml"
## In what area(s)?

/area test-and-release

## Describe the feature

Since https://github.com/knative/serving/issues/11225 was solved and current knative should bump the minimal k8s version to 1.19. kind-e2e.yaml should bump the k8s version.

Note k8s 1.21 is available on kind v0.11.0  https://github.com/kubernetes-sigs/kind/releases/tag/v0.11.0 so kind version also needs to be updated.

[2021-05-26 06:51] markusthoemmes commented on #11411
Knative Serving doesn't resolve tags for images that start with `dev.local`, `ko.local` or `kind.local` by default. The crucial bit is, that the image must either be available to K8s already (i.e. locally pulled) or downloadable (which won't be the case for those domains).

Which K8s setup are you using and how did you make the image available to K8s?

[2021-05-26 07:01] markusthoemmes commented on #11409
Can you clarify what you mean with "serverless paradigm"? Knative doesn't impose any specific programming model, so if your API server is serving HTTP on a specific port and the app is stateless, you're fulfilling the "criteria" for Knative.

Could you share your Service YAML so we can take a look at that? After applying the Service and getting that error, you can check via `kubectl get revision`

[2021-05-26 09:08] rhuss commented on #7708
I tried out IBM Code Engine and the issue is still present there (i.e. exposing `http://` instead of `https://` which is is the only scheme that is reachable), so I guess this issue is still relevant.

[2021-05-26 10:44] JCzz commented on #11395
Hi @nak3 and thanks

Step 0.
[code]
Step 1.
Added to host file
`192.168.0.51.helloworld-go.default.<mydomain>.dev`

Step 2.
Tried the following `-v & -kv` same result.
[code]

[code]

[code]

I am wondering where "83.90.157.183:30670" comes from in the two first curl - as there is nothing in `svc` or `ksvc`:
[code]

Thanks again, ready for next question :-)

[2021-05-26 12:04] nak3 commented on #11395
Hi @JCzz The `/etc/hosts` entry needs space between `IP` and `hostname` like:

In `/etc/hosts`
[code]

After that, you should be able to resolve the hostname on your server machine. Please verify it with `dig`, `nslook` or `host` command. e.g. `dig` command

[code]

Then, please try to access to your service `helloworld-go.default.<mydomain>.dev`.
[code]

[2021-05-26 12:34] duglin commented on #7708
Sorry I missed this... yes for IBM/Code Engine, we'd like to see this one so the data returned by the `get ksvc` is accurate.

[2021-05-26 12:51] markusthoemmes commented on #7708
Looking around this now, I've never quite understood why this would be so hard to do :thinking:.

[2021-05-26 14:05] julz commented on #11340
Not currently I'm afraid, the shared activator and ingress need the namespace to know where to route requests to.

[2021-05-26 15:27] JCzz commented on #11395
Yes of cause - hmm that worked.

Uhh, I am a little scared now - does that mean that Knative is setup correct, and I am on my own with some strange network issue?

Hope you have an idea? Thanks

[code]

[2021-05-26 18:09] JCzz commented on #11395
Does that mean ,than Knative is not picking up the nodes ip address?

[2021-05-26 18:53] JCzz commented on #11395
Hi @nak3 thanks

If I configure `/etc/hosts` with:
`*.<mydomain>.dev`
I can get it to work on every sub url/domain.
I guess we are not surpose to set the host file right?

When are you purpose to use header like:
`curl -H "https://helloworld-go.default.<mydomain>.dev"`
or
`curl https://helloworld-go.default.<mydomain>.dev`

I have seen examples if you want to use grpc you use header, is that corre

[2021-05-26 20:08] dprotaso commented on #11383
This came up on the API WG call (May 26 2021) - I think this is related but a separate concern.

I think we should figure out a better split/composition since there are also other flags in knative/pkg

/assign @dprotaso

[2021-05-27 01:13] nak3 commented on #11395
Hi @JCzz It is working now. Great :tada:

No, it is a little bit different meaning. The `curl -H "Host: helloworld-go.default.<mydomain>.dev"`command does not work when we use TLS without DNS set up as SNI will not be set.
Istio doc also explains it as the same[1]. Istio suggests that we use `curl --resolve` option instead of adding `/etc/hosts` but it is same workaround.

Whenever you use TLS, yo

[2021-05-27 08:19] gyliu513 opened #11423 "Can I use knative serving to scale operator/operands to 0"
## Ask your question here:

In a large cluster, we may have lot of operators/operands, and sometimes, those operators/operands do not have request and just idle. Under this condition, can I leverage knative serving to scale the idle operators/operands to 0 and scale them back when there are some request coming? Any document that I can reference? Thanks!

[2021-05-27 09:10] JCzz commented on #11395
Hi @nak3

Thank you very much for your help and answers - I am really looking forward to explore Knative even more.

One last question; Eventually it will be running on a cloud provider running Kubernetes. Will I then also have to set each nodes host file?
I am just thinking, maybe there is some standard "right" way to automate setup/config Kubernetes.

Thanks @julz if you forwarded this issue til

[2021-05-27 10:47] nak3 commented on #11395
I guess you want to access your Knative Services from not only Nodes but also "any machines" eventually, right? Then, `/etc/hosts` file is not enough and you should setup global DNS with wildcard DNS. For example, if you have a wildcard DNS entry `*.<mydomain>.dev` for the IP address which Ingress exposed, you can access it without host file change.

[2021-05-27 11:59] markusthoemmes commented on #7708
As promised #11429 contains a POC with the existing settings but it feels kinda dirty. I wonder if we should add two settings `overrideExternalScheme` and `overrideInternalScheme` to override the propagated scheme of the respective URLs published by the Route so that environments that fron the internal/external gateways with a TLS termination point can use this to override the respective published

[2021-05-27 14:02] markusthoemmes commented on #11423
To clarify: Do you mean Kubernetes Operators?

Knative Serving can only scale Knative Services and as such can only scale things that receive and respond to HTTP requests.

[2021-05-27 14:22] gyliu513 commented on #11423
@markusthoemmes Yes, I do mean Kubernetes Operators.

With this, does there are any workaround that I can use in Knative to scale replica to 0? I know k8s HPA has an Alpha feature can also scale to 0, but it cannot scale from 0 to many.

If Knative only support Knative Services, then it seems it will be very difficult to integrate with Kubernetes resources.

[2021-05-27 17:31] duglin commented on #7708
Yup - I think something as straight-forward as that would do it!

[2021-05-27 19:26] dprotaso commented on #11404
Should this be in knative/networking repo?

[2021-05-28 00:44] vincent-pli commented on #11423
A very draft workaround solution:
1. Setup `operator` with a http port exposed and wrapper with `KSVC`, web server in the `Operator` will do nothing when receive request
2. Setup a pod to watch all related CRD(`operator`'s CRD) and monitor status of all related `operator`(if the pod of the `operator` is 0).  when new CR cerated and the `replicate` is 0, send http request to related `KSVC`.

@gyliu

[2021-05-28 07:53] julz commented on #11321
Hi @vitobotta - sorry for slow response on this! You're right that we currently do not support wildcard domain mappings. I think it might be possible to create a domain mapping for each service and have them all share a single certificate once https://github.com/knative/serving/pull/11250 lands; would something like that work for your use case?

[2021-05-28 14:25] vitobotta commented on #11321
Hi @julz and thanks! That sounds awesome! Looks like it could solve my problem 👍 When do you think this will be available?
Thanks!

[2021-05-31 07:50] markusthoemmes commented on #11404
In principle it could. I posted it here mainly for broader visibility and because the `RetryRouteInconsistency` helper is mostly an issue for Serving tests currently.

[2021-05-31 14:33] dprotaso commented on #10873
/unassign @BLasan

[2021-05-31 14:54] markusthoemmes commented on #9544
Is there anything left to be done here? The above sounds like this is working as designed and we'd at most document the behavior better and/or improve visibility of the issue?

[2021-05-31 15:51] peidaqi commented on #11411
I'm using minikube and it gives me a timeout when trying to use a local image (dev.local/helloworld-python):

  0.045s Configuration "helloworld-go" is waiting for a Revision to become ready.
Error: timeout: service 'helloworld-go' not ready after 600 seconds

the same deployment process works for a remote image (gcr.io/knative-samples/helloworld-go)

I'm using "kn service create" for deployment.

[2021-05-31 21:16] soham283 commented on #7265
I am looking for contributing in Open source, I would like to contributing to this issue, @evankanderson can you please help me to open PR for this issue and how to get started ?

[2021-06-01 03:30] peidaqi commented on #11411
Ok I got it working. "kn" doesn't work for minikube and kubectl needs to be used with "imagePullPolicy: Never" set in the yaml file.

The DNS also doesn't work and Host address in header needs to be manually set, something like:

curl -H "Host: helloworld-go.default.example.com" http://192.168.0.2:32000

The IP address is from "minikube ip", and port if from "kubectl get svc istio-ingressgateway -

[2021-06-01 07:15] rhuss commented on #11317
@xclud sorry for being late to the game. Your use case is very valid and we have some support from the client side to force an update of the image from the client side:

* Use client side generated revision names with `--revision-name` (e.g. using a pattern like `{{.Service}}-{{.Random 5}}-{{.Generation}}`). This will force a new revision on every `kn service update` call. There might be a bug tha

[2021-06-01 07:39] rhuss commented on #9727
@markusthoemmes I might be true that a client needs to be resilient for this flow of events that always can occur in an eventually-consistent system like a declarative reconciliation platform as Kubernetes is. But if "Reconciliation Failed" is an intermediate and non an error state, that this should be detectable somehow. For any client it would be very helpful to get some more insights on the rec

[2021-06-01 10:25] markusthoemmes commented on #9727
Yeah, I was wondering if the intermittent "Ingress reconcilation failed" is still happening. You mentioned above that you can't reproduce it anymore.

[2021-06-01 10:46] rhuss commented on #7708
Sounds simple enough, which should work if the exposed protocal scheme is unique for every service. Maybe I would nest the configuration, so that overrides are grouped, but that should not hinder the fix (e.g. I could imagine to have `routeSchema.external` and `routeSchema.internal` as nested config keys.

[2021-06-01 11:04] skonto commented on #11248
@vaikas wdyth?

[2021-06-01 12:05] rhuss commented on #9727
Well, we haven't checked it and we don't suffer from it as we have a client-side fix for it (that 'error window'). So from the client POV its more a 'we don't know if this still occurs'.

We would need to add some more debugging again or remove our fix.

[2021-06-01 13:45] xclud commented on #11317
@rhuss I strongly agree with the concept you are explaining. But there is one little note: ImagePullPolicy is used to really re-pull the image from the repository. My suggestion is not to re-pull the image. It's behavior should be related to the creation a new  revision. I would use the name `RevisionCreationPolicy` with possible values of `CreateAnyways` and `SkipIfExists`.

[2021-06-01 13:50] #11383 closed

[2021-06-01 14:33] rhuss commented on #9544
Well, I would say it depends: If BYO revisions is a fully supported feature by Knative Serving (even when it is a "niche feature") I would expect it to either work with SinkBindings or would have a documentation that BYO revision names are not supported for SinkBindings.

An alternative would be to remove BYO revision names as I think this feature is not very well tested, too ? (see this bug :)

[2021-06-01 18:20] ZhiminXiang commented on #7265
Thanks @soham283. Here is the development guide of knative serving https://github.com/knative/serving/blob/main/DEVELOPMENT.md

[2021-06-01 18:57] howardjohn opened #11448 "mutation failed: cannot decode incoming new object: json: unknown field "subresource""
/area networking

## What version of Knative?

0.23

## Expected Behavior

Hello world works

## Actual Behavior

Kservice stuck, logs are showing a bunch of errors like:
[code]

## Steps to Reproduce the Problem

[code]

After manually deleting all the mutating and validating webhooks seems thing to start working

[2021-06-02 03:01] nak3 commented on #11448
/area API

I tried serving v0.23 but it worked fine on my end.
`json: unknown field \"subresource\"` might be API issue :thinking: Forwarding to API team.

[2021-06-02 07:30] #11386 closed

[2021-06-02 13:18] dprotaso commented on #9310
Done: https://github.com/knative/serving/pull/10587

Thanks @SwEngin!

[2021-06-02 13:18] #9310 closed

[2021-06-02 13:20] dprotaso commented on #4283
@rafaeltello Are you continuing work on the queue proxy/activator issues?

[2021-06-02 15:28] JCzz commented on #11380
Hi @markusthoemmes

Trying to encourage [Envoy](https://github.com/envoyproxy/envoy/issues/16482) to implement this, maybe you can help :-)

[2021-06-02 15:42] ZhiminXiang commented on #4283
I don't think @rafaeltello will continue working on it.

[2021-06-02 17:32] #10530 closed

[2021-06-02 20:48] xclud opened #11456 "Cloudflare & Https Only"
/area networking

I have a cluster on baremetal which is now accessible with the public IP on port 80. I need to setup cloudflare and use a domain name.

So basically client's connection to cloudflare is https. And cloudflare's connection to the server should be https (self-signed certificate is fine).

I am using Knative Serving with Istio. I did follow this tutorial without any luck: https://kna

[2021-06-03 05:24] nak3 commented on #11456
Hi @xclud Could you please elaborate on how it failed? For example, I would like to know the information like:
- What is the output of `curl -v $URL`?
- How did you configure Istio Gateway? You just replaced `TLS_HOSTS` with your hostname in the doc's example?
- `istio-ingressgateway` pod does not print any error?

[2021-06-03 05:54] xclud commented on #11456
@nak3 The problem fixed by itself. It took about 12 hours for cloudflare to talk to my server. I was expecting around 20 minutes max.

Thank you for your support.

[2021-06-03 05:54] #11456 closed

[2021-06-03 06:05] nak3 commented on #11102
I am closing this for now. Please feel free to re-open if we can do further assist.

[2021-06-03 06:05] #11102 closed

[2021-06-03 06:07] nak3 commented on #11019
Yes, agree with @novahe
Please feel free to re-open if you have seen the issue on the latest version.

[2021-06-03 06:07] #11019 closed

[2021-06-03 06:10] nak3 commented on #10160
Quick update, https://github.com/istio/istio/pull/33021 should fix the issue.

[2021-06-03 12:36] vincent-pli commented on #11423
A draft version of thought of comment: https://github.com/knative/serving/issues/11423#issuecomment-850033763
has been implements here: https://github.com/vincent-pli/resource-watcher

Please take a look and take a try with the README.
The implements is very draft and may has some issue, please feel free contact me if you hit anything, I will keep refine it but I still struggle with a tough traini

[2021-06-03 13:40] benja-M-1 commented on #10511
Hello, we are experiencing the same kind of issue on Google Cloud Run. Do you have a workaround until a fix is found? I would be glad to help but not sure where to start more what to do :/
Thanks you for your help 🙏🏻

[2021-06-03 15:48] ZhiminXiang opened #11462 "HTTP01 Test fails"
The http01 TLS test started failing since 06/02, for example: https://testgrid.k8s.io/r/knative-own-testgrid/serving#istio-stable-no-mesh

From the test grid, this test fails for all types of Istio. So it is likely not the issue of Istio, and may be related to net-certmanager or serving itself.

/assign @ZhiminXiang

[2021-06-03 18:30] lisamburns commented on #4307
Another use case we could see here is to enable debugging via dev orchestrators like Skaffold. Skaffold automatically configures debugging for you by transforming a k8s manifest to add an initContainer with debug dependencies, volume mounts the debug dependencies onto the main container, and also modifies the start command and adds a debug port. Since knative does not support volume mounts or init

[2021-06-03 22:01] dprotaso commented on #11308
Yeah if there's anyway to repo with a script where you simulate your traffic bursts that'd be helpful

[2021-06-03 22:13] dprotaso commented on #11321
@vitobotta #11250 just landed if you're willing to try to use the latest nightly the yamls are here:

https://console.cloud.google.com/storage/browser/knative-nightly/serving/previous/v20210603-52a823e7e;tab=objects?project=pivotal-knative&prefix=&forceOnObjectsSortingFiltering=false

[2021-06-03 22:14] dprotaso commented on #11321
Can you try it out and let us know how it goes

[2021-06-03 22:17] dprotaso commented on #11325
Should we have a feature track doc for this work? Curious to know when we would label such an integration Beta, GA etc..

[2021-06-03 22:19] dprotaso commented on #11339
Saw the updated OWNER_ALIASES PR - I think this should be good now

[2021-06-03 22:19] #11339 closed

[2021-06-03 22:20] dprotaso commented on #11337
Thanks for the report

[2021-06-03 22:21] dprotaso commented on #11337
/assign @dprotaso

[2021-06-04 14:35] DavidSpek opened #11468 "Expand YAML anchors in releases"
Duplicate of https://github.com/knative/serving/issues/9350.

With the v0.22.0 release I noticed there were a lot of YAML anchors used in https://github.com/knative/serving/releases/download/v0.22.0/serving-core.yaml. The problem appeared when trying to use the manifest as a remote resource using Kustomize for Kubeflow deployments, as Kustomize has problems with YAML anchors (see https://github.co

[2021-06-04 15:31] dprotaso commented on #4417
Some thoughts

1) emptyDir as a scratch space makes sense - especially since it's tied to the pod's lifecycle
2) I'm not really convinced downloading models (via an initContainer) into an emptyDir really makes a lot of sense

To expand on it seems really inefficient and you're not benefiting from any caching. Any additional pods that are scaled up (even on the same node) will always download the m

[2021-06-04 16:39] vitobotta commented on #11321
Hi @dprotaso! Yep will play with it, thanks for the update! :)

[2021-06-04 19:01] vitobotta commented on #11321
Hi @dprotaso I have installed everything I think, and if I understand it correctly I just need to specify the tls/secretName field in the domain mapping manifest. But which domain name should I specify? If the shared secret gets created when it doesn't exist, it will be created for the domain specified in the first domain mapping, so how can I make it work with other subdomains? Let's say I want t

[2021-06-04 20:25] vitobotta commented on #11321
It works great! I had to create a certificate manually for the wildcard domain and then use the secret for the domain mappings.  It should be obvious.... but it didn't occur to me right away.

I'm gonna do some more testing and then if all looks good I'm gonna migrate my app (which will use domain mappings a lot) to Knative. Thanks!

[2021-06-04 20:27] julz commented on #11321
Super happy to hear this works for you @vitobotta!

[2021-06-04 21:05] vitobotta commented on #11321
Uhm problem: if I leave autoTLS enabled, then when I create a new service a certificate will be requested for the service (not related to an extra domain mapping) triggering an http01 challenge. However if I disable autoTLS then I don't have https enabled for new services with the default domain, and I won't be able to request certificates for custom domains with domain mapping that require http01

[2021-06-05 00:03] ZhiminXiang commented on #11462
Looks like some test setup errors happened:
[code]

[2021-06-05 13:35] vitobotta commented on #11321
Hi @ZhiminXiang

I basically want to avoid http01 challenges for subdomains of the main custom domain I have configured for Knative. If I leave autoTLS enabled, it will trigger a new http01 challenge and request a separate certificate for each subdomain, which can potentially hit LetsEncrypt limits. Hopefully it's clearer now? Thanks

[2021-06-06 12:48] 13567436138 opened #11470 "when will 1.0 to be released"
## Ask your question here:

when will 1.0 to be released

[2021-06-07 12:06] knative-test-reporter-robot opened #11474 "[flaky] test/scale.TestScaleToN/scale-10/005-of-010"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-10/005-of-010
* **Repository name**: serving

[2021-06-07 13:26] cardil opened #11476 "Service with invalid URL hangs in `IngressNotConfigured` state"
After #10023 the services that have invalid URL (to long for example), are staying in `IngressNotConfigured` state. The validation on serving should prevent creating such service, and/or should propagate the error to end user.

Currently, the error in reported as a WARN in Kubernetes events.

## What version of Knative?

## Expected Behavior

In case of domain/service misconfiguration, user should

[2021-06-07 13:32] cardil commented on #11476
/area networking

[2021-06-07 13:33] cardil commented on #11476
/remove-area monitoring

[2021-06-07 20:07] #11462 closed

[2021-06-08 05:45] #11476 closed

[2021-06-08 12:05] knative-test-reporter-robot opened #11478 "[flaky] test/e2e.TestSvcToSvcViaActivator/both-disabled"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSvcToSvcViaActivator/both-disabled
* **Repository name**: serving

[2021-06-08 12:05] knative-test-reporter-robot opened #11479 "[flaky] test/e2e.TestAutoscaleUpDownUp/aggregation-linear"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleUpDownUp/aggregation-linear
* **Repository name**: serving

[2021-06-09 05:25] pradithya commented on #11308
+1 for the feature.
We are using knative for our production workload @gojek.
However, we don't use scale-to-zero feature since we want to guarantee that at least more than 1 replica of an application is available when it is serving traffic.

[2021-06-09 07:35] rhuss opened #11483 "Support for conditional image digest resolution"
## Describe the feature

Since some time `kn` supports the use case of a `--lock-to-digest` that allows keeping an image pinned to a specific digest when updating a configuration (like adding an env var), so that original given image URL (potentially with tag) is not resolved again.

This works by remembering the original image spec in annotation and replacing the image in `.container.spec.image`

[2021-06-09 11:41] matzew opened #11488 "Use v1 API for PodDisruptionBudget"
**Describe the bug**

apply against 1.21 gives this warning:

[code]

[2021-06-09 12:05] knative-test-reporter-robot opened #11490 "[flaky] test/e2e.TestMinScale"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestMinScale
* **Repository name**: serving

[2021-06-09 13:22] zhaojizhuang opened #11492 "Failed to Update Deployment"
## What version of Knative?

## Expected Behavior

## Actual Behavior

failed to update deployment, the object has been modified; please apply your changes to the latest version and try again

log as follows:

[code]

we should use `Patch()` instead of `Update()`
https://github.com/knative/serving/blob/main/pkg/reconciler/revision/cruds.go#L77
[code]

[2021-06-09 13:22] zhaojizhuang commented on #11492
/assign

[2021-06-09 13:54] markusthoemmes commented on #11492
I think this is expected in that the deployment quite frequently changes and there might be cases where we try to update it, but on a stale copy. It'll fix itself though. Not sure if patching is a good idea, especially since we're going to have probably have to use the old `resourceVersion` in the patch (for consistency) and thus run into the very same issue.

[2021-06-09 14:11] eftugahan commented on #11069
Got the same error here. Have you got any solution?

[2021-06-09 16:12] rileyhun commented on #11069
I don't think there is a solution because knative doesn't allow you to mount custom volumes. I ended up using berglas instead. K8s external secrets should work as well.

[2021-06-09 17:45] 7adietri commented on #4417
Yes, but this is not a major concern for us, our Pods are relatively long-lived.

Maybe, but `emptyDir` is easy to understand and use, whereas I haven't even heard of OCI images before. 😬

[2021-06-09 21:01] dprotaso opened #11494 "Move PodDisruptionBudget to use policy/v1"
This becomes available in K8s 1.21

[2021-06-09 21:54] #11413 closed

[2021-06-10 05:51] markusthoemmes commented on #11494
Duplicate of https://github.com/knative/serving/issues/11488

[2021-06-10 05:51] #11494 closed

[2021-06-10 05:51] markusthoemmes commented on #11488
This only becomes available in 1.21, changed the issue's labels to reflect that

cc @dprotaso

[2021-06-10 12:06] #11474 closed

[2021-06-10 12:06] #11478 closed

[2021-06-10 12:06] #11479 closed

[2021-06-10 12:12] zhaojizhuang commented on #11492
yeah, It'll fix itself later indeed，Maybe it’s okay to continue to use `update`

[2021-06-10 12:12] zhaojizhuang commented on #11492
/close

[2021-06-10 12:12] #11492 closed

[2021-06-11 10:13] nak3 commented on #11286
Now, I am inclined to think "a) Remove `local-gateway.mesh: "mesh"`".
Even if we skip test with `w/o sidecar -> app` (by https://github.com/knative/serving/pull/11331), DomainMapping tests cannot be fixed as https://github.com/knative-sandbox/net-istio/issues/562.

So can we remove the option in net-istio https://github.com/knative-sandbox/net-istio/blob/main/third_party/istio-stable/istio-kind-me

[2021-06-11 10:36] #7708 closed

[2021-06-11 12:06] #11490 closed

[2021-06-11 14:59] dprotaso opened #11509 "[flakey] pkg/reconciler/autoscaling/kpa.TestReconcileDeciderCreatesAndDeletes"
Controller is blocked writing to the testDecider's delete channel which is I believe is preventing the controller from 'cleaning' up thus stalling the test

https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_serving/11508/pull-knative-serving-unit-tests/1403353507842494464

[2021-06-11 15:08] dprotaso commented on #11286
Then are we really running `mesh` (with mTLS) ?

[2021-06-11 15:23] markusthoemmes commented on #11509
Ugh, thought we'd have fixed that via https://github.com/knative/serving/commit/c2f3fda2009a0001b0a0a1681bb98b5468b96430. Might be a somewhat similar fix tho.

[2021-06-11 15:25] dprotaso commented on #11509
I'm guessing deletion is being observed twice?

[2021-06-11 15:36] markusthoemmes commented on #11509
Yeah, I wonder if it's the metric being created. The test claims it observes steady state at the start but it doesn't. Gonna take a look.

/assign

[2021-06-11 16:39] ZhiminXiang commented on #11321
The auto TLS feature supports disabling this feature per Knative service. So you can keep the auto TLS feature on *globally*, but add annotation `networking.knative.dev/disableAutoTLS=true` to the specific Knative services to disable auto TLS for those Knative Services to avoid http01 challenges for subdomains. Hope this could solve the issue.

[2021-06-11 16:59] ZhiminXiang commented on #11286
I think we use mTLS STRICT for mesh https://github.com/knative-sandbox/net-istio/blob/8a3cf7e23bc14a27218bddaf0a3757c4d64f891a/third_party/istio-latest/extra/istio-mesh.yaml#L9

[2021-06-11 17:07] ZhiminXiang commented on #11286
I think we can remove the option `local-gateway.mesh: "mesh"`.
If we remove this option, we may want to add an extra test for service-to-service communication when there is no pods for knative-local-gateway service in order to make sure there is no extra hop for service-to-service communication (in case there is any regression in Istio side).

[2021-06-11 17:59] dprotaso commented on #11321
cc @shinigambit for context

@vitobotta let us know if @ZhiminXiang's annotation works for your case. If so we'll close out this issue.

[2021-06-11 19:10] duglin commented on #7575
Not sure the issue has changed, it's about being able to do some work before the revision is reconciled.
I'm not sure Quota can help here since it's not about pausing ALL Revisions, it's about pausing ONE Revision.
In terms of usecases, the two main ones we have are:
- do something similar to service bindings where there's processing needed to setup things (like secrets for creds to remote service

[2021-06-11 19:15] julz commented on #7575
@duglin in concrete terms, are you proposing something like a spec.Paused field that causes the reconciler to ignore Ksvc changes if it's true? (I _think_ a Paused field would be consistent with regular k8s Deployments which can be paused, so that seems reasonable to me at least, but I'm really not clear from this issue if that's what you're proposing or if there's something more/different being a

[2021-06-11 19:21] dprotaso commented on #11286
I'm confused I thought by removing `local-gateway.mesh` that would required service to service communication to go through an additional hop (a gateway pod) - vs. sidecar to sidecar.

I'd only consider sidecar to sidecar to be 'mesh'

[2021-06-11 19:25] duglin commented on #7575
I think it might need to be more than a single field. In the first comment I talk about how this is similar to a Finalizer, but on create. So my prototype is along the lines of:
- add a check to the revision.reconcile to see if there's a label of the form: `service.knative.dev/pause-XXX: YYY`, and if so then "return"

And that's pretty much it. Then some other component can add a label like `servi

[2021-06-11 19:29] dprotaso commented on #10160
Related: https://github.com/knative-sandbox/net-istio/pull/636

We'll need to pull in the next 1.9.x patch release when it's out

[2021-06-11 19:41] julz commented on #11286
I believe removing this just _allows_ access through the gateway for pods that *arent* in the mesh, it doesn't require it, and pods with a sidecar will still go pod-to-pod.

[2021-06-11 20:03] ZhiminXiang commented on #11286
@julz is right. From my test https://github.com/knative-sandbox/net-istio/issues/562#issuecomment-809929595, after removing `local-gateway.mesh`, the internal communication is still sidecar to sidecar. I think the sidecar of client knows what is the right destination and will directly proxy the requests to the destination.

[2021-06-11 22:41] maganaluis opened #11510 "Receiving requests twice"
## In what area(s)?
/area networking

## What version of Knative?

0.17.3 and 0.23.0

## Expected Behavior

I expect to run the following service and get a single request not two.

## Actual Behavior

When I run the hello world example, I would expect to get a single request and not multiple ones. This was consistent with our Dev installation of Knative along with KFServing, where inference servic

[2021-06-11 23:04] julz commented on #11510
Hi @maganaluis - Istio 1.6 is quite old (see https://knative.dev/docs/install/installing-istio/#supported-istio-versions for our supported istio versions). Could you try with a more recent version of Istio?

If that doesn't fix the problem, it'd also be quite useful to see the source code for the hello world image and what you're using to invoke the service (eg is it just a curl command?).

[2021-06-12 00:36] dprotaso commented on #1178
/unassign @dprotaso
/assign @shinigambit will take a look at this

[2021-06-12 00:42] maganaluis commented on #11510
@julz I upgraded to 1.8.2 still received the same behavior. This is what I did to install KNative:

[code]

I used a utility called k9s which allows you use port-forward on any pod, then access the localhost 8080 from my browser (chrome). The code is the same as in the demo, I did not change anything. Interestingly I did try to access the app using curl/python and I see only one request at a time.

[2021-06-12 01:12] dprotaso commented on #9727
It may be reasonable to change our conformance/e2e to ensure we don't encounter such blips.

ie.
1) Create Service
2) Wait for Ready
3) Watch for Status Changes
4) Perform an Update

[2021-06-12 01:16] dprotaso commented on #11286
ok great :)

[2021-06-12 02:13] dprotaso opened #11511 "use tmpfs for etcd storage in GitHub Actions Kind-e2e"
We did this in net-contour a while back https://github.com/knative-sandbox/net-contour/pull/444/files

See: https://github.com/kubernetes-sigs/kind/issues/845

[2021-06-12 02:25] dprotaso commented on #10821
@sagarrandive Can you elaborate on

Are you setting resource requests/limits per container?

[2021-06-12 02:27] dprotaso commented on #10712
closing as there hasn't been input for a few months

[2021-06-12 02:27] #10712 closed

[2021-06-12 02:30] dprotaso commented on #10575
Going to close this out as I haven't seen a compelling enough reason to change the behaviour

[2021-06-12 02:48] dprotaso commented on #9477
Tagging this optimistically for 0.24.x - there's a bunch of work related to ggcr's k8schain adopting the out of tree providers https://github.com/kubernetes/cloud-provider

It would be good to know if the aws one has resolved this issue - https://github.com/kubernetes/cloud-provider-aws solves this issue

[2021-06-12 03:02] dprotaso commented on #9067
related: https://github.com/knative/serving/issues/10812

/assign @dprotaso
/milestone 0.24.x

I'll revisit this for 0.24.x and determine if we should make some follow up issues.

[2021-06-12 03:04] dprotaso commented on #8665
It's there already: https://github.com/knative/client/issues/997

[2021-06-12 03:04] #8665 closed

[2021-06-12 03:22] dprotaso commented on #10949
What's the harm in leaving the 'Failed' revision around until they're ready to push updates?

[2021-06-12 03:39] dprotaso opened #11512 "Our webhooks when introducing new defaults have issues with BYO revision name"
I think BYO revision name just needs special handling in your webhook.

Thus you'd want to do the following in the general case when there are no explicit names:
- on `CREATE` apply the defaults
- on `UPDATE` apply the defaults (this may create a new revision)
- on `CREATE` & `UPDATE` validate the field

When you have a BYO revision name then:
- on `CREATE` apply the defaults
- on `CREATE` validat

[2021-06-12 03:46] dprotaso commented on #9046
Going to close this out.

I pulled out an action item for our own defaulting webhooks to fix some BYO edge cases

[2021-06-12 03:46] #9046 closed

[2021-06-12 08:52] julz commented on #11510
Is it possible your browser may be making two requests? For example most browsers automatically make a request for /favicon.ico to get the little icon to put in the window, which might be logged by your hello world app as a separate request. You could log the request path in your hello world app to see if something like this is the case.

[2021-06-12 12:03] duglin commented on #10949
Sorry - lost track of this one.

I kind of want to say the RevisionTemplate would be empty, so we're left with just a Ksvc as a placeholder. Then the state of the Ksvc would be something new. Ready, while probably valid, might be misleading. Failed, would scare users. So something more like "Defined" or "Empty" to indicate there's nothing for the user to be concerned about (like "Failed" does), bu

[2021-06-12 12:07] knative-test-reporter-robot opened #11513 "[flaky] test/e2e/autotls.TestTLS/SelfSignedPerKsvc/Tag_route"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/autotls.TestTLS/SelfSignedPerKsvc/Tag_route
* **Repository name**: serving

[2021-06-12 12:07] knative-test-reporter-robot opened #11514 "[flaky] test/e2e/autotls.TestTLS/SelfSignedPerNamespace/Tag_route"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/autotls.TestTLS/SelfSignedPerNamespace/Tag_route
* **Repository name**: serving

[2021-06-12 13:49] #11470 closed

[2021-06-12 20:33] maganaluis commented on #11510
That's possible, I will get a configuration working locally on MInikube based on the recommended versions and update this issue accordingly.

[2021-06-13 19:24] JCzz opened #11515 "Envoy ready for Apple M1"
Waiting on Knative to run on arm64

Have you seen this update to envoy:
https://hub.docker.com/r/envoyproxy/envoy/tags?page=1&ordering=last_updated

Maybe it will work with Knative?

[2021-06-14 05:32] #10711 closed

[2021-06-14 05:32] markusthoemmes commented on #10751
/remove-lifecycle stale

[2021-06-14 05:33] markusthoemmes commented on #10764
/remove-lifecycle stale

[2021-06-14 05:35] markusthoemmes commented on #11515
Is this a duplicate of https://github.com/knative/serving/issues/11380?

AFAIK, Knative should run on M1 or arm64 hardware just fine. Are you encountering any issues?

[2021-06-14 05:37] markusthoemmes commented on #10936
/remove-lifecycle stale

[2021-06-14 05:41] markusthoemmes commented on #11512
Is this relevant in https://github.com/knative/serving/issues/9544 too?

[2021-06-14 07:16] julz commented on #10852
/remove-lifecycle stale

[2021-06-14 12:59] nak3 commented on #11286
So we will proceed this issue by the following steps:
1. Do not enable `local-gateway.mesh` in e2e (remove it from net-istio).
2. Consider (open an issue/send a mail knative-user@) to deprecate `local-gateway.mesh` option. (The deprecation was mentioned in https://github.com/knative-sandbox/net-istio/issues/562#issuecomment-809934621. And we should deprecate it as we no longer test it.)
3. Add a n

[2021-06-14 16:50] arturenault commented on #11286
Thanks all, sorry for dropping the ball on the previous PR (got busy with other things and then went on vacation for 2 weeks). Sounds like we're going with a different solution and assign this issue to kenjiro.

/assign @nak3

[2021-06-14 20:58] dprotaso commented on #10814
I agree - let's have the ability to set this field to `true` without a feature flag

[2021-06-14 21:04] dprotaso commented on #4417
OCI is the standard for container images that run in Docker and Kubernetes.

[2021-06-14 21:27] dprotaso commented on #4307
#### 1. For the model downloading use case - re-posting my comments from: https://github.com/knative/serving/issues/4417#issuecomment-854816976

#### 1.1 Downloading models into a PVC
@RafalSkolasinski Is it possible to setup a PVC prior to creating the Knative Service? Then you'd declare the PVC read-only. If not why?

#### 2. For sourcing/injecting secrets on startup
This seems like a practical

[2021-06-14 23:19] evankanderson commented on #8471
/unassign

I put some comments in the doc a while ago -- it seems like a lot of the doc focuses on "how to expose Knative-created Pods for direct network access outside the queue-proxy lifecycle" without covering how to prevent users from building applications where "Knative doesn't work" because their network-attached Pod got scaled down due to inactivity.

It might be able to make progress on th

[2021-06-14 23:23] evankanderson commented on #8471
In terms of review, we should probably get a reviewer from Serving, Networking, and Autoscaling to flag specific concerns; I've tried to proxy those groups, but I'm not intimately familiar with some of the code details.

[2021-06-14 23:24] evankanderson commented on #8471
For the actual feature proposal, it's probably also worth specifying a particular mechanism for identifying the primary port and container; ideally a mechanism which works for both single and multi-container workloads.

[2021-06-15 01:29] nak3 opened #11523 "Can we deprecate `local-gateway.mesh: "mesh"` in config-istio?"
This is an Istio specific question but opening in serving repo for wide visibility.

__TL;DR__: Please let us know if anyone is using `local-gateway.mesh: "mesh"` and it will cause a trouble if we deprecate the configuration.

**Background**

When using net-istio with sidecar injection, we can configure `local-gateway.mesh: "mesh"` in [`config-istio`](https://github.com/knative-sandbox/net-istio/b

[2021-06-15 05:34] markusthoemmes commented on #11523
An announcement on the knative-dev list might be worth thinking about.

[2021-06-15 07:49] julz commented on #10851
/remove-lifecycle stale

I still think this is good, I just didn’t get to it yet

[2021-06-15 12:08] #11513 closed

[2021-06-15 12:08] #11514 closed

[2021-06-15 13:36] gyliu513 commented on #11423
@@markusthoemmes want to get some comments from you for this topic: Does knative has any plan to support Kubernetes resources but not only Knative Services?

[2021-06-15 16:09] dprotaso commented on #10267
I think Evan was looking for input from myself. I'll surface what I mentioned slack.

We can't automatically distinguish when a runtime failure should gate readiness of the revision.  We need hints from the user via readiness/liveness probes.

Matt's description of 2) in my opinion should be managed by some higher level continuous delivery tool. That would not only capture runtime errors (counting

[2021-06-15 16:09] #10267 closed

[2021-06-15 16:17] dprotaso opened #11531 "[failure mode] revisions that fail to scale up from 0 should set Ready=False"
After a successful initial deploy and scale to zero - if a revision were to fail to scale from 0 a second time we should mark Ready=False.

This intent of this issue is to confirm what is the current behaviour

[2021-06-15 16:20] dprotaso commented on #10267
I made a follow up issue to confirm that if we have the right hints (readiness/liveness failing) that we behave properly.

https://github.com/knative/serving/issues/11531

[2021-06-15 16:27] dprotaso commented on #8970
/unassign @Cynocracy

@MontyCarter the original PR was done by JJ -

I don't have context on [_why_ the original PR was introduced by JJ](https://github.com/knative/serving/pull/8702 ) are you or @evankanderson able to comment on whether it's still needed?

/assign @MontyCarter @evankanderson

[2021-06-15 16:36] SeanEmac opened #11532 "targetBurstCapacity does not behave correctly when there is more than one activator pod"
## Expected Behavior
[See this post for background](https://groups.google.com/g/knative-users/c/dd1eeodFhzM) where [high-availability.replicas](https://knative.dev/docs/install/operator/configuring-serving-cr/#high-availability) was set to 2.

When targetBurstCapacity is set to '-1' the activator should hold on to requests until a pod becomes available to process it. This means that if only 1 pod

[2021-06-15 18:34] ZhiminXiang opened #11533 "Need E2E test for DomainMapping to work with websocket connection"
## Describe the feature
Currently we only test DomainMapping with HTTP/HTTPS connection.
We should also test DomainMapping with some long-running connection, e.g. Websocket.

[2021-06-15 21:53] MontyCarter commented on #8970
I dug through the history here, and this change is safe for us now.

[2021-06-15 23:35] #8970 closed

[2021-06-16 00:20] nak3 opened #11535 "Support https option on upgrade test"
## In what area(s)?

/area networking
/area test-and-release

## Describe the feature

Current upgrade test `test/e2e-upgrade-tests.sh` does not spport `https` option.

As far as tested with the following changes:

https://github.com/knative/serving/pull/11529/commits/1a2dcb6cc6b8d5ab2958d579468f45a22d70a9b8
https://github.com/knative/serving/pull/11529/commits/266ef370e5f94c3a64f5ffa65ea79780b143

[2021-06-16 06:18] markusthoemmes commented on #11532
Thanks for opening this!

We should:
1. Check if our subsetting is behaving correctly (I assume it is)
2. Discuss if we want to allow for a `minActivators` of `1` if only 1 replica is deployed for the backed revision.

This is sort of the edgiest edge case for our "perfect routing" and I think we kinda knew it'd be there. I'm not sure if we can fix it 100% given all the eventually-consistent behav

[2021-06-16 06:19] markusthoemmes commented on #11532
To clarify additionally: `targetBurstCapacity` behaves correct here. It's only making sure that the activators are in path. What's not behaving as expected is the activator's routing and loadbalancing behavior.

[2021-06-16 06:58] vagababov commented on #11532
1. TBC is not an issue her at all — TBC in fact works fine — requests go through the activator.
2. Generally, this is a known issue, since when choosing 2 as the minimum number of activators for a revision we were more concerned about no activators remaining if the one in question is restarting/crashing/pod is gone, etc, than this edgecase.

[2021-06-16 09:59] julz commented on #11532
Some context from [a slack thread we had about this](https://knative.slack.com/archives/C94SPR60H/p1623834996114400):

One solution, that we and OpenWhisk considered at one point, to this edge case is when minActivators/pods means we can't properly subset, we could have the activators forward the request to the 'correct' activator. This would maintain availability, but keep all requests (when poss

[2021-06-16 18:25] duglin commented on #7575
Feature proposal doc: https://docs.google.com/document/d/1GkVceSS_v1TCkG_gccl4w3DwgmKt_to3VsbBXyqRe28/edit#
for our chat during next week's call.

[2021-06-16 19:38] dprotaso commented on #9713
Linked the project board that breaks out issues into the respective feature maturity

[2021-06-16 19:43] julz commented on #9713
/close since we have the project board now, thanks @dprotaso

[2021-06-17 01:45] duglin commented on #10908
/remove-lifecycle stale

[2021-06-17 03:58] #9713 closed

[2021-06-17 07:11] tzstoyanov opened #11544 "Activator restarts constantly"
## What version of Knative?
0.23.1

## Expected Behavior
Activator pod to be up and running.

## Actual Behavior
Fresh install of  v0.23.1 on local k3s cluster, following the instructions (using the latest v0.23.1):
https://knative.dev/v0.23-docs/install/install-serving-with-yaml/

Installation looks good, but the activator pod restarts constantly:
[ceco@calisto knative]$ kubectl -n knative-servin

[2021-06-17 10:31] nak3 commented on #11544
As per error logs, it seems activator tries to connect to Jitsi Meet on Nginx. I can see [this line](https://github.com/jitsi/jitsi-meet/blob/e9675453e1db16792f885072a7e470312561ccbc/index.html#L44-L45) in the above log.

@tzstoyanov Could you check activator logs and see if `Connecting to Autoscaler at ws://autoscaler.knative-serving.svc.cluster.local:8080` was printed?
If `autoscaler.knative-ser

[2021-06-17 10:43] tzstoyanov commented on #11544
Sure, I'll check the  connectivity from another pod as you suggested, but look at the second error from the activator log - it cannot connect to the Autoscaler:
`{"severity":"ERROR","timestamp":"2021-06-17T06:53:18.63918464Z","logger":"activator","caller":"websocket/connection.go:192","message":"Failed to send ping message to ws://autoscaler.knative-serving.svc.cluster.local:8080","commit":"48178d

[2021-06-17 10:52] tzstoyanov commented on #11544
[code]

[2021-06-17 11:00] tzstoyanov commented on #11544
I think I just realized what the problem is :) looks like it is related to this [kubernetes issue](https://github.com/kubernetes/kubernetes/issues/64924).
I have Jitsi Meet running on 8080 on other machine in my local network, and because of that odd ndots thing the resolving is broken. Looks like it is not knative issue, but do you have any idea how I can resolve it ?

[2021-06-17 13:06] tzstoyanov commented on #11544
Verified that the problem is in the resolving, not a knative issue. Managed to fix it by passing a custom resolv.conf to the kubelet and now everything looks OK, no restarts and no strange logs :)
Thanks!

[2021-06-17 13:30] #11544 closed

[2021-06-17 16:36] xtreme-sameer-vohra opened #11547 "List of all enabled-by-default Annotations/Labels on public Serving API objects that impact their behaviour"
/area API
/kind doc

# Ask
List of enabled by default Annotations & Labels on public Serving API objects and their deprecation/support guarantees

# Context
Knative GA Requirements ->
- [Documenting Annotations/Labels](https://docs.google.com/document/d/1mC_nDpLIycqiBn5Om1tvbcY3yyAR3WUNXcHiyloEzhg/edit?ts=609d1aaf#heading=h.rfuit899h5eb)

After gathering the list, we can confirm if identified item

[2021-06-17 16:37] xtreme-sameer-vohra commented on #11547
/assign @dprotaso

[2021-06-17 22:18] xtreme-sameer-vohra opened #11548 "List of all Serving API related Configmap keys that impact behaviour"
/area API
/kind doc

# Ask
List of ConfigMap keys that are used to manage Serving API configuration including the support policy.
Excludes Autoscaling & Networking (those will be addressed by their respective WGs)

# Context
Knative GA Requirements ->
- [Documenting ConfigMap fields](https://docs.google.com/document/d/1mC_nDpLIycqiBn5Om1tvbcY3yyAR3WUNXcHiyloEzhg/edit?ts=60cb80c1#heading=h.4uzygo1c

[2021-06-17 22:20] xtreme-sameer-vohra commented on #11548
/assign @dprotaso

[2021-06-17 22:21] xtreme-sameer-vohra commented on #11547
Split this issue with Configmaps being covered in https://github.com/knative/serving/issues/11548

[2021-06-18 00:46] maganaluis commented on #11510
I will be closing this, I was not able to find anything consistent. Unfortunately KFServing still receives two requests coming from the ingress gateway but it's likely an issue with our configuration.

[2021-06-18 00:46] #11510 closed

[2021-06-18 08:51] julz commented on #10037
/remove-lifecycle stale

[2021-06-18 09:54] BbolroC opened #11553 "$TEST_OPTIONS missed for the HPA test"
## Ask your question here:
It would be good to make the [HPA test](https://github.com/knative/serving/blob/main/test/e2e-tests.sh#L99) configurable with $TEST_OPTIONS like other tests in `test/e2e-tests.sh`. (e.g. for the test environment which does not have a load balancer)

[2021-06-18 12:06] knative-test-reporter-robot opened #11558 "[flaky] test/conformance/api/v1.TestServiceCreateAndUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceCreateAndUpdate
* **Repository name**: serving

[2021-06-18 12:56] markusthoemmes commented on #11548
Autoscaling is good here, modulo https://github.com/knative/docs/pull/3819

[2021-06-19 07:37] nak3 commented on #11553
@BbolroC I believe you can send the PR and it should be merged if no error happens. `TestHPAAutoscaleUpDownUp` uses   [`ResolvableDomain`
](https://github.com/knative/serving/blob/1c042a1a8c977e570d29642aaef94ca426579704/test/e2e/autoscale_hpa_test.go#L142
) so your request should make sense.

[2021-06-21 07:27] julz commented on #10355
/remove-lifecycle stale

[2021-06-21 08:07] jinxin-fu opened #11564 "How to use ko to build knative/serving component on local vm"
ko version  --- 0.8.3
When I use ko release -f config/ > release.yaml to create a release package config as  introduced on Knative website blog (https://knative.dev/blog/2018/12/18/ko-fast-kubernetes-microservice-development-in-go/) but I get an empty release.yaml. I can not figure out where is the problem.  Where can I find the ko perform log

[2021-06-21 08:43] markusthoemmes commented on #11564
1. I don't think `ko` has a release command, does it?
2. You probably want to get all resources in the nested folders of config recursively.

So you likely want

[code]

[2021-06-21 08:49] jinxin-fu commented on #11564
Tks, you are right , I make a mistake, it should be ko resolve, there is no release command in ko.

[2021-06-21 09:47] nak3 commented on #11286
So, the last monster is `scale-200` test :sweat_smile:

https://github.com/knative/serving/pull/11552 verified that all test passed with `-short` option (it runs `scale-10` instead of `scale-200`) so I think we can use the `-short` options for somewhere.

I think we have a few options for the solution like:

:green_circle:  ... test will pass.
:red_circle:  ... test will fail.

#### option 1. Use

[2021-06-21 09:49] nak3 commented on #11286
And I am thinking that option 2 is good for now.
(option 1 will make confusion as pre-submit passed all tests but test grid always red. Someone wonder what is the difference...)

[2021-06-21 13:38] julz commented on #11286
Option 2 seems reasonable to me too fwiw

(I would love, at some point, separately, to figure out if we can tweak the timeouts on the full scale tests in mesh mode to have it pass, though -- it's obviously not ideal if we have no scale tests for mesh mode long-term since I imagine people who use mesh might have relatively big clusters/workloads)

[2021-06-21 14:21] dprotaso commented on #11286
To @julz's point is configuring the timeouts for mesh an option easier option - ie. make them test flags

[2021-06-21 14:24] dprotaso commented on #11286
aside: a caveat is these timings would be sensitive to GKE performance and it could regress again. I think these scale tests should be spun up on GCE/kubeadm were we have more control of the machine types of the API server

[2021-06-21 14:39] dprotaso commented on #11564
That blog post is a bit dated - I'd look at the README.md here https://github.com/google/ko for the latest options etc.

[2021-06-21 14:39] #11564 closed

[2021-06-21 14:40] dprotaso commented on #10355
/lifecycle frozen

[2021-06-21 14:58] julz commented on #10792
I think this one at least warrants further discussion and probably documentation

/remove-lifecycle stale

[2021-06-21 15:09] dprotaso commented on #9760
test still fails

/lifecycle frozen

[2021-06-22 00:11] #11553 closed

[2021-06-22 01:12] beemarie commented on #4522
@evankanderson Agree with closing this & pointing folks to async repo.

[2021-06-22 01:36] evankanderson commented on #9554
This might be an interesting example / use case for Knative + apiserver to simplify these kinds of use cases.

[2021-06-22 01:37] evankanderson commented on #9554
/remove-lifecycle stale

[2021-06-22 01:37] evankanderson commented on #11015
/remove-lifecycle stale

[2021-06-22 04:18] emaildanwilson commented on #4307
I also have a use case for this which is binding config/secrets at runtime that could ideally be handled with an init container and a shared emptyDir volume. I can add the feature flags for these if this is agreed upon. I've done a few times for other settings.

[2021-06-22 08:30] baiyun123 opened #11572 "traffic percent can`t apply ambassador"
![image](https://user-images.githubusercontent.com/18595903/122891497-26c5d380-d377-11eb-96b1-a0fc87e5c004.png)

knative controller image: gcr.io/knative-releases/knative.dev/serving/cmd/controller@sha256:b1cae7f2e60c7ee560c52bad804904c05223cdc9bd97e36ca3897e72eb3f4b4b
ambassador: quay.io/datawire/ambassador:1.13.8

[2021-06-22 14:37] dprotaso commented on #11572
@baiyun123 It's not clear what the issue is - can you elaborate?

Right now I'm assuming traffic splitting with ambassador is having issues? Can you provide repro steps?

/assign @impl

[2021-06-22 15:33] impl commented on #11572
It looks like the percentages don't add up. I'll take a look today. You can add me to the repo if you'd like; I don't mind being assigned issues in the future.

[2021-06-22 19:52] dprotaso commented on #11572
/assign @impl

[2021-06-23 02:03] impl commented on #11572
@baiyun123, to help us debug this, could you provide the output of `kubectl describe ksvc` and `kubectl describe king` for the `nginx-hello` service that is encountering this behavior?

[2021-06-23 07:11] 13567436138 opened #11578 "istio-webhook-657685745d-6h2gm 0/1 CrashLoopBackOff 6 8m53s"
## What version of Knative?

[root@master01 knative]# kn version
Version:      v0.23.0
Build Date:   2021-05-19 07:42:12
Git Revision: 3cc608f9
Supported APIs:
* Serving
  - serving.knative.dev/v1 (knative-serving v0.23.0)
* Eventing
  - sources.knative.dev/v1 (knative-eventing v0.23.0)
  - eventing.knative.dev/v1 (knative-eventing v0.23.0)

## Expected Behavior

## Actual Behavior
istio-webhook-6

[2021-06-23 07:32] nak3 commented on #11578
Hi @13567436138 Quick question. Are you using [knative/operator](https://github.com/knative/operator) and configured `spec.registry.override`?
[code]
If yes, I believe you hit the issue https://github.com/knative/operator/issues/519 so you need to configure it like https://github.com/knative/operator/issues/519#issuecomment-827447017

[2021-06-23 11:05] 13567436138 commented on #11578
thanks

[2021-06-23 11:05] #11578 closed

[2021-06-23 12:09] knative-test-reporter-robot opened #11582 "[flaky] test/e2e.TestAutoscaleSustaining/aggregation-weightedExponential"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleSustaining/aggregation-weightedExponential
* **Repository name**: serving

[2021-06-23 13:37] #11468 closed

[2021-06-23 18:54] #4522 closed

[2021-06-23 20:20] evankanderson commented on #7556
@JRBANCEL

Any further information on how often this happens?

Otherwise, this seems like a very low-priority issue (as in, I don't think anyone else has reported this).

Please reopen if we get further evidence of this happening, as this looks like a k8s GC bug based on the decription (object remaining "live" with a `metadata.ownerReference` pointing to a non-existent object or an existing object

[2021-06-23 20:20] #7556 closed

[2021-06-23 20:21] evankanderson commented on #7556
/remove-triage needs-user-input

[2021-06-23 20:21] evankanderson commented on #7575
/remove-triage needs-user-input

[2021-06-23 20:22] evankanderson commented on #7748
/remove-triage needs-user-input

[2021-06-23 20:23] evankanderson commented on #7748
/assign @julz

Since he seems to be managing this

[2021-06-23 20:24] evankanderson commented on #7575
/triage accepted

[2021-06-23 20:24] evankanderson commented on #7748
/triage accepted

[2021-06-23 20:25] evankanderson commented on #8095
/remove-triage needs-user-input
/triage accepted

It looks like this issue is stale. @nak3, is this still on the radar? Is this issue the best way to track it?

[2021-06-23 20:25] evankanderson commented on #8366
/remove-triage needs-user-input
/triage accepted

[2021-06-23 20:26] evankanderson commented on #8610
/remove-triage needs-user-input
/triage accepted

I'm not sure that Victor is going to land anything here; is this still an issue, and what priority?

[2021-06-23 20:28] evankanderson commented on #8629
/remove-triage needs-user-input
/triage accepted
/help-wanted

[2021-06-23 20:28] evankanderson commented on #8629
/help

[2021-06-23 20:30] evankanderson commented on #8684
Going to put one more "is this really important enough to work around kubernetes" question in here, and then I recommend we close the issue as "won't fix right now".

[2021-06-23 20:31] julz commented on #8610
I do think it's a legit issue ("we do not distinguish failed/slow scrapes from zero concurrency and we should or we'll potentially scale down due to network blips") that needs more work to progress than a "good first issue" should. If we had a 'this is something someone who wants something meaty could work on' tag, Id add that to this.

[2021-06-23 20:40] evankanderson commented on #7405
I think we'd need to spell out the case where DomainMapping doesn't work a bit more clearly, or file a bug against DomainMapping if it sometimes works and sometimes doesn't.

/remove-triage needs-user-input
/close

(Feel free to reopen if this is really a case where DomainMapping isn't a match, but we didn't have that when this bug was opened.)

[2021-06-23 20:40] #7405 closed

[2021-06-23 20:42] evankanderson commented on #7240
It looks like maybe this isn't very high priority?

Do we want to keep it open at low priority (`/triage accepted`, `/help`), or close it and reopen later if it turns out we need it?

[2021-06-23 20:43] evankanderson commented on #6895
@csantanapr

Do you want this issue to change to importing your `knative-private-images` writeup into the general Knative docs, or should we close this?  (You don't have to move it, we can just put it in the docs pool to triage/fix.)