[2018-10-29 17:04] #2319 closed

[2018-10-29 19:51] imikushin commented on #1997
I believe this can be achieved this way:

- Add another k8s-service for each revision, named something like `hello-world-01-internal` (where `hello-world-01` is the revision name) and targeting the revision pods (when/if they exist!) via a label selector
- the activator will proxy to `hello-world-01-internal` k8s-service instead of `hello-world-01` k8s-service
- `hello-world-01` k8s-service will b

[2018-10-29 20:09] mattmoor commented on #1997
This won't provide the activator with enough context to activate the revision.  The way we provide this context today is decorating the request with an extra header.

[2018-10-29 21:23] trisberg opened #2346 "State transition after build completes changed for the ConfigurationsReady"
## Expected Behavior

After the build completes the state transitions for "ConfigurationsReady" used to be from "Unknown/RevisionMissing" to "True"

## Actual Behavior

Now "ConfigurationsReady" go from  "Unknown/RevisionMissing" to "False/RevisionFailed" and then later to "True"

## Steps to Reproduce the Problem

  1. Deploy a configuration with a build
  2. watch the state transitions

## Addit

[2018-10-29 21:48] mattmoor commented on #2346
I think the (smallest) fix here is to move `want == -1` (which is analogous to "no data") to assume Active, which feels like the right way to bias, since activating the pod should kick data into the system.

WDYT?

cc @markusthoemmes @josephburnett

[2018-10-29 21:56] steuhs opened #2347 "block PR with code coverage below threshold"
Currently Covbot reports coverage change in PRs, without failing the job or blocking the PR from merging if the coverage falls below the threshold.

It's time to enforce the blocking feature now to block a PR from merging if any of the files is having a coverage below the threshold. Note that files can be excluded from this rule by having the git-attribute 'coverage-excluded'

Based on the post-su

[2018-10-29 22:00] steuhs commented on #2347
/assign evankanderson
/assign mattmoor
/assign mdemirhan
/assign vaikas-google

[2018-10-29 22:30] dgerd commented on #2346
Since it was small, I wrote up the suggested change and validated it does in fact fix this issue on my cluster. I sent a PR, but happy to abandon if there is a better solution.

[2018-10-29 22:38] imikushin commented on #1997
What component does add the header now?

[2018-10-30 01:17] mattmoor commented on #1997
When we change `ClusterIngress` (backed by Istio) to point at the Activator service, we include rewrite logic to decorate the request with the extra header.

[2018-10-30 02:44] lichuqiang commented on #2322
According to the discussion, we believe it would be a good beginning to make things simple first. We'll not introduce too many complicated mechanisms for potential in-tree networking impls (as we haven't see a strong case so far).

So, what we'll need to achieve is:
1. Update reconcilers for upper resources (kservice, route) to pass through class annotation into ClusterIngress resource,
2. Split C

[2018-10-30 02:45] lichuqiang commented on #2322
/kind good-first-issue

[2018-10-30 03:42] steuhs commented on #2347
Looking at https://testgrid.knative.dev/knative-serving#coverage, there are less than 10 files (colored in red) that has coverage rate below 80%. We probably want to bring up the coverage for those files or exclude those files, before we enforce the threshold.

[2018-10-30 03:46] zrss opened #2350 "A common retry strategy of serving controller ?"
## Expected Behavior

a special case that i expect, it's serving controller will retry the process of resolving image to image digest

## Actual Behavior

the real problem, maybe it raises at a low rate, :sweat_smile: my docker registry down for sometime, i see my knative service app with no luck and it stuck at the step of resolving image to image digest

## Additional Info

currently the value o

[2018-10-30 11:56] lichuqiang commented on #2350
Currently we just [ignore reconcile error](https://github.com/knative/serving/blob/master/pkg/reconciler/v1alpha1/configuration/configuration.go#L132). To avoid thus issue, it might be more reasonable to tradeoff error types and re-enqueue the resource instance on certain errors.
We should also need backoff mechanism to avoid processing a same instance repeatly.

/cc @mattmoor for thoughts

[2018-10-30 14:49] #2314 closed

[2018-10-30 17:20] berndtj commented on #2266
I've found a workaround which is to amend the controller-config configmap and add the specific ClusterIP to the:
[code]
This is still rather cumbersome however.  It would be nice if I could just whitelist whole CIDR ranges (i.e. 10.0.0.0/8).

[2018-10-30 17:30] adrcunha opened #2351 "//knative/serving/test/e2e:TestAutoscaleUpDownUp is super flaky"
## Expected Behavior

`//knative/serving/test/e2e:TestAutoscaleUpDownUp` flakiness is close to 0.

## Actual Behavior

For the last 16 CI runs, `TestAutoscaleUpDownUp` failed 10 times, or ~60% of the time. From these 10 failures, 9 were because ("got/wanted" numbers change for each failure)

[code]

https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/10573015841756

[2018-10-30 17:31] adrcunha commented on #2115
This issue has been stale for a month, and after that we had a pretty good amount of greenness for the autoscale tests. I'm closing this in favor of a more recent flake, different from this one: https://github.com/knative/serving/issues/2351

[2018-10-30 17:31] #2115 closed

[2018-10-30 17:34] cppforlife commented on #2322
i would advocate for out of tree controllers and extracting istio controller into a separate repo.

Sent from my iPhone

[2018-10-30 17:37] mattmoor commented on #2351
/assign @dgerd

@josephburnett Dan volunteered to help a bit here.

[2018-10-30 17:38] cppforlife commented on #1997
i was asking about using host header instead of headers recently in slack. planning to bring this up in upcoming networking call for discussion.

Sent from my iPhone

[2018-10-30 17:39] mattmoor commented on #2334
/assign @evankanderson

[2018-10-30 17:43] mattmoor commented on #2328
@vvraskin I think there is significant value in booting an application to the point of a successful `readinessProbe` before declaring it successfully deployed.  This is especially valuable in dynamic languages where the "build" process may provide little guarantee that such a thing is even possible.

I'm uncertain of the value of starting at zero vs. quickly scaling down to zero, but the above is

[2018-10-30 18:43] imikushin commented on #1997
/assign

[2018-10-30 18:45] imikushin commented on #1997
@cppforlife I've got the same question! Why not use Host header?

[2018-10-30 20:50] #2187 closed

[2018-10-30 21:12] mattmoor opened #2354 "hack/release.sh only attaches release.yaml to the github release."
When I cut 0.2.0 with `./hack/release.sh` only `release.yaml` was attached to the release (I had to manually attach the rest).

[2018-10-30 21:13] mattmoor commented on #2354
/assign @adrcunha

[2018-10-30 22:09] greghaynes commented on #2328
I believe the motivation is to cut down on time for tests which measure scale up from zero time as currently the minimum scale down time is on the order of 1min and we have a desire to run many scale up from zero tests. I agree that this isn't something users should find valuable - I wonder if we can find some way to backdoor this feature for test cases, maybe an environment var?

[2018-10-30 22:17] josephburnett commented on #2328
@greghaynes if we were to have a backdoor to start scaled at 0, how would you guarantee that the Istio routes have been propagated before starting the test?

[2018-10-30 22:17] mbehrendt commented on #2328
i'm not sure. i as a user wouldn't want to be billed for a container running for a while although it didn't need it during that period of time.

[2018-10-30 22:21] greghaynes commented on #2328
@josephburnett right now we probe the application endpoint, similar to the autoscale test

[2018-10-31 00:13] tcnghia commented on #2351
The autoscaling issue seems to be caused by requests hitting Terminating pods, in which `istio-proxy` usually dies first causing the Terminating pods to reject all message.  that results in `503 upstream reset/disconnect before header`.  we used to have a prestop sleep like this https://github.com/tcnghia/serving/commit/20ca8e51d90561246a122df7cf03306ef61e5896#diff-d4961cee95b4d08627915faf1c62c4d3

[2018-10-31 00:14] tcnghia commented on #2351
/assign @tcnghia

[2018-10-31 00:18] josephburnett commented on #2351
One other action item might be to create another E2E test that just serves variable traffic over time.  That would help narrow in on the cause more quickly I think.  Up Down and Up is a lot to debug all at once.

[2018-10-31 01:18] mattmoor commented on #1138
This is done

[2018-10-31 01:18] #1138 closed

[2018-10-31 01:44] tcnghia commented on #1997
May be it is doable using a Route header, not a Host header because we can't add header per split.  For example, for a split like 60% -> Blue, 40% -> Green we can only add the same header for Blue and Green.

However, with a Route header we could probably do this.  Both Blue and Green are pointing to activator, and activator can flip coins to route to either Blue-internal or Green-internal.

[2018-10-31 01:58] tcnghia commented on #1997
Or, instead of a Route header we could probably send a Split header, like `{"Blue-internal": 60, "Green-internal": 40}` to decouple from knowledge of Route.

[2018-10-31 03:07] mattmoor commented on #2312
In K8s 1.13, it [will be possible](https://github.com/kubernetes/kubernetes/issues/69590) to use a cluster-external URL for the webhook without configuring a `caCerts` bundle.

This means that (with some refactoring) operators could potentially move this webhook to be an external hosted multi-tenant[1] endpoint.  If we want to be meta about it, we could even run it on knative/serving ;-)

[1] - Gi

[2018-10-31 03:58] lvjing2 commented on #2311
The problems discovery here:
 1. How to make sure the istio-proxy terminated only after the preStop request connection started successfully.
2. Avoid the same user request routed and executed twice when shutting down.

I noticed that the first problem and also #2344  should be fixed by workaround #2357 , so I'd like to handle the left second problem.
/assign

[2018-10-31 04:17] lvjing2 commented on #2351
Thanks for your help, this also fixed part of problems in #2311 and #2344

[2018-10-31 05:34] #2346 closed

[2018-10-31 08:21] lichuqiang opened #2359 "Conflict in VirtualService host when we have routes with same name (of different namespace)"
## Expected Behavior
Value of Host should be unique across VirtualServices

## Actual Behavior
When we have two routes (kservice) of same name in two namespaces. we will end up see same host value (route name) in their VirtualServices.

## Steps to Reproduce the Problem

  1. create kservice `square` in namespace `foo`
  2. create kservice `square` in namespace `bar`
  3. check the hosts value in

[2018-10-31 09:18] markusthoemmes opened #2362 "Logs are not extracted after E2E tests."
## Expected Behavior

The logs of the system level pods are extracted after a e2e test run to be able to debug issues.

## Actual Behavior

The logs are not extracted anymore due to:

[code]

## Steps to Reproduce the Problem

  1. Look at any result of e2e tests.

## Additional Info

This was introduced when enabling istio-injection in our test setup.  Kubernetes needs us to pick a proper contain

[2018-10-31 10:29] markusthoemmes opened #2364 "Logs are not extracted across all pods of a service."
## Expected Behavior

After a failed e2e tests, the logs of all pods of the system services are printed.

## Actual Behavior

Only the logs of the first pod of each service is printed.

## Steps to Reproduce the Problem

  1. Inspect any failed e2e test run.

[2018-10-31 10:54] markusthoemmes commented on #2364
/assign

[2018-10-31 12:21] lichuqiang commented on #2350
I believe it's a bug in the controller framework:

According to the [comments](https://github.com/knative/pkg/blob/master/controller/controller.go#L237), it is considered to re-queue keys on error, if only we don't call `WorkQueue.Forget`, which is in fact not the truth :(

The `Forget` func is only related to the failure records (NumRequeues ) in Ratelimiter, and to re-queue keys into the work qu

[2018-10-31 12:21] lichuqiang commented on #2350
/assign

[2018-10-31 13:42] lichuqiang commented on #2322
Yeah, that is what I mentioned "make things simple".

By "separate repo", you mean split out of the serving repo? I think making the controller an independent component (relative to the main controller) should be fine. We'll need at least one in-tree impls after all.

[2018-10-31 16:12] josephburnett commented on #2155
Hey @tanzeeb, any progress here?  This is a blocker for lowering scale-to-zero thresholds in e2e tests.

[2018-10-31 16:59] #2350 closed

[2018-10-31 17:02] mattmoor commented on #2359
/kind good-first-issue

[2018-10-31 17:07] mattmoor commented on #2334
The control plane lacks the context to inject this information, so I am going to remove the `/area API` from this.

How exactly do you envision this "injection" being implemented?  I could see this information being optionally present in base images, but have a hard time rationalizing this as a requirement of the contract.

[2018-10-31 17:09] mattmoor commented on #2274
This is supported in 1.11.  @dprotaso (with @bsnchan ) has an ancient change to add support for this.

There may be another issue for this, let me dig a bit

[2018-10-31 17:12] mattmoor commented on #2274
Let's use: https://github.com/knative/serving/issues/643

[2018-10-31 17:12] #2274 closed

[2018-10-31 17:19] mattmoor commented on #2101
This feels like one part of https://github.com/knative/serving/issues/2258.

[2018-10-31 17:19] akyyy opened #2367 "Clean up ServiceEntry for outbound stackdriver endpoint access."
/area monitoring
/area networking
/kind cleanup

## Expected Behavior
Istio has some common mechanism to allow network access to stackdriver endpoint.

## Actual Behavior
We added ServiceEntry
config/monitoring/metrics/stackdriver/100-stackdriver-serviceentry.yaml
in https://github.com/knative/serving/pull/2337

[2018-10-31 17:47] mattmoor commented on #2258
/assign @dgerd

[2018-10-31 17:56] jonjohnsonjr opened #2368 "Route failing to annotate revisions via duck patching"
## Expected Behavior

My route successfully annotates target revisions with lastPinned annotations.

## Actual Behavior

I see this:
[code]

## Steps to Reproduce the Problem

  1. Pull this (WIP) branch https://github.com/jonjohnsonjr/serving/tree/upgrade-tests
  2. Run ./test/upgrade-tests.sh

## Additional Info

/cc @greghaynes I believe https://github.com/knative/serving/pull/2333 fixes this?

[2018-10-31 18:13] greghaynes commented on #2368
I believe so, yes.

[2018-10-31 18:29] mattmoor commented on #487
Going to dup this back to https://github.com/knative/serving/issues/457 because it is linked from the spec :)

[2018-10-31 18:29] #487 closed

[2018-10-31 18:29] jonjohnsonjr commented on #2368
After patching (ha) in #2333 I see a new failure:
[code]

[2018-10-31 18:31] mattmoor commented on #457
/assign @k4leung4

[2018-10-31 18:34] mattmoor commented on #2132
@bbrowning I'm curious what you've been seeing lately?

/remove-area API

The core controllers are done, what's left is the autoscaler (still labeled)

[2018-10-31 18:37] mattmoor commented on #2136
I am curious how you are configuring this for the kubelet/dockerd to auth with the registry?

[2018-10-31 18:39] greghaynes commented on #2368
Interesting - I wonder what is responsible for handling that request. Were going to be setting media type to aplication/strategic-merge-patch+json I believe so whatever is on our serving end must not be aware of this.

[2018-10-31 18:43] greghaynes commented on #2368
uhoh - looks like using strategic-merge-patch with custom resources is not supported: https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/

[2018-10-31 19:02] greghaynes commented on #2136
For me the custom CA is added to the system CA bundle.

[2018-10-31 19:08] mattmoor commented on #2142
This isn't really the control plane so much as the runtime contract, but still a spec thing.

I suspect that this is WAI, but I'll defer to Evan to make the call, since he drove that spec.

/assign @evankanderson

[2018-10-31 19:09] mattmoor commented on #2127
We get this ask a lot.  Let's consider it for 0.3?

[2018-10-31 19:11] k4leung4 commented on #457
/assign

[2018-10-31 19:14] mattmoor commented on #2079
This is done.

[2018-10-31 19:14] #2079 closed

[2018-10-31 19:16] mattmoor commented on #2010
@steuhs Sorry, Github notifications are too much of a firehose.  Any progress here, or should we unassign?

[2018-10-31 19:29] mattmoor commented on #2025
@saturnism Can you open a separate feature request with the use case you have in mind?  This issue is specific to PVC, which is a specific class of volume (you seem interested in HostPath or EmptyDir?).

[2018-10-31 19:32] mattmoor commented on #2045
I believe this is done?

[2018-10-31 19:32] #2045 closed

[2018-10-31 19:35] mattmoor commented on #1973
I don't have any real objection to this, other than it's going to be a glorious pain to do before mid next year due to the K8s slips in CRD versioning.

cc @tcnghia

[2018-10-31 19:38] mattmoor commented on #1934
/assign @yanweiguo

[2018-10-31 19:41] mattmoor commented on #1838
@jonjohnsonjr Are we still seeing these?

[2018-10-31 19:54] mattmoor commented on #1697
I believe that this is a key part of: https://github.com/knative/serving/issues/1997

[2018-10-31 19:54] #1697 closed

[2018-10-31 19:55] mattmoor commented on #1794
Discussed with @evankanderson and going to close until a concrete scenario comes up.

[2018-10-31 19:55] #1794 closed

[2018-10-31 19:57] jonjohnsonjr commented on #1838
Looks like this hasn't failed in O(forever), I'd say it's fixed.

[2018-10-31 20:00] mattmoor commented on #1531
This is handled by Revision GC now.

thanks @greghaynes

[2018-10-31 20:00] #1531 closed

[2018-10-31 20:37] akyyy opened #2370 "Clean up duplicate logLevelKey and component field"
/area monitoring
/kind cleanup

## Expected Behavior
Clean up the fields.

## Actual Behavior
There is some duplicate fields in code after https://github.com/knative/serving/pull/2337 is in.
e.g. cmd/activator/main.go:
	logLevelKey    = "activator"
	component      = "activator"

[2018-10-31 20:42] mattmoor commented on #1740
We have a separate issue for this now.

[2018-10-31 20:42] #1740 closed

[2018-10-31 20:48] mattmoor commented on #1614
The error should be bubbled up like this: https://github.com/knative/serving/blob/master/docs/spec/errors.md#container-image-not-present-in-repository

_(the error itself is from the registry, and your mileage may vary)_

If you could share the output of `kubectl get ksvc -oyaml` it would be helpful.

[2018-10-31 21:01] mattmoor commented on #1612
I've seen teams expose something like the `metadata.resourceVersion` of the `ConfigMap` as a metric to track configuration rollouts across replicated services (this parallels our binary version discussion).

That wouldn't surface errors, but it would at least be a signal to operators that a new configmap wasn't being picked up.

[2018-10-31 21:12] mattmoor commented on #1662
Going to close without further feedback.

[2018-10-31 21:12] #1662 closed

[2018-10-31 21:17] mattmoor commented on #1642
Sorry for dropping this.

So I was coming at this from the perspective of the controller, where this is hard and the object's already been committed.

It is possible that we could leverage the [`UserInfo`](https://godoc.org/k8s.io/api/authentication/v1#UserInfo) portion of the [`AdmissionReview`](https://godoc.org/k8s.io/api/admission/v1beta1#AdmissionRequest) object in the webhook to decorate thi

[2018-10-31 21:22] mattmoor commented on #1595
Cleaning up backlog

[2018-10-31 21:22] #1595 closed

[2018-10-31 21:51] ZhiminXiang commented on #1590
Currently Route or kservice have no knowledge about the protocol type (HTTP/HTTPS) it serves as we don't provide an API to configure HTTPS.
I am working on TLS integration with Route. When it is ready, Route will have knowledge about the serving protocol type. At that point, it is feasible to add the protocol type in the Domain.

[2018-10-31 21:55] sixolet commented on #2210
@jchesterpivotal I agree with you that other alternatives aren't reliable, but only-ever-deploy-by-digest isn't user-friendly (or, if the user still deploys by tag but the client switches it to a digest, requires a confluence of concerns in the client). I'm trying to find a happy medium between the two.

[2018-10-31 22:01] mattmoor commented on #1489
This is long done.

[2018-10-31 22:01] #1489 closed

[2018-10-31 22:01] mattmoor commented on #1299
/unassign

[2018-10-31 22:02] mattmoor commented on #1277
@mdemirhan is this done?

[2018-10-31 22:03] mattmoor commented on #1211
This was recently done.

[2018-10-31 22:03] #1211 closed

[2018-10-31 22:06] mattmoor commented on #1221
This is done enough for now

[2018-10-31 22:06] #1221 closed

[2018-10-31 22:06] mattmoor commented on #1186
Going to close this out

[2018-10-31 22:06] #1186 closed

[2018-10-31 22:08] #947 closed, assigned to nobody

[2018-10-31 22:12] mattmoor commented on #770
No, this is the `ContainerConcurrency` field, which is in 0.2

[2018-10-31 22:12] #770 closed

[2018-10-31 22:16] mattmoor commented on #510
I think this is clearer now than it was, and issues exist to make it clearer still (e.g. moving activation into Revision's scope).

I'm going to close this to groom the backlog.

[2018-10-31 22:16] #510 closed

[2018-10-31 22:21] mattmoor commented on #499
/area test-and-release
/kind good-first-issue

Let's add a conformance test for a container that fails to start up, e.g. as an application in a dynamic language might due to a syntax error.

How it fails should be consistent with what we have currently documented in `doc/spec/errors.md`

[2018-10-31 22:26] #43 closed, assigned to nobody

[2018-10-31 22:35] mattmoor commented on #439
@trisberg With decoupled build in 0.2 you can start doing this.

**Before:**
[code]

**After:**
[code]

[2018-10-31 22:43] mattmoor commented on #439
_(Separate comment for the original issue)_

We should be able to achieve build elision by changing how we Create / Get builds for Revision to rely on a selector in place of the deterministic naming we have today.

As a strawman, we could serialize[1] the `build` and take its hash as hex, `H` then augment the build with:
[code]

We should then be able to efficiently query for an existing Build, an

[2018-10-31 22:49] mattmoor commented on #404
cc @dprotaso

We were discussing this a couple weeks ago.  Not sure if you have any interest in chasing it?

[2018-10-31 22:52] mattmoor commented on #496
@nrshrivatsan do you have any useful pointers for those topics?

[2018-10-31 22:53] jonjohnsonjr opened #2372 "Route controller ignoring config updates due to missing TypeMeta from informer"
## Expected Behavior

The Route controller should be reconciling on changes to Configurations.

## Actual Behavior

The Route controller does not reconcile some Configuration changes because the change has a different `ObjectReference` representation in the tracker.

## Steps to Reproduce the Problem

  1. Create a RunLatest service
  2. Upgrade knative/serving
  3. Update the service to point to

[2018-10-31 22:53] mattmoor commented on #561
For context, I believe we want this for the `ProgressDeadlineExceeded` handing in the Revision controller.

[2018-10-31 22:55] #645 closed

[2018-10-31 22:56] mattmoor commented on #669
ServingState is gone.

[2018-10-31 22:56] #669 closed

[2018-10-31 22:58] mattmoor commented on #706
/remove-area API

Can you update this with whether/how the control plane needs to be aware of this?  If it does, feel free to add back the API label.

[2018-10-31 22:58] mattmoor commented on #707
/remove-area API

Can you update this with whether/how the control plane needs to be aware of this?  If it does, feel free to add back the API label.

[2018-10-31 23:01] mattmoor commented on #813
/area networking

Is this a duplicate of: https://github.com/knative/serving/issues/707  If not, how is it different?

/remove-area API

I'm removing the API area for now because the control-plane implications are not clear.  If we need control plane changes, then please detail them and add back the label (maybe in a dedicated issue, since this feels like a meta-tracking-issue for an epic).

[2018-11-01 00:42] mattmoor commented on #2372
/area networking

[2018-11-01 00:59] mattmoor commented on #2372
/assign

[2018-11-01 01:05] mattmoor commented on #2372
@jonjohnsonjr also pointed me at this issue offline: https://github.com/kubernetes/apiextensions-apiserver/issues/29

[2018-11-01 01:54] zrss commented on #2350
thanks @lichuqiang , sorry for a long mute time :grimacing:

[2018-11-01 03:47] steuhs commented on #2010
@mattmoor I am not sure if I would have any bandwidth for this. You can feel free to unassign

[2018-11-01 04:06] lichuqiang commented on #1997
So activator would be aware of all of the related revisions info in the Split ?
Then I guess a requirement on activator is that it should be able to tell which of the revisions are active/inactive before deciding which one to activate.

Say the `Blue-internal` above is active, and `Green-internal` is not, when a request to Green-internal is redirected to activator, if the activator calls `ActiveEn

[2018-11-01 04:36] tcnghia commented on #2311
@fatkun after we make istio-proxy lives longer, do you still see queue-proxy shuts down quickly?

[2018-11-01 04:47] tcnghia commented on #2311
@lvjing2 yes, we currently don't have have a way to expose retry settings yet.

It is certainly a tradeoff between having nice retries and having duplicates in some cases.  Can you please file a separate issue to track exposing retry policy to users?

Thanks

[2018-11-01 05:54] lvjing2 commented on #2311
@tcnghia I think #2201 had tracked this.
The retries is good, and could fix a lot potential problems, for example holding the request among the time between the revision is ready, and the user-container is not ready(if not define the readiness).
But I think we should avoid the duplicates, cause it could possibly cause writing same data twice in db  or some other bad things.

[2018-11-01 07:33] lvjing2 opened #2377 "The request still dispatch to activator even there is running pod when set min replica"
## Expected Behavior
When set the `autoscaling.knative.dev/minScale: "1"`, so there would be at least one running pod for a knative service even on traffic for some times.
And the route should always point to `helloworld-go-00001-service.knative-serving.svc.cluster.local` even no traffic for time of `scale-to-zero-threshold`, so the request will not redirect to activator.

## Actual Behavior
The r

[2018-11-01 12:49] lvjing2 commented on #2377
@lichuqiang Thanks for point this out. But I think this still need a PR #2378  to apply the bound too.
And I am not quit clearly about why return 404, usually it should return 5xx. I will test once again.

[2018-11-01 13:03] lichuqiang commented on #2377
Personally I don't like the idea to change the behavior in kpa (revision) status setting. We should have better choice.
I think the original intention [here](https://github.com/knative/serving/blob/master/pkg/reconciler/v1alpha1/autoscaling/autoscaling.go#L211) is to reflect if a instance is receiving traffics, but not the reserved num replicas.

I'll leave this for autoscaling folks to decide any

[2018-11-01 15:18] lvjing2 commented on #2377
Maybe this contains diff meaning from diff side, I think it is also reasonable if treat it as the replicas that want to apply. Any other opinions are welcomed.

[2018-11-01 15:18] lvjing2 commented on #2377
Maybe this contains diff meaning from diff side, I think it is also reasonable if treat it as the replicas that want to apply. Any other opinions are welcomed.

[2018-11-01 16:29] #2343 closed

[2018-11-01 16:49] markusthoemmes opened #2379 "Unfold the metrics handling of activator and pod metrics."
## Expected Behavior

Activator and Pod-sent metrics can be happening in parallel and be considered "at once" to scale a revision.

## Actual Behavior

The metrics are seen separately. If we get meaningful pod-metrics we "forget" about activator metrics.

## Additional Info

I believe this is a prereq for any meaningful KBuffer work to happen, because then we'll have exactly that situation of havi

[2018-11-01 16:50] markusthoemmes commented on #2379
I broke it, I fix it. I'll give this a shot!

/assign

[2018-11-01 16:55] josephburnett opened #2380 "Rename Activator to KBuffer"
## Current

The [`activator`](https://github.com/knative/serving/tree/master/pkg/queue) component was previously responsible for:

1. catching and buffering requests for inactive revisions
2. activating the underlying revisions
3. proxying requests to the revision pods once they come up

Now that activation is done in the autoscaler (#2198) it's not really an "activator" anymore.  It is now respon

[2018-11-01 16:56] josephburnett commented on #2380
Note: this is a rename only--no change to functionality.

[2018-11-01 17:18] josephburnett opened #2381 "Rate limit Activator/KBuffer drain"
## Current Behavior

Currently the Activator/KBuffer ([rename in progress](https://github.com/knative/serving/issues/2380)) proxies **all** buffered requests to the underlying service the moment it becomes ready.  That means the first pod that shows up is slammed with requests.  Subsequent pods that come online cannot help out.

Example of a pod being overwhelmed: https://github.com/knative/servin

[2018-11-01 18:10] #2372 closed

[2018-11-01 18:30] mattmoor commented on #2377
So the Route (transitively) and hopefully soon the Revision (directly) handle hooking in the activator when a Revision is `Active = False`.

I don't think it should be a requirement for the KPA to return `Active = False` if it doesn't need the activator hooked in...  cc @josephburnett

[2018-11-01 19:01] #2368 closed

[2018-11-01 19:27] #1403 closed, assigned to adrcunha

[2018-11-01 19:29] adrcunha commented on #1439
Closing as it's being handled internally at Google.

[2018-11-01 19:44] vvraskin commented on #2381
/assign @vvraskin

[2018-11-01 21:18] tanzeeb commented on #2155
Hey @josephburnett, yes, I've got a working fix: https://github.com/tanzeeb/serving/tree/disable-scale-to-zero-during-activation.

Just cleaning up the code, will submit a PR soon.

[2018-11-01 21:30] adrcunha opened #2384 "Allow force running E2E tests against a specific GCP project"

[2018-11-01 22:06] vvraskin commented on #2380
/assign @vvraskin

[2018-11-01 22:06] vvraskin commented on #2381
/assign @vvraskin

[2018-11-01 22:18] #2222 closed

[2018-11-01 22:52] josephburnett commented on #2203
I'm taking a first stab at this.  But instead of having Prometheus scrape the pods, I'm having the Autoscaler scrape them directly.  This is because having Prometheus as a hard dependency and critical-path runtime component is a concern.

[2018-11-01 23:29] tanzeeb commented on #2155
Hi @josephburnett, submitted PR #2386 to fix this issue.

One note, In the reproduction steps, instead of:

 I added a `readinessProbe` to the `helloworld-go` sample.

[2018-11-01 23:43] tcnghia commented on #2203
Scraping pod is hard when sidecar injection / mTLS is enabled I believe.  This is a limitation of Istio, and for Prometheus we may have to use the version that comes with Istio to overcome this limitation.  Not sure if we can do this for our autoscaler.

/cc @ZhiminXiang

[2018-11-01 23:57] ZhiminXiang commented on #2203
Istio is working on a feature to support scraping pod from the Prometheus pre-installed by Istio when mTLS is enabled.
Currently we use our own Prometheus, not the one installed by Istio, which could potentially block scraping pod after mTLS is enabled.
/cc @mdemirhan

[2018-11-02 03:43] lvjing2 commented on #2311
I will close this, and open another one to track the problem about handling one request twice.

[2018-11-02 03:46] lvjing2 commented on #2311
I will close this, and open another one to track the problem about handling one request twice.

[2018-11-02 03:46] #2311 closed

[2018-11-02 03:57] lvjing2 opened #2388 "Make sure one request should only be executed once."
## Expected Behavior
One request should only be executed once.

## Actual Behavior
Currently after #2357 , the istio-proxy, queue-proxy, user-container will wait after 20s. but once 20s passed, the terminating order of this three container is still istio-proxy -> queue-proxy -> user-container in most case, especially when the user request takes some time to finish, so the request remained in user-

[2018-11-02 07:00] markusthoemmes commented on #663
As ServingState is gone, I think this is not applicable anymore?

/close

[2018-11-02 07:00] #663 closed

[2018-11-02 14:49] lvjing2 commented on #2213
Hi, I am agree with @costinm . `includeOutboundIPRanges` is useful in some case, and I think we should keep it.

The serviceEntry could be used to define which external host could be access in cluster, but can't define which should be blocked. But in my case, I just want to block the connection to some external IP ranges like `10.0.0.0/24`.
In my case, I need to use both includeOutboundIPRanges an

[2018-11-02 15:30] jcrossley3 opened #2390 "The `autoscaler` ServiceAccount isn't being used by anything"
## Expected Behavior

Since we have a `knative-serving-write` ClusterRole and a `knative-serving-autoscaler-write` ClusterRoleBinding linking it to the `autoscaler` ServiceAccount, I would expect it to be used somewhere.

## Actual Behavior

The autoscaler deployment uses the `controller` ServiceAccount like all the other deployments. Nothing appears to use the `autoscaler` ServiceAccount

## Addi

[2018-11-02 16:43] josephburnett commented on #2203
What makes it hard?

[2018-11-02 17:24] mattmoor opened #2391 "Default activator transports should use a shorter dial timeout"
The [default transports](https://github.com/knative/serving/blob/cfc65602a5d83ed8c982e0debdfa3a78c7ab8366/pkg/activator/util/transports.go#L47) used by the activator probably use longer connection timeouts than we want them to (30s).

I had a boolean logic bug that just turned the activator into a dumb request retrier, and it only manifested as 30s activations (vs. typically 4-5s).

You should be

[2018-11-02 18:04] ZhiminXiang commented on #2203
@josephburnett if we want to enable mTLS, then Prometheus is required to have Istio sidecar injected. After injecting sidecar into Prometheus, Prometheus is not able to scrape pod directly as Istio sidecar does not allow accessing Pod by using Pod IP.

[2018-11-02 19:48] tcnghia opened #2393 "Triage and tune Knative resource usage"
## Expected Behavior
Based on data we have an estimate of how much resources the Knative control pods are using, and how they grow.  Those we metrics will help us to tune the released yamls reasonably.

## Actual Behavior
We don't have the data & we don't have a tuned yaml.

[2018-11-02 19:59] mattmoor opened #2394 "Conditions for non-Fatal conditions"
cc @n3wscott @sixolet @evankanderson @steren @cooperneil

**tl;dr** This issue proposes the introduction of new non-Fatal sub-conditions, which would NOT result in a change to the "happy condition" on changes.  These would be suitable for non-Fatal _warnings_ about the state of the resource.

Feedback welcome.

### Background

Today, **all** subconditions contribute towards overall readiness, per

[2018-11-02 20:36] n3wscott commented on #2394
looks good to me

It might be nice to add something like log level to the condition?

[code]

default role or no role == main line happy or fatal condition.

[2018-11-02 20:38] mattmoor commented on #2394
@n3wscott My bias is to not, since these are a straight copy from the K8s API Principles.

[2018-11-02 20:39] sixolet commented on #2394
Can we call them "terminal" and "non-terminal"?

I nominate that (conventionally) terminal conditions end in `Ready` (or possibly `Succeeded` too), like `RoutesReady`. I'd like to be able to tell the difference at a glance, if possible.

[2018-11-02 20:41] mattmoor commented on #2394
@sixolet I think this is difficult until we have API versioning (cc @jonjohnsonjr )

[2018-11-02 20:44] n3wscott commented on #1590
domain does not typically have scheme, I think you want a URL or URI.

[2018-11-02 20:45] sixolet commented on #2394
Oh, as in we already have conditions we want to be terminal named random other things you mean? Yeah, maybe "going forward we do this"?

What other ways might we have of seeing at a glance which conditions are terminal? We can't add a field (the condition schema comes from k8s)

I don't think I want to write code to depend on the names of conditions, I just want my brain to be able to sort them pl

[2018-11-02 20:47] josephburnett commented on #2203
What technical reason prevents the Istio sidecar from allowing access by Pod IP?  E.g. can we fix this?

[2018-11-02 20:55] mattmoor commented on #2394
Exactly.

I'm curious if/how the influence of the subcondition on the Ready condition is useful/relevant for the client to know?  I think that in the most interesting cases for warnings, a condition turns `False`, but doesn't turn `Ready=False`.

I am curious what patterns you are thinking about that might not fit this naive mold?

[2018-11-02 20:56] n3wscott commented on #2394
The proposal given was suppose to be how conditions worked but I think it just has a bug.

[2018-11-02 21:10] mattmoor commented on #2394
@n3wscott I have a fix :)

[2018-11-02 21:15] tcnghia commented on #2203
One limitation is that all the network graph is replicated in all the Envoy sidecars.  Restricting the network nodes to K8s Services, VirtualServices, and similar helps them (a) reduce the graph size, and more than that (b) also reduce how much updates they need to handle.

There are pending work on Istio side to support incremental network update, but it is still in design phase.

[2018-11-02 21:34] sixolet commented on #2394
The subconditions of Ready are most interesting in showing the user their progress as the components of being Ready get ticked off one-by-one. For that, we wouldn't show warning conditions, we'd just show the warning after we've resolved whatever else has happened.

For example, when deploying you might see:
[code]

And then later
[code]

Representing the ConfigurationsReady and RoutesReady status

[2018-11-02 21:37] mattmoor commented on #2394
That does beg the question of how we show them :)

[2018-11-02 22:17] evankanderson commented on #2394
Do non-terminal statuses need to be Conditions? What if `Active` were another struct alongside Condition, rather than adding additional properties to the Condition?

[code]

Alternatively, we could have a generic Conditions-like-thing called "States" that provided some sort of lifecycle tracking if desired.

[2018-11-02 22:47] josephburnett commented on #2203
What I want is to stop injecting knowledge about the autoscaler into the deployment from within the revision controller which is a layering violation (@mattmoor).  I just want pods to expose their metrics in the standard Prometheus format and whatever autoscaling implementation is in charge of the `PodAutoscaler` will go get it.

The limitations I'm trying to work around are:

1. The goodies are o

[2018-11-02 22:56] evankanderson commented on #2394
Is `active` a non-terminal status of the sort that would suggest a warning? I think a facility for warnings is probably useful, but I want to make sure that we don't conflate the two. (Given the errors we were seeing where a Revision would go `Ready->False` when the revision was temporarily `Active=False`, I'm not sure we'd want to show a warning about `Active=False` if it's a normal part of succe

[2018-11-02 23:09] mattmoor commented on #2394
I could see some users wanting a warning indication that hitting their service would incur additional latency due to cold starts.  (shrug)

[2018-11-03 00:05] mattmoor commented on #2203
@evankanderson we push today, which has some problems:
1. We need to know where to push (hinders pluggability)
2. We don't authenticate the metrics endpoint at all, which puts more trust in the user pod than I'd like (think caller ID).

Switching to a pull model (theoretically) enables a trusted process to ask for request metrics from untrusted pods with a stronger sense of identity.

I'll pitch a

[2018-11-03 02:54] lvjing2 commented on #2377
Since the PR had been merged, so i will close this issue. thanks.

[2018-11-03 02:54] #2377 closed

[2018-11-03 11:18] lvjing2 commented on #2388
From my investigation, there are several problems related with this issues, the first one:
[problem with init pid in Scenario 1](https://engineeringblog.yelp.com/2016/01/dumb-init-an-init-for-docker.html)
For our helloworld-go example, the service in user-container is:
[code]
the service in queue-proxy is:
[code]
the service in istio-proxy is:
[code]
so according to the init pid problem, our user-

[2018-11-03 18:38] jsanda commented on #2391
@mattmoor I started reading up on the activator code yesterday and earlier today. I would like to work on this. I changed [line 102](https://github.com/knative/serving/blob/0b47b0c8b01fe89a8060a390851c40ffd06daf87/pkg/activator/revision.go#L102) to be ```if revision.Status.IsReady``` and called the helloworld-go service when no revision was ready. I didn't observe any issue. Can you describe a bit

[2018-11-03 21:51] mattmoor commented on #2391
1. Change the activator code to think the Revision is immediately ready
2. Change the scale-down knobs (bottom two) in `config/config-autoscaler.yaml` to 60s/30s (faster cycles)
3. Redeploy serving
4. Deploy sample app (I like `autoscale-go` in `knative/docs`)
5. Wait for the app to hit 0 pods
6. `time curl ...` should be about 30s

I also see `i/o timeout` log messages and `2` "attempts" to deliv

[2018-11-04 21:46] mattmoor commented on #2393
I ran the e2e/conformance tests with `-count=10` and here's roughly what that did to the resource utilization of our 4 components (according to the GKE dashboard).  I tried to place the cursor (dotted vertical line) at roughly where the tests began:

![screenshot 2018-11-04 at 1 42 54 pm](https://user-images.githubusercontent.com/2442466/47970243-dcfa1480-e037-11e8-9491-3858ba97e937.png)
![screens

[2018-11-05 05:01] evankanderson commented on #2334
This feels like an environment variable that should be present based on the builder (and conveyed via the Docker image metadata), rather than something managed by the serving API.

[2018-11-05 05:02] evankanderson commented on #2334
(I'm going to close in a week if there's isn't a clear design/justification for doing this in the serving stack rather than the builder.)

[2018-11-05 05:07] oyiptong commented on #2334
Sure, adding it via the builder makes sense. Closing bug.

[2018-11-05 05:07] #2334 closed

[2018-11-05 06:48] lichuqiang commented on #2359
As users can easily hit the issue (especially during debugging, say deploy helloworld demo in two namespaces), and currently the route name specified in hosts is not taking effect.
I'd like to remove it first, and leave the issue to see if we'll need other update later

[2018-11-05 07:00] markusthoemmes commented on #1718
Do we know where the resource is really wasted? From recent discussions I got the feeling that istio is burning through CPU cycles by default.

[2018-11-05 07:04] lichuqiang commented on #2390
/kind good-first-issue

[2018-11-05 07:15] markusthoemmes commented on #2388
The "pid=1" problem is I think very well known in Docker/Containerland. It depends on how the user builds their containers. [Here's](https://hynek.me/articles/docker-signals/) a good summary of what somebody can do wrong when building their container. We should consider adding this to the runtime contract (gonna open an issue on that).

[2018-11-05 07:17] lichuqiang commented on #1582
/assign

[2018-11-05 07:19] markusthoemmes opened #2404 "Add signal handling to the runtime contracrt."
#2388 has revealed, that handling of SIGTERM in the user container can be brittle. The runtime contract doesn't contain any information about the signal sent when a container is killed. I think we could also add a notice for the user to be aware of the particularities of signal handling in a container environment.

[2018-11-05 08:29] #2362 closed

[2018-11-05 09:19] lichuqiang commented on #1997
Trying to sum up the header stuff:
1. In VitualService, we'll need to append route header info of all its splits: revisions name/namespace, percent.
2. In activator, it flip coins to choose a revision. And also, I think it should replace the origin host header in request with destination service of the chosen revision (e.g. hello-world-01-internal). This can also avoid the issue caused by envoy pr

[2018-11-05 13:16] lvjing2 commented on #2388
After fixing the problem of pid 1, then the problem of this issues also gone, so I will close this issue. Thanks for markus' help.

[2018-11-05 13:16] #2388 closed

[2018-11-05 14:57] mattmoor commented on #1718
It's not us, and this issue is a dup.  I linked several resource graphs in another issue yesterday.

[2018-11-05 14:57] mattmoor commented on #1718
ah that issue is the dup, anyways it has graphs: https://github.com/knative/serving/issues/2393

[2018-11-05 14:57] #1718 closed

[2018-11-05 16:23] josephburnett commented on #2390
I recommend we do not use it.  The autoscaler now contains a reconciler like the controller and it's just as much a core, trusted component as the controller.  They should just use one service account IMO.

[2018-11-05 17:53] ahmetb commented on #1986
@mattmoor yeah this was when the pod was scaled back to zero (I let the pod sit with no requests for a day).

[2018-11-05 18:49] imikushin commented on #1997
@lichuqiang How does splitting work now when all revisions are active?

[2018-11-05 20:29] cppforlife commented on #2322
yup.

we can still package one as part of default knative installation (yamls), but i dont think we need to keep source code in this repo.

[2018-11-05 20:45] jsanda commented on #2391
I am not sure why I was not able to reproduce earlier, but I just managed to:

[code]

I did a `curl` prior to the above and it did result in an I/O timeout. I also noted two corresponding messages in the log. I will spend some more time looking into this since I have now reproduced.

[2018-11-05 21:17] adrcunha opened #2407 "Release 0.2 in GCS is missing YAML files"
## Expected Behavior

All the YAML files in the GitHub release should also be in the GCS.

## Actual Behavior

Only `release.yaml` is in the GCS:

https://pantheon.corp.google.com/storage/browser/knative-releases/build/previous/v0.2.0/?project=knative-releases&organizationId=433637338589

[2018-11-05 21:19] adrcunha commented on #2407
Actually, it's not only 0.2:

https://pantheon.corp.google.com/storage/browser/knative-releases/build/previous/v20181103-3e2db7c/?project=knative-releases&organizationId=433637338589

[2018-11-05 21:22] josephburnett commented on #2203
@mattmoor, your third strawman proposal is not so bad.  One thing we have going for us is that we don't have to have all the data points to determine what the likely average pod request concurrency is.  We can sample the population.

Because Istio is load-balancing, I would expect population variance to be pretty low.  E.g. if traffic spikes, I would expect to see a spike in traffic across most of

[2018-11-05 21:36] josephburnett commented on #2203
Also, sampling will dramatically reduce the load on the autoscaler for large revisions.  E.g. for a revision with 1000 pods, the autoscaler will only need to process 3 data points per second instead of 1000.

[2018-11-05 21:40] mattmoor commented on #2322
So I think making Ingress reliably pluggable is Priority 1, but moving our Istio implementation out-of-tree is Priority 2.  Right now our extension points are a bit of an experiment, and I'd like to see a second implementation appear before committing to moving the Istio implementation out-of-tree.  We would need to continue to vendor an implementation regardless to run e2e testing, but I'd be fin

[2018-11-05 21:40] mattmoor commented on #439
/assign

[2018-11-05 21:41] josephburnett commented on #1927
I'm handling part of this in https://github.com/knative/serving/issues/2203

[2018-11-05 21:55] mattmoor commented on #1962
We need 1.14 for the broader story here, which is sadly well past 0.3 scope.

[2018-11-06 00:08] imikushin commented on #1997
Got it (after staring at the current code for a while): VirtualService doesn't currently support adding different headers to different splits of traffic! 🦆

[2018-11-06 00:28] mattmoor commented on #2354
@tcnghia do you want to fix and send a CP?

[2018-11-06 00:31] adrcunha commented on #2354
#2382 fixes this. I would like to cherry-pick it instead because it contains other stuff that will be used by the GKE add-on.

[2018-11-06 01:09] mattmoor commented on #1131
@dprotaso Are you still interested in this?

[2018-11-06 01:10] mattmoor commented on #642
@dprotaso @bsnchan This should be unblocked.  GKE has 1.11, so we can actually test with sub-resources 🎉

[2018-11-06 01:11] mattmoor commented on #643
@dprotaso @bsnchan This should be unblocked.  GKE has 1.11, so we can actually test with sub-resources 🎉

[2018-11-06 04:53] #2155 closed

[2018-11-06 12:29] lvjing2 commented on #2351
Hi, is this problem still there? if yes, then I'd like try to dig it.

[2018-11-06 14:30] #2390 closed

[2018-11-06 14:47] mattmoor commented on #2344
Ping @josephburnett @markusthoemmes

Thoughts?

[2018-11-06 14:58] markusthoemmes commented on #2344
Thanks for the ping, I'll have to try to reproduce this. Scaling to 50 definitely sounds horribly wrong here.

It's important to doublecheck that this was tested after the LameDuck metrics has made its way into our code. @looperC can you verify that?

[2018-11-06 15:05] #1838 closed

[2018-11-06 15:06] #1079 closed

[2018-11-06 15:06] mattmoor commented on #1246
Going to close this as it feels like a K8s / Operators problem, not a K8s problem.

[2018-11-06 15:06] #1246 closed

[2018-11-06 15:07] mattmoor commented on #1583
I think the right path forward here is to have the Revision manage activation, and then there is no confusion.

[2018-11-06 15:07] #1583 closed

[2018-11-06 15:13] mattmoor commented on #2359
@tcnghia why not close this?

[2018-11-06 15:15] mattmoor commented on #2354
Ok, please work with @tcnghia to get this in, since we should be preparing 0.2.1 in the next day or so.

[2018-11-06 15:40] tanzeeb commented on #2318
/assign @tanzeeb

[2018-11-06 15:54] #2359 closed

[2018-11-06 15:55] glyn commented on #2203
When a sample turns out to be inaccurate, which it is bound to be some of the time, the autoscaler will either under- or over-scale. Under-scaling will presumably impact response time; over-scaling will increase costs unnecessarily. A later sample may correct the problem although the overall effect will be some measure of instability, possibly even under a fairly constant load.

Perhaps decreasing

[2018-11-06 16:23] jchesterpivotal commented on #2203
Yes, I think reducing sample rate as the total load increases is fine.

The overall behaviour of the system should be favourably non-linear with scale, since small populations are noisier and pooling sources of variability can lower average variability. As load goes up, service levels should become more stable for any given amount of change in load.

I haven't thought through how this would affect

[2018-11-06 17:30] glyn commented on #2203
I suspect that a PID controller with variable coefficients opens up a whole realm of possibilities, some good and some not so good.

[2018-11-06 17:55] adrcunha commented on #2351
Actually it's way better now: in the last 24 runs, it only failed once. I'm closing this issue, thanks everyone.

[2018-11-06 17:55] #2351 closed

[2018-11-06 18:09] #2354 closed

[2018-11-06 18:32] jchesterpivotal commented on #2203
Touché.

[2018-11-06 18:34] markusthoemmes commented on #2404
/assign

Will give this a shot shortly.

[2018-11-06 18:41] #1993 closed

[2018-11-06 18:50] josephburnett commented on #2203
The affects of a bad sample will be more pronounced in the 6-second panic window (rather than the 60-second stable window).  But the panic window is only used to scale when the autoscaler is panicking.  And then it never decreases the number of pod, precisely to prevent this kind of flapping (instability).

With 3 qps, a single bad sample will be averaged with 180 other samples.  So the effect of

[2018-11-06 18:58] adrcunha opened #2413 "Sudden drop in code coverage for serving"
## Expected Behavior

Code coverage should be around 90%.

## Actual Behavior

Code coverage dropped to 70% on 10/30, when several new files with  no coverage were added to the reports:

![image](https://user-images.githubusercontent.com/35786489/48087087-3f2b5480-e1b3-11e8-8731-68ad3a4952ff.png)

![image](https://user-images.githubusercontent.com/35786489/48087096-44889f00-e1b3-11e8-89ee-1785ddd5

[2018-11-06 19:29] josephburnett commented on #2203
I'm going to move forward with the proposal to sample a metrics service, owned by the KPA: https://github.com/knative/serving/issues/2203#issuecomment-436039743

We can continue to discuss what the appropriate rate per scale is.

[2018-11-06 19:36] jchesterpivotal commented on #2203
I think 3 samples/sec is fine; we can tune it easily enough with further testing and simulation.

[2018-11-06 20:32] tcnghia commented on #2291
/remove-area networking

[2018-11-06 20:33] tcnghia commented on #2127
/assign @lichuqiang

[2018-11-06 20:37] tcnghia commented on #2367
Duplicate of https://github.com/knative/serving/issues/2213

[2018-11-06 20:37] #2367 closed

[2018-11-06 20:41] tcnghia commented on #1969
/assign @lichuqiang

[2018-11-06 20:43] tcnghia commented on #1952
@anuruddhal this seems like a problem with K8s, not Knative?

[2018-11-06 20:46] tcnghia commented on #1903
@ZhiminXiang is this still the case?  can we try reinstating the Route again?

[2018-11-06 20:47] tcnghia commented on #1890
duplicate of #1969

[2018-11-06 20:48] tcnghia commented on #1837
This is now tracked in https://github.com/knative/serving/issues/2127, which is planned to be part of Knative 0.3

[2018-11-06 20:48] #1837 closed

[2018-11-06 20:49] tcnghia commented on #1574
Duplicate of https://github.com/knative/serving/issues/2076

[2018-11-06 20:49] #1574 closed

[2018-11-06 20:53] tcnghia commented on #1448
@markusthoemmes I remember that you made significant changes to activator retries.  Is this issue still relevant?

[2018-11-06 20:56] tcnghia commented on #766
Knative Serving now can work fine without sidecar injection, so I am closing this issue.

[2018-11-06 20:56] #766 closed

[2018-11-06 20:59] tcnghia commented on #611
/assign @tcnghia

[2018-11-06 21:00] tcnghia commented on #457
dup https://github.com/knative/serving/issues/2201

[2018-11-06 21:29] greghaynes commented on #2322
I am also happy to take this task on if no one has already begun

[2018-11-06 21:37] adrcunha commented on #2413
This affects all repos, and the root cause is that we're now including packages that were not there in the report before (e.g. `cmd`). There is, however, room for cleanup. For example, code under `test` shouldn't be included in the report (https://github.com/knative/test-infra/issues/242). This should be easily accomplished by updating `.gitattributes`.

[2018-11-06 21:58] tcnghia commented on #2322
thanks!

/assign @greghaynes

[2018-11-06 22:11] #439 closed

[2018-11-06 22:59] #1934 closed

[2018-11-07 01:15] josephburnett opened #2417 "Editing Configuration create two Revisions"
## Expected Behavior

When I edit a Configuration's RevisionTemplate, I expect it to stamp out *one* new Revision with my changes.

## Actual Behavior

Instead it stamps out *two* new Revisions.  One with my changes.  And one without.

## Steps to Reproduce the Problem

  1. Deploy a Service (e.g. [`helloworld-go`](https://github.com/knative/docs/tree/master/serving/samples/helloworld-go))
  2. Ed

[2018-11-07 01:41] josephburnett commented on #2417
Perhaps this is the Service reconciling the Configuration back to the expected RevisionTemplate.  @mattmoor how do we tell a Service to "abandon" a Route and Configuration when we're ready to graduate to more manual control?

I would expect if a Configuration is under the control of a Service, it would simply disallow editing of the RevisionTemplate (to prevent this flip-flopping).  And to have a

[2018-11-07 01:44] josephburnett commented on #2203
One interesting point @tcnghia brought up is the accuracy of our scale-to-zero signal when we are sampling metrics (instead of collecting them all).  I think we are still okay because 1) requests will be routed through the KBuffer *before* we turn down the Deployment, and the KBuffer still pushes metrics to the Autoscaler.  And 2) because before scale-to-zero, the Deployment will be at low scale (

[2018-11-07 02:04] sebgoa commented on #2300
Is it possible that this creates a race during the apply of

[code]

Due to the fact that Image objects are being created during this apply and that the endpoint may not be ready yet ?

[2018-11-07 02:43] sebgoa commented on #2300
see:

[code]

[2018-11-07 04:56] mattmoor commented on #2019
@akyyy I'm reopening since there are a couple more components

[2018-11-07 05:09] mattmoor commented on #2322
thanks @greghaynes.

I feel like this is an advanced enough use case that keeping it outside of the core spec to avoid distracting the typical user is probably what we want.  The annotations should only really be relevant to end users if their Knative operator has installed **multiple** implementations of a particular subsystem, which feels incredibly sophisticated (and niche) to me.

I think that

[2018-11-07 10:22] markusthoemmes opened #2421 "Intermittent issues due to non-graceful shutdown."
## Expected Behavior

When an application is scaled down, it only does so after all active connections of a given pod have finished.

## Actual Behavior

Connections are dropped on the floor.

## Steps to Reproduce the Problem

  1. Create an application (for example observed-concurrency from e2e tests)
  2. Run a long-running request
  3. Remove the application while the request is in flight

##

[2018-11-07 10:31] markusthoemmes commented on #2421
This works as expected when the user-container handles SIGTERM correctly and istio-injection is turned off.

[2018-11-07 11:32] looperC commented on #2344
@lvjing2 Thx a lot. I will try to log some information in autoscaler to find out if lameDuck is true!

[2018-11-07 11:33] looperC commented on #2344
@markusthoemmes Of course!
The bug is still here. I reproduced it just now.
You can try it. It's easy to reproduce.

[2018-11-07 14:20] steren commented on #1590
So, how can I build a client that knows what is the full URL? (in order to display a nice link to the service)
Do we need to introduce a new field?

[2018-11-07 15:29] saturnism commented on #2025
@mattmoor i think #2260 would do (i followed from there). Thanks!

[2018-11-07 15:34] saturnism commented on #2260
In my use case to share pre-compiled class data cache, it really just need a shared file system on the host/node. I.e., the class data cache is only shared w/ containers on the same host.

I also see a use case where I want to share read-only volume across my container instances.

[2018-11-07 18:34] jessiezcc opened #2427 "Prow job to automate weekly Knative cadence"
/area test-and-release

## Expected Behavior

Have automated release based on weekly cadence.

The Prow job running the automated release build **must not** use the *knative-test* bot as per #2555.

## Actual Behavior

Releases are manually cut and no pre-defined cadence.

[2018-11-07 18:39] josephburnett opened #2428 "Namespace inheritance"
## Current Behavior

Annotations and labels are inherited from Service to Configuration to Revision via RevisionTemplate.  And we have some cluster-level configuration in the `/config` folder.  However there is not a way to configure a Namespace.

## Desired Behavior

Annotations and Labels on the Namespace should be inherited by Revisions if they are not specified in the RevisionTemplate.

E.g. a

[2018-11-07 22:49] mattmoor commented on #2394
We decided to move ahead with this in the API Working Group today.  In addition to the initial proposal, we want to add a sort of "log level" to indicate the severity of subconditions.

@evankanderson added from slack:

I think this field name is clear, as are the values.  I think the one thing I'd quibble about is the "default" aspect.  I think we instead want:
 * "terminal" conditions manifest a

[2018-11-07 23:01] sixolet commented on #2394
I like the severity field; I don't understand how Info is any more breaking than Warning though.

[2018-11-07 23:52] #2370 closed

[2018-11-08 02:35] lichuqiang commented on #1969
Took a closer look at the issue, here are the tasks I think needed to achieve this:

1. add a config item for the gateway url in a new configmap, and default its value to `istio-ingressgateway.istio-system.svc.cluster.local`, ClusterIngress reconciler is supposed to watch the configmap, and trigger global resync on a change.

2. update existing `knative-ingressgateway` in test codes to the default

[2018-11-08 05:43] cooperneil opened #2430 "Service only reports Ready=True when rollout is complete"
cc @mattmoor @dgerd @sixolet @steren @shefaliv @mikehelmick @evankanderson

**tl;dr** this issue describes a scenario where the Service reports Ready=True before rollout is complete, and proposes a change (possibly with a new condition) that allows reporting Readiness more correctly.

## Problem Statement
Consider this runLatest Service scenario - what should Service's Ready condition = in this ca

[2018-11-08 05:43] ZhiminXiang commented on #1903
I just ran 100 times of TestRunLatestService and TestRouteCreation. And there is no prober error. I will send out a PR to re-enable the prober in the tests.

[2018-11-08 07:04] markusthoemmes commented on #1126
/unassign

Not working on this currently.

[2018-11-08 15:37] tcnghia commented on #1969
@lichuqiang #1,#2 sound good to me.
For #3, we could include current `knative-ingressgateway` template as an example, and may be link to the appropriate Istio discussion so our users know where to get help.  In the end I think this area belongs to the Istio side and users would get better support there.

[2018-11-08 16:31] mattmoor commented on #2260
Generally, I do think we need volume support, but again the set of volumes we allow should necessarily be limited.

_Some thoughts on the volume types we're discussing..._

PersistentVolumes are the hallmark of stateful workloads, and while they could legitimately be used in `ReadMany` mode, we lack a way to validate that the claimed persistent volume has that mode.  Moreover, typically mounting t

[2018-11-08 16:34] mattmoor commented on #2430
I added this to the future topics for the WG.  Are you up for leading a discussion next week @cooperneil ?

[2018-11-08 18:43] mattmoor commented on #1573
We should consider replacing the activator's direct client usage with something informer based.  This is only peripherally related to this issue, but is probably how the only real action I'd take on our side to fix this.

The activator and activation in general is at the mercy of the availability of the K8s control plane (I've been meaning to write up an issue on this for a while).

[2018-11-08 18:43] mattmoor commented on #1573
cc @dgerd

[2018-11-08 18:52] k4leung4 commented on #1818
/assign

[2018-11-08 23:44] #2223 closed

[2018-11-08 23:44] #2224 closed

[2018-11-09 03:13] mattmoor opened #2442 "Conditions are SUPER annoying in our table tests"
e.g. https://github.com/knative/serving/pull/2436#discussion_r232127743

[2018-11-09 03:14] mattmoor opened #2443 "Route Global Resync test is still flaky"
e.g. https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/2397/pull-knative-serving-unit-tests/1060728363024388097/

cc @imikushin

[2018-11-09 05:04] lvjing2 commented on #1997
Hi, I am curious about why Configuration must witness its readiness before configure it's route during initial deployment. I think we can also configure it's route even it is not ready. Can someone help me?

[2018-11-09 10:04] markusthoemmes opened #2448 "Create an E2E test for killing a pod while a request is in flight."
I recently did a few fixes regarding graceful shutdown of applications in Knative (which is at least needed for autoscaling, as it will destory pods at will). We should have an e2e test that makes sure a request survives a pod being killed.

[2018-11-09 10:04] markusthoemmes commented on #2448
/assign

[2018-11-09 10:15] markusthoemmes opened #2449 "Intermittent issue in ewe/TestBuildAndServe"
See https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/2406/pull-knative-serving-integration-tests/1060830031942520834/ for one failure of this test. Haven't dug in just yet, just logging the failure here.

[2018-11-09 15:44] markusthoemmes commented on #2449
Aaaand again, will have a look into this:

https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/2450/pull-knative-serving-integration-tests/1060912575593582594/

[2018-11-09 16:02] #2246 closed

[2018-11-09 16:34] #2364 closed

[2018-11-09 18:39] jonjohnsonjr opened #2452 "Surface events with generic Conditions differ"
See comment here: https://github.com/knative/serving/pull/2438#discussion_r232285892

Publishing an event that just says "I updated status" isn't particularly useful, but we should be able to determine more interesting transitions via condition severity...

After #2436 lands:

[2018-11-09 19:02] akyyy commented on #2019
@mdemirhan will take this when he adds new metrics.

[2018-11-09 20:10] mattmoor opened #2454 "Table test should capture K8s Events produced."
We have a `Recorder` in each of our `Reconciler` implementations, through which we emit Kubernetes `Events`.  These aren't currently captured by the table testing as a side effect of reconciliation, but probably should be.

[2018-11-09 20:38] #1133 closed

[2018-11-09 20:57] mattmoor commented on #2394
We've picked up changes from knative/pkg that do this, and Active is about to become non-terminal in https://github.com/knative/serving/pull/2397

[2018-11-09 20:57] #2394 closed

[2018-11-10 16:40] mattmoor opened #2458 "Set KO_DATA_PATH when running tests"
I see the following in our e2e test logs.  I believe this is because our default logging package is used by our test code as well and the `knative/pkg/changeset` package is trying and failing to find `$KO_DATA_PATH/HEAD`:
[code]

I **believe** we could get commit information in our e2e log output if we set `KO_DATA_PATH=$REPO_ROOT/.git` before invoking the tests.

cc @adrcunha

[2018-11-10 16:40] mattmoor commented on #2458
cc @yanweiguo

[2018-11-10 16:54] mattmoor opened #2459 "TestBuildAndServe has an intermittent flake"
Here's an example from the continuous build: https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1061136803127365632

The error is:
[code]

It looks like the problem is actually that for some reason the initial spec stamps out two revisions (which should obviously have the same buildref) and then the third gets its own fresh build.

We should investigate why the in

[2018-11-11 14:18] zouyee opened #2461 "Modify the file suffix to the correct format"
<!--
Pro-tip: You can leave this block commented, and it still works!

Select the appropriate areas for your issue:
Modify the file suffix to the correct format (yaml->json).

/area test-and-release

Classify what kind of issue this is:

/kind doc

[2018-11-11 15:41] mattmoor opened #2462 "TestNewRouteCallsSyncHandler is flaky"
We intermittently hit the following flake during our test runs:
https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1061363294306045952

The error is:
[code]

[2018-11-11 15:50] mattmoor opened #2463 "Galley setup often fails in e2e"
The Galley pod seems to be failing on a secret and sidecar injection doesn't appear to be working.

https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1061423820465770496

There seem to be roughly 3 of these over the weekend.

cc @tcnghia

[2018-11-11 15:52] mattmoor opened #2464 "Intermittent "no healthy upstream" errors"
Our e2e tests intermittently fail with "no healthy upstream", I've seen it on "helloworld" and the "EnvVar" test.

https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1061287797089898496

[2018-11-11 15:56] mattmoor opened #2465 "autoscaling e2e intermittently drops requests"
[code]

I think the previous one of these was closed, since it was focused on this during the final scale up.  We still see this intermittently.

https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1061333095283691520

[2018-11-11 16:38] mattmoor commented on #2462
More useful output:
[code]

You can see that it clearly times out, however, the Route is successfully synced twice in the first ~50ms after the test begins.

So far, I have been unable to reproduce this locally running it `10000` times normally, or `1000` with `-race`.

 cc @adrcunha for any ideas on how what I might be doing is different from Prow.

[2018-11-12 03:59] lvjing2 opened #2467 "Decouple autoscaler with the status of kpa/revision"
## Expected Behavior
autoscaler can decide whether scale to/from zero by the it's own algorithm, no need to depend so much on status of kpa/revision

## Actual Behavior
autoscaler need to set or check the status of kpa/revision to decide whether scale to/from zero

## Additional Info
This is my personal proposal, and I create a poc to test this idea. but still need to discuss more about this.
#246

[2018-11-12 12:40] lichuqiang commented on #2443
I introduced a similar test in https://github.com/knative/serving/pull/2434,
The case is running successfully locally, but keep failing in CI (never succeed)

[2018-11-12 16:37] adrianludwin opened #2470 "serving/CONTRIBUTIONS.md appears to point to itself"
## Expected Behavior

serving/CONTRIBUTING.md should point to docs/community/CONTRIBUTING.md, and *should* read:

## Actual Behavior

The link does work, but the text reads (emphasis added):

[2018-11-12 16:40] adrianludwin commented on #2470
\assign adrianludwin

[2018-11-12 16:41] adrianludwin commented on #2470
/assign @adrianludwin

[2018-11-12 16:58] dgerd commented on #1573
/assign @dgerd

I am going to take a stab at replacing the client usage with an informer.

[2018-11-12 18:32] markusthoemmes commented on #1909
I think this is done after @tanzeeb's guarding of activating revisions.

[2018-11-12 18:32] #1909 closed

[2018-11-12 20:18] #2470 closed

[2018-11-12 20:52] #2404 closed

[2018-11-12 23:42] tanzeeb commented on #2318
/unassign

[2018-11-13 05:12] jsanda commented on #2282
/assign

[2018-11-13 16:16] jsanda commented on #2282
/unassign

[2018-11-13 16:56] sebgoa opened #2475 "resources requirements hard-coded ?"
## this is not a problem just a question:

It seems that the resource requirements of a Pod started for a revisions are hard-coded:

https://github.com/knative/serving/blob/release-0.2/pkg/reconciler/v1alpha1/revision/resources/constants.go#L50

https://github.com/knative/serving/blob/release-0.2/pkg/apis/serving/v1alpha1/revision_validation.go#L109

Hence we cannot set resources in a Configuratio

[2018-11-13 17:22] josephburnett commented on #2475
There has been some discussion about allowing resource requests on a Configuration: https://github.com/knative/serving/issues/1998 https://github.com/knative/serving/issues/2099 which I think would be totally reasonable.  Even if it doesn't make it into the spec, a Knative-specific annotation would be a useful knob (like [`minScale`](https://github.com/knative/serving/blob/0506b90f61317baf8a8f293a

[2018-11-13 18:11] jonjohnsonjr commented on #1996
I believe we can get around this by doing what is described here: https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/#trusting-tls-in-a-cluster

[2018-11-13 18:11] jonjohnsonjr commented on #1996
/assign

[2018-11-13 18:37] bbrowning commented on #2136
The `SSL_CERT_FILE` and `SSL_CERT_DIR` environment variables can be set to point Go towards any custom CA certificates needed. So, it's up to the person deploying Serving's controller to ensure the necessary CA certificates get mounted as a volume into the pod and reference from those environment variables.

In a vanilla Kubernetes setup with a registry using certificates signed by the cluster roo

[2018-11-13 18:40] bbrowning commented on #1996
Specifically for TLS issues (ignoring the authentication side of this), I described at https://github.com/knative/serving/issues/2136#issuecomment-438387033 how to get self-signed CA certificates trusted by the Serving controller.

[2018-11-13 18:43] jonjohnsonjr commented on #2136
/assign

[2018-11-13 18:49] greghaynes commented on #2136
Awesome, so this may be mostly 'solved', would be great to get an example / some docs about this.

[2018-11-13 18:53] jonjohnsonjr commented on #2136
I'm going to just load these certs by default in the controller.

[2018-11-13 20:12] sebgoa opened #2478 "Custom domain not working in 0.2.1"
Hi, I deployed 0.2.1 , created a service which deployed a Pod successfully.

I edit the `config-domain` cm to set a custom domain, everything synced properly but I cannot hit the service via the `knative-ingressgateway` DNS domain I configured.

Here is the configmap:

[code]

Running service and pod

[code]

Two services were created in my namespace including the externalName pointing to `knative

[2018-11-13 20:16] sebgoa commented on #2478
not even strange actually. it seems to target the `queue-proxy` port of the `queue` sidecar...

[2018-11-13 20:30] adrcunha opened #2479 "E2E tests fail on Prow with go 1.11 / cloud SDK 225"
When making Prow use go 1.11.1 and Cloud SDK 225, E2E tests started failing with different errrors:

https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/2468/pull-knative-serving-integration-tests/1062426675620352001/
[code]

https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/2437/pull-knative-serving-integration-tests/1062427808908709890/
[co

[2018-11-13 20:35] adrcunha commented on #2479
Actually, the last link points to a Prow job using go 1.10 and cloud SDK 221. The root cause for these errors might be unrelated to Prow or the go/cloud version.

[2018-11-13 20:46] #2413 closed

[2018-11-13 21:36] VeerMuchandi opened #2480 "Autoscaling not working anymore."
## Expected Behavior
kubernetes-version=v1.11.3
istio version=1.0.2
knative version=v0.2.1

Autoscaling should work.

## Actual Behavior
Autoscaling example does not really autoscale. It just runs one pod all the time in spite of load.

## Steps to Reproduce the Problem

  1. Install knative on minikube as described here https://github.com/knative/docs/blob/master/install/Knative-with-Minikube.md

[2018-11-13 21:43] imikushin commented on #2478
Did you check the status of route and revision (and kpa)? Logs from controller, activator, your service pod sidecar (envoy proxy)?

[2018-11-13 22:28] mattmoor commented on #2478
/area networking
/assign @ZhiminXiang

@ZhiminXiang Can you TAL at this?

[2018-11-13 22:49] k4leung4 opened #2482 "Remove K8S_CLUSTER_OVERRIDE env var for e2e/conformance test"
/area test-and-release
/kind cleanup

it seems unnecessary to support the K8S_CLUSTER_OVERRIDE env as it should have access everything it needs via kubeconfig

[2018-11-13 23:33] adrcunha opened #2483 "Run nightly builds on Knative release branches"
## Expected Behavior

Release branches need to be tested as often as possible to find breakages early.

## Actual Behavior

Only the master branch is tested and have nightly builds created.

[2018-11-13 23:37] sebgoa commented on #2478
and the istio proxy also has errors:

[code]

[2018-11-14 00:08] mdemirhan commented on #2478
Can you try doing a curl directly to your ingress gateway's IP with a header to rule out any DNS configuration issues? Something like:
[code]

Also, is this a brand new cluster, or an upgraded one? The duplicate entry errors from Istio looks interesting. Can you try and delete those knative services and recreate them and see if that fixes anything?

[2018-11-14 00:09] sebgoa commented on #2478
I removed some services. It seems  I had virtualservices in the `knative-serving` namespace and the _user_ namespaces that were conflicting. Maybe due to the upgrade.

Now the istio proxy is only erroring on this:

[code]

[2018-11-14 00:14] sebgoa commented on #2478
The `queue-proxy` sidecars gives an error from the start:

[code]

[2018-11-14 00:55] greghaynes opened #2484 "Kubernetes adds 2s to cold-start time"
## Expected Behavior

In order to deliver low cold-start times user applications need to be started quickly, ideally in several hundred ms.

## Actual Behavior

We observe a regular ~2second pod startup time for an otherwise idle kubeadm cluster with one worker node using calico.

## Additional Info

This issue is to track work related to pod startup time in our larger cold-start time reduction ef

[2018-11-14 00:58] greghaynes opened #2485 "Istio adds over 2seconds to startup time"
## Expected Behavior

In order to deliver low cold-start times user applications need to be started quickly, ideally in several hundred ms.

## Actual Behavior

We observe a regular ~2.3 second additional delay when using istio with knative. This is likely primarily due to the init container needed to perform iptables programming.

## Additional Info

This issue is to track work related to istio s

[2018-11-14 01:20] greghaynes commented on #2485
There is an upstream effort to provide an alternative method for performing iptables programming which happens on the hypervisor via a cni adaptor: https://github.com/istio/cni. It would be great to get some numbers for how much this reduces startup time.

[2018-11-14 01:40] lichuqiang commented on #2478
/assign
I'll also take a look

[2018-11-14 02:10] imikushin commented on #1997
Istio currently (as of v1.1-snapshot2) can't correctly work with ExternalName services: istio/istio#9950

But there's a workaround (also mentioned in the issue ☝️)

[2018-11-14 02:44] lichuqiang commented on #1997
Thanks for digging this!
What I kind of concerned about is that to manage activation, revision controller would have to be aware of istio resource (ServiceEntry) this way, which is not what we expect to see.

[2018-11-14 04:34] adrcunha commented on #2483
/assign @chaodaiG

[2018-11-14 05:46] solsson commented on #1996
@bbrowning Very good! Our only remaining problem then with a local registry (specifically https://github.com/triggermesh/knative-local-registry) is how to make dockerd resolve and accept the same image URLs. Do you have any insights on that? To edit /etc/hosts is the best I've come up with.

From the same referenced issue:

@greghaynes Do you also set up dockerd or name resolution in some way?

[2018-11-14 06:06] adrcunha commented on #2458
Setting `KO_DATA_PATH` as you suggested and running the tests locally (in a branch called *kodata*) result in a similar error:

[code]

[2018-11-14 06:47] lichuqiang commented on #2478
Failed to reproduce the issue locally.
Will reach out to @sebgoa to see what happened in his env.

[2018-11-14 15:20] mattmoor opened #2488 "Need unit test coverage of Service's Pinned/Release modes with Ready Route/Configuration"
I noticed that the only coverage of these modes in our table test cover the first reconcile, but not the expected shape upon completion.

[2018-11-14 15:37] mattmoor opened #2489 "Better "missing update" errors in table test"
Today the "missing update" errors from the table test are a bit unwieldy to debug.  We should try to improve the diagnostic by finding the object we expected to mutate and do a `cmp.Diff` so it is abundantly clear what the expected delta was.

[2018-11-14 16:44] squee1945 commented on #2102
Any progress on this suggestion? In particular `K_MEMORY_MB`?

Aside, I prefer the naming `K_TIMEOUT_S`, i.e., `S`, not `SEC` so as to use the actual abbreviation.

[2018-11-14 16:45] steren commented on #2102
CC @mattmoor @evankanderson

[2018-11-14 16:54] mattmoor commented on #2102
/assign @evankanderson

[2018-11-14 18:10] yanweiguo commented on #2458
The test branch is a non-committed branch. The content of .git/HEAD is "ref: refs/heads/<branch name>" instead of a commit ID. If the test is run in a committed branch, there should not be such warning.

[2018-11-14 19:08] imikushin commented on #1997
Well, that's exactly my concern. So, my current plan is
1. Have istio/istio#9950 fixed (either myself or with some help)
2. Get back to implementing this.

[2018-11-14 19:32] dgerd commented on #2332
/assign @dgerd

[2018-11-14 20:41] adrcunha commented on #2384
Implemented by https://github.com/knative/test-infra/pull/255

[2018-11-14 20:41] #2384 closed

[2018-11-14 21:21] greghaynes opened #2495 "Automate cold-start timing collection"
## Expected Behavior

I expect to have a record of time spent broken down in to components during cold-start. Including:

- How much time is spent before we ask our deployment to scale up
- How much time is spent before our user application begins executing

This should be automated and ideally reported to somewhere we can track over time (similar to testgrid).

## Actual Behavior

These measureme

[2018-11-14 21:21] greghaynes commented on #2495
/milestone Scaling: Sub-Second Cold Start

[2018-11-14 21:41] greghaynes opened #2496 "Inject envoy locally"
## Expected Behavior

As a CRD controller we own the pod definition and therefore can add the istio containers to our pod spec for free.

## Actual Behavior

We rely on istio's mutating webhook to inject it's containers. https://github.com/istio/istio/issues/3816 is the upstream issue for this. This adds some unecessary delay to our pod startup time and is therefore part of our efforts to drive do

[2018-11-14 22:35] greghaynes opened #2497 "Remove k8s controlplane performance variance from our cold-start time"
## Expected Behavior

In order to have more control over application scheduling and startup we should run our activator as a daemonset. This opens the door for us to solve scheduling and startup delays however we / upstream sees fit.

## Actual Behavior

Activator runs as a normal pod.

[2018-11-14 22:44] greghaynes opened #2498 "Prototype local scheduling of pods"
## Expected Behavior

In order to cold-start applications in under 1 second we need our pod startup time to be well below this.

## Actual Behavior

Right now pod startup time is ~2seconds (https://github.com/knative/serving/issues/2484)

## Additional Info

Investigate using local pod definitions to reduce this time. It would be great to see how much of a time gain working around the k8s scheduli

[2018-11-15 01:39] mattmoor opened #2499 "Unit test coverage for MarkRevisionCreationFailed"
It came up in review of  #2493 that we are missing unit test coverage of `MarkRevisionCreationFailed` in `configuration_types_test.go`, we should fill the gap.

[2018-11-15 16:08] adrianludwin commented on #2482
From an offline discussion with @k4leung4 :

[2018-11-15 16:44] mattmoor commented on #2499
/assign

[2018-11-15 16:48] mattmoor commented on #2442
I think that the function option approach will improve this dramatically, I'm starting to land these changes now for ~3 controllers.

[2018-11-15 17:14] #2499 closed

[2018-11-15 19:58] #1920 closed

[2018-11-15 19:58] #153 closed, assigned to dewitt, mchmarny

[2018-11-16 15:58] #1348 closed

[2018-11-16 15:59] adrcunha commented on #2121
I haven't seen this for a while, considering it obsolete.

[2018-11-16 15:59] #2121 closed

[2018-11-16 16:00] adrcunha commented on #1319
I haven't seen this for a long time, closing this as obsolete.

[2018-11-16 16:00] #1319 closed

[2018-11-16 16:00] adrcunha commented on #1273
This has been stable for a long time, closing.

[2018-11-16 16:00] #1273 closed

[2018-11-16 16:02] adrcunha commented on #824
Documentation about tests was fixed some time ago, this issue can be closed.

[2018-11-16 16:02] #824 closed

[2018-11-16 16:03] adrcunha commented on #788
Fixed by https://github.com/knative/serving/pull/2232

[2018-11-16 16:03] #788 closed

[2018-11-16 16:04] adrcunha commented on #815
This is already fixed since May, closing.

[2018-11-16 16:04] #815 closed

[2018-11-16 18:00] #2483 closed

[2018-11-16 19:09] #2448 closed

[2018-11-16 19:54] cooperneil commented on #2430
Missed the WG discussion on Wednesday, but heard there was discussion of if the logic should be in the Route rather than Service.  I think it needs to at least be in the Service, due to the race condition of a Service being notified of a Configuration update before the Route being notified.

In this scenario, if the logic was only in the Route, I think it would have a stale positive indicating its

[2018-11-16 20:03] dgerd commented on #2430
I believe the discussion was if the Service should expose the logic as part
of the “RouteReady” condition on the Service rather than adding a new
condition to the Service. It would add additional logic to route ready in
the service controller to go to Unknown with a reason instead of straight
propagation from route’s condition so it would not have the race described.

Sorry for the confusion.

On

[2018-11-16 21:03] neosab opened #2507 "`Severity: Error` on successful terminal conditions seems misleading"
At first glance, `Severity: Error` on Status can mislead someone into thinking that the resource failed. This is just my opinion, feel free to close this issue 😃

The following is the `Status` block from a successful eventing `channel` instance.
[code]

I think it makes sense to have it on failed terminal conditions (i.e `Status: false` or `unknown`) and failed/successful non-terminal conditions.

[2018-11-16 23:26] mattmoor opened #2509 "kbuffer rename breaks updating"
/assign @tcnghia @josephburnett

I just pulled in the kbuffer change, and it left around the `activator` deployment.  This needs work, but what worries me more is that every Revision's Deployment (which we don't reconcile) is pushing traffic to the wrong service name.

We need to rollback this change, unless our confidence is 100% that we'll land the kbuffer change before 0.3.

[2018-11-16 23:56] josephburnett commented on #2509
cc: @vvraskin

[2018-11-18 05:06] cooperneil commented on #2430
Oh, got it. So in that 3rd option, the RoutesReady and ConfigurationsReady remain terminal conditions, and the conditions would look like:

[code]

I think I actually prefer that to the other 2 alternatives.  Thoughts?

[2018-11-18 21:31] yuzisun opened #2513 "Unable to create Istio virtual service after upgrading to serving v0.2.2 from v0.1.1"
## Expected Behavior
launch example helloworld-python should create istio virtual service  but only cluster ingress is created.

## Actual Behavior
Got error in serving controller log

E1118 19:28:37.208915       1 event.go:259] Could not construct reference to:
[code]
due to: 'no kind is registered for the type v1alpha3.VirtualService'. Will not report event: 'Normal' 'Updated' 'Updated status fo

[2018-11-19 00:37] lvjing2 commented on #2513
Hi, Did you also update you istio?

[2018-11-19 00:38] sebgoa opened #2514 "RBAC issues with serving controller"
/area API

/kind question
/kind bug

I have never had issues with 0.1 but been trying 0.2.1 and 0.2.2 and cannot get those releases to work. I am on GKE.

The latest errors I am seeing are in the serving controllers. There seems be missing RBAC roles:

[code]

[2018-11-19 01:00] sebgoa commented on #2514
I restarted the Pod and these errors disappeared.

I checked the sa and it seems to have the proper rbac clusterolebinding of `knative-serving-admin-controller`

[2018-11-19 01:01] sebgoa commented on #2513
I am seeing something similar. The revisions never becomes ready.

There are no virtualservices created.

That's on a fresh 0.2.1 install in a fresh GKE cluster.

[2018-11-19 01:11] yuzisun commented on #2513
I can replicate the same on Minikube with v0.2.1 following
https://github.com/knative/docs/blob/master/install/Knative-with-Minikube.md

[2018-11-19 01:12] lichuqiang commented on #2513
The "No kind registered" error is reported by k8s events broadcaster.
Virtualservices are created in knative-serving namespace (but not the route namespace) from v2.0 on

[2018-11-19 02:42] lichuqiang opened #2515 "Istio resources events are not reported as expected"
## Expected Behavior
virtualservice related events get reported normally

## Actual Behavior
The events failed to get reported with error:  'no kind is registered for the type v1alpha3.VirtualService'. Will not report event: 'Normal' 'Updated' 'Updated status for VirtualService ...

## Steps to Reproduce the Problem

  1. create a kservice demo.
  2. check controller log info for VirtualService ev

[2018-11-19 02:44] lichuqiang commented on #2322
/reopen

[2018-11-19 04:16] tcnghia commented on #2513
NoTraffic means that Revision was scaled to 0.  Were you able to send requests to your revision?

[2018-11-19 05:09] mattmoor commented on #2514
Maybe the Pod started up before the changes to RBAC were applied?

Can you confirm that this was an upgrade vs. a fresh install?

/assign @jonjohnsonjr

[2018-11-19 05:10] mattmoor commented on #2465
This is one of the more common e2e flakes I'm seeing in nightly.

@tcnghia @josephburnett Can you find someone to root cause this?

[2018-11-19 06:33] gyliu513 opened #2517 "Enable POWER support for Knative Serving"
## Expected Behavior
Knative Serving only support running on x86 but no POWER support yet, it would be great if Knative Serving can also run on POWER.

[code]

/cc @zxdiscovery

[2018-11-19 06:34] gyliu513 commented on #2517
/area build
/kind doc
/kind feature
/kind proposal

[2018-11-19 07:03] #2515 closed

[2018-11-19 17:01] josephburnett commented on #2509
How should we proceed?

I suggest we do this:
1. change the pod and service labels back to "activator" but leave the rest of the rename.
2. open an issue to rename the labels to "kbuffer" *and* reconcile deployments.
3. cleanup the activator deployment.  cc @jonjohnsonjr who has been working on upgrade testing.  Any idea how we could do this?

[2018-11-19 17:10] josephburnett commented on #2509
Chatting with @akyyy I think that we should just rollback the rename.  I'll put out some pull requests.

[2018-11-19 17:22] sebgoa commented on #2514
this must have been a transient error, so I am going to close this. I am not seeing it anymore.

[2018-11-19 17:22] #2514 closed

[2018-11-19 17:30] vvraskin commented on #2509
Just had a private chat with Joe, we could remove it if its urgent. However, if the timing is ok, I could take a look or consult with @jonjohnsonjr on the solution.
To be honest I'm still laking knowledge in the field of isio - so cannot propose a proper solution right now.

[2018-11-19 17:46] josephburnett commented on #2509
The solution touches on a number of things.  Istio routing, deployment reconciling, cleaning up system resources ("activator" deployment).  We do need to figure that stuff out.  But maybe not yet.  I think that I just jumped the gun here on the rename.

Besides, @tcnghia is working on replacing / moving the activator with an Envoy filter.  So we might skip the rename if that works out.

[2018-11-19 19:46] #2509 closed

[2018-11-19 21:30] steren opened #2521 "Clients are not able to know the values of unspecified attributes"
Use case: I want to build a client that displays details about Knative revisions, in particular, the `timeout` or `container.resources.limits.memory` settings. The users of this client should be able to know what is the timeout or memory for every one of their deployed revision.

Problem: When developers are not setting `Configuration.spec.revisionTemplate.spec.timeoutSeconds` or `Configuration.sp

[2018-11-19 21:30] steren commented on #2521
CC @konryd @sixolet

[2018-11-19 22:04] cooperneil commented on #2521
Seems that we _could_ populate system defaulted values in the spec.  Not sure how well that conforms to k8s style. @mattmoor, any thoughts?

[2018-11-19 23:47] cooperneil commented on #2521
Chatting with @sixolet, one issue with populating the default value in the spec is that it becomes difficult to determine a customer-provider vs system-defaulted value when a default changes

[2018-11-20 01:32] mattmoor commented on #2521
We set defaults in the spec via a synchronous mutating webhook.

What this means is that the defaults are populated and available in the version of the object returned by the API mutation (e.g. update):
[code]

This follows a bunch of K8s precedent in this space, and has led to some fun reconciliation loops when defaulted values are ignored when updating child objects (e.g. the default looks like

[2018-11-20 01:32] mattmoor commented on #2521
I'm inclined to close this if there's nothing else?

[2018-11-20 01:38] steren commented on #2521
Please only close when we have a solution to the original problem. The fact that k8s does not have a solution is not an appropriate answer in my opinion.

What about using the `status` field?

What about capturing an "official" way to document defaults (that clients could easily depend on programmatically)

[2018-11-20 01:48] mattmoor commented on #2521
It is possible that this could be conveyed through the OpenAPI schema support in CRDs, which we don't; take advantage of due to lack of tooling (last I looked).

@steren I'm not trying to dodge the question, I thought it was answered... :)

Simply: once created the field is ALWAYS set, so done.  Perhaps I'm missing something?

[2018-11-20 01:51] steren commented on #2521
I understand the value is set once the resource is created, but: What are the default values of `timeoutSeconds` or `container.resources.limits.memory`? do they vary across implementations or clusters? Should client hardcode them?

[2018-11-20 02:03] sebgoa commented on #2478
many thanks to @tcnghia for finding the problem. There was some left over object from a Istio install that happened out of band from the knative install.

The culprit was:

[code]

Which blocked traffic. Removing the object solved the problem.

[2018-11-20 02:03] #2478 closed

[2018-11-20 02:15] mattmoor commented on #2521
In knative, we don't currently expose this value as a knob in a configmap, but I could see an operator wanting to configure these.  What's less clear to me is why a client would care (in advance)?

[2018-11-20 02:18] mrmcmuffinz opened #2524 "Make Queue Reporting Periods Accurate"
Per discussion here https://github.com/knative/serving/pull/2358#discussion_r234724327, opening issue to track effort.

[2018-11-20 04:04] steren commented on #2521
I might be misunderstanding, but when I look at the following Revision, I do not see what is the concurrency, timeout or memory of the revision:

Can you tell me how I can retrieve the info?

[code]

[2018-11-20 04:31] mattmoor commented on #2521
0.2 doesn't have `timeoutSeconds` yet, we default that [here](https://github.com/knative/serving/blob/c92a2491d38938cd5303be655a0dbc4a805b7a7b/pkg/apis/serving/v1alpha1/revision_defaults.go#L41-L43) at HEAD.

I believe we deprecated `ConcurrencyModel` in favor of `ContainerConcurrency`, and we default the latter to `0` (unlimited) unless the legacy option is specified (as `Single`), in which case

[2018-11-20 04:54] steren commented on #2521
OK, so I understand that when a field something has a default, our clients can expect to read it in the spec.

This will be the case for `timeoutSeconds`
And it is not the case for `ContainerConcurrency` because the default value is 0, which is equivalent to "unset"

[2018-11-20 04:54] #2521 closed

[2018-11-20 17:02] #1903 closed

[2018-11-20 18:59] mattmoor commented on #2380
/reopen

[2018-11-20 21:01] adrcunha commented on #2458
Is this error expected even when the change is in a PR (i.e., not yet merged to the master branch)? Like https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/2526/pull-knative-serving-integration-tests/1064981887061069826/

[2018-11-20 21:03] yanweiguo commented on #2458
Yes

[2018-11-20 22:07] k4leung4 opened #2528 "Revision Timeout interacts oddly with ClusterIngress timeout/retries"
With the introduction of revision timeout, it was noticed that it was triggering the retry mechanism from cluster ingress.
What happens is that the revision timeout happens, returning a 503 response.
The cluster ingress sees the 503 and retries it.
This retry mechanism is not exposed to the user and will always retry 503s.
As the user does not have visibility/control of this retry mechanism, it is

[2018-11-20 22:43] alculquicondor opened #2529 "Knative deployment has issues with latest released artifacts"
/area test-and-release
/kind bug

I'm attempting to deploy knative from artifacts here:
https://storage.googleapis.com/knative-releases/serving/latest/
After `kubectl apply` succeeds, the controller logs have messages such as the following:

[code]

And creation of services doesn't succeed creating the resources.

I believe this was working a couple of days ago.

## Steps to Reproduce the Problem

[2018-11-20 23:11] k4leung4 commented on #2528
/delelete kind/doc

[2018-11-20 23:11] k4leung4 commented on #2528
/delete kind/doc

[2018-11-20 23:45] #457 closed

[2018-11-20 23:48] steren commented on #2521
So then, why don't I see `ContainerConcurrency: 100` in my revision describe if this is the default value that is given to me?

[2018-11-21 00:02] alculquicondor commented on #2529
I might have committed a mistake while creating the services. I'll provide more information tomorrow. Quieting those logs will be useful though, thanks.

[2018-11-21 08:09] wasylkowski-a commented on #2484
@mwielgus @wojtek-t

[2018-11-21 15:34] alculquicondor opened #2533 "Service does not get routed"
/kind bug

After following the steps in #2529, creating a service succeeds, but it doesn't get routed. In particular, no `virtualservice` gets created for it.

Used YAML is from [autoscale-go](https://github.com/knative/docs/blob/master/serving/samples/autoscale-go/service.yaml), deployed with `ko`.

[2018-11-21 15:35] mattmoor commented on #2019
@mdemirhan what's left here?  Do we just need [this](https://github.com/knative/serving/pull/2337/files#diff-928396b259f4f6fed95075b9312dbf7fR175) in the controller and webhook?

[2018-11-21 18:44] alculquicondor commented on #2533
Just deployed from https://storage.googleapis.com/knative-releases/serving/previous/v0.2.2 and found no issues

[2018-11-21 19:16] jasonkeene opened #2534 "Enable TLS for fluentd"
It appears as though the fluentd forward protocol is not secured via TLS. It is exposed as a service here:

https://github.com/knative/serving/blob/1f7c59ec4a108a91b76b9d69796e1162b7168122/config/monitoring/logging/elasticsearch/200-fluentd.yaml#L62-L83 https://github.com/knative/serving/blob/1f7c59ec4a108a91b76b9d69796e1162b7168122/config/monitoring/logging/stackdriver/200-fluentd.yaml#L62-L83

#

[2018-11-21 22:01] tanzeeb commented on #707
/assign

[2018-11-21 22:01] tanzeeb commented on #813
/assign

[2018-11-21 22:35] akyyy commented on #2019
Yes, the metrics will go to Stackdriver or Prometheus automatically based on config-observability. We just need to add controller and webhook metrics.

[2018-11-22 01:17] lichuqiang commented on #2533
Sounds like the service reconciler did not get route created due to some reason.
Can you take a look at the controller log for more detail?

[2018-11-22 06:40] zxDiscovery opened #2536 "Knative v0.2.1 and v0.2.2 doesn't create the virtualservice when I run the sample helloword-go"
## Expected Behavior
[Hello World - Go sample](https://github.com/knative/docs/tree/master/serving/samples/helloworld-go)

curl -H "Host: helloworld-go.default.example.com" http://{IP_ADDRESS}
Hello World: Go Sample v1!

## Actual Behavior
[code]
## Steps to Reproduce the Problem

Follow by the steps in the [Hello World - Go sample](https://github.com/knative/docs/tree/master/serving/samples/hello

[2018-11-22 06:57] zxDiscovery commented on #2536
The virtualservice on knative v0.1.1 as follows:
[code]

[2018-11-22 09:02] lichuqiang commented on #2536
Can you take a look at your revision status, and also, check if the clusteringress instance was created?

[2018-11-22 09:06] lichuqiang commented on #2536
I think we can find something useful in route controller log

[2018-11-23 03:03] ZhiminXiang commented on #2534
@jasonkeene are you using Istio sidecar proxy and taking advantage of Istio's mutual TLS feature? I think this is a right way to go.
Mutual TLS is not enabled within Knative yet. We have a plan to support Istio mTLS (see [issue](https://github.com/knative/serving/issues/539)) in the future.

[2018-11-23 03:30] zxDiscovery commented on #2536
@lichuqiang  I don't know how to check the clusteringress instance. Can you tell me how to do that? Thank you.

[2018-11-23 03:37] lichuqiang commented on #2536
Seems your revision is not ready. That's why the route controller did not created the child resources.
Can you paste the status of your revision(not kservice) instance?

[2018-11-23 04:05] zxDiscovery commented on #2536
@lichuqiang   The revision instance as follows:
[code]

[2018-11-23 06:46] lichuqiang commented on #2536
Looks like the `Active` condition was set to `Deploying` at first, but never updated later(it should update on kpa status update).
Can you take a look at the `kpa` resource? : `kubectl get kpa -o yaml`

Also, cc @markusthoemmes for autoscaling insight.

[2018-11-23 06:59] ZhiminXiang commented on #2536
According to the result of `kubectl get pod -n knative-serving` in the [comment](https://github.com/knative/serving/issues/2536#issue-383399337), the autoscaler pod was missing, which may be the reason why the status of the kpa resource was not updated.
@zxDiscovery could you please double check if the autoscaler was deployed?

[2018-11-23 07:21] zxDiscovery commented on #2536
@lichuqiang  ``kpa``resource as follows:
[code]

@ZhiminXiang
There is no autoscaler pod in the ``knative-serving`` namespaces on my environment,  and also in the knative v0.1.1.

/cc @gyliu513

[2018-11-24 00:51] tanzeeb commented on #706
/assign

[2018-11-24 14:51] justingrayston commented on #2218
I have this too and so no monitoring or logging, which is making debugging really hard. I only thought to check the logging after spending quite a while trying to debug the app :)

[2018-11-25 01:36] zxDiscovery commented on #2536
It's OK now on my environment.  I put the ``namespaces knative-serving`` into ``psp ibm-privileged-psp``.  The pod ``autoscaler`` run normally.
[code]

So close this issue. Thank you! @lichuqiang  @ZhiminXiang @gyliu513

[2018-11-25 01:36] #2536 closed

[2018-11-26 00:38] adrianludwin commented on #2482
@k4leung4 This will affect all Knative tests, not just Serving ones, correct?

[2018-11-26 03:08] enhendrickson commented on #1952
I have the same issue with a stock install of Docker for Mac with Kubernetes 1.10 enabled.

[2018-11-26 15:37] jasonkeene commented on #2534
The daemonset for the fluentd service is not using an Istio sidecar proxy. I suppose when Isto mTLS support lands it should be considered for this service.

[2018-11-26 16:05] k4leung4 commented on #2482
I would assume so, yes.

[2018-11-26 16:47] #2529 closed

[2018-11-26 17:31] akyyy opened #2543 "Revision Pod Counts dashboard shows -1 for requested pods."
/area autoscale
/area monitoring

/kind bug

## Expected Behavior
Requested pod count should not be negative.

## Actual Behavior
Requested pod count is -1 initially.

## Steps to Reproduce the Problem
  0. Using commands at https://github.com/knative/serving/blob/master/DEVELOPMENT.md
  1. Deploy knative
  2. Deploy helloworld example.
  3. Deploy monitoring components.
  4. Observe "Scaling Debu

[2018-11-26 18:12] alculquicondor commented on #2533
Closing as I can no longer reproduce.

[2018-11-26 18:12] #2533 closed

[2018-11-26 18:33] akyyy commented on #2543
I didn't see this after redeployment, probably due to private code.

[2018-11-26 18:33] #2543 closed

[2018-11-26 19:15] alculquicondor commented on #2099
Is this still being looked at?

[2018-11-26 20:06] evankanderson commented on #2099
Take a look at #2117, which has a fix for this but is awaiting passing unit tests.

[2018-11-26 23:06] ahmetb opened #2549 "API docs for Service don't list revisionTemplate field"
/kind doc
/area API

API docs for `Service` currently don't explain `runLatest.configuration.revisionTemplate` field.

API documentation in question: https://github.com/knative/serving/blob/3bb9010483c37fdc08b3b3adc644abd903327c16/docs/spec/spec.md#service

I think `revisionTemplate` field matters because it's used in the Knative quickstart sample ([helloworld-go](https://github.com/knative/docs/b

[2018-11-27 07:41] markusthoemmes commented on #2543
I think this can happen indeed, when metrics are not yet being collected the autoscaler returns -1. I'll guard the metric against negative values and instead report nothing (which is what -1 stands for: "nothing to scale on")

[2018-11-27 12:20] #2037 closed

[2018-11-27 18:01] tcnghia opened #2553 "Have a backup repository for our released artifacts"
## Expected Behavior
We have a back up location for our Knative Serving artifacts.

## Actual Behavior
We don't.

[2018-11-27 18:09] tcnghia opened #2554 "Enable object versioning for our release artifact GCR buckets"
## Expected Behavior
We have object versioning for our GCR bucket, to undo accidental bad delete/overwrites.

## Actual Behavior
We don't.

## Additional Info

[2018-11-27 18:12] tcnghia opened #2555 "We should only use knative-releases for public released artifacts"
## Expected Behavior
We should knative-releases bucket exclusively for public releases (vX.Y.Z releases) to avoid accident cleanups of nightly and other ephemeral releases.

Nightly should be published to knative-nightly bucket.

## Actual Behavior
Nightly is currently published to knative-releases GCS/GCR buckets.

[2018-11-27 20:14] adrcunha commented on #2427
The Prow job running the automated release build **must not** use the *knative-test* bot as per #2555.

[2018-11-27 22:04] tcnghia commented on #2322
@greghaynes @lichuqiang  I believe this issue can be closed?  PR #2445 is related but not strictly required for this issue.

[2018-11-27 23:21] mattmoor commented on #2517
/assign @jonjohnsonjr

This needs fat image support in `ko`

[2018-11-27 23:30] mattmoor commented on #2462
/area test-and-release
/assign @jessiezcc

[2018-11-27 23:40] mattmoor commented on #2216
/assign @pmorie

[2018-11-27 23:41] mattmoor commented on #2210
@sixolet I believe this is done?

[2018-11-27 23:42] adrcunha commented on #2462
Sorry, I missed this issue. 5 days before you opened this issue, the test infra was updated to use exactly the same command line on Prow and locally, so that doesn't seem to be the issue. I can think of two things to check next: a) version of the tools used (go, kubetest, etc); b) the computing environment (VM x bare metal, including RAM and CPU)

[2018-11-27 23:43] mattmoor commented on #2179
/area test-and-release

[2018-11-27 23:46] mattmoor commented on #2102
The memory version of this gets really fun in the presence of VPA unless we can use the downward API.

[2018-11-27 23:47] mattmoor commented on #2087
/assign @jonjohnsonjr

Feels like a good use of ggcr

[2018-11-27 23:49] mattmoor commented on #2084
Going to close to clean up the backlog.

[2018-11-27 23:49] mdemirhan commented on #2101
This is duplicate of #2258.

[2018-11-27 23:49] #2101 closed

[2018-11-27 23:50] mattmoor commented on #2025
closing this because PVC will likely remain out of scope and we have issues tracking the inclusion of non-PVC volumes.

[2018-11-27 23:50] #2025 closed

[2018-11-27 23:51] #2084 closed

[2018-11-27 23:56] mattmoor commented on #1818
@k4leung4 isn't this done?

[2018-11-27 23:58] mdemirhan commented on #400
Sink resource is the replacement for this.

[2018-11-27 23:58] #400 closed

[2018-11-27 23:58] #386 closed

[2018-11-27 23:58] k4leung4 commented on #1818
this is done.

[2018-11-27 23:58] k4leung4 commented on #1818
/close

[2018-11-27 23:58] #1818 closed

[2018-11-28 00:01] mattmoor commented on #1991
@nrshrivatsan Ack, but that assumes a relatively well curated image.  Based on GCR data, a 100MB container image (compressed) is in the 20th percentile(!).  Also consider that image size is generally inversely proportional to user skill, and serverless generally aims to provide a lower barrier to entry (read: lower skill => larger images).

[2018-11-28 00:27] #1614 closed, assigned to nobody

[2018-11-28 00:32] mattmoor commented on #1683
cc @jonjohnsonjr

Related to digest resolution.

[2018-11-28 00:32] adrcunha commented on #1700
Nothing, this is a dupe of #1720.

[2018-11-28 00:32] #1700 closed

[2018-11-28 00:33] mattmoor commented on #1591
This seems stale :)

[2018-11-28 00:33] #1591 closed

[2018-11-28 00:35] mattmoor commented on #1466
Yes, the list of CommitFile objects in the PR object contain metadata showing moves.

[2018-11-28 00:37] mattmoor commented on #1593
This seems to have been fixed, and the path has moved.

[2018-11-28 00:37] #1593 closed

[2018-11-28 00:37] mattmoor commented on #1507
I did this a while ago as part of the KPA work.

[2018-11-28 00:37] #1507 closed

[2018-11-28 00:38] mattmoor commented on #1238
/kind good-first-issue

[2018-11-28 00:40] adrcunha commented on #1593
This was fixed by https://github.com/knative/serving/pull/2469

[2018-11-28 00:47] mattmoor commented on #828
duplicate of: https://github.com/knative/serving/issues/639

[2018-11-28 00:47] #828 closed

[2018-11-28 00:49] mattmoor commented on #680
Closing in favor of: https://github.com/knative/serving/pull/2532 to cleanup backlog

[2018-11-28 00:49] #680 closed

[2018-11-28 00:53] mattmoor commented on #780
I'm not sure this is possible / practical.  I think the API Coverage experiment is intending to try to approximate this, but it's an experiment.

/assign @dushyanthsc

[2018-11-28 01:03] mattmoor commented on #1128
@dprotaso do you want to tackle any follow ups here as part of the 1.11 sub-resource scope?

[2018-11-28 01:10] mattmoor commented on #1244
@mdemirhan Should we just close this in favor of some other issue?

[2018-11-28 01:17] mattmoor commented on #648
I think my inclination here would be to bias towards expanding the duck-type contract between serving and build vs. taking a dependency on Grafeas (cc @ImJasonH for thoughts).

That said, we didn't spell out the motivations for this.  @evankanderson @steren @sixolet Do you recall, or should we close this until it resurfaces?

[2018-11-28 01:18] sixolet opened #2562 "Fix errors.md to reflect non-terminal Active condition on Revisions"
## Expected Behavior
Docs describe Ready as True while Active can be False (when scaled to zero)

## Actual Behavior
Docs describe Ready as False while Active is False (when scaled to zero)

[2018-11-28 01:31] #2562 closed

[2018-11-28 01:31] mattmoor commented on #810
I'm inclined to close this until someone requests this.

[2018-11-28 01:33] sixolet commented on #2210
Yep it's done!

[2018-11-28 01:33] #2210 closed

[2018-11-28 01:34] mattmoor commented on #1197
It feels like we should set the termination grace period based on the per-revision `timeoutSeconds` field.

/kind good-first-issue

cc @k4leung4

[2018-11-28 01:36] mattmoor commented on #1340
@shashwathi let's do `knative.dev`

[2018-11-28 01:36] mattmoor commented on #1295
VPA is not in the codebase anymore.

[2018-11-28 01:36] #1295 closed

[2018-11-28 01:37] mattmoor commented on #1254
All the samples moved to docs, so this is less likely to happen.

[2018-11-28 01:37] #1254 closed

[2018-11-28 01:38] mattmoor commented on #1291
samples are moved

[2018-11-28 01:38] #1291 closed

[2018-11-28 01:40] mattmoor commented on #1094
I think we've grown beyond our capacity to trivially do this because we mount numerous configmaps.

I think we'd be receptive to a PR enabling this, but I'm going to close due to inactivity.

[2018-11-28 01:40] #1094 closed

[2018-11-28 01:41] #1020 closed

[2018-11-28 01:42] mattmoor commented on #1445
the samples moved, so this is obsolete

[2018-11-28 01:42] #1445 closed

[2018-11-28 01:45] mattmoor commented on #764
The point of the HTML comments is to hide the commands, not to disable them.

We can quote them differently, but it's unnecessary pollution of what human's read otherwise.

[2018-11-28 01:45] #764 closed

[2018-11-28 01:46] mattmoor commented on #990
I'm fairly certain this is no longer true.

[2018-11-28 01:46] #990 closed

[2018-11-28 01:47] mattmoor commented on #1145
I believe this is resolved by the wildcard in `includeOutboundIP`.

/assign @mdemirhan

[2018-11-28 01:51] mattmoor commented on #976
/assign @dgerd

This may be a case where we'd want to trigger a global resync in the Revision controller on changes, since we'll need to update each of the Revisions' ConfigMap objects.

[2018-11-28 01:53] mattmoor commented on #1353
We've moved the samples

[2018-11-28 01:53] #1353 closed

[2018-11-28 01:55] mattmoor commented on #591
I think between what @jonjohnsonjr and @dgerd have added, our conformance test coverage of the Service resource has gotten pretty good.  I'm going to close this as done since I feel like most of our gaps lie outside of what I'd consider the scope of this issue.

[2018-11-28 01:55] #591 closed

[2018-11-28 01:57] mattmoor commented on #814
cc @jessiezcc

FWIW, this is one of the many bots I've considered writing atop Knative (in part because I'm often the person who rolls through and leaves this comment on folks PRs!).  I'd love an official place to host such things.

[2018-11-28 01:59] lichuqiang commented on #2322
Ah, I reopened this for I thought it was umbrella issue for the ingress controller separation task.
We can close this if it is not. But I think we'll need another one to track #2445

[2018-11-28 02:01] mattmoor commented on #944
this is done in the move to docs

[2018-11-28 02:01] #944 closed

[2018-11-28 02:21] mattmoor commented on #1177
Scale to zero is on by default and we have `minScale` in the KPA to avoid scaling to zero, which feels equivalent to what this describes in the body.

[2018-11-28 02:21] #1177 closed

[2018-11-28 02:23] #1114 closed, assigned to nobody

[2018-11-28 02:23] zhaytee opened #2564 "activator CPU usage"
Hey folks. I'm running knative on my local dev cluster (via Docker for Mac, hyperkit). I noticed that CPU usage went through the roof when I installed it. So I investigated, and it looks like there are 3 activator pods running, and each one is consuming a full cpu core's worth of time (my machine has 4 cores).

Is this expected behavior? Is there a way I can make activator consume fewer CPU cycles

[2018-11-28 02:24] #1005 closed, assigned to nobody

[2018-11-28 02:30] mattmoor commented on #273
I would suspect that this is covered by enabling users to BYO `resources:` and maybe enhanced in the future by VPA.

[2018-11-28 02:31] #793 closed

[2018-11-28 02:32] mattmoor commented on #75
We're going to start allowing this, so closing it.

[2018-11-28 02:32] #75 closed

[2018-11-28 02:34] zhaytee commented on #2564
@mattmoor Thanks for the reply. I had installed knative 0.2.1 (the `nomon` variant), but I'll try installing 0.2.2 now. Do you think that'll include the resource constraints you're referring to?

[2018-11-28 02:44] zhaytee commented on #2564
@mattmoor Got my answer! CPU usage is way down since installing 0.2.2. :) Thank you!

[2018-11-28 02:44] #2564 closed

[2018-11-28 02:47] #940 closed

[2018-11-28 02:48] mattmoor commented on #870
I believe this is resolved.

[2018-11-28 02:48] #870 closed

[2018-11-28 02:54] mattmoor commented on #928
Seems like a good future sample for knative/build-pipeline, but out of scope here.

[2018-11-28 02:54] #928 closed

[2018-11-28 02:55] mattmoor commented on #882
I think this is enabled by Istio 1.1, whether that lands for 0.3 is a good question.

[2018-11-28 03:20] mattmoor commented on #1473
I think this is now resolved, but also moved.

[2018-11-28 03:20] #1473 closed

[2018-11-28 03:45] enhendrickson commented on #1952
@mattmoor my comment implicitly included Knative.  I was simply stating that my install of Kubernetes and Docker on OSX is vanilla and not cause to believe there is any issue with those platforms but rather the opposite- that this must be a knative issue.  Ironically you took me to mean the opposite of what I intended.  This is still an open issue IMO.

[2018-11-28 04:03] ZhiminXiang commented on #2536
I guess the reason to have 3 replicas of activator is to make activator generally available (related [PR](https://github.com/knative/serving/pull/2171) and [issue](https://github.com/knative/serving/issues/1625)).

But now we reduced it back to 1 in order to save resource (see [PR](https://github.com/knative/serving/pull/2530)).

[2018-11-28 05:52] mattmoor commented on #1128
/assign @dprotaso

[2018-11-28 05:55] mattmoor commented on #1952
@enhendrickson LOL my apologies.

[2018-11-28 06:32] steren commented on #1642
Do you need more data to judge the usefulness of the feature request?
Do you believe the use cases described in my original comment are not strong enough?

[2018-11-28 07:09] markusthoemmes commented on #1197
@mattmoor's proposal has been on my agenda when doing all the graceful shutdown work. I'll assemble the missing piece since the RevisionTimeout has landed since.

/assign

[2018-11-28 07:19] markusthoemmes commented on #2498
Looking forward to see the outcome of that prototype. If we find the upstream scheduler being slow, we should definitely invest there and understand a potential optimization path upstream before we attempt to roll our own.

[2018-11-28 07:47] tcnghia commented on #2322
I'll open another one to track #2445 .

[2018-11-28 07:47] #2322 closed

[2018-11-28 07:49] tcnghia opened #2566 "Allow users to turn off Istio-based ClusterIngress controller"
## Expected Behavior
Users, if not needing Istio-based ClusterIngress controller, should be able to turn it off.

## Actual Behavior
The controller is part of all serving controller right now, thus always running.

[2018-11-28 07:50] tcnghia commented on #2322
Opened https://github.com/knative/serving/issues/2566

[2018-11-28 07:53] markusthoemmes commented on #1197
There's also now an E2E test that asserts that such a long running request is not dropped on the floor.

[2018-11-28 14:55] adrianludwin commented on #2482
@adrcunha Hi Adriano, what's your perspective on this? Do you agree that we no longer need this env var (and possibly other ones) now that we're not using Bazel, or should we perhaps document the legitimate use cases of this var?

[2018-11-28 15:17] mattmoor commented on #1642
It's a bit too much of an idea fragment as-is, it doesn't take into account the lifecycle of how users create revisions and such an annotation would be plumbed (I mean in terms of high-level flow between objects vs. mechanics).

Playing this out a little bit:
1. This cannot be done by the Revision controller because users don't create revisions, the Configuration controller does (I doubt you want

[2018-11-28 15:32] #1197 closed

[2018-11-28 15:43] mattmoor commented on #1997
(from slack) Looks like the fix missed Istio 1.1, we're seeing if we can get a CP, but that would likely push this out of 0.3

[2018-11-28 16:54] bradhoekstra opened #2570 "ClusterIngress objects are sometimes not deleted"
/area networking

## Expected Behavior
ClusterIngress objects are deleted when the associated Route object is.

## Actual Behavior
Sometimes the ClusterIngress object is not deleted and is left in an orphaned state.

## Steps to Reproduce the Problem

(I will try to come with more concrete steps)
  1. Create a large number of Services at once
  2. Wait a while for them all to become ready
  3. Del

[2018-11-28 16:56] vvraskin commented on #2381
The overall picture of the changes I've started implementing looks like this:

![img_2454](https://user-images.githubusercontent.com/7526585/49166856-7d401200-f334-11e8-89ea-5ae4370b1602.jpg)

Long term it would be great to remove the Deduper and Revision observer from the picture only using a new component called Throttler. The Throttler is going to be composed of a slightly modified version of t

[2018-11-28 17:00] greghaynes commented on #2498
Agree - I'm hoping the result is we can use some local workaround to narrow down exactly where time is being spent then in parallel to supporting the workaround drive upstream changes to support our usecase.

[2018-11-28 17:05] bradhoekstra commented on #2570
/remove-area API
/remove-area autoscale
/remove-area build
/remove-area monitoring
/remove-area test-and-release
/remove-kind question
/remove-kind doc
/remove-kind feature
/remove-kind good-first-issue
/remove-kind process
/remove-kind spec

[2018-11-28 17:05] bradhoekstra commented on #2570
/remove-kind cleanup

[2018-11-28 17:50] imikushin commented on #1997
Nope, the fix is in release-1.1 branch still, just past snapshot.3

[2018-11-28 18:09] josephburnett commented on #2381
Absolutely.  It's a nice simplification and a natural change since moving activation to the Autoscaler.

A reasonable upper bound like 1000 is fine.  This limits the max per-revision request concurrency flowing through the Activator.  But if that's a problem, we can just increase the number.  Activator is only in the request path during rapid scale up anyway.

No.  It would be good to reuse the ex

[2018-11-28 18:13] josephburnett commented on #2381
We talked about this on a video chat, but I think it's worth noting here for posterity.  The Deduper was originally created to isolate the data plane pressure (user operations per second) from the control plane pressure (activation requests per second).  No matter how many OPS we were getting, we would never have more than one activation request outstanding per revision.

However, now that activat

[2018-11-28 18:23] greghaynes opened #2573 "Activator doesnt shut down on SIGTERM"
## Expected Behavior
When sending a SIGTERM to the activator it should cleanly shutdown immediately.

## Actual Behavior
The activator blocks when receiving a SIGTERM until it is forcefully killed.

[2018-11-28 18:37] #2202 closed

[2018-11-28 19:33] adrianludwin commented on #2482
@adrcunha Cool, any pitfalls I need to be aware of? For example, if I make the change in knative/test-infra, will the presubmits validate it properly? Or will I need to try it out in all the other dependent projects as well (eg /serving, /build)?

[2018-11-28 19:51] #1711 closed

[2018-11-28 19:59] adrcunha commented on #2482
Unfortunately we don't have checks for that, and the use cases in test-infra are too simple. I recommend making changes in test-infra and then validating serving or build locally to get strong confidence.

[2018-11-28 21:42] vagababov commented on #2489
/assign

[2018-11-28 22:26] ahmetb opened #2576 "Service API reference docs don't correctly show spec.configuration.revisionTemplate field"
/area API
/kind doc

Document in question: https://github.com/knative/serving/blob/a30aac3aee0ab92fbe61f97bcf62f78465372995/docs/spec/spec.md#service

Right now the example for Service goes like this (I deleted irrelevant parts):

[code]

This suggests a field like `Service.spec.runLatest.configuration.container` exists.

However `container` field appears under `configuration.revisionTemplate.spec

[2018-11-29 00:48] imikushin commented on #1997
Things to complete:
- [ ] create `-internal` k8s service, use it for KPA spec
- [ ] use istio-1.1-pre (with externalName fix)
- [ ] append headers to every traffic split
- [ ] revision facade k8s-service: point to activator or internal k8s-service
- [ ] cleanup route controller: remove all revision stuff

[2018-11-29 16:11] alculquicondor opened #2579 "Autoscaling when containerConcurrency is set doesn't work properly"
/area autoscale

/kind bug

Autoscaling doesn't work properly when there's (at least) one pod and `containerConcurrency` it's set to the a value less than or close to the desired concurrency.
My hypothesis is that this happens because the requests are discarded but not reported to the stats. Thus, the autoscaler calculates a low concurrency.

## Expected Behavior
Given a huge load, the autoscaler

[2018-11-29 17:20] ZhiminXiang commented on #2127
/cc

[2018-11-29 19:02] ellis-bigelow opened #2580 "Pass Knative.Service annotations through to underlying service"
I'm trying to integrate knative serving pods with ambassador.

## Expected Behavior
When I attach annotations to a Knative Service, it would be great if these annotations were propagated to the underlying Kubernetes Service for the revision. Ambassador only checks v1.Service objects, which means I need to create additional resources for setting up my routing.
## Steps to Reproduce the Problem

  1

[2018-11-29 19:11] #2218 closed

[2018-11-29 19:48] dprotaso opened #2581 "Use of a symlink to `.git/HEAD` doesn't work with git work-tree"
## Expected Behaviour
`ko apply -f config/` applies and deploys successfully

## Actual Behaviour

ko errors out
[code]

## Steps to Reproduce the Problem

  1. Create a git worktree from the main one - see https://git-scm.com/docs/git-worktree
  2. Change to that work tree directory
  3. Run `ko apply -f config/`

[2018-11-29 22:14] k4leung4 commented on #2203
/assign @yanweiguo as I will be

[2018-11-29 22:14] k4leung4 commented on #2203
/assign Yanwei Guo

[2018-11-29 22:15] k4leung4 commented on #2203
/assign @yanweiguo

[2018-11-29 22:47] tanzeeb opened #2582 "Revision `timeoutSecond` should only apply until the first byte of the response"
## Expected Behavior

When I deploy an application with the `timeoutSeconds`,  I expect the timeout to only apply from when the request is sent until the response response **_begins_**.

## Actual Behavior

When I deploy an application with the `timeoutSeconds` set, eg. "45s", I the timeout applies from when the request is sent until the response response **_ends_**.

## Steps to Reproduce the Pro

[2018-11-29 23:29] steren commented on #1397
Would prefixing all Knative resource names with a "K" help? "KService", "KRevision", "KRoute", "KConfiguration"?

(This was suggested in https://github.com/knative/serving/issues/1397#issuecomment-409375931, and this is what was implemented for the short names)

[2018-11-29 23:55] #2442 closed

[2018-11-30 01:13] steren commented on #1642
Imagine if Git did not have any author info, it'll be hard to know what happened. This is a similar situation: you want to know who deployed a particular revision.

I suppose the cluster has the identity of who mutated a Service or Configuration resource, no?

[2018-11-30 01:19] evankanderson commented on #648
I believe the goal for this was to expose the provenance information to make it easier to debug how a particular Revision was created. This can be useful, for example, to be able to correlate line numbers in stack traces/error messages with the actual source code, which may have moved over time, particularly if you live in a refactoring-happy environment.

[2018-11-30 01:38] mattmoor commented on #1642
Yes, I'd imagine that most hosted cluster services (e.g. GKE) have some sort of audit log.

However, that it shallow, it gets you Service mutations, not the transitive Revision "author" which is always the Configuration controller.

[2018-11-30 01:40] mattmoor commented on #1642
re: git

Without signing this is cosmetic and self-reported by the client (we could augment client-conventions.md?).  I could use your info in my local Git client just fine. :)

[2018-11-30 04:56] #1969 closed

[2018-11-30 05:56] mattmoor commented on #1997
Going to move into 0.4 as discussed earlier, since this depends on Istio 1.1, which slipped.

[2018-11-30 08:05] josephburnett commented on #2203
@yanweiguo you might wait until next week to start on this when I'm back in Seattle (Dec 3rd).  As part of adding the `autoscaling.knative.dev/target` annotation (https://github.com/knative/serving/issues/2205), I'm relayering the KPA metrics interface to allow KPA autoscaler targets to be updated.  I want to avoid any massive code merge conflicts.  🙂

Also, it seems that Envoy ignores ports not m

[2018-11-30 14:38] #2099 closed

[2018-11-30 15:43] #1928 closed

[2018-11-30 15:43] #2205 closed

[2018-11-30 18:18] mdemirhan commented on #2203
I was discussing Prometheus doing the scraping for us with @k4leung4 yesterday and wanted to summarize a couple of cons of that approach in case it is being considered the path to move forward:
* Prometheus does not scale horizontally and sharding needs to be controlled manually. This can get tricky as the scale of the cluster grows. We have a similar problem with Autoscaler itself, and this can b

[2018-11-30 20:55] mattmoor commented on #2554
versioning is a feature of lifecycle management IIRC.

[2018-11-30 22:01] lizrice opened #2598 "Configuration "helloworld-go" is waiting for a Revision to become ready."
## Expected Behavior
200 response from helloworld-go service

## Actual Behavior
404 response from the helloworld-go service
Service always shows Configuration "helloworld-go" is waiting for a Revision to become ready

[code]

## Steps to Reproduce the Problem

  1. Follow instructions in https://github.com/knative/docs/blob/master/install/Knative-with-AKS.md to run helloworld-go on AKS

## Additi

[2018-11-30 23:20] #2018 closed

[2018-12-01 00:08] jonjohnsonjr opened #2599 "Replicate knative-releases to {us,asia,eu}.gcr.io"
## Expected Behavior

Our releases should be replicated to different regions to improve availability and spacial locality.

## Actual Behavior

Our releases are published only to gcr.io.

[2018-12-01 00:33] #2136 closed

[2018-12-01 02:07] #2489 closed

[2018-12-01 02:56] gyliu513 commented on #2598
@ZhiminXiang I think we need update the document a bit by adding a troubleshooting section in case people have this issue again, I will try to follow up with a PR soon.

[2018-12-01 06:50] josephburnett opened #2604 "Individual E2E test results do not show up in Test Grid"
I'm trying to figure out why our tests have become so flaky.

## Expected Behavior

Individual test results will show up in Test Grid (if any were run).

## Actual Behavior

Tests are being run.  Some fail.  Many pass.  But the results are empty.

![image](https://user-images.githubusercontent.com/1103629/49325134-9bc52980-f53d-11e8-8cda-c5c5f8a4e6ef.png)

[2018-12-01 10:17] lizrice commented on #2598
Here's what I get:

[code]

I have also attached the output from `kubectl get kpa -o yaml` in case that gives any clues

[kpa.txt](https://github.com/knative/serving/files/2635781/kpa.txt)

[2018-12-01 10:34] lizrice commented on #2598
I do see a lot of errors in the autoscaler logs
[autoscaler-logs.txt](https://github.com/knative/serving/files/2635788/autoscaler-logs.txt)

[2018-12-01 11:37] lizrice commented on #2598
I thought the logs might be indicating that the autoscaler didn't have access to API resources, but I just confirmed that
* the autoscaler is mounting the correct token for the `controller` SA
* the service account has permissions to access resources that the log file says are failing, for example
[code]
* I can use that token to successfully hit API endpoints that the log file says are failing, f

[2018-12-01 15:39] mattmoor opened #2605 "Multiple ClusterIngress created for a Route"
I'm experimenting with a couple changes that look at the latency to create 50 services, and some of my instrumentation gives better visibility into thrashing reconciles, which are spinning on the same error.

In the case of thrashing Route reconciles, I am seeing this in most runs of my test:
[code]

We should handle this situation more gracefully.

cc @tcnghia @lichuqiang

[2018-12-01 22:44] josephburnett opened #2606 "HPA and KPA controllers are getting wrong class PAs"
## Expected Behavior

The AnnotationFilterFunc filters out all PA keys with annotations not intended for the given controller.

## Actual Behavior

The KPA and HPA controllers are getting all PA keys, so they are fighting over the desired scale of the Deployment.

[2018-12-01 22:46] josephburnett commented on #2606
We should fix the filtering functionality.  The guard is just for safety and to stop the fighting.

[2018-12-01 22:59] mattmoor commented on #2606
I'm putting this in 0.3, thanks for filing.

[2018-12-02 16:36] mattmoor opened #2611 "Networking seems to falter at 200 deployed services."
With the [new scale testing](https://github.com/knative/serving/pull/2609/files#diff-b68facd3c72a0e868d95ff84017ad0f4R156), I've been playing a bit with our limits, and we seem to be able to very reliably reach 100 services.  When I run at 200, I get failures that look networking related.

My setup is using `1-10` `n1-standard-4` instances autoscaled, `istio-lean.yaml` (1.0.4) and pretty close to

[2018-12-02 17:12] mattmoor commented on #2611
So far I've successfully tested 170, 180, 190.

[2018-12-03 07:46] tcnghia commented on #2605
We can fix this by making the name of the child ClusterIngress of a Route to use the Route's UUID.

However, to be backward compatible with 0.2.x we will still need to keep the existing logic, and only use this new naming scheme for new ClusterIngresses.

[2018-12-03 07:49] #2573 closed

[2018-12-03 08:19] #2604 closed

[2018-12-03 08:59] hanshengchiu commented on #1047
Hi, I was trying the gRPC go sample and couldn't get it working. Has this issue been resolved?

*I installed knative serving 0.2.2.

[2018-12-03 15:30] tcnghia commented on #2598
@lizrice can you please try reinstall Knative, but using `istio-lean.yaml` instead of `istio.yaml`?  that would sidestep Istio sidecar issues (if any) and would further isolate the issue.  if possible, can you try on a new cluster, or if using an existing Knative installation, delete istio completely before reinstalling (`kubectl delete -f http://knative/release/url/istio.yaml --ignore-not-found`)

[2018-12-03 15:32] tcnghia commented on #2598
I believe you are hitting the first issue that @krancour outlined here https://github.com/knative/serving/issues/2270

[2018-12-03 17:53] greghaynes opened #2615 "Have queue-proxy trigger activator directly"
As part of our cold-start performance improvement  it was noticed we should remove latency introduced by waiting for a revision to become ready via the k8s api (https://github.com/knative/serving/pull/2557#issuecomment-442861483). This is something that would be nice even without local scheduling. This can be done by having queue-proxy call out to the activator service (which triggers activator to

[2018-12-03 17:56] bradhoekstra commented on #2605
Possibly related to #2570

[2018-12-03 18:00] alculquicondor commented on #2611
I've observed the error `connection refused` when trying to send a big load to a single service (hoping to stress the autoscaling). It looks like a limitation on the number of connections the ingress IP can handle.

[2018-12-03 20:25] alculquicondor opened #2617 "Performance test for service creation"
/area autoscale
/area API

/kind feature

#2609 creates a set of services and verifies their availability. But we can also benefit from tracking the time it takes to do it.

cc @srinivashegde86
/assign @alculquicondor

[2018-12-03 22:11] steuhs commented on #1466
Closing this issue for the following reasons
1. This change is only suggested by one person over 5 months
2. The change requires access to either
    a. source code & git
    b. github client
    However, the new design(https://github.com/kubernetes/test-infra/pull/10010) will only take two coverage profiles as inputs. In that way it would not be feasible to make this required change.

[2018-12-03 22:11] #1466 closed

[2018-12-03 22:20] vagababov commented on #2488
/assign vagababov

[2018-12-04 00:56] imikushin commented on #2615
/assign

[2018-12-04 01:20] mattmoor commented on #2554
Talk to the GCS team about their recommendations for how we restore :)

[2018-12-04 01:21] mattmoor commented on #2555
@adrcunha Is this done?

[2018-12-04 01:40] #2555 closed

[2018-12-04 02:05] jessiezcc opened #2621 "Label Knative service with versioning"
/kind feature

## Expected Behavior
Cluster admin can easily find out which version of Knative they are using by kubectl describe.
Ideally version should be part of the Labels.

## Actual Behavior
Knative service doesn't have version labels.

jessiezhu@gobaby:~/go/src/github.com/knative/serving$ kubectl -n knative-serving describe service activator-service
Name:                     activator-servi

[2018-12-04 04:16] jonjohnsonjr commented on #2554
tl;dr, they agree with my previous comment.

We can either do this and deal with slowness and duplicated versions:
[code]

Or we can write some code to do exactly what we want.

The reason `cp -A` doesn't allow batching (`-m`) is because deciding _which_ version to restore is application-specific, so there's not a simple generic solution that they can bundle in gsutil.

Our objects are content-add

[2018-12-04 04:55] sebgoa commented on #2459
I have seen this two (and no I don't have a repro). Now that I know it is not me, I will keep an eye out next time it happens.

[2018-12-04 05:29] mattmoor commented on #2605
I think the reason I was hitting this as much as I was is because I had introduced a bug that caused the workqueue's deduplication to effectively stop working, which mean the same Route would potentially be reconciled multiple times concurrently.

We should still fix this, but it's less of an issue that what I was seeing, for sure.

[2018-12-04 07:22] fatkun opened #2622 "controller panic after update with resource limit spec"
## Expected Behavior

controller  not painc

## Actual Behavior
controller panic  and exit

## Steps to Reproduce the Problem

1. create one service with resources spec

[code]

2. change the resource limit and apply again
3. controller panic

## Additional Info

The bug introduce from https://github.com/knative/serving/issues/2099

file: src/github.com/knative/serving/pkg/reconciler/v1alpha1/serv

[2018-12-04 07:37] markusthoemmes commented on #2615
One thing to keep in mind here, is that the activator (today) forwards to the Istio service, not to individual pods. The implication is, that all of that state must have been propagated before the activator will actually be able to reach the application itself. The application itself being started up does not suffice in that matter.

When the KBuffer was first discussed, the design also included a

[2018-12-04 09:29] jszroberto commented on #2622
Strange, probably something has changed since I tested this option locally.  To fix this, we need to define a custom comparator for Quantity for the services as we do for revision:

https://github.com/knative/serving/blob/master/pkg/apis/serving/v1alpha1/revision_validation.go#L207-L209

For the test, we need to add at least a test which provides a configuration with resources configured in src/gi

[2018-12-04 12:36] zxDiscovery opened #2623 "[WIP] Put the deployment of serving, building and eventing in the same namespaces"
I just want to know the `serving`, `build` and `eventing` are all belong to knative, and why we don't put them into the same namespaces?

[2018-12-04 14:33] mattmoor commented on #2622
/assign @jszroberto

[2018-12-04 14:34] mattmoor commented on #2622
@fatkun thanks for finding / filing!

[2018-12-04 14:39] mattmoor commented on #2622
The problem is [these](https://github.com/knative/serving/blob/783b65857d19fdaf60ba90a4c0c40b955da9005b/pkg/reconciler/v1alpha1/service/service.go#L241) log statements that need to ignore unexported fields.

[2018-12-04 14:39] mattmoor commented on #2622
We should triage the codebase for others, I see one a few lines below.

[2018-12-04 14:39] mattmoor commented on #2622
cc @jonjohnsonjr

[2018-12-04 14:45] mattmoor commented on #2623
There is ongoing work to explore make this configurable (cc @pmorie)

[2018-12-04 14:56] greghaynes commented on #2615
@imikushin Was having similar concerns in private chat about this. Even without istio I think there is a similar race potential with k8s services.

For the fastpath / local scheduling case I think we want bypass all of this and directly connect the activator to the pod we've started (either by grabbing ip info from queue-proxy connecting out to activator or reusing that connection). Given that, I'

[2018-12-04 15:43] alculquicondor commented on #1277
I see that we already have some metrics for the [main Controller logic](https://github.com/knative/pkg/blob/master/controller/stats_reporter.go), but none for the individual reconcilers. I'm working on the first metric for the service reconciler #2618.
I'd like to know which other metrics would be useful.

[2018-12-04 15:44] crypto-apple commented on #2260
I would like to mount gcp service account JSON credential key file like firebase-admin-sdk in minikube environment. Is it possible?

e.g.

[code]

[2018-12-04 15:54] mattmoor commented on #2260
Not currently, but I feel like we should consider relaxing this in 0.4 (for secrets and configmaps)...

[2018-12-04 16:12] mattmoor commented on #2554
I moved that issue into 0.3.

[2018-12-04 17:34] adrcunha commented on #2604
Long story short, we added more E2E tests, they were taking around 50 minutes to run and the CI flow had a timeout of 50 minutes because it runs every hour. https://github.com/knative/test-infra/pull/289 doubled the timeout and made the CI flow run every 2h.

[2018-12-04 17:47] adrcunha opened #2626 "verify-codegen.sh is failing"
[code]

[2018-12-04 18:05] #2626 closed

[2018-12-04 19:22] mdemirhan commented on #1145
This is fixed with includeOutboundIP.

[2018-12-04 19:22] #1145 closed

[2018-12-04 20:40] mattmoor commented on #2611
As the failures were all networking related, I looked at the `istio-ingressgateway` deployment, which happened to scale to 5 pods during the failing run.  I looked and the HPA is configured with a max of 5(!).

This excited me, but unfortunately I saw roughly the same result when I ran things.  It scaled up to 10 (the new max), but the same errors came out the other side.

I'm trying again with th

[2018-12-04 22:06] mattmoor commented on #2611
Roughly the same result.

[2018-12-04 23:19] josephburnett commented on #1295
FYI: I'm putting it back in right now.  But I'll include annotations in that implementation, so no need for this issue.

[2018-12-05 01:01] mattmoor commented on #639
I think we need this in 0.3 to rollout the new queue-proxy containers w/ prometheus endpoints, so that we can start to pull metrics from them in 0.4

[2018-12-05 01:01] mattmoor commented on #639
/assign

[2018-12-05 02:03] mattmoor commented on #639
cc @dgerd

In addition to reconciling deployment changes, we are going to need to trigger a global resync on `config-controller.yaml` changes (so that we know if the image changes).  I am going to wrap up the first part, and then move on to that portion of the global resync work, but leave the balance of the triage / impl to you.

I have the first part working, but it needs tests.

cc @yanweiguo @

[2018-12-05 05:06] mattmoor commented on #1927
I believe the portion of this that can land in 0.3 is effectively done.  We need the queue-proxy metrics endpoint to roll out in 0.3 before we can start to take advantage of it in 0.4.

If we try to take advantage of it in 0.3 we could potentially swap out the autoscaler and start trying to pull metrics from old queue-proxy pods that don't expose metrics.

[2018-12-05 06:18] jessiezcc opened #2633 "Documentation on how to write perf test via perf/scale test infra"
/area test-and-release
/kind doc
Need to make sure we have sufficient document to explain how to leverage perf/scale test infrastructure to write feature perf/scale tests.
Ideally README under test/performance should have such content.  All existing perf tests should be updated to use newly created infrastructure

[2018-12-05 06:22] jessiezcc opened #2634 "Create a perf test to benchmark number of services Knative can suppport"
/area test-and-release
/kind good-first-issue
/kind process

as title suggests

[2018-12-05 12:01] zxDiscovery commented on #2623
If we want to put `serving`, `build` and `eventing` in the same namespaces, we must solve the conflict `configMap` name. In current the `configMap` name in `serving` is `config-logging`, it also hard code in [config.go](https://github.com/knative/serving/blob/master/pkg/logging/config.go)(`ConfigName = "config-logging"`). I think this `configMap` name should get from yaml file dynamically so that

[2018-12-05 12:14] alculquicondor commented on #2634
A test for the number of services was added in #2609.
I had created #2617 for performance.

[2018-12-05 12:49] fatkun opened #2636 "Question: why route traffic to activatior after stable window time?"
My config-autoscaler setting
[code]
I set `scale-to-zero-grace-period` to one hour, the container not scale to zero before that time.But if no traffic after 60s, the kpa/revision will set `active=False, reason: NoTraffic`, and virtualservice will change route to activator.
[code]

The request through activator is more slow than direct to user container.

My user container is not terminate, why we

[2018-12-05 15:20] #2634 closed

[2018-12-05 15:20] mattmoor commented on #2617
cc @jessiezcc

[2018-12-05 15:20] mattmoor commented on #2617
cc @ericKlawitter

[2018-12-05 15:32] mattmoor opened #2637 "Re-enable TestScaleTo50"
This has been fairly flaky in the continuous build and PRs, but not on my local cluster.  My working theory is that we need an HA cluster to avoid the GKE master getting "resized" mid-test.  I'm opening this to track so that I can disable the test.

[2018-12-05 15:34] mattmoor commented on #2637
cc @alculquicondor @jessiezcc

[2018-12-05 15:36] alculquicondor commented on #2611
Just to make sure it's not a limitation from the client side, have you tried running your test from a VM in the same zone?

[2018-12-05 15:38] mattmoor opened #2639 "RFC: Staging component changes in Knative"
We've had multiple instances now where we've wanted to make some sort of change to Knative where we cannot simply "rip the bandaid off" because it would make upgrades disruptive, which we need to become more disciplined about how we handle.

The goal of this proposal is to try and keep the install/upgrade process as close to `kubectl apply -f foo.yaml` as possible, by requiring that we stage the r

[2018-12-05 15:38] mattmoor commented on #2639
cc @vaikas-google @evankanderson

[2018-12-05 15:39] mattmoor commented on #2639
cc @dprotaso

Perhaps this influencing your thinking around how we'd rollout CRD sub-resources?

[2018-12-05 15:40] mattmoor commented on #2639
cc @tcnghia

Can you think through how we rework the ingress gateway change so that it's safe?

[2018-12-05 17:56] andrewrynhard commented on #2598
@tcnghia I'm seeing `404` but autoscaler works just fine:

[code]
[code]

[2018-12-05 19:07] tanzeeb commented on #2582
/unassign

[2018-12-05 19:21] mattmoor commented on #2582
@tanzeeb Is this something you think you can tackle for 0.3?

[2018-12-05 19:37] mattmoor opened #2641 "Upgrade test should append a random suffix"
Without this, repeated runs against a cluster sees:
[code]

cc @jonjohnsonjr

[2018-12-05 19:41] mattmoor commented on #2582
cc @tcnghia too FYI

[2018-12-05 20:41] jonjohnsonjr commented on #2641
Appending a random suffix is tough given how this is currently implemented because we need to share the service name across three different processes. We could possibly generate it in `test/e2e-upgrade-tests.sh` and pass it in through `go test -args`, but I think I'd have to rework [`go_test_e2e`](https://github.com/knative/test-infra/blob/a73c2aa6aa1b18a0a1fb2714a63b7440d7301000/scripts/e2e-tests

[2018-12-05 20:42] alculquicondor opened #2644 "Add performance tests to presubmit"
Maybe adding them now is not necessary, but at least building them would be useful. The motivation is that #2440 seems to have broken the tests.

/area test-and-release

/kind feature
/kind good-first-issue

cc @jessiezcc @srinivashegde86

[2018-12-05 21:53] evankanderson commented on #2639
Can we change the upgrade tool to be `kubectl apply --prune --filename foo.yaml` rather than `kubectl apply --filename ...`? (Where `--prune` will clean up other resources in the namespace with the given label.)

[2018-12-05 22:35] kars7e opened #2648 "The current opt-out behavior of Istio mutating webhook can cause pod deployment failures"
When following [Knative installation documentation](https://github.com/knative/docs/blob/098b76e0823a7eacbb54163031c7272617b258a3/install/Knative-with-any-k8s.md#installing-istio), I install Istio and set the injector label as instructed in the docs:
[code]
## Expected Behavior
Only `default` namespace is affected by the injection.

## Actual Behavior
All namespaces are affected, including kube-sy

[2018-12-06 00:53] andrewrynhard commented on #1773
@tcnghia If the readiness probe fails with

[code]
the pod will only have `2/3` containers ready. From what I can tell, this responds with `503 Service Unavailable`. What is the fix here? I don't think the service will be available until all containers are ready. This is the case I am seeing now.

[2018-12-06 07:50] zxDiscovery commented on #2623
The current `knative-ingressgateway` depend on `istio-ingressgateway-service-account` in namespaces `istio-system`.

[2018-12-06 07:56] zxDiscovery opened #2649 "Why knative-ingressgateway depend on istio-ingressgateway-service-account in namespace istio-system?"
## Expected Behavior
`knative-ingressgateway` deploys in a new namespace

## Actual Behavior
`knative-ingressgateway` in namespace `istio-system` depend on the service account `istio-ingressgateway-service-account`

[2018-12-06 10:48] ffahri opened #2651 "v0.2.2 on AKS wont create revision hangs at RevisionMissing"
## Expected Behavior
AKS Knative service should work after applying yaml (helloworld-go)
## Actual Behavior
It doesnt seems to working but its creates pods dont get any traffic into these
shows RevisionMissing (kubectl get ksvc)

"helloworld-go-00001-deployment-9bf74ffbd-crdrz" log
`{"level":"error","ts":"2018-12-06T10:35:44.313Z","logger":"queueproxy","caller":"queue/main.go:108","msg":"Error whi

[2018-12-06 10:49] ffahri commented on #2651
/area API
/area networking

/kind bug

[2018-12-06 10:52] #2651 closed

[2018-12-06 10:52] ffahri opened #2652 "v0.2.2 on AKS wont create revision hangs at RevisionMissing"
## Expected Behavior
AKS Knative service should work after applying yaml (helloworld-go)
## Actual Behavior
It doesnt seems to working but its creates pods dont get any traffic into these
shows RevisionMissing (kubectl get ksvc)

"helloworld-go-00001-deployment-9bf74ffbd-crdrz" log
`{"level":"error","ts":"2018-12-06T10:35:44.313Z","logger":"queueproxy","caller":"queue/main.go:108","msg":"Error whi

[2018-12-06 11:00] jszroberto commented on #2622
@mattmoor we don't want to ignore those fields for Quantities, we want to be able to compare them. If you ignore them, the "value" of those Quantities is not checked at all.

Yes, we need to triage this. Any comparison which includes a RevisionSpec is affected by this.

[2018-12-06 12:18] fatkun commented on #2636
maybe releate https://github.com/knative/serving/pull/2395

[2018-12-06 13:54] markusthoemmes commented on #2636
@fatkun the `grace-period` is specifically designed to be able to gracefully reprogramm the network. That is: We give a bit of leeway to make sure the pod is not shut down **before** the network is reprogrammed.

As a consequence, this value should always be around the maximum time it takes to reprogramm the route. Usually that's below a minute but mileage may vary.

It's not a setting to determin

[2018-12-06 15:07] adrcunha opened #2656 "TestRunLatestServicePostDowngrade is timing out"
## Expected Behavior

Test passes every time.

## Actual Behavior

The test has been timing (5 min) out very frequently, causing flakiness to go high.

Example: https://storage.googleapis.com/knative-prow/logs/ci-knative-serving-continuous/1070649484825858048/build-log.txt

Also see https://testgrid.knative.dev/knative-serving#continuous

The test will appear as a white square when it fails due to

[2018-12-06 15:08] adrcunha commented on #2656
Increasing the timeout would be the naive solution, but since the upgrade/downgrade tests were passing reliably before, I think it deserves some investigation.

[2018-12-06 16:00] tcnghia commented on #2656
Increase the timeout may make sense.  Previously we did not upgrade/change Istio during upgrade/downgrade tests so it will run faster.

[2018-12-06 17:06] sebastien-prudhomme commented on #2649
@zxDiscovery FYI this behaviour has changed in 'master' branch of knative/serving. It's using Istio default ingress gateway.

[2018-12-06 17:16] mattmoor commented on #2582
/assign @markusthoemmes

[2018-12-06 17:34] jszroberto commented on #2622
/unassign @jszroberto I cannot pick this up till Wednesday.

[2018-12-06 17:35] jszroberto commented on #2622
/unassign @jszroberto

[2018-12-06 18:39] rprakashg commented on #2458
I'm seeing this in logs when my build fails too.

[2018-12-06 18:50] yanweiguo commented on #2458
This log is a warning and it won't break build.

[2018-12-06 19:32] tcnghia commented on #2649
@zxDiscovery at the time that we created the `knative-ingressgateway` there was not an easy Helm chart for us to install another, so we copied what was there for `istio-ingressgateway`.  There is an easier option now https://github.com/knative/serving/pull/2613/files#diff-8f7166e5aa472b1dc598bc77df717819R12

However we are moving to have the users using `istio-ingressgateway` by default and only s

[2018-12-06 21:14] jonjohnsonjr commented on #2622
/assign

[2018-12-06 23:23] ffahri commented on #2652
using istio-lean will solve this problem

[2018-12-06 23:23] #2652 closed

[2018-12-06 23:55] greghaynes opened #2659 "Immediately send request concurrency stat from activator on scale from zero"
When we moved to purely metrics driven scaling we introduced a delay in the scale-from-zero case where autoscaler only scrapes concurrent requests and converges the deployment. In the scale  from zero case where the activator handles an incoming request we should immediately send to the autoscaler.

[2018-12-07 00:48] carusology opened #2661 "Unable to invoke HTTPS requests with .NET Core in instances of kNative Serving"
I'll be honest here that I have no idea if this is actually a kNative issue, but I can only reproduce it in kNative so let's start here. Anywhere else I'm using this code, be it in a container on Docker of Mac or running locally, it works fine. I also run [`HttpClient`](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient?view=netcore-2.2) connections without issue in other Kuber

[2018-12-07 00:51] carusology commented on #2661
Here is the extent of the changes I had to make to hello world to get a repro:

https://gitlab.com/carusology/hello/commit/4225fc60bf1d3001e3adcef52212703713182bf9

[2018-12-07 01:52] fatkun commented on #2636
@markusthoemmes

The container cold start time too long, I want to keep a container not teminate for a while.
If I enlarge `stable-window` time,the metrics calulate may not good.

[2018-12-07 03:10] tcnghia commented on #2605
/cc @lichuqiang

I didn't see Matt's latest comment.  So I guess this is no longer urgent/needed for 0.3.

[2018-12-07 03:44] carusology commented on #2661
Ugh. I feel dumb.

[There's already a great guide](https://github.com/knative/docs/blob/master/serving/outbound-network-access.md) on exposing outbound traffic, something blocked by kNative by default. I did not know that kNative did this until I had started to dig into Istio, but once I learned more about Istio's default behavior, it was easy to see that I had simply missed a step and I eventuall

[2018-12-07 03:44] #2661 closed

[2018-12-07 04:01] tcnghia commented on #1969
Per discussion with @jonjohnsonjr and @mattmoor we will extend feature this to allow exposing to multiple ingress gateway to allow users to easily migrate without disruption.

In 0.3 we will expose to both knative-ingressgateway and istio-ingressgateway.  In 0.4 we will only expose to istio-ingressgateway.

[2018-12-07 06:04] ohboyotero commented on #1397
@steren personally, I think that'd be helpful.

To inject yet another perspective here, while it is important to build on top of Kubernetes in a coherent manner, we also have to think about the onboarding pain and confusion for new users who are not Kubernetes users, and who are looking for the easy way to build and deploy microservices (remember that serverless is not just functions).

Let's just

[2018-12-07 06:15] adrcunha commented on #2656
#2658 increased the timeout of the upgrade tests to 10 min.

[2018-12-07 06:15] #2656 closed

[2018-12-07 07:43] fatkun commented on #2636
This is one request through activator log.

wait revision status `Active=True` : 3 seconds
wait virtualservice change destination: 6 seconds

[code]

[2018-12-07 07:49] zxDiscovery commented on #2649
@tcnghia I see this method(https://github.com/knative/serving/pull/2613/files#diff-8f7166e5aa472b1dc598bc77df717819R12) need to change the istio's configuration.  If the user environment has already install the istio and in use, then we change the istio configuration for install knative. Does this cause istio abnormally in the previous scenario？

[2018-12-07 08:09] markusthoemmes commented on #2636
@fatkun the response time is so long because the network is being reprogrammed.

We used to have a `scale-to-zero-idle-period`, which is what you're after here I think. That essentially defined how long there must be no traffic until the pod is scaled down to 0. We simplified that to be "just" akin to the stable-window as you've noted. So yes, on HEAD you'll need to increase the stable window to a

[2018-12-07 08:44] fatkun commented on #2636
@markusthoemmes What's the meaning of "on HEAD", is mean "first of all"?

`stable-window` is a parameter for calculate pod num. If increase this to one hour, the scaler will become insensitive?

[2018-12-07 08:50] markusthoemmes commented on #2636
@fatkun HEAD means the latest state of Githubs master branch. In the 0.2 releases, this change is not yet active.

Yes, the autoscaler will become less sensitive. The simplification happened because, in a sense, scaling down slower is a kind of insensitivity as well. Thinking about it, there might well be use-cases that need a sensitive upscaler and a not-so-sensitive downscaler. That's usually wh

[2018-12-07 18:35] greghaynes opened #2668 "Don't overwrite existing configmaps when applying release.yaml"
## Expected Behavior

I am a user with an existing knative install where I have customized some configmaps (such as my domain). I want to upgrade to a new knative release using the provided release.yaml.

## Actual Behavior

When I run release.yaml my existing configuration changes are replaced with defaults due to configmap's being part of release.yaml.

[2018-12-07 18:37] greghaynes commented on #2668
We can solve this by removing/commenting out configmaps from our release.yaml. Right now if we did this our controllers will error due to missing configmaps so we need these to either create empty configmaps on missing or properly handle/subscribe to creation of missing configmaps.

[2018-12-07 18:49] erain commented on #1238
/assign erain

[2018-12-07 19:21] evankanderson commented on #1642
Chatting with @dgerd about this today; assuming that this is cosmetic rather than an audit log, we could do the following:

1. Introduce a mutating admission controller which records the creator/last-spec-update information using the fields from [`v1beta1.AdmissionRequest`](https://github.com/kubernetes/api/blob/master/admission/v1beta1/types.go#L40) (in particular, `UserInfo`, `Object` and `OldOb

[2018-12-07 19:34] steren commented on #1642
Thanks Evan.

Since we consider that this is only "cosmetic", I was even thinking: if it's hard to do "server-side", could clients set this annotation?

[2018-12-07 20:00] yaron2 opened #2669 "Allow to opt-out from scale to zero"
Right now scale to zero happens for all revisions, without the ability to opt-out of that behavior.

Allowing a Configuration or Revision to disable scale to zero would make for use cases that are not only HTTP based, such as worker/backend process types of workloads.

[2018-12-07 20:15] ahmetb opened #2670 "Image name not validated at ksvc create time"
/area API

knative 0.2.1.

When I specify the erronous `image: "gcr.io/knative-samples/autoscale-go:0.1:"` string (note the trailing `:`) to in the Service API , and apply the object, it succeeds, but then logs the status:

[code]

[code]

Can this be done as part of validating webhook?

[2018-12-07 20:40] jonjohnsonjr commented on #2622
TODO:
* https://github.com/knative/serving/blob/d60b53aec58279b85177422428c097d7e8ce901c/pkg/apis/autoscaling/v1alpha1/pa_validation.go#L103
* https://github.com/knative/serving/blob/d60b53aec58279b85177422428c097d7e8ce901c/pkg/apis/serving/v1alpha1/revision_validation.go#L207-L217
* https://github.com/knative/serving/blob/d60b53aec58279b85177422428c097d7e8ce901c/pkg/reconciler/v1alpha1/revision/r

[2018-12-07 21:38] evankanderson commented on #1642
It would be better to have this done server-side so that it works with
different interaction modes (i.e. it should work with kubectl as well as
knctl).

On Fri, Dec 7, 2018 at 11:34 AM Steren <notifications@github.com> wrote:

--
Evan Anderson <argent@google.com>

[2018-12-07 22:01] jonjohnsonjr commented on #2639
If we add a `Job` for releases that do part of an upgrade, we'll need to write the inverse of that `Job` to do the downgrade. These seem mutually exclusive, unless we write the Job in a way that knows if it's an upgrade or a downgrade (which seems hard).

With this approach, it seems like we may need different yamls for fresh install vs upgrade vs downgrade.

[2018-12-07 23:00] steren opened #2674 "Proposal: basic health check before declaring a Revision Ready"
/area API
/kind feature

# Problem statement

Today, if I deploy a container image that is not binding to the right port or that crashes at startup, the revision is successfully created and serving traffic (in case I am in `runLatest` mode). Of course, trying to access it results in a failure: "upstream request timeout".

# Proposal

Before marking a new Revision with `Ready=True` (ready to serve

[2018-12-07 23:01] adrcunha commented on #2458
Still doesn't work... Or maybe I'm doing something wrong.

https://github.com/knative/serving/pull/2526 is merged, it added `KO_DATA_PATH` for the E2E tests.

My test PR (https://github.com/knative/serving/pull/2672) shows the same error:

[code]

As you can see in https://prow.knative.dev/log?job=pull-knative-serving-integration-tests&id=1071170919482789888 (search for the message above)

[2018-12-07 23:50] josephburnett commented on #2669
You can opt out of scale to zero by adding the following annotation to your revision template: `autoscaling.knative.dev/minScale: "1"`.  Full yaml will look like this:

[code]

[2018-12-07 23:50] #2669 closed

[2018-12-07 23:54] josephburnett commented on #2636
@fatkun you can always disable scale to zero if the cold start time is too long.  E.g. https://github.com/knative/serving/issues/2669#issuecomment-445403107

[2018-12-08 01:14] andrewrynhard commented on #2652
@ffahri now that I have installed istio-lean along with release-lite, my pods cannot reach the internet. Which release YAML did you use in combination with istio-lean?

[2018-12-08 03:03] tcnghia commented on #2674
@steren do you have ReadinessProbe for your application?  Something like this
[code]

[2018-12-08 09:48] ffahri commented on #2652
@andrewrynhard hey,
im using istio-lean + release.yaml tested on **v0.2.1** its working nicely.
ps: i didnt do any azure ip/lb rules just created aks with cli and installed istio-lean and release.yaml
https://github.com/knative/serving/releases/download/v0.2.1/release.yaml
https://github.com/knative/serving/releases/download/v0.2.1/istio-lean.yaml

[2018-12-08 13:50] andrewrynhard commented on #2652
Hmm, that combination worked for me after rebuilding my cluster.

[2018-12-08 15:59] steren commented on #2674
I do not.
The idea is to provide some readiness check for users who do not implement a readiness probe.

[2018-12-08 22:50] #2622 closed

[2018-12-09 00:23] mattmoor opened #2678 "Don't recreate resources as we're tearing a thing down."
We recently started registering `DeleteFunc` handlers for our resources, which enables us to quickly recreate resources if they are deleted from out from under us.

A byproduct of this (still needs confirmation) is that I noticed that sometimes when a Revision is being torn down, that right at the moment the `Deployment`s pod starts `Terminating` another Pod (under a different `ReplicaSet`) appear

[2018-12-09 16:40] mattmoor commented on #2670
/assign @jonjohnsonjr

This should be trivial to add to `validateContainer`.

[2018-12-09 16:55] mattmoor commented on #2459
This seems to have happened 3x last night.  I'm trying to reproduce this locally, but I sent a PR to dump the webhook logs, which is the only one we're not dumping on failure (and contains the interesting log line for debugging this).

[2018-12-09 17:00] mattmoor commented on #2549
you duped yourself: https://github.com/knative/serving/issues/2576

[2018-12-09 17:00] #2549 closed

[2018-12-09 17:05] #2641 closed

[2018-12-09 17:06] mattmoor commented on #2580
If you put them in the metadata portion of `RevisionTemplate` does it work?

[2018-12-09 17:21] mattmoor commented on #2639
@evankanderson Yeah, I had this in one of the examples:

@jonjohnsonjr Ack.  Rollback safety in general requires us to introduce a component the release before we enable it by default, which is why I included this caveat:

Looking at the duality of upgrade / downgrade, this makes sense: You want everyone off of the new component before you remove it.  If an upgrade adds it, then its downgrade woul

[2018-12-09 17:49] mattmoor commented on #2462
So I spent a little more time parsing the logs from a recent flake, and I noticed a few things:
1. The `t.Log` in the "creates a ClusterIngress" is never called, which made me think: Maybe we're not creating a ClusterIngress?  Why wouldn't we do that?
2. This made me look more closely at the status we see in the Reconciles we see, and I noticed: `RevisionMissing Revision "test-rev" referenced in t

[2018-12-09 18:09] mattmoor commented on #2443
That links to the wrong test flake, let's try this: https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1071162866708516864

[2018-12-09 20:44] mattmoor opened #2681 "Intermittent 404s during TestScaleTo10"
e.g. [here](https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1071827243258351616):
[code]

I suspect that this is caused by the following:
 * We have a gateway with N > 1 replicas,
 * The new network config rolls out to M < N replicas,
 * `WaitForEndpointState` hits one of the M replicas, and
 * The route probes hit one of the N-M replicas

I believe the origina

[2018-12-10 02:08] mattmoor commented on #2459
I believe it just hit again, and my instrumentation to dump the webhook logs went in.  Here are the logs: https://storage.googleapis.com/knative-prow/logs/ci-knative-serving-continuous/1071917840090533888/build-log.txt

The relevant section starts with:
[code]

[2018-12-10 02:31] mattmoor commented on #2459
So the first update we perform to update an environment variable [here](https://github.com/knative/serving/blob/5766863b27ff718a70acc2443f579e501937a600/test/e2e/build_test.go#L223) yields the following, which looks right:
[code]

(keeps reading)

[2018-12-10 03:05] mattmoor commented on #2459
_Note that my original assessment of multiple Revisions getting stamped out from a single update was likely wrong, since this test intentionally performs an update that doesn't create a build._

Then the second update adds a build annotation [here](https://github.com/knative/serving/blob/5766863b27ff718a70acc2443f579e501937a600/test/e2e/build_test.go#L247), which looks right:
[code]

This bumps th

[2018-12-10 03:06] JarreyZhou opened #2683 "Creating ksvc with same name in diff namespace will case that ksvc not reachable"
/area networking
/kind bug

## Expected Behavior
After creating ksvc with same name(helloworld-go) in diff namespace, I can access the ksvc with helloworld-go.ns1 and  helloworld-go.ns2.

## Actual Behavior
After creating ksvc with same name(helloworld-go) in diff namespace, I can not access both of them

## Steps to Reproduce the Problem
Creating ksvc helloworld-go in diff namespaces

## Addition

[2018-12-10 03:31] JarreyZhou commented on #2683
cc @mdemirhan

[2018-12-10 04:18] mattmoor commented on #2465
The failures when this happen look like:
[code]

... at least all 13 I see in [the last flake](https://storage.googleapis.com/knative-prow/logs/ci-knative-serving-continuous/1071857442133905408/build-log.txt).

[2018-12-10 04:59] mattmoor commented on #2683
What version of knative/serving are you running?  I'm wondering if you have this fix (it looks like you don't)?

https://github.com/knative/serving/pull/2441

[2018-12-10 05:15] mattmoor commented on #2430
/kind bug
/assign @dgerd

So I believe that this is more or less the root cause of a flake I am seeing in our conformance testing ([e.g.](https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1071948039125471232)).

[This](https://github.com/knative/serving/blob/381a2dac221dac81d0bdf6d7338209db7d940a8e/test/conformance/service_test.go#L187-L194) logic here only waits

[2018-12-10 05:36] #2459 closed

[2018-12-10 06:17] JarreyZhou commented on #2683
thanks, my problem is solved by this pr

[2018-12-10 15:19] #639 closed

[2018-12-10 15:58] enhendrickson commented on #1952
@mattmoor for the purpose of making some project/architecture decisions, do you have any reason to believe you'll be able to look at this issue in the next 4-6 weeks?  Just trying to pick a path on my side and what you have here sounds so amazing that I don't want to overlook it as an option if we can get past the issues that I found

[2018-12-10 16:11] josephburnett commented on #2659
Something like [this](https://github.com/josephburnett/knative-serving/commit/3ea357bab90a56172237e3f66d01b6f40b2626e3) and [this](https://github.com/josephburnett/knative-serving/commit/66ff35d40e3aabaeef428726e871c47bf2b527f7)

[2018-12-10 16:23] vantuvt commented on #2495
I'm curious, are there any open proposals on how to address this feature request at this time?

[2018-12-10 18:17] anthonydahanne opened #2689 "Have knative accept wildcard dns"
/kind feature
/kind proposal
/area networking

## Expected Behavior

I with I could hit my knative service using a wildcard dns service such as nip.io; for example, I'd like to do :

    curl -v helloworld.default.example.com.X.X.X.X.nip.io

and have Knative serve my content

## Actual Behavior

It will return 404, because I believe knative / istio does not route properly to my workload because I

[2018-12-10 18:18] anthonydahanne commented on #2689
@mattmoor - we've met during kubecon 2018 workshop

[2018-12-10 18:24] josephburnett commented on #2495
@sjug you worked on this a bit.  Do you have any recommendations?

[2018-12-10 18:56] dgerd commented on #2678
Your explanation makes the most sense to me. Is this reproducible all the time? If so it should be easy to add some instrumentation to confirm. Happy to take a stab at doing this.

https://github.com/knative/serving/blob/678373de7aad970c4796c197beb945a8267386c6/pkg/reconciler/v1alpha1/revision/reconcile_resources.go#L43-L56

[2018-12-10 19:23] grantr commented on #2507
I agree. The close proximity of `Error` and `True` when viewing the `kubectl -oyaml` output strongly suggests that errors have occurred. The user must be familiar with the design of the conditions API to understand that `type` and `status` are relevant and `severity` is irrelevant.

[2018-12-10 19:33] ellis-bigelow commented on #2580
It does! Make sense that the revision template should do this. Thanks.

On Sun, Dec 9, 2018 at 9:06 AM Matt Moore <notifications@github.com> wrote:

--
</Ellis>

[2018-12-10 19:33] #2580 closed

[2018-12-10 19:58] greghaynes commented on #2495
https://github.com/knative/serving/pull/2323 would be nice to get in for reporting 'how much time is spent before our application begins executing' to testgrid

[2018-12-10 20:47] cooperneil commented on #2430
So of the 3 options outlined, what do we think the right approach is? I'm happy with either options 2 or 3, i.e.

- option 2) add a new terminal condition like "RolloutComplete" that encapsulates the new readiness logic
- option 3) pack the new readiness logic into the RoutesReady condition, so that RoutesReady is more than a straight propagation of the underlying Route's readiness.

[2018-12-10 22:38] dgerd commented on #2430
I was originally more in favor of Option 2 as I liked the properties that:

* service."RouteReady" == route."Ready" and
* service."Ready" == The && of all other terminal conditions

However, I am coming around to Option 3. I think we can accurately capture the state through `message` and `reason` fields so that it is clear that the Route is ready, but transitioning to a new revision. Meanwhile kee

[2018-12-11 00:31] #2683 closed

[2018-12-11 05:18] mattmoor commented on #2689
👋 @anthonydahanne thanks for filing this.

[2018-12-11 05:21] mattmoor commented on #2689
@tcnghia As an aside, I wonder if we could also recommend that folks configure `config-domain.yaml` with `${IP_ADDRESS}.nip.io` to avoid the need for `-H`?

[2018-12-11 05:45] mattmoor commented on #1952
@tcnghia is this something we could investigate?

[2018-12-11 07:58] markusthoemmes commented on #2495
#2667 will somewhat contribute to this as well, as it'll measure the time it takes to scale an application up from 1-X, arguably cold-start as well, just a slightly different category.

[2018-12-11 07:59] spcxta opened #2695 "Sporadic high latency when calling service with minScale 1"
When sending a http request to `example-function.default.svc.cluster.local` the latency reported by `x-envoy-upstream-service-time` jumps from 2ms to multiple seconds

## Expected Behavior
The latency should always stay low because of minScale 1

## Steps to Reproduce the Problem
Send a request with curl to the function after kpaScaler wants to downscale the function to 0

## Additional Info
[code

[2018-12-11 08:15] markusthoemmes commented on #2695
@spcxta good one! The naive fix sounds good to me and seems to have all test-cases still passing 👍

[2018-12-11 18:49] sjug commented on #2495
We have most of the metrics on the Kubernetes pod cold start available in
Prometheus already. This ticket would include the difference on top of the
pod start time. I don't know what level of tracing we have now for just the
knative layer, or if we want to add Prometheus "metrics" all the way up.

On Mon, Dec 10, 2018, 11:58 PM Markus Thömmes <notifications@github.com>
wrote:

[2018-12-12 03:05] prithviramesh commented on #2507
/assign

[2018-12-12 03:05] prithviramesh commented on #2507
I'd like to work on this

[2018-12-12 10:02] markusthoemmes commented on #2695
Talked to @spcxta on attacking this ASAP. I'll take a stab at it

/assign

[2018-12-12 12:23] zxDiscovery opened #2703 "Knative serving namespace should't hardcode"
https://github.com/knative/serving/blob/a1bd165172988429f2a28964be35e21ae531c09c/pkg/system/names.go#L22

I think the knative-serving namespace should get from configuration file. So that user can deploy it in any namespaces.

[2018-12-12 14:25] mgencur opened #2705 "Autoscaler: rash decisions after crash or start"
When the autoscaler first starts or crashes and restarts it makes rash decisions about scaling.
For example, when it crashes and restarts, and there are no requests for 2 seconds it will immediately scale to down significantly (scale to 1). See my test below which simulates the situation when there are no statistics (after crash) except for those from last two seconds. The test returns 0 but there

[2018-12-13 00:53] fsigalov opened #2707 "Allow activator to run on stateful pods"
/kind/proposal
/area/autoscale

## Proposal for new feature
Ability to enable activator logic (scale to 0 based on no rps, reroute istio to activator, recreate pod on new request) for regular k8s services, instead of just knative services.
Activator and knative auto-scaler should be separately installable and operate on normal k8s services.

## Scenario
We have a large number of pods that we host

[2018-12-13 00:55] fsigalov commented on #2707
sorry, my first issue. not sure how to fix the labels the robot added

[2018-12-13 07:25] ZhiminXiang opened #2709 "Make the default ClusterIngress reconciler configurable"
/area networking
/kind good-first-issue

## Expected Behavior
Users should be able to configure the default ClusterIngress reconciler for the ClusterIngress without [IngressClassAnnotationKey](https://github.com/knative/serving/blob/917af9cf3306e9d15a0498af78ed0f7e3450ad04/pkg/apis/networking/register.go#L35)

## Actual Behavior
Currently we use Istio-based ClusterIngress reconciler to process the

[2018-12-13 12:36] markusthoemmes commented on #2480
Is it possible that `siege` is misconfigured in your case @VeerMuchandi? I gave this a shot locally and it indeed did not scale at all with the settings you used. For the autoscaling example we need to reach a concurrency > 100 to work.

Using the `-c 255` (to use 255 users in parallel) produced exactly the results we wanted to see.

Could you verify that?

[2018-12-13 19:20] steuhs commented on #2347
A sample behavior of failing the job can be found here: https://github.com/knative/serving/pull/2713

Note that the job is not configured as "required" for now. That means it will not prevent the PR from merging. Repo owners can mark the job as required when they feel comfortable doing so.

[2018-12-14 05:04] #2488 closed

[2018-12-14 12:19] markusthoemmes opened #2715 "upload-test-images.sh is not compatible with Dockerhub"
## Expected Behavior

I can follow the instructions at https://github.com/knative/serving/tree/master/test to run tests.

## Actual Behavior

1. I have to adjust the `upload-test-images.sh` script to make it compatible with Dockerhub (drop the `-P` flag from `ko` for instance)
2. I have to set `--dockerrepo` in unexpected ways (since the default is not `$DOCKER_REPO_OVERRIDE` but `$DOCKER_REPO_OVE

[2018-12-14 12:19] markusthoemmes commented on #2715
/assign

[2018-12-14 14:03] nicolaferraro opened #2720 "Old revisions running forever when using minScale"
/area autoscale
/kind bug

## Expected Behavior
When running a kservice with a `runLatest` configuration and a `autoscaling.knative.dev/minScale` annotation set to `1`, Knative should apply the `minScale` configuration only on active revisions not on "retired" revisions, otherwise old revisions will remain always running.

I've seen a similar discussion in #755, but that wasn't a real problem sinc

[2018-12-14 15:05] dicarlo2 opened #2721 "Enable automated canary deployments using Services"
Currently, using the `/spec/release` key in a Service allows for simple blue/green deployments, but for automated canaries (e.g. using spinnaker) we'd like to have 3 groups:

  1. new version
  2. with an equal traffic split to a) on the old version
  3. the remainder on the old version.

E.g., initially we might do 1/ 5%, 2/ 5% and 3/ 90% and then slowly increase 1/ and 2/. We could compare the m

[2018-12-14 19:00] jessiezcc opened #2723 "automate copyright"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

1.
2.
3.

## Additional Info

[2018-12-14 19:01] jessiezcc commented on #2723
accidentally created an issue while just trying to find an existing issue

[2018-12-14 19:01] #2723 closed

[2018-12-14 19:01] erain commented on #1238
I believe we don't need to fix this issue anymore, since `DefaultTransport` in latest golang release already has default timeouts?

https://github.com/golang/go/blob/dbd323bb880ff27fa9b4bdfebf3e5d4828b09678/src/net/http/transport.go#L42-L53

[2018-12-14 19:07] tcnghia commented on #2649
@zxDiscovery in the script I append both yaml files into one for one line installation, but the gateway installation can be done separately.

[2018-12-14 21:05] jonjohnsonjr commented on #2462
I just hit this in https://github.com/knative/serving/pull/2724

[logs](https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/2724/pull-knative-serving-unit-tests/1073680957363458049/):
[code]

[2018-12-14 23:27] dgerd opened #2727 "Create generic e2e testing container"
## Expected Behavior

This issue is to create a generic container for use in end-to-end testing that prints out diagnostic information visible inside the container in a way that is consumable in our tests. The goal is to have an extensible image to reduce the need to create new test-specific images.

A starting point for this would be to print resolved ENV variables. The variables can be useful to

[2018-12-15 16:31] mattmoor opened #2728 "timeoutSeconds should be an int or lose "seconds" from the name"
I'm inclined to leave the "seconds" part...

[2018-12-15 17:06] #2582 closed

[2018-12-15 18:17] greghaynes commented on #2615
@imikushin Based on our chats at kubecon I think you mentioned working on this may be backlogged a bit for you? I'm happy to work on this if so.

[2018-12-15 22:10] bradhoekstra opened #2729 "Inconsistent documentation on whether resources are allowed in spec.md"
## Expected Behavior
Indicate that container resources are allowed to be specified by the user.

## Actual Behavior
There are a couple places that still say resources are not allowed.

## Steps to Reproduce the Problem
https://github.com/knative/serving/blob/master/docs/spec/spec.md

## Additional Info
The container information is duplicated in a few places, we should factor that out.

[2018-12-15 22:11] bradhoekstra commented on #2729
/assign @bradhoekstra

[2018-12-15 23:10] markusthoemmes commented on #2728
I agree, stumbled over the same thing when implementing the revision-timeout to terminationGrace.

[2018-12-15 23:13] #2670 closed

[2018-12-16 04:15] mattmoor commented on #2728
I have a change to do this.  It touched a whole bunch of files, but now'd the time to fix it.

[2018-12-16 04:15] mattmoor commented on #2728
/assign

[2018-12-16 20:05] mattmoor opened #2732 "WaitForFooState e2e methods should dump final state"
There are a number of `WaitForFooState` functions (for each of our resource types), where the main failure mode is to timeout because a state was never reached.  It would be useful to have these functions dump the final observed state of the resource on failure, so that debugging them doesn't require reproducing the failure and catching the bad state manually.

[2018-12-16 21:14] #2576 closed

[2018-12-17 08:16] markusthoemmes opened #2735 "Traffic split should only be applied after a revision is ready once."
## Expected Behavior

When applying a traffic split to a service in `release` mode, I expect the traffic to be routed to the new revision only after the image has been built, a pod has been brought up and that pod is verified to work properly. In other words: When the Revision is considered Ready.

## Actual Behavior

The traffic split is applied right away, causing the traffic to the new revision

[2018-12-17 16:39] sebgoa commented on #2127
I mentioned this early in August. I would consider this a blocker.

So big +1

[2018-12-17 17:52] #2554 closed

[2018-12-17 18:00] #2637 closed

[2018-12-17 18:03] carusology commented on #2720
I ran into this last night when monkeying with `minScale.` As one would expect, the traffic only goes to the newest revision, even though the old revision has an active deployment.

[2018-12-17 18:35] imikushin commented on #2615
Yeah, feel free to grab it!
/unassign

[2018-12-17 18:51] carusology commented on #2720
That is the current behavior. The `replicas` property on the old revision's Kubernetes deployment doesn't get updated.

[2018-12-17 19:01] tcnghia commented on #1238
@dprotaso do you still see a need for a different transport?

[2018-12-17 19:03] #2076 closed

[2018-12-17 19:05] srinivashegde86 commented on #2479
this is now happening with go 1.10 as well - https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/2725/pull-knative-serving-upgrade-tests/1074733769555972099/

[2018-12-17 21:22] adrcunha commented on #2479
This is actually unrelated to Cloud SDK and go version. It failed for the same reason with Cloud SDK 221 and go 1.10:

https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/2725/pull-knative-serving-integration-tests/1074773657357651968/

I'm now suspicious of `ko`.

[2018-12-17 21:46] adrcunha commented on #2479
prow-tests image v20181017-5d2a1d3 works fine. It uses Cloud SDK 221 and go 1.10:

https://prow.knative.dev/log?job=pull-knative-serving-integration-tests&id=1074778816099913728

[2018-12-17 22:13] #2427 closed

[2018-12-17 23:42] jonjohnsonjr commented on #2479
It looks like this is happening with `github.com/knative/serving/cmd/queue` a lot.

Two things I've noticed:
1. That package has [symlinks in kodata](https://github.com/knative/serving/tree/master/cmd/queue/kodata). We saw another failure in build-pipeline with the same for the [webhook package](https://github.com/knative/build-pipeline/tree/master/cmd/webhook/kodata).
2. That package is being bui

[2018-12-18 01:32] #1241 closed

[2018-12-18 04:48] mattmoor commented on #2498
@greghaynes I found [this](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/) poking around yesterday.  Two notable things:
1. The default sync period for the FS appears to be 20 seconds (too slow in general), but perhaps I'm misreading.
2. There is mention of an underspecified API through which we can perhaps achieve a similar result (perhaps with bounds on the latency).

[2018-12-18 07:32] adrcunha commented on #2479
Nailed down the culprit to ko. Details and logs in https://github.com/knative/serving/pull/2745. The culprit seems to be https://github.com/google/go-containerregistry/pull/297

Jon, you authored that PR and has way more context than me, so I'm assigning this issue to you.

/assign @jonjohnsonjr

[2018-12-18 15:01] vvraskin opened #2748 "TestGlobalResyncOnUpdateGatewayConfigMap is failing intermittently"
## Expected Behavior
Unit tests should not fail.
## Actual Behavior
Unit tests fail intermittently.
## Steps to Reproduce the Problem
I have to admit that I was not able to reproduce it locally. The failures I've seen only appeared on the Test environment used by PR bots, such as - https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/2653/pull-knative-serving-unit-tests/1

[2018-12-18 16:01] greghaynes commented on #2498
@mattmoor Thanks - I saw this and got worried too about the sync time but the behavior I saw seemed like it was using inotify (fortunately). Looking through the code - https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L288 -> https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/config/file_linux.go#L86 is what seems to detect these pods, so maybe that doc is j

[2018-12-18 17:57] #2728 closed

[2018-12-18 17:59] mattmoor commented on #2258
Moving the remaining scope to 0.4.  We've landed what we wanted in 0.3.

[2018-12-18 19:46] bbrowning commented on #2291
@josephburnett As a general rule, if pods are ever being Evicted then you're running out of resources in your Kubernetes cluster. In this case, Kubernetes is evicting some of your monitoring stack to make room for your application pods. See https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#evicting-end-user-pods and https://kubernetes.io/docs/concepts/configuration/pod-priority-

[2018-12-18 20:11] adrcunha commented on #2479
@jonjohnsonjr environment variables are dumped here:

https://prow.knative.dev/log?job=pull-knative-serving-integration-tests&id=1075118053097738241

Search for @@@, they're right after the first occurrence.

[2018-12-18 22:43] dgerd opened #2752 "QueueProxy silently fails"
## Expected Behavior
The QueueProxy should output logs and fail when it is unable to setup the server or adminServer.

## Actual Behavior
If any of the endpoints on the QueueProxy fail to start up the QueueProxy continues to run as normal with no errors output to logging. When reproducing this it looks like everything is running normally as the user container is reachable and the QueueProxy is run

[2018-12-18 23:03] dgerd commented on #2752
The PR above should make this less likely to hit as it blocks the reproduction steps, but I believe it is still a problem that the QueueProxy silently keeps running when the HTTP servers fail.

[2018-12-18 23:19] #2599 closed

[2018-12-18 23:30] tcnghia commented on #2752
We have ReadinessProbe for queue-proxy https://github.com/knative/serving/blob/ce262fe28015798d7a5d63479cc2cbd9ec09dc8e/pkg/reconciler/v1alpha1/revision/resources/queue.go#L93

However, since the user container is serving at the same path and returning 200, the readinessProbe didn't help.

[2018-12-18 23:50] dgerd commented on #2727
https://github.com/mchmarny/tellmeall would be a great starting point. It grabs quite a bit of information, but the output is intended more for human consumption. It would likely need some changes to make the data easier to consume in our tests.

[2018-12-19 01:24] #642 closed, assigned to dprotaso, bsnchan

[2018-12-19 01:26] #1128 closed, assigned to dprotaso

[2018-12-19 01:37] mattmoor commented on #2606
@josephburnett @markusthoemmes Can you guys update this with the bad behavior we see today?  It's not clear to me what's left to remove the extra guards.

[2018-12-19 01:38] mattmoor commented on #2606
I think the guards are enough to move this off the 0.3 milestone.

[2018-12-19 04:39] mattmoor commented on #2019
@mdemirhan is this now complete?

[2018-12-19 05:11] mattmoor opened #2755 "Test to verify external connectivity"
We need a simple e2e test that verifies external connectivity, e.g. `curl google.com`

[2018-12-19 06:10] mattmoor opened #2756 "Use fancier issue templates"
I noticed what docs did here: https://github.com/knative/docs/pull/643

[2018-12-19 06:16] solsson opened #2757 "HTTP Request metric reporting stops, Grafana shows all zeroes"
## Expected Behavior

Grafana's "Revision HTTP Requests" dashboard showing request rates etc.

## Actual Behavior

Typically works but a couple of times in the last few days the `istio_revision_request_count` have stopped increasing, for all services.

## Steps to Reproduce the Problem

I don't know yet what is causing this.

## Additional Info

During failures the `istio-telemetry` pods log the e

[2018-12-19 06:17] solsson commented on #2291
I reported https://github.com/knative/serving/issues/2757 instead because I no longer think my issue is related.

[2018-12-19 10:35] markusthoemmes commented on #2752
Good find. I think we need to connect the errors being thrown by the `ListenAndServe` method with the graceful shutdown mechanism. Since I implemented these changes, I'm happy to do that.

/assign

[2018-12-19 10:55] markusthoemmes commented on #2480
@VeerMuchandi can you doublecheck my suggested fix to your siege configuration and if that resolves the issue for you?

[2018-12-19 10:57] markusthoemmes commented on #2010
/assign This is in the works by #2722

[2018-12-19 12:32] #2695 closed

[2018-12-19 15:41] jpza commented on #2195
FWIW, I ran into this problem on AWS EKS after having to switch from a standard helm install to a helm template install, due to CRDs seemingly not being removed correctly via a regular *helm install/helm purge* process. So both of the setup procedures produced an error of some kind on AWS EKS.

[2018-12-19 16:04] Docteur-RS commented on #2195
Deploying the **istio.yaml** twice seems to be working.

if as bbrowning said the certs must be deployed first, then it make sense that its working on the second run.

[2018-12-19 17:22] VeerMuchandi commented on #2480
Markus, Traveling right now. I'll check your suggestion in a day or two.

On Wed, Dec 19, 2018 at 5:55 AM Markus Thömmes <notifications@github.com>
wrote:

[2018-12-19 18:14] #2553 closed

[2018-12-19 19:44] dgerd opened #2761 "Sidecar ports should not conflict with user ports"
## Expected Behavior
As a user of Knative I can pick any valid port for my container.

## Actual Behavior
Currently ports 8012 and 8022 are hardcoded and used by the QueueProxy sidecar. Since they share the same network interface as the user container, the user container cannot select these ports. Use of these ports are currently blocked by the webhook (#2753). This issue is to update the QueuePro

[2018-12-20 14:59] #2729 closed

[2018-12-20 17:09] carusology commented on #2720
Hey, @josephburnett:

Which Kubernetes resource for the pod autoscaler stores the `minScale` annotation? That sounds like a better solution than deleting the old revisions. Apologies in advance if this is obvious.

[2018-12-20 17:38] dgerd commented on #2668
/milestone Serving 0.4

[2018-12-20 20:46] dgerd commented on #2735
This seems very similar to #2430 where one child resource has enacted the changes, but the other child resource has not. I think we should look at tackling both in Milestone 0.4. This one seems to be a bit more impacting than the other since traffic gets black holed rather than sent to the previous revision.

Thinking about this briefly I am in favor of the simple approach as the former approach w

[2018-12-20 21:06] dgerd commented on #2678
/milestone Serving 0.4

[2018-12-20 22:10] tcnghia opened #2767 "Need tests to detect reconciler webhook defaulting loops"
## Expected Behavior

We know when our code have loops where reconciler tries to undo defaulting changes.

## Actual Behavior

Tests will only appear to be flaky, due to excessive updates coming from reconciler.

## Additional Info

Some signs for these loops:
- generation number become very large
- excessive updates from reconcilers

[2018-12-20 23:01] #844 closed

[2018-12-21 09:16] abbi-gaurav opened #2773 "Knative serving samples do not work with K8S version 1.13.0"
## Expected Behavior
When installing Knative with K8S version 1.13.0, the Knative serving and samples should work.

## Actual Behavior
Getting the following error when trying `helloworld-go` sample.

[code]

## Steps to Reproduce the Problem

1. Start minikube with following command
[code]
2. Follow rest of the installation steps for Knative local installation

[2018-12-21 11:01] markusthoemmes opened #2774 "TestMultiScalerRecordsStatistics fails intermittently."
Example failure:

https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/2722/pull-knative-serving-unit-tests/1076066803890786305/

Reason for the failure.

[code]

[2018-12-21 14:02] markusthoemmes commented on #2774
/assign

[2018-12-21 14:35] #2774 closed

[2018-12-21 15:37] erain opened #2778 "Broken symlinks under `/vendor`."
## Expected Behavior

No broken symlinks in the repository.

## Actual Behavior

There are multiple broken symlinks in the repository. Examples:

1. https://github.com/knative/serving/tree/master/vendor/github.com/google/go-containerregistry/cmd/ko/test/kodata
2. https://github.com/knative/serving/blob/master/vendor/github.com/prometheus/procfs/fixtures/26231/ns/mnt

## Additional Info

I tried to

[2018-12-21 16:20] #499 closed

[2018-12-21 16:20] #2010 closed

[2018-12-21 16:37] markusthoemmes commented on #2258
Should we only take the EXPOSEd port if there is only one port exposed? Or shall we take the first one in that case?

[2018-12-21 17:00] ffahri opened #2779 "ImagePullSecrets with serving service"
Is there a way to use private docker registry if we can how to mount our image pull secrets to knative service?

[2018-12-21 17:03] dgerd commented on #2258
After thinking about this a bit, I am personally not sure if trying to take EXPOSE is a good idea here. In the best case scenario it can simplify configuration, but in many cases it could make configuring port more difficult or cause unintentional behavior that would be difficult to debug. This behavior also doesn't seem to be required by our runtime contract.

If using a base image that has EXPOS

[2018-12-21 17:11] markusthoemmes commented on #2258
+1 to @dgerd. The barrier of actually configuring the PORT seems so low compared to the amount of false positives and "surprise" we could get through inferring stuff through EXPOSE that I'm also inclined to take that out of scope.

[2018-12-21 18:54] evankanderson commented on #2258
If we're falling back to EXPOSE, I'd expect only a single port to be
present (or for the Revision to be in an error state).

I'm not sure I understand how changing the PORT (and expected user
container port) would cause the application to break -- Kubernetes already
performs a network translation when mapping from services to
ContainerPorts, and the ingress to the whole system will continue to be

[2018-12-21 19:28] tcnghia opened #2781 "Connection loss from activator & queue-proxy to autoscaler"
## Expected Behavior
`queue-proxy` and `activator` can report stats to `autoscaler`.

## Actual Behavior
Connection lost and these show up in the log
[code]

[code]

## Steps to Reproduce the Problem
No consistent repro yet.

## Additional Info
https://knative.slack.com/archives/C94SPR60H/p1545264051095800
https://knative.slack.com/archives/CA9RHBGJX/p1545370502000900

[2018-12-21 20:48] dgerd commented on #2258
present (or for the Revision to be in an error state).

Talked about this in person with Evan. With EXPOSE inherited from base images (i.e. FROM nginx ... EXPOSE 8080) it will be easy to accidentally have multiple ports exposed (or have a port added/removed underneath you on an image rebuild).

selection for each Revision?

Most of our examples. :) But more seriously...

To rephrase my understandi

[2018-12-21 22:04] jessiezcc opened #2782 "https://testgrid.knative.dev/knative-serving#performance is missing data for last 3 days"
the newly added metrics are not showing any data on testgrid.

TestObservedConcurrency/to1
TestObservedConcurrency/to2
TestObservedConcurrency/to3
TestObservedConcurrency/to4
TestObservedConcurrency/to5