[2019-07-11 18:02] vagababov commented on #4702
Yeah, that's how I read the numbers:
CC (wherever it's set) -- is hard limit (QP won't permit more concurrent
requests  than this)
TU (wherever it's set) * CC -- is soft limit (AS will add a pod if average
load per pod is > TU*CC)

On Thu, Jul 11, 2019 at 10:56 AM Markus Thömmes <notifications@github.com>
wrote:

[2019-07-11 18:03] yanweiguo commented on #4702
So:
containerConcurrency: My app will die if concurrency exceeds this.
target: this is what my app can deal with. it won't die but it may be sick if concurrency exceeds this.
utilizationPercentage: hmm, I want to give my app a bit more room so it won't turn unhealthy easily.

I just feel utilizationPercentage is redundant. If you want more room for your app to breathe, just give a lower target.

[2019-07-11 18:15] markusthoemmes commented on #4702
Your app won't actually die. It will start queueing though.

The redundancy of `utilizationPercentage` is indeed debatable, especially as a per-revision setting.

[2019-07-11 18:17] yanweiguo commented on #4702
Taking utilizationPercentage as kind of internal adjustment to make our system more stable makes sense to me. My only concern here is that exposing it as annotation which customers can set may make configuration rule complicated (maybe customers won't care about that annotation).

/close

[2019-07-11 18:17] #4702 closed

[2019-07-11 19:09] vagababov commented on #1846
Affirmative.

On Thu, Jul 11, 2019 at 7:17 AM Matt Moore <notifications@github.com> wrote:

[2019-07-11 19:12] vagababov commented on #4705
This is an interesting departure from Activator, where it'll limit to 1000,
if nothing is set.
In general, for this issue, I think that Activator can take advantage of
the data provided in the revision annotation to set the
Breaker.MaxConcurrency, rather than default to 1000 if it's only set in the
configmap or annotation.

On Wed, Jul 10, 2019 at 11:48 PM Markus Thömmes <notifications@github.com>

[2019-07-11 19:24] markusthoemmes commented on #4705
@vagababov thats for the maximum backlog per revisionI think.

We shouldn‘t set the the individual capacity of the breakers based on the annotations I think though.

[2019-07-11 19:39] jonjohnsonjr commented on #3593
This may have been fixed by https://github.com/knative/serving/pull/4191?

[2019-07-11 19:59] JRBANCEL commented on #4716
/assign

[2019-07-11 20:29] vagababov commented on #4705
Perhaps. I just like uniformity :-)

[2019-07-11 20:40] markusthoemmes commented on #4705
The question is: What behavior do we want the activator to have? Do we want it to enforce a limit the queue-proxy does not enforce for instance (if containterConcurrency is unset).

[2019-07-11 20:55] dgerd commented on #3689
This might be better solved by the Service controller when creating the Route.

Instead of having the Route owned by the Service always share the Service name we could instead look at adding an option to use enable the user of K8s `generateName` on the created Route. We already use `GenerateName` for K8s Deployments and Knative Revisions so there should be some code example there. The result would

[2019-07-11 21:29] Inkdpixels commented on #3903
@mattmoor We can confirm that once you turn off mTLS via the policy that @kbruner posted the pods reach a ready state as expected. If you need any more Infos in regards to the setup or the like I could help! ✌️

[2019-07-11 21:46] jonjohnsonjr commented on #4183
Should we also ignore [`enable-scale-to-zero`](https://github.com/knative/serving/blob/05fbfdbc8c011b6c03ab51fef4830d66ad75e846/config/config-autoscaler.yaml#L103) for non-routable revisions?

[2019-07-11 21:49] tanzeeb commented on #4183
My gut says no, because `enable-scale-to-zero` is cluster-wide (ie. something an operator would set), while the min/max scale annotations are per-app (something the developer would set).

[2019-07-11 22:14] mattmoor commented on #3903
Awesome.  I think we have an open issue to track mTLS support in our CI, so let's use that to track this.

thanks for confirming the issue.

[2019-07-11 22:14] #3903 closed

[2019-07-12 00:03] #1279 closed

[2019-07-12 00:28] duglin commented on #3689
We'd need to make sure that the random value is wider than just a namespace, I think it should be cluster-wide since one of the reasons people might use this is to use it in place of using the namespace for uniqueness.

[2019-07-12 07:26] iamcc opened #4915 "Making your Routes local to the cluster(docs/serving/cluster-local-route.md)"
## Expected Behavior
I get a service with label `serving.knative.dev/visibility: cluster-local`
example: internal.develop.svc.cluster.local

I get another service without the label.
example: proxy.develop.example.com
And in the proxy service, `nslookup internal.develop.svc.cluster.local` should be ok.

## Actual Behavior
But I got an error with `cannot resolve the hostname`

## Steps to Reproduce

[2019-07-12 12:02] #4686 closed

[2019-07-12 12:02] #4684 closed

[2019-07-12 12:02] #4683 closed

[2019-07-12 12:02] knative-flaky-test-reporter-robot opened #4727 "[flaky] pkg/queue/readiness.TestKnHTTPTimeoutFailure"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/queue/readiness.TestKnHTTPTimeoutFailure
* **Repository name**: serving

[2019-07-12 16:45] mattmoor commented on #4215
/close

[2019-07-12 16:45] #4215 closed

[2019-07-12 17:17] paulgmiller opened #4732 "Apiservice v1beta1.custom.metrics.k8s.io blocks ns delete"
## In what area(s)?

/area autoscale

## What version of Knative?

0.7.1

## Expected Behavior

When I delete the knative-serving namespace it terminates succesfully

## Actual Behavior

As describe in the github issue here:
https://github.com/kubernetes/kubernetes/issues/60807#issuecomment-510962448
The api service that refereces the knative -serivng namespace blocks finalization.
THis in turn bl

[2019-07-12 17:31] shashwathi commented on #4700
/assign

[2019-07-12 18:03] vagababov commented on #4732
/cc @markusthoemmes

[2019-07-12 18:14] JRBANCEL commented on #4716
According to Prometheus, the namespace must be a single word: https://prometheus.io/docs/practices/naming/#metric-names

[2019-07-12 18:14] tcnghia commented on #2086
/assign @andrew-su

[2019-07-12 18:36] vagababov commented on #4716
Should vs Must :-) but sure.

[2019-07-12 18:44] #971 closed

[2019-07-12 19:06] duglin opened #4736 "Feature Flag Routing"
## In what area(s)?
/area API
/area networking

/kind spec
/kind proposal

## Describe the feature

One of the things we hear from customers is that routing between revisions based on percentage isn't really of interest to them once in production. In practice they tend to lean more towards a model where only a select group of users are expected to use the latest versions so that everyone else (who

[2019-07-13 01:17] #4647 closed

[2019-07-13 12:02] knative-test-reporter-robot opened #4743 "[flaky] _build_tests.Build_Go"
### Auto-generated issue tracking flakiness of test
* **Test name**: _build_tests.Build_Go
* **Repository name**: serving

[2019-07-13 14:12] mattmoor opened #4744 "Replace scale-to-zero tests with TBC=-1"
## In what area(s)?

/area networking
/area test-and-release
/kind cleanup
/kind good-first-issue

## Describe the feature

There are a large number of tests that are meant to test having the activator on the data-path, which wait for us to scale to zero in order to test what they are after.  For example the GRPC and websocket tests that scale to zero are for this purpose.

We should triage all of

[2019-07-13 14:21] mattmoor commented on #4680
cc @tcnghia

[2019-07-13 16:48] mattmoor commented on #4640
/kind good-first-issue

[2019-07-13 16:50] mattmoor commented on #4732
Does this only repro when the namespace is deleted without deleting the full release yaml?

[2019-07-13 16:59] markusthoemmes commented on #4744
SGTM, many of these are only there to assert that proxying via the Activator doesn't break these protocols.

[2019-07-13 17:15] mattmoor commented on #4736
A nit, this is only true if a *breaking* API change is needed.  The core kube APIs (e.g. Pod) have continued to evolve long past v1 to incorporate new (non-trivial) functionality.  An example of this is projection of secrets and configmaps into environment variables, which didn't land until 1.3 (IIRC), and this is far from the last change.

Do you have a reason to think that this would require a b

[2019-07-13 17:28] mattmoor commented on #4705
If `containerConcurrency` isn't specified, then we probably should not throttle in the activator based on concurrency (after all `target` is a guess).

That said, we want to use the activator to shield the pods from overload in the case of large spikes, so perhaps they could engage throttling based on back-pressure from the application (e.g. if it starts serving 5xx)?

These thresholds are interes

[2019-07-13 17:51] duglin commented on #4736
Off the top of my head I see one potential area... the `percent` field. When not present it defaults to zero, so adding a new field to specify some other routing thingy might feel like a bit of a conflict. So, we may need to modify it to say "w/o any routing data at all, default is percent=0", instead of "if no percent, default is percent=0".

I agree with you that I think this is mostly a higher-

[2019-07-13 18:40] vagababov commented on #4744
/assign

[2019-07-13 18:41] vagababov commented on #4732
Yeah, when I basically `k delete he knative-serving` without `k delete ./config/.` it will hang forever.

[2019-07-14 12:02] knative-flaky-test-reporter-robot opened #4746 "[flaky] knative.dev/serving/test/conformance/runtime.TestSecretsViaEnv/envFrom"
### Auto-generated issue tracking flakiness of test
* **Test name**: knative.dev/serving/test/conformance/runtime.TestSecretsViaEnv/envFrom
* **Repository name**: serving

[2019-07-14 12:02] knative-flaky-test-reporter-robot opened #4747 "[flaky] knative.dev/serving/test/conformance/runtime.TestSecretsViaEnv"
### Auto-generated issue tracking flakiness of test
* **Test name**: knative.dev/serving/test/conformance/runtime.TestSecretsViaEnv
* **Repository name**: serving

[2019-07-14 14:04] mattmoor commented on #4173
@dgerd Is this still on you radar for 0.8?

[2019-07-15 02:00] #4744 closed

[2019-07-15 05:28] yu2003w commented on #4680
If extras for Istio 1.1.7 and 1.2.0 is needed, I could prepare PR.

[2019-07-15 06:45] markusthoemmes commented on #4028
/assign yu2003w

[2019-07-15 08:26] markusthoemmes opened #4752 "The 503s are back"
## In what area(s)?

/area autoscale
/area networking
/area test-and-release

We had issues with 503s earlier and they seemed to be relieved by upgrading the Istio version. Judging by intermittent builds like this: https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_serving/4726/pull-knative-serving-integration-tests/1150657391163871233 it seems like we have had a regression of sor

[2019-07-15 09:02] yu2003w commented on #4028
@tcnghia  I updated code again and only added tests for FQDN, did not touch short names.
If I misunderstood something, please let me know. Thanks a lot.

[2019-07-15 12:33] #4716 closed

[2019-07-15 13:42] markusthoemmes commented on #4752
https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_serving/4724/pull-knative-serving-integration-tests/1150752014955712513

Another occurence of a pretty broken run.

[2019-07-15 14:15] mattmoor commented on #4183
Don't ignore that.

[2019-07-15 14:20] #4697 closed

[2019-07-15 16:17] taragu commented on #4470
@ssmall I talked to @greghaynes and he suggested that this could be a problem caused by the reporting window longer than the autoscaler window (60 sec). Would that solve this problem?
/cc @mdemirhan

[2019-07-15 16:19] paulgmiller commented on #4732
Also fun fact the clusteringress.networking.internal.knative.dev resources appear in unrelated namespaces when you do kubectl get all -n <unrelatedns> even though that crd appears to be non -namespaced  This _seems_ to block deletion of those namespaces (I _think_ because the namespace controller deletes them but something in knative serving readds them before the namepsace can be finalized). Even

[2019-07-15 16:24] greghaynes commented on #4470
Yep. I am not an expert on our metrics reporting but I wonder if we could enforce the reporting window to be smaller than the autoscaler window i.e. tell users they need to configure this <60s? I am not sure there's a function for exactly this case where we want the current target values but if we haven't reported a non zero then report it.

[2019-07-15 17:12] dgerd commented on #4700
@shashwathi Thanks for picking this up! Let me know if you have any questions about it, or need a review!

[2019-07-15 17:14] yanweiguo commented on #4470
My guess for the cause is also that  the reporting window is longer than the autoscaler window (60 sec).

By default, reporting window for Prometheus is 5 seconds and for Stackdriver is 60 seconds. Stackdriver doesn't allow reporting window less than 60 seconds so 60 seconds is the min value we can configure for Stackdriver.

[2019-07-15 17:20] taragu commented on #4470
@yanweiguo can we change the reporting window for Prometheus to 60 seconds to match autoscaler and Stackdriver? What are the implications?

[2019-07-15 17:30] tcnghia commented on #4680
@yu2003w thanks.  Instead of creating links can you please create a `value-extras.yaml` to do that?  I can help if needed.  Thanks

[2019-07-15 17:43] yanweiguo commented on #4470
I don't see the need to change the reporting window for Prometheus to 60 seconds. Smaller window can reflect the data more frequently. Say if the operator change the autoscaler stable window to 50 seconds, then this issue will happen more frequently for Stackdriver (60 seconds). However it won't happen at all in theory for Prometheus (5 seconds).

I wonder whether we can do some aggregation oursel

[2019-07-15 18:37] #4028 closed

[2019-07-15 18:44] greghaynes commented on #4470
Ah ok. ISTM adding a Max() would also work well here. I dont see an option for this on https://godoc.org/go.opencensus.io/stats/view#Aggregation although histogram does seem to support this - maybe thats the right fix?

Average I worry will solve this problem at the expense of making the information less useful in other ways. Really what were hitting here is you cant measure frequencies below your

[2019-07-15 19:15] ssmall commented on #4470
So just to summarize and make sure I understand where we're at:

This issue is showing up for Stackdriver specifically because the minimum reporting window allowed by Stackdriver (60 seconds) is >= the autoscaler window (60 seconds). Because we use the `LastValue()` of `desired_pods`, this means that if the value of `desired_pods` went from 0 -> 1 -> 0 in the last 60 seconds, the reported value wo

[2019-07-15 20:00] yanweiguo commented on #4470
I'm not sure about whether we can reset the Aggregation every time when reporting or its impact to performance. @taragu, is this something you're interested to investigate?

[2019-07-15 20:17] taragu commented on #4470
Yes! To summarize the TODOs:
1) Figure out if it's doable to reset aggregation every time
2) Which aggregation method is appropriate

@yanweiguo do you have any suggestions on where to start for 1)?

[2019-07-15 20:21] vagababov commented on #1409
/close

[2019-07-15 20:21] #1409 closed

[2019-07-15 20:21] vagababov commented on #1846
/close

[2019-07-15 20:21] #1846 closed

[2019-07-15 20:23] vagababov opened #4755 "Set per revision headers in Cluster Ingress"
/area networking

This is required for TBC to work in the blue-green style deployments.
This requires us to update min supported Istio version to be 1.1.

/cc @tcnghia @mattmoor

[2019-07-15 20:47] mattmoor commented on #2086
I can no longer reproduce this.  Let's reopen once we have a repro case.

[2019-07-15 20:47] #2086 closed

[2019-07-15 20:57] yanweiguo commented on #4470
How about checking the go docs: https://godoc.org/go.opencensus.io/stats?

[2019-07-16 04:09] #4747 closed

[2019-07-16 04:17] mattmoor commented on #4755
1.0 is technically EoL, and we need the per-split header injection to correctly implement our semantics with the activator on the request path.

This is on the TOC agenda for Thursday.

[2019-07-16 11:21] markusthoemmes commented on #4752
We're kinda back in a constant "retry integration tests" loop in our PRs. We should do something about this for 0.8 @mattmoor

[2019-07-16 11:22] markusthoemmes commented on #87
Idle for veeeeery long, is this still something we're pursuing?

[2019-07-16 11:29] markusthoemmes commented on #561
Is that something actionable then @mattmoor? The ProgressDeadline is 120 seconds long. Usually, clock skew is muuuuch lower than that so I don't think it'll create much of an issue for us.

[2019-07-16 11:30] markusthoemmes commented on #554
@evankanderson or @mattmoor
Could you move this to build if appropriate?

[2019-07-16 11:32] markusthoemmes commented on #882
@tcnghia is this still valid?

[2019-07-16 11:37] markusthoemmes commented on #579
We support setting a rate for tracing here https://github.com/knative/serving/blob/a9441b20de68d01b3b6d9bbf586644c93f068289/config/config-tracing.yaml#L50-L51.

However, I think that's only for our "internal" performance tracing, not necessarily for anything Istio related. Any news on that @mdemirhan?

[2019-07-16 11:40] markusthoemmes commented on #1297
I think we have cut this down into several pieces meanwhile and can close this overarching issue. Please reopen if you feel differently.

/close

[2019-07-16 11:40] #1297 closed

[2019-07-16 11:43] markusthoemmes commented on #1180
I checked all of our high level entities (Service, Configuration, Revision, Route) and they all had that logging in place.

Gonna close this, please reopen if you feel differently.

/close

[2019-07-16 11:43] #1180 closed

[2019-07-16 11:46] markusthoemmes commented on #1570
Seems to be closeable via the mentioned duplicate.

/close

[2019-07-16 11:46] #1570 closed

[2019-07-16 11:51] markusthoemmes commented on #1942
@dprotaso is this something you think we should still be pursuing? I wonder if all of our reconcilers could even be modeled this way. I feel like some of them have more requirements than the ones laid out, which could be somewhat mitigated by the use of informers. But then we could also run into weird inconsistencies if we get the same resource multiple times per reconcile 🤔

[2019-07-16 11:53] markusthoemmes commented on #2048
is this resolved by us building an operator now?

[2019-07-16 11:58] markusthoemmes commented on #2102
The missing piece here seems to be "time remaining".

That will be very hard to get right, as the latency between the queue-proxy and the user-container, albeit probably very low, is undefined. We could give the revision the given TIMEOUT as an env variable though. In effect, each request will have slightly less than that though.

[2019-07-16 11:59] markusthoemmes commented on #1956
@vagababov should we close this then? We can open a new issue if the current value needs to be revisited based on data?

[2019-07-16 12:02] knative-flaky-test-reporter-robot opened #4764 "[flaky] knative.dev/serving/test/e2e.TestAutoscaleSustaining"
### Auto-generated issue tracking flakiness of test
* **Test name**: knative.dev/serving/test/e2e.TestAutoscaleSustaining
* **Repository name**: serving

[2019-07-16 12:02] #4746 closed

[2019-07-16 12:02] knative-flaky-test-reporter-robot opened #4765 "[flaky] knative.dev/serving/test/e2e.TestTargetBurstCapacity"
### Auto-generated issue tracking flakiness of test
* **Test name**: knative.dev/serving/test/e2e.TestTargetBurstCapacity
* **Repository name**: serving

[2019-07-16 12:06] markusthoemmes commented on #2528
I'm wondering if this is hiding something in the current system.

@tcnghia should we investigate disabling these retries altogether? Do we expect them to do something for us actually?

[2019-07-16 12:12] markusthoemmes commented on #2145
Is this effectively caught via our deployment check and our activation timeout?

[2019-07-16 13:09] markusthoemmes commented on #2835
@mattmoor can you rename this to something like "Provide Docker for Mac integration test" or something?

[2019-07-16 13:12] markusthoemmes commented on #3086
I don't think this is actionable at this point. If anything the entire functional options suite needs an overhaul.

/close

[2019-07-16 13:12] #3086 closed

[2019-07-16 13:13] markusthoemmes commented on #3125
/assign

Happy to pick this up , if it actionable. @jessiezcc or @mattmoor, got any pointer on how to write and where to put such a document?

[2019-07-16 13:14] markusthoemmes commented on #3202
Is there something actionable to do here?

[2019-07-16 13:15] markusthoemmes commented on #3250
Feels like something we don't want currently? Should we close this @tcnghia?

[2019-07-16 13:20] markusthoemmes commented on #3687
Is this a duplicate of https://github.com/knative/serving/issues/1185?

[2019-07-16 13:23] markusthoemmes commented on #3775
I'm fairly sure that is because the command to get the actual host to connect to assumes you're exposing an IP, see:

[code]

Docker for Mac exposes a hostname though (`localhost`). Changing the above to

[code]

should work. @JCzz can you verify that?

[2019-07-16 13:24] markusthoemmes commented on #3793
Should we put a time boundary on our scale from 0 test?

[2019-07-16 13:26] markusthoemmes commented on #3898
/assign @beemarie

[2019-07-16 13:27] markusthoemmes commented on #3997
@jonjohnsonjr I lost track about this kinda. Is this bug still worth tracking? IIRC you've done some other changes to do support schema v1 in the meantime?

[2019-07-16 13:31] markusthoemmes commented on #4083
Non-root is solved meanwhile I think. Reading and writing is missing here.

[2019-07-16 13:32] markusthoemmes commented on #4119
Duplicate of #2644.

[2019-07-16 13:35] markusthoemmes commented on #4277
Based on what I've seen in the autoscaler itself: Yes I think we should do this!

/assign

[2019-07-16 13:36] markusthoemmes commented on #4309
@houshengbo is this still valid?

[2019-07-16 13:41] markusthoemmes commented on #4362
With @mattmoor's awesome logstreams, I don't think this is relevant anymore.

/close

[2019-07-16 13:41] #4362 closed

[2019-07-16 13:42] markusthoemmes commented on #4421
@coryrc Is this something you're working on?

[2019-07-16 13:46] markusthoemmes commented on #4706
/assign @nak3

[2019-07-16 14:12] adrcunha commented on #3250
My previous comment still applies, so I am in favor of closing this issue.

[2019-07-16 14:23] mattmoor commented on #561
Let's close until it becomes a real problem.

[2019-07-16 14:23] #561 closed

[2019-07-16 14:23] #554 closed

[2019-07-16 14:25] mattmoor commented on #3125
I'd guess that this is backfilling the document used to motivate each WG for the original working groups?

[2019-07-16 14:41] steren commented on #2102
See https://github.com/knative/serving/issues/4535 for a proposal to inject this as a request header

[2019-07-16 14:50] josephlewis42 commented on #1185
@mattmoor we've built some CRDs for routing to boost this functionality and would love to help fill out a requirements doc.

[2019-07-16 14:58] markusthoemmes commented on #2102
@steren can we close this then, given you can get the remaining information from cgroups etc. already? Or is there still a desire to put the memory limits into the environment?

[2019-07-16 15:07] steren commented on #2102
I vote to close this in favor of cgroups for memory and header for timeout.

On Tue, Jul 16, 2019, 07:58 Markus Thömmes <notifications@github.com> wrote:

[2019-07-16 15:15] mattmoor commented on #2102
/close

See https://github.com/knative/serving/issues/4535 for remaining scope.  Let's discuss there.

[2019-07-16 15:15] #2102 closed

[2019-07-16 16:24] dgerd commented on #4083
Updated original issue. It should be accurate now. You are correct that actually reading and writing in addition to checking mode bits is the improvement here.

[2019-07-16 16:33] vagababov commented on #1956
/close

yep

[2019-07-16 16:33] #1956 closed

[2019-07-16 16:33] vagababov commented on #1956
/assign

Since I kind of did this.

[2019-07-16 18:21] yanweiguo commented on #1625
I did some performance tests for Activator to determine optimal resources for single Activator pod.

### Test Environment
* Kubernetes Cluster: A GKE cluster with 3 nodes. Each node has 4 CPU cores and 15GM memory as following the instructure.
* Knative version: HEAD of Knative serving master as of 2019-07-11, 05fbfdbc8c011b6c03ab51fef4830d66ad75e846

### Methodology
Setup:
1. Set `target-burst-ca

[2019-07-16 18:33] yanweiguo commented on #1625
More tests to verify whether more Activator pods can help improve performance.

### Test Environment
* Kubernetes Cluster: A GKE cluster with 3 nodes. Each node has 4 CPU cores and 15GM memory as following the instructure.
* Knative version: HEAD of Knative serving master as of 2019-07-11, 05fbfdbc8c011b6c03ab51fef4830d66ad75e846

### Methodology
Setup:
1. Set `target-burst-capacity` in config-aut

[2019-07-16 18:54] taragu opened #4770 "TestImagePullError is flakey"
## In what area(s)?
/area test-and-release
/kind bug

## Expected Behavior

Test `TestImagePullError` should not fail when no problematic changes are introduced.

## Actual Behavior
The test is failing quite regularly.
In [this example](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_serving/4594/pull-knative-serving-integration-tests/1151188642744504321), the test failed becau

[2019-07-16 18:59] taragu opened #4771 "TestPodScheduleError is flakey"
## In what area(s)?
/area test-and-release
/kind bug

## Expected Behavior

Test `TestPodScheduleError` should not fail when no problematic changes are introduced.

## Actual Behavior
The test is failing quite regularly.

In [this example](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_serving/4594/pull-knative-serving-integration-tests/1151188642744504321), the test failed be

[2019-07-16 19:10] jonjohnsonjr commented on #4770
That's a race between the configuration and the route both propagating up to the service status. Configuration sets RevisionFailed. Route sets RevisionMissing. Looks like we're only looking for [`RevisionFailed`](https://github.com/knative/serving/blob/cc022d6c2cf628bff90cc99694b4e441246fee61/test/e2e/image_pull_error_test.go#L62). Weird.

[2019-07-16 19:23] jonjohnsonjr commented on #3997
This tracks a [TODO](https://github.com/knative/serving/blob/cc022d6c2cf628bff90cc99694b4e441246fee61/pkg/reconciler/revision/resolve.go#L120) that I'd like to keep it open until CRI-O gets fixed so that it doesn't get forgotten about. The schema 1 stuff is only kind of related.

Right now we have to choose 2 of these:
1. Knative does tag resolution
2. Knative works on multi-platform clusters
3. K

[2019-07-16 19:52] #4014 closed

[2019-07-16 19:53] yanweiguo opened #4773 "Improve Activator performance"
## In what area(s)?

## Describe the feature

Per https://github.com/knative/serving/issues/1625#issuecomment-511930023, maximum RPS of single Activator pods is around 350, which doesn't sound good. We need to improve this.

[2019-07-16 19:57] jonjohnsonjr commented on #2145
The activation timeout covers the [0, minScale] range, but for (minScale, infinity) I don't believe we will stop trying to scale. I can't of a situation where some (but not all) pods are crashlooping AND the right thing to do is to stop scaling. Detecting that only some pods are crashlooping would also be kind of expensive.

I believe we will [surface a ProgressDeadlineExceeded](https://github.com

[2019-07-16 21:18] evankanderson commented on #4535
Looking at existing prior art:

https://tools.ietf.org/id/draft-thomson-hybi-http-timeout-00.html#rfc.section.1.1

is a 2011 RFC proposal which was never adopted which defined "Request-Timeout" (in seconds) and "Connection Timeout" (also in integer seconds). Note that [hop-by-hop headers should be included in the `Connection` header in HTTP/1.1, but are not available in HTTP/2](https://developer.m

[2019-07-16 21:27] evankanderson commented on #4535
So, my initial design would be to provide a `Timeout-At` header in absolute time, but I would eventually also like to set `grpc-timeout` and `Timeout-At` to the minimum of the two values.

[2019-07-16 21:35] #1625 closed

[2019-07-16 21:48] evankanderson commented on #87
This should be continued in https://github.com/knative/serving-operator/issues/2.

/close

[2019-07-16 21:48] #87 closed

[2019-07-17 08:20] yu2003w commented on #4417
To support PVCs, when scaling up/down apps, how could data be handled?
Will knative take the work?
Or app should handler data migration gracefully when scale up or scale down.

[2019-07-17 08:53] markusthoemmes commented on #4610
@grantr are we saying then that all parsing (and potentially validation) failures when reading a config map result in us using the default config to keep the system alive?

That doesn't seem great either. Do we need a notion of "vital" config (which'd cause an immediate crash) and non-vital config (like logging and tracing) which doesn't result in crashes?

[2019-07-17 09:33] savitaashture opened #4781 "Annotation /creator and /lastModifier are not added when created through Configuration Kind"
## In what area(s)?

## What version of Knative?

latest code from master branch

## Expected Behavior

**kubectl get cfg hello -o yaml**

[code]

## Actual Behavior
**kubectl get cfg hello -o yaml**

[code]

## Steps to Reproduce the Problem

**cat configuration.yaml**
[code]
kubectl create -f configuration.yaml

Similar issue with `route`

[2019-07-17 09:56] savitaashture opened #4782 "Successfully created service with annotation autoscaling.knative.dev/maxScale: """
## In what area(s)?

Created service with
[code]

**Output:**

Successfully created a service but revision creation failed with error in the configuration status
[code]

It would be better to do validation during service creation? instead of showing failure message in the configuration status?

[2019-07-17 10:02] savitaashture commented on #4781
Let me know whether we need to add `/creator` and `/lastModifier` annotation when we create `configuartion` and `route` individually ?

[2019-07-17 10:03] markusthoemmes commented on #4781
Do we want to apply this to every CRD even?

[2019-07-17 11:25] markusthoemmes commented on #2275
I've taken a look at it and I'm debating to do something about it. Honestly, I think it's fine as is:

1. Reading from file initially has the nice property of not needing any outward connectivity. We therefore can get a proper logger ASAP before we actually start setting things up (like the kubeclient for example). That makes the amount of unstructured logging we could get as small as possible.
2.

[2019-07-17 12:02] knative-flaky-test-reporter-robot opened #4785 "[flaky] knative.dev/serving/cmd/queue.TestProbeQueueTimeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: knative.dev/serving/cmd/queue.TestProbeQueueTimeout
* **Repository name**: serving

[2019-07-17 13:05] taragu commented on #4470
@ssmall @yanweiguo After some investigation, @greghaynes  and I both agree this is not something suitable for me to work on. I tested out `Distribution()` and it seems to also have the same cumulative behavior as `Sum()`, and we will need to resetting/clearing data every window, which I haven't found anything promising (except unregistering and reregistering a view which seems very aggressive http

[2019-07-17 13:56] taragu commented on #4770
@jonjohnsonjr I agree. Our options are:
1) Have both Configuration and Route set `RevisionFailed` when marking not ready or failed
2) In the [test](https://github.com/knative/serving/blob/cc022d6c2cf628bff90cc99694b4e441246fee61/test/e2e/image_pull_error_test.go#L62), look for both `RevisionFailed` and `RevisionMissing`

@dgred Do you have any preference regarding option 1 and 2?

[2019-07-17 14:02] #4765 closed

[2019-07-17 14:33] mattmoor commented on #2275
Yeah, until we start the informers, we wouldn't log with the right settings.  With the sharedmain this amounts to yaml beautification, so I don't think we should burn cycles on it.

I think we'd welcome a PR, assuming it simplifies things, but without a strong motivator, I'm not inclined to leave this on our backlog.

[2019-07-17 14:33] #2275 closed

[2019-07-17 18:23] duglin commented on #4098
For reference - a previous discussion on this topic:
https://github.com/knative/serving/pull/1471/files#r200371570

[2019-07-17 18:25] Joon-L commented on #4631
I've updated the feature request with a proposal based on some of the recent changes to Auto TLS. If this makes sense, I'd be more than happy to put work into getting this feature in. All kinds of feedback are appreciated.

[2019-07-17 20:22] taragu commented on #4770
After a closer look I believe this test failure is caused by my code changes in the PR 🤦‍♀️ closing this issue

[2019-07-17 20:22] #4770 closed

[2019-07-17 21:16] #4706 closed

[2019-07-17 21:26] #4655 closed

[2019-07-17 22:35] mattmoor commented on #2639
So the process of this is touched on [here](https://docs.google.com/document/d/1QRREfL8gSVSURHMkDLjDtMh1BBsNiwfmaBiGnJUDQ2g/edit#heading=h.n8a530nnrb), and will be further codified in a template that @eallred-google is working on.

I think beyond that the serving operator will help rollout changes with non-trivial update mechanics without the multi-cycle staging, so we will evolve this over time.

[2019-07-17 22:35] #2639 closed

[2019-07-18 00:13] dgerd commented on #4782
So this is occurring because we validate the metadata on the Revision, but we do not validate template.metadata like we do template.spec for Services and Configurations.

Since users do not create Revisions but instead create Revision templates it probably makes sense to pop the validation up one layer and display the error message earlier.

I would not be opposed to moving the validation here.

[2019-07-18 00:16] dgerd commented on #4781
I do think we want to apply this to every CRD a user can create which today is Configuration and Route since Revisions are always generated by the system.

We should add them to Configuration and Route when not owned by a Service. There is some generic code for this now in knative/pkg under `webhook/user_info.go`.

[2019-07-18 00:43] JRBANCEL commented on #1625
RPS should scale ~linearly with #Activator, no? (Assuming it is really the bottleneck)
What explains a degradation of performance going form 4 to 8 activators?
Also, with Concurrency=500, your machine and hey might be the bottle neck.

Regarding your first conclusion `CPU is the bottleneck for activator performance while memory is not.`.
Is this correct? In the setup: `Remove the resource limits f

[2019-07-18 00:57] mattmoor commented on #1625
With some of the performance benchmarks I have been working on when the activator is hammered with traffic at a single pod, I see the memory spike to several 100MB and the CPU drop.  When the activator is adequately provisioned (~3 replicas), I see the same traffic rise to ~`300m` of CPU usage and stay at a steady `40MB` of memory.

I think the bursts I'm sending are probably unreasonable for the

[2019-07-18 04:10] mattmoor commented on #4752
If anyone is able to reproduce one of these 503s, we should search the following logs for the source:
1. queue-proxy
1. activator
1. istio-ingressgateway

All three have request logging that's incredibly useful here.  The Envoy logs in `3.` have codes associated that will help us narrow down the source of the problem (e.g. UO, UC).

@markusthoemmes Perhaps we should incorporate dumping of the gate

[2019-07-18 04:12] mattmoor commented on #3329
I'm not sure we need any more instrumentation for v1, so I'm going to move this out.  Once the clients for surfacing richer performance data land, we can explore integration.

[2019-07-18 04:13] mattmoor commented on #4453
@vagababov What's left here?  Don't we need a non-zero TBC to be able to do this?

[2019-07-18 04:14] mattmoor commented on #4453
If so, I'm concerned that the activator is not yet reliable enough at high load to do that by default, and we should probably move this out until we have a better handle on that.

[2019-07-18 05:12] vagababov commented on #4453
I still think we can do this, if TBC setting is set by user, rather than by
default.
Also, I think we probing in place we can at least change the default grace
window to be ~5s.

[2019-07-18 12:02] knative-test-reporter-robot opened #4798 "[flaky] knative.dev/serving/test/conformance/api/v1beta1.TestServiceWithTrafficSplit"
### Auto-generated issue tracking flakiness of test
* **Test name**: knative.dev/serving/test/conformance/api/v1beta1.TestServiceWithTrafficSplit
* **Repository name**: serving

[2019-07-18 12:02] knative-test-reporter-robot opened #4799 "[flaky] knative.dev/serving/test/e2e.TestSubrouteLocalSTS/short"
### Auto-generated issue tracking flakiness of test
* **Test name**: knative.dev/serving/test/e2e.TestSubrouteLocalSTS/short
* **Repository name**: serving

[2019-07-18 12:02] knative-test-reporter-robot opened #4800 "[flaky] knative.dev/serving/test/e2e.TestGRPCUnaryPingViaActivator"
### Auto-generated issue tracking flakiness of test
* **Test name**: knative.dev/serving/test/e2e.TestGRPCUnaryPingViaActivator
* **Repository name**: serving

[2019-07-18 12:02] #4764 closed

[2019-07-18 12:02] knative-test-reporter-robot opened #4801 "[flaky] knative.dev/serving/test/conformance/api/v1beta1.TestService"
### Auto-generated issue tracking flakiness of test
* **Test name**: knative.dev/serving/test/conformance/api/v1beta1.TestService
* **Repository name**: serving

[2019-07-18 12:02] knative-test-reporter-robot opened #4802 "[flaky] knative.dev/serving/test/e2e.TestServiceToServiceCallViaActivator"
### Auto-generated issue tracking flakiness of test
* **Test name**: knative.dev/serving/test/e2e.TestServiceToServiceCallViaActivator
* **Repository name**: serving

[2019-07-18 12:02] knative-test-reporter-robot opened #4803 "[flaky] knative.dev/serving/test/e2e.TestAutoscaleUpCountPods/hpa"
### Auto-generated issue tracking flakiness of test
* **Test name**: knative.dev/serving/test/e2e.TestAutoscaleUpCountPods/hpa
* **Repository name**: serving

[2019-07-18 12:02] knative-test-reporter-robot opened #4804 "[flaky] knative.dev/serving/test/e2e.TestServiceToServiceCallViaActivator/both-disabled"
### Auto-generated issue tracking flakiness of test
* **Test name**: knative.dev/serving/test/e2e.TestServiceToServiceCallViaActivator/both-disabled
* **Repository name**: serving

[2019-07-18 12:02] knative-test-reporter-robot opened #4805 "[flaky] knative.dev/serving/test/scale.TestScaleToN"
### Auto-generated issue tracking flakiness of test
* **Test name**: knative.dev/serving/test/scale.TestScaleToN
* **Repository name**: serving

[2019-07-18 12:02] knative-test-reporter-robot opened #4806 "[flaky] knative.dev/serving/pkg/autoscaler.TestMultiScalerScaling"
### Auto-generated issue tracking flakiness of test
* **Test name**: knative.dev/serving/pkg/autoscaler.TestMultiScalerScaling
* **Repository name**: serving

[2019-07-18 12:02] knative-test-reporter-robot opened #4807 "[flaky] knative.dev/serving/test/scale.TestScaleToN/scale-100"
### Auto-generated issue tracking flakiness of test
* **Test name**: knative.dev/serving/test/scale.TestScaleToN/scale-100
* **Repository name**: serving

[2019-07-18 12:03] knative-test-reporter-robot opened #4808 "[flaky] knative.dev/serving/test/e2e.TestGRPCStreamingPingViaActivator"
### Auto-generated issue tracking flakiness of test
* **Test name**: knative.dev/serving/test/e2e.TestGRPCStreamingPingViaActivator
* **Repository name**: serving

[2019-07-18 12:03] knative-test-reporter-robot opened #4809 "[flaky] knative.dev/serving/test/e2e.TestAutoscaleUpCountPods"
### Auto-generated issue tracking flakiness of test
* **Test name**: knative.dev/serving/test/e2e.TestAutoscaleUpCountPods
* **Repository name**: serving

[2019-07-18 12:03] knative-test-reporter-robot opened #4810 "[flaky] knative.dev/serving/test/e2e.TestSubrouteLocalSTS"
### Auto-generated issue tracking flakiness of test
* **Test name**: knative.dev/serving/test/e2e.TestSubrouteLocalSTS
* **Repository name**: serving

[2019-07-18 12:51] #4771 closed

[2019-07-18 14:15] mattmoor commented on #4453
SGTM.  Can we add a fast scale down test via annotations to verify that we can scale to zero in <30s (or something like that)?

[2019-07-18 14:16] #3982 closed

[2019-07-18 14:20] mattmoor commented on #3885
Wanted to check in on this, but I suspect @greghaynes may be as OSCON?  I'll throw it on the #networking agenda just in case.

[2019-07-18 14:22] mattmoor commented on #4752
/assign @markusthoemmes

Going to assign to Markus to verify/close once the revert takes hold in CI.  If it recurs feel free to `/unassign`.

[2019-07-18 14:27] vagababov commented on #4453
Probably. Don't see why not.

On Thursday, July 18, 2019, Matt Moore <notifications@github.com> wrote:

[2019-07-18 17:21] yanweiguo commented on #1625
I'm also curious about this. Then I realized that `Istio-ingressgateway` and `istio-proxy` sidecar are also in the request path. I disabled the `istio-proxy` sidecar and send traffic to the activator directly bypassing `istio-ingressgateway`, the RPS reached ~700 and the CPU reached ~3000m.

The following is tracing of one request sent to the `Istio-ingressgateway`. Looks like something is not doi

[2019-07-18 19:11] dprotaso commented on #4755
drop 1.0
![burn it](https://media1.tenor.com/images/56e28af7645e00c463d6d82931e95f62/tenor.gif)

[2019-07-18 19:39] taragu commented on #3910
@satansk is this still work in progress?

[2019-07-18 20:26] vagababov commented on #4752
I see about same amount of flakes now, but the problem seems to be
[code]
My guess is just that prober cache was hiding this problem

[2019-07-18 21:33] #3250 closed

[2019-07-18 21:35] tcnghia commented on #3793
Yes, but may be in a separate set of performance tests.  e2e scale from 0 test will probably all use @vagababov 's new annotation.

[2019-07-18 22:33] vagababov commented on #3793
I had this in my backlog for when the scale to 0 timeouts are updated.

On Thu, Jul 18, 2019 at 2:35 PM Nghia Tran <notifications@github.com> wrote:

[2019-07-18 23:59] satansk commented on #3910
@taragu it's yours, go ahead!

[2019-07-19 00:20] taragu commented on #3910
@satansk great. Thanks!

[2019-07-19 00:21] taragu commented on #3910
/assign

[2019-07-19 01:01] #4755 closed

[2019-07-19 01:21] mattmoor commented on #4755
💥

🎤 👇

[2019-07-19 04:41] lichader opened #4824 "source-to-url-go not working due to an mutation failure"
## In what area(s)?

## What version of Knative?

## Expected Behavior

Source code is built, image is pushed to docker registry and new service is automatically deployed.

## Actual Behavior

It failed to apply the file due to this error:
Error from server (InternalError): error when creating "test.yaml": Internal error occurred: admission webhook "webhook.serving.knative.dev" denied the request:

[2019-07-19 04:45] vagababov commented on #4824
Build is no longer supported directly from serving starting in .7.

On Thu, Jul 18, 2019 at 9:41 PM Richard <notifications@github.com> wrote:

[2019-07-19 04:47] lichader commented on #4824
Ok. I am closing this issue now.

[2019-07-19 04:47] #4824 closed

[2019-07-19 04:49] lichader commented on #4824
Sorry, one more question. @vagababov
Is there a way to automatically deploy the service after knative build component successfully builds the image?

[2019-07-19 04:53] vagababov commented on #4824
You should be using https://github.com/tektoncd I think (that's Knative
build now).

On Thu, Jul 18, 2019 at 9:49 PM Richard <notifications@github.com> wrote:

[2019-07-19 06:10] markusthoemmes commented on #4752
@vagababov can you share builds with the flakes? I think some amount of retries as shown in your comment is expected.

[2019-07-19 12:02] #4785 closed

[2019-07-19 13:47] mattmoor commented on #882
This is done 🎉

[2019-07-19 13:47] #882 closed

[2019-07-19 14:02] jchesterpivotal commented on #3276
Related is [this presentation of a prototype effort](https://docs.google.com/presentation/d/1Bvu3pTrnTrFfB5Yg4EOHwosLBlWkGyDu-Ih-wGmjVXk/edit#slide=id.p1) by @zachidan and @elevanran.

[2019-07-19 14:59] mattmoor commented on #4752
Things look pretty green...  https://testgrid.knative.dev/serving#continuous&exclude-non-failed-tests=50&width=20

[2019-07-19 15:51] n3wscott opened #4827 "[BUG] CustomResourceDefinition.spec.version is deprecated, migrate to spec.versions"
The structs say the following:

[code]

And a version looks like

[code]

[2019-07-19 16:29] tanzeeb commented on #3276
Looking at the presentation, an adapter for Mixer sounds very promising. This would be similar to the Envoy filter approach, but would have the additional route metadata from Istio that is missing in Envoy.

[2019-07-19 18:18] JRBANCEL opened #4832 "ClusterIngress should not be created if it doesn't exist"
## In what area(s)?

/area networking

## What version of Knative?

HEAD

## Expected Behavior

For migration purposes, since #4750, ClusterIngress and Ingress cohabitate.
When a new route is created, only Ingress is created.

## Actual Behavior

When a new route is created, both ClusterIngress and Ingress are created.

[2019-07-19 18:19] JRBANCEL commented on #4832
/assign

[2019-07-19 18:46] mattmoor opened #4833 "Change containerConcurrency to an int pointer, allow configuring default value."
## In what area(s)?

/area API
/kind good-first-issue

## Describe the feature

This is a largely cosmetic change as we have things today, but it enables us to distinguish between an unspecified `containerConcurrency` and `containerConcurrency: 0`.  Distinguishing these is mainly meaningful for defaulting, which we don't do for `containerConcurrency` today because empty is the same as zero, which

[2019-07-19 19:19] dgerd commented on #4827
Looks like all of our Configuration/Revision/Route/Service have been updated to use `versions`. The remaining CRDs need to be updated.

All of our CRDs:
[code]

The following use `version`:
[code]

[2019-07-19 19:19] dgerd commented on #4827
/assign @dgerd

[2019-07-19 19:28] vagababov commented on #4833
Especially custom type 👍 ⚰️

[2019-07-19 19:35] dgerd commented on #4782
Updated this from question to feature request. It shouldn't be too complex so adding good first issue.

[2019-07-19 19:39] greghaynes commented on #3885
Pretty far along, hopefully will have the set of PRs up by EOD today

[2019-07-19 20:15] yanweiguo opened #4837 "Activator latency metric is not accurate"
## In what area(s)?

## What version of Knative?

HEAD

## Expected Behavior
We have multiple layers of handlers to process a request in activator. The latency should measure the total latency of all the handlers which handle requests excluding probing or health checks.

## Actual Behavior
The activator latency only measures the innermost handler.

[2019-07-19 21:14] steren commented on #4647
Were conformance tests written for this validation?

[2019-07-19 21:44] #4827 closed

[2019-07-19 22:05] shashwathi commented on #4647
@steren : No. Valid service account is not part of runtime contract so does it need a conformance test?

[2019-07-19 22:06] steren commented on #4647
It's not runtime contract related, but API spec related, I suppose we also test the API?

[2019-07-19 22:41] faun opened #4839 "Cannot delete route when previous version was invalid"
## In what area(s)?

/area API

## What version of Knative?

0.6.x

## Expected Behavior

Given the following invalid route:

[code]

I would expect `kubectl delete routes -n cloud-run renderer` do delete this route.

## Actual Behavior

The command `kubectl delete routes -n cloud-run renderer` hangs indefinitely.

The command `kubectl edit routes -n cloud-run renderer` also fails to modify the ro

[2019-07-20 12:02] knative-flaky-test-reporter-robot opened #4840 "[flaky] test/e2e.TestAutoscaleUpCountPods/kpa"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleUpCountPods/kpa
* **Repository name**: serving

[2019-07-20 12:02] knative-flaky-test-reporter-robot opened #4841 "[flaky] pkg/autoscaler.TestMultiScalerOnlyCapacityChange"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/autoscaler.TestMultiScalerOnlyCapacityChange
* **Repository name**: serving

[2019-07-20 17:41] savitaashture commented on #4782
/assign

[2019-07-21 02:50] duglin opened #4845 "Consider adding a way to signal a re-get of an image's digest sha"
## In what area(s)?

/area API
/kind proposal

## Describe the feature

If a user specifies an image w/o a sha, for example if they use `nginx:latest`, then serving will resolve this to it's current digest sha and use then sha when spinning up new instances. If a new build of that image happens, and the user wants do a rollout of that new version, there isn't an obvious way to make this happen.

T

[2019-07-21 02:51] duglin commented on #4845
Just wanted to call out one comment from that long thread:
[code]

The ability to tag/name an existing revision w/o causing it to re-resolution the sha is one that we might want to consider separately since I do think that will be a popular workflow.

[2019-07-21 12:02] #4727 closed

[2019-07-21 12:02] knative-flaky-test-reporter-robot opened #4846 "[flaky] test/e2e.TestServiceToServiceCallViaActivator/both-disabled"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestServiceToServiceCallViaActivator/both-disabled
* **Repository name**: serving

[2019-07-21 12:02] knative-flaky-test-reporter-robot opened #4847 "[flaky] test/e2e.TestHelloWorld"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestHelloWorld
* **Repository name**: serving

[2019-07-21 12:02] knative-flaky-test-reporter-robot opened #4848 "[flaky] test/e2e.TestSubrouteLocalSTS/fqdn"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSubrouteLocalSTS/fqdn
* **Repository name**: serving

[2019-07-21 12:02] knative-flaky-test-reporter-robot opened #4849 "[flaky] test/e2e.TestSubrouteLocalSTS/shortest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSubrouteLocalSTS/shortest
* **Repository name**: serving

[2019-07-21 12:03] knative-flaky-test-reporter-robot opened #4850 "[flaky] test/e2e.TestServiceToServiceCallViaActivator"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestServiceToServiceCallViaActivator
* **Repository name**: serving

[2019-07-21 12:03] knative-flaky-test-reporter-robot opened #4851 "[flaky] test/e2e.TestServiceToServiceCall"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestServiceToServiceCall
* **Repository name**: serving

[2019-07-21 12:03] knative-flaky-test-reporter-robot opened #4852 "[flaky] test/e2e.TestQueueSideCarResourceLimit"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestQueueSideCarResourceLimit
* **Repository name**: serving

[2019-07-21 12:03] knative-flaky-test-reporter-robot opened #4853 "[flaky] test/e2e.TestServiceToServiceCall/fqdn"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestServiceToServiceCall/fqdn
* **Repository name**: serving

[2019-07-21 12:03] knative-test-reporter-robot opened #4854 "[flaky] test/e2e.TestTargetBurstCapacity"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestTargetBurstCapacity
* **Repository name**: serving

[2019-07-21 12:03] knative-flaky-test-reporter-robot opened #4855 "[flaky] test/e2e.TestServiceToServiceCall/short"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestServiceToServiceCall/short
* **Repository name**: serving

[2019-07-21 12:03] knative-flaky-test-reporter-robot opened #4856 "[flaky] test/e2e.TestSubrouteLocalSTS/short"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSubrouteLocalSTS/short
* **Repository name**: serving

[2019-07-21 12:03] knative-flaky-test-reporter-robot opened #4857 "[flaky] test/e2e.TestSubrouteLocalSTS"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSubrouteLocalSTS
* **Repository name**: serving

[2019-07-21 12:03] knative-flaky-test-reporter-robot opened #4858 "[flaky] test/e2e.TestGRPCStreamingPingViaActivator"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestGRPCStreamingPingViaActivator
* **Repository name**: serving

[2019-07-21 13:05] nak3 opened #4859 "Reconcile for Gateway stopped working due to failing to find gateway name"
## In what area(s)?

/area networking

## What version of Knative?

Build on top of f2293aacf6fadbbbe74eec56dc40c38413d22b07

## Expected Behavior

Reconciled gateway without error.

## Actual Behavior

By https://github.com/knative/serving/pull/4828, `qualifyGateways()`
was introduced and it modifies Gateway Name to `NAMESPACE/GATEWAYNAME`
format. Hence, following logic fails to find gateway name

[2019-07-21 13:31] nak3 opened #4862 "knative-ingress-gateway can work with PASSTHROUGH?"
When we installed knative, the `knative-ingress-gateway` always enabled tls `PASSTHROUGH` by default.

[code]

But, I feel that `PASSTHROUGH` does not work since `queue-proxy` cannot handle TLS for now.

If `PASSTHROUGH` does not work, the following default setting should be removed. But please allow me to verify if  there are no any settings to make `PASSTHROUGH` work.

https://github.com/knative

[2019-07-22 05:30] iamejboy opened #4865 "Scale to 1 from zero issue with istio-cni"
## In what area(s)?

/area autoscale
/area networking

## What version of Knative?

0.7.x

## Expected Behavior

Scale from zero to 1 should not be ~ 4 to 5 min
and this behavior is not seen using istio-init

## Actual Behavior

Scale from zero to 1 is taking 4~5 min
Have seen in:
- 0.7.x for Knative serving
- 1.2.2 for Istio
- using istio-cni plugin instead of istio-init

## Steps to Reproduce th

[2019-07-22 07:11] #4859 closed

[2019-07-22 07:58] nak3 opened #4866 "Enabling reconcileExternalGateway to be true erases https servers in gateway config"
## In what area(s)?

/area networking

## What version of Knative?

- Build on top of a45edf2d550848559025b140bed8e527715c43a2 due to bug https://github.com/knative/serving/issues/4859
- Build on top of 1f4375582329b8a30c21c7dd3f49147de0d86376

## Expected Behavior

- `https` servers in Gateway should not be removed.

## Actual Behavior

It looks like `MakeServers()` does not create https servers

[2019-07-22 08:08] markusthoemmes commented on #4866
/assign @ZhiminXiang

[2019-07-22 08:31] akoenig opened #4868 "Network configuration when using private clusters"
## In what area(s)?

/area networking

## Ask your question here:

We encountered an issue when using `Knative` in a private cluster environment. Consider the following architecture:

We have a cluster for our engineers running in GKE as a private cluster (master and nodes are inaccessible via the Internet). Unfortunately, when applying a `Knative` service it fails with:

[code]

Everything works

[2019-07-22 10:45] markusthoemmes opened #4870 "Generate a logURL for Service/Configuration as well."
## In what area(s)?

/area API
/area monitoring

## Describe the feature

Currently, we generate a logURL for a revision (and put it into a revision's status), that enables the user to quickly discover the logs from the running app from an arbitrary backend system. However, discovering which revision is currently running, especially when using the most basic Service usecases, can be a bit tedious.

[2019-07-22 11:57] iamejboy commented on #4865
https://github.com/istio/istio/issues/12368

[2019-07-22 11:59] objectiser opened #4871 "Full trace missing when activation required"
## In what area(s)?

/area monitoring

## What version of Knative?

v0.5.0-781-g1f437558 (Misleading) -> actually related to master sha https://github.com/knative/serving/commit/1f4375582329b8a30c21c7dd3f49147de0d86376 from 22nd July.

## Expected Behavior

When an initial request arrives, resulting activator/auto-scaler being involved, the trace should include the ingress gateway, activator, auto

[2019-07-22 12:01] markusthoemmes commented on #4871
@objectiser we've recently released v0.7 so you're version is quite old. Do you mind rechecking on the latest?

[2019-07-22 12:02] #4841 closed

[2019-07-22 12:03] knative-flaky-test-reporter-robot opened #4872 "[flaky] pkg/queue/readiness.TestKnHTTPSuccessWithThresholdAndFailure"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/queue/readiness.TestKnHTTPSuccessWithThresholdAndFailure
* **Repository name**: serving

[2019-07-22 12:05] markusthoemmes commented on #4871
Reading through the whole writeup:
I think the autoscaler spans are red herrings. They are not on the actual request path. The spans you're seeing are likely the scrape calls from the autoscaler.

[2019-07-22 12:08] objectiser commented on #4871
@markusthoemmes This is strange - output from `git describe -dirty`is showing an old label, but I'm actually on master 1f4375582329b8a30c21c7dd3f49147de0d86376.

Ok - but then the issue is that there is no trace representing the request that activated the service. So still seems to be a problem.

[2019-07-22 12:47] markusthoemmes commented on #4752
The 503s are definitely not gone. They are however much more seldom so we're likely covering something with our probing.

[2019-07-22 16:17] JRBANCEL commented on #4832
It was done as part of https://github.com/knative/serving/pull/4828.

[2019-07-22 16:17] #4832 closed

[2019-07-22 16:49] ZhiminXiang commented on #4866
This works as expected.
We intentionally remove the default wildcard https server (https://github.com/knative/serving/blob/master/pkg/reconciler/ingress/resources/gateway.go#L186) from Gateway when reconcileExternalGateway is turned on because when a Route is deployed, we will add the hosts of the Route into Gateway. The wildcard hosts in the default http/https Server will conflict with the hosts

[2019-07-22 16:53] kwyn opened #4878 "Knative Stackdriver Logging"
## In what area(s)?

/area monitoring

## Ask your question here:

Me and my colleage have been trying to get stackdriver logging to work on a knative install on a GKE using the instructions [here](https://knative.dev/docs/serving/installing-logging-metrics-traces/#stackdriver) cluster but have been running into the problem where our fluentd containers are in a CrashLoopBackOff as seen here:
[code

[2019-07-22 17:16] yanweiguo commented on #4878
Hi @kwyn, if you are using GKE, then the stdout/stderr logs will go to Stackdriver by default. Make sure you use `--enable-stackdriver-kubernetes` flag when creating the cluster. You don't need to install the fluentd daemonset provided in `knative/serving` if you only care about stdout/stderr logs from all containers. The extra feature of `knative/serving` fluentd daemonset is providing the abilit

[2019-07-22 17:18] kwyn commented on #4878
Awesome thanks @yanweiguo

[2019-07-22 17:37] faun commented on #4839
Deleting the finalizer (`routes.serving.knative.dev `) allowed me to delete the resource.

[2019-07-22 17:57] #4878 closed

[2019-07-22 18:24] vagababov commented on #4871
Please try with newer version. Real tracing was added in version 0.6.

On Mon, Jul 22, 2019 at 5:08 AM Gary Brown <notifications@github.com> wrote:

[2019-07-22 18:28] vagababov commented on #4868
This is quite strange, since `https://webhook.knative-serving.svc:443/` is definitely a cluster local address.
Do you have logs from Webhook itself? Did it succeed to register?

[2019-07-22 20:43] shashwathi commented on #4647
Yes you are right. It is spec related so I will add conformance test for this check 👍
thank you for explaining your thought behind the ask. I appreciate it

[2019-07-23 09:52] Zyqsempai commented on #4833
@mattmoor Your approach will not work, since we will change the type `RevisionContainerConcurrencyType` from `int64` to `*int64` we will brake [this](https://github.com/knative/serving/blob/e35520600e7a4d9de0c6b228f3c1052974182f89/pkg/apis/serving/v1beta1/revision_validation.go#L129) thingy because of the `invalid receiver type`.

[2019-07-23 09:57] objectiser commented on #4871
@vagababov Was tested with master HEAD - the `git describe -dirty` command is misleading as tags don't appear to be applied to master since v0.5.0. Would suggest changing the bug template,

Tried the same testing against released 0.7.0 version and got the same results. Steps to reproduce:

[code]
Then deploy an example:
[code]
where `service.yaml` is
[code]
then after waiting a while, run the foll

[2019-07-23 10:03] TommyLike commented on #4837
here? [request_log](https://github.com/knative/serving/blob/74e366a72c7f7186a89091df3ec5858c387b5037/pkg/http/request_log.go#L140)

[2019-07-23 10:13] markusthoemmes commented on #4833
@Zyqsempai we can simply drop this I think. We can validate the field inline just as well.

[2019-07-23 10:17] markusthoemmes commented on #4837
I **think** this refers to this metric reporting: https://github.com/knative/serving/blob/c441452b3398fd846abc3d8f44acef908838d509/pkg/activator/handler/handler.go#L199

Need @yanweiguo to verify that's what he's after though.

[2019-07-23 10:58] Zyqsempai commented on #4833
@markusthoemmes Also thought about that. OK, i will send a PR soon.

[2019-07-23 11:06] TommyLike commented on #4837
This looks like the place where to metric API duration. Is it necessary to take the knative processing stuff into account there.

[2019-07-23 12:04] #4178 closed

[2019-07-23 12:04] #4853 closed

[2019-07-23 12:04] #4840 closed

[2019-07-23 12:04] knative-flaky-test-reporter-robot opened #4890 "[flaky] test/conformance/runtime.TestProtocols"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestProtocols
* **Repository name**: serving

[2019-07-23 12:04] #4848 closed

[2019-07-23 12:04] #4847 closed

[2019-07-23 12:04] knative-flaky-test-reporter-robot opened #4891 "[flaky] test/conformance/runtime.TestProtocols/default"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestProtocols/default
* **Repository name**: serving

[2019-07-23 12:04] #4846 closed

[2019-07-23 12:04] #4852 closed

[2019-07-23 12:05] #4856 closed

[2019-07-23 12:05] #4855 closed

[2019-07-23 12:05] #4850 closed

[2019-07-23 12:05] knative-test-reporter-robot opened #4892 "[flaky] test/e2e.TestAutoscaleSustaining"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleSustaining
* **Repository name**: serving

[2019-07-23 12:05] #4851 closed

[2019-07-23 15:49] Inkdpixels opened #4897 "Certificate issues with knative-eventing and the ingress-gateway using the `httpsRedirect` option"
## In what area(s)?

 /area networking

## What version of Knative?

## Expected Behavior

Events should be published and reach the consumer service if the `httpsRedirect` option is enabled on the `knative-ingress-gateway` in combination with manually created certificates issued by LetsEncrypt as described in https://knative.dev/docs/serving/using-a-tls-cert/.

## Actual Behavior

When using TLS c

[2019-07-23 16:06] yanweiguo commented on #4837
Yeah where @markusthoemmes points is the place to change.

I *think* the service side latency reported by activator should include any processing for a customer request after it reaches activator and before it returns to client.

[2019-07-23 16:49] vagababov commented on #4871
/assign @greghaynes
Greg, could you please take a look and see why the trace is not propagated?

[2019-07-23 17:10] greghaynes commented on #4871
Interesting - this is new to me, last I tried this tracing was a while ago and the spans were being propagated. We likely messed something up where we are either losing a request context somewhere or are not properly creating our tracing transport. I'll have a look.

[2019-07-23 17:28] yanweiguo commented on #4833
/assign @Zyqsempai

[2019-07-23 18:30] ZhiminXiang commented on #4866
I am gonna close this bug. Feel free to reopen it if anyone has questions about this.

[2019-07-23 18:30] #4866 closed

[2019-07-23 19:00] #4561 closed

[2019-07-23 19:56] jonjohnsonjr opened #4902 "Cold start latency exacerbated by iptables-min-sync-period"
Can anyone with more networking knowledge confirm this theory? I'm out of my depth here and don't have a cluster handy where I can play with this flag...

@vagababov and I were digging into some surprising behavior that I was seeing in cold start latency. It's an unsurprising result of how kube-proxy works, but I hadn't realized how badly this affects us.

In kube-proxy, the `iptables-min-sync-per

[2019-07-23 19:58] yanweiguo commented on #4773
To clarify, this issue only focus on Activator. The `istio-ingressgate` and `istio-proxy` sidecar are not in scope.

The data from https://github.com/knative/serving/issues/1625#issuecomment-511930023 is not accurate. As @JRBANCEL pointed out(thanks @JRBANCEL), the bottleneck was somewhere else. It could be:
* `istio-ingressgate`
* `istio-proxy`
* The backend, i.e. revision pods
* The client tool,

[2019-07-23 20:07] dgerd opened #4903 "QueueSideCarResourcePercentageAnnotation validation missing in v1beta1"
## In what area(s)?

/area API

## What version of Knative?

v0.7.0-224-g42ea0505

## Expected Behavior

QueueSideCarResourcePercentageAnnotation is validation regardless of which version of the API I am using.

## Actual Behavior

QueueSideCarResourcePercentageAnnotation is only validated in the v1alpha1 API path.

## Steps to Reproduce the Problem

[2019-07-23 20:44] #4782 closed

[2019-07-23 21:00] yanweiguo commented on #4773
To test single activator pod, do the following:
* Set `target-burst-capacity` in `config-autoscaler` ConfigMap to -1 to make the activator always in the request path.
* Set `maxReplicas` of activator HPA to 1.
* Remove the CPU and Memory resources limits in activator deployment.

With #4886 checked in, I did the following load tests.

### Hey
Run the following command to send traffic
[code]
After

[2019-07-23 21:01] jonjohnsonjr commented on #4902
From @dgerd it seems like istio sidecar injection and/or number of nodes has an effect on this, since he can't reproduce what I'm seeing.

[2019-07-23 21:05] greghaynes commented on #4902
This sounds very similar to https://github.com/knative/serving/issues/4040

[2019-07-23 21:08] jonjohnsonjr commented on #4902
FWIW this is still a theory, I haven't actually tried to change `--iptables-min-sync-period` to see if it has any effect (hard to do on hosted k8s).

[2019-07-23 21:16] jonjohnsonjr commented on #3456
This specific issue was actually fixed by https://github.com/knative/serving/pull/4614

Going to close this and use https://github.com/knative/serving/issues/4557 to track further lifecycle changes to make this a little cleaner.

[2019-07-23 21:16] jonjohnsonjr commented on #3456
/close

[2019-07-23 21:16] #3456 closed

[2019-07-23 21:27] greghaynes commented on #4902
On my kubeadm cluster I have no value set for this and a value set for iptables-sync-period. I think the behavior (based on minimal info in help message) is min-sync-period is what you say - how often iptables will batch updates in best case. sync-period is the maximum / a deadline for how long itll wait to perform an update?

Any way you can see if this is  GKE change in behavior? I feel like som

[2019-07-23 21:29] jonjohnsonjr commented on #4902
Yeah that is my understanding.

[2019-07-23 21:37] jonjohnsonjr commented on #4902
https://github.com/kubernetes/kubernetes/pull/46266

[2019-07-23 21:39] vagababov commented on #4902
Here are the flags, if you want to play:
https://github.com/kubernetes/kubernetes/blob/7bf55da3c2a29e9acb1e5839af555ae75becbf08/cmd/kube-proxy/app/server.go#L176

[2019-07-23 22:56] ZhiminXiang commented on #4120
I created a tracking issue in knative/doc to track the work of updating installation instructions accordingly. https://github.com/knative/docs/issues/1614

[2019-07-23 22:56] #4120 closed

[2019-07-23 23:26] yanweiguo commented on #4773
The tests in previous comment were executed on my local machine. We can send traffic from the same cluster to get lower latency and no need to expose activator service via an external IP.

Some `vegeta` results when running on the same cluster:

RPS | P95 latency(ms) | P99 latency(ms)
-- | -- | --
1800 | 22.747926 | 45.076279
2000 | 23.983688 | 42.507629
2200 | 39.899067 | 89.203038
2400 | 47.5154

[2019-07-24 01:08] JRBANCEL opened #4907 "Data Race in revision_backends_test.go"
/area test-and-release

## What version of Knative?
HEAD

https://github.com/knative/serving/pull/4834 introduced a test that occasionally fails:
https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_serving/4734/pull-knative-serving-unit-tests/1153829167020642304

Read at 0x00c0002fb443 by goroutine 43:
  testing.(*common).logDepth()
      /usr/local/go/src/testing/testing.go:629 +0

[2019-07-24 01:09] JRBANCEL commented on #4907
/assign greghaynes

[2019-07-24 02:55] #4907 closed

[2019-07-24 04:03] vagababov commented on #4773
Do we have a memory leak of sorts or is it buffering? I.e. what does
concurrency metric on the activator itself show?

On Tue, Jul 23, 2019 at 4:26 PM Yanwei Guo <notifications@github.com> wrote:

[2019-07-24 05:10] savitaashture commented on #4903
/assign

[2019-07-24 06:19] ZhiminXiang commented on #4897
/cc @n3wscott

I am not eventing expert but it looks like the cronjob sent requests with cluster internal domain (`default.svc.cluster.local`), not the custom domain (`my-custom-domain.com`). I am not sure if the domain is configurable for eventing.

[2019-07-24 06:31] akoenig commented on #4897
@ZhiminXiang Correct me if I'm wrong, but shouldn't be the internal communication an expected behavior? Communicating with the Broker / Service through the (external) custom domain feels wrong IMHO.

[2019-07-24 06:57] ZhiminXiang commented on #4897
@akoenig I see your point. Ideally, no matter how we configure the external Gateway `knative-ingress-gateway` (e.g. even disabling external HTTP access), the internal domain access should work.

In your case, currently the internal domain access could work with Istio sidecar injection enabled. So if you turn on Istio sidecar injection for your cronjob, the internal access should work.

But for the

[2019-07-24 12:02] #4872 closed

[2019-07-24 12:03] #3569 closed

[2019-07-24 12:03] #4685 closed

[2019-07-24 12:03] #4474 closed

[2019-07-24 13:45] taragu commented on #4870
@markusthoemmes Should the logURL be propagated to Service's and Configuration's status from the revision that's currently running? What about when multiple revisions are running?

[2019-07-24 14:04] markusthoemmes commented on #4870
@taragu That's not always possible, the Configuration for instance has no say in that.

Instead, we could apply different filters (based on service/configuration labels) and not discriminate between revisions that way.

[2019-07-24 16:28] greghaynes commented on #3886
It seems this was discussed heavily at last weeks autoscaling WG meeting - can someone translate that in to outcomes on this issue?

[2019-07-24 18:41] taragu commented on #4589
/assign

[2019-07-24 18:57] nimakaviani commented on #4839
/assign

[2019-07-24 20:18] vagababov commented on #3587
@mattmoor  @dgerd
I think we need to enable this at least for activator/autoscaler to make sure they are not preempted, as being in the request path (directly or indirectly) for v1.

[2019-07-24 20:34] vagababov commented on #4902
/assign @greghaynes
Greg, since you're working on IP direct probing/proxying, I'll assign this one to you as well. If it solves the problem, just resolve, otherwise, we'll need to think more how fix this.

[2019-07-24 20:35] vagababov commented on #4902
/milestone Serving "v1" (ready for production)

[2019-07-24 20:37] vagababov commented on #4865
It seems that autoscaler worked fine (i.e. deployment was scheduled)
/remove-label area/autoscale

[2019-07-24 20:38] vagababov commented on #4865
/remove-area autoscale

[2019-07-24 20:38] vagababov commented on #4752
/assing @JRBANCEL
JR is also actively debugging this.

[2019-07-24 20:38] vagababov commented on #4752
/assign @JRBANCEL

[2019-07-24 20:41] vagababov commented on #4403
Since Markus actively works on it, I think we can move it to 0.8?

[2019-07-24 20:43] vagababov commented on #4344
I think this should be solved with `target-burst-capacity=-1` set for a revision with CC=1.
Or some other combination thereof, that would buffer requests in activator rather than at the pod level.

I am inclined to close this one.

/close

[2019-07-24 20:43] #4344 closed

[2019-07-24 20:44] vagababov commented on #4902
Ref #3885.

[2019-07-24 20:45] vagababov commented on #3780
No reports.
Closing out.

/close

[2019-07-24 20:45] #3780 closed

[2019-07-24 20:48] vagababov commented on #895
Given there's no activity for more than a year and given that Knative itself should probably be billing independent, should we just close this out?

[2019-07-24 21:00] markusthoemmes commented on #4403
Yeah I plan to make it into 0.8!

[2019-07-24 21:01] vagababov commented on #4915
What version of Istio and Knative are you running on?
Please supply the missing information, since this is helpful for
troubleshooting.

On Wed, Jul 24, 2019 at 1:29 PM CC <notifications@github.com> wrote:

[2019-07-24 21:02] vagababov commented on #4403
/milestone Serving 0.8

🎆

[2019-07-24 22:42] tcnghia commented on #4752
/assign @tcnghia

[2019-07-25 01:40] JRBANCEL commented on #4752
## Investigation
I enabled Envoy verbose logging and added HTTP tracing on our HTTP client.
I noticed that I couldn't see any Envoy logs for the 503 seen client side.
Similarly, some HTTP 200 were not seen in the Envoy logs so I suspected that the logs were somehow dropped. Two options:
* kail is too slow to capture all the logs
* Envoy is not logging everything

I randomly noticed that the istio-

[2019-07-25 02:43] tcnghia commented on #4752
@markusthoemmes @vagababov ^^

[2019-07-25 02:44] tcnghia commented on #4752
This is good finding.  In the mean time I'd say we bump the limit a bit to get things relatively stable and optimising after.

Thanks a lot @JRBANCEL

[2019-07-25 02:53] vagababov commented on #4752
Yeah, great find.
Interesting though, why did we start to go over the limit suddenly.

[2019-07-25 03:00] tcnghia commented on #4752
The PR added some more rules (more network config) and also add more requests (for probing).

[2019-07-25 05:19] vagababov commented on #4752
But we had regression outside of the probing PR, right?

[2019-07-25 06:17] JRBANCEL commented on #4752
Yes. We know that:
* 503s with empty body seem to come from overloaded Envoy
* #4734 increases the load on Envoy and exacerbates the issue
* increasing resource quotas makes the 503s disappear

But we still need to root cause why this became an issue in the first place.

[2019-07-25 12:03] knative-flaky-test-reporter-robot opened #4925 "[flaky] pkg/activator.TestThrottlerActivatorEndpoints/many_activators,_less_cc"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator.TestThrottlerActivatorEndpoints/many_activators,_less_cc
* **Repository name**: serving

[2019-07-25 12:03] knative-flaky-test-reporter-robot opened #4926 "[flaky] pkg/activator.TestThrottlerActivatorEndpoints"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator.TestThrottlerActivatorEndpoints
* **Repository name**: serving

[2019-07-25 12:03] #4890 closed

[2019-07-25 12:03] #4891 closed

[2019-07-25 15:02] tcnghia commented on #4752
Do the test parallelism ignore tests that are hanging (waiting)?  If that is the case, just adding more tests would already make the problem worse by incurring more network configuration (more VirtualServices).

On top of that recently we have been making the VirtualService bigger (splitting VirtualServices, heading appending per route) so I wouldn't be surprised.  In 0.7 we also made changes to s

[2019-07-25 17:46] #3898 closed

[2019-07-25 21:29] dgerd opened #4933 "API Webhook coverage tool broken"
## In what area(s)?

/area API
/area test-and-release

## What version of Knative?

0.7

## Expected Behavior

Prow should have API Coverage test results

https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-webhook-apicoverage/1154318894559662080

## Actual Behavior

Prow does not have test results. This is because we moved test directories and it cannot find our test files.

##

[2019-07-25 21:31] dgerd opened #4934 "Use Service v1 API in our upgrade test"
## In what area(s)?

/area API

/area test-and-release

## Describe the feature

We currently only use legacy runLatest Service in our upgrade tests. It would be good to have coverage of our new API shape across upgrades.

[2019-07-25 21:33] dgerd opened #4935 "Run upgrade tests with v1alpha1, v1beta1, and dynamic client"
## In what area(s)?

/area API

/area test-and-release

## Describe the feature

Our upgrade tests currently use only the alpha client in the tests. Our most recent upgrade bug was very apparent on kubectl as it chooses version dynamically, but was left uncaught by our upgrade tests. Our upgrade tests should test using both the static clients (v1alpha1/v1beta1) as well as the dynamic client.

[2019-07-25 21:34] dgerd opened #4936 "Pull upgrade test version from git tags"
## In what area(s)?

/area API

## Describe the feature

Our upgrade tests currently use a hardcoded constant: https://github.com/knative/serving/blob/master/test/e2e-upgrade-tests.sh#L40

As our release process adds git tags we should be able to default to using the git tag and add argument parsing to enable testing against arbitrary commits as to not lose that option.

[2019-07-25 21:36] yanweiguo commented on #4837
/assign @TommyLike

[2019-07-25 21:53] ssmall commented on #4470
/assign @ssmall

I'm going to look into this. While 60 seconds is the recommended reporting period for Stackdriver, they should support reporting metrics as frequently as every 10 seconds. If we can report more frequently, we may be able to mitigate this issue without any significant refactoring to the existing metrics mechanisms.

[2019-07-25 21:54] dgerd opened #4937 "metadata.observedGeneration behaves differently across CRDs"
## In what area(s)?

/area API

## What version of Knative?

0.7

## Expected Behavior

From [Kubernetes Guidance](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-api-machinery/controllers.md),

[code]

I expect observedGeneration to always be bumped when a controller picks up a new spec to reconcile regardless of what happens later in the reconcile loop.

## Actual Beha

[2019-07-25 21:54] dgerd commented on #4937
/assign

[2019-07-26 01:51] #4403 closed

[2019-07-26 01:55] JRBANCEL commented on #4752
A few other observations:
* Pilot is sometimes also overloaded
* Envoy is still occasionally overloaded after increasing resource quotas
* Running tests serially solves the issue but increases time from ~29 minutes to ~40 minutes. That's acceptable to have non-flacky tests.

[2019-07-26 02:32] vagababov commented on #4752
Is there a flag, perhaps, to limit the parallelism of the tests?

On Thu, Jul 25, 2019 at 6:55 PM Jean-Rémy Bancel <notifications@github.com>
wrote:

[2019-07-26 03:03] JRBANCEL commented on #4752
Yes, but the problem that I observed is that while tests are not executed in a deterministic order, they tend to be grouped by where they are defined (like sub-tests together), so scale tests are likely to be running together and that's not good.

Running tests serially, **without increasing istio-ingressgateway resource quotas** seem to work fine, see #4941.

I think we should do that and then st

[2019-07-26 06:23] savitaashture commented on #4933
/assign

[2019-07-26 06:25] savitaashture commented on #4934
/assign

[2019-07-26 06:54] tcnghia commented on #4862
I believe this is correct, PASSTHROUGH wouldn't work.

However, it'll make thing slightly easier for the users to add cert, since the https section is already there.  I believe `tls.mode` is a required field, so we can't just leave it empty.

[2019-07-26 11:48] bitvirago opened #4945 "How to get information about node ip in the pod"
## Ask your question here:
I would like to know node IP in the pod but service doesn't support downwardAPI and fieldRef. Can I inject somehow the node IP in the service definition?

[2019-07-26 12:02] knative-flaky-test-reporter-robot opened #4946 "[flaky] test/conformance/api/v1beta1.TestServiceWithTrafficSplit"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestServiceWithTrafficSplit
* **Repository name**: serving

[2019-07-26 12:58] markusthoemmes commented on #4736
I do agree with @mattmoore‘s point that this can be folded into a higher level abstraction.

My understanding of the need for percentage based traffic splitting is that we need to have a mechnism for unobstrusive rollouts. Percentage based traffic splitting allows us to do what deployment does with its rolling upgrade but also allows us to have immutable deployments (the rolling is a result of mut

[2019-07-26 16:31] vagababov commented on #4453
With my latest changes I am now able to achieve ~6s shutdowns after latest received request. This requires:

-  TBC=-1 (or large enough to be in the path for at least grace period).
- StableWindow = 6s (and cascading changes to panic, etc windows)

[2019-07-26 17:25] vagababov commented on #4589
Note that #4453 is done. Which permits scaling down to 0 after stable window (which can be set as low as 6secs right now).

[2019-07-26 18:38] ajanthan commented on #4935
/assign

[2019-07-26 18:55] #4933 closed

[2019-07-26 19:57] taragu commented on #4870
/assign

[2019-07-26 21:45] markusthoemmes commented on #4870
@taragu please note this might need to be passed by the API WG for discussion. I mostly opened this to see if anybody else wants this/would find this useful.

[2019-07-26 21:59] dgerd commented on #4945
Related to #4190

Can you elaborate further on your use-case of node IP?

[2019-07-26 22:21] JRBANCEL commented on #4752
### Conclusion

I managed to get a repro. The cluster simply is overloaded, especially on the mesh scenario:

[code]

The largest CPU user is Istio's pilot-discovery:

[code]

I profiled discovery:
![pprof](https://user-images.githubusercontent.com/1249763/61984179-202a5800-afb8-11e9-9051-e40582eec1c6.png)

Nothing interesting. I talked to the Istio team and they said it was expected.

### Action

[2019-07-26 22:50] yanweiguo commented on #4773
With the dashboard added in https://github.com/knative/serving/pull/4931, I saw ~4k concurrency. So probably the high memory was due to buffering during heavy load.

[2019-07-26 23:05] yanweiguo commented on #4773
Added latency metric around each handler layer in activator. The following is a sample output:
![pkNc2Xm5864](https://user-images.githubusercontent.com/26175014/61985647-f4f73700-afbe-11e9-8c0e-adc371dda0b9.png)

The `Proxy layer` is the latency around where we call `ServeHttp` of the reverse proxy.

We need to improve the innermost handler(the `Try layer`) where we do throttling and buffering (if

[2019-07-27 13:45] yuzisun opened #4953 "Revision pod does not scale when sidecar is injected"
## In what area(s)?

/area autoscale

## What version of Knative?

knative 0.7.0 (upgraded from 0.5)
Istio 1.1.7 (upgraded from 1.0.1)
namespace istio sidecar injection is not enabled, but istio sidecar mutation webhook is on.

## Expected Behavior

When istio sidecar is injected to revision pod, minScale/maxScale and autoscaling should still work.

## Actual Behavior
When istio sidecar is injecte

[2019-07-27 13:52] yuzisun commented on #4953
/cc @tcnghia @vagababov @markusthoemmes @ZhiminXiang @yanweiguo

[2019-07-27 14:52] markusthoemmes commented on #4953
We only support version-by-version upgrades currently. Have you updated via 0.6?

[2019-07-27 14:56] markusthoemmes commented on #4953
However, I do think this should work ootb if you apply the YAML freshly. Upgrading Knative while the app is running might be iffy if you skip versions though.

Can you try to reproduce it on a fresh installation of Knative/Istio?

[2019-07-27 15:48] vagababov commented on #4953
I think Dan tried a new app as well...

On Sat, Jul 27, 2019 at 7:56 AM Markus Thömmes <notifications@github.com>
wrote:

[2019-07-27 15:53] markusthoemmes commented on #4953
In terms of collecting more debugging info: Does the autoscaler have a sidecar injected as well?

[2019-07-27 16:55] yuzisun commented on #4953
yes, autoscaler is also sidecar injected since the 0.7 release yaml has `knative-serving` namespace enabled for sidecar injection.

[2019-07-27 17:55] vagababov commented on #4953
So it seems, it's istio policy prohibiting connections.
I am leaning towards closing this now, since we found the root cause.
/close

[2019-07-27 17:55] #4953 closed

[2019-07-27 17:58] ZhiminXiang commented on #4953
@vagababov could you please elaborate more about the Istio policy you found?

[2019-07-27 18:43] yuzisun commented on #4953
Thanks @vagababov for the remind to check istio policy! But absolutely zero indication in logs :) We have istio RBAC turned on and have service role defined for the service, still not sure why this blocks autoscaler, the istio service role and binding looks like following.
[code]
[code]

[2019-07-27 19:59] yuzisun commented on #4953
turned on istio rbac debug and see this error in istio pilot log, looks the metrics service is TCP service not http?

[code]

[2019-07-27 22:09] taragu commented on #4870
@markusthoemmes Ah I see. Thanks for letting me know.

[2019-07-28 01:54] yu2003w commented on #4915
@iamcc What's your Istio version? Is ```outboundTrafficPolicy``` set to REGISTRY_ONLY if istio version is 1.0 or higher?
Is it the same issue as #4597?

[2019-07-28 12:02] #4925 closed

[2019-07-28 12:02] #4926 closed

[2019-07-28 16:35] #4680 closed

[2019-07-28 17:01] mattmoor commented on #4833
@Zyqsempai thanks for the PR (and jumping on this so quickly).  Left a bunch of comments.  LMK if you have any questions.

[2019-07-28 17:25] #4903 closed

[2019-07-29 04:51] #4648 closed

[2019-07-29 06:27] bitvirago commented on #4945
I would like to use DataDog DemonSet.  I copied the DeamonSet config file. This is their recommendation you can find here: https://docs.datadoghq.com/agent/kubernetes/daemonset_setup/?tab=k8sfile
[code]
and I have a service witch should use the node ip

[code]

[2019-07-29 09:11] markusthoemmes commented on #1411
/remove-area autoscale

This is not related to autoscaling per-se is it?

[2019-07-29 09:13] markusthoemmes commented on #2249
I agree, let's close this then.

/close

[2019-07-29 09:13] #2249 closed

[2019-07-29 11:05] markusthoemmes commented on #1815
I'm not sure there's anything actionable here at the moment. We have alleviated a lot of the issues with the push based model by allowing the activator to be hooked into sensitive workloads. If nobody objects, I'll close this in a few days.

[2019-07-29 11:10] markusthoemmes commented on #895
I tend to agree. Let's give it a few more days and close if nobody objects.

[2019-07-29 11:16] markusthoemmes commented on #3416
@yanweiguo Any news on this?

[2019-07-29 11:18] markusthoemmes commented on #4732
At least for the APIService part, that seems to be expected behavior? Not sure if we can do anything about that.

[2019-07-29 11:19] markusthoemmes commented on #2978
/remove-area autoscale

Certainly not related to the Autoscaling WG.

[2019-07-29 11:23] markusthoemmes commented on #4665
@greghaynes your last comment mostly sounds like you're after rollout orchestration here? As in: Slowly cutting over from one revision to the other without making the user do it?

[2019-07-29 13:18] philwinder opened #4959 "Multi-Tenant Control Plane"
Does KNative support running multiple Serving control planes on the same cluster?

This has two parts to it. Firstly, there are a large number of calls to a k8s cluster scope. In some enterprise environments, application teams do not have permission to make calls at the cluster scope.

Secondly, you can imagine that there may be some need to have two separate KNative Serving control planes running

[2019-07-29 13:28] markusthoemmes commented on #4959
I think this is related to #2107 if not a duplicate of it even. @philwinder could you have a look there to determine if it's a duplicate?

In a nutshell: There is some ongoing work to reduce some of the cluster-scope (i.e. we ditched ClusterIngress for just Ingress now) but AFAIK no overarching planning to achieve this goal ultimately.

[2019-07-29 14:25] #4453 closed

[2019-07-29 16:20] yanweiguo commented on #3416
Not actively working on this.

/unassign

[2019-07-29 16:42] greghaynes commented on #4665
I think our out of the box rollout orchestrating (route all traffic to latest revision) should work for the helloworld example without major disruption of requests on an update. IMO for more advanced usages its fine to tell the user they need to be aware of these kinds of issues and account for them, but we should have a (very) good story for "I have a stateless app I want to run on knative and al

[2019-07-29 16:48] markusthoemmes commented on #4665
Yes that makes sense to me. I was mostly voicing out what wasn't apparent to me from the title: You actually want to be able to cut over between two revisions automatically without interruptions for the simple use-cases. The title (initial scale should be able to...) implied that that's somehow bound to the scale carrying over, even though you tried to avoid that 😅

[2019-07-29 17:54] dgerd opened #4964 "Route stuck in Unknown"
## In what area(s)?

/area networking

## What version of Knative?

v0.7.0-272-ga93d9bb3

## Expected Behavior

I create a Knative Service and it progresses to Ready=True

## Actual Behavior

Knative Service gets stuck with Route in Ready=Unknown

Service Status:
[code]

Route Events:
[code]

Controller Logs:
[code]

[code]

And a bunch of other errors

## Steps to Reproduce the Problem

[code]

[

[2019-07-29 18:07] yanweiguo commented on #4773
The probing revision service doubles the latency. The following is a sample output for P95 latency without probing:

![no_probe](https://user-images.githubusercontent.com/26175014/62071238-f3ad5080-b1f0-11e9-9d84-a38d5994730d.png)

The cache of probing was reverted in #4797.

[2019-07-29 18:08] taragu commented on #4936
/assign

[2019-07-29 18:26] dgerd commented on #4964
I reverted back to 303602bd6b7a4ebac0f2d13dbbcd815a98153b67 (when the path changed) as going back to v7.0.1 requires moving my workspace, and the broken Service became `True`.

So something seem to have changed that is causing this to get stuck.

[2019-07-29 18:26] dgerd commented on #4964
/cc @tcnghia

[2019-07-29 18:33] vagababov commented on #4773
Probing is indeed one of the biggest contributors to our serving path. So
hopefully when per-backend stuff with caching is in, we'll be fine.

On Mon, Jul 29, 2019 at 11:07 AM Yanwei Guo <notifications@github.com>
wrote:

[2019-07-29 18:54] dgerd commented on #4964
Going back from 303602b to a93d9bb3 with a `ko apply -f config/` seems to cause my existing Service to flip back from "True" to "Unknown"

[2019-07-29 19:25] dgerd commented on #4964
d7ae9b73211a50307c9fe9d2cb32ff6264cbd3a5 seems to be the change that is causing the problem.

Doing a bisect I get a Service in "Unknown" past this, but then it gets changed to "True" before this. There does seem to be something strange going on about it though as sometimes it will go from "True" -> "Unknown" -> "True" when going above and below this commit, but other times once it is happy it doe

[2019-07-29 19:32] dgerd commented on #4964
Looks like I may have at one point in time enabled AutoTLS which seems to be causing the issue.

[2019-07-29 19:58] yanweiguo commented on #2524
@sayanh any updates on this issue?

[2019-07-29 20:00] yanweiguo commented on #3416
I'll give some time to this this week.

[2019-07-29 20:27] #4752 closed

[2019-07-29 21:06] ssmall commented on #4470
It looks like decreasing the reporting period will affect all metrics, and could have consequences for Stackdriver API usage, especially since reducing from 60s to 10s represents a 6x increase in API usage.

There does not appear to be a way to configure the reporting period independently for different metrics (see https://github.com/open-telemetry/opentelemetry-specification/issues/197)

[2019-07-29 21:36] duglin commented on #1409
This one is closed, is it because people believe the problem is fixed?  I'm still seeing it.

[2019-07-29 22:29] vagababov commented on #1409
Did you setup the system with TBC?

[2019-07-29 22:55] duglin commented on #1409
Probably not. What is TBC? 😀

Thanks,
-Doug
Sent from my iPhone

[2019-07-29 23:33] nimakaviani commented on #4839
could not reproduce locally.

with knative v0.6.1 the invalid route fails with the following error and does not create the resource:

[code]

After removing the invalid url, the route is created but then is immediately removed by the reconciler since there cannot be a route without a knative service associated to it.

The only situation where I managed to get into a deadlock was prior to when the

[2019-07-29 23:46] JRBANCEL commented on #3312
/reopen
While this is fixed by #4734, I still need to remove the 404 retrying logic in the tests before marking this as fully fixed.

[2019-07-29 23:52] tcnghia opened #4975 "v1beta1/TestService and v1beta1/TestBlueGreenRoute are flaky due to dual API versions"
## In what area(s)?

/area API
/area test-and-release

## What version of Knative?

## Expected Behavior
These tests aren't flaky.

## Actual Behavior
They occasionally fail with ```blue_green_test.go:102: Failed to update Service: Internal error occurred: no kind "Service" is registered for version "serving.knative.dev/v1beta1" in scheme "k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go:

[2019-07-29 23:52] tcnghia commented on #4975
/cc @dgerd

[2019-07-30 00:35] #4936 closed

[2019-07-30 02:03] tcnghia opened #4979 "E2E tests need to be throttled"
## In what area(s)?

/area networking
/area test-and-release

## Describe the feature
Currently many e2e tests are run using `t.Parallel()`.  While parallelism is controlled by default value of `-parallel` in `go test`, concurrency isn't.  When some tests block, other tests will start running.

This can create unbounded load on our control plane (and data plane, since Envoy proxies will need to re

[2019-07-30 02:03] tcnghia commented on #4979
/cc @mattmoor
/cc @JRBANCEL

[2019-07-30 02:06] tcnghia commented on #4979
Noted that 503 response code is "Service Unavailable" and is a valid response for when the server is currently unable to handle the request due to a temporary overloading or maintenance of the server.

So without throttling we can overload our Envoys and start seeing more 503s.  Setting an HPA on the Istio Ingressgateway will help (it's coming) but throttling is still important to keep having a fi

[2019-07-30 02:10] tcnghia opened #4980 "E2E test runs need to output resource measurements"
## In what area(s)?

/area test-and-release

## Describe the feature

We saw that during some test runs many of our pods get 500% CPU/200% memory that they are allocated (see https://github.com/knative/serving/issues/4752#issuecomment-515616613).

It would be great to have a summary of the resource usage so that we can correctly tune the pods to make sure we are not overloading components and caus

[2019-07-30 03:00] tcnghia commented on #4964
So AutoTLS is causing the issue here, Route sets to Unknown was actually correct behavior.  In 0.7.1 we didn't do this, but we recently added this behavior in https://github.com/knative/serving/commit/d7ae9b73211a50307c9fe9d2cb32ff6264cbd3a5 .

[2019-07-30 03:00] #4964 closed

[2019-07-30 04:48] nimakaviani commented on #4610
looks like 4 sets of configurations are used in the activator:

- log configurations
- tracing configurations
- cluster configurations
- observability configurations

out of the above, only cluster configurations seem to be vital to the activator's behavior. In the code though, misconfiguration of these configurations (except for the observability configurations) is fatal to the activator.

Does i

[2019-07-30 08:16] philwinder commented on #4959
Similar, yes, but the use cases are slightly different. I will add these use cases to that issue. Thanks for the quick reply!

[2019-07-30 08:16] #4959 closed

[2019-07-30 08:23] philwinder commented on #2107
I would like to add my use cases to this feature request for posterity, originally in #4959.

1. In some enterprise setups, RBAC implementations prevent "application teams" from accessing the cluster scope (among other things). Hence, we should allow KNative to work in single namespace conditions, using Roles rather than ClusterRoles.

2. Some applications require different KNative control planes

[2019-07-30 08:59] mgencur opened #4982 "Add option to enable/disable profiling of Knative Serving pods"
## In what area(s)?

/area monitoring

## Describe the feature

Make it possible to profile Knative Serving while it's running. The goal is to collect Memory and CPU related information that could be used to find bottlenecks in the system and create more efficient implementation.
It would be ideal to provide a configuration option(s) via a ConfigMap that would either enable or disable memory/cpu p

[2019-07-30 09:00] mgencur commented on #4982
The [pprof](https://golang.org/pkg/runtime/pprof/) tool could be used. Profiling data would be stored in file(s).

[2019-07-30 09:04] mgencur commented on #4982
I can work on that.

[2019-07-30 09:16] markusthoemmes commented on #4982
/cc @srinivashegde86 @yanweiguo @vagababov
/assign @mgencur

What do you think about this? Any immediate concerns? Any ideas on where the flags could best be added (observability?).

[2019-07-30 09:18] markusthoemmes commented on #4982
For posterity:

The idea is to run `StartCPUProfile`/`WriteHeapProfile` dynamically based on settings in a ConfigMap. That'd enable us to easily switch collecting performance data on and off, even in a production system. See the [golang profiling guide](https://blog.golang.org/profiling-go-programs) for more information.

As we're looking at improving our components, I think it's crucial to make i

[2019-07-30 12:02] knative-test-reporter-robot opened #4983 "[flaky] test/scale.TestScaleToN/scale-100"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-100
* **Repository name**: serving

[2019-07-30 12:02] #4857 closed

[2019-07-30 12:02] knative-flaky-test-reporter-robot opened #4984 "[flaky] test/scale.TestScaleToN"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN
* **Repository name**: serving

[2019-07-30 12:02] #4849 closed

[2019-07-30 13:53] mgencur commented on #4982
The pprof utility provides http handlers that will respond with profiling data upon request [link](https://golang.org/src/net/http/pprof/pprof.go). The configuration options could just make Knative register/unregister the handlers and the user could get the profiling data via http requests on demand

[2019-07-30 14:33] bbhuston commented on #4868
I am experiencing the exact same issue.  I have installed knative (build/serving/eventing) on 1.11x, 1.12x, and 1.13x private GKE clusters.  These clusters have the latest istio installed and have the master authorized networks disabled (have tried this with these networks enabled as well) and am unable to creates builds or ksvcs under any scenario.  Have also tried installed knative v0.6x and v0.

[2019-07-30 14:33] #4984 closed

[2019-07-30 17:00] vagababov commented on #4610
/milestone Serving "v1" (ready for production)

[2019-07-30 17:01] vagababov commented on #4833
/milestone Serving "v1" (ready for production)
This seems to close for .8?

[2019-07-30 17:08] yanweiguo commented on #4982
I agree that it's crucial to have an easy way to collect valuable information from our components. config-observability sounds right to me to add the flag.

[2019-07-30 17:09] dgerd commented on #4083
Moving this out of Serving 0.8 and into Ice Box. This is low priority and has not been picked up.

[2019-07-30 17:34] dgerd opened #4992 "Feature Request: Create debug configmap and log dump tool"
## In what area(s)?

/area test-and-release

## Describe the feature

To debug an issue you typically need to:

* Look at Config/Revision/Route status for the Service(s) you care about
* Look for errors in logs of all the different controllers
* Look at what has changed/is set in the Knative ConfigMaps
* Look at the Kubernetes cluster version

It would be really nice to have a tool that takes all

[2019-07-30 17:36] srinivashegde86 commented on #4982
I have been thinking about this especially w.r.t performance tests and how do these tests exercise the serving components. This seems like a good option to have and we can add some tests to verify that we dont fall outside some range.

[2019-07-30 17:52] vagababov opened #4993 "Add scale down rate for autoscaler"
## In what area(s)?

/area API
/area autoscale

## Describe the feature

Currently we have a scale up rate knob, which makes sure autoscaler doesn't do really crazy scaleups.
But we don't have one for scale down. Which means, for example, if we have large enough deployment and we've just created a few pods and the stats scraper scraped _them_ we might get significantly smaller concurrency numbers

[2019-07-30 18:14] vagababov commented on #4982
FWIW, I'd actually run it at all time and have a flag to turn it off.

[2019-07-30 18:51] markusthoemmes commented on #4982
I guess that‘s a matter of the default in the ConfigMap.

[2019-07-30 18:55] vagababov commented on #2930
/milestone clear

[2019-07-30 18:55] vagababov commented on #2930
/mileston Ice Box

[2019-07-30 18:56] vagababov commented on #2930
/milestone Ice Box

The rest is out of scope for v1.

[2019-07-30 19:06] taragu commented on #3591
/assign

[2019-07-30 20:44] dgerd commented on #4173
So I have done some testing here and RoutesReady can in fact briefly flash to False before going Unknown and then True. I have not even seen it (or Route.Ready) go to "False" when querying the resource from the outside, but when instrumented with logging I do see Route.Ready go False for nearly every update of this type and often for multiple reconcile loops. Service.RoutesReady seems to go "False

[2019-07-30 21:11] dgerd opened #4994 "Deployments not scaling to zero"
## In what area(s)?

/area autoscale

## What version of Knative?

v0.7.0-289-g1e955611-dirty

## Expected Behavior
Old deployments are scaled down to zero.

## Actual Behavior
My old deployments that have not seen traffic are remaining around with pods running causing my clusters to run out of capacity.

[code]

## Steps to Reproduce the Problem

Create a bunch of Revisions with the same service

[2019-07-30 21:47] vagababov commented on #4994
/assign

[2019-07-30 21:51] vagababov commented on #4994
Did not reproduce on my cluster.
Let me get clean head.

[2019-07-30 21:52] dgerd commented on #4173
The suggested remedy here looks to be a fairly large change. As we only take `revisionName` we cannot easily determine the `configurationName` from the Route reconciler. Since this issue is primarily a concern for Services which are orchestrating the updates the options I see here are:

1. Special-case this failure in the Service reconciler. If metadata.name == traffic.RevisionName then ignore 'Re

[2019-07-30 22:32] vagababov commented on #4994
/assign @dgerd
May be something is with your setup?

[2019-07-30 22:41] dgerd commented on #4994
One difference I noticed is that I have Istio sidecar enabled. Let me try to disable that and then I will try deleting all the resources and CRDs and try to reproduce.

[2019-07-31 00:33] mattmoor commented on #4251
We haven't had this, and it doesn't seem to have been an issue.  Assuming we keep largely the same API going v1beta1 to v1, do we still need this?

[2019-07-31 02:26] duglin opened #4997 "Requests are routed sub-optimally"
## In what area(s)?

 /area autoscale
 /area networking

## What version of Knative?

master

## Issue

This is a follow-on to #1409. I'm still seeing the queuing behavior described.

Using this script (modify the URL to your env):
[code]

If things work, then the 1st and 3rd curl should take however long cold-starts take (about 5-10 seconds), while the 2nd curl should take about 30 seconds.

Howe

[2019-07-31 03:41] vagababov commented on #4997
I've seen fast executions.
But mostly the problem is that activator sees the endpoint and releases the
request before the service would actually route the request to it, so most
of the time (except lucky cases) it will be delayed.
A more proper test would be sending a stream of such requests with some
delays. But, in any case, we'll hope that endpoint direct communication
will help alleviate even

[2019-07-31 12:02] knative-test-reporter-robot opened #4998 "[flaky] test/conformance/api/v1beta1.TestBlueGreenRoute"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestBlueGreenRoute
* **Repository name**: serving

[2019-07-31 14:38] duglin commented on #4340
There are 3 different ways I've seen config options specified on a KnService:
- annotations (e.g. `autoscaling.knative.dev/minScale: "1"` )
- labels  (e.g. `serving.knative.dev/visibility: cluster-local` )
- 1st class properties in the `spec` (e.g. `containerConcurrency: 1` )

While there may be good reasons to have 3 places from a Knative code perspective, I think this is kind of confusing from a

[2019-07-31 17:47] n3wscott opened #5002 "Can not dep on serving. golang.org/x/net/http2/h2c not found."
A project can not use `serving` because there is no dep entry for `http2/h2c`

Serving needs to require `golang.org/x/net/http2/h2c` so that the transitive dependencies are calculable.

forced to do:

[code]

[2019-07-31 18:36] dgerd commented on #4994
Ended up needing to clear out my cluster and delete a few dangling resources (had some clusteringresses and routes that were stuck with bad finalizers).

After doing that and re-applying the cluster seems to be working correctly now. Not sure what the problem was, but since I can no longer reproduce it going to close this for now.

[2019-07-31 18:36] #4994 closed

[2019-07-31 19:13] n3wscott commented on #5002
Had to hacky hack: https://github.com/GoogleCloudPlatform/cloud-run-events/pull/114/files#diff-836546cc53507f6b2d581088903b1785R14

[2019-07-31 21:03] JRBANCEL commented on #4998
`Failed to update Service: Internal error occurred: no kind "Service" is registered for version "serving.knative.dev/v1beta1" in scheme "k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go:52"`

This is because of https://github.com/kubernetes/kubernetes/issues/73752.

[2019-07-31 21:04] JRBANCEL commented on #4998
/close

[2019-07-31 21:14] JRBANCEL commented on #4982
As a data point, the way profiling work in Istio is fairly clean.
Binaries accept a `--profile` flag and the user simply adds it to the Deployment when profiling is needed.
That way, it is disabled by default, and uses the standard k8s mechanism (no need to write code to handle ConfigMap changes, smooth deployment, etc...)

[2019-07-31 22:21] DavidLangworthy commented on #1816
Is there any way to get this working today?

I need to assign some pods to particular pools.  I've tried attempting to patch the generated deployment (yes, I know this is bad).  The patch returns successfully, but does not alter the deployment.

This is the patch I am using

`[
    {"op": "add", "path": "/spec/template/spec/nodeSelector", "value": {"agentpool":"fabrikam"}},
    {"op": "add", "path

[2019-07-31 22:24] mattmoor commented on #1816
We'd reconcile the change away, which is probably why it seems like the patch wasn't applied.  You could do this via a mutating admission webhook on Deployments and we should respect that.

[2019-07-31 22:25] mattmoor commented on #1816
It also seems you can do this at a namespace level today: https://stackoverflow.com/questions/52487333/how-to-assign-a-namespace-to-certain-nodes

[2019-07-31 22:36] DavidLangworthy commented on #1816
Thank you.  I'll look into those options.

[2019-07-31 23:34] tcnghia commented on #4897
/area networking

[2019-08-01 00:14] iamejboy commented on #4865
Hi,

My current workaround to this is adding below annotations:
[code]
Using this until proper solution is offered.

regards,

[2019-08-01 02:53] krancour commented on #1816
@mattmoor a mutating admission webhook would work, but isn't implementing one of those an awful lot to ask of users who have this relatively common need? It's a solution that is disproportionately complex in relation to the problem is solves.

I totally understand that granting users power over pod placement is antithetical to the notion of serverless. Having said that, Knative isn't merely server

[2019-08-01 05:19] mattmoor commented on #1816
I agree that writing a webhook is complex, my latest comments are simply enumerating some options that exist today.

Frankly, options like:
[code]

Are appealing because it separates our node-selection to a resource (Namespace) that is likely set up by an operator administering the cluster for a developer.  Separating Developer and Operator concerns is a place Kubernetes has done a poor job histor

[2019-08-01 08:24] markusthoemmes commented on #5002
Hmm, I wonder why that's needed. Is this a double-vendor issue somehow? Our code requires it so `dep` should see that, shouldn't it?

[2019-08-01 09:31] yu2003w commented on #4752
@JRBANCEL I'm curious how do you get the testing result for resource usage. Do you use any tool to generate that?

[2019-08-01 09:58] nak3 opened #5016 "Support manual change to http"s" scheme for route.status.addres.url"
/area networking
/kind spec

## Describe the feature

Currently `route.status.addres.url` has `http` scheme by default.

[code]
It becomes `https` only when `autoTLS` is enabled.

https://github.com/knative/serving/blob/c4a03285b40d6c2550b1317e30a697ff4237d072/pkg/reconciler/route/route.go#L332

So, when we would like to use https by configuring Gateway manually to use `https`, we cannot get `http

[2019-08-01 11:53] iamejboy opened #5018 "Named all service ports following istio-naming convention?"
## In what area(s)?

## Ask your question here:

What about naming all service ports following istio-naming convention?

https://istio.io/docs/setup/kubernetes/additional-setup/requirements/

[2019-08-01 11:55] duglin commented on #5016
We used to not have the http at all and I wonder if that’s a better choice since the configuration of http va https might not be known to Knative at all. So having Knative imply something that might be wrong could be very misleading.

Sent from my iPad

[2019-08-01 12:02] knative-test-reporter-robot opened #5019 "[flaky] pkg/activator.TestRevisionBackendManagerAddEndpoint/Add_slow_healthy"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator.TestRevisionBackendManagerAddEndpoint/Add_slow_healthy
* **Repository name**: serving

[2019-08-01 12:02] knative-test-reporter-robot opened #5020 "[flaky] pkg/activator.TestRevisionBackendManagerAddEndpoint"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator.TestRevisionBackendManagerAddEndpoint
* **Repository name**: serving

[2019-08-01 12:02] #4858 closed

[2019-08-01 12:02] knative-flaky-test-reporter-robot opened #5021 "[flaky] pkg/autoscaler.TestMultiScalerScaleToZero"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/autoscaler.TestMultiScalerScaleToZero
* **Repository name**: serving

[2019-08-01 12:02] knative-test-reporter-robot opened #5022 "[flaky] _go_tests.DataRaceAnalysis"
### Auto-generated issue tracking flakiness of test
* **Test name**: _go_tests.DataRaceAnalysis
* **Repository name**: serving

[2019-08-01 15:10] krancour commented on #1816
@mattmoor re: node selection on the basis of namespace, that assumes that _everything_ in that namespace should have the same node selectors. I'm sure there are cases where that is fine. I'm equally sure that that's _not_ ok in many cases.

Regardless of whether one counts it as a developer responsibility or an ops responsibility, I'm talking about whoever ends up contributing the Kubernetes manif

[2019-08-01 15:32] wtam2018 opened #5024 "Disable and remove ClusterIngress Resources"
## In what area(s)?

/area API

/area networking

## Describe the feature
in #3982, we have created namespaced scoped ingress which is running in parallel with cluster ingress.   The next step is to stop and disable cluster ingress.   ClusterIngreses resources are removed so that it will no longer be running.    Removing ClusterIngress from source code is out of scope of this issue.

[2019-08-01 15:32] wtam2018 commented on #5024
/assign

[2019-08-01 15:46] DavidLangworthy commented on #1816
@mattmoor's comment fixed my immediate problem so I am unblocked.  Thank you.

Regarding the overall issue--

Our use case deals with a single cluster with node pools of different compute types-- CPU, GPU & FPGA.  Even within GPU there are different types e.g. K80 and V100.  This difference is already exposed at the dev (or data scientist) layer.  In PyTorch the code will call .to('cuda') to load

[2019-08-01 16:14] rgregg commented on #4251
AFAIK we haven't heard any feedback about this being a challenge, so I think we can save this until we hear that feedback.

[2019-08-01 21:33] dgerd opened #5030 "Pass full URL instead of Domain in Conformance tests"
## In what area(s)?

/area test-and-release

## Describe the feature

In our conformance tests and our test utilities we pass domain and prefix with "http://" in many places. See https://github.com/knative/serving/blob/master/test/conformance/api/v1alpha1/resources_test.go#L61 for an example of this.

We have this pattern because we used to only have `domain` reported by the Service/Route. When we

[2019-08-01 22:35] JRBANCEL commented on #4752
I used (in order of my previous message)
* kubectl top nodes
* kubectl top pods --containers
* pprof

[2019-08-02 00:29] nak3 commented on #5016
@duglin Thank you for the comment.

@dgerd Do you have any idea for this? (Sorry for bothering you, but it seems https://github.com/knative/serving/issues/3450 added the URL scheme and wondering if you have a good idea.)

[2019-08-02 01:05] ZhiminXiang commented on #5016
I agree with @duglin. Knative does not watch Istio Gateway (as it is a global resource). Therefore, the HTTPS information from the Gateway can be changed without notifying Routes in Knative.

We have some discussions about providing a way in Knative for manually configuring TLS. https://github.com/knative/serving/issues/4631. I would prefer supporting the https scheme after we have a way to config

[2019-08-02 03:33] majuansari commented on #4407
@yuxiaoba You were able to fix this? I am still getting this in macosx local

[2019-08-02 05:50] mgencur commented on #4982
Regarding profiling all the time, I think it will depend on how much this option will slow down Knative. I suppose there will be some slowdown so I'd like to measure it and then we can see if it makes sense to have it enabled or disabled by default.

[2019-08-02 06:08] ajanthan commented on #5030
/assign

[2019-08-02 07:47] nak3 commented on #4631
That sounds very nice. Thank you @Joon-L. I like this idea.

Perhaps, we need to have one more annotation to specify how to take care of `http` protocol like `networking.knative.dev/httpProtocol: {{Redirect|Disabled|Enable}}`?

[2019-08-02 10:28] nak3 commented on #4862
@tcnghia Thank you for the verification!

Yes, although `tls.mode: PASSTHROUGH` by default is very confusable, I think that it should be removed after https://github.com/knative/serving/issues/5016 was implemented.

cc @Joon-L @ZhiminXiang

[2019-08-02 12:02] knative-flaky-test-reporter-robot opened #5037 "[flaky] pkg/reconciler/route.TestNewRouteCallsSyncHandler"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestNewRouteCallsSyncHandler
* **Repository name**: serving

[2019-08-02 13:54] mattmoor commented on #3416
@yanweiguo Is this done?  How are folks expected to consume this?

[2019-08-02 14:11] houshengbo commented on #4309
@markusthoemmes @taragu
Check this link as well: https://github.com/kubernetes/kubernetes/issues/78855.
Kube has not fixed the broken links for mac client v1.13.6-gke.5. As you can verify in the link above, the Linux client is available, but not the mac client.
As long as we still setup with kube v1.13.6-gke.5 and use a mac as client, this issue persists for sure.

[2019-08-02 14:15] yuxiaoba commented on #4407
@majuansari I have fixed this by change `CLUSTER_DNS_DOMAIN` from `cluster.local.` to "cluster.local"

[2019-08-02 14:19] houshengbo commented on #4309
I was wondering whether we can switch to use the link, like https://dl.k8s.io/v1.13.6/kubernetes-client-darwin-amd64.tar.gz
to download the clients or any other kube artifacts. This could be a possible way to fix.

[2019-08-02 15:43] vagababov opened #5040 "Document the knative provisioning guide"
/area API
/area autoscale

/kind process

## Describe the feature

Currently we provision Knative for a quite small load, by default.
We should provide some guidance in how to provision the system; suggested replicas (for activator), resources (CPU/Memory) vs concurrency/# services/QPS.

[2019-08-02 15:54] vagababov commented on #3416
This is still in progress.

On Fri, Aug 2, 2019 at 6:54 AM Matt Moore <notifications@github.com> wrote:

[2019-08-02 17:56] taragu commented on #2313
/assign

[2019-08-02 20:03] Joon-L commented on #4631
@nak3 This definitely makes sense to add. Once the wildcard cert support gets through we can look into adding this functionality as well. Thank you.

[2019-08-02 23:10] #4517 closed

[2019-08-02 23:11] dgerd commented on #4173
The fix here is bigger than I would like to get in for Serving 0.8. Going to move this to Serving 0.9.

[2019-08-03 01:02] #4227 closed

[2019-08-03 03:07] mattmoor commented on #4997
/assign @greghaynes
/kind networking

[2019-08-03 03:16] mattmoor commented on #4997
/area networking

[2019-08-03 03:17] mattmoor commented on #5018
/area API
/area networking

[2019-08-03 03:20] mattmoor commented on #4868
Can you share information about how to create a cluster like the one where you are seeing this?

[2019-08-03 03:28] #1815 closed

[2019-08-03 05:08] JRBANCEL opened #5056 "Route status is improperly derived from Ingress status"
## In what area(s)?
/area networking

## What version of Knative?

HEAD

## Expected Behavior

When the routing of a Knative Service is updated, the Service status should only be Ready=True when the routing as been effectively applied (i.e. the **latest generation** of Ingress is Ready).

## Actual Behavior
The Service status becomes Ready=True before it is actually ready.

## Steps to Reproduce t

[2019-08-03 12:02] #5021 closed

[2019-08-03 12:02] #4946 closed

[2019-08-03 15:32] #5056 closed

[2019-08-03 22:26] bbhuston commented on #4868
@mattmoor   Below are the configurations that I'm using to create my gke cluster and to bootstrap it with knative.

[code]

After running `kubectl apply` on the build manifest, no build resources are ever created on the cluster and in about 30 seconds I receive the same timeout error message that the OP reported.

[2019-08-04 04:08] mattmoor commented on #4868
cc @tcnghia

[2019-08-04 04:09] mattmoor commented on #4868
Thanks for the detailed repro instructions.  Early this week is a bit chaotic shutting down 0.8, but this should be very helpful attempting to reproduce what you are seeing so that we can get your problem sorted out.

[2019-08-04 05:19] #3312 closed

[2019-08-04 12:02] #5037 closed

[2019-08-05 00:21] duglin commented on #3886
Perhaps but it seems to me that as we go forward, especially when we consider things like async jobs where there may not be an external connection for the life of the job, we need a reliable way to know what the state of the system is. Otherwise our choices w.r.t. scaling up and down are just guesses at best and our users will expect a more deterministic algorithm to be used. If not their results

[2019-08-05 01:59] yu2003w commented on #4980
I want to work on this item if nobody has already been working on this item.

[2019-08-05 12:02] knative-test-reporter-robot opened #5060 "[flaky] test/e2e.TestActivatorOverload"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestActivatorOverload
* **Repository name**: serving

[2019-08-05 12:43] savitaashture opened #5061 "Traffic split is not working as per the specified percentage"
## In what area(s)?

## What version of Knative?

## Expected Behavior

when specified traffic split is 50-50%
output should be
[code]
## Actual Behavior

when specified traffic split is 50-50%
output:
[code]

## Steps to Reproduce the Problem
1. Create Service
[code]
2. Get rev name
3. Update service
[code]

[2019-08-05 12:52] markusthoemmes commented on #5061
In the output you're giving, there are 14 v1 and 15 v2 responses. That's 50/50 isn't it?

A traffic split of 50% does not guarantee that every other request hits the same revision. It only says that over-time, the sample distribution will be 50% on each revision.

[2019-08-05 13:13] vagababov commented on #5061
Yes, it's statistical rather than ideal distribution

On Monday, August 5, 2019, Markus Thömmes <notifications@github.com> wrote:

[2019-08-05 15:48] savitaashture commented on #5061
I thought 50-50% means
[code]
the way it works in istio.

[2019-08-05 16:30] dushyanthsc opened #5062 "Upgrade testing: Improvement"
Upgrade tests currently maintain a file /tmp/prober-signal as part of the test. This issue is created to check if this can avoided and make the tests self contained. If the file is indeed needed does make sense to append a random number as part of the file name.

/area test-and-release

[2019-08-05 16:30] dushyanthsc commented on #5062
/assign @k4leung4

Assigning to kenny for triage.

[2019-08-05 17:01] markusthoemmes commented on #5061
Even in istio I don't expect this to be true, at least not if you start scaling out the ingressgateway.

[2019-08-05 17:06] jonjohnsonjr commented on #5062
For some context, I added this as a way for the upgrade/install scripts to coordinate with the prober test. We want to have that test run while we're performing an upgrade, but I couldn't come up with a nice way to do that. My first thought was to have the prober test shell out to bash to perform the upgrades, but that got complicated pretty quickly. This /tmp/prober-signal idea was the simplest t

[2019-08-05 17:15] dgerd commented on #5016
I would rather push forward in being able to detect (or worst case manually select https) than to move us back to just have the domain.

Something will have to determine http/https. If Knative does not make that determination every client will end up hardcoding it ( See our testing as an example:  https://github.com/knative/pkg/blob/222dd25986d91c12d54f6ac7758251f005053b8f/test/request.go#L153 ).

[2019-08-05 18:15] mattmoor commented on #4117
The libraries that will allow us to do this are going to get pushed shortly, but as this is a non-functional item (wrt shipped bits) I'm going to move it out of 0.8

[2019-08-05 19:02] ZhiminXiang commented on #5016
I agree that we should push forward to detect `https` or allow manually selecting `https`.

In terms of how to detect `https`, I would rather use a way integrating with Knative TLS framework than to watch Istio Gateway directly.

[2019-08-05 19:13] marun commented on #1397
I wish k8s would discourage the creation of types with kind/plural names that duplicate that of core types (i.e. types that don't have a group).  Even if the practice wasn't likely to cause user confusion, it [complicates the life of tool developers](https://github.com/kubernetes-sigs/kubefed/issues/1078).

[2019-08-05 19:33] #1582 closed

[2019-08-05 22:19] JRBANCEL commented on #4892
@vagababov, is this something you are aware of?
Just yesterday, it failed 4 time with the same root cause, the replica count was 17 and it was expected to be between 9 and 16.
Was the autoscaling logic tweaked somehow?
See
* https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-istio-1.1-mesh/1157873832355172352
* https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serv

[2019-08-06 00:42] tcnghia commented on #5061
This is working as intended.

[2019-08-06 00:42] #5061 closed

[2019-08-06 01:46] yanweiguo opened #5068 "Add request logs for probe/health check requests in queue-proxy"
## In what area(s)?

## Describe the feature
We have request logs for real customer requests in queue-proxy. Similar logs should be applied to probe and health check requests which reaching the queue-proxy with a way to distinguish them from customer requests. For example, we should provide a useful string for `user-agent` to understand what these are, e.g. "knative-activator-healthcheck", instead

[2019-08-06 05:04] savitaashture commented on #4781
/assign

[2019-08-06 15:42] #4117 closed

[2019-08-06 16:24] chaodaiG opened #5086 "serving 0.8 release failed publishing"
The first run of dot_release for serving 0.8 release branch failed. All tests passed, but failed pu
blishing:
[code]

The job is here: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-auto-release/1158748345653530625

[2019-08-06 18:30] #4700 closed

[2019-08-06 19:46] shashwathi commented on #4083
/assign @andrew-su
/assign @shashwathi

[2019-08-06 20:27] k4leung4 commented on #5062
as bad as it is, can we use environment variables?

[2019-08-06 20:29] jonjohnsonjr opened #5076 "Consistent and Correct Conditions"
Not all of our conditions follow [our condition conventions](https://github.com/knative/serving/blob/master/docs/spec/errors.md#conditions).

We also don't propagate conditions in a consistent (or even correct) way: https://github.com/knative/serving/issues/4937

I'm opening this to track some work around wrangling our conditions.

1. Resources that reconcile child resources should have a conditio

[2019-08-06 20:48] beemarie commented on #4871
Looking into this -- @objectiser, I just want to confirm that you have tracing disabled when you see the missing traces?  I was able to recreate your same behavior when tracing is disabled, but when tracing is enabled we appear to get the full trace.

One thing I noticed is that if we remove the `ochttp.Transport` wrapper from the transport, then the traces behave correctly when tracing is disable

[2019-08-06 21:46] yanweiguo commented on #4773
The probe cache is back.

Currently I don't see action items left. Closing this.

[2019-08-06 21:46] #4773 closed

[2019-08-07 03:38] tatsuhiro-t opened #5082 "Support Vault PKI issuer"
## In what area(s)?

/area networking

## Describe the feature

It would be nice to support Vault PKI issuer.  cert-manager itself has a capability to use Vault PKI (https://docs.cert-manager.io/en/latest/tasks/issuers/setup-vault.html#).
But it looks like knative only supports ACME protocol.
Adding Vault PKI issuer is nice if users do not want to use ACME and self-signed ones, has already Vault P

[2019-08-07 06:27] markusthoemmes commented on #5076
Thanks for the writeup @jonjohnsonjr. That makes a lot of sense to me!

[2019-08-07 06:32] markusthoemmes commented on #4871
@beemarie good point. We should probably only use the ochhttp.Transport conditionally if tracing is enabled. I think you've done that in your recent queue-proxy change, the activator however unconditionally uses it.

https://github.com/knative/serving/blob/c6860bf7c0663ddbf71d8fa3b48cbfbd9b54c205/pkg/activator/handler/handler.go#L87-L89

https://github.com/knative/serving/blob/c6860bf7c0663ddbf71d

[2019-08-07 07:38] objectiser commented on #4871
@beemarie I didn't specifically change any configuration, so I had whatever the default is. However not clear what "tracing disabled" means in this case, as clearly tracing is being generated?

[2019-08-07 08:21] markusthoemmes commented on #4871
We have "internal" tracing as well, where we get more fine-grained traces to see where time is spent etc. That's turned off by default, however the activator still unconditionally instruments the HTTP transport with tracing stuff. Maybe that somehow breaks Istio's generation of traces or something, if we don't report these traces ourselves?

[2019-08-07 08:37] objectiser commented on #4871
It seems like the trace context is not being propagated if this fine grained tracing is turned off. So if the two can be separated, so debug spans only created when enabled, but trace context always propagated, then that should be fine.

[2019-08-07 12:02] knative-test-reporter-robot opened #5084 "[flaky] test/e2e.TestDestroyPodTimely"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDestroyPodTimely
* **Repository name**: serving

[2019-08-07 14:40] markusthoemmes commented on #4390
@StrongMonkey If you're still interested in getting this, can you please take this into the Autoscaling WG?

[2019-08-07 16:24] sayanh commented on #2524
@yanweiguo @markusthoemmes will add tests right away

[2019-08-07 16:52] #4837 closed

[2019-08-07 17:00] adrcunha commented on #5086
Looks like the yaml generator script was updated with individual outputs and the negative filter was missed in the end. The reason for the grep is here:

https://github.com/knative/serving/blob/d38697e7c16a95ec11d56e00d403e40ee179f306/hack/generate-yamls.sh#L24

[2019-08-07 17:20] StrongMonkey commented on #4390
@markusthoemmes sure, will bring this into autoscaling WG.

[2019-08-07 18:14] #5086 closed

[2019-08-07 21:41] #3910 closed

[2019-08-07 22:29] DavidLangworthy commented on #1816
FWIW, I tried the PodNodeSelector along with the PodTolerationRestriction which is also needed.  There was some interaction with Istio that prevented KNative from deploying properly.  So unless someone else has gotten this to work, then this out of the box solution will not work.

I'm going to take another pass with an Admission Controller webhook.

[2019-08-07 22:46] jonjohnsonjr commented on #5076
@JRBANCEL pointed out some more inconsistencies in our lifecycle Mark* methods:

[code]

The naming is inconsistent: NotReady means Unknown, other times NotReady means failed. It's not clear from the method name what state you're actually setting.

For simple methods that just set the state I'd propose following this pattern, since it's most prevalent:

MarkFooReady -> Ready=True
MarkFooNotReady -

[2019-08-07 23:25] jonjohnsonjr commented on #4549
This got merged into 1.14, so we can drop it earlier :tada:

[2019-08-07 23:58] ZhiminXiang opened #5092 "Run all E2E tests against the environment in which reconcileExternalGateway is turned on"
## In what area(s)?

/area networking
/area test-and-release

## Describe the feature
We have a feature flag (`reconcileExternalGateway`)[https://github.com/knative/serving/blob/bdde80f62580c30ae0179adaa145be093df5e2ef/config/config-istio.yaml#L65] which controls the behavior of manipulating Gateway. This feature flag has a big impact on the data plane.

Currently this feature flag is turned off b

[2019-08-08 05:02] mattmoor commented on #4610
Not failing in the presence of malformed configmaps seems like useful resilience, but I think I'd rather see us solve the first-order problem first, which is getting better synchronous validation of our configmaps.

I forget who I was talking to about this recently, but the tl;dr was: Let's extend out webhook to validate our configmaps.

Today the key configuration our webhook takes is this map he

[2019-08-08 05:23] nimakaviani commented on #4610
Thanks for the detailed plan. sounds great. I will start working on it.

[2019-08-08 05:23] nimakaviani commented on #4610
/assign

[2019-08-08 05:52] vagababov commented on #4610
I think with me.
But it's much more palatable when it's synchronously accepted or rejected

On Wednesday, August 7, 2019, Nima Kaviani <notifications@github.com> wrote:

[2019-08-08 08:17] rhuss opened #5094 "Invalid revision names are accepted in the revision template"
## In what area(s)?

/area API

## What version of Knative?

0.7.1

## Expected Behavior

No invalid revision name should be accepted in the revision template of a service.

## Actual Behavior

When creating a service and then `kubctl edit` this to change the revision name to something like `hello-@latest`, then this gets accepted by the admission controller without error. However, no new revision

[2019-08-08 08:35] savitaashture commented on #5094
/assign

[2019-08-08 12:14] jamesla opened #5095 "virtual service not routing on https but works fine on http and via knative route"
When I deploy the following manifest in GCP:

[code]

and then:

[code]

but if I:

[code]

however:

[code]

This doesn't make any sense to me. How do I get https://james.test.co/james to work?

I seemingly have followed the knative on gcp docs exactly and I just can't figure out how to make this work. I'm have also been trawling through stackdriver trying to find a relevant error message but str

[2019-08-08 13:22] #2524 closed

[2019-08-08 20:01] rgregg opened #5103 "Specifying a secret that doesn't exist results in Ready = Unknown revision"
## In what area(s)?

/area API

## What version of Knative?

Knative 0.6

## Actual Behavior

I created a service and made a mistake in typing the name of the secret I wanted to mount to a volume in my service. My service yaml looks like this:

[code]

However, this creates a revision in the Unknown state that doesn't appear to resolve. Here's the status of the revision. There's no error or useful

[2019-08-09 07:38] cleverguy25 commented on #3886
We are facing this issue as well, for async background jobs.  I wonder why we have not considered a Busy probe just like a readiness probe, where not busy pods are prioritized for termination?

[2019-08-09 07:49] markusthoemmes commented on #3886
@cleverguy25 can you elaborate on how you'd envision that busyprobe to look like?

[2019-08-09 08:49] edvinerikson commented on #5095
Fixing the port to `80` fixed this for me.
https://github.com/knative/docs/pull/1671

[2019-08-09 12:02] #4854 closed

[2019-08-09 13:57] Morriz opened #5111 "duplicate crds lead to errors"
your instructions fail when using create instead of apply.

`kubectl --selector knative.dev/crd-install=true create -f $installFolderOrRemoteManifest`

We wrap your sources and use helm to install, which fails as it does not do "update --install", but tries to do a "create" the first time.

I am using 0.7 btw

[2019-08-09 14:00] Morriz commented on #5111
Why don't you guys publish the crds seperately like a lot of projects do? Or create a proper helm file?

[2019-08-09 14:05] Morriz commented on #5111
I found only `images.caching.internal.knative.dev` to be a duplicate btw

[2019-08-09 18:02] dgerd opened #5117 "Annotation validation missing "serving.knative.dev/forceUpgrade""
## In what area(s)?

/area API

## What version of Knative?

d38697e7

## Expected Behavior

v1alpha1 services that are force upgraded and have the `forceUpgrade` annotation progress without issue.

## Actual Behavior

In annotation validation at HEAD we introduced a bug which prevents force upgraded (i.e. migrated v1alpha1 services) from being able to progress. We missed that annotation in our li

[2019-08-09 18:04] shashwathi commented on #5117
/assign

[2019-08-09 18:04] shashwathi commented on #5117
/assign @andrew-su

[2019-08-09 18:06] shashwathi commented on #5117
@dgerd : I think the current approach might not be scalable as more annotations or labels might be whitelisted in future. How about using a configmap to keep track of whitelisted annotation/labels?
The change in configmap might be easier than code. WDYT?

cc @andrew-su

[2019-08-10 02:29] jamesla commented on #5095
that fixed it, thanks!

[2019-08-10 02:29] #5095 closed

[2019-08-10 12:02] knative-test-reporter-robot opened #5121 "[flaky] test/e2e.TestFastScaleToZero"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestFastScaleToZero
* **Repository name**: serving

[2019-08-10 12:02] #5084 closed

[2019-08-11 12:02] knative-test-reporter-robot opened #5124 "[flaky] test/conformance/api/v1alpha1.TestReleaseService"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestReleaseService
* **Repository name**: serving

[2019-08-11 18:28] dimberman commented on #3826
@matthew1534 @dgerd Hi everyone,

I just want to sanity check (so I apologize if someone has mentioned this before).

If I have a knative timeout set to 10 minutes and at the 10 minute mark there is still a running process, does it kill that process or simply stop accepting new processes and wait for a graceful shutdown? The former scares me as it would potentially cause dropped connections.

Than

[2019-08-12 09:17] johnjiangxt opened #5126 "service deployed failed with image in local private registry"
## In what area(s)?
app service deployment

## What version of Knative?
v0.7.0

## Expected Behavior

app service deployed successfully

## Actual Behavior

deploy a service with image in localhost registry failed.

## Steps to Reproduce the Problem

1. setup local docker registry.
2. docker login localhost
3. push helloworld2 image to local private registry
4. write service.yaml
apiVersion: servi

[2019-08-12 10:12] markusthoemmes commented on #5126
@johnjiangxt welcome to the project! Please include some more debugging data, for example the output of

[code]

[2019-08-12 10:26] rhuss opened #5127 "Malformed ConfigMap volumes are not detected during service creation"
## In what area(s)?

/area API

## What version of Knative?

0.7.1

## Expected Behavior

When creating a service with a malformed ConfigMap volume, then this should ideally be detected during service creation (via admission controller), but a least show up in a status field in Service/Configuration/Revision.

## Actual Behavior

Currently, when using a bogus ConfigMap volume with a missing path s

[2019-08-12 11:03] markusthoemmes commented on #5127
/assign

We're indeed missing a bit of validation here.

[2019-08-12 12:15] nak3 opened #5129 "Disabling httpProtocol failed to make routes ready due to a failure of Igress status prober"
## In what area(s)?

/area networking

## What version of Knative?

v0.8.0-40-g59f56a3d

#### Steps to reproduce

#### 1. Set httpProtocol to `Disabled` and Enable `autoTLS`.

[code]

(Perhaps enabling `reconcileExternalGateway` could produce this issue as well.)

#### 2. Deploy knative service

[code]

## Actual result

Route and Ingress does not become Ready, due to `Waiting for VirtualService t

[2019-08-12 16:22] #5127 closed

[2019-08-12 16:22] yu2003w commented on #4980
Should average resource usage be captured during e2e tests?
Or should all resource usage be recorded with interval such as 2 seconds?

[2019-08-12 17:16] tcnghia opened #5135 "ci-knative-serving-istio-1.2-mesh needs deflaking"
## In what area(s)?

/area networking
/area test-and-release
/assign @tcnghia

## What version of Knative?

HEAD

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

[2019-08-12 17:36] tcnghia commented on #5135
/assign @yu2003w

[2019-08-12 17:37] jonjohnsonjr commented on #5126
You're probably running into issues with tag resolution because our controller's localhost is different from the kubelet's localhost: https://knative.dev/docs/serving/tag-resolution/

Try adding localhost to `registriesSkippingTagResolving`: https://knative.dev/docs/serving/tag-resolution/#skipping-tag-resolution

[2019-08-12 18:31] dgerd commented on #5117
Sorry for the delay on this. A configmap doesn't feel like quite the right solution as we don't override configmaps on upgrade so that users can keep settings across versions, but since we don't override them we cannot easily update them on upgrade.

I do like what you have done in #5137 in making this a map.

[2019-08-12 18:43] #5117 closed

[2019-08-12 18:47] nimakaviani commented on #4992
inspired by this issue and having to debug my own knative services I wrote Knative-Inspect:

Github Repo: https://github.com/nimakaviani/knative-inspect

very early version with rough edges, but would love to hear if people find it useful or if it can be improved in any way.

[2019-08-13 00:59] JRBANCEL commented on #5129
/assign

[2019-08-13 01:37] JRBANCEL commented on #5129
In this case, the Gateway only listens on 443, so probing on port 80 will always fail.
We will have to probe on 443 in this case (and most likely have to ignore TLS host errors because the probe host won't be part of the TLS cert hosts).

I'll have a fix tomorrow.

[2019-08-13 01:42] nak3 commented on #5129
Yes, agree. When httpProtocol is disabled, the prber should probe 443 with skipping TLS verify. Thank you for working on it.

[2019-08-13 04:06] #2313 closed

[2019-08-13 06:05] markusthoemmes commented on #4992
Woah, I love the tree view @nimakaviani! The diff view on the configMap looks brilliant as well. Great job <3

[2019-08-13 06:07] markusthoemmes commented on #1094
FWIW: We can do this now mostly. Some edges might still be rough though.

[2019-08-13 12:02] knative-test-reporter-robot opened #5143 "[flaky] pkg/apis/autoscaling/v1alpha1.TestActiveFor"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/apis/autoscaling/v1alpha1.TestActiveFor
* **Repository name**: serving

[2019-08-13 14:17] duglin commented on #4997
would it be possible to get this added to the v1.0 milestone?

[2019-08-13 14:59] yu2003w commented on #5135
/assign @yu2003w

[2019-08-13 16:36] mdemirhan opened #5146 "Queue proxy returns 502 when user container panics"
## Expected Behavior
Get a 503 with detailed error message.

## Actual Behavior
Got an empty 502.

## Steps to Reproduce the Problem

1. Create a revision and have it panic when responding to the request.

[2019-08-13 16:49] nimakaviani commented on #4992
thanks @markusthoemmes!

[2019-08-13 16:50] markusthoemmes commented on #5146
Why'd you expect a 503 in that case though?

Per spec:

   is currently unable to handle the request due to a temporary overload
   or scheduled maintenance, which will likely be alleviated after some
   delay.

(https://tools.ietf.org/html/rfc7231#section-6.6.4)

A 502 feels just fine to me in that case 🤔

[2019-08-13 17:06] mdemirhan commented on #5146
Two reasons:
- Envoy returns 503 in such cases and some of our code paths will end up returning 502 and some 503.
- Per spec below, the title of a 502 error is bad gateway, which is quite misleading. The description seems like a good fit though for some reason :)

cc @tcnghia
[code]

[2019-08-13 17:16] mattmoor commented on #4992
That's super cool.  I wonder if we should start to at least link, but potentially gather projects like this and @n3wscott's [graph](http://graph.default.kwitter.io/) and other tools in a place where folks can more readily discover them?

[2019-08-13 17:21] jonjohnsonjr commented on #4992
I often see this kind of stuff collected into an [awesome list](https://github.com/sindresorhus/awesome/blob/master/awesome.md). Perhaps knative/awesome?

[2019-08-13 21:09] #5024 closed

[2019-08-13 21:57] tcnghia commented on #5146
I think status code aside this needs to surface a better error message other than just empty 502.

[2019-08-13 22:01] tcnghia commented on #5146
Empty 502s seem to stem from connection issue to user-container.  (When we have an HTTP response we often pass it through.)

Last time 502 in activator was due to DNS overload in kube-dns, which is also similar.  This time seems to be a broken TCP connection.

[2019-08-13 22:53] zsxking commented on #4897
/assign

[2019-08-13 23:13] JRBANCEL commented on #5129
The fix is a lot more involved than what I suggested because as you can see in Gateway description you provided:
[code]

hosts are defined inside the Gateway. Therefore, the probe rule will be ignored because it doesn't match any of the hosts in the Gateway.

The probe needs to use the host(s) defined in the Gateway. It is a lot more complicated to do that because then probing goes through the reg

[2019-08-13 23:39] ZhiminXiang opened #5148 "Need an E2E test for the case when HTTPS server is enabled and HTTP server is disabled"
## In what area(s)?

 /area networking
 /area test-and-release

## Describe the feature
Currently we don't have an E2E test for the case where the HTTPS server of Gateway is configured while HTTP server of Gateway is disabled or configured to `redirect` HTTP traffic to HTTPS.

We got several related issues for this use case:
https://github.com/knative/serving/issues/5129
https://github.com/knative

[2019-08-14 01:07] nak3 commented on #4066
@ZhiminXiang Thank you for this. I strongly agree that we should have Auto TLS e2e.

I think that it is would be alright to use [selfsigned Issuer](https://docs.cert-manager.io/en/latest/tasks/issuers/setup-selfsigned.html) for the test. I am planning to file the PR after the CA issuer's https://github.com/knative/serving/pull/5145 was accepted). (I hope that it was accepted...)

[2019-08-14 04:45] mattmoor commented on #4997
Does @greghaynes (or someone else) plan to fix this in the next 2-3 weeks?  Is there a proposed solution that someone wants to discuss tomorrow?

Generally, I'd love to see folks looking into this space more, but our position on latency goals for v1 has been "measure where we are and don't regress".  We did this because we will be chasing latency effectively forever, and the same applies to cold s

[2019-08-14 07:47] #5129 closed

[2019-08-14 12:32] pappnase99 commented on #4176
I did apply the following command, according to the documentation:

`kubectl apply --selector knative.dev/crd-install=true --filename https://github.com/knative/serving/releases/download/v0.8.0/serving.yaml --filename https://github.com/knative/eventing/releases/download/v0.8.0/eventing.yaml --filename https://github.com/knative/serving/releases/download/v0.8.0/monitoring.yaml`

And i got the same

[2019-08-14 13:10] romachalm opened #5152 "Loss of ingress after too long DNS name and Gateway restart"
## In what area(s)?

/area networking
/area API

## What version of Knative?

## Expected Behavior

I have a Knative cluster, running over GKE (not cloudrun),  with auto TLS by cert-manager.
I had a ksvc created with too long a name. The auto generated certificate was created for too long a DNS (>64bytes).

I would expect that this would have returned an error, and not deploy the Ksvc, to prevent

[2019-08-14 13:45] Yisaer opened #5153 "How to make Pod related old revision be auto deleted immediately?"
## In what area(s)?

## Ask your question here:
Hi，I'm trying knative 0.8 and I found that each time I update my ksvc, the older revision Pods will still be existed. I noticed that it will be almost one day these older revision pod will be deleted. How to make these older revision Pod be auto deleted when I update ksvc?

I've set 'enable-to-zero' to false cuz I don't want the latest revision pod s

[2019-08-14 14:13] mattmoor commented on #4610
Cool, thanks @nimakaviani.  LMK if you hit any problems I can help with.

[2019-08-14 16:10] greghaynes commented on #4997
Once the new activator throttler is complete this shouldn't be too difficult to implement. Currently, it falls back to clusterIP once it is available in order to minimize behavior changes. Changing this logic to not fall back should do the trick but theres some potential performance implications as now we will be relying on our activator LB code at a larger scale rather than k8s clusterIP (iptable

[2019-08-14 17:08] jonjohnsonjr commented on #5153
Related to https://github.com/knative/serving/issues/4183

[2019-08-14 17:12] nimakaviani commented on #4610
thanks @mattmoor will do. I started the implementation earlier this week. should be able to PR a first attempt soonish.

A few things that I want to double check with you while working on it:

- I am using the same webhook deployment that we already register in the `system.Namespace()`, adding a new handler for ConfigMaps (plus the necessary scaffolding). I assume this is what you had in mind too,

[2019-08-14 17:13] JRBANCEL commented on #5148
Should we run all the tests with different settings?
- HTTP
- HTTP & HTTPS
- No HTTP & HTTPS
It would be the same tests, but `config-network` would be different.

[2019-08-14 17:38] ZhiminXiang commented on #5148
@JRBANCEL Good point. I think we should do that.

[2019-08-14 18:42] taragu commented on #5148
I'm interested. Can I work on this issue?

[2019-08-14 18:52] ZhiminXiang commented on #5148
Sure. thanks for picking it up. @taragu

[2019-08-14 18:53] JRBANCEL commented on #5148
Yes, as I said in my previous comment, ideally we would like to be able to run the same E2E tests with different settings (HTTP, no HTTP, etc...), the same way we have different E2E legs today (pull-knative-serving-istio-1.1-mesh,  pull-knative-serving-istio-1.1-no-mesh, etc...).

[2019-08-14 20:13] JRBANCEL opened #5156 "Extend VirtualService/Gateway probing to HTTPS"
## In what area(s)?
/area networking

## Describe the feature
#4734 introduces VirtualService/Gateway probing. The current implementation doesn't work when HTTP is disabled because it assumes that the Envoy pods can be probed directly over HTTP. In practice, `knative-ingress-gateway` is assumed to contain:

[code]

meaning Envoy will accept HTTP traffic on port 80 for any host. Therefore, we can p

[2019-08-14 20:14] JRBANCEL commented on #5156
/assign

[2019-08-14 21:28] jonjohnsonjr commented on #3593
Confirmed this was fixed by tainting all my nodes:

    $ for node in $(kubectl get nodes -oname); do kubectl taint nodes $node key=value:NoSchedule; done

When trying to scale up a revision, I see this in the ksvc status:
[code]
:tada:

To untaint the nodes:

    $ for node in $(kubectl get nodes -oname); do kubectl taint nodes $node key:NoSchedule-; done

/close

[2019-08-14 21:29] #3593 closed

[2019-08-14 21:59] jonjohnsonjr commented on #496
Let's close this as a duplicate of https://github.com/knative/serving/issues/4416.

The quota problems are covered by other PRs. The deployment creation failure falls under surfacing reconciliation errors, as in https://github.com/knative/serving/issues/5076, which is a lot more widespread problem, and I think this issue conflates the modes.

/close

[2019-08-14 21:59] #496 closed

[2019-08-15 00:32] ZhiminXiang commented on #4066
@nak3 Thanks for your suggestion. It sounds good to me to start with self-signed issuer as it would be very beneficial to test the logic of the integration btw cert-manager and Knative!

In addition, we will probably still need LetsEncrypt-staging for testing ACME issuer especially for the http01 challenge case (https://github.com/knative/serving/issues/4100) in which we will have the logic to int

[2019-08-15 05:33] vagababov opened #5161 "Remove DefaultMaxRevisionContainerConcurrency/MaxRevisionContainerConcurrency"
## In what area(s)?
/area autoscale

# Issue

We have infinity breaker now and no longer need to have this artificial constant defined and enforced, but rather should be a setting in the autoscale CM.

/assign @vagababov

[2019-08-15 12:02] #5143 closed

[2019-08-15 13:58] ruzickap opened #5163 "Service hangs in "Waiting for VirtualService to be ready""
## In what area(s)?
/area networking

## What version of Knative?

0.8.0

(Istio: 1.2.4)

## Steps to Reproduce the Problem

This issue looks very similar to #5129, but in this case I'm not using "https".

* Set httpProtocol to Enabled (like mentioned in #5129):

[code]

* Start the "Service":

[code]

## Actual result

Service hanged:

[code]

[code]

This part is different form #5129, because I

[2019-08-15 14:08] yu2003w commented on #5135
Found following errors in failed tests case
[code]

[2019-08-15 14:52] nak3 opened #5165 "RFE: AutoTLS should support selectable Issuer"
## In what area(s)?

/area networking
/kind proposal

## Describe the feature

Although we can use multiple domain by selector as this docs describes in
https://knative.dev/docs/serving/using-a-custom-domain/#apply-from-a-file,
we can use only one ClusterIssuer as well as solverConfig for autoTLS. We
would like to use different ClusterIssuer for each domain.

Here is an example confing (I am assum

[2019-08-15 14:53] nak3 commented on #5165
If this makes sense, I would like to work on it.

[2019-08-15 17:21] tcnghia commented on #5163
@ruzickap what happens when you try to access your Service? (`curl $INGRESS_IP -H Host=<your-service>`)

I suspect that this is due to Istio pilot not running.  Can you please show the status of the pods in `istio-system`?  (`kubectl get pods -o wide -n istio-system`) ?

[2019-08-15 18:07] JRBANCEL commented on #5163
If Pilot is running, try this:

First, what does the Virtual Service look like?
`kubectl get virtualservices.networking.istio.io helloworld-go -o yaml`

Second, what is the actual Envoy proxy configuration?
`istioctl proxy-config routes $(kubectl get pod --selector app=istio-ingressgateway --output jsonpath='{.items[0].metadata.name}' -n istio-system) -n istio-system --name http.80 -o json`

[2019-08-15 19:23] ruzickap commented on #5163
The `curl` command will not work, because I didn't set up a custom domain (I expect it should at least start without it). I tried to keep the "Knative" installation defaults as much as possible for now. (but I can configure the DNS+custom domain properly if it is required)

Istio should be running fine:

[code]

[code]

Here are the details about Virtual Services:

[code]

[code]

Envoy proxy conf

[2019-08-15 20:02] JRBANCEL commented on #5163
The Envoy config is empty. Istio applied an empty configuration:
[code]

We can figure out why with verbose logs.

Can you re-deploy Pilot with `Debug` logging: see https://istio.io/docs/reference/commands/pilot-discovery/ : `https://istio.io/docs/reference/commands/pilot-discovery/`.

[2019-08-15 20:48] tcnghia commented on #5163
/cc @trshafer

[2019-08-15 20:50] ruzickap commented on #5163
Ok...

I changed the log level:

[code]

Then I removed the `helloworld-go` service to have clean environment to reproduce it.
After I provisioned the service again I captured this debug log:

[code]

The `istioctl proxy-config routes` give me the same output like before.

[2019-08-15 20:58] grantr opened #5168 "Service with 57 char name never goes ready due to scaleTargetRef.name >63 chars"
## In what area(s)?

/area API
/good-first-issue

## What version of Knative?
v0.6.0

## Expected Behavior

A Service with a name that passes validation will eventually become Ready.

## Actual Behavior

I have a service named `cre-cre-chan-ba48c265-bf97-11e9-9c59-42010a8001a9-publish` (57 characters). The Service and Configuration (with the same name) pass validation.

The Revision is named `cre-

[2019-08-15 21:03] grantr commented on #5168
/remove-good-first-issue

After documenting the whole thing, I realize it's probably more complex than a good first issue should be.

[2019-08-15 21:34] grantr commented on #5168
This appears to be working as expected in 0.8.

[2019-08-15 21:41] mattmoor commented on #5168
@vagababov fixed this in 0.8.  Not sure how cleanly this would backport, do you need one?

[2019-08-15 21:54] grantr commented on #5168
@mattmoor can you link to the PR that fixed this? Backport wouldn't help me, so
/close

[2019-08-15 21:54] #5168 closed

[2019-08-15 22:12] JRBANCEL commented on #5163
What is `istio-system/istio-autogenerated-k8s-ingress`?

Looking at the logs, the somewhat formatted dump of [MergedGateway](https://github.com/istio/istio/blob/100a569bbe220dac1447f75198c2c9dcaddadca0/pilot/pkg/model/gateway.go#L32):

[code]
Let's go through the code starting from that dump: https://github.com/istio/istio/blob/master/pilot/pkg/networking/core/v1alpha3/gateway.go#L227

`routeName`

[2019-08-15 22:20] vagababov commented on #5168
Note, that VS names might still not be shipshape.

[2019-08-16 00:20] trshafer opened #5172 "config-istio gateways should support namespaces"
## In what area(s)?

/area networking

## What version of Knative?
* 0.7.0
* 0.8.0

## Expected Behavior

It would be helpful to support custom namespaces in the config-istio configmap.

[code]

## Actual Behavior

Only gateways in `knative-serving` are supported.

## Steps to Reproduce the Problem

Create a gateway that acts as an ingress-gateway but not on the knative-serving namespace:

[code]

[2019-08-16 00:23] tcnghia commented on #5163
Thanks @JRBANCEL .

@ruzickap So the issues is that when there are protocol mismatch between 2 Gateways, Istio will choose randomly one of the Gateway.   In this case it choose `istio-system/istio-autogenerated-k8s-ingress`.

A few ways to solve this:
- Edit `istio-system/istio-autogenerated-k8s-ingress` to use HTTP instead of HTTP2.  Alternative if you don't need it you can delete.
- Edit `knativ

[2019-08-16 03:50] sirius1024 opened #5176 "How to setting up custom domain without LoadBalance?"
## In what area(s)?
/area networking
/area API

## What version of Knative?
0.8.0

## Expected Behavior
I have deployed kubernetes/istio/knative with minikube on my Mac. I followed the hello-go section to deploy a knative service then I run
[code]
Then I set local DNS(host) with https://knative.dev/docs/serving/using-a-custom-domain/#local-dns-setup

I cannot access knative service with
- hellowor

[2019-08-16 04:48] mattmoor opened #5180 "Bump minimum version to 1.14.x"
## In what area(s)?

/area API

## Describe the feature

This is actually a change to knative/pkg, but we will also want to do things like unsplit the release yamls etc.

/assign

[2019-08-16 04:49] mattmoor commented on #5180
cc @pmorie

[2019-08-16 09:13] ruzickap commented on #5163
Thanks for a long explanation guys. Your notes helped a lot and I did few more tests with Istio and Knative.

As @JRBANCEL mentioned I'm using `--set global.k8sIngress.enabled=true` and `--set global.k8sIngress.enableHttps=true` which creates `istio-autogenerated-k8s-ingress` gateway like it's written here: [https://istio.io/docs/tasks/traffic-management/ingress/ingress-certmgr/](https://istio.io/

[2019-08-16 14:47] tcnghia commented on #5163
@ruzickap I believe you can still have multiple Gateways, as long as on the same port you set the same protocol.  So you didn't have to remove the auto-generated gateway, changing the protocol for 80 to HTTP would have fixed that.  Or change to HTTP2 for Knative Gateway alternatively.

Can you give that a try with your one Gateway per namespace test?  Btw, I think the problem here probably wasn't

[2019-08-16 15:13] #4833 closed

[2019-08-16 17:29] munjal-patel opened #5181 "Need to recreate knative-ingress-gateway every few minutes"
## In what area(s)?
/area networking

## What version of Knative?
0.8.x

## Expected Behavior
Once I configure my cluster with `knative-ingress-gateway` it should remain as is and I should not have to keep it reconfiguring every few minutes!

## Actual Behavior
I configured Static IP, Custom Domain and TLS on my cluster by following Knative docs.
Everything works fine for a while. HTTP traffic get

[2019-08-16 18:15] JRBANCEL commented on #5181
It looks like the Gateway is being reconciled, resulting in your changes being overwritten.
This can happen if you have either:
* [enabled AutoTLS](https://github.com/knative/serving/blob/master/config/config-network.yaml#L128)
* [enabled Gateway reconciliation](https://github.com/knative/serving/blob/master/config/config-istio.yaml#L65)

Can you confirm this is the case?

[2019-08-16 18:16] munjal-patel commented on #5181
@JRBANCEL yes, I have enabled `AutoTLS`.

[2019-08-16 18:17] JRBANCEL commented on #5176
What is the content of your `/etc/hosts` file?

[2019-08-16 18:30] tcnghia commented on #5181
/assign @ZhiminXiang

[2019-08-16 18:36] JRBANCEL commented on #5181
You manually configured TLS, right?
Do you need AutoTLS? If not, disable AutoTLS.

Today, you can't have both at the same time because AutoTLS will edit (overwrite) the Gateway.
We are working on enabling this.

[2019-08-16 18:41] munjal-patel commented on #5181
@JRBANCEL I used Knative's docs to configure `Let's Encrypt` SSL with `Google Cloud DNS`. Isn't `AutoTLS` required to have those certs re-issued every 3 months?

[2019-08-16 18:44] JRBANCEL commented on #5181
Ok. I thought you configured TLS manually. My bad.
You are using AutoTLS, therefore Knative is going to modify the Gateway.

Can you provide a dump of the Gateway, when HTTPS works and when it doesn't work?
`kubectl get gateway -n knative-serving knative-ingress-gateway -o yaml`

[2019-08-16 19:09] munjal-patel commented on #5181
Sure.

Here is the dump when it is not working:
[code]

And when it is working:
[code]

[2019-08-16 21:54] JRBANCEL commented on #5181
The Gateway you apply looks to be correctly configured and therefore it works as expected.
As I explained earlier, the issue is that you are both manually setting up TLS and also enabling AutoTLS which is going to overwrite the Gateway. And AutoTLS seems to be failing somewhere.

@ZhiminXiang, can you help root cause what's the issue with AutoTLS?

[2019-08-16 23:46] trshafer opened #5189 "Support custom GOOGLE_APPLICATION_CREDENTIALS"
## In what area(s)?

/area monitoring

## Describe the feature

When running a knative service, I would like to be able to provide custom stackdriver credentials. This could be populated using the env var `GOOGLE_APPLICATION_CREDENTIALS` which will be a google service account. This format is supported in the current oauth provider: https://github.com/knative/serving/blob/32dcc156eca100abac233b6879

[2019-08-17 04:17] nak3 commented on #5181
Sorry for interrupt this thread. I agree @JRBANCEL, both manual&autoTLS would cause the issue.

@munjal-patel let me confirm one thing, When the problem happened, the redirection from HTTP to HTTPS stopped working or direct HTTPS access also stopped working? In the former case, can you please confirm that `httpProtocol: "Redirected"` is configured in config-network?

[code]

From your first descri

[2019-08-17 04:23] munjal-patel commented on #5181
@nak3 I manually configured `httpsRedirect: true` as I don't want any non-https traffic coming into the cluster.

[2019-08-17 04:31] nak3 commented on #5181
@munjal-patel Then, you should configure it in `config-network`configmap as:
[code]
You can also refer to [the docs](https://knative.dev/docs/serving/using-auto-tls/) as well. After this settings, `httpsRedirect: true` is automatically configured in gateway and it will be persist.

[2019-08-17 04:46] munjal-patel commented on #5181
@nak3 if I remember correctly I did try that option a few days ago and was running into some other complications. However, I will give it a try again. If I set `httpProtocol: "Redirected"` I don't have to make any changes in my gateway and can enable `AutoTLS` once again tight?

[2019-08-17 04:50] munjal-patel commented on #5181
@nak3 I just enabled `AutoTLS` again and configured  `httpProtocol: "Redirected"` and now I can't access my service on https anymore. http does properly redirect to https as expected though.

[2019-08-17 05:03] ruzickap commented on #5163
You are right.

If I use the same protocol (`HTTP`) for all the gateways listening on port `80` everything is working fine with multiple gateways.

The lesson learned - never mix protocol types (HTTP/HTTP2) on the same port in the gateway settings.

Good luck with redesigning the model of multiple gateways :-)

Thank you for your help...

[2019-08-17 05:26] nak3 commented on #5181
Thank you for sharing. As `httpProtocol: "Redirected"` just adds `httpsRedirect: true` into gateway, it should not make any complications. So, the AutoTLS config is not working properly.

For further debugging of AutoTLS, investigating logs `kubectl logs -n knative-serving  networking-istio-xxxx` and the output of `curl -vvvv -k https://DOMAIN` wold be the first step, I think.

[2019-08-17 05:50] ZhiminXiang commented on #5181
@munjal-patel AutoTLS will not only provide you TLS certificates but also configure/reconcile your Gateway to enable TLS termination with the certs.

Seems like in your case auto tls does not work properly. Could you please run below command and share the result?
[code]
In addition, looks like you want to get certificate for  domain `authentication.security.staging.company.com`. Just want to confi

[2019-08-17 06:15] munjal-patel commented on #5181
@nak3 I have attached logs for `networking-istio-6d86d69644-69cql`.
[networking-istio-6d86d69644-69cql.log](https://github.com/knative/serving/files/3511688/networking-istio-6d86d69644-69cql.log)

Here is the log from `curl -vvvv`:
[code]

@ZhiminXiang here the output of all certificates:
[code]
Yes, I have followed all the steps as per Knative's docs.

[2019-08-17 06:50] nak3 commented on #5181
Oops... I'm sorry, I understood what was the "complications". 0.8.x has an issue  https://github.com/knative/serving/issues/5129. Your log produces `"Probing of 10.0.0.16 failed: ready: false, error: <nil>"`. The probing fails with `error: <nil>` happens when "Redirected" is enabled.
The issue was fixed in https://github.com/knative/serving/pull/5149 (a few days ago), so you can deploy serving fro

[2019-08-17 07:01] nak3 commented on #5181
Sorry https://github.com/knative/serving/pull/5149 did not fix the issue for Redirect option (it just fix for Disabled option). I will file the issue ticket.

[2019-08-17 07:12] munjal-patel commented on #5181
Yes, that's exactly what I ran into and then stopped using `Redirected`.

[2019-08-17 07:16] nak3 opened #5192 "httpProtocol Redirected fails to make routes ready due to a failure of Igress status prober"
## In what area(s)?

/area networking

## What version of Knative?

v0.8.0-80-gfd43ab27 (https://github.com/knative/serving/pull/5149 is included.)

## Steps to Reproduce the Problem

This is a same issue with https://github.com/knative/serving/issues/5129 but it happens with `httpProtocol: Redirected`. So, please use following settings.

[code]

## Actual Behavior

[code]

## Additional note

- T

[2019-08-17 07:17] nak3 commented on #5192
cc @munjal-patel  @JRBANCEL @ZhiminXiang

[2019-08-17 07:48] #5163 closed

[2019-08-17 18:06] mattmoor commented on #4902
I noticed a suspicious pattern in our load test where latency seems to spike briefly every 10s, and it made me wonder whether it's related:
![image](https://user-images.githubusercontent.com/2442466/63215680-14294600-c0df-11e9-98c9-9697ab1fbe63.png)

[2019-08-18 01:39] ZhiminXiang commented on #5181
Thanks @nak3 for taking a look at this issue.
According to the certificate result in https://github.com/knative/serving/issues/5181#issuecomment-522209196, the certificates were successfully provisioned.

As we already identified the root cause and used the issue https://github.com/knative/serving/issues/5192 to track it, I am gonna close this issue.

Feel free to reopen it if anyone has questions

[2019-08-18 01:39] #5181 closed

[2019-08-18 01:44] ZhiminXiang opened #5195 "Need to upgrade cert-manager to newer version"
## In what area(s)?

/area networking

## Describe the feature

Currently our Auto TLS feature is using cert-manager 0.6.1.
This version is a bit old and will be blocked by LetsEncrypt by 11/01/2019 because it could potentially send excessive traffic to LetsEncrypt.

We should upgrade our cert-manager version to 0.8.1 or above. Probably we should try v0.9.1.

[2019-08-18 12:02] knative-test-reporter-robot opened #5196 "[flaky] test/upgrade.TestRunLatestServicePostUpgradeFromScaleToZero"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestRunLatestServicePostUpgradeFromScaleToZero
* **Repository name**: serving

[2019-08-18 12:02] knative-test-reporter-robot opened #5197 "[flaky] test/upgrade.TestProbe"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestProbe
* **Repository name**: serving

[2019-08-18 12:02] knative-test-reporter-robot opened #5198 "[flaky] pkg/activator/handler.TestActivationHandler"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/handler.TestActivationHandler
* **Repository name**: serving

[2019-08-18 16:49] munjal-patel commented on #5181
@ZhiminXiang I don't think we can use #5192 to track the issue I am reporting. The issue reported here is that the `knative-ingress-gateway` configurations gets overwritten because of reconciliation.

[2019-08-18 19:12] munjal-patel commented on #2779
This link is no longer working. I would like to read this article as well @ffahri

[2019-08-18 21:20] ZhiminXiang commented on #5181
@munjal-patel It is expected that the wildcard HTTPS server in `knative-ingress-gateway` gets overwritten when auto TLS is enabled because the wildcard HTTPS server conflicts with the HTTPS server generated by auto TLS feature.

In your case, if you still need your HTTPS configuration when auto TLS is enabled, you can 1) change the port name of the default HTTPS server from `https` to something el

[2019-08-19 01:13] sirius1024 commented on #5176
@JRBANCEL
[code]

[2019-08-19 05:53] ffahri commented on #2779
@munjal-patel https://github.com/knative/docs/blob/47bef7c63f4d3976dd33c3901a743146f13aa270/serving/samples/build-private-repo-go/README.md
This doc deleted and i couldnt find in master repo but old doc was this not sure still works hope this helps

[2019-08-19 07:26] sirius1024 commented on #5176
UPDATE:
I found another way to do that with Nginx.
Deploy an Nginx to proxy *.example.com to istio gateway IP address + port. Then change the hosts file to access knative route with domain(xxx.ns.example.com). Wildcard not supported on hosts file so I have to add multiple records.
If you have a server and your own Domain to do that you can DNS to your server then Reverse proxy with Nginx.

BTW, st

[2019-08-19 10:15] nak3 opened #5200 "ksvc becomes Ready with http scheme when invalid cert is deployed with enabling autoTLS and disabling httpProtocol"
## Short summary

There are two problems in this report.

1. `httpProtocol: Disabled` assigns `http` scheme to ksvc.
2. ksvc becomes READY even though service is not available actually.

/area networking
/kind spec

## What version of Knative?

Build on 2ba0c8773134cc1e82b24bd228cad9121c2a4683

## Steps to reproduce the issue

#### 1. Set following configurations

[code]

#### 2. Deploy Serivice w

[2019-08-19 10:17] nak3 commented on #5200
cc @JRBANCEL

I am wondering https://github.com/knative/serving/issues/5156 will cover the second issue.

[2019-08-19 12:02] knative-test-reporter-robot opened #5203 "[flaky] test/conformance/api/v1beta1.TestAnnotationPropagation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestAnnotationPropagation
* **Repository name**: serving

[2019-08-19 12:02] knative-test-reporter-robot opened #5204 "[flaky] _build_tests.Verify_CodeGen"
### Auto-generated issue tracking flakiness of test
* **Test name**: _build_tests.Verify_CodeGen
* **Repository name**: serving

[2019-08-19 14:14] munjal-patel commented on #5181
@ZhiminXiang I understand that they both conflict. However, it does not make sense _not_ change that behavior. Both wildcard certificates _and_ enabling of Auto TLS are equally important in a lot of deployment scenarios.

This is not practical nor scalable! There will be lots and lots of services running in a cluster. It will be very expensive and maintenance hell to provision SSL for each of them

[2019-08-19 15:00] ZhiminXiang commented on #5181
@munjal-patel We have a tracking issue to make manual TLS and auto TLS work together https://github.com/knative/serving/issues/4631. In general, with this feature, you can provide a namespace level certificate (e.g. certificate for `domain *.default.example.com`). And it will be picked up by Knative, and applied to Routes of the namespace.

Currently, if you already have the namespace level certif

[2019-08-19 15:36] taragu commented on #3591
@vagababov I was looking through the rest of the test cases, and I'm not sure if any of them could be combined with the table tests:

- `TestGlobalResyncOnUpdateAutoscalerConfigMap`: This doesn't test the reconcile function.
- `TestControllerSynchronizesCreatesAndDeletes`: This checks how many times the decider create and delete functions are called (`fakeDeciders.createCallCount` and `fakeDecider

[2019-08-19 15:50] andrew-su commented on #5200
Not sure if the described behaviour is intended but at least from the code, it seems intentional that if the cert is not ready, it would use `http` rather than `https`

Relevant code: https://github.com/knative/serving/blob/ecf6568c089af2c2f03c4ad434465072f529f9b5/pkg/reconciler/route/route.go#L325-L344

[2019-08-19 15:50] andrew-su commented on #5200
cc @ZhiminXiang

[2019-08-19 17:01] vagababov commented on #3591
I think those are fine as is.
Just close the issue.
Thanks a lot fo the change, Tara.

On Mon, Aug 19, 2019 at 8:36 AM Tara Gu <notifications@github.com> wrote:

[2019-08-19 17:05] taragu commented on #3591
Sounds good. No problem!
/close

[2019-08-19 17:17] jonjohnsonjr commented on #2779
You can attach image pull secrets to a service account, then use that service account for your ksvc (set `.spec.template.spec.serviceAccountName` to your service account).

[2019-08-19 17:30] #5192 closed

[2019-08-19 18:11] duglin opened #5208 "Atomic Status updates?"
## In what area(s)?

/area API
/area networking

## What version of Knative?

0.8.0

## The issue

This is related to: https://github.com/knative/client/issues/374
I'm not 100% if this is a bug or not, but it sure feels like something isn't quite right.

To show the issue, process these 3 yaml file in order:
[code]
Pause until it's in a ready state.
New service is created with a custom URL (`new`)

[2019-08-19 18:12] greghaynes opened #5209 "Fill out package synopsis godocs"
## In what area(s)?

## Describe the feature

Most of our internal packages lack synopsis docs, even for packages (such as root level and api/*) which are especially useful in doc form. See https://godoc.org/github.com/knative/serving and https://godoc.org/github.com/knative/serving/pkg/apis for examples.

[2019-08-19 20:10] dprotaso opened #5213 "As a distribution author I only want to expose Knative v1 APIs"
### In what area(s)?

/area API
/kind proposal

### Problem
Due the lack of conversion webhooks, Knative requires exposing the `v1alpha1`,`v1beta1` endpoints to end users. RBAC rules apply to resources and not their versioned representation - hence as a distributor we're forced to ship these versions since they're used in our controllers.

### Proposal
K8s has tooling that supports writing 'unvers

[2019-08-19 20:13] dprotaso commented on #5213
A prototype with Knative Service reconciler using internal types is available here: https://github.com/knative/serving/pull/5214

[2019-08-19 20:17] dprotaso commented on #5213
/assign @dprotaso

[2019-08-19 20:17] #3416 closed

[2019-08-19 20:22] mattmoor commented on #5103
This sounds somewhat in line with the stuff @jonjohnsonjr has been looking at.

[2019-08-19 21:00] munjal-patel commented on #2779
@jonjohnsonjr will try that out. Thanks!

[2019-08-19 21:03] yanweiguo opened #5216 "Add autoscaling based on RPS for HPA"
## In what area(s)?

## Describe the feature
This is a follow-up of #3416.

[2019-08-19 21:04] yanweiguo opened #5217 "Add an E2E test for RPS based autoscaling"
## In what area(s)?

[2019-08-20 00:14] dgerd opened #5221 "`TimeoutSeconds: 0` should result in default timeout"
## In what area(s)?

/area API

## What version of Knative?

0.8.0

## Expected Behavior

TimeoutSeconds of 0 results in the default timeoutSeconds being set.

A 0 second timeout does not make sense. As we have a pointer type currently we have two options here:

1. Default timeoutSeconds 0 and nil to the platform's default (Preferred)
2. Error on timeoutSeconds 0 and default nil to the platform's

[2019-08-20 04:20] munjal-patel commented on #5181
OK. Thanks for the workaround.

[2019-08-20 09:16] markusthoemmes commented on #5217
/area autoscale

[2019-08-20 09:16] markusthoemmes commented on #5216
/area autoscale

[2019-08-20 11:05] nak3 commented on #5200
Thank you for the comment @andrew-su
Umm... even if it is intentional, I can't find the reason. @ZhiminXiang we should not fix it?

[2019-08-20 12:02] #5196 closed

[2019-08-20 14:03] taragu commented on #5217
Can I give this a go?

[2019-08-20 15:32] vagababov commented on #5217
Please coordinate with @yanweiguo since I presume he filed it for him not to forget to write :)

[2019-08-20 16:16] yanweiguo commented on #5217
Hi @taragu, I haven't started yet. If you are going to pick it up this week, feel free to assign it to yourself.

[2019-08-20 16:19] yanweiguo opened #5228 "Add metrics for RPS used in autoscaler"
## In what area(s)?

 /area autoscale
 /area monitoring

## Describe the feature
We have metrics for concurrency used in autoscaler. Now we support requests-per-second based autoscaling. We need metrics for RPS as well.

[2019-08-20 16:33] JRBANCEL commented on #5200
Right now, it is expected because we assume we can only probe HTTP on port 80, so if we detect we can't do that, the default is that it is ready. This behavior comes from #5149.
#5223 is adding support for this scenario.

But in general, this feature is designed to determine if Istio has applied the VirtualService to all the concerned Envoy pods. It is not designed to validate that the Istio confi

[2019-08-20 16:57] taragu commented on #5217
Ah I see. Didn't mean to hijack the issue 😅 I'll work on #5228 instead.

[2019-08-20 16:57] taragu commented on #5228
/assign

[2019-08-20 17:29] #5221 closed

[2019-08-21 01:11] bbhuston commented on #4868
@mattmoor  Hate to pester you, but I'm curious if there has been any update on the knative + private GKE  issue.

[2019-08-21 01:58] tatsuhiro-t commented on #4501
Some yaml files still have addonmanager stuff. e.g., https://github.com/knative/serving/tree/5aa2079825d9bbefad9d5478290005f600e4a46b/third_party/config/monitoring/logging/elasticsearch

[2019-08-21 02:09] tatsuhiro-t opened #5235 "monitoring.yaml still contains addonmanager labels"
## In what area(s)?

/area monitoring

## What version of Knative?

0.8.0

## Expected Behavior

Resources included in monitoring.yaml do not have addonmanager labels like:

[code]

## Actual Behavior

Some resources included in monitoring.yaml have addonmanager labels like:

[code]

## Steps to Reproduce the Problem

#4501 addressed this same issue.  #4583 partially fixed it.  There are still the

[2019-08-21 03:57] dprotaso commented on #5213
For those wanting a more _distilled_ example take a look at the prototype against the https://github.com/knative/sample-controller/pull/71

[2019-08-21 04:43] mattmoor commented on #5213
Thanks for putting that together @dprotaso.  It's still a big pile of code, but it's definitely a lot less than the serving PoC 😅

[2019-08-21 12:02] #5204 closed

[2019-08-21 12:02] knative-test-reporter-robot opened #5236 "[flaky] pkg/autoscaler.TestMultiScalerTickUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/autoscaler.TestMultiScalerTickUpdate
* **Repository name**: serving

[2019-08-21 14:23] iamejboy commented on #5018
Discussions here https://github.com/istio/istio/issues/14520.

[2019-08-21 15:15] mattmoor commented on #4868
I'll try to find someone to look into it.  I pinged @tcnghia , but realized he is out today.  Sorry for the delay.

[2019-08-21 16:45] bbhuston commented on #4868
No worries at all.  Thanks for putting this on the radar.

On Wed, Aug 21, 2019, 11:15 AM Matt Moore <notifications@github.com> wrote:

[2019-08-21 18:20] tcnghia commented on #4868
I think this is a firewall issue, similar that of https://github.com/elastic/cloud-on-k8s/issues/1437

Can you please try the workaround there?  thanks

[2019-08-21 18:27] tcnghia commented on #4868
8443 is the port that you need to allow

https://github.com/knative/serving/blob/master/config/400-webhook-service.yaml#L26

[2019-08-21 18:32] tcnghia commented on #4868
The short explanation is that GKE private cluster by default only allows the GKE master to access your Services at port 443 or 80.  Our webhook uses 8443 here, so it needs to be white-listed.

Instruction for that is here https://cloud.google.com/kubernetes-engine/docs/how-to/private-clusters#add_firewall_rules

There may be other webhooks like Istio's that may need a white list.

[2019-08-21 18:33] ZhiminXiang commented on #5200
I agree with @nak3. I think this is an issue we want to fix.

Currently as @JRBANCEL mentioned, it is expected to see the Ingress configuration is ready when disabling HTTP in the Gateway. But I don't think it is expected to see the ksvc is ready with `http` URL in the case when cert is not provisioned and http is disabled.

So when httpProtocol is enabled, current behavior is fine (i.e. use `http

[2019-08-21 18:46] sjmiller609 commented on #4868
My identical problem was resolved by @tcnghia's suggestion to add ingress 8443 to the firewall

[2019-08-21 18:47] tcnghia commented on #4868
BTW, the reason why 443 wasn't used is to avoid a privileged port (https://github.com/knative/build/pull/604).

I just look at Istio's webhooks and it look like they use 443, so no need to have additional rule for Istio.  8443 should be enough.

[2019-08-21 18:47] tcnghia commented on #4868
@sjmiller609 awesome!  thanks a lot for confirmation.

[2019-08-21 20:48] dprotaso commented on #5213
Slides presented at the WG meeting are available [here](https://docs.google.com/presentation/d/1VtWBBXGio3MVC_1rFu_p7njy5yZATaBYUf7RaPosaB4/edit#slide=id.p)

[2019-08-21 21:06] mattmoor commented on #5213
A couple AIs we should consider before discussing again:
1. What are the upgrade implications of this?

As discussed in the WG call, I have concerns about going directly from:
[code]

to:
[code]

when resources exist at v1alpha1.  I think K8s may reject this.  One possible out would be to ship:
[code]

However, we need to confirm whether or not this is subject to the Kubernetes bug fixed in 1.14.

[2019-08-21 21:20] greghaynes commented on #3885
Status Update: Finishing up https://github.com/knative/serving/pull/5008 (some things found in review) and then I'll rebase and fix up the mostly-deleting old code PR (https://github.com/knative/serving/pull/5011) to start using it. Then, :champagne:

[2019-08-21 21:26] ZhiminXiang commented on #5152
@romachalm This seems like a limitation in the LetsEncrypt side (see Common Name in https://letsencrypt.org/docs/glossary/). It does not allow a DNS name which is longer than 63 characters.

By default, the domain format of Knative serivice is {route-name}.{namespace}.{custom-domain}. If you don't strictly depend on this format, you can probably tune [domainTemplate](https://github.com/knative/ser

[2019-08-21 23:49] nak3 opened #5243 "Need an E2E test for CA issuer"
## In what area(s)?

/area networking
/area test-and-release

## Describe the feature

We need E2E test for CA issuer https://github.com/knative/serving/pull/5145,.

[2019-08-22 01:37] mattmoor commented on #4839
I believe the problem is that the PATCH to remove the finalizer is an update, which will run our validation logic [here](https://github.com/knative/serving/blob/1259d2bb9c2185d602386b893c16a19c159ca7b9/pkg/apis/serving/v1beta1/route_validation.go#L34), which will reject the update.

The only way I can think of to get into this state is what @nimakaviani mentions: creating an invalid resource befor

[2019-08-22 02:01] #4183 closed

[2019-08-22 02:32] mattmoor commented on #4868
@bbhuston if you could confirm this works, then we should discuss if/what changes we need to close this out.

[2019-08-22 02:47] mattmoor commented on #3820
This is blocked on: https://github.com/knative/serving/issues/5180

[2019-08-22 03:14] oreasono opened #5245 "Possible memory issue for queue-proxy"
## Expected Behavior

After creating and ready, the memory usage of the pod is stable and predictable, in a low value, hopefully.

## Actual Behavior

I tested with a golang 'Hello world' level service, and make the pod exist more than 12 hours to monitor its memory usage.
On the first 30 minutes after creation, the memory of queue-proxy slowly increase from less than 30 mb to 45mb, and the user-c

[2019-08-22 03:17] oreasono commented on #5245
By the way, its v0.8.0

[2019-08-22 03:18] jonjohnsonjr commented on #5103
At HEAD, this does become false, but the pods don't actually surface anything useful AFAICT. They just get stuck in `ContainerCreating` for 2 minutes, at which point we fail the activation and scale it to zero... the revision status looks like this:

[code]

We could probably do better but the pod status doesn't give us any message.

[2019-08-22 03:30] mattmoor commented on #5208
@duglin tl;dr this is working as intended with our API semantics.

By its very nature `latestRevision: true` (aka `configurationName: ...` in a Route) floats forward as the configuration changes, so atomicity is kind of out the door when it's employed.

You should be able to get the desired behavior if you reference revision names directly, e.g.:
[code]

In this yaml, because `echo-v3` will never

[2019-08-22 04:09] dgerd opened #5246 "Add v1 API Types"
## In what area(s)?

/area API

## Describe the feature

This issue is to add:

* Add the v1 API types, validation, and defaulters
* Add the v1 API validators and defaulters
* Add support to the v1 API to our reconciler
* Update e2e and conformances tests with the new API

[2019-08-22 04:09] dgerd commented on #5246
/assign @dgerd

[2019-08-22 04:34] nak3 commented on #5245
Umm... if queue-proxy is instrumented with [pprof](https://golang.org/pkg/net/http/pprof/), it might be easier to identify the reason. But https://github.com/knative/serving/pull/5083 is still WIP.

FYI @mgencur https://github.com/knative/serving/pull/5083 might be better to implement pprof for queue-proxy.

[2019-08-22 05:03] vagababov commented on #5245
Also considering it's fixed after it grew to some stable size-- I am not
sure it's a problem. Do you send requests, or you just created revision and
did not send any requests to it?
I'd guess in general the metrics reporters and what not, core cache
priming, etc.

On Wed, Aug 21, 2019 at 9:34 PM Kenjiro Nakayama <notifications@github.com>
wrote:

[2019-08-22 05:12] oreasono commented on #5245
@vagababov In the 12+ hours lifetime of that pod, I only request 3 request to see if its still working properly.
So basically the queue-proxy was doing nothing heavy, just absorbing memory.
Should the memory of queue-proxy be stable just after create&ready? Plus it only handled 3 requests

[2019-08-22 05:28] vagababov commented on #5245
As I said I am sure some things in the metrics exporters, at least, would
collect come memory. Also GC does not kick in by default until (" A
collection is triggered when the ratio of freshly allocated data to live
data remaining after the previous collection reaches this percentage"), so
unless GC runs (and we don't export GC metrics currently, unfortunately) it
will grow (perhaps when we reach ~

[2019-08-22 05:51] oreasono commented on #5245
@vagababov Sure, thanks for making that clear.
I will do some profiling on my side, and at the same time, hope more metrics for queue-proxy can be exposed.

[2019-08-22 07:28] mgencur commented on #5245
@nak3 @vagababov hey, regarding profiling the queue-proxy. I have a working solution on my localhost now but I'd prefer having the existing PRs merged first. They have been there for a long time and I'd like to get the already-reviewed code in so that we can profile at least Knative Serving core pods.

[2019-08-22 07:36] mgencur commented on #4982
There has been a request to implement profiling also for queue-proxy container in application pods. I have a working solution ready but I'd like to have the existing PRs merged first.
Then we should discuss if we should have a separate option to enable profiling for application pods or we want one common option "profiling.enable" that would enable profiling for core Knative Serving pods and queue-

[2019-08-22 13:25] mattmoor commented on #5246
I don't think this is a blocker for 0.9, especially if we pursue @dprotaso proposal.  That said, once we make the min version 1.13.10, we can simply rewrite our controllers onto `v1`.

[2019-08-22 13:50] faun commented on #4839
It’s possible that the webhook had fallen over at the time of the route
creation. This was an experiment that hadn’t been productionized yet.

On Wed, Aug 21, 2019 at 18:37 Matt Moore <notifications@github.com> wrote:

[2019-08-22 16:16] nak3 commented on #4982
Although I requested the profiling for queue-proxy because of https://github.com/knative/serving/issues/5245, I am thinking that we should discuss the options for queue-proxy differently, as you mentioned.
We may want to disscuss about not only global setting vs individual setting but also port confliction problem. Adding pprof to queue-proxy will increase this issue https://github.com/knative/ser

[2019-08-22 16:53] vagababov commented on #4982
I think at some point we decided to block a range of ports for our use in
the contract.

On Thursday, August 22, 2019, Kenjiro Nakayama <notifications@github.com>
wrote:

[2019-08-22 19:35] ZhiminXiang commented on #5152
As there is nothing too much we can do in the Knative side, I am gonna close this issue. Feel free to reopen it if anyone has questions about this.

[2019-08-22 19:35] #5152 closed

[2019-08-22 21:19] sayanh opened #5254 "Move out observability related files/folders from serving to a common repo"
## In what area(s)?

/area monitoring

/kind good-first-issue

## Describe the feature
Right now, the metrics/logging/tracing k8s manifests, dashboards are in knative-serving( [here](https://github.com/knative/serving/tree/master/third_party/config/monitoring
) and [here](https://github.com/knative/serving/tree/master/config/monitoring)). The idea here is to move these out of serving(slack [discus

[2019-08-22 23:30] trshafer commented on #5208
/unassign

[2019-08-22 23:34] trshafer commented on #5208
/assign duglin

[2019-08-22 23:38] trshafer commented on #5111
Hey @Morriz,

There's work underway to replace the installation with an operator: https://github.com/knative/serving-operator. When this operator is applied, then the operator will be in charge of installing the knative-serving resources. Would this address the concern.

The 0.8.0 release (https://github.com/knative/serving/releases/tag/v0.8.0) separates out the CRDs, but this does not include the

[2019-08-22 23:38] trshafer commented on #5111
/assign Morriz

[2019-08-23 01:44] #5235 closed

[2019-08-23 07:49] oreasono commented on #5245
![22](https://user-images.githubusercontent.com/3997447/63575819-8b6a4880-c5bd-11e9-93d8-d4f18200aee7.png)
It grows to 80+ MB now... the user container remains 5.x MB

[2019-08-23 10:50] zops opened #5257 "knative-monitoring"
Hope 'knative' project, do not use this unmaintained image (quay.io/coreos/monitoring-grafana:5.0.3),Coreos has not been updated for more than a year.

it is recommended to use the official image of grafana.

Multiple grafana do integration is too painful

[2019-08-23 12:02] #5236 closed

[2019-08-23 12:02] #4743 closed

[2019-08-23 13:17] taragu commented on #2581
I'm experiencing this issue again. Seems to be after changes in https://github.com/knative/serving/pull/5225

[2019-08-23 15:04] taragu commented on #2581
Nevermind. This issue is resolved after updating ko.

[2019-08-23 16:25] vagababov commented on #5245
Do you have a graph from the creation time?

On Fri, Aug 23, 2019 at 12:49 AM oreasono <notifications@github.com> wrote:

[2019-08-23 16:53] vagababov commented on #5257
Can you rename the issue? It's not descriptive.

But in general we should update our grafana deployment. The current version is 6.x.x, while we're at 5.0.X.
I tried just the new version but it did not receive any data, so it might not be trivial.

@yanweiguo, can you take look if that's easy to do fast and furious?

/area monitoring

[2019-08-23 20:21] #4897 closed

[2019-08-23 22:07] mattmoor commented on #5213
@dprotaso my understanding from our chat yesterday is that the motivation for this is *not* about shipping "v1" to pre-1.13.10 versions of Kubernetes, but simply to make it so that "v1" is the only version exposed.

I apologize for my bad assumption, but I'd assumed that the "single version" restriction was born out of the K8s bug and not what you actually said above (in which case, mea culpa).

I

[2019-08-23 23:06] #4871 closed

[2019-08-24 00:55] dprotaso commented on #5213
Correct - hence why I qualified the title of the issue with the word _only_.

This would still allow distributions to ship "v1" to pre-1.13.10 - since there's only one version of the Knative resources registered with the API server

[2019-08-24 12:01] knative-test-reporter-robot opened #5269 "[flaky] test/e2e.TestServiceToServiceCallViaActivator/b-disabled"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestServiceToServiceCallViaActivator/b-disabled
* **Repository name**: serving

[2019-08-24 12:02] knative-test-reporter-robot opened #5270 "[flaky] test/e2e.TestServiceToServiceCallViaActivator/both-enabled"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestServiceToServiceCallViaActivator/both-enabled
* **Repository name**: serving

[2019-08-24 12:02] knative-test-reporter-robot opened #5271 "[flaky] test/e2e.TestServiceToServiceCallViaActivator/a-disabled"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestServiceToServiceCallViaActivator/a-disabled
* **Repository name**: serving

[2019-08-24 12:02] knative-test-reporter-robot opened #5272 "[flaky] test/e2e.TestServiceToServiceCallViaActivator"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestServiceToServiceCallViaActivator
* **Repository name**: serving

[2019-08-24 22:40] #4982 closed

[2019-08-25 20:04] duglin commented on #5208
it's not really a question of whether I can get the desired results by using well-named revisions - it's more about the user expectations based on the input they provided. And I'm having a hard time figuring out how I explain these 2 flows (especially the 2nd one) to an end-user.

[2019-08-26 18:04] greghaynes opened #5285 "latestRevision routes may point to older revisions if latestCreated is not ready"
## In what area(s)?

/area API

First documented in #5208

If a route is defined within a service with `latestRevision: true`, and a working revision 1 is created, then a working revision 2 and very quickly afterwards a non-working revision 3 is created the route can end up stuck pointing at revision 1 indefinitely. I would expect the route to end up pointed at revision 2 instead.

per @dgerd - Th

[2019-08-26 21:20] vagababov commented on #4407
Can you report the actual error you're getting when the activator fails?

On Mon, Aug 26, 2019 at 2:17 PM Joseph G. Noonan <notifications@github.com>
wrote:

[2019-08-26 22:40] vagababov opened #5291 "When PA metrics service changes we don't change the pod counter."
## In what area(s)?

/area autoscale

## What version of Knative?

v0.8.0-133-ge57b2063-dirty

## Expected Behavior

When metrics service changes for the PA the decider/autoscaler work normally and count pods as before

## Actual Behavior

They continue counting the old service.

## Steps to Reproduce the Problem

- Scale to N
- Delete the metrics service that PA owns
- note EBC is always negative

[2019-08-27 02:11] nak3 opened #5295 "Blocking ksv'c metrics port by user namespace makes autoscaler logs overflow"
## In what area(s)?

/area autoscale

## What version of Knative?

Build on top of c49080b34f049762138b6e06a2f0b62eecbf6236

## Steps to Reproduce the Problem

This is just an example step.

#### 1. Deploy ksvc on your namespace with istio inject `false`.

[code]

[code]

#### 2. Block access to *.local:9090 port from autoscaler by forcing mTLS.

[code]

This makes autoscaler fail to access ksvc's

[2019-08-27 07:05] nak3 commented on #5295
Yes, I agree that logging is least concerns. I was thinking about zap's [SamplingConfig](https://godoc.org/go.uber.org/zap#SamplingConfig). Currently the fixed default values:

https://github.com/knative/serving/blob/955261a5864e4fb0997d0cff4606c3125f7e3716/vendor/go.uber.org/zap/config.go#L118-L121

are used, but I wonder that we want to make it configurable, as `Thereafter: 100` does not work if

[2019-08-27 07:35] nak3 commented on #5295
Umm... I misunderstood about `Thereafter: 100`. So, with the default setting, autoscaler produces the 100 log lines per sec in the worst scenario. It would be alright with the unconfigurable samplingconfig(?).

[2019-08-27 08:16] philwinder commented on #4579
I would like to add my support to this and the other issues. Preventing people from using core k8s functionality is counter-intuitive and limiting. K8s allows scaling whilst using volumes; so should Knative. Please reconsider the "no volumes" stance.

In my use case, I want to use an `AzureFile` PVC in `ReadWriteMany` mode, so that all pods are reading and writing from the same bucket. I accept th

[2019-08-27 12:02] knative-test-reporter-robot opened #5299 "[flaky] pkg/queue/readiness.TestKnHTTPSuccessWithThresholdAndFailure"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/queue/readiness.TestKnHTTPSuccessWithThresholdAndFailure
* **Repository name**: serving

[2019-08-27 14:56] adrcunha opened #5302 "Release 0.8.1 failed due to repeated manifest"
## In what area(s)?

/area test-and-release

## What version of Knative?

0.8.x

## Expected Behavior

Release is published successfully.

## Actual Behavior

Release fails:

https://storage.googleapis.com/knative-prow/logs/ci-knative-serving-dot-release/1166283724124327936/build-log.txt

[code]

## Steps to Reproduce the Problem

Try to cut 0.8.1.

[2019-08-27 16:46] nak3 opened #5304 "RFC: Add status field to metrics object"
## In what area(s)?

/area autoscale
/kind spec
/kind proposal

## Current issue

- When autoscaler fails to read metrics from user's service, the users fail to access the service.
- The issue I wanted to report here is that there are neither error logs nor clue to know what happened in user's namespace. (Only autoscaler's container in knative-serving ns has the log.)
- The issue could be caused b