[2022-03-07 06:37] raghav23 opened #12693 "knative support for persistent storage (concurrency) similar to AWS Lambda supporting EFS"
## Ask your question here:

[2022-03-07 07:54] little-eyes commented on #12564
thanks @skonto. your solution works for me.

[2022-03-07 08:13] jjayabal23 commented on #11742
@raghav23 I see PVC is made available in release 1.2 as experimental feature. I don't think it is GA yet. Also the knative specifications are not up to date reflecting the support for PVC.

Refer: https://knative.dev/docs/serving/configuration/feature-flags/#kubernetes-persistentvolumeclaim-pvc

[2022-03-07 09:57] salaboy commented on #8160
@rhuss @evankanderson @dprotaso I find this issue quite interesting.. is there any documentation that I can look at where people documented some of the use cases that we want to target? I do see this as very relevant for functions as well.

[2022-03-07 12:04] knative-test-reporter-robot opened #12697 "[flaky] pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/newprod.net"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/newprod.net
* **Repository name**: serving

[2022-03-07 13:05] senthilnathan commented on #10926
Same/related issue filed in the Velero project: https://github.com/vmware-tanzu/velero/issues/2547

[2022-03-07 16:08] mattmoor commented on #8160
We should dedup this with #9039 to consolidate.

[2022-03-08 04:08] #8288 closed

[2022-03-08 12:06] knative-test-reporter-robot opened #12707 "[flaky] test/conformance/api/v1.TestRevisionTimeout/writes_first_byte_before_timeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestRevisionTimeout/writes_first_byte_before_timeout
* **Repository name**: serving

[2022-03-08 21:51] nader-ziada commented on #11337
Can't seem to repro this issue,

I get ` False   ProgressDeadlineExceeded` on the revision

[2022-03-08 22:04] psschwei commented on #11337
Possibly some overlap with #12691

[2022-03-09 12:04] knative-test-reporter-robot opened #12712 "[flaky] test/e2e.TestActivatorOverload"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestActivatorOverload
* **Repository name**: serving

[2022-03-09 12:05] #12586 closed

[2022-03-09 12:05] knative-test-reporter-robot opened #12713 "[flaky] test/e2e.TestWebSocketBlueGreenRoute"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestWebSocketBlueGreenRoute
* **Repository name**: serving

[2022-03-09 21:38] psschwei commented on #9326
Can confirm that the error message is still empty on v1.3:

[code]

Looking at the controller logs, the container is actually exiting with exit code `0`:

[code]

And looking at what's happening in the containers themselves, queue-proxy is up but not ready then starts hitting aggressive probe errors (as the user-container isn't ready) before eventually going through its usual shutdown routine (ter

[2022-03-09 21:39] nader-ziada commented on #8610
/assign

[2022-03-09 21:42] psschwei commented on #9326
@dprotaso is this still on your todo list?

[2022-03-10 02:17] pramenn opened #12717 "knative-serving + contour: knative svc endpoints return 404"
I am migrating from ambassador to contour as api gateway for knative services. I see contour httpProxy created for my knative services but requests to ksvc endpoints result in 404 for both http and https.

Here are the steps I followed to installe contour and integrate it with knative-serving:
[code]

Contour svcs:
[code]

Contour HttpProxy I created manually with config shared below for a non-kna

[2022-03-10 07:09] aliok opened #12718 "Make Knative Serving running on Edge (k0s/microshift/...)"
## Describe the feature

I am curious to see what kind of issues / limitations we will have when we want to run Knative Serving on something like [k0s](https://k0sproject.io/) or [Microshift](https://github.com/redhat-et/microshift).

With leveraging [mink](https://github.com/mattmoor/mink) and creating a single binary for Knative + Kube with k0s, we could achieve very minimal footprint.

[2022-03-10 07:10] aliok commented on #12718
FYI, @csantanapr and I want to make this experiment done by a GSoC contributor this summer.

[2022-03-10 11:52] psschwei commented on #11926
/reopen
/remove-lifecycle-stale

[2022-03-10 11:53] csantanapr commented on #12718
Thanks for opening the issue @aliok 👍

A few other random thoughts

- is what parts of knative we can turn off or remove that are not need it at edge worker node
- worker node with control plane components vs worker edge node (ie containerd, kubelet, Knative user Pod( container+queueproxy))
- replace queproxy sidecard with a single queue proxy agent (ebpf) on the node
- benchmark with a baseline a

[2022-03-10 11:59] csantanapr commented on #12718
Assumptions for edge device?

- no HA need it, can wait for things to be recreated
- max limit always 1, things can be queue eventually everything is process by the one use pod
- slow connection between edge worker node and control plane node. How the slow connection affects connections. Where are the ingress and activator live?

[2022-03-10 12:05] #12697 closed

[2022-03-10 12:05] knative-test-reporter-robot opened #12720 "[flaky] pkg/reconciler/serverlessservice.TestGlobalResyncOnActivatorChange"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/serverlessservice.TestGlobalResyncOnActivatorChange
* **Repository name**: serving

[2022-03-10 15:54] psschwei commented on #12717
I haven't personally used Contour much, but there's a couple of things in the way you installed that differ from the [documented install instructions](https://knative.dev/docs/install/yaml-install/serving/install-serving-with-yaml/) that might be worth checking:

1. You installed Contour both via Helm and the `knative-v1.1.0/contour.yaml`. Is there a reason that you need both?
2. You're managing y

[2022-03-10 18:24] dprotaso commented on #12639
I'm good with this feature being behind a feature flag similar to node affinity

[2022-03-10 19:11] csantanapr commented on #12718
yes all my questions and comments, are for the summer students to look into it and research with us

[2022-03-10 19:12] csantanapr commented on #12718
The intention was not to answer them today, but answering them together during the summer internship

[2022-03-11 01:28] #12249 closed

[2022-03-11 06:05] senthilnathan commented on #10926
Is there any reason why we don't allow the resources to adopt the orphaned child resources?
It seems Kubernetes does this for the native resources: e.g. [adoption](https://github.com/kubernetes/kubernetes/blob/897f2f78a5c7ff659dfce23f53dd36b9261a23c9/pkg/controller/controller_ref_manager.go#L346) of replica set by deployment.

[2022-03-11 07:19] Shashankft9 commented on #12571
It seems to be the case that https://github.com/knative/serving/blob/52f07b02254b42f18fa0f71dbb0462410a5bc7b1/vendor/knative.dev/pkg/network/handlers/drain.go#L165-L170 never returns false, since once the `d.timer` is set, its never being set to nil again and so the queue-proxy is staying in drain mode forever because [this](https://github.com/knative/serving/blob/52f07b02254b42f18fa0f71dbb0462410

[2022-03-11 07:34] hanwgyu commented on #12634
Hello, I am using knative serving for real services and I am trying to set a configuration for timeout.
I've read a lot of issues about timeout saying that it has changed a lot. And now I'm confused..

I understood that `Timeout` doesn't include the waiting time in Activator (reverted from https://github.com/knative/serving/pull/8534)
Will `MaxDuration` include the waiting time in Activator?

If n

[2022-03-11 09:33] matzew opened #12722 "DomainMapper not working with Knative Channel"
Similar to the [broker](https://github.com/knative/serving/issues/12686) (where the URL does contain path, so is different here), the channels (host instead of path for routing), does not work with the Serving Domain Mapper.

I created a channel in the default namespace, like:
[code]
this gives me service (in default), like:

[code]

Now, I am creating a DomainMapper, like:

[code]

But it is not

[2022-03-11 12:04] #12707 closed

[2022-03-11 12:07] hanwgyu opened #12728 "Activator Timeout"
## Ask your question here:

Hello, I am trying to set a configuration for a timeout. In our use case, we set `target-burst-capacity: -1` + `ContainerConcurrency : 1`, so all traffics goes to Activator and wait for previous request to be finished.
If more traffic than expected comes in, we need to control it with the timeout.

I've read a lot of issues about the timeout. It has changed a lot. And n

[2022-03-11 14:54] skonto commented on #12571
The Quiet period is overriden at the queue proxy side:

The knative/pkg sets this by default to be 45 here: https://github.com/knative/serving/blob/52f07b02254b42f18fa0f71dbb0462410a5bc7b1/vendor/knative.dev/pkg/network/handlers/drain.go#L123

However queue main sets that to 30s https://github.com/knative/serving/blob/52f07b02254b42f18fa0f71dbb0462410a5bc7b1/cmd/queue/main.go#L64
https://github.co

[2022-03-11 18:34] psschwei commented on #10037
I've pulled together a list of various probing scenarios that @dprotaso [mentioned](https://github.com/knative/serving/pull/12565#issuecomment-1033880603) in a Google doc:

https://docs.google.com/document/d/1ODpaq-7ChhF7UeN7OSgekPlDrZXhT-3DZUVyl0SGRGQ/edit

Figured it's easier to discuss in this issue and/or the doc rather than in the PR...

[2022-03-12 12:05] #12713 closed

[2022-03-13 22:37] BobyMCbobs opened #12729 "Allow setting of default runtimeClassName"
## Describe the feature
Currently there is a toggle for allowing the runtimeClassName field to be set when creating a service.
It would be really useful to be able to default Services created to have a default runtimeClass.
This might be available in _config-defaults_. Perhaps, it could be configured similar to how domains are declared in _config-domain_:
[code]

or I might like to have it as
[cod

[2022-03-14 07:44] nak3 commented on #12722
I think I found the root cause.
The channel's k8s service does not set any k8s service port, so ingress controller fails to translate.

Setting `spec.ports.port` to channel's k8s service could be the workaround.

#### 1. Edit k8s svc

[code]
[code]
#### 2. Reset kingress

[code]

I will fix net-kourier to use `80` port by default if the k8s service does not set any port.

[2022-03-14 12:04] knative-test-reporter-robot opened #12731 "[flaky] test/e2e.TestAutoscaleUpDownUp/aggregation-weighted-exponential"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleUpDownUp/aggregation-weighted-exponential
* **Repository name**: serving

[2022-03-14 12:04] knative-test-reporter-robot opened #12732 "[flaky] test/e2e.TestAutoscaleUpDownUp/aggregation-linear"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleUpDownUp/aggregation-linear
* **Repository name**: serving

[2022-03-15 00:49] pramenn commented on #12717
@psschwei Thanks for the help.

Issue was installing contour twice, switched install to via helm, adjusted `visibility` in config-contour and got it to working. Yes, I didn't share tls delegation config here but created tls secret, tls delegation and updated config-contour.

I see knative svc endpoint returning 200 over https but thats the case only until container liveness probes fail with status

[2022-03-15 08:00] hanwgyu opened #12734 "Activator LB doesn't work well"
## What version of Knative?

0.25.2

## Expected Behavior

Settings:
- 2 activator
   - no istio sidecar injection
- 5 replica server
   - CC: 1
   - TBC : -1
   - no istio sidecar injection

With CC: 1 and no istio sidecar injection, I understood that `firstAvailableLBPolicy` is used.

I expected that all 5 pod get requests evenly through Activator.

## Actual Behavior

Four pod got requests even

[2022-03-15 08:40] zzvara commented on #8211
The same problem appears on `knative` 1.2.0:

[code]

[2022-03-15 10:19] senthilnathan commented on #10926
[code]
After restore, the ownership is maintained all the way down to revision.  The only missing ownership is the revision adopting the deployment.

[2022-03-15 12:03] knative-test-reporter-robot opened #12738 "[flaky] test/conformance/api/v1.TestUpdateConfigurationMetadata"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestUpdateConfigurationMetadata
* **Repository name**: serving

[2022-03-15 13:50] skonto commented on #12693
Hi @raghav23 persistent volume claims are already supported behind a [flag](https://knative.dev/docs/serving/configuration/feature-flags/#kubernetes-persistentvolumeclaim-pvc). EFS seems to support [pvcs](https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html) too. Would that work for you?

[2022-03-15 17:44] pramenn commented on #12717
I have multi-container enabled, liveness and readiness probes are for user container. Readiness probe succeeds during pod startup but liveness probes fail (400) and user container restart fails due to subsequent readiness probe failures (503).

[2022-03-15 18:11] pramenn commented on #12717
I disabled liveness probes and tested, QP terminated gracefully when there was not traffic, but I don't think I can do that in production.

I think my user-container probes issue is same as https://github.com/knative/serving/issues/12571.

[2022-03-15 22:25] #6226 closed

[2022-03-15 22:25] #6006 closed

[2022-03-16 08:04] rhuss commented on #11664
@skonto where do we stand with this issue ? What is still left to be done ?

[2022-03-16 08:14] rhuss commented on #12437
Sorry for the delayed response. I'm not an expert in the AutoTLS feature, but when I understand you correctly, you have issues with [setting up AutoTLS](https://knative.dev/docs/serving/using-auto-tls/) (with cert-manager and let's encrypt) together with Knative's custom domain mappings.

Does it work for you without custom domain mapping (if this is possible for you) ?

cc @skonto @dprotaso @nak3

[2022-03-16 08:15] rhuss commented on #12437
@inventionlabsSydney do you have some more concrete information on how you have set up your custom domain mapping?

[2022-03-16 09:15] skonto commented on #11664
As described in the list above the next step is whether we want to make this available without a flag, always on. The idea so far before moving to GA is give users some time and get feedback. My plan is to move it to GA at some point.

[2022-03-16 10:40] rhuss commented on #11664
thanks! was just asking to prevent this issue from becoming closed as being stale ;-)

wrt/ to the client support mentioned above: Could you please open an issue over there to work on this support? Not sure if the client has support for volumes at all right now.

/remove-lifecycle stale

[2022-03-16 10:42] skonto commented on #11664
Sure will do.

[2022-03-16 12:52] psschwei commented on #12717
Ok if we add your details to #12571 and close this issue (since it seems Contour isn't the issue anymore)?

[2022-03-16 17:59] pramenn commented on #12717
Sure. Thanks for your help.

[2022-03-16 17:59] #12717 closed

[2022-03-17 01:29] psschwei commented on #12442
/remove-lifecycle stale

[2022-03-17 01:37] mattmoor commented on #12442
/lifecycle frozen

[2022-03-17 01:46] psschwei opened #12743 "Make ProgressDeadlineSeconds configurable per service"
## In what area(s)?
/area API
/kind spec

## Describe the feature

Currently, the `ProgressDeadlineSeconds` value is only configurable [at the cluster level](https://github.com/knative/serving/blob/13fad412e79c649b0f24ff7b7ca57551df8484ef/pkg/reconciler/revision/resources/deploy.go#L288), which is done by setting a value for `progress-deadline` in the [`config-deployment` configmap](https://github

[2022-03-17 07:05] mapleeit commented on #4736
Agree with @duglin It would help us a lot if supporting route traffic by custom headers, because in our case, I can't gurantee I can inject the `Knative-Serving-Tag: rev1` header to every request. And it also expose the purpose of trying to treat somebody differently.

[2022-03-17 12:02] #12731 closed

[2022-03-17 12:03] #12677 closed

[2022-03-17 12:03] #12732 closed

[2022-03-17 12:46] psschwei commented on #12743
/assign

[2022-03-17 17:28] nader-ziada commented on #12728
I don't think there is a timeout for a request to wait for previous requests to finish, the requests will be routed to the different pods based on concurrency and could wait in the queue-proxy but the [queue depth](https://github.com/knative/serving/blob/main/cmd/queue/main.go#L326) is equal to `queueDepth := 10 * env.ContainerConcurrency`.
The routing to different pods works as follows:
 - if con

[2022-03-17 18:09] hanwgyu commented on #12728
@nader-ziada Thank you for replying.

Our team plans to serve with 'TBC:-1' and 'CC:1' options for the special cases : 1) long response time ( > 1s), 2) response times are different each time.

As you explained, if `CC` is set to 1, then activator will use the first available policy.
Therefore, it's very effective for this case.
Each requests don't need to wait for previous requests to finish in `

[2022-03-17 21:08] nader-ziada commented on #12728
There is no way for the activator to limit to queue depth to just 1, the depth is at least 10 as I [linked to](https://github.com/knative/serving/blob/main/cmd/queue/main.go#L326) in my above comment, so this would be a change in behaviour, We can bring it up in the [serving working group meeting](https://github.com/knative/community/blob/main/working-groups/WORKING-GROUPS.md#serving-api) on Wedne

[2022-03-17 21:32] nader-ziada commented on #12728
it should in that case scale up and add more pods to handle the extra requests, would that handle your situation?

[2022-03-18 01:28] #12300 closed

[2022-03-18 01:28] #12295 closed

[2022-03-18 04:03] hanwgyu commented on #12728
@nader-ziada Oh.. I thought that CC with activator acts like as global LB by limiting queue depth as you said.

It would be helpful in our case if it can be applied through discussion!

[2022-03-18 04:13] hanwgyu commented on #12728
@nader-ziada I think it's not enough.

As  i understand so far,
- `TimeoutSeconds` option only activates after queueing on queue-proxy
- As i mentioned above,  when I tested requests still remained in activator's memory even after the client timeout.
- If server block forever, activator will hold the requests forever.

So, we need timeout or exception logic for activator..

[2022-03-18 09:37] Taction commented on #12341
/assign

[2022-03-18 09:37] Taction commented on #12341
I'd like to fix it.

[2022-03-18 16:31] wei840222 opened #12755 "DomainMapping HTTPS redirection"
/area networking

## Describe the feature

Support annotations 'networking.knative.dev/http-protocol' for Overriding the default HTTP behavior per service in DomainMapping CRD
https://knative.dev/docs/serving/services/http-protocol/#overriding-the-default-http-behavior

In the source code https://github.com/knative/serving/blob/89ac2aaab4d8802aa7bef7775d093177110b5e90/pkg/reconciler/domainmapping/

[2022-03-18 17:41] pramenn commented on #12571
@skonto I am running into this issue on knative v1.1.0, wondering there is a fix WIP.

[2022-03-18 17:50] #12639 closed

[2022-03-18 21:15] #12688 closed

[2022-03-18 22:10] esvirskiy commented on #7382
@Sharathmk99 which CRD? can you please be more specific.

Thank you

[2022-03-19 10:32] Sharathmk99 commented on #7382
@esvirskiy I don't remember now. I'll post here if I find the information.

[2022-03-19 12:03] knative-test-reporter-robot opened #12759 "[flaky] test/conformance/api/v1beta1.TestDomainMapping"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestDomainMapping
* **Repository name**: serving

[2022-03-19 12:03] #12738 closed

[2022-03-19 18:46] mehemken opened #12760 "Installation instructions have duplicate CRDs in `serving-crds.yaml` and `serving-core.yaml`"
Following the [instructions to install][install] I get a duplicate resources error.

This

[code]

throws

[code]

## What version of Knative?
[URL path says knative-v1.3.0](https://knative.dev/docs/install/yaml-install/serving/install-serving-with-yaml/#install-the-knative-serving-component)

## Expected Behavior

The documentation on installation does not include duplicate CRD definitions.

## A

[2022-03-19 18:50] mehemken commented on #12760
Seems to conflict with the dependency table:
https://knative.dev/docs/install/yaml-install/serving/serving-installation-files/#knative-serving-installation-files

[2022-03-19 18:52] mehemken commented on #12760
Would it be a bad idea to put in a PR that just deletes the CRD in `serving-core.yaml`?

[2022-03-19 23:50] psschwei commented on #12760
Per the discussion in https://github.com/knative/serving/issues/9945#issuecomment-716746280, if you're using kustomize you should only need the `-core` yaml file.

[2022-03-20 03:18] mehemken commented on #12760
Ah, gotcha. Thanks 👍

[2022-03-20 03:18] #12760 closed

[2022-03-20 11:50] NourhanKhaled opened #12761 "Tag to digest resolving is not working in Knative 1.3.0"
## What version of Knative?

## Expected Behavior

I should be able to create a knative service that pulls an image with a defined tag from a private registry, the exact same service definition file was working with knative `0.25.x`

## Actual Behavior

I get `failed to resolve image to digest` when deploying an image with a defined tag. I tried it with azurecr as well as registry.gitlab.com, same

[2022-03-20 12:03] knative-test-reporter-robot opened #12762 "[flaky] test/conformance/api/v1.TestBlueGreenRoute"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestBlueGreenRoute
* **Repository name**: serving

[2022-03-20 14:30] dale1202 opened #12763 "Failed to list *v1alpha1.Revision: the server could not find the requested resource (get revisions.serving.knative.dev)"
## Ask your question here:

**i install the knative, the knative-serving pods 's status is error, i look at the log, it report:**
reflector.go:125] knative.dev/pkg/controller/controller.go:456: Failed to list *v1alpha1.Revision: the server could not find the requested resource (get revisions.serving.knative.dev)

**the env i have installed is:**
kubernetes version: v1.23.5
istio: 1.13.2
knative ve

[2022-03-20 16:33] muhammedanaskhan commented on #12691
hey @evankanderson I am a beginner in devops and learned linux, docker and kubernetes beginners course and Go and Python basics. Am I eligible with this to be able to contribute to these kind of issues with this much knowledge. If not then could you suggest what all things I should learn more in order to get started.

[2022-03-20 17:52] evankanderson commented on #12691
Hi @muhammedanaskhan,

I think this could be a good first issue for you.

I'd start out by figuring out how to get a dev build of Knative serving running in your environment. (Just built from `main` or a branch with no changes.)

After that, I'd try to reproduce the issue on your cluster without making any code changes. Once you can do that, I'd start making the changes suggested earlier in this t

[2022-03-20 17:54] evankanderson commented on #12691
If you can figure out how, a unit test would also be a good addition to your PR. If you can't figure out the best test scenario, we can certainly help with that - - mention it in your PR.

[2022-03-21 08:52] hanwgyu opened #12765 "When Autoscaling with rps, scale up and down repeatedly"
## Ask your question here:

I set ` autoscaling.knative.dev/target: "70"` , target concurrency is 49 (70 * 0.7).

After setting the client qps to 60, the server scales up and down repeatedly.

I expected the number of Pods to remain at 2.

What configuration should I set up for expected behavior?

![image](https://user-images.githubusercontent.com/22293149/159228295-c7458ec4-f2c8-4a4f-a71c-8ab261a

[2022-03-21 10:50] skonto commented on #12571
@pramenn afaik @Shashankft9 was planning to do a PR to restart the timer as a candidate fix.

[2022-03-21 11:37] Shashankft9 commented on #12571
hey yeah, I have done the change in my dev and the readiness probe seems to work fine with it - waiting on @dprotaso's opinions on the suggested solution couple of comments above and also (same solution) here: https://knative.slack.com/archives/CA4DNJ9A4/p1646983509263459

[2022-03-21 20:04] dprotaso commented on #12761
How's are the pull credentials configured for the private image?

[2022-03-21 20:06] dprotaso commented on #12763
We dropped the v1alpha1 APIs a very long time ago. You should be using v1 APIs.

I wonder if you have an old controller or something lingering around

/triage needs-user-input

[2022-03-21 20:06] dprotaso commented on #12761
/triage needs-user-input

[2022-03-21 20:17] NourhanKhaled commented on #12761
The credentials are defined in a secret of type `kubernetes.io/dockerconfigjson` and are passed as `imagePullSecrets` in the service definition. That service definition file worked with knative `0.25`

[2022-03-21 20:34] dprotaso commented on #12761
Can you paste your `dockerconfigjson` ? without the secret obviously

[2022-03-21 20:37] dprotaso commented on #12761
Reason why I'm asking is because I fixed this case for gitlab before where fetching the creds from the k8s secret wasn't working

https://github.com/google/go-containerregistry/pull/1299
https://github.com/google/go-containerregistry/pull/1300

[2022-03-21 20:38] dprotaso commented on #12761
The other option is listing the steps you took to create your image pull secret

[2022-03-21 21:19] NourhanKhaled commented on #12761
The problem isn't just with gitlab, it's also with azurecr. I created the imagepullsecret using this secret definition:
[code]
And the dockerconfigjson for gitlab and azurecr:
`{"auths":{"registry.gitlab.com":{"username":"xxx", "password":"xxx", "auth":"xxx"}}}` and
`{"auths":{"xxx.azurecr.io":{"username":"xxx,"password":"xxx","auth":"xxx"}}}`

[2022-03-21 22:16] dprotaso commented on #12761
Can you give exact steps when creating the registry credential and also the exact image prefix ie. not `xxxx.azurecr.io`

The Gitlab fix was normalizing the URL schemes in the dockerconfigjson - so knowing whether it shows `https` etc in the entry is important

[2022-03-21 22:58] dprotaso opened #12767 "removal of old field breaks deletion"
I am wondering what would be the behavior for those old Revisions which have this `imageDigest` presented. I saw the error `admission webhook "webhook.serving.knative.dev" denied the request: mutation failed: cannot decode incoming old object: json: unknown field "imageDigest` in the controller. I suspect it may be related to removing this field.

__Originally posted by @ZhiminXiang in https://git

[2022-03-21 23:00] dprotaso commented on #12767
See thread for a user report https://knative.slack.com/archives/C0186KU7STW/p1647897129231449

admission webhook "validation.webhook.serving.knative.dev" denied the request: decoding request failed: cannot decode incoming old object: json: unknown field "imageDigest"
From what I can tell, it appears that this field is expected to exist. The field exists under status.containerStatuses.imageDigest r

[2022-03-22 01:25] dprotaso commented on #12767
The user reported they did an N+2 upgrade (0.25=>1.0). We generally don't support/test for that type of jump but worth confirming wether the N+1 upgrade path is actually ok in this regard.

[2022-03-22 02:40] dale1202 commented on #12763
@dprotaso i used knative's version is v1.3.0,  but the yaml show image: gcr.io/knative-releases/knative.dev/serving/cmd/controller@sha256:712ac88a1ec328ad366a0245882061de01bdf631cb21bac2b621af8e20e7082d,   i am in China and i can't climb over the wall, maybe my docker images' version from docker hub is wrong,  can you tell me the version about the controller and the other images.

[2022-03-22 05:08] hanwgyu commented on #12765
@nader-ziada I used kserve, this is yaml file
[code]

[2022-03-22 05:40] hanwgyu commented on #12765
@nader-ziada I used kserve
[code]

And I only changed  `target-burst-capacity` in `autoscaling config`  as 0.

[2022-03-22 06:57] hanwgyu commented on #12734
Similar issue : https://github.com/knative/serving/issues/12593

[2022-03-22 10:03] NourhanKhaled commented on #12761
I pasted the dockerconfigjson in my earlier comment to clearly show there was no `https` or `https` in the entry. The `xxxx` only replaces a name, nothing more.

To create the secret I ran the following command for gitlab:
[code]
I also tried providing a scheme like http in the docker-server arg, but it also didn't work.

As for ACR, I ran a similar command with the docker-server as `myregistrynam

[2022-03-22 12:02] #12759 closed

[2022-03-22 15:53] adriangudas opened #12769 "HPA-based revisions become ready at 1 pod"
## What version of Knative?

1.0.0

## Expected Behavior

The revision should be in `Ready` state when `initial-scale` or `minScale` is reached, as per the [autoscaling doc](https://knative.dev/docs/serving/autoscaling/scale-bounds/).

## Actual Behavior

This holds true for KPA. However, for services that are using HPA with the annotation `autoscaling.knative.dev/class: hpa.autoscaling.knative.de

[2022-03-22 16:21] psschwei commented on #12767
FWIW, I wasn't able to reproduce the error on an N+2 upgrade (v0.25.0 => v1.0.0 on k8s v1.20.0). Looks like the `.status.imageDigest` field was just removed during the upgrade...

My method was:
* spin up a minikube cluster and install knative v0.25.0
* launch a [ksvc](https://github.com/psschwei/knative-services/blob/main/tag-resolution.yaml) and check status
* [upgrade](https://knative.dev/docs/

[2022-03-22 18:30] nader-ziada commented on #12765
I have a bunch of issues trying out `kserve`, can you try your scenario on knative directly?

[2022-03-23 01:28] #12323 closed

[2022-03-23 01:28] #12316 closed

[2022-03-23 01:28] #11728 closed

[2022-03-23 04:12] nak3 commented on #12755
Yes, we should add the implementation there. (And it is better to add e2e test for it.)

[2022-03-23 06:56] senthilnathan commented on #10926
Please review the design proposal for this feature: https://docs.google.com/document/d/1xYok0UEKCJPgrl21Cr9QWSsuFq0g6IIWwxudMS8ed48/edit?usp=sharing

[2022-03-23 12:02] #12762 closed

[2022-03-23 12:02] knative-test-reporter-robot opened #12772 "[flaky] test/conformance/api/v1.TestServiceCreateAndUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceCreateAndUpdate
* **Repository name**: serving

[2022-03-23 13:23] psschwei commented on #12215
Now that #12754 has merged, I think it's just the networking ones that are needed to close this:
* https://github.com/knative-sandbox/net-istio/pull/894
* https://github.com/knative-sandbox/net-certmanager/pull/375

[2022-03-23 14:20] dprotaso commented on #12341
For future reference here's a script I used to verify the fix

[code]

[2022-03-23 14:24] dprotaso commented on #12767
In the slack thread the user tried to delete the ksvc - curious if you tried that

[2022-03-23 14:54] #12341 closed

[2022-03-24 01:17] jakemalachowski commented on #12767
Original reporter here. Unfortunately, I'm not sure what exact steps got us into the state we were in. Happy to answer any questions if that's helpful, but I'm not the primary operator of our Knative setup so I'm not super familiar with it.

We ended up working around this by deploying a custom image with `disallowUnknownFields = false`.

[2022-03-24 01:28] #11051 closed

[2022-03-24 11:38] psschwei commented on #11308
/reopen

[2022-03-24 11:38] psschwei commented on #11308
/remove-lifecycle stale

[2022-03-24 11:39] psschwei commented on #11308
I'm going to poke around with this some
/assign

[2022-03-24 11:53] skonto opened #12778 "Knative Serving with istio fails, net-istio controller is OOMkilled"
## What version of Knative?
1.3.0

## Expected Behavior

Knative Serving with istio should install as expected.

## Actual Behavior

Net-istio-controller pod is OOMkilled.

## Steps to Reproduce the Problem

Similar issue has been previously reported at client-go lib [here](https://github.com/kubernetes/client-go/issues/871).

* Install Knative serving on minikube with istio following the steps [h

[2022-03-24 12:01] knative-test-reporter-robot opened #12779 "[flaky] 0.00% tests failed in repo serving on 2022-03-24 00:45:19 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 0.00% tests failed in repo serving on 2022-03-24 00:45:19 +0000 UTC
* **Repository name**: serving

[2022-03-24 22:10] psschwei commented on #11926
Fixed in #12774
/close

[2022-03-24 22:10] #11926 closed

[2022-03-25 06:17] wei840222 commented on #12755
maybe I can make pr for this feature

[2022-03-25 06:34] norman465 commented on #12769
I'm not familiar with that code, but it looks like the HPA is marking the scale target as initialized as soon as the SKS is ready irrespective of the number of ready pods:
https://github.com/knative/serving/blob/ccc40402ae031b293d1a73ebfebe77e0a3b3338d/pkg/reconciler/autoscaling/hpa/hpa.go#L92-L98

The KPA on the other hand is waiting for the number of ready pods to be greater or equal than `max(s

[2022-03-25 07:26] nak3 commented on #12755
Thank you so much @wei840222 !

[2022-03-25 12:02] knative-test-reporter-robot opened #12782 "[flaky] pkg/reconciler/configuration.TestNewConfigurationCallsSyncHandler"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/configuration.TestNewConfigurationCallsSyncHandler
* **Repository name**: serving

[2022-03-25 13:01] nader-ziada commented on #12712
This flakiness is not related to using 1.22, the failures were originally recorded (March 9) before the [update to 1.22 ](https://github.com/knative/serving/pull/12758)was added and got closed for being stable. Since the 2 failures a few days ago that reopened the issues, its back for passing again.

I suspect it has the do with something going slow in the CI environment since the failure happens

[2022-03-25 13:24] psschwei commented on #12769
Playing around with it a bit, and _in theory_ it looks simple enough fix to add a check to see that the current replicas are greater than max(initialScale, minScale). That said, I'd like to review the history a bit and see if there maybe was a reason for doing it like this (i.e. without the check) before updating.

/assign

[2022-03-25 13:52] hanwgyu commented on #12765
@nader-ziada
I found out that it was due to a cold start of the tensorflow serving server. It wasn't a matter of kserve.
When I changed [`scale-down-delay`](https://knative.dev/docs/serving/autoscaling/scale-bounds/#scale-down-delay) to 5m, the replica stayed at 2.

Thank you for your help.

[2022-03-25 13:52] #12765 closed

[2022-03-25 14:03] dprotaso commented on #12769
/assign @psschwei

[2022-03-25 20:08] psschwei commented on #12215
All done
/close

[2022-03-25 20:08] #12215 closed

[2022-03-25 21:09] #12490 closed

[2022-03-26 00:00] #12743 closed

[2022-03-27 00:42] BobyMCbobs commented on #12625
Superseded by https://github.com/knative/serving/issues/12729

[2022-03-27 00:42] #12625 closed

[2022-03-27 04:19] wei840222 commented on #12755
@nak3 here is the pr
https://github.com/knative/serving/pull/12786

[2022-03-27 12:02] #12772 closed

[2022-03-28 04:23] nak3 opened #12788 "CI always produces `e2e-common.sh: line 120: ENABLE_HA: readonly variable`"
## Steps to Reproduce the Problem

CI always prints the following error.

[code]

You can see any recent logs in https://testgrid.k8s.io/r/knative-own-testgrid/serving#continuous

For example, this test also contains the error - https://prow.knative.dev/view/gs/knative-prow/logs/continuous_serving_main_periodic/1508243895417311232

## In what area(s)?

/area test-and-release

## What version of Kn

[2022-03-28 12:02] #12649 closed

[2022-03-29 09:35] nicolasmingo commented on #12564
Hi, thank you for your answers.

I have continued to inspect and I would like to share what I see.
- If I request a function that sends to me (as a http response) a streaming flux which takes more than 15Minutes: it works.
- If I request a function that receives (in a http request) a streaming flux (that I send) and sends me back a result after 15minutes, the connection is cut (depends on timeoutS

[2022-03-29 12:02] #12720 closed

[2022-03-29 12:02] #12782 closed

[2022-03-29 23:19] airhorns commented on #12063
@julz just as an FYI, the fission.io folks have built pretty much the thing you are talking about with their `poolmgr` deployment method. It starts up a prewarmed set of pods that run a generic image specified by their `Environment` CRD, and then when more resources are required to serve a request for a function, the generic running pod is specialized and downloads and executes .tgz archive specif

[2022-03-30 00:37] nak3 opened #12797 "Support encrypted traffic between ingress and queue-proxy"
As described in [the feature docs](https://docs.google.com/document/d/1XE7UzgQlVVtAb7ULSqOyKCaIHtm8zMF35ainp1JmwyY/edit?resourcekey=0-e1MXRxQaalq-EHW46ZCCWg#):

the alpha release does not support the encrypted traffic between ingress and queue-proxy but it is a temporary state and we should support it.

[2022-03-30 01:29] #12364 closed

[2022-03-30 07:37] iiian opened #12799 "How to load locally built images into Kind?"
I'm in a similar situation to this ticket: >>[How to use locally built docker image?](https://github.com/knative/serving/issues/6101)<<, but I'm coming from Kind instead. Additionally:
1. I tried applying most of the advice in that ticket, but was still facing the same issues in minikube, and so I decided to switch.
2. I found @xphoniex's fork with instructions to run local docker images, but I am

[2022-03-30 12:02] knative-test-reporter-robot opened #12801 "[flaky] pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/test-domain.dev"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/test-domain.dev
* **Repository name**: serving

[2022-03-30 13:15] psschwei commented on #12799
What this means... the configmap looks something like this:

[code]

You can't just add your local registry to the existing list, i.e. something like this:

[code]

Instead, you need to add it outside of the `_example` block, i.e.

[code]
The 6th line (the one beginning `   registries-skipping-tag-resolving...`), that's the one you'll need to add.

With that addition to the configmap, I was able t

[2022-03-30 13:36] dprotaso commented on #12616
Failed run earlier today

[code]

[2022-03-30 13:36] dprotaso commented on #12616
/assign @dprotaso

[2022-03-30 13:37] dprotaso commented on #12801
Fixed by: https://github.com/knative/serving/pull/12795

[2022-03-30 13:37] #12801 closed

[2022-03-30 15:33] dgeorgievski commented on #12799
I was about to submit an issue with the project to inform others of how to successfully configure a local KinD cluster with Knative and Kourier.

I'd advise against using local registry with KinD. It just creates new challenges depending on your platform For example Mac, that I am using along with Ubuntu, imposes networking restrictions that would make it hard if not impossible to access the local

[2022-03-30 16:01] psschwei commented on #12788
It looks like the `--enable-ha` flag is passed twice, which is why that error is showing up (since the second time, the variable would already be read-only and thus not able to be set).

From the job that @nak3 linked to, there's this line just after the "GRABBING K8S METRICS" section:

`2022/03/28 01:22:24 Running kubetest2 with flags: ["gke" "--ignore-gcp-ssh-key=true" "--up" "--down" "-v=1" "--

[2022-03-30 16:36] iiian commented on #12799
@psschwei thanks; I'll give that a shot.

@dgeorgievski if I do that, won't I have to specify digests instead of image names when creating services?

[2022-03-30 18:04] dgeorgievski commented on #12799
No, it is not necessary. Knatiive Serving  does that - it resolves a tag to a digest by sending a HEAD request to the remote registry .. unless configured not to do so.

Check this for more details
https://docs.google.com/presentation/d/e/2PACX-1vTgyp2lGDsLr_bohx3Ym_2mrTcMoFfzzd6jocUXdmWQFdXydltnraDMoLxvEe6WY9pNPpUUvM-geJ-g/pub?resourcekey=0-FH5lN4C2sbURc_ds8XRHeA&slide=id.g50ae5edc09_0_380

And t

[2022-03-30 18:07] iiian commented on #12799
I was able to apply your advice @psschwei!

[code]

However, now when I try to connect to `http://hello.default.example.com` (yes it does give me the .example and not sslip.io, maybe that's an issue), browser, curl, postman all fail to resolve this host. Hmm.

[2022-03-30 18:13] iiian commented on #12799
@dgeorgievski , with this approach, are you by chance using `kn quickstart kind`?

[2022-03-30 18:15] psschwei commented on #12799
As a workaround, you can use the ["Temporary DNS" option](https://knative.dev/docs/install/yaml-install/serving/install-serving-with-yaml/#configure-dns) if the magic DNS isn't working.

[2022-03-30 19:09] iiian commented on #12799
@dgeorgievski okay so I worked through the doc tutorial you shared. I am a bit confused--I didn't understand if you were using a local image or not. I set up the `registries-skipping-tag-resolving: kind.local,ko.local,dev.local,foo.com,index.docker.io` as prescribed. Then I ran
[code]

Also, didn't totally understand the significance of the `taina` thing

[2022-03-30 23:02] iiian commented on #12799
I've now tried to replicate the original ticket's approach to serving in its entirety, but cannot achieve success:

[code]

Any thoughts?

[2022-03-31 09:18] skonto commented on #12564
Hi, for the istio issue it seems that at some point the connection is rejected due to a malformed http request. Could you enable debug logs at the istio side and post them? Also let's create two separate issues to discuss further (bullets 2,3).
@nak3 may have more to add here.

[2022-03-31 10:48] JokerDevops opened #12804 "There is a problem with auto shrink to 0"
## What version of Knative?

0.23x

## Expected Behavior

When there is no flow, reduce the pod to 0

## Actual Behavior

Now my pod is always one, and I use KPA expansion and contraction mode.

And now I see that autoscale has an error log.

I saw it go visit http://autoscale-go-00001.default.svc.cluster.local:80//healthz . So I checked the endpoint of my autoscale-go-00001 SVC. It was found that

[2022-03-31 10:49] JokerDevops commented on #12804
/area autoscale

[2022-03-31 11:26] psschwei commented on #12804
Is it possible to try on a newer version of Knative and see if this behavior still occurs?

[2022-03-31 11:38] JokerDevops commented on #12804
Because of the kubernetes version. I can't update to the latest version.

[2022-03-31 11:38] JokerDevops commented on #12804
@psschwei

[2022-03-31 11:40] nicolasmingo commented on #12564
Hi, I've found the issue. It is not related to istio, we try the same code without knative and it has worked.

I think it is related to the incompatibility to do bidirectional streaming in HTTP/1.1:
https://github.com/knative/serving/issues/6146

At the origin, I would like to do long requests with upload stream - the only way to do that (without bidirectional streaming) is to increase timeout to

[2022-03-31 11:41] JokerDevops commented on #12804
Supplementary log
{"severity":"INFO","timestamp":"2022-03-31T11:39:29.56833063Z","logger":"autoscaler","caller":"kpa/scaler.go:280","message":"PA is not yet backed by activator, cannot scale to zero","commit":"35efb31","knative.dev/controller":"knative.dev.serving.pkg.reconciler.autoscaling.kpa.Reconciler","knative.dev/kind":"autoscaling.internal.knative.dev.PodAutoscaler","knative.dev/traceid":"5

[2022-03-31 11:46] SaberMaster commented on #12804
any prober failure will start new async probe, cannot scale to zero

[2022-03-31 11:50] JokerDevops commented on #12804
Autoscaler communicates with autoscale-go-00001.

The pod corresponding to the endpoint list of autoscale-go-00001 SVC is activator.

[2022-03-31 12:32] JokerDevops commented on #12804
Why does my autoscale-go-00001 SVC correspond to activator pod?
I access the activator pod service directly
[code]
But when I used SVC to access, I found that the network was blocked.
[code]

[2022-03-31 12:36] JokerDevops commented on #12804
I use cilium as the network plug-in of kubernetes cluster.

[2022-03-31 13:21] psschwei opened #12806 "HorizonalPodAutoscaler deprecation"
We'll need to upgrade the HPA from v2beta2 to v2 before we get to a min k8s version of 1.26. Probably makes sense to do the migration once our min version is v1.23, which would be around the time we release Knative v1.7 (August 2022)

K8s warning: "API Warning: autoscaling/v2beta2 HorizontalPodAutoscaler is deprecated in v1.23+, unavailable in v1.26+; use autoscaling/v2 HorizontalPodAutoscaler"

/

[2022-03-31 14:42] psschwei commented on #12806
@dprotaso could you add a v1.7 milestone for this?

[2022-03-31 21:15] psschwei commented on #12769
So while it's easy enough to wait to mark the scale target as initialized once the actual replicas reaches min-scale/initial-scale, I'm noticing it can take 10-15 seconds for the HPA to reconcile to the appropriate state, which adds a not-insignificant delay to the revision coming ready. (As noted [here](https://github.com/knative/serving/issues/9087#issuecomment-675138178), that's a known limitat

[2022-04-01 01:30] #12102 closed

[2022-04-01 08:33] JokerDevops commented on #10528
What does your kubernetes web plugin use?

[2022-04-01 08:34] #12804 closed

[2022-04-01 08:34] JokerDevops commented on #10528
https://github.com/knative/serving/issues/12804

[2022-04-01 19:50] adriangudas commented on #12769
despite the limitation that the HPA may take awhile to reconcile, I'm still thinking that it's the correct behaviour to mark the revision as ready only when minScale has been reached? otherwise the problem of having too few pods provisioned, and getting overwhelmed with traffic, still potentially exists, which led us to that workaround.

Granted, our use case is one in which we're not using scale-

[2022-04-01 22:50] psschwei commented on #12769
@dprotaso @nader-ziada @evankanderson for their opinions

[2022-04-02 01:30] #12074 closed

[2022-04-02 01:30] #11822 closed

[2022-04-02 05:40] norman465 commented on #12769
@psschwei do you also see a significantly longer delay for the revision to be ready with min-scale/initial-scale 1?

[2022-04-02 06:02] Rahul7171 commented on #12718
Hi all. I am Excel, and I im interested in contributing to this project for GSoC '22. I have joined the community, and have been looking into Knative  too. I am thinking of attending the event that was posted on the community to get up to speed with Knative in general.

Is this alright? And are there any prerequisites I need to complete to increase my chances, or to write a good proposal? Thank yo

[2022-04-02 18:11] evankanderson commented on #12769
I think it makes sense to delay the traffic shift until there are available replicas.

IMO, our priorities should be correctness (avoid errors/overload), request latency, and control plane latency, in that order. Deployments taking longer with HPA because we ensure there are enough pods running seems reasonable.

One extra thought: if there is a `min-scale` annotation, should we set `spec.replicas

[2022-04-02 19:07] psschwei commented on #12769
I didn't test scale=1, but I can

[2022-04-02 19:19] csantanapr commented on #12718
Hi Rahul
One way to increase your chances is to include in your proposals needs alternatives to investigate and provide more details on it. For example what about using Talos is k8s native operating system, what about if the operating system included also knative capabilities?

[2022-04-03 01:30] #12393 closed

[2022-04-03 01:30] #12376 closed

[2022-04-04 01:29] #11321 closed

[2022-04-04 07:43] nak3 opened #12808 "Support disabling HTTP traffic between Ingress and activator"
Support disabling HTTP traffic between Ingress and activator

As described in [the feature docs](https://docs.google.com/document/d/1XE7UzgQlVVtAb7ULSqOyKCaIHtm8zMF35ainp1JmwyY/edit?resourcekey=0-e1MXRxQaalq-EHW46ZCCWg#):

the future release should support to disable the non-encrypted paths.

[2022-04-04 13:59] nader-ziada commented on #12769
I think if the `min-scale` tag is defined on the revision, it would make sense to me to wait util that min-scale is reached

[2022-04-04 19:41] #12769 closed

[2022-04-05 20:54] psschwei commented on #11337
Confirming @nader-ziada 's inability to reproduce the issue, using the following kservice on HEAD (to use the per-revision progress-deadline annotation, mostly to not have to wait too long):

[code]

results in a status of:

[code]

@dprotaso think we can probably close this one (though the failure message could probably be better, but that's covered in #9326 )

[2022-04-05 22:27] #12616 closed

[2022-04-06 00:08] nak3 opened #12821 "Support to encrypt metadata traffic"
As described in [the feature docs](https://docs.google.com/document/d/1XE7UzgQlVVtAb7ULSqOyKCaIHtm8zMF35ainp1JmwyY/edit?resourcekey=0-e1MXRxQaalq-EHW46ZCCWg#):

the alpha release does not support the encrypted traffic for metadata but we should support it in the future.

[2022-04-06 03:36] nak3 commented on #12501
@evankanderson Do you have a reason why you suggested volume mount instead of using fetching secret? I think it is better to support secret as https://github.com/knative/serving/pull/12770/commits/b3e467ced3f24bb754eee7dca1080f09d4602a30 .

[2022-04-06 09:03] nak3 commented on #12503
Same with https://github.com/knative/serving/issues/12501#issuecomment-1089752661.
It makes easier to implementation and configurations when we use Secrets. I sent the change in https://github.com/knative/networking/pull/648

[2022-04-06 09:03] nak3 commented on #12502
Same with https://github.com/knative/serving/issues/12501#issuecomment-1089752661.
It makes easier to implementation and configurations when we use Secrets. I sent the change in https://github.com/knative/networking/pull/648

[2022-04-06 09:05] nak3 commented on #12501
I sent the request https://github.com/knative/networking/pull/648 as using secret makes much easier for implementaion and configurations.

[2022-04-06 11:07] arbogast commented on #11337
It seems that problem disappeared in Knative 0.21 - I don't understand why, though.

Thank you!

[2022-04-06 14:40] thepiger commented on #12761
I have the same issue upgrading from knative serving 1.2.3 to 1.3.0.

I created the dockerconfigjson secret for gcr registry in my namespace and added as imagePullSecrets in the default service account.

On 1.2.3 It works fine.
After the upgrade to 1.3.0 I got this error on knative serving controller: Unable to fetch image "gcr.io/xxxxxxxxx:xxxxxxxx": failed to resolve image to digest: HEAD https:

[2022-04-06 21:51] lichenran1234 opened #12824 "Discrepancy between the QPS reported by activator and queue-proxy when activator is in the request path"
## In what area(s)?

## Ask your question here:
We set `target-burst-capacity` = -1 to make sure the activator is always in the request path. And `contianerConcurrency` is not set. We were load testing a revision with only 1 replica (min/max replicas set both to 1). We expect all requests to go through activator, but we got different QPS by looking at the metrics `activator_request_count`, `revisi

[2022-04-07 12:03] #12650 closed

[2022-04-07 14:22] thepiger commented on #12761
I've also tested knative serving 1.2.2 and it works well.

Reading the knative-serving Release I've noticed that with knative-serving 1.2.3 the github.com/google/go-containerregistry/pkg/authn/k8schain was refactored.

I think that's what creates the issue.

Although the service account is created correctly, the knative controller cannot schedule the pods because it cannot contact the registry.

[2022-04-07 17:00] bigzilla opened #12828 "Auto provision Certificate per namespace with custom wildcard DNS names"
## Ask your question here:

Hi, I was able to follow along with the tutorial for [Enabling auto TLS](https://knative.dev/docs/serving/using-auto-tls/), so now my service able to serve through HTTPS. But I have a requirement to differentiate the namespace and domain per environment.

Assuming there is 3 environment, these are the requirement:

1. Dev environment with domain `dev.example.com` and th

[2022-04-07 17:18] imjasonh commented on #12761
The k8schain refactor pre-1.3 definitely sounds like the culprit.

I'm not able to reproduce in the minimal unit test added in https://github.com/google/go-containerregistry/pull/1335 -- this doesn't necessarily mean it isn't an issue (it seems fairly obvious that it is) just that I haven't been able to nail down where in k8schain's secret handling code it's going wrong.

[2022-04-07 17:33] psschwei commented on #11531
/assign

[2022-04-07 17:38] thepiger commented on #12761
Actually on 1.3.0 still needs the workaround this workaroud  https://github.com/knative/serving/issues/12642 to download the image from the private gcr.

[2022-04-07 20:00] #12755 closed

[2022-04-07 21:46] YingjingLu opened #12830 "Knative options to support for shared GPU resources with PSP"
/area API
/kind spec
## Ask your question here:

In our use cases enabling GPU resource sharing would add huge value for running serverless GPU workloads as many of the workloads only occupies fraction of the GPU.

Currently there have been some solutions that enables kubernetes to virtualize partial GPU such as [Nvidia MPS](https://aws.amazon.com/blogs/opensource/virtual-gpu-device-plugin-for-inf

[2022-04-08 00:38] dprotaso commented on #12761
/assign @dprotaso

[2022-04-08 01:29] #12235 closed

[2022-04-08 01:58] dprotaso commented on #12761
Confirmed the bug - I made a simple mistake of not bumping the sub package (`github.com/google/go-containerregistry/pkg/authn/k8schain`)

https://github.com/knative/serving/blob/f4ea3ac779621ea133a78a746525f6c6ca9947de/go.mod#L12-L13

I'll bump the dependency and get patch releases out tomorrow.

[2022-04-08 17:15] dprotaso commented on #12761
Patch releases are out:

v1.3 - https://github.com/knative/serving/releases/tag/knative-v1.3.1
v1.2 - https://github.com/knative/serving/releases/tag/knative-v1.2.4

[2022-04-08 18:49] dprotaso commented on #12767
@jakemalachowski what version of kubernetes are you running?

[2022-04-08 18:56] jakemalachowski commented on #12767
One cluster was running 1.21.9 and another one was 1.20.7

[2022-04-09 01:29] #12409 closed

[2022-04-10 01:28] #12355 closed

[2022-04-11 14:57] NourhanKhaled commented on #12761
I seem to be facing the same issue in the patch as well. @thepiger do you mind confirming this?

[2022-04-11 18:49] ujjwalsfix opened #12840 "Prometheus Annotations"
/area monitoring

## Ask your question here:
Is there a reason why the following two annotations aren't present on `activator`, `controller`, and `autoscaler`?

[code]

Am I missing something in the setup where these need to be manually added for the metrics to be scraped?

[2022-04-12 01:48] dprotaso commented on #12761
I tested this by creating three docker cred k8s secrets with three different variations on the registry url
1. no scheme
2. https scheme
3. http scheme

[code]

Then I created a Knative Service using the imagePullSecret
[code]

Let me know if your scenario is different and I can confirm

[2022-04-12 10:57] thepiger commented on #12761
From the first tests I did, it seems that the patch has solved the problem.
If there are any news, I will update you.

[2022-04-12 11:55] NourhanKhaled commented on #12761
@dprotaso it's working with gitlab but not azure container registry. Using the same secret in the azure container registry works when providing a digest but not when providing a tag.

[2022-04-12 12:14] marc-laroche commented on #12571
We are also running on this issue, and were wondering if there was any recent update ? ( @Shashankft9 )

Thanks.

[2022-04-12 14:07] NourhanKhaled commented on #12761
Also I'm not sure if this behavior is intentional or not, but using a gitlab registry secret in this format works fine:
[code]

However using this secret format (not saying this is correct) doesn't work unless I add `registry.gitlab.com` to the `registriesSkippingTagResolving` list:
[code]

[2022-04-12 19:34] dprotaso commented on #12767
### Reproduction

I was able to reproduce this error in an artificial way with a broken installation.

1. Install Knative v0.25
1. Create a Revision
1. Add a finalizer to the revision to prevent it from being deleted/gc'd
1. Delete the revision
1. Upgrade Knative to v1.0 (but don't upgrade the CRD definitions)

In this state the API server knows about the extra `imageDigest` property but the webho

[2022-04-12 19:34] #12767 closed

[2022-04-13 00:39] #12501 closed

[2022-04-13 00:59] dprotaso commented on #12761
Thanks for the feedback - was finally able to get an azure account and confirmed that it's just broken.

Here's the breakdown so far.

### K8s Deployment Image Pull

For comparison with a vanilla K8s deployment

Works | Registry URL in the Secret
-|-
OK| registry.gitlab.com
OK|http://registry.gitlab.com
OK|https://registry.gitlab.com
OK|registry.gitlab.com/dprotaso
OK|http://registry.gitlab.com/dp

[2022-04-13 12:02] knative-test-reporter-robot opened #12850 "[flaky] test/e2e.TestRouteVisibilityChanges/Route_visibility_changes_from_public_to_private_with_tag_only"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestRouteVisibilityChanges/Route_visibility_changes_from_public_to_private_with_tag_only
* **Repository name**: serving

[2022-04-13 20:12] Mason-Harding opened #12851 "type *"k8s.io/api/core/v1".Probe has no field or method Handler"
When I use knative as a go library, `go get knative.dev/serving@latest`, and try to run the following test
[code]

I get the following
[code]

Thanks for your help!

[2022-04-13 20:30] Mason-Harding commented on #12851
Thanks.  It looks like I'm on the latest...
[code]

[2022-04-13 20:34] psschwei commented on #12851
Think I flipped those around... you may need to _downgrade_ your k8s, as knative serving v0.30 is still on k8s v0.22.5 (sorry for the confusion!)

[2022-04-13 20:41] Mason-Harding commented on #12851
That was it!  Thank you so much!

[2022-04-14 11:58] skonto opened #12853 "Update go version to 1.17"
I propose we align go versions. knative pkg is already on 1.17.

[2022-04-14 12:59] psschwei commented on #12851
/close

[2022-04-14 12:59] #12851 closed

[2022-04-14 13:07] psschwei commented on #11337
Closing since the issue seems to be resolved, can reopen if it's still an issue.
/close

[2022-04-14 13:07] #11337 closed

[2022-04-14 14:32] psschwei commented on #12722
Fixed by https://github.com/knative-sandbox/net-kourier/pull/797
/close

[2022-04-14 14:32] #12722 closed

[2022-04-14 15:20] psschwei commented on #9531
This was actually done in #10495 (PD was set to 10 minutes to mirror k8s), and with #12751 PD can be customized on a per-revision basis, so I think we may have addressed the core issue already.

[2022-04-14 15:28] dprotaso commented on #12853
note: we're already building with go1.17 in our CI - the version in the go.mod is just an indication of the min go version that's supported.

Either way I don't have issues bumping this

[2022-04-14 15:28] #12853 closed

[2022-04-14 17:02] evankanderson commented on #12691
@muhammedanaskhan -- if you're still interested, I think I saw an interesting hint in https://github.com/knative/serving/issues/9531#issuecomment-1099411896; I suspect that we should be connecting how long a Configuration takes to give up on a Revision with the ProgressDeadlineSeconds of the Deployment underlying the Revision.

[2022-04-14 17:32] #9326 closed

[2022-04-14 18:44] psschwei commented on #12691
A couple of extra details, in case they help.

Here's the KPA status changes over the course of the steps that Evan described:

[code]

Final state:
[code]

Also, desired scale remains at -1 for the first KPA, even after the progress-deadline period:

[code]

[2022-04-14 20:25] dprotaso commented on #12761
Ok new releases are out with the fixes

https://github.com/knative/serving/releases/tag/knative-v1.3.2
https://github.com/knative/serving/releases/tag/knative-v1.2.5

Please let me know if there are any issues

[2022-04-14 20:25] #12761 closed

[2022-04-15 01:28] #12436 closed

[2022-04-16 12:03] #12850 closed

[2022-04-16 20:20] yuzisun opened #12859 "Progressive rollout to scale down old revision while transferring the traffic to the new revision"
## Describe the feature
Currently Knative enforces blue/green style rollout when service spec is updated to create the new revision compared to raw deployment's rolling upgrade, this approach requires **2x amount of resources** when `minReplica` is set and quota enforcement is turned on during the rollout.

With progressive rollout the traffic is slowly moving from the old revision to the new revi

[2022-04-17 12:03] knative-test-reporter-robot opened #12860 "[flaky] test/conformance/api/v1.TestServiceWithTrafficSplit"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceWithTrafficSplit
* **Repository name**: serving

[2022-04-18 14:59] Legion2 opened #12865 "Queue Proxy does not exit after draining and server shutdown"
## What version of Knative?

## Expected Behavior

When a pod is deleted, queue-proxy should drain the connections and then exit, and after that the user container should exit.

## Actual Behavior

When a pod is deleted, queue-proxy drains the connections and shut down the server and prints `Shutdown complete, exiting...` in the logs. However, it does not exit and is killed by kubelet after `delet

[2022-04-19 00:58] #12502 closed

[2022-04-19 00:58] #12503 closed

[2022-04-19 14:09] domstorey commented on #12851
In the main branch here: https://github.com/knative/serving/blob/6ec4509c73094850c3d517e1c8448aee0dab91cc/go.mod#L30
k8s.io/apimachinery v0.23.5 is there

Is there a plan to update this soon in a go release? We are using v0.23.5 as lots of other code is using the latest k8s and so we don't want to downgrade here and I thought this would be released in the 0.30.2 :-(

[2022-04-19 14:44] domstorey commented on #12851
yay! Excellent thanks :-)

[2022-04-20 03:40] jwcesign opened #12866 "Many requests come, then all finished, the qp memory and cpu still not go down like no request"
## In what area(s)?

Other classifications:

## What version of Knative?
0.25

## Expected Behavior
when there is no request, the cpu and memory will go down like no requests

## Actual Behavior
memory and cpu still cost many, but should go down fast.

## Steps to Reproduce the Problem
1.Config maxScale and minScale to 1
2.set containerConcurrency to 1000 for ksvc
3.check the 0 requests memory and

[2022-04-20 12:02] knative-test-reporter-robot opened #12867 "[flaky] test/e2e.TestResourceQuotaError"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestResourceQuotaError
* **Repository name**: serving

[2022-04-20 12:02] #12860 closed

[2022-04-20 12:22] skonto commented on #12778
Created a ft doc for a solution [here](https://docs.google.com/document/d/1by_oJSedI8FVnT2HaRXvgOVvEIDfhG5CpyWcflIZKao/edit?usp=sharing).

[2022-04-20 20:53] dprotaso commented on #12867
cc @psschwei

[2022-04-21 21:36] dprotaso commented on #10776
Contour fixed a performance regression and we've picked up this change a while ago

See: https://github.com/projectcontour/contour/issues/4058

I'm going to close this out - feel free to re-open or create a new issue with more details specific to your installation

[2022-04-21 21:36] #10776 closed

[2022-04-22 21:25] girlpunk opened #12870 "AutoTLS with cert-manager creating kcert, but not cert"
Currently trying to set up knative servicing AutoTLS on a bare metal cluster. The cluster has an existing cert-manager and ClusterIssuer, which has previously been used to generate certificates for services, showing that the issuer is working as expected. After installing knative using the operator, I successfully set up a service without TLS, which suggests that knative is also working as expecte

[2022-04-23 12:02] knative-test-reporter-robot opened #12871 "[flaky] test/e2e/initcontainers.TestInitContainers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/initcontainers.TestInitContainers
* **Repository name**: serving

[2022-04-23 12:02] knative-test-reporter-robot opened #12872 "[flaky] test/e2e/pvc.TestPersistentVolumeClaims"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/pvc.TestPersistentVolumeClaims
* **Repository name**: serving

[2022-04-23 12:02] knative-test-reporter-robot opened #12873 "[flaky] test/e2e.TestHPAAutoscaleUpDownUp"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestHPAAutoscaleUpDownUp
* **Repository name**: serving

[2022-04-23 12:02] knative-test-reporter-robot opened #12874 "[flaky] test/ha.TestActivatorHAGraceful"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/ha.TestActivatorHAGraceful
* **Repository name**: serving

[2022-04-24 06:01] sidharthramesh commented on #12527
Any idea of how to fix this issue?

[2022-04-24 12:02] knative-test-reporter-robot opened #12875 "[flaky] 2.03% tests failed in repo serving on 2022-04-24 00:45:23 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 2.03% tests failed in repo serving on 2022-04-24 00:45:23 +0000 UTC
* **Repository name**: serving

[2022-04-25 02:50] nak3 commented on #12527
Does this happen only on HTTP01? If so, there seems to be a limitation as described in https://knative.dev/docs/serving/using-auto-tls/#turn-on-auto-tls

[2022-04-25 04:02] Rahul7171 commented on #12718
can I work on this issue?

[2022-04-25 07:22] sj8d3e6602 opened #12876 "What does the concurrency really mean?"
In what area(s)?

The question is about the metrics system.
Let's assume that:
- there is only one autoscaler and an activator which regularly (1s) reports its metrics to the autoscaler
- the response time is infinite, which means the request will never end (timeout config is also infinite)

In my opinion, the concurrency is just the "current" request numbers which the activator (and the pods behi

[2022-04-25 12:02] knative-test-reporter-robot opened #12877 "[flaky] 2.15% tests failed in repo serving on 2022-04-25 00:46:10 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 2.15% tests failed in repo serving on 2022-04-25 00:46:10 +0000 UTC
* **Repository name**: serving

[2022-04-25 12:49] dprotaso commented on #12538
/lifecycle frozen

[2022-04-26 08:32] namlh16 commented on #10115
I have same issue. but how restart gateway pod ?

[2022-04-26 12:03] knative-test-reporter-robot opened #12880 "[flaky] 2.18% tests failed in repo serving on 2022-04-26 00:46:18 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 2.18% tests failed in repo serving on 2022-04-26 00:46:18 +0000 UTC
* **Repository name**: serving

[2022-04-26 17:36] dprotaso commented on #12712
So this still f

[2022-04-26 18:07] dprotaso commented on #12712
So this test still flakes. Even with a target burst capacity (TBC) of `-1` (activator is always in the path) there is a short window when it is not.

The observation is as follows:
1. SKS is created with a default mode of `serve`
2. SKS controller sees there are no ready endpoints so it places the activator in the path - it then becomes 'Ready'
3. Pod endpoint becomes ready
4. SKS controller sees

[2022-04-27 12:02] knative-test-reporter-robot opened #12886 "[flaky] 2.29% tests failed in repo serving on 2022-04-27 00:46:14 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 2.29% tests failed in repo serving on 2022-04-27 00:46:14 +0000 UTC
* **Repository name**: serving

[2022-04-27 14:49] dprotaso commented on #12712
I'm going to pull this into a new issue - since this one can be opened/closed via automation.

[2022-04-27 14:58] dprotaso opened #12887 "Activator is removed from request path prematurely"
So the [test/e2e.TestActivatorOverload](https://github.com/knative/serving/issues/12712) still flakes. Even with a target burst capacity (TBC) of `-1` (activator is always in the path) there is a short window when it is not.

The observation is as follows:
1. SKS is created with a default mode of `serve`
2. SKS controller sees there are no ready endpoints so it places the activator in the path - i

[2022-04-27 15:00] dprotaso commented on #12887
Comments from Slack: https://knative.slack.com/archives/C94SPR60H/p1650996499719479

(Posting here cause unsure if link will continue working - when we switch slack workspaces)

[Nader Ziada](https://app.slack.com/team/UC06S8XQV)  [21 hours ago](https://knative.slack.com/archives/C94SPR60H/p1650996752074469?thread_ts=1650996499.719479&cid=C94SPR60H)
conceptually your suggestion of making the SKS c

[2022-04-27 16:02] dprotaso commented on #12887
From the above discussion - I'll create a PR where the initial SKS mode is `Proxy` and the autoscaler needs to compute the excess burst capacity/scale before we switch to exposing pods directly.

Note: what hasn't been mentioned yet is without this change the activator will be pulled out of the path prematurely and Knative Services with low `containerConcurrency` can be overwhelmed with requests t

[2022-04-27 17:07] evankanderson commented on #10115
If you believe that you are being affected by a similar issue, please:

1. Open a new issue. This one is closed, and probably won't be looked at again.
2. In the issue, include:
   * Knative Version
   * Ingress implementation and version(s) of the plugin and underlying system
   * Kubernetes platform
   * Output of `kubectl get kingress <service name> -o yaml` while the Ingresses are not ready

[2022-04-27 18:26] moadi opened #12888 "target-utilization-percentage does not seem to be working as expected"
## Ask your question here:

Hey folks,

We're currently using KN v0.24 in production for our services. Unrelated to this issue, but we had tried to upgrade but weren't able to do so cleanly due to what seems like a [bug](https://github.com/knative/serving/issues/12387) in the go runtime when a request body is read by the `queue-proxy`, which is why we're "stuck" on this version for the time being.

[2022-04-27 18:57] #12888 closed

[2022-04-28 00:33] dprotaso commented on #12788
I'd drop this from the prow scripts - so we have more control in the repo

[2022-04-28 02:00] lichenran1234 opened #12891 "Support queuing in the QueueProxy while using randomChoice2Policy in the activator"
## In what area(s)?
/area API

Other classifications:
/kind spec

## Describe the feature
__We are very willing to contribute to this feature request__

### Background
The current behavior in Knative is:
* randomChoice2Policy can only be used when the hard limit is __not set__ ([code](https://sourcegraph.com/github.com/knative/serving@f4ea3ac779621ea133a78a746525f6c6ca9947de/-/blob/pkg/activator/n

[2022-04-28 02:41] psschwei commented on #12788
I'll submit a fix tomorrow.

/assign

[2022-04-28 09:58] simonkrenger commented on #11997
/reopen
/remove-lifecycle stale

[2022-04-28 12:01] knative-test-reporter-robot opened #12892 "[flaky] test/e2e/autotls.TestDomainMappingAutoTLS"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/autotls.TestDomainMappingAutoTLS
* **Repository name**: serving

[2022-04-28 12:01] knative-test-reporter-robot opened #12893 "[flaky] test/e2e/autotls.TestTLSDisabledWithAnnotation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/autotls.TestTLSDisabledWithAnnotation
* **Repository name**: serving

[2022-04-28 12:01] knative-test-reporter-robot opened #12894 "[flaky] test/conformance/api/v1.TestServiceCreateAndUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceCreateAndUpdate
* **Repository name**: serving

[2022-04-28 12:01] knative-test-reporter-robot opened #12895 "[flaky] test/e2e/autotls.TestHttpRedirect"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/autotls.TestHttpRedirect
* **Repository name**: serving

[2022-04-28 13:41] dprotaso commented on #12091
Didn't realize you can rename in GitHub projects

[2022-04-28 17:45] psschwei commented on #12788
Based on the some of the early commits in the PR above, it looks like what's actually happening is that the enable-ha flag is being parsed out into the TesterArgs for the kubetest2 command, so that it gets called twice:

* once from e2e-tests (`initialize --enable-ha`)
* once from kubetest (`kubetest2 -- --enable-ha`)

The simple fix is to only set `ENABLE_HA=1` if it does not already equal 1. Tha

[2022-04-28 19:49] nader-ziada commented on #12891
Can you please explain the use case behind this request?

[2022-04-28 19:51] vagababov commented on #12891
What stops you from removing activator from the request path using tbc=0?

[2022-04-28 19:57] lichenran1234 commented on #12891
Thanks @nader-ziada and @vagababov !

The use case is that our system has optimal performance with the randomChoice2Policy (this is also why we want to keep activator in the request path). But we only want the activator for its load balancing (not queuing) because we'd like to queue requests inside QueueProxy (and provision more memory for it) to avoid OOM'ing the activator. (OOM'ing the QueueProx

[2022-04-28 20:26] nader-ziada commented on #12876
A couple of points:

 - The Revision ContainerConcurrency field specifies the maximum number of requests the Container can handle at once. Container concurrency target percentage is how much of that maximum to use in a stable
state. E.g. if a Revision specifies ContainerConcurrency of 10, then the Autoscaler will try to maintain 7 concurrent connections per pod on average.

- Autoscaler calculates

[2022-04-28 20:29] dprotaso commented on #12788
I'm confused why we don't see that warning with other flags that are passed in

ie. `--contour-version latest`

See the run: https://prow.knative.dev/view/gs/knative-prow/logs/contour-latest_serving_main_periodic/1519745265207087104

[2022-04-28 20:33] dprotaso commented on #12788
oddly - checked `--https` and I only see `line 122: ENABLE_HA: readonly variable`

Here: https://prow.knative.dev/view/gs/knative-prow/logs/https_serving_main_periodic/1519740986874400768

[2022-04-28 20:47] psschwei commented on #12788
It's because the enable-ha flag is passed to the `initialize` function within the test script: https://github.com/knative/serving/blob/main/test/e2e-tests.sh#L31

For the contour example, the contour flag isn't passed to initialize: https://github.com/knative/serving/blob/main/test/e2e-auto-tls-tests.sh#L162 (but enable-ha is, which is why it the readonly warning pops up on this one too)

Neither

[2022-04-28 21:15] #12887 closed

[2022-04-28 21:18] dprotaso commented on #12788
I see - I guess this is a general problem - ie. if the any scripts use a flag  inside the `e2e-*.sh` script we see the readonly error for that variable.

To me this sounds like we should fix the `hack` script to skip parsing these variables in the first pass

[2022-04-28 21:32] psschwei commented on #12788
My initial thought was to do it here since it seems like a serving-specific issue ([eventing isn't passing anything in their e2e scripts](https://github.com/knative/eventing/blob/main/test/e2e-tests.sh#L33)), but doing it in the hack repo is fine too.... let me see what it would take.

[2022-04-28 21:47] dprotaso commented on #12892
our CI was reaping clusters before tests were finished

[2022-04-28 21:47] #12892 closed

[2022-04-28 21:47] dprotaso commented on #12895
our CI was reaping clusters before tests were finished

[2022-04-28 21:47] #12895 closed

[2022-04-28 21:48] dprotaso commented on #12893
our CI was reaping clusters before tests were finished

[2022-04-28 21:48] #12893 closed

[2022-04-28 21:49] dprotaso commented on #12875
our CI was reaping clusters before tests were finished

[2022-04-28 21:49] #12875 closed

[2022-04-28 21:49] dprotaso commented on #12877
our CI was reaping clusters before tests were finished

[2022-04-28 21:49] #12877 closed

[2022-04-28 21:49] dprotaso commented on #12880
our CI was reaping clusters before tests were finished

[2022-04-28 21:49] #12880 closed

[2022-04-28 21:54] dprotaso commented on #12886
Our CI was reaping clusters while tests were still running

[2022-04-28 21:54] #12886 closed

[2022-04-28 23:11] iiian opened #12898 "Ability to specify target version, alternative to traffic-splitting"
## Ask your question here:

I've got (perhaps) a less conventional workflow, where the ability to, for instance, call `http://hello@{version}.default.127.0.0.1.sslip.io` (note the additional `@{version}`) adds value and abstracts complexity I'd otherwise have to introduce and manage myself.

* Has anybody considered doing something like this?
* Is there already a POC?
* Does this seem like an anti

[2022-04-28 23:52] iiian commented on #12898
For added context, I've got a multi-tenant environment, and it's sort of an assembly line ETL system.

With the above feature, I could lock each tenant to a version or range of semantic versions, thereby adding the quality assurance of not having a unrelated bugs damage stable tenant workflows.

The solution that comes to mind today is to "GA" certain versions of the application, and then to fork

[2022-04-29 00:19] dprotaso commented on #12763
Weird the SHA you posted is correct - I can verify it using

ie.

[code]

That matches here: https://github.com/knative/serving/releases/tag/knative-v1.3.0

Checking for v1alpha1.Revision go types in the binary
[code]

The last doesn't show v1alpha1.Revision. So my guess is your installation/upgrade wasn't completed successfully.

I'm going to close this out - if you're still having trouble feel f

[2022-04-29 00:19] #12763 closed

[2022-04-29 00:25] #12779 closed

[2022-04-29 00:26] dprotaso commented on #12874
failure is API server connectivity

[2022-04-29 00:26] #12874 closed

[2022-04-29 00:27] dprotaso commented on #12873
api server connectivity - cluster was killed when tests were running

[2022-04-29 00:27] #12873 closed

[2022-04-29 00:27] dprotaso commented on #12872
api server connectivity - cluster was killed when tests were running

[2022-04-29 00:27] #12872 closed

[2022-04-29 00:27] dprotaso commented on #12871
api server connectivity - cluster was killed when tests were running

[2022-04-29 00:27] #12871 closed

[2022-04-29 00:31] dprotaso commented on #6593
We now have [knative-sandbox/net-gateway-api](https://github.com/knative-sandbox/net-gateway-api)

Please open issues/questions in that repo.

[2022-04-29 00:31] #6593 closed

[2022-04-29 00:48] dprotaso commented on #6895
Closing in favour of https://github.com/knative/docs/issues/4946

[2022-04-29 00:48] #6895 closed

[2022-04-29 01:18] dprotaso commented on #8857
/triage accepted
/good-first-issue

Moving to Icebox and labeling this as a good first issue.

My only opinion here is to have PodSpec dry run occur when the user has request dry-runs for our CRD types - Service and Configuration.  For example using `kubectl create` or `kubectl apply` there is a `--dry-run=server` flag. Users shouldn't need the annotation on the Knative Service.

note: I haven't t

[2022-04-29 07:16] sidharthramesh commented on #12527
Hey @nak3. Yes, this happens only on HTTP01.
However, I think the solution is simple - Just wait for the certificates to renew, and once the status.url changes to "https", start redirecting all traffic to HTTPS.

I tried to write a controller that will do this and it's working (at least on my local cluster, need to test in production). Here is the code:
https://github.com/medblocks/knative-https-c

[2022-04-29 08:12] nak3 commented on #12527
Sorry I am not familiar with http01 stuff. cc to Zhimin who implemented it.

/cc @ZhiminXiang

[2022-04-29 14:24] dprotaso commented on #12387
/triage accepted
/milestone Icebox

[2022-04-29 15:36] #12516 closed

[2022-04-29 15:36] #12512 closed

[2022-04-29 18:58] psschwei commented on #12788
Pulling those variables out only seems to happen because it's returning non-zero after each parse ([example](https://github.com/knative/serving/blob/89be0fd95920b03bac97cd8046800fcc44d0c9d1/test/e2e-common.sh#L123), so wonder if the solution is just to have those return 0... going to give it a try on the WIP PR and see if it breaks anything

[2022-04-29 19:05] nader-ziada commented on #7324
/assign

[2022-04-29 19:08] dprotaso commented on #6474
bump @ZhiminXiang @nak3

[2022-04-29 19:18] dprotaso commented on #7711
/unassign @julz

[2022-04-29 19:35] dprotaso commented on #7748
/unassign @julz
/assign @nak3

[2022-04-29 20:01] #5306 closed

[2022-04-30 21:01] ZhiminXiang commented on #6474
I think we can close this issue. All of the work items have been done.

[2022-04-30 21:01] #6474 closed

[2022-05-02 00:28] nak3 commented on #11523
Thank you. Yes, we can. I sent https://github.com/knative-sandbox/net-istio/pull/915 .

[2022-05-02 21:48] dprotaso opened #12904 "[flaky] revision.TestGlobalResyncOnDefaultCMChange"
/assign @dprotaso
[code]

[2022-05-03 01:34] psschwei commented on #11694
/remove-lifecycle stale

[2022-05-03 04:49] ZhiminXiang commented on #12527
Good catch. autoTLS + HTTPS redirection is definitely an issue.

I think the logic in the https://github.com/knative/serving/issues/12527#issuecomment-1112944359 is right. This logic should happens at [Route controller](https://github.com/knative/serving/blob/main/pkg/reconciler/route/resources/ingress.go#L195) and [DomainMapping controller](https://github.com/knative/serving/blob/39c7b5bb2242509e

[2022-05-03 05:40] fvde commented on #6353
We are getting the same error when patching a configmap:
`kubectl patch configmap -n knative-serving config-deployment -p $'data<data here >`

Error:
`Error from server (InternalError): Internal error occurred: failed calling webhook "config.webhook.serving.knative.dev": Post "https://webhook.knative-serving.svc:443/config-validation?timeout=10s": no endpoints available for service "webhook"`

[2022-05-03 12:01] #12894 closed

[2022-05-03 13:58] dprotaso commented on #12867
Failed run here: https://github.com/knative/serving/runs/6273921857?check_suite_focus=true

[code]

[2022-05-03 18:00] dprotaso commented on #12778
Related upstream issue: https://github.com/istio/istio/issues/14598

[2022-05-03 18:22] nader-ziada commented on #12891
you are correct, you need the activator to make that decision on where to send the request. The [logic](https://github.com/knative/serving/blob/7f681da66b289c1fe653ad20ec9d29f644f6c282/pkg/activator/net/throttler.go#L179-L190) is based on the container concurrency.
[code]

[2022-05-03 18:56] lichenran1234 opened #12908 "Add request latency and user container response code as response headers in QueueProxy"
## In what area(s)?
/area API

Other classifications:
/kind spec

## Describe the feature
__We are very willing to contribute to this feature request__

We are running Knative Serving with an extra layer on top of the Knative networking layer, so the architecture looks like:
extra layer (a custom load balancer) -> Knative networking layer -> Knative activator -> QueueProxy -> user container

We ha

[2022-05-03 19:46] nader-ziada commented on #12734
if the requests are done quickly enough, the same pod can handle them, then the activator might not need to send the any requests to the last pod

[2022-05-03 22:04] #12788 closed

[2022-05-03 22:29] #11523 closed

[2022-05-04 00:07] Nalin28 opened #12909 "panicRPSM parameter in autoscaler is set to observedStableValue instead of observedPanicValue"
## What version of Knative?

Output of `git describe --dirty`

## Expected Behavior

panicRPSM parameter in autoscaler should be observedPanicValue.

## Actual Behavior

panicRPSM parameter in autoscaler is set to observedStableValue instead of observedPanicValue.

## Steps to Reproduce the Problem

[]
bug present in pkg/autoscaler/scaling/autoscaler.go

[2022-05-04 00:50] dprotaso commented on #12778
### Some background for others:

When autoTLS is enabled certs will be generated and stored in K8s secrets in the Knative Service's namespace. These secrets are passed to the KIngress.  Unfortunately we can't pass the secret name as the `credentialName` to [Istio's Gateway API - Server TLS Settings](https://istio.io/latest/docs/reference/config/networking/gateway/#ServerTLSSettings). The reason be

[2022-05-04 01:08] dprotaso commented on #12778
I do wonder if we could watch for secret changes but not cache them indefinitely. If we hash the contents of the source secret and compare them to a label value on the destination secret we would know when changes occur. We would need a k8s secret namespace informer pointing to the ingress pod's namespace for quick lookups.

[2022-05-04 01:09] dprotaso commented on #12778
/triage accepted
/milestone Icebox

[2022-05-04 13:47] dprotaso commented on #12909
/triage accepted

[2022-05-04 13:49] #12909 closed

[2022-05-04 16:05] nader-ziada commented on #12908
Hi @lichenran1234

Thanks for the issue and PRs

I think it makes sense to go ahead with the PR implementation

The community seems to think its a good idea, here on slack https://knative.slack.com/archives/CA4DNJ9A4/p1651679868615829

[2022-05-04 17:18] lichenran1234 commented on #12891
Thanks @nader-ziada! Yes, the lb policy is based on the hard limit. Do you think either option 1 or 2 above makes sense?

[2022-05-04 18:17] geekifier opened #12912 "queue-proxy stops serving traffic after application pod restarts in Knative 1.x"
## What version of Knative?

1.3.2

Previously the same apps worked in v0.22.0.
I also tested against v0.26.2 - still working there.

## Expected Behavior

queue-proxy should serve traffic after the application pod is restarted due to some failure.

## Actual Behavior

queue-proxy stops serving traffic after the application pod restarts for any reason.

[code]

At the same time, the application ca

[2022-05-04 18:27] psschwei commented on #12891
We currently have `queueDepth := 10 * env.ContainerConcurrency`, and container concurrency can be set on a [per revision basis](https://knative.dev/docs/serving/autoscaling/concurrency/#hard-limit). So what you're proposing would be make the `10` configurable as well? (just want to make sure I'm understanding correctly)

[2022-05-04 18:33] lichenran1234 commented on #12891
@psschwei Yes exactly! `ContainerConcurrency` also affects the autoscaling behavior and the size of the semaphore, so we think it's better to make the `10` configurable so we can adjust only the queue size.

[2022-05-04 19:04] psschwei commented on #12891
So to put it slightly differently, you're seeing better performance with the activator as load balancer (using randomChoice2Policy) than a standard Kubernetes service (which is what handles the routing when activator is not in the path). I wonder if there's a way to improve the Kubernetes routing performance, for example maybe using [IPVS mode](https://kubernetes.io/docs/concepts/services-networki

[2022-05-04 19:19] psschwei commented on #12912
This sounds similar to the behavior described in #12571

[2022-05-04 19:59] lichenran1234 commented on #12891
@psschwei That makes sense! We can explore ways to improve the Kubernetes routing performance. Is it possible for you to accept our __Feature Request 4__ above first? We can continue the discussion around options 1 & 2 proposed above, while implementing the PR for __Feature Request 4__. That feature request could be helpful for people who like to set hard limits without using the activator. I can

[2022-05-04 20:04] psschwei commented on #12891
I'm good with 4, but  @dprotaso has the final call

[2022-05-04 21:11] geekifier commented on #12912
I have seen that issue before, but I may have misread that it was occurring on the user's container, and not queue-proxy. Reading more into it, it does sound like it could be caused by the same logic that was described there.

[2022-05-04 21:11] psschwei commented on #12867
I'll look into this, but might not be able to get to it until after Kubecon...

[2022-05-04 23:56] muthurajr commented on #12414
@mbrancato Did you happen to find out any root cause for the issue you have reported? I guess, I'm also into the pool of the same issue. Any help is much appreciated!

[2022-05-05 01:29] #12048 closed

[2022-05-05 11:42] jwcesign commented on #12866
/assign @jwcesign

[2022-05-05 11:53] skonto commented on #12778
If I understand correctly in order to hash the contents most likely we will have to fetch the secret from the user ns and also setup a watch there too, we monitor the source and the copy. Informers's cache is updated to latest afaik so if a secret is deleted we dont keep it indefinitely anyway.

[2022-05-05 20:18] nader-ziada commented on #12824
Can you also check the activator capacity?

https://knative.dev/docs/serving/load-balancing/activator-capacity/#setting-the-activator-capacity

[2022-05-06 09:58] abhinav-g-goyal opened #12914 "Extensions persistent-volume-claim, persistent-volume-write did not work and the validation.webhook fails"
I have a Deployment that I am trying to convert to a KNative Service. The Deployment YAML was converted to a KNative Serving YAML but then it had a few template features that aren't ENABLED by default such as a SecurityContext and Persistent Volume Claim.

The Validation Webhook does throw errors for these fields and hence, I tried to enable these Feature Extensions as per this [official page](htt

[2022-05-06 13:02] dimara opened #12917 "Istio sidecars flood CoreDNS because of ExternalName services with ports that Knative creates for inference services"
## What version of Knative?

0.23.3

## Summary

KNative creates ExternalName services for each inference service for redirecting traffic to Istio IngressGateway. For each such service, **all** Istio sidecars, every 5 seconds, will try to resolve the specified DNS target. As a result CoreDNS gets flooded. This is even worse on EKS where you have `ndots: 5` and `ec2.internal` in search domains, tha

[2022-05-06 18:07] psschwei commented on #12898
Not sure it's an exact match for what you're looking for, but would [tag header based routing](https://github.com/knative/docs/tree/main/code-samples/serving/tag-header-based-routing) be an option?

[2022-05-06 18:18] iiian commented on #12898
Nice. Thanks a lot @psschwei .

Now the only question is does gcloud support it with Cloud Run? Seems like not yet, but still good to know there's a technique available in knative itself

[2022-05-06 20:22] mbrancato commented on #12414
@muthurajr not really - it sometimes seems to be less impactful, but some failures still happen. As a whole, it is better, but  we still have some pods that eventually give up the ghost and just stop responding according to queue-proxy. If we manually check the service, it works fine - health checks pass.

[2022-05-06 20:42] mbrancato commented on #12414
I'm going to reopen this as I do have some updates.

We have replaced all of the client and server side of the service on some services, and still see this issue. There are high amounts of 502's and 503's under load. I have migrated server-side frameworks from aiohttp -> FastAPI / Starlette. On the client end, I have migrated from HTTP/1.1 with FastHTTP  to HTTP/2.0 with `net/http` and `golang.org

[2022-05-06 20:42] mbrancato commented on #12414
/reopen

[2022-05-06 20:43] mbrancato commented on #12414
/remove-lifecycle stale

[2022-05-06 22:35] nairb774 commented on #12474
As another data point, using Gitops tools like [FluxCD](https://fluxcd.io/) will result in a forever tug of war between the manifest as checked into a git repo, and the definition that the webhook updates it to. Every minute FluxCD resets the config, and then the webhook sets it back. Having a mis-match between the provided yaml and whatever the webhook wants to set it too causes constant churn on

[2022-05-07 08:29] sj8d3e6602 commented on #12876
Thanks a lot.

Em... It looks like I was not understood well.
What I really cares is not how knative reacts with the metrics it collects, but the way how it thinks them.

I just cannot understand what "concurrency" means in knative. It seems that the concurrency is not the number of the requests app serves but the acceleration them arrive?

[2022-05-08 18:48] skonto commented on #12914
Hi @abhinav-g-goyal the flags you mention above are the flags actually used in [our tests too](https://github.com/knative/serving/blob/69bf45c22fdd57b68ebae64b0ea4ca524bc4777d/test/e2e-tests.sh#L125-L127). Could you provide the Knative sample file you used and steps to reproduce. Is 1.4.0 the Knative Serving used, was it in a clean env or via an upgrade?

[2022-05-09 04:25] abhinav-g-goyal commented on #12914
Service.yaml
[code]
Steps to Reproduce:
1. Using the ConfigMap in my question, deploy the serving-core.yaml for KNative Serving: this allowed me to use SecurityContext in my Service definition YAML and I was hoping to be able to use PVC as well (which did not work)
2. Deploy the above Service.yaml to deploy my service
3. I did try both a fresh deploy and an upgrade to service from without PVC to w

[2022-05-09 04:48] abhinav-g-goyal commented on #12914
Do you have any Service.yaml that works with PVC feature that you could post here as an example?

[2022-05-09 06:57] Richardmbs12 commented on #12483
/reopen

[2022-05-09 06:57] Richardmbs12 commented on #12483
/remove-lifecycle stale

[2022-05-09 18:42] dprotaso opened #12921 "Support RuntimeClass behind a feature flag"
The recommendation from @JRBANCEL is to use [Feature Flags](https://docs.google.com/document/d/15BFfLXv8wNAAdDnEqKfKt5vOEDAfbGLLSWkZvmSwnG0/edit) to support RuntimeClass.

Here is an example that adds support for node selector and affinity: #8645

Can this issue be reopened?

_Originally posted by @fvoznika in https://github.com/knative/serving/issues/5306#issuecomment-672969151_

[2022-05-09 18:42] dprotaso commented on #12921
/area API

[2022-05-09 18:54] dprotaso commented on #12867
Might only be in actions - https://github.com/knative/serving/runs/6350655871?check_suite_focus=true

[2022-05-10 08:42] kky-fury opened #12924 "Help with Knative Code for our Usecase"
## Ask your question here:

We are studying FaaS performance by closely replicating a production environment of a CSP using Kubernetes with Knative Serving, Containerd as the Container Runtime Interface, and OCI-compliant Kata runtime to invoke Firecracker instances. As part of our experiment, we need to control the microVM instances (e.g., pause a microVM instance using kill -s SIGSTOP <pid-of-FC

[2022-05-10 11:52] skonto commented on #12914
@abhinav-g-goyal you can find one [here](https://coreos.slack.com/archives/CF5ANN61F/p1652178271842749).

[2022-05-10 20:54] dprotaso commented on #12778
Yeah

Yeah deletion events remove items from the cache. I guess my point here is we can choose what the keep in the cache vs storing all the secrets.

[2022-05-10 22:29] dprotaso commented on #12912
Closing as dupe

[2022-05-10 22:29] #12912 closed

[2022-05-10 22:50] dprotaso commented on #12571
/triage accepted

Thanks for the deep breakdown everyone -  I think what we really need is a clear signal to distinguish between the Pod shutting down and either container (queue-proxy/user-container) restarting.

I'm not sure that's straightforward. Will dig into this for the next release.

I worry about the setting the timer to nil - because I believe in the case the Pod is shutting down it may

[2022-05-11 00:40] owenthereal commented on #12466
Just bumped into this issue. Would appreciate if there are any examples that you could share @QuickWorkDeveloper @krishadvani. Thanks in advance!

[2022-05-11 06:23] abhinav-g-goyal commented on #12914
@skonto: Could you please post a working sample for PVC that I can reference and try to correct my configuration?

[2022-05-11 08:59] skonto commented on #12921
I think this is supported already: https://github.com/knative/serving/blob/f778a374fb09ae68499e80343eb043b2586ade14/config/core/configmaps/features.yaml#L89?

[2022-05-11 09:06] skonto commented on #12914
@abhinav-g-goyal one that I have used on cloud providers with default storage class is:
[code]

[2022-05-11 09:59] #12581 closed

[2022-05-11 10:38] zhlhahaha opened #12927 "Failed to set Real DNS when trying to binding IP with domain name"
## In what area(s)?
/area networking

## What version of Knative?
v1.4.0

## Expected Behavior
Successfully configure the real dns

## Actual Behavior
When I following the instruction and config `Real DNS` https://knative.dev/docs/install/yaml-install/serving/install-serving-with-yaml/#configure-dns
and run following command
[code]

It failed with following message:
[code]

## Steps to Reproduce t

[2022-05-11 10:56] skonto commented on #12840
Hi, we support different metrics/tracing backends based on the opencensus client libs eg. prometheus, openecensus. So my understanding is that we just dont add anything specific for Prometheus.

[2022-05-11 16:43] cardil opened #12932 "Deprecates `max-scale`/`min-scale` for more consistent naming"
/area API
/area autoscale
/kind cleanup

## Actual Behavior

The `max-scale` and `min-scale` annotation has been introduced in https://github.com/knative/serving/issues/12103 alignment. The client was using those names, but recently this changed to the inverse - https://github.com/knative/client/pull/958. This leads to confusion on docs, and UX as seen in: https://github.com/knative/docs/issues/49

[2022-05-11 22:46] lichenran1234 commented on #12891
@dprotaso could you please take a look at __Feature Request 4__ here? If it makes sense, I'll go ahead and implement it first.

[2022-05-12 05:17] abhinav-g-goyal commented on #12914
Clarification @skonto : The serving YAML is having relative values, since I could not post the actual path here on public forum. We are actually using absolute path.

[2022-05-12 06:00] abhinav-g-goyal commented on #12914
@skonto :
I did make sure the feature flags are **enabled** as seen below:
[code]
I deployed the PVC in default namespace but it got created as below:
[code]
I deployed the following Service.yaml as a simple example:
[code]

In the end, I still got the same error:
[code]

[2022-05-12 08:53] zhlhahaha commented on #12927
Thanks @psschwei
I followed the instruction in https://askubuntu.com/questions/1029882/how-can-i-set-up-local-wildcard-127-0-0-1-domain-resolution-on-18-04-20-04 to config the wildcard.
And then tried your suggestion, the DNS seems work. I can `curl http://helloworld-go.default.knative.example.com` and get correct response on the host.

[2022-05-12 08:54] #12927 closed

[2022-05-12 17:36] #12904 closed

[2022-05-12 17:49] dprotaso commented on #12932
/triage accepted

These are the default keys

https://github.com/knative/serving/blob/fd6b191fe3512af761ba2a39c7cfffce7af97a49/pkg/apis/autoscaling/register.go#L44-L52

But we support multiple keys and lookup is done using a priority defined here:

https://github.com/knative/serving/blob/fd6b191fe3512af761ba2a39c7cfffce7af97a49/pkg/apis/autoscaling/register.go#L240-L243

https://github.com/knative

[2022-05-12 18:39] dprotaso commented on #12921
looks whoops - you're right

[2022-05-12 18:39] #12921 closed

[2022-05-12 19:33] mcquadros opened #12935 "Does Knative supports istio using external-control plane?"
Hi, I'm trying to find out if it's possible to use Knative on an installation where the Istio control plane resides on an external cluster.
Basically, the cluster that I will run my knservices will only have a MutatingWebhookConfiguration pointing to the external cluster (control-plane). So when creating a knservice, the istio resources must be created on the external cluster as the current cluste

[2022-05-13 09:08] skonto commented on #12024
/remove-lifecycle stale

[2022-05-13 10:45] amio opened #12936 "What's the minimum supported Kubernetes version for v1.0.x and v1.1.x?"
I can't find these info on release pages:
https://github.com/knative/serving/releases/tag/knative-v1.1.4
https://github.com/knative/serving/releases/tag/knative-v1.1.3
https://github.com/knative/serving/releases/tag/knative-v1.1.2
https://github.com/knative/serving/releases/tag/knative-v1.1.1
https://github.com/knative/serving/releases/tag/knative-v1.1.0
https://github.com/knative/serving/releases

[2022-05-13 11:50] psschwei commented on #12936
For both, the minimum Kubernetes version is v1.20:

* https://github.com/knative/docs/blob/release-1.0/docs/snippets/prerequisites.md
* https://knative.dev/v1.1-docs/install/serving/install-serving-with-yaml/#prerequisites

[2022-05-13 12:16] nak3 commented on #12936
FYI: You can also refer to this https://github.com/knative/community/blob/main/mechanics/RELEASE-SCHEDULE.md, although it is better to check Paul's link as it is official doc.

[2022-05-13 14:04] amio commented on #12936
Oh that's nice, thanks!

[2022-05-13 14:04] #12936 closed

[2022-05-13 14:15] nader-ziada commented on #12891
option 4 being able to set the queue size in QueueProxy makes sense to me, but I believe there should be limits on it. The queue proxy is supposed to be a small buffer and if this got too big, it could have a negative impact on performance

[2022-05-13 16:02] dimara commented on #12538
We have bumped into this issue as well when **draining a node**. Isn't this considered a bug, since the created Service uses 100% the latest revision?
[code]

Note, that with this behavior even though that at the end of the day we have the expected result, in the mean time, if we use "fat" predictors, this can trigger **node scale-up** which is totally undesired.

## How to reproduce

We use Knati

[2022-05-13 16:17] dimara commented on #12917
Any news on this? @mattmoor What is the rational for creating ExternalName services with ports (see https://github.com/knative/serving/commit/09986741f0bc6e369ed99370728ad715054656d5)? Should we consider the observed behavior an Istio bug, that is the fact that ExternalName services with ports are handled differently and we end up with tons of DNS queries from Istio sidecars?

[2022-05-13 16:20] phunghaduong99 opened #12939 "Does Knative support seperate queue-proxy with auto-scaling?"
I want to custom my auto scaling by monitoring latency of queue-proxy metrics, but first i cannot turn off auto-scaling in Knative default, so I cannot apply my scaler. Any ideas? What I need is a latency of queue-proxy metrics which is injected in user container.

[2022-05-13 17:28] lichenran1234 commented on #12891
@nader-ziada do you think capping the queue size at `100 * env.ContainerConcurrency` makes sense?

So the proposed change is, at [this line](https://sourcegraph.com/github.com/knative/serving@f4ea3ac779621ea133a78a746525f6c6ca9947de/-/blob/cmd/queue/main.go?L326), set the queueDepth to `X` * env.ContainerConcurrency:
* X = 10 by default
* users can override X
* X is capped at 100 if user tries to

[2022-05-15 01:52] psschwei commented on #11717
/lifecycle frozen

[2022-05-16 13:38] mbrancato opened #12940 "Allow liveness probes via queue-proxy when listening on localhost"
## Describe the feature

Currently, all liveness probes are sent to the service container, which is expected to be listening on `0.0.0.0` on the container port. There is no reason that the service container needs to listen on all interfaces if all traffic is to be proxied via `queue-proxy` anyway. It would be good to support services that listen on `localhost` and to which `queue-proxy` will proxy

[2022-05-16 14:15] nader-ziada commented on #12891
The queue-proxy is meant to be a small buffer for requests, allowing the Activator to have a clear signal that a request has been accepted for processing. So I worry that 100 might be too much.

@dprotaso @psschwei  wdyt?

[2022-05-16 18:40] nader-ziada commented on #11126
/assign

[2022-05-17 06:00] Shashankft9 commented on #12480
/reopen
/assign

[2022-05-17 18:28] nader-ziada commented on #8377
/reopen

/lifecycle frozen

[2022-05-17 19:19] bradenwright commented on #12581
@JCzz did the above link work for you?  Were you able to find a way to do this.  We're basically trying to setup, https://levelup.gitconnected.com/istio-grpc-web-cert-manager-e212873624d5 but haven't been able to find a way to do it with Knative

[2022-05-18 07:52] skonto commented on #12438
/remove-lifecycle stale

[2022-05-18 08:26] skonto commented on #12914
This a validation error something is wrong with the setup. The service yaml above does not break at my side. It would be nice if you could reproduce this on minikube or via some other way and open a bug with detail steps.
I can't reproduce this from my side, although I have run similar scenarios locally and on cloud providers. I assume here that you installed Knative via the [official docs](https:

[2022-05-18 08:29] skonto commented on #12935
Afaik Istio and related Knative networking resources are created in the current cluster so dont think it is possible. @nak3 may know more here.

[2022-05-18 10:05] shiyan2016 opened #12947 "why queue container readinessProbe httpGet path do not use revision container's readinessProbe path?"
## Ask your question here:
why queue container readinessProbe httpGet path do not use revision container's readinessProbe path?

[2022-05-19 06:48] psschwei commented on #12932
Thanks very much! You should be able to type `/assign @rtnpro` in a comment to assign yourself to the issue

[2022-05-20 11:27] kky-fury commented on #12924
Hi, Thank you. I will try it out.

[2022-05-20 20:33] psschwei commented on #12924
The freeze proxy work has moved to https://github.com/knative-sandbox/container-freezer

[2022-05-20 21:57] nader-ziada commented on #12939
Its currently not a supported option to remove autoscaling, its a required component of knative serving

[2022-05-20 21:59] nader-ziada commented on #12947
The queue-proxy exposes its own readinessProbe and in turn calls/checks the app container readinessProbe

[2022-05-20 22:57] lichenran1234 commented on #12891
@nader-ziada @dprotaso @psschwei thanks for all the comments! Is it possible for us to get on a call with you guys? We just hope to facilitate the discussion. If you guys think this feature request makes sense, we'll start to implement it in Knative. Otherwise we'll think of another way (for example, we can develop our own "QueueProxy" inside the user container).

[2022-05-21 04:31] aditya2803 commented on #11365
@JackSilk were you able to solve this ?

[2022-05-21 12:37] JCzz commented on #12581
Hi @bradenwright Sorry, I found no solution - please post if you find something :-) I will be coming back to this issue in two weeks time, hope someone will come up with something.

[2022-05-22 19:04] ddelange commented on #8320
Hi @mattmoor! 👋

With the recent push for `linux/arm64` hardware, are there any plans or aspirations to start pushing multi-arch images and allow scheduling on arm-based nodes in the manifests [similar to istio](https://github.com/istio/istio/blob/1.13.4/operator/cmd/mesh/testdata/manifest-generate/output/ingressgateway_k8s_settings.golden.yaml#L41-L74)?

[2022-05-22 19:13] mattmoor commented on #8320
IIRC Knative publishes multi-arch images for ~5 architectures.  Historically the main limiting factor for serving has been where the ingress layer supports (typically limited by Envoy).  I've been running Knative serving on arm64 for almost 2 years (basically since Envoy had an arm64 build), so it definitely works.

[2022-05-22 19:30] ddelange commented on #8320
Thanks for the quick response! The question came up for me (getting into `KServing`) when I  applied the manifests from https://github.com/knative/docs/blob/release-1.4/docs/install/yaml-install/serving/install-serving-with-yaml.md.

For future readers: I now indeed see `arm64` [images on gcr.io](https://console.cloud.google.com/gcr/images/knative-releases/global/knative.dev%2Fserving%2Fcmd%2Facti

[2022-05-22 22:37] nader-ziada commented on #12891
Hi @lichenran1234

I personally think this might cause performance issues in the queue-proxy if the buffer becomes too big, 100 feels like too much, but can't tell for sure without actual measurements.

Anyways, it would be great if you can join the core-api working group call on Wednesdays and discuss with everyone, more info about the working group here:
https://github.com/knative/community/blob

[2022-05-23 13:55] psschwei commented on #12891
+1 to discussing at the serving WG call

@nader-ziada do either the kperf or mako CI tests generate the appropriate data to benchmark the upper bound?

[2022-05-24 19:48] nader-ziada commented on #12634
@dprotaso enable it to be taken into account by the timeout handler? what happens if its disabled, the behaviour uses the MaxDuration only and ignore first byte response?

[2022-05-24 21:30] evankanderson commented on #12634
I'm also wondering about the plan -- do we mean a feature flag that makes `timeoutSeconds` mean `timeoutOnResponseStart`, or a feature-flag for a _new_ parameter (`idleTimeoutSeconds` or `startResponseTimeout`)?

[2022-05-25 16:48] j-land opened #12966 "Autoscaling to zero is broken"
## In what area(s)?
/area autoscale

## What version of Knative?
1.3.2

## Expected Behavior
Knative Service is scaled down after not receiving traffic for an extended period of time.

## Actual Behavior
Knative Service is NOT scaled down after not receiving traffic for an extended period of time.

Autoscaler logs indicate that the stable rps for the revision bounces between zero and non-zero:
[co

[2022-05-25 17:46] psschwei commented on #12966
I was able to reproduce the issue with Serving v1.3.2. However, with Serving v1.4.0 scale to zero worked as expected. Would you be able to upgrade your Knative version?

(both times tested on k8s v1.23.6 using kourier networking layer)

[2022-05-25 17:50] j-land commented on #12966
Appreciate you taking the time to reproduce. Unfortunately, upgrading to 1.4.0 isn't an option right now because of the minimum k8s version of 1.22 (currently running 1.21).

Also using kourier FWIW

[2022-05-25 19:03] j-land commented on #12966
This annotation seems to have done the trick! Thanks for pointing this out.

[2022-05-25 19:20] nader-ziada commented on #12634
so here is my proposal:

Based on the user choice, the timeout handler would use the FirstByte or MaxDuration.

and I think since the MaxDuration seems to be the more common use case, we can make it the default, but at the same time allow the user to choose FirstByte if needed.

This new behaviour can start behind a feature gate for a release or two, then be on by default.

We can allow the user t

[2022-05-25 19:20] psschwei commented on #12966
Awesome, glad it worked!

Going to close this issue... feel free to reopen if the problem comes back.

[2022-05-25 19:20] #12966 closed

[2022-05-25 19:26] dprotaso commented on #12634
Circling back - our timeout to first byte logic is currently broken for web sockets. When using web sockets the connection will remain open for `Timeout` duration - which conforms to what the spec originally had.

user reported issue: https://knative.slack.com/archives/CA9RHBGJX/p1645566907713149

This simplifies the original plan since the earlier concern we had was about breaking compatibility w

[2022-05-25 20:33] dprotaso commented on #12634
Nader is going to drive this for the 1.6 release

/assign @nader-ziada
/unassign @dprotaso

[2022-05-25 21:22] dprotaso commented on #8320
some more details about `ko` which does the multi-arch builds

https://kubesimplify.com/getting-started-with-ko-a-fast-container-image-builder-for-your-go-applications

[2022-05-25 21:28] dprotaso commented on #10253
I'm going to close this out - K8s audit logs can provide the granularity you're looking for without the need to modify the Knative API

https://kubernetes.io/docs/tasks/debug/debug-cluster/audit/

[2022-05-25 21:28] #10253 closed

[2022-05-26 00:35] xtaje commented on #12799
Here's a step-by-step tutorial for kind based on these comments https://github.com/knative/docs/pull/4948

[2022-05-26 13:02] ajp-lsq opened #12969 "Switch tracing service name to be ServingRevision rather than ServingPod in queue-proxy"
## Describe the feature
Currently, queue-proxy uses the pod name as the service name in the traces it sends out. Link to line where this happens here:
https://github.com/knative/serving/blob/33dbc31dd93d4ec1aed2d026d3763fb81a1cc807/cmd/queue/main.go#L357

This is hard-coded and unchangeable. In a realistic APM scenario, this create a proliferation of thousands of service in the APM UI which create

[2022-05-27 03:34] joshuasimon-taulia commented on #6895
for those of us with a security policy that does not allow secrets on the pod filesystem, how do we properly set up workload identity to fix `failed to resolve image to digest`?

creating a workload identity binding and manually annotating the `controller` service account seems to work
[code]
but i'm assuming the operator will eventually reconcile and blow the annotation away. https://github.com/k

[2022-05-27 15:41] psschwei commented on #12969
Do you have a sample of this you could post, to help illustrate the issue?  (not questioning whether this is an issue, it would just help me see the problem a bit more clearly)

[2022-05-27 17:25] yuzisun opened #12971 "Allow rolling upgrade during progressive rollout"
## Describe the feature
currently every time knative does rollout for a new revision it requires 2x resources when minReplica is set for a short time of period and then release the resource required for running the old revision after it is scaled down, this is a problem for platform that are enabled with resource quota and user has to budget 2x resources to run the service, it becomes a bigger pro

[2022-05-27 20:59] qldong commented on #12387
I'm on @adriangudas 's team and we've been testing this issue on knative version `1.4.0`. The issue still persists.
[code]
The application we're testing against has not changed since last time, and was unchanged from when we were using knative `0.24`, but the issue started happening when we tried to upgrade knative to newer versions.

[2022-05-27 21:11] psschwei commented on #12971
Not sure if this exactly solves your issue, but it is possible to [configure a gradual rollout](https://knative.dev/docs/serving/rolling-out-latest-revision/).

I've seen a couple of issues come up around this topic (for example, #12551 #12859), so probably something we should look into.

[2022-05-27 22:57] lookis commented on #11997
hello, any update on this? @julz @mattmoor @jwcesign @lizzzcai

[2022-05-28 15:09] psschwei commented on #12932
/assign @rtnpro

[2022-05-28 17:37] Mgla96 opened #12973 "Support parsing Host header/name in request when it contains a port"
## What version of Knative?

Output of `git describe --dirty`
knative-v1.4.0-56-g33dbc31dd-dirty

## Expected Behavior

A Host request header/name may be of the form "host:port", so we'd expect a request containing a Host header/name with the port defined explicitly such as
`http://m-28zgfnnfuq233qi52qfrwglzf7w-predictor-default-00001.testing.svc.cluster.local:80` to be parsed for its name and nam

[2022-05-29 11:04] yuzisun commented on #12971
unfortunately the current implementation of progressive rollout does not help when `minReplica` is set. For example if you set minReplica to 10 with 1 GPU for each replica then you need 20 GPUs for the rollout as progressive rollout does not kick in until `minReplica` requirement is fullfilled.

Checking the code [here](https://github.com/knative/serving/blob/main/pkg/reconciler/autoscaling/kpa/kp

[2022-05-29 21:03] JackSilk commented on #11365
@aditya2803 No. Unfortunately, in the end we decided we might have been trying to use the wrong technology so moved away from Knative.

[2022-05-30 01:44] jwcesign commented on #11997
@lookis Still in proposal

[2022-05-30 03:21] lookis commented on #11997
exactly the same. I have to use istio VS to route the path for now, but VS doesn't support tls, istio try to support tls under Gateway, DomainMapping support tls, but do not support path routing.

I prefer knative way to deal with it, because I am in a multi tanent situation, which tls cert should belong to each namespace separately.

[2022-05-30 07:15] rtnpro commented on #12932
Hey @psschwei I will need a review here: https://github.com/knative/serving/pull/12972

[2022-05-30 13:17] zhilingc commented on #12188
+1 same issue :/ On knative-serving 1.3.2.

[2022-05-30 14:41] nader-ziada commented on #12728
I think this makes sense, will work on putting back some timeout login in Activator once the [other timeout issues ](#12634 )are sorted out.

/assign

[2022-05-30 16:19] lallema opened #12977 "istio/knative error with net-istio-webhook"
<!-- If you need to report a security issue with Knative, send an email to knative-security@googlegroups.com. --

Hi,
I have an issue when installing knative with istio on my kubernetes cluster (on premise).

knative 1.4.0
istio 1.12.7
kubernetes v1.23.6

istio install is fine.

1 pod is failing for knative:

knative-serving   net-istio-webhook-567bdd4684-njkpn                      0/1     CrashLo

[2022-05-30 16:20] rthenamvar opened #12978 "Installing knative using the quickstart plugin stuck at "Installing knative serving v1.4.0""
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem
## Additional Info
Hello, I'm trying to install knative on a VM running Ubuntu which uses minikube as the Kubernetes cluster. I've followed the knative installation documentation on its website. When I run the plugin using "kn quickstart minikube" here is the resut I get:
[code]
And installation gets stuck there for 2,3 ho

[2022-05-30 16:26] edude03 commented on #12969
I have the same issue and it looks like this in datadog:
<img width="1408" alt="image" src="https://user-images.githubusercontent.com/494483/171031648-fce4cfe0-b3e2-4822-85db-2552df3f076f.png">

essentially, it sees each pod as a new service.

[2022-05-30 17:40] #12973 closed

[2022-05-30 18:14] dprotaso commented on #12971
@yuzisun do you have examples of how you're configuring the traffic blocks - or is it `latestRevision: true`?

Revisions won't be `Ready` until they reach their `min-scale`.  I do wonder if this can be adjusted by adding the [initial scale annotation](https://knative.dev/docs/serving/autoscaling/scale-bounds/#initial-scale) =`1` which might mark the revision `Ready` earlier - causing traffic to sh

[2022-05-30 18:16] dprotaso commented on #12977
This isn't really actionable - please include

1. steps you took
2. details about your target cluster
3.  Any logs

/triage needs-user-input

[2022-05-30 18:18] dprotaso commented on #12978
What's the status of the pods on the Minikube cluster?

ie. `kubectl get pods -A`

for the failed pods - can you `kubectl describe` them

cc @psschwei

[2022-05-30 18:18] dprotaso commented on #12978
/triage needs-user-input

[2022-05-30 18:18] dprotaso commented on #12971
/triage needs-user-input

[2022-05-30 19:23] dprotaso commented on #12969
What I'm curious to know is how these APM tools break down/rollout services and their instances. What would be an analogous example is how would you map traces from a deployment that has multiple pods?

I'm leaning towards making the service name the name of the revision - and the pod name being an 'instance' (not sure exactly how you add this to the trace and have it appear)

Secondly, we probabl

[2022-05-30 19:37] dprotaso commented on #12969
/triage needs-user-input

[2022-05-30 19:51] skonto commented on #12969
Hi one concern with aggregations is the following:  in debugging scenarios people need to link pod info with specific traces? If one in 100 pods fails and there are some request traces that also fail would people be able to make the connection?
As a side note downstream at the Openshift Serverless people still use tracing per pod integrating with Jaeger and other tools directly. It is however nois

[2022-05-30 20:48] dprotaso commented on #12947
To elaborate on what Nader said - the user's container readiness probe is done by our [queue-proxy component](https://github.com/knative/serving/blob/main/docs/scaling/SYSTEM.md#queue-proxy) instead of the kubelet. This allows the queue-proxy to know when it should start rejecting requests and failing readiness.

[2022-05-30 20:48] #12947 closed

[2022-05-30 22:05] rthenamvar commented on #12978
Here is the status of the pods:
[code]
And here is the output of `describe` for one of them:
[code]

[2022-05-31 07:33] rthenamvar commented on #12978
It was a problem with my internet connection. The image couldn't be downloaded from gcr.io which was due to my network's IP address.
Thanks.
I'm gonna close the issue

[2022-05-31 07:33] #12978 closed

[2022-05-31 14:18] dprotaso commented on #11980
/assign @dprotaso

[2022-05-31 18:43] rachitchauhan43 opened #12980 "Installing knative-serving yamls second time without deleting the knative-serving namespace doesn't populate the webhook certs."
## What version of Knative?

## Expected Behavior

This is what I am doing and happening right now:
1. Create a new NS
2. kubectl apply -f on {serving-crds.yaml, serving-core.yaml, net-istio.yaml}
3. Everything works fine
4. Now, do kubectl delete -f on serving-crds.yaml + serving-core.yaml + net-istio.yaml
5. Once everything is cleaned up, i do `kubectl apply -f again in these 3 yamls
6. Everythi

[2022-05-31 21:06] qldong commented on #12387
@dprotaso Let me know if you need help obtaining debug information.

[2022-05-31 21:58] #12859 closed

[2022-06-01 12:02] knative-prow-updater-robot opened #12986 "[flaky] test/e2e.TestHPAAutoscaleUpDownUp"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestHPAAutoscaleUpDownUp
* **Repository name**: serving

[2022-06-02 21:02] psschwei commented on #12980
Is there a reason why you're unable to delete the namespace?

[2022-06-03 00:07] rachitchauhan43 commented on #12980
@psschwei : At our org, k8s is managed service by a central team. Although, it's possible to delete that and re-create but it does make the whole process tedious as I have to move out of kustomize framework to do so to use their own cli/tools.

[2022-06-03 08:35] hanwgyu commented on #12734
@nader-ziada

Even if all pods were busy, the remaining requests were not sent to some pods.

In the above test, there are 5 pods, and each pod processes 10 rps. Total traffic that can be handled is 50 rps.
On client side, I sent 100 rps using `hey`.

[2022-06-03 08:54] hanwgyu commented on #12728
@nader-ziada Great! I'm looking forward to it!

[2022-06-03 10:17] Morriz opened #12989 "knative operator to serving version mapping?"
## Ask your question here:

Hi, we don't see any documentation on which knative-serving resources are supported by the operator, and assumed that it would be one-on-one compatible. However, they are not and it is confusing:

| operator version | serving version | compatible? |
| --- | --- | --- |
| 1.4.1 | 1.4.1 | NO |
| 1.4.1 | 1.4.0 | YES |
| 1.3.2 | 1.3.2 | NO |
| 1.3.2 | 1.3.1 | YES |

Can we

[2022-06-03 12:02] knative-prow-updater-robot opened #12995 "[flaky] test/conformance/api/v1.TestServiceCreateAndUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceCreateAndUpdate
* **Repository name**: serving

[2022-06-03 13:21] psschwei commented on #12533
/remove-lifecycle stale

[2022-06-03 13:46] owenthereal commented on #12533
👋 I ran into the issue of https://github.com/knative/serving/issues/12466 and follow it through here. Is there an ETA for this? Thanks!

[2022-06-03 16:40] bradenwright opened #12996 "Allow grpc-web ports"
## Describe the feature

In the Knative Resource `Service` it only supports 2 types of ports `h2c`, `http`.  This generates the name on the K8s `Service`, grpc-web is a "special" name that's recognized by Istio so you don't have to create an EnvoyFilter, see [PR Link](https://github.com/istio/istio/pull/10064) for the fix, it also came up on a question from this working example [Istio grpc-web Exa

[2022-06-03 21:23] psschwei commented on #12980
Just to add a little more detail here: when the `serving-core.yaml` file is applied, it initially creates an empty secret with for the webhook certs, then as part of [its reconciliation loop](https://github.com/knative/pkg/blob/9ffe192ee640d019981df808a81602d197753906/webhook/certificates/certificates.go#L55-L61) the certs are populated into the secret once the [leaderelection lease is acquired](h

[2022-06-04 01:29] #12588 closed

[2022-06-05 01:29] #12551 closed

[2022-06-06 12:02] knative-prow-updater-robot opened #12997 "[flaky] test/e2e.TestMinScale"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestMinScale
* **Repository name**: serving

[2022-06-07 13:11] ddelange opened #12999 "runtimeClassName Extension flag not honoured"
## What version of Knative?

## Expected Behavior

I've enabled all relevant feature flags:
[code]

I've tested the feature flags with a tolerations spec:

[code]
this passes admission and a Deployment is created and scheduled on my GPU node.

Now I delete the service, and want to amend the spec with a runtimeClass which [specifies](https://github.com/kubernetes/kops/blob/fe4f1fbfb14b66a9929ca2142

[2022-06-07 13:45] dprotaso commented on #12999
Yeah it's a typo in the docs - thanks for the fix

[2022-06-07 13:45] #12999 closed

[2022-06-07 17:42] bradenwright commented on #12996
Just checking in on this

[2022-06-07 18:35] nader-ziada opened #13002 "Visualization of performance tests results"
/area test-and-release

## Describe the feature

Background:
- The old Knative performance testing framework was based on Mako, which is not open to accept data from non-Google developers, making it not possible for community members to run benchmark tests.
- This got replaced with some perf tests running on [kperf](https://github.com/knative-sandbox/kperf) and the old suite using `Mako` running a

[2022-06-07 18:36] nader-ziada commented on #13002
/assign

[2022-06-08 01:30] #12601 closed

[2022-06-08 03:40] lichenran1234 commented on #12891
@nader-ziada @psschwei Thanks! We'll join the Serving & Networking WG call tomorrow morning at 9:30 PST

[2022-06-08 23:51] lichenran1234 commented on #12891
@dprotaso summary of our discussion in the Knative Serving Working Group meeting today:

Reasons we want to make the queue-proxy queue size configurable (currently it's hard coded to be 10 * container-concurrency):
* we would like to remove the activator from the request path to only queue the requests inside the queue-proxy. Because we are running different customer's workloads inside the same cl

[2022-06-09 00:29] psschwei commented on #12891
I had a fleeting thought that we might want to consider putting this change behind a gate (sort of like how we do with `enable-scale-to-zero`). I could see a scenario where some platform team might not want to give users the ability to grow the queue for fear of a similar growth in support tickets... though on second thought there's already plenty of ways for users to get into that kind of trouble

[2022-06-09 20:16] dprotaso commented on #12891
I was thinking about this earlier - I think it might makes sense to introduce this as an operator only knob.

ie. they configure a property in `config-deployment` config map
https://github.com/knative/serving/blob/main/config/core/configmaps/deployment.yaml

[2022-06-09 20:39] dprotaso commented on #12387
I prodded the upstream golang issue - https://github.com/golang/go/issues/40747#issuecomment-1112810498

we leverage the `httputil.ReverseProxy` - it would be nice if they could fix this upstream.

[2022-06-10 02:07] guogregory777 commented on #8038
million thanks！

[2022-06-10 18:54] spaghettifunk commented on #7382
I think I found the answer given by yourself @Sharathmk99 on [Stackoverflow](https://stackoverflow.com/questions/60848031/knative-ambassador-ingress)

[code]

[2022-06-10 19:01] howespt opened #13023 "Knative scaling envelope"
/area scaling
/area monitoring
/area networking

**Main question: Are there any official or anecdotal accounts of how knative scales?**

### Background

We have been running knative serving in production now for around one year, and I've got to thinking how will it continue to scale as the number of knative services in our cluster grows. Currently we have ~1000 services, each gets aggressively gar

[2022-06-10 21:05] yuzisun commented on #12971
@dprotaso I have tested out [initial scale annotation](https://knative.dev/docs/serving/autoscaling/scale-bounds/#initial-scale) it does not mark the revision Ready earlier as the larger of initial scale and lower bound is chosen as the initial target scale.

[2022-06-12 13:44] spaghettifunk opened #13024 "Integration with Argo Rollouts"
/area API
/area monitoring
/kind spec

## Ask your question here:

Hey folks! In my setup I'm using Argo Rollouts to rollout different applications. I combine it with ArgoCD as well to take full advantage of GitOps. I've been playing around with the Canary, Blue/Green deployment of the `Service` CRD of Knative Serving but I was wondering if there was a way to leverage Argo Rollouts instead of the

[2022-06-12 18:29] mattmoor commented on #10765
To clarify, the behavior is to hang **_if the activator is in the request path_**.

I just ran a setup with `target-burst-capacity: 0` configured globally, and was startled that timing out (the behavior with TBC=200) was a conformance requirement. 🤔

Given the following comment, I am inclined to relax things to "requests fail", so that conformance doesn't have a hard requirement that things match

[2022-06-12 22:30] mattmoor opened #13028 "`h2c` services aren't scaling to zero"
/area autoscale

## What version of Knative?

1.4

## Expected Behavior

Unroutable revisions scale to zero (even with `minScale`).

## Actual Behavior

I see pods for most of our revisions.

## Steps to Reproduce the Problem

Not entirely clear how we got into this state, since it just started happening.

I see the following in the autoscaler logs, which would indicate that maybe this is an http/

[2022-06-12 22:48] mattmoor commented on #13028
The `scaler` uses the following transport for probing: https://github.com/knative/serving/blob/2f7b6dbeaf252f736c272d77be7e839db8bb30ab/pkg/reconciler/autoscaling/kpa/scaler.go#L99

This is a wrapper around an "auto" transport: https://github.com/knative/serving/blob/2f7b6dbeaf252f736c272d77be7e839db8bb30ab/vendor/knative.dev/pkg/network/transports.go#L143-L149

Which chooses the transport based o

[2022-06-12 22:54] mattmoor commented on #13028
Also notable is that we do incorporate the protocol (in a sense) when we are calculating the target address here: https://github.com/knative/serving/blob/2f7b6dbeaf252f736c272d77be7e839db8bb30ab/pkg/reconciler/autoscaling/kpa/scaler.go#L124-L130

However, this doesn't actually influence the request's `Proto` field, or the transport used.

[2022-06-13 06:23] SharpEdgeMarshall commented on #12593
This should be reopened it's an actual bug hitting production workloads

[2022-06-13 21:04] pramenn opened #13033 "net-contour: rate limiting in contour HTTP Proxy spec"
## Describe the feature
I am currently using net contour controller [config](https://github.com/knative/net-contour/releases/download/knative-v1.3.0/net-contour.yaml)  which does not support enabling rate limiting in contour HTTP Proxy spec for my knative services.

Http Proxy with global rate limiting example: https://projectcontour.io/docs/v1.21.0/config/rate-limiting/#global-rate-limiting
Conto

[2022-06-13 21:05] pramenn commented on #13033
/area networking

[2022-06-14 01:37] nak3 commented on #13033
This is related to https://github.com/knative-sandbox/net-kourier/pull/759 (rate limiting for net-kourier).

What I am still debating is whether we should add it as a common API or not.
I keep watching Gateway API's discussion https://github.com/kubernetes-sigs/gateway-api/issues/326 (as we will use the API in the future), but they also do not have the conclusion yet.

[2022-06-14 08:39] salaboy commented on #13024
@spaghettifunk I am interested in this use case, as I am looking at something similar.

Can you please provide more information about the expected behaviour that you are aiming to achieve?
I wonder if all you need is a way for Argo Rollouts to tell Knative Serving to just roll back a revision when it matches one of the rules. Can you please share some examples of those rules ?

[2022-06-14 09:51] spaghettifunk commented on #13024
Hey @salaboy and thanks for the interest in this 😄

From my point of view, what good-behaviour-looks-like is the fact that Argo Rollouts takes care of the Canary/Blue-Green deployment strategy since it has already implemented several mechanisms for traffic management, Experiments, Rollback based on metrics, Rollout abortion, etc. Rules can be defined as explained in the [doc](https://argoproj.gith

[2022-06-14 14:40] haubenr opened #13034 "e2e tests are failing for older release (1.2 to 1.4) due to backlevel dependency on knative/hack"
The serving e2e *release* tests are failing due to a backlevel dependency on `knative/hack`.

With a recent infrastructure update, the Go version has been bumped to a newer version which doesn't support `go get` outside of modules anymore (deprecated in favor of `go install`). Older serving releases (branches: `release-1.2`, `release-1.3`, `release-1.4`) do have a dependency on `knative/hack` whic

[2022-06-14 16:56] pramenn commented on #13033
@nak3 Thanks.

PR you shared is for `net-kourier`, how about `net-contour`? Besides, PR only supports local rate limiting, is implementing global rate limiting on the roadmap?

[2022-06-14 18:52] marcjimz opened #13036 "Garbage collection not running"
/area autoscale

/king process

We're looking to clean up stale revisions on our cluster but notice even with the GC settings set per the documentation, that many revisions still exist.

We're running on Knative 1.1 and are upgrading to 1.5.

Current spec:

[code]

However if I inspect one of our applications, we see 6 generations of revisions with only one active.

What am I missing?

[code]

[2022-06-14 20:06] evankanderson commented on #10765
I'm slightly confused by conformance having anything to say about "curl the pod", since conformance shouldn't talk about Pods at all (and some implementations don't have them).

In fact, I don't see why this is in the conformance tests at all, and it seems entirely conformant to start a second pod if the first pod is reporting not ready.

[2022-06-14 20:10] evankanderson commented on #12686
This is still blocking domain-mapping GA.

[2022-06-15 03:03] tidunguyen commented on #13036
I'm experiencing the same issue. When I check all revisions, seems like all of them are still active even though there is no traffic routing to them. As a result, garbage collection does not run on those active revisions.

<details open>
  <summary>Here is the command I used to check</summary>

[code]
</details>

Should revisions except the latest be set to inactive? If not, when and how to set a

[2022-06-15 03:05] marcjimz commented on #13036
I was able to resolve this. I had to restart the controller to see the effects take place and now see the proper revisions in place with knative 1.2.

[2022-06-15 05:39] #13036 closed

[2022-06-15 08:07] skonto commented on #11664
/remove-lifecycle stale

[2022-06-16 17:07] dprotaso commented on #10575
This surfaced again with a user using the following tooling: http://external-secrets.io/v0.5.6/

From slack: https://knative.slack.com/archives/C0186KU7STW/p1655389675950159

[2022-06-16 17:14] dprotaso commented on #10575
/lifecycle frozen
/triage accepted

I believe this will require changes to k8schain https://github.com/google/go-containerregistry/tree/main/pkg/authn/k8schain

And we don't want to tight loop reconciliation if the secret isn't present - so we probably want an exponential fallback until the revision progress deadline passes

[2022-06-16 17:26] dprotaso commented on #13034
As mentioned here: https://github.com/knative/serving/pull/13039#issuecomment-1157936467

We want the necessary changes to be done on the `knative/hack` release branches prior to pulling them into here.

Secondly, there's no way to 'skip' CI when pulling in changes. Thus if we update the hack scripts _only_ automation will detect a change and trigger a new patch release (on Tuesdays).

Maybe we ca

[2022-06-16 19:21] evankanderson commented on #10575
I think there may be two different issues here:

1. If an `imagePullSecret` is missing from the service account, but the remaining secrets are sufficient to resolve the digest, a polite warning / info condition about missing secrets seems sufficient.
2. If an `imagePullSecret` **is** missing from the service account and we're unable to resolve the tag to a digest, we may want to enter a long-term

[2022-06-17 01:29] #12615 closed

[2022-06-17 06:24] carlokok commented on #10575
Note that in my use case (https://github.com/knative/serving/issues/10575#issuecomment-1157924093) I don't use a service account, ExternalSercret pulls azure keyvault secrets and places them directly into a secret:

[code]

From what I can see, the secret just doesn't exist at all when the revision gets pulled and gets updated a while after that (I have a fair amount of secrets, can take several s

[2022-06-17 08:16] haubenr commented on #13034
@dprotaso @upodroid Thanks for letting me know and integrating the relevant change in hack/release-1.2! Can you please do the same for release-1.3 and release-1.4? Both releases are having the same issue basically.

[2022-06-17 10:17] ddelange commented on #3886
Alternatively, currently [available in beta](https://github.com/kubernetes/kubernetes/issues/107598), could knative set the `controller.kubernetes.io/pod-deletion-cost` annotation for pods that are currently handling requests?

[2022-06-17 11:18] lizzzcai opened #13041 "Why restartPolicy is disabled?"
/area API
/kind spec

## Ask your question here:

Hi Knative team, I noticed that [RestartPolicy](https://github.com/knative/serving/blob/f6cb424aaae32f552404d721f72e4e25f1c5925c/pkg/apis/serving/fieldmask.go#L239) in the PodSpec is not allowed to be set in Knative.

And I will get the following error:
[code]
Our user wants to set the `restartPolicy: Never` so that once their pod is failed to star

[2022-06-17 14:10] TimothySutton81 opened #13042 "Knative with Private Docker Regis"
## What version of Knative?

1.5.0

## Expected Behavior
Deploying an image from local docker registry that is in kubernetes cluster along side deployed knative service controller using the knative operator fails with DNS resolution issue.

## Actual Behavior
Knative service controller gets a dns error when fetching the image from local docker repository. This can be worked around by manually edit

[2022-06-17 18:38] dprotaso commented on #13034
hack branches are up to date - I created an issue to allow us to merge changes without triggering a dot release

[2022-06-17 19:37] voor opened #13043 "Predictable Wildcard Certificates per Namespace in autoTLS"
/area networking

## Describe the feature

I am interested in the current [Provisioning certificates per namespace (wildcard certificates)](https://knative.dev/docs/serving/using-auto-tls/#provisioning-certificates-per-namespace-wildcard-certificates) capability, except I would like to leverage it in such a way that:

- I take on responsibility for making sure the secret is there per namespace. Ev

[2022-06-18 01:31] #12221 closed

[2022-06-18 01:31] #12032 closed

[2022-06-18 09:47] voor opened #13044 "use-proxy-protocol in Contour breaks rollouts"
## What version of Knative?

## Expected Behavior

Expect new routes to populate, slowly rolling to the main HTTPProxy route

## Actual Behavior
Stops at first attempt and does not go further

## Steps to Reproduce the Problem
Enable proxy protocol on Contour https://projectcontour.io/guides/proxy-proto/

[2022-06-18 13:47] Si-ren opened #13045 "Internal error occurred: failed calling webhook "webhook.serving.knative.dev": failed to call webhook: Post "https://webhook.knative-serving.svc:443/defaulting?timeout=10s": context deadline exceeded"
## Ask your question here:
**there is an e rror  when  i  create   knative service **
kubernetes:  v1.23.7
Knative Install type : yaml   https://knative.dev/docs/install/yaml-install/serving/install-serving-with-yaml/
network  layer :istio

[code]

----------------env------------------
[code]

----------------kube-api logs-----------------------

[code]

-----------------webhook  logs-------------

[2022-06-18 15:54] evankanderson commented on #13043
It sounds like this is actually working, but the cluster was broken in a different way (proxy protocol was turned on).

@voor -- do we still need this? If not you can `/close`, but I don't want to close this if it's still needed.

Alternatively, is this something that we just need to document better?

[2022-06-18 16:55] voor commented on #13043
The only thing that might make it beneficial to keep this open is to have some way to configure the name of the secret that it's looking for.  Right now if the wildcard domain is `*.subdomain.example.com` then the secret will be `subdomain.example.com` -- but it'd be nice if that could be configurable.

[2022-06-19 12:24] yuzisun commented on #4416
@dprotaso Is this fixed in 1.4? I tested on Knative 1.4 it does not seem to be working.

I can see the error on deployment but not ksvc

[code]
[code]

[2022-06-20 06:50] nak3 commented on #13044
/cc @carlisia @dprotaso

I think net-contour does not support proxy protocol for now. Only net-kourier supports it for now. https://github.com/knative-sandbox/net-kourier#proxy-protocol-configuration.

[2022-06-20 15:37] dprotaso commented on #4416
Yeah - odd - didn't mean to close this

[2022-06-20 19:13] dprotaso opened #13049 "[flaky] TestAutoscaleSustaining/aggregation-weighted-exponential is flakey in kind"
I think the flake is less about the ingress and k8s version and more about kind performance

contour v1.24.0 - https://github.com/knative/serving/actions/runs/2530558198
kourier v1.22.9 - https://github.com/knative/serving/runs/6965685297?check_suite_focus=true

[2022-06-20 20:08] yuzisun commented on #4416
@psschwei any advice how to fix this? We’d like to contribute the fix if possible.

[2022-06-20 21:04] luke-lombardi commented on #13041
Also wondering about this. Is there somewhere else to configure this behavior? Can't seem to be find it in the docs.

[2022-06-20 23:03] yuzisun commented on #4416
seems the deployment status is only propagated if the revision is active?

https://github.com/knative/serving/blob/main/pkg/reconciler/revision/reconcile_resources.go#L75

[2022-06-22 01:30] #12440 closed

[2022-06-22 13:36] salaboy opened #13053 "Knative Service failing to become ready if label is confused with annotation"
While setting an annotation to a Knative Service (that should be a label) the service never gets ready

[code]

[code]

The revision for that new version of the Knative Service shows some issues about not being observable:

[code]
/area networking
/kind bug

## What version of Knative?

1.6.x
With Kourier as ingress

## Expected Behavior

Setting an annotation that is not expected shouldn't break

[2022-06-22 21:56] psschwei commented on #13049
As discussed in the WG today, will disable these tests for a bit (as flakes are probably due to kind), then will further investigate the reason for the flakes.

/assign

[2022-06-22 23:02] rachitchauhan43 commented on #12980
@psschwei : Can this issue be triaged for next release? Or do we know if this is the expected behavior?

[2022-06-23 02:08] psschwei commented on #11308
/lifecycle frozen

[2022-06-23 07:19] salaboy commented on #13053
@psschwei that is interesting.. Do we know why the annotation makes it never be ready when it shouldn't affect the behavior?

Also, 10 mins waiting time to be ready sounds like a lot, but I am guessing that is covering cases were downloading the container might take a lot of time. Are there any other cases where we need to wait for that?

[2022-06-23 14:27] psschwei commented on #13053
At one point in time we did have it much shorter, but it was changed it to be in sync with the default Kubernetes value.

[2022-06-23 17:15] abrennan89 opened #13056 "Define Serving SLIs/SLOs"
@skonto commented on [Tue Jan 12 2021](https://github.com/knative/docs/issues/3140)

**Describe the change you'd like to see**
Organizations are rapidly adopting SLOs (service level objectives) as the foundations of their SRE engineering effort.
The idea is to view services from a user perspective and follow these steps:
- Select metrics that make good SLIs
- Use SLIs to create proper SLOs
- Use t

[2022-06-24 01:31] #12661 closed

[2022-06-24 06:40] ZhengJuCn opened #13057 "Revsion/App metrics like "revision_request_count" drop after it's maxage if no new metric record, so how cound i get total request count"
## In what area(s)?
/area monitoring

## Ask your question here:

query-proxy metrics like revision_request_count drop after it's maxage if no new metric record, so how cound i get total request count

[2022-06-24 12:02] knative-prow-updater-robot opened #13059 "[flaky] kubetest2.Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: kubetest2.Test
* **Repository name**: serving

[2022-06-24 12:02] knative-prow-updater-robot opened #13060 "[flaky] test/upgrade.TestServingUpgrades/DowngradeWith/ServingLatestRelease"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/DowngradeWith/ServingLatestRelease
* **Repository name**: serving

[2022-06-24 20:18] psschwei commented on #13002
Where's the db / dashboard going to live?

[2022-06-27 06:21] xxinran commented on #12474
I'm new to Knative, I'd like to fix this issue and have submitted PR #13061, could you please kindly help review it. I appreciated your comments.

[2022-06-27 10:16] haubenr commented on #13034
Fwiw, for the s390x tests I implemented a workaround that patches the eventing sources with the required knative/hack dependency code prior to actually running the tests (in prow). This is only a temporary thing, though until knative/test-infra#3386 is properly addressed (or the 'old' releases 1.2, 1.3 and 1.4 rotate out of the actual test matrix).

[2022-06-28 06:34] nak3 commented on #12797
This is possible to support if we sign the server certs in activator and queue-proxy by the same CA and SAN.

However, it is better to support different SAN or CA for the server certs on each namespace, which means the support of the encrypted traffic between ingress and queue-proxy is very difficult.

[2022-06-28 17:00] kvmware commented on #13034
Let me know if https://github.com/knative/hack/pull/189 works for you all?

[2022-06-29 07:47] haubenr commented on #13034
@kvmware I'm not sure how to test your changes, tbh. Probably only someone with proper permissions / authorization will be able to do so?

[2022-06-29 08:27] salaboy commented on #13024
@spaghettifunk did you make some progress on scoping out the work that you think we need to do here? Would you mind sharing a google doc link that we can use to brainstorm this?

[2022-06-29 13:52] dprotaso commented on #13034
Afterwards I can trigger this for 1.3 & 1.4

[2022-06-29 18:07] dprotaso commented on #7324
Related PR: https://github.com/knative/serving/pull/13027

If there are no ready activators but ready pod endpoints requests will bypass the activator even if TBC=-1

[2022-06-29 20:36] gbark13 opened #13071 "autoscaler failed to update lock"
/area autoscale

Getting the following error when installing the latest version of Kubeflow (v1.5.0) on GCP GKE, that is using knative/serving v0.22.0.

The error usually happens every couple seconds after the autoscaler pod is up for several minutes without issue.

Same error is mentioned here: https://github.com/knative/serving/issues/11101

Tried updating to knative/serving manually to v0.23.1

[2022-06-29 21:49] sid-hbm commented on #12355
Is it possible to have magic DNS working without Minikube tunnel working? I find the tunnel approach very obsolete. Now you can rung ingress-dns on Minikube and configure you own domain extension (something like: .min or .inf or .my or mine etc... not .local or few other reserved words) and we can create an ingress for a given service and specify what host we want to use for that service (example

[2022-06-30 01:29] #12611 closed

[2022-06-30 10:34] xxinran commented on #11533
/assign xxinran
I'd like to take this one.

[2022-06-30 14:48] psschwei commented on #13071
Does it eventually resolve itself? And does autoscaling work even with those log messages?

Another thing to note is Knative v0.22 went [end of life back in September](https://github.com/knative/community/blob/f17b4bf0a5ef9bf3e4584838e2f691e9d2a580ae/mechanics/RELEASE-SCHEDULE.md?plain=1#L38). Not sure if your Knative was installed separately or as part of Kubeflow, but if it's the latter you migh

[2022-06-30 15:41] gregbarkerdcsg commented on #13071
Thanks for replying.

no

not sure - just noticed all of the errors after deploy

It is via Kubeflow, but we tried upgrading to 0.23.1 with no change in this error. May upgrade again.

Found this issue: https://github.com/knative/serving/issues/11544

Activator doesn't restart constantly, but it does throw errors connecting to autoscaler after autoscaler starts throwing the "failed to update lock"

[2022-06-30 16:01] dprotaso commented on #13034
PRs are out that fix older releases

1.2 https://github.com/knative/serving/pull/13070
1.3 https://github.com/knative/serving/pull/13072
1.4 https://github.com/knative/serving/pull/13073
1.5 https://github.com/knative/serving/pull/13074

[2022-06-30 16:01] #13034 closed

[2022-06-30 16:33] evankanderson commented on #13041
/assign @dprotaso @psschwei

[2022-06-30 17:04] psschwei commented on #13041
I don't think I'd change the default restart policy, as it's probably best not to change defaults from what a user would get in Kubernetes.

Would need to think about whether allowing users to set it makes sense -- gut reaction is "why not?" but would _probably_ be better to have some type of answer to that question...

[2022-06-30 18:50] ddelange opened #13075 "KPA scale-down killing a random pod"
When pods are working hard, a scale down of a Service should not send kill signals to those pods, as it causes unnecessary overhead concerning setup/teardown and puts extra pressure on the system.

Proposal: set `PodDeletionCost` on pods currently handling requests:

Currently [available in beta](https://github.com/kubernetes/kubernetes/issues/107598) since k8s 1.22, could knative temporarily add

[2022-07-01 15:23] spaghettifunk commented on #13024
@salaboy I shared the document with you, but others can view it [here](https://docs.google.com/document/d/1VQmKLN3hm6X67FLXxf_R5A9dOKFTspc5qdIFQU94AkY/edit?usp=sharing). I can add editors those who wants to contribute to it.

[2022-07-01 15:32] CharZhou commented on #12865
asme

[2022-07-01 15:35] psschwei commented on #13075
So in theory this could be done by having the KPA patch the annotation during reconcile, but I wonder if this would hit the frequent update scenario [mentioned as something to avoid in the docs](https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/#pod-deletion-cost)...

Alternatively, there's also the [async component](https://github.com/knative-sandbox/async-component) which can

[2022-07-01 15:36] psschwei commented on #11015
/unassign

[2022-07-02 01:48] georgyo opened #13083 "Websockets do not work with domainmapings by default"
## What version of Knative?

## Expected Behavior

Websockets to work out of the box when using domain mappings. Especially since websockets work with the default endpoints that are created.

## Actual Behavior

Websockets ONLY work with the default auto generated endpoint, and return a 503 when using a domain mapping.

## Steps to Reproduce the Problem

This is very similar to https://github.com/

[2022-07-02 02:58] nak3 commented on #13083
Thank you for the report.

@georgyo Are you using net-kourier? If so, you can use DomainMapping with websockets by adding an annotation described in this docs https://github.com/knative-sandbox/net-kourier#tips (Please note that the it still does not work with NodePort as https://github.com/knative-sandbox/net-kourier/issues/821)

For other net-* plugins like net-istio, net-contour, I think it doe

[2022-07-02 03:28] georgyo commented on #13083
I am using net-istio, and the I can confirm that the snippet in #12601 resolved the issue.

However, I am having trouble grasping why this helps. Specifically, why domainmappings break by default. IE, how/why does the domain mapping change how the request is routed?

In the case of [wrtc-star.default.k.fu.io](https://wrtc-star.default.k.fu.io/) and https://wrtc-star.scalable.io/ both are going to

[2022-07-02 07:43] haubenr commented on #13034
@dprotaso Thanks a lot for driving this! it works fine, the serving tests are up and running again.

[2022-07-02 09:23] ddelange commented on #13075
I think they mean constructs like propagating cpu metrics to the annotation at regular intervals. With a reasonable `stable-window` on the KPA and only patching the annotation before a scaledown would occur like they suggest, the load on kube api is negligible I think?

[2022-07-02 19:06] sid-hbm commented on #2968
is this nip.io (or xip.io) hardcoded somewhere in KNative serving? If I try to use my own custom domain instead of IP_Address.nip.io, it does not work. Why can't we use our own custom domain if that domain is already declared in CoreDns config map?

[2022-07-03 14:30] mattmoor commented on #2968
It is configured in the `config-domain` configmap in `knative-serving`

[2022-07-05 02:36] xxinran opened #13090 "No test options for kourier-only test"
## In what area(s)?

## Ask your question here:
Since `domainmapping with websocket` is only supported by kourier currently #13083 ,  I tried to add test for domainmapping working with websocket #13077 , but I found the test is also triggered by Istio and Contour, which caused test error.  So I think we need another test option like "kourier-only", "isito-only", etc, so that we can skip specified

[2022-07-05 03:15] nak3 commented on #13090
/cc @kvmware @upodroid @dprotaso @psschwei

I considered a few alternative options such as:
- a. Use `--enable-alpha` flag.
  - Not good idea because we have to skip other alpha test if we drop it from an ingress.
- b. Add e2e test into each net-* repo (or only networking conformance test) instead of serving repo until all ingress implement the feature.
  - I think it might be reasonable idea apar

[2022-07-05 07:16] lizzzcai commented on #13041
Hi @evankanderson and @psschwei

We have a use case from user:

I think the above cases need the `restartPolicy`. `progressDeadline` is not working in some situation, see below.

Another feature is something similar to https://github.com/kubernetes/enhancements/pull/3339
we faced a situation where, the user pod crashed internally after startup (in this case, `progressDeadline` is not working). We

[2022-07-05 12:02] knative-prow-updater-robot opened #13091 "[flaky] test/e2e.TestWebSocketBlueGreenRoute"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestWebSocketBlueGreenRoute
* **Repository name**: serving

[2022-07-05 14:58] skonto commented on #12533
Hi @owenthereal community is working on this. Work is being done at the networking level https://github.com/knative-sandbox/net-kourier/pull/852, soon we will have a tracking issue for the rest of the work, but no ETA afaik. /cc @lionelvillard

[2022-07-05 16:55] nainaz commented on #13056
Were we able to measure any of the stuff as mentioned in the comment from @evankanderson
`Data Plane
Serving
Platform admin
Infrastructure-added latency < 20ms
Infrastructure-added latency < 2s (container start)
Efficiency (requests / pods * concurrency)
Developer
Total application latency < X (chosen by app developer)
Successful (2xx+3xx) requests vs total requests
Eventing
Platform Admin
Deliver

[2022-07-05 18:48] giladk1221 commented on #12914
Hi,
Does someone have any update about the issue?
I getting the same problem and don't know how to continue.

I added the relevant extensions in the config map file
I created the same Service YAML like @skonto  and received the same error.

waiting for any update.

Thanks
Gilad

[2022-07-07 02:53] unzld commented on #12484
@holoed did you manage to solve this issue?

[2022-07-07 10:06] xxinran commented on #13090
Thanks for your comments. According to your comments, I am thinking about:
1. add a new flag "run-kourier-only-test" to e2e test.
2. set it to true if `${INGRESS_CLASS}" == "kourier.ingress.networking.knative.dev"`, the default value is `false`.
3. check `run-kourier-only-test` before running domain mapping with websocket test. (we can use this flag in other tests in the future if needed.)

Please

[2022-07-07 10:20] lizzzcai commented on #13041
Good to hear it, thanks!.

[2022-07-07 10:31] ashrafguitoni opened #13096 "When concurrency limit is reached, are requests queued only at the pod level?"
## In what area(s)?
/area autoscale

## Ask your question here:

I would like to know if requests that exceed the capacity of existing replicas in a service (which has `containerConcurrency` set to a non-zero value) get queued inside the pods of those replicas.

I created an example service to try and test this and set `containerConcurrency` to `2`. The application that I'm serving simply sleeps f

[2022-07-07 14:32] JonKusz opened #13097 "Using Istio mTLS with Knative Serving"
## Ask your question here:

I have a question regarding using Istio mTLS with Knative Serving.

After enabling mTLS via the Istio operator, and configuring the AuthorizationPolicy outlined in the official documentation here (adapted for my application of course), everything seems to function correctly, however we see the following autoscaler log.

[code]

There are some Github issues with similar

[2022-07-07 17:19] AngeloDanducci opened #13098 "Community Disussion: Supported service mesh versions in network packages"
/area networking

## Ask your question here:

As Knative continues to mature in a post 1.0 world I have had some questions regarding which versions of service meshes are supported/tested in the net-* packages (net-istio, net-kourier, etc.).  Currently the net-* repos are updated to the most recent release and that's what is tested against.

I would like start a community discussion on if it would

[2022-07-07 20:16] psschwei commented on #13041
So.... good news and bad news.

Good news: we can absolutely expose the `restartPolicy` field.

Bad news: because we're using a deployment, [the only allowed value is `Always`](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#pod-template), so it wouldn't do us any good to expose it.

xref issue on k/k : https://github.com/kubernetes/kubernetes/issues/24725

[2022-07-07 20:17] #13041 closed

[2022-07-08 09:06] infonaresh opened #13099 "failed to resolve image to digest on knative istio-1.5.0 serving-1.4.0 and k8s-1.22"
Hi Team,

I am facing issue after upgrading my Azure k8s version from 1.21.9 to 1.22.6, previously it was working fine with 1.21.9 and Knative was- v0.23.
That old knative version was not supported for my new aks k8s version(1.22.6). that way we have decided to upgrade knative services also.

 Now it's started giving error while pulling api- service images from private azure acr registry .

 error

[2022-07-08 10:47] gunpuz commented on #12438
Any news on PVC file feature? Are there any estimates in which version or when this could be available?

[2022-07-08 11:57] SihengCui commented on #12804
Have you solved this question? I user calico for my cni. It has the same situation.

[2022-07-08 12:02] #13091 closed

[2022-07-08 20:10] szelenka commented on #12917
I'm observing the same issue in Istio without Knative. Seems like an Istio bug IMO

[2022-07-09 01:50] ashrafguitoni commented on #13096
The reason I couldn't get new replicas to help process the pending requests was that I'm sending them to the private service (e.g. `http://my-service-00001-private`) when I should be sending them to the public service (e.g. `http://my-service.default.svc.cluster.local`).

Perhaps it was me who missed this, but it should be mentioned a bit more in the documentation pages of autoscaling and load-bal

[2022-07-09 01:50] #13096 closed

[2022-07-09 10:32] chrismellard opened #13101 "DomainMapping to Knative Service fails with upstream connect error"
## What version of Knative?

1.5

## Expected Behavior

Creating a DomainMapping to a Knative Service allows access via the ingress gateway over a basic HTTP connection

## Actual Behavior

The connection cannot be made and reports `upstream connect error or disconnect/reset before headers. reset reason: connection failure, transport failure reason: delayed connect error: 111` in the browser.

Add

[2022-07-09 23:24] chrismellard commented on #13101
Doing a bit more testing around this. The errors reported by envoy are the same even when I define the DomainMapping with a garbage non-existent Addressable

[2022-07-09 23:50] chrismellard commented on #13101
More testing reveals that targeting the Revision service directly works ok. i.e.

[code]

[2022-07-10 10:58] chrismellard commented on #13101
In case anyone else finds themselves here I ultimately found the issue was a configuration problem. It wasn't immediately obvious until I went digging in to what Envoy was targeting as an upstream for a DomainMapping but it turns out that it was the local gateway (I had naively assumed it would have no use of the local gateway if it was coming in via the Istio ingress). Given I hadn't taken the ti

[2022-07-10 10:58] #13101 closed

[2022-07-11 03:12] wuyafang opened #13102 "Can knative pass root cause of error into the conditions of knative service resource?"
## Ask your question here:

I found that I usually don't get the root cause of error in the conditions of my knative service.
For example, when I export a wrong port for my container，the pod status has the root cause which shows queue-proxy error due to invalid user port，but I can't get such information from the ksvc resource, which only shows RevisionMissing and tells me "the configuration xxxx i

[2022-07-11 09:42] ashrafguitoni commented on #8471
Looking forward to seeing this feature!

[2022-07-11 12:02] knative-prow-updater-robot opened #13108 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/ProbeTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/ProbeTest
* **Repository name**: serving

[2022-07-11 12:02] knative-prow-updater-robot opened #13109 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest
* **Repository name**: serving

[2022-07-11 12:02] knative-prow-updater-robot opened #13110 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingTest
* **Repository name**: serving

[2022-07-11 20:32] psschwei commented on #13090
I think the approach in general makes sense. For no. 3, I wonder if it would make sense to put the test in its own directory so it could be called directly (similar to how we do with the [initscale test](https://github.com/knative/serving/blob/dd10cc52040ff08feaea5ade8ff267200cbe4cfe/test/e2e-tests.sh#L92-L94))?

[2022-07-11 21:35] #11980 closed

[2022-07-11 21:49] dprotaso commented on #12634
With https://github.com/knative/serving/issues/11980 we should now be able to make the necessary changes for 1.7

[2022-07-11 22:00] dprotaso commented on #13090
I think we could make it more generic with an `-ingress-class` flag [here](https://github.com/knative/serving/blob/main/test/e2e_flags.go) and set it to `$INGRESS_CLASS`

Then only run the test if it's kourier and explicitly skip otherwise

ie.

[code]

We should also add tracking issues for Istio & Contour

[2022-07-11 22:38] psschwei commented on #13090
Dave's idea is much better... do that instead of what I said :smile:

[2022-07-12 01:49] #13102 closed

[2022-07-12 02:00] wuyafang commented on #4557
` And if we can find a way to let people continue to live at the "ksvc" level and not drop down into deployments/rs/pods to see there was an error, that would be great.`

This is exactly what we want. Is there anyone working on this now?

[2022-07-12 08:19] faxioman commented on #12571
I see @dprotaso changed the milestone for this issue to v1.7.0 but I was wondering if anyone is aware of a workaround, as @langelini-photosi is also asking. I think this issue make impossible to use all the 1.x versions in a production environment.

[2022-07-12 10:11] xxinran commented on #13090
Yeah, thanks for your suggestions, I will submit a PR for this.
/assign

[2022-07-12 12:02] #13060 closed

[2022-07-12 14:31] pbenini commented on #12571
It would be very interesting to know how google cloud got around this issue.

I tried a quick setup of cloud run for anthos and I have seen that it does not present this issue.

Anyway, on cloud run for anthos they provide their own queue-proxy: gke.gcr.io/knative/queue@sha256:2148fc4af5f5cda0594d97c3027b316bcba3c8f400d3d57087807f90e80641d3

I tried to use this queue-proxy image on my knative 1.3.

[2022-07-12 15:24] dprotaso commented on #12571
Hey @faxioman - the 1.6 release is today. I'll be taking a look at this for 1.7.

Google's Cloud Run is a separate implementation and they've stopped contributing to upstream

[2022-07-12 15:36] faxioman commented on #12571
Thanks @dprotaso!
Until then ... if anyone knows a workaround is well accepted.
Currently we found only a "workaround": to convince the developers to build services where the liveness never fails ... 😅

[2022-07-13 04:57] nak3 commented on #13098
Thank you for opening this. I want to confirm one thing at the beginning.
The support of `net-*`'s `N` and `N-1` minor versions is requested but your actual goal is to support multiple Istio vesions? - i.e. If serving v1.6 and net-istio v1.6 tests Istio 1.14.1 and 1.13.5, it is also fine to you?

[2022-07-13 10:51] davidhadas opened #13118 "Queue Proxy Extensions"
## Describe the feature
QP Extendability to enable Workload Runtime Plugins for example for the use of runtime security.

Hopefully, the extendability will allow over time to move optional QP code to be community-supported extensions rather than part of the core code.

This upstream extendibility option can be used by downstream as well as by anyone creating his own knative QP image, to add additi

[2022-07-13 13:53] psschwei commented on #11308
I got pulled into some other things and  haven't had a chance to look into this yet... still on my list, but if you (or anyone else) wants to take it I don't mind letting it go...

[2022-07-13 13:54] skonto commented on #11308
It is fine just came up in internal discussions. If I come up with something will ping you :)

[2022-07-13 14:00] AngeloDanducci commented on #13098
Yes that's correct, changed the issue title to better reflect that.

[2022-07-13 14:27] jwcesign opened #13121 "When one revision is used, if try to delete, it will be recreated, so why not just forbidden it?"
/area autoscale
/kind process

## Ask your question here:
### environment：
knative serving: 1.5
route config:
[code]
revision:
[code]
### Operation
1. delete revision
[code]
2. check watch pods
[code]

### What should be
I think if the revision is used, so it's better to forbidden deleting revision `sleeptalker-00002` in webhook.

[2022-07-13 14:28] jwcesign commented on #13121
cc @nader-ziada @psschwei

[2022-07-13 14:43] jwcesign commented on #13023
https://knative.dev/docs/serving/autoscaling/kpa-specific/#scale-up-rate maybe this help?

[2022-07-13 19:37] AngeloDanducci opened #13123 "Feature Request Discussion: Proxy Protocol Probing Support"
/area networking

## Describe the feature
External load balancers are a fact of life for cloud service providers for a variety of reasons.

When exposing Knative services to users, cloud service providers often need or desire the source IP of their clients, either for access control at the IP level or for business logic based on geolcation.

Given the above, this requires configuring the external

[2022-07-14 12:01] knative-prow-updater-robot opened #13125 "[flaky] _build_tests.Verify_CodeGen"
### Auto-generated issue tracking flakiness of test
* **Test name**: _build_tests.Verify_CodeGen
* **Repository name**: serving

[2022-07-14 12:01] #13108 closed

[2022-07-14 12:54] xtaje commented on #10978
Is there any documentation on this behavior or reasons behind it? I found it quite surprising and only figured it out after debugging why a Pod revision was not switching over to ready, despite the service container reporting as ready. Our service needs several minutes during startup to load a large data model, and the readinessProbe parameters we had chosen were causing funny behavior.

For the u

[2022-07-14 14:16] #13090 closed

[2022-07-14 15:23] Wouter0100 opened #13126 "Multiple pullSecrets for same registry does not work"
When having multiple pullSecrets in the same Service Account, Knative fails to detect the correct set of credentials and fails at the first. The [kubelet has a loop build in that allows this setup](https://github.com/kubernetes/kubernetes/blob/a55bd631728590045b51a4f65bba31aed1415571/pkg/kubelet/kuberuntime/kuberuntime_image.go#L59-L76).

## What version of Knative?

1.1.0

## Expected Behavior

T

[2022-07-14 15:29] davidhadas opened #13127 "Move QP to a shim main"
## Describe the feature
Preparing QP for extensibility as described in https://github.com/knative/serving/pull/13122

1. git mv cmd/main/*.go pkg/queue/qmain/
2. do the minor package and function name changes
3. Add a shim cmd/main/main.go

[2022-07-14 16:27] dprotaso commented on #13126
/triage accepted

[2022-07-14 16:31] dprotaso commented on #13099
Do you have more details on how you're setting up the secret to pull the image?

[2022-07-14 16:32] dprotaso commented on #13099
And any details on how you setup a private registry etc.

[2022-07-14 16:32] dprotaso commented on #13099
/triage needs-user-input

[2022-07-15 01:33] #12437 closed

[2022-07-15 03:47] jwcesign commented on #13023
I never see someting like this. @pastjean

[2022-07-15 10:00] Legion2 commented on #12969
information about the specific pod/ip/instance can be added to the span/trace attributes. The OTel auto instrumentation k8s operator for example adds `k8s.container.name`, `k8s.deployment.name`, `k8s.namespace.name`, `k8s.node.name`, `k8s.pod.name` etc. to all spans it creates. This makes it possible to identify the pod which created the span, but also allow to group and filter spans into differen

[2022-07-15 14:18] dprotaso commented on #13083
/triage accepted

[2022-07-15 14:18] dprotaso commented on #13083
/area networking

[2022-07-15 14:23] dprotaso commented on #13121
Dupe of https://github.com/knative/serving/issues/8570

[2022-07-15 14:23] #13121 closed

[2022-07-15 14:25] dprotaso commented on #13097
cc @psschwei @nader-ziada

[2022-07-15 14:26] dprotaso commented on #13127
Closing dupe of https://github.com/knative/serving/issues/13127

Let's use https://github.com/knative/serving/issues/13127 as the epic issue with a task list so there's a single reference

[2022-07-15 14:26] #13127 closed

[2022-07-15 14:34] dprotaso commented on #13127
whoops meant - https://github.com/knative/serving/issues/13118

[2022-07-15 14:57] nader-ziada commented on #13097
if `istio mesh mode` is enabled, then autoscaler uses service scraping

[2022-07-15 19:23] dprotaso commented on #13097
Related issue:  https://github.com/knative/serving/issues/10751

Also there are few settings you can tweak since you're running mesh mode. One will skip attempting to perform pod scraping.

https://github.com/knative/networking/blob/30b5dfe69be6887ef9102ff426bc245b8b80a5f7/config/config-network.yaml#L150-L168

Looks like it's not documented on the knative.dev website

[2022-07-15 19:29] psschwei commented on #13123
Think I'm non-binding, but this is a +1 for me

[2022-07-18 12:01] #13125 closed

[2022-07-18 14:22] dprotaso commented on #13123
cc @nak3

[2022-07-18 21:03] dprotaso commented on #13053
note - the visibility label doesn't go on the `spec.template.metadata.labels`  but on the `metadata` of the top-level  Knative Service or Route

see: https://knative.dev/docs/serving/services/private-services

Few things to take from this issue
- If SKS fails to create we don't propagate that as terminal
- we should reject creates/updates on Knative Service Revision Template's annotations/labels w

[2022-07-18 21:19] dprotaso opened #13131 "Terminal API failures when creating child resources don't trigger cause Ready=False"
From https://github.com/knative/serving/issues/13053

A misplaced annotation prevented the SKS from being created since it failed validation. But this didn't cause the PodAutoscaler to flip to Ready=False.

 There are probably other classes of this error throughout the codebase especially since any mutating webhook could inject a failure at any point. ie. rejecting deployment creation because of s

[2022-07-18 21:19] dprotaso commented on #13131
/triage accepted

[2022-07-18 23:30] nickzelei commented on #12466
Am interesting in knowing more about this too.
Have hit this same wall and haven't found any success yet.

[2022-07-20 03:37] shiyan2016 commented on #12947
I know this, which I confused is why user-container set readinessProbe with path /aa/bb it will changed to / in queue-proxy probe?

[2022-07-20 12:06] nak3 opened #13135 "Kingress generated by DomainMapping is not reconciled when adding a new label to DomainMapping"
## In what area(s)?

/area API
/kind good-first-issue

## What version of Knative?

HEAD

## Steps to Reproduce the Problem

### 1. Create DomainMapping

[code]

### 2. Add a new label to the DomainMapping

[code]

The DomainMapping gets the label.

[code]

### 3. Verify Kingress

The label is not added.

[code]

When we re-create the Kingrees, the label will be added:

[code]

## Expected Behavio

[2022-07-21 04:18] kyue1005 commented on #12917
straight forward thinking,
if ExternalName services with ports are the culprit, removing the port config would resolve that?

[2022-07-21 19:38] szelenka commented on #12917
@kyue1005 removing the port definition on ExternalName Service prevents this behavior, yes..

However, when you have Istio mTLS configured in `STRICT` mode, the Destination Rules wont have a port defined for those ExternalNames, and traffic to those ExternalName Services will not work. Defining a port on the ExternalName allows this to function, but Istio apparently goes nuts with resolving those

[2022-07-22 16:37] dprotaso commented on #13135
/triage accepted

[2022-07-24 17:31] jwcesign opened #13145 "Group Service Acceleration"
/area autoscale

## Describe the feature
Knative recently lacks a way to handle group-service(i.e. A and B are different knative services, which form a complex function. The requesting path is: user-client requests ksvc A, then ksvc A requests ksvc B). As a result, cloud providers may encounter difficulties with very long response times(ksvc A cold start time + ksvc B cold start time). To alleviat

[2022-07-24 17:31] jwcesign commented on #13145
cc @psschwei @mattmoor

[2022-07-24 20:46] mattmoor commented on #13145
See also: https://docs.google.com/presentation/d/1bgoRwNCHqFxFF_JUFtQvtBYVXBmO4u9voWxeFkXISLo/edit

[2022-07-25 01:15] jwcesign commented on #13145
@mattmoor looks the same core mind with traceId,  but it's little difficult to implement with traceid

[2022-07-25 02:38] nak3 opened #13148 "KinD e2e test with net-contour is not stable"
/area networking
/area test-and-release

## What version of Knative?

HEAD

## Expected Behavior

e2e with Contour do not fail.

## Actual Behavior

Please refer to the recent KinD e2e logs.

- https://github.com/knative/serving/actions/runs/2720052394
- https://github.com/knative/serving/actions/runs/2718160646

[2022-07-25 03:30] kyue1005 commented on #12917
my temporary solution is to use a full qualified domain for my local gateway address to avoid the ndots search issue
it does relieve the DNS loading a bit, but the root cause still lies in the STRICT_DNS issue
hope there would be a fix on that soon

[2022-07-25 07:27] xxinran commented on #13135
I'd like to take it.

[2022-07-25 09:26] SharpEdgeMarshall opened #13149 "Return version header"
## In what area(s)?

/area networking

## Describe the feature
Knative serving could return a header indicating the version that served the request

[2022-07-25 22:55] #13118 closed

[2022-07-26 06:06] davidhadas opened #13153 "QP Extendability (QP Options) Config"
## Describe the feature
We need to allow configuration (including enablement) of features implemented as QP Extendability (QP Options).

See feature proposal in https://docs.google.com/document/d/1H_I7fGhGqdgX3ZEtjxKu1TsHK7uQ2V5ciVJ4mBe0K44/

[2022-07-26 06:41] davidhadas commented on #13153
/assign davidhadas

[2022-07-26 07:15] unzld opened #13154 "Upgrading from to Knative Serving v1.2 shows "the manifests of the target version are not available to this release""
## What version of Knative?

1.1.0

## Expected Behavior

Upgrade Knative Serving from v1.1 to v1.2 using the [docs](https://knative.dev/development/install/upgrade/upgrade-installation-with-operator/) should be successful.

## Actual Behavior

KnativeServing produces the error "the manifests of the target version 1.2 are not available to this release" and no upgrade happens.

## Steps to Reproduc

[2022-07-26 11:52] psschwei commented on #13154
cc @houshengbo

One thing to note is that v1.2 went EOL [earlier this month](https://github.com/knative/community/blob/main/mechanics/RELEASE-SCHEDULE.md#historical-no-longer-supported-releases)

[2022-07-26 13:43] #11694 closed

[2022-07-26 18:07] dprotaso commented on #13154
/assign @houshengbo

[2022-07-26 19:46] xtaje opened #13157 "Failed revisions can cause unlimited pods to be rapidly created"
## What version of Knative?

## Expected Behavior

A Knative revision should fail gracefully without flailing after n pod failures on initial deployment, and this value should be user customizable. This will help avoid operator errors that trigger the creation of an unbounded number of pods.

This can be a corollary setting to `progress-deadline` in the `config-deployment` ConfigMap.

An alternati

[2022-07-26 20:54] xtaje opened #13158 "DomainMapping to Kubernetes Service fails to become ready"
## What version of Knative?

## Expected Behavior

DomainMapping should become ready similar.

## Actual Behavior

I am trying to use a DomainMapping with a regular Kubernetes Service, as described in the Tips in the docs. The custom host is "my-test.biz".

After creation, the DomainMapping remains in Ready state "Unknown" with Reason "Uninitialized".

The DomainMapping does seem to work OK, becau

[2022-07-26 20:59] unzld commented on #13154
Yes, the idea is to upgrade incrementally up to the latest version. Thanks.

[2022-07-26 21:54] marcjimz commented on #12917
This is the exact issue we are running into. Seems at a certain number of KServices, say 100, we start to see DNS failures and coreDNS failing. Strict mTLS is a requirement of our product. Any ideas on where and how we can target a fix?

[2022-07-27 08:12] timam opened #13159 "the server could not find the requested resource (post routes.serving.knative.dev) with manual istio installation on EKS"
## Ask your question here:

I have installed istio 1.12.2 on EKS(1.22) with istioctl. I am using Application Load balancer and instance are healthy.  here is my proxy-config listeners.
[code]
I have installed knative serving using yaml, from [here](https://knative.dev/docs/install/yaml-install/serving/install-serving-with-yaml/). I have created a [helloworld knative application](https://github.com

[2022-07-27 12:13] psschwei commented on #13157
Out of curiosity, does the same behavior happen if this were a Kubernetes service, or is it something specific to Knative?

[2022-07-27 13:15] psschwei commented on #13159
Looks like the issue is with the Route... if you describe the Route, does that provide any more info?

[2022-07-27 13:26] adviteey1 opened #13160 "Getting "error: "context canceled" issue with knative service queue proxy"
Hi,

Getting below error intermittently in the queueproxy container

error: "context canceled" knative.dev/key: "test-common-service/test-app-0-0-0" knative.dev/pod: "test-app-0-0-0-deployment-xxxxxxx-xxxxx" logger: "queueproxy" message: "error reverse proxying request; sockstat: sockets: used 44 TCP: inuse 27 orphan 2 tw 20 alloc 593 mem 52 UDP: inuse 0 mem 3 UDPLITE: inuse 0 RAW: inuse 0 FRAG: i

[2022-07-27 14:10] timam commented on #13159
Route list is giving me same error.
[code]

[2022-07-27 17:48] xtaje commented on #13157
Theoretically I think it could but this would require confirmation. A Deployment could have a low ephemeral storage limit, and the Pods would probably end up flailing.

I did find these two related Kubernetes issues, so it may be that the PodSpec will be updated to handle this edge case. I'm not sure if changing the restartPolicy will help with the behavior described above.
* https://github.com/ku

[2022-07-27 18:06] henriquevasconcelos commented on #12564
@skonto thank you so much for your clarification on the timeout mechanism!
Is it possible to configure Knative to have no timeout on requests (or a timeout around 1h) **and** a `TerminationGracePeriodSeconds: 0`?

[2022-07-27 18:07] henriquevasconcelos commented on #12564
/reopen

[2022-07-27 18:08] henriquevasconcelos commented on #12564
/remove-lifecycle stale

[2022-07-27 18:32] psschwei commented on #12564
You might also want to look into the [async component](https://github.com/knative-sandbox/async-component).

cc @AngeloDanducci

[2022-07-27 19:11] henriquevasconcelos commented on #12564
Ideally we absolutely should use async requests for this. However, the framework we're using requires completion of the request hence the long timeout :)

[2022-07-27 21:04] psschwei commented on #13157
re: restart policy, we're locked in to using `Always` as discussed in #13041

I could see adding something like a `fail-fast` option, where the revision would be marked as failed after the first crash. Doing it after N crashes would be a bit more complicated, though perhaps we could just pull it from the pod's restart count (?).... On the other hand, then we're starting to modify the underlying Ku

[2022-07-27 21:31] dprotaso commented on #11308
Leaving this open since we want to add an e2e test

/reopen

[2022-07-28 00:37] dprotaso commented on #13159
I think you're installation isn't successful as you're missing the Route CRD for some reason.

[2022-07-28 00:43] dprotaso commented on #12867
I haven't seen this pop up in a while - going to close this out

[2022-07-28 00:43] #12867 closed

[2022-07-28 05:36] timam commented on #13159
@dprotaso You are right. Reinstalling the core components of Knative Serving by running following command creates route component.
[code]

Now if I am getting IngressNotConfigured issue.

[code]

And my route list is still empty
[code]

[2022-07-28 10:57] girlpunk commented on #12870
/remove-lifecycle stale

[2022-07-28 11:59] psschwei commented on #13159
You said you installed istio, but did you install the [net-istio](https://knative.dev/docs/install/yaml-install/serving/install-serving-with-yaml/#install-a-networking-layer) networking layer as well?

[2022-07-28 13:32] maschmid opened #13168 "revision should not be adding unprefixed "app" labels by default"
A Deployment (and its pod template) created by a revision contains a "app: <revisionName>" label by default since

https://github.com/knative/serving/blob/main/pkg/reconciler/revision/resources/meta.go#L52-L54

[code]

Whatever the original reason was, I suspect it probably isn't valid anymore, not is a valid reason to disobey the k8s policy about prefixes

https://kubernetes.io/docs/concepts/over

[2022-07-28 14:18] timam commented on #13159
@psschwei I was following [this](https://knative.dev/docs/install/installing-istio/#whats-next ) official documentation for custom istio installtion.

I installed istio with `istioctl install -y`. Then modified it to support Application load balancer. Here is the list of all components that my system have on istio-system namespace.

[code]

[2022-07-28 15:38] isaac88 commented on #13036
Hello @tidunguyen
I'm facing the same issue where all my revisions are active when it shouldn't
Did you figure it out what was causing that ?

Regards

[2022-07-28 17:41] xtaje commented on #13157
There is a [comment](https://github.com/knative/serving/issues/13041#issuecomment-1174704850
) in #13401 that saw similar behavior, but due to reasons other than ephemeral storage.

There is an outstanding [KEP-3322](https://github.com/kubernetes/enhancements/pull/3339) that adds a `maxRestartTimes` to the PodSpec restartPolicy. If that is added to the DeploymentSpec also, then maybe what will ena

[2022-07-28 18:00] dprotaso commented on #13036
There were some fixes in 1.4 related to GC (https://github.com/knative/serving/issues/12341) - can you try with a never version. If you still have issues can you create a new issue.

[2022-07-28 18:06] dprotaso commented on #13159
What does  `kubectl get knative,knative-internal` show?

Also for Knative 1.6 we test with Istio 1.14 - the knative.dev website mistakenly said 1.12 which we've fixed now

cc @AngeloDanducci

[2022-07-28 19:43] timam commented on #13159
@dprotaso here is the output of `kubectl get knative,knative-internal`
[code]

[2022-07-29 01:34] #12063 closed

[2022-07-29 13:44] timam commented on #13159
Should I try with istio 1.14 and close this issue ?

[2022-07-29 13:46] henriquevasconcelos commented on #12564
Just to clarify my issue is that I have a request that needs 20 min to complete and after editing the timeoutSeconds I no longer get the timeout error but now my Pods are stuck on terminating, which did not happen before setting this flag.

Is there a way to terminate the pods faster, i.e., allow for a custom timeout **and** a  timely termination of the pods?

<img width="1552" alt="Screen Shot 20

[2022-07-29 13:58] arbourd commented on #12063
/reopen

[2022-07-29 14:54] dprotaso commented on #13159
I expected `kubectl get knative,knative-internal` to show more than just the ingress.

Sure

[2022-07-29 15:04] dprotaso commented on #13168
This behaviour has been around for many years and I have concerns about changing it since it could be a breaking change for end users.

Besides not following k8s policy what's the impact of keep the label as is?

[2022-07-29 15:13] dprotaso commented on #13160
Technically this log line should probably be a warning - I believe context cancelled can happen for a variety of reasons.

1. Request is cancelled by the client
2. Your app/container doesn't respond to before the configured revision timeout occurs.

The timeout is [configurable on the revision](https://knative.dev/docs/reference/api/serving-api/#serving.knative.dev/v1.RevisionSpe)

/triage needs-u

[2022-07-29 15:36] dprotaso commented on #13158
/area networking
/triage accepted

I confirmed this using the following setup

[code]

This seems to work fine for Contour but not for Kourier (cc @nak3) & Istio (cc @AngeloDanducci)

[2022-07-29 19:03] dprotaso commented on #13149
Hi - I wanted to clarify what do you mean by version - do you want the revision name?

Also for my curiosity - what's your use case and why do you want this information?

/triage needs-user-input

[2022-07-29 19:10] xtaje commented on #13158
I am able to make this work in our Knative installation using Istio Ingress. Unfortunately we have two different clusters with customized installations, so I couldn't tell you what the difference is.

[2022-07-29 19:14] rachitchauhan43 commented on #13097
@JonKusz : In my case, i was a missing a DestinationRule to allow data plane (ksvc) to be reachable from knative-serving namespace.

[2022-07-29 19:19] dprotaso commented on #13157
The general problem we have is knowing whether a failure is transient or permanent. ie. image pulls fail due to blips in the network. Even in your example an exodus of other Pods could unblock/allow your container to become ready.

For some obvious failures we might want to signal earlier - ie. failed to schedule due to CPU/mem quota

I'll take a look at the KEP and circle back - it's good the K8s

[2022-07-29 19:23] dprotaso commented on #13158
How are you customizing the istio installation?

If you're using `istioctl` and a config like this https://github.com/knative-sandbox/net-istio/blob/main/third_party/istio-latest/istio-ci-no-mesh.yaml that could provide some insights

[2022-07-29 20:30] #13159 closed

[2022-07-31 12:13] timam commented on #13159
@dprotaso @dprotaso
With istio 1.14 it perfectly works for me.
Thanks a lot for your support.

[2022-07-31 18:27] ddelange commented on #13075
Although I have limited go experience, @psschwei if you can point me to the relevant code I'd be happy to give this a shot?

[2022-07-31 18:32] ddelange commented on #3886
Hi :wave:

Opened follow-up issue #3886

Ideas are welcome!

[2022-08-01 09:58] ComplicatedPhenomenon opened #13172 "`kn quickstart minikube` seems to take forever to finish"
## Ask your question here:
I'm following https://knative.dev/docs/getting-started/quickstart-install/ and get stucked with the command below
[code]

My basic environment info
[code]

[code]

I guess my first service doesn't deploy successfully due to the ongoing `kn quickstart minikube`
[code]

[2022-08-01 12:02] knative-prow-updater-robot opened #13173 "[flaky] test/e2e.TestResourceQuotaError"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestResourceQuotaError
* **Repository name**: serving

[2022-08-01 12:09] psschwei commented on #13172
Looks like it stalls when installing the Serving components... what does `kubectl get pods -n knative-serving` show?

[2022-08-01 13:45] psschwei commented on #13075
Sorry for not responding sooner, I think I must've missed the notification for this one...

I think the biggest issue here would be the performance: if it doesn't impact performance too much, then I don't see too much of an issue (that's a big if though). For safety, we'd want to put it behind a feature gate (so that it'd be opt-in initially).

My initial thought was that this could be done in the

[2022-08-01 14:22] ComplicatedPhenomenon commented on #13172
Well that explains it.
[code]

[2022-08-01 16:46] psschwei commented on #13172
Yep, that'll do it :smile:

Going to close this for now, feel free to reopen if resolving the image pull issue doesn't fix it

[2022-08-01 16:46] #13172 closed

[2022-08-01 17:14] psschwei commented on #12564
I _think_ once #12970 lands you may be able to use the max duration without needing to tweak the termination grace period.

[2022-08-01 20:15] psschwei commented on #13173
/assign

[2022-08-02 08:58] #11533 closed

[2022-08-02 09:15] vangie opened #13175 "custom port of service url"
## Describe the feature

I want add a port to knative service url in my dev environment. I add port to domain-template of config-network

[code]
the I get the following error

[code]

[2022-08-02 12:28] psschwei commented on #13175
Kubernetes doesn't allow a `:` in the domain. To add a port, use a `containerPort` in `.spec.template.spec.containers` ([example](https://knative.dev/docs/serving/convert-deployment-to-knative-service/#knative-service)

[2022-08-02 18:06] psschwei commented on #12806
Per https://github.com/knative/community/pull/1140 for knative v1.7 the min k8s version will still be v1.22, so will hold off on this until v1.8

[2022-08-02 18:31] dprotaso commented on #8377
/triage accepted
/milestone Icebox

[2022-08-02 18:37] dprotaso commented on #11387
/triage accepted

[2022-08-02 18:43] dprotaso commented on #12908
Going to close this out as since it looks like the PRs have been closed/abandoned.

For future reference you could enable request logging to capture some of this data

https://github.com/knative/serving/blob/034035bd71338ac02b8b954b5a623dc8829c5499/config/core/configmaps/observability.yaml#L34-L88

[2022-08-02 18:43] #12908 closed

[2022-08-02 18:44] dprotaso commented on #12908
Also request metrics

https://github.com/knative/serving/blob/034035bd71338ac02b8b954b5a623dc8829c5499/config/core/configmaps/observability.yaml#L98-L101

[2022-08-02 18:44] dprotaso commented on #12078
/assign @dprotaso

[2022-08-02 18:46] dprotaso commented on #11532
/unassign @nealhu

[2022-08-02 18:56] dprotaso commented on #11483
I second @julz's point the digests already exist on the prior revision's status.

Going to close this out - I don't think we should have an annotation that overrides the `image` property. This doesn't scale for multiple containers etc.

[2022-08-02 18:56] #11483 closed

[2022-08-02 19:00] dprotaso commented on #11483
Maybe we provide an annotation that allows end-users to opt-out of tag to digest resolution per revision.

Question is whether we let this be governed by operators and what the default should be. If you wish to pursue this feel free to open a new issue.

[2022-08-02 19:08] dprotaso commented on #10978
FWIW - If I was a user (using container-freezer) and I configure a readiness probe I would expect it to probe while the container is active. But I would expect it to be paused when the container is paused.

I'm unsure if that's possible.

[2022-08-02 19:09] dprotaso commented on #10962
/unassign @rafaeltello

[2022-08-02 19:16] dprotaso commented on #10938
Closing as the mentioned tests aren't flaking

[2022-08-02 19:16] #10938 closed

[2022-08-02 19:24] dprotaso commented on #9039
Closing as dupe of https://github.com/knative/serving/issues/8160

[2022-08-02 19:24] #9039 closed

[2022-08-02 19:25] psschwei commented on #10978
Yeah, the case where a user specifically added a probe would be.... tricky, to say the least. I think the order of doing probe updates would go something like:

* add default startup probe (#10037 )
* remove default readiness probe (this one)
* figure out how the heck to handle user readiness probes if freezer is enabled (no issue yet)

[2022-08-02 19:52] dprotaso commented on #8160
/unassign @tcnghia @ZhiminXiang @nak3
/triage needs-user-input

Following up it would be good to get user input on:
- can [Tag Header Based Routing](https://knative.dev/development/serving/samples/tag-header-based-routing/) to address the 'hit the same version of my app' problem
- how do people usually handle client (SPA)/server drift - ie. most things break but I could imagine a re-direct to trig

[2022-08-02 20:14] dprotaso commented on #11664
/triage accepted

[2022-08-02 20:17] dprotaso commented on #13149
We do support routing based on a header
https://github.com/knative/docs/tree/main/code-samples/serving/tag-header-based-routing

[2022-08-03 07:57] maschmid commented on #13168
We have a case where a customer's custom metering solution uses their own `app` label. Their semantics is such that a pod "inherits" an `app` label from a namespace if not defined on the pod.  knative adding `app=<revision name>` obviously breaks this logic and forces them to declare `app` labels on the ksvc.

[2022-08-03 08:05] SharpEdgeMarshall commented on #13149
@dprotaso Sorry for the late reply, tag header based routing is exactly why we are asking this feature, when you do a call without indicating the header you don't know what version is serving the request.
So my proposal is to edit istio VirtualServices generated by knative in order to include a response header (like `Knative-Serving-Tag`) indicating the revision that served the request

[2022-08-03 10:45] xxinran commented on #13135
/assign

[2022-08-03 14:40] dprotaso commented on #12091
tl;dr these tests are very sensitive to anything that affects reconciliation time.

### Past Issues

#### Cluster Performance
So in the past bumping K8s versions in GKE would trigger these tests to fail because of cluster performance - (ie. [konnectivity](https://kubernetes.io/docs/concepts/architecture/control-plane-node-communication/#konnectivity-service) would trigger [a 5-10% hit in latency f

[2022-08-03 14:51] rhuss commented on #4416
Would it be an good first step to mirror that Deployment status in the associated Revision? We then still can think about how to propagate that back to a Service (which btw can be associated to multiple revisions via traffic split, so I don't necessary think that deployment-related errors should bubble up until the service, except when we would collect them in a list)

[2022-08-03 15:06] dprotaso commented on #12091
For posterity I'll post what I've done to figure some of this out

[2022-08-03 15:49] dprotaso commented on #12091
First measuring/visualizing time to Ready=True. I captured resource state changes and plotted them.

tl;dr - you can see managing endpoints via serverlessservice is slower at scale - queue lengths seem to be the culprit and probably cause by `Unbalanced lease distribution`

Note: this perspective is a bit limiting since one revision could have significant delays reconciling it's serverlessservice

[2022-08-03 17:26] psschwei commented on #13173
Based on a quick survey, there are times when the test finishes in 2-3s, and those are the times when it fails (the pod seems to be deploying in these cases, rather than throwing an error). In theory, the test should take 35-40s (5 seconds for the progress-deadline to be hit, then the 30s termination period).

[2022-08-03 19:38] xtaje opened #13182 "Default domain in config-domain should be svc.cluster.local instead of example.com?"
## What version of Knative?

## Expected Behavior

Default domain should be svc.cluster.local

## Actual Behavior

Default domain is example.com

## Steps to Reproduce the Problem

This is not really a bug, but more of an API/usability suggestion.

Our ops drones find the way that you globally configure default cluster-local traffic in `config-domain` with `svc.cluster.local: ""` confusing and it

[2022-08-04 00:38] dprotaso commented on #12091
Here's an example where the timings can be misleading - here the serverlessservice reconciler timings drop to normal levels. But you can see in the revision timings remain pretty high. The trace shows the after tag to digest completes it takes over a minute for the revision to become ready even though PodAutoscaler only took 7s.

<img width="641" alt="Screen Shot 2022-08-03 at 6 59 47 PM" src="htt