[2020-06-17 06:19] markusthoemmes commented on #5573
@ZhiminXiang The more general question I have is: **can** all downstreams even adhere to such strictness? We have troubles with that in Openshift because our ingress sets up an external loadbalancer which we don't really control. I was wondering if there are more such external factors that would render the entire testsuite useless on a vendored product.

[2020-06-17 09:25] nak3 commented on #8335
Thank you @Vad1mo for the report. I think https://github.com/knative/docs/pull/2592 will fix the issue.

[2020-06-17 13:03] #8335 closed

[2020-06-17 14:17] dprotaso commented on #6074
/remove-lifecycle rotten

[2020-06-17 18:11] vegoutha opened #8357 "Knative HPA Autoscaler is not scaling the pod to zero"
## Ask your question here:
Knative HPA autoscaler is not able to scale down the pod to zero.
Here is the HPA configuration:
[code]

HPA Autoscaler is able to scale up with increase in CPU consumption. When there is no workload it is not able to scale down to zero. Could you please check the above configuration and let me know how  can I scale down the pod to zero using HPA autoscaler ?

**- Kubern

[2020-06-17 18:39] vagababov commented on #8357
1. Knative HPA does not support scale to 0
2. You cannot scale to 0 using HPA and CPU, in general, since even empty container has non-zero cpu.
  - you probably can build a custom metric server to approximate 0.X CPU as 0 and make it scale to zero, but it won't be in knative.

If you want scale to 0 with knative right now you have to use KPA (but it's concurrency based).
So, if there are no API re

[2020-06-17 22:45] sravankumar777 commented on #8243
Thanks @nak3 for sharing information about capturing memory profiles for networking-istio.

Captured heap & allocs information before & after memory usage increase on networking-istio pod.

Memory profile information before and after increase in usage.
[before-memory-usage-increase.zip](https://github.com/knative/serving/files/4795391/before-memory-usage-increase.zip)

[after-memory-usage-increase

[2020-06-18 06:36] Shashankft9 opened #8364 "ksvc is not working with mTLS Istio"
/area networking

## What version of Knative?
v0.14.0

## Expected Behavior

1. If mTLS is applied namespace-wise, the services in that namespace should only accept mTLS traffic and reject all the other requests.
2. Once I apply something like a `deny-all` policy on a namespace, and then send a request to a ksvc in that namespace, the pod should not scale up and should not run the business logic -

[2020-06-18 07:15] nak3 commented on #8364
I am not 100% sure about the correct reproduce steps but I left my comment for the behavior.

You didn't mention, but you ran `curl` from non-mesh pod, correct? If so, your access goes through cluster-local-gateway(I assume that you deployed it) and so the access route is different from k8s svc.

The access could reach your activator pod in knative-serving ns so your pod was scaled up. But after t

[2020-06-18 07:54] Shashankft9 commented on #8364
yes, I ran a direct curl command on my cmd, just this: `curl datafetch-go.knative-tests.svc.cluster.local:80` and yeah the cluster-local-gateway is deployed as well. So is there a way to block these non-mesh curl requests? Because essentially, what I understand is - when mTLS is applied the services shouldn't serve non-encrypted requests at all, just the way it happens for k8s services. Correct?

[2020-06-18 07:55] Shashankft9 commented on #8364
mhm, got it.

[2020-06-18 08:15] sravankumar777 opened #8365 "Activator scales up and scales down automatically with running e2e-serving tests continuously"
## What version of Knative?
v0.14.0

## Actual Behavior
After upgrading knative-serving v0.14.0 on our platform with running continuous e2e-serving test with 25 concurrent requests, observed activator is scaling up and scaling down continuously based on HPA configuration.

## Steps to Reproduce the Problem
1. Update knative-serving release to v0.14.0.
2. After update is completed, check for activa

[2020-06-18 09:36] nak3 commented on #8364
Thank you for the steps. So the issue is not mTLS but authz policy.

And in a nutshell, You tested following two routing paths with deny-all authz policy and both worked.

- a) non-mesh pod -> cluster-local-gateway -> activator -> knative service
- b) mesh pod -> activator -> knative service

Then you need additional authz policy to block them actually.

For a), you can block it by cluster-local-g

[2020-06-18 09:53] Shashankft9 commented on #8364
This sounds good, thanks, I couldn't think of it.
Let me try, I'll get back to you.

[2020-06-18 11:28] nak3 commented on #8346
Thank you @ysjjovo for the report.

I feel that the issue is not related to Knative. I think that the custom repo you configured `--set hub=registry.cn-chengdu.aliyuncs.com/istio-releases` or istio issue.
Would you mind opening the report against istio https://github.com/istio/istio?

[2020-06-18 12:03] #8340 closed

[2020-06-18 13:07] Shashankft9 commented on #8364
@nak3 hey its working for me now thanks, I am now able to block curl requests from cmd and non-mesh pod.  And deny/allow mesh-pods to send requests too. Some questions:

1. While imposing authorization policy on `cluster-local-gateway` we have to turn on mTLS on it, does it matter that this namespace has `istio-injection=disabled` as a label?

2. By applying the `whitelist-by-namespaces` policy th

[2020-06-18 13:16] rccrdpccl opened #8366 "Integrate VPA in knative/serving"
/area autoscale

## Describe the feature

We would love to see VPA integrated in knative, as tried before in https://github.com/knative/serving/issues/2929

### Use case

### Context

We currently have our applications (mostly web applications) deployed in kubernetes with standard k8s objects, and we are evaluating replacing such deployments with knative services.

#### Current autoscaling strateg

[2020-06-18 14:16] Shashankft9 commented on #8364
Nvm, I got it. We can apply mTLS with `PERMISSIVE ` mode in a non istio-injected namespace, and it works the same way.

[2020-06-18 16:21] vegoutha commented on #8357
Thanks @vagababov for the information. Actually I am looking for autoscaler that can scale up based on CPU and scale down based on # of requests/concurrency.
I will explore KPA autoscaler if it suites my requirement.

[2020-06-18 16:26] vagababov commented on #8357
That would most likely require a custom metrics server, since you want to mix and match metrics.

[2020-06-18 16:53] vagababov commented on #8365
- Are you scaling based on CPU?
- We're also interested: why are you using HPA rather KPA?

[2020-06-19 01:46] ysjjovo commented on #8346
Thanks for your reply!
I already opened a issue[#24764](https://github.com/istio/istio/issues/24764) against istio,someone said that knative webook blocked istio installation.

[2020-06-19 02:00] nak3 commented on #8346
Thank you . So you installed Knative Serving first and then installed Istio? Actually our docs assumed that Istio is installed before Knative.
I will try to produce your error but could you please try:
1. Clean up(uninstall) Knative Serving
2. Install Istio
3. Install KnativeServing

Then Istio installation should not hit the Knative webhook issue.

[2020-06-19 02:13] ysjjovo commented on #8346
Thanks.I'll try your suggestion!My installation steps origin from [knative official website](https://knative.dev/docs/install/any-kubernetes-cluster/) part III.Apply service-crds.yaml & service-core.yaml first,then install istio.

[2020-06-19 02:13] ysjjovo commented on #8346
Thanks.I'll try your suggestion!My installation steps origin from knative official website part III.Apply service-crds.yaml & service-core.yaml first,then install istio.

[2020-06-19 02:41] nak3 commented on #8346
Hmm.. it worked on my env with 1) Knative install 2) Istio install in this order

[code]
Anyway please let us know the result of Istio installation before Knative installation on your env.

[2020-06-19 02:48] ysjjovo commented on #8346
Install istio first seems like the same error.
[code]
Maybe it's istio or my k8s env issue.

[2020-06-19 03:56] nak3 commented on #8346
Yeah, if you hit the issue without Knative, Knative would be innocent.

[2020-06-19 04:02] xq2005 commented on #8190
@vagababov There is a long discussion about sharing GPU device for multiple pods: [https://github.com/kubernetes/kubernetes/issues/52757](url)

There are 2 solutions :
https://github.com/tkestack/gpu-manager
https://github.com/AliyunContainerService/gpushare-scheduler-extender

[2020-06-19 04:41] vagababov commented on #8190
we're not dealing with GPUs at all right now. I am not really sure why would it even be autoscaling rather than k8s scheduling issue.

[2020-06-19 08:14] julz opened #8377 "Bound Concurrency of Pod Scraping (Probably with a Work Pool)"
## Describe the feature

We've discussed this a few times in slack but it seems worth having an issue for it and I didn't spot one, so here one is :).

As of right now we spawn pod scrapes in parallel for ~every revision with no real bound on the amount we'll attempt at once across revisions. This means we can potentially have an extremely large number of active outgoing scrapes, causing more cont

[2020-06-19 08:18] markusthoemmes commented on #8377
In the same vain, we should likely switch the probes into a workqueue based solution (like net-XXX probers) to be able to more easily control the lifecycle of the respective probes.

[2020-06-19 09:01] rccrdpccl commented on #8366
Sure, I'd be happy to contribute.

I take it since the previous work has been aborted, there is no agreed design to work on, right?

[2020-06-19 09:09] markusthoemmes commented on #8366
That's right, there'll need to be a design first. We don't need to follow the "Feature Track" process for the first ideas though, feel free to free-form them in. Only once we want to formalize the work to be done here, we'll ask you to write a [Feature Track document](https://docs.google.com/document/d/1s6IIU98bi5FlRNmmBaLAn1rgoleK_ovcL746L7NHq0c/edit).

[2020-06-19 09:33] markusthoemmes opened #8378 "Optimize format of scraped metrics"
Today we use a prometheus compatible format to ship metrics from the queue-proxy to the autoscaler. The autoscaler scrapes the metrics endpoint and parses out the information that we need. The response looks like this:

[code]

(1856 bytes)

There is a lot of redundancy (all the tags) in there and the comments are completely unnecessary for our purposes. Are we hardwired to even use a prometheus c

[2020-06-19 10:50] markusthoemmes commented on #8378
Doing a bit more research into this with @julz on Slack, we found out that we're actually serving the requests compressed with `gzip`, which alleviates some of the pain described above. The same response is only 360 bytes compressed.

The fact that we're compressing was news to me though and quick benchmarks showed that gzipping has quite some overhead over sending raw.

[code]

[code]

So the QP

[2020-06-19 12:13] #8364 closed

[2020-06-19 15:54] rccrdpccl commented on #8366
I have tried one approach that might work, however I am missing something due to my lack of knowledge of knative.

The idea is to enable VPA to do all the work:

* create a CRD "PodObserver", implementing autoscaling [Scale](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#scale-v1-autoscaling) object interface (required from VPA implementation)
* Create PodObserver object sele

[2020-06-19 15:58] markusthoemmes commented on #8366
Knative Serving is likely overriding your deploymentSpec (i.e. the applied resource changes).

[2020-06-19 17:48] vagababov commented on #8377
For the color `revisions*pods` is exactly `16*revisions`, when pod count goes towards infinity.

[2020-06-19 17:50] vagababov commented on #8377
Here, I am a bit on the border, given that we probably have requests queueing up in activator that we want to start forwarding as fast as possible. And until the pod is *probed* it receives no requests... so 🤷

[2020-06-19 17:56] markusthoemmes commented on #8377
Not sure we talk about the same thing @vagababov? What does the activator have to do with pod probing in the autoscaler? :thinking:

[2020-06-19 18:04] tcnghia commented on #6549
/close

We no longer use retries

[2020-06-19 18:11] duglin commented on #6549
hmmm
using master when my app returns a 503, it appears to retry

[2020-06-19 18:13] duglin commented on #6549
ping @tcnghia   ^

[2020-06-19 18:22] vagababov commented on #8377
We only probe during scale to 0. If we consider 500 revisions all going to 0 at the same time, it's unfortunate, but a much more corner case than just 500 revisions that we need to scrape :)

[2020-06-19 18:22] vagababov commented on #8377
But we do a lot of probing in activator :)

[2020-06-19 18:24] markusthoemmes commented on #8377
Okay, we clarified offline: In my comment about switching to workqueue based stuff I meant metric **scraping**, not probing. Sorry for the confusion.

[2020-06-19 19:03] markusthoemmes commented on #8243
[code]

For those who wanna take a crack at this.

[2020-06-19 22:25] vagababov commented on #8233
not seeing anything specific.
The route URL is empty... though

[2020-06-20 12:01] #3706 closed

[2020-06-20 12:01] #5103 closed

[2020-06-20 12:15] nak3 commented on #6478
/remove-lifecycle stale

[2020-06-20 13:53] JCzz commented on #7035
No progress, I left it and was hoping to reinstall in a few weeks time - scary it still a problem

[2020-06-20 16:36] duglin commented on #6549
/reopen

[2020-06-20 16:56] ZhiminXiang commented on #7035
/assign @ZhiminXiang
/area networking

@JCzz in your https://github.com/knative/serving/issues/7035#issue-571475124, you don't need to configure port 443 as our controller will automatically configure port 443 for you.

Also what challenge type (HTTP01 or DNS01) were you using? Do you also install `networking-ns-cert` deployment to enable per-namespace certificate provision?

In addition, could yo

[2020-06-20 21:12] duglin opened #8390 "Inconsistent scaling"
## In what area(s)?
/area autoscale

## What version of Knative?

HEAD as of 6/20

## Issue

Using this script:
[code]

It'll create a ksvc that just echos "hi", but will sleep based on a 'sleep' query param.
It'll then curl the service 50 times concurrently, telling it to sleep for 10 seconds, and print the # of pods and amount of time it took to run all 50. Ideally it should level out at 50 pods

[2020-06-20 23:11] duglin commented on #8390
TBC=-1
[code]

[2020-06-21 00:14] vagababov commented on #8390
1. Target utilization, so 50/0.7 is rounded up 72. Which looks correct.
1. 10 seconds timeout is giving you at most 41 pods, but given the first run was 37s (last post) so in the minute you had at most 37s with 50 requests (at most) and 23 seconds with 0. That is at most 30 pods (you can add debugging to dump buckets to see actual numbers, but they are definitely smaller). So, it scales down, you

[2020-06-21 00:35] duglin commented on #8390
I'm not sure if you're saying this is correct behavior or if there's something to be worked on.

It appears as though pods are killed, in my env, after being idle for ~60 seconds. So, that would seem to indicate that if I send 50 requests (with CC=1) before that timeout then I should continually have (at least) 50 pods running. I understand the algorithm might not work that way today, but I suspec

[2020-06-21 23:36] mattmoor opened #8393 "volumeMount validation requires all containers to mount volume"
/area API
/kind good-first-issue

## What version of Knative?

HEAD

## Expected Behavior

We should only require that each volume is mounted by at least one container.

## Actual Behavior

Our validation rejects any spec using volumes unless each volume is mounted by all containers.

## Steps to Reproduce the Problem

I was experimenting with an oauth2-proxy sidecar, see my TODO below:

[code]

I

[2020-06-21 23:41] mattmoor opened #8394 "PORT is disallowed on sidecars"
/area API
/kind good-first-issue

## What version of Knative?

HEAD

## Expected Behavior

We shouldn't disallow PORT on containers we won't set it on.

## Actual Behavior

Our validation rejects any spec using volumes unless each volume is mounted by all containers.

## Steps to Reproduce the Problem

I was experimenting with an oauth2-proxy sidecar, see my TODO below:

[code]

I created the `oau

[2020-06-22 06:58] markusthoemmes commented on #8378
For full posterity (and to confirm the direction we're going in): Using protobuf the metric above only needs a mere 66 bytes on the wire.

My current line of thought is to optionally ship the metrics in a protobuf format from the QP so the autoscaler can specifically ask for it using a corresponding `Accept` header. That'll keep the prometheus endpoint intact for people who want to scrape it but i

[2020-06-22 07:08] #8164 closed

[2020-06-22 07:55] zhanggbj commented on #4312
Hi @ZhiminXiang ,

As we met several errors with lots of https entries(500-1000) in one Gateway in Knative, just curious is there any plan or progress about the splitting gateway?

[2020-06-22 07:56] zzxwill commented on #7181
I hit a similar issue on `default-domain` Pod.
[code]

[2020-06-22 08:18] zzxwill commented on #7487
I got ride of the issue by deleting and reapplying Magic DNX ([see](https://knative.dev/v0.14-docs/install/any-kubernetes-cluster/)).
[code]

[2020-06-22 12:07] markusthoemmes commented on #7350
@JCzz if this is still relevant, we **should** support gRPC fully. If we don't we have a bug.

[2020-06-22 12:46] markusthoemmes commented on #8394
/assign skonto

[2020-06-22 12:51] skonto commented on #8394
@mattmoor user container lies outside knative correct and we wrongly validate all containers available?

[2020-06-22 13:13] skonto commented on #8394
@markusthoemmes I suspect we should allow any previously restricted [keyword.](https://github.com/knative/serving/blob/d9d5ae4393ef31f1aa639be5bb6e9c0079e39bce/pkg/apis/serving/k8s_validation.go#L56)

[2020-06-22 13:54] markusthoemmes commented on #8394
Potentially, though the others are much less crucial as they're probably not used by anything else :thinking:. Instead, should we think about filling them automatically into the other envs too? Do we already do that?

[2020-06-22 15:10] skonto commented on #8394
@markusthoemmes will check, my thinking is that what we dont control we should not touch.

Do you mean the knative containers?

[2020-06-22 15:42] dprotaso commented on #5913
/remove-lifecycle stale

[2020-06-22 16:32] ZhiminXiang commented on #4312
@zhanggbj I plan to work on it soon, and try to get it into release 0.17 (next release cycle).

[2020-06-22 16:45] zhanggbj commented on #4312
@ZhiminXiang Great! Do you have any proposal doc or tracking issue/item, is it possible to share it? Thanks!

CC @jeremiaswerner ^^^

[2020-06-22 16:59] duglin commented on #6549
Here's a test script to show the issue:
[code]
If you run this you should see this:
[code]
Notice that 503's cause a retry

[2020-06-22 18:18] mattmoor commented on #8394
I would expect us to disallow `PORT` only on the user-container

[2020-06-22 20:08] jeffgriffith commented on #8047
I can't quite tell - is issue 1411 meant to solve this problem? In my case, i'm not using kn monitoring, I simply want to grab the Prometheus metrics myself via our own components (ServiceMonitor) on its port (:8002/metrics).

[2020-06-22 20:25] #8139 closed

[2020-06-22 21:10] dprotaso commented on #8056
https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_serving/8259/pull-knative-serving-unit-tests/1275169708290609152

[2020-06-22 21:20] vagababov commented on #8056
Let me try a few things.
Between a bigger timeout and test restructure something should work.

[2020-06-22 21:35] #6584 closed

[2020-06-22 21:46] evankanderson commented on #8394
Would we expect to set the `K_` variables on the other containers, so that they know:

1. They are running under Knative
2. How to find the Knative thing they are running in

[2020-06-22 21:52] vagababov commented on #8056
I think I know what can we do...

[2020-06-22 22:19] nthnca commented on #6604
There have been a number of changes to that test over the last 6 months, for example 7357238a2ace3bc092d7f2bb3018445324a2c822. Should this bug be marked as resolved?

[2020-06-22 22:29] vagababov commented on #6604
It has been since rewritten even more.
probably we can close this
/close

[2020-06-22 23:25] mattmoor commented on #8394
We could, although this is an instance where it'd be nice to have a downward API way to express this vs. just requiring it everywhere.

[2020-06-22 23:56] nak3 commented on #6549
@duglin Could you please let us know what ingress (e.g. net-istio, net-kourier, etc...) and what version are you using? The old ingress may still hits the issue.  For example, I found that Knative Serving using master with net-kourier v1.4 still hit this issue.

Also could you please confirm if your ingress object does not have `spec.rules.https.paths.retries`?

[code]

It should be removed by htt

[2020-06-23 00:04] #8097 closed

[2020-06-23 00:04] #8056 closed

[2020-06-23 03:09] #8346 closed

[2020-06-23 05:58] ZhiminXiang commented on #8015
/close

[2020-06-23 05:58] #8015 closed

[2020-06-23 08:36] skonto commented on #8394
@markusthoemmes from what I see

are set as follows:
a) reconciliation happens and a deployment is to be created or updated (next is the calls for creation).
b) reconcileDeployment -> [createDeployment](https://github.com/knative/serving/blob/0744ccb442024de51a1a55285b17649eb26b0007/pkg/reconciler/revision/reconcile_resources.go#L47) -> [MakeDeployment](https://github.com/knative/serving/blob/bb86

[2020-06-23 08:40] markusthoemmes commented on #8394
Which seems fine to me for now :+1: Thanks for the analysis.

[2020-06-23 09:09] skonto commented on #8394
@evankanderson I am wondering should not this (knowing where I am running on) be an external concern instead of something injected in containers? It seems that if this info is going to be used in the container it would look like a dependency on low level info.
Let's say I have deployed the same container on systems X and Z, user logic normally should know nothing about system type. You could confi

[2020-06-23 10:42] rccrdpccl commented on #8366
The proposed approach of VPA integration in knative would look as follows:
![VPA with PodSelector](https://user-images.githubusercontent.com/18526422/85394227-9039b900-b54e-11ea-82be-6a13f97d4e6e.jpeg)

Knative configuration would ensure creating:
* PodSelector (a new CRD with the aim to select all Knative Service's pods throughout its lifetime, so that VPA can observe its behaviour without attach

[2020-06-23 10:52] markusthoemmes commented on #8366
Thanks for working this out, greatly appreciated :tada:.

I wonder if this is really the behavior we want. Technically, the implementation of a Knative Service can differ vastly throughout multiple revisions of a Knative Service so I'm wondering if it's safe to keep the VPA recommendations stable across all of them. On the surface though, it sounds like something worth getting.

Is it possible to

[2020-06-23 12:03] knative-test-reporter-robot opened #8413 "[flaky] test/conformance/ingress.TestIngressConformance/retry/period=10,attempts=10"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressConformance/retry/period=10,attempts=10
* **Repository name**: serving

[2020-06-23 12:03] knative-test-reporter-robot opened #8414 "[flaky] test/conformance/ingress.TestIngressConformance/retry/period=5,attempts=4"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressConformance/retry/period=5,attempts=4
* **Repository name**: serving

[2020-06-23 12:03] knative-test-reporter-robot opened #8415 "[flaky] test/conformance/ingress.TestIngressConformance/retry/period=2,attempts=1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressConformance/retry/period=2,attempts=1
* **Repository name**: serving

[2020-06-23 12:03] knative-test-reporter-robot opened #8416 "[flaky] test/conformance/ingress.TestIngressConformance/retry/period=8,attempts=8"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressConformance/retry/period=8,attempts=8
* **Repository name**: serving

[2020-06-23 12:03] knative-test-reporter-robot opened #8417 "[flaky] test/conformance/ingress.TestIngressConformance/retry/period=6,attempts=6"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressConformance/retry/period=6,attempts=6
* **Repository name**: serving

[2020-06-23 12:03] knative-test-reporter-robot opened #8418 "[flaky] test/conformance/ingress.TestIngressConformance/retry/period=4,attempts=3"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressConformance/retry/period=4,attempts=3
* **Repository name**: serving

[2020-06-23 12:03] knative-test-reporter-robot opened #8419 "[flaky] test/conformance/ingress.TestIngressConformance/retry/period=7,attempts=7"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressConformance/retry/period=7,attempts=7
* **Repository name**: serving

[2020-06-23 12:03] knative-test-reporter-robot opened #8420 "[flaky] test/conformance/ingress.TestIngressConformance/retry/period=11,attempts=10"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressConformance/retry/period=11,attempts=10
* **Repository name**: serving

[2020-06-23 12:03] knative-test-reporter-robot opened #8421 "[flaky] test/conformance/ingress.TestIngressConformance/retry/period=5,attempts=5"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressConformance/retry/period=5,attempts=5
* **Repository name**: serving

[2020-06-23 12:03] knative-test-reporter-robot opened #8422 "[flaky] test/conformance/ingress.TestIngressConformance/retry/period=4,attempts=4"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressConformance/retry/period=4,attempts=4
* **Repository name**: serving

[2020-06-23 12:03] knative-test-reporter-robot opened #8423 "[flaky] test/conformance/ingress.TestIngressConformance/retry/period=9,attempts=9"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressConformance/retry/period=9,attempts=9
* **Repository name**: serving

[2020-06-23 12:03] knative-test-reporter-robot opened #8424 "[flaky] test/conformance/ingress.TestIngressConformance/retry/period=11,attempts=11"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressConformance/retry/period=11,attempts=11
* **Repository name**: serving

[2020-06-23 12:03] knative-test-reporter-robot opened #8425 "[flaky] test/conformance/ingress.TestIngressConformance/retry/period=8,attempts=7"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressConformance/retry/period=8,attempts=7
* **Repository name**: serving

[2020-06-23 12:03] knative-test-reporter-robot opened #8426 "[flaky] test/conformance/ingress.TestIngressConformance/retry/period=3,attempts=3"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressConformance/retry/period=3,attempts=3
* **Repository name**: serving

[2020-06-23 12:03] knative-test-reporter-robot opened #8427 "[flaky] test/conformance/ingress.TestIngressConformance/retry/period=2,attempts=2"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressConformance/retry/period=2,attempts=2
* **Repository name**: serving

[2020-06-23 12:04] knative-test-reporter-robot opened #8428 "[flaky] test/conformance/ingress.TestIngressConformance/retry/period=3,attempts=2"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressConformance/retry/period=3,attempts=2
* **Repository name**: serving

[2020-06-23 12:12] #6965 closed

[2020-06-23 12:33] pratham-m opened #8429 "TestMustHaveCgroupConfigured E2E test in knative-serving is failing"
## Ask your question here:
Hi Team,

I am trying to execute the e2e test validation, wherein one of the test is failing for me.
The "knative-serving" test that is failing is:
[code]
I checked the cat /sys/fs/cgroup/memory/memory.limit_in_bytes and the value is 9223372036854710272

I tried to change the limit from 128MB to 127MB in code, however the test still failed with similar error.
`cgroup_tes

[2020-06-23 12:37] markusthoemmes commented on #8429
https://github.com/knative/serving/pull/8412 is supposed to fix this, verification would be great.

[2020-06-23 12:43] pratham-m commented on #8429
Thanks @markusthoemmes will check and let you know.

[2020-06-23 13:00] pratham-m commented on #8429
Verified.
The changes in [https://github.com/knative/serving/pull/8412](url) work successfully.

Here is the test log.
[code]

Thanks @markusthoemmes

[2020-06-23 13:02] pratham-m commented on #8429
Closing the issue.

[2020-06-23 13:02] #8429 closed

[2020-06-23 13:09] rccrdpccl commented on #8366
Thanks for your feedback.

You have a point here. _regular_ deployments might also have very different requirements as the image is updated, however they don't coexist for long.
I guess the problem would be introduced if two revision coexist for a long time and they have very different resources usage.

Unfortunately this intermediary CR is needed in order to observe pods among different deploymen

[2020-06-23 13:39] mgencur opened #8430 "Create load test running during upgrades"
Some downstream testing showed that application pods for the current Revision are replaced with new ones during an upgrade but during the process there can be very low number of pods for the Revision (down to 1, actually). This is especially painful if the expected scale of the Revision is high before the upgrade and suddenly during the upgrade the available number of pods goes down quite a bit.

[2020-06-23 13:39] mgencur commented on #8430
I could work on this. Any objections? Thoughts?

[2020-06-23 13:41] markusthoemmes commented on #8430
/assign @mgencur

I think such a loadtest would be quite valuable. It's a blind spot today.

[2020-06-23 14:04] aliok commented on #8114
I was just today complaining that there are too many configmaps to configure eventing :)
Big +1 on exploring this issue.

As a naive solution, we can aim strong typing as much as possible with proper api. But for things like logging, we can create a map.

[2020-06-23 14:20] houshengbo opened #8436 "Release all the upgrade jobs in one artifact"
## Describe the feature
As Knative operator is implementing the feature to download knative artifacts online, serving component needs to offer a mechanism to fetch all the upgrade related jobs.

By far, Knative serving releases serving-crds.yaml for CRDs, serving-core.yaml for core resources. Whether we can release an artifacts called `serving-upgrade.yaml` or any other valid name, to hosting all

[2020-06-23 15:36] dprotaso commented on #6074
/assign @dprotaso

[2020-06-23 17:22] dprotaso commented on #6074
To follow up - we discussed service links at the API WG group and the consensus was

1) We'll allow service links to be set (hence the PR)
2) We don't want to deviate from the K8s defaults in the PodSpec (this could affect portability of workloads)

A future concern would be _could_  Knative operators change these default - but that's a different issue

[2020-06-23 18:02] vagababov commented on #8366
Thanks a lot for the writeup.
I concur with what Markus said above by means of:

- operator might not want to apply VPA to _all_ services
- we already have a selector `service` that might permit applying more-or-less uniform suggestions to a service (across revisions).

It should be possible to utilize that so feed into VPA, no

[2020-06-23 18:03] vagababov commented on #8366
/cc @mattmoor  @julz

[2020-06-23 19:08] AceHack opened #8441 "storage-version-migration job never completes on istio enabled cluster"
## What version of Knative?
0.15.1

## Expected Behavior

storage-version-migration job to finish on istio enabled cluster

## Actual Behavior

storage-version-migration job never completes on istio enabled cluster

## Steps to Reproduce the Problem

Install 0.15.1 on istio enabled cluster with auto-injection enabled

## Related
This is the same issue from here
https://github.com/knative/eventing-

[2020-06-23 19:23] laballab commented on #8441
I'm having this issue as well 😕

[2020-06-23 19:33] ssandanshi commented on #8441
I would appreciate it if this was resolved as well.

[2020-06-23 20:58] dprotaso commented on #8441
Posted in slack but worth mentioning here:

I’m confused - why do our controllers work but not these jobs. For example the storage migration job just hits the K8s API directly.

https://github.com/knative/serving/blob/b221eab7d7048c7e4fa05a3e60c75d48e6eb71a8/config/core/deployments/controller.yaml#L27-L32

[2020-06-23 21:05] tcnghia commented on #8441
@dprotaso  Controllers allow Pod restarts, giving time for the sidecar to start up. I think batch jobs are different.

[2020-06-23 21:21] whaught commented on #6604
/reopen
/assign @nthnca

[2020-06-23 21:23] whaught opened #8446 "Create a design for responsive Revision Garbage Collection"
## Describe the feature
Creating a design for https://github.com/knative/serving/issues/8208 which will allow us to collect stale revisions more efficiently.

Work In Progress doc: https://docs.google.com/document/d/1V7ZunxIq_3vOhH8wJjHXsEf_dU1XbgWluvTILVQvUos

 /area API
 /kind spec

[2020-06-23 21:24] whaught commented on #8446
/assign

[2020-06-23 21:32] whaught commented on #6604
my mistake. This ought to remain closed

/close

[2020-06-23 21:32] #6604 closed

[2020-06-23 22:20] #8441 closed

[2020-06-23 23:30] shreejad commented on #7233
/assign @shreejad

[2020-06-24 00:15] AceHack commented on #8441
@dprotaso it's related to this istio issue where istio does not work correctly with k8s jobs
istio/istio#6324

[2020-06-24 00:27] dprotaso commented on #8441
that work around isn't great :(

[2020-06-24 00:28] dprotaso commented on #8441
thanks for the context

[2020-06-24 00:52] duglin commented on #6549
@nak3 I'm using Istio 1.5.4 and when I look at the kingress I don't see any "retries" in there.

[2020-06-24 01:24] nak3 commented on #6549
@duglin Thank you. The `net-istio` is also built from master branch or v0.15.1? e.g. You deployed net-istio from https://github.com/knative/net-istio/releases or https://github.com/knative/serving/blob/master/third_party/net-istio.yaml maybe?
It is important because the net-istio also needs to import the [fix](https://github.com/knative/net-istio/commit/8ab56cedacaf2580019ef61d6b1afbdaa526eb84#dif

[2020-06-24 02:46] nak3 commented on #6549
Never mind. I could produce the issue with net-istio from master branch by your script.

[2020-06-24 07:42] skonto commented on #8393
I can have a look at it.

[2020-06-24 07:44] markusthoemmes commented on #8393
/assign @skonto

[2020-06-24 08:52] markusthoemmes commented on #7241
This might be somewhat non-trivial as our current validation logic for ConfigMaps only gets the state of the update itself, not the "before" state, thus (I think?) it cannot decide whether you're actually toggling or not. As such, this might require significant changes to how we validate ConfigMaps in our webhook. Does that sound right @dprotaso?

[2020-06-24 12:05] knative-test-reporter-robot opened #8455 "[flaky] test/conformance/api/v1.TestRevisionTimeout/when_scaling_up_from_0_and_it_writes_first_byte_before_timeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestRevisionTimeout/when_scaling_up_from_0_and_it_writes_first_byte_before_timeout
* **Repository name**: serving

[2020-06-24 12:05] knative-test-reporter-robot opened #8456 "[flaky] test/conformance/api/v1.TestContainerErrorMsg"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestContainerErrorMsg
* **Repository name**: serving

[2020-06-24 13:22] dprotaso commented on #7241
Yeah I was thinking about that as well

[2020-06-24 13:29] markusthoemmes commented on #7241
We might be lucky because the `configmap.Constructors` type is `map[string]interface{}` and the functions are called by reflection already. Maybe we can make it so that it can take both unary and 2-arity functions and depending on which it gets, it passes the correct parameters in?

We could then create a `ValidateABC` function for the features configmap that we pass into the webhook here https://

[2020-06-24 14:55] houshengbo commented on #8436
This issue is associated with https://github.com/knative/eventing/issues/3386.

I am thinking of creating an artifact named serving-upgrade.yaml or eventing-upgrade.yaml.
It contains all the resources necessary to upgrade to the released version. We can download it via the link and run it in the operator. This file is the entry to find all the upgrade-related resources.

[2020-06-24 16:16] vagababov commented on #7241
I don't see this working though. I can just delete the CM. Or you're going to block deletion of CM as well?

[2020-06-24 16:18] vagababov commented on #6994
No feedback from the OP.
/close

[2020-06-24 16:18] #6994 closed

[2020-06-24 16:18] vagababov commented on #4557
/remove-lifecycle rotten
/remove-lifecycle stale
/lifecycle frozen

[2020-06-24 16:33] nthnca commented on #6006
/assign

[2020-06-25 00:39] vagababov commented on #6625
@yanweiguo @JRBANCEL @itsmurugappan — is this still being looked at or we should close it out?

[2020-06-25 01:08] #6549 closed

[2020-06-25 01:54] yuchunyu97 opened #8466 "There are many useless environment variables in the user-container container."
When using the environment variables in the `user-container`, I found that there are many environment variables in the container that do not know where they came from. These variables start with the name of the current `Revision`, and each container contains all Revision-related environment variables under the same `Knative Service`.

Here is some environmental information:

[code]

[code]

[code]

[2020-06-25 02:58] mattmoor opened #8468 "invalid feature flag name kubernetes/field-ref"
/area API
/kind bug

## What version of Knative?

HEAD

## Actual Behavior

[code]

## Steps to Reproduce the Problem

Try to enable the field-ref feature flag.

/assign @JRBANCEL

[2020-06-25 04:58] vagababov commented on #8466
How did you determine that they are useless?
Those are injected by kubernetes.

[2020-06-25 05:39] yuchunyu97 commented on #8466
I'm just guessing that they are useless, I mainly want to know what they are used for, and if deleting these environment variables in the user-container will have an effect.

[2020-06-25 05:58] markusthoemmes commented on #8466
You'll want https://github.com/knative/serving/pull/8439 and then set `EnableServiceLinks` to `false` I believe.

[2020-06-25 06:16] yuchunyu97 commented on #8466
This is exactly what I want. Thank you.

Because we will expose the user-container to the user, we do not want to show the user too much information.

[2020-06-25 06:16] #8466 closed

[2020-06-25 09:05] skonto opened #8471 "Support multiple ports in a revision"
## In what area(s)?

/area API

Other classifications:

 /kind spec

## Describe the feature

A developer using Knative Serving when creating applications that consist of one or more containers should be able to specify the desired port to be scraped by the autoscaler and not to be restricted to: one port per serving container and no ports for the other not serving containers eg. sidecars. This ha

[2020-06-25 09:59] rccrdpccl commented on #8366
I also totally agree with this. We did not get to discuss the API and controls over this, but I would imagine this can be defined through a service annotation (we can also define max and min for VPA, etc).

Are you referring to core/v1 service? The issue with the needed object reference is that it needs to:

* implement [Scale](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#s

[2020-06-25 12:05] #8414 closed

[2020-06-25 12:05] #8418 closed

[2020-06-25 12:05] #8419 closed

[2020-06-25 12:05] #8422 closed

[2020-06-25 12:05] #8425 closed

[2020-06-25 12:05] #8424 closed

[2020-06-25 12:05] #8415 closed

[2020-06-25 12:05] #8413 closed

[2020-06-25 12:05] #8417 closed

[2020-06-25 12:05] knative-test-reporter-robot opened #8472 "[flaky] test/conformance/api/v1alpha1.TestRevisionTimeout/when_scaling_up_from_0_and_it_does_exceed_timeout_seconds"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestRevisionTimeout/when_scaling_up_from_0_and_it_does_exceed_timeout_seconds
* **Repository name**: serving

[2020-06-25 12:06] #8416 closed

[2020-06-25 12:06] #8426 closed

[2020-06-25 12:06] #8423 closed

[2020-06-25 12:06] #8428 closed

[2020-06-25 12:06] #8421 closed

[2020-06-25 12:06] #8420 closed

[2020-06-25 12:06] #8427 closed

[2020-06-25 12:38] #8468 closed

[2020-06-25 15:50] vagababov commented on #8472
/assign @andrew-su @shashwathi

[2020-06-25 15:50] vagababov commented on #8472
Hi Andrew, Sash,
could you  please take a look?

[2020-06-25 16:09] vagababov commented on #8471
So what's the point of creation of this issue if we have #7140?

[2020-06-25 16:16] #8436 closed

[2020-06-25 16:19] vagababov commented on #8366
Ok, we need to be precise :)
Let's call knative service kservice and k8s service — service :)

----

We have an annotation for `kservice` on the revisions. But I think it's a wrong one to use, since you can have a knative deployments without a service (i.e. just configurations and routes) — we should probably use knative configuration label instead.

---

As far as granularity goes: should it be a

[2020-06-25 16:31] markusthoemmes commented on #8366
It seems like that's what `PodSelector` is in the above proposal precisely.

[2020-06-25 17:12] ZhiminXiang commented on #8098
/close

[2020-06-25 17:12] #8098 closed

[2020-06-25 18:19] dprotaso opened #8477 "Upgrade tests on release branches aren't installing the right versions"
## What version of Knative?

## Expected Behavior

The scripts install the latest serving and then HEAD.

## Actual Behavior

Say for a patch on a 0.15 release branch it should install the latest 0.14.x release and then install HEAD as part of the upgrade test

## Steps to Reproduce the Problem

Open a PR against a release branch

[2020-06-25 18:59] dprotaso commented on #5664
I think the example is an exception and we require our mutating webhooks to be present prior to creating Knative resources.

[2020-06-25 19:51] markusthoemmes commented on #6516
Is there any progress being made here?

[2020-06-25 19:51] markusthoemmes commented on #8066
I'm going to try to knock this one off.

/assign

[2020-06-25 19:53] markusthoemmes commented on #6258
Not going to happen in 0.16, PoC is in progress though!

[2020-06-25 19:54] markusthoemmes commented on #7915
Not going to happen in 0.16.

[2020-06-25 19:54] markusthoemmes commented on #7664
More work to do here? Seems like we've done quite a bit :tada:

[2020-06-25 22:21] vagababov commented on #7664
Yeah, I think I can close this one for now.
/close

[2020-06-25 22:21] #7664 closed

[2020-06-26 00:25] duglin commented on #1816
Where do we stand on this? Ignoring the syntax of how to expose the option (annotation vs podSpec fields), is this something people are ok with exposing?

[2020-06-26 00:26] duglin commented on #4522
/remove-lifecycle stale

/cc @beemarie

[2020-06-26 00:36] whaught commented on #8446
/close

[2020-06-26 00:36] #8446 closed

[2020-06-26 08:10] rccrdpccl commented on #8366
The above described approach would apply it at a service/configuration level, while a similar approach to the one mentioned in #2929 would apply it at revision level. Each approach has his pro&con:

* Approach described in this issue would handle well services that are updated frequently, but give possibly inaccurate VPA recommendations on services that use traffic split and have long lived revisi

[2020-06-26 12:01] #6489 closed

[2020-06-26 12:05] knative-test-reporter-robot opened #8484 "[flaky] test/conformance/api/v1beta1.TestRevisionTimeout/when_scaling_up_from_0_and_it_writes_first_byte_before_timeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestRevisionTimeout/when_scaling_up_from_0_and_it_writes_first_byte_before_timeout
* **Repository name**: serving

[2020-06-26 12:06] #8314 closed

[2020-06-26 15:10] houshengbo commented on #6516
I am not sure if this issue is still valid.
I used to submit a PR https://github.com/knative/serving/pull/7397 in Apr, targeting to resolve the NS related issues.
All the prow jobs generate random NS, and use it to install serving and testing serving. We have already resolved this issue.

One example can be:
check this PR: https://github.com/knative/serving/pull/8487, the integration tests link is

[2020-06-26 15:55] beemarie commented on #6516
From the comment from @mattmoor -- weren't you saying there is an environment variable that is set to keep the tests running when knative is running in a different namespace?  If that env var is unset, then this test should fail, if i'm understanding correctly.

[2020-06-26 18:12] houshengbo commented on #6516
Knative serving is installed under a NS.
When we run the tests, we need to specify the same NS to test on.
As long as installation and test use the same NS, there should be no problem for knative. Otherwise, there may be issues with knative or the test cases.

However, if we install knative serving under one NS, but test on another NS, the expected behavior is tests fail.

[2020-06-26 18:54] dprotaso opened #8490 "different resource ordering between `ko apply -f config/` and our release yamls"
Our release yamls order resources differently than our ordinal ordering in `config/`. Eventing had things in a different order which surfaced an upgrade failure - https://github.com/knative/eventing/pull/3409#issuecomment-649637600

We should confirm the order of our resources (ie. webhooks _before_ configs) and make it consistent in serving

[2020-06-26 22:44] skonto commented on #8471
@vagababov afaik #7140 is a question, I am making it a feature request and I am adding a proposal. Any reason not to?
cc @markusthoemmes

[2020-06-26 23:48] vagababov commented on #8471
:shrug: seems redundant to have several things about the same. We need to close one of them.

[2020-06-27 12:01] #4470 closed

[2020-06-27 12:01] #6645 closed

[2020-06-27 12:05] knative-test-reporter-robot opened #8493 "[flaky] test/conformance/api/v1.TestRevisionTimeout/when_pods_already_exist,_and_it_writes_first_byte_before_timeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestRevisionTimeout/when_pods_already_exist,_and_it_writes_first_byte_before_timeout
* **Repository name**: serving

[2020-06-27 12:05] knative-test-reporter-robot opened #8494 "[flaky] test/e2e.TestServiceToServiceCall/short"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestServiceToServiceCall/short
* **Repository name**: serving

[2020-06-27 12:05] knative-test-reporter-robot opened #8495 "[flaky] test/e2e.TestSvcToSvcViaActivator/a-disabled"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSvcToSvcViaActivator/a-disabled
* **Repository name**: serving

[2020-06-27 12:05] knative-test-reporter-robot opened #8496 "[flaky] test/conformance/api/v1beta1.TestRevisionTimeout/when_pods_already_exist,_and_it_writes_first_byte_before_timeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestRevisionTimeout/when_pods_already_exist,_and_it_writes_first_byte_before_timeout
* **Repository name**: serving

[2020-06-27 12:05] #8472 closed

[2020-06-27 12:05] #8456 closed

[2020-06-27 12:05] knative-test-reporter-robot opened #8497 "[flaky] pkg/reconciler/nscert.TestUpdateDomainTemplate"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/nscert.TestUpdateDomainTemplate
* **Repository name**: serving

[2020-06-27 12:45] skonto commented on #8471
@vagababov ok compaction is good as long as we can summarize all the other discussions, then we can close the other issues and point to to this one. I think this one does so, thus let's close whatever is related to it.

[2020-06-27 13:06] skonto commented on #7241
@vagababov regarding deletion If I read correctly this new [enhancement](https://github.com/kubernetes/kubernetes/issues/10179) by K8s might be useful.

[2020-06-27 14:43] mattmoor commented on #6074
Possibly related, but I need to confirm: https://knative.slack.com/archives/CA4DNJ9A4/p1593267884035600

[2020-06-27 15:02] mattmoor opened #8498 "Many services in a single namespace leads to assorted problems."
/area API
 /area autoscale

## What version of Knative?

HEAD

## Description of the problem.

I wanted to push on our limits a bit, and so I wrote the very innovative (patent pending 🤣 ) script below.  I plotted the latency between `creationTimestamp` and `status.conditions[Ready].lastTransitionTime` [here](https://docs.google.com/spreadsheets/d/1LKsOSVSFMLWP60v7lsbDJHdMNarC1yQcelQ9bjFd7-g/edit#g

[2020-06-27 15:06] mattmoor commented on #8498
Given the sheer volume of services we create, I have the sneaking suspicion that this is related to the service link environment variables injected by k8s.  @dprotaso has a change to allow us to use `enableServiceLinks: false` [here](https://github.com/knative/serving/pull/8439).

I am going to try pulling that in and see if it alleviates these problems.  If it does, then I think we have our compe

[2020-06-27 15:44] vagababov commented on #8498
Yeah Dave's change should help with this

[2020-06-27 15:54] #6074 closed

[2020-06-27 16:22] dprotaso commented on #6074
Follow up issue about the default here https://github.com/knative/serving/issues/8498

[2020-06-27 17:13] tshak commented on #8498
`enableServiceLinks: false` still feels like the right default to me, especially if it's causing issues like this. I really can't imagine anyone using knative relying on Docker links behavior. If they do we have a switch now where it can be enabled in the PodSpec.

[2020-06-27 18:46] mattmoor commented on #8498
@tshak Ack, when this was raised previously we didn't really have tangible evidence that this could cause correctness or performance problems at scale.  I am running a test now that should confirm/deny that impact, and then we can revisit in the WG call.  However, I think the sentiment from the previous WG call stands: we need to handle this like a change to "stable" behavior.

**Assuming we have

[2020-06-27 19:19] vagababov commented on #8497
/assign @ZhiminXiang
Zhimin, this seems to fail quite often. Can you take a look, please?

[2020-06-27 20:04] mattmoor commented on #8498
Alright, I still need to confirm that we can push beyond 1200 services without the `standard_init_linux.go` problem, but I think we have enough to declare a smoking gun.

This is the before picture (effectively `enableServiceLinks: true`):
![image](https://user-images.githubusercontent.com/2442466/85930987-89c07f80-b875-11ea-88b9-498a15963d81.png)

This is the after picture (`enableServiceLinks: f

[2020-06-27 20:49] mattmoor commented on #8498
Alright, I have confirmed the last piece of this.  Above 1200 services, we fail to cold start with service links, but without we still see pretty exceptional cold starts...

[code]

[2020-06-27 21:39] mattmoor commented on #8498
cc @markusthoemmes

[2020-06-28 12:03] #8484 closed

[2020-06-28 12:03] knative-test-reporter-robot opened #8500 "[flaky] pkg/reconciler/autoscaling/kpa.TestControllerSynchronizesCreatesAndDeletes"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/autoscaling/kpa.TestControllerSynchronizesCreatesAndDeletes
* **Repository name**: serving

[2020-06-28 15:48] mattmoor commented on #8498
Overnight I did a fresh run creating 1500 ksvc (with kn as above, but with service links disabled by default thanks to @vagababov), and the Revision creation latency is completely flat:
![image](https://user-images.githubusercontent.com/2442466/85951917-05c0d300-b91b-11ea-9f67-403a983cfd67.png)

... bear in mind that the original graph was only 1000 ksvc.

So I think we should start a discussion a

[2020-06-28 15:59] mattmoor commented on #4263
/remove-lifecycle rotten
/reopen

[2020-06-28 22:20] #8394 closed

[2020-06-29 00:01] #6652 closed

[2020-06-29 02:40] #6421 closed

[2020-06-29 05:24] #8500 closed

[2020-06-29 06:41] markusthoemmes commented on #6516
I think the point of the issue is that ConfigMaps and Secrets etc are not part of the Knative Serving API. The conformance tests thus shouldn‘t rely on being able to fetch such data via Configmaps which I believe our ScaleToZero helpers do IIRC.

@mattmoor was that the reason to open this issue in the first place?

[2020-06-29 07:59] markusthoemmes commented on #8378
/assign @skonto

@skonto is going to take a crack at this.

[2020-06-29 10:11] astefanutti commented on #8471
Specifically for the monitoring use case with the Prometheus operator, the current limitation prevents from using the `PodMonitoring` API. As an example, we would need this for apache/camel-k#1555.

[2020-06-29 12:01] #6353 closed

[2020-06-29 12:03] #8497 closed

[2020-06-29 12:03] #8496 closed

[2020-06-29 12:03] #8493 closed

[2020-06-29 12:03] knative-test-reporter-robot opened #8506 "[flaky] test/e2e.TestRoutesNotReady"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestRoutesNotReady
* **Repository name**: serving

[2020-06-29 12:04] #8494 closed

[2020-06-29 12:04] #8495 closed

[2020-06-29 12:34] duglin commented on #6146
/remove-lifecycle stale

@tcnghia should a non-web-socket stream work?

[2020-06-29 14:12] markusthoemmes commented on #7324
The rest of this is not a good first issue anymore and requires a fair bit of caution. I'm happy to help people through it, but it's much more involved. Also kinda blocked on #8377 to refactor the scraper in a way to make controlling it's lifetime more predictable.

[2020-06-29 15:05] dprotaso commented on #7241
Our current min K8s version is 1.16 so it'll be sometime before we can adopt that feature

[2020-06-29 15:16] dprotaso commented on #4480
Going to close this issue since PSP won't be supported in the future

From: https://github.com/kubernetes/kubernetes/pull/90603

[2020-06-29 15:16] #4480 closed

[2020-06-29 16:39] #8393 closed

[2020-06-29 17:00] vagababov commented on #7241
Also _we_ don't want CMs to be immutable. But _operators_ might, i.e. mark the CMs as immutable in the operator deployment.

[2020-06-29 17:41] vagababov commented on #8366
In any case we can start with something and then iterate.
One thing I think we need to decide, if whether we can apply VPA to services with fixed container concurrency (I think we can, but also we probably need to look at edge-cases).

[2020-06-29 20:00] dprotaso commented on #7241
I also realize this issue applies to other features - ie. enabling and disabling fieldref.

Maybe the solution for now is operator awareness - maybe via comments in the features configmap

[2020-06-29 20:17] duglin commented on #6549
@nak3 now that serving has been updated with your PR I verified that it works now! thanks!

[2020-06-30 04:39] mattmoor commented on #6373
/remove-lifecycle stale

[2020-06-30 04:45] mattmoor commented on #1816
I was just talking to @dprotaso about this today.  Now that we have `config-features` I think we should add this as something that can be allowed through like we have for `kubernetes.field-ref` (thanks to @JRBANCEL).

@duglin Do you have someone who might be interested in plumbing this through in 0.17?

[2020-06-30 06:46] pradithya commented on #7349
@yuzisun I recently updated the nodepool version to 1.15.11-gke.15  which includes the CFS throttling fix. The result is quite positive, it eliminate most of the throttling and tail latency is less spiky.

<img width="1888" alt="Screenshot 2020-06-30 at 2 40 49 PM" src="https://user-images.githubusercontent.com/4023015/86092697-749b5900-bae0-11ea-84ae-31e08be8626f.png">

[2020-06-30 07:00] zhanggbj opened #8518 "Istio ingressgateway MEM isn't auto-released after create and delete 500 ksvc (consumes about 500k ~ 1M for 1 ksvc)"
## What version of Knative?

## What version of Istio?

## Expected Behavior
 Istio ingressgateway MEM is auto-released after delete 500 Knative services.

## Actual Behavior

Istio ingressgateway MEM isn't auto-released (even after 24 hours) after delete 500 Knative services.

Istio ingressgateway MEM recycling may have some problem, only after a pod restart, it will release unused MEM from 700M+

[2020-06-30 07:05] markusthoemmes commented on #8518
Have you verified that this is a Knative bug? Are all istio resources (VirtualServices mostly) correctly deleted after the Knative Services are deleted?

[2020-06-30 07:18] zhanggbj commented on #8518
@markusthoemmes I think yes, as Istio VirtualServices has ownership of Knative Ingress, they will be removed when the knative services are deleted. We wait for at least 24 hours.

[2020-06-30 07:33] markusthoemmes commented on #8518
That'd imo hint at a bug in Istio then I believe? Not sure what Knative can do to alleviate that.

[2020-06-30 08:01] skonto commented on #7241
True it will take a few months, but it seems it will go to Beta.

If there are settings not meant to be changed once set, then they can be put in a special [immutable configmap](https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/1412-immutable-secrets-and-configmaps/README.md#proposal). This way it would be clear what can or cannot be changed at runtime.
An alternative would b

[2020-06-30 08:06] markusthoemmes commented on #7241
Seems to me as adding a cautionary warning to the configmap setting is sufficient for now?

[2020-06-30 12:01] #6698 closed

[2020-06-30 12:04] knative-test-reporter-robot opened #8520 "[flaky] test/conformance/api/v1.TestRevisionTimeout/when_pods_already_exist,_and_it_does_exceed_timeout_seconds"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestRevisionTimeout/when_pods_already_exist,_and_it_does_exceed_timeout_seconds
* **Repository name**: serving

[2020-06-30 12:04] knative-test-reporter-robot opened #8521 "[flaky] test/conformance/api/v1alpha1.TestRevisionTimeout/when_pods_already_exist,_and_it_does_exceed_timeout_seconds"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestRevisionTimeout/when_pods_already_exist,_and_it_does_exceed_timeout_seconds
* **Repository name**: serving

[2020-06-30 12:04] knative-test-reporter-robot opened #8522 "[flaky] test/ha.TestActivatorHANonGraceful"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/ha.TestActivatorHANonGraceful
* **Repository name**: serving

[2020-06-30 12:23] duglin commented on #7449
/remove-lifecycle stale

[2020-06-30 12:25] duglin commented on #1816
@mattmoor let me check....

[2020-06-30 13:45] rccrdpccl commented on #8366
Sure, I think I can try have a prove of concept with the above described approach.
What is your concern about services with fixed container concurrency @vagababov ? I can't see why VPA should not apply

[2020-06-30 14:02] nak3 commented on #6990
/close

This was solved by https://github.com/knative/serving/pull/6995 and https://github.com/knative/serving/pull/8395.
It is green now :green_circle:

https://testgrid.knative.dev/serving#istio-1.5-mesh&include-filter-by-regex=TestAutoTLS/HTTP01

[2020-06-30 14:02] #6990 closed

[2020-06-30 14:40] ZhuangYuZY commented on #8518
Yes, I think we need to ask in istio community. Thank you

[2020-06-30 15:20] zhanggbj commented on #8518
would like to take an initial investigation first, if this isn't Knative related, will open issue in istio then

For Istio itself, here's the performance result from istio.io. For each knative service, it has 1 Istio Vitrual Service.
[code]

[2020-06-30 15:41] zhanggbj commented on #8063
Hi @yanweiguo

Installed 0.15 but still no revision metrics like `revision_xxx`. Is there any specific config flags I need to enable, this metrics should be there by default, right?

[2020-06-30 17:50] vagababov commented on #8366
I don't have a specific one, I just have a feeling that it won't always work (same as with HPA based on CPU/MEM + VPA).

[2020-06-30 17:52] vagababov commented on #7241
Warning is fine.

-----

Not necessarily true, settings might be set by mistake. I might be sure that disabling the setting is going to be safe, etc.

[2020-06-30 18:35] markusthoemmes commented on #8518
well you already said that all VirtualServices are removed correctly, right? Are there any other lingering istio resources after the Knative Services are removed?

[2020-06-30 18:42] vagababov commented on #8518
If you don't see any resources owned by knative
`kubectl get vs -l serving.knative.dev/route`
then it's an istio bug.

[2020-06-30 21:56] yuzisun commented on #7349
@pradithya what's the queue proxy resource limit setting for the above?

[2020-06-30 22:11] richterdavid commented on #7925
Discussion:
original that led to this issue: https://knative.slack.com/archives/CU9DGL4FM/p1588871674091600
whether to do per-repo or central: https://knative.slack.com/archives/CU9DGL4FM/p1590099243112600

[2020-07-01 00:09] pradithya commented on #7349
This is is at 200m for CPU request and 1 CPU for limit

[2020-07-01 05:08] yanweiguo commented on #8063
Could you provide more informations:

- Where did you see the metrics missing? The grafana dashboard?
- Have you send some traffics to the revision you are interested?
- What's the context of your config-observability ConfigMap under knative-serving namespace?
- Are you able to see `revision_request_xxx` metrics from your revision's pod from 9091 port?

Also we can talk via knative.slack.com if yo

[2020-07-01 06:27] markusthoemmes commented on #7796
So @vagababov and I had a brief discussion on this and there's room for clarification here: What is the `TimeoutSeconds` value supposed to represent?

In the current implementation, the activator will start the timer when receiving the request, meaning that cold start times etc. will be included in the timeout. That makes the timeout consistent from the client's PoV in that it is a time-bound on t

[2020-07-01 07:10] zhanggbj commented on #8518
OK, thanks all! Moving to Istio community for further discussion, will close this one first.
https://github.com/istio/istio/issues/25145

[2020-07-01 07:10] #8518 closed

[2020-07-01 07:12] nak3 commented on #7796
Yes, I believe that it should be clarified in the doc.

[2020-07-01 12:03] #8506 closed

[2020-07-01 12:03] #8197 closed

[2020-07-01 14:31] mattmoor commented on #7796
I'd remove the "instance" bit, and add the qualification "start responding" (e.g. for streaming).

I believe this is "time-until-response-headers".

[2020-07-01 16:22] tcnghia commented on #7796
I think the timeout should be on the request and should be indifferent to the state of the Revision, so the current implementation is correct, but the doc needs update.

[2020-07-01 16:49] duglin commented on #1816
@mattmoor @mpetason will take a look at it

[2020-07-01 17:16] shashwathi commented on #7796
Yeah agree to the comments above. `TimeoutSeconds is the max duration allowed for writing first response bytes to a request.`

[2020-07-01 17:17] tshak commented on #7554
I'm seeing thousands of similar events on a relatively new cluster even for new services.

k8s version: `v1.16.9`
Knative Serving version:  `v0.15.1`
Istio version: `1.6.3`

Example event message:
[code]

[2020-07-01 19:29] vagababov commented on #7796
So the problem I have with this position is that the behavior is inconsistent between
1. request going through activator to cold revision (you have big image or long startup time but superfast binary — you get timeouts)
2. request going through activator to warm revision with enough capacity (
3. request going through activator to warm revision without enough capacity
4. request going directly to

[2020-07-01 19:30] vagababov commented on #7796
/reopen
I think needs more work

[2020-07-02 01:29] cdlliuy opened #8539 "knative svc got stuck when multiple ksvc are generated in parallel and min-scale=0"
## In what area(s)?

## What version of Knative?

## Expected Behavior
Expect the ksvc can be created successfully.

## Actual Behavior
Failed to create ksvc with `revisionmissing`

## Steps to Reproduce the Problem

Trying to generate 100 ksvc with cmd:
[code]
After that,  several of ksvc didn't get ready at all.
[code]

The revision CR got stuck with :
[code]

Also,   although I reproduced this

[2020-07-02 01:43] cdlliuy commented on #8539
Given there are only 3 of 100 knative service creation failed,  I compared the succeed and failed logs file (by downloading controller and autoscaler log,  grep + concat + sort by timestamp)  below:
[173_succeed.txt](https://github.com/knative/serving/files/4861491/173_succeed.txt)
[174-succeed.txt](https://github.com/knative/serving/files/4861494/174-succeed.txt)
[175-failed.txt](https://github.c

[2020-07-02 03:18] cdlliuy commented on #8539
@julz ^^

[2020-07-02 04:22] mattmoor commented on #1816
Awesome, thanks @duglin!  :party-matt:

[2020-07-02 04:24] mattmoor commented on #4307
/remove-lifecycle stale

[2020-07-02 04:24] mattmoor commented on #4307
@JRBANCEL Any interest in tackling this for 0.17?

[2020-07-02 04:58] decewei commented on #8220
This issue is resolved in microk8s 1.18 with knative 1.15. It's either microk8s ctr or knative problem. Closing now.

[2020-07-02 04:58] #8220 closed

[2020-07-02 05:47] vagababov commented on #8539
you actually got pretty good results. 200 simultaneous services is a lot. Our benchmark currently tops at 25.
/cc @mattmoor

[2020-07-02 06:07] markusthoemmes commented on #8539
Great analysis @cdlliuy and I think you're right: Our PA status is dangerously running into races sometimes that causes the creating revision to be stuck forever. I have on my todo list to rework that a bit and I think we can piggyback on the new "HasBeenActive" state to do that. Gonna whip up a PoC.

[2020-07-02 06:07] markusthoemmes commented on #8539
/assign

[2020-07-02 06:30] markusthoemmes opened #8540 "Rework PodAutoscaler conditions to better fit K8s readiness model"
## Problem

Currently, the `PodAutoscaler`'s readiness is determined by the `Active` condition. That means, that a PodAutoscaler of a revision that is scaled to 0 will be `NotReady`.

That creates a slew of problems to the system. Most importantly: This status propagates to the Revision, creating a race condition between PodAutoscaler and Revision readiness. If a revision fails to observe the PodA

[2020-07-02 06:32] vagababov commented on #5076
/cc @whaught
Weston, is this covered by the stuff you've been doing?

[2020-07-02 06:32] markusthoemmes commented on #8539
Actually opted to write up a potential way to go about this first in #8540. I'd love to run this via a few API peeps to make sure we're not butchering things too much.

[2020-07-02 10:16] zhanggbj commented on #8539
@vagababov @markusthoemmes btw, it the benchmark you mentioned above also available in serving repo or somewhere? I'm thinking we can also leverage it. thanks!

[2020-07-02 12:04] knative-test-reporter-robot opened #8541 "[flaky] test/conformance/runtime.TestMustHaveFiles"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestMustHaveFiles
* **Repository name**: serving

[2020-07-02 12:04] knative-test-reporter-robot opened #8542 "[flaky] test/conformance/runtime.TestShouldHaveHeadersSet"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestShouldHaveHeadersSet
* **Repository name**: serving

[2020-07-02 12:04] knative-test-reporter-robot opened #8543 "[flaky] test/conformance/runtime.TestConfigsViaEnv/env"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestConfigsViaEnv/env
* **Repository name**: serving

[2020-07-02 12:04] knative-test-reporter-robot opened #8544 "[flaky] test/conformance/api/v1.TestService"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestService
* **Repository name**: serving

[2020-07-02 12:04] knative-test-reporter-robot opened #8545 "[flaky] test/conformance/runtime.TestMustHaveCgroupConfigured"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestMustHaveCgroupConfigured
* **Repository name**: serving

[2020-07-02 12:04] knative-test-reporter-robot opened #8546 "[flaky] test/conformance/api/v1alpha1.TestRunLatestService"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestRunLatestService
* **Repository name**: serving

[2020-07-02 12:04] #8520 closed

[2020-07-02 12:04] knative-test-reporter-robot opened #8547 "[flaky] test/e2e.TestWebSocket"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestWebSocket
* **Repository name**: serving

[2020-07-02 12:05] knative-test-reporter-robot opened #8548 "[flaky] test/e2e.TestMultipleNamespace"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestMultipleNamespace
* **Repository name**: serving

[2020-07-02 12:05] knative-test-reporter-robot opened #8549 "[flaky] test/e2e.TestCallToPublicService/external_address"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestCallToPublicService/external_address
* **Repository name**: serving

[2020-07-02 12:05] knative-test-reporter-robot opened #8550 "[flaky] test/e2e.TestEgressTraffic"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEgressTraffic
* **Repository name**: serving

[2020-07-02 16:24] whaught commented on #5076
I've dealt with some of this - ObservedGeneration is now automatically moved (even on failure) and we reset to unknown on new generations. There's probably more refactoring to do to ensure consistent naming and we do have some oddnesses around non-terminal conditions (ideally InitializeConditions would init everything, but conditionset only contains terminal conditions so we omit the rest).

Marku

[2020-07-02 21:48] lukasheinrich commented on #4522
there has been a similar discussion in OpenFaas

https://github.com/openfaas/faas/issues/657

I agree with @duglin that the complexity of code can change over time and having to switch deployment methods isn't a great UX

[2020-07-03 00:02] vagababov commented on #8539
It's a mako benchmark. But it's in
test/performance/benchmarks/deployment-probe, I think.

On Thu, Jul 2, 2020 at 3:16 AM Gong Zhang <notifications@github.com> wrote:

[2020-07-03 22:22] saribmahmood55 opened #8559 "Knative Service Discovery"
## In what area(s)?
 /area API

## Ask your question here:
Does anyone know how to use kubernetes service discovery with Knative. I want to use the kubernetes service discovery with micronaut here.

https://micronaut-projects.github.io/micronaut-kubernetes/2.0.0/guide/index.html

But as you know knative deploys the service and deployment with just one file, and the service name is auto generated.

[2020-07-04 09:36] nak3 commented on #8477
@dprotaso This was solved by https://github.com/knative/serving/pull/8492 ?

[2020-07-04 12:05] #8550 closed

[2020-07-04 12:05] #8549 closed

[2020-07-04 12:05] #8547 closed

[2020-07-04 12:05] #8544 closed

[2020-07-04 12:05] #8543 closed

[2020-07-04 12:05] #8522 closed

[2020-07-04 12:05] #8548 closed

[2020-07-04 19:43] kristiandrucker commented on #8147
@julz @mattmoor can it be set so if the min nodes is 0, it will healthcheck every second and if min nodes is > 0 then it will healthcheck every 10 or so seconds?

In my eyes for 90% of the deployments it will be unchanged because most of them scale to 0, but in some cases where people need warm replicas ready then this constant fast healthchecking is eating a lot of CPU. In my cluster it's from 20

[2020-07-05 05:25] ZhiminXiang commented on #4312
@zhanggbj here is the draft PR for doing the Gateway split: https://github.com/knative/net-istio/pull/170

[2020-07-06 00:01] #6747 closed

[2020-07-06 03:04] nak3 opened #8560 "test.EnsureTearDown does not cleanup resources completely"
## In what area(s)?

/area test-and-release

## What version of Knative?

Build on e9c1ba15b13011fafe5b12c3b33591493b0f43f3

## Actual Behavior

After `EnsureCleanup()` was introduced, some tests like TestServiceGenerateName, TestRouteAndConfigGenerateName, TestImagePullError, etc, do not clean up resources.
The reason is that, for example `TestServiceGenerateName`, test.EnsureTearDown registers e

[2020-07-06 03:04] nak3 commented on #8560
/cc @julz @vagababov

[2020-07-06 06:02] vagababov commented on #6176
/remove-lifecycle stale
/lifecycle frozen

[2020-07-06 06:02] vagababov commented on #8560
/assign
I'll poke tomorrow

[2020-07-06 12:10] rhuss opened #8562 "Race for aggregated ClusterRole when updating controller installation"
In [200-serviceaccount.yaml](https://github.com/knative/serving/blob/e9c1ba15b13011fafe5b12c3b33591493b0f43f3/config/core/200-serviceaccount.yaml#L23-L33) an aggregated `ClusterRole` is used with an initially empty `rules` field, which eventually gets populated by Kubernetes with ClusterRoles matching the selector.

Do a "normal" update of that ClusterRole e.g. with `kubectl apply` or by reconcili

[2020-07-06 14:34] dprotaso commented on #8477
Only for master - but not older branches

[2020-07-06 15:10] mattmoor opened #8563 "Change the "enable service links" default"
/area API
/kind process

## Describe the feature

See the analysis in https://github.com/knative/serving/issues/8498.  Our intent to change this default was messaged prior to the 0.16 cut, with instructions on how to preserve this behavior both at the cluster and service levels from 0.16 forwards.

[2020-07-06 16:41] vagababov commented on #8563
/assign
Since I did the CM flag.

[2020-07-06 19:12] chizhg commented on #5971
We have not completely deprecated the monitoring bundle, the eventing projects are still installing the `monitoring.yaml` released from here for their e2e tests.

/remove-lifecycle stale

[2020-07-06 22:18] vagababov commented on #8560
Yeah, I went with `&names` everywhere.

[2020-07-06 23:33] tcnghia commented on #6562
Move almost done, only tests are left.

[2020-07-06 23:59] sravankumar777 commented on #7195
Hi All,

Sorry for delayed response.

I have captured the pprof profiling information for webhook pod, initial after pod restart and after 24hrs time gap.

Below are the logs for profiling.

[webhook-profile-afterrestart.zip](https://github.com/knative/serving/files/4881702/webhook-profile-afterrestart.zip)
[webhook-profile-after24hrs.zip](https://github.com/knative/serving/files/4881703/webhook-p

[2020-07-07 00:00] ZhiminXiang opened #8567 "Support disabling auto TLS per Route when the global auto TLS is enabled"
## Describe the feature
Currently when Auto TLS is enabled, it has global effect. Users cannot use auto TLS for a portion of Routes while using their own certs for the other portion of Routes.

But it is possible that users want to use their own certs + auto TLS in a single cluster. For example: https://knative.slack.com/archives/CA4DNJ9A4/p1594025112112400. It is nice to provide the ability to us

[2020-07-07 00:07] ZhiminXiang commented on #8567
I am thinking about using annotation as an identifier for disabling auto TLS for specific Routes.

When users add an annotation (e.g. "networking.knative.dev/autoTLS: Disabled") to a Route, then auto TLS won't be effective on this Route.

[2020-07-07 00:21] vagababov commented on #7195
It seems all metrics
[code]
mapassign is the same as during the start.

[2020-07-07 00:24] vagababov commented on #7195
Top allocs are also opencensus/prometheus
[code]

[2020-07-07 00:41] sravankumar777 commented on #7195
@vagababov, we are using everything from default configurations for monitoring.

This tested with the latest version of knative-serving v0.14.0.

[2020-07-07 00:44] vagababov commented on #7195
I am not sure there's anything knative specific... i.e. we can probably pare down metrics we collect or make that optional...
Does it level at some point after 24 hours or continues to grow?

[2020-07-07 00:58] sravankumar777 commented on #7195
It continues to grow and pod gets terminated with reason of OOMKilled.

I have seen this behavior in almost all knative-serving pods.
For example with webhook pod, it gets into running state with memory usage as ~53MiB and then scales upto ~190-200MiB.
Then at this point, pods gets terminated.

I'm thinking to open a PR for scaling the resources limits for all pods. As we are observing this for qu

[2020-07-07 01:15] #8560 closed

[2020-07-07 01:51] mattmoor commented on #8563
@vagababov Just want to make sure you saw what milestone this is in 🤣

[2020-07-07 02:02] mattmoor commented on #4522
FYI we created #async-requests on slack.knative.dev for further discussion and scheduling of follow-ups.

[2020-07-07 05:27] zhanggbj commented on #8063
Hi @yanweiguo, thanks for your quick reply!

1. We're using sisdig now. (I'll try to install grafana to take a look).
2. Yes, sure, we have traffics.
3. We're using all default knative settings for config-observability, no customization.
4. Let me try autoscaler pod and get back to you later.

[2020-07-07 05:34] vagababov commented on #8563
yeah it's ok :) I am not in a hurry

[2020-07-07 05:35] vagababov commented on #7195
cc @evankanderson @yanweiguo
I am not sure if there's a way we can limit stats metric collection, but may be Evan or Yanwei know...

[2020-07-07 05:42] yanweiguo commented on #7195
Currently we don't support disabling/limiting metrics collection.

[2020-07-07 05:57] markusthoemmes commented on #7195
Are we holding the metric collection wrong or something? I don't think we collect **that** many metrics, do we?

[2020-07-07 06:05] vagababov commented on #7195
Ideally there should be a window of collection...

[2020-07-07 06:09] vagababov commented on #7195
I think this is the line: https://github.com/knative/pkg/blob/master/webhook/stats_reporter.go#L58
We collect an instance for each resource...

[2020-07-07 09:29] AmFlint commented on #8567
That would be great, should this feature be implemented inside https://github.com/knative/net-certmanager ?

[2020-07-07 12:01] #6765 closed

[2020-07-07 13:57] markusthoemmes commented on #8540
In terms of migration, I think we want to keep the Active condition, but just drop it from the set of terminal conditions eventually and lower the severity to Info.

[2020-07-07 14:07] mattmoor commented on #8540
I remember arguing with @vagababov about conditions at some point, but it may have been the split of logic between SKS and KPA.

Either way, I'm game to at least try this.  I think the main thing to think about is whether the change needs to be stages across a release, and if so what our logistics should be.  I'd also like to land this early in a cycle in case we don't find all of `3.` in presubmi

[2020-07-07 14:39] dprotaso commented on #8540
Does anything key off of the `Active` condition besides revisions?

[2020-07-07 15:05] dprotaso commented on #7154
/remove-lifecycle stale

[2020-07-07 15:29] dprotaso commented on #8540
We should probably list out the scenarios/interaction between the PodAutoscaler and the Revision and their conditions

As an example: I have a revision with minScale set, it's currently scaled to 0. Based on the changes above the Revision is 'Ready'. If I start scaling up do any conditions change?

Does the activator look at conditions when triggering the scale up?

[2020-07-07 15:33] dprotaso commented on #8320
Although `ko` doesn't build multi-platform images you can use go build env vars `GOARCH=arm64 ko ...` to build your own for now

@mattmoor has been playing with arm - I believe on a Raspberry Pi.

[2020-07-07 15:39] markusthoemmes commented on #8540
The activator doesn't care at all in this case.

I think the invariant we want to have is that the revision only becomes ready if the PA has been ready once. Which takes into account minscale and whatnot.

The Revision should **not** become unready, if the PA becomes Inactive, where Inactive means that there is no more traffic to it. We can still surface the active condition in the revision though

[2020-07-07 16:08] dprotaso commented on #1816
/unassign @jeremyrickard
/assign @mpetason

[2020-07-07 16:19] dprotaso commented on #8540
So effectively the 'Ready' on revision means the machinery is in place to receive the request.  Would we not want that for initialScale = 0 situations?

This was me asking whether activator waits for minScale (potentially indirectly by observing conditions) prior to sending requests

[2020-07-07 16:21] vagababov commented on #8540
I think Revision should be ready if PA has been able to attain `initialScale` and that should be a sticky condition. Once reached, we're good.

[2020-07-07 16:50] whaught opened #8570 "Validation to prevent deletion of actively referenced Revisions"
/area API

Intended as follow to: https://github.com/knative/serving/issues/8208

## Describe the feature

We will start labelling revisions with pending/active/retired states such that all in-progress deployments and actively serving revisions should be marked. We also recently added DELETE support to the webhooks for validation.

We should
* Create a feature flag for prevent-actively-serving-del

[2020-07-07 16:50] whaught commented on #8570
/assign @whaught

[2020-07-07 16:56] whaught opened #8571 "Preserve Annotation to Prevent GC"
/area API
/kind good-first-issue

Intended as follow up to: #8208

## Describe the feature
Create an annotation to preserve important revisions. This indicates that the garbage collector should never automatically delete the revision as long as it is marked. This allows users to annotate important releases/deployments if they are important for rollback.

[2020-07-07 17:18] dprotaso commented on #8540
This all has the positive side-effect of making https://github.com/knative/serving/issues/7077 plausible

[2020-07-07 20:39] mattmoor commented on #8320
If you have an envoy ARM64 build (which I think will be shipped with 1.15+) then you should be able to build much of the rest of knative with `GOARCH=ARM64 ko apply -f ...`.

We don't have official support for any platform/arch other than linux/amd64 currently.

[2020-07-07 20:45] #6516 closed

[2020-07-08 00:01] #6766 closed

[2020-07-08 00:57] beemarie commented on #6516
@mattmoor, @markusthoemmes - I made a comment in the other PR as well, but do we need a new issue to remove conformance test dependence on Secrets? It looks like AddRootCAtoTransport has this dependency when https is enabled. We can open a new issue for that if I'm understanding correctly.

[2020-07-08 03:04] MIBc commented on #8571
I can help.

[2020-07-08 03:24] whaught commented on #8571
/assign @MIBc

Awesome! Keep in mind this may be difficult to write an e2e test until #8208 is finished, but that shouldn't stop us from getting started

[2020-07-08 09:17] cdlliuy commented on #8540
@markusthoemmes , after reading more of the knative implementation and the above proposal , I want to confirm whether the proposal is suggesting to remove `active` from KPA's .status.condition completely.  By removing this, whether kpa .status.condistion.ready output will be fixed?

I am asking this since currently we noticed that  KPA .status.condition.lastTransition always changes ...  Then it i

[2020-07-08 09:22] markusthoemmes commented on #8540
@cdlliuy no Active won't be dropped from conditions completely but rather be moved to be just informational. Check https://github.com/knative/serving/pull/8569 for a first step. The new condition would be exactly what you'd need to, as its time would be set exactly once, when stuff became ready. After this change the time on the `Ready` condition should be stable too.

[2020-07-08 12:04] knative-test-reporter-robot opened #8575 "[flaky] test/conformance/ingress.TestIngressConformance/visibility/split"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressConformance/visibility/split
* **Repository name**: serving

[2020-07-08 12:04] knative-test-reporter-robot opened #8576 "[flaky] test/conformance/ingress.TestIngressConformance/dispatch/percentage"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressConformance/dispatch/percentage
* **Repository name**: serving

[2020-07-08 13:42] zhanggbj commented on #8063
@yanweiguo
In a revision pod, I tried `<pod_ip>:9091/metrics` get some metrics like `revision_go_xx`. But this is not what we expected.
[code]
However I opened another en's grafana dashboard, there's a dashboard using metrics in this way,  but i didn't find any metric like `revision_request_latencies_bucket`. Am I missing something here?

[code]

Also CC @jeremiaswerner

[2020-07-08 14:51] dprotaso commented on #5822
Sidecars are now alpha with the 0.16 release available here: https://github.com/knative/serving/releases/tag/v0.16.0

Next steps is to [revisit the feature track wrt. to the exit criteria](https://docs.google.com/document/d/1XjIRnOGaq9UGllkZgYXQHuTQmhbECNAOk6TT6RNfJMw/edit?ts=5e25d093#heading=h.t4j14klwuuwp) for the various phases

[2020-07-08 15:09] dprotaso commented on #5822
I've structured the GitHub project for this feature with columns that'll contain issues for the exit criteria

https://github.com/knative/serving/projects/33

[2020-07-08 16:42] mattmoor commented on #7140
/remove-lifecycle stale

[2020-07-08 17:45] yanweiguo commented on #8063
With Knative serving 0.15 version, by default the queue-proxy will expose user metrics to `:9091/metrics` in Prometheus format, including request metrics. If a pod has ever received some requests, there will something like the following as the result of `curl <pod_ip>:9091/metrics`:

[code]

Could you confirm the pod you are looking has ever received some traffic? You can also enable request logs

[2020-07-08 18:06] mattmoor commented on #8471
regarding the comment about prometheus keying off of port name, my understanding was that it could also key off of annotations: https://github.com/projectcontour/contour/blob/bfbdb982dd932ab02a4fdec9a7e2aeb1760400b5/examples/contour/03-envoy.yaml#L19-L22

I wonder if for scraping this is sufficient (it the push option @julz mentioned is not)

[2020-07-08 18:08] dprotaso commented on #8471
This was chatted about at the WG meeting today-
https://docs.google.com/document/d/1NC4klOdNaU-N-PsKLyXBqDKgNSHtxCDep29Ta2b5FK0/edit#heading=h.fx55wnpsm5lq

Will post the recording when it's available

[2020-07-08 18:27] dprotaso commented on #4190
Note: fieldref landed behind a flag the 0.16 release here: https://github.com/knative/serving/releases/tag/v0.16.0

[2020-07-08 19:39] dprotaso commented on #4190
Going to leave this open & un-triaged for now.

Further areas to round out this support could include:
1) Support Downward API properties through volumes
2) Potentially allow some non-leaky properties through without the need for the flag to be turned on - ie. `metadata.*`

[2020-07-08 20:21] steren commented on #5822
My current worry is that the use case is "sidecar" but it seems that the API is "provide multiple containers" (carried over from PodSpec).

That's probably OK, but we have to acknowledge that this lower level than an explicit "sidecar" API (which a more explicit high level abstraction).

I made this comment in the API working group in the past, I'll try to join the next one to discuss this further

[2020-07-08 20:30] whaught commented on #8570
/assign @nthnca

[2020-07-08 20:37] dprotaso commented on #5822
The extra containers do have restrictions (ie. no exposed ports)- this feature needs to be documented describing those limitations.

[2020-07-08 20:43] steren commented on #5822
Yes, I am mostly talking in terms of API design:

Looking at the proposed API, there is nothing that makes it obvious that one of these multiple containers is the "main" one and the others are sidecars. I need to read the docs to understand the API, which is usually not a good sign.

I know that there is consistency with the PodSpec, which has benefits when it comes to migrating workloads. But fro

[2020-07-08 21:34] #8378 closed

[2020-07-08 23:28] zackangelo opened #8584 "Second revision results in service IngressNotConfigured when using Ambassador"
## What version of Knative?

0.15.x

## Expected Behavior

A 2nd revision results in a Ready knative service status.

## Actual Behavior

When using Ambassador as an ingress (with linkerd), creating a 2nd revision on a service results in an `IngressNotConfigured` state. Traffic is routed properly to the new revision, but the Service's status is not set to `Ready`.

## Steps to Reproduce the Proble

[2020-07-09 00:46] ZhiminXiang commented on #8567
@AmFlint It should be implemented within knative/serving.
Specifically, we just need to check if the Route has the specific annotation at https://github.com/knative/serving/blob/master/pkg/reconciler/route/route.go#L181. If it has, then we don't do any auto tls related work.

[2020-07-09 00:47] tcnghia commented on #8584
cc @concaf who owns the Ambassador KIngress controller

[2020-07-09 00:51] alecholmes opened #8585 "Controller creates invalid k8s service without clusterIP in mesh mode"
## What version of Knative?

0.15.x

## Expected Behavior

When knative is running in mesh mode and the controller updates a k8s Service, the updated Service should have the same `spec.clusterIP` value.

## Actual Behavior

The controller does not copy over the value of `spec.clusterIP` when attempting to update the Service, resulting in k8s rejecting the new Service with a blank clusterIP.

Examp

[2020-07-09 02:46] mattmoor commented on #6895
/remove-lifecycle stale

[2020-07-09 02:48] mattmoor commented on #6895
@jonjohnsonjr I think the best way to test this would be to add a configuration representative of what Karl is trying to do here: https://github.com/google/go-containerregistry/tree/master/pkg/authn/k8schain/tests WDYT?

[2020-07-09 04:20] calclavia commented on #1816
Any updates on this issue? For example, it would be great to use KNative to schedule on only preemptive nodes on GKE.

[2020-07-09 06:49] #8539 closed

[2020-07-09 07:57] skonto commented on #7241
@markusthoemmes afaik the setting has been removed from the `defaults.yaml` file in #8315, is there some other place to add the warning (or do you mean emit a log msg)?

[2020-07-09 08:44] zhanggbj commented on #8063
@yanweiguo
Finally found the metrics, we run into the wrong direction at the very beginning to check the pod under knative-serving...
Thanks a lot for your help! I'll close it!

[2020-07-09 08:44] #8063 closed

[2020-07-09 09:13] concaf commented on #8584
Thanks for reporting, will be looking into this shortly.

[2020-07-09 10:42] skonto commented on #8377
@julz @vagababov @markusthoemmes I could help here if possible.

[2020-07-09 10:44] markusthoemmes commented on #7241
`features.yaml` has it now I believe.

[2020-07-09 11:01] markusthoemmes commented on #8377
Yep, just know that this might be a somewhat bigger refactor of the current scraper code.

I think we first need to agree that we actually want work-pooling here as it comes with the risk of us setting the concurrency too low.

[2020-07-09 15:47] tcnghia commented on #8005
I expanded the doc to also include Eventing and release shepherding.

[2020-07-09 15:52] tcnghia commented on #8184
@andrew-su @shashwathi  Can we close this now?

[2020-07-09 15:54] tcnghia commented on #6642
Progress is tracked here https://github.com/knative/serving/projects/43

[2020-07-09 17:18] emaildanwilson commented on #1816
Would config-features then have a flag to allow affinity/nodeSelector/etc in the podSpec or would those settings somehow get set from somewhere else as defined with a fieldRef? I'm trying to understand what the implementation would look like.

[2020-07-09 17:42] JRBANCEL commented on #1816
Yes, this looks like the right way to do this.

[2020-07-10 01:51] duglin commented on #4736
/reopen

[2020-07-10 01:52] duglin commented on #7405
/remove-lifecycle stale

[2020-07-10 07:49] julz commented on #8377
so how do we want to proceed on this? Would a feature proposal doc to hash out the details and any foreseeable edge cases be the best next step?

[2020-07-10 07:50] markusthoemmes commented on #8377
I believe so @julz

[2020-07-10 07:51] julz commented on #8377
cool - @skonto happy to work together on that if you like?

[2020-07-10 09:04] #8585 closed

[2020-07-10 10:52] #8190 closed

[2020-07-10 16:46] julz opened #8599 "Consider skipping probe for activator-in-path before scaling to zero if TBC=-1"
## Describe the feature

If TargetBurstCapacity is -1 we already know for sure that the activator is in the path, so we don't really need to probe for [it in the scale-to-zero path](https://github.com/knative/serving/blob/master/pkg/reconciler/autoscaling/kpa/scaler.go#L218) before scaling down. Since probing doesn't use keep-alive (and is done synchronously, blocking other work) it's _relatively_

[2020-07-10 17:59] mpetason commented on #6520
I went ahead and closed the PR I had open to address this issue as it doesn't seem like we have an agreement on what we want to do.

[2020-07-10 19:18] zackangelo commented on #8584
I suspect this might be due to a race occurring between linkerd and knative updating a `Deployment` resource (and knative failing beacuse it's attempting to update a stale version).

[2020-07-10 19:45] #8599 closed

[2020-07-10 22:24] skonto commented on #8377
@julz sure let's do it :) I will start a doc and we can iterate on it. I will ping you.

[2020-07-11 12:03] #8575 closed

[2020-07-11 12:03] #8576 closed

[2020-07-12 00:01] #6721 closed

[2020-07-12 00:01] #6005 closed

[2020-07-12 12:03] knative-test-reporter-robot opened #8605 "[flaky] pkg/reconciler/gc/v2.TestCollect/keep_recent_lastPinned"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/gc/v2.TestCollect/keep_recent_lastPinned
* **Repository name**: serving

[2020-07-13 09:42] cdlliuy opened #8609 "Make the prometheus metrics reporting configurable"
## Describe the feature
Currently, we are launching more and more knative applications on our platform, and  trying to monitor knative performance with its metrics output.

But the problem is , with more and more application/revision ready , the metrics volume increases quickly as well.

For example, in a small test env,  I created 20 ksvc ,
Before the 20 ksvc created,  if I do `curl localhost:909

[2020-07-13 09:43] cdlliuy commented on #8609
@julz  @markusthoemmes  ^^

[2020-07-13 09:45] markusthoemmes commented on #8609
Those metrics will be gzipped by default. Try setting the appropriate `Accept-Encoding` headers etc. and then try again :). This should compress super nicely.

[2020-07-13 09:48] julz opened #8610 "Distinguish zero concurrency from slow/failed scraping when bucketing"
## Describe the feature

Currently we [do not differentiate between](https://github.com/knative/serving/blob/320e01a596acefca56f025c2ef0e9d394e453267/pkg/autoscaler/aggregation/bucketing.go#L184) a scrape that _actually_ reports zero concurrency from a replica and just not having data for a particular bucket. This is fine if the network is fast and autoscaler is not overloaded because we will have

[2020-07-13 09:48] cdlliuy commented on #8609
@markusthoemmes  ,  not only the file size ..  In fact, I am worried about the number of metric entries  ..

[2020-07-13 09:53] julz commented on #8609
I wonder if another option to solve this is to modify the query the 3rd party service is using to scrape. This should allow dropping records during consumption. For example, New Relic has a page here on ignoring certain metrics when scraping: https://docs.newrelic.com/docs/integrations/prometheus-integrations/install-configure/ignore-or-include-prometheus-metrics and here's a similar one for sysdi

[2020-07-13 09:57] markusthoemmes commented on #8609
Well yeah, similar to the webhook metrics issue we have somewhere (TODO go search this) we should probably drop the `key` component here as well. It's essentially unbounded and will eventually destroy prometheus.

[2020-07-13 09:59] cdlliuy commented on #8609
@julz ,  the max size of sysdig prometheus scraping is 10k entries per worker node ..
I tried the filter, but no luck yet (not working for me at all and asking for sysdig support on this as well),  but in above case of revision controller,  the relabelling may drop out all `controller_reconcile_latency`  when using simply `[__name__]`, and it is hard to find another way to do the aggregation per n

[2020-07-13 10:02] julz commented on #8609
oh yeah my bad, read this too quickly :)

[2020-07-13 14:16] cdlliuy commented on #8609
@markusthoemmes , should I open this issue to `knative/pkg` repo?

[2020-07-13 14:24] markusthoemmes commented on #8609
@cdlliuy yep, I think you can send a PR in the same go, you've already identified where to fix this :).

[2020-07-13 14:58] #8605 closed

[2020-07-13 15:53] vagababov commented on #8377
Note, that this has to be a configurable feature, since a user might wish to throw CPU at the AS to ensure enough resources to support more revisions.
Finally, I'd like us to think about this with the scope of shared autoscaler that @yanweiguo is working on.
As in, will creating more autoscalers solve this problem?

[2020-07-13 18:08] vagababov commented on #8609
I concur that removing key should solve most of these issues.

[2020-07-13 19:09] dprotaso commented on #7195
Does that mean there's a distribution/histogram for every resource?

https://github.com/knative/pkg/blob/100f2ab0a942d8a8da349f023551992e36cb0219/webhook/stats_reporter.go#L58-L59

[2020-07-13 19:30] vagababov commented on #7195
That's the theory, yes.

[2020-07-13 21:47] Cynocracy opened #8617 "Documentation needs updating for storage-version-migration"
## What version of Knative?
HEAD

v0.16.0-36-gd57e20048

## Expected Behavior
Able to kubectl apply storage-version migration after ko resolve

## Actual Behavior
ko apply -f config/post-install/storage-version-migration.yaml
2020/07/13 14:46:51 Using base gcr.io/distroless/static:nonroot for knative.dev/serving/vendor/knative.dev/pkg/apiextensions/storageversion/cmd/migrate
2020/07/13 14:46:52 Bu

[2020-07-13 21:49] Cynocracy commented on #8617
Caused by

https://github.com/knative/serving/commit/1bbe2e3e16b991e86dfaa6e84c59f51e15f44cd2

[2020-07-13 22:25] skonto commented on #8377
@vagababov, as you probably noticed we had a long discussion on slack (autoscaling channel), so absolutely that is one option that we discussed, but still within the context of one instance there should be space for improvements but as we need to verify what can be done (if possible). Scaling out should be a way to solve this but we should also optimize what we allocate per AS instance.
There are

[2020-07-13 22:50] dprotaso commented on #8617
You have to use ko create and not apply now

[2020-07-13 22:51] dprotaso commented on #8617
Since we want to leverage `generateName`

[2020-07-13 23:01] Cynocracy commented on #8617
Ahhh.

OK, we just need to update some docs then. Thanks :)

[2020-07-13 23:30] Cynocracy commented on #8617
/assign @dprotaso

Also: still a little confused, your PR says this should be run before the installation. Is that the installation of the *next* version of Knative?

[2020-07-14 00:09] vagababov commented on #7583
/close

[2020-07-14 00:09] #7583 closed

[2020-07-14 01:01] duglin commented on #7575
/remove-lifecycle stale

[2020-07-14 08:49] cdlliuy commented on #8609
@markusthoemmes ,  I will take effort for the PR.  But do we really want to resolve the key completely?
i.e.  Changing the `keyStr` in https://github.com/knative/pkg/blob/master/controller/controller.go#L455 to something like "" or   "default" ?

I intend to make the choice as configurable as suggested in the beginning, but it need to make some times to go through different variations in metrics r

[2020-07-14 10:04] markusthoemmes commented on #8609
I think having "key" as a tag in there is just plainly wrong, because it generates an unbounded number of timeseries in Prometheus, which ain't good at all.

[2020-07-14 15:17] duglin opened #8627 "Add config knob to set DefaultMaxScale"
## In what area(s)?
/area API
/area autoscale

Other classifications:
/kind good-first-issue

## Describe the feature

As an admin it would be nice to be able to set the default maxScale value for new kservices. This wouldn't prevent someone from choosing a higher value, rather it just allows for an admin to make it so that all new Kservices, by default, won't scale up beyond this value since toda

[2020-07-14 15:25] duglin opened #8628 "Add config knob for max MaxScale"
## In what area(s)?
/area API
/area autoscale
/kind good-first-issue

## Describe the feature

As an admin I may want to limit the # of instances that any one Kservice can scale up to, so a config knob that allows me to set it would be nice. Setting this would then ban the use of zero (infinite). And a user trying to set a value larger than this should get rejected

[2020-07-14 15:33] joshuawilson commented on #912
Is it possible to generate the scheme in part or full at this point even if we don't include it? I'm working on a yaml editor for knative in vscode. I need the schema for validation.

If it can be generated it would go a long way to help me, otherwise I will have to manually create it.

[2020-07-14 16:03] Svendegroote91 commented on #3587
We have an interest in this feature as well. Our set-up is an on-premise kubernetes cluster on top of couple of machines. We are using this cluster for machine learning model training and inference workloads. We are using Knative mainly for the inference workloads, where we can leverage the routing and scale-to-zero power. We want to avoid that the inference workloads cannot be scheduled due to a

[2020-07-14 16:35] markusthoemmes opened #8629 "Allow downstream projects to catch up with upstream releases"
Knative currently releases on a 6 week release cadence. That's awesome for getting features out quickly, but it makes it hard for downstream projects, that might be on a slower release cadence, to keep track of upstream. We're facing that in Openshift Serverless currently. Kubeflow has fallen behind quite a bit in releases too.

Should we make it possible for such downstream projects to be able to

[2020-07-14 16:38] markusthoemmes commented on #8629
We also need to think about upgrade paths that are not just our K8s resources. Our recent work on the Activator -> Autoscaler communication or Queue-Proxy -> Autoscaler communication comes to mind. We've been coding those with our `N-1 -> N` policy in mind, meaning that we're dropping backward compatibility paths as soon as the new release cuts (for example: Adding JSON and dropping GOB encoding,

[2020-07-14 16:47] markusthoemmes commented on #8629
@mattmoor also mentioned in the Slack thread to possibly lower our release cadence as we near 1.0.0 (K8s and Istio are both on a 3 month schedule).

[2020-07-14 17:21] vagababov commented on #8629
How does `If we widened our upgrade policy from N-1 -> N to N-2 -> N, we'd allow downstream releases to catch up rather than continuously falling behind.` solve the problem?
If the downstream cadence is less than 6w, this just prolongs the suffering, but ultimately will fall behind.

[2020-07-14 17:33] vagababov commented on #8628
Man, more knobs, getting unwieldy  :-)
For the implementor: updating docs is a *must*. :)

[2020-07-14 18:07] JRBANCEL commented on #8629
I agree with @vagababov. Going from `N-1 -> N` to `N-2 -> N` just delays the problem and makes engineering a lot more complex for big changes that require some orchestration (e.g. when Ingress went from being global to namespaced and it took 3 releases to orchestrate the rollout).

The Operator should be able to apply each version sequentially. Regarding getting signal that an upgrade is successfu

[2020-07-14 18:19] duglin commented on #8628
:-)  at least this one is easy to understand

[2020-07-14 19:17] Cynocracy commented on #8629
It should be possible for the Operator to calculate the safe upgrade path and follow it, yes.

That seems like a good path forward to me.

The Operator today doesn't have this logic, I don't believe @houshengbo

[2020-07-14 19:25] Cynocracy commented on #8629
Should we be doing that in the reconciler? I'd prefer personally if we put them in a Job that reflected the one-off changes in its status.

[2020-07-14 19:48] mattmoor commented on #8629
That was another thing that came up in the slack convo: Maybe we should stop overloading our reconcilers as the vehicle for upgrades, but it'll require some careful thought about how we author our reconcilers to co-exist with that separate process.

[2020-07-14 20:10] mattmoor commented on #912
@jonjohnsonjr I thought you were talking to some folks that were in a similar boat to @joshuawilson who were supposed to be helping resolve this? 😅

[2020-07-14 20:12] mattmoor commented on #3587
/remove-lifecycle stale

If folks are interested in pursuing this, I feel like it'd be a great thing to plumb through `config-features` similar to the fieldRef work from @JRBANCEL 🤩

[2020-07-14 20:25] jonjohnsonjr commented on #912
¯\_(ツ)_/¯

[2020-07-14 20:42] vaikas commented on #8629
What I mentioned in the slack was roughly this. Have 3 distinct steps:
* pre
* upgrade
* post
If we use jobs, we have an easy signal, the job completes successfully which could trigger the next stage. If we point the step+1, so say upgrade (pass in objref)  in the above example to the job created in 'pre', then it could block until the job completes successfully, post in turn would watch upgrade.

[2020-07-15 01:42] pyramation commented on #4307
so sounds like init-containers are in the works, or at least being looked at?

[2020-07-15 01:49] cdlliuy commented on #8609
@markusthoemmes  @vagababov  sure,   so let us remove the plain key tag completely.  See https://github.com/knative/pkg/pull/1494
Thanks @lanceliuu

[2020-07-15 01:52] mattmoor commented on #4307
I think it still needs a driver, but it is something I'd love to see. 😇

[2020-07-15 04:38] Yiyiyimu commented on #8617
Doc [here](https://knative.dev/docs/install/upgrade-installation#upgrade-existing-resources-to-the-latest-stored-version) also needs updated

[2020-07-15 13:07] dleurs opened #8637 "Cannot make cluster-local kservice"
## Select the appropriate areas for your issue:
/area networking

## Classify what kind of issue this is:
/kind bug

## Knative version
0.16

## Expected Behavior
kubectl get ksvc
http://helloworld-go.default.svc.cluster.local

## Actual Behavior
kubectl get ksvc
http://helloworld-go.default.XXX.XXX.XXX.XXX.xip.io

## Steps to Reproduce the Problem

0. I am using OVH cloud k8s provider 🇫🇷 🇪🇺
1. In

[2020-07-15 13:13] dleurs commented on #8637
I just takes some time to get and see the .default.svc.cluster.local, around 15 minuts it seems

[2020-07-15 13:13] #8637 closed

[2020-07-15 13:19] cdlliuy commented on #8609
I will close the issue since the related PR is merged.

[2020-07-15 13:19] #8609 closed

[2020-07-15 13:21] dprotaso opened #8638 "Drop serving v1beta1 & v1alpha1 APIs"
As per the release principles we'll be dropping these versions in the 0.19.x release

[2020-07-15 14:13] dprotaso commented on #8617
Updated docs PRs here

https://github.com/knative/docs/pull/2671
https://github.com/knative/docs/pull/2672

Yes

I think it's more clear to call these jobs 'post-install' ie. after an installation run these jobs to ensure the _next_ upgrade goes smooth

[2020-07-15 16:31] mpetason commented on #1816
Talked to @emaildanwilson  on Slack. They want to take over the issue and work on it. I'm on vacation next week so I won't be able to finish it as quickly.

[2020-07-15 17:06] vagababov commented on #8570
Did we bikeshed this anywhere?

[2020-07-15 17:11] whaught commented on #8570
I've been busy with populating the new states and the new GC alg, but @nthnca expressed a desire to pick something up. We could bring this up in the WG sometime if we want to discuss/propose the details for this one

[2020-07-15 17:14] vagababov commented on #8570
Yeah, since it's not 100% clear that we actually _want_ this feature? (I mean it's a reasonable thing to do, but 🤷 )

[2020-07-15 17:18] whaught commented on #8570
The motivation behind this proposal is that knative's goal is to make deployment easy. It might be in our interest to, by default, prevent customers from shooting themselves in the foot by deleting their serving revision (but leave a path to do so if you really really meant to)

[2020-07-15 17:20] savitaashture opened #8641 "[multi-container]: Add set of feature tasks to move multi container to beta"
## Describe the feature
This issue is part of https://github.com/knative/serving/issues/5822

Serving release [v0.16.0](https://github.com/knative/serving/releases/tag/v0.16.0 ) have support for multi container as an alpha feature.
As part of alpha we focused on
1. Feature flag `multi-container` which is off by default
1. Feature Implementation.
2. E2E test case.

To move multicontainer to Beta we

[2020-07-15 18:02] steren commented on #5822
Could somebody share the latest API design? [This doc](https://docs.google.com/document/d/1cH2TU-dbcCzgiBfoOSUAsSHL_4jsfsl85z_ueGWa_Gk/edit?pli=1#heading=h.isrzozbb5mf) is marked as WIP and dated 10/09/2019. Is it the source of truth and the approved design?

It'd be good to share an example of a KService YAML that would meet the requirements described in the [first comment of this issue](https://

[2020-07-15 18:24] vagababov commented on #5822
/cc @savitaashture @markusthoemmes

[2020-07-15 18:25] dprotaso commented on #7291
This issue is up for grabs

[2020-07-15 21:11] #8571 closed

[2020-07-15 22:20] vagababov opened #8644 "Add a new toggle to config observability to trigger log collection."
Currently the log collection is driven by whether the template is _empty_.
Which kind of works, but it's not good since

- if you want to turn off the log collection for a while you actually need to delete the whole template, that seems too invasive
- we cannot match example to default, since example shows how to write a template
- even though it's commented such behavior is a bit obscure.

So I s

[2020-07-15 22:21] vagababov commented on #8644
Related: https://github.com/knative/serving/pull/8642

[2020-07-15 23:09] dprotaso commented on #8617
closing since the docs PR have merged

[2020-07-15 23:09] #8617 closed

[2020-07-15 23:11] dprotaso commented on #912
@joshuawilson a partial schema is our best bet for now

@skaslev wondering if you're still interested in this issue?

[2020-07-15 23:45] joshuawilson commented on #912
At this point, I just need v1 without the podspec.

Is it possible to get instruction to generate it or can someone post it?

[2020-07-16 00:51] robscott commented on #7701
Quick update on this feature. A new [EndpointSliceMirroring controller](https://github.com/kubernetes/kubernetes/pull/91637) has been added as part of the 1.19 release and along with that kube-proxy now reads from EndpointSlices on Linux by default.

[2020-07-16 01:09] Cynocracy commented on #8617
I don't want to bikeshed too much here, but this is why I find this confusing:

post-install has you think about what you do after the upgrade, not before the next one. Thus, you would think you should run this job immediately after you upgrade to version N, and you're good until you install N+1.

Say I'm a user who is using the v1alpha1 API, and it's removed in N+1. I find out it's removed in N+1

[2020-07-16 07:47] skyguard1 opened #8646 "node-exporter pending status"
Hello, I deployed the metrics component according to the official documentation of knative(https://knative.dev/docs/serving/installing-logging-metrics-traces/), but I found that node-exporter has been in the pending state, I have not changed the configuration, so it is not clear why this problem occurs.

![image](https://user-images.githubusercontent.com/24522024/87641900-59d11180-c77b-11ea-8463-a

[2020-07-16 10:55] gustavovalverde commented on #4417
Hi, is there a workaround for this or is it a WIP?

[2020-07-16 12:06] knative-test-reporter-robot opened #8650 "[flaky] test/conformance/api/v1beta1.TestProjectedConfigMapVolume"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestProjectedConfigMapVolume
* **Repository name**: serving

[2020-07-16 12:06] knative-test-reporter-robot opened #8651 "[flaky] test/conformance/runtime.TestCmdArgs"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestCmdArgs
* **Repository name**: serving

[2020-07-16 12:06] knative-test-reporter-robot opened #8652 "[flaky] _go_tests.DataRaceAnalysis"
### Auto-generated issue tracking flakiness of test
* **Test name**: _go_tests.DataRaceAnalysis
* **Repository name**: serving

[2020-07-16 12:06] knative-test-reporter-robot opened #8653 "[flaky] test/conformance/runtime.TestShouldHaveCgroupReadOnly"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestShouldHaveCgroupReadOnly
* **Repository name**: serving

[2020-07-16 12:06] knative-test-reporter-robot opened #8654 "[flaky] test/conformance/runtime.TestMustEnvVars"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestMustEnvVars
* **Repository name**: serving

[2020-07-16 12:06] knative-test-reporter-robot opened #8655 "[flaky] test/conformance/api/v1alpha1.TestSingleConcurrency"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestSingleConcurrency
* **Repository name**: serving

[2020-07-16 12:06] knative-test-reporter-robot opened #8656 "[flaky] test/conformance/runtime.TestShouldHaveSysctlReadOnly"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestShouldHaveSysctlReadOnly
* **Repository name**: serving

[2020-07-16 12:06] knative-test-reporter-robot opened #8657 "[flaky] test/conformance/runtime.TestWorkingDirService"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestWorkingDirService
* **Repository name**: serving

[2020-07-16 12:06] knative-test-reporter-robot opened #8658 "[flaky] test/conformance/runtime.TestShouldHaveFiles"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestShouldHaveFiles
* **Repository name**: serving

[2020-07-16 13:42] dleurs opened #8659 "kubectl set image in Knative ? How to update image"
# Question about Knative (v0.16) Serving

## In what area(s)?
/area test-and-release

## Ask your question here:
I don't know how to update an image in Knative. The k8s equivalent :
[code]

This does not work with knative, I can execute this command but version does not change.<br/>
Thank you very much for your time

[2020-07-16 14:33] savitaashture opened #8661 "[multi-container] Add conformance test"
## Describe the feature

This issue is part of #5822

Serving release [v0.16.0](https://github.com/knative/serving/releases/tag/v0.16.0) has support for multi container as an alpha feature.
As part of alpha we focused on

1. Feature flag multi-container which is off by default
2. Feature Implementation.
3. E2E test case.

To move multicontainer feature to Beta we need to add `conformance` test [he

[2020-07-16 14:42] savitaashture opened #8662 "[multi-container] Enable multi-container flag on by default"
## Describe the feature

This issue is part of #5822

Serving release [v0.16.0](https://github.com/knative/serving/releases/tag/v0.16.0) has support for multi container as an alpha feature.
As part of alpha we focused on

1. Feature flag `multi-container` which is off by default
2. Feature Implementation.
3. E2E test case.

To move multicontainer feature to `Beta` we need to enable flag `multi-con

[2020-07-16 15:00] savitaashture opened #8663 "[multi-container] Add samples to show usage of multi containers as part of knative service"
## Describe the feature

This issue is part of #5822

Serving release [v0.16.0](https://github.com/knative/serving/releases/tag/v0.16.0) has support for multi container as an alpha feature.
As part of alpha we focused on

1. Feature flag multi-container which is off by default
2. Feature Implementation.
3. E2E test case.

One of the important task is to add sample example to [here](https://github.

[2020-07-16 15:05] savitaashture opened #8664 "[multi-container] Add Docs to include multi container changes"
## Describe the feature

This issue is part of #5822

Serving release [v0.16.0](https://github.com/knative/serving/releases/tag/v0.16.0) has support for multi container as an alpha feature.
As part of alpha we focused on

1. Feature flag multi-container which is off by default
2. Feature Implementation.
3. E2E test case.

One of the important task for multicontainer feature to move to `Beta` is ad

[2020-07-16 15:12] savitaashture opened #8665 "[multi-container] Add CLI support to specify multiple containers"
## Describe the feature

This issue is part of #5822

Serving release [v0.16.0](https://github.com/knative/serving/releases/tag/v0.16.0) has support for multi container as an alpha feature.
As part of alpha we focused on

1. Feature flag multi-container which is off by default
2. Feature Implementation.
3. E2E test case.

One of the important task for multicontainer feature to move to `Beta` is ha

[2020-07-16 15:26] savitaashture commented on #8662
/kind good-first-issue

[2020-07-16 15:26] savitaashture commented on #8661
/kind good-first-issue

[2020-07-16 20:10] robscott commented on #7701
Yep, this should be a noop. It does mean there will be a slightly longer delay since the new mirroring controller watches Endpoints resources and then creates EndpointSlices. It also only supports mirroring up to 1000 IPs per subset.

[2020-07-17 05:53] cdlliuy opened #8674 "Failed to scale-to-zero"
## In what area(s)?

##  We noticed a scale-to-zero failure on serving release v0.13.0 (an old environment)

In this morning,  autoscaler is restarted ( I don't know the cause).  After that, it lost the capability to scale-to-zero ...

We created a kn service with min-scale=0,  then I noticed the `kpa` status is changed to `false no traffic` already, and the sks status is `proxy`, but the pod is s

[2020-07-17 06:36] vagababov commented on #8674
You're running mesh, I presume, looking from the stack trace?
If so, it seems there is a problem with the sidecar getting the new endpoints (or connecting to the revision pods).

[2020-07-17 06:47] cdlliuy commented on #8674
No,  no istio envoy injected .
From the autoscaler logs, I didn't see any stack trace

[2020-07-17 09:26] cdlliuy opened #8675 "Failed to create/update revision with error `already exists`"
Knative version 0.13.0,  but I think the same issue may happens on the latest code base as well.  I think it is a race condition issue.

## Problem description:
In our repeatedly continuous test,  we found sometimes `kn` client returned with `revision already exists` error, i.e.
[code]

The kn cmd above returned very quickly, the total execution duration is 4.38s.

Once the error happened, we chec

[2020-07-17 09:42] cdlliuy commented on #8674
@vagababov ,  I got the stacktrace from the logs.  I hope it is what you meant

17 13:35:20 autoscaler-99c488c6c-9pntd autoscaler error {"level":"error","ts":"2020-07-17T05:35:30.600Z","logger":"autoscaler.collector","caller":"metrics/collector.go:293","msg":"Failed to scrape metrics","commit":"5a00846","knative.dev/key":"a7648880-04a4/yinghello-bvyzy-1","error":"unsuccessful scrape, sampleSize=1:

[2020-07-17 10:04] skonto commented on #8661
@savitaashture this requires moving that test under v1 only right? Or this test needs further development?

[2020-07-17 10:16] cdlliuy commented on #8674
@vagababov , @julz , thanks for the help.
According to Julz's suggestion, the issue should relate to incorrect network configuration of the k8s cluster when creating the problematic autoscaler pod, since the endpoint can't be `curl` successfully inside autoscaler pod when the error happens.

I will close this issue , and do autoscaler restart if it happens again in the future.

[2020-07-17 10:16] #8674 closed

[2020-07-17 10:51] markusthoemmes commented on #8675
Hmm, good analysis.

In theory the listers shouldn't race because it's the same process updating everything since we run them all using the same informers.

It would certainly be valuable to get to know which of the two if branches you mentioned are used. It shouldn't be the `IsControlledBy` check I believe as that'd just be completely broken. If it's the unequal `Spec` branch, I'm wondering what

[2020-07-17 12:04] knative-test-reporter-robot opened #8676 "[flaky] pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/newprod.net"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/newprod.net
* **Repository name**: serving

[2020-07-17 16:39] tonycoello opened #8681 "Where is the serving.yaml file?"
## Ask your question here:

[2020-07-17 18:50] evankanderson commented on #1816
/assign @whaught

It sounds like Weston might be the right person to do an initial pass and then find someone else with approver if he doesn't have it by then.

[2020-07-17 18:50] evankanderson commented on #1816
/unassign whaught

Whoops, this is the issue, not the PR.

[2020-07-17 18:53] dprotaso commented on #8617
My intent for users to run this job immediately after an upgrade.

The side-effect is that it should enable a smooth upgrade in the future once we drop the deprecated versions.

I agree on the confusion - I'm trying to name the file _when_ I prefer users to run the job.

In this specific instance if you didn't run the job you upgrading would fail whenever we try to drop the version.

If that's the

[2020-07-17 21:25] Cynocracy commented on #6176
I'm v interested in seeing this driven forward as well, stateless-ness is an important quality for resilience.

[2020-07-17 21:33] mattmoor commented on #6176
@Cynocracy interested enough to pick it up...?  I think it's looking for an ooooowneeeeeer 😉

[2020-07-17 21:35] Cynocracy commented on #6176
Thinking about it :) let me get back to you

[2020-07-17 21:38] vagababov commented on #6176
Totes :)

[2020-07-17 21:41] mattmoor commented on #6176
ok, I'll queue `:party-matt:` just in case 😉

[2020-07-17 22:08] decewei opened #8682 "Autoscaler scaling down problem"
I'm using Knative 0.15.0, and running a 5 min request. The problem is:
if we receive 1 request and set target concurrency to 1,
then
1) there will be more than 1 pod created (we assume it is due to panic mode), usually, there is one extra pod
2) if no extra request comes in, the extra idle pods are sitting there until the request is finished in the working pod.

Is this supposed to be the behaviou

[2020-07-17 22:15] vagababov commented on #8682
Yes this is by design. It is controlled by `container-concurrency-target-percentage` config map flag or `targetUtilization` annotation on individual revision.
If you set it to to 100% then you'll get 1 pod 1 request, but you won't have any spare capacity and most likely will have trouble if there is a spike in traffic.
If that's not an issue, you can just run red hot with 100%

[2020-07-17 22:41] #1816 closed

[2020-07-17 22:44] Cynocracy opened #8683 "Allow custom handling of config-default."
## Describe the feature

As a platform operator, I would like to change the behavior of my flavor of Knative such that the 'default default' (or the behavior of config-default when a key is not present, defined here: https://github.com/knative/serving/blob/ac91f264dc1826eafa42729b0b968a6e59245cb9/pkg/apis/config/defaults.go#L46 ) is custom to my installation.

This would be useful for platform ope

[2020-07-17 22:45] Cynocracy commented on #8683
The simplest fix for this is just to make these flags.

Any objections?

[2020-07-18 00:28] duglin opened #8684 "deleting a service should delete all pods, immediately"
## In what area(s)?
/area autoscale

## What version of Knative?
HEAD as of 7/17

Note: you'll need to modify your cluster so that you can execute long running requests - in this case at least 10 minutes. Aside from tweaking my networking to not timeout idle connections, I also added these to the config-defaults configMap:
[code]

Using this script:
[code]
it will create a ksvc, `curl` it and tell

[2020-07-18 00:34] vagababov commented on #8684
Not sure if this is `autoscale`. It's more like API.

[2020-07-18 00:46] duglin commented on #8684
Maybe - wasn't sure

[2020-07-18 00:48] duglin opened #8685 "Autoscaler incorrectly keeps an instance alive"
## In what area(s)?
/area autoscale

## What version of Knative?
HEAD as of 7/17

Note: you'll need to modify your cluster so that you can execute long running requests - in this case at least 10 minutes. Aside from tweaking my networking to not timeout idle connections, I also added these to the config-defaults configMap:
[code]

Using this script:
[code]
it will create a ksvc, `curl` it and tell

[2020-07-18 02:16] mattmoor commented on #8684
This is complicated for a wide variety of reasons.  Generally, we aren't in the business of deleting basically anything.  We create things and lean (heavily) on K8s GC for basically everything else.  However, there are many reasons that Pods are deleted, it could be that the node is being taken offline, or its parent ReplicaSet may be scaling down.  In the grand scheme of thing cascaded deletion i

[2020-07-18 03:22] duglin commented on #8684
That's why I made a distinction between deleting an instance and deleting the ksvc. I agree that there could be reasons for a graceful shutdown of an instance (where we wait until requests are finished), but I think deleting the ksvc itself isn't part of those cases. It seems fair to say that if a user deletes a ksvc that they're done with it and want it's resources deleted. If we want to head dow

[2020-07-18 03:36] mattmoor commented on #8684
Right, you're talking about logic that exists to support graceful shutdown and avoid 5xx errors in the much more common case that we are scaling things down, and we aren't given any signal to distinguish between those.

K8s knows the difference, and has modes where it can bypass this graceful shutdown, which sounds like exactly what you want.  However, the question is why we should implement that

[2020-07-18 04:01] vagababov commented on #8685
Doug do you run with TU=100%?

[2020-07-18 04:31] duglin commented on #8684
I’m not familiar with those “modes”. What does Kube do differently in those cases? Will it skip sending the TERM signal?

The more appropriate, long term, solution might be a Kube thing, but in the meantime it might be good to consider another “lemonade” to hold us over. Seems like there might be some options for us to get the semantics we want in the meantime without being too disruptive. Perhaps

[2020-07-18 04:42] mattmoor commented on #8684
From `kubectl delete pod --help`:

We'd have to dig to figure out what kubectl is doing, but even knowing that we'd have to reach around up to 4 layers of abstraction to achieve what you are after, and there's really no guarantees that those layers won't "fight back".  The thing with "lemonade" was that we had line of sight to a solution in Kube, it was just a year or so out from being something w

[2020-07-18 09:09] julz commented on #8683
I didn't quite follow why such an operator wouldn't want to apply those customisations to their config-defaults configmap directly?

[2020-07-18 12:03] #8541 closed

[2020-07-18 12:03] #8545 closed

[2020-07-18 12:03] knative-test-reporter-robot opened #8687 "[flaky] test/e2e.TestImagePullError"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestImagePullError
* **Repository name**: serving

[2020-07-18 12:03] knative-test-reporter-robot opened #8688 "[flaky] test/conformance/api/v1beta1.TestBlueGreenRoute"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestBlueGreenRoute
* **Repository name**: serving

[2020-07-18 12:03] knative-test-reporter-robot opened #8689 "[flaky] test/conformance/api/v1alpha1.TestRunLatestServiceBYOName"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestRunLatestServiceBYOName
* **Repository name**: serving

[2020-07-18 12:03] knative-test-reporter-robot opened #8690 "[flaky] test/conformance/api/v1alpha1.TestBlueGreenRoute"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestBlueGreenRoute
* **Repository name**: serving

[2020-07-18 12:03] #8651 closed

[2020-07-18 12:03] knative-test-reporter-robot opened #8691 "[flaky] test/conformance/api/v1.TestConfigMapVolume"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestConfigMapVolume
* **Repository name**: serving

[2020-07-18 12:03] knative-test-reporter-robot opened #8692 "[flaky] test/conformance/api/v1alpha1.TestReleaseService"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestReleaseService
* **Repository name**: serving

[2020-07-18 12:04] #8654 closed

[2020-07-18 12:04] knative-test-reporter-robot opened #8693 "[flaky] test/conformance/api/v1.TestContainerExitingMsg/http"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestContainerExitingMsg/http
* **Repository name**: serving

[2020-07-18 12:04] knative-test-reporter-robot opened #8694 "[flaky] test/conformance/api/v1alpha1.TestProjectedConfigMapVolume"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestProjectedConfigMapVolume
* **Repository name**: serving

[2020-07-18 12:04] knative-test-reporter-robot opened #8695 "[flaky] test/conformance/api/v1beta1.TestConfigMapVolume"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestConfigMapVolume
* **Repository name**: serving

[2020-07-18 14:53] duglin commented on #8684
ah ok - I was thinking there was some super secret "mode" thingy I hadn't heard of :-)

Just FYI and for my own education... did a quick test, and when I delete one of our pods with gracePeriod=0 the TERM signal is still received by the queue proxy but then it appears to be killed even before we get a chance to shutdown the servers. So that's nice.

However, deleting the rs or deployment with grac

[2020-07-18 15:21] julz commented on #8684
Looks intentional upstream, unfortunately :/

https://github.com/kubernetes/kubernetes/pull/24964

https://github.com/kubernetes/kubernetes/issues/25055

I guess a not-super-great-at-all option is to have a kn plugin that hard-deletes any pods in a ksvc using the pod-level k8s apis. User would need permissions and visibility to pods for that obviously, though.

[2020-07-18 15:32] mattmoor commented on #8684
Well, the other half of my point here is that if you have a ksvc -> Configuration -> Revision -> Deployment -> ReplicaSet -> Pods, you have to cascade things pretty far...  😅

If you delete ksvc on a K8s under moderate load, the GC is pretty slow to cascade even the basic tombstone bit, so if a plugin were to reach around and delete the pods, it is entirely plausible that the replicaset would actu

[2020-07-18 16:04] julz commented on #8684
Could a plug-in just list pods for a ksvc (via selector) in Terminating state and shut them down forcefully? I think that avoids any races because you're just speeding up terminations that're already in progress. Of course, more can be created, but this is just solving the case where you shut down the ksvc but stuff is still running (in terminating state) and you'd like it not to be. Certainly not

[2020-07-18 18:12] mattmoor commented on #8693
The TCP variant of this failed with the following (I've snipped / reformatted):

[code]

This is the pertinent bit:
[code]

This seems like a K8s/GKE issue, not a Knative issue (cc @chaodaiG @chizhg )

[2020-07-18 18:13] mattmoor commented on #8684
I'd see what happens with the above kubectl command when run on a Pod that's already terminating.  🤷

[2020-07-18 18:22] duglin commented on #8684
if you mean, what happens if you try to delete a terminating pod again, but this time with grace-period=0.... it seems to have no effect. I guess the grace-period needs to be on the initial delete.

[2020-07-18 18:26] duglin commented on #8684
Oh - thanks to @julz I tried with `--force` and that did work.

My thinking isn't that we reach around kube to delete the pod, that seems racy, rather we reach around kube to let the QP know that it shouldn't die gracefully. Seems we could support it coming before or after the actual kube.delete() to avoid races.

[2020-07-18 18:32] julz commented on #8684
You could do something with downward API similar to how we did graceful shutdown -- have the QP watch some label via downward api projection and override the shutdown grace time if it's set. Avoids the raciness with the replicaset bc it just changes the shutdown time, not anything else. Kind of still agree with @mattmoor though that cascading it around all the levels of abstraction might be pretty

[2020-07-19 12:03] knative-test-reporter-robot opened #8697 "[flaky] test/upgrade.TestServicePostUpgradeFromScaleToZero"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServicePostUpgradeFromScaleToZero
* **Repository name**: serving

[2020-07-19 12:04] knative-test-reporter-robot opened #8698 "[flaky] test/conformance/api/v1alpha1.TestRevisionTimeout/when_pods_already_exist,_and_it_writes_first_byte_before_timeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestRevisionTimeout/when_pods_already_exist,_and_it_writes_first_byte_before_timeout
* **Repository name**: serving

[2020-07-19 12:04] #8676 closed

[2020-07-19 22:16] Cynocracy commented on #8683
Ah, there's a quirk in our current platform where we don't have the ability to set a value and allow it to be trivially user controlled in a configmap.

Thus, we need the 'value not present' default to match our desired system default.

[2020-07-20 01:51] cdlliuy commented on #8675
@markusthoemmes ,   the reconcile finally made the ksvc works, since the revision is finally ready, then  the configuration got the other chances to trigger reconcile and so on ..

As I explained , `kn` got error just because it stops watching when the configuration/ ksvc a condition is set to false.
https://github.com/knative/client/blob/217a8133446acfadd19600a768b2be52fb7afd19/pkg/wait/wait_for_

[2020-07-20 02:36] duglin commented on #7650
/remove-lifecycle stale

[2020-07-20 06:14] markusthoemmes commented on #8683
That seems to be counter-intuitive regarding the reason to have config-default in the first place IMO. We'd have a hard time explaining why we have both flags AND a config map expressing essentially the very same thing.

[2020-07-20 06:33] markusthoemmes commented on #8681
We no longer release `serving.yaml`. That has been announced in the 0.15 release line (see: https://github.com/knative/serving/releases/tag/v0.15.2) and has finally been dropped in 0.16 (see: https://github.com/knative/serving/releases/tag/v0.16.0).

As per [our docs](https://knative.dev/docs/install/any-kubernetes-cluster/#installing-the-serving-component) you should be using `serving-crds.yaml`

[2020-07-20 06:33] #8681 closed

[2020-07-20 07:45] rhuss commented on #8629
If the downstream cadence is less than 6w, this just prolongs the suffering, but ultimately will fall behind.

The above is more, that if you don't offer a N-2 -> N update **a gap can only increase monotonically**. If you offer a N-2 -> N update you can decrease the gap, which does not mean a complete catchup though. I agree if the the downstream cadence is far off the Knative 6 weeks, that might

[2020-07-20 09:28] Svendegroote91 commented on #3587
This feature would be of great help, as it will allows to define a priority for the workloads that are deployed with knative. Is there any action needed from my side?

[2020-07-20 12:03] knative-test-reporter-robot opened #8703 "[flaky] test/upgrade.TestBYORevisionPostUpgrade"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestBYORevisionPostUpgrade
* **Repository name**: serving

[2020-07-20 12:03] knative-test-reporter-robot opened #8704 "[flaky] pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/test-domain.dev"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/test-domain.dev
* **Repository name**: serving

[2020-07-20 12:03] knative-test-reporter-robot opened #8705 "[flaky] test/conformance/api/v1beta1.TestRevisionTimeout/when_pods_already_exist,_and_it_does_not_exceed_timeout_seconds"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestRevisionTimeout/when_pods_already_exist,_and_it_does_not_exceed_timeout_seconds
* **Repository name**: serving

[2020-07-20 12:04] knative-test-reporter-robot opened #8706 "[flaky] test/conformance/api/v1beta1.TestContainerExitingMsg/http"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestContainerExitingMsg/http
* **Repository name**: serving

[2020-07-20 12:04] knative-test-reporter-robot opened #8707 "[flaky] test/upgrade.TestServicePostUpgrade"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServicePostUpgrade
* **Repository name**: serving

[2020-07-20 12:04] knative-test-reporter-robot opened #8708 "[flaky] test/upgrade.TestCreateNewServicePostUpgrade"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestCreateNewServicePostUpgrade
* **Repository name**: serving

[2020-07-20 12:04] #8689 closed

[2020-07-20 12:04] #8691 closed

[2020-07-20 14:01] tshak commented on #6114
/reopen

I'm seeing this issue inside of a `Kind` cluster when loaded images using `kind load` (e.g. `kind load myreg/myimg:local`).

Knative: `0.16.0`
Kubernetes: `v1.16.9`
Kind: `v0.8.1`

Similar to the Azure Container Registry issue, the exact same docker URL loads fine from a `Deployment`.

[2020-07-20 14:07] mattmoor commented on #6114
/remove-lifecycle rotten

[2020-07-20 14:19] dprotaso commented on #4416
/reopen

[2020-07-20 14:23] markusthoemmes commented on #8377
We might want to think about the guarding measures we want to take first maybe. That makes accepting/denying this a no-brainer imo.

How do we want to measure success/failure or rather better/worse once we do this?

[2020-07-20 14:39] dprotaso commented on #6114
A `Deployment` works without hitting a registry since the default `ImagePullPolicy` is `IfNotPresent`.

If you were using an image reference that didn't exist on any registry I'd expect the tag to digest resolution to fail.

[2020-07-20 14:43] dprotaso commented on #6114
If the image _does_ exist and you're having an authentication issues on cluster can you try a few things

1) Try pulling with this tool https://github.com/google/go-containerregistry/tree/master/cmd/crane

We use the library for the tag resolution.

2) Ensure your KService has the right image pull secrets associated with it (or the running service account)

[2020-07-20 14:54] tshak commented on #6114
Regarding the issue with Kind, I believe that I understand the technical reason why it may not be working. It's still an odd user experience because the serving runtime contract does not seem to indicate anything that would indicate to the developer that a `KService`'s default image pull behavior would be any different than the `Deployment`'s default image pull behavior.

Regarding Azure: The only

[2020-07-20 15:13] skonto commented on #8627
@duglin from what I read the idea is to have a global hard limit for pod `maxScale`, if so I could do this.

[2020-07-20 15:15] markusthoemmes commented on #8627
@skonto it isn't about defining a hard limit but about defining a default that's not 0 (which equals to unlimited) like todaz.

[2020-07-20 15:32] tonycoello commented on #8681
I tried following the doc to install knative components using the operator… however, I get a 404 for 16.0 using the line in the doc (https://knative.dev/docs/install/knative-with-operators/) to apply the file from https://github.com/knative/operator/releases/download/v0.16.0/operator.yaml.  Therefore I pointed to v0.15.3, which showed to be the lastest release.  So it seems the v0.15.3 version doe

[2020-07-20 15:49] skonto commented on #8644
@vagababov you mean that right now disabling logging is based on [this](https://github.com/knative/serving/blob/d86ab4a68ec6421396711f32321618f62456836e/pkg/http/request_log.go#L103) convention? I could work on this btw.

[2020-07-20 16:30] duglin commented on #8627
Correct - it's about a default value instead of the hardcoded 0 we have today

[2020-07-20 16:41] vagababov opened #8712 "Load test activator to find limits"
## In what area(s)?
/area autoscale
/area test-and-release
/kind process

@yanweiguo did some great work last year to see where does the activator break, but since then we have mostly rewritten everything there (new backend monitoring code, load balancing, optimization for metric computations and distribution, etc).
So we're doing *more* but we also *optimized a lot*.
For cluster resource forecast

[2020-07-20 16:52] vagababov commented on #8644
If you want to: go ahead

[2020-07-20 16:52] vagababov commented on #8644
/assign @skonto

[2020-07-20 17:08] skonto commented on #8377
The workqueue imposes a rate limiting strategy in order to optimize revision scraping throughput and latency. The current approach from operations perspective implicitly requires hand-tuning if you have to increase your connection pool size in large envs and there is no control with busty traffic. In any case, given your env and resources you can achieve a specific maximum performance, beyond that

[2020-07-20 17:12] mattmoor commented on #8683
I think what Jon's driving at is that there's a nuanced distinction between the cluster operator and the platform provider, and the configmap is generally targeting the former, but the latter may want to adjust things themselves.

Flags is one way of doing this, another would be to change these to `var` and use linker flags or the `./cmd` entrypoint to change default values in-context.

[2020-07-20 17:15] mattmoor commented on #8675
Yeah, +1.  Is it defaulting?

Should be fine to add more `Debugf`, which is how we run e2e tests.

[2020-07-20 17:16] mattmoor commented on #8682
/area autoscaling

[2020-07-20 17:17] mattmoor commented on #8659
`kn service update my-ksvc --image=myimage:latest` should work.

With `kubectl` I do not think that they are agnostic enough for `set image` to work with our types...

[2020-07-20 17:20] julz commented on #8683
Have to admit, I'm struggling to see the use case where you're willing to pass different flags (so modify images/yaml), but can't use `kustomize` (or similar) to modify the config map. If what we want is an ability to have different sets of defaults for different users (e.g. per-namespace defaults), that seems like a use case for https://github.com/knative/serving/issues/8114 (which I'm a big fan

[2020-07-20 17:22] mattmoor commented on #8562
For operator stuff, we should open something in their repo, but another potential option here would be to try omitting `rules: []` since that would make the three-way merge semantics in `kubectl apply` leave the field alone.

[2020-07-20 17:27] julz commented on #8114
This seems to have stalled a bit, but I think it'd be super useful to explore.. anyone have an idea for the best next step we could take to progress it? (I'm happy to pick up some work for it if the answer is it needs someone to work on it!).

[2020-07-20 17:43] vagababov commented on #8377
I would also want to see how StatefulSet AS scaleout works, since I don't want us to compilicate the system if there's no necessity to.

[2020-07-20 18:08] vagababov commented on #8712
/cc @yanweiguo
as well

[2020-07-20 19:05] concaf commented on #8584
This appears to be fixed in the upcoming Ambassador release in a couple of days - Going to keep this open till the release gets out.

[2020-07-20 20:04] decewei commented on #8682
Thanks. This solves the issue but comes to a second issue:
We have concurrency target = 1, and utilization = 100. When a second request comes in, it does create a second pod. However, when we check the process in each pod, we will see the second pod is not processing any request, but they all go to pod #1.

In non-gpu processing, it is okay. When it is gpu-based job, this will creates problems. Wo

[2020-07-20 20:10] mattmoor commented on #8682
Are you using `containerConcurrency: 1` (hard) or the `target` annotation (soft)?

[2020-07-20 20:11] decewei commented on #8682
I'm using target (soft) annotation.

[2020-07-20 20:11] vagababov commented on #8682
You need to set container concurrency on your revision.
Plus you need to redirect requests via Activator.

[2020-07-20 20:12] vagababov commented on #8682
For the second you need to set `targetBurstCapacity=-1` (default is 200 and for low traffic services would suffice).
You need this in order to take advantage of our load balancing, which is aware of container concurrency.

[2020-07-20 20:30] decewei commented on #8682
This is my annotation setting.
[code]
After I send the second request, it still goes to the first pod. Instead of the created second pod.

[2020-07-20 20:31] decewei commented on #8682
Also my kpa setting has deployed this setting.
[code]

[2020-07-20 22:32] vagababov commented on #8682
Container concurrency is not an annotation, it's a field on the service
[code]

[2020-07-21 06:04] markusthoemmes commented on #8114
I think at this point, this mostly needs an actual design/analysis on what the desired outcome would look like for serving for example.

[2020-07-21 06:07] markusthoemmes commented on #8562
@mattmoor I did try that to no avail. It still has an intermittent empty rules set (at least as far as I can remember).

[2020-07-21 10:02] dleurs commented on #8659
Thank you very much !

[2020-07-21 10:02] #8659 closed

[2020-07-21 10:16] skonto commented on #8377
@vagababov reading these [benchmarks](https://github.com/panjf2000/ants#-performance-summary) from the `ants` lib shows that most likely unbounded goroutines (independently from scraping) are not the best choice beyond a concurrency number eg. 100K tasks in that benchmark. So I think we need a better approach anyway because I suspect that scaling out would solve that problem but even in that case

[2020-07-21 12:04] knative-test-reporter-robot opened #8725 "[flaky] test/conformance/api/v1beta1.TestProjectedSecretVolume"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestProjectedSecretVolume
* **Repository name**: serving

[2020-07-21 12:04] #8697 closed

[2020-07-21 12:04] knative-test-reporter-robot opened #8726 "[flaky] test/scale.TestScaleToN/scale-100"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-100
* **Repository name**: serving

[2020-07-21 14:48] whaught opened #8730 "Extend PodSpec DryRun to Configurations"
/area API

## Describe the feature
We currently validate incoming PodSpecs on Service by creating a dummy deployment and calling CreatePod with dry-run mode set. This validates the podspec as knative would later use. This allows us to take advantage of all validation on the CreatePod action or any webhooks the vendor may have on that action.

This task is to extend the same validation to the Confi

[2020-07-21 14:55] whaught opened #8731 "Remove PodSpec DryRun Flag"
/area API
 /area test-and-release
 /kind process

## Describe the feature

We just moved PodSpec-DryRun to Enabled for the 0.16 release. We should let this soak and wait one or a few releases (there is no particular urgency) to ensure this feature is well supported on various vendors.

After that we should move the feature to GA by removing the feature flag.

[2020-07-21 17:43] jonjohnsonjr commented on #4416
/unassign

[2020-07-21 20:21] salanki commented on #8190
I recommend checking out KFServing which utilizes KNative under the hood.

[2020-07-21 20:53] vagababov commented on #8377
100K go routines is probably strongly above what we support per task in any case....

[2020-07-21 21:24] skonto commented on #8377
@julz describes an issue that occurs in large envs. So we need to clarify what is the number of pods being scraped when issues occur. Btw in theory if we follow the [guidelines](https://kubernetes.io/docs/setup/best-practices/cluster-large/) for building large clusters, we could have thousands of pods and the limit is 150K. However, these benchmarks I mentioned depend on the processing being done

[2020-07-21 22:00] whaught opened #8735 "Eliminate dependency on the Route label"
/area API

## Describe the feature

- We use the IsReachable helper method for revision deployment / scale up. It currently looks at the RouteLabel, but with the new GC algorithm we want to switch to using state=RoutingStateActive or allow for many Rotues
- We should also investigate the new labeler's label selector to ensure it's also using routing state
- Search to look for places where the labe

[2020-07-21 22:03] whaught opened #8736 "Create community documentation for the new GC"
/area API

## Describe the feature
We've spent some time documenting the new GC settings here: https://github.com/knative/serving/blob/master/config/core/configmaps/gc.yaml#L60

We should adapt and expand on this in a well-formatted .md file in docs

[2020-07-21 22:07] whaught opened #8737 "Create an E2E test to exercise the new GC"
/area API
 /area test-and-release

## Describe the feature
Since we now have a deterministic count-based GC, we can make a test that expects the previous deployment to get automatically cleaned up.

This will require flipping the feature flag and applying GC settings before the test runs.
For reference, here is how that is done for multi-container: https://github.com/knative/serving/blob/e56579d0e

[2020-07-21 22:13] whaught opened #8738 "Eliminate the RouteLabel restriction"
/area API

## Describe the feature
At the moment we label each revision with a RouteLabel of the first route that references it. This precludes ever having more than one route reference a revision and may cause unexpected errors if the user does so.

https://github.com/knative/serving/blob/c312fa46acba1479d35296502aac256572c2a313/pkg/reconciler/labeler/v1/labels.go#L121

Note: we should update for

[2020-07-21 22:14] whaught opened #8739 "Consider useful GC metrics"
/area API
/area monitoring

## Describe the feature
We should ensure we have enough metrics for GC and Labeling to ensure they are functioning as intended.

TODO: elaborate here as we think through this one.

[2020-07-21 22:16] whaught opened #8740 "Disable LastPinned refresh on Route when new GC is Enabled"
/area API

## Describe the feature
As we graduate v2 GC to Enabled, we can stop refreshing the LastPinned annotation and ultimately eliminate it as we remove the feature flags.

[2020-07-21 22:18] whaught opened #8741 "Remove the Feature Flag for responsive GC, post-GA"
/area API

 /kind process

## Describe the feature
After we have Allowed and then Enabled the new GC algorithm, we should eliminate the flags and remove the old logic

[2020-07-21 22:19] whaught opened #8742 "Upgrade script for new GC"
/area API

## Describe the feature
The new labeler creates new routingState label and stamps the new modified time. We may also eliminate lastPinned.
We should create a script to clean up / migrate the annotations in a future release once this has launched.

Alternatively the v1/v2 labeler could manage dropping/adding these on the fly. This might be desirable so the feature flag can be flipped bac

[2020-07-21 22:21] whaught opened #8743 "Reconsider V2 GC default values"
/area API

 /kind spec

## Describe the feature
We may want to consider how most users expect GC to occur adjust the default settings. This may be a no-op if we believe that the v1 settings which are carried over are already reasonable.

[2020-07-21 22:24] whaught opened #8744 "Create an Allowed state for v2 GC"
/area API

## Describe the feature
We may want 'allowed' to enable the new GC logic, but continue to refresh lastPinned (so users can go back). 'enabled' does the same but eliminates the old logic.
Document the differences.

[2020-07-21 23:13] #7359 closed

[2020-07-21 23:13] #7205 closed

[2020-07-21 23:13] #7188 closed

[2020-07-21 23:13] #6135 closed

[2020-07-21 23:13] #5624 closed

[2020-07-21 23:13] #3485 closed

[2020-07-21 23:20] #6792 closed

[2020-07-22 00:39] #7340 closed

[2020-07-22 01:16] nak3 commented on #6593
@danehans Here are answers for your question. (I am writing the answer here for the visibility.)

No, Knative doesn't have the use case. There is one use case of the multiple hosts match[1] but I assume that your question doesn't mean it.

At this moment, Knative requires the request headers manipulation but not response headers.

[1] e.g. In the following Knative(Kingress), both `a.default.exampl

[2020-07-22 01:33] decewei commented on #8682
Got it. We are using KFServing api, which does not set annotation to the actual spec in knative. We modify KFServing behaviour, and confirm setting containConcurrency = 1 works.Thanks.

[2020-07-22 01:33] #8682 closed

[2020-07-22 01:46] vagababov commented on #8682
I think someone fixed that earlier.. but it might not have progressed to the releases

[2020-07-22 05:52] markusthoemmes commented on #8377
Yeah let's write a Golang benchmark (I don't think an E2E one is necessary) and see if we can find a break even point between just spawning new goroutines and pooling them for our workloads.

[2020-07-22 09:45] Hsiny commented on #8662
/assign

[2020-07-22 12:06] knative-test-reporter-robot opened #8748 "[flaky] test/conformance/api/v1.TestRouteCreation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestRouteCreation
* **Repository name**: serving

[2020-07-22 12:06] knative-test-reporter-robot opened #8749 "[flaky] test/scale.TestScaleToN/scale-10"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-10
* **Repository name**: serving

[2020-07-22 12:06] knative-test-reporter-robot opened #8750 "[flaky] test/conformance/api/v1beta1.TestRouteCreation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestRouteCreation
* **Repository name**: serving

[2020-07-22 12:06] knative-test-reporter-robot opened #8751 "[flaky] test/conformance/api/v1.TestBlueGreenRoute"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestBlueGreenRoute
* **Repository name**: serving

[2020-07-22 12:06] knative-test-reporter-robot opened #8752 "[flaky] test/conformance/api/v1alpha1.TestContainerExitingMsg/http"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestContainerExitingMsg/http
* **Repository name**: serving

[2020-07-22 12:06] #8521 closed

[2020-07-22 12:06] #8295 closed

[2020-07-22 12:06] #8708 closed

[2020-07-22 12:06] #8704 closed

[2020-07-22 12:06] #8703 closed

[2020-07-22 12:06] #8707 closed

[2020-07-22 12:17] #5634 closed

[2020-07-22 14:11] whaught commented on #8744
/assign

[2020-07-22 14:53] decewei commented on #8682
Yes. For who's having the same issue and using KFServing, this [kfserving PR](https://github.com/kubeflow/kfserving/pull/806) should fix the issue for v0.3.0.

[2020-07-22 17:27] duglin commented on #8570
I would think normal Knative users won't touch the underlying objects much (if at all) and instead only deal with the ksvc. So if they're going out of their way to delete a revision I suspect they probably have a good reason to do so.

This feels a bit like we're crossing the line into being too parental.

[2020-07-22 18:48] nthnca commented on #8570
Discussed in Serving API working group: https://docs.google.com/document/d/1NC4klOdNaU-N-PsKLyXBqDKgNSHtxCDep29Ta2b5FK0/edit#heading=h.e2ybf6vi6e2z

General notes:
- Is this a good idea: Yes.
- Concerns: We don't want to change the behaviour of kubectl. A kubectl user shouldn't have to dig into understanding knative to be able to do what they can normally do. This validation being the new default

[2020-07-22 20:57] #8740 closed

[2020-07-22 21:20] igorbelianski commented on #4283
I think we need to reopen question adding 'auto' vs changing "" default meaning.
The current spec :
     https://knative.dev/docs/reference/serving-api/#serving.knative.dev/v1.RevisionTemplateSpec  (see podSpec inside spec)
"delegates"  name declaration to k8S
  https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#containerport-v1-core
which in turn declares port name as
   " _If s

[2020-07-22 21:45] #8744 closed

[2020-07-22 22:15] nairb774 opened #8761 "Interaction between Autoscaler and Istio Proxy triggering memory leak"
I'm just starting to dig into this, but I'm filing the bug to raise visibility and hopefully be able to get some help debugging.

## What version of Knative?

Both:

but not 0.14.0

## Expected Behavior

The memory usage of the autoscaler's Istio proxy stays relatively flat, or at least proportional to some reasonable metric (number of pods, number of ksvcs, ...).

## Actual Behavior

Over time th

[2020-07-22 22:22] vagababov commented on #8761
Does this https://github.com/istio/istio/issues/25145 — sound related?

[2020-07-22 22:25] vagababov commented on #8761
So basically you're running istio sidecar and istio sidecar is not releasing memory?
IIUC, then it's not clear to me what Knative can do here though?

[2020-07-22 22:45] nairb774 commented on #8761
https://github.com/istio/istio/issues/25145 is interesting as this might share a similar root cause, but  the notable difference being 25145 is about the ingressgateway, and here the issues is the sidecar of the autoscaler job. Unfortunately I don't know enough about the behavior of the autoscaler to know what a common root cause might look like.

[2020-07-22 22:47] vagababov commented on #8761
Well, it's probably a shared istio code. In any case Knative itself does nothing with the istio sidecar. So I think the problem is _in_ istio, unless they can show that it's Knative that causes their memory to balloon.

/cc @tcnghia @ZhiminXiang
for more Istio insight.

[2020-07-23 05:07] mattmoor opened #8765 "Network Prober's podState cancellation makes bad assumptions about atomicity"
/area networking

## What version of Knative?

HEAD and last few releases.

## Expected Behavior

The network prober should only return success once ALL of the hostnames associated with each IP have been successfully probed.

## Actual Behavior

Once a single record for a particular IP address is probed, all other probes associated with that IP are cancelled.

This was an optimization, which is re

[2020-07-23 05:18] mattmoor opened #8766 "Add logstream to kingress conformance"
## In what area(s)?
/area networking
/area test-and-release

/kind good-first-issue

## Describe the feature

The logstream lets us know how activity in the system components correlates with what's going on in individual tests.  I was experimenting with this and an instrumented status prober debugging `TestUpdate` and it was extremely useful.

cc @vagababov

[2020-07-23 05:22] mattmoor opened #8767 "Network status prober should decorate logs with "key""
/area networking
/area test-and-release
/kind good-first-issue

## Describe the feature

_This complements [this](https://github.com/knative/serving/issues/8766) issue._

By decorating log statements from the status prober with the key that it is processing, it enables the prober logs for a particular key to be automatically interleaved into the output of the test.

Take for instance `TestUpdate`,

[2020-07-23 12:06] knative-test-reporter-robot opened #8775 "[flaky] test/conformance/api/v1alpha1.TestUpdateConfigurationMetadata"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestUpdateConfigurationMetadata
* **Repository name**: serving

[2020-07-23 12:06] knative-test-reporter-robot opened #8776 "[flaky] test/conformance/api/v1alpha1.TestRevisionTimeout/when_pods_already_exist,_and_it_does_not_exceed_timeout_seconds"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestRevisionTimeout/when_pods_already_exist,_and_it_does_not_exceed_timeout_seconds
* **Repository name**: serving

[2020-07-23 12:06] knative-test-reporter-robot opened #8777 "[flaky] test/e2e.TestInitScalePositive"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestInitScalePositive
* **Repository name**: serving

[2020-07-23 12:06] knative-test-reporter-robot opened #8778 "[flaky] test/conformance/api/v1beta1.TestAnnotationPropagation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestAnnotationPropagation
* **Repository name**: serving

[2020-07-23 12:06] knative-test-reporter-robot opened #8779 "[flaky] test/conformance/api/v1alpha1.TestContainerExitingMsg/tcp"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestContainerExitingMsg/tcp
* **Repository name**: serving

[2020-07-23 12:06] knative-test-reporter-robot opened #8780 "[flaky] test/conformance/api/v1alpha1.TestProjectedSecretVolume"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestProjectedSecretVolume
* **Repository name**: serving

[2020-07-23 12:06] knative-test-reporter-robot opened #8781 "[flaky] test/conformance/api/v1.TestRevisionTimeout/when_pods_already_exist,_and_it_does_not_exceed_timeout_seconds"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestRevisionTimeout/when_pods_already_exist,_and_it_does_not_exceed_timeout_seconds
* **Repository name**: serving

[2020-07-23 12:06] knative-test-reporter-robot opened #8782 "[flaky] test/conformance/runtime.TestProbeRuntime/tcpSocket"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestProbeRuntime/tcpSocket
* **Repository name**: serving

[2020-07-23 12:06] knative-test-reporter-robot opened #8783 "[flaky] test/conformance/api/v1beta1.TestUpdateConfigurationMetadata"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestUpdateConfigurationMetadata
* **Repository name**: serving

[2020-07-23 13:36] julz commented on #7708
/reopen
/remove-lifecycle stale

I'd be up for doing this if no-one has any objections to the feature?

/assign @julz

[2020-07-23 13:49] markusthoemmes commented on #7708
/cc @tcnghia @nak3

I think this probably at least should go through a WG review in networking.

[2020-07-23 14:39] julz commented on #7708
sounds good - I added to the Future Topics sticky in the Networking WG mtg notes. Im not going to be able to make it to the one today to discuss tho 'cos I have a conflict :(.

[2020-07-23 16:13] mattmoor commented on #8766
/assign

[2020-07-23 16:19] mattmoor commented on #8767
I'm going to start looking at this as https://github.com/knative/serving/pull/8788 lands...

[2020-07-23 16:39] whaught opened #8791 "Initialize RoutingState to active if the Configuration is referenced by a Route"
/area API

## Describe the feature
Currently we set routingState to pending when a Configuration produces a new Revision, we can initialize that to Active if the Configuration is already pointed to by a Route.

Currently we don't propagate the Route label there and instead wait for the Labeler to do so. Although we could also propagate that forward, let's just do it for the new GC state so new beh

[2020-07-23 16:57] vagababov opened #8792 "Add explicit ResourcesReady status to PA"
Right now we don't have it and take advantage of arcane want/got values to signal that not everything is ready unnecessarily complicating the situation and state machines.
To avoid this we should create a simple and nice status that will become true when metric and sks (and decider for a good measure) become _true_

/assign

[2020-07-23 17:30] nak3 commented on #7708
/cc @ZhiminXiang

I wonder that it is related to TLS/cert stuff. If TLS/cert works fine, I have no objections to the feature.

[2020-07-23 17:46] ZhiminXiang commented on #7708
Currently when using auto TLS, the scheme will be set to HTTPS once the TLS becomes effective. I think this behavior should be respected when doing the custom URL scheme.

In general, I don't have objections. I am curious to see:
1. what types of scheme we plan to support (HTTP and HTTPS only, or other scheme)
2. How admin configures the scheme, and how the scheme affects Kingress configuration.

[2020-07-23 18:30] #8767 closed

[2020-07-23 19:20] #8766 closed

[2020-07-23 21:33] whaught commented on #8791
Consider this too: https://github.com/knative/serving/blob/1c782d95c918f3b8b410fbac68849c494fd74b0c/pkg/reconciler/service/resources/configuration.go#L39

[2020-07-23 21:57] JRBANCEL commented on #8765
/assign

[2020-07-24 00:40] #7357 closed

[2020-07-24 00:48] nairb774 commented on #8761
Here is the current hypothesis:

Knative, by way of trying to scrape metrics from individual pods, is inducing a large number of metrics (think prometheus) to be generated in Envoy which are never garbage collected.

Reasoning:

While the pod scrape logic [attempts to remember](https://github.com/knative/serving/blob/v0.16.0/pkg/autoscaler/metrics/stats_scraper.go#L209) if scraping pods is possibl

[2020-07-24 02:19] Cynocracy commented on #7357
This sounds a lot like  https://github.com/google/ko/issues to me

On Thu, Jul 23, 2020 at 5:40 PM github-actions[bot] <
notifications@github.com> wrote:

[2020-07-24 03:29] vagababov commented on #8761
podsAddressable is cached for a given revision.
In theory we can try to cache it across revisions, but this (don't remember why) was not considered safe.

[2020-07-24 08:23] MIBc commented on #6971
Facing the same error. I used gloo as ingress.
Gloo: 1.3.9
knative: 0.15.0

[2020-07-24 11:45] swvaibhav opened #8801 "Running ondemand jobs on knative"
I have a requirement where I'd want to start a pod when a user submits to process a CSV file. For each request, a new Pod must be started processing the CSV given to the pod. These jobs can be long-running and might take more than 30 mins to finish on avg.

As I understand through the document, the Service started for a request can stay ideal for 60 seconds, now I understand this is configurable,

[2020-07-24 12:05] #8749 closed

[2020-07-24 12:06] #8690 closed

[2020-07-24 13:51] duglin commented on #8801
Any subsequent request should either spin up a 2nd thread in your knService, or create a new instance of the knService - depending on how you configure your containerConcurrency and maxScale values.

Can you elaborate a bit more on how the CSV change triggers the processing? Understanding that part of the flow might help us provide a better answer.  But, if it's just an HTTP request into a KnServi

[2020-07-24 14:23] swvaibhav commented on #8801
@duglin When a user uploads a CSV file from the frontend the file will be submitted to a job to process it and then save records in the database. So it is a typical ETL process. On the upload, I'd like to spin up a new pod and the application started by the pod will pick up the file and start processing it.

The application will be a spring serverless application.

[2020-07-24 16:58] nairb774 commented on #8761
If you mean [Knative Revisions](https://knative.dev/docs/reference/serving-api/#serving.knative.dev/v1.Revision), there haven't been explicit changes to those - we have only made use of the Knative Services, and they haven't been changed/deployed since July 1 - what could be triggering changes to revisions?

[2020-07-24 17:15] duglin commented on #8801
yes the timeout issue is different from the "creating a new pod per request" aspect. use CC=1 to get the "one request per pod" semantics.  For the timeout issue, we way need others to chime in about which config option to change, but I've had to modify `revision-timeout-seconds` and `max-revision-timeout-seconds` in the config-defaults configMap and needed to modify my cluster-specific networking

[2020-07-24 17:22] vagababov commented on #8761
So when you send varying traffic this means autoscaler scales the pods up and down.
As a consequence it means that the endpoints list in your sidecar, that watches those pods change.
My guess is that istio has a bug where it does not purge them from caches. Hence my suggestion is that you first ask there to see if it's a known issue (e.g. like the one I posted above).
In other words, this is an is

[2020-07-24 18:24] swvaibhav commented on #8801
@duglin Would you suggest running the Job on Knative service or Kubernetes Job??

[2020-07-24 19:23] duglin commented on #8801
If you're ok with the app having an http server, then I'd use Knative. I like the idea of it scaling on-demand.  And, while you seemed to indicate that you wanted one request per pod, if you can manage to make your app multi-threaded, then you can easily switch to multiple requests per pod (and get better resource usage) via a simple change to CC.

Plus, you get Knative's great UX  :-)

[2020-07-25 01:50] jsargiot commented on #6265
I had this same issue on a bare-metal installation of K8s v1.15, after several hours of debugging, trying different Knative versions and log checking I found that my installation had the `--admission-control` flag set on the Kube Api Server and it didn't list the `ValidatingAdmissionWebhook` (https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/). I've removed the flag to

[2020-07-25 02:12] #8735 closed

[2020-07-25 04:37] concaf commented on #8584
The latest release it out - I've updated the related install instructions here - https://github.com/knative/docs/pull/2700 - this should now be fixed.
@zackangelo would be great if you could try this out.

[2020-07-25 12:03] #8775 closed

[2020-07-25 12:04] #8751 closed

[2020-07-25 12:04] knative-test-reporter-robot opened #8811 "[flaky] pkg/reconciler/serverlessservice.TestGlobalResyncOnActivatorChange"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/serverlessservice.TestGlobalResyncOnActivatorChange
* **Repository name**: serving

[2020-07-25 12:04] #8694 closed

[2020-07-25 12:04] #8782 closed

[2020-07-25 12:04] #8698 closed

[2020-07-25 12:18] #7400 closed

[2020-07-25 12:18] #4438 closed

[2020-07-25 18:34] lee-zhg opened #8812 "no matches for kind "Service" in version "serving.knative.dev/v1alpha1""
## Ask your question here:

I am runninig OpenShift on IBM Kubernetes and run into an issue while doing Tekton source to image. See the error below:

{"level":"info","ts":1595695946.3672152,"logger":"fallback-logger","caller":"logging/config.go:69","msg":"Fetch GitHub commit ID from kodata failed: \"KO_DATA_PATH\" does not exist or is empty"}
error: unable to recognize "/workspace/git-source/knati

[2020-07-26 22:54] mattmoor commented on #1178
/remove-lifecycle rotten
/reopen

There are still TODOs pertaining to this.

[2020-07-26 22:54] mattmoor commented on #1178
/lifecycle frozen

[2020-07-26 23:01] Cynocracy commented on #1178
Is it enough to just scan for occurrences of Wait() and see if there is extra state checking that can be done?
Or just the TODOs you mentioned, maybe?

[2020-07-26 23:05] mattmoor commented on #1178
This history of this is that "Ready" didn't used to mean "Ready", so we'd wait for Ready and then we'd wait for it to *really* be ready.

Things like this should be "Check" not "WaitFor" because we already waited for Ready, and that should mean something: https://github.com/knative/serving/blob/1642dd12db11c65a63e0abfac9181f1dde4721a8/test/conformance/api/v1/route_test.go#L42

I'd probably start w

[2020-07-26 23:45] Cynocracy commented on #1178
Sounds good. thanks for the info! If I have spare cycles I think this sounds interesting to pick up,.

[2020-07-27 06:08] markusthoemmes commented on #1178
FWIW this is related: https://github.com/knative/serving/issues/5573. Sadly we still haven't fixed that downstream.

[2020-07-27 06:17] markusthoemmes commented on #8812
How did you install Knative in your Openshift cluster?

[2020-07-27 08:43] MIBc commented on #6971
The ingress controller, such as gloo-ingress, will try updating a few times. So I think the error is not belong to ingress controller.
I find that knative serving controller may always updates ingress in [here](https://github.com/knative/serving/blob/master/pkg/reconciler/route/reconcile_resources.go#L56).
 That is reason the error happens. I restart webhooks. The error is solved.
I just wonder wh

[2020-07-27 12:03] knative-test-reporter-robot opened #8821 "[flaky] pkg/autoscaler/metrics.TestMetricCollectorScraper"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/autoscaler/metrics.TestMetricCollectorScraper
* **Repository name**: serving

[2020-07-27 15:08] sravankumar777 opened #8825 "Sync /spec/template/metadata/annotation data for all objects, when ksvc created"
## Ask your question here:
Deploy ksvc service with few annotations data provided under /spec/template/metadata/annotations.
Sample yaml:
[code]

Observed objects created under hood with ksvc creation does not have annotations mentioned under /spec/template/metadata/annotations.

[code]

I am creating this query, related to discussion on Slack.
https://knative.slack.com/archives/CA9RHBGJX/p1595390

[2020-07-27 15:12] markusthoemmes commented on #8825
The template is solely used for configurations and then revisions as you correctly identified.

A route gets the annotations of the top level metadata of the Service I believe though. @nak3 has done changes here recently IIRC.

[2020-07-27 15:18] julz commented on #7748
/remove-lifecycle stale

PR to net-istio is merged: https://github.com/knative-sandbox/net-istio/pull/174
Conformance test in serving waiting on review: https://github.com/knative/serving/pull/8592

[2020-07-27 15:30] taragu opened #8826 "Documentation for service initial scale feature"
/area API
/area autoscale

/kind feature
/kind documentation

Part of #7682
## Describe the feature
We need to document the usage of cluster-wide flag `initial-scale` and `allow-zero-initial-scale`, as well as autoscaling annotation `autoscaling.knative.dev/initialScale` for the service initial scale feature.

[2020-07-27 17:56] vagababov commented on #8825
Route and config will get their annotations from service.
Revision (and as a consequence PA, deployment, SKS and private/public services) gets from template + a few hand picked ones.

[2020-07-28 00:06] #8765 closed

[2020-07-28 08:36] rhuss commented on #8160
I have the same question, because I just got the same question :)

I think it is a very important use case to allow _revision stickiness_ : Stick to a revision once selected when doing a traffic split based on probability.

[2020-07-28 08:46] chsatyap opened #8830 "Potential code quality issues found"
I forked this repo a while ago and ran a DeepSource analysis on it. DeepSource found a variety of different issues categorized based on their types and severity which you can view [here](https://deepsource.io/gh/chsatyap/serving/).

Brief description -
Anti-Patterns: 46
Bug Risks: 348
Performance issues: 16
Security Issues: 5

You can find a detailed description and fixes for some of them [here](h

[2020-07-28 10:10] rhuss commented on #8160
[Tag header-based routing](https://knative.dev/development/serving/samples/tag-header-based-routing/) could be half of the solution. If now an _HTTP response_ from a revision would now include its revision-tag, then a client could perfectly do the correlation on its own:

* Send first requests to the service URL without any extra info
* Traffic split selects a revision by distribution
* HTTP respo

[2020-07-28 12:06] knative-test-reporter-robot opened #8833 "[flaky] pkg/reconciler/revision.TestNewRevisionCallsSyncHandler"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/revision.TestNewRevisionCallsSyncHandler
* **Repository name**: serving

[2020-07-28 13:59] #8584 closed

[2020-07-28 16:35] vagababov commented on #7727
[code]

/cc @JRBANCEL @tcnghia @ZhiminXiang
Do you have insights why do we fail to get ingress? Or how we can harden the test in these conditions?

[2020-07-28 16:47] vagababov commented on #8830
Thanks a lot for running this.
The report says last run is 21 days ago. Can you rerun it so it matches more recent code?

[2020-07-28 17:03] chsatyap commented on #8830
I've edited the original comment with the latest numbers as per your request.

[2020-07-28 17:33] markusthoemmes commented on #8830
- https://deepsource.io/gh/chsatyap/serving/issue/CRT-A0018/
- https://deepsource.io/gh/chsatyap/serving/issue/CRT-A0004/
- https://deepsource.io/gh/chsatyap/serving/issue/CRT-A0010/

Seem definitely valuable here.

[2020-07-28 20:15] JRBANCEL commented on #7727
Looking a the code there could be multiple reasons for this error:
- Ingress.Status.Ingress is empty
- None of the switch cases apply:https://github.com/knative/serving/blob/247138cee9d80f6ffe75de205373d8248952087c/pkg/reconciler/route/resources/service.go#L149

Hard to know with just those logs.

[2020-07-28 20:16] duglin commented on #6146
@tcnghia any comment on this one?

[2020-07-28 20:19] miguelvr commented on #912
+1 for this.

This is also helpful to integrate with IDE plugins such as the Jetbrains Kubernetes plugin that uses the schema to parse and validate resources as the user writes them

[2020-07-28 20:48] vagababov commented on #7727
Well the main one is ` Failed to update k8s service: failed to fetch loadbalancer domain/IP from ingress status`: but I wonder if we can

- ensure this doesn't happen? TestInfra issue of sorts
- make test better to retry, wait longer, etc?

[2020-07-29 00:21] #8730 closed

[2020-07-29 01:17] whaught opened #8839 "Alternative GC culling modes"
/area API

## Describe the feature

Currently the Garbage Collector simply deletes revisions after they are sufficiently old, or leaves a tail of N revisions and deletes the oldest. If we really want Revision history to be useful for rollback, it might make sense to create modes other than 'delete oldest' such as retaining daily builds (or exponentially sparser).

This would be good opportunity to

[2020-07-29 01:31] igorbelianski commented on #4283
Design :
https://docs.google.com/document/d/1cGmJsBht6vTwqvWvfRnAEmQ1NPQOpZHjR082t2L8Wl4/edit?usp=sharing

[2020-07-29 03:24] nak3 opened #8841 "TestServiceValidationWithInvalidPodSpec does not run with dry run "strict mode""
## In what area(s)?

/area test-and-release

## What version of Knative?

v0.16.0-156-g5ee8c9cd4

## Actual Behavior

`TestServiceValidationWithInvalidPodSpec` runs with `features.knative.dev/podspec-dryrun: strict`

https://github.com/knative/serving/blob/5ee8c9cd43dcbab17aaef863be6e3437a0682115/test/e2e/service_validation_test.go#L52-L53

But it does not make sense. The DryRunMode is `enabled` i

[2020-07-29 04:57] #8792 closed

[2020-07-29 06:06] markusthoemmes commented on #6146
Does a plain Golang httputil.ReverseProxy support what you're trying to do?

[2020-07-29 12:06] knative-test-reporter-robot opened #8843 "[flaky] test/conformance/api/v1beta1.TestContainerExitingMsg/tcp"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestContainerExitingMsg/tcp
* **Repository name**: serving

[2020-07-29 12:06] #8656 closed

[2020-07-29 12:06] #8658 closed

[2020-07-29 12:06] #8248 closed

[2020-07-29 12:06] #8542 closed

[2020-07-29 12:06] #8657 closed

[2020-07-29 20:30] vagababov commented on #8540
The SKS readiness is now its own condition and should be easier to deal with PA status.

[2020-07-30 08:26] cdlliuy commented on #8540
@vagababov , can you help to ping related PR for the sks condition changes? Thanks a lot !

[2020-07-30 17:27] tcnghia commented on #6367
/close

We no longer configure Retries through KIngress

[2020-07-30 17:27] #6367 closed

[2020-07-30 17:35] vagababov opened #8855 "Container debuggability and autoscaling"
How to debug containers in autoscaled world?

## In what area(s)?

/area API
/area autoscale

## Describe the feature

Generally users debug the app before deploying to production, but sometimes you may need to SSH to the executing container to do things right there (profiling, sending debug requests to a debug port permitting connections only from the localhost, etc). Which requires a long runnin

[2020-07-30 17:54] ZitRos commented on #8855
Thanks Victor for filing this!

Just a note off the top of my head regarding the label solution you suggest - sounds good, while we will still need to remove it after the debugging is done, which might not always be successful (say, the user unexpectedly terminates the CLI/UI session). Maybe, instead, we can do something like an imaginary annotation `scaledown_off_until=<end_date>`, and continuous

[2020-07-30 18:20] dng00 commented on #7924
This is our use case:

For function that runs inside EKS that needs to access various AWS resources such as S3 bucket, we want to create separate K8s `serviceaccount` that maps to specific IAM role. We have done all the steps to create a OIDC provider, IAM role that maps to the desired K8s serviceaccount and add the serviceacount to the service.yaml. It all works well if we running as **root** use

[2020-07-30 18:25] vagababov opened #8857 "Optimize DryRun"
While investigating https://github.com/knative/pkg/issues/1509 we stumbled upon problem that DryRun validation of podspecs is not really working at scale, since we're overwhelming the RateLimiter in the k8s API client that is used to invoke dry run.

Right now we moved it again to be disabled by default, but it is possible we can investigate the avenues to avoid unnecessary dry runs.
E.g. avoid th

[2020-07-30 18:45] JRBANCEL commented on #7556
/open
We saw this again. This time `Configuration` is left behind and not collected, so re-creation of the same `Service` fails later.

[2020-07-30 18:50] whaught commented on #8857
https://github.com/knative/serving/blob/2644ad1fbed6eb753080b4789595182cfdb23563/pkg/webhook/validate_unstructured.go#L104

I believe we ignore no-op updates. That said there may still be common-cases where we can avoid dry-run on Create.

[2020-07-30 19:04] #7682 closed

[2020-07-30 19:12] JRBANCEL commented on #7556
If an object that we want to create is already there but with a different owner, it should be overwritten since by construction the owner is the object being reconciled and if the two are different, the old owner necessarily has been deleted at some point (since they share the same name), so it is safe.

[2020-07-30 22:40] #8738 closed

[2020-07-30 22:40] #8742 closed

[2020-07-30 22:55] vagababov opened #8860 "Go1.15 has some changes which cause tests to fail"
Fix failing tests with go 1.15 (duration parsing so far is the main culprit)

/assign

[2020-07-31 01:05] #8860 closed

[2020-07-31 03:34] salanki commented on #3886
Very curious about this feature. Seems as the work has stalled. Cheering in to hope it get's finished!

[2020-07-31 03:52] vagababov commented on #3886
All the work for this has been reverted.

[2020-07-31 06:09] nak3 commented on #8825
Hi @sravankumar777  As discussed on Slack, we can close this request.
Please feel free to re-open this issue or ping me on Slack.

/close

[2020-07-31 06:09] #8825 closed

[2020-07-31 06:41] Cynocracy commented on #7357
Oh, on second read, have you tried adding -mod=vendor and GO111MODULES=on ?

On Thu, Jul 23, 2020, 7:19 PM Jonathan Donovan <jmd377@cornell.edu> wrote:

[2020-07-31 07:50] cdlliuy commented on #8675
raised a simple PR to add debug info for this, and I am not sure whether using similar code to https://github.com/knative/serving/blob/master/pkg/reconciler/route/route.go#L287-L313 will help to mitigate the race condition?
@markusthoemmes  @mattmoor  ?

[2020-07-31 12:04] knative-test-reporter-robot opened #8868 "[flaky] pkg/reconciler/metric.TestReconcileWithCollector"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/metric.TestReconcileWithCollector
* **Repository name**: serving

[2020-07-31 13:51] dprotaso commented on #7924
@dng00 thanks for the input - I'll throw this into the current milestone (Aug 18th release) since it should be easy to add.

I'll bring it up at the [API WG](https://github.com/knative/community/blob/master/working-groups/WORKING-GROUPS.md#api-core) next week for input from the community

[2020-07-31 17:45] whaught opened #8871 "Create separate configmap store for Configuration reconciler and Labeler"
/area API
/kind good-first-issue

## Describe the feature

Currently Configuration and Labeler share the store from /api, but they should have their own (at the moment Features is consumed, but Autoscaling and Defaults are not) for clean separation and so that we can add specific configmaps for these in the future.

Follow up to: https://github.com/knative/serving/pull/8850
Example of adding to an

[2020-07-31 20:18] vagababov commented on #8821
/assign

[2020-07-31 20:35] dprotaso commented on #7556
What's the time frame and does the configuration have a deletion timestamp?

[2020-08-01 12:04] #8652 closed

[2020-08-01 12:04] knative-test-reporter-robot opened #8877 "[flaky] test/e2e.TestWebSocketBlueGreenRoute"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestWebSocketBlueGreenRoute
* **Repository name**: serving

[2020-08-01 12:19] #7271 closed

[2020-08-01 14:03] nak3 opened #8878 "Setting initial-scale more than 1 never scale down"
## In what area(s)?

/area autoscale

## What version of Knative?

HEAD

## Expected Behavior

- The `initial-scale: 2` should be the _initial target_ after creation, but it should be scaled down.

## Actual Behavior

- The pod never scale down from `2`.
- Setting `initial-scale: 1` can scale down properly. So setting `2` is different from `1`.

## Steps to Reproduce the Problem

### 1. Set initia

[2020-08-01 14:09] itsmurugappan opened #8879 "No error reporting for invalid cpu and mem resources"
## What version of Knative?

0.16

## Expected Behavior

If a ksvc is created like below with invalid resources. Either there should be a validation error or correct status in revision or ksvc.

[code]
## Actual Behavior

- No Validation failure, ksvc gets created
- status has no friendly message
- pod doesnt scheduled

Revision status :

[code]

ksvc status
[code]
## Steps to Reproduce the Proble

[2020-08-01 18:47] vagababov commented on #8879
We have DryRun validation (off by default right now), that should do this.
Can you try turning it on and verifying this is rejected?

[2020-08-01 18:47] vagababov commented on #8879
/cc @whaught

[2020-08-02 06:12] #8878 closed

[2020-08-02 12:05] #8821 closed

[2020-08-03 08:42] benja-wu opened #8889 "After deleted Ksvc, route has been GC but configuration remains"
## What version of Knative?
0.14.0
0.16
[code]
And I also used command `kubectl patch configmap config-domain --namespace knative-serving --patch '{"data": {"example.com": null, "10.109.113.26.xip.io": ""}}'` for using `xip.io` magic domain locally with local clusterIP instead of  externalIP.

## Expected Behavior

After using `kubectl delete ksvc demo8`, all child resources of function `demo8` sh

[2020-08-03 10:07] skonto commented on #8644
Hi @vagababov I started working on this, so I was thinking of adding a flag `disable-logging: "true"` in each component's configmap `config-xxxxx` and push that flag to the queue proxy as well. Alternatively we could modify the observability configmap with a similar value but that would be a significant change. WDYTH before I proceed with a PR?

[2020-08-03 10:12] markusthoemmes commented on #8644
@skonto to clarify: This is about request logging, so it would only apply to the activator and queue-proxy. The template @vagababov was talking about is https://github.com/knative/serving/blob/7a4632e3054f3d96a3806e04e2ee551587cbb121/config/core/configmaps/observability.yaml#L80. The issue here was that the default of this template is actually `""` (i.e. request logging is disabled) but the Config

[2020-08-03 10:22] skonto commented on #8644
@markusthoemmes  I saw that activator sets the template and also queue proxy need that because it processes http requests, I thought we need to switch on/off logging whenever http is used (globally), but now I see ;)
If we add `logging.enable-request-logging` in the config map then from what I read in the activator it is easy to pickup the value with `configMap.Data` but when we build the queue pr

[2020-08-03 10:23] markusthoemmes commented on #8644
Yeah, for the queue-proxy we likely need to pass another ENV var to replicate the setting to the QP.

[2020-08-03 10:42] skonto commented on #8644
@markusthoemmes yes, I also believe that flag belongs to the observability struct as `enableProfiling` does, so I am a bit reluctant to hack [Config](https://github.com/knative/serving/blob/7a4632e3054f3d96a3806e04e2ee551587cbb121/pkg/reconciler/revision/config/store.go#L37) in revision reconciliation to get the data. So I will modify the observability struct anyway.

[2020-08-03 10:52] markusthoemmes commented on #8644
Not sure why you'd have to hack the Config you linked. I'd think we need to update the observability config in https://github.com/knative/pkg/blob/694087017879425b920c0ab3b175f692125ed5b4/metrics/config_observability.go#L40-L62 by adding the new field and then pass through respectively.

[2020-08-03 11:08] skonto commented on #8644
@markusthoemmes I was trying to find an alternative before doing the obvious :)  one way is to hack that struct but it is not clean, anyway.

[2020-08-03 11:23] markusthoemmes commented on #8644
There's also no need to I believe. Changing the struct in pkg is no biggy I would think.

[2020-08-03 13:42] snir911 commented on #5306
I couldn't find any reference for the reason runtimeClassName was disabled in the first place by the knative API.
[By passing this field](https://github.com/snir911/serving/commit/3852e9c31be9bf315f29ca8d17efa151d74a788e) and testing with kata runtime it seems to work, would it make sense to enable it? what else is required in order to have it supported by Knative API?

[2020-08-03 15:46] chasewalden commented on #7350
Bit late to the thread, but I'm running into this as well.

Making something similar to a chat-server and wrote something very similar to the ping-pong bi-di stream sample as a POC. Only difference from the sample is ping contains a timestamp, pong contains the ping timestamp and the hostname of the service that handled the request, and the pings are sent endlessly until the service closes the con

[2020-08-03 16:05] rccrdpccl commented on #1816
Glad to see this landing to knative-serving. However, since this did not look like it was going to be implemented, we have been implementing it through annotations, one CRD and a webhook, greatly simplifying the definition from the user perspective https://github.com/softonic/node-policy-webhook @sumowrestler @calclavia

[2020-08-03 16:38] vagababov commented on #7350
Do you still see the active connection on the server side?

  do you actually see them succeed?

The autoscaler is not opinionated in which pods would die at scaledown — this is delegated to k8s RS. But say you have just one — if the connection is still live — we should not scale to 0. If we do there's definitely a bug in the metric accounting code.

[2020-08-03 16:54] chasewalden commented on #7350
They appear to succeed, as I seem to get responses. Running some code now and I will share everything I have once I have some logs.

Chase

[2020-08-03 17:22] vagababov commented on #8889
Interestingly I don't see `route` created at all? It might be because you're using watch, rather than normal output and it's trimmed.

But all in all, I don't think I have ever seen this problem, so there's something funky with your deployment. Can you turn on debug logs for knative and see if that yields more information?

[2020-08-03 17:27] itsmurugappan commented on #8879
Thanks @vagababov, enabling dry run did reject. Only prereq was I had to turn off the 'side effects' on istio side car injectors webhook.

[2020-08-03 17:38] #8879 closed

[2020-08-03 21:21] wilsonianb commented on #5306
@snir911 this document describes the reasoning for not including `runtimeClassName` and other fields in the service template spec
https://docs.google.com/document/d/1DY5t7LqGPOq5Jw5AixSgJY8S2VuQnTGzRpV6apY_nAI/edit#

[2020-08-03 22:38] #8811 closed

[2020-08-03 23:12] tcnghia opened #8896 "knative.dev/serving tests' Istio setup should be shared with knative.dev/net-istio"
## Describe the feature

Currently the Istio environment setup for `knative.dev/serving` integration tests and `knative.dev/net-istio` conformance tests are parallel. Worse, they have drifted, causing breakage like https://github.com/knative/serving/pull/8893 .

We need to figure out a better way to share the code setup between these two repositories to avoid these breakage.

cc @JRBANCEL @mattmoo

[2020-08-03 23:14] tcnghia commented on #8896
(a note about #8893 breakage: https://github.com/knative-sandbox/net-istio/pull/147 moved net-istio to use `v1beta1` API, but test setups in knative.dev/serving and knative.dev/client are still using `v1alpha3` API in their Istio setup)

[2020-08-04 00:00] tcnghia commented on #8896
cc @nak3

[2020-08-04 01:23] benja-wu commented on #8889
Oh, I am pretty sure the `route` had been created.  Sorry for the message missing above.
The full and successfully applying display looks like this
[code]

As the display above. I apply a Ksvc at `9:10:49`. Everything looks fine. Then at `9:11:00` I delete it with `k delete ksvc demo8`. After waiting for about 3minutes. I recheck this function at  `9:14:09`. The `ksvc` and `route` had gone.
I thin

[2020-08-04 03:25] vagababov commented on #8889
It's quite interesting why do you get partial deletion.
It is as if the cascading deletion is not applied. I think the problem is either with installation or with k8s itself.
Can you try deleting and reinstalling knative to see if it fixes the issue somehow?

[2020-08-04 12:04] knative-test-reporter-robot opened #8902 "[flaky] test/conformance/ingress.TestIngressConformance/websocket/split"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressConformance/websocket/split
* **Repository name**: serving

[2020-08-04 12:04] knative-test-reporter-robot opened #8903 "[flaky] test/conformance/ingress.TestIngressConformance/basics/http2"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressConformance/basics/http2
* **Repository name**: serving

[2020-08-04 12:04] knative-test-reporter-robot opened #8904 "[flaky] test/conformance/ingress.TestIngressConformance/dispatch/path_and_percentage"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressConformance/dispatch/path_and_percentage
* **Repository name**: serving

[2020-08-04 17:21] yanweiguo opened #8909 "Autoscaling e2e tests during upgrade/downgrade"
/area test-and-release

## Describe the feature

Currently we have a probe test during the whole knative serving version upgrade and downgrade process. It's nice to have more e2e tests covering autoscaling behavior during the upgrade/downgrade.

/assign

[2020-08-05 00:42] #7476 closed

[2020-08-05 00:42] #7507 closed

[2020-08-05 01:56] nak3 commented on #7871
/remove-lifecycle stale

[2020-08-05 04:57] fvoznika commented on #5306
I don't have access to the document, can you please make it public?

[2020-08-05 04:59] vagababov commented on #5306
You have to join knative-users group to get access.

[2020-08-05 09:22] chasewalden commented on #7350
Just following up. I had a few things come up, but I was able to run some tests. With the concurrency metric, this seems to be behaving as expected. RPS does not. With gRPC bi-di stream, this makes sense since it is only one request. However, it seems that keep-alive also causes the RPS metric to not increment after the handshake

[2020-08-05 12:04] knative-test-reporter-robot opened #8916 "[flaky] test/e2e.TestEgressTraffic"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEgressTraffic
* **Repository name**: serving

[2020-08-05 12:05] knative-test-reporter-robot opened #8917 "[flaky] test/e2e.TestTargetBurstCapacity"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestTargetBurstCapacity
* **Repository name**: serving

[2020-08-05 12:05] knative-test-reporter-robot opened #8918 "[flaky] test/e2e.TestDestroyPodInflight"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDestroyPodInflight
* **Repository name**: serving

[2020-08-05 12:05] knative-test-reporter-robot opened #8919 "[flaky] test/e2e.TestFastScaleToZero"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestFastScaleToZero
* **Repository name**: serving

[2020-08-05 12:05] knative-test-reporter-robot opened #8920 "[flaky] test/conformance/ingress.TestIngressConformance/grpc/split"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressConformance/grpc/split
* **Repository name**: serving

[2020-08-05 12:26] kingljl opened #8921 "Scaler shrinking problem"
## Ask your question here:
Not sure if I understand it right。

There is a resolveTBC(ctx, pa) judgment in the scaler.go/handleScaleToZero method. If target-burst-capacity is not equal to -1, execute r, err = ks.activatorProbe(pa,ks.transport) for detection. The log content is: logger.Infof("Probing activator = %v, err = %v", r, err). The activator of the detection can be seen from the log. But the