[2019-02-14 19:37] dgerd commented on #3201
Actually https://github.com/google/go-containerregistry/issues/372 is going to block you on changing this.

[2019-02-14 19:45] brandon-mabey commented on #3201
Okay, thank you for finding that @dgerd. It looks like jonjohnsonjr has already started working on that, so I'll wait for it to be merged before submitting.

[2019-02-14 19:46] #2267 closed

[2019-02-14 21:08] mattmoor commented on #643
0.4 pieces have landed, moving out.

[2019-02-14 22:18] #1642 closed

[2019-02-14 22:54] #3182 closed

[2019-02-14 23:21] mattmoor commented on #3217
@duglin I believe this patch replaces the whole of `spec:`
[code]

I believe you want:
[code]

[2019-02-14 23:44] mattmoor commented on #3224
Rumor is that 1.1 is a big improvement and imminent, so this is 0.5 or won't fix :)

[2019-02-14 23:58] duglin commented on #3217
The patch needs to replace the runLatest too, I don’t have a “release” before that point in time

[2019-02-15 02:24] tcnghia opened #3229 "Service to service test should tests shortened versions of target host name"
## In what area(s)?

/area networking
/area test-and-release

## Describe the feature
Current service to service test only use the fully qualified name of the target service.  We should add shortened version into the test.

See https://github.com/knative/serving/blob/master/test/e2e/service_to_service_test.go

[2019-02-15 02:26] tcnghia opened #3230 "Test two services having same names in different namespace"
## In what area(s)?

/area networking
/area test-and-release

We should have a test that create two services of the same name in different namespaces and verify that both of them are working properly.

[2019-02-15 03:12] #3201 closed

[2019-02-15 03:51] tcnghia opened #3250 "Run upload-test-images.sh, generate-yaml.sh, and cluster creation in parallel"
These are independent steps of e2e testing that all take quite sometime to complete.  We should run them in parallel to reduce the test prep time.

/kind good-first-issue

[2019-02-15 04:54] tcnghia opened #3231 "Cluster local Service test should also test cold-start"
## In what area(s)?

/area networking
/area test-and-release

## Describe the feature
The test at https://github.com/knative/serving/blob/master/test/e2e/service_to_service_test.go should also verify that cold start works well even if the requests originate from inside the cluster.

[2019-02-15 09:23] markusthoemmes opened #3233 "Rework all usages of 'EventuallyMatchesBody' and 'MatchesAny'."
## Expected Behavior

Our retries around route readiness are as tight as possible.

## Actual Behavior

`EventuallyMatchesBody` is a wide open retry that retries whatever is thrown at it until the body eventually matches (duh). This includes 503s that we specifically do not want to retry in those tests.

/assign

[2019-02-15 09:25] markusthoemmes commented on #2464
/assign

I'll try to root-cause this.

[2019-02-15 09:25] markusthoemmes commented on #2464
/milestone Serving 0.5

[2019-02-15 09:26] markusthoemmes commented on #3233
/milestone Serving 0.5

[2019-02-15 15:04] bradhoekstra opened #3236 "Long Service/Configuration names cause k8s service creation to fail"
## In what area(s)?

/area API

## What version of Knative?

HEAD

## Expected Behavior

Any Service or Configuration name/generateName that passes validation can be properly created.

## Actual Behavior

Names with length in the range  [50, 63] validate but the backing service cannot be created.
GenerateNames with length in the range  [45, 63] validate but the backing service cannot be created.

[2019-02-15 17:47] vagababov commented on #3236
Yeah, I noticed that some time ago, but I don't recall if we decided to do anything about it...

[2019-02-15 18:30] dgerd commented on #2971
We do not set "stdin" when creating the user-container. Based on https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#container-v1-core `stdin` should then default to false. This is likely worth explicitly setting.

The Kubernetes behavior documents that "reads from stdin in the container will always result in EOF". Probing at the container it looks like the stdin file descriptor i

[2019-02-15 18:43] tanzeeb opened #3239 "Fix gRPC Streaming after Cold Start"
## In what area(s)?

/area autoscale
/area networking
/area test-and-release

## What version of Knative?

## Expected Behavior

After a service is scaled-to-zero, a streaming gRPC request should return successfully.

## Actual Behavior

After a service is scaled-to-zero, a streaming gRPC request times out.

## Steps to Reproduce the Problem

See commented out test case in #3205

/assign

[2019-02-15 18:45] srinivashegde86 opened #3241 "Perf test ScaleTo100 is failing"
/area test-and-release

Error message:
scale.go:203: CheckSLO() = SLI for "scale-00100-097-miiexelf.serving-tests.example.com" = 0.857143, wanted >= 0.900000

Build log:
https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-performance/1096212715770220545

[2019-02-15 18:47] srinivashegde86 commented on #3241
we recently updates our slo's in https://github.com/knative/serving/pull/3191

This fixes the scaleTo50 e2e and scaleTo50 perf test. But, for scaleTo100, the observed slo is still lower than expected.

[2019-02-15 18:47] srinivashegde86 commented on #3241
/cc @mattmoor
/cc @tcnghia

[2019-02-15 19:19] #2885 closed

[2019-02-15 20:04] hohaichi commented on #2391
Something messed up in my kubernetes cluster.  Using a new cluster, doing the change to make the activator think the revision is ready immediately, and redeploying serving (`ko apply -f config/`), the autoscale-go app worked fine for me.  After it scaled down to 0 pod, curl finished successfully in 6s-11s.  An example run:
[code]

This issue is probably fixed?

[2019-02-15 21:35] hohaichi commented on #3229
/assign

[2019-02-15 21:51] josephburnett commented on #2606
I won't be able to do this before March 4th.  So I'm going to unassign it from myself, although I would be happy to do this cleanup work later.  Doesn't really seem that critical since the controllers have a redundant check that prevents this from happening.  But it would be good to get around to.  Until [recently](https://github.com/knative/serving/blob/e0564eb9d00a85fe0922841213bdcaf9743ecb2d/pk

[2019-02-15 21:52] josephburnett commented on #2606
@mattmoor, I just noticed that you moved this from 0.4 to 0.5.  Given the extended timeline, I'll assign this back to myself.  I should fix this.  :)

[2019-02-15 22:13] evankanderson commented on #2971
I think your interpretation is reasonable; in particular, trying to back
out what filesystem path corresponds to an open FD sounds like bad juju.

On Fri, Feb 15, 2019 at 10:31 AM Dan Gerdesmeier <notifications@github.com>
wrote:

--
Evan Anderson <argent@google.com>

[2019-02-15 23:04] mattmoor commented on #3154
@srinivashegde86 I'm sure this is not WAI:
[code]

[2019-02-15 23:51] srinivashegde86 commented on #3154
We are not checking for non 200 codes in the test currently. This is something we need to add.

Is that the failure reason?

[2019-02-16 04:50] #3010 closed

[2019-02-16 16:12] mattmoor opened #3247 "We should run our e2e and conformance tests with t.Parallel"
## In what area(s)?

/area test-and-release

## Describe the feature

Our e2e tests spend a fair amount of time waiting on things like scale to zero (and we need more of that, not less), however, running our tests serially, this is ~90 seconds of pure idle time for each instance and our e2e times have really ballooned.

We should run the vast majority of these tests in parallel (the only exception

[2019-02-16 17:32] mattmoor commented on #3188
From [here](https://golang.org/pkg/net/http/httputil/#ReverseProxy):
[code]

I wonder if this would at least help mitigate the problem?

[2019-02-16 17:33] mattmoor commented on #3188
Though setting the payload to 10 bytes, I see the test hang at this for a while (and now it is on to the scale to zero)
[code]

[2019-02-16 18:11] mattmoor commented on #3188
This issue mentions exactly the issue we are seeing https://github.com/fabiolb/fabio/issues/324

[2019-02-16 18:12] mattmoor commented on #3188
cc @bradfitz in case he has any recommendations that aren't forking this library.

[2019-02-16 19:55] adrcunha commented on #3250
`upload-test-images.sh` should be much faster now that #3226 is merged.

With the current infrastructure, running these 3 steps (which happen at different times and depend on several factors) will require non-trivial changes to the logic in the scripts (both in serving and in test-infra) and the only way to make it happen is by spawning background processes (which, to provide meaningful logs in ca

[2019-02-16 20:46] bradfitz commented on #3188
In Go 1.12, an explicit negative interval disables buffering, but it's also disabled for `text/event-stream` responses (and perhaps more will be added in the future; there's a TODO in the code):

https://tip.golang.org/pkg/net/http/httputil/#ReverseProxy.FlushInterval

[code]

Have you tried Go 1.12? Go 1.12rc1 is out.

[2019-02-16 20:50] mattmoor commented on #3188
That's actually perfect, we switched to 1.12 for websocket support yesterday :)

[2019-02-16 20:51] mattmoor commented on #3188
Thanks @bradfitz, I'll try that out when I get back

[2019-02-16 20:54] walltz556 opened #3251 "You"
Expected Behavior

 Actual Behavior

Steps to Reproduce the Problem

1.
2.
3.

 Additional Info

[2019-02-16 23:55] mattmoor commented on #3188
Hmm, [this](https://github.com/knative/serving/compare/master...mattmoor:small-buffer?expand=1) doesn't seem to do it.

[2019-02-17 02:18] mattmoor commented on #3188
@tcnghia and I got it. `queue.timeoutWriter` doesn't implement `http.Flusher` :)

[2019-02-17 03:34] #3188 closed

[2019-02-17 06:22] mattmoor commented on #3239
After poking at this for a bit and instrumenting things, I think I'm convinced that this is a problem with the retry logic in the activator.

On my cluster, it usually takes 4-5 attempts before it actually connects to the `user-container`, but that connection always lasts for roughly 55 seconds (whatever is left of 60) and then gets a deadline exceeded.

When I added a `time.Sleep(5 * time.Second)

[2019-02-17 06:30] #3251 closed

[2019-02-17 06:32] mattmoor commented on #3239
[This](https://github.com/knative/serving/issues/2856) is essentially what I'm proposing, but done in a manner that we could later use it for [this](https://github.com/knative/serving/issues/2949)

[2019-02-17 06:36] mattmoor opened #3254 "Test websocket upgrades through activator"
## In what area(s)?

/area autoscale
/area networking
/area test-and-release

## Describe the feature

Our current websocket test doesn't verify that things work properly through the activator, just the queue-proxy.

[2019-02-17 16:13] mattmoor commented on #3239
Here's some commentary from Matt Klein on this topic (thanks to @tcnghia for the pointer): https://github.com/envoyproxy/envoy/issues/3594#issuecomment-401206136

I think this basically confirms that we shouldn't be trying to send & retry, but check network readiness by other means (e.g. the probe).

[2019-02-18 00:18] mattmoor opened #3258 "unit tests keep failing with no discernable failures"
## In what area(s)?

/area test-and-release

## What version of Knative?

HEAD

e.g.
[code]

[example](https://storage.googleapis.com/knative-prow/pr-logs/pull/knative_serving/3257/pull-knative-serving-unit-tests/1097281003933667329/build-log.txt)

[2019-02-18 09:14] markusthoemmes commented on #3258
The failure is:

[code]

The hook is called after the test has already finished. I'll take a look.

/assign

[2019-02-18 16:06] #3258 closed

[2019-02-19 00:48] mattmoor commented on #3209
I think I have a fix for this

[2019-02-19 01:48] zxDiscovery opened #3270 "[WIP] Replace DOCKER_REPO_OVERRIDE by KO_DOCKER_REPO and delete the K8S_* vars for serving, build and eventing"
## In what area(s)?

## Describe the feature

`DOCKER_REPO_OVERRIDE` replaced by `KO_DOCKER_REPO` and delete the K8S_* vars for `serving`, `build` and `eventing`. https://github.com/knative/test-infra/pull/481

/cc @adrcunha

[2019-02-19 01:54] vagababov commented on #3270
See also #3200

[2019-02-19 02:31] #3209 closed

[2019-02-19 02:40] #3270 closed

[2019-02-19 02:40] mattmoor commented on #3270
Duplicate

[2019-02-19 05:23] #3078 closed

[2019-02-19 05:23] #3247 closed

[2019-02-19 09:11] vdemeester commented on #3078
ohh sorry about that :sweat:

[2019-02-19 11:58] palade opened #3274 "Error installing Istio behind proxy"
## In what area(s)?

/area build

## What version of Knative?

HEAD

## Expected Behavior

all the required KNATIVE components installed

## Actual Behavior

Error from server (InternalError): error when creating "https://github.com/knative/serving/releases/download/v0.3.0/serving.yaml": Internal error occurred: failed calling webhook "pilot.validation.istio.io": Post https://istio-galley.istio-sy

[2019-02-19 12:12] markusthoemmes commented on #3274
Do you mind tuning down the title of this issue to something shorter please?

Your errors look like istio hasn't come up properly. Have you waited for all pods of istio to be started before you applied `serving.yml`?

[2019-02-19 12:24] palade commented on #3274
Yes I followed the instructions from the document

    NAME                                       READY   STATUS      RESTARTS   AGE
    cluster-local-gateway-547467ccf6-slbft     1/1     Running     0          54m
    istio-citadel-7d64db8bcf-gz4rr             1/1     Running     0          54m
    istio-cleanup-secrets-mz5qk                0/1     Completed   0          54m
    istio-egressgatew

[2019-02-19 16:01] tanzeeb commented on #3239
@mattmoor yeah, the the retrying in the `Activator` is full of problems, +1 to avoiding it altogether.

[2019-02-19 17:11] tanzeeb opened #3276 "Investigate removing Activator from data path"
## In what area(s)?

/area networking

## Describe the feature

Currently, the activator has [the following responsibilities](https://github.com/knative/serving/blob/master/pkg/activator/README.md#about-the-activator):

1. Receiving & buffering requests for inactive Revisions.
2. Reporting metrics to the autoscaler.
3. Retrying requests to a Revision after the autoscaler scales such Revision based

[2019-02-19 17:17] markusthoemmes commented on #3276
/cc @vvraskin

I agree, let's try to do better 🙂

[2019-02-19 17:51] #3233 closed

[2019-02-19 18:08] brandon-mabey commented on #3183
I can take a look at this.

[2019-02-19 18:34] mattmoor commented on #3276
This has been on @tcnghia TODO list for a while, I'd love to see something better :)

[2019-02-19 18:36] mattmoor commented on #3274
Can you share more information about the cluster?  What K8s version?  Where is it running?

[2019-02-19 19:25] ZhiminXiang commented on #2930
How do we handle the case of scaling from 0 to 1? Currently Activator sends metrics to Autoscaler service through websocket. After adding more pods under Autoscaler service, metrics will be distributed into different pods. Will this affect scaling from 0?

[2019-02-19 19:27] k4leung4 commented on #2930
here is the proposal for scale from zero

https://github.com/knative/serving/issues/3064

On Tue, Feb 19, 2019 at 11:26 AM Zhimin Xiang <notifications@github.com>
wrote:

[2019-02-19 19:53] tcnghia opened #3279 "Hide the admin endpoint of queue-proxy"
## In what area(s)?

/area networking

## What version of Knative?

## Expected Behavior
`queue-proxy`'s /quitquitquit endpoint can only be used by the Kubelet or privileged user.

If we hide it and change to use `exec` ReadinessProbe / LifecycleHooks this will be true.

## Actual Behavior

`queue-proxy`'s /quitquitquit endpoint can be accessible any user that can run code in the cluster.

## Step

[2019-02-19 19:55] tcnghia commented on #2985
We should bring this to an agreement in 0.5.0.

[2019-02-19 22:09] pivotal-joshua-rider commented on #3174
/assign pivotal-joshua-rider

[2019-02-19 22:09] pivotal-joshua-rider commented on #3174
working on this!

[2019-02-20 01:46] jessiezcc commented on #2621
https://github.com/knative/serving/pull/2820

[2019-02-20 04:10] k4leung4 opened #3281 "Autoscaler pod calculation when transitioning off activator drops activator metrics"
## In what area(s)?
/area autoscale

## What version of Knative?
HEAD

## Expected Behavior

When there is significant load on the activator, when it transitions from using activator metrics to pod metrics, the number of desired pod is relatively smooth.

## Actual Behavior

I have seen it suggest 1000 desire pods when using activator metrics and drop down to 1 pod when switching over to pod metri

[2019-02-20 06:59] tcnghia commented on #3276
Thanks for tackling this.

Yes, I think a lot of the existing quirks from golang's ReverseProxy would have be avoided if activator / queue-proxy were Envoys instead of our own homebrew proxies.  So this is certain a good direction to go.

[2019-02-20 07:56] markusthoemmes commented on #3281
@k4leung4 Oh yeah, good catch. I completely forgot about that.

There's #2379 to do that specifically. My "plan" was to implement #2977 first, that makes this task way easier to achieve in a "good" way I think.

With #2977 implemented we'd look at the total system concurrency at a given time (vs. over the whole window). The activator metrics would not need special treatment in that model because t

[2019-02-20 09:48] markusthoemmes opened #3287 "Write an E2E test that stresses route creation."
We already have an E2E test that tests route creation. However, we see a large amount of "503: no healthy upstream" directly after creating a route. See #2464 for more in-depth information and analysis on that.

Instead of dealing with failures across the board, I'd like to come up with a test that stresses this scenario specifically. We can then either work to fix that test for good or live with

[2019-02-20 09:49] markusthoemmes commented on #2464
Fixing all the hidden retries made it very apparent that this is an issue in basically every test we have. To not block productivity of everybody I propose to retry these failures for now and attack the scenario specifically.

See #3287 and #3286 for reference.

[2019-02-20 10:24] palade commented on #3274
kubectl version

    Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.3", GitCommit:"721bfa751924da8d1680787490c54b9179b1fed0", GitTreeState:"clean", BuildDate:"2019-02-01T20:08:12Z", GoVersion:"go1.11.5", Compiler:"gc", Platform:"linux/amd64"}
    Server Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.3", GitCommit:"721bfa751924da8d1680787490c54b9179b1fed0", Gi

[2019-02-20 14:19] markusthoemmes commented on #2977
/assign

I'll take a shot at this.

[2019-02-20 15:52] vvraskin commented on #3274
Could it be that the kube control plane is broken?
It seems that the requests are not being forwarded to the istio webhooks, do you see any failing pods in kube control plane, e.g. `kubectl get pods -n kube-system`?

[2019-02-20 16:31] k4leung4 commented on #3281
Thanks for pointing out #2977, as this is the same problem outlined in that issue. The proposal there makes sense to me.

Do you have time to work on #2977? I can take a stab at it if you are busy.

FYI @yanweiguo, who is working on the metric scraping work.

[2019-02-20 16:53] markusthoemmes commented on #3281
@k4leung4 I indeed had enough cycles today to throw together #3289.

[2019-02-20 17:32] palade commented on #3274
kubectl get pods -n kube-system

    NAME                                   READY   STATUS    RESTARTS   AGE
    coredns-86c58d9df4-jwqdc               1/1     Running   0          74m
    coredns-86c58d9df4-p78l2               1/1     Running   0          74m
    etcd-ubuntumaster                      1/1     Running   0          73m
    kube-apiserver-ubuntumaster            1/1     Running   0

[2019-02-20 19:29] jonjohnsonjr commented on #2087
Blocked by: https://github.com/google/go-containerregistry/issues/377
Blocked by: https://github.com/google/go-containerregistry/issues/379

[2019-02-20 21:36] k4leung4 commented on #273
@mdemirhan ping, is this safe to close?

[2019-02-20 21:37] k4leung4 commented on #421
/assign @k4leung4

[2019-02-20 21:39] k4leung4 commented on #421
/milestone "Serving "v1" (ready for production)"

[2019-02-20 21:40] k4leung4 commented on #422
/close

[2019-02-20 21:40] #422 closed

[2019-02-20 21:42] k4leung4 commented on #602
@vvraskin ping, are you working this?

[2019-02-20 21:46] k4leung4 commented on #421
/milestone Serving "v1" (ready for production)

[2019-02-20 21:47] k4leung4 commented on #839
/milestone Ice Box

[2019-02-20 21:49] k4leung4 commented on #882
/area networking

[2019-02-20 21:50] k4leung4 commented on #882
/cancel area/autoscale

[2019-02-20 21:52] k4leung4 commented on #974
@yanweiguo check if this is done already?

[2019-02-20 21:54] k4leung4 commented on #1238
@dprotaso any comment on this or should we close?

[2019-02-20 21:55] k4leung4 commented on #1276
/milestone Ice Box

[2019-02-20 22:01] k4leung4 commented on #1490
@mdemirhan is this still an issue? we have better logging in the e2e/autoscale_test. is that sufficient?

[2019-02-21 01:01] steren commented on #648
@mattmoor I think capturing provenance is even more relevant with the proposal of reversing the relationship between Serving and Build.

I agree that the revision status is not the place for this, but as a standardized annotation would work great. this annotation could be set directly by the client or passed by the Pipeline.

If present, a client could easily display the git repo and commit of a g

[2019-02-21 08:44] vvraskin commented on #602
Hey @k4leung4 !
I think this is done.

/close

[2019-02-21 08:44] #602 closed

[2019-02-21 13:35] palade commented on #3274
Installed Istio on a cluster which is not behind a proxy and works as expected. I believe this error/situation is happening when trying to install Istio on a cluster behind a proxy

[2019-02-21 18:20] #2971 closed

[2019-02-21 19:24] adrcunha commented on #3150
Reopening since this also requires changes in pkg.

[2019-02-21 19:26] dushyanthsc commented on #3150
@adrcunha Did I miss something in this PR: https://github.com/knative/pkg/pull/279

[2019-02-21 19:34] adrcunha commented on #3150
Sorry, no. It was I who missed your PR in pkg.

[2019-02-21 19:34] #3150 closed

[2019-02-21 19:38] adrcunha opened #3299 "Allow running e2e tests against an existing Knative cluster"
## In what area(s)?

/area test-and-release

## Describe the feature

`--run-tests` doesn't create a cluster, but it tries to install Knative Serving.

[2019-02-21 22:31] pivotal-joshua-rider commented on #3174
@odra Looks like I may be late to the party.
Has this been handled here #3264 and #3265 ?

[2019-02-21 22:36] odra commented on #3174
Hey @pivotal-joshua-rider, apologies, just seeing it now.

Looks like it was already handled :)

[2019-02-21 23:01] tanzeeb commented on #3276
Update:

HTTPRoute mirror-ing is a dead end.

The idea was to add the `Activator` as a mirror and leave the main routes unchanged, like so:

[code]

The activator would call `ActivateEndpoint` and return immediately, without proxying the request. The hope was that the autoscaler would scale up the instance before Envoy ran out of retries.

Unfortunately this returns a 503 "no healthy upstream" fro

[2019-02-21 23:41] dgerd commented on #2973
/assign @dgerd

[2019-02-22 11:05] #3174 closed

[2019-02-22 13:03] markusthoemmes opened #3301 "Don't double account for requests going through the activator."
## In what area(s)?

## What version of Knative?

HEAD

## Description

Today, we have 2 components informing the autoscaler about the state of the system: activator and queue-proxy (per pod). With activator throttling enabled we can now have the situation where the activator and the queue-proxies simultaneously send valid concurrency data. The autoscaler needs some adjustments in its algorithms t

[2019-02-22 13:04] markusthoemmes commented on #3301
/cc @k4leung4
/cc @mattmoor

[2019-02-22 20:41] #2379 closed

[2019-02-22 20:41] #2977 closed

[2019-02-22 22:58] #2856 closed

[2019-02-22 22:58] #3239 closed

[2019-02-23 01:17] tanzeeb commented on #3276
Internal redirection is a no-go. From the conditions:

We cannot guarantee the fourth condition.

[2019-02-23 20:33] ahmetb opened #3307 "gRPC service deployed always responding with "unimplemented" grpc status code"
/area networking
/kind bug

**Edit:** See comment 2, I can easily repro this on [grpc-ping-go sample](https://github.com/knative/docs/tree/010249a509d11e70efd1a1ed06f0ca9180ddb6d5/serving/samples/grpc-ping-g) as well.

(Very likely this is a user error, but it is getting really hard to debug. So I'm opening an issue to see if this friction can be reduced anywhere along the way.)

-----

**Backgrou

[2019-02-23 20:33] ahmetb commented on #3307
/cc mattmoor

[2019-02-23 20:34] ahmetb commented on #3307
/cc @mattmoor

[2019-02-23 20:51] ahmetb opened #3308 "Good gRPC deployment pods frequently fail at least one health check"
/area networking
/kind bug

From my current experience, no matter what gRPC service you deploy, even including the [sample `grpc-ping-go` app](https://github.com/knative/docs/tree/010249a509d11e70efd1a1ed06f0ca9180ddb6d5/serving/samples/grpc-ping-go), you'll see **at least one** failed health check in the pod.

Despite the app is totally fine, it fails **one** HTTP health check (%90 of the time),

[2019-02-23 20:52] ahmetb commented on #3307
I can easily reproduce this on [`grpc-ping-go` sample app](https://github.com/knative/docs/tree/010249a509d11e70efd1a1ed06f0ca9180ddb6d5/serving/samples/grpc-ping-go)

I deploy it and query it, I get:

[code]

[2019-02-23 20:57] ahmetb opened #3309 "Unknown fields specified on RevisionTemplateSpec are not rejected"
/area API
/kind bug

I'm specifying an unknown field like `terminationGracePeriodSeconds` in `RevisionTemplateSpec` (see [API Reference](https://github.com/knative/docs/blob/010249a509d11e70efd1a1ed06f0ca9180ddb6d5/reference/serving.md#RevisionTemplateSpec)) and it's not failing. Is this expected?

[code]

(Knative serving v0.4.0)

[2019-02-24 10:24] hpandeycodeit commented on #2598
I am getting the same issue with one Java example. Any pointers?

[code]

[2019-02-24 17:25] vagababov commented on #2598
Can you do describe the revision as well? It might have the reason.

On Sunday, February 24, 2019, Himanshu Pandey <notifications@github.com>
wrote:

[2019-02-25 06:07] zxDiscovery opened #3310 "The case Orchestrating a source-to-URL build timeout on knative 0.4.0"
## In what area(s)?

## What version of Knative?

## Expected Behavior

Follow the step of [Orchestrating a source-to-URL deployment on Kubernetes](https://github.com/knative/docs/tree/master/serving/samples/source-to-url-go), the case can run normally.

## Actual Behavior

Build timeout and `app-from-source-7vhkl-pod-907b94` pod terminate after 10 minute later

[code]

[code]

[code]

The pod log

[2019-02-25 06:09] zxDiscovery commented on #3310
/cc @mattmoor  @gyliu513

[2019-02-25 09:42] markusthoemmes opened #3312 "Brief 404 errors after creating a route."
## In what area(s)?

/area API
/area networking

## What version of Knative?

HEAD

## Expected Behavior

When a route/kservice is `Ready`, I expect it to be routable immediately without issues.

## Actual Behavior

There is a brief duration of 404s before the networking state is propagated to the routers and is consistent.

## Steps to Reproduce the Problem

A reproducer is supposed to be produce

[2019-02-25 10:08] markusthoemmes commented on #2902
We should get rid of `test.Options` as part of this issue. Once we have functional options there shouldn't be a need for that anymore.

[2019-02-25 14:26] wtam2018 commented on #2902
@markusthoemmes Hmm ... I am not sure we can get rid of test.Options with this issue.   test.Options seem to be holding container options.   My understanding of this issue is that it is to target service options that we are interested to set after service has been created.

[2019-02-25 15:31] vvraskin commented on #3301
Regarding the attack vector in Proposal 2. As it seems it is possible to sanitise headers on the latest master of Istio - https://github.com/istio/istio/pull/8340 (I haven't tested it myself through). So we could restrict users from using certain system headers by pruning them if they are present. Maybe it is something we could benefit from after migrating to Istio 1.1?

[2019-02-25 15:54] markusthoemmes commented on #2902
Hm, I don't think that's what this issue is about.

The functional options we use in tests (that should be shared here) are basically modifiers to a base route/service/revision/configuration etc. etc. that make it possible to easily throw together a fully configured say service without having to come up with the whole object itself.

Instead you can just say `Service("testservice", withRevisionTim

[2019-02-25 16:17] markusthoemmes commented on #3301
Maybe, we shouldn't wait for Istio 1.1 with this though.

[2019-02-25 17:34] vagababov commented on #3287
Scale-to-zero test seems to do that exactly. So, we *have* the test.

[2019-02-25 18:26] hpandeycodeit commented on #2598
@vagababov Here is the describe on revision:

It's saying   ```  Message:               Requests to the target are being buffered as resources are provisioned.```

[code]

[2019-02-25 18:34] vagababov commented on #2598
So what happens when you do
`kubectl get deployments` and `kubectl get pods` for your deployment? Are they created? Are they in process of being created? What is the status?

[2019-02-25 18:45] hpandeycodeit commented on #2598
For pods, it's saying running but for deployments, its not available:

[code]

So I am trying to run this sample app https://github.com/knative/docs/tree/master/serving/samples/helloworld-java and for that I need the domain to execute the java app. But domain is not giving any value:

[code]

[2019-02-25 18:47] vagababov commented on #2598
Well for whatever reason you don't have all 3 of the pods. Perhaps not
enough resources?

On Mon, Feb 25, 2019 at 10:45 AM Himanshu Pandey <notifications@github.com>
wrote:

[2019-02-25 18:56] ZhiminXiang commented on #2598
@hpandeycodeit Looks like you only have 2 containers ready in your pod. could you please run `kubectl get pod hello-world-mon-6tzz6-deployment-56747cf7fd-5ps6q -oyaml`, and show us what container is not ready?

After you identify the unready container, could you please also check the log of that container, and see what causes failure of starting the container?

[2019-02-25 19:40] hpandeycodeit commented on #2598
Here is the output :

[code]
Looks like queue-proxy is not ready.

[2019-02-25 19:44] ZhiminXiang commented on #2598
Could you please also run
`kubectl logs hello-world-mon-q5dc6-deployment-cb5fd7545-7td5x -c queue-proxy` and see if there is any error?

[2019-02-25 19:49] hpandeycodeit commented on #2598
This is giving connection refused error:

[code]

[2019-02-25 19:51] xtreme-andrew-su commented on #3279
/assign

[2019-02-25 21:20] vagababov commented on #2598
So it seems your container did not spring up. Let me try to run the example myself.

[2019-02-25 22:08] vagababov commented on #2598
I just deployed the sample on my cluster and it worked from the first try.

[2019-02-25 22:21] adrcunha opened #3317 "release-0.3 CI is broken"
## In what area(s)?

/area test-and-release

## What version of Knative?

## Expected Behavior

CI flow is green.

## Actual Behavior

Tests are broken because build manifest changed name:

https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-0.3-continuous/1098860158999597056

[code]

## Steps to Reproduce the Problem

See https://testgrid.knative.dev/knative-serving-0.3#cont

[2019-02-26 00:38] vagababov commented on #3287
So with my changes today on my bigass GKE cluster I am able to pass the test reliably at 50 and reliably fail it with 503 at 60 services (ScaleFromZero performance test).

[2019-02-26 05:02] ahmetb commented on #3307
I can still repro this with `grpc-ping-go` when I delete knative-serving namespace cleanly, and rebuild/deploy from HEAD on 68ad07c4.

[2019-02-26 11:01] zxDiscovery opened #3321 "The current configmap config-logging is hard code"
## In what area(s)?

## What version of Knative?

## Expected Behavior

User can change the `configmap` name in yaml file.

## Actual Behavior

The `configmap` is hard code such as `config-logging`. User can't specify the `configmap`.
The current `serving`, `build` and `eventing` are all need the configmap `config-logging`. If user put the three components in to same namespace, the `config-logging

[2019-02-26 12:03] DXist commented on #3064
Meanwhile, started work on generic HPA scale to/from zero pods based on zero/nonzero values of object/external metrics - https://github.com/kubernetes/kubernetes/pull/74526

[2019-02-26 14:19] xtreme-andrew-su commented on #3279
/assign

[2019-02-26 14:24] markusthoemmes commented on #2040
This is long done

/close

[2019-02-26 14:24] #2040 closed

[2019-02-26 14:25] markusthoemmes commented on #2282
We can close this as "won't fix". It's not needed currently.

[2019-02-26 14:25] #2282 closed

[2019-02-26 15:42] markusthoemmes commented on #3287
I don't think the scale-from-zero test stresses what I'm after here.

I'd like to come up with a test that creates a new route and immediately hammers it (quicker than the usual 1 sec retry) and reports how many 404s/503s happen before it eventually works. We should be able to eventually enable that test and not need retries throughout our tests. That's the goal at least.

/assign

[2019-02-26 15:50] Justin2997 commented on #3218
I am coming back to this because I find the bug. So that how you can fix it :
1) Add "Host" in `allowed_headers` of your ambassador.yaml
2) Add `sidecar.istio.io/inject: "false"`  to your ambassador Deployment
3) Also add this to ambassador Deployment
[code]
4) And this at the end
[code]
5) If your setup is not for localhost you need to add a custom domain to Knative : https://github.com/knative/d

[2019-02-26 16:25] tanzeeb commented on #3307
What's the Authority header set to?

It'll need to be one of the Authorities listed in the corresponding Virtual Service.

[2019-02-26 18:14] ahmetb commented on #3307
@tanzeeb not sure. I'm following the grpc-ping-go and it looks like the sample works fine on other people’s clusters just fine based on my conversations with a few developers.

grpc-ping-go README instructs calling the service as `-server_addr="$SERVICE_IP:80"` so I am not sure if `:80` is the problem.

When I drop the :80 from the client program, I get error from grpc-go implementation:

[code]

[2019-02-26 18:24] vagababov commented on #3307
Well, you need to specify the port, so it's not the problem.
It just feels that some component that you have is out of date. May be
istio configs?

On Tue, Feb 26, 2019 at 10:14 AM Ahmet Alp Balkan <notifications@github.com>
wrote:

[2019-02-26 18:29] ahmetb commented on #3307
🤔 aren’t those re-deployed when I build/deploy from HEAD? Otherwise the
istio configs I am on are coming from v0.4.0 release yamls. It’s a clean
cluster that didn’t have any prior Knative installations.

On Tue, Feb 26, 2019 at 10:24 Victor Agababov <notifications@github.com>
wrote:

--

*Ahmet Alp Balkan* |  Developer Experience Engineer |  github:@ahmetb
<http://github.com/ahmetb> |  twitter:@ah

[2019-02-26 18:34] vagababov commented on #3307
Not unless you actually deploy them...

On Tue, Feb 26, 2019 at 10:29 AM Ahmet Alp Balkan <notifications@github.com>
wrote:

[2019-02-26 18:44] ahmetb commented on #3307
OK there was some drift between the HEAD and what I got.

`./third_party/istio-1.0.2/istio-crds.yaml` was all "unchanged" applys.

But `istio.yaml` had:
[code]

I restarted all pods in `istio-system` and `knative-serving`, the result is the same:

    2019/02/26 18:44:15 &{0xc000162000}.Ping failed rpc error: code = Unimplemented desc = :

[2019-02-26 20:19] #3299 closed

[2019-02-27 01:33] steren opened #3328 "Proposal: Fail revision creation if system-specified env vars are set"
/area API
/kind proposal

I have observed developers setting the `PORT` environment variable.

As documented in the [runtime container contract](https://github.com/knative/serving/blob/master/docs/runtime-contract.md#process), `PORT` is an env var that is automatically injected into the containers and that the code should listen on.

A developers setting it probably expects that its final value wi

[2019-02-27 02:00] mattmoor commented on #3328
The runtime contract states that the PORT variable will contain the value, but also indicates that the user may provide the port to listen on.

containerPort is one way we must support for h2c upgrades, but PORT is another option enumerated (IIRC) in the original discussion with @evankanderson

See https://github.com/knative/serving/blob/master/docs/runtime-contract.md#protocols-and-ports

Cc @dge

[2019-02-27 02:09] steren commented on #3328
Can you clarify: if I set `PORT= 80` in my revision spec, HTTP requests will be sent to the value I defined (80)?

[2019-02-27 02:29] steren commented on #3328
I tested: even if I set
[code]

The value of $PORT inside my container is 8080.

So my proposal is still valid: it would help setting developer expectations if we rejected revisions that are setting the PORT env var.

[2019-02-27 06:01] tanzeeb commented on #3307
Have you tried using a different client, such as `grpcurl`?

The "unimplemented" error is most likely a reverse proxy error. The ingress gateway can't figure out which pod to route your request, you can check the ingress gateway pod's logs to confirm.

Make sure your client sets the *authority* to one of the hosts listed in the VirtualService.

[2019-02-27 07:15] markusthoemmes commented on #3328
I think @mattmoor is saying that we could also check for the PORT environment variable to be set (if it does not conflict with containerPort) and use that as the user-defined port. We can only support one transport there though (http1 likely?) and we'd need to implement validation that containerPort and PORT do not contradict each other.

@steren based on your observations from users, does that so

[2019-02-27 08:56] markusthoemmes commented on #3132
I think we should implement a very lightweight version of the custom-metrics-server (https://github.com/kubernetes-incubator/custom-metrics-apiserver). After that's done and it works we can write up guides on how to connect the Knative installation to prometheus + configuring the prometheus custom-metrics adapter to work just as well.

That way we'd prevent people to need to buy into Prometheus (t

[2019-02-27 09:49] markusthoemmes commented on #3301
Talked to Kenny and he's going to take this on.

/assign @k4leung4

/milestone "Serving 0.5"

[2019-02-27 09:52] k4leung4 opened #3329 "Add more detailed measurements for scaling performance tests"
## In what area(s)?

## Describe the feature

We currently have performance tests for scaling from zero and scaling to N. The metrics collected for this is useful, though to better drive further improvements, we would ideally want more fine-grained measurements, such as waiting for pod, waiting for networking, etc, to better to determine how the time is being spent.

[2019-02-27 10:05] markusthoemmes commented on #3329
@greghaynes has work pipelined up for this I believe

[2019-02-27 13:49] dgerd commented on #3328
Here is some of the original discussion on the PR for containerPort: https://github.com/knative/serving/pull/2642#discussion_r240418582

The current behavior is that both the user set and system set environment variables are available through the API. The system set environment variable is where the Queue Proxy is actually forwarding and is what is set within the container.

If we want to go down

[2019-02-27 14:26] mattmoor commented on #3328
I was thinking about the expected behavior in #2258, but that doesn't specify this.  I don't feel strongly either way, just trying to make sure prior discussions are surfaced here.

[2019-02-27 16:00] dprotaso commented on #1238
Hey sorry for the delay.

This issue is still present since the DefaultTransport doesn't set a [ResponseHeaderTimeout](https://github.com/golang/go/blob/release-branch.go1.12/src/net/http/transport.go#L218-L222)

Thus if the server doesn't shutdown gracefully prior to the activator receiving HTTP headers it hangs.

[2019-02-27 16:15] kramvan1 opened #3333 "Kibana-logging deployment is missing memory request/limit sizes"
## In what area(s)?

## What version of Knative?

## Expected Behavior

All deployments of knative have request/limits for CPU and Memory.

## Actual Behavior

https://github.com/knative/serving/blob/master/third_party/config/monitoring/logging/elasticsearch/kibana.yaml#L42-L46  is missing the memory side.

## Steps to Reproduce the Problem

View the deployment yaml for kibana-logging

[2019-02-27 16:15] kramvan1 commented on #3333
cc @duglin

[2019-02-27 16:52] duglin commented on #3333
Per @kramvan1 I need to also check:
- zipkin
- build-controller
- build-webhook
- eventing-controller
- knative-eventing
- knative-ingressgateway
- prometheus-system

[2019-02-27 16:58] evankanderson commented on #3328
Re https://github.com/knative/serving/issues/3328#issuecomment-467868166: I think we can avoid the confusion by having an order of precedence and/or failing configurations which request conflicting information. My personal preference would be to try to accept the user intent as long as it's clear, rather than requiring that users spell the request one particular way (yes, this is moving from API t

[2019-02-27 17:42] duglin commented on #3333
PR for serving ones: https://github.com/knative/serving/pull/3332

[2019-02-27 17:56] markusthoemmes commented on #364
The HPA implemented [custom-metrics support] via a custom-metrics API. This API is usually provided by metric adapters, one of which is Prometheus. However, you can implement these adapters in a fairly [straightforward](https://github.com/kubernetes-incubator/custom-metrics-apiserver) way.

I think we should revisit the design of getting metrics into our autoscaler. We do scraping in the very shor

[2019-02-27 18:02] jchesterpivotal commented on #364
A motivation for revisiting this topic is that HPA folks have begun on scale-to-zero capability:

* Issue: [Allow HPA to scale to 0](https://github.com/kubernetes/kubernetes/issues/69687)
* A candidate PR: [Support scaling HPA to/from zero pods for object/external metrics](https://github.com/kubernetes/kubernetes/pull/74526)

[2019-02-27 18:04] adrcunha opened #3334 "Check e2e test environment readiness during test setup"
## In what area(s)?

/area test-and-release

## Describe the feature

With #3299, you can now run tests against an existing Knative cluster. However, some healthy checks (like https://github.com/knative/serving/blob/master/test/e2e-common.sh#L161) are done during the Knative setup time. They should be performed at test setup time.

[2019-02-27 18:08] srinivashegde86 commented on #3329
/cc @srinivashegde86

[2019-02-27 18:35] ahmetb commented on #3307
Again, I'm using grpc-ping-go sample. This works for some people. I'm pretty sure client binary of that sets whatever is necessary assuming it works for some people.

Yes, my pods aren't even activated on request. Suspecting ingress gateway as well.
 When I look at istio-ingressgateway pod logs, I see these:

[code]

What do you see here?

[2019-02-27 18:36] ahmetb commented on #3307
ah crap, I see the demo client uses a default value:

[code]

It worked now:

[code]

[2019-02-27 18:36] #3307 closed

[2019-02-27 19:02] #2203 closed

[2019-02-27 19:02] #1927 closed

[2019-02-27 20:58] pivotal-joshua-rider commented on #3254
/assign pivotal-joshua-rider

[2019-02-28 01:27] winmillwill commented on #2985
Apologies in advance I've just misconfigured something and/or overestimated the overlap between my issue and this one, but here goes:

I would like to represent the use case of having the ksvc name behave like a Service name for purposes of DNS/discovery.

FWIW, I've been working on a POC for using knative as a simplified development target for applications at work that are stateless. I was pretty

[2019-02-28 01:56] steren commented on #3328
@dgerd I agree that if we reject `PORT`, we should also reject the other system set env vars.

I am not sure we should interpret users setting PORT to a given number as an intent to send requests to this port number.
In term of UX, we can totally imagine clients (in particular UIs) asking very explicitely for a container port. This would be more explicit than relying on one particular special env

[2019-02-28 02:26] tanzeeb commented on #3276
Lua filters are promising, but with a few caveats and obstacles:

[code]

This filter will execute before a request and block until the target revision is activated.

Obstacles:
1. Revision/Namespace are hard coded in the proof of concept above. We need to find a way to pass this metadata dynamically from the `VirtualService`
2. All requests, cold or warm, require a call to the activator. We need

[2019-02-28 02:55] zxDiscovery commented on #3310
After I check the pod describe, I find the container `gcr.io/knative-releases/github.com/knative/build/cmd/nop@sha256:a0481df4fde8afe761c7a614c63b65069ef7c4c7b7715a29b03170eed8029c02` not ready.

[code]

[2019-02-28 07:49] fatkun commented on #2930
If one autoscaler crash(such kill -9 or panic), the revision managed by this autoscaler can't scale in 60 minutes.

I suggest each autoscaler watch all autoscaler, If one autoscaler exit, other autoscaler can filter the exited autoscaler pod name and change it.

[2019-02-28 07:56] markusthoemmes commented on #2930
@fatkun Yes I think this was part of the discussion in the autoscaling group.

We can watch the autoscaler deployment and reconcile if its state changes unexpectedly.

[2019-02-28 13:19] markusthoemmes commented on #364
I'm going to build a prototype of our current autoscaler using such a custom-metric pipeline to get a feeling of how it all fits together to see if it's usable for us.

/assign

[2019-02-28 13:30] markusthoemmes commented on #364
This ties directly into #3132

[2019-02-28 17:47] rgregg opened #3342 "The default value for timeoutSeconds on a revision should be configurable"
## In what area(s)?

The timeoutSeconds value on a revision defaults to 5 minutes (300 seconds), which is currently [hard coded](https://github.com/knative/serving/blob/18d550c9051d337cb52e84137130c16e2e5da6cc/pkg/apis/serving/v1alpha1/revision_defaults.go#L21).

/area API

## Describe the feature

The default value for timeoutSeconds should be configurable by a cluster operator, such that a new v

[2019-02-28 18:15] vagababov commented on #3342
Why would you want to configure the default?
If you need specific value -- you can just set it in the spec, no?

[2019-02-28 18:24] rgregg commented on #3342
Say as an operator, we want to make the default timeout 10 minutes. There's no way to do that today other than build our own Knative binaries. Otherwise, we have to make sure that every way of building and deploying a ksvc into the cluster sets the right timeoutSeconds value to 600, which is a lot harder than just being able to set a single config-map value to 600.

[2019-02-28 18:30] vagababov commented on #3342
/assign
I'll deal with this one.

[2019-02-28 19:34] pivotal-joshua-rider commented on #3254
#3343

CLA on the way...

[2019-02-28 21:46] srinivashegde86 commented on #3329
Is this information already in our metrics? We can get these from prometheus when the test is running. We have an issue to track exposing them long term as well - https://github.com/knative/test-infra/issues/516

I would like to create multiple issues, one for each component measurement.

[2019-03-01 00:00] yanweiguo commented on #3281
#2977 landed. Dose it solve this issue?

[2019-03-01 00:15] tanzeeb commented on #3276
Route retries are not as promising.

Modifying the activator to 1) activate the revision, and then 2) return a 503 to trigger a retry does indeed trigger a retry. However, the updated `VirtualService` configuration is not picked up by the router and so the retries are sent right back to the activator.

Going to explore the Envoy code to better understand if and how the cluster configuration can be

[2019-03-01 07:09] markusthoemmes commented on #3281
It does, thanks!

/close

[2019-03-01 07:09] #3281 closed

[2019-03-01 17:11] greghaynes commented on #3329
I've been poking at this a bit for cold-start work and I am not sure purely prometheus is the best solution (https://github.com/knative/serving/issues/2495#issuecomment-447483337). My main concern is that a metrics based approach is nice for the higher level view (how long does activation take / a request take) but for breaking these higher level numbers down we likely want to see component-level

[2019-03-01 17:20] greghaynes commented on #3329
FY I also did https://github.com/knative/serving/compare/master...greghaynes:activator-tracing-detailed#diff-67fb6834db2f25ecb451db98c539961aR91 in order to get this info for my own use and have been brainstorming of a way to do this more generally which sounds like the goal of this

[2019-03-01 18:36] srinivashegde86 commented on #2495
we have enabled zipkin and prometheus in our perf tests. Have we enabled zipkin tracing for autoscaler? Last time I checked(few months ago :)), zipkin tracing was not available for internal knative components.

[2019-03-01 18:38] srinivashegde86 commented on #2495
We add the trace-id for every request made from the spoof library https://github.com/knative/pkg/blob/master/test/spoof/spoof.go#L172

[2019-03-01 18:38] greghaynes commented on #2495
Working on adding tracing internally here: https://github.com/knative/serving/pull/2726

[2019-03-01 21:35] #3229 closed

[2019-03-04 04:37] mattmoor commented on #3301
/milestone "Serving 0.5"

[2019-03-04 04:43] mattmoor commented on #3309
@ahmetb we had this at one point, but disabled it to allow ourselves to make purely additive changes to the API.

This came up recently in chat, and so we should perhaps discuss more thoroughly the rationale behind this for posterity.

cc @rgregg @evankanderson

[2019-03-04 04:44] mattmoor commented on #3321
Is this a problem if it has a superset of components specified?

[2019-03-04 04:46] mattmoor commented on #3310
Are you missing https://github.com/knative/serving/blob/master/third_party/config/build/clusterrole.yaml ?

[2019-03-04 05:09] mattmoor opened #3351 "Race during Route GlobalResync test"
## In what area(s)?

/area networking

## What version of Knative?

HEAD

## Description

[This test](https://github.com/knative/serving/blob/b59542c426044261c10ed3f96b18e6a5bcc1dc07/pkg/reconciler/v1alpha1/route/route_test.go#L772) sets up the controller for testing outside of the loop.  I believe that is among the reasons that [there was a recent data race failure]()https://gubernator.knative.de

[2019-03-04 05:13] zxDiscovery commented on #3310
I think I'm not missing this @mattmoor
[code]

[2019-03-04 05:26] zxDiscovery commented on #3310
[code]

[2019-03-04 08:01] ahmetb commented on #3309
I’ve seen at least another user of Knative not realizing they specified “metadata” on the wrong field of Service API.

I strongly recommend having unknown field validation as silently ignoring provided fields   are very difficult to debug, especially for beginners.

[2019-03-04 16:45] xtreme-andrew-su commented on #3230
/assign

[2019-03-04 20:28] andrew-su opened #3355 "Slow termination of pods when deleting the service"
## What version of Knative?
HEAD

## Expected Behavior
Pods are quickly deleted when deleting the service

## Actual Behavior
Pods takes a long time to be deleted. I'm seeing it take about 5 minutes

## Steps to Reproduce the Problem
- Deploy a service `kc apply -f <service_file>
- Wait until service is up and ready
- While an instance of the service's pod is running. Delete the service `kc delete

[2019-03-04 20:35] #3224 closed

[2019-03-04 23:34] vagababov commented on #3351
So the problem seems with logging (I am not sure how),  but commenting 		`eventBroadcaster.StartLogging(logger.Named("event-broadcaster").Infof)` line in our base Reconciler makes the test repeatedly pass.

[2019-03-05 02:06] zxDiscovery commented on #3321
Thanks, that's a solution. And this two PR (https://github.com/knative/serving/pull/3322 and https://github.com/knative/eventing/pull/842), I still want to keep it just for user can specify the `configmap` name as they want.  Do you agree? @mattmoor

[2019-03-05 03:42] mattmoor opened #3359 "Remove the max content-length limitation"
## In what area(s)?

/area networking

## Describe the feature

When we introduced the retrying transport to the activator in #1292 we added a handler to the activator that limited the request size based on the `content-length` header.  With the switch to network probing (away from the retrying transport with the "rewinder"), we should be able to remove this limitation as we no longer need to buff

[2019-03-05 04:00] tanzeeb commented on #3359
+1

We don't need to retry anymore now that we have the network probe. The rewinder and content-length enforcer were only there to support retries, so they can go too.

[2019-03-05 08:26] markusthoemmes commented on #3355
I just tried to reproduce this on my cluster and the shutdown was in the expected range.

Can you detail your setup a bit more? Did you install the istio version that ships with Knative?

[2019-03-05 14:47] xtreme-andrew-su commented on #3355
I followed the instructions from: https://github.com/knative/docs/blob/master/install/Knative-with-GKE.md for installing istio and knative.

I've later started using the config in the repo for deploying knative `ko apply -f config/`

Both of those gives me the same behaviour of taking 5m to terminate

[2019-03-05 14:50] markusthoemmes commented on #3355
Regardless, we should come up with an E2E test for this. I'll tackle that ASAP (it's been on my backlog for quite a while now...)

/assign

[2019-03-05 15:01] dprotaso opened #3362 "kubectl get rev should show the associated configuration's generation"
## In what area(s)?

/area API

## Describe the feature
When fetching Knative Revisions with kubectl we should show the corresponding Configuration Generation

[2019-03-05 15:03] mattmoor commented on #3362
I'd guess that something like what we do for `Ready` might work here...?

[2019-03-05 15:24] mattmoor commented on #3362
I have something that works for this.  The gotcha is: https://github.com/kubernetes/kubernetes/issues/23386

[2019-03-05 16:21] #3200 closed

[2019-03-05 16:54] #3362 closed

[2019-03-05 18:43] pivotal-joshua-rider commented on #3077
/assign

[2019-03-05 19:13] k4leung4 commented on #3355
I have been seeing this behavior as well, though I haven't figured out what is causing the issue.
It can also take longer than 5 minutes from my experience.

[2019-03-05 20:26] #3359 closed

[2019-03-05 20:37] adrcunha opened #3367 "deploy.sh is broken"
## In what area(s)?

/area test-and-release

## What version of Knative?

## Actual Behavior

https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-playground/1101769507065565185

[code]

[2019-03-05 22:08] Starefossen commented on #2921
@ZhiminXiang what was the solution?

[2019-03-05 22:42] poy opened #3368 "go modules"
Is there any plan (perhaps knative wide) to move to go modules?

[2019-03-05 23:57] ahmetb opened #3370 "gRPC apps cannot be invoked without setting host explicitly"
**Problem:** I have a set of gRPC microservices (written in Go, Python, Ruby, Node.js, .NET and Java) that work fine on Kubernetes. However if I migrate them to Knative, I have to make "code changes" to ALL of these services explicitly set the host header, ideally I wasn't hoping to do that.

When you deploy a gRPC app to Knative, you have to **explicitly specify its hostname**.

For example, if a

[2019-03-06 00:56] ZhiminXiang commented on #2921
@Starefossen Here is a [draft](https://github.com/knative/serving/compare/master...ZhiminXiang:mtls-test?expand=1) of my PR. Sorry did not get a chance to polish it yet.
The basic idea here is to make Prometheus use Istio mTLS certificate to talk to each Pod when scarping metrics.

[2019-03-06 06:28] ahmetb commented on #3370
/cc @mattmoor
/cc @tcnghia

[2019-03-06 06:48] skeeey commented on #3274
I have the same problem, as @palade said, after I removed the proxy env from kube-apiserver configuration, it works

[2019-03-06 15:57] #273 closed

[2019-03-06 16:13] #1490 closed

[2019-03-06 16:14] mdemirhan commented on #1276
This is getting fixed with #2726.

[2019-03-06 16:15] mdemirhan commented on #1277
This is done.

[2019-03-06 16:15] #1277 closed

[2019-03-06 17:30] hohaichi commented on #2480
@VeerMuchandi, is this still an issue?  I couldn't repro (with GKE and hey), and the issue seems old (targeting 0.3 miilestone).

[2019-03-06 18:18] k4leung4 commented on #3301
/milestone Serving 0.5

[2019-03-06 18:29] tcnghia commented on #3274
@palade @skeeey is this error specific to Istio or the proxy is breaking validation webhooks in general?

[2019-03-06 19:15] srinivashegde86 opened #3374 "Istio service fails to come up with error "Port in use" during test setup"
## Expected Behavior

Knative to be installed correctly with istio

## Actual Behavior

Sometimes istio-ingressgateway fails with `The Service "istio-ingressgateway" is invalid: spec.ports[2].nodePort: Invalid value: 31400: provided port is already allocated`

## Steps to Reproduce the Problem

Sample build log:
https://storage.googleapis.com/knative-prow/logs/ci-knative-serving-performance/110309

[2019-03-06 19:15] srinivashegde86 commented on #3374
/cc @tcnghia
/cc @adrcunha

[2019-03-06 19:21] tcnghia commented on #3374
/assign

We could probably remove the nodePort number from the `istio-ingressgateway`.  My understanding is that it is of use for CircleCI or something, but not useful for us.

[2019-03-06 19:34] dgerd commented on #3328
@steren

I am curious as to why we are seeing users accidentally setting `PORT` in the first place. Is our documentation unclear that this is set for you by the system? Is the user testing the application locally and getting used to passing env through on the docker command line? Is setting `PORT` a best practice of another system they are used to using? Are they using the environment variable for

[2019-03-06 21:11] k4leung4 commented on #1276
/milestone Serving 0.5

[2019-03-06 21:20] VeerMuchandi commented on #2480
@hohaichi, I havent tested this of late with the current version.  Did you look at comments on Dec 22 on the conditions where it was failing?

[2019-03-06 21:23] yanweiguo commented on #2916
Can we close this issue? Is there anything need to be done in autoscaling to support HTTP2?

[2019-03-06 21:27] srinivashegde86 commented on #3374
/cc @srinivashegde86

[2019-03-06 21:27] hohaichi commented on #2480
@VeerMuchandi No, I didn't use siege.  I used hey, as instructed on https://github.com/knative/docs/tree/master/serving/samples/autoscale-go.

[2019-03-06 21:43] yanweiguo opened #3376 "Add unit tests for scaling based on active pods count"
## In what area(s)?

From #2344, we should add an unit test for the case described there.

[2019-03-06 21:45] yanweiguo commented on #2344
We have changed the autoscaler to scale up and down base on the active pods count. Opened #3376 for unit tests. Closing this.

[2019-03-06 21:45] #2344 closed

[2019-03-06 21:46] yanweiguo commented on #2216
@blues-man Is this still an issue?

[2019-03-06 21:48] yanweiguo commented on #2111
Duplicated to #2930.

[2019-03-06 21:48] #2111 closed

[2019-03-06 22:11] hohaichi commented on #2480
Btw, here is what I saw:  the highlighted pod (age: 6m) is the one left when it scaled down to 1.  Then hey generated a load and the other pods spawned up as expected.

$ kubectl get pods
NAME                                                              READY   STATUS    RESTARTS   AGE
autoscale-go-8sh89-deployment-fbc44bc7f-2x76g                     3/3     Running   0          35s
autoscale-go-8

[2019-03-06 22:35] VeerMuchandi commented on #2480
Which version did you use? I will test it again and let you know. But it
will take a few days.

On Wed, Mar 6, 2019 at 5:11 PM Chi Ho <notifications@github.com> wrote:

[2019-03-06 22:57] hohaichi commented on #2480
Can you try version 0.4?

[2019-03-06 23:16] steren commented on #3328
Users do not read docs (and thus try to use define PORT like they would do on other systems)
When they do, we tell them to "listen on $PORT", so some of them believe they have to define "PORT"

My request only applies to when users set PORT in the revision spec.
I think it's better to catch some errors than none at all.

Clients can also help to prevent this mistake.

[2019-03-07 00:34] vagababov commented on #3342
So it seems harder than from the first sight: the default is set in the revision_defaults.go, which is invoked from webhook and from the controller.
In theory this can be made a flag (rather than ConfigMap entry), but that feels wrong (and two binary configs need to be updated).

[2019-03-07 01:00] evankanderson commented on #3328
My understanding is that `$PORT` in the container will be set preferentially in the following order:

1. Update by code inside the container (e.g. a shell script)
1. Explicit setting via either `env` or `envFrom` (and these two should be mutually-exclusive)
1. Dockerfile `ENV` statements
1. Container Image Parent `ENV` statements

We can treat 1. as equivalent to code which doesn't bother to read

[2019-03-07 08:27] markusthoemmes commented on #2916
Nope, we can close this.

[2019-03-07 08:27] #2916 closed

[2019-03-07 08:38] skeeey commented on #3274
@tcnghia I think this error is from Istio, when I deploy the knative serving, the Istio injects the sidecar for it, in this phase, the Istio use the galley to validate its configuration, because there is `http_proxy` setting in my environment, the validation webooks are failed

[2019-03-07 10:03] palade commented on #3274
@tcnghia Same as @skeeey I believe what the quickest solution is to add all the ip addresses which are used to `no_proxy` but I haven't checked this solution yet.

[2019-03-07 14:04] blues-man commented on #2216
Hello, just tested on OpenShift 3.11.43 and I cannot reproduce the issue, so it looks not an issue anymore.

By the way, I didn't had a chance to test it with a global Proxy enabled like in the previous test (with proxy, no_proxy settings for Docker, OpenShift masters, kubelet etc)

Thanks

[2019-03-07 15:24] #3321 closed

[2019-03-07 15:48] wtam2018 commented on #3312
I am interested in working on this issue.
BTW, how do I become a Member so I can assign issue to myself?

[2019-03-07 17:20] #2902 closed

[2019-03-07 19:47] jchesterpivotal commented on #1686
/assign

[2019-03-07 20:05] VladimirSmogitel opened #3384 "Multiple containers in the same pod"
## In what area(s)?

## Ask your question here:

Is it possible to deploy a multi-container pod by executing one Knative service creation yaml?  All exampled that I have seem create one container(app) per pod.  We would like to deploy 2 or 3 containers into the same pod but only one of the containers will listen on port 8080.  Is it possible?  If so what is the structure of this yaml?  Is ti possi

[2019-03-07 20:17] tanzeeb commented on #3370
This is happening because the VirtualService created by cluster ingress explicitly only allows the hostnames:
[code]

In order to work with the ports, we'll need to expand this list:
[code]

The only complication here is that the port shouldn't be hard coded. It can be whatever is specified in the ingress gateway.

[2019-03-07 20:19] ahmetb commented on #3370
Are you positive that grpc implementations already send an Authority header (is it a thing, or is it just `Host` header) with a port name in them. I'm actually not sure hostname info gets sent by default (although I'd expect it to be) in grpc client implementations.

[2019-03-07 21:00] #3374 closed

[2019-03-07 21:15] dgerd commented on #2973
Looking at how this works today, Kubernetes does not support passing Devices through directly to the OCI interface ( see https://github.com/kubernetes/kubernetes/issues/5607 ).

There is support for specifying devices using Device Plugins ( https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins/#examples ), but these seem to be enabled on the kubelet and not on th

[2019-03-07 21:20] vagababov commented on #3312
There are also:
- 503s (no healthy upstream)
- 500s (Error getting active endpoint: timeout waiting for the revision to become ready)

But those are supposed to be fixed with the revision controlled handoff (hopefully), since we blame them on network programming currently.

[2019-03-07 21:21] dgerd commented on #3223
/assign @dgerd

[2019-03-07 21:46] tanzeeb opened #3389 "Stackdriver ServiceEntry breaks Istio 1.0.6"
## In what area(s)?

/area monitoring
/area networking

## What version of Knative?

## Expected Behavior

Deploying Serving with Istio 1.0.6 and the stackdriver monitoring configs (https://github.com/knative/serving/blob/master/config/monitoring/metrics/stackdriver/100-stackdriver-serviceentry.yaml) should work.

## Actual Behavior

Deploying Serving with Istio 1.0.6 and the stackdriver monitorin

[2019-03-07 21:55] tcnghia commented on #3389
/cc @yanweiguo

Is this something we can fix by using non-wildcard ServiceEntry?  Thanks

[2019-03-07 22:27] tcnghia commented on #3389
Looking at the bug https://github.com/istio/istio/issues/11835 I believe this is the single word host name `metadata` that broke validation.

[2019-03-07 22:34] yanweiguo commented on #3389
Yeah, short host name, i.e. single word host name is no longer allowed starting from Istio 1.0.3.

I have verified that we could remove that service entry without breaking Stackdriver metrics integration.

[2019-03-07 22:57] tcnghia commented on #3370
@tanzeeb if grpc already sent this header we could probably add a RegExp match here to allow arbitrary port name.

[2019-03-07 23:22] ahmetb commented on #3370
Looks like indeed adding :80 to Authority is working. We just cloned a different Istio VirtualService, prefixed hostnames with `x-` (to prevent collisions) and added `:80` to all hostnames in `authority` field. It worked!

Looks like gRPC clients are passing hostname with `:80` (this is visible in the `istio-ingressgateway` logs):

`[2019-03-07T23:10:11.046Z] "POST /ping.PingService/PingHTTP/2" 20

[2019-03-07 23:39] dgerd commented on #3223
We do not seem to set a platform-specific default as called out in the runtime contract. We instead seem to implement the Kubernetes behavior which to "Default to user specified in image metadata if unspecified."

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#container-v1-core

[2019-03-07 23:44] dgerd commented on #3223
We also currently accept negative runAs user values which are invalid. Need to add validation to the webhook and a test.

[2019-03-08 00:15] tanzeeb commented on #3370
Cool, I'll take a look

/assign

[2019-03-08 00:24] tanzeeb commented on #3370
Yes. [In HTTP 2.0, the `:authority` pseudo-header is used instead of the `Host` header, and this applies to gRPC as well.](https://http2.github.io/http2-spec/#HttpRequest) Most clients will just use your host as the authority if you don't specify the authority separately.

Since your client call used `grpc-ping.default.svc.cluster.local:80` as the host, that's the authority it passed.

[2019-03-08 00:55] #3389 closed

[2019-03-08 01:22] skeeey commented on #3274
@palade, I tried the `no_proxy`, but I used the CIDR not list all of the IP addresses, it does not work

[2019-03-08 03:15] mattmoor commented on #1962
(sigh) Beta in 1.15

[2019-03-08 07:03] markusthoemmes commented on #3312
I took these sources out specifically because there are other issues covering them.

@vagababov The handoff will only solve issues around scale-to-zero, no? This issue is about issues right after creating new routes not necessarily after **re**programming

[2019-03-08 08:18] skeeey opened #3392 "Failed to get image digest in private cluster environment"
## What version of Knative?

## Expected Behavior

I can deploy a knative servcie successful

## Actual Behavior

Failed to deploy a knative service, due to

[code]

## Steps to Reproduce the Problem

My k8s cluster is **private**, so I set the `http_proxy` setting in my host, and if I only deploy the `helloworld-go` as a pod,  it can be deployed

My steps to deploy the `helloworld-go` sample

- s

[2019-03-08 10:12] josephburnett commented on #839
I've opened a separate issue to track the beta implementation of this feature with some improvements: https://github.com/knative/serving/issues/2929

[2019-03-08 10:12] #839 closed

[2019-03-08 16:58] pivotal-joshua-rider commented on #3254
@mattmoor can't close this because I'm not a member of the org, but fix for this was merged in #3343

[2019-03-08 17:16] vaikas opened #3399 "Different priviledges for controller and webhook."
## In what area(s)?

/area test-and-release

## Describe the feature
Currently the webhook and controller run with the same priviledges. Webhook should probably run with less priviledges. This probably requires the webhook and controller to run as two different service accounts and tighter roles to be created for the two (controller does not need to muck with mutatingwebhooks for example).

[2019-03-08 17:21] vagababov commented on #3312
Here during creation you mean the point in time after the route is "ready" but istio still is not?

[2019-03-08 18:09] ahmetb commented on #3370
@tcnghia @tanzeeb so while this app was working on kubernetes, I was doing service discovery like

[code]

however I'm realizing these hostnames have to be fully-qualified like `cartservice.default.cluster.local` on Knative.

Is there a reason why we're not adding **ALL OF** these?

- [servicename].[ns].cluster.local
- [servicename].[ns].cluster.local:80
- [servicename].[ns].cluster
- [servicename

[2019-03-08 18:11] #3351 closed

[2019-03-08 18:49] tcnghia commented on #3370
@ahmetb I don't think `servicename.ns.svc.cluster` would work in K8s either?  If you can confirm that such work we can certainly add it to the list.

Other than that the only thing that left is `servicename` which would depend on which namespace the traffic comes from.  We currently can't support this yet (we used to but have to undo the change because it cause collision and broke one or both serv

[2019-03-08 20:51] xtreme-andrew-su commented on #3230
Oops.. Attached the wrong issue id

[2019-03-08 23:55] vagababov commented on #3021
/reopen
this is still failing.

[2019-03-09 18:38] mattmoor commented on #3217
🤔 I'm not sure that switching from `runLatest` to `release` would necessarily create a new Revision if you were careful to keep the Configuration unchanged, but as I said before:

So you are changing the configuration's spec to nothing.

[2019-03-09 21:19] duglin commented on #3217
I don't think it's nothing, when I look at the yaml of the ksvc I see this snippet:
[code]
which I believe exactly matches the previous ksvc's

[2019-03-09 21:58] davidmehi commented on #1500
I also had this problem: the server could not find the requested resource (post gatewaies.networking.istio.io)

Even though I installed everything correctly, my path was still pointing to an old version of gcloud sdk, so my K8S client and server versions did not match.  If "kubectl version" shows that the client and server versions are different, then upgrade one of them to match.

[2019-03-11 07:50] markusthoemmes commented on #3312
@vagababov not necessarily. You're describing a wider range of issues. This one is potentially narrower in scope and thus could potentially need a different (maybe simpler?) fix?

[2019-03-11 07:51] markusthoemmes commented on #3254
Thanks @pivotal-joshua-rider

/close

[2019-03-11 07:51] #3254 closed

[2019-03-11 14:04] #3218 closed

[2019-03-11 17:31] grayside opened #3408 "Add ability to note client library/tool identity for usage metrics"
# Expected Behavior

Provide a standard mechanism for tools and libraries to self-report their identity and version. This will allow platforms built on knative to identify what developers are using to deploy services.

# Actual Behavior

None

@steren

[2019-03-11 17:47] steren commented on #3408
+1 to the proposal.

Using a standard annotation that well behaved clients would populate seems to be a good fit.

CC @sixolet

[2019-03-11 18:04] mattmoor commented on #3317
I think this is done.
/close

[2019-03-11 18:04] #3317 closed

[2019-03-11 18:05] mattmoor commented on #3355
I see an e2e test has landed, is this done?

[2019-03-11 18:07] mattmoor commented on #3368
Is there a pressing need? :)

We use `dep` for a number of use cases where it's not immediately clear to me that `go mod` can cover, including:
1. Vendoring of the K8s code generators
1. Vendoring of our test-infra repo (for use in scripts)

[2019-03-11 18:09] mattmoor commented on #3384
It is not possible to use multiple containers.  Can you elaborate on the use case?

It is possible to specify a port via `containerPort:` in the single container's spec.

[2019-03-11 18:10] mattmoor commented on #3392
/assign @jonjohnsonjr
/area API

[2019-03-11 18:10] markusthoemmes commented on #3355
@mattmoor from what we can tell in our CI it is I believe. I dunno if something environmental would cause longer termination.

[2019-03-11 18:15] mattmoor commented on #3408
I don't completely grok what this is after from the terse explanation.  We already report the Knative version several ways on system objects (via a label on resources, and a decorationin logs) and have talked about more (e.g. exposing via metrics endpoints).

What information is it that you want captured and how do you want it captured?

[2019-03-11 18:23] mattmoor commented on #2836
Going to proactively close.  Please reach out of this is still an issue.

[2019-03-11 18:23] #2836 closed

[2019-03-11 18:40] steren commented on #3408
We expect many Knative clients to be available.

The idea is to offer a standardized field (or annotation) that clients can optionally use to capture which "client was used to create this revision".

As a platform provider, we are interested in knowing which clients are most used by developers, or to be able to attribute usage to certain clients (e.g. usage of CLI vs UI).

As a developer, you migh

[2019-03-11 18:53] k4leung4 commented on #3301
/assign @hohaichi
/assign @yanweiguo

As I won't be able to work on it any more.

[2019-03-11 19:00] poy commented on #3368
I bring it up because of two reasons:

1. go modules is the officially accepted way in go to do dependencies. Even dep's README states this:

More projects should be moving towards modules. Anything that integrates with knative will experience friction if they are wanting to use the official dependency management tool.

2. I noticed that [knative/client](https://github.com/knative/client) went wit

[2019-03-11 19:33] #3370 closed

[2019-03-11 19:48] jonjohnsonjr commented on #3392
I think https://github.com/knative/serving/pull/3409 should fix this by using `http.ProxyFromEnvironment` to respect the http[s]_proxy environment variables.

[2019-03-11 23:03] #3279 closed

[2019-03-12 04:52] skeeey commented on #3392
@mattmoor @jonjohnsonjr the other problem, if I set the container `imagePullPolicy` to `Never` (or `IfNotPresent`), do we still need to retrieve the image digest from remote? I think we should not retrieve it from remote, because the remote digest may not match the local, is my understanding right? if right, I can log a PR to fix this, thanks

[2019-03-12 09:23] josephburnett opened #3415 "Default PodAutoscaler class in configmap"
## Describe the feature

We should allow the operator to choose the default PodAutoscaler class in the `config-autoscaler.yaml` file.

[2019-03-12 09:23] josephburnett commented on #3415
Follow up from https://github.com/knative/serving/pull/3103

[2019-03-12 11:34] josephburnett opened #3416 "Autoscale on OPS"
## In what area(s)?

/area autoscale

## Describe the feature

In addition to concurrency (connections) and CPU, Knative should support autoscaling on Operations Per Second (ops).  This is fairly simple to implement since we already calculate and report ops to the autoscaler: https://github.com/knative/serving/blob/193e798566094adee2438816dfd5b0c31cee9ee9/pkg/queue/stats_reporter.go#L44

[2019-03-12 16:02] #3067 closed

[2019-03-12 18:51] yanweiguo commented on #2579
This is a known issue. It is covered in [Scaling Roadmap 2019](#3040)(Overload Handling).

[2019-03-12 20:13] hohaichi commented on #3301
/assign

[2019-03-12 20:17] dprotaso commented on #1624
/unassign @dprotaso

[2019-03-12 22:28] jonjohnsonjr commented on #3392
For `Never`, not resolving the digest makes some sense, I think...

I'm not convinced about `IfNotPresent`, though. @mattmoor wdyt?

[2019-03-13 03:53] mattmoor opened #3419 "A better story for sub-routes."
## In what area(s)?

/area API
/area networking

## Describe the feature

_This is an offshoot of the `v1beta1` task force, which has been considering our `v1beta1` shape holistically.  While that discussion is ongoing, this chunk of work (at the Route level) felt worthy of surfacing for broader discussion.  Thanks to @evankanderson for highlighting this issue, and the task force for helping shape

[2019-03-13 04:11] mattmoor opened #3420 "Allow configurationName in conjunction with revisionName."
## In what area(s)?

/area API
/area networking

## Describe the feature

_This is an offshoot of the v1beta1 task force, which has been considering our v1beta1 shape holistically. While that discussion is ongoing, this chunk of work (at the Route level) felt worthy of surfacing for broader discussion. Thanks to the task force for helping shape the proposal for consideration by the broader group._

[2019-03-13 04:37] RPing opened #3421 "Routing to HTTP/1.1 and GRPC services"
## In what area(s)?

/area networking

## Ask your question here:

I'm not sure I should post these questions here or istio ... I post here first.

According to [knative-routing-go](https://github.com/knative/docs/blob/master/serving/samples/knative-routing-go/routing.yaml) sample configuration, we can create an istio custom resource **VirtualService** to forward to real service.</br>But how can I

[2019-03-13 07:31] markusthoemmes commented on #1624
Is this done? The activator should buffer per revision IIRC and there's even a test that verifies this.

/cc @vvraskin
keep me honest please.

[2019-03-13 14:39] jtlz2 commented on #2598
I have just had this for helloworld-python - it just righted itself after 10 minutes, so I am just wondering if it's just really really slow to spin up.

[2019-03-13 21:28] mattmoor commented on #2773
@vagababov Did you see any issues?

[2019-03-13 21:44] ZhiminXiang commented on #3421
I will try gRPC case, and see how it works.

[2019-03-13 22:19] vagababov commented on #2773
I ran the hello world example it worked fine.

[2019-03-13 22:19] dgerd opened #3424 "Copy Kubernetes objects in webhook"
## In what area(s)?

/area API

## Describe the feature
Many of our CRD objects take Kubernetes object shapes as input such as `corev1.Container`, `corev1.ObjectReference`, `corev1.Volume`. Our webhook today takes these shapes and passes the user input through to the controller. However, given that the Kubernetes API is continuously growing new resource fields may be added to objects we consume. T

[2019-03-13 22:21] vagababov commented on #2773
I'm going to provisionally close it (I blame the minikube).
/close

[2019-03-13 22:22] #2773 closed

[2019-03-13 22:23] dprotaso commented on #3424
+1
On Wed, Mar 13, 2019 at 18:19 Dan Gerdesmeier <notifications@github.com>
wrote:

[2019-03-13 22:26] dgerd opened #3425 "Verify kubernetes objects with DryRun"
## In what area(s)?

/area API

## Describe the feature
In Kubernetes 1.13 a dry-run feature was added to allow validating an object without instantiating it.

Our architecture has a mutating webhook as well as a controller to reconcile events. Today our webhook validations are not great at catching problems with kubernetes shapes such as the corev1.Container shape. Any issues that get through our

[2019-03-13 22:33] ZhiminXiang opened #3426 "Need E2E test for egress traffic"
## In what area(s)?

## Describe the feature
We need an E2E test to make sure egress traffic work, especially when using Istio 1.1 which allows egress traffic by default.

We could reuse [httpproxy](https://github.com/knative/serving/tree/master/test/test_images/httpproxy), and configure it to send requests to external webside (e.g. www.httpbin.org).

[2019-03-13 23:11] tcnghia commented on #2985
@winmillwill I have been thinking about solving your issue and I have working PoC.  Can you please open a new issue to discuss?

[2019-03-14 03:17] winmillwill opened #3429 "Short names don't resolve between knative services"
reposting from #2985 at the request of @tcnghia

The way we've been using kubernetes so far has been to keep the names of applications (Services) consistent across namespaces and keep the applications ignorant of which namespace they run in. We find this decreases the need for varying manifests between environments, especially in the case of so-called "sandbox" namespaces for development: everyone

[2019-03-14 12:13] zxDiscovery commented on #3310
I found run this case need about more than one hour to build the image use the `kaniko`
[code]
After I wait more than one hour, this case run finished. But why it so slow?

[2019-03-14 22:11] evankanderson commented on #2973
Hmm, I'm wondering whether we should change that MUST to a SHOULD (thinking specifically about the GPU accelerator case).

In any case, I think the developer "MUST" indicates that containers which violate those expectations [may experience undefined behavior (aka "nasal demons")](http://catb.org/jargon/html/N/nasal-demons.html).

[2019-03-14 22:57] dgerd commented on #2973
The problem I have with nasal demons on MUST/SHOULD NOT statements is that they become extremely hard to test in the context of conformance. If an instance of Knative allows this behavior is it still conformant? My assumption is yes it is, but there is no useful test that I can come up with here as allowing and disallowing both seem valid.

If we believe that GPUs are an important use-case to cove

[2019-03-15 00:09] evankanderson commented on #2973
I'm not sure how to capture this in a testable way, but the intent of the developer requirements is to place "outer bounds" on what conformance should test. I.e. a conformance test could validate the following devices per the OCI spec:

/dev/

- null
- /dev/zero
- /dev/full
- /dev/random
- /dev/urandom
- /dev/tty
- /dev/console is set up if terminal is enabled in the config by bind mounting the ps

[2019-03-15 08:56] zxDiscovery commented on #3310
The I/O on my cluster is slow so lead this issue. Close this issue.

[2019-03-15 08:56] #3310 closed

[2019-03-15 13:15] bbrowning opened #3434 "Default CPU requests should be lower on minikube"
Feedback I've had from users testing Knative on minikube is that the default CPU requests (400m) is so high that it makes for a poor experience because Kubernetes runs out of CPU on the minikube node very quickly and thus scaling doesn't appear to work as expected.

To make this initial experience better, we should either lower the default CPU requests across the board or make it configurable and

[2019-03-15 13:27] burrsutter commented on #3434
It means that back to back autoscale tests result in multi-minute wait times.  Pods are in a PENDING state for several minutes.

[2019-03-15 14:24] chaodaiG opened #3435 "CI in release-0.3 branch is consistently failing"
## In what area(s)?

## What version of Knative?

## Expected Behavior

CI runs are green
## Actual Behavior

Continuous runs are all red in past 13 runs. These failures are mainly caused by a few flaky tests.

## Steps to Reproduce the Problem

Look at here:
https://testgrid.knative.dev/knative-serving-0.3#continuous

[2019-03-15 14:28] adrcunha commented on #3435
What should we do about it, so the flow provides value? Ignore it? Disable it? Fix it? @mattmoor

[2019-03-15 18:16] mattmoor commented on #3419
During the discussion in the API WG Wednesday, we kicked around the prospects of:
1. Just thinking of Kevin as a virtual resource.
1. Just using a namespaced Ingress resource in place of (or as) Kevin.

One problem with the first is that there isn't anything to decorate with a label if you want a particular Kevin to become internal-only, which was a nice property when I was thinking about this...

[2019-03-15 18:18] mattmoor commented on #3429
/area networking

[2019-03-15 18:19] mattmoor commented on #3424
+1

[2019-03-15 19:50] dgerd commented on #2973
Looking at your example it seems like we could turn the statement around to express requirements of the platform rather than requirements of the developer. Statements about the platform seem easier to grok and programmatically verify in the context of conformance. Is there a difference in your mind between the two statements below given the context above:

OCI "Default" Devices MUST be provided

a

[2019-03-15 19:57] dgerd commented on #3434
Adding some links for reference:

* Original limit calculations: https://github.com/knative/serving/pull/1124#issuecomment-397120430
* Where these are currently set: https://github.com/knative/serving/blob/master/pkg/reconciler/v1alpha1/revision/resources/constants.go#L62

[2019-03-15 20:19] dgerd commented on #3434
I think lowering the default requested CPU seems reasonable to improve its ability to be scheduled. Most of the analysis in the linked comment seemed to focus on the cpu limit and side-car sizing.

For the use-case of functions, .5 of a CPU seems fairly high per-pod default.

[2019-03-15 20:23] jchesterpivotal commented on #1686
It's worth reporting on progress so far. I've developed two different "simulators": a prototype and a discrete-event simulator.

(The codebase is not currently public. I hope to remedy that soon.)

## The prototype simulator

The prototype explored two aspects:

1. What is the controllable API surface of the autoscaler system?
1. How can simulation results be graphically displayed?

The prototype

[2019-03-15 22:53] tcnghia commented on #3429
/assign

[2019-03-16 08:28] PascalStieber commented on #3384
The Use-Case could be, that I want to have a database (mongodb) and my backend service (Spring) in the same pod. I only want to have to write a single service definition.

[2019-03-17 15:42] mattmoor opened #3442 "Simplify `{resource}_types.go`"
## In what area(s)?

/area API
/area autoscale
/area networking

## Describe the feature

Today a lot of the resource lifecycle (e.g. status manipulation) stuff has started to accumulate directly into the `{resource}_types.go` files.  Starting to take a look at some of this again with fresh eyes, I think it probably makes sense to split a lot of this stuff out the way we have with `{resource}_defa

[2019-03-17 20:59] mattmoor commented on #3442
/assign

[2019-03-18 16:15] #2318 closed

[2019-03-18 16:48] tcnghia commented on #3210
Since Istio 1.1 isn't cut yet, and we still need time for test this dependency before taking it on we won't be able to do this in 0.5, so I am dropping it here.

[2019-03-18 16:49] tcnghia commented on #2972
@yt3liu do we have an update for this item?

[2019-03-18 16:50] tcnghia commented on #3241
This test won't succeed with Istio 1.0.x and we can't take on 1.1 in 0.5 so I am dropping this from 0.5.

[2019-03-18 17:11] tcnghia commented on #2968
/assign

[2019-03-18 17:13] tcnghia commented on #2949
Based on comment https://github.com/knative/serving/issues/2949#issuecomment-461081821 this has a dependency on 1.1 so I am moving this out of 0.5

[2019-03-18 17:57] tcnghia commented on #1767
Since this is an Istio 1.1 feature, I'm moving it out from Serving 0.5

[2019-03-18 18:00] srinivashegde86 opened #3446 "Monitoring component is not installed with perf test scripts"
## Expected Behavior

Monitoring to be installed when running the perf test script

## Actual Behavior

We only install istio and serving yaml
https://github.com/knative/serving/blob/ee9b0ec09bc40f70205f8e0c26c5cbac520f0432/test/performance-tests.sh#L25

[2019-03-18 18:00] srinivashegde86 commented on #3446
/assign @yt3liu

[2019-03-18 18:01] tcnghia commented on #2464
@markusthoemmes Do we need to move this item to 0.6, or break this down further to specific types of issues that we can tackle some in 0.5 and some in 0.6?

[2019-03-18 18:04] xtreme-andrew-su commented on #2391
I wasn't able to reproduce this either. Results are coming back between 6-10s.

[code]

[2019-03-18 18:06] srinivashegde86 opened #3447 "Use TestMain to setup and cleanup components needed for e2e tests"
## In what area(s)?

Right now, every test calls into setup and cleanup for the things it needs. But, there can be some common setup and cleanup requirements for the entire test suite. We should be using the [golang TestMain](https://golang.org/pkg/testing/#hdr-Main) way of doing common overall suite setup and cleanup.

For eg, enable zipkin tracing for our e2e tests.

[2019-03-18 18:07] srinivashegde86 commented on #3447
/cc @dushyanthsc
/cc @adrcunha
/cc @jessiezcc

[2019-03-18 18:08] srinivashegde86 commented on #3447
/cc @yt3liu

[2019-03-18 18:28] adrcunha commented on #3447
Due to labels, the current way of testing the build of e2e test files is by using `go test -run`, which runs TestMain. Thus any TestMain must not make any initialization that requires a context (eg, a test cluster) or the build tests will fail.

[2019-03-18 18:38] vagababov commented on #3447
I mentioned that in a comment to the conformance tests.
But in general I agree, that we're strongly under-utilizing TestMain.

[2019-03-18 19:32] #3442 closed

[2019-03-18 19:52] trisberg opened #3448 "Intended behavior for orphaned revisions when specifying minScale that is > 0"
## In what area(s)?

/area autoscale

## Ask your question here:

If I create a knative-service using `runLatest` and with annotation `autoscaling.knative.dev/minScale: "1"`

what should happen to the original revision when the knative-service is updated and a new revision is created? The current behavior seems to be that the deployment for the first revision is still expecting to maintain 1 repli

[2019-03-18 21:04] dgerd opened #3450 "Add url to traffic status in Route and Service"
## In what area(s)?

/area API

/area networking

This splits out the first item from issue #3419.

## Describe the feature
Introduce `status.traffic[*].url` that MUST be used in conjunction with `status.traffic[*].name` to determine the URL by which a particular name: will be accessed (a URL path MUST not be returned). The spec will no longer be prescriptive about how this URL is formed, and (sim

[2019-03-18 21:04] dgerd commented on #3450
/assign dgerd

[2019-03-18 21:49] yanweiguo commented on #1573
Hi @vvraskin, do you have any update for this one? Thanks.

[2019-03-18 21:54] mattmoor commented on #3419
/milestone Serving 0.6
Dan broke out the first item into a separate issue, so moving the rest out.

[2019-03-18 21:54] mattmoor commented on #3367
What's the status of this?

[2019-03-18 21:58] yt3liu commented on #2972
Sorry I haven't got a chance to dig into this issue yet, but I will definitely work on it this week.

[2019-03-18 22:15] adrcunha commented on #3367
I forgot  about it :P

[2019-03-18 22:56] vagababov opened #3452 "test/upgrade.TestRunLatestServicePostUpgrade is flaky"
## In what area(s)?

/area test-and-release

## Expected Behavior

test/upgrade.TestRunLatestServicePostUpgrade  passes 100% of the time.

## Actual Behavior

test/upgrade.TestRunLatestServicePostUpgrade is flaky, instead.

/assign @vagababov

[2019-03-18 23:17] ZhiminXiang opened #3453 "Need performance/loading test for long-running HTTP request"
## In what area(s)?

## Describe the feature
Currently we run our performance test against [`helloworld` app](https://github.com/knative/serving/blob/ba72f1730faae0f0d7029f7c49fe149c46d97d9b/test/e2e/scale.go#L75) which is a simple app that handles short-running requests.

The current performance tests may not give us enough insights about some complicated scenarios (e.g. performance of handling l

[2019-03-18 23:25] rgregg commented on #3408
I think as a operator of the platform, this is important data. I'm tagging this for 0.6.

[2019-03-19 01:40] mattmoor commented on #3333
@duglin what's left here in Serving?

[2019-03-19 02:45] duglin commented on #3333
Eventing one: https://github.com/knative/eventing/pull/921

[2019-03-19 02:48] duglin commented on #3333
For build: https://github.com/knative/build/pull/572

[2019-03-19 02:49] duglin commented on #3333
Istio one: https://github.com/istio/istio/issues/12344

[2019-03-19 02:49] duglin commented on #3333
Yes I think we can close this one since the serving side is done.

[2019-03-19 04:04] mattmoor commented on #3342
/milestone Serving 0.6

Going to move this out as I'd like to consider our story for configurable defaulting holistically.

[2019-03-19 04:12] mattmoor commented on #3367
@adrcunha ok, I'd put it into 0.5 as I thought you were looking into it (self-assigned).  I'm just checking in on things in 0.5 (we have two weeks left), so LMK if this should stay or go.

[2019-03-19 04:30] vagababov commented on #3342
Plus it relies on webhook getting configmaps, which is not yet done either

On Monday, March 18, 2019, Matt Moore <notifications@github.com> wrote:

[2019-03-19 13:30] adrcunha commented on #3367
Fixing it today, it's a simple fix, don't worry.

[2019-03-19 13:45] markusthoemmes commented on #2464
I personally don't have the bandwidth to work on this at the moment.

/unassign

I think this is already narrowed down to a specific issue though 🤔

[2019-03-19 13:58] mattmoor commented on #2464
/milestone Serving 0.6

[2019-03-19 15:06] duglin commented on #3217
@mattmoor helped me track down what was going on, and where I mis-saw things. There was a new revision being generated after the "patch" and assumed it was due to a new build. But that's not what was happening, it was due to the change in the Configuration - mainly the removing of the "build" section.  I modified my patch to not remove the build section, and instead just changed from "runLatest" t

[2019-03-19 15:06] #3217 closed

[2019-03-19 15:48] tanzeeb commented on #2464
/assign

I suspect that these 503s have disappeared with the activator probing, will investigate

[2019-03-19 15:59] markusthoemmes commented on #2464
@tanzeeb what would they have to do with that? Wouldn't that only be relevant in scaled-to-zero cases?

[2019-03-19 17:19] jonjohnsonjr commented on #3392
@skeeey do you mind splitting the imagePullPolicy part out into a separate issue? Then we can use this issue to track the proxying issue.

[2019-03-19 17:38] mdemirhan opened #3456 "Crash looping revisions never gets scaled to zero"
/area autoscale

## What version of Knative?
HEAD

## Expected Behavior
A crash looping revision (let's say due to user-container issues) that is not targeted by any route should be scaled to zero.

## Actual Behavior
A crash looping revision is never scaled to zero, even when there are no routes to it.

[2019-03-19 17:39] mdemirhan commented on #3456
/cc @mattmoor @josephburnett @yanweiguo @hohaichi

[2019-03-19 17:41] tcnghia commented on #3052
This feature depends on Istio 1.1, moving out to 0.6

[2019-03-19 17:45] tanzeeb commented on #2464
Yeah, you're absolutely right -- the network probe in the activator wouldn't cover these test cases which are testing initial deploys that don't go through the activator.

I have a feeling the underlying cause (avoided in activator, not avoided in this case) is the same: the `VirtualService` is updated with a route (ie. Serving thinks the revision is good to go), but Istio/Envoy does not know abou

[2019-03-19 17:48] dgerd commented on #3223
Need to answer:
* How should platform providers and operators ban certain UIDs?
* How should we validate UID until we can perform kubernetes dryruns?
* Should we allow a platform default or update language? If we update langauge how do we easily ban UIDs?

[2019-03-19 17:56] mattmoor commented on #1976
Closing this as the issues are tracked by the above project.

[2019-03-19 17:56] #1976 closed

[2019-03-19 18:02] mattmoor commented on #3223
/milestone Serving 0.6
We'll have the basic test in 0.5, but the open questions above will likely overshoot.

[2019-03-19 18:04] mattmoor commented on #3236
This may be something @vagababov can address as part of the new Service work?

/assign @vagababov

[2019-03-19 18:05] mattmoor commented on #643
/milestone Serving 0.6
PRs for 0.5 scope are in 0.5 now, so moving this to 0.6 to track remaining work.

[2019-03-19 18:08] yanweiguo commented on #1624
Just went through activator code. You're right @markusthoemmes. Each revision has its own breaker: https://github.com/knative/serving/blob/master/pkg/activator/throttler.go#L54.

[2019-03-19 18:08] #1624 closed

[2019-03-19 18:13] yanweiguo commented on #974
This is already done. Current behavior is that probe requests are sent to check whether the pods are ready before forwarding the payload: https://github.com/knative/serving/blob/master/pkg/activator/handler/handler.go#L82

[2019-03-19 18:13] #974 closed

[2019-03-19 18:13] #3333 closed

[2019-03-19 18:14] hohaichi commented on #3301
**Proposal 3:  Let the autoscaler decide**

- Let the activator and queue-proxy report as they do now.
- Let the autoscaler discount overlapping stats from the activator and the queue-proxy of the same key.  In particular, given the same key:
  . Suppose Q(t) be the concurrency from queue-proxy at time t, and A(t) be the concurrency from activator at time t.
  . Then discount Q(t): Q(t) = max(0, Q

[2019-03-19 18:40] mattmoor commented on #3089
... over 80%

[2019-03-19 18:40] #3089 closed

[2019-03-19 21:17] #3392 closed

[2019-03-19 21:38] hohaichi commented on #3301
I talked to Matt.  So we want to have queue-proxy report metrics for requests going through activator and for requests not going through activator separately.  Then autoscaler can decide to use which metric(s).  For this particular issue, autoscaler will pick only the metric for requests not going through activator and get a result similar to proposal 2.

[2019-03-19 21:44] dgerd commented on #1006
@dushyanthsc Are we able to close this now that #3433 landed?

[2019-03-19 21:48] dushyanthsc commented on #1006
@dgerd Yes, we can close this issue.

The API Coverage results are now surfaced here: https://prow.knative.dev/?job=ci-knative-serving-webhook-apicoverage

[2019-03-19 21:53] dgerd commented on #1006
/close

[2019-03-19 21:53] #1006 closed

[2019-03-19 22:05] dgerd commented on #779
The two levels of versioning we have today are:
1. Release Versioning (i.e. Serving 0.4, Serving 0.5)
2. API Versioning (i.e. v1alpha1)

It is unclear to me if we need separate conformance test versioning at the moment or that we should move conformance to its own repository.

By packaging the conformance tests in the same repo with the Serving code we currently get Release Versioning for "free".

[2019-03-19 22:17] yanweiguo commented on #2720
/unassign @josephburnett
/assign @yanweiguo

[2019-03-19 22:45] vagababov commented on #2941
I think this is resolved:
[code]

[2019-03-19 23:53] #3183 closed

[2019-03-20 01:21] mattmoor commented on #2941
@vagababov this is the other half of the issue: If our controllers cannot create a resource for some reason, we should surface the error message.

Today we'd just spin loop reconciling the resource continuously failing :(

[2019-03-20 01:26] mattmoor commented on #2941
/assign
I think reconciliation errors would be a good use of events.  I'll take a look at how viable that is...

[2019-03-20 01:30] #3452 closed

[2019-03-20 02:00] skeeey commented on #3392
@jasonkeene is fine to me, I will log a new issue for imagePullPolicy part

[2019-03-20 05:33] steren opened #3463 "Knative should not migrate traffic to revision if it fails to be created"
My knative version is 0.3

I created a new revision with an image that failed to start, I see its status:

[code]

Observed:

The Service (in runLatest) is rolling out this failed revision and migrated 100% of the traffic to it.
Service seems to be `Ready = False`

Expected:
The Service should not be serving this revision. It should still be serving the previous one.

[2019-03-20 10:28] markusthoemmes commented on #3301
Thanks for the very detailed writeup @hohaichi

A few thoughts:

These are very important properties I think. I don't think the second sentence is true (depending on what "window" means here). I read it as "metric collection window", which is 1s in our case (as opposed to the aggregation window of 60s/6s respectively). As the activator now throttles requests based on the number of pods available i

[2019-03-20 11:13] #3367 closed

[2019-03-20 12:01] knative-flaky-test-reporter-robot opened #3569 "[flaky] test/e2e.TestAutoscaleUpCountPods"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleUpCountPods
* **Repository name**: serving

[2019-03-20 12:14] markusthoemmes opened #3466 "pkg/reconciler/v1alpha1/route.TestReconcile is flaky"
## In what area(s)?

## Error

[code]

Looks like yet another failure due to logging after test completion.

[2019-03-20 13:42] jasonkeene commented on #3392
@skeeey Gurl, you know I'm fine!

![](https://media.giphy.com/media/3o6ozuqROJcsTmBbPy/giphy.gif)

[2019-03-20 17:16] #1883 closed

[2019-03-20 18:16] hohaichi commented on #3301
Thank you for your thoughtful feedback, @markusthoemmes

The backlog case you pointed out is not as bad as you fear, if I understand what you mean correctly. When we add the concurrency from activator and the adjusted concurrency from queue-proxy, the total becomes the max of the two.  So there is theoretically a chance that backlog never drains, when the number of requests directly to queue-proxy

[2019-03-20 18:56] srinivashegde86 opened #3468 "Need a way to test different istio versions in our integration tests"
currently, we use the istio yamls defined in the config and only test on the version defined in that yaml.

We should be able to test atleast N, N+1, N-1 istio versions with the current serving master in our integration tests atleast as periodic runs.

[2019-03-20 19:54] #3050 closed

[2019-03-20 20:05] tanzeeb commented on #3276
Update: Pausing until Istio 1.1 lands.

[2019-03-20 20:28] yanweiguo commented on #2949
Moving this to 0.6 assuming Istio 1.1 is ready at that point.

[2019-03-20 20:29] yanweiguo commented on #2216
Please reopen it if this is still an issue with a global proxy enabled.

[2019-03-20 20:29] #2216 closed

[2019-03-20 21:00] yanweiguo commented on #3448
Hi @trisberg,

The minimal pod count specified by `autoscaling.knative.dev/minScale` will still be provided to a non-routed revision until the revision is GCed. I'm updating the document in #3461.

Please reopen this if you have further questions.

[2019-03-20 21:00] #3448 closed

[2019-03-21 00:03] yanweiguo commented on #2606
I did the following steps:

1. Added a log in `KPA` `Reconcile` function: `logger.Infof("Reconcile kpa-class PodAutoscaler. namespace=%s name=%s", namespace, name)`
1. Added a similar log in `HPA` `Reconcile` function.
1. Deployed knative serving.
1. Deployed `helloworld-go` sample app with `autoscaling.knative.dev/class: hpa.autoscaling.knative.dev` in `revisionTemplate`. Got revision `helloworld

[2019-03-21 00:33] hohaichi commented on #3301
I drafted PR#3477.  I am still working on tests, but I'd like to get early feedback on the approach, the choices of header and metric, etc.

@markusthoemmes @mattmoor @tcnghia your inputs are appreciated.

[2019-03-21 03:15] VeerMuchandi commented on #2480
@hohaichi I tested v0.4. Same issue. Scaling works when all the pods are gone. If one pod is left atleast it doesnt scale up. BTW, I am testing with minikube on Mac. What is your env?

[2019-03-21 03:38] #2941 closed

[2019-03-21 07:38] markusthoemmes commented on #3301
@hohaichi I think I see what you mean.

There is a strong correlation between the amount of workload that can be in-flight at a time (essentially defined by the amount of pods) and the drain-rate from the activator (also basically defined by the amount of pods). I can see that not being as bad as I imagined it to be.

Maybe we can a bit more nuanced? We could report 2 numbers from the Activator

1

[2019-03-21 10:22] tony-shi commented on #2930
What will happen if we have multiple auto-scalers and multiple activators and starting to scale from 0?
Since in #3064 has mentioned, it is possible to quickly set the pod size as 1 and rely on scrape user pod metrics to scale from 1 to N.

But if only one auto-scaler has the responsibility to scrape the metrics from the user pod, will the chosen auto-scaler be blind to see the pending requests bu

[2019-03-21 12:01] knative-flaky-test-reporter-robot opened #3576 "[flaky] pkg/reconciler/v1alpha1/route.TestNewRouteCallsSyncHandler"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/v1alpha1/route.TestNewRouteCallsSyncHandler
* **Repository name**: serving

[2019-03-21 12:01] knative-flaky-test-reporter-robot opened #3575 "[flaky] test/scale.TestScaleToN/scale-50"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-50
* **Repository name**: serving

[2019-03-21 12:01] knative-flaky-test-reporter-robot opened #3574 "[flaky] test/scale.TestScaleToN"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN
* **Repository name**: serving

[2019-03-21 12:01] knative-flaky-test-reporter-robot opened #3568 "[flaky] test/e2e.TestActivatorOverload"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestActivatorOverload
* **Repository name**: serving

[2019-03-21 12:01] knative-flaky-test-reporter-robot opened #3573 "[flaky] test/scale.TestScaleToN/scale-10"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-10
* **Repository name**: serving

[2019-03-21 13:32] VeerMuchandi commented on #2480
@hohaichi  BTW I tested it with Hey as well

[2019-03-21 14:25] xtreme-andrew-su commented on #3420
/assign

[2019-03-21 15:14] hohaichi commented on #2480
@VeerMuchandi My env is GKE.  I used serving version HEAD actually, although I think it shouldn't be different from 0.4.

[2019-03-21 15:16] hohaichi commented on #2480
@VeerMuchandi I can try minikube on Linux, I don't have a Mac though.

[2019-03-21 15:52] #3446 closed

[2019-03-21 16:08] markusthoemmes commented on #3301
The reason we buffer in activator is: https://github.com/knative/serving/issues/1409

[2019-03-21 16:43] dgerd opened #3481 "API Coverage: Missing coverage for EnvFrom"
## In what area(s)?

 /area API

 /area test-and-release

## Describe the feature

This issue is to add end to end test coverage the exercises the EnvFrom path and move the existing EnvPropagation conformance test to e2e tests as it requires the Kubernetes client to run. See comments below for more details.

[2019-03-21 16:48] dgerd opened #3482 "API Conformance Coverage: Missing coverage for Args/Cmd"
## In what area(s)?

 /area API

 /area test-and-release

## Describe the feature

This issue is to add API and Runtime conformance test coverage the exercises the Args and Cmd paths. An example would be creating a Service using Args and cmd and validating that the cmd with the args are executed as specified within the container (Runtime).

[2019-03-21 16:50] dgerd opened #3483 "API Conformance Coverage: Missing coverage for WorkingDir"
## In what area(s)?

 /area API

 /area test-and-release

## Describe the feature
This issue is to add API and Runtime conformance test coverage the exercises the WorkingDIr path. An example would be creating a Service using WorkingDir and validating that the specified workingDir is used when starting the container.

[2019-03-21 16:54] dgerd opened #3484 "API Conformance Coverage: Missing coverage for SecurityContext"
## In what area(s)?

 /area API

 /area test-and-release

## Describe the feature
This issue is to add API and Runtime conformance test coverage OR disable the usage of the remaining SecurityContext settings (runAsUser is already covered). Remaining items include:

* allowPrivilegeEscalation
* capabilities
* privileged
* readOnlyRootFilesystem
* runAsGroup (requires K8s 1.13)
* runAsNonRoot
* seLi

[2019-03-21 16:55] dgerd opened #3485 "API Conformance Coverage: Missing coverage for TCP Ports"
## In what area(s)?

 /area API

 /area test-and-release

## Describe the feature
None of our tests explicitly set TCP port and just take advantage of the TCP value. We should add a test that covers the client explicitly setting TCP as the protocol for the containerPort.

[2019-03-21 16:57] dgerd opened #3486 "API Conformance Coverage: Missing coverage for Readiness/Liveness Probe Options"
## In what area(s)?

 /area API

 /area test-and-release

## Describe the feature
All of our conformance test cases use HTTP probes. We do not have any coverage of TCPSocket probes. This issue is to add coverage of the probes (both Readiness and Liveness) to our conformance tests. In addition the existing HTTPGetAction type probes do not make use of all possible fields. The existing test cases sho

[2019-03-21 17:01] dgerd commented on #3486
FYI @yt3liu This is somewhat related to #2972.

#2972 is about adding liveness probe coverage while this is about adding coverage to the methods of probing (HTTPGetAction vs TCPSocketAction).

[2019-03-21 17:14] ergannon commented on #412
To expand on the research @tliberman shared and further assess our object model, we conducted a study with 19 participants: 9 with mostly Operator responsibilities, 8 with mostly Developer responsibilities, and 2 with an even split of both.

Qualitative data demonstrated that participants define a `service` as an entity that operates independently, is opaque to the consumer, sends and receives req

[2019-03-21 17:53] evankanderson commented on #412
Has any of this research been shared with the [Kubernetes sig-apps group](https://github.com/kubernetes/community/tree/master/sig-apps)?

[2019-03-21 20:24] dgerd opened #3492 "ConfigMap example values should be defaults"
## In what area(s)?

/area API

## Describe the feature
We currently provide examples to developers in the configmaps, but break out defaults elsewhere. This was done to prevent configmap changes from getting overridden on Knative upgrade. However, now it is unclear what the default settings are without opening up the code.

For this issue I propose:

1. Adding a comment in the config files to doc

[2019-03-21 21:29] hohaichi commented on #3301
@markusthoemmes Thank you for the reference.  Do you know if there's any reason other latency?  It seems not a good trade-off, because we sacrifice reliability for latency.  Furthermore, it solves the case of 0-N, but does not solve the same problem in 1-N or x-N scaling.

Proposal 2 in https://github.com/knative/serving/issues/1409#issuecomment-401299696 sounds better to me.

[2019-03-21 22:00] hohaichi commented on #2480
@VeerMuchandi I'm unable to try minikube today.

@tcnghia pointed out that this could be that one pod on your machine is powerful enough to handle the load, and thus it is not necessary to scale.

Could you try again with `container-concurrency-target-default` set to 1?
https://github.com/knative/serving/blob/9a44df0e64edcb943c7edfe2d3eac2be41aa2316/config/config-autoscaler.yaml#L58

And could you

[2019-03-21 23:18] yanweiguo commented on #2606
Events of the `Endpoints` with label `autoscaling.knative.dev/kpa` trigger `KPA` controller reconcile: https://github.com/knative/serving/blob/master/pkg/reconciler/v1alpha1/autoscaling/kpa/kpa.go#L118

All K8S Service created by Knative are labeled with `autoscaling.knative.dev/kpa`, so `HPA` class PA also gets enqueued.

@mattmoor question: my understanding is that `KPA` controller set `Replicas

[2019-03-22 07:07] markusthoemmes commented on #3301
@hohaichi you are correct. There are a few investigations in-flight as to how we can solve this in a more general way (see #3276 for example).

AFAIK it's purely for latency and for preventing 503s as the queue proxies will get overloaded fairly quickly.

[2019-03-22 07:16] markusthoemmes commented on #2606
@yanweiguo great find! AFAIK the KPA watches the endpoints in `kpa.go` https://github.com/knative/serving/blob/99774a5af4c7b688998ed05ec2c1e1f4e97eef70/pkg/reconciler/v1alpha1/autoscaling/kpa/kpa.go#L118-L122

It does that to be able to update the status of the KPA resource as soon as endpoints become ready. Should we fix this by not annotating everything with `/kpa` even if it's an HPA? That soun

[2019-03-22 08:56] vvraskin commented on #1573
Unfortunately I don't have cycles for this one in the next weeks.
/unassign

[2019-03-22 09:58] markusthoemmes commented on #1573
Gonna pick this up

/assign

[2019-03-22 12:01] knative-flaky-test-reporter-robot opened #3572 "[flaky] pkg/reconciler/v1alpha1/revision.TestGlobalResyncOnConfigMapUpdateDeployment/Update_Istio_Outbound_IP_Ranges"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/v1alpha1/revision.TestGlobalResyncOnConfigMapUpdateDeployment/Update_Istio_Outbound_IP_Ranges
* **Repository name**: serving

[2019-03-22 12:01] knative-flaky-test-reporter-robot opened #3571 "[flaky] pkg/reconciler/v1alpha1/revision.TestGlobalResyncOnConfigMapUpdateDeployment"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/v1alpha1/revision.TestGlobalResyncOnConfigMapUpdateDeployment
* **Repository name**: serving

[2019-03-22 19:01] ciaranRoche opened #3499 "Enabling CORS"
## What version of Knative?

## Expected Behavior

Receive a response from my Cluster from requests sent from a browser.

## Actual Behavior

Requests sent from a web app fail, Initial error was a generic CORS error. After disabling CORS in browser, and or disabling it in the request I get a `404` `net::ERR_CONNECTION_REFUSED` from my cluster.
Also I feel it worth saying that it is not an issue wi

[2019-03-22 19:08] tcnghia commented on #3499
@ciaranRoche how are you accessing the service through a browser?  Do you setup a domain, or do you use the IP address of the LoadBalancer?

[2019-03-22 19:16] ciaranRoche commented on #3499
Yeah just using the `INGRESSGATEWAY` IP.

I did noticed the preflight request was not adding the `Host` header, so I disabled the preflight `OPTIONS` request, and that is when the `404` error started.

[2019-03-22 19:51] #1573 closed

[2019-03-22 20:50] tcnghia commented on #3499
@ciaranRoche can you try specifying the host header exactly as in your curl command?  Something like https://chrome.google.com/webstore/detail/modheader/idgpnmonknjnojddfkpgkljpfnnfcklj?hl=en may help.

Another way is to edit your config domain to use something like `xip.io`.

[code]

[2019-03-22 20:57] ciaranRoche commented on #3499
@tcnghia awesome thanks, I will try that tomorrow, and ping you here if that solves it. Cheers.

[2019-03-22 21:12] mattmoor commented on #3463
What version of Knative are you using?

[2019-03-22 21:18] steren commented on #3463
My knative version is 0.3

[2019-03-22 21:29] markusthoemmes commented on #3463
Can't reproduce right now but this should've been fixed via https://github.com/knative/serving/issues/2735

[2019-03-22 21:37] jchesterpivotal commented on #1686
A quick update from where I was last week. I made two major changes.

### Listening for events being scheduled

I added a concept of listening for an event being _scheduled_, but not having yet _occurred_. This allows various entities to schedule their events ahead and behind other events from cooperating entities.

### Stock Movement

I introduced a concept of "Stock Movement", where a `Stockable

[2019-03-22 23:10] evankanderson commented on #2973
I'd change the second to also be a platform provider constraint.

Operators and platform providers MUST ensure that the OCI linux "Default
Devices" are available to the container. Additional device nodes beyond the
default are OPTIONAL and SHOULD be documented by the platform provider.

On Fri, Mar 15, 2019 at 12:50 PM Dan Gerdesmeier <notifications@github.com>
wrote:

--
Evan Anderson <argent@goo

[2019-03-23 10:53] ciaranRoche commented on #3499
@tcnghia I went with `xip.io`, and it works like a charm. Appreciate the quick resolution. Feel free to close out this issue 👍

[2019-03-23 16:21] tcnghia commented on #3499
@ciaranRoche glad to hear!  Please report problems when you see them.  Thanks

[2019-03-23 16:21] #3499 closed

[2019-03-23 21:02] mattmoor opened #3506 "Stop changing istio during upgrade/downgrade testing"
## In what area(s)?

/area networking
/area test-and-release

## What version of Knative?

HEAD

## Expected Behavior

Upgrade and downgrade testing should just change Knative.  Hitless Istio upgrades are Istio's problem.

## Actual Behavior

Our upgrade testing regularly hits problems fixed in our HEAD istio configuration (e.g. NodePort has seen a huge rash of failures, hitting [this](https://git

[2019-03-23 23:27] duglin commented on #3506
It seems to me that if our recommended version of Istio changes between our releases then we should  test that the old kn+istio install can be upgraded to the new kn+istio versions per our docs.

[2019-03-24 01:39] mattmoor commented on #3463
Pretty sure this was fixed in 0.4 which added tcp probes by default.  Feel free to reopen if it occurs on 0.4 or HEAD.  The workaround prior is to add a readiness probe.

[2019-03-24 01:39] #3463 closed

[2019-03-24 01:44] mattmoor opened #3508 "Activator should be healthy iff it is in contact with stat server"
## In what area(s)?

/area autoscale
/area networking

## What version of Knative?

HEAD

## Expected Behavior

The activator fundamentally needs to be able to send metrics to the autoscaler to perform its function, if that connection hasn't been established, or gets broken, then the activator must start failing health checks.

## Actual Behavior

The activator happily accepts requests and simply

[2019-03-24 21:57] mattmoor commented on #3506
To clarify: I'm totally fine with testing multiple versions of Istio, in fact I want us to be testing: 1.0 (mesh), 1.0 ("lean"), 1.1 (mesh), 1.1 ("lean"); though probably one of those presubmit.  (The same infrastructure should be used to test community plugins like Gloo's)

However, regardless of whether we document a particular version of Istio or not, it is simply not in scope for Knative and u

[2019-03-24 22:23] rgregg opened #3514 "Move default resource requests to the webhook"
## In what area(s)?
/area API

## Describe the feature
Today Knative defaults each user-container to request 400m CPU, if no other value is given. However, this is transparent to the end user. If you describe the ksvc, you don't see this request. It only shows up by describing the pods.

The code that does that is [here](https://github.com/knative/serving/blob/7f40e1ca20ffd18a54f26ac4f2c18c3a4c960

[2019-03-25 07:02] markusthoemmes commented on #3012
Is this a valid case for us to allow multiple container ports? If we'd surface the /metrics endpoint on a different port than "workload traffic", we could fix this issue.

We already introduced a convention as to how the ports must be named to support the right protocols. I think we could now safely allow multiple container ports with the assumption that the one carrying the protocol information w

[2019-03-25 08:19] #2606 closed

[2019-03-25 08:27] gyliu513 opened #3515 "Upgrade Istio to 1.1"
## In what area(s)?

/kind proposal

## Describe the feature

Istio 1.1 was now released, it is better enable serving can use Istio 1.1

/assign @zxDiscovery

[2019-03-25 09:07] glyn commented on #1686
Basic question: what does the first column of the trace represent (the "G"s and "M"s)?

[2019-03-25 10:11] markusthoemmes commented on #3515
Some context from a discussion in Slack:

---

@tcnghia [6:56 PM]
my tests with the recent RCs dont' seem to be more flaky than 1.0.x on our integration tests

But in the last two weeks I saw a bunch of PRs regarding stability
so may be the release today will be different
In the case of having no sidecars, the tests are passing fine
Since it's late in 0.5 we won't take a dependency on 1.1 features

[2019-03-25 11:11] gyliu513 commented on #3515
@markusthoemmes can we ship 0.5 together with Istio 1.1? I can do some test for this as well to make sure Istio 1.1 works well with Knative 0.5, comments?

[2019-03-25 11:27] markusthoemmes commented on #3515
I believe that work has already been done/is underway in https://github.com/knative/serving/pull/3353.

Further battle readiness testing is of course appreciated. The chat above suggests though that 0.5 will not shipped together with 1.1 (which doesn't prevent you from installing it anyway).

[2019-03-25 11:27] markusthoemmes commented on #3515
/cc @tcnghia

[2019-03-25 14:06] mattmoor commented on #3153
/milestone Serving 0.6
Talked to @markusthoemmes and we think that this has been addressed in 0.5.  Discussions continue on how to improve the signal (e.g. #3301), but the autoscaler should bias towards overprovisioning now avoiding the traffic loss.

I'm leaving this open and moving to 0.6 to track adding testing for this scenario.

[2019-03-25 14:13] mattmoor commented on #3153
/unassign @josephburnett @k4leung4
/assign @hohaichi

[2019-03-25 14:19] mgencur opened #3518 "Provide a way to run TestObservedConcurrency with different loads through parameters"
## In what area(s)?

## Describe the feature

The Scale tests currently accept parameters which tell them how much they should scale. A similar pattern would be useful for the TestObservedConcurrency which scales according to incoming requests. We should be able to pass different loads through a parameter and be able to test multiple scenarios if needed.

[2019-03-25 14:20] mgencur commented on #3518
I will work on that if there are no objections.

[2019-03-25 14:29] jchesterpivotal commented on #1686
Oh right! 'G' is a `GeneralEvent`, `M` is a `StockMovementEvent`.

The trace output will probably change. I spent some time working up diagrams of how a more completely "stock-and-flow" approach might look (see the PlantUML files in `docs/`). I'm hoping to perform that conversion this week.

[2019-03-25 14:32] mattmoor commented on #3508
We should add a handler [here](https://github.com/knative/serving/blob/17b9066d903fbec0fe56ac40015977bf6c58d2c6/cmd/activator/main.go#L263) that exposes a way to health check things and back it with status from the sink [here](https://github.com/knative/serving/blob/17b9066d903fbec0fe56ac40015977bf6c58d2c6/cmd/activator/main.go#L240)

[2019-03-25 14:39] markusthoemmes commented on #3508
Related to #2857

[2019-03-25 14:39] jchesterpivotal commented on #1686
Click through for fullsize images.

![Scaling up and down](https://i.imgur.com/1ohc3UG.png)

![Handling traffic](https://i.imgur.com/CnxRZP7.png)

[2019-03-25 15:17] mattmoor commented on #3508
I see a PR from @jsanda that's somewhat inactive, but doesn't cover this.  Do you know if he's actively working on this?

[2019-03-25 15:22] mattmoor commented on #3508
I need something for idle hands on the shuttle, I'll see how far I get :)

[2019-03-25 16:14] tcnghia commented on #3515
@gyliu513 there is only one week left and - I'd like to have more bake time.  @gyliu513 you are welcome to take over my PR https://github.com/knative/serving/pull/3353, and when integration tests passed we can check in as early as next Tuesday after 0.5.0 cuts.

[2019-03-25 17:04] mdemirhan commented on #1276
Moved this to 0.6 since the PR is going to land too close to 0.5 cut date and we probably need a longer bake time for this PR.

[2019-03-25 18:23] mattmoor commented on #3506
I believe all we have to do is change [these](https://github.com/knative/serving/blob/9af32f4f6cc8666766b2d83a3c536291bfe26ee8/test/e2e-upgrade-tests.sh#L47-L48) two lines to use [these](https://github.com/knative/serving/blob/9af32f4f6cc8666766b2d83a3c536291bfe26ee8/hack/generate-yamls.sh#L45-L46) env vars.

/assign @jonjohnsonjr
/unassign @adrcunha

[2019-03-25 20:13] yt3liu commented on #2972
From the Kubernetes deployment document, the liveness probe check is not one of the factors that can cause the deployment failure:

Your Deployment may get stuck trying to deploy its newest ReplicaSet without ever completing. This can occur due to some of the following factors:

Reference: https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#failed-deployment

[2019-03-25 20:45] #3079 closed

[2019-03-25 20:48] mattmoor commented on #3492
These are not universally defaults.

This is an example where we need to document something that defaults to empty ("mesh"): https://github.com/knative/serving/blob/523b6e1417de26d57f536874c8b889ea1e6d2ee1/config/config-istio.yaml#L54

Perhaps we should have `_defaults` or something to convey defaults?

[2019-03-25 20:51] mattmoor commented on #3435
In general, I'd be fine with cherry picking in test-stability fixes.  In this case, with 0.5 imminent, I'd let it go.

[2019-03-25 20:55] adrcunha commented on #3435
/reopen

I'm gonna delete it then.

[2019-03-25 20:57] mattmoor commented on #3434
I want to see us move this defaulting into the webhook, and then (like timeoutSeconds) we can make the defaults operator configurable?

[2019-03-25 21:45] gyliu513 commented on #3515
Thanks @tcnghia , let me check. I found that you are still using 1.1.0-rc.4 for your PR, I think we can switch to Istio 1.1 now ;-)

FYI @zxDiscovery @clyang82

[2019-03-25 22:29] #2857 closed

[2019-03-25 22:31] hohaichi commented on #2480
Autoscaling works for me with Minikube on Linux.  Note the highlighted pod [1], which was the only pod running when I hit it with a load [2].

[1]
$ kubectl get pods
NAME                                           READY   STATUS    RESTARTS   AGE
autoscale-go-9p9ts-deployment-c55d4647-7wlhx   0/3     Pending   0          30s
**autoscale-go-9p9ts-deployment-c55d4647-clhp4   3/3     Running   0

[2019-03-25 22:36] hohaichi commented on #2480
My minikube was created following this: https://github.com/knative/docs/blob/master/docs/install/Knative-with-Minikube.md.

Istio and knative are installed following this: https://github.com/knative/serving/blob/master/DEVELOPMENT.md

Autoscale-go and hey follow this: https://github.com/knative/docs/tree/master/docs/serving/samples/autoscale-go

@VeerMuchandi could you share your log when the prob

[2019-03-26 00:00] #2720 closed

[2019-03-26 00:11] dgerd opened #3527 "Support additional schemes for Service endpoints"
## In what area(s)?

/area networking

## Describe the feature
Knative currently assumes HTTP for the scheme of Service and Route endpoints. This assumption is in ClusterIngress, Route Status as well as in our End-to-End tests.

This issue is to add scheme knowledge into Knative and support HTTPS as an option. When we have URLs in Traffic Targets ( https://github.com/knative/serving/pull/3526 ) th

[2019-03-26 00:26] imikushin commented on #2949
Just found out that Istio 1.1.1 is ready!

[2019-03-26 03:08] #3309 closed

[2019-03-26 03:12] #3435 closed

[2019-03-26 04:58] mattmoor commented on #3420
@xtreme-andrew-su I'm checking in on all of the Serving 0.5 items.  Do you think this will be ready for a look soon?  If not I may push it to 0.6.

[2019-03-26 06:27] markusthoemmes commented on #2949
This has made its way into a fleshed out [proposal for implementation](https://docs.google.com/document/d/1byHQL6kePDZq6Qt4MqB-g4BDfiaJsfDPGb5oJEK1Ldo/edit?ts=5c81373b#heading=h.wwf0syhtntjh) and is currently in-flight of being implemented.

/unassign @jsanda
/assign @vagababov

[2019-03-26 06:28] markusthoemmes commented on #2949
/remove-kind good-first-issue

[2019-03-26 13:24] xtreme-andrew-su commented on #3420
@mattmoor Yup, I should be done with this soon!

[2019-03-26 14:12] mattmoor opened #3534 "Intermittent timeout cleaning up resources."
## In what area(s)?

/area test-and-release

## What version of Knative?

HEAD

## Expected Behavior

e2e completes without issue.

## Actual Behavior

e2e intermittently hangs deleting resources until timing out (an hour later!)
[code]

[2019-03-26 14:17] mattmoor commented on #3420
Awesome, thanks for jumping on it!

[2019-03-26 16:47] vagababov commented on #2949
Yeah, totes good first issue ;-)

*From: *Markus Thömmes <notifications@github.com>
*Date: *Mon, Mar 25, 2019 at 11:28 PM
*To: *knative/serving
*Cc: *Victor Agababov, Assign

/remove-kind good-first-issue

[2019-03-26 16:52] tanzeeb commented on #3515
One glaring problem I see with Istio 1.1 is the huge amount of log spam:

[code]

https://github.com/istio/istio/issues/12642

[2019-03-26 18:25] jonjohnsonjr commented on #912
We might need https://github.com/kubernetes-sigs/kubebuilder/issues/406 to be fixed before we can use the `crd generate` tool from kubebuilder.

[2019-03-26 19:24] mattmoor commented on #3420
Talked to @xtreme-andrew-su offline, but at today's task force we decided to reverse this decision in favor of effectively what we have today, so I'm going to close this for the time being.  Apologies (again) to @xtreme-andrew-su for the randomization and thanks (again) for jumping on this.

[2019-03-26 19:24] #3420 closed

[2019-03-26 20:33] #3301 closed

[2019-03-26 22:28] tcnghia commented on #3515
@gyliu513 I cleaned up the PR a bit, all tests are passing.  Next week we can check it in https://github.com/knative/serving/pull/3353  .

[2019-03-27 05:43] #2464 closed

[2019-03-27 06:17] #3434 closed

[2019-03-27 06:17] #3342 closed

[2019-03-27 09:19] lvjing2 opened #3547 "Support to patch annotation (like minReplica/maxReplica) in revision, and apply the modification to all it's sub resources."
## In what area(s)?
/area autoscale

/kind good-first-issue

/kind spec

## Describe the feature
Current, if I modify the minReplica and maxReplica in revision, the reconcile didn't apply such modification to all it's sub resources.

## How to reproduce
1. create a ksvc
2. patch the label and annotations for the revision
3. check the label and annotations for the revision, it had been patched
4. c

[2019-03-27 12:01] knative-flaky-test-reporter-robot opened #3567 "[flaky] pkg/reconciler/v1alpha1/route.TestRouteDomain"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/v1alpha1/route.TestRouteDomain
* **Repository name**: serving

[2019-03-27 12:01] knative-flaky-test-reporter-robot opened #3553 "[flaky] test/e2e.TestServiceToServiceCall"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestServiceToServiceCall
* **Repository name**: serving

[2019-03-27 15:52] rgregg opened #3550 "Add configurable defaults for more settings"
## In what area(s)?

Related to #3546, operators should be able to specify additional default values for new services that doesn’t specify values.

Memory request and limits
CPU limit (it looks like the previous PR added request but named it limit, we should fix that too)

/area API

[2019-03-27 17:55] srinivashegde86 commented on #3453
/assign

[2019-03-27 20:51] mattmoor opened #3554 "webhook diffs show up backwards"
## In what area(s)?

/area API

## What version of Knative?

HEAD

## Expected Behavior

When I add a bad field, it shows up with a `+`.
When I remove a bad field, it shows up with a `-`.

## Actual Behavior

When I add a bad field, it shows up with a `-`
When I remove a bad field, it shows up with a `+`.

## Steps to Reproduce the Problem

Change a Revision.

[2019-03-27 21:48] kramvan1 opened #3556 "Kubernetes deprecating resource versions"
## In what area(s)?

/area API

area build
/area monitoring
/area networking
/area test-and-release

## What version of Knative?

## Expected Behavior
Kubernetes is deprecating resource versions, need to move to the new levels
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.14.md#deprecation

1.16: Deployment, DaemonSet, ReplicaSet resources from extensions/v1beta1, apps/v1beta1 a

[2019-03-27 21:48] kramvan1 commented on #3556
cc @dug

[2019-03-27 23:00] bbrowning commented on #3550
Good catch on us calling the config option limit when it controls CPU requests in the referenced PR. Perhaps we should track that as a separate bug so that gets fixed even if we don't add more configurable defaults.

[2019-03-27 23:03] bbrowning commented on #3434
That seems like a reasonable solution - thanks!

@burrsutter So, in a future Knative release, we'll be able to set this once in a configmap and every Knative Service deployed to that minikube will get the lower CPU request values.

If you have any other tweaks needed for a good out-of-the-box experience on minikube let's ensure those are configurable and then we can work on the minikube installati

[2019-03-28 14:59] adrcunha opened #3565 "serving CI flow is timing out"
## In what area(s)?

/area test-and-release

## What version of Knative?

## Expected Behavior

No timeout.

## Actual Behavior

Test is timing out after 100 minutes. e.g.

https://storage.googleapis.com/knative-prow/logs/ci-knative-serving-continuous/1111236851898781696/build-log.txt

/assign @steuhs

[2019-03-28 15:10] adrcunha commented on #3565
Related: https://github.com/knative/test-infra/pull/582

[2019-03-28 15:14] adrcunha commented on #3565
The latency graphs don't show anything weird for the past 15 days. Actually the graphs are either stable or showing lower latency:

https://testgrid.knative.dev/knative-serving#latency&graph-metrics=latency

[2019-03-28 15:52] knative-flaky-test-reporter-robot opened #3570 "[flaky] 'pkg/reconciler/v1alpha1/route.TestReconcile' in repo 'serving'"
\<Auto-generated issue tracking flakiness of test\>
Test name: 'pkg/reconciler/v1alpha1/route.TestReconcile' in repo 'serving'

-------------Text below this line is for issues mapping, Please don't edit-------------
[DONT_MODIFY_TEST_IDENTIFIER]'pkg/reconciler/v1alpha1/route.TestReconcile' in repo 'serving'[DONT_MODIFY_TEST_IDENTIFIER]

[2019-03-28 15:52] #3570 closed

[2019-03-28 16:01] tzununbekov commented on #3481
wanted to work on this one, but isn't this covered in [envvars](https://github.com/knative/serving/blob/master/test/conformance/envvars_test.go) and [envpropagation](https://github.com/knative/serving/blob/master/test/conformance/envpropagation_test.go) tests?

[2019-03-28 16:16] nerusnayleinad opened #3577 "knative consumes too much CPU"
I'm doing some basic tests with knative on a 5 node kubernetes cluster (6VCPUs); on GKE. I installed istio and knative manually and separately (I like it more), and I am realizing that between GKE (that has all the pods in kube-system), istio and knative, I have no room to make my tests. GKE control plane usually consumes about 1VCPU. So the remaining 5 is between istio and knative.

My question i

[2019-03-29 02:47] lvjing2 opened #3581 "Consider to report stats in Queue-proxy only when it's user container is ready"
## In what area(s)?
/area autoscale

/kind proposal

## Ask your question here:
Current, the queue-proxy will start to report the stats once it started even if the user container is not ready.
But the stats when the user-container is still not ready is not believable to decide to whether should scale up or down, in fact there is no request be routed to the pod when the user container is not ready,

[2019-03-29 02:58] vagababov commented on #3581
I think I saw a PR to that end recently.

[2019-03-29 03:14] lvjing2 commented on #3581
Do you mean #3493 ?

[2019-03-29 03:36] vagababov commented on #3581
No, I don't think so.
I think this: https://github.com/knative/serving/pull/3538

[2019-03-29 04:06] lvjing2 opened #3582 "The concurrency metric scraped from prometheus exporter may not right"
## In what area(s)?
/kind autoscaler

## What version of Knative?
HEAD

## Expected Behavior
The concurrency metric scraped should always be right enough to decide scale up/down.

## Actual Behavior
https://github.com/knative/serving/blob/1a61e74305a9538b2ecc6663dc004b4e65c949c1/pkg/autoscaler/stats_scraper.go#L140-L153
I noticed that `Assume traffic is route to pods evenly.` in the comment, but I

[2019-03-29 04:48] lvjing2 commented on #3581
@vagababov Sorry, I can't get the same point with me from #3538 , it feels like to reduce the time in activator by poke the activator when the pod is ready when scaling up from 0 which is different with my propose.
My propose is applied to the stats from all user pod to autoscaler when creating a new pod, only to report the stats to autoscaler when the user-container is ready, or the autoscaler on

[2019-03-29 05:01] jeffcai commented on #2991
i have same issue with knative 0.4 and istio 1.0.6, any resolution? thanks,

[2019-03-29 05:56] ZhiminXiang opened #3584 "Need E2E Test for Istio mTLS after Istio 1.1 is landed in Knative"
## Describe the feature
After Istio 1.1 is landed in Knative, mTLS should be unblocked. We need an E2E test for mTLS feature.
We could reuse the existing [service_to_service test](https://github.com/knative/serving/blob/master/test/e2e/service_to_service_test.go), and enable mTLS based on that test.

[2019-03-29 06:43] markusthoemmes commented on #2467
This is in a kinda untriaged state right now. Could you elaborate a bit on why you need that decoupling is necessary? (Let me know if you'd rather discuss on the PR itself)

[2019-03-29 06:54] markusthoemmes commented on #3581
I commented under the PR, but cross-posting for posterity:

Which problem are we solving by doing this? The scraper scrapes a K8s service, which will only receive endpoints if the respective pods are ready. The pod will only go ready if the user-container has already been successfully probed.

That means: The scraper won't see the (arguably wrong) metrics until the user-container becomes ready, wh

[2019-03-29 12:01] #3568 closed

[2019-03-29 13:12] cdrage commented on #2991
@jeffcai Honestly, try checking your DNS haha

[2019-03-29 13:45] scothis opened #3586 "Race condition in Revision controller causing Ready to never become True"
## In what area(s)?

## What version of Knative?

## Expected Behavior

When a KService is created with a Build, I expect the Build to complete, the new image deployed and the Service's Ready condition is reported as True.

## Actual Behavior

Sometimes the Build complete, the new image is deployed, but the Revision never updates it's Ready condition to True, which causes the Service to never beco

[2019-03-29 14:52] yuzisun opened #3587 "Support PriorityClass on knative serving spec"
## In what area(s)?

## Describe the feature
Currently knative serving spec does not expose `PriorityClass` field, in a kubernetes cluster where has resource quota and preemption enabled it is important to have this field so that user can specify for high priority knative services to make sure they are not getting preempted.

[2019-03-29 15:31] lvjing2 commented on #3581
@markusthoemmes Yes, that's what i want to fix. the PR would only be useful in the previous directly sending stats from queue-proxy to autoscaler mode, but currently it had been change to scraper mode, then this PR is no need anymore.

[2019-03-29 15:31] #3581 closed

[2019-03-29 18:37] vagababov opened #3591 "KPA tests to be table tests"
## In what area(s)?

/area autoscale
/area test-and-release
/kind good-first-issue

## Describe the feature

Currently KPA tests are not table driven, brittle, hard to extend and manually populate both "etcd" databases and informers (i.e. informers don't sync).

Conversion to table tests will help to improve testability of the package.

[2019-03-29 20:29] #3450 closed

[2019-03-29 21:00] mdemirhan opened #3593 "A deployment with all unschedulable pods should show up in revision status"
/area API

If there are no resources remaining in a cluster to deploy a pod and when we try to scale up from zero, or when a user deploys a new revision, we should bubble up the information about the lack of capacity in revision status and make it easier for users to understand why their revisions might not be starting up correctly.

[2019-03-29 22:15] #2968 closed

[2019-03-29 22:53] dgerd commented on #3424
/assign @dgerd

[2019-03-29 22:57] dgerd commented on #3481
I created this issue based on output from our API Coverage Webhook (https://prow.knative.dev/?job=ci-knative-serving-webhook-apicoverage)

* EnvVars test covers the environment variables that are added by the system which is separate from this. See https://github.com/knative/serving/blob/master/docs/runtime-contract.md#process

* EnvPropagation covers the `valueFrom` case, but does not cover the `

[2019-03-29 23:28] trshafer commented on #3554
@mattmoor where does this value show up?

[2019-03-30 00:34] mattmoor commented on #3554
Try changing a field of a Revision and `kubectl apply`ing it.

[2019-03-30 04:39] yanweiguo commented on #3582
@lvjing2 you're right. Ideally we should get stats from every pods to get the accurate value. There're two reasons we couldn't do this:

1. When Istio sidecar is injected to the pods, we can not scrape the pods directly.
1. Scraping every pod is expensive when the pods count is large, say, 1000 pods.

To improve the situation, we can sample more each time. Currently it is hard coded 3 samples. We

[2019-03-30 12:00] knative-flaky-test-reporter-robot opened #3600 "[flaky] test/e2e.TestAutoscaleUpDownUp"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleUpDownUp
* **Repository name**: serving

[2019-03-30 12:01] knative-flaky-test-reporter-robot opened #3599 "[flaky] test/conformance.TestBlueGreenRoute"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestBlueGreenRoute
* **Repository name**: serving

[2019-03-31 07:37] fatkun opened #3601 "Autoscaler.Stat time field should use the time when it recieved"
## In what area(s)?

/area autoscale

## What version of Knative?

0.4.0

## Expected Behavior

There are one server system time is slow than other servers about one minute in our cluster.
In 0 to 1 stage, the pod should start after request.

## Actual Behavior

The pod not start.

## Steps to Reproduce the Problem

1. Set the two server with diffrent system time (1 miniute slower than other)
2. A

[2019-03-31 12:01] knative-flaky-test-reporter-robot opened #3602 "[flaky] test/conformance.TestReleaseService"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestReleaseService
* **Repository name**: serving

[2019-04-01 06:17] markusthoemmes commented on #3601
Hm, I don't have an ultra strong opinion here. Does Kubernetes in general work correctly with such a huge clock-drift?

The only drawback with taking the timestamp upon arrival is that we cannot detect if the metrics sent by the activator are largely outdated. Timeliness is important for our metrics, if for whatever reason the activator **really** sends metrics that are a minute old, we don't want

[2019-04-01 09:30] fatkun commented on #3601
@markusthoemmes
It's out test cluster, kubernetes seems work fine.I don't know other cluster the time always same.

If two server have 2 seconds different.The autoscaler will lost some metrics.

If delay less than 1 minute(stable window time ), autoscale will caculate concurrency  with partial metrics.
It's still not a **CORRECT** concurrency.

[2019-04-01 09:36] markusthoemmes commented on #3601
That's right, the question at hand is if it could be harmful to do that. You'd potentially run on *very* old metrics. I guess we'd do that either way, as we have no degradation of our metrics over time today anyway.

In that sense, I'd be okay with a PR setting the timestamp upon receive vs. setting timestamp at send.

[2019-04-01 10:12] markusthoemmes commented on #3582
In the same vein, we could make the scraper do its probes in a single scrape cycle. For example, calling `Scrape` once could result in N probes, which we'd take the average from before extrapolating via the current pod count. That'd make for a smoother graph than what we have today.

Today, we essentially take that average in the autoscaler. There is a chance however, that the autoscaler observes

[2019-04-01 12:01] #3576 closed

[2019-04-01 14:08] tanzeeb commented on #3416
Holding off until https://github.com/knative/serving/issues/3134 lands (cc @josephburnett @markusthoemmes )

[2019-04-01 14:21] mattmoor commented on #3384
@PascalStieber I'd like to better understand how you expect to use Mongo in this case.  Mongo seems like a canonical example of "state" and we're really oriented towards "stateless" services.  If you want any sort of durability out of the data stored into Mongo, then you are gonna have a bad time.

Imagine that each pod lives for ~1 request, what is the colocated Mongo doing for you?

[2019-04-01 15:27] tanzeeb commented on #3586
/assign

[2019-04-01 16:28] vagababov commented on #3554
I think matt means this function:
https://github.com/knative/serving/blob/master/pkg/apis/serving/v1alpha1/revision_validation.go#L375

[2019-04-01 18:13] trshafer commented on #3554
Thanks, I'm still unable to replicate this in the kubectl cli and the test output appears to be accurate. I added a new test that adds a new field as this issue addresses adding new field and there was not a test that added a new field.

[2019-04-01 20:34] vagababov commented on #3554
@mattmoor ,
I get the correct behavior:
[code]

[2019-04-01 20:39] trshafer commented on #3554
Thanks @vagababov for the command assistance. I was able to create the immutable error failure in the cli. However the command output the expected behavior.

[code]

[2019-04-01 20:44] Justin2997 commented on #1996
I think the PR will fix it in the new version : https://github.com/kubernetes/kubernetes/pull/75587

[2019-04-02 12:57] bbrowning opened #3620 "Allow users' pods to opt out of the Istio mesh"
## In what area(s)?

## Describe the feature
Today we unconditionally opt user pods into the Istio mesh. Obviously if Istio isn't installed they don't get the mesh sidecar, but if Istio is installed there's no way for a user to specify that some or all of their Knative Revisions should not be part of the mesh.

See https://github.com/knative/serving/blob/ca4fffb4743924c58e98badcf5bd3f17a3634d43/pk

[2019-04-02 13:00] bbrowning commented on #3620
/kind good-first-issue

[2019-04-02 13:00] bbrowning commented on #3620
/area networking

[2019-04-02 14:02] markusthoemmes commented on #1816
There's an ongoing thread on users list about the requirements for this feature. We're looking at user feedback to decide if we implement this. https://groups.google.com/forum/#!topic/knative-users/cRP14_hAybM

### Why debating anyway?

Doing this has the potential to break abstractional layers in that suddenly the user gets to decide which nodes will be used to schedule her pods. In principle, th

[2019-04-02 14:29] duglin opened #3626 "Label: "serving.knative.dev/release" should have release name"
## In what area(s)?
/area test-and-release

## What version of Knative?

0.4.x
HEAD

## Expected Behavior

label `serving.knative.dev/release: devel` should have the release name/number instead of `devel`

## Actual Behavior

it's set to `devel`

## Steps to Reproduce the Problem

Install v0.4.0

/cc @evankanderson

[2019-04-02 15:31] k4leung4 commented on #3515
PR is merged now.

/close

[2019-04-02 16:00] scothis commented on #3586
I've been unable to reproduce this issue with the nightly builds. I'll reopen if I see the issue with 0.5.

/close

[2019-04-02 16:00] #3586 closed

[2019-04-02 17:38] tanzeeb commented on #3308
/assign

[2019-04-02 18:25] tanzeeb opened #3629 "Scale to zero cannot be disabled"
## In what area(s)?

/area autoscale

## What version of Knative?

## Expected Behavior

When you set, `enable-scale-to-zero: "false"` in `config/config-autoscaler.yaml`, deployments should not be scaled to zero.

## Actual Behavior

When you set, `enable-scale-to-zero: "false"` in `config/config-autoscaler.yaml`, deployments are scaled to zero.

## Steps to Reproduce the Problem

1. Deploy Servin

[2019-04-02 18:25] tanzeeb commented on #3629
/assign

[2019-04-02 23:55] JungukCho opened #3633 "Can we run any binaries in existing docker images on Knative without modification?"
## In what area(s)?

## Ask your question here:
Can we reuse existing docker images?
For example, I have an docker images which has one executable binary (e.g., compiled C/C++ code) and want to execute the binary without modifying the binary (i.e., adding http server part) in Knative Serving.

I checked some examples (https://github.com/knative/docs/tree/master/docs/serving/samples) and it seems w

[2019-04-03 11:34] duglin commented on #3629
what's the diff between this option and minScale=1 ?

[2019-04-03 11:41] markusthoemmes commented on #3629
This option is system-wide, minScale is per revision.

[2019-04-03 12:01] #3572 closed

[2019-04-03 12:01] #3571 closed

[2019-04-03 12:12] duglin commented on #3629
ah ok thanks!

[2019-04-03 12:22] #3601 closed

[2019-04-03 17:01] tanzeeb commented on #3629
False alarm, please ignore.

[I didn't read the comments in the config file](url).
[code]

So I was effectively setting:
[code]
Instead of:
[code]

Setting the latter works exactly as advertised.

[2019-04-03 17:23] Justin2997 commented on #3633
I did not understand, do we when to run a terminal command? Do you need to change the HTTP server on the spot? You can, take really any docker image and boot it with Knative Serving.

[2019-04-03 17:26] Justin2997 commented on #3577
I don't have a technical answer but if you install Docker for mac you need minimal 4 CPU and 8 Go of RAM, so I assume that really needed. Maybe Istio uses a lot of that resource. https://www.knative.dev/docs/install/knative-with-docker-for-mac/

[2019-04-03 17:29] Justin2997 commented on #3577
#2978

[2019-04-03 18:48] tanzeeb commented on #3629
Nevermind the false alarm, still scaling to zero after a few minutes:

[code]

[2019-04-03 21:01] yanweiguo commented on #3547
Revision is immutable. We don't expect patching to a revision will make a change.

Instead, we should not allow users to modify the revision. IIUC, currently making fields of K8S CRD resource immutable is still a [feature request](https://github.com/kubernetes/kubernetes/issues/65973). @mattmoor Is it possible to reconcile labels and annotations of a revision to its first status?

[2019-04-04 00:45] dgerd commented on #3424
Spent some time looking at implementing this. I think we will want to add this to the validator to replace all of the disallowed fields checks that we have today. Getting an error that a field is set that shouldn't be set seems preferable to un-setting disallowed fields through the defaulter.

There are a few ways we can implement the copy & compare functions although none of them stick out as gre

[2019-04-04 06:05] markusthoemmes commented on #3547
FWIW, IIRC these can be corrected "in-place" by adjusting the PodAutoscaler entity directly.

[2019-04-04 12:01] #3602 closed

[2019-04-04 15:54] mattmoor opened #3651 "config-domain doesn't cover domainTemplate"
## In what area(s)?

/area networking

## What version of Knative?

0.4.x
HEAD

## Expected Behavior

[This](https://github.com/knative/serving/blob/b5ae99b62303ff31437ba49b7fe48a664a74bdae/config/config-domain.yaml#L24) should have an example that reflects the default and has a clear comment warning "there be dragons" and that tweaking this can create collisions across namespaces, so this isn't s

[2019-04-04 15:55] duglin commented on #3651
See: https://github.com/knative/serving/pull/3650

[2019-04-04 16:27] yanweiguo commented on #3547
Yeah, we allow changing the annotations of the PodAutoscaler and expect a change: https://github.com/knative/serving/tree/master/docs/scaling

[2019-04-05 00:01] greghaynes opened #3660 "Activator erroring with updating capacity failed"
## In what area(s)?

/area autoscale

## What version of Knative?

Activator repeatedly prints error message similar to:

[code]

[2019-04-05 07:42] dicarlo2 opened #3662 "Activator probes do not work with istio health probe rewriting"
## In what area(s)?

/area networking

## What version of Knative?

HEAD

## Expected Behavior

Probe support added in https://github.com/knative/serving/pull/3519 works with istio probe rewrites.

## Actual Behavior

It does not.

## Steps to Reproduce the Problem

Turn on istio probe rewriting and observe that the container is never live nor ready. It appears that istio does not forward the user

[2019-04-05 09:14] jxadro opened #3663 "Rollback to a previous revision without specifying "current" revision configuraiton"
## Describe the feature

Working with services if you want to rollback all the traffic to an old revision you have to set the "revision" parameter to the old revision id.

And that is all that should be needed but the spec force you to set also the configuration parameters.

Example:

This is the desired behaviour:

    apiVersion: serving.knative.dev/v1alpha1
    kind: Service
    metadata:

[2019-04-05 09:30] markusthoemmes commented on #3662
https://istio.io/help/ops/setup/app-health-check/#probe-rewrite documentation for reference. I assume that that's what we're looking at here?

[2019-04-05 15:41] tcnghia commented on #3419
/assign

[2019-04-05 16:42] nerusnayleinad commented on #3577
Thanks.
But then it makes knative to be for "big" users.
Users with few nodes would pay significant more.

[2019-04-05 17:52] mattmoor opened #3670 "Stop releasing istio.yaml"
## In what area(s)?

/area networking
/area test-and-release

## What version of Knative?

HEAD

## Expected Behavior

We should not release `istio*.yaml`.  These are curated for the purposes of our own testing, and not something we can/should support.  Instructions for standing up Istio in docs should be folded into the instructions for setting up a Kubernetes cluster (this would also enable vend

[2019-04-05 18:32] bbrowning commented on #3670
Just voicing my support here - we spend a non-trivial amount of energy documenting and fixing bugs with Istio installations. And I've had feedback that users are confused how to use Knative with existing Istio installations, which would be alleviated if we only assumed existing Istio installations if you want Istio.

This ties in nicely work our other work to remove the hard dependencies on Istio

[2019-04-05 18:44] jchesterpivotal commented on #3670
I'm also supportive, though perhaps for a different reason. If bundling Istio interferes with the immutability of Knative's releases (as it did recently because of upstream CVEs), then it should be unbundled. Based on other experiences I've had, this is a bit like switching from static linking to dynamic linking and the relative joys and sorrows thereof.

We'll need to consider our test matrix and

[2019-04-05 19:04] jchesterpivotal commented on #1686
For those still following along, there's now an open repo that I'm working out of: https://github.com/pivotal/skenario

The key evolution in the design is that the organising concept is the _movement_ of _entities_ between _stocks_. The future-scheduling concept is retained. So far I've managed to avoid introducing `OnSchedule` or different "event" types. I added `OnMovement`, but I believe this w

[2019-04-05 20:53] #361 closed

[2019-04-05 21:14] duglin commented on #3670
Will we still ship the smaller yaml of knative specific istio stuff we install? See: https://github.com/knative/serving/pull/3640

[2019-04-05 21:16] tcnghia commented on #3670
@duglin we will need to add instruction how to install it from Istio and also how to setup Knative to refer to those Istio customization.

[2019-04-05 22:34] RichieEscarez opened #3674 "Inconsistent URL for "clusterrole.yaml""
## In what area(s)?

## What version of Knative?
 HEAD
0.4
0.5

## Expected Behavior
Intuitive URLs to the manifest files during install. And all related files are displayed in the corresponding component's release page.

## Actual Behavior

`clusterroles.yaml` uses a "gitusercontent" URL unlike all the other install manifest (github.com urls):

https://raw.githubusercontent.com/knative/serving/v0

[2019-04-06 00:04] mattmoor opened #3676 "Simplify Route's TrafficTarget logic"
## In what area(s)?

/area API

## What version of Knative?

HEAD

## What's up...

The logic [here](https://github.com/knative/serving/blob/82dcee163c35db2e17214b3b3da88482bd3e30fe/pkg/apis/serving/v1alpha1/route_validation.go#L62-L63) is more complex than needed.  It should simply use a `map[string]int` to track the conflicting index.

[2019-04-06 12:01] #3575 closed

[2019-04-06 15:26] sebgoa opened #3680 "Istio upgrade gives error about job"
/area networking

## What version of Knative?

## Expected Behavior

Applying a new Istio release should not cause an error

## Actual Behavior

[code]

## Steps to Reproduce the Problem

Start from 0.3 release maybe even 0.4.0.

Note that the job was 137 days old and may have been a remnants of very early Istio install.

[code]

Apply the Istio manifest.

## Steps to solve

As mentioned on Slack

[2019-04-06 16:14] JungukCho commented on #3633
I don't say I want to run a terminal command. I want to use my existing docker image which has my own application. However, the application does not have HTTP server logic.

Absolutely, I can run my existing docker image on Knative, but I cannot get the request since it does not have HTTP server part to receive the request as far as I knew so far.

So, the question is whether KNative has a solutio

[2019-04-06 16:35] JungukCho opened #3681 "How to run chaining of multiple functions"
## Ask your question here:
I want to run chaining of multiple functions on KNative.
For example
Client -> A function -> B function
Is there any examples for that?

Also, if I want to run K8s (e.g., Guestbook (https://kubernetes.io/docs/tutorials/stateless-application/guestbook/)) or Istio (e.g., Bookinfo (https://istio.io/docs/examples/bookinfo/) examples, what steps (or procedures) do I need?

[2019-04-08 11:54] duglin opened #3687 "Allow for a per Service URL to be specified"
## In what area(s)?

/area API
/area networking

/kind spec
/kind proposal

## Describe the feature

It would be nice if there was a way to allow for a KnService to specify it's URL, rather than to have the system pick it via the `domainTemplate` config option (or the default value of name.ns.domain).

I think this is related to the notion of Revisions being allow to have a per-revision Name (and

[2019-04-08 13:40] duglin commented on #3633
I'd say this is still under discussion. We have similar needs.

[2019-04-08 15:14] Justin2997 commented on #3633
I think for now Knative is making for a container that has an HTTP server logic, but that can be an interesting use case. I invite you to join Knative Slack to discuss it.

[2019-04-08 15:14] JungukCho commented on #3633
Is there a post or issue tracker for this discussion to know the direction of this need?

[2019-04-08 17:08] yanweiguo commented on #3629
I can reproduce this from master branch. @tanzeeb are you currently working on a fix? I'm happy to help.

[2019-04-08 18:13] tanzeeb commented on #3629
Hey @yanweiguo, yes @pivotal-joshua-rider and I are currently working on it.

We've found the root causes, evaluating the fixes.

https://github.com/knative/serving/blob/f1b1723ddc78f96f84eb1a7c85893649a6a55f00/pkg/autoscaler/multiscaler.go#L344-L347
https://github.com/knative/serving/blob/f1b1723ddc78f96f84eb1a7c85893649a6a55f00/pkg/reconciler/v1alpha1/autoscaling/kpa/scaler.go#L207-L211

[2019-04-08 18:13] tanzeeb commented on #3629
/assign @pivotal-joshua-rider

[2019-04-08 18:49] tanzeeb commented on #3629
Hey @yanweiguo, looks like you've got a PR for this. The fix looks great, but please give us a heads up in the future so that we aren't all wasting effort on the same story.

/unassign @tanzeeb @pivotal-joshua-rider

[2019-04-08 19:55] duglin opened #3689 "Add some unique value to the list of available variables for route URLs"
## In what area(s)?
/area API
/area networking

/kind good-first-issue
/kind proposal

## Describe the feature

Right now there are 3 different variables that a user can choose from when they customize the route URL: KnServiceName, KnServiceNamespace, Domain

It would be nice if there was some KnService Unique value that could also be available so that they could make it something like `{{.Name}}-

[2019-04-08 20:05] yanweiguo commented on #3629
@tanzeeb Sorry for the miscommunication.

[2019-04-08 20:51] mdemirhan commented on #3629
Assigning to @yanweiguo to prevent yet another person looking into this :-)

[2019-04-08 21:08] yanweiguo opened #3764 "Provide the ability to test different configmap settings for e2e tests"
Taking Knative serving for example, e2e tests are running against default configmap settings under https://github.com/knative/serving/tree/master/config.

It will be nice if we can run e2e tests against different settings. For example, `enable-scale-to-zero` defaults to "true". The following e2e test is nice to have:

-  Check the pods are not scaling to zero when no traffic coming to a revision a

[2019-04-09 16:02] nader-ziada commented on #3620
/assign

[2019-04-09 16:04] scothis commented on #3620
I'm not sure this is a good idea. Operators may be using the mesh as a mean of policy enforcement. Dropping Istio means dropping the enforcement mechanism. If an operator choose to not deploy Istio that fine, but it seems potentially problematic for a user to opt-out on their own.

[2019-04-09 16:11] nader-ziada commented on #3620
/unassign

[2019-04-09 16:44] mattmoor commented on #3620
It is not our place to make that call.  This is an Istio scenario, and they should provide operators with the appropriate knobs to enforce that as part of their policy story.  Given what we have today, we are explicitly _**removing**_ knobs, which we should stop.

Knative should require zero knowledge of the mesh.

[2019-04-09 17:41] andrew-su commented on #3676
/assign

[2019-04-09 18:35] bbrowning commented on #3620
@scothis If an Operator is using the mesh for policy enforcement then the Operator must have things configured where any Istio-related annotations a user places on any of their Knative or K8s resources are ignored anyway. Thus, this change would have no effect.

However, I would agree with @mattmoor that we should move to a place where Knative doesn't have to make decisions about Istio's mesh spec

[2019-04-09 18:49] bbrowning opened #3700 "First request scaling from zero hangs for 30s when mesh is disabled"
## In what area(s)?
/area networking

## What version of Knative?
0.5.x

## Expected Behavior
With Istio's mesh disabled (ie using istio-lean.yaml) the first request when scaling from zero should finish as soon as the pod scales up and is ready.

## Actual Behavior
With Istio's mesh disabled (ie using istio-lean.yaml) the first request when scaling from zero hangs for a bit over 30 seconds every t

[2019-04-09 18:56] scothis commented on #3620
I agree with decoupling further from Istio.

[2019-04-09 19:30] bbrowning opened #3702 "Ingress class annotations on Service not added to Route"
## In what area(s)?
/area networking
/kind good-first-issue

## What version of Knative?
0.5.x

## Expected Behavior
Setting the `networking.knative.dev/ingress.class` annotation on a Knative Service's metadata (at the Service level, not inside the revisionTemplate) should cause that annotation to also get set on the Route created for that Service.

## Actual Behavior
Setting the `networking.knati

[2019-04-09 21:30] #3660 closed

[2019-04-09 21:39] bbrowning opened #3706 "Front ingress gateways (Istio or others) with Kubernetes Ingress"
## In what area(s)?
/area networking
/kind proposal

## Describe the feature
This proposal is for us to create a [Kubernetes Ingress](https://kubernetes.io/docs/concepts/services-networking/ingress/) resource pointing to the istio-ingressgateway for every external Knative Route. Then, this K8s Ingress becomes the entrypoint for requests into the cluster instead of via the ingress gateway's LoadBal

[2019-04-09 21:47] bbrowning commented on #3706
To give a concrete example, given this `ClusterIngress` from my local Knative 0.5.0 on minikube:
[code]
We would create a K8s Ingress entry like:
[code]

Basically, every `ClusterIngress` gets turned into a K8s `Ingress` in the `istio-system` namespace with one or more hosts that all point to the `istio-ingressgateway`. We'd exclude internal hostnames - `helloworld-go.default.svc.cluster.local` an

[2019-04-09 22:03] tcnghia commented on #3706
One other option to consider is to use a single Ingress for all of the Routes exposed through `istio-ingressgateway`, which would allow us to share the IP instead of creating a new IP address for every new Route.

[2019-04-09 23:01] bbrowning commented on #3706
Yes, good point. My only concern is running into some limits around the number of hosts per Ingress - I'm not aware what those are, but I suspect it differs per Ingress implementation.

I will admit that in most of my testing I create a single catch-all Ingress that sends all traffic to my Knative ingress gateway. But, that might not be the best thing to do on a cluster that is a mixture of Knativ

[2019-04-10 04:19] #3676 closed

[2019-04-10 07:42] markusthoemmes commented on #3620
I sure agree as well decoupling from Istio entirely. I do think however that this change is a good low-hanging fruit and small enough to do tactically anyway.

[2019-04-10 07:44] markusthoemmes commented on #3700
The Throttler's job is to indeed wait for endpoints on the K8s service. However, there is a propagation time period between adding an Endpoint to the service and the networking rules being ready on the node where the activator runs.

[2019-04-10 08:05] dicarlo2 commented on #3662
Yup, that's what we're looking at.

[2019-04-10 08:06] dicarlo2 commented on #3662
FWIW, this may be a bug on istio's side. It may make sense for the probe rewrite to forward the headers as well.

[2019-04-10 12:14] bbrowning commented on #3706
Actually, I think what I said above is too complicated. What if we start by just configuring a single catch-all K8s Ingress that sends all traffic to the istio-ingressgateway? I believe the crucial bit I forgot is that every K8s Ingress gets its own IP address so users would only send requests to that IP that they want to go to Knative anyway.

[2019-04-10 16:27] vagababov commented on #3700
So is it lack of route to the endpoint that blackholes?

[2019-04-11 02:27] tcnghia commented on #3706
I believe there is still the limitation of Ingresses having to stay in the namespace of the Service they refer to, unless we follow https://github.com/kubernetes/kubernetes/issues/17088#issuecomment-157187876 .

If the Ingress has to stay in the same namespace of the load balancer, then implementation details will still leak.

[2019-04-11 02:56] tcnghia commented on #3706
May be @vagababov SKS can help us here to avoid the extra hop.

[2019-04-11 03:14] vagababov commented on #3706
We kind of do exactly that. No selector service and manual endpoints.

On Wed, Apr 10, 2019 at 7:56 PM Nghia Tran <notifications@github.com> wrote:

[2019-04-11 04:06] tcnghia opened #3731 "KpaDeciders should only watch PAs having the right annotation"
## In what area(s)?

## What version of Knative?

## Expected Behavior

Currently we watch all https://github.com/knative/serving/blob/fb5ec94ec34dcb58e34b30e1d7ece8a3d3b99198/pkg/reconciler/v1alpha1/autoscaling/kpa/kpa.go#L155, and then filter some out https://github.com/knative/serving/blob/fb5ec94ec34dcb58e34b30e1d7ece8a3d3b99198/pkg/reconciler/v1alpha1/autoscaling/kpa/kpa.go#L179 .  I believe

[2019-04-11 08:58] markusthoemmes commented on #3700
I think it'd be feasible to work around this (and other possible bugs on that route) by setting a very small timeout on the probe requests. I'd suggest 50ms based on what @greghaynes had mentioned on a similar bug already.

[2019-04-11 12:01] #3573 closed

[2019-04-11 12:01] #3600 closed

[2019-04-11 12:01] #3574 closed

[2019-04-11 12:09] josephburnett commented on #3134
TODO:
1. upgrade Knative to autoscaling/v2beta2 for custom metrics
2. point the HPA to a custom metric if found in the PodAutoscaler annotations in the [`makeHpa`](https://github.com/knative/serving/blob/279ee3e195bcd0fb53356b6f21a323ba8edba8a3/pkg/reconciler/v1alpha1/autoscaling/hpa/resources/hpa.go#L29) method.

[2019-04-11 12:10] josephburnett commented on #3134
Note: you'll put the actual annotation key strings in [`register.go`](https://github.com/knative/serving/blob/master/pkg/apis/autoscaling/register.go).

[2019-04-11 20:12] #3230 closed

[2019-04-11 23:18] yanweiguo opened #3740 "Dynamically change autoscaling metrics scraping frequency based on pods size"
## In what area(s)?

/area autoscale

## Describe the feature

Dynamically change autoscaling metrics scraping frequency based on pods size of a revision instead of a fixed number of 3.

Say there are 100 pods of a revision. The concurrency of the revision can not be reflected by 3 samples accurately in most cases. The sample size should increase to get more accurate data.

[2019-04-11 23:19] yanweiguo commented on #3740
cc @markusthoemmes @hohaichi @josephburnett

[2019-04-12 06:58] whynowy commented on #3662
It appears to me that even mTLS is not enabled, `activator` is neither live nor ready.... I used the Istio 1.1.2 from serving repository.

[2019-04-12 07:38] whynowy commented on #3662
Realized my issue is different, `autoscaler` and `activator` can not talk to kubernates API, which is super weird (`connect: connection refused`).... all the other components are working well.

[2019-04-12 10:03] josephburnett commented on #3134
@kevinswiber is working on this.

[2019-04-12 18:09] trshafer opened #3745 "Validation Script"
## In what area(s)?

/area test-and-release

## Describe the feature
It would be helpful to have a validation script that took in a kubeconfig and gave a pass/fail or likelihood of passing if knative could be run on the cluster. The script would be run by a cluster admin and validate that the kubernetes cluster is properly setup to support knative.

It would be run like: `validate-cluster.sh --kub

[2019-04-13 05:52] #3231 closed

[2019-04-13 10:07] wwojcik opened #3751 "activator error: revision.serving.knative.dev "" not found"
/area activator

## What version of Knative?
0.5.1

error in activator container
{"level":"error","ts":"2019-04-13T09:53:11.598Z","logger":"activator","caller":"handler/handler.go:70","msg":"Error while getting revision","knative.dev/controller":"activator","knative.dev/key":"/","error":"revision.serving.knative.dev \"\" not found","stacktrace":"github.com/knative/serving/pkg/activator/handler.(*A

[2019-04-14 14:21] #3651 closed

[2019-04-14 16:00] mattmoor commented on #3554
I think in the context of the webhook, the original issue was with a PR I had in-flight.  I thought I'd copied [this](https://github.com/knative/serving/blob/8c4fadc6e714747bfe0405d644026bf43a956836/pkg/apis/serving/v1alpha1/revision_validation.go#L59) but my orientation was reversed.

That said, I suspect there are likely a fair number of places in tests we have this backwards.

[2019-04-14 16:17] mattmoor commented on #3419
@tcnghia and I discussed this a bit a week or so ago, and I wanted to surface the current thinking here.

I'll start with the broad strokes, so folks can tl;dr the rest.
 * Resources-wise, we will stick with Route -> ClusterIngress
 * We will use `N+1` "placeholder services" which are 1:1 with "Kevin"s above.

---

Sticking with a single ClusterIngress punts on a variety of migration issues that w

[2019-04-14 17:02] DaspawnW commented on #3751
I can see the same error after installing Knative Serving 0.5.1 and also 0.5.0

I use Istio in Version 1.1.2 deployed via Istio Operator of Banzai Cloud.

{"level":"error","ts":"2019-04-14T17:00:44.793Z","logger":"activator","caller":"handler/handler.go:70","msg":"Error while getting revision","knative.dev/controller":"activator","knative.dev/key":"/","error":"revision.serving.knative.dev \"\" not

[2019-04-14 18:06] mattmoor commented on #3419
I think this work should start with some cleanup of the Route controller, which is currently a bit messy.

Currently the Route controller has `traffic.Config` and `traffic.RevisionTarget` abstractions, which if you squint (at the latter) is kind of the predecessor to Kevin.  Let's start by cleaning this abstraction up to encapsulate all of the information we need to program ClusterIngress.

Curren

[2019-04-15 03:09] nimakaviani opened #3759 "app scale down results in dropping ongoing requests"
## In what area(s)?

/area autoscale

## What version of Knative?

## Behavior

It appears that the autoscaler's downsizing strategy is to reduce the number of replicas on a deployment and then deferring to k8s to decide which containers to kill. As such, it is very likely for k8s to terminate containers which are already serving requests. If those requests happen to take longer than [rev.Spec.Tim

[2019-04-15 03:09] nimakaviani commented on #3759
/cc @duglin

[2019-04-15 04:39] wwojcik commented on #3751
I use istio 1.1.2

[2019-04-15 06:46] markusthoemmes commented on #3759
Are you using a packaged Istio version? There is an E2E test that verifies this behavior specifically and checks that a container is not killed while there is still workload running on it.

The 504s make me curious as well. Usually, you'd see the request straight up fail vs. timing out because it's never handled.

[2019-04-15 06:59] markusthoemmes commented on #3740
I agree this is a good thing to have. Could we bury all of the scraping/frequency into the scraper itself to achieve this? I don't really fancy to adjust this via an external signal (which is the ticker frequency ticking the Scrape calls). Instead, a single `Scrape` call should be self-contained and do as many samples as it sees fit.

[2019-04-15 13:40] duglin commented on #3759
Just pasting a link to a similar discussion in K8s-land: https://github.com/kubernetes/kubernetes/issues/45509

[2019-04-15 17:09] #2566 closed

[2019-04-15 17:16] tcnghia commented on #3419
One more thing about the N+1 place holder K8 Service.  In our current reconciliation loop we create them _after_ the ClusterIngress are ready.  In order to better make use of API Server to detect unavailable sub route name earlier we will need to change to.

For each `Route`:
* Create N+1 place holder `Service`s corresponding to the main `Route` and its N sub-routes.  This step is to "reserve" the

[2019-04-15 17:29] tcnghia commented on #3419
So I believe the work items for this issue are:

*Part 1*:  Make use of API Server to avoid subRoute conflicts
1.  Refactor traffic.Config to use full name of Route instead of Revision name https://github.com/knative/serving/issues/3419#issuecomment-483031434.
1. Change `Route` reconciler to create N+1 placeholder services before creating `ClusterIngress`, and fail if one already has an owning Rou

[2019-04-15 17:57] #3518 closed

[2019-04-15 18:25] kevinswiber commented on #3134
Based on the latest autoscaling API version supported by GKE, I'm upgrading to `autoscaling/v2beta1`, which is similar though not identical.

To match the fields required to create an HPA resource, I propose using the following annotations.

[code]
Reference: https://godoc.org/k8s.io/api/autoscaling/v2beta1#MetricSpec

This does add a non-trivial amount of complexity to this feature.  Happy to rec

[2019-04-15 19:03] #3334 closed

[2019-04-15 19:25] tcnghia commented on #3419
/assign @andrew-su

Thanks! 🙏

[2019-04-15 19:29] tcnghia commented on #2566
Thanks @greghaynes !

[2019-04-15 22:02] nimakaviani commented on #3759
@markusthoemmes turns out `504s` were red herring because I had an `Ingress` configured that would time out before the requests were finished. However, the main problem with connections getting killed due to scale-down remains.

I removed the Ingress and issued curl requests to the istio gateway with a `Host` header. A subset of the requests fail with the following error:

[code]

Here is an updat

[2019-04-16 05:37] markusthoemmes commented on #3134
Thanks for taking this on @kevinswiber.

In the last Autoscaling WG we had a discussion on the API surface of our autoscaling configuration. The bottomline was a question-mark to whether or not it is a good idea to offload the whole API surface into what is essentially a `map[string]string`. It'll be a lot to document, hard to get right (typos...) and hard to validate.

In this case it also become

[2019-04-16 05:46] markusthoemmes commented on #3759
@nimakaviani How do you install Istio? We have fixes for that exact behavior in our packaged version of Istio specifically.

FWIW you should be able to reproduce this using `TestDestroyPodInflight`, could you try that as well? If you can't: Could you try to fix that test to make it reproduce this issue?

[2019-04-16 06:08] nimakaviani commented on #3759
Ah interesting.

I used the Istio version already installed on IKS for my initial tests. Then upgraded to vanilla `Istio 1.1.2`. I will try against the packaged version of Istio and report back. thanks!

[2019-04-16 11:20] JCzz opened #3775 "grPC sample not working on Docker-For-Mac"
Version: As of today, gRPC does not work on Docker-For-Mac

Note: I can make it work on minikube, but not on Docker-For-Mac edge.

Install Knative from this:
https://github.com/knative/docs/blob/master/docs/install/Knative-with-Docker-for-Mac.md

gRPC example does not work:
https://www.knative.dev/docs/serving/samples/grpc-ping-go/

[code]

I also tried leaving out:
`sed 's/LoadBalancer/NodePort/'

[2019-04-16 12:01] knative-flaky-test-reporter-robot opened #3776 "[flaky] test/upgrade.TestRunLatestServicePostUpgrade"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestRunLatestServicePostUpgrade
* **Repository name**: serving

[2019-04-16 17:15] #2972 closed

[2019-04-16 17:28] yt3liu commented on #3486
@dgerd I think we can close this issue as the TCP coverage is added to the readiness probe and we removed the liveness check from the runtime contract in https://github.com/knative/serving/pull/3524

[2019-04-16 17:29] kevinswiber commented on #3134
@markusthoemmes Thanks for your input.  This all makes sense.  The set-it-and-forget-it flow of just deploying a `serving.knative.dev/v1alpha1/Service` is nice, but I agree that this is a copy/paste of hefty config that's owned--and will always be owned--by the Kubernetes autoscaling API.

I'm not sure of the simplest solution.  I think we'd also want the PodAutoscaler to retain ownership over the

[2019-04-16 17:48] #3486 closed

[2019-04-16 18:01] nader-ziada commented on #3128
/assign

[2019-04-16 19:18] greghaynes opened #3780 "Activator websocket blocking shutdown while waiting for data"
## In what area(s)?

/area autoscale

## What version of Knative?

When the activator goes in to shutdown we call Shutdown on our web socket to the activator. This waits on acquiring a lock in websocket that is held by a blocking read call resulting in shutdown taking an extended period.

[code]

[2019-04-16 19:19] greghaynes commented on #3780
/cc @markusthoemmes

[2019-04-16 20:26] hohaichi commented on #3166
Can we close this issue now?  It looks like we are all think 503 is better?

FWIW, I also think 503 is better since knative currently has no quota and is supposed to scale up to handle growing traffic.  When it does not scale up fast enough, that the server's fault.  If we add a quota (e.g., 10% over the total containerConcurrency), then we will return 429 when it exceeds the quota.

References:
-

[2019-04-16 20:28] kevinswiber commented on #3134
FYI: I have the above proposal mostly working. I hesitate to update docs until we get through the design-prototyping cycle. I can put up a WIP PR if you like or hold off until design is solidified.

[2019-04-16 21:59] vagababov commented on #3780
This is somewhat unexpected.
- `Shutdown` closes the internal channel
- `Ping` routine should exit
- Having not received pongs for the timeout period the `NextRead()` in `keepalive` should receive io.EOF
- Connection read lock is released
- Connection write lock is acquired by `closeConnection`
- Connection is closed
- Everything shuts down.

So pongTimeout is 10s, so with bad timing it should tak

[2019-04-16 22:04] greghaynes commented on #3780
Thanks! fwiw I was seeing delays on the order of seconds. I also was getting this goroutine using the following patch and curling the pprofiler port after deleting the activator deployment:
https://github.com/knative/serving/compare/master...greghaynes:feature/profiling?expand=1

[2019-04-16 23:03] vagababov commented on #3780
So, I saw it once but as soon as I added proper logging it all stopped happening.
Do you repeatably see this?

[2019-04-16 23:08] mdemirhan opened #3781 "Report request logs from activator"
We report request logs from queue proxy. To complete the picture, we need to have activator participating into that as well.

## In what area(s)?

/area monitoring
/area networking

## Describe the feature

[2019-04-16 23:10] mdemirhan opened #3782 "Report request metrics from activator into the existing request metrics"
Activator writes request count and latency metrics into a separate metric than what queue proxy writes. We should combine these two under the same metric.

## In what area(s)?

## Describe the feature

[2019-04-17 06:01] markusthoemmes commented on #3166
I think we can, yes. Please reopen if somebody disagrees.

/close

[2019-04-17 06:01] #3166 closed

[2019-04-17 14:10] mattmoor opened #3789 "Cleanup internal API validations of K8s types"
## In what area(s)?

/area API
/area networking

## Describe the feature

@dgerd is changing the way we validate in #3779 for the public API surface, but there are places in the internal surface where we validate K8s objects too (e.g. [here](https://github.com/knative/serving/blob/acef19c66eeec379cb45161722c2cc235239a4a7/pkg/apis/autoscaling/v1alpha1/pa_validation.go#L95)).  Once Dan's change land

[2019-04-17 14:16] jwlai opened #3790 "ImagePullSecrets with serving service"
## In what area(s)?

Other classifications:

## Ask your question here:
Hi,

I had a question about how to use ImagePullSecrets when creating a service and was wondering if an example would be provided via the hello world YAML. I saw an older question but the link in it seemed dead.

I saw that the best practice is to follow the following link but is there a way I can just specific it in the Servi

[2019-04-17 14:31] markusthoemmes commented on #3790
I think the only way to do it today is to add it to the ServiceAcccount and then use that ServiceAccount in your Service.

[2019-04-17 15:37] nader-ziada commented on #3128
Hello @mdemirhan
looks like the logs are now reduced with istio 1.1.2 [yaml file](https://github.com/knative/serving/blob/master/third_party/istio-1.1.2/istio.yaml#L340)
should we just remove all the metrics by adding ` --set mixer.telemetry.enabled=false` and removing the dashboards?

[2019-04-17 19:43] tcnghia opened #3793 "Need e2e tests to confirm fast activation in case of no-mesh"
## In what area(s)?

/area networking
/area test-and-release

## Describe the feature

We need a test to cover the issue in #3700, in which activation without mesh can take a very long time.

[2019-04-17 21:41] #2958 closed

[2019-04-17 22:15] hohaichi commented on #2145
@josephburnett Do you have a scenario/repro?  Is this a crashlooping sceanrio: a pod crash when it receives X concurrent requests, and keep coming back, receiving X concurrent requests, crashing again?  If so, I think it should continue to scale up so that each pod will receive less than X concurrent requests, right?

If the scenario is a pod crashing while booting up, then I don't see why it coul

[2019-04-17 22:55] hohaichi commented on #2391
I'm guessing this bug is fixed as a byproduct of something else and closing this issue.  If that's not true, please reopen.

/close

[2019-04-17 22:55] #2391 closed

[2019-04-17 23:05] jonjohnsonjr commented on #2391
There's some more discussion re: not using http.DefaultTransport in this PR that may be relevant: https://github.com/knative/serving/pull/3409

Follow those links for more details, but in general we do want to change some of the timeouts in our transport.

[2019-04-18 02:52] hohaichi commented on #2705
@mgencur PR#3771 should fix this issue.  The repro test above is not applicable though, because it tests how the autoscaler calculates the desired scale from (concurrency) stats instead of testing where the scaling action is decided from the desired scale.  There are tests in the PR that assert the scale-to-minScale and bounce-from-0 when there is no metric (looks for scaleTo: -1).

[2019-04-18 03:14] #3700 closed

[2019-04-18 09:58] TommyLike commented on #3780
Is it related to the order of wait program exiting and then close connection?
[code]

[2019-04-18 11:37] TommyLike commented on #3731
Sorry for asking, I may not get your point, but how can the KpaDeciders record a resource that is a not for a KPA class podautoscaler?

[2019-04-18 12:01] knative-flaky-test-reporter-robot opened #3800 "[flaky] test/e2e.TestGRPCStreamingPingFromZero"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestGRPCStreamingPingFromZero
* **Repository name**: serving

[2019-04-18 12:01] knative-flaky-test-reporter-robot opened #3801 "[flaky] test/upgrade.TestRunLatestServicePreUpgrade"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestRunLatestServicePreUpgrade
* **Repository name**: serving

[2019-04-18 12:01] knative-flaky-test-reporter-robot opened #3802 "[flaky] pkg/queue.TestBreakerNoOverload"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/queue.TestBreakerNoOverload
* **Repository name**: serving

[2019-04-18 12:01] knative-flaky-test-reporter-robot opened #3803 "[flaky] test/e2e.TestDestroyPodTimely"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDestroyPodTimely
* **Repository name**: serving

[2019-04-18 12:14] markusthoemmes commented on #3802
The test itself didn't fail, the tests timed out.

[code]

I have no idea why there's 10min between the two tests.

[2019-04-18 14:02] dprotaso commented on #3790
It's possible to provide your own service account in the revision template

ie.
[code]

[2019-04-18 14:18] chaodaiG commented on #3802
I have no idea why there is a 10min in between either. It happened only once in continuous run, and hasn't happen in PR yet: https://prow.knative.dev/?job=pull-knative-serving-unit-tests, may be just a one time issue

[2019-04-18 14:32] nader-ziada commented on #3128
hello @mdemirhan, looks like the logs are now reduced with istio 1.1.2 [yaml file](https://github.com/knative/serving/blob/master/third_party/istio-1.1.2/istio.yaml#L340)
but can you give more info on which metrics to remove?
Thanks

[2019-04-18 16:55] sebgoa opened #3809 "volume mount break Pod startup"
## In what area(s)?

 /area API

## What version of Knative?

HEAD

## Expected Behavior

Run the `nginx` container as a service by specifying a non default port (.e port 80). I expected the service to run successfully and be able to access the nginx welcome page.

## Actual Behavior

The Pod did not start due to volume mount issues :

[code]

Pod manifest:

[code]

## Steps to Reproduce the Probl

[2019-04-18 18:07] #3424 closed

[2019-04-18 19:02] srinivashegde86 opened #3812 "Performance tests daily run is failing"
Latest logs:
https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-performance/1118680759960342529/

[2019-04-18 19:02] srinivashegde86 commented on #3812
/assign

[2019-04-18 19:04] srinivashegde86 commented on #3812
This started happening when we introdcued the change to add loadfactors.

With this new var, we have reasonable defaults. But, unfortunately, this is being added at the wrong place and hence is not initialized as expected failing when we try to read the result

[2019-04-18 19:39] #2705 closed

[2019-04-18 19:46] greghaynes commented on #3702
/assign tzununbekov

[2019-04-18 19:56] pedroarthur commented on #3274
It won't solve it. Just tried that.

[2019-04-18 20:07] beemarie commented on #2755
I'll try to do this one -- it looks like a good place to get started!

[2019-04-18 20:07] beemarie commented on #2755
/assign

[2019-04-18 21:44] #3812 closed

[2019-04-19 02:06] mattmoor opened #3820 "Re-enable downgrade testing for v1beta1"
## In what area(s)?

/area API
/area test-and-release

## Describe the feature

We effectively want to revert: https://github.com/knative/serving/pull/3819

[2019-04-19 06:37] ZhiminXiang opened #3824 "Short service name does not work in no-mesh scenario"
## In what area(s)?

## What version of Knative?

## Expected Behavior
Service-to-service call within the cluster should work when using short service name (e.g. `helloworld-go.default`) under Istio no-mesh mode (i.e. Istio installed with `istio-lean.yaml`)

## Actual Behavior
The http call fails with `404 not found`

[2019-04-19 06:37] ZhiminXiang commented on #3824
/cc @tcnghia @mattmoor

[2019-04-19 07:55] TommyLike commented on #3809
Knative will mount an empty log folder at the path ``/var/log``,  at the meantime, the default nginx config expects to have a folder nginx exists in that folder.
[code]

[2019-04-19 11:02] viktorbenei opened #3825 "Support for volumeMounts subPath"
## In what area(s)?

/area test-and-release

## Describe the feature

Add support for `subPath`property  in `volumeMounts`.

Use case: we wanted to mount separate secrets into a single directory, similar to what's described in https://blog.sebastian-daschner.com/entries/multiple-kubernetes-volumes-directory

For this to work we'd need the `subPath` property (https://kubernetes.io/docs/concepts/sto

[2019-04-19 12:01] #3567 closed

[2019-04-19 13:59] matthew1534 opened #3826 "timeoutSeconds 600s limit?"
## In what area(s)?

 /area API

## Ask your question here:
We are currently specifying `timeoutSeconds` in the yaml however any integer greater than 600 throws the error `"STDIN": Internal error occurred: admission webhook "webhook.serving.knative.dev" denied the request: mutation failed: expected 0s <= 601s <= 600s: spec.runLatest.configuration.revisionTemplate.spec.timeoutSeconds` (where 601 is

[2019-04-19 16:07] #1276 closed

[2019-04-19 16:20] mdemirhan commented on #3128
We probably should disable all "kind: metric" objects in that YAML. We setup our own metrics and don't rely on the default metrics (https://github.com/knative/serving/blob/master/config/monitoring/metrics/prometheus/100-istio-metrics.yaml).

[2019-04-19 18:07] tcnghia commented on #3826
/area api

[2019-04-19 18:07] tcnghia commented on #3826
/cc @mattmoor

[2019-04-19 19:08] jchesterpivotal commented on #1686
I'm now working entirely out of the Skenario repo, so I think this issue can safely be closed.

[2019-04-19 19:08] #1686 closed

[2019-04-19 22:47] dgerd opened #3832 "Improve spec.md descriptions"
## In what area(s)?

 /area API

## Describe the feature

Our current spec.md (https://github.com/knative/serving/blob/master/docs/spec/spec.md) does not consistently provide detailed comments on fields nor does it recurse down to the same level for each object. This issue is to track improving the spec.md to:

(1) Detail all API fields and types at every level
(2) Provide useful descriptions and

[2019-04-20 04:17] vagababov opened #3835 "Autoscaler app misses some initialization"
## In what area(s)?

/area autoscale

## What version of Knative?

HEAD

## Expected Behavior
No errors in logs

## Actual Behavior

On start up we get lotsa

[code]

## Steps to Reproduce the Problem
Restart autoscaler app, watch logs.

[2019-04-20 12:01] #3802 closed

[2019-04-20 12:01] #3800 closed

[2019-04-22 18:19] hohaichi commented on #1238
@jonjohnsonjr this issue seems to be fixed by your PR#3409, right?

[2019-04-22 18:21] jonjohnsonjr commented on #1238
Not for the activator. That PR only fixed the transport for tag -> digest resolution.

[2019-04-22 18:27] vagababov commented on #1238
I think Nghia did some change to have our own transport.

On Mon, Apr 22, 2019 at 11:21 AM jonjohnsonjr <notifications@github.com>
wrote:

[2019-04-22 20:44] dgerd commented on #3790
As others have answered you can add `imagePullSecrets` to the `default` ServiceAccount which is used if one is not specified in your template, or you can create a new ServiceAccount with the `imagePullSecrets` and set `serviceAccountName` within your `revisionTemplate`.

Going to close this as I think the question is answered, but feel free to re-open if this does not answer your question or fix y

[2019-04-22 20:44] #3790 closed

[2019-04-22 21:06] mdemirhan opened #3856 "Autoscaler does not watch for changes in config-logging"
/area autoscale

[2019-04-22 21:53] dgerd commented on #3809
Knative needs to create a volume mounted at /var/log so that a fluentd sidecar can collect logs. This is going to wipeout anything that is pre-configured at this directory.

It is not clear to me that this is really a Knative bug, but rather an incompatibility between the container as packaged and the platform. It is possible to get the nginx container to run without rebuilding the image by simply

[2019-04-22 23:47] mdemirhan commented on #3856
This is actually working as expected at HEAD.

[2019-04-22 23:47] #3856 closed

[2019-04-23 00:36] mattmoor opened #3857 "upgrade test doesn't wait for install to complete before testing upgrae"
## In what area(s)?
/area test-and-release

## What version of Knative?

HEAD

## Expected Behavior

HEAD should be completely installed before any tests are run.

## Actual Behavior

Components from the prior release may still be deployed within the cluster.

## Steps to Reproduce the Problem

It is super racy, but you can see the webhook from the prior release rejecting an update from the test h

[2019-04-23 08:48] dgageot opened #3865 "Unsupported image reference `gcr.io/project/name:tag@sha256:f569c694195b30c16356b58e641094a04e3192e9beebb07615e7df7d8ae5eec9`"
I was trying to deploy to knative serving (0.4) with [Skaffold](https://github.com/GoogleContainerTools/skaffold). It failed with this error:

[code]

Skaffold uses the full image reference with both a tag and a digest. Something like:
`gcr.io/project/name:tag@sha256:f569c694195b30c16356b58e641094a04e3192e9beebb07615e7df7d8ae5eec9`

This type of reference is supported by Docker and Kubernetes and

[2019-04-23 10:21] sebgoa commented on #3809
But there is no fluentd sidecar here.

fluentd is usually running as a daemonset cluster wide and collects logs automatically without having to run it as a sidecar.

[2019-04-23 16:26] jonjohnsonjr commented on #3865
This is fixed at HEAD by https://github.com/knative/serving/pull/3725

[2019-04-23 17:10] tanzeeb commented on #3308
Not gRPC specific, can be reproduced on all services. K8s readiness probe checks before the queue-proxy health handler is started.

[2019-04-23 17:11] tanzeeb commented on #3308
Update: We may want to leave this unfixed, see thread in #3869

[2019-04-23 17:18] nimakaviani commented on #3759
confirmed that with the packaged versions of Istio, the preStop hook for istio-proxy and queue-proxy prevent the pod from fully terminating when there are inflight requests.

However, there is still this problem with the autoscaler that it is not making optimal decisions about which pods to terminate when scaling down instances.

To give an example, with instances A and B of the same Knative appli

[2019-04-23 18:14] vishvananda commented on #2648
I ran into this issue as well. Everything worked fine until i restarted the cluster, at which point all of the kube-system pods failed to start with a cni error. The proper fix for this is to update the instructions to at https://github.com/knative/docs/blob/master/docs/install/Knative-with-any-k8s.md to say:

Label the `kube-system` namespace with `istio-injection=disabled`

Which is the proper w

[2019-04-23 18:55] tcnghia opened #3870 "Activator should avoid going through VirtualService by clearing Host header"
## In what area(s)?

/area networking

## What version of Knative?

## Expected Behavior

If I have a Route that routes to  90% Revision1 and 10% Revision2 in which Revision1 is an active and Revision2 is inactive, I would expect traffic split to be 90%/10%.

## Actual Behavior

I believe by setting the Host header in probes and requests, activator will cause its requests to be going through the t

[2019-04-23 18:57] tcnghia commented on #3870
Since Host header is required by the runtime contract, we will have to send enough data to `queue-proxy` to allow it to repopulate the Host header to conform.

[2019-04-23 18:59] mattmoor commented on #3870
cc @dgerd

[2019-04-23 20:38] vagababov commented on #3870
/assign
I'll take this on as followup for my sks work.

[2019-04-23 20:40] vagababov opened #3873 "Use the same port spec for K8s Services in knative service and activator service."
## In what area(s)?

/area API
/area networking

## Describe the feature
Currently we are using named port `queue-port` for queue proxy (const'd to 8012) and we're using ports 8080/8081 for activator service. This requires a k8s service rewrite during SKS reconciliation each time we scale to/from 0.
This is completely redundant if we share the port numbers among these two

/cc @mattmoor
/cc @tcngh

[2019-04-23 20:43] vagababov opened #3874 "Investigate if newer Istio will permit 1 port for activator"
## In what area(s)?

/area API
/area networking

## Describe the feature
Currently activator listens on two ports 8081 and 8080 for HTTP/1 and HTTP/2 because istio could route the traffic to a single port and let the user application choose the proper HTTP server (as we do in queue-proxy).  Maybe it still can't, but let's check if 1.1.2 works, if not then we'll just live with status quo :trumpet:

[2019-04-23 20:44] vagababov commented on #3874
/cc @tcnghia @mattmoor
/assign @vagababov

[2019-04-23 21:18] tvalasek commented on #3274
I haven't experienced such massive Istio issue, but I was having problem with only Galley:

`Error from server (InternalError): error when creating "one_vs.yaml": Internal error occurred: failed calling admission webhook "pilot.validation.istio.io": Post https://istio-galley.istio-system.svc:443/admitpilot?timeout=30s: Service Unavailable`

Thanks to this thread I managed to fix by adding these to