[2020-09-24 09:37] cardil opened #9554 "Configure readinessProbe, and livenessProbe from container image labels"
## Describe the feature

Knative Serving supports both `readinessProbe`, and `livenessProbe`. I propose to write a code that will inspect container image while deploying it, and read the labels from it. Then, if `readinessProbe`, and `livenessProbe` are not set by user in `spec.template.spec.containers`, the code will lookup values from given container image labels.

This mechanism will let users

[2020-09-24 09:43] markusthoemmes commented on #9554
I believe this violates the API boundaries and concerns present in container based systems. In this case, you're purposefully building a container just for Knative. It will not necessarily behave the same in other systems (i.e. just running it on Docker). It also breaks the build-time vs. deployment/configuratio-time boundary set in place today.

It's also not quite clear to me where we'd start an

[2020-09-24 09:52] cardil commented on #9554
I agree this mixes those boundaries, but so what?

Those are just labels. Intent for them is to hold additional metadata that other systems can use. It isn't breaking anything. I can still use such image in completely different system, and all will work just fine.

This whole mechanism can be optional, even disabled by default. It's for developer's convenience. There are a lot of examples of such

[2020-09-24 09:54] markusthoemmes commented on #9554
It then to me begs the question: Why do it in the first place? I.e. which workflows would this enable that are not possible and fluent today?

[2020-09-24 09:56] cardil commented on #9554
Such fast workflow:

1. Devs prepare an image with those deployments advises and publish an image.
1. Ops or even some automated system deploy it with simple: `kn service create/update/apply`

[2020-09-24 10:20] arghya88 commented on #9553
/assign

[2020-09-24 12:12] #8752 closed

[2020-09-24 12:12] #8779 closed

[2020-09-24 12:51] yura415 opened #9561 "Support emptyDir volumes"
Currently emptyDir volumes are [disallowed by validator](https://github.com/knative/serving/blob/af13fb68dba483951d92f08a2267c0b33be3e0ab/pkg/apis/serving/k8s_validation_test.go#L1495). I'd like to know why such a decision was made to disallow emptyDir mounts. I find them useful for my setup.

/area API
/kind spec

[2020-09-24 16:11] dng00 commented on #7924
We are still running into the same issue after upgrading to Knative 0.17
When applying Knative service.yaml with securityContext/fsGroup, we see the following error:

‘’’Error from server (BadRequest): error when creating "servicenew.yaml": admission webhook "webhook.serving.knative.dev" denied the request: mutation failed: cannot decode incoming new object: json: unknown field "fsGroup"’’’

Any a

[2020-09-24 19:24] julz commented on #9554
Why do this in Knative rather than in upstream Kubernetes?

[2020-09-24 20:24] dprotaso commented on #7924
You'll need to set the feature flag here to `allowed`

https://github.com/knative/serving/blob/3432804201dbeabedbefa7df6468fb2ccbb7a61e/config/core/configmaps/features.yaml#L71-L93

[2020-09-25 01:13] #6749 closed

[2020-09-25 07:43] SwEngin commented on #9310
So a context with timeout should be added to all Serving Reconcilers: Service, Route, Revision, Nscert, Configuration. Is that still valid for autoscaling and gc?

Also where it's possible where else?

[2020-09-25 12:11] #9534 closed

[2020-09-25 12:11] #9535 closed

[2020-09-25 12:24] cardil commented on #9554
That's an interesting idea. But how that may work on upstream K8s? On what level?

In Knative we could change the definition of a Deployment that is created from Ksvc quite easily.

On K8s level that may require some low level pod shenanigans, right?

[2020-09-25 13:56] mattmoor commented on #9310
I'd try it with all of them to see what we can get through the e2e testing.

[2020-09-25 14:39] dng00 commented on #7924
@dprotaso thank you for your quick response. We did a kubectl edit configmap in knative-serving NS on the running Knative env but still get the same error. Is there a way to check if that flag is in effective ? Do we need to something else?
Thank you.

[2020-09-25 15:16] dprotaso commented on #7924
Are you modifying the text I linked? That's under an `_example` field which trips up a lot of people. field.

You need to copy it to under `data` beside `_example`

https://github.com/knative/serving/blob/3432804201dbeabedbefa7df6468fb2ccbb7a61e/config/core/configmaps/features.yaml#L24-L25

[2020-09-25 18:16] JRBANCEL commented on #9561
I believe the historical reason for not supporting `emptyDir` volumes is that we want to encourage users to write completely stateless Knative Services. Now, you can still do that and use an `emptyDir`, that's true.

It is something that could be allowed as part of https://github.com/knative/serving/issues/4417.

[2020-09-25 18:17] JRBANCEL commented on #4417
A workaround is to use a Webhook to inject what you want in the Pod Spec.
Not ideal. This is a WIP, but I don't think anyone is working on it right now.

[2020-09-25 21:49] dng00 commented on #7924
That was it. It is working now. Thank you for pointing that out.

[2020-09-26 01:12] #8120 closed

[2020-09-26 12:13] #9320 closed

[2020-09-26 14:34] mattmoor opened #9582 "TestRevisionGC is flaky"
/area API
/area test-and-release

## What version of Knative?

HEAD

## Expected Behavior

Test reliably passes

## Actual Behavior

Test intermittently times out, see: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-contour-latest/1309775820503388162

## Steps to Reproduce the Problem

No solid repro, will require some careful analysis of what's going on.

Assigning to the

[2020-09-26 18:04] vagababov commented on #9582
/cc @whaught

[2020-09-26 19:07] whaught commented on #9582
Just taking notes:
`kubelogs.go:197: D 09:17:25.662 controller-96ff6cd49-pfpwn [revision-controller] [serving-tests/revision-g-c-mksecpdz-4cn5w]`
The revision goes ready/active true

I wonder if I could make this less flaky by just looking at the created revision instead of the service. Then again maybe the point here is to make this reliable the whole way through.

`kubelogs.go:197: D 09:17:38.08

[2020-09-27 01:16] #4421 closed

[2020-09-27 07:02] yuchunyu97 opened #9584 "Is it possible to add the configuration of private container registry to confimgmap"
## Describe the feature

The way to use private repositories is like this in the document: https://knative.dev/docs/serving/deploying/private-registry/.

You need to manually create a secret for the required namespace.

But if we have a lot of namespaces or we need to create namespaces automatically, this approach will be very troublesome.

**My opinion is** configure the authentication informatio

[2020-09-27 11:32] nak3 commented on #9039
In Ingress v2, it seems to be under discussion. (cc @hbagdi )
https://github.com/kubernetes-sigs/service-apis/issues/98 or https://github.com/kubernetes-sigs/service-apis/issues/196

[2020-09-27 12:11] knative-test-reporter-robot opened #9585 "[flaky] test/e2e.TestDestroyPodInflight"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDestroyPodInflight
* **Repository name**: serving

[2020-09-27 12:11] knative-test-reporter-robot opened #9586 "[flaky] test/conformance/api/v1.TestRevisionTimeout/when_pods_already_exist,_and_it_does_not_exceed_timeout_seconds"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestRevisionTimeout/when_pods_already_exist,_and_it_does_not_exceed_timeout_seconds
* **Repository name**: serving

[2020-09-27 12:11] knative-test-reporter-robot opened #9587 "[flaky] test/e2e.TestRPSBasedAutoscaleUpCountPods"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestRPSBasedAutoscaleUpCountPods
* **Repository name**: serving

[2020-09-27 12:11] knative-test-reporter-robot opened #9588 "[flaky] test/e2e.TestTargetBurstCapacityMinusOne"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestTargetBurstCapacityMinusOne
* **Repository name**: serving

[2020-09-27 12:11] knative-test-reporter-robot opened #9589 "[flaky] test/conformance/api/v1.TestRevisionTimeout/when_pods_already_exist,_and_it_does_exceed_timeout_seconds"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestRevisionTimeout/when_pods_already_exist,_and_it_does_exceed_timeout_seconds
* **Repository name**: serving

[2020-09-27 12:11] #9157 closed

[2020-09-27 12:11] #9451 closed

[2020-09-27 12:12] #8706 closed

[2020-09-27 12:12] knative-test-reporter-robot opened #9590 "[flaky] test/conformance/api/v1.TestRevisionTimeout/when_pods_already_exist,_and_it_writes_first_byte_before_timeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestRevisionTimeout/when_pods_already_exist,_and_it_writes_first_byte_before_timeout
* **Repository name**: serving

[2020-09-27 12:12] #9158 closed

[2020-09-27 12:12] #8843 closed

[2020-09-28 00:46] nak3 commented on #9415
hostAliases was discussed before in https://github.com/knative/serving/issues/6207.

tag to @dprotaso @mattmoor if any update.

[2020-09-28 01:59] vagababov commented on #7324
/lifecycle frozen

Probably still want this

[2020-09-28 02:19] mattmoor commented on #9415
Is this covered by the `DomainMapping` work that @julz has been looking into?

[2020-09-28 09:24] nak3 commented on #9582
This seems net-contour's issue. I filed the reproducer https://github.com/knative-sandbox/net-contour/issues/275 and PR https://github.com/knative-sandbox/net-contour/pull/276.

[2020-09-28 11:26] skonto commented on #4417
@JRBANCEL I could have a look to this.

[2020-09-28 12:15] upodroid opened #9596 "Knative Serving - Servicemonitor CRDS"
## Describe the feature

Many of us deploy prometheus using the prometheus operator so we specify the scrape config using servicemonitor crd.

It would be great if this scrape config was converted to a service monior.

https://github.com/knative/serving/blob/master/config/monitoring/metrics/prometheus/100-prometheus-scrape-config.yaml

[2020-09-28 12:28] nak3 commented on #9596
Hi @upodroid
Thank you for the report. But unfortunately monitoring/observability bundles are deprecated since v0.14. Please refer to https://github.com/knative/serving/releases/tag/v0.14.0.
Knative community does not maintain the config anymore.

[2020-09-28 12:42] nak3 commented on #9303
@aurorazl  As a first step for the debug, could you please provide us with the full controller's yaml & log?

[code]

[2020-09-28 12:44] upodroid commented on #9596
I'm looking at this site here.

https://knative.dev/docs/serving/installing-logging-metrics-traces/

I don't see deprecations notices on that page plus it is referring to 0.17 release which is the most recent one.

[2020-09-28 12:49] nak3 commented on #9303
And, as per subject "image build with ko publish ./cmd/xxx,but failed", it looks like you used `ko publish`.

But can you try to use:

[code]
or
[code]

(Or if you want to build all serving deployments)

[code]

as described in https://github.com/knative/serving/blob/master/DEVELOPMENT.md#iterating ? It must be easier.

[2020-09-28 13:09] nak3 commented on #9596
Thank you. Another installation page mentions `FEATURE STATE: deprecated @ Knative v0.14`:

https://knative.dev/docs/install/any-kubernetes-cluster/#installing-the-observability-plugin
https://github.com/knative/docs/pull/2361
But it seems we should note about it in https://knative.dev/docs/serving/installing-logging-metrics-traces/ as well.

@mattmoor @evankanderson  Just in case, we will depreca

[2020-09-28 14:13] mattmoor commented on #9582
@nak3 What you are describing sort of sounds like a bug in the Route controller (still sipping coffee, so bear with me).  The kingress spec shouldn't be updated with the service names for Revisions that have been GCed, nor should Revisions be eligible for GC before the kingress has reported ready.

I may be overlooking something, and I'm receptive to hardening net-contour against this, but I want

[2020-09-28 14:44] whaught commented on #9582
`kubelogs.go:197: D 09:17:38.097 controller-96ff6cd49-pfpwn [service-controller] [serving-tests/revision-g-c-mksecpdz]`
The route changes its status traffic target to the new revision with

`kubelogs.go:197: D 09:17:38.098 controller-96ff6cd49-pfpwn [labeler-controller]` The labeler sees that the old revision is no longer in the spec or status of Route and removes its state=active label

`kubelogs

[2020-09-28 15:06] mattmoor commented on #9582
In general there are two scenarios where "clipping" is possible:
1. Revision deleted before it is Routable (racing with it actually becoming Routable)
2. Revision deleted after it becomes Unroutable (racing with it actually becoming Unroutable)

The Endpoint probe protects kingress against this, but it seems as though the Route controller may be susceptible to this as well.  I vaguely recall there

[2020-09-28 15:09] mattmoor commented on #9582
FWIW, I'm still a bit groggy with not nearly enough caffeine, so if it'd be helpful to jump on a call to hash this out, I'd be happy to do that. 😴

[2020-09-28 21:01] JRBANCEL commented on #4417
Great. You can look a the various features behind feature flags for inspiration, for example: https://github.com/knative/serving/pull/8126

[2020-09-29 01:15] #5040 closed

[2020-09-29 07:03] adamkgray opened #9606 "Provided monitoring-metrics-prometheus.yml operator.yaml does not create namespace knative-monitoring"
## Expected Behavior

`kubectl apply --filename https://github.com/knative/serving/releases/download/v0.17.0/monitoring-metrics-prometheus.yaml` works

## Actual Behavior

`Error from server (NotFound): error when creating "templates/monitoring-metrics-prometheus.yml": namespaces "knative-monitoring" not found`

## Steps to Reproduce the Problem

1. Install knative
2. follow https://knative.dev/do

[2020-09-29 09:08] nak3 commented on #9606
@adamharwayne Thank you for the report. You can add the namespace by `monitoring-core.yaml`.

[code]

It mentioned in the installation doc https://knative.dev/docs/install/any-kubernetes-cluster/#installing-the-observability-plugin but it missed the section you pointed out. I am fixing it now https://github.com/knative/docs/pull/2866.

[2020-09-29 09:27] skonto commented on #4417
Thanks @JRBANCEL probably this needs a design document.

[2020-09-29 12:12] #9588 closed

[2020-09-29 12:12] #8990 closed

[2020-09-29 12:12] #8989 closed

[2020-09-29 12:12] #9315 closed

[2020-09-29 12:12] #9378 closed

[2020-09-29 12:12] #9147 closed

[2020-09-29 12:12] #9316 closed

[2020-09-29 12:12] #8917 closed

[2020-09-29 12:12] knative-test-reporter-robot opened #9611 "[flaky] pkg/queue.TestHandlerBreakerTimeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/queue.TestHandlerBreakerTimeout
* **Repository name**: serving

[2020-09-29 12:12] #9585 closed

[2020-09-29 12:12] #9587 closed

[2020-09-29 12:12] #9589 closed

[2020-09-29 12:12] #9590 closed

[2020-09-29 12:12] #9586 closed

[2020-09-29 16:02] #9611 closed

[2020-09-29 17:47] dng00 commented on #7924
@dprotaso Does the following change affect Istio once changed to "allowed"? Can you help us to understand what are the side-effects once enabled?

    # This feature flag should be used with caution as the PodSecurityContext
    # properties may have a side-effect on non-user sidecar containers that come
    # from Knative or your service mesh
    #
    # WARNING: Cannot safely be disabled once en

[2020-09-29 21:47] vagababov commented on #9121
/unassign
/assign @julz
I presume #9092 takes care of this

[2020-09-30 02:50] tanshanshan opened #9624 "Failed to pull image "gcr.io/knative-releases/knative.dev/serving/cmd/queue"
## Ask your question here:
I use the sample  [helloworld-go](https://github.com/knative/docs/tree/master/docs/serving/samples/hello-world/helloworld-go) ,

[code]

**I have secret about private registry  ,and I see the image is pulled，but the gcr.io image can not be pulled ,how to fix it .thanks.**

[code]
kubernetes 1.19.2

[2020-09-30 03:17] #9624 closed

[2020-09-30 10:45] amtisyAts opened #9625 "exec ko apply -f config/ failed"
## Ask your question here:
I want to set up a development environment locally, everything went well until I was executing:

ko apply -f config/

I encountered the following problems:

error: error validating "STDIN": error validating data: invalid object to validate; if you choose to ignore these errors, turn validation off with --validate=false

If the problem occurs in a deployment similar to ku

[2020-09-30 10:48] markusthoemmes commented on #9625
Please note that the development instructions have somewhat changed. See https://github.com/knative/serving/blob/master/DEVELOPMENT.md#deploy-knative-serving.

In a nutshell:

[code]

Should do the trick for you now.

[2020-09-30 12:12] #8939 closed

[2020-09-30 12:12] #9377 closed

[2020-09-30 12:12] knative-test-reporter-robot opened #9634 "[flaky] pkg/autoscaler/metrics.TestPodDirectScrapeSomeFailButSuccess"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/autoscaler/metrics.TestPodDirectScrapeSomeFailButSuccess
* **Repository name**: serving

[2020-09-30 13:48] #9092 closed

[2020-09-30 14:56] dprotaso commented on #7924
The flag doesn't enable the entire pod security context but just the following properties

[code]

So the side-effect of `RunAsUser` and `RunAsGroup` is it could change the running uid/gid of all the sidecars. I'm not deeply familiar with Istio so I don't know the implication of that. I think there are general best-practices though that should be followed - ie. don't run things as root in your con

[2020-09-30 17:16] dprotaso commented on #7881
From: https://github.com/knative/serving/pull/9580#discussion_r496148991

We're going to repurpose - `EnableVarLogCollection` as the flag and do the following

1) Only add the /var/log volume when it’s set to true
2) So people who expect it should switch it from the default (false) to on (true)
3) Update the runtime contract to say MAY

[2020-09-30 17:27] dprotaso commented on #7881
Updated the [0.18 release notes](https://github.com/knative/serving/releases/tag/v0.18.0) with:

[2020-09-30 19:44] #9129 closed

[2020-09-30 20:06] dprotaso commented on #7881
Email to knative-users went out:

[2020-09-30 22:59] #8638 closed

[2020-10-01 00:57] vagababov commented on #9138
This is done now
/close

[2020-10-01 00:57] #9138 closed

[2020-10-01 02:15] amtisyAts commented on #9625
I'm sorry, I switched to the old version which caused this problem. Thanks for answering!

[2020-10-01 02:15] #9625 closed

[2020-10-01 15:38] mattmoor opened #9653 "Link feature flags docs from _example"
/area API
/kind good-first-issue

## Describe the feature

Link this: https://knative.dev/docs/serving/feature-flags/#available-flags
From: `feature.yaml`

cc @JRBANCEL @dprotaso

[2020-10-02 01:16] #4123 closed

[2020-10-02 02:43] amtisyAts opened #9658 "pull image error causes the deployment of knative-serving on minikube to fail"
## Ask your question here:

**When I check the deployment, I get the following:**

 kubectl -n knative-serving get pods
NAME                               READY   STATUS             RESTARTS   AGE
activator-6bc747cfdb-r54r6         0/1     ErrImagePull       0          22h
autoscaler-6847b8d6f-zpxlc         0/1     ImagePullBackOff   0          22h
controller-78bc86f78c-qfl5k        0/1     ImageP

[2020-10-02 03:29] amtisyAts opened #9660 "Package k8s.io/apiserver"
## Ask your question here:

In my go.mod file, other packages are normal, only this:
k8s.io/apiserver => k8s.io/apiserver v0.18.8
Shows red.
I tried to execute tidy and vendor, but it didn't work.
My kantive-serving version is the latest.

And I noticed that the package k8s.io/apiserver did not appear in the vendor folder of the remote master.

[2020-10-02 03:35] tcnghia commented on #8186
@nak3 I think we still need to do this, right?

[2020-10-02 03:36] tcnghia commented on #8185
cc @nak3

[2020-10-02 03:43] nak3 commented on #8185
Yes, we still need it.

/assign

[2020-10-02 03:43] nak3 commented on #8186
Yes, we still need this.

/assign

[2020-10-02 05:17] vagababov commented on #3895
/reopen

we've been talking about this
/lifecycle frozen

[2020-10-02 06:30] markusthoemmes commented on #9660
Indeed, our k8s deps seem to require another pass.

[2020-10-02 06:44] markusthoemmes commented on #9658
How'd you install Knative? Seems like you're using `ko`. If so, have you followed this guide to setup `ko` and minikube: https://github.com/google/ko/#with-minikube? Specifically `eval $(minikube docker-env)` is important to make `ko` push the images into your minikube.

Also make sure you don't set an ImagePullPolicy of `Always` onto your cluster as the images are nowhere to be pulled.

[2020-10-02 10:40] #9660 closed

[2020-10-02 10:41] amtisyAts commented on #9658
thanks
I'll get it

[2020-10-02 10:41] #9658 closed

[2020-10-02 12:11] knative-test-reporter-robot opened #9671 "[flaky] test/e2e.TestCallToPublicService/external_address"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestCallToPublicService/external_address
* **Repository name**: serving

[2020-10-02 12:12] knative-test-reporter-robot opened #9672 "[flaky] test/e2e.TestCallToPublicService/local_address"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestCallToPublicService/local_address
* **Repository name**: serving

[2020-10-02 12:12] #9634 closed

[2020-10-02 12:57] knative-test-reporter-robot opened #9673 "[performance] Serving load testing"
### Auto-generated issue tracking performance regression
* **Repository name**: serving
* **Test name**: Serving load testing

[2020-10-02 15:42] pradeep-mishra commented on #4579
any update on this?

[2020-10-02 15:51] arghya88 commented on #9653
/assign

[2020-10-02 18:23] #9235 closed

[2020-10-02 19:03] eclipselu opened #9677 "Failing to deploy Istio by following DEVELOPMENT.md"
## Ask your question here:

In [Deploy Istio](https://github.com/knative/serving/blob/master/DEVELOPMENT.md#deploy-istio) section under `Starting Knative Serving`,

[code]

`knative-sandbox/net-istio/master/third_party/istio-stable/istio-crds.yaml` and `knative-sandbox/net-istio/master/third_party/istio-stable/istio-minimal.yaml` no longer exist since https://github.com/knative-sandbox/net-istio/p

[2020-10-02 19:20] vagababov commented on #9677
cc @ZhiminXiang @JRBANCEL

[2020-10-02 21:33] eclipselu commented on #9677
https://github.com/knative/serving/blob/master/DEVELOPMENT.md#clean-up clean-up section might also need an update.

[2020-10-02 21:39] ZhiminXiang commented on #9677
/assign

[2020-10-03 00:07] tcnghia commented on #3824
@ZhiminXiang is there something that needs to be done here?  thanks

[2020-10-03 01:16] #7797 closed

[2020-10-03 20:34] duglin commented on #8610
Since #8390 was closed, I want to add my testcase to this one because I'm still seeing odd behavior even after #9092 is merged.

Script:
[code]

And output I see today:
[code]
Notice how the # of pods isn't consistent and it going below 50 doesn't seem right. But the 2x latency at times is obviously the biggest concern.

[2020-10-04 12:09] #9671 closed

[2020-10-04 12:09] #9672 closed

[2020-10-05 09:53] markusthoemmes commented on #5822
I'll unassign here. @savitaashture has it all under control :slightly_smiling_face:

/unassign

[2020-10-05 12:57] markusthoemmes commented on #6504
@vagababov is looking at this realm now. I'll assign since it'll likely impact the behavior here too.

/assign @vagababov

[2020-10-05 12:57] markusthoemmes commented on #9104
Do we have any handle/reproducer/test on this to be able to measure whether we've regressed?

[2020-10-05 12:59] markusthoemmes commented on #9432
@vagababov is looking at this.

/assign @vagababov

[2020-10-05 15:41] dprotaso commented on #5076
/remove-lifecycle stale

[2020-10-05 18:28] vagababov commented on #7727
So I debugged the latest failure.
I do see the revision scale to 4 then `want` becomes 2 then got=0 then want=4 again.
I think there's a race condition in the status, most likely introduced for initial scale (when we reach the initial scale somehow it permits it to drop to 0 and then back to 4).

I'll debug more.

But
cc @julz @taragu @markusthoemmes
for visibility

[2020-10-05 18:29] vagababov commented on #7727
/reopen

This a real issue.

/assign

[2020-10-05 18:38] vagababov commented on #7727
[code]

[2020-10-05 19:43] #8563 closed

[2020-10-05 20:14] vagababov commented on #7727
This is nuts.
[code]

[2020-10-05 20:14] vagababov commented on #7727
I'dd addmore logging to see why this happens. It is as if the PA resource has no minscale annotation attached.

[2020-10-06 02:48] amtisyAts opened #9702 "curl failed when trying code sample of autoscaler"
## Ask your question here:
### environment
knative-serving on minikube

### do what?
I followed this page https://knative.dev/docs/serving/autoscaling/autoscale-go/index.html  to try autoscaler and meet some trouble.

I don't know what caused the routing not to work. In addition, I only deployed serving but not eventing, I think this should not affect it, right?

[code]

### reference
[code]
### w

[2020-10-06 03:06] vagababov commented on #9702
You can't query directly with example.com. You either need to setup your domain or spoof the host via ingress IP address + Host header.

[2020-10-06 09:40] amtisyAts commented on #9702
## environment
knative-serving on minikube
## do what
thanks,I might have solved this and got another.
### request
[code]
### response
[code]
## expect
curl sucessed but i want to get some http response just like the following instead of some info from istio. Is this buceuse i lack some components?
### request
[code]
### response
[code]

[2020-10-06 09:58] nak3 commented on #9702
Did you replace `1.2.3.4.xip.io` with your `${INGRESS_IP}.xip.io`? `1.2.3.4.xip.io` is just an example.

[2020-10-06 10:01] amtisyAts commented on #9702
oh,it's just an example from knative-serving code sample of autoscaler

[2020-10-06 10:12] nak3 commented on #9702
Thank you. I understand.
Then can you drop `-I` option from your curl command? You should run this command:

[code]

[2020-10-06 11:28] amtisyAts commented on #9702
thank you for responing quickly!

i get no response with this command.
in the instruction of this page  https://knative.dev/docs/serving/autoscaling/autoscale-go/index.html
the following looks like http response.But i don't know either it is response or log
[code]

[2020-10-06 11:43] amtisyAts commented on #9702
i can get SUCESS_CODE 200 when run curl -I -H...
[code]
but get no response when run curl -H ...
it looks so strange

[2020-10-06 12:17] nak3 commented on #9702
@amtisyAts Sorry I copied your command and didn't notice that you specified `/sleep`. Please specified sleep as below:

[code]

[2020-10-06 12:33] amtisyAts commented on #9702
thanks, i tried the following and also got code 200
[code]
i guess adding param -I makes  istio only care whether it can be routed or not

thanks for replying .i have got what i want

[code]

[2020-10-06 12:34] #9702 closed

[2020-10-06 17:30] markusthoemmes commented on #7915
I kinda like the default of 0. It also has the least frictional loss throughout our other components (less semaphores etc. at play in the activator and the queue-proxy).

[2020-10-06 17:32] markusthoemmes commented on #7210
Is this still something anybody's pursuing actively? @julz you mentioned a couple of use-cases recently that'd even reinforce the usage of a queue-proxy.

[2020-10-06 17:35] markusthoemmes commented on #3064
The only valid use-case I could think of is a hybrid approach where HPA scales 1-N and we use a request-based signal to scale to and from 0. That was also the original intent of this issue.

I haven't heard anybody ask for it specifically yet though TBH.

[2020-10-06 17:35] #9653 closed

[2020-10-06 17:41] vagababov commented on #7915
👍
Given that we have a flag to set the default CC for everything, this seems easily solvable in any deployment via operator.

[2020-10-06 17:46] julz commented on #7210
I go two ways on this. There are pretty strong reasons imo (especially in large environments) to want to avoid running an extra sidecar with every container. But clearly there are some use cases (freezing, tls termination) where a sidecar is useful. We're pretty blocked until StartupProbe can support subsecond intervals in upstream k8s tho.

I look at this as roughly like Istio. You can run in ing

[2020-10-06 17:48] julz commented on #7915
Thinking about this I actually think the answer is profiles. We should get on that!

[2020-10-06 19:41] vagababov commented on #7210
Unless we provide a library that does basically the same (though requires fanout to N languages).

Metrics for when Activator is not in the path is more of a concern from my point of view (but probably also solvable by a library).

[2020-10-07 02:44] yanweiguo opened #9711 "Enable Chaosduck for autoscaler"
## Describe the feature
There's a Chaosduck to kill a random pod of controllers which supports multiple pods during e2e test to verify the reliability. Now the autoscaler supports multiple pods but the Chaosduck is not enabled for it because:

1. The lease name for autoscaler doesn't container the Autoscaler deployment name .
1. We don't expect all e2e tests will continue passing when a random pod

[2020-10-07 02:44] yanweiguo commented on #9711
/assign

[2020-10-07 03:34] vagababov commented on #9711
Perhaps we can just have a suite for which it is enabled? And keep the others as is (but probably we want 2 instances by default.

[2020-10-07 03:38] vagababov commented on #4190
@JRBANCEL
JR, iirc (which might be wrong), you were working on this right?

[2020-10-07 03:47] JRBANCEL commented on #4190
Downward API comes in two flavors: [Environment Variables](https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/) and [Volume Files](https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/). The first one is done. The second one is not and has never been requested and I would consider it to be part of http

[2020-10-07 09:07] julz opened #9713 "DomainMapping CRD (Tracking Issue)"
Tracking issue for DomainMapping/Vanity URL implementation.

Feature Proposal: https://docs.google.com/document/d/1yXSuKpQqZM5tczBFpPG8TGQoWSkvmoA17nPwDd1UxEI

/area API

Alpha Plan:

- [x] ~~Add CRD and Type: https://github.com/knative/serving/pull/9714~~
- [x] ~~Reconcile DomainMappings to Ingress https://github.com/knative/serving/pull/9735~~
- [x] ~~Propagate Ingress Status https://github.com/

[2020-10-07 12:11] knative-test-reporter-robot opened #9720 "[flaky] test/upgrade.TestAutoscaleSustaining"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestAutoscaleSustaining
* **Repository name**: serving

[2020-10-07 12:11] knative-test-reporter-robot opened #9721 "[flaky] test/conformance/api/v1.TestRouteCreation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestRouteCreation
* **Repository name**: serving

[2020-10-07 12:11] knative-test-reporter-robot opened #9722 "[flaky] _build_tests.Verify_CodeGen"
### Auto-generated issue tracking flakiness of test
* **Test name**: _build_tests.Verify_CodeGen
* **Repository name**: serving

[2020-10-07 15:11] MatteoMori commented on #1509
Hey guys,
any updates on this one?

thanks!

[2020-10-07 15:19] dprotaso opened #9725 "Our binaries are shipping test packages"
We're shipping our fuzzer funcs in our controllers and their dependent libraries. These are really only needed for tests so we can trim 19KB from our binaries

[code]

[2020-10-07 16:00] vagababov commented on #9725
/assign

[2020-10-07 17:38] rhuss opened #9727 "Intermediate "Ingress Reconciliation failed" event received during reconciliation"
## What version of Knative?

## Expected Behavior

No intermediate `Ready == False` should be received during a service update reconciliation if the reconciliation eventually finishes up with `Ready == True`

## Actual Behavior

Since 0.18.0 the client CI has a frequent flake (maybe 80% I would say) when updating a service after a series on operations on this service:

[code]

If we look at the se

[2020-10-07 19:56] #9725 closed

[2020-10-08 09:39] rhuss commented on #9727
Here is the flow of events that lead to this error:

[code]

The event at the line with the arrow indicates when the `ReconcileIngressFailed` event was received.

[2020-10-08 10:08] markusthoemmes commented on #9727
Which Ingress plugin are you using here? This seems like the respective plugin is misbehaving in that it reports `Ready = False` in a non-terminal condition.

[2020-10-08 10:15] markusthoemmes commented on #9326
Sorry for the late response. Why did the service fail in your case?

[2020-10-08 11:40] skonto commented on #8211
Hitting the same using the latest release v0.18.0:

[code]

[2020-10-08 12:03] markusthoemmes opened #9736 "Duplicate Revisions with the same configurationGeneration label"
## What version of Knative?

0.16.x (but I believe this also applies to HEAD)

## Expected Behavior

Under no circumstances does Knative Serving create 2 revisions for one change to the Configuration (for each generation of the Configuration there is at most one Revision).

## Actual Behavior

Knative Serving creates 2 Revisions with the same `configurationGeneration` label on them.

## Steps to R

[2020-10-08 12:12] knative-test-reporter-robot opened #9737 "[flaky] test/e2e.TestSubrouteLocalSTS/short"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSubrouteLocalSTS/short
* **Repository name**: serving

[2020-10-08 12:12] knative-test-reporter-robot opened #9738 "[flaky] test/upgrade.TestAutoscaleSustainingWithTBC"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestAutoscaleSustainingWithTBC
* **Repository name**: serving

[2020-10-08 15:52] mpetason commented on #6520
/unassign

Removing myself from the issue for now as I haven't been as active after the initial work. If we decide to move forward maybe someone more active can pick it up. (I've been focusing on docs/cli)

[2020-10-08 18:28] evankanderson commented on #4283
My $0.02 from writing the initial runtime spec.

The intent was that an empty name would mean that Knative would send the initial request as HTTP/1 with an `h2c` upgrade option where possible, i.e. [section 3.2 of RFC7540](https://tools.ietf.org/html/rfc7540#section-3.2). This would look like (copy-pasting):

[code]

Where the HTTP2-Settings would be supplied by either the client or by the interme

[2020-10-08 19:46] wlhee commented on #4283
I think there is subtle difference of what protocol and what backend can support, when there is an ingress proxy in between.
client -> H2 -> ingress proxy -> (some protocol) -> backend

Without prior knowledge, I don't know how ingress proxy could determine what it should use or what it could use.

For example, for a non-streaming H2 request, ingress proxy could downgrade it to H1 to a H1 only bac

[2020-10-08 21:11] evankanderson commented on #4283
I don't think the backend is ever serving TLS, so I don't think ALPN figures into it.

What's the rationale for blocking gRPC 2->1? I'd think it would show up as POSTs of protobuf body, which the user-container might not know what to do with. Is the implementation simplified if gRPC is explicitly blocked? Right now, I don't think we do anything special with gRPC compared with other methods.

[2020-10-08 21:14] evankanderson commented on #4283
For [HTTP/2 with Prior Knowledge, I think the user needs to specify `h2c` as a string](https://github.com/knative/serving/blob/master/docs/runtime-contract.md#protocols-and-ports).

Note that today Knative is not implementing the *SHOULD offer an HTTP/2.0 upgrade option* part of the spec, which is okay since it is a *SHOULD*.

[2020-10-09 01:05] tcnghia opened #9750 "E2E tests failed on clusters with suffix different than .cluster.local"
It seems that while our conformance tests passed on a cluster with custom DNS suffix, the E2E tests all failed.

See https://github.com/knative/serving/pull/9748 .

## What version of Knative?

HEAD

## Expected Behavior
All tests all passed on a cluster with custom DNS suffix.

## Actual Behavior
Conformance tests passed, E2E tests failed.

## Steps to Reproduce the Problem
https://github.com/kna

[2020-10-09 01:08] tcnghia commented on #9750
cc @mattmoor @nak3 @ZhiminXiang

[2020-10-09 01:20] #7895 closed

[2020-10-09 01:23] mattmoor commented on #9750
Looks like Istio completely fails too 🤔   all the 1.17 legs failed.

This is at least partly due to skew between the test driver and the cluster: https://github.com/knative/serving/blob/bc2f6f745c4e9b00c0194da574aa6e32be54e7a8/test/e2e/route_service_test.go#L130

[2020-10-09 01:26] tcnghia commented on #9750
This also has some hard-coding

https://github.com/knative/serving/blob/5add3966888a34a0c45d173d0946755b5c1d0309/test/e2e/service_to_service_test.go#L50

[2020-10-09 01:27] mattmoor commented on #9750
yeah that's another.

[2020-10-09 01:28] mattmoor commented on #9750
Given that this context is coming from the host environment (through your config) maybe we should have a test flag for these?

[2020-10-09 12:12] #9721 closed

[2020-10-09 12:12] #9722 closed

[2020-10-09 19:54] mattmoor opened #9760 "TestContainerErrorMsg fails against DockerHub"
## In what area(s)?
/area API
/area test-and-release
/kind good-first-issue

## What version of Knative?

HEAD

## Expected Behavior

Test passes.

## Actual Behavior

Test fails with:

[code]

## Steps to Reproduce the Problem

[code]

[2020-10-09 22:14] vagababov opened #9763 "[Umbrella] Progressive Rollout For Configuration Targets"
This is the umbrella bug for Progressive Rollouts of Configuration targets

The feature track: https://docs.google.com/document/d/1CpQRCu_uIzXr6HxGJqx3-jP24O5Jluo_1_D3fUH3-bI/edit#

Initial user issue:  https://github.com/knative/serving/issues/4665

/assign

[2020-10-09 22:15] vagababov opened #9764 "[Progressive Rollout] Rollout State Data Structures"
Design and implementation of the data structures for storing progressive rollout

/assign

Parent issue: #9763

[2020-10-09 22:19] vagababov opened #9765 "[Progressive Rollout] Implementation of storing current state in the annotations"
We need logic to be able to convert current route configuration to a rollout state and store it in the Route.Status.Annotation and/or Kingress.Meta.Annotations.

In general we need only one, but we might want both:
- If it is in route:
  - it will be as the input to the reconciliation
  - it is top level object so users can see the state of the rollout in the Status.Annotations field (not very rea

[2020-10-09 22:21] vagababov opened #9766 "[Progressive Rollout] Implementation of default target rollout logic"
This is the main implementation of the rollout logic.
This includes single and multiple simultaneous revisions in progress.

This issue might be split in two:

- First iteration: for only 2 objects
- Second iteration: for N

Or it might be easier to just combine into 1 — we'll see how the implementation will go.

/assign

Parent issue: #9763

[2020-10-10 01:20] #2201 closed

[2020-10-10 12:10] #9737 closed

[2020-10-10 12:10] knative-test-reporter-robot opened #9769 "[flaky] pkg/activator/handler.TestMetricsReported"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/handler.TestMetricsReported
* **Repository name**: serving

[2020-10-10 12:10] #9738 closed

[2020-10-11 01:24] #5254 closed

[2020-10-11 12:14] knative-test-reporter-robot opened #9775 "[flaky] test/ha.TestControllerHA"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/ha.TestControllerHA
* **Repository name**: serving

[2020-10-11 12:14] knative-test-reporter-robot opened #9776 "[flaky] test/ha.TestAutoscalerHPAHANewRevision"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/ha.TestAutoscalerHPAHANewRevision
* **Repository name**: serving

[2020-10-11 21:33] vagababov commented on #7727
OK let's check :)

[2020-10-11 21:45] vagababov commented on #7727
This one has no problems besides taking some time to reach desired scale:
`Got=0: 01:10:33`
`Got=1: 01:10:36`
`Got=2: 01:10:38`
`Got=3: 01:10:43`
`Got=4: 01:12:08`
So it took 1m35s to scale to 4.
The test waits only 1m. I guess with prow one can never be sure.
Raising the timeout to 3m to reduce flakes.

[2020-10-12 07:29] Shashankft9 opened #9781 "Unable to find RPS metrics in Autoscaler"
/area autoscale
/area monitoring

## What version of Knative?
v0.14.0

## Expected Behavior

Ideally there should be rps metrics for stable & panic mode, and target basis in autoscaler which would go into one of the panels "Observed RPS" in the `Scaling Debugging` grafana dashboard.

## Actual Behavior
I can't find these metrics in the prometheus and hence the grafana panel is showing "No Data".

[2020-10-12 07:32] markusthoemmes commented on #9781
The metrics are still written by the autoscaler here: https://github.com/knative/serving/blob/bcda0512798e649627f8dd6e505a9c7b2c0ffc07/pkg/autoscaler/scaling/autoscaler.go#L149-L159 (even in 0.14, which is somewhat old).

However, these metrics will only be available if your service actually scales on them. We currently do not provide metrics that are not actively used by the system. If you deploy

[2020-10-12 08:02] Shashankft9 commented on #9781
makes sense, thank you.
I got a bit confused from https://knative.dev/v0.15-docs/serving/configuring-autoscaling/#requests-per-second-target thinking that by default if I use `/target` annotation it means requests-per-second.

[2020-10-12 08:02] #9781 closed

[2020-10-12 18:00] mattmoor opened #9787 "GOMAXPROCS in queue-proxy is polluting probe messages"
## In what area(s)?
/area API
/area networking
/kind good-first-issue

## What version of Knative?

HEAD

## Expected Behavior

A terse explanation of what happened.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

Fail readiness probes.

[2020-10-12 18:00] mattmoor commented on #9787
cc @julz @markusthoemmes @vagababov @tcnghia

[2020-10-12 18:02] vagababov commented on #9787
This error is from uber.autogomaxprocs

[2020-10-12 18:04] mattmoor commented on #9787
Ack, it's still our problem. 😉

[2020-10-12 18:06] vagababov commented on #9787
/assign

[2020-10-12 18:07] julz commented on #9787
/assign

[2020-10-12 18:22] julz commented on #9787
/unassign

[2020-10-12 18:27] vagababov commented on #9787
We traced it to memstats being used from shared main.
NewMemStats should live in memstats itself, not in shared main.
So it's a three way turn to fix it all.

[2020-10-12 23:27] #9787 closed

[2020-10-13 03:36] yanweiguo commented on #8909
This is done

[2020-10-13 03:36] #8909 closed

[2020-10-13 04:38] jsoref opened #9792 "hack/update-codegen.sh is broken on macOS 10.14.6 (Mojave)"
## In what area(s)?
/area build

## What version of Knative?

master?
[code]

## Expected Behavior

running:
[code]
should work (I don't have a definition for this, as so far, I have not managed to see this)

## Actual Behavior

Initially https://github.com/knative/serving/pull/9778#issuecomment-707473327:
$ hack/update-codegen.sh
hack/../vendor/knative.dev/test-infra/scripts/library.sh: line 25:

[2020-10-13 04:43] jsoref commented on #9792
For reference, here's the change (partial revert of 250b0f220d) that lets this run to the second failure point:
[code]

[2020-10-13 05:05] n3wscott commented on #9792
Using bash 4 should solve this for you. It is why we use

#!/usr/bin/env bash

Vs

#!/bin/bash

Several other options are bash 4 only that are in use.

[2020-10-13 10:29] julz commented on #9792
looks like we don't currently document this in DEVELOPMENT.md, Ill PR something

[2020-10-13 15:19] #9736 closed

[2020-10-13 16:25] #8663 closed

[2020-10-13 17:09] dprotaso commented on #7195
@sravankumar777 the latest knative release has the knative.dev/pkg changes that reduces the cardinality of the webhook metrics.

Can you re-run your test/scenario and let us know your results

[2020-10-13 17:48] #3809 closed

[2020-10-13 19:55] shreejad commented on #7233
Currently, creating a cluster local Kservice results in the following Kingress:

spec:
  rules:
  - hosts:
    - testbug.default.svc.cluster.local
    http:
      paths:
      - splits:
        - appendHeaders:
            Knative-Serving-Namespace: default
            Knative-Serving-Revision: testbug-h84gc
          percent: 100
          serviceName: testbug-h84gc
          serviceNamespace: de

[2020-10-13 20:50] shreejad commented on #7233
According to https://github.com/knative/networking/pull/129, the .spec.visibility field should be deprecated. Will investigate more about why it is still visible in cluster local services.

[2020-10-14 07:16] markusthoemmes commented on #6984
/assign

Our min version is now 1.17.

[2020-10-14 13:37] #6984 closed

[2020-10-14 21:18] #5971 closed

[2020-10-15 06:49] shreejad commented on #7233
The ".spec.visibility" field in KIngress has been removed in Knative version 0.18. The cluster I previously tested on was 0.17, which is why the field was still showing up. Closing this bug as it is no longer present in the latest Knative version.

[2020-10-15 06:50] shreejad commented on #7233
/close

[2020-10-15 06:50] #7233 closed

[2020-10-15 12:14] knative-test-reporter-robot opened #9834 "[flaky] test/ha.TestAutoscalerHA"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/ha.TestAutoscalerHA
* **Repository name**: serving

[2020-10-15 12:14] knative-test-reporter-robot opened #9835 "[flaky] pkg/reconciler/accessor/networking.TestReconcileCertificateCreate"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/accessor/networking.TestReconcileCertificateCreate
* **Repository name**: serving

[2020-10-15 12:15] #9769 closed

[2020-10-15 13:51] dprotaso commented on #9596
Yeah we deprecated the bundle earlier this year since it wasn't being properly maintained. It will be removed in the next release since the PR landed yesterday https://github.com/knative/serving/pull/9807

cc @skonto who mentioned he's willing to write some basic example docs as a replacement. @upodroid if you're familiar with the prom operator and monitors are you able to contribute some examples

[2020-10-15 13:51] #9596 closed

[2020-10-15 14:24] jeangnc commented on #6803
Hi @markusthoemmes, I would love to help you to tackle this issue!

Can you please help me find a good place to start?

[2020-10-15 14:34] upodroid commented on #9596
That is fine.

[2020-10-15 15:40] vagababov commented on #6803
It's kind of assigned to me :)

[2020-10-15 15:53] vagababov commented on #8628
@taragu this is done?

[2020-10-15 15:55] vagababov commented on #6803
@jeangnc  not a problem.
We have a few other tasks here: https://github.com/knative/serving/issues?q=is%3Aissue+is%3Aopen++label%3Akind%2Fgood-first-issue+ — is anything sounding interesting?

[2020-10-15 15:56] vagababov commented on #6803
Also in our shared library repo: https://github.com/knative/pkg/issues?q=is%3Aissue+is%3Aopen++label%3Akind%2Fgood-first-issue+

[2020-10-15 15:56] #8628 closed

[2020-10-15 20:41] #8661 closed

[2020-10-15 20:55] dprotaso commented on #9606
I'm going to close this out since we've now just removed the deprecated monitoring bundle

https://github.com/knative/serving/pull/9807

[2020-10-15 20:55] #9606 closed

[2020-10-16 09:11] rutpal commented on #7340
same problem here /reopen please

[2020-10-16 09:20] rutpal commented on #7340
/lifecycle frozen

[2020-10-17 12:10] #9835 closed

[2020-10-17 16:36] duglin commented on #8610
Using:
[code]
helped w.r.t. latency - it was around 10 seconds consistently.  However, I had 72 pods the entire time, which just doesn't seem right when I only have 50 requests.  Yes I know that TU (70%) is probably why I get an extra 12 pods, but from a user's POV it's hard to explain.  I wonder if we need to make it more clear that this "utilization" isn't just per pod, but across all pods and r

[2020-10-17 16:38] duglin commented on #8610
Meaning, (# of requests) * (CC/TU%) == # of pods they should see

[2020-10-17 18:25] vagababov commented on #8610
Run with TU=95%? :)

On Sat, Oct 17, 2020 at 9:39 AM Doug Davis <notifications@github.com> wrote:

[2020-10-17 21:32] wlhee commented on #4283
I think the main reason is gRPC 2 -> 1 doesn't quite work smoothly coz H1 is not a full duplex protocol but gRPC assume bidirectional streaming underneath.

[2020-10-17 23:18] duglin commented on #8610
Just FYI:
[code]

[code]

[code]

[2020-10-19 01:28] #6478 closed

[2020-10-19 01:28] #5148 closed

[2020-10-19 05:59] cdlliuy opened #9857 "Failed to sync with `ReplicaFailure` in ksvc creation sometimes"
The problem happens in release 0.17, but should not be a regression issue on 0.17.

When creating knative application in a namespace in which limit range min/max specified, i.e. limit range min for cpu 10m,  sometimes I can get the expected error msg of 'pod creation forbidden', but sometimes not and just knative application creation failed with `ProgressDeadlineExceeded`.

This is the output for

[2020-10-19 13:33] dprotaso commented on #7881
Reminder email sent:

[2020-10-20 02:35] dprotaso commented on #9857
@cdlliuy thanks for the report - I'll take a look tomorrow (I'm on EST) and see if I can reproduce the issue

[2020-10-20 12:15] #9776 closed

[2020-10-20 13:02] sneko commented on #7933
Hi @ZhiminXiang,

Sorry for the delay. By using yourn `EnvoyFilter` I succeeded reaching my APIs through the Google domain mappings with websockets! What a success héhé ❤️

I will after that clean the messy workaround (that was done by using default cluster domain just for websocket endpoints, conflicting in SSL and so on...).

Thanks for taking time on this issue, keep us updated when Google offi

[2020-10-20 13:26] duglin commented on #7575
@mattmoor gonna add this to this week's agenda... ran into another situation where this might be useful

[2020-10-20 13:39] duglin commented on #7575
We're running into a situation where we need to disable an account. This means that we don't want to delete the user's CRs, but we do want to delete the running pods associated with it. We also don't want to modify the user's CRs (eg set things to max-scale=0) because then we'd need to restore the old values once the account is re-enabled. Possible to do, but not ideal.

While brainstorming on way

[2020-10-20 14:00] mattmoor commented on #7575
cc @n3wscott as this topic of suspecting sources has come up before 🤔

[2020-10-20 14:19] julz opened #9874 "Unexclude Kourier v1alpha1 tests when RewriteHost feature ships"
DomainMappings relies on the RewriteHost feature which is [not yet implemented](https://github.com/knative-sandbox/net-kourier/issues/159) in kourier. When this is implemented, we can un-exclude v1alpha1 e2e tests against kourier in `kind-e2e.yaml` (edit: and in `e2e-tests.sh`).

[2020-10-20 15:45] n3wscott commented on #7575
*Suspending

Yes, a pause feature to allow you to build up a "hot" cluster and be able to switch over to it and turn the sources on and have it ready to go.  A disaster recovery type cluster.

[2020-10-20 16:10] duglin commented on #7575
That would be awesome - we have a similar need - the domain mapping stuff was part of that need too :-)

[2020-10-20 19:31] dprotaso commented on #9857
Are you setting a ResourceQuota on the namespace? Do you have the example yaml?

[2020-10-20 19:36] dprotaso commented on #9857
Also what version of K8s are you are running

[2020-10-20 22:45] n3wscott commented on #7575
Pause is on the roadmap for sources in the "soon" category, like 6 months.

[2020-10-21 00:33] duglin commented on #7575
Got any kind of design doc yet?

[2020-10-21 01:27] #7487 closed

[2020-10-21 07:32] qibobo opened #9888 "There are some 502 errors when ksvc scales from zero"
## What version of Knative?

cmd to create ksvc
[code]
When I do the performance test to a ksvc which scales from zero, there are often some 502 errors only at the beginning of the test.
Then I found that the error were returned from activator, as the following activator logs shows:

[code]
From the log, I found that all of the errors are for the same pod `172.30.24.53:8012` and this pod is the fi

[2020-10-21 07:36] markusthoemmes commented on #9888
Thanks for the extensive information! :tada:

How big is the loadtest? How many activator replicas are you running?

The error being triggered is from inside Golang's ReverseProxy implementation and usually hints at overload issue, like running out of file handles and stuff like that.

[2020-10-21 07:40] qibobo commented on #9888
@markusthoemmes
The test scenario is 700 requests/second and each request will sleep 1s and return. There are 3 activators in the test env and I only find 2 activators' log have the error.

[2020-10-21 08:13] ZhuangYuZY commented on #9888
@markusthoemmes Thank you to take a look the issue.

Cold start is important for our user case, for example, there is suddenly a lot of events generated and send to end user knative service to process.  700 requests/second seems not be a big throughput, we expected no error response in this case.

[2020-10-21 08:36] markusthoemmes commented on #9888
Is this really 700 per second, or 700 in parallel? With the cold start times we're seeing, 700 per seconds can easily mean that > 3000 requests get queued up, which could be running into file handle limits etc.

[2020-10-21 08:41] qibobo commented on #9888
@markusthoemmes
I use vegeta https://github.com/tsenart/vegeta to do the test and set the parameter rate to 700. According to the doc(https://github.com/tsenart/vegeta#-rate), I think it is 700 per second.

[2020-10-21 12:06] cdlliuy commented on #9857
@dprotaso ,  I am running on k8s v0.17 with limit range :

[code]

The resource quota is set but won't take effect in this case, since I am running with a very small cpu request number

[2020-10-21 12:14] knative-test-reporter-robot opened #9894 "[flaky] test/scale.TestScaleToN/scale-200/003-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/003-of-200
* **Repository name**: serving

[2020-10-21 12:14] knative-test-reporter-robot opened #9895 "[flaky] test/scale.TestScaleToN/scale-200/183-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/183-of-200
* **Repository name**: serving

[2020-10-21 12:19] dprotaso commented on #9857
Great thanks - I'll take a look later today

[2020-10-21 16:37] scothis commented on #7575
If you set a ResourceQuota to allow zero Pods, will it terminate running Pods?

[2020-10-21 16:59] julz commented on #7575
@scothis looks like no according to the docs (["Neither contention nor changes to quota will affect already created resources."](https://kubernetes.io/docs/concepts/policy/resource-quotas/)), but you could probably set one and then stop all pods in a namespace to achieve a ~similar effect.

[2020-10-21 17:36] vagababov commented on #9888
other questions:

- what is your target?
- what is your concurency?
- what is your timeout on the vegeta?

In general, scaling from 0 to 700QPS with 1s for each request, even if your image starts in 3s — it's already 2100 queued requests.

[2020-10-21 18:14] emaildanwilson commented on #9415
@julz - I don't have access to the Feature Proposal doc referenced in #9713.
Is this use case included in that work or not?

[2020-10-21 18:22] julz commented on #9415
Hi @emaildanwilson, you should be able to get access to the doc by joining the [knative-users@](https://groups.google.com/forum/#!forum/knative-users) google group. Let me know if that doesn't work or you're already a member and I'll try to figure out what's going wrong!

[2020-10-21 19:56] vagababov commented on #9888
Saw the CC=0. And I guess default target so 100*0.7=70?
With 700qps and each request taking 1s after first 3s you're requesting scale of 30pods, which is a tall order even for a well provisioned cluster.

[2020-10-21 21:41] emaildanwilson commented on #9415
thank you. I reviewed the doc and it seems to solve for ingress specific domain routing as opposed to egress. The reason we need hostAliases is to assist with egress calls from within a running pod for a knative service.

[2020-10-22 01:29] #8430 closed

[2020-10-22 06:16] markusthoemmes commented on #7708
/remove-lifecycle stale

Still needed.

[2020-10-22 08:37] benjaminhuo commented on #7181
I hit similar issue like this and it panics at the end eventually , I'm using ambassador instead of istio:

[code]

[2020-10-22 12:11] knative-test-reporter-robot opened #9911 "[flaky] test/conformance/api/v1alpha1.TestDomainMapping"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestDomainMapping
* **Repository name**: serving

[2020-10-22 14:55] julz commented on #9911
/assign

[2020-10-22 15:51] dprotaso commented on #9857
So I was able to repro on Kind and [this script](https://gist.github.com/dprotaso/56c1fd920291eff29cce48f0501732a0). Looking at the code we don't propagate the deployment status to the revision unless it's 'active' so it'll time out. I don't recall what triggers the revision becoming active.

I wasn't able to see your first error where the status was propagated correctly - ie.`forbidden: minimum c

[2020-10-22 16:07] dprotaso commented on #9857
Related: https://github.com/knative/serving/issues/8540

[2020-10-22 18:10] vagababov commented on #7181
This means the `ing.Status.PublicLoadBalancer` is nil. I guess it's easy to add a check, but rather it seems an error with Ambassador that they don't _set_ this field.

[2020-10-22 22:36] vagababov commented on #8970
Is this ready?

[2020-10-23 01:30] #6510 closed

[2020-10-23 01:30] #4935 closed

[2020-10-23 04:10] yanweiguo opened #9921 "Consider migrating autoscaler stats forwarder from an informer watcher to a controller for lease"
## Describe the feature

We have lots retry logic in the stats forwarder https://github.com/knative/serving/blob/master/pkg/autoscaler/statforwarder/forwarder.go#L130. By migrating to a controller, we'd get rid of the arbitrary retry and make it easier for testing logic.

[2020-10-23 04:11] yanweiguo commented on #9921
/area autoscale

[2020-10-23 04:34] #9911 closed

[2020-10-23 12:14] knative-test-reporter-robot opened #9928 "[flaky] test/scale.TestScaleToN/scale-200/009-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/009-of-200
* **Repository name**: serving

[2020-10-23 12:14] #9895 closed

[2020-10-23 12:14] knative-test-reporter-robot opened #9929 "[flaky] test/scale.TestScaleToN/scale-200/005-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/005-of-200
* **Repository name**: serving

[2020-10-23 12:14] #9894 closed

[2020-10-23 12:14] knative-test-reporter-robot opened #9930 "[flaky] test/scale.TestScaleToN/scale-200/108-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/108-of-200
* **Repository name**: serving

[2020-10-23 12:14] knative-test-reporter-robot opened #9931 "[flaky] test/scale.TestScaleToN/scale-200/170-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/170-of-200
* **Repository name**: serving

[2020-10-23 12:15] salanki commented on #9760
Anyone else than me seeing this in production when deploying new services?

[2020-10-23 14:19] benjaminhuo commented on #7181
Thanks, @vagababov for the reply, I didn't add a load balancer when I install ambassador, the load balancer is added after installing ambassador. I'll test if adding a load balancer before installing ambassador can avoid this issue.

[2020-10-23 18:31] yanweiguo opened #9932 "Bring back the timestamp field for scaling stat"
## Describe the feature

Currently the autoscaler will retry up to 15 seconds to forward the scaling metrics to the leader pod. The reason could be 1) long time to elect a new lead (see https://github.com/knative/pkg/issues/1835) 2) network programming after lead change in mesh case. As we give the metric timestamp when receiving, there are some delays for the metrics which are ever retried and th

[2020-10-23 18:36] vagababov commented on #9932
There's always theoretical problem with time drift, but I guess it's not larger than retries and endpoints reconciliation delays.

[2020-10-23 19:06] yanweiguo commented on #9932
I assume you have no objection by this comment.

[2020-10-23 19:12] vagababov commented on #9932
We actually never set the time (at least no in my recorded history).
In general, I personally don't, but let's see what others have to add. It will require changing how we record things — and might change history which might not be good.

[2020-10-24 01:30] #6258 closed

[2020-10-24 01:30] #5664 closed

[2020-10-24 04:38] VenkateshSrini opened #9937 "K8s job as consumer"
## Ask your question here:
Hi,
I have seen example where we using a K8s service is used as a serving component to KNATIVE serving component with a broker. What I would like to know if can we use a k8s job instead of a service. I would expect the k8s broker to clone an existing job template and report back the status. Is that possible today?

[2020-10-24 12:15] #9834 closed

[2020-10-24 19:07] #9673 closed

[2020-10-25 12:15] #9930 closed

[2020-10-25 12:15] #9929 closed

[2020-10-25 12:15] #9931 closed

[2020-10-25 12:15] #9928 closed

[2020-10-26 11:48] johanbrandhorst opened #9945 "Duplicate CRDs between serving-crds.yaml and serving-core.yaml"
/area API

## What version of Knative?

0.18.1

## Expected Behavior

I expected to be able to use the manifests as a kustomize base.

## Actual Behavior

The CRD `configurations.serving.knative.dev` appears in both `serving-crds.yaml` and `serving-core.yaml`. Kustomize does not allow you to apply both at once since their definitions clash:

[code]

## Steps to Reproduce the Problem

Download `ser

[2020-10-26 12:34] MIBc commented on #9888
Does that mean one activator has queued too many requests ? I see there were only 3 activators in this case.

[2020-10-26 13:56] dprotaso commented on #9945
What kubectl version are you running?

Are you following installation directions from anywhere they suggest to use `-k`? The yamls provided as part of a release aren't intended to be installed together all at once but to be used more selectively for your needs.

ie. `serving-post-install-jobs.yaml` actually contains `serving-storage-version-migration.yaml `serving-default-domain.yaml`.  All these

[2020-10-26 14:06] johanbrandhorst commented on #9945
I'm running `v1.19.2`. I was following the instructions at https://knative.dev/docs/install/any-kubernetes-cluster/#installing-the-serving-component and hoping I could build a kustomize base out of the two files it says to install. I removed the duplicate CRDs from `serving-core.yaml` and it applies fine, is there a good reason we can't do that universally?

[2020-10-26 15:39] mattmoor commented on #3587
/lifecycle frozen

[2020-10-26 16:23] vagababov commented on #9888
we also do subsetting, so it means for the first second or so there'll be just 2 activators for the revision — it depends on the scale of the revision. But even 700 concurrent requests per activator is close to the limit — and then you're adding more requests, since 30 pods won't happen immediately. All in all, I think you're stretching beyond what we're capable of right now.

[2020-10-26 18:37] dprotaso commented on #9945
The intent of producing a separate crd.yaml  & suggesting to install things in two steps is because users saw issues where the API server would report a CRD/resource type was not found after it was just applied. We saw this with our ImageCache resource.

If you're using kustomize, which I believe is smart about applying CRDs first, then you should only need the `-core` yaml file.

[2020-10-26 18:46] dprotaso commented on #9945
We also apply labels to our CRDs `knative.dev/crd-install=true` so I believe you could do some filtering on that

[2020-10-26 22:08] yanweiguo commented on #9932
@markusthoemmes @julz do you have any comments?

[2020-10-27 01:34] #4263 closed

[2020-10-27 06:39] benjaminhuo commented on #7181
@vagababov I've reinstalled ambassador , and still got the same `nil pointer` issue.
Should I open an issue to ambassador? or who from ambassador should I @ ?

Thanks
Ben

[2020-10-27 07:25] nak3 commented on #7181
@benjaminhuo Yeah, could you please open a issue ticket against ambassador? I still don't know who is the best person to add @ (@alexgervais maybe?) but let's just report it.

The culprit is that ambassador still uses deprecated `ingress.status.LoadBalancer` instead of `ingress.status.PublicLoadBalancer`.

https://github.com/datawire/ambassador/blob/0fcc86d0ea7557245d3e31eb2ae21c9129d43922/python/

[2020-10-27 08:21] benjaminhuo commented on #7181
Sure, it's amazing that you already find the root cause in ambassador's code...

[2020-10-27 08:32] benjaminhuo commented on #7181
https://github.com/datawire/ambassador/issues/3038 issue opened for ambassador

[2020-10-27 10:05] vaikas commented on #9725
Did this actually fix it? As part of eventing work I was going to do this, but I was still seeing them in our binaries after moving the fuzzers into the _test*. So, I tried to back to serving to see what I had goofed up. But, yet, I still see this in the head:
vaikas@vaikas-a01 serving % go build ./cmd/controller/main.go
vaikas@vaikas-a01 serving % go tool nm -size  main  | grep fuzz
 1293120

[2020-10-27 10:07] vaikas commented on #9725
I think we still need to do some work in pkg/ to get rid of all of these.

[2020-10-27 12:13] knative-test-reporter-robot opened #9950 "[flaky] pkg/reconciler/nscert.TestDomainConfigDomain/default_domain"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/nscert.TestDomainConfigDomain/default_domain
* **Repository name**: serving

[2020-10-27 14:42] duglin commented on #6478
@tcnghia @nak3 @feclist was this one ever resolved?

[2020-10-27 14:43] julz commented on #9932
oops, thought I'd replied to this - guess I didn't hit the button 🌝. In general I'm not against adding the timestamp back. It may also be quite helpful in terms of handing degenerate cases where things are taking too long to come back (slow networks etc). I guess there could be some overhead, but we saved a lot moving to protobuf etc so 🤷, we can worry about it if we see real problems.

I'm quite

[2020-10-27 14:55] nak3 commented on #6478
@duglin No, it is not. But it should be opened for net-istio. I will create the issue soon.

[2020-10-27 16:56] vagababov commented on #9725
Yeah, i think those are in ducks.

[2020-10-27 17:24] mattmoor opened #9957 "queue-proxy is huge"
/area API
/area autoscale
/area networking

## What version of Knative?

HEAD

## Expected Behavior

queue-proxy is trivially small.

## Actual Behavior

As of this morning, queue-proxy is ~55.7MB.

## Steps to Reproduce the Problem

[code]

Going to self-assign, but feel free to jump in and party on this with me.
/assign

[2020-10-27 17:40] mattmoor commented on #9957
Goal: eliminate queue-proxy dependency on `k8s.io/client-go/kubernetes`

Two offenders:
1. `k8s.io/client-go/informers` is pulled in via the informed watcher in `knative.dev/pkg/configmap` (unused in queue-proxy): https://github.com/knative/pkg/pull/1851
2. `k8s.io/client-go/kubernetes` is pulled in directly via `knative.dev/pkg/metrics` for the stackdriver exporter to fetch secrets.

Pulling in t

[2020-10-27 18:02] mattmoor commented on #9957
Goal: eliminate queue-proxy dependency on `contrib.go.opencensus.io/exporter/stackdriver`

Two offenders:
1. `knative.dev/pkg/metrics`
2. `knative.dev/pkg/tracing`

Commenting out the stackdriver logic in these packages further reduces the queue-proxy binary size to `35,560,653` (another 18% reduction).

cc @evankanderson

[2020-10-27 18:34] vagababov commented on #9957
In my build opencensus also seems to pull ` 793066 T github.com/aws/aws-sdk-go/aws/endpoints.init` which with other aws stuff is another meg.

[2020-10-27 18:46] mattmoor commented on #9957
FWIW, that's likely included in my figures, unless it is transitively pulled in through other things.  I'm measuring the overall binary size once a particular cut point in the dependency graph has been snipped.

[2020-10-27 19:43] mattmoor commented on #9957
Shouldn't effect the code pages, but @tcnghia also found that if we use:
[code]

It drops things another ~10MB (on top of what I measured above).  Seems like the lowest hanging fruit yet.

[2020-10-28 02:10] mattmoor commented on #9937
There isn't anything like this today, although you could have the events delivered to a Knative Service, which turns around and creates Jobs, but the creation of Jobs itself is outside the scope of Serving.

[2020-10-28 02:10] #9937 closed

[2020-10-28 02:11] mattmoor commented on #9945
Looks like this is resolved, please let us know if there are any further issues.

[2020-10-28 02:11] #9945 closed

[2020-10-28 02:12] mattmoor commented on #9932
/assign @yanweiguo

Getting this off the "unnassigned" query 😉

[2020-10-28 02:13] mattmoor commented on #9921
/assign @yanweiguo

[2020-10-28 02:14] mattmoor commented on #9888
/assign @vagababov

[2020-10-28 02:15] mattmoor commented on #9874
/assign @jmprusi @davidor @nak3

[2020-10-28 02:16] mattmoor commented on #9792
I think this has been resolved via @julz documentation update

[2020-10-28 02:16] #9792 closed

[2020-10-28 02:17] mattmoor commented on #9760
@salanki This issue is tracking a mismatch in the error our test is expecting.  If you are seeing an issue deploying from DockerHub please file a separate issue with details, so that we can try to track and resolve it.

[2020-10-28 02:18] mattmoor commented on #9750
/assign @tcnghia

Any progress on this?

[2020-10-28 02:29] mattmoor commented on #9713
/assign @julz

[2020-10-28 02:30] mattmoor commented on #9541
/assign @ZhiminXiang

[2020-10-28 02:39] mattmoor commented on #9544
Ultimately, different PodSpecables present different restrictions.  For some cases they can handle it gracefully, and for others they should probably fail gracefully.

I'd characterize BYO name as one of our niche restrictions.

[2020-10-28 02:41] mattmoor commented on #9477
I can try to reproduce this if we can get a specific sequence of instructions to reproduce.

[2020-10-28 02:45] mattmoor commented on #9584
It should be possible to write something like this that works with Knative (@vaikas PoC'd something very similar to this), however, this doesn't really make sense as part of Knative.

[2020-10-28 02:45] #9584 closed

[2020-10-28 02:47] mattmoor commented on #9446
/assign @vagababov

Has this resolved?

[2020-10-28 02:48] mattmoor commented on #9422
Do we have a repro case for this?

[2020-10-28 02:59] mattmoor commented on #9409
Does this repro at HEAD or with service links disabled?

[2020-10-28 03:53] vagababov commented on #9446
I don't think we've implemented this at all.

[2020-10-28 04:09] mattmoor commented on #9750
With the changes in https://github.com/knative/serving/pull/9961 this passes for Kourier and Contour with one e2e fix.

net-istio fails in all legs, so hopefully there's some simple thing we need to fix, but it seems clearly like a net-istio problem now (vs. a serving problem).

cc @JRBANCEL @ZhiminXiang @nak3

Not sure if any of you want to dig into this from the Istio side?

[2020-10-28 05:01] vagababov commented on #9422
Given it's more than a month with no activity, I think we can close this.
Should the repro arrive we can reopen.
/close

[2020-10-28 05:01] #9422 closed

[2020-10-28 10:43] nak3 commented on #9750
Sure, I will look into it.

[2020-10-28 11:53] Shashankft9 opened #9968 "A way to customize the Ingress properties while deploying ksvc workload"
/area networking
/kind spec

## Describe the feature
I have a use-case where I'd like to add, rewrite some of the headers of my ingress request before it actually reaches the workload. Basically something like this: https://istio.io/latest/docs/reference/config/networking/virtual-service/#Headers
Although serverless is more into the ideology that a user shouldn't have to worry about exposing to in

[2020-10-28 12:27] duglin commented on #7575
Another possible need for a pre-start hook... build. While I suspect that many people think of "build" and "create ksvc" as two separate steps, and they're done sequentially, it actually makes it kind of awkward in a UI where from the user's POV they've asked for a ksvc to be created based on a yet-to-be-built image.

[2020-10-28 12:33] duglin commented on #7575
Another possible need for a pre-start hook... build. While I suspect that many people think of "build" and "create ksvc" as two separate steps, and they're done sequentially, it actually makes it kind of awkward in a UI where from the user's POV they've asked for a ksvc to be created based on a yet-to-be-built image.

Abstractly, if there's a UX that presents something like:
[code]
which means cre

[2020-10-28 13:07] xinydev opened #9970 "Change the imagePullPolicy for queue-proxy to IfNotPresent"
/area API
 /area autoscale

## Describe the feature
The current default setting is Always. Can we change it to IfNotPresent to reduce cold start time. or add a config for the imagePullPolicy?

[2020-10-28 13:13] markusthoemmes commented on #9970
There is no default specified today so this defaulting from K8s applies

For released images, this should default to `IfNotPresent` already.

[2020-10-28 13:19] #9970 closed

[2020-10-28 14:39] qibobo commented on #9888
Some more investigation for this issue:
In my test, I used vegeta to send request to the ksvc with rate 700 per second for 30 seconds. There are total 3244 502error and all of them are because activator failed to proxy requests to the same pod(the first running pod of the ksvc when scale from 0).
By update the activator code I got there are at least 5146 requests that activator tried to send to th

[2020-10-28 14:41] markusthoemmes commented on #9888
@qibobo we already kinda have such a mechanism. You can specify a containerConcurrency (`--concurrency-limit 0` on the CLI) to tell the entire system how many requests at a time should hit a respective pod.

[2020-10-28 15:54] julz commented on #9888
@qibobo am I right in thinking that setting a non-zero CC mitigates the issue (for use cases where that's acceptable)?

[2020-10-28 16:12] qibobo commented on #9888
@markusthoemmes
If I set a small CC and the request number is very big,  503 error will be returned, right? So is it better we make activator redirect the requests smoothly and do not return an error?

[2020-10-28 16:22] julz commented on #9888
I _think_ the activator will already queue things up when CC is small, so it'd amount to the same thing as you're suggesting @qibobo, iiuc. If we wanted to have the activator let more things queue up before it returned 503s we could do that by bumping https://github.com/knative/serving/blob/master/pkg/activator/net/throttler.go#L57 (although it's _reasonably_ high already I think). Are you able to

[2020-10-28 23:22] ZhiminXiang commented on #7933
@sneko sure, will post the update in this thread when the fix is shipped in Cloud Run.
I am gonna close this issue at this point as there is no AI for it.

[2020-10-28 23:22] #7933 closed

[2020-10-28 23:26] ZhiminXiang commented on #9677
This issue has been fixed. Now in the DEV doc, Kourier is used for dev because of its simplicity. If you want to develop against Istio, you can follow the instruction in net-istio repo https://github.com/knative-sandbox/net-istio/blob/master/DEVELOPMENT.md

[2020-10-28 23:26] #9677 closed

[2020-10-29 00:36] nak3 commented on #9968
/cc

[2020-10-29 01:24] eclipselu commented on #9677
Awesome, thank you!

[2020-10-29 01:44] vagababov commented on #8857
/lifecycle frozen

we can't really enable this right now

[2020-10-29 06:56] julz opened #9980 "Allow setting ReadOnlyRootFilesystem"
## Describe the feature

We currently [block users setting](https://github.com/knative/serving/blob/af13fb68dba483951d92f08a2267c0b33be3e0ab/pkg/apis/serving/fieldmask.go#L604) the `securityContext.readOnlyRootFilesystem` field of the container spec (we allow runAsUser, and we allow runAsGroup and runAsNonRoot if a feature flag is set). We should not block setting this since it lets people make th

[2020-10-29 07:00] markusthoemmes commented on #9980
Me isn't seeing an issue at all!

[2020-10-29 11:44] johanbrandhorst commented on #9945
It appears `serving-core.yaml` is missing `caching.internal.knative.dev/v1alpha1.Image`. I'd be happy to repurpose this issue to track the inclusion of this CRD into `serving-core.yaml`, so that `kustomize` environments can use just that manifest.

[2020-10-29 11:51] duglin commented on #6478
@nak3 thanks

[2020-10-29 12:13] #9950 closed

[2020-10-29 13:34] sravankumar777 commented on #7195
@dprotaso, sorry for the delay.
We have in process of updating the latest release v0.18.0 on our environments.
Would update you all with the results for my test.

Thanks.

[2020-10-29 15:15] howardjohn opened #9985 "load tests: monitor response flags"
/area test-and-release
/kind feature

## Expected Behavior

Today, the load tests just report error codes. When debugging these issues, especially infrequent ones, its useful to get the Envoy response flag.

This can be added to the http headers if we don't want to get it from logs/metrics:
[code]

which will look like
[code]

Which could be tracked and reported to Mako(?)

cc @chizhg

[2020-10-30 01:08] #2048 closed

[2020-10-30 05:34] yanweiguo opened #9990 "Nodes upgrade failure due to Activator PDB"
## What version of Knative?

Master

## Expected Behavior

With activator HPA and PDB, nodes can be upgrade to a new K8S version.

## Actual Behavior

With activator HPA and PDB, nodes upgrade failed.

## Steps to Reproduce the Problem

1. Create a K8S cluster with non-latest  version.
2. Install Knative.
3. Upgrade the K8S cluster to another version.

## Additional information

According to https

[2020-10-30 05:50] vagababov commented on #9990
Is there just 1 single node available?

[2020-10-30 06:02] yanweiguo commented on #9990
I tried single node and 3 nodes, both failed.

[2020-10-30 06:02] ZhiminXiang commented on #9990
I think the issue is not limited to 1 node.

Even for multiple nodes, the issue could still happen when the number of activator pod is 1 at the time of draining node as the number of activator pod equals `minAvailable` which is problematic per https://kubernetes.io/docs/tasks/run-application/configure-pdb/#specifying-a-poddisruptionbudget, specifically the following quote
[code]

[2020-10-30 09:52] Shashankft9 commented on #9169
+1 for making retries as ad-hoc.
I went through the related issues and seems like although retries do more bad than good (or no good at all) when the 5xx is genuine and not something that can be fixed with retry, still, it can be viable in some general cases, essentially like a feature that can be enabled through a ksvc annotation or even better if it can be configurable too - with the user being

[2020-10-30 14:07] mattmoor commented on #9957
@evankanderson do you want to link to or summarize your thoughts on timeline to cut this dependency?

[2020-10-30 14:50] dprotaso commented on #7556
bump @JRBANCEL

[2020-10-30 16:10] emaildanwilson commented on #9415
Since this isn't covered in the domain mapping proposal is it ok to add a feature toggle for it?

[2020-10-30 16:59] dprotaso commented on #9415
I think so -  I'll add this to next week's API WG agenda: https://docs.google.com/document/d/1NC4klOdNaU-N-PsKLyXBqDKgNSHtxCDep29Ta2b5FK0

[2020-10-30 18:39] vagababov commented on #9990
My expectation is that for multinode cluster it will actually deploy a new instance then only kill the old one.
Can you check k8 events to see the order of events?

[2020-10-30 22:01] #9765 closed

[2020-10-30 22:01] #9764 closed

[2020-10-30 22:02] vagababov opened #9998 "Allocated percentage recomputations"
When config target % changes, the underlying rolled out revision % should also change.
/assign

[2020-10-30 22:04] vagababov opened #9999 "Update ingress path mappings based on rollout percentages"
This is the actual _taking action_ part of the rollout process, where we apply the computed rollout object, initial version (no actual rollout here https://github.com/knative/serving/pull/9975) to the actual path mappings.

Also issue 9999!

[2020-10-30 22:04] vagababov opened #10000 "Issue 10000!"
🎉
Time to celebrate
🍾

[2020-10-30 22:36] arturenault opened #10001 "Allow for disabling test cleanup in e2e tests"
/area test-and-release
/kind good-first-issue

## Describe the feature
When debugging end to end tests locally, it's frequently helpful to keep resources around after the test run finishes to debug things. Currently this requires finding the call to EnsureTearDown and commenting it out.

It should be simple enough to do this with an environment variable or flag, probably adding a log to ensure tha

[2020-10-31 11:16] duglin commented on #9169
Why not use the async support that’s being worked on instead? Then we don’t need to worry about long lived connections back to the client if the retries span long periods of time

[2020-10-31 12:11] #8693 closed

[2020-11-02 12:14] knative-test-reporter-robot opened #10008 "[flaky] pkg/reconciler/autoscaling/hpa.TestControllerCanReconcile"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/autoscaling/hpa.TestControllerCanReconcile
* **Repository name**: serving

[2020-11-02 16:48] dprotaso commented on #8664
/remove-lifecycle stale

[2020-11-02 16:49] dprotaso commented on #8665
/remove-lifecycle stale

[2020-11-02 16:49] dprotaso commented on #10000
Should have saved it for a sweet PR ;)

[2020-11-02 16:54] vagababov commented on #10000
Didn't have anything at hand :(

[2020-11-02 16:57] markusthoemmes commented on #10000
Should've enabled a new linter for it :joy:

[2020-11-02 20:25] mattmoor commented on #7265
/lifecycle frozen

We can make this configurably opt-in/out in a similar way to how eventing's sugar controller works

[2020-11-03 23:25] #9932 closed

[2020-11-04 01:07] #1910 closed

[2020-11-04 01:51] nak3 commented on #7871
/remove-lifecycle stale

[2020-11-04 02:09] nak3 commented on #7406
Re-opening as unfortunately we had to revert the fix :cry:  https://github.com/knative/serving/pull/7407

[2020-11-04 03:56] cdlliuy opened #10029 "Allow spec.schedulerName in validation webhook"
## In what area(s)?

In kube v1.19, the multiple scheduler profile support is released
https://kubernetes.io/docs/reference/scheduling/config/#multiple-profiles
So that a pod can be created with a customized scheduling profiling by define spec.schedulerName entry.

But this field is marked as disallowed in the validation webhook.
https://github.com/knative/serving/blob/master/pkg/apis/serving/fiel

[2020-11-04 06:01] wade19870531 opened #10030 "Does knative support istio service entry in replica multi-cluster?"
## In what area(s)?
/area networking

## Ask your question here:
Does knative serving support istio service entry in replica multi-cluster?
I set up a istio replica multi-cluster which has two k8s cluster (cluster 1 and cluster 2).
A ksvc was deployed in cluster 1 and B ksvc was deployed in cluster 2, and service entries were created in cluster 1 and cluster 2.
A ksvc attempt to connect to B ksvc

[2020-11-04 06:20] ZhiminXiang commented on #9162
About the original question of disabling TLS, we now support disabling TLS per ksvc. But ksvc still cannot work with PASSTHROUGH.

[2020-11-04 07:00] Shashankft9 commented on #9169
@duglin what async support are you referring to? sorry might have missed in the discussions I have gone through

[2020-11-04 08:35] nak3 commented on #7406
Although it is still not fixed yet, I believe we should remove the `parallel 1` option and expose the failure on test grid.
I opened https://github.com/knative/serving/pull/10031 to remove the option.

[2020-11-04 12:12] #10008 closed

[2020-11-04 12:50] duglin commented on #9169
@Shashankft9 see: https://github.com/knative-sandbox/async-component

[2020-11-04 21:16] ahmetb opened #10037 "Support startupProbe in webhook"
## In what area(s)?

/area API
/kind spec

## What version of Knative?

v0.17.2-gke.3

## Expected Behavior

startupProbe should be supported.

## Actual Behavior

It seems startupProbe usage is actively prevented in serving webhook.

## Steps to Reproduce the Problem

[code]

[2020-11-05 04:30] #7406 closed

[2020-11-05 09:41] zhaojizhuang opened #10040 "Enable CORS configuration"
## In what area(s)?

/area networking

## Describe the feature

We should enable Cross-Origin Resource Sharing (CORS) configuration in `ksvc`’s annotations

Reconciler reconcile CORS info from `ksvc (annotations)` to `virtualservice`: `ksvc(annotations) -> route(annotations) -> kingress( Entity spec) -> virtualservice `

we can config by doing that:
* Configurations set in `config-domain` for defa

[2020-11-05 09:42] zhaojizhuang commented on #10040
kind/feature

[2020-11-05 09:43] zhaojizhuang commented on #10040
/area networking

[2020-11-05 09:51] zhaojizhuang commented on #10040
@markusthoemmes @vagababov have a look

[2020-11-05 12:30] cdlliuy commented on #9857
@dprotaso ,   I think the similar issue also happens when the namespace has a resource quota or the cluster resource is exhausted.
Sometimes, the resource quota breached or insufficient resource is thrown out to ksvc service CR layer, so that the end user can aware of it.
But sometimes,  it just got stuck with revisionMissing.  Then the end-user need to dive down until the replicaset layer to find

[2020-11-05 17:08] vagababov commented on #10040
/assign @tcnghia @nak3 @ZhiminXiang

[2020-11-06 02:51] nak3 commented on #10040
I am wondering that this kind of custom configuration should be supported by each KIngress's (net-istio, net-contour, etc...) as their plugin :thinking:  But I don't have any good conclusion yet.

[2020-11-06 05:14] wade19870531 commented on #10030
I found a solution. Create a service entry

[code]

and `curl helloworld-python.default.global:80 --header "Host: helloworld-python.default.example.com"`

[2020-11-06 05:14] #10030 closed

[2020-11-06 06:41] qibobo opened #10051 "Update profiling.enable in configmap config-observability will trigger all ksvc pod recreating"
## What version of Knative?

I want to get a golang profile of knative-serving components, so I set the profiling.enable in config-observability to true. Then I found that all of the ksvc pods were terminating and then recreate, and the ENABLE_PROFILE env var were set to true from default false.
When there are a lot of ksvc and many pods, there would be a problem.
I wonder if it is better that con

[2020-11-06 06:42] qibobo commented on #10051
@julz

[2020-11-06 06:58] vagababov commented on #10051
Did you get a new revision as well?

[2020-11-06 07:08] vagababov commented on #10051
Well I guess not, just the deployment receives a new k8s deployment revision. But yes, this would trigger all the pods to be restarted.  Perhaps it is worthwhile to add a flag to only set profiling on knative pods only or to knative deployments as well.

[2020-11-06 07:46] zhaojizhuang commented on #10040
@nak3 Do you mean the global configuration in KIngress's controller (net-istio, net-contour, etc...)?  In that way it can't be configured separately for each service . And I think  we can  configure the global Configuration in configmap `config-domain` and separately configurations in earch `ksvc`。What do you think about this？

[2020-11-06 07:48] zhaojizhuang commented on #10040
@tcnghia @ZhiminXiang What do you think about this？

[2020-11-06 08:18] julz commented on #10051
yeah Im pretty +1 to a flag here also, it seems legit to be happy to have profiling on for the serving components but not want to add an overhead (and a required restart) to all the QPs.

[2020-11-06 10:12] nak3 commented on #10040
I am not so positive to introduce the complex annotations. CORS policy will need 5 or 6 new annotation settings... There isn't any  smart or simple way?

And it would be a minor problem but if you support it as global configuration, all Kingress must support it in the same way.
For example, Istio can support `exact`,`prefix`,`regex` for allowOrigins. But ambassador seems not have the regex but jus

[2020-11-06 12:13] knative-test-reporter-robot opened #10056 "[flaky] pkg/reconciler/metric.TestReconcileWithCollector"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/metric.TestReconcileWithCollector
* **Repository name**: serving

[2020-11-06 15:37] zhaojizhuang commented on #10040
To avoid  introducing the complex annotations, we can support just CORS enable setting, at least.  Such as `networking.kantive.dev/enable-cors: "true"` . And all Kingress support CORS in  their default way. like
[code]

[2020-11-06 15:38] markusthoemmes commented on #10040
Can't the service itself send the respective CORS headers? :thinking:

[2020-11-06 15:46] zhaojizhuang commented on #10040
@markusthoemmes yes,we can. But is it much better if we separate service code and Cors configuration? Follow the [12-factor APP](https://12factor.net/)

[2020-11-06 15:49] markusthoemmes commented on #10040
I'm not quite sure how this would relate to 12-factor, can you point out which rule you see violated if the service itself returns the respective CORS headers?

If it can be solved as "easily" as saying: just return the CORS headers you need from your app, I'd vote -1 on including it into our Ingress APIs, seeing as we kinda want to keep them as flat and of little surface as we can. Anything we ad

[2020-11-06 16:04] zhaojizhuang commented on #10040
@markusthoemmes III Config: https://12factor.net/config.
May be we have another way. See https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#enable-cors . Ingress APIs need not be changed. Let Kingress's plugins (net-istio, net-contour, etc...) support Cors in there way:  watching kingress's cors annotations,like  `istio.networking.kantive.dev/allow-origin: * `..

[2020-11-06 17:26] vagababov commented on #10051
/assign

[2020-11-06 18:04] rusde opened #10057 "Update w3c trace headers when request propagate via various reverse proxies"
/area monitoring
/kind good-first-issue

## Describe the feature

Today when request propagate thru activator and queue proxy, only B3 headers are kept up to date. For [example](https://github.com/knative/serving/blob/master/cmd/queue/main.go#L334)

With w3c header format is getting greater adoption, knative serving should see to it w3c headers are also kept up to date.

This will also allow servi

[2020-11-06 18:04] rusde commented on #10057
/assign rusde

[2020-11-06 18:31] chizhg commented on #9273
Prow is already using `go 1.15.3`, so nothing blocks you from updating `go.mod` to use `go 1.15` :-)

[2020-11-06 18:37] markusthoemmes commented on #9273
No immediate concerns from my end either. We're currently discussing how we want to deal with Golang versions in general in https://github.com/knative/community/issues/355 but no need to block on that from my perspective.

[2020-11-06 23:47] vagababov commented on #10000
/close

[2020-11-06 23:47] #10000 closed

[2020-11-07 04:25] dprotaso commented on #9273
1.15.4 is out

[2020-11-09 12:12] #10056 closed

[2020-11-09 17:41] markusthoemmes commented on #10051
Isn't this issue more generic? What happens if we enable tracing while stuff is deployed? Or if we change log levels. Doesn't all of that have the same behavior and if so, are we fine with that?

[2020-11-09 18:29] dprotaso commented on #7881
Going to close this out since we haven't heard anything and the changes are in 0.19

[2020-11-09 18:29] #7881 closed

[2020-11-10 00:12] vagababov commented on #7727
So I debugged it
1. revision never became reachable
2. I found a bug related to the new GC logic, which does not use new anno for reachability
3. I think there's something fishy with the

[2020-11-10 03:03] nak3 commented on #9750
We can close this as net-istio, net-kourier, net-contour are running the KinD with random suffix.

[2020-11-10 03:03] #9750 closed

[2020-11-10 04:26] ZhiminXiang commented on #10040
1. I agree with @nak3 that introducing CORS into Kingress spec may not be a good idea considering that different implementations may or may not support the full set of CORS. We may want to start with net-istio.

2. The flat annotations sounds like a good starting point to me considering this pattern has been used in k8s ingress.

[2020-11-10 04:41] nak3 commented on #9985
We don't allow to customize the response headers field in VirtualServices for now.
@howardjohn  It is not good idea that adding `x-envoy-response-code: '%RESPONSE_FLAGS%'` to the VirtualService by default, is it?
(I guess that it is not good idea so probably we need to introduce some option. :thinking: )

[2020-11-10 05:33] ZhiminXiang opened #10074 "Performance regression after testing with Istio 1.7"
## What version of Knative?
0.18

Per [discussion](https://knative.slack.com/archives/C94SPR60H/p1603294884110100) in Slack, we see the performance regression of loading test after switching to Istio 1.7.

This issue is used to track the progress of the regression fix.

[2020-11-10 06:41] cdlliuy commented on #10029
@julz  @markusthoemmes  @mathspanda ,  any objection?

[2020-11-10 08:04] cdlliuy opened #10076 "Avoid intermittent schedule failure msg to end-user"
#In what area(s)?
Remove the '> ' to select

## What version of Knative?
0.17.x

## Actual & Expected Behaviour

we are running with cluster-autoscaler, and https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-can-i-configure-overprovisioning-with-cluster-autoscaler to put some low-priority pause pod in the cluster.
When the worker node cpu/memory are not nearly 99% (

[2020-11-10 08:04] cdlliuy commented on #10076
@julz  @markusthoemmes  @mattmoor  ,  any comment?

[2020-11-10 08:08] markusthoemmes commented on #10076
This might be a duplicate of https://github.com/knative/serving/issues/9531.

[2020-11-10 08:54] julz commented on #10029
Do you happen to know if there's be a way for the operator to prevent users setting this field if we allowed it @cdlliuy (eg is there a PodSecurityPolicy feature to disallow changing it or anything?). I can imagine operators not wanting users to be able to opt out of or override the scheduling policy, eg you could imagine users using this to encourage the scheduler to put their pods on nodes with

[2020-11-10 09:11] cdlliuy commented on #10076
@markusthoemmes , yeah,  it talks about the similar situation when resource is not ready.
But in order to wait on the scheduler passively until the ProgressDeadline reached,  I am trying to understand whether it is possible to consider `.status.nominatedNodeName` .
If this entry is set ,  then revision controller can determine that a good scheduling will happen sure, so it can hide the error msg t

[2020-11-10 13:02] nak3 commented on #6474
/reopen

[2020-11-10 15:29] mattmoor commented on #10029
cc @dprotaso

[2020-11-10 17:21] vagababov commented on #9720
/assign @yanweiguo
Yanwei, can you please take a look?

[2020-11-10 18:56] yanweiguo commented on #9720
For the latest failure, the autoscaler scaled to 11 due to panic:

[code]

We don't enable debug level logs after cluster upgrade so not sure what metrics the autoscaler got.

[2020-11-10 19:18] vagababov commented on #9720
can we enable debug logs?

[2020-11-10 19:23] yanweiguo commented on #9720
Trying

[2020-11-11 00:01] yanweiguo commented on #9720
One data point with debug logging enabled: https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_serving/10081/pull-knative-serving-upgrade-tests/1326307057443278848.

[2020-11-11 02:09] #9998 closed

[2020-11-11 02:14] ZhiminXiang commented on #10074
Per discussion between @vagababov, @chizhg and @howardjohn, sounds like this issue was caused by enovy https://github.com/envoyproxy/envoy/issues/13070.

[2020-11-11 08:11] qibobo opened #10085 "user-container can serve large workload but queue-proxy can server much less"
In my performance test, I found that one ksvc pod can only support a small number of workload. So I did the following test to verify the root cause.
The test is to send request to target with rate 1000r/s and each request sleeps 10 seconds and response.

**Test steps**
[code]
As the following results show, when requests are sent directly to user-container, the success rate is 100%, but the queue-p

[2020-11-11 08:11] qibobo commented on #10085
@julz

[2020-11-11 08:34] markusthoemmes commented on #10085
What are the settings of your Knative Service. Do you have `containerConcurrency` set?

[2020-11-11 08:39] qibobo commented on #10085
@markusthoemmes
yes updated the description and CC=100

[2020-11-11 09:20] qibobo commented on #10085
@markusthoemmes
Add more detail of the test in issue description.

[2020-11-11 17:29] vagababov commented on #10085
I am surprised cc=500 gave better results than 0. But that being said you can give QP more resources. It's just running of CPU I think given your load.

[2020-11-11 18:33] #9990 closed

[2020-11-11 18:35] yanweiguo commented on #9720
oops, enabling debug logs failed due to a typo. https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_serving/10081/pull-knative-serving-upgrade-tests/1326307057443278848 still doesn't have debug logs.

[2020-11-11 21:47] houshengbo opened #10095 "ERROR: timeout waiting for service istio-system/istio-ingressgateway to have an external HTTP address"
[code]

The latest PR-based upgrade test prow throws the error as above.
I am not sure if this is a serving issue, an istio issue or backend infrastructure issue.
Test PR: https://github.com/knative/serving/pull/10094
Prow: https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_serving/10094/pull-knative-serving-upgrade-tests/1326632396895817728

[2020-11-11 22:51] benmoss opened #10096 "Unable to submodule repo"
/area test-and-release

## What version of Knative?

Main branch as of 2d11d36

## Expected Behavior
I created a repo that submodules serving and then was trying to use `ko` to build the images. This ends up breaking because of the symlinks that were created in #2371 and #5175 hard-code the path to the `.git` directory. When you submodule, the `.git` dir lives in the parent folder.

## Steps to Re

[2020-11-12 01:11] nak3 commented on #6593
/remove-lifecycle stale

[2020-11-12 01:46] qibobo commented on #10085
@vagababov
My question is that while with the same cpu/mem limit 100m/1Gb, why the user-container can have 1000r/s but queue-proxy can not?

[2020-11-12 01:58] vagababov commented on #10085
Did you actually give QP 100m/1GB?

[2020-11-12 05:21] qibobo commented on #10085
@vagababov
Yes, both user-container and queue-proxy have the same resource limit:

[code]

[2020-11-12 05:59] vagababov commented on #10085
So all in all:
[code]
This is not correct statement, generally speaking, since QP does much more than `time.Sleep(x)`. It does most importantly proxying, metrics computation and exports, forwarding the probes, etc. So its throughput is going to be significantly smaller. How much? I am not sure, but it seems you're on the path to discover that. :-) Let us know at which level do you get 100% success

[2020-11-12 07:19] cdlliuy opened #10098 "Autoscaler pod informer can't sync when the total pod info in the cluster is huge"
**Background**

On the cluster where the knative runs,  we launched a series big k8s job which created about 10k pod as the result.  For each job pod,  a huge environment variables are injected, so that the pod medata size is big ==> etcd size is about 2G.

During the job pods generating,   given there is a pod informer works in autoscaler,   we noticed the memory of  autoscaler increased, but not

[2020-11-12 07:19] cdlliuy commented on #10098
cc @julz  @mathspanda  @markusthoemmes

[2020-11-12 07:27] vagababov commented on #10098
I don't think it filters the underlying storage, but rather what's surfaced as events.

[2020-11-12 07:28] markusthoemmes commented on #10098
FWIW, i'd **love** to filter what we cache more aggressively to what we actually need so +1000 on any work in that area from my end.

We'll need @mattmoor and @n3wscott here for informer/client setup.

[2020-11-12 07:32] vagababov commented on #10098
Yeah, if it actually does filter things on the watch side — that'll be great. I am all for filtering things out :)

[2020-11-12 07:44] zhangtbj commented on #10098
Same case and code logic for Tekton:
https://github.com/tektoncd/pipeline/blob/master/vendor/k8s.io/client-go/informers/factory.go#L81

I think from the performance perspective, it is also the same problem for Tekton and it is better to add a tweak Options for pod informer to avoid/reduce this kind of problem:
https://github.com/tektoncd/pipeline/blob/master/vendor/knative.dev/pkg/client/injection

[2020-11-12 07:53] cdlliuy commented on #10098
@vagababov ,  In fact,  I am not sure whether the watch() do any filter.  At least, I didn't notice any tweakOptions on watch func.
My theory here (just guess...no code support at all) is that watch() may only load part of pod metadata,  but for list() on the startup and resync, it need a full sync , so all pod information are fetched (including the huge environment variable definition) in list().

[2020-11-12 07:54] cdlliuy commented on #10098
Agree to @zhangtbj ,    in fact, we have tekton controller installed on the same cluster as well, and we did see the memory increase in tekton controller at the same timeslot with knative autoscaler.

[2020-11-12 07:58] julz commented on #10098
@zhangtbj just to check, are you saying tekton already does something like this, or are you suggesting tekton _should_ do something like this too (but doesn't either)? (Just the links above are to shared code that I think is the same for both knative and tekton).

If Tekton already does this that's quite interesting, but if it doesn't that's also quite interesting since @cdlliuy says it didn't hav

[2020-11-12 08:17] cdlliuy commented on #10098
@julz , I mean `we did see the memory increase in tekton controller at the same timeslot with knative autoscaler.`    Tekton DID have the same problem as autoscaler

[2020-11-12 08:21] julz commented on #10098
aha ok, that's interesting, thanks @cdlliuy. I guess my main worry here is even if we fix both Tekton and Autoscaler to handle this case better (which I'm also +1 to doing, obviously, if we can!), if you have 2GB of pods it seems like that might still have quite a bad effect on etcd, on the scheduler, and on the kubelets - all of which I think will need to be syncing the full data even if tekton/k

[2020-11-12 08:33] cdlliuy commented on #10098
@julz ,  yes,  we will follow-up to resolve the 2Gbi pod issue as well :-)  Move all possible risks to keep the system safety.

[2020-11-12 08:39] zhangtbj commented on #10098
Hi @julz ,

Tekton doesn't have that now.

Yes, what the code I shown is the same code as Knative, because both Knative and Tekton uses the same code, package.

I mean this is a common issue for both Knative and Tekton, and I think both components require that. And once this is improved, both Knative and Tekton can benefit on that.

[2020-11-12 12:14] knative-test-reporter-robot opened #10099 "[flaky] 11.33% tests failed in repo serving on 2020-11-12 08:01:02 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 11.33% tests failed in repo serving on 2020-11-12 08:01:02 +0000 UTC
* **Repository name**: serving

[2020-11-12 12:44] duglin commented on #10085
Just wondering... is the activator in the path? I seem to recall (a long time ago) someone telling me that if the QP ever has to buffer stuff when the activator is in the path (and no mesh) then there's a bug in our code. Is that no longer true?

[2020-11-12 12:51] markusthoemmes commented on #10085
That is still true at stable state, yes.

[2020-11-12 12:54] duglin commented on #10085
Does that mean when things are bursty it's not true?

[2020-11-12 12:57] markusthoemmes commented on #10085
It means that if activators are restarting/being scaled and stuff like that, there might be skewed state for a while until it all settles down. The loadpattern shouldn't matter at all though, no.

[2020-11-12 13:43] qibobo commented on #10051
@vagababov @julz @markusthoemmes
Do we want to expose the queue-proxy profiling to the ksvc owners who deploy their ksvc in a cluster? If so, different users may have different settings. I'd prefer if we can have a flag when create/update the ksvc that only enable/disable the profile for each ksvc.

[2020-11-12 14:32] mattmoor commented on #10098
I don't think there's a good way to limit what informers pull in beyond restricting their scope (e.g. to a namespace).  I am fairly certain we cannot restrict on label selectors for instance.

[2020-11-12 18:51] vagababov commented on #10098
We can probably do some bespoke implementation but 🤷
Injecting huge envvars does not seem like the best idea either.

[2020-11-12 18:53] vagababov commented on #10051
Knative is agnostic of "ksvc owners", i.e. no such thing exists. Multi-tenancy right now is left as a downstream concern (though there's talk of a WG for that).
The profiles that @markusthoemmes works on might help there.

[2020-11-13 12:17] knative-test-reporter-robot opened #10108 "[flaky] 11.33% tests failed in repo serving on 2020-11-13 08:01:04 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 11.33% tests failed in repo serving on 2020-11-13 08:01:04 +0000 UTC
* **Repository name**: serving

[2020-11-13 20:38] chizhg commented on #10095
The issue is due to a security policy change applied to the Boskos GCP projects, and we are working on the fix.

cc @albertomilan

[2020-11-14 12:18] knative-test-reporter-robot opened #10110 "[flaky] test/e2e/autotls.TestTLSDisabledWithAnnotation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/autotls.TestTLSDisabledWithAnnotation
* **Repository name**: serving

[2020-11-14 12:18] #7727 closed

[2020-11-15 01:43] vagababov commented on #7701
/reopen
/lifecycle frozen

[2020-11-15 12:17] knative-test-reporter-robot opened #10111 "[flaky] test/upgrade.TestServicePreUpgradeAndScaleToZero"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServicePreUpgradeAndScaleToZero
* **Repository name**: serving

[2020-11-15 12:17] knative-test-reporter-robot opened #10112 "[flaky] test/upgrade.TestServicePreUpgrade"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServicePreUpgrade
* **Repository name**: serving

[2020-11-16 02:01] cdlliuy commented on #10098
@mattmoor ,

Can we do something to podInformer similar to the configmap watch in serving implementation?
https://github.com/knative/serving/blob/23dc86a5ac841e272742a1e0089da706d32a7e2a/vendor/knative.dev/pkg/configmap/informed_watcher.go#L51-L77

[2020-11-16 02:03] cdlliuy commented on #10098
@vagababov ,  yes,  agree.   Disallowing such a biggest huge envvar injection is another risk that we need to resolve.  and the issue here hopes to make knative more stable and safe in this situation.

[2020-11-16 06:43] ZhiminXiang commented on #10040
Thought about this again. How should this feature align with Ingress V2 https://kubernetes-sigs.github.io/service-apis/concepts/? The context here is that we plan to use Ingress V2 as the intermediate ingress resources for the long term. (You can consider Ingrerss V2 will be a replacement to current Kingress). Because of this, it requires the new Knative networking features align with Ingress V2.

[2020-11-16 10:13] kassnl09 opened #10115 "Waiting for load balancer to be ready for consecutive service deployments"
## What version of Knative?

0.12.1

## Expected Behavior

Multiple deployments of KNative services should result in ksvc being Ready in a reasonable time

## Actual Behavior

After deploying more than 5 consecutive KNative services some of them get stuck in `IngressNotConfigured` for more than 5 minutes (sometimes up to 20 minutes). The ingress of the service has an `Uninitialized` status during

[2020-11-16 10:16] markusthoemmes commented on #10115
0.12.1 is quite an old version of Knative and a lot has changed since. Is there any chance you could retry on the recently release 0.19?
Also: Which version of Istio is this using?

[2020-11-16 10:19] kassnl09 commented on #10115
Istio version: 1.4.5
Will try to upgrade. Thank you.

[2020-11-16 15:09] mattmoor commented on #8095
/lifecycle frozen

@nak3 any interest in trying to make this work post-submit for all kingress?

[2020-11-16 15:10] mattmoor commented on #7926
stalebot kicked in since last request for info.  If this is still an issue, place reopen in knative-sandbox/net-istio

[2020-11-16 15:10] #7926 closed

[2020-11-16 15:10] mattmoor commented on #8016
This should be long solved.

[2020-11-16 15:10] #8016 closed

[2020-11-16 15:10] mattmoor commented on #7300
/lifecycle frozen

Ping @markusthoemmes for link

[2020-11-16 15:12] mattmoor commented on #7576
/lifecycle frozen

@dprotaso any thoughts on this?

[2020-11-16 15:16] zhaojizhuang commented on #10040
@ZhiminXiang Why we can't paas annotations to Ingress V2(Such as `HTTPRoute`'s annotations)?  we can config CORS on Kingress now or Ingress v2 (HTTPRoute)when ingress v2 supported. Both are ok.

[2020-11-16 15:56] markusthoemmes commented on #7300
https://github.com/knative/serving/issues/8114 here's the other issue.

[2020-11-16 18:20] dprotaso commented on #9273
go1.15.5 is out

[2020-11-16 18:22] evankanderson commented on #10096
Question: can you use `go mod` to vendor serving instead of importing it as a submodule? I don't think anyone has been planning for the submodule case.

[2020-11-16 18:28] chizhg commented on #9273
Please feel free to update https://github.com/knative/test-infra/blob/master/images/prow-tests/Dockerfile#L60 if you want Prow to use the latest Go version.

[2020-11-16 19:09] benmoss commented on #10096
Good idea, I'll give that a shot

[2020-11-16 22:09] benmoss commented on #10096
Unfortunately that doesn't work since I'm trying to use scripts and YAML files from the serving repo too, and go mod will exclude all of those

[2020-11-17 00:09] ZhiminXiang commented on #10040
@zhaojizhuang it works with the current infra as currently we have `net-*) controller that can consume the annotations within Kingress, and then translate to the corresponding networking solutions (e.g. Istio, contour, kong, etc).

In the ingress V2 world, we will get rid of `net-*` controller assuming that Ingress V2 is the standard API that different networking solutions will naturally support.

[2020-11-17 00:10] dprotaso commented on #7576
Seems like a duplicate of https://github.com/knative/serving/issues/5664

In the previous issue I was under the impression the webhooks resources weren't created. Looking at them now they're essentially noop resources until the webhook deployment starts and reconciles it's spec.

So there's a window during installation (and upgrade) that causes us to skip defaulting & validation.

[2020-11-17 00:11] dprotaso commented on #7576
I'm thinking we pull as much of the webhook configurations to their respective yamls and just reconcile the secrets

[2020-11-17 01:49] albertomilan commented on #10095
We have restored the original policy and, after waiting for propagation, it seems most of the jobs are succeeding.
https://prow.knative.dev/?job=pull-knative-serving-upgrade-tests

Resolving this issue. Reopen it if further work is required

[2020-11-17 02:56] zhaojizhuang commented on #10040
@ZhiminXiang In another word, It is the provider(e.g. Istio, contour, Kong networking solution)‘s own to  to implement or not implement this feature. Right? If  that case, we do not need to do it in knative.

And I want to know, when will we depricate `net-*` controller.

[2020-11-17 03:36] nak3 commented on #8095
/assign

Sure, I will try.

[2020-11-17 07:22] ZhuangYuZY commented on #10098
@vagababov @cdlliuy , we are using knative as part of our offering, in same cluster, we also run batch job. The big envvar is from batch job, also batch job supports array feature which could run multiples pods from one batch job. Adding big envar, it is easy to get a big number of pods and each pod also has big size. But we have to do this. Because max env var size is 128k from linux spec, if thi

[2020-11-17 07:36] markusthoemmes commented on #10098
Have you tried the TweakFilterOption and did it fix the issues?

Generically speaking, we can't necessarily rely on such filters being available in our informers. Take the Ingress plugins for example. Their API isn't necessarily defined to just front Knative workloads (though I guess in practice, it's mostly going to be the case).

I'd love if we could investigate applying our informer filters in

[2020-11-17 07:39] cdlliuy commented on #10029
@julz ,  the scheduler profile itself must be offered by cluster operator.
Assume the cluster operator opened 2 different profiles to end-user only,
if the `schdulerName` is omitted, the default profile is used.
If  the schedulerName is defined as an un-supported name, the pod can't be created at all
if the schedulerName is one of the support ones,  kube scheduler will do scheduler with the define

[2020-11-17 12:15] knative-test-reporter-robot opened #10124 "[flaky] 11.32% tests failed in repo serving on 2020-11-17 08:00:54 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 11.32% tests failed in repo serving on 2020-11-17 08:00:54 +0000 UTC
* **Repository name**: serving

[2020-11-17 15:56] dprotaso commented on #10029
@cdlliuy can you provide more context about how you want to use this property?

ie. are you operating the cluster _and_ running Knative Services yourself? What type of scheduler are you configuring and why?

A few things to tease out

1) Do Knative operators expect end-users to pick schedulers - @julz's point suggests there could be gaming happening in multi-tenant environments.
1) Do Knative oper

[2020-11-17 23:02] rhuss commented on #8629
/remove-lifecycle stale

[2020-11-18 00:42] dprotaso commented on #9273
Closing:

https://github.com/knative/serving/pull/10061
https://github.com/knative/test-infra/pull/2577

[2020-11-18 00:42] #9273 closed

[2020-11-18 02:53] yangyunfeng007 opened #10133 "We need a complete solution for Serverless."
I think Knative should provide a complete solution for Serverless.
Now I use Knative as our Serverless framework, but I still need to do a lot of work, for example, a graphical user interface and a storage for code saving. Some other Serverless frameworks provide these like  nuclio(https://nuclio.io/docs/latest/introduction/).
1. A dashboard for Knative
Can Knative provide a dashboard like this nu

[2020-11-18 03:17] yangyunfeng007 commented on #10133
cc @zhaojizhuang

[2020-11-18 03:20] yangyunfeng007 commented on #10133
/area/build

[2020-11-18 03:21] yangyunfeng007 commented on #10133
/area build

[2020-11-18 03:22] yangyunfeng007 commented on #10133
/area productivity

[2020-11-18 07:27] unixfox commented on #6492
/remove-lifecycle stale

[2020-11-18 12:15] knative-test-reporter-robot opened #10140 "[flaky] 11.39% tests failed in repo serving on 2020-11-18 08:00:55 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 11.39% tests failed in repo serving on 2020-11-18 08:00:55 +0000 UTC
* **Repository name**: serving

[2020-11-18 15:50] cdlliuy commented on #9121
Should be fixed by https://github.com/knative/serving/pull/9626

[2020-11-18 15:50] #9121 closed

[2020-11-18 15:52] cdlliuy commented on #10098
yes,  we plan to do some spike on TweakFilterOption to see whether it works

[2020-11-18 15:56] cdlliuy commented on #10029
@dprotaso ,  In my current use-case:

No,  expect the knative operator to define a default value of it through knative config map items and apply directly

Yes

The scheduler profiles are defined on kube-scheduler configuration files, so if the operation team of the kubernetes scheduler open an ImageLocality profile as an option,  then the operation team of knative can set it definitely.

[2020-11-18 21:25] rusde commented on #10057
/cc evankanderson
/cc mattmoor

[2020-11-18 21:29] evankanderson commented on #10057
+1

This would be great.

One additional item that I referenced a bit in [the logging document](https://docs.google.com/document/d/1FWekMACBK9d0Sc-dZJuSxRpFxHcH4tQI8pjIPVIX_Zg/edit#heading=h.9fc0yrfwqbi8) was that it would be nice if the logs tags, metric labels, and trace labels were all aligned via common operations on the context.

If propagating the trace headers doesn't need to touch this ext

[2020-11-18 21:30] ZhiminXiang commented on #10040
Yes exactly.

We don't have the specific timeline yet as the Ingress V2 is in an early stage, and the implementations from the providers are being worked in progress. A very rough estimate could be Q3/Q4 next year (hopefully).

[2020-11-18 21:42] rusde commented on #10057
One thing to see to it that is in sync is https://github.com/knative/serving/blob/master/docs/runtime-contract.md

[2020-11-19 01:22] #8712 closed

[2020-11-19 01:22] #8683 closed

[2020-11-19 01:22] #6114 closed

[2020-11-19 08:27] antoineco commented on #9127
/remove-lifecycle stale
This is an important security feature.

[2020-11-19 12:14] knative-test-reporter-robot opened #10158 "[flaky] test/upgrade.TestAutoscaleSustainingWithTBC"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestAutoscaleSustainingWithTBC
* **Repository name**: serving

[2020-11-19 12:14] #9775 closed

[2020-11-19 15:25] mattmoor commented on #9127
/lifecycle frozen

cc @julz @dprotaso @evankanderson

[2020-11-19 15:45] jasonnance opened #10160 "Istio ingress: duplicate listener 0.0.0.0_8081 found"
/area networking

## What version of Knative?
0.19.x

## Expected Behavior
Istio ingress gateway with provided knative-istio-controller configuration exposes Knative services consistently.

## Actual Behavior
After a Knative service is added to the knative-local-gateway, the istio-ingressgateway pod reports the following error, and the ingress never comes online:

[code]

Istio listener config:

[

[2020-11-19 16:58] vagababov commented on #10160
/cc @nak3 @JRBANCEL

[2020-11-19 20:20] dprotaso commented on #10029
Out of curiosity what types of customer schedulers are you using?

[2020-11-19 20:49] JRBANCEL commented on #10160
Weird, something unexpected must be listening to 8081.
Let me try to repro.

[2020-11-19 21:04] jasonnance commented on #10160
k8s service (targetPort appears to be 8080):

[code]

Here's my Istio operator config as well -- realized that might be relevant (although it's also mostly default):

[code]

[2020-11-19 22:33] yanweiguo commented on #10158
For the failed run mentioned above, the reason is that the autoscaler scaled to 17 which is out of expected range [9, 16]. This happened after downgrade. The new autoscaler pod after downgrade was set up around 08:32:37 and it made the decision to scale to 17 at 08:32:58.

The target is 6 with targetUtilization 0.7. The target #pods is 10. So the traffic is at a concurrency level of 6*10 and the e

[2020-11-19 22:33] yanweiguo commented on #10158
/assign

[2020-11-19 23:23] vagababov commented on #10158
I think adding a bit of slack, is probably fine.

[2020-11-20 01:13] #8743 closed

[2020-11-20 01:13] #8741 closed

[2020-11-20 01:13] #8739 closed

[2020-11-20 01:13] #8736 closed

[2020-11-20 01:13] #8731 closed

[2020-11-20 01:13] #7590 closed

[2020-11-20 01:13] #6625 closed

[2020-11-20 01:13] #6461 closed

[2020-11-20 01:13] #5739 closed

[2020-11-20 08:19] nak3 commented on #10095
Closing as per above comment.

[2020-11-20 08:19] #10095 closed

[2020-11-20 12:12] #10111 closed

[2020-11-20 12:12] #10110 closed

[2020-11-20 12:12] #10112 closed

[2020-11-20 12:12] knative-test-reporter-robot opened #10168 "[flaky] .Up"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Up
* **Repository name**: serving

[2020-11-21 00:58] rusde opened #10170 "Change knative deployment config to not run as root user on k8s nodes"
## Describe the feature

Currently, Kubernetes does not support user namespace remapping. This implies that, when containers are running as root, their UIDs/GIDs (0/0) inside the container are mapped to root on the host. Thus, an escape from a container may result in the escalation to the root in host, which may further lead to the root in the cluster and tenant’s project. Running container as non

[2020-11-21 00:59] rusde commented on #10170
/cc mattmoor
/cc markusthoemmes
/cc vagababov

[2020-11-21 12:14] knative-test-reporter-robot opened #10171 "[flaky] test/e2e.TestAutoscaleSustaining"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleSustaining
* **Repository name**: serving

[2020-11-21 22:15] duglin commented on #3687
/remove-lifecycle stale

[2020-11-23 01:16] #8761 closed

[2020-11-23 11:52] alokumar1 opened #10176 "service "istio-webhook" not found while installing Knative serving"
## Expected Behavior
Install Knative serving
## Actual Behavior
Got an Error

`Error from server (InternalError): error when creating "https://github.com/knative/serving/releases/download/v0.18.0/serving-core.yaml": Internal error occurred: failed calling webhook "config.webhook.istio.networking.internal.knative.dev": Post https://istio-webhook.knative-serving.svc:443/config-validation?timeout=30s

[2020-11-23 12:34] markusthoemmes commented on #10176
Have you waited for Istio deployments etc. to actually be up? This seems more of an Istio issue rather than a Knative one.

[2020-11-23 12:41] alokumar1 commented on #10176
Yes I have waited for it.
[code]

[2020-11-23 12:55] alokumar1 commented on #10176
I applied the same yaml again. Now, it got applied successfully.

[2020-11-24 07:06] markusthoemmes commented on #8959
/remove-lifecycle stale

[2020-11-24 12:11] knative-test-reporter-robot opened #10184 "[flaky] test/e2e/autotls.TestTLS/http01/Tag_route"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/autotls.TestTLS/http01/Tag_route
* **Repository name**: serving

[2020-11-24 13:26] skonto commented on #8114
Immutable configmaps are now in [beta](https://kubernetes.io/docs/concepts/configuration/configmap/#configmap-immutable) in 1.19.

It would be nice to have immutability and type-safety together in some occasions. In some cases immutability could protect us from scenarios like in [here](https://github.com/knative/serving/issues/7241). In general for the Ops persona it makes sense to freeze configur

[2020-11-24 13:33] markusthoemmes commented on #8114
/unassign

I didn't actually get around to look into this properly and likely won't get to it this year. Unassigning to make way if somebody else wants to pick it up. I might revisit myself once time permits.

[2020-11-24 13:45] markusthoemmes commented on #8540
/unassign

My work piece here is done.

[2020-11-24 14:25] dprotaso commented on #8540
@markusthoemmes are there any relevant issues/PRs of yours to tag besides https://github.com/knative/serving/pull/8569 ?

[2020-11-24 14:28] markusthoemmes commented on #8540
@dprotaso no, I think that's it.

[2020-11-24 14:37] julz commented on #8114
/assign

Can't resist at least having a play 😄

[2020-11-24 15:36] skonto commented on #8471
@mattmoor @evankanderson should we finalize the design doc review or abandon it? I suspect current users are not all using OpenTelemetry and that kind of architecture, although serverless matches better with a push model due to the short-lived containers and I agree completely on that in order to be on the safe side of things (eg. scrape interval is not small enough).

[2020-11-24 15:40] dprotaso commented on #4060
/remove-lifecycle stale

[2020-11-24 17:58] vagababov commented on #8540
I'd go as far as to just close this for now.

[2020-11-24 17:58] vagababov commented on #8540
If any additional work we're going to do it should in scope of v1 API

[2020-11-24 18:57] dprotaso commented on #6006
/lifecycle frozen
/remove-lifecycle stale

[2020-11-24 19:01] dprotaso commented on #10170
@rusde What version are you running - our latest release has the `runAsNonRoot: true` property set

ie. https://github.com/knative/serving/blame/master/config/core/deployments/controller.yaml#L81

[2020-11-24 20:07] rusde commented on #10170
Sorry I was looking into older release. Awesome this is already fixed. Thanks alot for pointers

/close

[2020-11-24 20:07] #10170 closed

[2020-11-24 20:10] #9711 closed

[2020-11-24 20:20] yanweiguo commented on #2930
The first iteration was done and released in 0.19.0.

/close

[2020-11-24 20:20] #2930 closed

[2020-11-24 22:15] rusde opened #10189 "METRICS_DOMAIN for webhook is not set as internal"
## Describe the feature

METRICS_DOMAIN for all operational metrics should be start with `knative.dev/internal`. But work webhook it is set as `knative.dev/webhook`. See [link](https://gke-internal.googlesource.com/knative/cloudrun/+/refs/heads/master/config/core_deployments_webhook.yaml#54)

Change this to `knative.dev/internal/webhook`

[2020-11-24 22:16] rusde commented on #10189
/assign rusde

[2020-11-25 06:34] zouyee commented on #6705
/reopen

[2020-11-25 09:28] kkwekkeboom opened #10194 "Revisions not always fail when pods in crashloopbackoff"
## In what area(s)?

/area autoscale

## What version of Knative?
0.17.1

## Expected Behavior
When creating a revision with a crashing user-container the revision should not become ready.

## Actual Behavior
The revision sometimes becomes ready, sometimes not.

## Steps to Reproduce the Problem
Use https://knative.dev/docs/serving/samples/hello-world/helloworld-python/ and edit app.py such that a

[2020-11-25 09:41] kkwekkeboom commented on #7650
I have a similar issue with knative 0.17.1. When adjusting https://knative.dev/docs/serving/samples/hello-world/helloworld-python/ with a syntax error in app.py and deploying with
[code]
the first revision ends up in CrashLoopBackOff. Then removing the syntax error in a second revision brings hello-world online.
Unfortunately the first revision is not scaled down to zero. Not even after `progressD

[2020-11-26 01:17] #6971 closed

[2020-11-26 12:12] knative-test-reporter-robot opened #10209 "[flaky] test/ha.TestAutoscalerHA"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/ha.TestAutoscalerHA
* **Repository name**: serving

[2020-11-27 01:19] #8839 closed

[2020-11-27 01:32] duglin commented on #4522
/remove-lifecycle stale

[2020-11-27 08:05] junneyang commented on #4522
you could refer the OpenFaaS project:
it allows us call functions async as follows:
curl http://gateway/**async-func**/function/xxxxxx
and sync call like this:
curl http://gateway/**func**/function/xxxxxx

openfaas document: https://docs.openfaas.com/reference/async/

[2020-11-27 10:20] julz commented on #10194
Hi @kkwekkeboom what `ReadinessProbe` (if any) do you have set on your ksvc? Have you tried [setting up a ReadinessProbe with a `successThreshold` greater than 0](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#configure-probes), and if so did/does this help?

[2020-11-27 12:11] knative-test-reporter-robot opened #10215 "[flaky] test/e2e.TestAutoscaleUpDownUp"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleUpDownUp
* **Repository name**: serving

[2020-11-27 12:11] #10184 closed

[2020-11-27 22:14] dprotaso opened #10217 "Revision controller needs some cleanup/organization"
/area API
/kind cleanup

_Just revisited the revision controller after sometime. I figured I should write down my thoughts before I'm off on vacation starting now._

The revision controller is very fragile wrt. ordering of reconciling its child resources. Currently deployments are reconciled prior to pod autoscalers.  Thus I've noticed:
1. Phases reading into the revision status may be reading sta

[2020-11-29 01:23] #8855 closed

[2020-11-29 12:13] knative-test-reporter-robot opened #10218 "[flaky] test/e2e.TestAutoscaleUpCountPods"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleUpCountPods
* **Repository name**: serving

[2020-11-29 20:09] vagababov commented on #10218
A very interesting failure here:
[code]

Now, if we look at time stamps 125608 KPA sees the first time `want=3`
But it gets `got=1` only at 125614 (beyond the test log, but available if you get the whole 2gigs of server logs). And we can see that it timed out at 125612.
We actually get `got=3` at 125618, whole 6 seconds after the test failed.
Probably need to relax the time we expect the the k8s m

[2020-11-29 20:14] vagababov commented on #10218
/assign

[2020-11-30 01:23] #8675 closed

[2020-11-30 01:47] dtsioumas opened #10221 "Istio Installation without sidecar injection failing (Istio version 1.8)"
## What version of Knative?
0.19.0

## Expected Behavior

Installing successfully Istio without sidecar injection.

## Actual Behavior

Installation procedure failing for Istio without sidecar injection.

## Steps to Reproduce the Problem

* Install the knative CRDs:
[code]

* Install the core components of Serving:
[code]

* Install Istio without a sidecar injection:

istio-minimal-operator.yaml

[2020-11-30 05:09] nak3 commented on #10221
Thank you for the report. https://github.com/knative-sandbox/net-istio/pull/426 starts testing the Istio 1.8 with the updated manifest. Please give us some time.
/cc @arturenault

[2020-11-30 11:48] connorlwilkes opened #10226 "Revision not creating any pods"
## What version of Knative?

0.14.x

## Expected Behavior

When a revision is created pods are created

## Actual Behavior

When using Knative Serving with Kubeflow KFServing & Istio 1.5.10 when a revision is created, routes/configuration are created as normal however I am seeing that ksvc suggests that RevisionMissing. When I check the revision:

[code]
There is no status present and no pods bein

[2020-11-30 12:11] knative-test-reporter-robot opened #10227 "[flaky] test/e2e.TestInitScalePositive"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestInitScalePositive
* **Repository name**: serving

[2020-11-30 14:59] mattmoor commented on #10218
Have you looked at why the processing is delayed?  This smells like the chaos duck finding failover delays (now that we hit the autoscaler).

[2020-11-30 17:08] sneko commented on #7933
Hi @ZhiminXiang @vagababov  ,

_Since GCP Slack #cloud-run is almost dead I post here since it's really related._

I just noticed that my websockets were killed automatically after 5 minutes **whereas I'm on the GKE platform**. After investigating it comes from the `request timeout` Cloud Run leaves by default at `300 seconds`.

Since my websocket connections should remain active forever (except f

[2020-11-30 17:15] benmoss commented on #10096
Looks like @mattmoor figured out a solution to this here https://github.com/mattmoor/mink/blob/master/hack/update-deps.sh#L189-L192

[2020-11-30 17:17] vagababov commented on #10218
I'll put this here as well:

I think the delays are due to the kube determining readiness, kubeproxy/endpoints informer propagating the information.
It's not due to to duck, since readiness is determined by core k8s components rather than ours.
Generally this test is quite stable and this is a rare flake (i.e. compared with say min scale one).

[2020-11-30 18:06] #10218 closed

[2020-11-30 18:58] vagababov commented on #10226
can you create any knative service?
This looks as if knative pods are not running at all.

[2020-11-30 19:02] mattmoor commented on #10096
Yeah, that's needed to properly get the `kodata` setup for stuff in vendor given how `go mod` vendors stuff.

[2020-11-30 20:31] #10096 closed

[2020-12-01 10:50] connorlwilkes commented on #10226
@vagababov Yes I can create ksvc and I can see all knative pods are up

[2020-12-01 12:12] knative-test-reporter-robot opened #10235 "[flaky] test/e2e.TestWebSocketBlueGreenRoute"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestWebSocketBlueGreenRoute
* **Repository name**: serving

[2020-12-01 16:43] arturenault commented on #10221
Yup, I noticed this during installation. Can update the docs accordingly. /assign

[2020-12-01 17:29] kkwekkeboom opened #10236 "Control queue-proxy aggressive probe logging"
## Ask your question here:
If I have a service which requires some time to startup, e.g.
[code]
Then the queue proxy generates a lot of logs during the startup time; one line every 50ms.
[code]
Is there a way to disable this? I tried a couple of options:
1.  setting a proper readinessprobe in the knative service -> this still generates a lot more logs than just 1 line per second, but it's at least

[2020-12-01 18:49] vagababov commented on #10236
This should fix your troubles: https://github.com/knative/serving/pull/10107/files

[2020-12-01 19:22] kkwekkeboom commented on #10236
Looks like it. Is readinessprobe.periodSeconds respected?

[2020-12-01 19:40] vagababov commented on #10236
We use aggressive probing to permit smaller resolution. So it's respected by k8s, but QP will probe aggressively.

[2020-12-01 19:42] vagababov commented on #7933
The newest knative versions won't close the socket for 48 hours I think and the _newest_ one won't close at all. It'll take time to get to GKE, but I think the 0.17 is there if you upgrade to the most recent clusters.

Now as far as UI goes — I can file a bug internally to relax this.

[2020-12-01 20:50] sneko commented on #7933
Great news! When you say "won't close at all", what will be the default value? From Google perspective, if "0" is specified, it goes to their own 300 default value.

it would help yeah! Because otherwise impossible for team members to quickly manage revisions & redeploy because of the form error (>900seconds)

Thank you,

[2020-12-01 21:03] vagababov commented on #7933
So the default timeout is the TTFB -- it'll still be enforced. But in the previous knative versions the networking layer enforced request duration as well, but not anymore. So as long you responded with headers in that 300s (or whatever you set the value to) — then request should be able last for the duration of pods in the datapath (ingress, possibly activator, and user pod).

[2020-12-01 21:44] kkwekkeboom commented on #10236
I will close the issue. Although the aggressive probing is beneficial for fast cold starts, I'm unsure if there are situations where the lack of control on this is a drawback. Implementing this with ms resolution won't be easy with integer fields.

[2020-12-01 21:44] #10236 closed

[2020-12-02 01:37] richterdavid commented on #7925
/remove-lifecycle-stale

[2020-12-02 01:39] vagababov commented on #6550
/remove-lifecycle stale

[2020-12-02 11:57] VIjayHP commented on #2266
Hi,
Even i am facing issue here.
I have created daemon.json to accept insecure registry to push/pull which i am able to do manually . However when running the go test command to perform E2E tests for knative-serving component after deploying below pods under knative-serving namespace :
activator-845748699b-v7xmz          1/1     Running   1          6d2h
autoscaler-696d8868f4-vrnrp         1/1

[2020-12-02 14:57] VIjayHP opened #10243 "Not able to access internal registry test images for knative e2e tests"
Hi,
I am facing issue here.
I have created daemon.json to accept insecure registry to push/pull which i am able to do manually . However when running the go test command to perform E2E tests for knative-serving component after deploying below pods under knative-serving namespace :
activator-845748699b-v7xmz 1/1 Running 1 6d2h
autoscaler-696d8868f4-vrnrp 1/1 Running 0 6h29m
autoscaler-hpa-6b98f6459

[2020-12-02 15:42] houshengbo opened #10244 "Unstable test: test/upgrade: TestAutoscaleSustainingWithTBC"
## What version of Knative?

It started as of 0.19.0.

## Expected Behavior

All the upgrade tests should pass in the upgrade prow.

## Actual Behavior

The probe test, test/upgrade: TestAutoscaleSustainingWithTBC, fail occasionally with the error as in https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_serving/10187/pull-knative-serving-upgrade-tests/1332419408101904384.
PR: https

[2020-12-02 16:48] vagababov commented on #10244
/assign @yanweiguo

[2020-12-02 17:40] mdemirhan commented on #8570
/reopen

[2020-12-02 17:40] mdemirhan commented on #8570
/remove-lifecycle stale

[2020-12-02 17:43] vaikas commented on #8114
@lionelvillard @matzew since we chatted about this again in Eventing.

[2020-12-02 17:58] duglin commented on #8684
/remove-lifecycle stale

[2020-12-02 20:38] makandre opened #10246 "autoTLS on Openshift"
## Ask your question here:

I'm using knative service (actually camel-k) on Openshift.  My service has a `https` route in the `knative-serving-ingress` namespace, but it also has a `http` knative-route in my namespace.  How do I have the `https` route only and not `http`?

Is `autoTLS` the way to do this?  I tried to configure it but could not get it working.  I'm using HTTP challenge, and I see t

[2020-12-02 20:56] tcnghia opened #10247 "Support AutoTLS for DomainMapping"
## Describe the feature

Since DomainMapping is based on KIngress, we can leverage similar work in Route AutoTLS to support AutoTLS for DomainMapping.

I have a working prototype in https://github.com/tcnghia/serving/tree/domain-mapping-auto-tls . Will be breaking this into several PRs
- [x] Introduce new conditions into DomainMapping CRD
- [x] Refactor Route AutoTLS code for reuse
- [x] Change Do

[2020-12-02 21:46] julz commented on #10247
🎉🎉 thanks @tcnghia!

[2020-12-03 01:22] #8229 closed

[2020-12-03 01:40] yanweiguo commented on #10244
[code]

Again, the revision stepped into panic model by receiving a much larger value (74.989) than expected (60). Lose the upper bound? Switch to use RPS which is more stable than concurrency? @vagababov

[2020-12-03 08:56] cdlliuy opened #10253 "Track of knative service creation/update time"
## Describe the problem:

Currently, the knative controller exposes the reconcile latency in its metric,  but the reconcile latency != the total time of create a knative service since there are multiple reconcile process for a knative service creation ...

Currently, with kperf or similar tool,  we can track the total time of knative service creation by using
` .status.condition[ready].lastTransit

[2020-12-03 09:01] cdlliuy commented on #10253
@markusthoemmes  @julz   and others,   any other proposal to resolve the original requirement?

Whatever the solution, we can contribute effort to achieve it.   Let us discuss a good approach to get the measurement of knative creation/update duration.

[2020-12-03 09:22] rhuss commented on #8562
/remove-lifecycle stale

[2020-12-03 10:55] VIjayHP commented on #2604
Is it possible to run E2E tests referring to the insecure private docker repo containing all the test images  ? @adrcunha @josephburnett

[2020-12-03 12:14] knative-test-reporter-robot opened #10258 "[flaky] test/e2e.TestGRPCAutoscaleUpDownUp"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestGRPCAutoscaleUpDownUp
* **Repository name**: serving

[2020-12-03 12:42] skonto opened #10259 "Revision gets stuck in ResolvingDigests step"
## What version of Knative?

## Expected Behavior
Install a basic service and Revision should be ready.

## Actual Behavior
Revision gets stuck:
[code]

## Steps to Reproduce the Problem

1. A cluster where GCE metatdata server is not working eg. DNS issues or something else is not working but it is irrelevant
as infra things happen all the time. Not sure how to create that infra issue but in my c

[2020-12-03 16:09] julz commented on #10259
wondering if the `ctx` in `k8schain.New(ctx, r.client, opt)` implies we might be able to add a timeout inside there? The background resolve [already sets up a context.WithTimeout](https://github.com/knative/serving/blob/0a8bcbf34abe5dead0c32284a40c55acbdb8c9de/pkg/reconciler/revision/background.go#L205), so if k8schain were able to respect that (like go-containerregistry does as of https://github.

[2020-12-03 16:52] vagababov commented on #10253
Creation is in the standard k8s metadata.

[2020-12-04 01:27] #8929 closed

[2020-12-04 03:58] cdlliuy commented on #10253
@vagababov ,  yes,  creation is the standard k8s metadata, so we won't modify it.  but we can add updateTimestamp in .status  which is not conflicted to creationtimestamp at all.

[2020-12-04 04:13] cdlliuy commented on #10098
We finished our spike to investigate TweakFilterOption, and the result looks positive.

**Proposed changes:**
We tried to modify `knative.dev/pkg/client/injection/kube/informers/factory/factory.go` to add a label selector inside, as describe in <PR placeholder> .
In this PR, the label selector can be defined in context.
If no specific label selector,  then the same shardInformerFactory is returned

[2020-12-04 04:52] csantanapr commented on #6895
I recently saw a Twitter thread from Kelsay and notice that @karlkfi pointed out that when he tried Knative he got stuck on this issue, this made me very very 😢

After doing some reading on [controller source code](https://github.com/knative/serving/blob/master/pkg/reconciler/revision/resolve.go#L74) and [ks8chain](https://github.com/vdemeester/k8s-pkg-credentialprovider/blob/master/config.go#L91)

[2020-12-04 09:49] Shashankft9 opened #10267 "State of a failing revision is not carry-forwarded to the CR status and the logs"
## What version of Knative?
I have tested the behavior in v0.14.0 and v0.19.0

## Expected Behavior

When a revision fails, and the pod shows `Error` state due to a bad gateway 502 response for example, this state should be captured in the logs of controller pod as https://github.com/knative/serving/blob/master/pkg/reconciler/configuration/configuration.go#L111 and similarly this should be carried

[2020-12-05 01:25] #8946 closed

[2020-12-05 08:08] karlkfi commented on #6895
Thanks @csantanapr !

Haven’t tested it yet, but I’m glad to know there’s a way to do it that doesn’t require Knative changes. Sounds like it could just be a documentation enhancement that says where to mount the Docker config into the controller.

TBH, I’m not working on the project that inspired this rabbit hole any more, but I am glad to know I can finally use KinD for local Knative Service dev

[2020-12-05 08:17] karlkfi commented on #6895
And for those who find this later, it sounds like the magic file path is “.docker/config.json” in the “controller” deployment in the “knative-serving” namespace.

[2020-12-06 10:37] VIjayHP commented on #10243
Could someone help me with the above failures or any additional setup/procedure I need to follow for running e2e tests for Serving?

[2020-12-06 12:14] #10258 closed

[2020-12-06 14:42] VIjayHP commented on #9760
Hi @mattmoor What in case if we are pointing the image to private insecure registry say : john.com:31320/knative/hello-world:latest . ? As we often get
**Error:** Unable to fetch image "john.com:31320/knative/hello-world:latest ": failed to resolve image to digest: Get "https://john.com:31320/v2/": http: server gave HTTP response to HTTPS client
Does Knative support pulling images from private ins

[2020-12-06 14:46] VIjayHP commented on #6895
Hi @karlkfi What in case if we are pointing the image to **private insecure registry** say : john.com:31320/knative/hello-world:latest . ? As we often get
Error: Unable to fetch image "john.com:31320/knative/hello-world:latest ": failed to resolve image to digest: Get "https://john.com:31320/v2/": http: server gave HTTP response to HTTPS client
Does Knative support pulling images from private inse

[2020-12-06 14:59] VIjayHP commented on #6895
@karlkfi What in case if we have private insecure registry instead of private registry and also the configuration's here : https://knative.dev/docs/serving/deploying/private-registry/ says this one is for "all the new pods that are created in the default namespace will include your credentials and have access to your container images in the private registry" but in this case knative-serving is the

[2020-12-06 15:04] csantanapr commented on #6895
Hi @VIjayHP

Knative only needs access to the image registry for only tag resolution to digest

If your using a https with a custom private ssl certificates then you can configure the controller with the private verte to trust, just the certs not the CA
For example to make the controller trust https://john.com

Another option is to disable tag resolutiom and the controller will not need access to

[2020-12-06 15:09] csantanapr commented on #6895
Hi @VIjayHP

Knative only needs access to the image registry for only tag resolution to digest

If your using a https with a custom private ssl certificates then you can configure the controller with the private verte to trust, just the certs not the CA
For example to make the controller trust https://john.com

Another option is to disable tag resolutiom and the controller will not need access to

[2020-12-06 15:22] csantanapr commented on #6895
Hi @karlkfi

I know your with Google now, but I didn’t want to have tweet out there and people take impression that knative doesn’t support the different use cases of private images

I will update docs soon, and also link the tag resolution doc to private registries.

Thank you for looking into this and confirming that the solution I provided works for your original use case

[2020-12-06 15:30] csantanapr commented on #6895
@VIjayHP one more clarification Knative doesn’t pull the whole image it just fetch the manifest for the tag to retrieve the digest sha

The actual image pull is done via a pod and Kubernetes (kubelet & container runtime)

[2020-12-06 15:32] mattmoor commented on #9760
If you keep tag-to-digest resolution enabled, then we (really the library we use) only support non-TLS when accessed via an IP address or via a domain ending in `.local`.  You can provide custom certificates or disable this default behavior as outlined here: https://knative.dev/docs/serving/tag-resolution/

[2020-12-06 17:22] VIjayHP commented on #9760
I tried to modify the configmap ( config-deployment) as mentioned in the link from
registriesSkippingTagResolving: "kind.local,ko.local,dev.local" to registriesSkippingTagResolving: "kind.local,ko.local,dev.local,john.com" but it's not accepting the configmap to edit
**error:**
error: configmaps "config-deployment" could not be patched: admission webhook "config.webhook.serving.knative.dev" denied

[2020-12-06 17:34] VIjayHP commented on #9760
Error which i am getting :  Returned an error err=Unable to fetch image "john.com:31320/local-images/helloworld:latest": failed to resolve image to digest: Get "https://john.com:31320/v2/": http: server gave HTTP response to HTTPS client
I have daemon.json configured for insecure registry as well . But after running the below command it gives the above error:
$go test -v -timeout=0m -tags=e2e -cou

[2020-12-07 04:26] nimamahmoudi opened #10275 "Knative Autoscaling"
## Ask your question here:

I am testing the autoscaling feature of Knative on a large VM. I just installed version `0.19.0`, deployed a container using the cli (kn) with `--concurrency-limit 5` option to control concurrency and `--limit 'cpu=250m,memory=256Mi'` to limit the resources for each container. The issue I am having is that the aggregated logs from Knative show a very unstable autoscalin

[2020-12-07 05:18] nak3 commented on #10246
Unfortunately OpenShift (serverlss-operator) does not support disabling HTTP atm.

(Related Slack discussion: https://knative.slack.com/archives/CA9RHBGJX/p1607008759232100)

[2020-12-07 06:59] markusthoemmes commented on #10275
What kinda workload are you running and how are you running it? Any insights on that that you can share?

[2020-12-07 07:01] markusthoemmes commented on #10243
Is your registry available under `example.com`?

[2020-12-07 07:04] markusthoemmes commented on #10267
This is indeed a hole in our readiness state. A revision that was once considered Ready will currently never become unready.

[2020-12-07 07:43] mgencur opened #10276 "Refactor AssertAutoscaleUpToNumPods test to be easily reusable in upgrade tests"
## Describe the feature
The test AssertAutoscaleUpToNumPods from https://github.com/knative/serving/blob/master/test/e2e/autoscale_test.go currently accepts a signal as a parameter for stopping the loops. It also starts goroutines and waits for them before returning from the function. This is problematic in upgrade tests where "setup" and "verify" phases must be run separately.
The goal of this is

[2020-12-07 07:50] cdlliuy commented on #9857
@dprotaso ,  can you help to share a little bit of the idea to fix this?

[2020-12-07 08:01] Shashankft9 commented on #10267
Do you think that this known hole also covers the behavior I noticed in the v0.14.0 - the status never reporting unready state when the first request comes on the scaled down to zero ksvc?
I can also try using the v0.18.0 to verify, I remember Dave wanted to test this on v0.18.0 here: https://gist.github.com/dprotaso/56c1fd920291eff29cce48f0501732a0

[2020-12-07 10:28] markusthoemmes commented on #10098
Great results, thanks for the writeup!

[2020-12-07 11:14] Shashankft9 commented on #10267
yep, same with v0.18.0, just tested the flow. The status remains `True`.

[2020-12-07 12:12] knative-test-reporter-robot opened #10281 "[flaky] test/scale.TestScaleToN/scale-200/153-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/153-of-200
* **Repository name**: serving

[2020-12-07 12:12] knative-test-reporter-robot opened #10282 "[flaky] test/scale.TestScaleToN/scale-200/043-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/043-of-200
* **Repository name**: serving

[2020-12-07 12:12] knative-test-reporter-robot opened #10283 "[flaky] test/scale.TestScaleToN/scale-200/100-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/100-of-200
* **Repository name**: serving

[2020-12-07 12:12] knative-test-reporter-robot opened #10284 "[flaky] test/upgrade.TestProbe"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestProbe
* **Repository name**: serving

[2020-12-07 12:12] knative-test-reporter-robot opened #10285 "[flaky] test/upgrade.TestServicePostUpgrade"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServicePostUpgrade
* **Repository name**: serving

[2020-12-07 12:12] knative-test-reporter-robot opened #10286 "[flaky] test/e2e/gc.TestRevisionGC"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/gc.TestRevisionGC
* **Repository name**: serving

[2020-12-07 12:12] knative-test-reporter-robot opened #10287 "[flaky] test/scale.TestScaleToN/scale-200/154-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/154-of-200
* **Repository name**: serving

[2020-12-07 12:12] knative-test-reporter-robot opened #10288 "[flaky] test/scale.TestScaleToN/scale-200/158-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/158-of-200
* **Repository name**: serving

[2020-12-07 12:12] knative-test-reporter-robot opened #10289 "[flaky] test/scale.TestScaleToN/scale-200/152-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/152-of-200
* **Repository name**: serving

[2020-12-07 12:12] knative-test-reporter-robot opened #10290 "[flaky] test/scale.TestScaleToN/scale-200/003-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/003-of-200
* **Repository name**: serving

[2020-12-07 12:12] knative-test-reporter-robot opened #10291 "[flaky] test/upgrade.TestServicePostUpgradeFromScaleToZero"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServicePostUpgradeFromScaleToZero
* **Repository name**: serving

[2020-12-07 12:12] knative-test-reporter-robot opened #10292 "[flaky] test/scale.TestScaleToN/scale-200/159-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/159-of-200
* **Repository name**: serving

[2020-12-07 12:12] knative-test-reporter-robot opened #10293 "[flaky] test/scale.TestScaleToN/scale-200/157-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/157-of-200
* **Repository name**: serving

[2020-12-07 12:12] knative-test-reporter-robot opened #10294 "[flaky] test/scale.TestScaleToN/scale-200/040-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/040-of-200
* **Repository name**: serving

[2020-12-07 12:12] knative-test-reporter-robot opened #10295 "[flaky] test/scale.TestScaleToN/scale-200/132-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/132-of-200
* **Repository name**: serving

[2020-12-07 12:12] knative-test-reporter-robot opened #10296 "[flaky] test/scale.TestScaleToN/scale-200/002-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/002-of-200
* **Repository name**: serving

[2020-12-07 12:12] knative-test-reporter-robot opened #10297 "[flaky] test/scale.TestScaleToN/scale-200/042-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/042-of-200
* **Repository name**: serving

[2020-12-07 12:12] knative-test-reporter-robot opened #10298 "[flaky] test/scale.TestScaleToN/scale-200/151-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/151-of-200
* **Repository name**: serving

[2020-12-07 12:12] knative-test-reporter-robot opened #10299 "[flaky] test/scale.TestScaleToN/scale-200/133-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/133-of-200
* **Repository name**: serving

[2020-12-07 12:12] knative-test-reporter-robot opened #10300 "[flaky] test/scale.TestScaleToN/scale-200/156-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/156-of-200
* **Repository name**: serving

[2020-12-07 13:34] nimamahmoudi commented on #10275
@markusthoemmes: Thanks for getting back to me. The workload is CPU-intensive (calculation of 20000 factorial). I am running it on a flask server with `threaded=True` to allow for measuring concurrency level.

[2020-12-07 13:35] VIjayHP commented on #10243
Hi @markusthoemmes yes i have patched the configmap as below:
kubectl patch configmap/config-domain \
  --namespace knative-serving \
  --type merge \
  --patch '{"data":{"example.com":""}}'
here example.com i just took as sample value.

[2020-12-07 13:38] nimamahmoudi commented on #10275
@markusthoemmes: I am running `cpu_test(20000)` from [this code](https://github.com/pacslab/serverless-performance-modeling/blob/master/deployments/faas-modeling-workload/tests.py) on each request.

[2020-12-07 14:00] markusthoemmes commented on #10243
Well the problem most likely is, that the **registry** isn't available under `example.com`. The setting you changed is for Knative to deploy services under that domain.

[2020-12-07 14:17] sneko commented on #9727
I experienced that on Google Cloud Run (GKE platform), I just got:
[code]

GKE cluster version: 1.15.12-gke.6
Knative version: 0.14.0 (according to https://cloud.google.com/kuberun/docs/release-notes#July_07_2020)

[2020-12-07 15:16] mattmoor commented on #9760
The error message above highlights your issue:

[2020-12-07 15:23] VIjayHP commented on #10243
@markusthoemmes No the registry is available and i am able to push /pull manually . But e2e test's are failing
Note: Here i took example.com as a placeholder instead of original value .

[2020-12-07 17:14] nimamahmoudi commented on #10275
I started logging the observed concurrency on the client. The result is shown in the image below. It seems like the requests are queued up for a few seconds every minute in knative. I tried moving the client between 3 different clouds and installing knative on 3 different clouds, but the result stays the same, requests are queued up for a few seconds every minute on my knative installation. Is thi

[2020-12-07 17:18] markusthoemmes commented on #10275
You could try playing with the concurrency value certainly. If the workload is very CPU intensive, it might make sense to use concurrency=1, since they'll just eat CPU from each other otherwise.

What is the workload runner doing? Is it trying to maintain a certain RPS or is it trying to maintain a certain concurrency?

[2020-12-07 17:22] vagababov commented on #10275
Also given that python only really permits one real thread and the type of computation you're doing — you're not really getting any benefit from concurrency=5. You need to run with concurency 1.

[2020-12-07 17:34] nimamahmoudi commented on #10275
@markusthoemmes and @vagababov: Thanks for the feedback. I actually thought of that last night, so I tried using `threading.Lock` to allow one execution at a time (you can check out my [gist](https://gist.github.com/nimamahmoudi/729ed6af5eb7dcc7ed7d0d2fd4b6b631)). I understand that this way of using concurrency value is not usual, but I am doing research on knative's autoscaling and I want to log

[2020-12-07 18:14] jonjohnsonjr commented on #6895
In fact, it doesn't _really_ even fetch the manifest anymore. It just sends a HEAD request and gets the digest from headers.

[2020-12-07 19:42] nimamahmoudi commented on #10275
I tried using a simple sleep as the workload and again everything worked as it should. I still don't know why the cpu-intensive task is facing those issues. The VM is a huge machine with 8vCPUs and 30GB of memory. Running 3-4 tasks with limited CPU should only have a negligible effect on the response time. Maybe the way that CPU is being limited is affecting the results here? Does anybody have any

[2020-12-07 20:00] vagababov commented on #10275
My guess if that using python with cc > 1, especially on a CPU intensive task is not a good idea and probably is the source of your troubles. I think they end up queueing at some point (because there's not real parallelism in python) which causes scale up, then they all get processed and scales down.

[2020-12-07 20:27] nimamahmoudi commented on #10275
@vagababov: I just realized that I forgot to change the concurrency value before my last experiment. I switched the workload to a simple sleep for a random amount of time (between 400 and 600 ms), concurrency set to 5, and I still see a large peak in queued up requests every minute (exactly similar to those large spikes on the second image I uploaded.

So, overall the performance of my workload is

[2020-12-07 20:57] nimamahmoudi commented on #10275
I am sending 5 requests per second, for each request on average I have 500ms of sleep. So, the whole workload needs 2-3 instances to handle. When I set the concurrency value to a value like 5, my instance count goes all the way to 25 (about 10 times larger than it should be). In my example, some level of queuing is still OK if it means I will have fewer instances.

![number of instances](https://i

[2020-12-07 21:16] vagababov commented on #10275
1. Can you please try running this image instead (https://github.com/knative/serving/tree/master/test/test_images/autoscale). You can send make it sleep for fixed amount ms (?sleep=500ms) or with stddev.
2. How do you generate the load?

[2020-12-07 21:37] rhuss commented on #9727
Kourier affair, but that was already since quite some time (sorry for the late reply @markusthoemmes , just overlooked your question :)

[2020-12-07 22:15] nimamahmoudi commented on #10275
I believe that is the same workload as [here](https://knative.dev/docs/serving/autoscaling/autoscale-go/) with image `gcr.io/knative-samples/autoscale-go:0.1`.
In that case, I tried it. Obviously, the sleep version doesn't work for me since in case of more than 1 request, I want them to be processed serially (so 4 requests overall should take 2 seconds, by default it takes 0.5 for any number of re

[2020-12-07 22:19] vagababov commented on #10275
[code]
Why? If you use CC=1, they will be processed serially.
If you use CC > 1 and want them to be processed serially then whatever you're seeing is totally expected. You should either set cc=1 or process things in parallel.

[2020-12-07 22:27] nimamahmoudi commented on #10275
@vagababov: As I mentioned, I am willing to allow queuing of the requests in the instance (acceptable service degradation) to have fewer function instances. As I previously said, I am doing research into the performance of knative and creating an analytical performance model for it, so I am considering different scenarios.

Anyway, `sleep=100&prime=7000000` with CC=5 options should still be stable

[2020-12-08 00:04] vagababov commented on #10275
There's also a limit on what `prime` parameter takes.

You're missing how knative autoscaler works `I am willing to allow queuing of the requests in the instance` — means you basically say "we need more instances" and autoscaler provides you with those. You're holding it wrong, as I said above.

[2020-12-08 00:14] nimamahmoudi commented on #10275
@vagababov: So, basically what you are saying is that for CPU/IO/memory-intensive tasks we always want to set `CC=1` and `CC>1` should only be used with API calls, sleep, and working with DB or external services?

So you think it shouldn't have worked with `sleep=100&prime=7000000` and `CC=5` and it probably won't work with any CPU-intensive task?

The limit is `40M`, I am passing `7M`.

[2020-12-08 00:17] nimamahmoudi commented on #10275
@vagababov: Also, if we need more instances, why does it then scale down and back up again and keeps oscillating? Considering that everything stays the same regarding the workload, shouldn't the autoscaler also be rather stable?

[2020-12-08 01:25] vagababov commented on #10275
- no I don't say that, it depends on whether your computations is pre-emptable or you run on multiple cores (or e.g. on gpu that supports up to N parallel computations) and whether you're using a language that is multithreaded. If not all/most of those is true CC=1 is your choice
- the oscilations since we endup in panic mode, overscale and then after the queue is drained we scale back down.

In o

[2020-12-08 02:18] nimamahmoudi commented on #10275
@vagababov: I have used `autoscaling.knative.dev/panicThresholdPercentage:  1000` to avoid going into panic mode (since arrival rate is constant, there is almost no chance of the measured concurrency throughout a 1-minute period to be larger than 10 times the set CC). Do you know any tutorial that could help debug issues with autoscaler? For example, something that can help see the measured values

[2020-12-08 07:13] VIjayHP commented on #6895
@jonjohnsonjr But only for knative-serving this is happening as i am able to pull /push manually from the k8s cluster however below command for e2e test's fails:
$go test -v -timeout=0m -tags=e2e -count=1 ./test/e2e --dockerrepo localhost:5000/knative
I have all the test images wit latest tag in my local docker registry .
Please suggest on this?

[2020-12-08 07:37] markusthoemmes commented on #10275
Are you measuring the latency of your calls somewhere? I can't help but feel that the workload generator might behave unexpectedly and that we're seeing seriously stacked requests here causing the huge spikes.

[2020-12-08 07:53] markusthoemmes commented on #9727
If it's Kourier, is it still an issue at HEAD then? I've recently done quite a few changes to Kourier's status reporting.

[2020-12-08 09:23] rhuss commented on #9727
Unfortunately, I can't reproduce it anymore as we introduced a client safeguard for this kind of situations (with https://github.com/knative/client/pull/1052)

For our needs this is good enough, so from my side, the issue could be closed. Not sure if the other reference to the Google Cloud Run error really applies here to use (it's hard to test anyway), or whether it would be better to hunt that e

[2020-12-08 10:06] VIjayHP opened #10306 "Regarding knative-serving e2e tests"
Can knative-serving/eventing e2e tests  run against the test images hosted on either http registry/ insecure https registry?

[2020-12-08 10:10] connorlwilkes commented on #10226
Anyone able to assist with this?

[2020-12-08 10:13] markusthoemmes commented on #10226
Does the namespace you're deploying stuff into have a `control-plane` label by any chance?

[2020-12-08 10:34] connorlwilkes commented on #10226
@markusthoemmes thanks very much for getting back to me. Not that I can see,  NS definition is:
[code]

[2020-12-08 12:14] knative-test-reporter-robot opened #10310 "[flaky] 1.28% tests failed in repo serving on 2020-12-08 08:00:46 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.28% tests failed in repo serving on 2020-12-08 08:00:46 +0000 UTC
* **Repository name**: serving

[2020-12-08 13:49] nimamahmoudi commented on #10275
@markusthoemmes: Yes I am measuring it and I am pretty sure that that is the case. If you want I can do another experiment this afternoon and plot the response time. I was wondering if we had any tool that could help me debug why requests are being stacked up. I even thought maybe it was an issue with the client, so I changed the client's cloud computing infrastructure, but still, the same pattern

[2020-12-08 15:11] kkwekkeboom commented on #7650
/remove-lifecycle stale

[2020-12-08 17:03] #10306 closed

[2020-12-08 17:06] VIjayHP commented on #10243
Worked after making changes from here: https://knative.dev/docs/serving/tag-resolution/#skipping-tag-resolution
Thanks @markusthoemmes

[2020-12-08 17:06] #10243 closed

[2020-12-08 19:15] nimamahmoudi commented on #10275
@markusthoemmes: This is the response time over time:

![response time over time](https://i.ibb.co/6yMWZ1D/q3.png)

[Image Link](https://ibb.co/7Sf1zRr)

It looks like requests are blocked for a few seconds every minute. Do you have any suggestions to figure out the source?

[2020-12-09 12:10] knative-test-reporter-robot opened #10318 "[flaky] test/scale.TestScaleToN/scale-200/062-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/062-of-200
* **Repository name**: serving

[2020-12-09 12:10] knative-test-reporter-robot opened #10319 "[flaky] test/scale.TestScaleToN/scale-200/150-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/150-of-200
* **Repository name**: serving

[2020-12-09 12:10] knative-test-reporter-robot opened #10320 "[flaky] test/scale.TestScaleToN/scale-200/138-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/138-of-200
* **Repository name**: serving

[2020-12-09 12:10] knative-test-reporter-robot opened #10321 "[flaky] test/scale.TestScaleToN/scale-200/145-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/145-of-200
* **Repository name**: serving

[2020-12-09 12:10] knative-test-reporter-robot opened #10322 "[flaky] test/scale.TestScaleToN/scale-200/022-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/022-of-200
* **Repository name**: serving

[2020-12-09 12:10] knative-test-reporter-robot opened #10323 "[flaky] test/scale.TestScaleToN/scale-200/137-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/137-of-200
* **Repository name**: serving

[2020-12-09 12:11] knative-test-reporter-robot opened #10324 "[flaky] test/scale.TestScaleToN/scale-200/068-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/068-of-200
* **Repository name**: serving

[2020-12-09 12:11] knative-test-reporter-robot opened #10325 "[flaky] test/scale.TestScaleToN/scale-200/080-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/080-of-200
* **Repository name**: serving

[2020-12-09 12:11] knative-test-reporter-robot opened #10326 "[flaky] test/scale.TestScaleToN/scale-200/127-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/127-of-200
* **Repository name**: serving

[2020-12-09 13:08] kkwekkeboom opened #10327 "Changing podautoscaler directly does not trigger scale up"
## In what area(s)?

## What version of Knative?

## Expected Behavior
Changing the podautoscaler from minScale=0 to minScale=1 will result in a scale up of the related deployment.

## Actual Behavior
The deployment does not scale to 1 replica. Making a request is needed to achieve that.
The podautoscaler indicates it's not active
[code]
## Steps to Reproduce the Problem
Deploying helloworld-go wi

[2020-12-09 14:48] juixtu opened #10328 "istio-webhook connection refused"
I create a helloworld-go service, It dosn't work, During the troubleshooting process, I found the following information：

- describe revision:
[code]
- get pods -n knative-serving:

[code]
- controller error logs:
[code]
I use nslookup in pod to test :
istio-webhook.knative-serving ---> svcIP, It's OK

The environmental information：
- knative：0.19
- kubernetes: 1.18
- Istio: 1.7.3

I would like t

[2020-12-09 15:09] vagababov commented on #10327
You cannot change PodAutoscaler directly. Your changes are reconciled away. You need to mint a new revision.

/close

[2020-12-09 15:09] #10327 closed

[2020-12-09 15:37] kkwekkeboom commented on #10327
Creating a new revision for just changing a scaling parameter has quite some overhead on larger scale (e.g. 50 replicas). Any alternatives to traffic splitting?

[2020-12-09 15:58] vagababov commented on #10327
But if you're scaled to 0 (when minScale=0 -> 1) matters — it should not be an issue?

[2020-12-09 16:10] kkwekkeboom commented on #10194
Using a readinessprobe does not make a difference
[code]
Upgrading to v0.19 does not make a difference

[2020-12-09 16:19] markusthoemmes commented on #10194
Our default readiness probe is fairly "dumb" in that it only asserts a TCP connection can be established, which you have found can cause races in cases like yours.

If you specify a readiness probe that actually checks the server responds correctly, you should get the desired behavior.

[2020-12-09 17:37] kkwekkeboom commented on #10327
Indeed, then just this edge case needs special treatment
[code]

AFAIK changes are not reconciled away for the podautoscaler in v0.17.1. Something changed since then?

[2020-12-09 18:16] afshin2020 opened #10331 "Bug"
## Describe the feature

[2020-12-09 18:16] vagababov commented on #10327
Sorry, I don't follow.
You want to change minScale.
Knative requires a new revision for that — I actually once argued that this does not require a new revision but I was shot down at API WG meeting @mattmoor .
Anyway, you say that it's a bad idea since you're running at scale of 50 live pods.
I say that if you're running at scale of 50 pods, then minScale=0 or minScale=1 does not matter really — y

[2020-12-09 18:16] afshin2020 opened #10332 "Bug"
## What version of Knative?

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

[2020-12-10 01:43] #8896 closed

[2020-12-10 01:44] #7350 closed

[2020-12-10 07:38] markusthoemmes commented on #10332
:thinking:

/close

[2020-12-10 07:38] #10332 closed

[2020-12-10 10:12] kkwekkeboom commented on #10194
Thanks
[code]
works quite well

[2020-12-10 10:12] #10194 closed

[2020-12-10 10:25] kkwekkeboom commented on #10327
Yes I want to change minscale from 0 to 1 in a consistent way. The situation can be that I already have 0 pods, 10 pods or 50 pods running and therefore creating a new revision is not always a good option. That's why I work with changing the podautoscaler.

Regarding
[code]
Wasn't there but from my limited understanding it makes sense to not create a new revision when just changing scaling paramet

[2020-12-10 12:14] #10288 closed

[2020-12-10 12:14] #10290 closed

[2020-12-10 12:14] #10294 closed

[2020-12-10 12:14] #10300 closed

[2020-12-10 12:14] #10283 closed

[2020-12-10 12:14] #10296 closed

[2020-12-10 12:14] #10297 closed

[2020-12-10 12:14] #10293 closed

[2020-12-10 12:14] #10298 closed

[2020-12-10 12:14] #10281 closed

[2020-12-10 12:14] #10287 closed

[2020-12-10 12:14] #10299 closed

[2020-12-10 12:14] #10289 closed

[2020-12-10 12:14] #10295 closed

[2020-12-10 12:14] #10292 closed

[2020-12-10 12:14] #10282 closed

[2020-12-10 17:10] ctron opened #10344 "Newly created Services fail with "RevisionMissing""
## What version of Knative?

## Expected Behavior

Services should be ready when they are created. A revision should be created automatically if required.

## Actual Behavior

Services start up with "ready=false" and "reason=RevisionMissing":

[code]

## Steps to Reproduce the Problem

Create a bunch of new services at the same time.

## Additional information

It is possible to get them ready by

[2020-12-10 17:14] markusthoemmes commented on #10344
:thinking: is this reproducible with arbitrary services? Anything special about yours? Long startup times and such? Any chance you can share the service's YAML? Are the images prepulled to minikube?

(sorry for the battery of questions :joy:)

[2020-12-10 17:16] ctron commented on #10344
No worries, sorry for my answers! :grin:

The installer is here: https://github.com/drogue-iot/drogue-cloud/releases/tag/v0.2.0-rc5 (minikube works, the others are still being tested). Unzip and then:

[code]

Deploy with:

[code]

The images are not pre-pulled.

[2020-12-10 17:20] markusthoemmes commented on #10344
Could you check if pods are created for the revision and are failing/taking long to come up because of image pulling etc.? Our controllers will give up after a while if they can't seem to make progress.

[2020-12-10 17:24] #10331 closed

[2020-12-10 22:38] snowneji opened #10346 "[Installation Issue] Invalid value: "Webhook": must be None if spec.preserveUnknownFields is true"
## What version of Knative?
v0.18.0

## Actual Behavior

When trying to install Knative using the following script:
[code]
I kept receiving the following error: `Invalid value: "Webhook": must be None if spec.preserveUnknownFields is true`, here is the error detail:
[code]

## Steps to Reproduce the Problem

**Kubernetes Version**: Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1

[2020-12-11 11:18] ctron commented on #10344
I just checked, here is what I can see:

* The service gets deployed, creates a deployment, and tries to create a pod
* That is in `ContainerCreating` for ~2.5 minutes
* Then it goes into `Terminating`
[code]
* And the Knative service is in the failed state
[code]

When deploying a bunch of services at the same time, pulling may slow down, so 2.5 minutes seems a bit eager. Also, Kubernetes already

[2020-12-11 12:12] #10318 closed

[2020-12-11 12:12] #10320 closed

[2020-12-11 12:12] #10322 closed

[2020-12-11 12:12] #10284 closed

[2020-12-11 12:12] #10326 closed

[2020-12-11 12:12] #10286 closed

[2020-12-11 12:12] #10321 closed

[2020-12-11 12:12] #10325 closed

[2020-12-11 12:12] #10291 closed

[2020-12-11 12:12] #10319 closed

[2020-12-11 12:12] #10323 closed

[2020-12-11 12:12] #10285 closed

[2020-12-11 12:12] #9720 closed

[2020-12-11 12:12] #10324 closed

[2020-12-11 17:31] vagababov commented on #10344
The default deadline progress for knative is 120s. I suggest you change the config map setting to a longer value.
https://github.com/knative/serving/blob/master/config/core/configmaps/deployment.yaml#L53

[2020-12-11 17:31] vagababov commented on #10344
Other work is also planned in the new year to deal better with non-terminal failures

[2020-12-11 19:50] diegoximenes opened #10355 "Pods created due to `initialScale` doesn't follow `scaleDownDelay` behavior"
## In what area(s)?
 /area autoscale

## What version of Knative?

0.19.0

## Expected Behavior

Pods created due to `initialScale` should follow `scaleDownDelay` behavior.

## Actual Behavior

Pods created due to `initialScale` doesn't follow `scaleDownDelay` behavior.

## Steps to Reproduce the Problem

Create a revision with the following configuration:
[code]

Check that three pods are created

[2020-12-12 12:11] #10168 closed

[2020-12-12 15:12] mattmoor opened #10358 "statforwarder's lease tracker should be a reconciler"
/area autoscale
/kind cleanup

## What version of Knative?

HEAD

## Expected Behavior

This is a reconciler on leases (preferably in `system.Namespace()`): https://github.com/knative/serving/blob/0c60aeb0bd800225e3a38118cb7333d46bf5dd8c/pkg/autoscaler/statforwarder/leases.go#L52

## Actual Behavior

It is currently ad hoc edge-triggered logic, which doesn't benefit from our reconciler infrastruct

[2020-12-13 12:13] #10227 closed

[2020-12-14 04:09] yanweiguo commented on #10358
I think this is similar to https://github.com/knative/serving/issues/9921?

[2020-12-14 14:44] mattmoor commented on #10358
Yep, it should be a bit easier with the current split.  Any plans to pick that up?

[2020-12-14 14:44] #10358 closed

[2020-12-15 14:33] #9415 closed

[2020-12-15 21:19] nimamahmoudi commented on #10275
Any ideas on why this is happening?

[2020-12-16 01:37] #8559 closed

[2020-12-16 01:37] #8365 closed

[2020-12-16 01:37] #8171 closed

[2020-12-16 01:37] #8092 closed

[2020-12-16 01:37] #6903 closed

[2020-12-16 01:37] #6642 closed

[2020-12-16 01:37] #6571 closed

[2020-12-16 02:08] duglin commented on #6146
/remove-lifecycle stale

[2020-12-16 07:19] markusthoemmes commented on #6146
Still wondering if that's the case.

[2020-12-16 12:10] knative-test-reporter-robot opened #10385 "[flaky] test/e2e.TestRPSBasedAutoscaleUpCountPods"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestRPSBasedAutoscaleUpCountPods
* **Repository name**: serving

[2020-12-16 14:18] duglin commented on #6146
@markusthoemmes do you mean using that in the Knative code or in the app? All I'm looking for is the ability to use low-level reads and writes on the connection w/o having to use websockets - see: https://github.com/duglin/knstream/blob/master/stream.go#L38-L47

[2020-12-16 14:24] markusthoemmes commented on #6146
I mean with plain Golang. I'm trying to figure out if we need to change or if a Golang stdlib change might be necessary.

[2020-12-16 15:30] skonto commented on #10259
@julz I guess this has to be implemented in that repo and pass a ctx down to the actual http call. That means some work at those repos, do you think we should a quick fix with a goroutine or start updating these repos?

[2020-12-16 16:03] markusthoemmes commented on #10259
Does running it in a goroutine buy us anything? If it blocks forever, we'll leak the goroutine, right? AFAIK, there's no way to abort a goroutine.

[2020-12-16 18:09] duglin commented on #6146
I'm pretty sure it's something in Knative since this app works just fine in generic kube.

[2020-12-16 18:14] markusthoemmes commented on #6146
Could you please test if it's also fine behind a Golang proxy using `httputil.ReverseProxy`. Asking specifically, because I do know that the reverse proxy stuff in Golang (which we use in both queue-proxy and activator) is having some level of trouble with some read/write use-cases. See https://github.com/golang/go/issues/40747 for example.

[2020-12-17 00:33] duglin commented on #6146
I added an httputil.ReverseProxy to my server side sample (to intercept calls to my server) and it seems to fail with generic tcp stuff. With websockets it works just fine.

[2020-12-17 01:57] #7449 closed

[2020-12-17 01:57] #7349 closed

[2020-12-17 01:57] #7197 closed

[2020-12-17 04:03] vagababov commented on #7711
/reopen

[2020-12-17 04:03] vagababov commented on #7711
/assign @julz

I think Julian wanted this.

[2020-12-17 08:50] skonto commented on #10259
@markusthoemmes it is not blocked on a system call its running with backoff forever, check [here](https://github.com/skonto/serving/blob/70ce722d1b2a70de690b8059a9429c823fd3eeaf/vendor/github.com/vdemeester/k8s-pkg-credentialprovider/gcp/metadata.go#L186). If we set a timeout on the goroutine we can wait for it and move on.

[2020-12-17 09:06] markusthoemmes commented on #10259
@skonto in precisely that example, the goroutine leaks and still runs forever, even if the program moved on. We'll have to thread the `context.Context` into the infinitely-running-function and make it return `ctx.Err()` once `ctx.Done()` has an event.

[2020-12-17 09:20] skonto commented on #10259
Ok now I see what you mean then passing ctx is inevitable.

[2020-12-17 10:03] VIjayHP commented on #2514
@sebgoa :
Even i am facing the same issue for activator and autoscaler pod:
 Failed to list *v1alpha1.PodAutoscaler: podautoscalers.autoscaling.internal.knative.dev is forbidden: User "system:serviceaccount:knative-serving:controller" cannot list resource "podautoscalers" in API group "autoscaling.internal.knative.dev" at the cluster scope

 Failed to list *v1.Revision: revisions.serving.knative.d

[2020-12-17 12:40] MaciekLeks opened #10400 "Service deployment does not respect the container port during liveness and readiness probe"
## Expected Behavior
LivenessProbe and ReadinessProbes should respect the container port.

## Actual Behavior
No matter if I configure spec/template/spec/containers/ports/ or not the probe is addressing the different port for liveness, probe skipping readiness declaration.

## Steps to Reproduce the Problem
My configuration of the Service is:
[code]
After applying it (the image is public) the resu

[2020-12-17 12:49] markusthoemmes commented on #10400
Probes are generally rewritten to go via the injected queue-proxy, to make sure the entire traffic path actually works.

The readiness probe is rewritten to be executed by the queue-proxy. You should find the definition of your readiness probe in the environment variables of the queue-proxy container. We do that to minimize startup latency of your container.

[2020-12-17 12:53] MaciekLeks commented on #10400
It seems OK:
[code]
But what about the livenessProbe?

[2020-12-17 14:01] markusthoemmes commented on #10400
As mentioned, it's just rewritten to go via the queue-proxy. It should just proxy it to your container with no issues though.

[2020-12-17 14:55] duglin commented on #6146
would it make sense to just create our own proxy until they fix it? I don't think we need anything too complex do we?

[2020-12-17 15:09] markusthoemmes commented on #6146
I absolutely wouldn't want to take writing that proxy lightly. It's not the most complex of things, but I don't want to be in the business of writing a performant alternative to it, unless there is a **really** good reason to.

TBH, this doesn't meet that bar for me, considering this is the first time it seemingly doesn't interop "as expected".

Is what you're doing covered by the HTTP spec? IIRC

[2020-12-17 15:23] duglin commented on #6146
Unless I missed it, I don't write to the connection before converting it to a tcp connection.

Can't say how important it is, other than I think I've heard of other folks running into this and it seems odd that we don't support anything but websockets - especially when generic kube (and docker) does.

[2020-12-17 15:40] markusthoemmes commented on #6146
@duglin tbh it doesn't surprise me at all, given our transports are purely HTTP focused so if you're doing things that are not captured or even disallowed by the HTTP spec, I wouldn't expect stuff to work.

[2020-12-17 16:44] markusthoemmes commented on #6146
Seems like the HTTP spec **does** allow what you're doing (see https://github.com/golang/go/issues/15527). Essentially, I believe you're reading/writing from the request/to the response in parallel, which Go currently doesn't seem to be supporting.

[2020-12-17 16:49] duglin commented on #6146
wow that's an old issue

[2020-12-17 19:35] vagababov commented on #9999
/assign

[2020-12-17 19:36] vagababov opened #10402 "Compute Route Status.Traffic and Status.Ready during rollout"
Now that we have all ingress pieces in place we can update and set the route status fields correctly
/assign

[2020-12-17 19:43] akirillov commented on #10115
Experiencing the same issue with KNative 0.14.0, Istio 1.6.12. In my case, continuous deployments were working fine for days and at some point, this issue appeared. I'm trying to understand the root cause but struggling to find anything useful in the logs of KNative and Istio controllers. Would appreciate any pointers to where to look at.

[2020-12-17 19:48] vagababov commented on #10115
cc @JRBANCEL @tcnghia
Usually enabling envoy logs is most helpful
Knative logs of interest would be knative-serving/controller deployment's logs. Also, not sure if 0.14 already had separate Istio ingress controller or not. But if so also its logs.

And finally, I'd strongly recommend upgrading to 0.19.

[2020-12-17 21:03] JRBANCEL commented on #10115
As @vagababov suggested, look at the controller logs for something like:

[code]

This gives you which Envoy (see the IP) fails to be probed and why.

Then you can enable debug logging on that Envoy:

[code]

Then you can find where the error code is from, something like:
[code]

Based on the error we can investigate further.

But as said above, 0.12 and even 0.14 are ancient.

[2020-12-17 23:23] akirillov commented on #10115
thanks, @vagababov, @JRBANCEL!

I followed the steps, here are the main findings
[code]

Looking for the IP:
[code]

Looking into the gateway logs.
Knative-Ingress-Probe:
[code]

Some suspicious TLS error:
[code]

Looking for the IP from the gateway logs:
[code]

[2020-12-17 23:49] JRBANCEL commented on #10115
Istio forwards the requests to Activator. That's expected.
Now, I don't understand why TLS is involved, this is all inside cluster communication and should be clear text.

Unless, you have mTLS enabled and STRICT policy which would force Envoy to use HTTPS.
Is it the case?

`Secret is not supplied by SDS` might be related to https://github.com/istio/istio/issues/22443 fixed in Istio 1.8.

[2020-12-18 00:05] arturenault commented on #10221
/close

fixed by the above pr. not sure why it didn't close this

[2020-12-18 00:05] #10221 closed

[2020-12-18 00:07] akirillov commented on #10115
thanks, @JRBANCEL. Istio is running with mTLS enabled and in permissive mode and I think if this would be the case, the deployment wouldn't succeed in the first place.

I'll dig deeper into SDS issue.

Speaking of the upgrade. Is there any compatibility considerations especially related to Istio version?

[2020-12-18 00:21] akirillov commented on #10115
The problem has been resolved by restarting a long-running cluster-local gateway pod. We've experienced a restart of cert-manager approximately around the same time when the LoadBalancer issue appeared first - it could be that cert-manager updated the secrets but cluster-local-gateway kept using the stale ones.

[2020-12-18 00:22] Cynocracy commented on #10328
Hi, this occurs because the webhook's failurepolicy is set to FAIL, and the webhook validates some configmaps it requires to function. When the configmaps do not exist before the ValidatingWebhookConfiguration applies, the configmaps are rejected, and the webhook ends up crashlooping.

If you delete the ValidatingWebhookConfiguration, it should be possible for any reconciliation adding the configm

[2020-12-19 12:11] #10385 closed

[2020-12-19 12:11] knative-test-reporter-robot opened #10409 "[flaky] test/conformance/api/v1alpha1.TestDomainMapping"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestDomainMapping
* **Repository name**: serving

[2020-12-19 13:16] MaciekLeks commented on #10400
So, technically it was my fault. I removed CGO_ENABLED=0 before `go build` of my image, and the `docker run` exits with `code standard_init_linux.go:219: exec user process caused: no such file or directory`. I use `scratch` image to get the smallest image I can. I did not noticed that before posting the issue, just because I did not test it on vanilla docker first. Shame on me.

So, your knative i

[2020-12-19 13:16] #10400 closed

[2020-12-20 00:55] nimamahmoudi commented on #10275
I was originally using kourier as my service mesh, so I switched to Istio just to make sure. The system behaves exactly the same way. The same peaks are appearing every minute or so. This seems exactly like a bug as it is blocking requests and making fluctuations in the number of instances while the request arrival rate is constant.

[2020-12-20 00:55] nimamahmoudi commented on #10275
I accidentally close this issue, so I will re-open it.

[2020-12-21 01:46] #9048 closed

[2020-12-21 01:47] #7035 closed

[2020-12-21 07:37] daisy-ycguo opened #10411 "Broken links @ serving/DEVELOPMENT.md"
## What version of Knative?

Master branch

## Expected Behavior

The top two links in Telemetry section @ serving/DEVELOPMENT.md are broken. Either remove them or provide correct links.

[code]

## Actual Behavior

Links to `Accessing Metrics` and `Accessing logs` are broken.

## Steps to Reproduce the Problem

Just open `serving/DEVELOPMENT.md` and scroll down to bottom, try to click `Accessing

[2020-12-21 11:39] skonto commented on #10411
@daisy-ycguo hi, a lot of monitoring stuff have been removed and also there is an [effort](https://github.com/knative/docs/projects/35) to document stuff in docs . We can replace these links with something like `TBD`.
\cc @abrennan89

[2020-12-21 12:21] cardil commented on #9137
/reopen
/remove-lifecycle stale

PR #10216 should fix this

[2020-12-21 12:26] skonto commented on #4417
/assign

[2020-12-21 15:01] jstrachan opened #10417 "anyone got knative serving with just nginx and no service mesh?"
all the examples I've seen so far have been either using a service mesh or `kourier`. Anyone figured out how to use nginx for the top level ingress handler with knative serving without istio + istio-nginx-gateway?

just wondered if there's a way to use knative without istio when folks are already using nginx without having to create another `LoadBalancer` basically (due to the exact cost of load b

[2020-12-21 15:36] senthilnathan commented on #10411
Related issue in the docs repository: https://github.com/knative/docs/issues/2984

[2020-12-21 20:48] mattmoor commented on #10417
The long-term answer to this is that ingress v2 meets our needs and we drop our awareness below that completely.

A near-term workaround would be to still use kourier/contour/etc, but change the `type: LoadBalancer` service to `type: ClusterIP` and configure an Ingress rule that forwards `*.your.knative.domain` to where it expects to receive external traffic.

[2020-12-22 01:03] vagababov commented on #10355
This is the result of the problem that `initialScale` is a reconciler artifact and `scaleDownDelay` is an autoscaler artifact.

So the history in the scaledown window never even records `3`, so it scales down to `1` immediately, given the lack of traffic.

[2020-12-22 06:18] zhaojizhuang opened #10421 "queue-proxy 9091 metrics Internal Error , collected metric xxx was collected before with the same name and label values"
## In what area(s)?

/area monitoring

## What version of Knative?

## Expected Behavior

queue-proxy 9091 metrics serve error: `500 Internal Server Error`  and metrics data with some error of `collected metric xxx was collected before with the same name and label values`

metrics request as follows

[code]

## Actual Behavior

## Steps to Reproduce the Problem

[2020-12-22 06:19] zhaojizhuang commented on #10421
/area monitoring

[2020-12-22 10:46] antoineco commented on #10421
That reminds me of https://github.com/knative/eventing/issues/4645

[2020-12-22 11:33] nak3 commented on #10421
The same issue was reported on Slack https://knative.slack.com/archives/CA4DNJ9A4/p1608523447018700
FYI @sravankumar777

[2020-12-22 11:44] zhaojizhuang commented on #10421
@antoineco yeah，it seems the same problem，I have't find the onditions for recurrence, but this problem occurs frequently in my environment.  Maybe we should add more tag or label in https://github.com/knative/serving/blob/master/pkg/metrics/tags.go#L119

[2020-12-22 11:53] antoineco commented on #10421
@zhaojizhuang I don't think the labels are directly related to the issue. This conflict is not supposed to happen. From what I've seen the problem occurs when a certain metric gets _duplicated_ instead of _incremented_.

Example:

Imagine the following metric:
[code]

When you call `metrics.Record(ctx, MyCounterM.M(1))`, you expect to get:
[code]

But sometimes you get this instead:
[code]

[2020-12-22 12:58] zhaojizhuang commented on #10421
![image](https://user-images.githubusercontent.com/3124692/102890690-da690c00-4497-11eb-992b-6ac3116b0a5d.png)

@antoineco In my case，it seems occur both in `value incremented ` and `value duplicated `

[2020-12-22 13:00] zhaojizhuang commented on #10421
/help

[2020-12-22 13:01] diegoximenes commented on #10355
I see, a redesign of this implementation is something that is already in knative's roadmap?

If I understood correctly, the usefulness of `initialScale` today depends on traffic being routed to the new revision before KPA decides to control the new revision's number of replicas, and this can depends on "luck".

In a blue-green like deployment, I need that a new revision will only receive traffic i

[2020-12-22 13:18] antoineco commented on #10421
@zhaojizhuang after the 24th request your counter was duplicated, and then only _one_ of the two kept being incremented. What matters here is that, after a metric has been duplicated, the Prometheus endpoint will remain broken until you restart the entire process (queue-proxy).

[2020-12-22 17:54] vagababov commented on #10355
There are few things here:
1. if you have initial scale *and* you send traffic warranting 3 pods — it should not scale down. At least for some time.
2. That should not be "luck". If you're not routing enough traffic, you should not have 3 pods, but in general `usefulness of initialScale` is in general borderline. Its main initial purpose was actually to permit `0`. Positive values were added as a

[2020-12-22 21:00] diegoximenes commented on #10355
1. and 2. Suppose that a new revision is created with initialScale 3, then KPA decides to downscale to 1, and only then the traffic is routed to the new revision in a blue-green like deployment. Here I supposed that these things can occur in that order, but correct me if I am wrong. In that case the traffic will observe a "degraded" (at least with larger latencies) service, until KPA scales again

[2020-12-22 21:32] vagababov commented on #10355
0.20 will be in January.
No docs yet, but if you install from head, I can tell you how to turn this on.

[2020-12-22 21:33] vagababov commented on #10355
I'd love beta testers :)

[2020-12-23 15:45] diegoximenes commented on #10355
It would be great to have access to the gradual rollout feature.
Unfortunately I need a stable solution sooner.

I've tried to edit a revision's `autoscaling.knative.dev/minScale`, however the change was not propagated to the related KPA.
Is that a intended behavior?
I know that revisions were supposed to be immutable, however I was expecting that this change would carry on to the related KPA, sin

[2020-12-23 17:06] vagababov commented on #10355
No you can't change revision at all. They are immutable. You need to change the parent service/config. If you change KPA then it will be too reconciled away.

[2020-12-23 17:16] diegoximenes commented on #10355
OK.
Wouldn't be interesting to block changes in `autoscaling.knative.dev/minScale` annotation in the admission webhook?
It seems that this kind of property would be better placed in the revision's spec anyway, or am I missing something?

[2020-12-23 17:26] vagababov commented on #10355
🤷  we had `immutable` checks before but they were more hassle than worth.

[2020-12-24 02:00] #8646 closed

[2020-12-24 23:19] nimamahmoudi commented on #10275
@markusthoemmes: The issue seems to occur when the response time goes beyond twice the response time with CC=1. I tried different workloads with different behaviours when CC>1. On CPU/IO/... intensive workloads going beyond CC=1 would cause the mentioned issue. However, I used another workload that only had an API call and in which the response time grew more steadily. In that situation, the issue

[2020-12-24 23:57] nimamahmoudi commented on #10275
@vagababov: Do my latest comments help in any way? Do you know any documentation or source code that could explain this behaviour?

[2020-12-25 02:01] sravankumar777 opened #10444 "502/503 errors for ksvc during knative-serving v0.19.0 version update"
## What version of Knative?
knative-serving v0.19.0

## Actual Behavior
During knative serving version update from v0.18.3 to v0.19.0, ksvc pod gets recreated and observed 502/503 while continuously sending traffic to this particular ksvc.

## Steps to Reproduce the Problem
1. Configure two replicas of activators on knative-serving with v0.18.3.
2. Deploy ksvc on test namespace.
3. Start sending t

[2020-12-25 04:28] vagababov commented on #10444
1. How many activators do you have running?
2. Is your traffic being proxied through activators?

If answers are:
1. 1
2. yes

Do you have the pdb running and what does pdb status say?

But in general you're running in that case with a SPOF and that is _kind of_ expected.

[2020-12-28 01:57] #9187 closed

[2020-12-28 01:57] #9103 closed

[2020-12-28 02:57] sravankumar777 commented on #10444
@vagababov, we are having default pdb being configured for the activator.
[code]