[2019-11-11 08:11] #5094 closed

[2019-11-11 08:33] nak3 commented on #5821
Yes, you are correct. My steps-5 above

It actually re-generated the revision. So, my report was asking like `creating that new revision should have the same contents as the revision you just deleted` which is not possible for immutable revision.

With said, I still wanted to know if the image digest in status field is appropriate or not as I originally proposed:

For example, if we wanted to take

[2019-11-11 08:38] andyyin commented on #5975
@yanweiguo

[2019-11-11 09:10] markusthoemmes commented on #5821
@nak3 yeah I suppose we could stick the digest into the container of the spec directly. Not sure why we're not doing this currently 🤔

[2019-11-11 10:00] markusthoemmes commented on #5975
@andyyin you are right indeed! This is a bug! See https://github.com/knative/serving/pull/5991 for a potential fix.

[2019-11-11 12:02] knative-test-reporter-robot opened #5993 "[flaky] test/e2e.TestServiceToServiceCallViaActivator"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestServiceToServiceCallViaActivator
* **Repository name**: serving

[2019-11-11 12:02] knative-test-reporter-robot opened #5994 "[flaky] test/e2e.TestSubrouteLocalSTS"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSubrouteLocalSTS
* **Repository name**: serving

[2019-11-11 12:02] knative-test-reporter-robot opened #5995 "[flaky] test/conformance/api/v1.TestRevisionTimeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestRevisionTimeout
* **Repository name**: serving

[2019-11-11 12:02] knative-test-reporter-robot opened #5996 "[flaky] test/conformance/api/v1beta1.TestRevisionTimeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestRevisionTimeout
* **Repository name**: serving

[2019-11-11 12:02] knative-test-reporter-robot opened #5997 "[flaky] test/e2e.TestDestroyPodWithRequests"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDestroyPodWithRequests
* **Repository name**: serving

[2019-11-11 12:02] knative-test-reporter-robot opened #5998 "[flaky] test/e2e.TestServiceToServiceCallViaActivator/both-disabled"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestServiceToServiceCallViaActivator/both-disabled
* **Repository name**: serving

[2019-11-11 12:03] knative-test-reporter-robot opened #5999 "[flaky] test/e2e.TestSubrouteVisibilityPrivateToPublic"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSubrouteVisibilityPrivateToPublic
* **Repository name**: serving

[2019-11-11 12:03] knative-test-reporter-robot opened #6000 "[flaky] test/e2e.TestServiceToServiceCall"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestServiceToServiceCall
* **Repository name**: serving

[2019-11-11 15:21] tanzeeb opened #6003 "Add e2e tests for HTTP2 Server-Side Push"
## In what area(s)?

/area networking
/area test-and-release
/kind good-first-issue

## Describe the feature

The HTTP2 spec allows for server-side push, which allows the server to "push" resources to the client without an explicit request. We need an e2e test to ensure that this functionality works in Knative.

For more information on the feature, and how to implement it in Go, see this post:

ht

[2019-11-11 16:55] josephlewis42 commented on #5822
I'll also take a stab at this:

Along with the points @dgerd mentioned:

* Licensing constraints -- your database might be under a viral license but your main server process isn't or vice-versa.
* Separation of duties -- the database team, storage architects, platform operators, and security teams can all provide their own sidecars to unify access to those systems.
* Lifecycle management -- sideca

[2019-11-11 17:03] #5975 closed

[2019-11-11 21:43] nimakaviani commented on #5950
you probably have it figured out by now looking at the code, but the querying is done by knative labels (mostly for service and route), and the correlation is done using owner references.

[2019-11-11 23:08] josephlewis42 opened #6005 "images.caching.internal.knative.dev preventing revisions from becoming ready"
## In what area(s)?

## What version of Knative?

Knative Serving Version: v0.9.0
Kubernetes version: v1.13.11-gke.11

## Expected Behavior

Revisions should become ready even if the reconciler can't create image caches.

## Actual Behavior

The reconciler can get stuck trying to create the image cache and even if the deployment becomes healthy, the kservice will forever get stuck in an unknown st

[2019-11-11 23:11] josephlewis42 commented on #6005
@JRBANCEL

[2019-11-12 00:13] coryrc opened #6006 "Tighter Acceptance Criteria in TestCustomResources"
/area test-and-release

https://github.com/knative/serving/blob/aba4def7400704909bac537b07300e8ceded274e/test/conformance/api/v1/resources_test.go#L114

this accepts any indication other than StatusOK, like BadRequest, rather than just not getting a response/closed socket. Should be more precise in acceptance.

/assign

[2019-11-12 00:13] coryrc commented on #6006
/assign @coryrc

[2019-11-12 00:16] coryrc opened #6007 "Delay after bloating test image"
/area test-and-release
/assign

Some systems don't prevent memory allocation, but kill any pods that exceed memory usage after some time. So add a 1-second delay after bloating memory in the autoscale test image.

https://github.com/knative/serving/blob/aba4def7400704909bac537b07300e8ceded274e/test/test_images/autoscale/autoscale.go#L176

[2019-11-12 00:55] JRBANCEL commented on #6005
There must be an issue with the informer because the CRD is created and then it seen as `NotFound` and re-created again:
[code]
[code]

But it was created once:
[code]

[2019-11-12 05:12] mi-yu commented on #5981
Hi, I'm at student at UT Austin and am looking to contribute to container-related project as part of my [virtualization course](https://github.com/vijay03/cs378-f19). I'm interested in picking this issue up, could I get assigned to this issue?

[2019-11-12 05:14] pyrito commented on #5981
Hi, I'm also apart of the same group for the project. Could I get assigned to this issue as well?

[2019-11-12 17:26] ruzickap opened #6011 "cert-manager 0.11.0 is not working with knative"
## In what area(s)?

/area networking

## What version of Knative?

0.10.0

## Actual Behavior

`cert-manager` version `0.11.0` is not compatible with Knative due to change in the API.

## Steps to Reproduce the Problem

Install Knative with cert-manager 0.11.0 like described here: https://knative.dev/docs/serving/installing-cert-manager/

Many things will not work (for example https://knative.dev

[2019-11-12 18:18] JRBANCEL commented on #5972
Can't this be done with a `preStop` handler?
That's how we drain queued requests in `queue-proxy`.
We can use a similar mechanism to flush all the telemetry that is in memory.

[2019-11-12 19:48] anniefu commented on #5972
That would work for observability backends that use a push model for receiving metrics (e.g. Stackdriver), and in fact we do Flush the Stackdriver exporter when user pods spin down.

However, there are some observability services (e.g. Prometheus) that use a pull model. In those cases we cannot force push metrics.

Knative should play well with both push/pull models since observability should move

[2019-11-12 23:28] josephlewis42 commented on #6005
It appears that this is caused by legacy stackdriver monitoring/logging being enabled on the cluster rather than "Stackdriver Kubernetes Engine Monitoring". Although this setup is disallowed when creating the cluster through the UI in Pantheon, it isn't disallowed through the API.

However, this could still be a bug in Knative Serving as it's strange that this would be the manifestation of logging

[2019-11-13 00:58] nak3 opened #6020 "Update Istio 1.3.5"
## In what area(s)?

/area networking
/area test-and-release

## Describe the feature

Istio 1.3.5 was released https://istio.io/news/2019/announcing-1.3.5/

https://github.com/istio/istio/issues/18229 is very curious fix to see if it can relieve https://github.com/knative/serving/issues/5890 or not.

MEMO: https://github.com/istio/istio/issues/18229 does not happen on my local, so I personally do

[2019-11-13 07:42] sirius1024 opened #6024 "Where to check the supported versions of Kubernetes and Istio?"
## In what area(s)?

/kind spec
/kind proposal

## Ask your question here:
I have an existing Kubernetes(1.16) and Istio(1.3.5) cluster, but not sure which is the best version that Knative supported.
I've checked the document ( https://knative.dev/docs/install/installing-istio/ ) and find a version string with demo code:
[code]
Do you have supported version list of Kubernetes and Istio?

[2019-11-13 15:49] #5919 closed

[2019-11-13 21:43] vagababov commented on #5981
Hi,
welcome to the Knative.
- Can you tell us more about how does Knative intersect with your class (Knative by itself does not deal much with virtualization, apart from running on Kubernetes)?
- Why did you pick Knative rather than anything else? Do you have any personal interest in the project, or just a picked a project from the list that was provided?
- Why did you pick this issue of our hundr

[2019-11-13 22:57] pyrito commented on #5981
Hi @vagababov,

- Our final project asks that we make a contribution to an open source project that is tangentially related to virtualization: e.g. serverless frameworks

- KNative had a strong community that had active members that we could find thus far. My partner and I were also interested in learning more about it.

- This issue seemed easier to tackle than the others. We felt that it was doa

[2019-11-14 02:04] stephenhandley commented on #5809
seeing same issue as @shturec

[2019-11-14 12:02] #5818 closed

[2019-11-14 12:02] #5996 closed

[2019-11-14 12:02] #5997 closed

[2019-11-14 12:02] #5999 closed

[2019-11-14 12:02] #5995 closed

[2019-11-14 12:02] #6000 closed

[2019-11-14 12:02] #5993 closed

[2019-11-14 12:02] #5994 closed

[2019-11-14 12:02] #5998 closed

[2019-11-14 12:02] #5124 closed

[2019-11-14 13:33] cpu commented on #4100
One quick note: I think [RFC 8555 §8.3](https://tools.ietf.org/html/rfc8555#section-8.3) is a better citation to reference for this work instead of the obsolete `draft-ietf-acme-acme-12`.

As one concrete example `draft-ietf-acme-acme-12` predates the "POST-as-GET" construction described in [RFC 8555 §6.3](https://tools.ietf.org/html/rfc8555#section-6.3) and would be affected by [an upcoming Let's

[2019-11-14 14:37] mattmoor opened #6032 "Upgrade to 1.16 client libraries"
## In what area(s)?

/area API
/kind process

## Describe the feature

This starts in knative/pkg, but opening this here to track.

[2019-11-14 14:38] mattmoor opened #6033 "Kubernetes 1.15 minimum version"
## In what area(s)?

/area API
/kind process

## Describe the feature

This happens in knative/pkg, but opening this here to track.

[2019-11-14 14:42] mattmoor opened #6034 "Implement conversion webhook support"
## In what area(s)?

/area API

## Describe the feature

This is blocked on https://github.com/knative/serving/issues/6033 (where these go Beta).  We already have `apis.Convertible` and a plan in place for this, we just need to implement it once we can.

This will have to be implemented in the shared webhook logic in knative/pkg, but serving will likely be the main/first proving ground that it wor

[2019-11-14 14:44] mattmoor opened #6035 "Convert the controllers for Knative's public API to use v1"
## In what area(s)?

/area API

## Describe the feature

Despite the v1 Serving API being available by default now we have decided to hold on making v1 the API we use for our controller processes until https://github.com/knative/serving/issues/6034 lands.  Once it has, we should migrate each of our Revision/Configuration/Route/Service controllers to use their v1 APIs.

[2019-11-14 21:58] ZhiminXiang commented on #4100
Thanks @cpu for sharing the information! I updated the description of this issue accordingly.

We are using cert-manager to interact with LetsEncrypt to get TLS certs. Looks like cert-manager already uses the "POST-as-GET" way to communicate with LetsEncrypt (https://github.com/jetstack/cert-manager/blob/a1fa913d4835497434e5905d20df1a15d7d4d9a6/third_party/crypto/acme/acme.go#L178).

@cpu @munnerz

[2019-11-14 22:19] vagababov commented on #5900
@markusthoemmes , can this be closed?

[2019-11-14 22:24] vagababov commented on #5828
Sorry, what is the state now?
You have lingering services remaining?

[2019-11-14 22:26] coryrc commented on #6006
Also move to e2e to address this comment: https://github.com/knative/serving/pull/6014#issuecomment-553714724

[2019-11-14 22:26] vagababov commented on #3977
/close

[2019-11-14 22:26] vagababov commented on #3591
/close

[2019-11-14 22:26] #3591 closed

[2019-11-14 22:28] vagababov commented on #3415
@markusthoemmes if you're not actively working on this one, I'd like to give this up for grabs as "good first issue"

/good-first-issue

[2019-11-14 22:29] vagababov commented on #3064
I think I heard (2) is ready now?

[2019-11-14 22:30] vagababov commented on #3134
@kevinswiber I presume you're no longer working on this?

[2019-11-14 22:55] coryrc commented on #6007
Will not be a conformance test, so I don't need this change any more.

[2019-11-14 22:55] #6007 closed

[2019-11-15 00:00] mattmoor opened #6037 "Move mutating and validating webhooks to separate paths."
## In what area(s)?

/area API
/kind cleanup

## Describe the feature

After 0.11 cuts, we should move the Validating and Mutating webhooks to use their own paths in serving, and cleanup the logic that allows it in knative/pkg.

See the TODOs in this PR: https://github.com/knative/serving/pull/5947 and this PR: https://github.com/knative/pkg/pull/848

[2019-11-15 00:03] mattmoor commented on #6037
/assign

[2019-11-15 01:38] nak3 opened #6039 "Update to Istio 1.4 and retire 1.2"
## In what area(s)?

/area networking
/area test-and-release

## Describe the feature

- As per title, this is a tracking ticket to update to Istio 1.4 and retire 1.2.
- Istio 1.4 was [released]( https://istio.io/news/2019/announcing-1.4/) and 1.2 [ends on December 13th/2019](https://istio.io/news/2019/announcing-1.2-eol/)

[2019-11-15 05:07] ryanbrainard commented on #810
🙋‍♂️I would like to request this!

We ran into an issue with integration testing where we purposely deploy a bad image and want to get back any errors as soon as possible rather than wait out the 120 seconds. While a cluster-wide config would probably be acceptable, it would be really nice to be scoped down to a given `Revision` or at least to a namespace or something. Even outside of the testing

[2019-11-15 07:00] markusthoemmes commented on #3415
/kind good-first-issue
/assign

[2019-11-15 07:00] markusthoemmes commented on #3415
/unassign

I meant 😂

[2019-11-15 07:01] markusthoemmes commented on #5900
Yes..we..can! The only stuff left is clean up of the deletion code and stuff. That's marked via TODOs, I think that's good enough.

/close

[2019-11-15 07:01] #5900 closed

[2019-11-15 09:11] morfies opened #6040 "how to set timezone for service container"
## In what area(s)?

/area API

## Ask your question here:
I found my ksvc container's timezone is not the same with my host vm. So I need to config the timezone of my ksvc, k8s has volumes to config this:
[code]
but how do I achieve this with knative?

[2019-11-15 12:02] knative-test-reporter-robot opened #6042 "[flaky] pkg/autoscaler.TestMultiScalerScaling"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/autoscaler.TestMultiScalerScaling
* **Repository name**: serving

[2019-11-15 12:02] knative-test-reporter-robot opened #6043 "[flaky] test/conformance/api/v1.TestRouteCreation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestRouteCreation
* **Repository name**: serving

[2019-11-15 12:02] #5335 closed

[2019-11-15 12:02] knative-test-reporter-robot opened #6044 "[flaky] test/upgrade.TestRunLatestServicePreUpgradeAndScaleToZero"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestRunLatestServicePreUpgradeAndScaleToZero
* **Repository name**: serving

[2019-11-15 12:02] #4983 closed

[2019-11-15 13:08] tshak commented on #5946
I'm curious about who the customer here is. If e2e network security is important I would guess that customers use one of: Istio with mTLS enabled, an overlay network w/e2e encryption, or even IPSec. In the case where a customer is not using Istio w/mTLS, it would seem to me that the best path  for the customer is to enable mTLS. My initial reaction is that this functionality should not be reinvent

[2019-11-15 13:52] cpu commented on #4100
@ZhiminXiang The specific line of code you linked to here isn't a POST-as-GET request (it's a more standard POST to create an order) but it looks like there are POST-as-GET requests being made to poll the order. The `nil` body parameter gives it away: https://github.com/jetstack/cert-manager/blob/a1fa913d4835497434e5905d20df1a15d7d4d9a6/third_party/crypto/acme/acme.go#L262

I don't believe cert-ma

[2019-11-15 14:41] mattmoor commented on #810
cc @dgerd

[2019-11-15 18:04] vagababov commented on #5981
Can I recommend: https://github.com/knative/serving/issues/3415 instead?

[2019-11-15 22:41] airwavetechio-gh commented on #5809
Here's what I changed to make it work, but I'm not 100% sure it's right. Everything seemed to deploy okay.

[code]

[2019-11-16 06:03] arthurtsang commented on #5809
@airwavetechio-gh you're 7hrs before me!  `v0.10.0` somehow missed one `DaemonSet` (`node-exporter`) which is still using `extensions/v1beta1` and missing the `selector`

[2019-11-16 12:02] knative-test-reporter-robot opened #6049 "[flaky] pkg/activator/net.TestThrottlerSuccesses/spread_podIP_load"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestThrottlerSuccesses/spread_podIP_load
* **Repository name**: serving

[2019-11-16 12:02] knative-test-reporter-robot opened #6050 "[flaky] pkg/activator/net.TestThrottlerSuccesses"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestThrottlerSuccesses
* **Repository name**: serving

[2019-11-16 12:02] knative-test-reporter-robot opened #6051 "[flaky] test/e2e.TestMinScale"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestMinScale
* **Repository name**: serving

[2019-11-16 12:02] nak3 commented on #6039
Istio 1.4 introduced [Regex EngineChanges](https://istio.io/news/2019/announcing-1.4/upgrade-notes/#regex-engine-changes) so most of E2E tests fail due to exceed the size of regex bytes in VirtualService.

e.g:
[code]

Then, we will get an error.
`{"level":"error","ts":"2019-11-16T08:13:54.839Z","logger":"istiocontroller.ingress-controller","caller":"controller/controller.go:368","msg":"Reconcile

[2019-11-17 12:02] knative-test-reporter-robot opened #6052 "[flaky] test/conformance/api/v1alpha1.TestRouteCreation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestRouteCreation
* **Repository name**: serving

[2019-11-17 12:02] knative-test-reporter-robot opened #6053 "[flaky] test/conformance/api/v1beta1.TestRouteCreation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestRouteCreation
* **Repository name**: serving

[2019-11-17 17:27] jamesward opened #6054 "Old Revisions Not Always Going Away"
## In what area(s)?
/area autoscale

## What version of Knative?
0.10.x

## Expected Behavior
Setting minScale to 0 should remove the older deployments that were scaled up.

## Actual Behavior
Old deployments are sticking around

## Steps to Reproduce the Problem
Apply:
[code]

Check that there are 5 pods:
[code]

Change the `minScale` to `0` and apply:
[code]

You'll see some of the pods for the

[2019-11-17 17:34] vagababov commented on #6054
Could you provide more logs from `kubectl logs -n knative-service deployment/autoscaler`? Or directly from the autoscaler pod (name will vary `autoscaler-`).
/cc @tanzeeb

[2019-11-18 01:59] nak3 opened #6058 "VirtualService fails to create due to Istio 1.4's regex engine check if ksvc has a little longer domain"
## In what area(s)?

/area networking
/area test-and-release
/kind spec

## What version of Knative?

Istio __1.4.x__ or later.

## Actual Behavior

As I mentioned https://github.com/knative/serving/issues/6039#issuecomment-554630836, Istio 1.4 introduced [Regex EngineChanges](https://istio.io/news/releases/1.4.x/announcing-1.4/upgrade-notes/#regex-engine-changes) / https://github.com/istio/istio/

[2019-11-18 01:59] nak3 commented on #6039
I've opened https://github.com/knative/serving/issues/6058 for regex size issue.

[2019-11-18 02:09] nak3 commented on #6058
It looks like we have a few options.

A. Modify [`ObjectNameForTest()`](https://github.com/knative/serving/blob/e552aaa9d7142a242b83ff4729a7157730262e92/vendor/knative.dev/pkg/test/helpers/name.go#L49-L52) to create shorter ksvc name for tests.
B. Use `PILOT_ENABLE_UNSAFE_REGEX=true` for Istio Pilot.

I am thinking that we need optionA rather than B, but is there any other idea?

cc @tcnghia @matt

[2019-11-18 06:09] vagababov commented on #6058
Also we can use pkg/kmeta/ChildName.
I wonder how does that surface in the ksvc/revision status? I.e. if users
actually use this long names, how can they understand that this _is_ the
cause?

On Sun, Nov 17, 2019 at 6:09 PM Kenjiro Nakayama <notifications@github.com>
wrote:

[2019-11-18 06:18] nak3 commented on #6058
Oh, I see. Thank you.

For now, users can notice it by Ingress's status field (if https://github.com/knative/serving/pull/6048 is merged) and event log (current event log is already reveals this error).

c.f. ingress's status field by adding https://github.com/knative/serving/pull/6048.
[code]

[2019-11-18 06:57] qibobo opened #6059 "Is it possible to start the application with 0 instance?"
## In what area(s)?

## Ask your question here:
I want to create an app with init running pod number 0. And when the app is requested, it will be scaled to 1 or more instance.
Not sure whether this feature is supported now?

[2019-11-18 07:07] markusthoemmes commented on #6059
See a lot more discussion about this in #4098.

Gonna close this as a duplicate.
/close

[2019-11-18 07:07] #6059 closed

[2019-11-18 08:57] oreasono commented on #5245
Hi, @vagababov , we migrated to knative 0.9.0 last month and cannot reproduce this issue anymore.

[2019-11-18 11:22] navidshaikh opened #6060 "Condition ConfigurationsReady is True but LCR != LRR"
## In what area(s)?

/area API

## What version of Knative?
nightly build - Nov 18
from: https://storage.googleapis.com/knative-nightly/serving/latest/serving.yaml

## Expected Behavior
LCR = latestCreatedRevision
LRR = latestReadyRevision

After service update, when service's all 3 conditions reporting `True`, expected LCR = LRR.

## Actual Behavior
After service update, when service reported sta

[2019-11-18 11:31] navidshaikh commented on #6060
This is seen like 2 out of 5 times when the mentioned test script is ran. In client we're getting e2e tests failure against serving nightly job specifically in traffic splitting e2e tests where multiple service create/update operations are performed (https://github.com/knative/client/issues/500). CI jobs against serving v0.10.0 or prior run fine.

[2019-11-18 12:01] edvinerikson commented on #3492
I would like to try to address this. I do not have any experience with go programming or knative codebase.. so be a little patient though. 😄

@mattmoor a default block sounds like a safe way to be consistent, but might get a bit repetitive if the default and example blocks are identical.

What about putting any non-default example config values in a comment block?

[2019-11-18 16:05] vagababov commented on #5245
Awesome
/close

[2019-11-18 16:05] #5245 closed

[2019-11-18 18:27] anniefu commented on #5777
This Issue would have been more appropriate to open on knative/pkg repo. The work to enable this in config-observability is complete on the knative/pkg side.

There is still some work for knative/serving to use the new knative/pkg config-observability fields, but that set of work is better separated as a different Issue.

I'm updating the description of this Issue to reflect that and closing this

[2019-11-18 19:47] chizhg commented on #5971
All relevant PRs has been merged.

/close

[2019-11-19 00:08] itsmurugappan commented on #5918
Cc @tcnghia

[2019-11-19 01:18] tcnghia commented on #5918
I think we can make the prober uses a more specific path to make it easier for operators to whitelist.

[2019-11-19 10:34] nak3 commented on #6054
Since you are using `hpa.autoscaling.knative.dev`, it would be worth to check hpa status in addition to looking into autosca-{`*`,`hpa-*`} logs. You can verify your HPA object by:

[code]
Perhaps, you should check `TARGET` is not `<unknown>`, there are no event error in `describe hpa` and so on. If `hpa` object had an issue, it is not Knative's issue but your cluster(k8s)'s.

[2019-11-19 10:57] nak3 commented on #6040
Using `hostPath` would not be good solution as discused in other tickets like https://github.com/knative/serving/issues/4579#issuecomment-507420228. So, Knative does not officially support it afaik.
Generally it should be possible to change container's Timezone by using env value in `spec.template.spec.containers.env` like:

[code]

It does not meet your requirement? (You need to manually set same

[2019-11-19 23:42] garron commented on #5866
Should these secrets apply to the queue proxy as well, which is part of the same pod? Or is there a separate mechanism that would be used for that?

I'm actually looking into a related issue (https://github.com/knative/serving-operator/issues/221) in the operator around getting the queue proxy to use imagePullSecrets, which was missed when I previously added support for imagePullSecrets for the ot

[2019-11-20 00:53] nak3 commented on #5890
FYI, recently this issue does not happen so frequently on https://testgrid.knative.dev/serving#istio-1.3-mesh around commit c64bbbcf3 .

[2019-11-20 02:25] daisy-ycguo commented on #6005
I have a similar issue. Not sure if it is caused by the upgrade to the latest version of Knative. The creation of service got stuck because `"Error creating image cache \"contract-rbrlc-cache\": images.caching.internal.knative.dev \"contract-rbrlc-cache\" already exists""`

[code]

[2019-11-20 04:44] nak3 commented on #6058
One note, this error does not happen with istio-learn for now. https://github.com/istio/istio/pull/18539 implements for Galley validation so following setting is needed:

(e.g) 1.3.3 does not have the validation, but just as a config sample.
https://github.com/knative/serving/blob/6c8bbf02e13576014fd4527a0c31c374a94d3fba/third_party/istio-1.3.3/istio.yaml#L196

[2019-11-20 06:34] richard2006 commented on #5964
@savitaashture You can change the traffic, but indeed it doesn't work.  And in the serving controller, it show the problem
[code]

[2019-11-20 06:53] vagababov commented on #5964
so there's the error
[code]
I am not sure why is it internal error, but don't really see other problems?

[2019-11-20 14:46] savitaashture commented on #5964
@richard2006
RCA:
When we create a service the spec will have both configuration and routes(traffic) so when do update operation by just changing one among configuration or route(traffic) part leads to validation issue.
So validation for **Configuration** and **Routes** should happen only when their **ownerReference** are nil

PR: https://github.com/knative/serving/pull/6072

[2019-11-20 15:28] themoah opened #6073 "Fail to install monitoring (v0.10.0) on DO k8s."
/area monitoring

## What version of Knative?

## Expected Behavior

I'm installing knative runtime on k8s cluster on DO.
K server version - 1.16.2
(expecting for successful installation)

## Actual Behavior

`error: unable to recognize "monitoring.yaml": no matches for kind "DaemonSet" in version "extensions/v1beta1"`

## Steps to Reproduce the Problem

following step-by-step this - https://knati

[2019-11-20 15:44] mattmoor commented on #5866
No, I don't believe so.  Also, it will also be challenging to use a single secret here because secret references are intra-namespace, so you need to copy the shared secret into every namespace with a Revision.

[2019-11-20 17:29] tshak opened #6074 "Unable to set EnableServiceLinks in PodSpec"
/area API

## What version of Knative?

0.0.10

## Expected Behavior

Ability to disable service links by setting PodSpec.EnableServiceLinks to `false`.

## Actual Behavior

`kubectl apply` fails with:

```admission webhook "webhook.serving.knative.dev" denied the request: mutation failed: must not set the field(s): spec.template.spec.enableServiceLinks```

## Steps to Reproduce the Problem

1) Cr

[2019-11-20 18:01] markusthoemmes commented on #6074
We whitelist PodSpec values rather than blacklist them, so I assume this hasn't been considered yet. It does sound harmless to add though I'd say.

/cc @dgerd

[2019-11-20 19:52] garron opened #6075 "Support imagePullSecrets for the queue proxy"
## In what area(s)?

/area API
/kind proposal

## Describe the feature

The serving operator currently provides support for runtime overrides to the container registry that is used by the knative-serving `Deployment` and `Image` objects. Along with this support is the ability to specify imagePullSecrets for those objects so that the images can be pulled from a private registry.

However, the opera

[2019-11-20 21:54] dgerd opened #6077 "BYO Revision name upgrade test"
## In what area(s)?

/area API

## Describe the feature
Create an upgrade test case to catch potential problems with upgrades and BYO Revision.

Test case example:
1. Create BYO Revision name ksvc in Knative 0.x
2. Upgrade to Knative 0.y
3. Attempt to update "traffic" in the ksvc
4. The attempt should succeed.

If the attempt does not succeed it means that we likely added defaulting to a new field

[2019-11-21 01:38] stephenhandley commented on #6073
I think there's some related discussion here: https://github.com/knative/serving/issues/5809

[2019-11-21 08:54] sirius1024 commented on #6024
I've already found those documents. So this issue will be closed manually:

https://github.com/knative/docs/blob/master/docs/install/Knative-custom-install.md
https://github.com/knative/serving/tree/master/third_party

[2019-11-21 08:54] #6024 closed

[2019-11-21 17:47] ratamovic opened #6080 "Activator throttler errors"
## In what area(s)?

## What version of Knative?

## Expected Behavior

I'm setting up a simple Knative Eventing pipeline (with a container source -> broker -> trigger -> sequence (1 service)).  Events should flow through the pipeline without any issues from the source to the services in the sequence.

## Actual Behavior

Everything works at first: an event sent from the source is handled correctl

[2019-11-21 18:20] vagababov commented on #6080
That's quite interesting. I wonder if we're leaking some tokens, but your concurrency is infinite, so it shouldn't matter really either. Would it be possible to try from HEAD to see if that's fixed there, since we did some improvements since .10.

[2019-11-21 18:21] vagababov commented on #6080
So looking at the logs: `"Set capacity to 0` means the activator no longer sees any pods. I wonder if there's a problem of sorts in the lister/informer?

[2019-11-22 05:52] yuzisun opened #6081 "Autoscaler fails to pull metrics from queue proxy when istio rbac turned on"
## In what area(s)?

## What version of Knative?
knative 0.9
istio 1.1.7

## Expected Behavior
Autoscaler should be able to pull metrics when user revision pods are injected with istio sidecar with istio rbac rule turned on.

## Actual Behavior
Pods are not scaled down to zero and autoscaler gives error not able to pull metrics. When I exclude the namespace in cluster rbac config it then starts to

[2019-11-22 12:01] knative-test-reporter-robot opened #6083 "[flaky] pkg/activator/net.TestRevisionBackendManagerAddEndpoint/slow_podIP"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestRevisionBackendManagerAddEndpoint/slow_podIP
* **Repository name**: serving

[2019-11-22 12:01] knative-test-reporter-robot opened #6084 "[flaky] pkg/activator/net.TestRevisionBackendManagerAddEndpoint"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestRevisionBackendManagerAddEndpoint
* **Repository name**: serving

[2019-11-22 12:33] ratamovic commented on #6080
I have tried to deploy a github version of KNative using `ko` but failed miserably (with a `standard_init_linux.go:211: exec user process caused "no such file or directory"` generated by all my knative pods, like if ko built images are not properly generated) despite following the whole DEVELOPMENT doc...
Are there maybe any premade HEAD yaml I could directly test?

[2019-11-22 13:00] Fabian-K opened #6085 "Hello-World Service stuck with RevisionMissing"
Hi,

I´m trying to setup a simple hello-world service. Here are some cornerstones
- local cluster using KinD
- istio via istio-operator (default profile)
- knative-serving v0.10.0 via serving-operator

[code]

All pods (istio, knative,service) are up and running
[code]

Here is a list of the Knative Entities:
[code]

And finally the log of the knative-serving controller
[code]

Thanks in advance!

[2019-11-22 14:11] vincent-pli commented on #6085
Could you get the status of `PodAutoscaler`

[2019-11-22 14:17] vincent-pli commented on #6080
@ratamovic  seems this issue is similar to yours:
https://stackoverflow.com/questions/57366007/standard-init-linux-go211-exec-user-process-caused-no-such-file-or-directory

[2019-11-22 14:40] Fabian-K commented on #6085
I don´t see anything special with the PodAutoscaler. Also the referenced deployment looks fine (1 up-to-date and available)
[code]

However I noticed that the Configuration has a Warning Event
[code]

[2019-11-22 14:46] ratamovic commented on #6080
I think it's the same symptom but not the same reason since there is no bash embedded. And when I try to run manually the generated exe inside the image it starts (though failing right after with `kubeconfig:could not create a valid kubeconfig` because I don't run it inside a kubernetes environment I guess)

[2019-11-22 15:17] vincent-pli commented on #6085
There is no `Condition` in your `PodAutoscaler `?

[2019-11-22 15:26] Fabian-K commented on #6085
No, that was the full output of `kubectl describe`

[2019-11-22 18:25] vagababov commented on #6085
Can you actually get the `kubectl get revision event-display-b776p -oyaml`?

[2019-11-22 18:33] vagababov commented on #6080
We're using `ko apply -f`. I am not sure in which env are you running, but I'd guess `ko` should still work.
But my guess is that informer is losing the pod at some point, since it basically sent you the message that there was 1 pod and now there's 0.

[2019-11-22 18:57] Fabian-K commented on #6085
Sure. This is a different id as it was only a temporary cluster, but it was setup with the same config.
[code]
Quite surprised to see ContainerMissing and unable to pull image as this is a public registry and the actual deployment is up and running:
[code]

[2019-11-22 19:13] vagababov commented on #6085
Well, so your SA seems to be setup incorrectly. But this is outside of knative :)

[2019-11-22 21:23] vagababov commented on #6081
1. istio rbac seems to be deprecated.
2. what happens if to your role binding you add
[code]

[2019-11-23 09:43] #6020 closed

[2019-11-23 12:01] #6050 closed

[2019-11-23 12:01] #6049 closed

[2019-11-24 00:13] ZhiminXiang commented on #6058
This option seems like hiding the real issue in our E2E tests as users could create ksvc with long name.

[2019-11-24 04:23] nak3 commented on #6058
@ZhiminXiang Thanks. Yes, I realized that it is not good option and so filed https://github.com/knative/serving/pull/6088 to use prefix instead of regex. (prefix does not have the limit.)

[2019-11-25 10:40] Fabian-K commented on #6085
Thanks for looking into this! Unfortunately, I don´t understand the error message. The first part `Unable to fetch image` is strange as it is a public image and the second part refers to the sa `knative-serving:controller` which looks like its not outside knative.

Other than that, I was not able to reproduce this error message anymore. I destroyed and created the cluster a few times and it always

[2019-11-25 11:00] ratamovic commented on #6080
I'm doing a `ko apply -f config/` on a GKE cluster (created the same way as in my gist https://gist.github.com/ratamovic/44f3aee5b6e91882071b6d2822686e72#file-failure-setup-sh). Anyway, I've overriden ko defaultBaseImage with ubuntu instead and it seems to work. I'll check if the throttler works better that way.

[2019-11-25 12:02] #5872 closed

[2019-11-25 12:02] #6044 closed

[2019-11-25 12:02] knative-test-reporter-robot opened #6092 "[flaky] pkg/activator/net.TestRevisionBackendManagerAddEndpoint/add_slow_ready_http2"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestRevisionBackendManagerAddEndpoint/add_slow_ready_http2
* **Repository name**: serving

[2019-11-25 13:46] taragu commented on #6060
/assign

[2019-11-25 17:58] duglin commented on #6058
should using
- - -
B. Use PILOT_ENABLE_UNSAFE_REGEX=true for Istio Pilot.
- - -
work around it? It doesn't seem to work for me

[2019-11-25 18:35] vagababov commented on #6085
Those errors are fine. That's eventual consistency races.
But your error is your kubernetes cluster setup, not really related to the knative.

[2019-11-25 18:36] dgerd commented on #6005
/assign @dgerd

[2019-11-25 19:27] #6058 closed

[2019-11-25 19:30] dgerd commented on #3492
No problem. Happy to have the help!

I agree that having both an _examples and _default block would be duplicative and likely more confusing than helpful. It might be worth exploring how many and which values are currently not defaults before deciding on a strategy here. I am not sure off the top of my head the answer here.

[2019-11-25 21:54] #5949 closed

[2019-11-25 22:25] tcnghia commented on #5890
Yes, I am also curious to see what happened that brought some relief for the tests.

[2019-11-25 22:40] nak3 commented on #6058
@duglin Hmm... If it does not work, I think that it is an Istio's bug. The config is mentioned in the Istio's release note.

https://istio.io/news/releases/1.4.x/announcing-1.4/upgrade-notes/#regex-engine-changes

Anyway, https://github.com/knative/serving/pull/6088 is merged so Knative does not need it.

[2019-11-25 23:06] tcnghia commented on #5894
While I agree on the spirit, Helm installation requires quite some steps, unless we are willing to download and run a shell script.  After that, users will still need to download and unpack the Helm charts.

What do you think about including both the Helm-generated template as well as the Helm command to run?

[2019-11-25 23:07] tcnghia commented on #5734
@jamesward can you please paste the output of the VirtualService?  thanks

[2019-11-25 23:40] dgerd commented on #5894
@tcnghia I think that is a fair compromise so long as it is an option for both DEVELOPMENT.md as well as https://knative.dev/docs/install/installing-istio/

[2019-11-26 01:07] duglin commented on #6058
I'll try it again.  Was just hoping it would work then I could apply that patch to our v0.10 stuff :-(

[2019-11-26 02:48] nak3 commented on #6058
I am feeling that Istio needs https://github.com/istio/istio/pull/19089/files (it is NOT included in Istio 1.4 branch?!) But anyway, it would be an Istio topic rather than Knative.

[2019-11-26 05:27] coryrc commented on #3892
Will do this by adding a new optional Flag on the command line.

[2019-11-26 05:27] coryrc commented on #3892
2 flags, actually, to support the alt namespace as well.

[2019-11-26 07:36] nak3 opened #6100 "Use istioctl instead of Helm to install Istio"
## In what area(s)?

/area networking
/area test-and-release
/kind proposal

## Describe the feature

Helm installation approach will be deprecated in the future. Please see https://istio.io/docs/setup/install/helm/
So, istioctl should be used for the script for e2e setup.

[2019-11-26 12:11] xphoniex opened #6101 "How to use locally built docker image?"
## In what area(s)?

## Ask your question here:

I have built a simple docker image for a node app that serves a `hello world` on port 8080, if I `minikube ssh` and run `docker images` I can see my image under `minikube-test`.

I can deploy my service normally in minikube like this (and it works):
[code]
However I'm getting revision error when deploying it to knative and some investigation shows i

[2019-11-26 13:37] duglin commented on #6058
I'm guessing that PR isn't part of Istio 1.4
Bummer

[2019-11-26 16:41] edvinerikson commented on #3492
Alright! I'll try to find the differences and document them here so that we can take a more educated decision. 👍🏼🙂

[2019-11-26 18:28] vagababov commented on #3886
@nimakaviani , can you please fill out the template: https://docs.google.com/document/d/1s6IIU98bi5FlRNmmBaLAn1rgoleK_ovcL746L7NHq0c/edit
and put it into the `Scaling/Feature Tracks` directory on the shared drive?

[2019-11-26 18:32] dgerd commented on #3492
Thanks! Feel free to reach out if you have any questions or need help!

[2019-11-26 20:27] #5936 closed

[2019-11-26 20:27] #5969 closed

[2019-11-26 22:15] Utwo commented on #3587
Any news on this? Can I deploy knative on a preemption enabled node pool?

[2019-11-26 22:53] yuzisun commented on #6081
tried the above and it did not work out.

[2019-11-27 01:18] richard2006 commented on #5964
@savitaashture Good. Tks

[2019-11-27 01:54] ksauce commented on #5126
Still issue for me on v0.10.0.   I am using a private container registry in Azure.  Running Knative with AKS.  Tried to put the name of my registry to skip tagging but continue to get the 401 error from the revision controller.

  # List of repositories for which tag to digest resolving should be skipped
    registriesSkippingTagResolving: "ko.local,dev.local,xxxxxxx.azurecr.io"

The AKS uses the

[2019-11-27 04:35] coryrc opened #6109 "Generic way to define parameters to e2e tests"
## In what area(s)?

/area test-and-release

## Describe the feature

We have a parameters that are normally a constant, but need to be modified in certain environments. Usually this involves just patching a file and running, but a better way would be nice. This could be done by adding separate flags for each or having a JSON config that gets parsed.

I actually think separate flags is best if we

[2019-11-27 04:37] coryrc commented on #6043
I've seen this in my own testing. There's something not right, probably about how long it's supposed to wait for traffic to be going to the new revision.

[2019-11-27 05:28] #6060 closed

[2019-11-27 12:02] #6051 closed

[2019-11-27 16:21] #6039 closed

[2019-11-27 19:31] chizhg opened #6112 "Fix the control plane performance test benchmark"
## In what area(s)?

## Describe the feature
There is a performance test benchmark for control plane in https://github.com/knative/serving/tree/master/test/performance/benchmarks/deployment-probe, but it's broken and fails every Analyzer on Mako, see https://mako.dev/benchmark?benchmark_key=5143375149793280&tseconds=604800.

We need to fix it, by either improve the efficiency for control plane, or

[2019-11-27 19:57] ksauce opened #6114 "Unable to fetch image from Private Registry"
## What version of Knative?

10.0

Using AKS+Istio+Knative 10.0.  Private registry on Azure.  AKS has Service Account and given access to the container registry

## Expected Behavior

deploy from a private registry in Azure

## Actual Behavior

status:
  conditions:
  - lastTransitionTime: "2019-11-27T19:41:08Z"
    message: 'Unable to fetch image "xxxxxxx.azurecr.io/xxxx:1.0":
      unsupported s

[2019-11-27 20:06] chaodaiG opened #6127 "Investigate unit test flakiness in serving"
Recently there are multiple occurrence of unit test flakiness happening in serving repo, and the tests showed up as being flaky are not always the same. This possibly is due to test resources problem, i.e. competing cpu resources among pods caused some jobs getting low cpu allocated and caused test timed out.
Need to do a through investigation and figure out how to properly fix it if it's the case

[2019-11-27 20:38] #5964 closed

[2019-11-27 21:46] dgerd commented on #3587
So there are 3 fields here on the PodSpec and I want to make sure we are capturing the correct ask. There is:

* preemptionPolicy
* priority
* priorityClassName

@yuzisun Seems to be looking for `priorityClassName`. Correct?
@Utwo Is this what you are looking for as well, or are you looking for `preemptionPolicy`?

These fields don't really hurt the scale-to-zero serverless aspect of Knative Servi

[2019-11-27 23:58] chizhg commented on #6112
/area remove

[2019-11-27 23:59] chizhg commented on #6112
/remove-area feature

[2019-11-28 00:00] chizhg commented on #6112
/remove-kind feature

[2019-11-28 00:00] chizhg commented on #6112
/kind test-and-release

[2019-11-28 00:00] chizhg commented on #6112
/area test-and-release

[2019-11-28 09:19] ratamovic commented on #6080
@vagababov I'll keep it for surveillance for a few days more but it seems to work better for now.

[2019-11-28 12:01] knative-test-reporter-robot opened #6115 "[flaky] test/upgrade.TestProbe"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestProbe
* **Repository name**: serving

[2019-11-28 16:12] Fabian-K commented on #6085
I think that this is caused by the serving-operator https://github.com/knative/serving-operator/issues/226

[2019-11-28 16:53] xphoniex commented on #6101
anyone?

[2019-11-28 23:23] xpepermint opened #6117 "Unable to configure custom comain with Istio"
I use `k8s 1.14.8-gke.17` with `Istio` enabled and `knative 0.10`.  I need to configure a custom domain `foo.domain.com` (public DNS) that points to `fn0.default.svc.cluster.local`. I try to do this by applying a [VirtualService](https://github.com/knative/docs/tree/master/docs/serving/samples/knative-routing-go) like this:

[code]

I configure DNS `A` record `*.default.domain.com` that points to

[2019-11-28 23:57] xpepermint commented on #6117
Ah, damn. The `rewrite.authority` must be the public domain.

[2019-11-28 23:57] #6117 closed

[2019-11-29 04:02] zops opened #6118 "knative supports istio versions"
## Description

[2019-11-29 11:35] ratamovic commented on #6080
@vagababov The exact same issue came back again this morning. I didn't touch anything for a day: yesterday it was working, today it's not anymore (my source get errors when sending an event to the broker, with serving activator complaining about the throttler).

Here is the log (hope it's not too much, I can move it somewhere else if needed). Last successfully sent message was at `2019-11-28 09:15

[2019-11-29 20:27] vagababov commented on #6118
Yes the documentation needs to be updated.

[2019-11-29 20:29] vagababov commented on #6080
I am actually interested if there's more information _right_ above the first line.
How long did it take to happen? I'll try to set it up on my cluster and instrument with logs to see why/when the pod is lost.

[2019-11-30 14:53] mattmoor commented on #5845
This has been addressed in 0.11, the lifecycle of these resources is now outside the scope of the webhook's responsibilities and the OwnerReferences are removed.  It is also all now reconciler-based, so changes should be corrected immediately.

[2019-11-30 14:53] #5845 closed

[2019-11-30 14:57] mattmoor commented on #4610
I think that we should wait for this to become an issue before doing more work here.  There are a variety of ways that we already depend on the availability of webhooks, and that generally hasn't been problematic.

[2019-11-30 14:59] mattmoor commented on #5040
@dgerd @vagababov @tcnghia Any updates on this?  I'm skeptical anything will land in 0.11, but will it get scheduled in 0.12?  I think that at a minimum we should document the steps we are taking to provision clusters for our performance scenarios (cc @chizhg )

[2019-11-30 15:00] mattmoor commented on #5103
Same sentiment as the above comment.

[2019-12-01 08:09] nak3 commented on #6100
This is currently blocked by https://github.com/istio/istio/issues/19263

As istioctl installation does not support additional ingress gateway, we cannot create `cluster-local-gateway`.

[2019-12-02 06:18] yolocs opened #6122 "Does ksvc work with Istio authorization?"
## In what area(s)?

/area networking

## Ask your question here:

## In what area(s)?

/area networking

## Ask your question here:

I was trying out ksvc with Istio [authorization](https://archive.istio.io/v1.3/docs/tasks/security/authz-http/) but it doesn't seem to work. Here is what I did.

I created a GKE cluster with Istio addon enabled in premissive mode. Because I only wanted to do in-clus

[2019-12-02 09:42] ratamovic commented on #6080
Sure. Here is the rest of the log before:
[code]

[2019-12-02 14:40] balakrishna222111 opened #6125 "Knative ingress is not working"
My Ingress is follows

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: test-ingress
  namespace: istio-system
spec:
  rules:
  - host: test-api.kube-system.mydomain.io
    http:
      paths:
      - path: /api
        backend:
          serviceName: istio-ingressgateway
          servicePort: 80

When i send a request from postman im getting 404 (Not found)
![image](https://user-ima

[2019-12-02 17:36] JRBANCEL commented on #6125
`extensions/v1beta1` `Ingress` is not Knative ingress CRD.
`networking.internal.knative.dev/v1*` `Ingress` is.
This is not the right project to ask about this issue.

[2019-12-02 19:17] adrcunha commented on #6127
The description sounds like a too long shot, specially for unit tests. Better rule out serving-specific issues before digging into resource allocation on Prow.

[2019-12-02 20:09] #6118 closed

[2019-12-02 21:52] garron opened #6129 "Pod count metrics continue to be reported for revisions that don't exist"
## In what area(s)?

/area autoscale
/area monitoring

## What version of Knative?

- Latest master as of 12/02/19
- 0.9

v0.10.0-117-g22d1b0629

## Expected Behavior

Metrics for pod counts by revision accurately reflect what I see from "kubectl get revisions" / "kubectl get pods".

## Actual Behavior

I see pod counts for revisions which are no longer reported by "kubectl get revisions" and aren

[2019-12-02 22:08] dgerd commented on #5076
As part of #4937 I took a look at our current reconciler loops and put together a few state machines to help visualize the potential condition sets you can end up with. A few thoughts about them:

1. We should not have Terminal states that exit without updating status. These are all opportunities to provide additional information/context back to the client and I can't think of a reason why we woul

[2019-12-02 22:22] ahmetb opened #6130 "Cannot edit Service spec.traffic without specifying tags"
/area API
/kind bug
serving v0.9.0-gke.4

I am trying to split traffic by doing `kubectl edit ksvc my-service`.

My spec.traffic has this:

![image](https://user-images.githubusercontent.com/159209/70000017-e55ca180-150e-11ea-8d0b-1ed261874e37.png)

I am trying to split like this:

![image](https://user-images.githubusercontent.com/159209/70000037-f3122700-150e-11ea-8799-f8ff49cc91b6.png)

When I

[2019-12-02 22:35] ksauce commented on #6114
I got the skip registries working.  However I would like to find out how to correctly provide the Knative controller access to the Azure Container Registry.

data:
  queueSidecarImage: gcr.io/knative-releases/knative.dev/serving/cmd/queue@sha256:5ff357b66622c98f24c56bba0a866be5e097306b83c5e6c41c28b6e87ec64c7c
  registriesSkippingTagResolving: ko.local,dev.local,xxxx.azurecr.io

[2019-12-02 23:03] dgerd commented on #6130
This is a bug in the v1 API that has been fixed in 0.10. As a workaround you can use the v1beta or v1alpha1 endpoint for requests.

[2019-12-02 23:03] ahmetb commented on #6130
/close

[2019-12-02 23:03] #6130 closed

[2019-12-02 23:03] dgerd commented on #6130
https://github.com/knative/serving/pull/5583 for cross-reference

[2019-12-03 05:59] vagababov opened #6133 "[Selective Pod Destruction] Design Document."
This issue tracks the design document

## In what area(s)?

/area autoscale
/kind spec
/kind proposal

## Describe the feature

This the tracking issue for the design document for the Selective Pod Destruction.
The current document is here: https://docs.google.com/document/d/1aF9gJ46mG_nDdC7eYxlOkhaBM2qHUJdzQ8Oyu7ucmN0/edit#heading=h.gioh0csabrvb

Once done the parent issue #3886 has to be updated

[2019-12-03 06:00] vagababov opened #6134 "[Selective Pod Destruction] Implementation"
## In what area(s)?

/area autoscale

## Describe the feature

The tracking issue for the selective pod destruction #3886 implementation work.
When done the parent issue should be updated
/assign @nimakaviani

[2019-12-03 06:02] vagababov opened #6135 "[Selective Pod Destruction] Documentation"
## In what area(s)?

 /area autoscale

## Describe the feature

This is a tracking issue to update the autoscaling related documentation for the Selective Pod Destruction feature (#3866).
This is probably to update internal implementation only.

/assign @nimakaviani

[2019-12-03 06:02] vagababov commented on #3886
Since this is a meta issue, I am going to farm some issues out of it and keep this as the parent one and will add this checklist here, so we can check items as we go.
This will help us to track the feature in the project: https://github.com/knative/serving/projects/31

- [X] Proposal to WG
- [X] Project Approved
- [ ] Design Doc Reviewed/Approved #6133
- [ ] Implementation #6134
- [ ] UX Changes (

[2019-12-03 18:46] vagababov commented on #6135
/assign @nimakaviani

[2019-12-03 18:46] vagababov commented on #6134
/assign @nimakaviani

[2019-12-03 18:46] vagababov commented on #6133
/assign @nimakaviani

[2019-12-03 18:59] tcnghia commented on #6100
@nak3 would the workaround in https://github.com/istio/istio/issues/19263#issuecomment-561274031 help us?

If it's too much work I think we may be better off just waiting for 1.5 and not bother changing things twice.

[2019-12-03 19:05] vagababov commented on #6080
I am running the approximate setup on my cluster. So far it works, been ~15 hours though.

[2019-12-03 19:43] chizhg commented on #6112
/cc @dgerd

[2019-12-03 20:09] chizhg commented on #5040
I can work on the documentation related to the existing performance benchmarks.
Do you have a commendation for where we should put the document?

[2019-12-03 20:23] ksauce commented on #6054
I see this as well.   I have a service that I have not set the min scale but it still scales up.  I have updated the traffic to a new revision but the old deployment and pod is still running

  annotations:
            # Standard Kubernetes CPU-based autoscaling.
           autoscaling.knative.dev/class: hpa.autoscaling.knative.dev
           autoscaling.knative.dev/metric: cpu
           # Target

[2019-12-03 20:24] ksauce commented on #6054
I see this as well. I have a service that I have not set the min scale but it still scales up. I have updated the traffic to a new revision but the old deployment and pod is still running

annotations:
# Standard Kubernetes CPU-based autoscaling.
autoscaling.knative.dev/class: hpa.autoscaling.knative.dev
autoscaling.knative.dev/metric: cpu
# Target CPU per pod.
autoscaling.knative.dev/target: "20"

[2019-12-03 20:25] ksauce commented on #6054
I see this as well. I have a service that I have not set the min scale but it still scales up. I have updated the traffic to a new revision but the old deployment and pod is still running

annotations:
  # Standard Kubernetes CPU-based autoscaling.
autoscaling.knative.dev/class: hpa.autoscaling.knative.dev
autoscaling.knative.dev/metric: cpu
  # Target CPU per pod.
autoscaling.knative.dev/target:

[2019-12-03 20:37] hotjunfeng opened #6140 "How to print the value of a variable easily for debugging?"
## In what area(s)?

/area monitoring

## Ask your question here:
Hi everyone, how to print the value of a variable easily for debugging?
I used the "fmt.Printf" to print out a value to STDOUT, but I could not find this output from the container logs by using "kubectl logs". Could you please give me the reason and some possible solutions? Thank you so much.

[2019-12-03 21:03] dgerd commented on #5040
@mattmoor I have not had the chance to put any effort into this. I don't think this is going to land in 0.11.

@chizhg The Knative Community drive is a good place to put the document.

[2019-12-03 22:08] vagababov commented on #6054
It seems you _do_ have minScale? Can you edit your post to be properly formatted?

[2019-12-03 23:44] vagababov commented on #6140
`fmt.Printf` usually works fine. Do you inspect the proper container?

[2019-12-04 00:22] nimakaviani commented on #4098
Here is the link to the feature proposal document for this issue: https://docs.google.com/document/d/1RHaYgMUJ-a5ibhMMwmnpLQ3DHxdzvVdtGBwVwWERyio/edit

[2019-12-04 01:40] duglin opened #6146 "HTTP streaming - where am I going wrong? or is there a bug?"
## In what area(s)?
/area API
/area networking

## Ask your question here:

Warning... my code could be totally wrong :-)

See: https://github.com/duglin/knstream  for a sample http streaming demo I was working on. In general the code does appear to work outside of Knative. Basically, build it using `make stream client` and then run `./stream` in one window and `./client http://localhost:8080` in

[2019-12-04 02:36] MIBc commented on #5126
I am not using local registry. I just download the image `gcr.io/knative-samples/helloworld-go`, and set imagepolicy=IfNotPresent. But it still raise `failed with message: Unable to fetch image "gcr.io/knative-samples/helloworld-go": Get https://gcr.io/v2/: dial tcp 64.233.189.82:443: connect: connection refused.`

[2019-12-04 02:52] JRBANCEL opened #6147 "Stop mounting an emptyDir to /var/log"
## In what area(s)?

/area monitoring
/kind proposal

## Describe the feature
This is a follow up to https://github.com/knative/serving/issues/818 and an attempt to fix https://github.com/knative/serving/issues/2142.

Here is a proposal: https://docs.google.com/document/d/1u-yL14tBtlBvnfAsd8I_eqzg-0gPvQwrCBJN4dSvB6U/edit?folder=10HcpZlI1PbFyzinO6HjfHbzCkBXrqXMy#

[2019-12-04 03:30] duglin commented on #6146
What's also interesting is that if I use `curl` instead of my client to talk to the service (so everything thinks it's just doing a normal http request, not a streaming one) I get the same error, and still no ack from the service that it got an HTTP request

[2019-12-04 03:39] duglin commented on #6146
More info... removing the h2c name on the port makes it so that I reach the ksvc now - things fail since it's not a streaming connection, but it appears that the presence of the h2c name is causing the 502 and my inability to even reach the user-container pod.

[2019-12-04 05:20] hotjunfeng commented on #6140
I tried to print some value in the function "ReportQueueDepth" in "/pkg/queue/stats/stats_reporter.go", but I could not find the output from the logs of queue-proxy container of function pods. Is the queue-proxy the proper container for me to inspect? Thank you.

[2019-12-04 06:13] arisu1000 commented on #5921
@ZhiminXiang @dgerd
Sorry for late reply.
Now, I resolved my issue by installing istio by sds mode.
Thank you for you help. :)

[2019-12-04 06:13] #5921 closed

[2019-12-04 06:40] vagababov commented on #6140
Well, if you want to debug QP that might be a proper place. But at this point why wouldn't you use `zap.logger`?

[2019-12-04 09:33] chansonzhang commented on #6101
same question

[2019-12-04 09:45] ratamovic commented on #6080
Last time I tried (with HEAD) it worked after a day and thought the issue was gone. But after leaving the cluster without any activity for a weekend it came back.

[2019-12-04 12:02] knative-test-reporter-robot opened #6150 "[flaky] pkg/autoscaler.TestMultiScalerOnlyCapacityChange"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/autoscaler.TestMultiScalerOnlyCapacityChange
* **Repository name**: serving

[2019-12-04 15:09] tanzeeb commented on #6146
This is expected behaviour if your app isn't actually http2 (based on the slack conversation, the app was http1?)

[2019-12-04 16:12] duglin commented on #6146
so knative only supports http2 streaming?

[2019-12-04 16:26] markusthoemmes commented on #6146
We do support Websockets on HTTP1. Is there any reason why you're manually hijacking the connection? I'm not familiar enough with the Websocket specification to know if there's more to it than just hijacking but if there is, maybe this just stumbles over the entire dataplane not supporting it? That's shooting in the dark though.

Can you just use Websockets?

[2019-12-04 16:55] tanzeeb commented on #6146
Just referring to the port name, use `h2c` only if your app actually supports HTTP/2

You can stream with HTTP/1 with websockets (as @markusthoemmes mentioned), but I'm curious about why your ad-hoc streaming isn't working.

You mentioned that it works with vanilla kubernetes, have you confirmed that it works with Istio + vanilla kubernetes?

[2019-12-04 18:45] ZhiminXiang commented on #6122
AFAIK, in order to enable Istio Authorization, we need to enable Istio authentication first. One of the most common Istio authentication is Istio mTLS.
Currently Knative does not support Istio mTLS strict mode because of https://github.com/istio/istio/issues/17837. I am not sure if Istio Authorization could work with Istio mTLS permissive mode. But you can have a try.

[2019-12-04 18:52] vagababov commented on #6080
So, I had it running for quite some time now. The only updates  I get in activator
[code]
basically the global reconcile events every ~10hr
And the requests are being served.
Are you running GKE? Or some custom K8s on top of GCP?

[2019-12-04 19:10] vagababov commented on #6146
Hijacking just gives you the underlying TCP stream, you can do whatever you
want at that point with that connection.

On Wed, Dec 4, 2019 at 8:55 AM Tanzeeb Khalili <notifications@github.com>
wrote:

[2019-12-04 19:12] costinm commented on #6122
KNative works by acting as a proxy - requests from client are routed to knative if the service has no endpoints, which starts the endpoints.  That means the MTLS and identity will be negotiated between knative and client in such cases - there is no end-to-end client -> service connection.

Because MTLS is end-to-end - it can't work without changes in Istio security model:
- JWT tokens can be used

[2019-12-04 19:17] duglin commented on #6146
I didn't test with kube, I tested with just the stand-alone executables to make sure the code (outside of containers) even works at all.  And it does. So I was hoping that 1) containerizing didn't break it, and 2) knative didn't break it.

I just tested it with Docker and it works, so containerizing in general isn't the issue.

[2019-12-04 19:45] tcnghia commented on #6146
I wouldn't be surprised if the Go reverseproxy (used in activator and queue-proxy) doesn't support hijacking in general.  Can you try sending a request directly to the revision's Service?  That would bypass all proxies except for queue-proxy to see if the problem is there.

[2019-12-04 19:55] xpepermint opened #6155 "Unable to access services from a service in the same custom namespace"
/area networking

I'm unable to access services from a service running in the same namespace. I'm running Docker for Mac with Kubernetes enabled and Knative `0.10` installed based on [this guide](https://knative.dev/docs/install/knative-with-docker-for-mac/).

I can access public internet domains (e.g. `curl google.com`) but requesting `{name}.{namespace}.svc.cluster.local` or `{name}.{namespace}.

[2019-12-05 02:30] duglin commented on #6146
not 100% sure if I did it right, but I edited the Kube Services associated with the Ksvc so they had external IPs and had the client talk directly to those. I still get the same results, the server does get a connection request but then after the hijack I don't see anything else flow from the client to the server.

[2019-12-05 02:32] duglin commented on #6146
I'll give that a try tomorrow - only reason I picked this current path is because I don't know much about websockets so I picked the easiest path for me to get to the tcp socket layer :-)

[2019-12-05 03:17] hotjunfeng commented on #6140
I haven't use zap before and I will try to use this. Thank you.

[2019-12-05 09:15] ratamovic commented on #6080
I'm using GKE, with Istio plugin enabled, creating it with the following command (as you can see in https://gist.github.com/ratamovic/44f3aee5b6e91882071b6d2822686e72 in `create_cluster()`):
[code]
What you find in my gist is what I did to reproduce the issue on a simpler case (and my normal cluster is in fact the same setup apart from the source and service docker image running).
The only specifi

[2019-12-05 09:31] nak3 commented on #5890
I found one big difference between current e2e and previous's.

Current e2e tests do not inject istio-proxy except for `TestServiceToServiceCall` which injects explicitly in the code. While, when this issue happened, all pods created by e2e tests had side-car injection. (For the evidence, this is [2019-10-13's k8s.log.zip](https://github.com/knative/serving/files/3925884/k8s.log.zip).)

Since we n

[2019-12-05 12:02] #6083 closed

[2019-12-05 12:39] datadot opened #6157 "istio-networking failing to update gateway"
In what area(s)?

/area networking

## Ask your question here:

Clean deployments running isio 1.4.
CNI + SDS + Strict mTLS configured

Minimal Serving component installed for knative with cert-manager 0.10 configured with clusterissuer against letsencrypt staging.

For initial testing, I deploy the basic helloworld serving demo which returns:

[code]

LetsEncrypt certificate is created and saved

[2019-12-05 14:58] nak3 commented on #6157
Are you using Knative v0.10? If so, I remember that the bug should be solved by https://github.com/knative/serving/pull/6041.

When updated Istio to v1.4, e2e test (`TestIstioProbing`) had the same problem. But it was solved by https://github.com/knative/serving/pull/6041 as https://github.com/knative/serving/pull/6160 proved it.

[2019-12-05 15:32] datadot commented on #6157
Yes this is v0.10, do we know schedule for next release that'll include #6041?

Thanks.

[2019-12-05 18:19] tcnghia commented on #4283
/assign tanzeeb

[2019-12-05 18:24] tcnghia commented on #6157
Release is scheduled next Tuesday.

In the mean time, can you please try our latest/nightly version here to see if the issue is fixed by #6041 or not?  https://pantheon.corp.google.com/storage/browser/knative-nightly/serving/latest/?folder=true&organizationId=true&project=knative-nightly

(replacing the yamls you used with the corresponding ones from this GCS bucket)

[2019-12-05 19:06] markusthoemmes opened #6164 "Potential unnecessary churn due to update conflicts."
## In what area(s)?

/area API

## What version of Knative?

A continuous testrun in our testgrid here has ~300 "conflicts" in its entirety, distributed like this:

[code]

Downstream on Openshift, the distribution is much worse at ~1500 conflicts per test run (and that's even running a somewhat shorter test)

[code]

We might want to investigate why there are so many of these and potentially get

[2019-12-05 19:28] dgerd commented on #6077
/assign @dgerd

[2019-12-05 20:04] JRBANCEL opened #6166 "*-mesh E2E tests don't actually run in mesh mode"
## In what area(s)?

/area networking
/area test-and-release

## What version of Knative?

HEAD

## Bug
@nak3 [found out](https://github.com/knative/serving/issues/5890#issuecomment-562046679) that *-mesh E2E do not actually run in mesh mode, sidecars are not injected.

I bisected this to this change: https://github.com/knative/serving/pull/6069.
@tcnghia & @evankanderson, can you comment on that

[2019-12-05 20:05] JRBANCEL commented on #5890
Great find @nak3 !
I opened an issue (#6166) and found the code change that broke the mesh.

[2019-12-05 21:42] xpepermint commented on #6155
Is this a bug in the latest Knative configuration? I can `curl http://{ip}` where the `{ip}` is a service name `{name}-{revision}-private` but other service-related IPs can not be reached. As already explained above, `curl http://{name}` and related does not work. `/etc/resolv.conf` looks good:
[code]
`/etc/hosts` shows the usual:
[code]
Anyone?

[2019-12-05 22:08] tcnghia commented on #6166
We previously had turned on sidecar injection by default by annotating the Revision.  However, for a while now we moved to running separate test grids so we should no longer need this.

We should instead label the namespace when running the test for -mesh.

[2019-12-05 22:14] vagababov commented on #6155
so you cannot `curl echosrv5-nfnxn` but can `curl echosrv5-nfnxn-private` ?

[2019-12-05 22:23] xpepermint commented on #6155
Yes. I have `echosrv5` and `echosrv6`. I `exec -it` into `echosrv6` and I get these results:
[code]
Here my list of services on the `default` namespace:
[code]

[2019-12-05 22:28] xpepermint commented on #6155
Maybe related https://github.com/kubernetes/kubernetes/issues/85604

[2019-12-05 23:17] #6077 closed

[2019-12-06 07:17] SachinVarghese commented on #5307
Hi, @mdemirhan I am facing the same issue as the data in Prometheus is not accurate with the actual number of requests made. Can you suggest a simple setup to validate that this is because of the short-lived nature of pods? Also, I am keen to know what are the Prometheus metrics you are looking at?

[2019-12-06 11:43] xpepermint commented on #6155
I downgraded K8S docker for mac to the latest stable version (`2.1.0.5`) but it doesn't work. Resolving works for standard K8S services but not for Knative services.

If I read DNS logs like this:

[code]

I see a few lines when the `curl` request is performed:

[code]

[2019-12-06 13:50] nak3 commented on #6166
/reopen

[2019-12-06 14:09] duglin commented on #6146
I changed my code to use a 'real' websocket impl and that does seem to work. However, during my  migration to ws I noticed some error messages from the queue proxy logs that lead me to believe that while we do support streaming we might only support certain types of streaming. Meaning, the code might be looking for certain http headers (like the ws ones), and something more generic (like my hack t

[2019-12-06 16:20] #6166 closed

[2019-12-06 17:42] vagababov commented on #6146
The only headers we look at in QP are revision/probing/tracing related, and since 1.12 golang supports reverse websocket proxying, I think.
But it does not preclude that it might be buggy or we might be doing something wrong :-)

[2019-12-06 18:07] duglin commented on #6146
I just updated my repo so that people can test with 'ws' and 'my hack' easily. Just use '-h' on the client when you want to use the non-ws/hacky path.

But, am I correct that both paths should work in Kn since they both work in Kube?

[2019-12-06 18:47] chaodaiG commented on #6127
/assign

[2019-12-06 18:48] chaodaiG commented on #6127
Repro unit test flakiness using KIND cluster:
- unit tests passed consecutive 100 times with unlimited resources, i.e. unlimited allocation on my dev box
- when running with `limit: 1 cpu` unit test starts to fail due to timeout

[2019-12-06 22:03] jchesterpivotal opened #6173 "If I submit an image that has no entrypoint, and do not set a command, I do not get any helpful errors or warnings"
## What version of Knative?

0.10

## Expected Behavior

Suppose I am using `kn`, I'd like to see something like:

[code]

In my logs I might see a similar message.

In `conditions` I might see something like:

[code]

## Actual Behavior

When using `kn`:

[code]
And the condition I see is:

[code]

## Steps to Reproduce the Problem

1. Create a Revision via a Configuration or Service. Do not conf

[2019-12-07 00:35] vagababov commented on #5980
Another thought I had is that, even if the metric did not change, the number of pods might have (i.e. as implementation of the previous suggestion by the AS). So we need two triggers here

- metric changed
- # of pods changed (i.e. endpoints updated)

[2019-12-07 00:39] vagababov commented on #5981
Trying to implement part II, it turned out to be more hassle than benefit, at least the way things are done now (and the values seem to be different, since we always divide by the window size buckets, rather than # of buckets we recorded data, which is pretty different for new revisions).

[2019-12-07 01:32] xpepermint commented on #6155
OK, I got it. You should follow [Installing Istio for Knative](https://knative.dev/docs/install/installing-istio/) and also install `cluster local gateway`. Don't follow tutorials on `Istio` website. This is what has been changed.

[2019-12-07 01:32] #6155 closed

[2019-12-07 23:49] Pomazan-Bogdan commented on #5809
error: error validating "monitoring.yaml": error validating data: [ValidationError(DaemonSet.spec.template.spec): unknown field "selector" in io.k8s.api.core.v1.PodSpec, ValidationError(DaemonSet.spec.template.spec): unknown field "template" in io.k8s.api.core.v1.PodSpec, ValidationError(DaemonSet.spec): missing required field "selector" in io.k8s.api.apps.v1.DaemonSetSpec]; if you choose to ignor

[2019-12-08 18:59] Utwo commented on #3587
Definitely I'm in then Knative personas. :)

Right now I have a single cluster with a "production" node pool (2CPU, 7.5memory)  on GCP that it's serving all my applications. What I would like to have is a a production node pool for critical applications and a preemptible node pool for experiments, stage and qa.
If it's possible, without production downtime, I would put everything on a preemtible n

[2019-12-08 19:38] vagababov opened #6176 "Introduce max pod age to Queue Proxies"
## In what area(s)?

/area autoscale
/kind proposal
## Describe the feature

We can introduce maxPodAge to queue proxies in order for them to commit suicide at some point, to ensure that the end app is built against pod restarts and network connections being broken (e.g. real life).

/cc @mattmoor

[2019-12-09 07:14] ahmetb opened #6178 "Documented tagTemplate is not matching the default behavior"
/area networking
/kind bug
Knative v0.9.0-gke.4

When I look at `config-network` ConfigMap I see this documentation under `_example` key:

[code]

However, the default behavior I'm seeing actually is `{{.Tag}}-{{.Name}}` on my cluster, despite no `tagTemplate` is set.

[2019-12-09 09:56] datadot commented on #6157
@tcnghia this is an internal Google resource, is there a public link?

Thanks.

[2019-12-09 15:17] mattmoor commented on #6176
cc @dgerd @evankanderson

We discussed this during the "v1[beta1] task force", but I eventually moved it out of scope because it isn't part of the API surface (but an internal detail).  Generally this is a healthy practice of stateless platforms to ensure folks don't bake in stateful assumptions (e.g. along with `minScale`).  This also forces applications with long-lasting connections to anticipat

[2019-12-09 17:44] vagababov commented on #6157
https://console.cloud.google.com/storage/browser/knative-nightly/serving/latest/?folder=true&organizationId=true&project=knative-nightly

[2019-12-09 19:47] dgerd commented on #6176
I love the idea of adding something like this and think it will be very beneficial to ensure applications are designed in a resilient way and ensure that enough roll-over happens to avoid state creating problems.

That said I also think:
1. We should put this through the feature track process
2. The time should be configurable and include the current behavior as an option
3. This knob feels like a

[2019-12-09 23:25] vagababov commented on #5734
/close
Should be fixed.

[2019-12-09 23:25] #5734 closed

[2019-12-09 23:30] jamesward commented on #5734
Thanks! I'll give it a try when the next release lands.

[2019-12-10 01:40] #6178 closed

[2019-12-10 11:57] skaslev commented on #5753
This should be fixed by #6171
/close

[2019-12-10 12:02] knative-test-reporter-robot opened #6192 "[flaky] pkg/reconciler/serverlessservice.TestGlobalResyncOnActivatorChange"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/serverlessservice.TestGlobalResyncOnActivatorChange
* **Repository name**: serving

[2019-12-10 12:08] datadot commented on #6157
Fixed in nightly - closing issues.

[2019-12-10 12:08] #6157 closed

[2019-12-10 14:24] ekeih commented on #6011
@ruzickap What's your last working version of cert-manager with knative? 🤔
Our 0.10.1 cert-manager doesn't seem to work as well and I think it's possible that it's broken since 0.8.0 (did not verify everything yet).

[2019-12-10 23:00] tcnghia commented on #5734
@jamesward release landed today, can you please give that a try?

[2019-12-10 23:40] coryrc commented on #3447
As said in the past comments, it's not possible to use this for cluster creation/teardown, but it is possible for flag setup. I will do that then close this bug.
/assign coryrc

[2019-12-11 02:06] adrcunha commented on #3447
As long as `TestMain` doesn't fail when running the test without any flags, it's fine.

[2019-12-11 05:53] coryrc commented on #3447
Currently we have to call pkgTest.SetupLoggingFlags() in weird places as a sort-of byproduct: https://github.com/knative/serving/search?q=pkgTest.SetupLoggingFlags%28%29&unscoped_q=pkgTest.SetupLoggingFlags%28%29
Would be more intentional in TestMain and would have the same end-effect as now.

[2019-12-11 07:30] nak3 opened #6197 "TestProbe in upgrade-test (pull-knative-serving-upgrade-tests) is broken"
## In what area(s)?

 /area test-and-release

## What version of Knative?

[code]

`TestProbe` in `pull-knative-serving-upgrade-tests` always fails now. Please refer to following PRs.

https://github.com/knative/serving/pull/6162 ... [logs](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_serving/6162/pull-knative-serving-upgrade-tests/1204657675430793216)
https://github.com/kna

[2019-12-11 08:22] markusthoemmes commented on #6197
Thanks for opening this!

I'm debugging this in https://github.com/knative/serving/pull/6198. This kinda proofs my hunch that this is because the activator's are not cutting over seamlessly. If you force them off the path (by setting TBC=0) the tests pass happily.

[2019-12-11 08:25] markusthoemmes commented on #6197
Looking through the logs we even see proof of that in our activator's own code:

[code]

This proofs that there is a point in time where the activator's endpoints contain no ready addresses.

[2019-12-11 08:31] markusthoemmes commented on #6197
For posterity: This shows consistent failures since the release: https://testgrid.knative.dev/serving#continuous&sort-by-failures=

[2019-12-11 10:33] markusthoemmes commented on #6197
I've tried to come up with a timeline of what happened in the test and noticed there that the **new** activators are eventually killed because their readiness probe never succeeds. It never succeeds because the websocket connection is never successfully established.

That connection in turn is never successfully established because autoscaler is rolling out at the same time. There is only one occu

[2019-12-11 10:49] markusthoemmes commented on #6197
https://github.com/knative/serving/pull/6198 confirmed that this indeed was the culprit. Sending PRs to prepare a fix.

[2019-12-11 12:02] #5641 closed

[2019-12-11 12:02] #6092 closed

[2019-12-11 12:02] #6084 closed

[2019-12-11 15:38] #6197 closed

[2019-12-11 15:52] ruzickap commented on #6011
I tried my workload on:

* knative 0.11.0
* cert-manager 0.10.1

and it seems to work fine... https is available and I can see my certificate when running `kubectl get certificate`

Anyway future cert-manager versions can not work, because the cert-manager API changes.

[2019-12-11 18:25] rakelkar opened #6201 "Service getting scaled down on Timeout before Timeout?"
## In what area(s)?

## What version of Knative?
0.9

## Expected Behavior
Deployed a service with default revision timeout (300s).. however the service gets marked as timeout after 2m28s causing the deployment to be scaled down to 0 before the service has a chance to come up.

## Actual Behavior
[code]

Events:
[code]

Revision:
[code]
## Steps to Reproduce the Problem
Create a KN service in a ns

[2019-12-11 18:46] vagababov commented on #6201
So the current logic here is: https://github.com/knative/serving/blob/master/pkg/reconciler/autoscaling/kpa/kpa.go#L273
If desired scale is 0 (and it seems you didn't send any requests and don't have minScale>0) and revision never activated -- we mark it as timed out.

Perhaps we need to wait to get the revision to start before deciding to scale down.
/cc @markusthoemmes @mattmoor @tanzeeb

[2019-12-11 20:38] rakelkar commented on #6201
I suspect this might be to do with `progressDeadlineSeconds` that is currently hardcoded to 120s...

[2019-12-11 20:49] tanzeeb commented on #6201
@vagababov I don't think that's the case, the scaler shouldn't scale to 0 until the pod is active, see https://github.com/knative/serving/blob/master/pkg/reconciler/autoscaling/kpa/scaler.go#L148

[2019-12-11 20:49] tanzeeb commented on #6201
@rakelkar i think you're right. I'm curious about why it's at 2m28s instead of 1m30s

[2019-12-11 23:15] coryrc opened #6204 "Remove extraneous review notifications from robot PRs"
Robot formatting PRs like [this](https://github.com/knative/serving/pull/6194) and [this](https://github.com/knative/serving/pull/6111) assign someone in each, but defaults in our projects add two reviewers that aren't really useful to process. Every single (10+/day) PR is spamming one or two people with review notifications/e-mails that aren't intended for them.

If the person assigned was also /

[2019-12-11 23:15] ivangfr commented on #6101
I am having the same problem!

[2019-12-12 00:58] JRBANCEL opened #6205 "Make E2E traces more useful"
## In what area(s)?

/area monitoring

## Describe the feature
Let's look at an E2E trace:
![global](https://user-images.githubusercontent.com/1249763/70673224-b2b15800-1c36-11ea-80be-16ae8fd7ddbf.png)
It is impossible to figure out what is happening:
- what component emitted the trace (can't even identify which revision and pod handled the request)
- what is the trace about. `recv`, `sent`, `prox

[2019-12-12 08:55] Iamlovingit opened #6206 "how can i"
## In what area(s)?

## Ask your question here:

[2019-12-12 08:56] #6206 closed

[2019-12-12 09:00] Iamlovingit opened #6207 "how can i add 'x.x.x.x hostname' to ksvc pod's /etc/hosts"
## In what area(s)?
serverless

## Ask your question here:
i create a service by knative serving. now i want to add some hosts in  ksvc's /etc/hosts,  i add `hostAliases ` into the service.yaml
[code]
but is not work.
How can i modify the service.yaml? Thanks.

[2019-12-12 09:29] #5711 closed

[2019-12-12 12:02] knative-test-reporter-robot opened #6210 "[flaky] pkg/activator/net.TestCheckDests"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestCheckDests
* **Repository name**: serving

[2019-12-12 12:02] #6192 closed

[2019-12-12 14:23] grzesiek commented on #3629
I believe that this can be improved. Having the config defined in `data: _example` is a little confusing, and indeed it might result in changing config inside the `_example`, instead of moving it to `data` and unidenting one level.

[2019-12-12 15:29] mattmoor commented on #6204
Thanks for the tip @coryrc, I'll add this to the template.

[2019-12-12 15:31] mattmoor commented on #6204
Reapplying the tasks now.

[2019-12-12 15:32] #6204 closed

[2019-12-12 15:49] mattmoor commented on #6034
Here's kind of what I have in mind.

I think that we should add another interface like `webhook.AdmissionController` for conversion webhooks.  I'd say something like:

[code]

I'd change the list in sharedmain [here](https://github.com/knative/pkg/blob/bebd5557feae665ccf77bb1d8fee2758aa658264/injection/sharedmain/main.go#L158-L161) to build up an `[]interface{}` with elements of either of these ty

[2019-12-12 15:49] mattmoor commented on #6034
cc @dgerd as well

[2019-12-12 16:13] chaodaiG commented on #6127
It looks like the PR above fit the purpose

/close

[2019-12-12 16:13] #6127 closed

[2019-12-12 19:14] #6037 closed

[2019-12-13 03:20] duglin commented on #6206
easy, you just

[2019-12-13 04:41] mattmoor opened #6220 "e2e test coverage of websocket with traffic split"
## In what area(s)?

/area networking
/area test-and-release
/kind good-first-issue

## Describe the feature

We should add e2e test coverage that websockets work properly with a ~50/50 traffic split: https://github.com/envoyproxy/envoy/issues/3684

It should be fixed in recent builds of Envoy, but what I find concerning is that we believed ourselves to support websockets for longer than this has

[2019-12-13 05:59] vincent-pli commented on #6206
😂

[2019-12-13 06:04] Iamlovingit commented on #6206
... please follow #6207

[2019-12-13 21:10] rakelkar commented on #6201
So its not progressDeadlineSeconds - I tried it with progressDeadlineSeconds set to 1 and the revision comes up fine... It is however related (or caused) by the fact that the revision gets set to failed when revision lifecycle marks resources as unavailable.
[code]

As an aside I observed some random behavior I cannot explain when changing progressDeadline and redeploying the controller... (not re

[2019-12-14 00:00] zsxking opened #6224 "Have upgrade.TestProbe to continue repeat probing regardless errors"
Have upgrade.TestProbe to continue repeat probing despite what kind of error it got, so that it can keep track the downtime during upgrade if it happens

/area test-and-release

[2019-12-14 02:37] coryrc opened #6226 "Conformance tests should not demand a particular error condition message"
/area API
/area test-and-release

The Knative API Specification has no requirements on what an error condition Message field can be besides "human readable".

TestContainerErrorMsg and TestContainerExitingMsg fail if the condition Message is not particular values (and, not particularly great values BTW), and it should not do so. All checks of the Message should be removed.

/assign @coryrc
cc @dge

[2019-12-14 04:33] rakelkar commented on #6201
Gah - have to up ProgressDeadlineSecs as well... since a few lines down the code fails the revision if progressDeadline is exceeded...:
[code]

[2019-12-14 12:02] #6210 closed

[2019-12-15 14:39] aptrishu commented on #2878
I am getting the same error.

when I used an image `villardl/transformer-nodejs` it runs fine. create new knatives service etc.
But when I change the imgae to use mine `rishus23/devflows-task` it fails.
Everything waits on revision to be created.
and revison logs say `error: no kind "Revision" is registered for version "serving.knative.dev/v1" in scheme "k8s.io/kubernetes/pkg/kubectl/scheme/scheme

[2019-12-16 17:48] dgerd commented on #6226
Thanks for picking up. IIRC Other tests check for non-empty message and one-word CamelCase reason.

If something seems like it is still valuable, but doesn't belong in conformance please move to e2e tests.

[2019-12-16 19:31] coryrc commented on #6226
That's what I was thinking!

Some ways:
1. A flag to enable better checking and somehow add certain tests under test/conformance to the e2e workflow
2. Subtest called e2e; we fail it if certain types of check fail.
3. Expose the tests as public functions taking a bool arg that defines whether to use the e2e tests, and call it from separate e2e and conformance TestXxxx() functions.

While #2 keeps

[2019-12-16 21:58] #6140 closed

[2019-12-16 22:48] jamesward commented on #5734
So far I've been unable to reproduce this on Knative `0.11.0` with Istio `1.4.2`.

[2019-12-16 22:57] jamesward commented on #6054
This is still happening with Knative `0.11.0` - here is some logging:
[code]

[code]

[2019-12-16 23:10] vagababov commented on #6054
So there's no Scale down to 0 for HPA in knative right now.
The old revision will be deleted based off of your `config/config-gc.yaml` file (defaults is that your revision must be at least 24h ours old and at least 15h since last being pointed at by a route).

[2019-12-16 23:11] vagababov commented on #5734
Thanks!

[2019-12-16 23:20] dgerd commented on #6207
We currently do not allow for the setting of hostAliases on Services. Can you elaborate on your use-case of hostAliases?

[2019-12-16 23:31] jamesward commented on #6054
Oh! Interesting. What is strange is that sometimes some of the deployments go away quickly.  When I just tried this with `minScale=5` then `minScale=0`, two went away immediately.

[2019-12-16 23:40] dgerd commented on #6173
We can probably do better than an empty message, but will likely not get to your expected behavior unless we are able to get such information back up from Kubernetes. What information did your K8s Deployment give in this case?

This is a bit of a tough space as we rely heavily on the deployment and pod statuses to let us know what is going on.

We do not do deeper image introspection anywhere in o

[2019-12-16 23:43] dgerd commented on #6164
@markusthoemmes It looks like your referenced issue cleaned up a number of these.

Are you still working on this issue? If not any more context for someone else to dive in here?

[2019-12-17 00:27] vagababov commented on #6054
well, if `minScale>0` it will be deployed until the revision is garbage collected, since, well, you ask for `minScale>0`. Perhaps by some magic HPA started to scale to 0 :-)
/cc @markusthoemmes

[2019-12-17 01:36] coryrc commented on #6226
@dgerd
Do we want to verify Message is != ""?

[2019-12-17 02:43] kubeway opened #6238 "Considering providing a Knative Serving Dashboard?"
## In what area(s)?

## Describe the feature

Kubernetes Dashboard is of great value to novices. Can we consider providing a Knative Seving Dashboard?
Through Dashboard, a series of management can be performed on Knative Service, Revision, traffic, and component configuration.

If possible, we can submit an implementation.

[2019-12-17 02:53] dgerd commented on #6226
I think that makes sense for an error case. It is not explicit in the spec, but an empty string doesn't feel very helpful or human-readable.

[2019-12-17 02:54] kubeway commented on #6238
Of course, it is also an idea to make Dashboard a serving-operator.

[2019-12-17 08:12] markusthoemmes commented on #6164
Nope, the two patches have tuned this down to a minimum. I think we can close this for now.

[2019-12-17 08:12] #6164 closed

[2019-12-17 09:38] coryrc opened #6239 "test/adding_tests.md is outdated"
/area test-and-release

Metrics collection has been removed.
Flag stuff looks off.
Imports don't use vanity knative.dev

Could use some love.

I'll get to it by end of January 2020 if no one else does before then.

[2019-12-17 09:57] ekeih commented on #6011
@ruzickap Thanks for the info! Then I guess my problem is something else.

[2019-12-17 17:08] dgerd commented on #6238
I would not be opposed to having something like that available for Knative Serving, but I also will say I don't see it being the top priority of any of the existing repos or working groups.

[2019-12-17 17:17] dgerd commented on #6101
What is most likely happening is that Knative is failing to do digest resolution. In our controller we resolve image tags to digests in order in order to better guarantee immutability of Revisions. This works well if you are using a normal registry; however, it can cause problems when used with mini kube and local images. Our controller is likely trying to pull this image from DockerHub to resolve

[2019-12-17 18:29] dprotaso commented on #6034
/assign @dprotaso

It may be worth rethinking the `apis.Convertible` interface given that it doesn't offer hints (statically) to what conversions are supported for a versioned resource.

Based on the original [API versioning proposal](https://docs.google.com/document/d/1UFUfwIF4q4r6JVigom0jQivbcI8mFycWPc9z48yjSIc/edit#) we should always have some chain of conversion funcs between two versions.  Th

[2019-12-17 18:41] vagababov commented on #6034
I think we dropped the idea of a core internal type (hub "version" or
type). And rather preferred where the storage type knows about all the
others.

[2019-12-18 14:44] Fabian-K commented on #6085
This is fixed with the latest release of the serving operator :)

[2019-12-18 14:44] #6085 closed

[2019-12-18 19:10] n3wscott commented on #5002
any new thoughts?

[2019-12-18 19:36] vagababov commented on #5002
My `gopkg.lock` has it.
Do you still have the issue?

[2019-12-18 19:48] markusthoemmes commented on #5002
@n3wscott does the code you have depend on a package in serving that depends on h2c?

I've had similar issues when I tried to vendor serving to run its e2e tests. I forced it to vendor all packages, even unused ones but dep doesn't resolve the deps of those unused packages, resulting in me having to require on all of them. A big PITA.

[2019-12-18 19:50] ZhiminXiang opened #6251 "Do not rely on the OwnerReference for getting HTTP01 challenge information"
## In what area(s)?

 /area networking

## Describe the feature
In the http01 challenge feature of Auto TLS, we currently reply on the OwnerReference of http01 challenge service to get the corresponding http01 challenge Object, and then get the http01 challenge information (token, etc.).
See discussion: https://github.com/knative/serving/pull/5186#discussion_r342617475

This should be considered a

[2019-12-18 21:32] #4100 closed

[2019-12-19 04:00] Vivek-anand-jain commented on #2598
I am still facing this issue:
[code]

[code]
I used istio-lean.yaml for istio installation.

[2019-12-19 04:09] ahmetb opened #6253 "v0.11 install docs (w/ lean istio) doesn't install cluster-local-gateway service"
I have just followed [Minikube install instructions](https://knative.dev/docs/install/knative-with-minikube/) on my GKE cluster.

I installed Istio from HEAD (v1.4.2) using this command, graciously provided at https://knative.dev/docs/install/installing-istio/#installing-istio-without-sidecar-injection

<details>
<summary>helm template command - click to see</summary>
<pre>
# A lighter template, w

[2019-12-19 04:12] ahmetb commented on #6253
Please ignore.
I found the command to create `cluster-local-gateway` buried down in https://knative.dev/docs/install/installing-istio/#updating-your-install-to-use-cluster-local-gateway page.

[2019-12-19 04:12] #6253 closed

[2019-12-19 04:15] vagababov commented on #2598
So are you using minicube?

[2019-12-19 04:22] ahmetb opened #6254 "cluster-local-gateway pod is not becoming ready after istio-lean installation"
/area networking
/kind bug

I installed [istio-lean without sidecar injection documented here](https://knative.dev/docs/install/installing-istio/#installing-istio-without-sidecar-injection) from HEAD in v1.4.2.

All Istio and Knative serving components are working fine.

Then I proceeded to install `cluster-local-gateway` (https://knative.dev/docs/
install/installing-istio/#updating-your-install-t

[2019-12-19 04:36] ahmetb opened #6255 "No revision data shown in Grafana dashboards"
/area monitoring
/kind bug

Potentially the same as #4167 #4229 #4507.

I just installed Knative serving v0.11.0 with monitoring.yaml. I used `istio-lean` instuctions [from here](https://knative.dev/docs/install/installing-istio/#installing-istio-without-sidecar-injection) to install Istio from HEAD (near 1.4.2).

It seems most of the useful Grafana dashboards are broken.

**(If so, please conside

[2019-12-19 04:41] Vivek-anand-jain commented on #2598
No I have a 2 node cluster, I tried with IP address of both nodes

[2019-12-19 04:45] vagababov commented on #2598
Why would the IP be 127.0.0.1 then?

[2019-12-19 04:48] Vivek-anand-jain commented on #2598
Sorry for the misleading configuration. I put random IP for the post. I used IP address I got  from this:
[code]

And my request is like:
`curl -v -H "Host: http://helloworld-go.default.example.com" http://$INGRESS_HOST:$INGRESS_PORT`

[2019-12-19 04:49] Vivek-anand-jain commented on #2598
This gave me `export INGRESS_HOST=$(kubectl get po -l istio=ingressgateway -n istio-system -o jsonpath='{.items[0].status.hostIP}')` public IP of the system

[2019-12-19 07:04] xphoniex commented on #6101
Locally built docker images don't seem to have a digest. (Possible explanation: [Why doesn't my newly-created docker have a digest?](https://stackoverflow.com/a/39812035))

[code]

(`minikube/minikube-test` is just a label of `minikube-test` here.)

However this command returns the digest:
[code]

I updated my knative service.yaml, and added the digest:
[code]
Here's the new error:
[code]

So I re

[2019-12-19 08:56] sravankumar777 commented on #5809
Hi,
I observed same error with installation of `knative-monitoring` with v1.10.0 on Minikube.

is this issue still not fixed for backport versions?

[2019-12-19 12:06] duglin commented on #6254
The other day I was playing with 0.11 + Istio lean and while I could get my internet facing KnServices to work just fine, I couldn't get intra-cluster communications to work (or cluster-local services).  I assumed it was a user-error and I just didn't configure things correctly. Might be related?

[2019-12-19 15:57] markusthoemmes opened #6258 "Disable queue-proxy buffering for activator-proxied requests"
## In what area(s)?

/area autoscale
/area networking
/kind proposal

## Describe the feature

@vagababov did a tremendous amount of work to make the Activator's loadbalancing as perfect as it can be. I think at this point we can attempt to not queue requests coming from the activator at the queue-proxy level at all and instead return a sentinel 503 response that the activator can detect and send

[2019-12-19 16:19] ahmetb commented on #6254
If I follow these istio lean instructions instead it works: https://knative.dev/docs/install/installing-istio/#installing-istio-with-sidecar-injection and gateway comes up.

However “without sidecar injection” template I think has something odd preventing it from working correctly.

[2019-12-19 17:33] mdemirhan commented on #5809
Will work on fixing the daemonset in head and backport changes needed to 0.9 and 0.10.

[2019-12-19 17:33] vagababov commented on #6254
/assign @tcnghia

[2019-12-19 17:36] dgerd commented on #6101
Oh I see what you are doing here now and what you are expecting from Minikube.

A docker image without a hostname prefix is assumed to be DockerHub. Your image pull policy of 'Never' prevents minikube from reaching out to DockerHub to try to fetch the image and assumes that the version you have locally is the latest and greatest.

The last step should have been successful with an Image Pull policy

[2019-12-19 18:30] dgerd commented on #6255
cc @mdemirhan

[2019-12-19 18:57] vagababov commented on #6258
As discussed: one issue that I see with this, is if the revision is underprovisioned with `maxScale` we might never be able to execute the request (i.e. bouncing from one full pod to another), while just leaving it alone it might execute.
So this requires some fancier logic on the Activator side to reqeue the request based upon its creation time, or just enqueue front of the queue.

[2019-12-19 20:26] vagababov commented on #6220
/assign

[2019-12-19 22:31] xphoniex commented on #6101
Tagging my image as `dev.local/minikube-test` solved the issue.

I think I'm editing the right place only it's still taking DockerHub as the source because if I use
[code]
instead of `minikube` everything works perfectly, just like with `dev.local`

[2019-12-19 22:47] coryrc opened #6264 "Restructure Conformance Tests"
## In what area(s)?

/area test-and-release

## Describe the feature

[Design doc](https://docs.google.com/document/d/1zA9sp51xw_v5h_qnYOpTZdQRLNmsobwCT7syXOYSKs8/)

Summary:
Our API conformance tests were written before we had a pattern to split out tests and before the API specification identified ‘should’ and ‘must’ fields. This resulted in them covering a large swath of functionality in large

[2019-12-19 22:47] coryrc commented on #6264
/assign coryrc

[2019-12-19 22:48] coryrc commented on #6264
/assign @coryrc

[2019-12-19 22:53] dgerd commented on #6101
Glad to hear it solved the problem. Makes sense that the dot is required as part of the hostname parsing.

Do you happen to have a link to the documentation you were looking at to set this up originally? I can add some text about this so others don't run into the same issue.

[2019-12-19 23:31] tcnghia commented on #6254
@ahmetb what is the GKE/Istio add-on version?

[2019-12-19 23:45] howardjohn opened #6265 "Stuck in RevisionMissing and "Unknown" state"
## In what area(s)?

## What version of Knative?

v0.11.0

## Expected Behavior

Service is created successfully

## Actual Behavior

Resources stuck in various bad states:

[code]

[code]

[code]

Basically everything is unknown with no real indication about what is going wrong

## Steps to Reproduce the Problem

I am trying to get some knative smoke tests integrated into Istio's tests so we don'

[2019-12-19 23:45] tcnghia commented on #6254
@ahmetb  This may be due to the Istio control plane version mismatch with the helm chart you are using.

[2019-12-20 00:17] ahmetb commented on #6254
@tcnghia no addon, everything is self-install. Knative v0.11.0, Istio 1.4.2, installed via helm template rendered from link in first comment.

[2019-12-20 00:18] ahmetb commented on #6254
@tcnghia the same version worked when I used the "sidecar injection enabled" mode of the chart template rendering command (though that cmd is also broken as it doesn't actually enable injection https://github.com/knative/docs/issues/2073).

[2019-12-20 00:39] Iamlovingit commented on #6207
i install a hdfs  system. the uri  contain datanode's hostname, so i want add a item to /etc/hosts

[2019-12-20 04:44] nak3 commented on #6254
I have verified the issue and found the root cause (if my produced issue is same with yours.)

- What I observed is that:
  - The issue happens only documented istio-lean installation. It does NOT happen w/ Serving's [istio-learn.yaml](https://github.com/knative/serving/blob/master/third_party/istio-1.4.2/istio-lean.yaml)
  - Same issue happens with `istio-ingressgateway` pod. (You can reproduce t

[2019-12-20 10:56] nak3 commented on #6254
It is not helm's bug. Default value is used from `install/kubernetes/helm/istio/values.yaml` and the `global.mtls.auto` is enabled by default by this commit https://github.com/istio/istio/pull/18312/files#diff-7dad29cba9d2ca3e8570c8f65f4b7e86R371.

[2019-12-20 12:01] knative-test-reporter-robot opened #6266 "[flaky] test/scale.TestScaleToN"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN
* **Repository name**: serving

[2019-12-20 12:01] knative-test-reporter-robot opened #6267 "[flaky] test/scale.TestScaleToN/scale-100"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-100
* **Repository name**: serving

[2019-12-20 13:28] xphoniex commented on #1327
I've tried calling a knative service from both another knative service's pod and a regular pod but it's not working for me.

[code]

`minikube-test` here is a knative service and `mini-test` is a regular service. if I `sh` into either one's pod, this is what I expect to work but it doesn't even have a DNS record:

[code]
Similarly:
[code]

The only ones that can be resolved are those services with

[2019-12-20 13:29] tbarrella commented on #385
/remove-lifecycle stale
(Is this issue still relevant? Looking around, it seems like Jaeger integration is supported now)

[2019-12-20 13:30] tbarrella commented on #2929
/remove-lifecycle stale

[2019-12-20 13:40] xphoniex commented on #6101
actully dismiss this part. I just learned that the image was not being pulled correctly and it was probably using the prior revision hence why it still worked fine. the error:

[code]

Here's my `knative-serving/config-deployment` pasted directly from terminal, which looks okay to me:

[code]

Regarding the documentation, I think I briefly looked at hello-world examples. An example [helloworld-nod

[2019-12-20 16:18] dgerd commented on #2761
/remove-lifecycle stale

This issue is still relevant, but not the highest priority right now.

[2019-12-20 16:24] dgerd commented on #6101
You image will not be 'pulled' in this setup. My understanding is it is not being pushed to any registry, but rather using the images that are being built and available locally from the docker daemon.

This looks correct to me as well

[2019-12-20 16:24] dgerd commented on #6101
That is more than okay. Would love the contribution!

[2019-12-20 16:32] dgerd commented on #6265
We are working on the stuck in 'Unknown' problem. See #5076

Regarding your current problem,

* Is this 100% reproducible or intermittent? If reproducible can you send the YAML and/or steps you went through?
* What does your deployment look like? `kubectl get deployment -l \
"serving.knative.dev/service=knative-service" --output yaml`
* Do you see any events from your KService or Deployment? `kube

[2019-12-20 17:18] howardjohn commented on #6265
I thought it was but then I just tried it again and it worked :confused:. Seems to be intermittent.

<details>

[code]
</details>

[code]
[code]

With the above info I grabbed the logs but forgot to copy them and the deployment got deleted so I lost the state :slightly_frowning_face:. There were messages about `the object has been modified; please apply your changes to the latest version and try a

[2019-12-20 17:20] howardjohn commented on #6265
As far as reproducing, the steps are:
* Install istio minimal
* apply knative CRD https://github.com/istio/istio/pull/19675/files#diff-46713653f6fbe067e982048dbd2c9dd3
* apply knative installation https://github.com/istio/istio/pull/19675/files#diff-6cb87a2f954f2216e0b2babf7fbe5b68
* Apply knative service https://github.com/istio/istio/pull/19675/files#diff-2e50ad064a9fe355b66fc4148480c147R61-R72

[2019-12-20 18:00] tcnghia commented on #1327
@xphoniex Do you have a service named 'cluster-local-gateway' in the namespace 'istio-system'?

[2019-12-20 18:24] tcnghia opened #6269 "Status prober should track probes work unit based on PodIP+Port instead of PodIP"
## In what area(s)?

/area networking

## What version of Knative?

HEAD

## Expected Behavior

When multiple Envoys are running on a Pod, a successful probe on one port shouldn't cancel the probing on the others.

## Actual Behavior

A successful probe on one port cancel probing on the others.

## Steps to Reproduce the Problem

[2019-12-20 18:53] tcnghia opened #6270 "Use cache.DeletedFinalStateUnknown in the status prober's handling of deletion event"
## In what area(s)?

/area networking

## What version of Knative?

v 0.11
## Expected Behavior
We use cache.DeletedFinalStateUnknown in the status prober's handling of deletion event

## Actual Behavior
We do not.

## Steps to Reproduce the Problem

[2019-12-20 18:54] xphoniex commented on #1327
No, I only have `istio-ingressgateway` and `istio-pilot`. Has this got anything to do with my istio installation?

[2019-12-20 18:59] tcnghia commented on #1327
You will need to install a cluster-local-gateway using https://knative.dev/docs/install/installing-istio/#updating-your-install-to-use-cluster-local-gateway .  However you will need to add this line `--set global.mtls.auto=false` since currently there is an error in the doc

[2019-12-20 19:01] tcnghia commented on #1327
(the error in the doc is tracked here, if you are interested https://github.com/knative/serving/issues/6254#issuecomment-567785377)

[2019-12-20 19:32] xphoniex commented on #1327
Thank you @tcnghia

I went back to the installation guide and found the part I'd missed. It was kind of hidden.

By the way I had no issue with my `cluster-local-gateway`, works just fine out of the box.

[2019-12-20 20:08] tcnghia commented on #6254
@ahmetb can you please try what @nak3 suggested in https://github.com/knative/serving/issues/6254#issuecomment-567785377  ?

[2019-12-20 20:51] ahmetb commented on #6254
I don’t think mtls is necessarily the culprit here? https://knative.dev/docs/install/installing-istio/#installing-istio-with-sidecar-injection Applying this yaml doesn’t cause this problem, yet it doesn’t explicitly disables mtls?

[2019-12-21 00:07] vagababov commented on #3425
/remove-lifecycle stale

[2019-12-21 01:20] vagababov commented on #6220
/close
this should be in now...

[2019-12-21 01:20] #6220 closed

[2019-12-21 03:53] nak3 commented on #6254
Good point. The reason why the yaml w/ side-car injection does not cause the problem is that it deploys citadel and creates certs under `/etc/certs/*`. You can check it in cluster-local-gateway pod:

[code]

Also, if you want to produce the same issue w/ injection yaml, you can undeploy citadel pod and remove certs (secrets) by following steps:

[code]

Then, try to restart cluster-local-gateway p

[2019-12-21 07:04] ahmetb commented on #6254
@nak3 that makes sense. :) But how should we fix docs?

[2019-12-21 11:09] buaapyj opened #6274 "Knative may not be installed, please make sure knative is installed.: deployments.apps is forbidden"
## In what area(s)?

 /area API

/kind good-first-issue

## Ask your question here:
I use gitlab install knative in a existing k8s cluster. when i use pipeline to build and deploy an example knative app(which i clone from gitlab and named knative-node-app),the build process success and deploy process got this problem. my k8s version is 1.15.6 installed by rancher. The following is the detail logs:

[2019-12-21 12:01] knative-test-reporter-robot opened #6275 "[flaky] test/conformance/runtime.TestShouldHaveStdinEOF"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestShouldHaveStdinEOF
* **Repository name**: serving

[2019-12-21 12:01] knative-test-reporter-robot opened #6276 "[flaky] test/conformance/api/v1alpha1.TestRouteAndConfigGenerateName"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestRouteAndConfigGenerateName
* **Repository name**: serving

[2019-12-21 12:01] knative-test-reporter-robot opened #6277 "[flaky] test/conformance/api/v1.TestSingleConcurrency"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestSingleConcurrency
* **Repository name**: serving

[2019-12-21 12:01] knative-test-reporter-robot opened #6278 "[flaky] test/conformance/api/v1beta1.TestSingleConcurrency"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestSingleConcurrency
* **Repository name**: serving

[2019-12-21 12:01] knative-test-reporter-robot opened #6279 "[flaky] test/e2e.TestWebSocketBlueGreenRoute"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestWebSocketBlueGreenRoute
* **Repository name**: serving

[2019-12-21 12:01] knative-test-reporter-robot opened #6280 "[flaky] test/conformance/api/v1beta1.TestCustomResourcesLimits"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestCustomResourcesLimits
* **Repository name**: serving

[2019-12-21 12:01] knative-test-reporter-robot opened #6281 "[flaky] test/upgrade.TestRunLatestServicePostDowngrade"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestRunLatestServicePostDowngrade
* **Repository name**: serving

[2019-12-21 12:01] knative-test-reporter-robot opened #6282 "[flaky] test/conformance/api/v1alpha1.TestRunLatestServiceBYOName"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestRunLatestServiceBYOName
* **Repository name**: serving

[2019-12-21 12:02] knative-test-reporter-robot opened #6283 "[flaky] test/conformance/api/v1beta1.TestSecretVolume"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestSecretVolume
* **Repository name**: serving

[2019-12-21 12:02] knative-test-reporter-robot opened #6284 "[flaky] test/conformance/api/v1beta1.TestRouteAndConfigGenerateName"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestRouteAndConfigGenerateName
* **Repository name**: serving

[2019-12-21 12:02] knative-test-reporter-robot opened #6285 "[flaky] test/conformance/api/v1beta1.TestServiceBYOName"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestServiceBYOName
* **Repository name**: serving

[2019-12-21 12:02] knative-test-reporter-robot opened #6286 "[flaky] test/conformance/api/v1beta1.TestService"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestService
* **Repository name**: serving

[2019-12-21 12:02] knative-test-reporter-robot opened #6287 "[flaky] test/conformance/api/v1.TestRouteAndConfigGenerateName"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestRouteAndConfigGenerateName
* **Repository name**: serving

[2019-12-21 15:50] mattmoor commented on #2611
/remove-lifecycle stale

@tcnghia I'd like to see us start pushing this up (I think it is higher now).  Perhaps we should identify whether we have limits and where Istio does (or other providers)?

cc @JRBANCEL who has done great work in this space :D

[2019-12-21 15:51] #1560 closed

[2019-12-21 15:52] mattmoor commented on #2985
/close

[2019-12-21 15:52] #2985 closed

[2019-12-21 19:10] vagababov commented on #6274
/remove kind/good-first-issue
It feels like your RBACs are not setup correctly?

[2019-12-22 00:45] gustavovalverde commented on #4417
I have a very valid use case using [Odoo](https://github.com/odoo/odoo), which saves all generated attachments on a NFS when using multi-tenant deployments, and this is being used on an actual k8s deployment with istio.

Knative can make things easier for us, but we can't drop the NFS (that's not even a **source of state** for us). There should be someway to accomplish this. If its not an issue wi

[2019-12-22 02:50] nak3 commented on #6100
Thank you @tcnghia. Yes, not only the multiple gateways issue, but also I found 2 more bugs on istioctl 1.4.2.

##### wrong type recognition.

[code]
##### wrong level for proxy.

[code]

As these issues were already fixed in Istio master branch I did not file the bug ticket, but it seems that we would like to wait for 1.5 or 1.4.3 or later.

[2019-12-22 11:49] buaapyj commented on #6274
I use gitlab mange the cluster with RBACs，and it's work's fun when install other app such as gitlab runner,jupyter lab,helm etc.
I print the  apiversion,
$ kubectl api-versions
scheduling.k8s.io/v1beta1
serving.knative.dev/v1alpha1
serving.knative.dev/v1beta1
storage.k8s.io/v1
there's no "serving.knative.dev/v1" which needed when install knative example apps, it's may be the wrong use apiversion?

[2019-12-22 12:01] knative-test-reporter-robot opened #6291 "[flaky] pkg/activator/net.TestRevisionWatcher/one_healthy_one_unhealthy_podIP_then_both_healthy"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestRevisionWatcher/one_healthy_one_unhealthy_podIP_then_both_healthy
* **Repository name**: serving

[2019-12-22 12:01] knative-test-reporter-robot opened #6292 "[flaky] pkg/activator/net.TestRevisionWatcher"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestRevisionWatcher
* **Repository name**: serving

[2019-12-22 12:01] knative-test-reporter-robot opened #6293 "[flaky] pkg/autoscaler.TestMetricCollectorScraper"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/autoscaler.TestMetricCollectorScraper
* **Repository name**: serving

[2019-12-22 16:44] markusthoemmes commented on #1612
Has this been done by Nima‘s work on synchronous ConfigMap validation?

[2019-12-22 16:51] markusthoemmes commented on #2073
/remove-lifecycle stale
/assign

Working on this as part of our documentation work in the autoscaling group.

[2019-12-22 18:49] vagababov commented on #1612
I think it is
/close
/assign @nimakaviani

[2019-12-22 18:49] #1612 closed

[2019-12-23 12:01] knative-test-reporter-robot opened #6295 "[flaky] test/scale.TestScaleToN/scale-10"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-10
* **Repository name**: serving

[2019-12-23 12:02] #6283 closed

[2019-12-23 12:02] #6053 closed

[2019-12-23 12:02] knative-test-reporter-robot opened #6296 "[flaky] test/e2e/istio.TestIstioProbing/HTTP_custom_port"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/istio.TestIstioProbing/HTTP_custom_port
* **Repository name**: serving

[2019-12-23 12:02] knative-test-reporter-robot opened #6297 "[flaky] test/e2e/istio.TestIstioProbing/HTTP"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/istio.TestIstioProbing/HTTP
* **Repository name**: serving

[2019-12-23 12:02] knative-test-reporter-robot opened #6298 "[flaky] test/e2e/istio.TestIstioProbing/HTTP_redirect_&_HTTPS"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/istio.TestIstioProbing/HTTP_redirect_&_HTTPS
* **Repository name**: serving

[2019-12-23 12:02] #6043 closed

[2019-12-23 12:02] #6278 closed

[2019-12-23 12:02] #6282 closed

[2019-12-23 12:02] #6275 closed

[2019-12-23 12:02] knative-test-reporter-robot opened #6299 "[flaky] test/e2e/istio.TestIstioProbing/HTTP2"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/istio.TestIstioProbing/HTTP2
* **Repository name**: serving

[2019-12-23 12:02] knative-test-reporter-robot opened #6300 "[flaky] test/e2e/istio.TestIstioProbing"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/istio.TestIstioProbing
* **Repository name**: serving

[2019-12-23 12:02] #6284 closed

[2019-12-23 12:02] knative-test-reporter-robot opened #6301 "[flaky] test/e2e/istio.TestIstioProbing/HTTP_&_HTTPS"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/istio.TestIstioProbing/HTTP_&_HTTPS
* **Repository name**: serving

[2019-12-23 12:02] #6280 closed

[2019-12-23 12:02] #6276 closed

[2019-12-23 12:02] #6052 closed

[2019-12-23 12:02] #6277 closed

[2019-12-23 12:02] #6287 closed

[2019-12-23 12:02] #6281 closed

[2019-12-23 12:02] #6285 closed

[2019-12-23 14:39] dgerd commented on #4417
@gustavovalverde Thanks for sharing your use-case. This is something that is on the radar of the API Working Group, but we do not have someone actively working on this right now.

The "Binding" pattern as talked about in https://docs.google.com/document/d/1t5WVrj2KQZ2u5s0LvIUtfHnSonBv5Vcv8Gl2k5NXrCQ/edit#heading=h.lnql658xmg9p could be a potential workaround to inject these into the deployment tha

[2019-12-23 14:54] dgerd commented on #1910
/remove-lifecycle stale

This is still relevant. Just doesn't have a current owner.

[2019-12-23 15:05] mattmoor commented on #4307
/remove-lifecycle stale

This also needs a place to put the model, so some volume work would be needed.

cc @savitaashture @markusthoemmes  who are looking at multi-container, as I've mentioned these things as related work a few times.

[2019-12-23 16:27] mattmoor opened #6303 "Ingress AppendHeaders should not actually use append semantics."
## In what area(s)?

/area networking

/kind good-first-issue

## What version of Knative?

All

## Expected Behavior

If I curl a Knative Service with `-H "K-Serving-Revision: bogus"` it should work.

## Actual Behavior

It doesn't (always) work because under the hood Istio-based ingress is using "append: true" semantics in Envoy.  I believe this is just a matter of changing which Istio field we

[2019-12-23 17:27] vagababov commented on #4167
/close
I don't think we support 1.1 anymore.

[2019-12-23 17:27] #4167 closed

[2019-12-23 17:34] vagababov commented on #3884
/remove-lifecycle stale
I'll keep this one alive for now.

[2019-12-23 17:35] vagababov commented on #3961
/remove-lifecycle stale

[2019-12-23 17:36] vagababov commented on #3961
Actually average-per-second we have now.

[2019-12-23 17:37] vagababov commented on #3961
/assign
Some things are good ehre.

[2019-12-23 19:38] nimakaviani commented on #1612
yup, this is fixed with our config map validation webhooks.

[2019-12-24 02:26] itsmurugappan commented on #5918
@tcnghia after I discussed with you in kubecon, I made this change in my cluster. I am able to whitelist the prober endpoint and enforce auth on other paths. Is it ok , if i send a pull request for this ?

[2019-12-24 05:11] mattmoor commented on #6293
cc @vagababov @markusthoemmes

This test is amazingly flaky

[2019-12-24 07:04] #6254 closed

[2019-12-24 12:02] knative-test-reporter-robot opened #6316 "[flaky] test/upgrade.TestBYORevisionPostUpgrade"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestBYORevisionPostUpgrade
* **Repository name**: serving

[2019-12-24 12:02] knative-test-reporter-robot opened #6317 "[flaky] test/upgrade.TestRunLatestServicePostUpgrade"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestRunLatestServicePostUpgrade
* **Repository name**: serving

[2019-12-24 12:02] knative-test-reporter-robot opened #6318 "[flaky] test/upgrade.TestRunLatestServicePostUpgradeFromScaleToZero"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestRunLatestServicePostUpgradeFromScaleToZero
* **Repository name**: serving

[2019-12-24 17:22] mattmoor opened #6322 "IngressTLS is overly flexible"
## In what area(s)?

/area networking
/kind good-first-issue

## What version of Knative?

HEAD

## Proposal

I think that our requirement for IngressTLS secrets should match the built-in Kubernetes type:
[code]

They must be `type: kubernetes.io/tls`, with the above fixed keys.

Today we allow IngressTLS to specify the key-space here in Spec, which I don't think we should continue to support / re

[2019-12-24 21:05] mattmoor commented on #6322
[This](https://github.com/knative/serving/pull/6324) conformance test covers the restricted semantics here, if we want more, we should expand the testing, but I don't think we should.

[2019-12-25 00:13] vagababov commented on #4696
This test doesn't exist anymore in its state.
/close

[2019-12-25 00:13] #4696 closed

[2019-12-25 00:14] vagababov commented on #4694
/close
We're using vegeta everywhere now.

[2019-12-25 00:14] #4694 closed

[2019-12-25 12:02] knative-test-reporter-robot opened #6325 "[flaky] test/conformance/ingress.TestPath//asdf"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestPath//asdf
* **Repository name**: serving

[2019-12-25 12:02] knative-test-reporter-robot opened #6326 "[flaky] test/conformance/ingress.TestBasics"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestBasics
* **Repository name**: serving

[2019-12-25 12:02] knative-test-reporter-robot opened #6327 "[flaky] test/conformance/ingress.TestPath/#00"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestPath/#00
* **Repository name**: serving

[2019-12-25 12:02] knative-test-reporter-robot opened #6328 "[flaky] test/conformance/ingress.TestMultipleHosts"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestMultipleHosts
* **Repository name**: serving

[2019-12-25 12:02] knative-test-reporter-robot opened #6329 "[flaky] test/conformance/ingress.TestPath//foo"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestPath//foo
* **Repository name**: serving

[2019-12-25 12:02] knative-test-reporter-robot opened #6330 "[flaky] test/conformance/ingress.TestPath"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestPath
* **Repository name**: serving

[2019-12-25 12:02] knative-test-reporter-robot opened #6331 "[flaky] test/conformance/ingress.TestPath//baz"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestPath//baz
* **Repository name**: serving

[2019-12-25 12:02] knative-test-reporter-robot opened #6332 "[flaky] test/conformance/ingress.TestPath//bar"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestPath//bar
* **Repository name**: serving

[2019-12-25 12:15] markusthoemmes commented on #3775
Gonna close this until further notice.

/close

[2019-12-25 12:15] #3775 closed

[2019-12-25 21:26] adrcunha commented on #4263
/remove-lifecycle stale

[2019-12-25 22:53] duglin commented on #3687
/remove-lifecycle stale

@markusthoemmes I don't know if it's a duplicate of #1185 because I'm not sure what that one is asking for. The title sounds like it might be, but the description is kind of vague and the author never clarified based on Evan's question

[2019-12-26 12:02] #6318 closed

[2019-12-26 12:02] #5770 closed

[2019-12-26 12:02] #6316 closed

[2019-12-26 12:02] #6317 closed

[2019-12-26 12:02] #5369 closed

[2019-12-26 12:27] duglin commented on #4589
/remove-lifecycle stale

[2019-12-26 14:19] MIBc commented on #6239
I will try

[2019-12-26 15:46] dgerd commented on #4251
Available API versions and upgrade scenarios are being covered in https://github.com/knative/community/pull/30.

We have not heard this to be a real issue and we now have the 2 most recent versions with all 3 API endpoints exposed. Going to close this.

[2019-12-26 15:46] #4251 closed

[2019-12-26 15:46] dgerd commented on #4975
IIRC this was due to the 1.13.9 and earlier CRD bug when hosting multiple versions.

Tests are no longer flaky. Resolving.

[2019-12-26 15:46] #4975 closed

[2019-12-26 15:50] dgerd commented on #4934
We have coverage on this now with a new upgrade test.

The old upgrade tests still use the old shape. We should fix the existing tests in 0.13 when we move the v1alpha1 and v1beta1 endpoints to be 'optionally' installed.

[2019-12-26 15:50] dgerd commented on #4934
/remove-lifecycle stale

[2019-12-26 15:52] dgerd commented on #4659
Resolving this as duplicate of https://github.com/knative/serving/issues/5822

See https://github.com/mattmoor/bindings#googlecloudsqlbinding as a potential workaround for this Cloud SQL in current release.

[2019-12-26 15:52] #4659 closed

[2019-12-26 15:54] dgerd commented on #4507
This issue was originally for Knative 0.6. It looks like we may have similar issues in HEAD, but that is being tracked in #6255.

Resolving as duplicate.

[2019-12-26 15:54] #4507 closed

[2019-12-26 16:27] mattmoor commented on #6303
cc @bbrowning @ilackarms @concaf

[2019-12-26 18:53] vagababov commented on #2930
/remove-lifecycle stale
@markusthoemmes are you still interested in pursuing this?

[2019-12-26 20:27] coryrc commented on #4421
I will be working on this sometime Jan-Mar of 2019. I edited the first post as my goals have changed slightly as I have learned more about the system.

[2019-12-26 20:39] coryrc commented on #6109
Third alternative is to move all constants to one file under test/.

[2019-12-26 20:48] coryrc opened #6338 "Conformance Tests Require PATCH, but it is not Required in API Spec"
## In what area(s)?

/area API
/area test-and-release

In the conformance tests, the PATCH endpoint is used extensively. PATCH is not a required API operation, so the tests should not use it or at least provide the option to not use it.

Related #6264

[2019-12-26 20:49] coryrc commented on #6338
cc @dgerd

[2019-12-26 23:19] mattmoor commented on #6322
/assign

I have a PR out for this.

[2019-12-26 23:19] tcnghia commented on #6303
/assign

[2019-12-26 23:22] dgerd commented on #6338
PATCH is a RECOMMENDED operation. We have historically tested against MUST/SHOULD/RECOMMENDED statements in the contract.

That said if you are up for it I would not be opposed to removing it from existing tests and making a new test that explicitly tests patch functionality. I am not sure how much effort this will be.

[2019-12-27 00:30] vagababov commented on #4865
/remove-lifecycle stale

[2019-12-27 00:32] vagababov commented on #4066
/remove-lifecycle stale
/cc @ZhiminXiang @nak3
Anyone working on this?

[2019-12-27 00:36] coryrc commented on #6109
/assign

Flags aren't great because they would all need to be defined in one place and ensure they're included in every single test, or trying to run all tests with a flag only in some packages would throw errors.

Parsed JSON is basically just constants file + override, because you'd still need to define all the type in one place.

[2019-12-27 05:11] #6322 closed

[2019-12-27 09:29] lpwwd opened #6346 "helloworld-go IngressNotConfigured, Ingress has not yet been reconciled"
## helloworld-go status is Unknown:
App helloworld-go doesn't work, why?

kubectl get ksvc helloworld-go -o yaml

apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"serving.knative.dev/v1","kind":"Service","metadata":{"annotations":{},"name":"helloworld-go","namespace":"default"},"spec":{"template":

[2019-12-27 12:02] knative-test-reporter-robot opened #6347 "[flaky] test/conformance/ingress.TestTimeout/no_delays_is_OK"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestTimeout/no_delays_is_OK
* **Repository name**: serving

[2019-12-27 12:02] knative-test-reporter-robot opened #6348 "[flaky] test/conformance/ingress.TestTimeout/initial_delay_over_timeout_is_NOT_ok"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestTimeout/initial_delay_over_timeout_is_NOT_ok
* **Repository name**: serving

[2019-12-27 12:02] knative-test-reporter-robot opened #6349 "[flaky] test/conformance/ingress.TestTimeout/initial_delay_less_than_timeout_is_ok"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestTimeout/initial_delay_less_than_timeout_is_ok
* **Repository name**: serving

[2019-12-27 12:02] knative-test-reporter-robot opened #6350 "[flaky] test/conformance/ingress.TestTimeout/large_delay_after_headers_is_ok"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestTimeout/large_delay_after_headers_is_ok
* **Repository name**: serving

[2019-12-27 12:02] #6293 closed

[2019-12-27 12:02] knative-test-reporter-robot opened #6351 "[flaky] test/conformance/ingress.TestTimeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestTimeout
* **Repository name**: serving

[2019-12-27 12:02] #6329 closed

[2019-12-27 13:38] nak3 commented on #4438
/remove-lifecycle stale
/assign

[2019-12-27 15:04] ilackarms opened #6353 "kubectl apply -f serving-core.yaml fails with 'no endpoints available for service "webhook"'"
/area networking

## What version of Knative?

## Expected Behavior

install without error

## Actual Behavior

run `kubectl apply -f serving-core.yaml`

Error in output:

[code]

Presumably this is happening because `kubectl apply` creates some Knative Custom Resources (or something else consumed by this webhook) before the webhook is available

## Steps to Reproduce the Problem

The issue is not

[2019-12-27 18:32] tcnghia opened #6356 "We need autoscale e2e tests with gRPC"
## Describe the feature

We need e2e tests to ensure that autoscaling happens when using gRPC.

[2019-12-27 21:44] tcnghia opened #6362 "Name collision when having two Route with name `${route}` and `${route}-mesh`"
## What version of Knative?

HEAD

## Expected Behavior
I can create two Routes named `route` and `route-mesh`.

## Actual Behavior
I can't because the VirtualServices of these two Routes will collide names.

## Steps to Reproduce the Problem
Create two Routes named `route` and `route-mesh`.

[2019-12-27 21:46] tcnghia commented on #6362
Ideally we should have use @vagababov 's ChildName utility.  However that may cause a problem when rolling out (deleting VS and immediately creating another one with same content but different name).

Since Route names aren't allowed to have trailing dashes, for `route-mesh` we could use `route--mesh` as child VirtualService name instead, avoiding the collision.  It's uglier, but will be easier to

[2019-12-27 22:26] tcnghia opened #6363 "Istio ingress reconciler should no longer delete VirtualService based on Route labels"
## What version of Knative?

0.13.x

## Expected Behavior

We should not use Route labels to reconcile KIngress.  In 0.12 we are adding an Ingress label to the child VirtualServices.  We should start using that in v0.13.

## Actual Behavior

We currently use Route labels to reconcile KIngress in our Istio impl.
## Steps to Reproduce the Problem

[2019-12-27 23:35] tcnghia opened #6367 "KIngress should allow 'RetryOn' customization and clearly document default value"
## What version of Knative?
HEAD

## Expected Behavior
KIngress should document clear expectation about what is the retryable conditions and may be allow setting them.

KIngress tests should cover the retryable conditions.

## Steps to Reproduce the Problem

[2019-12-28 03:33] kameshsampath commented on #5802
I have seen this with even Knative `0.11.0` on latest minikube. In my case I see it more often when I try to update the service and see new revision getting created. The serving controller says it has processed  it successfully and even the `kubectl get ksvc` shows latest created service but then `the latest ready` attribute does not get updated. It takes super long for it to be updated and someti

[2019-12-28 03:54] #6303 closed

[2019-12-28 12:02] knative-test-reporter-robot opened #6371 "[flaky] test/e2e.TestDestroyPodWithRequests"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDestroyPodWithRequests
* **Repository name**: serving

[2019-12-28 12:02] #6328 closed

[2019-12-28 14:09] mattmoor commented on #6367
We need to make sure this doesn’t leak Envoy details, as some folks might not use Envoy.

We also need more conformance coverage for cases beyond simple 5xx, if possible.

[2019-12-28 14:14] mattmoor opened #6373 "HTTP -> HTTPS redirects (and disable) thru Ingress spec"
/area networking

Today implementations of Ingress have to read config-network and know our schema to implement this.  Instead Route should read this and incorporate it into the Ingress schema.

This also needs conformance testing, and can build on the IngressTLS test.

cc @ZhiminXiang

[2019-12-28 14:17] mattmoor opened #6374 "Ingress conformance test with path and percent"
/area networking

We could use a conformance test covering mixed use of path based routing and percentage splits.

Originally suggested by @vagababov

[2019-12-28 14:23] mattmoor opened #6375 "Ingress conformance test for visibility"
/area networking

We need ingress conformance coverage for visibility (incl. mixed visibility, and mixed with some other features we have like % split and path based routing)

/assign tcnghia

[2019-12-28 14:25] mattmoor commented on #6375
I believe Nghia is looking at fixing the special casing of svc.cluster.local first 🙏

[2019-12-28 14:39] mattmoor opened #6376 "Principles for expanding Ingress"
/area networking

In line with the release principles, we should have principles governing the introduction of features into Ingress, such that it isn’t held at the lowest common denominator of current implementations.

For example, there is a proposal to allow routes to perform header based routing, and a long-standing item to support vanity domains (likely needs host rewriting).

/assign tcnghia

[2019-12-28 14:54] mattmoor commented on #6376
I think my $0.02 on this would be that we should introduce features to the ingress API and conformance for release X.  Once release X is the minimum supported version upstream (~6 months), or all documented ingress providers support the integration (whichever comes first), then a new Ingress feature may be consumed.

We may want to consider the meta issue here: how do we expand MUST conformance?

[2019-12-28 15:09] mattmoor commented on #6375
/kind networking

[2019-12-28 15:10] mattmoor commented on #6375
Weird that it complained but also labeled things (cc @chaodaiG @adrcunha )

[2019-12-28 23:20] adrcunha commented on #6375
The area label was added before your command. There's some differences between the described behavior and the actual behavior of /label, I wouldn't be surprised that it also happens for /kind. I filed an issue for /label, let me check /kind and file an issue, if that's also the case (or fix it if it's not).

[2019-12-29 12:02] knative-test-reporter-robot opened #6378 "[flaky] test/e2e.TestGRPCStreamingPingViaActivator"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestGRPCStreamingPingViaActivator
* **Repository name**: serving

[2019-12-29 12:02] #6351 closed

[2019-12-29 12:02] #6348 closed

[2019-12-29 12:02] #6347 closed

[2019-12-29 12:02] #6330 closed

[2019-12-29 12:02] #6350 closed

[2019-12-29 12:02] #6331 closed

[2019-12-29 12:02] knative-test-reporter-robot opened #6379 "[flaky] test/conformance/ingress.TestIngressTLS"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressTLS
* **Repository name**: serving

[2019-12-29 12:02] #6325 closed

[2019-12-29 12:02] #6326 closed

[2019-12-29 12:02] #6332 closed

[2019-12-29 12:02] #6327 closed

[2019-12-29 12:02] #6349 closed

[2019-12-29 12:02] knative-test-reporter-robot opened #6380 "[flaky] test/e2e.TestHelloWorld"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestHelloWorld
* **Repository name**: serving

[2019-12-29 15:05] gustavovalverde commented on #4417
@dgerd @mattmoor I'd really appreciate an example on how to use bindings for this use case. I'll test it and give the feedback here so others with the same restriction can use this workaround.

[2019-12-29 22:52] mattmoor commented on #4417
@dgerd and I spent some time discussing this idea before the holidays began.  I think he wanted to try to PoC it.  If not, then he and I should probably write up a design doc to capture our thoughts/discussion.

[2019-12-30 02:22] benzhonghai008 opened #6381 "error when creating "xxx.yaml" by Knative : Internal error occurred: admission webhook "webhook.serving.knative.dev" denied the request: mutation failed xxx"
Hi,
I encountered the an error in "serving.knative.dev/release: v0.10.0", when I try to deploy the sevice. The error message as following:
[code]

While, I have checked the [Knative Serving API](https://knative.dev/docs/reference/serving-api/#serving.knative.dev/v1.RevisionTemplateSpec),
![image](https://user-images.githubusercontent.com/11565829/71511915-01b1eb00-28cf-11ea-803a-141a4bcc1ef4.png)

[2019-12-30 09:08] #2835 closed

[2019-12-30 12:02] knative-test-reporter-robot opened #6382 "[flaky] test/e2e.TestAutoscaleUpCountPods"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleUpCountPods
* **Repository name**: serving

[2019-12-30 12:02] knative-test-reporter-robot opened #6383 "[flaky] test/e2e.TestRPSBasedAutoscaleUpCountPods/kpa"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestRPSBasedAutoscaleUpCountPods/kpa
* **Repository name**: serving

[2019-12-30 12:02] knative-test-reporter-robot opened #6384 "[flaky] test/e2e.TestRPSBasedAutoscaleUpCountPods"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestRPSBasedAutoscaleUpCountPods
* **Repository name**: serving

[2019-12-30 12:02] knative-test-reporter-robot opened #6385 "[flaky] test/e2e.TestAutoscaleUpCountPods/hpa"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleUpCountPods/hpa
* **Repository name**: serving

[2019-12-30 12:02] knative-test-reporter-robot opened #6386 "[flaky] test/e2e.TestAutoscaleUpDownUp"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleUpDownUp
* **Repository name**: serving

[2019-12-30 12:02] knative-test-reporter-robot opened #6387 "[flaky] test/e2e.TestSubrouteLocalSTS"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSubrouteLocalSTS
* **Repository name**: serving

[2019-12-30 12:02] knative-test-reporter-robot opened #6388 "[flaky] test/e2e.TestSubrouteLocalSTS/short"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSubrouteLocalSTS/short
* **Repository name**: serving

[2019-12-30 18:33] guanchzhou commented on #6265
Having the same issue with serving 0.11.1 as well.

[2019-12-30 20:12] vagababov commented on #6374
/assign

[2019-12-31 12:02] #6380 closed

[2019-12-31 12:02] knative-test-reporter-robot opened #6393 "[flaky] test/e2e.TestTargetBurstCapacity"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestTargetBurstCapacity
* **Repository name**: serving

[2019-12-31 12:02] #6279 closed

[2019-12-31 12:02] #6378 closed

[2019-12-31 13:33] duglin commented on #6146
@tcnghia should a non-web-socket stream work?

[2020-01-01 12:02] #6387 closed

[2020-01-01 12:02] #6384 closed

[2020-01-01 12:02] #6383 closed

[2020-01-01 12:02] #6385 closed

[2020-01-01 12:02] #6382 closed

[2020-01-01 12:02] #6388 closed

[2020-01-02 12:02] #6393 closed

[2020-01-02 19:07] #6374 closed

[2020-01-02 19:15] tcnghia opened #6400 "Deflake Istio probe tests"
## What version of Knative?

HEAD

## Expected Behavior
Istio probing tests not flaky.

## Actual Behavior
They are flaky.  This could be related to refactoring in https://github.com/knative/serving/pull/6233 and https://github.com/knative/serving/pull/6271 .

/assign @tcnghia

[2020-01-02 19:16] tcnghia opened #6401 "Deflake IngressTLS tests"
## What version of Knative?

HEAD

## Expected Behavior
IngressTLS conformance tests are not flaky.

## Actual Behavior
They are flaky.

/assign @ZhiminXiang

[2020-01-02 19:45] ssmall commented on #4470
/remove-lifecycle stale

[2020-01-02 20:14] #6224 closed

[2020-01-03 00:57] tcnghia opened #6407 "Ingress prober may need additional timeout settings"
## What version of Knative?

HEAD

## Expected Behavior
Ingress prober specifies timeout settings simillar to that of https://github.com/knative/pkg/blob/master/network/transports.go#L63 .

## Actual Behavior
It currently doesn't specify a timeout setting.

## Steps to Reproduce the Problem

[2020-01-03 01:05] jihuin commented on #6353
Could you check the target port of webhook service by running `kubectl get svc -n knative-serving webhook -oyaml`? The target port should be 8443, but may be changed to 443 accidentally.

[2020-01-03 03:17] morfies opened #6409 "pod prometheus-system* consume very high cpu usage"
## What version of Knative?

## Expected Behavior

prometheus-system-0/1 should not consume much cpu usage.

## Actual Behavior
![image](https://user-images.githubusercontent.com/10559010/71705390-7aa6ca80-2e1a-11ea-8d81-c8e0db6a2d7e.png)

## Steps to Reproduce the Problem

After running kn cluster for some days, this issue will happen frequently. Can I limit the usage of monitoring or just disabl

[2020-01-03 03:18] morfies commented on #6409
![image](https://user-images.githubusercontent.com/10559010/71705447-cb1e2800-2e1a-11ea-92eb-8be0c7af261b.png)

[2020-01-03 05:05] patrickshan opened #6410 "reduce webhook timeoutSeconds config"
## Describe the feature
Currently all the webhook provisioned by knative is using the default 30s timeout which is a lot since most of the webhook services are running inside the same cluster. That will make kube-apiserver very slow when there is any issue with those webhook service backend as it needs to wait for 30s to time out. we should reduce it, maybe 5 seconds or even less. Some webhook tim

[2020-01-03 05:54] mattmoor opened #6412 "config-network shouldn't contain Istio configuration"
/area networking

## What version of Knative?

HEAD

## Problem

`config-network` contains `istio.sidecar.includeOutboundIPRanges`, which should live in `config-istio` and should not be needed by non-Istio controllers.

cc @tcnghia

[2020-01-03 18:03] JRBANCEL commented on #6269
That's a change in behavior.
Currently, we **only validate that the Envoy runs the expected config** by probing all known listening ports and considering one successful probe (no matter which port/protocol) a success for that Envoy pod. We do not validate that the config is correct.

You are proposing that probes on all listening ports must succeed. If HTTP and HTTPS are exposed for example and HT

[2020-01-03 19:35] #6400 closed

[2020-01-03 20:57] mattmoor opened #6421 "Eliminate Istio annotations from core resources."
/area networking

## What version of Knative?

HEAD

## Expected Behavior

We should have zero Istio annotations on our core components.

## Actual Behavior

Virtually every deployment we have contains a manual sidecar annotation, one even manipulating outbound IP ranges.  We also have a namespace level annotation to enable injection.

## Steps to Reproduce the Problem

Look at the failures in: ht

[2020-01-03 21:04] #6401 closed

[2020-01-03 21:15] tcnghia opened #6422 "Ingress prober should not share Pod State between different Ingress"
## What version of Knative?

HEAD
## Expected Behavior

Probing of different ingresses won't interfere with one another.

## Actual Behavior
The field `podStates` in `status.Prober` is shared https://github.com/knative/serving/blob/master/pkg/network/status/status.go#L111 , therefore probing of different ingresses may interfere with each other.

## Steps to Reproduce the Problem

[2020-01-03 21:17] tcnghia commented on #6422
/cc @JRBANCEL @mattmoor

I filed this coming from a TODO of #6406 .

[2020-01-03 21:42] JRBANCEL commented on #6422
/assign

[2020-01-03 23:49] mattmoor commented on #6421
We may have found a way to land the linked PR with MOST of the annotations removed, and just the namespace label remaining.  This issue should track removing what remains.

One caveat is that I believe we leave an annotation on the Istio controller, but that's fine because it is an istio annotation on the istio controller 🤓

[2020-01-04 12:02] knative-test-reporter-robot opened #6428 "[flaky] pkg/network/status.TestCancelIngresProbing"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/network/status.TestCancelIngresProbing
* **Repository name**: serving

[2020-01-05 12:02] knative-test-reporter-robot opened #6436 "[flaky] pkg/pool.TestParallelismNoErrors/three_workers"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/pool.TestParallelismNoErrors/three_workers
* **Repository name**: serving

[2020-01-05 12:02] knative-test-reporter-robot opened #6437 "[flaky] pkg/network/status.TestCancelPodProbing"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/network/status.TestCancelPodProbing
* **Repository name**: serving

[2020-01-05 12:02] knative-test-reporter-robot opened #6438 "[flaky] pkg/pool.TestParallelismNoErrors"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/pool.TestParallelismNoErrors
* **Repository name**: serving

[2020-01-06 12:02] #6379 closed

[2020-01-06 12:02] knative-test-reporter-robot opened #6441 "[flaky] test/conformance/ingress.TestWebsocketSplit"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestWebsocketSplit
* **Repository name**: serving

[2020-01-06 12:02] #6291 closed

[2020-01-06 12:02] knative-test-reporter-robot opened #6442 "[flaky] test/conformance/ingress.TestUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestUpdate
* **Repository name**: serving

[2020-01-06 19:38] vagababov commented on #6176
The doc: https://docs.google.com/document/d/1B6saI12pjklRQrZYL2sn9Y7CtDqxkMoBABmEijwPy54/edit#heading=h.n8a530nnrb

[2020-01-06 19:53] ZhiminXiang opened #6445 "Need a conformance test for Knative Certificate"
## Describe the feature
Similarly like Ingress conformance test (https://github.com/knative/serving/tree/master/test/conformance/ingress), we should also have conformance test for Knative Certificate so that we can validate alternate implementations as they appear.

It will also be helpful if we plan to use Knative Certificate as the API for manual certificate provision.

[2020-01-06 22:19] #6101 closed

[2020-01-06 22:57] npurdy-tyro commented on #6081
We're experiencing this exact same problem. I can isolate the issue by turning the istio rbac off and on:
`apiVersion: "rbac.istio.io/v1alpha1"
kind: ClusterRbacConfig
metadata:
  name: default
spec:
  mode: 'ON'`

I can create an RBAC policy that allows requests to the service, which when I exec into the istio-proxy sidecar on the autoscaler I can prove its working by curling port 80 and getting

[2020-01-07 01:11] vagababov commented on #5981
/assign
/milestone Serving 0.12

[2020-01-07 01:11] vagababov commented on #5981
/milestone Serving 0.12.x

[2020-01-07 06:34] morfies commented on #6040
It's working, thanks @nak3
My config is :

[code]

[2020-01-07 06:34] #6040 closed

[2020-01-07 12:02] knative-test-reporter-robot opened #6451 "[flaky] test/conformance/api/v1alpha1.TestRevisionTimeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestRevisionTimeout
* **Repository name**: serving

[2020-01-07 12:02] #6267 closed

[2020-01-07 12:02] knative-test-reporter-robot opened #6452 "[flaky] test/conformance/api/v1.TestService"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestService
* **Repository name**: serving

[2020-01-07 12:02] #6438 closed

[2020-01-07 12:02] #6428 closed

[2020-01-07 12:02] knative-test-reporter-robot opened #6453 "[flaky] test/conformance/api/v1alpha1.TestRunLatestService"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestRunLatestService
* **Repository name**: serving

[2020-01-07 12:02] #6436 closed

[2020-01-07 12:02] knative-test-reporter-robot opened #6454 "[flaky] test/conformance/api/v1beta1.TestBlueGreenRoute"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestBlueGreenRoute
* **Repository name**: serving

[2020-01-07 13:41] #6239 closed

[2020-01-07 19:44] mattmoor opened #6461 "Consider adding validation for release.sh"
This came up in changes to generate-yamls.sh in Serving (https://github.com/knative/serving/pull/6431#issuecomment-571714135) , but this script  is unsuitable to ask developers to run locally because:
1. Some developers (like me) have broad enough permissions to actually cut a release and it isn't worth the risk.
2. The script also assumes that you have GCP access, which isn't a reasonable expecta

[2020-01-07 23:33] mattmoor opened #6462 "Istio configmap shouldn't be validated by shared webhook."
/area networking

## What version of Knative?

HEAD

## Expected Behavior

Omitting Istio should result in zero Istio references.

## Actual Behavior

cmd/webhook/main.go as a reference to the istio configmap.

[2020-01-07 23:33] mattmoor commented on #6462
cc @tcnghia

[2020-01-08 12:02] knative-test-reporter-robot opened #6466 "[flaky] pkg/autoscaler.TestMultiScalerScaleToZero"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/autoscaler.TestMultiScalerScaleToZero
* **Repository name**: serving

[2020-01-08 12:02] knative-test-reporter-robot opened #6467 "[flaky] pkg/reconciler/ingress.TestGlobalResyncOnUpdateNetwork"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/ingress.TestGlobalResyncOnUpdateNetwork
* **Repository name**: serving

[2020-01-08 12:02] #6441 closed

[2020-01-08 12:02] #6295 closed

[2020-01-08 12:02] #6266 closed

[2020-01-08 19:30] #6422 closed

[2020-01-08 21:17] anokun7 commented on #6353
I am encountering this issue consistently on my Kubernetes cluster running v1.14.

The target port of `webhook` is 8443.

[2020-01-08 21:33] nimakaviani opened #6471 "Defaulting hindered in the presence of BYO revision names and reconciliation of resources"
## What version of Knative?

Knative defaulting involves the mutating webhook applying the defaults to Knative resources. This in theory implies that only those resources going through the webhooks should receive new defaults while the resources already at rest (stored in etcd) should be left intact.

However, an update to the Knative controllers triggers a reconciliation of existing resources, se

[2020-01-08 21:56] anniefu commented on #5972
/assign @anniefu

[2020-01-08 22:50] ZhiminXiang commented on #6033
This is fixed by https://github.com/knative/pkg/pull/971

[2020-01-08 22:50] #6033 closed

[2020-01-09 00:24] dgerd commented on #6471
The reconciler was never supposed to be in the business of applying defaults. The code that sets defaults in the Service reconciler has in the comment: `This won't result in this getting written back to the API Server, but lets downstream logic make assumptions about defaulting.`. Based on the behavior you are reporting it seems like this comment seems to not mirror the behavior that is being seen

[2020-01-09 04:39] ZhiminXiang opened #6474 "Auto TLS Beta"
## Describe the feature
This is the issue to tracking the work for Auto TLS Beta.

Below are the work items I think we need for Auto TLS Beta:
1. Support cert-manager 0.11 and above with their v1alpha2 APIs https://github.com/knative/serving/issues/6011

2. E2E tests for Auto TLS feature https://github.com/knative/serving/issues/4066, including testing the following cases:
- Certificate provision

[2020-01-09 05:39] daisy-ycguo commented on #6346
@lpwwd
Please use the latest version of Knative and try again.

The [Knative Installation Guide](https://knative.dev/v0.9-docs/install/knative-with-any-k8s/) in doc uses Knative 0.9.0. We are now on Knative 0.11.0.

You can change 0.9.0 to 0.11.0 when you are installing Knative and try again.

[2020-01-09 06:21] lpwwd commented on #6346
I am using Knative v0.11.0.

[2020-01-09 06:52] nak3 opened #6475 "some of e2e mesh mode tests are failing as autoscaler does not have istio sidecar"
## In what area(s)?

/area networking
/area test-and-release

## What version of Knative?

HEAD

## Actual Behavior

Please refer to current test mesh mode's grid - e.g https://testgrid.knative.dev/serving#istio-1.3-mesh&width=20&exclude-non-failed-tests=50&sort-by-flakiness=50

## Root cause

autoscaler cannot connect to  to service's `9090` port and so scaling down does not work.

[code]

This h

[2020-01-09 11:48] Iamlovingit opened #6477 "change the resourceboundary.go, code not work! where is wrong?"
## Ask your question here:

I have changed the https://github.com/knative/serving/blob/1d263950f9f2fea85a4dd394948a029c328af9d9/pkg/reconciler/revision/resources/resourceboundary.go#L30, give more resource to `queue-proxy`, at least `200m to 400m`. Then i run the `ko apply -f config/`, and `apply` a `hello-world` demo.
Describe the pod, the container resource is not changed.  Where is wrong?
[code

[2020-01-09 11:51] feclist opened #6478 "gRPC-web and Knative compatibility question"
## Ask your question here:
Hey all,

We are trying to get a gRPC python server to run as a Knative service that supports gRPC-web. Now after browsing around the docs/the overall internet we couldn't find many resources as to how to get this to work.

[A brilliant blog written by Venil Noronha](https://venilnoronha.io/seamless-cloud-native-apps-with-grpc-web-and-istio) offers a guide as to deploy a

[2020-01-09 12:02] #6451 closed

[2020-01-09 12:02] knative-test-reporter-robot opened #6479 "[flaky] pkg/network/status.TestPartialPodCancellation"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/network/status.TestPartialPodCancellation
* **Repository name**: serving

[2020-01-09 12:02] #6452 closed

[2020-01-09 12:02] #6454 closed

[2020-01-09 12:20] Iamlovingit commented on #6477
follow #4151

[2020-01-09 13:03] duglin commented on #6471
It does sound like a bug, but I have a question... what happens during an upgrade of Knative where a new field is added to the Revision CRD?  If defaults are only applied via the webhook, then this new field would have some variant of "empty", even if there is some default value that would normally be set. What if "empty" is not a valid value? Is this call to setDefaults() meant to deal with these

[2020-01-09 13:38] taragu commented on #6471
We will have to consider scenarios such as the new field user added to the Revision CRD is not the default "empty" value. We should only whitelist the default "empty" value for the new field at the time of upgrade. If the new field has a different value for the byo revision name ksvc, user will have to change the byo revision name, otherwise an error will be thrown [here](https://github.com/knativ

[2020-01-09 14:39] dearboll commented on #6114
@ksauce  Hello, how to add the configmap to Knative controller ? Would you please show me an example?

[2020-01-09 16:00] tshak commented on #6074
Happy New Year! While this is not a critical issue, it seems like it's a simple change. Is there anything that I can do to help resolve this?

[2020-01-09 16:02] feclist commented on #6478
After more tinkering around we're almost confident in the fact that we can't specify a port for the k8s Service as istio would need to have a port defined with the name `grpc-port`. This is described in the blog by Venil Noronha.

I cannot find any resources on how this would be possible as the knative spec doesn't allow for a service to get a port assigned (which is sensible I guess..)

[2020-01-09 17:01] heprotecbuthealsoattac opened #6482 "'InternalError' failed to create Ingress: the server could not find the requested resource (post ingresses.networking.internal.knative.dev)""
## What version of Knative?

0.11.x

## Expected Behavior

helloworld-go deploys and is reachable via istio ingress.

## Actual Behavior

NAME            URL                                             LATESTCREATED         LATESTREADY           READY     REASON
helloworld-go   https://helloworld-go.default.k8s.my.domain   helloworld-go-b2vd2   helloworld-go-b2vd2   Unknown   RevisionMissing

## S

[2020-01-09 17:02] heprotecbuthealsoattac commented on #6482
I should've mentioned that it's a fresh install (following the knative docs).

[2020-01-09 17:06] heprotecbuthealsoattac commented on #6482
Also networking istio has a ton of errors like: `knative.dev/pkg/controller/controller.go:456: Failed to list *v1alpha1.Ingress: the server could not find the requested resource (get ingresses.networking.internal.knative.dev)`

[2020-01-09 17:21] tcnghia commented on #6482
Can you please show how you installed Knative (which was the yaml file you used)?  It looks like this resource https://github.com/knative/serving/blob/master/config/core/resources/ingress.yaml haven't been installed.

[2020-01-09 18:04] nimakaviani commented on #6471
That probably is the intention here. To @dgerd 's point though, and also from the comments [here](https://github.com/knative/serving/blob/master/pkg/reconciler/service/service.go#L133-L137), these new defaults weren't supposed to be written back to etcd.

[code]

But the service reconciler is trying to write them back. so the question is whether to skip updating the old objects or loosen our valid

[2020-01-09 18:59] chizhg opened #6484 "Move zipkin to knative-monitoring namespace"
## Describe the feature
In monitoring release, all resources are installed in `knative-monitoring` namespace, except `zipkin`, which is in `istio-system` namespace. See https://github.com/knative/serving/blob/4f7130bc97dfdf0040dd0975e27451a5097abfad/config/monitoring/tracing/zipkin/100-zipkin.yaml#L19.

It's causing some trouble in CI/CD flow, and it does not make much sense to have it alone in `i

[2020-01-09 19:47] tcnghia commented on #5918
@itsmurugappan Yes, feel free to send a PR.  Serving 0.12.x will cut January 21 so we probably want to have the PR land next week.

[2020-01-09 19:49] #6407 closed

[2020-01-09 20:33] itsmurugappan commented on #5918
Thank you. Will send it soon.

[2020-01-09 20:56] tcnghia commented on #5918
@itsmurugappan I just opened https://github.com/knative/pkg/pull/984 to save you the trouble of updating across repos.

[2020-01-09 21:33] tcnghia commented on #6371
/assign

[2020-01-09 22:26] itsmurugappan commented on #5918
Thank you @tcnghia . Please correct me if I am wrong.
I made the change in this [func](https://github.com/knative/serving/blob/d54cc1dd5326ca406bd88d117d6ad5ff0d8c319f/pkg/activator/net/revision_backends.go#L134) as below

[code]

Since the url was getting created here, I added the path. I will change this to use 'WithPath' method you had created. Also please let me know if the path name is ok ?

[2020-01-09 22:40] tcnghia commented on #5918
@itsmurugappan yes, that won't require my change in knative/pkg#984.  In fact I think it's clearer than using WithPath.

Please extract your path into a constant in the file.  We can probably use something like `/_internal/knative/activator/probe` as a starting point.  Others will chime in when they review.

Thanks  alot.

[2020-01-09 23:22] #6371 closed

[2020-01-10 04:11] vagababov commented on #4114
/close
For now we're using Mako. If we re-evaluate that we might choose different platform.

[2020-01-10 04:11] #4114 closed

[2020-01-10 04:11] vagababov commented on #2644
/remove-lifecycle stale
/assign @chizhg

[2020-01-10 04:16] chizhg commented on #4119
/close

[2020-01-10 04:16] #4119 closed

[2020-01-10 04:42] tatsuhiro-t opened #6488 ""Duplicate entry of domain" error with local-gateway.mesh: "mesh""
## What version of Knative?

0.11.x

## Expected Behavior

I setup istio-cni and auto sidecar injection and enabled mesh.
And add `local-gateway.mesh: "mesh"` to ConfigMap config-istio.

I got "Internal:Only unique values for domains are permitted. Duplicate entry of domain foo.bar.svc" in istio-pilot log and `istioctl proxy-status` reported RDS STALE.

If I understand correctly, if I add `local-g

[2020-01-10 04:48] tatsuhiro-t commented on #6488
I got virtualservices which share the same foo.bar.svc.  Is it something that pilot complains?

[code]

[2020-01-10 04:59] nak3 commented on #6488
istio-cni is planned but not tested for now. So, it might have some problems.
Would you mind letting us know your Istio version?

[2020-01-10 05:15] tatsuhiro-t commented on #6488
I use istio 1.4.2.

[2020-01-10 05:26] tatsuhiro-t commented on #6488
I'll check that if it works without istio-cni.

[2020-01-10 05:27] nak3 commented on #6488
@tatsuhiro-t  Thank you, but no problem. I have checked it now and produced same error without istio-cni.

[code]

[2020-01-10 07:52] Ladicle opened #6489 "Get stuck in RevisionMissing/Unknown state when setting invalid user port"
## What version of Knative?

0.10.x

## Expected Behavior

The serving condition transits to error status and shows a clear error message even if you set an invalid user port by mistake.

## Actual Behavior

When you set an invalid user port into the serving resource, its condition gets stuck in `RevisionMission/Unknown` status.

## Steps to Reproduce the Problem

1. Prepare any application image

[2020-01-10 07:55] tatsuhiro-t commented on #6488
Is this something related to https://github.com/istio/istio/issues/17837 ?
It looks like they discuss the similar situation.

[2020-01-10 12:02] knative-test-reporter-robot opened #6490 "[flaky] pkg/reconciler/autoscaling/kpa.TestGlobalResyncOnUpdateAutoscalerConfigMap"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/autoscaling/kpa.TestGlobalResyncOnUpdateAutoscalerConfigMap
* **Repository name**: serving

[2020-01-10 12:02] knative-test-reporter-robot opened #6491 "[flaky] pkg/activator/net.TestRevisionWatcher/podIP_slow_ready"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestRevisionWatcher/podIP_slow_ready
* **Repository name**: serving

[2020-01-10 12:02] #6467 closed

[2020-01-10 12:02] #6466 closed

[2020-01-10 13:26] beriberikix opened #6492 "Alternative Network Environments in Serving Runtime Contract (ex. UDP or TCP)"
Currently, the Serving Runtime Contract requires HTTP as the inbound transport (see [here](https://github.com/knative/serving/blob/master/docs/runtime-contract.md#network-environment).) There are use cases where Knative would be a great solution but where HTTP is not used (IoT, Gaming.)

Has there been any discussion of supporting alternative transports like UDP or TCP or even custom protocols? Wo

[2020-01-10 14:19] bvboca opened #6494 "autoscaler-hpa CrashLoopBackOff with "bind: permission denied""
## What version of Knative?

## Expected Behavior

autoscaler-hpa is running in knative-serving namespace

## Actual Behavior
autoscaler-hpa is CrashLoopBackOff in knative-serving namespace

2020/01/10 13:49:23 Registering 5 clients
2020/01/10 13:49:23 Registering 2 informer factories
2020/01/10 13:49:23 Registering 5 informers
2020/01/10 13:49:23 Registering 2 controllers
{"level":"info","ts":"20

[2020-01-10 14:36] nak3 commented on #6488
No, it is not. It causes the duplicated error when we create ServiceEntry which is a solution for mTLS support. But the ServiceEntry is not implemented yet.

Then, after some investigation, it seems that the culprit is a `hosts` entry in `-mesh` virtual service. If these hosts are changed as:

BEFORE
[code]

AFTER
[code]

it stopped the error and communication between svc to svc worked fine withou

[2020-01-10 15:22] mattmoor commented on #6474
_(somewhat stream of consciousness)_

Does this feature cover HTTP->HTTPS or is that tracked by something else?  If it is, then I can think of at least a couple things that need work.

I know it's not "auto", but it is "TLS": what about manually provisioned wildcard certs per namespace?  Should this have coverage / documentation?

Do we expect to make TLS provisioning (when enabled) block readines

[2020-01-10 17:59] mattmoor commented on #6471
(skimming, so light on the context here)
I believe [this](https://github.com/knative/serving/blob/5ace82e9d4d4e2ecff0020be1deaa70a7eaf436a/pkg/reconciler/reconciler.go#L155) would be what fails?  The `SetDefaults` call is not written back to the API, what happens is that it sees a spec change and patches the resource to indicate that defaulting should be re-run, which is then rejected by the valid

[2020-01-10 18:17] mattmoor commented on #6471
Discussed a bit in slack, and I have a bit more context.  The problem is in Service -> Configuration, not the service patching itself, although I suspect it will fail on the Patch once we get past the configuration update.

I think my suggestion for how we avoid this class of problem for defaults in general would be to `SetDefaults` on the lister's version before comparing them and posting the upd

[2020-01-10 18:30] nimakaviani commented on #6471
sounds good.

I think currently for both config and route, we dont consider the diff to drive the update to the resources. It just assumes that it will be a noop if no diff:

https://github.com/knative/serving/blob/5ace82e9d4d4e2ecff0020be1deaa70a7eaf436a/pkg/reconciler/service/service.go#L336-L341

I am guessing your suggestion also involves making sure there is a diff between the existing and th

[2020-01-10 18:31] vagababov commented on #6494
You need to grant the permission, it seems. I am not sure what the `bug` is here, could you clarify, please?

[2020-01-10 18:32] tcnghia commented on #6488
@ZhiminXiang also hits this issue and I also hit it in the past.  I think we accidentally reverted the change to _not_ expanding the hosts in case of `mesh`.

May be we should use this setting when using mesh, to avoid using cluster-local-gateway.

[2020-01-10 18:40] tcnghia commented on #6478
You can specify port name `h2c`.  Can you please try our gRPC sample https://knative.dev/docs/serving/samples/grpc-ping-go/index.html and see if you can use that for gRPC-web?

[2020-01-10 18:56] mattmoor commented on #6471
Yep

[2020-01-11 06:26] bvboca commented on #6494
@vagababov Thanks for the reply.
I followed the official installation doc https://knative.dev/docs/install/index.html except my istio-ingressgateway external-ip is pending. I didn't find any guide to configure the permission .

Could you please be kind enough to provide some thoughts?

[2020-01-11 08:00] nak3 commented on #6494
@bvboca The logs was collected from autoscaler-hpa? It seems that the all logs message is from `autoscaler` rather than `autoscaler-hpa`.

If it is from `autoscaler` actually, can you please check autoscaler's deployment and modify as below:

[code]

BEFORE (I guess your current config uses `443` but sorry if I was wrong):
[code]

AFTER:
[code]

I don't know why your autoscaler uses `443` instead

[2020-01-11 09:57] bvboca commented on #6494
@nak3
thanks for the tips. It seemed I mistaked the image of autoscaler for autoscaler-hpa.

[2020-01-11 09:57] #6494 closed

[2020-01-11 12:02] knative-test-reporter-robot opened #6500 "[flaky] test/upgrade.TestRunLatestServicePreUpgradeAndScaleToZero"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestRunLatestServicePreUpgradeAndScaleToZero
* **Repository name**: serving

[2020-01-11 12:02] #6042 closed

[2020-01-11 12:02] knative-test-reporter-robot opened #6501 "[flaky] test/upgrade.TestRunLatestServicePreUpgrade"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestRunLatestServicePreUpgrade
* **Repository name**: serving

[2020-01-11 12:02] #5022 closed

[2020-01-11 12:02] knative-test-reporter-robot opened #6502 "[flaky] test/upgrade.TestBYORevisionPreUpgrade"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestBYORevisionPreUpgrade
* **Repository name**: serving

[2020-01-11 12:02] knative-test-reporter-robot opened #6503 "[flaky] test/conformance/ingress.TestGRPCSplit"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestGRPCSplit
* **Repository name**: serving

[2020-01-11 12:03] #6437 closed

[2020-01-11 12:03] #6479 closed

[2020-01-11 15:04] #6475 closed

[2020-01-12 01:03] duglin opened #6504 "Failing pod never times out"
## In what area(s)?
/area autoscale

## What version of Knative?

HEAD

## Expected Behavior

When a pod fails to start properly it should eventually be terminated.

## Actual Behavior

If an instance/pod fails to start and it is the first time the revision is starting a pod then the pod will eventually be terminated. But, if the first instance of the revision starts ok, then scales down to zero,

[2020-01-12 05:20] ZhiminXiang commented on #6011
This issue was fixed by https://github.com/knative/serving/pull/6408

[2020-01-12 05:20] #6011 closed

[2020-01-13 05:30] ZhiminXiang commented on #6488
I tested the following cases:
1. Expanding hosts
- Using local gateway [`local-gateway.knative-serving.cluster-local-gateway: "cluster-local-gateway.istio-system.svc.cluster.local"`](https://github.com/knative/serving/blob/master/config/istio-ingress/config.yaml#L65) will work correctly for both FQDN and short FQDN. And there is no `Duplicate entry of domain` error.
- Using local gateway [`local-g

[2020-01-13 05:55] qhh0205 commented on #6346
@lpwwd @daisy-ycguo I have the same issue, the knative version is latest, does the problem solved? I am  confused!

[2020-01-13 08:30] zhangtbj opened #6510 "New Ingress tls conformance test fail on basic Istio deployment env"
## In what area(s)?
Remove the '> ' to select:

## Ask your question here:

I found serving added a new Ingress tls test recently:
https://github.com/knative/serving/blob/master/test/conformance/ingress/tls_test.go

But this test fail on my cluster environment:
[code]

After debugging, I found the Ingress is configured to use SDS but the Istio on my cluster is a normal deployment that didn't enabl

[2020-01-13 10:18] feclist commented on #6478
Thanks for looking into this @tcnghia.

We followed the example step by step. Now trying to reach the endpoint we set up with gRPC-web comes back with a CORS policy error. This makes me think that the request is not 'upgraded' by the Envoy Proxy or some similar issue to that. There might be a missing link that understands these incoming requests to be upgraded from HTTP1.1 to HTTP/2, but that is m

[2020-01-13 12:02] #6503 closed

[2020-01-13 12:02] #6453 closed

[2020-01-13 12:02] #6286 closed

[2020-01-13 15:05] mattmoor opened #6516 "conformance shouldn't depend on scale-to-zero"
## In what area(s)?
/area API
/area test-and-release

/kind good-first-issue

## What version of Knative?

HEAD

## Expected Behavior

Conformance should stick to the public API surface of knative/serving.

## Actual Behavior

The new checks look at Pods and configmaps, and fail when run against knative/serving in simply another namespace:
[code]

## Steps to Reproduce the Problem

You can reprodu

[2020-01-13 18:01] mattmoor commented on #6032
/assign @ZhiminXiang

I believe this is done.

[2020-01-13 18:07] ZhiminXiang commented on #6032
Yes. This is fixed by https://github.com/knative/serving/pull/6446

[2020-01-13 18:07] #6032 closed

[2020-01-13 19:07] hpandeycodeit commented on #6516
@mattmoor I will work on this one :)

[2020-01-13 22:03] mikehelmick opened #6520 "It is possible to bypass the queue-proxy"
/area networking

## What version of Knative?

v0.11.0-125-gb8f7090cc

## Expected Behavior

From within the cluster, it shouldn't be possible to connect directly to the user container and bypass the queue proxy for a revision.

I would expect that this would be prohibited, possibly via network policy.

## Actual Behavior

Port 8080 of the user container is exposed and available

Note: this only w

[2020-01-13 22:23] evankanderson commented on #6520
Something like the following NetworkPolicy might work (untested):

[code]

(and a similar NetworkPolicy to allow traffic from the HTTP load-balancers, which would be network stack specific)

/kind good-first-issue

[2020-01-13 22:36] evankanderson commented on #6520
Note that NetworkPolicies are additive, so it should be possible to apply the above NetworkPolicy as well as a NetworkPolicy that allows it.

Note that there are no good namespace labels for selection for at least the default suggested Istio installation....

[2020-01-13 22:39] evankanderson commented on #6520
Ref: https://kubernetes.io/docs/concepts/services-networking/network-policies/

[2020-01-14 01:50] coryrc commented on #6264
I intend to have something to discuss with serving WG next week.

[2020-01-14 02:06] jinglundong opened #6523 "Building the Operator Image failed, when using gcr as the docker repo."
As a user who wants to install serving operator, I should be able to build the operator image using gcr as the docker repo. https://github.com/knative/serving-operator#building-the-operator-image

## Actual Behavior
Build the Operator Image guide doesn't seem to cover gcr well. I probably missed something. Some clarification can prevent this type of 'human error'.

A real example of using gcr as t

[2020-01-14 15:59] k4leung4 commented on #6523
This issue should be filed in the serving-operator repo

[2020-01-14 17:36] tanzeeb commented on #6003
/assign

[2020-01-14 20:50] tcnghia commented on #6478
No, port 8080 is correct.

Let's turn this issue into a feature request, since base on what you describe we probably aren't able to support grpc-web right now.

[2020-01-14 21:59] #5981 closed

[2020-01-14 21:59] ZhiminXiang commented on #6445
/assgin @rmoe

[2020-01-14 22:24] jinglundong commented on #6523
Will file one in the serving operator repo.

[2020-01-14 22:24] #6523 closed

[2020-01-14 22:27] jinglundong commented on #6523
Filed https://github.com/knative/serving-operator/issues/253

[2020-01-14 22:34] JRBANCEL opened #6529 "Reconsider crashing the Activator when the WebSocket connection to Autoscaler is not established"
## In what area(s)?
/area autoscale
/area networking

## Describe the feature
Today, the Activator `/healthz` probe status is based on the status of the WebSocket connection between the Activator and the Autoscaler. As a result, if Autoscaler is not ready yet (very common) or unreachable for any reason, the liveliness probe fails and the Kubelet will restart the Activator container.

This is probl

[2020-01-14 22:42] vagababov commented on #6529
/cc @markusthoemmes

[2020-01-14 22:45] vagababov commented on #6529
https://github.com/knative/serving/issues/3508 here's where it has been introduced.

[2020-01-14 23:04] JRBANCEL commented on #6529
Interesting, this

doesn't explains how restarting the Activator is any better than doing nothing until the WebSocket connection is repaired.

As mentioned above, I think it is worse since Activator is in the data path.
It seems better to do nothing.

[2020-01-15 06:58] zouyee commented on #6489
/assign

[2020-01-15 07:03] markusthoemmes commented on #6529
Yeah I kinda agree it's better to do nothing. What would be the best way to surface that we're not **really** healthy though?

[2020-01-15 07:25] MIBc opened #6531 "Can not run e2e test on baremetal or vm cluster"
## What version of Knative?

## Expected Behavior
Run e2e test on vm or baremetal cluster. We need a way to determine whether use gateway external-ip or its node-ip. The same is true for gateway ports, use `80` or nodeport.

## Actual Behavior

Can not run test on vm or baremetal cluster. Because all tests need check state by using istio-gateway external-ip. But for some local k8s clusters, they d

[2020-01-15 08:22] #6531 closed

[2020-01-15 10:04] feclist commented on #6478
Sounds great to me.

Should I change something on the description/title to change it into a feature request or open a new issue?

[2020-01-15 12:03] #6500 closed

[2020-01-15 12:03] #6502 closed

[2020-01-15 12:03] #6501 closed

[2020-01-15 14:54] mattmoor opened #6535 "TestDestroyPodTimely should CheckEndpointState before listing pods"
/area test-and-release
/kind good-first-issue

## What version of Knative?

HEAD

## Expected Behavior

I'd expect the test to curl the pod to ensure that it is up before listing to ensure they die quickly.

## Actual Behavior

We list pods as soon as the Service is ready and assume pods are still around [here](https://github.com/knative/serving/blob/3b3502f265a2dcf5571b96d7223424a4ae03f5e2/test/e

[2020-01-15 16:24] #6535 closed

[2020-01-15 17:19] ryandawsonuk commented on #5700
@nak3 I guess you were referring to https://github.com/knative/serving/commit/e7b4f16593bc1c8d77df82c965d44e723a33ae9d#diff-95213ea6cd5a69c5a097fbd77ce8989fL18 as [master](https://github.com/knative/serving/blob/master/config/config-istio.yaml) seems to have changed a lot

[2020-01-15 17:23] mattmoor opened #6537 "webhook certs expire"
## In what area(s)?
/area API

## What version of Knative?

HEAD

## Expected Behavior

The webhook should rotate certificates.

## Actual Behavior

After a year the webhook's certificates expire.

https://github.com/knative/pkg/blob/master/webhook/certificates/resources/certs.go#L61

## Steps to Reproduce the Problem

Deploy Knative for a year, come back with 🍿

[2020-01-15 21:18] shashwathi commented on #6356
/assign shashwathi

[2020-01-15 23:47] nak3 commented on #5700
Yes, the file was moved to https://github.com/knative/serving/blob/master/config/istio-ingress/config.yaml.

[2020-01-16 00:44] JRBANCEL commented on #6520
Is it something we want to enforce?
We could simply document it: tell customer to not open a socket on all interfaces but just on loopback. It could be in the spec along with listening on the port provided by the PORT env variable.

i.e.
[code]
instead of
[code]

And we should start with our samples: https://github.com/knative/docs/blob/master/docs/serving/samples/hello-world/helloworld-go/hellowo

[2020-01-16 00:59] vagababov commented on #5977
/assign

[2020-01-16 02:49] nak3 opened #6541 "Ingress conformance test should cover httpProtocol option"
/area networking
/area test-and-release

## What version of Knative?

HEAD

## Expected Behavior

Currently the [`httpProtocol` option](https://github.com/knative/serving/blob/102be86c30eea32db23b79f0ea13818216ec1c4e/config/core/configmaps/network.yaml#L136) in `config-network` does not work for third-party Ingress.

The conformance test should cover it in:

https://github.com/knative/serving/blob

[2020-01-16 03:01] ZhiminXiang commented on #6541
I am not sure if other Ingress implementations also support `httpProtocol` option. If other implementations do not support this option, we probably want to put it into `config-istio` ConfigMap.

@mattmoor @ilackarms  do Contour and gloo support httpProtocol option?

[2020-01-16 03:06] nak3 commented on #6541
Thank you @ZhiminXiang
Actually Kouier does not support it yet https://github.com/3scale/kourier/issues/179. And so I am wondering if they should cover `httpProtocol` option in `config-network` or their own configuration.

[2020-01-16 07:00] savitaashture commented on #6207
@dgerd any further thoughts on this?
Are we planning to support considering @Iamlovingit usecase?

[2020-01-16 07:00] markusthoemmes commented on #6353
Do we maybe need to enforce adding the webhook config as the last thing so it doesn't randomly break other entities being added if the pod isn't ready yet?

[2020-01-16 07:27] mattmoor commented on #6541
@ZhiminXiang Contour supports Enabled and Redirected today, but I don't like having to read this configmap, IMO it should be part of the Ingress API.

re: disabled, I understand the use case, but I'm unsure why we don't simply encourage folks to not expose `:80`...

[2020-01-16 07:28] mattmoor commented on #6541
Also, I'd like to keep the basic TLS test as-is.  Once the field is communicated via the API it should be trivial to add a test that looks for the `3xx` status code and the proper `Location: ` header.

[2020-01-16 07:47] nak3 opened #6543 "istio.sidecar.includeOutboundIPRanges in config-network should be obsolete"
## In what area(s)?

/area networking

## Describe the feature

Knative supports `traffic.sidecar.istio.io/includeOutboundIPRanges` option due to [1] in old version. But current Knative allows outbound access by default so the option should not be necessary.
Docs also removed it - https://github.com/knative/docs/issues/1859

[1] https://knative.dev/v0.8-docs/serving/outbound-network-access/

[2020-01-16 11:51] tshak commented on #6265
I have automation with minikube that creates a bunch of resources right after the cluster is stood up (istio, knative, etc). I'm seeing similar symptoms with a ksvc. I can reproduce it consistently. I'm also using serving `0.11.1`. I was able to resolve the issue by adding code to wait for the activator deployment. I've run two test runs and I can no longer reproduce the issue. I'm guessing that t

[2020-01-16 15:36] nak3 commented on #6541
I see. And I realized that you already opened https://github.com/knative/serving/issues/6373 and mentioned about conformance. I am closing this in favor of it.

[2020-01-16 15:36] #6541 closed

[2020-01-16 16:44] duglin opened #6549 "Modify our retry logic on 5xx failures from KnServices"
## In what area(s)?
/area networking

Other classifications:
/kind good-first-issue

## Describe the feature

Today if the KnService returns a 5xx HTTP response then we'll retry the request 3 more times. This could have negative side-effects as it could cause the app to actually do some significant processing 4 times (even with the failure) when the client only asked for it to happen once.

At a m

[2020-01-16 16:49] tcnghia commented on #6549
/area api

[2020-01-16 16:50] tcnghia commented on #6549
@evankanderson @dgerd is Retry an option that we want to expose in our API?

[2020-01-16 17:05] tanzeeb commented on #6003
Update: looks like push promises aren't yet supported by the the Go http/2 client.

This impacts both the ability to test the feature, and the actual support of the feature since the `ReverseProxy` in the Activator and Queue-Proxy both use the go http/2 client.

This story is blocked until golang/go#18594 is addressed.

/unassign

[2020-01-16 17:08] dgerd commented on #6207
This is one of the topics in https://docs.google.com/document/d/1DY5t7LqGPOq5Jw5AixSgJY8S2VuQnTGzRpV6apY_nAI/edit#heading=h.qvhetaadohe1 (knative-users@ membership needed to view). Our last working group meeting discussion on this topic there was concern about leaking operator/infrastructure concepts into the Knative Service object.

I have a proof of concept that splits that out to a separate obj

[2020-01-16 17:14] dgerd commented on #6549
Can you elaborate on what you mean by 'we'll' retry? I am not completely familiar with where this retry logic lives.

[2020-01-16 17:54] duglin commented on #6549
I think @tcnghia can tell you where it's coming from, but I was playing with something and noticed that my *one* client call resulted in multiple calls to my KnService when the KnService retuned a 5xx status code. So, something in our code (I'm told it's in our networking) will do auto-retries.

[2020-01-16 17:56] markusthoemmes commented on #6549
It‘s istio retrying I think. Our own code doesn‘t do that.

[2020-01-16 18:01] duglin commented on #6549
re: istio ... Interesting.  I wonder what that would do in a heavy load situation (large # of clients)? It seems like it could cause a bigger than normal burst of scale-up.

[2020-01-16 18:07] markusthoemmes commented on #6549
I don‘t think it should as the retries should be sequential and thus they don‘t impact the observed concurrency.

[2020-01-16 18:22] dgerd commented on #6549
It is important for us to understand where this retry is coming from as well as the original motivation behind the retry before we consider making it tunable or removing it. If @tcnghia knows off-hand that would be great, otherwise this will need sometime to pick up that research.

[2020-01-16 18:30] markusthoemmes commented on #6549
It gets plumbed into the VirtualService here:
https://github.com/knative/serving/blob/b4146e9e03b1584977de6a994268def9f28c8769/pkg/reconciler/ingress/resources/virtual_service.go#L216

Is defined on the Ingress here:
https://github.com/knative/serving/blob/b4146e9e03b1584977de6a994268def9f28c8769/pkg/apis/networking/v1alpha1/ingress_defaults.go#L88

And the default is https://github.com/knative/se

[2020-01-16 18:32] markusthoemmes commented on #6549
It's therefore also kinda externalized already, but not via the Route surface.

[2020-01-16 18:43] dgerd commented on #6549
https://github.com/knative/serving/issues/6367 seems related

[2020-01-16 18:43] tcnghia commented on #6549
@dgerd: Yes, Markus is correct.  We set this default retry (3) when creating the KIngress, which result in a retry setting in the VirtualService (when using Istio).

Originally we added this retry to overcome random 5xx errors.  Both Istio and Knative are better now I think there is not a strong need to do retries anymore, unless we want to include some retry setting in our API.

[2020-01-16 18:45] vagababov commented on #6549
In general blind retries might cause more trouble and cascading failures. E.g. if the service underprovisioned it only escalates that issue.
But for some services/situations this is a completely viable setting.

_methinks_ it should probably be a configuration item and off by default.

[2020-01-16 18:49] dgerd commented on #6549
cc @mattmoor as he is the most recent to hack at the Ingress interface and can probably provide some good non-Istio input to the issue.

Overall it sounds like removing it (at least by default) seems to be the consensus. I would be in favor of updating this after 0.12 cuts, and landing it in the first week of 0.13 so we get some weeks of seeing the impact (or non-impact) of this in our e2e tests.

[2020-01-16 19:01] vagababov commented on #6133
Do we consider this complete?

[2020-01-16 19:50] vagababov opened #6550 "Switch Activator to DaemonSet"
## In what area(s)?
/area autoscale

## Describe the feature
Currently we un Activator as a deployment with an HPA autoscaler.
For Node Local Scheduling, we need to run Activator as a DaemonSet.
The work here is consisted of several steps:
  1. Find the appropriate instance requirements.
     - Currently we're requesting `300m` of CPU and `400MB` of memory for each instance. This presumes running

[2020-01-16 19:53] vagababov opened #6551 "pkg/reconciler/nscert.Failure is constantly failing."
Subj.

## In what area(s)?

/area networking
/area test-and-release

/assign @ZhiminXiang
E.g. https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/6505/pull-knative-serving-unit-tests/1217889848451403776/
I've seen at least 10-15 such failures over several last few days.

[2020-01-16 19:55] mattmoor commented on #6550
We want the DaemonSet to exist for sure for an overlapping release with the Deployment before we scale it down, otherwise we are racing the creation of new pods against collecting old pods.

When we create the DS the deployment should naturally scale down because so much of its load should be offloaded.

I think the only other nit is that step 2 should set replicas to zero on the deployment, as I

[2020-01-16 20:16] andrew-su commented on #6375
/assign

[2020-01-16 20:58] nimakaviani commented on #6133
I believe so. My understanding is that it is approved and in the implementation phase.

[2020-01-16 21:02] markusthoemmes commented on #6550
Is the decision to make the activator our scheduling unit final? I still think that the activator might need to scale differently than „per node“ for its dataplane duties 🤔

[2020-01-16 21:07] mattmoor commented on #6550
Can you elaborate?

[2020-01-16 21:13] markusthoemmes commented on #6550
Sure,
With OpenWhisk we had a similar model of having the scheduling components distributed per node and each scheduled local containers. That was a mistake but we‘re not 100% in the same situation here. However, for OpenWhisk it wouldve been very beneficial to separate the scheduling components (which can be per node for local state) from the data plane components which can in theory handle multi

[2020-01-16 21:15] vagababov commented on #6550
I am actually fine (and I considered that as an option in the document (in progress)) for keeping both per-node and HPA scaled Activators. But significantly reducing the resources allocated to the free roaming activators.

[2020-01-16 21:24] vagababov commented on #6550
@mattmoor : updated step (3) and added numbering for more precise attribution.

[2020-01-16 21:32] mattmoor commented on #6550
Couple things:
- Folks can tweak what we release, and adding a NodeSelector or using a Deployment with anti-affinity for their own pods both seem like viable ways to not need a whole DaemonSet.  Unless we're talking about a scenario where `# activators > # nodes`, which would be a use case I'd like to understand better.

- To be pedantic, we're making the scheduling choice ahead-of-time and progra

[2020-01-16 22:53] JRBANCEL commented on #6550
Are we going to use `.spec.template.spec.nodeSelector`?
Running Activator on every node is crazy. It is going to prevent anyone with a cluster with many nodes from using Knative.
Do we really need Activator to be a DS for Local Scheduling?

[2020-01-17 00:24] ZhiminXiang opened #6553 "Auto TLS E2E tests should be independent with cert-manager specific implementation"
## Describe the feature

In the current Auto TLS E2E test https://github.com/knative/serving/blob/master/test/e2e/autotls/auto_tls_test.go, the cert-manager specific configuration is added into the test.
We should make the test independent with specific `Certificate` implementation so that it can be ran by various `Certificate` implementations.

[2020-01-17 02:22] JiHyunSong opened #6554 "how can Knative service labels inherit to deployments?"
## Ask your question here:

Hi,
now I'm testing on release-0.7, with k8s 1.15

I deploy ksvc like below template.

[code]

But deployments app do not inherit the label name.
Is there any way to inherit label? or can i insert label dynamically?

[code]

[2020-01-17 05:50] evankanderson commented on #6554
If you want the Deployments and Pods to inherit the labels, you probably want to set the labels in the `spec.runLatest.configuration.revisionTemplate.metadata.labels`, like the `autoscaling.knative.dev/minScale` annotation that you can see copied from your Revision to the Deployment.

[2020-01-17 05:51] evankanderson commented on #6554
/close

(Reopen if that answer doesn't work for you)

[2020-01-17 05:51] #6554 closed

[2020-01-17 08:57] MIBc commented on #4060
If  env name is changed, I think the app who use these env should change too. It may cost developer's time to do this.

[2020-01-17 09:06] MIBc commented on #3485
Which conformance  test should add tcp port case? I can have a try.

[2020-01-17 09:24] enricofranco opened #6558 "Wrong ClusterRoleBinding in monitoring.yaml"
When installing `monitoring.yaml`, ClusterRole `kube-state-metrics` is bound to ServiceAccount `kube-state-metrics` in namespace `kube-system` [line 581] which may not exist. In fact, Prometheus fails to get some metrics because of missing permissions.

Easily solved by binding this role to ServiceAccount  `kube-state-metrics` in namespace `knative-monitoring`, the one created at the beginning of

[2020-01-17 11:27] richard2006 commented on #6346
I have the same issue, and descirbe the  ingress, the event like this :
[code]

[2020-01-17 15:18] mattmoor commented on #6550
Let's not deal in FUD here.  What are the concrete concerns?

Sure it's a blunt instrument, we could probably write our own autoscaler and scheduler for the activator to do something a bit more curated, but again: we shouldn't just do that because of FUD.

[2020-01-17 15:43] markusthoemmes commented on #6550
So the concern (based on OpenWhisk experience) from my end is:

Conflating data-plane with control-plane. I think it's a valuable use-case to deploy the activators on a few beefy machines to a) make them quick and b) guard them from noisy neighbor effects on the worker nodes themselves, where just about any other workload can run. It shields the data-plane from an application going haywire and thu

[2020-01-17 15:51] markusthoemmes commented on #6550
That's right but if we build the scheduling capabilities (spawning of containers locally) into the activator, we're binding these mechanisms into the deployment of the activator. If I want to limit where they get deployed I now also limit the nodes where I can make use of NodeLocalScheduling for resiliency and potentially performance.

I guess the underlying question is: Do we want that behavior?

[2020-01-17 16:38] dgerd commented on #4060
That is why the original issue has 'As our existing environment variables may be in use we should not remove them, but we should add a copy of them under the KNATIVE_ prefix (i.e. KNATIVE_SERVICE) so that they can be consumed consistency with future environment variables.`

This change is essentially to validate that `KNATIVE_*` environment variables cannot be defined within the revision template

[2020-01-17 17:47] vagababov commented on #6550
What if we follow the following strategy:
- when we need to scale from 0 to 1-N, N is small, SKS only puts DS activators in the revision public endpoints (presuming NLS is enabled at all, I guess some people might opt out?)
- when we're using activator as LB, i.e. EBC < 0, then we use the activators from free floating set (deployment set).

Now second set can scale as needed and when used for load

[2020-01-17 18:17] vagababov commented on #6346
is this solved by https://github.com/knative/serving/pull/6509
/cc @ZhiminXiang

[2020-01-17 19:12] mattmoor commented on #6550
I could see an argument for doing this around limiting the places where the activator has privilege on nodes (if/when we can interact with the kubelet).

Yeah, if we have concerns based on scenarios or data great!  I'd like benchmarks that demonstrate problems (IIRC today we simply overprovision the activator for all our benchmarks, let's stop).  If the concern is resource overhead on large cluste

[2020-01-17 19:12] mattmoor commented on #6550
💯

[2020-01-17 19:28] mattmoor opened #6562 "Factor out knative.dev/networking"
/area networking

## Describe the feature

The networking abstraction within knative/serving was done within serving because we didn't want to slow iteration on our networking abstractions if they didn't take off.  With half a dozen integrations now, we need to be more principled about how we alter our networking abstractions, and it now makes sense to embark on the phase 2 we'd postponed for once

[2020-01-17 19:30] mattmoor commented on #6562
A document will be forthcoming, which we'll review at TOC next week (we deferred previously due to time, and to write the doc)

[2020-01-17 19:32] tcnghia commented on #6562
Doc: https://docs.google.com/document/d/1Kwy13f36aeBv8slYy2OkpSRE6OKkkk2nAldiEq49Ybg/edit?ts=5e21207f#

[2020-01-17 20:17] markusthoemmes commented on #6550
Works for me, these were theoretical concerns and I don‘t have a specific workload I could provide a benchmark for to proof them.

Definitely not intending to block progression here. We can always iterate!

[2020-01-17 22:38] JRBANCEL opened #6564 "Add 'Knative' tag to our grafana dashboards"
## Describe the feature
Grafana supports tagging dashboards [0]. It is convenient to search/filter dashboards relevant to a certain system. We should use that instead (or in addition) of the `Knative Serving - ` prefix we are using.

Before:
![without-tags](https://user-images.githubusercontent.com/1249763/72650966-e028aa00-3936-11ea-9ff8-6e29a3a92ca6.png)

After:
![with-tags](https://user-images.

[2020-01-17 22:42] JRBANCEL commented on #6529
In the current architecture, if Autoscaler is dead, Activator will timeout the requests at some point (I hope). The client will get timeout errors (or some custom error) and will know it is not healthy.
For the cluster operator, we can emit metrics to report health of the Activator.

[2020-01-17 23:15] vagababov commented on #6529
Well, not exactly, but for the remote viewer true: the request context will timeout which will cause the request to fail.