[2020-12-28 11:50] keshamin commented on #6634
@vagababov The line that @abvijaykumar provided is from Knative activator logs. I have the same crash loop in activator pod:
`2020/12/28 11:33:09 Failed to get k8s version Get "https://10.46.128.1:443/version?timeout=32s": EOF`

[2020-12-28 12:11] knative-test-reporter-robot opened #10447 "[flaky] test/conformance/api/v1.TestRouteCreation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestRouteCreation
* **Repository name**: serving

[2020-12-28 19:15] aaron-lerner commented on #9727
Are all clients expected to implement an error window like kn that can be used as a workaround for this issue? In clients like gcloud for example, I believe False is always considered a terminal failure, so it remains susceptible to this issue.

[2020-12-29 08:54] AnnaYue commented on #10176
I met the same problem with k8s 1.19,  istio 1.8, and knative serving 0.18.
I installed istio as default mode and it has been running for several days.
how can i get this svc in ns knative-serving?

[2020-12-29 12:12] #10158 closed

[2020-12-29 15:04] mattmoor commented on #9310
/lifecycle frozen

[2020-12-29 21:55] nimamahmoudi commented on #10275
Are there any tools that we can use to minor the collected metrics from the autoscaler? Something like the Prometheus/Grafana installation that we had in `knative-monitoring` before version 0.15?

[2020-12-30 02:00] #9164 closed

[2020-12-31 02:07] #7903 closed

[2020-12-31 02:07] #3886 closed

[2020-12-31 12:11] #10447 closed

[2021-01-03 12:11] knative-test-reporter-robot opened #10468 "[flaky] test/conformance/runtime.TestConfigsViaEnv/env"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestConfigsViaEnv/env
* **Repository name**: serving

[2021-01-03 12:11] #10215 closed

[2021-01-03 12:11] knative-test-reporter-robot opened #10469 "[flaky] test/e2e.TestDestroyPodWithRequests"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDestroyPodWithRequests
* **Repository name**: serving

[2021-01-04 10:02] sneko opened #10470 "How to make HTTP->HTTPS redirection working on Knative with Google Cloud Run on GKE"
Hi,

Since https://github.com/knative/serving/issues/7933 I know there is some difference between "native Knative" and the one with the Cloud Run layer on top of it.

I'm trying to automatically redirect all requests from HTTP to HTTPS and I tried:
[code]

But it does not work at all. Since I'm managing the HTTPS certificates through Google Cloud Run "domain mappings" I thought something like:
[co

[2021-01-04 13:51] kassnl09 commented on #10115
Hello everyone, and thanks for your input!
I updated to KNative v. 0.14 (unfortunately that's the newest version I can use, due to the old k8s version I work with), but my issue remains.

One interesting finding is front the activator. I keep getting errors like the following:

{
  "level": "error",
  "ts": "2021-01-04T13:25:34.977Z",
  "logger": "activator",
  "caller": "net/revision_backends.go:

[2021-01-04 14:35] Shashankft9 commented on #10160
Getting the same error while installing v0.19.0:
[code]
[code]
Because of this, rest of the ingress traffic also stops working since I have made the gateways on port 80. Without knative-serving, I have an entry there with 80 instead of 8081. 80 because unlike @jasonnance I have `targetPort` and `port` both set to be 80

[2021-01-04 14:36] joshuawilson commented on #9432
/reopen
/remove-lifecycle stale

[2021-01-04 16:34] mattmoor commented on #9039
/lifecycle frozen

[2021-01-04 18:09] SwEngin commented on #9310
Is this issue still valid?

[2021-01-04 18:17] mattmoor commented on #9310
Yeah, I'd still love to see a deadline associated with calls made from the main Reconcile path.

[2021-01-04 22:26] mattmoor commented on #10470
cc @tcnghia @ZhiminXiang

[2021-01-04 22:28] mattmoor commented on #10444
Do we know the source of the 5xx?  Which hop has stale programming?

/assign @vagababov

[2021-01-04 22:30] mattmoor commented on #10328
Can we reopen this in `knative-sandbox/net-istio`?  Unfortunately I cannot transfer the issue across orgs.

[2021-01-04 22:31] mattmoor commented on #10346
cc @dprotaso for thoughts

[2021-01-04 22:32] mattmoor commented on #10246
/assign @nak3

Should we close this, or track elsewhere?

[2021-01-04 22:33] mattmoor commented on #10402
This is done

[2021-01-04 22:33] #10402 closed

[2021-01-04 22:38] mattmoor opened #10475 "chaosduck DoS'd scale-down in test/e2e.TestAutoscaleUpDownUp"
/area autoscale
/area test-and-release

## What version of Knative?

HEAD

## Expected Behavior

Test passes

## Actual Behavior

Test has failed ~10 times in my typical sliding window tracking net-contour (100 runs)

The failure mode for all ten is:
[code]

Going over the logs for one failure with a fine-tooth comb, the pattern is:
1. Replica is promoted to leader,
2. Replica refuses to scale dow

[2021-01-04 22:41] mattmoor commented on #10475
Currently the stable window is `50s` configured here:
https://github.com/knative/serving/blob/326822dbaf304dc28dd7b0ce007e0d11986ce9b0/test/e2e/autoscale.go#L216-L218

The autoscaler replica must survive this long in order to scale things down.  However, the chaosduck kills a leader every 30s, so a bad string of leader choices can keep it from every scaling down!

I believe the simplest option wou

[2021-01-04 23:32] #10475 closed

[2021-01-05 04:13] Zongshun96 commented on #10327
Any thoughts on this discussion? Each time when we change concurrency of pods, we have to create a new revision also, which seems to be inefficient.

[2021-01-05 09:00] #9137 closed

[2021-01-05 09:40] julz commented on #10355
I have to admit, when I originally came up with the ScaleDownDelay idea I think I had in mind that it should work nicely with initialScale so I personally would be quite up for fixing this. We could move the windowing in to the reconcile and out of the autoscaler, in theory, so that it occurs after - and properly considers - initialScale 🤔. Wdyt @vagababov @markusthoemmes ?

[2021-01-05 10:04] julz opened #10477 "DomainMapping -> DomainClaim relationship doesn't play nice with new behaviour in k8s 1.20+"
As of Kubernetes 1.20 [cluster-scoped resources that are owned-by namespace resources won't be properly garbage collected](https://github.com/kubernetes/kubernetes/pull/92743) and will create warnings in the event log (also sounds like the pre-1.20 behaviour was pretty non-deterministic and unsafe too 🙁). Unfortunately we currently have [ClusterDomainClaim owned-by DomainMapping](https://github.co

[2021-01-05 12:11] #10468 closed

[2021-01-05 12:11] #10469 closed

[2021-01-05 12:11] knative-test-reporter-robot opened #10482 "[flaky] test/e2e.TestTargetBurstCapacity"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestTargetBurstCapacity
* **Repository name**: serving

[2021-01-05 14:35] mattmoor commented on #10477
We should not be using OwnerReferences for these (it was never "supported"), we should be using Finalizers on DomainMapping where we clean it up in FinalizeKind.

[2021-01-05 17:35] mattmoor commented on #5913
/lifecycle frozen

[2021-01-05 17:36] mattmoor commented on #10189
This looks done.

[2021-01-05 17:36] #10189 closed

[2021-01-05 17:37] mattmoor commented on #5913
Related: https://github.com/knative/serving/issues/283

[2021-01-05 18:12] vagababov commented on #10355
It feels natural in there, though... need to think more :)

[2021-01-05 18:23] julz commented on #10355
I'd suggest doing initialscale in autoscaler but we only just got those worms back in the can 😅

[2021-01-05 19:08] vagababov commented on #10355
It was super hard, that why we did it in the KPA. It is probably easier to add windowing to the KPA... especially that it'll automatically take into account minscale and what not.

[2021-01-05 19:15] julz commented on #10355
yah exactly, so that means if we want initialScale to be windowed (which I _think_ we do..) we either have to re-open that can of worms (no thanks ;)) or move the window to where initialScale is, I think, even if it's slightly unnatural. If we agree it's the right behaviour, though.....

[2021-01-05 20:01] vagababov commented on #10355
The problem there is that reconciler has no state and I am not sure how that we want to introduce that there.

[2021-01-05 21:37] JRBANCEL commented on #10160
@howardjohn Any idea how to debug this?

[2021-01-05 21:39] howardjohn commented on #10160
I think the issue is you have a Service for port 80 -> target 8081, a Gateway for 80 (which maps to 0.0.0.0_8081 due to targetPort) and a Gateway for 8081  (which maps to 0.0.0.0_8081 due to targetPort). Istio doesn't like this I guess.

I recall the same issue before, not sure if we have solved it already in a newer version or if its an open issue in istio/istio.

[2021-01-05 21:40] howardjohn commented on #10160
To clarify, its probably both a user error (not sure why you would want the above config - both Gateways should be port 80 probably) and an Istio bug (if user does it, we need to handle it gracefully)

[2021-01-05 21:43] JRBANCEL commented on #10160
The ingress Gateway listens to 8080 and the mathcing k8s svc maps 80 -> 8080 (default Istio setup, nothing specific to Knative).

Then, we have a (Knative) Gateway listen on 8081 and a matching k8s svc mapping 80 -> 8080.

This should work and does work (that's what runs in the Knative E2E tests).

I am not sure what is the issue in this particular scenario though.

[2021-01-05 21:48] howardjohn commented on #10160
In the original issue:
[code]

These 3 are enough to trigger it, then you have two Gateways which both map to port 8081. I don't think its standard knative setup, which is likely why its not a more common issue.

[2021-01-05 21:54] JRBANCEL commented on #10160
Why though?

 `knative-local-gateway` wants to listen on `8081` and the matching service `targetPort` for `80` is also `8081`, so Envoy actually listens on `8081`.

`knative-ingress-gateway` wants to listen on `80` but the matching service (default Istio setup) `istio-ingressgateway` has a `targetPort` of `8080` for port `80` so Envoy actually listens on `8080`.

Am I missing something? This is th

[2021-01-05 22:03] howardjohn commented on #10160
Ah, I think I missed part of it. The confusion is `matching service` I think. The mapping of `knative-local-gateway -> 80/8081 service` and `knative-ingress-gateway -> 80/8080 service` is not quite right.

There is a single istio-ingressgateway deployment, which has _two_ services. one of them maps port 80 to 8080 and the other maps port 80 to 8081. So far, no problem.

Then we create a Gateway on

[2021-01-05 22:17] JRBANCEL commented on #10160
Hmm, maybe this is another instance where Istio is not deterministic and picks just one port?

This is worrying. This has been running fine in our E2E tests for the past month and we don't see this issue (both 1.7.x and 1.8.x)

[2021-01-05 22:21] howardjohn commented on #10160
@JRBANCEL do you have the same setup with multiple services with different port setups in your e2e tests? I was under the impression the original issue has some customization not in the standard knative setup that was triggering it

[2021-01-05 22:23] JRBANCEL commented on #10160
We install Istio with this profile: https://github.com/knative-sandbox/net-istio/blob/master/third_party/istio-stable/istio-ci-no-mesh.yaml

And these are the additional Gateway and Service objects:
https://github.com/knative-sandbox/net-istio/blob/master/config/202-gateway.yaml
https://github.com/knative-sandbox/net-istio/blob/master/config/203-local-gateway.yaml

[2021-01-05 22:25] howardjohn commented on #10160
Huh.. if you are not seeing issues then I may be mistaken. We will need to investigate this more on the Istio side

[2021-01-05 22:27] howardjohn commented on #10160
https://github.com/istio/istio/issues/29643
https://github.com/istio/istio/issues/29291

are similar issue on Istio tracker

[2021-01-05 22:42] JRBANCEL commented on #10160
Can you check the implementation when you have a second because that is not what I am seeing.

Fresh Istio 1.8.1 install with the profile linked above:

[code]

After installing the ingress Gateway:

[code]
[code]

After installing the local Gateway and Service:
[code]

[code]

Even when I delete the local Gateway and leave the matching Service, there is nothing on 8081:
[code]

[2021-01-05 23:23] mattmoor commented on #10477
I think I actually just hit this trying to add an estargz kind leg to mink's CI: https://github.com/mattmoor/mink/runs/1652532771?check_suite_focus=true#step:11:25

So this will block us adding KinD 1.20 legs to CI until it is resolved (and may provide a nice easy way to confirm things work!).

[2021-01-06 01:36] mattmoor opened #10486 "6/100 runs failed setting up DNS for auto-TLS"
/area networking
/area test-and-release

## What version of Knative?

HEAD

## Expected Behavior

Tests run successfully

## Actual Behavior

[code]

## Steps to Reproduce the Problem

This is fairly intermittent, but I'd seen this cause 6 failures in my 100 run sliding window on net-contour: https://testgrid.knative.dev/serving#contour-latest&width=20&exclude-non-failed-tests=100&sort-by-flakines

[2021-01-06 01:45] vagababov commented on #10486
I Saw those last year and my guess is that it's prow/gke issue?

[2021-01-06 02:48] mattmoor commented on #10486
cc @chizhg

[2021-01-06 10:17] Shashankft9 commented on #10160
For me, with all the knative components installed, it gives:
[code]
the above stays when I delete the `knative-local-gateway`, and only when I delete the `knative-local-gateway` svc, it goes back to:
[code]

[2021-01-06 12:11] knative-test-reporter-robot opened #10492 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingTest
* **Repository name**: serving

[2021-01-06 15:32] dprotaso commented on #6264
/remove-lifecycle stale
/lifecycle frozen

Context dump:

Serving's conformance requirements  were outlined here: https://github.com/knative/pkg/issues/1563 and a PoC test framework was written [knative-sandbox/reconciler-test/pkg/test](https://github.com/knative-sandbox/reconciler-test/tree/6930dc6e06b825eedd5da4fe89ac1d757aaf4a6a/pkg/test). Afterwards I was working towards having networking's co

[2021-01-06 16:16] mattmoor commented on #10470
/assign @mdemirhan

I think Zhimin is on leave.

[2021-01-06 16:19] mattmoor commented on #10421
cc @evankanderson @yanweiguo

[2021-01-06 16:20] mattmoor commented on #10417
Going to close this to clear the backlog.  Feel free to reach out if you have further questions

[2021-01-06 16:20] #10417 closed

[2021-01-06 16:25] mattmoor commented on #10411
I'm just going to remove them.  We can add something back when we have something.

cc @evankanderson @yanweiguo

[2021-01-06 16:28] mattmoor commented on #10355
/assign @vagababov @julz

I am going to assign y'all to drive some sort of resolution on this to get it off the triage backlog 😇

[2021-01-06 16:31] mattmoor commented on #10328
Maybe this is just resolved.  I'm going to close, but if this is unresolved let's start a new issue in https://github.com/knative-sandbox/net-istio

[2021-01-06 16:31] #10328 closed

[2021-01-06 16:35] julz commented on #10355
sounds good, added to the future items sticky in the autoscaler wg agenda to talk through

[2021-01-06 17:06] vagababov commented on #10470
/assign @JRBANCEL @arturenault

[2021-01-06 17:21] mattmoor commented on #10275
@nimamahmoudi I believe what you are doing is saying: "I want to process a single request at a time (thus `threading.Lock`), but you are not setting CC=1 because you are OK with queuing requests within your application due to this."

So what you are seeing is precisely the effect of that.  Knative thinks (because you haven't told it otherwise) that your application should handle ~200 concurrent re

[2021-01-06 17:37] mattmoor commented on #10344
I notice you have IoT in the name.  I have noticed that on my RPi4 cluster that I am more prone to hitting the 120s limit that @vagababov mentioned above.  If this resolves things for you, then perhaps we should consider a higher default for this, which folks can tune down 🤔

[2021-01-06 17:42] dprotaso commented on #10346
I see the server version is 1.17 but the kubectl client version is 1.19.4  - and I want to rule out that's not the problem

Can you try a kubectl version that's within the supported skew of the server version you're using - ie. 1.16, 1.17, 1.18

[2021-01-06 17:42] vagababov commented on #10344
Eh, _why default up here_ and tune down elsewhere, rather than status quo?

[2021-01-06 17:53] #10411 closed

[2021-01-06 18:30] nimamahmoudi commented on #10275
@mattmoor Thanks, this was a very good explanation, I didn't know that I can disable the activator from coming into the path. Regarding the Lock mechanism, I actually tried with `gcr.io/knative-samples/autoscale-go:0.1` image which yielded the same results.

My main concern with the spikes was that it happens all of a sudden and the response time is so long that it is even worse than a single pod

[2021-01-06 18:52] mattmoor commented on #10344
My personal bias is towards a configuration that works as many places as possible out of the box.  Folks curating distributions for other environments can ofc change things 🤷

[2021-01-06 18:59] vagababov commented on #10344
SG, let me cook a PR

[2021-01-06 19:02] mattmoor commented on #10275
The motivation for scaling on concurrent requests vs. something like requests-per-second is that the latter doesn't really take request latency into account, where as the former builds it in somewhat naturally.  You can configure out autoscaler to scale on RPS as a metric though, have you found this or tried it?

I haven't seen the terms "open system model" and "closed system model" used to descri

[2021-01-06 19:07] mattmoor commented on #10276
cc @markusthoemmes @vagababov

/area autoscale
/area test-and-release

[2021-01-06 19:09] mattmoor commented on #10247
/assign @tcnghia

[2021-01-06 19:13] nimamahmoudi commented on #10275
@mattmoor Those are the terms used in queuing theory literature, but you are correct RPS would solve the problem. I am trying to build a module that analyzes a workload and some preferences and suggests what type of autoscaling and with what configuration works for you. Thanks for your help.

[2021-01-06 19:34] mattmoor commented on #10267
I'm wondering about how legitimately we should consider this for a few reasons:
1. log.Fatal as a failure mode seems extreme, even a `panic` in Go is generally handled by the http server more gracefully IIRC.  Generally the term I have used for requests that kill the server is a "query of death".
2. The default readiness check (what's used here) is our built-in tcp probe, which is clearly inadequa

[2021-01-06 19:34] mattmoor commented on #10267
cc @dprotaso

[2021-01-06 19:35] mattmoor commented on #10259
Is `ctx` insufficiently plumbed through ggcr?  What do we want to do here?

I'm going to assign to @julz for now.

/assign @julz

cc @jonjohnsonjr for ggcr help

[2021-01-06 19:36] mattmoor commented on #10160
/assign @JRBANCEL

Moving this off of the serving triage query, we should move these discussions to net-istio.

[2021-01-06 19:41] mattmoor commented on #10253
So `LastTransitionTime` on `Ready` should reflect the time at which `status.observedGeneration` became ready, so the computation you are doing is correct for initial readiness.

We used to have a bad metric tracking something like this, but it reported the metric based on the computation you are already doing for every Revision (even if from an update to a months or years old ksvc!).

I'm not comp

[2021-01-06 19:42] #10099 closed

[2021-01-06 19:42] #10108 closed

[2021-01-06 19:42] #10124 closed

[2021-01-06 19:43] mattmoor commented on #9985
If we still want this, please reopen in net-istio.

[2021-01-06 19:43] #9985 closed

[2021-01-06 19:49] dprotaso commented on #10346
I created the scenario that you had - but using a 1.19.6 client and it seems to work fine.

Here's a script that does this with Kind: https://gist.github.com/dprotaso/7569e49d5df41a41921c672352cd0b10

Can you try to edit the script to reproduce your scenario?

[2021-01-06 19:52] mattmoor commented on #10074
Has this landed upstream?  What's our plan?

/assign @ZhiminXiang

[2021-01-06 19:55] mattmoor commented on #10226
Can you share what the underlying deployment looks like when the initial revision is created?  If you describe it, what events do you see?  What if you describe the underlying replicaset?

[2021-01-06 19:56] mattmoor commented on #10176
I believe this is a net-istio webhook problem.  If this is still an issue, can you open an issue under `knative-sandbox/net-istio`?

[2021-01-06 19:56] #10176 closed

[2021-01-06 19:57] #10140 closed

[2021-01-06 19:59] dprotaso commented on #10267
slack thread discussion: https://knative.slack.com/archives/CA4DNJ9A4/p1606458112460300

[2021-01-06 20:01] dprotaso commented on #10477
They were never properly garbage collected we had a ton of issues when route created a cluster scoped object

[2021-01-06 20:02] dprotaso commented on #10477
i should read the thread before commenting lol ;)

[2021-01-06 20:07] jonjohnsonjr commented on #10259
This seems mostly like an issue in `credentialprovider/gcp`? And we're blocking here, right?

https://github.com/google/go-containerregistry/blob/d1ffc8b82b61910dbcabfb07fdc0b6cb96fb3d66/pkg/authn/k8schain/k8schain.go#L94

 We could hack around it in `k8schain` by doing that in a goroutine with a timeout, but I don't see a way to actually use k8schain's built-in stuff if that blocks forever. We co

[2021-01-06 22:32] #10057 closed

[2021-01-07 04:24] Cynocracy commented on #10346
We've actually seen this behavior before internally.
If the object has preserveUnknownFields: true, but it isn't set in the
last-applied-config, kubectl helpfully tries to keep it around, and
that prevents
the upgrade until it's removed.

On Wed, Jan 6, 2021 at 11:49 AM Dave Protasowski <notifications@github.com>
wrote:

[2021-01-07 04:25] Cynocracy commented on #10346
Er, I guess in this case, that prevents the apply :)

On Wed, Jan 6, 2021 at 8:24 PM Jonathan Donovan <jmd377@cornell.edu> wrote:

[2021-01-07 06:34] xinydev opened #10499 "traffic splitting between two ksvc"
I have two knative services(`appender-1` and `appender-2`) in same namespace. I can edit `spec.traffic` in `appender-2` to a revision which belongs `appender-1`.  In what scenarios will such a feature be used? or is it a bug?

 /area API

[code]

## What version of Knative?

## Expected Behavior

traffic can only be splitting between revisions which belong same knative service.

## Actual Behavior

[2021-01-07 07:36] vagababov commented on #10499
Are you editing the spec of the route which is not owned by the service?

[2021-01-07 07:41] xinydev commented on #10499
no. I edited the spec of service.

[2021-01-07 07:47] vagababov commented on #10499
It is is valid, since it's basically route+config=service. And route spec permits that.

[2021-01-07 08:43] rccrdpccl commented on #8366
/reopen

[2021-01-07 12:11] #10235 closed

[2021-01-07 19:48] vagababov commented on #9766
/close

This should be done

[2021-01-07 19:48] #9766 closed

[2021-01-07 19:48] vagababov commented on #9999
/close

This is done

[2021-01-07 19:48] #9999 closed

[2021-01-07 19:51] vagababov opened #10505 "Progressive Rollout Route API changes"
The final step in the Progressive Rollout work is to update the API.
Question to be discussed on 2021/01/13 meeting is where to put the duration:
- on the Route:
   - single rollout duration for all traffic targets:
      -  inflexible, not permitting A/B experiments to rollout at various speeds
      -  simpler to perceive and understand and implement
- on each Configuration target:
   - basicall

[2021-01-07 20:32] dprotaso commented on #10346
@Cynocracy do you recall what versions you were upgrading from/to?

@snowneji were you upgrading vs. installing it fresh? (wasn't clear from the install script)

[2021-01-07 20:44] mattmoor commented on #8366
/lifecycle frozen

[2021-01-07 21:20] dprotaso commented on #9022
/lifecycle frozen

[2021-01-07 21:21] dprotaso commented on #6226
/lifecycle frozen

[2021-01-07 23:55] ericmillin commented on #9326
@markusthoemmes In this example it fails because there's no port open. But that merely reproduces the problem. It occurs in other instances as well.

[2021-01-08 01:27] Cynocracy commented on #10346
In our case I believe we were doing a jump to 0.18 as well.

I believe it was some external system adding preserveUnknownFields to all
CRDs that caused the issue (not the presence of the field in the YAML,
which kubectl would be able to intelligently diff, AIUI)

On Thu, Jan 7, 2021 at 12:32 PM Dave Protasowski <notifications@github.com>
wrote:

[2021-01-08 02:16] #9345 closed

[2021-01-08 08:32] #10477 closed

[2021-01-08 12:12] #10482 closed

[2021-01-08 15:47] dprotaso commented on #10253
Yup - it also doesn't capture the watch/queue latency from the API server to our controllers

If `kperf` is an external watcher I'd suggest watching for updates by monitoring `metadata.generation` changes.

Then you know a rough update duration by waiting for the `Ready = True` and `status.observeredGeneration` == your `metadata.generation`

#### `latestChangeTimestamp`

To Matt's point it's also

[2021-01-08 17:54] dprotaso commented on #10346
What version were you jumping from?

[2021-01-09 02:16] #9350 closed

[2021-01-09 14:04] #10499 closed

[2021-01-10 05:20] cdlliuy commented on #10253
@mattmoor ,  the proposed `latestChangeTimestamp` is an supplement for `metadata.creationTimestamp`.  It is used to record when the ksvc update is issued ,or maybe using `lastestUserUpdateTimestamp` is more clear.
i.e. for the `kn update` cmd, once the update is done,  we can use `LastTransitionTime` of `ready` - `lastestUserUpdateTimestamp` to know how long the ksvc update takes

But I agree with

[2021-01-10 09:18] nak3 commented on #10246
Yes, we can close this ticket.
@makandre please ping me on slack if this is a request from your customers and should be prioritize.

[2021-01-10 09:18] #10246 closed

[2021-01-11 02:17] ShiningTian opened #10511 "Knative reconcile fails in-middle, but be `ready` eventually for service creation"
## In what area(s)?

## What version of Knative?

## Expected Behavior

#### What we observed

We observed multiple knative intermittents reconcile failure, that is the controller met some problems in-middle, and mark the knative service status as "Failed". But given the controllers will do retry, so the knative service itself becomes "ready=true" in the end.

Anyway,  these intermittent errors ga

[2021-01-11 02:18] cdlliuy commented on #10511
@ShiningTian  and I work in the team, so we have similar observations on the knative creation failure.

Besides the mentioned in-middle reconcile failure due to network issues,
I also reported
* https://github.com/knative/serving/issues/10076 for the pod creation failure due to scheduler preemption-eviction, which finally get ksvc ready as well.

On the other hand,  I also reported
* https://githu

[2021-01-11 14:16] skonto opened #10516 "Autoscaler memory usage increases even with total number of ksvcs/revisions kept constant"
/area monitoring

## What version of Knative?

0.18.2 but should affect any version greater than this one.

## Expected Behavior
Creating/deleting a number of ksvcs while keeping the final number constant eg zero should not create any significant difference
in the heap memory allocated before and after the crud ops.

## Actual Behavior
Running  reproducer reproducer.sh (see attached file [reproduc

[2021-01-11 17:02] vagababov commented on #10516
(ノಠ益ಠ)ノ彡┻━┻

metrics again :)

[2021-01-11 17:02] vagababov commented on #10516
/cc @evankanderson

[2021-01-12 12:12] knative-test-reporter-robot opened #10525 "[flaky] test/conformance/api/v1.TestContainerExitingMsg/tcp"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestContainerExitingMsg/tcp
* **Repository name**: serving

[2021-01-12 12:12] knative-test-reporter-robot opened #10526 "[flaky] test/e2e.TestAutoscaleUpCountPods"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleUpCountPods
* **Repository name**: serving

[2021-01-12 12:12] knative-test-reporter-robot opened #10527 "[flaky] test/conformance/api/v1.TestContainerExitingMsg/http"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestContainerExitingMsg/http
* **Repository name**: serving

[2021-01-12 13:25] yangyunfeng007 opened #10528 "knative autoscaller scale to zero failure"
## What version of Knative?
0.19.0

## Expected Behavior
the pod can be scaled to zero

## Actual Behavior
the pod cannot be scaled to zero

[code]

![image](https://user-images.githubusercontent.com/17523539/104319645-1da91e80-551c-11eb-9b9c-151be45fd0a6.png)

![image](https://user-images.githubusercontent.com/17523539/104319767-4c26f980-551c-11eb-8b0e-7dbb07632fd0.png)

![image](https://user-ima

[2021-01-12 13:31] markusthoemmes commented on #10528
Are there any network policies at play that would avoid the autoscaler from being able to talk to the activator?

The error messages you're getting state that the services are not yet backed by an activator and the traffic seems to be blackholed as it fails to dial after 20s. The autoscaler pings the service and waits until an activator responds before actually scaling to 0 for maximum safety.

[2021-01-12 13:46] yangyunfeng007 commented on #10528
Yes, it is right. There is some log that shows activator can not connect to autoscaller.
{"level":"error","ts":"2021-01-12T13:38:49.371Z","logger":"activator","caller":"websocket/connection.go:138","msg":"Websocket connection could not be established","commit":"db4879e","knative.dev/controller":"activator","knative.dev/pod":"activator-796c6cfb48-qgh44","error
":"dial tcp 172.18.73.186:8080: i/o ti

[2021-01-12 19:31] tcnghia opened #10530 "DomainMapping to allow BYO certificate"
## Describe the feature

We should allow DomainMapping users to bring their own certificates to supersed the certificate provisioned by AutoTLS.

[2021-01-12 19:31] tcnghia commented on #10530
cc @mattmoor @julz this may need a change on the DomainMapping CRD?

[2021-01-12 19:48] mattmoor commented on #10530
Yeah, we will need a field to reference a secret.

[2021-01-12 21:29] evankanderson commented on #10516
I'd expect https://github.com/knative/pkg/pull/1741 fixes the problem, let me see if it got pulled in...

[2021-01-12 21:31] evankanderson commented on #10516
Yes, it looks like the release-0.18 branch does not have that patch.

Do you want me to try to back-port a cherrypick of that change?

[2021-01-12 21:41] skonto commented on #10516
@evankanderson yes that would be great! I have question though, in that PR there is a 10minute TTL beyond that all exporters are flushed and meters are removed. I am wondering from a semantics perspective if a revision is just inactive (nothing happens), no traffic hits it and no event happens related to scaling, would that mean that we will remove its metrics so that prometheus for example would

[2021-01-12 22:06] evankanderson commented on #10516
Yes, that's what will happen. We can probably adjust the TTL, but tying it in with the informer cache is probably a much larger PR.

[2021-01-12 22:10] evankanderson commented on #10421
This definitely looks like a bug; it also looks intermittent, so it may be tricky to track down. For the logs in https://github.com/knative/serving/issues/10421#issuecomment-749527745, how were they recorded (so I can try to reproduce).

[2021-01-12 22:26] skonto commented on #10516
Ok cool, I guess we can cleanup things when we get a delete event like [here](https://github.com/knative/serving/blob/3ec271c55beb2099086966bb3035011894a4c2b7/pkg/reconciler/revision/controller.go#L122) per resource.

[2021-01-13 03:12] #10528 closed

[2021-01-13 05:39] cdlliuy commented on #10511
@julz  @markusthoemmes  @mattmoor ^^ :-)

[2021-01-13 07:57] markusthoemmes commented on #10444
Hmm, this should be exactly the kinda thing our upgrade tests should catch :thinking:. I wonder where we diverge in the tests from the scenario described. We probably run with a lot more activators in the test?

[2021-01-13 07:58] markusthoemmes commented on #9921
@yanweiguo are you working on this? (Doing a little backlog grooming to cleanup :) )

[2021-01-13 07:59] markusthoemmes commented on #9310
@SwEngin you wanna pick this up? :slightly_smiling_face:

[2021-01-13 08:02] markusthoemmes commented on #6550
Discussed with peeps that this is not actionable **today**, so I'm closing this for now. We'll revisit the reason this was opened in the first place and reopen if appropriate.

[2021-01-13 08:02] #6550 closed

[2021-01-13 08:03] markusthoemmes commented on #4665
@vagababov is this done per your recent work?

[2021-01-13 08:05] markusthoemmes commented on #3064
This hasn't seen activity in ages and AFAIK nobody has asked for it anyway. Closing for now until there's any interest from users actually needing this.

[2021-01-13 08:05] #3064 closed

[2021-01-13 08:11] SwEngin commented on #9310
@markusthoemmes already working on it, pull request will be submitted today or tomorrow max :)

[2021-01-13 08:11] markusthoemmes commented on #5990
@nak3 is this still happening?

[2021-01-13 08:16] markusthoemmes commented on #6520
My 2c here: @bbrowning's comment is correct and @JRBANCEL's ["workaround"](https://github.com/knative/serving/issues/6520#issuecomment-574925711) is imo a good thing to call out in documentation **if** this is important to users.

[2021-01-13 08:18] markusthoemmes commented on #6942
Confirmed.

[2021-01-13 08:18] #6942 closed

[2021-01-13 08:20] markusthoemmes commented on #6705
@camille-rodriguez which version of Knative are you using?

The "object has been modified" error is not terminal and will be retried.

[2021-01-13 08:22] markusthoemmes commented on #6895
@VIjayHP in which way do the tests fail? I feel like your issues are different from the ones at the top of this issue.

[2021-01-13 08:25] markusthoemmes commented on #7078
FWIW I had a customer mention that for production use-cases, especially in air-gapped clusters and thelike it would actually be "more safe" to have the default be cluster-local and make things public on request.

[2021-01-13 08:28] markusthoemmes commented on #7195
Any news on this?

We should probably think about having soak tests as daily runs or something like that to prevent things like these from creeping in.

[2021-01-13 08:30] markusthoemmes commented on #7405
Does the custom domain work from @julz address the uses-cases here @duglin?

[2021-01-13 08:32] markusthoemmes commented on #7556
If you delete resources with Foreground propagation, your initial deletion should not finish before are children are gone. I'd **think** that's the consistency you're after here?

[2021-01-13 08:34] markusthoemmes commented on #7708
@julz are you driving this still?

[2021-01-13 08:36] markusthoemmes commented on #7748
@julz anything left to be done here?

[2021-01-13 08:37] markusthoemmes commented on #7925
Any news @richterdavid?

[2021-01-13 08:38] markusthoemmes commented on #8095
FWIW I did add an upgrade test to Kourier specifically and am planning to move that to knative/networking so each ingress impl. can test their upgrade behavior in isolation.

[2021-01-13 08:46] markusthoemmes commented on #8684
Anything we could/should do here? Feels like everything but doing a KEP to improve this on the K8s side is racy. This sounds like a great addition in K8s too FWIW.

[2021-01-13 08:48] markusthoemmes commented on #9310
/assign @SwEngin

[2021-01-13 09:23] sravankumar777 commented on #7195
Hi All,

Sorry for the delay.

Seems like this issue is fixed now from knative-serving v0.18.x

[code]

![image](https://user-images.githubusercontent.com/18139717/104432098-00338d80-55cc-11eb-8b9b-b121be1dc3ad.png)

Webhook container memory usage starts from 47Mi & webhook pod requests and limits are set bit high as well.

Expecting no restarts for webhook pod, very frequently.

[code]

[2021-01-13 09:40] markusthoemmes commented on #8949
Ack, allowing the probes seems okay for sidecar containers.

[2021-01-13 09:45] markusthoemmes commented on #9046
Is this still an issue? The Service level error mentioned above is still kinda odd :thinking:. We should look at fixing that rather than implementing defaults in Knative, since this seems to actively make us less pluggable towards other webhooks.

[2021-01-13 09:47] markusthoemmes commented on #9114
/assign

[2021-01-13 09:49] somaya10 commented on #9046
Havent checked since. We are on a much recent version of knative now, so will checkout what we see and get back to you.

[2021-01-13 09:51] markusthoemmes commented on #9326
We should improve this.

/remove-lifecycle-stale

[2021-01-13 09:51] markusthoemmes commented on #9409
Any news here @pengcheng-cs. It'd be interesting to know if we have fixed this for good.

[2021-01-13 09:54] markusthoemmes commented on #7195
Cool! Thanks for the info!

/close

[2021-01-13 09:54] #7195 closed

[2021-01-13 09:54] markusthoemmes commented on #9553
/remove-lifecycle stale

[2021-01-13 09:55] julz commented on #7748
[Started a conversation in slack](https://knative.slack.com/archives/C010DECE3SN/p1610476632119300) about promoting this to beta.

[2021-01-13 09:57] markusthoemmes commented on #9582
Looking through testgrid, this hasn't happened in ages.

Please reopen if you think differently.

[2021-01-13 09:57] #9582 closed

[2021-01-13 09:58] markusthoemmes commented on #9874
I've done this a while ago in https://github.com/knative/serving/pull/10075

[2021-01-13 09:58] #9874 closed

[2021-01-13 10:00] markusthoemmes commented on #9888
Any news here? 500s are baaaad :)

[2021-01-13 10:01] markusthoemmes commented on #9980
/good-first-issue
/kind good-first-issue

[2021-01-13 10:03] markusthoemmes commented on #10037
I believe we want to look at consuming this field from Knative itself rather than relying on readinessProbe as much as we do today. Once we have a minimum K8s version that allows us to consume startupProbe, I assume we'll implement that and allow the same subset to be defined as we do today for readinessProbes (at least roughly).

If we allow this today, we might run into compatibility issues when

[2021-01-13 10:21] markusthoemmes commented on #10133
The goal of Knative currently isn't necessarily to provide a ready-to-install Serverless platform, that you can just go and sell. Downstream projects and vendors are adding these features currently as they see fit.

[2021-01-13 11:45] #9114 closed

[2021-01-13 12:13] knative-test-reporter-robot opened #10536 "[flaky] .Up"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Up
* **Repository name**: serving

[2021-01-13 12:49] duglin commented on #7405
it might... I'll try to find some time today to play with it and see.  Thanks for the reminder.

[2021-01-13 14:37] richterdavid commented on #7925
This is waiting on https://github.com/knative/community/issues/259 is stalled, waiting on PR review. Seems like it has lots of reviewers, but not assignees? Let me add you as an assignee.

https://github.com/knative/community/pull/258
https://github.com/knative-sandbox/.github/pull/11

[2021-01-13 17:14] vagababov commented on #4665
95%
Docs and more tests remain.

[2021-01-13 17:20] rhuss commented on #8160
I think this issue is still important
/remove-lifecycle stale

[2021-01-13 18:43] JRBANCEL commented on #7556
If the children deletion in Foreground mode is also done by GC, we might still see the same issue.

That's slightly besides the point though. What I am saying is we could be smarter and realize that the object we want to create/update is owned by an inexistent object and decide to overwrite it. This would cover this GC bug, GC taking long time, deletion->recreation scenarios, etc...

[2021-01-13 19:03] evankanderson commented on #10516
It would be nice if we could keep the Meter or a set of [Counters/Observers](https://pkg.go.dev/go.opentelemetry.io/otel@v0.15.0/metric#Meter.NewFloat64Counter) alongside the informer in the cache, and then load them into the Context when handling something for that Resource.

[2021-01-13 19:21] evankanderson commented on #10516
(Unfortunately, the current code is structured with a sort-of-global singleton for the Metrics, which isn't right for our use case, but I started the migration from the inside rather than the outside.)

[2021-01-13 21:14] duglin commented on #7405
Nope - apparently @julz doesn't like my use case :-)
If I try to map the domain name that I use in my domain template then it won't work - and that's my use case.

[2021-01-13 21:22] duglin commented on #7405
however, what's odd is that if my app is scaled to zero then it works. But once it's scaled up,then it fails with a 502.

[2021-01-13 21:48] vagababov opened #10540 "Remove the deep propagation of the revision public service from SKS up."
/area API
/area autoscale
/area networking

## Describe the feature

Right now we have the k8s service which represents the revision. That k8s service is created by SKS. Then picked up by KPA and then by Revision.
And then it is used elsewhere (activator, autoscaler, route controllers), possibly users.

But it does not have to be this hard, we know (since we generate the name), that this service n

[2021-01-13 21:48] vagababov commented on #10540
As per discussion at today's API WG meeting (see recording for details).

[2021-01-14 09:39] #10133 closed

[2021-01-14 11:07] zhangrongguo opened #10547 "[TLS] [HTTPS] Self signed cert by cert-manager can't be recognized by kubernetes."
# cert.yaml
[code]

# kubectl create -f cert.yaml

# kubectl edit cm -n knative-serving config-network
[code]

# kubectl edit gateway -n knative-serving knative-ingress-gateway
[code]

# kubectl describe route license-serving
[code]

# kubectl describe gateway -n knative-serving knative-ingress-gateway
[code]

# kubectl get cert -n istio-system
`No resources found.`

# kubectl describe issuer.cert

[2021-01-14 13:36] skonto commented on #10259
@jonjohnsonjr I think the best thing is to patch the libs to propagate a ctx that timeouts and pass it down to runWithBackof.

[2021-01-14 13:52] duglin opened #10554 "Intermittent 502 with domain name as ksvc url"
## In what area(s)?
/area autoscale
/area networking

While play around with https://github.com/knative/serving/issues/7405 I modified my domainTemplate to be:
[code]
And if I set an annotation on my ksvc called "www" then it'll assign it a URL value that matches my domain name. And that seems to work just fine.

However, I've noticed that when my ksvc is scaled to zero when curl it I get a 502 ba

[2021-01-14 14:01] duglin commented on #10554
Hmm might be an istio thing - I don't see this with Kourier

[2021-01-14 14:13] duglin commented on #10554
using Istio, I got a 404 this time:
[code]

[2021-01-14 14:18] skonto commented on #10516
@evankanderson have a pointer for the migration? Anyway I can help?

[2021-01-14 14:28] duglin commented on #10554
Once you edit the domainTemplate, try this script to reproduce it:
[code]

for me I see:
[code]

Notice i saw the 502 even on the first curl - which should have been scaled to 1. So it might be an network/istio "first request after a long time" issue.

[2021-01-14 18:24] yanweiguo commented on #9921
Not working on this currently.

[2021-01-14 19:33] camille-rodriguez commented on #6705
@markusthoemmes the latest, 0.19.0, when I did that test. I do not have that environment up anymore though.

[2021-01-14 20:50] jonjohnsonjr commented on #10259
Given https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/541-external-credential-providers we'd diverge pretty significantly from upstream k8s. That seems fine, if @vdemeester is willing to maintain that fork, but it might be less effort to implement k8schain in terms of external credential providers. I'm not sure if that's feasible, as I haven't fully digested the KEP, but it's

[2021-01-14 21:01] jonjohnsonjr commented on #10259
At least for GCP, this seems very interesting: https://github.com/kubernetes/cloud-provider-gcp/issues/173

[2021-01-14 22:37] mattmoor commented on #8949
/lifecycle frozen

[2021-01-14 22:42] mattmoor commented on #10511
I think the assumption here is that it is an unrecoverable failure: https://github.com/knative/serving/blob/89cbb09674d51c229a555ad920585fd34d36c260/pkg/reconciler/configuration/configuration.go#L76

cc @dprotaso

[2021-01-15 00:28] vagababov commented on #9763
/lifecycle frozen

[2021-01-15 00:29] vagababov commented on #10505
/assign

[2021-01-15 00:29] vagababov commented on #10505
API WG decision was for now use an annotation.

[2021-01-15 04:21] VIjayHP commented on #6895
Ya right ! This issue is resolved already with your inputs to use tag resolution. Thanks.

[2021-01-15 10:42] zhangrongguo commented on #10547
I found that I couldn't curl the [node-ip]:[https:port] of istio ingress gateway successfully. The error message was "connection refused". When I executed the istio ingress gateway container, I found that the 443 port was not opened for listening.

[2021-01-15 12:13] #10527 closed

[2021-01-15 12:13] knative-test-reporter-robot opened #10566 "[flaky] test/upgrade.TestServingUpgrades/DowngradeWith/ServingLatestRelease"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/DowngradeWith/ServingLatestRelease
* **Repository name**: serving

[2021-01-15 12:13] knative-test-reporter-robot opened #10567 "[flaky] cmd/queue.TestProbeQueueTimeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: cmd/queue.TestProbeQueueTimeout
* **Repository name**: serving

[2021-01-15 12:13] #10409 closed

[2021-01-15 12:13] #10525 closed

[2021-01-15 15:45] cdlliuy commented on #10511
@mattmoor , no , I think the svc is marked False with
https://github.com/knative/serving/blob/89cbb09674d51c229a555ad920585fd34d36c260/pkg/reconciler/configuration/configuration.go#L113
, so it is a situation that can recover later.

[2021-01-15 19:05] fuzzybaird commented on #10470
I am curious about this one as well. I am serving through digital ocean, and the option of `httpProtocol: Redirected` does not seem to be working.

[2021-01-15 19:22] mattmoor commented on #10470
What ingress provider are you using on DO?  I assume Cloud Run is the standard Istio setup.

cc @knative/networking-wg-leads

[2021-01-15 19:40] JRBANCEL commented on #10470
I am not sure if there is a global setting, @ZhiminXiang  can confirm.

But as documented [here](https://cloud.google.com/kuberun/docs/managed-tls#redirects), you can use an annotation per DomainMapping:

[code]

[2021-01-15 20:31] fuzzybaird commented on #10470
@mattmoor I am using DigitalOceans  Loadbalancer Controller with their Kubernetes offering. But I might be misunderstanding your question. And if the controller has to implement the redirect on their Loadbalancers then I should probably take this up with them. I guess I just thought that the redirect was happening downstream from the ingress. But I am still new to the Knative echo system and only

[2021-01-16 02:37] #9420 closed

[2021-01-16 02:37] #9275 closed

[2021-01-16 21:28] ontheway16 commented on #7359
@koalaxiu7 could you solve this.issue ?

[2021-01-18 02:00] nak3 commented on #10554
@duglin  I tested the script several times on my env but the issue did not happen. My result is [1]. (I registered `example.com`'s IP in client's `/etc/hosts` for test so it might cause different result.)

Could you try to add `-v` option to your curl command? We may be able to find who returs `502` error. For example, nginx replies `502` error on your `kndev.us-south.containers.appdomain.cloud` f

[2021-01-18 07:06] markusthoemmes commented on #4283
/lifecycle freeze

We still want this, I believe?

[2021-01-18 09:46] ofaz commented on #9409
@markusthoemmes For what its worth - we were observing similar performance / behaviour to this when using KNative 0.15 as part of a KFserving cluster (approx, 300m CPU usage). We have just upgraded to Knative 0.17 and queue-proxy is now consuming approx. 35m. CPU as measured via `kubectl top pod --container`.

This cluster has 187 KSVC currently deployed. Cluster running GKE 1.16 with Istio 1.6.5

[2021-01-18 09:51] markusthoemmes commented on #9409
That sounds great @ofaz, so from your PoV, this issue is solved?

[2021-01-18 09:57] ofaz commented on #9409
@markusthoemmes I am unsure of the specifics of @pengcheng-cs's environment and exact deployment, however we were seeing similarly high CPU usage from the queue proxies in 0.15. To that end, upgrading to 0.17 has resolved this! From my point of view this issue is resolved in 0.17 (Thank you!). We skipped 0.16 and did not test if the 0.16 release fixed this issue.

@pengcheng-cs mentions in this is

[2021-01-18 13:22] duglin commented on #10554
here's the output:
[code]

I'm surprised you didn't get a 404 all the time from my endpoint since my ksvc was deleted :-)
I'll keep it there for a while.

btw - are you using istio?

[2021-01-18 14:35] dprotaso commented on #9067
/lifecycle frozen

[2021-01-18 17:52] maschmid opened #10575 "RevisionFailed when ServiceAccount references a non-existing imagePullSecret"
Having a default ServiceAccount in a namespace referencing an imagePullSecrets  that doesn't exist anymore in the namespace, creating a ksvc gets its Revision failed:

[code]

Deploying the same image as an ordinary pod works fine with the same ServiceAccount.

## What version of Knative?

0.20.0

## Expected Behavior

Creating a Ksvc should work even if some of the image pull secrets don't exist,

[2021-01-18 20:26] dprotaso commented on #10253
None that come to my mind at the moment

[2021-01-18 20:41] dprotaso commented on #10575
/area API

I'm sort of in-different to this statement because although we differ with K8s their behaviour may not be _intentional_/defined. You could argue Knative's fail-fast helps more than in hinders.

[2021-01-18 21:10] #9980 closed

[2021-01-18 21:16] dprotaso commented on #10511
/area API

There's currently some gaps in our failure modes as you pointed out (https://github.com/knative/serving/issues/9857, https://github.com/knative/serving/issues/10076) where we don't report certain failures and revisions will end up being marked '`ready=True` only when they are scaled to `0`.  I've been poking at this problem prior to the break.

The scenarios you highlighted are a bit di

[2021-01-19 07:27] cdlliuy commented on #10511
@dprotaso, yes, I agreed that there are retries, and I like the retries in current design , which make the ksvc eventually to be ready.

I just wonder whether we can avoid to report `reconcile failure`  since these are not permanent errors.

[2021-01-19 18:12] ZhiminXiang commented on #10470
@sneko please follow comment https://github.com/knative/serving/issues/10470#issuecomment-761158386 and let me know if it works in your side.

[2021-01-20 08:41] markusthoemmes commented on #10575
Hmm, I tend to agree with @dprotaso here. Things might go breaking in unexpected ways using this I think, as some images will work and some won't :thinking:. Not a strong opinion either though.

[2021-01-20 12:13] knative-test-reporter-robot opened #10586 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest
* **Repository name**: serving

[2021-01-20 18:46] SwEngin commented on #9310
@vagababov

[2021-01-21 12:13] knative-test-reporter-robot opened #10600 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/ProbeTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/ProbeTest
* **Repository name**: serving

[2021-01-21 20:30] dprotaso commented on #7077
/lifecycle frozen

[2021-01-23 12:12] knative-test-reporter-robot opened #10612 "[flaky] test/e2e.TestRPSBasedAutoscaleUpCountPods"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestRPSBasedAutoscaleUpCountPods
* **Repository name**: serving

[2021-01-23 12:12] knative-test-reporter-robot opened #10613 "[flaky] test/e2e/autotls.TestTLS/http01/Tag_route"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/autotls.TestTLS/http01/Tag_route
* **Repository name**: serving

[2021-01-23 14:36] dprotaso opened #10614 "serviceUID & configurationUID break downgrade - we need to add it in two releases"
## What version of Knative?

0.20 => HEAD => 0.20

## Expected Behavior

storage migration works

## Actual Behavior

storage migration fails
[code]

We need to allow validation in one release and then add the label in the other

## Steps to Reproduce the Problem

[2021-01-24 02:40] #9561 closed

[2021-01-24 12:09] knative-test-reporter-robot opened #10616 "[flaky] test/e2e.TestInitScalePositive"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestInitScalePositive
* **Repository name**: serving

[2021-01-24 12:09] #10600 closed

[2021-01-25 15:51] duglin opened #10622 "Remove the 2 release cycle needed to add a new label"
## In what area(s)?
/area API
/kind good-first-issue

## Describe the feature

Today when we want to add a new serving label we need to add the "concept" of the new label in the next release, and then in a follow-on release we can actually use the label. This delay is very restrictive w.r.t. how fast we can add a new label if it's really needed quickly.

The reason for this delay is so that we can

[2021-01-25 16:55] vagababov commented on #10622
Note that this is only for the top level API objects. Which are guided by a stricter set of rules.

[2021-01-25 23:52] vagababov commented on #10505
Annotation is complete
/close

[2021-01-25 23:53] #10505 closed

[2021-01-26 08:05] senthilnathan commented on #9326
I am observing a different behaviour with the HEAD.

[code]

[code]

@ericmillin, are you still seeing the issue?

[2021-01-26 12:10] knative-test-reporter-robot opened #10630 "[flaky] test/scale.TestScaleToN/scale-200/093-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/093-of-200
* **Repository name**: serving

[2021-01-26 12:10] #10566 closed

[2021-01-26 12:10] #10567 closed

[2021-01-26 14:32] dprotaso commented on #10622
Relevant clauses from the [spec](https://github.com/knative/docs/blob/master/docs/serving/spec/knative-api-specification-1.0.md):

[Service](https://github.com/knative/docs/blob/master/docs/serving/spec/knative-api-specification-1.0.md#service-1)

[Service Metadata](https://github.com/knative/docs/blob/master/docs/serving/spec/knative-api-specification-1.0.md#service-2)

[Configuration](https://gi

[2021-01-26 21:40] JRBANCEL commented on #10554
How does `nginx` fit in the picture?
The 502 doesn't come from Istio nor `queue-proxy` nor `activator`, so how is this a Knative issue?

[2021-01-26 21:46] duglin commented on #10554
I assumed it was coming from istio since my app doesn't use nginx. And I was thinking it was either due to istio being slow or not fully configured by knative's net-istio. Or even a bug in Istio. Would love to see if anyone else can reproduce this in their env

[2021-01-26 21:59] vagababov commented on #10554
That was the question I also had — since coming from ngnix I'd presume it's nothing to do with knative, unless you have ngnix based ingress — but then the bug is probably in _it_ :)

[2021-01-28 00:09] nyarly opened #10639 "Configuration "hello-world" is waiting for a Revision to become ready."
## What version of Knative?

0.19

## Expected Behavior

I've got a new deployment of KNative, based on this guide: https://knative.dev/docs/install/any-kubernetes-cluster/

When I use the `kn` tool or a KService YAML file to create a new `kservice`, the service, its configuration, route, and first revision are all created.

However, the Revision never becomes ready:
[code]

As a result, I can con

[2021-01-28 01:47] #9303 closed

[2021-01-28 07:13] nak3 opened #10641 "TestGradualRollout sometimes fails because Rollout duration is a few seconds shorter"
/area test-and-release

## What version of Knative?

The last error happened when build on aac0df2f3c1f849a810bd0390d04f3b137608e9e

## Expected Behavior

- TestGradualRollout pssed without flake.

## Actual Behavior

- Please refer to the following error.

https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-kourier-stable/1354223700995477504
[code]

https://prow.knative.dev/vie

[2021-01-28 10:44] SwEngin opened #10642 "Deployment couldn't be found after wrapping context with time out in KPA autoscaler"
## In what area(s)?

/area autoscale

## What version of Knative?

master

## Expected Behavior
Deployment should be found as with inspection the deployment can be found ready and available. All e2e Autoscale tests should pass (especially TestAutoscaleUpDownUp, TestGRPCAutoscaleUpDownUp, TestGRPCLoadBalancing)

## Actual Behavior

- Deployment can't be found

`[knative.dev.serving.pkg.reconciler.a

[2021-01-28 18:16] vagababov commented on #10641
It might be that the kourier is much faster than istio so by the time the test observes the new revision the process is full under way. I'll add more leeway.
/assign

[2021-01-28 18:37] ssandanshi commented on #10421
Any Updates on this? Our metrics and dashboards are broken currently due to Metrics not being scraped at all.

[2021-01-28 22:54] shosti commented on #6698
Just wondering, is something like this still on the roadmap? Seems like it would be a really useful feature.

[2021-01-28 23:42] cardil commented on #9554
/remove-lifecycle stale
/reopen

[2021-01-28 23:44] cardil commented on #9554
I feel like this is still valid, and upstream K8s isn't the good place to try adding such mechanism. Maybe, this can be done as an extension to webhook.

[2021-01-29 00:05] #10641 closed

[2021-01-29 04:37] Cynocracy commented on #9957
/remove-lifecycle stale

[2021-01-29 04:42] Cynocracy commented on #9957
This reminded me of reading https://www.cockroachlabs.com/blog/go-file-size/

I don't know how up to date it is, but maybe it would be reasonable to consider another language if we wanted to minimize the binary?

For the stackdriver dependency, we're in the (somewhat slow) process of rolling out a queue-proxy that uses Otel to our fleet.
We should be OK to delete the support at least in queue-prox

[2021-01-29 05:37] Cynocracy commented on #8970
/remove-lifecycle stale

/assign @Cynocracy

[2021-01-29 05:38] Cynocracy commented on #8970
This should be safe to roll forward now, I can pick that up

[2021-01-29 12:11] knative-test-reporter-robot opened #10649 "[flaky] test/e2e.TestGradualRollout"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestGradualRollout
* **Repository name**: serving

[2021-01-29 12:11] #10630 closed

[2021-01-29 14:58] mattmoor commented on #9957
/lifecycle frozen

Yeah, I poked through that when I first opened this.

While I think minimizing the binary is a nice goal, I also think there are practical considerations.  I'm reminded of Kubernetes debating a rewriting the `pause` container in assembly, but the practical implications of maintaining that vs. something slightly larger in a higher-level language wasn't worth it.

Likewise here, I

[2021-01-29 15:57] knative-test-reporter-robot opened #10650 "[performance] Serving load testing"
### Auto-generated issue tracking performance regression
* **Repository name**: serving
* **Test name**: Serving load testing

[2021-01-29 17:13] vagababov commented on #10649
/assign
/close
the check is removed

[2021-01-29 23:24] akshayuppal3 opened #10656 "Unable to apply affinity settings to knative-serving"
I was trying to apply affinity settings as I thought affinity spec was now available based on this issue:https://github.com/knative/build/issues/116.  But I get an error when trying to apply affinity setting.

Following is the sh file that I am using
[code]

[2021-01-30 12:10] knative-test-reporter-robot opened #10658 "[flaky] test/scale.TestScaleToN/scale-200/012-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/012-of-200
* **Repository name**: serving

[2021-01-30 12:10] knative-test-reporter-robot opened #10659 "[flaky] test/scale.TestScaleToN/scale-200/007-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/007-of-200
* **Repository name**: serving

[2021-01-30 12:10] knative-test-reporter-robot opened #10660 "[flaky] test/scale.TestScaleToN/scale-200/081-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/081-of-200
* **Repository name**: serving

[2021-01-30 12:10] knative-test-reporter-robot opened #10661 "[flaky] test/scale.TestScaleToN/scale-200/144-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/144-of-200
* **Repository name**: serving

[2021-01-30 16:12] n3wscott opened #10662 "DomainMapping controller can not resolve addressable?"
/area networking

It seems that the domain mapping controller is not using the addressable selector on RBAC so it is not working on eventing addressable resources

## What version of Knative?

## Expected Behavior

All addressable a work on domain mapping.

## Actual Behavior

Domain map gets an error status.

## Steps to Reproduce the Problem

Make a channel and use it in a domain map.

[2021-01-30 19:46] Cynocracy commented on #9957
Gotcha 😃 That all makes sense to me!

Totally agree, after I wrote that I immediately thought: well, what language, then? 🚲  Maaaybe something like Rust, but that's a stretch for maintenance, though it does sound kind of fun as a proof of concept.

Will try to keep this updated with our progress, we're close enough that I wouldn't mind seeing the stackdriver deletion in 0.21 or 0.22, wdyt? At this

[2021-01-31 12:10] knative-test-reporter-robot opened #10663 "[flaky] test/e2e/tagheader.TestTagHeaderBasedRouting/send_request_with_correct_header"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/tagheader.TestTagHeaderBasedRouting/send_request_with_correct_header
* **Repository name**: serving

[2021-01-31 12:10] knative-test-reporter-robot opened #10664 "[flaky] test/e2e/tagheader.TestTagHeaderBasedRouting/send_request_with_non-exist_header"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/tagheader.TestTagHeaderBasedRouting/send_request_with_non-exist_header
* **Repository name**: serving

[2021-01-31 12:10] knative-test-reporter-robot opened #10665 "[flaky] test/e2e/tagheader.TestTagHeaderBasedRouting/send_request_without__header"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/tagheader.TestTagHeaderBasedRouting/send_request_without__header
* **Repository name**: serving

[2021-01-31 18:08] mattmoor commented on #9957
Have you met @julz 😉

Defer to @evankanderson who's been tracking the broader effort most closely.

[2021-01-31 19:41] julz commented on #9957
I mean envoy is written in _c++_ and has survived ok so.. rust may not be so bad (and it has worked well for linkerd)! I started a repo at http://github.com/julz/roo-proxy a while ago to experiment a bit (without much progress yet, tho!). One thing I'd _really_ like to try is to see how much of QP we could reimplement as a wasm plug-in for envoy-- that way we could reuse all of the great work and

[2021-02-01 07:23] markusthoemmes commented on #9957
FWIW, just to throw my hat in here too (not the red one necessarily): I've been [tinkering on a rust-based queue-proxy](https://github.com/markusthoemmes/knative-queue-proxy-rust) in my friday learning time as well, without a ton of progress either. Currently it serves mostly as a segway for me to actually learn the language, but the queue-proxy in itself is a rather complex piece of software by n

[2021-02-01 08:16] julz commented on #10662
let me see if I can figure this out

/assign

[2021-02-01 11:02] skonto commented on #10516
@evankanderson even with the fix were are hitting the same issue, activator and autoscaler is restarting in 12h soak test (here is a dump diff with a 25 minutes time diff):

[code]

[2021-02-01 12:12] #10658 closed

[2021-02-01 12:12] #10649 closed

[2021-02-01 12:12] knative-test-reporter-robot opened #10667 "[flaky] test/e2e.TestSvcToSvcViaActivator/both-disabled"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSvcToSvcViaActivator/both-disabled
* **Repository name**: serving

[2021-02-01 13:16] vaikas opened #10668 "Robot fails to upgrade deps."
## What version of Knative?

head

## Expected Behavior
Robot to properly update the deps

## Actual Behavior
Robot fails to update the deps. Does not look related to this repo only (for example: https://github.com/knative-sandbox/eventing-gitlab/issues/104), but raising awareness:

Here's an example of a failing run:

[code]

## Steps to Reproduce the Problem

This does not seem related to only r

[2021-02-01 17:56] akshayuppal3 commented on #10656
I saw that the anti affinity map is already supplied for each of the resources: https://github.com/knative/serving/pull/8944/files
so do we need to supply just the config for each spec:

e.g.
[code]
?
couldn't find doc for it

[2021-02-01 18:50] ZhiminXiang commented on #10074
Chatted with @hawardjohn. Currently the fix is in Istio 1.9.

I will check with Istio team and see if it is feasible to backport to earlier Istio version.

[2021-02-01 19:04] akshayuppal3 commented on #10656
assign @mattmoor

[2021-02-01 22:01] eigood commented on #6353
This happens to me more often now.  I just upgraded my 500MB/s SATA SSD(raid1) to 3000MB/s NVME SSD(raid1).  All of the objects defined apply *very* fast, and then at the end the mentioned webhook has not yet started.

[code]

[2021-02-02 10:42] #10642 closed

[2021-02-02 12:12] #10612 closed

[2021-02-02 12:12] #10661 closed

[2021-02-02 12:12] #10660 closed

[2021-02-02 12:12] #10659 closed

[2021-02-03 07:31] ZhiminXiang commented on #10486
I was able to verify that the DNS record was successfully added into the DNS server. The DNS setup failed when validating the DNS record from DNS server. Still investigating.

[2021-02-03 12:12] #10663 closed

[2021-02-03 12:12] #10664 closed

[2021-02-03 12:12] #10665 closed

[2021-02-03 16:04] muthurajr opened #10688 "Istio Authorization - RBAC: access denied and Error roundtripping http://*:80/healthz: context deadline exceeded"
I'm trying to add end user authentication for Istio (version=1.7.1) which doesn't work for services deployed through Knative(version=0.20.0). Getting error "RBAC: access denied" while trying to test the deployed service.

[ root@curl:/ ]$ curl --header "Authorization: Bearer $TOKEN" --header "Host: hello.iteration1.example.com" "$INGRESS_HOST"
RBAC: access denied
[ root@curl:/ ]$ curl --header "Au

[2021-02-03 16:10] lamw opened #10689 "Include default imagePullPolicy in serving manifests"
## In what area(s)?

/kind spec

## Describe the feature

We ([VMware Event Broker Appliance team](https://vmweventbroker.io/)) plan to incorporate the Knative Serving components into our solution. One of the customer requirements is to not to require an internet or network proxy for deployment and the solution should be completely self-contained within the appliance. This means we pre-download al

[2021-02-03 17:59] SwEngin opened #10690 "Failed to get private K8s Service endpoints, after wrapping the context with context with timeout"
## In what area(s)?
/area API
/area networking

## What version of Knative?
master/dev

## Expected Behavior

K8s Service should be found and no errors thrown

## Actual Behavior

If I run TestImagePullError, wrapping the context of service with timeout I get an error that K8s Service couldn't be found.

## Steps to Reproduce the Problem

In pkg/reconciler/service ReconcileKind, Wrap the context o

[2021-02-03 18:42] SwEngin commented on #10690
I'll look into this myself

[2021-02-03 19:36] dprotaso commented on #10689
Security best practice is to actually set the policy to `Always` in a multi-tenant cluster - there's even an omission controller for it - [AlwaysPullImages](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#alwayspullimages). Details here https://trstringer.com/kubernetes-alwayspullimages/

The default pull policy is `IfNotPresent` - it may be simpler in your build/int

[2021-02-03 20:02] lamw commented on #10689
Thanks for the note @dprotaso, when had tested for this behavior probably ~1yr back, we did not observe this to be the default behavior. Maybe its since changed, but happy to re-validate. If that's the case, then we're good. Let me do some testing and report back

[2021-02-03 20:22] dprotaso commented on #10689
Seems like another factor is how you describe your images

From: https://kubernetes.io/docs/concepts/containers/images/#updating-images

[2021-02-03 20:38] dprotaso commented on #7871
/lifecycle frozen

[2021-02-03 23:43] mjgallag commented on #10160
Not sure it's helpful to root causing this but I just wanted to confirm that it does appear to be a timing issue (not deterministic). I worked around the problem by installing and waiting for istio to be ready first.

[2021-02-04 01:28] #9104 closed

[2021-02-04 01:33] vagababov commented on #9531
/reopen
/lifecycle-frozen
/assign

Preliminary assigned to me

[2021-02-04 07:14] markusthoemmes commented on #10690
/assign @SwEngin

[2021-02-04 12:13] #10667 closed

[2021-02-04 12:13] knative-test-reporter-robot opened #10694 "[flaky] test/ha.TestActivatorHAGraceful"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/ha.TestActivatorHAGraceful
* **Repository name**: serving

[2021-02-04 15:52] dprotaso commented on #10668
This has been resolved in two ways

1) upstream reverted their tag rewrite https://github.com/google/gnostic/issues/238
2) [We re-enabled the proxy for non-knative deps ](https://github.com/knative/hack/blob/8368e1f6eacf88206d6b515744292df947597b0e/library.sh#L542-L543)

[2021-02-04 15:52] #10668 closed

[2021-02-05 01:32] #7915 closed

[2021-02-05 01:32] #7210 closed

[2021-02-05 07:06] julz opened #10703 "Use StartupProbe in Queue Proxy"
## Describe the feature

Now that [minimum k8s version is 1.18](https://github.com/knative/serving/pull/10699) the StartupProbe feature is in beta and enabled by default (it went GA in k8s 1.20). I believe this means we get to play with it!  🎉🎉

Using StartupProbe should allow us to only use the exec probe logic (which requires a background, relatively-expensive process launch every few seconds in

[2021-02-05 12:12] cardil commented on #8629
I think we should take a look at migration software like [Flyway](https://flywaydb.org/) or [Liquibase](https://www.liquibase.org), at least for inspiration how this might be organized.

My quick and dirty idea is to:
- have knative-migrator component, that would orchestrate migrations,
- each knative component (serving, eventing, kafka, rabbitmq ...) could listen for migrator state (UPGRADING, ST

[2021-02-05 12:14] knative-test-reporter-robot opened #10707 "[flaky] test/e2e.TestAutoscaleUpDownUp"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleUpDownUp
* **Repository name**: serving

[2021-02-05 12:14] #10526 closed

[2021-02-05 12:14] knative-test-reporter-robot opened #10708 "[flaky] test/e2e.TestMinScale"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestMinScale
* **Repository name**: serving

[2021-02-05 12:50] cardil commented on #8629
BTW. This issue should be moved to a more general place, as obviously it's related to Serving only.

[2021-02-05 18:51] #5732 closed

[2021-02-05 20:09] dprotaso commented on #5732
Note the properties are optional if you're defaulting into k8s style probe (ie. periodSeconds > 0)

[2021-02-05 22:11] emaildanwilson opened #10710 "Rollout stuck when rolloutDuration > 0 and enable-virtualservice-status = true"
## What version of Knative?

0.20.0

## Expected Behavior
rollouts should still work or this combination of settings should not be value

## Actual Behavior

* for each change to the knative service...
  * a new revision is created and set to 1 percent of traffic
  * the service Ready and RoutesReady status is set to Reason: RolloutInProgress & Status: Unknown
  * it never progresses beyond this

[2021-02-05 22:26] emaildanwilson commented on #10710
Don't dig into this yet since it might be an issue w/ my environment, still testing.

[2021-02-05 22:31] vagababov commented on #10710
rolloutDuration=1 is kind of strange configuration. I am not sure if there's an undesired interaction with VS status.
Can you share the state of the `kingress` object

`k get kingress X -oyaml`.

[2021-02-05 22:33] vagababov commented on #10710
In my cluster just having rD=1 seems to work.
It's the duration in seconds and for to achieve anything useful at least `60` is suggested.

[2021-02-05 22:40] emaildanwilson commented on #10710
I agree 1 is a strange value, I was just using it as an example. I used 60 when I first hit this condition although now I think the problem is with `enable-virtualservice-status`. I noticed the rollout completed when either flag was disabled but I didn't notice that ingress isn't reported as healthy which is probably the issue here for me.

[2021-02-05 22:45] vagababov commented on #10710
Yeah Kingress being ready is the precondition for GR to work.
cc @arturenault @JRBANCEL to help with VS status.

[2021-02-05 22:50] arturenault commented on #10710
I think I know what's causing this.

Istio pre-1.8 virtual services have a status, but don't have observedGeneration. So we may be continually rejecting virtual service status as stale. This is an edge case we didn't consider.

A workaround would be to disable status (and go back to regular prober verification), or upgrade to Istio 1.8.2.

[2021-02-05 22:53] emaildanwilson commented on #10710
ok, got it. I was waiting on 1.8, partly due to the compatibility statement here: https://knative.dev/docs/install/installing-istio/#supported-istio-versions

I'll disable it for now.

Thank you for the help!

[2021-02-05 22:57] arturenault commented on #10710
Thanks for pointing us to that doc, it's not up to date! :)

And thanks for reporting this, I'll work on a fix.

/assign

[2021-02-07 02:40] xionghui opened #10711 "knative sks mode always Proxy, cannot change to Serve mode，why?"
## Ask your question here:
When revision pods scaled to zero，sks mode changes to Proxy mode，and Activator is in requests data path。When I call revision service and revision pods are running for processing requests。However，activator is always in Proxy mode.
![image](https://user-images.githubusercontent.com/2037425/107134875-dd796800-6930-11eb-8655-bf6a086fe83c.png)

[2021-02-07 03:07] UUvUU opened #10712 "How to avoid closing POD"
## Ask your question here:

Now we have a scenario where we need a request to start the POD for processing, but if we need to close the POD after it receives the notification, then this POD will take a long time to process. I wonder if we can implement this scenario using Knative?How?Can I turn this configuration off when the extension from zero to grace period is reached?

[2021-02-07 06:37] vagababov commented on #10711
It depends on the target burst capacity.
You can check the logs for `ExcessBC=` logs in autoscaler logs (`k logs -n knative-serving autoscaler-<pod-idx>`). You'll need to enable debug logs for `autoscaler` component first (`config-logging` config map).
If the number is negative — activator would be in the request path.

[2021-02-07 12:09] #9482 closed

[2021-02-07 12:09] #10616 closed

[2021-02-07 12:09] #10707 closed

[2021-02-08 02:23] xionghui commented on #10711
Thanks for u answering.
I adjust target-burst-capacity to 100 in config-autoscaler configmap，and retry access knative service，sks mode is always Proxy mode，anything is not changed. I print autoscaler logs like this:
[code]

Wish to accept your message once more.

[2021-02-08 03:06] xionghui commented on #10711
I modified configmap from 100 to 1 in config-autoscaler and show logs for autoscaler，see the TargetBC is still 100 and 1 is not working.  Should I restart pods for autoscaler?

[2021-02-08 03:11] zhaojizhuang opened #10714 "Should we support multi domain?"
## Describe the feature

/area networking

Should we support multi domain?

I have an issue now, The application in our serverless platform(based knative) serve multi hosts,such as:
[code]
so, I have to create a `ksvc` for earch domain. And I want to know, if we should support multi domian in one ksvc

[2021-02-08 03:13] zhaojizhuang commented on #10714
cc @tcnghia @nak3 @ZhiminXiang

[2021-02-08 03:22] xionghui commented on #10711
It works. Thanks a lot.
![image](https://user-images.githubusercontent.com/2037425/107172277-e7b66780-69ff-11eb-871f-876a8d2879f5.png)

[2021-02-08 03:36] nak3 commented on #10714
Hi @zhaojizhuang  It should be possible by using Domain Mapping. Did you already check this https://knative.dev/docs/serving/creating-domain-mappings/ ? It is a new feature since v0.19+.

[2021-02-08 06:27] zhaojizhuang commented on #10714
@nak3 not yet，Thank you, I will take a good look at it.

[2021-02-08 07:24] zhaojizhuang commented on #10714
@nak3 will generic domain be supported in the future? such as `*.mydomain.com`

[2021-02-08 07:33] nak3 commented on #10714
The wildcard domain was mentioned in the proposal but it is not decided yet AFAIK.

https://docs.google.com/document/d/1yXSuKpQqZM5tczBFpPG8TGQoWSkvmoA17nPwDd1UxEI/edit

[2021-02-08 21:07] #10650 closed

[2021-02-08 23:54] #10710 closed

[2021-02-09 02:07] vagababov commented on #9763
/close

The main work is completed.
E2e test implemented.
Initial documentation written.

[2021-02-09 02:07] #9763 closed

[2021-02-09 12:10] knative-test-reporter-robot opened #10726 "[flaky] test/e2e.TestWebSocketBlueGreenRoute"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestWebSocketBlueGreenRoute
* **Repository name**: serving

[2021-02-09 14:59] dprotaso commented on #10712
Can you clarify what you mean by 'close' ?  By default serving will scale down pod to zero replicas after they handle a request.

There's a global setting to turn off scale to zero
https://github.com/knative/serving/blob/5275f505ebeada8fb99eda1139caa923b267335d/config/core/configmaps/autoscaler.yaml#L137-L138

There are also other settings that manipulate the scale of the revision

See: https://kn

[2021-02-10 13:08] nak3 commented on #10247
DomainMapping's KIngress contains dot(`.`) and Istio does not allow to create Gateway with dot in the name :disappointed:
I think it is Istio specific so opened against net-istio https://github.com/knative-sandbox/net-istio/issues/514. FYI...

[2021-02-10 14:57] dprotaso commented on #10714
cc @julz

[2021-02-10 15:02] dprotaso opened #10738 "Update API specification"
## Describe the feature

serviceAccount projection was has been added via. https://github.com/knative/serving/pull/9264

There may be a few more things we've added that isn't reflected in the spec
- [x] (beta) multiple containers  https://github.com/knative/specs/pull/33

[2021-02-10 15:02] dprotaso commented on #10738
/area API

[2021-02-10 16:04] dprotaso commented on #10738
/assign @dprotaso

[2021-02-10 16:23] mattmoor commented on #10703
Awesome 🤩

[2021-02-10 17:11] moadi opened #10740 "Suggested approaches for handling failed revisions?"
## Ask your question here:

Hi folks,

We're using knative serving (version 0.18) at work as we're in the process of migrating our services to k8s. Due to a bug in our deployment pipeline, we accidentally deployed a new revision that was configured with an invalid docker image (the docker repo in this case is GCR), and the revision immediately entered a failed state since it couldn't fetch the ima

[2021-02-10 17:31] vagababov commented on #10740
You usually need to re-deploy the revision, then delete the previous — deleting last won't work, we'll recreate it.
I've started some work not to do the behaviour explained, but right now it's done via re-enqueueing into the main controller loop, which we probably need to start doing with backoff.

[2021-02-10 18:13] moadi commented on #10740
Thanks for your prompt response! I understand that it is possible to deploy a new revision while keep traffic pointed to a different one. So in order to avoid triggering a traffic migration, I presume I could deploy the new revision while keeping the traffic set to the current one serving traffic, and then delete the failed revision?

[2021-02-10 18:32] vagababov commented on #10740
It is a possible hack, yes. Change traffic to pin to a particular revision, then delete the failed one — though you still stay with the newest revision that receives 0 traffic.

[2021-02-10 19:07] moadi commented on #10740
Got it, thanks again!

On another note, we're really liking KN so far in our migration, very cool project!

[2021-02-10 19:07] #10740 closed

[2021-02-10 22:23] lamw commented on #10689
Finally got a chance to re-test this behavior and it looks like you're right @dprotaso, if `imagePullPolicy` is not defined at all, the default behavior is `IfNotPresent` (which is our desired behavior). I suspect part of the miss-understanding early on was that we were integrating a number of other solutions which had a variety of imagePullPolicy configurations and that probably made it difficult

[2021-02-10 22:23] #10689 closed

[2021-02-10 23:42] logicfox commented on #4307
Sorry to wake a zombie issue, but this is a feature I'd certainly like to have. There are tons of use-cases that would benefit from having init containers. My particular case is using [vault-secrets-webhook](https://banzaicloud.com/docs/bank-vaults/mutating-webhook/) to inject secrets directly from Hashicorp Vault into the container environment.

![vault-secrets-webhook](https://banzaicloud.com/im

[2021-02-10 23:48] logicfox commented on #4307
/reopen

[2021-02-11 09:24] rhuss opened #10750 "Expose number of replicas in Revision's status"
## Describe the feature

It would be very handy and useful if the number of replicas for the deployment of a revision is exposed directly in the revision CO, e.g. in the status section. This would help in implementing https://github.com/knative/client/issues/842 as the client via Knative API contract is not allowed to read the K8s Deployment directly.

Besides, I think it's a useful addition even

[2021-02-11 09:45] markusthoemmes commented on #10750
/good-first-issue

If we agree we want this, it'd be an excellent first issue!

[2021-02-11 10:45] markusthoemmes opened #10751 "Make pod addressability work even in meshes and drop fallbacks"
See exhaustive proposal here: https://docs.google.com/document/d/1vUDC_-qWei81QcjI8ZjZJ0Tc4SswUA1gBTSvBqy6CBY/edit?resourcekey=0-C_Yh8KqcLA6Mcr3CQs5Q1Q.

I'll use this as an umbrella to link PRs to.

[2021-02-11 19:04] mattmoor commented on #4307
/reopen
/lifecycle frozen

[2021-02-12 12:11] knative-test-reporter-robot opened #10763 "[flaky] pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/test-domain.dev"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/test-domain.dev
* **Repository name**: serving

[2021-02-12 17:05] julz opened #10764 "User-specified readiness probes with periodSeconds>0 should not be ignored"
## What version of Knative?

all recent ones

## Expected Behavior

setting a readinessprobe with period>0 should cause the container's readiness to be probed at the requested frequency for the life of the container

## Actual Behavior

the probe is ignored after startup. See https://github.com/knative/serving/blob/master/pkg/queue/health/health_state.go#L87-L89.

## Steps to Reproduce the Problem

[2021-02-12 17:12] julz opened #10765 "Curling a pod with failed readinessProbe should not hang"
## What version of Knative?

all recent versions

## Expected Behavior

Curling a pod with a readiness probe set (with periodSeconds=0 to avoid the behaviour in https://github.com/knative/serving/issues/10764), should either error immediately or succeed due to us scaling things up / terminating the pod (needs discussion about what the right behaviour is!).

## Actual Behavior

Curling a pod with a

[2021-02-12 18:56] ajaysg94 opened #10767 "Alternative to AWS lambda serverless concept in Kubernetes."

[2021-02-12 20:00] vagababov commented on #10767
Well you can kind of do this in knative, by having N different kservices (1 for each model) and having container concurrency=1.

[2021-02-13 12:10] knative-test-reporter-robot opened #10770 "[flaky] test/scale.TestScaleToN/scale-200/104-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/104-of-200
* **Repository name**: serving

[2021-02-13 12:10] knative-test-reporter-robot opened #10771 "[flaky] test/scale.TestScaleToN/scale-200/079-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/079-of-200
* **Repository name**: serving

[2021-02-13 12:10] knative-test-reporter-robot opened #10772 "[flaky] test/scale.TestScaleToN/scale-200/156-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/156-of-200
* **Repository name**: serving

[2021-02-14 12:11] #10763 closed

[2021-02-14 20:01] ZhiminXiang commented on #10486
I suspect this issue may be related to Cloud DNS as I found that after adding the DNS record, the DNS record was not fully populated to the DNS servers.

e.g. for DNS record `star.tls.2282.knative-boskos-57.kn-e2e.dev` used in a test, it did not show up in the DNS server `ns-cloud-e4.googledomains.com.` during the test.

[2021-02-15 06:24] nainys-cn opened #10776 "Slow service ready time"
## Ask your question here:
When the number of knative services on the cluster are more than 1000, it takes around 5 min for any new service or changes in the same service to be completely ready.
How can we optimize this?
Knative version used: 0.20.0
Kubernetes version: 1.18.8

[2021-02-15 06:32] vagababov commented on #10776
What is your value of the `enable-service-links` flag in the `knative-serving/config-defaults` CM?

[2021-02-15 06:36] nak3 commented on #10688
/cc @JRBANCEL @arturenault

[2021-02-15 08:56] rhuss commented on #8629
I think it's a good fit here still since we should pivot with a single project first. The task at hand is already large enough for serving only so no need to promote it as long as we don't find somebody to work on this in a serving context only.

[2021-02-15 11:22] cardil commented on #8629
@rhuss Right, but maybe it would be faster to do it in Eventing first?

[2021-02-15 12:10] #10770 closed

[2021-02-15 12:10] #10771 closed

[2021-02-15 12:10] #10772 closed

[2021-02-15 16:32] julz opened #10783 "Use pkg/drain for draining in Queue Proxy"
Spun out from @mattmoor's [comment](https://github.com/knative/serving/pull/10781#issuecomment-779319894) in https://github.com/knative/serving/pull/10781.

We should consider re-using/extending the [drain package from knative/pkg](https://github.com/knative/pkg/blob/master/network/handlers/drain.go) to handle the Queue Proxy's graceful-draining & pre-stop logic. At first glance there are a couple

[2021-02-16 04:01] duglin commented on #8610
/reopen
/remove-lifecycle stale

[2021-02-16 12:09] knative-test-reporter-robot opened #10791 "[flaky] test/scale.TestScaleToN/scale-200/172-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/172-of-200
* **Repository name**: serving

[2021-02-16 12:09] #10536 closed

[2021-02-16 13:09] julz opened #10792 "Revision timeout should not include time spent queueing"
/area API
/area autoscale

## Describe the feature

Currently, the TimeToFirstByteTimeoutHandler happens _before_ the concurrency limiting in QP. This means time spent waiting for the request to even be sent to the user container is included in the time the user has to respond to the request. This seems pretty confusing. I'd expect the Revision.TimeoutSeconds to be the time the revision has _from

[2021-02-16 16:26] dprotaso commented on #10750
/assign @shinigambit

[2021-02-16 16:33] dprotaso commented on #10750
Funny enough I was talking about this last week

[2021-02-16 17:21] vagababov commented on #10792
We might need to clarify the docs, but, imo, we should be including the time queueing, otherwise it's easy to create a situation with huge memory usage (and possibly pod crashes) — fwiw the default I think is way too high for ttfb.

[2021-02-16 17:42] julz commented on #10792
I feel like the solution to memory use is to configure the size of the backlog we're willing to hold before returning errors, not to overload the revision timeout field so it has semantics that dont make sense to a user. If I push a function to a platform that says "maximum function run time is 60 seconds" and then my function gets timed out 5 seconds after it starts running, that _has_ to be a bu

[2021-02-16 17:49] vagababov commented on #10792
But this is not _run time_. It's TTFB. Which is _quite_ different.

[2021-02-16 17:56] julz commented on #10792
It's different, but Im not sure it's different on a relevant axis. The user was told they had 60 seconds to begin replying to the request, they actually ended up being timed out after 5, due to stuff they have no visibility in to (and that we actively want them not to know or care about).

(One thing that's clear is that we really need better docs for this; I can't find the time to first byte stuf

[2021-02-16 18:04] vagababov commented on #10792
https://knative.dev/docs/serving/spec/knative-api-specification-1.0/#metadata-3
[code]

[2021-02-16 18:05] vagababov commented on #10792
obviously `TTFB` is much easier to parse than `container to progress ( send network trafficv)` 😁

[2021-02-16 18:08] julz commented on #10792
huh, I always thought those docs were generated from the code comments, and yet "[TimeoutSeconds holds the max duration the instance is allowed for responding to a request](https://github.com/knative/serving/blob/master/pkg/apis/serving/v1/revision_types.go#L86)" 🤔🤔🤔

In any event, I think those docs rather support the contention of this issue: "The maximum duration in seconds that the request rou

[2021-02-16 19:05] vagababov commented on #10792
The question here is: are you looking from the client or server side. If server side you're correct. If you're looking from the client side — then current behavior is correct. I think that's the main contention point.

[2021-02-16 19:10] itsmurugappan commented on #10421
i have the same error while trying to scrape activator and autoscaler.

[2021-02-16 19:17] julz commented on #10792
Surely from the client (ie User) side "delivered to container" must mean the user's container -- the one they're specifying in the revision spec containing this field?

We've gone to some lengths not to expose the idea of the queue proxy in the api (correctly, I think), as a user can I really understand "delivered to container" to mean anything other than that it's delivered to *my* container (aga

[2021-02-16 21:13] dprotaso commented on #10750
/assign @shinigambit

[2021-02-16 21:16] vagababov commented on #10750
Do we want: "desired" "actual" or both?

[2021-02-17 07:10] nainys-cn commented on #10776
It is false.
Are there any deployments (like controller) that we can scale up to more than 1 replicas to speed up or is it just High Availability mode?

[2021-02-17 07:37] vagababov commented on #10776
With 0.20 everything can scale > 1 replicas.
Do you run Istio and if so, do you run it in mesh mode?

cc @mattmoor — Matt, had a better success with that scale and I think he got much better numbers than 5min.

[2021-02-17 08:07] rhuss commented on #10750
Both would be ideal, but at least "desired" I would say.

[2021-02-17 08:24] unixfox commented on #6492
/remove-lifecycle stale

[2021-02-17 14:54] mattmoor commented on #10776
What networking layer are you using?  If Istio, mesh or no-mesh?

Last I measured this with Contour / [mink](https://github.com/mattmoor/mink) I saw fairly flat deployment latencies (with service links disabled) through about 1500 ksvc.

Deploying HA with multiple buckets could improve things, with `mink` this is: `mink install --replicas 3 --domain mattmoor.io`.

[2021-02-18 06:49] nak3 opened #10805 "Add HA test for DomainMapping controller"
## In what area(s)?

/area test-and-release

## Describe the feature

I think the test should be almost same with [controller's HA test](https://github.com/knative/serving/blob/master/test/ha/controller_test.go).

1. Scaleup domainmapping deployment by using `HA_COMOPNENTS`.
2. Create KService with custom domain by domainmapping.
3. ~Run `prober` against the custom domain KService. (And verify the

[2021-02-18 12:57] Shashankft9 commented on #10160
@mjgallag hey just to check, what happens if you happen to delete istio and reinstall it again while knative-serving is running?
I deployed istio on a new cluster, then knative-serving and then for some reason had to reinstall istio, and that is when I got this issue again.
Just checking if this issue is reproducible this way?

[2021-02-19 01:08] csantanapr opened #10810 "domainmapping not working with autotls and kourier"
## In what area(s)?
/area networking

## What version of Knative?
0.20 for serving, net-kourier, net-http01

## Expected Behavior
To have https/tls domain names configured correctly using domainmapping and kourier

## Actual Behavior
It only configures HTTP domain but HTTPS

## Steps to Reproduce the Problem
Install 0.20 for serving, net-kourier, net-http01
Enable autotls
Enable het-http01
Configu

[2021-02-19 01:30] #9272 closed

[2021-02-19 01:39] csantanapr commented on #10810
cc @julz

[2021-02-19 02:35] mjgallag commented on #10160
@Shashankft9 I didn't get this issue, but it did cause knative issues. A non knative service I have routed thru istio worked fine again right after I reinstalled istio. As for my knative services, they returned `no healthy upstream` even though I checked underlying revision pod containers and they all seemed fine. In fact, I couldn't find anything wrong with knative services, routes & revisions. I

[2021-02-19 07:54] #10810 closed

[2021-02-19 08:24] markusthoemmes commented on #9067
I was wondering why we constraint the user container's security context that much. I get why we want to constraint it pod-level, but not allowing the user to constraint their user-container as much as they want (i.e. dropping capabilities etc.) seems quite arbitrary.

[2021-02-19 10:23] markusthoemmes opened #10812 "Consider allowing 'containers[*].securityContext.capabilities'"
## Expected Behavior

I can apply "common" security best-practices to my Knative Services.

## Actual Behavior

I can't drop capabilities that I don't actually need.

## Additional Info

Discussed this with @julz a bit on Slack, trying to summarize this here:

We've been careful in the past to try to only allow settings that make containers **more** secure, as operators could be relying on Knative

[2021-02-19 11:42] markusthoemmes opened #10814 "Consider allowing 'containers[*].securityContext.runAsNonRoot=true' unconditionally"
## Expected Behavior

I can apply "common" security best-practices to my Knative Services.

## Actual Behavior

I can't drop capabilities that I don't actually need.

## Additional Info

Discussed this with @julz a bit on Slack, trying to summarize this here:

We've been careful in the past to try to only allow settings that make containers **more** secure, as operators could be relying on Knative

[2021-02-19 12:08] #10791 closed

[2021-02-19 12:08] #10694 closed

[2021-02-20 04:46] duglin commented on #3687
remove-lifecycle stale

[2021-02-20 04:46] duglin commented on #3687
/remove-lifecycle stale

[2021-02-20 10:56] wzshiming opened #10819 "HTTPProbe connection cannot be reused"
## What version of Knative?

## Expected Behavior

https://github.com/knative/serving/blob/8ed54bc7e2ccd1c236d2978467e6bc53416428d0/pkg/queue/health/probe.go#L58-L64

https://github.com/knative/serving/blob/8ed54bc7e2ccd1c236d2978467e6bc53416428d0/pkg/queue/health/probe.go#L94-L99

`t.DisableKeepAlives = true`

This line should be redundant, causing the connection to not be reused.

## Actual Beha

[2021-02-21 01:47] sagarrandive opened #10821 "Sidecar containers - lifecycle coordination"
## Describe the feature

Context: https://github.com/kubernetes/enhancements/issues/753

I would like to request the ability to tag a Service container as 'sidecar' such that the sidecar container starts up before the main container and shuts down after the main container is terminated.

The use case is when a monitoring agent is run as a sidecar and is expected to report metrics, logging and trac

[2021-02-21 02:50] nak3 commented on #9155
/assign

Time to clean up.

[2021-02-21 02:52] nak3 commented on #9155
Oh, it was already removed :smile:

[2021-02-21 02:52] #9155 closed

[2021-02-21 03:17] supershll opened #10822 "Is there any way to set a custom gateway per ksvc"
Like described in the document https://knative.dev/docs/serving/using-a-custom-domain/ ,

Can I add annotations to ksvc？

or any other way?

Looking forward to your answer

[2021-02-21 03:23] ZhiminXiang commented on #10822
I don't think currently it is supported. Could you elaborate more about your use case? Why a single gateway doesn't work for you?

[2021-02-21 05:13] supershll commented on #10822
I think using different gateways has the following advantages:
- More repid istio policy synchronization time period
- More convenient incoming traffic control

Maybe you can consider adding this support in a future version

[2021-02-22 10:17] julz opened #10825 "Not actually possible to set MaxScaleLimit without setting DefaultMaxScale"
## Expected Behavior

1. Set max-scale-limit to some number
2. Create ksvc with maxScale annotation set to a number which is lower than that limit
3. Profit, up to max-scale-limit

## Actual Behavior

1. Set max-scale-limit to some number
2. Create ksvc with maxScale annotation set to a number which is lower than that limit
3. Get surprising error: `admission webhook "validation.webhook.serving.kn

[2021-02-22 10:18] julz commented on #10825
/assign @julz

[2021-02-22 10:24] julz opened #10826 "Trivial to evade maxScaleLimit"
/area API
/area autoscale

## Expected Behavior

1. Set max-scale-limit in autoscaler config map to some number, say 10.
2. Create a ksvc with maxScale annotation set *below* that number, say 9.
3. Update the ksvc to a number *above* the limit, say 11.
4. Fail.

## Actual Behavior

1. Set max-scale-limit in autoscaler config map to some number, say 10.
2. Create a ksvc with maxScale annotation set

[2021-02-22 10:25] julz commented on #10826
/assign @julz

(Will wait a few days before fixing in case anyone has a problem with the approach above).

[2021-02-22 10:30] sneko commented on #7933
`Now as far as UI goes — I can file a bug internally to relax this.`

@vagababov did you get any progress on this internally?

[2021-02-22 15:28] dprotaso commented on #10738
another - https://github.com/knative/serving/pull/10560

[2021-02-22 17:16] sneko commented on #7933
`The newest knative versions won't close the socket for 48 hours I think and the newest one won't close at all. It'll take time to get to GKE, but I think the 0.17 is there if you upgrade to the most recent clusters.`

@vagababov I upgraded to `v1.18.15-gke.1500` but still, if I leave the default timeout to "300" my websocket will be broken by the server (network layer) even if the websocket conne

[2021-02-22 17:16] vagababov commented on #7933
That's more of a question to @ZhiminXiang @JRBANCEL

[2021-02-22 17:50] ZhiminXiang commented on #7933
@sneko I think you can run the following command to extend the max timeout first:
[code]

And then restart the webhook to pick up the new max timeout.

Then you should be able to run the gcloud command to set bigger timeout. Let me know if you still have the issue.

[2021-02-22 17:52] sneko commented on #7933
Thank you @ZhiminXiang I will give a try tomorrow. In the meantime could you expand on "restarting the webhook" to reload the settings? Any pod to kill? Or a specific command to run?

[2021-02-22 17:54] ZhiminXiang commented on #7933
yes, just kill the webhook pod.

[2021-02-22 18:13] sneko commented on #7933
I just tried the command, it works the `gcloud run deploy` does not complain thank you!

Note that when I tried to remove the webhook pod, this one got stuck into "TERMINATING" state whereas the new pod was popping up. I didn't want to force deletion with no grace period... so I had to wait like 5 minutes. Is it normal? It's like if the pod was no properly shutting down as soon as it gets a SIGTER

[2021-02-22 20:50] duglin commented on #7575
Related to the previous comment... not creating the ksvc until the build is done means that we can't "reserve" the ksvc name until that time either. So, someone else could grab our ksvc name while our build is happening - even though it was available when the first use initiated the "service create" command.

A mechanism like this would allow for any kind of "pausing" regardless of the reason (bui

[2021-02-22 22:04] #10622 closed

[2021-02-23 13:50] sneko opened #10835 "Revisions with no traffic remain forever active with Google Cloud Run on GKE"
## What version of Knative?

GKE Cluster: `v1.18.15-gke.1500`
Knative: `v0.18.0-gke.9`

## Expected Behavior

My older revisions to get shutdown as soon as possible, and not remaining live forever.

## Actual Behavior

**The following is true for Cloud Run on GKE (I don't know about managed platform)**

I have a Cloud Run service that consumes some Pub/Sub topics, while accepting websockets connec

[2021-02-23 17:19] ahmetb commented on #10835
The right place to ask this would be Stackoverflow.com #google-cloud-run tag.
/close

[2021-02-23 17:40] sneko commented on #10835
@ahmetb could you please follow up on the last comment from Cyril on his issue instead of me reposting a new one? (cf. https://stackoverflow.com/questions/64230491/managing-traffic-on-google-cloud-run)

Aside this, I posted onto this Knative repo because in the past, and until now the issues I posted were real about your product (either tech' issues or missing documentation). From what I saw some

[2021-02-23 18:59] dprotaso opened #10838 "Unable to opt-out of aggressive probing"
/area API

## What version of Knative?

All version

## Expected Behavior

Setting `ReadinessProbe.PeriodSeconds >= 1` should default into K8s style probing.

## Actual Behavior

The queue proxy exec probe has a retry tight loop that _defaults_ to the aggressive interval and not the user's defined `PeriodSeconds`

## Steps to Reproduce the Problem

Create an app that fails probing a few times (~3)

[2021-02-23 19:00] dprotaso commented on #10838
/area API

[2021-02-23 19:34] ahmetb commented on #10835
/reopen
Apologies, I read this as it's a managed-Cloud Run issue.

[2021-02-23 19:44] vagababov commented on #10835
So if the revision is not routable it should scale to zero. Are you sure there are no routes referencing those revisions?
You can check this with

[code]

If the string is empty, then the revision is not routable. If it _is_ then that's why it doesn't scale to zero.

[2021-02-23 19:47] vagababov commented on #10835
So, if you see the string being empty, then there's an issue with it (most likely that you still have an open websocket connection to the pod — and we don't scale down pods that have active requests)

That you can check with `kubectl get pa <rev-name>` -- if it has `want=1`, despite not being routable, then there's probably request. We can check that with looking at the logs.

[2021-02-24 08:40] sneko commented on #10835
@vagababov I can confirm it returns an empty string `==>  <===`.

After running the PA command:
![image](https://user-images.githubusercontent.com/8195958/108972623-cd2cf100-7683-11eb-8969-af47d437e092.png)

So indeed no order has been triggered to scale down. And since we have multiple clients connected through websockets, it matches your explanation about open connections.

So my question is:
**

[2021-02-24 10:40] #10819 closed

[2021-02-24 15:39] shinigambit commented on #10750
My current approach is just copying the values from the PodAutoScaler @dprotaso pointed out that there's a case when the DesiredScale of the PodAutoScaler can return a `-1` (PA is inactive) it probably makes sense to return both the desired and actual replicas as `0`

[2021-02-24 16:58] vagababov commented on #10750
That should be alright, though -1 is also returned when the revision is scaling up/creating and there are no metrics scraped.

[2021-02-24 17:17] dprotaso commented on #10750
I put it on the [API WG agenda for today (2021/02/17)](https://docs.google.com/document/d/1HqLJ8uNm5KmKPlMzQmbfDy0haybEUrPydsp7gNBrl20/edit)

[2021-02-24 17:22] vagababov commented on #10835
Knative does not currently have a way to deal with this.
The easiest would be to restrict the lifetime of connections somehow. As long as clients can reconnect and resume the work, this can solve the issue.

We have a few projects (programmed QP termination and possibly request lifetime restriction cc @julz ) — that might solve the issue in future.

[2021-02-24 18:56] mattmoor commented on #10805
@csantanapr Why TOC backlog?

[2021-02-24 20:08] dprotaso commented on #10838
/assign @dprotaso

[2021-02-25 02:33] csantanapr commented on #10805
My only guess is I fat finger while adding something else to TOC backlog @mattmoor

[2021-02-25 10:26] julz opened #10848 "If MaxScaleLimit is set, default MaxScale should be required to be non-zero"
/area API
 /area autoscale

## Describe the feature

Currently it is possible to set max-scale-limit to a positive value, which disallows '0' (unlimited) for max-scale. However we currently don't validate that the default max-scale is increased above 0 to match. This means an operator can create a situation where users _must_ add a maxScale annotation since the default isn't an allowed value (see

[2021-02-25 14:58] dprotaso commented on #10738
Container.SecurityContexst https://github.com/knative/serving/issues/9067

[2021-02-25 15:00] dprotaso commented on #9067
@markusthoemmes That's why I made the issue - I'd say when the feature flag was made we were being conservative with properties.

Whatever we choose to open up we should make sure it's captured in the API spec

[2021-02-25 17:26] vagababov commented on #10848
We can probably require to have max-max-scale to be >0 iff default max-scale > 0.
And prohibit setting default max-scale = 0 if max-max-scale > 0.

[2021-02-25 19:07] dprotaso commented on #10738
Exposing replica #'s on Revision Status - https://github.com/knative/serving/issues/10750

[2021-02-25 19:16] ZhiminXiang commented on #7933
For CloudRun 0.19, the EnvoyFilter needs to be changed to the following version:
[code]

[2021-02-25 21:15] JRBANCEL commented on #10160
How did you reinstall Istio?

I tried deleting the namespace, using `istioctl` and in both cases I can't repro this 😢

[2021-02-26 01:32] #7181 closed

[2021-02-26 08:45] sneko commented on #10835
@vagababov at start I would rather prefer to not keep the old revisions for too long... but according to you I would need to set a short expiration for each websockets... it's a bit risky for us since during reconnection the clients could miss new events. (and also because having 1000+ clients reconnecting frequently does not seem efficient compared to the "ack" WS connections use).

* I will prob

[2021-02-26 09:10] julz opened #10851 "Should be possible to set an actual revision timeout (max duration, not first byte)"
/area API

## Describe the feature

The revision spec.TimeoutSeconds feature was changed at some point to only be a timeout until the _first byte_ of the response is sent. This is useful for WebSocket apps because it avoids timing out idle long running websockets. Unfortunately it defeats quite a lot of the point of a timeout because it doesn't stop requests running for an arbitrarily long time. T

[2021-02-26 09:17] julz opened #10852 "We should allow setting an Idle timeout"
/area API

## Describe the feature

see also #10851 (issue for max _duration_ timeout).

We changed the TimeoutSeconds field at some point to only be a timeout to first byte. This was to avoid killing idle websocket connections. However an actual idle timeout would be useful to guard against infinite-looping or deadlocked requests costing money forever, or even just to ensure that an old revision

[2021-02-26 19:28] rafaeltello opened #10856 "[gRPC/http2 auto-detect] Support auto-detect on the health prober"
This is a task of #4283
## Expected Behavior
Health prober can successfully autoupgrade to http2 without explicit port labeling.

## Actual Behavior
Health prober relies on explicit port labeling to attempt an http2 connection. No upgrade headers are sent.

## Additional Info

[2021-02-26 19:42] #10825 closed

[2021-02-26 19:43] rafaeltello opened #10857 "[gRPC/http2 auto-detect] Support auto-detection in queue proxy"
## Describe the feature
This is part of #4283.
As part of supporting http2 auto-detect, we need to make changes in health probes, queue proxy, and activator. Below are some notes created by @igorbelianski on the work that needs to be done in queue proxy & activator.

### Data Path Notes

#### Public service ingress  construction
Service that is exposed to user and backed by either Activator or Que

[2021-02-26 19:46] rafaeltello opened #10858 "[gRPC/http2 auto-detect] Support auto-detection (or upgrade) in Activator"
## Describe the feature
This is part of #4283.
As part of supporting http2 auto-detect, we need to make changes in health probes, queue proxy, and activator. Below are some notes created by @igorbelianski on the work that needs to be done specifically in activator.

### Data Path Notes

#### Activator always listens on both 8012 an 8013 constructs 2 distinct servers:
      [cmd/activator/main.go](

[2021-02-26 19:49] rafaeltello commented on #4283
Per discussion with @ZhiminXiang , we will be creating multiple issues to better track progress in this area.
#10856 -> Health prober work (almost done in #10628)
#10857 -> Queue proxy
#10858 -> Activator

Once these three are complete, we can enable E2E tests, and discuss a timeline to enable the feature.

[2021-02-27 01:09] #10856 closed

[2021-02-27 01:32] #9968 closed

[2021-02-27 01:32] #9541 closed

[2021-02-27 12:10] knative-test-reporter-robot opened #10860 "[flaky] pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/prod-domain.com"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/prod-domain.com
* **Repository name**: serving

[2021-02-28 01:35] #9446 closed

[2021-02-28 14:02] piyushsingariya commented on #10001
Hi, I would like to give this a shot. Can you please guide me to the files related to the issue, I spent some time, couldn't found the related area in the codebase? :smile:
Also, the link to join the Slack Community only allows few domains to sign-up. Please help regarding this matter too.

[2021-03-01 04:09] itsmurugappan commented on #10421
This issue has been fixed by this pr -> https://github.com/knative/pkg/pull/2005

### Rootcause

Metrics get [invalidated](https://github.com/knative/pkg/blob/89a9cc3e03a547f2489f3e6df7ae758cc35b8eaf/metrics/resource_view.go#L87) if they are not used for [10 min](https://github.com/knative/pkg/blob/89a9cc3e03a547f2489f3e6df7ae758cc35b8eaf/metrics/resource_view.go#L73). But prometheus exporter does

[2021-03-01 06:38] ZhiminXiang commented on #10486
I switched to use PROD LetsEncrypt endpoint. And now the HTTP01 tests become stable https://testgrid.knative.dev/serving#kourier-stable&include-filter-by-regex=http01

[2021-03-01 06:38] #10486 closed

[2021-03-01 08:56] skonto commented on #10421
I have not tried to reproduce this yet but good to know it is solved. I think we can backport it if we need it.

[2021-03-01 09:56] nak3 commented on #6492
FYI, Contour will not support UDPRoute and TCPRoute on Ingress v2 :disappointed:

https://github.com/projectcontour/contour/blob/main/design/gateway-apis-implementation.md#non-goals

[2021-03-01 12:10] #10171 closed

[2021-03-01 12:10] #10708 closed

[2021-03-01 12:10] #10860 closed

[2021-03-01 17:22] arturenault commented on #10001
Thanks for wanting to contribute! https://github.com/knative/serving/blob/master/test/cleanup.go is a good place to start; most E2E tests call `EnsureTearDown()` to clean up.

The links here should allow you to join the slack community without being in a domain: https://knative.dev/community/

[2021-03-01 20:22] rhuss commented on #9544
Until 0.20, BYO name was the default mode for `kn` (don't remember _why_ this was the case), we changed that now to server-side naming in 0.21. However, since we still support the older `kn` version _and_ it is still easy to switch to BYO revision names with `kn`, maybe this should be supported by the binding reconciliation loop? E.g. one could easily detect BYO mode and, if enabled, just set the

[2021-03-01 21:59] SwEngin commented on #10690
/invalid

The error just disappeared on it's own 😁

[2021-03-01 21:59] #10690 closed

[2021-03-01 23:51] ZhiminXiang commented on #10711
Is there any remaining work? Can we close it now?

[2021-03-02 02:28] zhaojizhuang commented on #10421
@itsmurugappan Thanks for your reminder，I will close this issue. I will upgrade the `serving` version to 0.21 and reproduce

[2021-03-02 07:02] ZhuangYuZY commented on #10160
It also happens in my env today when update istio. It impacts http endpoint access from external. As LB forward http 80 traffic to istio gateway port 8080. But 8080 missing from istio listener. It seems like timing issue in istio. I workaround the issue by remove knative-local-gateway service in istio-system namespace.
1. Before change:
[code]
2. k delete svc -n istio-system knative-local-gateway

[2021-03-02 12:10] knative-test-reporter-robot opened #10871 "[flaky] test/scale.TestScaleToN/scale-10/009-of-010"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-10/009-of-010
* **Repository name**: serving

[2021-03-02 12:10] #10209 closed

[2021-03-02 12:10] #10726 closed

[2021-03-02 19:48] dprotaso commented on #10838
/close

The intent of this issue was to fix the queue proxy probing timing. I've come to realize the activator does it's own aggressive probing (every ~200ms) so it's effectively by-passing the readiness signal to the API server.

I'm going to close this out as a no-fix for now cause I don't think the activator should customize it's probing logic per revision.

[2021-03-02 19:48] #10838 closed

[2021-03-02 23:26] ZhiminXiang opened #10873 "Dropping a tag in a route does not delete cert"
## Expected Behavior

When auto TLS is enabled and user adds a tag to a revision and then drops the tag, the certificate for the tag revision should be created first and then deleted.

## Actual Behavior

After dropping the tag, the certificate is not deleted.

/cc @mattmoor

[2021-03-02 23:46] #10703 closed

[2021-03-03 09:01] julz commented on #8114
Still slowly noodling at this in spare moments

/reopen
/remove-lifecycle stale

[2021-03-03 10:14] wzshiming commented on #10821
This KEP should have been abandoned
https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/753-sidecar-containers

[2021-03-03 12:32] julz opened #10878 "ECR credentials provider in k8schain makes revision reconciler tests slow"
/area API

## Describe the feature

When iterating on tests in `reconciler/revision` I noticed they take 10+ seconds to run. The main culprit seems to be [`TestResolve()`](https://github.com/knative/serving/blob/32eabd48fc03d1f16ae2508d7b50cc9e9ebb8280/pkg/reconciler/revision/resolve_test.go#L145) which (via `Resolve()`) creates a k8schain to test resolving digests. Unfortunately this code iterate

[2021-03-03 14:24] dprotaso commented on #8570
/lifecycle frozen

[2021-03-03 14:43] dprotaso commented on #10878
quick question: are you on VPN or anything?

[2021-03-03 14:46] dprotaso commented on #10873
/good-first-issue

[2021-03-03 14:47] markusthoemmes commented on #10878
VPN has nothing to do with it, I have the same RCA on my todo list to fix. Thanks for writing it up @julz

[2021-03-03 15:28] dprotaso commented on #10821
Yeah we were hoping upstream would support the lifecycle coordination between containers. For reference here's the upstream K8s issue acknowledging the abandonment: https://github.com/kubernetes/enhancements/issues/753#issuecomment-713471597

@sagarrandive we currently support multiple containers today have you experimented with that feature?

tracking issue for GA: https://github.com/knative/serv

[2021-03-03 15:42] sagarrandive commented on #10821
Thank you Dave for your response and pointing to the resources.
Yes I have tried the multi-container feature and I must say its pretty helpful. However in the current model I believe it has the following issues
- there is coherent throttling of the CPU cycles between the main and sidecar container and doesn't gracefully handle the monitoring containers, proxy/ambassador containers which need addit

[2021-03-03 17:12] evankanderson commented on #10821
I'd engage with SIG-Node on working out a sidecar solution that works upstream; I don't think Knative is going to be doing any particular work on container lifecycle outside of what Kubelet provides. (You can also see Tekton for some hacks that you can do in a mutating webhook to replace container entrypoints, but I'm not sure that is a general-purpose solution.)

With respect to coherent throttli

[2021-03-04 02:41] BLasan commented on #10873
/assign

[2021-03-04 07:58] rhuss commented on #8562
@knative/serving-writers Is still something we should tackle or should we close this issue ?

[2021-03-04 12:14] knative-test-reporter-robot opened #10890 "[flaky] pkg/activator/net.TestRevisionBackendManagerAddEndpoint/add_slow_healthy"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestRevisionBackendManagerAddEndpoint/add_slow_healthy
* **Repository name**: serving

[2021-03-04 12:14] knative-test-reporter-robot opened #10891 "[flaky] test/e2e.TestAutoscaleSustaining/aggregation-weightedExponential"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleSustaining/aggregation-weightedExponential
* **Repository name**: serving

[2021-03-04 12:22] julz commented on #10890
Interesting! Wonder if this is a concurrency bug from #10880. Looking..

/assign

[2021-03-04 13:49] skonto commented on #8959
/remove-lifecycle stale

[2021-03-04 13:57] skonto commented on #8959
@mattmoor @evankanderson I have fixed this [downstream](https://github.com/openshift-knative/serverless-operator/blob/9475890675895b86d40e69b007030aa88b33e260/openshift-knative-operator/cmd/operator/kodata/knative-serving/0.20.0/0-rbac-proxy.yaml) using [kube-rbac-proxy](https://github.com/brancz/kube-rbac-proxy) which is widely used on OCP , tls based OCP service monitors and Prometheus. Maybe I

[2021-03-04 14:58] dprotaso commented on #8562
@rhuss is this flake/race still an issue?

[2021-03-04 15:23] dprotaso commented on #10873
One idea @mattmoor had was to offer a grace period for the deletion. This buffer would help avoid hitting rate limits for certain certificate providers (ie. let's encrypt).

[2021-03-04 15:25] dprotaso commented on #8665
/lifecycle frozen

[2021-03-04 15:25] dprotaso commented on #8664
/lifecycle frozen

[2021-03-04 15:29] dprotaso commented on #9477
/remove-lifeycle stale

ping @andres-de-castro for more specific repro steps

[2021-03-04 15:31] dprotaso commented on #10217
/remove-lifecycle stale

/assign

[2021-03-04 15:46] dprotaso commented on #8959
related: https://github.com/knative/serving/issues/6520

[2021-03-04 16:04] julz opened #10893 "CONTRIBUTING.md leads to a doc that's mostly about contributing to docs"
The CONTRIBUTING.md file in the root of the repo links to [https://www.knative.dev/contributing/](https://www.knative.dev/contributing/), which looks like it at some point became about contributing to docs, rather than to serving (or to knative generally). I think the right link is now [https://knative.dev/community/contributing/](https://knative.dev/community/contributing/).

/assign

[2021-03-04 16:09] dprotaso commented on #4665
@vagababov For the remaining work are you still tackling it?

Otherwise are you able to write up some new issues for other folks to pick up?

[2021-03-04 16:31] dprotaso commented on #6520
Moved to icebox for now - I think there's a class of related issues (ie. queue proxy's prom endpoints) and it's probably important to at least offer guidance (via documentation). I think if the Security WG group could offer recommendations on best practices that would be great (cc @julz, @evankanderson)

[2021-03-04 16:45] #10893 closed

[2021-03-04 19:06] dprotaso commented on #4060
/lifecycle frozen

[2021-03-04 19:09] andres-de-castro commented on #9477
I believe you will need to do an ecr login, AWS secret keys are not enough to auth to ECR, you will need to run a cron job in EITHER the node or kubernetes itself to do an aws ecr get-login every 11 hours, then you will need to add that to the ~/.dockercfg or patch the service account with a secret, `aws-registry-creds` for example.

This is a good starting point

https://medium.com/@damitj07/how-

[2021-03-04 19:43] patelrutva opened #10895 "knative-samples/helloworld-python docker image not giving expected results"
## Ask your question here:

I am trying to create. service using docker image. Before starting that I tried to run both image from **knative-samples**:

1) **docker run -p 5000:5000 gcr.io/knative-samples/helloworld-go**
=> Status: Downloaded newer image for gcr.io/knative-samples/helloworld-go:latest
     2021/03/04 19:38:31 Hello world sample started.

Whereas in second image which I want tot us

[2021-03-04 19:48] #10895 closed

[2021-03-04 20:48] patelrutva opened #10896 "Error getting active endpoint: revision.serving.knative.dev "" not found"
## Ask your question here:
This is my  deployment:

Name:                   helloworld-python-sxwyg-1-deployment
Namespace:              default
CreationTimestamp:      Thu, 04 Mar 2021 15:21:10 -0500
Labels:                 app=helloworld-python-sxwyg-1
                        service.istio.io/canonical-name=helloworld-python
                        service.istio.io/canonical-revision=helloworld-

[2021-03-04 22:09] #10896 closed

[2021-03-04 22:16] patelrutva opened #10897 "Could not resolve host: helloworld-go.default.mydomain.com"
## Ask your question here:

I am new to knative. I have installed minikube for cluster support and all the required tools for knative . While creating the service in reference of this: [https://knative.dev/docs/serving/getting-started-knative-app/](https://knative.dev/docs/serving/getting-started-knative-app/)

I am getting below output:
1) Create service command output as expected):

`kn service

[2021-03-04 23:24] dprotaso commented on #10897
Hey can you include the steps you took to install Minikube & Knative.

Based on what I know you might need to expose the service - https://minikube.sigs.k8s.io/docs/handbook/accessing/

You'll want to target the kubernetes service point to the ingress installation.

I'll assume you don't own mydomain.com so you'll want to curl it with a host header

`curl -H 'Host: helloworld-go.default.mydomain.c

[2021-03-04 23:38] patelrutva commented on #10897
Thank you for reaching out:

1) steps you took to install Minikube & Knative:-
https://minikube.sigs.k8s.io/docs/start/

2) I have tried service only using minikube as per the example given in the like with LoadBalancer access it was working fine.

3) But with Knative, I can't access the service

4) To try with you suggestion :

(1) kubectl get service helloworld-go --output='jsonpath="{.spec.port

[2021-03-05 02:06] dprotaso commented on #10897
The hint is in the error message - `curl: (6) Could not resolve host: helloworld-go.default.mydomain.com` curl is still trying to resolve `mydomain.com` which doesn't exist and it's not hitting the minikube IP and port

You need to make sure you target the ip and port and change the `Host` header using `-H 'Host: {your host}'

ie.
[code]

[2021-03-05 02:37] patelrutva commented on #10897
I did that as well.

1) curl -X "POST" -H "Host: helloworld-go.default.mydomain.com" -H "Content-Type: application/json" -H "Accept: application/json" http://192.168.49.2:32698 -v
*   Trying 192.168.49.2...
* TCP_NODELAY set
just hanging

2) curl -H "Host:http://helloworld-go.default.mydomain.com" http://192.168.49.2:32698 -v

*   Trying 192.168.49.2...
* TCP_NODELAY set
* Connection failed
* conn

[2021-03-05 07:33] Ahsankkhan commented on #7440
how to solve this :
curl 127.0.0.1:31314
curl: (7) Failed to connect to 127.0.0.1 port 31314: Connection refused

[2021-03-05 12:10] #10871 closed

[2021-03-05 12:11] julz commented on #10890
/assign

[2021-03-05 12:46] julz commented on #10764
I don't think anyone thinks the current behaviour is correct, so I'm going to fix. I guess there's a question as to whether we need a feature flag for a release since it's _technically_ backwards-incompatible to start doing this 🤔

/assign

[2021-03-05 12:55] rhuss commented on #8562
not for the client project, at least we haven't hit it for some time (just worked around). Still, I believe that flake can come back (and might not be easy to detect without having the context here). Said, happy to close that issue for now.

[2021-03-05 14:22] #10890 closed

[2021-03-05 15:26] patelrutva commented on #10897
@dprotaso @tcnghia can you help.. I am stuck.

Also is there any way to access the service from proxy:

I have done below things:

1)`kubectl proxy --port=8080`

2)When I curl it with : `curl http://127.0.0.1:8080`
returned me this:

[2021-03-05 16:11] dprotaso commented on #10897
Hey it's not clear what you did to setup minikube & knative - I was asking for a list of commands you typed out. It's hard for me to comment not knowing how things are setup.

For example I'm on Mac and minikube is using hyperkit - the follow steps work to curl a Knative service in my environment

[code]

Few questions/comments:

1) Your service uses `mydomain.com` - how else has the Knative insta

[2021-03-05 16:20] ustiugov commented on #9326
we still observe such issues with Knative Serving
https://github.com/ease-lab/vhive/issues/158#issuecomment-791414642

[2021-03-05 16:22] dprotaso commented on #8562
Can you link to me your work around?

[2021-03-05 16:31] dprotaso commented on #9326
I think this falls into the class of issues I'm going to look at next where we don't handle failure modes.

[2021-03-05 19:00] patelrutva commented on #10897
Hello @dprotaso ,

I have followed all the steps and here is the output looks like: (minikube tunnel is running in one terminal):

[code]
Don't know what to do now..!!

[2021-03-05 19:47] patelrutva commented on #10897
Just FYI:

[code]

[2021-03-05 20:18] dprotaso commented on #10897
I think your issue isn't related to Knative but instead connecting to any services inside minikube.

ie. If `tunnel` is broken the other approach seems to be to use `minikube service`.  You want to hit port 80 for the `istio-ingressgateway` service ie.
[code]

So I would use
[code]

Like so
[code]

If that doesn't work I would suggest reaching out to folks within the minikube community - See: http

[2021-03-05 20:21] dprotaso commented on #10897
curious what does `minikube config view` show?

[2021-03-05 20:29] patelrutva commented on #10897
I got this as a response:
[code]

[code]

I found suspicious out for config view:

[code]

If that doesn't work I would suggest reaching out to folks within the minikube community - See:

=> May be I have to. Individual service for minikube is working though. But something with knative and istio it's not performing well.

[2021-03-06 01:34] #9169 closed

[2021-03-06 06:59] patelrutva commented on #10897
I finally found the solution:

please refer this link : https://istio.io/latest/docs/tasks/traffic-management/ingress/ingress-control/

Thanks for your help

[2021-03-06 12:11] knative-test-reporter-robot opened #10905 "[flaky] test/e2e.TestRPSBasedAutoscaleUpCountPods"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestRPSBasedAutoscaleUpCountPods
* **Repository name**: serving

[2021-03-06 15:53] ShiningTian opened #10906 "autoscaler stop serving metrics because error: collected metric "xxx" was collected before with the same name and label values"
## In what area(s)?

 /area monitoring

## What version of Knative?

 0.19.0
 0.20.0

## Expected Behavior
In our environments, we observed autoscaler 9090 metrics show `collected metric "xxx" was collected before with the same name and label values` error frequently, please see below example:

[code]

[2021-03-07 01:38] #9162 closed

[2021-03-07 04:02] duglin opened #10907 "cluster-local revision shouldn't be visible outside of cluster"
## In what area(s)?
/area API
/area networking

Using this script:
[code]

This will create a service where:
- the first revision is cluster local, and named "node", and then tagged with "node"
- the second revision is not cluster local, and named "main"

I then curl both the ksvc and the tagged revision from within a pod using  `echo.6rusdxcnmrk.svc.cluster.local` and `echo-node-deployment-86954b

[2021-03-07 06:30] nak3 commented on #10907
For this kind of usecase, you need to add the label to Kubernetes service.

The docs mentions about it in https://knative.dev/docs/serving/cluster-local-route/

So you can set the cluster-local to the tagged route by:

[code]

[2021-03-07 06:33] nak3 commented on #10906
@ShiningTian I think this is the same issue with https://github.com/knative/serving/issues/10421. Is it alright to track https://github.com/knative/serving/issues/10421 ?

[2021-03-07 07:41] plsmaop commented on #4579
any update on this?

[2021-03-07 12:19] duglin commented on #10907
@nak3 thanks, apply that label does seem to hide it. However, in this case I think Knative should be applying that label for the user. From a UX perspective, knative users shouldn't need to manage, or even know about, kube services to get this level of functionality. The cluster-local flag on the knative revision should be sufficient for the infra to do the magic for them.

[2021-03-07 19:01] Miles-Ahead-Digital commented on #10259
@skonto
I run into exactly the same problem.
Maybe you can help me to solve to get the ResolvingDigest Problem solved by adjusting my Infrastructure.
My Cluster is setup conforming to
https://blog.atomist.com/kubernetes-ingress-nginx-cert-manager-external-dns/
I added Istio, which works great (I added the istio-ingress to the autoDNS).
Then I installed Knative serving (no DNS config so far because

[2021-03-08 00:24] nak3 commented on #10907
Yes, agree. This is one of the difficult configuration to notice.
This should be enhanced. Let me try to fix it. (If it is difficult to improve in current code, I will consider to manage it with Ingress v2.)
/assign

[2021-03-08 00:47] duglin opened #10908 "Should autoscaling flags always be immutable?"
## In what area(s)?
Remove the '> ' to select:
/area API
/area autoscale
/kind spec

I understand why the autoscaling flags are immutable and part of the revision, however I came across a situation that makes me wonder if we may need some other way to deal with these flags.

Take the case where someone is running a very intense workload and they need to have a certain number of instances running (

[2021-03-08 00:50] duglin commented on #10907
Thanks a ton. Just to elaborate, I'm running into both cases... 1st rev is private, 2nd is public and 1st rev is public, 2nd rev is private. It would be cool if both could be supported.

[2021-03-08 02:40] ShiningTian commented on #10906
@nak3 Thank you, I have looked at #10421, and seems there was a fix already, I will test the fix in our environments.

[2021-03-08 05:18] vagababov commented on #10908
I did raise that at an API meeting and it was resolutely declined by community :-)

[2021-03-08 07:40] rhuss commented on #8562
@dprotaso I don't really remember anymore (sorry) but I think we split up the file or applied it in two rounds ? @navidshaikh do you recall how we solved this problem for the client CI ? Also cc; @markusthoemmes who helped us in analysing the issue at that time.

What I can say though is, that we don't have to deal with this issue anymore although the original issue (this one) has not bee resolved

[2021-03-08 09:37] HarshCasper opened #10912 "Potential Bug Risks and Anti-Patterns"
## Description

Hi 👋

I ran DeepSource Static Code Analysis upon the Project, the results for which are available [here](https://deepsource.io/gh/HarshCasper/serving/).

The Static Code Analysis Tool found potential bugs and anti-patterns in the Code, that can be detrimental at a later point in time with respect to the Project. DeepSource helps you to automatically find and fix issues in your code

[2021-03-08 09:40] skonto commented on #10259
Hi @Miles-Ahead-Digital did you follow the steps [here](https://knative.dev/docs/serving/deploying/private-registry/)?
I think the problem you are facing might be different because in my case Serving was launched in AWS and due to the image resolution library bug the revision got stuck.

[2021-03-08 09:48] markusthoemmes commented on #10912
Thanks for looking at this.

Most if not all of these should be discoverable using our current linter infrastructure that's using `golangci-lint`. Catching the builtins seems useful for instance.

All of the others have been looked at and are ignored "by design" currently. The `context.Context` thing will clash with the best-practice to have `testing.T` as the first arg.

[2021-03-08 11:57] Miles-Ahead-Digital commented on #10259
Hi @skonto
yes its something with the (secure) setup described in this [link](https://blog.atomist.com/kubernetes-ingress-nginx-cert-manager-external-dns/). In a Standard GKE setup it works.

It does not work in my setup although the image in the tutorial is public.
gcr.io/knative-samples/helloworld-go

What files Logs could help me best to find the reason?
Stefan

[2021-03-08 12:55] duglin commented on #10907
hmmm I just realized, the `serving.knative.dev/visibility: cluster-local` label is on the ksvc, not the revision... that might make it harder to do this.  :-(    Is there any reason we couldn't make this a revision specific config?  I guess it would make traffic splitting more interesting if 1/2 of the targets were private, but still do-able I think.... 🤔

[2021-03-08 14:11] dprotaso commented on #10897
glad you sorted that out

[2021-03-08 14:11] #10897 closed

[2021-03-08 16:59] vagababov commented on #10912
I've looked at those, they are on my dashboard, but we decided at the time to ignore those and not introduce new ones.

[2021-03-08 19:02] Miles-Ahead-Digital opened #10917 "Error in Autoscaler Log after fresh install"
Hi,

after a fresh install I get the following error in the autoscaler log:

E0308 18:59:50.604291       1 leaderelection.go:361] Failed to update lock: Operation cannot be fulfilled on leases.coordination.k8s.io "autoscaler-bucket-00-of-01": the object has been modified; please apply your changes to the latest version and try again

What is the reason for this?
Stefan

[2021-03-08 19:08] markusthoemmes commented on #10917
Probably an eventual-consistency issue that resolves itself. Usually, these are harmless. Are you getting them continuously?

[2021-03-08 19:11] Miles-Ahead-Digital commented on #10917
yes approx. every 40 seconds. But I cant tie an error to it directly..

[2021-03-08 19:29] Miles-Ahead-Digital opened #10919 "Configuration "helloworld-go" is waiting for a Revision to become ready."
Hi,
in a fresh install on Google Kubernetes Engine I cant get the helloworld-go example working.
The image in the example is from google public registry gcr.io/knative-samples/helloworld-go
The status is:

Status:
  Conditions:
    Last Transition Time:        2021-03-08T19:05:07Z
    Status:                      Unknown
    Type:                        ConfigurationsReady
    Last Transition Time

[2021-03-08 19:33] vagababov commented on #10919
Those are unrelated errors.
What's the status of the revision? `k get revision <latest> -oyaml`.

[2021-03-08 19:33] vagababov commented on #10919
Also are you running Knative on GKE or CloudRun?

[2021-03-08 19:47] Miles-Ahead-Digital commented on #10259
@skonto

@ddgenome  who provided the secure cluster [configuration](https://blog.atomist.com/kubernetes-ingress-nginx-cert-manager-external-dns/) did an analysis:

The GKE Cluster setup in use disables access to most node metadata from within a pod, https://cloud.google.com/kubernetes-engine/docs/how-to/protecting-cluster-metadata.

 I would guess this check https://github.com/skonto/serving/blob/

[2021-03-08 19:48] vagababov commented on #10917
cc @yanweiguo

What kind of install are you running?

[2021-03-08 19:49] Miles-Ahead-Digital commented on #10919
I'm running on GKE

The GKE Cluster setup in use disables access to most node metadata from within a pod, https://cloud.google.com/kubernetes-engine/docs/how-to/protecting-cluster-metadata.

I would guess this check https://github.com/skonto/serving/blob/debug-stuck-r/vendor/github.com/vdemeester/k8s-pkg-credentialprovider/gcp/metadata.go#L218 is failing.

[2021-03-08 19:53] Miles-Ahead-Digital commented on #10919
sklose@Repeat-4E:91:AB:64:E8:4A development % k get revision helloworld-go-00001 -oyaml
apiVersion: serving.knative.dev/v1
kind: Revision
metadata:
  annotations:
    serving.knative.dev/creator: sklose@miles-ahead.digital
    serving.knative.dev/routes: helloworld-go
    serving.knative.dev/routingStateModified: "2021-03-08T19:05:07Z"
  creationTimestamp: "2021-03-08T19:05:07Z"
  generation: 1

[2021-03-09 01:53] duglin commented on #7650
/remove-lifecycle stale

[2021-03-09 06:03] Miles-Ahead-Digital commented on #10919
Hi,
I'm using a GKE Cluster with Workload Identity enabled and I'm wondering if this is the reason.
Can you provide documentation how to setup knative on a cluster using Workload Identity?
Best regards
Stefan

[2021-03-09 06:05] Miles-Ahead-Digital commented on #10917
I run the install from https://knative.dev/docs/install/any-kubernetes-cluster/

I'm using a GKE Cluster with Workload Identity enabled and I'm wondering if this is the reason.
Can you provide documentation how to setup knative on a cluster using Workload Identity?

[2021-03-09 06:06] Miles-Ahead-Digital commented on #10259
I'm using a GKE Cluster with Workload Identity enabled and I'm wondering if this is the reason.
Can you provide documentation how to setup knative on a cluster using Workload Identity?

[2021-03-09 06:07] vagababov commented on #10259
cc @JRBANCEL @ZhiminXiang for GKE help.

[2021-03-09 19:07] dprotaso opened #10926 "Backups with velero have issues"
## What version of Knative?

0.21.0

## Expected Behavior

Backing up and restoring a Knative service with https://velero.io/ should succeed - or at a minimum have clearer error messages.

## Actual Behavior

Restore fails with confusing messages

[code]

In fact the labels are present but since they don't match the owner references (those are stripped by velero). The error message should be more

[2021-03-09 19:18] yanweiguo commented on #10917
I don't think workload Identity is the reason to cause the leaderelection logs. Basically workload identify controls the permissions of your GKE components to call other google cloud products, like, GCR, GCE API. The leaderelection is not relative.

IMO those logs are standard logs on conflicts which don't indicate an issue. Could you confirm that the scaling functionality is working on your clust

[2021-03-09 19:27] senthilnathan commented on #10926
**Steps to Reproduce the Problem**

1. Deploy a simple helloworld-python ksvc and make sure it runs fine
2. Take velero backup
[code]
3. Delete helloworld-python ksvc
[code]
4. Restore velero backup
[code]
5. Verify that the helloworld-python ksvc is running

I observed the following errors in the velero restore log (Step 4).
[code]
After this the ksvc went to 'RevisionMissing' status
[code]
[code

[2021-03-10 08:47] Miles-Ahead-Digital commented on #10919
I found the https://github.com/google/knative-gcp project and will use their GCP specific setup of knative.
Therefore I will close this message.

[2021-03-10 08:47] #10919 closed

[2021-03-10 08:49] Miles-Ahead-Digital commented on #10917
the scaling functionality does not work, I found the https://github.com/google/knative-gcp project and will use their GCP specific setup of knative.

Therefore I will close this message.

[2021-03-10 08:49] #10917 closed

[2021-03-10 09:36] wzshiming commented on #10821
As far as I understand it, sig-node should be unlikely to add a dedicated sidecar. should be planning a general solution.
https://docs.google.com/document/d/1Drw9C_Ljpcr4X9UPLvms1fn8uMRnTfJLb-xipgX4C1M/edit

[2021-03-10 17:51] vagababov commented on #4665
/close

Done.

[2021-03-10 17:51] #4665 closed

[2021-03-10 18:59] dprotaso commented on #10907
FYI: have you seen https://docs.google.com/document/d/1kefwbDQ6qCsw-DbqmfpLlQfEvLtO85RgUlQMCqJnTLg/edit?resourcekey=0-lzesL79SETekPVyzEfc4Ww

[2021-03-10 19:00] dprotaso commented on #10908
@vagababov do you remember the meeting date lol?

[2021-03-10 19:10] vagababov commented on #10908
According to docs: 2020-02-26:

[2021-03-10 19:10] vagababov commented on #10908
Along with https://github.com/knative/serving/issues/6717

[2021-03-11 01:37] #10076 closed

[2021-03-11 04:53] vagababov commented on #10540
This is done.

[2021-03-11 12:03] julz opened #10936 "Autoscaler tests should be runnable under chaos"
/area autoscale

## Describe the feature

The autoscaler tests should be run with chaos duck enabled.

For now we disabled this because it causes flakes (see https://github.com/knative/serving/pull/10928), but in reality pods do crash and get upgraded in real systems and we should (a) have tests for this, (b) actually be resilient to this and as far as possible maintain correct behaviour.

Ideally

[2021-03-11 13:12] julz opened #10938 "Autoscaling tests flaky even with chaos disabled"
Opening to track flakes we've seen even with chaos disabled. We'd like to get these consistently green before re-enabling chaos.

/area autoscale

Some examples:

- https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_serving/10928/pull-knative-serving-istio-stable-no-mesh/1369979504704884736
- https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_serving/10928/pull-knat

[2021-03-11 15:24] cdlliuy commented on #10253
@dprotaso , @markusthoemmes , can we go through this requirement with the webhook approach as discussed in above?   If the solution is agreed,  we can go ahead with this effort.

[2021-03-11 15:40] dprotaso commented on #10907
Revisions are intended to be immutable so baking in visibility would restrict any changes.

### [Summary of the API WG call regarding this topic](https://docs.google.com/document/d/1HqLJ8uNm5KmKPlMzQmbfDy0haybEUrPydsp7gNBrl20/edit?resourcekey=0-U2fCalupIuqkQstwBhaZmA#heading=h.wsohima85vle)

Visibility is a routing concern so I think such a feature should be surfaced via the traffic block on the S

[2021-03-11 17:06] muthurajr opened #10940 "Istio Authorization for Knative Service to Service Communication"
I am having trouble in enabling Istio Authorization for Knative service to service communication.

#### Steps taken:
- Installed Istio and enabled mTLS with STRICT mode
- Installed Knative and enabled mTLS PERMISSIVE [https://knative.dev/docs/serving/istio-authorization/] as requests might be forwarded by activator based on TargetBurstCapacity.
- Created two namespaces serving-test1 & serving-test

[2021-03-11 18:12] dprotaso commented on #10908
I agree with the sentiment that the problem Doug mentioned can be solved with a better rollout story - @vagababov how does it behaves when `[min|max]Scale` annotation is present is present?

Funny enough I commented on an issue where I said the visibility label shouldn't be on a revision because it's a separate concern. Baking it in is rigid. Re-watching the meeting video I felt like you were hint

[2021-03-11 19:47] dprotaso commented on #10253
I wonder if audit logs would let you gather all this data without any changes
https://kubernetes.io/docs/tasks/debug-application-cluster/audit/

[2021-03-11 20:38] shinigambit opened #10943 "e2e Contour probing continues after resources are deleted"
## What version of Knative?

## Expected Behavior
Even after e2e tests timeout, probing for deleted resources stops

## Actual Behavior
After a timeout running the e2e tests, about every 30 seconds log output appears about the `contour-ingress-controller` failing probes for a service in the `serving-tests` namespace:
[code]

## Steps to Reproduce the Problem
- run all e2e `go test -race -count=1 -

[2021-03-12 04:26] nak3 commented on #10943
Is it possible to narrow down the issue? For example, can we produce the issue with manual resource creation&deletion steps without e2e or at least without e2e's timeout? Also the issue is not replicable without running "all" e2e tests?

[2021-03-12 05:27] shinigambit commented on #10943
Based on the name of the service being probed I assume the issue is mainly in the `TestRollbackBYOName` test in `rollback_byo_test.go` this is currently happening in my GKE instance and I can't think of a way to fix it other than recreating the whole cluster, I'll try to reproduce it in a more consistent way locally @nak3

[2021-03-12 09:32] skonto commented on #10516
I think we can close this as there is a fix merged. We should keep an eye though.

[2021-03-12 09:32] #10516 closed

[2021-03-12 12:37] chinmay22897 opened #10944 "Logs and Monitoring"
## Ask your question here:
What was the reason for discontinuing the knative-monitoring component, moreover I was able to use the prometheus and grafana monitoring using version 0.18.0 following steps from 0.13.0 release and the graphs and charts are really what is desired for my project case. So where exactly is the logs being generated or how is prometheus getting the data for itself, is there a

[2021-03-12 17:42] vagababov commented on #10540
/close

[2021-03-12 17:42] #10540 closed

[2021-03-12 17:42] vagababov commented on #10444
/unassign

[2021-03-12 17:43] vagababov commented on #7701
/unassign

[2021-03-12 17:43] vagababov commented on #6803
Mostly done
/close

[2021-03-12 17:43] #6803 closed

[2021-03-13 01:36] #10085 closed

[2021-03-13 01:36] #10051 closed

[2021-03-14 08:05] Miles-Ahead-Digital opened #10948 "limit number of revisions"
Hi,
how can I limit the number of available revisions of a service? I only need the 5 latests revisions and want the other to be deleted.

I could find the solution in the documentation.

Best regards
Stefan

[2021-03-14 09:41] nak3 commented on #10948
Hi @Miles-Ahead-Digital
Does the configuration for `config-gc` configmap meet your requirement?
Please check the comment line which explains the detail - https://github.com/knative/serving/blob/main/config/core/configmaps/gc.yaml

[2021-03-14 12:36] #10948 closed

[2021-03-14 14:17] duglin opened #10949 "services w/o revisions"
## In what area(s)?
/area API

Other classifications:
/kind spec

## Describe the feature

Ran into an interesting situation with a customer. They deployed a ksvc and the app failed to run properly so the revision never really became "ready". We expose revisions to our customers mainly so that they can do stuff like traffic splitting and setting tags, and so their first instinct was to delete the

[2021-03-14 18:18] vagababov commented on #10949
SO what stops from pushing the previous image again, effectively _deleting_ current revision?

[2021-03-14 21:11] duglin commented on #10949
nothing and that's a valid next step - but in the meantime they have a revision (and pod) that keeps failing. This is more of a UX question because from a user's perspective they see something going wrong and they would naturally try to fix it. If they don't have a code fix ready to go what should they do? These users I saw wanted to 'delete the revision' but it didn't dawn on them to delete the k

[2021-03-15 07:42] cdlliuy commented on #10253
@dprotaso ,   the audit log won't help since it will take additional effort to retrieve the ksvc creation timestamp with log queries.

The purpose of the issue is to figure out an efficient approach to get the performance benchmark of knative and its related CRs creation/update performance.

The most expected approach would be to have the knative resource creation/update duration (`the CR ready ti

[2021-03-15 09:52] julz opened #10951 "DomainMapping BYO TLS Support"
/area API

## Describe the feature

Following on from https://github.com/knative/serving/issues/10247, we should also support bring-your-own TLS certificates for [DomainMappings](https://github.com/knative/serving/issues/9713) so that users can explicitly provide the TLS certificate to use. In the [original DomainMapping proposal we envisaged this being achieved via `spec.tls`]( https://docs.googl

[2021-03-15 09:57] markusthoemmes commented on #10951
Please forgive my ignorance, btu do we have BYO TLS for "normal" Services? :thinking:

[2021-03-15 09:59] julz commented on #10951
I think for normal services they're all vended from the same shared domain so it makes less sense to let users override it but.... I dont really know :) cc @nak3 @ZhiminXiang @tcnghia

[2021-03-15 09:59] julz commented on #10951
actually I clearly should have done

/area networking

on this

[2021-03-15 16:43] tcnghia commented on #10951
There is already an issue here  https://github.com/knative/serving/issues/10530

[2021-03-15 16:49] ZhiminXiang commented on #10951
We don't support BYO TLS for normal services through an API because
1. the domain of a ksvc is referenced from a shared suffix and DomainTemplate which could be changed globally. So the TLS certs could be ineffective if the cluster operator updates those values.
2. Users may want to configure TLS certs in different ways: per cert per ksvc or per cert per namespace.
Considering this, we don't provi

[2021-03-15 16:59] markusthoemmes commented on #10951
Thanks for the clarification @ZhiminXiang, those points do make sense.

[2021-03-15 17:42] julz commented on #10951
Oops, thanks @tcnghia - I searched but didn't find it

Closing in favour of https://github.com/knative/serving/issues/10530

/close

[2021-03-15 17:42] #10951 closed

[2021-03-15 21:24] evankanderson commented on #10949
One way to get out of this would be to update the KSvc to point to the "last known good" revision. If _I_ were running the service, I'd do the following:

* Update the KSvc with the `spec` and `metadata` (including `name`) of the last-known-good Revision (I can get this from the status of the Configuration, maybe Service status, too).
* Update the traffic block to point at the last-known good Revi

[2021-03-15 21:29] evankanderson commented on #10944
The monitoring component was built more than 2 years ago, and had rotted substantially. In particular:

* It had no testing / test coverage
* It had no active development
* There was no one on the project who knew how it worked

We removed the bundle after 0.18 because we didn't feel (as a project) that we could stand behind the artifact. It's still available in the 0.18 release branch; this may s

[2021-03-15 21:29] #10944 closed

[2021-03-15 21:30] evankanderson commented on #10943
Should this bug be in `knative-sandbox/net-contour`, rather than here? It sounds like it's a bug in the Contour controller (which is, admittedly, pretty simple).

[2021-03-15 21:39] evankanderson commented on #10940
This question should probably be in https://github.com/knative-sandbox/net-istio; I don't have a handy setup with Istio. Your rules look correct to me; you might want to look at the VirtualServices in the two namespaces to make sure things are getting matched correctly.

(Also, the hello-world workloads probably won't do outbound calls; I assume you're using something like a Job to run `curl` from

[2021-03-15 21:40] evankanderson commented on #10940
https://github.com/knative-sandbox/net-istio/issues/554

Is probably the right place to follow up; I referenced you so that you'd get updated.

/close

[2021-03-15 21:40] #10940 closed

[2021-03-15 21:44] evankanderson commented on #10926
Figuring out how to put everything back (ala Velero) on a clean cluster may require some way to put the validation webhooks into a "paused" state and then fix things afterwards.

Probably needs a feature track design proposal, given how much defaulting and human-behavior steering we've baked in.

/kind feature-request
/size XL

[2021-03-15 21:48] evankanderson commented on #10912
It sounds like we're aware, we've thought about them, and we've checked that they aren't bugs.

/close.

[2021-03-15 21:50] csantanapr opened #10957 "Update the community on call page with correct query for doc issues"
Update this page
https://github.com/knative/serving/blob/main/support/COMMUNITY_CONTACTS.md#all-days

[2021-03-15 21:50] csantanapr commented on #10957
/assign

[2021-03-15 21:54] evankanderson commented on #10908
I'm wondering about the premise of this issue -- would a custom autoscaler be a better method for this?

It sounds like the user doesn't like Knative's autoscaler, and wants to have their own scaling algorithm, but they want to do it by manually tweaking `minScale` and `maxScale` to restrict Knative to exactly N instances, determined by their own scaling algorithm.

[2021-03-15 22:16] #10957 closed

[2021-03-15 22:34] evankanderson commented on #10949
I see that the request was to "brainstorm" -- is the goal to put the ideas in this issue and then select the best options to create new work items?

/label triage/needs-user-input

[2021-03-15 22:37] evankanderson commented on #10949
/triage needs-user-input

[2021-03-15 22:37] evankanderson commented on #10908
/triage needs-user-input

[2021-03-15 22:38] evankanderson commented on #10906
/close

[2021-03-15 22:38] #10906 closed

[2021-03-15 22:38] evankanderson commented on #10905
/triage accepted

[2021-03-15 22:39] evankanderson commented on #10905
/area autoscaling

[2021-03-15 22:39] evankanderson commented on #10905
/area autoscale

[2021-03-15 22:39] evankanderson commented on #10891
/area autoscale
/triage accepted

[2021-03-15 22:42] evankanderson commented on #10878
/assign @markusthoemmes
/triage accepted

[2021-03-15 22:46] evankanderson commented on #10943
Closing in favor of net-contour bug, since it sounds like the bug is probably in the net-contour controller.

[2021-03-15 22:46] evankanderson commented on #10943
/close

[2021-03-15 22:47] #10943 closed

[2021-03-15 22:47] evankanderson commented on #10938
/triage accepted

[2021-03-15 22:48] evankanderson commented on #10938
I'm going to be looking at `AutoscaleSustainingWithTBCTest`. I'm suspicious that it's being too strict -- i.e. there's a burst, the number of pods goes up (maybe above the sustaining rate for a moment), and then it comes back down but we fail the test because we expect the instances to be monotonically increasing.

[2021-03-15 22:48] evankanderson commented on #10936
/triage accepted

[2021-03-15 22:50] evankanderson commented on #10926
/triage accepted
/remove-kind bug

/area API

(This is a reasonable request, but it's possible no one will get it it quickly)

[2021-03-15 22:50] evankanderson commented on #10912
/close

[2021-03-15 22:50] #10912 closed

[2021-03-15 22:55] evankanderson commented on #10907
I think this may be a "bad mental model" -- the _Service_ has a level of visibility (inherited from the Route); it's not a property of the Revision. For example, if cluster-local vs not was part of the Revision definition, and you had the following traffic, it's not clear what **should** happen:

* 25% of traffic from `cluster.local`
* 75% of traffic from external
* Revision A is "cluster local" a

[2021-03-15 22:56] evankanderson commented on #10873
/triage accepted
/area networking

[2021-03-15 22:57] evankanderson commented on #10858
/area networking
/triage acecpted
/kind enhancement

[2021-03-15 22:57] evankanderson commented on #10858
/triage accepted

[2021-03-15 22:58] evankanderson commented on #10857
/kind enhancement
/area networking
/triage accepted

[2021-03-15 23:00] evankanderson commented on #10852
/triage accepted

[2021-03-15 23:01] evankanderson commented on #10851
Is this separate from #10852? The two seem related/duplicate.

If we're updating the timeout lifecycle, it seems like it would be reasonable to have one issue to track both knobs.

/triage needs-user-input

[2021-03-15 23:02] evankanderson commented on #10848
/area autoscale
/good-first-issue
/triage accepted

[2021-03-15 23:07] evankanderson commented on #10835
/area networking
/kind question

It seems like Julz boiled this down to a few feature requests for the Knative software; you may also be able to configure the Cloud Run load balancer (provided by Google) to set a max limit on the lifetimes of your websockets. Another option would be to break all websocket connections as soon as the loadbalancer configuration is updated, but that's probably worse f

[2021-03-15 23:07] #10835 closed

[2021-03-15 23:08] evankanderson commented on #10826
/good-first-issue
/triage accepted

[2021-03-15 23:15] evankanderson commented on #10822
Is this specific to Istio? It's definitely possible to do with `net-contour`, but you need to make code changes and run a second controller (change [this constant](https://github.com/knative-sandbox/net-contour/blob/main/pkg/reconciler/contour/contour.go#L54) in `net-contour` when building your second controller).

/kind question
/area networking
/triage needs-user-input

[This feature track docum

[2021-03-15 23:17] evankanderson commented on #10821
Sorry, I meant to say that whatever solution sig-node comes up with is what we'll roll with, not that it would be a "sidecar" knob per-se.

/close

[2021-03-15 23:17] #10821 closed

[2021-03-15 23:17] evankanderson commented on #10814
/area API
/kind feature
/good-first-issue
/triage accepted

[2021-03-15 23:18] evankanderson commented on #10812
/area API
/good-first-issue
/kind feature
/triage accepted

[2021-03-15 23:18] evankanderson commented on #10805
/assign nak3
/triage accepted

[2021-03-15 23:19] evankanderson commented on #10783
/good-first-issue
/triage accepted

[2021-03-15 23:22] evankanderson commented on #912
/remove-area build

[2021-03-15 23:27] evankanderson commented on #10776
/area API
/area autoscale
/triage needs-user-input

[2021-03-15 23:27] evankanderson commented on #10767
/triage needs-user-input

[2021-03-15 23:38] evankanderson commented on #10765
/area networking
/area autoscale
/triage accepted

It sounds like we have a test case for this, so it just needs hands to work it?

[2021-03-15 23:39] evankanderson commented on #10764
/good-first-issue
/area autoscale
/triage accepted

[2021-03-15 23:44] evankanderson commented on #10792
I think Victor means "HTTP client" when he says "client side".

The API spec was specifically not generated from code comments because the goal was to explain the overall elephant such that you could clean-room rebuild one, not to tie it to the particular OSS implementation.

Looking at the larger business picture, there's some software running on the cluster in response to an organizational need,

[2021-03-15 23:44] evankanderson commented on #10792
/kind question

[2021-03-15 23:45] evankanderson commented on #10792
/triage needs-user-input

[2021-03-15 23:45] evankanderson commented on #10751
/triage accepted

[2021-03-15 23:46] evankanderson commented on #10750
/area API
/triage accepted

[2021-03-15 23:47] evankanderson commented on #10738
/triage accepted

[2021-03-15 23:48] evankanderson commented on #10714
/triage accepted

[2021-03-15 23:50] evankanderson commented on #10714
/remove-triage accepted
/triage needs-user-input

@zhaojizhuang -- do you need generic domain support? DomainMapping is one feature that could be used for this, but you could also use a native load balancer (e.g. Istio, Contour, etc) which supports setting the `Host:` header without needing additional features in Knative.

[2021-03-15 23:50] evankanderson commented on #10712
/triage needs-user-input

[2021-03-15 23:51] evankanderson commented on #10711
/triage needs-user-input

[2021-03-15 23:53] evankanderson commented on #10688
Moving this to the `net-istio` repository, since it appears Istio-specific.

/close

[2021-03-15 23:53] #10688 closed

[2021-03-15 23:53] evankanderson commented on #10662
/area API
/good-first-issue
/triage assigned

[2021-03-15 23:54] evankanderson commented on #10662
/triage accepted

[2021-03-15 23:56] evankanderson commented on #10656
/area API
/kind feature-request
/triage accepted

/assign @dprotaso

I don't think Knative serving supports affinity/anti-affinity for user workloads. Can you talk a little more about your use case? (Not that it's unreasonable, but sometimes we discover that people are trying to do things like pin workloads to a node, for which there may be better tools.)

[2021-03-15 23:58] evankanderson commented on #10639
Hello,

What cluster/environment are you using to create the cluster? You might also get better troubleshooting service on [#serving-questions](https://knative.slack.com/archives/C0186KU7STW) on https://slack.knative.dev/

It sounds like Pods are being created, but are never becoming ready?

/triage needs-user-input

[2021-03-15 23:58] evankanderson commented on #10614
/area API

It looks like this might be done?

/triage needs-user-input

[2021-03-15 23:59] evankanderson commented on #10614
/assign @dprotaso

[2021-03-16 00:00] evankanderson commented on #10613
/area networking
/kind cleanup
/triage accepted

[2021-03-16 00:07] ZhiminXiang commented on #10613
It has been fixed. https://testgrid.knative.dev/serving#istio-stable-no-mesh&include-filter-by-regex=http01

[2021-03-16 00:07] #10613 closed

[2021-03-16 00:15] sagarrandive commented on #10821
Thank you for your responses. I will follow up with the sig-node for next steps.

[2021-03-16 01:24] evankanderson commented on #10586
/assign
/area autoscale
/kind bug
/triage accepted

[2021-03-16 01:24] evankanderson commented on #10586
/assign
/area autoscale
/kind bug
/triage accepted

[2021-03-16 01:26] evankanderson commented on #10575
Would it make sense to handle "missing `imagePullSecret`" as equivalent to "`imagePullSecret` not specified"?

/kind enhancement
/good-first-issue
/triage needs-user-input

[2021-03-16 01:28] evankanderson commented on #10554
/area networking
/kind bug
/triage needs-user-input

[2021-03-16 01:28] evankanderson commented on #10547
Did you end up solving this?

/triage needs-user-input

[2021-03-16 01:29] evankanderson commented on #10530
/kind feature-request

This appears to be a dup of #10951

/close

[2021-03-16 01:30] evankanderson commented on #10530
/reopen (#10951 was closed)

/kind proposal
/triage accepted

[2021-03-16 01:32] evankanderson commented on #10511
It looks like the request here would be to support a few rounds of retries before failing this (?)

/good-first-issue
/triage accepted

[2021-03-16 01:38] evankanderson commented on #10492
/area autoscale
/kind bug
/triage accepted

[2021-03-16 01:55] evankanderson commented on #10470
/area networking
/triage needs-user-input

Does [`networkProtocol` from `config-network` help](https://github.com/knative/networking/blob/main/config/config-network.yaml#L106) here?

[2021-03-16 01:56] evankanderson commented on #10444
Is this still happening on version upgrade?

/triage needs-user-input

[2021-03-16 02:18] duglin commented on #10907
between the last 2 comment I'm gonna close this - it's just too much of a design change to consider right now. Thanks for the input and brainstorming tho.

[2021-03-16 02:21] duglin commented on #10908
A custom auto-scaler might be appropriate here but wouldn't that still surface the issue? Wouldn't a custom auto-scaler, instead of manually setting min/max-scale, result in a new revision and a whole new set of pods upon each change? Or would a custom auto-scaler be allowed to define that aspect of how revision changes are rolled out?

[2021-03-16 02:25] duglin commented on #10949
I agree that pointing to a previous revision is an option, when there is one, however in this case it was the first revision so there is no previous one to roll back to. Their only choice is to delete the ksvc.

yup - if we can come up with a solution that the group likes. Or close it if we just don't see an alternative to what we have today.

[2021-03-16 02:34] duglin commented on #10949
While I'm pretty sure it's a big code change, I'm curious from a design perspective if the idea of having a ksvc w/o a revision would even make sense? Obviously it wouldn't have anything running yet and would act more like a placeholder, but it would allow for people to roll back to "some" state when they deleted the revision.

What's interesting is that this could play a role in a possible soluti

[2021-03-16 02:48] devholic commented on #10530
/reopen (seems `reopen` in https://github.com/knative/serving/issues/10530#issuecomment-799874540 ignored)

[2021-03-16 02:49] devholic commented on #10530
/reopen

(seems reopen in #10530 (comment) ignored)

[2021-03-16 05:22] howardjohn commented on #10160
This should be fixed. in istio by https://github.com/istio/istio/commit/ae8b0e2cf984f13224b35423edb52f25832ac616

[2021-03-16 07:06] podilavenky opened #10959 "Queue proxy pod taking more time to start up After injecting envoy"
We installed knative and istio on top of EKS cluster. Everything fine if we don't use envoy, once we injecting sidecar  the queue proxy taking more time to startup, In our deployment we set timeout as 60 sec. But after injecting sidecar queue proxy pod taking 80 sec to start up. If we increase cpu limit to 1 core I am not seeing any issues. Generally we put cpu limit to 100m to 500m. Any solution

[2021-03-16 07:43] markusthoemmes commented on #10938
I've been looking at a few of those. The issues in the E2E suite (not during upgrade) seem to have been caused by istio's ingressgateway dropping requests, fix attempt in https://github.com/knative-sandbox/net-istio/pull/553.

[2021-03-16 08:04] cdlliuy commented on #10511
I would like to contribute to this.  Will read through more code logics on this and discuss the solution before go further.

[2021-03-16 08:14] julz commented on #10851
I think they're two separate features. One is an idle timeout, one is the maximum length of a "function"/request. It's easy to imagine us only implementing/prioritising one or the other, and I definitely think a PR that did both at once would be too big.

[2021-03-16 08:16] julz commented on #10848
Actually did this in https://github.com/knative/serving/pull/10921 and forgot to add "Fixes".

/close

[2021-03-16 08:16] #10848 closed

[2021-03-16 08:23] julz commented on #10792
The most trivial/obvious use case would be to prevent accidental infinite loops etc costing you resources/money forever. Afaik pretty much all FaaS platforms have request limits for this and other reasons. None of them, afaik, include queuing time before the user code is actually invoked. If you set a 5 minute timeout on the request, you don't expect to only get 5 seconds if you happen to queue fo

[2021-03-16 08:55] zhaojizhuang commented on #10714
@evankanderson yeah,Thanks, I think  generic domain isn't need in my case already, I am now using 10+ domainmapping to solve this，
It would be best if it can be achieved

[2021-03-16 09:12] matthiasgubler opened #10960 "Slow SKS call in proxy mode with more than 7 seconds latency"
/area networking

## Ask your question here:

I have a Knative Service, that is idle and in proxy mode. With a curl call it gets activated correctly, but with a very slow start up time of about 7 seconds.

Istio Version: 1.9.1
Kubernetes Version: v1.19.7
Knative Serving Version: v0.20.0
Istio Sidecar Injection is disabled (but same behaviour with it enabled)

The call of the service was made at 06

[2021-03-16 09:18] markusthoemmes commented on #10960
Does this include pod startup time or was there already a pod deployed for the Service?

[2021-03-16 09:19] matthiasgubler commented on #10960
This includes the pod startup time. Everything is scaled down to zero. Every followup call in serve mode is fast as expected.

[2021-03-16 09:29] markusthoemmes commented on #10960
Then some amount of slowness is to be expected here. 2-3 seconds is fairly usual here (the autoscaling working group wants to tackle this this year heavily).

In order to get this down somewhat, do you know how long the app you're deploying takes to come up and serve traffic? That's usually the first angle of possible optimization.

[2021-03-16 09:48] matthiasgubler commented on #10960
The application is a quarkus native built java application but it uses a mongodb which it connects to and a readinessprobe. I tested it with an application, that doesn't have any DB connected and the "knative overhead" took a bit more than 4 seconds. Do you declare that as normal? If so, I will close this issue and set the initial scale for the application with the DB attached to 1.

[2021-03-16 09:55] markusthoemmes commented on #10960
4 seconds is a bit on the high end of the scheme but definitely in the realm of possibility. I'm not saying that's great though, only that it's what is to be expected today.

Before we close this out though, do you have a feeling of what you'd expect this latency to be at most? As I said above, we're looking to work these times down and it'd be great to gather some data wrt. user expectations to s

[2021-03-16 09:59] matthiasgubler commented on #10960
I expected something around one second. (less obviously would be even cooler).
We can live with the 4 seconds, because

we are currently implementing an MVP (for a bachelorthesis) and bring it to production and moving it to openshift by the end of the year. There we will recheck the latency and do some improvements on the container-starting-time aswell.

Thanks for your help.

[2021-03-16 09:59] #10960 closed

[2021-03-16 11:45] markusthoemmes opened #10962 "[gRPC/http2 auto-detect] Flakiness and potential connection leak"
## In what area(s)?
/area networking

`TestHTTPProbeAutoHTTP2` is quite flaky currently and I almost went crazy trying to debug why. [The test failures look](https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-continuous/1371491603755044864) as if two sequential HTTP requests race. Turns out: They do! Adding a 100ms sleep to the beginning of the handler makes the issue very repr

[2021-03-16 12:01] markusthoemmes commented on #10962
Ha! Writing the HTTP2 preface and then closing the response **seems** to show the desired result.

[2021-03-16 21:04] andrijaperovic opened #10966 "certificate-controller doesn't pass spec.issuerRef.name"
## What version of Knative?

## Expected Behavior

Certificates should be created properly from knative certificate-controller.

## Actual Behavior

certificates are not created properly due to spec.issuerRef.name not being passed correctly:
`
{"severity":"INFO","timestamp":"2021-03-16T19:18:16.316165634Z","logger":"certcontroller.certificate-controller.event-broadcaster","caller":"record/event.go

[2021-03-17 06:15] iamejboy commented on #10444
I have worked with @sravankumar777 on this. We moved forward and during v0.20, it looks good no 5xx. I hope this type of test will be covered with multiple activator /autoscaler running.

[2021-03-17 06:35] evankanderson commented on #10444
Please reopen if you see this again; it sounds like from https://github.com/knative/serving/issues/10444#issuecomment-759274280 that we may run with >2 activators in our upgrade tests.

[2021-03-17 06:35] evankanderson commented on #10444
/close

[2021-03-17 06:35] #10444 closed

[2021-03-17 09:10] Aashit-Sharma commented on #6705
was anyone able to resolve this issue ?

[2021-03-17 19:14] evankanderson commented on #10966
Moving this to net-certmanager

/close

[2021-03-17 19:15] #10966 closed

[2021-03-17 19:16] evankanderson commented on #10962
/assign @markusthoemmes

[2021-03-17 19:16] evankanderson commented on #10962
/triage accepted

[2021-03-17 19:19] evankanderson commented on #10959
This sounds like an Istio question; I'm going to redirect this to `net-istio`, and ask questions here.

/close

[2021-03-17 19:19] #10959 closed

[2021-03-17 19:21] evankanderson commented on #10421
/close

Based on https://github.com/knative/serving/issues/10421#issuecomment-788528079

[2021-03-17 19:21] #10421 closed

[2021-03-17 19:22] evankanderson commented on #10355
/area autoscaling
/triage accepted

[2021-03-17 19:23] evankanderson commented on #10346
Is this still active?

/area API
/triage needs-user-input

/assign @Cynocracy

[2021-03-17 19:24] evankanderson commented on #10344
Victor, is this complete?

/area autoscale
/assign @vagababov

/triage needs-user-input

[2021-03-17 19:25] evankanderson commented on #10310
/close

[2021-03-17 19:25] #10310 closed

[2021-03-17 19:26] evankanderson commented on #10276
/assign @mgencur

Is this still an issue?

/kind cleanup
/triage needs-user-input

[2021-03-17 19:54] Cynocracy commented on #10346
We were jumping from 0.15 to 0.18, iirc?

The tl;dr aiui is, though, that anything could have added the preserveUnknownFields: true bit, and if it's required to be set to false after the upgrade, the Operator should be reverting that value.

[2021-03-17 20:24] evankanderson commented on #10346
I think you're actually suggesting that `preserveUnknownFields` _should_ be set to `true` to allow additive API changes during the upgrade period.

Is this something that we should be doing on all our CRDs?

/assign @dprotaso @markusthoemmes

[2021-03-17 20:40] evankanderson commented on #10355
/area autoscale

[2021-03-18 03:00] duglin commented on #6146
/remove-lifecycle stale

[2021-03-18 08:05] mgencur commented on #10276
hi @evankanderson , my attempt to implement this is in the linked PR #10961 . However, the autoscaler tests fail because the tests do not manage to scale the knative service enough. I tried and failed to find the root cause of the problem. And it's not clear from the code changes what could cause this issue. A brief look at the impl would be appreciated. If there's something obviously wrong I can

[2021-03-18 11:47] skonto commented on #9553
@markusthoemmes I guess here we need a test similar to this one [here](https://github.com/knative/serving/blob/main/test/e2e/autoscale_test.go). If so I can try it.

[2021-03-18 12:38] markusthoemmes opened #10973 "Pod-startup regression due to probing periods"
I've been doing some investigation into pod startup times since that's something the autoscaling WG wants to optimize, and that made me stumble into wildly variant pod-startup time data. (Note: All data is captured using https://github.com/markusthoemmes/podspeed, I might totally have a bug there).

# v0.21 and prior

Our assumption was, that the `exec` readiness probe would start running **after*

[2021-03-18 12:38] markusthoemmes commented on #10973
/assign

[2021-03-18 13:33] julz opened #10978 "Would it be terrible if: we default to no readiness probe if the user doesnt ask for one"
/area API
/area autoscale

## Describe the feature

Today, if a user doesnt specify a readiness probe we introduce a default (tcp) probe for them. Since #10741 this is run via both a startup probe (using an intermediate exec probe in queue proxy), and as a readiness probe which runs after the startup probe succeeds. The reason we do this is to avoid flakes when scaling up, ensuring the pod is at l

[2021-03-18 13:35] julz commented on #10973
Added a rough sketch of what may be a workaround for this (amongst other things) in https://github.com/knative/serving/issues/10978.

[2021-03-18 14:20] markusthoemmes commented on #10978
FWIW, I toyed a bit with a PostStart hook executing our binary and that seems to perform in the same ballpark as containers without probes at all.

[2021-03-18 14:37] markusthoemmes commented on #10978
This has some great content on the tradeoffs we'd buy into when using lifecycle hooks: https://livebook.manning.com/book/kubernetes-in-action/chapter-17/64.

In a nutshell: Error reporting seems worse, so we prolly need to adjust the way we report errors from pods and the insight into why stuff fails seems to not be great. It'd also be interesting to doublecheck if the pod's IP is appearing as Non

[2021-03-18 15:08] markusthoemmes commented on #10978
Tripleposting :joy:

I did investigate the behavior of the postStart hook briefly, and sadly, I was right above: The pod isn't getting any IP while the post-start hook is running, so that'd destroy other optimizations that we have in the activator to completely bypass the readiness signals and just probe the container on our own and send traffic to it ASAP (without waiting for signals to propagate

[2021-03-18 18:41] evankanderson commented on #10908
Thinking about this a bit more, it seems like the Kubernetes [Horizontal Pod Autoscaler with custom metrics](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#support-for-metrics-apis) might be the right approach here -- there's no need to implement a new autoscaler, just to read from a metrics source (either `external.metrics.k8s.io` or `custom.metrics.k8s.io`) which expo

[2021-03-18 18:42] evankanderson commented on #10907
/close

[2021-03-18 18:42] #10907 closed

[2021-03-18 18:42] evankanderson commented on #4283
/triage accepted

[2021-03-18 20:58] knative-test-reporter-robot opened #10979 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest
* **Repository name**: serving

[2021-03-18 20:58] knative-test-reporter-robot opened #10980 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/ProbeTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/ProbeTest
* **Repository name**: serving

[2021-03-18 20:58] knative-test-reporter-robot opened #10981 "[flaky] .Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Test
* **Repository name**: serving

[2021-03-18 20:58] knative-test-reporter-robot opened #10982 "[flaky] test/e2e.TestDestroyPodInflight"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDestroyPodInflight
* **Repository name**: serving

[2021-03-19 06:22] evankanderson commented on #10511
When you're ready, you can `/assign` to assign the issue to yourself to let people know you're working on it.

[2021-03-19 12:09] knative-test-reporter-robot opened #10983 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/ProbeTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/ProbeTest
* **Repository name**: serving

[2021-03-19 12:09] knative-test-reporter-robot opened #10984 "[flaky] .Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Test
* **Repository name**: serving

[2021-03-19 12:09] knative-test-reporter-robot opened #10985 "[flaky] test/e2e.TestDestroyPodInflight"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDestroyPodInflight
* **Repository name**: serving

[2021-03-19 12:09] knative-test-reporter-robot opened #10986 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest
* **Repository name**: serving

[2021-03-19 13:56] somaya10 opened #10990 "Retrieve Pod details from the Pod object while intercepting the pod creation with an admission controller"
## What version of Knative?

0.20.x

## Expected Behavior

We have enabled a garden variety mutating webhook to mutate the ImagePullPolicy to Always at the pod level (also requested this change [upstream](https://github.com/knative/serving/issues/9046)). We would like to log all the pods that this admission controller is mutating.

Unfortunately, we are not able to get the complete Pod Name and th

[2021-03-19 13:59] markusthoemmes commented on #10990
I would think that this is the expected Kubernetes behavior, isn't it? When you create pods through a deployment (which is what we're doing), the pods get generated via a GenerateName to make sure that K8s assigns unique names to each. I don't think we as Knative can (or should) do anything here unless I'm missing something.

[2021-03-19 14:03] markusthoemmes commented on #10990
Maybe I should add a little more detail:
Knative doesn't directly create pods. Knative creates a Deployment and leaves pod creation up to Kubernetes. We only ever update stuff via the Deployment as well, which is why my comment above was geared towards that behavior being controlled by K8s directly rather than by Knative.

[2021-03-19 14:06] somaya10 commented on #10990
@markusthoemmes Thanks for the quick reply. I agree with you that it is general Kube behaviour, was hoping something could be done here.. Wishful thinking ;)

We will then focus on issue https://github.com/knative/serving/issues/9046, as having a solution there would take the need to have a webhook (on a pod level) away. We'll update our latest findings in that issue by next week, unfortunately it

[2021-03-19 14:07] #10990 closed

[2021-03-19 14:08] markusthoemmes commented on #10990
It might be worth thinking about a Deployment level webhook maybe? To adjust the defaulting, arguably, where it belongs?

[2021-03-19 14:12] somaya10 commented on #10990
@markusthoemmes We have seen issues while intercepting at the deployment level:
`intercepting on Deployment level: the knative reconciler patches the deployment back to imagePullPolicy: IfNotPresent.
`. Re: https://github.com/knative/serving/issues/9046.

We need to run a few more tests and analyse if something has changed since in 0.20 (the level we are at right now). We'll add our updates to #90

[2021-03-19 14:55] csantanapr opened #10991 "Update community contacts doc to link to the UX issue template"
Update community contacts doc to link to the UX issue template

This was suggested by TOC this week during UX WG status

[2021-03-19 14:55] csantanapr commented on #10991
/assign
/kind doc

[2021-03-19 17:43] evankanderson commented on #10978
It sounds like this doesn't work for right now?

/close

(Feel free to reopen and add more notes if this should stay open)

[2021-03-19 17:47] evankanderson commented on #10984
Dup of https://github.com/knative/serving/issues/10985

/close

[2021-03-19 17:47] #10984 closed

[2021-03-19 17:48] evankanderson commented on #10982
Looks like a dup of https://github.com/knative/serving/issues/10985

[2021-03-19 17:48] evankanderson commented on #10985
(More failures in #10982)

[2021-03-19 17:49] evankanderson commented on #10981
Dup of #10982

/close

[2021-03-19 17:49] #10981 closed

[2021-03-19 17:49] evankanderson commented on #10982
/close

[2021-03-19 17:49] #10982 closed

[2021-03-19 17:50] evankanderson commented on #10980
Dup of #10983

/close

[2021-03-19 17:50] #10980 closed

[2021-03-19 17:50] evankanderson commented on #10979
Dup of #10986

/close

[2021-03-19 17:50] #10979 closed

[2021-03-19 17:52] evankanderson commented on #10973
/area autoscale
/triage assigned

[2021-03-19 17:52] evankanderson commented on #10973
/triage accepted

[2021-03-19 17:56] julz commented on #10978
/reopen

The bit that doesn't work is the postStart idea, which was a little side comment, not the main point of the issue (the thread's a bit confusing I guess since we side tracked ourselves a bit on a side issue). Tldr I still think it might make sense to avoid the unnecessary readiness check (every second x every pod) that the user didn't ask for since we only *really* need a startup check to

[2021-03-19 17:57] evankanderson commented on #10275
/area autoscale

It looks like this is concluded?

/close

[2021-03-19 17:57] #10275 closed

[2021-03-19 18:00] evankanderson commented on #10267
/area API

Is there more that needs to be done here? @dprotaso , can you put a priority/hint here?

[2021-03-19 18:00] evankanderson commented on #10267
/triage needs-user-input

[2021-03-19 19:06] evankanderson commented on #10029
Looks like this may have petered out.

/close

(Reopen if needed.)

[2021-03-19 19:06] #10029 closed

[2021-03-19 19:07] evankanderson commented on #10037
/triage accepted

[2021-03-19 19:09] evankanderson commented on #10074
/area networking

Is this done?

[2021-03-19 19:09] evankanderson commented on #10074
/triage accepted

[2021-03-19 19:33] ZhiminXiang commented on #10074
I think we can close this issue as currently our recommended stable Istio is 1.8

[2021-03-19 19:33] #10074 closed

[2021-03-19 19:33] evankanderson commented on #10098
Hi, it looks like the first change went in (which probably sets `labelSelector` in this querymethod): https://kubernetes.io/docs/reference/kubernetes-api/workloads-resources/pod-v1/#list-list-or-watch-objects-of-kind-pod-1

Do we need someone to carry #10266 across the finish line?

/triage accepted
/area API
/lifecycle frozen
/good-first-issue

(maybe a good warmup since the PR is already started

[2021-03-19 19:36] evankanderson commented on #10115
Knative 0.14 is almost a year old, and based on https://github.com/knative/serving/issues/10115#issuecomment-747788706, it sounds like this might be related to underlying Istio unhealthiness. Can you try upgrading to current/supported versions if you're still having issues?

/close

[2021-03-19 19:36] #10115 closed

[2021-03-19 19:36] evankanderson commented on #10160
Looks like this may be fixed in Istio.

/close

[2021-03-19 19:36] evankanderson commented on #10217
/triage accepted

[2021-03-19 19:37] evankanderson commented on #10226
(Stale issue)

/close

[2021-03-19 19:37] #10226 closed

[2021-03-19 19:38] evankanderson commented on #10244
#10158 seems like a related flaky test.

Looks like this is stale; expiring for now, but there is definitely still some flakiness in the autoscaling upgrade tests that I'm going to try to look at this afternoon / next week.

[2021-03-19 19:38] evankanderson commented on #10244
/close

[2021-03-19 19:38] #10244 closed

[2021-03-19 19:39] evankanderson commented on #10247
/triage accepted

What work is left to do here?

[2021-03-19 19:40] evankanderson commented on #10253
@skonto @maximilien

This looks like it might be related to your SLO work. Not sure if we have a project board tracking that yet.

/triage accepted
/assign

[2021-03-19 19:41] evankanderson commented on #10259
/assign @JRBANCEL

/area API

Is there more left to do here?

/triage needs-user-input

[2021-03-19 19:51] julz commented on #10247
Think this is essentially done, we're just waiting on the e2e test in https://github.com/knative/serving/pull/10795 to land.

[2021-03-19 22:21] #10991 closed

[2021-03-20 12:09] knative-test-reporter-robot opened #10994 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest
* **Repository name**: serving

[2021-03-20 12:09] knative-test-reporter-robot opened #10995 "[flaky] .Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Test
* **Repository name**: serving

[2021-03-20 12:09] knative-test-reporter-robot opened #10996 "[flaky] test/conformance/api/v1.TestServiceCreateAndUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceCreateAndUpdate
* **Repository name**: serving

[2021-03-21 12:10] knative-test-reporter-robot opened #10997 "[flaky] .Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Test
* **Repository name**: serving

[2021-03-21 12:10] knative-test-reporter-robot opened #10998 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest
* **Repository name**: serving

[2021-03-21 12:10] knative-test-reporter-robot opened #10999 "[flaky] test/conformance/api/v1.TestServiceCreateAndUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceCreateAndUpdate
* **Repository name**: serving

[2021-03-21 12:10] knative-test-reporter-robot opened #11000 "[flaky] test/e2e.TestDestroyPodInflight"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDestroyPodInflight
* **Repository name**: serving

[2021-03-22 00:20] evankanderson commented on #11000
Dup of #10985

/close

[2021-03-22 00:20] #11000 closed

[2021-03-22 00:21] evankanderson commented on #10998
Dup of #10986

/close

[2021-03-22 00:21] #10998 closed

[2021-03-22 00:21] evankanderson commented on #10997
Dup of #10995

[2021-03-22 00:21] evankanderson commented on #10997
/close

[2021-03-22 00:21] #10997 closed

[2021-03-22 00:22] evankanderson commented on #10999
Dup of #10996

/close

[2021-03-22 00:22] #10999 closed

[2021-03-22 00:22] evankanderson commented on #10994
Dup of #10986

/close

[2021-03-22 00:22] #10994 closed

[2021-03-22 00:23] evankanderson commented on #10978
/kind enhancement
/remove-kind feature

Does this need a proposal before implementation?

/triage assigned

[2021-03-22 00:23] evankanderson commented on #10978
/triage accepted

[2021-03-22 00:24] evankanderson commented on #10001
Hi @piyushsingariya

If you want to work on this, you can add a comment with `/assign` on its own line, to assign the issue to yourself.

/triage accepted

[2021-03-22 00:26] evankanderson commented on #9957
/assign

/triage accepted

It sounds like Google may be looking to sustain Stackdriver support for longer than expected... I'm going to try to switch `pkg/metrics` to a registration pattern, and make `stackdriver`, `prometheus` and `opencensus` be sub-modules which can register themselves, which should allow Google to maintain the stackdriver component outside of `pkg` but still link it against al

[2021-03-22 00:27] evankanderson commented on #9921
Is this a good first issue?

Does this still need to be open?

/triage needs-user-input

[2021-03-22 01:13] evankanderson commented on #9857
/good-first-issue
/area API

Given that there's a repro script and @dprotaso wants to get this into a release, I'm guessing that this is something that a pair of hands could pick up and manage towards a successful completion.

/triage accepted.

[2021-03-22 01:13] evankanderson commented on #9857
/triage accepted

[2021-03-22 01:20] evankanderson commented on #9888
/triage needs-user-input

This sounds like a real bug (possibly that we need to increase the available FDs, or something else in queue-proxy or the activator), but it sounds like we're relying on @qibobo's report and don't have a repro case, so if they've gone away, we may have to close this.

A few comments on the initial set of symptoms:

* The activator and the queue-proxy both perform more-agg

[2021-03-22 01:21] evankanderson commented on #9760
It would be good to validate that this test still fails as a first step for someone picking up this "good first issue".

/triage accepted

[2021-03-22 01:22] evankanderson commented on #9727
/area API

/assign @dprotaso

I'm assuming that we consider this a bug. 😁

/triage accepted

[2021-03-22 01:53] cdlliuy commented on #10098
@evankanderson ,  I am actively working on https://github.com/knative/serving/pull/10266 already.

But it requires https://github.com/knative/pkg/pull/2057  to be merged first.

[2021-03-22 03:01] evankanderson commented on #9713
/triage accepted

[2021-03-22 03:11] evankanderson commented on #9554
I was going to suggest that this might be well-implemented as a webhook, which would allow it to apply both to Deployments as well as to Knative Services. You might discover that the timeouts on mutating webhooks are too low to apply this consistently, so you might need to implement this as mutating webhook + controller (as backup).

I think the general rationale for this would be to enable develo

[2021-03-22 03:12] evankanderson commented on #9553
/kind cleanup

/triage accepted

[2021-03-22 03:12] evankanderson commented on #9553
(You can use `/assign` to assign an issue to yourself if you're thinking of working on it, and then `/unassign` later if it turns out that you can't.)

[2021-03-22 03:15] evankanderson commented on #9531
/triage accepted

[2021-03-22 03:16] evankanderson commented on #9477
/area API

@dprotaso -- you'll need to find a new expert since Matt is taking a break

/triage accepted

[2021-03-22 03:17] evankanderson commented on #9432
This looks equivalent to #9531, which contains a lot more information.

Any objections to closing this in favor of that one?

/triage needs-user-input

[2021-03-22 03:19] evankanderson commented on #9409
Barring @pengcheng-cs returning with more input, it seems like this is fixed as of 0.16 with service links disabled.

/close

[2021-03-22 03:19] #9409 closed

[2021-03-22 03:20] evankanderson commented on #9326
/area API

/triage accepted

Not sure if you want to add enough text here to make this a `/good-first-issue`, @dprotaso

[2021-03-22 03:20] evankanderson commented on #9310
/triage accepted

[2021-03-22 03:21] evankanderson commented on #9127
/area API
/kind api-change

/assign @evankanderson

/triage accepted

[2021-03-22 03:21] evankanderson commented on #9127
/remove-lifecycle frozen

[2021-03-22 03:21] evankanderson commented on #9067
/kind api-change

/triage accepted

/assign @evankanderson

[2021-03-22 03:22] evankanderson commented on #9047
/close

It seems like the bot is opening new issues now.

[2021-03-22 03:22] #9047 closed

[2021-03-22 03:23] evankanderson commented on #9554
/triage needs-user-input

[2021-03-22 03:26] evankanderson commented on #9046
Looks like @somaya10 will update later this week, based on the update in #10990

/triage needs-user-input
/kind enhancement

[2021-03-22 03:30] evankanderson commented on #9039
It looks like this is under discussion, but needs a concrete proposal which would explain how it fits with the different networking implementations (and how it fits with other features like traffic splits). If we want to make this part of the specification, we'd also need a way to express conformance.

/triage accepted

[2021-03-22 03:30] evankanderson commented on #9022
/triage accepted

[2021-03-22 03:31] evankanderson commented on #8970
Did this get rolled forward? I don't see any associated PRs.

/area API

/triage accepted

[2021-03-22 03:33] evankanderson commented on #8959
Another thought:

This should be solvable using NetworkPolicy, allowing only requests from selected namespaces to the queue-proxy (`knative-serving` by default, add additional NetworkPolicy for whatever is supposed to be scraping Prometheus).

/accept

/triage accepted

[2021-03-22 03:35] evankanderson commented on #8949
/area
/kind api-change

/good-first-issue
Since it sounds like there's agreement on the general API shape. If not, remove `/remove good-first-issue`.

/triage acecpted

[2021-03-22 03:35] evankanderson commented on #8949
/kind api-change
/triage accepted

[2021-03-22 03:36] evankanderson commented on #8857
/triage needs-user-input

Is this still important?

[2021-03-22 03:44] evankanderson commented on #8684
Agree with Markus that this seems like we're fighting K8s semantics here for little good effect, and that it mostly effects Revisions at high scale with long timeouts for which the Service is being deleted.

/triage needs-user-input

In particular, having just done a triage pass on 100+ items, this seems unlikely to be high priority for at least a year; closing it now would make it easier to see t

[2021-03-22 03:44] evankanderson commented on #8665
Should this be moved to the `client` repo?

/triage needs-user-input

[2021-03-22 03:45] evankanderson commented on #8664
This seems to have been completed by https://github.com/knative/docs/issues/2787

/close

[2021-03-22 03:46] #8664 closed

[2021-03-22 03:48] evankanderson commented on #8629
Should this be handled in the operations WG?

/kind process
/kind enhancement
/kind proposal

/triage needs-user-input

[2021-03-22 03:50] evankanderson commented on #8610
@vagababov @julz

Is this still an issue? Would this be a "good first issue" in the autoscaling area?

/triage needs-user-input

(I'll also point out that this bug timed out, so if it's a major issue, we may need to reconsider our priorities. If it's not a major issue, we may want to consider allowing it to time out again.)

[2021-03-22 03:52] evankanderson commented on #8570
/triage accepted

We can turn off the lifecycle bot if we actually want the old issues to hang around... 😉

[2021-03-22 03:53] evankanderson commented on #8562
/triage needs-user-input

Would be nice to be able to close this if it's not currently hurting anyone; it's possible that k8s has gotten smarter, or our test infrastructure has gotten less racy for some reason.

[2021-03-22 03:54] evankanderson commented on #8540
/close

[2021-03-22 03:55] #8540 closed

[2021-03-22 03:55] evankanderson commented on #8471
/assign

/triage accepted

[2021-03-22 03:58] evankanderson commented on #8366
Is there more work going on here?

/triage needs-user-input

[2021-03-22 03:59] evankanderson commented on #8186
/triage accepted

[2021-03-22 03:59] evankanderson commented on #8185
/triage accepted