[2019-06-11 17:15] mpetason commented on #4100
I'm interested in taking this.

[2019-06-11 17:18] evankanderson commented on #4311
I think #3 is the most compelling argument -- since we want Revisions to be a fixed snapshot, and we want to be able to use annotations on the Service to be able to control current routing information, freezing a copy of that (stale) routing information into the Revision is probably undesirable.

The alternate mechanism of filling in `spec.template.metadata.labels` is fairly clear, but we should d

[2019-06-11 19:56] adrcunha opened #4323 "Shut down the Knative Playground and Demo environments"
They're not needed anymore, as CloudRun on GKE is in beta.

/assign @adrcunha

[2019-06-11 20:07] #4323 closed

[2019-06-11 21:27] raushan2016 commented on #4141
Will be part of 0.7 release

[2019-06-11 21:27] #4141 closed

[2019-06-11 21:27] raushan2016 commented on #4134
Will be part of 0.7

[2019-06-11 21:27] #4134 closed

[2019-06-11 21:50] vagababov commented on #4100
/assign @ZhiminXiang

[2019-06-11 21:54] ZhiminXiang commented on #4100
/assign @mpetason

[2019-06-12 01:52] yuxiaoba commented on #3903
@kbruner  I used your workaround  for my Cluster，the activator did not CrashLoopBackOff，but its logs also have error
[code]

[2019-06-12 03:58] #4192 closed

[2019-06-12 04:38] #4202 closed

[2019-06-12 05:12] xpepermint commented on #4081
More info: Happens on Ubuntu 18.04 but not on 19.04.

[2019-06-12 05:21] magicLian commented on #4081
For me , I install the Istio without MTSL to solve it .

[https://istio.io/docs/setup/kubernetes/install/kubernetes/](https://istio.io/docs/setup/kubernetes/install/kubernetes/)

[2019-06-12 08:18] yu2003w commented on #4301
@jonjohnsonjr  Thanks for the information.
My problem is DNS resolving failure, error msg as below,
[code]
How could I fix such issue?

[2019-06-12 08:24] yu2003w commented on #1996
@bbrowning I setup private registry and dns resolve failed with error msg as below,
[code]
10.0.0.10 is clusterIP of service for Core DNS in my cluster.
Any advice?

[2019-06-12 11:34] vagababov commented on #4301
It seems that you have a DNS configured incorrectly.

[2019-06-12 14:15] mattmoor commented on #4183
The only signal the Revision has that it isn't route-able is the heartbeat annotation.  We exclude this label from the KPA here:
https://github.com/knative/serving/blob/94be2a6a068e41dd6e0144ebb773b98993f52574/pkg/reconciler/revision/resources/kpa.go#L39

We would also need to compare more than spec here: https://github.com/knative/serving/blob/94be2a6a068e41dd6e0144ebb773b98993f52574/pkg/reconcil

[2019-06-12 14:28] mattmoor commented on #4208
With the linked PR merged, and the disappearing repo, is any work left for this?

[2019-06-12 15:06] duglin commented on #4208
since I can't reproduce this reliably I'm gonna close this and will reopen if I see it again.

[2019-06-12 15:06] #4208 closed

[2019-06-12 16:11] kramvan1 opened #4333 "Extra `--- null` at end of monitoring.yaml"
## In what area(s)?

/area build

## What version of Knative?

HEAD

## Expected Behavior

extra ugly yaml at end of monitoring.yaml, monitoring-metrics-prometheus.yaml, monitoring-tracing-zipkin-in-mem.yaml, monitoring-tracing-zipkin.yaml

`--- null`

## Actual Behavior

yaml is clean.

## Steps to Reproduce the Problem

download release yamls

[2019-06-12 16:40] chaodaiG commented on #4297
/close

[2019-06-12 16:40] #4297 closed

[2019-06-12 16:41] mattmoor commented on #4014
Few thoughts:
1. I think `periodSeconds: 0` should mean do it as the system wants to.
1. I don't think the system default needs to be reflected back into the yaml (and here in fact cannot be)
1. If `periodSeconds` is specified we should respect it.
1. I think that we should disallow `failureThreshold` if `periodSeconds` is unspecified, but I think `successThreshold` still makes sense.

[2019-06-12 17:09] dgerd commented on #4130
Adding some content here prior to today's discussion in the working group.

Where I currently stand on this is that I believe we should keep privileged support disabled in Knative.

The strongest concerns I have for enabling this feature is that:
1.  Enabling privileged mode allows a developer to bypass/override any and all constraints listed in the Knative Runtime contract ( https://github.com/kn

[2019-06-12 17:10] greghaynes commented on #1996
@yu2003w This looks like a k8s configuration issue on your end - .icp is not a valid TLD so I assume its  something local you use for development (and is failing to be resolvable).

[2019-06-12 17:18] jonjohnsonjr commented on #4301
That failure is coming from [our controller](https://github.com/knative/serving/blob/master/config/controller.yaml).

I'm wondering if you work around this with [HostAliases](https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/).

[2019-06-12 17:24] duglin commented on #4130
@dgerd a lot of your concerns seem more focused on Kube's use of privileged containers rather than Knative directly. I tend to look at Knative (first) as a nicer UX for Kube and as such unless there's a specific Kn-specific technical reason for why we can't expose some Kube features via Knative, I think we should. I do think making Kn's UX ugly is a good reason, but I don't think this one attribut

[2019-06-12 18:21] duglin commented on #4130
Since @dgerd asked on today's call I just got this feedback w.r.t. using privileged containers:
- - -
We're using them in order to allow us to generate core dumps for some Java workloads we’re deploying to our clusters…

We’re using a daemon set to apply `sysctl -w kernel.core_pattern=core` settings on the worker nodes…
- - -

[2019-06-12 18:25] dgerd commented on #3809
While I do like that the solution gives the best runtime behavior of not overwriting `/var/log` while still enabling log collection from that location, the tie to overlayFS and Docker is terrifying and seems brittle. It will also leave many Knative installs without a working solution.

Until we have a solution like above that is container runtime agnostic I would rather us do something else to ena

[2019-06-12 18:26] ZhiminXiang opened #4335 "Support configuring challenge type per Knative Certificate"
## In what area(s)?

## Describe the feature

### Actual Behavior
Currently using http01 challenge or dns01 challenge is configured globally by configuring the [`config-certmanager` ConfigMap](https://github.com/knative/serving/blob/0771c6ed309764d0566df0159fe5d394903eb8aa/config/config-certmanager.yaml#L53).

### Expected Behavior
After [wildcard certificate feature](https://github.com/knative/se

[2019-06-12 19:21] coryrc opened #4336 "nil pointer dereference filesystem_test.go"
## In what area(s)?
Conformance Test
/area test-and-release

## What version of Knative?

HEAD

## Behavior

if file.IsDir != nil && *file.IsDir != *riFile.IsDir {
We don't check riFile.IsDir before dereference.

[2019-06-12 19:21] coryrc commented on #4336
/assign coryrc

[2019-06-12 19:45] houshengbo opened #4339 "Support of other container registries like docker.io and quay.io"
KO_DOCKER_REPO is key env var for knative. Modules like Knative serving have already supported other container registry, like docker hub to push and pull the images.

If we configure KO_DOCKER_REPO with a value for docker.io or quay.io registry, some images will fail to be pushed, since these registries do not support nested image names, like github.com/folder/folder/Image_name. They only support

[2019-06-12 19:53] houshengbo commented on #4339
/assign @houshengbo

[2019-06-12 19:56] duglin commented on #4130
Also, I misspoke on the call today, we DO allow privileged containers on our cloud - learn something new every day :-)

[2019-06-12 20:26] #4331 closed

[2019-06-12 20:41] duglin opened #4340 "Labels vs top-level properties - aka make "visbility" a property"
## In what area(s)?
/area API

/kind good-first-issue
/kind spec
/kind proposal

## Describe the feature

Today it's not clear when a config option should be a KnService Label vs Property. For example, `serving.knative.dev/visbility` is a label but `containerConcurrency` is a property. As far as I know, `visibility` is meant to be supported by all runtimes so from that perspective those two config

[2019-06-12 22:09] mattmoor commented on #3376
cc @markusthoemmes

You seemed to have some idea of what the previous issue was and expressed interest in trying to write a unit test for this.  Is this something you'd be interested in tackling, or would it be possible to add a more detailed writeup so we can `/kind good-first-issue` this?

[2019-06-12 22:12] mattmoor commented on #3312
@wtam2018 @tanzeeb Do you have interest in pursuing this either in 0.7 or 0.8?

I'm still not sure I fully understand what the problem is here?

[2019-06-12 22:19] mattmoor commented on #647
The main thing that I'm after is this:  If someone breaks a metrics exporter, how do we find out before we've cut a release, shipped it, and discovered that production monitoring is broken?

I'm not super worried about logging (though for `/var/log` I worry a bit more), and tracing is arguably handled by the runtime contract checks around trace-header propagation.  Metrics breaking is what keeps m

[2019-06-12 22:20] mattmoor commented on #3308
/assign @joshrider

I believe the issue assigned to Josh should address this.

[2019-06-12 22:23] mattmoor commented on #822
/assign @dgerd @mdemirhan

I believe that this was pulled in to make a call on whether to remove it from the runtime contract.  I'm assigning this to the folks driving that decision.

[2019-06-12 22:26] mattmoor commented on #3112
@tanzeeb are you still looking into this?

[2019-06-12 22:27] mattmoor commented on #3885
@greghaynes is this looking good for 0.7 (less than 2 weeks)?

[2019-06-12 22:28] mattmoor commented on #4087
@vagababov Are you still looking at this, if not please `/unassign`

[2019-06-12 22:29] mattmoor commented on #4087
/unassign

I think you have bigger fish to fry, so I'm going to do this optimistically :)

If you have something in flight, let me know.

[2019-06-12 22:37] mattmoor commented on #4087
We should do this for Configuration as well, I think.

[2019-06-12 23:05] greghaynes commented on #3885
I've got a large patch stack blocked on review so not likely :/

#4124, #4121, #4065 needed so I can rebase #4064 and then do this

[2019-06-12 23:26] tcnghia commented on #4087
/assign @tcnghia

[2019-06-12 23:30] tcnghia commented on #3429
@winmillwill my PoC will only work under assumption of a service mesh.  This can simply be done by expanding the VirtualService exposed to the `mesh` Gateway to allow short names.

However, since this can't be supported without service mesh (i.e. going through a Gateway) since namespace information are lost, I think we should not pursue this work around.  We could add the code to allow that, but I

[2019-06-12 23:30] #3429 closed

[2019-06-12 23:38] tcnghia commented on #3312
I also reported https://github.com/knative/serving/issues/1582 to find a workaround for missing Status in VirtualService.

[2019-06-12 23:51] sebgoa opened #4342 "Reduce memory request for zipkin pod"
Currently our manifests for zipkin have a memory limit of 1Gi but no request. So the pods look for 1Gi of free memory to be scheduled.

See:
https://github.com/knative/serving/commit/a6854d64d874ef69013b219c945c6d97867d3259#diff-f664cd212206d814c9619677ad42d22c

Could we lower that ? How low

Doug set the limit to 1Gi to have an upper bound but does not know how low it should go.

I will do a bit

[2019-06-13 00:16] tanzeeb commented on #3112
Yes, working on it, should have a PR soon :-)

[2019-06-13 01:20] jroper opened #4343 "container-concurrency-target-percentage is not a percentage"
In the autoscaler configmap, there are a number of properties that describe themselves as percentages. `panic-threshold-percentage` and `panic-window-percentage` are true percentages, a value of `10.0` means 10%. Meanwhile, `container-concurrency-target-percentage` sits in conflict with this, it describes itself as a percentage, but is not a percentage, it is a factor. A value of `0.7` does not me

[2019-06-13 01:34] yuzisun commented on #4021
cool so the fix will make to 0.7 release?

[2019-06-13 01:52] jroper opened #4344 "Autoscaler should not behave the same when scaled to zero as other times"
Let's say I have a CPU bound function. It takes on average 100ms for it to handle a request. It takes on average 10 seconds for it to start up. And I have target concurrency set to 1, because it's CPU bound.

Currently, it's scaled to zero. A request comes in, the activator receives it, and it is scaled up to 1. But it takes 10 seconds to startup, so the request stays queued for that time. Another

[2019-06-13 02:16] duglin commented on #4344
this is related to: https://github.com/knative/serving/issues/1409

[2019-06-13 02:25] duglin commented on #4130
Couple more uses:
- We use it to run daemon sets that install Spectrum Scale (https://en.wikipedia.org/wiki/IBM_Spectrum_Scale) on our nodes.
- We also use them to run Spectrum Protect (https://en.wikipedia.org/wiki/IBM_Tivoli_Storage_Manager) backup servers

[2019-06-13 04:09] mattmoor commented on #3112
Awesome, thanks!

[2019-06-13 06:24] markusthoemmes commented on #3376
@mattmoor I don't think this is actionable at all at this point. As @yanweiguo mentioned in the other issue, the autoscaler was redone to actually look at the API for the actual pod count to act upon.

/area autoscale

Going to optimistically close this. Please reopen if you think there's still a bug/work to do.

/close

[2019-06-13 06:24] #3376 closed

[2019-06-13 06:44] markusthoemmes commented on #3312
@mattmoor The "problem" is that a Ready route is not actually reachable necessarily because of inconsistencies. The goal would be for us to ditch the retries on 404s in our tests as well.

[2019-06-13 06:51] markusthoemmes commented on #4343
Uargh. Good observation, that's correct! Now we're of course in a tight spot to migrate this seamlessly.

Off the top of my head: A value of 1.0 or below in percentage points is highly unlikely for this setting. Maybe for 0.7 we can infer such a small value to actually be multiplied by 100 and interpreted as a percentage from there on. 0.8 could then drop this translation logic.

We don't have any

[2019-06-13 07:00] markusthoemmes commented on #4344
This is essentially geared towards making a distinction between queued requests and actual inflight requests. That's very valid I think although we'll always be bound to guesstimates at that point. Scaling to the actual number of buffered requests is the safe bet as it's guaranteed to fulfill all requests in parallel.

How queued load should be handled is actually a function of the additional late

[2019-06-13 08:11] yu2003w commented on #4301
@jonjohnsonjr It worked by adding HostAliases for knative controller.
The address I used is an entry in /etc/hosts and couldn't be resolved by k8s Cluster DNS service.
With HostAliases it could works.
I will try to config k8s dns to make it work.

Thanks a lot for your help.

[2019-06-13 08:11] #4301 closed

[2019-06-13 08:26] vagababov commented on #4087
I actually was going to do it...

On Wed, Jun 12, 2019 at 4:26 PM Nghia Tran <notifications@github.com> wrote:

[2019-06-13 10:57] vagababov commented on #4343
we can probably deprecate current value and use "c-c-t" as a factor. And in
0.8 remove the old value.

On Wed, Jun 12, 2019 at 11:51 PM Markus Thömmes <notifications@github.com>
wrote:

[2019-06-13 11:14] markusthoemmes commented on #4343
/area autoscale

[2019-06-13 13:35] mattmoor commented on #3312
Right, so the main source of this that I'm aware of is lack of status from Istio.  We've talked about a prober for this, but my interpretation of an earlier comment was that you thought there was more than just this?  Just trying to figure that out.

[2019-06-13 13:53] markusthoemmes commented on #3312
Nope, you're spot on. I think this is only network programming. There was a discussion above that conflated this with 503s etc. Some of the 503s might have been from the same source, but I wanted to view both issues in isolation as far as possible.

[2019-06-13 14:03] yu2003w commented on #1996
@greghaynes Yes, you're correct. icpdev.icp is an entry in /etc/hosts.
I resolved the issue with hostAliases in deployment of controller.

[2019-06-13 14:04] mattmoor commented on #3312
Ok, I think @tcnghia had some trick in mind for how to probe this.  I'll bug him to write it up, unless folks have their own ideas.  Let's try to settle on a plan as 0.7 wraps up, and maybe we can nail this in 0.8 (if it has an owner).

[2019-06-13 14:09] mattmoor commented on #3312
Looks like @tcnghia assigned @JRBANCEL yesterday, so maybe JR has bandwidth.  Can one of you write up a plan and run through it at next week's #networking WG?

[2019-06-13 17:12] greghaynes commented on #4040
I investigated further. What happens is if I make a connection to the ClusterIP of my service before any endpoints are available then the connection remains open in SYN_SENT state indefinitely:

Client:
[code]

Compute node
[code]

The end result is both our activator and kube-proxy are watching the endpoint object and therefore can race. If our activator wins and the forwarded request arrives bef

[2019-06-13 17:32] dcbw commented on #4040
If no endpoints are available for a service, kube-proxy installs REJECT rules in iptables that will send an IGMP reply:

[code]

Obviously this is subject to lag between the apiserver and the proxy, internally in the proxy building the new iptables-restore data, and installing that data in the kernel. But that has always been the case.

[2019-06-13 18:57] vagababov commented on #4040
So should dial timeout set to a very short interval fix this?

[2019-06-13 19:34] sebgoa commented on #4342
Adrian Cole replied :

https://github.com/openzipkin/docker-zipkin/issues/209#issuecomment-501502728

We could set a request at 256Mi

[2019-06-13 19:49] greghaynes commented on #4040
Created a k8s issue to track this: https://github.com/kubernetes/kubernetes/issues/78994 - Thanks for the help in k8s networking slack!

[2019-06-13 19:49] greghaynes commented on #4040
@vagababov Yep, ill throw up a patch for us to work around it that way

[2019-06-13 19:55] #4115 closed

[2019-06-13 22:21] steren commented on #4283
Please do not close this issue by changing the runtime contract, this should be considered as a bug for Knative, even if fixing it will be hard due to Knative's use of Istio.

As a developer, I should not have to opt-into using HTTP2 to use HTTP2.

[2019-06-13 22:31] rgregg commented on #4283
Having the explicit choice for what protocol your app supports feels like a feature. This can help to catch errors in expectations that have performance implications in the differences between HTTP/1 and HTTP/2.

While the automatic detection could be a useful default, given the underlying dependencies in our stack cannot support those requirements. It's unclear Knative can even support this witho

[2019-06-13 22:36] steren commented on #4283
Please at least keep this open as a feature request.

[2019-06-13 23:16] Joon-L opened #4354 "Let Knative ingress automatically support mTLS on service deployment"
## In what area(s)?
/area networking
/kind feature

## Describe the feature
Currently, Knative does not provide a way to automatically configure its ingress gateway to support mTLS on the time of service deployment. As the [Istio docs](https://istio.io/docs/tasks/traffic-management/secure-ingress/sds/#configure-a-mutual-tls-ingress-gateway) suggest, you need to configure the gateway to support mTL

[2019-06-13 23:18] raushan2016 commented on #4354
/assign @zhimin

[2019-06-13 23:20] raushan2016 commented on #4354
/assign @mattmoor

[2019-06-14 00:12] mattmoor commented on #4354
cc @ZhiminXiang

[2019-06-14 00:18] dgerd commented on #4283
I commented this somewhere else, but pasting here and elaborating.

Our support today looks like:

(empty): HTTP/1.1 only
"h2c": HTTP/2 only
"http1": HTTP/1.1 only

This makes (empty) == "http1" in todays world.

I have concerns with making (empty) automatically upgrade to HTTP/2.0 in the future and leave the "http1" as the option with no upgrade. This breaks the equality between (empty) and "http

[2019-06-14 02:48] vagababov commented on #4283
Concur with Dan. When we can, we should rather support `auto` and keep
defaulting to http/1.1.

[2019-06-14 02:55] rakelkar opened #4355 "KNative cannot create pods for nvcr.io"
## In what area(s)?

## What version of Knative?

## Expected Behavior
Expected pods to be created for the revision

## Actual Behavior
Revision fails, pods are not created. Instead the configuration reports the following error:
[code]
## Steps to Reproduce the Problem
Apply the following knative configuration:
(the key is image: nvcr.io/nvidia/tensorrtserver:19.05-py3)

[code]

[2019-06-14 02:58] vagababov commented on #4355
500 indicates a bug with nvcr rather than with knative...

[2019-06-14 04:24] rakelkar commented on #4355
Ys, looks resolution can be turned off via config: https://github.com/knative/serving/blob/master/config/config-deployment.yaml

[2019-06-14 04:25] rakelkar commented on #4355
thanks for the pointer @raushan2016  :)

[2019-06-14 11:43] duglin commented on #4340
minScale,maxScale would be good candidates as properties too

[2019-06-14 14:04] markusthoemmes opened #4362 "Make sure logs from system containers are not truncated in test failures."
## Expected Behavior

The whole log of all system containers is available in the full build log of failed e2e tests.

## Actual Behavior

The logs of some containers (mainly controller) are truncated.

## Additional Info

A possible stopgap is to dump the logs after each sub-test-run, if it failed (see #4361). A more bulletproof solution would be to stream the full logs into files during the tests

[2019-06-14 16:45] mattmoor opened #4364 "Named ports require a number"
## In what area(s)?

/area API

## What version of Knative?

HEAD

## Expected Behavior

System let's me encode the protocol in the name, while continuing to generate the port number based on the system-specified default.

## Actual Behavior

If I just specify the name of my port (e.g. `h2c`), then I get a webhook rejection that port is OOB (must be between 1 and 65k).

cc @dgerd (who indicated th

[2019-06-14 16:53] markusthoemmes commented on #2998
This has long been solved.

[2019-06-14 16:53] #2998 closed

[2019-06-14 17:18] dgerd commented on #4364
Moving this to the Ice Box. It is purely an additive change of relaxing validation and fixing the controller logic to work correctly with the possibility of nil port when containerPort is non-nil.

I don't immediately see a problem in enabling this behavior, but I also don't see it as imperative to add in our milestones leading up to v1.

[2019-06-14 17:19] mattmoor opened #4365 "Implement generic e2e patch methods using functional options to express the mutation."
## In what area(s)?

/area test-and-release

## Describe the feature

In our end-to-end tests, we have a bunch of places where we have something like:
[code]

We should instead expose a generic `PatchFoo` method per resource that takes functional options:

[code]

[2019-06-14 17:22] n3wscott commented on #4365
:shipit:

[2019-06-14 17:23] mattmoor commented on #4365
I may just do this as I'm adding v1beta1

[2019-06-14 17:30] #4342 closed

[2019-06-14 17:47] mattmoor commented on #4365
/assign

[2019-06-14 18:51] #4087 closed

[2019-06-14 20:02] srinivashegde86 opened #4370 "Performance benchmark test metrics output not shown on testgrid"
/area test-and-release

## What version of Knative?
HEAD

## Expected Behavior
Metrics to be shown on testgrid

## Actual Behavior
the metrics are not shown

## Steps to Reproduce the Problem
Visit https://testgrid.knative.dev/serving#performance

[2019-06-14 20:02] srinivashegde86 commented on #4370
/assign

[2019-06-14 20:54] #4365 closed

[2019-06-14 22:00] #4370 closed

[2019-06-15 17:07] vagababov commented on #1846
https://docs.google.com/document/d/1KK32OG-QzOXFrFcD9O7L2udMuzpyYdhDN9PoGdw3y_s/preview

[2019-06-15 17:07] vagababov commented on #1409
https://docs.google.com/document/d/1KK32OG-QzOXFrFcD9O7L2udMuzpyYdhDN9PoGdw3y_s/preview

[2019-06-16 04:06] rakelkar commented on #4355
To workaroud the nvcri.io  issue run:
[code]
add the line:
[code]

[2019-06-17 09:08] yuxiaoba commented on #4281
I have change the type of istio-ingressway from LoadBalancer to NodePort because my cluster is not support LoadBalancer @vagababov

[2019-06-17 09:19] AmirMoshfeghi commented on #2480
@VeerMuchandi I also had the same problem while deploying the "autoscale-go.yaml" file from the link below:
https://codelabs.developers.google.com/codelabs/knative-intro/#9

Since there is no target concurrency specified in the autoscale-go.yaml file, the default will be considered (Default=100) for the service. So if you are trying (hey -z 30s -c 50 ...), the 50<Default and one pod will be enough

[2019-06-17 09:30] yuxiaoba commented on #4281
@gyliu513

[2019-06-17 10:16] markusthoemmes commented on #2480
Seems like a bug on the lab then?

I'm inclined to close this as @AmirMoshfeghi and @hohaichi couldn't reproduce the failure as it seems.

[2019-06-17 12:02] knative-flaky-test-reporter-robot opened #4385 "[flaky] test/conformance/api/v1beta1.TestBlueGreenRoute"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestBlueGreenRoute
* **Repository name**: serving

[2019-06-17 12:09] markusthoemmes commented on #364
This is meanwhile solved. We're relying our own implementation of the custom-metrics APIServer.

/close

[2019-06-17 12:09] #364 closed

[2019-06-17 15:50] tanzeeb commented on #3416
/unassign

[2019-06-17 16:51] tanzeeb commented on #4364
/assign

[2019-06-17 17:36] StrongMonkey opened #4390 "Add new envoy scraper"
## In what area(s)?

## Describe the feature
I would like to add a new feature to autoscaler so that it doesn't need to have knative serving side-car container and prometheus server running. The way to achieve this is to add a new scraper(https://github.com/knative/serving/pull/4366) to scrape envoy sidecar directly and record the metric to stats server. We are pulling this custom change into Rio(

[2019-06-17 17:43] tony-shi opened #4391 "Is there a buildin smooth upgrade strategy when doing a green/blue or rollingup Deployment?"
## In what area(s)?

## Ask your question here:
When user wants using knative/serving to launch a green blue relase progress, I think for now, user may be need to adjust the traffic percent manually.
It is pretty cool to let the specified traffic to scale the new deployment automaticlly. However will this procedure cause some invalidate request buffering/rejecting and slow the performace?

For exa

[2019-06-17 18:21] vagababov commented on #4390
- This looks like it will have issue with double counting the requests from activator (unless you also implement all the logic that's present in the queue-proxy)
- You probably need to sample same/analagous way the current scraper works.

[2019-06-17 18:25] jonjohnsonjr commented on #4355
/reopen

This is actually a bug on our side, reopening to track updating the ggcr dependency once we fix it.

[2019-06-17 19:18] jonjohnsonjr commented on #4385
interesting

[2019-06-17 21:01] greghaynes commented on #4040
Interestingly, we fixed this in https://github.com/knative/serving/pull/3794 - what I am noticing is this now shows up when tracing is enabled. I am guessing the tracing transport overwrites our dialer here.

[2019-06-17 22:12] #4336 closed

[2019-06-17 23:50] #2969 closed

[2019-06-18 00:29] dgerd commented on #4391
There is a lot in here. If I understand correctly your question is: "If I have a large amount of QPS against a particular revision, will I get a blip of cold start if I flip to a new Revision since the new Revision will be marked Ready to serve with only a few initial pods?"

While I have not tried it myself, I would say: Probably yes.

As a system we likely need to be more sensitive to the rate o

[2019-06-18 01:28] JRBANCEL commented on #4333
This looks like a `ko` bug since all we do is call `ko resolve -P -R -f ...`.
See https://github.com/knative/serving/blob/master/hack/generate-yamls.sh#L79.

Maybe open an issue on https://github.com/google/ko

[2019-06-18 02:28] #3153 closed

[2019-06-18 08:26] yuxiaoba commented on #4081
@magicLian  In your url for installing istio, there only have   permissive mutual TLS install and  strict mutual TLS install。 How can I install the Istio without MTLS ?

[2019-06-18 09:21] markusthoemmes opened #4403 "Make 'Metric' part of the actual internal API."
Currently, `Metric` is an internal type that behaves as much as an actual CRD as possible. It is however only kept in memory of the autoscaler and it's therefore not accessible by external implementations.

This type controls metric collection. Specifically, if it's present metrics for the given entity will be collected and made available via the custom-metrics API. In order to finish our metrics

[2019-06-18 09:21] markusthoemmes commented on #4403
/assign

[2019-06-18 10:26] fatkun opened #4404 "PodAutoscalerSpec.serviceName is deprecated, should allow mutable"
## In what area(s)?

/area API

## What version of Knative?

0.6.0

## Expected Behavior
Update knative from 0.5.2 to 0.6.0, should not show error.

## Actual Behavior

## Steps to Reproduce the Problem

1. Deploy 0.5.2 knative
2. Create sample ksvc
3. Update 0.6.0 knative
4. The error you can see in controller

## More Detail
PodAutoscalerSpec.serviceName is deprecated in 0.6.0, the field not set

[2019-06-18 10:32] fatkun commented on #4404
cc @vagababov , 0.7.0 is comming, maybe no need add the patch.

[2019-06-18 10:43] markusthoemmes commented on #4404
@fatkun you might want to try to update to 0.6.1 instead. This has been cherrypicked onto the 0.6 branch: https://github.com/knative/serving/commit/6afdcf3c200cc8cffcfdeaa223a00df150f4026f

[2019-06-18 11:15] markusthoemmes commented on #4403
If anybody is interested participating in this, I'll try to throw together a proposal to be presented in the WG. Please ping me if you'd like to help.

[2019-06-18 11:36] fatkun commented on #4404
@markusthoemmes  Thanks.

[2019-06-18 11:36] #4404 closed

[2019-06-18 12:02] knative-flaky-test-reporter-robot opened #4405 "[flaky] test/e2e.TestAutoscaleSustaining"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleSustaining
* **Repository name**: serving

[2019-06-18 12:02] knative-test-reporter-robot opened #4406 "[flaky] test/conformance/api/v1beta1.TestRevisionTimeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestRevisionTimeout
* **Repository name**: serving

[2019-06-18 13:09] yuxiaoba opened #4407 "Activator Pod keep in CrashLoopBackoff"
## In what area(s)?

## What version of Knative?
Knative 0.6

## Expected Behavior

Install the component of Knative Serving successfully

## Actual Behavior
[code]

## Steps to Reproduce the Problem
### Install Kubernetes 1.13
### Install Istio 1.1.3
[code]

### Install Knative Serving
[code]

[2019-06-18 13:14] yuxiaoba commented on #4407
The logs of activator is here:

- For activator container
[code]
- For istio-proxy container
[code]

[2019-06-18 13:19] yuxiaoba commented on #4407
@gyliu513

[2019-06-18 13:30] gyliu513 commented on #4407
@zxDiscovery can you help check this?

[2019-06-18 15:45] greghaynes commented on #4040
Did some more debugging and the tracing comment I made above is a red herring. Heres what actually goes on:

In order to his this Istio mesh needs to be disabled by setting the injection label to disabled on the namespace of applications but activator needs to be still running with istio sidecar. In this case there is a race where we can observe the endpoint become ready and send a request to it f

[2019-06-18 17:42] #2206 closed

[2019-06-18 17:42] #3132 closed

[2019-06-18 17:51] mattmoor commented on #2196
I'm ready to declare this done after @markusthoemmes latest PR, which adds e2e testing for using the HPA with concurrent request metrics.

If nobody chimes in with what work remains, I'm inclined to close this out (and may close it out anyways if what remains is out of scope for "v1").

cc @josephburnett @vagababov

[2019-06-18 18:03] ZhiminXiang commented on #4354
Currently we have an [auto TLS feature](https://github.com/knative/docs/blob/master/docs/serving/using-auto-tls.md) which automatically provides TLS certificates for the deployed Knative services and configures Gateway to terminate TLS connections for those Knative Services.
Currently we don't support mTLS for external TLS connection. In order to support this, an extra work is to figure out how to

[2019-06-18 18:16] vagababov commented on #4391
We are currently working on some features that will try to alleviate the situation, you might still suffer latency increases, while the revision scales up, but you should not get 5XX (you probably would now, depending on the traffic levels).

But in general there are a few things you can take advantage of:

- for blue/green deployment you probably should ramp traffic up, rather than just dump all

[2019-06-18 19:22] #4355 closed

[2019-06-18 20:19] jonjohnsonjr commented on #4355
@rakelkar this should be fixed now at HEAD if you want to re-enable tag resolution :smile:

[2019-06-18 22:17] Joon-L commented on #4354
This might be because I'm new to this feature but I'm not sure if this is helpful for our case.

We are bringing several certs that we have manually obtained and want services to use a specific cert for its mTLS auth on ingress level (similar to the post: [manually-adding-a-tls-certificate](https://knative.dev/docs/serving/using-a-tls-cert/#manually-adding-a-tls-certificate)).
So cert X should be

[2019-06-18 22:22] ZhiminXiang commented on #4354
Yes, this is what we did under the hood. You can follow the [example](https://istio.io/docs/tasks/traffic-management/secure-ingress/sds/#configure-a-tls-ingress-gateway-for-multiple-hosts) from Istio to manually configure the gateway so that different services can use different certs.

[2019-06-18 22:26] mattmoor commented on #4109
cc @yanweiguo

This is probably going to land on @yanweiguo if @mdemirhan doesn't get to it shortly.

[2019-06-18 22:33] mattmoor commented on #3456
I think this lifecycle change is too risky for 0.7, so moving to 0.8 (let's land it early)

[2019-06-18 22:44] mattmoor commented on #1996
Talked to @sebgoa about helping test @jonjohnsonjr patch for ECR support.  If we don't hear back by EoD Thursday (or positively!), this will probably not land until 0.8.

[2019-06-18 22:48] dgerd commented on #822
The use of /dev/log has some nice benefits to it as highlighted in the blog post in the top of this issue. However, due to the current complexities with implementation combined with the lack of demand I think it makes sense to punt on this issue. The two provided logging methods in Knative (stdout/stderr and /var/log) seem to cover the large majority of use-cases and many of the public containeriz

[2019-06-18 22:53] juliaguo opened #4416 "ResourceQuota error isn't reflected in kservice status"
## In what area(s)?
 /area API

## What version of Knative?
HEAD

## Expected Behavior
Default namespace contains a LimitRange that limits defaultRequest CPU to 100m. Created a ResourceQuota in the same namespace with CPU quota set to 50m. Tried to serve requests to an app deployed in the same namespace. Expected to see an error message when running `kubectl get kservice` or `kubectl get pods` say

[2019-06-18 23:07] dgerd commented on #822
I have moved this out of Serving 0.7 and the Conformance project. I added this as an agenda item to the observability working group this week for visibility.

[2019-06-18 23:25] dgerd opened #4417 "Feature Request: Relax volume constraint to support more volume types"
## In what area(s)?

/area API

## Describe the feature

We currently only allow for configmap and secret volumes to be mounted into the user container. This constraint is put in place as volumes are a source of state and can severely limit scaling. This feature request is to relax this constraint to allow a larger set of volumes to be mounted that work well with serverless functions.

I do not ha

[2019-06-18 23:29] dgerd commented on #4130
As discussed in the API WG last week I am going to close this issue as we do not plan to allow privileged containers in Knative at this time.

The pattern that we would like to take is to instead enable particular use-cases through more well-formed API semantics. For this particular use case we should explore relaxing volume restrictions to allow volumes types that are known to work and scale well

[2019-06-18 23:29] #4130 closed

[2019-06-18 23:49] coryrc opened #4421 "TestMustHaveCgroupConfigured minor improvements"
## In what area(s)?

/area test-and-release

## What version of Knative?

HEAD

## Expected Behavior

Given the API specification does not require given minimum or maximum values for memory or cpu share, the values requested in the test should be configurable at runtime (via flags most likely; see #6109).

Test labels memory limit as MB, which should be a power-of-2. Only hard drives are power-of-

[2019-06-19 01:09] zxDiscovery commented on #4407
@yuxiaoba
Can you show me the `Gateway` information on your environment?
[code]

[2019-06-19 01:12] yuxiaoba commented on #4407
@zxDiscovery Thank you for your help.
[code]

[2019-06-19 04:36] mattmoor commented on #971
I found where Istio did this via their netlify setup and it seems reasonable straightforward: https://github.com/istio/istio.io/pull/1491/files

I'll send @RichieEscarez a PR to test the waters.

[2019-06-19 06:39] tony-shi commented on #4391
Tks for both of you for detailed suggestion and explanation!

For now, we exposed another /upgradeMinScale label and /upgrading label.
The time when PodAutoScaler tends to mark itself as ready, it will check whether the revision is undering /upgrading mode and take care of /upgradeMinScale into consideration just like /minScale.
When user has done for the Upgrade/Rolling up, we will mark the label

[2019-06-19 10:56] zxDiscovery commented on #4407
@yuxiaoba  Please show the information about `VirtualService` in your environment. Thanks!
[code]

[2019-06-19 11:02] yuxiaoba commented on #4407
@zxDiscovery My environment  doesn't  seem to have  VirtualService
[code]

[2019-06-19 12:02] knative-flaky-test-reporter-robot opened #4424 "[flaky] test/upgrade.TestRunLatestServicePreUpgradeAndScaleToZero"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestRunLatestServicePreUpgradeAndScaleToZero
* **Repository name**: serving

[2019-06-19 12:33] piotrekfilip commented on #3274
Another workaround was recently added to [Istio documentation ](https://istio.io/docs/ops/misc/#automatic-sidecar-injection-fails-if-the-kubernetes-api-server-has-proxy-settings), try adding `.svc` to `no_proxy`.

[2019-06-19 13:21] markusthoemmes commented on #4390
Relevant related issue: #3961

I do like the idea a lot, however @vagababov's first point is a valid one. Maybe we should revisit our deduplication strategy to move that logic out of the queue-proxy? As we're no longer retrying in the activator, we can actually better tell now when we're actually proxying vs. not. That should enable us to accurately deduplicate metrics in the activator.

[2019-06-19 14:15] mattmoor commented on #4407
The activator is attempting to reach the autoscaler, and won't report healthy until it does.  If you are restricting network traffic, then you have to allow this for it to ever become healthy.  This is what the activator logs tell me.

You should also share a describe of that pod, which will hopefully corroborate that hypothesis.

[2019-06-19 15:52] joshrider commented on #4014
@mattmoor @dgerd

Clarifying question: if the user specifies an HTTP probe with `periodSeconds: 0`, do we want that to be invalid or do we want to translate that to the aggressive retry configuration?

[2019-06-19 16:03] tvalasek commented on #3274
thats correct - we fixed it by adding `.istio-system.svc` to `no_proxy` and `NO_PROXY` api-server's env variable

[2019-06-19 16:24] mattmoor commented on #4014
aggressive retries.

[2019-06-19 17:55] dgerd commented on #4190
labels and annotations can change and will get updated on a volume mounted.

[2019-06-19 18:29] dgerd commented on #4190
Discussed in the API WG this week. Some of my take aways:

1. Going to cross out option 1 of expanding the always set env vars to include more Knative values as well as Kubernetes values. It seems less preferable to the other two options.
2. We should prefer to not override semantics of existing K8s keys in the field.
3. We have no good volume mount solution today for Knative-specific keys. A flex

[2019-06-19 18:46] tanzeeb commented on #4183
/assign

[2019-06-19 18:57] duglin commented on #1409
This comment is a follow-on to today's API call.  Upon thinking about everything that was said, I'm still not sure whether my desired scenario can be supported today (via tweaks to config knobs) or not. So, let me describe my scenario here:
- as a person sending in requests I understand I may have to deal with cold start times if all existing service instances are at full capacity - and that's ok.

[2019-06-19 19:06] markusthoemmes commented on #1409
I‘d like us to approach this from a more abstract standpoint.

I think you‘re saying that, given there is enough capacity in the cluster, I as a user want to be able to see at most cold-start latency + request latency.

Moreover we should also consider thinking in percentiles rather than absolutes. 100%p latency guarantees will be **very** hard to keep.

Regardless, the direction we‘re taking (thr

[2019-06-19 19:10] markusthoemmes commented on #1409
To add to the above: I think for many users it is **not** okay to deal with cold-start times, even when considering a certain increase in traffic.

As such, I think we should look at the „latency guarantee“ dial not only in terms of buffering requests but also minimizing cold-start wait times. That‘s where a burst capacity and/or overprovisioning comes into play.

[2019-06-19 19:37] duglin commented on #1409
yep

might be true, but that's why I think there should be a config knob that allows someone to decide which behavior they want rather than Kn decide it for everyone.  I tend to think of this as a step-wise problem and step one is to support the idea of "a new request comes in; are all instances busy? if so, spin up a new one". That should be the baseline. Then we can work on making the "busy" che

[2019-06-19 21:00] vagababov commented on #1409
So for "certain" increase in traffic, we already have utilization target, which will deal with % of capacity allocated for bursts in traffic. Unfortunately, the % of capacity is independent of desired burst, but rather a function of current stable traffic.

The new knob permits you to have `pod-start+serving` time guarantee (% loadbalancing in case of very packed cluster, but I hope we all can agr

[2019-06-19 21:20] #4109 closed

[2019-06-19 21:20] mdemirhan commented on #1512
#4418 fixes this.

[2019-06-19 21:20] #1512 closed

[2019-06-19 21:20] mdemirhan commented on #2757
#4418 fixes this.

[2019-06-19 21:20] #2757 closed

[2019-06-19 21:55] coryrc commented on #4421
I may be wrong and it's actually power-of-10, which seems very dumb. Maybe it will accept "Mi" as a suffix?

[2019-06-19 22:02] coryrc commented on #4421
However, the test should also print out when it successfully evaluates a value.

[2019-06-20 00:25] duglin commented on #3689
@zroubalik I like the direction of that change.

[2019-06-20 00:26] duglin commented on #4204
@ZhiminXiang @tcnghia WDYT?

[2019-06-20 01:57] yuxiaoba commented on #4407
@mattmoor  Thank you for your help。
This the describe of that pod
[code]

And I am a fresh man about istio and knative, I do not now how I set restricting network traffic, is this ？
[code]

[2019-06-20 02:06] mattmoor commented on #4407
as I suspected the activator's readiness probes are failing, it seems because it cannot open a websocket to the autoscaler's metrics endpoint.

[2019-06-20 02:13] mattmoor commented on #4407
I'm not sure why...

[2019-06-20 02:15] yuxiaoba commented on #4407
@mattmoor I am also confusing about this . Is this the code bug? Or the deployment yaml of [Knative Serving](https://github.com/knative/serving/releases/download/v0.6.0/serving.yaml) has some error?

[2019-06-20 03:10] mattmoor commented on #4407
I don't see any indication that this is a Knative problem (yet).  I'd launch an `ubuntu` container with a sidecar in the `knative-system` namespace and try to curl the autoscaler service from it.

[2019-06-20 04:06] ZhiminXiang commented on #4204
The `echo-internal-default.svc.cluster.local` in `domain` and `URL` field is wrong as it cannot be resolved by k8s DNS server. As a result, it is not reachable within cluster.

For private Knative service, we should not apply `DomainTemplate` because `DomainTemplate` is for external host/domain.
We can either disregard `domain` and `URL` fields for private Knative service or apply the default form

[2019-06-20 04:34] patrickshan commented on #4407
we are seeing similar issue when knative is under some load (around 450 ksvc). Currently we are running knative 0.6.1.

Some commends results mentioned above:
[code]
[code]
[code]
[code]

we can see some error logs from knative autoscaler container which failed to talk with kube-apiserver but at the same time, we were able to talk with kube-apiserver without problem from local and all the other pa

[2019-06-20 06:08] #4339 closed

[2019-06-20 06:14] sinthuja opened #4434 "Knative does not work on Docker-for-Mac"
**Version:** Knative 0.6, Docker for mac version 2.0.0.3, and Kubernetes version: 1.10.11

**Steps followed:**
- Followed the instructions in the [doc](https://github.com/knative/docs/blob/master/docs/install/Knative-with-Docker-for-Mac.md)
- The pods are not getting into the "Running" state, and it's going to "CrashLoopBackOff"
[code]
- Logs in the activator
[code]
- **Docker for mac version is t

[2019-06-20 06:41] bappr opened #4435 "Revision: cannot use private registry"
## In what area(s)?

## What version of Knative?

## Expected Behavior

I should be able to use a private registry.

## Actual Behavior

Following https://knative.dev/docs/serving/samples/build-private-repo-go/ I added the secret in the service account but still not able to pull the private image (working fine with a simple deployment)
Error in the events:
[code]
Error in the revision:
[code]

##

[2019-06-20 06:51] magicLian commented on #4081
@yuxiaoba  Sorry to trouble u , i install Istio in pmtls mode.

[2019-06-20 06:53] yuxiaoba commented on #4081
@magicLian Can you give me a guide for how to install Istio in pmtls mode? I am a fresh man for this , thank you.

[2019-06-20 06:55] magicLian commented on #4081
@yuxiaoba  就是用官方的例子呀， kubectl apply -f install/kubernetes/istio-demo.yaml 你进我之前发的安装istio的页面，你就能看到。

[2019-06-20 07:10] patrickshan commented on #4407
after further looking into our issue, it seems to be related with sidecar container resources limit for `activator` and `autoscaler`. Apparently the default 128Mi memory for sidecar container isn't enough with 450 ksvc workload. we bumped those limit by adding annotations to the PodSpec of their deployments: `sidecar.istio.io/proxyCPU: 500m` and `sidecar.istio.io/proxyMemory: 512Mi`. After that bo

[2019-06-20 07:11] markusthoemmes commented on #4434
You can switch to the edge channel of docker-for-mac. That has a much more recent Kubernetes version and is what I use to develop locally.

[2019-06-20 07:26] sinthuja commented on #4434
Ok, Thanks for the swift reply. I'll try out with edge channel, and let you know the outcome.

[2019-06-20 08:49] yuxiaoba commented on #4081
@magicLian 噢噢，我也是用那个安装的，但是也还是持续CrashLoopBackOff。你的Kubernetes版本是多少啊？

[2019-06-20 09:00] magicLian commented on #4081
@yuxiaoba  1.12.6

[2019-06-20 11:46] RPing opened #4436 "GRPC not working since GKE upgrade"
## In what area(s)?

/area networking

## What version of Knative?

0.6.0

## Expected Behavior

GRPC works

## Actual Behavior

GRPC always respond `UNAVAILABLE`

## Steps to Reproduce the Problem

Our cluster enable **CloudRun**，and upgrade k8s master from `1.12.7-gke.17` to `1.13.6-gke.6`, which knative serving automatically bumped from `0.5.2` to `0.6.0` (automatically).
When upgrade finished,

[2019-06-20 12:02] #4405 closed

[2019-06-20 14:05] mattmoor commented on #4407
@yuxiaoba Any chance you are doing this at scales similar to @patrickshan ?

[2019-06-20 15:22] mattmoor opened #4437 "Track Istio 1.2 in our continuous testing"
## In what area(s)?

/area networking
/area test-and-release

## Describe the feature

Title says it all.

[2019-06-20 15:23] mattmoor opened #4438 "Track Istio with mTLS in our continuous build"
## In what area(s)?

/area networking
/area test-and-release

## Describe the feature

Title says it all

[2019-06-20 15:24] mattmoor opened #4439 "Track Istio CNI integration"
## In what area(s)?

/area networking
/area test-and-release

## Describe the feature

Title says it all

[2019-06-20 15:56] wtam2018 commented on #3982
Proposed staging/migration plan:
Release 0.7: Namespaced Ingress will be enabled which means that routes (new or existing) will create Namespaced Ingresses.  Existing ClusterIngress and Virtual Services will continue to reconcile and run along side with Namespaced Ingresses.
Release 0.8:  ClusterIngress resources will be deleted up and leaving Namespaced Ingresses active
Release 0.9: ClusterIngres

[2019-06-20 16:26] adrcunha commented on #3241
@tcnghia @srinivashegde86 looks like this is obsolete?

[2019-06-20 16:28] adrcunha commented on #2850
@tcnghia looks like this is obsolete?

[2019-06-20 16:29] adrcunha commented on #2644
@srinivashegde86 I believe this is a duplicate of another issue? I remember a conversation about having a subset of performance tests for presubmit.

[2019-06-20 16:30] adrcunha commented on #1952
This seems to be obsolete.

[2019-06-20 16:34] sinthuja commented on #4434
I tried edge, it installed k8s version 1.14.3, and hence now it works. Thanks for the support.

[2019-06-20 16:34] #4434 closed

[2019-06-20 17:14] jonjohnsonjr commented on #4435
@bappr can you share what registry you're using?

This errors is coming from our [tag to digest resolution](https://knative.dev/docs/serving/tag-resolution/). As a workaround, you can [disable](https://knative.dev/docs/serving/tag-resolution/#skipping-tag-resolution) that with the `config-deployment` config map, but ideally this would work by default 😄

If you're using ECR, I'm working on it: http

[2019-06-20 18:00] dgerd commented on #4436
/cc @vagababov
/cc @tcnghia

[2019-06-20 18:10] dgerd commented on #4416
Thanks for the bug report. This looks like something that we should bubble up into the Service status.

Added API label and moved into Serving 0.8.

[2019-06-20 18:26] vagababov commented on #4436
Are you using the K8s services we setup directly from within cluster?
Since port 81 is what we setup for the internal k8s service and backend port (i.e. where your app listens) is still 8080.

[2019-06-20 18:56] mattmoor commented on #4081
This looks like: https://github.com/knative/serving/issues/4407?

[2019-06-20 18:56] A-And opened #4446 "Prometheus Operator to knative-monitoring"
## In what area(s)?

## Ask your question here:

Last year the dependency on Prometheus-Operator was removed by #960 .The justification for this was K8S 1.10+ support. Now that prometheus-operator has been updated and is supported in later versions of K8S, is there a specific reason for keeping it out?

Has the StatefulSet Prometheus deployment been sufficiently stable? @mdemirhan

[2019-06-20 18:56] mattmoor commented on #4081
@yuxiaoba ^^

[2019-06-20 19:25] A-And commented on #4246
Fixed with #4418

[2019-06-20 19:25] #4246 closed

[2019-06-20 21:02] #3208 closed

[2019-06-20 23:10] vagababov opened #4449 "No container concurrency but target utilization"
/area API
/area autoscale

## What version of Knative?
HEAD

## Description

Currently user may provide target utilization percentage, but no container concurrency.

When user does not provide container concurrency we choose default (100), which in its own time, is a config map parameter, which user might tweak.

Say user provided target utilization, but no CC. As code written now, we completely d

[2019-06-20 23:12] vagababov commented on #4449
/milestone Serving-0.8

[2019-06-20 23:16] vagababov opened #4450 "Target Utilization must be possible to set per revision"
/area API
/area autoscale

## What version of Knative?

 HEAD

## Expected Behavior

I can set TU per service/revision

## Actual Behavior

Can be set only per cluster.

Suggested to set it via annotation along with min/max/cc parameters.

/assign

[2019-06-20 23:18] vagababov commented on #4450
/milestone Serving 0.8

[2019-06-20 23:21] vagababov commented on #4450
/cc @mattmoor @markusthoemmes

[2019-06-20 23:21] vagababov commented on #4449
/milestone Serving 0.8

[2019-06-20 23:26] mattmoor commented on #4449
/milestone Serving 0.8

[2019-06-20 23:42] tcnghia commented on #4436
@RPing there was a bug in upgrading from 0.5.2 to 0.6.0.  we cherry picked it into 0.6.1 https://github.com/knative/serving/pull/4265  https://github.com/knative/serving/pull/4269

The issue prevents scale-to-zero `ksvc` from waking up.  One workaround is to update the `ksvc` with some trivial changes to create a new `revision`.  I believe when you change the `containerPort` you accidentally apply

[2019-06-21 00:54] yuxiaoba commented on #4081
@mattmoor  Yes， they looks like the same problem. I also try to install istio:
[code]
But  it dose not help. The activator keeps carshloopbackoff.

[2019-06-21 00:57] #4072 closed

[2019-06-21 01:01] mattmoor commented on #4081
Let's discuss there.

[2019-06-21 01:01] #4081 closed

[2019-06-21 01:08] mattmoor commented on #4407
@yuxiaoba could you try starting a container in the `knative-serving` namespace with a sidecar and curling the autoscaler service?

I notice it doesn't have a readiness probe itself, which is troubling.

[2019-06-21 02:17] yuxiaoba commented on #4407
@mattmoor I have try this, but I am a freshman about this , may be I would do some incorrect action.
### First, Starting a container
[code]

### Second, show the staus of pods
[code]

### Curl the autoscaler and  shows the result
[code]

[2019-06-21 02:23] vagababov opened #4453 "Re-evaluate the scale to 0 timeouts in the autoscaler"
/area autoscale

## Describe the feature
With the changes for burst capacity that are coming to the autoscaler, we should re-evaluate the timeouts we have in the scale to zero paths.
In many cases the activator will already be in the request path and hence no timeouts would be required for that.

/assign

[2019-06-21 02:23] vagababov commented on #4453
/milestone Serving 0.8

[2019-06-21 02:28] adrcunha commented on #3764
The ability is available. For example, in install_knative_serving() you can make any changes to the yamls you need.

/close

[2019-06-21 02:28] #3764 closed

[2019-06-21 02:29] mattmoor commented on #4407
What if you add `-H k-network-probe: activator`?  I also wonder whether it is websocket support that's the problem (cc @tcnghia ).

[2019-06-21 02:30] adrcunha commented on #3884
Sounds like a simple addition to existing performance tests. Or am I missing something?

[2019-06-21 02:34] adrcunha commented on #4116
https://github.com/knative/serving/pull/4341 fixes this.

/close

[2019-06-21 02:34] #4116 closed

[2019-06-21 02:35] adrcunha commented on #4117
Dupe of #4116.
/close

[2019-06-21 02:36] adrcunha commented on #4119
@srinivashegde86 I think this won't be ready for 0.7, right?

[2019-06-21 02:43] adrcunha commented on #4253
@srinivashegde86 this test failed 2 times out of 10 for the last 10 days, is this still an issue? Maybe the larger cluster used by the perf tests was the solution (as indicated by Victor above)?

[2019-06-21 02:45] adrcunha commented on #4276
/assign @yu2003w

[2019-06-21 02:46] adrcunha commented on #4028
/assign @yu2003w

[2019-06-21 02:47] yuxiaoba commented on #4407
@mattmoor Does change the yaml like this?
[code]

[2019-06-21 02:55] vagababov commented on #3884
@srinivashegde86 -- is that something in your plan?

[2019-06-21 02:57] vagababov opened #4454 "Autoscaler has no health probe."
/area autoscale

## What version of Knative?

HEAD

## Expected Behavior

it has a health probe

## Actual Behavior

it doesn't

## Steps to Reproduce the Problem

start knative on a cluster

[2019-06-21 02:58] vagababov commented on #4454
/assign

[2019-06-21 02:58] mattmoor commented on #4407
Actually nevermind, the autoscaler doesn't respond to network probes.

[2019-06-21 02:58] vagababov commented on #4454
/milestone Serving 0.7

[2019-06-21 03:16] yuxiaoba commented on #4281
@mattmoor The [4407](https://github.com/knative/serving/issues/4407) is install istio with sidecar injector. I also try to install istio without sidecar injector. But I also have another error, can you help to check it?

[2019-06-21 03:49] bappr commented on #4435
Thanks @jonjohnsonjr, I am using Google Docker Registry (asia.gcr.io).
So I will configure the tag in the config map. ;) Thanks.

[2019-06-21 03:52] ryanbrainard commented on #1996
If it helps anyone else workaround this issue until a better solution lands, take a look at the [ecr-helper](https://github.com/knative/build-templates/tree/master/ecr_helper) and also this [post](https://gregoryguillou.github.io/2019-05/ecr-helper/) to run it periodically. The is more for the build side, but this helped me figure out how to make it work for the serving side too. The missing piece

[2019-06-21 04:06] mattmoor commented on #1996
@ryanbrainard if you are up for testing out some bits with ECR I know @jonjohnsonjr has a patch that we hope to make things work.

[2019-06-21 04:11] ryanbrainard commented on #1996
@mattmoor @jonjohnsonjr For sure! We were just about to dive into coding up this workaround into a somewhat automated fashion (so far just tested it in manual bash scripts), but would be great to avoid that. Can you point me at the code and any instrucitons? I'm also in knative slack if that helps.

cc: @jttyeung

[2019-06-21 04:26] mattmoor commented on #1996
The PoC is [here](https://github.com/knative/serving/pull/4084), it basically carries a patch to K8s upstream that's landed at head.

[2019-06-21 04:32] #3112 closed

[2019-06-21 04:43] RPing commented on #4436
Indeed, after reset to original config, it works too. So it's not a port issue.
Anyway, thanks for replying!

[2019-06-21 04:43] #4436 closed

[2019-06-21 05:04] bappr commented on #98
FYI, I tried severals times to make mTLS/RBAC working with Knative 0.6.0 without success.
Best test I got is intermittent failures (503) ->
- 3 exacts same services, 2 not working, 1 working
- after redeploy, 3 working but then 5 minutes ago, 1 not working
- etc.
From the many issues that I saw regarding mTLS and Knative, can I assume that Istio mTLS is not yet fully supported?

[2019-06-21 06:19] yuxiaoba commented on #4407
@mattmoor  I think this problem may be on the sidecar, because when I install the istio without sidecar, the activator pod runs normally

[2019-06-21 06:43] markusthoemmes commented on #4453
I know, broken record and all 😂 : Due to eventual-consistency, we'll still need to give it some time to actually propagate. Let's make sure we don't regress our currently quite stable scale-to-zero logic.

[2019-06-21 06:45] markusthoemmes commented on #4453
Maybe we can write a status **when** the activator was threaded in and compare that to our timeouts? In many cases, as you say, the activator will have been in there for a while so we can safely scale to zero immediately?

[2019-06-21 07:54] ryanbrainard commented on #1996
@mattmoor I gave it a whirl, but it didn't work. Details are here: https://github.com/knative/serving/pull/4084#issuecomment-504330157

[2019-06-21 12:01] #4424 closed

[2019-06-21 16:46] vagababov commented on #4453
Sure, blindly removing the timeout won't work. But if it has been there already, rather than just put in, then we won't have to wait. I have not yet a detailed proposal yet, but just the issue, to not forget it :-)

[2019-06-21 17:02] hohaichi commented on #4117
/reopen
This is not a dup of #4116.  #4116 is about server-side metrics, and this is about client-side metrics.

[2019-06-21 17:08] vagababov commented on #4453
/milestone Serving 0.8

[2019-06-21 17:08] vagababov commented on #4450
/milestone Serving 0.8

[2019-06-21 17:09] tcnghia commented on #4281
@yuxiaoba I'd like to take a closer look at the state of your cluster to see what's wrong here.  Can you please join our Slack channel (https://knative.slack.com/)

[2019-06-21 17:30] tcnghia commented on #4407
@yuxiaoba did you enable authorization in your Istio installation?

You may want to try using https://istio.io/docs/concepts/security/#enabling-authorization and exclude the namespace `knative-serving` to see if this is still a problem?

[2019-06-21 17:47] jonjohnsonjr commented on #4435
Wait, that should work by default!

If you're running on GCE, your GCE nodes' service account should have access to GCR within the same project. If you're not relying on your GCE service account (e.g. you're using image pull secrets), you should be able to add those to the [controller spec](https://github.com/knative/serving/blob/master/config/controller.yaml).

[2019-06-21 17:49] jonjohnsonjr commented on #4435
/reopen

This might just be a docs issue, but I want to keep this open until we resolve it.

[2019-06-21 19:39] #4454 closed

[2019-06-21 22:33] ssmall opened #4470 "Autoscaler pod count metrics reported improperly"
/area monitoring

## What version of Knative?

HEAD

## Expected Behavior

When I create a new ksvc and hit it with a single request, I expect to see at least one data point for `desired_pods` and `requested_pods` that is >0 for that revision.

## Actual Behavior

The metric only sometimes gets reported as non-zero.

## Steps to Reproduce the Problem

1. Create a new revision
2. Make a single requ

[2019-06-21 22:36] ssmall commented on #4470
Seems that this is likely caused by using [`LastValue()`](https://github.com/knative/serving/blob/master/pkg/autoscaler/stats_reporter.go#L97) to report these metrics -- when the reporting window for the metrics backend is longer than the stable window of the autoscaler, relevant data points can/will be missed.

[2019-06-21 23:32] tcnghia commented on #3903
@kbruner I am not aware that `activator` connects to github.com on start up, can you show me where you see that?  Thanks

[2019-06-21 23:44] tcnghia commented on #4275
@Disturbing I think this would require sidecar injection for both your source and destination pods.  If sidecar injection is enabled you could disallow using cluster local Gateway in your cluster and avoid the redirection.  The redirection we have in Knative is for the cases where the source pods don't have sidecars.

This configuration has changed a little bit during the last versions. You can ch

[2019-06-21 23:59] yuxiaoba commented on #4281
@tcnghia thank you for your help， I am sorry to reply late for  there is a time difference between us. I will join the slack and contact with you.

[2019-06-22 00:02] tcnghia commented on #4182
@sixolet while the `config/post-install` jobs make it easier to create things once it can't easily be rerun using `ko apply -f` like the rest of `config/`.  The reason is that K8s Jobs are immutable, so if our code change at `ko apply` will change the images of those Jobs and causes the command to fail.

Agree with @bbrowning that in the long run this should be part of some installer / operator.

[2019-06-22 00:03] tcnghia commented on #4177
@RPing is this related to the cluster upgrade issue from 0.5.2 to 0.6.0?

[2019-06-22 00:05] tcnghia commented on #4123
I believe there is an issue to randomize the ports, which is iced https://github.com/knative/serving/issues/2761

/cc @mattmoor

[2019-06-22 00:09] tcnghia commented on #4040
@greghaynes this 10 seconds may be an Istio setting  https://github.com/knative/serving/blob/master/third_party/istio-1.1.7/istio.yaml#L576  https://github.com/knative/serving/blob/master/third_party/istio-1.1.7/istio.yaml#L429

[2019-06-22 00:16] tcnghia commented on #4040
We can reduce this setting somewhat. The bug is really https://github.com/kubernetes/kubernetes/issues/78994 so  I am not sure if there is anything to be done from Envoy/Istio beside changing the setting.

If we can change this only for activator we could change this to sub-second like what we had in our Dial configurations.  But I am not sure that is possible.

[2019-06-22 00:20] tcnghia commented on #4028
@yu2003w thanks, do you think this can be done in https://github.com/knative/serving/milestone/24 (due August 06?)

[2019-06-22 00:26] tcnghia commented on #3706
@vagababov is using SKS to copy Endpoints from one namespace to another a small change?  if that works then we could create an SKS to copy Endpoints of `istio-ingressgateway.istio-system` in `knative-serving` namespace and front it with an Ingress like @bbrowning said.

That way the Ingress can stay in the same namespace no matter what network solution we use.

[2019-06-22 00:27] tcnghia commented on #3680
@sebgoa @mattmoor since we no longer publish these files I think it's OK to close this bug now?

[2019-06-22 00:27] #3680 closed

[2019-06-22 00:29] vagababov commented on #3706
we kind of already do for activator :-)
But it doesn't feel that SKS is what should do this -- since SKS is basically owned by KPA, while here you need a global object of sorts.

[2019-06-22 00:29] tcnghia commented on #3662
A lot of the probes have been moved to become exec probes which will sidestep these kinds of issues.

I think we could do the same for activator here.  @mattmoor WDYT?  Since 0.8 theme seems to be fix all the probes it's nice to have it done in the same release.

[2019-06-22 00:33] tcnghia commented on #3312
plan shared and reviewed in 6/20 networking wg meet up
 https://docs.google.com/document/d/1mXDrRhVOf48qRR7-4fZMTkMHKoOGZJtrRGavGloVjGs/edit#

[2019-06-22 00:40] tcnghia commented on #3706
@bbrowning since we don't yet have a way to use Ingress cross-namespace, I think we will need to implement something similar to SKS in order to make this possible.  Otherwise the Ingress will still change namespaces depending on the underlying solution.

Putting this in Ice Box unless we have volunteers to implement this.

[2019-06-22 01:05] tcnghia commented on #4281
@yuxiaoba I think the logic in here didn't handle `/etc/resolv.conf` correctly for your cluster

https://github.com/knative/serving/blob/master/pkg/network/domain.go#L60

[2019-06-22 01:18] yu2003w commented on #4028
sure, I will submit PR next week. I planned to submit this PR last week. As a little busy recently, the work delayed.

[2019-06-22 01:18] yuxiaoba commented on #4407
@tcnghia  # cat /etc/resolv.conf
nameserver 10.68.0.2
search istio-system.svc.cluster.local. svc.cluster.local. cluster.local.
options ndots:5

[2019-06-22 01:21] tcnghia commented on #4407
Thanks, I believe the https://github.com/knative/serving/blob/master/pkg/network/domain.go#L69 didn't handle this right.

We need to strip the trailing dot.

[2019-06-22 04:54] #4333 closed

[2019-06-22 12:02] knative-flaky-test-reporter-robot opened #4474 "[flaky] test/e2e.TestAutoscaleUpCountPods/hpa"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestAutoscaleUpCountPods/hpa
* **Repository name**: serving

[2019-06-22 12:02] knative-flaky-test-reporter-robot opened #4475 "[flaky] test/e2e.TestDestroyPodTimely"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDestroyPodTimely
* **Repository name**: serving

[2019-06-22 12:02] knative-flaky-test-reporter-robot opened #4476 "[flaky] test/conformance/runtime.TestShouldRunAsUserContainerDefault"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestShouldRunAsUserContainerDefault
* **Repository name**: serving

[2019-06-22 12:02] knative-flaky-test-reporter-robot opened #4477 "[flaky] pkg/activator.TestThrottlerActivatorEndpoints/less_activators,_more_cc"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator.TestThrottlerActivatorEndpoints/less_activators,_more_cc
* **Repository name**: serving

[2019-06-22 12:02] knative-flaky-test-reporter-robot opened #4478 "[flaky] pkg/activator.TestThrottlerActivatorEndpoints"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator.TestThrottlerActivatorEndpoints
* **Repository name**: serving

[2019-06-22 15:46] mattmoor opened #4480 "Enable PodSecurityPolicy in our test environment"
## In what area(s)?

/area test-and-release

## Describe the feature

To catch things like: https://github.com/knative/serving/pull/3237#issuecomment-504640189

cc @yu2003w

[2019-06-22 16:42] yu2003w commented on #4276
#3237 resolved this problem. Verified in my environment.

[2019-06-22 16:42] #4276 closed

[2019-06-22 20:12] mcpomm commented on #1996
@ryanbrainard  ksvc seems to use the default service account . I patched it accordingly (as described here: https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#add-imagepullsecrets-to-a-service-account). Then I added the `serviceAccountName` property to my service yaml.
`apiVersion: serving.knative.dev/v1alpha1 # Current version of Knative
kind: Service
metadata:

[2019-06-22 22:58] mattmoor commented on #3662
We worked around this by adding our own header, so this should be fixed in (at least) 0.7.

[2019-06-22 22:58] #3662 closed

[2019-06-23 00:30] duglin opened #4485 "setting stable-window to zero causes no instances to be created"
## In what area(s)?
/area API
/area autoscale

## What version of Knative?
v0.6.0

## Expected Behavior
When I set `stable-window` to zero I expected instances to be deleted as soon as the last request was done being processed by that instance.

## Actual Behavior
No instances are ever created.

## Steps to Reproduce the Problem
- Create a KnService and wait for it to scale down to zero
- Modify c

[2019-06-23 00:45] vagababov commented on #4485
I guess the real bug here, is that you shouldn't be able to set `stable-window` to 0 in the first place.

[2019-06-23 01:37] duglin commented on #4485
LOL that is one way to look at it.  I'd prefer to allow for it to be a valid choice, since I do consider it to be one in environments where there's a cost associated with just having an instance alive.

[2019-06-23 01:53] duglin commented on #4485
As a test I :
- let everything scale down to zero
- set `stable-window` to 1s
- `curl`d my service

it scaled up to one, responded to my curl but then never scaled down to zero. Been waiting about 10 minutes so far.

[2019-06-23 02:49] vagababov commented on #4485
Stable window besides being the time we expect instance to be without traffic, also defines the window over which we compute traffic. Setting it lower than some number, e.g. 10s, is bound to have different second order problems. Thus we actually should not allow that. At least with the way autoscaler works now.

I'll try to investigate why 1s causes problems, regardless.

[2019-06-23 07:59] markusthoemmes commented on #4485
Note that this is only implicitly the „time to scale down after not seeing traffic“. As @vagababov said, it‘s the time we accumulate metrics over. Because of that it‘s also the time when we decide to scale to 0, as the average over a timeseries only drops to 0 after seeing straight 0s reported for the aggregation window.

Everything below 2s will be problematic because of the way our aggregation w

[2019-06-23 09:51] duglin commented on #4485
Yes you'll get pod churn but that's also what the config asked for - if people don't want it then they'll set it to a different value. While an impl (today) based on Kube may have a larger than we'd like cold-start times, not all impls of the runtime might.

[2019-06-23 10:29] markusthoemmes commented on #4485
In our case specifically, the autoscaler is designed as a control-loop. As such metric generation (a.k.a. HTTP requests coming in) and autoscaling decisions are decoupled from each other. There is no correlation between a request and an autoscaling decision.

In such a design, the aggregate window always needs to be of a certain size to be able to perform meaningful autoscaling decisions. A `stabl

[2019-06-23 10:53] duglin commented on #4485
Yep - I got that.  And if the lowest that algorithm can go is 2 seconds then that's ok, but a user specified value of zero can still be used to indicate "as soon as you know the instance is idle" or "as soon as you determine the load is zero" - however you choose to view it. My point is that the config can be what the user desires and then the impl just tries to come as close to that as possible.

[2019-06-23 12:02] knative-flaky-test-reporter-robot opened #4489 "[flaky] pkg/autoscaler.TestMultiScalerScaling"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/autoscaler.TestMultiScalerScaling
* **Repository name**: serving

[2019-06-23 12:02] knative-flaky-test-reporter-robot opened #4490 "[flaky] pkg/autoscaler.TestMultiScalerTickUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/autoscaler.TestMultiScalerTickUpdate
* **Repository name**: serving

[2019-06-23 12:02] knative-test-reporter-robot opened #4491 "[flaky] test/conformance/api/v1beta1.TestService"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestService
* **Repository name**: serving

[2019-06-24 01:11] bappr commented on #4435
Indeed, I am not using the service account (and we don't intend to do since the installation should be cloud agnostic). What exactly should I add to the controller spec?

[2019-06-24 06:39] tatsuhiro-t opened #4501 "monitoring.yaml contains addonmanager labels"
## In what area(s)?

/area monitoring

## What version of Knative?

0.6.1

## Expected Behavior

Resources included in monitoring.yaml do not have addonmanager labels like:

[code]

## Actual Behavior

Some resources included in monitoring.yaml have addonmanager labels like:

[code]

## Steps to Reproduce the Problem

In our environment, our addonmanager white lists ClusterRoles/ClusterRoleBinding

[2019-06-24 12:02] #4478 closed

[2019-06-24 12:02] knative-flaky-test-reporter-robot opened #4502 "[flaky] test/scale.TestScaleToN"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN
* **Repository name**: serving

[2019-06-24 12:02] #4477 closed

[2019-06-24 12:02] knative-flaky-test-reporter-robot opened #4503 "[flaky] test/scale.TestScaleToN/scale-10"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-10
* **Repository name**: serving

[2019-06-24 15:16] csantanapr opened #4507 "metrics for workloads pods and http requests missing"
metrics for workloads pods and http requests missing
## In what area(s)?

/area monitoring
/kind bug

## What version of Knative?

0.6.0

## Expected Behavior

When installing monitoring.yaml from the 0.6.0 release I should be able to open grafana from the knative-monitoring namespace and the dashboards should have data.

## Actual Behavior

Both bashboards are empty and the drop downs don't popul

[2019-06-24 17:19] mattmoor commented on #2196
@markusthoemmes mentioned one limitation we have today that I'd like to surface here, which is that the metrics collection is triggered by in-memory Metrics resources, so being able to truly plug in new autoscalers are limited to in-process.  Correcting this is already tracked separately.

I think that with the HPA testing we now have that I'm fairly happy with the model, and that what we have is

[2019-06-24 17:19] #2196 closed

[2019-06-24 17:23] yu2003w commented on #4028
@tcnghia When run e2e test 'TestServiceToServiceCallFromZero', I met some dns related problems.
In this test, http proxy is accessible from external and hello-world is internal visible only.
It seemed that in httpproxy pod, address of hello-world couldn't be resolved.
some logs as below,
[code]
Is this kubedns limitation? Or could I workaround this?

[2019-06-24 17:34] mattmoor commented on #2495
@greghaynes You definitely have the best instrumentation here.  Would it be possible to try and add it to automation in 0.8?

For "v1" scope, I'd just like to see a benchmark in place that keeps us from going backwards on cold-start performance, not necessarily the deep visibility @greghaynes has, but bonus points the more we have.

[2019-06-24 18:10] mattmoor commented on #421
We have the scale test for services/clients, and https://github.com/knative/serving/issues/3000 for load.

[2019-06-24 18:10] #421 closed

[2019-06-24 18:51] JRBANCEL commented on #4507
This should be fixed: https://github.com/knative/serving/pull/4096

[2019-06-24 18:53] steren opened #4511 "Propagate knative Service lastModifier into creator field for new Revision created."
/area API
/kind spec
/kind proposal

## Feature description

When listing revisions, I can see when they were created and who created each of them.

## Proposal

Similarly to the `serving.knative.dev/creator` and `serving.knative.dev/lastModifier` on the Service object, we should pass down this information to the Revision.

I suppose this means propagating the `serving.knative.dev/lastModifier` an

[2019-06-24 20:07] vagababov commented on #4511
/good-first-issue

[2019-06-24 23:22] mattmoor commented on #3000
We have something here: https://github.com/knative/serving/blob/74902921699d3b60dcc86d46c15ba08b12abe12a/test/e2e/activator_test.go#L35

[2019-06-24 23:37] dgerd opened #4517 "Improve Knative Serving API Specification"
## In what area(s)?

/area API

## Describe the feature

The current Knative API Specification lives here: https://github.com/knative/serving/blob/master/docs/spec/spec.md

This API specification has a few notable shortcomings:

1. It does not detail all fields in the Knative API. Highly-nested fields are notated with '...'.
2. It does not detail API REST Operations or object lifecycle.
4. It does

[2019-06-25 05:11] nimakaviani opened #4522 "Feature Request: Allow processing of async requests in Knative"
/area API

## Describe the feature

As a Knative user, I can request the http workload to be processed asynchronously.

### Requirements

- Same endpoint should allow for both blocking and non-blocking async requests
- The incoming async requests trigger the running of the async job in Knative
- An async request does not block. Instead, it returns immediately
- The response will have an identifier

[2019-06-25 05:11] nimakaviani commented on #4522
/cc @duglin

[2019-06-25 05:22] ryanbrainard commented on #1996
@mattmoor I dug a little deeper on trying the patch and got it to work! It turned out to just be an IAM issue with the controller pod (+ needing the patch applied). Details: https://github.com/knative/serving/pull/4084#issuecomment-505286665

[2019-06-25 05:46] vagababov commented on #4522
Question is, why would you want to use knative for this?
Most of what you described is what your app has to do.
I presume, you don't really expect Knative to provide a generic state machine/workflow engine?
Isn't everything you need is `minScale=1`, to permit async processing, without scaling to zero?

[2019-06-25 07:17] savitaashture commented on #4182
@tcnghia currently this info is present in
https://github.com/knative/serving/blob/master/DEVELOPMENT.md#deploy-knative-serving
not in **getting started** docs.

@sixolet as per @tcnghia suggestion we can add in  **getting started** doc
OR
shall we wait for https://github.com/knative/serving-operator to bootstrap and fix with complete solution.

[2019-06-25 07:58] markusthoemmes commented on #4522
I always thought async workloads are more of a territory of Knative Eventing in conjunction with Knative Serving. After all, the protocol for Knative Serving currently is request/response based and everything revolves around that pretty much.

Any thoughts on why Eventing is not a suitable solution for async workloads like the ones you mentioned?

[2019-06-25 10:44] savitaashture commented on #4310
@mattmoor

Let me know if no one is working on this i am interested to work :)

[2019-06-25 12:02] #4476 closed

[2019-06-25 12:02] #4490 closed

[2019-06-25 13:37] mattmoor commented on #4522
As Markus says, this is where eventing comes in, perhaps even eventing delivering events to something _other_ than serving.

cc @evankanderson

[2019-06-25 13:51] n3wscott commented on #4310
@savitaashture go for it!

[2019-06-25 14:18] #4437 closed

[2019-06-25 14:53] #4155 closed

[2019-06-25 15:31] #3308 closed

[2019-06-25 15:31] yu2003w commented on #4028
@markusthoemmes  @mattmoor  I submitted PR for this issue.
But for test 2, 'Service A (with sidecar) to Service B (without sidecar)', when FQDN is {route}.{namespace}.svc or {route}.{namespace}, tests failed with error as below,
[code]
New added tests make use of existing service_to_service_call scenario for the tests.
[code]
I also tried following commands within pod of http proxy,
[code]
It work

[2019-06-25 16:21] mattmoor commented on #4435
@bappr How are you expressing the GCR credentials?  If you are using `imagePullSecrets` attached to the service account that things run as, thing should work.

[2019-06-25 19:27] mattmoor commented on #3885
@greghaynes the three PRs have landed, LMK when that PR is RFAL.

[2019-06-25 19:27] mattmoor commented on #3885
... or if it needs help

[2019-06-25 19:29] mattmoor commented on #4014
The base change is in.  I'd like to see this land as early in 0.8 as we can, so it can bake.  Please LMK if you have questions or need reviews.

[2019-06-25 19:54] hohaichi commented on #4118
We have most of the metrics:
- Proxied: activator_request_count, activator_request_latencies,
- Direct: revision_request_count, revision_request_latencies,
- And request counts can be grouped by response code, so success rate can be computed at the dashboard.

#4530 adds app metrics to complete the metrics requested by this issue.

[2019-06-25 20:06] #4407 closed

[2019-06-25 20:09] dgerd commented on #4507
@csantanapr Can you confirm @JRBANCEL's change fixes this issue?

@JRBANCEL Is this something that should be cherry-picked into the Serving 0.6 release?

[2019-06-25 20:34] dgerd commented on #822
This was discussed in the last observability meeting and consensus was to remove this for now.

[2019-06-25 20:44] dgerd commented on #4391
@tony-shi I encourage you to check out the Scaling Working Group and the #autoscaling Slack channel. I don't have a single document that would be interesting to share here.

You can track our current discussions and design documents from the [Scaling WG notes](https://docs.google.com/document/d/1FoLJqbDJM8_tw7CON-CJZsO2mlF8Ia1cWzCjWX8HDAI/edit#heading=h.c0ufqy5rucfa). You can also attend these mee

[2019-06-25 20:44] #4391 closed

[2019-06-25 23:16] dgerd opened #4533 "v1beta1 failed mutation requests"
## In what area(s)?

/area API

## What version of Knative?

0.7
HEAD

## Expected Behavior

Updating Knative Services through the v1beta1 endpoint works.

## Actual Behavior

Editing a Knative Service objects returns an error from the API Server.

[code]

## Steps to Reproduce the Problem

Versions:
[code]

This is how my cluster got into this state. Not sure which parts are relevant.

1. Create

[2019-06-25 23:22] mattmoor commented on #4098
They could if they are manually rolling revisions out, but this elides a fairly fundamental check for "run latest" style services.

[2019-06-25 23:24] mattmoor commented on #3466
closing as this hasn't recurred in a while and we have auto-flake detection now that helps establish history.

[2019-06-25 23:24] #3466 closed

[2019-06-25 23:25] mattmoor commented on #3587
@yuzisun do you want to come discuss this at the API Working Group?

[2019-06-25 23:26] mattmoor commented on #3421
You can dispatch to different GRPC services using path-based matches.

e.g. https://github.com/mattmoor/korpc-sample/blob/19b4bafb02e709d8fb4702d22c0b7adb655d3c8d/gen/config/gateway.yaml#L64

[2019-06-25 23:26] #3421 closed

[2019-06-25 23:34] mattmoor commented on #4021
This is a duplicate of: https://github.com/knative/serving/issues/3456

[2019-06-25 23:34] #4021 closed

[2019-06-25 23:35] dgerd commented on #4533
Easiest way I have reproduced this.

1. Create a new Service
2. Run the command below (Removes v1beta1 endpoint and then adds it back)

[code]

3. Attempt to edit your Service

[2019-06-25 23:43] mattmoor commented on #4340
This is not discussed in the API spec or Runtime Contract, nor is it covered by conformance tests.  So it is not a universal requirement of implementations, and it means that other implementations of our networking layer or autoscaler might not respect the annotations (and that is OK!).

We can discuss the promotion of individual fields from labels / annorations to spec, but I think that all of th

[2019-06-25 23:43] nimakaviani commented on #4522
@vagababov I think setting `minScale=1` is an anti-pattern to support async. Particularly for the case of infrequent async jobs, I dont think the expectation of having resources sitting idle is ideal.

@markusthoemmes good question. I think this is the _conjunction_ of Knative Eventing and Knative Serving that is in fact problematic. Knative's presumption of short-lived requests with persistent co

[2019-06-25 23:44] mattmoor commented on #4470
cc @markusthoemmes @vagababov @yanweiguo

[2019-06-25 23:45] mattmoor commented on #4446
Probably worth reconsidering, but I doubt we have cycles for it in the short-term.

[2019-06-25 23:49] mattmoor commented on #4204
We should just elide the DomainTemplate for cluster-local services.  @duglin I'm going to assign to you in 0.8.

/assign @duglin

[2019-06-25 23:50] tcnghia commented on #3885
@mattmoor seems https://github.com/knative/serving/pull/4064 needs a rebase still.

[2019-06-25 23:50] mattmoor commented on #4502
cc @chaodaiG

This is the outer layer of a table test and shouldn't get issues opened.

[2019-06-25 23:50] #4502 closed

[2019-06-25 23:51] mattmoor commented on #4305
I believe I fixed this.

[2019-06-25 23:51] #4305 closed

[2019-06-25 23:54] mattmoor commented on #4311
As @dgerd indicates, the right way of assigning labels to revisions is through the `spec.template.metadata` block.  Going to close this.

[2019-06-25 23:54] #4311 closed

[2019-06-25 23:55] mattmoor commented on #4168
We are testing against 1.2 at HEAD now.

[2019-06-25 23:55] #4168 closed

[2019-06-25 23:57] mattmoor commented on #4262
To stop autoscaling you can patch the PodAutoscaler resource with `minScale/maxScale` annotations with the same value, which can also be lower than the current scale of the K8s deployment.

[2019-06-25 23:57] #4262 closed

[2019-06-26 00:15] mattmoor commented on #4522
To be clear, I mean having something other than serving dealing with the async aspect, but that may result in the Eventing system having a synchonous call to Serving.  For sufficiently long-running (a la batch) cases, Serving may be ill-suited for this (or the scaling model may not be right), and so it may make sense to compose eventing with other forms of addressable compute that aren't _currentl

[2019-06-26 00:24] mattmoor commented on #4120
With https://github.com/google/ko/pull/46 we should be able to tease apart the release yamls so that we don't need to use the selector in our docs.

[2019-06-26 00:25] mattmoor commented on #4095
Deploying to Knative should just work(tm), but if it doesn't please open issues with examples.

There are also some helm charts in the wild for install Knative itself, but nothing officially supported.

[2019-06-26 00:25] #4095 closed

[2019-06-26 00:26] mattmoor commented on #4503
I've only seen this once, so closing it out.

[2019-06-26 00:26] #4503 closed

[2019-06-26 00:26] mattmoor commented on #4475
I believe @markusthoemmes improved this a bit by removing `t.Parallel()`, but I've seen this flake at once since then, but far less than it was.  Let's keep an eye on this one, and see if we can do even better.

[2019-06-26 00:36] mattmoor commented on #4390
tl;dr I think we are going to have an increasingly hard time removing the `queue-proxy`

Request counting is not it's sole purpose, it also enforces `containerConcurrency`, which is critical to emulate FaaS environments like Lambda and Cloud Functions.  The `queue-proxy` has also taken on the responsibility of correcting `Host` headers, performing basic TCP probes, and will soon take on almost all

[2019-06-26 00:37] mattmoor commented on #4343
@vagababov fixed this.

[2019-06-26 00:37] #4343 closed

[2019-06-26 01:00] mattmoor commented on #3903
Yeah, I'd like to know why you think this, as this really should not be the case.

[2019-06-26 01:01] bappr commented on #4435
@mattmoor that's what I did. And it's working fine with a simple deployment.

[2019-06-26 01:05] mattmoor commented on #4054
`/target` is a hint for tuning our autoscaler(s), and not something we expect to be portable across all autoscaling implementations.  `containerConcurrency` is a part of our runtime semantics to help us capture FaaS-like workloads.

I'm going to close this for now, but if there are annotations you want to promote to fields, please open an issue and get it onto the Serving API WG agenda.

[2019-06-26 01:05] #4054 closed

[2019-06-26 01:09] mattmoor commented on #3731
cc @markusthoemmes

[2019-06-26 01:16] yanweiguo opened #4534 "Add logs for container in bad status"
## In what area(s)?

## Describe the feature
Add logs to indicate that user-container steps into/recovers from bad status.

If a request results in container crash and restart, the request returns 502 but there's no logs/events/ways to know what had happened.

For example, follow the steps below:
1. Deploy [autoscale-go](https://github.com/knative/docs/tree/master/docs/serving/samples/autoscale-go

[2019-06-26 01:18] yanweiguo commented on #4534
There's also a similar feature request in k8s: https://github.com/kubernetes/kubernetes/issues/69676

[2019-06-26 01:27] steren opened #4535 "Proposal: As a dev, my code is able to know when the request is expected to be terminated due to timeout"
/area API
/kind spec
/kind proposal

The `spec.timeoutSeconds` field on the Revision object allows to define the max time the instance is allowed for responding to a request. After which, the request is terminated.

# Use cases

As a developer, I would like to easily write code that is able to know when the request will be terminated.
This is particularly needed when I am doing long data processin

[2019-06-26 01:51] mattmoor commented on #3832
I believe Dan's new spec covers this, so assigning to him in 0.8

[2019-06-26 02:11] mattmoor commented on #4535
cc @dgerd

Bear in mind that `timeoutSeconds` is not the total duration of the request, but the time to *start* responding.  This is subtle, but IIRC well covered by our conformance tests.

I would be supportive of passing the remaining duration of the request via a `k-` prefixed header.

[2019-06-26 02:16] dgerd commented on #3832
I am going to close this as a duplicate of #4517

[2019-06-26 02:16] #3832 closed

[2019-06-26 02:27] mattmoor commented on #4013
cc @tcnghia

This doesn't look like a problem with our VirtualServices since we except 1-5 digit port numbers: `(?::\d{1,5})?` in each of our authority matches.  I wonder if this works for non-knative stuff with Istio and what the virtual service looks like?

[2019-06-26 02:29] mattmoor commented on #4119
I think reliable post-submit tracking with alerting is more important than pre-submit (for now).

[2019-06-26 02:31] dgerd commented on #4533
Validated that I cannot reproduce the bug in a 1.14 cluster

[2019-06-26 02:37] mattmoor commented on #4281
@tcnghia should this be fixed at HEAD?

[2019-06-26 02:39] dgerd opened #4536 "queue-proxy does not become ready"
## In what area(s)?

/area networking

## What version of Knative?

HEAD

## Expected Behavior

Containers all start up

## Actual Behavior

queue-proxy becomes stuck unready. This is likely a bad interaction between non-root users and the recent exec probe change. It seems to work fine at Serving 0.7, but breaks at HEAD.

Logs show queue-proxy coming up, but control plane shows it never going rea

[2019-06-26 02:41] mattmoor commented on #4536
cc @joshrider @greghaynes

[2019-06-26 02:43] mattmoor commented on #4536
I see 3 containers, so this may be a mesh-only problem?

[2019-06-26 02:46] mattmoor commented on #4227
/assign @dgerd

This seems like a minor documentation thing, which can be cleared up in our ongoing spec overhaul.

[2019-06-26 02:47] mattmoor commented on #4182
+1 to serving-operator

[2019-06-26 02:58] mattmoor commented on #4300
You need to set up the domain with both the cluster (for us to dispatch on) and your DNS provider (to route traffic to the gateway's IP address).  You shouldn't need to set up an ingress, but if you can share more details about any problems you are seeing then we can help resolve them.

[2019-06-26 02:58] #4300 closed

[2019-06-26 03:00] mattmoor commented on #4275
Going to close as a suggestion has been provided.  Let us know if you have further issues.

[2019-06-26 03:00] #4275 closed

[2019-06-26 03:02] mattmoor commented on #4177
@RPing Can you try to narrow down repro instructions (or better craft an e2e test) so that we can try to reproduce this?

[2019-06-26 03:14] mattmoor commented on #4117
@srinivashegde86 where are we with this?

[2019-06-26 03:15] mattmoor commented on #4253
Let's drop the number in 0.8

[2019-06-26 03:15] #4281 closed

[2019-06-26 03:17] vagababov commented on #4253
/assign

[2019-06-26 03:18] mattmoor commented on #4147
Haven't seen this in a while, and I suspect we eliminated this with the removal of `diagnose.go`

[2019-06-26 03:18] #4147 closed

[2019-06-26 03:23] mattmoor commented on #4435
@bappr do you mean a simple K8s Deployment of a Knative "deployment" (a la Service)?

[2019-06-26 03:25] bappr commented on #4435
I mean a simple K8S deployment created with the command `kubectl run something --image=myprivateregistry/image -n default`. This works and k8s is able to get my image.

However, it does not work with the Knative service.

[2019-06-26 03:28] mattmoor commented on #4435
@bappr and this is using GCR with image pull secrets attached to the default service account?

[2019-06-26 03:28] bappr commented on #4435
Yes

[2019-06-26 03:34] mattmoor commented on #4435
That's quite odd, as the "k8schain" package we are using should be using the core K8s logic to pass those credentials to the registry.

Can you confirm that putting it in the configmap makes things work?

[2019-06-26 03:34] mattmoor commented on #4435
Also, what type of credential is in the pull secret?

[2019-06-26 03:41] mattmoor commented on #4177
This code is now unused, so I'm going to remove it.

[2019-06-26 03:44] mattmoor commented on #4475
Adding to 0.8 to fix or close.

[2019-06-26 04:02] #4177 closed

[2019-06-26 04:07] mattmoor commented on #4533
@dgerd We should talk about this at the API WG tomorrow.  Hopefully we'll know some more by then, but we should try to make some sort of determination on this by next Tuesday in case we want to patch 0.7

[2019-06-26 04:13] mattmoor commented on #3903
This line at the bottom looks particularly interesting:
[code]

[2019-06-26 04:13] mattmoor commented on #3903
cc @tcnghia

[2019-06-26 04:22] mattmoor commented on #3903
It is notable and unfortunate that the activator and autoscaler crash looping until the envoy sidecar gets its programming is actually somewhat expected due to the fact that we expect a functioning network when the container starts, and envoy is black-holing outbound traffic.

I am puzzled by the absence of anything in the original pod logs that resembles what I'd expect during a CrashLoopBackoff

[2019-06-26 04:24] mattmoor commented on #4511
/assign @nak3

[2019-06-26 04:31] mattmoor commented on #1625
Needs HPA

[2019-06-26 05:01] mattmoor commented on #2086
So the basic autoscale-go image with the above `hey` command is actually fine, it is when it's used in conjunction with the `autoscaling.knative.dev/target: 10` annotation and the above command that it's a real problem:

https://github.com/knative/docs/blob/31c0374ae4bba7e31c58b9aa091932d7df6c4497/docs/serving/samples/autoscale-go/service.yaml#L24

I see a lot of jitter in the autoscaling decision

[2019-06-26 10:55] markusthoemmes commented on #3731
/assign

I'm fairly sure this is no longer needed. Gonna remove the checks.

[2019-06-26 12:50] bbrowning commented on #2086
@mattmoor The original issue was about sending requests to queue-proxy directly and seeing what kind of maximum concurrency it can sustain. But you're sending tests through the autoscaling layer which may impact being able to reproduce high concurrency to a single container depending on your containerConcurrency setting, right?

[2019-06-26 12:58] kevinsimper commented on #1767
@ZhiminXiang The link is broken, do you have a new one for people landing here from search engines? :)

[2019-06-26 13:14] mattmoor commented on #2086
@bbrowning thanks for clarifying.

I am able to reproduce a `cannot assign requested address` error very consistently with the above YAML, and the above `hey` command (no `containerConcurrency` limitations, just `target`), so I don't have to do anything particularly special to reproduce.

There may be other reasons to jack up those settings, but (as I tried them) they are insufficient to eliminate

[2019-06-26 14:38] mattmoor commented on #2086
You know what...  I wonder if this is the absence of a readiness probe in that sample.  I'll give it a test today.

[2019-06-26 15:33] yu2003w commented on #3620
@bbrowning  one service to service call failed. Detailed description please refer issue #4028

[2019-06-26 15:45] #4364 closed

[2019-06-26 17:17] #3731 closed

[2019-06-26 17:34] mattmoor commented on #4533
Here's how this is shaping up in my head....

By dark launching v1beta1 in 0.7 we bumped our minimum required Kubernetes version from 1.11 to 1.14 (the version where the fix landed), **this was unintentional**.

The "fix" for this is a relatively simple config-only change: strip [these](https://github.com/knative/serving/blob/cb5c1810f2690efa0c434bc81aab3a1d45df497f/config/300-revision.yaml#L28-L3

[2019-06-26 17:57] dgerd commented on #4533
WG Notes:

* Versioned clients -- what happens?
* Hard cut over upgrade -- Is it even possible? Does it work?

[2019-06-26 18:20] steren commented on #4533
Can you detail what "2. Release two version of the YAML (pre-/post-1.14)" means exactly?

[2019-06-26 18:24] greghaynes commented on #3885
Thanks - Im finishing up some client travel but should have some time tomorrow / Friday to work on this.

[2019-06-26 18:36] dgerd commented on #4533
The idea would be to release something like:

* `release-0.7-pre1.14.yaml`
* `release-0.7-1.14.yaml`

instead of our normal:

`release-0.7.yaml`

The diff between the two release YAMLs would be the addition of the "v1beta1" endpoint in the `1.14` version. The `1.14` version would have these three lines (L28-30) in each of the CRD objects to enable the endpoint: https://github.com/knative/serving/b

[2019-06-26 19:18] joshrider commented on #4014
Not to jinx anything, but the e2e tests just passed. Have some housekeeping and cleanup to do, but hope to have something up for feedback at the end of the week.

[2019-06-26 19:45] dgerd commented on #4533
I tested using `kn` to update a broken service. Using `kn` works to update the Service and 'fixes' it so future kubectl edits work. This seems to confirm our hypothesis that using versioned clients succeeds and is very likely why we did not catch this earlier in our upgrade tests.

Example:
[code]

[2019-06-26 19:45] dprotaso commented on #4511
/kind good-first-issue
/remove-good-first-issue

[2019-06-26 19:54] mattmoor commented on #4014
@joshrider That's awesome news, LMK when things are RFAL.

[2019-06-26 19:56] dgerd commented on #4227
Related to #4510

I will make sure that the new spec is consistent.

[2019-06-26 20:04] dprotaso commented on #4536
What K8s version are you using?

[2019-06-26 20:06] dprotaso commented on #4533
@dgerd Out of curiosity does a versioned v1beta1 client work?

[2019-06-26 20:35] dgerd commented on #4533
I have a feeling it is not going to work but I will try to add it in our
upgrade tests and give it a go.

On Wed, Jun 26, 2019 at 1:06 PM Dave Protasowski <notifications@github.com>
wrote:

[2019-06-26 20:43] vagababov commented on #4344
I think the burst capacity work for #1409 should solve this to some extent (modulo ideal load balancing).

[2019-06-26 20:50] vagababov commented on #3835
/close
I'm going to close it out

[2019-06-26 20:50] #3835 closed

[2019-06-26 20:52] vagababov commented on #3547
@lvjing2  are you still working on this?

[2019-06-26 21:01] vagababov commented on #3134
@markusthoemmes , does the work you did for HPA cover this?

[2019-06-26 21:03] vagababov commented on #3064
So our work for this, should be done, I presume? `MakeHPA` definitely does not set positive minimum if it's 0 in the annotation.

@markusthoemmes

[2019-06-26 21:09] vagababov commented on #2615
The issue here is that with sharded Activator we need to be able to reach out to the correct one, which adds complexity to the solution.

[2019-06-26 21:11] vagababov commented on #2524
/good-first-issue

[2019-06-26 21:11] vagababov commented on #2497
@mattmoor  do we want this for v1?

[2019-06-26 21:13] vagababov commented on #2480
No updates. Closing
/close.

[2019-06-26 21:14] vagababov commented on #2480
/close

[2019-06-26 21:14] #2480 closed

[2019-06-26 21:16] vagababov commented on #2475
I think is not the case anymore. So I am inclined to close the issue.
/close

[2019-06-26 21:16] #2475 closed

[2019-06-26 21:17] vagababov commented on #2467
I am tentatively closing this due to inaction. If this is still something you think we need, please reopen
@lvjing2

/close

[2019-06-26 21:17] #2467 closed

[2019-06-26 21:19] vagababov commented on #2328
Looks like duplicate of #4098
Keeping the newer number
/close

[2019-06-26 21:19] #2328 closed

[2019-06-26 21:20] vagababov commented on #2145
/milestone Ice Box

[2019-06-26 21:21] mattmoor commented on #2497
I wouldn't block on it unless we want it to be our HA strategy.  Operators can choose to restrict it with a node selector if they really want, I suppose.

[2019-06-26 21:22] vagababov commented on #1956
The current _default_ value is 0.7, so we can iterate on it in future, but for now I don't think we're doing here anything.

[2019-06-26 22:23] yanweiguo commented on #4536
cc @hohaichi

[2019-06-26 22:37] tcnghia commented on #4385
/area api

[2019-06-26 22:37] tcnghia commented on #4385
/area-remove networking

[2019-06-26 23:05] tcnghia commented on #2648
We no longer publish Istio yaml so this bug doesn't apply.  Our approach now is that we test our bits with multiple configuration of Istio to have enough coverage for users to choose their own Istio configuration.

[2019-06-26 23:05] #2648 closed

[2019-06-26 23:06] #2850 closed

[2019-06-26 23:06] #1952 closed

[2019-06-26 23:13] tcnghia commented on #4536
@hohaichi hit this issue but due to an older `ko` that `/ko-app/queue` does not exist.

[2019-06-26 23:17] tcnghia commented on #4100
@mpetason we are planning this for 0.8.0 which is August 06.  Would you be able to target that timeline?  Thanks

[2019-06-26 23:18] tcnghia commented on #3276
@tanzeeb given the blockers I'd put this in Ice Box and will revisit after 0.8/v1.

[2019-06-26 23:20] tcnghia commented on #3274
we no longer ship an Istio yaml and leave Istio installation to the users.  Our approach is that we will test Knative with various ways of setting up Istio to have good enough coverage (different Istio versions, whether sidecar is injected or now) to enable the users to choose their own Istio installation.

If there are Istio installation challenge please follow up at https://github.com/istio/isti

[2019-06-26 23:20] #3274 closed

[2019-06-26 23:22] #2598 closed

[2019-06-26 23:22] #3241 closed

[2019-06-26 23:26] #3874 closed

[2019-06-26 23:28] tcnghia commented on #4013
I believe this is because the Gateway is setup to declare only port `80`, and Istio uses this information in Envoy.

Can you please try `kubectl edit -n knative-serving gateway knative-ingress-gateway` and add the port 31380 to see if this resolves your issue?

[2019-06-26 23:55] tanzeeb commented on #4183
I think we'll need a higher resolution way to track route-ableness.

The heartbeat only gets updated once per `stale-revision-lastpinned-debounce` period, which defaults to 5h, and which point we might as well just wait for garbage collection.

[2019-06-27 00:39] jonjohnsonjr opened #4549 "Clean up ECR credential patch"
In https://github.com/knative/serving/pull/4084, we added a patch in order to backport some changes in kubernetes to fix https://github.com/knative/serving/issues/1996. Those changes landed in 1.15.

Once we are able to update our dependencies to 1.15, we can just drop that patch.

X-ref: https://github.com/google/go-containerregistry/issues/355

/area API
/area test-and-release
/kind process

[2019-06-27 00:44] dgerd commented on #4536
This was with K8s 1.14 and Istio 1.2 installed using the instructions from development.md at head

Let me try updating ko

[2019-06-27 00:55] tcnghia commented on #4536
@dgerd if the issue still persists, can you please attach an output of a manual `kubectl exec` using the ExecProbe's cmd?

[2019-06-27 01:35] csantanapr commented on #4507
Pod count dashboard is fix via the change mentioned.

The http request dashboard still missing data.
Does this dashboard depend on having istio sidecars injected into ksvc?
 I assumed that the metrics came from Knative side card and no istio side card was required.

[2019-06-27 02:06] duglin commented on #4098
The runtime contract says:
- - -
On the initial deployment, platform providers SHOULD start an instance of the container to validate that the container is valid and will become ready. This startup SHOULD occur even if the container would not serve any user requests.
- - -
Notice the SHOULDs in there. They are not MUSTs. Therefore it is optional. We should allow for the user to leverage this option

[2019-06-27 02:36] mattmoor commented on #4183
@tanzeeb that assumes the default GC settings, which are fairly aggressive.  I believe in CR-GKE we have this cranked up to retain revisions for like 30 days, so by comparison 5 hours doesn't seem so bad.  In fact, I would argue that staying at `minScale` for that cooldown period is desirable in case a quick rollback is needed.

[2019-06-27 05:20] mattmoor commented on #4098
ok, I'll elaborate on "fundamental".

I'm reminded of the time that someone on the cloud dataflow team checked in a python syntax error that caused their container to crash on startup.  You might not think that's such a big deal, but their integration testing environment decided to let 1000 or so VMs sit in this state overnight set to `imagePullPolicy: Always` (as in, pull the image every containe

[2019-06-27 05:29] bappr commented on #4435
@mattmoor so no it still does not work even after modifying the configmap (I added `asia.gcr.io`)

And yes I am using `_json_key` for the image pull secret.

[2019-06-27 05:39] mattmoor commented on #4435
@bappr it might be easier to debug this if we manage to connect on slack?  Do you want to start a group chat with @jonjohnsonjr and myself?

[2019-06-27 05:46] bappr commented on #4435
Sure. Done

[2019-06-27 05:58] duglin commented on #4098
I'm not questioning the need for this type of check in some cases. What I'm questioning is the need for this type of check in *all* cases, which is what Kn currently does. I think having an option to allow people to choose the behavior they want is the most appropriate. As stated above, in cases where time is money, people need to be given the choice of whether they want the cost of this check.

[2019-06-27 06:06] hohaichi commented on #4536
I upgraded ko and the problem resolved---thanks to @Nghia Tran
<nghia@google.com>

On Wed, Jun 26, 2019 at 5:55 PM Nghia Tran <notifications@github.com> wrote:

[2019-06-27 06:06] markusthoemmes commented on #3064
@vagababov Nope, it's not. The idea in this case is to support all of the different SKS modes in our HPA path as well so that if we drop to 0 endpoints, we plumb in the activator etc.

I expect that to be a little more plumbing work but definitely not yet done.

[2019-06-27 06:06] markusthoemmes commented on #3134
@vagababov it does not, no.

[2019-06-27 06:16] mattmoor commented on #4435
Alright, so we figured it out.

Kubernetes supports a special non-standard form of credential in their keyring, which allows credentials to be selected based on a repository (e.g. `asia.gcr.io/foo`), not just a registry (e.g. `asia.gcr.io`).

I believe this is because `imagePullSecrets` are specified at one or both of the Pod or ServiceAccount level (vs. the Container level), which means that you

[2019-06-27 12:22] bappr opened #4554 "Network Policies Not Working?"
## In what area(s)?

## What version of Knative?

## Expected Behavior

Network Policy should work.

## Actual Behavior
I am able to wake up and call _foo.n2.svc.cluster.local_ from _n1_ while _n1_ is network policy protected. It only works once then does not work

Once _foo_ is up and running, I am not able to call it anymore from _n3_ while it is allowed in my policies.

No issues with basic k8s

[2019-06-27 16:42] tcnghia commented on #4554
@bappr do your Knative pods in these case have sidecar injection?

You can find out by checking how many containers are running.  In the case with sidecar injection we see 3 containers per pod, otherwise 2.

[2019-06-27 16:51] bappr commented on #4554
Yes they have

[2019-06-27 16:52] rgregg commented on #4183
5 hours is better than never, but I agree that this feels pretty long and isn't what a user would expect. Could we increase  the default heartbeat frequency to X minutes without negatively impacting anything?

While the "hot rollback" scenario is interesting, it's not a high priority from my perspective. Ensuring that a cluster doesn't end up with the minScale  of every revision I deploy (which me

[2019-06-27 16:52] dgerd commented on #4536
I think this can be resolved. I cannot reproduce this after updating ko.

[2019-06-27 16:52] #4536 closed

[2019-06-27 17:36] tcnghia commented on #4554
@bappr Knative does not have any special logic to enforce or ignore NetworkPolicy.  All policy enforcement is delegated to Istio.

We can try to explore further why this setting doesn't work, but I am not sure this is a bug on our side.

[2019-06-27 17:38] mattmoor commented on #4183
What I'm worried about is conflicting mental models for how `minScale` works (or even breaking things):
1. `minScale` means I should have at least that many replicas for this Revision, which leads to...
1. We should wait for `minScale` replicas before declaring a Revision "Ready".
1. We should ignore `minScale` when a Revision is not routable.
1. Route won't target a Revision that isn't "Ready".

[2019-06-27 17:39] mattmoor commented on #4183
(my point with chicken-egg, is there's a lot of things that will likely need little tweaks to achieve the desired end-state, not that this should be the end-state)

[2019-06-27 18:26] dgerd commented on #4533
The current thought on this is:

1. Release both a 0.7.1 "beta" yaml and an "alpha" yaml. This lets users and vendors choose which API versions to enable. The "beta" yaml will have both v1alpha1 and v1beta1 endpoints enabled. The "alpha" yaml should work on all K8s versions 1.11+ and "beta" yaml should work on all K8s versions 1.14+.
2. The "default" CRDs (i.e. `ko apply -f config/`) will be the v

[2019-06-27 18:58] jonjohnsonjr opened #4557 "Pod failures"
This is a tracking issue for detecting and surfacing problems with a user's pods. There are a variety of failure modes, and so far we've been dealing with them in a very ad-hoc manner. Let's enumerate them here and start a discussion towards a more deliberate solution so we don't have to continue playing whack-a-mole.

### Detection

We currently try to detect pod failures [in the revision reconci

[2019-06-27 19:00] jonjohnsonjr commented on #4557
/cc @mattmoor

Took a stab at this just to get my thoughts written down. I'll try to keep this updated to reflect any discussion here or newly discovered failure modes. LMK if I missed anything.

[2019-06-27 22:01] dgerd opened #4561 "Service's RoutesReady is 'Unknown' when Route's Ready is 'False'"
## In what area(s)?

/area API

## What version of Knative?

0.7
HEAD

## Expected Behavior

When my Route is marked as "Ready" = False then "RouteReady" should be False.

Likely the Route is not doing the right thing with observedGeneration when marking the it as Ready = False.

## Actual Behavior

Service's "RoutesReady" stays in "Unknown"

### Service
[code]

### Route
[code]

## Steps to Repro

[2019-06-27 22:13] jonjohnsonjr commented on #4120
Pinging this since that PR got merged into `ko`.

[2019-06-27 22:14] mpetason commented on #4100
@tcnghia I am working on it but I don't think I will have it done in time for 0.8.0. I'm getting help from Ryan Moe.

[2019-06-28 01:04] #4118 closed

[2019-06-28 01:32] bappr commented on #4554
Yes I got not issue with simple k8s deployment with istio-proxy, that's why I am asking. ;)

[2019-06-28 06:37] rakelkar opened #4564 "Route stuck at ConfigurationMissing (but configuration is present)"
## In what area(s)?
Serving

## What version of Knative?

## Expected Behavior

Expected a route to get created (eventually)

## Actual Behavior
I think the issue is that configureTraffic returns nil, nil in this case:
[code]

Which then causes the reconciler to return nil (since error=nil) which means it thinks it has reconciled, when in reality it should have looked again!

[code]

Output that s

[2019-06-28 06:43] rakelkar commented on #4564
also deleting the route fixes the issue since the controller wakes up and does the right thing... not sure why the code thinks the missing case is a terminal error? that seems wrong!
[code]

[2019-06-28 12:02] knative-flaky-test-reporter-robot opened #4565 "[flaky] test/upgrade.TestProbe"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestProbe
* **Repository name**: serving

[2019-06-28 12:02] knative-flaky-test-reporter-robot opened #4566 "[flaky] test/upgrade.TestRunLatestServicePostUpgrade"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestRunLatestServicePostUpgrade
* **Repository name**: serving

[2019-06-28 12:02] #4385 closed

[2019-06-28 12:45] sayanh commented on #2524
Hi @vagababov I would like to take this up as my first issue. Can you please assign it to me?

[2019-06-28 12:57] markusthoemmes commented on #2524
/assign @sayanh

[2019-06-28 13:24] knative-flaky-test-reporter-robot opened #4567 "[flaky] pkg/queue.TestBreaker_Timeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/queue.TestBreaker_Timeout
* **Repository name**: serving

[2019-06-28 15:02] dprotaso commented on #4536
For additional context:

Our revision reconciler is 'aware' of the path of the binary `ko` produces

https://github.com/knative/serving/blob/3d12f362238760800b78ae3d677a9e508a92ee68/pkg/reconciler/revision/resources/queue.go#L63-L65

[2019-06-28 15:42] #1996 closed

[2019-06-28 17:42] tcnghia commented on #4564
@rakelkar this is a requirement from the spec

https://github.com/knative/serving/blob/master/docs/spec/errors.md#configuration-not-found-by-route

Is it possible for you to create the Configuration first?

/cc @mattmoor @evankanderson

[2019-06-28 17:43] tcnghia commented on #4564
/area api
/area networking

[2019-06-28 18:16] evankanderson commented on #4564
The `ConfigurationMissing` reason should be removed when the Configuration is created and has a `latestReadyRevision` present.

It may be that we aren't correctly reconciling the Route when we discover that the Configuration is created (i.e. that we can only watch for changes to an existing thing, not to a not-yet-existing thing). If so, this might also be reproducible by creating a Route which po

[2019-06-28 18:18] evankanderson commented on #4564
/remove-kind question

[2019-06-28 18:50] jonjohnsonjr commented on #4564
The way that we're watching these changes uses a `Tracker` between the informer and the reconciler. There may be subtle bugs there. My initial thought was that there might be a race between when we start tracking and when the Configuration was created, but [this comment](https://github.com/knative/pkg/blob/1864f499dcaa98b9de0e46faa40861591b678f03/tracker/enqueue.go#L101-L114) makes me thing I'm wr

[2019-06-28 19:27] rakelkar commented on #4564
A recent refactor does appear to be invoking the route reconciler before the configuration reconciler..! Going to swap the order!
https://github.com/kubeflow/kfserving/blob/696d9c9cdc141f45100cf9f32292bab88a60ed32/pkg/controller/kfservice/kfservice_controller.go#L149

[2019-06-28 19:29] rakelkar commented on #4564
As an aside the reconciler works as expected when it doesnt hit this race... going to close this issue, thanks for the help in finding the root cause - I'll reopen if it turns out this is not the root cause :)
[code]

[2019-06-28 19:29] #4564 closed

[2019-06-28 21:40] mattmoor opened #4569 "Traffic block update with auto-TLS configured results in lost traffic"
## In what area(s)?

/area networking

## What version of Knative?

## Expected Behavior

No traffic loss during rollout.

## Actual Behavior

It appears as if traffic is dropped while the certificate is being replaced.

## Repro steps

I was changing the traffic block to add `tag:` to certain splits, and saw TLS errors on the main route, which had been working previously.

[2019-06-29 02:16] mattmoor commented on #4557
@jonjohnsonjr had a chance to read through.  Great writeup, and I agree with your categorization.  Looking forward to seeing it in action :)

[2019-06-29 12:02] #4565 closed

[2019-06-29 12:02] #4566 closed

[2019-06-29 15:02] nak3 opened #4574 "Some of the config/*.yaml do not have license header"
## In what area(s)?

/kind process
/kind spec

## What version of Knative?

## Expected Behavior

- All config file (`config/*.yaml`) have license header like https://github.com/knative/serving/blob/master/config/200-clusterrole-metrics.yaml#L1-L13.
- presumit test and auto generate script support the license header check and generation (if possible).

## Actual Behavior

Some of the `config/*.yam

[2019-06-29 15:09] nak3 commented on #4574
cc @mattmoor

[2019-06-29 15:27] mattmoor commented on #4574
@nak3 Thanks for spotting this!

[2019-06-30 12:01] knative-flaky-test-reporter-robot opened #4576 "[flaky] pkg/queue.TestTimeToFirstByteTimeoutHandler/write_then_sleep"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/queue.TestTimeToFirstByteTimeoutHandler/write_then_sleep
* **Repository name**: serving

[2019-06-30 12:01] knative-flaky-test-reporter-robot opened #4577 "[flaky] pkg/queue.TestTimeToFirstByteTimeoutHandler"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/queue.TestTimeToFirstByteTimeoutHandler
* **Repository name**: serving

[2019-06-30 12:01] #4567 closed

[2019-06-30 12:01] knative-flaky-test-reporter-robot opened #4578 "[flaky] test/e2e.TestActivatorOverload"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestActivatorOverload
* **Repository name**: serving

[2019-06-30 17:59] ryandawsonuk opened #4579 "ReadMany PVCs"
Whether to support PVCs has been discussed before and there have been a couple of comments on closed threads asking what the conclusion was - https://github.com/knative/serving/issues/2025#issuecomment-498140953 and https://github.com/knative/serving/issues/2260#issuecomment-499223538. (There are also projects making decisions about using knative serving that relate to this question https://github

[2019-06-30 22:44] mattmoor commented on #4579
Yes, I think that's accurate, although we've recently begun to wonder whether we should allow arbitrary volumes, but limit all _mounts_ to read-only.  There are still ways users can shoot themselves in the foot with this, but they cannot write out state to volumes.

cc @dgerd

[2019-07-01 00:00] #4449 closed

[2019-07-01 02:08] duglin commented on #4579
I don’t see why we would impose additional limitations beyond what kube does. If someone can run their app in kube with write volume support, and scale it via deployments, I don’t see any reason to block that same app from running under Knative.

Sent from my iPad

[2019-07-01 02:23] taragu commented on #4561
I'd like to work on this issue

[2019-07-01 11:17] TimonB commented on #4013
Same problem here. Adding the port 31380 to knative-ingress-gateway did not fix the problem. Any ideas?

[2019-07-01 13:03] #822 closed

[2019-07-01 16:25] #4501 closed

[2019-07-01 18:27] taragu commented on #4561
`RoutesReady` is set to `Unknown` in [`checkRoutesNotReady`](https://github.com/knative/serving/blob/master/pkg/reconciler/service/service.go#L246) by calling `service.Status.MarkRouteNotYetReady()`. [`MarkRouteNotYetReady`](https://github.com/knative/serving/blob/master/pkg/apis/serving/v1alpha1/service_lifecycle.go#L131) should set the state to `False` instead of `Unknown`. The method `MarkRoute

[2019-07-01 20:00] duglin opened #4589 "Allow for faster scale-down times"
## In what area(s)?
/area autoscale
/kind proposal

## Describe the feature

Currently there are two config options that control scaling times:
[code]
I believe the first one (stable-window) will control how long an instance is idle before the system determines that it is eligible for termination/scale-down. I believe there is a hard-coded minimum of 2 seconds.

The second one (scale-to-zero-grace

[2019-07-01 20:02] duglin commented on #4340
Can you elaborate on this one?

[2019-07-01 20:22] vagababov commented on #4589
We already have #4453 which should try to lower down `scale-to-zero-grace-period`, but as @markusthoemmes we cannot guarantee request success with that number being 0.

[2019-07-01 20:48] dgerd commented on #4579
#4417 is related to this.

This has been a technical challenge to enabling support for additional volume types, and one of the primary reasons for moving it currently out of scope. Some other reasons that Matt mentioned on an earlier thread:

1. Typically impacts cold start latency -- Is this something that users realize? What is the exact impact? Do users expect the same autoscaling performance w

[2019-07-01 22:01] taragu commented on #4470
I'd like to work on this issue

[2019-07-01 22:07] yanweiguo commented on #4470
/assign @taragu

[2019-07-01 22:36] josephlewis42 opened #4591 "Plumb through user-defined labels to Pods"
## In what area(s)?

/area autoscale
/area monitoring

## Describe the feature

We'd like the [standard `app.kubernetes.io/*` labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/#labels) to be plumbed through Knative serving to pods.

These labels will help users better attribute costs to particular workloads, manage applications and permissions around the appli

[2019-07-01 22:45] dgerd commented on #4173
Discovered #4561 looking at this. We do not flip to False, but we do stay Unknown in too many conditions.

[2019-07-01 23:02] dgerd commented on #4561
@taragu thanks for your interest in picking up this issue!

If you check out our [error spec](https://github.com/knative/serving/blob/master/docs/spec/errors.md#knative-serving-condition-status) you can find the meeting of the various states. 'Unknown' should be expressed when we are actively working on making something happen and 'False' should occur when a failure has occurred.

The `checkRoutes

[2019-07-01 23:11] dgerd commented on #4507
@csantanapr It used Istio metrics up through Knative 0.6. This has been changed in 0.7 to enable metrics without sidecar.

See https://github.com/knative/serving/commit/4e5cf96539aec706d486efdbb4ad4f996ee096ee

[2019-07-02 00:01] vagababov commented on #4561
As discussed, I concur, that setting a condition to False is still an application of the spec, so should result in the generation matching.

[2019-07-02 00:38] csantanapr commented on #4507
I will try with 0.7 and report back

[2019-07-02 01:28] duglin commented on #4340
Just to make the proposal a bit more formal, and to add some of my thinking behind it:

I'd like to propose the following annotations be made top-level properties (siblings to ContainerConcurrency):
- serving.knative.dev/visbility
- autoscaling.knative.dev/minScale
- autoscaling.knative.dev/maxScale

My thoughts....
- serving.knative.dev/visbility : As we ask people to split up their monoliths int

[2019-07-02 02:43] taragu commented on #4561
@dgerd thank you so much for the explanation! I created PR #4594. Please let me know if my understanding is incorrect.

[2019-07-02 03:53] mikehelmick commented on #4522
Another vote for using Eventing to handle this (turning a sync request into an async request).

Also, there is room for serverless products for handling long running job, but currently, I think this it outside the charter of knative/serving.

[2019-07-02 08:15] yu2003w opened #4597 "404 error for short FQDN between Knative services when Istio-injection enabled"
## In what area(s)?

/area networking
/area test-and-release

## What version of Knative?

HEAD

## Expected Behavior
Deploy two service, httpproxy and helloworld with Istio-injection enabled. helloworld is only visible within cluster.
Then send request to the service, Response should be 200 ok.
[code]

[code]

## Actual Behavior
[code]

If Istio-injection is not enabled, response is 200.

## Step

[2019-07-02 08:32] mattmoor commented on #3000
closing this, we think the activator overload test handles this.

[2019-07-02 08:32] #3000 closed

[2019-07-02 08:46] mattmoor commented on #3210
@tcnghia Can we raise this now?  I think you moved us to 1.2?  No mesh should also help

[2019-07-02 12:02] #4578 closed

[2019-07-02 12:02] #4239 closed

[2019-07-02 12:02] #4576 closed

[2019-07-02 12:06] duglin commented on #4522
I'm not following the relationship to eventing. The connection between a client and the KnService is not an event. It shouldn't be morphed into a CloudEvent, or go thru brokers, triggers, fanned-out, etc. Nor can we assume it's a small message exchange - it could be something more like a stream. I also wouldn't expect the client to change how it interacts with a KnService based on whether it's doi

[2019-07-02 12:20] duglin commented on #4522
Thinking more about the tie-in with eventing... if what's meant is that something in the normal flow detects the "run this in async mode" flag, and as a result redirects the request to some eventing component because it knows how to store responses in some kind of persistence, then that's just an impl detail. But converting it to a CloudEvent seems odd.

In the end though, a KnService is called an

[2019-07-02 13:01] mattmoor commented on #4014
@joshrider did you jinx it? 😲

[2019-07-02 13:29] mattmoor commented on #4597
cc @tcnghia

[2019-07-02 13:34] mattmoor commented on #3885
I'm excited to see your beautiful traces with the results 🍿

[2019-07-02 14:31] mbehrendt commented on #4522
@mikehelmick can you pls point me to that charter?

[2019-07-02 14:34] mbehrendt commented on #4522
re 'handling async via eventing' , adding to what @duglin said above: if we somehow magically handled it via eventing, you still have the issue that somehow under the cover the knservice gets called synchronously. I.e. you're bound to the max execution time associated with synchronous calls, and to the resource consumption implied by potentially keeping 1000's of http connections open.

[2019-07-02 14:58] greghaynes commented on #3885
Just added https://docs.google.com/document/d/1KYxZSMYwRL27y-wFzd0Pq2vHcouL4bb9C15R-UVmroE/edit with some context for the larger changes ive been doing here

[2019-07-02 15:03] markusthoemmes commented on #404
Given our vast improvements wrt. boilerplate and since we're also working on an operator right now: Do we still want this or is knative.dev/pkg/controller our way to go?

[2019-07-02 15:15] markusthoemmes commented on #2179
/close

Documented and checked at compile time now.

[2019-07-02 15:15] #2179 closed

[2019-07-02 15:29] markusthoemmes commented on #2275
This is weird indeed. 🤔 We load it from the filesystem initially but then update based on actual events via the API.

[2019-07-02 15:30] joshrider commented on #4014
Guess it's hard to argue that I didn't at this point...

Just put something up with a WIP tag. #4600
Lots to look at and feedback greatly appreciated. Will also need to be shepherded through CLA-land manually.

@mattmoor @dgerd

[2019-07-02 15:33] markusthoemmes commented on #2485
Do we want to track this given we have a lean setup for Istio now?

[2019-07-02 15:33] markusthoemmes commented on #2428
Any news on this? Do we really want to do this? Feels like it could/should be universal to other settings as well?

[2019-07-02 15:34] markusthoemmes commented on #2496
Is this something we still plan to do in the cold-start optimization bucket?

[2019-07-02 15:34] greghaynes commented on #2485
Are you referring to the CNI adapter? It'd be great to get some numbers on what that costs us in terms of cold start.

[2019-07-02 15:35] greghaynes commented on #2496
I think this is potentially useful but in terms of cost v benefit is very low on the list. Any delay here would show up as delay in our controlplane and the entire controlplane delay I see is on the order of ~100ms.

[2019-07-02 15:36] markusthoemmes commented on #2615
Is this still valid given we're attacking this from a different angle (probing pods from the activator, #3885)

[2019-07-02 15:37] mbehrendt commented on #4522
@mattmoor can you pls elaborate on which other forms of addressable compute you're referring to? Are there special semantics behind you emphasizing the _currently_? E.g. is there sth cooking behind the scenes?

[2019-07-02 15:38] greghaynes commented on #2615
Nope :)

[2019-07-02 15:38] #2615 closed

[2019-07-02 15:47] markusthoemmes commented on #2843
@dprotaso got more context on what we could clean up here?

[2019-07-02 15:53] markusthoemmes commented on #2878
Is this still an issue? @PMarci

[2019-07-02 16:05] nimakaviani commented on #4522
Also I updated the original requirements with the following item:

[2019-07-02 16:15] duglin commented on #4522
it might be good to separate out UX from impl details/requirements.

From a UX perspective:
- the endpoint for a KnService should be the same regardless of whether it is invoked synchronously or asynchronously
- while it may be possible for a KnService to declare itself as an async service (and therefore all requests are treated as such and a 202 is returned immediately) that is not the case we're

[2019-07-02 17:52] PMarci commented on #2878
@markusthoemmes
I needed Knative as part of a PoC project for my job, so sadly I wasn't able to invest more time into figuring it out. I remember being able to get everything working properly at least once, so I blame the error on some network strangeness beyond my control.

[2019-07-02 18:00] ZhiminXiang commented on #1767
@kevinsimper It is back now.

[2019-07-02 18:27] dgerd commented on #4522
Some questions I have about the proposal:

* At a high-level, how does the tracking and management of async tasks not turn into a workflow manager like Apache Airflow ( https://github.com/apache/airflow )? Why should this be built into Knative Serving rather than orchestrated on-top?
* Knative Serving today relies on HTTP information to provide the "serverless magic" of autoscaling both up and dow

[2019-07-02 18:28] vagababov commented on #4597
[code]

[2019-07-02 18:30] vagababov commented on #4597
This worked fine for me with injection on. On GKE.
Can you modify the binary to log the actual HTTP proxy error in the `httproxy`?

[2019-07-02 18:31] ZhiminXiang commented on #3978
You just need to set up `cert-manager`. And `cert-manager` will automatically add TXT record for you to fulfill DNS01 challenge. You don't need to manually do that.

And `cert-manager` will also automatically renew your certs every 3 month. You don't need to manually update the TXT every 3 month.

[2019-07-02 18:31] #3978 closed

[2019-07-02 19:11] dushyanthsc commented on #779
Forward to discussion with @dgerd closing this issue. In the future, if needed we can re-open this issue.

[2019-07-02 19:11] dushyanthsc commented on #779
/close

[2019-07-02 19:11] #779 closed

[2019-07-02 19:27] nimakaviani commented on #4522
My thoughts in the same order as the questions above:

- I cannot quite establish the link between the workflow manager and async requests. It's not the flow that matters but instead, the processing of a single request and storing the results for later retrieval without the persistent external connection. how does the flow help? what am I missing?
- Busyness for a pod and whether or not a request

[2019-07-02 20:20] dgerd commented on #4591
This should be possible today. The behavior for label propagation is:

* Labels from Knative Services are propagated to Knative Configuration and Knative Route objects
* Labels from Knative Services' `spec.template.metadata` are propagated to Knative Revisions, K8s Deployments, and K8s Pods

If you would like to have the labels applied to your Pods your YAML should look like:
[code]

If you would

[2019-07-02 20:25] dgerd commented on #4533
0.7.1 has been cut. Closing this issue.

[2019-07-02 20:25] #4533 closed

[2019-07-02 20:26] vagababov commented on #4522
This contradicts the model we've been operating with.

and

I dont' see how Q-P can achieve that.

1. How would it determine which request is async and which one is sync, since according to your model, async is fire-and-forget kind? This needs request annotation of sorts.
1. Currently we reason about the load, presuming each request cost about the same (cost being 1 request in flight). Async reque

[2019-07-02 20:34] josephlewis42 commented on #4591
Ah, that makes sense. So, in order to track all the resources back to apps, I'll have to set labels on both places. Thanks!

[2019-07-02 20:34] #4591 closed

[2019-07-02 20:46] dgerd commented on #4591
Yep. Just going to add here for those that might search for this in the future:

We propagate labels to Configuration and Route because there is a consistent 1:1 relationship with Service. This allows us to update Configuration or Route for every change to Service metadata.

We do not propagate down to Revisions (or Pods/Deployments) as new Revisions are stamped out for each change to `spec.templa

[2019-07-02 21:22] yanweiguo commented on #3416
I'm going to pick this up not waiting #3134. We already have OPS metric from queue-proxy.

Concurrency and QPS(OPS) are mostly common metrics used for autoscaling. We can treat them differently or we can convert the way how we use them as custom metrics after #3134 lands if we want.

/assign

[2019-07-02 21:42] nimakaviani commented on #4522
correct. like @dug suggested earlier

and sure there is a change in RTC too. But it is an additive change and backward compatible.

I am not sure if I understand the above. KPA works based on the number of requests and last time I checked, it supports scaling on cpu too. Even now, `revision.spec.timeoutSeconds` has a [default value of `5m`](https://github.com/knative/serving/blob/50cdf8762deae58ed

[2019-07-02 21:48] jonjohnsonjr commented on #3456
/assign

[2019-07-02 22:08] vagababov commented on #4522
KPA never scaled based on CPU. Only on concurrency.

[2019-07-02 22:37] markusthoemmes commented on #2878
/close

Thanks!

[2019-07-02 22:37] #2878 closed

[2019-07-03 01:28] steren commented on #4522
Long processing times is a a feature request that I've heard from many customers.
This is likely due to the fact that Cloud Run and Cloud Run on GKE have a maximum request timeout of 15 minutes. As mentioned in the first comment, the use cases are often about compute intensive tasks and data transformation.

Assuming that our goal is to allow customers to do long processing (O(hours)), it makes se

[2019-07-03 02:11] zxDiscovery opened #4603 "Do we have plan to test the istio 1.2 integration with knative 0.6"
## In what area(s)?

## Ask your question here:

Now the istio released the 1.2 version. Do we have a plan to test knative 0.6 can run normally on istio 1.2?

[2019-07-03 02:55] vagababov commented on #4603
/close
duplicate of #4437

[2019-07-03 02:55] #4603 closed

[2019-07-03 06:46] yu2003w commented on #4597
@vagababov I updated  httputil/reverseproxy.go to add some logs as bellow,
[code]
Redeploy and get following output,
[code]
It seemed that short name "helloworld-test-image.default" couldn't be resolved within httpproxy.

[2019-07-03 09:44] savitaashture commented on #4182
Hi @tcnghia

As per @bbrowning comment https://github.com/knative/serving/issues/4182#issuecomment-499470850 he mentioned that its tangentially related to https://github.com/knative/serving/issues/3706

So just wanted to make sure that can we implement this as a separate part in knative/serving-operator or do we need to wait untill we finalize the discussion for https://github.com/knative/serving/

[2019-07-03 09:59] mattmoor commented on #4098
My point is that the cost to users of not having this check is outages.

The cost of having this check varies wildly by how a platform vendor decides to charge end-users.  If I pay for K8s and run this on top, then there is effectively zero billing impact.  If I pay-per-request, then there is effectively zero billing impact (unless you meter and charge for probes).  If I pay by resource usage over

[2019-07-03 10:36] mattmoor commented on #4522
Nothing behinds the scenes, the whole point of Addressable is to enable Eventing to compose with things other than Serving.  Today Channel is Addressable and can deliver events to a K8s Service over a Deployment.  I have also built several other PoCs (all OSS on github) that implement Addressable and compose with Eventing, but nothing in this category (nor secret).

I honestly think it would take

[2019-07-03 11:04] mattmoor commented on #4340
`minScale` means you get that many pods even if you aren't reachable from a Route, which is a consistent stumbling block for users.  I don't think that we can yet articulate the semantics of `minScale` well enough to justify it's inclusion in our spec.  We should revisit this after the 0.8 changes land 🤞 .  `maxScale` is clearer, but if `minScale` is up for discussion, then I'd like to consider th

[2019-07-03 11:06] duglin commented on #4522
Many of the questions you ask can be asked of just about anything in Kn. For example your question about durability of the responses applies to durability of events in brokers/bchannels. We solve this via configuration and pluggability of components so people can choose how to answer the question for their own needs. We don't have to have a one-size-fits-all answer for everything.

While I think s

[2019-07-03 11:13] duglin commented on #4340
I agree minScale and maxScale should be considered together.

re: visibility... one thing that we should discuss is whether a top-level property means that it MUST be supported by all instances of Knative.  I don't think it does. At a base Knative level I think having something listed as a top-level property can just mean that we've define what the flag looks like so that IF someone does support i

[2019-07-03 11:31] duglin commented on #4098
What you stated above is a fine set of choices but those are just choices and based on what's out there today not all serverless platforms are making those choices (none in my quick/narrow check are). See https://github.com/knative/serving/issues/4522#issuecomment-508048150

re: charging model and who pays those costs... Kn should not be in the business of telling companies what their charging mod

[2019-07-03 13:50] vagababov commented on #4597
You still '.svc', i think

[2019-07-03 14:48] mbehrendt commented on #4098
I agree with @duglin .

For this to be a truly vibrant and open community effort, I think it is important to accept other valid positions and not assume my own position is the only true one on this planet. In particular, when they can be enabled with a simple config parameter.  Also, hand-coughing other vendors to implement a given cost model by changing the runtime contract to a single prescripti

[2019-07-03 14:50] vagababov commented on #4522
I do concur, that this is more like a different product `async` `batch` or however you want to call it.

Besides durability there are questions like checkpointing, restarting/retrying, etc.

This all just feels like a different product in general.

[2019-07-03 14:53] yu2003w commented on #4597
It only works with full FQDN if Istio sidecar injected.
Tested again using domain name "helloworld-test-image.default.svc".
[code]
short FQDN works well without Istio-injection.

[2019-07-03 15:02] duglin commented on #4522
I'm wondering why things like batch, checkpoints, restarting... are mentioned as features when they are not part of the proposal. If a pod running async dies it has the same semantics as a pod running sync - it dies and life goes on.  If features like workflow or orchestration are a concern then those questions should be asked of the eventing side of Kn since pipelines, broker/channels w/responses

[2019-07-03 15:07] duglin commented on #3886
I added this to the agenda for today's api wg call. Wasn't sure if it's an api thing or a scaling thing - I decide on api since it might require a specialized Kn-Deployment type of resource to be created if we can't get K8s's Deployment resource to be modified.

[2019-07-03 15:21] daisy-ycguo opened #4610 "Activator pod `CrashLoopBackOff` if tracing configmap is malformed on start"
## In what area(s)?

## What version of Knative?

## Expected Behavior

If user uses a malformed ConfigMap `config-tracing`, e.g. setting `enable` to `true` without `zipkin-endpoint` configured, or `sample-rate` is not a valid float, `activator` should disable tracing and continue or use a default value. Tracing is an observability feature and its misconfiguration shouldn't cause the activator to

[2019-07-03 15:42] lvjing2 commented on #3547
@vagababov Hi, Since @rhuss had done what I need, then I think this is no need anymore.

[2019-07-03 15:42] #3547 closed

[2019-07-03 16:02] vagababov commented on #4522
So suggestion is just to fire and forget? No guarantees of
execution/result?

I think what this proposal misses is a real-life example to see where
you're coming from and where you're going to.

On Wednesday, July 3, 2019, Doug Davis <notifications@github.com> wrote:

[2019-07-03 16:03] vagababov commented on #4597
And on what platform do you run?

On Wednesday, July 3, 2019, Jared <notifications@github.com> wrote:

[2019-07-03 16:12] duglin commented on #4522
Not really fire-n-forget. maybe... fire-n-query-response-later :-)

As for as a use case I think the first comment covers that. But to me I've always liked the ones along the lines of:
-`invoke("url-to-data",async=true)` and the function processes the data at that url (e.g. video for transcoding, or data for migration.... something that will take a long time). And `fn-id` is returned.
- the user w

[2019-07-03 16:54] greghaynes commented on #4522
I agree there is a significant complexity cost associated with serving exclusively taking ownership of this feature. To me, this mainly comes down to how would we support the stateful aspects of this which have been mentioned (a database dependency?). The idea of leaning on eventing here is very appealing to me for a few reasons:
 - it is already a stateful system (queues, although lookup of reque

[2019-07-03 17:01] vagababov commented on #4522
Sure, I had in mind about the same idea. But for this to work properly you
need all the shebang: checkpointing, resuming, retries. Otherwise, it's
just a very poor end user proposition. I personally, would not code against
a system that provides async request capability, but does not provide any
mechanisms for the request to be picked up and resumed. If the backend
machine/node/pod fails.

On Wed,

[2019-07-03 17:02] yu2003w commented on #4597
k8s version is 1.12.4.
OS is "Ubuntu 18.04.2 LTS"

[2019-07-03 17:04] josephburnett commented on #4589
Based on our discussion at today's scaling working group meeting, I think the desire is to have a way to express a use case.  And to allow the implementation specific values to float underneath.

Perhaps enumerated autoscaling profiles would allow such an expression.  E.g. `RapidScale` `Stable` or `Balanced`.

[2019-07-03 17:04] nimakaviani commented on #4522
I think the retry can be left up to the user. As long as they can query and see the results (whether success or failure), they can decide on whether to re-trigger. No need for the retry logic to be baked in and add extra complexity imo.

[2019-07-03 17:07] evankanderson commented on #4522
In the synchronous case, the caller is waiting on the line for the response, and gets an immediate success or indication as to whether the request should be retried.

In the case where the result is deferred, error handling becomes more difficult, because the caller needs to keep track of the ongoing request and re-enqueue it (possibly hours later) if the initial request fails. It would be much si

[2019-07-03 17:10] duglin commented on #4589
We discussed this a bit on today's scaling call - wanted to summarize what I think was said:
- this issue isn't about code changes to actually get to zero scale-down times - that'll happen in other issues/PRs
- this issue is more of a UX issue where I'm asking for a simple way for an operator to specify "scale down each instance as soon as possible" w/o them having to understand the specifics of e

[2019-07-03 17:12] markusthoemmes commented on #4589
To clarify this: The special case I mentioned for 0s windows would be to always return the latest reading. It's not "whatever minimum value the autoscaler can achieve".

[2019-07-03 17:21] duglin commented on #4522
re: retries... @vagababov - to me the need for a retry is not exclusive to async requests - they could easily apply to sync as well. Of course detecting a failure for sync is easier, but from a conceptual perspective that's just an impl detail - the need (or lack of one) is the same.

As @nimakaviani mentioned, the user could do the retry. However, once we have the base infrastructure in place in

[2019-07-03 17:28] evankanderson commented on #4522
I'm actually concerned about this -- having the client be able to choose sync or async for every endpoint and method regardless of the server's intent seems like it could interfere with existing software. The safest might be to choose a header such as `Proxy-Knative-Async` which would be in the [forbidden header name set](https://developer.mozilla.org/en-US/docs/Glossary/Forbidden_header_name).

S

[2019-07-03 17:30] vagababov commented on #4522
In other words if my O(hours) video transcoding job failed 2 minutes before
completion due to node/pod failure, and even if I (somehow, it's not clear
to me how would you report error/failure in this case) job failed, the
suggested mode of operation is to restart O(hours) from scratch?

On Wed, Jul 3, 2019 at 10:21 AM Doug Davis <notifications@github.com> wrote:

[2019-07-03 17:35] evankanderson commented on #4522
Now, to lean on the points of agreement:

1. I think async processing is super-useful. I'd love to have it in Knative as another model.
2. I think async processing has a lot of similarity in rollout with Service/Route/Revision, and that model seems generally successful. Retry semantics seem important to work out, along with the model for triggering a request idempotently and querying the async res

[2019-07-03 20:49] duglin commented on #4522
@greghaynes : re-use of eventing - I like the idea of reusing components when it makes sense. However, I'm not sure about sending async requests thru eventing and queues as that will impact the latency of things. Additionally, I don't think we need the features of eventing for the request side of the flow - it adds no value right now. And for the response flow, all we're really talking about is a

[2019-07-03 22:21] vagababov commented on #4610
In general knative will fail initialization if initial config is bogus. It is presumed that system must be correctly configured at the beginning, to have correct initial state.

Once the config is corrected updates to invalid values will just return an error.

It seems if you thought that tracing config required enough attention to tinker with, then it's important enough to be correct.

/close

[2019-07-03 22:31] mattmoor commented on #4098
Nobody is "hand-coughing" here.  Billing model came up because I'm trying to rationalize your position in order to find compromise and _accommodate_ your perspective.  My issues with this proposal have nothing to do with billing models.

I completely agree that you've highlighted a fantastic problem: 90s to scale to zero after initial deployment is far too high, let's reduce it, a lot.  I'd bet th

[2019-07-03 23:34] yanweiguo commented on #1625
/assign

[2019-07-04 06:20] daisy-ycguo opened #4616 "Enable Prometheus to scrape metrics exported by annotated K8s services"
## In what area(s)?
/area monitoring

## Describe the feature

The goal of this feature is to allow other Knative components, e.g. Eventing, to leverage the same Prometheus in knative-monitoring to manage their metrics.

It can be implemented following below steps:
1. Add a general job in Prometheus `scrape_configs` to scrape metrics exported by services with an annotation `prometheus.io/scrape: "

[2019-07-04 06:31] #4204 closed

[2019-07-04 08:48] yu2003w commented on #4597
It looks likely that problem is caused by virtual service when Istio-injection is enabled.
[code]
In spec.hosts, it only contains full FQDN. So when short FQDN is used, the destinations couldn't be resolved.
I hacked code and added short names to spec.hosts as below. Then it works.
[code]

It seems that short FQDN should be added to spec.hosts in {virtualservice}.mesh when following conditions are

[2019-07-04 12:02] knative-flaky-test-reporter-robot opened #4620 "[flaky] test/e2e.TestMinScale"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestMinScale
* **Repository name**: serving

[2019-07-04 20:41] andrew-su opened #4622 "Public subroutes should also route cluster local address"
/area networking

Currently subroutes do not enable cluster local routing if the route is publicly visible. We should allow publicly visible subroutes to be routable within the cluster via its cluster local address.

[2019-07-04 20:41] andrew-su commented on #4622
/assign

[2019-07-05 15:01] greghaynes opened #4629 "Support keeping activator always in request path"
## In what area(s)?

/area autoscale
/area networking

 /kind proposal

## Describe the feature

Now that we keep the activator threaded in the request path beyond just sale-from-zero we realized this is a special case where we can completely ignore scale-to-zero grace window (we dont need to wait for network reprogramming). This is behavior I could see a user desiring over the lower latency provi

[2019-07-05 15:01] greghaynes commented on #4629
/CC @vagababov @markusthoemmes

[2019-07-05 15:08] markusthoemmes commented on #4629
+1 on "infinite burst capacity". Maybe we can use `-1` to mean "Infinity" here? I wouldn't want to bother with Int.MaxValue or something.

[2019-07-05 16:58] vagababov commented on #4629
Sure I can do this easily.
As far as grace period, i have a different issue for that. It'll require
more finesse.
/assign

On Friday, July 5, 2019, Markus Thömmes <notifications@github.com> wrote:

[2019-07-05 23:05] Joon-L opened #4631 "Support manual TLS/mTLS provision at Knative Service/Route level using Istio SDS"
Scoping down from the previous [raised issue](https://github.com/knative/serving/issues/4354).

## In what area(s)?
/area networking
/kind proposal

## Describe the feature
Auto TLS cannot make use of certs already existing inside clusters when developers have manually provisioned certs or have their own way of managing certs that are not supported by `cert-manager`.

With Auto TLS [now having sep

[2019-07-05 23:08] Joon-L commented on #4354
Closing this issue as I have opened up a new feature request under a more detailed scope.

[2019-07-05 23:08] #4354 closed

[2019-07-05 23:10] Joon-L commented on #4631
cc @ZhiminXiang

[2019-07-06 09:45] #4629 closed

[2019-07-06 12:02] #4620 closed

[2019-07-06 12:02] knative-flaky-test-reporter-robot opened #4633 "[flaky] test/e2e.TestWebSocketFromZero"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestWebSocketFromZero
* **Repository name**: serving

[2019-07-06 12:02] #4475 closed

[2019-07-06 12:02] #4489 closed

[2019-07-06 12:02] knative-flaky-test-reporter-robot opened #4634 "[flaky] test/e2e.TestGRPCUnaryPingFromZero"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestGRPCUnaryPingFromZero
* **Repository name**: serving

[2019-07-06 12:02] knative-test-reporter-robot opened #4635 "[flaky] test/e2e.TestGRPCStreamingPingFromZero"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestGRPCStreamingPingFromZero
* **Repository name**: serving

[2019-07-06 12:02] knative-flaky-test-reporter-robot opened #4636 "[flaky] pkg/queue.TestTimeToFirstByteTimeoutHandler/custom_timeout_message"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/queue.TestTimeToFirstByteTimeoutHandler/custom_timeout_message
* **Repository name**: serving

[2019-07-08 06:56] nak3 opened #4638 "Prometheus does not collect stats reported by queue-proxy"
## In what area(s)?

/area monitoring

## What version of Knative?

[code]

## Expected Behavior

Prometheus collects `queue_*` stats.

## Actual Behavior

- Please refer to the screenshot. Prometheus console does not list `queue_*` stats.

![pometheus](https://user-images.githubusercontent.com/2138339/60788893-b7aa4100-a198-11e9-9ae9-1c0d7e57d208.png)

## Additional info

- Confirmed that queue-p

[2019-07-08 07:58] aliok opened #4640 "Adapt to user info annotations changes in knative/pkg"
## In what area(s)?

**Problem**
How to add user info annotations is changed with https://github.com/knative/pkg/pull/467.

Now resources from Knative modules need to implement `HasSpec` interface to get annotations automatically.

~~With that PR, a standard is set for the annotation keys to be used for all modules. So, not every module will have a different key scheme for the annotations. That me

[2019-07-08 12:02] #4633 closed

[2019-07-08 12:02] #4634 closed

[2019-07-08 12:02] #4212 closed

[2019-07-08 12:02] #4636 closed

[2019-07-08 12:02] #4577 closed

[2019-07-08 14:19] mattmoor commented on #3903
Ping for confirmation of mTLS.

[2019-07-08 16:53] #4574 closed

[2019-07-08 17:24] tcnghia commented on #4597
@yu2003w VirtualService exposed to `mesh` are only effective for sidecars.  So condition (2) isn't strictly necessary.

[2019-07-08 17:26] mattmoor opened #4647 "Validate that service accounts have the right shape"
## In what area(s)?

/area API

## What version of Knative?

HEAD

## Expected Behavior

Knative should reject a `serviceAccountName: foo@bar.baz`.

## Actual Behavior

I believe we will just let this through to K8s and likely fail creating the deployment (haven't tried, just noticed this [in code](https://github.com/knative/serving/blob/4104e1a33261baca063f6d3cd1b250b2117350ad/pkg/apis/serving/k8

[2019-07-08 17:35] grantr commented on #4610
I don't agree. This is not an initialization problem. A system that is already configured correctly may be silently broken by an edit to the tracing configmap, and that breakage occurs later when the activator pod needs to restart but cannot. It will be very difficult for the user to diagnose this problem because the fault does not immediately cause a failure.

This is not about correctness, it's

[2019-07-08 17:37] grantr commented on #4610
/good-first-issue

[2019-07-08 18:37] shashwathi commented on #4647
/assign @shashwathi

[2019-07-08 19:31] vagababov commented on #4640
That would be a backwards incompatible change, since we have systems relying on existing string.

[2019-07-08 19:32] vagababov opened #4648 "It should be impossible to modify creator/lastModifer annotations"
/area API
## What version of Knative?

v0.7.0-87-g53d92bed-dirty

## Expected Behavior

Impossible to modify creator/lastModifer annotations

## Actual Behavior

Possible to modify creator/lastModifer annotations

## Steps to Reproduce the Problem

`kubectl edit ksvc svc-name`
and then modify the annotations

[2019-07-08 20:43] vagababov commented on #4648
/good-first-issue

[2019-07-08 22:26] dgerd commented on #4517
cc @dprotaso @markusthoemmes @mattmoor @tcnghia @vagababov @jonjohnsonjr

As API Reviewers/Approvers would love to get your feedback on the document. If you have no feedback or if you already commented and I have addressed your feedback please add LGTM at the top of the document. Document is linked in bold at the top of the issue.

[2019-07-09 00:18] dgerd commented on #4648
Creator should be easier than lastModifier as it is immutable. We can pretty much check in the webhook if the request is a create or an update. If it is an update and the annotation has changed from the previous object then reject the request.

lastModifier is a little more tricky. If just Metadata changes (no spec change) then we need to verify that lastModifier does not change. I don't think we

[2019-07-09 00:40] vagababov commented on #4648
Yes, this matches my thinking (though I thought just snap the original value, rather than reject, but 🤸‍♀ )
For update, it is still pretty straightforward, since we do specdiff before applying updater annotation, thus just else case has to provided to add same logic as for creator.

[2019-07-09 00:53] yanweiguo commented on #4638
Hi @nak3, could you explain your use-cases for metrics from queue-proxy?

The queue metrics published via port 9090 are kind of internal metrics. They are not supposed to be exposed to users. Autoscaler scrapes and aggregates them and exposes the `autoscaler_*` metrics.

The queue metrics published(only request metrics currently and need to be enabled in configmap) via port 9091 are supposed to be

[2019-07-09 01:06] duglin commented on #4579
1. If it impact latency, and they care, then they won't use volumes - or they'll deal with it. People aren't stupid - we need to let them make the tough decisions for their needs.  We're not in a position to make it for everyone.  If an offering that sits on top of Kn wants to block it, that's their choice - but as a reusable component Kn itself should be fairly flexible. One of the appealing aspe

[2019-07-09 02:46] nak3 commented on #4638
Hi @yanweiguo, thank you for taking a look.

Actually, there are no special use-case. I reported this issue because I could not see the graph on prometheus even though queue proxy implemented the report for prometheus. (I was researching what kind of metrics we can see.)
So, I understand as it is by design. But then, where the queue metrics published via 9090 are supposed to be seen? It is invisib

[2019-07-09 03:40] mattmoor opened #4654 "Activator should wait for active requests to drain before terminating"
## In what area(s)?

/area autoscale
/area networking
/kind good-first-issue

## Describe the feature

The activator receives the stop signal [here](https://github.com/knative/serving/blob/8862337142f80fcaa5f62a24ba6a14bda7fe9c07/cmd/activator/main.go#L268-L270), we should hook in a new activation handler [here](https://github.com/knative/serving/blob/8862337142f80fcaa5f62a24ba6a14bda7fe9c07/cmd/a

[2019-07-09 03:50] fatkun opened #4655 "kmp.ShortDiff: Failed to diff Revision"
## In what area(s)?

/area test-and-release

## What version of Knative?

0.7.1

## Expected Behavior

[code]

## Actual Behavior

[code]

## Steps to Reproduce the Problem

I added one line in test.new
https://github.com/knative/serving/blob/8862337142f80fcaa5f62a24ba6a14bda7fe9c07/pkg/apis/serving/v1alpha1/revision_validation_test.go#L545-L581
[code]

We should not check isValid() or only check

[2019-07-09 03:54] fatkun commented on #4655
@dgerd What do you think?

[2019-07-09 03:57] jonjohnsonjr commented on #4655
I believe memory [expects](https://github.com/kubernetes/api/blob/39734b2a72feed69ceb4cbe30f4874378a407843/core/v1/resource.go#L41) you to use [BinarySI](https://github.com/kubernetes/apimachinery/blob/4cfb76a8bf76b405d82fb36bc1c172d13ca86988/pkg/api/resource/quantity.go#L118:2).

[2019-07-09 04:04] fatkun commented on #4655
The memory format is not key problem relate this issue. I change resource.MustParse("50m") to resource.MustParse("50Mi") still show this error.

[2019-07-09 04:58] vagababov commented on #3426
/reopen
this constantly fails on Prow.

[2019-07-09 05:00] vagababov commented on #3426
https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_serving/4653/pull-knative-serving-integration-tests/1148444559227752448
https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_serving/4653/pull-knative-serving-integration-tests/1148424301855117313
https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_serving/4560/pull-knative-serving-integration-tests/

[2019-07-09 05:27] vagababov commented on #4654
From the `Server.Shutdown` docs:
[code]

So, the way I read it, once we call shutdown
1. we won't get any new requests
2. all the current ones will be processed

Thus, I think this issue is unnecessary?

[2019-07-09 05:54] markusthoemmes commented on #4654
Agree with @vagababov. Have we seen this not working as expected?

[2019-07-09 06:01] markusthoemmes commented on #4638
@nak3 These metrics are consumed via the autoscaler's collector and ultimately used to make autoscaling decisions.

[2019-07-09 06:36] markusthoemmes commented on #4517
@dgerd great writeup! This must've been a PITA to put together. Very well done 🎉

Is there a particular reason we're not using OpenAPI specification to nail the details of the API itself? Not that I like the format a lot but... well, no but really 😂 . If you thought about it and discarded it it'd be nice to document the reason here so we can point people that might ask the same question at the ans

[2019-07-09 07:04] savitaashture commented on #4648
/assign

[2019-07-09 07:13] savitaashture commented on #4648
My understanding

1. Create ksvc will add annotation
    ```serving.knative.dev/creator: xxx```
    ```serving.knative.dev/lastModifier: xxx```

2. Edit ksvc **change spec** part and **no metadata change** (annotations)
    ```serving.knative.dev/creator: xxx```
    ```serving.knative.dev/lastModifier: xxx```

3. Edit ksvc **no spec change** but **metadata change**(both creator and lastModifier)

[2019-07-09 10:13] nak3 commented on #4638
Oh, I see! That makes sense the reason why queue proxy reports the stats data.
Thank you @markusthoemmes and @yanweiguo ! I am closing this issue.

[2019-07-09 10:13] #4638 closed

[2019-07-09 11:35] markusthoemmes commented on #4485
Since we've added validation for this I think we should close this and instead discuss the actual ask (ASAP scale-to-0) in more appropriate issues (i.e. #4589)

/close

[2019-07-09 11:35] #4485 closed

[2019-07-09 11:36] #4511 closed

[2019-07-09 11:40] markusthoemmes commented on #1727
I'm not sure there is something actionable in here. I glanced over the main.go file and didn't find anything super useful to test in there. @akyyy do you feel strongly about this? If so, could you provide some guidance on what you'd like to see tested here?

[2019-07-09 11:42] markusthoemmes commented on #1991
Anything actionable in here?

[2019-07-09 11:45] markusthoemmes commented on #2497
@greghaynes I'm inclined to close this in favor of #2498. We should have a convincing story for local scheduling before going down the DaemonSet route. I'd see this as part of the more broad #1625 and one possible solution.

WDYT?

[2019-07-09 12:02] knative-flaky-test-reporter-robot opened #4658 "[flaky] test/e2e.TestEgressTraffic"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEgressTraffic
* **Repository name**: serving

[2019-07-09 13:07] bitvirago opened #4659 "create cloudsql sidecar container"
## In what area(s)?

In service definition

## What version of Knative?

## Expected Behavior

I need to create more than one container in the Service definition.

## Actual Behavior

If I want to create a google cloud sql sidecar container. I got the following error message:

Error from server (InternalError): error when creating "deploy-app.yaml": Internal error occurred: admission webhook "webh

[2019-07-09 13:51] #4310 closed

[2019-07-09 15:03] #4658 closed

[2019-07-09 16:13] dprotaso commented on #4517
I'd consider https://kubernetes.io/blog/2019/06/20/crd-structural-schema/

[2019-07-09 16:41] greghaynes commented on #2497
Where were currently at:
I wrote up a proposal for this a bit ago (note that it is titled local scheduling ;) ): https://docs.google.com/document/d/1ErAFL7dpC0exdGuLrrrWeY2hxjTgmk2Io8-r0_gkAA8/edit

At least with this design, daemonsets and local scheduling are tied together. If we were to try and implement this without using a daemonset we'd have to write some additional scheduler logic within ac

[2019-07-09 16:42] jonjohnsonjr opened #4663 "Dep hangs indefinitely unless you install mercurial"
This is because we have a dependency on [goautoneg](https://bitbucket.org/ww/goautoneg/src/default/), which uses mercurial, which triggers a [bug in dep](https://github.com/golang/dep/issues/1692). Until that bug is fixed, the workaround is to [install mercurial](https://www.google.com/search?q=install+mercurial).

[2019-07-09 17:25] #4663 closed

[2019-07-09 17:39] andrew-su commented on #3419
For reference:
https://github.com/knative/serving/pull/4558
https://github.com/knative/serving/pull/4559
https://github.com/knative/serving/pull/4560

[2019-07-09 18:00] #4450 closed

[2019-07-09 18:00] greghaynes opened #4665 "Initial scale of a new revision should be able to handle incoming load"
## In what area(s)?

/area autoscale
/kind proposal

## Describe the feature

Assume I have a configuration with revision1 which is serving some QPS via a runlatest route requiring replicaCount > 1 of it's deployment. I then create revision2 for this configuration. All of the traffic for this route will be redirected to revision2 once 1 instance is ready and the autoscaler will not begin to scale

[2019-07-09 18:06] duglin commented on #4665
if all requests to revision1 were due to a revision specific URL and not to the KnService's URL, will the auto-scaler be able to tell? Because in that case revision2 won't get any traffic at all so keeping it's initial scale small would be more appropriate.

[2019-07-09 18:08] markusthoemmes commented on #4665
I like the idea in general. I wonder however what our preferred model is in this case. Wouldn‘t we advocate a gradual cutover via traffic splitting (which is one of the reasons we require traffic splitting in the first place).

Scaling both deployments to match traffic first is wasteful in terms of the resources needed.

[2019-07-09 18:08] greghaynes commented on #4665
Yes, I am intentionally trying to avoid saying "copy the scale of the previous revision" for this reason - its actually a calculation that would need to take routes in to effect, and TBH I don't have a great answer.

[2019-07-09 18:12] greghaynes commented on #4665
I think a good way to look at it is - I'd expect us to have a story for "I want to run my app in knative without doing advanced routing and be able to update it without disruption". I'd expect runLatest to exhibit this behavior given that is our "just DTRT" config option for routing. Maybe we can special case when a configuration is only pointed to by runlatest routes?

[2019-07-09 18:18] vagababov commented on #2930
This seems out of scale for .8.
And for 1.0 we'll probably just try to add VPA to it.

[2019-07-09 18:27] ZhiminXiang commented on #3426
It seems not constantly fail, but a kind of flaky: https://testgrid.knative.dev/serving#continuous

[2019-07-09 18:27] #4616 closed

[2019-07-09 18:30] ZhiminXiang opened #4666 "TestEgressTraffic is bit flaky"
## In what area(s)?

## What version of Knative?

## Expected Behavior
The test is not flaky.

## Actual Behavior
The test is bit flaky according to https://testgrid.knative.dev/serving#continuous

[2019-07-09 18:30] markusthoemmes commented on #3426
@nak3 already provided a fix for it. Is it still flaky?

[2019-07-09 18:37] markusthoemmes commented on #4666
I think this was fixed already by #4660

[2019-07-09 18:42] tcnghia commented on #3419
@andrew-su thanks for landing all the PRs.

generally the rite of passage for such a large feature like this to close it with an integration test PR or else @mattmoor will reopen it right away :D.  thanks !

[2019-07-09 18:44] dgerd commented on #4655
So I don't think the SafeDiff code is handling the zero value in a useful way. This is failing because memory is not defined in one map, but is defined in the other map. There are tests for nil fields and nil objects so I think this is a problem due to ResourceList being a map and likely due to how nil is a bit special in golang.

From the reflect documentation

I think what we want to do is if bo

[2019-07-09 19:12] #4622 closed

[2019-07-09 19:16] #3426 closed

[2019-07-09 19:17] #4666 closed

[2019-07-09 19:31] vagababov commented on #4665
It was part of my explorations document.
So the blunt solution to scale up and then down, if all the traffic was
arriving at the revision specific URL is a bit expensive, but the least
likely to cause any disruptions due to traffic migrations.

If the deployment is run-lastest, that should be the way to go at least
initially (and possibly guarded via feature flag)
If the deployment is green-blue (

[2019-07-09 19:31] vagababov commented on #4665
/cc @mattmoor
actually make prow do it:)

[2019-07-09 20:04] dgerd commented on #2727
Since this issue was created we have deprecated a couple of images and created the "runtime" test image that pulls out information about the runtime.

However with some added tests we now have 17 test images. I don't think a single image should be the goal here, but there is likely some additional low-hanging fruit to be had here to reduce the need for building, publishing, and maintaining so many

[2019-07-09 21:27] greghaynes commented on #3886
How would this work with containerconcurrency > 1? e.g. I have concurrency of 10 and 3 pods, my concurrency has just decreased to 20 and therefore we would like to scale down. It is very unlikely that all 20 of these requests are on the same two pods, and more than likely theres a somewhat even distribution among the 3 pods. Even if we had the ability to pick which pod to terminate our decision is

[2019-07-09 21:57] vagababov commented on #3886
The simple answer is that it should not matter.

First:  pods just crash, nodes crash, k8s decides to migrate the pod to another node due to scaling event, etc.

Second: in the Q-P we do `Server.Shutdown`, which means all the pending requests in will be processed, before terminating and we will stop accepting new requests in the meantime.

The more complex facets are: requests that take a very lon

[2019-07-09 21:59] tcnghia commented on #4028
@yu2003w we can check in the tests for partial mesh connectivity using FQDN first, and follow up with short names.

Currently we already have some short names coverage using existing tests.

[2019-07-09 22:03] mattmoor commented on #4654
You may be right, but two concerns come to mind:
1. What happens with streaming connections (e.g. websocket or GRPC)?
2. Even once the code handles graceful termination, I'm concerned that `terminationGracePeriodSeconds` is too low for our activator pods (read: it is the default of `30s`), which is much shorter than even our default request timeout.

What I describe above is likely handled by the

[2019-07-09 22:06] nimakaviani commented on #3886
@vagababov it is desirable for the system to converge faster. ReplicaSets already prioritize scale-down in the following order. so yes, even though at the end it should not matter, it saves time (and presumably money) to converge faster.

[code]

@greghaynes regarding your point below:

the intention is to be smarter about finding `a pod of our choosing` to go through the draining process. Perhaps

[2019-07-09 22:10] vagababov commented on #3886
This also doesn't work. Since you presume all requests take the same amount of time. Which they usually don't. :-)

[2019-07-09 22:11] greghaynes commented on #3886
@vagababov Although youre right we cannot guarantee this will never happen, its not hard to make up a case where, if requests are much longer than our scale frequency, we can completely starve a cluster from ever being able to complete a request if pods are scaled up and down repeatedly. I think its reasonable to try and minimize this failure mode where we have control over it.

@nimakaviani Do yo

[2019-07-09 22:27] vagababov commented on #3886
@greghaynes but why won't be able to complete? Since our scaling metric is concurrent requests -- they are all still very much in progress, hence we'd scale down only if some of them completed (which is a contradiction to your statement)? Or am I missing here something?

Additionally, as I said above the server shutdown and between k8s killing the pod (default is 30s) all the requests still have t

[2019-07-09 22:41] vagababov commented on #4253
/close
now runs at @25 successfully.

[2019-07-09 22:41] #4253 closed

[2019-07-09 22:42] greghaynes commented on #3886
right, its never 0. The math on this is breaking my brain but if you assume you can scale up and down quickly relative to request lifetime there can be a significant number of requests left per pod as you scale down that get killed. In my 3 node with concurrency 20 case it could easily be 1/3 of the connections get killed if each node has even load (and it could be worse if we pick unluckily).

[2019-07-09 22:45] nimakaviani commented on #3886
@vagababov It will be a best effort regardless. But it will address some obvious choices, e.g. between a pod that is not doing any work vs. a pod that is actively processing requests. The extra 30sec can cascade to a big number if we just neglect the chance for optimization.

@greghaynes the story it is a combination of deciding on what to drain and, making sure what is drained will get killed. Po

[2019-07-09 23:06] tcnghia commented on #4654
/assign @vagababov

looks like this will be closed by #4671

[2019-07-09 23:07] dgerd commented on #4648
That is not quite right. I tried to clarify below. Let me know if this makes sense.

# Current Behavior

## Services, Configurations, and Routes

### Creation

When you create these resources (either directly or indirectly via Service) both the creator and lastModifier annotations get added.

**User xxx creates a Knative Service**
[code]

### Update

When you update the `spec` of these resources (

[2019-07-10 00:41] mattmoor commented on #4665
There are several motivations for wanting to establish this sort of association across Revisions in the same linear history; another that immediately comes to mind is applying VPA recommendations.

[2019-07-10 01:22] #4654 closed

[2019-07-10 01:24] duglin commented on #3886
I view this as a 2 step problem:
1 - have support for choosing which pod to kill - so this is probably either a change to Deployments or create a new resource that gives us this ability
2 - have the code/smarts to leverage this.  And I think this includes all of the concerns/solutions described above. So within this one there might also be two parts: a) the smarts to drain/taint pods that we want

[2019-07-10 02:22] yu2003w commented on #4597
@tcnghia Istio version I used was 1.0.5.
I will upgrade Istio to 1.1 and try again.

[2019-07-10 02:57] vagababov commented on #3886
Except it's not russian roulette -- one will always die :)

On Tue, Jul 9, 2019 at 6:24 PM Doug Davis <notifications@github.com> wrote:

[2019-07-10 06:08] markusthoemmes commented on #3886
I agree that it is desirable in certain cases to kill a specific pod rather than a random one.

A given in our current system is that all requests are finished before we actually shut down a pod. If that's not the case, we have a bug and should address that separately.

As @duglin mentioned, the issue is much bigger than just being smart about choosing one. We also don't have the means at hand to

[2019-07-10 08:37] baikai opened #4678 "when use kubectl option '--watch' to watch revision status, only fields NAME and AGE shown."
## In what area(s)?
/area CLI

## What version of Knative?

## Expected Behavior
When use cmd 'kubectl get revision' to get revision status, cmd can output all related fields, like below:
![image](https://user-images.githubusercontent.com/3839050/60953778-6765e700-a330-11e9-8c8a-72d4d1384f8b.png)
But when use kubectl option '--watch' to watch revision status, cmd output only shown NAME and AGE lik

[2019-07-10 09:33] yu2003w opened #4680 "istio-knative-extra.yaml needed in third_party/istio-1.1.7 and third_party/istio-1.2.0"
## In what area(s)?

/area test-and-release
/kind proposal

## Describe the feature
istio-knative-extras.yaml existed for Istio-1.0.7, 1.1.2 and 1.1.3.
./third_party/istio-1.0.7/istio-knative-extras.yaml
./third_party/istio-1.1.2/istio-knative-extras.yaml
./third_party/istio-1.1.3/istio-knative-extras.yaml

It also need for Istio 1.1.7 and 1.2.0.
If there is no change comparing with previous versi

[2019-07-10 10:26] yu2003w opened #4681 "activator failed to start"
## In what area(s)?

## What version of Knative?

master

## Expected Behavior
knative serving pods could be started successfully.

## Actual Behavior
[code]

[code]
## Steps to Reproduce the Problem
1, checkout master branch
2, ko apply -f config/

Tested with release-0.6, it works well. It seems some changes break activator.

[2019-07-10 11:34] markusthoemmes commented on #4659
We don't allow for more than one container today in Knative Service/Configuration/Revision. See https://github.com/knative/serving/blob/master/docs/spec/spec.md

[2019-07-10 11:37] markusthoemmes commented on #4681
You need to run `ko apply -f config/v1beta1` as well to make the CRDs known to Kubernetes. See https://github.com/knative/serving/blob/master/DEVELOPMENT.md#deploy-knative-serving.

[2019-07-10 11:45] ryandawsonuk commented on #4579
It’s worth being aware that the KFserving project referenced above is working on top of knative and is using mutating webhooks to modify resources created by knative. That’s being done to work around the restrictions. I don’t know whether knative would regard this as a supported way of using the tools.

[2019-07-10 12:02] knative-flaky-test-reporter-robot opened #4683 "[flaky] test/conformance/api/v1beta1.TestAnnotationPropagation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestAnnotationPropagation
* **Repository name**: serving

[2019-07-10 12:02] knative-flaky-test-reporter-robot opened #4684 "[flaky] test/conformance/api/v1alpha1.TestRunLatestService"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestRunLatestService
* **Repository name**: serving

[2019-07-10 12:02] knative-flaky-test-reporter-robot opened #4685 "[flaky] test/e2e.TestMultipleNamespace"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestMultipleNamespace
* **Repository name**: serving

[2019-07-10 12:02] knative-flaky-test-reporter-robot opened #4686 "[flaky] test/e2e.TestGRPCUnaryPing"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestGRPCUnaryPing
* **Repository name**: serving

[2019-07-10 12:24] markusthoemmes commented on #2707
On a more abstract basis, this alludes to decoupling the autoscaling system as a separate "public" API, so it can be used to describe the autoscaling behavior of more than just Revisions in Knative Serving.

This could potentially become a goal of the Knative autoscaling group in the future. It's not in scope for v1 currently though.

[2019-07-10 12:39] markusthoemmes commented on #2497
@greghaynes whatever captures the discussion better. Do you mind closing what you'd like to close and rename the other?

[2019-07-10 12:41] markusthoemmes commented on #2249
We certainly test _after_ the scale down grace period. Do we think a test during grace period is worth it at this point?

[2019-07-10 12:43] markusthoemmes commented on #2524
@sayanh any news on this one? Need any help or guidance kickstarting this?

[2019-07-10 12:50] markusthoemmes commented on #2930
Discussed this with @mattmoor a bit and the thought was to make sure the autoscaler behaves well when being restarted (see #2250) and then test and document different failure models of the autoscaler.

Making it truly high available is quite a complex task and there might be quite a bit of low-hanging fruit on the way there.

[2019-07-10 12:51] markusthoemmes commented on #2978
This seems to be much more in the realm of the operator now? Should we move the issue there?

[2019-07-10 12:52] yu2003w commented on #4681
It's my fault. I didn't read the doc again recently.
Thanks a lot. @markusthoemmes

[2019-07-10 12:52] #4681 closed

[2019-07-10 12:54] markusthoemmes commented on #3064
There are two ways to go about this:

1. Implement scale to 0 in our HPA path today. Essentially we'd delete the HPA once we see no traffic and recreate it to scale from 0 onwards.
2. Wait for the scale-to-0 work in the HPA itself to land and use that.

2. is definitely a lot cleaner and I think it's safe to presume that any pluggable autoscaler that others might bring should support scale-to-0 on

[2019-07-10 13:09] markusthoemmes commented on #3012
@mattmoor I think this is more of an API concern in that we only support a single port and all traffic to that port is considered for autoscaling.

I feel like this could be a very common use-case and we should have a good answer on why we don't support it and what our stance is.

[2019-07-10 13:11] markusthoemmes commented on #3415
/assign

[2019-07-10 13:12] markusthoemmes commented on #3780
Anybody seen this again?

[2019-07-10 13:13] markusthoemmes commented on #3885
/remove-kind good-first-issue

[2019-07-10 13:15] markusthoemmes commented on #4201
@vagababov this is related to your ideas around keeping some state for the Decider.

/assign @vagababov

[2019-07-10 13:18] markusthoemmes commented on #4390
@mattmoor hm I'm not sure we need to bond the issues so closely though.

It feels like scraping at envoy could at least help us to decouple the autoscaling system from relying on the queue-proxy in the deployment. True, it doesn't have all the features we know and love, but I feel like it can be a valid intermediate step.

#3961 details some other interesting pros about this, like having a much sm

[2019-07-10 13:23] markusthoemmes commented on #4557
I agree for the ways to go at this for Category A and B.

As for Category C: Are K8s Events not sufficient for this currently? There should already be events sent when a Pod dies. OOM conditions etc. should be detected by K8s already.

[2019-07-10 13:30] dprotaso commented on #4517
@dgerd let some small comments in the doc - overall lgtm

[2019-07-10 13:31] duglin commented on #4579
Look me a second to find the KFserving reference you're talking about :-)  so for others, I think this is it: https://github.com/kubeflow/kfserving/issues/129

IMO you shouldn't have to jump through those kinds of hoops just to get access to core Kube features.

[2019-07-10 15:03] beemarie opened #4691 "hg required for ./hack/update-codegen.sh & ./hack/update-deps.sh"
## What version of Knative?
current, dev doc.

## Expected Behavior

Expected ./hack/update-codegen.sh & ./hack/update-deps.sh to work.

## Actual Behavior
Both scripts hang due to missing hg installation.

## Steps to Reproduce the Problem
Run scripts without hg installed, you will see the scripts hang at `dep ensure`.

[2019-07-10 15:54] vagababov commented on #4678
This is k8s bug https://github.com/kubernetes/kubernetes/issues/66538.
It should be fixed in the newer kubectl versions.
/close

[2019-07-10 15:54] #4678 closed

[2019-07-10 16:26] yanweiguo commented on #4557
The event doesn't include the information to identify the revision/pod/container where the event happened.

[2019-07-10 16:31] #4691 closed

[2019-07-10 16:38] greghaynes commented on #2498
Superceding with https://github.com/knative/serving/issues/2497 as we have a better idea now

[2019-07-10 16:38] #2498 closed

[2019-07-10 16:45] ssmall opened #4694 "Extract & generalize generateTraffic for use in other e2e tests"
## In what area(s)?
/area test-and-release

## Describe the feature

[generateTraffic](https://github.com/knative/serving/blob/master/test/e2e/autoscale_test.go#L54) is a useful test helper for generating sustained traffic against an endpoint. This could be extracted and generalized so that I could be reused outside of the autoscaling e2e test.

[2019-07-10 16:51] vagababov commented on #3064
Eh, I think you have bad markdown, but I vouch (2).

[2019-07-10 16:55] vagababov commented on #2249
I don't think it's really required as an E2E test.

On Wed, Jul 10, 2019 at 5:41 AM Markus Thömmes <notifications@github.com>
wrote:

[2019-07-10 17:09] vagababov commented on #2930
Yep, I'll take a look later this quarter for the better restart behavior and perhaps VPA parameters. But everything else is beyond GA.

[2019-07-10 18:25] vagababov commented on #4557
1 & 3 presume you're not scaled to 0. Otherwise you won't _even start_ to
serve the traffic.

5 - might be temporary, since lots a code written as

[code]

Totally doesn't mean it won't be able to restart next time around.

4 - probably depends on _why_ we can't pull image. Registry unreachable?
Retry might solve. Permission issues? Might be solved but god knows when,
so I guess terminal is fine.

[2019-07-10 18:25] mattmoor commented on #2930
We already throw a few knobs like the annotations to avoid pre-emption Victor added previously.

I still need to test that the autoscaler is sane across restarts when a `ksvc` is under load, but I did test yesterday that if I delete all knative components except `activator` and `autoscaler` that we successfully 0->1->0.  The other test I want to run is: 0 -> 12 -> (kill the autoscaler, while under

[2019-07-10 18:35] vagababov commented on #2930
The problem is that after restart we're losing all the metrics history. Which means if the instantaneous observed concurrency is low we'll immediately scale down even though during the next few iterations we might want to scale up back, when we observe more of the traffic.

The simple solution Markus and I talked about is to launch all non-zero deployments in panic mode, so until we aggregate enou

[2019-07-10 18:40] mattmoor commented on #2930
It sounds very reasonable to me to treat everything as panic mode on autoscaler boot-ups.

[2019-07-10 18:43] srinivashegde86 opened #4696 "Perf test TestObservedConcurrency shows negative values from scaleto1"
/area test-and-release

## What version of Knative?
HEAD

## Expected Behavior
The value should reflect the time taked to scaleto1 of observed concurrency and it should be non-negative

## Actual Behavior

We are seeing negative values
https://testgrid.knative.dev/serving#performance

/cc @markusthoemmes
/cc @vagababov

[2019-07-10 18:43] srinivashegde86 commented on #4696
/cc @Fredy-Z

[2019-07-10 18:51] tcnghia commented on #2978
/cc @k4leung4

[2019-07-10 18:52] taragu opened #4697 "Incomplete cleanup with the cleanup command in DEVELOPMENT.md"
## In what area(s)?

/area test-and-release
/kind doc

## Expected Behavior
All service components are removed after running the command in https://github.com/knative/serving/blob/master/DEVELOPMENT.md#clean-up

## Actual Behavior
The cert manager related components are not removed.

## Steps to Reproduce the Problem
Follow the instructions in https://github.com/knative/serving/blob/master/DEVELOP

[2019-07-10 18:53] taragu commented on #4697
/assign

[2019-07-10 19:13] jonjohnsonjr commented on #4557
To expand on this a bit...

For the pod, OOMKilled is determined [here](https://github.com/kubernetes/kubernetes/blob/978c38d488e6339aa294aa28b084f9c9626f83ab/pkg/kubelet/dockershim/docker_container.go#L381-L385) and eventually gets surfaced via the pod status:
[code]

The actual event is generated by [a different component](https://github.com/kubernetes/node-problem-detector/blob/dbe7cafe1efd56b6

[2019-07-10 19:25] jonjohnsonjr commented on #4557
@vagababov you make a good point, the cause of the issue is separate from whether or not we are serving any traffic. There's a difference between:
1. "there is something wrong that probably needs to be fixed by someone" and
2. "there is something wrong and we should not route traffic to this revision".

These categories might be not so great... maybe we should think in terms of why it's a problem:

[2019-07-10 21:12] dgerd opened #4700 "Add validation for system labels and annotations"
## In what area(s)?

/area API

## Describe the feature

We have a variety of `serving.knative.dev` labels and annotations that we apply to different resources with our controllers. We also have one ( `serving.knative.dev/visibility` ) that we expect users to apply on a particular resource.

Some of these labels and annotations are used for extending our API and are expected by users to be correct

[2019-07-10 21:59] #3419 closed

[2019-07-10 22:04] yanweiguo opened #4702 "`Spec.containerConcurrency` vs `annotations.autoscaling.knative.dev/target`?"
## In what area(s)?

## Ask your question here:
Currently we have both `Spec.containerConcurrency` and `annotations.autoscaling.knative.dev/target`.

The first one is how much the pod is able to tolerate. The second one is how much the autoscaler should attempt to maintain as its comment says. However we are using the second one as the first one and it can override the first one if both are set: h

[2019-07-10 22:05] yanweiguo commented on #4702
cc @vagababov @markusthoemmes @josephburnett

[2019-07-10 22:42] akyyy commented on #1727
I opened this issue based on a comment from old pr a while ago. It's outdated and I'm closing it. Thanks!

[2019-07-10 22:42] #1727 closed

[2019-07-10 23:09] dgerd commented on #4659
As Markus mentioned is not currently supported today. That said that error message looks like a bug. It should be invalid field for the second container instead of missing for the first.

```missing field(s): spec.template.spec.containers[0].image```

[2019-07-10 23:16] vagababov commented on #4702
I presume the one in the spec is for historical reasons.
I also think that all declared concurrencies should be `total` and all
effective should be with `tu` applied. Otherwise we don't have consistency.
Code, as it is now, enforces this.

On Wed, Jul 10, 2019 at 3:05 PM Yanwei Guo <notifications@github.com> wrote:

[2019-07-10 23:31] yanweiguo opened #4705 "Throttler should use the same way as Autoscaler uses to resolve concurrency"
## In what area(s)?

## Describe the feature
Autoscaler considers the followings to calculate max/target concurrency per pod.
`Spec.containerConcurrency`
`annotations.autoscaling.knative.dev/target`
`annotations.autoscaling.knative.dev/targetUtilizationPercentage`.

Throttler only considers `Spec.containerConcurrency`: https://github.com/knative/serving/blob/master/pkg/activator/throttler.go#L237.

[2019-07-10 23:34] yanweiguo commented on #4705
cc @vagababov
/assign

[2019-07-10 23:41] dgerd opened #4706 "Bad error message when multiple containers defined"
## In what area(s)?

/area API

## What version of Knative?

0.7

## Expected Behavior

I get an error that only one container can be specified.

## Actual Behavior

The defaulting logic to move v1alpha1 to v1beta1 ends up clearing both container images prior to validation in the webhook. The result is an empty rs.Containers with a length on 1 gets passed to validation giving the following error m

[2019-07-10 23:42] dgerd commented on #4659
Created a bug for the error message: https://github.com/knative/serving/issues/4706

Going to change this to feature request.

[2019-07-11 02:32] baikai commented on #4678
thx, I will use new kubectl for my test.

[2019-07-11 06:11] markusthoemmes commented on #4702
See https://knative.dev/docs/serving/configuring-the-autoscaler/#configuring-concurrent-request-limits for extended documentation on this.

`containerConcurrency` is a hard limit enforced by the queue-proxy. It's an integral part to serverless (to support classic FaaS style workloads) thus it's part of the spec.

`/target` as you said is a goal for the autoscaler. It behaves like a soft limit.

Fo

[2019-07-11 06:15] markusthoemmes commented on #4705
The throttler is there to keep the revision from overflowing. If `containerConcurrency` is not set, we'll allow for infinite requests on the pod itself by design. The target annotation is merely an autoscaling goal not an enforced limit.

In that sense I wonder if we really want to slow requests down and **enforce** a limit that wasn't provided by the user really.

[2019-07-11 06:22] vagababov commented on #4705
I think: autoscaler makes decisions based upon `100` (or whatever config
map value is), which means the decisions we make for scaling and the number
of requests activator (which is const `1000`) forwards to the backends
might not be the same, causing queueing at the QP.
Unless I missed something as always :-)

On Wed, Jul 10, 2019 at 11:15 PM Markus Thömmes <notifications@github.com>
wrote:

[2019-07-11 06:48] markusthoemmes commented on #4705
If no `containerConcurrency` is set, the queue-proxy will not queue at all.

[2019-07-11 12:57] fatkun commented on #4655
I want to try make a patch for it later.

[2019-07-11 14:13] mattmoor commented on #4435
I'm going to move this out of 0.8 since we have a workaround, and I think I'm fairly comfortable landing it in 0.9.  I'd rather @jonjohnsonjr focus on the lifecycle changes.

[2019-07-11 14:14] mattmoor commented on #3820
I think that this is effectively blocked on 1.14 (or the 1.13 backport)

[2019-07-11 14:17] mattmoor commented on #1846
@vagababov Trying to understand what work is left here.  Just tests?

[2019-07-11 14:25] mattmoor commented on #4263
@adrcunha Wanted to check in on whether you plan to land this in 0.8 (about 4 more weeks)?

[2019-07-11 14:31] mattmoor commented on #2086
A "band-aid" that I was discussing with @markusthoemmes (IIRC) was to have a request latency floor, which is effectively `min(actual latency, per-request queue overhead)`.

[2019-07-11 14:33] mattmoor commented on #2495
I think we have this covered already in https://github.com/knative/serving/blob/e76807bb7f3b9631a8445ae297f2976a5f661ce9/test/performance/scale_from_zero_test.go#L250 and https://mako.dev/benchmark?benchmark_key=5762723203776512&maxruns=100.  Sure they could be better, but we are tracking them.

[2019-07-11 14:33] #2495 closed

[2019-07-11 14:34] mattmoor commented on #3593
/assign @jonjohnsonjr

Jon, please let me know if this isn't within the scope you are tracking.

[2019-07-11 14:36] mattmoor commented on #3903
I'll close this issue if I don't hear back soon...

[2019-07-11 15:07] adrcunha commented on #4263
Sorry, not anymore. Moving to Ice Box.

[2019-07-11 16:15] tcnghia commented on #4631
/assign @ZhiminXiang

[2019-07-11 17:02] yanweiguo commented on #4702
Then we shouldn't use `/target` as `containerConcurrency`: https://github.com/knative/serving/blob/master/pkg/reconciler/autoscaling/resources/concurrency.go#L49

[2019-07-11 17:12] JRBANCEL opened #4716 "Dash in controller name cause metrics to be dropped"
## In what area(s)?

/area monitoring
/area networking
/kind bug

## What version of Knative?

HEAD

## Expected Behavior
Controller metrics are emitted.

## Actual Behavior

Metrics names are generated by concatenating the `component name` and the `metric name`.
In this case:

the prefix contains a `-`, which is not allowed in a metric name: see [validation](https://github.com/prometheus/common/b

[2019-07-11 17:14] yanweiguo commented on #4702
My understanding for current state is:
1. Spec `containerConcurrency` is the hard limit.
1. Annotation `/target` is documented as soft limit, but actually used as hard limit, i.e.`/target` overrides  `containerConcurrency`, `/target*/targetUtilizationPercentage` overrides `container-concurrency-target-default`.
1. Behaviors of the following are not clear:
  * `/target`, `/targetUtilizationPercenta

[2019-07-11 17:32] mattmoor commented on #4589
We have https://github.com/knative/serving/issues/4453 for tracking what we plan in the near term.  We should firm up what we want from this in the longer term.

[2019-07-11 17:35] markusthoemmes commented on #4702
All of these do not affect the enforcing bit of `containerConcurrency` at all. That is solely done by the queue proxy and it gets passed the raw setting from the revision spec. The queue-proxy does not see the /target annotation at all and does not take it into account.

All of that resolving ordeal is only knobs for the autoscaler. It only changes the way it behaves and what it tries to shoot for

[2019-07-11 17:52] yanweiguo commented on #4702
It doesn't make sense to me. My understanding is what autoscaler tries to maintain for a single pod is `min( containerConcurrency * utilizationPercentage, target`, not `min(containerConcurrency * utilizationPercentage, target*utilizationPercentage`.

[2019-07-11 17:56] markusthoemmes commented on #4702
Note that utilization percentage can be a global setting too (if not set on the specific revision). It's basically a handle to determine how "hot" you want your revisions to run.

I see target as: "this is what my app can deal with" and the utilizationPercentage as "sure, but I want to give it a bit more room to breathe, maybe".