[2020-03-01 00:24] mylokin commented on #7101
@duglin that's exactly what I needed, thank you so much for pointing out!

[2020-03-01 00:24] #7101 closed

[2020-03-01 06:58] #7087 closed

[2020-03-01 12:03] #7094 closed

[2020-03-01 12:03] #7055 closed

[2020-03-01 12:03] #7072 closed

[2020-03-01 12:03] knative-test-reporter-robot opened #7102 "[flaky] test/conformance/runtime.TestMustHaveCgroupConfigured"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestMustHaveCgroupConfigured
* **Repository name**: serving

[2020-03-01 12:04] #7090 closed

[2020-03-01 12:04] #7091 closed

[2020-03-01 12:04] #7057 closed

[2020-03-01 12:04] #7088 closed

[2020-03-01 12:04] #7093 closed

[2020-03-02 12:04] #7099 closed

[2020-03-02 15:00] mattmoor commented on #1185
/reopen
/remove-lifecycle rotten

[2020-03-02 19:58] #6991 closed

[2020-03-02 21:08] karlkfi commented on #6895
Paging @mattmoor, since it sounds like you worked on k8schain and helped resolve auth issues in  https://github.com/knative/serving/issues/4435

Also paging @markusthoemmes, since it sounds like you added the clarified error messages in https://github.com/knative/serving/pull/5920

In [Deploying images from a private container registry](https://knative.dev/docs/serving/deploying/private-registry/)

[2020-03-03 00:15] vagababov commented on #6135
/assign @taragu
/remove-lifecycle stale

[2020-03-03 00:15] vagababov commented on #5938
/close

[2020-03-03 00:16] #5938 closed

[2020-03-03 00:16] vagababov commented on #5976
/close

[2020-03-03 00:16] #5976 closed

[2020-03-03 05:21] mattmoor commented on #6895
_(skimming, so forgive any gaps I may have missed)_

If this is true, it is news to me (and a change since I left google).  The Cloud Run on GKE controller should actually be excluded from the metadata-spoofing that workload identity does, so that it can use the Node's identity (as the kubelet does).

cc @cjcullen @mikedanese

The imagePullSecrets are copied into the `k8schain.Options`, but so too

[2020-03-03 05:54] karlkfi commented on #6895
Right, I got it working by making a docker-registry Secret and putting it on a ServiceAccount as an imagePullSecret. The problem is that every user of Knative Serving has to do the same thing, rather than have it be some platform/controller level configuration.

It's tedious and means at least managing a Secret and ServiceAccount per namespace.

In our case it's even worse, because every workload

[2020-03-03 06:07] mattmoor commented on #6895
@karlkfi I think I missed something.  How are the workloads authenticating with GCR to pull images today?

[2020-03-03 06:28] karlkfi commented on #6895
Workloads don't pull images. The kubelet/docker pulls images.

In GKE, the nodes have a GCE service account attached to them that the kubelet finds using the GCE metadata endpoint.

In kind, you mount a docker auth json file into one of many paths on the nodes where kubeadm can find it (e.g. `/var/lib/kubelet/config.json`), per https://kubernetes.io/docs/concepts/containers/images/#configuring-nod

[2020-03-03 07:09] arleif-dfactory commented on #7052
Thanks for the help! Turns out it was the ELB that istio provisioned for the ingressGateway that was timing out. Just one of those things that makes you want to hang yourself taking so long to find.

[2020-03-03 07:09] #7052 closed

[2020-03-03 12:03] knative-test-reporter-robot opened #7112 "[flaky] pkg/activator/handler.TestMetricsReported"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/handler.TestMetricsReported
* **Repository name**: serving

[2020-03-03 12:04] #7102 closed

[2020-03-03 12:10] duglin commented on #4098
/remove-lifecycle stale

[2020-03-03 13:24] softputer opened #7114 "Confused about revision gc"
## Ask your question here:
I am confused about the gc params:
What does stale-revision-timeout and stale-revision-lastpinned-debounce really mean ? And why stale-revision-timeout minus lastpinned-debounce be longer than the controller resync period?

[2020-03-03 14:49] mattmoor commented on #6895
Ack.  In a previous life I started GCR and `pkg/credentialprovider` in K8s. 😉

`k8schain` links in `pkg/credentialprovider` to mimic the kubelet's auth behavior as closely as we can (that's why we use it).  There are a few environment circumstances where the chroot interferes with the fidelity of this, but in most cases we've seen you can get around this by exposing similar information to the work

[2020-03-03 14:50] mikedanese commented on #6895
Probably fixed by https://github.com/kubernetes/kubernetes/pull/87912 but also please stop importing packages in k8s.io/kubernetes: https://github.com/google/go-containerregistry/issues/496. Those packages are not meant to be depended on.

[2020-03-03 14:52] mattmoor commented on #6265
@vagababov ping on this since it's the KPA failing to become ready

[2020-03-03 15:03] rhuss commented on #6913
Actually it could be also a client issue and how the wait for `Ready == True` works. Actually `kn` watches an all events from a watch for this condition to happen (and also that the generation and observedGeneration are the same). It looks like that for the update case, that kind of an `old` event is delivered. This could be a left over from a previous service-create (in this case there are potent

[2020-03-03 15:23] #7112 closed

[2020-03-03 15:29] mattmoor commented on #6895
Pretty sure this fixes that, at the cost of losing the "same code" fidelity: https://github.com/knative/serving/pull/7106

Honestly, K8s needs to fix the digest resolution problem :(

[2020-03-03 15:37] mikedanese commented on #6895
Thanks for pointing that out. Not exactly what I had in mind but I suppose it's one way... I'll ask around and see if there's a faster way to fix this.

[2020-03-03 15:43] mattmoor commented on #6895
I'd say the same thing about `imagePullPolicy`, Mike! 🤣

[2020-03-03 16:20] vagababov commented on #6265
Probably the PA type annotation is missing. It's not on the deployment...
@ysjjovo can you do
`kubectl get rev <rev-name> -oyaml` and
`kubectl get podautoscaler <rev-name> -oyaml`
 and paste them here please.
(probably knative-service-2hgd6, unless you redeployed).

[2020-03-03 18:08] karlkfi commented on #6895
@mattmoor What path would i need to bind the key to in the knative controller container?

[2020-03-03 18:28] tcnghia commented on #6862
/close

[2020-03-03 18:28] #6862 closed

[2020-03-03 18:31] mattmoor commented on #6895
Given that it's linking the kubelet code, I'd probably give the same path in the container a shot first (then go digging if that doesn't work).

[2020-03-03 19:24] astoycos commented on #6792
@josiemundi I like how you solved it and pulling data from the Bitcoin API is super Cool! A K8s service was my alternative/backup idea as well, but I really wanted to break some rules and make it work with Knative :) I was actually able to get past the bottleneck by specifying the containersource sink endpoint as `https://<service_podIP>:port` to exploit the Pod2Pod networking properties of K8's,

[2020-03-03 20:06] #6917 closed

[2020-03-03 21:49] JRBANCEL opened #7119 "Reduce Autoscaler log volume"
## Describe the feature
It seems that Autoscaler logs a lot of stuff of questionable value.
In a cluster with a two services with no traffic: I see the following:
[code]
It seems that it is at least 1 log entry per revision every 2s.
That's quite a bit in general but even worse given that:
- those revisions are not referenced by any route except the last one
- this information is already a metric

[2020-03-03 21:58] vagababov commented on #7119
They are very useful for debugging, but I guess if we need debugging we can always tweak the configmap.

[2020-03-03 22:02] vagababov commented on #7119
For posterity, if anyone needs this:
1. `kubectl edit -n knative-serving cm config-logging`
2. put into data (out from example)
    - `loglevel.autoscaler: debug`
    - `loglevel.activator: debug`

[2020-03-03 22:19] JRBANCEL commented on #7119
`questionable value` wasn't for the statement itself, but the fact that it is emitted even if the revision is inactive, or that the values are 0.

[2020-03-03 22:31] vagababov commented on #7119
Yep, if you're debugging scale to 0 or from 0 behaviour even that might be useful.
But for the most part I concur that it's too much (and zap is missing my favorite golog features like `LogEveryN/KSec`...

[2020-03-03 22:54] vagababov opened #7121 "Operator limit flags for min/max target/tu/tbc."
## In what area(s)?
/area autoscale
/area operator

## Describe the feature

Currently we have no override controls in the revision creation flow, wherein the operators can limit the `target` or `targetUtilization` or `tbc` values. Which can lead to developers creating "shoot yourself in the foot" revisions (e.g. target=10000 tbc=-1, basically killing activators).

We need the limiters for max (or

[2020-03-04 04:38] BenTheElder commented on #6895
If you're customizing the deployment anyhow it might instead make sense to mount a secret? (not that kind is the bastion of secure systems! 🙃 ... but you could do this consistently across providers)

[2020-03-04 05:39] karlkfi commented on #6895
TBH, I don’t like either option. Bind mounts are a security hole and imagePullSecrets are a usability disaster. I wish the controller handled polling the registry for metadata so only the platform operator needed runtime permissions on the registry.

[2020-03-04 05:40] BenTheElder commented on #6895
Er, I mean mount a normal secret containing the json that would otherwise
have been bind mounted?

On Tue, Mar 3, 2020, 21:39 Karl Isenberg <notifications@github.com> wrote:

[2020-03-04 05:43] karlkfi commented on #6895
Why not mount the secret it on the controller and have the Revision poll the controller as proxy to the registry or have the controller otherwise inject the metadata into the Revision?

[2020-03-04 05:56] karlkfi commented on #6895
Maybe we're talking past each other...

The doc about [tag to digest resolution](https://knative.dev/docs/serving/tag-resolution/) says the CONTROLLER needs access to the container registry at runtime. But I had to grant ALL KNATIVE SERVICES access to the container registry at runtime to get it to work...

That doc also only talks about proxies and certs, not service accounts and image pull secret

[2020-03-04 05:59] BenTheElder commented on #6895
yes, I beleive that's what I was trying to ask.

this is more knative than I know about currently 😅 .. so many fun things to play with one of these days.

[2020-03-04 07:50] #7114 closed

[2020-03-04 08:56] ysjjovo commented on #6265
Thanks for your reply!
`kubectl get all` output below
[code]
`kubectl get rev <rev-name> -oyaml` output below
[code]
`kubectl get podautoscaler <rev-name> -oyaml` output below
[code]

[2020-03-04 12:04] knative-test-reporter-robot opened #7127 "[flaky] test/e2e.TestSubrouteLocalSTS"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSubrouteLocalSTS
* **Repository name**: serving

[2020-03-04 12:04] knative-test-reporter-robot opened #7128 "[flaky] test/e2e.TestServiceToServiceCallViaActivator"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestServiceToServiceCallViaActivator
* **Repository name**: serving

[2020-03-04 12:04] knative-test-reporter-robot opened #7129 "[flaky] test/e2e.TestServiceToServiceCallViaActivator/both-disabled"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestServiceToServiceCallViaActivator/both-disabled
* **Repository name**: serving

[2020-03-04 12:04] knative-test-reporter-robot opened #7130 "[flaky] test/e2e.TestSubrouteLocalSTS/fqdn"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSubrouteLocalSTS/fqdn
* **Repository name**: serving

[2020-03-04 13:01] dsimansk commented on #6913
As a follow-up to Roland's theory I've added a few debug messages to confirm that we receive old `ADDED` event from previous generation.

Here's is the snippet of good and failed waiting during tests, that modifies traffic of existing service.
Values for `ADDED` event are as expected `meta.generation >  status.observedGeneration`. `kn` wait skipped that event and waited for the values to equal (to

[2020-03-04 16:19] dprotaso commented on #6810
@tcnghia going to close this since the queue proxy probe failing is expected when the pod is shuttdown (due to scaling or anything)

And I found out why the smoke test is failing

[2020-03-04 16:19] #6810 closed

[2020-03-04 17:50] mattmoor commented on #6895
We resolve tag->digest in the controller, but the kubelet still needs to be able to pull the image by digest.  Perhaps it's worth a call to avoid talking past one another?

[2020-03-04 19:00] vagababov commented on #7119
/close

[2020-03-04 19:00] #7119 closed

[2020-03-04 19:07] vagababov commented on #6265
As I presumed you don't have the annotation:
[code]
and hence PA is not initialized.

- Are your webhooks running?
  `kubectl get po -n knative-serving`
- Are your webhooks configured?
  - `kubectl k get mutatingwebhookconfigurations.admissionregistration.k8s.io`
- What is the webhook version?
 - `kubectl get deployments.apps -n knative-serving webhook -oyaml | grep "image:"`

[2020-03-04 19:30] dprotaso commented on #6913
(posted on slack but posting here for posterity)

regarding [watches the K8s docs says](https://kubernetes.io/docs/reference/using-api/api-concepts/#the-resourceversion-parameter)

[2020-03-04 19:46] Tomcli opened #7140 "Is there a way to expose multiple ports on a single Knative service"
## Ask your question here:
Hi. We want to expose multiple ports on the Knative service. However, it seems like it doesn't allow more than one custom port according to the validation. https://github.com/knative/serving/blob/master/pkg/apis/serving/k8s_validation.go#L397-L406

Is there any way we could work around this? Thank you.

[2020-03-04 21:38] vagababov commented on #7140
Can you describe the use case?

[2020-03-04 21:48] Tomcli commented on #7140
We have a container that exposed http and grpc on two different port. we want to use a single Knative service to map those two ports like the following.
[code]

However, with the current validation test, we are only allowed to have one port per Knative service. Is there a other way that can achieve the same use case? Thanks

[2020-03-04 21:55] karlkfi commented on #6895
[Deploying images from a private container registry](https://knative.dev/docs/serving/deploying/private-registry/) describes how to make an imagePullSecret on the default service account so it can be picked up by pods in the default namespace.

I got something similar working on kind by making a non-default service account with an imagePullSecret and explicitly setting `spec.template.spec.serviceA

[2020-03-04 23:24] vagababov commented on #7140
/cc @mattmoor @evankanderson @dprotaso

[2020-03-05 00:09] whaught opened #7143 "[Patch Removal] Remove the DryRunCreate patch after latest k8s client"
## Patch Removal

Remove the dryruncreate.patch file after the k8s client is updated to version > 1.16. Although the header has been around for some time, it wasn't added to the client until later. See #3425

[2020-03-05 00:09] whaught commented on #7143
/assign

[2020-03-05 00:35] vagababov opened #7144 "Document the Subsetting in internal and Public docs"
## In what area(s)?
/area autoscale
/area docs

## Describe the feature
The subsetting needs to be documented in internal documentation
and the knobs need to be documented in the public

/assign

[2020-03-05 02:59] tcnghia commented on #6478
@nak3 since https://github.com/istio/istio/pull/20537 is merged, I think we can do this as soon as we use Istio 1.15?

[2020-03-05 03:01] tcnghia commented on #6412
/close

Duplicate of #6543

[2020-03-05 03:01] #6412 closed

[2020-03-05 03:05] tcnghia commented on #6269
@JRBANCEL In Kourier, I believe each Pod has multiple Envoy containers, in which success in one of them doesn't mean config has propagated to the other.  However, we may want to wait for Kourier to come to knative/net-kourier before make this more generic.

[2020-03-05 03:08] nak3 commented on #6478
Yes, that is correct. We need to wait for Istio v1.15 release. __And__ once 1.15 is released, we need to implement the logic which adds following corsPolicy in vitualservice when GRPC-WEB is used.

<details>
<summary> corsPolicy for grpc-web in VirtualService </summary>

[code]
</details>

[2020-03-05 04:46] mattmoor commented on #7143
We're on 1.16, so 1.14 seems wrong 🤔

[2020-03-05 04:54] mattmoor commented on #7140
This is complicated for a variety of reasons, and probably not something we'll support anytime soon (if ever).  Most of the reasons that come to mind are networking related so cc @tcnghia

In the meantime, is it possible to multiplex the http handling alongside the GRPC handling?

[2020-03-05 05:33] mattmoor commented on #7041
/assign

Once we have nightly builds (https://github.com/knative/net-istio/pull/16), I can take on the work of pulling things back into serving and swapping our e2e testing to use the drop.  @tcnghia I'll leave you as a co-owner to do the honors of deleting the old code from serving 🎉

[2020-03-05 05:37] savitaashture commented on #4934
Hi @dgerd @mattmoor

For [upgrade](https://github.com/knative/serving/tree/master/test/upgrade) test currently it has support for `v1alpha1` .

So do we need to have support for `v1alpha1` along with `v1` or do we need to completely use `v1` and remove `v1alpha1` support

[2020-03-05 05:52] #7097 closed

[2020-03-05 06:26] ysjjovo commented on #6265
```kubectl``` commands output below.
[code]

[2020-03-05 15:06] mattmoor commented on #4934
At this point, testing v1 should be our priority.  cc @dprotaso

[2020-03-05 15:10] dprotaso commented on #7140
@Tomcli can you comment on the specifics of your workload

I'm curious about the following:

1) What's the purpose for each port being exposed?
2) What's the exposure of each port (ie. are they both public to the internet)
3) What type of traffic/load does each port receive?
4) How do you expect this app to scale as the traffic/load increases/decreases.

[2020-03-05 15:32] dprotaso commented on #4934
There's a corresponding issue to only use v1 APIs for e2e tests. I'd say the same applies to only upgrades

[2020-03-05 15:34] dprotaso commented on #7044
Should this move to `knative/net-istio` repo now?

cc @trshafer

[2020-03-05 15:52] mattmoor commented on #7044
Yeah, I mentioned this somewhere, but i'll transfer the issue.

[2020-03-05 16:18] ZhiminXiang opened #7153 "Note: LetsEncrypt CAA bug Impact for Knative"
## Describe the feature

LetsEncrypt announced a [bug](https://community.letsencrypt.org/t/2020-02-29-caa-rechecking-bug/114591) that they validated CAA records in an incorrect way. As a result, they started revoking certificates affected by this bug on March 04.

The bug only affects the certificates with more than one SAN (domain). Certificates issued from Auto TLS feature should **NOT** be affe

[2020-03-05 16:22] #6831 closed

[2020-03-05 17:17] dprotaso opened #7154 "Cluster scoped resources should make a good effort of being unique in the k8s ecosystem"
## What version of Knative?

Most

## Expected Behavior

Installing Knative shouldn't affect the installation of other k8s based projects

## Actual Behavior

KEDA had a similarly named cluster role binding that would prevent both projects being installed on the same cluster - this was fixed https://github.com/kedacore/keda/pull/388

Generic names in our cluster scoped objects should be avoided -

[2020-03-05 17:27] savitaashture commented on #4934
Thank you @mattmoor @dprotaso

/assign

[2020-03-05 17:37] Tomcli commented on #7140
Hi @dprotaso, one of our use case is to use [tensorflow serving](https://github.com/tensorflow/serving) on Knative.

Below are the answers to your questions:
1. TensorFlow serving has http and grpc hosted on two different port. They both are used for model prediction but with different protocol.
2. Both of the ports should be public to all users.
3. It depends on the model, most of the time the ht

[2020-03-05 18:09] dprotaso commented on #7154
Note: renames should require installation/upgrade docs to change since we don't want duplicate resources lingering around

[2020-03-05 18:24] vagababov commented on #6265
Can you get logs from the autoscaler as well?
`kubectl logs -n knative-serving <autoscaler-pod-name>`
Also `kubectl get podautoscaler <rev-name> --oyaml`

For some reason it's missing above.

Finally
`kubectl describe pod stock-service-example-first-deployment-759c98b4c5-m9xbn` is also interesting, since one of the containers doesn't seem to start... I presume it's the user container, rather than

[2020-03-05 19:29] dprotaso commented on #7140
Is this scaling on the number of concurrent requests tied to a specific port?

[2020-03-05 19:36] tcnghia commented on #7040
Fixed by https://github.com/knative/net-istio/pull/13

[2020-03-05 19:41] dprotaso commented on #7140
If it's a matter of a different protocols you could run two separate Knative Services.

[2020-03-05 19:57] mattmoor commented on #7040
@tcnghia I got a "Fixed by" comment email, but don't see it.  Did you delete it?

[2020-03-05 19:58] dprotaso commented on #6832
Note - this has landed in https://github.com/knative/net-istio/pull/4

[2020-03-05 20:07] tcnghia commented on #7040
Yeah, because tests aren't moved yet.

[2020-03-05 20:20] mattmoor commented on #7140
Can GRPC not multiplex the GRPC handlers alongside non-GRPC http/2 handlers?

[2020-03-05 20:49] chizhg commented on #5624
/assign

[2020-03-05 20:55] #6832 closed

[2020-03-05 21:10] taragu opened #7155 "Add benchmarks for metric scraping performance"
## Describe the feature

We need benchmarks added in order to compare the performance of the current metric scraping and any potential implementation changes (such as the proposed DaemonSet scraper https://docs.google.com/document/d/193qj0-93rsCDxWYFmk74U9LwyKIHjdhPjro3maBTqIE/edit#heading=h.n8a530nnrb)

Especially, we need to benchmark function `Scrape(...)` in stats_scraper.go
https://github.com

[2020-03-05 21:13] dprotaso commented on #7140
It requires some work and is language specific

We use it in our tests
https://github.com/knative/serving/blob/fd253212f659c3adb635410659ea95f3ee862097/test/test_images/grpc-ping/main.go#L80-L88

https://github.com/knative/serving/blob/fd253212f659c3adb635410659ea95f3ee862097/vendor/knative.dev/pkg/network/h2c.go#L29-L36

@Tomcli that's the other option worth exploring - then you'd have the expect

[2020-03-05 21:49] Tomcli commented on #7140
Thanks @dprotaso, we will try to explore these options and see can it fit in our scenario.

[2020-03-05 23:19] karlkfi commented on #6895
Per @mattmoor's suggestion, I tried mounting the config.json into the controller pod, but that doesn't seem to work:

[code]

Still get the following error in the controller when creating a Service without an image digest specified:

[2020-03-06 00:30] #7040 closed

[2020-03-06 02:17] mattmoor commented on #7039
Alright, script is created and we have nightly builds, so this is done.

[2020-03-06 02:17] #7039 closed

[2020-03-06 04:39] #7043 closed

[2020-03-06 05:57] ysjjovo commented on #6265
You presumption is right!user container didn't start,because I used a wrong image ```helloworld-go-eventing```.I sorry for that.Now I use a new sample image helloworld-go.
 Some ```kubectl``` commands output below.
```kubectl get all```
[code]
```kubectl get rev helloworld-go-vfsdz -o yaml```
[code]
```kubectl logs -n knative-serving autoscaler-5769f76958-8c67q```
[code]
```kubectl get podautoscal

[2020-03-06 07:12] Uvindu96 opened #7159 "Can not access Knative service via ".svc.cluster.local""
## In what area(s)?

## What version of Knative?

## Expected Behavior

I have my Knative service which is deployed in the default namespace (istio-enabled) and
 I have my second service called foo in another namespace called test (istio not enabled), I need to access my Knative service cluster locally through my foo service. In this use case my frontend service is foo service and backend service

[2020-03-06 09:25] MIBc commented on #7159
I think host should be your ksvc hostname.

[2020-03-06 09:35] nak3 opened #7162 "Ksvc becomes Ready status even though KCert is not ready on autoTLS"
### In what area(s)?

/area networking

### What version of Knative?

HEAD (Build on 88710c3382b7f8176ad95941d698f3c946af3de0)

### Expected Behavior

Ksvc should not become `Ready` when Cert is not Ready && autoTLS is Enabled.

### Steps to Reproduce the Problem

#### Step-0. Deploy cert-manager and ns-cert

#### Step-1. Set following config

[code]

#### Step-2. Delete ClusterIssuer for cert-man

[2020-03-06 09:43] MIBc commented on #7155
I want to do this.

[2020-03-06 09:48] markusthoemmes commented on #7155
Let's please do some discussion on this before jumping into implementations.

If we want to get comparable results here, we actually need to take network, retries etc. into consideration to be able to compare the old vs. the new scraping. Non-i/o benchmarks as we've written in the past in the form of golang benchmarks might not cut it in this case (though they'd prolly be useful regardless).

[2020-03-06 12:03] knative-test-reporter-robot opened #7164 "[flaky] test/scale.TestScaleToN"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN
* **Repository name**: serving

[2020-03-06 12:03] #7130 closed

[2020-03-06 12:03] knative-test-reporter-robot opened #7165 "[flaky] test/scale.TestScaleToN/scale-100"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-100
* **Repository name**: serving

[2020-03-06 12:03] #7127 closed

[2020-03-06 12:03] #6115 closed

[2020-03-06 14:32] dprotaso commented on #7143
Looks like this will land in 1.18

[2020-03-06 15:02] taragu commented on #7155
@markusthoemmes yes I agree we need to figure out what's the best way to do this. I think one way we can visualize the realistic timing of the current scraping is to get the time elapsed of how long it takes to scrape the 95% sample size, and report this metric so it can be visualized in grafana:

https://github.com/knative/serving/blob/fd253212f659c3adb635410659ea95f3ee862097/pkg/autoscaler/metri

[2020-03-06 15:10] markusthoemmes commented on #7155
Writing metrics sgtm!

[2020-03-06 16:40] vagababov commented on #7155
We probably need a distribution per revision with a dimension per size
overall and per revision-per pod. This should give us lots of interesting
data.

On Fri, Mar 6, 2020 at 7:10 AM Markus Thömmes <notifications@github.com>
wrote:

[2020-03-06 17:19] vagababov commented on #5654
/remove-lifecycle rotten
Though perhaps should be cloned to `net-istio`
/cc @tcnghia

[2020-03-06 17:27] tcnghia opened #7170 "Validate Istio config-map in knative/net-istio webhook"

[2020-03-06 18:12] mattmoor commented on #5654
I can move it.

[2020-03-06 18:26] #4934 closed

[2020-03-06 19:05] taragu opened #7171 "Get timing on metric scraping and report this metric to grafana"
/area autoscale
/area test-and-release

Related to #7155

## Describe the feature

We need to report metrics on the current metric scraping in order to compare its performance with any potential implementation changes (such as the proposed DaemonSet scraper https://docs.google.com/document/d/193qj0-93rsCDxWYFmk74U9LwyKIHjdhPjro3maBTqIE/edit#heading=h.n8a530nnrb)

We need to report timing on the fo

[2020-03-06 20:55] rhuss commented on #6913
I think this can be closed, and this specific flake is now resolved by ignoring that synthetic "Added" event (in fact only "Modified" events are checked for now as the final update to condition "Ready"  == "True" will come in with such a modified event.

/close

[2020-03-06 20:55] #6913 closed

[2020-03-06 21:27] mattmoor opened #7175 "testing"
ignore this

[2020-03-06 21:28] #7175 closed

[2020-03-06 21:34] vagababov commented on #7030
Fixed by #7173
/close

[2020-03-06 21:36] vagababov commented on #6265
Your PA still misses the correct annotation.
It seems that your webhook is somehow broken. May be you can inspect the webhook logs and see if there are errors.
/cc @dprotaso @mattmoor

[2020-03-06 21:36] vagababov commented on #6265
Otherwise the system seems to be in order...

[2020-03-06 23:41] tcnghia opened #7179 "Add integration tests to knative.dev/net-istio presubmit"

[2020-03-06 23:42] tcnghia commented on #7179
Fixed in https://github.com/knative/test-infra/pull/1791

[2020-03-06 23:42] tcnghia commented on #7179
/close

[2020-03-06 23:42] #7179 closed

[2020-03-07 00:01] vagababov commented on #5739
/remove-lifecycle rotten
/remove-lifecycle stale
/cc @anniefu @evankanderson

[2020-03-07 01:34] dprotaso commented on #6265
thanks for bearing with us!

Grabbing the webhook logs would be a good next step.

Alternatively if this is something you can reproduce easily - if you could show the script that setup your cluster (or explain it) - we could try to reproduce it ourselves

[2020-03-07 05:36] xlight05 opened #7181 "Magic DNS Pod Error on GKE"
$title

## In what area(s)?

## What version of Knative?

## Actual Behavior
`kubectl get pods -n knative-serving `

`kubectl logs -n knative-serving default-domain-sd6sk default-domain `

`W0307 04:32:57.965250       1 client_config.go:541] Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might not work.
{"level":"fatal","ts":1583555577.9773126,"logger":"fallback

[2020-03-08 12:00] #2347 closed

[2020-03-08 12:03] #7069 closed

[2020-03-08 12:11] zhangtbj opened #7186 "ShouldRunAsUserContainerDefault test fail when I use the RedHat UBI base image"
## Ask your question here:

Hi all, Now I am trying to use another base image (**registry.access.redhat.com/ubi8-minimal**) to build knative serving component images.

The build process is ok, but there is a fail test case: `TestShouldRunAsUserContainerDefault` in the `test/conformance/runtime/user_test.go`

The error is:
[code]

And the user info in the host of the response of the runtime info ap

[2020-03-08 14:27] Uvindu96 commented on #7159
Actually I'm not talking Knative service directly, It's my backend service.

[2020-03-08 14:46] MIBc commented on #7159
You can try this example command.
`curl -H"HOST:helloworld-go-tmp-v1.default.svc.cluster.local" -H"Knative-Serving-Revision:helloworld-go-tmp-v1" -H"Knative-Serving-Namespace:default" http://10.233.23.22`

[2020-03-08 14:59] tshak commented on #7159
I appear to be having the same issue. I'm running on Kubernetes `v1.15.4`. This worked fine on Istio `1.3` and Knative `1.11`. When I build the stack with Istio `1.5` (via the Istio Operator) and Knative `1.13.0` this error appears from one of my apps:

[code]
The cluster local gateway is present and configured the same way in each environment. When looking at the `ksvc` that I'm trying to reach,

[2020-03-08 15:19] Uvindu96 commented on #7159
@MIBc  I figured out the problem, I think when I invoked my ksvc via cluster locally it's looking for a service called "cluster-local-gateway" in Istio-system namespace which is not there when we install Knative, but this worked fine in Knative v8.0.0,

[2020-03-08 17:11] tshak commented on #7159
Up to this point the `cluster-local-gateway` was setup in the `knative-serving` namespace for me. Did you have it configured there and then move it to `istio-system`? I couldn't find any release notes about a change like this.

[2020-03-09 06:15] ysjjovo commented on #6265
Thanks for your patience!
I restart webhook because of too much logs in it.
```kubectl logs -n knative-serving webhook-5d6fc96cf-qqj8b``` output below.
[code]
- install istio
[code]
- install knative serving
[code]
My knative installation is some how strange because of network blockade in china.
'serving.yaml' I applied origin from [offical](https://github.com/knative/serving/releases/download/v0.

[2020-03-09 07:15] markusthoemmes commented on #5304
/remove-lifecycle rotten

I wanted to pick this up for 0.14

[2020-03-09 07:17] markusthoemmes commented on #5304
/assign

[2020-03-09 07:30] markusthoemmes commented on #7186
I suppose this test is somewhat hardcoded against the base image we're using in CI (`gcr.io/distroless/static:nonroot`) which has that specific user set as the default.

In our Openshift based CI, we work around that by forcing that specific user to be the default user in UBI images, see https://github.com/openshift/knative-serving/blob/master/openshift/ci-operator/knative-test-images/autoscale/Do

[2020-03-09 08:55] zhangtbj commented on #7186
Thanks for info @markusthoemmes ,

But I think the test also uses the root `.ko.yaml` to build test images, I got the logs from the build process:
[code]

From the log, you can see, the test also uses the different UBI base image for test images, but the test still fail...

[2020-03-09 09:03] mgencur commented on #6966
Last time it failed in https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-continuous/1233122365009825793 (on Feb 27). There are multiple tests failed in the test run and they have a common problem that looks like this:
[code]
So, the revision fails to start. The failures are not caused by the test itself. That seems to be robust enough now.

[2020-03-09 09:40] markusthoemmes commented on #7186
Right, but the "usual" base image (`gcr.io/distroless/static:nonroot`) hardcodes the user (`65532`) that's asserted in the test.

[2020-03-09 09:41] markusthoemmes commented on #7186
You can try pushing an image that builds like thish:

[code]

And use the result as your base image in `.ko.yaml`. That should work.

[2020-03-09 12:58] zhangtbj commented on #7186
Hi @markusthoemmes ,

Amazing!!!

After I changed to build the test image runtime to use the original base image:
`knative.dev/serving/test/test_images/runtime: gcr.io/distroless/static:nonroot`

The test passes!!!!! Thank you so much!

Just one more question about this issue:

Do you mean by using the original base image `static:nonroot`, it set uid as `65532`, then during this `ShouldRunAsUserCo

[2020-03-09 13:40] dprotaso opened #7188 "Conformance tests should encompass validation behaviour"
## Describe the feature
We need to do a pass over our conformance tests and make sure certain restrictions that our API enforces are exercised.

eg. with 0.13 we restricted certain labels on the revision template - https://github.com/knative/client/pull/672

[2020-03-09 13:44] dprotaso commented on #7188
The example above is a gray area though since it's unclear if it's covered by the API at this time

https://github.com/knative/community/pull/30#issuecomment-596521956

[2020-03-09 14:08] dprotaso commented on #6265
Sorry that last sentence there says it _does not_ work on 1.17.3 but the line above says it _works on_ 1.17.3.

Can you clarify which version you're seeing the problem on?

[2020-03-09 14:29] dprotaso commented on #6265
FYI - I tried the following with success:

#### 1. cluster setup

[code]

#### 2. istio setup
same as above

#### 3. knative setup

[code]

#### 4. knative service installation
[code]

#### 5. wait for service to become ready
[code]

[2020-03-09 15:18] hotjunfeng commented on #7171
Hi @taragu, why do we need two channels, i.e., oldStatCh and youngStatCh? Thanks.

[2020-03-09 16:08] #6733 closed

[2020-03-09 17:16] vagababov commented on #5753
/close

[2020-03-09 17:16] #5753 closed

[2020-03-09 17:17] vagababov commented on #6966
Thanks for fixing this, Martin.

[2020-03-09 18:03] duglin commented on #6733
using HEAD I'm still see the behavior I mentioned in #6935

[2020-03-09 18:04] duglin commented on #6935
@vagababov can re-open this?  using HEAD I'm still see the behavior

[2020-03-09 18:25] #2073 closed

[2020-03-09 19:39] vagababov commented on #6935
/reopen

[2020-03-09 19:40] vagababov commented on #6935
@tanzeeb , can you work with Doug to see if he's capturing a different edgecase?

[2020-03-09 20:16] tanzeeb commented on #6935
I can reproduce it, happens on initial deployment but not on subsequent deployments.

/assign

[2020-03-09 20:51] taragu commented on #7171
@hotjunfeng good question! This is the issue behind it https://github.com/knative/serving/issues/5977

[2020-03-10 00:57] fvoznika commented on #5306
Is there any reason `runtimeClass` is in the list of disabled fields? The choice of runtime should for the most part be transparent to the pod/container.

[2020-03-10 02:26] ysjjovo commented on #6265
I'am sorry for confusing you.I mean installing k8s from binaries does not work.kubeadm works fine.Maybe,there are some problems with k8s installation from binaries.

[2020-03-10 05:27] Uvindu96 commented on #7159
@tshak yes exactly, I think when we install Knative it should install cluster-local-gateway on
Istio-system.

[2020-03-10 10:07] MIBc commented on #912
I have find that our crd defination such as `services.serving.knative.dev` doesn 't use openAPIV3Schema to define or validate the attributation of knative resource.

Does the webhook do this job?  What kind of validation will webhook do ?
Will we use  some character in openAPIV3Schema  in furture?

[2020-03-10 11:53] hotjunfeng commented on #5978
Hi @yanweiguo , since activator can switch to direct pod IP request routing and Istio sidecar can be injected in both activator and autoscaler, why can autoscaler not use pod IP request routing when Istio sidecar enabled? Thanks.

[2020-03-10 12:01] #3329 closed

[2020-03-10 12:01] #1605 closed

[2020-03-10 12:02] markusthoemmes commented on #5978
@hotjunfeng the activator can only do that if no sidecar is injected into it. This issue is about implementing a similar logic in the autoscaler to use direct pod IPs if available.

[2020-03-10 13:22] sravankumar777 opened #7195 "Memory usage for knative webhook gradually increases over the time until memory limit is reached"
## What version of Knative?
v0.12.1

## Actual Behavior
We deployed knative-serving v0.12.1 over Kubernetes Cluster with Istio as Service Mesh.
Over the time with this version of knative-serving, we observed memory usage for webhook pod gradually increases and caused pod restart automatically.

## Steps to Reproduce the Problem
1. Deploy knative-serving with v0.12.1 with Istio as service mesh.
2.

[2020-03-10 14:02] matzew opened #7197 "Common namespace name for the ingress ?"
We have now different ingress options:
* Ambassador
* Contour
* Gloo
* Istio
* Kourier

each installs into their own namespace (e.g. `istio-system` vs `kourier-system` etc).

Now we also ship some observability components (e.g. logging, metrics, tracing), how ever these seem to be hard-coded against `istio-system`, while that should be independent from any special networking layer.

See hard-coded

[2020-03-10 14:03] matzew commented on #7197
I think this is related: https://github.com/knative/docs/issues/2290

[2020-03-10 14:23] mattmoor commented on #912
@markusthoemmes yes.

@MIBc our webhook does all of our validation, see the `Validate()` calls on each type in pkg/apis

[2020-03-10 15:12] hotjunfeng commented on #7171
@taragu  I got it. Thanks :)

[2020-03-10 15:14] dprotaso commented on #912
/unassign @dprotaso

[2020-03-10 15:19] hotjunfeng commented on #5978
Hi @markusthoemmes , why does sidecar make it unable to use direct pod IPs? Thanks.

[2020-03-10 15:27] mpetason commented on #6520
/assign mpetason

[2020-03-10 15:53] tcnghia commented on #7170
/close

[2020-03-10 15:53] #7170 closed

[2020-03-10 15:55] tcnghia commented on #7041
@mattmoor I think this is done?

[2020-03-10 15:57] mattmoor commented on #7041
Yep

[2020-03-10 15:57] #7041 closed

[2020-03-10 16:01] markusthoemmes commented on #5978
Because istio doesn't support using pod ips directly.

[2020-03-10 16:22] tcnghia commented on #6543
@mattmoor @evankanderson IIUC the 6-month deprecation policy allows this config to be deprecated in v0.16?

[2020-03-10 16:30] mattmoor commented on #6543
We have a 9 month deprecation policy for features in Beta.

[2020-03-10 16:51] ZhiminXiang commented on #6628
/close

[2020-03-10 16:51] #6628 closed

[2020-03-10 16:56] tcnghia commented on #6478
@nak3 is there a way for the users to add the cors policy without a change on our side?  If that is possible I think we can document that first and ask the users to use Istio 1.5 .

[2020-03-10 17:02] skaslev commented on #912
I'm interested working on this and see if the issues @jonjohnsonjr hit before are resolved now

/assign

[2020-03-10 17:05] vagababov commented on #3329
those are mostly covered by existing benchmarks.

[2020-03-10 17:18] ZhiminXiang commented on #7162
/assign @nak3

[2020-03-10 17:22] tcnghia commented on #6715
@bappr would config-domain settings (https://github.com/knative/serving/blob/master/config/core/configmaps/domain.yaml) help your use case?

[2020-03-10 20:03] vagababov commented on #1178
/reopen
Still need to fix this
/kind good-first-issue

[2020-03-10 20:09] dprotaso commented on #7195
Hey @sravankumar777 was there an earlier version of Knative where you didn't see usage increase like this?

[2020-03-10 20:23] dprotaso commented on #7195
For context our webhooks actually watch K8s resources such as secrets, webhook configurations and with 0.13 CRD definitions. We do this so the webhook can bootstrap it's own certs and keep the certificate bundle in the various resources up to date.

Thus it may be expected that the memory increases slightly but I believe we're not limiting the scope of certain informers - ie. secrets to just the n

[2020-03-10 20:44] dprotaso commented on #6726
Will close off this issue once migration docs are written

[2020-03-10 23:21] mattmoor opened #7205 "Certificate Conformance test to verify Chain Cert"
We should verify in our conformance testing that the "Chain Cert" is valid, see also: https://whatsmychaincert.com/

I hit this trying to use github.com/mattmoor/http01-solver with Github webhooks (though it worked fine in my browser).

See also: https://github.community/t5/How-to-use-Git-and-GitHub/Webhooks-and-SSL-verification/m-p/19814#M5922

[2020-03-11 00:01] #1571 closed

[2020-03-11 00:05] mattmoor commented on #7205
iiiiiiiinteresting, so if I stand up my little sample app, which I use to test the OrderManager without all of our machinery it PASSES: https://github.com/mattmoor/http01-solver/blob/2088e61ea4d911d524b24837ffe32f4e3e0f34d2/cmd/sample/main.go#L85

I'm going to look to see whether there's an obvious delta here, but the problem could lie elsewhere (or it could still be my bug, but it's interesting d

[2020-03-11 00:11] mattmoor commented on #3587
/remove-lifecycle stale

[2020-03-11 01:02] sravankumar777 commented on #7195
@dprotaso, we were not monitoring the memory usage with earlier versions.
From release v0.12.1, we started to monitor the memory usage for all pods in knative-serving.

As per my understanding &  the limits configured for memory on webhook container, it is 200MiB and immediately after the webhook pod restarted it started from approximately 160MiB.
There may be chances for slight increase over the

[2020-03-11 01:39] bappr commented on #6715
@tcnghia unfortunately this configuration is deployed and managed by `argocd` during the init of my cluster. So it's not something I can change that easy. + I feel it would be a bit over-engineered while what I need is really just a way to create my gateway + virtual service with a different domain name -> dynamic config.

[2020-03-11 04:11] mattmoor commented on #7205
Looks like my problem was that I was only including the leaf certificate into the secret.  Still, this is a problem that feels worthy of a test.

[2020-03-11 06:13] ZhiminXiang opened #7207 "Need E2E tests for httpProtocol"
## Describe the feature
As a part of Auto TLS E2E tests, we should test the behavior of [httpProtocol](https://github.com/knative/serving/blob/master/config/core/configmaps/network.yaml#L106).

/cc @rmoe

[2020-03-11 06:47] nak3 commented on #5990
/remove-lifecycle rotten

This issue still happens on HEAD.

[code]

[2020-03-11 12:03] knative-test-reporter-robot opened #7209 "[flaky] pkg/reconciler/autoscaling/kpa.TestControllerCreateError"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/autoscaling/kpa.TestControllerCreateError
* **Repository name**: serving

[2020-03-11 12:17] julz opened #7210 "Make Queue Proxy Optional"
## Describe the feature

Make the Queue Proxy optional per-revision

## Why?

Many functions/apps already use a single threaded runtime and are autoscaled on metrics that don't require the proxy (e.g. cpu). Making the Queue Proxy optional for these cases saves some memory and takes a hop out of the request path.

## Longer why:

The queue proxy does 2 things:

1. It enforces a concurrency level on

[2020-03-11 12:41] markusthoemmes commented on #7210
I hear you, the queue-proxy does quite a bit more than that though:

- Preferred scaledown handling (arguably not needed if you don't need metrics from it)
- Request logging
- Timeout enforcement
- Readiness probe handling for quicker readiness probes and a decent default probe
- Queue limiting (I assume a random runtime wouldn't do that)
- Forwarded header handling
- Adds tracing info to the requ

[2020-03-11 13:18] julz commented on #7210
Yeah, I should say "*primarily* does 2 things" above, shouldn't I? :D.

All the above features are nice, but they're neither essential nor free when they're happening on the request path (also many - all? - of them can be delegated to the mesh if you have it enabled, and/or to a buildpack if you're using one).

For apps that want to optimise for processing a large number of requests with low laten

[2020-03-11 13:29] julz commented on #7210
Re the advantage of being able to assume the queue-proxy will always be there, fwiw it looks like we already expose [`queueSidecarImage`](http://github.com/knative/serving/blob/91205292305c560d7c38c03f2c0413df368b7813/config/core/configmaps/deployment.yaml#L26) in the configmap, so _arguably_ we can't actually rely on it doing any of the above tasks, or in fact any task at all, since a user can al

[2020-03-11 13:54] markusthoemmes commented on #7210
Right, in reality we rely on many of the aspects though. We should review if the runtime contract sufficiently specifies these aspects to be able to pull the queue-proxy out of there.

Performance wise, I'm not sure. Depends on the use-case I guess. It'd be neat to get a benchmark that surfaces the queue-proxy becoming the bottleneck and/or causing enough of an overhead to warrant removing it.

In

[2020-03-11 15:39] bbrowning commented on #7195
I've seen something similar that directly correlates to the number of namespaces in a cluster, but that may only be because more namespaces means more secrets? From my testing, 80 namespaces on my cluster is 85MB of webhook pod memory usage on startup. 170 namespaces on my cluster is 180MB of webhook pod memory usage on startup.

[2020-03-11 16:40] vagababov commented on #7210
So reading this, I see:

- you want HPA (vs KPA)
- you don't care about concurrency enforcement
- you delegate a lot of other features to the mesh (which  also makes all other work we do in activator useless)

So the question I have is: what's left there of knative that you _actually_ need? 😄

[2020-03-11 17:00] bbrowning commented on #7195
You can replicate the memory increase with additional namespaces via:
[code]

Then delete the webhook pod, it will get recreated, and observe the higher memory usage of the pod compared to before creating those blank namespaces.

[2020-03-11 17:12] julz commented on #7210
@vagababov revisions, interoperability with eventing and being able to use the nice cli tooling :)

[2020-03-11 17:22] bbrowning commented on #7195
Here's a snapshot of the memory usage of the webhook pod at steady-state followed by creation of 30 empty namespaces and a restart followed by creation of an additional 60 (for 90 total) empty namespaces and a restart of that pod again. You'll see that the startup memory usage grows substantially, although the steady-state memory usage doesn't differ much in the 3 cases.

![Annotation 2020-03-11 1

[2020-03-11 21:55] duglin commented on #7210
I'm starting to see uses for the QP as a wrapper for the user's container. Meaning, there's a particular runtime feature that we'd like to expose but we don't want all users to have to implement it in their container, but putting that logic into the QP works well. The graceful scale-down logic is a variant of that, but I'm working on a write-up of something that will show two other examples....soo

[2020-03-11 22:41] mattmoor commented on #4312
/remove-lifecycle rotten

[2020-03-12 02:21] #7042 closed

[2020-03-12 10:53] hotjunfeng commented on #5978
I got it. Thanks. @markusthoemmes

[2020-03-12 12:04] knative-test-reporter-robot opened #7219 "[flaky] test/conformance/api/v1beta1.TestServiceWithTrafficSplit"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestServiceWithTrafficSplit
* **Repository name**: serving

[2020-03-12 12:04] knative-test-reporter-robot opened #7220 "[flaky] test/conformance/api/v1.TestRouteAndConfigGenerateName"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestRouteAndConfigGenerateName
* **Repository name**: serving

[2020-03-12 12:04] knative-test-reporter-robot opened #7221 "[flaky] test/conformance/api/v1beta1.TestSingleConcurrency"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestSingleConcurrency
* **Repository name**: serving

[2020-03-12 12:04] knative-test-reporter-robot opened #7222 "[flaky] test/conformance/runtime.TestCmdArgs"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestCmdArgs
* **Repository name**: serving

[2020-03-12 12:04] knative-test-reporter-robot opened #7223 "[flaky] test/conformance/api/v1.TestConfigMapVolume"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestConfigMapVolume
* **Repository name**: serving

[2020-03-12 12:04] knative-test-reporter-robot opened #7224 "[flaky] test/conformance/runtime.TestProtocols/h2c"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestProtocols/h2c
* **Repository name**: serving

[2020-03-12 12:04] knative-test-reporter-robot opened #7225 "[flaky] test/conformance/api/v1alpha1.TestUpdateConfigurationMetadata"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestUpdateConfigurationMetadata
* **Repository name**: serving

[2020-03-12 12:04] knative-test-reporter-robot opened #7226 "[flaky] test/conformance/runtime.TestMustHaveFiles"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestMustHaveFiles
* **Repository name**: serving

[2020-03-12 18:04] taragu commented on #7155
@MIBc are you working on this?

[2020-03-12 18:19] vagababov commented on #7121
It seems this is complete.
/close

[2020-03-12 18:19] #7121 closed

[2020-03-12 18:33] ufou opened #7231 "Installation issues with 0.13 from guide: https://knative.dev/docs/install/any-kubernetes-cluster/#before-you-begin"
## Ask your question here:
I've run into an issue installing knative-serving from the guide here: https://knative.dev/docs/install/any-kubernetes-cluster/#before-you-begin

kubernetes/kubectl version: `v1.16.2`
istio version: `1.4.6`

I should point out that we were successfully previously running knative-serving `0.10` with istio version `1.3.4`, following an upgrade from `0.11`, then `0.12` coup

[2020-03-12 18:56] mattmoor commented on #7231
Deleting the namespaced things doesn't delete the `{mutating,validating}webhookconfigurations`, which point at namespaced deployments for answers :(

[2020-03-12 18:58] ufou commented on #7231
ah lovely, that was the missing step!

[2020-03-12 19:09] ufou commented on #7231
maybe not, after doing:

[code]
and
[code]

I'm still getting the error:
[code]

[2020-03-12 19:43] yanniszark opened #7233 "Cluster Local KService generates ExternalIP Ingress"
## In what area(s)?
/area networking

## What version of Knative?

0.11.x

More specifically: https://github.com/kubeflow/manifests/tree/v1.0-branch/knative/knative-serving-install/base

## Expected Behavior

I have a cluster-local-gateway in the istio-system namespace.

I have also edit config-istio to look like this:
[code]

And config-domain:
[code]

Then, I create the following KNative Service

[2020-03-12 21:20] ufou commented on #7231
I'm closing this - I re-ran all the delete commands, including those to remove `validatingwebhookconfigurations` and `mutatingwebhookconfigurations`, left it a while, then ran the `kubectl apply` commands to install `0.13` again, this time with success!

Many thanks for your assistance with this!

[2020-03-12 21:20] #7231 closed

[2020-03-13 02:16] MIBc commented on #7155
No. May be more discussion about details.

[2020-03-13 03:42] Uvindu96 commented on #7233
Hi, can you please let me know what is your istio version..? I don't have a cluster-local-gateway service on knative v0.13

[2020-03-13 07:09] nak3 commented on #6100
It seems that we should wait for one more this fix https://github.com/istio/istio/pull/22138

[2020-03-13 12:03] knative-test-reporter-robot opened #7237 "[flaky] test/conformance/ingress.TestRetry"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestRetry
* **Repository name**: serving

[2020-03-13 12:04] knative-test-reporter-robot opened #7238 "[flaky] test/conformance/ingress.TestRetry/period=5,attempts=5"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestRetry/period=5,attempts=5
* **Repository name**: serving

[2020-03-13 12:04] #7209 closed

[2020-03-13 12:04] knative-test-reporter-robot opened #7239 "[flaky] test/conformance/ingress.TestRetry/period=11,attempts=10"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestRetry/period=11,attempts=10
* **Repository name**: serving

[2020-03-13 12:05] yanniszark commented on #7233
Hi @Uvindu96!
I am using Istio 1.3.1 with SDS enabled.
More specifically, this kustomization: https://github.com/kubeflow/manifests/tree/v1.0-branch/istio-1-3-1/istio-install-1-3-1/base

[2020-03-13 14:01] dprotaso opened #7240 "[multi-container] How should Revision[CPU|Memory]Request defaults apply to revisions with multiple containers"
Does applying this default still make sense?

I'd think `RevisionCPURequest` & `RevisionMemoryRequest` would imply totals for _all_ user containers combined?

Now the Pod's requests/limits are a multiple of the number of containers

_Originally posted by @dprotaso in https://github.com/knative/serving/pull/7167_

[2020-03-13 14:04] dprotaso commented on #7240
/label area/API

[2020-03-13 14:04] dprotaso commented on #7240
/area API

[2020-03-13 14:12] dprotaso opened #7241 "[multi-container] toggling the default enable-multi-container from true to false will break things"
## What version of Knative?
`enable-multi-container` flag was introduced in this PR https://github.com/knative/serving/pull/7167

## Expected Behavior

Operators who set `enable-multi-container` default to `true` shouldn't be able to set it back to `false` or even delete the entry in the config map

## Actual Behavior

There are no restrictions to how `enable-multi-container` can be set.

Thus if

[2020-03-13 15:41] #6935 closed

[2020-03-13 15:42] yanniszark commented on #7233
Summarizing @tcnghia 's triaging and debugging in this Slack thread: https://knative.slack.com/archives/CA9RHBGJX/p1584101161136200

Here is the complete YAML of the created VirtualServices:

<details>

[code]

</details>

As you can see from the first VirtualService, the VS includes  the `knative-serving/knative-ingress-gateway` gateway BUT it then excludes it because of the section:
[code]

So n

[2020-03-13 17:16] taragu commented on #7155
@MIBc like Victor mentioned, we can start with a benchmark for a revision with different numbers of pods. We can setup 3 benchmarks:
[code]
In order to similar having a certain number of pods, we need to implement a fake `httpScrapeClient.Scrape(url)`. The fake `httpScrapeClient` will contain a list of pods, and calling `httpScrapeClient.Scrape(url)` returns stats of a random pod it owns.
@vagabab

[2020-03-13 17:24] vagababov commented on #7155
It is a start. And returning random pod should simulate IPTables load balancing, so it's more of a simulation how much time it takes to get necessary subset of pods selected, rather than actual benchmark in performance of scraping.

[2020-03-13 18:15] yanniszark commented on #7233
While looking at the Ingress created for the given KService, I noticed something weird:
[code]

Visibility is ExternalIP while it should be ClusterLocal.
This is a seperate bug from the one mentioned above.
All in all, there are two bugs:

1. Don't add the public ingressgateway for clusterlocal services.
2. Clusterlocal service detection.

[2020-03-13 20:54] yanniszark commented on #7233
I opened https://github.com/knative/net-istio/issues/44 to track the VirtualService generation bug.
Let's keep this issue for the bug which makes a Cluster Local KService generate an ExternalIP Ingress, instead of a ClusterLocal one.

[2020-03-13 23:03] yuzisun commented on #6201
@vagababov any thoughts on this, this is definitely a bumper which we hit so many times.

[2020-03-13 23:11] vagababov commented on #6201
What is the situation that you're seeing? The pods don't come up fast enough and get killed?

[2020-03-14 12:03] #7225 closed

[2020-03-14 12:03] #7226 closed

[2020-03-14 12:03] #7222 closed

[2020-03-14 12:03] #7220 closed

[2020-03-14 12:04] knative-test-reporter-robot opened #7250 "[flaky] test/e2e/autotls.TestAutoTLS/HTTP01/Tag_route"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/autotls.TestAutoTLS/HTTP01/Tag_route
* **Repository name**: serving

[2020-03-14 12:04] #7224 closed

[2020-03-14 12:04] #7221 closed

[2020-03-14 12:04] knative-test-reporter-robot opened #7251 "[flaky] test/e2e.TestGRPCAutoscaleUpDownUp"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestGRPCAutoscaleUpDownUp
* **Repository name**: serving

[2020-03-14 12:04] #7073 closed

[2020-03-14 12:04] #7223 closed

[2020-03-14 12:46] yuzisun commented on #6201
Yes sometimes image is big and take sometime to download, knative should not scale down before the pod is ready right ?

[2020-03-14 14:25] mattmoor commented on #5254
/remove-lifecycle rotten

[2020-03-14 17:29] vagababov commented on #6201
Right now, we just _fail_ to activate the revision (as said above). We might want to tweak that constant, but it still is going to be a constant.
/cc mattmoor

[2020-03-15 06:07] nak3 opened #7253 "e2e test with --https option does not pass"
/area networking
/area test-and-release

## What version of Knative?

v0.13.0-75-g7b1931a9b

## Expected Behavior

e2e test with `--https` option should pass all e2e test.

## Actual Behavior

Please refer to https://github.com/knative/serving/pull/7252. Current e2e test's script missed `--https` option so e2e does not run with the option. (The test grid https://testgrid.knative.dev/serving#https

[2020-03-15 10:12] nak3 opened #7254 "E2E tests with HTTPS option only supports Istio ingress"
/area networking
/area test-and-release

## What version of Knative?

v0.13.0-75-g7b1931a9b

## Expected Behavior

E2E test with --https option should be able to run against other
Ingress solution instead of Istio.

## Actual Behavior

Current HTTPS tests depends on Istio Gateway's settings.

[2020-03-15 12:03] knative-test-reporter-robot opened #7256 "[flaky] test/conformance/api/v1alpha1.TestProjectedSecretVolume"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestProjectedSecretVolume
* **Repository name**: serving

[2020-03-15 12:03] knative-test-reporter-robot opened #7257 "[flaky] test/e2e.TestActivatorOverload"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestActivatorOverload
* **Repository name**: serving

[2020-03-15 12:03] #7238 closed

[2020-03-15 12:03] knative-test-reporter-robot opened #7258 "[flaky] test/conformance/api/v1alpha1.TestProjectedConfigMapVolume"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestProjectedConfigMapVolume
* **Repository name**: serving

[2020-03-15 12:03] knative-test-reporter-robot opened #7259 "[flaky] test/e2e.TestDestroyPodTimely"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDestroyPodTimely
* **Repository name**: serving

[2020-03-16 05:02] vagababov opened #7260 "Separate subsets for Activator and Pod backends in the public service."
Currently we use the same subset for activator and revision pods in the public service.
if we were able to somehow use differently queryable subsets for that we can achieve better performance in the activator (since we would not have to recompute activator state on every public service toggle).

@markusthoemmes suggested and volunteered to check it out.

Part of the subsetting project.

## In what

[2020-03-16 08:56] choijunwoo opened #7262 "Create specific custom domain"
## Ask your question here:

I want to put the domain in the service like below.

https://starkandwayne.com/blog/adding-a-custom-domain-for-knative-services/

But when I use config-domain and config-network, I have to use ksvcname and namespace for the domain.

Is there knative setting or function to add a specific domain to the service?

Or can it be added in the future?

Thanks!

[2020-03-16 12:04] knative-test-reporter-robot opened #7263 "[flaky] pkg/reconciler/serverlessservice.TestGlobalResyncOnActivatorChange"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/serverlessservice.TestGlobalResyncOnActivatorChange
* **Repository name**: serving

[2020-03-16 13:39] zhanggbj opened #7264 "[https enabled]IngressNotConfigured with reason "Waiting for VirtualService to be ready" or “Waiting for load balancer to be ready”"
## What version of Knative?

##  Istio version

## Expected Behavior
"kn service create" completes successfully.

## Actual Behavior
"kn service create" failed with **IngressNotConfigured** with reason "Waiting for VirtualService to be ready" or “Waiting for load balancer to be ready”

## Steps to Reproduce the Problem

We create entries in the **Gateway** to support **https** on a per namespace l

[2020-03-16 13:56] nak3 opened #7265 "RFE: ns-cert should not create kcert in kube- prefix and some other specific namespace"
/area networking

## Describe the feature

Currently when ns-cert is deployed and autoTLS is enabled, it creates kcert in all namespace.

But the `kube-` prefix namespace is [reserved Kubernetes system namespaces](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#namespace-names) and so ns-cert should not create the certs there.

Also, as an

[2020-03-16 13:56] nak3 commented on #7265
/cc @ZhiminXiang @rmoe

[2020-03-16 14:15] duglin commented on #6226
At some point I think all errors and events from knative should be standardized in some way. By that I mean have some unique ID associated with each condition so that tooling can reliably act upon them. For example: `E1254: Human readable text...`
Then tooling just needs to strcmp the E-code and the human readable text can change over time if it needs to be wordsmithed.

[2020-03-16 15:31] ZhiminXiang commented on #7265
To disable kcert for a specific namespace, you add the [label](https://github.com/knative/serving/blob/3dccdca9a3fa21785250ccb7a19c0654109b6f65/pkg/apis/networking/register.go#L78) on the namespace.

We should document it in the [auto tls instruction](https://github.com/knative/docs/blob/master/docs/serving/using-auto-tls.md)

[2020-03-16 15:54] mpetason commented on #6520
@evankanderson I'm going to try this issue and see if I can resolve it. Would the first steps be to get this working for default then discuss the best way to select namespaces that should be covered? If we weren't using additional namespaces after installation then we could require it in the config, but users will probably create additional namespaces to use besides default. I'm getting up to spee

[2020-03-16 18:05] ahmetb commented on #5946
/close

[2020-03-16 18:05] #5946 closed

[2020-03-16 18:21] vagababov commented on #7020
This is complete, and just optimizations remain.
/close

[2020-03-16 18:21] #7020 closed

[2020-03-16 18:53] havard024 opened #7271 "How to access node IP inside service"
## Ask your question here:
I'm wondering if it's possible to access node IP inside a service, like so:

[code]
but that does not seem to be allowed. I get the following error message when trying to deploy the knative service:

`admission webhook "validation.webhook.serving.knative.dev" denied the request: validation failed: must not set the field(s): spec.template.spec.containers[0].env[2].valueFr

[2020-03-16 19:08] markusthoemmes commented on #7264
Do you happen to have log output of the status manager from the failures? That might help narrow down the failure mode.

@jeremiaswerner indicated on Slack that things work for a couple of days and then suddenly breaks. That kinda sounds like either a cert rotation issue or the global resync (which happens every... 12hours? Need to doublecheck that) reconciles something away that you need to be th

[2020-03-16 23:07] nak3 commented on #7265
Sorry I should have mentioned the label. Yes, it is one possible solution.
But it needs extra operations to add the disable label to every single namespace. Also, we need to create another controller to keep watching `kube-` namespaces if they don't drop the labels.

Should users manage these operations on their side?

[2020-03-17 00:45] tsiq-kylel commented on #6891
Hi, just wanted to follow up here.

We ended up disabling mTLS within Istio, but would still see occasional 503s during our testing, which were again difficult to reproduce.

We’ve also noticed varying 5XX behavior.

1)  In some cases, Istio ingressgateway returns 503 at some point after the request comes in - whether it be instantly or after a few minutes. After that 503 is issued, we see logs th

[2020-03-17 03:48] zhanggbj commented on #7264
@markusthoemmes
I collected several log files under `istio-system` and `knaive-serving`, not sure if they include the `status manager` log file... If not, would you please give me the detail log file name?

[ingressnotfoundlog.zip](https://github.com/knative/serving/files/4341367/ingressnotfoundlog.zip)

[code]

Yes, worked with @jeremiaswerner and we found it went wrong after several hours after

[2020-03-17 06:22] techBeck03 commented on #7005
Now that 1.5 is released, is there any guidance you can provide on getting Knative to work with it?  I'm still not able to get the cluster-local-gateway configured properly using istioctl (or helm).  Any help is much appreciated!!

[2020-03-17 12:04] #7054 closed

[2020-03-17 12:04] #6975 closed

[2020-03-17 12:04] #6974 closed

[2020-03-17 12:04] knative-test-reporter-robot opened #7277 "[flaky] test/conformance/ingress.TestVisibilitySplit"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestVisibilitySplit
* **Repository name**: serving

[2020-03-17 12:04] knative-test-reporter-robot opened #7278 "[flaky] test/upgrade.TestServicePreUpgrade"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServicePreUpgrade
* **Repository name**: serving

[2020-03-17 12:04] knative-test-reporter-robot opened #7279 "[flaky] test/upgrade.TestServicePreUpgradeAndScaleToZero"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServicePreUpgradeAndScaleToZero
* **Repository name**: serving

[2020-03-17 12:04] #7257 closed

[2020-03-17 13:58] zhanggbj commented on #7264
@markusthoemmes
Interestingly I fixed our env by finding out the mismatch entries in `Gateway`, some are lack of secret d89ac28077be as below.

I think the `Prober` got stuck if there're errored config in `Gateway` and some Probe failed, but this should not happen and block the new Route to create a successul Ingress.
What do you think? Thanks!
[code]

[2020-03-17 14:45] MIBc commented on #7155
It seems like the key point is at k8s service which forward scrape request. Is there a way to simulation  service load balance?

[2020-03-17 15:42] vagababov commented on #3485
/reopen
/remove-lifecycle stale
/remove-lifecycle rotten

[2020-03-17 16:43] ZhiminXiang commented on #7264
I am wondering why the secret d89ac28077be did not exist in this case. This is unexpected. Is there any related log?

Currently in the master, we make the probing condition less restrict (https://github.com/knative/serving/pull/6962/files). You could probably try against HEAD.

[2020-03-17 17:33] ZhiminXiang commented on #7262
[domainTemplate](https://github.com/knative/serving/blob/master/config/core/configmaps/network.yaml#L86) is powerful and may meet your requirement.

You can configure domainTemplate to get rid of ksvcname and namespace from the domain and use annotation as the ksvc name.

Alternatively, you can create an extra VirtualService to rewrite your host.
For example, if you want to map your domain (custom

[2020-03-17 17:38] houshengbo opened #7283 "Use a different namespace other than knative-serving for all integration and upgrade tests"
## What version of Knative?

## Expected Behavior

Knative supports any namespace to run all the namespaced resources. `knative-serving` happens to be the default one, and all tests in prow jobs are using this NS. To further test the capabilities of knative serving, shall we change the namespace for tests from `knative-serving` to something else?

## Actual Behavior

`knative-serving` is used as N

[2020-03-17 18:49] yolocs commented on #5918
FWIW, path `/healthz` seems to me like a better default. It's probably more commonly used and people have already whitelisted it.

[2020-03-17 19:09] houshengbo commented on #7283
The issue I have is that how to overwrite the namespace in existing yamls.

When I run

[code]

I got:

[code]

[2020-03-17 21:24] vagababov opened #7288 "Add Activator Capacity CM value"
The subsetting [algorithm](https://docs.google.com/document/d/1nDBJbDUlnd6Zd7hcDxi7jqo1v_rK44lUVZf6UjGhHRw/preview) calls for a constant `L` that denotes the load the a single activator can take.
We need to add the value into the autoscaler ConfigMap, parse and validate it.
Initial validation > 0.
In future we might want to tighten up both lower and upper bounds with more testing data.

## In what

[2020-03-17 21:46] vagababov opened #7290 "deploy_test and queue_test go file clean up"
The deploy_test and queue_test go files contain a lot of repetitive and duplicated code that should be extracted into helpers.
My guesstimate is that we can save probably some 30-40% of the files. And they are more than 2k lines together. This is a sizable readability improvement.

## In what area(s)?
/area API
/area test-and-release

/kind good-first-issue

[2020-03-17 21:47] evankanderson opened #7291 "Support serviceAccountToken in projected volumes"
## Describe the feature

Kubernetes now supports requesting a JWT from the Kubelet using the `serviceAccountToken` field in projected volumes. This is similar to Secrets support, except that the JWT is audience-bound, time-limited, and signed by the apiserver, rather than being a shared value with the destination.

This would also make it easier for Knative Services to sign outbound events to even

[2020-03-17 21:56] evankanderson commented on #7291
@dprotaso

Do you think there's someone who might be able to pick this up for 0.14?

[2020-03-18 00:53] ZhiminXiang commented on #7265
Here are some thoughts:
1. I agree with @nak3 that it would make system operator's life easier if they have ability to exclude system namespaces before installing namespace cert.
2. we can probably create a new configmap for namespace cert to allow system operator to list those system namespaces there.

[2020-03-18 02:20] choijunwoo commented on #7262
@ZhiminXiang
Thanks for the answer.
I have already tried using domainTemplate.
But even
[code]
set, ksvcname and namespace are appended.
What am I missing?
Also, as you said, it was solved with the rewrite setting,
but I wonder Knative supports it.
Thank you!

[2020-03-18 02:57] duglin commented on #7262
If you use domainTemplate make sure you outdent the property and not set it under the comment. It’s a comment mistake.

[2020-03-18 03:42] zhanggbj commented on #7264
Hi @ZhiminXiang ,

secret d89ac28077be missing is a wrong config, now I have got all the Gateway`https entry` match (ensure they all have a secert). However, the env run into this issue again.

In short term, we do not have plan to upgrade from Knantive 0.12, and the commit you mentioined has not been released yet (only in `master` branch), right?

**Could you please help to explain more how to ve

[2020-03-18 04:20] ZhiminXiang opened #7292 "Need to check Generation in Ingress conformance test"
## Describe the feature
When Ingress is marked as ready, Route may still not be ready as Route controller also checks Ingress Generation to determine the Ingress related status:
https://github.com/knative/serving/blob/ece248e4f9c6ec049fff0db07a04848e4d661097/pkg/reconciler/route/route.go#L157

So in our Ingress conformance test, we should also check the Generation.

[2020-03-18 04:23] ZhiminXiang commented on #7264
@zhanggbj
Per our offline discussion, I suspected something wrong with Istio as restarting Istio pilot could fix this issue for a while.
You could ssh into istio-proxy and dump the configuration for the further debug.

In addition, if you have big amount of gateway server entries, you may want to increase the number of replicas of Istio pilot and Istio ingress.

[2020-03-18 05:09] mattmoor commented on #7292
As I said on slack, I don't believe this is a problem...?

`CreateIngressReady*` uses this logic here: https://github.com/knative/serving/blob/ece248e4f9c6ec049fff0db07a04848e4d661097/test/conformance/ingress/util.go#L629-L634

In particular the check `v1a1test.IsIngressReady` has an observed generation check here: https://github.com/knative/serving/blob/ece248e4f9c6ec049fff0db07a04848e4d661097/te

[2020-03-18 05:24] ZhiminXiang commented on #7292
I see, you are right. I misunderstood our chat on slack :)

[2020-03-18 05:24] #7292 closed

[2020-03-18 05:56] choijunwoo commented on #7262
@duglin
You're right! It was a silly question..
Thank you for answer.

[2020-03-18 05:56] #7262 closed

[2020-03-18 06:00] #7153 closed

[2020-03-18 06:33] choijunwoo commented on #7262
@ZhiminXiang @duglin
It's an additional question.
I want to add some custom domain mapping to the service.
Is this possible only with knative without istio manipulation?
GPC's Cloud Run seems to create istio virtualservice through custom contoroller of domain-mapping CR.
But I don't want to use operator. I want to use it if knative supports it.
Thanks!

[2020-03-18 06:57] markusthoemmes commented on #7290
/good-first-issue

[2020-03-18 07:17] zhanggbj commented on #7264
@ZhiminXiang

I restart Istio pilot and ingressgateway pod and also scale up to pilot:3 and ingressgateway:2, now all the service are running. So far we have about 100 https entries. Let's see how it goes...

Before restart them, I dumped the istio-proxy config here. It's really long... is this the right snippet to verify https config? Take 5a09a001-b142 namespace as an example,

[code]

I have fo

[2020-03-18 07:48] mattcui opened #7294 "More hosts entries in knative-ingress-gateway caused performance downgrade on creating a ksvc"
## In what area(s)?
performance

## What version of Knative?

## What version of Istio?

## Expected Behavior
The duration of creating a ksvc should be identical or similar no matter how many hosts entries in `knative-ingress-gateway` configuration

## Actual Behavior
It's getting slower and slower when creating a ksvc if knative-ingress-gateway is growing (adding more and more hosts entries in kn

[2020-03-18 11:29] duglin commented on #7262
As of today you can not do it on a per service basis but there are some talks about possibly adding something like that in the future.

[2020-03-18 12:04] knative-test-reporter-robot opened #7295 "[flaky] test/e2e.TestWebSocket"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestWebSocket
* **Repository name**: serving

[2020-03-18 12:04] knative-test-reporter-robot opened #7296 "[flaky] test/conformance/api/v1.TestBlueGreenRoute"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestBlueGreenRoute
* **Repository name**: serving

[2020-03-18 12:04] knative-test-reporter-robot opened #7297 "[flaky] test/conformance/runtime.TestProtocols/http1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestProtocols/http1
* **Repository name**: serving

[2020-03-18 12:04] knative-test-reporter-robot opened #7298 "[flaky] test/conformance/api/v1alpha1.TestAnnotationPropagation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestAnnotationPropagation
* **Repository name**: serving

[2020-03-18 12:04] knative-test-reporter-robot opened #7299 "[flaky] test/conformance/runtime.TestWorkingDirService"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestWorkingDirService
* **Repository name**: serving

[2020-03-18 12:26] zhanggbj commented on #6793
I'm seeing a similar issue with Knative 0.12 and Istio 1.4.4.
Restarting Istio ingressgateway and pilot pod helps, but it run into this error after several hours

https://github.com/knative/serving/issues/7264

[2020-03-18 13:42] mgencur opened #7300 "Case convention inconsistent in Knative Serving config maps"
Some config maps have keys using camel-case, some have kebab-case. The majority of the config maps use camel-case at this point. All of this should probably be unified.

camel-case used in these config maps:
* config-deployment
* config-leader-election
* config-network

## Expected Behavior

All config maps using the same notation.

## Actual Behavior

Some config maps using a different notation t

[2020-03-18 14:02] choijunwoo commented on #7262
@duglin
That sounds great. I will be waiting for it.
Thank you for answer.
Have a nice day!

[2020-03-18 14:17] houshengbo commented on #7283
Install Serving 0.13.0 locally in NS knative-serving:

Git clone the source code and switch to the branch `release-0.13`.

1. Open a terminal and go the HOME directory of the serving repo.
2. Download the serving.yaml and install serving.
[code]

3. Install the test resources
[code]

4. Upload the test images:
[code]

5. Run the preupgrade tests:
[code]

All the tests passed.

[2020-03-18 15:09] MIBc commented on #7290
Do you mean that moving the repetitive code into deploy_test_helps and queue_test_helps ?

[2020-03-18 15:42] hbagdi commented on #7079
I can't reproduce this in 0.13.0.

[2020-03-18 15:50] vagababov commented on #7294
/cc @tcnghia @JRBANCEL
Is this due to probing all the gateways?

[2020-03-18 15:50] vagababov commented on #7290
No, just locally extract functions.

[2020-03-18 15:51] vagababov commented on #7290
Also they can be reused from another file, since they're in the same package.

[2020-03-18 15:51] vagababov commented on #7290
/reopen

[2020-03-18 15:55] vagababov commented on #7300
ugh, that ship has sailed probably... otherwise it's a long and painful migration. :|

[2020-03-18 17:24] JRBANCEL commented on #7294
Yes, the controller probes all Gateways, on all open Ports, on all defined Hosts.
We might want to revisit this...

[2020-03-18 17:35] mattmoor commented on #7001
this was done a little while back

[2020-03-18 17:35] #7001 closed

[2020-03-18 17:44] ZhiminXiang commented on #7264
For record, this is the envoy filter related to host `blue.5a09a001-b142.dev-serving.knative.dev.appdomain.cloud`
[code]

They look good to me. I also curled the host. looks like it works now.

[2020-03-18 18:11] #7171 closed

[2020-03-18 19:21] duglin commented on #3687
Related to: https://github.com/knative/eventing/issues/2718

In KnEventing there's a push to optionally allow the eventing infrastructure to be moved out of the user's NS and into some other namespace - typically an eventing one. This might be done because of the desire to multi-tenant enable those components or to simply hide those components from the user because they are viewed as "infrastructu

[2020-03-18 19:40] ZhiminXiang opened #7305 "Cross-namespace Ownerreference used in Auto TLS"
## What version of Knative?
HEAD

When copying the cert secret from the namespace of Kingress to the namespace of Istio ingress, we add the Kingress as the Ownerreference of the target secret under Istio ingress namespace. See https://github.com/knative/net-istio/blob/c3f66b13285475869696ac8341cf5cc35f7fa638/pkg/reconciler/ingress/resources/secret.go#L78

## Expected Behavior
We should not use cro

[2020-03-18 19:42] markusthoemmes commented on #7305
Note that this is super dangerous. We've been bitten by this horribly. The garbage collector might accidentally remove everything that carries the same ownerRef.

[2020-03-18 19:52] ZhiminXiang opened #7306 "[net-certmanager] Move certmanager Certificate to net-certmanager"
## Describe the feature

https://github.com/knative/serving/tree/master/pkg/reconciler/certificate
https://github.com/knative/serving/tree/master/pkg/client/certmanager
https://github.com/knative/serving/tree/master/config/cert-manager

We should move them into net-certmanager.

/cc @tcnghia

[2020-03-18 20:00] ZhiminXiang opened #7307 "[net-certmanager] Add integration tests to knative.dev/net-certmanager Presubmit"
## Describe the feature
We can follow the PR https://github.com/knative/test-infra/pull/1791

[2020-03-18 20:02] ZhiminXiang opened #7308 "[net-certmanager] Run `./test/conformance/certificate` against net-certmanager"
## Describe the feature
In the net-certmanager repo, we need to run the certificate conformance test.

[2020-03-18 20:04] ZhiminXiang opened #7309 "[net-certmanager] Enable knobots for net-certmanager"
## Describe the feature
Similar with the work https://github.com/knative/serving/issues/7045

[2020-03-18 20:06] ZhiminXiang opened #7310 "[net-certmanager] Validate certmanager related ConfigMaps in knative/net-certmanager webhook"
## Describe the feature
1. We need to set up a webhook for knative/net-certmanager
2. We should validate configmaps under https://github.com/knative/serving/tree/master/config/cert-manager in the webhook

[2020-03-18 20:10] ZhiminXiang opened #7311 "[net-certmanager] Update Knative docs to reflect the repo split"
## Describe the feature
Artifacts of knative docs will come from knative.dev/net-certmanager

Example PR: https://github.com/knative/docs/pull/2280/files

[2020-03-18 20:15] ZhiminXiang opened #7312 "[net-certmanager] Use the net-certmanager nightly release in serving"
## Describe the feature

Once we have nightly builds (knative/net-istio#16), we can pull things back into serving and swap our e2e testing to use the nightly release.

Example issue: https://github.com/knative/serving/issues/7041

[2020-03-18 20:30] ZhiminXiang commented on #7310
/set Networking: Separate out knative/net-certmanager

[2020-03-18 20:35] ZhiminXiang commented on #7308
An example: https://github.com/knative/net-contour/pull/67/files

[2020-03-18 20:41] ZhiminXiang commented on #7305
/assign @ZhiminXiang

[2020-03-18 21:11] evankanderson commented on #5306
/remove-lifecycle rotten

This probably belongs with several other similar items around what can be in/out of Pods.

[2020-03-19 03:45] zhanggbj commented on #7264
@ZhiminXiang
Thanks for pointing out the config.

And yes, it's weird, that if we curl from outside, sometimes it is successfully, but the **Probe** is still failing. Still take `5a09a001-b142` as an example.
[code]

**- curl from outside  works **
[code]

**- Probe with port 80 works, return 200 OK**
[code]

- **Probe with 443 failed**
[code]

[2020-03-19 10:19] trtg opened #7318 "kubectl apply -f serving-istio.yaml fails on GKE because config-istio configmap cannot be created"
## What version of Knative?

## Expected Behavior

kubectl apply -f serving-istio.yaml creates all needed configmaps and installs the knative istio controller

## Actual Behavior

the kubectl apply command times out and the only thing I see in the apiserver logs is this:
[code]

## Steps to Reproduce the Problem

This was done on GKE where master and node pool workers are both running
1.15.9-gke.2

[2020-03-19 12:04] #7278 closed

[2020-03-19 12:04] #6442 closed

[2020-03-19 12:04] knative-test-reporter-robot opened #7319 "[flaky] pkg/queue/readiness.TestHTTPManyParallel"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/queue/readiness.TestHTTPManyParallel
* **Repository name**: serving

[2020-03-19 12:04] #7279 closed

[2020-03-19 12:05] #7277 closed

[2020-03-19 12:05] #7058 closed

[2020-03-19 12:16] ufou opened #7320 "VirtualService parsing: unknown field error causing old ksvc revision to stay deployed"
## In what area(s)?
area networking

## What version of Knative?

0.13

## Expected Behavior

@tcnghia asked me to raise this issue after both himself and @mattmoor helped to debug (thanks to both of you for such excellent guidance!) an issue I was seeing with the latest revision of a ksvc not being deployed, I expected the pod to be the latest revision, but in fact it was stuck on the 1st revisio

[2020-03-19 14:57] markusthoemmes opened #7324 "Don't scrape pods via HTTP if the activator in path."
When the activator is in the routing path, scraping the pods is kinda useless as their information is effectively zeroed out, because all requests are considered "proxied", thus the activator metrics take precedence. We can use that to make our system more efficient in these cases!

I propose two steps to go about this:
1. Never scrape if TBC=-1. The activator will always be in path in this case,

[2020-03-19 15:08] dsimansk commented on #7324
I'd like to give it a try to look into Serving internals a bit more.
/assign dsimansk

[2020-03-19 15:29] mattmoor commented on #7320
@tcnghia shouldn't this have been caught by galley?

[2020-03-19 15:50] vagababov commented on #7324
/cc @taragu
BTW, this is also one of the ways you can improve GSD, if we extend the activator reporting capabilities (not necessarily a good idea, but something to consider).

[2020-03-19 18:42] tcnghia commented on #7320
From what we've seen, @ufou's installation does a lot of Istio components, so my guess is that Galley didn't catch this.  However, it may be possible that the VirtualService was added when the installation lacks Galley.

[2020-03-19 20:53] ufou commented on #7320
Galley is running in our setup:
[code]
However we aren't utilising much or any of istio right at this moment - nothing mission critical for sure - so our awareness of istio is limited

[2020-03-19 21:57] #6731 closed

[2020-03-20 00:55] nak3 commented on #6270
/remove-lifecycle stale

TODO is still in the code.

https://github.com/knative/serving/blob/b78c7e23caad3ed7d4abf4eb8e2b85be491523c7/pkg/network/status/status.go#L297

/assign

[2020-03-20 12:05] knative-test-reporter-robot opened #7336 "[flaky] pkg/activator/net.TestActivatorsIndexUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestActivatorsIndexUpdate
* **Repository name**: serving

[2020-03-20 12:05] #7295 closed

[2020-03-20 12:05] #7296 closed

[2020-03-20 12:05] #7297 closed

[2020-03-20 12:05] #7298 closed

[2020-03-20 13:28] alexnederlof opened #7337 "SSL hangs with network certmanager"
## What version of Knative?

0.13.x

## Expected Behavior

HTTPS to work

## Actual Behavior

- http**s** (and other clients) hang during the handshake, and then times out.
- http works without a problem

## Steps to Reproduce the Problem

Follow installation instructions with:

- Istio 1.3.8 without side cards
- setup custom domain
- cert manager 0.14 (or 0.12, doesn't matter)
- Knative using hel

[2020-03-20 16:02] ehengao opened #7340 "Couldn't get knative serving installed with kubeadm"
## Ask your question here:
Hi Knative experts,
I am trying to setup a knative cluster using kubeadm, however, i couldn't get this installed. The kubenetes setup is using vagrant with libvirtd with private networking, and kubenetes cluster is applied with flannel network plugin. And I am following the guide in https://knative.dev/docs/install/any-kubernetes-cluster/, and stucked in the step of "Con

[2020-03-20 16:18] zhanggbj commented on #7264
Hi @markusthoemmes @ZhiminXiang
I have some observing in our case, maybe a little different with default Knative. We both enabled **knative-ingress-gateway** and **cluster-local-gateway**. All of our knative services are using default public access.

1. The place holder service created by Route have External-ip as **cluster-local-gateway.istio-system.svc.cluster.local **, but some have the service

[2020-03-20 16:39] vagababov commented on #7340
Can you post the whole log line?
`"webhook.serving.knative.dev": Post https://webhook.knative-serving.svc:443/defaulting?timeout=30s` — this looks like part of it?

[2020-03-20 17:54] ehengao commented on #7340
@vagababov
Thanks for getting back so quickly. Following are some addtional information i gathered

[code]
Please let me know if you need more information.

[2020-03-20 18:13] vagababov commented on #7340
There are a lot of `connection refused` errors.
I see also configmap missing errors.
And
[code]
Which means the configuration was not applied correctly...

[2020-03-20 18:32] ehengao commented on #7340
@vagababov

Thanks, i think the reason i have this configmap error is because i try to follow the guide on this link
https://knative.dev/docs/serving/cluster-local-route/

Could you please give me more information about how to trouble shoot this configuration problem?

Thanks a lot

[2020-03-20 18:53] vagababov commented on #7340
You need to install `serving.yaml` is my guess...

[2020-03-20 18:59] ehengao commented on #7340
Looks like the same issue:

[code]

[2020-03-20 19:02] vagababov commented on #7340
So can you check the webhook logs to see if the cert still cannot be found?

[2020-03-20 19:14] ehengao commented on #7340
@vagababov
There is no new log entries in the webhook logs, the networking-istio pod still crsahing with error:
[code]

[2020-03-20 19:19] vagababov commented on #7340
/cc @tcnghia

[2020-03-20 20:24] vagababov commented on #7288
/close
This is done.

[2020-03-20 20:24] #7288 closed

[2020-03-20 20:30] vagababov opened #7347 "[Activator Subsetting] Add activator capacity to decider and do Activator count impl"
We need to thread the `activator-capacity` through the autoscaler and compute the # of required activators.
Comes in two parts:
1. thread in param
2. do the computation

## In what area(s)?
/area autoscale
/assign

[2020-03-20 21:22] #4549 closed

[2020-03-20 22:01] ZhiminXiang commented on #7264
The placeholder service is created as ExternalName service when the cluster does not enable Istio sidecar injection. In this "no mesh" mode, the requests sent to `blue2` service are essentially sent to `cluster-local-gateway` service because of the ExternalName service. The the cluster local gateway will route traffic to the right endpoints based on the Istio VirtualService. So this is expected.

[2020-03-21 01:46] ZhiminXiang commented on #7337
Could you try cert-manager 0.12 and see if it works?

[2020-03-21 15:09] pradithya opened #7349 "Allow configurable boundary for queue proxy resource"
## Describe the feature

Allow users to configure the boundary of queue proxy memory and cpu request/limit.
Currently, the configuration is hardcoded with the following values:

request.cpu = [25m, 100m]
limit.cpu =  [40m , 500m]
memory.request =[50Mi, 200Mi]
memory.limit = [200Mi,500Mi]

I am running kfserving (which runs on top of knative 0.9.0) and notice that some of our production services ha

[2020-03-21 17:16] vagababov commented on #7349
you can configure the QP resources as % of user container resources using
`queue.sidecar.serving.knative.dev/resourcePercentage` annotation.

[2020-03-21 22:07] JCzz opened #7350 "Bi-directional streaming & long lived processes"
First I should ask, Is [gRPC bidirectional-streaming](https://grpc.io/docs/guides/concepts/#bidirectional-streaming-rpc) supported in Knative-serving?

I am trying figure out how to use Knative to handle long lived grpc streaming sessions. Like a Chat server, where the stream lives as long as there are connected users.

If not supported - what is the direction to solve this?

Should I look into: [

[2020-03-21 23:27] vagababov commented on #7350
https://github.com/knative/docs/blob/master/docs/serving/samples/grpc-ping-go/grpc-ping.go#L26 — does this help

[2020-03-22 00:18] pradithya commented on #7349
@vagababov Yes, I set that to 20% of the service resource. The service has 2 CPU request, thus I expected queue proxy to request 400m CPU. However, due to the CPU request boundary (i.e. https://github.com/knative/serving/blob/0d106c53694e55457d492f9b1c791cc355c32287/pkg/reconciler/revision/resources/resourceboundary.go#L30) the actual queue proxy CPU request become 100m.

[2020-03-22 01:02] vagababov commented on #7349
That's just request though, it can grow all the way to the max, which is 500m

[2020-03-22 01:23] pradithya commented on #7349
Yes, but even though the CPU usage is less than the limit, queue proxy still gets throttled as seen from the graph. I suspect it's due to https://github.com/kubernetes/kubernetes/issues/67577

[2020-03-22 03:05] yanweiguo commented on #6625
I don't get the point that why we need to update [pkg/metrics/key.go](https://github.com/knative/serving/blob/master/pkg/metrics/key.go#L34) to use the same fields. These metric tags are used inside knative only. They are not relative to Kubernetes metrics fields

We could rename to align with what k8s does. But it will break metrics reporting pipeline to Stackdriver without extra mapping Stackdri

[2020-03-22 05:09] nak3 commented on #7265
/assign

[2020-03-22 08:38] alexnederlof commented on #7337
Yes, same thing happens with cert-manager 0.12

[2020-03-22 11:18] nak3 commented on #6478
I have tried to find the way to add the cors policy without a change on our side, but it seems not possible. So we need to configure it on the VirtualService managed by net-istio.

I am thinking that we can achieve it either a) Cofigure it when by annotation (e.g. `service.istio.io/grpc-web: enabled`) or b) Make VirtualService more customizable (I wonder it will be possible if expanding Kingress i

[2020-03-22 11:40] JCzz commented on #7350
Thanks, I was more looking for a way to make Knative able to handle long lived processes

[2020-03-22 12:01] #5708 closed

[2020-03-22 12:01] #5722 closed

[2020-03-22 12:01] #5757 closed

[2020-03-22 12:01] #5751 closed

[2020-03-22 12:01] #5850 closed

[2020-03-22 12:06] #7336 closed

[2020-03-22 12:06] knative-test-reporter-robot opened #7352 "[flaky] test/conformance/ingress.TestIngressTLS"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestIngressTLS
* **Repository name**: serving

[2020-03-22 20:40] vagababov opened #7353 "[Activator Subsetting] Utilize the num of activators value in the multiscaler."
When #7347 is implemented, we need to consume the value in the multiscaler and trigger a KPA reconciliation event if the suggestion changed.
Update the corresponding unit tests.
This should conclude the  the computational work in the autoscaler for subsetting.

## In what area(s)?
/area autoscale

/assign

[2020-03-23 00:00] #5368 closed

[2020-03-23 00:00] #5370 closed

[2020-03-23 00:00] #5405 closed

[2020-03-23 00:00] #5453 closed

[2020-03-23 00:00] #5457 closed

[2020-03-23 00:00] #5495 closed

[2020-03-23 00:00] #5549 closed

[2020-03-23 00:05] mattmoor commented on #4307
/remove-lifecycle stale

[2020-03-23 00:17] nak3 commented on #7340
So, last log says that you are missing `config-istio` configmap.

The config-istio configmap is in serving-istio.yaml. Although I can see you already executed  `kubectl apply --filename https://github.com/knative/serving/releases/download/v0.13.0/serving-istio.yaml`, what happens when you create the configmap now? Can you verify that the configmap exist?

(e.g.)
[code]

[2020-03-23 03:25] zhangtbj opened #7357 "Report can not find jetstack certmanager v1alpha1 when building from master branch"
Hi all,

I tried to build Knative from `master` branch.

But recently, I found my Knative build fail as:
[code]

And I found there is no `github.com/jetstack/cert-manager/pkg/apis/certmanager/v1alpha1` in vendor folder:
https://github.com/knative/serving/tree/master/vendor/github.com/jetstack/cert-manager/pkg/apis/certmanager

Only has `v1alpha2`:
[code]

I tried to build by using go `1.13` and `1

[2020-03-23 07:57] ufou opened #7358 "knative-serving pods in CrashLoopBackoff state"
## What version of Knative?

Kubernetes version 1.16.2
0.13.0

## Expected Behavior

I expect the knative-serving pods to remain in `Running` status

## Actual Behavior

The knative-serving pods start OK and are `Running` for a period of time - how long for I am not yet exactly sure before they start CrashLoopBackoff'ing

[code]

Picking on the controller pod, here are some logs:
`Init container`:

[2020-03-23 08:05] koalaxiu7 opened #7359 "persistentVolumeClaim as a Volume report error in Knative"
Hi all,
    I want to use a persistentVolumeClaim as a Volume in knative serving app, and it report error:
Error from server (BadRequest): error when creating "service.yaml": admission webhook "webhook.serving.knative.dev" denied the request: mutation failed: expected exactly one, got neither: spec.template.spec.volumes[0].configMap, spec.template.spec.volumes[0].projected, spec.template.spec.volu

[2020-03-23 08:06] ktock commented on #5913
FYI: Stargz-based lazy pulling is now available on containerd.
https://github.com/containerd/stargz-snapshotter

[2020-03-23 09:04] zhanggbj commented on #7233
@yanniszark
We run into a similar situation (Knative **0.12**)with both enabled knative-ingress-gateway and cluster-local-gateway, but the services are failing with error `IngressNotConfigured`.
This is because Knative Probe is tring local service against the public gateway address.

[code]

After upgrade to Knative **0.13**, this is fixed as some changes in **Ingress hosts**. You can refer to htt

[2020-03-23 10:11] zhanggbj commented on #7264
@ZhiminXiang
one update is after we upgrade to **Knative 0.13** which contains a fix https://github.com/knative/serving/pull/6732, so far so good, now Knative Probe only test request with local service against cluster-local-gateway pod, and with public domain against public gateway as below.
[code]

[2020-03-23 11:25] julz opened #7361 "Document QueueProxy contract"
## Describe the feature

There should be a Spec (and a conformance test) someone who wants to write a custom Queue Proxy could follow.

## Motivation

We allow the user to configure the Queue Proxy sidecar image in the `config-deployment` cm:
 https://github.com/knative/serving/blob/91205292305c560d7c38c03f2c0413df368b7813/config/core/configmaps/deployment.yaml#L26

.. but there are no specificati

[2020-03-23 11:27] markusthoemmes commented on #7361
Let's discuss this in the WG. I'd love to know why this was added historically in the first place.

FWIW: I had the same plan on attempting a rust-based QP for the same reasons 😂

[2020-03-23 11:39] julz commented on #7361
Yeah sounds good, not gonna lie if I didn't want to experiment with a rust-based (or potentially envoy+wasm based) QP I'd be on the side of deprecating rather than documenting. But since I _do_ think those experiments would be useful..

Adding to agenda for Wednesday :).

[2020-03-23 12:04] knative-test-reporter-robot opened #7362 "[flaky] test/e2e.TestEgressTraffic"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEgressTraffic
* **Repository name**: serving

[2020-03-23 16:08] vagababov commented on #7361
I actually think this might be more suitable for API/TOC. But we talk about it too :)

[2020-03-23 17:25] JRBANCEL commented on #6625
It is for consistency. It is harder to correlate across metrics if they don't have the same fields.
For example, if you want to get CPU usage (k8s metrics) per revision (Knative metric).

[2020-03-23 18:19] #7254 closed

[2020-03-23 18:27] mdemirhan commented on #7197
We need to have a solution for this, but not sure if a common namespace is the right solution. Istio for example use istio-system in a hard coded fashion (unless we customize it for ourselves). A better option would be to customize our installation to take that as an input. But that probably requires deploying via operators. @k4leung4 any suggestions?

[2020-03-23 20:39] #7347 closed

[2020-03-23 20:41] ehengao commented on #7340
@nak3

Yes, i can edit this config, and i tried to change the default domain to svc.local.cluster or <cluster_ip>.xip.io, however, i cannot get a successfully change for this config and always have following error:

[2020-03-23 21:50] vagababov commented on #7263
/assign

[2020-03-23 22:06] yanweiguo commented on #6625
Ok, if we do want to keep consistency, we need to map `pod` and `container` to `pod_name` and `container_name` [here](https://github.com/knative/pkg/blob/777b215a64aa91f67b625cc1176feff575793a0c/metrics/monitored_resources_serving.go#L68) to be compatible with Stackdriver.

[2020-03-24 00:00] #5615 closed

[2020-03-24 00:00] #5679 closed

[2020-03-24 00:00] #5626 closed

[2020-03-24 00:00] #5082 closed

[2020-03-24 02:28] Cynocracy commented on #5664
/reopen

[2020-03-24 02:28] Cynocracy commented on #5664
/remove-lifecycle rotten

[2020-03-24 03:34] vagababov commented on #5634
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen
Until we find a better place for observability.

[2020-03-24 12:00] #5092 closed

[2020-03-24 12:00] #5189 closed

[2020-03-24 12:00] #5165 closed

[2020-03-24 12:00] #5209 closed

[2020-03-24 12:00] #5243 closed

[2020-03-24 12:03] #7352 closed

[2020-03-24 12:03] knative-test-reporter-robot opened #7369 "[flaky] test/e2e/autotls.TestAutoTLS/SelfSignedPerKsvc"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/autotls.TestAutoTLS/SelfSignedPerKsvc
* **Repository name**: serving

[2020-03-24 16:10] bsideup commented on #1185
I would also be interested in configuring `api.example.com` domain that points to "example-api" Knative service in "default" namespace (currently it is mapped to "example-api.default.example.com")

[2020-03-24 16:51] tcnghia commented on #6750
@richard2006 were you able to obtain more logs to help further investigation of handler panick?

[2020-03-24 16:55] tcnghia commented on #6715
I see, in that case I think you are referring to https://github.com/knative/serving/issues/1185, which is a longer term item on our road map.  Can you please take a look to see if that matches what you desire here?

We do plan to work on that, but it will involve some change in our internal KIngress API (as we will need to make the same work on not just Istio but other KIngress implementations) so

[2020-03-24 16:55] #6715 closed

[2020-03-24 17:11] tcnghia commented on #7264
/assign @ZhiminXiang

[2020-03-24 17:12] tcnghia commented on #7337
/assign @ZhiminXiang

[2020-03-24 17:13] tcnghia commented on #7233
/assign @tcnghia

[2020-03-24 17:40] bsideup commented on #1185
For now, hacked with the following:
[code]

[2020-03-24 18:51] AndriiNeverov opened #7374 "Kubernetes version is not correctly detected in case of patches"
## What version of Knative?

0.11.1 (as part of Kubeflow 1.0)

## Expected Behavior

Kubernetes version is correctly detected in case of patches: v1.16.4+vmware.1

## Actual Behavior

```{"level":"fatal","ts":"2020-03-24T18:13:26.384Z","logger":"istiocontroller","caller":"sharedmain/main.go:145","msg":"Version check failed","commit":"6b0e5c6","error":"kubernetes version \"\" is not compatible, nee

[2020-03-24 19:08] vagababov commented on #7374
This was fixed in https://github.com/knative/pkg/pull/1013
Which is included in 1.13
/close

[2020-03-24 19:08] #7374 closed

[2020-03-24 23:58] nak3 opened #7376 "Add KCert status to Route's LivingConditionSet"
This is a tracking issue for https://github.com/knative/serving/pull/7163/files#diff-5b55b0c89aed2976ff7e4c1e1fc97661R33.
Add KCert status to Route's LivingConditionSet after next release.

/area networking
/assign

[2020-03-24 23:59] nak3 commented on #7162
This issue can be closed after https://github.com/knative/serving/issues/7376 is fixed.

[2020-03-25 00:01] #5311 closed

[2020-03-25 00:01] #5315 closed

[2020-03-25 00:01] #5016 closed

[2020-03-25 00:33] richterdavid opened #7377 "monitoring-tracing-jaeger.yaml: no matches for kind "Jaeger""
Instructions at https://knative.dev/docs/install/any-kubernetes-cluster/ for Observability suggest this, but it errors out

$ kubectl apply --filename https://github.com/knative/serving/releases/download/v0.13.0/monitoring-tracing-jaeger.yaml
service/zipkin created
error: unable to recognize "https://github.com/knative/serving/releases/download/v0.13.0/monitoring-tracing-jaeger.yaml": no matches f

[2020-03-25 02:18] itsmurugappan commented on #6625
@yanweiguo I will make this change. so if the key is pod_name or container_name i need to map it to container and pod right.

[2020-03-25 11:47] Sharathmk99 opened #7382 "Knative Ambassador Ingress"
## Ask your question here:
I'm trying to use Knative with ambassador. Followed below steps to install Knative,

Install Knative

[code]

Configure Ambassador,

`kubectl set env --namespace ambassador  deployments/ambassador AMBASSADOR_KNATIVE_SUPPORT=true`

Configure Knative to use ambassdor as ingress,

`kubectl patch configmap/config-network --namespace knative-serving --type merge --patch '{"da

[2020-03-25 12:05] #7362 closed

[2020-03-25 12:05] #6819 closed

[2020-03-25 12:05] #7003 closed

[2020-03-25 13:34] markusthoemmes commented on #7357
I just tried on master and everything seemed fine on my end. Could you share how you're trying to build Knative here? It looks like you're using `ko`. Maybe upgrade that to the latest version?

[2020-03-25 13:53] zhangtbj commented on #7357
Hi @markusthoemmes ,

Every time, I just the latest `ko`:
[code]

Then build like:
[code]

Is there any change in current build or `hack/generate-yamls.sh` ?

Thanks for your help!

[2020-03-25 16:20] #7353 closed

[2020-03-25 17:52] yanweiguo commented on #6625
After revisiting this issue, the problem here is that if we are using k8s 1.16, the dashboards for k8s metrics won't work. We are fine with knative its own metrics.

I think the scope the work for this issue is:

1. Split the Grafana config into different folds to support `<1.16` and `>=1.16` for k8s metrics.
1. (Optional) Rename knative metrics labels to keep consistent.

For the second part of w

[2020-03-25 18:31] mdemirhan commented on #6625
We should treat knative metrics like any other API - they are contracts and we cannot break them. Changes should be additive and renaming metrics will break products that building on top of Knative. If there is a very strong reason to make a breaking change, we should follow the same principles we have in API and we need to have a migration strategy and we need to support both for a while, allowin

[2020-03-25 18:48] JRBANCEL commented on #6625
We should do what k8s did, they added the new fields for a couple versions and then deprecated them and then deleted them.

[2020-03-25 20:15] Sharathmk99 commented on #7382
I'm able to fix this issue. There was permission problem with Ambassador-CRD role.

[2020-03-25 20:15] #7382 closed

[2020-03-25 20:20] Sharathmk99 opened #7385 "Knative private cluster-local service without complete istio installation"
## Ask your question here:

We are using Ambassador as API gateway for our application. Now we need to deploy couple of backend services using Knative which will be not exposed to external ingress.

I came into the this docs https://knative.dev/docs/serving/cluster-local-route/ where i can add label to use local route.

After adding the label to ksvc, i'm getting couldn't resolve host from another

[2020-03-26 00:15] duglin commented on #4589
/lifecycle stale

[2020-03-26 00:16] duglin commented on #4589
/remove-lifecycle stale

[2020-03-26 00:47] vagababov commented on #2930
/remove-lifecycle stale

[2020-03-26 00:47] #7283 closed

[2020-03-26 00:47] vagababov commented on #3492
thought examples are already the defaults? :|

[2020-03-26 09:07] markusthoemmes commented on #6520
Is this only surfaced because the user-port is part of the containerPorts list in K8s? What happens if we remove it from that list during deployment? Is the port still surfaced?

[2020-03-26 12:04] knative-test-reporter-robot opened #7391 "[flaky] test/e2e.TestDestroyPodWithRequests"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestDestroyPodWithRequests
* **Repository name**: serving

[2020-03-26 12:58] nak3 commented on #7337
Hi @alexnederlof

May I ask you how did you install Istio? If you have the template or helm values, we would like you to share it. Especially I am wondering if you missed to enable SDS as docs described:

https://knative.dev/docs/install/installing-istio/

For your concern:

The name difference is no problem. The secret in `istio-system` ns should refer to the original namespace in your app. You c

[2020-03-26 15:32] markusthoemmes commented on #6520
Tried it, even if we don't surface it, 8080 is curlable.

[2020-03-26 17:00] JRBANCEL commented on #6520
Yes, it doesn't matter. Only listening to loopback prevents external connections to be established.
See my comment above.

[2020-03-26 17:11] vagababov commented on #6520
well, or a network rule, as Evan mentioned (definitely for meshes).

[2020-03-26 17:12] itsmurugappan commented on #6625
Since there is work going on to migrate to OpenTelemetry, we can approach this in 2 parts as @yanweiguo mentioned. First step we can fix the Grafana dashboard. Do we really need two folders ? Can we use the 'metrics relabeling' in the scrape config ?

[2020-03-26 17:38] alexnederlof commented on #7337
Damn, seems like I made a mistake in the YAML I created for istio, and indeed the SDS was switched off.

Thanks for your help!

[2020-03-26 17:38] #7337 closed

[2020-03-27 00:04] vagababov commented on #4438
/remove-lifecycle stale
@tcnghia now that it works in 1.5, should we add this?

[2020-03-27 02:00] ZhiminXiang opened #7400 "TestAutoTLS/HTTP01 test becomes flaky"
The test becomes flaky this afternoon. For example:
https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_serving/7228/pull-knative-serving-autotls-tests/1243276998030135296

It failed when cert-manager was doing self-verification:
[code]

This self-verification lasted from 10 min, which caused the test eventually timed.

Some other foundings:
[code]

But from the GKE stackdriver log

[2020-03-27 12:08] nicolaferraro commented on #5802
This has been fixed for the Camel K case by providing full image IDs with sha when building.

Outside Camel K, for the general case, the user needs to skip resolving tags on the minikube registry. The problem is caused by a first connection to the 443 port of the registry being hold for several minutes before timing out.

[2020-03-27 12:08] #5802 closed

[2020-03-27 13:04] duglin opened #7405 "More domainTemplate related features"
## In what area(s)?
/area networking

## Describe the feature

Been trying to use Knative as the mechanism for hosting a series of apps behind a domain. E.g. if I have `dug.example.com` as the root domain, I then want to host `app1.dug.example.com` and `app2.dug.example.com` etc... Shouldn't be too bad since I think I can just change my domainTemplate to `"{{.Name}}.{{.Domain}}" `. However, when i

[2020-03-27 13:31] sumowrestler commented on #1816
I've just hit this issue now, made assumptions it would work with labels - going to give the namespace workaround a try. would really appreciate having an ability to do this without complexity.

[2020-03-27 13:31] nak3 opened #7406 "Remove parallel 1 option from https tests"
/area networking

When removing `parallel` 1 option from https tests by https://github.com/knative/serving/pull/7368 the tests becomes flaky.
Some tests took more than 10min and causes timeout.

There are some observations.

#### 1. Even passed tests, they take long time like:

e.g.

[code]

#### 2. It takes long time between `Queuing probe for` and `Processing probe for`.

e.g. [This](https://gis

[2020-03-27 13:38] markusthoemmes commented on #4522
FWIW, there seems to even be a standard header to indicate from the client that the server shall handle things asynchronously: https://tools.ietf.org/html/rfc7240#page-8

[2020-03-27 14:32] AceHack commented on #6488
What logs does this error show up in?

[2020-03-27 19:20] vagababov opened #7410 "Cleanup Revision/Ingress/Etc unit tests"
## In what area(s)?

/area networking
/kind good-first-issue

The way the unit tests currently construct networking ConfigMap is not the best. They construct the map directly, they test invalid values (which are impossible, since we reject improper values), etc.
Once https://github.com/knative/serving/pull/7408 merges there'll be a nice constructor that will construct it from a `map[string]string`

[2020-03-27 22:10] Cynocracy commented on #4480
/reopen

/remove-lifecycle rotten

[2020-03-27 22:11] Cynocracy commented on #4480
Reopnening this, is this something we want to support?

At least from our end, we'd like to maintain a policy, and this repo feels like the appropriate place to do so.

[2020-03-28 00:01] #5062 closed

[2020-03-28 11:34] nak3 commented on #6373
/remove-lifecycle stale

[2020-03-28 12:01] #5895 closed

[2020-03-28 12:05] #7299 closed

[2020-03-28 12:05] #7391 closed

[2020-03-28 12:05] #7076 closed

[2020-03-28 12:05] #7053 closed

[2020-03-28 14:51] AceHack opened #7415 "Fully Qualified DNS names are not support under istio.gateway config"
**Describe the bug**
Fully Qualified DNS names should be supported like

[code]

this gets rejected as not a valid DNS name because of the period at the end.  The period at the end actually tell Kubernetes not do to any further DNS suffix lookups other than this fully qualified name.  This is a correct DNS entry.

 **Expected behavior**
Fully qualified DNS entries to be accepted that have the dot

[2020-03-29 00:01] #5906 closed

[2020-03-29 01:12] Cynocracy commented on #4480
More info about the last attempt can be found at https://github.com/knative/serving/pull/4500

[2020-03-29 02:21] nak3 commented on #7415
Hi @AceHack
This error is not showstopper on your side, correct? (You can avoid the issue by just not using `.`.)

We can fix this issue by using [IsFullyQualifiedDomainName()](https://github.com/kubernetes/apimachinery/blob/f8e71527369e696bf041722b248ffcb32bae9edf/pkg/util/validation/validation.go#L95) for [the validtion check](https://github.com/knative/net-istio/blob/c245b567e6096db5d9d9e3ab349

[2020-03-29 03:09] nak3 commented on #7415
Never mind. I think the ServiceURL should accept both subdomain and FQDNS so trailing dot as this change https://github.com/knative/net-istio/pull/59 could be fine.

[2020-03-29 12:04] knative-test-reporter-robot opened #7418 "[flaky] test/conformance/runtime.TestProbeRuntime/tcpSocket"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestProbeRuntime/tcpSocket
* **Repository name**: serving

[2020-03-29 12:05] knative-test-reporter-robot opened #7419 "[flaky] test/conformance/runtime.TestProbeRuntime/httpGet"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestProbeRuntime/httpGet
* **Repository name**: serving

[2020-03-29 12:05] knative-test-reporter-robot opened #7420 "[flaky] test/conformance/api/v1beta1.TestConfigMapVolume"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestConfigMapVolume
* **Repository name**: serving

[2020-03-29 12:05] knative-test-reporter-robot opened #7421 "[flaky] test/ha.TestControllerHA"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/ha.TestControllerHA
* **Repository name**: serving

[2020-03-29 12:05] knative-test-reporter-robot opened #7422 "[flaky] test/conformance/api/v1.TestRevisionTimeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestRevisionTimeout
* **Repository name**: serving

[2020-03-29 12:05] knative-test-reporter-robot opened #7423 "[flaky] pkg/reconciler/route.TestNewRouteCallsSyncHandler"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestNewRouteCallsSyncHandler
* **Repository name**: serving

[2020-03-29 12:05] #7164 closed

[2020-03-29 12:05] #7165 closed

[2020-03-29 12:05] knative-test-reporter-robot opened #7424 "[flaky] test/conformance/api/v1beta1.TestProjectedSecretVolume"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestProjectedSecretVolume
* **Repository name**: serving

[2020-03-29 12:05] knative-test-reporter-robot opened #7425 "[flaky] test/conformance/runtime.TestProbeRuntime"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestProbeRuntime
* **Repository name**: serving

[2020-03-29 16:00] AceHack commented on #7415
This is not a show stopper, it can wait as long as needed.  We use AWS EKS and they lag way behind in kubernetes versions, i.e., they just got 1.15.  So I would hate much worse to have a requirement for a kubernetes version I can't upgrade to.  Thanks.

[2020-03-30 00:01] #5914 closed

[2020-03-30 00:01] #4631 closed

[2020-03-30 12:05] knative-test-reporter-robot opened #7428 "[flaky] _build_tests.Verify_CodeGen"
### Auto-generated issue tracking flakiness of test
* **Test name**: _build_tests.Verify_CodeGen
* **Repository name**: serving

[2020-03-30 18:31] shashwathi commented on #6462
@mattmoor  @tcnghia : I think this issue is not valid anymore.

[2020-03-30 22:28] dprotaso commented on #6516
bump - @hpandeycodeit let us know if you're available to continue your work on this issue

[2020-03-31 02:49] duglin commented on #6146
/remove-lifecycle stale

[2020-03-31 07:59] MIBc commented on #7410
I want to try.

[2020-03-31 12:05] #7418 closed

[2020-03-31 12:05] #7420 closed

[2020-03-31 12:05] #7425 closed

[2020-03-31 12:05] #7065 closed

[2020-03-31 12:05] #7066 closed

[2020-03-31 12:06] #7419 closed

[2020-03-31 12:06] #7089 closed

[2020-03-31 12:06] #7423 closed

[2020-03-31 12:06] #6966 closed

[2020-03-31 14:40] JCzz opened #7440 "curl: (7) Failed to connect to helloworld-go.default.mydomain.com port 80: Connection refused"
Knative on Google Kubernetes Engine - Running this:
https://knative.dev/docs/install/any-kubernetes-cluster/

Applying this hello world go:
https://knative.dev/docs/serving/samples/hello-world/helloworld-go/

I keep getting:
`curl: (7) Failed to connect to helloworld-go.default.mydomain.com port 80: Connection refused`

[code]

I have added this for my domain:
[code]

Tried changing port: 8080 to

[2020-03-31 14:46] dprotaso commented on #6816
this should be done
/close

[2020-03-31 14:46] #6816 closed

[2020-03-31 16:49] AceHack opened #7442 "Security: Please set pod Security Context on all Pods"
Many companies have a security requirement in place that all pods must not run as root and set the run as user.  Please set this (Or allow it to be set) on all pods.  This would mean either adding it yourself or adding it to any CRDs that end up creating pods so the user can set it.  Note this is at the pod level, not the container level.  I will be creating a separate feature request for the cont

[2020-03-31 16:58] AceHack opened #7443 "Security: Please set container Security Context on all Containers"
Many companies have a security requirement in place that all containers must have a read-only file system and not allow privileged escalation.  Please set this (Or allow it to be set) on all containers.  This would mean either adding it yourself or adding it to any CRDs that end up creating containers so the user can set it.  Note this is at the container level, not the pod level.  I have created

[2020-03-31 17:02] vagababov commented on #7440
what's you `kubect get ksvc helloworld-go` output?

[2020-03-31 17:19] AceHack opened #7444 "Operations: Please allow setting nodeSelector, tolerations, and affinity on all Pods"
Most companies with complex enough kubernetes deployments that have multiple different node groups require some sort of topology selection so pods will run on the correct group of nodes.  Please allow setting nodeSelector, tolerations, and affinity on all Pods to accomplish this.  This includes adding it to any CRDs that create pods so these values are settable.

https://kubernetes.io/docs/concept

[2020-03-31 17:34] hpandeycodeit commented on #6516
@dprotaso yes, apologies for the delay in response. I will create a PR soon

[2020-03-31 17:47] vagababov commented on #7444
This feels like a duplicate of https://github.com/knative/serving/issues/1816

[2020-03-31 18:03] JCzz commented on #7440
[code]

[2020-03-31 18:16] vagababov commented on #7440
So it seems that knative itself has started correctly.
Is your istio healthy?
e.g. are pods in `istio-system` all running? Pilot and ingressgateway?
Is `kubectl get service -n istio-system istio-ingressgateway` return a valid external IP?
Finally what does `nslookup mydomain.com` return? Does it match the IP above?

[2020-03-31 18:48] JCzz commented on #7440
hmm, you might have a point:
`nslookup mydomain.com`
returns:
[code]

[2020-03-31 21:02] vagababov opened #7446 "Cleanup leaderelection config map defaulting and unit test after 0.15 is cut."
Basically finish https://github.com/knative/serving/pull/7436
We can't do that now, because downgrade test would fail.

/assign

[2020-04-01 01:17] duglin opened #7449 "Ksvc's "ready" state questions"
/area API

When a knService is created the "ready" state will indicate if at least one instance of the
service could be started successfully.

However, after that if subsequent instance can not be started, e.g. because a required
configmap was deleted, then the knService will not report any indication that something is
wrong. Users of the service will fail to talk to it, but nothing in the status

[2020-04-01 02:55] nak3 commented on #7385
Ambassador should support cluster local without installation of istio's cluster-local-gateway.

/cc @concaf

[2020-04-01 07:39] #7263 closed

[2020-04-01 07:42] shuai-gao-awx opened #7450 "404 error when access a kservice with short service name from a pod of another kservice"
/area networking

## Ask your question here:
In kubernetes, we can access a service with `ServiceName`,  `ServiceName.NameSpace`, `ServiceName.NameSpace.svc` and `ServiceName.NameSpace.svc.cluster.local`

But with Knative, **we cannot access a service with just `ServiceName`**.  `ServiceName.NameSpace` and other long hostnames with a suffix is working well.

**Example:**
I have deployed a knative

[2020-04-01 07:50] jonatasbaldin opened #7451 "Very first Service deployment stucks with `RevisionMissing` and Revision with `InternalError`"
## What version of Knative?

## Expected Behavior
Deploy a Service and get it up and running.

## Actual Behavior
During the **very first** Service deployment after installing Knative, the **Revision** times out with the following error:
[code]

And the **Service** gets stuck in **RevisionMissing**:
[code]

BUT, if I delete the Service and redeploy, it works just fine:
[code]

After that, any Serv

[2020-04-01 08:37] nak3 commented on #7377
@richterdavid Thank you for your report.
I think It should be a docs issue, so we should follow this docs issue https://github.com/knative/docs/issues/2348

[2020-04-01 12:05] knative-test-reporter-robot opened #7453 "[flaky] test/conformance/api/v1beta1.TestRevisionTimeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestRevisionTimeout
* **Repository name**: serving

[2020-04-01 12:05] knative-test-reporter-robot opened #7454 "[flaky] test/conformance/api/v1alpha1.TestCustomResourcesLimits"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1alpha1.TestCustomResourcesLimits
* **Repository name**: serving

[2020-04-01 12:06] knative-test-reporter-robot opened #7455 "[flaky] test/conformance/runtime.TestMustHaveHeadersSet"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestMustHaveHeadersSet
* **Repository name**: serving

[2020-04-01 12:06] knative-test-reporter-robot opened #7456 "[flaky] test/conformance/api/v1beta1.TestProjectedComplex"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestProjectedComplex
* **Repository name**: serving

[2020-04-01 12:06] knative-test-reporter-robot opened #7457 "[flaky] test/conformance/api/v1beta1.TestSecretVolume"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestSecretVolume
* **Repository name**: serving

[2020-04-01 12:06] #7428 closed

[2020-04-01 12:06] knative-test-reporter-robot opened #7458 "[flaky] test/conformance/api/v1beta1.TestProjectedConfigMapVolume"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestProjectedConfigMapVolume
* **Repository name**: serving

[2020-04-01 12:06] knative-test-reporter-robot opened #7459 "[flaky] test/conformance/api/v1beta1.TestCustomResourcesLimits"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1beta1.TestCustomResourcesLimits
* **Repository name**: serving

[2020-04-01 14:40] mgencur opened #7464 "[flake] Revision failing with UNAUTHORIZED: authentication required after autoscaler-hpa restart"
Sometimes it happens that after starting a new autoscaler-hpa pod (when scaling up the autoscaler-hpa deployment) or after restarting one of autoscaler-hpa pods, a new service fails to start because the revision shows the following error:
[code]
Restarting the Controller pod helps in this case and the service starts successfully.

This issue can be seen sometimes in the HA tests (TestAutoscalerHPA

[2020-04-01 14:41] mgencur commented on #7464
Can you advise which logs to attach or which information to gather? I'll try to reproduce it and provide that info.

[2020-04-01 14:42] markusthoemmes commented on #7464
I fail to see the connection between autoscaler-hpa and resolution errors. Tag resolution is done by the controller 🤔 .

Can you link the respective test failure?

[2020-04-01 14:54] mgencur commented on #7464
The failure looks like this:
[code]
It's available in https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_knative-serving/435/pull-ci-openshift-knative-serving-release-v0.13.1-4.3-e2e-aws-ocp-43/10

[2020-04-01 15:58] skaslev commented on #912
Quick update on this.

I sent two PRs (kubernetes-sigs/controller-tools#427 and kubernetes-sigs/controller-tools#428) to address couple of blocking issues in `controller-gen` when used on serving APIs.

The resulting CRDs with generated OpenAPI schemes are at https://github.com/skaslev/serving/tree/schema-gen/config/core/resources-test2

There is still one more minor issue (URL is currently genera

[2020-04-01 16:12] vagababov commented on #7440
I presume this is resolved.
/close

[2020-04-01 16:12] #7440 closed

[2020-04-01 16:14] vagababov commented on #7464
The panic is just the test timing out...

[2020-04-01 16:16] richterdavid commented on #7377
SGTM, thanks

[2020-04-01 16:16] #7377 closed

[2020-04-01 16:21] mattmoor commented on #912
One things I was wondering in slack was whether we could have the conversion webhook stuff populate this.  That would also allow us to bypass the size limitation since we don't double-stuff our yamls.

[2020-04-01 16:52] #7415 closed

[2020-04-01 16:54] vagababov commented on #7451
Could you also describe the pod when this happens? Or if there's no pod the deployment? (or both )

[2020-04-01 18:34] vagababov commented on #7446
Also do the same in http://github.com/knative/eventing.

[2020-04-01 19:10] JCzz commented on #7440
Sorry, no it is not resolved - I am still trying.

I have tried changing my Google cloud DNS. But same result.

I can
`dig http://helloworld-go.default.mydomain.com`
returning the right - external ingress ip address

But:
`curl http://helloworld-go.default.mydomain.com`
Is still:
`curl: (7) Failed to connect to helloworld-go.default.mydomain.com port 80: Connection refused`

Any ideas are very wel

[2020-04-01 19:11] JCzz commented on #7440
I am just trying to deploy:
[code]

[2020-04-01 19:31] vagababov commented on #3492
/remove-lifecycle rotten

[2020-04-01 19:31] vagababov commented on #3492
/assign

[2020-04-01 20:09] JCzz commented on #7440
Logs:

[code]

[2020-04-01 20:43] dprotaso commented on #912
I don't think we should copy the PodSpec but reference the existing OpenAPI
type - if that's possible

ie.
"$ref": "#/definitions/io.k8s.api.core.v1.PodSpec"

On Wed, Apr 1, 2020 at 12:22 PM Matt Moore <notifications@github.com> wrote:

[2020-04-01 20:55] vagababov commented on #7440
Are the ksvs/route/revision/ingress all ready/succeeded?

[2020-04-01 21:46] JCzz commented on #7440
[code]

[code]

[code]

[code]

[code]

[2020-04-01 22:10] vagababov commented on #7440
Sorry, I should have been more clear (`kubectl get kingress`)
But it seems that the service is ready.
Can you verify the following:
`curl http://<istio-external-ip/ -H "Host: helloworld-go.default.<yourdomainhere>" -v`

[2020-04-01 22:24] JCzz commented on #7440
@vagababov  Thanks, I am happy for any insights

[code]

[code]

Info: I am on GKE, and I just tried to create a new cluster - to compare firewall rules - but looks the same.
Also I am on MacOs and tried to port scan <istio-external-ip> with the "Network Utility" - no ports comes up.

[2020-04-01 22:44] JCzz commented on #7440
Info: the Istio installation is "Installing Istio with SDS to secure the ingress gateway"
From:
https://knative.dev/development/install/installing-istio/#installing-istio-with-sidecar-injection

[2020-04-01 22:48] vagababov commented on #7440
cc @tcnghia @ZhiminXiang @nak3

my expertise ends here :-) But given you're using SDS perhaps you need to connect to port 443?

[2020-04-01 22:50] JCzz commented on #7440
@vagababov Thanks so fare, appreciate  it!

I will give it a go and let you know.

[2020-04-01 22:54] JCzz commented on #7440
[code]

[2020-04-01 22:56] tcnghia commented on #7440
@JCzz what happens if you do the same curl, through a pod _inside_ your cluster and use the ClusterIP address instead of the external IP?

[code]

[2020-04-01 23:01] JCzz commented on #7440
@tcnghia

Cool, good idea:

[code]

[2020-04-01 23:04] vagababov commented on #7440
Do you have network rules perhaps?

[2020-04-01 23:07] JCzz commented on #7440
@vagababov on Google Cloud Platform?

[2020-04-01 23:11] JCzz commented on #7440
My firewall rules - created by Knative/Istio is:

[code]

[2020-04-01 23:11] vagababov commented on #7440
In Istio?
Here's something you can try as well, to minimize the path.
In your kservice, add the following to the revision spec:
[code]
See if that helps somehow?

[2020-04-01 23:14] tcnghia commented on #7440
Does the Ingress have running pod?  Can you please try looking at the IPs listed in

[code]

and hit one of those address:port with the same curl command (inside the cluster?)  thanks.

[2020-04-01 23:25] JCzz commented on #7440
From busyboxplus I tried:
curl http://10.60.0.51

as it has a port 80 open

Also tried
[code]

[2020-04-01 23:49] evankanderson commented on #7271
What are the requirements on `reporting_host`?

In some circumstances (Virtual Kubelet, for example), the host IP might not be available or exposed. Additionally, multiple Pods supporting a single revision might share the same `hostIP`.

I can see three different use cases:
1. As a correlation key to align traces with log records. In this case, a UUID for the container is probably the correct valu

[2020-04-01 23:50] evankanderson commented on #7271
See also this proposal for exposing the downwards API:

https://docs.google.com/document/d/1dL4vXYOGoLKCn7aVosUuakgmpRjv2aBPwvuGU98NwXQ/edit#

Note that this provides a number of leaky abstractions that don't quite capture the 1-3 use cases.

[2020-04-01 23:52] duglin commented on #6947
@mattmoor given what you said on today's API call, do you still want people to have to use the more verbose downward-api mechanism to get such a popular bit of metadata like this? I think it's going to be one of the more popular ones.

[2020-04-02 00:47] vagababov commented on #7440
It makes sure activator is not in the request path. In general the value depends on your load, but it removes one variable from consideration.
You might want `minScale=1` as well, to make sure activator is _never_ in the path.
If we eliminate that variable, you can remove those :)

[2020-04-02 01:14] mattmoor commented on #6947
Yes, I don't think the verbosity of this is a place we really should be worrying about differentiating given a very reasonable pre-existing choice.

[2020-04-02 02:41] tcnghia commented on #7440
@JCzz what does this show

[code]

Since your YAML only shows `nonReadyAddresses` I suspects your Ingress pods aren't ready, and as a result not hooked up to your ClusterIP or ExternalIP.

[2020-04-02 05:15] shreejad commented on #5918
PR addressing this issue ([#7445](Add common probe path in autoscaler, networking and activator #7445)) was closed. As the PR was not "linked" to the issue, this issue did not get closed automatically.
@vagababov, @tcnghia How can I close this issue? I don't see the "Close Issue" button beside "Comment" at the bottom of this page.

[2020-04-02 05:27] vagababov commented on #5918
/close

[2020-04-02 05:27] #5918 closed

[2020-04-02 05:27] vagababov commented on #5918
I think you just write `/close` :)

[2020-04-02 06:04] ceefour commented on #4868
I got this issue on microk8s on Windows:

[code]

Any suggestion on what I should do to start diagnosing them cause and finding alternatives?

[2020-04-02 09:39] mgencur commented on #7464
Sorry. My mistake. I was using a wrong image for the kservice. I need to re-check why I was seeing this when running tests locally.

[2020-04-02 09:39] #7464 closed

[2020-04-02 09:40] mgencur commented on #7464
The test timed out because the kservice didn't start in time and that was due to the wrong image.

[2020-04-02 10:44] VonRehberg commented on #4307
Would be good to have PVCs or any similar possibility to access models/files. Building derived containers seems very cumbersome.
Any feedback if you're working on it?

[2020-04-02 11:54] JCzz commented on #7440
Hi

[code]

In busyboxplus, I tried:
[code]

And:
[code]

[2020-04-02 11:55] JCzz commented on #7440
Just to confirm access to kubernetes I did:
[code]

And it works:
[code]

[2020-04-02 12:05] knative-test-reporter-robot opened #7469 "[flaky] test/conformance/ingress.TestPostSplitSetHeaders"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestPostSplitSetHeaders
* **Repository name**: serving

[2020-04-02 12:07] ufou commented on #7358
I believe this has been resolved - I can't be sure what the issue was but upgrading to knative-serving `v0.13.2` has resulted in the knative pods being stable and `Running` again

[2020-04-02 12:07] #7358 closed

[2020-04-02 14:53] mattmoor commented on #4307
The most related thing in-flight is support for multiple `spec.template.spec.containers`, but I see `spec.template.spec.initContainers`, and expanded volume support as related (e.g. as a medium for passing data between containers).  (cc @savitaashture @markusthoemmes )

I think at this point it is mostly a question of bandwidth.  I know @JRBANCEL mentioned this on our call Weds, so maybe he is int

[2020-04-02 16:31] #3492 closed

[2020-04-02 16:41] vagababov commented on #6112
remove-lifecycle rotten

[2020-04-02 16:41] vagababov commented on #6112
/remove-lifecycle rotten

[2020-04-02 16:42] vagababov commented on #7440
`istio-ingressgateway-66c8bbb77b-j99j6   1/2     Running   0          45h`
This is not good. Can you describe that pod to see what's not running?

[2020-04-02 18:01] JCzz commented on #7440
@vagababov

Right

First, istio-system pods:
[code]

**istio-ingressgateway-66c8bbb77b-j99j6**
[code]

**pods istio-security-post-install-1.5.1-gldz9**
[code]

[2020-04-02 18:16] vagababov commented on #7440
`  Warning  Unhealthy  2m11s (x94307 over 2d4h)  kubelet, gke-awear-mini-default-pool-15a06374-dftr  Readiness probe failed: HTTP probe failed with statuscode: 503`

Well your ingress is unhealthy...

[2020-04-02 18:19] ZhiminXiang commented on #6661
This has been fixed by https://github.com/knative/serving/pull/6439

[2020-04-02 18:19] #6661 closed

[2020-04-02 18:48] JRBANCEL commented on #4307
Definitely, as this has been asked quite a bit already. Let's finish the Downward API work first though🚀 .

[2020-04-02 19:12] mpetason commented on #6520
I did some testing but wasn't able to find where the traffic comes from after it gets cut over from the activator. I tested out a few different sources, but the main one I tested was istio-ingressgateway.

Here's the Network Policy that I thought would work:

[code]

Activator Traffic
[code]

Test steps - changed target-burst-capacity to 0 so the activator would be removed from the path after ther

[2020-04-02 19:59] vagababov commented on #6520
To be precise: `Victor recommended changing minScale=1 instead`: in addition to tbc=0 apply `minScale=1`

[2020-04-02 21:53] AceHack opened #7476 "Cannot set "iam.amazonaws.com/role" pod annotation"
/area API
/kind spec

## What version of Knative?
0.13.x

## Expected Behavior

The ability to set pod annotations, specifically the iam.amazonaws.com/role so I can assume AWS IAM roles.  Without this, there is no way to talk to external services with Kube2IAM https://github.com/jtblin/kube2iam

## Actual Behavior

No way to set a pod annotation.

[2020-04-02 22:15] mattmoor commented on #7476
When I wanted to run workloads with a particular role on EKS what I did was:
[code]

This example is from playing with running `kaniko` under Tekton to push to ECR, but it should work for the service accounts that Knative pods run as too.

[2020-04-02 22:16] mattmoor commented on #7476
I haven't played with kube2iam or kiam given the built-in alternative on EKS.

[2020-04-02 23:10] AceHack commented on #7476
I'm trying to push our cluster admin to enable the service account option since it's official from Amazon but we started with Kube2IAM before AWS had the service account solution, so he has been reluctant to make the change.  It will also require him to go through another security review to change the way we do IAM roles and that also makes him reluctant because our security team pushes back on mo

[2020-04-02 23:19] tcnghia opened #7482 "Move KIngress API to knative/networking"

[2020-04-03 00:01] #5930 closed

[2020-04-03 01:45] mattmoor commented on #6421
/remove-lifecycle stale

[2020-04-03 04:11] mattmoor commented on #7476
@AceHack I see the annotation show up on my Pod when I put it here:

[code]

From the resulting Pod:
[code]

[2020-04-03 08:49] mgencur commented on #7421
Here's a little info about the two failures so far:
Run 1245051031092465664:
The pizzaplanet test service gets two revisions created but the latesCreatedRevision never becomes the latestReadyRevision. Both have `lastPinned` annotations and both also have a route assigned via the label. And this doesn't change for 10 minutes so the test timeouts. Looks like a race condition in the Revision controll

[2020-04-03 08:52] mgencur commented on #7421
I'll send a little fix to the test but it might only fix the first issue. Right now the test creates the first revision without waiting for the leader to be elected. We want this to be stable so I'll create the service after the leader has been elected.

[2020-04-03 09:02] mgencur commented on #7421
Sent https://github.com/knative/serving/pull/7484 as an attempt to fix the failure from run 1245051031092465664

[2020-04-03 10:48] nak3 opened #7486 "System pods using shared main always fails to start first time on Mesh mode due to network connection error"
## What version of Knative?

HEAD(443f4b233db67ac14669fe2c2c844d115b0cc6fe)

## Expected Behavior

Pod always should not fail to start start.

## Steps to Reproduce the Problem

0. Deploy Serving with Istio sidecar enabled env.
1. Restart one of pods which is using shared main pod

(e.g. webhook)

[code]

## Actual Behavior

The pod's "RESTARTS" count is alywas `2`.

[code]

This is because it fai

[2020-04-03 10:50] nak3 opened #7487 "default-domain always fails on Istio sidecar enabled env"
## What version of Knative?

HEAD(443f4b233db67ac14669fe2c2c844d115b0cc6fe)

## Expected Behavior

default-domain should not fail.

## Steps to Reproduce the Problem

0. Deploy Serving with Istio sidecar enabled env.
1. Deploy default-domain pods.

## Actual Behavior

default-domain always fails on Mesh mode

[code]

This is because it failed to get configmap.

[code]

This is similar to https://g

[2020-04-03 11:49] havard024 commented on #7271
I don't think there are any specific requirements to `reporting_host`, it is used if a jaeger client needs to send data to a remote jaeger collector. It can be configured as an ip address or domain.

A jaeger collector is a service that receives UDP traffic from jaeger clients and forwards it.

I believe the third option is a good way to solve it, though I've found indicators that exposing the jae

[2020-04-03 12:05] #7457 closed

[2020-04-03 12:05] #7458 closed

[2020-04-03 12:05] #7070 closed

[2020-04-03 12:05] #7459 closed

[2020-04-03 12:06] knative-test-reporter-robot opened #7488 "[flaky] test/conformance/ingress.TestPathAndPercentageSplit"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestPathAndPercentageSplit
* **Repository name**: serving

[2020-04-03 12:06] #7456 closed

[2020-04-03 12:06] #7219 closed

[2020-04-03 12:06] #7074 closed

[2020-04-03 12:06] #7092 closed

[2020-04-03 12:06] #7454 closed

[2020-04-03 12:06] #7453 closed

[2020-04-03 12:06] #7258 closed

[2020-04-03 12:06] #7256 closed

[2020-04-03 12:06] #7424 closed

[2020-04-03 12:06] #7455 closed

[2020-04-03 12:46] concaf commented on #7385
Hi @Sharathmk99, I believe we talked about this on Ambassador Slack and this was resolved.
Link - https://datawire-oss.slack.com/archives/CAULN7S76/p1585130852003000

@nak3 I think we can close this issue.

[2020-04-03 12:53] Sharathmk99 commented on #7385
@concaf Yes we can close. Thank you for your help.

[2020-04-03 12:53] #7385 closed

[2020-04-03 13:25] JCzz commented on #7440
I have no idea how to fix this:
https://github.com/istio/istio/issues/12446

[2020-04-03 19:35] JCzz opened #7492 "Readiness probe failed: HTTP probe failed with statuscode: 503"
**How to fix this - if possible?**

[code]

[code]

**Environment**:
[code]

[code]

Installed from https://knative.dev/docs/install/installing-istio/#installing-istio-without-sidecar-injection:
[code]

[2020-04-03 20:08] tcnghia commented on #7487
@nak3 do subsequent restarts fix the problem?

[2020-04-03 20:12] tcnghia commented on #7450
@shuai-gao-awx Knative share the same proxy for cluster-internal access, across namespaces.  As a result, when requests come to that proxy the proxy can not distinguish between namespaces.

So yes, this is a known issue and we currently don't have a way to work around that.

[2020-04-03 20:53] vagababov commented on #7492
This seems like an istio issue. Why is it filed here?

[2020-04-03 22:11] jeffgriffith commented on #7035
did you make any discoveries with this on your own @JCzz ? i'm seeing the same. thought it was because I was port-forwarding but I guess not. in my case the kn route even shows https. (kn 0.13)

[2020-04-03 22:58] nak3 commented on #7487
@tcnghia Yes, I think it should fix the problem and the the best way.
I will send the PR.

/assign

[2020-04-04 03:02] nak3 commented on #7492
Yeah, the helm installation command (I tested same command with you) worked fine on my env. Perhaps it would be better to file the issue against Istio project rather than Knative?

[code]

Also, I wonder that you might get some error logs in `istio-ingressgateway` pod (e.g. `Envoy proxy is NOT ready: "SOME REASON"`), so it is better to check it and find a similar issue ticket in Istio project.

[c

[2020-04-04 04:39] feuyeux commented on #7487
I met the same issue in knative 0.13 and istio 1.5.1, wish it should be fixed soon. And as a workaround, I want to know, how to do this subsequent restart? Thanks!

[2020-04-04 05:25] ZhiminXiang opened #7495 "Auto TLS namespace certificate provision does not work with web browser because of HTTP connection reuse"
## Expected Behavior
Auto TLS with namespace cert provision works with the query from web browser.

## Actual Behavior
Currently when users use namespace level certificate provision feature, they may hit the [Istio issue](https://istio.io/docs/ops/common-problems/network-issues/#404-errors-occur-when-multiple-gateways-configured-with-same-tls-certificate) if they have multiple ksvc under the same

[2020-04-04 05:33] ZhiminXiang commented on #7318
Could you check if the webbook pod is healthy under knative-serving namespace? Is this GKE public or private cluster?

[2020-04-04 05:34] ZhiminXiang commented on #7305
This issue has been fixed in the referenced PR.

[2020-04-04 05:34] #7305 closed

[2020-04-04 09:48] nak3 commented on #7487
@feuyeux You can change the `restartPolicy` to `OnFailure` from `Never` like this https://github.com/knative/serving/pull/7496/files.

By the way, there are some other workarounds for this issue actually like:
- a. Disable sidecar by adding `sidecar.istio.io/inject: "false"` annotation.
- b. Do not use default-domain but just configure it manually :smiley:

[2020-04-04 12:01] #5940 closed

[2020-04-04 12:05] knative-test-reporter-robot opened #7497 "[flaky] test/conformance/ingress.TestMultipleHosts"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestMultipleHosts
* **Repository name**: serving

[2020-04-04 12:05] #7469 closed

[2020-04-04 14:18] JCzz commented on #7492
Thanks

Moved it to Istio: https://github.com/istio/istio/issues/22730

[code]

[2020-04-04 14:18] #7492 closed

[2020-04-04 18:17] #7486 closed

[2020-04-05 00:01] #5706 closed

[2020-04-05 01:39] ZhiminXiang opened #7498 "Label for disabling namespace certificate provision should not contain "internal""
## Describe the feature
Currently users can use label `networking.internal.knative.dev/disableWildcardCert: "true"` onto namespace to disable namespace certificate provision. As this is a public API for external users, we should not include `internal` in the annotation.

This is the similar with https://github.com/knative/serving/pull/7012

[2020-04-05 01:44] ZhiminXiang commented on #7498
Unlike https://github.com/knative/serving/pull/7012, we can make the change backward compatible to support both label `networking.internal.knative.dev/disableWildcardCert` and `networking.knative.dev/disableWildcardCert`

/cc @rmoe

[2020-04-05 02:22] AceHack commented on #7476
Wow that's great, I had seen other posts saying it would not.  Also I finally got my admin to approve the official solution.

[2020-04-05 07:04] ZhiminXiang commented on #7495
In order to resolve this issue, we need to create a wildcard Gateway for a namespace (e.g. "A"), and make all Ingress under namespace "A" bind to the wildcard Gateway per suggestion in the [doc]( https://istio.io/docs/ops/common-problems/network-issues/#404-errors-occur-when-multiple-gateways-configured-with-same-tls-certificate). I prototyped it, and it works.

/cc @tcnghia @nak3 Let me know if y

[2020-04-05 12:01] #5953 closed

[2020-04-05 12:05] #7488 closed

[2020-04-05 12:05] knative-test-reporter-robot opened #7501 "[flaky] test/e2e.TestServiceToServiceCallViaActivator/both-enabled"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestServiceToServiceCallViaActivator/both-enabled
* **Repository name**: serving

[2020-04-05 13:01] shuai-gao-awx commented on #7450
@tcnghia OK I see. Thanks very much!

[2020-04-05 13:01] #7450 closed

[2020-04-06 01:40] mattmoor commented on #6176
/remove-lifecycle stale

[2020-04-06 02:16] feuyeux commented on #7487
@nak3 thanks a lot! It works!

[code]

[2020-04-06 09:56] yuzisun commented on #6081
This is a big blocker when turning on Istio Authorization, https://github.com/kubeflow/kfserving/issues/734#issuecomment-609402766.

[2020-04-06 12:01] #5959 closed

[2020-04-06 12:05] knative-test-reporter-robot opened #7503 "[flaky] pkg/reconciler/route.TestUpdateDomainConfigMap"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestUpdateDomainConfigMap
* **Repository name**: serving

[2020-04-06 12:05] #7497 closed

[2020-04-06 13:04] nak3 commented on #6081
Hi @yuzisun Could you please share all AuthorizationPolicy you used after Victor asked? I can see the deprecated RBC config only.

[2020-04-06 13:10] nak3 opened #7504 "Add e2e test for Istio's Authorization Policy"
## In what area(s)?

/area networking

## Describe the feature

Although we have an e2e test for Authentication Policy, we don't have [Authorization Policy](https://istio.io/docs/reference/config/security/authorization-policy/).
It should be added to avoid the issue like https://github.com/knative/serving/issues/6081 and https://github.com/knative/serving/issues/6122.

/assign

[2020-04-06 13:41] nak3 opened #7507 "Use PeerAuthentication and RequestAuthentication for mTLS and auth policy config"
## In what area(s)?

## Describe the feature

Istio 1.5 introduced them and we should use it instead of `Policy`. (It is still compatible, though.)

Ref: https://istio.io/news/releases/1.5.x/announcing-1.5/upgrade-notes/#authentication-policy

/assign

[2020-04-06 13:52] nak3 commented on #6122
Yeah, if we allowed `knative-serving` for the access, the config @yolocs shared works fine.

[code]

__But__  the following RBAC does not make sense actually because the access to Knative's cluster-local services pass through proxy.

[code]

[2020-04-06 15:11] felix-meissner opened #7512 "Update Knative-Serving vendored packages to align with recent Istio release"
## What version of Knative?

v0.13.2

## Expected Behavior

In our cluster setup, we are running the most recent version of Knative Serving v0.13.2 together with Istio 1.5.1. We have custom controllers in place (based upon kube-builder) that reconcile custom virtual services related to host management.

When a reconcile gets triggered, we would expect all virtual services created by Knative servin

[2020-04-06 16:49] bsideup commented on #1185
Update: I wrote a blog post explaining the motivation & the `domainTemplate`-based solution:
https://bsideup.github.io/posts/knative_custom_domains/

[2020-04-06 16:53] vagababov commented on #6176
Anyone interested in implementing this, btw? I have most of the design complete, but it's not 100% ready :)

[2020-04-06 18:08] AceHack commented on #7476
Can you show me what your aws policy looks like?

[2020-04-07 00:53] shashwathi commented on #7498
/assign

[2020-04-07 10:10] nak3 commented on #7253
/close

This is now fixed.

[2020-04-07 10:10] #7253 closed

[2020-04-07 10:25] nak3 commented on #6980
/close

Fixed by https://github.com/knative/docs/pull/2240.

[2020-04-07 10:25] #6980 closed

[2020-04-07 17:05] evankanderson commented on #7442
We're going to track this in https://github.com/knative-sandbox/operator/issues/3 and address it comprehensively rather than on a per-repo basis.

[2020-04-07 17:05] evankanderson commented on #7442
/close

[2020-04-07 17:05] #7442 closed

[2020-04-07 17:10] evankanderson commented on #7444
We're going to track this in https://github.com/knative-sandbox/operator/issues/5 and address it comprehensively rather than on a per-repo basis.

/close

[2020-04-07 17:10] #7444 closed

[2020-04-07 17:11] evankanderson commented on #7443
We're going to track this in https://github.com/knative-sandbox/operator/issues/4 and address it comprehensively rather than on a per-repo basis.

/close

[2020-04-07 17:11] #7443 closed

[2020-04-07 19:38] JCzz opened #7529 "Doc bug: simple link not found for "using-auto-tls""
In the documentation from:
https://knative.dev/v0.13-docs/serving/using-cert-manager-on-gcp

"Enabling automatic TLS certificate provisioning"
The link(https://knative.dev/v0.13-docs/using-auto-tls) is not working, error message:
[code]

This works, and hopefully for Knative v0.13:
https://knative.dev/docs/serving/using-auto-tls/

[2020-04-08 01:15] nmnellis opened #7533 "Support Istio/Envoy grpc_json_transcoder"
## Describe the feature

Support Istio envoyfilter grpc_json_transcoder to allow grpc or json rest requests on the same port. Currently this does not seem work based on some of the networking setup by knative

Related:
https://github.com/knative/serving/issues/7140

[2020-04-08 03:17] Cynocracy commented on #5972
/remove-lifecycle stale

[2020-04-08 12:05] knative-test-reporter-robot opened #7538 "[flaky] pkg/queue.TestReporterReport"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/queue.TestReporterReport
* **Repository name**: serving

[2020-04-08 12:05] #7501 closed

[2020-04-08 12:05] knative-test-reporter-robot opened #7539 "[flaky] pkg/queue.TestReporterReport/reportingPeriod=10s"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/queue.TestReporterReport/reportingPeriod=10s
* **Repository name**: serving

[2020-04-08 14:13] dprotaso commented on #6984
Seems like this will be available in the following K8s releases ([source](https://github.com/kubernetes/sig-release/blob/master/releases/patch-releases.md))

[1.15.12](https://github.com/kubernetes/kubernetes/pull/89005) - release date - 2020-04-16
[1.16.9](https://github.com/kubernetes/kubernetes/pull/89004) - release date - 2020-04-16
[1.17.5](https://github.com/kubernetes/kubernetes/pull/89003)

[2020-04-08 14:15] dprotaso commented on #6984
Moving this out to the next release given our 0.14 release is April 14.

[2020-04-08 14:16] mattmoor commented on #6984
Well the problem change that bumped the generation is now in the baseline for the upgrade test.  Lemme see if I can just update it now.

[2020-04-08 14:19] dprotaso commented on #6984
it's back

[2020-04-08 16:29] vagababov commented on #7260
@markusthoemmes are you looking at this one for 0.14, or we push it out?

[2020-04-08 16:45] vagababov commented on #7155
Anything happening here?

[2020-04-08 16:46] vagababov commented on #6717
/close

[2020-04-08 16:46] #6717 closed

[2020-04-08 16:47] vagababov commented on #6619
The document has been passed to the Docs WG for "productioning"
I am going to close this one out.

[2020-04-08 16:47] vagababov commented on #6619
/clsoe

[2020-04-08 16:47] vagababov commented on #6619
/close

[2020-04-08 16:47] #6619 closed

[2020-04-08 16:49] vagababov commented on #6134
/assign @taragu

[2020-04-08 16:49] markusthoemmes commented on #7260
I'll try to do it tomorrow. If I can't get to it by then, we can push out.

[2020-04-08 16:49] vagababov commented on #6133
/close

[2020-04-08 16:49] #6133 closed

[2020-04-08 18:06] dprotaso commented on #7140
cc @tcnghia @evankanderson

[2020-04-08 18:07] dprotaso commented on #7140
This topic came up at the API WG meeting (2020-04-08) see notes & recording [here](https://docs.google.com/document/d/1NC4klOdNaU-N-PsKLyXBqDKgNSHtxCDep29Ta2b5FK0/edit#heading=h.6kawfluwnpt8)

[2020-04-08 18:46] taragu commented on #7155
I apologize for the lack of updates here. @MIBc not quite since we will need to use a fake http scraper here. The point of this benchmark is to see how fast scraping goes if the requests land randomly on any of the pods. We do currently have metrics in place for more realistic stats https://github.com/knative/serving/blob/088ae55df460ebe0e5d86a4c302371bc1f548069/pkg/autoscaler/metrics/stats_scrape

[2020-04-08 19:35] dprotaso commented on #6265
@ysjjovo I'm going to close this out - if you have any updates with specific steps that reproduce this error feel free to re-open.

[2020-04-08 19:35] #6265 closed

[2020-04-08 23:07] ZhiminXiang commented on #7306
This issue was fixed by the referenced PR.

[2020-04-08 23:07] #7306 closed

[2020-04-09 12:04] knative-test-reporter-robot opened #7549 "[flaky] test/conformance/ingress.TestRetry/period=6,attempts=6"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestRetry/period=6,attempts=6
* **Repository name**: serving

[2020-04-09 12:04] knative-test-reporter-robot opened #7550 "[flaky] test/conformance/ingress.TestRetry/period=4,attempts=3"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestRetry/period=4,attempts=3
* **Repository name**: serving

[2020-04-09 12:04] knative-test-reporter-robot opened #7551 "[flaky] test/conformance/ingress.TestRetry/period=8,attempts=8"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestRetry/period=8,attempts=8
* **Repository name**: serving

[2020-04-09 12:04] knative-test-reporter-robot opened #7552 "[flaky] test/conformance/ingress.TestRetry/period=4,attempts=4"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestRetry/period=4,attempts=4
* **Repository name**: serving

[2020-04-09 12:20] mgencur commented on #7421
Hopefully, the latest flake will be fixed by https://github.com/knative/serving/pull/7484 . It is same as the first issue from the [comment](https://github.com/knative/serving/issues/7421#issuecomment-608314823) above

[2020-04-09 13:45] mgencur commented on #7067
I can see from the events from the last failed run that the Pod that is started in this test really fails: with `Back-off restarting failed container` but the Revision doesn't get an update about this failure for a long time until the test timeouts. The revision remains in Unknown state.

[2020-04-09 14:44] rlopez4 opened #7554 "Updating placeholder k8s services fails with Service is invalid: spec.clusterIP: Invalid value: """
/area API
/kind process

## What version of Knative?

0.13.x

## Expected Behavior

Route reconciliation to successfully complete when updating placeholder k8s services.

## Actual Behavior

Route reconciliation makes it as far as marking the ingress ready on the route. Reconciliation fails after `Updating placeholder k8s services with ingress information`.  This is the event logged:
[code]

## St

[2020-04-09 18:42] vagababov commented on #7021
/close
this is complete

[2020-04-09 18:42] #7021 closed

[2020-04-09 21:36] db306 commented on #7101
This doesn't seem to work for me :( is there anything else we need to update ?

[2020-04-10 00:01] #5821 closed

[2020-04-10 00:01] #5950 closed

[2020-04-10 01:06] nak3 commented on #7529
Hi @JCzz Thank you for your report.
As you also explained, it must be a docs issue. So, would you mind opening the issue against docs repo - https://github.com/knative/docs/issues ?

[2020-04-10 01:39] duglin commented on #7101
make sure you're updating the configMap entry and NOT the comment that looks like an entry but is really indented 2 more spaces.

[2020-04-10 02:33] nak3 commented on #7512
Aside from Istio version alignment, the VirtualService error is a bug that serving used the deprecated field as you also mentioned. It was fixed by https://github.com/knative/net-istio/issues/53 https://github.com/knative/net-istio/pull/54 and will be included in the next release(serving v0.14).
So, I wonder that updating the packages vendored by knative-serving solved your issue but it is because

[2020-04-10 04:50] JRBANCEL opened #7556 "Ownership check and asynchronous garbage collection"
During reconciliation, the Knative reconcilers check that if an object they want to create/update already exist, it is owned by the object triggering the reconciliation. If they don't, they fail.

I am wondering if this is a standard way to operate to avoid overwriting an object that is not created by Knative or if we could do something different (always overwrite for example).

I am asking becaus

[2020-04-10 05:04] db306 commented on #7101
Yeah this is what it looks like
domainTemplate: "{{.Name}}-{{.Namespace}}.{{.Domain}}"

Should this work straight away? I tried redeploying, modifying existing workload config and it doesn't seem to take this into account

[2020-04-10 05:17] vagababov commented on #7101
Make sure it's unindented.

[2020-04-10 06:01] db306 commented on #7101
Ok, it's super important to remove the **_example** on top of the file. Works like a charm, thank you

[2020-04-10 06:56] dongdan39 opened #7557 "How to test auto scaling of helloworld-go example?"
## Ask your question here:
Hi, Experts,
  Can anybody helps to provide guidelines to how to test auto scaling of helloworld-go example? I successfully deployed knative v0.11 on my kubernetes cluster, and could get the running output of the knative service of "Hello Go Sample v1!". But I'm interested in checking more about auto scaling of the serverless service. Thanks!

Cheers,
Dan

[2020-04-10 07:31] nak3 commented on #7557
Does this docs https://knative.dev/docs/serving/samples/autoscale-go/ help you?

Btw, you should use the latest Knative v0.13 instead of v0.11.

[2020-04-10 07:31] unixfox commented on #6492
/remove-lifecycle stale

[2020-04-10 08:49] jonatasbaldin commented on #7451
I wasn't able to reproduce it again 🤔

Gonna close this for now!

[2020-04-10 08:49] #7451 closed

[2020-04-10 12:04] #7539 closed

[2020-04-10 12:04] #7538 closed

[2020-04-10 12:39] #6726 closed

[2020-04-10 14:14] db306 commented on #7405
@duglin this is great +10000

[2020-04-10 14:47] mattmoor commented on #7405
`domainTemplate` is a Go template, so its power is tremendous.  You could probably mine bitcoins 😉

To borrow a trick from AppEngine's naming scheme (which is very similar to K8s svc and our own)...

AppEngine services are rooted as a domain `project.appspot.com`, and under this you get two components: service and version.

You can address specific versions via `version.module.project.appspot.com`

[2020-04-10 14:49] mattmoor commented on #7405
One thing to be careful about is that you can only elide ns in what I gave when *both* are "default" otherwise you open the possibility for collisions between ksvc names and ns names.

[2020-04-10 16:38] vagababov commented on #7557
As @nak3 said, autoscale-go is a much better application to test scaling.
In addition we suggest `vegeta` as your load generator.

[2020-04-10 18:49] duglin commented on #7405
My concern with this being just at the domainTemplate level is that:
1 - it could lead to very complex templates very quickly as people's needs vary from app to app - and then it becomes unmanageable and error prone to edit
2 - it requires an admin to take some action and it's not something an app (or ns) owner can do themselves.

[2020-04-10 20:25] mattmoor commented on #7405
Claiming hostnames from a shared space generally isn't something I'd expect to happen without operator involvement.  The above was merely a convention operators could employ to make better use of the wasted levels of that space.

Vanity Domains is an entirely orthogonal space to domainTemplate because of this, and I think the model we discussed of having a namespaced resource creating a cluster sc

[2020-04-10 23:26] beriberikix commented on #6492
FYI there's a discussion [here](https://docs.google.com/document/d/13wFFC7vIdB2hkxdyT0dSiGgkZTXCDDBeW_GBPqy9Jy0/edit#heading=h.pag3k3nfj53j).

[2020-04-11 05:17] trtg commented on #7318
@ZhiminXiang This was in a private cluster. The error is pretty terrible- it's not isolated by namespace, so it breaks everything else in the cluster, cronjobs and other things fail because of the webhook issue. I had to strip out all remnants of knative to get the cluster functional again. I will try to replicate again on a new cluster (for my use case it's configured as fully private, i.e. not e

[2020-04-11 06:06] ZhiminXiang commented on #7318
@trtg The GKE private cluster only allows port 443 and 10250, while we use port 8443 for Knative. Could you try the [instruction](https://cloud.google.com/run/docs/gke/setup) to add a firewall to whitelist the port 8443?
This instruction is for Cloud Run, but should also apply here.

[2020-04-11 12:05] #7128 closed

[2020-04-11 12:05] #6752 closed

[2020-04-11 12:05] knative-test-reporter-robot opened #7565 "[flaky] test/ha.TestAutoscalerHPAHANewRevision"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/ha.TestAutoscalerHPAHANewRevision
* **Repository name**: serving

[2020-04-11 12:05] #7129 closed

[2020-04-11 12:05] #7061 closed

[2020-04-11 12:05] knative-test-reporter-robot opened #7566 "[flaky] test/ha.TestActivatorHA"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/ha.TestActivatorHA
* **Repository name**: serving

[2020-04-11 13:11] ffahri opened #7567 "Monitoring Metrics Prometheus yaml should work with other ingress controllers"
## Describe the feature

Currently under Observability plugin there is yaml for prometheus and grafana. But these are expects istio both service accounts and grafana configs.

It should be also works for other ingress controllers with different yamls etc.

[2020-04-11 13:11] ffahri commented on #7567
/kind doc
/kind good-first-issue

[2020-04-11 14:44] howardjohn opened #7568 "Update documentation to Istio 1.5"
/area test-and-release
/kind feature

## Expected Behavior

https://knative.dev/development/install/installing-istio/ directs users to a supported version of Istio.

## Actual Behavior

Users are directed to install an unsupported (1.3) version of Istio

## Additional Info

Please let me know if there are any blockers I can help in getting this done

[2020-04-12 08:07] nak3 commented on #7568
/assign

I will update the docs once https://github.com/knative/serving/pull/7414 is merged. Perhaps, we should have the docs the installation 1.4 and 1.5 both as 1.5 can use `istioctl` but 1.4 still needs `helm`.

[2020-04-12 16:03] mpetason commented on #6520
I asked internally and had a response that might work out as well -

"for this use case wouldn't just allow-from-all to queuePort work - i.e. no need for a from: .. labels at all? that'd block all the other ports, I think, and let queuePort only through - iiuc we're ok with direct access to queuePort from anywhere so that seems to do what we want?"

[2020-04-13 04:00] #6100 closed

[2020-04-13 04:12] tcnghia commented on #6462
@shashwathi yep, closing

[2020-04-13 04:12] #6462 closed

[2020-04-13 04:15] tcnghia commented on #7233
/assign @richterdavid

[2020-04-13 04:16] #6346 closed

[2020-04-13 04:16] tcnghia commented on #6375
@andrew-su can this be closed?

[2020-04-13 04:23] tcnghia commented on #6909
/assign @richterdavid

[2020-04-13 04:24] #6750 closed

[2020-04-13 04:24] #5890 closed

[2020-04-13 04:27] tcnghia commented on #2761
@mpetason  are you active on this ?  Otherwise my colleague @richterdavid could also take a stab at it.

[2020-04-13 04:28] tcnghia commented on #6270
/assign @richterdavid

[2020-04-13 04:35] tcnghia commented on #1910
/assign @richterdavid

[2020-04-13 04:36] tcnghia commented on #2921
@ZhiminXiang is this still relevant?

[2020-04-13 05:09] mpetason commented on #2761
@tcnghia I ended up working on a different issue and didn't assign this one. I'm not working on it.

[2020-04-13 12:03] #7071 closed

[2020-04-13 12:03] knative-test-reporter-robot opened #7571 "[flaky] pkg/reconciler/route.TestUpdateDomainConfigMap/prod-domain.com"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestUpdateDomainConfigMap/prod-domain.com
* **Repository name**: serving

[2020-04-13 12:03] #7063 closed

[2020-04-13 12:03] #7060 closed

[2020-04-13 15:39] tcnghia commented on #2761
/assign @richterdavid

[2020-04-13 16:04] richterdavid commented on #2761
I'm looking into this now.

[2020-04-13 16:35] duglin opened #7575 "add support for a Revision pre-start hook"
## In what area(s)?
/area API

Other classifications:
/kind spec

## Describe the feature
The notion of an application needing to connect to an external service is a common one. In the past Kube had the ServiceBroker project for this, and today there are other projects out there that are working on a similar set of features. That basic idea is that the environment tries to help the app author by c

[2020-04-13 16:48] vagababov commented on #7503
srsly
(ノಠ益ಠ)ノ彡┻━┻

[2020-04-13 16:48] vagababov commented on #7503
Well at least it's not data race anymore 💣

[2020-04-13 20:21] jihuin opened #7576 "ksvc stuck at `RevisionMissing` if created during the knative serving install process"
This issue was also reported in [#397](https://github.com/knative/serving-operator/issues/397) in knative/serving-operator. Creating here because the same issue happens when installing without an operator, and it could be related to a potential bug in knative serving.

## What version of Knative?

## Steps to Reproduce the Problem
1. Install knative serving by running `ko apply -f config/` under t

[2020-04-13 22:33] andrew-su commented on #6375
Do you think it'll be worth adding the path+visibility test as well? Otherwise I think it can be closed.

[2020-04-14 05:40] dongdan39 commented on #7557
Thank you all! I will try with it.

Cheers,
Dan

[2020-04-14 06:11] nak3 opened #7579 "HA tests under test/ha/* frequently timed out"
## In what area(s)?

/area test-and-release

## What version of Knative?

HEAD

## Actual Behavior

https://testgrid.knative.dev/serving#istio-1.5-no-mesh&exclude-non-failed-tests=20
https://testgrid.knative.dev/serving#istio-1.4-no-mesh&exclude-non-failed-tests=20

Istio 1.5 is fails frequently. Istio 1.4 is less frequent but still fails sometime.

[2020-04-14 06:18] markusthoemmes commented on #7579
/cc @mgencur

[2020-04-14 06:35] markusthoemmes commented on #7575
You can specify a ConfigMap/Secret mount with a specific path to an item in the ConfigMap. Pods will only start, once that item becomes available respectively. I don't quite recall if we're supporting that kind of a mount (yet).

That'd be a mechanism that lives purely in K8s, which I'd prefer over a custom mechanism on our side. There's also a concept called `Initializers` in K8s, see https://ahm

[2020-04-14 07:08] mgencur commented on #7579
First step: increase the test suite timeout: https://github.com/knative/serving/pull/7580

[2020-04-14 12:00] #810 closed

[2020-04-14 12:04] knative-test-reporter-robot opened #7583 "[flaky] 1.83% tests failed in repo serving on 2020-04-14 10:10:46 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.83% tests failed in repo serving on 2020-04-14 10:10:46 +0000 UTC
* **Repository name**: serving

[2020-04-14 13:09] duglin commented on #7575
re: configMap - yep I've thought about that and for quick demos it does seem to work. But at some point something gives up waiting. Not sure if its Knative or Kube or both, but I just tried letting it sit for a while and the Ksvc ends up in a "Failed" state eventually, and creating the CM after that time doesn't resurrect it.  So, perhaps KnServing just needs to keep retrying forever?  It might al

[2020-04-14 13:13] markusthoemmes commented on #7575
The exact error messages would be helpful, but I guess this will be the deadline we set on a deployment to become healthy. We only wait for an arbitrary amount of time today until we call failure.

[2020-04-14 13:19] duglin commented on #7575
[code]

Which makes sense.

[2020-04-14 13:37] markusthoemmes commented on #7575
Oh yeah, my point above wasn't about the entire ConfigMap not being there but a key of it missing that explicitly state in the mount config.

[2020-04-14 13:45] duglin commented on #7575
ah, I don't think that would work because the app would still come up and then it would be up to it to watch for the CM entry (and only by vol mount, not env vars, which some people want to use) and I'd like to make this transparent for the user.

[2020-04-14 17:19] tcnghia commented on #7410
@MIBc are you still active on this work?  Thanks

[2020-04-14 18:10] tcnghia opened #7590 "We need Route documentation in pkg/reconciler/route"
## Describe the feature
Route documentation is very outdated and rightly removed in https://github.com/knative/serving/pull/7585 .  We need new doc to fill the gap.

[2020-04-14 18:32] markusthoemmes commented on #7590
I'd suggest we instead doc it in `/doc/networking` or something similar, to have all the system documentation in a global place.

[2020-04-14 20:05] ZhiminXiang commented on #7307
/assign @ZhiminXiang

[2020-04-14 20:17] #7022 closed

[2020-04-14 21:19] houshengbo opened #7593 "Do we want to keep net-istio.yaml within serving.yaml, and how to retrieve it if we do?"
## What version of Knative?

## Expected Behavior
All resources in serving.yaml should be tagged with the same label for `serving.knative.dev/release`.

## Actual Behavior
Our released serving.yaml, e.g. https://github.com/knative/serving/releases/download/v0.14.0/serving.yaml, has 12 resources at the bottom from net-istio.yaml with different labels.

The question is whether we decide to keep the

[2020-04-14 21:21] houshengbo commented on #7593
@mattmoor @evankanderson @chaodaiG @chizhg

[2020-04-14 21:38] mattmoor commented on #7593
My $0.02 is that we simply stop releasing bundles.  This is our second release on the new install instructions and those don't reference serving.yaml at all.

[2020-04-14 21:47] chaodaiG commented on #7593
@chizhg , we need to make default installation consistent with public instructions

[2020-04-14 22:02] tcnghia commented on #7593
+1 on unbundling to match with public install instructions.

[2020-04-15 00:40] vagababov opened #7596 "Last Pod Scaledown Timeout"
Currently we have the `scale-to-zero-grace-period` flag. But it's original purpose has been to avoid scaling to 0 before the network is reprogrammed. So over the time we spent quite some effort to make sure this number can be reduced or even made 0, in some cases (and it is if the revision has been backed by activator for that amount of seconds, as been requested before).

Unfortunately the docume

[2020-04-15 01:16] MIBc commented on #7410
no

[2020-04-15 04:27] #7498 closed

[2020-04-15 08:52] #6666 closed

[2020-04-15 10:12] nak3 opened #7599 "Kingress created manually can trigger the controller's reconcile"
## In what area(s)?

/area API
/kind spec

## What version of Knative?

HEAD

## Expected Behavior

Genral users should not create Kingress or internal resources.

## Actual Behavior

Currently anyone can create Kingress manually and let the controller reconcile it.
So, we can impersonate other URLs or make duplicated URL easily.

For example, following Kingress created in `default` ns. It can
get

[2020-04-15 12:04] #7250 closed

[2020-04-15 12:04] knative-test-reporter-robot opened #7601 "[flaky] test/conformance/ingress.TestGRPCSplit"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestGRPCSplit
* **Repository name**: serving

[2020-04-15 13:11] jeremiaswerner commented on #7294
@JRBANCEL do you have a strategy/proposal or an idea in your mind how the probing could be improved? or do you have a pointer where proposals are being discussed which we could attend? thanks a lot in advance!

[2020-04-15 15:08] houshengbo commented on #7593
The problem knative operator faces is that it needs to have a manifest file for serving.yaml to be installed.

Even if in future, when we decouple the tight association between operator and knative components, we still need to allow the users to specify the link of manifest file to be installed.

The serving.yaml is so far what operator directly picks. If we do not release this file any more, oper

[2020-04-15 15:08] #7599 closed

[2020-04-15 17:24] houshengbo commented on #7593
serving-core.yaml actually contains the content of serving-crd.yaml.
Do we remove the crds away from serving-core.yaml, or still keep them in core?

[2020-04-15 18:50] mgencur commented on #7421
Sent PR to fix today's failure: https://github.com/knative/serving/pull/7608

[2020-04-15 19:42] ahmetb commented on #5732
/lifecycle frozen
as it's needed.

[2020-04-15 22:20] JRBANCEL commented on #7294
Probing being O(# of hosts) is a problem.

I explored the idea of fetching the configuration from the Envoy Pods directly, but it was more complicated than expected, see https://github.com/knative/serving/issues/6829#issuecomment-589815900.

It is still an open problem.

[2020-04-15 22:23] vagababov commented on #7294
Can we just do a confidence interval selection as we do for metrics?

[2020-04-16 01:21] mattmoor commented on #4480
I think that we should be shipping a default PSP.  It should be harmless for environments that aren't enforcing it, and very useful for installing into environments that require one.

Here are the docs on enabling this for GKE: https://cloud.google.com/kubernetes-engine/docs/how-to/pod-security-policies#enabling_podsecuritypolicy_controller

I'm happy to put together PSPs for the components we shi

[2020-04-16 01:22] mattmoor commented on #4480
cc @chaodaiG @chizhg How hard would it be to enable this in our e2e test environments?

[2020-04-16 01:38] JRBANCEL commented on #7294
@vagababov can you be more explicit 😃 ?

One thing we could do is change the order of the probes.
Today, we create all the probe requests like this:
[code]
which requires O(# Host * # Pods) requests.

But, in the happy scenario, a probe on any `Host` would succeed, therefore, it would be better to do:
[code]

This way is becomes O(# Pods) which is optimal.

Going one step further: why do we need t

[2020-04-16 02:40] chizhg commented on #4480
With the current infra it would be pretty easy, just changing https://github.com/knative/serving/blob/master/test/e2e-tests.sh#L39 to `initialize $@ --skip-istio-addon --cluster-creation-flag  "--enable-pod-security-policy"` would work.

[2020-04-16 03:14] mattmoor commented on #4480
Awesome 😍

[2020-04-16 03:46] mattmoor commented on #4480
I'm attempting to make the e2e legs here use this to test it out: https://github.com/knative/net-contour/pull/107

[2020-04-16 11:00] zehuaiWANG opened #7613 "why not use go mod?"
why not use go mod but `vendor`?

[2020-04-16 12:04] knative-test-reporter-robot opened #7615 "[flaky] 2.45% tests failed in repo serving on 2020-04-16 10:10:46 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 2.45% tests failed in repo serving on 2020-04-16 10:10:46 +0000 UTC
* **Repository name**: serving

[2020-04-16 13:54] jeremiaswerner commented on #7294
@JRBANCEL Thank you for the quick response and the ideas. These improvement make sense from my poor knowledge on the system and what we learned on probing while debugging the problem.

In our case it would indeed be sufficient to only probe single host, but we may take other scenarios in mind.

Since today's meeting is on a bit short notice for my colleagues, I would like to suggest we do some inv

[2020-04-16 15:22] mattmoor commented on #4480
Sounds like PSPs are out and OPA/Gatekeeper is the new hotness: https://www.youtube.com/watch?v=SFtHRmPuhEw&feature=youtu.be&t=920

[2020-04-16 17:56] SachinVarghese opened #7621 "Add custom labels to k8s pod created by a kservice"
Can I add custom labels to k8s pod created by a kservice?

Found a similar relevant issue on knative eventing https://github.com/knative/eventing/issues/1678 also unanswered.

[2020-04-16 18:10] salanki commented on #810
I'd like this.

[2020-04-17 00:38] JRBANCEL commented on #7294
/assign

[2020-04-17 01:55] #7294 closed

[2020-04-17 03:37] nak3 commented on #7621
Hi @SachinVarghese

Yes, you can add custom labels in `spec.template.metadata`. For example, when you created this ksvc:

[code]

The pod created by ksvc has the label.

[code]

I hope this is what you expected.

[2020-04-17 03:41] nak3 commented on #7613
Hi @zehuaiWANG Thank you for opening this. The discussion is ongoing here https://github.com/knative/serving/issues/3368.
So could you please track it? I am closing this ticket.

/close

[2020-04-17 03:41] #7613 closed

[2020-04-17 07:51] jeremiaswerner commented on #7294
@JRBANCEL wow, awesome!! These are really great numbers showing in https://github.com/knative/net-istio/pull/67.

Thanks a ton for that quick resolution 🎉

[2020-04-17 08:15] tshak commented on #7159
This issue is resolved for me. After ensuring that the Istio Operator is installing the `cluster-local-gateway` with the `istio: cluster-local-gateway` label. The label is critical as Knative uses this label selector to associate the gateway.

Kubernetes: `v1.15.11`
Knative: `v0.14.0`
Istio: `v1.5.1`

I recommend closing this issue.

[2020-04-17 08:33] SachinVarghese commented on #7621
Hello @nak3. yes, this should work. Thanks

[2020-04-17 08:33] #7621 closed

[2020-04-17 12:26] nak3 opened #7630 "waitForActivatorEndpoints always time out when activator has only 1 pod"
## In what area(s)?

/area autoscale

## What version of Knative?

Build on 1327c48bf76bf5be5b1b81e3dfd366d480dbd806

## Actual Behavior

This condition always fails when activator pod is only 1:

https://github.com/knative/serving/blob/1327c48bf76bf5be5b1b81e3dfd366d480dbd806/test/e2e/e2e.go#L143

Because the NumActivators is always more than 2 as `MinActivators = 2`.

[code]

But endpoint addres

[2020-04-17 14:19] JCzz commented on #7529
Done: https://github.com/knative/docs/issues/2399

[2020-04-17 14:19] #7529 closed

[2020-04-18 01:47] #7630 closed

[2020-04-18 12:03] knative-test-reporter-robot opened #7641 "[flaky] pkg/activator/net.TestThrottlerSuccesses/spread_podIP_load"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestThrottlerSuccesses/spread_podIP_load
* **Repository name**: serving

[2020-04-18 12:03] knative-test-reporter-robot opened #7642 "[flaky] pkg/activator/net.TestThrottlerSuccesses"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/net.TestThrottlerSuccesses
* **Repository name**: serving

[2020-04-18 12:03] knative-test-reporter-robot opened #7643 "[flaky] pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap
* **Repository name**: serving

[2020-04-18 12:03] #7601 closed

[2020-04-18 12:03] knative-test-reporter-robot opened #7644 "[flaky] pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/prod-domain.com"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/prod-domain.com
* **Repository name**: serving

[2020-04-18 12:03] knative-test-reporter-robot opened #7645 "[flaky] test/upgrade.TestBYORevisionPreUpgrade"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestBYORevisionPreUpgrade
* **Repository name**: serving

[2020-04-18 16:58] vagababov commented on #7641
This should be fixed by #7639.

[2020-04-18 17:54] Sharathmk99 commented on #6971
@shashwathi facing same error. I'm using Ambassador as Ingress.
Ambassador version: 1.3.1
Knative Version: 0.13.0

Events,

[code]

[2020-04-18 17:56] Sharathmk99 commented on #6705
Facing same error. I'm using Ambassador as Ingress.
Ambassador version: 1.3.1
Knative Version: 0.13.0

Events,

[code]

[2020-04-18 19:04] yuzisun commented on #6081
Kubeflow is still on 1.1.7 so still using the deprecated RBAC. Is it only an issue for deprecated RBAC config?

[2020-04-18 19:11] yuzisun commented on #6201
/remove-lifecycle rotten

[2020-04-18 19:22] markusthoemmes commented on #6971
Does this never resolve itself? The event itself is benign.

[2020-04-18 19:51] Sharathmk99 commented on #6971
@markusthoemmes it resolved after couple of minutes. Any reason we will get this error sometime.

[2020-04-19 05:22] nak3 commented on #6081
No, I guess the deprecated RBAC also has some solutions, but I don't have much time to investigate the deprecated config...
I'm sharing below how we can solve your problem with `AuthorizationPolicy` so could you please find the equivalent config by the deprecated RBAC?

#### step-1. Create test-ns

[code]

#### step-2. Enable RBAC

[code]

#### step-3. Deploy Knative Service

[code]

#### step-4.

[2020-04-19 12:00] #6075 closed

[2020-04-19 12:00] #5866 closed

[2020-04-19 12:03] #6963 closed

[2020-04-19 12:03] #7259 closed

[2020-04-19 19:03] yuzisun commented on #6201
@vagababov @mattmoor Is it ok to increase the constant to 300s? KFServing downloads the ML models from cloud storage before starting up the server, for large models it can take 1~2 minutes to download the model and also we need to account for ~30s for pod start up time, so I think 5 minutes is reasonable, thoughts?

https://github.com/knative/serving/blob/af63abe0d4aaf9ef9999dd46dc8e933d59b980b3/p

[2020-04-19 19:12] mattmoor commented on #6201
Rather than arbitrarily bumping it, let's add a knob to config-deployment?

[2020-04-19 19:40] vagababov commented on #6201
Sure, I can try to squeeze this today/tomorrow.

[2020-04-19 19:43] frittentheke commented on #385
@mdemirhan things in the tracing space have moved AT LOT. With first having OpenTracing as an interface being available to allow plugging in different tracers (Zipkin, Jaeger, ...) there now is the OpenTelemetry project (https://opentelemetry.io/) which is OpenTracing and OpenCensus joining forces and merging all their efforts into a universal tracing framework - including collectors and tracers.

[2020-04-19 19:43] frittentheke commented on #385
/remove-lifecycle rotten

[2020-04-20 00:00] #6073 closed

[2020-04-20 00:25] duglin opened #7650 "Old failing revisions don't scale down timely"
## In what area(s)?
/area autoscale

## What version of Knative?

HEAD

## Problem

[code]
This will create a ksvc where the pod will always crash, so the revision never becomes ready - as expected.
Then we update the ksvc by removing the env var, this will make revision 2 work. And it does, it comes up just fine.

However, revision 1 remains, trying to start for a very long time.
In my testing, r

[2020-04-20 00:40] adriancole commented on #385
as mentioned otel is (barely) beta, and also the only things still mentioned here support the same ingest format emitted by this tool. Why not wait until things stabilize then make a proposal? There's no reason to rush into instability.

[2020-04-20 01:22] nak3 commented on #7529
Thank you!

[2020-04-20 01:41] vagababov commented on #7643
This should be fixed by Markus's last pr #7627.

[2020-04-20 01:41] vagababov commented on #7644
This should be fixed by Markus's last pr #7627.

[2020-04-20 01:41] vagababov commented on #7319
I am failing to reproduce this :|
[code]

[2020-04-20 06:19] markusthoemmes commented on #7650
Current behavior is 2 minutes, because our deployment deadline is 2 minutes. The autoscaler isn't even active in this case IIRC, because the revision (or the deployment more specifically) never becomes ready, if the pods crash consistently.

We'd need to cut short the deployment deadline based on... well what exactly? We can't just use `LatestReady` as the signal because there could be a route poi

[2020-04-20 09:00] jcchavezs commented on #385
OT is in beta, also it is supposed to ingest data from zipkin or jaeger too. I don't think there is a need to introduce yet another unestable API.

[2020-04-20 09:59] zhanggbj commented on #5930
@mattmoor @vagababov
Thank you for the great suggestions. I just came back to update that I've contributed `kn admin` as a pure CLI implementation to manage Serving related configuration and features etc.

- Repo https://github.com/knative/client-contrib
- Proposal (Collecting more feedbacks) https://docs.google.com/document/d/1oD5P4WQZs39GIr_4ezcURgRCuUx8dXrcCi3N7GKmp5c/edit#
- Use Case collectin

[2020-04-20 11:25] frittentheke commented on #385
@adriancole  @jcchavezs to be quite blunt, you are missing my point. This should not be a "vs." discussion.
Certainly keeping Jaeger or Zipkin as an instrumentation of choice is cool. But the point about OpenTelemetry is exactly NOT to have yet another API (see: https://opentelemetry.io/about/) - but one that is stable and universal to save devs from messing up their code with multiple flavors of

[2020-04-20 12:04] #7645 closed

[2020-04-20 13:03] duglin commented on #7650
I guess I was just surprised that we treat an error revision different from a good revision. In the happy path, where rev1 comes up and then I deploy rev2 successfully, I see rev1 terminated after about 60 seconds. So I just assumed that I would see the same behavior even in the case of rev1 having issues.

I think I can guess as to why there's a diff based on how the logic behind the scenes works

[2020-04-20 15:13] adriancole commented on #385
I'm not going to get into a paste link war. I don't believe in the execution, as evidenced by the way the previous two one apis played out, and how the current next one api is going. I don't believe that you can pick something that calls itself a standard and trust its execution blindly. This is probably a difference we have. My opinions are stronger because I've also had to clean up after the con

[2020-04-20 15:17] adriancole commented on #385
frankly speaking this is not "my" project anyway. People can ignore me like they did into the last two cul-de-sacs, and learn this lesson on their own. If the maintainers here desire to run into the fire of a <1.0 library and data format that routinely changes.. intentionally taking away the stability they have now.. in the name of standardization! they can already do that.

To save pain and suffe

[2020-04-20 18:37] yuzisun commented on #6201
Thanks @vagababov @mattmoor !

[2020-04-20 20:23] savitaashture opened #7658 "Modify order of the revision ContainerStatus in sync with Spec"
## Describe the feature

**Background:**

For multi-container support a new field has been added to the revision status which is **containerStatus**
[code]
which contains information of name of a container and digest value of the image.

When we create a knative service with multiple containers
[code]
The containerStatus will be created as shown below
[code]
So here the **Spec part of containers**

[2020-04-21 00:36] vagababov commented on #283
/remove-lifecycle stale
/lifecycle frozen

[2020-04-21 00:36] vagababov commented on #6529
/remove-lifecycle stale

@JRBANCEL — we're doing here anything?

[2020-04-21 00:41] JRBANCEL commented on #6529
Let's try to make the health probe fail less easily, it is the simpler fix.
Instead of only checking if the WebSocket is Ready at the time of probing, we should also consider how long it has been not Ready.

[2020-04-21 02:54] nak3 commented on #7376
/close

This is obsoleted.

[2020-04-21 02:54] #7376 closed

[2020-04-21 08:59] #7579 closed

[2020-04-21 12:04] knative-test-reporter-robot opened #7662 "[flaky] test/conformance/ingress.TestUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/ingress.TestUpdate
* **Repository name**: serving

[2020-04-21 14:19] markusthoemmes opened #7664 "Investigate alternative loadbalancing strategies in the activator."
For CC == 0, the activator currently picks a pod at random. For CC > 0, the activator fills its list of pods, starting from the beginning, going potentially over the entire list of pods, to find one with free capacity.

While that was the implementation that got us out of the gates with activator based loadbalancing, there might be room for improvement here both in the performance of the loadbalan

[2020-04-21 14:20] julz commented on #7664
/assign @julz

[2020-04-21 17:23] vagababov commented on #7664
Since things have changed new year, we might want to try again, I'd be glad to see improvements.

So something about 🐉 🐉🐲 that we learned from the past, to fast-track:
- any random (power of 2 choice, etc without retries) solution will end up with queueing on the QP basically rendering the algorithm useless for CC=1
  - when #pods does not evenly divide #activators this is extremely exacerbated by

[2020-04-21 17:46] ZhiminXiang commented on #7307
It is fixed by https://github.com/knative/net-certmanager/pull/6

[2020-04-21 17:46] #7307 closed

[2020-04-21 19:49] fahadsuhaib commented on #7568
@nak3 Is the docs update done on Istio 1.5?

[2020-04-21 20:43] mdemirhan commented on #385
In ToC & Observability meetings, we decided to offload the responsibility of exporting data to monitoring & logging backends via OpenTelemetry. Going forward, Knative will no longer support Zipkin or Jaeger or any other monitoring solution as part of its release bundle. Instead, we will send all the data to OpenTelemetry agent, and users can then pick their backend of choice as part of their OpenT

[2020-04-21 20:55] evankanderson commented on #385
I think more specifically, we won't be shipping any recommended or example configuration for collecting traces or metrics, and instead we'll rely on cluster configuration for that.

[2020-04-21 20:58] #385 closed

[2020-04-21 22:16] #7504 closed

[2020-04-21 23:06] dprotaso commented on #6984
Re-opening this until our minimum K8s version includes the fix mentioned above

Few reasons
1) We want to pro-actively encourage the use of the [storage version migration job](https://github.com/knative/serving/blob/e1bd60b2e8cae46dec00d939c1860deb4b5f586c/config/post-install/storage-version-migration.yaml) to help migrate our dependency on older API versions. We should run it in our upgrade tests

[2020-04-21 23:58] nak3 commented on #7568
Sorry I am still working on it. But the IstioOperator is already done, so you can install istio 1.5 by using `*-operatior.yaml` under the [third_party directory](https://github.com/knative/serving/tree/e1bd60b2e8cae46dec00d939c1860deb4b5f586c/third_party/istio-1.5.1)

For example, you can install istio 1.5 with minimal setting by:

[code]

[2020-04-22 04:43] vagababov commented on #3064
/remove-lifecycle stale
/lifecycle frozen

[2020-04-22 04:45] vagababov commented on #6604
Ping?
/remove-lifecycle stale

[2020-04-22 08:26] nak3 opened #7672 "RFE: e2e test argument options should be defined as env values"
## In what area(s)?

/area test-and-release

## Describe the feature

The flags defines here:

https://github.com/knative/serving/blob/master/test/e2e_flags.go#L32-L38

are redundant. The values should be defined as env values and `os.Getenv()` gets the value.

For example, `https` option,

1. It is defined as an argument of script `e2e-testh.sh`.

https://github.com/knative/serving/blob/3e920bd98

[2020-04-22 10:12] jonatasbaldin commented on #1185
Added in the docs :D

[2020-04-22 10:55] nak3 commented on #6122
In conclusion, we need to set permissive from `knative-serving` namespace. But access to ksvc always passes through `cluster-local-gateway`, so we need to configure authz for the `cluster-local-gateway` instead.

Here are the example config (rbac.istio.io is deprecated so using AuthorizationPolicy) which used for e2e.

https://github.com/knative/serving/blob/master/test/config/security/authorizati

[2020-04-22 12:04] knative-test-reporter-robot opened #7673 "[flaky] test/e2e/autotls.TestAutoTLS/SelfSignedPerKsvc/Tag_route"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/autotls.TestAutoTLS/SelfSignedPerKsvc/Tag_route
* **Repository name**: serving

[2020-04-22 12:07] markusthoemmes commented on #5573
/remove-lifecycle stale

Still relevant, I'd actually like us to have a discussion about this 🤔

[2020-04-22 16:42] mpetason commented on #6520
Tested this out using a policy that only specifies allowable ports, but allows traffic from anywhere.

Looks like it works when hitting the endpoint from a browser.

It fails when trying to curl from another pod in the environment using the podIP and 8080.

[code]

[2020-04-22 18:02] taragu opened #7682 "Service Initial Scale"
/area API
/area autoscale

Proposal: https://docs.google.com/document/d/1VG1aR9bHsQZbU3hRkMPnKyCcj7loCl5imBu3_EQ3Jdw/edit
## Describe the feature
This issue is evolved from #4098. We'd like to allow operators and users to indicate the initial scale of a new service. We are introducing two operator knobs in `config-autoscaler`:
- `default-initial-scale` identifies the default scale for all new Revi

[2020-04-22 18:20] tcnghia commented on #6520
Can we try adding this and run our integration tests?  If things work fine, we can add an additional test to hit the `queue-proxy` directly and confirm failure.

[2020-04-22 18:53] vagababov commented on #7682
/assign taragu

[2020-04-22 20:49] #6201 closed

[2020-04-22 23:12] JRBANCEL opened #7685 "Check the timeouts in probing"
## What version of Knative?
HEAD

## Issue

It looks like that with the introduction of a custom `http.Transport` (https://github.com/knative/serving/blob/master/pkg/network/status/status.go#L347), the timeouts from https://github.com/knative/pkg/blob/master/network/transports.go#L93 were lost.

@yuzisun reported that they suspect probes can get stuck indefinitely.

We need to double check all the

[2020-04-22 23:21] JRBANCEL commented on #7685
User reported the issue while moving from 0.9 to 0.12, and the mentioned change was in 0.10 so it makes sense.

[2020-04-23 04:47] tcnghia commented on #6122
@nak3 actually in the case there are sidecars injected to the requester's Pod, access to a `ksvc` won't go through `cluster-local-gateway` directly but will go straight to the destination or activator.

[2020-04-23 16:50] mpetason commented on #6520
Since this allows all traffic to the queue-port and only searches for knative revisions, should this be something that is setup during install(config file) instead of for each revision?