[2021-09-27 15:43] markusthoemmes commented on #2721
https://github.com/fluxcd/flagger/issues/903 actually considers this.

[2021-09-27 16:59] vyom-soft commented on #10344
Hello,
I too see the same RevisionMissing
$ oc get routes.serving.knative.dev -n default
NAME        URL                                                              READY        REASON
minserver   http://minserver-default.apps-crc.testing   Unknown   RevisionMissing

[2021-09-27 19:32] noahw3 commented on #12011
Thank you for the detailed response, that's very illuminating.

The pod self-destruct feature sounds fantastic and like it would largely solve my problem. In general I very much agree that the user should have the agency to decide how to configure their setup. They know the use case best and if the start up cost is worth paying. In general any task that takes tens of minuntes, or even hours, proba

[2021-09-28 09:27] julz commented on #12048
Hi @tomasatdatabricks :)

- I think this is indeed _currently_ expected behaviour, after the revision has started once.
- I am indeed hoping to improve this via #4557 as mentioned (actively working on this).
- I believe currently you're right that (for failures after the first activation of the revision) you'd have to drop down to look at pods if a revision stayed in "activating" state for a long

[2021-09-28 10:19] vyom-soft commented on #2598
Hello,
I am seeing the same issue. Here is the revision info:
`Name:         minserver-one-v1
Namespace:    vyom
Labels:       serving.knative.dev/configuration=minserver-one
              serving.knative.dev/configurationGeneration=1
              serving.knative.dev/configurationUID=42de3bec-0a17-498a-a070-75998032b6b7
              serving.knative.dev/routingState=active
              serving.k

[2021-09-28 15:53] tomasatdatabricks commented on #12048
Hi @julz, thanks for the response!

Do you have approximate timeline on #4557? It would be really nice to have this supported by Knative so we don't have to query the pods ourselves.

[2021-09-28 16:05] julz commented on #12048
I don't, but it's also causing pain for us in Code Engine and it's right at the top of my todo list right now

[2021-09-28 16:08] joshua-smith4 commented on #687
@tcnghia Having disabled lifecycle hooks, does knative serving expose some other API that allows pods to perform cleanup before being terminated?

[2021-09-28 16:14] vyom-soft commented on #2216
Hello,
I see the same error.
$ oc logs -f testserver-one-v1-deployment-6b454f955b-xddcd -c queue-proxy
{"severity":"INFO","timestamp":"2021-09-28T10:17:23.8498997Z","caller":"logging/config.go:116","message":"Successfully create
d the logger."}
{"severity":"INFO","timestamp":"2021-09-28T10:17:23.8551836Z","caller":"logging/config.go:117","message":"Logging level set t
o: info"}
{"severity":"INFO",

[2021-09-28 16:15] vyom-soft commented on #2216
$ oc logs -f minserver-one-v1-deployment-6b454f955b-xddcd -c queue-proxy
{"severity":"INFO","timestamp":"2021-09-28T10:17:23.8498997Z","caller":"logging/config.go:116","message":"Successfully create
d the logger."}
{"severity":"INFO","timestamp":"2021-09-28T10:17:23.8551836Z","caller":"logging/config.go:117","message":"Logging level set t
o: info"}
{"severity":"INFO","timestamp":"2021-09-28T10:17:

[2021-09-28 17:11] emaildanwilson commented on #11997
Can a dispatcher route to ksvc's in multiple namespaces?
It would be nice to have namespace in the ref section if possible.

[2021-09-28 17:34] mattmoor commented on #11997
kingress does not support this today (somewhat intentionally).  I wonder whether Gateway APIs allows for this, since Ingress did not.

[2021-09-28 17:49] emaildanwilson commented on #11997
I have not looked at the API entirely but it looks like it does support multiple namespaces. https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.networking.k8s.io/v1alpha2.RouteNamespaces

[2021-09-28 20:33] #11904 closed

[2021-09-29 07:16] evankanderson commented on #11548
https://github.com/knative/docs/pull/4253 and https://github.com/knative/docs/pull/4266 have merged.

Does that seems sufficient? `config-leader-election` and `config-logging` are not covered; I sent https://github.com/knative/docs/pull/4307 to document `config-logging`. `config-leader-election` seems sufficiently complicated + unlikely to directly benefit end users that we may not want to documen

[2021-09-29 08:32] julz commented on #11548
+1 from me to calling this done, at least from a GA perspective, maybe we should spin out a (non-blocking) follow-on to doc config-leader-election at some point, but I don't think we expect the majority of users to need it.

[2021-09-29 12:05] skonto opened #12060 "Report Service/Revision status conditions via a metric"
## In what area(s)?

 /area monitoring

## Describe the feature

This came up as a customer request recently as part of the broader question of how to query Knative Service status (eg. via a rest API). During reconciliation it would be nice to report final condition Ready=true/false. This would be useful in conjunction with the improvements [here](https://github.com/knative/serving/issues/12048) f

[2021-09-29 12:07] #12050 closed

[2021-09-29 12:07] #11983 closed

[2021-09-29 12:07] knative-test-reporter-robot opened #12061 "[flaky] test/e2e.TestGradualRollout"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestGradualRollout
* **Repository name**: serving

[2021-09-29 15:40] khaeghar opened #12063 "Mitigating Cold Start times: Prewarmed pods pool"
/area autoscale
/kind process

## Describe the feature

The feature we wanted to request is to implement a prewarmed pool of pods, so the time used in requesting and launching the pod with the code could be reduced.

The idea would be to have some kind of pool of pods ready to receive a code injection, so the time of the cold start would be only the time that the code takes to be ready. (More or l

[2021-09-29 18:08] shinigambit opened #12064 "Service to service and route creation tests are flaky in k8s 1.22.0 in github-actions"
## What version of Knative?

## Expected Behavior
github-actions e2e tests should pass in k8s 1.22.0 as in previous versions

## Actual Behavior
by opening a PR most of the time the e2e test in `./test/e2e/service_to_service_test.go:140` fails with the following message
[code]
and in a few cases the e2e test in `./test/conformance/api/v1/route_test.go:52` fails with the following message
[code]

#

[2021-09-29 20:31] aaron-arellano opened #12065 "HA leader-election Does not Work when replicas set in Deployment yaml"
## What version of Knative?

## Expected Behavior

Following HA documentation [here](https://knative.dev/docs/serving/config-ha/), I expect HA and leader-election to work not just with the recommended scaling through `kubectl` but also when applying `replicas: 3`  to `controller` and `networking-istio`  `Deployment` `spec` like so..

[code]

Our team deploys knative resources via the published man

[2021-09-30 01:24] #11411 closed

[2021-09-30 01:24] #11248 closed

[2021-09-30 02:23] duglin commented on #12063
Seems to me that if you combine the freeze proxy stuff and https://docs.google.com/document/d/1hmT5RZGkmvXsIqkjoED4_DmFCTdgP1Zme20GfJQlPmc/edit#heading=h.15bvwil8qfsj you should be able to get pretty close to what you're looking for.

[2021-09-30 03:14] shinigambit commented on #12064
When the route test fails it seems to be caused by a race condition, when the route reports ready it doesn't immediately changes the service response to the new revision's but checking the response after the test failed the response is the one expected.

It could be fixed at the test level by changing the `CheckEndpointState` call to `WaitForEndpointState` but I assume the idea is for route ready

[2021-09-30 13:27] jasonaliyetti opened #12069 "queue-proxy does not appear to flush metrics on shutdown"
## What version of Knative?
0.25.0

## Expected Behavior
When configured to use opencensus, the queue-proxy should attempt to flush metrics to the collector endpoint on shutdown.

## Actual Behavior
The queue-proxy does not appear to flush metrics on shutdown.  This leads to missing telemetry.

## Steps to Reproduce the Problem
- Setup knative-serving to use opencensus for request metrics
- Send a

[2021-09-30 14:15] psschwei commented on #12063
Link to the freeze proxy tracking issue: https://github.com/knative/serving/issues/11694

[2021-09-30 15:09] skonto commented on #12069
@jasonaliyetti I read two tickets here:
a) flush metrics (probably use `defer flush(logger)` at queue proxy's main as we do for [activator](https://github.com/knative/serving/blob/b046be8f00a7d3938c68333a1be93451690328b8/cmd/activator/main.go#L127)
b) propagate `metrics.reporting-period-seconds` at the queue side. Straightforward to add as well.
Would you like to work on a PR (I could review it).

[2021-09-30 19:19] dprotaso commented on #7300
I think for the 1.0 efforts we should do this and keeping the backwards compatible

/reopen
/assign @dprotaso

[2021-09-30 21:45] shinigambit commented on #12064
I found some interesting information on the matter, apparently the latest version of Istio used in our kind tests is 1.10.3 according to the images for the pods in the `istio-system` namespace: `docker.io/istio/proxyv2:1.10.3` and `docker.io/istio/pilot:1.10.3`. But according to Istio's [documentation](https://istio.io/latest/docs/releases/supported-releases/#support-status-of-istio-releases) the

[2021-09-30 21:59] shinigambit commented on #12064
Seems like in order to use the supported version of Istio in these tests we need to point the Istio version to the latest version instead of stable as per the changes here knative-sandbox/net-istio/pull/722

[2021-09-30 22:03] shinigambit commented on #12064
/area networking

[2021-09-30 22:21] cardil commented on #9544
I see users might like to use BYO revision name to equal their application version. In that way, they will know what they actually traffic split. It's easy for us, to use default revision numbered version (or even random one from before) as we just do examples and simple demos.

Imagine yourself being in some company, and releasing and deploying new SSO service, that other services and users are c

[2021-09-30 22:27] cardil commented on #9554
/remove-lifecycle stale

It would be cool to have such feature, as developers love DRY rule.

[2021-09-30 23:54] yuzisun commented on #7077
We have been running into an issue on production that a previously `ready` revision went into `not ready` state which then revived an older revision, is that a expected behavior?

[2021-10-01 02:46] dprotaso commented on #11548
I (or if anyone else volunteers) need to do another pass over the docs after we make all the key format consistent - https://github.com/knative/serving/issues/7300

[2021-10-01 06:12] markusthoemmes commented on #9544
It wouldn't help though. The problem in this case is that we're trying to update an **immutable** revision after it being created. If we adopt the naming strategy you suggest, the same issue would be around as the name of the revision with the same label (or image tag or whatever) would stay the same and thus collide in the same ways.

I agree with the description on where BYO names are useful tho

[2021-10-01 08:32] evankanderson commented on #11548
/close

[2021-10-01 08:32] #11548 closed

[2021-10-01 10:46] cardil commented on #9544
One additional idea is that system components could have more permission than user does - meaning we might decide that SB can change a thing that is immutable for user.

Or maybe introduce a mutant revision, and just shift the revision name to it - the underlying revision names could be sequential, and we just apply a proper revision name via label.

[2021-10-01 18:24] jasonaliyetti commented on #12069
@skonto
I did get a response for my second request so I know it went through.

I will try to find some time in the next week to look at the second issue.

[2021-10-01 18:54] jasonaliyetti opened #12073 "queue-proxy not sending some tags on metrics when using opencensus"
## What version of Knative?
0.25.0

## Expected Behavior
Opencensus telemetry from the queue-proxy should include configuration_name, revision_name, service_name tags as [documented](https://knative.dev/v0.25-docs/admin/collecting-metrics/serving-metrics/metrics/#queue-proxy).

## Actual Behavior
When I follow the documented setup for OpenTelemetry Collector and export the metrics using a promethe

[2021-10-01 19:37] jasonaliyetti commented on #12069
Also, I did not force delete or use an ungraceful termination.  I did however have a small timeout set for the revision, I increased this from 5 seconds to 60 seconds.  It looks like the issue still occurs (no metrics), but now the queue-proxy logs look to fully shutdown gracefully.

Looking through the code it looks like the [reporting period may be set to 1 minute](https://github.com/knative/ser

[2021-10-01 22:29] skonto commented on #12069
Cool missed that config part. I am wondering why though flushing does the job I will try to reproduce it next week. Will get back to you here.

[2021-10-02 12:05] #12061 closed

[2021-10-02 18:30] guodongli-google opened #12074 "Report a coding bug about unused result."
## Expected Behavior

At https://github.com/knative/serving/blob/main/test/util.go#L105-L106, the result of function [`kmeta.UnionMaps`](https://github.com/knative/serving/blob/main/vendor/knative.dev/pkg/kmeta/map.go#L30-L41) is not used, and this function has no side effect:
[code]
Function `kmeta.UnionMaps` is used in multiple places including:
[code]

The correct code may be something like:
[c

[2021-10-04 08:13] markusthoemmes commented on #12074
True, correct would be `m.Annotations = kmeta.UnionMaps(m.Annotations, ...`. Or we just ditch the unnecessary copying and just do `m.Annotations[testAnnotation] = t.Name()`. Do you want to send a PR @guodongli-google ?

[2021-10-04 13:23] chmodrs opened #12077 "Service encoding"
Hi,

We are already using knative to deploy our legacy application that have few access and all runnig very well.

But having some trouble with application encoding. When i expose my app with knative service, the encoding in healthcheck its wrong follow exampĺe:

[code]

The correct enconding without knative service is:

[code]

I don't find in knative doc some whay to configure application encodi

[2021-10-04 13:34] julz commented on #12077
Hi @chmodrs - that's an odd looking bug! Could you tell me a little bit more about how to reproduce it? What exactly is returning this health check result? Is it an HTTP request to an endpoint in your app? When you say "application encoding", are you referring to a header you expect to be set, or an environment variable or something like that? Are you able (if possible) to share an example contain

[2021-10-04 14:08] julz commented on #12077
right, it sounds like perhaps there's an expected header or environment variable or something that's not present, but without a bit more information about the problem it's a little hard to investigate. If you're able to reproduce with a simple jboss container (and e.g. determine how jboss generally selects the locale and see whether knative should be doing something that it isn't with regards to t

[2021-10-04 15:44] yuzisun opened #12078 "Knative Serving fallbacks to previous ready revision automatically despite the latest revision was already rolled out"
## In what area(s)?
/area API

## What version of Knative?

The version is old but likely the issue exist in latest version as well.

## Expected Behavior

Once the latest revision was rolled out and got into the "ready" state, knative should never fallback to previous revision automatically.

## Actual Behavior

Revision 2 is rolled out and has been running for almost a month, then there is a sud

[2021-10-04 16:18] yuzisun commented on #12078
/cc @dprotaso @julz @markusthoemmes

[2021-10-05 12:07] knative-test-reporter-robot opened #12087 "[flaky] test/scale.TestScaleToN/scale-200/021-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/021-of-200
* **Repository name**: serving

[2021-10-05 12:07] knative-test-reporter-robot opened #12088 "[flaky] test/scale.TestScaleToN/scale-200/097-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/097-of-200
* **Repository name**: serving

[2021-10-05 12:07] knative-test-reporter-robot opened #12089 "[flaky] test/scale.TestScaleToN/scale-200/028-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/028-of-200
* **Repository name**: serving

[2021-10-05 18:19] evankanderson commented on #8288
/reopen

I'm going to necro this based on some feedback from the [Convention Service](https://docs.vmware.com/en/Application-Live-View-for-VMware-Tanzu/0.1/docs/GUID-convention-service.html) team at Tanzu.

It's not clear why the `port` parameter on `httpGet` and `tcpSocket` probes is forbidden; for good or ill, these fields are separate from the `ports` specification of the container:

Today you

[2021-10-05 18:19] evankanderson commented on #8288
CC @scothis , because he'd complained about it before as well.

[2021-10-05 18:20] evankanderson commented on #8288
/remove-lifecycle stale

[2021-10-06 01:18] nak3 opened #12091 "TestScaleToN fails on GKE 1.21"
## In what area(s)?

/area test-and-release

## What version of Knative?

HEAD

## Expected Behavior

TestScaleToN passes somewhat consistently

## Actual Behavior

TestScaleToN fails pretty consistently

## Steps to Reproduce the Problem

Pleases refer to the CI failure like:

https://testgrid.k8s.io/r/knative-own-testgrid/serving#continuous
https://testgrid.k8s.io/r/knative-own-testgrid/serving#

[2021-10-06 04:26] nak3 commented on #12091
This issue effected on some backport PRs like https://github.com/knative/serving/pull/12082

[2021-10-06 09:57] khaeghar commented on #12063
The idea is good, but it's not exactly what we're looking for.

If I understood correctly, the freeze proxy stuff stops every container that is idle. This means that, if we have a production environment with 150 idle containers, we will hold the memory resources for these 150 containers. It's true that we save the cpu consume usage, but the memory is still an issue, since 150 containers occupy a l

[2021-10-06 10:16] khaeghar commented on #11051
Hi @julz ,

First problem we would encounter is the fact that some microservices has kafka controllers, and are subscribed to a queue. If we use the HTTP POST approach, we would have to migrate all the microservices that uses this controllers to a HTTP Controller, causing a big change in the code of all our applications.

Second problem (more of a concern) is the performance subject. We are not su

[2021-10-06 12:07] knative-test-reporter-robot opened #12097 "[flaky] 1.25% tests failed in repo serving on 2021-10-06 08:00:48 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.25% tests failed in repo serving on 2021-10-06 08:00:48 +0000 UTC
* **Repository name**: serving

[2021-10-06 21:48] carlisia opened #12098 "Support GRPC and HTTP2 without explicit port labeling"
For more info:

[[Public] Knative Support GRPC and HTTP2 without explicit port labeling - Google Docs](https://docs.google.com/document/d/1hnFNd3WLV3b3VyWriWSD3fiKjKfwFrjYy1446dcknKk/edit#heading=h.w7jjl3u4bnhg)

[2021-10-06 21:59] sdhoward opened #12099 "How does an h2c port get configured on ingress?"
/area networking

### Background:

I'm on knative-serving v0.22.2 and kubernetes v1.19.10.

I'm reading a [knative handbook](https://knative.tips/networking/http2/) and trying to reproduce the h2c use case. I have a container listening on port 8080 for incoming h2c connections, and I have added a knative service with the `--port h2c:8080` CLI flag.

### Description:

My ingress, Ambassador, is not

[2021-10-07 00:25] carlisia opened #12100 "Move the Auto TLS feature to Beta/GA"
For more information:

[[Public] Auto TLS launch plan - Google Docs](https://docs.google.com/document/d/1L3Er41Y8PWI_pTP13QdV-YikMd6QqUkJu5XhKFfJwto/edit?resourcekey=0-EZNeRjkq9xLi4nXLFmWVHw#)

[2021-10-07 01:02] mjgallag commented on #11321
@dprotaso should this issue not be kept open either way as a feature request for wildcard domain mappings?

[2021-10-07 06:38] #12098 closed, assigned to nobody

[2021-10-07 08:50] skonto opened #12102 "[DISCUSS] Sidecar vs init containers differences"
This is issue is meant for discussing with the community, sidecar vs init containers semantics/differences, related comment [here](https://github.com/knative/serving/pull/12019#issuecomment-936429643). This discussion would affect among others the k8s validation logic. Right now init containers are considered to have [more freedom](https://github.com/knative/serving/pull/12019#discussion_r71882089

[2021-10-07 09:35] cardil opened #12103 "Inconsistent label/annotations names should follow K8s name conventions (aka. kebab-case)"
Some labels/annotations used in Serving use kebab case like `no-gc` (see: https://knative.dev/docs/serving/revision-gc/#revision-garbage-collection), others use dot separator like `ingress.class` (see: https://knative.dev/docs/developer/serving/services/ingress-class/#using-the-ingress-class-annotation), and others use camel case like `minScale` (see: https://knative.dev/docs/serving/autoscaling/s

[2021-10-07 12:07] knative-test-reporter-robot opened #12107 "[flaky] test/scale.TestScaleToN/scale-200/130-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/130-of-200
* **Repository name**: serving

[2021-10-07 12:07] knative-test-reporter-robot opened #12108 "[flaky] test/scale.TestScaleToN/scale-200/137-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/137-of-200
* **Repository name**: serving

[2021-10-07 12:07] knative-test-reporter-robot opened #12109 "[flaky] test/scale.TestScaleToN/scale-200/144-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/144-of-200
* **Repository name**: serving

[2021-10-07 12:07] knative-test-reporter-robot opened #12110 "[flaky] test/scale.TestScaleToN/scale-200/055-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/055-of-200
* **Repository name**: serving

[2021-10-07 12:07] knative-test-reporter-robot opened #12111 "[flaky] pkg/activator/handler.TestMetricsReported"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/activator/handler.TestMetricsReported
* **Repository name**: serving

[2021-10-07 12:07] knative-test-reporter-robot opened #12112 "[flaky] test/scale.TestScaleToN/scale-200/027-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/027-of-200
* **Repository name**: serving

[2021-10-07 12:07] knative-test-reporter-robot opened #12113 "[flaky] test/scale.TestScaleToN/scale-200/190-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/190-of-200
* **Repository name**: serving

[2021-10-07 12:07] knative-test-reporter-robot opened #12114 "[flaky] test/scale.TestScaleToN/scale-200/008-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/008-of-200
* **Repository name**: serving

[2021-10-07 12:07] knative-test-reporter-robot opened #12115 "[flaky] test/scale.TestScaleToN/scale-200/019-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/019-of-200
* **Repository name**: serving

[2021-10-07 12:07] knative-test-reporter-robot opened #12116 "[flaky] test/scale.TestScaleToN/scale-200/126-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/126-of-200
* **Repository name**: serving

[2021-10-08 07:12] khaeghar commented on #11051
Hi @julz ,

Exactly, we think that both solutions are excellent for a full http based application (Knative) and for a pull-based application (KEDA).

The problem arises when we have an application that uses both http and events. When we have Knative and KEDA together, they fight each other and scales up and down pods based on their metrics, separately, instead of having both of them into account.

[2021-10-08 12:06] #12089 closed

[2021-10-08 14:41] julz commented on #12102
I think I need more specific examples for some of the things in `1` to get my head around them. An init container (as opposed to a sidecar) presumably exits before anything else, so wouldn't be much use for debuggers/metrics etc, or is that assumption incorrect?

[2021-10-08 18:09] duglin commented on #12063
I was wondering if we could go one step further (or some cases) and instead of just injecting something like wasm as needed, we actually swap out the FS (or even just the top layers of the FS) as needed. In essence swap in a new image (or certain layers of it) w/o actually having to rebuild all of the other stuff around it (like the networking).

[2021-10-08 21:08] shinigambit commented on #12064
I've been tracking runs of the e2e tests against different ingresses with a custom workflow in this [PR](https://github.com/shinigambit/serving/pull/2) with this document [here](https://docs.google.com/spreadsheets/d/e/2PACX-1vRt02mwzL1GdQrtWE8QLdezT83V9VOsBsbsVuaKKKxOMz7zYL5FTs9af6cBGA3owwVXUholnoUb20yS/pubhtml)

According to that data although some tests fail in other versions sometimes I think

[2021-10-09 01:39] nak3 commented on #12064
I see  :sweat_smile:  Thank you.

[2021-10-09 08:25] #10098 closed

[2021-10-09 12:05] #12110 closed, assigned to nobody

[2021-10-09 12:05] knative-test-reporter-robot opened #12120 "[flaky] test/scale.TestScaleToN/scale-200/010-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/010-of-200
* **Repository name**: serving

[2021-10-09 12:05] #12107 closed

[2021-10-09 12:05] #12111 closed

[2021-10-09 12:05] #12116 closed, assigned to nobody

[2021-10-09 12:05] #11914 closed

[2021-10-09 12:05] #12108 closed, assigned to nobody

[2021-10-09 12:05] #12109 closed, assigned to nobody

[2021-10-09 12:05] #12112 closed

[2021-10-09 12:05] #12113 closed, assigned to nobody

[2021-10-10 01:23] #11509 closed

[2021-10-10 12:05] #12115 closed

[2021-10-11 08:24] skonto commented on #12102
@julz here is a similar discussion https://github.com/prometheus/prometheus/issues/5563 about including initContainers for Prometheus scraping.

[2021-10-11 12:05] #12120 closed, assigned to nobody

[2021-10-12 08:36] skonto commented on #12102
@markusthoemmes this is wip, the feature is not alpha yet.

[2021-10-12 14:27] skonto opened #12125 "Volume validation should consider mounted volumes coming from both init and regular containers"
## Expected Behavior

When a volume is mounted by a regular container it should not be required to be mounted by the init container too and vice versa. We wrongly not consider the total mounted volumes by each type of containers when we validate them.

## Actual Behavior
A validation error is returned to the user:

## Steps to Reproduce the Problem

Try create a service as follows and user gets th

[2021-10-13 04:31] skycyan commented on #12125
Urgent need for knative to support initContainers.

Because the base image is too large, use a small image when building the code. Then you need to copy the application package to userContainers through initContainers.

Expected example：
[code]

[2021-10-13 07:40] markusthoemmes commented on #10751
A huge chunk of this is done but it needs a little "pushing over the edge" to finish. We were hitting a wall with this when it was discovered that the mesh setup in serving tests maybe wasn't appropriate. I haven't touched it since. What's left is setting it up on the mesh legs and debugging why it doesn't quite work yet.

[2021-10-13 12:05] knative-test-reporter-robot opened #12129 "[flaky] pkg/reconciler/serverlessservice.TestGlobalResyncOnActivatorChange"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/serverlessservice.TestGlobalResyncOnActivatorChange
* **Repository name**: serving

[2021-10-13 15:18] almottier opened #12131 "queue-proxy metrics counter are not initialised to 0"
## What version of Knative?

0.24.x

## Expected Behavior

I would like to get accurate request count and latencies sum for each ksvc using a PromQL query, for example, for requests:

[code]

## Actual Behavior

The above query will return 0 if my service has been called one time because the queue-proxy counters have not been initialised to 0. I will always miss one request if it has been called m

[2021-10-13 21:18] #12125 closed, assigned to nobody

[2021-10-14 00:32] dprotaso commented on #12078
I'm a bit stumped because the selection of the next latest ready revision only looks at revisions newer than the current latest ready revision see [findAndSetLatestReadyRevision](https://github.com/knative/serving/blob/7c6d4bc5f2947c9c488d125685f2243785689e8b/pkg/reconciler/configuration/configuration.go#L135). There's one an exception when the config has an explicit revision name in it's `templat

[2021-10-14 01:00] dprotaso commented on #12078
It's also unclear how the generation would change given the spec can't be changed

https://github.com/knative/serving/blob/7c6d4bc5f2947c9c488d125685f2243785689e8b/pkg/apis/serving/v1/revision_validation.go#L39-L54

[2021-10-15 10:39] skycyan opened #12136 "Setting "timeoutSeconds" does not take effect when 3scale-kourier-gateway+knative"
Setting "timeoutSeconds" does not take effect when 3scale-kourier-gateway+knative

[2021-10-15 10:40] skycyan opened #12137 "Setting "timeoutSeconds" does not take effect when 3scale-kourier-gateway+knative"
When using 3scale-kourier-gateway+knative, setting "timeoutSeconds" does not take effect. Why is this?

Knative : v0.26.0
kourier：v0.26.0

[2021-10-15 12:06] #12129 closed, assigned to nobody

[2021-10-16 12:06] knative-test-reporter-robot opened #12142 "[flaky] pkg/reconciler/revision.TestResolveTimeout"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/revision.TestResolveTimeout
* **Repository name**: serving

[2021-10-16 12:06] knative-test-reporter-robot opened #12143 "[flaky] test/conformance/runtime.TestMustEnvVars"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestMustEnvVars
* **Repository name**: serving

[2021-10-16 12:06] knative-test-reporter-robot opened #12144 "[flaky] _build_tests.Verify_CodeGen"
### Auto-generated issue tracking flakiness of test
* **Test name**: _build_tests.Verify_CodeGen
* **Repository name**: serving

[2021-10-18 06:39] yuvaldolev commented on #10001
Hi @arturenault!
Can I claim this issue if no one else is working on it?

[2021-10-18 12:06] #12142 closed, assigned to nobody

[2021-10-18 12:06] #12143 closed, assigned to nobody

[2021-10-18 14:46] #11834 closed

[2021-10-18 19:30] cardil opened #12149 "ksvc should have ready condition status eq 'False' and reason eq 'ErrorConfig' if failing"
This follow up on #11477. The error message is propagated, but the status isn't fully updated.

## What version of Knative?

`>= v0.24.0`

## Expected Behavior

When error such as dealt in #11477 occurs, the `Ready` condition (probably `RoutesReady` as well) should have status == 'False' and reason == 'ErrorConfig'

Example condition should look like:

[code]
The `kubectl` should report:

[code]

[2021-10-19 12:04] #12144 closed, assigned to nobody

[2021-10-20 01:24] #10792 closed

[2021-10-21 06:08] ediezh commented on #11831
Are there documentation/examples on how to use this feature?

[2021-10-23 12:05] knative-test-reporter-robot opened #12163 "[flaky] test/e2e/initscale.TestInitScaleZero"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e/initscale.TestInitScaleZero
* **Repository name**: serving

[2021-10-24 01:23] #4589 closed

[2021-10-24 08:30] iamjekyun opened #12164 "Safe deletion before creation of ksvc"
## Ask your question here:

Due to our limitations on ci/cd tool, we have to delete the service before creating, in case of updating of any kind of spec. Compared to `kubectl apply -f <ksvc-manifest-file>` or `kn service update` approach, we want to know how much downtime we might suffer.

Wild guess is that due to `Update` behavior in ksvc (https://github.com/knative/serving/issues/11492#issue-91

[2021-10-25 12:05] #12163 closed, assigned to nobody

[2021-10-25 12:05] knative-test-reporter-robot opened #12165 "[flaky] test/scale.TestScaleToN/scale-200/123-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/123-of-200
* **Repository name**: serving

[2021-10-25 12:05] knative-test-reporter-robot opened #12166 "[flaky] test/scale.TestScaleToN/scale-200/132-of-200"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/scale.TestScaleToN/scale-200/132-of-200
* **Repository name**: serving

[2021-10-26 12:06] knative-test-reporter-robot opened #12170 "[flaky] pkg/reconciler/autoscaling/kpa.TestReconcileDeciderCreatesAndDeletes"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/autoscaling/kpa.TestReconcileDeciderCreatesAndDeletes
* **Repository name**: serving

[2021-10-27 12:07] #12165 closed, assigned to nobody

[2021-10-27 12:07] #12166 closed, assigned to nobody

[2021-10-27 12:07] knative-test-reporter-robot opened #12179 "[flaky] pkg/reconciler/nscert.TestChangeDefaultDomain"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/nscert.TestChangeDefaultDomain
* **Repository name**: serving

[2021-10-28 03:22] seunggs opened #12182 "Setting up autoTLS with Knative Serving not working"
## Ask your question here:
OK, I've tried everything I can to get the autoTLS set up for Knative using cert-manager, but despite having a working Certificate, I just can't get it to work properly. I've followed instructions in the documentation and set up my ingress using this sample (i.e. using VirtualService): https://knative.dev/docs/serving/samples/knative-routing-go/

Here's my Knative Certif

[2021-10-28 11:45] nak3 opened #12188 "The status of Route/Ksvc is not updated even when KCert is updated"
## In what area(s)?

/area networking

## What version of Knative?

HEAD

## Steps to Reproduce the Problem

### 1. Deploy Knative with autoTLS.

[code]

### 2. Modify `config-certmanager` with the invalid value

__Note:__ This is a simple step to produce the issue. The same issue happens with some other reasons like let's encrypt issued the certificates slowly.

[code]

BEFORE:
[code]

AFTER
[cod

[2021-10-29 12:08] #12170 closed, assigned to nobody

[2021-10-29 19:58] seunggs commented on #12182
Hi @nak3 thanks for clarifying this. I can confirm that using the ksvc url directly (e.g. https://api-svc-1635520013.staging.app.sidetrek.com) now works!

But using a manual VirtualService still doesn't work (after adding the https host to the knative-ingress-gateway as per your original instructions) and I'm not sure how to point staging.app.sidetrek.com to this service.

Here's the gw:

[code]

[2021-10-30 09:51] nak3 commented on #12182
Yeah, it could be. I think you can verify if it causes the issue or not by changing the domain `staging.app.sidetrek.com` to the domain which matches to `*.knative-serving.app.sidetrek.com`.

[2021-10-30 12:06] #12179 closed

[2021-10-30 14:02] s-chand commented on #11510
I stumbled on this same issue(This time a simple Node.js sample server that uses the default HTTP server in node). The reason I found in my case was that I was handling ALL requests to the API in the same function. This means for every browser refresh, the browser sends the requests and also sends a GET request for the favicon. I added a routing library (express) and listened on the  / endpoint. I

[2021-11-01 08:29] William-lbn opened #12200 "knative activator keep restarting"
## Ask your question here:
knative : latest version
k8s: 1.22.3

install knative with Operator and current serving （default）

kubectl get deployment -n knative-serving
![image](https://user-images.githubusercontent.com/10280419/139643096-4adb5687-3c6d-47e4-8730-77d2c5d80b45.png)

kubectl get pod -n knative-serving
![image](https://user-images.githubusercontent.com/10280419/139642468-f6816988-ac52-

[2021-11-01 12:06] #11992 closed

[2021-11-01 19:02] psschwei commented on #10978
Not defaulting in a readiness probe would be useful for the container-freezer, as a readiness probe on a frozen container isn't likely to be very useful (and I'm pretty sure it doesn't make sense to wake up a frozen container every second for a probe :) )

[2021-11-01 23:22] paulcwarren opened #12206 "Better support for tilt live update features"
# Context
We are trying to use tilt's live update during the development of a knative service.  During development we run with `minScale`/`maxScale` == 1 configured on a per service basis.

# Problem
Whenever a developer `tilt up`s AND there is a pre-existing knative service out there AND there are also source code changes locally then the tilt deployment will cause a "new revision".  The lengthy

[2021-11-02 01:20] evankanderson commented on #12206
@csantanapr has worked on similar hot-reload development, getting his attention

[2021-11-02 01:24] evankanderson commented on #12206
I'm wondering a few different conditions:

1. Can we scope this to services which have zero traffic? Have you tried ensuring that the container does an `exit(0)` as soon as it receives a SIGTERM? (Do we send a SIGTERM at the right time?)

2. Is there some way we could signal to `tilt` that there is a specific container which can be hot-reloaded and that other containers can be ignored? This feels

[2021-11-02 02:28] William-lbn commented on #12200
knative activator keep restarting  becase my flannel config is wrong, but after solving the problem, new problems appeared.

kubectl get KnativeServing knative-serving -n knative-serving  is not ok

![image](https://user-images.githubusercontent.com/10280419/139776744-0c2e0f72-62fc-42b5-a9b3-0008c2d750d4.png)
![image](https://user-images.githubusercontent.com/10280419/139776827-f50871ad-fea4-4832-

[2021-11-02 02:35] William-lbn commented on #12200
knative must need istio ?

The above error check log

kubectl describe KnativeServing knative-serving -n knative-serving
![image](https://user-images.githubusercontent.com/10280419/139777548-4b5a33d3-7088-4986-91f3-bc975ff031dd.png)

[2021-11-02 02:45] nak3 commented on #12200
Hi @William-lbn You can avoid the issue either by
- Install istio as you guessed
- Use Kourier instead of Istio.

If you use Kourier instead of Istio, you can configure it in `knativeserving` as:

[code]

[2021-11-02 06:22] William-lbn commented on #12200
thanks for you help.

I install Kourier  follow  https://github.com/knative-sandbox/net-kourier#getting-started  and  delete  all pods  but it`s  not  ok.

Configure Knative Serving to use the proper "ingress.class"：

`kubectl patch configmap/config-network \
  -n knative-serving \
  --type merge \
  -p '{"data":{"ingress.class":"kourier.ingress.networking.knative.dev"}}'
`

kubectl delete --all p

[2021-11-02 06:30] nak3 commented on #12200
Oh, no you don't need to install kourier manually if you are still using operator.
And you should follow the stable docs instead of README.md in each repo for the first installation. We have the installation docs https://knative.dev/docs/admin/install/knative-with-operators/ for the installation with operator.

[2021-11-02 06:34] William-lbn commented on #12200
OK，thanks

[2021-11-02 10:25] csantanapr commented on #12206
I used skaffold to do hot reload with Knative you can take a look here https://github.com/csantanapr/ato-2021

With skaffold to do hot reload I reuse the same Pod and same deployment when a change is detected skaffold just copies the files (kubectl cp) into the running container.

Why is tilt creating a new deployment on code change instead of just copy?

[2021-11-02 13:41] evankanderson commented on #12206
It sounds like tilt is doing this when there is a running Pod *and* local changes *and* tilt can't figure out of the existing container supports tilt.

It *also* does this if there is more than one pod running, which can happen if there's a new Revision and an old one is shutting down. (I'm the latter case, it may be safe to `kubectl delete` the pods on their way down and Knative might not spin up

[2021-11-02 13:45] evankanderson commented on #10978
I don't have an intrinsic concern with this on second thought (my first thought was "oop, don't do that"). It does seem like the container-freezer might want to run the startup probe on un-freeze, and would still need to be able to handle containers with an explicit readiness check.

[2021-11-02 16:07] psschwei commented on #11015
Need to write a test for this situation

[2021-11-02 21:02] seunggs commented on #12182
OK, so I've tried a bunch of things and settled on this solution that worked for me.

I created a wildcard cert-manager Certificate called `wildcard-certificate` for `*.sidetrek.com` and added the following to the `knative-ingress-gateway`:

[code]

The gotcha here is that `wildcard-certificate` must be in `istio-system` namespace, NOT `knative-serving` namespace even though `knative-ingress-gatew

[2021-11-02 21:06] #12182 closed

[2021-11-02 23:51] dprotaso opened #12215 "Drop usage of serving.knative.dev/release"
We technically have `app.kubernetes.io/version` label that contains that information

Note: we'll have to drop it's use in some selectors etc.

https://github.com/knative/serving/blob/f1e419a652cb7447734f86fb0af56e07bbe18b56/config/core/webhooks/configmap-validation.yaml#L35-L36

[2021-11-02 23:56] dprotaso commented on #12215
Actually - unclear if we can drop it since serving is shipping networking yamls and it doesn't have the annotation

so this issue is blocked on: https://github.com/knative/networking/issues/552

[2021-11-03 02:03] dprotaso commented on #11712
`kubectl wait pod --timeout=-1s --for=condition=Ready -l '!job-name' -n knative-serving`

Are you passing `-1` seconds to this wait or is that a typo?

[2021-11-03 02:40] dprotaso commented on #2721
Gloo's CLI installs a Knative version that's two years old - I'm not sure what kind of testing they perform but I'm guessing the integration has rotted. I'd open an issue on the gloo github to bump Knative if you're interesting in working with it long term.

Is there anything actionable for us to do in Knative serving? From reading the thread this stood out:

It seems like we should potentially do

[2021-11-03 02:54] dprotaso commented on #5934
This type of e2e test would be useful since there are edge case that we need to exercise

ie. multiple secrets doesn't seem to work
https://github.com/google/go-containerregistry/issues/723

[2021-11-03 03:10] dprotaso commented on #5913
In addition to documentation - there's some potential exploration that might be informative

eg. Right now the revision controller performs digest resolution and creates imagecache resources with the digest. If instead we externalized the tag=>digest resolution this could create a plug point for image processing such as estargz'ing into a cluster local registry.

I'm going to leave this in the Ice

[2021-11-03 03:11] dprotaso commented on #5990
Adding to the next milestone to investigate

[2021-11-03 03:16] dprotaso commented on #6474
@ZhiminXiang it's not clear what the next steps

I'm wondering if we should close our this issue in favour of tracking work in a project board here:
https://github.com/knative/networking/projects

[2021-11-03 04:59] csantanapr commented on #11712
The -1s tells the wait command to wait for ever

[2021-11-03 17:39] dprotaso commented on #12215
Context: https://github.com/knative/community/issues/667

[2021-11-03 19:28] dprotaso opened #12217 "upgrade tests install the wrong istio version on release branches"
## Expected Behavior

Upgrade tests when run on a release branch should install the previous istio version

## Actual Behavior

It installs the latest version

## Details

I noticed this behaviour when updating the function to return the latest istio release https://github.com/knative/serving/pull/12211

[2021-11-03 21:48] dprotaso commented on #5913
GKE added support for this here: https://cloud.google.com/blog/products/containers-kubernetes/introducing-container-image-streaming-in-gke

[2021-11-03 22:01] dprotaso opened #12218 "test"
## Describe the feature

[2021-11-03 22:02] dprotaso commented on #12217
/good-first-issue

[2021-11-04 01:09] obailiumingo opened #12219 "why limit ksvc's volume type and size"
## hello，I have a scene that operating files on the node,  but I found that I cannot add the volume for ksvc, then i found the code bellow and draw in confusing that why limit the type and the size of volume？

https://github.com/knative/serving/blob/main/pkg/apis/serving/k8s_validation.go
[code]

[2021-11-04 06:13] matthiasgubler commented on #12217
/assign

[2021-11-04 06:35] matthiasgubler commented on #12217
@dprotaso do you have additional information about how to reproduce the issue and what's a good point to start on this. I read #12211 and took a look at the regarding PRs, but still not sure what's on exactly

[2021-11-04 08:58] Talha-Altair opened #12221 "Knative Serving Activator Deployment Fails"
Knative Serving Activator Deployment Fails

## What version of Knative?

Activator Image :

gcr.io/knative-releases/knative.dev/serving/cmd/activator@sha256:c54682f20c4758aabd9e9a45805ae382ef9de8a953026a308273fb94b71719d5

`kn version` output:

Version:      v1.0.0
Build Date:   2021-11-02 19:27:09
Git Revision: a1cf5bf8
Supported APIs:
* Serving
  - serving.knative.dev/v1 (knative-serving v0.27.0

[2021-11-04 10:20] julz commented on #12219
Hi @obailiumingo - the [Knative specification](https://github.com/knative/specs/blob/main/specs/serving/knative-api-specification-1.0.md) does not allow all volume types by default because not all volume types are easy to support securely for "as a service" implementations of the Knative API (for example things like Google Cloud Run, IBM Code Engine), and because some volume types do not work very

[2021-11-04 14:29] #12218 closed

[2021-11-05 06:08] nak3 commented on #11325
Closing as https://github.com/knative-sandbox/net-gateway-api started hosting the controller.

[2021-11-05 06:08] #11325 closed

[2021-11-05 09:56] markwinter commented on #11926
@sdhoward
You can see with `kubectl get --watch sks`. You can also check the autoscaler logs

[2021-11-05 10:03] markwinter commented on #11926
We experienced this same bug.

Using default autoscaler options and `minScale: 2`, the SKS kept flipping between proxy and server mode with intermittent requests to a service.

[2021-11-05 10:27] julz commented on #11926
this is indeed the exact problem we were debugging which led us to track the above down.

FWIW we set the default TBC to -1 (activator always in path) in our environments, reserving TBC!=-1 for use cases where a user _knows_ they need the (pretty minor tbh) latency gain of removing activator from path, and have so far seen no issues with that config.

I think I might open a PR to change this defau

[2021-11-05 11:05] khaeghar commented on #11051
@markusthoemmes We were wondering if there's a technical problem with adding more metrics support, specifically for this events metrics. The point would be to have everything in the same place, not having to manage the two systems at the same time (KEDA and Knative) and beign able to use Knative at its fullest. It' great to have this HTTP support, but we think that maybe events like Kafka or Prome

[2021-11-05 11:48] julz commented on #11051
@khaeghar fwiw I'm still struggling a bit to see the problem here. Each of those two containers will be doing one specific thing, so if you scale them seperately you will not need to load Kafka libraries in the HTTP container, or HTTP libraries in the Kafka client container. That means each container will be less complex, need less memory, have less cpu contention, and since they'll each be doing

[2021-11-05 12:25] khaeghar commented on #11051
@julz Two containers with the same image has the same size and libraries. We don't want to separate the actual application in two, since it adds manage complexity (basically we would have another app to manage, and we would be separating the app in two just because of how we scale it, when it should be innocuous for them). If we had two separate apps it could work, but that's not our case.

Since

[2021-11-05 13:43] #10783 closed

[2021-11-05 13:58] julz commented on #11051
(FWIW if you add a simple flag/env variable to your image, you can avoid starting the HTTP server when it's being deployed to read Kafka events, and avoid starting the Kafka client when it's being deployed to serve HTTP. Then each container will not need to load in to memory the HTTP/Kafka libraries, will not need to listen on HTTP/answer Kafka requests, and you will be able to much more accuratel

[2021-11-05 15:57] dprotaso commented on #12217
Yeah sure - our upgrade tests entry point is [./test/e2e-upgrade-tests.sh](https://github.com/knative/serving/blob/main/test/e2e-upgrade-tests.sh) but a lot of the logic comes from [./test/e2e-common.sh](https://github.com/knative/serving/blob/main/test/e2e-common.sh)

 These run on our Prow CI when you open a PR and it does the following:

1. install the latest release of serving
1. install the l

[2021-11-05 21:11] dprotaso commented on #6176
@timothysc mentioned https://github.com/kubernetes-sigs/descheduler

[2021-11-05 23:35] msgurikar opened #12230 "Knative creates extra pod during autoscaling."
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

1.
2.
3.

## Additional Info

I am using Knative service to do C++ grpc service autoscaling.

apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: efp-grpc
  namespace: efp
  labels:
    serving.knative.dev/visibility: cluster-local
spec:
  template:
    metadata:
      name: efp-grpc-latest
      annotation

[2021-11-06 19:22] amitaikoretz opened #12231 "Installing knative on Amazon EKS"
## Ask your question here:

I am not having success when trying to install knative on an EKS cluster.
Trying to install the `https://github.com/knative/serving/releases/download/knative-v1.0.0/serving-crds.yaml` results in a whole lot of error messages.
Are there any up-to-date guidelines for installing on EKS?

For example:
`APIVersion defines the versioned schema of this representation of an obj

[2021-11-07 01:23] #11640 closed

[2021-11-07 12:06] #12010 closed

[2021-11-07 16:27] matthiasgubler commented on #12217
@dprotaso I opened a PR with the changes required as you described the issue. I also did some tests by setting the `LATEST_SERVING_RELEASE_VERSION` variable and checking the output of the newly created function `align_net-istio_version`

|    LATEST_SERVING_RELEASE_VERSION   | OUTPUT |
| ---------------------- | ------------------------- |
| [unset]                          | knative-v1.0.0 (lates

[2021-11-08 09:58] shydefoo opened #12235 "Queue-proxy unable to start with runc 1.0.0~rc93+ds1-5"
## In what area(s)?
Remove the '> ' to select:

## Ask your question here:
Hello, this is a follow up from [here](https://github.com/knative/serving/issues/11695). We have just upgrade to knative v0.26.0, but still getting this error when creating a knative service:
[code]
Additional info:
Host OS Image: [Garden Linux 318.8](https://github.com/gardenlinux/gardenlinux/releases/tag/318.8)
Knative Se

[2021-11-08 10:24] julz commented on #12235
Hi @shydefoo - I notice the "OS Image: Garden Linux 318.8" in your additional info. Is this the host image or the base image you're using for the queue proxy container? If the latter case does this mean you are doing a custom build (i.e. not using the release yamls shipped by Knative)? If so please share how you are building the queue proxy image - thanks!

[2021-11-08 10:29] shydefoo commented on #12235
Hey @julz.  Sorry for being unclear, `OS Image: Garden Linux 318.8` meaning the actual node image, not the queue-proxy container image.

[2021-11-08 10:51] julz commented on #12235
This looks quite similar to https://github.com/tektoncd/triggers/issues/781, which seems to have been fixed by https://github.com/tektoncd/triggers/pull/789. I wonder if we need to set a `runAsUser` to match the distroless UID 🤔.

@markusthoemmes do you know if adding a runAsUser to match the distroless user would work OK with OpenShift?

[2021-11-08 10:53] markusthoemmes commented on #12235
I don't think it will

[2021-11-08 10:58] julz commented on #12235
darn, I knew I remembered there was some wrinkle with OpenShift and runAsUser :(.

[2021-11-08 11:07] julz commented on #12231
Hi @amitaikoretz - could you please include the version of Kubernetes in your EKS cluster, reproduction steps (e.g. what commands are you using to create the cluster? Is it a clean cluster? What commands are you using to apply the yaml file to the cluster?), actual behaviour (e.g. where do you see the failures, on the kubectl command or when pods attempt to start up? Which pods fail, if any? etc)

[2021-11-08 12:15] julz commented on #12221
Hi @Talha-Altair - I think `kn version` just shows the version of the client. Could you confirm the version of Knative you're installing too, please? Also could you please add reproduction steps (e.g. commands used to create local cluster and install Knative, Kubernetes version, CPU/mem resources, hardware type, clean cluster or other things installed), and as many of the activator logs as possibl

[2021-11-08 14:35] nader-ziada opened #12238 "Accessible performance tests for autoscaling"
/area autoscale

## Describe the feature
- The Knative performance testing framework is based on `Mako`, but since it is not open to accept data from non-Google developers, its not possible for community members to run benchmark tests.  kperf was proposed to as a community accessible solution for performance benchmarking. https://github.com/knative-sandbox/kperf
- This issue is to write performanc

[2021-11-08 14:36] nader-ziada commented on #12238
/assign

[2021-11-08 21:56] #12217 closed

[2021-11-09 10:24] julz commented on #11308
Adding an extra use case for this that I've seen a couple times and recently in [this slack thread](https://knative.slack.com/archives/C0186KU7STW/p1633363359185300): there are cases - especially bursty eventing workloads - where at a low number of instances we struggle to handle the load at all causing autoscaler to react by dramatically over-shooting the needed number of pods. In this case once

[2021-11-09 10:54] julz commented on #11693
still a problem, now that we [disable the mesh probing when explicitly told whether mesh is enabled](https://github.com/knative/serving/issues/11895), and [trust k8s readiness when it beats the probes](https://github.com/knative/serving/pull/12086), we should be able to skip activator probing when an exec probe is specified 🤞.

/remove-lifecycle stale
/reopen

[2021-11-09 12:07] knative-test-reporter-robot opened #12244 "[flaky] 2.01% tests failed in repo serving on 2021-11-09 08:00:47 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 2.01% tests failed in repo serving on 2021-11-09 08:00:47 +0000 UTC
* **Repository name**: serving

[2021-11-09 13:38] julz commented on #12230
Hi @msgurikar - I think grpc tends to use long running connections, are you sure the first connection has been closed before creating the second?

[2021-11-09 17:33] dprotaso commented on #11926
Should we have a follow up issue to smooth out/provide optionality how the activator transitions in/out of the data path?

[2021-11-09 21:05] rhuss commented on #11926
Would introducing a [Hysteris](https://en.wikipedia.org/wiki/Hysteresis) may help to smooth out that kind of fluctuations ?  I mean not having a single value for switching between `Serve` and `Proxy` but different values for the transition `Serve` -> `Proxy` and `Proxy` -> `Serve`. (maybe add a parameter `burstHysteresis = 10` and then switch forth/back at 200-10 and 200+10.

Also (but not sure th

[2021-11-10 06:12] obailiumingo commented on #12219
Thank you for replying， I got it。

[2021-11-10 06:13] #12219 closed

[2021-11-10 06:18] jainmanas13 opened #12249 "Can we upgrade knative to 1.0 directly from 0.21? Or still need to go by minor-versions upgradation?"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

1.
2.
3.

## Additional Info

[2021-11-10 08:24] julz commented on #12249
You still need to upgrade through each version. You should upgrade through to 0.26 as normal, and then upgrade to 1.0.

[2021-11-10 12:06] knative-test-reporter-robot opened #12255 "[flaky] 2.04% tests failed in repo serving on 2021-11-10 08:00:48 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 2.04% tests failed in repo serving on 2021-11-10 08:00:48 +0000 UTC
* **Repository name**: serving

[2021-11-10 22:07] msgurikar commented on #12230
Thank you for the reply.
We figured out its because of default targetUtilization set to 80%, after we set this to
autoscaling.knative.dev/targetUtilizationPercentage: "100"
containerConcurrency: 1

With this change,
it creates only 1 pod for each request.

[2021-11-11 10:52] skonto opened #12260 "Container names are not validated for duplicates"
## What version of Knative?
1.0 (probably all since multi-container adoption).  This affects init containers too.

## Expected Behavior

Webhook ksvc validation should reject duplicate container names. [K8s api valdiation logic dictates so](https://github.com/kubernetes/kubernetes/blob/7fbb384e15e2fb8370513eab9443c5107df1b257/pkg/apis/core/validation/validation.go#L2933).

## Actual Behavior

We n

[2021-11-11 12:07] knative-test-reporter-robot opened #12264 "[flaky] test/e2e.TestHPAAutoscaleUpDownUp"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestHPAAutoscaleUpDownUp
* **Repository name**: serving

[2021-11-11 12:31] julz commented on #12230
/close

[2021-11-11 12:31] #12230 closed

[2021-11-11 16:49] evankanderson commented on #6176
This is already doable with: https://github.com/kubernetes-sigs/descheduler#podlifetime

[2021-11-11 17:23] evankanderson commented on #6176
[code]

[2021-11-11 17:29] mattmoor commented on #6176
It is sort of unfortunate that this is a cluster-scoped thing.

[2021-11-11 17:30] mattmoor commented on #6176
That said, when this hits Beta I'd love to see Knative ship a policy by default 🤩

[2021-11-11 17:46] evankanderson commented on #6176
In case you feel bad about our version numbering: https://github.com/kubernetes-sigs/descheduler#compatibility-matrix

[2021-11-12 12:08] #11693 closed

[2021-11-12 16:29] dprotaso commented on #8949
/unassign @salaboy

[2021-11-12 20:42] dprotaso commented on #7300
I think all the config maps are sorted and the documentation was the last remaining bit

[2021-11-12 20:42] #7300 closed

[2021-11-13 11:07] Talha-Altair commented on #12221
@julz

Knative installation version:

kubectl apply -f https://github.com/knative/serving/releases/download/knative-v1.0.0/serving-crds.yaml
kubectl apply -f https://github.com/knative/serving/releases/download/knative-v1.0.0/serving-core.yaml

Creating local cluster:

kind create cluster --name <some_cluster_name>

k8s version:

1.20

cpu/mem:

Cpu - Intel i7-4510U (4) @ 3.100GHz

Mem - 8 gigs

c

[2021-11-13 14:36] denitiu commented on #12235
hi guys, any other thoughts / actions on this ? We are a bit stuck :|

[2021-11-15 01:22] #11670 closed

[2021-11-15 09:24] skonto commented on #6176
I feel we should couple a default policy for the descheduler in the future (global setting) as @mattmoor mentioned with a per service setting. The latter should be implemented now. WDYTH?

[2021-11-15 09:33] Niflhem commented on #11673
Closing for now, may reopen in the future.

[2021-11-15 09:33] #11673 closed

[2021-11-15 16:47] abrennan89 commented on #8160
@evankanderson @rhuss is documentation still required for this? Would it be worth opening an issue in the docs repo and closing / linking to this one?
Any idea who could provide information for this to base docs on, or can we get a volunteer SME to work on doc drafts?

[2021-11-15 19:33] jewscojacquez commented on #10417
Hello guys,  could anybody confirm that having nginx ingress as gateway for knative svc is not supported until v2? And therefore a service mesh is a must in knative v1.

[2021-11-15 19:35] jewscojacquez opened #12280 "Having nginx as ingress gateway for knative svc is not supported until v2? And therefore a service mesh is a must in knative v1."
## Ask your question here:
Hello guys, could anybody confirm that having nginx ingress gateway for knative svc is not supported until v2? And therefore a service mesh is a must in knative v1.

[2021-11-15 21:12] mattmoor commented on #10417
You don't need a service mesh, but nginx is not a supported ingress (it is missing some feature iiuc).

Kourier, Contour, Gloo, Ambassador, Kong, and even Istio have non-mesh options (many of these are not meshes at all).

[2021-11-15 21:38] jewscojacquez commented on #12280
closing ticket, answer provided from #10417

[2021-11-15 21:38] #12280 closed

[2021-11-16 01:22] #11113 closed

[2021-11-16 01:22] #11094 closed

[2021-11-16 01:41] evankanderson commented on #8160
I think a blog post and maybe some documentation updates would be appropriate here; this is a a matter of using some of the existing features creatively and probably isn't obvious to most users.

I don't know if we have a category / queue for "technical blog post topics".

[2021-11-16 10:11] skonto commented on #10511
@yuvaldolev any progress on this?

[2021-11-16 10:19] nak3 commented on #11795
There are different patterns of errors. As far as I checked, there are two following errors.

#### case-1. Failed to get URL from route
https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-continuous/1453874291505369088
[code]

#### case-2. response from wrong image
https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-continuous/1459914183381356544
[code]

[2021-11-16 10:33] markusthoemmes commented on #11795
regarding case 2: Seems like this is happening because we've dropped the `WaitForEndpointState`, which masked that we were missing an additional check. It looks like the `WaitForRouteState` needs to actually also include waiting for the route to be updated to point to the new revision first (which we check right at the end of that function).

[2021-11-16 10:43] rhuss commented on #8160
+1 for a blog post at least, but that should include a simple example of such a client, like an expressjs app, that does this roundtrip. So it's more than just writing but also contains some coding ahead. Maybe @csantanapr could help us here ?

[2021-11-16 12:05] #11795 closed

[2021-11-16 20:13] psschwei commented on #10978
Copying @julz 's comment on potentially swapping out the readiness probe for a startup probe: https://github.com/knative/serving/pull/12281#discussion_r750459804

[2021-11-17 03:49] moadi commented on #11635
sorry to comment on this old issue, but I was looking into support for memory for HPA and noticed this issue. I looked at the docs here: https://knative.dev/docs/serving/autoscaling/autoscaling-metrics/ and there is no mention of `memory` as an option. I presume the docs are not up to date for this? thanks!

[2021-11-17 08:10] life-learner1 opened #12295 "how can I set a domain names to knative service by external-dns， external-dns will generate a random domain, it can not be assigned by knative"
## Ask your question here:
  /area networking
How can I assign a domain name to knative service by external-dns， external-dns  will generate a random domain if service tpye, and it can not be assigned by knative

[2021-11-17 09:07] ZhengJuCn opened #12296 "follow knative serving docs install with yaml, never install istio success"
## In what area(s)?
/area install

## What version of Knative?
serving v0.25

## Expected Behavior
install istio success and install knative serving success

## Actual Behavior
follow install docs of knative serving

- kubectl apply -f https://github.com/knative/serving/releases/download/v0.25.0/serving-crds.yaml
success and all crd created
- kubectl apply -f https://github.com/knative/serving/rel

[2021-11-17 10:37] gdlbl opened #12299 "ksvc and route always display IngressNotConfigured"
i have one k8s cluster(version:1.22.0)，and i has install istio(1.10.5)，they works well。then i install knative serving 1.0.0，no problems happen，all pods and svc are running normal in the knative-serving namespace。now i  begin to deploy my app with this yaml:
---
apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: hello
  namespace: default
spec:
  template:
    metadata:
      labels

[2021-11-17 10:57] gdlbl opened #12300 "ksvc and route always display IngressNotConfigured"
i have one k8s cluster(v1.22.0)，and i also install istio(v1.10.5)，they works well。then i install knative serving v1.0.0，no problems happen，all pods and svc are running well in the knative-serving namespace。now i  begin to deploy my app with this yaml:
---
apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: hello
  namespace: default
spec:
  template:
    metadata:
      labels:

[2021-11-17 10:57] #12299 closed

[2021-11-17 10:58] gdlbl commented on #12299
nothing to

[2021-11-17 18:07] SeanEmac commented on #10575
We encountered this problem recently in production. We had a service account with 2 pull secrets, one for the dev registry the other for the prod registry. Both exist in our dev clusters but only the prod one exists in production... you can guess what happened next.

Our fault for not testing properly, but it would be nice to have the flexibility of defining secrets that might/might not exist. Oth

[2021-11-17 18:45] dprotaso commented on #12103
/assign @dprotaso

[2021-11-17 18:56] dprotaso commented on #12064
Looks like this was fixed due to retries here:
https://github.com/knative/pkg/pull/2351

[2021-11-17 18:58] #12064 closed

[2021-11-18 01:22] #11645 closed

[2021-11-18 01:22] #11572 closed

[2021-11-18 08:57] wenerme commented on #10417
@mattmoor  sorry to bother, but searched ingress v2 found nothing, may I ask what feature is required by knative ? is there any issues related to nginx-ingress to tracking ?

[2021-11-18 09:24] nak3 commented on #10417
Hi @wenerme Nginx does not start implementing the Ingress v2 (Gateway API) yet. So, I think it is better to ask what is the blocker in their project (probably here https://github.com/kubernetes/ingress-nginx/issues/7517).

[2021-11-19 06:06] mayuchau opened #12316 "after building pods are not getting created inside knative serving and eventing namespaces"
I have followed below document to build knative serving v1.0.0

https://github.com/knative/serving/blob/knative-v1.0.0/DEVELOPMENT.md

when I am trying to deploy knative-serving using **ko apply -Rf config/core/** command
then all the yamls are getting applied successfully and images are getting pulled and pushed to correct repository.

but pods are not getting created inside the knative-serving n

[2021-11-19 15:30] alxndr42 opened #12323 "DomainMapping with custom TLS certificate receives requests as "proto=http""
When using a [DomainMapping with custom TLS certificate](https://knative.dev/docs/serving/services/byo-certificate/), the mapped service receives request headers like this:

While the same service under its auto-TLS domain name receives headers like this:

Both requests are sent externally with `curl` using an `https://` URL.

The `proto=http` value for the mapped service is problematic, because i

[2021-11-20 05:17] CWL-1688 opened #12324 "helloworld sample deployed on knative, got revision Ready false , Reason ProgressDeadlineExceeded"
## Since I have just started studying, please give me some advice, thanks alot

## What version of Knative?

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

## Debugging

![image-20211120105634612](https://user-images.githubusercontent.com/61790775/142715308-3ea9fb09-90ec-4cc8-821a-2fb56c7852f1.png)
![image-20211120105601621](https://user-images.githubusercontent.com/6

[2021-11-20 10:05] nak3 commented on #12324
Hi @CWL-1688 I deployed your image and it seems Tomcat uses `8001` port instead of `8080`.

[code]

So readinessProbe keeps failing.
Could you please try to run with `--port 8001` as below? It is working on my env at least.

[code]

(If you just followed [the docs ](https://knative.dev/docs/serving/samples/hello-world/helloworld-java-spring/) we need to fix the documentation.)

[2021-11-20 10:55] nak3 commented on #12323
This is probably same issue with https://github.com/knative-sandbox/net-istio/issues/740#issuecomment-916801347
And if we use Kourier, it replies `proto=https` correctly.

[code]

[2021-11-21 13:45] nak3 commented on #12296
Hi @ZhengJuCn 0.25.0 is still supported but it is a little bit old version. So https://github.com/knative/net-istio/releases/download/v0.25.0/istio.yaml includes Istio 1.9.6.
Do you have any reason why you want to use 0.25? The latest Knative version is v1.0.0 so it would be great if you could try to use v1.0.0 intead.

[2021-11-22 03:03] ZhengJuCn commented on #12296
@nak3 my k8s version is 1.19.x，is read knative docs，found 0.25.0 is the newest version match k8s 1.19

[2021-11-22 05:36] nak3 commented on #12296
I understand. Thank you. Then, could you please install istio by `istioctl` you can run:

[code]

The `istio.yaml` is just generated by `istioctl manifest generate` so it should be same and istio recommends `istioctl` instead of generated yaml. If it still fails, it is an Istio issue rather than Knative.
Finally you found `{{if}}` in yaml but it is Istio's configurations in configmap, I think.

[2021-11-22 05:43] ZhengJuCn commented on #12296
@nak3 yes,  my deploy use kustomize, so i want to use yaml direct, i have followed istio helm and generate yaml use helm template, finally i install with yaml success.
but thank you so much.

by the way, knative  https://github.com/knative/net-istio/releases/download/v0.25.0/istio.yaml may has some error
follow docs can't install istio success

[2021-11-22 11:47] julz commented on #12316
Hi @mayuchau - I think this looks like a problem with your Kubernetes cluster rather than Knative. Unfortunately this repo is probably not the best place for help with this - you will need a working Kubernetes cluster with a healthy scheduler before installing Knative - but please do open issues if you encounter problems installing Knative once you have a working Kubernetes cluster.

[2021-11-22 13:18] skonto commented on #10511
@yuvaldolev need any help to push this one forward?

[2021-11-22 13:19] skonto commented on #12260
@hzliangbin gentle ping, any news on this one?

[2021-11-22 14:55] jhill072 opened #12330 "How to retry a failed Revision?"
## Ask your question here:
Hello everyone! I have a working setup with KNative serving and eventing and I'm loving working with these two awesome new technologies! I am running into a scenario where a newly deployed revision fails to start, which marks the Revision as "Failed" and therefore unusable, which makes sense to me. However, our startup process has a reliance on the internet, which has pr

[2021-11-22 15:30] nader-ziada commented on #12330
Hi @jhill072

If you update your code to look for something else without internet access, and redeploy your service, you will get a new revision of that same service.

from the docs:

is this what you mean with `retry`?

[2021-11-22 15:48] 7adietri commented on #12323
Thanks for pointing out the other issue! I'll leave a comment over there as well.

Unfortunately, switching to a different networking layer just to work around this bug is not really practical for us right now. 😬

[2021-11-22 16:14] nader-ziada commented on #11728
@msgurikar now that your services seems to be working, can we close this issue?

[2021-11-22 16:34] jhill072 commented on #12330
Right, I am looking for similar behavior but without needing to deploy a new Revision because there is a separate dependency that must be resolved first.

I am currently using the new deployment method as a workaround, but was looking for something that was possible without needing to go through a full deployment again.

[2021-11-22 16:50] jhill072 commented on #12330
I am completely fine with "deploy workloads that do not depend on flaky things" as an answer, but potentially another use case might be around that workload not becoming "Ready" in a reasonable amount of time because the readiness probe fails. From my understanding of readiness, it revolves around being able to accept incoming requests, so as an example, if our database happens to be down for a fe

[2021-11-22 19:03] nader-ziada commented on #12330
there are already some thing you can if your application takes some time to come up, for example the `initialDelaySeconds` on the pod spec. more details about k8s readiness probe [here](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/) but I'm not aware of a way to restart a failed startup or readiness probe without any update the deployment or

[2021-11-22 19:51] jhill072 commented on #12330
Alrighty, that's about all I could ask for. Maybe if this is a more frequent occurrence, might be able to request something to the knative cli or something, but this works for me in the meantime. Thank you!

[2021-11-22 19:51] #12330 closed

[2021-11-23 02:16] dprotaso commented on #11821
/lifecycle frozen

[2021-11-23 16:29] JonKusz opened #12341 "Revision GC not functioning as expected"
## What version of Knative?

v0.20.1

## Expected Behavior

With the same configuration, Im expecting that the `serving.knative.dev/routingStateModified` annotation of the Revisions are in chronological order because we set `latestRevision: true` in the Knative Service. I also expect that the following revisions are retained, instead of the ones describe in the Actual Behaviour section.

[code]

#

[2021-11-23 17:33] dprotaso commented on #12341
/triage-accepted

[2021-11-23 17:33] dprotaso commented on #12341
/triage accepted

[2021-11-23 17:34] dprotaso commented on #12341
Going to throw this into the icebox for now

[2021-11-23 17:46] moadi opened #12342 "Removing activator from the request path and its consequences"
## Ask your question here:

knative version: 0.24

Hi folks,

We have a KN service running in production with container concurrency set to 8, and tbc set to 1 as we don't always want to have the activator in the request path as we've seen some uneven load balancing due to it where a single pod ends up getting in excess of 30 concurrent requests.

When we see an autoscaling event occur, we observe

[2021-11-23 19:10] #12103 closed

[2021-11-23 20:10] nader-ziada commented on #12342
it depends on how requests you expect to get, here is the docs for the tbc, https://knative.dev/docs/serving/load-balancing/target-burst-capacity/

and for the queue-proxy, yes it would be in the request path and holding on to the traffic, you can check these metrics here https://knative.dev/docs/serving/services/service-metrics/#queue-proxy-metrics to adjust the settings based on your service

[2021-11-23 21:15] moadi commented on #12342
@nader-ziada thanks for your response. we did check the documentation regarding tbc and after looking at a couple of KN issues related to the activator we followed @vagababov's advice to set the tbc to a very small value to get the activator out of the request path.

as we are now looking to remove it from the request path altogether by setting tbc to 0, it seems like the impact of doing so would

[2021-11-23 21:34] nader-ziada commented on #12342
yes, your assumption is correct

[2021-11-23 21:45] moadi commented on #12342
thank you very much!

[2021-11-23 21:45] #12342 closed

[2021-11-24 04:15] CWL-1688 commented on #12324
thanks a lot, it works

[2021-11-24 04:15] #12324 closed

[2021-11-24 09:20] julz commented on #12342
Just to be clear: without activator in the path you won't get any burst handling, so while autoscaler will scale pods up to handle load, you may well find that in the meantime a large amount of load ends up on a small number of pods. If the load burst is high enough this may well exceed the Queue Proxy queue length and you'll get 502s/high latency. Depending on your workload and how fast your clus

[2021-11-24 17:17] duglin commented on #11717
/remove-lifecycle stal

[2021-11-24 17:18] duglin commented on #11717
/remove-lifecycle stale

[2021-11-24 19:32] dprotaso commented on #12231
/triage needs-user-input

[2021-11-24 19:35] dprotaso opened #12349 "Determine rollout duration semantics when next revision fails"
It seems like we should potentially document/clarify/fix the semantics of the rollout duration when the next revision fails. But I'm tempted to make separate issue and close this out.

So far it seems this issue was opened just to track the flagger integration. But I'd rather folks comment upstream to signal you want Knative support.

[2021-11-24 19:35] dprotaso commented on #12349
/triage accepted

[2021-11-24 19:38] dprotaso commented on #2721
Going to close this out as we have the following related issues

1) https://github.com/knative/serving/issues/12349
2) https://github.com/fluxcd/flagger/issues/903

[2021-11-24 19:38] #2721 closed

[2021-11-24 19:39] dprotaso commented on #9045
/triage accepted

[2021-11-24 19:46] dprotaso commented on #11126
/triage accepted

[2021-11-25 02:36] dprotaso commented on #9477
tl;dr - This should work as expected as I've confirmed a service account with a fine grained IAM role with the right permissions should support tag-to-digest resolution.

## Details

I tested this out with the following steps

### 1. Created a cluster as follows
[code]

### 2. Setup the OIDC provider for the cluster

As per https://aws.amazon.com/blogs/opensource/introducing-fine-grained-iam-roles

[2021-11-25 02:36] #9477 closed

[2021-11-25 07:16] amitaikoretz commented on #12231
After a further try, the problem no longer arose.

[2021-11-25 07:16] #12231 closed

[2021-11-25 08:02] rhuss commented on #11821
+1 for option 2.1 as this would help also with creating a multi-tenant setup via NetworkPolicies which is currently not possible, because `NetworkPolicy`s don't work with DNS resolved external names either.

BTW, is there documentation on how to create a multi-tenant setup (i.e. to prevent KServices from ns A accessing KServices in ns B) ? (don't want to sidetrack this issue, but before opening a

[2021-11-25 08:56] trust-freedom commented on #6482
@heprotecbuthealsoattac hello, I encountered the same problem, have you solved it?

[2021-11-25 12:06] knative-test-reporter-robot opened #12353 "[flaky] 1.37% tests failed in repo serving on 2021-11-25 08:00:21 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.37% tests failed in repo serving on 2021-11-25 08:00:21 +0000 UTC
* **Repository name**: serving

[2021-11-25 14:22] skonto commented on #12069
@jasonaliyetti I spent some time debugging this and verified that metrics are not shipped due to the long reporting period. Unfortunately when flush is called (defered one) in queue main, it does not mean that view's data will be uploaded (normally sent via ocagent). What worked for me was to set a reporting period of 1 sec at the queue proxy side. I will create a PR to make this configurable. Whe

[2021-11-25 15:13] dprotaso commented on #12078
/triage accepted

[2021-11-25 16:36] dprotaso commented on #5990
tl;dr - this is a K8s issue - I opened one here: https://github.com/kubernetes/kubernetes/issues/106682

Because the probe can't be performed it's 'errored' and K8s doesn't assume anything - so the Pod remains 'Running' and live

ie.

[code]

This produced the event

If you change the liveness probe to
[code]

The event is

It looks like the same semantics occur if there's a timeout - https://gith

[2021-11-25 16:36] #5990 closed

[2021-11-26 01:22] #11738 closed

[2021-11-26 01:22] #11737 closed

[2021-11-26 01:22] #11736 closed

[2021-11-26 01:22] #11735 closed

[2021-11-26 01:22] #11734 closed

[2021-11-26 01:22] #11733 closed

[2021-11-26 01:22] #11732 closed

[2021-11-26 08:32] CWL-1688 opened #12355 "Magic DNS on Minikube curl(6) cannot resolve host"
### I installed Serving on Minikube as instructed by the official documentation.

### Kourier was chosen as the network layer

## I want to use the Magic DNS on my cluster, I have installed it using

### And I have  started the tunnel using

### When  I try to access a service using

### I got  this

### Before that , I deployed a HelloWorld Service on it. And I can access it by temporary DNS with

[2021-11-26 12:06] knative-test-reporter-robot opened #12356 "[flaky] 1.34% tests failed in repo serving on 2021-11-26 08:00:57 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.34% tests failed in repo serving on 2021-11-26 08:00:57 +0000 UTC
* **Repository name**: serving

[2021-11-26 12:16] skonto commented on #12355
Just try:
[code]

[2021-11-26 12:54] skonto commented on #4416
@dprotaso are you still working on this one?

[2021-11-26 15:33] dprotaso commented on #4416
I started looking at this (and other related items yesterday)

[2021-11-26 16:36] dprotaso commented on #11821
Long term I think I think we want to use 2.2 - FQDN EndpointSlices so we're not managing endpoints and IPs.  The K8s services mentioned in this issue front the L7 proxies.

the multi-tenant stuff is probably a separate issue

[2021-11-27 01:21] #11725 closed

[2021-11-28 01:22] #11748 closed

[2021-11-29 02:35] CWL-1688 commented on #12355
Before I tried to use the Magic DNS , I have deployed a service , and I can access it by temporary DNS

following your advice , I checked the status

![image](https://user-images.githubusercontent.com/61790775/143799761-c9be5b05-3fe5-4e42-b1e9-47a1ddfa0af4.png)

![image](https://user-images.githubusercontent.com/61790775/143799807-21a587d4-14bc-4657-9981-766d2c5dde50.png)

minikube tunnel has star

[2021-11-29 03:08] nak3 commented on #12355
Some IP addresses are not available due to DNS rebinding protection by internet/DNS providers.
For example, I canot resolve both @skonto's and @CWL-1688's domain from my end.

[code]
But another IP address (e.g. 104.155.144.4) works fine as:

[code]

@CWL-1688 Could you please try `dig greeter-10.default.10.104.139.27.sslip.io` on your end? I guess it gets an error like my end. If so, you need to

[2021-11-29 03:34] zhaojizhuang commented on #11635
@moadi Thanks，issue has created to tack this

[2021-11-29 03:44] zhaojizhuang commented on #11635
@moadi Have tracked  in this issue's tasks https://github.com/knative-sandbox/eventing-natss/issues/145

[2021-11-29 12:44] #10276 closed

[2021-11-29 22:33] KauzClay opened #12364 "Adding a diagram of serving resource relationships"
## In what area(s)?

## Ask your question here:
I made this [diagram](https://github.com/knative/serving/files/7621544/serving_resource_relationships.pdf) showing how the k8s resources of Knative Serving relate to each other in Miro (original source [here](https://miro.com/app/board/o9J_lpJbAig=/?invite_link_id=581999739656)).

I think it could be pretty helpful to new contributors when trying to

[2021-11-30 03:24] ggaaooppeenngg commented on #12102
In our environment, we want to secure pod external traffic by adding iptables rules in the init containers to redirect traffic to our proxy.  Can the security context check be removed for init containers?

[2021-11-30 12:22] wenyangchou opened #12371 "Service EXTERNAL-IP default is not knative-local-gateway.istio-system.svc.cluster.local, which result in 'wait for load balancer'"
I have created a ksvc like this:
[code]
logs show :
[code]
It blocked in waiting for load balancer.
[code]

In normal k8s cluster ,the  `EXTERNAL-IP`   is `knative-local-gateway.istio-system.svc.cluster.local` , while my `EXTERNAL-IP` is my custom domain。
What is the problem and how I can solve it.

[2021-11-30 15:10] skonto commented on #12102
Hi @ggaaooppeenngg could you try [enable the capabilities feature](https://knative.dev/development/serving/configuration/feature-flags/#kubernetes-security-context-capabilities) and the define the right `Drop:` rule? Security context should be also supported for init containers.

[2021-11-30 15:22] mgencur opened #12372 "Do not install redundant resources in upgrade tests"
The upgrade tests only require the "serving-tests" namespace to exist but they do not require the other test resources which are installed in any case.
It should be possible to get some improvements:
* save time when executing upgrade tests in CI by not installing redundant resources
* make the upgrade tests "standalone" and easier to execute - no test setup required, the only requirement is havin

[2021-12-01 02:14] nak3 commented on #12371
Hi @wenyangchou Could you please share the output of kingress?

[code]
I also want to see the pod status and net-istio-controller logs in `knative-serving` namespace.
[code]

I suspect that Kingress' `status.privateLoadBalancer.ingress.domainInternal` field was not set.

[2021-12-01 02:20] wenyangchou commented on #12371
`kubectl get kingress hello -oyaml` shows:
[code]
`kubectl get pod -n knative-serving ` shows:
[code]
kubectl logs -n knative-serving deploy/net-istio-controller shows:
[code]

[2021-12-01 02:46] moadi commented on #12342
@julz apologies for the delay, and thanks for your detailed response.

for a couple of services deployed in our GKE cluster running KN serving (v0.24), we noticed rather uneven load balancing to the pods when the activator was in the request path. Both services had concurrency set to 10 or so iirc.
For one of the services that handled ~1500 rps during peak hours, we noticed a big delta from the qu

[2021-12-01 02:49] nak3 commented on #12371
Thank you. It seems you enabled istio sidecar injection on `knative-serving` namespace, correct? I assume that it hass `2/2` containers in the pod in the namespace.

Do you need to enable the sidecar in `knative-serving` namespace? Also, do you enable the sidecar injection on the ksvc namespace?
If the injection is not necessary, could you please remove the `istio-injection=enabled ` label from th

[2021-12-01 03:01] nak3 commented on #12371
(Adding some context) The error is from prober in net-istio pod. And all system pods seem to have the istio sidecar injection. The prober sometimes fail due to Istio's extra settings like mTLS. We can investigate the istio setting but it is much easier to verify/narrow down if no istio sidecar could work or not.

[2021-12-01 06:52] hzliangbin commented on #12260
@skonto really sorry for being late. just open a pr, would you mind looking it through if  have time? thx!

[2021-12-01 07:42] ggaaooppeenngg commented on #12102
By applying the config below, it works!
[code]

[2021-12-01 08:15] wenyangchou commented on #12371
It seems stio sidecar has beed disabled already.
namespaces show :
[code]
Is there any other possible situation that may lead to this problems?

[2021-12-01 08:54] wenyangchou commented on #12371
It doesn't seem to make any difference, I am so confused ! I really don't know how to solve it . Thank you !

[2021-12-01 09:01] nak3 commented on #12371
@wenyangchou Could you ping me on Slack https://slack.knative.dev/ ? I will try to help you there.

[2021-12-01 13:37] nak3 commented on #12371
After debuging on Slack, we figured out that the issue was due to using non-default cluster domain `svc.bigdata.local`.

Installing the Isito with `clusterDomain` configuration like:

[code]

solved the issue. @wenyangchou I am closing this issue but please feel free to open an issue if you hit another issue.

[2021-12-01 13:37] #12371 closed

[2021-12-01 16:09] adriangudas opened #12376 "Unable to use GCP HTTPS load balancer with istio/knative with full e2e encryption"
## Ask your question here:

Knative serving version: 1.0.0
Istio version: 1.10.2
K8s version: v1.20.10-gke.1600

Hello,

We're currently using a L4 TCP load balancer to ingress traffic into our knative-serving istio-ingressgateway. We wanted to move to using a GCP L7 HTTPS load balancer to take advantage of some features that the L7 load balancing provides, such as GCP's network endpoint groups fo

[2021-12-01 21:35] dprotaso opened #12377 "BYO Certificate/Kourier issues with autoTLS"
Hello @ZhiminXiang and @dprotaso ,
I think I am facing the same issue as @vitobotta , I am using a custom domainTemplate like `"{{.Name}}.{{.Domain}}"` in `config-network` and I have `autoTLS` enabled.
I am using SSL certificates secret referenced in `CERTS_SECRET_NAME` in my Kourier controller.
* If I deploy a KSVC with `disableAutoTLS=true`, https will not work for the main domain following the

[2021-12-01 21:48] dprotaso commented on #12377
Your setup seems pretty complex and I think it's worth teasing out a few things first

This does work as I setup it up on my cluster. Can you provide more details about your setup

So I setup the latest serving, kourier, net-certmanager, & certmanager

`config-network` has the properties

[code]

`config-domain` has the properties
[code]

my `net-kourier-controller` has the container `controller`

[2021-12-01 21:58] dprotaso commented on #11321
@almottier I pulled your comment into a separate issue as there are many concerns there.

@mjgallag Can you comment on what you're trying to do/solve?

I left this issue open for @vitobotta to comment on whether the annotation is a sufficient work around to skip the http01 challenges he was having.

In regards to DomainMapping with wildcard domains - I believe you can set the tls secret on the Dom

[2021-12-01 22:26] mjgallag commented on #11321
@dprotaso the use case is a single service handling user generated subdomains, i.e. GitHub Pages allowing each user their own subdomain (`mjgallag.github.io`).

[2021-12-02 01:05] dprotaso commented on #11321
So to clarify - you have a single Knative Service by which you're pointing N distinct `DomainMapping` resources with a different subdomain and you want to use a wildcard cert with the host `*.github.io`?

Does setting the tls property on the `DomainMapping.Spec` not work for you? Or were you hoping autoTLS+DomainMapping would generate a wildcard certificate for you?

[2021-12-02 02:11] mjgallag commented on #11321
@dprotaso I'd like to avoid having to dynamically create/delete multiple user `DomainMapping` resources programmatically at runtime, e.g:
[code]
Instead, I'd like to have a single fixed single wildcard `DomainMapping` resource I can create at deploy time, e.g:
[code]

[2021-12-02 11:27] skonto commented on #12221
@Talha-Altair could you add a link with the dump of the activator log?

[2021-12-02 15:13] skonto commented on #12074
@guodongli-google any news on this one? Do you think you will have spare cycles to file a PR?

[2021-12-02 15:16] skonto commented on #11822
@jinxin-fu is this still an issue?

[2021-12-02 15:49] skonto commented on #11483
One benefit I see with doing the resolution each time is fail fast if registry is down for example and not wait after revision creation (of course failures happen all times). It is though an issue for sure for the `kn` use case described.

[2021-12-02 18:42] Talha-Altair commented on #12221
activator-logs:

2021/12/02 18:40:23 Registering 3 clients
2021/12/02 18:40:23 Registering 3 informer factories
2021/12/02 18:40:23 Registering 3 informers
{"severity":"INFO","timestamp":"2021-12-02T18:40:23.131426092Z","caller":"logging/config.go:116","message":"Successfully created the logger."}
{"severity":"INFO","timestamp":"2021-12-02T18:40:23.131487846Z","caller":"logging/config.go:117","mes

[2021-12-02 19:43] sudharsanomprakash commented on #8812
I am getting same error:
error: unable to recognize "v1.yaml": no matches for kind "Service" in version "serving.knative.dev/v1alpha1"

===============================
apiVersion: serving.knative.dev/v1alpha1
kind: Service
metadata:
  name: canary
spec:
  runLatest:
    configuration:
      revisionTemplate:
        spec:
          container:
            image: gcr.io/knative-samples/knative-route

[2021-12-02 19:49] #12372 closed

[2021-12-02 21:48] mattmoor commented on #8812
That schema was deprecated and removed a long time ago.  Where did you find it, so we can try to get that fixed?

[2021-12-02 22:43] adriangudas opened #12387 "500 errors with queue-proxy in knative versions higher than 0.24.0"
## What version of Knative?

## Expected Behavior

No 500 errors.

## Actual Behavior

Sporadic 500 errors being presented to the client. From the queue-proxy logs on the service, we see the following error message:

`httputil: ReverseProxy read error during body copy: read tcp 127.0.0.1:51376->127.0.0.1:8080: use of closed network connection`

## Steps to Reproduce the Problem

We were able to re

[2021-12-03 09:17] skycyan commented on #12260
Knative-Serving v1.0.1. Does it not support initContainers function?
[code]

[2021-12-03 13:03] markusthoemmes commented on #10878
/unassign

Not working on this.

[2021-12-03 13:03] markusthoemmes commented on #10962
Not working on this

/unassign

[2021-12-03 16:13] mattmoor commented on #8812
cc @ZhiminXiang

[2021-12-03 18:22] rhuss commented on #11483
The point here is that you want to offer to give control over when an image's tag should be resolved to the digest, leading to the download of a new revision, or not. The non-resolve case happens only for existing images that already have been resolved and present in the cluster (at least at some node). Even if you resolve the image immediately, there is no guarantee that the registry will be up l

[2021-12-03 19:47] mbrancato opened #12393 "KPA flaps old revision with value below minScale"
## What version of Knative?

0.25

## Expected Behavior

When bringing a new revision online at 100% of traffic, the old revision should begin to scale to 0 as soon as the new revision has enough replicas to handle all replicas. There should never be a desired replicas count between `minScale` and 0.

## Actual Behavior

When bringing a new revision online, the old revision flaps between 1 and `mi

[2021-12-06 05:20] nak3 commented on #12355
Hi @CWL-1688 Is it alright to close this issue as it is not a Knative issue which we can manage?

[2021-12-06 11:28] julz commented on #11483
I didn't quite follow why the client has to go to a registry to resolve the tag or why an annotation is needed - what's the problem with having the client propagate the ContainerStatus.ImageDigest from the current revision to the next one?

[2021-12-06 14:00] mgencur opened #12400 "Services started by upgrade tests not properly cleaned up"
## Expected Behavior

The knative services started by upgrade tests are properly cleaned up at the end of the Golang test suite.

## Actual Behavior

Services are left there and need to be removed after the Golang test suite ends.

## Steps to Reproduce the Problem

[2021-12-07 03:32] evankanderson commented on #11821
/unassign dprosato

Since this is in "Next"

[2021-12-07 03:33] evankanderson commented on #11821
/unassign @dprotaso

That will teach me to manage issues with my phone.

[2021-12-07 10:23] rhuss commented on #11821
@dprotaso you mention we should use 2.2 for the long term but IIUR that is only possible for K8s >= 1.22 (which introduces EndpointSlices). Since Knative supports K8s < 1.22 for quite some time to come and we can't use `EndpointSlices` until we switch to a Knative minimal requirement to K8s 1.22, shouldn't we target the (intermediate) solution 2.1 first? We switch to K8s 1.22 when K8s 1.25 gets re

[2021-12-07 11:01] swapkh91 commented on #4417
any update on this?
I have a use case to increase shm-size when deploying Triton Inference Server on GKE using Kserve. The only solution I could find online was [this](https://stackoverflow.com/questions/46085748/define-size-for-dev-shm-on-container-engine/46434614#46434614)

But this gives knative error
[code]

[2021-12-07 14:13] 7adietri commented on #4417
@swapkh91 Support for `emptyDir` volumes is available, behind a [feature flag](https://knative.dev/docs/serving/configuration/feature-flags/#emptydir).

[2021-12-07 14:23] swapkh91 commented on #4417
@7adietri yeah I tried that by enabling it in the configmap
Then changed my yaml as per [this](https://stackoverflow.com/questions/46085748/define-size-for-dev-shm-on-container-engine/46434614#46434614)
The above error was resolved but now I'm getting the below error in Triton logs:

[code]

Can't find anything to resolve this

[2021-12-07 15:03] 7adietri commented on #4417
@swapkh91 I'm sorry, I don't know what the issue is on your particular setup beyond enabling `emptyDir` support. (And this issue is probably not the appropriate place. But `Read-only file system` seems worth investigating.)

[2021-12-07 15:25] swapkh91 commented on #4417
@7adietri  yeah looking into it. Anyway, thanks for the reply

[2021-12-08 11:42] skonto commented on #4417
Hi @swapkh91.

It can be anything.

[2021-12-08 11:52] obailiumingo opened #12409 "when the replicase of the autoscaler component bigger than 1, I got an error"
## In what area(s)?

## What version of Knative?

## Expected Behavior

 I set the replicas of autoscaler bigger than 1.
when invoke request    10 r/s.
the relicase of the revision  show be 2;
[code]

## Actual Behavior

the relicase of the revision changed between 1 and 2 quickly;

when I sacle the autoscaler to 1, it recoverd;

### if the autoscaler do not support high availability  in this vers

[2021-12-08 12:05] skonto commented on #12221
Logs show that the activator cannot establish a websocket connection to the autoscaler (required for pushing statistics etc). Probably there is a net issue in the cluster or autoscaler is down? Could you check pod status in `knative-serving` ns and if there are net problems?

[2021-12-08 12:17] skonto commented on #12235
@denitiu @shydefoo I see that distroless uses [id=65532](https://github.com/GoogleContainerTools/distroless/blob/3fa91ba3a9f59cab0ca95e7abef7cf94e8b2c449/base/base.bzl#L9) and that in the example in the [previous ticket](https://github.com/knative/serving/issues/11695) security context was using `65534` :
[code]
If you are not Openshift could you try the [fix](https://github.com/tektoncd/triggers/

[2021-12-08 12:20] skonto commented on #12409
@obailiumingo hi! Could you update the title pls, there are some typos I guess.

[2021-12-08 12:39] obailiumingo commented on #12409
sorry. now maybe better.

[2021-12-08 13:45] #8185 closed

[2021-12-08 13:58] skonto commented on #4417
Probably its the triton container? I see a similar bug [here](https://github.com/kserve/kserve/issues/1938), also [here](https://github.com/kserve/kserve/issues/872) things seem to be read-only. Could you try test a trivial service and compare with triton:
[code]

[2021-12-08 14:10] dprotaso commented on #11916
/lifecycle frozen
/triage accepted

[2021-12-08 14:33] swapkh91 commented on #4417
@skonto yeah it works for a trivial service
I modified the yaml a bit and still it worked, to see if `/dev/shm` is accessible
[code]

In the pod description I can see
[code]

Then I guess its from Kserve side! Also, Kserve currently uses 0.23.2 version of Knative, which is also incompatible for using `emptyDir`

My case is to increase the shm-size, which normally can be done in `docker run --shm-s

[2021-12-08 21:25] jewscojacquez opened #12410 "How to access the knative serving api using curl"
## Ask your question here:
Hello,

Is there  a way that I can list the knative services using REST API call?

For example to list the knative services/routes, I would run kubectl get ksvc or kubectl get route. Is there a way to get this information using curl command from a remote server.

I'm able to get the equivalent call for kubectl get svc with k8s API call - curl -k -H "Authorization: Bearer

[2021-12-09 02:48] obailiumingo commented on #12409
hi!  there are logs of the two autoscaler filterd by "revision name" and "desired" key words.

![image](https://user-images.githubusercontent.com/37237898/145325048-c348b704-b098-4004-a193-9f58014aab6d.png)
![image](https://user-images.githubusercontent.com/37237898/145325135-fec68f8b-57ca-4622-8968-9f09c8cd46f0.png)

[2021-12-09 04:57] nak3 commented on #12410
The API for `kubectl get ksvc` and `routes` are:

[code]
respectively.

We can find these info by using verbose logs. For example:
[code]

It says `kubectl get ksvc` called `https://127.0.0.1:43377/apis/serving.knative.dev/v1/namespaces/default/services`.

[2021-12-09 09:13] RamyChaabane commented on #12377
Hello @dprotaso
It works with knative v1.0 & kourier v1.0, but not with knative v0.24 & kourier v0.24

[2021-12-09 12:04] petolexa opened #12413 "ExternalName EXTERNAL-IP of the service is domain url, not knative-local-gateway.istio-system.svc.cluster.local and gets stuck in "Ingress has not yet been reconciled." status."
## Ask your question here:
Hello,

after runnig a service, for example:
[code]
the service gets stuck in status "Ingress has not yet been reconciled.".

I went through issues here and [found one very similar](https://github.com/knative/serving/issues/12371), where we have a domain in service EXTERNAL-IP ExternalName instead of 'knative-local-gateway.istio-system.svc.cluster.local':
[code]

but in

[2021-12-09 12:11] skonto commented on #12409
@obailiumingo could you explain what error you see (referenced in the title) and what is the revision scale you expect?
I dont really understand how autoscaler ha is related here?

How do you do that? Manually?

[2021-12-09 14:12] jewscojacquez commented on #12410
Nak3, you are so impressive! thanks a lot, appreciate your help.

[2021-12-09 14:12] #12410 closed

[2021-12-09 15:19] mbrancato opened #12414 "Queue proxy unexpected timeout and 502 response"
## What version of Knative?

0.25

## Expected Behavior

Queue proxy should only hit a timeout if the `revision-timeout-seconds` setting is reached.

## Actual Behavior

The `revision-timeout-seconds` is the default, 300s. The upstream client has a 20s timeout, and will log / record a metric if a timeout is reached. The queue proxy is returning a timeout and "EOF" error, but this is happening with

[2021-12-09 15:37] nak3 commented on #12413
Hi @petolexa

The following logs should be produced by Serving controller not net-istio-controller.

[code]

Did you install Knative via operator and configured `spec.registry.override like?
[code]

operator has a famous bug https://github.com/knative/operator/issues/519 and current docs https://knative.dev/docs/install/operator/configuring-serving-cr/#download-images-individually-without-secrets

[2021-12-10 01:23] #11404 closed

[2021-12-10 11:29] skonto commented on #12414
Hi @mbrancato the error handler is part of the `ReverseProxy` definition. 502 (Bad Gateway) is returned if the reverseproxy got an invalid response from the upstream server. Could it be that the application fails for some reason?

[2021-12-10 12:15] skonto commented on #12355
@CWL-1688 gentle ping.

[2021-12-11 11:09] JCzz opened #12421 "Why one Dockerfile "Readiness probe failed:" and another do not?"
kubectl version --short
[code]

This Dockerfile give "Readiness probe failed":
[code]

Deploying a simple knative service:
[code]

## Error
kubectl describe pod dockerfile-micro-depend-dhv8n-deployment-796484d788-hwpmm
[code]

## Working:
Then I found [this "official" example](https://github.com/knative/docs/tree/main/docs/serving/samples/hello-world/helloworld-go)   and used the Dockerfile, and i

[2021-12-11 15:40] mbrancato commented on #12414
Hi @skonto - Yeah, I agree something is failing fast. It's a bit confusing why a stacktrace ending in a timeout error is not the actual cause.

I've looked into this a little more, and here is what I can say. This is experienced across multiple Knative services (only two deployed right now), and the underlying containers are not reporting errors handling requests. While this was happening, I looke

[2021-12-11 20:03] jakemalachowski opened #12422 "Unexpected revision GC behavior when max-non-active-revisions is not set"
## In what area(s)?

/area API

## What version of Knative?

v0.25.x

According to the [docs](https://knative.dev/development/serving/configuration/revision-gc/#immediately-collect-any-inactive-revision), the following config map should clean up any inactive revisions. However, when not set, `max-non-active-revisions` defaults to 1000 revisions and the [garbage collector returns early](https://git

[2021-12-12 01:24] #11801 closed

[2021-12-12 15:44] #12421 closed

[2021-12-13 08:28] petolexa commented on #12413
Hi @nak3,

thank you for your response and for pointing me to the right direction. It works now!

Sorry it took me a while to respond, because we had to go through the issue and to play a round a bit with the image names/annotations, but this setup works for us:
[code]

From my point of view, we can close this issue.

[2021-12-13 08:52] nak3 commented on #12413
Thank you. Yes, your configuration is correct now.
Please be careful that operator designed some configuration with "container" based settings :sweat: https://github.com/knative/operator/issues/860 is also similar one.

I'm closing this issue but please feel free to open a new issue if you got any new trouble.

[2021-12-13 08:52] #12413 closed

[2021-12-14 12:05] knative-test-reporter-robot opened #12428 "[flaky] pkg/reconciler/labeler.TestV2Reconcile/no_ready_revision"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/labeler.TestV2Reconcile/no_ready_revision
* **Repository name**: serving

[2021-12-14 12:05] knative-test-reporter-robot opened #12429 "[flaky] pkg/reconciler/labeler.TestV2Reconcile/steady_state"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/labeler.TestV2Reconcile/steady_state
* **Repository name**: serving

[2021-12-14 12:05] knative-test-reporter-robot opened #12430 "[flaky] pkg/reconciler/labeler.TestV2Reconcile/label_pinned_revision"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/labeler.TestV2Reconcile/label_pinned_revision
* **Repository name**: serving

[2021-12-14 12:05] knative-test-reporter-robot opened #12431 "[flaky] pkg/reconciler/labeler.TestV2Reconcile/transitioning_route"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/labeler.TestV2Reconcile/transitioning_route
* **Repository name**: serving

[2021-12-14 12:05] knative-test-reporter-robot opened #12432 "[flaky] pkg/reconciler/labeler.TestV2Reconcile/bad_workqueue_key"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/labeler.TestV2Reconcile/bad_workqueue_key
* **Repository name**: serving

[2021-12-14 12:05] knative-test-reporter-robot opened #12433 "[flaky] pkg/reconciler/labeler.TestV2Reconcile/label_runLatest_configuration"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/labeler.TestV2Reconcile/label_runLatest_configuration
* **Repository name**: serving

[2021-12-14 12:05] knative-test-reporter-robot opened #12434 "[flaky] pkg/reconciler/labeler.TestV2Reconcile/key_not_found"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/labeler.TestV2Reconcile/key_not_found
* **Repository name**: serving

[2021-12-14 16:22] andrew-waters opened #12435 "Node bin packing when scaling down"
## Ask your question here:

When scaling down a workload on a dedicated node pool, we have observed that the nodes can be left over provisioned. For example, if a single node can accommodate 10 workloads (and we regular see 100-200 nodes in the pool), we will often see 2 or 3 pods on a single node for many tens of nodes.

Is there a recommended practice for reconciling these, outside of us writing

[2021-12-14 16:27] andrew-waters commented on #12414
I'm not sure if it matches your workload @mbrancato but we've just mitigated similar symptoms by running our workloads on smaller, but more, machines. We had issues with file descriptors that manifested the same way. Changing to smaller boxes reduced the number of open files on each machine which eliminated our 502's

[2021-12-14 16:37] dicolasi opened #12436 "Pull images from a private repos with custom service account"
## Describe the feature
I need to pull images from a private github registry, in a cluster where all my  knative services have their own service account. The  relative documentation page  (https://knative.dev/docs/serving/deploying-from-private-registry/#deploying-images-from-a-private-container-registry) clearly states:

[code]
 It would be nice a mechanism to inject the secret containing the reg

[2021-12-14 16:40] julz commented on #12436
Hi @dicolasi - can you explain why setting up the `default` service account in whichever namespace your Knative Service is deployed in does not work for your use case (assuming your use case is "make it so any Knative Service in namespace A that does not explicitly override the serviceAccountName should use a default service account to access credentials")?

[2021-12-14 17:07] dicolasi commented on #12436
Each service can only access its own secrets and configurations, hence the reason not to use default service account.

[2021-12-15 05:32] inventionlabsSydney opened #12437 "SSL AutoTLS - wrong status code '525', expected '200'"
[code]

Service deployed with domain-mapping receives the following:

[code]

[code]

Because of this, the ACME solver for the certificate cannot run:
[code]
Certificate Request:
[code]
Order:
[code]

Challenge:
[code]

You can see that the istio-envoy isn't allow the http-01 challange with the error code 525.

Could I please have some assistance solving this, I am really starting to pull my hair

[2021-12-15 09:36] julz commented on #12436
FWIW I'm trying to square wanting each service to have access to its own secrets and configurations with wanting them all to share the _same_ image pull secrets. Can you say more about why it's important for them to have independent secrets, but not independent imagePullSecrets (assuming that's the key difference here?).

I think this is something of a generic Kubernetes issue: there isn't (afaik,

[2021-12-15 10:01] skonto opened #12438 "Tracking issue for adding PVC support"
## Describe the feature
This is a placeholder for the feature track work described in the related [doc](https://docs.google.com/document/d/1dba1JxwEr6ZWMHtrQI50Ht42aoqjbVNimChglaEKL9M):

Alpha (disabled by default):
 - [ ] Add ReadOnlyMany pvc support in KService
 - [ ] Add e2e test
 - [ ] Add to listed flags [here](https://knative.dev/docs/serving/feature-flags/).

Beta (disabled by default):

-

[2021-12-15 10:47] #10851 closed

[2021-12-15 15:29] almottier commented on #12377
I confirm it is working as expected with knative 1.1.0. You may close this issue @dprotaso , thanks

[2021-12-15 17:17] almottier commented on #12377
Hello @dprotaso ,

The problem occurs after I create a `DomainMapping`, here are my commands:

[code]

my `config-network`:

[code]

my `config-domain`:

[code]

I created a `tls` secret and referenced it in `net-kourier-controller`

[code]

I apply the cert-manager ClusterIssuer:

[code]

and I add the `issuerRef` in `config-certmanager`:

[code]

I deployed a KSVC:

[code]

This is working as ex

[2021-12-15 17:59] nader-ziada commented on #10751
/assign

[2021-12-15 23:27] WilliamDenniss opened #12440 "Pods fail to schedule and see churn/thrashing when running Knative Serving on an autoscaled Kubernetes cluster"
/area autoscale

## What version of Knative?

1.0.0

## Expected Behavior

When I deploy a Knative service on an Autoscaled cluster, and there is no spare allocatable capacity, I expect to see pods created in the Pending state and remain there for some time to allow for actions by the cluster including:
a) preemption of lower priority pods (at the Kubernetes layer)
b) provisioning of more capacity

[2021-12-16 12:05] #12432 closed

[2021-12-16 12:05] #12430 closed

[2021-12-16 12:05] #12429 closed

[2021-12-16 12:05] #12431 closed

[2021-12-16 12:05] #12434 closed

[2021-12-16 12:05] #12428 closed

[2021-12-16 12:05] #12433 closed

[2021-12-16 18:16] mattmoor opened #12442 "Add support for GRPC probes"
/area API
/kind spec

## Describe the feature

This is in alpha in K8s 1.23.
https://twitter.com/ahmetb/status/1471530310072475655

Not sure if we fully switched to `startupProbe`, but this will let us route GRPC probes through the `queue-proxy` which is something we couldn't easily do with the `execProbe` path.

cc @dprotaso @julz

[2021-12-17 15:58] JCzz opened #12446 "how to pull from localhost:5000 registry:2 - failed to resolve image to digest"
Hi

How do you pull images from a local registry running on localhost together with the K8s cluster. I installed KinD cluster and a local registry following this: https://kind.sigs.k8s.io/docs/user/local-registry/

And of course installed Knative, with a verified running service from a gar.io registry.

I can also easy use the following from localhost registry:
`kubectl create deployment hello-ser

[2021-12-17 16:06] #12446 closed

[2021-12-17 16:06] JCzz commented on #12446
I missed the _example key

[2021-12-17 19:13] pramenn commented on #11645
@impl I am running into similar issue where creating new revisions fail due to envoy cluster name longer than 63 characters resulting in invalid metadata labels error. Removing namespace from cluster name would definitely help.

Current envoy cluster format: <revision name>_<namespace>_<port>
Requested envoy cluster format: <revision name>_<port>

[2021-12-17 19:16] pramenn commented on #11645
/reopen

[2021-12-17 19:17] pramenn commented on #11645
/remove-lifecycle stale

[2021-12-20 01:24] #11844 closed

[2021-12-21 07:31] simonkrenger commented on #11906
/remove-lifecycle stale

Keeping this open to track the implementation of the E2E encryption.

[2021-12-22 12:04] knative-test-reporter-robot opened #12452 "[flaky] pkg/reconciler/serverlessservice.TestGlobalResyncOnActivatorChange"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/serverlessservice.TestGlobalResyncOnActivatorChange
* **Repository name**: serving

[2021-12-22 23:04] jewscojacquez opened #12453 "Exposing Kiali/Grafana under Knative and Istio"
## Ask your question here:
Hello,

I have been trying to expose Kiali and Grafana external to cluster and I have not been successful.

I can hit any knative function from externally with FQDN or via Header without problem.

I am following this URL https://istio.io/latest/docs/tasks/observability/gateways

From inside the pods, I can hit the page http://grafana:3000 or grafana.istio-system.svc.clus

[2021-12-23 01:24] #11854 closed

[2021-12-23 12:04] knative-test-reporter-robot opened #12455 "[flaky] kubetest2.Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: kubetest2.Test
* **Repository name**: serving

[2021-12-23 12:04] knative-test-reporter-robot opened #12456 "[flaky] pkg/reconciler/route.TestNewRouteCallsSyncHandler"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestNewRouteCallsSyncHandler
* **Repository name**: serving

[2021-12-23 12:04] knative-test-reporter-robot opened #12457 "[flaky] pkg/reconciler/configuration.TestNewConfigurationCallsSyncHandler"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/configuration.TestNewConfigurationCallsSyncHandler
* **Repository name**: serving

[2021-12-24 01:23] #11862 closed

[2021-12-25 12:04] #12452 closed

[2021-12-27 04:47] ShixiongQi opened #12459 "Where the Knative specify the mount path as Read Only?"
## Ask your question here:

May I ask where the Knative specifies the ReadOnly flag in the container's volumes? It looks like Knative forces the container's volumes as ReadOnly. Can anyone point me out where it specifies the ReadOnly flag in the container's specification? Thanks.

[2021-12-27 12:14] skonto commented on #12459
Hi @ShixiongQi in revision we set some default values. [Here](https://github.com/knative/serving/blob/d5d489c0babd5c9ae9a37d707c06df92d70711f5/pkg/apis/serving/v1/revision_defaults.go#L140) is the specific line for volumes. Knative adds constraints for several reasons including security. There is ongoing work to allow pvc support check [here](#12438). Laterst discussion on the topic [here](https:/

[2021-12-28 17:31] ShixiongQi commented on #12459
The pointer is helpful. Thank you very much, Stavros :)

[2021-12-28 17:31] #12459 closed

[2021-12-28 23:58] JCzz opened #12461 "cert-manager domainMapping - DomainAlreadyClaimed"
Looking at: https://knative.dev/docs/serving/services/custom-domains/

I have cert-manager working on Knative services generated, but I can not figure out how to setup domainMapping so I can map my domain.com to Knative Service like `default.some-service.mydomain.com`?

Note: automatic creation of ClusterDomainClaims is true

I have added(Kubectl apply -f):
[code]

kubectl get domainmapping mydoma

[2021-12-29 00:07] JCzz commented on #12461
Works if I

[2021-12-29 00:07] #12461 closed

[2021-12-29 01:23] #11889 closed

[2021-12-29 02:44] psschwei commented on #11835
/remove-lifecycle stale

[2021-12-29 08:54] Shashankft9 opened #12462 "Liveness probe failing with 400"
## What version of Knative?

v1.1.0

## Expected Behavior

I have defined liveness and readiness probe on the ksvc, looks like this:
[code]
I am handling these paths in the go code. I was expecting that it should work out like any other pod.

## Actual Behavior

It all works in v0.25 knative, but when I am testing this on the newer v1.1.0, the ksvc pod looks fine for first 5-10 seconds, but after

[2021-12-29 12:04] knative-test-reporter-robot opened #12463 "[flaky] pkg/reconciler/metric.TestReconcileWithCollector"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/metric.TestReconcileWithCollector
* **Repository name**: serving

[2021-12-30 20:24] JCzz opened #12465 "Can you use different domains on different services or namespaces"
I have different domains I would like to use for different namespaces.

area networking

## Ask your question here:

I am using cert-manager and I know I can use a `ClusterDomainClaim` and a `DomainMapping` for one domain, but if I try to use another domain than defined in `configmap/config-domain` I get `Kubectl get DomainMapping - DomainAlreadyClaimed`.

1. Is it possible to map more than one do

[2021-12-30 22:28] #12465 closed

[2022-01-01 01:25] #11898 closed

[2022-01-02 11:34] arumugaguru-mindtree commented on #11544
Hi @tzstoyanov ,

Can you please share the steps on how you resolved the above issue. I am too hitting into the same issue

Thanks.

[2022-01-03 05:38] arumugaguru commented on #11544
Hi @tzstoyanov,

Can you please share the steps you have used to solve this problem, we are also hitting the same issue

Thanks,
Guru

[2022-01-03 08:20] skonto commented on #12060
/remove-lifecycle stale.

[2022-01-03 13:28] skonto commented on #12440
Hi @WilliamDenniss I am not sure about the GKE autopilot behavior but creating a service that cannot have any pods scheduled due to lack of resources has the following behavior (at least on my local setup on minikube):
a) as with any Knative service a number of resources are created, among others a k8s deployment and Knative scaling resources related to the desired number of replicas of the deploy

[2022-01-03 15:18] QuickWorkDeveloper opened #12466 "Network policies concern with activator"
/area networking

Currently, the documentation of Knative indicates that irrespective of what you use either Network Policies or Istio’s Authentication policy, you will need to whitelist traffic from the Knative-serving namespace for the activator to snip up the service and then queue up the request.

However, if we allow traffic to knative-serving namespace, it allows any other namespace to bypas

[2022-01-03 15:19] QuickWorkDeveloper commented on #12466
@pierDipi Do you have any insights on this matter?

[2022-01-03 15:30] pierDipi commented on #12466
Hi @QuickWorkDeveloper, this is still an issue since all traffic is routed through the activator when scaling from 0.

Related: https://github.com/knative/serving/issues/11121

cc @rhuss @skonto @nak3 @nainaz

[2022-01-03 16:18] rhuss commented on #12466
@QuickWorkDeveloper you have a very valid point here and Knative struggles with a multi-tenant setup via `NetworkPolicies`. See this little slide deck for a quick overview of the situation and possible solutions: https://docs.google.com/presentation/d/10mECPjO2iuPEiGgOpdf26sDQjStZeoYUtkk61nBf-OE/edit#slide=id.p

Actually, the issue is not only mainly Activator (you could establish a trust-relation

[2022-01-03 16:31] QuickWorkDeveloper commented on #12466
@pierDipi @rhuss  I understand. Thanks a lot for the insight. I have requested access to these resources you have shared, would love to have a look and see what we can do.

[2022-01-03 16:42] rhuss commented on #12466
I opened the presentation for everyone, for the meeting notes you would need to joining the knative-dev or knative-users google group, e.g. https://groups.google.com/g/knative-dev (like for any other WG related content).

[2022-01-03 17:19] skonto commented on #12466
FWIW, until this is properly resolved from a multi-tenant pov, I suspect that it might be possible to restrict traffic access for certain scenarios using  [X-Forwarded-For capability](https://istio.io/latest/docs/ops/configuration/traffic-management/network-topologies/#example-using-x-forwarded-for-capability-with-httpbin) and the [remoteIpBlocks](https://istio.io/latest/docs/tasks/security/author

[2022-01-03 17:33] QuickWorkDeveloper commented on #12466
@skonto Would it make more sense to use [X-Forwarded-Client-Cert](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/headers#id16) with a custom envoy filter to identify the namespace and reject traffic accordingly? This way we won't have to manage IP-pools per namespace?

[2022-01-03 18:36] skonto commented on #12466
@QuickWorkDeveloper interesting, worth to try for sure :)

[2022-01-04 09:25] tzstoyanov commented on #11544
Hi @arumugaguru,
Unfortunately, the Kubernetes issue is still opened - there is no way to control the `ndots` parameter globally, for the whole cluster (or at least I cannot find how to do it). I found a workaround for my use case:
- The problem was caused by `search <my domain>` option in `resolv.conf` from my host. The same file is used in any newly created container.
- Passed a custom `resolv.c

[2022-01-04 12:24] julz commented on #12462
Hi @Shashankft9 - could you share details of how /health/liveness and /health/readiness are implemented. In particular are these endpoints working if accessed directly, is there any delay before they start reporting success etc, and do they listen on the same port as other endpoints in the user container? Also do you have Istio mesh enabled in this environment? If you could share an (ideally minim

[2022-01-04 12:26] julz commented on #12048
/remove-lifecycle stale
/reopen

[2022-01-04 13:25] Shashankft9 commented on #12462
Hey,
Yeah both the paths are configured on the same port as the port of user-container `8080`, and yes both the paths are accessible through the pod IP and the port until the pod goes into `CrashLoopBackOff`.
Regarding implementation, I have:
[code]
and then these 2 handlers are just doing `w.WriteHeader(http.StatusOK)` for simplicity.

You can try reproducing this issue through this yaml:
[code]

[2022-01-04 13:57] julz commented on #12462
assuming the fact you have a separate healthz and readyz implies they both do something more interesting than return 200 in all cases, are you able to share the code behind them (or an outline of what they do)? If you replace them with an endpoint that does always return 200, does anything change?

Also could you confirm whether Istio mesh is enabled or not? Thanks!

The port should be automatical

[2022-01-04 14:18] Shashankft9 commented on #12462
oh sorry, I thought I mentioned about mesh in the previous message - no I dont have istio mesh enabled.
In the image I shared above, it actually always returns 200:

[code]

[2022-01-04 16:02] skonto commented on #12462
@julz I am able to reproduce it on minikube with a trivial service. [Here](https://gist.github.com/skonto/ad88ed63d193b38beb9e43425f6a6e85) is the probe log entries at the queue proxy side.
At some point I see:
[code]
Code and service def [here](https://gist.github.com/skonto/269acb4a1a85b6b9275343d653dbf3f3).

[2022-01-04 17:21] norbjd commented on #12377
Hello :wave:,

Bumping this because I have the same issue as @almottier have. I'm using knative 1.0.1, kourier 1.0.1 and net-certmanager 1.1.0. The configuration looks exactly the same as @almottier have.

After adding a `DomainMapping`, the previous https URL (here https://hello.my.great.domain.tld) does not work anymore (http is OK though):

[code]

I got the following result when inspecting cer

[2022-01-04 18:49] kobayashi opened #12471 "Broken links to kubernetes api in docs"
The [reference page in docs](https://knative.dev/docs/reference/api/serving-api/) has broken links to kubernetes api docs.
This is described in https://github.com/knative/docs/issues/4610

## What version of Knative?

knative-v1.1.0-8-g278af32f2

## Expected Behavior

Referencing the links to kubernetes api documents is working.

## Actual Behavior

Broken links to kubernetes api v1.18 documents

[2022-01-04 20:04] dprotaso commented on #12377
Kourier issue is here: https://github.com/knative-sandbox/net-kourier/issues/740

I'll leave this one open to track

[2022-01-04 22:09] skonto commented on #12462
The error I see is the following (used the original service and used --v=4 at the kubelet sisde):
[code]

[2022-01-04 22:34] mbrancato opened #12474 "Webhook YAML causes constant config drift"
## What version of Knative?

Also present in the latest code.

## Expected Behavior

Applying a resource should put it into a state where it can applied multiple times without making changes to the resource. This is a primary benefit of declarative config with Kubernetes.

## Actual Behavior

Certain resources are causing constant config drift, possibly because the manifests are not following the

[2022-01-05 00:09] steren opened #12475 "Revisions are immutable but image in their spec don't capture a digest"
/area API
/kind spec

A core idea of the Knative resource model is that Revisions are immutable, i.e. developers do not update Revisions, they update a Configuration or Service resource that will as an outcome create Revisions. Revisions contain the configuration and the container image(s).

Because Revision are immutable, so should be the container they capture. So if an image is referenced by ta

[2022-01-05 01:38] mbrancato commented on #12474
The expansion is being performed against `apiGroups` and `apiVersions`. I've manually modified the install manifest as a work around, and opened a corresponding issue upstream. https://github.com/kubernetes/kubernetes/issues/107318

[2022-01-05 03:53] nak3 commented on #12475
I have been having the same question.
A real issue could happen is that users may fail to restore revisions with the same image from the yaml backup.
I opened the report https://github.com/knative/serving/issues/5821#issuecomment-552343609 but had no progress.

[2022-01-05 11:15] julz commented on #12462
interesting, thanks for digging in to this @skonto! What I don't quite follow is if I'm reading it right previously if ph was "" it would call next.ServeHTTP but next (the removed final parameter) was nil before the PR 🤔. Do you understand how/why that works? (Or what I'm missing 😅)

<img width="619" alt="image" src="https://user-images.githubusercontent.com/354013/148208911-d4b16dbb-21f8-4958-b13

[2022-01-05 16:25] julz commented on #12462
right, I understand why it fails, I just don't think I quite follow why the old code worked in this case. Previously in this case ph was == to "" so we called next.ServeHTTP, but wasn't `next` nil (since it was set to `var healthcheckHandler http.Handler`)? Does a nil http.Handler happen to do something sensible somehow?

[2022-01-05 16:38] skonto commented on #12462
Yeah sorry misread, also deleted my comment not fast enough I guess. My understanding is that we dont need the handler next since we can stop at the healthcheck side of the draing, it is a probe and can be handled there. In the past though we didnt have the logic of the drainer and we directly passed the composedHandler in that probeHandler [here](https://github.com/knative/serving/blob/46f4182084

[2022-01-05 16:46] julz commented on #12462
ahhh ok I think I see now: suspect this was broken by https://github.com/knative/serving/pull/12033 not https://github.com/knative/serving/pull/12318. As of https://github.com/knative/serving/pull/12033 we could end up in drainer with `ph == ""`, and it would have then hit a NPE. https://github.com/knative/serving/pull/12318 changed that so instead of a NPE we get a 400 error, but the correct beha

[2022-01-05 17:23] skonto commented on #12462
I am off for the rest of the week so feel free :)

[2022-01-05 18:10] steren commented on #12475
Right, it seems we are many to agree that it would make sense to capture the digest in the Revision spec.

I guess we would consider this a backward compatible change if we decided to do it.

Maybe @mattmoor or @sixolet have more context to share about why it was decided to capture image tags in the Revision spec?

[2022-01-05 18:20] #12453 closed

[2022-01-05 18:27] mattmoor commented on #12475
Personally I think tags have no place in declarative APIs and should be banned everywhere, but doing this just for Revisions seems like a less extreme compromise.  😉

Pretty sure we discussed this a long time ago (maybe with @dgerd?) but I'm not sure it had enough motivation to actually change the behavior.

cc @dprotaso who owns this decision now.

[2022-01-05 21:31] dprotaso commented on #12475
I'm in favour of this.

/triage accepted
/milestone "Icebox"

An observation I have is that this makes `Revision.status.imageDigest` property redundant (and the newer container statuses) for newly baked revisions. I wonder if it's worth migrating existing revisions with the goal to drop those fields long term (ie. v2).

[2022-01-05 22:02] dprotaso commented on #12474
Our webhook framework/libs perform this mutation for a few reasons
1) Managing/rotating the webhook's certificate so we update the clientConfig
2) Allowing the webhook to be built programmatically (easier for us)

It's because of 2) that you're seeing the mutation - prior our webhooks config had no rules where populated by our controllers but it resulted in a race where Knative resources could be

[2022-01-05 23:45] dprotaso commented on #12462
cc @nader-ziada

[2022-01-05 23:46] dprotaso commented on #12462
/triage accepted
/milestone Icebox

[2022-01-06 00:07] odinnordico commented on #8288
I have an special use case related to this, i need to run health checks on a different port than the serving port but as per validation added by #12225 it is only allowed probes to be in same port as serving

[2022-01-06 00:07] evankanderson commented on #8288
/reopen
/good-first-issue

[2022-01-06 00:11] evankanderson commented on #8288
The notion here seems to be that you don't want to expose (for example) the health or liveness probes to external application consumers, but you _do_ want  to be able to have that communication channel between the infrastructure and the application. The way you would express that would look something like (showing only `PodSpec` fields):

[code]

With the intent that `GET /health` on the main serv

[2022-01-06 00:15] mattmoor commented on #8288
If the user specifies a probe on a separate port, then I think a tcp probe on the main port (via the QP) should still be defaulted.  For the portless option, we rewrite it to test the QP path.

[2022-01-06 00:18] evankanderson commented on #8288
What if it is a `tcpProbe` on a separate port?

I think the `PodSpec` only allows a single readiness / liveness probe, though we could obviously manage things differently in the queue-proxy.

[2022-01-06 00:27] mattmoor commented on #8288
Yes, that's exactly what I mean.  I think the single probe thing is from our validation, not K8s.  Worth confirming, and probably relaxing.

(on a completely unrelated note, I'm very excited for the GRPC probing stuff 🤩 )

[2022-01-06 01:26] #11810 closed

[2022-01-06 02:57] odinnordico commented on #8288
What would happed if the probes are in an application context of management which is different from main app context (serving) and, each context is exposed in different ports, the management context besides the probes has other app settings so the port should be available to operators to changes those management settings, i would need at least two `containerPort` one for the app serving and the ot

[2022-01-06 03:00] mattmoor commented on #8288
Right, that is why I think we should relax things (assuming K8s allows it, which seems likely given it is a list).

[2022-01-06 05:06] krishadvani commented on #12466
We were able to resolve this issue with a combination of Egress Network Policies and X-Forwarded-For + RemoteIPBlocks in Istio's authorization policy.

Do note that if the request is getting forwarded by the activator and it has an Istio/Envoy sidecar injected, you need to create an EnvoyFilter to set `use_remote_address: true` in-order to receive the X-Forwarded-For Header in your destination ser

[2022-01-06 05:07] #12466 closed

[2022-01-06 08:19] julz commented on #12462
/assign

[2022-01-06 14:16] julz opened #12480 "No test coverage for liveness probes"
## Describe the feature

While we currently have tests for [user-supplied readiness probes](https://github.com/knative/serving/blob/main/test/conformance/runtime/readiness_probe_test.go), we don't have much (~any :)) e2e/conformance coverage for user-supplied liveness probes. After https://github.com/knative/serving/pull/12479 knative should _largely_ leave liveness probes alone (previously we rou

[2022-01-06 16:53] #12462 closed

[2022-01-07 01:26] #11944 closed

[2022-01-07 10:37] edwardzjl commented on #10115
I have a similar issue and restart gateway pod works. Thanks!

[2022-01-07 14:10] nader-ziada commented on #12480
/assign

[2022-01-07 15:38] #12471 closed

[2022-01-07 15:39] arbourd commented on #12063
/remove-lifecycle stale

[2022-01-07 18:38] amandahla commented on #10001
@psschwei Do you mind if I give it a try here? :-)

[2022-01-07 18:50] psschwei commented on #10001
Nope, have at it!

[2022-01-07 19:06] amandahla commented on #10001
/assign amandahla

[2022-01-07 22:20] Richardmbs12 opened #12483 "Knative + Kourier - use with AWS App Mesh"
Hi there.

Problem statement: Use knative + Kourier with AWS App Mesh sidecar injection

Detail:

We know its possible to use Istio's Service Mesh (sidecar injection) with Knative.
I have also seen resources to do the same with Linkerd.

It would be great if we can get the same for AWS App Mesh.

Ive tried injecting the envoy sidecar with Knative + AppMesh. The sidecar injects and the pod starts u

[2022-01-08 01:24] #11964 closed

[2022-01-08 01:24] #11955 closed

[2022-01-08 12:05] #12264 closed

[2022-01-10 13:43] holoed opened #12484 "Autoscaling to Zero gets sometimes stuck"
## Expected Behavior
Autoscaler to Set Replica Desired Pod count to zero after no HTTP traffic for a few days.

## Actual Behavior
Autoscaler Replica Desired Pod count stays above zero for days even though there is no HTTP traffic

## Steps to Reproduce the Problem

1. AKS Knative 1.1.0
2. A few knative services orchestrated through knative eventing
3. Every once in a while one or few services don

[2022-01-10 19:33] nader-ziada commented on #12484
Can you please give more details about how you created your cluster and your configuration so we can try to reproduce the issue?

[2022-01-10 20:13] evankanderson commented on #12475
I think this also affects [our documentation](https://knative.dev/docs/serving/configuration/deployment/#skipping-tag-resolution), and may affect some users with one of the following conditions:

* Unable to grant image resolution permissions to the Knative controller (relying on Docker authorization / permissions in the underlying CRI environment). This sucks, but is definitely real.
* Registries

[2022-01-10 20:14] evankanderson commented on #12475
If the goal is to change the _spec_ to never allow un-resolved tags in a Revision, this should probably be opened in https://github.com/knative/specs. I'd certainly support _SHOULD_ language there, but _MUST_ language would suggest that users with either of the above brokenness in their environment have to resolve tag-to-digest by hand before submitting API requests, which feels a bit punitive.

[2022-01-11 12:05] knative-test-reporter-robot opened #12487 "[flaky] test/ha.TestActivatorHAGraceful"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/ha.TestActivatorHAGraceful
* **Repository name**: serving

[2022-01-11 14:34] Shashankft9 commented on #12480
hey @nader-ziada have you already started on this? if not (and also if this issue is not a priority), I would like to make an attempt towards this :)

[2022-01-11 14:40] nader-ziada commented on #12480
hey @Shashankft9 I briefly looked at it, but now working on a different PR, please go ahead and take it over if you would like

[2022-01-11 19:03] evankanderson commented on #8288
@mattmoor / @odinnordico

[`Container`](https://github.com/kubernetes/kubernetes/blob/2dd8ae8fb055231eae9600cff26ae84116f4cfa2/pkg/apis/core/types.go#L2157) has `LivenessProbe`, `ReadinessProbe` and `StartupProbe` fields, which are all of type [`*Probe`](https://github.com/kubernetes/kubernetes/blob/2dd8ae8fb055231eae9600cff26ae84116f4cfa2/pkg/apis/core/types.go#L2064) (which means only a single p

[2022-01-11 19:45] mattmoor commented on #8288
I think I was (incorrectly) remembering it as a list field (like ports!), so my bad.

[2022-01-11 20:44] nader-ziada opened #12490 "[flaky] unit test/TestGlobalResyncOnUpdateDomainConfigMap"
/area test-and-release

The `TestGlobalResyncOnUpdateDomainConfigMap` unit test have failed several times in the action workflow `Test / Unit Tests (1.17.x, ubuntu-latest) (pull_request)` in a few PRs in serving within the last few days, its not consistently failing

[2022-01-11 22:59] evankanderson commented on #8288
Do you actually want to serve end-user traffic on multiple ports, or simply `bind()` and `listen()` on those ports?

Knative doesn't prevent the second, but feels pretty strongly that a pod has exactly one port which receives outside traffic for the purposes of scaling and concurrency (the first case).

[2022-01-12 11:49] skonto commented on #12387
Hi @adriangudas could be the known Golang issue, however let's make sure you dont see any errors at the user container side eg. application closed the connection for some reason.

[2022-01-12 12:05] knative-test-reporter-robot opened #12495 "[flaky] pkg/reconciler/autoscaling/kpa.TestGlobalResyncOnUpdateAutoscalerConfigMap"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/autoscaling/kpa.TestGlobalResyncOnUpdateAutoscalerConfigMap
* **Repository name**: serving

[2022-01-12 16:36] #12260 closed

[2022-01-13 10:18] evankanderson commented on #11906
I believe we have an alpha (and maybe beta) design for this in [the Feature Track document](https://docs.google.com/document/d/1XE7UzgQlVVtAb7ULSqOyKCaIHtm8zMF35ainp1JmwyY/edit?resourcekey=0-e1MXRxQaalq-EHW46ZCCWg#heading=h.n8a530nnrb) along with a list of parallel items for networking WG to engage with upstream gateway-api on supporting TLS to upstream ([`backendRef`](https://gateway-api.sigs.k8s

[2022-01-13 10:29] evankanderson opened #12501 "All Hops Encrypted: Activator serving TLS"
Larger description in the [Feature Track document](https://docs.google.com/document/d/1XE7UzgQlVVtAb7ULSqOyKCaIHtm8zMF35ainp1JmwyY/edit?resourcekey=0-e1MXRxQaalq-EHW46ZCCWg#heading=h.n8a530nnrb)

# Summary:

The Activator should support TLS serving if a certificate is mounted to the correct location on the filesystem. It's expected this would be managed and exposed by the cluster administrator for

[2022-01-13 10:31] evankanderson opened #12502 "All Hops Encrypted: Queue-Proxy serving TLS"
Larger description in the [Feature Track document](https://docs.google.com/document/d/1XE7UzgQlVVtAb7ULSqOyKCaIHtm8zMF35ainp1JmwyY/edit?resourcekey=0-e1MXRxQaalq-EHW46ZCCWg#heading=h.n8a530nnrb)

# Summary:

The queue-proxy should support TLS serving if a certificate is mounted to the correct location on the filesystem. It's expected this would be managed and exposed by the cluster administrator f

[2022-01-13 10:36] evankanderson opened #12503 "All Hops Encrypted: Activator uses queue-proxy TLS if available"
Larger description in the [Feature Track document](https://docs.google.com/document/d/1XE7UzgQlVVtAb7ULSqOyKCaIHtm8zMF35ainp1JmwyY/edit?resourcekey=0-e1MXRxQaalq-EHW46ZCCWg#heading=h.n8a530nnrb)

# Summary:

The Activator should attempt connection to the queue-proxy TLS port and validate the client certificate if TLS is available. If not, it should fall back to the existing HTTP (non-TLS) path.

F

[2022-01-13 10:55] evankanderson commented on #12501
Ref https://github.com/nak3/serving/pull/25 for a prototype

[2022-01-13 10:56] evankanderson commented on #12502
Ref https://github.com/nak3/serving/pull/25 for a prototype

[2022-01-13 10:56] evankanderson commented on #12503
Ref https://github.com/nak3/serving/pull/25 for a prototype

[2022-01-13 11:00] nak3 commented on #11906
Upstream gateway-api supports the TLS to upstream service by the "extension". The docs will clarify it by https://github.com/kubernetes-sigs/gateway-api/issues/968

[2022-01-13 13:31] nader-ziada commented on #12487
/close

[2022-01-13 13:31] #12487 closed

[2022-01-13 20:16] scothis commented on #8288
No, only the primary port should be exposed to ingress traffic and autoscaled for requests. The second port is for management actions that will connect to the container via other means (like a metrics endpoint). The particular use case is for a Spring Boot workload, which hosts the liveness and readiness endpoints with the other management endpoints that we would rather not expose to ingress. Addi

[2022-01-14 01:25] #11892 closed

[2022-01-14 01:25] #11877 closed

[2022-01-14 12:05] #12495 closed

[2022-01-14 16:30] #12097 closed

[2022-01-14 16:30] #12244 closed

[2022-01-14 16:30] #12255 closed

[2022-01-14 16:30] #12353 closed

[2022-01-14 16:30] #12356 closed

[2022-01-14 17:58] philschmid opened #12511 "Activator is not collection metrics of knative service"
The activator is not collecting `request_*` metrics from running knative services. When I deploy a new knative service `activator_request*` are not showing up. But when forwarding the `queue-proxy` pod and going to `/metrics` they are available.

## In what area(s)?
/area monitoring

## What version of Knative?

1.0.0

## Expected Behavior

activator to collect/provide the metrics.

## Actual Beha

[2022-01-14 18:11] philschmid commented on #12511
I am not an expert and i assume that queue-proxy `/metrics` `revision_app_request_count` is the value i see in  activator `/metrics` `activator_request_count` if those are two different metrics. Then the issue that the activator is not creating the `revision_app_request_count` for the deployed service.

[2022-01-14 18:49] philschmid commented on #12511
I also tested to deploy the `hello_world`
[code]
and then forward the port of it wit
[code]
send some requests and then checked the activator, no metrics for `request_*` for this service

[2022-01-14 19:07] nader-ziada commented on #12511
The activator metric `request_count` is the `The number of requests that are routed to Activator.
These are requests that have been fulfilled from the activator handler.` while the queue proxy revision_app_request_count is the `The number of requests that are routed to user-container`

so the number doesn't have to be the same based on having the activator in the request path which depends on scal

[2022-01-14 19:27] philschmid commented on #12511
Thank you for the response @nader-ziada.

but I am not getting any `acivator_request_*` metrics when deploying a new service, e.g. `hello-world` as explained in: https://github.com/knative/serving/issues/12511#issuecomment-1013372345.
I have 1 service running when i request it i see the metrics in the activator pod at `/metrics` but for all new service i don't

[2022-01-14 19:44] nader-ziada commented on #12511
I guess I'm wondering if requests are going through the activator since I noticed in your yaml here
`autoscaling.knative.dev/minScale: "1"` which means the pod is not deleted

[2022-01-14 19:55] philschmid commented on #12511
Yeah I don't want the service to scale to zero. Does that mean the request are not going through the activator?
It also doesn't work for the hello_world example with is not defining any minScale. There I am also not getting any metrics.

[2022-01-14 20:09] nader-ziada commented on #12511
yeah if the service is not scaling down to zero, the requests don't need to go through the activator, so the The activator metric r`equest_count` which is the The number of requests that are routed to Activator would be zero.

Do you see the hello world service scaled down to zero?

[2022-01-14 20:25] dprotaso commented on #12511
Related: You _can_ configure when the activator in the data path - details here: https://knative.dev/docs/serving/load-balancing/target-burst-capacity/

[2022-01-14 21:03] philschmid commented on #12511
Yes, it does, which is a bit odd.

Does don't need, mean not going through or might not go through.

Either way, what is then best practice to monitor services? Should I set up another servicemonitor scrapping the queue-proxy endpoint?

[2022-01-14 21:20] nader-ziada commented on #12511
maybe this here https://knative.dev/docs/serving/observability/metrics/collecting-metrics/

[2022-01-15 01:24] #12006 closed

[2022-01-15 01:24] #11785 closed

[2022-01-16 01:26] #12014 closed

[2022-01-16 08:26] marcjimz commented on #4579
Is this being tracked anywhere? Not sure why this isn’t supported, as the issues with using PVCs are fairly obvious. Hoping this can be a choice made available soon.

[2022-01-16 12:03] knative-test-reporter-robot opened #12512 "[flaky] 1.12% tests failed in repo serving on 2022-01-16 08:01:07 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.12% tests failed in repo serving on 2022-01-16 08:01:07 +0000 UTC
* **Repository name**: serving

[2022-01-17 04:45] evankanderson commented on #9554
I don't think this belongs in core Knative. I'm doubly suspicious of attempting to standardize OCI metadata labels in Knative that would also have reasonable definitions in upstream Kubernetes. This PR proposes using `LABEL` metadata, but template-file-in-image could be equally feasible (especially since some registries have fairly strict metadata size limits).

Since this doesn't fit well within

[2022-01-17 04:45] #9554 closed

[2022-01-17 11:33] cardil commented on #12149
/remove-lifecycle stale

[2022-01-17 12:04] knative-test-reporter-robot opened #12516 "[flaky] 1.12% tests failed in repo serving on 2022-01-17 08:01:22 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.12% tests failed in repo serving on 2022-01-17 08:01:22 +0000 UTC
* **Repository name**: serving

[2022-01-17 13:19] skonto commented on #12511
Yes that is an option that will handle all request metrics, also if you are using istio or something similar a good point would the ingress as you get more reliable results independently of whether a request hit a service pod or not, or activator.

[2022-01-17 13:39] amandahla commented on #12422
Can I give a try here?

[2022-01-17 14:03] skonto commented on #4579
@marcjimz hi, here #12438

[2022-01-17 16:03] philschmid commented on #12511
Thank you for all your help and insigts! I went with setting up Service + Service monitors for my knative service and collect it with prometheus.

[2022-01-17 16:03] #12511 closed

[2022-01-17 16:07] amandahla commented on #12422
/assign amandahla

[2022-01-18 01:25] #11923 closed

[2022-01-18 07:38] rhuss commented on #9544
/remove-lifecycle stale

While I think it might not be necessary to fix SinkBindings to run with BYO revision names, I also think we should document the restriction somewhere, ideally at the place where the SinkBinding itself is documented.

[2022-01-18 12:04] knative-test-reporter-robot opened #12522 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingWithTBCTest
* **Repository name**: serving

[2022-01-18 12:04] knative-test-reporter-robot opened #12523 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/AutoscaleSustainingTest
* **Repository name**: serving

[2022-01-18 12:04] #12463 closed

[2022-01-18 12:04] knative-test-reporter-robot opened #12524 "[flaky] test/upgrade.TestServingUpgrades/VerifyContinualTests/ProbeTest"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/VerifyContinualTests/ProbeTest
* **Repository name**: serving

[2022-01-18 13:18] holoed commented on #12484
Cluster contains 9 services, connected with Parallel and Sequential flows, deployed on Azure AKS.
Services are written in Python, JavaScript and Scala.

It happened again today.
The log of the Activator pod says:
"Failed probing pods" for the service that is now stuck doing nothing and is not being terminated.
Also says "error roundtripping http://.../healthz: context deadline exceeded"
caller: "n

[2022-01-18 15:52] nader-ziada commented on #12484
does the service have a custom health check? looks from the error posted here that the probe of the pod fails with timeout , 	if so, use a transport that will close the connection after every request here. Otherwise the cached connections will prohibit scaling to zero, due to unsuccessful probes to the Activator.

[2022-01-18 16:30] nader-ziada commented on #12490
haven't seen this failure in the last several runs

/close

[2022-01-19 07:16] DharsanB opened #12527 "Serving with autoTLS and auto redirect to HTTPS does not work"
## What version of Knative?

### 1.1

## Expected Behavior

When a new service is deployed, service URL should be served in HTTP and once HTTPS certificate validation is done, HTTPS and auto redirect to HTTPS should be enabled.

## Actual Behavior

When autoTLS with auto redirect to HTTPS is enabled, the service does not work because before autoTLS verification could be done, auto redirect redirec

[2022-01-19 07:18] jwcesign opened #12528 "For container-freezer, when the pod is launched up, and there is no requests come, freeze request is not sent"
### Fix way
Give a 5s tick, if there is still no requests come, send a freeze request.

cc @julz @psschwei , what u think?

[2022-01-19 07:33] #12528 closed

[2022-01-19 07:38] jwcesign commented on #12528
ok, fixed, my testing problem

[2022-01-19 18:14] arumugaguru-mindtree commented on #11544
Hi @tzstoyanov

Sorry for my late reply, and thanks for sharing the information. I am running with microk8s in GCP private VM and still getting the same issue, if it is ok can you please share what Kubernetes flavor (microk8s, minikube etc.) have you installed and in which OS, so I can try with the same.

[2022-01-20 04:13] tzstoyanov commented on #11544
hi @arumugaguru, I'm using [k3s](https://k3s.io/)  running on bare metal Linux.

[2022-01-20 09:15] rhuss opened #12533 "Multi-tenancy support"
## Problem

Currently, the Knative serving data-plane components *ingress gateway*, *activator*, and *autoscaler* are cluster-singletons and shared amongst all users of a cluster. One implication of this architectural choice is that _every KService can reach every other KService_ within the cluster network-wise, regardless of namespaces or any additional isolation setup via `NetworkPolicy` resourc

[2022-01-20 09:17] rhuss commented on #12533
Related issue: https://github.com/knative/serving/issues/12466

[2022-01-20 13:23] duglin commented on #12533
Another option we're exploring is this:
- we accepted the fact that the activator should always be in the path - for a lot of reasons beyond this issue
- add logic to the activator to block cross-NS traffic by having the activator watch all pods to be able to correlate "client IP"->NS. Then the activator can quickly look up the client IP to see if the NS is the same as the destinion's. Then block

[2022-01-20 14:35] JulesMac commented on #12484
When we see this issue the - Activator log when contains the following repeated log entries (multiple times a second)

{"severity":"ERROR","timestamp":"2022-01-20T13:56:56.175362314Z","logger":"activator","caller":"net/revision_backends.go:396","message":"Failed to probe clusterIP 172.17.208.170:80","commit":"7499ae2","knative.dev/controller":"activator","knative.dev/pod":"activator-6fb68fff7b-d8m

[2022-01-20 18:44] yanweiguo opened #12536 "Allow customized http request headers in conformance tests"
## Describe the feature

Add support for passing customized http request headers as flags into conformance tests so that these headers can be set in  the requests sent to the testing Services.

One user case of this is that using an Authorization token in header to get access to Cloud Run Services. By default, Cloud Run Services are not public after creation and only project owners and editors can

[2022-01-20 23:05] adriangudas opened #12538 "When using a preemptible node pool, preemption events cause rollback to previous revision"
## What version of Knative?

1.0.0

## Expected Behavior

We're attempting to use a preemptible node pool in our sandbox environment with GKE and knative. The sandbox deployments typically run on 1 pod, but occasionally there are 2 or 3 to handle additional request volume.

When a node in a preemptible node pool experiences a preemption event and shuts down, the pods should eventually be re-schedu

[2022-01-21 18:50] dprotaso commented on #12538
Is there a way to trigger this event for testing purposes?

[2022-01-21 20:23] #12400 closed

[2022-01-21 20:50] adriangudas commented on #12538
My guess is you can't - although you can simulate a preemption by [powering off a compute instance](https://cloud.google.com/compute/docs/instances/preemptible#preemption-process), that doesn't seem to apply to GKE instances that are in managed node pools, where the stop option is not available. And presumably `shutdown -h now` is not the same thing, because I tried it, and it doesn't seem to trig

[2022-01-22 01:21] #11969 closed

[2022-01-22 12:18] #12137 closed

[2022-01-23 01:23] #12045 closed

[2022-01-23 01:23] #12042 closed

[2022-01-24 12:04] #12457 closed

[2022-01-24 12:12] julz commented on #12484
Based on the above error the activator is trying to probe the cluster IP for the service on the /healthz endpoint and receiving a 470 status code. That is.. surprising to say the least since I don't think anything in knative should ever send that status code (it's not even a real HTTP status code as far as I know 🤔). Do you have anything interesting network-wise in the setup, e.g. some sort of ser

[2022-01-24 12:16] julz commented on #12484
It would be interesting, when you next see the log message, to try manually curling `172.17.208.170:80` from within the cluster. Does it return a 470 status code? Does it return a body that gives any extra clues?

[2022-01-24 17:35] evankanderson commented on #12538
The [`simulateMaintenanceEvent` API](https://cloud.google.com/compute/docs/reference/rest/v1/instances/simulateMaintenanceEvent) might allow you to emulate this, if you have permissions to call it on an instance.

[2022-01-24 17:38] evankanderson commented on #12484
Is there a service mesh of some sort (or other transparent HTTP proxy) in the configuration?

[2022-01-24 17:56] JulesMac commented on #12484
We are using an AKS cluster in azure following [these](https://knative.dev/docs/install/serving/install-serving-with-yaml/) instructions - using the kourier networking layer (there are a few minor config mods to integrate with azure ingress etc) but as far as we can see this all seems to be 'OK'. Not sure is there are any AKS/Azure specific installation setup recommendation (we've not found that s

[2022-01-24 18:18] evankanderson commented on #12475
Rereading this, I'm also realizing that we can't do the tag-to-digest resolution in a mutating webhook, because there's a fairly tight time limit (30s) for the webhook, but some registries may not always return a resolution in that time (is my recollection from when we were trying to cram this in a webhook).

[2022-01-24 18:21] evankanderson commented on #12475
Question:

If we resolve the tag -> digest in the Configuration and always write the `spec.template.container[n].image` parameter as a digest in the Revision, would this cause tagging a new digest with the tag that's in the Configuration to automatically create a new Revision (re-running the tag -> digest resolution during reconciliation and finding a difference)?

If so, that's potentially a pret

[2022-01-24 18:47] steren commented on #12475
if Configuration's `spec.template` uses a tag, a new Revision should be created only if a change to `spec.template` happens. If the image pointed by a tag changes, this is not a change in `spec.template`

Automatically creating a Revision when a tag is pointing at a new image is not what I am suggesting or what I expect.

I am only talking about capturing the revision digest in its spec instead of

[2022-01-24 18:59] evankanderson commented on #12475
Sorry, I'm trying to work through the logical implications in code of having Revision's `spec` be derived from "Configuration + tag resolution at some point in the past" -- it seems like the Configuration controller would need to store away somewhere what the tag was originally resolved to. Since Kubernetes has no hidden metadata, we would need to put it somewhere on the Configuration or the Revis

[2022-01-24 19:56] psschwei commented on #11488
/assign

[2022-01-24 19:59] odinnordico commented on #8288
Wanted to clarify the outcomes we need to realize here.
We need to address security concerns...

The final pod will have:
1.  a serving port for web traffic that is/can-be exposed to ingress traffic
2. a separate port for management actions to which ingress traffic can be prevented. The traffic to that port needs to go all the way to the service container.

[2022-01-24 22:17] evankanderson commented on #8288
For point 2, I _think_ that you're asking that traffic to the second port is only exposed within the Pod, but if you're asking something different (for example, to directly address individual Pods from another node on the cluster), then loosening the probe restrictions won't be sufficient.

The reason that supporting probes on a different TCP port is more difficult than you might expect is that Kn

[2022-01-24 23:12] odinnordico commented on #8288
Yes, the traffic in 2nd port would within the pod/deployment , not need to be opened outside due to the second port is for management matters, what we wanted to say in 2 is if after the deployment an operator want to do some management to the app then he can connect to the pod on that port and the request would go to app container (it can be through the sidecar).

[2022-01-25 08:15] hanwgyu opened #12551 "Is it possible to do a similar deployment strategy like RollingUpdate in Deployment?"
## Ask your question here:

Is it possible to deploy like a [rolling update](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#rolling-update-deployment) of `Deployment` in Knative Service?

As far as i understand, when start deploying Knative Service, `Route` can be changed after new immutable `Revision` is completely created.
The new `Revision` needs additional resource in ad

[2022-01-25 12:04] knative-test-reporter-robot opened #12557 "[flaky] test/conformance/api/v1.TestRevisionGetAndList"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestRevisionGetAndList
* **Repository name**: serving

[2022-01-25 12:04] knative-test-reporter-robot opened #12558 "[flaky] pkg/reconciler/revision.TestGlobalResyncOnDefaultCMChange"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/revision.TestGlobalResyncOnDefaultCMChange
* **Repository name**: serving

[2022-01-25 17:47] #11488 closed

[2022-01-25 20:03] evankanderson commented on #8471
Some further musings, having seen a second monitoring use-case for this which didn't support the Prometheus annotations -- it's also possible (meaning there's nothing we do to prevent it) to define a Kubernetes Service which references the pods of a Knative Service. If you're aiming to do monitoring (i.e. scrape each Pod) and not provide a central service for managing them, you can create a headle

[2022-01-25 20:06] evankanderson commented on #8471
I only post the above work-around because I worry that the following UX work is substantial:

Additional requirements might include:
1. It shouldn't introduce extra overhead for the single-container, single-port case
2. It should be clear and obvious which container port is the one which is used for determining concurrency for scaling (and which gets the rest of the lifecycle management perks, lik

[2022-01-26 01:25] #12011 closed

[2022-01-26 12:03] knative-test-reporter-robot opened #12561 "[flaky] pkg/reconciler/serverlessservice.TestGlobalResyncOnActivatorChange"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/serverlessservice.TestGlobalResyncOnActivatorChange
* **Repository name**: serving

[2022-01-26 12:03] knative-test-reporter-robot opened #12562 "[flaky] pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/prod-domain.com"
### Auto-generated issue tracking flakiness of test
* **Test name**: pkg/reconciler/route.TestGlobalResyncOnUpdateDomainConfigMap/prod-domain.com
* **Repository name**: serving

[2022-01-26 12:55] joke commented on #10037
Knative release 1.2 requires a minimum K8s version of 1.21.

[2022-01-26 13:32] dprotaso commented on #12377
This should be fixed now - feel free to re-open if there are issues.

[2022-01-26 13:32] #12377 closed

[2022-01-26 13:36] psschwei commented on #10037
@julz if you're okay with it, I can take over this one (I've been working on substituting in a startupProbe for the default readinessProbe, which addresses this)

[2022-01-27 07:41] simonkrenger commented on #11997
/remove-lifecycle stale

[2022-01-27 12:04] #12557 closed

[2022-01-27 15:13] nicolasmingo opened #12564 "Timeout issue on long requests"
/area networking

## Ask your question here:
Hi, I'm trying to use knative functions to make streaming http requests.
It works well but I have an issue with long requests.
After 5 minutes I receive a timeout error on queue-proxy and my request is closed.

I've tried some solutions but I had other issues:
Modify the config-map named "config-defaults" (on knative-serving namespace)
[code]

It works

[2022-01-28 12:05] #12558 closed

[2022-01-28 14:54] dprotaso commented on #12551
There's an annotation to make the implicit rollout occur over a duration - see: https://knative.dev/docs/serving/rolling-out-latest-revision

Otherwise it's best to mark explicit traffic %'s to each revision and perform the rollout using some high level continuous delivery tool

[2022-01-29 12:03] #12562 closed

[2022-01-29 12:03] #12561 closed

[2022-01-30 01:23] #12065 closed

[2022-01-31 03:49] krishadvani opened #12569 "503 on new revision"
/area networking

## What version of Knative?
v1.1

## Expected Behavior

If a serving is running and accepting continuous traffic and during that moment we issue a new revision of the serving, we get 503 errors while the new revision is being rolled out. The serving contains a readiness probe that works fine and responds adequately even after scaling from 0. All subsequent requests after this ini

[2022-01-31 07:49] evankanderson commented on #8288
I'm assuming that you don't mean a human operator ("he" or "she") would be running in some sort of sidecar (I'm not sure if you mean `queue-proxy` or something else when you say "through the sidecar"). Given that the pods may be deleted at any moment and replaced with other pods, I'm guessing that you mean "some sort of control system elsewhere in the cluster would be periodically connecting to th

[2022-01-31 12:38] Shashankft9 opened #12571 "Readiness probe fails if the container restarts after a liveness probe fail"
## What version of Knative?
v1.2

## Expected Behavior
After a liveness probe fail, the container should restart and ideally should start serving the traffic again, just like how it would happen for a k8s deployment.

## Actual Behavior
After the restart from liveness probe fail, the pod starts to fail with readiness probe, and serves no traffic.

## Steps to Reproduce the Problem

ksvc:
[code]

t

[2022-01-31 15:08] odinnordico commented on #8288
Yes @evankanderson you are right, and yes in general all this is about the Actuator endpoints that you linked; by the sidecar i mean the `queue-proxy`; the. management actually can be done by a control system in the cluster as you mentioned or some specific change by a human operator on an emergency debug for example regardless if the pod is being deleted or not, then the actuator endpoints in the

[2022-01-31 16:58] evankanderson commented on #8288
Is it expected that interacting with the management port will change the state of the running application, or is it for observability (including debugging) only?

I'm concerned about the pattern of "start a Pod, need some sort of poke on a management port before it can be Ready / serving correctly" having bad interactions with Knative's lifecycle management. (As one example, if the management serv

[2022-01-31 17:43] odinnordico commented on #8288
it is expected for observability only, not expected the interaction with management change the app status in a way it affects lifecycle

[2022-01-31 18:12] evankanderson commented on #8288
Whoops, just realized that we should continue this discussion in #8471 in terms of supporting containers providing off-Pod endpoints on multiple ports.

The end-resolution here is that we should loosen the probing restrictions to allow probing a different port than the serving port for healthchecks, with the acknowledged risk that the main serving port is actually malfunctioning, but the health-ch

[2022-01-31 21:18] evankanderson commented on #8471
Extracting from an offline conversation:

There are a buncrh of differences between the “serving port” and some of the other ports, and it’s not yet clear exactly how to codify the differences:
## serving port:

- Receives external traffic
  - Utilized by features like auto-TLS and Addressable
- Requests can reach any pod (all pods equivalent)
- Affects traffic scaling
- Concurrency controls
- Sin

[2022-01-31 21:49] csantanapr commented on #12569
Could you provide more details in the area of **reproduction** and **troubleshooting**?

**reproduction**:
- What networking layer are you using? Istio (just a guess)?
- Could you reproduce with a simple web server like nginx or the knative helloworld-go?
- How many replicas/pods are receiving traffic? What's the concurrency set?
- Can you provide a service CR yaml, and any changes to the global s

[2022-02-01 10:44] skonto commented on #8471
Hi @evankanderson

This is something we have been doing downstream for quite some time to avoid the interference with the app requests.
Creating a service with a service monitor is standard way. Having a headless one is [perfectly fine](https://github.com/prometheus-operator/prometheus-operator/issues/1899#issuecomment-421920884).

For Prometheus specifically there are alternatives. In general reg

[2022-02-01 12:04] knative-test-reporter-robot opened #12578 "[flaky] test/conformance/api/v1.TestServiceCreateAndUpdate"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestServiceCreateAndUpdate
* **Repository name**: serving

[2022-02-01 12:04] knative-test-reporter-robot opened #12579 "[flaky] kubetest2.Up"
### Auto-generated issue tracking flakiness of test
* **Test name**: kubetest2.Up
* **Repository name**: serving

[2022-02-01 18:43] psschwei commented on #12215
/assign

[2022-02-01 18:44] psschwei commented on #11835
https://github.com/knative-sandbox/container-freezer is up and running, so closing this issue

[2022-02-01 18:44] #11835 closed

[2022-02-01 18:59] JCzz opened #12581 "How to run grpc_web - using envoy or other?"
Hi

How would you serve grpc_web from Knative?

I have looked at this: https://grpc.io/docs/platforms/web/quickstart/
Using Envoy as a sidecar, but just in caseKnative already have a smarter/easier way :-)

And please if we should use Envoy could you provide an example for the envoy.yaml

I found [this](https://github.com/knative/docs/tree/main/code-samples/serving/multi-container) for serving mul

[2022-02-02 12:04] knative-test-reporter-robot opened #12586 "[flaky] test/conformance/runtime.TestProbeRuntimeAfterStartup/periodSeconds=0"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/runtime.TestProbeRuntimeAfterStartup/periodSeconds=0
* **Repository name**: serving

[2022-02-02 12:41] skonto commented on #12571
@Shashankft9 could you check the kubelet logs about the failure? You need to set log level>=4.

[2022-02-02 13:21] krishadvani commented on #12569
@csantanapr Thanks for the reply.

The problem was indeed with incorrect concurrency counts set on the services which were accepting more requests than it could handle and eventually giving an error 503.

Simply changing the concurrency limit and ensuring enough resources were allocated, this issue would no longer reproduce.

For others who might face this issue, answering the questions

1. We are

[2022-02-02 13:21] #12569 closed

[2022-02-02 14:57] #10001 closed

[2022-02-02 17:03] mukundjalan opened #12588 "Path based routing to multiple services within a cluster"
## Generic Idea
We are deploying 2 instances of same `podSpec` in 2 different namespaces. We want to keep the domain same for both the services but route traffic to them based on the path in the request.

## Current version
Earlier we used to create 2 different sets of `Deployment`, `Service` & `Ingress` objects in different namespaces each to achieve the intended behaviour.
Example - Notice the d

[2022-02-02 18:23] #12435 closed

[2022-02-03 01:22] #12077 closed

[2022-02-03 01:22] #12060 closed

[2022-02-03 01:55] dprotaso commented on #12490
re-opening
https://github.com/knative/serving/runs/5038970099?check_suite_focus=true

[2022-02-03 01:56] dprotaso commented on #12490
[code]

[2022-02-03 02:01] dprotaso commented on #12215
Current plan after talking to @psschwei - we're switching the webhook to use the new labels and will drop the older ones in 1.4

[2022-02-03 05:52] #12536 closed

[2022-02-03 14:24] skonto commented on #12564
Hi @nicolasmingo!

Could you clarify what you mean here a bit? When the revision deployment is created what is copied is the revision's timeoutSeconds field (more on this bellow):
https://github.com/knative/serving/blob/1d9529495e175e7b36d3636d4d5c8739774ef876/pkg/reconciler/revision/resources/deploy.go#L208

To clarify a few points. Copying from config-defaults cm: https://github.com/knative/serv

[2022-02-03 16:37] SharpEdgeMarshall opened #12593 "With min-scale > 1 and activator only the first pod receive traffic"
## What version of Knative?

0.26.0

## Expected Behavior

/kind bug

If you set `min-scale=2` all pods receive traffic

## Actual Behavior

- Only the first pod will receive traffic if there's `activator` proxing reqeusts

## Steps to Reproduce the Problem

Istio Version: 1.11.4
Knative Version: 0.26.0
Kubernetes version: (use kubectl version): 1.21
OS (e.g. from /etc/os-release): bottlerocket

[2022-02-03 19:46] nader-ziada commented on #11078
issue fixed by https://github.com/knative/serving/pull/12550

[2022-02-03 19:55] dprotaso commented on #12422
Circling back here you'll want to set both the min and the max non-active-revisions to immediately gc revisions

ie.
[code]

We explain it here:
https://github.com/knative/serving/blob/997dea3cd481a4eb5d508aacc11fcaee3c23c35d/config/core/configmaps/gc.yaml#L55-L63

In theory you would only need the `max` value but because we default the `min` to 20 you need both

[2022-02-03 19:55] #12422 closed

[2022-02-03 20:12] dprotaso opened #12594 "ConfigMap changes result in multiple webhook invocations"
When we install net-istio (and potentially other plugins) multiple validating webhooks are registered.

Unfortunately the webhooks are configured with just namespace selectors that are identical. Thus when `config-istio` is updated the serving webhook is invoked and vice-versa.

To avoid this we should use objectSelectors and uniquely label the configmaps.

[2022-02-04 02:22] #11078 closed

[2022-02-04 02:48] dprotaso commented on #12474
/triage accepted
/good-first-issue

I'm going to accept this issue - at a minimum we can update our rules to match what the webhook generates to avoid this diff.

But with the caveat end-users should handle merges.

[2022-02-04 03:40] hanwgyu commented on #12551
@dprotaso Thank you for the reply.

But I already knew about traffic rollouts, and asked if I could rollout the resources of each pod.
It would be nice if the replication of the previous revision decreased as the traffic decreased. That way we can save resources.

I understood that this was impossible due to the architecture of knative serving, but I was wondering if there is another way that I am

[2022-02-04 12:04] #12579 closed

[2022-02-04 19:30] psschwei commented on #10978
/assign

[2022-02-06 12:04] #12578 closed

[2022-02-07 01:06] jwcesign commented on #12593
What gateway u are using? istio?

[2022-02-07 01:12] SharpEdgeMarshall commented on #12593
Yes

[2022-02-07 10:53] skonto commented on #12527
/cc @nak3

[2022-02-07 12:04] knative-test-reporter-robot opened #12599 "[flaky] test/e2e.TestGRPCLoadBalancing"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestGRPCLoadBalancing
* **Repository name**: serving

[2022-02-07 14:53] nader-ziada commented on #12238
Fixed

[2022-02-07 14:54] #12238 closed

[2022-02-07 22:54] ZhiminXiang opened #12601 "DomainMapping does not work with Websocket"
## What version of Knative?
1.2
Probably earlier versions also have this issue

## Expected Behavior

When using DomainMapping with websocket app, the websocket should work.

## Actual Behavior

The websocket does not work with DomainMapping at least for Istio and Kourier.

## Steps to Reproduce the Problem
1. Install knative with Istio

2. Deploy a websocket ksvc
[code]
The websocket ksvc can ser

[2022-02-07 22:55] ZhiminXiang commented on #12601
For Istio specific, we can apply the following EnvoyFilter to make websocket work

[code]

[2022-02-08 07:05] Shashankft9 commented on #12571
I can see the following logs in kubelet:
[code]

[2022-02-09 10:53] skonto commented on #12571
@Shashankft9 it seems your are hitting this line:
https://github.com/knative/serving/blob/52f07b02254b42f18fa0f71dbb0462410a5bc7b1/vendor/knative.dev/pkg/network/handlers/drain.go#L102

[code]
Due to the user container restart queue proxy goes in draining mode, as described here:

https://github.com/knative/serving/blob/52f07b02254b42f18fa0f71dbb0462410a5bc7b1/vendor/knative.dev/pkg/network/handle

[2022-02-09 13:59] Shashankft9 commented on #12571
hey, thanks for digging in, just to be sure - are you suggesting that I should try changing the readiness failure threshold of the `queue-proxy` container? I can see what you are saying if so - basically since the 3 checks end before the draining period, `queue-proxy` keeps on giving `503` for the whole duration of those 3 checks, correct?

Another scenario I tested, might be relevant - this time

[2022-02-10 00:12] dprotaso commented on #9957
/unassign @mattmoor
/unassign @evankanderson

[2022-02-10 12:03] #12599 closed

[2022-02-10 16:39] evankanderson commented on #12091
/assign @dprotaso

[2022-02-10 19:28] prudhvinag06 opened #12611 "Knative timed out during "kn quickstart kind" command"
Other classifications:

-->

## Ask your question here:

![Screenshot from 2022-02-11 00-56-14](https://user-images.githubusercontent.com/88816987/153482035-4ad708bb-cdd9-4116-afdf-ea85341dc0fd.png)
here is the attached screenshot of the issue I am facing. It is displaying the error message "Timed out waiting for the condition on pods/activator-85bd4ddcbb-fhrwd"

OS : ubuntu 20.04

Any idea why th

[2022-02-10 19:48] prudhvinag06 commented on #12611
Hi @psschwei. Yes, I did check at that time. Here is the attached image. But don't know why it shows time out in the above screenshot.
![Screenshot from 2022-02-11 01-18-14](https://user-images.githubusercontent.com/88816987/153485208-8d9cf834-7ba5-4c63-88e2-34769052468b.png)

[2022-02-10 19:57] psschwei commented on #12611
quickstart only waits a certain amount of time (don't remember exactly how much offhand, but definitely less than 5 minutes) for everything to come ready before it shuts down. Based on that screenshot, the activator pod had some issues (21 restarts over 2 hours), so if you could `kubectl describe` the pod that would help further debug.

[2022-02-10 20:05] prudhvinag06 commented on #12611
Hi @psschwei. No resources found :(
![Screenshot from 2022-02-11 01-35-00](https://user-images.githubusercontent.com/88816987/153487860-408edb5d-d475-44c6-bbec-0336167cdba0.png)

[2022-02-10 20:13] psschwei commented on #12611
You need to use the `-n knative-serving` option

[2022-02-10 20:27] dprotaso commented on #12594
Just an FYI not all of serving's config maps have the same `component` value. So I would double check what's there

We can do an `matchExpression` over a set of them

[2022-02-10 23:42] skonto commented on #12571
@Shashankft9 I meant the user container let me explain though because eventually the issue is different. I debug the scenario
with the following settings (using your code):
[code]
Here is what happens after a while:
[code]

[pod descr](https://gist.github.com/skonto/c305fa96e20a9da7878bc546ebdd6718)
[code]

So if you check the link above, implementation makes sure readiness is set only to queue co

[2022-02-11 05:43] prudhvinag06 commented on #12611
My bad. Just copied the entire thing below here just for activator pod

Name:         activator-85bd4ddcbb-fhrwd
Namespace:    knative-serving
Priority:     0
Node:         knative-control-plane/172.18.0.2
Start Time:   Thu, 10 Feb 2022 10:53:51 +0530
Labels:       app=activator
              app.kubernetes.io/component=activator
              app.kubernetes.io/name=knative-serving
              a

[2022-02-11 11:28] skonto commented on #12024
/remove-lifecycle stale

[2022-02-11 15:19] psschwei commented on #12611
Hmmm... the lack of Events isn't good, but it's hard to say what's causing that without more info. Maybe try recreating the cluster (you should be able to run `kn quickstart kind` again, and choose to delete the previous cluster when prompted) and watch the knative pods to see what's happening?

[2022-02-11 17:32] IBMRob opened #12615 "Not possible to define livenessProbes or readinessProbes on multi-container"
## What version of Knative?

Red Hat OpenShift Serverless 1.20

## Expected Behavior

Be able to create a multi-container service which has probes on both the containers such.
Being unable to specify probes on the additional containers could result in the container returning ready when some of the containers are not fully started meaning requests would fail

## Actual Behavior

Unable to define se

[2022-02-11 18:23] dprotaso opened #12616 "[flaky] pkg/reconciler/autoscaling/kpa.TestReconcileDeciderCreatesAndDeletes"
This was in a GitHub action run
[code]

[2022-02-12 05:39] prudhvinag06 commented on #12611
![Screenshot from 2022-02-12 10-58-11](https://user-images.githubusercontent.com/88816987/153698176-2e972f46-bd86-4162-a420-20f2cc2f5460.png)

Hi, attaching the screenshot after running "kn quickstart kind". Only the activator pod is stuck in a waiting loop and it's getting timed out.

![Screenshot from 2022-02-12 11-08-49](https://user-images.githubusercontent.com/88816987/153698539-f3f38213-01b2

[2022-02-13 01:25] #12131 closed

[2022-02-13 13:35] julz commented on #10037
/unassign
/assign @psschwei

[2022-02-14 08:03] BobyMCbobs opened #12625 "Configure a default RuntimeClassName for Services"
## Describe the feature
Currently there is a feature gate for allowing setting of _RuntimeClassName_ in `Service.spec.template.spec`.
It would be handy to allow setting of _RuntimeClassName_ globally for all Knative Services.

A feature config could be available in cm/config-deployment_ or cm/config-defaults.

[2022-02-14 13:48] skonto commented on #12615
Hey @IBMRob related discussion on this long standing issue [here](https://github.com/knative/serving/issues/8949).
Some issues blocking this described [here](https://github.com/knative/serving/pull/11634#issuecomment-876713232).
@julz @dprotaso should we move forward with this? Do we have enough test coverage to start refactoring this part?

As a temporary workaround you could try use the readines

[2022-02-15 01:27] #10908 closed

[2022-02-15 01:27] #8684 closed

[2022-02-15 08:53] IBMRob commented on #12615
Hi @skonto - Yeah I am currently trying to update our ready checks in the primary container to also check the secondary container. Unfortunately run into another problem. Happy to close this pending the existing discussions.

[2022-02-16 02:14] dprotaso opened #12634 "RevisionSpec.Timeout has deviated from the original specification"
/area API

I dropped the ball regarding how we handled `RevisionSpec.Timeout` in the OSS implementation. We deviated from what was originally in the spec and opt'd to change the spec (https://github.com/knative/serving/pull/10806) rather than fix the behaviour.

We prioritized backwards compatibility over remaining conformant.

In hindsight this was a mistake since:
1) This led us to introduced a

[2022-02-16 02:14] dprotaso commented on #12634
/assign @dprotaso

[2022-02-16 15:05] hajowieland opened #12639 "Support for Pod Topology Spread Constraints"
## In what area(s)?
/area API

Other classifications:
/kind spec

## Describe the feature

Currently pod --> node scheduling configuration is supported with node affinity only.
Since K8s 1.19 we have [Pod Topology Spread Constraints](https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/) in Stable which we would like to use for more fine-grained control on how pods ge

[2022-02-16 18:12] evankanderson commented on #12634
It feels like "time to first response byte" is a valid but niche use case. Rather than introducing a flag to change the meaning of `timeoutSeconds`, have we considered introducing a `firstByteMaxTime` or the like?

Thinking about it, it seems like the main use case for `fBMT` is for server or bidirectional streaming scenarios, which are definitely not the default.

[2022-02-16 18:15] evankanderson commented on #12634
(I don't like `firstByteMaxTime` as a name, for the record.)

It still seems useful to be able to specify a first but and max stream duration at the Revision level, to enable safe lame-duck operation and bound times for proxy-level drain and restart without complicated TCP handoffs.

[2022-02-16 20:15] dprotaso commented on #12634
I had not. Though now I wonder if adding support for idleTimeout (https://github.com/knative/serving/issues/10852) would cover the niche case of first byte timeout

[2022-02-16 21:11] mhubig commented on #12032
I also stumbled upon this. I also found that the files `serving-post-install-jobs.yaml` and `serving-storage-version-migration.yaml` contains the same job ...

[2022-02-17 01:21] #11958 closed

[2022-02-17 01:58] mbrancato commented on #12032
/reopen

[2022-02-17 09:05] skonto commented on #12634
Should we capture this in a design doc and describe how previous cases can be handled with the "new" design?

[2022-02-17 14:57] ms1515 opened #12642 "Gitlab private registries not working with Knative v1.2"
Not able to fetch private images from gitlab on Knative v1.2. I can fetch private images from Docker with Knative v1.2, but not gitlab.

I can confirm that this is not a secrets issue, as I can pull images from Gitlab with my secret with earlier versions of Knative: v1.1.1, v1.1.0 etc.

## In what area(s)?

## What version of Knative?

## Expected Behavior

Knative v1.2 should pull images from pri

[2022-02-17 16:38] Analect commented on #12221
@Talha-Altair ... did you find a resolution to this? I'm experiencing the same problem when running on a kind cluster.

[2022-02-18 06:34] CodingYuanLiu opened #12646 "ImagePullBackOff when `ko apply -Rf config/core` locally"
Hello, when I tried use `ko apply -Rf config/core` to deploy knative serving, I can't pull images from ko.local.
## Expected Behavior
I can run activator, autoscaler... pods successfully on kubernetes
## Actual Behavior
These pods return Error: ImagePullBackOff
## Steps to Reproduce the Problem
1. Start a kind cluster by `kind create cluster`
2. Set env KO_DOCKER_REPO=ko.local, KIND_CLUSTER_NAME=$

[2022-02-18 08:27] CodingYuanLiu commented on #12646
My fault. KO_DOCKER_REPO should be `kind.local`, rather than ko.local. Problem solved

[2022-02-18 08:27] #12646 closed

[2022-02-18 12:03] knative-test-reporter-robot opened #12649 "[flaky] test/upgrade.TestServingUpgrades/DowngradeWith/ServingLatestRelease"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/upgrade.TestServingUpgrades/DowngradeWith/ServingLatestRelease
* **Repository name**: serving

[2022-02-18 23:18] mhubig commented on #12440
I‘m seeing the same behavior here on GKE Autopilot cluster. Would be very nice if this could be fixed and I‘m happy to provide every feedback needed! GKE Autopilot and Knative could be a very nice combination!

[2022-02-19 03:21] dprotaso commented on #12642
Confirmed the difference in behaviour. I think as a workaround for now you can use `registry.gitlab.com` as your docker server name - so drop the scheme.

[2022-02-20 12:04] knative-test-reporter-robot opened #12650 "[flaky] test/conformance/api/v1.TestAnnotationPropagation"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance/api/v1.TestAnnotationPropagation
* **Repository name**: serving

[2022-02-21 02:33] nak3 commented on #12296
/close

[istio.yaml](https://github.com/knative/net-istio/releases/download/v0.25.0/istio.yaml) is known that it is not recommended by Istio upstream and users may hit some problem due to an order of the deployments.

[2022-02-21 02:33] #12296 closed

[2022-02-21 14:00] skonto commented on #12440
@benmoss could you point me to the log?

Afaik the revision reconciler will try to keep replicas alligned with the revision definition. If autopilot intervenes by changing the deployment spec then you will get into a loop where Autopilot and Knative fight to update the deployment.

[2022-02-22 01:24] #12164 closed

[2022-02-22 23:47] ycd opened #12654 "Add support for disabling tag resolution in revisions"
## In what area(s)?

/area API
/kind spec

## Describe the feature

Currently when a new revision is applied, the controller component, queries the Docker Registry API, performs tag resolution for the given image tag and retrieves the sha256 hash of the image and uses `imageDigest`  instead of the tag and as a result we have a reproducible image deployment.

This is great for most cases, but what

[2022-02-23 01:51] dprotaso commented on #12654
Can you clarify what you mean? The activator component isn't responsible for any tag-to-digest resolution

[2022-02-23 11:21] rhuss commented on #12466
@QuickWorkDeveloper that is great news! Do you have some concrete examples that you could share? Adding this to the documentation would be great as this is a great workaround until we have better support for multi-tenancy.

[2022-02-23 11:24] ycd commented on #12654
Thank you for the response @dprotaso.

Yes. I am aware of that, that's why I mentioned this above.

--------

Sure thing. Once Knative does tag-to-digest resolution, in revision we have an immutable image reference.

Imagine I deploy a Knative service with the image `hello-go:latest`, it creates a new revision and in the created revision image becomes `hello-go@sha256:123456789abcdef`.

Then a new

[2022-02-23 15:30] #12654 closed

[2022-02-23 18:14] adrian-dinu opened #12661 "Reconcile error with x509: certificate signed by unknown authority"
## Ask your question here:

After an upgrade to knative 1.2 and kubernetes 1.22 I am having issues with the deployments. It seems the http work, but https doesn't, it yells an 404 error.

The controller is flooded with this error:

`{"severity":"ERROR","timestamp":"2022-02-23T18:07:26.194504679Z","logger":"controller","caller":"controller/controller.go:566","message":"Reconcile error","commit":"1d

[2022-02-24 15:12] dprotaso opened #12667 "tag to digest resolution always has a initial delay of 1 second"
## What version of Knative?

v1.0+

## Expected Behavior

Tag to digest resolution should start (in a reasonable amount of time) when items are added to an empty queue

## Actual Behavior

All our tag to digest resolutions incur an initial 1 second delay because of how our work queue is configured

https://github.com/knative/serving/blob/d846cbbf2c33180128e513194dd74dd072d6cc7f/pkg/reconciler/revi

[2022-02-25 00:28] dprotaso commented on #12667
Upstream fix: https://github.com/kubernetes/kubernetes/pull/108343

[2022-02-26 03:50] dprotaso commented on #12667
/assign @dprotaso

[2022-02-26 03:50] dprotaso commented on #12642
/assign @dprotaso

[2022-02-26 03:54] dprotaso opened #12676 "some 503s being caused by activator panic & container restart"
## What version of Knative?

1.2

## Crash

[code]

/assign @dprotaso

[2022-02-26 03:55] dprotaso commented on #12676
https://pkg.go.dev/k8s.io/client-go/tools/cache#DeletedFinalStateUnknown

[2022-02-26 12:11] knative-test-reporter-robot opened #12677 "[flaky] test/e2e.TestTargetBurstCapacity"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestTargetBurstCapacity
* **Repository name**: serving

[2022-02-27 01:26] #12099 closed, assigned to nobody

[2022-02-27 12:04] #12456 closed

[2022-02-27 12:04] knative-test-reporter-robot opened #12678 "[flaky] test/e2e.TestSubrouteLocalSTS/fqdn"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSubrouteLocalSTS/fqdn
* **Repository name**: serving

[2022-02-27 21:10] #12676 closed

[2022-02-28 12:07] #11846 closed

[2022-03-01 12:30] matzew opened #12686 "DomainMapper complains path on Adressable Knative Broker"
Following this guide:
https://knative.dev/docs/serving/services/custom-domains/

 
I set these values in the "network" ConfigMap:
[code]

So I created a `DomainMapping` for a Knative Broker:

[code]

But I am getting this:

[code]
 
The guide does mention:

IMO this error "contains a path" does break that

[2022-03-01 12:32] matzew commented on #12686
What eventually made it work is to point to the `Service` of the Knative Broker Ingress, like:

[code]

With this `DomainMapping`, I was able to curl the different brokers, based on their "path", like:

[code]

[2022-03-01 13:32] psschwei commented on #12611
You'll need to dig into why the activator pod isn't becoming ready (check logs, describe pod, etc.)

[2022-03-01 18:12] dprotaso commented on #12667
PR was closed upstream - we're holding client-go wrong

From: https://github.com/kubernetes/kubernetes/pull/108343#issuecomment-1050862713

So the assumption upstream is `AddRateLimited` is for failed resources and that's why there is an initial delay. We'll probably want to keep our custom rate limiter implementation given this

[2022-03-01 18:20] dprotaso commented on #12642
@ms1515 this should be fixed in the latest 1.2 patch release

thanks for the report!

[2022-03-01 18:20] #12642 closed

[2022-03-01 18:22] dprotaso commented on #12341
/good-first-issue

[2022-03-01 18:32] dprotaso commented on #12667
Going to close out this issue and make a new one for the code cleanup

[2022-03-01 18:32] #12667 closed

[2022-03-01 18:36] dprotaso opened #12688 "tag to digest - cleanup rate limiter fork"
I closed the K8s PR upstream since we're holding `client-go` wrong

From: https://github.com/kubernetes/kubernetes/pull/108343#issuecomment-1050862713

So the assumption upstream is `AddRateLimited` is for failed resources and that's why there is an initial delay. We'll probably want to keep our custom rate limiter implementation or tweak how we use the work-queue.

_Originally posted by @dprotaso

[2022-03-01 18:37] dprotaso commented on #12688
/triage accepted
/milestone Icebox

[2022-03-01 18:37] dprotaso commented on #12688
/good-first-issue

[2022-03-02 02:01] csantanapr commented on #12686
We use domain mapping in konk.dev and kn quickstart
https://github.com/csantanapr/knative-kind/blob/master/05-eventing-samples.sh

[2022-03-02 04:50] evankanderson commented on #12686
You're again referencing the Kubernetes Service.

KIngress doesn't currently support the ability to rewrite the request path (AFAIK), so the "supports Addressable" appears to be a bit broken. This should probably be fixed for GA one way or the other (either by removing the "general Addressable" support, or by supporting path mappings).

[2022-03-02 07:20] matzew commented on #12686
https://github.com/csantanapr/knative-kind/blob/master/05-eventing-samples.sh

yes, and simple things like that do work - just not broker (for the error stated in the `reason`).

[2022-03-02 07:22] matzew commented on #12686
yes, as a reasonable work-around I use the actual k8s Service. and do the `path` fiddling for the different brokers on my end. At least something.

yep, I agree - For the broker especially since they all (all implementations) do use the `path` strategy/approach, rather than behing an actual host (like with channels).

yeah. I'd second that statement too :smile:

[2022-03-02 07:48] norman465 commented on #12688
So this would mean looking at the adding of work items (tag to digest) here:
https://github.com/knative/serving/blob/43f84e85acfa5e0a48a2cbf223ed44cca5672f45/pkg/reconciler/revision/background.go#L197
And the custom rate limiter here:
https://github.com/knative/serving/blob/43f84e85acfa5e0a48a2cbf223ed44cca5672f45/pkg/reconciler/revision/controller.go#L120-L124

Am I missing something @dprotaso ?

[2022-03-03 01:27] #12206 closed

[2022-03-03 12:07] #12678 closed

[2022-03-03 20:07] evankanderson opened #12691 "Initial Revisions (at least) with crash-looping pods take a long time to terminate/clean up Pods"
## What version of Knative?

v1.0 at least

## Expected Behavior

When creating a Revision with a pod which exits immediately, the Revision should (fairly quickly) report that `Ready` is `False` *and terminate the Pods*.

## Actual Behavior

The pods stick around in `CrashLoopBackOff` for many restarts, and the Revision remains in "unknown" status for many minutes and eventually times out.

## Ste

[2022-03-03 20:10] evankanderson commented on #12691
(It seems to take about 10 minutes to fill in the `spec.Reachability` field, which I suspect is what is causing the scale back down to zero)

[2022-03-03 20:10] evankanderson commented on #12691
/good-first-issue

[2022-03-03 21:57] psschwei commented on #12691
Poked around at this a bit, using Serving 1.2. Here's what I saw:

It looks like the initial revision gets set to `Ready: False` pretty quickly (almost simultaneous with the second revision getting ready).

The long time to remove the pod comes from the default [`ProgressDeadline`](https://github.com/knative/serving/blob/8d8002664e7ed2504fa002a1e43f2d9078316a44/pkg/deployment/config.go#L43), which

[2022-03-04 01:28] #11712 closed

[2022-03-04 06:13] matzew commented on #12686
I'd think that allowing `path` mappings is a huge benefit, so I'd def. like to see that happening

[2022-03-04 10:54] skonto commented on #12069
/remove-lifecycle stale

[2022-03-04 15:36] evankanderson commented on #12691
I haven't tested, but I think this also happens when you deploy a crashing version after a successful version is installed.

I suspect that there is a special case here (since initialization is a bit of a special case already).

[2022-03-04 16:16] skonto commented on #12533
Maybe we could consider the K8s models as described [here](https://kubernetes.io/blog/2021/04/15/three-tenancy-models-for-kubernetes/) eg. in `namespaces as a service` a group of namespaces (one or more) are mapped to a tenant.  Also there are interesting projects we might want to consider such as [Hierarchical Namespaces](https://kubernetes.io/blog/2020/08/14/introducing-hierarchical-namespaces/)

[2022-03-04 17:45] dprotaso commented on #12688
So when I made the issue - I was thinking we could use `digestResolveQueue.Add` instead of `digestResolveQueue .AddRateLimited`. But I realize now that would bypass the `workqueue.BucketRateLimiter` and we don't want that.

So _we do need_ our fork. To shore it up and to close out this issue we should add some unit tests. And remove the comments that we're tracking the upstream PR

[2022-03-05 12:04] #12523 closed

[2022-03-05 12:04] #12524 closed

[2022-03-07 06:34] raghav23 commented on #11742
Any latest update on the same

[2022-03-07 06:35] raghav23 commented on #11742
knative supporting PVC and ETA for this feature availability.